version: 6.5.2

type: DeclarativeSource

description: Connector for hotel and flight data

check:
  type: CheckStream
  stream_names:
    - bookings

definitions:
  streams:
    bookings:
      type: DeclarativeStream
      name: bookings
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/bookings
          http_method: GET
          request_parameters:
            bookingType: FLIGHT
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
            page_size: 50
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: createdFrom
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: createdTo
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bookings"
  base_requester:
    type: HttpRequester
    url_base: https://api.navan.com
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: client_credentials
      client_secret: "{{ config[\"client_secret\"] }}"
      expires_in_name: expires_in
      access_token_name: access_token
      token_refresh_endpoint: https://api.navan.com/ta-auth/oauth/token
      refresh_request_body: {}

streams:
  - $ref: "#/definitions/streams/bookings"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - start_date
    properties:
      client_id:
        type: string
        name: client_id
        title: OAuth Client ID
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        name: client_secret
        title: OAuth Client Secret
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    bookings: true
  testedStreams:
    bookings:
      streamHash: 2fb7b082e892f0b73646c417bdca3537e411801f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://app.navan.com/open-api/trips/swagger-ui/index.html

schemas:
  bookings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      airlineCreditCardSurcharge:
        type:
          - number
          - "null"
      approvalStatus:
        type:
          - string
          - "null"
      approverEmail:
        type:
          - string
          - "null"
      approverReason:
        type:
          - string
          - "null"
      basePrice:
        type:
          - number
          - "null"
      billableEntities:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      booker:
        type:
          - object
          - "null"
        properties:
          costCenter:
            type:
              - string
              - "null"
          department:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          managerUuid:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          region:
            type:
              - string
              - "null"
          subsidiary:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      bookingDuration:
        type:
          - number
          - "null"
      bookingFee:
        type:
          - number
          - "null"
      bookingId:
        type:
          - string
          - "null"
      bookingMethod:
        type:
          - string
          - "null"
      bookingStatus:
        type:
          - string
          - "null"
      bookingType:
        type:
          - string
          - "null"
      cabin:
        type:
          - string
          - "null"
      cabinPurchased:
        type:
          - string
          - "null"
      cancellationReason:
        type:
          - string
          - "null"
      cancelledAt:
        type:
          - string
          - "null"
      carbonEmissions:
        type:
          - number
          - "null"
      carbonOffsetCost:
        type:
          - number
          - "null"
      cnr:
        type:
          - object
          - "null"
        properties: {}
      companyOffice:
        type:
          - string
          - "null"
      companyPaymentMethod:
        type:
          - string
          - "null"
      confirmationNumber:
        type:
          - string
          - "null"
      corporateDiscountUsed:
        type:
          - string
          - "null"
      costCenters:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created:
        type:
          - string
          - "null"
      credit:
        type:
          - object
          - "null"
        properties:
          creditAvailable:
            type:
              - number
              - "null"
          creditAvailableUsd:
            type:
              - number
              - "null"
          creditExchangeFeeUsd:
            type:
              - number
              - "null"
          creditUsed:
            type:
              - number
              - "null"
          creditUsedUsd:
            type:
              - number
              - "null"
          residualCredit:
            type:
              - number
              - "null"
      currency:
        type:
          - string
          - "null"
      currencyExhangeRateFromUsd:
        type:
          - number
          - "null"
      customFields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      departments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      destination:
        type:
          - object
          - "null"
        properties:
          airportCode:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
      domestic:
        type:
          - string
          - "null"
      endDate:
        type:
          - string
          - "null"
      etickets:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      exchangeAmount:
        type:
          - number
          - "null"
      exchangeFee:
        type:
          - number
          - "null"
      expensed:
        type:
          - boolean
          - "null"
      extrasFees:
        type:
          - number
          - "null"
      fareBasisCode:
        type:
          - string
          - "null"
      fareClass:
        type:
          - string
          - "null"
      flight:
        type:
          - string
          - "null"
      flightMiles:
        type:
          - number
          - "null"
      grandTotal:
        type:
          - number
          - "null"
      gst:
        type:
          - number
          - "null"
      handlingFees:
        type:
          - number
          - "null"
      hst:
        type:
          - number
          - "null"
      inventory:
        type:
          - string
          - "null"
      inventorySource:
        type:
          - string
          - "null"
      invoice:
        type:
          - string
          - "null"
      invoiceCollectionFees:
        type:
          - number
          - "null"
      invoiceNumber:
        type:
          - string
          - "null"
      lastModified:
        type: string
      leadTimeInDays:
        type:
          - number
          - "null"
      loggedAsUserName:
        type:
          - string
          - "null"
      maxCancellationLoss:
        type:
          - number
          - "null"
      maxPricePolicy:
        type:
          - number
          - "null"
      nameOnCreditCard:
        type:
          - string
          - "null"
      navanPro:
        type:
          - boolean
          - "null"
      netCharge:
        type:
          - number
          - "null"
      numberOfPassengers:
        type:
          - number
          - "null"
      optimalPrice:
        type:
          - number
          - "null"
      origin:
        type:
          - object
          - "null"
        properties:
          airportCode:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
      outOfPolicy:
        type:
          - boolean
          - "null"
      outOfPolicyDescription:
        type:
          - string
          - "null"
      outOfPolicyViolationTypes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      outOfPolicyViolations:
        type:
          - string
          - "null"
      passengers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            person:
              type:
                - object
                - "null"
              properties:
                billableEntity:
                  type:
                    - string
                    - "null"
                costCenter:
                  type:
                    - string
                    - "null"
                department:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                managerEmail:
                  type:
                    - string
                    - "null"
                managerName:
                  type:
                    - string
                    - "null"
                managerUuid:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                passport:
                  type:
                    - object
                    - "null"
                  properties:
                    countryOfCitizenship:
                      type:
                        - string
                        - "null"
                    countryOfIssue:
                      type:
                        - string
                        - "null"
                    expiresOn:
                      type:
                        - string
                        - "null"
                    issuedOn:
                      type:
                        - string
                        - "null"
                region:
                  type:
                    - string
                    - "null"
                subsidiary:
                  type:
                    - string
                    - "null"
                uuid:
                  type:
                    - string
                    - "null"
            status:
              type:
                - string
                - "null"
            travelerType:
              type:
                - string
                - "null"
      paymentCreditCardTypeName:
        type:
          - string
          - "null"
      paymentMethod:
        type:
          - string
          - "null"
      paymentMethodUsed:
        type:
          - string
          - "null"
      paymentSchedule:
        type:
          - string
          - "null"
      pcc:
        type:
          - string
          - "null"
      pdf:
        type:
          - string
          - "null"
      policyLevel:
        type:
          - string
          - "null"
      ppbPointsBurned:
        type:
          - number
          - "null"
      preferredVendor:
        type:
          - string
          - "null"
      purpose:
        type:
          - string
          - "null"
      qst:
        type:
          - number
          - "null"
      reason:
        type:
          - string
          - "null"
      regions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      reshopping:
        type:
          - object
          - "null"
        properties:
          reshoppingIsRebooked:
            type:
              - boolean
              - "null"
          reshoppingNewPrice:
            type:
              - number
              - "null"
          reshoppingOriginalPrice:
            type:
              - number
              - "null"
      resortFee:
        type:
          - number
          - "null"
      routeType:
        type:
          - string
          - "null"
      saving:
        type:
          - number
          - "null"
      savingMissed:
        type:
          - number
          - "null"
      seats:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      seatsFee:
        type:
          - number
          - "null"
      segments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            airlineAlliance:
              type:
                - string
                - "null"
            arrival:
              type:
                - object
                - "null"
              properties:
                address:
                  type:
                    - string
                    - "null"
                airportCode:
                  type:
                    - string
                    - "null"
                city:
                  type:
                    - string
                    - "null"
                country:
                  type:
                    - string
                    - "null"
                state:
                  type:
                    - string
                    - "null"
            cabin:
              type:
                - string
                - "null"
            cabinPurchased:
              type:
                - string
                - "null"
            departure:
              type:
                - object
                - "null"
              properties:
                address:
                  type:
                    - string
                    - "null"
                airportCode:
                  type:
                    - string
                    - "null"
                city:
                  type:
                    - string
                    - "null"
                country:
                  type:
                    - string
                    - "null"
                state:
                  type:
                    - string
                    - "null"
            endLocalDateTime:
              type:
                - string
                - "null"
            endTimestamp:
              type:
                - number
                - "null"
            fareClass:
              type:
                - string
                - "null"
            flightNumber:
              type:
                - string
                - "null"
            providerCode:
              type:
                - string
                - "null"
            providerName:
              type:
                - string
                - "null"
            startLocalDateTime:
              type:
                - string
                - "null"
            startTimestamp:
              type:
                - number
                - "null"
      startDate:
        type:
          - string
          - "null"
      subsidiaries:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      tax:
        type:
          - number
          - "null"
      trainMiles:
        type:
          - number
          - "null"
      transactionFees:
        type:
          - number
          - "null"
      travelAgentRequestFee:
        type:
          - number
          - "null"
      travelSpend:
        type:
          - number
          - "null"
      tripBucksEarned:
        type:
          - number
          - "null"
      tripBucksEarnedUsd:
        type:
          - number
          - "null"
      tripDescription:
        type:
          - string
          - "null"
      tripFee:
        type:
          - number
          - "null"
      tripLength:
        type:
          - string
          - "null"
      tripName:
        type:
          - string
          - "null"
      tripUuids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      unitaryPrice:
        type:
          - number
          - "null"
      usdGrandTotal:
        type:
          - number
          - "null"
      uuid:
        type: string
      vat:
        type:
          - number
          - "null"
      vendor:
        type:
          - string
          - "null"
      vipFee:
        type:
          - number
          - "null"
    required:
      - uuid
      - lastModified
