version: 4.5.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - tasks
    - projects

definitions:
  streams:
    tasks:
      type: DeclarativeStream
      name: tasks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
  base_requester:
    type: HttpRequester
    url_base: https://api.todoist.com/api/v1
    authenticator:
      type: BearerAuthenticator
      api_token: '{{ config["token"] }}'
  base_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: cursor
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: CursorPagination
      page_size: 200
      cursor_value: "{{ response.get('next_cursor') }}"
      stop_condition: "{{ response.get('next_cursor') is none }}"

streams:
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/projects"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - token
    properties:
      token:
        type: string
        description: API authorization bearer token for authenticating the API
        airbyte_secret: true
        order: 0
    additionalProperties: true

schemas:
  tasks:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
        description: The unique identifier of the task
      user_id:
        type:
          - "null"
          - string
        description: The unique identifier of the user who owns the task
      project_id:
        type:
          - "null"
          - string
        description: The unique identifier of the project to which the task belongs
      section_id:
        type:
          - "null"
          - string
        description: >-
          The unique identifier of the section within a project where the task
          is located
      parent_id:
        type:
          - "null"
          - string
        description: The unique identifier of the parent task if this task is subtask
      added_by_uid:
        type:
          - "null"
          - string
        description: The unique identifier of the user who created the task
      assigned_by_uid:
        type:
          - "null"
          - string
        description: The unique identifier of the user who assigned the task
      responsible_uid:
        type:
          - "null"
          - string
        description: The unique identifier of the user responsible for the task
      labels:
        type:
          - "null"
          - array
        description: List of labels associated with the task
        items:
          type:
            - "null"
            - string
      deadline:
        type:
          - "null"
          - object
        description: The deadline of the task
        additionalProperties: true
        properties:
          date:
            type:
              - "null"
              - string
          lang:
            type:
              - "null"
              - string
      duration:
        type:
          - "null"
          - object
        description: The estimated duration or time required to complete the task
        additionalProperties: true
        properties:
          amount:
            type:
              - "null"
              - integer
          unit:
            type:
              - "null"
              - string
      checked:
        type:
          - "null"
          - boolean
        description: Indicates whether the task is completed or not (true/false)
      is_deleted:
        type:
          - "null"
          - boolean
        description: Indicates whether the task is deleted
      is_collapsed:
        type:
          - "null"
          - boolean
        description: Indicates whether the task's subtasks are collapsed
      added_at:
        type:
          - "null"
          - string
        format: date-time
        description: The date and time when the task was created
      completed_at:
        type:
          - "null"
          - string
        format: date-time
        description: The date and time when the task was completed
      completed_by_uid:
        type:
          - "null"
          - string
        description: The unique identifier of the user who completed the task
      updated_at:
        type:
          - "null"
          - string
        format: date-time
        description: The date and time when the task was last updated
      due:
        type:
          - "null"
          - object
        description: The due date and time of the task
        additionalProperties: true
        properties:
          date:
            type:
              - "null"
              - string
          timezone:
            type:
              - "null"
              - string
          is_recurring:
            type:
              - "null"
              - boolean
          lang:
            type:
              - "null"
              - string
          string:
            type:
              - "null"
              - string
      priority:
        type:
          - "null"
          - integer
        description: The priority level of the task (1 normal to 4 urgent)
      child_order:
        type:
          - "null"
          - integer
        description: The position or order of the task within a project or section
      order_key:
        type:
          - "null"
          - string
        description: Opaque ordering key of the task
      content:
        type:
          - "null"
          - string
        description: The title or description of the task
      description:
        type:
          - "null"
          - string
        description: Additional details or notes about the task
      note_count:
        type:
          - "null"
          - integer
        description: The count of comments on the task
      day_order:
        type:
          - "null"
          - integer
        description: The order of the task inside the Today or Next 7 days view
      completed_count:
        type:
          - "null"
          - integer
        description: The number of times the task has been completed
      postponed_count:
        type:
          - "null"
          - integer
        description: The number of times the task has been postponed
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
        description: The unique identifier for the project.
      name:
        type:
          - "null"
          - string
        description: The name or title of the project.
      description:
        type:
          - "null"
          - string
        description: The description of the project.
      color:
        type:
          - "null"
          - string
        description: The color associated with the project.
      parent_id:
        type:
          - "null"
          - string
        description: The ID of the parent project if this is a subproject.
      child_order:
        type:
          - "null"
          - integer
        description: The order or priority of the project in the list.
      order_key:
        type:
          - "null"
          - string
        description: Opaque ordering key of the project.
      is_collapsed:
        type:
          - "null"
          - boolean
        description: Indicates if the project's sub-projects are collapsed.
      is_favorite:
        type:
          - "null"
          - boolean
        description: Indicates if the project is marked as favorite.
      is_shared:
        type:
          - "null"
          - boolean
        description: Indicates if the project is shared with others.
      is_archived:
        type:
          - "null"
          - boolean
        description: Indicates if the project is archived.
      is_deleted:
        type:
          - "null"
          - boolean
        description: Indicates if the project is deleted.
      is_frozen:
        type:
          - "null"
          - boolean
        description: Indicates if the project is frozen (read-only).
      inbox_project:
        type:
          - "null"
          - boolean
        description: Specifies if the project is the inbox project.
      can_assign_tasks:
        type:
          - "null"
          - boolean
        description: Indicates if tasks can be assigned in the project.
      can_comment:
        type:
          - "null"
          - boolean
        description: Indicates if the user can comment in the project.
      creator_uid:
        type:
          - "null"
          - string
        description: The unique identifier of the user who created the project.
      created_at:
        type:
          - "null"
          - string
        format: date-time
        description: The date and time when the project was created.
      updated_at:
        type:
          - "null"
          - string
        format: date-time
        description: The date and time when the project was last updated.
      view_style:
        type:
          - "null"
          - string
        description: The style or layout for viewing the project.
      default_order:
        type:
          - "null"
          - integer
        description: The default ordering of tasks in the project.
      default_order_key:
        type:
          - "null"
          - string
        description: Opaque default ordering key of the project.
      public_key:
        type:
          - "null"
          - string
        description: The public key of the project.
      access:
        type:
          - "null"
          - object
        description: Access settings of the project.
        additionalProperties: true
      role:
        type:
          - "null"
          - string
        description: The role of the current user in the project.
      workspace_id:
        type:
          - "null"
          - string
        description: The ID of the workspace the project belongs to (workspace projects only).
      folder_id:
        type:
          - "null"
          - string
        description: The ID of the folder the project belongs to (workspace projects only).
      status:
        type:
          - "null"
          - string
        description: The status of the project (workspace projects only).
      collaborator_role_default:
        type:
          - "null"
          - string
        description: Default role of collaborators (workspace projects only).
      is_invite_only:
        type:
          - "null"
          - boolean
        description: Indicates if the project is invite only (workspace projects only).
      is_link_sharing_enabled:
        type:
          - "null"
          - boolean
        description: Indicates if link sharing is enabled (workspace projects only).
      is_pending_default_collaborator_invites:
        type:
          - "null"
          - boolean
        description: Indicates if default collaborator invites are pending (workspace projects only).
      is_project_insights_enabled:
        type:
          - "null"
          - boolean
        description: Indicates if project insights are enabled (workspace projects only).
