version: 6.33.4

type: DeclarativeSource

description: >
  This page contains the setup guide and reference information for Shipstation
  source connector.


  Documentation reference:

  Visit https://www.shipstation.com/docs/api/ for API documentation


  Authentication setup to get your API key and secret in ShipStation: 1. Go to
  Account Settings. 2. Select Account from the side navigation, then choose API
  Settings. 3. Click "Generate New API Keys" if no key and secret are listed
  yet.


  ** IMPORTANT ** If you've already generated your API keys, the existing API
  keys will be displayed here and the button will read Regenerate API Keys.

  If you already have API keys, do NOT generate new ones. Instead, copy your
  existing key and secret.


  Copy your key and secret and paste them into the respective fields.

check:
  type: CheckStream
  stream_names:
    - carriers

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
          request_parameters:
            showInactive: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - userId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    orders:
      type: DeclarativeStream
      name: orders
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: orders
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
          request_parameters:
            sortBy: ModifyDate
            sortDir: ASC
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - orders
      primary_key:
        - orderId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modifyDate
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f0"
        lookback_window: PT6H
        start_time_option:
          type: RequestOption
          field_name: modifyDateStart
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f0"
    stores:
      type: DeclarativeStream
      name: stores
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: stores
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
          request_parameters:
            showInactive: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - storeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stores"
    carriers:
      type: DeclarativeStream
      name: carriers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: carriers
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - shippingProviderId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carriers"
    products:
      type: DeclarativeStream
      name: products
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: products
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
          request_parameters:
            sortBy: CreateDate
            sortDir: ASC
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
      primary_key:
        - productId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    webhooks:
      type: DeclarativeStream
      name: webhooks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: webhooks
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - webhooks
      primary_key:
        - WebHookID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhooks"
    customers:
      type: DeclarativeStream
      name: customers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: customers
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
          request_parameters:
            sortBy: CreateDate
            sortDir: ASC
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - customers
      primary_key:
        - customerId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    shipments:
      type: DeclarativeStream
      name: shipments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: shipments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
          request_parameters:
            sortBy: CreateDate
            sortDir: ASC
            includeShipmentItems: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - shipments
      primary_key:
        - shipmentId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipments"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createDate
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f0"
        lookback_window: PT6H
        start_time_option:
          type: RequestOption
          field_name: createDateStart
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f0"
    warehouses:
      type: DeclarativeStream
      name: warehouses
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: warehouses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - warehouseId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/warehouses"
    fulfillments:
      type: DeclarativeStream
      name: fulfillments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: fulfillments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
          request_parameters:
            sortBy: CreateDate
            sortDir: ASC
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - fulfillments
      primary_key:
        - fulfillmentId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fulfillments"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createDate
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f0"
        lookback_window: PT6H
        start_time_option:
          type: RequestOption
          field_name: createDateStart
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f0"
    marketplaces:
      type: DeclarativeStream
      name: marketplaces
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: stores/marketplaces
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: X-Rate-Limit-Reset
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - name
        - marketplaceId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/marketplaces"
  base_requester:
    type: HttpRequester
    url_base: https://ssapi.shipstation.com/
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/carriers"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/fulfillments"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/shipments"
  - $ref: "#/definitions/streams/marketplaces"
  - $ref: "#/definitions/streams/stores"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/warehouses"
  - $ref: "#/definitions/streams/webhooks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - start_date
    properties:
      password:
        type: string
        order: 1
        title: API Secret
        always_show: true
        airbyte_secret: true
      username:
        type: string
        order: 0
        title: API Key
      start_date:
        type: string
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    users:
      hasRecords: true
      streamHash: b75954dd09746a00462bcca1681247be67b629b1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    orders:
      hasRecords: true
      streamHash: 779863d243912436fc91d00c10d73515b10a4c04
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stores:
      hasRecords: true
      streamHash: aa10efd59d28a0cd50bdc22e18be9dba458fcd6b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    carriers:
      hasRecords: true
      streamHash: be6881466bb754c5f6621be3a6306b003f0a1126
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: 207832c3ee203757005d808a810dbd255b452524
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    webhooks:
      hasRecords: true
      streamHash: 3efcf73498c5b57812f9492cdafbbf5334a8b67e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customers:
      hasRecords: true
      streamHash: 3a71f1ee22fa339d523546b8a164e54a489f846d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    shipments:
      hasRecords: true
      streamHash: c35c0bc5f44c382232658597a289db272b2e872d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    warehouses:
      hasRecords: true
      streamHash: d0f0fec91ccb3c4214207779068160fb6285d67f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    fulfillments:
      hasRecords: true
      streamHash: 1299dbc0917ca11d9400dda73ad27c006add10f1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    marketplaces:
      hasRecords: true
      streamHash: d72e0c9db9ffc1ac6bf17860a840e37cfbfa17ac
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    users: true
    orders: true
    stores: true
    carriers: true
    products: true
    webhooks: true
    customers: true
    shipments: true
    warehouses: true
    fulfillments: true
    marketplaces: true

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - userId
    properties:
      name:
        type:
          - string
          - "null"
      userId:
        type: string
      userName:
        type:
          - string
          - "null"
    additionalProperties: true
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - orderId
      - modifyDate
    properties:
      gift:
        type:
          - boolean
          - "null"
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            sku:
              type:
                - string
                - "null"
            upc:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            weight:
              type:
                - object
                - "null"
              properties:
                units:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
                WeightUnits:
                  type:
                    - number
                    - "null"
            options:
              type:
                - array
                - "null"
            imageUrl:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            productId:
              type:
                - number
                - "null"
            unitPrice:
              type:
                - number
                - "null"
            adjustment:
              type:
                - boolean
                - "null"
            createDate:
              type:
                - string
                - "null"
            modifyDate:
              type:
                - string
                - "null"
            orderItemId:
              type:
                - number
                - "null"
            fulfillmentSku:
              type:
                - string
                - "null"
            warehouseLocation:
              type:
                - string
                - "null"
      billTo:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
      shipTo:
        type:
          - object
          - "null"
        properties:
          city:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          street3:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
          residential:
            type:
              - boolean
              - "null"
          addressVerified:
            type:
              - string
              - "null"
      tagIds:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      weight:
        type:
          - object
          - "null"
        properties:
          units:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
          WeightUnits:
            type:
              - number
              - "null"
      orderId:
        type: number
      orderKey:
        type:
          - string
          - "null"
      shipDate:
        type:
          - string
          - "null"
      orderDate:
        type:
          - string
          - "null"
      taxAmount:
        type:
          - number
          - "null"
      amountPaid:
        type:
          - number
          - "null"
      createDate:
        type:
          - string
          - "null"
      customerId:
        type:
          - number
          - "null"
      dimensions:
        type:
          - object
          - "null"
        properties:
          units:
            type:
              - string
              - "null"
          width:
            type:
              - number
              - "null"
          height:
            type:
              - number
              - "null"
          length:
            type:
              - number
              - "null"
      modifyDate:
        type: string
      orderTotal:
        type:
          - number
          - "null"
      carrierCode:
        type:
          - string
          - "null"
      giftMessage:
        type:
          - string
          - "null"
      orderNumber:
        type:
          - string
          - "null"
      orderStatus:
        type:
          - string
          - "null"
      packageCode:
        type:
          - string
          - "null"
      paymentDate:
        type:
          - string
          - "null"
      serviceCode:
        type:
          - string
          - "null"
      confirmation:
        type:
          - string
          - "null"
      customerEmail:
        type:
          - string
          - "null"
      customerNotes:
        type:
          - string
          - "null"
      holdUntilDate:
        type:
          - string
          - "null"
      internalNotes:
        type:
          - string
          - "null"
      shippingAmount:
        type:
          - number
          - "null"
      advancedOptions:
        type:
          - object
          - "null"
        properties:
          storeId:
            type:
              - number
              - "null"
          mergedIds:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          billToParty:
            type:
              - string
              - "null"
          warehouseId:
            type:
              - number
              - "null"
          customField1:
            type:
              - string
              - "null"
          customField2:
            type:
              - string
              - "null"
          mergedOrSplit:
            type:
              - boolean
              - "null"
          nonMachinable:
            type:
              - boolean
              - "null"
          containsAlcohol:
            type:
              - boolean
              - "null"
          saturdayDelivery:
            type:
              - boolean
              - "null"
          billToCountryCode:
            type:
              - string
              - "null"
      customerUsername:
        type:
          - string
          - "null"
      insuranceOptions:
        type:
          - object
          - "null"
        properties:
          provider:
            type:
              - string
              - "null"
          insuredValue:
            type:
              - number
              - "null"
          insureShipment:
            type:
              - boolean
              - "null"
      externallyFulfilled:
        type:
          - boolean
          - "null"
      internationalOptions:
        type:
          - object
          - "null"
        properties:
          contents:
            type:
              - string
              - "null"
          nonDelivery:
            type:
              - string
              - "null"
          customsItems:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
                quantity:
                  type:
                    - number
                    - "null"
                customsItemId:
                  type:
                    - number
                    - "null"
                countryOfOrigin:
                  type:
                    - string
                    - "null"
                harmonizedTariffCode:
                  type:
                    - string
                    - "null"
      externallyFulfilledBy:
        type:
          - string
          - "null"
      requestedShippingService:
        type:
          - string
          - "null"
    additionalProperties: true
  stores:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - storeId
    properties:
      phone:
        type:
          - string
          - "null"
      active:
        type:
          - boolean
          - "null"
      storeId:
        type: number
      website:
        type:
          - string
          - "null"
      storeName:
        type:
          - string
          - "null"
      createDate:
        type:
          - string
          - "null"
      modifyDate:
        type:
          - string
          - "null"
      accountName:
        type:
          - string
          - "null"
      autoRefresh:
        type:
          - boolean
          - "null"
      companyName:
        type:
          - string
          - "null"
      publicEmail:
        type:
          - string
          - "null"
      refreshDate:
        type:
          - string
          - "null"
      marketplaceId:
        type:
          - number
          - "null"
      integrationUrl:
        type:
          - string
          - "null"
      statusMappings:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            statusKey:
              type:
                - string
                - "null"
            orderStatus:
              type:
                - string
                - "null"
      marketplaceName:
        type:
          - string
          - "null"
      lastRefreshAttempt:
        type:
          - string
          - "null"
    additionalProperties: true
  carriers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - shippingProviderId
    properties:
      code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      balance:
        type:
          - number
          - "null"
      primary:
        type:
          - boolean
          - "null"
      nickname:
        type:
          - string
          - "null"
      accountNumber:
        type:
          - string
          - "null"
      shippingProviderId:
        type: number
      requiresFundedAccount:
        type:
          - boolean
          - "null"
    additionalProperties: true
  products:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - productId
    properties:
      sku:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      price:
        type:
          - number
          - "null"
      active:
        type:
          - boolean
          - "null"
      productId:
        type: number
      createDate:
        type:
          - string
          - "null"
    additionalProperties: true
  webhooks:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - WebHookID
    properties:
      Url:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      Active:
        type:
          - boolean
          - "null"
      HookType:
        type:
          - string
          - "null"
      SellerID:
        type:
          - number
          - "null"
      WebHookID:
        type: number
      WebhookLogs:
        type:
          - array
          - "null"
      MessageFormat:
        type:
          - string
          - "null"
      IsLabelAPIHook:
        type:
          - boolean
          - "null"
    additionalProperties: true
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - customerId
    properties:
      city:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      company:
        type:
          - string
          - "null"
      street1:
        type:
          - string
          - "null"
      street2:
        type:
          - string
          - "null"
      createDate:
        type:
          - string
          - "null"
      customerId:
        type: number
      modifyDate:
        type:
          - string
          - "null"
      postalCode:
        type:
          - string
          - "null"
      countryCode:
        type:
          - string
          - "null"
      addressVerified:
        type:
          - string
          - "null"
      marketplaceUsernames:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            username:
              type:
                - string
                - "null"
            createDate:
              type:
                - string
                - "null"
            customerId:
              type:
                - number
                - "null"
            modifyDate:
              type:
                - string
                - "null"
            marketplace:
              type:
                - string
                - "null"
            marketplaceId:
              type:
                - number
                - "null"
            customerUserId:
              type:
                - number
                - "null"
    additionalProperties: true
  shipments:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - shipmentId
      - createDate
    properties:
      shipTo:
        type:
          - object
          - "null"
        properties:
          city:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
      userId:
        type:
          - string
          - "null"
      voided:
        type:
          - boolean
          - "null"
      weight:
        type:
          - object
          - "null"
        properties:
          units:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
          WeightUnits:
            type:
              - number
              - "null"
      orderId:
        type:
          - number
          - "null"
      orderKey:
        type:
          - string
          - "null"
      shipDate:
        type:
          - string
          - "null"
      voidDate:
        type:
          - string
          - "null"
      createDate:
        type: string
      dimensions:
        type:
          - object
          - "null"
        properties:
          units:
            type:
              - string
              - "null"
          width:
            type:
              - number
              - "null"
          height:
            type:
              - number
              - "null"
          length:
            type:
              - number
              - "null"
      shipmentId:
        type: number
      batchNumber:
        type:
          - string
          - "null"
      carrierCode:
        type:
          - string
          - "null"
      orderNumber:
        type:
          - string
          - "null"
      packageCode:
        type:
          - string
          - "null"
      serviceCode:
        type:
          - string
          - "null"
      warehouseId:
        type:
          - number
          - "null"
      confirmation:
        type:
          - string
          - "null"
      shipmentCost:
        type:
          - number
          - "null"
      customerEmail:
        type:
          - string
          - "null"
      insuranceCost:
        type:
          - number
          - "null"
      isReturnLabel:
        type:
          - boolean
          - "null"
      shipmentItems:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            sku:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            weight:
              type:
                - object
                - "null"
              properties:
                units:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
                WeightUnits:
                  type:
                    - number
                    - "null"
            options:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
            imageUrl:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            productId:
              type:
                - number
                - "null"
            taxAmount:
              type:
                - number
                - "null"
            unitPrice:
              type:
                - number
                - "null"
            adjustment:
              type:
                - boolean
                - "null"
            createDate:
              type:
                - string
                - "null"
            modifyDate:
              type:
                - string
                - "null"
            lineItemKey:
              type:
                - string
                - "null"
            orderItemId:
              type:
                - number
                - "null"
            shippingAmount:
              type:
                - number
                - "null"
            warehouseLocation:
              type:
                - string
                - "null"
      trackingNumber:
        type:
          - string
          - "null"
      advancedOptions:
        type:
          - object
          - "null"
        properties:
          storeId:
            type:
              - number
              - "null"
          billToCountryCode:
            type:
              - string
              - "null"
      insuranceOptions:
        type:
          - object
          - "null"
        properties:
          provider:
            type:
              - string
              - "null"
          insuredValue:
            type:
              - number
              - "null"
          insureShipment:
            type:
              - boolean
              - "null"
      notifyErrorMessage:
        type:
          - string
          - "null"
      marketplaceNotified:
        type:
          - boolean
          - "null"
    additionalProperties: true
  warehouses:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - warehouseId
    properties:
      isDefault:
        type:
          - boolean
          - "null"
      createDate:
        type:
          - string
          - "null"
      warehouseId:
        type: number
      originAddress:
        type:
          - object
          - "null"
        properties:
          city:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          street3:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
          residential:
            type:
              - boolean
              - "null"
      returnAddress:
        type:
          - object
          - "null"
        properties:
          city:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          street3:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
      warehouseName:
        type:
          - string
          - "null"
    additionalProperties: true
  fulfillments:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - fulfillmentId
      - createDate
    properties:
      shipTo:
        type:
          - object
          - "null"
        properties:
          city:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
      userId:
        type:
          - string
          - "null"
      voided:
        type:
          - boolean
          - "null"
      orderId:
        type:
          - number
          - "null"
      shipDate:
        type:
          - string
          - "null"
      voidDate:
        type:
          - string
          - "null"
      createDate:
        type: string
      carrierCode:
        type:
          - string
          - "null"
      orderNumber:
        type:
          - string
          - "null"
      deliveryDate:
        type:
          - string
          - "null"
      customerEmail:
        type:
          - string
          - "null"
      fulfillmentId:
        type: number
      voidRequested:
        type:
          - boolean
          - "null"
      fulfillmentFee:
        type:
          - number
          - "null"
      trackingNumber:
        type:
          - string
          - "null"
      marketplaceNotified:
        type:
          - boolean
          - "null"
      fulfillmentServiceCode:
        type:
          - string
          - "null"
      fulfillmentProviderCode:
        type:
          - string
          - "null"
    additionalProperties: true
  marketplaces:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - name
      - marketplaceId
    properties:
      name:
        type: string
      canRefresh:
        type:
          - boolean
          - "null"
      marketplaceId:
        type: number
      canConfirmShipments:
        type:
          - boolean
          - "null"
      supportsCustomMappings:
        type:
          - boolean
          - "null"
      supportsCustomStatuses:
        type:
          - boolean
          - "null"
    additionalProperties: true
