version: 6.41.5

type: DeclarativeSource

description: |-
  Website: https://broker-app.alpaca.markets/dashboard
  API reference: https://docs.alpaca.markets/reference/getallaccounts

check:
  type: CheckStream
  stream_names:
    - assets

definitions:
  streams:
    assets:
      type: DeclarativeStream
      name: assets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/assets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/assets"
    accounts_activities:
      type: DeclarativeStream
      name: accounts_activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/accounts/activities
          http_method: GET
          request_parameters:
            page_size: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page_token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['id'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: after
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts_activities"
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/accounts
          http_method: GET
          request_parameters:
            page_size: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: created_after
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    account_documents:
      type: DeclarativeStream
      name: account_documents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/accounts/{{ stream_partition['acc_id'] }}/documents
          http_method: GET
          request_parameters:
            page_size: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: acc_id
              stream:
                $ref: "#/definitions/streams/accounts"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: start
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_documents"
    calendar:
      type: DeclarativeStream
      name: calendar
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/calendar
          http_method: GET
          request_parameters:
            page_size: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: start
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calendar"
    clock:
      type: DeclarativeStream
      name: clock
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/clock
          http_method: GET
          request_parameters:
            limit: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clock"
    country-info:
      type: DeclarativeStream
      name: country-info
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/country-info
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: IterableDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/country-info"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['environment'] }}.alpaca.markets
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/assets"
  - $ref: "#/definitions/streams/accounts_activities"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/account_documents"
  - $ref: "#/definitions/streams/calendar"
  - $ref: "#/definitions/streams/clock"
  - $ref: "#/definitions/streams/country-info"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - environment
      - username
      - start_date
    properties:
      environment:
        type: string
        description: >-
          The trading environment, either 'live', 'paper' or
          'broker-api.sandbox'.
        enum:
          - api
          - paper-api
          - broker-api.sandbox
        name: environment
        order: 0
        title: Environment
        default: broker-api.sandbox
      username:
        type: string
        description: API Key ID for the alpaca market
        order: 1
        title: Username
      password:
        type: string
        description: >-
          Your Alpaca API Secret Key. You can find this in the Alpaca developer
          web console under your account settings.
        order: 2
        title: Password
        always_show: true
        airbyte_secret: true
      start_date:
        type: string
        order: 3
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      limit:
        type: string
        description: Limit for each response objects
        order: 4
        title: Limit
        default: "20"
    additionalProperties: true

metadata:
  autoImportSchema:
    assets: true
    accounts_activities: true
    accounts: true
    account_documents: true
    calendar: true
    clock: true
    country-info: true
  testedStreams:
    assets:
      hasRecords: true
      streamHash: 534156425cb5bbd241894d1223ef7400e31be3a3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    accounts_activities:
      streamHash: 7b95be356ccb30029f5e805f9221bb72729da38f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    accounts:
      streamHash: deab340bb81f0967333855c07df9cecba77e49bd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    account_documents:
      streamHash: 725ab87f0dcc1f4e71c9b30d0a3e0ef626feb280
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    calendar:
      streamHash: c0088e5c6c86fd4f1281537f979fb71525d0ad04
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    clock:
      streamHash: 8dd12073dc6d9d1272d12f76574b017b70b30d47
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    country-info:
      streamHash: a91f5f0e4312c926f21fd0a895fa43ce413652aa
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://docs.alpaca.markets/reference/authentication-2

schemas:
  assets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attributes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      class:
        type:
          - string
          - "null"
      cusip:
        type:
          - string
          - "null"
      easy_to_borrow:
        type:
          - boolean
          - "null"
      exchange:
        type:
          - string
          - "null"
      fractionable:
        type:
          - boolean
          - "null"
      id:
        type: string
      maintenance_margin_requirement:
        type:
          - number
          - "null"
      margin_requirement_long:
        type:
          - string
          - "null"
      margin_requirement_short:
        type:
          - string
          - "null"
      marginable:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      shortable:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
      tradable:
        type:
          - boolean
          - "null"
    required:
      - id
  accounts_activities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account_id:
        type:
          - string
          - "null"
      activity_type:
        type:
          - string
          - "null"
      date:
        type: string
      id:
        type: string
      net_amount:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - date
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_number:
        type:
          - string
          - "null"
      account_type:
        type:
          - string
          - "null"
      created_at:
        type: string
      crypto_status:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      enabled_assets:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: string
      kyc_results:
        type:
          - object
          - "null"
        properties:
          accept:
            type:
              - object
              - "null"
          indeterminate:
            type:
              - object
              - "null"
          reject:
            type:
              - object
              - "null"
          summary:
            type:
              - string
              - "null"
      last_equity:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      trading_type:
        type:
          - string
          - "null"
    required:
      - id
      - created_at
  account_documents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      date:
        type: string
      id:
        type: string
      name:
        type:
          - string
          - "null"
      sub_type:
        type:
          - string
          - "null"
    required:
      - id
      - date
  calendar:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      close:
        type:
          - string
          - "null"
      date:
        type: string
      open:
        type:
          - string
          - "null"
      session_close:
        type:
          - string
          - "null"
      session_open:
        type:
          - string
          - "null"
      settlement_date:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
      - date
  clock:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      is_open:
        type:
          - boolean
          - "null"
      next_close:
        type:
          - string
          - "null"
      next_open:
        type:
          - string
          - "null"
      timestamp:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  country-info:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      record:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
