version: 6.7.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  authenticator:
    type: OAuthAuthenticator
    refresh_request_body:
      environment: "production"
      oauth_scope: "msads.manage"
      scope: "https://ads.microsoft.com/msads.manage offline_access"
      tenant: "{{ config['tenant_id'] }}"
    token_refresh_endpoint:
      'https://login.microsoftonline.com/{{ config["tenant_id"]
      }}/oauth2/v2.0/token'
    grant_type: refresh_token
    client_id: '{{ config["client_id"] }}'
    client_secret: '{{ config["client_secret"] }}'
    refresh_token: '{{ config["refresh_token"] }}'
  users_stream:
    type: DeclarativeStream
    name: users
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema: # this does not matter as we don't expose the stream as public
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties: {}
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/User/Query
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_data: '{"UserId": null}'
        authenticator: "#/definitions/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["User"]
        schema_normalization: Default
  accounts_stream:
    type: DeclarativeStream
    name: accounts
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/accounts"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/Accounts/Search
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_json:
          PageInfo:
            Index: "{{ next_page_token.next_page_token }}"
            Size: 1000
          Predicates: |
            {% if "account_names" in config and config["account_names"] | length %}
            [
              {
                "Field": "UserId",
                "Operator": "Equals",
                "Value": "{{ stream_partition['user_id'] }}"
              },
              {
                "Field": "AccountName",
                "Operator": "{{ stream_partition.account_name['operator'] }}",
                "Value": "{{ stream_partition.account_name['name'] }}"
              }
            ]
            {% else %}
            [
              {
                "Field": "UserId",
                "Operator": "Equals",
                "Value": "{{ stream_partition['user_id'] }}"
              }
            ]
            {% endif %}
          ReturnAdditionalFields: "TaxCertificate,AccountMode"
        authenticator: "#/definitions/authenticator"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          inject_on_first_request: true
          page_size: 1000
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: Id
              partition_field: user_id
              stream:
                $ref: "#/definitions/users_stream"
        - type: ListPartitionRouter
          values: "{{ config['account_names'] if 'account_names' in config and config['account_names'] | length else [''] }}"
          cursor_field: account_name
      record_selector:
        type: RecordSelector
        record_filter:
          type: CustomRecordFilter
          class_name: source_declarative_manifest.components.DuplicatedRecordsFilter
        extractor:
          type: DpathExtractor
          field_path: ["Accounts"]
        schema_normalization: Default
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - LinkedAgencies
            value: |
              {% set linked_agencies = [] %}
              {% for agency in (record.get('LinkedAgencies') or []) %}
              {% set _ = linked_agencies.append({ "Id": agency.Id|int, "Name": agency.Name }) %}
              {% endfor %}
              {{ linked_agencies }}
          - type: AddedFieldDefinition
            path:
              - LinkedAgencies
            value: '{{ { "CustomerInfo": record.LinkedAgencies } }}'
          - type: AddedFieldDefinition
            path:
              - LastModifiedTime
            value: '{{ format_datetime(record.LastModifiedTime, "%Y-%m-%dT%H:%M:%S.%f" ) }}'
          # Schema parses Id as integer, we use this parsing for the state as historically value has been saved as string
          - type: AddedFieldDefinition # useful when used as a parent stream
            path:
              - parsed_account_id
            value: "{{ record.Id | string }}"
            value_type: string
      - type: AddFields
        condition: "{{ record.get('TaxCertificate') is not none and record.get('TaxCertificate').get('TaxCertificates') is not none and 'KeyValuePairOfstringbase64Binary' in record.get('TaxCertificate').get('TaxCertificates') }}"
        fields:
          - type: AddedFieldDefinition
            path:
              - TaxCertificate
              - TaxCertificates
            value: "{{ record.get('TaxCertificate').get('TaxCertificates').get('KeyValuePairOfstringbase64Binary') if record.get('TaxCertificate') is not none and record.get('TaxCertificate').get('TaxCertificates') is not none and 'KeyValuePairOfstringbase64Binary' in record.get('TaxCertificate').get('TaxCertificates') else none }}"
  campaigns_stream:
    type: DeclarativeStream
    name: campaigns
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaigns"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://campaign.api.bingads.microsoft.com
        path: /CampaignManagement/v13/Campaigns/QueryByAccountId
        http_method: POST
        request_headers:
          Content-Type: application/json
          CustomerAccountId: "{{ stream_partition['account_id'] }}"
          CustomerId: "{{ stream_slice.extra_fields['ParentCustomerId'][0] }}"
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_json:
          AccountId: "{{ stream_partition['account_id'] }}"
          CampaignType: "Audience,DynamicSearchAds,Search,Shopping,PerformanceMax"
          ReturnAdditionalFields: "AdScheduleUseSearcherTimeZone,BidStrategyId,CpvCpmBiddingScheme,DynamicDescriptionSetting,DynamicFeedSetting,MaxConversionValueBiddingScheme,MultimediaAdsBidAdjustment,TargetImpressionShareBiddingScheme,TargetSetting,VerifiedTrackingSetting"
        authenticator: "#/definitions/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["Campaigns"]
          schema_normalization: Default
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: Id
            partition_field: account_id
            stream:
              $ref: "#/definitions/accounts_stream"
            extra_fields:
              - - ParentCustomerId
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - Id
            value: "{{ record.Id|int }}"
          - type: AddedFieldDefinition
            path:
              - ExperimentId
            value: "{{ record.get('ExperimentId')|int if record.get('ExperimentId') is not none else none }}"
          - type: AddedFieldDefinition
            path:
              - AccountId
            value: "{{ stream_partition['account_id'] }}"
          - type: AddedFieldDefinition
            path:
              - CustomerId
            value: "{{ stream_partition.extra_fields['ParentCustomerId'] }}"
          - type: AddedFieldDefinition
            path:
              - DailyBudget
            value: "{{ record.get('DailyBudget')|float if record.get('DailyBudget') is not none else none }}"
          - type: AddedFieldDefinition
            path:
              - BudgetId
            value: "{{ record.get('BudgetId')|int if record.get('BudgetId') is not none else none }}"
          - type: AddedFieldDefinition
            path:
              - BidStrategyId
            value: "{{ record.get('BidStrategyId')|int if record.get('BidStrategyId') is not none else none }}"
          - type: AddedFieldDefinition
            path:
              - ForwardCompatibilityMap
            value: "{{ record.get('ForwardCompatibilityMap') if record.get('ForwardCompatibilityMap') and record.get('ForwardCompatibilityMap') | length > 0 else none }}"
          - type: AddedFieldDefinition
            path:
              - Languages
            value: "{{ {'string': record.get('Languages')} if record.get('Languages') is not none and record.get('Languages') | length > 0 else None }}"
          - type: AddedFieldDefinition
            path:
              - UrlCustomParameters
            value: "{{ {'Parameters': {'CustomParameter': record.UrlCustomParameters.Parameters}} if record.get('UrlCustomParameters') and record.get('UrlCustomParameters').get('Parameters') else record.get('UrlCustomParameters') }}"
      - type: CustomTransformation
        class_name: source_declarative_manifest.components.BingAdsCampaignsRecordTransformer
      - type: RemoveFields
        field_pointers: []
  ad_groups_stream:
    type: DeclarativeStream
    name: ad_groups
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_groups"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/AdGroups/QueryByCampaignId
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
          CustomerAccountId: "{{ stream_slice.extra_fields['AccountId'][0] }}"
          CustomerId: "{{ stream_slice.extra_fields['CustomerId'][0] }}"
        request_body_json:
          CampaignId: "{{ stream_partition['campaign_id'][0] | string }}"
          ReturnAdditionalFields: "AdGroupType,AdScheduleUseSearcherTimeZone,CpmBid,CpvBid,MultimediaAdsBidAdjustment"
        authenticator: "#/definitions/authenticator"
      partition_router:
        type: GroupingPartitionRouter
        group_size: 1
        underlying_partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: Id
              partition_field: campaign_id
              stream:
                $ref: "#/definitions/campaigns_stream"
              extra_fields:
                - - AccountId
                - - CustomerId
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["AdGroups"]
        schema_normalization: Default
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - AccountId
            value: "{{ stream_slice.extra_fields['AccountId'][0] }}"
          - type: AddedFieldDefinition
            path:
              - CampaignId
            value: "{{ stream_partition['campaign_id'][0] }}"
          - type: AddedFieldDefinition
            path:
              - CustomerId
            value: "{{ stream_slice.extra_fields['CustomerId'][0] }}"
          - type: AddedFieldDefinition
            path:
              - ForwardCompatibilityMap
            value: "{{ record.get('ForwardCompatibilityMap') if record.get('ForwardCompatibilityMap') and record.get('ForwardCompatibilityMap') | length > 0 else none }}"
  ads_stream:
    type: DeclarativeStream
    name: ads
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ads"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Ads/QueryByAdGroupId
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
          CustomerAccountId: "{{ stream_slice.extra_fields['AccountId'][0] }}"
          CustomerId: "{{ stream_slice.extra_fields['CustomerId'][0] }}"
        request_body_json:
          AdGroupId: "{{ stream_partition['ad_group_id'][0] | string }}"
          AdTypes: '{{ [ "Text", "Image", "Product", "AppInstall", "ExpandedText", "DynamicSearch", "ResponsiveAd", "ResponsiveSearch" ] }}'
          ReturnAdditionalFields: "ImpressionTrackingUrls,Videos,LongHeadlines"
        authenticator: "#/definitions/authenticator"
      partition_router:
        type: GroupingPartitionRouter
        group_size: 1
        underlying_partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: Id
              partition_field: ad_group_id
              stream:
                $ref: "#/definitions/ad_groups_stream"
              extra_fields:
                - - AccountId
                - - CustomerId
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["Ads"]
        schema_normalization: Default
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - AccountId
            value: "{{ stream_slice.extra_fields['AccountId'][0] }}"
          - type: AddedFieldDefinition
            path:
              - AdGroupId
            value: "{{ stream_partition['ad_group_id'][0] }}"
          - type: AddedFieldDefinition
            path:
              - CustomerId
            value: "{{ stream_slice.extra_fields['CustomerId'][0] }}"
          - type: AddedFieldDefinition
            path:
              - _tmp_Descriptions_AssetLink
            value: "{{ record.get('Descriptions') }}"
          - type: AddedFieldDefinition
            path:
              - _tmp_FinalMobileUrls_string
            value: "{{ record.get('FinalMobileUrls') }}"
          - type: AddedFieldDefinition
            path:
              - _tmp_FinalUrls_string
            value: "{{ record.get('FinalUrls') }}"
          - type: AddedFieldDefinition
            path:
              - _tmp_Headlines_AssetLink
            value: "{{ record.get('Headlines') }}"
          - type: AddedFieldDefinition
            path:
              - _tmp_Images_AssetLink
            value: "{{ record.get('Images') }}"
          - type: AddedFieldDefinition
            path:
              - _tmp_LongHeadlines_AssetLink
            value: "{{ record.get('LongHeadlines') }}"
          - type: AddedFieldDefinition
            path:
              - _tmp_Videos_AssetLink
            value: "{{ record.get('Videos') }}"
          - type: AddedFieldDefinition
            path:
              - ForwardCompatibilityMap
            value: "{{ record.get('ForwardCompatibilityMap') if record.get('ForwardCompatibilityMap') and record.get('ForwardCompatibilityMap') | length > 0 else none }}"
          - type: AddedFieldDefinition
            path:
              - Path1
            value: "{{ none if record.get('Path1') == '' else record.get('Path1')}}"
          - type: AddedFieldDefinition
            path:
              - Path2
            value: "{{ none if record.get('Path2') == '' else record.get('Path2')}}"
          - type: AddedFieldDefinition
            path:
              - TextPart2
            value: "{{ none if record.get('TextPart2') == '' else record.get('TextPart2')}}"
          - type: AddedFieldDefinition
            path:
              - TitlePart3
            value: "{{ none if record.get('TitlePart3') == '' else record.get('TitlePart3')}}"
      - type: RemoveFields
        field_pointers:
          - - Descriptions
          - - FinalMobileUrls
          - - FinalUrls
          - - Headlines
          - - Images
          - - LongHeadlines
          - - Videos
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - Descriptions
              - AssetLink
            value: "{{ record.get('_tmp_Descriptions_AssetLink') }}"
          - type: AddedFieldDefinition
            path:
              - FinalMobileUrls
              - string
            value: "{{ record.get('_tmp_FinalMobileUrls_string') }}"
          - type: AddedFieldDefinition
            path:
              - FinalUrls
              - string
            value: "{{ record.get('_tmp_FinalUrls_string') }}"
          - type: AddedFieldDefinition
            path:
              - Headlines
              - AssetLink
            value: "{{ record.get('_tmp_Headlines_AssetLink') }}"
          - type: AddedFieldDefinition
            path:
              - Images
              - AssetLink
            value: "{{ record.get('_tmp_Images_AssetLink') }}"
          - type: AddedFieldDefinition
            path:
              - LongHeadlines
              - AssetLink
            value: "{{ record.get('_tmp_Images_AssetLink') }}"
          - type: AddedFieldDefinition
            path:
              - Videos
              - AssetLink
            value: "{{ record.get('_tmp_Videos_AssetLink') }}"
      - type: RemoveFields
        field_pointers:
          - - _tmp_Descriptions_AssetLink
          - - _tmp_FinalMobileUrls_string
          - - _tmp_FinalUrls_string
          - - _tmp_Headlines_AssetLink
          - - _tmp_Images_AssetLink
          - - _tmp_LongHeadlines_AssetLink
          - - _tmp_Videos_AssetLink
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - Descriptions
            value: "{{ none if record.get('Descriptions', {}).get('AssetLink') == none else record.get('Descriptions') }}"
          - type: AddedFieldDefinition
            path:
              - FinalMobileUrls
            value: "{{ none if record.get('FinalMobileUrls', {}).get('string') == none else record.get('FinalMobileUrls') }}"
          - type: AddedFieldDefinition
            path:
              - FinalUrls
            value: "{{ none if record.get('FinalUrls', {}).get('string') == none else record.get('FinalUrls') }}"
          - type: AddedFieldDefinition
            path:
              - Headlines
            value: "{{ none if record.get('Headlines', {}).get('AssetLink') == none else record.get('Headlines') }}"
          - type: AddedFieldDefinition
            path:
              - Images
            value: "{{ none if record.get('Images', {}).get('AssetLink') == none else record.get('Images') }}"
          - type: AddedFieldDefinition
            path:
              - LongHeadlines
            value: "{{ none if record.get('LongHeadlines', {}).get('AssetLink') == none else record.get('LongHeadlines') }}"
          - type: AddedFieldDefinition
            path:
              - Videos
            value: "{{ none if record.get('Videos', {}).get('AssetLink') == none or record.get('Videos', {}).get('AssetLink') == [] else record.get('Videos') }}"

  # Base Report Stream
  ## This stream is used as a stream template in a dynamic_streams section to create report streams dynamically.
  ## To define new report stream, you need to add a new object of stream parameters to list_of_parameters_for_stream.
  ## Required params to define a report stream:
  ## - name
  ## - parameters
  ## - primary_key
  ## - schema_loader
  ## - transformations
  ## - incremental_sync
  ## Then components resolving login in dynamic streams will set provided in list_of_parameters_for_stream object parameters
  ## to base report stream template and add this stream to a catalog.
  report_base_stream:
    type: DeclarativeStream
    #    set report_aggregation in parameters, for example,
    #    $parameters:
    #      report_aggregation: Monthly
    #      report_columns: [list of columns]
    #      report_name: AgeGenderAudienceReport
    #      report_type: AgeGenderAudienceReportRequest
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      record_selector:
        $ref: "#/definitions/basic_async_retriever/record_selector"
        schema_normalization: Default
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: "{{ parameters['report_name'] }}"
            ReturnOnlyCompleteData: false
            Type: "{{ parameters['report_type'] }}"
            Aggregation: "{{ parameters['report_aggregation'] }}"
            Columns: "{{ parameters['report_columns'] }}"
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart:
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year }}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration

  report_primary_keys:
    base_report_primary_keys:
      - TimePeriod
      - Network
      - DeviceType
    age_gender_audience:
      - AgeGroup
      - Gender
      - TimePeriod
      - AccountId
      - CampaignId
      - Language
      - AdDistribution
    campaign_performance:
      - AccountId
      - CampaignId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
    ad_group_performance:
      - AccountId
      - CampaignId
      - AdGroupId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - Language
    keyword_performance_report:
      - AccountId
      - CampaignId
      - AdGroupId
      - KeywordId
      - AdId
      - TimePeriod
      - CurrencyCode
      - DeliveredMatchType
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
    geographic_performance_report: None
    campaign_impression_performance: None
    product_dimension_performance: None
    audience_performance:
      - AudienceId
      - TimePeriod
      - AccountId
      - CampaignId
      - AdGroupId
    goals_and_funnels:
      - GoalId
      - TimePeriod
      - AccountId
      - CampaignId
      - DeviceType
      - DeviceOS
      - AdGroupId
    account_impression_performance: None
    user_location_performance:
      - AccountId
      - AdGroupId
      - CampaignId
      - DeliveredMatchType
      - DeviceOS
      - DeviceType
      - Language
      - LocationId
      - QueryIntentLocationId
      - TimePeriod
      - TopVsOther
    budget_summary:
      - Date
    account_performance_report:
      - AccountId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
    ad_performance_report:
      - AccountId
      - CampaignId
      - AdGroupId
      - AdId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - DeliveredMatchType
    search_query_performance:
      - SearchQuery
      - Keyword
      - TimePeriod
      - AccountId
      - CampaignId
      - Language
      - DeliveredMatchType
      - DeviceType
      - DeviceOS
      - TopVsOther
    product_search_query_performance:
      - AccountId
      - TimePeriod
      - CampaignId
      - AdId
      - AdGroupId
      - SearchQuery
      - DeviceType
      - DeviceOS
      - Language
      - Network

  report_columns:
    age_gender_audience:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CampaignName
      - CampaignId
      - AdGroupName
      - AdGroupId
      - AdDistribution
      - AgeGroup
      - Gender
      - Impressions
      - Clicks
      - Conversions
      - Spend
      - Revenue
      - ExtendedCost
      - Assists
      - Language
      - AccountStatus
      - CampaignStatus
      - AdGroupStatus
      - BaseCampaignId
      - AllConversions
      - AllRevenue
      - ViewThroughConversions
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - ConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
    campaign_performance_hourly:
      - AccountId
      - CampaignId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - CampaignName
      - CampaignType
      - CampaignStatus
      - CampaignLabels
      - Impressions
      - Clicks
      - Ctr
      - Spend
      - CostPerConversion
      - QualityScore
      - AdRelevance
      - LandingPageExperience
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - CustomParameters
      - ViewThroughConversions
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllConversions
      - ConversionsQualified
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - Conversions
      - ConversionRate
      - LowQualityClicks
      - LowQualityClicksPercent
      - LowQualityImpressions
      - LowQualitySophisticatedClicks
      - LowQualityConversions
      - LowQualityConversionRate
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
      - BudgetName
      - BudgetStatus
      - BudgetAssociationStatus
    campaign_performance_non_hourly:
      - AccountId
      - CampaignId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - CampaignName
      - CampaignType
      - CampaignStatus
      - CampaignLabels
      - Impressions
      - Clicks
      - Ctr
      - Spend
      - CostPerConversion
      - QualityScore
      - AdRelevance
      - LandingPageExperience
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - CustomParameters
      - ViewThroughConversions
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllConversions
      - ConversionsQualified
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - Conversions
      - ConversionRate
      - LowQualityClicks
      - LowQualityClicksPercent
      - LowQualityImpressions
      - LowQualitySophisticatedClicks
      - LowQualityConversions
      - LowQualityConversionRate
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
      - BudgetName
      - BudgetStatus
      - BudgetAssociationStatus
      - HistoricalQualityScore
      - HistoricalExpectedCtr
      - HistoricalAdRelevance
      - HistoricalLandingPageExperience
    ad_group_performance_hourly:
      - AccountId
      - CampaignId
      - AdGroupId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - Language
      - AccountName
      - CampaignName
      - CampaignType
      - AdGroupName
      - AdGroupType
      - Impressions
      - Clicks
      - Ctr
      - Spend
      - CostPerConversion
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Assists
      - CostPerAssist
      - CustomParameters
      - FinalUrlSuffix
      - ViewThroughConversions
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
    ad_group_performance_non_hourly:
      - AccountId
      - CampaignId
      - AdGroupId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - Language
      - AccountName
      - CampaignName
      - CampaignType
      - AdGroupName
      - AdGroupType
      - Impressions
      - Clicks
      - Ctr
      - Spend
      - CostPerConversion
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Assists
      - CostPerAssist
      - CustomParameters
      - FinalUrlSuffix
      - ViewThroughConversions
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - HistoricalQualityScore
      - HistoricalExpectedCtr
      - HistoricalAdRelevance
      - HistoricalLandingPageExperience
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
    keyword_performance_report_hourly:
      - AccountId
      - CampaignId
      - AdGroupId
      - KeywordId
      - Keyword
      - AdId
      - TimePeriod
      - CurrencyCode
      - DeliveredMatchType
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - CampaignName
      - AdGroupName
      - KeywordStatus
      - Impressions
      - Clicks
      - Ctr
      - CurrentMaxCpc
      - Spend
      - CostPerConversion
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - QualityImpact
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - CustomParameters
      - FinalAppUrl
      - Mainline1Bid
      - MainlineBid
      - FirstPageBid
      - FinalUrlSuffix
      - ViewThroughConversions
      - ViewThroughConversionsQualified
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
      - CampaignStatus
      - TopImpressionRatePercent
      - AdGroupStatus
      - TrackingTemplate
      - BidStrategyType
      - AccountStatus
      - FinalUrl
      - AdType
      - KeywordLabels
      - FinalMobileUrl
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - BaseCampaignId
      - AccountNumber
      - DestinationUrl
    keyword_performance_report_daily:
      - AccountId
      - CampaignId
      - AdGroupId
      - KeywordId
      - Keyword
      - AdId
      - TimePeriod
      - CurrencyCode
      - DeliveredMatchType
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - CampaignName
      - AdGroupName
      - KeywordStatus
      - HistoricalExpectedCtr
      - HistoricalAdRelevance
      - HistoricalLandingPageExperience
      - HistoricalQualityScore
      - Impressions
      - Clicks
      - Ctr
      - CurrentMaxCpc
      - Spend
      - CostPerConversion
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - QualityImpact
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - CustomParameters
      - FinalAppUrl
      - Mainline1Bid
      - MainlineBid
      - FirstPageBid
      - FinalUrlSuffix
      - ViewThroughConversions
      - ViewThroughConversionsQualified
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
      - CampaignStatus
      - TopImpressionRatePercent
      - AdGroupStatus
      - TrackingTemplate
      - BidStrategyType
      - AccountStatus
      - FinalUrl
      - AdType
      - KeywordLabels
      - FinalMobileUrl
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - BaseCampaignId
      - AccountNumber
      - DestinationUrl
    keyword_performance_report:
      - AccountId
      - CampaignId
      - AdGroupId
      - KeywordId
      - Keyword
      - AdId
      - TimePeriod
      - CurrencyCode
      - DeliveredMatchType
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - CampaignName
      - AdGroupName
      - KeywordStatus
      - Impressions
      - Clicks
      - Ctr
      - CurrentMaxCpc
      - Spend
      - CostPerConversion
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - QualityImpact
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - CustomParameters
      - FinalAppUrl
      - Mainline1Bid
      - MainlineBid
      - FirstPageBid
      - FinalUrlSuffix
      - ViewThroughConversions
      - ViewThroughConversionsQualified
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
      - CampaignStatus
      - TopImpressionRatePercent
      - AdGroupStatus
      - TrackingTemplate
      - BidStrategyType
      - AccountStatus
      - FinalUrl
      - AdType
      - KeywordLabels
      - FinalMobileUrl
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - BaseCampaignId
      - AccountNumber
      - DestinationUrl
    geographic_performance_report_hourly:
      - AccountId
      - CampaignId
      - AdGroupId
      - TimePeriod
      - AccountNumber
      - Country
      - State
      - MetroArea
      - City
      - ProximityTargetLocation
      - Radius
      - LocationType
      - MostSpecificLocation
      - AccountStatus
      - CampaignStatus
      - AdGroupStatus
      - County
      - PostalCode
      - LocationId
      - BaseCampaignId
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - AllConversionsQualified
      - Neighborhood
      - ViewThroughRevenue
      - CampaignType
      - AssetGroupId
      - AssetGroupName
      - AssetGroupStatus
      - CurrencyCode
      - DeliveredMatchType
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - CampaignName
      - AdGroupName
      - Impressions
      - Clicks
      - Ctr
      - Spend
      - CostPerConversion
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - ViewThroughConversions
      - ViewThroughConversionsQualified
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
    geographic_performance_report:
      - AccountId
      - CampaignId
      - AdGroupId
      - TimePeriod
      - AccountNumber
      - Country
      - State
      - MetroArea
      - City
      - ProximityTargetLocation
      - Radius
      - LocationType
      - MostSpecificLocation
      - AccountStatus
      - CampaignStatus
      - AdGroupStatus
      - County
      - PostalCode
      - LocationId
      - BaseCampaignId
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - AllConversionsQualified
      - Neighborhood
      - ViewThroughRevenue
      - CampaignType
      - AssetGroupId
      - AssetGroupName
      - AssetGroupStatus
      - CurrencyCode
      - DeliveredMatchType
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - CampaignName
      - AdGroupName
      - Impressions
      - Clicks
      - Ctr
      - Spend
      - CostPerConversion
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - ViewThroughConversions
      - ViewThroughConversionsQualified
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
    ad_group_impression_performance_hourly:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - Status
      - CampaignName
      - CampaignId
      - AdGroupName
      - AdGroupId
      - CurrencyCode
      - AdDistribution
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - Conversions
      - ConversionRate
      - CostPerConversion
      - DeviceType
      - Language
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Network
      - Assists
      - Revenue
      - ReturnOnAdSpend
      - CostPerAssist
      - RevenuePerConversion
      - RevenuePerAssist
      - TrackingTemplate
      - CustomParameters
      - AccountStatus
      - CampaignStatus
      - AdGroupLabels
      - FinalUrlSuffix
      - CampaignType
      - TopImpressionSharePercent
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - BaseCampaignId
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - ViewThroughConversions
      - AdGroupType
      - AverageCpm
      - ConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
      - VideoViews
      - ViewThroughRate
      - AverageCPV
      - VideoViewsAt25Percent
      - VideoViewsAt50Percent
      - VideoViewsAt75Percent
      - CompletedVideoViews
      - VideoCompletionRate
      - TotalWatchTimeInMS
      - AverageWatchTimePerVideoView
      - AverageWatchTimePerImpression
      - Sales
      - CostPerSale
      - RevenuePerSale
      - Installs
      - CostPerInstall
      - RevenuePerInstall
    ad_group_impression_performance_non_hourly:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - Status
      - CampaignName
      - CampaignId
      - AdGroupName
      - AdGroupId
      - CurrencyCode
      - AdDistribution
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - Conversions
      - ConversionRate
      - CostPerConversion
      - DeviceType
      - Language
      - ImpressionSharePercent
      - ImpressionLostToBudgetPercent
      - ImpressionLostToRankAggPercent
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - HistoricalQualityScore
      - HistoricalExpectedCtr
      - HistoricalAdRelevance
      - HistoricalLandingPageExperience
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Network
      - Assists
      - Revenue
      - ReturnOnAdSpend
      - CostPerAssist
      - RevenuePerConversion
      - RevenuePerAssist
      - TrackingTemplate
      - CustomParameters
      - AccountStatus
      - CampaignStatus
      - AdGroupLabels
      - ExactMatchImpressionSharePercent
      - ClickSharePercent
      - AbsoluteTopImpressionSharePercent
      - FinalUrlSuffix
      - CampaignType
      - TopImpressionShareLostToRankPercent
      - TopImpressionShareLostToBudgetPercent
      - AbsoluteTopImpressionShareLostToRankPercent
      - AbsoluteTopImpressionShareLostToBudgetPercent
      - TopImpressionSharePercent
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - BaseCampaignId
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - ViewThroughConversions
      - AudienceImpressionSharePercent
      - AudienceImpressionLostToRankPercent
      - AudienceImpressionLostToBudgetPercent
      - RelativeCtr
      - AdGroupType
      - AverageCpm
      - ConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
      - VideoViews
      - ViewThroughRate
      - AverageCPV
      - VideoViewsAt25Percent
      - VideoViewsAt50Percent
      - VideoViewsAt75Percent
      - CompletedVideoViews
      - VideoCompletionRate
      - TotalWatchTimeInMS
      - AverageWatchTimePerVideoView
      - AverageWatchTimePerImpression
      - Sales
      - CostPerSale
      - RevenuePerSale
      - Installs
      - CostPerInstall
      - RevenuePerInstall
    campaign_impression_performance_hourly:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CampaignStatus
      - CampaignName
      - CampaignId
      - CurrencyCode
      - AdDistribution
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - Conversions
      - ConversionRate
      - CostPerConversion
      - LowQualityClicks
      - LowQualityClicksPercent
      - LowQualityImpressions
      - LowQualityImpressionsPercent
      - LowQualityConversions
      - LowQualityConversionRate
      - DeviceType
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Network
      - Assists
      - Revenue
      - ReturnOnAdSpend
      - CostPerAssist
      - RevenuePerConversion
      - RevenuePerAssist
      - TrackingTemplate
      - CustomParameters
      - AccountStatus
      - LowQualityGeneralClicks
      - LowQualitySophisticatedClicks
      - CampaignLabels
      - FinalUrlSuffix
      - CampaignType
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - BaseCampaignId
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - ViewThroughConversions
      - AverageCpm
      - ConversionsQualified
      - LowQualityConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
      - VideoViews
      - ViewThroughRate
      - AverageCPV
      - VideoViewsAt25Percent
      - VideoViewsAt50Percent
      - VideoViewsAt75Percent
      - CompletedVideoViews
      - VideoCompletionRate
      - TotalWatchTimeInMS
      - AverageWatchTimePerVideoView
      - AverageWatchTimePerImpression
      - Sales
      - CostPerSale
      - RevenuePerSale
      - Installs
      - CostPerInstall
      - RevenuePerInstall
    campaign_impression_performance_non_hourly:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CampaignStatus
      - CampaignName
      - CampaignId
      - CurrencyCode
      - AdDistribution
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - Conversions
      - ConversionRate
      - CostPerConversion
      - LowQualityClicks
      - LowQualityClicksPercent
      - LowQualityImpressions
      - LowQualityImpressionsPercent
      - LowQualityConversions
      - LowQualityConversionRate
      - DeviceType
      - ImpressionSharePercent
      - ImpressionLostToBudgetPercent
      - ImpressionLostToRankAggPercent
      - QualityScore
      - ExpectedCtr
      - AdRelevance
      - LandingPageExperience
      - HistoricalQualityScore
      - HistoricalExpectedCtr
      - HistoricalAdRelevance
      - HistoricalLandingPageExperience
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Network
      - Assists
      - Revenue
      - ReturnOnAdSpend
      - CostPerAssist
      - RevenuePerConversion
      - RevenuePerAssist
      - TrackingTemplate
      - CustomParameters
      - AccountStatus
      - LowQualityGeneralClicks
      - LowQualitySophisticatedClicks
      - CampaignLabels
      - ExactMatchImpressionSharePercent
      - ClickSharePercent
      - AbsoluteTopImpressionSharePercent
      - FinalUrlSuffix
      - CampaignType
      - TopImpressionShareLostToRankPercent
      - TopImpressionShareLostToBudgetPercent
      - AbsoluteTopImpressionShareLostToRankPercent
      - AbsoluteTopImpressionShareLostToBudgetPercent
      - TopImpressionSharePercent
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - BaseCampaignId
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - ViewThroughConversions
      - AudienceImpressionSharePercent
      - AudienceImpressionLostToRankPercent
      - AudienceImpressionLostToBudgetPercent
      - RelativeCtr
      - AverageCpm
      - ConversionsQualified
      - LowQualityConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
      - VideoViews
      - ViewThroughRate
      - AverageCPV
      - VideoViewsAt25Percent
      - VideoViewsAt50Percent
      - VideoViewsAt75Percent
      - CompletedVideoViews
      - VideoCompletionRate
      - TotalWatchTimeInMS
      - AverageWatchTimePerVideoView
      - AverageWatchTimePerImpression
      - Sales
      - CostPerSale
      - RevenuePerSale
      - Installs
      - CostPerInstall
      - RevenuePerInstall
    product_dimension_performance_hourly:
      - TimePeriod
      - AccountName
      - AccountNumber
      - AdGroupName
      - AdGroupId
      - CampaignStatus
      - AccountStatus
      - AdGroupStatus
      - Network
      - AdId
      - CampaignId
      - CampaignName
      - CurrencyCode
      - DeviceType
      - Language
      - MerchantProductId
      - Title
      - Condition
      - Brand
      - Price
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - Conversions
      - ConversionRate
      - Revenue
      - RevenuePerConversion
      - SellerName
      - OfferLanguage
      - CountryOfSale
      - AdStatus
      - AdDistribution
      - ClickTypeId
      - TotalClicksOnAdElements
      - ClickType
      - ReturnOnAdSpend
      - BidStrategyType
      - LocalStoreCode
      - StoreId
      - AssistedClicks
      - AssistedConversions
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - CostPerConversion
      - ViewThroughConversions
      - Goal
      - GoalType
      - ProductBought
      - QuantityBought
      - AverageCpm
      - ConversionsQualified
      - AssistedConversionsQualified
      - ViewThroughConversionsQualified
      - ProductBoughtTitle
      - GTIN
      - MPN
      - ViewThroughRevenue
      - Sales
      - CostPerSale
      - RevenuePerSale
      - Installs
      - CostPerInstall
      - RevenuePerInstall
      - CampaignType
      - AssetGroupId
      - AssetGroupName
      - AssetGroupStatus
      - CustomLabel0
      - CustomLabel1
      - CustomLabel2
      - CustomLabel3
      - CustomLabel4
      - ProductType1
      - ProductType2
      - ProductType3
      - ProductType4
      - ProductType5
    product_dimension_performance_non_hourly:
      - TimePeriod
      - AccountName
      - AccountNumber
      - AdGroupName
      - AdGroupId
      - CampaignStatus
      - AccountStatus
      - AdGroupStatus
      - Network
      - AdId
      - CampaignId
      - CampaignName
      - CurrencyCode
      - DeviceType
      - Language
      - MerchantProductId
      - Title
      - Condition
      - Brand
      - Price
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - Conversions
      - ConversionRate
      - Revenue
      - RevenuePerConversion
      - SellerName
      - OfferLanguage
      - CountryOfSale
      - AdStatus
      - AdDistribution
      - ClickTypeId
      - TotalClicksOnAdElements
      - ClickType
      - ReturnOnAdSpend
      - BidStrategyType
      - LocalStoreCode
      - StoreId
      - AssistedClicks
      - AssistedConversions
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - CostPerConversion
      - ViewThroughConversions
      - Goal
      - GoalType
      - ProductBought
      - QuantityBought
      - AverageCpm
      - ConversionsQualified
      - AssistedConversionsQualified
      - ViewThroughConversionsQualified
      - ProductBoughtTitle
      - GTIN
      - MPN
      - ViewThroughRevenue
      - Sales
      - CostPerSale
      - RevenuePerSale
      - Installs
      - CostPerInstall
      - RevenuePerInstall
      - CampaignType
      - AssetGroupId
      - AssetGroupName
      - AssetGroupStatus
      - CustomLabel0
      - CustomLabel1
      - CustomLabel2
      - CustomLabel3
      - CustomLabel4
      - ProductType1
      - ProductType2
      - ProductType3
      - ProductType4
      - ProductType5
    audience_performance:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CampaignName
      - CampaignId
      - AdGroupName
      - AdGroupId
      - AudienceId
      - AudienceName
      - AssociationStatus
      - BidAdjustment
      - TargetingSetting
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - Conversions
      - ConversionRate
      - CostPerConversion
      - Revenue
      - ReturnOnAdSpend
      - RevenuePerConversion
      - AccountStatus
      - CampaignStatus
      - AdGroupStatus
      - AudienceType
      - BaseCampaignId
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - AssociationId
      - AssociationLevel
      - ViewThroughConversions
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - AverageCpm
      - ConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
    goals_and_funnels:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CampaignName
      - CampaignId
      - AdGroupName
      - AdGroupId
      - Keyword
      - KeywordId
      - Goal
      - AllConversions
      - Assists
      - AllRevenue
      - GoalId
      - DeviceType
      - DeviceOS
      - AccountStatus
      - CampaignStatus
      - AdGroupStatus
      - KeywordStatus
      - GoalType
      - ViewThroughConversions
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
    account_impression_performance_non_hourly:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - Conversions
      - ConversionRate
      - CostPerConversion
      - LowQualityClicks
      - LowQualityClicksPercent
      - LowQualityImpressions
      - LowQualityImpressionsPercent
      - LowQualityConversions
      - LowQualityConversionRate
      - DeviceType
      - ImpressionSharePercent
      - ImpressionLostToBudgetPercent
      - ImpressionLostToRankAggPercent
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Network
      - Assists
      - Revenue
      - ReturnOnAdSpend
      - CostPerAssist
      - RevenuePerConversion
      - RevenuePerAssist
      - AccountStatus
      - LowQualityGeneralClicks
      - LowQualitySophisticatedClicks
      - ExactMatchImpressionSharePercent
      - ClickSharePercent
      - AbsoluteTopImpressionSharePercent
      - TopImpressionShareLostToRankPercent
      - TopImpressionShareLostToBudgetPercent
      - AbsoluteTopImpressionShareLostToRankPercent
      - AbsoluteTopImpressionShareLostToBudgetPercent
      - TopImpressionSharePercent
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - ViewThroughConversions
      - AudienceImpressionSharePercent
      - AudienceImpressionLostToRankPercent
      - AudienceImpressionLostToBudgetPercent
      - AverageCpm
      - ConversionsQualified
      - LowQualityConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
      - VideoViews
      - ViewThroughRate
      - AverageCPV
      - VideoViewsAt25Percent
      - VideoViewsAt50Percent
      - VideoViewsAt75Percent
      - CompletedVideoViews
      - VideoCompletionRate
      - TotalWatchTimeInMS
      - AverageWatchTimePerVideoView
      - AverageWatchTimePerImpression
      - Sales
      - CostPerSale
      - RevenuePerSale
      - Installs
      - CostPerInstall
      - RevenuePerInstall
    account_impression_performance_hourly:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - Conversions
      - ConversionRate
      - CostPerConversion
      - LowQualityClicks
      - LowQualityClicksPercent
      - LowQualityImpressions
      - LowQualityImpressionsPercent
      - LowQualityConversions
      - LowQualityConversionRate
      - DeviceType
      - PhoneImpressions
      - PhoneCalls
      - Ptr
      - Network
      - Assists
      - Revenue
      - ReturnOnAdSpend
      - CostPerAssist
      - RevenuePerConversion
      - RevenuePerAssist
      - AccountStatus
      - LowQualityGeneralClicks
      - LowQualitySophisticatedClicks
      - TopImpressionRatePercent
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - ViewThroughConversions
      - AverageCpm
      - ConversionsQualified
      - LowQualityConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - ViewThroughRevenue
      - VideoViews
      - ViewThroughRate
      - AverageCPV
      - VideoViewsAt25Percent
      - VideoViewsAt50Percent
      - VideoViewsAt75Percent
      - CompletedVideoViews
      - VideoCompletionRate
      - TotalWatchTimeInMS
      - AverageWatchTimePerVideoView
      - AverageWatchTimePerImpression
      - Sales
      - CostPerSale
      - RevenuePerSale
      - Installs
      - CostPerInstall
      - RevenuePerInstall
    user_location_performance:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CampaignName
      - CampaignId
      - AdGroupName
      - AdGroupId
      - Country
      - State
      - MetroArea
      - CurrencyCode
      - AdDistribution
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - ProximityTargetLocation
      - Radius
      - Language
      - City
      - QueryIntentCountry
      - QueryIntentState
      - QueryIntentCity
      - QueryIntentDMA
      - BidMatchType
      - DeliveredMatchType
      - Network
      - TopVsOther
      - DeviceType
      - DeviceOS
      - Assists
      - Conversions
      - ConversionRate
      - Revenue
      - ReturnOnAdSpend
      - CostPerConversion
      - CostPerAssist
      - RevenuePerConversion
      - RevenuePerAssist
      - County
      - PostalCode
      - QueryIntentCounty
      - QueryIntentPostalCode
      - LocationId
      - QueryIntentLocationId
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - ViewThroughConversions
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - AverageCpm
      - ConversionsQualified
      - AllConversionsQualified
      - ViewThroughConversionsQualified
      - Neighborhood
      - QueryIntentNeighborhood
      - ViewThroughRevenue
      - CampaignType
      - AssetGroupId
      - AssetGroupName
    search_query_performance:
      - AccountName
      - AccountNumber
      - AccountId
      - TimePeriod
      - CampaignName
      - CampaignId
      - AdGroupName
      - AdGroupId
      - AdId
      - AdType
      - DestinationUrl
      - BidMatchType
      - DeliveredMatchType
      - CampaignStatus
      - AdStatus
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - AveragePosition
      - SearchQuery
      - Keyword
      - AdGroupCriterionId
      - Conversions
      - ConversionRate
      - CostPerConversion
      - Language
      - KeywordId
      - Network
      - TopVsOther
      - DeviceType
      - DeviceOS
      - Assists
      - Revenue
      - ReturnOnAdSpend
      - CostPerAssist
      - RevenuePerConversion
      - RevenuePerAssist
      - AccountStatus
      - AdGroupStatus
      - KeywordStatus
      - CampaignType
      - CustomerId
      - CustomerName
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - AllRevenuePerConversion
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - AverageCpm
      - ConversionsQualified
      - AllConversionsQualified
    product_search_query_performance:
      - TimePeriod
      - AccountId
      - AccountNumber
      - AccountName
      - AdId
      - AdGroupId
      - AdGroupName
      - CampaignId
      - CampaignName
      - DestinationUrl
      - DeviceType
      - DeviceOS
      - Language
      - SearchQuery
      - Network
      - MerchantProductId
      - Title
      - ClickTypeId
      - TotalClicksOnAdElements
      - ClickType
      - AdGroupCriterionId
      - ProductGroup
      - PartitionType
      - Impressions
      - Clicks
      - Ctr
      - AverageCpc
      - Spend
      - Conversions
      - ConversionRate
      - Assists
      - CostPerAssist
      - Revenue
      - CostPerConversion
      - RevenuePerConversion
      - RevenuePerAssist
      - CustomerId
      - CustomerName
      - AssistedImpressions
      - AssistedClicks
      - AssistedConversions
      - AllConversions
      - AllRevenue
      - AllConversionRate
      - AllCostPerConversion
      - AllRevenuePerConversion
      - Goal
      - GoalType
      - AbsoluteTopImpressionRatePercent
      - AverageCpm
      - ConversionsQualified
      - AssistedConversionsQualified
      - AllConversionsQualified
      - CampaignType
      - AssetGroupId
      - AssetGroupName
    budget_summary:
      - AccountName
      - AccountNumber
      - AccountId
      - CampaignId
      - CampaignName
      - Date
      - MonthlyBudget
      - DailySpend
      - MonthToDateSpend
    account_performance_report_hourly:
      - AccountId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - AccountNumber
      - PhoneImpressions
      - PhoneCalls
      - Clicks
      - Ctr
      - Spend
      - Impressions
      - Assists
      - ReturnOnAdSpend
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - Conversions
      - ConversionsQualified
      - ConversionRate
      - CostPerAssist
      - CostPerConversion
      - LowQualityClicks
      - LowQualityClicksPercent
      - LowQualityImpressions
      - LowQualitySophisticatedClicks
      - LowQualityConversions
      - LowQualityConversionRate
      - Revenue
      - RevenuePerAssist
      - RevenuePerConversion
      - Ptr
    account_performance_report_non_hourly:
      - AccountId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - AccountName
      - AccountNumber
      - PhoneImpressions
      - PhoneCalls
      - Clicks
      - Ctr
      - Spend
      - Impressions
      - Assists
      - ReturnOnAdSpend
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - Conversions
      - ConversionsQualified
      - ConversionRate
      - CostPerAssist
      - CostPerConversion
      - LowQualityClicks
      - LowQualityClicksPercent
      - LowQualityImpressions
      - LowQualitySophisticatedClicks
      - LowQualityConversions
      - LowQualityConversionRate
      - Revenue
      - RevenuePerAssist
      - RevenuePerConversion
      - Ptr
    ad_performance_report_hourly:
      - AccountId
      - CampaignId
      - AdGroupId
      - AdId
      - TimePeriod
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - DeliveredMatchType
      - AccountName
      - CampaignName
      - CampaignType
      - AdGroupName
      - Impressions
      - Clicks
      - Ctr
      - Spend
      - CostPerConversion
      - DestinationUrl
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - CustomParameters
      - FinalAppUrl
      - AdDescription
      - AdDescription2
      - ViewThroughConversions
      - ViewThroughConversionsQualified
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist
    ad_performance_report_non_hourly:
      - AccountId
      - CampaignId
      - AdGroupId
      - AdId
      - TimePeriod
      - AbsoluteTopImpressionRatePercent
      - TopImpressionRatePercent
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Language
      - Network
      - DeviceOS
      - TopVsOther
      - BidMatchType
      - DeliveredMatchType
      - AccountName
      - CampaignName
      - CampaignType
      - AdGroupName
      - Impressions
      - Clicks
      - Ctr
      - Spend
      - CostPerConversion
      - DestinationUrl
      - Assists
      - ReturnOnAdSpend
      - CostPerAssist
      - CustomParameters
      - FinalAppUrl
      - AdDescription
      - AdDescription2
      - ViewThroughConversions
      - ViewThroughConversionsQualified
      - AllCostPerConversion
      - AllReturnOnAdSpend
      - Conversions
      - ConversionRate
      - ConversionsQualified
      - AverageCpc
      - AveragePosition
      - AverageCpm
      - AllConversions
      - AllConversionRate
      - AllRevenue
      - AllRevenuePerConversion
      - Revenue
      - RevenuePerConversion
      - RevenuePerAssist

  # Base bulk streams
  ## This stream is used as a stream template in a dynamic_streams section to create bulk streams dynamically.
  ## To define new bulk stream, you need to add a new object of stream parameters to list_of_parameters_for_stream.
  ## Required params to define a bulk stream:
  ## - name
  ## - DownloadEntities
  ## - schema_loader
  ## - schema_loader
  ## Then components resolving login in dynamic streams will set provided in list_of_parameters_for_stream object parameters
  ## to base bulk stream template and add this stream to a catalog.
  base_bulk_stream:
    # https://learn.microsoft.com/en-us/advertising/bulk-service/label?view=bingads-13
    type: DeclarativeStream
    primary_key: Id
    # $parameters:
    #   DownloadEntities: to_be_set
    retriever:
      $ref: "#/definitions/basic_bulk_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_bulk_async_retriever/creation_requester"
        request_body_json:
          AccountIds: "['{{ stream_partition['account_id'] }}']"
          DataScope: EntityData
          DownloadEntities: '{{ parameters["DownloadEntities"] }}'
          DownloadFileType: Csv
          FormatVersion: "'6.0'"
          # Typically, you request a full download the first time you call the operation by setting this element to null.
          # If you set a date and time that is more than 30 days ago, an error will be returned.
          # ref: https://learn.microsoft.com/en-ie/advertising/bulk-service/downloadcampaignsbyaccountids?view=bingads-13&tabs=prod&pivots=rest#request-body
          LastSyncTimeInUTC: >-
            {%- set _start_date = stream_interval.get('start_time') -%}
            {%- set min_available_date = format_datetime(now_utc() - duration('P30D'), '%Y-%m-%d') -%}
            {{ str_to_datetime(_start_date).isoformat('T', 'milliseconds') if _start_date and format_datetime(_start_date, '%Y-%m-%d') >= min_available_date else "" }}
          CompressionType: GZip
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - "Account Id"
            value: "{{ stream_partition['account_id'] }}"
      - type: CustomTransformation
        class_name: source_declarative_manifest.components.BulkDatetimeToRFC3339
    incremental_sync: "#/definitions/incremental_bulk_datetime_cursor"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_declarative_manifest.components.BulkStreamsStateMigration
      - type: LegacyToPerPartitionStateMigration

  # base retrievers
  basic_async_retriever:
    type: AsyncRetriever
    partition_router:
      $ref: "#/definitions/account_substream_partition_router"
    status_mapping:
      failed:
        - Error
      running:
        - Pending
      completed:
        - Success
      timeout: []
    download_target_extractor:
      type: DpathExtractor
      field_path:
        - ReportRequestStatus
        - ReportDownloadUrl
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    status_extractor:
      type: DpathExtractor
      field_path:
        - ReportRequestStatus
        - Status
    polling_requester:
      type: HttpRequester
      url_base: https://reporting.api.bingads.microsoft.com/
      path: Reporting/v13/GenerateReport/Poll
      http_method: POST
      authenticator: "#/definitions/authenticator"
      request_headers:
        Content-Type: application/json
        DeveloperToken: "{{ config['developer_token'] }}"
        CustomerId: "'{{ stream_partition.extra_fields['ParentCustomerId'] }}'"
        CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
      request_body_json:
        ReportRequestId: "'{{ creation_response['ReportRequestId'] }}'"
    download_requester:
      type: HttpRequester
      url_base: "{{download_target}}"
      http_method: GET
    download_decoder:
      type: ZipfileDecoder
      decoder:
        type: CsvDecoder
        encoding: "utf-8-sig"
        set_values_to_none:
          - ""
          - "--"
    creation_requester:
      type: HttpRequester
      url_base: https://reporting.api.bingads.microsoft.com/
      path: Reporting/v13/GenerateReport/Submit
      http_method: POST
      request_headers:
        Content-Type: application/json
        DeveloperToken: "{{ config['developer_token'] }}"
        CustomerId: "'{{ stream_partition.extra_fields['ParentCustomerId'] }}'"
        CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
      authenticator: "#/definitions/authenticator"
  basic_bulk_async_retriever:
    type: AsyncRetriever
    partition_router:
      $ref: "#/definitions/account_substream_partition_router"
    status_mapping:
      failed:
        - Failed
        - FailedFullSyncRequired
      running:
        - InProgress
      completed:
        - Completed
      timeout: []
    download_target_extractor:
      type: DpathExtractor
      field_path:
        - ResultFileUrl
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
      record_filter:
        type: RecordFilter
        condition: "{{ record['Type'] not in ['Format Version', 'Account']}}"
      schema_normalization: Default
    status_extractor:
      type: DpathExtractor
      field_path:
        - RequestStatus
    polling_requester:
      # https://learn.microsoft.com/en-ie/advertising/bulk-service/getbulkdownloadstatus?view=bingads-13&tabs=prod&pivots=rest
      type: HttpRequester
      url_base: https://bulk.api.bingads.microsoft.com/
      path: Bulk/v13/BulkDownloadStatus/Query
      http_method: POST
      authenticator: "#/definitions/authenticator"
      request_headers:
        Content-Type: application/json
        DeveloperToken: "{{ config['developer_token'] }}"
        CustomerId: "'{{ stream_partition.extra_fields['ParentCustomerId'] }}'"
        CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
      request_body_json:
        RequestId: "'{{ creation_response['DownloadRequestId'] }}'"
    download_requester:
      type: HttpRequester
      url_base: "{{download_target}}"
      http_method: GET
    download_decoder:
      type: GzipDecoder
      decoder:
        type: CsvDecoder
        encoding: "utf-8-sig"
        set_values_to_none:
          - ""
    creation_requester:
      # https://learn.microsoft.com/en-ie/advertising/bulk-service/downloadcampaignsbyaccountids?view=bingads-13&tabs=prod&pivots=rest
      type: HttpRequester
      url_base: https://bulk.api.bingads.microsoft.com/
      path: Bulk/v13/Campaigns/DownloadByAccountIds
      http_method: POST
      request_headers:
        Content-Type: application/json
        DeveloperToken: "{{ config['developer_token'] }}"
        CustomerId: "'{{ stream_partition.extra_fields['ParentCustomerId'] }}'"
        CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
      authenticator: "#/definitions/authenticator"

  # substream partition routers
  account_substream_partition_router:
    type: CustomPartitionRouter
    class_name: source_declarative_manifest.components.LightSubstreamPartitionRouter
    parent_stream_configs:
      - type: ParentStreamConfig
        # Id is the primary key of the accounts stream but an integer
        # and not a string. We need to convert it to a string to be able
        # to get the state from the previous state format transformed.
        parent_key: parsed_account_id
        partition_field: account_id
        stream: "#/definitions/accounts_stream"
        extra_fields:
          - - ParentCustomerId

  # cursors section
  incremental_sync_report_datetime_cursor:
    type: DatetimeBasedCursor
    cursor_field: TimePeriod
    cursor_datetime_formats:
      - "%Y-%m-%d"
    datetime_format: "%Y-%m-%d"
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: |
        {%- set last_year = now_utc() - duration('P1Y') -%}
        {%- set default_date = last_year.strftime('%Y-01-01') -%}
        {%- set start_date = config.get('reports_start_date', default_date) -%}
        {{ start_date }}
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      # we need the end time to include the time part as well to distinguish from the start time
      # if we are syncing in same day, then we can evaluate boundaries effectively like lower >= upper
      datetime: "{{ format_datetime(now_utc(), '%Y-%m-%dT%H:%M:%S%z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
  incremental_sync_budget_summary_report_datetime_cursor:
    type: DatetimeBasedCursor
    cursor_field: Date
    cursor_datetime_formats:
      - "%Y-%m-%d"
      - "%m/%d/%Y"
    datetime_format: "%Y-%m-%d"
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: |
        {%- set last_year = now_utc() - duration('P1Y') -%}
        {%- set default_date = last_year.strftime('%Y-01-01') -%}
        {%- set start_date = config.get('reports_start_date', default_date) -%}
        {{ start_date }}
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      # we need the end time to include the time part as well to distinguish from the start time
      # if we are syncing in same day, then we can evaluate boundaries effectively like lower >= upper
      datetime: "{{ format_datetime(now_utc(), '%Y-%m-%dT%H:%M:%S%z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
  incremental_sync_report_hourly_datetime_cursor:
    type: DatetimeBasedCursor
    cursor_field: TimePeriod
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S+00:00"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: |
        {%- set last_year = now_utc() - duration('P1Y') -%}
        {%- set default_date = last_year.strftime('%Y-01-01') -%}
        {%- set start_date = config.get('reports_start_date', default_date) -%}
        {{ start_date }}
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      # we need the end time to include the time part as well to distinguish from the start time
      # if we are syncing in same day, then we can evaluate boundaries effectively like lower >= upper
      datetime: "{{ format_datetime(now_utc(), '%Y-%m-%dT%H:%M:%S+00:00') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
  incremental_bulk_datetime_cursor:
    type: DatetimeBasedCursor
    cursor_field: "Modified Time"
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%_ms%z"
      - "%m/%d/%Y %H:%M:%S.%_ms"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%_ms%z"
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      # falling back 1 year as anyway we will leave empty LastSyncTimeInUTC for dates > 30 Days
      datetime: '{{ config["reports_start_date"] if config.get("reports_start_date") else format_datetime(now_utc() - duration("P1Y"), "%Y-%m-%d") }}'
      datetime_format: "%Y-%m-%d"

  transformations:
    # Shared by multiple performance report streams (account + ad)
    performance_report_common_transformations:
      - type: AddedFieldDefinition
        path:
          - AccountId
        value: |
          {{ record['AccountId'] | int if record.get('AccountId') else none }}
      - type: AddedFieldDefinition
        path:
          - Assists
        value: |
          {{ record['Assists'] | int if record.get('Assists') else 0 }}
      - type: AddedFieldDefinition
        path:
          - AverageCpc
        value: |
          {{ record['AverageCpc'] | float if record.get('AverageCpc') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - AverageCpm
        value: |
          {{ record['AverageCpm'] | float if record.get('AverageCpm') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - AveragePosition
        value: |
          {{ record['AveragePosition'] | float if record.get('AveragePosition') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - Clicks
        value: |
          {{ record['Clicks'] | int if record.get('Clicks') else 0 }}
      - type: AddedFieldDefinition
        path:
          - ConversionRate
        value: |
          {% set v = record.get('ConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Conversions
        value: |
          {{ record['Conversions'] | float if record.get('Conversions') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - ConversionsQualified
        value: |
          {{ record['ConversionsQualified'] | float if record.get('ConversionsQualified') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - CostPerAssist
        value: |
          {% set v = record.get('CostPerAssist') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - CostPerConversion
        value: |
          {% set v = record.get('CostPerConversion') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Ctr
        value: |
          {% set v = record.get('Ctr') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Impressions
        value: |
          {{ record['Impressions'] | int if record.get('Impressions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - ReturnOnAdSpend
        value: |
          {% set v = record.get('ReturnOnAdSpend') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Revenue
        value: |
          {{ record['Revenue'] | replace(',', '') | float if record.get('Revenue') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - RevenuePerAssist
        value: |
          {% set v = record.get('RevenuePerAssist') %}
          {{ v | replace(',', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - RevenuePerConversion
        value: |
          {% set v = record.get('RevenuePerConversion') %}
          {{ v | replace(',', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Spend
        value: |
          {{ record['Spend'] | float if record.get('Spend') else 0.0 }}

    # used in all account performance report streams
    account_performance_report_common_transformations:
      - type: AddedFieldDefinition
        path:
          - PhoneImpressions
        value: |
          {{ record['PhoneImpressions'] | int if record.get('PhoneImpressions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - PhoneCalls
        value: |
          {{ record['PhoneCalls'] | int if record.get('PhoneCalls') else 0 }}
      - type: AddedFieldDefinition
        path:
          - Ptr
        value: |
          {% set v = record.get('Ptr') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - LowQualityClicks
        value: |
          {{ record['LowQualityClicks'] | int if record.get('LowQualityClicks') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualityClicksPercent
        value: |
          {% set v = record.get('LowQualityClicksPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - LowQualityImpressions
        value: |
          {{ record['LowQualityImpressions'] | int if record.get('LowQualityImpressions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualitySophisticatedClicks
        value: |
          {{ record['LowQualitySophisticatedClicks'] | int if record.get('LowQualitySophisticatedClicks') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualityConversions
        value: |
          {{ record['LowQualityConversions'] | int if record.get('LowQualityConversions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualityConversionRate
        value: |
          {% set v = record.get('LowQualityConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}

    # used in all ad performance report streams
    ad_performance_report_common_transformations:
      - type: AddedFieldDefinition
        path:
          - AdGroupId
        value: |
          {{ record['AdGroupId'] | int if record.get('AdGroupId') else none }}
      - type: AddedFieldDefinition
        path:
          - AdId
        value: |
          {{ record['AdId'] | int if record.get('AdId') else none }}
      - type: AddedFieldDefinition
        path:
          - AllConversionRate
        value: |
          {% set v = record.get('AllConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllConversions
        value: |
          {{ record['AllConversions'] | int if record.get('AllConversions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - AllReturnOnAdSpend
        value: |
          {% set v = record.get('AllReturnOnAdSpend') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllRevenue
        value: |
          {{ record['AllRevenue'] | replace(',', '') | float if record.get('AllRevenue') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - CampaignId
        value: |
          {{ record['CampaignId'] | int if record.get('CampaignId') else 0 }}
      - type: AddedFieldDefinition
        path:
          - ViewThroughConversions
        value: |
          {{ record['ViewThroughConversions'] | int if record.get('ViewThroughConversions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - AllCostPerConversion
        value: |
          {% set v = record.get('AllCostPerConversion') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllRevenuePerConversion
        value: |
          {% set v = record.get('AllRevenuePerConversion') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ViewThroughConversionsQualified
        value: |
          {% set v = record.get('ViewThroughConversionsQualified') %}
          {{ v | float if v is not none and v != "" else None }}
      # all below are string fields, just need to ensure they not empty
      - type: AddedFieldDefinition
        path:
          - DestinationUrl
        value: |
          {{ record['DestinationUrl'] if record.get('DestinationUrl') else none }}
      - type: AddedFieldDefinition
        path:
          - CustomParameters
        value: |
          {{ record['CustomParameters'] if record.get('CustomParameters') else none }}
      - type: AddedFieldDefinition
        path:
          - FinalAppUrl
        value: |
          {{ record['FinalAppUrl'] if record.get('FinalAppUrl') else none }}
      - type: AddedFieldDefinition
        path:
          - AdDescription
        value: |
          {{ record['AdDescription'] if record.get('AdDescription') else none }}
      - type: AddedFieldDefinition
        path:
          - AdDescription2
        value: |
          {{ record['AdDescription2'] if record.get('AdDescription2') else none }}

    # used in ad performance report streams (except hourly)
    ad_performance_report_transformations:
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionRatePercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionRatePercent
        value: |
          {% set v = record.get('TopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}

    age_gender_audience_report_transformations:
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionRatePercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionRatePercent
        value: |
          {% set v = record.get('TopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Goal
        value: "{{ none if record.get('Goal') == '' else record.get('Goal') }}"
      - type: AddedFieldDefinition
        path:
          - GoalType
        value: "{{ none if record.get('GoalType') == '' else record.get('GoalType') }}"
      - type: AddedFieldDefinition
        path:
          - ViewThroughConversionsQualified
        value: "{{ none if record.get('ViewThroughConversionsQualified') == '' else record.get('ViewThroughConversionsQualified') }}"
    ad_group_performance_report_transformations:
      - type: AddedFieldDefinition
        path:
          - AllConversionRate
        value: |
          {% set v = record.get('AllConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllCostPerConversion
        value: |
          {% set v = record.get('AllCostPerConversion') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllRevenue
        value: |
          {{ record['AllRevenue'] | replace(',', '') | float if record.get('AllRevenue') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - AllRevenuePerConversion
        value: |
          {% set v = record.get('AllRevenuePerConversion') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ConversionRate
        value: |
          {% set v = record.get('ConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Ctr
        value: |
          {% set v = record.get('Ctr') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Ptr
        value: |
          {% set v = record.get('Ptr') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - RevenuePerAssist
        value: |
          {% set v = record.get('RevenuePerAssist') %}
          {{ v | replace(',', '') | float if v is not none and v != "" else None }}

    # used in hourly report streams to convert date-time format for backward compatibility
    hourly_report_transformations:
      - type: AddedFieldDefinition
        path:
          - TimePeriod
        # Bing Ads API reports with hourly aggregation provides date fields in custom format: "2023-11-04|11"
        # Return date in RFC3339 format: "2023-11-04T11:00:00+00:00"
        value: |
          {%- set parts = record.TimePeriod.split('|') -%}
          {%- set time_period = record.TimePeriod -%}
          {%- set date_part = '' -%}
          {%- set hour_part = 0 -%}
          {%- if parts|length > 1 -%}
            {%- set date_part = parts[0] -%}
            {%- set hour_part = parts[1]|int -%}
            {%- set time_period = date_part ~ "T" ~ "%02d" % hour_part ~ ":00:00+00:00" -%}
          {%- endif -%}
          {{ time_period }}

    # Used in campaign performance report streams
    campaign_performance_report_common_transformations:
      - type: AddedFieldDefinition
        path:
          - AllConversionRate
        value: |
          {% set v = record.get('AllConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllRevenue
        value: |
          {{ record['AllRevenue'] | replace(',', '') | float if record.get('AllRevenue') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - ViewThroughConversions
        value: |
          {{ record['ViewThroughConversions'] | int if record.get('ViewThroughConversions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - PhoneImpressions
        value: |
          {{ record['PhoneImpressions'] | int if record.get('PhoneImpressions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - PhoneCalls
        value: |
          {{ record['PhoneCalls'] | int if record.get('PhoneCalls') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualityClicks
        value: |
          {{ record['LowQualityClicks'] | int if record.get('LowQualityClicks') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualityClicksPercent
        value: |
          {% set v = record.get('LowQualityClicksPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - LowQualityImpressions
        value: |
          {{ record['LowQualityImpressions'] | int if record.get('LowQualityImpressions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualitySophisticatedClicks
        value: |
          {{ record['LowQualitySophisticatedClicks'] | int if record.get('LowQualitySophisticatedClicks') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualityConversions
        value: |
          {{ record['LowQualityConversions'] | int if record.get('LowQualityConversions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - LowQualityConversionRate
        value: |
          {% set v = record.get('LowQualityConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}

    ad_group_impression_performance_report_transformations:
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionRatePercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Ctr
        value: |
          {% set v = record.get('Ctr') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionRatePercent
        value: |
          {% set v = record.get('TopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllConversionRate
        value: |
          {% set v = record.get('AllConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ConversionRate
        value: |
          {% set v = record.get('ConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionShareLostToBudgetPercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionShareLostToBudgetPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionShareLostToRankPercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionShareLostToRankPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionSharePercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionSharePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ClickSharePercent
        value: |
          {% set v = record.get('ClickSharePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ExactMatchImpressionSharePercent
        value: |
          {% set v = record.get('ExactMatchImpressionSharePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ImpressionLostToBudgetPercent
        value: |
          {% set v = record.get('ImpressionLostToBudgetPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ImpressionLostToRankAggPercent
        value: |
          {% set v = record.get('ImpressionLostToRankAggPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ImpressionSharePercent
        value: |
          {% set v = record.get('ImpressionSharePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionShareLostToBudgetPercent
        value: |
          {% set v = record.get('TopImpressionShareLostToBudgetPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionShareLostToRankPercent
        value: |
          {% set v = record.get('TopImpressionShareLostToRankPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionSharePercent
        value: |
          {% set v = record.get('TopImpressionSharePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
    ad_group_impression_performance_report_hourly_transformations:
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionRatePercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Ctr
        value: |
          {% set v = record.get('Ctr') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionRatePercent
        value: |
          {% set v = record.get('TopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllConversionRate
        value: |
          {% set v = record.get('AllConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ConversionRate
        value: |
          {% set v = record.get('ConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionSharePercent
        value: |
          {% set v = record.get('TopImpressionSharePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
    campaign_impression_performance_report_transformations:
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionRatePercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionShareLostToBudgetPercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionShareLostToBudgetPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionShareLostToRankPercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionShareLostToRankPercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionSharePercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionSharePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Ctr
        value: |
          {% set v = record.get('Ctr') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
[...]
