version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - users
definitions:
  streams:
    awarded_certifications:
      type: DeclarativeStream
      name: awarded_certifications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base:
            https://app.workramp.com/api/v1/academies/{{ config['academy_id']
            }}
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['api_key'] }}"
          path: /awarded_certifications
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - awarded_certifications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "http://json-schema.org/draft-07/schema#"
          type: object
          properties:
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            user_id:
              type:
                - "null"
                - string
            user_name:
              type:
                - "null"
                - string
            user_email:
              type:
                - "null"
                - string
            awarded_at:
              type:
                - "null"
                - number
          additionalProperties: true
    certifications:
      type: DeclarativeStream
      name: certifications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base:
            https://app.workramp.com/api/v1/academies/{{ config['academy_id']
            }}
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['api_key'] }}"
          path: /certifications
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - certifications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "http://json-schema.org/draft-07/schema#"
          type: object
          properties:
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            awarded_by_name:
              type:
                - "null"
                - string
            awarded_by_title:
              type:
                - "null"
                - string
          additionalProperties: true
    paths_users:
      type: DeclarativeStream
      name: paths_users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base:
            https://app.workramp.com/api/v1/academies/{{ config['academy_id']
            }}
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['api_key'] }}"
          path: /paths_users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - paths_users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "http://json-schema.org/draft-07/schema#"
          type: object
          properties:
            id:
              type:
                - "null"
                - string
          additionalProperties: true
    registrations:
      type: DeclarativeStream
      name: registrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base:
            https://app.workramp.com/api/v1/academies/{{ config['academy_id']
            }}
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['api_key'] }}"
          path: /registrations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - registrations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "http://json-schema.org/draft-07/schema#"
          type: object
          properties:
            id:
              type:
                - "null"
                - string
            completed_at:
              type:
                - "null"
                - number
            is_completed:
              type:
                - "null"
                - boolean
            completion_percentage:
              type:
                - "null"
                - number
            score:
              type:
                - "null"
                - number
            due_at:
              type:
                - "null"
                - string
            due_date:
              type:
                - "null"
                - string
            pass_status:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - number
            user:
              type:
                - "null"
                - object
            content:
              type:
                - "null"
                - object
          additionalProperties: true
    trainings:
      type: DeclarativeStream
      name: trainings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base:
            https://app.workramp.com/api/v1/academies/{{ config['academy_id']
            }}
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['api_key'] }}"
          path: /trainings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - trainings
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "http://json-schema.org/draft-07/schema#"
          type: object
          properties:
            id:
              type:
                - "null"
                - string
            type:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - number
          additionalProperties: true
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base:
            https://app.workramp.com/api/v1/academies/{{ config['academy_id']
            }}
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['api_key'] }}"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "http://json-schema.org/draft-07/schema#"
          type: object
          properties:
            id:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            segments:
              type:
                - "null"
                - array
            display_name:
              type:
                - "null"
                - string
            first_name:
              type:
                - "null"
                - string
            last_name:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            custom_registration_field_values:
              type:
                - "null"
                - array
          additionalProperties: true
  base_requester:
    type: HttpRequester
    url_base: https://app.workramp.com/api/v1/academies/{{ config['academy_id'] }}
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['api_key'] }}"
streams:
  - type: DeclarativeStream
    name: awarded_certifications
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base:
          https://app.workramp.com/api/v1/academies/{{ config['academy_id']
          }}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        path: /awarded_certifications
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - awarded_certifications
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          user_id:
            type:
              - "null"
              - string
          user_name:
            type:
              - "null"
              - string
          user_email:
            type:
              - "null"
              - string
          awarded_at:
            type:
              - "null"
              - number
        additionalProperties: true
  - type: DeclarativeStream
    name: certifications
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base:
          https://app.workramp.com/api/v1/academies/{{ config['academy_id']
          }}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        path: /certifications
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - certifications
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
            format: date-time
          awarded_by_name:
            type:
              - "null"
              - string
          awarded_by_title:
            type:
              - "null"
              - string
        additionalProperties: true
  - type: DeclarativeStream
    name: paths_users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base:
          https://app.workramp.com/api/v1/academies/{{ config['academy_id']
          }}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        path: /paths_users
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - paths_users
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        properties:
          id:
            type:
              - "null"
              - string
        additionalProperties: true
  - type: DeclarativeStream
    name: registrations
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base:
          https://app.workramp.com/api/v1/academies/{{ config['academy_id']
          }}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        path: /registrations
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - registrations
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          completed_at:
            type:
              - "null"
              - number
          is_completed:
            type:
              - "null"
              - boolean
          completion_percentage:
            type:
              - "null"
              - number
          score:
            type:
              - "null"
              - number
          due_at:
            type:
              - "null"
              - string
          due_date:
            type:
              - "null"
              - string
          pass_status:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - number
          user:
            type:
              - "null"
              - object
          content:
            type:
              - "null"
              - object
        additionalProperties: true
  - type: DeclarativeStream
    name: trainings
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base:
          https://app.workramp.com/api/v1/academies/{{ config['academy_id']
          }}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        path: /trainings
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - trainings
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - number
        additionalProperties: true
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base:
          https://app.workramp.com/api/v1/academies/{{ config['academy_id']
          }}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        path: /users
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - users
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          segments:
            type:
              - "null"
              - array
          display_name:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          custom_registration_field_values:
            type:
              - "null"
              - array
        additionalProperties: true
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - academy_id
    properties:
      api_key:
        type: string
        title: API Token
        airbyte_secret: true
        description: The API Token for Workramp
        order: 0
      academy_id:
        type: string
        title: Academy ID
        description: The id of the Academy
        order: 1
    additionalProperties: true
metadata:
  autoImportSchema:
    awarded_certifications: false
    certifications: false
    paths_users: false
    registrations: false
    trainings: false
    users: false
schemas:
  awarded_certifications:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      user_id:
        type:
          - "null"
          - string
      user_name:
        type:
          - "null"
          - string
      user_email:
        type:
          - "null"
          - string
      awarded_at:
        type:
          - "null"
          - number
    additionalProperties: true
  certifications:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      awarded_by_name:
        type:
          - "null"
          - string
      awarded_by_title:
        type:
          - "null"
          - string
    additionalProperties: true
  paths_users:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      id:
        type:
          - "null"
          - string
    additionalProperties: true
  registrations:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      id:
        type:
          - "null"
          - string
      completed_at:
        type:
          - "null"
          - number
      is_completed:
        type:
          - "null"
          - boolean
      completion_percentage:
        type:
          - "null"
          - number
      score:
        type:
          - "null"
          - number
      due_at:
        type:
          - "null"
          - string
      due_date:
        type:
          - "null"
          - string
      pass_status:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - number
      user:
        type:
          - "null"
          - object
      content:
        type:
          - "null"
          - object
    additionalProperties: true
  trainings:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      id:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - number
    additionalProperties: true
  users:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      id:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      segments:
        type:
          - "null"
          - array
      display_name:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      custom_registration_field_values:
        type:
          - "null"
          - array
    additionalProperties: true
