version: 6.27.0

type: DeclarativeSource

description: >-
  Connector for Help Scout Inbox API 2.0:
  https://developer.helpscout.com/mailbox-api/

  Auth Overview:
  https://developer.helpscout.com/mailbox-api/overview/authentication/

check:
  type: CheckStream
  stream_names:
    - conversations

definitions:
  streams:
    conversations:
      type: DeclarativeStream
      name: conversations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/conversations
          http_method: GET
          request_parameters:
            status: all
            sortOrder: asc
            embed: threads
            sortField: modifiedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - conversations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: userUpdatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modifiedSince
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations"
    conversation_threads:
      type: DeclarativeStream
      name: conversation_threads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/conversations/{{ stream_partition['conversation_id'] }}/threads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - threads
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 25
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: conversation_id
              stream:
                $ref: "#/definitions/streams/conversations"
              incremental_dependency: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversation_threads"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/customers
          http_method: GET
          request_parameters:
            sortOrder: asc
            sortField: modifiedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - customers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modifiedSince
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    inboxes:
      type: DeclarativeStream
      name: inboxes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/mailboxes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - mailboxes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inboxes"
    inbox_custom_fields:
      type: DeclarativeStream
      name: inbox_custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/mailboxes/{{ stream_partition['inbox_id'] }}/fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - fields
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: inbox_id
              stream:
                $ref: "#/definitions/streams/inboxes"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inbox_custom_fields"
    inbox_folders:
      type: DeclarativeStream
      name: inbox_folders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/mailboxes/{{ stream_partition['inbox_id'] }}/folders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - folders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: inbox_id
              stream:
                $ref: "#/definitions/streams/inboxes"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inbox_folders"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    workflows:
      type: DeclarativeStream
      name: workflows
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/workflows
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - workflows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflows"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - tags
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    team_members:
      type: DeclarativeStream
      name: team_members
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/teams/{{ stream_partition['team_id'] }}/members
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                $ref: "#/definitions/streams/teams"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/team_members"
  base_requester:
    type: HttpRequester
    url_base: https://api.helpscout.net
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: client_credentials
      client_secret: "{{ config[\"client_secret\"] }}"
      expires_in_name: expires_in
      access_token_name: access_token
      token_refresh_endpoint: https://api.helpscout.net/v2/oauth2/token
      refresh_request_body: {}

streams:
  - $ref: "#/definitions/streams/conversations"
  - $ref: "#/definitions/streams/conversation_threads"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/inboxes"
  - $ref: "#/definitions/streams/inbox_custom_fields"
  - $ref: "#/definitions/streams/inbox_folders"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/workflows"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/team_members"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - start_date
    properties:
      client_id:
        type: string
        name: client_id
        title: Application ID
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        name: client_secret
        title: Application Secret
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    conversations: true
    conversation_threads: true
    customers: true
    inboxes: true
    inbox_custom_fields: true
    inbox_folders: true
    users: true
    workflows: true
    tags: true
    teams: true
    team_members: true
  testedStreams:
    conversations:
      streamHash: c941b5fe232cd9c9350aa8ae1f77fc136ef609a6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    conversation_threads:
      streamHash: 036858e2d1c8e2a06ee199f51b645df36a353243
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customers:
      streamHash: 80e42c1f8ceea8cb07e241f226497cab6e72377d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    inboxes:
      streamHash: 7eb770d53fcab0b6fb7d0e1e52aa4d028d9bbd6a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    inbox_custom_fields:
      streamHash: cb2e6048d9061eb4ed8748569cc8e6a245d4ea5c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    inbox_folders:
      streamHash: d72dbdc885aca049c57444b628cf3276d0dff59c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: ea415585336435c3943652aef46bf73a462ed13b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    workflows:
      streamHash: 1c9d2dd77d5042657b8d54edb83f5884c7e3b758
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: f81233680128209d6a29c5178de336476a617486
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: 9da4eb678acd6244b1227a31f383634936a77222
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    team_members:
      streamHash: cff8a0edcfb14faf56ae6febb670550576e0b7b2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.helpscout.com/mailbox-api/

schemas:
  conversations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _embedded:
        type:
          - object
          - "null"
        properties:
          threads:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                _embedded:
                  type:
                    - object
                    - "null"
                  properties:
                    attachments:
                      type:
                        - array
                        - "null"
                _links:
                  type:
                    - object
                    - "null"
                  properties:
                    assignedTo:
                      type:
                        - object
                        - "null"
                      properties:
                        href:
                          type:
                            - string
                            - "null"
                    createdByCustomer:
                      type:
                        - object
                        - "null"
                      properties:
                        href:
                          type:
                            - string
                            - "null"
                    customer:
                      type:
                        - object
                        - "null"
                      properties:
                        href:
                          type:
                            - string
                            - "null"
                action:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    associatedEntities:
                      type:
                        - object
                        - "null"
                assignedTo:
                  type:
                    - object
                    - "null"
                  properties:
                    email:
                      type:
                        - string
                        - "null"
                    first:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - number
                        - "null"
                    last:
                      type:
                        - string
                        - "null"
                bcc:
                  type:
                    - array
                    - "null"
                body:
                  type:
                    - string
                    - "null"
                cc:
                  type:
                    - array
                    - "null"
                createdAt:
                  type:
                    - string
                    - "null"
                createdBy:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    email:
                      type:
                        - string
                        - "null"
                    first:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - number
                        - "null"
                    last:
                      type:
                        - string
                        - "null"
                    photoUrl:
                      type:
                        - string
                        - "null"
                customer:
                  type:
                    - object
                    - "null"
                  properties:
                    email:
                      type:
                        - string
                        - "null"
                    first:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - number
                        - "null"
                    last:
                      type:
                        - string
                        - "null"
                    photoUrl:
                      type:
                        - string
                        - "null"
                id:
                  type:
                    - number
                    - "null"
                savedReplyId:
                  type:
                    - number
                    - "null"
                source:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    via:
                      type:
                        - string
                        - "null"
                state:
                  type:
                    - string
                    - "null"
                status:
                  type:
                    - string
                    - "null"
                to:
                  type:
                    - array
                    - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          closedBy:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          createdByCustomer:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          mailbox:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          primaryCustomer:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          threads:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          web:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      bcc:
        type:
          - array
          - "null"
      cc:
        type:
          - array
          - "null"
      closedBy:
        type:
          - number
          - "null"
      closedByUser:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          first:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          last:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          first:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          last:
            type:
              - string
              - "null"
          photoUrl:
            type:
              - string
              - "null"
      customFields:
        type:
          - array
          - "null"
      customerWaitingSince:
        type:
          - object
          - "null"
        properties:
          friendly:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
      folderId:
        type:
          - number
          - "null"
      id:
        type: number
      mailboxId:
        type:
          - number
          - "null"
      number:
        type:
          - number
          - "null"
      preview:
        type:
          - string
          - "null"
      primaryCustomer:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          first:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          last:
            type:
              - string
              - "null"
          photoUrl:
            type:
              - string
              - "null"
      source:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          via:
            type:
              - string
              - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            color:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            tag:
              type:
                - string
                - "null"
      threads:
        type:
          - number
          - "null"
      userUpdatedAt:
        type: string
    required:
      - id
      - userUpdatedAt
  conversation_threads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _embedded:
        type:
          - object
          - "null"
        properties:
          attachments:
            type:
              - array
              - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          assignedTo:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          createdByCustomer:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          createdByUser:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          customer:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      action:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          associatedEntities:
            type:
              - object
              - "null"
            properties:
              user:
                type:
                  - number
                  - "null"
      assignedTo:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          first:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          last:
            type:
              - string
              - "null"
      bcc:
        type:
          - array
          - "null"
      body:
        type:
          - string
          - "null"
      cc:
        type:
          - array
          - "null"
      createdAt:
        type: string
      createdBy:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          first:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          last:
            type:
              - string
              - "null"
          photoUrl:
            type:
              - string
              - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          first:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          last:
            type:
              - string
              - "null"
          photoUrl:
            type:
              - string
              - "null"
      id:
        type: number
      openedAt:
        type:
          - string
          - "null"
      savedReplyId:
        type:
          - number
          - "null"
      source:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          via:
            type:
              - string
              - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      to:
        type:
          - array
          - "null"
    required:
      - id
      - createdAt
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _embedded:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - object
              - "null"
            properties:
              city:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              lines:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              postalCode:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
          chats:
            type:
              - array
              - "null"
          emails:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          phones:
            type:
              - array
              - "null"
          properties:
            type:
              - array
              - "null"
          social_profiles:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          websites:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                value:
                  type:
                    - string
                    - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          chats:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          emails:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          phones:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          social-profiles:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          websites:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      background:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      draft:
        type:
          - boolean
          - "null"
      firstName:
        type:
          - string
          - "null"
      gender:
        type:
          - string
          - "null"
      id:
        type: number
      lastName:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
      photoType:
        type:
          - string
          - "null"
      photoUrl:
        type:
          - string
          - "null"
      updatedAt:
        type: string
    required:
      - id
      - updatedAt
  inboxes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _links:
        type:
          - object
          - "null"
        properties:
          fields:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          folders:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      createdAt:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  inbox_custom_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      options:
        type:
          - array
          - "null"
      order:
        type:
          - number
          - "null"
      required:
        type:
          - boolean
          - "null"
    required:
      - id
  inbox_folders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      activeCount:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      totalCount:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      userId:
        type:
          - number
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      alternateEmails:
        type:
          - array
          - "null"
      createdAt:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: number
      initials:
        type:
          - string
          - "null"
      jobTitle:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      mention:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  workflows:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: number
      mailboxId:
        type:
          - number
          - "null"
      modifiedAt:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      order:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      color:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      ticketCount:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _links:
        type:
          - object
          - "null"
        properties:
          teamMembers:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: number
      initials:
        type:
          - string
          - "null"
      mention:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  team_members:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      alternateEmails:
        type:
          - array
          - "null"
      createdAt:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: number
      initials:
        type:
          - string
          - "null"
      jobTitle:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      mention:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
