# Configuration for {{ docker_repository }}
definition_type: {{ definition.type }}
resource_name: "{{ resource_name }}"

# EDIT THE CONFIGURATION BELOW!
configuration:
  docker_repository: {{ docker_repository }}
  docker_image_tag: {{ docker_image_tag }}
  documentation_uri: "" # REQUIRED | string | URL for the documentation