version: 5.10.2

type: DeclarativeSource

description: This is the setup guide for the Reply.io source connector.

check:
  type: CheckStream
  stream_names:
    - people

definitions:
  streams:
    people:
      type: DeclarativeStream
      name: people
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/people
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - people
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/people"
    schedules:
      type: DeclarativeStream
      name: schedules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/schedules
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/schedules"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/people/lists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lists"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/templates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - communityTemplates
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    blacklisted_domains:
      type: DeclarativeStream
      name: blacklisted_domains
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/Blacklist?outputType=All
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/blacklisted_domains"
    email_accounts:
      type: DeclarativeStream
      name: email_accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/emailAccounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/email_accounts"
  base_requester:
    type: HttpRequester
    url_base: https://api.reply.io/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: x-api-key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/people"
  - $ref: "#/definitions/streams/schedules"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/lists"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/blacklisted_domains"
  - $ref: "#/definitions/streams/email_accounts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    people: true
    schedules: true
    campaigns: true
    lists: true
    templates: true
    blacklisted_domains: true
    email_accounts: true
  testedStreams:
    people:
      streamHash: 95d75ccb3c10875a31bb6d204d3ead3458eb4eb0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    schedules:
      streamHash: 8734ebcfe6a41ca98372bfc0893c2c81b81798e7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    campaigns:
      streamHash: 2f9ce997daab92546d4c128273a1940ab6080937
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    lists:
      streamHash: f2d7302a273497c0398ab1e1f81f8036aac42d03
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      streamHash: 5e3c35792d68b502507f50a90e91ae95e00c5de4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    blacklisted_domains:
      streamHash: 3c6e4c9c8626ead6a0fa55c596485e70da4a77df
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    email_accounts:
      streamHash: d00b39c03cdae85cf81506ecf50e547849a9baab
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://api.doc.concordnow.com/

schemas:
  people:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      addingDate:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      company:
        type:
          - string
          - "null"
      companySize:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      customFields:
        type:
          - array
          - "null"
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: number
      industry:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      linkedInProfile:
        type:
          - string
          - "null"
      linkedInRecruiterUrl:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      phoneStatus:
        type:
          - string
          - "null"
      salesNavigatorUrl:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      timeZoneId:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  schedules:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      followUpTimings:
        type:
          - array
          - "null"
      id:
        type: number
      isDefault:
        type:
          - boolean
          - "null"
      mainTimings:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            isActive:
              type:
                - boolean
                - "null"
            timeRanges:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  fromTime:
                    type:
                      - object
                      - "null"
                    properties:
                      hour:
                        type:
                          - number
                          - "null"
                      minute:
                        type:
                          - number
                          - "null"
                  toTime:
                    type:
                      - object
                      - "null"
                    properties:
                      hour:
                        type:
                          - number
                          - "null"
                      minute:
                        type:
                          - number
                          - "null"
            weekDay:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      timezoneId:
        type:
          - string
          - "null"
    required:
      - id
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bouncesCount:
        type:
          - number
          - "null"
      created:
        type:
          - string
          - "null"
      deliveriesCount:
        type:
          - number
          - "null"
      emailAccount:
        type:
          - string
          - "null"
      emailAccounts:
        type:
          - array
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      opensCount:
        type:
          - number
          - "null"
      optOutsCount:
        type:
          - number
          - "null"
      outOfOfficeCount:
        type:
          - number
          - "null"
      ownerEmail:
        type:
          - string
          - "null"
      peopleActive:
        type:
          - number
          - "null"
      peopleCount:
        type:
          - number
          - "null"
      peopleFinished:
        type:
          - number
          - "null"
      peoplePaused:
        type:
          - number
          - "null"
      repliesCount:
        type:
          - number
          - "null"
      status:
        type:
          - number
          - "null"
    required:
      - id
  lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      body:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
    required:
      - id
  blacklisted_domains:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      domains:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
  email_accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      emailAddress:
        type:
          - string
          - "null"
      id:
        type: number
      senderName:
        type:
          - string
          - "null"
      signature:
        type:
          - string
          - "null"
    required:
      - id
