@use "scss/variables";
@use "scss/colors";
@forward "./NavItem.module.scss";

.dropdownMenuButton {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: all variables.$transition-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: variables.$spacing-sm;

  &.open {
    background-color: colors.$blue-100;
  }

  &:hover:not(.open),
  &:focus-visible:not(.open) {
    background-color: colors.$grey-100;
  }
}
