@use "../../../../scss/colors";
@use "../../../../scss/variables";

.sidebarMenu {
  position: relative;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background: transparent;
  border: 0;
  cursor: pointer;
  border-radius: variables.$border-radius-md;
  color: inherit;
  text-decoration: none;
  transition: all variables.$transition-out;

  .text {
    margin-top: 7px;
  }

  &.open {
    background-color: colors.$blue-100;
  }

  &:hover:not(.open),
  &:focus-visible:not(.open) {
    background-color: colors.$grey-50;
  }
}

.items {
  position: absolute;
  left: 100%;
  bottom: 0;
  min-width: 260px;
  margin: 0 0 14px 12px;
  padding: variables.$spacing-sm 0;
  outline: none;
  border-radius: variables.$border-radius-xs;
  background-color: colors.$white;
  box-shadow: 0 8px 10px 0 rgb(11 10 26 / 4%), 0 3px 14px 0 rgb(11 10 26 / 8%), 0 5px 5px 0 rgb(11 10 26 / 12%);

  &:focus-within {
    outline: none;
  }

  .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 42px;
    width: 100%;
    padding: 0 variables.$spacing-lg;
    border: 0;
    background-color: transparent;
    text-decoration: none;

    .icon {
      display: flex;
      align-items: center;
      width: 34px;
      font-size: 22px;
      color: colors.$dark-blue;
    }

    &.active,
    &:hover {
      background-color: colors.$grey-50;
    }
  }
}
