version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - team

definitions:
  streams:
    team:
      type: DeclarativeStream
      name: team
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: team
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/team"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    activities:
      type: DeclarativeStream
      name: activities
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: activities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activities"
    unsubscribes:
      type: DeclarativeStream
      name: unsubscribes
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: unsubscribes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unsubscribes"
  base_requester:
    type: HttpRequester
    url_base: https://api.lemlist.com/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: access_token
      request_parameters:
        limit: 100

streams:
  - $ref: "#/definitions/streams/team"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/activities"
  - $ref: "#/definitions/streams/unsubscribes"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        title": API key
        description: Lemlist API key,
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    team: false
    campaigns: false
    activities: false
    unsubscribes: false

schemas:
  team:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      _id:
        type:
          - "null"
          - string
      _updatedAt:
        type:
          - "null"
          - string
        format: "%Y-%m-%dT%H:%M:%S.%fZ"
      apiKey:
        type:
          - "null"
          - string
      beta:
        type: array
        items:
          type: string
      billing:
        type: object
        properties:
          products:
            type: array
            items:
              type: object
              properties:
                freetrialExpiresAt:
                  type:
                    - "null"
                    - string
                  format: "%Y-%m-%dT%H:%M:%S.%fZ"
                name:
                  type: string
                ok:
                  type:
                    - "null"
                    - boolean
                okUpdatedAt:
                  type:
                    - "null"
                    - string
                  format: "%Y-%m-%dT%H:%M:%S.%fZ"
                plan:
                  type: string
                quantity:
                  type: integer
                stripeSubscriptionId:
                  type: string
      campaignCron:
        type: object
        properties:
          lastAt:
            type:
              - "null"
              - string
            format: "%Y-%m-%dT%H:%M:%S.%fZ"
      createdAt:
        type:
          - "null"
          - string
        format: "%Y-%m-%dT%H:%M:%S.%fZ"
      createdBy:
        type:
          - "null"
          - string
      ctdCheck:
        type: object
        properties:
          lastAt:
            type:
              - "null"
              - string
            format: "%Y-%m-%dT%H:%M:%S.%fZ"
      dataIntegrityChecksCron:
        type: object
        properties:
          errors:
            type: array
            items:
              type: object
              additionalProperties: true
              properties:
                text:
                  type: string
          lastAt:
            type:
              - "null"
              - string
            format: "%Y-%m-%dT%H:%M:%S.%fZ"
      linkedinLastScannedAt:
        type:
          - "null"
          - string
        format: "%Y-%m-%dT%H:%M:%S.%fZ"
      name:
        type:
          - "null"
          - string
      revenueVisualization:
        type: object
        additionalProperties: true
        properties:
          averageContractValue:
            type: integer
          averageContractValueCurrency:
            type: string
          conversionRate:
            type: integer
          enabled:
            type: boolean
      sequencesSafeCheckCron:
        type: object
        properties:
          lastAt:
            type:
              - "null"
              - string
            format: "%Y-%m-%dT%H:%M:%S.%fZ"
      userIds:
        type: array
        items:
          type: string
  campaigns:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _id:
        type: string
      labels:
        type:
          - "null"
          - array
        items:
          type: string
      name:
        type:
          - "null"
          - string
  activities:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      _id:
        type: string
      campaignId:
        type:
          - "null"
          - string
      campaignName:
        type:
          - "null"
          - string
      companyName:
        type:
          - "null"
          - string
      createdAt:
        type:
          - "null"
          - string
      createdBy:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      emailTemplateId:
        type:
          - "null"
          - string
      emailTemplateName:
        type:
          - "null"
          - string
      extra:
        type:
          - "null"
          - object
        properties:
          leadCompanyName:
            type:
              - "null"
              - string
          leadPhone:
            type:
              - "null"
              - string
          leadPicture:
            type:
              - "null"
              - string
          sendUserId:
            type:
              - "null"
              - string
          userName:
            type:
              - "null"
              - string
      firstName:
        type:
          - "null"
          - string
      icebreaker:
        type:
          - "null"
          - string
      isFirst:
        type:
          - "null"
          - boolean
      lastName:
        type:
          - "null"
          - string
      leadEmail:
        type:
          - "null"
          - string
      leadFirstName:
        type:
          - "null"
          - string
      leadId:
        type:
          - "null"
          - string
      leadLastName:
        type:
          - "null"
          - string
      linkedinUrl:
        type:
          - "null"
          - string
      phone:
        type:
          - "null"
          - string
      picture:
        type:
          - "null"
          - string
      sequenceId:
        type:
          - "null"
          - string
      sequenceStep:
        type:
          - "null"
          - integer
      sequenceTested:
        type:
          - "null"
          - string
      stepTested:
        type:
          - "null"
          - string
      teamId:
        type:
          - "null"
          - string
  unsubscribes:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _id:
        type: string
      email:
        type:
          - "null"
          - string
