---
openapi: "3.1.0"
info:
  title: "Sources"
  version: "1.0.0"
  description: "Programmatically control Airbyte Cloud, OSS & Enterprise."
servers:
- url: "https://api.airbyte.com/v1"
  description: "Airbyte API v1"
paths:
  /sources:
    get:
      tags:
      - "public_sources"
      - "public"
      - "Sources"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourcesResponse"
          description: "Successful operation"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "listSources"
      x-speakeasy-alias: "listSources"
      x-speakeasy-group: "Sources"
      summary: "List sources"
      parameters:
      - name: "workspaceIds"
        description: "The UUIDs of the workspaces you wish to list sources for. Empty\
          \ list will retrieve all allowed workspaces."
        schema:
          type: "array"
          items:
            format: "uuid"
            type: "string"
        example: "df08f6b0-b364-4cc1-9b3f-96f5d2fccfb2,b0796797-de23-4fc7-a5e2-7e131314718c"
        in: "query"
        required: false
      - name: "includeDeleted"
        description: "Include deleted sources in the returned results."
        schema:
          default: false
          type: "boolean"
        in: "query"
        required: false
      - name: "limit"
        description: "Set the limit on the number of sources returned. The default\
          \ is 20."
        schema:
          format: "int32"
          type: "integer"
          minimum: 1
          maximum: 100
          default: 20
        in: "query"
      - name: "offset"
        description: "Set the offset to start at when returning sources. The default\
          \ is 0"
        schema:
          type: "integer"
          format: "int32"
          minimum: 0
          default: 0
        in: "query"
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceCreateRequest"
            examples:
              Source Creation Request Example:
                value:
                  configuration:
                    airbyte_source_name: "google-ads"
                    conversion_window_days: 14
                    customer_id: "1234567890"
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: "My Source"
                  workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
      tags:
      - "public_sources"
      - "public"
      - "Sources"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
              examples:
                Source Creation Response Example:
                  value:
                    sourceId: "0c31738c-0b2d-4887-b506-e2cd1c39cc35"
          description: "Successful operation"
        "400":
          description: "Invalid data"
        "403":
          description: "Not allowed"
      operationId: "createSource"
      x-speakeasy-alias: "createSource"
      x-speakeasy-group: "Sources"
      x-speakeasy-entity-operation: "Source#create"
      summary: "Create a source"
      description: "Creates a source given a name, workspace id, and a json blob containing\
        \ the configuration for the source."
  /sources/{sourceId}:
    get:
      tags:
      - "public_sources"
      - "public"
      - "Sources"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
              examples:
                Source Get Response Example:
                  value:
                    sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                    name: "running"
                    sourceType: "postgres"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
          description: "Get a Source by the id in the path."
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "getSource"
      x-speakeasy-alias: "getSource"
      x-speakeasy-group: "Sources"
      x-speakeasy-entity-operation: "Source#read"
      summary: "Get Source details"
      parameters:
      - in: "query"
        name: "includeSecretCoordinates"
        schema:
          type: "boolean"
        required: false
        description: "Rather than return *** for secret properties include the secret\
          \ coordinate information"
    patch:
      tags:
      - "public_sources"
      - "public"
      - "Sources"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourcePatchRequest"
            examples:
              Source Update Request Example:
                value:
                  configuration:
                    airbyte_source_name: "google-ads"
                    conversion_window_days: 14
                    customer_id: "1234567890"
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: "My Source"
                  workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
              examples:
                Source Update Response Example:
                  value:
                    sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                    name: "running"
                    sourceType: "postgres"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
          description: "Update a Source"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "patchSource"
      x-speakeasy-alias: "patchSource"
      x-speakeasy-group: "Sources"
      summary: "Update a Source"
    put:
      tags:
      - "public_sources"
      - "public"
      - "Sources"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourcePutRequest"
            examples:
              Source Update Request Example:
                value:
                  configuration:
                    airbyte_source_name: "google-ads"
                    conversion_window_days: 14
                    customer_id: "1234567890"
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: "My Source"
                  workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
              examples:
                Source Update Response Example:
                  value:
                    sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                    name: "running"
                    sourceType: "postgres"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
          description: "Update a source and fully overwrite it"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "putSource"
      x-speakeasy-alias: "putSource"
      x-speakeasy-group: "Sources"
      summary: "Update a Source and fully overwrite it"
      x-speakeasy-entity-operation: "Source#update"
    delete:
      tags:
      - "public_sources"
      - "public"
      - "Sources"
      responses:
        "204":
          description: "The resource was deleted successfully"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "deleteSource"
      x-speakeasy-alias: "deleteSource"
      x-speakeasy-group: "Sources"
      summary: "Delete a Source"
    parameters:
    - name: "sourceId"
      schema:
        format: "UUID"
        type: "string"
      in: "path"
      required: true
  /sources/initiateOAuth:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitiateOauthRequest"
        required: true
      tags:
      - "public_sources"
      - "public"
      - "Sources"
      responses:
        "200":
          $ref: "#/components/responses/InitiateOauthResponse"
        "400":
          description: "A field in the body has not been set appropriately."
        "403":
          description: "API key is invalid."
      operationId: "initiateOAuth"
      x-speakeasy-alias: "initiateOAuth"
      x-speakeasy-group: "Sources"
      summary: "Initiate OAuth for a source"
      description: "Given a source ID, workspace ID, and redirect URL, initiates OAuth\
        \ for the source.\n\nThis returns a fully formed URL for performing user authentication\
        \ against the relevant source identity provider (IdP). Once authentication\
        \ has been completed, the IdP will redirect to an Airbyte endpoint which will\
        \ save the access and refresh tokens off as a secret and return the secret\
        \ ID to the redirect URL specified in the `secret_id` query string parameter.\n\
        \nThat secret ID can be used to create a source with credentials in place\
        \ of actual tokens."
components:
  responses:
    InitiateOauthResponse:
      content:
        application/json: {}
      description: "Response from the initiate OAuth call should be an object with\
        \ a single property which will be the `redirect_url`. If a user is redirected\
        \ to this URL, they'll be prompted by the identity provider to authenticate."
      x-speakeasy-component: true
  schemas:
    WorkspaceId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    DeclarativeManifest:
      x-speakeasy-component: true
      x-speakeasy-type-override: "any"
      x-speakeasy-terraform-custom-type:
        imports:
        - "github.com/hashicorp/terraform-plugin-framework-jsontypes/jsontypes"
        schemaType: "jsontypes.NormalizedType{}"
        valueType: "jsontypes.Normalized"
      description: "Low code CDK manifest JSON object"
      type: "object"
    ManifestVersion:
      x-speakeasy-component: true
      type: "integer"
      format: "int64"
    SourceDefinitionSpecification:
      description: "The specification for what values are required to configure the\
        \ sourceDefinition."
      type: "object"
      example:
        user:
          type: "string"
      x-speakeasy-component: true
    NamespaceDefinitionType:
      type: "string"
      description: "Method used for computing final namespace in destination"
      enum:
      - "source"
      - "destination"
      - "customformat"
      x-speakeasy-component: true
    TagId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    Tag:
      description: "A tag that can be associated with a connection. Useful for grouping\
        \ and organizing connections in a workspace."
      type: "object"
      x-speakeasy-component: true
      required:
      - "tagId"
      - "workspaceId"
      - "name"
      - "color"
      properties:
        tagId:
          $ref: "#/components/schemas/TagId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        name:
          type: "string"
        color:
          type: "string"
    OrganizationId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    PermissionType:
      type: "string"
      description: "Describes what actions/endpoints the permission entitles to"
      enum:
      - "instance_admin"
      - "organization_admin"
      - "organization_editor"
      - "organization_runner"
      - "organization_reader"
      - "organization_member"
      - "workspace_owner"
      - "workspace_admin"
      - "workspace_runner"
      - "workspace_editor"
      - "workspace_reader"
      x-speakeasy-component: true
    PublicPermissionType:
      type: "string"
      description: "Subset of `PermissionType` (removing `instance_admin`), could\
        \ be used in public-api."
      enum:
      - "organization_admin"
      - "organization_editor"
      - "organization_runner"
      - "organization_reader"
      - "organization_member"
      - "workspace_admin"
      - "workspace_editor"
      - "workspace_runner"
      - "workspace_reader"
      x-speakeasy-component: true
    UserId:
      type: "string"
      description: "Internal Airbyte user ID"
      format: "uuid"
      x-speakeasy-component: true
    AuthProvider:
      type: "string"
      description: "Auth Provider"
      default: "airbyte"
      enum:
      - "airbyte"
      - "google_identity_platform"
      - "keycloak"
      x-speakeasy-component: true
    UserStatus:
      type: "string"
      description: "user status"
      enum:
      - "invited"
      - "registered"
      - "disabled"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SelectedFieldInfo:
      type: "object"
      description: "Path to a field/column/property in a stream to be selected. For\
        \ example, if the field to be selected is a database column called \"foo\"\
        , this will be [\"foo\"]. Use multiple path elements for nested schemas."
      properties:
        fieldPath:
          type: "array"
          items:
            type: "string"
      x-speakeasy-component: true
    StreamMapperType:
      type: "string"
      enum:
      - "hashing"
      - "field-renaming"
      - "row-filtering"
      - "encryption"
      - "field-filtering"
      x-speakeasy-component: true
    ConfiguredStreamMapper:
      type: "object"
      required:
      - "type"
      - "mapperConfiguration"
      properties:
        id:
          type: "string"
          format: "uuid"
        type:
          $ref: "#/components/schemas/StreamMapperType"
        mapperConfiguration:
          $ref: "#/components/schemas/MapperConfiguration"
      x-speakeasy-component: true
    MapperConfiguration:
      type: "object"
      description: "The values required to configure the mapper."
      oneOf:
      - $ref: "#/components/schemas/HashingMapperConfiguration"
      - $ref: "#/components/schemas/FieldFilteringMapperConfiguration"
      - $ref: "#/components/schemas/FieldRenamingMapperConfiguration"
      - $ref: "#/components/schemas/RowFilteringMapperConfiguration"
      - $ref: "#/components/schemas/EncryptionMapperConfiguration"
      x-speakeasy-component: true
    HashingMapperConfiguration:
      title: "Hashing"
      type: "object"
      properties:
        fieldNameSuffix:
          type: "string"
          title: "Field name suffix"
          description: "The suffix to append to the field name after hashing."
        method:
          type: "string"
          enum:
          - "MD2"
          - "MD5"
          - "SHA-1"
          - "SHA-224"
          - "SHA-256"
          - "SHA-384"
          - "SHA-512"
          title: "Hashing method"
          description: "The hashing algorithm to use."
        targetField:
          type: "string"
          title: "Original Field Name"
          description: "The name of the field to be hashed."
      required:
      - "fieldNameSuffix"
      - "method"
      - "targetField"
      x-speakeasy-component: true
    FieldFilteringMapperConfiguration:
      title: "Field Filtering"
      type: "object"
      properties:
        targetField:
          type: "string"
          title: "The Field to Filter"
          description: "The name of the field to filter."
      required:
      - "targetField"
      x-speakeasy-component: true
    FieldRenamingMapperConfiguration:
      title: "Field Renaming"
      type: "object"
      properties:
        newFieldName:
          type: "string"
          title: "New Field Name"
          description: "The new name for the field after renaming."
        originalFieldName:
          type: "string"
          title: "Original Field Name"
          description: "The current name of the field to rename."
      required:
      - "newFieldName"
      - "originalFieldName"
      x-speakeasy-component: true
    RowFilteringOperationType:
      type: "string"
      enum:
      - "EQUAL"
      - "NOT"
      x-speakeasy-component: true
    RowFilteringOperationEqual:
      type: "object"
      title: "EQUAL"
      required:
      - "comparisonValue"
      - "fieldName"
      - "type"
      properties:
        comparisonValue:
          type: "string"
          title: "Comparison Value"
          description: "The value to compare the field against."
        fieldName:
          type: "string"
          title: "Field Name"
          description: "The name of the field to apply the operation on."
        type:
          $ref: "#/components/schemas/RowFilteringOperationType"
      x-speakeasy-component: true
    RowFilteringOperationNot:
      type: "object"
      title: "NOT"
      required:
      - "conditions"
      - "type"
      properties:
        conditions:
          title: "Sub-Conditions (NOT)"
          description: "Conditions to evaluate with the NOT operator."
          minItems: 1
          type: "array"
          items:
            $ref: "#/components/schemas/RowFilteringOperation"
        type:
          $ref: "#/components/schemas/RowFilteringOperationType"
      x-speakeasy-component: true
    RowFilteringOperation:
      type: "object"
      oneOf:
      - $ref: "#/components/schemas/RowFilteringOperationEqual"
      - $ref: "#/components/schemas/RowFilteringOperationNot"
      discriminator:
        propertyName: "type"
        mapping:
          EQUAL: "#/components/schemas/RowFilteringOperationEqual"
          NOT: "#/components/schemas/RowFilteringOperationNot"
      x-speakeasy-component: true
      x-airbyte-circular-ref: true
    RowFilteringMapperConfiguration:
      title: "Row Filtering"
      type: "object"
      properties:
        conditions:
          $ref: "#/components/schemas/RowFilteringOperation"
      required:
      - "conditions"
      x-speakeasy-component: true
    EncryptionMapperAlgorithm:
      type: "string"
      enum:
      - "RSA"
      - "AES"
      x-speakeasy-component: true
    EncryptionMapperConfiguration:
      title: "Encryption"
      type: "object"
      oneOf:
      - $ref: "#/components/schemas/EncryptionMapperRSAConfiguration"
      - $ref: "#/components/schemas/EncryptionMapperAESConfiguration"
      discriminator:
        propertyName: "algorithm"
        mapping:
          RSA: "#/components/schemas/EncryptionMapperRSAConfiguration"
          AES: "#/components/schemas/EncryptionMapperAESConfiguration"
      x-speakeasy-component: true
    EncryptionMapperRSAConfiguration:
      title: "Encryption - RSA"
      type: "object"
      properties:
        algorithm:
          $ref: "#/components/schemas/EncryptionMapperAlgorithm"
        fieldNameSuffix:
          type: "string"
        publicKey:
          type: "string"
        targetField:
          type: "string"
      required:
      - "algorithm"
      - "publicKey"
      - "targetField"
      - "fieldNameSuffix"
      x-speakeasy-component: true
    EncryptionMapperAESConfiguration:
      title: "Encryption - AES"
      type: "object"
      properties:
        algorithm:
          $ref: "#/components/schemas/EncryptionMapperAlgorithm"
        fieldNameSuffix:
          type: "string"
        key:
          type: "string"
          x-speakeasy-param-sensitive: true
        mode:
          type: "string"
          enum:
          - "CBC"
          - "CFB"
          - "OFB"
          - "CTR"
          - "GCM"
          - "ECB"
        padding:
          type: "string"
          enum:
          - "NoPadding"
          - "PKCS5Padding"
        targetField:
          type: "string"
      required:
      - "algorithm"
      - "key"
      - "mode"
      - "padding"
      - "targetField"
      - "fieldNameSuffix"
      x-speakeasy-component: true
    SelectedFields:
      description: "Paths to the fields that will be included in the configured catalog."
      type: "array"
      format: "set"
      items:
        $ref: "#/components/schemas/SelectedFieldInfo"
      x-speakeasy-component: true
    ScopedResourceRequirements:
      x-speakeasy-component: true
      description: "actor or actor definition specific resource requirements. if default\
        \ is set, these are the requirements that should be set for ALL jobs run for\
        \ this actor definition. it is overriden by the job type specific configurations.\
        \ if not set, the platform will use defaults. these values will be overriden\
        \ by configuration at the connection level."
      type: "object"
      additionalProperties: false
      properties:
        default:
          $ref: "#/components/schemas/ResourceRequirements"
        jobSpecific:
          type: "array"
          items:
            $ref: "#/components/schemas/JobTypeResourceLimit"
    ActorDefinitionId:
      description: "A unique identifier for an actor definition."
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    JobTypeResourceLimit:
      x-speakeasy-component: true
      description: "sets resource requirements for a specific job type for an actor\
        \ or actor definition. these values override the default, if both are set."
      type: "object"
      additionalProperties: false
      required:
      - "jobType"
      - "resourceRequirements"
      properties:
        jobType:
          $ref: "#/components/schemas/JobType"
        resourceRequirements:
          $ref: "#/components/schemas/ResourceRequirements"
    JobType:
      x-speakeasy-component: true
      description: "enum that describes the different types of jobs that the platform\
        \ runs."
      type: "string"
      enum:
      - "get_spec"
      - "check_connection"
      - "discover_schema"
      - "sync"
      - "reset_connection"
      - "connection_updater"
      - "replicate"
    ResourceRequirements:
      x-speakeasy-component: true
      description: "optional resource requirements to run workers (blank for unbounded\
        \ allocations)"
      type: "object"
      properties:
        cpu_request:
          type: "string"
        cpu_limit:
          type: "string"
        memory_request:
          type: "string"
        memory_limit:
          type: "string"
        ephemeral_storage_request:
          type: "string"
        ephemeral_storage_limit:
          type: "string"
    OAuthConfiguration:
      description: "The values required to configure OAuth flows. The schema for this\
        \ must match the `OAuthConfigSpecification.oauthUserInputFromConnectorConfigSpecification`\
        \ schema."
      x-speakeasy-component: true
    OAuthInputConfiguration:
      $ref: "#/components/schemas/OAuthConfiguration"
      x-speakeasy-component: true
    NonBreakingChangesPreference:
      enum:
      - "ignore"
      - "disable"
      - "propagate_columns"
      - "propagate_fully"
      type: "string"
      x-speakeasy-component: true
    ApplicationCreate:
      required:
      - "name"
      type: "object"
      properties:
        name:
          type: "string"
      x-speakeasy-component: true
    ApplicationReadList:
      required:
      - "applications"
      type: "object"
      properties:
        applications:
          type: "array"
          items:
            $ref: "#/components/schemas/ApplicationRead"
      x-speakeasy-component: true
    ApplicationRead:
      required:
      - "id"
      - "name"
      - "clientId"
      - "clientSecret"
      - "createdAt"
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        clientId:
          type: "string"
        clientSecret:
          type: "string"
        createdAt:
          type: "integer"
          format: "int64"
      x-speakeasy-component: true
    ApplicationTokenRequestWithGrant:
      required:
      - "client_id"
      - "client_secret"
      - "grant_type"
      type: "object"
      properties:
        client_id:
          type: "string"
        client_secret:
          type: "string"
        grant-type:
          enum:
          - "client_credentials"
      x-speakeasy-component: true
    PublicAccessTokenResponse:
      required:
      - "access_token"
      - "token_type"
      - "expires_in"
      type: "object"
      properties:
        access_token:
          type: "string"
        token_type:
          enum:
          - "Bearer"
        expires_in:
          type: "integer"
          format: "int64"
      x-speakeasy-component: true
    RedirectUrlResponse:
      title: "Root Type for RedirectUrlResponse"
      description: ""
      type: "object"
      properties:
        redirectUrl:
          format: "url"
          type: "string"
      example:
        redirectUrl: "https://example.com"
      x-speakeasy-component: true
    JobResponse:
      title: "Root Type for JobResponse"
      description: "Provides details of a single job."
      required:
      - "jobId"
      - "status"
      - "jobType"
      - "startTime"
      - "connectionId"
      type: "object"
      properties:
        jobId:
          format: "int64"
          type: "integer"
        status:
          $ref: "#/components/schemas/JobStatusEnum"
        jobType:
          $ref: "#/components/schemas/JobTypeEnum"
        startTime:
          type: "string"
        connectionId:
          format: "UUID"
          type: "string"
        lastUpdatedAt:
          type: "string"
        duration:
          description: "Duration of a sync in ISO_8601 format"
          type: "string"
        bytesSynced:
          format: "int64"
          type: "integer"
        rowsSynced:
          format: "int64"
          type: "integer"
      example:
        id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        status: "running"
        jobType: "sync"
        startTime: "2023-03-25T01:30:50Z"
        duration: "PT8H6M12S"
      x-speakeasy-component: true
    JobsResponse:
      title: "Root Type for JobsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/JobResponse"
      example:
        next: "https://api.airbyte.com/v1/jobs?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/jobs?limit=5&offset=0"
        data:
        - id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          status: "running"
          jobType: "sync"
          startTime: "2023-03-25T01:30:50Z"
      x-speakeasy-component: true
    ConnectionCreateRequest:
      required:
      - "sourceId"
      - "destinationId"
      type: "object"
      properties:
        name:
          description: "Optional name of the connection"
          type: "string"
        sourceId:
          format: "uuid"
          type: "string"
        destinationId:
          format: "uuid"
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
        dataResidency:
          deprecated: true
          x-speakeasy-deprecation-message: "We no longer support modifying dataResidency\
            \ on Community and Enterprise connections. All connections will use the\
            \ dataResidency of their associated workspace."
          type: "string"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnum"
        namespaceFormat:
          type: "string"
          description: "Used when namespaceDefinition is 'custom_format'. If blank\
            \ then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\"\
            \ then behaves like namespaceDefinition = 'source'."
          default: null
          example: "${SOURCE_NAMESPACE}"
        prefix:
          type: "string"
          description: "Prefix that will be prepended to the name of each stream when\
            \ it is written to the destination (ex. “airbyte_” causes “projects” =>\
            \ “airbyte_projects”)."
          default: ""
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
        tags:
          type: "array"
          items:
            $ref: "#/components/schemas/Tag"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    ConnectionPatchRequest:
      type: "object"
      properties:
        name:
          description: "Optional name of the connection"
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
        dataResidency:
          deprecated: true
          x-speakeasy-deprecation-message: "We no longer support modifying dataResidency\
            \ on Community and Enterprise connections. All connections will use the\
            \ dataResidency of their associated workspace."
          type: "string"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnumNoDefault"
        namespaceFormat:
          type: "string"
          description: "Used when namespaceDefinition is 'custom_format'. If blank\
            \ then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\"\
            \ then behaves like namespaceDefinition = 'source'."
          default: null
          example: "${SOURCE_NAMESPACE}"
        prefix:
          type: "string"
          description: "Prefix that will be prepended to the name of each stream when\
            \ it is written to the destination (ex. “airbyte_” causes “projects” =>\
            \ “airbyte_projects”)."
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnumNoDefault"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
        tags:
          type: "array"
          items:
            $ref: "#/components/schemas/Tag"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    JobCreateRequest:
      title: "Root Type for JobCreate"
      description: "Creates a new Job from the configuration provided in the request\
        \ body."
      required:
      - "jobType"
      - "connectionId"
      type: "object"
      properties:
        connectionId:
          format: "UUID"
          type: "string"
        jobType:
          $ref: "#/components/schemas/JobTypeEnum"
      example:
        connectionId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        jobType: "sync"
      x-speakeasy-component: true
    JobStatusEnum:
      enum:
      - "pending"
      - "running"
      - "incomplete"
      - "failed"
      - "succeeded"
      - "cancelled"
      type: "string"
      x-speakeasy-component: true
    JobTypeEnum:
      description: "Enum that describes the different types of jobs that the platform\
        \ runs."
      enum:
      - "sync"
      - "reset"
      - "refresh"
      - "clear"
      type: "string"
      x-speakeasy-component: true
    SourceCreateRequest:
      required:
      - "name"
      - "workspaceId"
      - "configuration"
      type: "object"
      properties:
        name:
          description: "Name of the source e.g. dev-mysql-instance."
          type: "string"
        definitionId:
          description: "The UUID of the connector definition. One of configuration.sourceType\
            \ or definitionId must be provided."
          format: "uuid"
          type: "string"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        secretId:
          description: "Optional secretID obtained through the  OAuth redirect flow."
          type: "string"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SourcePutRequest:
      required:
      - "name"
      - "configuration"
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SourcePatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
          example: "My source"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        secretId:
          description: "Optional secretID obtained through the  OAuth redirect flow."
          type: "string"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    TagCreateRequest:
      required:
      - "name"
      - "color"
      - "workspaceId"
      type: "object"
      properties:
        name:
          type: "string"
        color:
          type: "string"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
      x-speakeasy-entity: "Tag"
      x-speakeasy-component: true
    TagPatchRequest:
      required:
      - "name"
      - "color"
      type: "object"
      properties:
        name:
          type: "string"
        color:
          type: "string"
      x-speakeasy-entity: "Tag"
      x-speakeasy-component: true
    OrganizationOAuthCredentialsRequest:
      title: "Root Type for OrganizationOAuthCredentials"
      description: "POST body for creating/updating organization level OAuth credentials"
      required:
      - "actorType"
      - "name"
      - "configuration"
      type: "object"
      properties:
        actorType:
          $ref: "#/components/schemas/ActorTypeEnum"
        name:
          type: "string"
          description: "The name of the source i.e. google-ads"
        configuration:
          $ref: "#/components/schemas/OAuthCredentialsConfiguration"
      x-speakeasy-component: true
    ConnectionResponse:
      title: "Root Type for ConnectionResponse"
      description: "Provides details of a single connection."
      type: "object"
      required:
      - "connectionId"
      - "name"
      - "sourceId"
      - "destinationId"
      - "workspaceId"
      - "status"
      - "schedule"
      - "configurations"
      - "createdAt"
      - "tags"
      properties:
        connectionId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        sourceId:
          format: "UUID"
          type: "string"
        destinationId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
        schedule:
          $ref: "#/components/schemas/ConnectionScheduleResponse"
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnum"
        namespaceFormat:
          type: "string"
        prefix:
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        createdAt:
          format: "int64"
          type: "integer"
        tags:
          type: "array"
          items:
            $ref: "#/components/schemas/Tag"
        statusReason:
          type: "string"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    AirbyteApiConnectionSchedule:
      description: "schedule for when the the connection should run, per the schedule\
        \ type"
      type: "object"
      required:
      - "scheduleType"
      properties:
        scheduleType:
          $ref: "#/components/schemas/ScheduleTypeEnum"
        cronExpression:
          type: "string"
      x-speakeasy-component: true
    ScheduleTypeEnum:
      type: "string"
      enum:
      - "manual"
      - "cron"
      x-speakeasy-component: true
    ConnectionScheduleResponse:
      description: "schedule for when the the connection should run, per the schedule\
        \ type"
      type: "object"
      required:
      - "scheduleType"
      properties:
        scheduleType:
          $ref: "#/components/schemas/ScheduleTypeWithBasicEnum"
        cronExpression:
          type: "string"
        basicTiming:
          type: "string"
      x-speakeasy-component: true
    ScheduleTypeWithBasicEnum:
      type: "string"
      enum:
      - "manual"
      - "cron"
      - "basic"
      x-speakeasy-component: true
    ConnectionStatusEnum:
      type: "string"
      enum:
      - "active"
      - "inactive"
      - "deprecated"
      - "locked"
      x-speakeasy-component: true
    NamespaceDefinitionEnum:
      type: "string"
      description: "Define the location where the data will be stored in the destination"
      enum:
      - "source"
      - "destination"
      - "custom_format"
      default: "destination"
      x-speakeasy-component: true
    NonBreakingSchemaUpdatesBehaviorEnum:
      type: "string"
      description: "Set how Airbyte handles syncs when it detects a non-breaking schema\
        \ change in the source"
      enum:
      - "ignore"
      - "disable_connection"
      - "propagate_columns"
      - "propagate_fully"
      default: "ignore"
      x-speakeasy-component: true
    NamespaceDefinitionEnumNoDefault:
      type: "string"
      description: "Define the location where the data will be stored in the destination"
      enum:
      - "source"
      - "destination"
      - "custom_format"
      x-speakeasy-component: true
    NonBreakingSchemaUpdatesBehaviorEnumNoDefault:
      type: "string"
      description: "Set how Airbyte handles syncs when it detects a non-breaking schema\
        \ change in the source"
      enum:
      - "ignore"
      - "disable_connection"
      - "propagate_columns"
      - "propagate_fully"
      x-speakeasy-component: true
    DestinationResponse:
      title: "Root Type for DestinationResponse"
      description: "Provides details of a single destination."
      type: "object"
      required:
      - "destinationId"
      - "name"
      - "destinationType"
      - "definitionId"
      - "workspaceId"
      - "configuration"
      - "createdAt"
      properties:
        destinationId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        destinationType:
          type: "string"
        definitionId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        createdAt:
          format: "int64"
          type: "integer"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      example:
        destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team Postgres"
        destinationType: "postgres"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
        definitionId: "321d9b60-11d1-44cb-8c92-c246d53bf98e"
      x-speakeasy-component: true
    SourceResponse:
      title: "Root Type for SourceResponse"
      description: "Provides details of a single source."
      type: "object"
      required:
      - "sourceId"
      - "name"
      - "sourceType"
      - "workspaceId"
      - "configuration"
      - "definitionId"
      - "createdAt"
      properties:
        sourceId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        sourceType:
          type: "string"
        definitionId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        createdAt:
          format: "int64"
          type: "integer"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      example:
        sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team Postgres"
        sourceType: "postgres"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
        definitionId: "321d9b60-11d1-44cb-8c92-c246d53bf98e"
      x-speakeasy-component: true
    ConnectorDefinitionResponse:
      title: "Root Type for ConnectorDefinitionResponse"
      description: "Provides details of a single connector definition."
      type: "object"
      required:
      - "id"
      - "connectorDefinitionType"
      - "name"
      - "version"
      properties:
        id:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        connectorDefinitionType:
          $ref: "#/components/schemas/ConnectorType"
        version:
          type: "string"
      example:
        id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Postgres"
        connectorDefinnitionType: "source"
        version: "0.2.0"
      x-speakeasy-component: true
    ConnectorType:
      type: "string"
      enum:
      - "source"
      - "destination"
      x-speakeasy-component: true
    TagResponse:
      title: "Root Type for TagResponse"
      description: "Provides details of a single tag."
      type: "object"
      required:
      - "tagId"
      - "name"
      - "color"
      - "workspaceId"
      properties:
        tagId:
          $ref: "#/components/schemas/TagId"
        name:
          type: "string"
        color:
          description: "A hexadecimal color value"
          type: "string"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
      example:
        tagId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team"
        color: "FF5733"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    DestinationCreateRequest:
      required:
      - "name"
      - "workspaceId"
      - "configuration"
      type: "object"
      properties:
        name:
          description: "Name of the destination e.g. dev-mysql-instance."
          type: "string"
        definitionId:
          description: "The UUID of the connector definition. One of configuration.destinationType\
            \ or definitionId must be provided."
          format: "uuid"
          type: "string"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DestinationPatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DestinationPutRequest:
      required:
      - "name"
      - "configuration"
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceCreateRequest:
      required:
      - "name"
      type: "object"
      properties:
        name:
          description: "Name of the workspace"
          type: "string"
        organizationId:
          description: "ID of organization to add workspace to."
          format: "uuid"
          type: "string"
        notifications:
          $ref: "#/components/schemas/NotificationsConfig"
        regionId:
          type: "string"
          format: "uuid"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceUpdateRequest:
      type: "object"
      properties:
        name:
          description: "Name of the workspace"
          type: "string"
        notifications:
          $ref: "#/components/schemas/NotificationsConfig"
        regionId:
          type: "string"
          format: "uuid"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceResponse:
      title: "Root Type for WorkspaceResponse"
      description: "Provides details of a single workspace."
      type: "object"
      required:
      - "workspaceId"
      - "name"
      - "dataResidency"
      - "notifications"
      properties:
        workspaceId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        dataResidency:
          type: "string"
        notifications:
          $ref: "#/components/schemas/NotificationsConfig"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    NotificationsConfig:
      description: "Configures workspace notifications."
      type: "object"
      properties:
        failure:
          $ref: "#/components/schemas/NotificationConfig"
        success:
          $ref: "#/components/schemas/NotificationConfig"
        connectionUpdate:
          $ref: "#/components/schemas/NotificationConfig"
        connectionUpdateActionRequired:
          $ref: "#/components/schemas/NotificationConfig"
        syncDisabled:
          $ref: "#/components/schemas/NotificationConfig"
        syncDisabledWarning:
          $ref: "#/components/schemas/NotificationConfig"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    NotificationConfig:
      description: "Configures a notification."
      type: "object"
      properties:
        email:
          $ref: "#/components/schemas/EmailNotificationConfig"
        webhook:
          $ref: "#/components/schemas/WebhookNotificationConfig"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WebhookNotificationConfig:
      description: "Configures a webhook notification."
      type: "object"
      properties:
        enabled:
          type: "boolean"
        url:
          type: "string"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    EmailNotificationConfig:
      description: "Configures an email notification."
      type: "object"
      properties:
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UserResponse:
      title: "Root Type for UserResponse"
      description: "Provides details of a single user in an organization."
      type: "object"
      required:
      - "id"
      - "name"
      - "email"
      properties:
        name:
          description: "Name of the user"
          type: "string"
        id:
          $ref: "#/components/schemas/UserId"
        email:
          type: "string"
          format: "email"
      x-speakeasy-entity: "User"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UsersResponse:
      title: "Root Type for UsersResponse"
      description: "List/Array of multiple users in an organization"
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/UserResponse"
      x-speakeasy-component: true
      x-speakeasy-entity: "User"
      x-speakeasy-param-suppress-computed-diff: true
    PermissionCreateRequest:
      required:
      - "permissionType"
      - "userId"
      type: "object"
      properties:
        permissionType:
          $ref: "#/components/schemas/PublicPermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionUpdateRequest:
      required:
      - "permissionType"
      type: "object"
      properties:
        permissionType:
          $ref: "#/components/schemas/PermissionType"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionResponse:
      title: "Root Type for PermissionResponse"
      description: "Provides details of a single permission."
      type: "object"
      required:
      - "permissionId"
      - "permissionType"
      - "userId"
      properties:
        permissionId:
          type: "string"
          format: "uuid"
        permissionType:
          $ref: "#/components/schemas/PermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionScope:
      description: "Scope of a single permission, e.g. workspace, organization"
      type: "string"
      enum:
      - "workspace"
      - "organization"
      - "none"
      x-speakeasy-component: true
    PermissionResponseRead:
      title: "Root type for PermissionResponseRead"
      description: "Reformat PermissionResponse with permission scope"
      type: "object"
      required:
      - "permissionId"
      - "permissionType"
      - "userId"
      - "scope"
      - "scopeId"
      properties:
        permissionId:
          type: "string"
          format: "uuid"
        permissionType:
          $ref: "#/components/schemas/PermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        scopeId:
          type: "string"
          format: "uuid"
        scope:
          $ref: "#/components/schemas/PermissionScope"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionsResponse:
      title: "Root Type for PermissionsResponse"
      description: "List/Array of multiple permissions"
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/PermissionResponseRead"
      x-speakeasy-component: true
    OrganizationResponse:
      title: "Root Type for OrganizationResponse"
      description: "Provides details of a single organization for a user."
      type: "object"
      required:
      - "organizationId"
      - "organizationName"
      - "email"
      properties:
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
        organizationName:
          type: "string"
        email:
          type: "string"
          format: "email"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    OrganizationsResponse:
      title: "Root Type for OrganizationsResponse"
      description: "List/Array of multiple organizations."
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/OrganizationResponse"
      x-speakeasy-component: true
    ConnectionsResponse:
      title: "Root Type for ConnectionsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectionResponse"
          default: []
      example:
        next: "https://api.airbyte.com/v1/connections?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/connections?limit=5&offset=0"
        data:
        - name: "test-connection"
        - connection_id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        - sourceId: "49237019-645d-47d4-b45b-5eddf97775ce"
        - destinationId: "al312fs-0ab1-4f72-9ed7-0b8fc27c5826"
        - schedule:
            scheduleType: "manual"
        - status: "active"
      x-speakeasy-component: true
    SourcesResponse:
      title: "Root Type for SourcesResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/SourceResponse"
      example:
        next: "https://api.airbyte.com/v1/sources?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/sources?limit=5&offset=0"
        data:
          sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          sourceType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    DestinationsResponse:
      title: "Root Type for DestinationsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DestinationResponse"
      example:
        next: "https://api.airbyte.com/v1/destinations?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/destinations?limit=5&offset=0"
        data:
          destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          destinationType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    ConnectorDefinitionsResponse:
      title: "Root Type for DefinitionsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectorDefinitionResponse"
      x-speakeasy-component: true
    CreateDeclarativeSourceDefinitionRequest:
      type: "object"
      x-speakeasy-component: true
      required:
      - "workspaceId"
      - "name"
      - "manifest"
      properties:
        name:
          type: "string"
        manifest:
          $ref: "#/components/schemas/DeclarativeManifest"
    UpdateDeclarativeSourceDefinitionRequest:
      type: "object"
      x-speakeasy-component: true
      required:
      - "manifest"
      properties:
        manifest:
          $ref: "#/components/schemas/DeclarativeManifest"
    DeclarativeSourceDefinitionsResponse:
      title: "Root Type for DeclarativeSourceDefinitionsResponse"
      description: ""
      x-speakeasy-component: true
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DeclarativeSourceDefinitionResponse"
    DeclarativeSourceDefinitionResponse:
      type: "object"
      x-speakeasy-component: true
      required:
      - "id"
      - "name"
      - "manifest"
      - "version"
      properties:
        id:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        manifest:
          $ref: "#/components/schemas/DeclarativeManifest"
        version:
          x-speakeasy-terraform-ignore: true
          $ref: "#/components/schemas/ManifestVersion"
    CreateDefinitionRequest:
      type: "object"
      x-speakeasy-component: true
      required:
      - "name"
      - "dockerRepository"
      - "dockerImageTag"
      properties:
        name:
          type: "string"
        dockerRepository:
          type: "string"
        dockerImageTag:
          type: "string"
        documentationUrl:
          type: "string"
          format: "uri"
    UpdateDefinitionRequest:
      type: "object"
      x-speakeasy-component: true
      required:
      - "name"
      - "dockerImageTag"
      properties:
        name:
          type: "string"
        dockerImageTag:
          type: "string"
    DefinitionsResponse:
      title: "Root Type for DefinitionsResponse"
      description: ""
      x-speakeasy-component: true
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DefinitionResponse"
    DefinitionResponse:
      title: "Root Type for DefinitionResponse"
      description: "Provides details of a single connector definition."
      type: "object"
      x-speakeasy-component: true
      required:
      - "id"
      - "name"
      - "dockerRepository"
      - "dockerImageTag"
      properties:
        id:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        dockerRepository:
          type: "string"
        dockerImageTag:
          type: "string"
        documentationUrl:
          type: "string"
    WorkspacesResponse:
      title: "Root Type for WorkspacesResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/WorkspaceResponse"
      example:
        next: "https://api.airbyte.com/v1/workspaces?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/workspaces?limit=5&offset=0"
        data:
          workspaceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Acme Company"
          dataResidency: "auto"
      x-speakeasy-component: true
    TagsResponse:
      title: "Root Type for TagsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/TagResponse"
      x-speakeasy-component: true
    StreamConfiguration:
      description: "Configurations for a single stream."
      type: "object"
      required:
      - "name"
      properties:
        name:
          type: "string"
        namespace:
          type: "string"
          description: "Namespace of the stream."
        syncMode:
          $ref: "#/components/schemas/ConnectionSyncModeEnum"
        cursorField:
          description: "Path to the field that will be used to determine if a record\
            \ is new or modified since the last sync. This field is REQUIRED if `sync_mode`\
            \ is `incremental` unless there is a default."
          type: "array"
          items:
            type: "string"
        primaryKey:
          description: "Paths to the fields that will be used as primary key. This\
            \ field is REQUIRED if `destination_sync_mode` is `*_dedup` unless it\
            \ is already supplied by the source schema."
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
        includeFiles:
          description: "Whether to move raw files from the source to the destination\
            \ during the sync."
          type: "boolean"
        destinationObjectName:
          description: "The name of the destination object that this stream will be\
            \ written to, used for data activation destinations."
          type: "string"
        selectedFields:
          description: "By default (if not provided in the request) all fields will\
            \ be synced. Otherwise, only the fields in this list will be synced."
          $ref: "#/components/schemas/SelectedFields"
        mappers:
          description: "Mappers that should be applied to the stream before writing\
            \ to the destination."
          type: "array"
          items:
            $ref: "#/components/schemas/ConfiguredStreamMapper"
      x-speakeasy-component: true
    StreamConfigurations:
      description: "A list of configured stream options for a connection."
      type: "object"
      properties:
        streams:
          type: "array"
          format: "set"
          items:
            $ref: "#/components/schemas/StreamConfiguration"
      x-speakeasy-component: true
    StreamPropertiesResponse:
      description: "A list of stream properties."
      type: "array"
      items:
        $ref: "#/components/schemas/StreamProperties"
      x-speakeasy-component: true
    StreamProperties:
      description: "The stream properties associated with a connection."
      type: "object"
      properties:
        streamName:
          type: "string"
        syncModes:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectionSyncModeEnum"
        streamnamespace:
          type: "string"
        defaultCursorField:
          type: "array"
          items:
            type: "string"
        sourceDefinedCursorField:
          type: "boolean"
        sourceDefinedPrimaryKey:
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
        propertyFields:
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
      x-speakeasy-component: true
    ConnectionSyncModeEnum:
      enum:
      - "full_refresh_overwrite"
      - "full_refresh_overwrite_deduped"
      - "full_refresh_append"
      - "full_refresh_update"
      - "full_refresh_soft_delete"
      - "incremental_append"
      - "incremental_deduped_history"
      - "incremental_update"
      - "incremental_soft_delete"
      x-speakeasy-component: true
    ActorTypeEnum:
      description: "Whether you're setting this override for a source or destination"
      enum:
      - "source"
      - "destination"
      x-speakeasy-component: true
    RegionCreateRequest:
      type: "object"
      required:
      - "name"
      - "organizationId"
      properties:
        name:
          type: "string"
        organizationId:
          type: "string"
          format: "uuid"
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Region"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    RegionPatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Region"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    RegionResponse:
      type: "object"
      required:
      - "regionId"
      - "name"
      - "organizationId"
      - "enabled"
      - "createdAt"
      - "updatedAt"
      properties:
        regionId:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        organizationId:
          type: "string"
          format: "uuid"
        enabled:
          type: "boolean"
        createdAt:
          type: "string"
        updatedAt:
          type: "string"
      x-speakeasy-entity: "Region"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    RegionsResponse:
      type: "object"
      required:
      - "data"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/RegionResponse"
      x-speakeasy-component: true
    DataplaneCreateRequest:
      type: "object"
      required:
      - "regionId"
      - "name"
      properties:
        regionId:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Dataplane"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DataplanePatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Dataplane"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DataplaneResponse:
      type: "object"
      required:
      - "dataplaneId"
      - "name"
      - "regionId"
      - "enabled"
      - "createdAt"
      - "updatedAt"
      properties:
        dataplaneId:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        regionId:
          type: "string"
          format: "uuid"
        enabled:
          type: "boolean"
        createdAt:
          type: "string"
        updatedAt:
          type: "string"
      x-speakeasy-entity: "Dataplane"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DataplanesResponse:
      type: "object"
      required:
      - "data"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DataplaneResponse"
      x-speakeasy-component: true
    ConfigTemplateListResponse:
      type: "object"
      required:
      - "data"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConfigTemplateListItem"
      x-speakeasy-component: true
    ConfigTemplateListItem:
      type: "object"
      required:
      - "id"
      - "name"
      - "icon"
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        icon:
          type: "string"
      x-speakeasy-component: true
    ConfigTemplatePublicRead:
      type: "object"
      required:
      - "id"
      - "name"
      - "icon"
      - "sourceDefinitionId"
      - "configTemplateSpec"
      - "partialDefaultConfig"
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
          description: "Name of the associated actor definition"
        icon:
          type: "string"
          description: "url to icon in connector asset (svg) registry"
        sourceDefinitionId:
          type: "string"
          format: "uuid"
        configTemplateSpec:
          $ref: "#/components/schemas/SourceDefinitionSpecification"
        partialDefaultConfig:
          type: "object"
      x-speakeasy-component: true
    ConfigTemplateCreateRequestBody:
      type: "object"
      required:
      - "actorDefinitionId"
      - "partialDefaultConfig"
      - "organizationId"
      properties:
        organizationId:
          type: "string"
          format: "uuid"
        actorDefinitionId:
          $ref: "#/components/schemas/ActorDefinitionId"
        partialDefaultConfig:
          $ref: "#/components/schemas/SourceConfiguration"
        partialUserConfigSpec:
          $ref: "#/components/schemas/SourceConfiguration"
      x-speakeasy-component: true
    ConfigTemplateCreateResponse:
      type: "object"
      required:
      - "id"
      properties:
        id:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    ConfigTemplateUpdateRequestBody:
      type: "object"
      required:
      - "organizationId"
      properties:
        organizationId:
          type: "string"
          format: "uuid"
        partialDefaultConfig:
          $ref: "#/components/schemas/SourceConfiguration"
        partialUserConfigSpec:
          $ref: "#/components/schemas/SourceConfiguration"
      x-speakeasy-component: true
    ConfigTemplateUpdateResponse:
      type: "object"
      required:
      - "id"
      properties:
        id:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    EmbeddedWidgetRequest:
      type: "object"
      required:
      - "allowedOrigin"
      - "externalUserId"
      - "organizationId"
      properties:
        allowedOrigin:
          type: "string"
        externalUserId:
          type: "string"
        organizationId:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    EmbeddedWidgetResponse:
      type: "object"
      required:
      - "token"
      properties:
        token:
          type: "string"
      x-speakeasy-component: true
    EmbeddedScopedTokenRequest:
      type: "object"
      required:
      - "workspaceId"
      properties:
        workspaceId:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    EmbeddedScopedTokenResponse:
      type: "object"
      required:
      - "token"
      properties:
        token:
          type: "string"
      x-speakeasy-component: true
    ConnectionTemplateCreateRequestBody:
      type: "object"
      required:
      - "destinationConfiguration"
      - "organizationId"
      - "destinationName"
      - "destinationActorDefinitionId"
      properties:
        organizationId:
          type: "string"
          format: "uuid"
        destinationName:
          type: "string"
        destinationConfiguration:
          $ref: "#/components/schemas/DestinationConfiguration"
        destinationActorDefinitionId:
          $ref: "#/components/schemas/ActorDefinitionId"
        namespaceDefinitionType:
          $ref: "#/components/schemas/NamespaceDefinitionType"
          description: "The namespace definition type for the connection. This is\
            \ used to determine how the namespace is defined for the connection. If\
            \ none is provided, the namespace will be set to ${WORKSPACE_NAME}."
        namespaceFormat:
          type: "string"
          default: null
        prefix:
          type: "string"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
          description: "The schedule for connections. If none is provided, syncs will\
            \ run every hour."
        resourceRequirements:
          $ref: "#/components/schemas/ResourceRequirements"
        nonBreakingChangesPreference:
          $ref: "#/components/schemas/NonBreakingChangesPreference"
        syncOnCreate:
          type: "boolean"
          default: true
      x-speakeasy-component: true
    ConnectionTemplateCreateResponse:
      type: "object"
      required:
      - "id"
      properties:
        id:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    EmbeddedOrganizationsList:
      required:
      - "organizations"
      properties:
        organizations:
          type: "array"
          items:
            $ref: "#/components/schemas/EmbeddedOrganizationListItem"
      x-speakeasy-component: true
    EmbeddedOrganizationListItem:
      type: "object"
      required:
      - "organizationId"
      - "organizationName"
      - "permission"
      properties:
        organizationId:
          type: "string"
          format: "uuid"
        organizationName:
          type: "string"
        permission:
          $ref: "#/components/schemas/PermissionType"
      x-speakeasy-component: true
    SSOConfigStatus:
      type: "string"
      enum:
      - "draft"
      - "active"
      x-speakeasy-component: true
    source-invoiced:
      properties:
        api_key:
          airbyte_secret: true
          description: "API key to use. Find it at https://invoiced.com/account"
          name: "api_key"
          order: 0
          title: "API Key"
          type: "string"
          x-speakeasy-param-sensitive: true
        sourceType:
          title: "invoiced"
          const: "invoiced"
          enum:
          - "invoiced"
          order: 0
          type: "string"
      required:
      - "api_key"
      - "sourceType"
      type: "object"
    source-invoiced-update:
      properties:
        api_key:
          airbyte_secret: true
          description: "API key to use. Find it at https://invoiced.com/account"
          name: "api_key"
          order: 0
          title: "API Key"
          type: "string"
      required:
      - "api_key"
      type: "object"
    source-nebius-ai:
      properties:
        api_key:
          airbyte_secret: true
          description: "API key or access token"
          name: "api_key"
          order: 0
          title: "API Key"
          type: "string"
          x-speakeasy-param-sensitive: true
        limit:
          default: "20"
          description: "Limit for each response objects"
          order: 2
          title: "Limit"
          type: "string"
        start_date:
          format: "date-time"
          order: 1
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          title: "Start date"
          type: "string"
        sourceType:
          title: "nebius-ai"
          const: "nebius-ai"
          enum:
          - "nebius-ai"
          order: 0
          type: "string"
      required:
      - "api_key"
      - "start_date"
      - "sourceType"
      type: "object"
    source-nebius-ai-update:
      properties:
        api_key:
          airbyte_secret: true
          description: "API key or access token"
          name: "api_key"
          order: 0
          title: "API Key"
          type: "string"
        limit:
          default: "20"
          description: "Limit for each response objects"
          order: 2
          title: "Limit"
          type: "string"
        start_date:
          format: "date-time"
          order: 1
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          title: "Start date"
          type: "string"
      required:
      - "api_key"
      - "start_date"
      type: "object"
    source-google-forms:
      properties:
        client_id:
          airbyte_secret: true
          order: 0
          title: "Client ID"
          type: "string"
          x-speakeasy-param-sensitive: true
        client_refresh_token:
          airbyte_secret: true
          order: 2
          title: "Refresh token"
          type: "string"
          x-speakeasy-param-sensitive: true
        client_secret:
          airbyte_secret: true
          order: 1
          title: "Client secret"
          type: "string"
          x-speakeasy-param-sensitive: true
        form_id:
          order: 3
          title: "Form IDs"
          type: "array"
        sourceType:
          title: "google-forms"
          const: "google-forms"
          enum:
          - "google-forms"
          order: 0
          type: "string"
      required:
      - "client_id"
      - "client_secret"
      - "client_refresh_token"
      - "form_id"
      - "sourceType"
      type: "object"
    source-google-forms-update:
      properties:
        client_id:
          airbyte_secret: true
          order: 0
          title: "Client ID"
          type: "string"
        client_refresh_token:
          airbyte_secret: true
          order: 2
          title: "Refresh token"
          type: "string"
        client_secret:
          airbyte_secret: true
          order: 1
          title: "Client secret"
          type: "string"
        form_id:
          order: 3
          title: "Form IDs"
          type: "array"
      required:
      - "client_id"
      - "client_secret"
      - "client_refresh_token"
      - "form_id"
      type: "object"
    source-the-guardian-api:
      properties:
        api_key:
          airbyte_secret: true
          description: "Your API Key. See <a href=\"https://open-platform.theguardian.com/access/\"\
            >here</a>. The key is case sensitive."
          order: 2
          title: "API Key"
          type: "string"
          x-speakeasy-param-sensitive: true
        end_date:
          description: "(Optional) Use this to set the maximum date (YYYY-MM-DD) of\
            \ the results. Results newer than the end_date will not be shown. Default\
            \ is set to the current date (today) for incremental syncs."
          examples:
          - "YYYY-MM-DD"
          order: 4
          pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
          title: "End Date"
          type: "string"
        query:
          description: "(Optional) The query (q) parameter filters the results to\
            \ only those that include that search term. The q parameter supports AND,\
            \ OR and NOT operators."
          examples:
          - "environment AND NOT water"
          - "environment AND political"
          - "amusement park"
          - "political"
          order: 1
          title: "Query"
          type: "string"
        section:
          description: "(Optional) Use this to filter the results by a particular\
            \ section. See <a href=\"https://content.guardianapis.com/sections?api-key=test\"\
            >here</a> for a list of all sections, and <a href=\"https://open-platform.theguardian.com/documentation/section\"\
            >here</a> for the sections endpoint documentation."
          examples:
          - "media"
          - "technology"
          - "housing-network"
          order: 3
          title: "Section"
          type: "string"
        start_date:
          description: "Use this to set the minimum date (YYYY-MM-DD) of the results.\
            \ Results older than the start_date will not be shown."
          examples:
          - "YYYY-MM-DD"
          order: 5
          pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
          title: "Start Date"
          type: "string"
        tag:
          description: "(Optional) A tag is a piece of data that is used by The Guardian\
            \ to categorise content. Use this parameter to filter results by showing\
            \ only the ones matching the entered tag. See <a href=\"https://content.guardianapis.com/tags?api-key=test\"\
            >here</a> for a list of all tags, and <a href=\"https://open-platform.theguardian.com/documentation/tag\"\
            >here</a> for the tags endpoint documentation."
          examples:
          - "environment/recycling"
          - "environment/plasticbags"
          - "environment/energyefficiency"
          order: 0
          title: "Tag"
          type: "string"
        sourceType:
          title: "the-guardian-api"
          const: "the-guardian-api"
          enum:
          - "the-guardian-api"
          order: 0
          type: "string"
      required:
      - "api_key"
      - "start_date"
      - "sourceType"
      type: "object"
    source-the-guardian-api-update:
      properties:
        api_key:
          airbyte_secret: true
          description: "Your API Key. See <a href=\"https://open-platform.theguardian.com/access/\"\
            >here</a>. The key is case sensitive."
          order: 2
          title: "API Key"
          type: "string"
        end_date:
          description: "(Optional) Use this to set the maximum date (YYYY-MM-DD) of\
            \ the results. Results newer than the end_date will not be shown. Default\
            \ is set to the current date (today) for incremental syncs."
          examples:
          - "YYYY-MM-DD"
          order: 4
          pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
          title: "End Date"
          type: "string"
        query:
          description: "(Optional) The query (q) parameter filters the results to\
            \ only those that include that search term. The q parameter supports AND,\
            \ OR and NOT operators."
          examples:
          - "environment AND NOT water"
          - "environment AND political"
          - "amusement park"
          - "political"
          order: 1
          title: "Query"
          type: "string"
        section:
          description: "(Optional) Use this to filter the results by a particular\
            \ section. See <a href=\"https://content.guardianapis.com/sections?api-key=test\"\
            >here</a> for a list of all sections, and <a href=\"https://open-platform.theguardian.com/documentation/section\"\
            >here</a> for the sections endpoint documentation."
          examples:
          - "media"
          - "technology"
          - "housing-network"
          order: 3
          title: "Section"
          type: "string"
        start_date:
          description: "Use this to set the minimum date (YYYY-MM-DD) of the results.\
            \ Results older than the start_date will not be shown."
          examples:
          - "YYYY-MM-DD"
          order: 5
          pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
          title: "Start Date"
          type: "string"
        tag:
          description: "(Optional) A tag is a piece of data that is used by The Guardian\
            \ to categorise content. Use this parameter to filter results by showing\
            \ only the ones matching the entered tag. See <a href=\"https://content.guardianapis.com/tags?api-key=test\"\
            >here</a> for a list of all tags, and <a href=\"https://open-platform.theguardian.com/documentation/tag\"\
            >here</a> for the tags endpoint documentation."
          examples:
          - "environment/recycling"
          - "environment/plasticbags"
          - "environment/energyefficiency"
          order: 0
          title: "Tag"
          type: "string"
      required:
      - "api_key"
      - "start_date"
      type: "object"
    source-prestashop:
      properties:
        access_key:
          airbyte_secret: true
          description: "Your PrestaShop access key. See <a href=\"https://devdocs.prestashop.com/1.7/webservice/tutorials/creating-access/#create-an-access-key\"\
            > the docs </a> for info on how to obtain this."
          order: 0
          title: "Access Key"
          type: "string"
          x-speakeasy-param-sensitive: true
        start_date:
          description: "The Start date in the format YYYY-MM-DD."
          examples:
          - "2022-01-01"
          format: "date"
          order: 2
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          title: "Start date"
          type: "string"
        url:
          description: "Shop URL without trailing slash."
          order: 1
          title: "Shop URL"
          type: "string"
        sourceType:
          title: "prestashop"
          const: "prestashop"
          enum:
          - "prestashop"
          order: 0
          type: "string"
      required:
      - "access_key"
      - "url"
      - "start_date"
      - "sourceType"
      type: "object"
    source-prestashop-update:
      properties:
        access_key:
          airbyte_secret: true
          description: "Your PrestaShop access key. See <a href=\"https://devdocs.prestashop.com/1.7/webservice/tutorials/creating-access/#create-an-access-key\"\
            > the docs </a> for info on how to obtain this."
          order: 0
          title: "Access Key"
          type: "string"
        start_date:
          description: "The Start date in the format YYYY-MM-DD."
          examples:
          - "2022-01-01"
          format: "date"
          order: 2
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          title: "Start date"
          type: "string"
        url:
          description: "Shop URL without trailing slash."
          order: 1
          title: "Shop URL"
          type: "string"
      required:
      - "access_key"
      - "url"
      - "start_date"
      type: "object"
    source-keka:
      properties:
        api_key:
          order: 2
          title: "API Key"
          type: "string"
        client_id:
          description: "Your client identifier for authentication."
          order: 0
          title: "Client ID"
          type: "string"
        client_secret:
          airbyte_secret: true
          description: "Your client secret for secure authentication."
          order: 1
          title: "Client Secret"
          type: "string"
          x-speakeasy-param-sensitive: true
        grant_type:
          order: 3
          title: "Grant Type"
          type: "string"
        scope:
          order: 4
          title: "Scope"
          type: "string"
        sourceType:
          title: "keka"
          const: "keka"
          enum:
          - "keka"
          order: 0
          type: "string"
      required:
      - "client_id"
      - "client_secret"
      - "api_key"
      - "grant_type"
      - "scope"
      - "sourceType"
      type: "object"
    source-keka-update:
      properties:
        api_key:
          order: 2
          title: "API Key"
          type: "string"
        client_id:
          description: "Your client identifier for authentication."
          order: 0
          title: "Client ID"
          type: "string"
        client_secret:
          airbyte_secret: true
          description: "Your client secret for secure authentication."
          order: 1
          title: "Client Secret"
          type: "string"
        grant_type:
          order: 3
          title: "Grant Type"
          type: "string"
        scope:
          order: 4
          title: "Scope"
          type: "string"
      required:
      - "client_id"
      - "client_secret"
      - "api_key"
      - "grant_type"
      - "scope"
      type: "object"
    source-payfit:
      properties:
        api_key:
          airbyte_secret: true
          order: 0
          title: "API Key"
          type: "string"
          x-speakeasy-param-sensitive: true
        company_id:
          order: 1
          title: "Company ID"
          type: "string"
        sourceType:
          title: "payfit"
          const: "payfit"
          enum:
          - "payfit"
          order: 0
          type: "string"
      required:
      - "api_key"
      - "company_id"
      - "sourceType"
      type: "object"
    source-payfit-update:
      properties:
        api_key:
          airbyte_secret: true
          order: 0
          title: "API Key"
          type: "string"
        company_id:
          order: 1
          title: "Company ID"
          type: "string"
      required:
      - "api_key"
      - "company_id"
      type: "object"
    source-simplesat:
      properties:
        api_key:
          airbyte_secret: true
          name: "api_key"
          order: 0
          title: "API Key"
          type: "string"
          x-speakeasy-param-sensitive: true
        end_date:
          description: "Date till when the sync should end"
          format: "date-time"
          order: 2
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          title: "end_date"
          type: "string"
        start_date:
          description: "Date from when the sync should start"
          format: "date-time"
          order: 1
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          title: "start_date"
          type: "string"
        sourceType:
          title: "simplesat"
          const: "simplesat"
          enum:
          - "simplesat"
          order: 0
          type: "string"
      required:
      - "api_key"
      - "sourceType"
      type: "object"
    source-simplesat-update:
      properties:
        api_key:
          airbyte_secret: true
          name: "api_key"
          order: 0
          title: "API Key"
          type: "string"
        end_date:
          description: "Date till when the sync should end"
          format: "date-time"
          order: 2
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          title: "end_date"
          type: "string"
        start_date:
          description: "Date from when the sync should start"
          format: "date-time"
          order: 1
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          title: "start_date"
          type: "string"
      required:
      - "api_key"
      type: "object"
    source-when-i-work:
      properties:
        email:
          airbyte_secret: true
          description: "Email of your when-i-work account"
          order: 0
          title: "Email"
          type: "string"
          x-speakeasy-param-sensitive: true
        password:
          airbyte_secret: true
          description: "Password for your when-i-work account"
          order: 1
          title: "Password"
          type: "string"
          x-speakeasy-param-sensitive: true
        sourceType:
          title: "when-i-work"
          const: "when-i-work"
          enum:
          - "when-i-work"
          order: 0
          type: "string"
      required:
      - "email"
      - "password"
      - "sourceType"
      type: "object"
    source-when-i-work-update:
      properties:
        email:
          airbyte_secret: true
          description: "Email of your when-i-work account"
          order: 0
          title: "Email"
          type: "string"
        password:
          airbyte_secret: true
          description: "Password for your when-i-work account"
          order: 1
          title: "Password"
          type: "string"
      required:
      - "email"
      - "password"
      type: "object"
    source-kisi:
      properties:
        api_key:
          description: "Your KISI API Key"
          order: 0
          title: "API Key"
          type: "string"
        sourceType:
          title: "kisi"
          const: "kisi"
          enum:
          - "kisi"
          order: 0
          type: "string"
      required:
      - "api_key"
      - "sourceType"
      type: "object"
    source-kisi-update:
      properties:
        api_key:
          description: "Your KISI API Key"
          order: 0
          title: "API Key"
          type: "string"
      required:
      - "api_key"
      type: "object"
    source-eventbrite:
      properties:
        private_token:
          airbyte_secret: true
          description: "The private token to use for authenticating API requests."
          name: "private_token"
          order: 0
          title: "Private Token"
          type: "string"
          x-speakeasy-param-sensitive: true
        start_date:
          format: "date-time"
          order: 1
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          title: "Start date"
          type: "string"
        sourceType:
          title: "eventbrite"
          const: "eventbrite"
          enum:
          - "eventbrite"
          order: 0
          type: "string"
      required:
      - "private_token"
      - "start_date"
      - "sourceType"
      type: "object"
    source-eventbrite-update:
      properties:
        private_token:
          airbyte_secret: true
          description: "The private token to use for authenticating API requests."
          name: "private_token"
          order: 0
          title: "Private Token"
          type: "string"
        start_date:
          format: "date-time"
          order: 1
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          title: "Start date"
          type: "string"
      required:
      - "private_token"
      - "start_date"
      type: "object"
    source-datagen:
      properties:
        concurrency:
          description: "Maximum number of concurrent data generators. Leave empty\
            \ to let Airbyte optimize performance."
          title: "Max Concurrency"
          type: "integer"
        flavor:
          default: "increment"
          description: "Different patterns for generating data"
          display_type: "radio"
          oneOf:
          - additionalProperties: true
            description: "Generates incrementally increasing numerical data for the\
              \ source."
            properties:
              data_type:
                default: "increment"
                enum:
                - "increment"
                type: "string"
            required:
            - "data_type"
            title: "Incremental"
            type: "object"
          - additionalProperties: true
            description: "Generates one column of each Airbyte data type."
            properties:
              data_type:
                default: "types"
                enum:
                - "types"
                type: "string"
            required:
            - "data_type"
            title: "All Types"
            type: "object"
          title: "Data Generation Type"
          type: "object"
        max_records:
          default: "100"
          description: "The number of record messages to emit from this connector.\
            \ Min 1. Max 100 billion."
          title: "Max Record"
          type: "integer"
        sourceType:
          title: "datagen"
          const: "datagen"
          enum:
          - "datagen"
          order: 0
          type: "string"
      required:
      - "max_records"
      - "flavor"
      - "sourceType"
      title: "Data Gen Source Configuration Specification"
      type: "object"
    source-datagen-update:
      properties:
        concurrency:
          description: "Maximum number of concurrent data generators. Leave empty\
            \ to let Airbyte optimize performance."
          title: "Max Concurrency"
          type: "integer"
        flavor:
          default: "increment"
          description: "Different patterns for generating data"
          display_type: "radio"
          oneOf:
          - additionalProperties: true
            description: "Generates incrementally increasing numerical data for the\
              \ source."
            properties:
              data_type:
                default: "increment"
                enum:
                - "increment"
                type: "string"
            required:
            - "data_type"
            title: "Incremental"
            type: "object"
          - additionalProperties: true
            description: "Generates one column of each Airbyte data type."
            properties:
              data_type:
                default: "types"
                enum:
                - "types"
                type: "string"
            required:
            - "data_type"
            title: "All Types"
            type: "object"
          title: "Data Generation Type"
          type: "object"
        max_records:
          default: "100"
          description: "The number of record messages to emit from this connector.\
            \ Min 1. Max 100 billion."
          title: "Max Record"
          type: "integer"
      required:
      - "max_records"
      - "flavor"
      title: "Data Gen Source Configuration Specification"
      type: "object"
    source-google-classroom:
      properties:
        client_id:
          airbyte_secret: true
          name: "client_id"
          order: 0
          title: "OAuth Client ID"
          type: "string"
          x-speakeasy-param-sensitive: true
        client_refresh_token:
          airbyte_secret: true
          order: 2
          title: "Refresh token"
          type: "string"
          x-speakeasy-param-sensitive: true
        client_secret:
          airbyte_secret: true
          name: "client_secret"
          order: 1
          title: "OAuth Client Secret"
          type: "string"
          x-speakeasy-param-sensitive: true
        sourceType:
          title: "google-classroom"
          const: "google-classroom"
          enum:
          - "google-classroom"
          order: 0
          type: "string"
      required:
      - "client_id"
      - "client_secret"
      - "client_refresh_token"
      - "sourceType"
      type: "object"
    source-google-classroom-update:
      properties:
        client_id:
          airbyte_secret: true
          name: "client_id"
          order: 0
          title: "OAuth Client ID"
          type: "string"
        client_refresh_token:
          airbyte_secret: true
          order: 2
          title: "Refresh token"
          type: "string"
        client_secret:
          airbyte_secret: true
          name: "client_secret"
          order: 1
          title: "OAuth Client Secret"
          type: "string"
      required:
      - "client_id"
      - "client_secret"
      - "client_refresh_token"
      type: "object"
    source-klaviyo:
      properties:
        api_key:
          airbyte_secret: true
          description: "Klaviyo API Key. See our <a href=\"https://docs.airbyte.com/integrations/sources/klaviyo\"\
            >docs</a> if you need help finding this key."
          order: 0
          title: "Api Key"
          type: "string"
          x-speakeasy-param-sensitive: true
        disable_fetching_predictive_analytics:
          description: "Certain streams like the profiles stream can retrieve predictive\
            \ analytics data from Klaviyo's API. However, at high volume, this can\
            \ lead to service availability issues on the API which can be improved\
            \ by not fetching this field. WARNING: Enabling this setting will stop\
            \ the  \"predictive_analytics\" column from being populated in your downstream\
            \ destination."
          order: 2
          title: "Disable Fetching Predictive Analytics"
          type: "boolean"
        num_workers:
          default: 10
          description: "The number of worker threads to use for the sync. The performance\
            \ upper boundary is based on the limit of your Klaviyo plan. More info\
            \ about the rate limit plan tiers can be found on Klaviyo's API <a href=\"\
            https://developers.klaviyo.com/en/docs/rate_limits_and_error_handling\"\
            >docs</a>."
          examples:
          - 1
          - 2
          - 3
          maximum: 50
          minimum: 1
          order: 3
          title: "Number of concurrent workers"
          type: "integer"
        start_date:
          description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
[...]
