{
  "openapi": "3.1.0",
  "info": {
    "title": "airbyte-api",
    "version": "1.0.0",
    "description": "Programmatically control Airbyte Cloud, OSS & Enterprise."
  },
  "servers": [
    {
      "url": "https://api.airbyte.com/v1",
      "description": "Airbyte API v1"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "operationId": "getHealthCheck",
        "summary": "Health Check",
        "security": [],
        "x-speakeasy-alias": "getHealthCheck",
        "x-speakeasy-group": "Health"
      }
    },
    "/jobs": {
      "get": {
        "tags": ["Jobs"],
        "parameters": [
          {
            "name": "connectionId",
            "description": "Filter the Jobs by connectionId.",
            "schema": {
              "format": "UUID",
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "Set the limit on the number of Jobs returned. The default is 20 Jobs.",
            "schema": {
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "offset",
            "description": "Set the offset to start at when returning Jobs. The default is 0.",
            "schema": {
              "format": "int32",
              "default": 0,
              "minimum": 0,
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "jobType",
            "description": "Filter the Jobs by jobType.",
            "schema": {
              "$ref": "#/components/schemas/JobTypeEnum"
            },
            "in": "query"
          },
          {
            "name": "workspaceIds",
            "description": "The UUIDs of the workspaces you wish to list jobs for. Empty list will retrieve all allowed workspaces.",
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "status",
            "description": "The Job status you want to filter by",
            "schema": {
              "$ref": "#/components/schemas/JobStatusEnum"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "createdAtStart",
            "description": "The start date to filter by",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "required": false,
            "example": 1687450500000
          },
          {
            "name": "createdAtEnd",
            "description": "The end date to filter by",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "required": false,
            "example": 1687450500000
          },
          {
            "name": "updatedAtStart",
            "description": "The start date to filter by",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": 1687450500000,
            "in": "query",
            "required": false
          },
          {
            "name": "updatedAtEnd",
            "description": "The end date to filter by",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "required": false,
            "example": 1687450500000
          },
          {
            "name": "orderBy",
            "description": "The field and method to use for ordering",
            "schema": {
              "type": "string",
              "pattern": "\\w+|(ASC|DESC)"
            },
            "in": "query",
            "required": false,
            "example": "updatedAt|DESC"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobsResponse"
                },
                "examples": {
                  "Job List Response Example": {
                    "value": {
                      "next": "https://api.airbyte.com/v1/jobs?limit=5&offset=10",
                      "previous": "https://api.airbyte.com/v1/jobs?limit=5&offset=0",
                      "data": [
                        {
                          "id": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                          "status": "running",
                          "jobType": "sync"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "List all the Jobs by connectionId."
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "operationId": "listJobs",
        "summary": "List Jobs by sync type",
        "x-speakeasy-alias": "listJobs",
        "x-speakeasy-group": "Jobs"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreateRequest"
              },
              "examples": {
                "Job Creation Request Example": {
                  "value": {
                    "connectionId": "e735894a-e773-4938-969f-45f53957b75b",
                    "jobType": "sync"
                  }
                }
              }
            }
          },
          "required": true
        },
        "tags": ["Jobs"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "examples": {
                  "Job Creation Response Example": {
                    "value": {
                      "jobId": 1234,
                      "status": "running",
                      "jobType": "sync"
                    }
                  }
                }
              }
            },
            "description": "Kicks off a new Job based on the JobType. The connectionId is the resource that Job will be run for."
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "operationId": "createJob",
        "summary": "Trigger a sync or reset job of a connection",
        "x-speakeasy-alias": "createJob",
        "x-speakeasy-group": "Jobs"
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": ["Jobs"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                },
                "examples": {
                  "Job Get Response Example": {
                    "value": {
                      "id": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "status": "running",
                      "jobType": "sync"
                    }
                  }
                }
              }
            },
            "description": "Get a Job by the id in the path."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getJob",
        "x-speakeasy-alias": "getJob",
        "x-speakeasy-group": "Jobs",
        "summary": "Get Job status and details"
      },
      "delete": {
        "tags": ["Jobs"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            },
            "description": "Cancel a Job."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "cancelJob",
        "x-speakeasy-alias": "cancelJob",
        "x-speakeasy-group": "Jobs",
        "summary": "Cancel a running Job"
      },
      "parameters": [
        {
          "name": "jobId",
          "schema": {
            "format": "int64",
            "type": "integer"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/workspaces/{workspaceId}/definitions/declarative_sources": {
      "parameters": [
        {
          "name": "workspaceId",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Declarative Source Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeclarativeSourceDefinitionsResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listDeclarativeSourceDefinitions",
        "x-speakeasy-alias": "listDeclarativeSourceDefinitions",
        "x-speakeasy-group": "DeclarativeSourceDefinitions",
        "summary": "List declarative source definitions."
      },
      "post": {
        "summary": "Create a declarative source definition.",
        "x-speakeasy-entity-operation": "DeclarativeSourceDefinition#create",
        "operationId": "createDeclarativeSourceDefinition",
        "x-speakeasy-alias": "createDeclarativeSourceDefinition",
        "x-speakeasy-group": "DeclarativeSourceDefinitions",
        "tags": ["Declarative Source Definitions"],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeclarativeSourceDefinitionResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeclarativeSourceDefinitionRequest"
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/definitions/declarative_sources/{definitionId}": {
      "parameters": [
        {
          "name": "workspaceId",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        },
        {
          "name": "definitionId",
          "x-speakeasy-match": "id",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Declarative Source Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeclarativeSourceDefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getDeclarativeSourceDefinition",
        "x-speakeasy-alias": "getDeclarativeSourceDefinition",
        "x-speakeasy-group": "DeclarativeSourceDefinitions",
        "summary": "Get declarative source definition details.",
        "x-speakeasy-entity-operation": "DeclarativeSourceDefinition#read"
      },
      "put": {
        "tags": ["Declarative Source Definitions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeclarativeSourceDefinitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeclarativeSourceDefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updateDeclarativeSourceDefinition",
        "x-speakeasy-alias": "updateDeclarativeSourceDefinition",
        "x-speakeasy-group": "DeclarativeSourceDefinitions",
        "summary": "Update declarative source definition details.",
        "x-speakeasy-entity-operation": "DeclarativeSourceDefinition#update"
      },
      "delete": {
        "tags": ["Declarative Source Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeclarativeSourceDefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteDeclarativeSourceDefinition",
        "x-speakeasy-alias": "deleteDeclarativeSourceDefinition",
        "x-speakeasy-group": "DeclarativeSourceDefinitions",
        "summary": "Delete a declarative source definition.",
        "x-speakeasy-entity-operation": "DeclarativeSourceDefinition#delete"
      }
    },
    "/workspaces/{workspaceId}/definitions/sources": {
      "parameters": [
        {
          "name": "workspaceId",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Source Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionsResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listSourceDefinitions",
        "x-speakeasy-alias": "listSourceDefinitions",
        "x-speakeasy-group": "SourceDefinitions",
        "summary": "List source definitions."
      },
      "post": {
        "operationId": "createSourceDefinition",
        "x-speakeasy-alias": "createSourceDefinition",
        "x-speakeasy-group": "SourceDefinitions",
        "summary": "Create a source definition.",
        "x-speakeasy-entity-operation": "SourceDefinition#create",
        "tags": ["Source Definitions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDefinitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionResponse"
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/definitions/sources/{definitionId}": {
      "parameters": [
        {
          "name": "workspaceId",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        },
        {
          "name": "definitionId",
          "x-speakeasy-match": "id",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Source Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getSourceDefinition",
        "x-speakeasy-alias": "getSourceDefinition",
        "x-speakeasy-group": "SourceDefinitions",
        "summary": "Get source definition details.",
        "x-speakeasy-entity-operation": "SourceDefinition#read"
      },
      "put": {
        "tags": ["Source Definitions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDefinitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updateSourceDefinition",
        "x-speakeasy-alias": "updateSourceDefinition",
        "x-speakeasy-group": "SourceDefinitions",
        "summary": "Update source definition details.",
        "x-speakeasy-entity-operation": "SourceDefinition#update"
      },
      "delete": {
        "tags": ["Source Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteSourceDefinition",
        "x-speakeasy-alias": "deleteSourceDefinition",
        "x-speakeasy-group": "SourceDefinitions",
        "summary": "Delete a source definition.",
        "x-speakeasy-entity-operation": "SourceDefinition#delete"
      }
    },
    "/workspaces/{workspaceId}/definitions/destinations": {
      "parameters": [
        {
          "name": "workspaceId",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Destination Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionsResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listDestinationDefinitions",
        "x-speakeasy-alias": "listDestinationDefinitions",
        "x-speakeasy-group": "DestinationDefinitions",
        "summary": "List destination definitions."
      },
      "post": {
        "operationId": "createDestinationDefinition",
        "x-speakeasy-alias": "createDestinationDefinition",
        "x-speakeasy-group": "DestinationDefinitions",
        "summary": "Create a destination definition.",
        "x-speakeasy-entity-operation": "DestinationDefinition#create",
        "tags": ["Destination Definitions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDefinitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionResponse"
                }
              }
            },
            "description": "Success"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/definitions/destinations/{definitionId}": {
      "parameters": [
        {
          "name": "workspaceId",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        },
        {
          "name": "definitionId",
          "x-speakeasy-match": "id",
          "schema": {
            "format": "uuid",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Destination Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getDestinationDefinition",
        "x-speakeasy-alias": "getDestinationDefinition",
        "x-speakeasy-group": "DestinationDefinitions",
        "summary": "Get destination definition details.",
        "x-speakeasy-entity-operation": "DestinationDefinition#read"
      },
      "put": {
        "tags": ["Destination Definitions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDefinitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updateDestinationDefinition",
        "x-speakeasy-alias": "updateDestinationDefinition",
        "x-speakeasy-group": "DestinationDefinitions",
        "summary": "Update destination definition details.",
        "x-speakeasy-entity-operation": "DestinationDefinition#update"
      },
      "delete": {
        "tags": ["Destination Definitions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteDestinationDefinition",
        "x-speakeasy-alias": "deleteDestinationDefinition",
        "x-speakeasy-group": "DestinationDefinitions",
        "summary": "Delete a destination definition.",
        "x-speakeasy-entity-operation": "DestinationDefinition#delete"
      }
    },
    "/sources": {
      "get": {
        "tags": ["Sources"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourcesResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listSources",
        "x-speakeasy-alias": "listSources",
        "x-speakeasy-group": "Sources",
        "summary": "List sources",
        "parameters": [
          {
            "name": "workspaceIds",
            "description": "The UUIDs of the workspaces you wish to list sources for. Empty list will retrieve all allowed workspaces.",
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            },
            "example": "df08f6b0-b364-4cc1-9b3f-96f5d2fccfb2,b0796797-de23-4fc7-a5e2-7e131314718c",
            "in": "query",
            "required": false
          },
          {
            "name": "includeDeleted",
            "description": "Include deleted sources in the returned results.",
            "schema": {
              "default": false,
              "type": "boolean"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "Set the limit on the number of sources returned. The default is 20.",
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "in": "query"
          },
          {
            "name": "offset",
            "description": "Set the offset to start at when returning sources. The default is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            },
            "in": "query"
          }
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceCreateRequest"
              },
              "examples": {
                "Source Creation Request Example": {
                  "value": {
                    "configuration": {
                      "airbyte_source_name": "google-ads",
                      "conversion_window_days": 14,
                      "customer_id": "1234567890",
                      "start_date": 1672531200000,
                      "end_date": 1704067200000
                    },
                    "name": "My Source",
                    "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035"
                  }
                }
              }
            }
          }
        },
        "tags": ["Sources"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                },
                "examples": {
                  "Source Creation Response Example": {
                    "value": {
                      "sourceId": "0c31738c-0b2d-4887-b506-e2cd1c39cc35"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "operationId": "createSource",
        "x-speakeasy-alias": "createSource",
        "x-speakeasy-group": "Sources",
        "x-speakeasy-entity-operation": "Source#create",
        "summary": "Create a source",
        "description": "Creates a source given a name, workspace id, and a json blob containing the configuration for the source."
      }
    },
    "/sources/{sourceId}": {
      "get": {
        "tags": ["Sources"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                },
                "examples": {
                  "Source Get Response Example": {
                    "value": {
                      "sourceId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "running",
                      "sourceType": "postgres",
                      "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035"
                    }
                  }
                }
              }
            },
            "description": "Get a Source by the id in the path."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getSource",
        "x-speakeasy-alias": "getSource",
        "x-speakeasy-group": "Sources",
        "x-speakeasy-entity-operation": "Source#read",
        "summary": "Get Source details",
        "parameters": [
          {
            "in": "query",
            "name": "includeSecretCoordinates",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Rather than return *** for secret properties include the secret coordinate information"
          }
        ]
      },
      "patch": {
        "tags": ["Sources"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourcePatchRequest"
              },
              "examples": {
                "Source Update Request Example": {
                  "value": {
                    "configuration": {
                      "airbyte_source_name": "google-ads",
                      "conversion_window_days": 14,
                      "customer_id": "1234567890",
                      "start_date": 1672531200000,
                      "end_date": 1704067200000
                    },
                    "name": "My Source",
                    "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                },
                "examples": {
                  "Source Update Response Example": {
                    "value": {
                      "sourceId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "running",
                      "sourceType": "postgres",
                      "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035"
                    }
                  }
                }
              }
            },
            "description": "Update a Source"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "patchSource",
        "x-speakeasy-alias": "patchSource",
        "x-speakeasy-group": "Sources",
        "summary": "Update a Source"
      },
      "put": {
        "tags": ["Sources"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourcePutRequest"
              },
              "examples": {
                "Source Update Request Example": {
                  "value": {
                    "configuration": {
                      "airbyte_source_name": "google-ads",
                      "conversion_window_days": 14,
                      "customer_id": "1234567890",
                      "start_date": 1672531200000,
                      "end_date": 1704067200000
                    },
                    "name": "My Source",
                    "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                },
                "examples": {
                  "Source Update Response Example": {
                    "value": {
                      "sourceId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "running",
                      "sourceType": "postgres",
                      "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035"
                    }
                  }
                }
              }
            },
            "description": "Update a source and fully overwrite it"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "putSource",
        "x-speakeasy-alias": "putSource",
        "x-speakeasy-group": "Sources",
        "summary": "Update a Source and fully overwrite it",
        "x-speakeasy-entity-operation": "Source#update"
      },
      "delete": {
        "tags": ["Sources"],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteSource",
        "x-speakeasy-alias": "deleteSource",
        "x-speakeasy-group": "Sources",
        "summary": "Delete a Source"
      },
      "parameters": [
        {
          "name": "sourceId",
          "schema": {
            "format": "UUID",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/destinations": {
      "get": {
        "tags": ["Destinations"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationsResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listDestinations",
        "x-speakeasy-alias": "listDestinations",
        "x-speakeasy-group": "Destinations",
        "summary": "List destinations",
        "parameters": [
          {
            "name": "workspaceIds",
            "description": "The UUIDs of the workspaces you wish to list destinations for. Empty list will retrieve all allowed workspaces.",
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "includeDeleted",
            "description": "Include deleted destinations in the returned results.",
            "schema": {
              "default": false,
              "type": "boolean"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "Set the limit on the number of destinations returned. The default is 20.",
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "in": "query"
          },
          {
            "name": "offset",
            "description": "Set the offset to start at when returning destinations. The default is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            },
            "in": "query"
          }
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DestinationCreateRequest"
              },
              "examples": {
                "Destination Creation Request Example": {
                  "value": {
                    "name": "Postgres",
                    "workspaceId": "2155ae5a-de39-4808-af6a-16fe7b8b4ed2",
                    "configuration": {
                      "airbyte_destination_name": "postgres",
                      "port": 5432,
                      "schema": "public",
                      "ssl_mode": {
                        "mode": "prefer"
                      },
                      "tunnel_method": {
                        "tunnel_method": "NO_TUNNEL"
                      },
                      "host": "localhost",
                      "database": "postgres",
                      "username": "postgres",
                      "password": "test"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Destinations"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationResponse"
                },
                "examples": {
                  "Destination Creation Response Example": {
                    "value": {
                      "destinationId": "af0c3c67-aa61-419f-8922-95b0bf840e86"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "createDestination",
        "x-speakeasy-alias": "createDestination",
        "x-speakeasy-entity-operation": "Destination#create",
        "x-speakeasy-group": "Destinations",
        "summary": "Create a destination",
        "description": "Creates a destination given a name, workspace id, and a json blob containing the configuration for the source."
      }
    },
    "/destinations/{destinationId}": {
      "get": {
        "tags": ["Destinations"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationResponse"
                },
                "examples": {
                  "Destination Get Response Example": {
                    "value": {
                      "destinationId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "My Destination",
                      "sourceType": "postgres",
                      "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035",
                      "configuration": {
                        "conversion_window_days": 14,
                        "customer_id": "1234567890",
                        "start_date": 1672531200000,
                        "end_date": 1704067200000
                      }
                    }
                  }
                }
              }
            },
            "description": "Get a Destination by the id in the path."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getDestination",
        "x-speakeasy-alias": "getDestination",
        "x-speakeasy-entity-operation": "Destination#read",
        "x-speakeasy-group": "Destinations",
        "summary": "Get Destination details",
        "parameters": [
          {
            "in": "query",
            "name": "includeSecretCoordinates",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Rather than return *** for secret properties include the secret coordinate information"
          }
        ]
      },
      "delete": {
        "tags": ["Destinations"],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteDestination",
        "x-speakeasy-alias": "deleteDestination",
        "x-speakeasy-entity-operation": "Destination#delete",
        "x-speakeasy-group": "Destinations",
        "summary": "Delete a Destination"
      },
      "patch": {
        "tags": ["Destinations"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DestinationPatchRequest"
              },
              "examples": {
                "Destination Update Request Example": {
                  "value": {
                    "configuration": {
                      "conversion_window_days": 14,
                      "customer_id": "1234567890",
                      "start_date": 1672531200000,
                      "end_date": 1704067200000
                    },
                    "name": "My Destination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationResponse"
                },
                "examples": {
                  "Destination Update Response Example": {
                    "value": {
                      "destinationId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "running",
                      "sourceType": "postgres",
                      "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035",
                      "configuration": {
                        "conversion_window_days": 14,
                        "customer_id": "1234567890",
                        "start_date": 1672531200000,
                        "end_date": 1704067200000
                      }
                    }
                  }
                }
              }
            },
            "description": "Update a Destination"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "patchDestination",
        "x-speakeasy-alias": "patchDestination",
        "x-speakeasy-group": "Destinations",
        "summary": "Update a Destination"
      },
      "put": {
        "tags": ["Destinations"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DestinationPutRequest"
              },
              "examples": {
                "Destination Update Request Example": {
                  "value": {
                    "configuration": {
                      "conversion_window_days": 14,
                      "customer_id": "1234567890",
                      "start_date": 1672531200000,
                      "end_date": 1704067200000
                    },
                    "name": "My Destination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationResponse"
                },
                "examples": {
                  "Destination Update Response Example": {
                    "value": {
                      "destinationId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "running",
                      "sourceType": "postgres",
                      "workspaceId": "744cc0ed-7f05-4949-9e60-2a814f90c035",
                      "configuration": {
                        "conversion_window_days": 14,
                        "customer_id": "1234567890",
                        "start_date": 1672531200000,
                        "end_date": 1704067200000
                      }
                    }
                  }
                }
              }
            },
            "description": "Update a Destination and fully overwrite it"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "putDestination",
        "x-speakeasy-alias": "putDestination",
        "x-speakeasy-group": "Destinations",
        "x-speakeasy-entity-operation": "Destination#update",
        "summary": "Update a Destination and fully overwrite it"
      },
      "parameters": [
        {
          "name": "destinationId",
          "schema": {
            "format": "UUID",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/sources/initiateOAuth": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateOauthRequest"
              }
            }
          },
          "required": true
        },
        "tags": ["Sources"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/InitiateOauthResponse"
          },
          "400": {
            "description": "A field in the body has not been set appropriately."
          },
          "403": {
            "description": "API key is invalid."
          }
        },
        "operationId": "initiateOAuth",
        "x-speakeasy-alias": "initiateOAuth",
        "x-speakeasy-group": "Sources",
        "summary": "Initiate OAuth for a source",
        "description": "Given a source ID, workspace ID, and redirect URL, initiates OAuth for the source.\n\nThis returns a fully formed URL for performing user authentication against the relevant source identity provider (IdP). Once authentication has been completed, the IdP will redirect to an Airbyte endpoint which will save the access and refresh tokens off as a secret and return the secret ID to the redirect URL specified in the `secret_id` query string parameter.\n\nThat secret ID can be used to create a source with credentials in place of actual tokens."
      }
    },
    "/connections": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionCreateRequest"
              },
              "examples": {
                "Connection Creation Request Example": {
                  "value": {
                    "sourceId": "95e66a59-8045-4307-9678-63bc3c9b8c93",
                    "destinationId": "e478de0d-a3a0-475c-b019-25f7dd29e281",
                    "name": "Postgres-to-Bigquery"
                  }
                }
              }
            }
          },
          "required": true
        },
        "tags": ["Connections"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResponse"
                },
                "examples": {
                  "Connection Creation Response Example": {
                    "value": {
                      "connectionId": "9924bcd0-99be-453d-ba47-c2c9766f7da5"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "operationId": "createConnection",
        "x-speakeasy-alias": "createConnection",
        "x-speakeasy-group": "Connections",
        "summary": "Create a connection",
        "x-speakeasy-entity-operation": "Connection#create"
      },
      "get": {
        "tags": ["Connections"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionsResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listConnections",
        "x-speakeasy-alias": "listConnections",
        "x-speakeasy-group": "Connections",
        "summary": "List connections",
        "x-speakeasy-entity-operation": "Connections#read",
        "parameters": [
          {
            "name": "workspaceIds",
            "description": "The UUIDs of the workspaces you wish to list connections for. Empty list will retrieve all allowed workspaces.",
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "tagIds",
            "description": "The UUIDs of the tags you wish to list connections for. Empty list will retrieve all connections.",
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "includeDeleted",
            "description": "Include deleted connections in the returned results.",
            "schema": {
              "default": false,
              "type": "boolean"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "Set the limit on the number of Connections returned. The default is 20.",
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "in": "query"
          },
          {
            "name": "offset",
            "description": "Set the offset to start at when returning Connections. The default is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            },
            "in": "query"
          }
        ]
      }
    },
    "/connections/{connectionId}": {
      "get": {
        "tags": ["Connections"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResponse"
                },
                "examples": {
                  "Connection Get Response Example": {
                    "value": {
                      "workspaceId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "Postgres To Snowflake",
                      "sourceId": "9924bcd0-99be-453d-ba47-c2c9766f7da5",
                      "destinationId": "744cc0ed-7f05-4949-9e60-2a814f90c035"
                    }
                  }
                }
              }
            },
            "description": "Get a Connection by the id in the path."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getConnection",
        "x-speakeasy-alias": "getConnection",
        "x-speakeasy-group": "Connections",
        "summary": "Get Connection details",
        "x-speakeasy-entity-operation": "Connection#read"
      },
      "patch": {
        "tags": ["Connections"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionPatchRequest"
              },
              "examples": {
                "Connection Update Request Example": {
                  "value": {
                    "sourceId": "95e66a59-8045-4307-9678-63bc3c9b8c93",
                    "destinationId": "e478de0d-a3a0-475c-b019-25f7dd29e281",
                    "name": "Postgres-to-Bigquery"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResponse"
                },
                "examples": {
                  "Connection Get Response Example": {
                    "value": {
                      "workspaceId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "Postgres To Snowflake",
                      "sourceId": "9924bcd0-99be-453d-ba47-c2c9766f7da5",
                      "destinationId": "744cc0ed-7f05-4949-9e60-2a814f90c035"
                    }
                  }
                }
              }
            },
            "description": "Update a Connection by the id in the path."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "patchConnection",
        "x-speakeasy-alias": "patchConnection",
        "x-speakeasy-group": "Connections",
        "summary": "Update Connection details",
        "x-speakeasy-entity-operation": "Connection#update"
      },
      "delete": {
        "tags": ["Connections"],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteConnection",
        "x-speakeasy-alias": "deleteConnection",
        "x-speakeasy-group": "Connections",
        "summary": "Delete a Connection",
        "x-speakeasy-entity-operation": "Connection#delete"
      },
      "parameters": [
        {
          "name": "connectionId",
          "schema": {
            "format": "UUID",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/streams": {
      "get": {
        "tags": ["Streams"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamPropertiesResponse"
                }
              }
            },
            "description": "Get the available streams properties for a source/destination pair."
          },
          "400": {
            "description": "Required parameters are missing"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getStreamProperties",
        "x-speakeasy-alias": "getStreamProperties",
        "x-speakeasy-group": "Streams",
        "summary": "Get stream properties",
        "parameters": [
          {
            "name": "sourceId",
            "description": "ID of the source",
            "schema": {
              "format": "UUID",
              "type": "string"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "destinationId",
            "description": "ID of the destination",
            "schema": {
              "format": "UUID",
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreCache",
            "description": "If true pull the latest schema from the source, else pull from cache (default false)",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "required": false
          }
        ]
      }
    },
    "/workspaces": {
      "get": {
        "tags": ["Workspaces"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacesResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listWorkspaces",
        "x-speakeasy-alias": "listWorkspaces",
        "x-speakeasy-group": "Workspaces",
        "summary": "List workspaces",
        "parameters": [
          {
            "name": "workspaceIds",
            "description": "The UUIDs of the workspaces you wish to fetch. Empty list will retrieve all allowed workspaces.",
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "includeDeleted",
            "description": "Include deleted workspaces in the returned results.",
            "schema": {
              "default": false,
              "type": "boolean"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "Set the limit on the number of workspaces returned. The default is 20.",
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "in": "query"
          },
          {
            "name": "offset",
            "description": "Set the offset to start at when returning workspaces. The default is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            },
            "in": "query"
          }
        ]
      },
      "post": {
        "tags": ["Workspaces"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreateRequest"
              },
              "examples": {
                "Workspace Creation Request Example": {
                  "value": {
                    "name": "Company Workspace Name"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceResponse"
                },
                "examples": {
                  "Workspace Creation Response Example": {
                    "value": {
                      "workspaceId": "9924bcd0-99be-453d-ba47-c2c9766f7da5"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "operationId": "createWorkspace",
        "x-speakeasy-alias": "createWorkspace",
        "x-speakeasy-group": "Workspaces",
        "summary": "Create a workspace",
        "x-speakeasy-entity-operation": "Workspace#create"
      }
    },
    "/workspaces/{workspaceId}": {
      "parameters": [
        {
          "name": "workspaceId",
          "schema": {
            "format": "UUID",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Workspaces"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceResponse"
                },
                "examples": {
                  "Workspace Get Response Example": {
                    "value": {
                      "workspaceId": "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826",
                      "name": "Acme Company",
                      "dataResidency": "auto"
                    }
                  }
                }
              }
            },
            "description": "Get a Workspace by the id in the path."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getWorkspace",
        "x-speakeasy-alias": "getWorkspace",
        "x-speakeasy-group": "Workspaces",
        "summary": "Get Workspace details",
        "x-speakeasy-entity-operation": "Workspace#read"
      },
      "patch": {
        "tags": ["Workspaces"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdateRequest"
              },
              "examples": {
                "Workspace Update Request Example": {
                  "value": {
                    "name": "Company Workspace Name"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceResponse"
                },
                "examples": {
                  "Workspace Update Response Example": {
                    "value": {
                      "workspaceId": "9924bcd0-99be-453d-ba47-c2c9766f7da5"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "operationId": "updateWorkspace",
        "x-speakeasy-alias": "updateWorkspace",
        "x-speakeasy-group": "Workspaces",
        "summary": "Update a workspace",
        "x-speakeasy-entity-operation": "Workspace#update"
      },
      "delete": {
        "tags": ["Workspaces"],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteWorkspace",
        "x-speakeasy-alias": "deleteWorkspace",
        "x-speakeasy-group": "Workspaces",
        "summary": "Delete a Workspace",
        "x-speakeasy-entity-operation": "Workspace#delete"
      }
    },
    "/workspaces/{workspaceId}/oauthCredentials": {
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceOAuthCredentialsRequest"
              }
            }
          },
          "required": true
        },
        "tags": ["Workspaces"],
        "responses": {
          "200": {
            "description": "OAuth credential override was successful."
          },
          "400": {
            "description": "A field in the body has not been set appropriately."
          },
          "403": {
            "description": "API key is invalid."
          }
        },
        "operationId": "createOrUpdateWorkspaceOAuthCredentials",
        "x-speakeasy-alias": "createOrUpdateWorkspaceOAuthCredentials",
        "x-speakeasy-group": "Workspaces",
        "summary": "Create OAuth override credentials for a workspace and source type.",
        "description": "Create/update a set of OAuth credentials to override the Airbyte-provided OAuth credentials used for source/destination OAuth.\nIn order to determine what the credential configuration needs to be, please see the connector specification of the relevant source/destination."
      },
      "parameters": [
        {
          "name": "workspaceId",
          "schema": {
            "format": "UUID",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/workspaces/{workspaceId}/oauthCredentials/{actorType}/{name}": {
      "delete": {
        "parameters": [
          {
            "name": "workspaceId",
            "schema": {
              "format": "UUID",
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "actorType",
            "schema": {
              "$ref": "#/components/schemas/ActorTypeEnum"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "name",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true,
            "description": "The name of the source or destination i.e. google-ads"
          }
        ],
        "tags": ["Workspaces"],
        "responses": {
          "204": {
            "description": "OAuth credential override was deleted successfully."
          },
          "400": {
            "description": "A field in the path has not been set appropriately."
          },
          "403": {
            "description": "API key is invalid."
          }
        },
        "operationId": "deleteWorkspaceOAuthCredentials",
        "x-speakeasy-alias": "deleteWorkspaceOAuthCredentials",
        "x-speakeasy-group": "Workspaces",
        "summary": "Delete OAuth override credentials for a workspace and source/destination type.",
        "description": "Delete a set of OAuth credentials that overrides the Airbyte-provided OAuth credentials used for source/destination OAuth.\n\n> 🚧 Warning\n>\n> Deleting an override that is actively used by existing sources or destinations will cause those connectors to fail on their next sync and require re-authentication."
      }
    },
    "/permissions/{permissionId}": {
      "parameters": [
        {
          "name": "permissionId",
          "schema": {
            "format": "UUID",
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Permissions"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionResponse"
                }
              }
            },
            "description": "Get a Permission by the id in the path."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Data issue"
          }
        },
        "operationId": "getPermission",
        "summary": "Get Permission details",
        "x-speakeasy-alias": "getPermission",
        "x-speakeasy-group": "Permissions",
        "x-speakeasy-entity-operation": "Permission#read"
      },
      "patch": {
        "tags": ["Permissions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionResponse"
                }
              }
            },
            "description": "Successful updated"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Data issue"
          }
        },
        "operationId": "updatePermission",
        "summary": "Update a permission",
        "x-speakeasy-alias": "updatePermission",
        "x-speakeasy-group": "Permissions",
        "x-speakeasy-entity-operation": "Permission#update"
      },
      "delete": {
        "tags": ["Permissions"],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Data issue"
          }
        },
        "operationId": "deletePermission",
        "x-speakeasy-alias": "deletePermission",
        "x-speakeasy-group": "Permissions",
        "summary": "Delete a Permission",
        "x-speakeasy-entity-operation": "Permission#delete"
      }
    },
    "/permissions": {
      "get": {
        "tags": ["Permissions"],
        "parameters": [
          {
            "name": "userId",
            "description": "User Id in permission.",
            "schema": {
              "format": "UUID",
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "organizationId",
            "description": "This is required if you want to read someone else's permissions, and you should have organization admin or a higher role.",
            "schema": {
              "format": "UUID",
              "type": "string"
            },
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsResponse"
                }
              }
            },
            "description": "List Permissions."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listPermissions",
        "x-speakeasy-alias": "listPermissions",
        "x-speakeasy-group": "Permissions",
        "summary": "List Permissions by user id"
      },
      "post": {
        "tags": ["Permissions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionCreateRequest"
              },
              "examples": {
                "Permission Creation Request Example": {
                  "value": {
                    "permissionType": "workspace_admin",
                    "userId": "7d08fd6c-531e-4a00-937e-3d355f253e63",
                    "workspaceId": "9924bcd0-99be-453d-ba47-c2c9766f7da5"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionResponse"
                },
                "examples": {
                  "Permission Creation Response Example": {
                    "value": {
                      "permissionId": "9924bcd0-99be-453d-ba47-c2c9766f7da5",
                      "permissionType": "workspace_admin",
                      "userId": "7d08fd6c-531e-4a00-937e-3d355f253e63"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "operationId": "createPermission",
        "x-speakeasy-alias": "createPermission",
        "x-speakeasy-group": "Permissions",
        "summary": "Create a permission",
        "x-speakeasy-entity-operation": "Permission#create"
      }
    },
    "/organizations": {
      "get": {
        "tags": ["Organizations"],
        "summary": "List all organizations for a user",
        "description": "Lists users organizations.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationsResponse"
                }
              }
            },
            "description": "List user's organizations."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listOrganizationsForUser",
        "x-speakeasy-alias": "listOrganizationsForUser",
        "x-speakeasy-group": "Organizations"
      }
    },
    "/organizations/{organizationId}/oauthCredentials": {
      "put": {
        "parameters": [
          {
            "name": "organizationId",
            "schema": {
              "format": "UUID",
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationOAuthCredentialsRequest"
              }
            }
          },
          "required": true
        },
        "tags": ["Organizations"],
        "responses": {
          "200": {
            "description": "OAuth credential override was successful."
          },
          "400": {
            "description": "A field in the body has not been set appropriately."
          },
          "403": {
            "description": "API key is invalid."
          }
        },
        "operationId": "createOrUpdateOrganizationOAuthCredentials",
        "x-speakeasy-alias": "createOrUpdateOrganizationOAuthCredentials",
        "x-speakeasy-group": "Organizations",
        "summary": "Create OAuth override credentials for an organization and source type.",
        "description": "Create/update a set of OAuth credentials to override the Airbyte-provided OAuth credentials used for source/destination OAuth.\nIn order to determine what the credential configuration needs to be, please see the connector specification of the relevant source/destination."
      }
    },
    "/organizations/{organizationId}/oauthCredentials/{actorType}/{name}": {
      "delete": {
        "parameters": [
          {
            "name": "organizationId",
            "schema": {
              "format": "UUID",
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "actorType",
            "schema": {
              "$ref": "#/components/schemas/ActorTypeEnum"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "name",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true,
            "description": "The name of the source or destination i.e. google-ads"
          }
        ],
        "tags": ["Organizations"],
        "responses": {
          "204": {
            "description": "OAuth credential override was deleted successfully."
          },
          "400": {
            "description": "A field in the path has not been set appropriately."
          },
          "403": {
            "description": "API key is invalid."
          }
        },
        "operationId": "deleteOrganizationOAuthCredentials",
        "x-speakeasy-alias": "deleteOrganizationOAuthCredentials",
        "x-speakeasy-group": "Organizations",
        "summary": "Delete OAuth override credentials for an organization and source/destination type.",
        "description": "Delete a set of OAuth credentials that overrides the Airbyte-provided OAuth credentials used for source/destination OAuth.\n\n> 🚧 Warning\n>\n> Deleting an override that is actively used by existing sources or destinations will cause those connectors to fail on their next sync and require re-authentication."
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List all users within an organization",
        "description": "Organization Admin user can list all users within the same organization. Also provide filtering on a list of user IDs or/and a list of user emails.",
        "parameters": [
          {
            "in": "query",
            "name": "organizationId",
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "UUID"
              }
            },
            "description": "List of user IDs to filter by"
          },
          {
            "in": "query",
            "name": "emails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "email"
              }
            },
            "description": "List of user emails to filter by"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            },
            "description": "List Users."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listUsersWithinAnOrganization",
        "x-speakeasy-alias": "listUsersWithinAnOrganization",
        "x-speakeasy-group": "Users"
      }
    },
    "/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "List all tags",
        "description": "Lists all tags",
        "parameters": [
          {
            "name": "workspaceIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            },
            "description": "List Tags."
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "listTags",
        "x-speakeasy-alias": "listTags",
        "x-speakeasy-group": "Tags"
      },
      "post": {
        "tags": ["Tags"],
        "summary": "Create a tag",
        "description": "Create a tag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          },
          "409": {
            "description": "Tag with same name already exists"
          }
        },
        "operationId": "createTag",
        "x-speakeasy-alias": "createTag",
        "x-speakeasy-group": "Tags"
      }
    },
    "/tags/{tagId}": {
      "parameters": [
        {
          "name": "tagId",
          "schema": {
            "$ref": "#/components/schemas/TagId"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "tags": ["Tags"],
        "summary": "Get a tag",
        "description": "Get a tag",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getTag",
        "x-speakeasy-alias": "getTag",
        "x-speakeasy-group": "Tags"
      },
      "delete": {
        "tags": ["Tags"],
        "summary": "Delete a tag",
        "description": "Delete a tag",
        "responses": {
          "204": {
            "description": "The resource was deleted successfully"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteTag",
        "x-speakeasy-alias": "deleteTag",
        "x-speakeasy-group": "Tags"
      },
      "patch": {
        "tags": ["Tags"],
        "summary": "Update a tag",
        "description": "Update a tag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updateTag",
        "x-speakeasy-alias": "updateTag",
        "x-speakeasy-group": "Tags"
      }
    }
  },
  "components": {
    "responses": {
      "InitiateOauthResponse": {
        "content": {
          "application/json": {}
        },
        "description": "Response from the initiate OAuth call should be an object with a single property which will be the `redirect_url`. If a user is redirected to this URL, they'll be prompted by the identity provider to authenticate.",
        "x-speakeasy-component": true
      }
    },
    "schemas": {
      "WorkspaceId": {
        "type": "string",
        "format": "uuid",
        "x-speakeasy-component": true
      },
      "DeclarativeManifest": {
        "x-speakeasy-component": true,
        "x-speakeasy-type-override": "any",
        "x-speakeasy-terraform-custom-type": {
          "imports": [
            "github.com/hashicorp/terraform-plugin-framework-jsontypes/jsontypes"
          ],
          "schemaType": "jsontypes.NormalizedType{}",
          "valueType": "jsontypes.Normalized"
        },
        "description": "Low code CDK manifest JSON object",
        "type": "object"
      },
      "ManifestVersion": {
        "x-speakeasy-component": true,
        "type": "integer",
        "format": "int64"
      },
      "TagId": {
        "type": "string",
        "format": "uuid",
        "x-speakeasy-component": true
      },
      "Tag": {
        "description": "A tag that can be associated with a connection. Useful for grouping and organizing connections in a workspace.",
        "type": "object",
        "x-speakeasy-component": true,
        "required": ["tagId", "workspaceId", "name", "color"],
        "properties": {
          "tagId": {
            "$ref": "#/components/schemas/TagId"
          },
          "workspaceId": {
            "$ref": "#/components/schemas/WorkspaceId"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "OrganizationId": {
        "type": "string",
        "format": "uuid",
        "x-speakeasy-component": true
      },
      "PermissionType": {
        "type": "string",
        "description": "Describes what actions/endpoints the permission entitles to",
        "enum": [
          "instance_admin",
          "organization_admin",
          "organization_editor",
          "organization_runner",
          "organization_reader",
          "organization_member",
          "workspace_owner",
          "workspace_admin",
          "workspace_runner",
          "workspace_editor",
          "workspace_reader"
        ],
        "x-speakeasy-component": true
      },
      "PublicPermissionType": {
        "type": "string",
        "description": "Subset of `PermissionType` (removing `instance_admin`), could be used in public-api.",
        "enum": [
          "organization_admin",
          "organization_editor",
          "organization_runner",
          "organization_reader",
          "organization_member",
          "workspace_admin",
          "workspace_editor",
          "workspace_runner",
          "workspace_reader"
        ],
        "x-speakeasy-component": true
      },
      "UserId": {
        "type": "string",
        "description": "Internal Airbyte user ID",
        "format": "uuid",
        "x-speakeasy-component": true
      },
      "SelectedFieldInfo": {
        "type": "object",
        "description": "Path to a field/column/property in a stream to be selected. For example, if the field to be selected is a database column called \"foo\", this will be [\"foo\"]. Use multiple path elements for nested schemas.",
        "properties": {
          "fieldPath": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "x-speakeasy-component": true
      },
      "StreamMapperType": {
        "type": "string",
        "enum": [
          "hashing",
          "field-renaming",
          "row-filtering",
          "encryption",
          "field-filtering"
        ],
        "x-speakeasy-component": true
      },
      "ConfiguredStreamMapper": {
        "type": "object",
        "required": ["type", "mapperConfiguration"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/StreamMapperType"
          },
          "mapperConfiguration": {
            "$ref": "#/components/schemas/MapperConfiguration"
          }
        },
        "x-speakeasy-component": true
      },
      "MapperConfiguration": {
        "type": "object",
        "description": "The values required to configure the mapper.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/HashingMapperConfiguration"
          },
          {
            "$ref": "#/components/schemas/FieldFilteringMapperConfiguration"
          },
          {
            "$ref": "#/components/schemas/FieldRenamingMapperConfiguration"
          },
          {
            "$ref": "#/components/schemas/RowFilteringMapperConfiguration"
          },
          {
            "$ref": "#/components/schemas/EncryptionMapperConfiguration"
          }
        ],
        "x-speakeasy-component": true
      },
      "HashingMapperConfiguration": {
        "title": "Hashing",
        "type": "object",
        "properties": {
          "fieldNameSuffix": {
            "type": "string",
            "title": "Field name suffix",
            "description": "The suffix to append to the field name after hashing."
          },
          "method": {
            "type": "string",
            "enum": [
              "MD2",
              "MD5",
              "SHA-1",
              "SHA-224",
              "SHA-256",
              "SHA-384",
              "SHA-512"
            ],
            "title": "Hashing method",
            "description": "The hashing algorithm to use."
          },
          "targetField": {
            "type": "string",
            "title": "Original Field Name",
            "description": "The name of the field to be hashed."
          }
        },
        "required": ["fieldNameSuffix", "method", "targetField"],
        "x-speakeasy-component": true
      },
      "FieldFilteringMapperConfiguration": {
        "title": "Field Filtering",
        "type": "object",
        "properties": {
          "targetField": {
            "type": "string",
            "title": "The Field to Filter",
            "description": "The name of the field to filter."
          }
        },
        "required": ["targetField"],
        "x-speakeasy-component": true
      },
      "FieldRenamingMapperConfiguration": {
        "title": "Field Renaming",
        "type": "object",
        "properties": {
          "newFieldName": {
            "type": "string",
            "title": "New Field Name",
            "description": "The new name for the field after renaming."
          },
          "originalFieldName": {
            "type": "string",
            "title": "Original Field Name",
            "description": "The current name of the field to rename."
          }
        },
        "required": ["newFieldName", "originalFieldName"],
        "x-speakeasy-component": true
      },
      "RowFilteringOperationType": {
        "type": "string",
        "enum": ["EQUAL", "NOT"],
        "x-speakeasy-component": true
      },
      "RowFilteringOperationEqual": {
        "type": "object",
        "title": "EQUAL",
        "required": ["comparisonValue", "fieldName", "type"],
        "properties": {
          "comparisonValue": {
            "type": "string",
            "title": "Comparison Value",
            "description": "The value to compare the field against."
          },
          "fieldName": {
            "type": "string",
            "title": "Field Name",
            "description": "The name of the field to apply the operation on."
          },
          "type": {
            "$ref": "#/components/schemas/RowFilteringOperationType"
          }
        },
        "x-speakeasy-component": true
      },
      "RowFilteringOperationNot": {
        "type": "object",
        "title": "NOT",
        "required": ["conditions", "type"],
        "properties": {
          "conditions": {
            "title": "Sub-Conditions (NOT)",
            "description": "Conditions to evaluate with the NOT operator.",
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowFilteringOperation"
            }
          },
          "type": {
            "$ref": "#/components/schemas/RowFilteringOperationType"
          }
        },
        "x-speakeasy-component": true
      },
      "RowFilteringOperation": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/RowFilteringOperationEqual"
          },
          {
            "$ref": "#/components/schemas/RowFilteringOperationNot"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "EQUAL": "#/components/schemas/RowFilteringOperationEqual",
            "NOT": "#/components/schemas/RowFilteringOperationNot"
          }
        },
        "x-speakeasy-component": true,
        "x-airbyte-circular-ref": true
      },
      "RowFilteringMapperConfiguration": {
        "title": "Row Filtering",
        "type": "object",
        "properties": {
          "conditions": {
            "$ref": "#/components/schemas/RowFilteringOperation"
          }
        },
        "required": ["conditions"],
        "x-speakeasy-component": true
      },
      "EncryptionMapperAlgorithm": {
        "type": "string",
        "enum": ["RSA", "AES"],
        "x-speakeasy-component": true
      },
      "EncryptionMapperConfiguration": {
        "title": "Encryption",
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/EncryptionMapperRSAConfiguration"
          },
          {
            "$ref": "#/components/schemas/EncryptionMapperAESConfiguration"
          }
        ],
        "discriminator": {
          "propertyName": "algorithm",
          "mapping": {
            "RSA": "#/components/schemas/EncryptionMapperRSAConfiguration",
            "AES": "#/components/schemas/EncryptionMapperAESConfiguration"
          }
        },
        "x-speakeasy-component": true
      },
      "EncryptionMapperRSAConfiguration": {
        "title": "Encryption - RSA",
        "type": "object",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/EncryptionMapperAlgorithm"
          },
          "fieldNameSuffix": {
            "type": "string"
          },
          "publicKey": {
            "type": "string"
          },
          "targetField": {
            "type": "string"
          }
        },
        "required": [
          "algorithm",
          "publicKey",
          "targetField",
          "fieldNameSuffix"
        ],
        "x-speakeasy-component": true
      },
      "EncryptionMapperAESConfiguration": {
        "title": "Encryption - AES",
        "type": "object",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/EncryptionMapperAlgorithm"
          },
          "fieldNameSuffix": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "x-speakeasy-param-sensitive": true
          },
          "mode": {
            "type": "string",
            "enum": ["CBC", "CFB", "OFB", "CTR", "GCM", "ECB"]
          },
          "padding": {
            "type": "string",
            "enum": ["NoPadding", "PKCS5Padding"]
          },
          "targetField": {
            "type": "string"
          }
        },
        "required": [
          "algorithm",
          "key",
          "mode",
          "padding",
          "targetField",
          "fieldNameSuffix"
        ],
        "x-speakeasy-component": true
      },
      "SelectedFields": {
        "description": "Paths to the fields that will be included in the configured catalog.",
        "type": "array",
        "format": "set",
        "items": {
          "$ref": "#/components/schemas/SelectedFieldInfo"
        },
        "x-speakeasy-component": true
      },
      "ScopedResourceRequirements": {
        "x-speakeasy-component": true,
        "description": "actor or actor definition specific resource requirements. if default is set, these are the requirements that should be set for ALL jobs run for this actor definition. it is overriden by the job type specific configurations. if not set, the platform will use defaults. these values will be overriden by configuration at the connection level.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "default": {
            "$ref": "#/components/schemas/ResourceRequirements"
          },
          "jobSpecific": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobTypeResourceLimit"
            }
          }
        }
      },
      "JobTypeResourceLimit": {
        "x-speakeasy-component": true,
        "description": "sets resource requirements for a specific job type for an actor or actor definition. these values override the default, if both are set.",
        "type": "object",
        "additionalProperties": false,
        "required": ["jobType", "resourceRequirements"],
        "properties": {
          "jobType": {
            "$ref": "#/components/schemas/JobType"
          },
          "resourceRequirements": {
            "$ref": "#/components/schemas/ResourceRequirements"
          }
        }
      },
      "JobType": {
        "x-speakeasy-component": true,
        "description": "enum that describes the different types of jobs that the platform runs.",
        "type": "string",
        "enum": [
          "get_spec",
          "check_connection",
          "discover_schema",
          "sync",
          "reset_connection",
          "connection_updater",
          "replicate"
        ]
      },
      "ResourceRequirements": {
        "x-speakeasy-component": true,
        "description": "optional resource requirements to run workers (blank for unbounded allocations)",
        "type": "object",
        "properties": {
          "cpu_request": {
            "type": "string"
          },
[...]
