version: "0.29.0"

type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - athlete_stats
streams:
  - type: DeclarativeStream
    name: athlete_stats
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.strava.com/api/v3/
        path: athletes/{{ config.athlete_id }}/stats
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          token_refresh_endpoint: https://www.strava.com/oauth/token
          expires_in_name: expires_at
          scopes:
            - read_all
            - activity:read_all
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          biggest_ride_distance:
            type:
              - "null"
              - number
          biggest_climb_elevation_gain:
            type:
              - "null"
              - number
          recent_ride_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
          recent_run_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
          recent_swim_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
          ytd_ride_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
          ytd_run_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
          ytd_swim_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
          all_ride_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
          all_run_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
          all_swim_totals:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                type:
                  - "null"
                  - integer
              distance:
                type:
                  - "null"
                  - number
              moving_time:
                type:
                  - "null"
                  - integer
              elapsed_time:
                type:
                  - "null"
                  - integer
              elevation_gain:
                type:
                  - "null"
                  - number
              achievement_count:
                type:
                  - "null"
                  - integer
  - type: DeclarativeStream
    name: activities
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.strava.com/api/v3/
        path: athlete/activities
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          token_refresh_endpoint: https://www.strava.com/oauth/token
          expires_in_name: expires_at
          scopes:
            - read_all
            - activity:read_all
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 30
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: start_date
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_time_option:
        inject_into: request_parameter
        field_name: after
        type: RequestOption
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            type: integer
          external_id:
            type:
              - "null"
              - string
          athlete:
            type: object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - integer
              resource_state:
                type:
                  - "null"
                  - integer
          name:
            type:
              - "null"
              - string
          distance:
            type:
              - "null"
              - number
          moving_time:
            type:
              - "null"
              - integer
          elapsed_time:
            type:
              - "null"
              - integer
          total_elevation_gain:
            type:
              - "null"
              - number
          elev_high:
            type:
              - "null"
              - number
          elev_low:
            type:
              - "null"
              - number
          type:
            type:
              - "null"
              - string
          start_date:
            type:
              - "null"
              - string
          start_date_local:
            type:
              - "null"
              - string
          timezone:
            type:
              - "null"
              - string
          utc_offset:
            type:
              - "null"
              - number
          start_latlng:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - number
          end_latlng:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - number
          achievement_count:
            type:
              - "null"
              - integer
          kudos_count:
            type:
              - "null"
              - integer
          comment_count:
            type:
              - "null"
              - integer
          athlete_count:
            type:
              - "null"
              - integer
          photo_count:
            type:
              - "null"
              - integer
          total_photo_count:
            type:
              - "null"
              - integer
          map:
            type: object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              summary_polyline:
                type:
                  - "null"
                  - string
              resource_state:
                type:
                  - "null"
                  - integer
          trainer:
            type:
              - "null"
              - boolean
          commute:
            type:
              - "null"
              - boolean
          manual:
            type:
              - "null"
              - boolean
          private:
            type:
              - "null"
              - boolean
          flagged:
            type:
              - "null"
              - boolean
          workout_type:
            type:
              - "null"
              - integer
          upload_id_str:
            type:
              - "null"
              - string
          average_speed:
            type:
              - "null"
              - number
          max_speed:
            type:
              - "null"
              - number
          has_kudoed:
            type:
              - "null"
              - boolean
          gear_id:
            type:
              - "null"
              - string
          kilojoules:
            type:
              - "null"
              - number
          average_watts:
            type:
              - "null"
              - number
          device_watts:
            type:
              - "null"
              - boolean
          max_watts:
            type:
              - "null"
              - integer
          weighted_average_watts:
            type:
              - "null"
              - integer
          upload_id:
            type:
              - "null"
              - integer
          location_city:
            type:
              - "null"
              - string
          location_state:
            type:
              - "null"
              - string
          location_country:
            type:
              - "null"
              - string
          start_latitude:
            type:
              - "null"
              - number
          start_longitude:
            type:
              - "null"
              - number
          visibility:
            type:
              - "null"
              - string
          from_accepted_tag:
            type:
              - "null"
              - boolean
          average_temp:
            type:
              - "null"
              - number
          has_heartrate:
            type:
              - "null"
              - boolean
          heartrate_opt_out:
            type:
              - "null"
              - boolean
          display_hide_heartrate_option:
            type:
              - "null"
              - boolean
          pr_count:
            type:
              - "null"
              - integer
          resource_state:
            type:
              - "null"
              - integer
spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/strava
  connection_specification:
    "$schema": https://json-schema.org/draft-07/schema#
    title: Strava Spec
    type: object
    required:
      - client_id
      - client_secret
      - refresh_token
      - athlete_id
      - start_date
    additionalProperties: true
    properties:
      auth_type:
        type: string
        const: Client
        enum:
          - Client
        default: Client
      client_id:
        type: string
        description: The Client ID of your Strava developer application.
        title: Client ID
        pattern: "^[0-9_\\-]+$"
        examples:
          - "12345"
        order: 0
      client_secret:
        type: string
        description: The Client Secret of your Strava developer application.
        title: Client Secret
        pattern: "^[0-9a-fA-F]+$"
        examples:
          - fc6243f283e51f6ca989aab298b17da125496f50
        airbyte_secret: true
        order: 1
      refresh_token:
        type: string
        description: "The Refresh Token with the activity: read_all permissions."
        title: Refresh Token
        pattern: "^[0-9a-fA-F]+$"
        examples:
          - fc6243f283e51f6ca989aab298b17da125496f50
        airbyte_secret: true
        order: 2
      athlete_id:
        type: integer
        description: The Athlete ID of your Strava developer application.
        title: Athlete ID
        pattern: "^[0-9_\\-]+$"
        examples:
          - "17831421"
        order: 3
      start_date:
        type: string
        description: UTC date and time. Any data before this date will not be replicated.
        title: Start Date
        examples:
          - "2021-03-01T00:00:00Z"
        format: date-time
        order: 4
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - auth_type
    predicate_value: Client
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: true
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - client_secret
