version: "0.29.0"

type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - athlete_stats
streams:
  - type: DeclarativeStream
    name: athlete_stats
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.strava.com/api/v3/
        path: athletes/{{ config.athlete_id }}/stats
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          token_refresh_endpoint: https://www.strava.com/oauth/token
          expires_in_name: expires_at
          scopes:
            - read_all
            - activity:read_all
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: activities
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.strava.com/api/v3/
        path: athlete/activities
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          token_refresh_endpoint: https://www.strava.com/oauth/token
          expires_in_name: expires_at
          scopes:
            - read_all
            - activity:read_all
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 30
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: start_date
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_time_option:
        inject_into: request_parameter
        field_name: after
        type: RequestOption
spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/strava
  connection_specification:
    "$schema": https://json-schema.org/draft-07/schema#
    title: Strava Spec
    type: object
    required:
      - client_id
      - client_secret
      - refresh_token
      - athlete_id
      - start_date
    additionalProperties: true
    properties:
      auth_type:
        type: string
        const: Client
        enum:
          - Client
        default: Client
      client_id:
        type: string
        description: The Client ID of your Strava developer application.
        title: Client ID
        pattern: "^[0-9_\\-]+$"
        examples:
          - "12345"
        order: 0
      client_secret:
        type: string
        description: The Client Secret of your Strava developer application.
        title: Client Secret
        pattern: "^[0-9a-fA-F]+$"
        examples:
          - fc6243f283e51f6ca989aab298b17da125496f50
        airbyte_secret: true
        order: 1
      refresh_token:
        type: string
        description: "The Refresh Token with the activity: read_all permissions."
        title: Refresh Token
        pattern: "^[0-9a-fA-F]+$"
        examples:
          - fc6243f283e51f6ca989aab298b17da125496f50
        airbyte_secret: true
        order: 2
      athlete_id:
        type: integer
        description: The Athlete ID of your Strava developer application.
        title: Athlete ID
        pattern: "^[0-9_\\-]+$"
        examples:
          - "17831421"
        order: 3
      start_date:
        type: string
        description: UTC date and time. Any data before this date will not be replicated.
        title: Start Date
        examples:
          - "2021-03-01T00:00:00Z"
        format: date-time
        order: 4
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - auth_type
    predicate_value: Client
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: true
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - client_secret
