version: "0.29.0"

type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - athlete_stats
streams:
  - type: DeclarativeStream
    name: athlete_stats
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.strava.com/api/v3/
        path: athletes/{{ config.athlete_id }}/stats
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          token_refresh_endpoint: https://www.strava.com/oauth/token
          expires_in_name: expires_at
          scopes:
            - read_all
            - activity:read_all
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          biggest_ride_distance:
            description: Distance covered in the biggest ride achievement
            type:
              - "null"
              - number
          biggest_climb_elevation_gain:
            description: Elevation gain of the biggest climb achievement
            type:
              - "null"
              - number
          recent_ride_totals:
            description: Recent stats for ride activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Number of recent rides
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered in recent ride activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time in recent ride activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time in recent ride activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain in recent ride activities
                type:
                  - "null"
                  - number
              achievement_count:
                description: Number of achievements received in recent rides
                type:
                  - "null"
                  - integer
          recent_run_totals:
            description: Recent stats for run activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Number of recent runs
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered in recent run activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time in recent run activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time in recent run activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain in recent run activities
                type:
                  - "null"
                  - number
              achievement_count:
                description: Number of achievements received in recent runs
                type:
                  - "null"
                  - integer
          recent_swim_totals:
            description: Recent stats for swim activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Number of recent swims
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered in recent swim activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time in recent swim activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time in recent swim activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain in recent swim activities
                type:
                  - "null"
                  - number
              achievement_count:
                description: Number of achievements received in recent swim activities
                type:
                  - "null"
                  - integer
          ytd_ride_totals:
            description: Year-to-date stats for ride activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Total number of rides year-to-date
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered year-to-date in ride activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time year-to-date in ride activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time year-to-date in ride activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain year-to-date in ride activities
                type:
                  - "null"
                  - number
              achievement_count:
                description:
                  Total number of achievements received year-to-date in ride
                  activities
                type:
                  - "null"
                  - integer
          ytd_run_totals:
            description: Year-to-date stats for run activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Total number of runs year-to-date
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered year-to-date in run activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time year-to-date in run activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time year-to-date in run activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain year-to-date in run activities
                type:
                  - "null"
                  - number
              achievement_count:
                description:
                  Total number of achievements received year-to-date in run
                  activities
                type:
                  - "null"
                  - integer
          ytd_swim_totals:
            description: Year-to-date stats for swim activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Total number of swims year-to-date
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered year-to-date in swim activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time year-to-date in swim activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time year-to-date in swim activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain year-to-date in swim activities
                type:
                  - "null"
                  - number
              achievement_count:
                description:
                  Total number of achievements received year-to-date in swim
                  activities
                type:
                  - "null"
                  - integer
          all_ride_totals:
            description: Total cumulative stats for all ride activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Total number of rides
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered in all ride activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time in all ride activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time in all ride activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain in all ride activities
                type:
                  - "null"
                  - number
              achievement_count:
                description: Total number of achievements received in all rides
                type:
                  - "null"
                  - integer
          all_run_totals:
            description: Total cumulative stats for all run activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Total number of runs
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered in all run activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time in all run activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time in all run activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain in all run activities
                type:
                  - "null"
                  - number
              achievement_count:
                description: Total number of achievements received in all runs
                type:
                  - "null"
                  - integer
          all_swim_totals:
            description: Total cumulative stats for all swim activities
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              count:
                description: Total number of swims
                type:
                  - "null"
                  - integer
              distance:
                description: Total distance covered in all swim activities
                type:
                  - "null"
                  - number
              moving_time:
                description: Total moving time in all swim activities
                type:
                  - "null"
                  - integer
              elapsed_time:
                description: Total elapsed time in all swim activities
                type:
                  - "null"
                  - integer
              elevation_gain:
                description: Total elevation gain in all swim activities
                type:
                  - "null"
                  - number
              achievement_count:
                description: Total number of achievements received in all swim activities
                type:
                  - "null"
                  - integer
  - type: DeclarativeStream
    name: activities
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.strava.com/api/v3/
        path: athlete/activities
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          token_refresh_endpoint: https://www.strava.com/oauth/token
          expires_in_name: expires_at
          scopes:
            - read_all
            - activity:read_all
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 30
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: start_date
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_time_option:
        inject_into: request_parameter
        field_name: after
        type: RequestOption
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            description: ID of the activity
            type: integer
          external_id:
            description: External identifier of the activity
            type:
              - "null"
              - string
          athlete:
            description: Details of the athlete who recorded the activity
            type: object
            additionalProperties: true
            properties:
              id:
                description: ID of the athlete who completed the activity
                type:
                  - "null"
                  - integer
              resource_state:
                description: Resource state of the athlete
                type:
                  - "null"
                  - integer
          name:
            description: Name of the activity
            type:
              - "null"
              - string
          distance:
            description: Total distance covered in the activity
            type:
              - "null"
              - number
          moving_time:
            description: Total time spent moving during the activity
            type:
              - "null"
              - integer
          elapsed_time:
            description: Total time elapsed during the activity
            type:
              - "null"
              - integer
          total_elevation_gain:
            description: Total elevation gain during the activity
            type:
              - "null"
              - number
          elev_high:
            description: Elevation at the highest point of the activity
            type:
              - "null"
              - number
          elev_low:
            description: Elevation at the lowest point of the activity
            type:
              - "null"
              - number
          type:
            description: Type of activity (e.g., ride, run)
            type:
              - "null"
              - string
          start_date:
            description: Start date and time of the activity
            type:
              - "null"
              - string
          start_date_local:
            description: Start date and time of the activity in local time
            type:
              - "null"
              - string
          timezone:
            description: Timezone of the activity
            type:
              - "null"
              - string
          utc_offset:
            description: UTC offset of the activity
            type:
              - "null"
              - number
          start_latlng:
            description:
              Latitude and longitude coordinates of the start point of the
              activity
            type:
              - "null"
              - array
            items:
              description: Start latitude and longitude coordinates of the activity
              type:
                - "null"
                - number
          end_latlng:
            description:
              Latitude and longitude coordinates of the end point of the
              activity
            type:
              - "null"
              - array
            items:
              description: End latitude and longitude coordinates of the activity
              type:
                - "null"
                - number
          achievement_count:
            description: Total number of achievements in the activity
            type:
              - "null"
              - integer
          kudos_count:
            description: Total number of kudos received for the activity
            type:
              - "null"
              - integer
          comment_count:
            description: Total number of comments on the activity
            type:
              - "null"
              - integer
          athlete_count:
            description: Total number of athletes linked in the activity
            type:
              - "null"
              - integer
          photo_count:
            description: Total number of photos attached to the activity
            type:
              - "null"
              - integer
          total_photo_count:
            description: Total number of photos attached to the activity
            type:
              - "null"
              - integer
          map:
            description: Information related to the map of the activity route
            type: object
            additionalProperties: true
            properties:
              id:
                description: ID of the map associated with the activity
                type:
                  - "null"
                  - string
              summary_polyline:
                description: Polyline of the route summary
                type:
                  - "null"
                  - string
              resource_state:
                description: Resource state of the map
                type:
                  - "null"
                  - integer
          trainer:
            description: Indicates if the activity was done on a trainer
            type:
              - "null"
              - boolean
          commute:
            description: Indicates whether the activity is a commute or not
            type:
              - "null"
              - boolean
          manual:
            description: Indicates if the activity was manually entered
            type:
              - "null"
              - boolean
          private:
            description: Indicates if the activity is private
            type:
              - "null"
              - boolean
          flagged:
            description: Indicates if the activity is flagged by the athlete
            type:
              - "null"
              - boolean
          workout_type:
            description: Type of workout (if applicable)
            type:
              - "null"
              - integer
          upload_id_str:
            description: String representation of the upload ID
            type:
              - "null"
              - string
          average_speed:
            description: Average speed of the activity
            type:
              - "null"
              - number
          max_speed:
            description: Maximum speed achieved during the activity
            type:
              - "null"
              - number
          has_kudoed:
            description: Indicates if the athlete has given kudos for the activity
            type:
              - "null"
              - boolean
          gear_id:
            description: ID of the gear used in the activity
            type:
              - "null"
              - string
          kilojoules:
            description: Total energy expenditure in kilojoules
            type:
              - "null"
              - number
          average_watts:
            description: Average power output in watts
            type:
              - "null"
              - number
          device_watts:
            description: Indicates if the power data is from a device
            type:
              - "null"
              - boolean
          max_watts:
            description: Maximum power output in watts
            type:
              - "null"
              - integer
          weighted_average_watts:
            description: Weighted average power output in watts
            type:
              - "null"
              - integer
          upload_id:
            description: ID of the upload associated with the activity
            type:
              - "null"
              - integer
          location_city:
            description: City where the activity took place
            type:
              - "null"
              - string
          location_state:
            description: State where the activity took place
            type:
              - "null"
              - string
          location_country:
            description: Country where the activity took place
            type:
              - "null"
              - string
          start_latitude:
            description: Start latitude of the activity
            type:
              - "null"
              - number
          start_longitude:
            description: Start longitude of the activity
            type:
              - "null"
              - number
          visibility:
            description: Visibility setting of the activity
            type:
              - "null"
              - string
          from_accepted_tag:
            description: Indicates if the activity is from an accepted tag
            type:
              - "null"
              - boolean
          average_temp:
            description: Average temperature during the activity
            type:
              - "null"
              - number
          has_heartrate:
            description: Indicates if heart rate data is available for the activity
            type:
              - "null"
              - boolean
          heartrate_opt_out:
            description:
              Indicates if the athlete has opted out of displaying heart
              rate
            type:
              - "null"
              - boolean
          display_hide_heartrate_option:
            description: Indicates if the heart rate option is hidden in the display
            type:
              - "null"
              - boolean
          pr_count:
            description: Total number of personal records achieved during the activity
            type:
              - "null"
              - integer
          resource_state:
            description: Resource state of the activity
            type:
              - "null"
              - integer
spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/strava
  connection_specification:
    "$schema": https://json-schema.org/draft-07/schema#
    title: Strava Spec
    type: object
    required:
      - client_id
      - client_secret
      - refresh_token
      - athlete_id
      - start_date
    additionalProperties: true
    properties:
      auth_type:
        type: string
        const: Client
        enum:
          - Client
        default: Client
      client_id:
        type: string
        description: The Client ID of your Strava developer application.
        title: Client ID
        pattern: "^[0-9_\\-]+$"
        examples:
          - "12345"
        order: 0
      client_secret:
        type: string
        description: The Client Secret of your Strava developer application.
        title: Client Secret
        pattern: "^[0-9a-fA-F]+$"
        examples:
          - fc6243f283e51f6ca989aab298b17da125496f50
        airbyte_secret: true
        order: 1
      refresh_token:
        type: string
        description: "The Refresh Token with the activity: read_all permissions."
        title: Refresh Token
        pattern: "^[0-9a-fA-F]+$"
        examples:
          - fc6243f283e51f6ca989aab298b17da125496f50
        airbyte_secret: true
        order: 2
      athlete_id:
        type: integer
        description: The Athlete ID of your Strava developer application.
        title: Athlete ID
        pattern: "^[0-9_\\-]+$"
        examples:
          - "17831421"
        order: 3
      start_date:
        type: string
        description: UTC date and time. Any data before this date will not be replicated.
        title: Start Date
        examples:
          - "2021-03-01T00:00:00Z"
        format: date-time
        order: 4
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - auth_type
    predicate_value: Client
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: true
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - client_secret
