@keyframes fade-in-container {
    from {
      opacity: 0;
    }
  }
.modalPageContainer{
    position:absolute;
    z-index:1000;
}

.modalOverlay{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: var(--modal-overlay-background);
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modalCloseButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
}

.modalContainer {
    z-index:1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fade-in-container 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .modalPanel {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    padding: 20px;
    border-radius: 5px;
    font-size: 0.8em;
  }
  .modalTitle {
    font-size: 16px;
    line-height: 1.2em;
  }
