version: 6.48.15

type: DeclarativeSource

description: Rise Up API

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    customfields:
      type: DeclarativeStream
      name: customfields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customfields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customfields"
    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    learning_paths:
      type: DeclarativeStream
      name: learning_paths
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: learningpaths
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/learning_paths"
    learning_path_registrations:
      type: DeclarativeStream
      name: learning_path_registrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: learningpathregistrations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/learning_path_registrations"
    courses:
      type: DeclarativeStream
      name: courses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: courses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/courses"
    course_registrations:
      type: DeclarativeStream
      name: course_registrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: courseregistrations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/course_registrations"
    certificates:
      type: DeclarativeStream
      name: certificates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: certificates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: creationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/certificates"
    certificate_user:
      type: DeclarativeStream
      name: certificate_user
      primary_key:
        - idcertificate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: certificateuser
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/certificate_user"
    certifications:
      type: DeclarativeStream
      name: certifications
      primary_key:
        - iduser
        - idtrainingsubscription
        - certificationdate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: certifications
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/certifications"
    classroom_session_registrations:
      type: DeclarativeStream
      name: classroom_session_registrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: classroomsessionregistrations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/classroom_session_registrations"
    skills:
      type: DeclarativeStream
      name: skills
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: skills
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/skills"
    training_categories:
      type: DeclarativeStream
      name: training_categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: trainingcategories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/training_categories"
    classroom_sessions:
      type: DeclarativeStream
      name: classroom_sessions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: classroomsessions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: startdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/classroom_sessions"
    modules:
      type: DeclarativeStream
      name: modules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: modules
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modificationdate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modificationdate[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/modules"
    user_step_states:
      type: DeclarativeStream
      name: user_step_states
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: userstepstates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 30
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ headers.link.get('next', {}).get('url', '') if 'next' in
              headers.get('link', {}) else '' }}
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: date[gte]
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_step_states"
  base_requester:
    type: HttpRequester
    url_base: https://api.riseup.ai/v3/
    authenticator:
      type: OAuthAuthenticator
      refresh_request_body: {}
      token_refresh_endpoint: https://api.riseup.ai/v3/oauth/token
      client_id: "{{ config[\"client_id\"] }}"
      client_secret: "{{ config[\"client_secret\"] }}"
      token_expiry_date_format: "%S"
      expires_in_name: expires_in
      access_token_name: access_token
      grant_type: client_credentials

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/customfields"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/learning_paths"
  - $ref: "#/definitions/streams/learning_path_registrations"
  - $ref: "#/definitions/streams/courses"
  - $ref: "#/definitions/streams/course_registrations"
  - $ref: "#/definitions/streams/certificates"
  - $ref: "#/definitions/streams/certificate_user"
  - $ref: "#/definitions/streams/certifications"
  - $ref: "#/definitions/streams/classroom_session_registrations"
  - $ref: "#/definitions/streams/skills"
  - $ref: "#/definitions/streams/training_categories"
  - $ref: "#/definitions/streams/classroom_sessions"
  - $ref: "#/definitions/streams/modules"
  - $ref: "#/definitions/streams/user_step_states"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - start_date
      - client_id
      - client_secret
    properties:
      start_date:
        type: string
        order: 0
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      client_id:
        type: string
        title: Client ID
        airbyte_secret: true
        order: 1
      client_secret:
        type: string
        title: Client secret
        airbyte_secret: true
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    users: true
    customfields: true
    groups: true
    learning_paths: true
    learning_path_registrations: true
    courses: true
    course_registrations: true
    certificates: true
    certificate_user: true
    certifications: true
    classroom_session_registrations: true
    skills: true
    training_categories: true
    classroom_sessions: true
    modules: true
    user_step_states: true
  testedStreams:
    users:
      streamHash: 278ac54127c470dbbcec416a5c84d2e4afcf6839
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customfields:
      hasRecords: true
      streamHash: f11e860cbda691e23e1d071618f0e7ae4f96bf80
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    groups:
      hasRecords: true
      streamHash: ad0bae5371f50c3029c393f7ddaf1b589ad2ca9c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    learning_paths:
      hasRecords: true
      streamHash: c16f5c74b5361ce257beb11fd23dd19c1af891f4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    learning_path_registrations:
      hasRecords: true
      streamHash: 9f49b8a0cafcfcaeb698f5ff6b655d51ce54af59
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    courses:
      hasRecords: true
      streamHash: 88daafcc3ebfefad72654947edc62a11bc9ad876
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    course_registrations:
      hasRecords: true
      streamHash: 89c417a5608cdadf35b88e87c6940bca9283a0a0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    certificates:
      hasRecords: true
      streamHash: 51c3727633d0b60a1ddd794534c3a3894938e61f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    certificate_user:
      hasRecords: true
      streamHash: 0b54ec522fac5291950e9c91a326d122dcf737e1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    certifications:
      hasRecords: true
      streamHash: 14dd77b132e446ee6e713880d15550c0856fed03
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    classroom_session_registrations:
      hasRecords: true
      streamHash: e2004217f54e63fab8666eeef45f88dde94701d5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    skills:
      hasRecords: true
      streamHash: 14b7957dbf4e53de80d18bf410d77daf0615ecad
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    training_categories:
      hasRecords: true
      streamHash: 88a29419b18252d69b4ca32922156c7a57f30efa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    classroom_sessions:
      hasRecords: true
      streamHash: d73dad1dda865f7557ebf95ff5d86392878caad7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    modules:
      hasRecords: true
      streamHash: 1c6d6729546a2856e4822e60b5e4a93e9cdec34f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    user_step_states:
      hasRecords: true
      streamHash: 5100cb70bdf92b7c9164dceb275da9b9badf5b91
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      Department:
        type:
          - string
          - "null"
      Division:
        type:
          - string
          - "null"
      EmployeeID:
        type:
          - string
          - "null"
      Location:
        type:
          - string
          - "null"
      Manager:
        type:
          - string
          - "null"
      Manager Id:
        type:
          - string
          - "null"
      Position:
        type:
          - string
          - "null"
      Specialty A:
        type:
          - string
          - "null"
      Specialty F:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      activateddate:
        type:
          - string
          - "null"
      avatar:
        type:
          - string
          - "null"
      creationdate:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      groups:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            admin:
              type:
                - boolean
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      id:
        type: number
      language:
        type:
          - string
          - "null"
      lastlogindate:
        type:
          - string
          - "null"
      lastname:
        type:
          - string
          - "null"
      modificationdate:
        type: string
      phonenumber:
        type:
          - string
          - "null"
      rhid:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      sso:
        type:
          - boolean
          - "null"
      state:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      username:
        type:
          - string
          - "null"
    required:
      - id
      - modificationdate
  customfields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: number
      linked_entities:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      name:
        type:
          - string
          - "null"
      options:
        type:
          - array
          - "null"
      values:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
  groups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      community:
        type:
          - boolean
          - "null"
      creationdate:
        type:
          - string
          - "null"
      hidden:
        type:
          - boolean
          - "null"
      id:
        type: number
      managercanmanagetrainings:
        type:
          - string
          - "null"
      modificationdate:
        type: string
      name:
        type:
          - string
          - "null"
      trainingpaths:
        type:
          - array
          - "null"
      trainings:
        type:
          - array
          - "null"
    required:
      - id
      - modificationdate
  learning_paths:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      creationdate:
        type:
          - string
          - "null"
      forumcategory:
        type:
          - boolean
          - "null"
      id:
        type: number
      img:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      modificationdate:
        type: string
      sequential:
        type:
          - boolean
          - "null"
      title:
        type:
          - string
          - "null"
      trainings:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
      translations:
        type:
          - array
          - "null"
    required:
      - id
      - modificationdate
  learning_path_registrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - string
          - "null"
      creationdate:
        type:
          - string
          - "null"
      id:
        type: number
      idpath:
        type:
          - number
          - "null"
      iduser:
        type:
          - number
          - "null"
      modificationdate:
        type: string
      progress:
        type:
          - number
          - "null"
      score:
        type:
          - number
          - "null"
      subscribedate:
        type:
          - string
          - "null"
    required:
      - id
      - modificationdate
  courses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      "Office ":
        type:
          - string
          - "null"
      authorizeskillassessment:
        type:
          - boolean
          - "null"
      banner:
        type:
          - string
          - "null"
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      creationdate:
        type:
          - string
          - "null"
      creators:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      eduduration:
        type:
          - number
          - "null"
      externallink:
        type:
          - string
          - "null"
      forumcategory:
        type:
          - boolean
          - "null"
      id:
        type: number
      idpartner:
        type:
          - number
          - "null"
      iduser:
        type:
          - number
          - "null"
      img:
        type:
          - string
          - "null"
      isrecommended:
        type:
          - boolean
          - "null"
      keywords:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      language:
        type:
          - string
          - "null"
      legaldocs:
        type:
          - boolean
          - "null"
      minisite:
        type:
          - boolean
          - "null"
      modificationdate:
        type: string
      nointernalvalidation:
        type:
          - boolean
          - "null"
      objective:
        type:
          - string
          - "null"
      onlysuccessquiz:
        type:
          - boolean
          - "null"
      orgformacode:
        type:
          - number
          - "null"
      orgname:
        type:
          - string
          - "null"
      orgnature:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      registration:
        type:
          - boolean
          - "null"
      registrationmailmessage:
        type:
          - string
          - "null"
      scopes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            internal:
              type:
                - boolean
                - "null"
            partner:
              type:
                - number
                - "null"
      selfunsubscribe:
        type:
          - boolean
          - "null"
      sequential:
        type:
          - boolean
          - "null"
      skills:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      state:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      trainingtype:
        type:
          - string
          - "null"
      translations:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            language:
              type:
                - string
                - "null"
            objective:
              type:
                - string
                - "null"
            prerequisite:
              type:
                - string
                - "null"
            published:
              type:
                - number
                - "null"
            title:
              type:
                - string
                - "null"
      visibility:
        type:
          - boolean
          - "null"
      visibilityexception:
        anyOf:
          - type: array
          - type: object
            properties:
              groups:
                type: array
                items:
                  type: number
      visible:
        type:
          - boolean
          - "null"
    required:
      - id
      - modificationdate
  course_registrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      creationdate:
        type:
          - string
          - "null"
      forcefinished:
        type:
          - number
          - "null"
      id:
        type: number
      idcompany:
        type:
          - number
          - "null"
      idtraining:
        type:
          - number
          - "null"
      iduser:
        type:
          - number
          - "null"
      iduserregister:
        type:
          - number
          - "null"
      iduservalidator:
        type:
          - number
          - "null"
      modificationdate:
        type: string
      progress:
        type:
          - number
          - "null"
      score:
        type:
          - number
          - "null"
      state:
        type:
          - string
          - "null"
      subscribedate:
        type:
          - string
          - "null"
      totaltime:
        type:
          - number
          - "null"
      trainingenddate:
        type:
          - string
          - "null"
    required:
      - id
      - modificationdate
  certificates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      creationdate:
        type: string
      duration:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      ownerstatus:
        type:
          - string
          - "null"
      trainings:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
    required:
      - id
      - creationdate
  certificate_user:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      idcertificate:
        type: number
      users:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            certificationdate:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            state:
              type:
                - string
                - "null"
    required:
      - idcertificate
  certifications:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      certificationdate:
        type: string
      expirationdate:
        type:
          - string
          - "null"
      idpathsubscription:
        type:
          - number
          - "null"
      idtrainingsubscription:
        type: number
      iduser:
        type: number
      link:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
    required:
      - iduser
      - idtrainingsubscription
      - certificationdate
  classroom_session_registrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attended:
        type:
          - string
          - "null"
      creationdate:
        type:
          - string
          - "null"
      eduduration:
        type:
          - number
          - "null"
      id:
        type: number
      idsession:
        type:
          - number
          - "null"
      idtrainingsubscription:
        type:
          - number
          - "null"
      iduser:
        type:
          - number
          - "null"
      modificationdate:
        type: string
      state:
        type:
          - string
          - "null"
      subscribedate:
        type:
          - string
          - "null"
    required:
      - id
      - modificationdate
  skills:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      creationdate:
        type:
          - string
          - "null"
      id:
        type: number
      modificationdate:
        type: string
      name:
        type:
          - string
          - "null"
      themes:
        type:
          - array
          - "null"
    required:
      - id
      - modificationdate
  training_categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      creationdate:
        type:
          - string
          - "null"
      id:
        type: number
      idparent:
        type:
          - number
          - "null"
      img:
        type:
          - string
          - "null"
      modificationdate:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  classroom_sessions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      creationdate:
        type:
          - string
          - "null"
      eduduration:
        type:
          - number
          - "null"
      enddate:
        type:
          - string
          - "null"
      facilitators:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      id:
        type: number
      idmodule:
        type:
          - number
          - "null"
      idtraining:
        type:
          - number
          - "null"
      language:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      meetingurl:
        type:
          - string
          - "null"
      modificationdate:
        type:
          - string
          - "null"
      nbsubscriptions:
        type:
          - number
          - "null"
      seats:
        type:
          - number
          - "null"
      session_type:
        type:
          - string
          - "null"
      startdate:
        type: string
      state:
        type:
          - string
          - "null"
    required:
      - id
      - startdate
  modules:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      creationdate:
        type:
          - string
          - "null"
      duration:
        type:
          - number
          - "null"
      eduduration:
        type:
          - number
          - "null"
      id:
        type: number
      idtraining:
        type:
          - number
          - "null"
      modificationdate:
        type: string
      position:
        type:
          - number
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
      - modificationdate
  user_step_states:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date:
        type: string
      id:
        type: number
      idstep:
        type:
          - number
          - "null"
      iduser:
        type:
          - number
          - "null"
      score:
        type:
          - number
          - "null"
      state:
        type:
          - string
          - "null"
      timespent:
        type:
          - number
          - "null"
      total_time:
        type:
          - string
          - "null"
    required:
      - id
      - date
