version: 5.11.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - company

definitions:
  streams:
    clients:
      type: DeclarativeStream
      name: clients
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /clients
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - clients
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients"
    company:
      type: DeclarativeStream
      name: company
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /company
          http_method: GET
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/company"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    estimate_item_categories:
      type: DeclarativeStream
      name: estimate_item_categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /estimate_item_categories
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - estimate_item_categories
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/estimate_item_categories"
    estimates:
      type: DeclarativeStream
      name: estimates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /estimates
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - estimates
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/estimates"
    expense_categories:
      type: DeclarativeStream
      name: expense_categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /expense_categories
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - expense_categories
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expense_categories"
    expenses:
      type: DeclarativeStream
      name: expenses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /expenses
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - expenses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expenses"
    invoice_item_categories:
      type: DeclarativeStream
      name: invoice_item_categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoice_item_categories
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoice_item_categories
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoice_item_categories"
    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoices
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoices
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /projects
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /roles
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - roles
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    task_assignments:
      type: DeclarativeStream
      name: task_assignments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /task_assignments
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - task_assignments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/task_assignments"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    time_entries:
      type: DeclarativeStream
      name: time_entries
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /time_entries
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - time_entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_entries"
    user_assignments:
      type: DeclarativeStream
      name: user_assignments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /user_assignments
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user_assignments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_assignments"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    expenses_categories:
      type: DeclarativeStream
      name: expenses_categories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/expenses/categories
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expenses_categories"
    expenses_clients:
      type: DeclarativeStream
      name: expenses_clients
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/expenses/clients
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expenses_clients"
    expenses_projects:
      type: DeclarativeStream
      name: expenses_projects
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/expenses/projects
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expenses_projects"
    expenses_team:
      type: DeclarativeStream
      name: expenses_team
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/expenses/team
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expenses_team"
    project_budget:
      type: DeclarativeStream
      name: project_budget
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/project_budget
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_budget"
    time_clients:
      type: DeclarativeStream
      name: time_clients
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/time/clients
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_clients"
    time_projects:
      type: DeclarativeStream
      name: time_projects
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/time/projects
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_projects"
    time_tasks:
      type: DeclarativeStream
      name: time_tasks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/time/tasks
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_tasks"
    time_team:
      type: DeclarativeStream
      name: time_team
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/time/team
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_team"
    uninvoiced:
      type: DeclarativeStream
      name: uninvoiced
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/uninvoiced
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y%m%d"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P365D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - from
              value: "\"{{ stream_partition.start_time }}\""
        - type: AddFields
          fields:
            - path:
                - to
              value: "\"{{ stream_partition.end_time }}\""
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/uninvoiced"
    estimate_messages:
      type: DeclarativeStream
      name: estimate_messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /estimates/{{stream_partition.id}}/messages
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - estimate_messages
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/estimates"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      transformations:
        - type: AddFields
          fields:
            - path:
                - parent_id
              value: "{{stream_partition.id}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/estimate_messages"
    invoice_messages:
      type: DeclarativeStream
      name: invoice_messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoices/{{stream_partition.id}}/messages
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoice_messages
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/invoices"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      transformations:
        - type: AddFields
          fields:
            - path:
                - parent_id
              value: "{{stream_partition.id}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoice_messages"
    invoice_payments:
      type: DeclarativeStream
      name: invoice_payments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoices/{{stream_partition.id}}/payments
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoice_payments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/invoices"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      transformations:
        - type: AddFields
          fields:
            - path:
                - parent_id
              value: "{{stream_partition.id}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoice_payments"
    project_assignments:
      type: DeclarativeStream
      name: project_assignments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users/{{stream_partition.id}}/project_assignments
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - project_assignments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/users"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"replication_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      transformations:
        - type: AddFields
          fields:
            - path:
                - parent_id
              value: "{{stream_partition.id}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_assignments"
    billable_rates:
      type: DeclarativeStream
      name: billable_rates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users/{{stream_partition['id']}}/billable_rates
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - billable_rates
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/users"
      transformations:
        - type: AddFields
          fields:
            - path:
                - parent_id
              value: "{{stream_partition.id}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/billable_rates"
    cost_rates:
      type: DeclarativeStream
      name: cost_rates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users/{{stream_partition.id}}/cost_rates
          http_method: GET
          request_parameters:
            per_page: "50"
          request_headers:
            Harvest-Account-Id: "{{ config['account_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Please ensure your credentials are valid.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: >-
                      This is most likely due to insufficient permissions on the
                      credentials in use.
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: >-
                      Please ensure that your account ID is properly set. If it
                      is the case and you are still seeing this error, please
                      contact Airbyte support.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - cost_rates
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/users"
      transformations:
        - type: AddFields
          fields:
            - path:
                - parent_id
              value: "{{stream_partition.id}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cost_rates"
  base_requester:
    type: HttpRequester
    url_base: https://api.harvestapp.com/v2/
    authenticator:
      type: SelectiveAuthenticator
      authenticators:
        Token:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['api_token'] }}"
        Client:
          type: OAuthAuthenticator
          client_id: "{{ config['credentials']['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['credentials']['client_secret'] }}"
          refresh_token: "{{ config['credentials']['refresh_token'] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
      authenticator_selection_path:
        - credentials
        - auth_type

streams:
  - $ref: "#/definitions/streams/clients"
  - $ref: "#/definitions/streams/company"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/estimate_item_categories"
  - $ref: "#/definitions/streams/estimates"
  - $ref: "#/definitions/streams/expense_categories"
  - $ref: "#/definitions/streams/expenses"
  - $ref: "#/definitions/streams/invoice_item_categories"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/task_assignments"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/time_entries"
  - $ref: "#/definitions/streams/user_assignments"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/expenses_categories"
  - $ref: "#/definitions/streams/expenses_clients"
  - $ref: "#/definitions/streams/expenses_projects"
  - $ref: "#/definitions/streams/expenses_team"
  - $ref: "#/definitions/streams/project_budget"
  - $ref: "#/definitions/streams/time_clients"
  - $ref: "#/definitions/streams/time_projects"
  - $ref: "#/definitions/streams/time_tasks"
  - $ref: "#/definitions/streams/time_team"
  - $ref: "#/definitions/streams/uninvoiced"
  - $ref: "#/definitions/streams/estimate_messages"
  - $ref: "#/definitions/streams/invoice_messages"
  - $ref: "#/definitions/streams/invoice_payments"
  - $ref: "#/definitions/streams/project_assignments"
  - $ref: "#/definitions/streams/billable_rates"
  - $ref: "#/definitions/streams/cost_rates"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - account_id
      - replication_start_date
    properties:
      account_id:
        type: string
        description: >-
          Harvest account ID. Required for all Harvest requests in pair with
          Personal Access Token
        order: 0
        title: Account ID
        airbyte_secret: true
      replication_start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        order: 1
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2017-01-25T00:00:00Z"
      replication_end_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data after
          this date will not be replicated.
        order: 2
        title: End Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2017-01-25T00:00:00Z"
        airbyte_hidden: true
      credentials:
        type: object
        description: Choose how to authenticate to Harvest.
        oneOf:
          - type: object
            title: Authenticate via Harvest (OAuth)
            required:
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: Client
                order: 0
              client_id:
                type: string
                description: The Client ID of your Harvest developer application.
                title: Client ID
              client_secret:
                type: string
                description: The Client Secret of your Harvest developer application.
                title: Client Secret
                airbyte_secret: true
              refresh_token:
                type: string
                description: Refresh Token to renew the expired Access Token.
                title: Refresh Token
                airbyte_secret: true
            additionalProperties: true
          - type: object
            title: Authenticate with Personal Access Token
            required:
              - api_token
            properties:
              api_token:
                type: string
                description: >-
                  Log into Harvest and then create new <a
                  href="https://id.getharvest.com/developers"> personal access
                  token</a>.
                title: Personal Access Token
                airbyte_secret: true
              auth_type:
                type: string
                const: Token
                order: 0
            additionalProperties: true
        order: 3
        title: Authentication mechanism
    additionalProperties: true

metadata:
  autoImportSchema:
    clients: true
    company: true
    contacts: true
    estimate_item_categories: true
    estimates: true
    expense_categories: true
    expenses: true
    invoice_item_categories: true
    invoices: true
    projects: true
    roles: true
    task_assignments: true
    tasks: true
    time_entries: true
    user_assignments: true
    users: true
    expenses_categories: true
    expenses_clients: true
    expenses_projects: true
    expenses_team: true
    project_budget: true
    time_clients: true
[...]
