version: 4.5.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - self

definitions:
  streams:
    self:
      type: DeclarativeStream
      name: self
      primary_key:
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v1/me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/self"
    search:
      type: DeclarativeStream
      name: search
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: search
          http_method: GET
          request_parameters:
            q: "{{ config['query'] }}"
            exact: "{{ config['exact'] }}"
            limit: "{{ config['limit'] }}"
            include_over_18: "{{ config['include_over_18'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
                    error_message: Rate limit hit... Retrying
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - children
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: after
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("data", {}).get("after", {}) }}'
            stop_condition: '{{ not response.get("data", {}).get("after", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search"
    subreddit_search:
      type: DeclarativeStream
      name: subreddit_search
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: subreddits/search
          http_method: GET
          request_parameters:
            q: "{{ config['query'] }}"
            exact: "{{ config['exact'] }}"
            limit: "{{ config['limit'] }}"
            include_over_18: "{{ config['include_over_18'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
                    error_message: Rate limit hit... Retrying
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - children
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("data", {}).get("after", {}) }}'
            stop_condition: '{{ not response.get("data", {}).get("after", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subreddit_search"
    message_inbox:
      type: DeclarativeStream
      name: message_inbox
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: message/inbox
          http_method: GET
          request_parameters:
            q: "{{ config['query'] }}"
            exact: "{{ config['exact'] }}"
            limit: "5"
            include_over_18: "{{ config['include_over_18'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
                    error_message: Rate limit hit... Retrying
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("data", {}).get("after", {}) }}'
            stop_condition: '{{ not response.get("data", {}).get("after", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/message_inbox"
    subreddit_popular:
      type: DeclarativeStream
      name: subreddit_popular
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: subreddits/popular
          http_method: GET
          request_parameters:
            q: "{{ config['query'] }}"
            exact: "{{ config['exact'] }}"
            limit: "{{ config['limit'] }}"
            include_over_18: "{{ config['include_over_18'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
                    error_message: Rate limit hit... Retrying
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - children
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("data", {}).get("after", {}) }}'
            stop_condition: '{{ not response.get("data", {}).get("after", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subreddit_popular"
    subreddit_explore:
      type: DeclarativeStream
      name: subreddit_explore
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "{{ stream_partition.subreddit }}"
          http_method: GET
          request_parameters:
            exact: "{{ config['exact'] }}"
            limit: "{{ config['limit'] }}"
            include_over_18: "{{ config['include_over_18'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
                    error_message: Rate limit hit... Retrying
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - children
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("data", {}).get("after", {}) }}'
            stop_condition: '{{ not response.get("data", {}).get("after", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subreddit_explore"
  base_requester:
    type: HttpRequester
    url_base: https://oauth.reddit.com/
    authenticator:
      type: BearerAuthenticator
      api_token: '{{ config["api_key"] }}'

streams:
  - $ref: "#/definitions/streams/self"
  - $ref: "#/definitions/streams/search"
  - $ref: "#/definitions/streams/subreddit_search"
  - $ref: "#/definitions/streams/message_inbox"
  - $ref: "#/definitions/streams/subreddit_popular"
  - $ref: "#/definitions/streams/subreddit_explore"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      query:
        type: string
        description: Specifies the query for searching in reddits and subreddits
        order: 1
        title: Query
        default: airbyte
      include_over_18:
        type: boolean
        description: Includes mature content
        order: 2
        title: Include over 18 flag
        default: false
      exact:
        type: boolean
        description: Specifies exact keyword and reduces distractions
        order: 3
        title: Exact
      limit:
        type: number
        description: Max records per page limit
        order: 4
        title: Limit
        default: "1000"
      subreddits:
        type: array
        description: Subreddits for exploration
        order: 5
        title: Subreddits
        default:
          - r/funny
          - r/AskReddit
      start_date:
        type: string
        order: 6
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    self: true
    search: true
    subreddit_search: true
    message_inbox: true
    subreddit_popular: true
    subreddit_explore: true
  yamlComponents:
    streams:
      search:
        - paginator
  testedStreams:
    self:
      hasRecords: true
      streamHash: 2afe2d05d897a3c011739ccbe9b8c22fd5a4fb88
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    search:
      streamHash: 7aec03cdb9b35bef2951b4b1abb5a584d1f3c548
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subreddit_search:
      streamHash: a992ce22d7c88d8ab8aa9065c4fa809cf397dd98
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    message_inbox:
      streamHash: 57c865d697c2c1d7e1156d4bdddb2e368c3d9977
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subreddit_popular:
      streamHash: df685fc90131babaa5aea19a051f7508da27dec0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subreddit_explore:
      streamHash: b305db18d54f862858284d606b3fd6b06989e9e2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  self:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accept_followers:
        type:
          - boolean
          - "null"
      awardee_karma:
        type:
          - number
          - "null"
      awarder_karma:
        type:
          - number
          - "null"
      can_create_subreddit:
        type:
          - boolean
          - "null"
      can_edit_name:
        type:
          - boolean
          - "null"
      coins:
        type:
          - number
          - "null"
      comment_karma:
        type:
          - number
          - "null"
      created:
        type:
          - number
          - "null"
      created_utc:
        type:
          - number
          - "null"
      features:
        type:
          - object
          - "null"
        properties:
          awards_on_streams:
            type:
              - boolean
              - "null"
          chat_group_rollout:
            type:
              - boolean
              - "null"
          chat_subreddit:
            type:
              - boolean
              - "null"
          chat_user_settings:
            type:
              - boolean
              - "null"
          cookie_consent_banner:
            type:
              - boolean
              - "null"
          crowd_control_for_post:
            type:
              - boolean
              - "null"
          do_not_track:
            type:
              - boolean
              - "null"
          expensive_coins_package:
            type:
              - boolean
              - "null"
          images_in_comments:
            type:
              - boolean
              - "null"
          is_email_permission_required:
            type:
              - boolean
              - "null"
          mod_awards:
            type:
              - boolean
              - "null"
          mod_service_mute_reads:
            type:
              - boolean
              - "null"
          mod_service_mute_writes:
            type:
              - boolean
              - "null"
          modlog_copyright_removal:
            type:
              - boolean
              - "null"
          modmail_harassment_filter:
            type:
              - boolean
              - "null"
          mweb_nsfw_xpromo:
            type:
              - object
              - "null"
            properties:
              experiment_id:
                type:
                  - number
                  - "null"
              owner:
                type:
                  - string
                  - "null"
              variant:
                type:
                  - string
                  - "null"
          mweb_sharing_clipboard:
            type:
              - object
              - "null"
            properties:
              experiment_id:
                type:
                  - number
                  - "null"
              owner:
                type:
                  - string
                  - "null"
              variant:
                type:
                  - string
                  - "null"
          mweb_xpromo_interstitial_comments_android:
            type:
              - boolean
              - "null"
          mweb_xpromo_interstitial_comments_ios:
            type:
              - boolean
              - "null"
          mweb_xpromo_modal_listing_click_daily_dismissible_android:
            type:
              - boolean
              - "null"
          mweb_xpromo_modal_listing_click_daily_dismissible_ios:
            type:
              - boolean
              - "null"
          mweb_xpromo_revamp_v2:
            type:
              - object
              - "null"
            properties:
              experiment_id:
                type:
                  - number
                  - "null"
              owner:
                type:
                  - string
                  - "null"
              variant:
                type:
                  - string
                  - "null"
          mweb_xpromo_revamp_v3:
            type:
              - object
              - "null"
            properties:
              experiment_id:
                type:
                  - number
                  - "null"
              owner:
                type:
                  - string
                  - "null"
              variant:
                type:
                  - string
                  - "null"
          noreferrer_to_noopener:
            type:
              - boolean
              - "null"
          premium_subscriptions_table:
            type:
              - boolean
              - "null"
          promoted_trend_blanks:
            type:
              - boolean
              - "null"
          resized_styles_images:
            type:
              - boolean
              - "null"
          show_amp_link:
            type:
              - boolean
              - "null"
          use_pref_account_deployment:
            type:
              - boolean
              - "null"
      force_password_reset:
        type:
          - boolean
          - "null"
      gold_creddits:
        type:
          - number
          - "null"
      has_android_subscription:
        type:
          - boolean
          - "null"
      has_external_account:
        type:
          - boolean
          - "null"
      has_gold_subscription:
        type:
          - boolean
          - "null"
      has_ios_subscription:
        type:
          - boolean
          - "null"
      has_mail:
        type:
          - boolean
          - "null"
      has_mod_mail:
        type:
          - boolean
          - "null"
      has_paypal_subscription:
        type:
          - boolean
          - "null"
      has_stripe_subscription:
        type:
          - boolean
          - "null"
      has_subscribed:
        type:
          - boolean
          - "null"
      has_subscribed_to_premium:
        type:
          - boolean
          - "null"
      has_verified_email:
        type:
          - boolean
          - "null"
      has_visited_new_profile:
        type:
          - boolean
          - "null"
      hide_from_robots:
        type:
          - boolean
          - "null"
      icon_img:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      in_beta:
        type:
          - boolean
          - "null"
      in_redesign_beta:
        type:
          - boolean
          - "null"
      inbox_count:
        type:
          - number
          - "null"
      is_employee:
        type:
          - boolean
          - "null"
      is_gold:
        type:
          - boolean
          - "null"
      is_mod:
        type:
          - boolean
          - "null"
      is_sponsor:
        type:
          - boolean
          - "null"
      is_suspended:
        type:
          - boolean
          - "null"
      link_karma:
        type:
          - number
          - "null"
      linked_identities:
        type:
          - array
          - "null"
      name:
        type: string
      num_friends:
        type:
          - number
          - "null"
      oauth_client_id:
        type:
          - string
          - "null"
      over_18:
        type:
          - boolean
          - "null"
      password_set:
        type:
          - boolean
          - "null"
      phone_number:
        type:
          - object
          - "null"
        properties:
          code:
            type:
              - string
              - "null"
          number:
            type:
              - string
              - "null"
      pref_autoplay:
        type:
          - boolean
          - "null"
      pref_clickgadget:
        type:
          - number
          - "null"
      pref_geopopular:
        type:
          - string
          - "null"
      pref_nightmode:
        type:
          - boolean
          - "null"
      pref_no_profanity:
        type:
          - boolean
          - "null"
      pref_show_presence:
        type:
          - boolean
          - "null"
      pref_show_snoovatar:
        type:
          - boolean
          - "null"
      pref_show_trending:
        type:
          - boolean
          - "null"
      pref_show_twitter:
        type:
          - boolean
          - "null"
      pref_top_karma_subreddits:
        type:
          - boolean
          - "null"
      pref_video_autoplay:
        type:
          - boolean
          - "null"
      seen_give_award_tooltip:
        type:
          - boolean
          - "null"
      seen_layout_switch:
        type:
          - boolean
          - "null"
      seen_premium_adblock_modal:
        type:
          - boolean
          - "null"
      seen_redesign_modal:
        type:
          - boolean
          - "null"
      seen_subreddit_chat_ftux:
        type:
          - boolean
          - "null"
      snoovatar_img:
        type:
          - string
          - "null"
      subreddit:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          accept_followers:
            type:
              - boolean
              - "null"
          allowed_media_in_comments:
            type:
              - array
              - "null"
          banner_img:
            type:
              - string
              - "null"
          coins:
            type:
              - number
              - "null"
          default_set:
            type:
              - boolean
              - "null"
          disable_contributor_requests:
            type:
              - boolean
              - "null"
          display_name:
            type:
              - string
              - "null"
          display_name_prefixed:
            type:
              - string
              - "null"
          free_form_reports:
            type:
              - boolean
              - "null"
          icon_color:
            type:
              - string
              - "null"
          icon_img:
            type:
              - string
              - "null"
          icon_size:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          is_default_banner:
            type:
              - boolean
              - "null"
          is_default_icon:
            type:
              - boolean
              - "null"
          key_color:
            type:
              - string
              - "null"
          link_flair_enabled:
            type:
              - boolean
              - "null"
          link_flair_position:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          over_18:
            type:
              - boolean
              - "null"
          previous_names:
            type:
              - array
              - "null"
          primary_color:
            type:
              - string
              - "null"
          public_description:
            type:
              - string
              - "null"
          quarantine:
            type:
              - boolean
              - "null"
          restrict_commenting:
            type:
              - boolean
              - "null"
          restrict_posting:
            type:
              - boolean
              - "null"
          show_media:
            type:
              - boolean
              - "null"
          submit_link_label:
            type:
              - string
              - "null"
          submit_text_label:
            type:
              - string
              - "null"
          subreddit_type:
            type:
              - string
              - "null"
          subscribers:
            type:
              - number
              - "null"
          title:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          user_is_banned:
            type:
              - boolean
              - "null"
          user_is_contributor:
            type:
              - boolean
              - "null"
          user_is_moderator:
            type:
              - boolean
              - "null"
          user_is_subscriber:
            type:
              - boolean
              - "null"
      total_karma:
        type:
          - number
          - "null"
      verified:
        type:
          - boolean
          - "null"
    required:
      - name
  search:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          all_awardings:
            type:
              - array
              - "null"
          allow_live_comments:
            type:
              - boolean
              - "null"
          archived:
            type:
              - boolean
              - "null"
          author:
            type:
              - string
              - "null"
          author_cakeday:
            type:
              - boolean
              - "null"
          author_flair_background_color:
            type:
              - string
              - "null"
          author_flair_css_class:
            type:
              - string
              - "null"
          author_flair_richtext:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                a:
                  type:
                    - string
                    - "null"
                e:
                  type:
                    - string
                    - "null"
                t:
                  type:
                    - string
                    - "null"
                u:
                  type:
                    - string
                    - "null"
          author_flair_template_id:
            type:
              - string
              - "null"
          author_flair_text:
            type:
              - string
              - "null"
          author_flair_text_color:
            type:
              - string
              - "null"
          author_flair_type:
            type:
              - string
              - "null"
          author_fullname:
            type:
              - string
              - "null"
          author_is_blocked:
            type:
              - boolean
              - "null"
          author_patreon_flair:
            type:
              - boolean
              - "null"
          author_premium:
            type:
              - boolean
              - "null"
          awarders:
            type:
              - array
              - "null"
          can_gild:
            type:
              - boolean
              - "null"
          can_mod_post:
            type:
              - boolean
              - "null"
          clicked:
            type:
              - boolean
              - "null"
          content_categories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          contest_mode:
            type:
              - boolean
              - "null"
          created:
            type:
              - number
              - "null"
          created_utc:
            type:
              - number
              - "null"
          crosspost_parent:
            type:
              - string
              - "null"
          crosspost_parent_list:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                all_awardings:
                  type:
                    - array
                    - "null"
                allow_live_comments:
                  type:
                    - boolean
                    - "null"
                archived:
                  type:
                    - boolean
                    - "null"
                author:
                  type:
                    - string
                    - "null"
                author_flair_richtext:
                  type:
                    - array
                    - "null"
                author_flair_type:
                  type:
                    - string
                    - "null"
                author_fullname:
                  type:
                    - string
                    - "null"
                author_is_blocked:
                  type:
                    - boolean
                    - "null"
                author_patreon_flair:
                  type:
                    - boolean
                    - "null"
                author_premium:
                  type:
                    - boolean
                    - "null"
                awarders:
                  type:
                    - array
                    - "null"
                can_gild:
                  type:
                    - boolean
                    - "null"
                can_mod_post:
                  type:
                    - boolean
                    - "null"
                clicked:
                  type:
                    - boolean
                    - "null"
                contest_mode:
                  type:
                    - boolean
                    - "null"
                created:
                  type:
                    - number
                    - "null"
                created_utc:
                  type:
                    - number
                    - "null"
                domain:
                  type:
                    - string
                    - "null"
                downs:
                  type:
                    - number
                    - "null"
                edited:
                  type:
                    - boolean
                    - "null"
                gilded:
                  type:
                    - number
                    - "null"
                gildings:
                  type:
                    - object
                    - "null"
                hidden:
                  type:
                    - boolean
                    - "null"
                hide_score:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                is_created_from_ads_ui:
                  type:
                    - boolean
                    - "null"
                is_crosspostable:
                  type:
                    - boolean
                    - "null"
                is_meta:
                  type:
                    - boolean
                    - "null"
                is_original_content:
                  type:
                    - boolean
                    - "null"
                is_reddit_media_domain:
                  type:
                    - boolean
                    - "null"
                is_robot_indexable:
                  type:
                    - boolean
                    - "null"
                is_self:
                  type:
                    - boolean
                    - "null"
                is_video:
                  type:
                    - boolean
                    - "null"
                link_flair_background_color:
                  type:
                    - string
                    - "null"
                link_flair_richtext:
                  type:
                    - array
                    - "null"
                link_flair_text_color:
                  type:
                    - string
                    - "null"
                link_flair_type:
                  type:
                    - string
                    - "null"
                locked:
                  type:
                    - boolean
                    - "null"
                media:
                  type:
                    - object
                    - "null"
                  properties:
                    reddit_video:
                      type:
                        - object
                        - "null"
                      properties:
                        bitrate_kbps:
                          type:
                            - number
                            - "null"
                        dash_url:
                          type:
                            - string
                            - "null"
                        duration:
                          type:
                            - number
                            - "null"
                        fallback_url:
                          type:
                            - string
                            - "null"
                        has_audio:
                          type:
                            - boolean
                            - "null"
                        height:
                          type:
                            - number
                            - "null"
                        hls_url:
                          type:
                            - string
                            - "null"
                        is_gif:
                          type:
                            - boolean
                            - "null"
                        scrubber_media_url:
                          type:
                            - string
                            - "null"
                        transcoding_status:
                          type:
                            - string
                            - "null"
                        width:
                          type:
                            - number
                            - "null"
                media_embed:
                  type:
                    - object
                    - "null"
                media_only:
                  type:
                    - boolean
                    - "null"
                mod_reports:
                  type:
                    - array
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                no_follow:
                  type:
                    - boolean
                    - "null"
                num_comments:
                  type:
                    - number
                    - "null"
                num_crossposts:
                  type:
                    - number
                    - "null"
                over_18:
                  type:
                    - boolean
                    - "null"
                parent_whitelist_status:
                  type:
                    - string
                    - "null"
                permalink:
                  type:
                    - string
                    - "null"
                pinned:
                  type:
                    - boolean
                    - "null"
                pwls:
                  type:
                    - number
                    - "null"
                quarantine:
                  type:
                    - boolean
                    - "null"
                removed_by_category:
                  type:
                    - string
                    - "null"
                saved:
                  type:
                    - boolean
                    - "null"
                score:
                  type:
                    - number
                    - "null"
                secure_media:
                  type:
                    - object
                    - "null"
                  properties:
                    reddit_video:
                      type:
                        - object
                        - "null"
                      properties:
                        bitrate_kbps:
                          type:
                            - number
                            - "null"
                        dash_url:
                          type:
                            - string
                            - "null"
                        duration:
                          type:
                            - number
                            - "null"
                        fallback_url:
                          type:
                            - string
                            - "null"
                        has_audio:
                          type:
                            - boolean
                            - "null"
                        height:
                          type:
                            - number
                            - "null"
                        hls_url:
                          type:
                            - string
                            - "null"
                        is_gif:
                          type:
                            - boolean
                            - "null"
                        scrubber_media_url:
                          type:
                            - string
                            - "null"
                        transcoding_status:
                          type:
                            - string
                            - "null"
                        width:
                          type:
                            - number
                            - "null"
                secure_media_embed:
                  type:
                    - object
                    - "null"
                selftext:
                  type:
                    - string
                    - "null"
                selftext_html:
                  type:
                    - string
                    - "null"
                send_replies:
                  type:
                    - boolean
                    - "null"
                spoiler:
                  type:
                    - boolean
                    - "null"
                stickied:
                  type:
                    - boolean
                    - "null"
                subreddit:
                  type:
                    - string
                    - "null"
                subreddit_id:
                  type:
                    - string
                    - "null"
                subreddit_name_prefixed:
                  type:
                    - string
                    - "null"
                subreddit_subscribers:
                  type:
                    - number
                    - "null"
                subreddit_type:
                  type:
                    - string
                    - "null"
                thumbnail:
                  type:
                    - string
                    - "null"
                thumbnail_height:
                  type:
                    - number
                    - "null"
                thumbnail_width:
                  type:
                    - number
                    - "null"
                title:
                  type:
                    - string
                    - "null"
                total_awards_received:
                  type:
                    - number
                    - "null"
                treatment_tags:
                  type:
                    - array
                    - "null"
                ups:
                  type:
                    - number
                    - "null"
                upvote_ratio:
                  type:
                    - number
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                url_overridden_by_dest:
                  type:
                    - string
                    - "null"
                user_reports:
                  type:
                    - array
                    - "null"
                visited:
                  type:
                    - boolean
                    - "null"
                whitelist_status:
                  type:
                    - string
                    - "null"
                wls:
                  type:
                    - number
                    - "null"
          domain:
            type:
              - string
              - "null"
          downs:
            type:
              - number
              - "null"
          edited:
            type:
              - boolean
              - number
              - "null"
          gallery_data:
            type:
              - object
              - "null"
            properties:
              items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    caption:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - number
                        - "null"
                    media_id:
                      type:
                        - string
                        - "null"
                    outbound_url:
                      type:
                        - string
                        - "null"
          gilded:
            type:
              - number
              - "null"
          gildings:
            type:
              - object
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          hide_score:
            type:
              - boolean
              - "null"
          id:
            type:
              - string
              - "null"
          is_created_from_ads_ui:
            type:
              - boolean
              - "null"
          is_crosspostable:
            type:
              - boolean
              - "null"
          is_gallery:
            type:
              - boolean
              - "null"
          is_meta:
            type:
              - boolean
              - "null"
          is_original_content:
            type:
              - boolean
              - "null"
          is_reddit_media_domain:
            type:
              - boolean
              - "null"
          is_robot_indexable:
            type:
              - boolean
              - "null"
          is_self:
            type:
              - boolean
              - "null"
          is_video:
            type:
              - boolean
              - "null"
          link_flair_background_color:
            type:
              - string
              - "null"
          link_flair_css_class:
            type:
              - string
              - "null"
          link_flair_richtext:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                a:
                  type:
                    - string
                    - "null"
                e:
                  type:
                    - string
                    - "null"
                t:
                  type:
                    - string
                    - "null"
                u:
                  type:
                    - string
                    - "null"
          link_flair_template_id:
            type:
              - string
              - "null"
          link_flair_text:
            type:
              - string
              - "null"
          link_flair_text_color:
            type:
              - string
              - "null"
          link_flair_type:
            type:
              - string
              - "null"
          locked:
            type:
              - boolean
              - "null"
          media:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              oembed:
                type:
                  - object
                  - "null"
                properties:
                  version:
                    type:
                      - string
                      - "null"
                  type:
                    type:
                      - string
                      - "null"
                  author_name:
                    type:
                      - string
                      - "null"
                  author_url:
                    type:
                      - string
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  html:
                    type:
                      - string
                      - "null"
                  provider_name:
                    type:
                      - string
                      - "null"
                  provider_url:
                    type:
                      - string
                      - "null"
                  thumbnail_height:
                    type:
                      - number
                      - "null"
                  thumbnail_url:
                    type:
                      - string
                      - "null"
                  thumbnail_width:
                    type:
                      - number
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              reddit_video:
                type:
                  - object
                  - "null"
                properties:
                  bitrate_kbps:
                    type:
                      - number
                      - "null"
                  dash_url:
                    type:
                      - string
                      - "null"
                  duration:
                    type:
                      - number
                      - "null"
                  fallback_url:
                    type:
                      - string
                      - "null"
                  has_audio:
                    type:
                      - boolean
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  hls_url:
                    type:
                      - string
                      - "null"
                  is_gif:
                    type:
                      - boolean
                      - "null"
                  scrubber_media_url:
                    type:
                      - string
                      - "null"
                  transcoding_status:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
          media_embed:
            type:
              - object
              - "null"
            properties:
              content:
                type:
                  - string
                  - "null"
              height:
                type:
                  - number
                  - "null"
              scrolling:
                type:
                  - boolean
                  - "null"
              width:
                type:
                  - number
                  - "null"
          media_metadata:
            type:
              - object
              - "null"
            properties:
              011yw4x5994d1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              03ns5ofn0nlc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              07y16xdyz8ua1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              09z3xsejvh2c1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              0y3w4tr81nlc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              1p3eyw5hbadd1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              218onixgbadd1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              22ykvqgsk8ab1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              33v7vwb2nq6d1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              38rmo53tpzkc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              3e8h1d0l6s6b1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              3ia6p53tpzkc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              3p9pq3o9wwsc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              49rq7lkgbadd1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              4ap62sgsk8ab1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              4nkps2o9wwsc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              4qqpfydyz8ua1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              4v69gd6byrjc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              5262nwdd2uac1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              57ps4qggbadd1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              5o5h0e0l6s6b1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              5uh8n0o9wwsc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              636xwzb2nq6d1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              64kdciqgbadd1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              67d62rxthyoc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              74f5953tpzkc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              7l36mp2hbadd1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              7o22ed0l6s6b1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              7s9bqwaovsbd1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  m:
                    type:
                      - string
                      - "null"
                  p:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        u:
                          type:
                            - string
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  s:
                    type:
                      - object
                      - "null"
                    properties:
                      u:
                        type:
                          - string
                          - "null"
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
              7us53p6r0nlc1:
                type:
                  - object
                  - "null"
                properties:
                  e:
                    type:
                      - string
                      - "null"
                  id:
[...]
