version: 5.17.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - posts

definitions:
  streams:
    # Parent stream: posts (incremental by ID)
    posts:
      type: DeclarativeStream
      name: posts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /posts
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_date
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
      transformations:
        - type: AddFields
          fields:
            - path:
                - created_date
              value: "{{ '2020-' + ((record['id'] // 12 + 1) | string).zfill(2) + '-' + ((record['id'] % 30 + 1) | string).zfill(2) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/posts"

    # Child stream: comments (with incremental_dependency)
    comments:
      type: DeclarativeStream
      name: comments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "/posts/{{ stream_partition.post_id }}/comments"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/posts"
              # This is the KEY setting being tested:
              # When true, should only iterate over NEW parent records on incremental sync
              # Works on OSS, broken on Cloud
              incremental_dependency: true
              parent_key: id
              partition_field: post_id
      transformations:
        - type: AddFields
          fields:
            - path:
                - post_id
              value: "{{ stream_partition.post_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/comments"

  base_requester:
    type: HttpRequester
    url_base: https://jsonplaceholder.typicode.com
    authenticator:
      type: NoAuth

streams:
  - $ref: "#/definitions/streams/posts"
  - $ref: "#/definitions/streams/comments"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - start_date
    properties:
      start_date:
        type: string
        title: Start Date
        description: Start date for incremental sync (format YYYY-MM-DD, use 2020-01-01 to get all data)
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        examples:
          - "2020-01-01"
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    posts: false
    comments: false

schemas:
  posts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: ["null", "integer"]
        description: Post ID
      userId:
        type: ["null", "integer"]
        description: User ID who created the post
      title:
        type: ["null", "string"]
        description: Post title
      body:
        type: ["null", "string"]
        description: Post content
      created_date:
        type: ["null", "string"]
        description: Synthetic date field for incremental cursor (derived from ID)

  comments:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: ["null", "integer"]
        description: Comment ID
      postId:
        type: ["null", "integer"]
        description: Post ID this comment belongs to
      post_id:
        type: ["null", "integer"]
        description: Post ID (normalized field name)
      name:
        type: ["null", "string"]
        description: Comment title
      email:
        type: ["null", "string"]
        description: Commenter email
      body:
        type: ["null", "string"]
        description: Comment content
