version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - auctions_data
    - auctions_info
    - distilleries_info
definitions:
  streams:
    auctions_data:
      type: DeclarativeStream
      name: auctions_data
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://whiskyhunter.net/api
          path: /auctions_data/?format=json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          properties:
            all_auctions_lots_count:
              type: integer
            auction_lots_count:
              type: integer
            auction_name:
              type: string
            auction_slug:
              type: string
            auction_trading_volume:
              type: number
            dt:
              type: string
            winning_bid_max:
              type: number
            winning_bid_mean:
              type: number
            winning_bid_min:
              type: number
          additionalProperties: true
    auctions_info:
      type: DeclarativeStream
      name: auctions_info
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://whiskyhunter.net/api
          path: /auctions_info?format=json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          properties:
            base_currency:
              type: string
            buyers_fee:
              type: number
            listing_fee:
              type: number
            name:
              type: string
            reserve_fee:
              type: number
            sellers_fee:
              type: number
            slug:
              type: string
            url:
              type: string
          additionalProperties: true
    distilleries_info:
      type: DeclarativeStream
      name: distilleries_info
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://whiskyhunter.net/api
          path: /distilleries_info/?format=json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          properties:
            country:
              type: string
            name:
              type: string
            slug:
              type: string
            whiskybase_rating:
              type: string
            whiskybase_votes:
              type: string
            whiskybase_whiskies:
              type: string
          additionalProperties: true
  base_requester:
    type: HttpRequester
    url_base: https://whiskyhunter.net/api
streams:
  - type: DeclarativeStream
    name: auctions_data
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://whiskyhunter.net/api
        path: /auctions_data/?format=json
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          all_auctions_lots_count:
            type: integer
          auction_lots_count:
            type: integer
          auction_name:
            type: string
          auction_slug:
            type: string
          auction_trading_volume:
            type: number
          dt:
            type: string
          winning_bid_max:
            type: number
          winning_bid_mean:
            type: number
          winning_bid_min:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: auctions_info
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://whiskyhunter.net/api
        path: /auctions_info?format=json
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          base_currency:
            type: string
          buyers_fee:
            type: number
          listing_fee:
            type: number
          name:
            type: string
          reserve_fee:
            type: number
          sellers_fee:
            type: number
          slug:
            type: string
          url:
            type: string
        additionalProperties: true
  - type: DeclarativeStream
    name: distilleries_info
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://whiskyhunter.net/api
        path: /distilleries_info/?format=json
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          country:
            type: string
          name:
            type: string
          slug:
            type: string
          whiskybase_rating:
            type: string
          whiskybase_votes:
            type: string
          whiskybase_whiskies:
            type: string
        additionalProperties: true
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required: []
    properties: {}
    additionalProperties: true
metadata:
  autoImportSchema:
    auctions_data: false
    auctions_info: false
    distilleries_info: false
schemas:
  auctions_data:
    type: object
    properties:
      all_auctions_lots_count:
        type: integer
      auction_lots_count:
        type: integer
      auction_name:
        type: string
      auction_slug:
        type: string
      auction_trading_volume:
        type: number
      dt:
        type: string
      winning_bid_max:
        type: number
      winning_bid_mean:
        type: number
      winning_bid_min:
        type: number
    additionalProperties: true
  auctions_info:
    type: object
    properties:
      base_currency:
        type: string
      buyers_fee:
        type: number
      listing_fee:
        type: number
      name:
        type: string
      reserve_fee:
        type: number
      sellers_fee:
        type: number
      slug:
        type: string
      url:
        type: string
    additionalProperties: true
  distilleries_info:
    type: object
    properties:
      country:
        type: string
      name:
        type: string
      slug:
        type: string
      whiskybase_rating:
        type: string
      whiskybase_votes:
        type: string
      whiskybase_whiskies:
        type: string
    additionalProperties: true
