version: 0.50.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - customers

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      inject_into: request_parameter
      field_name: limit
      type: RequestOption
    pagination_strategy:
      type: PageIncrement
      start_from_page: 1
      page_size: 250
  date_modified_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: date_modified
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S+00:00"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
    start_time_option:
      inject_into: request_parameter
      field_name: date_modified:min
      type: RequestOption
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  base_id_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: id
    cursor_datetime_formats:
      - "%s"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  id_incremental_sync:
    $ref: "#/definitions/base_id_incremental_sync"
    start_time_option:
      type: RequestOption
      field_name: date_modified:min
      inject_into: request_parameter
  order_id_partition_router:
    - type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: order_id
          stream:
            $ref: "#/definitions/orders_stream"
  requester:
    type: HttpRequester
    url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
    http_method: GET
    request_headers:
      Accept: application/json
      Content-Type: application/json
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config["access_token"] }}'
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-Auth-Token
    request_body_json: {}
  customers_stream:
    type: DeclarativeStream
    name: customers
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v3/customers
        request_parameters:
          sort: date_modified:asc
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      $ref: "#/definitions/date_modified_incremental_sync"
  orders_stream:
    type: DeclarativeStream
    name: orders
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v2/orders
        request_parameters:
          sort: date_modified:asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%dT%H:%M:%S+00:00"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        inject_into: request_parameter
        field_name: min_date_modified
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    transformations:
      - type: CustomTransformation
        class_name: source_bigcommerce.components.DateTimeTransformer
        fields:
          - path:
              - date_modified
            value: "{{ record.date_modified }}"
  transactions_stream:
    type: DeclarativeStream
    name: transactions
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v2/orders/{{ stream_partition.order_id }}/transactions
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        $ref: "#/definitions/order_id_partition_router"
    incremental_sync:
      $ref: "#/definitions/id_incremental_sync"
  pages_stream:
    type: DeclarativeStream
    name: pages
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v3/content/pages
        request_parameters:
          sort: date_modified:asc
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      $ref: "#/definitions/id_incremental_sync"
  products_stream:
    type: DeclarativeStream
    name: products
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v3/catalog/products
        request_parameters:
          sort: date_modified
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      $ref: "#/definitions/date_modified_incremental_sync"
  channels_stream:
    type: DeclarativeStream
    name: channels
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: /v3/channels
        request_parameters:
          sort: date_modified
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      $ref: "#/definitions/date_modified_incremental_sync"
  store_stream:
    type: DeclarativeStream
    name: store
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v2/store
        request_parameters:
          sort: date_modified:asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        $ref: "#/definitions/paginator"
  order_products_stream:
    type: DeclarativeStream
    name: order_products
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v2/orders/{{ stream_partition.order_id }}/products
        request_parameters:
          sort: date_modified:asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        $ref: "#/definitions/order_id_partition_router"
    incremental_sync:
      $ref: "#/definitions/base_id_incremental_sync"
  brands_stream:
    type: DeclarativeStream
    name: brands
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v3/catalog/brands
        request_parameters:
          sort: id
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      $ref: "#/definitions/base_id_incremental_sync"
  categories_stream:
    type: DeclarativeStream
    name: categories
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: v3/catalog/categories
        request_parameters:
          sort: id
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      $ref: "#/definitions/base_id_incremental_sync"

streams:
  - "#/definitions/customers_stream"
  - "#/definitions/orders_stream"
  - "#/definitions/transactions_stream"
  - "#/definitions/pages_stream"
  - "#/definitions/products_stream"
  - "#/definitions/channels_stream"
  - "#/definitions/store_stream"
  - "#/definitions/order_products_stream"
  - "#/definitions/brands_stream"
  - "#/definitions/categories_stream"

spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/bigcommerce
  type: Spec
  connection_specification:
    additionalProperties: true
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - start_date
      - access_token
      - store_hash
    properties:
      start_date:
        type: string
        title: Start date
        description: "The date you would like to replicate data. Format: YYYY-MM-DD."
        examples: ["2021-01-01"]
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        order: 0
      access_token:
        type: string
        title: Access Token
        description: "Access Token for making authenticated requests."
        airbyte_secret: true
        order: 1
      store_hash:
        title: Store Hash
        description: >-
          The hash code of the store. For https://api.bigcommerce.com/stores/HASH_CODE/v3/, The store's hash code is 'HASH_CODE'.
        type: string
        order: 2
