version: 6.33.4

type: DeclarativeSource

description: |-
  Added optional support for SME and Self-Managed Deployments

  Fixed incremental sync issue by reducing page limit

check:
  type: CheckStream
  stream_names:
    - Jobs

definitions:
  streams:
    Jobs:
      type: DeclarativeStream
      name: Jobs
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: jobs
          http_method: GET
          request_parameters:
            orderBy: updatedAt|DESC
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: "{{ record.lastUpdatedAt is defined }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/Connections"
              parent_key: connectionId
              request_option:
                type: RequestOption
                field_name: connectionId
                inject_into: request_parameter
              partition_field: connectionId
      primary_key:
        - jobId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Jobs"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastUpdatedAt
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_time_option:
          type: RequestOption
          field_name: updatedAtEnd
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: updatedAtStart
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%MZ"
    Workspaces:
      type: DeclarativeStream
      name: Workspaces
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"next\", {}) }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: workspaces
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - workspaceId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Workspaces"
    Connections:
      type: DeclarativeStream
      name: Connections
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"next\", {}) }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: connections
          http_method: GET
          request_parameters:
            limit: "100"
            includeDeleted: "false"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - connectionId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Connections"
  base_requester:
    type: HttpRequester
    url_base: >-
      {{ "https://{}/api/public/v1/".format(config['host']) if config['host']
      else "https://api.airbyte.com/v1/" }}
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        path: token
        url_base: >-
          {{ 'https://' + config['host'] + '/api/public/v1/applications/' if
          config['host'] else 'https://api.airbyte.com/v1/applications/' }}
        http_method: POST
        authenticator:
          type: NoAuth
        request_headers: {}
        request_body_json:
          client_id: "{{ config['client_id'] }}"
          grant-type: client_credentials
          client_secret: "{{ config['client_secret'] }}"
        request_parameters: {}
      session_token_path:
        - access_token
      request_authentication:
        type: Bearer

streams:
  - $ref: "#/definitions/streams/Jobs"
  - $ref: "#/definitions/streams/Connections"
  - $ref: "#/definitions/streams/Workspaces"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - start_date
    properties:
      host:
        type: string
        description: >-
          The Host URL of your Self-Managed Deployment (e.x.
          airbtye.mydomain.com)
        order: 3
        title: Self-Managed Host
      client_id:
        type: string
        order: 0
        title: Client ID
      start_date:
        type: string
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      client_secret:
        type: string
        order: 1
        title: Client Secret
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    Jobs:
      hasRecords: true
      streamHash: 6589dabc52ffef1ce6ac6a4ab55573b8bd967c27
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Workspaces:
      hasRecords: true
      streamHash: 573896c0a2adf0546345a96239c7e1dd9570e1c4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Connections:
      hasRecords: true
      streamHash: e1fcc0d5e875ae3df1d278a64ef93170853427fa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    Jobs: true
    Workspaces: true
    Connections: true

schemas:
  Jobs:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - jobId
      - lastUpdatedAt
    properties:
      jobId:
        type: number
      status:
        type:
          - string
          - "null"
      jobType:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      startTime:
        type:
          - string
          - "null"
      rowsSynced:
        type:
          - number
          - "null"
      bytesSynced:
        type:
          - number
          - "null"
      connectionId:
        type:
          - string
          - "null"
      lastUpdatedAt:
        type: string
    additionalProperties: true
  Workspaces:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - workspaceId
    properties:
      name:
        type:
          - string
          - "null"
      workspaceId:
        type: string
      dataResidency:
        type:
          - string
          - "null"
      notifications:
        type:
          - object
          - "null"
        properties:
          failure:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          success:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          syncDisabled:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          connectionUpdate:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          syncDisabledWarning:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          connectionUpdateActionRequired:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
    additionalProperties: true
  Connections:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - connectionId
    properties:
      name:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      prefix:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      schedule:
        type:
          - object
          - "null"
        properties:
          basicTiming:
            type:
              - string
              - "null"
          scheduleType:
            type:
              - string
              - "null"
          cronExpression:
            type:
              - string
              - "null"
      sourceId:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      workspaceId:
        type:
          - string
          - "null"
      connectionId:
        type: string
      dataResidency:
        type:
          - string
          - "null"
      destinationId:
        type:
          - string
          - "null"
      configurations:
        type:
          - object
          - "null"
        properties:
          streams:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                mappers:
                  type:
                    - array
                    - "null"
                syncMode:
                  type:
                    - string
                    - "null"
                primaryKey:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                cursorField:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                selectedFields:
                  type:
                    - array
                    - "null"
      namespaceFormat:
        type:
          - string
          - "null"
      namespaceDefinition:
        type:
          - string
          - "null"
      nonBreakingSchemaUpdatesBehavior:
        type:
          - string
          - "null"
    additionalProperties: true
