version: 6.44.0

type: DeclarativeSource

description: This source allows you to sync up data about your Airbyte Cloud workspaces.

check:
  type: CheckStream
  stream_names:
    - Jobs

definitions:
  streams:
    Jobs:
      type: DeclarativeStream
      name: Jobs
      primary_key:
        - jobId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: jobs
          http_method: GET
          request_parameters:
            orderBy: updatedAt|DESC
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: "{{ record.lastUpdatedAt is defined }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: connectionId
              request_option:
                type: RequestOption
                field_name: connectionId
                inject_into: request_parameter
              partition_field: connectionId
              stream:
                $ref: "#/definitions/streams/Connections"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastUpdatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%MZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedAtStart
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: updatedAtEnd
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Jobs"
    Connections:
      type: DeclarativeStream
      name: Connections
      primary_key:
        - connectionId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: connections
          http_method: GET
          request_parameters:
            limit: "100"
            includeDeleted: "false"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"next\", {}) }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Connections"
    Workspaces:
      type: DeclarativeStream
      name: Workspaces
      primary_key:
        - workspaceId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workspaces
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"next\", {}) }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Workspaces"
  base_requester:
    type: HttpRequester
    url_base: >-
      {{ "https://{}/api/public/v1/".format(config['host']) if config['host']
      else "https://api.airbyte.com/v1/" }}
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        url_base: >-
          {{ 'https://' + config['host'] + '/api/public/v1/applications/' if
          config['host'] else 'https://api.airbyte.com/v1/applications/'
          }}/token
        authenticator:
          type: NoAuth
        http_method: POST
        request_parameters: {}
        request_headers: {}
        request_body_json:
          client_id: "{{ config['client_id'] }}"
          grant-type: client_credentials
          client_secret: "{{ config['client_secret'] }}"
      session_token_path:
        - access_token
      request_authentication:
        type: Bearer

streams:
  - $ref: "#/definitions/streams/Jobs"
  - $ref: "#/definitions/streams/Connections"
  - $ref: "#/definitions/streams/Workspaces"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - start_date
    properties:
      client_id:
        type: string
        order: 0
        title: Client ID
      client_secret:
        type: string
        order: 1
        title: Client Secret
        airbyte_secret: true
      start_date:
        type: string
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      host:
        type: string
        description: >-
          The Host URL of your Self-Managed Deployment (e.x.
          airbtye.mydomain.com)
        order: 3
        title: Self-Managed Host
    additionalProperties: true

metadata:
  autoImportSchema:
    Jobs: true
    Connections: true
    Workspaces: true
  testedStreams:
    Jobs:
      streamHash: df5ce9442057e4b2a4dcc6cb96803cb2f5bb31ad
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Connections:
      streamHash: 1f404b16ac1233d8c0afafd39bf4dff1bb7c92a9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Workspaces:
      streamHash: ee087cd44413889095e61d2901d5cc01dd8e5b95
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Jobs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bytesSynced:
        type:
          - number
          - "null"
      connectionId:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      jobId:
        type: number
      jobType:
        type:
          - string
          - "null"
      lastUpdatedAt:
        type: string
      rowsSynced:
        type:
          - number
          - "null"
      startTime:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - jobId
      - lastUpdatedAt
  Connections:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      configurations:
        type:
          - object
          - "null"
        properties:
          streams:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                cursorField:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                mappers:
                  type:
                    - array
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                primaryKey:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                selectedFields:
                  type:
                    - array
                    - "null"
                syncMode:
                  type:
                    - string
                    - "null"
      connectionId:
        type: string
      createdAt:
        type:
          - number
          - "null"
      dataResidency:
        type:
          - string
          - "null"
      destinationId:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      namespaceDefinition:
        type:
          - string
          - "null"
      namespaceFormat:
        type:
          - string
          - "null"
      nonBreakingSchemaUpdatesBehavior:
        type:
          - string
          - "null"
      prefix:
        type:
          - string
          - "null"
      schedule:
        type:
          - object
          - "null"
        properties:
          basicTiming:
            type:
              - string
              - "null"
          cronExpression:
            type:
              - string
              - "null"
          scheduleType:
            type:
              - string
              - "null"
      sourceId:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      workspaceId:
        type:
          - string
          - "null"
    required:
      - connectionId
  Workspaces:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      dataResidency:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      notifications:
        type:
          - object
          - "null"
        properties:
          connectionUpdate:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          connectionUpdateActionRequired:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          failure:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          success:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          syncDisabled:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
          syncDisabledWarning:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              webhook:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
      workspaceId:
        type: string
    required:
      - workspaceId
