@use "../../../scss/colors";
@use "../../../scss/variables";

.menuItem {
  background-color: transparent;
  appearance: none;
  border: none;

  // color: colors.$grey-30;
  color: #4f46e5;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 54px;

  // border-radius: 12px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

  // justify-content: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-top: 7px;
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus-visible {
    background: #eae9ff;
    transition: variables.$transition-out;
  }

  &.inActive {
    width: 100%;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 54px;

    // justify-content: center;
    //  align-items: center;
    // background-color: #eae9ff;
    color: colors.$black;
    transition: variables.$transition-out;

    &:hover,
    &:focus-visible {
      color: colors.$black;
      background: #eae9ff;
      transition: variables.$transition-out;
    }
  }

  // &.inActiveSetting {
  //   background: #eff0f5;
  //   border-radius: 6px;
  //   width: 80%;
  // }

  &.active {
    color: #4f46e5;
    width: 100%;
    background: #eae9ff;
    border-right: 6px solid;
    border-right-color: #4f46e5;
    transition: variables.$transition-out;

    &:hover,
    &:focus-visible {
      color: #4f46e5;
      background: #eae9ff;
      transition: variables.$transition-out;
    }
  }

  &.activeChild {
    color: colors.$white;
    background: colors.$dark-blue-600;

    &:hover,
    &:focus-visible {
      color: colors.$white;
      background: colors.$dark-blue-400;
    }
  }

  &.popoutOpen {
    background: colors.$dark-blue-600;
    transition: variables.$transition-out;
  }
}
