@forward "../../views/Connection/ConnectionForm/ConnectionFormFields.module.scss";
@use "../../scss/variables";

.labelHeading {
  line-height: 16px;
  display: inline;
}

.connectionLabel {
  max-width: 328px;
  margin-right: variables.$spacing-xl;
  vertical-align: top;
}
