@use "../../scss/colors";
@use "../../scss/fonts";

.iconContainer {
  height: 25px;
  width: 25px;
  text-align: center;
  overflow: hidden;
  margin-right: 6px;
}

.circle {
  height: 20px;
  width: 20px;
  min-width: 20px;
  border-radius: 50%;
  text-align: center;
  margin-right: 6px;
  overflow: hidden;

  &.darkBlue {
    background: colors.$dark-blue-100;
  }
  &.green {
    background: colors.$green;
    color: colors.$white;
  }

  &.red {
    background: colors.$red;
    color: colors.$white;
  }

  &.blue {
    background: colors.$blue;
    color: colors.$white;
  }
}

.small {
  border-radius: 0%;
}

.icon {
  max-height: 100%;
  max-width: 100%;
}

.number {
  font-family: fonts.$regularFont;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: colors.$white;
  padding: 3px 0 3px;

  &.light {
    font-weight: 500;
  }
}
