version: 6.8.0
type: DeclarativeSource

definitions:
  authenticator:
    type: OAuthAuthenticator
    client_id: "{{ config['client_id'] }}"
    client_secret: "{{ config['client_secret'] }}"
    token_refresh_endpoint: "{{ config['domain_url'] }}/identity/oauth/token"
    grant_type: client_credentials

  requester:
    type: HttpRequester
    url_base: "{{ config['domain_url'].rstrip('/') }}/"
    authenticator: "#/definitions/authenticator"
    http_method: GET
    error_handler:
      type: DefaultErrorHandler
      response_filters:
        - type: HttpResponseFilter
          action: FAIL
          http_codes: [400, 403]
          error_message: Unable to connect to Marketo API with the provided credentials

  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["result"]

  cursor_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('nextPageToken') }}"
      page_size: 300
    page_size_option:
      type: RequestOption
      field_name: "batchSize"
      inject_into: request_parameter
    page_token_option:
      type: RequestOption
      field_name: "nextPageToken"
      inject_into: request_parameter

  offset_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: OffsetIncrement
      page_size: 200
    page_size_option:
      type: RequestOption
      field_name: "batchSize"
      inject_into: request_parameter
    page_token_option:
      type: RequestOption
      field_name: "offset"
      inject_into: request_parameter

  base_retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator: "#/definitions/cursor_paginator"

  base_full_refresh_stream:
    type: DeclarativeStream
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/empty"
    primary_key: "id"
    retriever: "#/definitions/base_retriever"

  base_semi_incremental_stream:
    $ref: "#/definitions/base_full_refresh_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "createdAt"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime: "{{ config['start_date'] }}"
      is_client_side_incremental: true

  base_incremental_stream:
    $ref: "#/definitions/base_full_refresh_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updatedAt"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime: "{{ config['start_date'] }}"
      end_datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')) }}"
      cursor_granularity: "PT1S"
      step: "P{{ config.get('window_in_days', 30) }}D"
      start_time_option:
        type: RequestOption
        field_name: "earliestUpdatedAt"
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: "latestUpdatedAt"
        inject_into: request_parameter

  activity_types_stream:
    name: "activity_types"
    $ref: "#/definitions/base_full_refresh_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/activity_types"
    $parameters:
      name: "activity_types"
      path: "rest/v1/activities/types.json"

  segmentations_stream:
    name: "segmentations"
    $ref: "#/definitions/base_full_refresh_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/segmentations"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator: "#/definitions/offset_paginator"
    $parameters:
      name: "segmentations"
      path: "rest/asset/v1/segmentation.json"

  campaigns_stream:
    name: "campaigns"
    $ref: "#/definitions/base_semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaigns"
    $parameters:
      name: "campaigns"
      path: "rest/v1/campaigns.json"

  lists_stream:
    name: "lists"
    $ref: "#/definitions/base_semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/lists"
    $parameters:
      name: "lists"
      path: "rest/v1/lists.json"

  programs_stream:
    name: "programs"
    $ref: "#/definitions/base_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/programs"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/offset_paginator"
        page_size_option:
          type: RequestOption
          field_name: "maxReturn"
          inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["createdAt"]
            value: "{{ format_datetime(record['createdAt'].replace('Z',''), '%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: ["updatedAt"]
            value: "{{ format_datetime(record['updatedAt'].replace('Z',''), '%Y-%m-%dT%H:%M:%SZ') }}"
    $parameters:
      name: "programs"
      path: "rest/asset/v1/programs.json"

  leads_stream:
    type: DeclarativeStream
    name: "leads"
    primary_key: "id"
    retriever:
      type: AsyncRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      status_mapping:
        type: AsyncJobStatusMap
        running:
          - "Queued"
          - "Processing"
        completed:
          - "Completed"
        failed:
          - "Cancelled"
          - "Failed"
        timeout: []
      status_extractor:
        type: CustomRecordExtractor
        class_name: source_declarative_manifest.components.MarketoBulkExportStatusExtractor
        resource_name: "leads"
      creation_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/leads/export/create.json"
        http_method: POST
        authenticator: "#/definitions/authenticator"
        request_body_json:
          format: "CSV"
          filter:
            updatedAt:
              startAt: "{{ stream_slice['start_time'] }}"
              endAt: "{{ stream_slice['end_time'] }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 10
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes: [429, 500, 502, 503]
      polling_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/leads/export/{{ creation_response['result'][0]['exportId'] }}/status.json"
        http_method: GET
        authenticator: "#/definitions/authenticator"
      download_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/leads/export/{{ creation_response['result'][0]['exportId'] }}/file.json"
        http_method: GET
        authenticator: "#/definitions/authenticator"
      download_decoder:
        type: CsvDecoder
        encoding: "utf-8"
        set_values_to_none:
          - "null"
          - ""
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updatedAt"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime: "{{ config['start_date'] }}"
      end_datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')) }}"
      cursor_granularity: "PT1S"
      step: "P{{ config.get('window_in_days', 30) }}D"
    transformations:
      - type: CustomTransformation
        class_name: source_declarative_manifest.components.MarketoCsvTransformation
    schema_loader:
      type: CustomSchemaLoader
      class_name: source_declarative_manifest.components.MarketoLeadsSchemaLoader

  activities_stream_template:
    type: DeclarativeStream
    name: ""
    primary_key: "marketoGUID"
    retriever:
      type: AsyncRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      status_mapping:
        type: AsyncJobStatusMap
        running:
          - "Queued"
          - "Processing"
        completed:
          - "Completed"
        failed:
          - "Cancelled"
          - "Failed"
        timeout: []
      status_extractor:
        type: CustomRecordExtractor
        class_name: source_declarative_manifest.components.MarketoBulkExportStatusExtractor
        resource_name: "activities"
      creation_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/activities/export/create.json"
        http_method: POST
        authenticator: "#/definitions/authenticator"
        request_body_json:
          format: "CSV"
          filter:
            createdAt:
              startAt: "{{ stream_slice['start_time'] }}"
              endAt: "{{ stream_slice['end_time'] }}"
            activityTypeIds:
              - "{{ parameters['activity_type_id'] }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 10
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes: [429, 500, 502, 503]
      polling_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/activities/export/{{ creation_response['result'][0]['exportId'] }}/status.json"
        http_method: GET
        authenticator: "#/definitions/authenticator"
      download_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/activities/export/{{ creation_response['result'][0]['exportId'] }}/file.json"
        http_method: GET
        authenticator: "#/definitions/authenticator"
      download_decoder:
        type: CsvDecoder
        encoding: "utf-8"
        set_values_to_none:
          - "null"
          - ""
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "activityDate"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime: "{{ config['start_date'] }}"
      end_datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')) }}"
      cursor_granularity: "PT1S"
      step: "P{{ config.get('window_in_days', 30) }}D"
    transformations:
      - type: CustomTransformation
        class_name: source_declarative_manifest.components.MarketoCsvTransformation
    schema_loader:
      type: CustomSchemaLoader
      class_name: source_declarative_manifest.components.MarketoActivitySchemaLoader

streams:
  - "#/definitions/activity_types_stream"
  - "#/definitions/segmentations_stream"
  - "#/definitions/campaigns_stream"
  - "#/definitions/lists_stream"
  - "#/definitions/programs_stream"
  - "#/definitions/leads_stream"

dynamic_streams:
  - type: DynamicDeclarativeStream
    stream_template:
      $ref: "#/definitions/activities_stream_template"
    components_resolver:
      type: HttpComponentsResolver
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/requester"
          path: "rest/v1/activities/types.json"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["result"]
      components_mapping:
        - type: ComponentMappingDefinition
          field_path: ["name"]
          value: "activities_{{ components_values['name'] | lower | replace(' ', '_') }}"
        - type: ComponentMappingDefinition
          field_path: ["$parameters", "activity_type_id"]
          value: "{{ components_values['id'] }}"
        - type: ComponentMappingDefinition
          field_path: ["$parameters", "stream_name"]
          value: "activities_{{ components_values['name'] | lower | replace(' ', '_') }}"

check:
  type: CheckStream
  stream_names:
    - programs

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/marketo
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Source Marketo Spec
    type: object
    required:
      - domain_url
      - client_id
      - client_secret
      - start_date
    additionalProperties: true
    properties:
      domain_url:
        title: Domain URL
        type: string
        order: 3
        description: >-
          Your Marketo Base URL. See <a
          href="https://docs.airbyte.com/integrations/sources/marketo"> the docs
          </a> for info on how to obtain this.
        examples:
          - https://000-AAA-000.mktorest.com
        airbyte_secret: true
      client_id:
        title: Client ID
        type: string
        description: >-
          The Client ID of your Marketo developer application. See <a
          href="https://docs.airbyte.com/integrations/sources/marketo"> the docs
          </a> for info on how to obtain this.
        order: 0
        airbyte_secret: true
      client_secret:
        title: Client Secret
        type: string
        description: >-
          The Client Secret of your Marketo developer application. See <a
          href="https://docs.airbyte.com/integrations/sources/marketo"> the docs
          </a> for info on how to obtain this.
        order: 1
        airbyte_secret: true
      start_date:
        title: Start Date
        type: string
        order: 2
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        examples:
          - "2020-09-25T00:00:00Z"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        format: date-time

schemas:
  empty:
    type: object
    additionalProperties: true
    properties: {}

  activity_types:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      primaryAttribute:
        type:
          - "null"
          - object
        properties:
          name:
            type:
              - "null"
              - string
          dataType:
            type:
              - "null"
              - string
      attributes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            name:
              type:
                - "null"
                - string
            dataType:
              type:
                - "null"
                - string

  campaigns:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      createdAt:
        type:
          - "null"
          - string
        format: date-time
      updatedAt:
        type:
          - "null"
          - string
        format: date-time
      active:
        type:
          - "null"
          - boolean
      description:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      programId:
        type:
          - "null"
          - integer
      programName:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      workspaceName:
        type:
          - "null"
          - string

  lists:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - object
      - "null"
    additionalProperties: true
    properties:
      id:
        type:
          - integer
          - "null"
      name:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
      description:
        type:
          - string
          - "null"
      programName:
        type:
          - string
          - "null"
      workspaceName:
        type:
          - string
          - "null"
      workspaceId:
        type:
          - integer
          - "null"

  programs:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - object
      - "null"
    additionalProperties: true
    properties:
      id:
        type:
          - integer
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
      name:
        type:
          - string
          - "null"
      description:
        type:
          - "null"
          - string
      url:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      channel:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      workspace:
        type:
          - "null"
          - string
      headStart:
        type:
          - "null"
          - boolean
      isHeadStart:
        type:
          - "null"
          - boolean
      folder:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - "null"
              - string
          value:
            type:
              - "null"
              - integer
          folderName:
            type:
              - "null"
              - string

  segmentations:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - object
      - "null"
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
      id:
        type:
          - integer
          - "null"
      description:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      url:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      folder:
        type:
          - "null"
          - object
        properties:
          type:
            type:
              - "null"
              - string
          value:
            type:
              - "null"
              - integer
          folderName:
            type:
              - "null"
              - string
