version: 0.40.5
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - submitted_inspection_forms
streams:
  - type: DeclarativeStream
    name: submitted_inspection_forms
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          comments_count:
            type: number
          contact_id:
            type: number
          date:
            type: string
          duration:
            type: string
          failed_items:
            type: number
          id:
            type: number
          images_count:
            type: number
          inspection_form:
            properties:
              description:
                type:
                  - 'null'
                  - string
              id:
                type: number
              title:
                type: string
            type: object
          started_at:
            type: string
          starting_latitude:
            type:
              - 'null'
              - number
          starting_longitude:
            type:
              - 'null'
              - number
          submitted_at:
            type: string
          submitted_inspection_items:
            items:
              properties:
                comments:
                  items:
                    properties:
                      comment:
                        type: string
                      id:
                        type: number
                    type: object
                  type: array
                comments_count:
                  type: number
                id:
                  type: number
                images:
                  items:
                    properties:
                      created_at:
                        type: string
                      file_mime_type:
                        type:
                          - 'null'
                          - string
                      file_name:
                        type:
                          - 'null'
                          - string
                      file_size:
                        type:
                          - 'null'
                          - number
                      file_url:
                        type: string
                      full_url:
                        type: string
                      id:
                        type: number
                      imageable_id:
                        type: number
                      imageable_type:
                        type: string
                      updated_at:
                        type: string
                    type: object
                  type: array
                images_count:
                  type: number
                inspection_item:
                  properties:
                    dropdown_options:
                      items:
                        properties:
                          fail_if_chosen:
                            type: boolean
                          label:
                            type: string
                          position:
                            type: number
                        type: object
                      type: array
                    fail_label:
                      type:
                        - 'null'
                        - string
                    label:
                      type: string
                    na_label:
                      type: string
                    numeric_range_max:
                      type:
                        - 'null'
                        - number
                    numeric_range_min:
                      type:
                        - 'null'
                        - number
                    pass_label:
                      type:
                        - 'null'
                        - string
                    type:
                      type: string
                  type: object
                latitude:
                  type:
                    - 'null'
                    - number
                longitude:
                  type:
                    - 'null'
                    - number
                meter_entry_value:
                  type: string
                result:
                  properties:
                    file_url:
                      type: string
                    full_file_url:
                      type: string
                    full_signature_file_url:
                      type: string
                    label:
                      type:
                        - 'null'
                        - string
                    signature_file_mime_type:
                      type:
                        - 'null'
                        - string
                    signature_file_size:
                      type:
                        - 'null'
                        - number
                    signature_file_url:
                      type:
                        - 'null'
                        - string
                    text:
                      type:
                        - 'null'
                        - string
                    value:
                      type:
                        - 'null'
                        - number
                        - string
                  type: object
                secondary_meter_entry_value:
                  type: string
                submitted_inspection_form_id:
                  type: number
              type: object
            type: array
          submitted_latitude:
            type:
              - 'null'
              - number
          submitted_longitude:
            type:
              - 'null'
              - number
          user:
            type: string
          vehicle_id:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://data-testing.preview.fleet.io/api/
        path: /v1/submitted_inspection_forms
        http_method: GET
        request_parameters:
          q[s]: submitted_at+desc
        request_headers:
          Account-Token: '{{ config[''account_token''] }}'
          Authorization: Token {{ config['api_token'] }}
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
  - type: DeclarativeStream
    name: issues
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          asset:
            properties:
              id:
                type: number
            type: object
          asset_type:
            type: string
          closed_at:
            type:
              - 'null'
              - string
          closed_by:
            properties:
              id:
                type: number
            type:
              - object
              - 'null'
          closed_note:
            type: string
          comments_count:
            type: number
          created_at:
            type: string
          creation_type:
            type: string
          description:
            type: string
          documents_count:
            type: number
          due_date:
            type:
              - 'null'
              - string
          due_meter_value:
            type:
              - 'null'
              - number
          due_secondary_meter_value:
            type:
              - 'null'
              - number
          fault:
            properties:
              id:
                type: number
            type:
              - object
              - 'null'
          id:
            type: number
          images_count:
            type: number
          is_overdue:
            type: boolean
          is_watched:
            type: boolean
          number:
            type: number
          reported_at:
            type: string
          reported_by:
            properties:
              id:
                type: number
            type:
              - object
              - 'null'
          resolvable:
            properties:
              id:
                type: number
            type:
              - object
              - 'null'
          resolvable_type:
            type:
              - 'null'
              - string
          resolved_at:
            type:
              - 'null'
              - string
          resolved_note:
            type: string
          state:
            type: string
          submitted_inspection_form:
            properties:
              id:
                type: number
            type:
              - object
              - 'null'
          summary:
            type: string
          updated_at:
            type: string
          watchers_count:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://data-testing.preview.fleet.io/api/
        path: /v2/issues
        http_method: GET
        request_parameters:
          q[s]: submitted_at+desc
        request_headers:
          Account-Token: '{{ config[''account_token''] }}'
          Authorization: Token {{ config['api_token'] }}
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
  - type: DeclarativeStream
    name: service_entries
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          attachment_permissions:
            type: object
          auto_integrate_repair_order_status_color:
            type: string
          comments:
            items:
              properties:
                comment:
                  type: string
                commentable_id:
                  type: number
                commentable_type:
                  type: string
                created_at:
                  type: string
                id:
                  type: number
                title:
                  type:
                    - 'null'
                    - string
                updated_at:
                  type: string
                user_full_name:
                  type: string
                user_id:
                  type:
                    - 'null'
                    - number
                user_image_url:
                  type:
                    - 'null'
                    - string
                with_mentions:
                  type: boolean
              type: object
            type: array
          comments_count:
            type: number
          completed_at:
            type: string
          created_at:
            type: string
          custom_fields:
            properties:
              datum:
                type: string
              id_number:
                type: string
              position:
                type: string
              service_type:
                type: string
              test_restricted_custom_fields:
                type: string
              this:
                type: string
              true_or_false:
                type: string
            type: object
          date:
            type: string
          discount:
            type:
              - 'null'
              - number
          discount_percentage:
            type:
              - 'null'
              - number
          discount_type:
            type: string
          documents:
            items:
              properties:
                created_at:
                  type: string
                documentable_id:
                  type: number
                documentable_type:
                  type: string
                file_mime_type:
                  type: string
                file_name:
                  type: string
                file_size:
                  type: number
                file_url:
                  type: string
                full_file_url:
                  type: string
                id:
                  type: number
                updated_at:
                  type: string
              type: object
            type: array
          documents_count:
            type: number
          general_notes:
            type:
              - 'null'
              - string
          id:
            type: number
          images:
            items:
              properties:
                created_at:
                  type: string
                file_mime_type:
                  type: string
                file_name:
                  type: string
                file_size:
                  type:
                    - 'null'
                    - number
                file_url:
                  type: string
                full_url:
                  type: string
                id:
                  type: number
                imageable_id:
                  type: number
                imageable_type:
                  type: string
                updated_at:
                  type: string
              type: object
            type: array
          images_count:
            type: number
          is_sample:
            type: boolean
          issues:
            items:
              properties:
                assigned_contacts:
                  items:
                    properties:
                      account_membership_id:
                        type: number
                      attachment_permissions:
                        type: object
                      birth_date:
                        type:
                          - 'null'
                          - string
                      city:
                        type:
                          - 'null'
                          - string
                      comments_count:
                        type: number
                      country:
                        type:
                          - 'null'
                          - string
                      created_at:
                        type: string
                      custom_fields:
                        properties:
                          birthday:
                            type: string
                          certification:
                            type: string
                          checkbox:
                            type: string
                          dropdown:
                            type: string
                          out_of_network_mechanic:
                            type: string
                          pronouns:
                            type: string
                          t-shirt_size:
                            type: string
                          test_restricted_custom_fields:
                            type: string
                        type: object
                      default_image_url:
                        type:
                          - 'null'
                          - string
                      documents_count:
                        type: number
                      email:
                        type:
                          - 'null'
                          - string
                      employee:
                        type:
                          - boolean
                          - 'null'
                      employee_number:
                        type:
                          - 'null'
                          - string
                      first_name:
                        type: string
                      group_hierarchy:
                        type: string
                      group_id:
                        type: number
                      group_name:
                        type: string
                      home_phone_number:
                        type:
                          - 'null'
                          - string
                      hourly_labor_rate:
                        type:
                          - 'null'
                          - number
                      id:
                        type: number
                      images_count:
                        type: number
                      job_title:
                        type:
                          - 'null'
                          - string
                      last_name:
                        type: string
                      leave_date:
                        type:
                          - 'null'
                          - string
                      license_class:
                        type:
                          - 'null'
                          - string
                      license_number:
                        type:
                          - 'null'
                          - string
                      license_state:
                        type:
                          - 'null'
                          - string
                      middle_name:
                        type:
                          - 'null'
                          - string
                      mobile_phone_number:
                        type:
                          - 'null'
                          - string
                      name:
                        type: string
                      other_phone_number:
                        type:
                          - 'null'
                          - string
                      postal_code:
                        type:
                          - 'null'
                          - string
                      region:
                        type:
                          - 'null'
                          - string
                      start_date:
                        type:
                          - 'null'
                          - string
                      street_address:
                        type:
                          - 'null'
                          - string
                      street_address_line_2:
                        type:
                          - 'null'
                          - string
                      technician:
                        type:
                          - boolean
                          - 'null'
                      updated_at:
                        type: string
                      user:
                        properties:
                          contacts_record_set:
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            type: object
                          email:
                            type:
                              - 'null'
                              - string
                          equipments_record_set:
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            type: object
                          id:
                            type: number
                          inspection_forms_record_set:
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            type: object
                          parts_record_set:
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            type: object
                          role:
                            properties:
                              id:
                                type: number
                              name:
                                type:
                                  - 'null'
                                  - string
                            type: object
                          time_zone:
                            type: string
                          user_type:
                            type: string
                          username:
                            type: string
                          vehicles_record_set:
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            type: object
                        type: object
                      vehicle_operator:
                        type: boolean
                      work_phone_number:
                        type:
                          - 'null'
                          - string
                    type: object
                  type: array
                attachment_permissions:
                  type: object
                comments:
                  items:
                    properties:
                      comment:
                        type: string
                      commentable_id:
                        type: number
                      commentable_type:
                        type: string
                      created_at:
                        type: string
                      id:
                        type: number
                      title:
                        type:
                          - 'null'
                          - string
                      updated_at:
                        type: string
                      user_full_name:
                        type: string
                      user_id:
                        type: number
                      user_image_url:
                        type:
                          - 'null'
                          - string
                      with_mentions:
                        type: boolean
                    type: object
                  type: array
                comments_count:
                  type: number
                created_at:
                  type: string
                created_by_workflow:
                  type: boolean
                custom_fields:
                  properties:
                    already_discussed_with_manager:
                      type: string
                    custom_date:
                      type: string
                    priority:
                      type: string
                    restricted_field:
                      type: string
                  type: object
                description:
                  type:
                    - 'null'
                    - string
                documents:
                  items:
                    properties:
                      created_at:
                        type: string
                      description:
                        type:
                          - 'null'
                          - string
                      documentable_id:
                        type: number
                      documentable_type:
                        type: string
                      file_mime_type:
                        type: string
                      file_name:
                        type: string
                      file_size:
                        type: number
                      file_url:
                        type: string
                      full_file_url:
                        type: string
                      id:
                        type: number
                      name:
                        type:
                          - 'null'
                          - string
                      updated_at:
                        type: string
                    type: object
                  type: array
                documents_count:
                  type: number
                due_date:
                  type:
                    - 'null'
                    - string
                due_meter_value:
                  type:
                    - 'null'
                    - string
                due_secondary_meter_value:
                  type:
                    - 'null'
                    - number
                id:
                  type: number
                images:
                  items:
                    properties:
                      created_at:
                        type: string
                      file_mime_type:
                        type:
                          - 'null'
                          - string
                      file_name:
                        type:
                          - 'null'
                          - string
                      file_size:
                        type:
                          - 'null'
                          - number
                      file_url:
                        type: string
                      full_url:
                        type: string
                      id:
                        type: number
                      imageable_id:
                        type: number
                      imageable_type:
                        type: string
                      updated_at:
                        type: string
                    type: object
                  type: array
                images_count:
                  type: number
                is_sample:
                  type: boolean
                is_watched:
                  type: boolean
                issue_resolution:
                  properties:
                    confirmed_at:
                      type:
                        - 'null'
                        - string
                    id:
                      type: number
                    issue_id:
                      type: number
                    rejected_at:
                      type:
                        - 'null'
                        - string
                    submitted_inspection_form_id:
                      type:
                        - 'null'
                        - number
                    user:
                      properties:
                        image:
                          type:
                            - 'null'
                            - string
                        name:
                          type: string
                      type: object
                  type: object
                labels:
                  items:
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    type: object
                  type: array
                linked_work_orders:
                  items:
                    properties:
                      id:
                        type: number
                      issued_at:
                        type: string
                      number:
                        type: number
                    type: object
                  type:
                    - array
                    - 'null'
                meter_entry:
                  properties:
                    created_at:
                      type: string
                    date:
                      type: string
                    id:
                      type: number
                    meterable_id:
                      type: number
                    meterable_type:
                      type: string
                    updated_at:
                      type: string
                    value:
                      type: string
                    vehicle_id:
                      type: number
                    void:
                      type: boolean
                  type: object
                name:
                  type: string
                number:
                  type: string
                overdue:
                  type: boolean
                reported_at:
                  type: string
                reported_by:
                  properties:
                    account_membership_id:
                      type:
                        - 'null'
                        - number
                    attachment_permissions:
                      type: object
                    birth_date:
                      type:
                        - 'null'
                        - string
                    city:
                      type:
                        - 'null'
                        - string
                    comments_count:
                      type: number
                    country:
                      type:
                        - 'null'
                        - string
                    created_at:
                      type: string
                    custom_fields:
                      properties:
                        birthday:
                          type: string
                        certification:
                          type: string
                        checkbox:
                          type: string
                        dropdown:
                          type: string
                        out_of_network_mechanic:
                          type: string
                        pronouns:
                          type: string
                        t-shirt_size:
                          type: string
                        test_restricted_custom_fields:
                          type: string
                      type: object
                    default_image_url:
                      type:
                        - 'null'
                        - string
                    documents_count:
                      type: number
                    email:
                      type:
                        - 'null'
                        - string
                    employee:
                      type:
                        - boolean
                        - 'null'
                    employee_number:
                      type:
                        - 'null'
                        - string
                    first_name:
                      type: string
                    group_hierarchy:
                      type: string
                    group_id:
                      type:
                        - 'null'
                        - number
                    group_name:
                      type:
                        - 'null'
                        - string
                    home_phone_number:
                      type:
                        - 'null'
                        - string
                    hourly_labor_rate:
                      type:
                        - 'null'
                        - number
                    id:
                      type: number
                    images_count:
                      type: number
                    job_title:
                      type:
                        - 'null'
                        - string
                    last_name:
                      type:
                        - 'null'
                        - string
                    leave_date:
                      type:
                        - 'null'
                        - string
                    license_class:
                      type:
                        - 'null'
                        - string
                    license_number:
                      type:
                        - 'null'
                        - string
                    license_state:
                      type:
                        - 'null'
                        - string
                    mobile_phone_number:
                      type:
                        - 'null'
                        - string
                    name:
                      type: string
                    other_phone_number:
                      type:
                        - 'null'
                        - string
                    postal_code:
                      type:
                        - 'null'
                        - string
                    region:
                      type:
                        - 'null'
                        - string
                    start_date:
                      type:
                        - 'null'
                        - string
                    street_address:
                      type:
                        - 'null'
                        - string
                    street_address_line_2:
                      type:
                        - 'null'
                        - string
                    technician:
                      type:
                        - boolean
                        - 'null'
                    updated_at:
                      type: string
                    user:
                      properties:
                        contacts_record_set:
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          type: object
                        email:
                          type:
                            - 'null'
                            - string
                        equipments_record_set:
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          type: object
                        id:
                          type: number
                        inspection_forms_record_set:
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          type: object
                        parts_record_set:
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          type: object
                        role:
                          properties:
                            id:
                              type: number
                            name:
                              type:
                                - 'null'
                                - string
                          type: object
                        time_zone:
                          type: string
                        user_type:
                          type: string
                        username:
                          type:
                            - 'null'
                            - string
                        vehicles_record_set:
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          type: object
                      type:
                        - object
                        - 'null'
                    vehicle_operator:
                      type:
                        - boolean
                        - 'null'
                    work_phone_number:
                      type:
                        - 'null'
                        - string
                  type: object
                reported_by_id:
                  type:
                    - 'null'
                    - number
                reported_by_name:
                  type:
                    - 'null'
                    - string
                resolvable_id:
                  type: number
                resolvable_type:
                  type: string
                resolved_at:
                  type: string
                secondary_meter_entry:
                  properties:
                    auto_voided_at:
                      type:
                        - 'null'
                        - string
                    created_at:
                      type: string
                    date:
                      type: string
                    id:
                      type: number
                    meter_type:
                      type: string
                    meterable_id:
                      type: number
                    meterable_type:
                      type: string
                    updated_at:
                      type: string
                    value:
                      type: string
                    vehicle_id:
                      type: number
                    void:
                      type: boolean
                  type: object
                source:
                  properties:
                    failed_inspection_item_label:
                      type:
                        - 'null'
                        - string
                    inspection_form:
                      properties:
                        color:
                          type:
                            - 'null'
                            - string
                        id:
                          type:
                            - 'null'
                            - number
                        title:
                          type:
                            - 'null'
                            - string
                      type: object
                    inspection_submissions_count:
                      type: number
                    last_inspection_submission_at:
                      type:
                        - 'null'
                        - string
                  type: object
                state:
                  type: string
                submitted_inspection_form_id:
                  type:
                    - 'null'
                    - number
                summary:
                  type: string
                updated_at:
                  type: string
                valid_required_custom_fields:
                  type: boolean
                vehicle_id:
                  type: number
                vehicle_image_url:
                  type: string
                vehicle_image_url_large:
                  type: string
                vehicle_image_url_medium:
                  type: string
                vehicle_image_url_small:
                  type: string
                vehicle_name:
                  type: string
                watchers_count:
                  type: number
              type: object
            type: array
          labels:
            items:
              properties:
                id:
                  type: number
                name:
                  type: string
              type: object
            type: array
          labor_subtotal:
            type:
              - 'null'
              - number
          meter_entry:
            properties:
              auto_voided_at:
                type:
                  - 'null'
                  - string
              created_at:
                type: string
              date:
                type: string
              id:
                type: number
              meterable_id:
                type: number
              meterable_type:
                type: string
              updated_at:
                type: string
              value:
                type: string
              vehicle_id:
                type: number
              void:
                type: boolean
            type: object
          parts_subtotal:
            type:
              - 'null'
              - number
          reference:
            type:
              - 'null'
              - string
          secondary_meter_entry:
            properties:
              auto_voided_at:
                type:
                  - 'null'
                  - string
              created_at:
                type: string
              date:
                type: string
              id:
                type: number
              meter_type:
                type: string
              meterable_id:
                type: number
              meterable_type:
                type: string
              updated_at:
                type: string
              value:
                type: string
              vehicle_id:
                type: number
              void:
                type: boolean
            type: object
          service_entry_line_items:
            items:
              properties:
                created_at:
                  type: string
                description:
                  type:
                    - 'null'
                    - string
                id:
                  type: number
                issues:
                  items:
                    properties:
                      assigned_contacts:
                        items:
                          properties:
                            account_membership_id:
                              type: number
                            attachment_permissions:
                              type: object
                            comments_count:
                              type: number
                            created_at:
                              type: string
                            custom_fields:
                              properties:
                                birthday:
                                  type: string
                                certification:
                                  type: string
                                checkbox:
                                  type: string
                                dropdown:
                                  type: string
                                out_of_network_mechanic:
                                  type: string
                                pronouns:
                                  type: string
                                t-shirt_size:
                                  type: string
                                test_restricted_custom_fields:
                                  type: string
                              type: object
                            default_image_url:
                              type:
                                - 'null'
                                - string
                            documents_count:
                              type: number
                            email:
                              type:
                                - 'null'
                                - string
                            employee:
                              type: boolean
                            first_name:
                              type: string
                            group_hierarchy:
                              type: string
                            group_id:
                              type: number
                            group_name:
                              type: string
                            id:
                              type: number
                            images_count:
                              type: number
                            last_name:
                              type: string
                            name:
                              type: string
                            technician:
                              type: boolean
                            updated_at:
                              type: string
                            user:
                              properties:
                                contacts_record_set:
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  type: object
                                email:
                                  type:
                                    - 'null'
                                    - string
                                equipments_record_set:
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  type: object
                                id:
                                  type: number
                                inspection_forms_record_set:
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  type: object
                                parts_record_set:
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  type: object
                                role:
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  type: object
                                time_zone:
                                  type: string
                                user_type:
                                  type: string
                                username:
                                  type: string
                                vehicles_record_set:
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  type: object
                              type: object
                            vehicle_operator:
                              type: boolean
                          type: object
                        type: array
                      attachment_permissions:
                        type: object
                      comments:
                        items:
                          properties:
                            comment:
                              type: string
                            commentable_id:
                              type: number
                            commentable_type:
                              type: string
                            created_at:
                              type: string
                            id:
                              type: number
                            title:
                              type: string
                            updated_at:
                              type: string
                            user_full_name:
                              type: string
                            user_id:
                              type: number
                            user_image_url:
                              type: string
                            with_mentions:
                              type: boolean
                          type: object
                        type: array
                      comments_count:
                        type: number
                      created_at:
                        type: string
                      created_by_workflow:
                        type: boolean
                      custom_fields:
                        properties:
                          already_discussed_with_manager:
                            type: string
                          custom_date:
                            type: string
                          priority:
                            type: string
                          restricted_field:
                            type: string
                        type: object
                      description:
                        type:
                          - 'null'
                          - string
                      documents:
                        items:
                          properties:
                            created_at:
                              type: string
                            documentable_id:
                              type: number
                            documentable_type:
                              type: string
                            file_mime_type:
                              type: string
                            file_name:
                              type: string
                            file_size:
                              type: number
                            file_url:
                              type: string
                            full_file_url:
                              type: string
                            id:
                              type: number
                            name:
                              type: string
                            updated_at:
                              type: string
                          type: object
                        type: array
                      documents_count:
                        type: number
                      due_date:
                        type:
                          - 'null'
                          - string
                      due_meter_value:
                        type:
                          - 'null'
                          - string
                      id:
                        type: number
                      images:
                        items:
                          properties:
                            created_at:
                              type: string
                            file_mime_type:
                              type: string
                            file_name:
                              type: string
                            file_size:
                              type: number
                            file_url:
                              type: string
                            full_url:
                              type: string
                            id:
                              type: number
                            imageable_id:
                              type: number
                            imageable_type:
                              type: string
                            updated_at:
                              type: string
                          type: object
                        type: array
                      images_count:
                        type: number
                      is_sample:
                        type: boolean
                      is_watched:
                        type: boolean
                      issue_resolution:
                        properties:
                          confirmed_at:
                            type:
                              - 'null'
                              - string
                          id:
                            type: number
                          issue_id:
                            type: number
                          rejected_at:
                            type:
                              - 'null'
                              - string
                          submitted_inspection_form_id:
                            type: number
                          user:
                            properties:
                              image:
                                type: string
                              name:
                                type: string
                            type: object
                        type: object
                      labels:
                        items:
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          type: object
                        type: array
                      linked_work_orders:
                        items:
                          properties:
                            id:
                              type: number
                            issued_at:
                              type: string
                            number:
                              type: number
                          type: object
                        type:
                          - array
                          - 'null'
                      meter_entry:
                        properties:
                          created_at:
                            type: string
                          date:
                            type: string
                          id:
                            type: number
                          meterable_id:
                            type: number
                          meterable_type:
                            type: string
                          updated_at:
                            type: string
                          value:
                            type: string
                          vehicle_id:
                            type: number
                          void:
                            type: boolean
                        type: object
                      name:
                        type: string
                      number:
                        type: string
                      overdue:
                        type: boolean
                      reported_at:
                        type: string
                      reported_by:
                        properties:
                          account_membership_id:
                            type: number
                          attachment_permissions:
                            type: object
                          birth_date:
                            type:
                              - 'null'
                              - string
                          city:
                            type:
                              - 'null'
                              - string
                          comments_count:
                            type: number
                          created_at:
                            type: string
                          custom_fields:
                            properties:
                              birthday:
                                type: string
                              certification:
                                type: string
                              checkbox:
                                type: string
                              dropdown:
                                type: string
                              out_of_network_mechanic:
                                type: string
                              pronouns:
                                type: string
                              t-shirt_size:
                                type: string
                              test_restricted_custom_fields:
                                type: string
                            type: object
                          default_image_url:
                            type:
                              - 'null'
                              - string
                          documents_count:
                            type: number
                          email:
                            type:
                              - 'null'
                              - string
                          employee:
                            type: boolean
                          employee_number:
                            type:
                              - 'null'
                              - string
                          first_name:
                            type: string
                          group_hierarchy:
                            type: string
                          group_id:
                            type: number
                          group_name:
                            type: string
                          home_phone_number:
                            type:
                              - 'null'
                              - string
                          hourly_labor_rate:
                            type:
                              - 'null'
                              - number
                          id:
                            type: number
                          images_count:
                            type: number
                          job_title:
                            type:
                              - 'null'
                              - string
                          last_name:
                            type: string
                          leave_date:
                            type:
                              - 'null'
                              - string
                          license_class:
                            type:
                              - 'null'
                              - string
                          license_number:
                            type:
                              - 'null'
                              - string
                          license_state:
                            type:
                              - 'null'
                              - string
                          mobile_phone_number:
                            type:
                              - 'null'
                              - string
                          name:
                            type: string
                          postal_code:
                            type:
                              - 'null'
                              - string
                          region:
                            type:
                              - 'null'
                              - string
                          start_date:
                            type:
                              - 'null'
                              - string
                          street_address:
                            type:
                              - 'null'
                              - string
                          street_address_line_2:
                            type:
                              - 'null'
                              - string
                          technician:
                            type: boolean
                          updated_at:
                            type: string
                          user:
                            properties:
                              contacts_record_set:
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                type: object
                              email:
                                type:
                                  - 'null'
                                  - string
                              equipments_record_set:
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                type: object
                              id:
                                type: number
                              inspection_forms_record_set:
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                type: object
                              parts_record_set:
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                type: object
                              role:
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type:
                                      - 'null'
                                      - string
                                type: object
                              time_zone:
                                type: string
                              user_type:
                                type: string
                              username:
                                type: string
                              vehicles_record_set:
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                type: object
                            type: object
                          vehicle_operator:
                            type: boolean
                          work_phone_number:
                            type:
                              - 'null'
                              - string
                        type: object
                      reported_by_id:
                        type:
                          - 'null'
                          - number
                      reported_by_name:
                        type:
                          - 'null'
                          - string
                      resolvable_id:
                        type: number
                      resolvable_type:
                        type: string
                      resolved_at:
                        type: string
                      source:
                        properties:
                          failed_inspection_item_label:
                            type:
                              - 'null'
                              - string
                          inspection_form:
                            properties:
                              color:
                                type:
                                  - 'null'
                                  - string
                              id:
                                type:
                                  - 'null'
                                  - number
                              title:
                                type:
                                  - 'null'
                                  - string
                            type: object
                          inspection_submissions_count:
                            type: number
                          last_inspection_submission_at:
                            type:
                              - 'null'
                              - string
                        type: object
                      state:
                        type: string
                      submitted_inspection_form_id:
                        type:
                          - 'null'
                          - number
                      summary:
                        type: string
                      updated_at:
                        type: string
                      valid_required_custom_fields:
                        type: boolean
                      vehicle_id:
                        type: number
                      vehicle_image_url:
                        type:
                          - 'null'
                          - string
                      vehicle_image_url_large:
                        type:
                          - 'null'
                          - string
                      vehicle_image_url_medium:
                        type:
                          - 'null'
                          - string
                      vehicle_image_url_small:
                        type:
                          - 'null'
                          - string
                      vehicle_name:
                        type: string
                      watchers_count:
                        type: number
                    type: object
                  type: array
                labor_cost:
                  type:
                    - 'null'
                    - number
                parts_cost:
                  type:
                    - 'null'
                    - number
                service_entry_line_item_id:
                  type:
                    - 'null'
                    - number
                service_reminder_id:
                  type:
                    - 'null'
                    - number
                service_task:
                  properties:
                    created_at:
                      type: string
                    default_vmrs_assembly:
                      properties:
                        assembly_code:
                          type: string
                        assembly_name:
                          type: string
                        component_code:
                          type: string
                        enabled:
                          type: boolean
                        id:
                          type: number
                        system_code:
                          type: string
                        system_group_code:
                          type: string
                        system_group_name:
                          type:
                            - 'null'
                            - string
                        system_name:
                          type: string
                      type:
                        - object
                        - 'null'
                    default_vmrs_component:
                      properties:
                        assembly_code:
                          type: string
                        assembly_name:
                          type: string
                        component_code:
                          type: string
                        component_name:
                          type: string
                        enabled:
                          type: boolean
                        id:
                          type: number
                        system_code:
                          type: string
                        system_group_code:
                          type: string
                        system_group_name:
                          type:
                            - 'null'
                            - string
                        system_name:
                          type: string
                      type:
                        - object
                        - 'null'
                    default_vmrs_system:
                      properties:
                        assembly_code:
                          type: string
                        assembly_name:
                          type:
                            - 'null'
                            - string
                        component_code:
                          type: string
                        enabled:
                          type: boolean
                        id:
                          type: number
                        system_code:
                          type: string
                        system_group_code:
                          type: string
                        system_group_name:
                          type:
                            - 'null'
                            - string
                        system_name:
                          type: string
                      type:
                        - object
                        - 'null'
                    default_vmrs_system_group:
                      properties:
                        assembly_code:
                          type: string
                        component_code:
                          type: string
                        enabled:
                          type: boolean
                        id:
                          type: number
                        system_code:
                          type: string
                        system_group_code:
                          type: string
                        system_group_name:
                          type: string
                      type:
                        - object
                        - 'null'
                    description:
                      type:
                        - 'null'
                        - string
                    id:
                      type: number
                    name:
                      type: string
                    subtasks:
                      items:
                        properties:
                          created_at:
                            type: string
                          default_vmrs_assembly:
                            properties:
                              assembly_code:
                                type: string
                              assembly_name:
                                type: string
                              component_code:
                                type: string
                              enabled:
                                type: boolean
                              id:
                                type: number
                              system_code:
                                type: string
                              system_group_code:
                                type: string
                              system_group_name:
                                type:
                                  - 'null'
                                  - string
                              system_name:
                                type: string
                            type:
                              - object
                              - 'null'
                          default_vmrs_component:
                            properties:
                              assembly_code:
                                type: string
                              assembly_name:
                                type: string
                              component_code:
                                type: string
                              component_name:
                                type: string
                              enabled:
                                type: boolean
                              id:
                                type: number
                              system_code:
                                type: string
                              system_group_code:
                                type: string
                              system_group_name:
                                type: string
                              system_name:
                                type: string
                            type:
                              - object
                              - 'null'
                          default_vmrs_system:
                            properties:
                              assembly_code:
                                type: string
                              component_code:
                                type: string
                              enabled:
                                type: boolean
                              id:
                                type: number
                              system_code:
                                type: string
                              system_group_code:
                                type: string
                              system_group_name:
                                type:
                                  - 'null'
                                  - string
                              system_name:
                                type: string
                            type:
                              - object
                              - 'null'
                          default_vmrs_system_group:
                            properties:
                              assembly_code:
                                type: string
                              component_code:
                                type: string
                              enabled:
                                type: boolean
                              id:
                                type: number
                              system_code:
                                type: string
                              system_group_code:
                                type: string
                              system_group_name:
                                type: string
                            type:
                              - object
                              - 'null'
                          description:
                            type:
                              - 'null'
                              - string
                          id:
                            type: number
                          name:
                            type: string
                          subtasks:
                            type: array
                          updated_at:
                            type: string
                        type: object
                      type: array
                    updated_at:
                      type: string
                  type: object
                subtotal:
                  type: number
                type:
                  type: string
                updated_at:
                  type: string
                vmrs_assembly:
                  properties:
                    assembly_code:
                      type: string
                    assembly_name:
                      type: string
                    component_code:
                      type: string
                    enabled:
                      type: boolean
                    id:
                      type: number
                    system_code:
                      type: string
                    system_group_code:
                      type: string
                    system_group_name:
                      type:
                        - 'null'
                        - string
                    system_name:
                      type: string
                  type:
                    - object
                    - 'null'
                vmrs_component:
                  properties:
                    assembly_code:
                      type: string
                    assembly_name:
                      type: string
                    component_code:
                      type: string
                    component_name:
                      type: string
                    enabled:
                      type: boolean
                    id:
                      type: number
                    system_code:
                      type: string
                    system_group_code:
                      type: string
                    system_group_name:
                      type:
                        - 'null'
                        - string
                    system_name:
                      type: string
                  type:
                    - object
                    - 'null'
                vmrs_system:
                  properties:
                    assembly_code:
                      type: string
                    assembly_name:
                      type:
                        - 'null'
                        - string
                    component_code:
                      type: string
                    enabled:
                      type: boolean
                    id:
                      type: number
                    system_code:
                      type: string
                    system_group_code:
                      type: string
                    system_group_name:
                      type:
                        - 'null'
                        - string
                    system_name:
                      type: string
                  type:
                    - object
                    - 'null'
                vmrs_system_group:
                  properties:
                    assembly_code:
                      type: string
                    component_code:
                      type: string
                    enabled:
                      type: boolean
                    id:
                      type: number
                    system_code:
                      type: string
                    system_group_code:
                      type: string
                    system_group_name:
                      type: string
                  type:
                    - object
                    - 'null'
              type: object
            type: array
          service_tasks:
            items:
              properties:
                created_at:
                  type: string
                default_vmrs_assembly:
                  properties:
                    assembly_code:
                      type: string
                    assembly_name:
                      type: string
                    component_code:
                      type: string
                    enabled:
                      type: boolean
                    id:
                      type: number
                    system_code:
                      type: string
                    system_group_code:
                      type: string
                    system_group_name:
                      type:
                        - 'null'
                        - string
                    system_name:
                      type: string
                  type:
                    - object
                    - 'null'
                default_vmrs_component:
                  properties:
                    assembly_code:
                      type: string
                    assembly_name:
                      type: string
                    component_code:
                      type: string
                    component_name:
                      type: string
                    enabled:
                      type: boolean
                    id:
                      type: number
                    system_code:
                      type: string
                    system_group_code:
                      type: string
                    system_group_name:
                      type:
                        - 'null'
                        - string
                    system_name:
                      type: string
                  type:
                    - object
                    - 'null'
                default_vmrs_system:
                  properties:
                    assembly_code:
                      type: string
                    assembly_name:
                      type:
                        - 'null'
                        - string
                    component_code:
                      type: string
                    enabled:
                      type: boolean
                    id:
                      type: number
                    system_code:
                      type: string
                    system_group_code:
                      type: string
                    system_group_name:
                      type:
                        - 'null'
                        - string
                    system_name:
                      type: string
                  type:
                    - object
                    - 'null'
                default_vmrs_system_group:
                  properties:
                    assembly_code:
                      type: string
                    component_code:
                      type: string
                    enabled:
                      type: boolean
                    id:
                      type: number
                    system_code:
                      type: string
                    system_group_code:
                      type: string
                    system_group_name:
                      type: string
                  type:
                    - object
                    - 'null'
                description:
                  type:
                    - 'null'
                    - string
                id:
                  type: number
                name:
                  type: string
                subtasks:
                  items:
                    properties:
                      created_at:
                        type: string
                      default_vmrs_assembly:
                        properties:
                          assembly_code:
                            type: string
                          assembly_name:
                            type: string
                          component_code:
                            type: string
                          enabled:
                            type: boolean
                          id:
                            type: number
                          system_code:
                            type: string
                          system_group_code:
                            type: string
                          system_group_name:
                            type:
                              - 'null'
                              - string
                          system_name:
                            type: string
                        type:
                          - object
                          - 'null'
                      default_vmrs_component:
                        properties:
                          assembly_code:
                            type: string
                          assembly_name:
                            type: string
                          component_code:
                            type: string
                          component_name:
                            type: string
                          enabled:
                            type: boolean
                          id:
                            type: number
                          system_code:
                            type: string
                          system_group_code:
                            type: string
                          system_group_name:
                            type: string
                          system_name:
                            type: string
                        type:
                          - object
                          - 'null'
                      default_vmrs_system:
                        properties:
                          assembly_code:
                            type: string
                          component_code:
                            type: string
                          enabled:
                            type: boolean
                          id:
                            type: number
                          system_code:
                            type: string
                          system_group_code:
                            type: string
                          system_group_name:
                            type:
                              - 'null'
                              - string
                          system_name:
                            type: string
                        type:
                          - object
                          - 'null'
                      default_vmrs_system_group:
                        properties:
                          assembly_code:
                            type: string
                          component_code:
                            type: string
                          enabled:
                            type: boolean
                          id:
                            type: number
                          system_code:
                            type: string
                          system_group_code:
                            type: string
                          system_group_name:
                            type: string
                        type:
                          - object
                          - 'null'
                      description:
                        type:
                          - 'null'
                          - string
                      id:
                        type: number
                      name:
                        type: string
                      subtasks:
                        type: array
                      updated_at:
                        type: string
                    type: object
                  type: array
                updated_at:
                  type: string
              type: object
            type: array
          started_at:
            type:
              - 'null'
              - string
          status:
            type: string
          subtotal:
            type: number
          tax_1:
            type:
              - 'null'
              - number
          tax_1_percentage:
            type:
              - 'null'
              - number
          tax_1_type:
            type:
              - 'null'
              - string
          tax_2:
            type:
              - 'null'
              - number
          tax_2_percentage:
            type:
              - 'null'
              - number
          tax_2_type:
            type:
              - 'null'
              - string
          tax_free_labor:
            type: boolean
          total_amount:
            type: number
          updated_at:
            type: string
          vehicle_id:
            type: number
          vehicle_name:
            type: string
          vendor_id:
            type:
              - 'null'
              - number
          vendor_name:
            type:
              - 'null'
              - string
          vmrs_repair_priority_class:
            properties:
              code:
                type: string
              color:
                type: string
              id:
                type: number
              name:
                type: string
            type:
              - object
              - 'null'
          work_order_id:
            type:
              - 'null'
              - number
          work_order_number:
            type:
              - 'null'
              - number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://data-testing.preview.fleet.io/api/
        path: /v2/service_entries
        http_method: GET
        request_parameters:
          q[s]: submitted_at+desc
        request_headers:
          Account-Token: '{{ config[''account_token''] }}'
          Authorization: Token {{ config['api_token'] }}
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
  - type: DeclarativeStream
    name: vehicles
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          account_id:
            type: number
          ai_enabled:
            type: boolean
          assetable_type:
            type: string
          color:
            type:
              - 'null'
              - string
          comments_count:
            type: number
          created_at:
            type: string
          current_location_entry:
            properties:
              address:
                type:
                  - 'null'
                  - string
              address_components:
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  country_short:
                    type: string
                  postal_code:
                    type: string
                  region:
                    type: string
                  region_short:
                    type: string
                  street:
                    type: string
                  street_number:
                    type: string
                type: object
              created_at:
                type: string
              date:
                type: string
              geolocation:
                properties:
                  latitude:
                    type: number
                  longitude:
                    type: number
                type: object
              id:
                type: number
              is_current:
                type: boolean
              item_id:
                type: number
              item_type:
                type: string
              locatable_id:
                type:
                  - 'null'
                  - number
              locatable_type:
                type:
                  - 'null'
                  - string
              location:
                type: string
              updated_at:
                type: string
              vehicle_id:
                type: number
            type: object
          current_location_entry_id:
            type:
              - 'null'
              - number
          current_meter_date:
            type:
              - 'null'
              - string
          current_meter_value:
            type: number
          custom_fields:
            properties:
              checkbox_filter_test:
                type: string
              extra_rextra_read_all_about_it_this_is_a_super_long_field_name_my_guyyy:
                type: string
              in_service_date:
                type: string
              manufacturer_model:
                type: string
              rear_camera_enabled:
                type: string
              registration_expiration:
                type: string
              req:
                type: string
              restrict:
                type: string
              telematics_subscription:
                type: string
              test:
                type: string
              test_roles_on_restricted_custom_fields:
                type: string
              toll_pass_number:
                type: string
              vehicle:
                type: string
              vehicle_cleanliness:
                type: string
              warranty_expiration:
                type: string
              warranty_type:
                type: string
            type: object
          default_image_url:
            type:
              - 'null'
              - string
          default_image_url_large:
            type:
              - 'null'
              - string
          default_image_url_medium:
            type:
              - 'null'
              - string
          default_image_url_small:
            type:
              - 'null'
              - string
          documents_count:
            type: number
          driver:
            properties:
              default_image_url:
                type:
                  - 'null'
                  - string
              first_name:
                type: string
              full_name:
                type: string
              id:
                type: number
              last_name:
                type:
                  - 'null'
                  - string
            type: object
          estimated_replacement_mileage:
            type:
              - 'null'
              - number
          estimated_resale_price:
            properties:
              cents:
                type: number
              currency_iso:
                type: string
            type:
              - object
              - 'null'
          estimated_service_months:
            type:
              - 'null'
              - number
          external_ids:
            properties:
              clearpathgps:
                type:
                  - 'null'
                  - string
              external_fuel_id:
                type:
                  - 'null'
                  - string
              fuel_id:
                type:
                  - 'null'
                  - string
              task_code:
                type:
                  - 'null'
                  - string
              traxxis_id:
                type:
                  - 'null'
                  - string
            type: object
          fuel_entries_count:
            type: number
          fuel_type_id:
            type:
              - 'null'
              - number
          fuel_type_name:
            type:
              - 'null'
              - string
          fuel_volume_units:
            type: string
          group_ancestry:
            type:
              - 'null'
              - string
          group_id:
            type:
              - 'null'
              - number
          group_name:
            type:
              - 'null'
              - string
          id:
            type: number
          images_count:
            type: number
          in_service_date:
            type:
              - 'null'
              - string
          in_service_meter:
            type:
              - 'null'
              - number
          inspection_schedules_count:
            type: number
          is_sample:
            type: boolean
          issues_count:
            type: number
          license_plate:
            type:
              - 'null'
              - string
          loan_account_number:
            type:
              - 'null'
              - string
          loan_amount:
            type:
              - 'null'
              - number
          loan_ended_at:
            type:
              - 'null'
              - string
          loan_interest_rate:
            type:
              - 'null'
              - number
          loan_notes:
            type:
              - 'null'
              - string
          loan_payment:
            type:
              - 'null'
              - number
          loan_started_at:
            type:
              - 'null'
              - string
          loan_vendor_id:
            type:
              - 'null'
              - number
          loan_vendor_name:
            type:
              - 'null'
              - string
          make:
            type:
              - 'null'
              - string
          meter_name:
            type: string
          meter_unit:
            type: string
          model:
            type:
              - 'null'
              - string
          name:
            type: string
          out_of_service_date:
            type:
              - 'null'
              - string
          out_of_service_meter:
            type:
              - 'null'
              - number
          ownership:
            type: string
          primary_meter_usage_per_day:
            type:
              - 'null'
              - string
          registration_expiration_month:
            type: number
          registration_state:
            type:
              - 'null'
              - string
          residual_value:
            type:
              - 'null'
              - number
          secondary_meter:
            type: boolean
          secondary_meter_date:
            type:
              - 'null'
              - string
          secondary_meter_name:
            type: string
          secondary_meter_unit:
            type:
              - 'null'
              - string
          secondary_meter_usage_per_day:
            type:
              - 'null'
              - string
          secondary_meter_value:
            type: number
          service_entries_count:
            type: number
          service_reminders_count:
            type: number
          specs:
            properties:
              account_id:
                type: number
              base_towing_capacity:
                type:
                  - 'null'
                  - number
              bed_length:
                type:
                  - 'null'
                  - number
              body_subtype:
                type:
                  - 'null'
                  - string
              body_type:
                type:
                  - 'null'
                  - string
              brake_system:
                type:
                  - 'null'
                  - string
              cargo_volume:
                type:
                  - 'null'
                  - number
              created_at:
                type: string
              curb_weight:
                type:
                  - 'null'
                  - number
              drive_type:
                type:
                  - 'null'
                  - string
              duty_type:
                type:
                  - 'null'
                  - string
              engine_aspiration:
                type:
                  - 'null'
                  - string
              engine_block_type:
                type:
                  - 'null'
                  - string
              engine_bore:
                type:
                  - 'null'
                  - number
              engine_bore_with_units:
                type:
                  - 'null'
                  - string
              engine_brand:
                type:
                  - 'null'
                  - string
              engine_cam_type:
                type:
                  - 'null'
                  - string
              engine_compression:
                type:
                  - 'null'
                  - number
              engine_cylinders:
                type:
                  - 'null'
                  - number
              engine_description:
                type:
                  - 'null'
                  - string
              engine_displacement:
                type:
                  - 'null'
                  - number
              engine_stroke:
                type:
                  - 'null'
                  - number
              engine_valves:
                type:
                  - 'null'
                  - number
              epa_city:
                type:
                  - 'null'
                  - number
              epa_combined:
                type:
                  - 'null'
                  - number
              epa_highway:
                type:
                  - 'null'
[...]
