version: 0.40.5
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - submitted_inspection_forms
streams:
  - type: DeclarativeStream
    name: submitted_inspection_forms
    primary_key: []
    schema_loader:
      type: JsonSchema
      file_path: "./source_fleetio/schemas/submitted_inspection_forms.json"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://secure.fleetio.com/api/
        path: /v1/submitted_inspection_forms
        http_method: GET
        request_parameters:
          q[s]: submitted_at+desc
        request_headers:
          Account-Token: '{{ config[''account_token''] }}'
          Authorization: Token {{ config['api_token'] }}
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
  - type: DeclarativeStream
    name: issues
    primary_key: []
    schema_loader:
      type: JsonSchema
      file_path: "./source_fleetio/schemas/issues.json" 
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://secure.fleetio.com/api/
        path: /v2/issues
        http_method: GET
        request_parameters:
          q[s]: submitted_at+desc
        request_headers:
          Account-Token: '{{ config[''account_token''] }}'
          Authorization: Token {{ config['api_token'] }}
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
  - type: DeclarativeStream
    name: service_entries
    primary_key: []
    schema_loader:
      type: JsonSchema
      file_path: "./source_fleetio/schemas/service_entries.json" 
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://secure.fleetio.com/api/
        path: /v2/service_entries
        http_method: GET
        request_parameters:
          q[s]: submitted_at+desc
        request_headers:
          Account-Token: '{{ config[''account_token''] }}'
          Authorization: Token {{ config['api_token'] }}
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
  - type: DeclarativeStream
    name: vehicles
    primary_key: []
    schema_loader:
      type: JsonSchema
      file_path: "./source_fleetio/schemas/vehicles.json" 
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://secure.fleetio.com/api/
        path: /v1/vehicles
        http_method: GET
        request_parameters:
          q[s]: submitted_at+desc
        request_headers:
          Account-Token: '{{ config[''account_token''] }}'
          Authorization: Token {{ config['api_token'] }}
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_token
      - account_token
    properties:
      api_token:
        type: string
        order: 0
        title: api_token
        airbyte_secret: true
      account_token:
        type: string
        order: 1
        title: account_token
        description: found in the url
        airbyte_secret: true
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec
metadata:
  autoImportSchema:
    submitted_inspection_forms: true
    issues: true
    service_entries: true
    vehicles: true