version: 6.48.15

type: DeclarativeSource

description: instantly.ai Campaigns Data API

check:
  type: CheckStream
  stream_names:
    - campaign(s) analytics

definitions:
  streams:
    campaign(s) analytics:
      type: DeclarativeStream
      name: campaign(s) analytics
      primary_key:
        - campaign_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns/analytics
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaign(s) analytics"
    Campaigns Analytics Daily:
      type: DeclarativeStream
      name: Campaigns Analytics Daily
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaigns/analytics/daily
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Campaigns Analytics Daily"
    Campaigns:
      type: DeclarativeStream
      name: Campaigns
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 10
            cursor_value: "{{ response.get(\"next_starting_after\", {}) }}"
            stop_condition: "{{ not response.get(\"next_starting_after\", {}) }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Campaigns"
    Accounts:
      type: DeclarativeStream
      name: Accounts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"next_starting_after\", {}) }}"
            stop_condition: "{{ not response.get(\"next_starting_after\", {}) }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Accounts"
  base_requester:
    type: HttpRequester
    url_base: https://api.instantly.ai/api/v2
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/campaign(s) analytics"
  - $ref: "#/definitions/streams/Campaigns Analytics Daily"
  - $ref: "#/definitions/streams/Campaigns"
  - $ref: "#/definitions/streams/Accounts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        description: Start Date
        title: start_date
        order: 1
      end_date:
        type: string
        description: End Date
        title: end_date
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    campaign(s) analytics: true
    Campaigns Analytics Daily: true
    Campaigns: true
    Accounts: true
  testedStreams:
    campaign(s) analytics:
      streamHash: 105a10ebe9f500f8755c9ea5e6ae15f2173235d3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Campaigns Analytics Daily:
      streamHash: 6f621c0504ae2a21c45e43cd34a492eabef45f1a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Campaigns:
      streamHash: c9c27f65d801de086ac3f4d0430657d27643c2dd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Accounts:
      streamHash: a8c86b085c27bfc5a77e5f34a8e33a1167b0f513
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  campaign(s) analytics:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bounced_count:
        type:
          - number
          - "null"
      campaign_id:
        type: string
      campaign_is_evergreen:
        type:
          - boolean
          - "null"
      campaign_name:
        type:
          - string
          - "null"
      campaign_status:
        type:
          - number
          - "null"
      completed_count:
        type:
          - number
          - "null"
      contacted_count:
        type:
          - number
          - "null"
      emails_sent_count:
        type:
          - number
          - "null"
      leads_count:
        type:
          - number
          - "null"
      link_click_count:
        type:
          - number
          - "null"
      link_click_count_unique:
        type:
          - number
          - "null"
      link_click_count_unique_by_step:
        type:
          - number
          - "null"
      new_leads_contacted_count:
        type:
          - number
          - "null"
      open_count:
        type:
          - number
          - "null"
      open_count_unique:
        type:
          - number
          - "null"
      open_count_unique_by_step:
        type:
          - number
          - "null"
      reply_count:
        type:
          - number
          - "null"
      reply_count_automatic:
        type:
          - number
          - "null"
      reply_count_automatic_unique:
        type:
          - number
          - "null"
      reply_count_automatic_unique_by_step:
        type:
          - number
          - "null"
      reply_count_unique:
        type:
          - number
          - "null"
      reply_count_unique_by_step:
        type:
          - number
          - "null"
      total_opportunities:
        type:
          - number
          - "null"
      total_opportunity_value:
        type:
          - number
          - "null"
      unsubscribed_count:
        type:
          - number
          - "null"
    required:
      - campaign_id
  Campaigns Analytics Daily:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      clicks:
        type:
          - number
          - "null"
      contacted:
        type:
          - number
          - "null"
      date:
        type:
          - string
          - "null"
      new_leads_contacted:
        type:
          - number
          - "null"
      opened:
        type:
          - number
          - "null"
      opportunities:
        type:
          - number
          - "null"
      replies:
        type:
          - number
          - "null"
      replies_automatic:
        type:
          - number
          - "null"
      sent:
        type:
          - number
          - "null"
      unique_clicks:
        type:
          - number
          - "null"
      unique_opened:
        type:
          - number
          - "null"
      unique_opportunities:
        type:
          - number
          - "null"
      unique_replies:
        type:
          - number
          - "null"
      unique_replies_automatic:
        type:
          - number
          - "null"
  Campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            allow_risky_contacts:
              type:
                - boolean
                - "null"
            auto_variant_select:
              type:
                - object
                - "null"
              properties:
                trigger:
                  type:
                    - string
                    - "null"
            bcc_list:
              type:
                - array
                - "null"
            campaign_schedule:
              type:
                - object
                - "null"
              properties:
                end_date:
                  type:
                    - string
                    - "null"
                schedules:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      days:
                        type:
                          - object
                          - "null"
                        properties:
                          "1":
                            type:
                              - boolean
                              - "null"
                          "2":
                            type:
                              - boolean
                              - "null"
                          "3":
                            type:
                              - boolean
                              - "null"
                          "4":
                            type:
                              - boolean
                              - "null"
                          "5":
                            type:
                              - boolean
                              - "null"
                      name:
                        type:
                          - string
                          - "null"
                      timezone:
                        type:
                          - string
                          - "null"
                      timing:
                        type:
                          - object
                          - "null"
                        properties:
                          from:
                            type:
                              - string
                              - "null"
                          to:
                            type:
                              - string
                              - "null"
                start_date:
                  type:
                    - string
                    - "null"
            cc_list:
              type:
                - array
                - "null"
            core_variables:
              type:
                - object
                - "null"
              properties:
                companyName:
                  type:
                    - boolean
                    - "null"
                firstName:
                  type:
                    - boolean
                    - "null"
                lastName:
                  type:
                    - boolean
                    - "null"
                website:
                  type:
                    - boolean
                    - "null"
            custom_variables:
              type:
                - object
                - "null"
              properties:
                Company Industry industry:
                  type:
                    - boolean
                    - "null"
                Company LinkedIn URL:
                  type:
                    - boolean
                    - "null"
                Final Onboarding Employee Name:
                  type:
                    - boolean
                    - "null"
                Personalized Email Opener:
                  type:
                    - boolean
                    - "null"
                competitor:
                  type:
                    - boolean
                    - "null"
                jobTitle:
                  type:
                    - boolean
                    - "null"
                linkedIn:
                  type:
                    - boolean
                    - "null"
                location:
                  type:
                    - boolean
                    - "null"
                pause_until:
                  type:
                    - boolean
                    - "null"
            daily_limit:
              type:
                - number
                - "null"
            disable_bounce_protect:
              type:
                - boolean
                - "null"
            email_gap:
              type:
                - number
                - "null"
            email_list:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            email_tag_list:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            first_email_text_only:
              type:
                - boolean
                - "null"
            id:
              type:
                - string
                - "null"
            insert_unsubscribe_header:
              type:
                - boolean
                - "null"
            link_tracking:
              type:
                - boolean
                - "null"
            match_lead_esp:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
            open_tracking:
              type:
                - boolean
                - "null"
            organization:
              type:
                - string
                - "null"
            owned_by:
              type:
                - string
                - "null"
            pl_value:
              type:
                - number
                - "null"
            prioritize_new_leads:
              type:
                - boolean
                - "null"
            provider_routing_rules:
              type:
                - array
                - "null"
            random_wait_max:
              type:
                - number
                - "null"
            sequences:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  steps:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        delay:
                          type:
                            - number
                            - "null"
                        delay_unit:
                          type:
                            - string
                            - "null"
                        pre_delay_unit:
                          type:
                            - string
                            - "null"
                        variants:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              body:
                                type:
                                  - string
                                  - "null"
                              subject:
                                type:
                                  - string
                                  - "null"
                              v_disabled:
                                type:
                                  - boolean
                                  - "null"
            status:
              type:
                - number
                - "null"
            stop_for_company:
              type:
                - boolean
                - "null"
            stop_on_auto_reply:
              type:
                - boolean
                - "null"
            stop_on_reply:
              type:
                - boolean
                - "null"
            text_only:
              type:
                - boolean
                - "null"
            timestamp_created:
              type:
                - string
                - "null"
            timestamp_updated:
              type:
                - string
                - "null"
      next_starting_after:
        type:
          - string
          - "null"
  Accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            added_by:
              type:
                - string
                - "null"
            daily_limit:
              type:
                - number
                - "null"
            email:
              type:
                - string
                - "null"
            first_name:
              type:
                - string
                - "null"
            inbox_placement_test_limit:
              type:
                - number
                - "null"
            is_managed_account:
              type:
                - boolean
                - "null"
            last_name:
              type:
                - string
                - "null"
            modified_by:
              type:
                - string
                - "null"
            organization:
              type:
                - string
                - "null"
            provider_code:
              type:
                - number
                - "null"
            sending_gap:
              type:
                - number
                - "null"
            setup_pending:
              type:
                - boolean
                - "null"
            stat_warmup_score:
              type:
                - number
                - "null"
            status:
              type:
                - number
                - "null"
            timestamp_created:
              type:
                - string
                - "null"
            timestamp_updated:
              type:
                - string
                - "null"
            timestamp_warmup_start:
              type:
                - string
                - "null"
            warmup:
              type:
                - object
                - "null"
              properties:
                increment:
                  type:
                    - string
                    - "null"
                limit:
                  type:
                    - number
                    - "null"
                reply_rate:
                  type:
                    - number
                    - "null"
            warmup_pool_id:
              type:
                - string
                - "null"
            warmup_status:
              type:
                - number
                - "null"
      next_starting_after:
        type:
          - string
          - "null"
