$xsmall: 20px;
$small: 50px;
$medium: 120px;
$large: 200px;

.tableCell {
  flex: 1 0 $medium;
  min-width: $medium;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;

  &.xsmall {
    flex-basis: $xsmall;
    min-width: $xsmall;
  }

  &.small {
    flex-basis: $small;
    min-width: $small;
  }

  &.large {
    flex-basis: $large;
    min-width: $large;
  }
}
