@use "scss/_colors";
@use "scss/_variables";

.cellText {
  color: colors.$grey;
}

.headerContainer {
  margin-top: variables.$spacing-xl;
  margin-bottom: variables.$spacing-lg;
}

.checkboxCell {
  max-width: 43px;
  text-align: center;
}
