@use "scss/colors";
@use "scss/variables";

.container {
  border-radius: 10px;
  margin: variables.$spacing-md variables.$spacing-lg;
  background-color: colors.$grey-50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > :not(button) {
    padding: variables.$spacing-md;
  }
}

.properties {
  display: flex;
  flex-direction: row;
  gap: variables.$spacing-xl;
}
