@use "scss/variables";

$icon-size: 15px;

.container {
  display: flex;
  flex-direction: row;
  padding: variables.$spacing-xl calc(variables.$spacing-lg * 2) 0;
  height: 43px;
  align-items: center;
}

.connector {
  display: flex;
  flex-direction: row;
  flex: none;
  align-self: stretch;
  align-items: center;
}

.source {
  flex: 7.3 0 0;
  min-width: 0;
}

.destination {
  flex: 2 0 0;
  min-width: 0;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  padding-right: variables.$spacing-sm;
}

.arrowContainer {
  width: 20px;
}
