@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

.dialog {
  z-index: z-indices.$modal;
}

.container {
  position: fixed;
  bottom: 0;
  left: variables.$width-size-menu;
  z-index: 1000;
  width: calc(100% - variables.$width-size-menu);
  height: calc(100vh - 100px);
  background: colors.$white;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 0 22px rgba(colors.$dark-blue-900, 12%);
}
