version: 6.4.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - users
definitions:
  authenticator:
    type: CustomAuthenticator
    class_name: source_declarative_manifest.components.RampOauthAuthenticator
    grant_type: client_credentials
    client_id: '{{ config[''credentials''][''client_id''] }}'
    client_secret: '{{ config[''credentials''][''client_secret''] }}'
    token_refresh_endpoint: https://{{ 'demo-api' if config.get('use_sandbox') else 'api' }}.ramp.com/developer/v1/token
    scopes:
    - transactions:read
    - reimbursements:read
    - bills:read
    - transfers:read
    - cashbacks:read
    - statements:read
    - audit_logs:read
    - vendors:read
    - purchase_orders:read
    - unified_requests:read
    - trips:read
    - repayments:read
    - memos:read
    - receipts:read
    - limits:read
    - users:read
    - departments:read
    - locations:read
    - entities:read
    - cards:read
    - merchants:read
    - spend_programs:read
    - bank_accounts:read
    - item_receipts:read
    access_token_name: access_token
    expires_in_name: expires_in
  base_requester:
    type: HttpRequester
    url_base: https://{{ 'demo-api' if config.get('use_sandbox') else 'api' }}.ramp.com/developer/v1/
    http_method: GET
    authenticator:
      $ref: '#/definitions/authenticator'
  base_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: '{{ response.get(''page'', {}).get(''next'') }}'
      stop_condition: '{{ not response.get(''page'', {}).get(''next'') }}'
      page_size: 100
    page_token_option:
      type: RequestPath
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page_size
  base_record_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
      - data
  streams:
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: transactions
        record_selector:
          $ref: '#/definitions/base_record_selector'
        paginator:
          $ref: '#/definitions/base_paginator'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          properties:
            accounting_categories:
              deprecated: true
              description: '[Deprecated - use accounting_field_selections instead] Accounting categories related to the transaction.'
              items:
                properties:
                  category_id:
                    description: User-selected category id for transaction.
                    type: string
                  category_name:
                    description: User-selected category name for transaction.
                    type: string
                  tracking_category_remote_id:
                    type: string
                  tracking_category_remote_name:
                    type: string
                  tracking_category_remote_type:
                    type: string
                type: object
              type: array
            accounting_date:
              description: The date for the transaction for accounting purposes, in ISO8601 format. Based on the cleared date,
                transaction date, or a manually overridden date, depending on your accounting preferences in Ramp.
              format: date-time
              type:
              - 'null'
              - string
            accounting_field_selections:
              description: List of accounting fields selected to code the transaction.
              items:
                properties:
                  category_info:
                    allOf:
                    - properties:
                        external_id:
                          description: External ID of accounting field; It should uniquely identify an accounting field on
                            the ERP.
                          type: string
                        id:
                          description: ID that uniquely identifies an accounting field within Ramp
                          format: uuid
                          type: string
                          x-relationship:
                            inverse_field_name: null
                            reference_field_name: ramp_id
                            target_resource: accounting_fields
                            type: many-to-many
                        name:
                          description: Name of accounting field
                          type: string
                        type:
                          description: Accounting field type
                          enum:
                          - AMORTIZATION_TEMPLATE
                          - BILLABLE
                          - COST_CENTER
                          - CUSTOMERS_JOBS
                          - DEFERRAL_CODE
                          - EXPENSE_ENTITY
                          - GL_ACCOUNT
                          - INVENTORY_ITEM
                          - JOURNAL
                          - MERCHANT
                          - NON_ERP
                          - OTHER
                          - PROJECT
                          - REPORTING_TAG
                          - SUBSIDIARY
                          - TAX_CODE
                          - UNIT_OF_MEASURE
                          type: string
                      type: object
                    description: Information about the accounting category (or accounting field).
                  external_code:
                    description: External code of accounting field option; Code field displayed on the ERP.
                    type: string
                  external_id:
                    description: External ID of accounting field option; It should uniquely identify an accounting field option
                      on the ERP.
                    type: string
                  id:
                    description: ID that uniquely identifies an accounting field option within Ramp
                    format: uuid
                    type: string
                    x-relationship:
                      inverse_field_name: null
                      reference_field_name: ramp_id
                      target_resource: custom_field_options
                      type: many-to-many
                  name:
                    description: Name of accounting field option
                    type: string
                  provider_name:
                    description: Name of accounting field provider
                    type: string
                  source:
                    allOf:
                    - properties:
                        type:
                          description: Describes the type of source that added this selection.
                          type: string
                      type: object
                    description: Describes the source of the accounting coding selection.
                  type:
                    description: Accounting field type
                    enum:
                    - AMORTIZATION_TEMPLATE
                    - BILLABLE
                    - COST_CENTER
                    - CUSTOMERS_JOBS
                    - DEFERRAL_CODE
                    - EXPENSE_ENTITY
                    - GL_ACCOUNT
                    - INVENTORY_ITEM
                    - JOURNAL
                    - MERCHANT
                    - NON_ERP
                    - OTHER
                    - PROJECT
                    - REPORTING_TAG
                    - SUBSIDIARY
                    - TAX_CODE
                    - UNIT_OF_MEASURE
                    type: string
                required:
                - provider_name
                type: object
              type: array
            amount:
              description: Settled amount of the transaction.
              type: number
            attendees:
              description: List of attendees for the transaction
              items:
                properties:
                  name:
                    description: Full name of the attendee
                    type: string
                  user_id:
                    description: User ID of the attendee, if linked to a Ramp user. Missing if the attendee is not a Ramp
                      user
                    format: uuid
                    type:
                    - 'null'
                    - string
                    x-relationship:
                      inverse_field_name: null
                      reference_field_name: id
                      target_resource: users
                      type: many-to-one
                required:
                - name
                - user_id
                type: object
              type: array
            card_holder:
              allOf:
              - properties:
                  department_id:
                    description: ID of the card holder's department.
                    format: uuid
                    type: string
                    x-relationship:
                      inverse_field_name: null
                      reference_field_name: id
                      target_resource: departments
                      type: many-to-one
                  department_name:
                    description: Name of the card holder's deparment.
                    type: string
                  employee_id:
                    description: User-defined employee ID of the card holder.
                    type: string
                  first_name:
                    description: Card holder's first name.
                    type: string
                  last_name:
                    description: Card holder's last name.
                    type: string
                  location_id:
                    description: ID of the card holder's location.
                    format: uuid
                    type: string
                    x-relationship:
                      inverse_field_name: null
                      reference_field_name: id
                      target_resource: locations
                      type: many-to-one
                  location_name:
                    description: Name of the card holder's location.
                    type: string
                  user_id:
                    description: Card holder's ID.
                    format: uuid
                    type: string
                    x-relationship:
                      inverse_field_name: null
                      reference_field_name: id
                      target_resource: users
                      type: many-to-one
                type: object
              description: Information about the card holder.
            card_id:
              description: Identifier of the physical or virtual card associated with the transaction.
              format: uuid
              type: string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: cards
                type: many-to-one
            card_present:
              description: Whether the transaction was processed using a card present terminal.
              type: boolean
            currency_code:
              description: Currency that the transaction is settled in.
              type: string
            decline_details:
              allOf:
              - properties:
                  amount:
                    type: number
                  reason:
                    enum:
                    - AUTHORIZER
                    - AUTHORIZER_AP_CARD_VELOCITY_LIMIT
                    - AUTHORIZER_BUSINESS_LIMIT
                    - AUTHORIZER_BUSINESS_SUSPENDED
                    - AUTHORIZER_BUSINESS_VENDOR_BLACKLIST
                    - AUTHORIZER_CARD_AUTO_LOCK_DATE
                    - AUTHORIZER_CARD_CATEGORY_BLACKLIST
                    - AUTHORIZER_CARD_CATEGORY_WHITELIST
                    - AUTHORIZER_CARD_LIMIT
                    - AUTHORIZER_CARD_MCC_BLACKLIST
                    - AUTHORIZER_CARD_MISSING_POLICY_ITEMS
                    - AUTHORIZER_CARD_NOT_ACTIVATED
                    - AUTHORIZER_CARD_PARTIALLY_ACTIVATED
                    - AUTHORIZER_CARD_START_DATE
                    - AUTHORIZER_CARD_SUSPENDED
                    - AUTHORIZER_CARD_TASK_SANCTION
                    - AUTHORIZER_CARD_TOTAL_ACTIVATION_REQUIRED
                    - AUTHORIZER_CARD_VENDOR_BLACKLIST
                    - AUTHORIZER_CARD_VENDOR_WHITELIST
                    - AUTHORIZER_COMMANDO_MODE
                    - AUTHORIZER_FRAUD
                    - AUTHORIZER_FREEZE_TRANSACTIONS_RISK
                    - AUTHORIZER_GLOBAL_MCC_BLACKLIST
                    - AUTHORIZER_MEMBER_LIMIT
                    - AUTHORIZER_NON_AP_CARD_VELOCITY_LIMIT
                    - AUTHORIZER_OOB_BLOCKED_MERCHANT
                    - AUTHORIZER_OOB_DAILY_BUSINESS_BALANCE
                    - AUTHORIZER_OOB_DAILY_CARD_SPEND
                    - AUTHORIZER_RAMP_AUTHORIZATION_METHODS
                    - AUTHORIZER_RAMP_TRANSACTION_AMOUNT_LIMIT
                    - AUTHORIZER_RAMP_VENDOR_RESTRICTIONS
                    - AUTHORIZER_SPEND_ALLOCATION_ARCHIVED_FUNDS
                    - AUTHORIZER_SPEND_ALLOCATION_MEMBER_SUSPENDED
                    - AUTHORIZER_SPEND_ALLOCATION_SUSPENDED
                    - AUTHORIZER_TRANSACTION_AMOUNT_LIMIT
                    - AUTHORIZER_UNAUTHORIZED_USER
                    - AUTHORIZER_USER_LIMIT
                    - AUTHORIZER_USER_SUSPENDED
                    - BLOCKED_COUNTRY
                    - CARD_EXPIRED
                    - CARD_LOST_OR_STOLEN
                    - CARD_TERMINATED
                    - CHIP_FAILURE
                    - FORBIDDEN_CATEGORY
                    - INSECURE_AUTHORIZATION_METHOD
                    - INSUFFICIENT_FUNDS
                    - INVALID_PIN
                    - MISSING_CVV
                    - MISSING_EXPIRATION
                    - MOBILE_WALLET_FAILURE
                    - MOBILE_WALLET_TOKEN_NOT_FOUND
                    - MOBILE_WALLET_TOKEN_TERMINATED
                    - NETWORK_DECLINE_ACCOUNT_VERIFICATION
                    - NETWORK_DECLINE_ADVICE
                    - NETWORK_DECLINE_ADVICE_ACQUIRER_ISSUE
                    - NETWORK_DECLINE_ADVICE_ADDITIONAL_AUTHENTICATION_REQUIRED
                    - NETWORK_DECLINE_ADVICE_FORCED_STIP_BY_ISSUER
                    - NETWORK_DECLINE_ADVICE_ISSUER_LOGGED_OFF
                    - NETWORK_DECLINE_ADVICE_ISSUER_TIMEOUT
                    - NETWORK_DECLINE_ADVICE_ISSUER_UNAVAILABLE
                    - NETWORK_DECLINE_ADVICE_PIN_ERROR
                    - NETWORK_DECLINE_ADVICE_RECURRING_PAYMENT
                    - NETWORK_DECLINE_ADVICE_SELECTIVE_ACCEPTANCE_SERVICE
                    - NETWORK_DECLINE_ADVICE_SUSPECTED_FRAUD_TRANSACTION
                    - NETWORK_DECLINE_ADVICE_TOKEN_PROVISIONING_SERVICE
                    - NETWORK_DECLINE_ADVICE_VISA_PAYMENT_CONTROLS_RULE
                    - NOT_ACTIVE
                    - NOT_ALLOWED
                    - NO_AUTO_ROUTED_LIMITS_AVAILABLE
                    - NO_LINKED_SPEND_ALLOCATION
                    - OFAC_VERIFICATION_NEEDED
                    - OPEN_TO_BUY_LIMIT
                    - OTHER
                    - PIN_BLOCKED
                    - PIN_TRY_LIMIT_EXCEEDED
                    - PROCESSOR_CAP
                    - QUASI_CASH
                    - ROUTED_TO_TERMINATED_SPEND_ALLOCATION
                    - STRIPE_WEBHOOK_TIMEOUT
                    - SUSPECTED_BIN_ATTACK
                    - SUSPECTED_FRAUD
                    - THREE_D_SECURE_REQUIRED
                    - USER_BLOCKED
                    - USER_TERMINATED
                    - WRONG_ADDRESS
                    - WRONG_CVV
                    - WRONG_EXPIRATION
                    - WRONG_POSTAL_CODE
                    type: string
                    x-enum-descriptions:
                      AUTHORIZER: Transaction declined by Ramp
                      AUTHORIZER_AP_CARD_VELOCITY_LIMIT: Transaction limit exceeded
                      AUTHORIZER_BUSINESS_LIMIT: Business spending limit exceeded
                      AUTHORIZER_BUSINESS_SUSPENDED: Business account is suspended
                      AUTHORIZER_BUSINESS_VENDOR_BLACKLIST: Merchant blocked by company policy
                      AUTHORIZER_CARD_AUTO_LOCK_DATE: Card has been auto-locked
                      AUTHORIZER_CARD_CATEGORY_BLACKLIST: Merchant category blocked for this card
                      AUTHORIZER_CARD_CATEGORY_WHITELIST: Merchant category not allowed for this card
                      AUTHORIZER_CARD_LIMIT: Card spending limit exceeded
                      AUTHORIZER_CARD_MCC_BLACKLIST: Merchant category blocked for this card
                      AUTHORIZER_CARD_MISSING_POLICY_ITEMS: Card locked due to missing required items
                      AUTHORIZER_CARD_NOT_ACTIVATED: Card is not activated
                      AUTHORIZER_CARD_PARTIALLY_ACTIVATED: Card requires additional activation
                      AUTHORIZER_CARD_START_DATE: Card spend eligibility has not started
                      AUTHORIZER_CARD_SUSPENDED: Card is locked
                      AUTHORIZER_CARD_TASK_SANCTION: Card locked due to overdue tasks
                      AUTHORIZER_CARD_TOTAL_ACTIVATION_REQUIRED: Card requires delivery confirmation
                      AUTHORIZER_CARD_VENDOR_BLACKLIST: Merchant blocked for this card
                      AUTHORIZER_CARD_VENDOR_WHITELIST: Merchant not allowed for this card
                      AUTHORIZER_COMMANDO_MODE: Temporary processing error
                      AUTHORIZER_FRAUD: Transaction flagged for fraud review
                      AUTHORIZER_FREEZE_TRANSACTIONS_RISK: Account temporarily frozen
                      AUTHORIZER_GLOBAL_MCC_BLACKLIST: Merchant category not supported
                      AUTHORIZER_MEMBER_LIMIT: Member spending limit exceeded
                      AUTHORIZER_NON_AP_CARD_VELOCITY_LIMIT: Transaction limit exceeded
                      AUTHORIZER_OOB_BLOCKED_MERCHANT: Merchant blocked
                      AUTHORIZER_OOB_DAILY_BUSINESS_BALANCE: Daily business balance limit exceeded
                      AUTHORIZER_OOB_DAILY_CARD_SPEND: Daily card spending limit exceeded
                      AUTHORIZER_RAMP_AUTHORIZATION_METHODS: Authorization method not allowed
                      AUTHORIZER_RAMP_TRANSACTION_AMOUNT_LIMIT: Transaction amount didn't match limit
                      AUTHORIZER_RAMP_VENDOR_RESTRICTIONS: Merchant restricted by company policy
                      AUTHORIZER_SPEND_ALLOCATION_ARCHIVED_FUNDS: Funds are currently archived
                      AUTHORIZER_SPEND_ALLOCATION_MEMBER_SUSPENDED: Member access to spending limit is locked
                      AUTHORIZER_SPEND_ALLOCATION_SUSPENDED: Spending limit is suspended
                      AUTHORIZER_TRANSACTION_AMOUNT_LIMIT: Transaction amount didn't match limit
                      AUTHORIZER_UNAUTHORIZED_USER: User account is no longer active
                      AUTHORIZER_USER_LIMIT: User spending limit exceeded
                      AUTHORIZER_USER_SUSPENDED: User account is locked
                      BLOCKED_COUNTRY: Transaction country not supported
                      CARD_EXPIRED: Card has expired
                      CARD_LOST_OR_STOLEN: Card reported as lost or stolen
                      CARD_TERMINATED: Card has been terminated
                      CHIP_FAILURE: Card chip verification failed
                      FORBIDDEN_CATEGORY: Merchant category not allowed
                      INSECURE_AUTHORIZATION_METHOD: Insecure authorization method used
                      INSUFFICIENT_FUNDS: Insufficient funds available
                      INVALID_PIN: Invalid PIN entered
                      MISSING_CVV: CVV is required
                      MISSING_EXPIRATION: Expiration date is required
                      MOBILE_WALLET_FAILURE: Mobile wallet processing error
                      MOBILE_WALLET_TOKEN_NOT_FOUND: Mobile wallet token not found
                      MOBILE_WALLET_TOKEN_TERMINATED: Mobile wallet token has been terminated
                      NETWORK_DECLINE_ACCOUNT_VERIFICATION: Account verification required
                      NETWORK_DECLINE_ADVICE: Transaction declined by network
                      NETWORK_DECLINE_ADVICE_ACQUIRER_ISSUE: Network processing error
                      NETWORK_DECLINE_ADVICE_ADDITIONAL_AUTHENTICATION_REQUIRED: Additional authentication required
                      NETWORK_DECLINE_ADVICE_FORCED_STIP_BY_ISSUER: Transaction declined by network
                      NETWORK_DECLINE_ADVICE_ISSUER_LOGGED_OFF: Network temporarily unavailable
                      NETWORK_DECLINE_ADVICE_ISSUER_TIMEOUT: Network timeout occurred
                      NETWORK_DECLINE_ADVICE_ISSUER_UNAVAILABLE: Network temporarily unavailable
                      NETWORK_DECLINE_ADVICE_PIN_ERROR: PIN verification error
                      NETWORK_DECLINE_ADVICE_RECURRING_PAYMENT: Recurring payment declined
                      NETWORK_DECLINE_ADVICE_SELECTIVE_ACCEPTANCE_SERVICE: Transaction not accepted
                      NETWORK_DECLINE_ADVICE_SUSPECTED_FRAUD_TRANSACTION: Transaction flagged for suspected fraud
                      NETWORK_DECLINE_ADVICE_TOKEN_PROVISIONING_SERVICE: Token provisioning error
                      NETWORK_DECLINE_ADVICE_VISA_PAYMENT_CONTROLS_RULE: Transaction blocked by payment controls
                      NOT_ACTIVE: Card is not active
                      NOT_ALLOWED: Transaction not allowed
                      NO_AUTO_ROUTED_LIMITS_AVAILABLE: No eligible spending limit available
                      NO_LINKED_SPEND_ALLOCATION: No spending limit linked to this card
                      OFAC_VERIFICATION_NEEDED: Account verification required
                      OPEN_TO_BUY_LIMIT: Available business balance exceeded
                      OTHER: Transaction declined
                      PIN_BLOCKED: PIN has been blocked
                      PIN_TRY_LIMIT_EXCEEDED: PIN attempt limit exceeded
                      PROCESSOR_CAP: Transaction amount exceeds network limit
                      QUASI_CASH: Cash-equivalent transactions not supported
                      ROUTED_TO_TERMINATED_SPEND_ALLOCATION: Spending limit has been terminated
                      STRIPE_WEBHOOK_TIMEOUT: Temporary processing error
                      SUSPECTED_BIN_ATTACK: Transaction declined for security reasons
                      SUSPECTED_FRAUD: Transaction flagged for suspected fraud
                      THREE_D_SECURE_REQUIRED: 3D Secure authentication required
                      USER_BLOCKED: User account is blocked
                      USER_TERMINATED: User account has been terminated
                      WRONG_ADDRESS: Incorrect billing address
                      WRONG_CVV: Incorrect CVV entered
                      WRONG_EXPIRATION: Incorrect expiration date entered
                      WRONG_POSTAL_CODE: Incorrect postal code entered
                type: object
              description: Details about a transaction decline.
            disputes:
              description: A list of disputes sorted in descending order by their creation time.
              items:
                properties:
                  created_at:
                    description: Time at which the dispute is created, presented in ISO8601 format.
                    format: date-time
                    type: string
                  id:
                    description: Uniquely identifies a transaction dispute.
                    format: uuid
                    type: string
                  memo:
                    description: Free form text regarding the dispute.
                    type: string
                  type:
                    description: 'The dispute type; It could be one of the following values: RESOLVED_BY_RAMP, CANCELLED_BY_CUSTOMER,
                      CANCELLED_BY_RAMP, CREATED_MERCHANT_ERROR and CREATED_UNRECOGNIZED_CHARGE.'
                    type: string
                type: object
              type: array
            entity_id:
              description: Unique identifier of business entity associated with the transaction.
              format: uuid
              type:
              - 'null'
              - string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: entities
                type: many-to-one
            id:
              format: uuid
              type: string
            limit_id:
              description: Unique identifier of the spend limit associated with the transaction
              format: uuid
              type: string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: limits
                type: many-to-one
            line_items:
              description: List of line items related to the transaction.
              items:
                properties:
                  accounting_field_selections:
                    description: List of accounting field options selected to code the line item.
                    items:
                      properties:
                        category_info:
                          allOf:
                          - properties:
                              external_id:
                                description: External ID of accounting field; It should uniquely identify an accounting field
                                  on the ERP.
                                type: string
                              id:
                                description: ID that uniquely identifies an accounting field within Ramp
                                format: uuid
                                type: string
                                x-relationship:
                                  inverse_field_name: null
                                  reference_field_name: ramp_id
                                  target_resource: accounting_fields
                                  type: many-to-many
                              name:
                                description: Name of accounting field
                                type: string
                              type:
                                description: Accounting field type
                                enum:
                                - AMORTIZATION_TEMPLATE
                                - BILLABLE
                                - COST_CENTER
                                - CUSTOMERS_JOBS
                                - DEFERRAL_CODE
                                - EXPENSE_ENTITY
                                - GL_ACCOUNT
                                - INVENTORY_ITEM
                                - JOURNAL
                                - MERCHANT
                                - NON_ERP
                                - OTHER
                                - PROJECT
                                - REPORTING_TAG
                                - SUBSIDIARY
                                - TAX_CODE
                                - UNIT_OF_MEASURE
                                type: string
                            type: object
                          description: Information about the accounting category (or accounting field).
                        external_code:
                          description: External code of accounting field option; Code field displayed on the ERP.
                          type: string
                        external_id:
                          description: External ID of accounting field option; It should uniquely identify an accounting field
                            option on the ERP.
                          type: string
                        id:
                          description: ID that uniquely identifies an accounting field option within Ramp
                          format: uuid
                          type: string
                          x-relationship:
                            inverse_field_name: null
                            reference_field_name: ramp_id
                            target_resource: custom_field_options
                            type: many-to-many
                        name:
                          description: Name of accounting field option
                          type: string
                        provider_name:
                          description: Name of accounting field provider
                          type: string
                        source:
                          allOf:
                          - properties:
                              type:
                                description: Describes the type of source that added this selection.
                                type: string
                            type: object
                          description: Describes the source of the accounting coding selection.
                        type:
                          description: Accounting field type
                          enum:
                          - AMORTIZATION_TEMPLATE
                          - BILLABLE
                          - COST_CENTER
                          - CUSTOMERS_JOBS
                          - DEFERRAL_CODE
                          - EXPENSE_ENTITY
                          - GL_ACCOUNT
                          - INVENTORY_ITEM
                          - JOURNAL
                          - MERCHANT
                          - NON_ERP
                          - OTHER
                          - PROJECT
                          - REPORTING_TAG
                          - SUBSIDIARY
                          - TAX_CODE
                          - UNIT_OF_MEASURE
                          type: string
                      required:
                      - provider_name
                      type: object
                    type: array
                  amount:
                    allOf:
                    - properties:
                        amount:
                          description: the amount of money represented in the smallest denomination of the currency. For example,
                            when the currency is USD, then the amount is expressed in cents.
                          type: integer
                        currency_code:
                          default: USD
                          description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                          type: string
                        minor_unit_conversion_rate:
                          description: The conversion factor to convert from the integer amount to the actual currency value.
                            Divide amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034
                            / 100 = 120.34 USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                          type:
                          - 'null'
                          - integer
                      required:
                      - amount
                      - currency_code
                      - minor_unit_conversion_rate
                      type: object
                    description: Amount of the line item, denominated in the currency that the transaction was settled in.
                  converted_amount:
                    allOf:
                    - properties:
                        amount:
                          description: the amount of money represented in the smallest denomination of the currency. For example,
                            when the currency is USD, then the amount is expressed in cents.
                          type: integer
                        currency_code:
                          default: USD
                          description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                          type: string
                        minor_unit_conversion_rate:
                          description: The conversion factor to convert from the integer amount to the actual currency value.
                            Divide amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034
                            / 100 = 120.34 USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                          type:
                          - 'null'
                          - integer
                      required:
                      - amount
                      - currency_code
                      - minor_unit_conversion_rate
                      type: object
                    description: Amount of the split line item, converted to the currency of the card on which the transaction
                      occurred.
                  memo:
                    description: Memo associated with the line item.
                    type: string
                required:
                - amount
                - converted_amount
                type: object
              type: array
            memo:
              maxLength: 255
              type:
              - 'null'
              - string
            merchant_category_code:
              description: Merchant category code is a four-digit number in ISP 18245 used to classify a business by the types
                of goods and services it provides.
              type: string
            merchant_category_code_description:
              description: Description about the merchant category code.
              type: string
            merchant_data:
              allOf:
              - properties:
                  auto_rental:
                    allOf:
                    - properties:
                        check_out:
                          type: string
                        days:
                          type: integer
                      type: object
                    description: Auto rental purchase data provided by the merchant
                  flight:
                    allOf:
                    - properties:
                        departure_date:
                          type:
                          - 'null'
                          - string
                        passenger_name:
                          type: string
                        segments:
                          items:
                            properties:
                              arrival_airport_code:
                                type: string
                              carrier:
                                type: string
                              departure_airport_code:
                                type: string
                              flight_number:
                                type: string
                              service_class:
                                type: string
                              stopover_allowed:
                                type: boolean
                            type: object
                          type:
                          - 'null'
                          - array
                      required:
                      - departure_date
                      - segments
                      type: object
                    description: Flight purchase data provided by the merchant
                  lodging:
                    allOf:
                    - properties:
                        check_in:
                          type: string
                        nights:
                          type:
                          - 'null'
                          - integer
                      required:
                      - nights
                      type: object
                    description: Lodging purchase data provided by the merchant
                  receipt:
                    allOf:
                    - properties:
                        items:
                          items:
                            properties:
                              commodity_code:
                                type:
                                - 'null'
                                - string
                              description:
                                type: string
                              discount:
                                type:
                                - 'null'
                                - number
                              quantity:
                                type: number
                              tax:
                                type:
                                - 'null'
                                - number
                              total:
                                type: number
                              unit_cost:
                                type: number
                            required:
                            - commodity_code
                            - discount
                            - tax
                            type: object
                          type: array
                      type: object
                    description: Receipt purchase data provided by the merchant
                  reference:
                    description: Purchase data reference ID provided by the merchant
                    type:
                    - 'null'
                    - string
                required:
                - auto_rental
                - flight
                - lodging
                - receipt
                - reference
                type: object
              description: Purchase data associated related to a transaction provided by the merchant
            merchant_descriptor:
              description: A merchant descriptor is the name that appears on a customer's bank statement when they make a
                purchase from that merchant.
              type: string
            merchant_id:
              format: uuid
              type:
              - 'null'
              - string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: merchants
                type: many-to-one
            merchant_location:
              allOf:
              - properties:
                  city:
                    type:
                    - 'null'
                    - string
                  country:
                    type:
                    - 'null'
                    - string
                  postal_code:
                    type:
                    - 'null'
                    - string
                  state:
                    type:
                    - 'null'
                    - string
                required:
                - city
                - country
                - postal_code
                - state
                type: object
              description: Card acceptor data such as country, city, state, and postal code if available.
            merchant_name:
              type:
              - 'null'
              - string
            minor_unit_conversion_rate:
              description: The conversion factor to convert from the integer amount to the actual currency value. Divide amount
                by this value to get the real currency amount. For USD, this is 100 (e.g., 12034 / 100 = 120.34 USD).
              type:
              - 'null'
              - integer
            original_transaction_amount:
              allOf:
              - properties:
                  amount:
                    description: the amount of money represented in the smallest denomination of the currency. For example,
                      when the currency is USD, then the amount is expressed in cents.
                    type: integer
                  currency_code:
                    default: USD
                    description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                    type: string
                  minor_unit_conversion_rate:
                    description: The conversion factor to convert from the integer amount to the actual currency value. Divide
                      amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034 / 100 = 120.34
                      USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                    type:
                    - 'null'
                    - integer
                required:
                - amount
                - currency_code
                - minor_unit_conversion_rate
                type: object
              description: the original transaction amount before the currency conversion.
            policy_violations:
              description: A list of policy violations sorted in descending order by their creation time.
              items:
                properties:
                  created_at:
                    description: Time at which the policy violation is created, presented in ISO8601 format.
                    format: date-time
                    type: string
                  id:
                    description: Uniquely identifies a policy violation.
                    format: uuid
                    type: string
                  memo:
                    description: Free form text regarding the policy violation.
                    type: string
                  type:
                    description: Type of the policy violation.
                    type: string
                type: object
              type: array
            receipts:
              description: Receipts listed in ascending order by their creation time, related to the transaction.
              items:
                format: uuid
                type: string
              type: array
            requires_accounting_vendor_creation_to_sync:
              description: Whether the integrator must create an accounting vendor and code it to this transaction before
                syncing. True when the connection has transaction_accounting_vendor_creation_on_sync_enabled=true and the
                transaction has no vendor accounting field selection. Omitted when transaction_accounting_vendor_creation_on_sync_enabled=false.
              type: boolean
            settlement_date:
              description: Time when funds were moved for a transaction, in ISO8601 format.
              format: date-time
              type: string
            sk_category_id:
              description: Ramp category code.
              enum:
              - 1
              - 10
              - 11
              - 12
              - 13
              - 14
              - 15
              - 16
              - 17
              - 18
              - 19
              - 2
              - 20
              - 21
              - 23
              - 24
              - 25
              - 26
              - 27
              - 28
              - 29
              - 3
              - 30
              - 31
              - 32
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 4
              - 40
              - 41
              - 42
              - 43
              - 44
              - 5
              - 6
              - 7
              - 8
              - 9
              type:
              - 'null'
              - integer
              x-enum-descriptions:
                '1': Pet
                '2': Other
                '3': Office
                '4': Airlines
                '5': Car rental
                '6': Lodging
                '7': Travel miscellaneous
                '8': Taxi and rideshare
                '9': Freight, moving and delivery services
                '10': Shipping
                '11': Utilities
                '12': Office supplies and cleaning
                '13': General merchandise
                '14': Electronics
                '15': Clothing
                '16': Books and newspapers
                '17': Supermarkets and grocery stores
                '18': Fuel and gas
                '19': Restaurants
                '20': Alcohol and bars
                '21': Medical
                '23': Fees and financial institutions
                '24': Entertainment
                '25': Professional services
                '26': Taxes and tax preparation
                '27': Advertising
                '28': Parking
                '29': Car services
                '30': Gambling
                '31': Clubs and memberships
                '32': Legal
                '33': Education
                '34': Charitable donations
                '35': Political organizations
                '36': Religious organizations
                '37': Fines
                '38': Government services
                '39': Intra-company purchases
                '40': SaaS / Software
                '41': Cloud computing
                '42': Streaming services
                '43': Internet and phone
                '44': Insurance
            sk_category_name:
              description: Ramp category name.
              type:
              - 'null'
              - string
            spend_program_id:
              description: Unique identifier of the spend program from which this limit was issued.
              format: uuid
              type: string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: spend_programs
                type: many-to-one
            state:
              description: transaction state.
              enum:
              - ALL
              - CLEARED
              - COMPLETION
              - DECLINED
              - ERROR
              - PENDING
              - PENDING_INITIATION
              type: string
              x-enum-descriptions:
                ALL: Special filter value to include all transaction states
                CLEARED: Transaction has been cleared and settled
                COMPLETION: Transaction has completed processing
                DECLINED: Transaction was declined
                ERROR: Transaction encountered an error during processing
                PENDING: Transaction is pending and has not yet cleared
                PENDING_INITIATION: Transaction has not yet been initiated
            statement_id:
              description: Statement ID associated with the transaction if one is available.
              format: uuid
              type: string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: statements
                type: many-to-one
            sync_status:
              enum:
              - NOT_SYNC_READY
              - SYNCED
              - SYNC_READY
              type: string
            synced_at:
              description: Time when transaction has been synced, in ISO8601 format. Will be None if the transaction is not
                synced.
              format: date-time
              type:
              - 'null'
              - string
            trip_id:
              description: Trip ID associated with the transaction if one is available.
              format: uuid
              type:
              - 'null'
              - string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: trips
                type: many-to-one
            trip_name:
              description: Trip name associated with the transaction if one is available.
              type:
              - 'null'
              - string
            user_transaction_time:
              description: Time when the transaction was created by the user, in ISO8601 format.
              format: date-time
              type: string
          required:
          - accounting_date
          - card_present
          - entity_id
          - merchant_id
          - merchant_location
          - minor_unit_conversion_rate
          - original_transaction_amount
          - sk_category_id
          - sk_category_name
          - sync_status
          - synced_at
          - trip_id
          - trip_name
          type: object
          x-resource-name: transactions
          additionalProperties: true
          $schema: http://json-schema.org/draft-07/schema#
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: user_transaction_time
        datetime_format: '%Y-%m-%dT%H:%M:%S%z'
        cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%S%z'
        - '%Y-%m-%dT%H:%M:%S.%f%z'
        - '%Y-%m-%dT%H:%M:%SZ'
        - '%Y-%m-%dT%H:%M:%S.%fZ'
        lookback_window: P{{ config.get('lookback_window_days', 30) }}D
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config[''start_date''] }}'
          datetime_format: '%Y-%m-%dT%H:%M:%SZ'
        end_datetime:
          type: MinMaxDatetime
          datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
          datetime_format: '%Y-%m-%dT%H:%M:%SZ'
        start_time_option:
          type: RequestOption
          field_name: from_date
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to_date
          inject_into: request_parameter
    reimbursements:
      type: DeclarativeStream
      name: reimbursements
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: reimbursements
        record_selector:
          $ref: '#/definitions/base_record_selector'
        paginator:
          $ref: '#/definitions/base_paginator'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          properties:
            accounting_date:
              description: The date for the reimbursement for accounting purposes. If not specified, falls back to the transaction
                date.
              format: date-time
              type:
              - 'null'
              - string
            accounting_field_selections:
              description: List of accounting fields selected to code the reimbursement.
              items:
                properties:
                  category_info:
                    allOf:
                    - properties:
                        external_id:
                          description: External ID that uniquely identifies this field in the ERP.
                          type:
                          - 'null'
                          - string
                        id:
                          description: Unique identifier for this accounting field within Ramp.
                          type:
                          - 'null'
                          - string
                        name:
                          description: Name of the accounting field.
                          type:
                          - 'null'
                          - string
                        type:
                          description: Type of accounting field.
                          enum:
                          - AMORTIZATION_TEMPLATE
                          - BILLABLE
                          - COST_CENTER
                          - CUSTOMERS_JOBS
                          - DEFERRAL_CODE
                          - EXPENSE_ENTITY
                          - GL_ACCOUNT
                          - INVENTORY_ITEM
                          - JOURNAL
                          - MERCHANT
                          - NON_ERP
                          - OTHER
                          - PROJECT
                          - REPORTING_TAG
                          - SUBSIDIARY
                          - TAX_CODE
                          - UNIT_OF_MEASURE
                          type:
                          - 'null'
                          - string
                      required:
                      - external_id
                      - id
                      - name
                      - type
                      type: object
                    description: Information about the parent accounting category.
                  external_code:
                    description: External code displayed in the ERP for this option.
                    type:
                    - 'null'
                    - string
                  external_id:
                    description: External ID that uniquely identifies this option in the ERP.
                    type:
                    - 'null'
                    - string
                  id:
                    description: Unique identifier for this option within Ramp.
                    type:
                    - 'null'
                    - string
                  name:
                    description: Name of the accounting field option.
                    type:
                    - 'null'
                    - string
                  provider_name:
                    description: Name of accounting field provider
                    type:
                    - 'null'
                    - string
                  source:
                    allOf:
                    - properties:
                        type:
                          description: Describes the type of source that added this selection.
                          type: string
                      type: object
                    description: Source of this accounting coding selection.
                  type:
                    description: Type of accounting field.
                    enum:
                    - AMORTIZATION_TEMPLATE
                    - BILLABLE
                    - COST_CENTER
                    - CUSTOMERS_JOBS
                    - DEFERRAL_CODE
                    - EXPENSE_ENTITY
                    - GL_ACCOUNT
                    - INVENTORY_ITEM
                    - JOURNAL
                    - MERCHANT
                    - NON_ERP
                    - OTHER
                    - PROJECT
                    - REPORTING_TAG
                    - SUBSIDIARY
                    - TAX_CODE
                    - UNIT_OF_MEASURE
                    type:
                    - 'null'
                    - string
                required:
                - category_info
                - external_code
                - external_id
                - id
                - name
                - provider_name
                - source
                - type
                type: object
              type: array
            amount:
              description: The amount that the payor pays.
              type:
              - 'null'
              - number
            approved_at:
              description: Time at which the reimbursement is approved. Presented in ISO8601 format.
              format: date-time
              type:
              - 'null'
              - string
            attendees:
              description: List of attendees for the reimbursement.
              items:
                properties:
                  name:
                    description: Full name of the attendee
                    type: string
                  user_id:
                    description: User ID of the attendee, if linked to a Ramp user. Missing if the attendee is not a Ramp
                      user
                    format: uuid
                    type:
                    - 'null'
                    - string
                    x-relationship:
                      inverse_field_name: null
                      reference_field_name: id
                      target_resource: users
                      type: many-to-one
                required:
                - name
                - user_id
                type: object
              type: array
            created_at:
              description: Time at which the reimbursement is created. Presented in ISO8601 format.
              format: date-time
              type: string
            currency:
              description: The currency that the payor pays with.
              type: string
            direction:
              description: The direction of the reimbursement. It could be either BUSINESS_TO_USER or USER_TO_BUSINESS.
              enum:
              - BUSINESS_TO_USER
              - USER_TO_BUSINESS
              type: string
            distance:
              description: The distance of the reimbursement in miles, for mileage reimbursements.
              type:
              - 'null'
              - number
            employee_id:
              description: Employee ID of the person who made the reimbursement.
              type:
              - 'null'
              - string
            end_location:
              description: Ending location of the trip, for mileage reimbursements.
              type:
              - 'null'
              - string
            entity_id:
              description: Unique identifier of the associated business entity.
              format: uuid
              type:
              - 'null'
              - string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: entities
                type: many-to-one
            id:
              description: Unique identifier of the reimbursement.
              format: uuid
              type: string
            line_items:
              description: List of line items related to the reimbursement.
              items:
                properties:
                  accounting_field_selections:
                    description: Accounting field selections used to code this line item.
                    items:
                      properties:
                        category_info:
                          allOf:
                          - properties:
                              external_id:
                                description: External ID that uniquely identifies this field in the ERP.
                                type:
                                - 'null'
                                - string
                              id:
                                description: Unique identifier for this accounting field within Ramp.
                                type:
                                - 'null'
                                - string
                              name:
                                description: Name of the accounting field.
                                type:
                                - 'null'
                                - string
                              type:
                                description: Type of accounting field.
                                enum:
                                - AMORTIZATION_TEMPLATE
                                - BILLABLE
                                - COST_CENTER
                                - CUSTOMERS_JOBS
                                - DEFERRAL_CODE
                                - EXPENSE_ENTITY
                                - GL_ACCOUNT
                                - INVENTORY_ITEM
                                - JOURNAL
                                - MERCHANT
                                - NON_ERP
                                - OTHER
                                - PROJECT
                                - REPORTING_TAG
                                - SUBSIDIARY
                                - TAX_CODE
                                - UNIT_OF_MEASURE
                                type:
                                - 'null'
                                - string
                            required:
                            - external_id
                            - id
                            - name
                            - type
                            type: object
                          description: Information about the parent accounting category.
                        external_code:
                          description: External code displayed in the ERP for this option.
                          type:
                          - 'null'
                          - string
                        external_id:
                          description: External ID that uniquely identifies this option in the ERP.
                          type:
                          - 'null'
                          - string
                        id:
                          description: Unique identifier for this option within Ramp.
                          type:
                          - 'null'
                          - string
                        name:
                          description: Name of the accounting field option.
                          type:
                          - 'null'
                          - string
                        provider_name:
                          description: Name of accounting field provider
                          type:
                          - 'null'
                          - string
                        source:
                          allOf:
                          - properties:
                              type:
                                description: Describes the type of source that added this selection.
                                type: string
                            type: object
                          description: Source of this accounting coding selection.
                        type:
                          description: Type of accounting field.
                          enum:
                          - AMORTIZATION_TEMPLATE
                          - BILLABLE
                          - COST_CENTER
                          - CUSTOMERS_JOBS
                          - DEFERRAL_CODE
                          - EXPENSE_ENTITY
                          - GL_ACCOUNT
                          - INVENTORY_ITEM
                          - JOURNAL
                          - MERCHANT
                          - NON_ERP
                          - OTHER
                          - PROJECT
                          - REPORTING_TAG
                          - SUBSIDIARY
                          - TAX_CODE
                          - UNIT_OF_MEASURE
                          type:
                          - 'null'
                          - string
                      required:
                      - category_info
                      - external_code
                      - external_id
                      - id
                      - name
                      - provider_name
                      - source
                      - type
                      type: object
                    type: array
                  amount:
                    allOf:
                    - properties:
                        amount:
                          description: the amount of money represented in the smallest denomination of the currency. For example,
                            when the currency is USD, then the amount is expressed in cents.
                          type: integer
                        currency_code:
                          default: USD
                          description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                          type: string
                        minor_unit_conversion_rate:
                          description: The conversion factor to convert from the integer amount to the actual currency value.
                            Divide amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034
                            / 100 = 120.34 USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                          type:
                          - 'null'
                          - integer
                      required:
                      - amount
                      - currency_code
                      - minor_unit_conversion_rate
                      type: object
                    description: Amount of the line item.
                  memo:
                    description: Memo text for this line item.
                    type:
                    - 'null'
                    - string
                required:
                - accounting_field_selections
                - amount
                - memo
                type: object
              type: array
            memo:
              description: Reimbursement memo
              type:
              - 'null'
              - string
            merchant:
              description: The name of the merchant that the reimbursement is associated with.
              type:
              - 'null'
              - string
            merchant_id:
              description: The unique identifier of the merchant. Note that this field may be empty when merchant is populated
                if Ramp does not recognize the merchant.
              format: uuid
              type:
              - 'null'
              - string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: merchants
                type: many-to-one
            original_reimbursement_amount:
              allOf:
              - properties:
                  amount:
                    description: the amount of money represented in the smallest denomination of the currency. For example,
                      when the currency is USD, then the amount is expressed in cents.
                    type: integer
                  currency_code:
                    default: USD
                    description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                    type: string
                  minor_unit_conversion_rate:
                    description: The conversion factor to convert from the integer amount to the actual currency value. Divide
                      amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034 / 100 = 120.34
                      USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                    type:
                    - 'null'
                    - integer
                required:
                - amount
                - currency_code
                - minor_unit_conversion_rate
                type: object
              description: Original reimbursement amount before the currency conversion.
            payee_amount:
              allOf:
              - properties:
                  amount:
                    description: the amount of money represented in the smallest denomination of the currency. For example,
                      when the currency is USD, then the amount is expressed in cents.
                    type: integer
                  currency_code:
                    default: USD
                    description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                    type: string
                  minor_unit_conversion_rate:
                    description: The conversion factor to convert from the integer amount to the actual currency value. Divide
                      amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034 / 100 = 120.34
                      USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                    type:
                    - 'null'
                    - integer
                required:
                - amount
                - currency_code
                - minor_unit_conversion_rate
                type: object
              description: Amount and currency received by the payee.
            payment_batch_id:
              description: The unique identifier of the reimbursement payment batch that the reimbursement is associated with.
              format: uuid
              type:
              - 'null'
              - string
            payment_id:
              description: The unique identifier of the payment batch that the reimbursement is associated with, once paid.
              type:
              - 'null'
              - string
            payment_processed_at:
              description: Time of reimbursement payment. Presented in ISO8601 format.
              format: date-time
              type:
              - 'null'
              - string
            receipts:
              items:
                format: uuid
                type: string
              type: array
            spend_limit_id:
              description: Spend limit to which the reimbursement is attributed, if it exists.
              format: uuid
              type:
              - 'null'
              - string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: limits
                type: many-to-one
            start_location:
              description: Starting location of the trip, for mileage reimbursements.
              type:
              - 'null'
              - string
            state:
              description: current state of the reimbursement.
              enum:
              - APPROVED
              - AWAITING_EXPORT
              - AWAITING_PAYMENT
              - AWAITING_PUSH_PAYMENT
              - CANCELED
              - DELETED
              - DRAFT
              - EXPORTED
              - EXPORT_FAILED
              - EXPORT_INITIATED
              - EXPORT_MARKED_AS_FAILED
              - EXPORT_SUCCESSFUL
              - FAILED_REIMBURSEMENT
              - INIT
              - MANUALLY_REIMBURSED
              - MISSING_ACH
              - PENDING
              - PROCESSING
              - PUSH_PAYMENT_FAILED
              - PUSH_PAYMENT_INITIATED
              - REIMBURSED
              - REIMBURSED_VIA_PUSH
              - REJECTED
              type: string
              x-enum-descriptions:
                APPROVED: Approved
                AWAITING_EXPORT: Ready to export
                AWAITING_PAYMENT: Awaiting Payment
                AWAITING_PUSH_PAYMENT: Ready to pay
                CANCELED: Canceled
                DELETED: Deleted
                DRAFT: Draft
                EXPORTED: Exported for payment
                EXPORT_FAILED: Payment failed
                EXPORT_INITIATED: Payment initiated
                EXPORT_MARKED_AS_FAILED: Marked as failed
                EXPORT_SUCCESSFUL: Payment successful
                FAILED_REIMBURSEMENT: Payment Error
                INIT: Init
                MANUALLY_REIMBURSED: Paid outside of Ramp
                MISSING_ACH: Missing ACH
                PENDING: Pending Review
                PROCESSING: Payment Processing
                PUSH_PAYMENT_FAILED: Payment failed
                PUSH_PAYMENT_INITIATED: Scheduled
                REIMBURSED: Paid
                REIMBURSED_VIA_PUSH: Paid
                REJECTED: Rejected
            submitted_at:
              description: Time when reimbursement was most recently submitted
              format: date-time
              type:
              - 'null'
              - string
            sync_status:
              description: Current sync status of the reimbursement.
              enum:
              - NOT_SYNC_READY
              - SYNCED
              - SYNC_READY
              type: string
            synced_at:
              description: Time when reimbursement has been synced. Will be None if the reimbursement is not synced.
              format: date-time
              type:
              - 'null'
              - string
            trace_id:
              allOf:
              - properties:
                  descriptor:
                    default: null
                    description: Human-readable description of the bank reference. For example, 'Trace ID', 'IMAD number',
                      or 'Reference number'.
                    type:
                    - 'null'
                    - string
                  trace_id:
                    default: null
                    description: The bank-facing accountability reference for the reimbursement payment.
                    type:
                    - 'null'
                    - string
                required:
                - descriptor
                - trace_id
                type: object
              description: The bank-facing accountability reference for this reimbursement payment, when available. Depending
                on the payment rail, this may be a trace ID, IMAD number, or reference number. This field is returned on reimbursement
                detail responses.
            transaction_date:
              format: date
              type:
              - 'null'
              - string
            trip_id:
              description: Trip ID associated with the reimbursement if a Trip ID is available.
              format: uuid
              type:
              - 'null'
              - string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: trips
                type: many-to-one
            type:
              description: The type of the reimbursement.
              enum:
              - MILEAGE
              - OUT_OF_POCKET
              - PAYBACK_FULL
              - PAYBACK_PARTIAL
              - PER_DIEM
              type: string
            updated_at:
              description: Time at which the reimbursement was last updated. Presented in ISO8601 format.
              format: date-time
              type:
              - 'null'
              - string
            user_email:
              description: Email of the person who made the reimbursement.
              type: string
            user_full_name:
              description: Full name of the person who made the reimbursement.
              type: string
            user_id:
              description: Unique identifier of the person who made the reimbursement.
              format: uuid
              type: string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: users
                type: many-to-one
            waypoints:
              description: List of intermediate stops during the trip, for mileage reimbursements.
              items:
                type: string
              type: array
          required:
          - accounting_date
          - accounting_field_selections
          - amount
          - approved_at
          - attendees
          - created_at
          - currency
          - direction
          - distance
          - employee_id
          - end_location
          - entity_id
          - id
          - line_items
          - memo
          - merchant
          - merchant_id
          - original_reimbursement_amount
          - payee_amount
          - payment_batch_id
          - payment_id
          - payment_processed_at
          - receipts
          - spend_limit_id
          - start_location
          - state
          - submitted_at
          - sync_status
          - synced_at
          - transaction_date
          - trip_id
          - type
          - updated_at
          - user_email
          - user_full_name
          - user_id
          - waypoints
          type: object
          x-resource-name: reimbursements
          additionalProperties: true
          $schema: http://json-schema.org/draft-07/schema#
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        datetime_format: '%Y-%m-%dT%H:%M:%S%z'
        cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%S%z'
        - '%Y-%m-%dT%H:%M:%S.%f%z'
        - '%Y-%m-%dT%H:%M:%SZ'
        - '%Y-%m-%dT%H:%M:%S.%fZ'
        lookback_window: P{{ config.get('lookback_window_days', 30) }}D
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config[''start_date''] }}'
          datetime_format: '%Y-%m-%dT%H:%M:%SZ'
        end_datetime:
          type: MinMaxDatetime
          datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
          datetime_format: '%Y-%m-%dT%H:%M:%SZ'
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
    bills:
      type: DeclarativeStream
      name: bills
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: bills
        record_selector:
          $ref: '#/definitions/base_record_selector'
        paginator:
          $ref: '#/definitions/base_paginator'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          properties:
            accounting_date:
              description: The date for the bill for accounting purposes. If not specified, falls back to the bill issue date.
              format: date-time
              type: string
            accounting_field_selections:
              description: List of accounting field options selected to code the bill.
              items:
                properties:
                  category_info:
                    allOf:
                    - properties:
                        external_id:
                          description: external id of accounting field; It should uniquely identify an accounting field on
                            the client end.
                          type: string
                        id:
                          description: ID that uniquely identifies an accounting field within Ramp
                          type: string
                        name:
                          description: name of accounting field
                          type: string
                        type:
                          description: accounting field type
                          enum:
                          - AMORTIZATION_TEMPLATE
                          - BILLABLE
                          - COST_CENTER
                          - CUSTOMERS_JOBS
                          - DEFERRAL_CODE
                          - EXPENSE_ENTITY
                          - GL_ACCOUNT
                          - INVENTORY_ITEM
                          - JOURNAL
                          - MERCHANT
                          - NON_ERP
                          - OTHER
                          - PROJECT
                          - REPORTING_TAG
                          - SUBSIDIARY
                          - TAX_CODE
                          - UNIT_OF_MEASURE
                          type: string
                      required:
                      - external_id
                      - id
                      - name
                      - type
                      type: object
                    description: information about the accounting category (or accounting field).
                  external_code:
                    description: external code of accounting field option; Code field displayed on the ERP.
                    type:
                    - 'null'
                    - string
                  external_id:
                    description: external id of accounting field option; It should uniquely identify an accounting field option
                      on the client end.
                    type: string
                  id:
                    description: ID that uniquely identifies an accounting field option within Ramp
                    type: string
                  name:
                    description: name of accounting field option
                    type: string
                  provider_name:
                    description: Name of the accounting provider
                    type:
                    - 'null'
                    - string
                required:
                - category_info
                - external_id
                - id
                - name
                - provider_name
                type: object
              type: array
            amount:
              allOf:
              - properties:
                  amount:
                    description: the amount of money represented in the smallest denomination of the currency. For example,
                      when the currency is USD, then the amount is expressed in cents.
                    type: integer
                  currency_code:
                    default: USD
                    description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                    type: string
                  minor_unit_conversion_rate:
                    description: The conversion factor to convert from the integer amount to the actual currency value. Divide
                      amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034 / 100 = 120.34
                      USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                    type:
                    - 'null'
                    - integer
                required:
                - amount
                - currency_code
                - minor_unit_conversion_rate
                type: object
              description: Amount of the bill, represented in the lowest denomination of the currency (e.g., cents for USD).
            applied_vendor_credits:
              description: Vendor Credits that have been applied to this Bill
              items:
                properties:
                  amount:
                    allOf:
                    - properties:
                        amount:
                          description: the amount of money represented in the smallest denomination of the currency. For example,
                            when the currency is USD, then the amount is expressed in cents.
                          type: integer
                        currency_code:
                          default: USD
                          description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                          type: string
                        minor_unit_conversion_rate:
                          description: The conversion factor to convert from the integer amount to the actual currency value.
                            Divide amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034
                            / 100 = 120.34 USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                          type:
                          - 'null'
                          - integer
                      required:
                      - amount
                      - currency_code
                      - minor_unit_conversion_rate
                      type: object
                    description: Amount of the Vendor Credit applied to this specific bill. This is not necessarily the entire
                      amount of the Vendor Credit itself. Currently only USD is supported for Vendor Credits.
                  id:
                    description: Unique identifier for the vendor credit
                    type: string
                required:
                - amount
                - id
                type: object
              type: array
            approval_status:
              description: Approval status of the bill. Note that this is separate from the approval status for payment release.
              enum:
              - APPROVED
              - INITIALIZED
              - PENDING
              - REJECTED
              - TERMINATED
              type:
              - 'null'
              - string
            archived_at:
              description: The datetime the bill was archived.
              format: date-time
              type:
              - 'null'
              - string
            bill_owner:
              allOf:
              - properties:
                  first_name:
                    description: Bill owner's first name.
                    type: string
                  id:
                    description: Bill owner's ID.
                    format: uuid
                    type: string
                    x-relationship:
                      inverse_field_name: null
                      reference_field_name: id
                      target_resource: users
                      type: many-to-one
                  last_name:
                    description: Bill owner's last name.
                    type: string
                required:
                - id
                type: object
              description: Information about the bill owner.
            created_at:
              format: date-time
              type: string
            deep_link_url:
              description: Link to bill in ERP, if exists.
              type: string
            draft_bill_created_at:
              description: The date the draft bill was created if this bill was created from a draft bill, otherwise None.
              format: date-time
              type:
              - 'null'
              - string
            draft_bill_id:
              description: Unique identifier of the draft bill this bill was created from, if one exists.
              format: uuid
              type:
              - 'null'
              - string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: draft_bills
                type: many-to-one
            due_at:
              format: date-time
              type: string
            enable_accounting_sync:
              description: Flag specifying whether the bill should sync to the ERP
              type: boolean
            entity_id:
              description: Associated business entity.
              format: uuid
              type: string
              x-relationship:
                inverse_field_name: null
                reference_field_name: id
                target_resource: entities
                type: many-to-one
            fx_conversion_rate:
              description: FX conversion rate from bill invoice currency to payer currency.
              format: decimal
              type: string
            id:
              format: uuid
              type: string
            inventory_line_items:
              description: List of inventory line items related to the bill.
              items:
                properties:
                  accounting_field_selections:
                    description: List of accounting field options selected to code the line item.
                    items:
                      properties:
                        category_info:
                          allOf:
                          - properties:
                              external_id:
                                description: external id of accounting field; It should uniquely identify an accounting field
                                  on the client end.
                                type: string
                              id:
                                description: ID that uniquely identifies an accounting field within Ramp
                                type: string
                              name:
                                description: name of accounting field
                                type: string
                              type:
                                description: accounting field type
                                enum:
                                - AMORTIZATION_TEMPLATE
                                - BILLABLE
                                - COST_CENTER
                                - CUSTOMERS_JOBS
                                - DEFERRAL_CODE
                                - EXPENSE_ENTITY
                                - GL_ACCOUNT
                                - INVENTORY_ITEM
                                - JOURNAL
                                - MERCHANT
                                - NON_ERP
                                - OTHER
                                - PROJECT
                                - REPORTING_TAG
                                - SUBSIDIARY
                                - TAX_CODE
                                - UNIT_OF_MEASURE
                                type: string
                            required:
                            - external_id
                            - id
                            - name
                            - type
                            type: object
                          description: information about the accounting category (or accounting field).
                        external_code:
                          description: external code of accounting field option; Code field displayed on the ERP.
                          type:
                          - 'null'
                          - string
                        external_id:
                          description: external id of accounting field option; It should uniquely identify an accounting field
                            option on the client end.
                          type: string
                        id:
                          description: ID that uniquely identifies an accounting field option within Ramp
                          type: string
                        name:
                          description: name of accounting field option
                          type: string
                        provider_name:
                          description: Name of the accounting provider
                          type:
                          - 'null'
                          - string
                      required:
                      - category_info
                      - external_id
                      - id
                      - name
                      - provider_name
                      type: object
                    type: array
                  amount:
                    allOf:
                    - properties:
                        amount:
                          description: the amount of money represented in the smallest denomination of the currency. For example,
                            when the currency is USD, then the amount is expressed in cents.
                          type: integer
                        currency_code:
                          default: USD
                          description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                          type: string
                        minor_unit_conversion_rate:
                          description: The conversion factor to convert from the integer amount to the actual currency value.
                            Divide amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034
                            / 100 = 120.34 USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                          type:
                          - 'null'
                          - integer
                      required:
                      - amount
                      - currency_code
                      - minor_unit_conversion_rate
                      type: object
                    description: Amount of the line item, equal to the product of unit quantity and unit price, represented
                      in the lowest denomination of the currency (e.g., cents for USD).
                  item_receipt_line_item_ids:
                    description: List of unique identifiers for item receipt line items associated with this bill inventory
                      line item through the purchase order line item
                    items:
                      format: uuid
                      type: string
                    type: array
                  memo:
                    description: Memo of the line item
                    type: string
                  purchase_order_line_item_id:
                    description: Unique identifier of the matched purchase order line item, if any
                    format: uuid
                    type:
                    - 'null'
                    - string
                  quantity:
                    description: Quantity of the line item
                    type: number
                  unit_price:
                    allOf:
                    - properties:
                        amount:
                          description: the amount of money represented in the smallest denomination of the currency. For example,
                            when the currency is USD, then the amount is expressed in cents.
                          type: integer
                        currency_code:
                          default: USD
                          description: The type of currency, in ISO 4217 format. e.g. USD for US dollars
                          type: string
                        minor_unit_conversion_rate:
                          description: The conversion factor to convert from the integer amount to the actual currency value.
                            Divide amount by this value to get the real currency amount. For USD, this is 100 (e.g., 12034
                            / 100 = 120.34 USD). See https://docs.ramp.com/developer-api/v1/monetary-values for more information.
                          type:
                          - 'null'
                          - integer
                      required:
                      - amount
                      - currency_code
                      - minor_unit_conversion_rate
                      type: object
                    description: Unit price of the line item, represented in the lowest denomination of the currency (e.g.,
                      cents for USD).
                required:
                - accounting_field_selections
                - amount
                - item_receipt_line_item_ids
                - purchase_order_line_item_id
                - quantity
                - unit_price
                type: object
              type: array
            invoice_number:
              description: The invoice number on the bill.
              type: string
            invoice_urls:
              description: Pre-signed urls to download invoice files.
              items:
                type: string
              type: array
            issued_at:
              description: The date the bill was issued on invoice.
              format: date-time
              type: string
            item_receipt_ids:
              description: List of unique identifiers for item receipts associated with this bill through matched purchase
                orders.
              items:
                format: uuid
                type: string
                x-relationship:
                  inverse_field_name: null
                  reference_field_name: id
                  target_resource: item_receipts
                  type: many-to-many
              type: array
            line_items:
              description: List of line items related to the bill.
              items:
                properties:
                  accounting_field_selections:
                    description: List of accounting field options selected to code the line item.
                    items:
                      properties:
                        category_info:
                          allOf:
                          - properties:
                              external_id:
                                description: external id of accounting field; It should uniquely identify an accounting field
                                  on the client end.
                                type: string
                              id:
                                description: ID that uniquely identifies an accounting field within Ramp
                                type: string
                              name:
                                description: name of accounting field
                                type: string
                              type:
                                description: accounting field type
                                enum:
                                - AMORTIZATION_TEMPLATE
                                - BILLABLE
                                - COST_CENTER
                                - CUSTOMERS_JOBS
                                - DEFERRAL_CODE
                                - EXPENSE_ENTITY
                                - GL_ACCOUNT
                                - INVENTORY_ITEM
                                - JOURNAL
                                - MERCHANT
                                - NON_ERP
                                - OTHER
                                - PROJECT
                                - REPORTING_TAG
                                - SUBSIDIARY
                                - TAX_CODE
                                - UNIT_OF_MEASURE
                                type: string
                            required:
                            - external_id
                            - id
                            - name
                            - type
                            type: object
                          description: information about the accounting category (or accounting field).
                        external_code:
                          description: external code of accounting field option; Code field displayed on the ERP.
                          type:
                          - 'null'
                          - string
                        external_id:
                          description: external id of accounting field option; It should uniquely identify an accounting field
                            option on the client end.
                          type: string
                        id:
                          description: ID that uniquely identifies an accounting field option within Ramp
                          type: string
                        name:
                          description: name of accounting field option
                          type: string
                        provider_name:
                          description: Name of the accounting provider
                          type:
                          - 'null'
                          - string
                      required:
                      - category_info
                      - external_id
                      - id
                      - name
                      - provider_name
                      type: object
                    type: array
                  amount:
                    allOf:
[...]
