version: 5.15.0

type: DeclarativeSource

description: >-
  Less Annoying CRM connector  enables seamless data integration, allowing users
  to easily sync customer relationship management data into their data
  warehouses or analytics tools. This connector facilitates efficient tracking
  of customer information, interactions, and leads, helping businesses
  centralize CRM data for enhanced analysis and insights.

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            Function: GetUsers
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - ContactId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            Function: GetContacts
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    tasks:
      type: DeclarativeStream
      name: tasks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            Function: GetTasks
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Results
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DateCreated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date_2\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: StartDate
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: EndDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    pipeline_items:
      type: DeclarativeStream
      name: pipeline_items
      primary_key:
        - PipelineItemId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_parameters:
            ContactId: "{{ stream_partition.Contact }}"
          request_headers:
            Content-Type: application/json
          request_body_json:
            Function: GetPipelineItemsAttachedToContact
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - PipelineItems
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: ContactId
              partition_field: Contact
              stream:
                $ref: "#/definitions/streams/contacts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipeline_items"
    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - NoteId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_body_json:
            Function: GetNotes
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notes"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - TeamId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_body_json:
            Function: GetTeams
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - EventId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_body_json:
            Function: GetEvents
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DateUpdated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date_2\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: StartDate
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: EndDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    contact_events:
      type: DeclarativeStream
      name: contact_events
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_parameters:
            ContactId: "{{ stream_partition.Contact }}"
          request_body_json:
            Function: GetEventsAttachedToContact
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: ContactId
              partition_field: Contact
              stream:
                $ref: "#/definitions/streams/contacts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_events"
  base_requester:
    type: HttpRequester
    url_base: https://api.lessannoyingcrm.com/v2
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/pipeline_items"
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/contact_events"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date_2
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Manage and create your API keys on the Programmer API
          settings page at https://account.lessannoyingcrm.com/app/Settings/Api.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      start_date_2:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    users: true
    contacts: true
    tasks: true
    pipeline_items: true
    notes: true
    teams: true
    events: true
    contact_events: true
  testedStreams:
    users:
      hasRecords: true
      streamHash: b66bbc7615b31cd739890e9093e3867592c6be2e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      streamHash: 9abeb4854842c3fa39e6d15428806e248d53ae04
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tasks:
      streamHash: 85335c1cb11a735dfabdc79963382694d882e594
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pipeline_items:
      streamHash: 35d8b6372cd146f9e536c0ed5aa9f9e1d96e5709
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    notes:
      streamHash: 41129ac7c753011e3133357ea684bade5fd8b81a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: d1bb0444059525f8891bab62538a4a28bd9dee5f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: b1f1447c58fed5dba39ce929b52bec235dfab8f4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contact_events:
      streamHash: 65c26e37835dc0941967e83510ff7c3064fa971f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: >-
      https://account.lessannoyingcrm.com/api_docs/v2/Getting_Started/Introduction

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      FirstName:
        type:
          - string
          - "null"
      LastName:
        type:
          - string
          - "null"
      Timezone:
        type:
          - string
          - "null"
      UserId:
        type:
          - string
          - "null"
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Address:
        type:
          - array
          - "null"
      AssignedTo:
        type:
          - number
          - "null"
      Background Info:
        type:
          - string
          - "null"
      Company Name:
        type:
          - string
          - "null"
      CompanyId:
        type:
          - string
          - "null"
      CompanyMetaData:
        type:
          - object
          - "null"
        properties:
          CompanyName:
            type:
              - string
              - "null"
      ContactId:
        type: string
      DateCreated:
        type:
          - string
          - "null"
      Email:
        type:
          - array
          - "null"
      IsCompany:
        type:
          - boolean
          - "null"
      Job Title:
        type:
          - string
          - "null"
      LastUpdate:
        type:
          - string
          - "null"
      Name:
        type:
          - object
          - "null"
        properties:
          FirstName:
            type:
              - string
              - "null"
          LastName:
            type:
              - string
              - "null"
          MiddleName:
            type:
              - string
              - "null"
          Salutation:
            type:
              - string
              - "null"
          Suffix:
            type:
              - string
              - "null"
      Phone:
        type:
          - array
          - "null"
      UserMetaData:
        type:
          - object
          - "null"
        properties:
          FirstName:
            type:
              - string
              - "null"
          LastName:
            type:
              - string
              - "null"
      Website:
        type:
          - array
          - "null"
    required:
      - ContactId
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AssignedTo:
        type:
          - string
          - "null"
      AssignedToMetaData:
        type:
          - object
          - "null"
        properties:
          FirstName:
            type:
              - string
              - "null"
          LastName:
            type:
              - string
              - "null"
      CalendarId:
        type:
          - string
          - "null"
      ContactId:
        type:
          - string
          - "null"
      ContactMetaData:
        type:
          - object
          - "null"
        properties:
          AssignedTo:
            type:
              - string
              - "null"
          Name:
            type:
              - string
              - "null"
      DateCreated:
        type: string
      Description:
        type:
          - string
          - "null"
      DueDate:
        type:
          - string
          - "null"
      IsCompleted:
        type:
          - boolean
          - "null"
      Name:
        type:
          - string
          - "null"
      TaskId:
        type:
          - string
          - "null"
    required:
      - DateCreated
  pipeline_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ContactId:
        type:
          - string
          - "null"
      ContactMetaData:
        type:
          - object
          - "null"
        properties:
          AssignedTo:
            type:
              - string
              - "null"
          Name:
            type:
              - string
              - "null"
      CreatedBy:
        type:
          - string
          - "null"
      DateCreated:
        type:
          - string
          - "null"
      LastNote:
        type:
          - string
          - "null"
      LastUpdate:
        type:
          - string
          - "null"
      LastUpdatedBy:
        type:
          - string
          - "null"
      NumberOfUpdates:
        type:
          - number
          - "null"
      PipelineId:
        type:
          - string
          - "null"
      PipelineItemId:
        type: string
      PipelineMetaData:
        type:
          - object
          - "null"
        properties:
          Name:
            type:
              - string
              - "null"
      StatusId:
        type:
          - string
          - "null"
      StatusMetaData:
        type:
          - object
          - "null"
        properties:
          Name:
            type:
              - string
              - "null"
    required:
      - PipelineItemId
  notes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ContactId:
        type:
          - string
          - "null"
      ContactMetaData:
        type:
          - object
          - "null"
        properties:
          AssignedTo:
            type:
              - string
              - "null"
          Name:
            type:
              - string
              - "null"
      DateCreated:
        type:
          - string
          - "null"
      DateDisplayedInHistory:
        type:
          - string
          - "null"
      IsRichText:
        type:
          - boolean
          - "null"
      Note:
        type:
          - string
          - "null"
      NoteId:
        type: string
      PipelineInfo:
        type:
          - object
          - "null"
        properties:
          PipelineId:
            type:
              - string
              - "null"
          PipelineItemId:
            type:
              - string
              - "null"
          PipelineMetaData:
            type:
              - object
              - "null"
            properties:
              Name:
                type:
                  - string
                  - "null"
          StatusId:
            type:
              - string
              - "null"
          StatusMetaData:
            type:
              - object
              - "null"
            properties:
              Name:
                type:
                  - string
                  - "null"
      UserId:
        type:
          - string
          - "null"
      UserMetaData:
        type:
          - object
          - "null"
        properties:
          FirstName:
            type:
              - string
              - "null"
          LastName:
            type:
              - string
              - "null"
    required:
      - NoteId
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      DateCreated:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      TeamId:
        type: string
      UserIds:
        type:
          - array
          - "null"
    required:
      - TeamId
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Attendees:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            AttendanceStatus:
              type:
                - string
                - "null"
            AttendeeId:
              type:
                - string
                - "null"
            IsUser:
              type:
                - boolean
                - "null"
      CalendarMetaData:
        type:
          - object
          - "null"
        properties:
          Name:
            type:
              - string
              - "null"
      ContactIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      ContactMetaData:
        type:
          - array
          - "null"
      DateCreated:
        type:
          - string
          - "null"
      DateUpdated:
        type: string
      Description:
        type:
          - string
          - "null"
      EndDate:
        type:
          - string
          - "null"
      EventId:
        type: string
      IsAllDay:
        type:
          - boolean
          - "null"
      IsRecurring:
        type:
          - boolean
          - "null"
      Location:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      RecurrenceRule:
        type:
          - string
          - "null"
      SeriesNumber:
        type:
          - number
          - "null"
      StartDate:
        type:
          - string
          - "null"
      UserIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      UserMetaData:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            FirstName:
              type:
                - string
                - "null"
            LastName:
              type:
                - string
                - "null"
    required:
      - EventId
      - DateUpdated
  contact_events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Attendees:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            AttendanceStatus:
              type:
                - string
                - "null"
            AttendeeId:
              type:
                - string
                - "null"
            IsUser:
              type:
                - boolean
                - "null"
      CalendarMetaData:
        type:
          - object
          - "null"
        properties:
          Name:
            type:
              - string
              - "null"
      ContactIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      ContactMetaData:
        type:
          - array
          - "null"
      DateCreated:
        type:
          - string
          - "null"
      DateUpdated:
        type:
          - string
          - "null"
      Description:
        type:
          - string
          - "null"
      EndDate:
        type:
          - string
          - "null"
      EventId:
        type:
          - string
          - "null"
      IsAllDay:
        type:
          - boolean
          - "null"
      IsRecurring:
        type:
          - boolean
          - "null"
      Location:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      RecurrenceRule:
        type:
          - string
          - "null"
      SeriesNumber:
        type:
          - number
          - "null"
      StartDate:
        type:
          - string
          - "null"
      UserIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      UserMetaData:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            FirstName:
              type:
                - string
                - "null"
            LastName:
              type:
                - string
                - "null"
