version: 5.15.0

type: DeclarativeSource

description: >-
  Finnhub is a financial data platform that provides real-time stock market,
  forex, and cryptocurrency data, along with extensive fundamental data,
  economic indicators, and alternative data for global markets. With its
  powerful API, Finnhub delivers actionable insights, enabling developers,
  financial institutions, and traders to integrate market intelligence into
  their applications, build trading algorithms, and track investment
  performance. It supports a wide range of financial metrics, including earnings
  reports, company profiles, and news, making it a comprehensive solution for
  financial analysis and market research

check:
  type: CheckStream
  stream_names:
    - marketnews

definitions:
  streams:
    marketnews:
      type: DeclarativeStream
      name: marketnews
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /news?category=general
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/marketnews"
    secfilings:
      type: DeclarativeStream
      name: secfilings
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/filings?={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/secfilings"
    stockquote:
      type: DeclarativeStream
      name: stockquote
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /quote?symbol={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stockquote"
    companynews:
      type: DeclarativeStream
      name: companynews
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /company-news?symbol={{config['company_symbol']}}&from={{config['start_date']}}&to={{config['end_date']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companynews"
    stocksymbols:
      type: DeclarativeStream
      name: stocksymbols
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/symbol?exchange=US
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stocksymbols"
    companyprofile:
      type: DeclarativeStream
      name: companyprofile
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/profile2?symbol={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - ticker
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companyprofile"
    basicfinancials:
      type: DeclarativeStream
      name: basicfinancials
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/financials-reported?symbol={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - cik
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basicfinancials"
    insidersentiment:
      type: DeclarativeStream
      name: insidersentiment
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/insider-sentiment?symbol={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/insidersentiment"
    earningssurprises:
      type: DeclarativeStream
      name: earningssurprises
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/earnings?symbol={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/earningssurprises"
    financialsreported:
      type: DeclarativeStream
      name: financialsreported
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/financials-reported?symbol={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - cik
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/financialsreported"
    insidertransactions:
      type: DeclarativeStream
      name: insidertransactions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/insider-transactions?symbol={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/insidertransactions"
    stockrecommendations:
      type: DeclarativeStream
      name: stockrecommendations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock/recommendation?symbol={{config['company_symbol']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stockrecommendations"
  base_requester:
    type: HttpRequester
    url_base: https://finnhub.io/api/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: token
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/marketnews"
  - $ref: "#/definitions/streams/stocksymbols"
  - $ref: "#/definitions/streams/basicfinancials"
  - $ref: "#/definitions/streams/financialsreported"
  - $ref: "#/definitions/streams/companyprofile"
  - $ref: "#/definitions/streams/secfilings"
  - $ref: "#/definitions/streams/insidertransactions"
  - $ref: "#/definitions/streams/insidersentiment"
  - $ref: "#/definitions/streams/companynews"
  - $ref: "#/definitions/streams/stockrecommendations"
  - $ref: "#/definitions/streams/earningssurprises"
  - $ref: "#/definitions/streams/stockquote"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - end_date
      - start_date
      - company_symbol
    properties:
      api_key:
        type: string
        description: The API key to use for authentication
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      end_date:
        type: string
        name: end_date
        order: 1
        title: end_date
      start_date:
        type: string
        name: start_date
        order: 2
        title: start_date
      company_symbol:
        type: string
        name: company_symbol
        order: 3
        title: company_symbol
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://finnhub.io/docs/api/
  testedStreams:
    marketnews:
      hasRecords: true
      streamHash: 6a1cf7b2b2f05e5c8f7580d12bb2dc20337eaee1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    secfilings:
      hasRecords: true
      streamHash: b8da4e9b3f91bfccaaff8a206127e31dea4029a3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stockquote:
      hasRecords: true
      streamHash: 9076f16b7a40f1bb244d87ee748c96d337f43d34
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    companynews:
      hasRecords: true
      streamHash: 1d5f4e4b39c41defdcb61854aea0a4076ac84fe6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stocksymbols:
      hasRecords: true
      streamHash: e203031289abb8fa551cf36e2c2363f56b2db675
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    companyprofile:
      hasRecords: true
      streamHash: 81a43d98132c2789701f7fbd6cafce3857c229cd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    basicfinancials:
      hasRecords: true
      streamHash: 9198cf40dd3b291a4c0342e0aaeb4b17b457dfaf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    insidersentiment:
      hasRecords: true
      streamHash: 9554f609f59a1cf9528b77d9e48add8681b7f530
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    earningssurprises:
      hasRecords: true
      streamHash: e5020e33d8c3ae8976eb74afffd9a7c2199dcc95
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    financialsreported:
      hasRecords: true
      streamHash: edd0655c474c4544a3540d159be66f7bc571764d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    insidertransactions:
      hasRecords: true
      streamHash: 9e6bf0926d8279946ca57c6b01de9d6cca8e1ace
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stockrecommendations:
      hasRecords: true
      streamHash: 41791dd14796cd3f9eda43d592764544c73bae62
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    marketnews: true
    secfilings: true
    stockquote: true
    companynews: true
    stocksymbols: true
    companyprofile: true
    basicfinancials: false
    insidersentiment: false
    earningssurprises: false
    financialsreported: false
    insidertransactions: false
    stockrecommendations: false

schemas:
  marketnews:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      url:
        type:
          - string
          - "null"
      image:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      related:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      datetime:
        type:
          - number
          - "null"
      headline:
        type:
          - string
          - "null"
    additionalProperties: true
  secfilings:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      cik:
        type:
          - string
          - "null"
      form:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
      filedDate:
        type:
          - string
          - "null"
      filingUrl:
        type:
          - string
          - "null"
      reportUrl:
        type:
          - string
          - "null"
      acceptedDate:
        type:
          - string
          - "null"
      accessNumber:
        type:
          - string
          - "null"
    additionalProperties: true
  stockquote:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      c:
        type:
          - number
          - "null"
      d:
        type:
          - number
          - "null"
      h:
        type:
          - number
          - "null"
      l:
        type:
          - number
          - "null"
      o:
        type:
          - number
          - "null"
      t:
        type:
          - number
          - "null"
      dp:
        type:
          - number
          - "null"
      pc:
        type:
          - number
          - "null"
    additionalProperties: true
  companynews:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - number
          - "null"
      url:
        type:
          - string
          - "null"
      image:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      related:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      datetime:
        type:
          - number
          - "null"
      headline:
        type:
          - string
          - "null"
    additionalProperties: true
  stocksymbols:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      mic:
        type:
          - string
          - "null"
      figi:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
      symbol2:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      displaySymbol:
        type:
          - string
          - "null"
      shareClassFIGI:
        type:
          - string
          - "null"
    additionalProperties: true
  companyprofile:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ticker
    properties:
      ipo:
        type:
          - string
          - "null"
      logo:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      ticker:
        type: string
      weburl:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      finnhubIndustry:
        type:
          - string
          - "null"
      estimateCurrency:
        type:
          - string
          - "null"
      shareOutstanding:
        type:
          - number
          - "null"
      marketCapitalization:
        type:
          - number
          - "null"
    additionalProperties: true
  basicfinancials:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties: {}
    additionalProperties: true
  insidersentiment:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            mspr:
              type:
                - number
                - "null"
            year:
              type:
                - number
                - "null"
            month:
              type:
                - number
                - "null"
            change:
              type:
                - number
                - "null"
            symbol:
              type:
                - string
                - "null"
      symbol:
        type:
          - string
          - "null"
    additionalProperties: true
  earningssurprises:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      year:
        type:
          - number
          - "null"
      actual:
        type:
          - number
          - "null"
      period:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
      quarter:
        type:
          - number
          - "null"
      estimate:
        type:
          - number
          - "null"
      surprise:
        type:
          - number
          - "null"
      surprisePercent:
        type:
          - number
          - "null"
    additionalProperties: true
  financialsreported:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - cik
    properties:
      cik:
        type: string
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            cik:
              type:
                - string
                - "null"
            form:
              type:
                - string
                - "null"
            year:
              type:
                - number
                - "null"
            report:
              type:
                - object
                - "null"
              properties:
                bs:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      unit:
                        type:
                          - string
                          - "null"
                      label:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - number
                          - "null"
                      concept:
                        type:
                          - string
                          - "null"
                cf:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      unit:
                        type:
                          - string
                          - "null"
                      label:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - number
                          - "null"
                      concept:
                        type:
                          - string
                          - "null"
                ic:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      unit:
                        type:
                          - string
                          - "null"
                      label:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - number
                          - "null"
                      concept:
                        type:
                          - string
                          - "null"
            symbol:
              type:
                - string
                - "null"
            endDate:
              type:
                - string
                - "null"
            quarter:
              type:
                - number
                - "null"
            filedDate:
              type:
                - string
                - "null"
            startDate:
              type:
                - string
                - "null"
            acceptedDate:
              type:
                - string
                - "null"
            accessNumber:
              type:
                - string
                - "null"
      symbol:
        type:
          - string
          - "null"
    additionalProperties: true
  insidertransactions:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            share:
              type:
                - number
                - "null"
            change:
              type:
                - number
                - "null"
            source:
              type:
                - string
                - "null"
            symbol:
              type:
                - string
                - "null"
            currency:
              type:
                - string
                - "null"
            filingDate:
              type:
                - string
                - "null"
            isDerivative:
              type:
                - boolean
                - "null"
            transactionCode:
              type:
                - string
                - "null"
            transactionDate:
              type:
                - string
                - "null"
            transactionPrice:
              type:
                - number
                - "null"
      symbol:
        type:
          - string
          - "null"
    additionalProperties: true
  stockrecommendations:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      buy:
        type:
          - number
          - "null"
      hold:
        type:
          - number
          - "null"
      sell:
        type:
          - number
          - "null"
      period:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
      strongBuy:
        type:
          - number
          - "null"
      strongSell:
        type:
          - number
          - "null"
    additionalProperties: true
