version: 5.10.3

type: DeclarativeSource

description: >-
  The Safetyculture source connector which ingests data from the Safetyculture API.
  Safetyculture is a workplace operations platform. The source supports a number of API changes.
  For more information, checkout the website https://www.safetyculture.com/

  This source uses the Authorization Bearer Token for handling requests.
  An API Token is required for using this connector.
  For more details about the API, check out https://developer.safetyculture.com/reference/introduction

check:
  type: CheckStream
  stream_names:
    - feed_users

definitions:
  streams:
    feed_users:
      type: DeclarativeStream
      name: feed_users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /feed/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('metadata', {}).get('next_page') }}"
            stop_condition: "{{ response.get('metadata', {}).get('next_page') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/feed_users"
    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - groups
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    connections:
      type: DeclarativeStream
      name: connections
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /share/connections
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - groups
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/connections"
    heads_up:
      type: DeclarativeStream
      name: heads_up
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /announcements/v1/announcement:ListHeadsUpManage
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - heads_ups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: page_token
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/heads_up"
    assets:
      type: DeclarativeStream
      name: assets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /assets/v1/assets/list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - assets
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: page_token
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/assets"
    folders:
      type: DeclarativeStream
      name: folders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /directory/v1/folders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - folders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: page_token
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folders"
    global_response_sets:
      type: DeclarativeStream
      name: global_response_sets
      primary_key:
        - responseset_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /response_sets/v2
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response_sets
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/global_response_sets"
    schedule_items:
      type: DeclarativeStream
      name: schedule_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /schedules/v1/schedule_items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: page_token
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/schedule_items"
    actions:
      type: DeclarativeStream
      name: actions
      primary_key:
        - unique_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks/v1/actions/list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - actions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: page_token
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      transformations:
        - type: AddFields
          fields:
            - path:
                - unique_id
              value: "{{record['task']['unique_id']}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/actions"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - template_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /templates/search
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - templates
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    feed_templates:
      type: DeclarativeStream
      name: feed_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /feed/templates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('metadata', {}).get('next_page') }}"
            stop_condition: "{{ response.get('metadata', {}).get('next_page') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/feed_templates"
    issues:
      type: DeclarativeStream
      name: issues
      primary_key:
        - unique_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks/v1/incidents/list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incidents
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: page_token
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      transformations:
        - type: AddFields
          fields:
            - path:
                - unique_id
              value: "{{record['task']['unique_id']}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/issues"
  base_requester:
    type: HttpRequester
    url_base: https://api.safetyculture.io
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/feed_users"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/connections"
  - $ref: "#/definitions/streams/heads_up"
  - $ref: "#/definitions/streams/assets"
  - $ref: "#/definitions/streams/folders"
  - $ref: "#/definitions/streams/global_response_sets"
  - $ref: "#/definitions/streams/schedule_items"
  - $ref: "#/definitions/streams/actions"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/feed_templates"
  - $ref: "#/definitions/streams/issues"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    feed_users: true
    groups: false
    connections: true
    heads_up: true
    assets: true
    folders: true
    global_response_sets: true
    schedule_items: true
    actions: true
    templates: true
    feed_templates: true
    issues: true
  testedStreams:
    feed_users:
      hasRecords: true
      streamHash: fbf4f16be8839503c772a3be1f754cdddbb579ac
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    groups:
      hasRecords: true
      streamHash: 92444425dcc802dee1570910bfed220729ccf7ee
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    connections:
      hasRecords: true
      streamHash: 2265722254844ad82a2bac059b555b2fb2e8e826
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    heads_up:
      hasRecords: true
      streamHash: 0197f79c3c35855b4a5382395f34f0edea17bbbe
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    assets:
      hasRecords: true
      streamHash: 4db37744c0daa27b220727480162c4ba9f792611
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    folders:
      hasRecords: true
      streamHash: f9821a74f96239ba7b518060251e70a86845b2af
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    global_response_sets:
      hasRecords: true
      streamHash: 6f4cd77f8a14478987c2aab4f739f1ea52c990f7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    schedule_items:
      hasRecords: true
      streamHash: 3d80019d9b20550e393e332a5a3bfbed21ebce62
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    actions:
      streamHash: c1463b5f5464290ed35d498dde7dbfe3d1d2c8e9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      hasRecords: true
      streamHash: 2a884117adc409a6b0d83242e0227f40bf49fa8f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    feed_templates:
      hasRecords: true
      streamHash: a2736e1dc94a3307f61c8341b025a1972d016b3a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    issues:
      streamHash: 33815d3c0af8075389ddf6944e4b4fd0677928de
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.safetyculture.com/reference/introduction

schemas:
  feed_users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      id:
        type: string
      last_seen_at:
        type:
          - string
          - "null"
      lastname:
        type:
          - string
          - "null"
      organisation_id:
        type:
          - string
          - "null"
      seat_type:
        type:
          - string
          - "null"
    required:
      - id
  groups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  connections:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  heads_up:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      acknowledgement_count:
        type:
          - number
          - "null"
      assigned_users_count:
        type:
          - number
          - "null"
      author_id:
        type:
          - string
          - "null"
      author_name:
        type:
          - string
          - "null"
      complete:
        type:
          - boolean
          - "null"
      has_acknowledgement:
        type:
          - boolean
          - "null"
      id:
        type: string
      is_comments_disabled:
        type:
          - boolean
          - "null"
      is_reactions_disabled:
        type:
          - boolean
          - "null"
      media_type:
        type:
          - string
          - "null"
      message_count:
        type:
          - number
          - "null"
      published_at:
        type:
          - string
          - "null"
      reaction_count:
        type:
          - number
          - "null"
      title:
        type:
          - string
          - "null"
      viewed_count:
        type:
          - number
          - "null"
    required:
      - id
  assets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          type_id:
            type:
              - string
              - "null"
      code:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      fields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            field_id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      id:
        type: string
      media:
        type:
          - array
          - "null"
      modified_at:
        type:
          - string
          - "null"
      sourced_from_external_system:
        type:
          - boolean
          - "null"
      state:
        type:
          - string
          - "null"
    required:
      - id
  folders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      creator_id:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      id:
        type: string
      managers_count:
        type:
          - number
          - "null"
      members_count:
        type:
          - number
          - "null"
      meta_label:
        type:
          - string
          - "null"
      modified_at:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      org_id:
        type:
          - string
          - "null"
    required:
      - id
  global_response_sets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      responseset_id:
        type: string
    required:
      - responseset_id
  schedule_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      assignees:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      can_late_submit:
        type:
          - boolean
          - "null"
      created_at:
        type:
          - string
          - "null"
      creator:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      document:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      duration:
        type:
          - string
          - "null"
      from_date:
        type:
          - string
          - "null"
      id:
        type: string
      location_id:
        type:
          - string
          - "null"
      modified_at:
        type:
          - string
          - "null"
      must_complete:
        type:
          - string
          - "null"
      next_occurrence:
        type:
          - object
          - "null"
        properties:
          due:
            type:
              - string
              - "null"
          start:
            type:
              - string
              - "null"
      recurrence:
        type:
          - string
          - "null"
      reminders:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            duration:
              type:
                - string
                - "null"
            event:
              type:
                - string
                - "null"
      site_based_assignment_enabled:
        type:
          - boolean
          - "null"
      start_time:
        type:
          - object
          - "null"
        properties:
          hour:
            type:
              - number
              - "null"
          minute:
            type:
              - number
              - "null"
      status:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - id
  actions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      custom_field_and_values:
        type:
          - array
          - "null"
      task:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          action_label:
            type:
              - array
              - "null"
          asset_id:
            type:
              - string
              - "null"
          collaborators:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                assigned_role:
                  type:
                    - string
                    - "null"
                collaborator_id:
                  type:
                    - string
                    - "null"
                collaborator_type:
                  type:
                    - string
                    - "null"
                user:
                  type:
                    - object
                    - "null"
                  properties:
                    firstname:
                      type:
                        - string
                        - "null"
                    lastname:
                      type:
                        - string
                        - "null"
                    user_id:
                      type:
                        - string
                        - "null"
          created_at:
            type:
              - string
              - "null"
          creator:
            type:
              - object
              - "null"
            properties:
              firstname:
                type:
                  - string
                  - "null"
              lastname:
                type:
                  - string
                  - "null"
              user_id:
                type:
                  - string
                  - "null"
          due_at:
            type:
              - string
              - "null"
          inspection:
            type:
              - object
              - "null"
            properties:
              inspection_id:
                type:
                  - string
                  - "null"
              inspection_name:
                type:
                  - string
                  - "null"
          inspection_item:
            type:
              - object
              - "null"
            properties:
              inspection_item_id:
                type:
                  - string
                  - "null"
              inspection_item_name:
                type:
                  - string
                  - "null"
              inspection_item_response_values:
                type:
                  - array
                  - "null"
              inspection_item_type:
                type:
                  - string
                  - "null"
          modified_at:
            type:
              - string
              - "null"
          priority_id:
            type:
              - string
              - "null"
          references:
            type:
              - array
              - "null"
          site:
            type:
              - object
              - "null"
            properties:
              area:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              region:
                type:
                  - string
                  - "null"
          status:
            type:
              - object
              - "null"
            properties:
              display_order:
                type:
                  - number
                  - "null"
              key:
                type:
                  - string
                  - "null"
              label:
                type:
                  - string
                  - "null"
              status_id:
                type:
                  - string
                  - "null"
          status_id:
            type:
              - string
              - "null"
          task_id:
            type:
              - string
              - "null"
          task_templates:
            type:
              - array
              - "null"
          template_id:
            type:
              - string
              - "null"
          template_name:
            type:
              - string
              - "null"
          templates:
            type:
              - array
              - "null"
          title:
            type:
              - string
              - "null"
          unique_id:
            type:
              - string
              - "null"
      unique_id:
        type: string
    required:
      - unique_id
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      modified_at:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      template_id:
        type: string
    required:
      - template_id
  feed_templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      author_id:
        type:
          - string
          - "null"
      author_name:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      modified_at:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      organisation_id:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      owner_name:
        type:
          - string
          - "null"
    required:
      - id
  issues:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      category:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          display_order:
            type:
              - number
              - "null"
          id:
            type:
              - string
              - "null"
          is_visible:
            type:
              - boolean
              - "null"
          items:
            type:
              - array
              - "null"
          key:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
          linked_template_ids:
            type:
              - array
              - "null"
          notification_detail:
            type:
              - string
              - "null"
          use_category_access_whitelist:
            type:
              - boolean
              - "null"
          user_access_as_reporter:
            type:
              - string
              - "null"
      category_id:
        type:
          - string
          - "null"
      inspections:
        type:
          - array
          - "null"
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            is_disabled:
              type:
                - boolean
                - "null"
            is_mandatory:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
            question_data:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                is_mandatory:
                  type:
                    - boolean
                    - "null"
                text:
                  type:
                    - string
                    - "null"
      location:
        type:
          - object
          - "null"
        properties:
          administrative_area:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          geo_position:
            type:
              - object
              - "null"
            properties:
              accuracy:
                type:
                  - number
                  - "null"
              latitude:
                type:
                  - number
                  - "null"
              longitude:
                type:
                  - number
                  - "null"
          iso_country_code:
            type:
              - string
              - "null"
          locality:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
          sub_administrative_area:
            type:
              - string
              - "null"
          sub_locality:
            type:
              - string
              - "null"
          sub_thoroughfare:
            type:
              - string
              - "null"
          thoroughfare:
            type:
              - string
              - "null"
      media:
        type:
          - array
          - "null"
      question_answers:
        type:
          - array
          - "null"
      task:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          action_label:
            type:
              - array
              - "null"
          asset_id:
            type:
              - string
              - "null"
          collaborators:
            type:
              - array
              - "null"
          created_at:
            type:
              - string
              - "null"
          creator:
            type:
              - object
              - "null"
            properties:
              firstname:
                type:
                  - string
                  - "null"
              lastname:
                type:
                  - string
                  - "null"
              user_id:
                type:
                  - string
                  - "null"
          inspection:
            type:
              - object
              - "null"
            properties:
              inspection_id:
                type:
                  - string
                  - "null"
              inspection_name:
                type:
                  - string
                  - "null"
          inspection_item:
            type:
              - object
              - "null"
            properties:
              inspection_item_id:
                type:
                  - string
                  - "null"
              inspection_item_name:
                type:
                  - string
                  - "null"
              inspection_item_response_values:
                type:
                  - array
                  - "null"
              inspection_item_type:
                type:
                  - string
                  - "null"
          modified_at:
            type:
              - string
              - "null"
          occurred_at:
            type:
              - string
              - "null"
          priority_id:
            type:
              - string
              - "null"
          references:
            type:
              - array
              - "null"
          site:
            type:
              - object
              - "null"
            properties:
              area:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              region:
                type:
                  - string
                  - "null"
          status_id:
            type:
              - string
              - "null"
          task_id:
            type:
              - string
              - "null"
          task_templates:
            type:
              - array
              - "null"
          template_id:
            type:
              - string
              - "null"
          template_name:
            type:
              - string
              - "null"
          templates:
            type:
              - array
              - "null"
          title:
            type:
              - string
              - "null"
          unique_id:
            type:
              - string
              - "null"
      unique_id:
        type: string
    required:
      - unique_id
