@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.control {
  flex: 0 0 auto;
  background-color: colors.$grey-30;
  display: flex;
  padding: variables.$spacing-md;
  flex-direction: row;

  // justify-content: flex-end;
}

.editorContainer {
  padding-top: variables.$spacing-xl;
  flex: 1 1 0;
}

.yamlToggle {
  margin-left: 42px;
  margin-top: 5px;
}

.downloadButton {
  margin-left: auto;
}
