@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.control {
  flex: 0 0 auto;
  background-color: transparent;
  display: flex;
  padding: variables.$spacing-md;
  flex-direction: row;
  justify-content: flex-end;
}

.editorContainer {
  flex: 1 1 0;
}
