version: 5.15.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - custom_objects

definitions:
  streams:
    custom_objects:
      type: DeclarativeStream
      name: custom_objects
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_objects
          http_method: GET
          request_headers:
            Content-Type: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - custom_objects
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page[after]
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('meta', {}).get('after_cursor', '') }}"
            stop_condition: "{{ not response.get('meta', {}).get('has_more', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_objects"
    custom_object_fields:
      type: DeclarativeStream
      name: custom_object_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_objects/{{ stream_partition.custom_object_key }}/fields
          http_method: GET
          request_headers:
            Content-Type: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - custom_object_fields
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page[after]
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('meta', {}).get('after_cursor', '') }}"
            stop_condition: "{{ not response.get('meta', {}).get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: key
              partition_field: custom_object_key
              stream:
                $ref: "#/definitions/streams/custom_objects"
      transformations:
        - type: AddFields
          fields:
            - path:
                - custom_object_key
              value: "{{ stream_partition.custom_object_key }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_object_fields"
    custom_object_records:
      type: DeclarativeStream
      name: custom_object_records
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_objects/{{ stream_partition.custom_object_key }}/records
          http_method: GET
          request_headers:
            Content-Type: application/json
          request_parameters:
            sort: updated_at
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - custom_object_records
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page[after]
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('meta', {}).get('after_cursor', '') }}"
            stop_condition: "{{ not response.get('meta', {}).get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: key
              partition_field: custom_object_key
              stream:
                $ref: "#/definitions/streams/custom_objects"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - path:
                - custom_object_key
              value: "{{ stream_partition.custom_object_key }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_object_records"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/
    authenticator:
      type: CustomAuthenticator
      class_name: source_declarative_manifest.components.AuthenticatorZendeskSunshine
      basic_auth:
        type: BasicHttpAuthenticator
        password: "{{ config['credentials']['api_token']  }}"
        username: "{{ config['credentials']['email']  }}/token"
      oauth2:
        type: BearerAuthenticator
        api_token: "{{ config['credentials']['access_token']  }}"

streams:
  - $ref: "#/definitions/streams/custom_objects"
  - $ref: "#/definitions/streams/custom_object_fields"
  - $ref: "#/definitions/streams/custom_object_records"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - subdomain
      - start_date
    properties:
      subdomain:
        type: string
        description: The subdomain for your Zendesk Account.
        order: 0
        title: Subdomain
      start_date:
        type: string
        description: >-
          The date from which you'd like to replicate data for Zendesk Custom
          Objects API, in the format YYYY-MM-DDT00:00:00Z.
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2021-01-01T00:00:00Z"
        order: 1
      credentials:
        type: object
        title: Authorization Method
        oneOf:
          - type: object
            title: OAuth2.0
            required:
              - auth_method
              - client_id
              - client_secret
              - access_token
            properties:
              auth_method:
                type: string
                const: oauth2.0
                enum:
                  - oauth2.0
                default: oauth2.0
                order: 0
              client_id:
                type: string
                description: The Client ID of your OAuth application.
                title: Client ID
                airbyte_secret: true
              client_secret:
                type: string
                description: The Client Secret of your OAuth application.
                title: Client Secret
                airbyte_secret: true
              access_token:
                type: string
                description: Long-term access Token for making authenticated requests.
                title: Access Token
                airbyte_secret: true
          - type: object
            title: API Token
            required:
              - auth_method
              - api_token
              - email
            properties:
              auth_method:
                type: string
                const: api_token
                enum:
                  - api_token
                default: api_token
                order: 1
              api_token:
                type: string
                description: >-
                  API Token. See the <a
                  href="https://docs.airbyte.com/integrations/sources/zendesk_sunshine">docs</a>
                  for information on how to generate this key.
                title: API Token
                airbyte_secret: true
              email:
                type: string
                description: The user email for your Zendesk account
                title: Email
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    custom_objects: false
    custom_object_fields: false
    custom_object_records: false

schemas:
  custom_objects:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      key:
        type:
          - "null"
          - string
        description: A user-defined unique identifier for the custom object.
      title:
        type:
          - "null"
          - string
        description: User-defined display name for the object.
      title_pluralized:
        type:
          - "null"
          - string
        description: User-defined pluralized version of the object's title.
      description:
        type:
          - "null"
          - string
        description: User-defined description of the object.
      raw_title:
        type:
          - "null"
          - string
        description: The dynamic content placeholder or raw title value.
      raw_title_pluralized:
        type:
          - "null"
          - string
        description: The dynamic content placeholder or raw pluralized title value.
      raw_description:
        type:
          - "null"
          - string
        description: The dynamic content placeholder or raw description value.
      include_in_list_view:
        type:
          - "null"
          - boolean
        description: Whether the object is visible in the agent's list view.
      allows_attachments:
        type:
          - "null"
          - boolean
        description: Whether file attachments can be added to the object's records.
      allows_photos:
        type:
          - "null"
          - boolean
        description: Whether photos can be uploaded to the records of the object.
      created_at:
        type:
          - "null"
          - string
        description: The time the object type was created.
      created_by_user_id:
        type:
          - "null"
          - string
        description: ID of the user who created the object.
      updated_at:
        type:
          - "null"
          - string
        description: The time of the last update of the object.
      updated_by_user_id:
        type:
          - "null"
          - string
        description: ID of the last user who updated the object.
      url:
        type:
          - "null"
          - string
        description: Direct link to the specific custom object.
  custom_object_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
        description: Automatically assigned when the field is created.
      key:
        type:
          - "null"
          - string
        description: A unique identifier for the field.
      type:
        type:
          - "null"
          - string
        description: The type of the custom field.
      title:
        type:
          - "null"
          - string
        description: The title of the custom field.
      raw_title:
        type:
          - "null"
          - string
        description: The dynamic content placeholder or raw title value.
      description:
        type:
          - "null"
          - string
        description: User-defined description of the field.
      raw_description:
        type:
          - "null"
          - string
        description: The dynamic content placeholder or raw description value.
      position:
        type:
          - "null"
          - integer
        description: The relative position of the field.
      active:
        type:
          - "null"
          - boolean
        description: Whether the field is active.
      required:
        type:
          - "null"
          - boolean
        description: Whether the field is required.
      system:
        type:
          - "null"
          - boolean
        description: Whether the field is a system field.
      regexp_for_validation:
        type:
          - "null"
          - string
        description: Regular expression used for validation.
      tag:
        type:
          - "null"
          - string
        description: A tag associated with the field.
      custom_field_options:
        type:
          - "null"
          - array
        description: Options for dropdown and multiselect fields.
        items:
          type: object
          additionalProperties: true
      relationship_target_type:
        type:
          - "null"
          - string
        description: The target type for lookup relationship fields.
      relationship_filter:
        type:
          - "null"
          - object
        description: Filter conditions for lookup relationship fields.
        additionalProperties: true
      created_at:
        type:
          - "null"
          - string
        description: The time the field was created.
      updated_at:
        type:
          - "null"
          - string
        description: The time of the last update of the field.
      custom_object_key:
        type:
          - "null"
          - string
        description: The key of the parent custom object.
  custom_object_records:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
        description: Automatically assigned upon creation.
      name:
        type:
          - "null"
          - string
        description: User-defined display name for the record.
      custom_object_key:
        type:
          - "null"
          - string
        description: A user-defined unique identifier for the custom object.
      custom_object_fields:
        type:
          - "null"
          - object
        description: Custom field values for the record.
        additionalProperties: true
      external_id:
        type:
          - "null"
          - string
        description: An ID to link custom object records to external data.
      photo:
        type:
          - "null"
          - object
        description: The record photo attachment.
        additionalProperties: true
      created_at:
        type:
          - "null"
          - string
        description: The time the record was created.
      created_by_user_id:
        type:
          - "null"
          - string
        description: ID of the user who created the record.
      updated_at:
        type:
          - "null"
          - string
        description: The time of the last update of the record.
      updated_by_user_id:
        type:
          - "null"
          - string
        description: ID of the last user who updated the record.
      url:
        type:
          - "null"
          - string
        description: Direct link to the specific custom object record.
