version: 6.41.5

type: DeclarativeSource

description: >-
  This change is related to PR 55839. The newly added field `countryorregion` is
  still missing in the schema of the report streams.

  With this PR I try to resolve that issue and make it available in connections

check:
  type: CheckStream
  stream_names:
    - campaigns

definitions:
  streams:
    campaigns:
      type: DeclarativeStream
      selector:
        extractor:
          field_path:
            - data
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns
          http_method: GET
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    adgroups:
      type: DeclarativeStream
      selector:
        extractor:
          field_path:
            - data
      name: adgroups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns/{{ stream_slice.campaign_id }}/adgroups
          http_method: GET
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: campaign_id
              stream:
                $ref: "#/definitions/streams/campaigns"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adgroups"
    keywords:
      type: DeclarativeStream
      selector:
        extractor:
          field_path:
            - data
      name: keywords
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /campaigns/{{ stream_slice.parent_slice.campaign_id }}/adgroups/{{
            stream_slice.adgroup_id }}/targetingkeywords
          http_method: GET
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adgroup_id
              stream:
                $ref: "#/definitions/streams/adgroups"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/keywords"
    campaigns_report_daily:
      type: DeclarativeStream
      selector:
        extractor:
          field_path:
            - data
            - reportingDataResponse
            - row
      name: campaigns_report_daily
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/campaigns
          http_method: POST
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          request_body_json:
            endTime: "{{ stream_slice.end_time }}"
            groupBy: "[ 'countryOrRegion' ]"
            selector: >-
              { "orderBy": [ { "field": "countryOrRegion", "sortOrder":
              "ASCENDING" } ] }
            timeZone: "{{ config['timezone'] or 'UTC' }}"
            startTime: "{{ stream_slice.start_time }}"
            granularity: DAILY
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: "{{ config.backoff_factor }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - reportingDataResponse
              - row
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_path:
              - selector
              - pagination
              - offset
            inject_into: body_json
          page_size_option:
            type: RequestOption
            field_path:
              - selector
              - pagination
              - limit
            inject_into: body_json
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        lookback_window: P{{ config.lookback_window}}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.start_date }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.end_date or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaignId
              value: "{{ record.metadata.campaignId }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date
              value: "{{ stream_slice.start_time }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - countryorregion
              value: "{{ record.metadata.countryOrRegion }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns_report_daily"
    adgroups_report_daily:
      type: DeclarativeStream
      selector:
        extractor:
          field_path:
            - data
            - reportingDataResponse
            - row
      name: adgroups_report_daily
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/campaigns/{{ stream_slice.campaign_id }}/adgroups
          http_method: POST
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          request_body_json:
            endTime: "{{ stream_slice.end_time }}"
            groupBy: "[ 'countryOrRegion' ]"
            selector: >-
              { "orderBy": [ { "field": "countryOrRegion", "sortOrder":
              "ASCENDING" } ] }
            timeZone: "{{config['timezone'] or 'UTC' }}"
            startTime: "{{ stream_slice.start_time }}"
            granularity: DAILY
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: "{{ config.backoff_factor }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - reportingDataResponse
              - row
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_path:
              - selector
              - pagination
              - offset
            inject_into: body_json
          page_size_option:
            type: RequestOption
            field_path:
              - selector
              - pagination
              - limit
            inject_into: body_json
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: campaign_id
              stream:
                $ref: "#/definitions/streams/campaigns"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        lookback_window: P{{ config.lookback_window}}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.start_date }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.end_date or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - adGroupId
              value: "{{ record.metadata.adGroupId }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date
              value: "{{ stream_slice.start_time }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - countryorregion
              value: "{{ record.metadata.countryOrRegion }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adgroups_report_daily"
    keywords_report_daily:
      type: DeclarativeStream
      selector:
        extractor:
          field_path:
            - data
            - reportingDataResponse
            - row
      name: keywords_report_daily
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/campaigns/{{ stream_slice.campaign_id }}/keywords
          http_method: POST
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          request_body_json:
            endTime: "{{ stream_slice.end_time }}"
            groupBy: "[ 'countryOrRegion' ]"
            selector: >-
              { "orderBy": [ { "field": "countryOrRegion", "sortOrder":
              "ASCENDING" } ] }
            timeZone: "{{ config['timezone'] or 'UTC' }}"
            startTime: "{{ stream_slice.start_time }}"
            granularity: DAILY
          error_handler:
            type: DefaultErrorHandler
            max_retries: 10
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                predicate: >-
                  {{ 'CAMPAIGN DOES NOT CONTAIN KEYWORD' in
                  response.error.errors[0].message }}
              - type: HttpResponseFilter
                action: RETRY
                http_codes:
                  - 500
                  - 429
            backoff_strategies:
              - type: ExponentialBackoffStrategy
                factor: "{{ config.backoff_factor }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - reportingDataResponse
              - row
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_path:
              - selector
              - pagination
              - offset
            inject_into: body_json
          page_size_option:
            type: RequestOption
            field_path:
              - selector
              - pagination
              - limit
            inject_into: body_json
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: campaign_id
              stream:
                $ref: "#/definitions/streams/campaigns"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        lookback_window: P{{ config.lookback_window }}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.start_date }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.end_date or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - keywordId
              value: "{{ record.metadata.keywordId }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date
              value: "{{ stream_slice.start_time }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - countryorregion
              value: "{{ record.metadata.countryOrRegion }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/keywords_report_daily"
  base_requester:
    type: HttpRequester
    url_base: https://api.searchads.apple.com/api/v5
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_request_body: {}
      token_refresh_endpoint: >-
        https://appleid.apple.com/auth/oauth2/token?grant_type=client_credentials&scope=searchadsorg
      grant_type: client_credentials

streams:
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/adgroups"
  - $ref: "#/definitions/streams/keywords"
  - $ref: "#/definitions/streams/campaigns_report_daily"
  - $ref: "#/definitions/streams/adgroups_report_daily"
  - $ref: "#/definitions/streams/keywords_report_daily"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - org_id
      - client_id
      - start_date
      - client_secret
      - timezone
    properties:
      org_id:
        type: integer
        description: >-
          The identifier of the organization that owns the campaign. Your Org Id
          is the same as your account in the Apple Search Ads UI.
        order: 0
        title: Org Id
      end_date:
        type: string
        description: Data is retrieved until that date (included)
        order: 1
        title: End Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2021-01-01"
      client_id:
        type: string
        description: >-
          A user identifier for the token request. See <a
          href="https://developer.apple.com/documentation/apple_search_ads/implementing_oauth_for_the_apple_search_ads_api">here</a>
        order: 2
        title: Client Id
        airbyte_secret: true
      start_date:
        type: string
        description: Start getting data from that date.
        order: 3
        title: Start Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2020-01-01"
      client_secret:
        type: string
        description: >-
          A string that authenticates the user’s setup request. See <a
          href="https://developer.apple.com/documentation/apple_search_ads/implementing_oauth_for_the_apple_search_ads_api">here</a>
        order: 4
        title: Client Secret
        airbyte_secret: true
      lookback_window:
        type: integer
        description: >-
          Apple Search Ads uses a 30-day attribution window. However, you may
          consider smaller values in order to shorten sync durations, at the
          cost of missing late data attributions.
        order: 5
        title: Lookback Window
        default: 30
        pattern: ^(30|[1-2][0-9]|[1-9])$
        examples:
          - 7
      backoff_factor:
        type: integer
        description: >-
          This factor factor determines the delay increase factor between
          retryable failures. Valid values are integers between 1 and 20.
        order: 6
        title: Exponential Backoff Factor
        default: 5
        pattern: ^(20|1[0-9]|[1-9])$
        examples:
          - 10
      timezone:
        type: string
        description: >-
          The timezone for the reporting data. Use 'ORTZ' for Organization Time
          Zone or 'UTC' for Coordinated Universal Time. Default is UTC.
        enum:
          - ORTZ
          - UTC
        order: 7
        title: Time Zone
        default: UTC
    additionalProperties: true

metadata:
  autoImportSchema:
    campaigns: false
    adgroups: false
    keywords: false
    campaigns_report_daily: false
    adgroups_report_daily: false
    keywords_report_daily: false
  testedStreams:
    campaigns:
      streamHash: d780d2b41f6a8037c18f722f9ce9c3491029b2da
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    adgroups:
      streamHash: 9a557426e8573b7c1afc5635098fee8543661d2e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    keywords:
      streamHash: bdd5a54a04343476092798c78261538ab6be82af
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    campaigns_report_daily:
      streamHash: ef035d0aeefcd94a2cf8e8a65f509c7be18ca46d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    adgroups_report_daily:
      streamHash: 63b9b95ad72c26b0b4c04d58b6242823c34cb4be
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    keywords_report_daily:
      streamHash: 5adaae30e072b870623aa12f900e6cabe9045057
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      adChannelType:
        type:
          - string
          - "null"
      adamId:
        type:
          - number
          - "null"
      billingEvent:
        type:
          - string
          - "null"
      budgetAmount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      budgetOrders:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      countriesOrRegions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      countryOrRegionServingStateReasons:
        type:
          - object
          - "null"
        properties:
          CN:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      creationTime:
        type:
          - string
          - "null"
      dailyBudgetAmount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      deleted:
        type:
          - boolean
          - "null"
      displayStatus:
        type:
          - string
          - "null"
      id:
        type: number
      locInvoiceDetails:
        type:
          - object
          - "null"
        properties:
          billingContactEmail:
            type:
              - string
              - "null"
          buyerEmail:
            type:
              - string
              - "null"
          buyerName:
            type:
              - string
              - "null"
          clientName:
            type:
              - string
              - "null"
          orderNumber:
            type:
              - string
              - "null"
      modificationTime:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      orgId:
        type:
          - number
          - "null"
      paymentModel:
        type:
          - string
          - "null"
      sapinLawResponse:
        type:
          - string
          - "null"
      servingStateReasons:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      servingStatus:
        type:
          - string
          - "null"
      startTime:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      supplySources:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
    additionalProperties: true
  adgroups:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      automatedKeywordsOptIn:
        type:
          - boolean
          - "null"
      campaignId:
        type:
          - number
          - "null"
      cpaGoal:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      creationTime:
        type:
          - string
          - "null"
      defaultBidAmount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      deleted:
        type:
          - boolean
          - "null"
      displayStatus:
        type:
          - string
          - "null"
      id:
        type: number
      modificationTime:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      orgId:
        type:
          - number
          - "null"
      pricingModel:
        type:
          - string
          - "null"
      servingStateReasons:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      servingStatus:
        type:
          - string
          - "null"
      startTime:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      targetingDimensions:
        type:
          - object
          - "null"
        properties:
          age:
            type:
              - object
              - "null"
            properties:
              included:
                type:
                  - array
                  - "null"
          appCategories:
            type:
              - object
              - "null"
            properties:
              excluded:
                type:
                  - array
                  - "null"
              included:
                type:
                  - array
                  - "null"
          appDownloaders:
            type:
              - object
              - "null"
            properties:
              excluded:
                type:
                  - array
                  - "null"
              included:
                type:
                  - array
                  - "null"
          daypart:
            type:
              - object
              - "null"
            properties:
              userTime:
                type:
                  - object
                  - "null"
                properties:
                  included:
                    type:
                      - array
                      - "null"
          deviceClass:
            type:
              - object
              - "null"
            properties:
              included:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          gender:
            type:
              - object
              - "null"
            properties: {}
    required:
      - id
    additionalProperties: true
  keywords:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      adGroupId:
        type:
          - number
          - "null"
      bidAmount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      campaignId:
        type:
          - number
          - "null"
      creationTime:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      id:
        type: number
      matchType:
        type:
          - string
          - "null"
      modificationTime:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      text:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  campaigns_report_daily:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          adChannelType:
            type:
              - string
              - "null"
          app:
            type:
              - object
              - "null"
            properties:
              adamId:
                type:
                  - number
                  - "null"
              appName:
                type:
                  - string
                  - "null"
          billingEvent:
            type:
              - string
              - "null"
          campaignId:
            type:
              - number
              - "null"
          campaignName:
            type:
              - string
              - "null"
          campaignStatus:
            type:
              - string
              - "null"
          countriesOrRegions:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          countryOrRegion:
            type:
              - string
              - "null"
          countryOrRegionServingStateReasons:
            type:
              - object
              - "null"
          dailyBudget:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          deleted:
            type:
              - boolean
              - "null"
          displayStatus:
            type:
              - string
              - "null"
          modificationTime:
            type:
              - string
              - "null"
          orgId:
            type:
              - number
              - "null"
          servingStateReasons:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          servingStatus:
            type:
              - string
              - "null"
          supplySources:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      campaignId:
        type:
          - number
          - "null"
      countryorregion:
        type:
          - string
          - "null"
      date:
        type: string
      granularity:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            avgCPM:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            avgCPT:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            date:
              type:
                - string
                - "null"
            impressions:
              type:
                - number
                - "null"
            localSpend:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            tapInstallCPI:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            tapInstallRate:
              type:
                - number
                - "null"
            tapInstalls:
              type:
                - number
                - "null"
            tapNewDownloads:
              type:
                - number
                - "null"
            tapRedownloads:
              type:
                - number
                - "null"
            taps:
              type:
                - number
                - "null"
            totalAvgCPI:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            totalInstallRate:
              type:
                - number
                - "null"
            totalInstalls:
              type:
                - number
                - "null"
            totalNewDownloads:
              type:
                - number
                - "null"
            totalRedownloads:
              type:
                - number
                - "null"
            ttr:
              type:
                - number
                - "null"
            viewInstalls:
              type:
                - number
                - "null"
            viewNewDownloads:
              type:
                - number
                - "null"
            viewRedownloads:
              type:
                - number
                - "null"
      other:
        type:
          - boolean
          - "null"
    required:
      - date
    additionalProperties: true
  adgroups_report_daily:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          adGroupDisplayStatus:
            type:
              - string
              - "null"
          adGroupId:
            type:
              - number
              - "null"
          adGroupName:
            type:
              - string
              - "null"
          adGroupServingStatus:
            type:
              - string
              - "null"
          adGroupStatus:
            type:
              - string
              - "null"
          automatedKeywordsOptIn:
            type:
              - boolean
              - "null"
          campaignId:
            type:
              - number
              - "null"
          countryOrRegion:
            type:
              - string
              - "null"
          defaultBidAmount:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          deleted:
            type:
              - boolean
              - "null"
          modificationTime:
            type:
              - string
              - "null"
          orgId:
            type:
              - number
              - "null"
          pricingModel:
            type:
              - string
              - "null"
          startTime:
            type:
              - string
              - "null"
      adGroupId:
        type:
          - number
          - "null"
      countryorregion:
        type:
          - string
          - "null"
      date:
        type: string
      granularity:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            avgCPM:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            avgCPT:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            date:
              type:
                - string
                - "null"
            impressions:
              type:
                - number
                - "null"
            localSpend:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            tapInstallCPI:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            tapInstallRate:
              type:
                - number
                - "null"
            tapInstalls:
              type:
                - number
                - "null"
            tapNewDownloads:
              type:
                - number
                - "null"
            tapRedownloads:
              type:
                - number
                - "null"
            taps:
              type:
                - number
                - "null"
            totalAvgCPI:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            totalInstallRate:
              type:
                - number
                - "null"
            totalInstalls:
              type:
                - number
                - "null"
            totalNewDownloads:
              type:
                - number
                - "null"
            totalRedownloads:
              type:
                - number
                - "null"
            ttr:
              type:
                - number
                - "null"
            viewInstalls:
              type:
                - number
                - "null"
            viewNewDownloads:
              type:
                - number
                - "null"
            viewRedownloads:
              type:
                - number
                - "null"
      other:
        type:
          - boolean
          - "null"
    required:
      - date
    additionalProperties: true
  keywords_report_daily:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          adGroupDeleted:
            type:
              - boolean
              - "null"
          adGroupId:
            type:
              - number
              - "null"
          adGroupName:
            type:
              - string
              - "null"
          bidAmount:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          campaignId:
            type:
              - number
              - "null"
          countryOrRegion:
            type:
              - string
              - "null"
          deleted:
            type:
              - boolean
              - "null"
          keyword:
            type:
              - string
              - "null"
          keywordDisplayStatus:
            type:
              - string
              - "null"
          keywordId:
            type:
              - number
              - "null"
          keywordStatus:
            type:
              - string
              - "null"
          matchType:
            type:
              - string
              - "null"
          modificationTime:
            type:
              - string
              - "null"
          orgId:
            type:
              - number
              - "null"
      countryorregion:
        type:
          - string
          - "null"
      date:
        type: string
      granularity:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            avgCPT:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            date:
              type:
                - string
                - "null"
            impressions:
              type:
                - number
                - "null"
            localSpend:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            tapInstallCPI:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            tapInstallRate:
              type:
                - number
                - "null"
            tapInstalls:
              type:
                - number
                - "null"
            tapNewDownloads:
              type:
                - number
                - "null"
            tapRedownloads:
              type:
                - number
                - "null"
            taps:
              type:
                - number
                - "null"
            totalAvgCPI:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - string
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            totalInstallRate:
              type:
                - number
                - "null"
            totalInstalls:
              type:
                - number
                - "null"
            totalNewDownloads:
              type:
                - number
                - "null"
            totalRedownloads:
              type:
                - number
                - "null"
            ttr:
              type:
                - number
                - "null"
            viewInstalls:
              type:
                - number
                - "null"
            viewNewDownloads:
              type:
                - number
                - "null"
            viewRedownloads:
              type:
                - number
                - "null"
      insights:
        type:
          - object
          - "null"
        properties:
          bidRecommendation:
            type:
              - object
              - "null"
            properties:
              suggestedBidAmount:
                type:
                  - object
                  - "null"
                properties:
                  amount:
                    type:
                      - string
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
      keywordId:
        type:
          - number
          - "null"
      other:
        type:
          - boolean
          - "null"
    required:
      - date
    additionalProperties: true
