@use "scss/variables";
@use "scss/colors";

.content {
  padding: 0 variables.$spacing-lg;
}

.usageValue {
  padding-right: variables.$spacing-md;
  min-width: 53px;
}

%lightBackgroundOverride {
  &.light {
    background-color: colors.$white;
  }
}

.thConnection {
  @extend %lightBackgroundOverride;

  width: 30%;
}

.thCreditsConsumed {
  @extend %lightBackgroundOverride;

  padding-right: 0;
}

.thCreditsConsumedPercent {
  @extend %lightBackgroundOverride;

  padding-left: 0;
}

.thConnectionId {
  @extend %lightBackgroundOverride;

  width: 20%;
}
