@use "scss/variables";

.content {
  padding: 0 variables.$spacing-2xl 0 variables.$spacing-lg;
}

.usageValue {
  padding-right: 10px;
  min-width: 53px;
}

.thConnection {
  width: 30%;
}

.thCreditsConsumed {
  padding-right: 0;
}

.thCreditsConsumedPercent {
  padding-left: 0;
}

.thConnectionId {
  width: 20%;
}
