version: 4.6.2

type: DeclarativeSource

description: >-
  Website: https://appfigures.com/

  API Docs: https://docs.appfigures.com/api/reference/v2/

  Authentication Docs:
  https://docs.appfigures.com/api/reference/v2/authentication

check:
  type: CheckStream
  stream_names:
    - status

definitions:
  streams:
    status:
      type: DeclarativeStream
      name: status
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/status"
    reports_sales:
      type: DeclarativeStream
      name: reports_sales
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/sales
          http_method: GET
          request_parameters:
            store: "{{ config['search_store'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports_sales"
    data_categories:
      type: DeclarativeStream
      name: data_categories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: data/categories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/data_categories"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: count
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 10
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_login
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    usage:
      type: DeclarativeStream
      name: usage
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: usage
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: count
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 10
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/usage"
    products_mine_search:
      type: DeclarativeStream
      name: products_mine_search
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: products/mine
          http_method: GET
          request_parameters:
            store: "{{ config.search_store }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: count
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 10
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products_mine_search"
    reports_revenue:
      type: DeclarativeStream
      name: reports_revenue
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/revenue
          http_method: GET
          request_parameters:
            store: "{{ config['search_store'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports_revenue"
    reports_subscriptions:
      type: DeclarativeStream
      name: reports_subscriptions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/subscriptions
          http_method: GET
          request_parameters:
            store: "{{ config['search_store'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports_subscriptions"
    reports_ads:
      type: DeclarativeStream
      name: reports_ads
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/ads
          http_method: GET
          request_parameters:
            store: "{{ config['search_store'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports_ads"
    reports_adspend:
      type: DeclarativeStream
      name: reports_adspend
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/adspend
          http_method: GET
          request_parameters:
            store: "{{ config['search_store'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports_adspend"
    reports_ratings:
      type: DeclarativeStream
      name: reports_ratings
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/ratings
          http_method: GET
          request_parameters:
            store: "{{ config['search_store'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports_ratings"
  base_requester:
    type: HttpRequester
    url_base: https://api.appfigures.com/v2/
    authenticator:
      type: BearerAuthenticator
      api_token: '{{ config["api_key"] }}'

streams:
  - $ref: "#/definitions/streams/status"
  - $ref: "#/definitions/streams/reports_sales"
  - $ref: "#/definitions/streams/data_categories"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/usage"
  - $ref: "#/definitions/streams/products_mine_search"
  - $ref: "#/definitions/streams/reports_revenue"
  - $ref: "#/definitions/streams/reports_subscriptions"
  - $ref: "#/definitions/streams/reports_ads"
  - $ref: "#/definitions/streams/reports_adspend"
  - $ref: "#/definitions/streams/reports_ratings"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      search_store:
        type: string
        description: The store which needs to be searched in streams
        title: Search Store
        default: apple
        order: 1
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
      group_by:
        type: string
        description: Category term for grouping the search results
        title: Group by
        default: product
        enum:
          - network
          - product
          - country
          - date
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    status: true
    reports_sales: true
    data_categories: true
    users: true
    usage: true
    products_mine_search: true
    reports_revenue: true
    reports_subscriptions: true
    reports_ads: true
    reports_adspend: true
    reports_ratings: true
  testedStreams:
    status:
      streamHash: 603a31f1e215f68081435c21e5f09b05b77bead5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reports_sales:
      streamHash: 065368458d431a9f884bbad33cad2bc170b56890
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    data_categories:
      streamHash: 9563e091dd77c73c279afe4b9f48794a8c8cb784
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 8df71cf32790ae981c75d746d63bd590b8e3e8d8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    usage:
      streamHash: 57fe2e269122916db08395d36722dc0aebf66d3e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products_mine_search:
      streamHash: 1f1b8b9ebe2b3bf0e56ea48d5b11398ab5e2c81a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reports_revenue:
      streamHash: 5bdd386e923767bcf0031858897a82489041759e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reports_subscriptions:
      streamHash: b4054aaf80d264929f513b7456e0a592cfa0171c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reports_ads:
      streamHash: 513cebbfbc7eff79792f81615eca480d99aa5a8d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reports_adspend:
      streamHash: 032f9044fb45f560d0d186253df15bbfa8839adc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reports_ratings:
      streamHash: 33633cc6dcbf660af904f480ff0bf3b5d0005ffd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  status:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      avatar_url:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  reports_sales:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      app_downloads:
        type:
          - number
          - "null"
      app_returns:
        type:
          - number
          - "null"
      app_returns_amount:
        type:
          - string
          - "null"
      app_revenue:
        type:
          - string
          - "null"
      business_downloads:
        type:
          - number
          - "null"
      business_revenue:
        type:
          - string
          - "null"
      downloads:
        type:
          - number
          - "null"
      edu_downloads:
        type:
          - number
          - "null"
      edu_revenue:
        type:
          - string
          - "null"
      gift_redemptions:
        type:
          - number
          - "null"
      gifts:
        type:
          - number
          - "null"
      gross_app_returns_amount:
        type:
          - string
          - "null"
      gross_app_revenue:
        type:
          - string
          - "null"
      gross_business_revenue:
        type:
          - string
          - "null"
      gross_edu_revenue:
        type:
          - string
          - "null"
      gross_iap_returns_amount:
        type:
          - string
          - "null"
      gross_iap_revenue:
        type:
          - string
          - "null"
      gross_returns_amount:
        type:
          - string
          - "null"
      gross_revenue:
        type:
          - string
          - "null"
      gross_standard_revenue:
        type:
          - string
          - "null"
      gross_subscription_returns_amount:
        type:
          - string
          - "null"
      gross_subscription_revenue:
        type:
          - string
          - "null"
      iap_amount:
        type:
          - number
          - "null"
      iap_returns:
        type:
          - number
          - "null"
      iap_returns_amount:
        type:
          - string
          - "null"
      iap_revenue:
        type:
          - string
          - "null"
      net_downloads:
        type:
          - number
          - "null"
      pre_orders:
        type:
          - number
          - "null"
      promos:
        type:
          - number
          - "null"
      re_downloads:
        type:
          - number
          - "null"
      returns:
        type:
          - number
          - "null"
      returns_amount:
        type:
          - string
          - "null"
      revenue:
        type:
          - string
          - "null"
      standard_downloads:
        type:
          - number
          - "null"
      standard_revenue:
        type:
          - string
          - "null"
      subscription_purchases:
        type:
          - number
          - "null"
      subscription_returns:
        type:
          - number
          - "null"
      subscription_returns_amount:
        type:
          - string
          - "null"
      subscription_revenue:
        type:
          - string
          - "null"
      uninstalls:
        type:
          - number
          - "null"
      updates:
        type:
          - number
          - "null"
  data_categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      "12":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "42":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "43":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "44":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "45":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "46":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "47":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "48":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "49":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "50":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "51":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "52":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "53":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "54":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "55":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "56":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "57":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "58":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "59":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "60":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "61":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "62":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "63":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "64":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "65":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "66":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "67":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "68":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "69":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "70":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "71":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "72":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "73":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "74":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "75":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "99":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "100":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "101":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "102":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "103":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "104":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "105":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "106":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "107":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "108":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "109":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "110":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "111":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "112":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "113":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "114":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "115":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "116":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "117":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "118":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "119":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "120":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "121":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "122":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "123":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "124":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "125":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "126":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          parent_id:
            type:
              - number
              - "null"
          store:
            type:
              - string
              - "null"
          storefront:
            type:
              - string
              - "null"
          subcategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      "127":
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          device:
            type:
              - string
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              device:
                type:
                  - string
                  - "null"
              hidden:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              store:
                type:
                  - string
                  - "null"
              storefront:
                type:
                  - string
                  - "null"
              subcategories:
                type:
[...]
