version: 6.48.15

type: DeclarativeSource

description: Source for the ticktick openapi endpoint at https://developer.ticktick.com/

check:
  type: CheckStream
  stream_names:
    - projects

definitions:
  streams:
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /open/v1/project
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /open/v1/project/{{ stream_partition['parent_id'] }}/data
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/projects"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
  base_requester:
    type: HttpRequester
    url_base: https://api.ticktick.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/tasks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    projects: true
    tasks: true
  testedStreams:
    projects:
      streamHash: 78b3cae4a919eb24d192a3b747f4d3df856f7294
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tasks:
      streamHash: c78dbe7a9ef32ba08448acd4dbf94dd6de83d8e9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      closed:
        type:
          - boolean
          - "null"
      color:
        type:
          - string
          - "null"
      groupId:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      permission:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      viewMode:
        type:
          - string
          - "null"
    required:
      - id
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      columnId:
        type:
          - string
          - "null"
      content:
        type:
          - string
          - "null"
      desc:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      id:
        type: string
      isAllDay:
        type:
          - boolean
          - "null"
      kind:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      projectId:
        type:
          - string
          - "null"
      repeatFlag:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      timeZone:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
