version: 6.48.15

type: DeclarativeSource

description: Source for the ticktick openapi endpoint at https://developer.ticktick.com/

check:
  type: CheckStream
  stream_names:
    - projects

definitions:
  streams:
    tasks:
      type: DeclarativeStream
      name: tasks
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          type: HttpRequester
          url_base: https://api.ticktick.com
          authenticator:
            type: SelectiveAuthenticator
            authenticators:
              Oauth:
                type: OAuthAuthenticator
                scopes:
                  - "tasks:"
                  - read
                client_id: "{{ config.authorization.client_id }}"
                grant_type: client_credentials
                client_secret: "{{ config.authorization.client_secret) }}"
                access_token_value: "{{ config.authorization.client_access_token }}"
              Token:
                type: BearerAuthenticator
                api_token: "{{ config.authorization.bearer_token }}"
            authenticator_selection_path:
              - authorization
              - auth_type
          error_handler:
            type: DefaultErrorHandler
          path: /open/v1/project/{{ stream_partition['parent_id'] }}/data
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
          record_filter:
            type: RecordFilter
            condition: "{{ record  }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                type: DeclarativeStream
                name: projects
                retriever:
                  type: SimpleRetriever
                  decoder:
                    type: JsonDecoder
                  requester:
                    type: HttpRequester
                    url_base: https://api.ticktick.com
                    authenticator:
                      type: SelectiveAuthenticator
                      authenticators:
                        Oauth:
                          type: OAuthAuthenticator
                          scopes:
                            - "tasks:"
                            - read
                          client_id: "{{ config.authorization.client_id }}"
                          grant_type: client_credentials
                          client_secret: "{{ config.authorization.client_secret) }}"
                          access_token_value: "{{ config.authorization.client_access_token }}"
                        Token:
                          type: BearerAuthenticator
                          api_token: "{{ config.authorization.bearer_token }}"
                      authenticator_selection_path:
                        - authorization
                        - auth_type
                    error_handler:
                      type: DefaultErrorHandler
                    path: /open/v1/project/
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path: []
                    record_filter:
                      type: RecordFilter
                      condition: "{{ not record.closed }}"
                    schema_normalization: Default
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/schema#
                    required:
                      - id
                    properties:
                      id:
                        type: string
                      kind:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      color:
                        type:
                          - string
                          - "null"
                      closed:
                        type:
                          - boolean
                          - "null"
                      groupId:
                        type:
                          - string
                          - "null"
                      viewMode:
                        type:
                          - string
                          - "null"
                      sortOrder:
                        type:
                          - number
                          - "null"
                      permission:
                        type:
                          - string
                          - "null"
                    additionalProperties: true
              parent_key: id
              partition_field: parent_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          required:
            - id
          properties:
            id:
              type: string
            desc:
              type:
                - string
                - "null"
            etag:
              type:
                - string
                - "null"
            kind:
              type:
                - string
                - "null"
            tags:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            items:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  status:
                    type:
                      - number
                      - "null"
                  isAllDay:
                    type:
                      - boolean
                      - "null"
                  timeZone:
                    type:
                      - string
                      - "null"
                  sortOrder:
                    type:
                      - number
                      - "null"
            title:
              type:
                - string
                - "null"
            status:
              type:
                - number
                - "null"
            content:
              type:
                - string
                - "null"
            dueDate:
              type:
                - string
                - "null"
            columnId:
              type:
                - string
                - "null"
            isAllDay:
              type:
                - boolean
                - "null"
            priority:
              type:
                - number
                - "null"
            timeZone:
              type:
                - string
                - "null"
            projectId:
              type:
                - string
                - "null"
            sortOrder:
              type:
                - number
                - "null"
            startDate:
              type:
                - string
                - "null"
            repeatFlag:
              type:
                - string
                - "null"
          additionalProperties: true
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          type: HttpRequester
          url_base: https://api.ticktick.com
          authenticator:
            type: SelectiveAuthenticator
            authenticators:
              Oauth:
                type: OAuthAuthenticator
                scopes:
                  - "tasks:"
                  - read
                client_id: "{{ config.authorization.client_id }}"
                grant_type: client_credentials
                client_secret: "{{ config.authorization.client_secret) }}"
                access_token_value: "{{ config.authorization.client_access_token }}"
              Token:
                type: BearerAuthenticator
                api_token: "{{ config.authorization.bearer_token }}"
            authenticator_selection_path:
              - authorization
              - auth_type
          error_handler:
            type: DefaultErrorHandler
          path: /open/v1/project/
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
          record_filter:
            type: RecordFilter
            condition: "{{ not record.closed }}"
          schema_normalization: Default
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          required:
            - id
          properties:
            id:
              type: string
            kind:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            color:
              type:
                - string
                - "null"
            closed:
              type:
                - boolean
                - "null"
            groupId:
              type:
                - string
                - "null"
            viewMode:
              type:
                - string
                - "null"
            sortOrder:
              type:
                - number
                - "null"
            permission:
              type:
                - string
                - "null"
          additionalProperties: true
  bearer_token:
    type: BearerAuthenticator
    api_token: "{{ config.authorization.bearer_token }}"
  base_requester:
    type: HttpRequester
    url_base: https://api.ticktick.com
    authenticator:
      type: SelectiveAuthenticator
      authenticators:
        Oauth:
          type: OAuthAuthenticator
          scopes:
            - "tasks:"
            - read
          client_id: "{{ config.authorization.client_id }}"
          grant_type: client_credentials
          client_secret: "{{ config.authorization.client_secret) }}"
          access_token_value: "{{ config.authorization.client_access_token }}"
        Token:
          type: BearerAuthenticator
          api_token: "{{ config.authorization.bearer_token }}"
      authenticator_selection_path:
        - authorization
        - auth_type
    error_handler:
      type: DefaultErrorHandler
  oauth_authenticator:
    type: OAuthAuthenticator
    scopes:
      - "tasks:"
      - read
    client_id: "{{ config.authorization.client_id }}"
    grant_type: client_credentials
    client_secret: "{{ config.authorization.client_secret) }}"
    access_token_value: "{{ config.authorization.client_access_token }}"

streams:
  - type: DeclarativeStream
    name: projects
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url_base: https://api.ticktick.com
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Oauth:
              type: OAuthAuthenticator
              scopes:
                - "tasks:"
                - read
              client_id: "{{ config.authorization.client_id }}"
              grant_type: client_credentials
              client_secret: "{{ config.authorization.client_secret) }}"
              access_token_value: "{{ config.authorization.client_access_token }}"
            Token:
              type: BearerAuthenticator
              api_token: "{{ config.authorization.bearer_token }}"
          authenticator_selection_path:
            - authorization
            - auth_type
        error_handler:
          type: DefaultErrorHandler
        path: /open/v1/project/
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          condition: "{{ not record.closed }}"
        schema_normalization: Default
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          kind:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
          closed:
            type:
              - boolean
              - "null"
          groupId:
            type:
              - string
              - "null"
          viewMode:
            type:
              - string
              - "null"
          sortOrder:
            type:
              - number
              - "null"
          permission:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: tasks
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url_base: https://api.ticktick.com
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Oauth:
              type: OAuthAuthenticator
              scopes:
                - "tasks:"
                - read
              client_id: "{{ config.authorization.client_id }}"
              grant_type: client_credentials
              client_secret: "{{ config.authorization.client_secret) }}"
              access_token_value: "{{ config.authorization.client_access_token }}"
            Token:
              type: BearerAuthenticator
              api_token: "{{ config.authorization.bearer_token }}"
          authenticator_selection_path:
            - authorization
            - auth_type
        error_handler:
          type: DefaultErrorHandler
        path: /open/v1/project/{{ stream_partition['parent_id'] }}/data
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - tasks
        record_filter:
          type: RecordFilter
          condition: "{{ record  }}"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: projects
              retriever:
                type: SimpleRetriever
                decoder:
                  type: JsonDecoder
                requester:
                  type: HttpRequester
                  url_base: https://api.ticktick.com
                  authenticator:
                    type: SelectiveAuthenticator
                    authenticators:
                      Oauth:
                        type: OAuthAuthenticator
                        scopes:
                          - "tasks:"
                          - read
                        client_id: "{{ config.authorization.client_id }}"
                        grant_type: client_credentials
                        client_secret: "{{ config.authorization.client_secret) }}"
                        access_token_value: "{{ config.authorization.client_access_token }}"
                      Token:
                        type: BearerAuthenticator
                        api_token: "{{ config.authorization.bearer_token }}"
                    authenticator_selection_path:
                      - authorization
                      - auth_type
                  error_handler:
                    type: DefaultErrorHandler
                  path: /open/v1/project/
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                  record_filter:
                    type: RecordFilter
                    condition: "{{ not record.closed }}"
                  schema_normalization: Default
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  required:
                    - id
                  properties:
                    id:
                      type: string
                    kind:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    color:
                      type:
                        - string
                        - "null"
                    closed:
                      type:
                        - boolean
                        - "null"
                    groupId:
                      type:
                        - string
                        - "null"
                    viewMode:
                      type:
                        - string
                        - "null"
                    sortOrder:
                      type:
                        - number
                        - "null"
                    permission:
                      type:
                        - string
                        - "null"
                  additionalProperties: true
            parent_key: id
            partition_field: parent_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          desc:
            type:
              - string
              - "null"
          etag:
            type:
              - string
              - "null"
          kind:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          items:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                title:
                  type:
                    - string
                    - "null"
                status:
                  type:
                    - number
                    - "null"
                isAllDay:
                  type:
                    - boolean
                    - "null"
                timeZone:
                  type:
                    - string
                    - "null"
                sortOrder:
                  type:
                    - number
                    - "null"
          title:
            type:
              - string
              - "null"
          status:
            type:
              - number
              - "null"
          content:
            type:
              - string
              - "null"
          dueDate:
            type:
              - string
              - "null"
          columnId:
            type:
              - string
              - "null"
          isAllDay:
            type:
              - boolean
              - "null"
          priority:
            type:
              - number
              - "null"
          timeZone:
            type:
              - string
              - "null"
          projectId:
            type:
              - string
              - "null"
          sortOrder:
            type:
              - number
              - "null"
          startDate:
            type:
              - string
              - "null"
          repeatFlag:
            type:
              - string
              - "null"
        additionalProperties: true

spec:
  type: Spec
  advanced_auth:
    predicate_key:
      - authorization
      - auth_type
    auth_flow_type: oauth2.0
    predicate_value: Oauth
    oauth_config_specification:
      complete_oauth_output_specification:
        required:
          - access_token
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - authorization
              - client_access_token
      oauth_connector_input_specification:
        scope: "tasks: read"
        consent_url: >-
          https://ticktick.com/oauth/authorize?scope={{scope_value |
          urlEncode}}&client_id={{client_id_value}}&state={{state}}&redirect_uri={{redirect_uri_value}}&response_type=code
        extract_output:
          - access_token
        access_token_url: https://ticktick.com/oauth/token
        access_token_params:
          code: "{{ auth_code_value }}"
          scope: "{{ scope_value | urlEncode }}"
          grant_type: authorization_code
          redirect_uri: "{{ redirect_uri_value }}"
        access_token_headers:
          Content-Type: application/x-www-form-urlencoded
          Authorization: >-
            Basic {{ (client_id_value ~ ':' ~ client_secret_value) | b64encode
            }}
      complete_oauth_server_input_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - authorization
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - authorization
              - client_secret
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      authorization:
        type: object
        oneOf:
          - type: object
            title: OAuth2
            required:
              - auth_type
              - client_id
              - client_secret
            properties:
              auth_type:
                type: string
                const: Oauth
                order: 0
              client_id:
                type: string
                description: >-
                  The client ID of your Ticktick application. Read more <a
                  href="https://developer.ticktick.com/api#/openapi?id=getting-started">here</a>.
                title: Client ID
                airbyte_secret: true
              client_secret:
                type: string
                description: >-
                  The client secret of of your Ticktick application.
                  application. Read more <a
                  href="https://developer.ticktick.com/api#/openapi?id=getting-started">here</a>.
                title: Client Secret
                airbyte_secret: true
              client_access_token:
                type: string
                description: >-
                  Access token for making authenticated requests; filled after
                  complete oauth2 flow.
                title: Access Token
                airbyte_secret: true
          - type: object
            title: Bearer Token (from Oauth2)
            required:
              - auth_type
              - bearer_token
            properties:
              auth_type:
                type: string
                const: Token
                order: 0
              bearer_token:
                type: string
                description: >-
                  Access token for making authenticated requests; filled after
                  complete oauth2 flow.
                title: Bearer Token
                airbyte_secret: true
        title: Authentication Type
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    tasks:
      hasRecords: true
      streamHash: 2ab2096c5e51d4619c7c6db5376152e68d1c1acc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      hasRecords: true
      streamHash: f42dc343c8c5b030eb4214b82af4da3911dcf604
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    tasks: true
    projects: true

schemas:
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      desc:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      kind:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            status:
              type:
                - number
                - "null"
            isAllDay:
              type:
                - boolean
                - "null"
            timeZone:
              type:
                - string
                - "null"
            sortOrder:
              type:
                - number
                - "null"
      title:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      content:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      columnId:
        type:
          - string
          - "null"
      isAllDay:
        type:
          - boolean
          - "null"
      priority:
        type:
          - number
          - "null"
      timeZone:
        type:
          - string
          - "null"
      projectId:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      startDate:
        type:
          - string
          - "null"
      repeatFlag:
        type:
          - string
          - "null"
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      closed:
        type:
          - boolean
          - "null"
      groupId:
        type:
          - string
          - "null"
      viewMode:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      permission:
        type:
          - string
          - "null"
    additionalProperties: true

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 3
          interval: PT1S
        - limit: 60
          interval: PT1M
      matchers:
        - method: GET
          url_path_pattern: .*
  status_codes_for_ratelimit_hit:
    - 503
    - 500
    - 429
