version: 6.48.15

type: DeclarativeSource

description: Source for the ticktick openapi endpoint at https://developer.ticktick.com/

check:
  type: CheckStream
  stream_names:
    - Get User Project

definitions:
  streams:
    Get User Project:
      type: DeclarativeStream
      name: Get User Project
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /open/v1/project
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Get User Project"
    Get Tasks:
      type: DeclarativeStream
      name: Get Tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /open/v1/project/{{ stream_partition['parent_id'] }}/data
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Get User Project"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Get Tasks"
  base_requester:
    type: HttpRequester
    url_base: https://api.ticktick.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/Get User Project"
  - $ref: "#/definitions/streams/Get Tasks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    Get User Project: true
    Get Tasks: true
  testedStreams:
    Get User Project:
      hasRecords: true
      streamHash: f565ca77be0aa2097955405b347c04d3ce8a4949
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Get Tasks:
      streamHash: bb75eb129585154ff4319d1cd93b319760ba52cb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Get User Project:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      closed:
        type:
          - boolean
          - "null"
      color:
        type:
          - string
          - "null"
      groupId:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      permission:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      viewMode:
        type:
          - string
          - "null"
    required:
      - id
  Get Tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      columnId:
        type:
          - string
          - "null"
      content:
        type:
          - string
          - "null"
      desc:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      id:
        type: string
      isAllDay:
        type:
          - boolean
          - "null"
      kind:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      projectId:
        type:
          - string
          - "null"
      repeatFlag:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      timeZone:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
