version: 6.48.15

type: DeclarativeSource

description: Source for the ticktick openapi endpoint at https://developer.ticktick.com/

check:
  type: CheckStream
  stream_names:
    - projects

definitions:
  streams:
    tasks:
      type: DeclarativeStream
      name: tasks
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/tasks_requester"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
          record_filter:
            type: RecordFilter
            condition: "{{ record  }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/projects"
              parent_key: id
              partition_field: parent_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
          record_filter:
            type: RecordFilter
            condition: "{{ not record.closed }}"
          schema_normalization: Default
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
  base_requester:
    type: HttpRequester
    url_base: https://api.ticktick.com
    throttler:
      type: RateLimiter
      limit: 20
      period_in_seconds: 60
    authenticator:
      type: OAuthAuthenticator
      scopes:
        - "tasks:"
        - read
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: client_credentials
      client_secret: "{{ config[\"client_secret\"] }}"
      access_token_value: "{{ config[\"client_access_token\"] }}"
    error_handler:
      type: DefaultErrorHandler
  tasks_requester:
    type: HttpRequester
    $ref: "#/definitions/base_requester"
    path: /open/v1/project/{{ stream_partition['parent_id'] }}/data
    http_method: GET

streams:
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/tasks"

spec:
  type: Spec
  advanced_auth:
    auth_flow_type: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        required:
          - access_token
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - client_access_token
      oauth_connector_input_specification:
        scope: "tasks: read"
        consent_url: >-
          https://ticktick.com/oauth/authorize?scope={{scope_value |
          urlEncode}}&client_id={{client_id_value}}&state={{state}}&redirect_uri={{redirect_uri_value}}&response_type=code
        extract_output:
          - access_token
        access_token_url: https://ticktick.com/oauth/token
        access_token_params:
          code: "{{ auth_code_value }}"
          scope: "{{ scope_value | urlEncode }}"
          grant_type: authorization_code
          redirect_uri: "{{ redirect_uri_value }}"
        access_token_headers:
          Content-Type: application/x-www-form-urlencoded
          Authorization: >-
            Basic {{ (client_id_value ~ ':' ~ client_secret_value) | b64encode
            }}
      complete_oauth_server_input_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - client_secret
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
    properties:
      client_id:
        type: string
        order: 0
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 1
        title: Client secret
        airbyte_secret: true
      client_access_token:
        type: string
        order: 2
        title: Access token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    tasks:
      hasRecords: false
      streamHash: 1a027c8709d9e91d57a7af4cb1ee457208b5cb48
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
    projects:
      hasRecords: false
      streamHash: 4bdbe4119e33f1b535cff3d333d34d0740ee2381
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: false
  autoImportSchema:
    tasks: true
    projects: true

schemas:
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      desc:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      kind:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            status:
              type:
                - number
                - "null"
            isAllDay:
              type:
                - boolean
                - "null"
            timeZone:
              type:
                - string
                - "null"
            sortOrder:
              type:
                - number
                - "null"
      title:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      content:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      columnId:
        type:
          - string
          - "null"
      isAllDay:
        type:
          - boolean
          - "null"
      priority:
        type:
          - number
          - "null"
      timeZone:
        type:
          - string
          - "null"
      projectId:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      startDate:
        type:
          - string
          - "null"
      repeatFlag:
        type:
          - string
          - "null"
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      closed:
        type:
          - boolean
          - "null"
      groupId:
        type:
          - string
          - "null"
      viewMode:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      permission:
        type:
          - string
          - "null"
    additionalProperties: true
