version: 6.48.15

type: DeclarativeSource

description: Source for the ticktick openapi endpoint at https://developer.ticktick.com/

check:
  type: CheckStream
  stream_names:
    - projects

definitions:
  streams:
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /open/v1/project
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /open/v1/project/{{ stream_partition['parent_id'] }}/data
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/projects"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
  base_requester:
    type: HttpRequester
    url_base: https://api.ticktick.com
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      client_secret: "{{ config[\"client_secret\"] }}"
      access_token_value: "{{ config[\"client_access_token\"] }}"
      scopes:
        - "tasks:"
        - read
      grant_type: client_credentials

streams:
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/tasks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
    properties:
      client_id:
        type: string
        title: Client ID
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        title: Client secret
        airbyte_secret: true
        order: 1
      client_access_token:
        type: string
        title: Access token
        airbyte_secret: true
        airbyte_hidden: true
        order: 2
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    oauth_config_specification:
      oauth_connector_input_specification:
        consent_url: >-
          https://ticktick.com/oauth/authorize?scope={{scope_value |
          urlEncode}}&client_id={{client_id_value}}&state={{state}}&redirect_uri={{redirect_uri_value}}&response_type=code
        access_token_url: https://ticktick.com/oauth/token
        scope: "tasks: read"
        extract_output:
          - access_token
        access_token_headers:
          Content-Type: application/x-www-form-urlencoded
          Authorization: >-
            Basic {{ (client_id_value ~ ':' ~ client_secret_value) | b64encode
            }}
        access_token_params:
          code: "{{ auth_code_value }}"
          scope: "{{ scope_value | urlEncode }}"
          grant_type: authorization_code
          redirect_uri: "{{ redirect_uri_value }}"
      complete_oauth_output_specification:
        required:
          - access_token
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - client_access_token
      complete_oauth_server_input_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - client_secret

metadata:
  autoImportSchema:
    projects: true
    tasks: true
  testedStreams:
    projects:
      hasRecords: true
      streamHash: a1baeb6a3e18cf22868431fe6ce36bff4683dacd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    tasks:
      hasRecords: true
      streamHash: 83a4cf59a11d6a94e8f3e30aa3109b296bc8cbf6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      closed:
        type:
          - boolean
          - "null"
      color:
        type:
          - string
          - "null"
      groupId:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      permission:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      viewMode:
        type:
          - string
          - "null"
    required:
      - id
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      columnId:
        type:
          - string
          - "null"
      content:
        type:
          - string
          - "null"
      desc:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      id:
        type: string
      isAllDay:
        type:
          - boolean
          - "null"
      kind:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      projectId:
        type:
          - string
          - "null"
      repeatFlag:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      timeZone:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
