version: 0.50.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - forms

definitions:
  items_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - items
  no_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []
  token_auth:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"
  oauth2:
    type: OAuthAuthenticator
    token_refresh_endpoint: https://api.typeform.com/oauth/token
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
  requester:
    type: HttpRequester
    url_base: https://api.typeform.com/
    http_method: GET
    request_parameters: {}
    request_headers: {}
    authenticator:
      class_name: source_typeform.components.TypeformAuthenticator
      token_auth: "#/definitions/token_auth"
      oauth2: "#/definitions/oauth2"
    request_body_json: {}
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      type: RequestOption
      field_name: page_size
      inject_into: request_parameter
    pagination_strategy:
      type: PageIncrement
      page_size: 200
      start_from_page: 1
  paginated_stream:
    type: DeclarativeStream
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: "{{ parameters.path }}"
      record_selector:
        $ref: "#/definitions/items_selector"
      paginator:
        $ref: "#/definitions/paginator"
  trim_forms_stream:
    $ref: "#/definitions/paginated_stream"
    name: trim_forms
    $parameters:
      path: forms
  form_id_partition_router:
    - type: CustomPartitionRouter
      class_name: source_typeform.components.FormIdPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: form_id
          stream:
            $ref: "#/definitions/trim_forms_stream"

  forms_stream:
    type: DeclarativeStream
    name: forms
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: forms/{{ stream_partition.form_id }}
      record_selector:
        $ref: "#/definitions/no_selector"
      partition_router:
        $ref: "#/definitions/form_id_partition_router"

  responses_stream:
    type: DeclarativeStream
    name: responses
    primary_key: response_id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: forms/{{ stream_partition.form_id }}/responses
      record_selector:
        $ref: "#/definitions/items_selector"
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: before
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ last_records[-1]['token'] }}"
          stop_condition: "{{ not response['total_items'] }}"
          page_size: 1000
      partition_router:
        $ref: "#/definitions/form_id_partition_router"
    transformations:
      - type: AddFields
        fields:
          - path:
              - form_id
            value: "{{ stream_partition.form_id }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: submitted_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ format_datetime((config.start_date if config.start_date else
          now_utc() - duration('P1Y')), '%Y-%m-%dT%H:%M:%SZ') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"

  webhooks_stream:
    type: DeclarativeStream
    name: webhooks
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: forms/{{ stream_partition.form_id }}/webhooks
      record_selector:
        $ref: "#/definitions/items_selector"
      partition_router:
        $ref: "#/definitions/form_id_partition_router"
  workspaces_stream:
    $ref: "#/definitions/paginated_stream"
    name: workspaces
    $parameters:
      path: workspaces
  images_stream:
    type: DeclarativeStream
    name: images
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
      record_selector:
        $ref: "#/definitions/no_selector"
    $parameters:
      path: images
  themes_stream:
    $ref: "#/definitions/paginated_stream"
    name: themes
    $parameters:
      path: themes

streams:
  - "#/definitions/forms_stream"
  - "#/definitions/responses_stream"
  - "#/definitions/webhooks_stream"
  - "#/definitions/workspaces_stream"
  - "#/definitions/images_stream"
  - "#/definitions/themes_stream"
spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/typeform
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    required:
      - credentials
    properties:
      credentials:
        title: Authorization Method
        type: object
        order: 0
        oneOf:
          - type: object
            title: OAuth2.0
            required:
              - client_id
              - client_secret
              - refresh_token
              - access_token
              - token_expiry_date
            properties:
              auth_type:
                type: string
                const: oauth2.0
              client_id:
                type: string
                description: The Client ID of the Typeform developer application.
                airbyte_secret: true
              client_secret:
                type: string
                description: The Client Secret the Typeform developer application.
                airbyte_secret: true
              access_token:
                type: string
                description: Access Token for making authenticated requests.
                airbyte_secret: true
              token_expiry_date:
                type: string
                description: The date-time when the access token should be refreshed.
                format: date-time
              refresh_token:
                type: string
                description: The key to refresh the expired access_token.
                airbyte_secret: true
          - title: Private Token
            type: object
            required:
              - access_token
            properties:
              auth_type:
                type: string
                const: access_token
              access_token:
                type: string
                title: Private Token
                description:
                  Log into your Typeform account and then generate a personal
                  Access Token.
                airbyte_secret: true
      start_date:
        type: string
        title: Start Date
        description:
          The date from which you'd like to replicate data for Typeform API,
          in the format YYYY-MM-DDT00:00:00Z. All data generated after this date will
          be replicated.
        examples:
          - "2021-03-01T00:00:00Z"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        order: 2
        format: date-time
      form_ids:
        title: Form IDs to replicate
        description:
          When this parameter is set, the connector will replicate data only
          from the input forms. Otherwise, all forms in your Typeform account will be
          replicated. You can find form IDs in your form URLs. For example, in the URL
          "https://mysite.typeform.com/to/u6nXL7" the form_id is u6nXL7. You can find
          form URLs on Share panel
        type: array
        items:
          type: string
        uniqueItems: true
        order: 3
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
          token_expiry_date:
            type: string
            format: date-time
            path_in_connector_config:
              - credentials
              - token_expiry_date
      complete_oauth_server_input_specification:
        type: object
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
