version: 5.7.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    account_coupon_redemptions:
      type: DeclarativeStream
      name: account_coupon_redemptions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition['account_id'] }}/coupon_redemptions
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_coupon_redemptions"
    account_notes:
      type: DeclarativeStream
      name: account_notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition['account_id'] }}/notes
          http_method: GET
          request_parameters:
            sort: created_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_notes"
    add_ons:
      type: DeclarativeStream
      name: add_ons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /add_ons
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/add_ons"
    billing_infos:
      type: DeclarativeStream
      name: billing_infos
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition['account_id'] }}/billing_infos
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/billing_infos"
    coupons:
      type: DeclarativeStream
      name: coupons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: coupons
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/coupons"
    credit_payments:
      type: DeclarativeStream
      name: credit_payments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: credit_payments
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/credit_payments"
    export_dates:
      type: DeclarativeStream
      name: export_dates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: export_dates
          http_method: GET
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.ExportDatesExtractor
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/export_dates"
    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"
    line_items:
      type: DeclarativeStream
      name: line_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: line_items
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/line_items"
    measured_units:
      type: DeclarativeStream
      name: measured_units
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: measured_units
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/measured_units"
    plans:
      type: DeclarativeStream
      name: plans
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: plans
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/plans"
    shipping_addresses:
      type: DeclarativeStream
      name: shipping_addresses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition['account_id'] }}/shipping_addresses
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_addresses"
    shipping_methods:
      type: DeclarativeStream
      name: shipping_methods
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: shipping_methods
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_methods"
    subscriptions:
      type: DeclarativeStream
      name: subscriptions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: subscriptions
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscriptions"
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: transactions
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
    unique_coupons:
      type: DeclarativeStream
      name: unique_coupons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /coupons/{{ stream_partition['coupon_id'] }}/unique_coupon_codes
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: coupon_id
              stream:
                $ref: "#/definitions/streams/unique_coupons_parent"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unique_coupons"
    unique_coupons_parent:
      type: DeclarativeStream
      name: unique_coupons_parent
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: coupons
          http_method: GET
          request_parameters:
            sort: updated_at
            order: asc
          request_headers:
            Accept: application/vnd.recurly.v2021-02-25
            User-Agent: USER_AGENT
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: "{{ record['coupon_type'] == 'bulk' }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['begin_time'] if config['begin_time'] else (now_utc() -
            duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: begin_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_time'] if config['end_time'] else
            now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unique_coupons_parent"
  base_requester:
    type: HttpRequester
    url_base: https://v3.recurly.com
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['api_key'] }}"

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/account_coupon_redemptions"
  - $ref: "#/definitions/streams/account_notes"
  - $ref: "#/definitions/streams/add_ons"
  - $ref: "#/definitions/streams/billing_infos"
  - $ref: "#/definitions/streams/coupons"
  - $ref: "#/definitions/streams/credit_payments"
  - $ref: "#/definitions/streams/export_dates"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/line_items"
  - $ref: "#/definitions/streams/measured_units"
  - $ref: "#/definitions/streams/plans"
  - $ref: "#/definitions/streams/shipping_addresses"
  - $ref: "#/definitions/streams/shipping_methods"
  - $ref: "#/definitions/streams/subscriptions"
  - $ref: "#/definitions/streams/transactions"
  - $ref: "#/definitions/streams/unique_coupons"
  - $ref: "#/definitions/streams/unique_coupons_parent"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          Recurly API Key. See the  <a
          href="https://docs.airbyte.com/integrations/sources/recurly">docs</a>
          for more information on how to generate this key.
        order: 0
        title: API Key
        airbyte_secret: true
      begin_time:
        type: string
        description: >-
          ISO8601 timestamp from which the replication from Recurly API will
          start from.
        order: 1
        pattern: ^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$
        examples:
          - "2021-12-01T00:00:00"
      end_time:
        type: string
        description: >-
          ISO8601 timestamp to which the replication from Recurly API will stop.
          Records after that date won't be imported.
        order: 2
        pattern: ^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$
        examples:
          - "2021-12-01T00:00:00"
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: false
    account_coupon_redemptions: false
    account_notes: false
    add_ons: false
    billing_infos: false
    coupons: false
    credit_payments: false
    export_dates: false
    invoices: false
    line_items: false
    measured_units: false
    plans: false
    shipping_addresses: false
    shipping_methods: false
    subscriptions: false
    transactions: false
    unique_coupons: false
    unique_coupons_parent: true
  yamlComponents:
    streams:
      export_dates:
        - recordSelector
    global:
      - authenticator
  testedStreams:
    accounts:
      hasRecords: true
      streamHash: 11d3bfcfbacd601ab5efcc68218a6cdef23b6f47
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    account_coupon_redemptions:
      streamHash: d724e45e08324b43a94e0e500e664403fe80332c
    account_notes:
      streamHash: 9db06dff3323ea995b085cf95342db9b2029bb7c
    add_ons:
      streamHash: 94072f96983e4e96f54c7baaa24b0375f57331e1
    billing_infos:
      streamHash: f8f164bc26871caaa7fd5cd8ca27310eec6dcfcc
    coupons:
      streamHash: 4d8f143623054d6cf60e5e350d8b476830a29840
    credit_payments:
      streamHash: 434c5210f63cdd1583ecc09d1b606a5e453e3932
    export_dates:
      streamHash: d0aade1accdb8ac55ebc1669020c001b02fb3307
    invoices:
      streamHash: 8bd7d5dd7d691a0198ad949b14a637af241e3525
    line_items:
      streamHash: 1542034779aaf8c8dae770fd352618fbe3543b90
    measured_units:
      streamHash: a07fb60b432098f1cada954a3830c698ae37a21c
    plans:
      streamHash: b8d262d1c35ffeae577ca07dfe497cd16c81ecef
    shipping_addresses:
      streamHash: 8c103ffaa8b1b579b830aaf66df7d20cbf96cf7e
    shipping_methods:
      streamHash: 26109dca0fcc6c5c236b80f42caf2db14472d433
    subscriptions:
      streamHash: ddab1a73c61da0588d7af3f3f28acdeb0f683a48
    transactions:
      streamHash: a4690ee75cbd87be5f86185f97b4e7e4132a9c1f
    unique_coupons:
      streamHash: 0c5af71a0eebdb74c86b2945aed8ff369c82b671
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    unique_coupons_parent:
      streamHash: ea27ebf3a3b2052a576a3fb3d7a63b52308ca5bc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      address:
        type: object
        description: The address details of the account
        properties:
          city:
            type: string
            description: City of the address
            maxLength: 256
            title: City
          country:
            type: string
            description: Country, 2-letter ISO 3166-1 alpha-2 code.
            maxLength: 2
            title: Country
          geo_code:
            type:
              - "null"
              - string
            description: Geographical coordinates of the address
          phone:
            type: string
            description: Phone number associated with the address
            maxLength: 256
            title: Phone number
          postal_code:
            type: string
            description: Zip or postal code.
            maxLength: 256
            title: Zip/Postal code
          region:
            type: string
            description: State or province.
            maxLength: 256
            title: State/Province
          street1:
            type: string
            description: First line of the street address
            maxLength: 256
            title: Street 1
          street2:
            type: string
            description: Second line of the street address
            maxLength: 256
            title: Street 2
      bill_to:
        type:
          - "null"
          - string
        description: The billing details
        maxLength: 6
      billing_info:
        type: object
        description: Billing information
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          account_id:
            type: string
            maxLength: 13
            readOnly: true
          address:
            type: object
            properties:
              city:
                type:
                  - "null"
                  - string
                maxLength: 256
                title: City
              country:
                type:
                  - "null"
                  - string
                description: Country, 2-letter ISO 3166-1 alpha-2 code.
                maxLength: 2
                title: Country
              phone:
                type:
                  - "null"
                  - string
                maxLength: 256
                title: Phone number
              postal_code:
                type:
                  - "null"
                  - string
                description: Zip or postal code.
                maxLength: 256
                title: Zip/Postal code
              region:
                type:
                  - "null"
                  - string
                description: State or province.
                maxLength: 256
                title: State/Province
              street1:
                type:
                  - "null"
                  - string
                maxLength: 256
                title: Street 1
              street2:
                type:
                  - "null"
                  - string
                maxLength: 256
                title: Street 2
          backup_payment_method:
            type: boolean
            description: >-
              The `backup_payment_method` field is used to indicate a billing
              info as a backup on the account that will be tried if the initial
              billing info used for an invoice is declined.
          company:
            type:
              - "null"
              - string
            maxLength: 100
          created_at:
            type: string
            description: When the billing information was created.
            format: date-time
            readOnly: true
          first_name:
            type:
              - "null"
              - string
            maxLength: 50
          fraud:
            type:
              - "null"
              - object
            description: Most recent fraud result.
            properties:
              decision:
                type:
                  - "null"
                  - string
                maxLength: 10
                title: Kount decision
              risk_rules_triggered:
                type: object
                title: Kount rules
              score:
                type:
                  - "null"
                  - integer
                title: Kount score
            readOnly: true
            title: Fraud information
          id:
            type: string
            maxLength: 13
            readOnly: true
          last_name:
            type:
              - "null"
              - string
            maxLength: 50
          object:
            type:
              - "null"
              - string
          payment_method:
            type: object
            properties:
              account_type:
                type:
                  - "null"
                  - string
                description: The bank account type. Only present for ACH payment methods.
                maxLength: 256
              billing_agreement_id:
                type:
                  - "null"
                  - string
                description: >-
                  Billing Agreement identifier. Only present for Amazon or
                  Paypal payment methods.
                maxLength: 256
              card_type:
                type:
                  - "null"
                  - string
                description: Visa, MasterCard, American Express, Discover, JCB, etc.
                maxLength: 256
              cc_bin_country:
                type:
                  - "null"
                  - string
                description: >-
                  The 2-letter ISO 3166-1 alpha-2 country code associated with
                  the credit card BIN, if known by Recurly. Available on the
                  BillingInfo object only. Available when the BIN country lookup
                  feature is enabled.
                maxLength: 256
              exp_month:
                type:
                  - "null"
                  - integer
                description: Expiration month.
                maxLength: 2
              exp_year:
                type:
                  - "null"
                  - integer
                description: Expiration year.
                maxLength: 4
              first_six:
                type:
                  - "null"
                  - string
                description: Credit card number's first six digits.
                maxLength: 6
              gateway_code:
                type:
                  - "null"
                  - string
                description: An identifier for a specific payment gateway.
                maxLength: 13
              gateway_token:
                type:
                  - "null"
                  - string
                description: >-
                  A token used in place of a credit card in order to perform
                  transactions.
                maxLength: 50
              last_four:
                type:
                  - "null"
                  - string
                description: >-
                  Credit card number's last four digits. Will refer to bank
                  account if payment method is ACH.
                maxLength: 4
              last_two:
                type:
                  - "null"
                  - string
                description: The IBAN bank account's last two digits.
                maxLength: 2
              name_on_account:
                type:
                  - "null"
                  - string
                description: The name associated with the bank account.
                maxLength: 256
              object:
                type:
                  - "null"
                  - string
              routing_number:
                type:
                  - "null"
                  - string
                description: >-
                  The bank account's routing number. Only present for ACH
                  payment methods.
                maxLength: 256
              routing_number_bank:
                type:
                  - "null"
                  - string
                description: The bank name of this routing number.
                maxLength: 256
          primary_payment_method:
            type: boolean
            description: >-
              The `primary_payment_method` field is used to indicate the primary
              billing info on the account. The first billing info created on an
              account will always become primary. This payment method will be
              used
          updated_at:
            type: string
            description: When the billing information was last changed.
            format: date-time
            readOnly: true
          updated_by:
            type:
              - "null"
              - object
            properties:
              country:
                type:
                  - "null"
                  - string
              ip:
                type:
                  - "null"
                  - string
          valid:
            type: boolean
            readOnly: true
          vat_number:
            type:
              - "null"
              - string
            description: >-
              Customer's VAT number (to avoid having the VAT applied). This is
              only used for automatically collected invoices.
            maxLength: 20
      cc_emails:
        type:
          - "null"
          - string
        description: Email addresses for carbon copy (CC)
        maxLength: 256
      code:
        type:
          - "null"
          - string
        description: Unique code assigned to the account
        maxLength: 256
      company:
        type:
          - "null"
          - string
        description: Company associated with the account
        maxLength: 50
      created_at:
        type:
          - "null"
          - string
        description: Date and time when the account was created
        format: date-time
      custom_fields:
        type:
          - "null"
          - array
        description: Custom fields associated with the account
        items:
          type:
            - "null"
            - object
          additionalProperties: true
      deleted_at:
        type:
          - "null"
          - string
        description: Date and time when the account was deleted
        format: date-time
      dunning_campaign_id:
        type:
          - "null"
          - string
        description: Campaign ID for dunning management
        maxLength: 256
      email:
        type:
          - "null"
          - string
        description: Email address of the account holder
        maxLength: 256
      exemption_certificate:
        type:
          - "null"
          - string
        description: Exemption certificate details
        maxLength: 30
      external_accounts:
        type:
          - "null"
          - array
        description: External accounts associated with the account
        items:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            created_at:
              type:
                - "null"
                - string
            external_account_code:
              type:
                - "null"
                - string
            external_connection_type:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            object:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
      first_name:
        type:
          - "null"
          - string
        description: First name of the account holder
        maxLength: 256
      has_active_subscription:
        type:
          - "null"
          - boolean
        description: Flag indicating if the account has an active subscription
      has_canceled_subscription:
        type:
          - "null"
          - boolean
        description: Flag indicating if the account has a canceled subscription
      has_future_subscription:
        type:
          - "null"
          - boolean
        description: Flag indicating if the account has a future subscription
      has_live_subscription:
        type:
          - "null"
          - boolean
        description: Flag indicating if the account has a live subscription
      has_past_due_invoice:
        type:
          - "null"
          - boolean
        description: Flag indicating if the account has a past due invoice
      has_paused_subscription:
        type:
          - "null"
          - boolean
        description: Flag indicating if the account has a paused subscription
      hosted_login_token:
        type:
          - "null"
          - string
        description: Token for hosted login functionality
      id:
        type:
          - "null"
          - string
        description: Unique identifier of the account
        maxLength: 13
      invoice_template_id:
        type:
          - "null"
          - string
        description: ID of the invoice template used
      last_name:
        type:
          - "null"
          - string
        description: Last name of the account holder
        maxLength: 256
      object:
        type:
          - "null"
          - string
        description: Type of object
      override_business_entity_id:
        type:
          - "null"
          - string
        description: ID for overriding business entity
      parent_account_id:
        type:
          - "null"
          - string
        description: ID of the parent account
        maxLength: 13
      preferred_locale:
        type:
          - "null"
          - string
        description: Preferred language/locale of the account holder
        maxLength: 12
      preferred_time_zone:
        type:
          - "null"
          - string
        description: Preferred time zone of the account holder
      shipping_addresses:
        type:
          - "null"
          - array
        description: Addresses for shipping
        items:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            account_id:
              type: string
              maxLength: 13
              readOnly: true
              title: Account ID
            city:
              type: string
              maxLength: 255
            company:
              type: string
              maxLength: 255
            country:
              type: string
              description: Country, 2-letter ISO 3166-1 alpha-2 code.
              maxLength: 50
            created_at:
              type: string
              format: date-time
              readOnly: true
              title: Created at
            email:
              type: string
              maxLength: 255
            first_name:
              type: string
              maxLength: 255
            geo_code:
              type:
                - "null"
                - string
            id:
              type: string
              maxLength: 13
              readOnly: true
              title: Shipping Address ID
            last_name:
              type: string
              maxLength: 255
            nickname:
              type: string
              maxLength: 255
            object:
              type:
                - "null"
                - string
            phone:
              type: string
              maxLength: 30
            postal_code:
              type: string
              description: Zip or postal code.
              maxLength: 20
            region:
              type: string
              description: State or province.
              maxLength: 255
            street1:
              type: string
              maxLength: 255
            street2:
              type: string
              maxLength: 255
            updated_at:
              type: string
              format: date-time
              readOnly: true
              title: Updated at
            vat_number:
              type: string
              maxLength: 20
      state:
        type:
          - "null"
          - string
        description: State/province of the account address
        maxLength: 256
      tax_exempt:
        type:
          - "null"
          - boolean
        description: Flag indicating if the account is tax exempt
      updated_at:
        type:
          - "null"
          - string
        description: Date and time when the account was last updated
        format: date-time
      username:
        type:
          - "null"
          - string
        description: Username of the account holder
        maxLength: 256
      vat_number:
        type:
          - "null"
          - string
        description: VAT (Value Added Tax) number of the account
        maxLength: 20
  account_coupon_redemptions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      account:
        type:
          - "null"
          - object
        description: The account associated with the coupon redemption
        properties:
          bill_to:
            type:
              - "null"
              - string
          code:
            type:
              - "null"
              - string
          company:
            type:
              - "null"
              - string
          dunning_campaign_id:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          id:
            type: string
          last_name:
            type:
              - "null"
              - string
          object:
            type:
              - "null"
              - string
          parent_account_id:
            type:
              - "null"
              - string
      coupon:
        type: object
        description: The coupon being redeemed
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          applies_to_all_items:
            type:
              - "null"
              - boolean
          applies_to_all_plans:
            type:
              - "null"
              - boolean
          applies_to_non_plan_charges:
            type:
              - "null"
              - boolean
          code:
            type:
              - "null"
              - string
            maxLength: 256
          coupon_type:
            type:
              - "null"
              - string
            maxLength: 256
          created_at:
            type:
              - "null"
              - string
            format: date-time
          discount:
            type:
              - "null"
              - object
            description: >
              Details of the discount a coupon applies. Will contain a `type`

              property and one of the following properties: `percent`, `fixed`,
              `trial`.
            properties:
              type:
                type: string
                maxLength: 256
              currencies:
                type: array
                description: This is only present when `type=fixed`.
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    amount:
                      type: number
                      description: Value of the fixed discount that this coupon applies.
                      format: float
                      title: Discount Amount
                    currency:
                      type: string
                      description: 3-letter ISO 4217 currency code.
                      maxLength: 3
                      title: Currency
              percent:
                type: integer
                description: This is only present when `type=percent`.
              trial:
                type: object
                description: This is only present when `type=free_trial`.
                properties:
                  length:
                    type: integer
                    description: >-
                      Trial length measured in the units specified by the
                      sibling `unit` property
                    title: Trial length
                  unit:
                    type: string
                    description: Temporal unit of the free trial
                    maxLength: 256
                    title: Trial unit
          duration:
            type:
              - "null"
              - string
            maxLength: 256
          expired_at:
            type:
              - "null"
              - string
            format: date-time
          free_trial_amount:
            type:
              - "null"
              - number
          free_trial_unit:
            type:
              - "null"
              - string
            maxLength: 256
          hosted_page_description:
            type:
              - "null"
              - string
            maxLength: 1024
          id:
            type:
              - "null"
              - string
            maxLength: 13
          invoice_description:
            type:
              - "null"
              - string
            maxLength: 1024
          items:
            type:
              - "null"
              - array
            description: |
              A list of items for which this coupon applies. This will be
              `null` if `applies_to_all_items=true`.
            items:
              type:
                - "null"
                - object
              description: Just the important parts.
              properties:
                id:
                  type: string
                  maxLength: 13
                  readOnly: true
                  title: Item ID
              title: Item mini details
            title: Items
          max_redemptions:
            type:
              - "null"
              - number
          max_redemptions_per_account:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
            maxLength: 256
          object:
            type:
              - "null"
              - string
          plans:
            type:
              - "null"
              - array
            description: >-
              A list of plans for which this coupon applies. This will be `null`
              if `applies_to_all_plans=true`.
            items:
              type: object
              description: Just the important parts.
              properties:
                code:
                  type: string
                  description: >-
                    Unique code to identify the plan. This is used in Hosted
                    Payment Page URLs and in the invoice exports.
                  maxLength: 13
                  title: Plan code
                id:
                  type: string
                  maxLength: 13
                  readOnly: true
                  title: Plan ID
              title: Plan mini details
            title: Plans
          redeem_by:
            type:
              - "null"
              - string
            maxLength: 256
          redemption_resource:
            type:
              - "null"
              - string
            maxLength: 256
          state:
            type:
              - "null"
              - string
            maxLength: 256
          temporal_amount:
            type:
              - "null"
              - number
          temporal_unit:
            type:
              - "null"
              - string
            maxLength: 256
          unique_code_template:
            type:
              - "null"
              - string
            maxLength: 256
          unique_coupon_code:
            type:
              - "null"
              - object
            description: A unique coupon code for a bulk coupon.
            $schema: http://json-schema.org/draft-07/schema#
            properties:
              bulk_coupon_code:
                type:
                  - "null"
                  - string
                description: The Coupon code of the parent Bulk Coupon
                maxLength: 256
                title: Bulk Coupon code
              bulk_coupon_id:
                type:
                  - "null"
                  - string
                description: The Coupon ID of the parent Bulk Coupon
                maxLength: 13
                readOnly: true
                title: Bulk Coupon ID
              code:
                type: string
                description: The code the customer enters to redeem the coupon.
                maxLength: 256
                title: Coupon code
              created_at:
                type: string
                format: date-time
                readOnly: true
                title: Created at
              expired_at:
                type:
                  - "null"
                  - string
                description: >-
                  The date and time the coupon was expired early or reached its
                  `max_redemptions`.
                format: date-time
                title: Expired at
              id:
                type: string
                maxLength: 13
                readOnly: true
                title: Unique Coupon Code ID
              object:
                type: string
              redeemed_at:
                type:
                  - "null"
                  - string
                description: The date and time the unique coupon code was redeemed.
                format: date-time
                readOnly: true
                title: Redeemed at
              state:
                type:
                  - "null"
                  - string
                description: Indicates if the unique coupon code is redeemable or why not.
                maxLength: 256
                title: State
              updated_at:
                type: string
                format: date-time
                readOnly: true
                title: Updated at
          unique_coupon_codes_count:
            type:
              - "null"
              - number
          updated_at:
            type:
              - "null"
              - string
            format: date-time
      created_at:
        type:
          - "null"
          - string
        description: The date and time when the redemption was created
        format: date-time
      currency:
        type:
          - "null"
          - string
        description: The currency in which the redemption was made
        maxLength: 3
      discounted:
        type:
          - "null"
          - number
        description: The amount discounted by the coupon
      id:
        type:
          - "null"
          - string
        description: The unique identifier for the redemption
        maxLength: 13
      object:
        type:
          - "null"
          - string
        description: The type of object this represents
      removed_at:
        type:
          - "null"
          - string
        description: The date and time when the redemption was removed (if applicable)
        format: date-time
      state:
        type:
          - "null"
          - string
        description: The current state of the redemption
        maxLength: 256
      subscription_id:
        type:
          - "null"
          - string
        description: The subscription associated with the redemption
        maxLength: 13
      updated_at:
        type:
          - "null"
          - string
        description: The date and time when the redemption was last updated
        format: date-time
  account_notes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      account_id:
        type: string
        description: The unique identifier of the account associated with this note.
        maxLength: 13
      created_at:
        type: string
        description: The date and time when the note was created.
        format: date-time
        readOnly: true
      id:
        type: string
        description: The unique identifier for this note.
        maxLength: 13
        readOnly: true
      message:
        type:
          - "null"
          - string
        description: The content or message of the note.
        maxLength: 2048
      object:
        type:
          - "null"
          - string
        description: Represents the object type, in this case, 'note'.
      user:
        type:
          - "null"
          - object
        description: The user who created the note.
        properties:
          created_at:
            type:
              - "null"
              - string
            format: date-time
          deleted_at:
            type:
              - "null"
              - string
            format: date-time
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          id:
            type: string
          last_name:
            type:
              - "null"
              - string
          object:
            type:
              - "null"
              - string
          time_zone:
            type:
              - "null"
              - string
  add_ons:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accounting_code:
        type:
          - "null"
          - string
        description: >-
          Accounting code for invoice line items for this add-on. If no value is
          provided, it defaults to add-on's code.
        maxLength: 256
        title: Accounting code
      add_on_type:
        type:
          - "null"
          - string
        description: Whether the add-on type is fixed, or usage-based.
        maxLength: 256
        title: Add-on Type
      avalara_service_type:
        type:
          - string
          - integer
        description: >-
          Used by Avalara for Communications taxes. The transaction type in
          combination with the service type describe how the add-on is taxed.
          Refer to [the
          documentation](https://help.avalara.com/AvaTax_for_Communications/Tax_Calculation/AvaTax_for_Communications_Tax_Engine/Mapping_Resources/TM_00115_AFC_Modules_Corresponding_Transaction_Types)
          for more available t/s types.
        minimum: 0
        title: Avalara Service Type
      avalara_transaction_type:
        type:
          - string
          - integer
        description: >-
          Used by Avalara for Communications taxes. The transaction type in
          combination with the service type describe how the add-on is taxed.
          Refer to [the
          documentation](https://help.avalara.com/AvaTax_for_Communications/Tax_Calculation/AvaTax_for_Communications_Tax_Engine/Mapping_Resources/TM_00115_AFC_Modules_Corresponding_Transaction_Types)
          for more available t/s types.
        minimum: 0
        title: Avalara Transaction Type
      code:
        type: string
        description: The unique identifier for the add-on within its plan.
        maxLength: 50
        title: Add-on code
      created_at:
        type: string
        description: The date and time when the add-on was created.
        format: date-time
        readOnly: true
        title: Created at
      currencies:
        type: array
        description: This is only present when `type=fixed`.
        items:
          type:
            - "null"
            - object
          properties:
            currency:
              type: string
              description: 3-letter ISO 4217 currency code.
              maxLength: 3
              title: Currency
            unit_amount:
              type: number
              description: Value of the fixed discount that this coupon applies.
              format: float
              title: Discount Amount
      default_quantity:
        type:
          - "null"
          - integer
        description: Default quantity for the hosted pages.
        title: Default quantity
      deleted_at:
        type: string
        description: The date and time when the add-on was deleted, if applicable.
        format: date-time
        readOnly: true
        title: Deleted at
      display_quantity:
        type:
          - "null"
          - boolean
        description: >-
          Determines if the quantity field is displayed on the hosted pages for
          the add-on.
        title: Display quantity?
      id:
        type: string
        description: The unique identifier for the add-on.
        maxLength: 13
        readOnly: true
        title: Add-on ID
      measured_unit_id:
        type:
          - "null"
          - string
        description: >-
          System-generated unique identifier for an measured unit associated
          with the add-on.
        maxLength: 13
        title: Measured Unit ID
      name:
        type: string
        description: Describes your add-on and will appear in subscribers' invoices.
        maxLength: 255
        title: Name
      optional:
        type:
          - "null"
          - boolean
        description: >-
          Whether the add-on is optional for the customer to include in their
          purchase on the hosted payment page. If false, the add-on will be
          included when a subscription is created through the Recurly UI.
          However, the add-on will not be included when a subscription is
          created through the API.
        title: Optional
      plan_id:
        type: string
        description: The ID of the plan to which the add-on is associated.
        maxLength: 13
        readOnly: true
        title: Plan ID
      revenue_schedule_type:
        type: string
        description: >-
          When this add-on is invoiced, the line item will use this revenue
          schedule. If `item_code`/`item_id` is part of the request then
          `revenue_schedule_type` must be absent in the request as the value
          will be set from the item.
        maxLength: 256
        title: Revenue schedule type
      state:
        type: string
        description: Add-ons can be either active or inactive.
        maxLength: 256
        readOnly: true
        title: State
      tax_code:
        type:
          - "null"
          - string
        description: >-
          Used by Avalara, Vertex, and Recurly’s EU VAT tax feature. The tax
          code values are specific to each tax system. If you are using
          Recurly’s EU VAT feature you can use `unknown`, `physical`, or
          `digital`.
        maxLength: 50
        title: Tax code
      tier_type:
        type:
          - "null"
          - string
        description: >
          The pricing model for the add-on.  For more information,

          [click
          here](https://docs.recurly.com/docs/billing-models#section-quantity-based).
          See our

          [Guide](https://developers.recurly.com/guides/item-addon-guide.html)
          for an overview of how

          to configure quantity-based pricing models.
        maxLength: 256
        title: Tier type
      updated_at:
        type: string
        description: The date and time when the add-on was last updated.
        format: date-time
        readOnly: true
        title: Last updated at
      usage_percentage:
        type:
          - "null"
          - number
        description: >-
          The percentage taken of the monetary amount of usage tracked. This can
          be up to 4 decimal places. A value between 0.0 and 100.0.
        format: float
        title: Usage Percentage
      usage_type:
        type: string
        description: Type of usage, returns usage type if `add_on_type` is `usage`.
        maxLength: 256
        title: Usage Type
  billing_infos:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      account_id:
        type: string
        maxLength: 13
        readOnly: true
      address:
        type: object
        properties:
          city:
            type:
              - "null"
              - string
            maxLength: 256
            title: City
          country:
            type:
              - "null"
              - string
            description: Country, 2-letter ISO 3166-1 alpha-2 code.
            maxLength: 2
            title: Country
          phone:
            type:
              - "null"
              - string
            maxLength: 256
            title: Phone number
          postal_code:
            type:
              - "null"
              - string
            description: Zip or postal code.
            maxLength: 256
            title: Zip/Postal code
          region:
            type:
              - "null"
              - string
            description: State or province.
            maxLength: 256
            title: State/Province
          street1:
            type:
              - "null"
              - string
            maxLength: 256
            title: Street 1
          street2:
            type:
              - "null"
              - string
            maxLength: 256
            title: Street 2
      backup_payment_method:
        type: boolean
        description: >-
          The `backup_payment_method` field is used to indicate a billing info
          as a backup on the account that will be tried if the initial billing
          info used for an invoice is declined.
      company:
        type:
          - "null"
          - string
        maxLength: 100
      created_at:
        type: string
        description: When the billing information was created.
        format: date-time
        readOnly: true
      first_name:
        type:
          - "null"
          - string
        maxLength: 50
      fraud:
        type:
          - "null"
          - object
        description: Most recent fraud result.
        properties:
          decision:
            type:
              - "null"
              - string
            maxLength: 10
            title: Kount decision
          risk_rules_triggered:
            type: object
            title: Kount rules
          score:
            type:
              - "null"
              - integer
            title: Kount score
        readOnly: true
        title: Fraud information
      id:
        type: string
        maxLength: 13
        readOnly: true
      last_name:
        type:
          - "null"
          - string
        maxLength: 50
      object:
        type:
          - "null"
          - string
      payment_method:
        type: object
        properties:
          account_type:
            type:
              - "null"
              - string
            description: The bank account type. Only present for ACH payment methods.
            maxLength: 256
          billing_agreement_id:
            type:
              - "null"
              - string
            description: >-
              Billing Agreement identifier. Only present for Amazon or Paypal
              payment methods.
            maxLength: 256
          card_type:
            type:
              - "null"
              - string
            description: Visa, MasterCard, American Express, Discover, JCB, etc.
            maxLength: 256
          cc_bin_country:
            type:
              - "null"
              - string
            description: >-
              The 2-letter ISO 3166-1 alpha-2 country code associated with the
              credit card BIN, if known by Recurly. Available on the BillingInfo
              object only. Available when the BIN country lookup feature is
              enabled.
            maxLength: 256
          exp_month:
            type:
              - "null"
              - integer
            description: Expiration month.
            maxLength: 2
          exp_year:
            type:
              - "null"
              - integer
            description: Expiration year.
            maxLength: 4
          first_six:
            type:
              - "null"
              - string
            description: Credit card number's first six digits.
            maxLength: 6
          gateway_code:
            type:
              - "null"
              - string
            description: An identifier for a specific payment gateway.
            maxLength: 13
          gateway_token:
            type:
              - "null"
              - string
            description: >-
              A token used in place of a credit card in order to perform
              transactions.
            maxLength: 50
          last_four:
            type:
              - "null"
              - string
            description: >-
              Credit card number's last four digits. Will refer to bank account
              if payment method is ACH.
            maxLength: 4
          last_two:
            type:
              - "null"
              - string
            description: The IBAN bank account's last two digits.
            maxLength: 2
          name_on_account:
            type:
              - "null"
              - string
            description: The name associated with the bank account.
            maxLength: 256
          object:
            type:
              - "null"
              - string
          routing_number:
            type:
              - "null"
              - string
            description: >-
              The bank account's routing number. Only present for ACH payment
              methods.
            maxLength: 256
          routing_number_bank:
            type:
              - "null"
              - string
            description: The bank name of this routing number.
            maxLength: 256
      primary_payment_method:
        type: boolean
        description: >-
          The `primary_payment_method` field is used to indicate the primary
          billing info on the account. The first billing info created on an
          account will always become primary. This payment method will be used
      updated_at:
        type: string
        description: When the billing information was last changed.
        format: date-time
        readOnly: true
      updated_by:
        type:
          - "null"
          - object
        properties:
          country:
            type:
              - "null"
              - string
          ip:
            type:
              - "null"
              - string
      valid:
        type: boolean
        readOnly: true
      vat_number:
        type:
          - "null"
          - string
        description: >-
          Customer's VAT number (to avoid having the VAT applied). This is only
          used for automatically collected invoices.
        maxLength: 20
  coupons:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      applies_to_all_items:
        type:
          - "null"
          - boolean
      applies_to_all_plans:
        type:
          - "null"
          - boolean
      applies_to_non_plan_charges:
        type:
          - "null"
          - boolean
      code:
        type:
          - "null"
          - string
        maxLength: 256
      coupon_type:
        type:
          - "null"
          - string
        maxLength: 256
      created_at:
        type:
          - "null"
          - string
        format: date-time
      discount:
        type:
          - "null"
          - object
        description: >
          Details of the discount a coupon applies. Will contain a `type`

          property and one of the following properties: `percent`, `fixed`,
          `trial`.
        properties:
          type:
            type: string
            maxLength: 256
          currencies:
            type: array
            description: This is only present when `type=fixed`.
            items:
              type:
                - "null"
                - object
              properties:
                amount:
                  type: number
                  description: Value of the fixed discount that this coupon applies.
                  format: float
                  title: Discount Amount
                currency:
                  type: string
                  description: 3-letter ISO 4217 currency code.
                  maxLength: 3
                  title: Currency
          percent:
            type: integer
            description: This is only present when `type=percent`.
          trial:
            type: object
            description: This is only present when `type=free_trial`.
            properties:
              length:
                type: integer
                description: >-
                  Trial length measured in the units specified by the sibling
                  `unit` property
                title: Trial length
              unit:
                type: string
                description: Temporal unit of the free trial
                maxLength: 256
                title: Trial unit
      duration:
        type:
          - "null"
          - string
        maxLength: 256
      expired_at:
        type:
          - "null"
          - string
        format: date-time
      free_trial_amount:
        type:
          - "null"
          - number
      free_trial_unit:
        type:
          - "null"
          - string
        maxLength: 256
      hosted_page_description:
        type:
          - "null"
          - string
        maxLength: 1024
      id:
        type:
          - "null"
          - string
        maxLength: 13
      invoice_description:
        type:
          - "null"
          - string
        maxLength: 1024
      items:
        type:
          - "null"
          - array
        description: |
          A list of items for which this coupon applies. This will be
          `null` if `applies_to_all_items=true`.
        items:
          type:
            - "null"
            - object
          description: Just the important parts.
          properties:
            id:
              type: string
              maxLength: 13
              readOnly: true
              title: Item ID
          title: Item mini details
        title: Items
      max_redemptions:
        type:
          - "null"
          - number
      max_redemptions_per_account:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
        maxLength: 256
      object:
        type:
          - "null"
          - string
      plans:
        type:
          - "null"
          - array
        description: >-
          A list of plans for which this coupon applies. This will be `null` if
          `applies_to_all_plans=true`.
        items:
          type: object
          description: Just the important parts.
          properties:
            code:
              type: string
              description: >-
                Unique code to identify the plan. This is used in Hosted Payment
                Page URLs and in the invoice exports.
              maxLength: 13
              title: Plan code
            id:
              type: string
              maxLength: 13
              readOnly: true
              title: Plan ID
          title: Plan mini details
        title: Plans
      redeem_by:
        type:
          - "null"
          - string
        maxLength: 256
      redemption_resource:
        type:
          - "null"
          - string
        maxLength: 256
      state:
        type:
          - "null"
          - string
        maxLength: 256
      temporal_amount:
        type:
          - "null"
          - number
      temporal_unit:
        type:
          - "null"
          - string
        maxLength: 256
      unique_code_template:
        type:
          - "null"
          - string
        maxLength: 256
      unique_coupon_code:
        type:
          - "null"
          - object
        description: A unique coupon code for a bulk coupon.
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          bulk_coupon_code:
            type:
              - "null"
              - string
            description: The Coupon code of the parent Bulk Coupon
            maxLength: 256
            title: Bulk Coupon code
          bulk_coupon_id:
            type:
              - "null"
              - string
            description: The Coupon ID of the parent Bulk Coupon
            maxLength: 13
            readOnly: true
            title: Bulk Coupon ID
          code:
            type: string
            description: The code the customer enters to redeem the coupon.
            maxLength: 256
            title: Coupon code
          created_at:
            type: string
            format: date-time
            readOnly: true
            title: Created at
          expired_at:
            type:
              - "null"
              - string
            description: >-
              The date and time the coupon was expired early or reached its
              `max_redemptions`.
            format: date-time
            title: Expired at
          id:
            type: string
            maxLength: 13
            readOnly: true
            title: Unique Coupon Code ID
          object:
            type: string
          redeemed_at:
            type:
              - "null"
              - string
            description: The date and time the unique coupon code was redeemed.
            format: date-time
            readOnly: true
            title: Redeemed at
          state:
            type:
              - "null"
              - string
            description: Indicates if the unique coupon code is redeemable or why not.
            maxLength: 256
            title: State
          updated_at:
            type: string
            format: date-time
            readOnly: true
            title: Updated at
      unique_coupon_codes_count:
        type:
          - "null"
          - number
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  credit_payments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account:
        type: object
        description: Details about the account associated with the credit payment.
        properties:
          code:
            type: string
            description: The unique identifier of the account.
            maxLength: 50
          id:
            type: string
            description: The ID of the account associated with the credit payment.
            maxLength: 13
            readOnly: true
        title: Account mini details
      action:
        type: string
        description: The action for which the credit was created.
        maxLength: 256
        title: Action
      amount:
        type: number
        description: Total credit payment amount applied to the charge invoice.
        format: float
        title: Amount
      applied_to_invoice:
        type:
          - "null"
          - object
        description: Details about the invoice to which the credit payment is applied.
        properties:
          id:
            type: string
            description: The ID of the invoice to which the credit payment is applied.
            maxLength: 13
            title: Invoice ID
          number:
            type: string
            description: The number of the invoice to which the credit payment is applied.
            maxLength: 256
            title: Invoice number
        title: Invoice mini details
      created_at:
        type: string
        description: The date and time when the credit payment was created.
        format: date-time
        readOnly: true
        title: Created at
      currency:
        type: string
        description: 3-letter ISO 4217 currency code.
        maxLength: 3
        title: Currency
      id:
        type: string
        description: The unique identifier of the credit payment.
        maxLength: 13
        title: Credit Payment ID
      original_credit_payment_id:
        type:
          - "null"
          - string
        description: >-
          For credit payments with action `refund`, this is the credit payment
          that was refunded.
        maxLength: 13
        title: Original Credit Payment ID
      original_invoice:
        type:
          - "null"
          - object
        description: >-
          Details about the original invoice for which the credit payment is
          made.
        properties:
          id:
            type: string
            description: >-
              The ID of the original invoice for which the credit payment was
              made.
            maxLength: 13
            title: Invoice ID
          number:
            type: string
            description: >-
              The number of the original invoice for which the credit payment
              was made.
            maxLength: 256
            title: Invoice number
        title: Invoice mini details
      refund_transaction:
        type:
          - "null"
          - object
        description: >-
          Details about the refund transaction associated with the credit
          payment.
        properties:
          id:
            type: string
            description: >-
              The ID of the refund transaction associated with the credit
              payment.
            maxLength: 13
            title: Transaction ID
          uuid:
            type: string
            description: >-
              The UUID is useful for matching data with the CSV exports and
              building URLs into Recurly's UI.
            maxLength: 32
            title: Recurly UUID
      updated_at:
        type: string
        description: The date and time when the credit payment was last updated.
        format: date-time
        readOnly: true
        title: Last updated at
      uuid:
        type: string
        description: >-
          The UUID is useful for matching data with the CSV exports and building
          URLs into Recurly's UI.
        maxLength: 32
        title: Recurly UUID
      voided_at:
        type:
          - "null"
          - string
        description: The date and time when the credit payment was voided.
        format: date-time
        readOnly: true
        title: Voided at
  export_dates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      dates:
        type:
[...]
