version: 7.10.0

type: DeclarativeSource

description: >-
  Zoho invoice is an invoicing software used by businesses.

  With this connector we can extract data from various streams such as items ,
  contacts and invoices streams.

  Docs : https://www.zoho.com/invoice/api/v3/introduction/#overview

check:
  type: CheckStream
  stream_names:
    - items

definitions:
  linked:
    HttpRequester:
      url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
      authenticator:
        type: OAuthAuthenticator
        client_id: "{{ config[\"client_id\"] }}"
        grant_type: refresh_token
        client_secret: "{{ config[\"client_secret\"] }}"
        refresh_token: "{{ config[\"client_refresh_token\"] }}"
        refresh_request_body: {}
        token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
      request_headers:
        X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: items
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: items
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    primary_key:
      - item_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - item_id
        properties:
          description:
            type:
              - string
              - "null"
          sku:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rate:
            type:
              - number
              - "null"
          unit:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          tax_id:
            type:
              - string
              - "null"
          item_id:
            type: string
          tax_name:
            type:
              - string
              - "null"
          item_name:
            type:
              - string
              - "null"
          image_name:
            type:
              - string
              - "null"
          image_type:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          product_type:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          tax_percentage:
            type:
              - number
              - "null"
          zcrm_product_id:
            type:
              - string
              - "null"
          image_document_id:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          is_linked_with_zohocrm:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: users
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
    primary_key:
      - user_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - user_id
        properties:
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          role_id:
            type:
              - string
              - "null"
          user_id:
            type: string
          photo_url:
            type:
              - string
              - "null"
          user_role:
            type:
              - string
              - "null"
          user_type:
            type:
              - string
              - "null"
          is_employee:
            type:
              - boolean
              - "null"
          is_super_admin:
            type:
              - boolean
              - "null"
          invitation_type:
            type:
              - string
              - "null"
          is_current_user:
            type:
              - boolean
              - "null"
          is_vendor_segmented:
            type:
              - boolean
              - "null"
          is_customer_segmented:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: contacts
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: contacts
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - contacts
    primary_key:
      - contact_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - contact_id
        properties:
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          pan_no:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          twitter:
            type:
              - string
              - "null"
          website:
            type:
              - string
              - "null"
          facebook:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          contact_id:
            type: string
          first_name:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          contact_name:
            type:
              - string
              - "null"
          contact_type:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          ach_supported:
            type:
              - boolean
              - "null"
          currency_code:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
          customer_name:
            type:
              - string
              - "null"
          language_code:
            type:
              - string
              - "null"
          payment_terms:
            type:
              - number
              - "null"
          portal_status:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          custom_field_hash:
            type:
              - object
              - "null"
          customer_sub_type:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          payment_terms_label:
            type:
              - string
              - "null"
          contact_type_formatted:
            type:
              - string
              - "null"
          created_time_formatted:
            type:
              - string
              - "null"
          is_linked_with_zohocrm:
            type:
              - boolean
              - "null"
          language_code_formatted:
            type:
              - string
              - "null"
          portal_status_formatted:
            type:
              - string
              - "null"
          last_modified_time_formatted:
            type:
              - string
              - "null"
          outstanding_receivable_amount:
            type:
              - number
              - "null"
          unused_credits_receivable_amount:
            type:
              - number
              - "null"
          outstanding_receivable_amount_bcy:
            type:
              - number
              - "null"
          unused_credits_receivable_amount_bcy:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: invoices
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: invoices
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoices
    primary_key:
      - invoice_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - invoice_id
        properties:
          type:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          balance:
            type:
              - number
              - "null"
          country:
            type:
              - string
              - "null"
          due_date:
            type:
              - string
              - "null"
          due_days:
            type:
              - string
              - "null"
          documents:
            type:
              - string
              - "null"
          adjustment:
            type:
              - number
              - "null"
          color_code:
            type:
              - string
              - "null"
          created_by:
            type:
              - string
              - "null"
          invoice_id:
            type: string
          is_emailed:
            type:
              - boolean
              - "null"
          is_pre_gst:
            type:
              - boolean
              - "null"
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          invoice_url:
            type:
              - string
              - "null"
          template_id:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          no_of_copies:
            type:
              - number
              - "null"
          project_name:
            type:
              - string
              - "null"
          updated_time:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
          customer_name:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          schedule_time:
            type:
              - string
              - "null"
          template_type:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          invoice_number:
            type:
              - string
              - "null"
          reminders_sent:
            type:
              - number
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          billing_address:
            type:
              - object
              - "null"
            properties:
              fax:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              address:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              street2:
                type:
                  - string
                  - "null"
              zipcode:
                type:
                  - string
                  - "null"
              attention:
                type:
                  - string
                  - "null"
          currency_symbol:
            type:
              - string
              - "null"
          shipping_charge:
            type:
              - number
              - "null"
          reference_number:
            type:
              - string
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          shipping_address:
            type:
              - object
              - "null"
            properties:
              fax:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              address:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              street2:
                type:
                  - string
                  - "null"
              zipcode:
                type:
                  - string
                  - "null"
              attention:
                type:
                  - string
                  - "null"
          transaction_type:
            type:
              - string
              - "null"
          write_off_amount:
            type:
              - number
              - "null"
          custom_field_hash:
            type:
              - object
              - "null"
          is_viewed_in_mail:
            type:
              - boolean
              - "null"
          last_payment_date:
            type:
              - string
              - "null"
          show_no_of_copies:
            type:
              - boolean
              - "null"
          zcrm_potential_id:
            type:
              - string
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          zcrm_potential_name:
            type:
              - string
              - "null"
          ach_payment_initiated:
            type:
              - boolean
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          mail_last_viewed_time:
            type:
              - string
              - "null"
          payment_expected_date:
            type:
              - string
              - "null"
          mail_first_viewed_time:
            type:
              - string
              - "null"
          last_reminder_sent_date:
            type:
              - string
              - "null"
          unprocessed_payment_amount:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: recurring_invoices
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: recurringinvoices
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - recurring_invoices
    primary_key:
      - recurring_invoice_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - recurring_invoice_id
        properties:
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          repeat_every:
            type:
              - number
              - "null"
          customer_name:
            type:
              - string
              - "null"
          last_sent_date:
            type:
              - string
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          recurrence_name:
            type:
              - string
              - "null"
          last_four_digits:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          child_entity_type:
            type:
              - string
              - "null"
          next_invoice_date:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          recurrence_frequency:
            type:
              - string
              - "null"
          recurring_invoice_id:
            type: string
        additionalProperties: true
  - type: DeclarativeStream
    name: customer_payments
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: customerpayments
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - customerpayments
    primary_key:
      - payment_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - payment_id
        properties:
          description:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          amount:
            type:
              - number
              - "null"
          documents:
            type:
              - string
              - "null"
          bcy_amount:
            type:
              - number
              - "null"
          payment_id:
            type: string
          customer_id:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          payment_mode:
            type:
              - string
              - "null"
          payment_type:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          unused_amount:
            type:
              - number
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          payment_number:
            type:
              - string
              - "null"
          payment_status:
            type:
              - string
              - "null"
          invoice_numbers:
            type:
              - string
              - "null"
          payment_gateway:
            type:
              - string
              - "null"
          applied_invoices:
            type:
              - array
              - "null"
          last_four_digits:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          bcy_unused_amount:
            type:
              - number
              - "null"
          settlement_status:
            type:
              - string
              - "null"
          custom_fields_list:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          bcy_refunded_amount:
            type:
              - number
              - "null"
          product_description:
            type:
              - string
              - "null"
          tax_amount_withheld:
            type:
              - number
              - "null"
          gateway_transaction_id:
            type:
              - string
              - "null"
          payment_mode_formatted:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: credit notes
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: creditnotes
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - creditnotes
    primary_key:
      - creditnote_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - creditnote_id
        properties:
          date:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          balance:
            type:
              - number
              - "null"
          color_code:
            type:
              - string
              - "null"
          is_emailed:
            type:
              - boolean
              - "null"
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          template_id:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          creditnote_id:
            type: string
          currency_code:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          template_type:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          price_precision:
            type:
              - number
              - "null"
          applied_invoices:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          creditnote_number:
            type:
              - string
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: expenses
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: expenses
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - expenses
    primary_key:
      - expense_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - expense_id
        properties:
          description:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          distance:
            type:
              - number
              - "null"
          bcy_total:
            type:
              - number
              - "null"
          report_id:
            type:
              - string
              - "null"
          user_name:
            type:
              - string
              - "null"
          expense_id:
            type: string
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          end_reading:
            type:
              - string
              - "null"
          is_billable:
            type:
              - boolean
              - "null"
          is_personal:
            type:
              - boolean
              - "null"
          report_name:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          expense_type:
            type:
              - string
              - "null"
          mileage_rate:
            type:
              - number
              - "null"
          mileage_type:
            type:
              - string
              - "null"
          mileage_unit:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          report_number:
            type:
              - string
              - "null"
          start_reading:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          reference_number:
            type:
              - string
              - "null"
          total_without_tax:
            type:
              - number
              - "null"
          custom_fields_list:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          expense_receipt_name:
            type:
              - string
              - "null"
          bcy_total_without_tax:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: taxes
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
          inject_on_first_request: false
      requester:
        type: HttpRequester
        url_base: https://www.zohoapis.{{ config['region'] }}/invoice/v3/
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"client_refresh_token\"] }}"
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{config['region']}}/oauth/v2/token
        path: /settings/taxes
        http_method: GET
        request_headers:
          X-com-zoho-invoice-organizationid: "{{ config['organization_id'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - taxes
    primary_key:
      - tax_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - tax_id
        properties:
          status:
            type:
              - string
              - "null"
          tax_id:
            type: string
          end_date:
            type:
              - string
              - "null"
          tax_name:
            type:
              - string
              - "null"
          tax_type:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          is_editable:
            type:
              - boolean
              - "null"
          is_inactive:
            type:
              - boolean
              - "null"
          is_default_tax:
            type:
              - boolean
              - "null"
          tax_percentage:
            type:
              - number
              - "null"
          diff_rate_reason:
            type:
              - string
              - "null"
          tax_specific_type:
            type:
              - string
              - "null"
          tax_specification:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - client_refresh_token
      - region
    properties:
      region:
        type: string
        enum:
          - com
          - eu
          - in
          - com.cn
          - com.au
          - jp
          - sa
          - ca
        order: 4
        title: Region
      client_id:
        type: string
        order: 0
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 1
        title: Client secret
        airbyte_secret: true
      organization_id:
        type: string
        description: To be provided if a user belongs to multiple organizations
        order: 3
        title: Organization ID
      client_refresh_token:
        type: string
        order: 2
        title: Refresh token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    items:
      hasRecords: true
      streamHash: 2d6534f99c83d65519effcb14e7d119db1674f5a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    taxes:
      hasRecords: true
      streamHash: f47e68753dd13cf3fb35b455ac0ea4ef6539e27d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: a246106b1c4373a5105508c126c539ca69b541d6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      hasRecords: true
      streamHash: 6150e20bbb3c3b7fefae12d87efb22179139d52a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    expenses:
      hasRecords: true
      streamHash: 147537711b05fb4a95fbb6c85c1c14c0e43f4a9d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    invoices:
      hasRecords: true
      streamHash: cb0cb9526e649a7522b3b2d86aa4ef5af5581a0b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    credit notes:
      hasRecords: true
      streamHash: e1cf97fe81ac4aefb324072130c8946e515e802b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customer_payments:
      hasRecords: true
      streamHash: 7625f6062136e947be65114ae692df425d96aa7c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    recurring_invoices:
      hasRecords: true
      streamHash: 5de65fa77e81237f1fa6a6275a6dbaff59458b80
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    items: true
    taxes: true
    users: true
    contacts: true
    expenses: true
    invoices: true
    credit notes: true
    customer_payments: true
    recurring_invoices: true
