@use "scss/variables";

.container {
  max-width: 647px;
  margin: 0 auto;
  padding-bottom: variables.$spacing-md;
}

.advancedButton {
  margin-top: variables.$spacing-md;
}

.advancedPanel {
  margin-top: variables.$spacing-sm;
}
