version: 7.7.0

type: DeclarativeSource

description: |-
  API documentation:

  https://developers.criteo.com/marketing-solutions/reference/getadsetreport

check:
  type: CheckStream
  stream_names:
    - ad_spend_daily
  dynamic_streams_check_configs: []

definitions:
  linked:
    HttpRequester:
      request_body:
        type: RequestBodyJsonObject
        value:
          format: json
          endDate: >-
            {{ stream_interval.end_time if stream_interval is defined else
            (config.get('end_date') or now_utc().strftime('%Y-%m-%d')) }}
          metrics:
            - AdvertiserCost
          currency: "{{ config.currency }}"
          startDate: >-
            {{ stream_interval.start_time if stream_interval is defined else
            config['start_date'] }}
          dimensions:
            - day
            - AdvertiserId
            - CampaignId
            - AdSetId
      authenticator:
        type: OAuthAuthenticator
        client_id: "{{ config[\"client_id\"] }}"
        grant_type: client_credentials
        client_secret: "{{ config[\"client_secret\"] }}"
        client_id_name: client_id
        expires_in_name: expires_in
        grant_type_name: grant_type
        access_token_name: access_token
        client_secret_name: client_secret
        refresh_token_name: refresh_token
        use_profile_assertion: false
        token_refresh_endpoint: https://api.criteo.com/oauth2/token
      error_handler:
        type: DefaultErrorHandler
        max_retries: 5
        backoff_strategies:
          - type: ExponentialBackoffStrategy
            factor: 3
    DeclarativeStream: {}

streams:
  - type: DeclarativeStream
    name: ad_spend_daily
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://api.criteo.com/2025-10/statistics/report
        http_method: POST
        request_body:
          $ref: "#/definitions/linked/HttpRequester/request_body"
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: client_credentials
          client_secret: "{{ config[\"client_secret\"] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          access_token_name: access_token
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          use_profile_assertion: false
          token_refresh_endpoint: https://api.criteo.com/oauth2/token
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - Rows
    primary_key:
      - AdvertiserId
      - CampaignId
      - Day
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - AdvertiserId
          - CampaignId
          - Day
        properties:
          Day:
            type: string
          Campaign:
            type:
              - string
              - "null"
          Currency:
            type:
              - string
              - "null"
          Advertiser:
            type:
              - string
              - "null"
          CampaignId:
            type: string
          AdvertiserId:
            type: string
          AdvertiserCost:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: Day
      end_datetime: "{{ config.get('end_date') or now_utc().strftime('%Y-%m-%d') }}"
      start_datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
      lookback_window: P3D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: adsets
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://api.criteo.com/2026-01/marketing-solutions/ad-sets/search
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            filters: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: client_credentials
          client_secret: "{{ config[\"client_secret\"] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          use_profile_assertion: false
          token_refresh_endpoint: https://api.criteo.com/oauth2/token
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          attributes:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              advertiserId:
                type:
                  - string
                  - "null"
              datasetId:
                type:
                  - string
                  - "null"
              campaignId:
                type:
                  - string
                  - "null"
              destinationEnvironment:
                type:
                  - string
                  - "null"
              objective:
                type:
                  - string
                  - "null"
              schedule:
                type:
                  - object
                  - "null"
                properties:
                  startDate:
                    type:
                      - object
                      - "null"
                    properties:
                      value:
                        type:
                          - string
                          - "null"
                  endDate:
                    type:
                      - object
                      - "null"
                    properties: {}
                  activationStatus:
                    type:
                      - string
                      - "null"
                  deliveryStatus:
                    type:
                      - string
                      - "null"
              bidding:
                type:
                  - object
                  - "null"
                properties:
                  bidAmount:
                    type:
                      - number
                      - "null"
                  costController:
                    type:
                      - string
                      - "null"
              targeting:
                type:
                  - object
                  - "null"
                properties:
                  deliveryLimitations:
                    type:
                      - object
                      - "null"
                    properties:
                      environments:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                      devices:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                      operatingSystems:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                  geoLocation:
                    type:
                      - object
                      - "null"
                    properties:
                      countries:
                        type:
                          - object
                          - "null"
                        properties:
                          value:
                            type:
                              - object
                              - "null"
                            properties:
                              operand:
                                type:
                                  - string
                                  - "null"
                              values:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - string
                                    - "null"
                      subdivisions:
                        type:
                          - object
                          - "null"
                        properties:
                          value:
                            type:
                              - object
                              - "null"
                            properties:
                              operand:
                                type:
                                  - string
                                  - "null"
                              values:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - string
                                    - "null"
                      zipCodes:
                        type:
                          - object
                          - "null"
                        properties: {}
                  frequencyCapping:
                    type:
                      - object
                      - "null"
                    properties:
                      value:
                        type:
                          - object
                          - "null"
                        properties:
                          frequency:
                            type:
                              - string
                              - "null"
                          maximumImpressions:
                            type:
                              - number
                              - "null"
              budget:
                type:
                  - object
                  - "null"
                properties:
                  budgetStrategy:
                    type:
                      - string
                      - "null"
                  budgetRenewal:
                    type:
                      - string
                      - "null"
                  budgetDeliverySmoothing:
                    type:
                      - string
                      - "null"
                  budgetDeliveryWeek:
                    type:
                      - string
                      - "null"
                  budgetAmount:
                    type:
                      - number
                      - "null"
              mediaType:
                type:
                  - string
                  - "null"
              attributionConfiguration:
                type:
                  - object
                  - "null"
                properties:
                  attributionMethod:
                    type:
                      - string
                      - "null"
        required:
          - id
        additionalProperties: true
    transformations: []

spec:
  type: Spec
  documentation_url: https://developers.criteo.com/marketing-solutions/reference/
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - start_date
      - currency
    properties:
      currency:
        type: string
        description: Currency to be used on the report
        order: 4
        title: Currency
      end_date:
        type: string
        description: End date of the report
        order: 3
        title: EndDate
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      client_id:
        type: string
        name: client_id
        order: 0
        title: OAuth Client ID
        airbyte_secret: true
      start_date:
        type: string
        description: Start date of the report
        order: 2
        title: StartDate
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      client_secret:
        type: string
        name: client_secret
        order: 1
        title: OAuth Client Secret
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developers.criteo.com/marketing-solutions/reference/
    openapiSpecUrl: >-
      https://api.criteo.com/2025-10/marketingsolutions/open-api-specifications.json
  testedStreams:
    adsets:
      isStale: false
      hasRecords: true
      streamHash: 691edd7ed175eda8345e44d41c090c5b72e2a001
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ad_spend_daily:
      isStale: false
      hasRecords: true
      streamHash: 84f34f1362f54855e2e27f9230b5e02e471d062e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    adsets: true
    ad_spend_daily: false

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: FixedWindowCallRatePolicy
      period: PT1M
      matchers: []
      call_limit: 250
  ratelimit_reset_header: ratelimit-reset
  ratelimit_remaining_header: x-ratelimit-remaining
  status_codes_for_ratelimit_hit:
    - 429
