version: 6.41.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - meta_fields_stream

definitions:
  streams:
    custom_reports_stream:
      type: DeclarativeStream
      name: custom_reports_stream
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/custom
          http_method: POST
          request_headers:
            Accept: application/json
          request_body_json:
            title: Airbyte
            fields:
              - acaStatus
              - acaStatusCategory
              - address1
              - address2
              - age
              - bestEmail
              - birthday
              - bonusAmount
              - bonusComment
              - bonusDate
              - bonusReason
              - city
              - commisionDate
              - commissionAmount
              - commissionComment
              - commissionDate
              - country
              - createdByUserId
              - dateOfBirth
              - department
              - displayName
              - division
              - eeo
              - employeeNumber
              - employmentHistoryStatus
              - ethnicity
              - exempt
              - firstName
              - flsaCode
              - fullName1
              - fullName2
              - fullName3
              - fullName4
              - fullName5
              - gender
              - hireDate
              - homeEmail
              - homePhone
              - id
              - includeInPayroll
              - isPhotoUploaded
              - jobTitle
              - lastChanged
              - lastName
              - location
              - maritalStatus
              - middleName
              - mobilePhone
              - nationalId
              - nationality
              - nin
              - originalHireDate
              - paidPer
              - payChangeReason
              - payFrequency
              - payGroup
              - payGroupId
              - payRate
              - payRateEffectiveDate
              - paySchedule
              - payScheduleId
              - payType
              - preferredName
              - sin
              - ssn
              - standardHoursPerWeek
              - state
              - stateCode
              - status
              - supervisor
              - supervisorEId
              - supervisorEmail
              - supervisorId
              - terminationDate
              - timeTrackingEnabled
              - workEmail
              - workPhone
              - workPhoneExtension
              - workPhonePlusExtension
              - zipcode
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_reports_stream"
    employees_directory_stream:
      type: DeclarativeStream
      name: employees_directory_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: employees/directory
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees_directory_stream"
    meta_fields_stream:
      type: DeclarativeStream
      name: meta_fields_stream
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: meta/fields
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/meta_fields_stream"
    time_off_requests_stream:
      type: DeclarativeStream
      name: time_off_requests_stream
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: time_off/requests/
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        lookback_window: P60D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.start_date or (now_utc() -
            duration('P30DT23H')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: start
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_off_requests_stream"
  base_requester:
    type: HttpRequester
    url_base: https://api.bamboohr.com/api/gateway.php/{{ config['subdomain'] }}/v1/
    authenticator:
      type: BasicHttpAuthenticator
      password: x
      username: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/custom_reports_stream"
  - $ref: "#/definitions/streams/employees_directory_stream"
  - $ref: "#/definitions/streams/meta_fields_stream"
  - $ref: "#/definitions/streams/time_off_requests_stream"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - subdomain
    properties:
      api_key:
        type: string
        description: Api key of bamboo hr
        order: 0
        title: api_key
        airbyte_secret: true
      subdomain:
        type: string
        description: Sub Domain of bamboo hr
        order: 1
        title: subdomain
      custom_reports_fields:
        type: string
        description: Comma-separated list of fields to include in custom reports.
        order: 2
        title: custom_reports_fields
      custom_reports_include_default_fields:
        type: boolean
        description: >-
          If true, the custom reports endpoint will include the default fields
          defined here:
          https://documentation.bamboohr.com/docs/list-of-field-names.
        order: 3
        title: custom_reports_include_default_fields
        default: true
      start_date:
        type: string
        order: 4
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    custom_reports_stream: true
    employees_directory_stream: false
    meta_fields_stream: false
    time_off_requests_stream: false
  testedStreams:
    custom_reports_stream:
      streamHash: 17b37f59c7989844d5ac72b2ee6b3bd82cd587b7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    employees_directory_stream:
      hasRecords: true
      streamHash: f3f79feb9b746f21efeee900c2c5cb23d8d34d1a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    meta_fields_stream:
      hasRecords: true
      streamHash: 0936ffc28869d835e25b46d2d6bf685789a66238
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    time_off_requests_stream:
      hasRecords: true
      streamHash: 89cd0105b9b0ad08f2c451eb9bb23c62123955b0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  custom_reports_stream:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address1:
        type:
          - string
          - "null"
      address2:
        type:
          - string
          - "null"
      age:
        type:
          - string
          - "null"
      bestEmail:
        type:
          - string
          - "null"
      birthday:
        type:
          - string
          - "null"
      bonusAmount:
        type:
          - string
          - "null"
      bonusComment:
        type:
          - string
          - "null"
      bonusDate:
        type:
          - string
          - "null"
      bonusReason:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      commissionAmount:
        type:
          - string
          - "null"
      commissionComment:
        type:
          - string
          - "null"
      commissionDate:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      createdByUserId:
        type:
          - string
          - "null"
      dateOfBirth:
        type:
          - string
          - "null"
      department:
        type:
          - string
          - "null"
      displayName:
        type:
          - string
          - "null"
      division:
        type:
          - string
          - "null"
      eeo:
        type:
          - string
          - "null"
      employeeNumber:
        type:
          - string
          - "null"
      employmentHistoryStatus:
        type:
          - string
          - "null"
      ethnicity:
        type:
          - string
          - "null"
      exempt:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      flsaCode:
        type:
          - string
          - "null"
      fullName1:
        type:
          - string
          - "null"
      fullName2:
        type:
          - string
          - "null"
      fullName3:
        type:
          - string
          - "null"
      fullName4:
        type:
          - string
          - "null"
      fullName5:
        type:
          - string
          - "null"
      gender:
        type:
          - string
          - "null"
      hireDate:
        type:
          - string
          - "null"
      homeEmail:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      isPhotoUploaded:
        type:
          - string
          - "null"
      jobTitle:
        type:
          - string
          - "null"
      lastChanged:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      maritalStatus:
        type:
          - string
          - "null"
      middleName:
        type:
          - string
          - "null"
      mobilePhone:
        type:
          - string
          - "null"
      originalHireDate:
        type:
          - string
          - "null"
      payChangeReason:
        type:
          - string
          - "null"
      payFrequency:
        type:
          - string
          - "null"
      payPer:
        type:
          - string
          - "null"
      payRate:
        type:
          - string
          - "null"
      payRateEffectiveDate:
        type:
          - string
          - "null"
      paySchedule:
        type:
          - string
          - "null"
      payScheduleId:
        type:
          - string
          - "null"
      payType:
        type:
          - string
          - "null"
      preferredName:
        type:
          - string
          - "null"
      ssn:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      stateCode:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      supervisor:
        type:
          - string
          - "null"
      supervisorEId:
        type:
          - string
          - "null"
      supervisorEmail:
        type:
          - string
          - "null"
      supervisorId:
        type:
          - string
          - "null"
      terminationDate:
        type:
          - string
          - "null"
      workEmail:
        type:
          - string
          - "null"
      workPhone:
        type:
          - string
          - "null"
      workPhonePlusExtension:
        type:
          - string
          - "null"
      zipcode:
        type:
          - string
          - "null"
  employees_directory_stream:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      canUploadPhoto:
        type:
          - "null"
          - integer
      department:
        type:
          - "null"
          - string
      displayName:
        type:
          - "null"
          - string
      division:
        type:
          - "null"
          - string
      firstName:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      jobTitle:
        type:
          - "null"
          - string
      lastName:
        type:
          - "null"
          - string
      linkedIn:
        type:
          - "null"
          - string
      location:
        type:
          - "null"
          - string
      mobilePhone:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      photoUploaded:
        type:
          - "null"
          - boolean
      photoUrl:
        type:
          - "null"
          - string
      preferredName:
        type:
          - "null"
          - string
      pronouns:
        type:
          - "null"
          - string
      supervisor:
        type:
          - "null"
          - string
      workEmail:
        type:
          - "null"
          - string
      workPhone:
        type:
          - "null"
          - string
      workPhoneExtension:
        type:
          - "null"
          - string
  meta_fields_stream:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      alias:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
  time_off_requests_stream:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      actions:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      amount:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      created:
        type:
          - "null"
          - string
      dates:
        type:
          - "null"
          - string
      employeeId:
        type:
          - "null"
          - string
      end:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      notes:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      start:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
