version: 5.14.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - meta_fields_stream

definitions:
  streams:
    custom_reports_stream:
      type: DeclarativeStream
      name: custom_reports_stream
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/custom
          http_method: POST
          request_headers:
            Accept: application/json
          request_body_json:
            title: Airbyte
            fields: list(self.schema["properties"].keys())
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
      schema_loader:
        type: CustomSchemaLoader
        class_name: source_declarative_manifest.components.CustomFieldsSchemaLoader
        fields_config_key: custom_reports_fields
        include_default_fields_config_key: custom_reports_include_default_fields
        default_schema_loader:
          type: InlineSchemaLoader
          schema: "#/schemas/custom_reports_stream"
    employees_directory_stream:
      type: DeclarativeStream
      name: employees_directory_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: employees/directory
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees_directory_stream"
    meta_fields_stream:
      type: DeclarativeStream
      name: meta_fields_stream
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: meta/fields
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/meta_fields_stream"
    time_off_requests_stream:
      type: DeclarativeStream
      name: time_off_requests_stream
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: time_off/requests/
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        lookback_window: P60D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.start_date or (now_utc() -
            duration('P30DT23H')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: start
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_off_requests_stream"
    timesheet_entries:
      type: DeclarativeStream
      name: timesheet_entries
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /time_tracking/timesheet_entries
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: start
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.start_date or (now_utc() - duration('P30DT23H')).strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/timesheet_entries"
    employees:
      type: DeclarativeStream
      name: employees
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /employees/{{ stream_partition.id }}
          http_method: GET
          request_parameters:
            fields: "{{ config.employee_fields }}"
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/employees_directory_stream"
      incremental_sync:
        type: DatetimeBasedCursor
        global_substream_cursor: true
        cursor_field: _cursor
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "0"
          datetime_format: "%s"
        is_data_feed: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - _cursor
              value: "0"
      schema_loader:
        type: CustomSchemaLoader
        class_name: source_declarative_manifest.components.CustomFieldsSchemaLoader
        fields_config_key: "employee_fields"
        include_default_fields: true
        default_schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas/employees"
  base_requester:
    type: HttpRequester
    url_base: https://api.bamboohr.com/api/gateway.php/{{ config['subdomain'] }}/v1/
    authenticator:
      type: BasicHttpAuthenticator
      password: x
      username: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/custom_reports_stream"
  - $ref: "#/definitions/streams/employees_directory_stream"
  - $ref: "#/definitions/streams/meta_fields_stream"
  - $ref: "#/definitions/streams/time_off_requests_stream"
  - $ref: "#/definitions/streams/timesheet_entries"
  - $ref: "#/definitions/streams/employees"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - subdomain
    properties:
      api_key:
        type: string
        description: Api key of bamboo hr
        order: 0
        title: api_key
        airbyte_secret: true
      subdomain:
        type: string
        description: Sub Domain of bamboo hr
        order: 1
        title: subdomain
      custom_reports_fields:
        type: string
        description: Comma-separated list of fields to include in custom reports.
        order: 2
        title: custom_reports_fields
      custom_reports_include_default_fields:
        type: boolean
        description: >-
          If true, the custom reports endpoint will include the default fields
          defined here:
          https://documentation.bamboohr.com/docs/list-of-field-names.
        title: custom_reports_include_default_fields
        default: true
        order: 3
      employee_fields:
        type: string
        description: Comma-separated list of fields to include for employees.
        title: employee_fields
        default: firstName,lastName
        order: 4
      start_date:
        type: string
        order: 5
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    custom_reports_stream: false
    employees_directory_stream: false
    meta_fields_stream: false
    time_off_requests_stream: false
    timesheet_entries: false
    employees: false
  yamlComponents:
    global:
      - authenticator
  testedStreams: {}
  assist: {}

schemas:
  custom_reports_stream:
    type:
      - "null"
      - "object"
    required: []
    properties:
      acaStatus:
        description: The Affordable Care Act status of the employee.
        type:
          - "null"
          - "string"
      acaStatusCategory:
        description: The category of the Affordable Care Act status of the employee.
        type:
          - "null"
          - "string"
      address1:
        description: First line of the employee's address.
        type:
          - "null"
          - "string"
      address2:
        description: Second line of the employee's address.
        type:
          - "null"
          - "string"
      age:
        description: The age of the employee.
        type:
          - "null"
          - "string"
      bestEmail:
        description: The primary email address of the employee.
        type:
          - "null"
          - "string"
      birthday:
        description: The birthday of the employee.
        type:
          - "null"
          - "string"
      bonusAmount:
        description: The amount of bonus received by the employee.
        type:
          - "null"
          - "string"
      bonusComment:
        description: Comment related to the bonus received by the employee.
        type:
          - "null"
          - "string"
      bonusDate:
        description: Date on which the bonus was received by the employee.
        type:
          - "null"
          - "string"
      bonusReason:
        description: Reason for granting the bonus to the employee.
        type:
          - "null"
          - "string"
      city:
        description: City where the employee is located.
        type:
          - "null"
          - "string"
      commissionAmount:
        description: The amount of commission received by the employee.
        type:
          - "null"
          - "string"
      commissionComment:
        description: Comment related to the commission received by the employee.
        type:
          - "null"
          - "string"
      commissionDate:
        description: Date on which the commission was received by the employee.
        type:
          - "null"
          - "string"
      commisionDate:
        description: Date of commission for the employee.
        type:
          - "null"
          - "string"
      country:
        description: Country where the employee is located.
        type:
          - "null"
          - "string"
      createdByUserId:
        description: ID of the user who created the employee record.
        type:
          - "null"
          - "string"
      dateOfBirth:
        description: Date of birth of the employee.
        type:
          - "null"
          - "string"
      department:
        description: Department in which the employee works.
        type:
          - "null"
          - "string"
      division:
        description: Division to which the employee belongs.
        type:
          - "null"
          - "string"
      eeo:
        description: Equal Employment Opportunity (EEO) information of the employee.
        type:
          - "null"
          - "string"
      employeeNumber:
        description: Unique employee identification number.
        type:
          - "null"
          - "string"
      employmentHistoryStatus:
        description: Status of the employee's employment history.
        type:
          - "null"
          - "string"
      ethnicity:
        description: Ethnicity information of the employee.
        type:
          - "null"
          - "string"
      exempt:
        description: Exempt status of the employee for employment regulations.
        type:
          - "null"
          - "string"
      firstName:
        description: First name of the employee.
        type:
          - "null"
          - "string"
      flsaCode:
        description: Fair Labor Standards Act (FLSA) code classification of the employee.
        type:
          - "null"
          - "string"
      fullName1:
        description: First version of the employee's full name.
        type:
          - "null"
          - "string"
      fullName2:
        description: Second version of the employee's full name.
        type:
          - "null"
          - "string"
      fullName3:
        description: Third version of the employee's full name.
        type:
          - "null"
          - "string"
      fullName4:
        description: Fourth version of the employee's full name.
        type:
          - "null"
          - "string"
      fullName5:
        description: Fifth version of the employee's full name.
        type:
          - "null"
          - "string"
      displayName:
        description: Display name of the employee.
        type:
          - "null"
          - "string"
      gender:
        description: Gender of the employee.
        type:
          - "null"
          - "string"
      hireDate:
        description: Date on which the employee was hired.
        type:
          - "null"
          - "string"
      originalHireDate:
        description: Original hire date of the employee.
        type:
          - "null"
          - "string"
      homeEmail:
        description: Home email address of the employee.
        type:
          - "null"
          - "string"
      homePhone:
        description: Home phone number of the employee.
        type:
          - "null"
          - "string"
      id:
        description: Unique identifier of the employee.
        type:
          - "null"
          - "string"
      isPhotoUploaded:
        description: Indicator if the employee's photo is uploaded in the system.
        type:
          - "null"
          - "string"
      jobTitle:
        description: Title of the employee's job position.
        type:
          - "null"
          - "string"
      lastChanged:
        description: Date of the last change made to the employee's record.
        type:
          - "null"
          - "string"
      lastName:
        description: Last name of the employee.
        type:
          - "null"
          - "string"
      location:
        description: Physical location where the employee works.
        type:
          - "null"
          - "string"
      maritalStatus:
        description: Marital status of the employee.
        type:
          - "null"
          - "string"
      middleName:
        description: Middle name of the employee.
        type:
          - "null"
          - "string"
      mobilePhone:
        description: Mobile phone number of the employee.
        type:
          - "null"
          - "string"
      nationalId:
        description: National identification number of the employee.
        type:
          - "null"
          - "string"
      nationality:
        description: Nationality information of the employee.
        type:
          - "null"
          - "string"
      nin:
        description: National Insurance Number (NIN) of the employee.
        type:
          - "null"
          - "string"
      payChangeReason:
        description: Reason for a change in payment for the employee.
        type:
          - "null"
          - "string"
      payGroup:
        description: Group to which the employee's payment belongs.
        type:
          - "null"
          - "string"
      payGroupId:
        description: ID of the payment group for the employee.
        type:
          - "null"
          - "string"
      payRate:
        description: Rate of pay for the employee.
        type:
          - "null"
          - "string"
      payRateEffectiveDate:
        description: Date from which the pay rate is effective for the employee.
        type:
          - "null"
          - "string"
      payType:
        description: Type of payment for the employee.
        type:
          - "null"
          - "string"
      paidPer:
        description: Frequency at which the employee is paid.
        type:
          - "null"
          - "string"
      paySchedule:
        description: Schedule according to which the employee is paid.
        type:
          - "null"
          - "string"
      payScheduleId:
        description: ID of the payment schedule for the employee.
        type:
          - "null"
          - "string"
      payFrequency:
        description: Frequency of payment for the employee.
        type:
          - "null"
          - "string"
      includeInPayroll:
        description: Indicator if the employee is included in the payroll system.
        type:
          - "null"
          - "string"
      timeTrackingEnabled:
        description: Indicator if time tracking is enabled for the employee.
        type:
          - "null"
          - "string"
      preferredName:
        description: Preferred name of the employee.
        type:
          - "null"
          - "string"
      ssn:
        description: Social Security Number (SSN) of the employee.
        type:
          - "null"
          - "string"
      sin:
        description: Social Insurance Number (SIN) of the employee.
        type:
          - "null"
          - "string"
      standardHoursPerWeek:
        description: Standard number of hours worked by the employee per week.
        type:
          - "null"
          - "string"
      state:
        description: State where the employee is located.
        type:
          - "null"
          - "string"
      stateCode:
        description: Code representing the state where the employee is located.
        type:
          - "null"
          - "string"
      status:
        description: Employment status of the employee.
        type:
          - "null"
          - "string"
      supervisor:
        description: Name of the employee's supervisor.
        type:
          - "null"
          - "string"
      supervisorId:
        description: ID of the employee's supervisor.
        type:
          - "null"
          - "string"
      supervisorEId:
        description: Employee ID of the employee's supervisor.
        type:
          - "null"
          - "string"
      supervisorEmail:
        description: Email address of the employee's supervisor.
        type:
          - "null"
          - "string"
      terminationDate:
        description: Date on which the employee was terminated.
        type:
          - "null"
          - "string"
      workEmail:
        description: Work email address of the employee.
        type:
          - "null"
          - "string"
      workPhone:
        description: Work phone number of the employee.
        type:
          - "null"
          - "string"
      workPhonePlusExtension:
        description: Full work phone number including extension for the employee.
        type:
          - "null"
          - "string"
      workPhoneExtension:
        description: Extension number for the employee's work phone.
        type:
          - "null"
          - "string"
      zipcode:
        description: Zip code of the employee's location.
        type:
          - "null"
          - "string"
  employees_directory_stream:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      firstName:
        type:
          - "null"
          - string
      lastName:
        type:
          - "null"
          - string
      displayName:
        type:
          - "null"
          - string
      department:
        type:
          - "null"
          - string
      division:
        type:
          - "null"
          - string
      jobTitle:
        type:
          - "null"
          - string
      linkedIn:
        type:
          - "null"
          - string
      location:
        type:
          - "null"
          - string
      supervisor:
        type:
          - "null"
          - string
      canUploadPhoto:
        type:
          - "null"
          - integer
      mobilePhone:
        type:
          - "null"
          - string
      photoUploaded:
        type:
          - "null"
          - boolean
      photoUrl:
        type:
          - "null"
          - string
      preferredName:
        type:
          - "null"
          - string
      pronouns:
        type:
          - "null"
          - string
      workEmail:
        type:
          - "null"
          - string
      workPhone:
        type:
          - "null"
          - string
      workPhoneExtension:
        type:
          - "null"
          - string
  meta_fields_stream:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      alias:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
  time_off_requests_stream:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      actions:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      amount:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      created:
        type:
          - "null"
          - string
      dates:
        type:
          - "null"
          - string
      employeeId:
        type:
          - "null"
          - string
      end:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      notes:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      start:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
  timesheet_entries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      approved:
        type:
          - boolean
          - "null"
      approvedAt:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      employeeId:
        type:
          - number
          - "null"
      end:
        type: string
      hours:
        type:
          - number
          - "null"
      id:
        type: number
      note:
        type:
          - string
          - "null"
      start:
        type: string
      timezone:
        type:
          - string
          - "null"
    required:
      - id
      - start
      - end
  employees:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      _cursor:
        type: integer
