version: 6.36.3

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - metrics

definitions:
  streams:
    profiles:
      type: DeclarativeStream
      name: profiles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: profiles
          http_method: GET
          request_parameters:
            sort: updated
            filter: greater-than(updated,{{ stream_interval.start_time }})
            additional-fields[profile]: >-
              {{ 'predictive_analytics' if not
              config['disable_fetching_predictive_analytics'] else '' }}
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('links', {}).get('next') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
          - "%Y-%m-%d %H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated
              value: "{{ record.get('attributes', {}).get('updated') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/profiles"
    global_exclusions:
      type: DeclarativeStream
      name: global_exclusions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: profiles
          http_method: GET
          request_parameters:
            additional-fields[profile]: subscriptions
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: >-
              {{
              record['attributes']['subscriptions']['email']['marketing']['suppression']
              }}
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('links', {}).get('next') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
          - "%Y-%m-%d %H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated
              value: "{{ record.get('attributes', {}).get('updated') }}"
        - type: AddFields
          fields:
            - path:
                - attributes
                - subscriptions
                - email
                - marketing
                - suppressions
              value: >-
                {{
                record['attributes']['subscriptions']['email']['marketing']['suppression']
                }}
        - type: RemoveFields
          field_pointers:
            - - attributes
              - subscriptions
              - email
              - marketing
              - suppression
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/global_exclusions"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events
          http_method: GET
          request_parameters:
            sort: datetime
            filter: >-
              greater-or-equal(datetime,{{ stream_interval.start_time
              }}),less-or-equal(datetime,{{ stream_interval.end_time }})
            include: metric,attributions
            fields[event]: event_properties,timestamp,uuid,datetime
            fields[metric]: name,created,updated,integration
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
          - "%Y-%m-%d %H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - datetime
              value: "{{ record.get('attributes', {}).get('datetime') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    events_detailed:
      type: DeclarativeStream
      name: events_detailed
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events
          http_method: GET
          request_parameters:
            sort: datetime
            filter: greater-than(datetime,{{ stream_interval.start_time }})
            include: metric,attributions
            fields[metric]: name
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
          - "%Y-%m-%d %H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - datetime
              value: "{{ record.get('attributes', {}).get('datetime') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events_detailed"
    email_templates:
      type: DeclarativeStream
      name: email_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: templates
          http_method: GET
          request_parameters:
            sort: updated
            filter: greater-than(updated,{{ stream_interval.start_time }})
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
          - "%Y-%m-%d %H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated
              value: "{{ record.get('attributes', {}).get('updated') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/email_templates"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaigns
          http_method: GET
          request_parameters:
            sort: updated_at
            filter: >-
              and(greater-or-equal(updated_at,{{ stream_interval.start_time
              }}),less-or-equal(updated_at,{{ stream_interval.end_time
              }}),equals(messages.channel,'{{ stream_partition['campaign_type']
              }}'),equals(archived,{{ stream_partition['archived'] }}))
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
        partition_router:
          - type: ListPartitionRouter
            values:
              - sms
              - email
            cursor_field: campaign_type
          - type: ListPartitionRouter
            values:
              - "true"
              - "false"
            cursor_field: archived
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
          - "%Y-%m-%d %H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated_at
              value: "{{ record.get('attributes', {}).get('updated_at') }}"
        - type: AddFields
          fields:
            - path:
                - attributes
                - channel
              value: "{{ stream_partition['campaign_type'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    campaigns_detailed:
      type: DeclarativeStream
      name: campaigns_detailed
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaigns
          http_method: GET
          request_parameters:
            sort: updated_at
            filter: >-
              and(greater-or-equal(updated_at,{{ stream_interval.start_time
              }}),less-or-equal(updated_at,{{ stream_interval.end_time
              }}),equals(messages.channel,'{{ stream_partition['campaign_type']
              }}'),equals(archived,{{ stream_partition['archived'] }}))
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
        partition_router:
          - type: ListPartitionRouter
            values:
              - sms
              - email
            cursor_field: campaign_type
          - type: ListPartitionRouter
            values:
              - "true"
              - "false"
            cursor_field: archived
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
          - "%Y-%m-%d %H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated_at
              value: "{{ record.get('attributes', {}).get('updated_at') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns_detailed"
    flows:
      type: DeclarativeStream
      name: flows
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: flows
          http_method: GET
          request_parameters:
            sort: updated
            filter: >-
              and(greater-or-equal(updated,{{ stream_interval.start_time
              }}),less-or-equal(updated,{{ stream_interval.end_time
              }}),equals(archived,{{ stream_partition['archived'] }}))
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
        partition_router:
          type: ListPartitionRouter
          values:
            - "true"
            - "false"
          cursor_field: archived
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
          - "%Y-%m-%d %H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated
              value: "{{ record.get('attributes', {}).get('updated') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/flows"
    metrics:
      type: DeclarativeStream
      name: metrics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: metrics
          http_method: GET
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        is_client_side_incremental: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated
              value: "{{ record.get('attributes', {}).get('updated') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics"
    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: lists
          http_method: GET
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated
              value: "{{ record.get('attributes', {}).get('updated') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lists"
    lists_detailed:
      type: DeclarativeStream
      name: lists_detailed
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: lists/{{ stream_slice.id }}
          http_method: GET
          request_headers:
            Accept: application/json
            Revision: "2024-10-15"
            additional-fields: profile_count
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 401
                      - 403
                    error_message: >-
                      Please provide a valid API key and make sure it has
                      permissions to read specified streams.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/lists"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated
              value: "{{ record.get('attributes', {}).get('updated') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lists_detailed"
  base_requester:
    type: HttpRequester
    url_base: https://a.klaviyo.com/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key_2\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/profiles"
  - $ref: "#/definitions/streams/global_exclusions"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/events_detailed"
  - $ref: "#/definitions/streams/email_templates"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/campaigns_detailed"
  - $ref: "#/definitions/streams/flows"
  - $ref: "#/definitions/streams/metrics"
  - $ref: "#/definitions/streams/lists"
  - $ref: "#/definitions/streams/lists_detailed"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key_2
    properties:
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated. This field is optional - if not
          provided, all data will be replicated.
        order: 0
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2017-01-25T00:00:00Z"
      disable_fetching_predictive_analytics:
        type: boolean
        description: >-
          Certain streams like the profiles stream can retrieve predictive
          analytics data from Klaviyo's API. However, at high volume, this can
          lead to service availability issues on the API which can be improved
          by not fetching this field. WARNING: Enabling this setting will stop
          the  "predictive_analytics" column from being populated in your
          downstream destination.
        order: 1
        title: Disable Fetching Predictive Analytics
      num_workers:
        type: integer
        description: >-
          The number of worker threads to use for the sync. The performance
          upper boundary is based on the limit of your Klaviyo plan. More info
          about the rate limit plan tiers can be found on Klaviyo's API <a
          href="https://developers.klaviyo.com/en/docs/rate_limits_and_error_handling">docs</a>.
        order: 2
        title: Number of concurrent workers
        default: 10
        maximum: 50
        minimum: 1
        examples:
          - 1
          - 2
          - 3
      api_key_2:
        type: string
        order: 3
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    profiles: false
    global_exclusions: false
    events: false
    events_detailed: false
    email_templates: false
    campaigns: false
    campaigns_detailed: false
    flows: false
    metrics: false
    lists: true
    lists_detailed: true
  yamlComponents:
    streams:
      metrics:
        - incrementalSync
  testedStreams:
    profiles:
      hasRecords: true
      streamHash: d5e4c755259a3f0d6c3a45bbce588b42e4dd8e30
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    global_exclusions:
      hasRecords: true
      streamHash: ac198f2b56fdf5ffd853afc3efad1ce8408cad81
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    events:
      hasRecords: true
      streamHash: b93865f97ca380e54ecca72ef8f4be2e0c156f76
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    events_detailed:
      hasRecords: true
      streamHash: fce54d29cd8e7ec8580d8fca521f52dcf19fcc9c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    email_templates:
      hasRecords: true
      streamHash: 59d7746257e53c6c35fe045802c93eb92ebac0b1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaigns:
      hasRecords: true
      streamHash: 53c7578408697a51eb522ad26609af15e68059c4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaigns_detailed:
      hasRecords: true
      streamHash: b385831c0dde5c002e3d7cd365ab688ae541ad97
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    flows:
      hasRecords: true
      streamHash: 3590e4f2cc211d7469f243b7b521944a5a306ebd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    metrics:
      hasRecords: true
      streamHash: f18b04d1a4f15d683b8832fcd3708de800600bb2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    lists:
      hasRecords: true
      streamHash: 91698c29a9da9927b65ddb08c45b547fb3b1cdcc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    lists_detailed:
      streamHash: 04692a06e95f51c4388fe5d2ce160c9ec7c59a87
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  profiles:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      attributes:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          anonymous_id:
            type:
              - "null"
              - string
          created:
            type:
              - "null"
              - string
            format: date-time
          email:
            type:
              - "null"
              - string
          external_id:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          image:
            type:
              - "null"
              - string
          last_event_date:
            type:
              - "null"
              - string
            format: date-time
          last_name:
            type:
              - "null"
              - string
          locale:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - object
            properties:
              address1:
                type:
                  - "null"
                  - string
              address2:
                type:
                  - "null"
                  - string
              city:
                type:
                  - "null"
                  - string
              country:
                type:
                  - "null"
                  - string
              ip:
                type:
                  - "null"
                  - string
              latitude:
                oneOf:
                  - type: "null"
                  - type: number
                  - type: string
              longitude:
                oneOf:
                  - type: "null"
                  - type: number
                  - type: string
              region:
                type:
                  - "null"
                  - string
              timezone:
                type:
                  - "null"
                  - string
              zip:
                type:
                  - "null"
                  - string
          organization:
            type:
              - "null"
              - string
          phone_number:
            type:
              - "null"
              - string
          predictive_analytics:
            type:
              - "null"
              - object
            properties:
              average_days_between_orders:
                type:
                  - "null"
                  - number
              average_order_value:
                type:
                  - "null"
                  - number
              churn_probability:
                type:
                  - "null"
                  - number
              expected_date_of_next_order:
                type:
                  - "null"
                  - string
              historic_clv:
                type:
                  - "null"
                  - number
              historic_number_of_orders:
                type:
                  - "null"
                  - integer
              predicted_clv:
                type:
                  - "null"
                  - number
              predicted_number_of_orders:
                type:
                  - "null"
                  - number
              total_clv:
                type:
                  - "null"
                  - number
          properties:
            type:
              - "null"
              - object
            additionalProperties: true
          subscriptions:
            type:
              - "null"
              - object
            properties:
              email:
                type:
                  - "null"
                  - object
                properties:
                  marketing:
                    type:
                      - "null"
                      - object
                    properties:
                      can_receive_email_marketing:
                        type: boolean
                      consent:
                        type: string
                      consent_timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
                      custom_method_detail:
                        type:
                          - "null"
                          - string
                      double_optin:
                        type:
                          - "null"
                          - boolean
                      last_updated:
                        type:
                          - "null"
                          - string
                        format: date-time
                      list_suppressions:
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            list_id:
                              type: string
                            reason:
                              type: string
                            timestamp:
                              type: string
                              format: date-time
                      method:
                        type:
                          - "null"
                          - string
                      method_detail:
                        type:
                          - "null"
                          - string
                      suppressions:
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            reason:
                              type: string
                            timestamp:
                              type: string
                              format: date-time
                      timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
              mobile_push:
                type:
                  - "null"
                  - object
                properties:
                  marketing:
                    type:
                      - "null"
                      - object
                    properties:
                      can_receive_sms_marketing:
                        type:
                          - "null"
                          - boolean
                      consent:
                        type:
                          - "null"
                          - string
                      consent_timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
              sms:
                type:
                  - "null"
                  - object
                properties:
                  marketing:
                    type:
                      - "null"
                      - object
                    properties:
                      can_receive_sms_marketing:
                        type:
                          - "null"
                          - boolean
                      consent:
                        type:
                          - "null"
                          - string
                      consent_timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
                      last_updated:
                        type:
                          - "null"
                          - string
                        format: date-time
                      method:
                        type:
                          - "null"
                          - string
                      method_detail:
                        type:
                          - "null"
                          - string
                      timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
                  transactional:
                    type:
                      - "null"
                      - object
                    properties:
                      can_receive_sms_marketing:
                        type:
                          - "null"
                          - boolean
                      consent:
                        type:
                          - "null"
                          - string
                      consent_timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
                      last_updated:
                        type:
                          - "null"
                          - string
                        format: date-time
                      method:
                        type:
                          - "null"
                          - string
                      method_detail:
                        type:
                          - "null"
                          - string
                      timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
          title:
            type:
              - "null"
              - string
          updated:
            type:
              - "null"
              - string
            format: date-time
      id:
        type: string
      links:
        type:
          - "null"
          - object
        properties:
          self:
            type:
              - "null"
              - string
      relationships:
        type:
          - "null"
          - object
        properties:
          lists:
            type:
              - "null"
              - object
            properties:
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type:
                      - "null"
                      - string
                  self:
                    type:
                      - "null"
                      - string
          segments:
            type:
              - "null"
              - object
            properties:
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type:
                      - "null"
                      - string
                  self:
                    type:
                      - "null"
                      - string
      segments:
        type:
          - "null"
          - object
      updated:
        type:
          - "null"
          - string
        format: date-time
  global_exclusions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      attributes:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          anonymous_id:
            type:
              - "null"
              - string
          created:
            type:
              - "null"
              - string
            format: date-time
          email:
            type:
              - "null"
              - string
          external_id:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          image:
            type:
              - "null"
              - string
          last_event_date:
            type:
              - "null"
              - string
            format: date-time
          last_name:
            type:
              - "null"
              - string
          locale:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - object
            properties:
              address1:
                type:
                  - "null"
                  - string
              address2:
                type:
                  - "null"
                  - string
              city:
                type:
                  - "null"
                  - string
              country:
                type:
                  - "null"
                  - string
              ip:
                type:
                  - "null"
                  - string
              latitude:
                oneOf:
                  - type: "null"
                  - type: number
                  - type: string
              longitude:
                oneOf:
                  - type: "null"
                  - type: number
                  - type: string
              region:
                type:
                  - "null"
                  - string
              timezone:
                type:
                  - "null"
                  - string
              zip:
                type:
                  - "null"
                  - string
          organization:
            type:
              - "null"
              - string
          phone_number:
            type:
              - "null"
              - string
          predictive_analytics:
            type:
              - "null"
              - object
            properties:
              average_days_between_orders:
                type:
                  - "null"
                  - number
              average_order_value:
                type:
                  - "null"
                  - number
              churn_probability:
                type:
                  - "null"
                  - number
              expected_date_of_next_order:
                type:
                  - "null"
                  - string
              historic_clv:
                type:
                  - "null"
                  - number
              historic_number_of_orders:
                type:
                  - "null"
                  - integer
              predicted_clv:
                type:
                  - "null"
                  - number
              predicted_number_of_orders:
                type:
                  - "null"
                  - number
              total_clv:
                type:
                  - "null"
                  - number
          properties:
            type:
              - "null"
              - object
            additionalProperties: true
          subscriptions:
            type:
              - "null"
              - object
            properties:
              email:
                type:
                  - "null"
                  - object
                properties:
                  marketing:
                    type:
                      - "null"
                      - object
                    properties:
                      can_receive_email_marketing:
                        type: boolean
                      consent:
                        type: string
                      consent_timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
                      custom_method_detail:
                        type:
                          - "null"
                          - string
                      double_optin:
                        type:
                          - "null"
                          - boolean
                      last_updated:
                        type:
                          - "null"
                          - string
                        format: date-time
                      list_suppressions:
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            list_id:
                              type: string
                            reason:
                              type: string
                            timestamp:
                              type: string
                              format: date-time
                      method:
                        type:
                          - "null"
                          - string
                      method_detail:
                        type:
                          - "null"
                          - string
                      suppressions:
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            reason:
                              type: string
                            timestamp:
                              type: string
                              format: date-time
                      timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
              mobile_push:
                type:
                  - "null"
                  - object
                properties:
                  marketing:
                    type:
                      - "null"
                      - object
                    properties:
                      can_receive_sms_marketing:
                        type:
                          - "null"
                          - boolean
                      consent:
                        type:
                          - "null"
                          - string
                      consent_timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
              sms:
                type:
                  - "null"
                  - object
                properties:
                  marketing:
                    type:
                      - "null"
                      - object
                    properties:
                      can_receive_sms_marketing:
                        type:
                          - "null"
                          - boolean
                      consent:
                        type:
                          - "null"
                          - string
                      consent_timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
                      last_updated:
                        type:
                          - "null"
                          - string
                        format: date-time
                      method:
                        type:
                          - "null"
                          - string
                      method_detail:
                        type:
                          - "null"
                          - string
                      timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
                  transactional:
                    type:
                      - "null"
                      - object
                    properties:
                      can_receive_sms_marketing:
                        type:
                          - "null"
                          - boolean
                      consent:
                        type:
                          - "null"
                          - string
                      consent_timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
                      last_updated:
                        type:
                          - "null"
                          - string
                        format: date-time
                      method:
                        type:
                          - "null"
                          - string
                      method_detail:
                        type:
                          - "null"
                          - string
                      timestamp:
                        type:
                          - "null"
                          - string
                        format: date-time
          title:
            type:
              - "null"
              - string
          updated:
            type:
              - "null"
              - string
            format: date-time
      id:
        type: string
      links:
        type:
          - "null"
          - object
        properties:
          self:
            type:
              - "null"
              - string
      relationships:
        type:
          - "null"
          - object
        properties:
          lists:
            type:
              - "null"
              - object
            properties:
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type:
                      - "null"
                      - string
                  self:
                    type:
                      - "null"
                      - string
          segments:
            type:
              - "null"
              - object
            properties:
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type:
                      - "null"
                      - string
                  self:
                    type:
                      - "null"
                      - string
      segments:
        type:
          - "null"
          - object
      updated:
        type:
          - "null"
          - string
        format: date-time
  events:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      attributes:
        type:
          - "null"
          - object
        properties:
          datetime:
            type: string
            format: date-time
          event_properties:
            type:
              - "null"
              - object
            additionalProperties: true
          timestamp:
            type: integer
          uuid:
            type: string
      datetime:
        type: string
        format: date-time
      id:
        type: string
      links:
        type:
          - "null"
          - object
        properties:
          self:
            type: string
      relationships:
        type:
          - "null"
          - object
        properties:
          attributions:
            type:
              - "null"
              - object
            properties:
              data:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              links:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  related:
                    type: string
                  self:
                    type: string
          metric:
            type:
              - "null"
              - object
            properties:
              data:
                type:
                  - "null"
                  - object
                properties:
                  type:
                    type: string
                  id:
                    type: string
              links:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  related:
                    type: string
                  self:
                    type: string
          profile:
            type:
              - "null"
              - object
            properties:
              data:
                type:
                  - "null"
                  - object
                properties:
                  type:
                    type: string
                  id:
                    type: string
              links:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  related:
                    type: string
                  self:
                    type: string
  events_detailed:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      attributes:
        type:
          - "null"
          - object
        properties:
          datetime:
            type: string
            format: date-time
          event_properties:
            type:
              - "null"
              - object
            additionalProperties: true
          timestamp:
            type: integer
          uuid:
            type: string
      datetime:
        type: string
        format: date-time
      id:
        type: string
      links:
        type:
          - "null"
          - object
        properties:
          self:
            type: string
      relationships:
        type:
          - "null"
          - object
        properties:
          metric:
            type:
              - "null"
              - object
            properties:
              data:
                type:
                  - "null"
                  - object
                properties:
                  type:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
              links:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  related:
                    type: string
                  self:
                    type: string
          profile:
            type:
              - "null"
              - object
            properties:
              data:
                type:
                  - "null"
                  - object
                properties:
                  type:
                    type: string
                  id:
                    type: string
              links:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  related:
                    type: string
                  self:
                    type: string
  email_templates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      attributes:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          company_id:
            type:
              - "null"
              - string
          created:
            type:
              - "null"
              - string
            format: date-time
          editor_type:
            type:
              - "null"
              - string
          html:
            type: string
          name:
            type: string
          text:
            type:
              - "null"
              - string
          updated:
            type:
              - "null"
              - string
            format: date-time
      id:
        type: string
      links:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          self:
            type: string
      updated:
        type:
          - "null"
          - string
        format: date-time
  campaigns:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      attributes:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          archived:
            type: boolean
          audiences:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              excluded:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - string
              included:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - string
          channel:
            type: string
          created_at:
            type:
              - "null"
              - string
            format: date-time
          message:
            type: string
          name:
            type: string
          scheduled_at:
            type:
              - "null"
              - string
            format: date-time
          send_options:
            type:
              - "null"
              - object
            properties:
              ignore_unsubscribes:
                type:
                  - "null"
                  - boolean
              use_smart_sending:
                type:
                  - "null"
                  - boolean
          send_strategy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              method:
                type: string
              options_static:
                type:
                  - "null"
                  - object
                properties:
                  datetime:
                    type: string
                    airbyte_type: timestamp_without_timezone
                    format: date-time
                  is_local:
                    type:
                      - "null"
                      - boolean
                  send_past_recipients_immediately:
                    type:
                      - "null"
                      - boolean
              options_sto:
                type:
                  - "null"
                  - object
                properties:
                  date:
                    type: string
                    format: date
              options_throttled:
                type:
                  - "null"
                  - object
                properties:
                  datetime:
                    type: string
                    airbyte_type: timestamp_without_timezone
                    format: date-time
                  throttle_percentage:
                    type: integer
          send_time:
            type:
              - "null"
              - string
            format: date-time
          status:
            type: string
          tracking_options:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              add_tracking_params:
                type:
                  - "null"
                  - boolean
              is_add_utm:
                type:
                  - "null"
                  - boolean
              is_tracking_clicks:
                type:
                  - "null"
                  - boolean
              is_tracking_opens:
                type:
                  - "null"
                  - boolean
              utm_params:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
          updated_at:
            type:
              - "null"
              - string
            format: date-time
      id:
        type: string
      links:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          self:
            type: string
      relationships:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          campaign-messages:
            type:
              - "null"
              - object
            properties:
              data:
                type: array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type: string
                  self:
                    type: string
          tags:
            type:
              - "null"
              - object
            properties:
              data:
                type: array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type: string
                  self:
                    type: string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  campaigns_detailed:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      attributes:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          archived:
            type: boolean
          audiences:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              excluded:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - string
              included:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - string
          channel:
            type: string
          created_at:
            type:
              - "null"
              - string
            format: date-time
          message:
            type: string
          name:
            type: string
          scheduled_at:
            type:
              - "null"
              - string
            format: date-time
          send_options:
            type:
              - "null"
              - object
            properties:
              ignore_unsubscribes:
                type:
                  - "null"
                  - boolean
              use_smart_sending:
                type:
                  - "null"
                  - boolean
          send_strategy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              method:
                type: string
              options_static:
                type:
                  - "null"
                  - object
                properties:
                  datetime:
                    type: string
                    airbyte_type: timestamp_without_timezone
                    format: date-time
                  is_local:
                    type:
                      - "null"
                      - boolean
                  send_past_recipients_immediately:
                    type:
                      - "null"
                      - boolean
              options_sto:
                type:
                  - "null"
                  - object
                properties:
                  date:
                    type: string
                    format: date
              options_throttled:
                type:
                  - "null"
                  - object
                properties:
                  datetime:
                    type: string
                    airbyte_type: timestamp_without_timezone
                    format: date-time
                  throttle_percentage:
                    type: integer
          send_time:
            type:
              - "null"
              - string
            format: date-time
          status:
            type: string
          tracking_options:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              add_tracking_params:
                type:
                  - "null"
                  - boolean
              is_add_utm:
                type:
                  - "null"
                  - boolean
              is_tracking_clicks:
                type:
                  - "null"
                  - boolean
              is_tracking_opens:
                type:
                  - "null"
                  - boolean
              utm_params:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
          updated_at:
            type:
              - "null"
              - string
            format: date-time
      campaign_messages:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            type:
              type:
                - "null"
                - string
            attributes:
              type:
                - "null"
                - object
              properties:
                channel:
                  type:
                    - "null"
                    - string
                content:
                  type:
                    - "null"
                    - object
                  properties:
                    bcc_email:
                      type:
                        - "null"
                        - string
                    cc_email:
                      type:
                        - "null"
                        - string
                    from_email:
                      type:
                        - "null"
                        - string
                    from_label:
                      type:
                        - "null"
                        - string
                    preview_text:
                      type:
                        - "null"
                        - string
                    reply_to_email:
                      type:
                        - "null"
                        - string
                    subject:
                      type:
                        - "null"
                        - string
                created_at:
                  type:
                    - "null"
                    - string
                  airbyte_type: timestamp_without_timezone
                  format: date-time
                label:
                  type:
                    - "null"
                    - string
                render_options:
                  type:
                    - "null"
                    - object
                  properties:
                    add_info_link:
                      type:
                        - "null"
                        - boolean
                    add_opt_out_language:
                      type:
                        - "null"
                        - boolean
                    add_org_prefix:
                      type:
                        - "null"
                        - boolean
                    shorten_links:
                      type:
                        - "null"
                        - boolean
                send_times:
                  type:
                    - "null"
                    - array
                  items:
                    type:
                      - "null"
                      - object
                    properties:
                      datetime:
                        type:
                          - "null"
                          - string
                        format: date-time
                      is_local:
                        type:
                          - "null"
                          - boolean
                updated_at:
                  type:
                    - "null"
                    - string
                  airbyte_type: timestamp_without_timezone
                  format: date-time
            id:
              type:
                - "null"
                - string
            links:
              type:
                - "null"
                - object
              properties:
                self:
                  type:
                    - "null"
                    - string
            relationships:
              type:
                - "null"
                - object
              properties:
                campaign:
                  type:
                    - "null"
                    - object
                  properties:
                    data:
                      type:
                        - "null"
                        - object
                      properties:
                        type:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                    links:
                      type:
                        - "null"
                        - object
                      properties:
                        related:
                          type:
                            - "null"
                            - string
                        self:
                          type:
                            - "null"
                            - string
                template:
                  type:
                    - "null"
                    - object
                  properties:
                    data:
                      type:
                        - "null"
                        - object
                      properties:
                        type:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                    links:
                      type:
                        - "null"
                        - object
                      properties:
                        related:
                          type:
                            - "null"
                            - string
                        self:
                          type:
                            - "null"
                            - string
      estimated_recipient_count:
        type:
          - "null"
          - integer
      id:
        type: string
      links:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          self:
            type: string
      relationships:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          campaign-messages:
            type:
              - "null"
              - object
            properties:
              data:
                type: array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type: string
                  self:
                    type: string
          tags:
            type:
              - "null"
              - object
            properties:
              data:
                type: array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type: string
                  self:
                    type: string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  flows:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      attributes:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          archived:
            type: boolean
          created:
            type: string
            format: date-time
          name:
            type: string
          status:
            type: string
          trigger_type:
            type: string
          updated:
            type: string
            format: date-time
      id:
        type: string
      links:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          self:
            type: string
      relationships:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          flow-actions:
            type:
              - "null"
              - object
            properties:
              data:
                type: array
                items:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type: string
                  self:
                    type: string
          tags:
            type:
              - "null"
              - object
            properties:
              data:
                type: array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type: string
                  self:
                    type: string
      updated:
        type: string
        format: date-time
  metrics:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      attributes:
        type:
          - "null"
          - object
        properties:
          created:
            type: string
            format: date-time
          integration:
            type:
              - "null"
              - object
            additionalProperties: true
          name:
            type: string
          updated:
            type: string
            format: date-time
      id:
        type: string
      links:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          self:
            type: string
      relationships:
        type:
          - "null"
          - object
        properties:
          flow-triggers:
            type:
              - "null"
              - object
            properties:
              data:
                type:
                  - "null"
                  - object
                properties:
                  type:
                    type:
                      - "null"
                      - string
                  id:
                    type:
                      - "null"
                      - string
              links:
                type:
                  - "null"
                  - object
                properties:
                  related:
                    type:
                      - "null"
                      - string
                  self:
                    type:
                      - "null"
                      - string
      updated:
        type: string
        format: date-time
  lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          created:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          opt_in_process:
            type:
              - string
              - "null"
          updated:
            type:
              - string
              - "null"
      id:
        type: string
      links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - string
              - "null"
      relationships:
        type:
          - object
          - "null"
        properties:
          flow-triggers:
            type:
              - object
              - "null"
            properties:
              links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - string
                      - "null"
                  self:
                    type:
                      - string
                      - "null"
          profiles:
            type:
              - object
              - "null"
            properties:
              links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - string
                      - "null"
                  self:
                    type:
                      - string
                      - "null"
          tags:
            type:
              - object
              - "null"
            properties:
              links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - string
                      - "null"
                  self:
                    type:
                      - string
                      - "null"
      updated:
        type: string
    required:
      - id
      - updated
  lists_detailed:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          created:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          opt_in_process:
            type:
              - string
              - "null"
          updated:
            type:
              - string
              - "null"
      id:
        type: string
      links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - string
              - "null"
      relationships:
        type:
          - object
          - "null"
        properties:
          flow-triggers:
            type:
              - object
              - "null"
            properties:
              links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - string
                      - "null"
                  self:
                    type:
                      - string
                      - "null"
          profiles:
            type:
              - object
              - "null"
            properties:
              links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - string
                      - "null"
                  self:
                    type:
                      - string
                      - "null"
          tags:
            type:
              - object
              - "null"
            properties:
              links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - string
                      - "null"
                  self:
                    type:
                      - string
                      - "null"
      updated:
        type: string
    required:
      - id
      - updated
