version: 5.15.0
type: DeclarativeSource
definitions:
  authenticator:
    type: ApiKeyAuthenticator
    api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
    inject_into:
      type: RequestOption
      field_name: "Authorization"
      inject_into: header
  requester:
    type: HttpRequester
    url_base: "https://a.klaviyo.com/api/"
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        field_name: "Authorization"
        inject_into: header
    http_method: GET
    error_handler:
      type: CustomErrorHandler
      class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
      backoff_strategies:
      - type: WaitTimeFromHeader
        header: "Retry-After"
      response_filters:
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes:
        - 429
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
        - 401
        - 403
        failure_type: config_error
        error_message: Please provide a valid API key and make sure it has permissions
          to read specified streams.
    request_headers:
      Accept: "application/json"
      Revision: "2024-10-15"
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
      - "data"
  cursor_pagination_strategy:
    type: CursorPagination
    cursor_value: "{{ response.get('links', {}).get('next') }}"
  paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('links', {}).get('next') }}"
    page_token_option:
      type: RequestPath
  base_retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - "data"
    requester:
      type: HttpRequester
      url_base: "https://a.klaviyo.com/api/"
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
        inject_into:
          type: RequestOption
          field_name: "Authorization"
          inject_into: header
      http_method: GET
      error_handler:
        type: CustomErrorHandler
        class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: "Retry-After"
        response_filters:
        - type: HttpResponseFilter
          action: RATE_LIMITED
          http_codes:
          - 429
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
          failure_type: config_error
          error_message: Please provide a valid API key and make sure it has permissions
            to read specified streams.
      request_headers:
        Accept: "application/json"
        Revision: "2024-10-15"
    paginator:
      type: DefaultPaginator
      pagination_strategy:
        type: CursorPagination
        cursor_value: "{{ response.get('links', {}).get('next') }}"
      page_token_option:
        type: RequestPath
  profiles_retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - "data"
    requester:
      type: HttpRequester
      url_base: "https://a.klaviyo.com/api/"
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
        inject_into:
          type: RequestOption
          field_name: "Authorization"
          inject_into: header
      http_method: GET
      error_handler:
        type: CustomErrorHandler
        class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
        backoff_strategies:
        - type: WaitTimeFromHeader
          header: "Retry-After"
        response_filters:
        - type: HttpResponseFilter
          action: RATE_LIMITED
          http_codes:
          - 429
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
          - 401
          - 403
          failure_type: config_error
          error_message: Please provide a valid API key and make sure it has permissions
            to read specified streams.
      request_headers:
        Accept: "application/json"
        Revision: "2024-10-15"
      request_parameters:
        "additional-fields[profile]": "{{ 'predictive_analytics' if not config['disable_fetching_predictive_analytics']
          else '' }}"
    paginator:
      type: DefaultPaginator
      pagination_strategy:
        type: CursorPagination
        cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_size: 100
      page_token_option:
        type: RequestPath
      page_size_option:
        type: RequestOption
        field_name: "page[size]"
        inject_into: request_parameter
  base_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
  base_semi_incremental_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      is_client_side_incremental: true
  profiles_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
    name: "profiles"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S%z"
      - "%Y-%m-%d %H:%M:%S%z"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type:
            - "null"
            - string
          id:
            type: string
          updated:
            type:
            - "null"
            - string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              email:
                type:
                - "null"
                - string
              phone_number:
                type:
                - "null"
                - string
              anonymous_id:
                type:
                - "null"
                - string
              external_id:
                type:
                - "null"
                - string
              first_name:
                type:
                - "null"
                - string
              last_name:
                type:
                - "null"
                - string
              organization:
                type:
                - "null"
                - string
              locale:
                type:
                - "null"
                - string
              title:
                type:
                - "null"
                - string
              image:
                type:
                - "null"
                - string
              created:
                type:
                - "null"
                - string
                format: date-time
              updated:
                type:
                - "null"
                - string
                format: date-time
              last_event_date:
                type:
                - "null"
                - string
                format: date-time
              location:
                type:
                - "null"
                - object
                properties:
                  address1:
                    type:
                    - "null"
                    - string
                  address2:
                    type:
                    - "null"
                    - string
                  city:
                    type:
                    - "null"
                    - string
                  country:
                    type:
                    - "null"
                    - string
                  latitude:
                    oneOf:
                    - type: "null"
                    - type: number
                    - type: string
                  longitude:
                    oneOf:
                    - type: "null"
                    - type: number
                    - type: string
                  region:
                    type:
                    - "null"
                    - string
                  zip:
                    type:
                    - "null"
                    - string
                  timezone:
                    type:
                    - "null"
                    - string
                  ip:
                    type:
                    - "null"
                    - string
              properties:
                type:
                - "null"
                - object
                additionalProperties: true
              subscriptions:
                type:
                - "null"
                - object
                properties:
                  email:
                    type:
                    - "null"
                    - object
                    properties:
                      marketing:
                        type:
                        - "null"
                        - object
                        properties:
                          can_receive_email_marketing:
                            type: boolean
                          consent:
                            type: string
                          timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                          consent_timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                          last_updated:
                            type:
                            - "null"
                            - string
                            format: date-time
                          method:
                            type:
                            - "null"
                            - string
                          method_detail:
                            type:
                            - "null"
                            - string
                          custom_method_detail:
                            type:
                            - "null"
                            - string
                          double_optin:
                            type:
                            - "null"
                            - boolean
                          suppressions:
                            type:
                            - "null"
                            - array
                            items:
                              type:
                              - "null"
                              - object
                              properties:
                                reason:
                                  type: string
                                timestamp:
                                  type: string
                                  format: date-time
                          list_suppressions:
                            type:
                            - "null"
                            - array
                            items:
                              type:
                              - "null"
                              - object
                              properties:
                                list_id:
                                  type: string
                                reason:
                                  type: string
                                timestamp:
                                  type: string
                                  format: date-time
                  sms:
                    type:
                    - "null"
                    - object
                    properties:
                      marketing:
                        type:
                        - "null"
                        - object
                        properties:
                          can_receive_sms_marketing:
                            type:
                            - "null"
                            - boolean
                          consent:
                            type:
                            - "null"
                            - string
                          consent_timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                          method:
                            type:
                            - "null"
                            - string
                          method_detail:
                            type:
                            - "null"
                            - string
                          last_updated:
                            type:
                            - "null"
                            - string
                            format: date-time
                          timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                      transactional:
                        type:
                        - "null"
                        - object
                        properties:
                          can_receive_sms_marketing:
                            type:
                            - "null"
                            - boolean
                          consent:
                            type:
                            - "null"
                            - string
                          consent_timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                          method:
                            type:
                            - "null"
                            - string
                          method_detail:
                            type:
                            - "null"
                            - string
                          last_updated:
                            type:
                            - "null"
                            - string
                            format: date-time
                          timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                  mobile_push:
                    type:
                    - "null"
                    - object
                    properties:
                      marketing:
                        type:
                        - "null"
                        - object
                        properties:
                          can_receive_sms_marketing:
                            type:
                            - "null"
                            - boolean
                          consent:
                            type:
                            - "null"
                            - string
                          consent_timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
              predictive_analytics:
                type:
                - "null"
                - object
                properties:
                  historic_clv:
                    type:
                    - "null"
                    - number
                  predicted_clv:
                    type:
                    - "null"
                    - number
                  total_clv:
                    type:
                    - "null"
                    - number
                  historic_number_of_orders:
                    type:
                    - "null"
                    - integer
                  predicted_number_of_orders:
                    type:
                    - "null"
                    - number
                  average_days_between_orders:
                    type:
                    - "null"
                    - number
                  average_order_value:
                    type:
                    - "null"
                    - number
                  churn_probability:
                    type:
                    - "null"
                    - number
                  expected_date_of_next_order:
                    type:
                    - "null"
                    - string
          links:
            type:
            - "null"
            - object
            properties:
              self:
                type:
                - "null"
                - string
          relationships:
            type:
            - "null"
            - object
            properties:
              lists:
                type:
                - "null"
                - object
                properties:
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type:
                        - "null"
                        - string
                      related:
                        type:
                        - "null"
                        - string
              segments:
                type:
                - "null"
                - object
                properties:
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type:
                        - "null"
                        - string
                      related:
                        type:
                        - "null"
                        - string
          segments:
            type:
            - "null"
            - object
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
        schema_normalization: Default
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
        request_parameters:
          "additional-fields[profile]": "{{ 'predictive_analytics' if not config['disable_fetching_predictive_analytics']
            else '' }}"
          "filter": "greater-than({{ parameters.cursor_field }},{{ stream_interval.start_time
            }})"
          "sort": "{{ parameters.cursor_field }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
          page_size: 100
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          field_name: "page[size]"
          inject_into: request_parameter
  global_exclusions_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
      - type: AddedFieldDefinition
        path:
        - "attributes"
        - "subscriptions"
        - "email"
        - "marketing"
        - "suppressions"
        value: "{{ record['attributes']['subscriptions']['email']['marketing']['suppression']
          }}"
    - type: RemoveFields
      field_pointers:
      - - "attributes"
        - "subscriptions"
        - "email"
        - "marketing"
        - "suppression"
    name: "global_exclusions"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S%z"
      - "%Y-%m-%d %H:%M:%S%z"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type:
            - "null"
            - string
          id:
            type: string
          updated:
            type:
            - "null"
            - string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              email:
                type:
                - "null"
                - string
              phone_number:
                type:
                - "null"
                - string
              anonymous_id:
                type:
                - "null"
                - string
              external_id:
                type:
                - "null"
                - string
              first_name:
                type:
                - "null"
                - string
              last_name:
                type:
                - "null"
                - string
              organization:
                type:
                - "null"
                - string
              locale:
                type:
                - "null"
                - string
              title:
                type:
                - "null"
                - string
              image:
                type:
                - "null"
                - string
              created:
                type:
                - "null"
                - string
                format: date-time
              updated:
                type:
                - "null"
                - string
                format: date-time
              last_event_date:
                type:
                - "null"
                - string
                format: date-time
              location:
                type:
                - "null"
                - object
                properties:
                  address1:
                    type:
                    - "null"
                    - string
                  address2:
                    type:
                    - "null"
                    - string
                  city:
                    type:
                    - "null"
                    - string
                  country:
                    type:
                    - "null"
                    - string
                  latitude:
                    oneOf:
                    - type: "null"
                    - type: number
                    - type: string
                  longitude:
                    oneOf:
                    - type: "null"
                    - type: number
                    - type: string
                  region:
                    type:
                    - "null"
                    - string
                  zip:
                    type:
                    - "null"
                    - string
                  timezone:
                    type:
                    - "null"
                    - string
                  ip:
                    type:
                    - "null"
                    - string
              properties:
                type:
                - "null"
                - object
                additionalProperties: true
              subscriptions:
                type:
                - "null"
                - object
                properties:
                  email:
                    type:
                    - "null"
                    - object
                    properties:
                      marketing:
                        type:
                        - "null"
                        - object
                        properties:
                          can_receive_email_marketing:
                            type: boolean
                          consent:
                            type: string
                          timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                          consent_timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                          last_updated:
                            type:
                            - "null"
                            - string
                            format: date-time
                          method:
                            type:
                            - "null"
                            - string
                          method_detail:
                            type:
                            - "null"
                            - string
                          custom_method_detail:
                            type:
                            - "null"
                            - string
                          double_optin:
                            type:
                            - "null"
                            - boolean
                          suppressions:
                            type:
                            - "null"
                            - array
                            items:
                              type:
                              - "null"
                              - object
                              properties:
                                reason:
                                  type: string
                                timestamp:
                                  type: string
                                  format: date-time
                          list_suppressions:
                            type:
                            - "null"
                            - array
                            items:
                              type:
                              - "null"
                              - object
                              properties:
                                list_id:
                                  type: string
                                reason:
                                  type: string
                                timestamp:
                                  type: string
                                  format: date-time
                  sms:
                    type:
                    - "null"
                    - object
                    properties:
                      marketing:
                        type:
                        - "null"
                        - object
                        properties:
                          can_receive_sms_marketing:
                            type:
                            - "null"
                            - boolean
                          consent:
                            type:
                            - "null"
                            - string
                          consent_timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                          method:
                            type:
                            - "null"
                            - string
                          method_detail:
                            type:
                            - "null"
                            - string
                          last_updated:
                            type:
                            - "null"
                            - string
                            format: date-time
                          timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                      transactional:
                        type:
                        - "null"
                        - object
                        properties:
                          can_receive_sms_marketing:
                            type:
                            - "null"
                            - boolean
                          consent:
                            type:
                            - "null"
                            - string
                          consent_timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                          method:
                            type:
                            - "null"
                            - string
                          method_detail:
                            type:
                            - "null"
                            - string
                          last_updated:
                            type:
                            - "null"
                            - string
                            format: date-time
                          timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
                  mobile_push:
                    type:
                    - "null"
                    - object
                    properties:
                      marketing:
                        type:
                        - "null"
                        - object
                        properties:
                          can_receive_sms_marketing:
                            type:
                            - "null"
                            - boolean
                          consent:
                            type:
                            - "null"
                            - string
                          consent_timestamp:
                            type:
                            - "null"
                            - string
                            format: date-time
              predictive_analytics:
                type:
                - "null"
                - object
                properties:
                  historic_clv:
                    type:
                    - "null"
                    - number
                  predicted_clv:
                    type:
                    - "null"
                    - number
                  total_clv:
                    type:
                    - "null"
                    - number
                  historic_number_of_orders:
                    type:
                    - "null"
                    - integer
                  predicted_number_of_orders:
                    type:
                    - "null"
                    - number
                  average_days_between_orders:
                    type:
                    - "null"
                    - number
                  average_order_value:
                    type:
                    - "null"
                    - number
                  churn_probability:
                    type:
                    - "null"
                    - number
                  expected_date_of_next_order:
                    type:
                    - "null"
                    - string
          links:
            type:
            - "null"
            - object
            properties:
              self:
                type:
                - "null"
                - string
          relationships:
            type:
            - "null"
            - object
            properties:
              lists:
                type:
                - "null"
                - object
                properties:
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type:
                        - "null"
                        - string
                      related:
                        type:
                        - "null"
                        - string
              segments:
                type:
                - "null"
                - object
                properties:
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type:
                        - "null"
                        - string
                      related:
                        type:
                        - "null"
                        - string
          segments:
            type:
            - "null"
            - object
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
        record_filter:
          type: RecordFilter
          condition: "{{ record['attributes']['subscriptions']['email']['marketing']['suppression']
            }}"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
        request_parameters:
          "additional-fields[profile]": "subscriptions"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
          page_size: 100
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          field_name: "page[size]"
          inject_into: request_parameter
  events_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "datetime"
        value: "{{ record.get('attributes', {}).get('datetime') }}"
    name: "events"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "datetime"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S%z"
      - "%Y-%m-%d %H:%M:%S%z"
      step: P7D
      cursor_granularity: PT1S
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
        request_parameters:
          "fields[metric]": "name,created,updated,integration"
          "include": "metric,attributions"
          "filter": "greater-or-equal({{ parameters.cursor_field }},{{ stream_interval.start_time
            }}),less-or-equal({{ parameters.cursor_field }},{{ stream_interval.end_time
            }})"
          "sort": "{{ parameters.cursor_field }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type: string
          id:
            type: string
          datetime:
            type: string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            properties:
              timestamp:
                type: integer
              event_properties:
                type:
                - "null"
                - object
                additionalProperties: true
              datetime:
                type: string
                format: date-time
              uuid:
                type: string
          links:
            type:
            - "null"
            - object
            properties:
              self:
                type: string
          relationships:
            type:
            - "null"
            - object
            properties:
              profile:
                type:
                - "null"
                - object
                properties:
                  data:
                    type:
                    - "null"
                    - object
                    properties:
                      type:
                        type: string
                      id:
                        type: string
                  links:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties:
                      self:
                        type: string
                      related:
                        type: string
              metric:
                type:
                - "null"
                - object
                properties:
                  data:
                    type:
                    - "null"
                    - object
                    properties:
                      type:
                        type: string
                      id:
                        type: string
                  links:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties:
                      self:
                        type: string
                      related:
                        type: string
              attributions:
                type:
                - "null"
                - object
                properties:
                  data:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                  links:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties:
                      self:
                        type: string
                      related:
                        type: string
  email_templates_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
    name: "email_templates"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S%z"
      - "%Y-%m-%d %H:%M:%S%z"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type: string
          id:
            type: string
          updated:
            type:
            - "null"
            - string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              name:
                type: string
              editor_type:
                type:
                - "null"
                - string
              html:
                type: string
              text:
                type:
                - "null"
                - string
              created:
                type:
                - "null"
                - string
                format: date-time
              updated:
                type:
                - "null"
                - string
                format: date-time
              company_id:
                type:
                - "null"
                - string
          links:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              self:
                type: string
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
        request_parameters:
          "filter": "greater-than({{ parameters.cursor_field }},{{ stream_interval.start_time
            }})"
          "sort": "{{ parameters.cursor_field }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
  campaigns_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated_at"
        value: "{{ record.get('attributes', {}).get('updated_at') }}"
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "attributes"
        - "channel"
        value: "{{ stream_partition['campaign_type'] }}"
    name: "campaigns"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated_at"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S%z"
      - "%Y-%m-%d %H:%M:%S%z"
      step: P60D
      cursor_granularity: PT1S
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
        request_parameters:
          "filter": "and(greater-or-equal({{ parameters.cursor_field }},{{ stream_interval.start_time
            }}),less-or-equal({{ parameters.cursor_field }},{{ stream_interval.end_time
            }}),equals(messages.channel,'{{ stream_partition['campaign_type'] }}'),equals(archived,{{
            stream_partition['archived'] }}))"
          "sort": "{{ parameters.cursor_field }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
      - type: ListPartitionRouter
        values:
        - sms
        - email
        cursor_field: campaign_type
      - type: ListPartitionRouter
        values:
        - "true"
        - "false"
        cursor_field: archived
    state_migrations:
    - type: CustomStateMigration
      class_name: 
        source_klaviyo.components.archived_to_per_partition_state_migration.CampaignsStateMigration
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type: string
          id:
            type: string
          updated_at:
            type:
            - "null"
            - string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              name:
                type: string
              status:
                type: string
              archived:
                type: boolean
              channel:
                type: string
              audiences:
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  included:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - string
                  excluded:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - string
              send_options:
                type:
                - "null"
                - object
                properties:
                  ignore_unsubscribes:
                    type:
                    - "null"
                    - boolean
                  use_smart_sending:
                    type:
                    - "null"
                    - boolean
              message:
                type: string
              tracking_options:
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  add_tracking_params:
                    type:
                    - "null"
                    - boolean
                  is_tracking_opens:
                    type:
                    - "null"
                    - boolean
                  is_tracking_clicks:
                    type:
                    - "null"
                    - boolean
                  is_add_utm:
                    type:
                    - "null"
                    - boolean
                  utm_params:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
              send_strategy:
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  method:
                    type: string
                  options_static:
                    type:
                    - "null"
                    - object
                    properties:
                      datetime:
                        type: string
                        format: date-time
                        airbyte_type: timestamp_without_timezone
                      is_local:
                        type:
                        - "null"
                        - boolean
                      send_past_recipients_immediately:
                        type:
                        - "null"
                        - boolean
                  options_throttled:
                    type:
                    - "null"
                    - object
                    properties:
                      datetime:
                        type: string
                        format: date-time
                        airbyte_type: timestamp_without_timezone
                      throttle_percentage:
                        type: integer
                  options_sto:
                    type:
                    - "null"
                    - object
                    properties:
                      date:
                        type: string
                        format: date
              created_at:
                type:
                - "null"
                - string
                format: date-time
              scheduled_at:
                type:
                - "null"
                - string
                format: date-time
              updated_at:
                type:
                - "null"
                - string
                format: date-time
              send_time:
                type:
                - "null"
                - string
                format: date-time
          links:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              self:
                type: string
          relationships:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              tags:
                type:
                - "null"
                - object
                properties:
                  data:
                    type: array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type: string
                      related:
                        type: string
              campaign-messages:
                type:
                - "null"
                - object
                properties:
                  data:
                    type: array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type: string
                      related:
                        type: string
  campaigns_detailed_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated_at"
        value: "{{ record.get('attributes', {}).get('updated_at') }}"
    - type: CustomTransformation
      class_name: 
        source_klaviyo.components.campaign_details_transformations.CampaignsDetailedTransformation
    name: "campaigns_detailed"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated_at"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S%z"
      - "%Y-%m-%d %H:%M:%S%z"
      step: P60D
      cursor_granularity: PT1S
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
        request_parameters:
          "filter": "and(greater-or-equal({{ parameters.cursor_field }},{{ stream_interval.start_time
            }}),less-or-equal({{ parameters.cursor_field }},{{ stream_interval.end_time
            }}),equals(messages.channel,'{{ stream_partition['campaign_type'] }}'),equals(archived,{{
            stream_partition['archived'] }}))"
          "sort": "{{ parameters.cursor_field }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
      - type: ListPartitionRouter
        values:
        - sms
        - email
        cursor_field: campaign_type
      - type: ListPartitionRouter
        values:
        - "true"
        - "false"
        cursor_field: archived
    state_migrations:
    - type: CustomStateMigration
      class_name: 
        source_klaviyo.components.archived_to_per_partition_state_migration.CampaignsStateMigration
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type: string
          id:
            type: string
          updated_at:
            type:
            - "null"
            - string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              name:
                type: string
              status:
                type: string
              archived:
                type: boolean
              channel:
                type: string
              audiences:
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  included:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - string
                  excluded:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - string
              send_options:
                type:
                - "null"
                - object
                properties:
                  ignore_unsubscribes:
                    type:
                    - "null"
                    - boolean
                  use_smart_sending:
                    type:
                    - "null"
                    - boolean
              message:
                type: string
              tracking_options:
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  add_tracking_params:
                    type:
                    - "null"
                    - boolean
                  is_tracking_opens:
                    type:
                    - "null"
                    - boolean
                  is_tracking_clicks:
                    type:
                    - "null"
                    - boolean
                  is_add_utm:
                    type:
                    - "null"
                    - boolean
                  utm_params:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
              send_strategy:
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  method:
                    type: string
                  options_static:
                    type:
                    - "null"
                    - object
                    properties:
                      datetime:
                        type: string
                        format: date-time
                        airbyte_type: timestamp_without_timezone
                      is_local:
                        type:
                        - "null"
                        - boolean
                      send_past_recipients_immediately:
                        type:
                        - "null"
                        - boolean
                  options_throttled:
                    type:
                    - "null"
                    - object
                    properties:
                      datetime:
                        type: string
                        format: date-time
                        airbyte_type: timestamp_without_timezone
                      throttle_percentage:
                        type: integer
                  options_sto:
                    type:
                    - "null"
                    - object
                    properties:
                      date:
                        type: string
                        format: date
              created_at:
                type:
                - "null"
                - string
                format: date-time
              scheduled_at:
                type:
                - "null"
                - string
                format: date-time
              updated_at:
                type:
                - "null"
                - string
                format: date-time
              send_time:
                type:
                - "null"
                - string
                format: date-time
          links:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              self:
                type: string
          relationships:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              tags:
                type:
                - "null"
                - object
                properties:
                  data:
                    type: array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type: string
                      related:
                        type: string
              campaign-messages:
                type:
                - "null"
                - object
                properties:
                  data:
                    type: array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type: string
                      related:
                        type: string
          estimated_recipient_count:
            type:
            - "null"
            - integer
          campaign_messages:
            type:
            - "null"
            - array
            items:
              type:
              - "null"
              - object
              properties:
                type:
                  type:
                  - "null"
                  - string
                id:
                  type:
                  - "null"
                  - string
                attributes:
                  type:
                  - "null"
                  - object
                  properties:
                    label:
                      type:
                      - "null"
                      - string
                    channel:
                      type:
                      - "null"
                      - string
                    content:
                      type:
                      - "null"
                      - object
                      properties:
                        subject:
                          type:
                          - "null"
                          - string
                        preview_text:
                          type:
                          - "null"
                          - string
                        from_email:
                          type:
                          - "null"
                          - string
                        from_label:
                          type:
                          - "null"
                          - string
                        reply_to_email:
                          type:
                          - "null"
                          - string
                        cc_email:
                          type:
                          - "null"
                          - string
                        bcc_email:
                          type:
                          - "null"
                          - string
                    send_times:
                      type:
                      - "null"
                      - array
                      items:
                        type:
                        - "null"
                        - object
                        properties:
                          datetime:
                            type:
                            - "null"
                            - string
                            format: date-time
                          is_local:
                            type:
                            - "null"
                            - boolean
                    render_options:
                      type:
                      - "null"
                      - object
                      properties:
                        shorten_links:
                          type:
                          - "null"
                          - boolean
                        add_org_prefix:
                          type:
                          - "null"
                          - boolean
                        add_info_link:
                          type:
                          - "null"
                          - boolean
                        add_opt_out_language:
                          type:
                          - "null"
                          - boolean
                    created_at:
                      type:
                      - "null"
                      - string
                      format: date-time
                      airbyte_type: timestamp_without_timezone
                    updated_at:
                      type:
                      - "null"
                      - string
                      format: date-time
                      airbyte_type: timestamp_without_timezone
                links:
                  type:
                  - "null"
                  - object
                  properties:
                    self:
                      type:
                      - "null"
                      - string
                relationships:
                  type:
                  - "null"
                  - object
                  properties:
                    campaign:
                      type:
                      - "null"
                      - object
                      properties:
                        data:
                          type:
                          - "null"
                          - object
                          properties:
                            type:
                              type:
                              - "null"
                              - string
                            id:
                              type:
                              - "null"
                              - string
                        links:
                          type:
                          - "null"
                          - object
                          properties:
                            self:
                              type:
                              - "null"
                              - string
                            related:
                              type:
                              - "null"
                              - string
                    template:
                      type:
                      - "null"
                      - object
                      properties:
                        data:
                          type:
                          - "null"
                          - object
                          properties:
                            type:
                              type:
                              - "null"
                              - string
                            id:
                              type:
                              - "null"
                              - string
                        links:
                          type:
                          - "null"
                          - object
                          properties:
                            self:
                              type:
                              - "null"
                              - string
                            related:
                              type:
                              - "null"
                              - string
  flows_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
    name: "flows"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S%z"
      - "%Y-%m-%d %H:%M:%S%z"
      step: P30D
      cursor_granularity: PT1S
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
        request_parameters:
          "filter": "and(greater-or-equal({{ parameters.cursor_field }},{{ stream_interval.start_time
            }}),less-or-equal({{ parameters.cursor_field }},{{ stream_interval.end_time
            }}),equals(archived,{{ stream_partition['archived'] }}))"
          "sort": "{{ parameters.cursor_field }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
      - type: ListPartitionRouter
        values:
        - "true"
        - "false"
        cursor_field: archived
    state_migrations:
    - type: CustomStateMigration
      class_name: 
        source_klaviyo.components.archived_to_per_partition_state_migration.ArchivedToPerPartitionStateMigration
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type: string
          id:
            type: string
          updated:
            type: string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              name:
                type: string
              status:
                type: string
              archived:
                type: boolean
              created:
                type: string
                format: date-time
              updated:
                type: string
                format: date-time
              trigger_type:
                type: string
          links:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              self:
                type: string
          relationships:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              flow-actions:
                type:
                - "null"
                - object
                properties:
                  data:
                    type: array
                    items:
                      type:
                      - "null"
                      - object
                      additionalProperties: true
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type: string
                      related:
                        type: string
              tags:
                type:
                - "null"
                - object
                properties:
                  data:
                    type: array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type: string
                      related:
                        type: string
  metrics_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      is_client_side_incremental: true
    name: "metrics"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type: string
          id:
            type: string
          updated:
            type: string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            properties:
              name:
                type: string
              created:
                type: string
                format: date-time
              updated:
                type: string
                format: date-time
              integration:
                type:
                - "null"
                - object
                additionalProperties: true
          links:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              self:
                type: string
          relationships:
            type:
            - "null"
            - object
            properties:
              flow-triggers:
                type:
                - "null"
                - object
                properties:
                  data:
                    type:
                    - "null"
                    - object
                    properties:
                      type:
                        type:
                        - "null"
                        - string
                      id:
                        type:
                        - "null"
                        - string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type:
                        - "null"
                        - string
                      related:
                        type:
                        - "null"
                        - string
  lists_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      is_client_side_incremental: true
    name: "lists"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type: string
          id:
            type: string
          updated:
            type:
            - "null"
            - string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            properties:
              name:
                type: string
              created:
                type:
                - "null"
                - string
                format: date-time
              updated:
                type:
                - "null"
                - string
                format: date-time
              opt_in_process:
                type:
                - "null"
                - string
          links:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              self:
                type: string
          relationships:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              profiles:
                type:
                - "null"
                - object
                properties:
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type: string
                      related:
                        type: string
              tags:
                type:
                - "null"
                - object
                properties:
                  data:
                    type: array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type: string
                      related:
                        type: string
              flow-triggers:
                type:
                - "null"
                - object
                properties:
                  data:
                    type:
                    - "null"
                    - object
                    properties:
                      type:
                        type:
                        - "null"
                        - string
                      id:
                        type:
                        - "null"
                        - string
                  links:
                    type:
                    - "null"
                    - object
                    properties:
                      self:
                        type:
                        - "null"
                        - string
                      related:
                        type:
                        - "null"
                        - string
  lists_detailed_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
    - type: AddFields
      fields:
      - type: AddedFieldDefinition
        path:
        - "updated"
        value: "{{ record.get('attributes', {}).get('updated') }}"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - "data"
      requester:
        type: HttpRequester
        url_base: "https://a.klaviyo.com/api/"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: "Authorization"
            inject_into: header
        http_method: GET
        error_handler:
          type: CustomErrorHandler
          class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
          backoff_strategies:
          - type: WaitTimeFromHeader
            header: "Retry-After"
          response_filters:
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
            - 429
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
            - 401
            - 403
            failure_type: config_error
            error_message: Please provide a valid API key and make sure it has permissions
              to read specified streams.
        request_headers:
          Accept: "application/json"
          Revision: "2024-10-15"
        request_parameters:
          "additional-fields[list]": "profile_count"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream:
            type: DeclarativeStream
            primary_key: "id"
            transformations:
            - type: AddFields
              fields:
              - type: AddedFieldDefinition
                path:
                - "updated"
                value: "{{ record.get('attributes', {}).get('updated') }}"
            retriever:
              type: SimpleRetriever
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path:
                  - "data"
              requester:
                type: HttpRequester
                url_base: "https://a.klaviyo.com/api/"
                authenticator:
                  type: ApiKeyAuthenticator
                  api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
                  inject_into:
                    type: RequestOption
                    field_name: "Authorization"
                    inject_into: header
                http_method: GET
                error_handler:
                  type: CustomErrorHandler
                  class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
                  backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: "Retry-After"
                  response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                    - 429
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                    - 401
                    - 403
                    failure_type: config_error
                    error_message: Please provide a valid API key and make sure it
                      has permissions to read specified streams.
                request_headers:
                  Accept: "application/json"
                  Revision: "2024-10-15"
              paginator:
                type: DefaultPaginator
                pagination_strategy:
                  type: CursorPagination
                  cursor_value: "{{ response.get('links', {}).get('next') }}"
                page_token_option:
                  type: RequestPath
            incremental_sync:
              type: DatetimeBasedCursor
              cursor_field: "updated"
              datetime_format: "%Y-%m-%dT%H:%M:%S%z"
              start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z')
                }}"
              is_client_side_incremental: true
            name: "lists"
            schema_loader:
              type: InlineSchemaLoader
              schema:
                $schema: "http://json-schema.org/draft-07/schema#"
                type: object
                additionalProperties: true
                properties:
                  type:
                    type: string
                  id:
                    type: string
                  updated:
                    type:
                    - "null"
                    - string
                    format: date-time
                  attributes:
                    type:
                    - "null"
                    - object
                    properties:
                      name:
                        type: string
                      created:
                        type:
                        - "null"
                        - string
                        format: date-time
                      updated:
                        type:
                        - "null"
                        - string
                        format: date-time
                      opt_in_process:
                        type:
                        - "null"
                        - string
                  links:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties:
                      self:
                        type: string
                  relationships:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties:
                      profiles:
                        type:
                        - "null"
                        - object
                        properties:
                          links:
                            type:
                            - "null"
                            - object
                            properties:
                              self:
                                type: string
                              related:
                                type: string
                      tags:
                        type:
                        - "null"
                        - object
                        properties:
                          data:
                            type: array
                            items:
                              type:
                              - "null"
                              - object
                              properties:
                                type:
                                  type: string
                                id:
                                  type: string
                          links:
                            type:
                            - "null"
                            - object
                            properties:
                              self:
                                type: string
                              related:
                                type: string
                      flow-triggers:
                        type:
                        - "null"
                        - object
                        properties:
                          data:
                            type:
                            - "null"
                            - object
                            properties:
                              type:
                                type:
                                - "null"
                                - string
                              id:
                                type:
                                - "null"
                                - string
                          links:
                            type:
                            - "null"
                            - object
                            properties:
                              self:
                                type:
                                - "null"
                                - string
                              related:
                                type:
                                - "null"
                                - string
          partition_field: "id"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      is_client_side_incremental: true
    name: "lists_detailed"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          type:
            type: string
          id:
            type: string
          updated:
            type:
            - "null"
            - string
            format: date-time
          attributes:
            type:
            - "null"
            - object
            properties:
              name:
                type: string
              created:
                type:
                - "null"
                - string
                format: date-time
              updated:
                type:
                - "null"
                - string
                format: date-time
              opt_in_process:
                type:
                - "null"
                - string
              profile_count:
                type:
                - "null"
                - integer
          links:
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
[...]
