version: 6.4.0

type: DeclarativeSource

description: >-
  [NoCRM](https://nocrm.io) connector enables seamless data integration between
  NoCRM.io, a lead management tool, and other platforms or data warehouses. It
  allows for the automated extraction and synchronization of lead data,
  activities, and contact details from NoCRM.io into analytics  systems,
  supporting data-driven decisions and streamlined workflows. 

check:
  type: CheckStream
  stream_names:
    - steps

definitions:
  streams:
    steps:
      type: DeclarativeStream
      name: steps
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /steps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/steps"
    pipelines:
      type: DeclarativeStream
      name: pipelines
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /pipelines
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipelines"
    clients_folders:
      type: DeclarativeStream
      name: clients_folders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /clients
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients_folders"
    categories:
      type: DeclarativeStream
      name: categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /categories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
    predefined_tags:
      type: DeclarativeStream
      name: predefined_tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /predefined_tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/predefined_tags"
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    leads:
      type: DeclarativeStream
      name: leads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /leads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leads"
    follow_ups:
      type: DeclarativeStream
      name: follow_ups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /follow_ups
          http_method: GET
          request_parameters:
            lead_id: "{{ stream_partition.lead_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: lead_id
              stream:
                $ref: "#/definitions/streams/leads"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/follow_ups"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    webhooks:
      type: DeclarativeStream
      name: webhooks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhooks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhooks"
    webhook_events:
      type: DeclarativeStream
      name: webhook_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhook_events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhook_events"
    activities:
      type: DeclarativeStream
      name: activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /activities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activities"
    prospecting_lists:
      type: DeclarativeStream
      name: prospecting_lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /spreadsheets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/prospecting_lists"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['subdomain'] }}.nocrm.io/api/v2
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/steps"
  - $ref: "#/definitions/streams/pipelines"
  - $ref: "#/definitions/streams/clients_folders"
  - $ref: "#/definitions/streams/categories"
  - $ref: "#/definitions/streams/predefined_tags"
  - $ref: "#/definitions/streams/fields"
  - $ref: "#/definitions/streams/leads"
  - $ref: "#/definitions/streams/follow_ups"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/webhooks"
  - $ref: "#/definitions/streams/webhook_events"
  - $ref: "#/definitions/streams/activities"
  - $ref: "#/definitions/streams/prospecting_lists"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - subdomain
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Generate it from the admin section of your noCRM.io
          account.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      subdomain:
        type: string
        description: >-
          The subdomain specific to your noCRM.io account, e.g., 'yourcompany'
          in 'yourcompany.nocrm.io'.
        name: subdomain
        order: 1
        title: Subdomain
    additionalProperties: true

metadata:
  autoImportSchema:
    steps: true
    pipelines: true
    clients_folders: true
    categories: true
    predefined_tags: true
    fields: true
    leads: true
    follow_ups: true
    users: true
    teams: true
    webhooks: true
    webhook_events: true
    activities: true
    prospecting_lists: true
  testedStreams:
    steps:
      streamHash: bbe33ded47e5f9017aea1a1548eb8d8e03803371
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pipelines:
      streamHash: 9cb665bb6c60cc9e8f8ae32df6b46f990afdb439
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    clients_folders:
      streamHash: b6960e4601a1ad11bf1946f7f21cb9226a34bed3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    categories:
      streamHash: 31cc6e3cf85813b6dd06a8ea08d1ff19eb83cca2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    predefined_tags:
      streamHash: 88e7080a74bb2b144bb86e9034c7988c32798bba
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    fields:
      streamHash: dc22d32d52de864571e505e5ba6320747572265f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leads:
      streamHash: 0d089a4251f7134e23e26f6bd1c95aa4612b7348
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    follow_ups:
      streamHash: d95a7583edf054fc6d56c35de9a51fc10b2f24eb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: fbed530a1c080141e45f23f2a2a5c7815b216893
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: c67521197e1db5efbee06143f88f0d3ac8cb80aa
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    webhooks:
      hasRecords: true
      streamHash: 3275886e75785d6f4479e68c7550a87e827f5c29
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    webhook_events:
      streamHash: 530a2503347ffff3f82cf445f738ffe461f8d072
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activities:
      streamHash: 977f32b68d4b8a81b07d00ebb7878ec24b3ac13e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    prospecting_lists:
      streamHash: 90d5128519f2ca52040ffca414854a824790655e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://www.nocrm.io/api

schemas:
  steps:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      pipeline:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          is_default:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      pipeline_id:
        type:
          - number
          - "null"
      position:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  pipelines:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      is_default:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  clients_folders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      is_active:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
  categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      is_required:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  predefined_tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      category:
        type:
          - string
          - "null"
      category_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      is_key:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      parent_type:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  leads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      attachment_count:
        type:
          - number
          - "null"
      closed_at:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_by_id:
        type:
          - number
          - "null"
      created_from:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      html_description:
        type:
          - string
          - "null"
      id:
        type: number
      next_action_at:
        type:
          - string
          - "null"
      pipeline:
        type:
          - string
          - "null"
      probability:
        type:
          - number
          - "null"
      remind_date:
        type:
          - string
          - "null"
      starred:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
      step:
        type:
          - string
          - "null"
      step_id:
        type:
          - number
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      title:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
  follow_ups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      lead_id:
        type:
          - number
          - "null"
      next_action_at:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      tasks_count:
        type:
          - number
          - "null"
      tasks_done_count:
        type:
          - number
          - "null"
      title:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      has_activated:
        type:
          - boolean
          - "null"
      id:
        type: number
      is_admin:
        type:
          - boolean
          - "null"
      is_disabled:
        type:
          - boolean
          - "null"
      lastname:
        type:
          - string
          - "null"
      locale:
        type:
          - string
          - "null"
      permalink:
        type:
          - string
          - "null"
      teams:
        type:
          - array
          - "null"
      time_zone:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      users:
        type:
          - array
          - "null"
    required:
      - id
  webhooks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      event:
        type:
          - string
          - "null"
      id:
        type: number
      is_disabled:
        type:
          - boolean
          - "null"
      target:
        type:
          - string
          - "null"
      target_type:
        type:
          - string
          - "null"
    required:
      - id
  webhook_events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          all_contact_emails:
            type:
              - array
              - "null"
          bcc_count:
            type:
              - number
              - "null"
          comment_count:
            type:
              - number
              - "null"
          comments:
            type:
              - array
              - "null"
          created_at:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          extended_info:
            type:
              - object
              - "null"
            properties:
              created_by:
                type:
                  - object
                  - "null"
                properties:
                  email:
                    type:
                      - string
                      - "null"
                  firstname:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  lastname:
                    type:
                      - string
                      - "null"
              created_by_id:
                type:
                  - number
                  - "null"
              fields_by_name:
                type:
                  - object
                  - "null"
                properties:
                  Email:
                    type:
                      - string
                      - "null"
                  First name:
                    type:
                      - string
                      - "null"
                  Last name:
                    type:
                      - string
                      - "null"
                  Phone:
                    type:
                      - string
                      - "null"
          fields:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
          id:
            type:
              - number
              - "null"
          next_action_at:
            type:
              - string
              - "null"
          permalink:
            type:
              - string
              - "null"
          pipeline:
            type:
              - string
              - "null"
          remind_date:
            type:
              - string
              - "null"
          reminder_duration:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          step:
            type:
              - string
              - "null"
          step_id:
            type:
              - number
              - "null"
          tags:
            type:
              - array
              - "null"
          text_description:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          user:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - string
                  - "null"
              firstname:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              lastname:
                type:
                  - string
                  - "null"
      event:
        type:
          - string
          - "null"
      has_succeeded:
        type:
          - boolean
          - "null"
      id:
        type: number
      last_returned_code:
        type:
          - number
          - "null"
      signature:
        type:
          - string
          - "null"
      try_count:
        type:
          - number
          - "null"
    required:
      - id
  activities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      color:
        type:
          - string
          - "null"
      icon:
        type:
          - string
          - "null"
      id:
        type: number
      is_disabled:
        type:
          - boolean
          - "null"
      kind:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      parent_id:
        type:
          - number
          - "null"
      position:
        type:
          - number
          - "null"
    required:
      - id
  prospecting_lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      column_count:
        type:
          - number
          - "null"
      column_names:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      is_archived:
        type:
          - boolean
          - "null"
      permalink:
        type:
          - string
          - "null"
      privacy:
        type:
          - number
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      title:
        type:
          - string
          - "null"
      to_qualify_row_count:
        type:
          - number
          - "null"
      total_row_count:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
      user:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          firstname:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          lastname:
            type:
              - string
              - "null"
    required:
      - id
