version: 0.78.5\ntype: DeclarativeSource\ncheck:\n  type: CheckStream\n  stream_names:\n    - pokemon\ndefinitions:\n  streams:\n    pokemon:\n      type: DeclarativeStream\n      name: pokemon\n      primary_key:\n        - id\n      retriever:\n        type: SimpleRetriever\n        requester:\n          $ref: "#/definitions/base_requester"\n          path: /{{config['pokemon_name']}}\n          http_method: GET\n        record_selector:\n          type: RecordSelector\n          extractor:\n            type: DpathExtractor\n            field_path: []\n      schema_loader:\n        type: InlineSchemaLoader\n        schema:\n          $ref: "#/schemas/pokemon"\n  base_requester:\n    type: HttpRequester\n    url_base: https://pokeapi.co/api/v2/pokemon\nstreams:\n  - $ref: "#/definitions/streams/pokemon"\nspec:\n  type: Spec\n  connection_specification:\n    type: object\n    $schema: http://json-schema.org/draft-07/schema#\n    required:\n      - pokemon_name\n    properties:\n      pokemon_name:\n        type: string\n        title: Pokemon Name\n        description: Pokemon requested from the API.\n        pattern: ^[a-z0-9_\-]+$\n        enum:\n          - bulbasaur\n          - ivysaur\n          - venusaur\n          - charmander\n          - charmeleon\n          - charizard\n          - squirtle\n          - wartortle\n          - blastoise\n          - caterpie\n          - metapod\n          - butterfree\n          - weedle\n          - kakuna\n          - beedrill\n          - pidgey\n          - pidgeotto\n          - pidgeot\n          - rattata\n          - raticate\n          - spearow\n          - fearow\n          - ekans\n          - arbok\n          - pikachu\n          - raichu\n          - sandshrew\n          - sandslash\n          - nidoranf\n          - nidorina\n          - nidoqueen\n          - nidoranm\n          - nidorino\n          - nidoking\n          - clefairy\n          - clefable\n          - vulpix\n          - ninetales\n          - jigglypuff\n          - wigglytuff\n          - zubat\n          - golbat\n          - oddish\n          - gloom\n          - vileplume\n          - paras\n          - parasect\n          - venonat\n          - venomoth\n          - diglett\n          - dugtrio\n          - meowth\n          - persian\n          - psyduck\n          - golduck\n          - mankey\n          - primeape\n          - growlithe\n          - arcanine\n          - poliwag\n          - poliwhirl\n          - poliwrath\n          - abra\n          - kadabra\n          - alakazam\n          - machop\n          - machoke\n          - machamp\n          - bellsprout\n          - weepinbell\n          - victreebel\n          - tentacool\n          - tentacruel\n          - geodude\n          - graveler\n          - golem\n          - ponyta\n          - rapidash\n          - slowpoke\n          - slowbro\n          - magnemite\n          - magneton\n          - farfetchd\n          - doduo\n          - dodrio\n          - seel\n          - dewgong\n          - grimer\n          - muk\n          - shellder\n          - cloyster\n          - gastly\n          - haunter\n          - gengar\n          - onix\n          - drowzee\n          - hypno\n          - krabby\n          - kingler\n          - voltorb\n          - electrode\n          - exeggcute\n          - exeggutor\n          - cubone\n          - marowak\n          - hitmonlee\n          - hitmonchan\n          - lickitung\n          - koffing\n          - weezing\n          - rhyhorn\n          - rhydon\n          - chansey\n          - tangela\n          - kangaskhan\n          - horsea\n          - seadra\n          - goldeen\n          - seaking\n          - staryu\n          - starmie\n          - mrmime\n          - scyther\n          - jynx\n          - electabuzz\n          - magmar\n          - pinsir\n          - tauros\n          - magikarp\n          - gyarados\n          - lapras\n          - ditto\n          - eevee\n          - vaporeon\n          - jolteon\n          - flareon\n          - porygon\n          - omanyte\n          - omastar\n          - kabuto\n          - kabutops\n          - aerodactyl\n          - snorlax\n          - articuno\n          - zapdos\n          - moltres\n          - dratini\n          - dragonair\n          - dragonite\n          - mewtwo\n          - mew\n          - chikorita\n          - bayleef\n          - meganium\n          - cyndaquil\n          - quilava\n          - typhlosion\n          - totodile\n          - croconaw\n          - feraligatr\n          - sentret\n          - furret\n          - hoothoot\n          - noctowl\n          - ledyba\n          - ledian\n          - spinarak\n          - ariados\n          - crobat\n          - chinchou\n          - lanturn\n          - pichu\n          - cleffa\n          - igglybuff\n          - togepi\n          - togetic\n          - natu\n          - xatu\n          - mareep\n          - flaaffy\n          - ampharos\n          - bellossom\n          - marill\n          - azumarill\n          - sudowoodo\n          - politoed\n          - hoppip\n          - skiploom\n          - jumpluff\n          - aipom\n          - sunkern\n          - sunflora\n          - yanma\n          - wooper\n          - quagsire\n          - espeon\n          - umbreon\n          - murkrow\n          - slowking\n          - misdreavus\n          - unown\n          - wobbuffet\n          - girafarig\n          - pineco\n          - forretress\n          - dunsparce\n          - gligar\n          - steelix\n          - snubbull\n          - granbull\n          - qwilfish\n          - scizor\n          - shuckle\n          - heracross\n          - sneasel\n          - teddiursa\n          - ursaring\n          - slugma\n          - magcargo\n          - swinub\n          - piloswine\n          - corsola\n          - remoraid\n          - octillery\n          - delibird\n          - mantine\n          - skarmory\n          - houndour\n          - houndoom\n          - kingdra\n          - phanpy\n          - donphan\n          - porygon2\n          - stantler\n          - smeargle\n          - tyrogue\n          - hitmontop\n          - smoochum\n          - elekid\n          - magby\n          - miltank\n          - blissey\n          - raikou\n          - entei\n          - suicune\n          - larvitar\n          - pupitar\n          - tyranitar\n          - lugia\n          - ho-oh\n          - celebi\n          - treecko\n          - grovyle\n          - sceptile\n          - torchic\n          - combusken\n          - blaziken\n          - mudkip\n          - marshtomp\n          - swampert\n          - poochyena\n          - mightyena\n          - zigzagoon\n          - linoone\n          - wurmple\n          - silcoon\n          - beautifly\n          - cascoon\n          - dustox\n          - lotad\n          - lombre\n          - ludicolo\n          - seedot\n          - nuzleaf\n          - shiftry\n          - taillow\n          - swellow\n          - wingull\n          - pelipper\n          - ralts\n          - kirlia\n          - gardevoir\n          - surskit\n          - masquerain\n          - shroomish\n          - breloom\n          - slakoth\n          - vigoroth\n          - slaking\n          - nincada\n          - ninjask\n          - shedinja\n          - whismur\n          - loudred\n          - exploud\n          - makuhita\n          - hariyama\n          - azurill\n          - nosepass\n          - skitty\n          - delcatty\n          - sableye\n          - mawile\n          - aron\n          - lairon\n          - aggron\n          - meditite\n          - medicham\n          - electrike\n          - manectric\n          - plusle\n          - minun\n          - volbeat\n          - illumise\n          - roselia\n          - gulpin\n          - swalot\n          - carvanha\n          - sharpedo\n          - wailmer\n          - wailord\n          - numel\n          - camerupt\n          - torkoal\n          - spoink\n          - grumpig\n          - spinda\n          - trapinch\n          - vibrava\n          - flygon\n          - cacnea\n          - cacturne\n          - swablu\n          - altaria\n          - zangoose\n          - seviper\n          - lunatone\n          - solrock\n          - barboach\n          - whiscash\n          - corphish\n          - crawdaunt\n          - baltoy\n          - claydol\n          - lileep\n          - cradily\n          - anorith\n          - armaldo\n          - feebas\n          - milotic\n          - castform\n          - kecleon\n          - shuppet\n          - banette\n          - duskull\n          - dusclops\n          - tropius\n          - chimecho\n          - absol\n          - wynaut\n          - snorunt\n          - glalie\n          - spheal\n          - sealeo\n          - walrein\n          - clamperl\n          - huntail\n          - gorebyss\n          - relicanth\n          - luvdisc\n          - bagon\n          - shelgon\n          - salamence\n          - beldum\n          - metang\n          - metagross\n          - regirock\n          - regice\n          - registeel\n          - latias\n          - latios\n          - kyogre\n          - groudon\n          - rayquaza\n          - jirachi\n          - deoxys\n          - turtwig\n          - grotle\n          - torterra\n          - chimchar\n          - monferno\n          - infernape\n          - piplup\n          - prinplup\n          - empoleon\n          - starly\n          - staravia\n          - staraptor\n          - bidoof\n          - bibarel\n          - kricketot\n          - kricketune\n          - shinx\n          - luxio\n          - luxray\n          - budew\n          - roserade\n          - cranidos\n          - rampardos\n          - shieldon\n          - bastiodon\n          - burmy\n          - wormadam\n          - mothim\n          - combee\n          - vespiquen\n          - pachirisu\n          - buizel\n          - floatzel\n          - cherubi\n          - cherrim\n          - shellos\n          - gastrodon\n          - ambipom\n          - drifloon\n          - drifblim\n          - buneary\n          - lopunny\n          - mismagius\n          - honchkrow\n          - glameow\n          - purugly\n          - chingling\n          - stunky\n          - skuntank\n          - bronzor\n          - bronzong\n          - bonsly\n          - mimejr\n          - happiny\n          - chatot\n          - spiritomb\n          - gible\n          - gabite\n          - garchomp\n          - munchlax\n          - riolu\n          - lucario\n          - hippopotas\n          - hippowdon\n          - skorupi\n          - drapion\n          - croagunk\n          - toxicroak\n          - carnivine\n          - finneon\n          - lumineon\n          - mantyke\n          - snover\n          - abomasnow\n          - weavile\n          - magnezone\n          - lickilicky\n          - rhyperior\n          - tangrowth\n          - electivire\n          - magmortar\n          - togekiss\n          - yanmega\n          - leafeon\n          - glaceon\n          - gliscor\n          - mamoswine\n          - porygon-z\n          - gallade\n          - probopass\n          - dusknoir\n          - froslass\n          - rotom\n          - uxie\n          - mesprit\n          - azelf\n          - dialga\n          - palkia\n          - heatran\n          - regigigas\n          - giratina\n          - cresselia\n          - phione\n          - manaphy\n          - darkrai\n          - shaymin\n          - arceus\n          - victini\n          - snivy\n          - servine\n          - serperior\n          - tepig\n          - pignite\n          - emboar\n          - oshawott\n          - dewott\n          - samurott\n          - patrat\n          - watchog\n          - lillipup\n          - herdier\n          - stoutland\n          - purrloin\n          - liepard\n          - pansage\n          - simisage\n          - pansear\n          - simisear\n          - panpour\n          - simipour\n          - munna\n          - musharna\n          - pidove\n          - tranquill\n          - unfezant\n          - blitzle\n          - zebstrika\n          - roggenrola\n          - boldore\n          - gigalith\n          - woobat\n          - swoobat\n          - drilbur\n          - excadrill\n          - audino\n          - timburr\n          - gurdurr\n          - conkeldurr\n          - tympole\n          - palpitoad\n          - seismitoad\n          - throh\n          - sawk\n          - sewaddle\n          - swadloon\n          - leavanny\n          - venipede\n          - whirlipede\n          - scolipede\n          - cottonee\n          - whimsicott\n          - petilil\n          - lilligant\n          - basculin\n          - sandile\n          - krokorok\n          - krookodile\n          - darumaka\n          - darmanitan\n          - maractus\n          - dwebble\n          - crustle\n          - scraggy\n          - scrafty\n          - sigilyph\n          - yamask\n          - cofagrigus\n          - tirtouga\n          - carracosta\n          - archen\n          - archeops\n          - trubbish\n          - garbodor\n          - zorua\n          - zoroark\n          - minccino\n          - cinccino\n          - gothita\n          - gothorita\n          - gothitelle\n          - solosis\n          - duosion\n          - reuniclus\n          - ducklett\n          - swanna\n          - vanillite\n          - vanillish\n          - vanilluxe\n          - deerling\n          - sawsbuck\n          - emolga\n          - karrablast\n          - escavalier\n          - foongus\n          - amoonguss\n          - frillish\n          - jellicent\n          - alomomola\n          - joltik\n          - galvantula\n          - ferroseed\n          - ferrothorn\n          - klink\n          - klang\n          - klinklang\n          - tynamo\n          - eelektrik\n          - eelektross\n          - elgyem\n          - beheeyem\n          - litwick\n          - lampent\n          - chandelure\n          - axew\n          - fraxure\n          - haxorus\n          - cubchoo\n          - beartic\n          - cryogonal\n          - shelmet\n          - accelgor\n          - stunfisk\n          - mienfoo\n          - mienshao\n          - druddigon\n          - golett\n          - golurk\n          - pawniard\n          - bisharp\n          - bouffalant\n          - rufflet\n          - braviary\n          - vullaby\n          - mandibuzz\n          - heatmor\n          - durant\n          - deino\n          - zweilous\n          - hydreigon\n          - larvesta\n          - volcarona\n          - cobalion\n          - terrakion\n          - virizion\n          - tornadus\n          - thundurus\n          - reshiram\n          - zekrom\n          - landorus\n          - kyurem\n          - keldeo\n          - meloetta\n          - genesect\n          - chespin\n          - quilladin\n          - chesnaught\n          - fennekin\n          - braixen\n          - delphox\n          - froakie\n          - frogadier\n          - greninja\n          - bunnelby\n          - diggersby\n          - fletchling\n          - fletchinder\n          - talonflame\n          - scatterbug\n          - spewpa\n          - vivillon\n          - litleo\n          - pyroar\n          - flabebe\n          - floette\n          - florges\n          - skiddo\n          - gogoat\n          - pancham\n          - pangoro\n          - furfrou\n          - espurr\n          - meowstic\n          - honedge\n          - doublade\n          - aegislash\n          - spritzee\n          - aromatisse\n          - swirlix\n          - slurpuff\n          - inkay\n          - malamar\n          - binacle\n          - barbaracle\n          - skrelp\n          - dragalge\n          - clauncher\n          - clawitzer\n          - helioptile\n          - heliolisk\n          - tyrunt\n          - tyrantrum\n          - amaura\n          - aurorus\n          - sylveon\n          - hawlucha\n          - dedenne\n          - carbink\n          - goomy\n          - sliggoo\n          - goodra\n          - klefki\n          - phantump\n          - trevenant\n          - pumpkaboo\n          - gourgeist\n          - bergmite\n          - avalugg\n          - noibat\n          - noivern\n          - xerneas\n          - yveltal\n          - zygarde\n          - diancie\n          - hoopa\n          - volcanion\n          - rowlet\n          - dartrix\n          - decidueye\n          - litten\n          - torracat\n          - incineroar\n          - popplio\n          - brionne\n          - primarina\n          - pikipek\n          - trumbeak\n          - toucannon\n          - yungoos\n          - gumshoos\n          - grubbin\n          - charjabug\n          - vikavolt\n          - crabrawler\n          - crabominable\n          - oricorio\n          - cutiefly\n          - ribombee\n          - rockruff\n          - lycanroc\n          - wishiwashi\n          - mareanie\n          - toxapex\n          - mudbray\n          - mudsdale\n          - dewpider\n          - araquanid\n          - fomantis\n          - lurantis\n          - morelull\n          - shiinotic\n          - salandit\n          - salazzle\n          - stufful\n          - bewear\n          - bounsweet\n          - steenee\n          - tsareena\n          - comfey\n          - oranguru\n          - passimian\n          - wimpod\n          - golisopod\n          - sandygast\n          - palossand\n          - pyukumuku\n          - typenull\n          - silvally\n          - minior\n          - komala\n          - turtonator\n          - togedemaru\n          - mimikyu\n          - bruxish\n          - drampa\n          - dhelmise\n          - jangmo-o\n          - hakamo-o\n          - kommo-o\n          - tapukoko\n          - tapulele\n          - tapubulu\n          - tapufini\n          - cosmog\n          - cosmoem\n          - solgaleo\n          - lunala\n          - nihilego\n          - buzzwole\n          - pheromosa\n          - xurkitree\n          - celesteela\n          - kartana\n          - guzzlord\n          - necrozma\n          - magearna\n          - marshadow\n          - poipole\n          - naganadel\n          - stakataka\n          - blacephalon\n          - zeraora\n          - meltan\n          - melmetal\n          - grookey\n          - thwackey\n          - rillaboom\n          - scorbunny\n          - raboot\n          - cinderace\n          - sobble\n          - drizzile\n          - inteleon\n          - skwovet\n          - greedent\n          - rookidee\n          - corvisquire\n          - corviknight\n          - blipbug\n          - dottler\n          - orbeetle\n          - nickit\n          - thievul\n          - gossifleur\n          - eldegoss\n          - wooloo\n          - dubwool\n          - chewtle\n          - drednaw\n          - yamper\n          - boltund\n          - rolycoly\n          - carkol\n          - coalossal\n          - applin\n          - flapple\n          - appletun\n          - silicobra\n          - sandaconda\n          - cramorant\n          - arrokuda\n          - barraskewda\n          - toxel\n          - toxtricity\n          - sizzlipede\n          - centiskorch\n          - clobbopus\n          - grapploct\n          - sinistea\n          - polteageist\n          - hatenna\n          - hattrem\n          - hatterene\n          - impidimp\n          - morgrem\n          - grimmsnarl\n          - obstagoon\n          - perrserker\n          - cursola\n          - sirfetchd\n          - mrrime\n          - runerigus\n          - milcery\n          - alcremie\n          - falinks\n          - pincurchin\n          - snom\n          - frosmoth\n          - stonjourner\n          - eiscue\n          - indeedee\n          - morpeko\n          - cufant\n          - copperajah\n          - dracozolt\n          - arctozolt\n          - dracovish\n          - arctovish\n          - duraludon\n          - dreepy\n          - drakloak\n          - dragapult\n          - zacian\n          - zamazenta\n          - eternatus\n          - kubfu\n          - urshifu\n          - zarude\n          - regieleki\n          - regidrago\n          - glastrier\n          - spectrier\n          - calyrex\n        examples:\n          - ditto\n          - luxray\n          - snorlax\n        order: 0\n    additionalProperties: true\nmetadata:\n  autoImportSchema:\n    pokemon: false\nschemas:\n  pokemon:\n    type: object\n    $schema: http://json-schema.org/draft-07/schema#\n    additionalProperties: true\n    properties:\n      abilities:\n        type:\n          - "null"\n          - array\n        items:\n          type:\n            - "null"\n            - object\n          additionalProperties: true\n          properties:\n            ability:\n              type:\n                - "null"\n                - object\n              additionalProperties: true\n              properties:\n                name:\n                  type:\n                    - "null"\n                    - string\n                url:\n                  type:\n                    - "null"\n                    - string\n            is_hidden:\n              type:\n                - "null"\n                - boolean\n            slot:\n              type:\n                - "null"\n                - integer\n      base_experience:\n        type:\n          - "null"\n          - integer\n      forms:\n        type:\n          - "null"\n          - array\n        items:\n          type:\n            - "null"\n            - object\n          additionalProperties: true\n          properties:\n            name:\n              type:\n                - "null"\n                - string\n            url:\n              type:\n                - "null"\n                - string\n      game_indices:\n        type:\n          - "null"\n          - array\n        items:\n          type:\n            - "null"\n            - object\n          additionalProperties: true\n          properties:\n            version:\n              type:\n                - "null"\n                - object\n              additionalProperties: true\n              properties:\n                name:\n                  type:\n                    - "null"\n                    - string\n                url:\n                  type:\n                    - "null"\n                    - string\n            game_index:\n              type:\n                - "null"\n                - integer\n      height:\n        type:\n          - "null"\n          - integer\n      held_items:\n        type:\n          - "null"\n          - array\n        items:\n          type:\n            - "null"\n            - object\n          additionalProperties: true\n          properties:\n            item:\n              type:\n                - "null"\n                - object\n              additionalProperties: true\n              properties:\n                name:\n                  type:\n                    - "null"\n                    - string\n                url:\n                  type:\n                    - "null"\n                    - string\n            version_details:\n              type:\n                - "null"\n                - array\n              items:\n                type:\n                  - "null"\n                  - object\n                additionalProperties: true\n                properties:\n                  version:\n                    type:\n                      - "null"\n                      - object\n                    additionalProperties: true\n                    properties:\n                      name:\n                        type:\n                          - "null"\n                          - string\n                      url:\n                        type:\n                          - "null"\n                          - string\n                  rarity:\n                    type:\n                      - "null"\n                      - integer\n      id:\n        type:\n          - "null"\n          - integer\n      is_default:\n        type:\n          - "null"\n          - boolean\n      location_area_encounters:\n        type:\n          - "null"\n          - string\n      moves:\n        type:\n          - "null"\n          - array\n        items:\n          type:\n            - "null"\n            - object\n          additionalProperties: true\n          properties:\n            move:\n              type:\n                - "null"\n                - object\n              additionalProperties: true\n              properties:\n                name:\n                  type:\n                    - "null"\n                    - string\n                url:\n                  type:\n                    - "null"\n                    - string\n            version_group_details:\n              type:\n                - "null"\n                - array\n              items:\n                type:\n                  - "null"\n                  - object\n                additionalProperties: true\n                properties:\n                  level_learned_at:\n                    type:\n                      - "null"\n                      - integer\n                  move_learn_method:\n                    type:\n                      - "null"\n                      - object\n                    additionalProperties: true\n                    properties:\n                      name:\n                        type:\n                          - "null"\n                          - string\n                      url:\n                        type:\n                          - "null"\n                          - string\n                  version_group:\n                    type:\n                      - "null"\n                      - object\n                    additionalProperties: true\n                    properties:\n                      name:\n                        type:\n                          - "null"\n                          - string\n                      url:\n                        type:\n                          - "null"\n                          - string\n      name:\n        type:\n          - "null"\n          - string\n      order:\n        type:\n          - "null"\n          - integer\n      past_types:\n        type:\n          - "null"\n          - array\n        items:\n          type:\n            - "null"\n            - object\n          additionalProperties: true\n          properties:\n            generation:\n              type:\n                - "null"\n                - object\n              additionalProperties: true\n              properties:\n                name:\n                  type:\n                    - "null"\n                    - string\n                url:\n                  type:\n                    - "null"\n                    - string\n            types:\n              type:\n                - "null"\n                - array\n              items:\n                type:\n                  - "null"\n                  - object\n                additionalProperties: true\n                properties:\n                  type:\n                    type:\n                      - "null"\n                      - object\n                    additionalProperties: true\n                    properties:\n                      name:\n                        type:\n                          - "null"\n                          - string\n                      url:\n                        type:\n                          - "null"\n                          - string\n                  slot:\n                    type:\n                      - "null"\n                      - integer\n      species:\n        type:\n          - "null"\n          - object\n        additionalProperties: true\n        properties:\n          name:\n            type:\n              - "null"\n              - string\n          url:\n            type:\n              - "null"\n              - string\n      sprites:\n        type:\n          - "null"\n          - object\n        additionalProperties: true\n        properties:\n          back_default:\n            type:\n              - "null"\n              - string\n          back_female:\n            type:\n              - "null"\n              - string\n          back_shiny:\n            type:\n              - "null"\n              - string\n          back_shiny_female:\n            type:\n              - "null"\n              - string\n          front_default:\n            type:\n              - "null"\n              - string\n          front_female:\n            type:\n              - "null"\n              - string\n          front_shiny:\n            type:\n              - "null"\n              - string\n          front_shiny_female:\n            type:\n              - "null"\n              - string\n      stats:\n        type:\n          - "null"\n          - array\n        items:\n          type:\n            - "null"\n            - object\n          additionalProperties: true\n          properties:\n            base_stat:\n              type:\n                - "null"\n                - integer\n            effort:\n              type:\n                - "null"\n                - integer\n            stat:\n              type:\n                - "null"\n                - object\n              additionalProperties: true\n              properties:\n                name:\n                  type:\n                    - "null"\n                    - string\n                url:\n                  type:\n                    - "null"\n                    - string\n      types:\n        type:\n          - "null"\n          - array\n        items:\n          type:\n            - "null"\n            - object\n          additionalProperties: true\n          properties:\n            type:\n              type:\n                - "null"\n                - object\n              properties:\n                name:\n                  type:\n                    - "null"\n                    - string\n                url:\n                  type:\n                    - "null"\n                    - string\n            slot:\n              type:\n                - "null"\n                - integer\n      weight:\n        type:\n          - "null"\n          - integer\n