version: 4.6.2

type: DeclarativeSource

description: I changed it and hope that things get updated now

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    calls:
      type: DeclarativeStream
      name: calls
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls
          http_method: GET
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    scorecards:
      type: DeclarativeStream
      name: scorecards
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /settings/scorecards
          http_method: GET
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - scorecards
      primary_key:
        - scorecardId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scorecards"
    extensiveCalls:
      type: DeclarativeStream
      name: extensiveCalls
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_json
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: calls/extensive
          http_method: POST
          request_body_json:
            filter:
              fromDateTime: "{{ config['start_date'] }}"
            contentSelector:
              exposedFields:
                media: true
                content:
                  brief: true
                  topics: true
                  outline: true
                  trackers: true
                  keyPoints: true
                  structure: true
                  highlights: true
                  callOutcome: true
                  pointsOfInterest: true
                  trackerOccurrences: true
                parties: true
                interaction:
                  video: true
                  speakers: true
                  questions: true
                  personInteractionStats: true
                collaboration:
                  publicComments: true
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/extensiveCalls"
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ record['metaData']['id'] }}"
    answeredScorecards:
      type: DeclarativeStream
      name: answeredScorecards
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_json
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /stats/activity/scorecards
          http_method: POST
          request_body_json:
            filter: '{"callFromDate": "{{ config["start_date"] }}"}'
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - answeredScorecards
      primary_key:
        - answeredScorecardId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/answeredScorecards"
  base_requester:
    type: HttpRequester
    url_base: https://api.gong.io/v2/
    authenticator:
      type: BasicHttpAuthenticator
      password: '{{ config["access_key_secret"] }}'
      username: '{{ config["access_key"] }}'

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/extensiveCalls"
  - $ref: "#/definitions/streams/scorecards"
  - $ref: "#/definitions/streams/answeredScorecards"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_key
      - access_key_secret
    properties:
      access_key:
        type: string
        description: Gong Access Key
        order: 0
        title: Gong Access Key
        airbyte_secret: true
      start_date:
        type: string
        description: >-
          The date from which to list calls, in the ISO-8601 format; if not
          specified, the calls start with the earliest recorded call. For
          web-conference calls recorded by Gong, the date denotes its scheduled
          time, otherwise, it denotes its actual start time.
        order: 2
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2018-02-18T08:00:00Z"
      access_key_secret:
        type: string
        description: Gong Access Key Secret
        order: 1
        title: Gong Access Key Secret
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    calls:
      hasRecords: true
      streamHash: 4152ed041830ae0728cd87629fcc46f5ab42a394
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: c6b2bab08397024790447b2ea909e5e2056b3778
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    scorecards:
      hasRecords: true
      streamHash: b4a5aa11ee2cb96554fa359ffec46d50641b0434
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    extensiveCalls:
      hasRecords: true
      streamHash: 43d9558c061009f375a1b7325fca53a263ff5646
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    answeredScorecards:
      hasRecords: true
      streamHash: 42e030943265c512ecbca24e953416c157210edf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    calls: false
    users: false
    scorecards: false
    extensiveCalls: false
    answeredScorecards: false

schemas:
  calls:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the call.
      url:
        type:
          - "null"
          - string
        description: URL associated with the call.
      media:
        type:
          - "null"
          - string
        description: Media type used for communication (voice, video, etc.).
      scope:
        type:
          - "null"
          - string
        description: Scope or extent of the call.
      title:
        type:
          - "null"
          - string
        description: Title or headline of the call.
      system:
        type:
          - "null"
          - string
        description: System information related to the call.
      purpose:
        type:
          - "null"
          - string
        description: Purpose or topic of the call.
      started:
        type:
          - "null"
          - string
        description: Start date and time of the call.
        format: date-time
      duration:
        type:
          - "null"
          - integer
        description: Duration of the call in seconds.
      language:
        type:
          - "null"
          - string
        description: Language used in the call.
      direction:
        type:
          - "null"
          - string
        description: Direction of the call (inbound/outbound).
      isPrivate:
        type:
          - "null"
          - boolean
        description: Indicates if the call is private or not.
      scheduled:
        type:
          - "null"
          - string
        description: Scheduled date and time of the call.
        format: date-time
      customData:
        type:
          - "null"
          - string
        description: Custom data associated with the call.
      meetingUrl:
        type:
          - "null"
          - string
        description: URL for accessing the meeting associated with the call.
      workspaceId:
        type:
          - "null"
          - string
        description: Identifier for the workspace to which the call belongs.
      primaryUserId:
        type:
          - "null"
          - string
        description: Unique identifier for the primary user involved in the call.
      clientUniqueId:
        type:
          - "null"
          - string
        description: Unique identifier for the client related to the call.
      sdrDisposition:
        type:
          - "null"
          - string
        description: Disposition set by the sales development representative.
      calendarEventId:
        type:
          - "null"
          - string
        description: Unique identifier for the calendar event associated with the call.
    additionalProperties: true
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the user
      title:
        type:
          - "null"
          - string
        description: The job title or position of the user
      active:
        type:
          - "null"
          - boolean
        description: Indicates if the user is currently active or not
      created:
        type:
          - "null"
          - string
        description: The timestamp denoting when the user account was created
        format: date-time
      lastName:
        type:
          - "null"
          - string
        description: The last name of the user
      settings:
        type:
          - "null"
          - object
        description: User-specific settings and configurations
      extension:
        type:
          - "null"
          - string
        description: The phone extension number for the user
      firstName:
        type:
          - "null"
          - string
        description: The first name of the user
      managerId:
        type:
          - "null"
          - string
        description: The ID of the user's manager
      phoneNumber:
        type:
          - "null"
          - string
        description: The phone number associated with the user
      emailAddress:
        type:
          - "null"
          - string
        description: The primary email address associated with the user
      emailAliases:
        type:
          - "null"
          - array
        description: Additional email addresses that can be used to reach the user
      spokenLanguages:
        type:
          - "null"
          - array
        description: Languages spoken by the user
      personalMeetingUrls:
        type:
          - "null"
          - array
        description: URLs for personal meeting rooms assigned to the user
      trustedEmailAddress:
        type:
          - "null"
          - string
        description: An email address that is considered trusted for the user
      meetingConsentPageUrl:
        type:
          - "null"
          - string
        description: URL for the consent page related to meetings
    additionalProperties: true
  scorecards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      created:
        type:
          - "null"
          - string
        description: The timestamp when the scorecard was created
        format: date-time
      enabled:
        type:
          - "null"
          - boolean
        description: Indicates if the scorecard is enabled or disabled
      updated:
        type:
          - "null"
          - string
        description: The timestamp when the scorecard was last updated
        format: date-time
      questions:
        type:
          - "null"
          - array
        description: An array of questions related to the scorecard
        items:
          type:
            - "null"
            - object
          properties:
            created:
              type:
                - "null"
                - string
              description: The timestamp when the question was created
              format: date-time
            updated:
              type:
                - "null"
                - string
              description: The timestamp when the question was last updated
              format: date-time
            isOverall:
              type:
                - "null"
                - boolean
              description: Indicates if the question is an overall score or not
            questionId:
              type:
                - "null"
                - string
              description: The unique identifier of the question
            questionText:
              type:
                - "null"
                - string
              description: The text of the question
            updaterUserId:
              type:
                - "null"
                - string
              description: The user ID of the person who last updated the question
            questionRevisionId:
              type:
                - "null"
                - string
              description: The revision identifier of the question
      scorecardId:
        type:
          - "null"
          - string
        description: The unique identifier of the scorecard
      workspaceId:
        type:
          - "null"
          - string
        description: The unique identifier of the workspace associated with the scorecard
      scorecardName:
        type:
          - "null"
          - string
        description: The name of the scorecard
      updaterUserId:
        type:
          - "null"
          - string
        description: The user ID of the person who last updated the scorecard
    additionalProperties: true
  extensiveCalls:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the call (from metaData.id).
      media:
        description: The media urls of the call.
        properties:
          audioUrl:
            type:
              - "null"
              - string
            description: >-
              If true and exist, add audio url of the call. The url will be
              available for 8 hours.
          videoUrl:
            type:
              - "null"
              - string
            description: >-
              If true and exist, add video url of the call. The url will be
              available for 8 hours.
      content:
        type:
          - object
          - "null"
        description: Analysis of the interaction content.
        properties:
          brief:
            type:
              - string
              - "null"
          topics:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                duration:
                  type:
                    - number
                    - "null"
          outline:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      text:
                        type:
                          - string
                          - "null"
                      startTime:
                        type:
                          - number
                          - "null"
                section:
                  type:
                    - string
                    - "null"
                duration:
                  type:
                    - number
                    - "null"
                startTime:
                  type:
                    - number
                    - "null"
          trackers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                count:
                  type:
                    - number
                    - "null"
                phrases:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      count:
                        type:
                          - number
                          - "null"
                      phrase:
                        type:
                          - string
                          - "null"
                      occurrences:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            speakerId:
                              type:
                                - string
                                - "null"
                            startTime:
                              type:
                                - number
                                - "null"
                occurrences:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      speakerId:
                        type:
                          - string
                          - "null"
                      startTime:
                        type:
                          - number
                          - "null"
          keyPoints:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                text:
                  type:
                    - string
                    - "null"
          highlights:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      text:
                        type:
                          - string
                          - "null"
                      startTimes:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - number
                            - "null"
                title:
                  type:
                    - string
                    - "null"
          pointsOfInterest:
            type:
              - object
              - "null"
            properties:
              actionItems:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    snippet:
                      type:
                        - string
                        - "null"
                    speakerID:
                      type:
                        - string
                        - "null"
                    snippetEndTime:
                      type:
                        - number
                        - "null"
                    snippetStartTime:
                      type:
                        - number
                        - "null"
      context:
        description: A list of the agenda of each part of the call.
        properties:
          system:
            type:
              - "null"
              - string
            description: >-
              External system name. Allowed: Salesforce, HubSpot,
              MicrosoftDynamic, Generic.
          objects:
            type: array
            description: List of objects within the external system.
            items:
              type: object
              properties:
                fields:
                  type: array
                  description: array<External object data>.
                  items:
                    type: object
                    properties:
                      name:
                        type:
                          - "null"
                          - string
                        description: >-
                          Field name. For Account supported fields are: Name,
                          Website, Industry and all the custom fields. For
                          Opportunity supported fields are Name, LeadSource,
                          Type, StageName, Probability, Amount, CloseDate and
                          all the custom fields.
                      value:
                        type:
                          - "null"
                          - object
                        description: Field value.
                timing:
                  type:
                    - "null"
                    - string
                  description: "Timing of object. Allowed: Now, TimeOfCall."
                objectId:
                  type:
                    - "null"
                    - string
                  description: Object ID.
                objectType:
                  type:
                    - "null"
                    - string
                  description: "Object Type. Allowed: Opportunity, Account"
      parties:
        type:
          - array
          - "null"
        description: A list of the call's participants
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
              description: Unique ID of the participant in the call.
            name:
              type:
                - string
                - "null"
              description: The name of the participant.
            title:
              type:
                - string
                - "null"
              description: The job title of the participant.
            userId:
              type:
                - string
                - "null"
              description: >-
                The user ID of the participant within the Gong system, if the
                participant exists in the system.
            context:
              type:
                - object
                - "null"
              description: >-
                A list of links to external systems such as CRM, Dialer, Case
                Management, etc.
            methods:
              type:
                - array
                - "null"
              description: >-
                Whether the participant was invited to the meeting or only
                attended the call. Allowed: Invitee, Attendee.
              items:
                type:
                  - string
                  - "null"
            speakerId:
              type:
                - string
                - "null"
              description: >-
                Unique ID of a participant that spoke in the call. References to
                this id will appear in the '/v2/calls/transcript' endpoint
                response.
            affiliation:
              type:
                - string
                - "null"
              description: >-
                Whether the participant is from the company or not. Allowed:
                Internal, External, Unknown
            phoneNumber:
              type:
                - string
                - "null"
              description: The phone number of the participant.
            emailAddress:
              type:
                - string
                - "null"
              description: Email address.
      metaData:
        type:
          - object
          - "null"
        description: call's metadata.
        properties:
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the call.
          url:
            type:
              - "null"
              - string
            description: URL associated with the call.
          media:
            type:
              - "null"
              - string
            description: Media type used for communication (voice, video, etc.).
          scope:
            type:
              - "null"
              - string
            description: Scope or extent of the call.
          title:
            type:
              - "null"
              - string
            description: Title or headline of the call.
          system:
            type:
              - "null"
              - string
            description: System information related to the call.
          purpose:
            type:
              - "null"
              - string
            description: Purpose or topic of the call.
          started:
            type:
              - "null"
              - string
            description: Start date and time of the call.
            format: date-time
          duration:
            type:
              - "null"
              - integer
            description: Duration of the call in seconds.
          language:
            type:
              - "null"
              - string
            description: Language used in the call.
          direction:
            type:
              - "null"
              - string
            description: Direction of the call (inbound/outbound).
          isPrivate:
            type:
              - "null"
              - boolean
            description: Indicates if the call is private or not.
          scheduled:
            type:
              - "null"
              - string
            description: Scheduled date and time of the call.
            format: date-time
          customData:
            type:
              - "null"
              - string
            description: Custom data associated with the call.
          meetingUrl:
            type:
              - "null"
              - string
            description: URL for accessing the meeting associated with the call.
          workspaceId:
            type:
              - "null"
              - string
            description: Identifier for the workspace to which the call belongs.
          primaryUserId:
            type:
              - "null"
              - string
            description: Unique identifier for the primary user involved in the call.
          clientUniqueId:
            type:
              - "null"
              - string
            description: Unique identifier for the client related to the call.
          sdrDisposition:
            type:
              - "null"
              - string
            description: Disposition set by the sales development representative.
          calendarEventId:
            type:
              - "null"
              - string
            description: Unique identifier for the calendar event associated with the call.
      interaction:
        type:
          - object
          - "null"
        description: Metrics collected around the interaction during the call.
        properties:
          video:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                duration:
                  type:
                    - number
                    - "null"
          speakers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                userId:
                  type:
                    - string
                    - "null"
                talkTime:
                  type:
                    - number
                    - "null"
          questions:
            type:
              - object
              - "null"
            properties:
              companyCount:
                type:
                  - number
                  - "null"
              nonCompanyCount:
                type:
                  - number
                  - "null"
          interactionStats:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
      collaboration:
        type:
          - object
          - "null"
        description: Collaboration information added to the call
        properties:
          brief:
            type:
              - string
              - "null"
    additionalProperties: true
  answeredScorecards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      callId:
        type:
          - "null"
          - string
        description: Unique identifier for the call associated with the answered scorecard.
      answers:
        type:
          - "null"
          - array
        description: Contains the answered questions in the scorecards
        items:
          type:
            - "null"
            - object
          properties:
            score:
              type:
                - "null"
                - integer
              description: Numeric score assigned to the answer.
            isOverall:
              type:
                - "null"
                - boolean
              description: >-
                Boolean flag indicating if the answer is for an overall
                evaluation.
            answerText:
              type:
                - "null"
                - string
              description: Text containing the answer given.
            questionId:
              type:
                - "null"
                - string
              description: Unique identifier for the question answered.
            notApplicable:
              type:
                - "null"
                - boolean
              description: >-
                Boolean flag indicating if the question is marked as not
                applicable.
            questionRevisionId:
              type:
                - "null"
                - string
              description: Unique identifier for the revision of the question answered.
      reviewTime:
        type:
          - "null"
          - string
        description: >-
          Timestamp indicating when the review of the answered scorecard was
          completed.
        format: date-time
      scorecardId:
        type:
          - "null"
          - string
        description: Unique identifier for the scorecard template used.
      callStartTime:
        type:
          - "null"
          - string
        description: Timestamp indicating the start time of the call.
        format: date-time
      scorecardName:
        type:
          - "null"
          - string
        description: Name or title of the scorecard template used.
      reviewedUserId:
        type:
          - "null"
          - string
        description: Unique identifier for the user whose performance was reviewed.
      reviewerUserId:
        type:
          - "null"
          - string
        description: Unique identifier for the user who performed the review.
      visibilityType:
        type:
          - "null"
          - string
        description: Type indicating the visibility permissions for the answered scorecard.
      answeredScorecardId:
        type:
          - "null"
          - string
        description: Unique identifier for the answered scorecard instance.
    additionalProperties: true
