version: 4.6.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    calls:
      type: DeclarativeStream
      name: calls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    error_message_contains: found corresponding to the provided filters
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: started
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.start_date or (now_utc() -
            duration('P90DT23H')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: fromDateTime
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
    extensiveCalls:
      type: DeclarativeStream
      name: extensiveCalls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: calls/extensive
          http_method: POST
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
          request_body_json:
            filter:
              fromDateTime: "{{ config['start_date'] }}"
            contentSelector:
              context: "Extended"
              contextTiming:
                - "Now"
                - "TimeOfCall"
              exposedFields:
                media: true
                content:
                  brief: true
                  topics: true
                  outline: true
                  trackers: true
                  keyPoints: true
                  structure: true
                  highlights: true
                  callOutcome: true
                  pointsOfInterest: true
                  trackerOccurrences: true
                parties: true
                interaction:
                  video: true
                  speakers: true
                  questions: true
                  personInteractionStats: true
                collaboration:
                  publicComments: true
                metaData:
                  id: true
                  calendarEventId: true
                  clientUniqueId: true
                  customData: true
                  direction: true
                  duration: true
                  isPrivate: true
                  started: true
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: startdatetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.start_date or (now_utc() -
            duration('P90DT23H')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: fromDateTime
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ record['metaData']['id'] }}"
            - path:
                - startdatetime
              value: "{{ record['metaData']['started'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/extensiveCalls"
    scorecards:
      type: DeclarativeStream
      name: scorecards
      primary_key:
        - scorecardId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /settings/scorecards
          http_method: GET
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - scorecards
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scorecards"
    answeredScorecards:
      type: DeclarativeStream
      name: answeredScorecards
      primary_key:
        - answeredScorecardId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stats/activity/scorecards
          http_method: POST
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - answeredScorecards
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: reviewTime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.start_date or (now_utc() -
            duration('P90DT23H')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: body_json
          field_path:
            - filter
            - reviewFromDate
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/answeredScorecards"
  base_requester:
    type: HttpRequester
    url_base: https://api.gong.io/v2/
    authenticator:
      type: SelectiveAuthenticator
      authenticator_selection_path:
        - credentials
        - auth_type
      authenticators:
        OAuth2.0:
          type: OAuthAuthenticator
          client_id: "{{ config['credentials']['client_id'] }}"
          client_secret: "{{ config['credentials']['client_secret'] }}"
          refresh_token: "{{ config['credentials']['refresh_token'] }}"
          token_refresh_endpoint: https://app.gong.io/oauth2/generate-customer-token
          grant_type: refresh_token
          refresh_request_headers:
            Authorization: "Basic {{ (config['credentials']['client_id'] + ':' + config['credentials']['client_secret']) | base64encode }}"
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - credentials
              - access_token
            refresh_token_config_path:
              - credentials
              - refresh_token
            token_expiry_date_config_path:
              - credentials
              - token_expiry_date
        APIKey:
          type: BasicHttpAuthenticator
          username: "{{ config['credentials']['access_key'] }}"
          password: "{{ config['credentials']['access_key_secret'] }}"

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/extensiveCalls"
  - $ref: "#/definitions/streams/scorecards"
  - $ref: "#/definitions/streams/answeredScorecards"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
    properties:
      credentials:
        type: object
        title: Authentication
        description: Choose how to authenticate to Gong.
        order: 0
        oneOf:
          - type: object
            title: Authenticate via Gong (OAuth)
            required:
              - auth_type
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: OAuth2.0
                order: 0
              client_id:
                type: string
                title: Client ID
                description: The Client ID of your Gong OAuth application.
                order: 1
              client_secret:
                type: string
                title: Client Secret
                description: The Client Secret of your Gong OAuth application.
                airbyte_secret: true
                order: 2
              refresh_token:
                type: string
                title: Refresh Token
                description: Refresh Token to renew the expired Access Token.
                airbyte_secret: true
                order: 3
              access_token:
                type: string
                title: Access Token
                description: Access Token for making authenticated requests.
                airbyte_secret: true
                order: 4
              token_expiry_date:
                type: string
                title: Token Expiry Date
                description: The date-time when the access token expires.
                format: date-time
                order: 5
            additionalProperties: true
          - type: object
            title: Authenticate with API Key
            required:
              - auth_type
              - access_key
              - access_key_secret
            properties:
              auth_type:
                type: string
                const: APIKey
                order: 0
              access_key:
                type: string
                title: Gong Access Key
                description: Gong Access Key
                airbyte_secret: true
                order: 1
              access_key_secret:
                type: string
                title: Gong Access Key Secret
                description: Gong Access Key Secret
                airbyte_secret: true
                order: 2
            additionalProperties: true
      start_date:
        type: string
        description: >-
          The date from which to list calls, in the ISO-8601 format; if not
          specified, the calls start with the earliest recorded call. For
          web-conference calls recorded by Gong, the date denotes its scheduled
          time, otherwise, it denotes its actual start time.
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2018-02-18T08:00:00Z"
        order: 1
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: OAuth2.0
    oauth_config_specification:
      oauth_connector_input_specification:
        consent_url: https://app.gong.io/oauth2/authorize?client_id={{client_id_value}}&redirect_uri={{redirect_uri_value}}&response_type=code&state={{state_value}}&scope={{scope_value | urlEncode}}
        access_token_url: https://app.gong.io/oauth2/generate-customer-token
        access_token_headers:
          Authorization: "Basic {{ (client_id_value ~ ':' ~ client_secret_value) | b64encode }}"
          Content-Type: "application/x-www-form-urlencoded"
        access_token_params:
          grant_type: authorization_code
          redirect_uri: "{{ redirect_uri_value }}"
          code: "{{ auth_code_value }}"
        scope: api:calls:read:basic api:calls:read:extensive api:users:read api:stats:scorecards api:stats:interaction
        extract_output:
          - access_token
          - refresh_token
          - expires_in
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
          token_expiry_date:
            type: string
            path_in_connector_config:
              - credentials
              - token_expiry_date
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
  config_normalization_rules:
    type: ConfigNormalizationRules
    config_migrations:
      - type: ConfigMigration
        description: |
          Remaps the existing config authentication format to a new format
          OLD: {"access_key": ..., "access_key_secret": ...}
          NEW: {"credentials": {"access_key": ..., "access_key_secret": ..., "auth_type": "APIKey"}}
        transformations:
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["credentials", "access_key"]
                value: "{{ config['access_key'] }}"
            condition: "{{ config.get('access_key', False) and not config.get('credentials', {}).get('access_key', False) }}"
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["credentials", "access_key_secret"]
                value: "{{ config['access_key_secret'] }}"
            condition: "{{ config.get('access_key_secret', False) and not config.get('credentials', {}).get('access_key_secret', False) }}"
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["credentials", "auth_type"]
                value: "APIKey"
            condition: "{{ config.get('access_key', False) and not config.get('credentials', {}).get('auth_type', False) }}"

metadata:
  autoImportSchema:
    users: false
    calls: false
    extensiveCalls: false
    scorecards: false
    answeredScorecards: false
  yamlComponents:
    streams:
      users:
        - errorHandler
      calls:
        - errorHandler
        - incrementalSync
      extensiveCalls:
        - errorHandler
        - incrementalSync
      scorecards:
        - errorHandler
      answeredScorecards:
        - errorHandler
  testedStreams:
    users:
      streamHash: c6b2bab08397024790447b2ea909e5e2056b3778
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    calls:
      streamHash: 6f531846afce0222f244df5390aa7b3e1a534d1d
      hasResponse: true
      responsesAreSuccessful: false
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    extensiveCalls:
      streamHash: 99ac4098c8bba3989f73dff4c7b4b85963c90acd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    scorecards:
      streamHash: b4a5aa11ee2cb96554fa359ffec46d50641b0434
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    answeredScorecards:
      streamHash: 42e030943265c512ecbca24e953416c157210edf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Indicates if the user is currently active or not
      created:
        type:
          - "null"
          - string
        description: The timestamp denoting when the user account was created
        format: date-time
      emailAddress:
        type:
          - "null"
          - string
        description: The primary email address associated with the user
      emailAliases:
        type:
          - "null"
          - array
        description: Additional email addresses that can be used to reach the user
      extension:
        type:
          - "null"
          - string
        description: The phone extension number for the user
      firstName:
        type:
          - "null"
          - string
        description: The first name of the user
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the user
      lastName:
        type:
          - "null"
          - string
        description: The last name of the user
      managerId:
        type:
          - "null"
          - string
        description: The ID of the user's manager
      meetingConsentPageUrl:
        type:
          - "null"
          - string
        description: URL for the consent page related to meetings
      personalMeetingUrls:
        type:
          - "null"
          - array
        description: URLs for personal meeting rooms assigned to the user
      phoneNumber:
        type:
          - "null"
          - string
        description: The phone number associated with the user
      settings:
        type:
          - "null"
          - object
        description: User-specific settings and configurations
      spokenLanguages:
        type:
          - "null"
          - array
        description: Languages spoken by the user
      title:
        type:
          - "null"
          - string
        description: The job title or position of the user
      trustedEmailAddress:
        type:
          - "null"
          - string
        description: An email address that is considered trusted for the user
  calls:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      calendarEventId:
        type:
          - "null"
          - string
        description: Unique identifier for the calendar event associated with the call.
      clientUniqueId:
        type:
          - "null"
          - string
        description: Unique identifier for the client related to the call.
      customData:
        type:
          - "null"
          - string
        description: Custom data associated with the call.
      direction:
        type:
          - "null"
          - string
        description: Direction of the call (inbound/outbound).
      duration:
        type:
          - "null"
          - integer
        description: Duration of the call in seconds.
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the call.
      isPrivate:
        type:
          - "null"
          - boolean
        description: Indicates if the call is private or not.
      language:
        type:
          - "null"
          - string
        description: Language used in the call.
      media:
        type:
          - "null"
          - string
        description: Media type used for communication (voice, video, etc.).
      meetingUrl:
        type:
          - "null"
          - string
        description: URL for accessing the meeting associated with the call.
      primaryUserId:
        type:
          - "null"
          - string
        description: Unique identifier for the primary user involved in the call.
      purpose:
        type:
          - "null"
          - string
        description: Purpose or topic of the call.
      scheduled:
        type:
          - "null"
          - string
        description: Scheduled date and time of the call.
        format: date-time
      scope:
        type:
          - "null"
          - string
        description: Scope or extent of the call.
      sdrDisposition:
        type:
          - "null"
          - string
        description: Disposition set by the sales development representative.
      started:
        type:
          - "null"
          - string
        description: Start date and time of the call.
        format: date-time
      system:
        type:
          - "null"
          - string
        description: System information related to the call.
      title:
        type:
          - "null"
          - string
        description: Title or headline of the call.
      url:
        type:
          - "null"
          - string
        description: URL associated with the call.
      workspaceId:
        type:
          - "null"
          - string
        description: Identifier for the workspace to which the call belongs.
  extensiveCalls:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      startdatetime:
        type:
          - "null"
          - string
        description: Datetime for extensive calls.
        format: date-time
      collaboration:
        type:
          - object
          - "null"
        description: Collaboration information added to the call
        properties:
          brief:
            type:
              - string
              - "null"
      content:
        type:
          - object
          - "null"
        description: Analysis of the interaction content.
        properties:
          brief:
            type:
              - string
              - "null"
          highlights:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      startTimes:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - number
                            - "null"
                      text:
                        type:
                          - string
                          - "null"
                title:
                  type:
                    - string
                    - "null"
          keyPoints:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                text:
                  type:
                    - string
                    - "null"
          outline:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      startTime:
                        type:
                          - number
                          - "null"
                      text:
                        type:
                          - string
                          - "null"
                section:
                  type:
                    - string
                    - "null"
                startTime:
                  type:
                    - number
                    - "null"
          pointsOfInterest:
            type:
              - object
              - "null"
            properties:
              actionItems:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    snippet:
                      type:
                        - string
                        - "null"
                    snippetEndTime:
                      type:
                        - number
                        - "null"
                    snippetStartTime:
                      type:
                        - number
                        - "null"
                    speakerID:
                      type:
                        - string
                        - "null"
          topics:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          trackers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                count:
                  type:
                    - number
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                occurrences:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      speakerId:
                        type:
                          - string
                          - "null"
                      startTime:
                        type:
                          - number
                          - "null"
                phrases:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      count:
                        type:
                          - number
                          - "null"
                      occurrences:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            speakerId:
                              type:
                                - string
                                - "null"
                            startTime:
                              type:
                                - number
                                - "null"
                      phrase:
                        type:
                          - string
                          - "null"
      context:
        description: A list of the agenda of each part of the call.
        properties:
          objects:
            type: array
            description: List of objects within the external system.
            items:
              type: object
              properties:
                fields:
                  type: array
                  description: array<External object data>.
                  items:
                    type: object
                    properties:
                      name:
                        type:
                          - "null"
                          - string
                        description: >-
                          Field name. For Account supported fields are: Name,
                          Website, Industry and all the custom fields. For
                          Opportunity supported fields are Name, LeadSource,
                          Type, StageName, Probability, Amount, CloseDate and
                          all the custom fields.
                      value:
                        type:
                          - "null"
                          - object
                        description: Field value.
                objectId:
                  type:
                    - "null"
                    - string
                  description: Object ID.
                objectType:
                  type:
                    - "null"
                    - string
                  description: "Object Type. Allowed: Opportunity, Account"
                timing:
                  type:
                    - "null"
                    - string
                  description: "Timing of object. Allowed: Now, TimeOfCall."
          system:
            type:
              - "null"
              - string
            description: >-
              External system name. Allowed: Salesforce, HubSpot,
              MicrosoftDynamic, Generic.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the call (from metaData.id).
      interaction:
        type:
          - object
          - "null"
        description: Metrics collected around the interaction during the call.
        properties:
          interactionStats:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
          questions:
            type:
              - object
              - "null"
            properties:
              companyCount:
                type:
                  - number
                  - "null"
              nonCompanyCount:
                type:
                  - number
                  - "null"
          speakers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                talkTime:
                  type:
                    - number
                    - "null"
                userId:
                  type:
                    - string
                    - "null"
          video:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      media:
        description: The media urls of the call.
        properties:
          audioUrl:
            type:
              - "null"
              - string
            description: >-
              If true and exist, add audio url of the call. The url will be
              available for 8 hours.
          videoUrl:
            type:
              - "null"
              - string
            description: >-
              If true and exist, add video url of the call. The url will be
              available for 8 hours.
      metaData:
        type:
          - object
          - "null"
        description: call's metadata.
        properties:
          calendarEventId:
            type:
              - "null"
              - string
            description: Unique identifier for the calendar event associated with the call.
          clientUniqueId:
            type:
              - "null"
              - string
            description: Unique identifier for the client related to the call.
          customData:
            type:
              - "null"
              - string
            description: Custom data associated with the call.
          direction:
            type:
              - "null"
              - string
            description: Direction of the call (inbound/outbound).
          duration:
            type:
              - "null"
              - integer
            description: Duration of the call in seconds.
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the call.
          isPrivate:
            type:
              - "null"
              - boolean
            description: Indicates if the call is private or not.
          language:
            type:
              - "null"
              - string
            description: Language used in the call.
          media:
            type:
              - "null"
              - string
            description: Media type used for communication (voice, video, etc.).
          meetingUrl:
            type:
              - "null"
              - string
            description: URL for accessing the meeting associated with the call.
          primaryUserId:
            type:
              - "null"
              - string
            description: Unique identifier for the primary user involved in the call.
          purpose:
            type:
              - "null"
              - string
            description: Purpose or topic of the call.
          scheduled:
            type:
              - "null"
              - string
            description: Scheduled date and time of the call.
            format: date-time
          scope:
            type:
              - "null"
              - string
            description: Scope or extent of the call.
          sdrDisposition:
            type:
              - "null"
              - string
            description: Disposition set by the sales development representative.
          started:
            type:
              - "null"
              - string
            description: Start date and time of the call.
            format: date-time
          system:
            type:
              - "null"
              - string
            description: System information related to the call.
          title:
            type:
              - "null"
              - string
            description: Title or headline of the call.
          url:
            type:
              - "null"
              - string
            description: URL associated with the call.
          workspaceId:
            type:
              - "null"
              - string
            description: Identifier for the workspace to which the call belongs.
      parties:
        type:
          - array
          - "null"
        description: A list of the call's participants
        items:
          type:
            - object
            - "null"
          properties:
            affiliation:
              type:
                - string
                - "null"
              description: >-
                Whether the participant is from the company or not. Allowed:
                Internal, External, Unknown
            context:
              type:
                - object
                - "null"
              description: >-
                A list of links to external systems such as CRM, Dialer, Case
                Management, etc.
            emailAddress:
              type:
                - string
                - "null"
              description: Email address.
            id:
              type:
                - string
                - "null"
              description: Unique ID of the participant in the call.
            methods:
              type:
                - array
                - "null"
              description: >-
                Whether the participant was invited to the meeting or only
                attended the call. Allowed: Invitee, Attendee.
              items:
                type:
                  - string
                  - "null"
            name:
              type:
                - string
                - "null"
              description: The name of the participant.
            phoneNumber:
              type:
                - string
                - "null"
              description: The phone number of the participant.
            speakerId:
              type:
                - string
                - "null"
              description: >-
                Unique ID of a participant that spoke in the call. References to
                this id will appear in the '/v2/calls/transcript' endpoint
                response.
            title:
              type:
                - string
                - "null"
              description: The job title of the participant.
            userId:
              type:
                - string
                - "null"
              description: >-
                The user ID of the participant within the Gong system, if the
                participant exists in the system.
  scorecards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - "null"
          - string
        description: The timestamp when the scorecard was created
        format: date-time
      enabled:
        type:
          - "null"
          - boolean
        description: Indicates if the scorecard is enabled or disabled
      questions:
        type:
          - "null"
          - array
        description: An array of questions related to the scorecard
        items:
          type:
            - "null"
            - object
          properties:
            created:
              type:
                - "null"
                - string
              description: The timestamp when the question was created
              format: date-time
            isOverall:
              type:
                - "null"
                - boolean
              description: Indicates if the question is an overall score or not
            questionId:
              type:
                - "null"
                - string
              description: The unique identifier of the question
            questionRevisionId:
              type:
                - "null"
                - string
              description: The revision identifier of the question
            questionText:
              type:
                - "null"
                - string
              description: The text of the question
            updated:
              type:
                - "null"
                - string
              description: The timestamp when the question was last updated
              format: date-time
            updaterUserId:
              type:
                - "null"
                - string
              description: The user ID of the person who last updated the question
      scorecardId:
        type:
          - "null"
          - string
        description: The unique identifier of the scorecard
      scorecardName:
        type:
          - "null"
          - string
        description: The name of the scorecard
      updated:
        type:
          - "null"
          - string
        description: The timestamp when the scorecard was last updated
        format: date-time
      updaterUserId:
        type:
          - "null"
          - string
        description: The user ID of the person who last updated the scorecard
      workspaceId:
        type:
          - "null"
          - string
        description: The unique identifier of the workspace associated with the scorecard
  answeredScorecards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      answeredScorecardId:
        type:
          - "null"
          - string
        description: Unique identifier for the answered scorecard instance.
      answers:
        type:
          - "null"
          - array
        description: Contains the answered questions in the scorecards
        items:
          type:
            - "null"
            - object
          properties:
            answerText:
              type:
                - "null"
                - string
              description: Text containing the answer given.
            isOverall:
              type:
                - "null"
                - boolean
              description: >-
                Boolean flag indicating if the answer is for an overall
                evaluation.
            notApplicable:
              type:
                - "null"
                - boolean
              description: >-
                Boolean flag indicating if the question is marked as not
                applicable.
            questionId:
              type:
                - "null"
                - string
              description: Unique identifier for the question answered.
            questionRevisionId:
              type:
                - "null"
                - string
              description: Unique identifier for the revision of the question
                answered.
            score:
              type:
                - "null"
                - integer
              description: Numeric score assigned to the answer.
      callId:
        type:
          - "null"
          - string
        description: Unique identifier for the call associated with the answered
          scorecard.
      callStartTime:
        type:
          - "null"
          - string
        description: Timestamp indicating the start time of the call.
        format: date-time
      reviewTime:
        type:
          - "null"
          - string
        description: >-
          Timestamp indicating when the review of the answered scorecard was
          completed.
        format: date-time
      reviewedUserId:
        type:
          - "null"
          - string
        description: Unique identifier for the user whose performance was reviewed.
      reviewerUserId:
        type:
          - "null"
          - string
        description: Unique identifier for the user who performed the review.
      scorecardId:
        type:
          - "null"
          - string
        description: Unique identifier for the scorecard template used.
      scorecardName:
        type:
          - "null"
          - string
        description: Name or title of the scorecard template used.
      visibilityType:
        type:
          - "null"
          - string
        description: Type indicating the visibility permissions for the answered
          scorecard.
