version: 6.5.2

type: DeclarativeSource

description: >-
  Add an optional users_to_fetch filter to only retriever calls from a subset of
  users

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_parameters:
            fromDateTime: "{{ stream_interval['start_time'] }}"
            toDateTime: "{{ stream_interval['end_time'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    calls:
      type: DeclarativeStream
      name: calls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls
          http_method: GET
          request_parameters:
            fromDateTime: "{{ stream_interval['start_time'] }}"
            toDateTime: "{{ stream_interval['end_time'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
          record_filter:
            type: RecordFilter
            condition: >-
              {{ record.primaryUserId in config.users_to_fetch if
              config.users_to_fetch else True }}
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
    extensiveCalls:
      type: DeclarativeStream
      name: extensiveCalls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: calls/extensive
          http_method: POST
          request_body_json:
            filter:
              fromDateTime: "{{ stream_interval['start_time'] }}"
              toDateTime: "{{ stream_interval['end_time'] }}"
            contentSelector:
              exposedFields:
                media: true
                content:
                  brief: true
                  topics: true
                  outline: true
                  trackers: true
                  keyPoints: true
                  structure: true
                  highlights: true
                  callOutcome: true
                  pointsOfInterest: true
                  trackerOccurrences: true
                parties: true
                interaction:
                  video: true
                  speakers: true
                  questions: true
                  personInteractionStats: true
                collaboration:
                  publicComments: true
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
          record_filter:
            type: RecordFilter
            condition: >-
              {{ record.metaData.primaryUserId in config.users_to_fetch if
              config.users_to_fetch else True }}
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ record['metaData']['id'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/extensiveCalls"
    scorecards:
      type: DeclarativeStream
      name: scorecards
      primary_key:
        - scorecardId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /settings/scorecards
          http_method: GET
          request_parameters:
            fromDateTime: "{{ stream_interval['start_time'] }}"
            toDateTime: "{{ stream_interval['end_time'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - scorecards
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scorecards"
    answeredScorecards:
      type: DeclarativeStream
      name: answeredScorecards
      primary_key:
        - answeredScorecardId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stats/activity/scorecards
          http_method: POST
          request_parameters:
            fromDateTime: "{{ stream_interval['start_time'] }}"
            toDateTime: "{{ config['end_time'] }}"
          request_body_json:
            filter: "{\"callFromDate\": \"{{ config[\"start_date\"] }}\"}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - answeredScorecards
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/answeredScorecards"
    transcripts:
      type: DeclarativeStream
      name: transcripts
      primary_key:
        - callId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls/transcript
          http_method: POST
          request_body_json:
            filter:
              callIds:
                - "{{stream_partition['parent_id']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - callTranscripts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/calls"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transcripts"
  base_requester:
    type: HttpRequester
    url_base: https://api.gong.io/v2/
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"access_key_secret\"] }}"
      username: "{{ config[\"access_key\"] }}"

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/extensiveCalls"
  - $ref: "#/definitions/streams/scorecards"
  - $ref: "#/definitions/streams/answeredScorecards"
  - $ref: "#/definitions/streams/transcripts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_key
      - access_key_secret
    properties:
      access_key:
        type: string
        description: Gong Access Key
        order: 0
        title: Gong Access Key
        airbyte_secret: true
      access_key_secret:
        type: string
        description: Gong Access Key Secret
        order: 1
        title: Gong Access Key Secret
        airbyte_secret: true
      start_date:
        type: string
        description: >-
          The date from which to list calls, in the ISO-8601 format; if not
          specified, the calls start with the earliest recorded call. For
          web-conference calls recorded by Gong, the date denotes its scheduled
          time, otherwise, it denotes its actual start time.
        order: 2
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2018-02-18T08:00:00Z"
      users_to_fetch:
        type: array
        order: 3
        title: users_to_fetch
    additionalProperties: true

metadata:
  autoImportSchema:
    users: false
    calls: false
    extensiveCalls: false
    scorecards: false
    answeredScorecards: false
    transcripts: false
  testedStreams:
    users:
      streamHash: e0cc2fdfa0a36f997bfc28a8336fd59a963075be
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    calls:
      streamHash: f098011a32a9a2db4f971dfe0b7ab7a1fdd15f27
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    extensiveCalls:
      streamHash: a9c7deb61d665ddf5336931907422a0c0f0bae05
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    scorecards:
      streamHash: 6a5d0dae34490533d9c16ccf5f80bf1b322759c0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    answeredScorecards:
      streamHash: c6bef050368f502212f57d1a8dc1be39903377e8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    transcripts:
      streamHash: 3c8d888fe526f1716fa37a850de9767b382e6ded
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      active:
        type:
          - boolean
          - "null"
      created:
        type:
          - string
          - "null"
      emailAddress:
        type:
          - string
          - "null"
      emailAliases:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      extension:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: string
      lastName:
        type:
          - string
          - "null"
      managerId:
        type:
          - string
          - "null"
      meetingConsentPageUrl:
        type:
          - string
          - "null"
      personalMeetingUrls:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      phoneNumber:
        type:
          - string
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          emailsImported:
            type:
              - boolean
              - "null"
          gongConnectEnabled:
            type:
              - boolean
              - "null"
          nonRecordedMeetingsImported:
            type:
              - boolean
              - "null"
          preventEmailImport:
            type:
              - boolean
              - "null"
          preventWebConferenceRecording:
            type:
              - boolean
              - "null"
          telephonyCallsImported:
            type:
              - boolean
              - "null"
          webConferencesRecorded:
            type:
              - boolean
              - "null"
      spokenLanguages:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            language:
              type:
                - string
                - "null"
            primary:
              type:
                - boolean
                - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  calls:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      calendarEventId:
        type:
          - string
          - "null"
      clientUniqueId:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      duration:
        type:
          - number
          - "null"
      id:
        type: string
      isPrivate:
        type:
          - boolean
          - "null"
      language:
        type:
          - string
          - "null"
      media:
        type:
          - string
          - "null"
      meetingUrl:
        type:
          - string
          - "null"
      primaryUserId:
        type:
          - string
          - "null"
      purpose:
        type:
          - string
          - "null"
      scheduled:
        type:
          - string
          - "null"
      scope:
        type:
          - string
          - "null"
      sdrDisposition:
        type:
          - string
          - "null"
      started:
        type:
          - string
          - "null"
      system:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      workspaceId:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  extensiveCalls:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      collaboration:
        type:
          - object
          - "null"
        properties:
          publicComments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                audioEndTime:
                  type:
                    - number
                    - "null"
                audioStartTime:
                  type:
                    - number
                    - "null"
                comment:
                  type:
                    - string
                    - "null"
                commenterUserId:
                  type:
                    - string
                    - "null"
                duringCall:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                inReplyTo:
                  type:
                    - string
                    - "null"
                posted:
                  type:
                    - string
                    - "null"
      content:
        type:
          - object
          - "null"
        properties:
          brief:
            type:
              - string
              - "null"
          callOutcome:
            type:
              - object
              - "null"
            properties:
              category:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          highlights:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      startTimes:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - number
                            - "null"
                      text:
                        type:
                          - string
                          - "null"
                title:
                  type:
                    - string
                    - "null"
          keyPoints:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                text:
                  type:
                    - string
                    - "null"
          outline:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      startTime:
                        type:
                          - number
                          - "null"
                      text:
                        type:
                          - string
                          - "null"
                section:
                  type:
                    - string
                    - "null"
                startTime:
                  type:
                    - number
                    - "null"
          pointsOfInterest:
            type:
              - object
              - "null"
            properties:
              actionItems:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    snippet:
                      type:
                        - string
                        - "null"
                    snippetEndTime:
                      type:
                        - number
                        - "null"
                    snippetStartTime:
                      type:
                        - number
                        - "null"
                    speakerID:
                      type:
                        - string
                        - "null"
          topics:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          trackers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                count:
                  type:
                    - number
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                occurrences:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      speakerId:
                        type:
                          - string
                          - "null"
                      startTime:
                        type:
                          - number
                          - "null"
                phrases:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      count:
                        type:
                          - number
                          - "null"
                      occurrences:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            speakerId:
                              type:
                                - string
                                - "null"
                            startTime:
                              type:
                                - number
                                - "null"
                      phrase:
                        type:
                          - string
                          - "null"
      id:
        type: number
      interaction:
        type:
          - object
          - "null"
        properties:
          interactionStats:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
          questions:
            type:
              - object
              - "null"
            properties:
              companyCount:
                type:
                  - number
                  - "null"
              nonCompanyCount:
                type:
                  - number
                  - "null"
          speakers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                talkTime:
                  type:
                    - number
                    - "null"
                userId:
                  type:
                    - string
                    - "null"
          video:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      media:
        type:
          - object
          - "null"
        properties:
          audioUrl:
            type:
              - string
              - "null"
          videoUrl:
            type:
              - string
              - "null"
      metaData:
        type:
          - object
          - "null"
        properties:
          calendarEventId:
            type:
              - string
              - "null"
          clientUniqueId:
            type:
              - string
              - "null"
          direction:
            type:
              - string
              - "null"
          duration:
            type:
              - number
              - "null"
          id:
            type:
              - string
              - "null"
          isPrivate:
            type:
              - boolean
              - "null"
          language:
            type:
              - string
              - "null"
          media:
            type:
              - string
              - "null"
          meetingUrl:
            type:
              - string
              - "null"
          primaryUserId:
            type:
              - string
              - "null"
          purpose:
            type:
              - string
              - "null"
          scheduled:
            type:
              - string
              - "null"
          scope:
            type:
              - string
              - "null"
          sdrDisposition:
            type:
              - string
              - "null"
          started:
            type:
              - string
              - "null"
          system:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          workspaceId:
            type:
              - string
              - "null"
      parties:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            affiliation:
              type:
                - string
                - "null"
            emailAddress:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            methods:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            name:
              type:
                - string
                - "null"
            phoneNumber:
              type:
                - string
                - "null"
            speakerId:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            userId:
              type:
                - string
                - "null"
    required:
      - id
    additionalProperties: true
  scorecards:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      created:
        type:
          - string
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      questions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            answerOptions:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  text:
                    type:
                      - string
                      - "null"
            created:
              type:
                - string
                - "null"
            isOverall:
              type:
                - boolean
                - "null"
            maxRange:
              type:
                - string
                - "null"
            minRange:
              type:
                - string
                - "null"
            questionId:
              type:
                - string
                - "null"
            questionRevisionId:
              type:
                - string
                - "null"
            questionText:
              type:
                - string
                - "null"
            questionType:
              type:
                - string
                - "null"
            updated:
              type:
                - string
                - "null"
            updaterUserId:
              type:
                - string
                - "null"
      scorecardId:
        type: string
      scorecardName:
        type:
          - string
          - "null"
      updated:
        type:
          - string
          - "null"
      updaterUserId:
        type:
          - string
          - "null"
      workspaceId:
        type:
          - string
          - "null"
    required:
      - scorecardId
    additionalProperties: true
  answeredScorecards:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      answeredScorecardId:
        type: string
      answers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            answerText:
              type:
                - string
                - "null"
            isOverall:
              type:
                - boolean
                - "null"
            notApplicable:
              type:
                - boolean
                - "null"
            questionId:
              type:
                - string
                - "null"
            questionRevisionId:
              type:
                - string
                - "null"
            score:
              type:
                - number
                - "null"
            selectedOptions:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
      callId:
        type:
          - string
          - "null"
      callStartTime:
        type:
          - string
          - "null"
      reviewTime:
        type:
          - string
          - "null"
      reviewedUserId:
        type:
          - string
          - "null"
      reviewerUserId:
        type:
          - string
          - "null"
      scorecardId:
        type:
          - string
          - "null"
      scorecardName:
        type:
          - string
          - "null"
      visibilityType:
        type:
          - string
          - "null"
    required:
      - answeredScorecardId
    additionalProperties: true
  transcripts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      callId:
        type: string
      transcript:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            sentences:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  end:
                    type:
                      - number
                      - "null"
                  start:
                    type:
                      - number
                      - "null"
                  text:
                    type:
                      - string
                      - "null"
            speakerId:
              type:
                - string
                - "null"
            topic:
              type:
                - string
                - "null"
    required:
      - callId
