@use "../../../../scss/colors";
@use "../../../../scss/variables";

.container {
  width: 100%;
  padding: 50px 78px 40px;
  background: colors.$dark-blue-900 url("stars-background.svg");
  border-radius: variables.$border-radius-md;
  position: relative;
}

.rocket {
  position: absolute;
  width: 180px;
  transform: matrix(0.99, 0.12, -0.12, 0.99, 0, 0) rotate(-4.78deg);
  top: -54px;
  left: calc(50% - 261px / 2 + 24px);
  transition: 0.8s;
}

.completedSyncText {
  color: colors.$white;
}
