version: 6.4.0

type: DeclarativeSource

description: >-
  The Airbyte connector for [Formbricks](https://www.formbricks.com/) enables
  seamless data integration by pulling customer feedback and form data from
  Formbricks directly into your data warehouse. This connector allows you to
  automate data syncing for enhanced analytics, providing valuable insights into
  user behavior and satisfaction across platforms.

check:
  type: CheckStream
  stream_names:
    - surveys

definitions:
  streams:
    surveys:
      type: DeclarativeStream
      name: surveys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /management/surveys
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys"
    action_classes:
      type: DeclarativeStream
      name: action_classes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /management/action-classes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/action_classes"
    attribute_classes:
      type: DeclarativeStream
      name: attribute_classes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /management/attribute-classes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attribute_classes"
    identified_peoples:
      type: DeclarativeStream
      name: identified_peoples
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /management/people
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/identified_peoples"
    responses:
      type: DeclarativeStream
      name: responses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /management/responses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          pagination_strategy:
            type: OffsetIncrement
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/responses"
    webhooks:
      type: DeclarativeStream
      name: webhooks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhooks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhooks"
  base_requester:
    type: HttpRequester
    url_base: https://app.formbricks.com/api/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/surveys"
  - $ref: "#/definitions/streams/action_classes"
  - $ref: "#/definitions/streams/attribute_classes"
  - $ref: "#/definitions/streams/identified_peoples"
  - $ref: "#/definitions/streams/responses"
  - $ref: "#/definitions/streams/webhooks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          API key to use. You can generate and find it in your Postman account
          settings.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    surveys: true
    action_classes: true
    attribute_classes: true
    identified_peoples: true
    responses: true
    webhooks: true
  testedStreams:
    surveys:
      hasRecords: true
      streamHash: c8230054f86d9610f3dc97aa3b61294a9214c963
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    action_classes:
      hasRecords: true
      streamHash: 945c9208a75e601702d8547e66d4f82636b7041c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    attribute_classes:
      streamHash: 2ee2f0cd95655ff33cd85043937972bd495f87c0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    identified_peoples:
      streamHash: 5bef3a1a5748d5b2f3a06b2dd740c2ab62ae1108
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    responses:
      streamHash: b8ed53771a51c18b206cc2ff9b73374f027780ef
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    webhooks:
      hasRecords: true
      streamHash: 80c98dada4167d2f9c3cb956d6b826878e1713fa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://documenter.getpostman.com/view/11026000/2sA3Bq5XEh

schemas:
  surveys:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      createdBy:
        type:
          - string
          - "null"
      delay:
        type:
          - number
          - "null"
      displayOption:
        type:
          - string
          - "null"
      endings:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            buttonLabel:
              type:
                - object
                - "null"
              properties:
                default:
                  type:
                    - string
                    - "null"
            buttonLink:
              type:
                - string
                - "null"
            headline:
              type:
                - object
                - "null"
              properties:
                default:
                  type:
                    - string
                    - "null"
            id:
              type:
                - string
                - "null"
            subheader:
              type:
                - object
                - "null"
              properties:
                default:
                  type:
                    - string
                    - "null"
      environmentId:
        type:
          - string
          - "null"
      hiddenFields:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
          fieldIds:
            type:
              - array
              - "null"
      id:
        type: string
      isSingleResponsePerEmailEnabled:
        type:
          - boolean
          - "null"
      isVerifyEmailEnabled:
        type:
          - boolean
          - "null"
      languages:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      questions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            choices:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  label:
                    type:
                      - object
                      - "null"
                    properties:
                      default:
                        type:
                          - string
                          - "null"
            headline:
              type:
                - object
                - "null"
              properties:
                default:
                  type:
                    - string
                    - "null"
            id:
              type:
                - string
                - "null"
            inputType:
              type:
                - string
                - "null"
            isColorCodingEnabled:
              type:
                - boolean
                - "null"
            logic:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  actions:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        objective:
                          type:
                            - string
                            - "null"
                        target:
                          type:
                            - string
                            - "null"
                  conditions:
                    type:
                      - object
                      - "null"
                    properties:
                      conditions:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            id:
                              type:
                                - string
                                - "null"
                            leftOperand:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type:
                                    - string
                                    - "null"
                                value:
                                  type:
                                    - string
                                    - "null"
                            operator:
                              type:
                                - string
                                - "null"
                            rightOperand:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type:
                                    - string
                                    - "null"
                                value:
                                  type:
                                    - number
                                    - "null"
                      connector:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                  id:
                    type:
                      - string
                      - "null"
            lowerLabel:
              type:
                - object
                - "null"
              properties:
                default:
                  type:
                    - string
                    - "null"
            placeholder:
              type:
                - object
                - "null"
              properties:
                default:
                  type:
                    - string
                    - "null"
            range:
              type:
                - number
                - "null"
            required:
              type:
                - boolean
                - "null"
            scale:
              type:
                - string
                - "null"
            shuffleOption:
              type:
                - string
                - "null"
            subheader:
              type:
                - object
                - "null"
              properties:
                default:
                  type:
                    - string
                    - "null"
            upperLabel:
              type:
                - object
                - "null"
              properties:
                default:
                  type:
                    - string
                    - "null"
      segment:
        type:
          - object
          - "null"
        properties:
          createdAt:
            type:
              - string
              - "null"
          environmentId:
            type:
              - string
              - "null"
          filters:
            type:
              - array
              - "null"
          id:
            type:
              - string
              - "null"
          isPrivate:
            type:
              - boolean
              - "null"
          surveys:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          title:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - string
              - "null"
      singleUse:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
          isEncrypted:
            type:
              - boolean
              - "null"
      status:
        type:
          - string
          - "null"
      styling:
        type:
          - object
          - "null"
        properties:
          brandColor:
            type:
              - object
              - "null"
            properties:
              light:
                type:
                  - string
                  - "null"
          cardArrangement:
            type:
              - object
              - "null"
            properties:
              appSurveys:
                type:
                  - string
                  - "null"
              linkSurveys:
                type:
                  - string
                  - "null"
          cardBackgroundColor:
            type:
              - object
              - "null"
            properties:
              light:
                type:
                  - string
                  - "null"
          cardBorderColor:
            type:
              - object
              - "null"
            properties:
              light:
                type:
                  - string
                  - "null"
          cardShadowColor:
            type:
              - object
              - "null"
            properties:
              light:
                type:
                  - string
                  - "null"
          hideProgressBar:
            type:
              - boolean
              - "null"
          inputBorderColor:
            type:
              - object
              - "null"
            properties:
              light:
                type:
                  - string
                  - "null"
          inputColor:
            type:
              - object
              - "null"
            properties:
              light:
                type:
                  - string
                  - "null"
          isDarkModeEnabled:
            type:
              - boolean
              - "null"
          isLogoHidden:
            type:
              - boolean
              - "null"
          questionColor:
            type:
              - object
              - "null"
            properties:
              light:
                type:
                  - string
                  - "null"
          roundness:
            type:
              - number
              - "null"
      triggers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            actionClass:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                description:
                  type:
                    - string
                    - "null"
                createdAt:
                  type:
                    - string
                    - "null"
                environmentId:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                updatedAt:
                  type:
                    - string
                    - "null"
      updatedAt:
        type:
          - string
          - "null"
      variables:
        type:
          - array
          - "null"
      welcomeCard:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
          headline:
            type:
              - object
              - "null"
            properties:
              default:
                type:
                  - string
                  - "null"
          html:
            type:
              - object
              - "null"
            properties:
              default:
                type:
                  - string
                  - "null"
          showResponseCount:
            type:
              - boolean
              - "null"
          timeToFinish:
            type:
              - boolean
              - "null"
    required:
      - id
  action_classes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      environmentId:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      noCodeConfig:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          elementSelector:
            type:
              - object
              - "null"
            properties:
              innerHtml:
                type:
                  - string
                  - "null"
          urlFilters:
            type:
              - array
              - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  attribute_classes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - string
          - "null"
      environmentId:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  identified_peoples:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attributes:
        type:
          - object
          - "null"
        properties:
          plan:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      environmentId:
        type:
          - string
          - "null"
      id:
        type: string
      updatedAt:
        type:
          - string
          - "null"
      userId:
        type:
          - string
          - "null"
    required:
      - id
  responses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      data:
        type:
          - object
          - "null"
        properties:
          cm3zf81pymlmve85hi7buqzr:
            type:
              - string
              - "null"
          pj3o8kqzpkqcz96mx8bma7lm:
            type:
              - number
              - "null"
          thjgnj8qycp2chmxe26phcc6:
            type:
              - string
              - "null"
      displayId:
        type:
          - string
          - "null"
      finished:
        type:
          - boolean
          - "null"
      id:
        type: string
      meta:
        type:
          - object
          - "null"
        properties:
          action:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          userAgent:
            type:
              - object
              - "null"
            properties:
              browser:
                type:
                  - string
                  - "null"
              device:
                type:
                  - string
                  - "null"
              os:
                type:
                  - string
                  - "null"
      notes:
        type:
          - array
          - "null"
      person:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          userId:
            type:
              - string
              - "null"
      personAttributes:
        type:
          - object
          - "null"
        properties:
          plan:
            type:
              - string
              - "null"
      surveyId:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            createdAt:
              type:
                - string
                - "null"
            environmentId:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            updatedAt:
              type:
                - string
                - "null"
      ttc:
        type:
          - object
          - "null"
        properties:
          _total:
            type:
              - number
              - "null"
          cm3zf81pymlmve85hi7buqzr:
            type:
              - number
              - "null"
          pj3o8kqzpkqcz96mx8bma7lm:
            type:
              - number
              - "null"
          thjgnj8qycp2chmxe26phcc6:
            type:
              - number
              - "null"
      updatedAt:
        type:
          - string
          - "null"
      variables:
        type:
          - object
          - "null"
    required:
      - id
  webhooks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      environmentId:
        type:
          - string
          - "null"
      id:
        type: string
      source:
        type:
          - string
          - "null"
      surveyIds:
        type:
          - array
          - "null"
      triggers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      updatedAt:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
