version: "0.29.0"
type: "DeclarativeSourceTest"
definitions:
  test_given_no_state_when_read_then_return_ignore_lookback:
    type: "TestCase"
    name: "test_given_no_state_when_read_then_return_ignore_lookback"
    config_template:
      "$ref": "#/definitions/ConfigTemplate"
    expected_request_mappings:
      - "$ref": "#/definitions/AnApplicationFeeRequestMapping"
  AnApplicationFeeRequestMapping:
    type: "RequestMapping"
    request:
      "$ref": "#/definitions/AnApplicationFeeRequest"
    responses_and_records:
      - "$ref": "#/definitions/AnApplicationFeeResponse"
  AnApplicationFeeRequest:
    type: "Request"
    template:
      "$ref": "#/definitions/ApplicationFeeRequestTemplate"
    response:
      "$ref": "#/definitions/ApplicationFeeResponse"
  AnApplicationFeeResponse:
    type: "Response"
    template:
      "$ref": "#/definitions/ApplicationFeeResponseTemplate"
    records:
      - "$ref": "#/definitions/ApplicationFeeRecord"
      - "$ref": "#/definitions/ApplicationFeeRecord"
  ApplicationFeeRequestTemplate:
    type: "object"
    properties:
      url: "https://api.stripe.com/v1/application_fees"
      method: "GET"
      headers:
          - name: Authorization
            value: "Bearer {{ config.apikey }}"
      request_params: # maybe does not need to be in the template?
        created_gte: "{{ config['start_date'] }}"
        created_lte: "{{ now() }}"
source_name:
  type: "string" ## Maybe could be a source_runner or something
  required: true
stream_name:

test_cases:
  - "#/definitions/test_given_no_state_when_read_then_return_ignore_lookback"