version: 5.12.0

type: DeclarativeSource

description: |-
  Website: https://app.shortcut.com/
  API Docs: https://developer.shortcut.com/api/rest/v3#Introduction
  Authentication Docs: https://developer.shortcut.com/api/rest/v3#Authentication

check:
  type: CheckStream
  stream_names:
    - categories

definitions:
  streams:
    epics:
      type: DeclarativeStream
      name: epics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: epics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            includes_description: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/epics"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    files:
      type: DeclarativeStream
      name: files
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: files
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            includes_description: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/files"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    groups:
      type: DeclarativeStream
      name: groups
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            includes_description: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    labels:
      type: DeclarativeStream
      name: labels
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: labels
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/labels"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    member:
      type: DeclarativeStream
      name: member
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: member
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            includes_description: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/member"
    members:
      type: DeclarativeStream
      name: members
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: members
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/members"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    workflows:
      type: DeclarativeStream
      name: workflows
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workflows
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflows"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    categories:
      type: DeclarativeStream
      name: categories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: categories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    iterations:
      type: DeclarativeStream
      name: iterations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: iterations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            includes_description: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/iterations"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    milestones:
      type: DeclarativeStream
      name: milestones
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: milestones
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/milestones"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    objectives:
      type: DeclarativeStream
      name: objectives
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: objectives
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/objectives"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    search_epics:
      type: DeclarativeStream
      name: search_epics
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 1
            cursor_value: "{{ response.next | regex_search('next=([0-9a-fA-F~]+)') }}"
            stop_condition: "{{ response.next is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: search/epics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            query: "{{ config['query'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search_epics"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    custom-fields:
      type: DeclarativeStream
      name: custom-fields
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom-fields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom-fields"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    epic-workflow:
      type: DeclarativeStream
      name: epic-workflow
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: epic-workflow
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/epic-workflow"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    epics_stories:
      type: DeclarativeStream
      name: epics_stories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: epics/{{ stream_partition.epic_id }}/stories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/epics"
              parent_key: id
              partition_field: epic_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/epics_stories"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    story_history:
      type: DeclarativeStream
      name: story_history
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: stories/{{ stream_partition.story_id }}/history
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/epics_stories"
              parent_key: id
              partition_field: story_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/story_history"
      transformations:
        - type: AddFields
          fields:
            - path:
                - STORY_ID
              value: "{{stream_partition.story_id}}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: changed_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
    epics_comments:
      type: DeclarativeStream
      name: epics_comments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: epics/{{ stream_partition.epic_id }}/comments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/epics"
              parent_key: id
              partition_field: epic_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/epics_comments"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    groups_stories:
      type: DeclarativeStream
      name: groups_stories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: groups/{{ stream_partition.group_id }}/stories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/groups"
              parent_key: id
              partition_field: group_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups_stories"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    milestones_epics:
      type: DeclarativeStream
      name: milestones_epics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: milestones/{{ stream_partition.milestone_id }}/epics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/milestones"
              parent_key: id
              partition_field: milestone_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/milestones_epics"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    objectives_epics:
      type: DeclarativeStream
      name: objectives_epics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: objectives/{{ stream_partition.objective_id }}/epics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/objectives"
              parent_key: id
              partition_field: objective_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/objectives_epics"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    stories_comments:
      type: DeclarativeStream
      name: stories_comments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: stories/{{ stream_partition.story_id }}/comments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/epics_stories"
              parent_key: id
              partition_field: story_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stories_comments"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    iterations_stories:
      type: DeclarativeStream
      name: iterations_stories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: iterations/{{ stream_partition.iteration_id }}/stories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/iterations"
              parent_key: id
              partition_field: iteration_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/iterations_stories"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    categories_milestones:
      type: DeclarativeStream
      name: categories_milestones
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: categories/{{ stream_partition.category_id }}/milestones
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/categories"
              parent_key: id
              partition_field: category_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories_milestones"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
    categories_objectives:
      type: DeclarativeStream
      name: categories_objectives
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: categories/{{ stream_partition.category_id }}/objectives
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/categories"
              parent_key: id
              partition_field: category_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories_objectives"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
  base_requester:
    type: HttpRequester
    url_base: https://api.app.shortcut.com/api/v3/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key_2\"] }}"
      inject_into:
        type: RequestOption
        field_name: Shortcut-Token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/categories"
  - $ref: "#/definitions/streams/categories_milestones"
  - $ref: "#/definitions/streams/categories_objectives"
  - $ref: "#/definitions/streams/custom-fields"
  - $ref: "#/definitions/streams/epic-workflow"
  - $ref: "#/definitions/streams/epics"
  - $ref: "#/definitions/streams/epics_comments"
  - $ref: "#/definitions/streams/epics_stories"
  - $ref: "#/definitions/streams/files"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/groups_stories"
  - $ref: "#/definitions/streams/iterations"
  - $ref: "#/definitions/streams/iterations_stories"
  - $ref: "#/definitions/streams/labels"
  - $ref: "#/definitions/streams/member"
  - $ref: "#/definitions/streams/members"
  - $ref: "#/definitions/streams/milestones"
  - $ref: "#/definitions/streams/milestones_epics"
  - $ref: "#/definitions/streams/objectives"
  - $ref: "#/definitions/streams/objectives_epics"
  - $ref: "#/definitions/streams/workflows"
  - $ref: "#/definitions/streams/stories_comments"
  - $ref: "#/definitions/streams/story_history"
  - $ref: "#/definitions/streams/search_epics"
  - $ref: "#/definitions/streams/projects"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key_2
      - start_date
    properties:
      query:
        type: string
        description: >-
          Query for searching as defined in
          `https://help.shortcut.com/hc/en-us/articles/360000046646-Searching-in-Shortcut-Using-Search-Operators`
        order: 2
        title: Query
        default: title:Our first Epic
      api_key_2:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    epics:
      hasRecords: true
      streamHash: ea8d39b4480a9e04c5488077778aa60fe01387ba
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    files:
      hasRecords: true
      streamHash: b3a729c3cd4bac5383fd14ee02bc2064af033152
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    groups:
      hasRecords: true
      streamHash: 3c9c98b5a7c881ae317fe901ca174652049fe304
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    labels:
      hasRecords: true
      streamHash: 0f299b520584e327940cbdad60b7da8d870229d9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    member:
      hasRecords: true
      streamHash: 5546079625dc6a6881c14bd87c80efb9d6506914
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    members:
      hasRecords: true
      streamHash: 60b72c094a289f6a9ee0c6a9c36e3127b6a85f03
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      hasRecords: true
      streamHash: e400a03a6bd36afb87b717f31b06924f7c73f9b3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    workflows:
      hasRecords: true
      streamHash: e0a730ec7becca667e3916d5438a1975139f19b4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    categories:
      hasRecords: true
      streamHash: 27f791d3d91a876d7cdb97b3c27a12d4b66807ab
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    iterations:
      hasRecords: true
      streamHash: 575cbb75e070bf85f57207eef781caf8fc9313e4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    milestones:
      hasRecords: true
      streamHash: 0521a8b623c5e8a4122d78a6d57bdb240890c335
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    objectives:
      hasRecords: true
      streamHash: 679dafde34469a71ce9ee86d3625152a1b8fb127
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    search_epics:
      hasRecords: true
      streamHash: 319a660be5a2df87fb76742e3de204d67a25b9fa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    custom-fields:
      hasRecords: true
      streamHash: 91a777c71159e858e1cec22b072c202478cc889d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    epic-workflow:
      hasRecords: true
      streamHash: dbad3b98ec58f1b10b8c602144f3454b5cab4494
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    epics_stories:
      hasRecords: true
      streamHash: f1aff0d952a2f0067380938c4f1df3745da828a4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    story_history:
      hasRecords: true
      streamHash: 7052000fe1e06c2cff6a93eff7e26ca897b70203
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    epics_comments:
      hasRecords: true
      streamHash: bb99fc37ceee5669025c2e87b3a44bca28f36eff
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    groups_stories:
      hasRecords: true
      streamHash: 8417b97ebc75ca3bb9409fe96aa6bfe884645fd5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    milestones_epics:
      hasRecords: true
      streamHash: 690a6caf8876b6f8a3391335a8b0aaeab1307a2e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    objectives_epics:
      hasRecords: true
      streamHash: cc30c4dd7e3452a838a2bb2160ce698981af17bd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stories_comments:
      hasRecords: true
      streamHash: e350468f142b45faaa3a40ed16adbe8d4580d8c6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    iterations_stories:
      hasRecords: true
      streamHash: 03a5bf5ae9c63bf1eff008fc6d4fd31cc50a3f4d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    categories_milestones:
      hasRecords: true
      streamHash: 6b5d1c16068e230cbb4c712f7e2e3ca7338a42a1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    categories_objectives:
      hasRecords: true
      streamHash: 336b099dbaa1af0c8b3758ced0e71c25c3d9f669
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    epics: true
    files: true
    groups: true
    labels: true
    member: true
    members: true
    projects: true
    workflows: true
    categories: true
    iterations: true
    milestones: true
    objectives: true
    search_epics: true
    custom-fields: true
    epic-workflow: true
    epics_stories: true
    story_history: true
    epics_comments: true
    groups_stories: true
    milestones_epics: true
    objectives_epics: true
    stories_comments: true
    iterations_stories: true
    categories_milestones: true
    categories_objectives: true

schemas:
  epics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          num_points:
            type:
              - number
              - "null"
          num_points_done:
            type:
              - number
              - "null"
          num_stories_done:
            type:
              - number
              - "null"
          last_story_update:
            type:
              - string
              - "null"
          num_stories_total:
            type:
              - number
              - "null"
          num_points_backlog:
            type:
              - number
              - "null"
          num_points_started:
            type:
              - number
              - "null"
          num_stories_backlog:
            type:
              - number
              - "null"
          num_stories_started:
            type:
              - number
              - "null"
          num_points_unstarted:
            type:
              - number
              - "null"
          num_related_documents:
            type:
              - number
              - "null"
          num_stories_unstarted:
            type:
              - number
              - "null"
          num_stories_unestimated:
            type:
              - number
              - "null"
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            color:
              type:
                - string
                - "null"
            app_url:
              type:
                - string
                - "null"
            archived:
              type:
                - boolean
                - "null"
            global_id:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
      app_url:
        type:
          - string
          - "null"
      started:
        type:
          - boolean
          - "null"
      archived:
        type:
          - boolean
          - "null"
      deadline:
        type:
          - string
          - "null"
      group_id:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      completed:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      group_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      label_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      owner_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created_at:
        type:
          - string
          - "null"
      started_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      mention_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      project_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      completed_at:
        type:
          - string
          - "null"
      follower_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      epic_state_id:
        type:
          - number
          - "null"
      objective_ids:
        type:
          - array
          - "null"
      productboard_id:
        type:
          - string
          - "null"
      requested_by_id:
        type:
          - string
          - "null"
      productboard_url:
        type:
          - string
          - "null"
      associated_groups:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            group_id:
              type:
                - string
                - "null"
            associated_stories_count:
              type:
                - number
                - "null"
      group_mention_ids:
        type:
          - array
          - "null"
      productboard_name:
        type:
          - string
          - "null"
      member_mention_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      planned_start_date:
        type:
          - string
          - "null"
      productboard_plugin_id:
        type:
          - string
          - "null"
      stories_without_projects:
        type:
          - number
          - "null"
    additionalProperties: true
  files:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      url:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      size:
        type:
          - number
          - "null"
      filename:
        type:
          - string
          - "null"
      story_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      mention_ids:
        type:
          - array
          - "null"
      uploader_id:
        type:
          - string
          - "null"
      content_type:
        type:
          - string
          - "null"
      group_mention_ids:
        type:
          - array
          - "null"
      member_mention_ids:
        type:
          - array
          - "null"
    additionalProperties: true
  groups:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      app_url:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      member_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      entity_type:
        type:
          - string
          - "null"
      num_stories:
        type:
          - number
          - "null"
      mention_name:
        type:
          - string
          - "null"
      workflow_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      num_epics_started:
        type:
          - number
          - "null"
      num_stories_backlog:
        type:
          - number
          - "null"
      num_stories_started:
        type:
          - number
          - "null"
    additionalProperties: true
  labels:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          num_epics:
            type:
              - number
              - "null"
          num_epics_total:
            type:
              - number
              - "null"
          num_points_total:
            type:
              - number
              - "null"
          num_stories_total:
            type:
              - number
              - "null"
          num_points_backlog:
            type:
              - number
              - "null"
          num_epics_completed:
            type:
              - number
              - "null"
          num_epics_unstarted:
            type:
              - number
              - "null"
          num_stories_backlog:
            type:
              - number
              - "null"
          num_points_completed:
            type:
              - number
              - "null"
          num_points_unstarted:
            type:
              - number
              - "null"
          num_epics_in_progress:
            type:
              - number
              - "null"
          num_related_documents:
            type:
              - number
              - "null"
          num_stories_completed:
            type:
              - number
              - "null"
          num_stories_unstarted:
            type:
              - number
              - "null"
          num_points_in_progress:
            type:
              - number
              - "null"
          num_stories_in_progress:
            type:
              - number
              - "null"
          num_stories_unestimated:
            type:
              - number
              - "null"
      app_url:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
    additionalProperties: true
  member:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      workspace2:
        type:
          - object
          - "null"
        properties:
          url_slug:
            type:
              - string
              - "null"
          estimate_scale:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
      mention_name:
        type:
          - string
          - "null"
    additionalProperties: true
  members:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      id:
        type: string
      role:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      profile:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          is_owner:
            type:
              - boolean
              - "null"
          deactivated:
            type:
              - boolean
              - "null"
          entity_type:
            type:
              - string
              - "null"
          mention_name:
            type:
              - string
              - "null"
          email_address:
            type:
              - string
              - "null"
          gravatar_hash:
            type:
              - string
              - "null"
          two_factor_auth_activated:
            type:
              - boolean
              - "null"
      disabled:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      group_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      created_without_invite:
        type:
          - boolean
          - "null"
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          num_points:
            type:
              - number
              - "null"
          num_stories:
            type:
              - number
              - "null"
          num_related_documents:
            type:
              - number
              - "null"
      app_url:
        type:
          - string
          - "null"
      team_id:
        type:
          - number
          - "null"
      archived:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      start_time:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      workflow_id:
        type:
          - number
          - "null"
      follower_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      iteration_length:
        type:
          - number
          - "null"
      show_thermometer:
        type:
          - boolean
          - "null"
      days_to_thermometer:
        type:
          - number
          - "null"
    additionalProperties: true
  workflows:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      states:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            description:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            verb:
              type:
                - string
                - "null"
            position:
              type:
                - number
                - "null"
            global_id:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
            num_stories:
              type:
                - number
                - "null"
            num_story_templates:
              type:
                - number
                - "null"
      team_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      project_ids:
        type:
          - array
          - "null"
      default_state_id:
        type:
          - number
          - "null"
      auto_assign_owner:
        type:
          - boolean
          - "null"
    additionalProperties: true
  categories:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
    additionalProperties: true
  iterations:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          num_points:
            type:
              - number
              - "null"
          num_points_done:
            type:
              - number
              - "null"
          num_stories_done:
            type:
              - number
              - "null"
          num_points_backlog:
            type:
              - number
              - "null"
          num_points_started:
            type:
              - number
              - "null"
          num_stories_backlog:
            type:
              - number
              - "null"
          num_stories_started:
            type:
              - number
              - "null"
          num_points_unstarted:
            type:
              - number
              - "null"
          num_related_documents:
            type:
              - number
              - "null"
          num_stories_unstarted:
            type:
              - number
              - "null"
          num_stories_unestimated:
            type:
              - number
              - "null"
      labels:
        type:
          - array
          - "null"
      status:
        type:
          - string
          - "null"
      app_url:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      global_id:
        type:
          - string
          - "null"
      group_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      label_ids:
        type:
          - array
          - "null"
      created_at:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      mention_ids:
        type:
          - array
          - "null"
      follower_ids:
        type:
          - array
          - "null"
      group_mention_ids:
        type:
          - array
          - "null"
      member_mention_ids:
        type:
          - array
          - "null"
    additionalProperties: true
  milestones:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          num_related_documents:
            type:
              - number
              - "null"
      app_url:
        type:
          - string
          - "null"
      started:
        type:
          - boolean
          - "null"
      archived:
        type:
          - boolean
          - "null"
      position:
        type:
          - number
          - "null"
      completed:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            archived:
              type:
                - boolean
                - "null"
            global_id:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      key_result_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      started_at_override:
        type:
          - string
          - "null"
    additionalProperties: true
  objectives:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          num_related_documents:
            type:
              - number
              - "null"
      app_url:
        type:
          - string
          - "null"
      started:
        type:
          - boolean
          - "null"
      archived:
        type:
          - boolean
          - "null"
      position:
        type:
          - number
          - "null"
      completed:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            archived:
              type:
                - boolean
                - "null"
            global_id:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      key_result_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      started_at_override:
        type:
          - string
          - "null"
    additionalProperties: true
  search_epics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          num_points:
            type:
              - number
              - "null"
          num_points_done:
            type:
              - number
              - "null"
          num_stories_done:
            type:
              - number
              - "null"
          last_story_update:
            type:
              - string
              - "null"
          num_stories_total:
            type:
              - number
              - "null"
          num_points_backlog:
            type:
              - number
              - "null"
          num_points_started:
            type:
              - number
              - "null"
          num_stories_backlog:
            type:
              - number
              - "null"
          num_stories_started:
            type:
              - number
              - "null"
          num_points_unstarted:
            type:
              - number
              - "null"
          num_related_documents:
            type:
              - number
              - "null"
          num_stories_unstarted:
            type:
              - number
              - "null"
          num_stories_unestimated:
            type:
              - number
              - "null"
      labels:
        type:
          - array
          - "null"
      app_url:
        type:
          - string
          - "null"
      started:
        type:
          - boolean
          - "null"
      archived:
        type:
          - boolean
          - "null"
      comments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            text:
              type:
                - string
                - "null"
            app_url:
              type:
                - string
                - "null"
            deleted:
              type:
                - boolean
                - "null"
            comments:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - number
                      - "null"
                  text:
                    type:
                      - string
                      - "null"
                  app_url:
                    type:
                      - string
                      - "null"
                  deleted:
                    type:
                      - boolean
                      - "null"
                  comments:
                    type:
                      - array
                      - "null"
                  author_id:
                    type:
                      - string
                      - "null"
                  created_at:
                    type:
                      - string
                      - "null"
                  updated_at:
                    type:
                      - string
                      - "null"
                  entity_type:
                    type:
                      - string
                      - "null"
                  mention_ids:
                    type:
                      - array
                      - "null"
                  group_mention_ids:
                    type:
                      - array
                      - "null"
                  member_mention_ids:
                    type:
                      - array
                      - "null"
            author_id:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
            mention_ids:
              type:
                - array
                - "null"
            group_mention_ids:
              type:
                - array
                - "null"
            member_mention_ids:
              type:
                - array
                - "null"
      deadline:
        type:
          - string
          - "null"
      group_id:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      completed:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      group_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      label_ids:
        type:
          - array
          - "null"
      owner_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created_at:
        type:
          - string
          - "null"
      started_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      mention_ids:
        type:
          - array
          - "null"
      project_ids:
        type:
          - array
          - "null"
      follower_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      milestone_id:
        type:
          - number
          - "null"
      epic_state_id:
        type:
          - number
          - "null"
      objective_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      requested_by_id:
        type:
          - string
          - "null"
      group_mention_ids:
        type:
          - array
          - "null"
      member_mention_ids:
        type:
          - array
          - "null"
      planned_start_date:
        type:
          - string
          - "null"
      stories_without_projects:
        type:
          - number
          - "null"
    additionalProperties: true
  custom-fields:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      values:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            enabled:
              type:
                - boolean
                - "null"
            position:
              type:
                - number
                - "null"
            color_key:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
      enabled:
        type:
          - boolean
          - "null"
      position:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      field_type:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      story_types:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      canonical_name:
        type:
          - string
          - "null"
      fixed_position:
        type:
          - boolean
          - "null"
    additionalProperties: true
  epic-workflow:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      id:
        type: number
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      epic_states:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            description:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            position:
              type:
                - number
                - "null"
            global_id:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
      default_epic_state_id:
        type:
          - number
          - "null"
    additionalProperties: true
  epics_stories:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          num_related_documents:
            type:
              - number
              - "null"
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            color:
              type:
                - string
                - "null"
            app_url:
              type:
                - string
                - "null"
            archived:
              type:
                - boolean
                - "null"
            global_id:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
      app_url:
        type:
          - string
          - "null"
      blocked:
        type:
          - boolean
          - "null"
      blocker:
        type:
          - boolean
          - "null"
      epic_id:
        type:
          - number
          - "null"
      started:
        type:
          - boolean
          - "null"
      archived:
        type:
          - boolean
          - "null"
      deadline:
        type:
          - string
          - "null"
      estimate:
        type:
          - number
          - "null"
      file_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      group_id:
        type:
          - string
          - "null"
      moved_at:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      task_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      completed:
        type:
          - boolean
          - "null"
      global_id:
        type:
          - string
          - "null"
      label_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      lead_time:
        type:
          - number
          - "null"
      owner_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created_at:
        type:
          - string
          - "null"
      cycle_time:
        type:
          - number
          - "null"
      project_id:
        type:
          - number
          - "null"
      started_at:
        type:
          - string
          - "null"
      story_type:
        type:
          - string
          - "null"
      updated_at:
        type: string
      comment_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      entity_type:
        type:
          - string
          - "null"
      mention_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      story_links:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            verb:
              type:
                - string
                - "null"
            object_id:
              type:
                - number
                - "null"
            created_at:
              type:
                - string
                - "null"
            subject_id:
              type:
                - number
                - "null"
            updated_at:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
            subject_workflow_state_id:
              type:
                - number
                - "null"
      workflow_id:
        type:
          - number
          - "null"
      completed_at:
        type:
          - string
          - "null"
      follower_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      iteration_id:
        type:
          - number
          - "null"
      custom_fields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            value:
              type:
                - string
                - "null"
            field_id:
              type:
                - string
                - "null"
            value_id:
              type:
                - string
                - "null"
      external_links:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      linked_file_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      requested_by_id:
        type:
          - string
          - "null"
      group_mention_ids:
        type:
          - array
          - "null"
      story_template_id:
        type:
          - string
          - "null"
      workflow_state_id:
        type:
          - number
          - "null"
      member_mention_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      num_tasks_completed:
        type:
          - number
          - "null"
      previous_iteration_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
    additionalProperties: true
  story_history:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - changed_at
    properties:
      version:
        type:
          - string
          - "null"
      id:
        type: string
      actions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            action:
              type:
                - string
                - "null"
            app_url:
              type:
                - string
                - "null"
            changes:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - object
                    - "null"
                  properties:
                    new:
                      type:
                        - string
                        - "null"
                    old:
                      type:
                        - string
                        - "null"
                name:
                  type:
                    - object
                    - "null"
                  properties:
                    new:
                      type:
                        - string
                        - "null"
                    old:
                      type:
                        - string
                        - "null"
                started:
                  type:
                    - object
                    - "null"
                  properties:
                    new:
                      type:
                        - boolean
                        - "null"
                    old:
                      type:
                        - boolean
                        - "null"
                archived:
                  type:
                    - object
                    - "null"
                  properties:
                    new:
                      type:
                        - boolean
                        - "null"
                    old:
                      type:
                        - boolean
                        - "null"
                owner_ids:
                  type:
                    - object
                    - "null"
                  properties:
                    adds:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
                    removes:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
                project_id:
                  type:
                    - object
                    - "null"
                  properties:
                    new:
                      type:
                        - number
                        - "null"
                    old:
                      type:
                        - number
                        - "null"
                story_type:
                  type:
                    - object
                    - "null"
                  properties:
                    new:
                      type:
                        - string
                        - "null"
                    old:
                      type:
                        - string
                        - "null"
                follower_ids:
                  type:
                    - object
                    - "null"
                  properties:
                    adds:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
                iteration_id:
                  type:
                    - object
                    - "null"
                  properties:
                    new:
                      type:
                        - number
                        - "null"
                    old:
                      type:
                        - number
                        - "null"
                workflow_state_id:
                  type:
                    - object
                    - "null"
                  properties:
                    new:
                      type:
                        - number
                        - "null"
                    old:
                      type:
                        - number
                        - "null"
            epic_id:
              type:
                - number
                - "null"
            author_id:
              type:
                - string
                - "null"
            project_id:
              type:
                - number
                - "null"
            story_type:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
            follower_ids:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            iteration_id:
              type:
                - number
                - "null"
            requested_by_id:
              type:
                - string
                - "null"
            workflow_state_id:
              type:
                - number
                - "null"
      STORY_ID:
        type:
          - number
          - "null"
      member_id:
        type:
          - string
          - "null"
      changed_at:
        type: string
      primary_id:
        type:
          - number
          - "null"
      references:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            app_url:
              type:
                - string
                - "null"
            entity_type:
              type:
                - string
                - "null"
    additionalProperties: true
  epics_comments:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      id:
        type: number
      text:
        type:
          - string
          - "null"
      app_url:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      comments:
        type:
          - array
          - "null"
      author_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      entity_type:
        type:
          - string
          - "null"
      mention_ids:
        type:
          - array
          - "null"
[...]
