version: 5.14.0

type: DeclarativeSource

description: >-
  The OpenAQ API provides open access to global air quality data.

  This connector enables you to fetch data from all the streams listed on their
  website such as Locations , Sensors , Measurements and much more.

  Docs : https://docs.openaq.org/using-the-api/quick-start

check:
  type: CheckStream
  stream_names:
    - Instruments

definitions:
  streams:
    Instruments:
      type: DeclarativeStream
      name: Instruments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: instruments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Instruments"
    Instrument:
      type: DeclarativeStream
      name: Instrument
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: instruments/{{ stream_partition.instrument_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: instrument_id
              stream:
                $ref: "#/definitions/streams/Instruments"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Instrument"
    Manufacturers:
      type: DeclarativeStream
      name: Manufacturers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: manufacturers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Manufacturers"
    Manufacturer:
      type: DeclarativeStream
      name: Manufacturer
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: manufacturers/{{ stream_partition.manufacturer_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: manufacturer_id
              stream:
                $ref: "#/definitions/streams/Manufacturers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Manufacturer"
    Manufacturer Instruments:
      type: DeclarativeStream
      name: Manufacturer Instruments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: manufacturers/{{ stream_partition.manufacturer_id }}/instruments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: manufacturer_id
              stream:
                $ref: "#/definitions/streams/Manufacturers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Manufacturer Instruments"
    Locations:
      type: DeclarativeStream
      name: Locations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: locations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Locations"
    Location:
      type: DeclarativeStream
      name: Location
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: locations/{{ stream_partition.location_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: location_id
              stream:
                $ref: "#/definitions/streams/Locations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Location"
    Licenses:
      type: DeclarativeStream
      name: Licenses
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: licenses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Licenses"
    License Instrument:
      type: DeclarativeStream
      name: License Instrument
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: licenses/{{ stream_partition.licenses_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: licenses_id
              stream:
                $ref: "#/definitions/streams/Licenses"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/License Instrument"
    Parameters:
      type: DeclarativeStream
      name: Parameters
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: parameters
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Parameters"
    Parameter:
      type: DeclarativeStream
      name: Parameter
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: parameters/{{ stream_partition.parameters_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parameters_id
              stream:
                $ref: "#/definitions/streams/Parameters"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Parameter"
    Countries:
      type: DeclarativeStream
      name: Countries
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: countries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Countries"
    Country:
      type: DeclarativeStream
      name: Country
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: countries/{{ stream_partition.countries_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: countries_id
              stream:
                $ref: "#/definitions/streams/Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Country"
    Latest Parameters:
      type: DeclarativeStream
      name: Latest Parameters
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: parameters/{{ stream_partition.parameters_id }}/latest
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parameters_id
              stream:
                $ref: "#/definitions/streams/Parameters"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Latest Parameters"
    Sensors:
      type: DeclarativeStream
      name: Sensors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: locations/{{ stream_partition.location_id }}/sensors
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: location_id
              stream:
                $ref: "#/definitions/streams/Locations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Sensors"
    Sensor:
      type: DeclarativeStream
      name: Sensor
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Sensor"
    Providers:
      type: DeclarativeStream
      name: Providers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: providers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Providers"
    Provider:
      type: DeclarativeStream
      name: Provider
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: providers/{{ stream_partition.provider_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: provider_id
              stream:
                $ref: "#/definitions/streams/Providers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Provider"
    Owners:
      type: DeclarativeStream
      name: Owners
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: owners
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Owners"
    Owner:
      type: DeclarativeStream
      name: Owner
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: owners/{{ stream_partition.owner_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: owner_id
              stream:
                $ref: "#/definitions/streams/Owners"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Owner"
    Location’s Latest Measurement:
      type: DeclarativeStream
      name: Location’s Latest Measurement
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: locations/{{ stream_partition.location_id }}/latest
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: location_id
              stream:
                $ref: "#/definitions/streams/Locations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Location’s Latest Measurement"
    Measurements:
      type: DeclarativeStream
      name: Measurements
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/measurements
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements"
    Measurements Aggregated To Day:
      type: DeclarativeStream
      name: Measurements Aggregated To Day
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/days
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated To Day"
    Measurements Aggregated To Year:
      type: DeclarativeStream
      name: Measurements Aggregated To Year
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/years
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated To Year"
    Measurements Aggregated From Day to Year:
      type: DeclarativeStream
      name: Measurements Aggregated From Day to Year
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/days/yearly
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Day to Year"
    Measurements Aggregated From Days to Month:
      type: DeclarativeStream
      name: Measurements Aggregated From Days to Month
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/days/monthly
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Days to Month"
    Measurements Aggregated From Day to Month of Year:
      type: DeclarativeStream
      name: Measurements Aggregated From Day to Month of Year
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/days/monthofyear
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Day to Month of Year"
    Measurements Aggregated From Day to Day Of Week:
      type: DeclarativeStream
      name: Measurements Aggregated From Day to Day Of Week
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/days/dayofweek
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Day to Day Of Week"
    Measurements Aggregated From Hour To Month of Year:
      type: DeclarativeStream
      name: Measurements Aggregated From Hour To Month of Year
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/hours/monthofyear
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Hour To Month of Year"
    Measurements Aggregated From Hour To Day Of Week:
      type: DeclarativeStream
      name: Measurements Aggregated From Hour To Day Of Week
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/hours/dayofweek
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Hour To Day Of Week"
    Measurements Aggregated From Hour To Hour of Day:
      type: DeclarativeStream
      name: Measurements Aggregated From Hour To Hour of Day
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/hours/hourofday
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Hour To Hour of Day"
    Measurements Aggregated From Hour To Year:
      type: DeclarativeStream
      name: Measurements Aggregated From Hour To Year
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/hours/yearly
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Hour To Year"
    Measurements Aggregated From Hours to Monthly:
      type: DeclarativeStream
      name: Measurements Aggregated From Hours to Monthly
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/hours/monthofyear
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Hours to Monthly"
    Measurements Aggregated From Hours to Daily:
      type: DeclarativeStream
      name: Measurements Aggregated From Hours to Daily
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/hours/daily
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated From Hours to Daily"
    Measurements Aggregated To Hour:
      type: DeclarativeStream
      name: Measurements Aggregated To Hour
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/hours
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated To Hour"
    Measurements Aggregated To Daily:
      type: DeclarativeStream
      name: Measurements Aggregated To Daily
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/measurements/daily
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated To Daily"
    Measurements Aggregated To Hourly:
      type: DeclarativeStream
      name: Measurements Aggregated To Hourly
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sensors/{{ stream_partition.sensor_id }}/measurements/hourly
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sensor_id
              stream:
                $ref: "#/definitions/streams/Sensors"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Measurements Aggregated To Hourly"
  base_requester:
    type: HttpRequester
    url_base: https://api.openaq.org/v3/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/Instruments"
  - $ref: "#/definitions/streams/Instrument"
  - $ref: "#/definitions/streams/Manufacturers"
  - $ref: "#/definitions/streams/Manufacturer"
  - $ref: "#/definitions/streams/Manufacturer Instruments"
  - $ref: "#/definitions/streams/Locations"
  - $ref: "#/definitions/streams/Location"
  - $ref: "#/definitions/streams/Licenses"
  - $ref: "#/definitions/streams/License Instrument"
  - $ref: "#/definitions/streams/Parameters"
  - $ref: "#/definitions/streams/Parameter"
  - $ref: "#/definitions/streams/Countries"
  - $ref: "#/definitions/streams/Country"
  - $ref: "#/definitions/streams/Latest Parameters"
  - $ref: "#/definitions/streams/Sensors"
  - $ref: "#/definitions/streams/Sensor"
  - $ref: "#/definitions/streams/Providers"
  - $ref: "#/definitions/streams/Provider"
  - $ref: "#/definitions/streams/Owners"
  - $ref: "#/definitions/streams/Owner"
  - $ref: "#/definitions/streams/Location’s Latest Measurement"
  - $ref: "#/definitions/streams/Measurements"
  - $ref: "#/definitions/streams/Measurements Aggregated To Day"
  - $ref: "#/definitions/streams/Measurements Aggregated To Year"
  - $ref: "#/definitions/streams/Measurements Aggregated From Day to Year"
  - $ref: "#/definitions/streams/Measurements Aggregated From Days to Month"
  - $ref: "#/definitions/streams/Measurements Aggregated From Day to Month of Year"
  - $ref: "#/definitions/streams/Measurements Aggregated From Day to Day Of Week"
  - $ref: "#/definitions/streams/Measurements Aggregated From Hour To Month of Year"
  - $ref: "#/definitions/streams/Measurements Aggregated From Hour To Day Of Week"
  - $ref: "#/definitions/streams/Measurements Aggregated From Hour To Hour of Day"
  - $ref: "#/definitions/streams/Measurements Aggregated From Hour To Year"
  - $ref: "#/definitions/streams/Measurements Aggregated From Hours to Monthly"
  - $ref: "#/definitions/streams/Measurements Aggregated From Hours to Daily"
  - $ref: "#/definitions/streams/Measurements Aggregated To Hour"
  - $ref: "#/definitions/streams/Measurements Aggregated To Daily"
  - $ref: "#/definitions/streams/Measurements Aggregated To Hourly"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    Instruments: true
    Instrument: true
    Manufacturers: true
    Manufacturer: true
    Manufacturer Instruments: true
    Locations: true
    Location: true
    Licenses: true
    License Instrument: true
    Parameters: true
    Parameter: true
    Countries: true
    Country: true
    Latest Parameters: true
    Sensors: true
    Sensor: true
    Providers: true
    Provider: true
    Owners: true
    Owner: true
    Location’s Latest Measurement: true
    Measurements: true
    Measurements Aggregated To Day: true
    Measurements Aggregated To Year: true
    Measurements Aggregated From Day to Year: true
    Measurements Aggregated From Days to Month: true
    Measurements Aggregated From Day to Month of Year: true
    Measurements Aggregated From Day to Day Of Week: true
    Measurements Aggregated From Hour To Month of Year: true
    Measurements Aggregated From Hour To Day Of Week: true
    Measurements Aggregated From Hour To Hour of Day: true
    Measurements Aggregated From Hour To Year: true
    Measurements Aggregated From Hours to Monthly: true
    Measurements Aggregated From Hours to Daily: true
    Measurements Aggregated To Hour: true
    Measurements Aggregated To Daily: true
    Measurements Aggregated To Hourly: true
  testedStreams:
    Instruments:
      hasRecords: true
      streamHash: 8c00147c2e49b52c6ca7d206d19864668bcc9c1a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Instrument:
      hasRecords: true
      streamHash: 002d82d4c95dd9a4a5fd0e705dd2e3af7853675d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Manufacturers:
      hasRecords: true
      streamHash: 7427e5ef4c92e80fe72c95c3ca5dc50c3f716f10
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Manufacturer:
      hasRecords: true
      streamHash: 7ee82e1eb9f116db29e6b634ccb9491699659e3c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Manufacturer Instruments:
      hasRecords: true
      streamHash: 82d486a0088ac4455ffb1b54caa4154d8fa93f24
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Locations:
      streamHash: 449dae1af930ff5801f15fa7c0b3a1ec44ddb96d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Location:
      streamHash: 4ca73bfe2075cc739f111f68f5b09a5955d4a718
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Licenses:
      hasRecords: true
      streamHash: 0926e1bf3e039ee42c299f5e10a0bd3071c7ec9a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    License Instrument:
      hasRecords: true
      streamHash: c565ed287e84c74937c633fbf5c07326b3c5464d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Parameters:
      hasRecords: true
      streamHash: 91a81fa9396fd98fd20985dc78eeeb3acc50c014
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Parameter:
      hasRecords: true
      streamHash: f0952686dc3a9c4f60d61fb4267b62f85fa358af
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Countries:
      hasRecords: true
      streamHash: bf89ea0d442afd12b3d0bead03859d76f175df7d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Country:
      hasRecords: true
      streamHash: 8a459629e18972c2217da59d30c42852c545bfd1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Latest Parameters:
      hasRecords: true
      streamHash: 2ff4a6dabea09aa9654cbe88685f52206044c226
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Sensors:
      hasRecords: true
      streamHash: 2e789f42f1fcb5d49964ba53d17e009587e1e993
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Sensor:
      streamHash: 00b066498d2058b80076de22386463604d3500ea
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Providers:
      hasRecords: true
      streamHash: 0f119597c4b931c9b5d09d5e339097dffe26313c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Provider:
      hasRecords: true
      streamHash: bd02604d2a5b12918b9230a1ecb87f867e8dda2e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Owners:
      hasRecords: true
      streamHash: 913b8fa83486dd135f6f5e9ab6425123b80c248b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Owner:
      hasRecords: true
      streamHash: 52d3d7e65330c301e35aca13cbc61c767d0f5653
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Location’s Latest Measurement:
      streamHash: d306e3decf51b18eb7f39b0166e12090de680044
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements:
      streamHash: ade1f2b73d8165aa42ff6e5237c44b84008f95fe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated To Day:
      streamHash: 018114235192f20b3c94eb8a86969fddc7d36fe0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated To Year:
      streamHash: 214f1962e17fa4de5ee720851061cdf53984b1f6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Day to Year:
      streamHash: e4d1728e7d935b82de5d10230cfa7e2d6b7b04e9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Days to Month:
      streamHash: d993aa247b77089b8b39116f5b528525cf64f6b5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Day to Month of Year:
      streamHash: 843b6445ccab42e752f63fd3fd019301e64a0d57
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Day to Day Of Week:
      streamHash: 47149305d7bd643dea239e5c847b051b85f7c3d9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Hour To Month of Year:
      streamHash: 2b0f91cca3fa3d759f81c9b7affef5ba30dc3797
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Hour To Day Of Week:
      streamHash: fc31aef8a880e0499f624cb5ee7012742d0a7ffc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Hour To Hour of Day:
      streamHash: b73cdeb649e00665c313f8b18ef4ce984a398c0e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Hour To Year:
      streamHash: e33eee35a542473650651a3cf48088fdd1d8b4c6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Hours to Monthly:
      streamHash: 28c4e28205bcf3e991c5dd171381308f0db5a51f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated From Hours to Daily:
      streamHash: 5e3ad4d11808f158e65edae298a082e5fb249abe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated To Hour:
      streamHash: 01c92b5fbfc042efc349d7bc32e1400b10018554
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated To Daily:
      streamHash: c9caf8f44a5de019b3e24f76682aea13adc7f573
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Measurements Aggregated To Hourly:
      streamHash: 436b34d37c1c688e98f768217fffc2e4a142ca8d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Instruments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      isMonitor:
        type:
          - boolean
          - "null"
      manufacturer:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  Instrument:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      meta:
        type:
          - object
          - "null"
        properties:
          found:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          page:
            type:
              - number
              - "null"
          website:
            type:
              - string
              - "null"
      results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            isMonitor:
              type:
                - boolean
                - "null"
            manufacturer:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            name:
              type:
                - string
                - "null"
  Manufacturers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      instruments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  Manufacturer:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      instruments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  Manufacturer Instruments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      isMonitor:
        type:
          - boolean
          - "null"
      manufacturer:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  Locations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bounds:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      coordinates:
        type:
          - object
          - "null"
        properties:
          latitude:
            type:
              - number
              - "null"
          longitude:
            type:
              - number
              - "null"
      country:
        type:
          - object
          - "null"
        properties:
          code:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      datetimeFirst:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      datetimeLast:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      id:
        type: number
      instruments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      isMobile:
        type:
          - boolean
          - "null"
      isMonitor:
        type:
          - boolean
          - "null"
      licenses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            attribution:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
            dateFrom:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      locality:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      provider:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      sensors:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            parameter:
              type:
                - object
                - "null"
              properties:
                displayName:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                units:
                  type:
                    - string
                    - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - id
  Location:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bounds:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      coordinates:
        type:
          - object
          - "null"
        properties:
          latitude:
            type:
              - number
              - "null"
          longitude:
            type:
              - number
              - "null"
      country:
        type:
          - object
          - "null"
        properties:
          code:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      datetimeFirst:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      datetimeLast:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      id:
        type: number
      instruments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      isMobile:
        type:
          - boolean
          - "null"
      isMonitor:
        type:
          - boolean
          - "null"
      locality:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      provider:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      sensors:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            parameter:
              type:
                - object
                - "null"
              properties:
                displayName:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                units:
                  type:
                    - string
                    - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - id
  Licenses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attributionRequired:
        type:
          - boolean
          - "null"
      commercialUseAllowed:
        type:
          - boolean
          - "null"
      id:
        type:
          - number
          - "null"
      modificationAllowed:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      redistributionAllowed:
        type:
          - boolean
          - "null"
      shareAlikeRequired:
        type:
          - boolean
          - "null"
      sourceUrl:
        type:
          - string
          - "null"
  License Instrument:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attributionRequired:
        type:
          - boolean
          - "null"
      commercialUseAllowed:
        type:
          - boolean
          - "null"
      id:
        type: number
      modificationAllowed:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      redistributionAllowed:
        type:
          - boolean
          - "null"
      shareAlikeRequired:
        type:
          - boolean
          - "null"
      sourceUrl:
        type:
          - string
          - "null"
    required:
      - id
  Parameters:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      displayName:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      units:
        type:
          - string
          - "null"
    required:
      - id
  Parameter:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      displayName:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      units:
        type:
          - string
          - "null"
  Countries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type:
          - string
          - "null"
      datetimeFirst:
        type:
          - string
          - "null"
      datetimeLast:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      parameters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            units:
              type:
                - string
                - "null"
    required:
      - id
  Country:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type:
          - string
          - "null"
      datetimeFirst:
        type:
          - string
          - "null"
      datetimeLast:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      parameters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            units:
              type:
                - string
                - "null"
  Latest Parameters:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coordinates:
        type:
          - object
          - "null"
        properties:
          latitude:
            type:
              - number
              - "null"
          longitude:
            type:
              - number
              - "null"
      datetime:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      locationsId:
        type:
          - number
          - "null"
      sensorsId:
        type:
          - number
          - "null"
      value:
        type:
          - number
          - "null"
  Sensors:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      datetimeFirst:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      datetimeLast:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      id:
        type: number
      latest:
        type:
          - object
          - "null"
        properties:
          coordinates:
            type:
              - object
              - "null"
            properties:
              latitude:
                type:
                  - number
                  - "null"
              longitude:
                type:
                  - number
                  - "null"
          datetime:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          value:
            type:
              - number
              - "null"
      name:
        type:
          - string
          - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          displayName:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      summary:
        type:
          - object
          - "null"
        properties:
          avg:
            type:
              - number
              - "null"
          max:
            type:
              - number
              - "null"
          min:
            type:
              - number
              - "null"
    required:
      - id
  Sensor:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      datetimeFirst:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      datetimeLast:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      id:
        type: number
      latest:
        type:
          - object
          - "null"
        properties:
          coordinates:
            type:
              - object
              - "null"
            properties:
              latitude:
                type:
                  - number
                  - "null"
              longitude:
                type:
                  - number
                  - "null"
          datetime:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          value:
            type:
              - number
              - "null"
      name:
        type:
          - string
          - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          displayName:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      summary:
        type:
          - object
          - "null"
        properties:
          avg:
            type:
              - number
              - "null"
          max:
            type:
              - number
              - "null"
          min:
            type:
              - number
              - "null"
    required:
      - id
  Providers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bbox:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          coordinates:
            type:
              - array
              - "null"
            items:
              anyOf:
                - type: number
                - type: array
                  items:
                    type: array
                    items:
                      type: number
      datetimeAdded:
        type:
          - string
          - "null"
      datetimeFirst:
        type:
          - string
          - "null"
      datetimeLast:
        type:
          - string
          - "null"
      entitiesId:
        type:
          - number
          - "null"
      exportPrefix:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      parameters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            units:
              type:
                - string
                - "null"
      sourceName:
        type:
          - string
          - "null"
    required:
      - id
  Provider:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bbox:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          coordinates:
            type:
              - array
              - "null"
            items:
              type:
                - array
                - "null"
              items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
      datetimeAdded:
        type:
          - string
          - "null"
      datetimeFirst:
        type:
          - string
          - "null"
      datetimeLast:
        type:
          - string
          - "null"
      entitiesId:
        type:
          - number
          - "null"
      exportPrefix:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      parameters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            units:
              type:
                - string
                - "null"
      sourceName:
        type:
          - string
          - "null"
    required:
      - id
  Owners:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  Owner:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  Location’s Latest Measurement:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coordinates:
        type:
          - object
          - "null"
        properties:
          latitude:
            type:
              - number
              - "null"
          longitude:
            type:
              - number
              - "null"
      datetime:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          utc:
            type:
              - string
              - "null"
      locationsId:
        type:
          - number
          - "null"
      sensorsId:
        type:
          - number
          - "null"
      value:
        type:
          - number
          - "null"
  Measurements:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      period:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          interval:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
      value:
        type:
          - number
          - "null"
  Measurements Aggregated To Day:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      period:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          interval:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
      summary:
        type:
          - object
          - "null"
        properties:
          avg:
            type:
              - number
              - "null"
          max:
            type:
              - number
              - "null"
          median:
            type:
              - number
              - "null"
          min:
            type:
              - number
              - "null"
          q02:
            type:
              - number
              - "null"
          q25:
            type:
              - number
              - "null"
          q75:
            type:
              - number
              - "null"
          q98:
            type:
              - number
              - "null"
          sd:
            type:
              - number
              - "null"
      value:
        type:
          - number
          - "null"
  Measurements Aggregated To Year:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      period:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          interval:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
      summary:
        type:
          - object
          - "null"
        properties:
          avg:
            type:
              - number
              - "null"
          max:
            type:
              - number
              - "null"
          median:
            type:
              - number
              - "null"
          min:
            type:
              - number
              - "null"
          q02:
            type:
              - number
              - "null"
          q25:
            type:
              - number
              - "null"
          q75:
            type:
              - number
              - "null"
          q98:
            type:
              - number
              - "null"
          sd:
            type:
              - number
              - "null"
      value:
        type:
          - number
          - "null"
  Measurements Aggregated From Day to Year:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      period:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          interval:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
      summary:
        type:
          - object
          - "null"
        properties:
          avg:
            type:
              - number
              - "null"
          max:
            type:
              - number
              - "null"
          median:
            type:
              - number
              - "null"
          min:
            type:
              - number
              - "null"
          q02:
            type:
              - number
              - "null"
          q25:
            type:
              - number
              - "null"
          q75:
            type:
              - number
              - "null"
          q98:
            type:
              - number
              - "null"
          sd:
            type:
              - number
              - "null"
      value:
        type:
          - number
          - "null"
  Measurements Aggregated From Days to Month:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      period:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          interval:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
      summary:
        type:
          - object
          - "null"
        properties:
          avg:
            type:
              - number
              - "null"
          max:
            type:
              - number
              - "null"
          median:
            type:
              - number
              - "null"
          min:
            type:
              - number
              - "null"
          q02:
            type:
              - number
              - "null"
          q25:
            type:
              - number
              - "null"
          q75:
            type:
              - number
              - "null"
          q98:
            type:
              - number
              - "null"
          sd:
            type:
              - number
              - "null"
      value:
        type:
          - number
          - "null"
  Measurements Aggregated From Day to Month of Year:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      period:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          interval:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
      summary:
        type:
          - object
          - "null"
        properties:
          avg:
            type:
              - number
              - "null"
          max:
            type:
              - number
              - "null"
          median:
            type:
              - number
              - "null"
          min:
            type:
              - number
              - "null"
          q02:
            type:
              - number
              - "null"
          q25:
            type:
              - number
              - "null"
          q75:
            type:
              - number
              - "null"
          q98:
            type:
              - number
              - "null"
          sd:
            type:
              - number
              - "null"
      value:
        type:
          - number
          - "null"
  Measurements Aggregated From Day to Day Of Week:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      period:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          interval:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
      summary:
        type:
          - object
          - "null"
        properties:
          avg:
            type:
              - number
              - "null"
          max:
            type:
              - number
              - "null"
          median:
            type:
              - number
              - "null"
          min:
            type:
              - number
              - "null"
          q02:
            type:
              - number
              - "null"
          q25:
            type:
              - number
              - "null"
          q75:
            type:
              - number
              - "null"
          q98:
            type:
              - number
              - "null"
          sd:
            type:
              - number
              - "null"
      value:
        type:
          - number
          - "null"
  Measurements Aggregated From Hour To Month of Year:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      coverage:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          datetimeTo:
            type:
              - object
              - "null"
            properties:
              local:
                type:
                  - string
                  - "null"
              utc:
                type:
                  - string
                  - "null"
          expectedCount:
            type:
              - number
              - "null"
          expectedInterval:
            type:
              - string
              - "null"
          observedCount:
            type:
              - number
              - "null"
          observedInterval:
            type:
              - string
              - "null"
          percentComplete:
            type:
              - number
              - "null"
          percentCoverage:
            type:
              - number
              - "null"
      parameter:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          units:
            type:
              - string
              - "null"
      period:
        type:
          - object
          - "null"
        properties:
          datetimeFrom:
            type:
[...]
