.buttonWithMargin {
  margin-right: 12px;
}

.content {
  width: 585px;
  font-size: 14px;
  padding: 25px;
  white-space: pre-line;
}

.buttonContent {
  margin-top: 26px;
  display: flex;
  justify-content: flex-end;
}
