version: 6.1.0

type: DeclarativeSource

description: Update api to v5

check:
  type: CheckStream
  stream_names:
    - campaigns

definitions:
  streams:
    adgroups:
      type: DeclarativeStream
      name: adgroups
      selector:
        extractor:
          field_path:
            - data
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns/{{ stream_slice.campaign_id }}/adgroups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/campaigns"
              parent_key: id
              partition_field: campaign_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adgroups"
    keywords:
      type: DeclarativeStream
      name: keywords
      selector:
        extractor:
          field_path:
            - data
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /campaigns/{{ stream_slice.parent_slice.campaign_id }}/adgroups/{{
            stream_slice.adgroup_id }}/targetingkeywords
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/adgroups"
              parent_key: id
              partition_field: adgroup_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/keywords"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      selector:
        extractor:
          field_path:
            - data
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    adgroups_report_daily:
      type: DeclarativeStream
      name: adgroups_report_daily
      selector:
        extractor:
          field_path:
            - data
            - reportingDataResponse
            - row
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/campaigns/{{ stream_slice.campaign_id }}/adgroups
          http_method: POST
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          request_body_json:
            endTime: "{{ stream_slice.end_time }}"
            groupBy: "[ 'countryOrRegion' ]"
            selector: >-
              { "orderBy": [ { "field": "countryOrRegion", "sortOrder":
              "ASCENDING" } ] }
            timeZone: UTC
            startTime: "{{ stream_slice.start_time }}"
            granularity: "{{ parameters.granularity }}"
            returnRowTotals: "true"
            returnGrandTotals: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - reportingDataResponse
              - row
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/campaigns"
              parent_key: id
              partition_field: campaign_id
      primary_key:
        - date
        - adGroupId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adgroups_report_daily"
      transformations:
        - type: AddFields
          fields:
            - path:
                - adGroupId
              value: "{{ record.metadata.adGroupId }}"
        - type: AddFields
          fields:
            - path:
                - date
              value: "{{ stream_slice.start_time }}"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1D
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.end_date or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.start_date }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        lookback_window: P30D
        cursor_granularity: P1D
        cursor_datetime_formats:
          - "%Y-%m-%d"
    keywords_report_daily:
      type: DeclarativeStream
      name: keywords_report_daily
      selector:
        extractor:
          field_path:
            - data
            - reportingDataResponse
            - row
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/campaigns/{{ stream_slice.campaign_id }}/keywords
          http_method: POST
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                predicate: >-
                  {{ 'CAMPAIGN DOES NOT CONTAIN KEYWORD' in
                  response.error.errors[0].message }}
              - type: HttpResponseFilter
                action: RETRY
                http_codes:
                  - 500
                  - 429
            backoff_strategies:
              - type: ExponentialBackoffStrategy
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          request_body_json:
            endTime: "{{ stream_slice.end_time }}"
            groupBy: "[ 'countryOrRegion' ]"
            selector: >-
              { "orderBy": [ { "field": "countryOrRegion", "sortOrder":
              "ASCENDING" } ] }
            timeZone: UTC
            startTime: "{{ stream_slice.start_time }}"
            granularity: "{{ parameters.granularity }}"
            returnRowTotals: "true"
            returnGrandTotals: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - reportingDataResponse
              - row
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/campaigns"
              parent_key: id
              partition_field: campaign_id
      primary_key:
        - date
        - keywordId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/keywords_report_daily"
      transformations:
        - type: AddFields
          fields:
            - path:
                - keywordId
              value: "{{ record.metadata.keywordId }}"
        - type: AddFields
          fields:
            - path:
                - date
              value: "{{ stream_slice.start_time }}"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1D
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.end_date or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.start_date }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        lookback_window: P30D
        cursor_granularity: P1D
        cursor_datetime_formats:
          - "%Y-%m-%d"
    campaigns_report_daily:
      type: DeclarativeStream
      name: campaigns_report_daily
      selector:
        extractor:
          field_path:
            - data
            - reportingDataResponse
            - row
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/campaigns
          http_method: POST
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 429
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
          request_headers:
            X-AP-Context: orgId={{ config.org_id }}
          request_body_json:
            endTime: "{{ stream_slice.end_time }}"
            groupBy: "[ 'countryOrRegion' ]"
            selector: >-
              { "orderBy": [ { "field": "countryOrRegion", "sortOrder":
              "ASCENDING" } ] }
            timeZone: UTC
            startTime: "{{ stream_slice.start_time }}"
            granularity: "{{ parameters.granularity }}"
            returnRowTotals: "true"
            returnGrandTotals: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - reportingDataResponse
              - row
      primary_key:
        - date
        - campaignId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns_report_daily"
      transformations:
        - type: AddFields
          fields:
            - path:
                - campaignId
              value: "{{ record.metadata.campaignId }}"
        - type: AddFields
          fields:
            - path:
                - date
              value: "{{ stream_slice.start_time }}"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1D
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.end_date or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.start_date }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        lookback_window: P30D
        cursor_granularity: P1D
        cursor_datetime_formats:
          - "%Y-%m-%d"
  base_requester:
    type: HttpRequester
    url_base: https://api.searchads.apple.com/api/v5
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config.client_id }}"
      grant_type: client_credentials
      client_secret: "{{ config.client_secret }}"
      token_refresh_endpoint: >-
        https://appleid.apple.com/auth/oauth2/token?grant_type=client_credentials&scope=searchadsorg

streams:
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/adgroups"
  - $ref: "#/definitions/streams/keywords"
  - $ref: "#/definitions/streams/campaigns_report_daily"
  - $ref: "#/definitions/streams/adgroups_report_daily"
  - $ref: "#/definitions/streams/keywords_report_daily"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - org_id
      - client_id
      - start_date
      - client_secret
    properties:
      org_id:
        type: integer
        description: >-
          The identifier of the organization that owns the campaign. Your Org Id
          is the same as your account in the Apple Search Ads UI.
        order: 0
        title: Org Id
      end_date:
        type: string
        description: Data is retrieved until that date (included)
        order: 1
        title: End Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2021-01-01"
      client_id:
        type: string
        description: >-
          A user identifier for the token request. See <a
          href="https://developer.apple.com/documentation/apple_search_ads/implementing_oauth_for_the_apple_search_ads_api">here</a>
        order: 2
        title: Client Id
        airbyte_secret: true
      start_date:
        type: string
        description: Start getting data from that date.
        order: 3
        title: Start Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2020-01-01"
      client_secret:
        type: string
        description: >-
          A string that authenticates the user’s setup request. See <a
          href="https://developer.apple.com/documentation/apple_search_ads/implementing_oauth_for_the_apple_search_ads_api">here</a>
        order: 4
        title: Client Secret
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    adgroups:
      hasRecords: true
      streamHash: 0f8464e6642e3d5baa58b8b18cea96239e3c53aa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    keywords:
      hasRecords: true
      streamHash: b7d503bd9aed80fc98dfd89b884c39ae2f359857
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaigns:
      hasRecords: true
      streamHash: 6e53e2663ccc694ad6df7c0c4da2399a1e6d06ed
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    adgroups_report_daily:
      hasRecords: true
      streamHash: 55ad5aedde5041f3bb923f727a99542f166ba0f2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    keywords_report_daily:
      hasRecords: true
      streamHash: 1210b36a4651ab4d54631e454944e8a1c0ba6e2a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaigns_report_daily:
      hasRecords: true
      streamHash: 8a56b214f9fbd2bb076ae3ae6dbc3e89b4f6dea7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  yamlComponents:
    streams:
      keywords_report_daily:
        - errorHandler
    global:
      - authenticator
  autoImportSchema:
    adgroups: true
    keywords: true
    campaigns: true
    adgroups_report_daily: true
    keywords_report_daily: false
    campaigns_report_daily: true

schemas:
  adgroups:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      orgId:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      cpaGoal:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      deleted:
        type:
          - boolean
          - "null"
      startTime:
        type:
          - string
          - "null"
      campaignId:
        type:
          - number
          - "null"
      creationTime:
        type:
          - string
          - "null"
      pricingModel:
        type:
          - string
          - "null"
      displayStatus:
        type:
          - string
          - "null"
      servingStatus:
        type:
          - string
          - "null"
      defaultBidAmount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      modificationTime:
        type:
          - string
          - "null"
      targetingDimensions:
        type:
          - object
          - "null"
        properties:
          deviceClass:
            type:
              - object
              - "null"
            properties:
              included:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          appCategories:
            type:
              - object
              - "null"
            properties: {}
          appDownloaders:
            type:
              - object
              - "null"
            properties:
              excluded:
                type:
                  - array
                  - "null"
              included:
                type:
                  - array
                  - "null"
      automatedKeywordsOptIn:
        type:
          - boolean
          - "null"
    additionalProperties: true
  keywords:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      text:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      adGroupId:
        type:
          - number
          - "null"
      bidAmount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      matchType:
        type:
          - string
          - "null"
      campaignId:
        type:
          - number
          - "null"
      creationTime:
        type:
          - string
          - "null"
      modificationTime:
        type:
          - string
          - "null"
    additionalProperties: true
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      orgId:
        type:
          - number
          - "null"
      adamId:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      startTime:
        type:
          - string
          - "null"
      billingEvent:
        type:
          - string
          - "null"
      budgetAmount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      budgetOrders:
        type:
          - array
          - "null"
      creationTime:
        type:
          - string
          - "null"
      paymentModel:
        type:
          - string
          - "null"
      adChannelType:
        type:
          - string
          - "null"
      displayStatus:
        type:
          - string
          - "null"
      servingStatus:
        type:
          - string
          - "null"
      supplySources:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      modificationTime:
        type:
          - string
          - "null"
      sapinLawResponse:
        type:
          - string
          - "null"
      dailyBudgetAmount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
      locInvoiceDetails:
        type:
          - object
          - "null"
        properties:
          buyerName:
            type:
              - string
              - "null"
          buyerEmail:
            type:
              - string
              - "null"
          clientName:
            type:
              - string
              - "null"
          orderNumber:
            type:
              - string
              - "null"
          billingContactEmail:
            type:
              - string
              - "null"
      countriesOrRegions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      servingStateReasons:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      countryOrRegionServingStateReasons:
        type:
          - object
          - "null"
        properties:
          JP:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          KR:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          US:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          VN:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
    additionalProperties: true
  adgroups_report_daily:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - adGroupId
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          orgId:
            type:
              - number
              - "null"
          deleted:
            type:
              - boolean
              - "null"
          adGroupId:
            type:
              - number
              - "null"
          startTime:
            type:
              - string
              - "null"
          campaignId:
            type:
              - number
              - "null"
          adGroupName:
            type:
              - string
              - "null"
          pricingModel:
            type:
              - string
              - "null"
          adGroupStatus:
            type:
              - string
              - "null"
          countryOrRegion:
            type:
              - string
              - "null"
          defaultBidAmount:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          modificationTime:
            type:
              - string
              - "null"
          adGroupDisplayStatus:
            type:
              - string
              - "null"
          adGroupServingStatus:
            type:
              - string
              - "null"
          automatedKeywordsOptIn:
            type:
              - boolean
              - "null"
      date:
        type: string
      other:
        type:
          - boolean
          - "null"
      total:
        type:
          - object
          - "null"
        properties:
          ttr:
            type:
              - number
              - "null"
          taps:
            type:
              - number
              - "null"
          avgCPM:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          avgCPT:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          localSpend:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          impressions:
            type:
              - number
              - "null"
          tapInstalls:
            type:
              - number
              - "null"
          totalAvgCPI:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          viewInstalls:
            type:
              - number
              - "null"
          tapInstallCPI:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          totalInstalls:
            type:
              - number
              - "null"
          tapInstallRate:
            type:
              - number
              - "null"
          tapRedownloads:
            type:
              - number
              - "null"
          tapNewDownloads:
            type:
              - number
              - "null"
          viewRedownloads:
            type:
              - number
              - "null"
          totalInstallRate:
            type:
              - number
              - "null"
          totalRedownloads:
            type:
              - number
              - "null"
          viewNewDownloads:
            type:
              - number
              - "null"
          totalNewDownloads:
            type:
              - number
              - "null"
      adGroupId:
        type: number
    additionalProperties: true
  keywords_report_daily:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - keywordId
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          orgId:
            type:
              - number
              - "null"
          deleted:
            type:
              - boolean
              - "null"
          keyword:
            type:
              - string
              - "null"
          adGroupId:
            type:
              - number
              - "null"
          bidAmount:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          keywordId:
            type:
              - number
              - "null"
          matchType:
            type:
              - string
              - "null"
          campaignId:
            type:
              - number
              - "null"
          adGroupName:
            type:
              - string
              - "null"
          keywordStatus:
            type:
              - string
              - "null"
          adGroupDeleted:
            type:
              - boolean
              - "null"
          countryOrRegion:
            type:
              - string
              - "null"
          modificationTime:
            type:
              - string
              - "null"
          keywordDisplayStatus:
            type:
              - string
              - "null"
      date:
        type: string
      other:
        type:
          - boolean
          - "null"
      total:
        type:
          - object
          - "null"
        properties:
          ttr:
            type:
              - number
              - "null"
          taps:
            type:
              - number
              - "null"
          avgCPT:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          localSpend:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          impressions:
            type:
              - number
              - "null"
          tapInstalls:
            type:
              - number
              - "null"
          totalAvgCPI:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          viewInstalls:
            type:
              - number
              - "null"
          tapInstallCPI:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          totalInstalls:
            type:
              - number
              - "null"
          tapInstallRate:
            type:
              - number
              - "null"
          tapRedownloads:
            type:
              - number
              - "null"
          tapNewDownloads:
            type:
              - number
              - "null"
          viewRedownloads:
            type:
              - number
              - "null"
          totalInstallRate:
            type:
              - number
              - "null"
          totalRedownloads:
            type:
              - number
              - "null"
          viewNewDownloads:
            type:
              - number
              - "null"
          totalNewDownloads:
            type:
              - number
              - "null"
      insights:
        type:
          - object
          - "null"
        properties:
          bidRecommendation:
            type:
              - object
              - "null"
            properties: {}
      keywordId:
        type: number
    additionalProperties: true
  campaigns_report_daily:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - campaignId
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          app:
            type:
              - object
              - "null"
            properties:
              adamId:
                type:
                  - number
                  - "null"
              appName:
                type:
                  - string
                  - "null"
          orgId:
            type:
              - number
              - "null"
          deleted:
            type:
              - boolean
              - "null"
          campaignId:
            type:
              - number
              - "null"
          dailyBudget:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          billingEvent:
            type:
              - string
              - "null"
          campaignName:
            type:
              - string
              - "null"
          adChannelType:
            type:
              - string
              - "null"
          displayStatus:
            type:
              - string
              - "null"
          servingStatus:
            type:
              - string
              - "null"
          supplySources:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          campaignStatus:
            type:
              - string
              - "null"
          countryOrRegion:
            type:
              - string
              - "null"
          modificationTime:
            type:
              - string
              - "null"
          countriesOrRegions:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          servingStateReasons:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          countryOrRegionServingStateReasons:
            type:
              - object
              - "null"
      date:
        type: string
      other:
        type:
          - boolean
          - "null"
      total:
        type:
          - object
          - "null"
        properties:
          ttr:
            type:
              - number
              - "null"
          taps:
            type:
              - number
              - "null"
          avgCPM:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          avgCPT:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          localSpend:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          impressions:
            type:
              - number
              - "null"
          tapInstalls:
            type:
              - number
              - "null"
          totalAvgCPI:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          viewInstalls:
            type:
              - number
              - "null"
          tapInstallCPI:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          totalInstalls:
            type:
              - number
              - "null"
          tapInstallRate:
            type:
              - number
              - "null"
          tapRedownloads:
            type:
              - number
              - "null"
          tapNewDownloads:
            type:
              - number
              - "null"
          viewRedownloads:
            type:
              - number
              - "null"
          totalInstallRate:
            type:
              - number
              - "null"
          totalRedownloads:
            type:
              - number
              - "null"
          viewNewDownloads:
            type:
              - number
              - "null"
          totalNewDownloads:
            type:
              - number
              - "null"
      campaignId:
        type: number
    additionalProperties: true
