version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - sites

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/google-search-console
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Google Search Console Spec
    type: object
    required:
    - site_urls
    - authorization
    properties:
      site_urls:
        type: array
        items:
          type: string
        title: Website URL Property
        description: The URLs of the website property attached to your GSC account.
          Learn more about properties <a href="https://support.google.com/webmasters/answer/34592?hl=en">here</a>.
        examples:
        - https://example1.com/
        - sc-domain:example2.com
        order: 0
      start_date:
        type: string
        title: Start Date
        description: UTC date in the format YYYY-MM-DD. Any data before this date will
          not be replicated.
        default: '2021-01-01'
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        pattern_descriptor: YYYY-MM-DD
        always_show: true
        order: 1
        format: date
      end_date:
        type: string
        title: End Date
        description: UTC date in the format YYYY-MM-DD. Any data created after this
          date will not be replicated. Must be greater or equal to the start date field.
          Leaving this field blank will replicate all data from the start date onward.
        examples:
        - '2021-12-12'
        pattern: ^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        pattern_descriptor: YYYY-MM-DD
        order: 2
        format: date
      authorization:
        type: object
        title: Authentication Type
        description: ''
        order: 3
        oneOf:
        - title: OAuth
          type: object
          required:
          - auth_type
          - client_id
          - client_secret
          - refresh_token
          properties:
            auth_type:
              type: string
              const: Client
              order: 0
            client_id:
              title: Client ID
              type: string
              description: The client ID of your Google Search Console developer application.
                Read more <a href="https://developers.google.com/webmaster-tools/v1/how-tos/authorizing">here</a>.
              airbyte_secret: true
            client_secret:
              title: Client Secret
              type: string
              description: The client secret of your Google Search Console developer
                application. Read more <a href="https://developers.google.com/webmaster-tools/v1/how-tos/authorizing">here</a>.
              airbyte_secret: true
            access_token:
              title: Access Token
              type: string
              description: Access token for making authenticated requests. Read more
                <a href="https://developers.google.com/webmaster-tools/v1/how-tos/authorizing">here</a>.
              airbyte_secret: true
            refresh_token:
              title: Refresh Token
              type: string
              description: The token for obtaining a new access token. Read more <a
                href="https://developers.google.com/webmaster-tools/v1/how-tos/authorizing">here</a>.
              airbyte_secret: true
        - type: object
          title: Service Account Key Authentication
          required:
          - auth_type
          - service_account_info
          - email
          properties:
            auth_type:
              type: string
              const: Service
              order: 0
            service_account_info:
              title: Service Account JSON Key
              type: string
              description: The JSON key of the service account to use for authorization.
                Read more <a href="https://cloud.google.com/iam/docs/creating-managing-service-account-keys">here</a>.
              examples:
              - '{ "type": "service_account", "project_id": YOUR_PROJECT_ID, "private_key_id":
                YOUR_PRIVATE_KEY, ... }'
              airbyte_secret: true
            email:
              title: Admin Email
              type: string
              description: The email of the user which has permissions to access the
                Google Workspace Admin APIs.
      custom_reports:
        order: 4
        type: string
        title: Custom Reports
        airbyte_hidden: true
        description: (DEPRCATED) A JSON array describing the custom reports you want
          to sync from Google Search Console. See our <a href='https://docs.airbyte.com/integrations/sources/google-search-console'>documentation</a>
          for more information on formulating custom reports.
      custom_reports_array:
        title: Custom Reports
        description: You can add your Custom Analytics report by creating one.
        order: 5
        type: array
        items:
          title: Custom Report Config
          type: object
          properties:
            name:
              title: Name
              description: The name of the custom report, this name would be used as
                stream name
              type: string
            dimensions:
              title: Dimensions
              description: A list of available dimensions. Please note, that for technical
                reasons `date` is the default dimension which will be included in your
                query whether you specify it or not. Primary key will consist of your
                custom dimensions and the default dimension along with `site_url` and
                `search_type`.
              type: array
              items:
                title: ValidEnums
                description: An enumeration of dimensions.
                enum:
                - country
                - date
                - device
                - page
                - query
              default:
              - date
              minItems: 0
          required:
          - name
          - dimensions
      data_state:
        type: string
        title: Data Freshness
        enum:
        - final
        - all
        description: If set to 'final', the returned data will include only finalized,
          stable data. If set to 'all', fresh data will be included. When using Incremental
          sync mode, we do not recommend setting this parameter to 'all' as it may cause
          data loss. More information can be found in our <a href='https://docs.airbyte.com/integrations/source/google-search-console'>full
          documentation</a>.
        examples:
        - final
        - all
        default: final
        order: 6
      num_workers:
        type: integer
        title: Number of concurrent workers
        minimum: 2
        maximum: 100
        default: 40
        examples:
        - 30
        - 40
        - 50
        description: The number of worker threads to use for the sync. For more details on Google Search Console rate limits, refer to the <a href="https://developers.google.com/webmaster-tools/limits">docs</a>.
        order: 7
      always_use_aggregation_type_auto:
        type: boolean
        title: Always Use Aggregation Type Auto
        description: Some search analytics streams fail with a 400 error if the specified
          `aggregationType` is not supported. This is customer implementation dependent
          and if this error is encountered, enable this setting which will override
          the existing `aggregationType` to use `auto` which should resolve the stream
          errors.
        default: false
        order: 8
      requests_per_minute:
        type: integer
        title: Search Analytics API Requests Per Minute
        minimum: 1
        maximum: 1200
        default: 1200
        examples:
        - 60
        - 300
        - 1200
        description: The maximum number of requests per minute for Search Analytics
          API calls. The default (1200) matches Google's documented maximum quota.
          If you are experiencing rate limit errors, you may need to lower this value.
          Most new Google Cloud projects start with a quota of 60 requests per minute.
          Check your Google Cloud Console quotas to see your actual limit.
        order: 9
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
    - authorization
    - auth_type
    predicate_value: Client
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        properties:
          access_token:
            type: string
            path_in_connector_config:
            - authorization
            - access_token
          refresh_token:
            type: string
            path_in_connector_config:
            - authorization
            - refresh_token
      complete_oauth_server_input_specification:
        type: object
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        properties:
          client_id:
            type: string
            path_in_connector_config:
            - authorization
            - client_id
          client_secret:
            type: string
            path_in_connector_config:
            - authorization
            - client_secret
  config_normalization_rules:
    type: ConfigNormalizationRules
    config_migrations:
      - type: ConfigMigration
        description: Migrate the custom_reports config to the new custom_reports_array format
        transformations:
          - type: ConfigAddFields
            # Note that during jinja interpolation of the `custom_reports` value, jinja infers the datatype of the value.
            # Therefore no conversion is needed to convert the string to a list. And if the value is already a list, it
            # will remain a list.
            fields:
              - type: AddedFieldDefinition
                path: ["custom_reports_array"]
                value: "{{ config['custom_reports'] }}"
            condition: "{{ config.get('custom_reports', False) }}"
    validations:
      - type: DpathValidator
        field_path: ["custom_reports_array"]
        validation_strategy:
          type: ValidateAdheresToSchema
          base_schema:
            type:
              - array
            items:
              type: object
              required:
                - name
                - dimensions
              properties:
                dimensions:
                  type: array
                  items:
                    type: string
                    minLength: 1
                name:
                  type: string
                  minLength: 1
      - type: DpathValidator
        field_path: ["custom_reports_array", "*", "dimensions"]
        validation_strategy:
          type: ValidateAdheresToSchema
          base_schema:
            type:
              - array
              - "null"
            items:
              type: string
              enum:
                - country
                - date
                - device
                - page
                - query

definitions:
  search_analytics_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: ConstantBackoffStrategy
        backoff_time_in_seconds: 60
    response_filters:
      - type: HttpResponseFilter
        action: RATE_LIMITED
        error_message_contains: "Search Analytics QPS quota exceeded"
      - type: HttpResponseFilter
        action: IGNORE
        error_message_contains: "User does not have sufficient permission"
        error_message: "{{ response['error']['message'] }}"
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 400
        error_message: >-
          Invalid aggregationType '{{ parameters.get('aggregationType') }}' used in the body of the API request. If you see this error, enable the
          'always_use_aggregation_type_auto' config setting which will automatically use aggregationType=auto

  oauth_authenticator:
    type: OAuthAuthenticator
    client_id: "{{ config.get('authorization', {}).get('client_id') }}"
    client_secret: "{{ config.get('authorization', {}).get('client_secret') }}"
    refresh_token: "{{ config.get('authorization', {}).get('refresh_token') }}"
    token_refresh_endpoint: "https://oauth2.googleapis.com/token"

  jwt_profile_assertion_oauth_authenticator:
    type: OAuthAuthenticator
    token_refresh_endpoint: https://oauth2.googleapis.com/token
    refresh_request_headers:
      Content-Type: application/x-www-form-urlencoded
    use_profile_assertion: true
    profile_assertion:
      type: JwtAuthenticator
      secret_key: "{{ json_loads(config.get('authorization', {}).get('service_account_info', {})).get('private_key') }}"
      algorithm: "RS256"
      token_duration: 3600
      jwt_payload:
        aud: "{{ json_loads(config.get('authorization', {}).get('service_account_info', {})).get('token_uri') }}"
        iss: "{{ json_loads(config.get('authorization', {}).get('service_account_info', {})).get('client_email') }}"
      additional_jwt_payload:
        scope: "https://www.googleapis.com/auth/webmasters.readonly"

  selective_authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["authorization", "auth_type"]
    authenticators:
      Client: "#/definitions/oauth_authenticator"
      Service: "#/definitions/jwt_profile_assertion_oauth_authenticator"

  base_search_analytics_stream:
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.googleapis.com/webmasters/v3
        path: "/sites/{{  sanitize_url(stream_partition.get('site_url')) }}/searchAnalytics/query"
        http_method: POST
        authenticator: "#/definitions/selective_authenticator"
        request_headers:
          Content-Type: "application/json"
        request_body_json:
          startDate: "{{ stream_interval.get('start_time') }}"
          endDate: "{{ stream_interval.get('end_time') }}"
          dimensions: "{{ parameters['dimensions'] }}"
          type: "{{ stream_partition.get('search_type') }}"
          aggregationType: "{{ 'auto' if config.get('always_use_aggregation_type_auto') else parameters.get('aggregationType') }}"
          dataState: "{{ config.get('data_state', 'final') }}"
        error_handler:
          $ref: "#/definitions/search_analytics_error_handler"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: startRow
          inject_into: body_json
        page_size_option:
          type: RequestOption
          field_name: rowLimit
          inject_into: body_json
        pagination_strategy:
          type: OffsetIncrement
          page_size: 25000
          inject_on_first_request: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - rows
      partition_router:
        - type: ListPartitionRouter
          values: "{{ config['site_urls'] }}"
          cursor_field: site_url
        - type: ListPartitionRouter
          values: "{{ parameters['search_types'] }}"
          cursor_field: search_type
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      cursor_datetime_formats:
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', '2021-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('end_date', today_utc()) }}"
        datetime_format: "%Y-%m-%d"
      step: P3D
      cursor_granularity: P1D
    state_migrations:
      - type: CustomStateMigration
        class_name: source_declarative_manifest.components.NestedSubstreamStateMigration

  search_analytics_all_fields_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_all_fields
    primary_key:
      - site_url
      - date
      - country
      - device
      - query
      - page
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition['search_type'] }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - country
            value: "{{ record['keys'][1] }}"
          - path:
              - device
            value: "{{ record['keys'][2] }}"
          - path:
              - page
            value: "{{ record['keys'][3] }}"
          - path:
              - query
            value: "{{ record['keys'][4] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
      # The purpose of the following transformation is to
      # cast the query value as a string. The GSC API allows
      # users to make queries with a wide array of datatypes resulting
      # in occasional non-string values. This transformation ensures
      # the Airbyte Entrypoint can serialize these non-string values.
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - query
            value: "{{ record['query'] }}"
            value_type: string
        condition: "{{ record.get('query', False) }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_all_fields"
    $parameters:
      dimensions:
        - date
        - country
        - device
        - page
        - query
      aggregationType: auto
      search_types:
        - web
        - news
        - image
        - video

  search_analytics_by_country_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_by_country
    primary_key:
      - site_url
      - date
      - country
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition['search_type'] }}"
      # The values in the 'keys' array in the record correspond to the same order that the dimensions
      # are requested in the API request. For example, if the request body was `dimensions: ["date", "country"]`,
      # then the first value of `keys` is placed under the `date` field. These arrays are always be the same length
      # After extracting the keys, the `keys` array is removed from the record.
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - country
            value: "{{ record['keys'][1] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_by_country"
    $parameters:
      dimensions:
        - date
        - country
      aggregationType: auto
      search_types:
        - web
        - news
        - image
        - video
        - discover
        - googleNews

  search_analytics_by_date_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_by_date
    primary_key:
      - site_url
      - date
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition['search_type'] }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_by_date"
    $parameters:
      dimensions:
        - date
      aggregationType: auto
      search_types:
        - web
        - news
        - image
        - video
        - discover
        - googleNews

  search_analytics_by_device_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_by_device
    primary_key:
      - site_url
      - date
      - device
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition['search_type'] }}"
      # The values in the 'keys' array in the record correspond to the same order that the dimensions
      # are requested in the API request. For example, if the request body was `dimensions: ["date", "device"]`,
      # then the first value of `keys` is placed under the `date` field. These arrays are always be the same length
      # After extracting the keys, the `keys` array is removed from the record.
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - device
            value: "{{ record['keys'][1] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_by_device"
    $parameters:
      dimensions:
        - date
        - device
      aggregationType: auto
      search_types:
        - web
        - news
        - image
        - video
        - googleNews

  search_analytics_by_page_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_by_page
    primary_key:
      - site_url
      - date
      - page
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition['search_type'] }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - page
            value: "{{ record['keys'][1] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_by_page"
    $parameters:
      dimensions:
        - date
        - page
      aggregationType: auto
      search_types:
        - web
        - news
        - image
        - video
        - discover
        - googleNews

  search_analytics_by_query_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_by_query
    primary_key:
      - site_url
      - date
      - query
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition['search_type'] }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - query
            value: "{{ record['keys'][1] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
      # The purpose of the following transformation is to
      # cast the query value as a string. The GSC API allows
      # users to make queries with a wide array of datatypes resulting
      # in occasional non-string values. This transformation ensures
      # the Airbyte Entrypoint can serialize these non-string values.
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - query
            value: "{{ record['query'] }}"
            value_type: string
        condition: "{{ record.get('query', False) }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_by_query"
    $parameters:
      dimensions:
        - date
        - query
      aggregationType: auto
      search_types:
        - web
        - news
        - image
        - video

  search_analytics_page_report_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_page_report
    primary_key:
      - site_url
      - date
      - country
      - device
      - search_type
      - page
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition.get('site_url') }}"
          - path:
              - search_type
            value: "{{ stream_partition.get('search_type') }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - country
            value: "{{ record['keys'][1] }}"
          - path:
              - device
            value: "{{ record['keys'][2] }}"
          - path:
              - page
            value: "{{ record['keys'][3] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_page_report"
    $parameters:
      dimensions:
        - date
        - country
        - device
        - page
      search_types:
        - web
        - news
        - image
        - video
        - googleNews

  search_analytics_site_report_by_page_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_site_report_by_page
    primary_key:
      - site_url
      - date
      - country
      - device
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition.get('site_url') }}"
          - path:
              - search_type
            value: "{{ stream_partition.get('search_type') }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - country
            value: "{{ record['keys'][1] }}"
          - path:
              - device
            value: "{{ record['keys'][2] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_site_report_by_page"
    $parameters:
      aggregationType: byPage
      dimensions:
        - date
        - country
        - device
      search_types:
        - web
        - news
        - image
        - video
        - googleNews

  search_analytics_site_report_by_site_stream:
    $ref: "#/definitions/base_search_analytics_stream"
    name: search_analytics_site_report_by_site
    primary_key:
      - site_url
      - date
      - country
      - device
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition.get('site_url') }}"
          - path:
              - search_type
            value: "{{ stream_partition.get('search_type') }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - country
            value: "{{ record['keys'][1] }}"
          - path:
              - device
            value: "{{ record['keys'][2] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_site_report_by_site"
    $parameters:
      aggregationType: byProperty
      dimensions:
        - date
        - country
        - device
      search_types:
        - web
        - news
        - image
        - video
        - googleNews

  sites_stream:
    type: DeclarativeStream
    name: sites
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.googleapis.com/webmasters/v3
        path: "/sites/{{ sanitize_url(stream_partition.get('site_url')) }}"
        http_method: GET
        authenticator: "#/definitions/selective_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: ListPartitionRouter
          values: "{{ config['site_urls'] }}"
          cursor_field: site_url
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/sites"

  sitemaps_stream:
    type: DeclarativeStream
    name: sitemaps
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.googleapis.com/webmasters/v3
        path: "/sites/{{ sanitize_url(stream_partition.get('site_url')) }}/sitemaps"
        http_method: GET
        authenticator: "#/definitions/selective_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "sitemap"
      partition_router:
        - type: ListPartitionRouter
          values: "{{ config['site_urls'] }}"
          cursor_field: site_url
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/sitemaps"

  # This stream is only used as a parent stream for search_by_keyword substreams
  search_appearances_stream:
    type: DeclarativeStream
    name: search_appearances
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.googleapis.com/webmasters/v3
        path: "/sites/{{ sanitize_url(stream_partition.get('site_url')) }}/searchAnalytics/query"
        http_method: POST
        authenticator: "#/definitions/selective_authenticator"
        request_headers:
          Content-Type: "application/json"
        request_body_json:
          startDate: "{{ config.get('start_date', '2021-01-01') }}"
          endDate: "{{ config.get('end_date', today_utc()) }}"
          dimensions: ["searchAppearance"]
          type: "{{ stream_partition.get('search_type') }}"
          aggregationType: auto
          dataState: "{{ config.get('data_state', 'final') }}"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: startRow
          inject_into: body_json
        page_size_option:
          type: RequestOption
          field_name: rowLimit
          inject_into: body_json
        pagination_strategy:
          type: OffsetIncrement
          page_size: 25000
          inject_on_first_request: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - rows
      partition_router:
        - type: ListPartitionRouter
          values: "{{ config['site_urls'] }}"
          cursor_field: site_url
        - type: ListPartitionRouter
          values:
            - web
            - news
            - image
            - video
          cursor_field: search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - searchAppearance
            value: "{{ record['keys'][0] }}"
      - type: RemoveFields
        field_pointers:
          - - keys

  base_search_analytics_keyword_stream:
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.googleapis.com/webmasters/v3
        path: "/sites/{{  sanitize_url(stream_partition.get('site_url')) }}/searchAnalytics/query"
        http_method: POST
        authenticator: "#/definitions/selective_authenticator"
        request_headers:
          Content-Type: "application/json"
        request_body_json:
          startDate: "{{ stream_interval.get('start_time') }}"
          endDate: "{{ stream_interval.get('end_time') }}"
          dimensions: "{{ parameters.get('dimensions') }}"
          type: "{{ stream_partition.get('parent_slice', {}).get('search_type') }}"
          aggregationType: "{{ 'auto' if config.get('always_use_aggregation_type_auto') else parameters.get('aggregationType') }}"
          dataState: "{{ config.get('data_state', 'final') }}"
          dimensionFilterGroups: "{{ [{'groupType': 'and', 'filters': {'dimension': 'searchAppearance', 'operator': 'equals', 'expression': stream_partition.get('search_appearance')}}] }}"
        error_handler:
          $ref: "#/definitions/search_analytics_error_handler"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: startRow
          inject_into: body_json
        page_size_option:
          type: RequestOption
          field_name: rowLimit
          inject_into: body_json
        pagination_strategy:
          type: OffsetIncrement
          page_size: 25000
          inject_on_first_request: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - rows
      partition_router:
        - type: ListPartitionRouter
          values: "{{ config['site_urls'] }}"
          cursor_field: site_url
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: searchAppearance
              partition_field: search_appearance
              stream:
                $ref: "#/definitions/search_appearances_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      cursor_datetime_formats:
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', '2021-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('end_date', today_utc()) }}"
        datetime_format: "%Y-%m-%d"
      step: P3D
      cursor_granularity: P1D

  search_analytics_keyword_page_report_stream:
    $ref: "#/definitions/base_search_analytics_keyword_stream"
    name: search_analytics_keyword_page_report
    primary_key:
      - site_url
      - date
      - country
      - device
      - query
      - page
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition.get('parent_slice', {}).get('search_type') }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - country
            value: "{{ record['keys'][1] }}"
          - path:
              - device
            value: "{{ record['keys'][2] }}"
          - path:
              - query
            value: "{{ record['keys'][3] }}"
          - path:
              - page
            value: "{{ record['keys'][4] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_keyword_page_report"
    $parameters:
      aggregationType: auto
      dimensions:
        - date
        - country
        - device
        - query
        - page

  search_analytics_keyword_site_report_by_page_stream:
    $ref: "#/definitions/base_search_analytics_keyword_stream"
    name: search_analytics_keyword_site_report_by_page
    primary_key:
      - site_url
      - date
      - country
      - device
      - query
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition.get('parent_slice', {}).get('search_type') }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - country
            value: "{{ record['keys'][1] }}"
          - path:
              - device
            value: "{{ record['keys'][2] }}"
          - path:
              - query
            value: "{{ record['keys'][3] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_keyword_site_report_by_page"
    $parameters:
      aggregationType: byPage
      dimensions:
        - date
        - country
        - device
        - query

  search_analytics_keyword_site_report_by_site_stream:
    $ref: "#/definitions/base_search_analytics_keyword_stream"
    name: search_analytics_keyword_site_report_by_site
    primary_key:
      - site_url
      - date
      - country
      - device
      - query
      - search_type
    transformations:
      - type: AddFields
        fields:
          - path:
              - site_url
            value: "{{ stream_partition['site_url'] }}"
          - path:
              - search_type
            value: "{{ stream_partition.get('parent_slice', {}).get('search_type') }}"
      - type: AddFields
        fields:
          - path:
              - date
            value: "{{ record['keys'][0] }}"
          - path:
              - country
            value: "{{ record['keys'][1] }}"
          - path:
              - device
            value: "{{ record['keys'][2] }}"
          - path:
              - query
            value: "{{ record['keys'][3] }}"
      - type: RemoveFields
        field_pointers:
          - - keys
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_keyword_site_report_by_site"
    $parameters:
      aggregationType: byProperty
      dimensions:
        - date
        - country
        - device

streams:
  # Regular streams
  - "#/definitions/sites_stream"
  - "#/definitions/sitemaps_stream"
  # Search Analytics streams
  - "#/definitions/search_analytics_all_fields_stream"
  - "#/definitions/search_analytics_by_country_stream"
  - "#/definitions/search_analytics_by_date_stream"
  - "#/definitions/search_analytics_by_device_stream"
  - "#/definitions/search_analytics_by_page_stream"
  - "#/definitions/search_analytics_by_query_stream"
  - "#/definitions/search_analytics_page_report_stream"
  - "#/definitions/search_analytics_site_report_by_page_stream"
  - "#/definitions/search_analytics_site_report_by_site_stream"
  # Search Analytics Keyword streams
  - "#/definitions/search_analytics_keyword_page_report_stream"
  - "#/definitions/search_analytics_keyword_site_report_by_page_stream"
  - "#/definitions/search_analytics_keyword_site_report_by_site_stream"

dynamic_streams:
  - type: DynamicDeclarativeStream
    stream_template:
      type: DeclarativeStream
      name: search_analytics_by_custom_dimensions # This will be replaced by the name of the custom report
      primary_key: # This will be replaced by the dimensions of the custom report
        - site_url
        - search_type
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://www.googleapis.com/webmasters/v3
          path: "/sites/{{  sanitize_url(stream_partition.get('site_url')) }}/searchAnalytics/query"
          http_method: POST
          authenticator: "#/definitions/selective_authenticator"
          request_headers:
            Content-Type: "application/json"
          request_body_json:
            startDate: "{{ stream_interval.get('start_time') }}"
            endDate: "{{ stream_interval.get('end_time') }}"
            dimensions: ["date", "country"] # This will be replaced by the dimensions of the custom report
            type: "{{ stream_partition.get('search_type') }}"
            aggregationType: auto
            dataState: "{{ config.get('data_state', 'final') }}"
          error_handler:
            $ref: "#/definitions/search_analytics_error_handler"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: startRow
            inject_into: body_json
          page_size_option:
            type: RequestOption
            field_name: rowLimit
            inject_into: body_json
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25000
            inject_on_first_request: true
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - rows
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config['site_urls'] }}"
            cursor_field: site_url
          - type: ListPartitionRouter
            values:
              - web
              - news
              - image
              - video
            cursor_field: search_type
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2021-01-01') }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', today_utc()) }}"
          datetime_format: "%Y-%m-%d"
        step: P3D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - site_url
              value: "{{ stream_partition['site_url'] }}"
            - path:
                - search_type
              value: "{{ stream_partition['search_type'] }}"
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomReportExtractDimensionsFromKeys
          dimensions: # This will be replaced by the dimensions of the custom report
            - date
            - country
      schema_loader:
        type: CustomSchemaLoader
        class_name: source_declarative_manifest.components.CustomReportSchemaLoader
        dimensions: [] # This will be replaced by the dimensions of the custom report
      state_migrations:
        - type: CustomStateMigration
          class_name: source_declarative_manifest.components.NestedSubstreamStateMigration
    components_resolver:
      type: ConfigComponentsResolver
      stream_config:
        type: StreamConfig
        configs_pointer:
          - custom_reports_array
      components_mapping:
        - type: ComponentMappingDefinition
          field_path:
            # - "**" # is this needed
            - name
          value: "{{components_values['name']}}"
        - type: ComponentMappingDefinition
          field_path:
            - primary_key
          value: "{{ components_values['dimensions'] + (['date'] if 'date' not in components_values['dimensions'] else []) + ['site_url', 'search_type'] }}"
        - type: ComponentMappingDefinition
          field_path:
            - retriever
            - requester
            - request_body_json
            - dimensions
          # `date` is a cursor field therefore should be a mandatory dimension if not already present
          value: "{{ components_values['dimensions'] + (['date'] if 'date' not in components_values['dimensions'] else []) }}"
        - type: ComponentMappingDefinition
          field_path:
            - transformations
            - "1"
            - dimensions
          value: "{{ components_values['dimensions'] + (['date'] if 'date' not in components_values['dimensions'] else []) }}"
        - type: ComponentMappingDefinition
          field_path:
            - schema_loader
            - dimensions
          value: "{{ components_values['dimensions'] + (['date'] if 'date' not in components_values['dimensions'] else []) }}"

# Google Search Console has three layers of quotas that dictate rate limiting at the
# user making requests, site being requested, and developer console key used.
# https://developers.google.com/webmaster-tools/limits#qps-quota
# - Per Site Quota: 1,200 req/min (20 req/sec) - documented maximum
# - Per User Quota: 1,200 req/min (20 req/sec) - documented maximum
# - Per Project Quota: 30,000,000 req/day (350 req/sec) / 40,000 req/min (60 req/sec)
#
# Note: Actual quotas are often lower than documented limits. Most new/unbilled projects
# start with 60 req/min. Users can configure their own limit via the requests_per_minute
# config option. The default is 1200 to maintain backward compatibility.
api_budget:
  type: HTTPAPIBudget
  policies:
    # Search Analytics streams use configurable rate limit (default 1200 RPM)
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: "{{ config.get('requests_per_minute', 1200) }}"
          interval: PT1M
      matchers: []

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 50

schemas:
  search_analytics_all_fields:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      site_url:
        description: "The URL of the site from which the data originates."
        type: ["null", "string"]
      search_type:
        description: "The type of search (e.g., web, image, video) that triggered the search result."
        type: ["null", "string"]
      date:
        description: "The date when the search query occurred."
        type: ["null", "string"]
        format: "date"
      country:
        description: "The country from which the search query originated."
        type: ["null", "string"]
      device:
        description: "The type of device used by the user (e.g., desktop, mobile)."
        type: ["null", "string"]
      page:
        description: "The page URL that appeared in the search results."
        type: ["null", "string"]
      query:
        description: "The search query entered by the user."
        type: ["null", "string"]
      clicks:
        description: "The number of times users clicked on the search result for a specific query."
        type: ["null", "integer"]
      impressions:
        description: "The number of times a search result appeared in response to a query."
        type: ["null", "integer"]
      ctr:
        description: "Click-through rate, calculated as clicks divided by impressions."
        type: ["null", "number"]
        multipleOf: 1.e-25
      position:
        description: "The average position of the search result on the search engine results page."
        type: ["null", "number"]
        multipleOf: 1.e-25
  search_analytics_by_country:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      site_url:
        description: The URL of the site for which the search analytics data is being reported.
        type:
          - "null"
          - string
      search_type:
        description: >-
          The type of search (web search, image search, video search, etc.) for
          which the data is being reported.
        type:
          - "null"
          - string
      date:
        description: The date for which the search analytics data is being reported.
        type:
          - "null"
          - string
        format: date
      country:
        description: The country for which the search analytics data is being reported.
        type:
          - "null"
          - string
      clicks:
        description: >-
          The number of times users clicked on the search result for a specific
          country.
        type:
          - "null"
          - integer
      impressions:
        description: >-
          The total number of times a search result was shown in search results for
          a specific country.
        type:
          - "null"
          - integer
      ctr:
        description: >-
          The click-through rate, i.e., the ratio of clicks to impressions for a
          specific country.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
      position:
        description: >-
          The average position at which the site's search result appeared for a
          specific country.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
  search_analytics_by_date:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      site_url:
        description: "The URL of the site for which the search analytics data is being reported."
        type: ["null", "string"]
      search_type:
        description: "The type of search query (e.g., web, image, video) that generated the search analytics data."
        type: ["null", "string"]
      date:
        description: "The date for which the search analytics data is being reported."
        type: ["null", "string"]
        format: "date"
      clicks:
        description: "The total number of times users clicked on the search result for the site URL on the specific date."
        type: ["null", "integer"]
      impressions:
        description: "The number of times the site URL was displayed in the search results to users on the specific date."
        type: ["null", "integer"]
      ctr:
        description: "The click-through rate (CTR) represents the percentage of total impressions that resulted in a click to the site URL."
        type: ["null", "number"]
        multipleOf: 1.e-25
      position:
        description: "The average position of the site URL in the search results pages for the specific date."
        type: ["null", "number"]
        multipleOf: 1.e-25
  search_analytics_by_device:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: "object"
    properties:
      site_url:
        description: "The URL of the site for which search analytics data is being provided."
        type: ["null", "string"]
      search_type:
        description: "The type of search performed (e.g., web search, image search, video search)."
        type: ["null", "string"]
      date:
        description: "The date for which the search analytics data is provided."
        type: ["null", "string"]
        format: "date"
      device:
        description: "The type of device used by the user for the search query (e.g., desktop, mobile)."
        type: ["null", "string"]
      clicks:
        description: "The total number of times a user clicked on a search result linking to the target site."
        type: ["null", "integer"]
      impressions:
        description: "The total number of times a user saw a link to the target site in search results."
        type: ["null", "integer"]
      ctr:
        description: "Click-through rate represents the ratio of clicks to impressions, showing the effectiveness of your site in attracting clicks from search results."
        type: ["null", "number"]
        multipleOf: 1.e-25
      position:
        description: "The average position of the site's URLs in search results for the given query or queries."
        type: ["null", "number"]
        multipleOf: 1.e-25
  search_analytics_by_page:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      site_url:
        description: "The URL of the site for which the search analytics data is being reported."
        type: ["null", "string"]
      search_type:
        description: "The type of search query that led to the page being displayed in search results."
        type: ["null", "string"]
      date:
        description: "The date for which the search analytics data is reported."
        type: ["null", "string"]
        format: "date"
      page:
        description: "The URL of the specific page being analyzed for search analytics data."
        type: ["null", "string"]
      clicks:
        description: "The number of times a user clicked on the search result linking to the page."
        type: ["null", "integer"]
      impressions:
        description: "The number of times a page from the site appeared in the search results viewed by users."
        type: ["null", "integer"]
      ctr:
        description: "Click-through rate (CTR) is the ratio of clicks to impressions, indicating the effectiveness of the page in generating clicks."
        type: ["null", "number"]
        multipleOf: 1.e-25
      position:
        description: "The average position at which the page appeared in search results."
        type: ["null", "number"]
        multipleOf: 1.e-25
  search_analytics_by_query:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      site_url:
        description: "The URL of the site for which the search analytics data is captured."
        type: ["null", "string"]
      search_type:
        description: "The type of search result (e.g., web, image, video) for the specific query."
        type: ["null", "string"]
      date:
        description: "The date for which the search analytics data is recorded."
        type: ["null", "string"]
        format: "date"
      query:
        description: "The search query for which the search analytics data is recorded."
        type: ["null", "string"]
      clicks:
        description: "The number of times users clicked on the search result for the specific query."
        type: ["null", "integer"]
      impressions:
        description: "The number of times the search result was displayed for the specific query."
        type: ["null", "integer"]
      ctr:
        description: "The click-through rate (percentage) for the specific query, calculated as clicks divided by impressions."
        type: ["null", "number"]
        multipleOf: 1.e-25
      position:
        description: "The average position at which the search result appeared for the specific query."
        type: ["null", "number"]
        multipleOf: 1.e-25
  search_analytics_page_report:
    $schema: "https://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      site_url:
        description: The URL of the website for which the search analytics data is being reported.
        type:
          - "null"
          - string
      search_type:
        description: The type of search (e.g., web, image, video) that led users to the website.
        type:
          - "null"
          - string
      date:
        description: The date when the search data was recorded.
        type:
          - "null"
          - string
        format: date
      country:
        description: The country from which the search originated.
        type:
          - "null"
          - string
      page:
        description: The specific page URL within the website that appeared in search results.
        type:
          - "null"
          - string
      device:
        description: The type of device used by the user for the search query (e.g., desktop, mobile).
        type:
          - "null"
          - string
      clicks:
        description: The total number of times users clicked on search results that led to the linked website.
        type:
          - "null"
          - integer
      impressions:
        description: The total number of times a search result from the linked website was shown to users.
        type:
          - "null"
          - integer
      ctr:
        description: "Click-through rate: The percentage of clicks out of the total impressions for a given search query."
        type:
          - "null"
          - number
        multipleOf: 1.e-25
      position:
        description: The average position at which the website's search results appeared to users.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
  search_analytics_site_report_by_page:
    $schema: "https://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      site_url:
        description: The URL of the page on the site that is being reported.
        type:
          - "null"
          - string
      search_type:
        description: The type of search query that led to the page being shown.
        type:
          - "null"
          - string
      date:
        description: The date for which the data is being reported.
        type:
          - "null"
          - string
        format: date
      country:
        description: The country from which the search traffic originated.
        type:
          - "null"
          - string
      device:
        description: "The type of device used by the searcher (e.g., desktop, mobile)."
        type:
          - "null"
          - string
      clicks:
        description: The total number of clicks received by the page from search results.
        type:
          - "null"
          - integer
      impressions:
        description: The total number of times the page appeared in search results.
        type:
          - "null"
          - integer
      ctr:
        description: The click-through rate, i.e., the percentage of total impressions that resulted in clicks.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
      position:
        description: The average position at which the page appeared in search results.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
  search_analytics_site_report_by_site:
    $schema: "https://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      site_url:
        description: The URL of the site being analyzed
        type:
          - "null"
          - string
      search_type:
        description: "The type of search (e.g., web, image, video)"
        type:
          - "null"
          - string
      date:
        description: The date of the search analytics data
        type:
          - "null"
          - string
        format: date
      country:
        description: The country where the search took place
        type:
          - "null"
          - string
      device:
        description: "The type of device used for the search (e.g., mobile, desktop)"
        type:
          - "null"
          - string
      clicks:
        description: The number of times users clicked on a search result linking to the site
        type:
          - "null"
          - integer
      impressions:
        description: The number of times the site appeared in search results
        type:
          - "null"
          - integer
      ctr:
        description: Click-through rate calculated as clicks divided by impressions
        type:
          - "null"
          - number
        multipleOf: 1.e-25
      position:
        description: The average position of the site in search results
        type:
          - "null"
          - number
        multipleOf: 1.e-25
  sites:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      siteUrl:
        description: "The URL of the site data being fetched"
        type: ["null", "string"]
      permissionLevel:
        description: "The user's permission level for the site (owner, full, restricted, etc.)"
        type: ["null", "string"]
  sitemaps:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      path:
        description: "Path to the sitemap file"
        type:
          - "null"
          - string
      lastSubmitted:
        description: "Timestamp when the sitemap was last submitted"
        type:
          - "null"
          - string
        format: date-time
      isPending:
        description: "Flag indicating if the sitemap is pending for processing"
        type:
          - "null"
          - boolean
      isSitemapsIndex:
        description: "Flag indicating if the data represents a sitemap index"
        type:
          - "null"
          - boolean
      type:
        description: "Type of the sitemap"
        type:
          - "null"
          - string
      lastDownloaded:
        description: "Timestamp when the sitemap was last downloaded"
        type:
          - "null"
          - string
        format: date-time
      warnings:
        description: "Warnings encountered while processing the sitemaps"
        type:
          - "null"
          - string
      errors:
        description: "Errors encountered while processing the sitemaps"
        type:
          - "null"
          - string
      contents:
        description: "Data related to the sitemap contents"
        type: array
        items:
          type: object
          properties:
            type:
              description: "Type of the sitemap content"
              type:
                - "null"
                - string
            submitted:
              description: "Number of submitted sitemap URLs"
              type:
                - "null"
                - string
            indexed:
              description: "Number of indexed sitemap URLs"
              type:
                - "null"
                - string

  search_analytics_keyword_page_report:
    $schema: "https://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      site_url:
        description: The URL of the website being monitored.
        type:
          - "null"
          - string
      search_type:
        description: "The type of search (e.g., web, image, video)."
        type:
          - "null"
          - string
      date:
        description: The date of the search data collected.
        type:
          - "null"
          - string
        format: date
      country:
        description: The country where the search is made.
        type:
          - "null"
          - string
      device:
        description: "The device type used for the search (e.g., desktop, mobile)."
        type:
          - "null"
          - string
      page:
        description: The page URL on which the keyword appears in search results.
        type:
          - "null"
          - string
      query:
        description: The search query used to find the site.
        type:
          - "null"
          - string
      clicks:
        description: The number of clicks for the keyword on a specific page.
        type:
          - "null"
          - integer
      impressions:
        description: The number of times the keyword appeared in search results.
        type:
          - "null"
          - integer
      ctr:
        description: >-
          Click-through rate which is the percentage of clicks divided by
          impressions.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
      position:
        description: The average position of the keyword on search results pages.
        type:
          - "null"
          - number
        multipleOf: 1.e-25

  search_analytics_keyword_site_report_by_page:
    $schema: "https://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      site_url:
        description: The URL of the website for which the search analytics data is retrieved.
        type:
          - "null"
          - string
      search_type:
        description: "The type of search conducted (e.g., web, image, video)."
        type:
          - "null"
          - string
      date:
        description: The date when the search data was recorded.
        type:
          - "null"
          - string
        format: date
      country:
        description: The country from which the search query originated.
        type:
          - "null"
          - string
      device:
        description: "The device type used for the search query (e.g., desktop, mobile)."
        type:
          - "null"
          - string
      query:
        description: The search query used by the user.
        type:
          - "null"
          - string
      clicks:
        description: The number of times users clicked on your website link in search results.
        type:
          - "null"
          - integer
      impressions:
        description: The number of times your website link appeared in search results.
        type:
          - "null"
          - integer
      ctr:
        description: "Click-through rate: Number of clicks divided by the number of impressions."
        type:
          - "null"
          - number
        multipleOf: 1.e-25
      position:
        description: The average position of your website link in search results.
        type:
          - "null"
          - number
        multipleOf: 1.e-25

  search_analytics_keyword_site_report_by_site:
    $schema: "https://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      site_url:
        description: The URL of the site for which the search analytics data is recorded.
        type:
          - "null"
          - string
      search_type:
        description: >-
          The type of search (e.g., web search, image search) that generated the
          analytics data.
        type:
          - "null"
          - string
      date:
        description: The date for which the search analytics data is recorded.
        type:
          - "null"
          - string
        format: date
      country:
        description: The country from which the search originated.
        type:
          - "null"
          - string
      device:
        description: >-
          The type of device used by the user during the search (e.g., desktop,
          mobile).
        type:
          - "null"
          - string
      query:
        description: The search query used by the user to find the site in search results.
        type:
          - "null"
          - string
      clicks:
        description: >-
          The number of times users clicked on the search result linking to the
          site.
        type:
          - "null"
          - integer
      impressions:
        description: The number of times the site was shown in search results to users.
        type:
          - "null"
          - integer
      ctr:
        description: >-
          Click-through rate represents the percentage of users who clicked on the
          site's link after seeing it in search results.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
      position:
        description: The average ranking position of the site in search results.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
