@use "scss/colors";
@use "scss/variables";

.controlGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: variables.$spacing-xl;

  .button {
    margin-left: variables.$spacing-md;
  }
}

.cardContent {
  padding: variables.$spacing-xl;
}

.description {
  color: colors.$grey-300;
  margin-bottom: variables.$spacing-xl;
  font-size: 12px;

  a:link,
  a:visited {
    color: colors.$grey-300;
  }
}
