@use "scss/colors";
@use "scss/variables";

.controlGroup {
  display: flex;
  margin-top: variables.$spacing-xl;

  &.formButtons {
    justify-content: flex-end;
  }
}

.button:not(:first-child) {
  margin-left: variables.$spacing-md;
}

// the duplicate class is a specificity hack: without it, the Button component's default
// variant styling overrides this instead of vice versa
.replaceButton.replaceButton {
  color: colors.$grey-800;
}

.cardContent {
  padding: variables.$spacing-xl;
}

.description {
  color: colors.$grey-300;
  margin-bottom: variables.$spacing-xl;
  font-size: 12px;

  a:link,
  a:visited {
    color: colors.$grey-300;
  }
}
