@use "scss/colors";
@use "scss/variables";

.container {
  border-radius: vars.$border-radius-md;
  padding: variables.$spacing-lg variables.$spacing-xl;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.compact {
  padding: vars.$spacing-md vars.$spacing-lg;
}

.yellow {
  background-color: colors.$yellow-100;
}

.red {
  background-color: colors.$red-50;
}
