@use "scss/colors";
@use "scss/variables";

.jobListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 22px;
  background-color: colors.$grey-50;
}

.jobListTitle {
  display: flex;
  justify-content: space-between;
}

.jobListForm {
  width: 100%;
}

.emptyListImage {
  width: 111px;
  height: 111px;
  margin: variables.$spacing-xl 0;
}

.contextExplanation {
  color: colors.$grey-300;
  width: 100%;

  & a {
    color: colors.$grey-300;
  }
}

.jobListButtonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: variables.$spacing-xl;
  width: 100%;
}

.jobListButton {
  margin-left: variables.$spacing-md;
}

.jobListItem {
  margin-top: variables.$spacing-md;
  padding: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dbtLogo {
  height: 32px;
  width: 32px;
}

.jobListItemIntegrationName {
  display: flex;
  align-items: center;
}

.jobListItemIdFieldGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
}

.jobListItemIdField {
  height: fit-content;
  margin-left: 1em;
  background-color: colors.$grey-50;
  flex-grow: 2;
  padding: variables.$spacing-sm;
  border-radius: variables.$border-radius-sm;
}

.jobListItemDelete {
  margin-left: variables.$spacing-lg;
}
