airbyte-cdk==0.1.32
arrow==1.2.1
attrs==21.2.0
backoff==1.11.1
certifi==2021.10.8
charset-normalizer==2.0.7
Deprecated==1.2.13
docker==4.4.4
dpath==2.0.5
fancycompleter==0.9.1
icdiff==1.9.1
idna==3.3
inflection==0.5.1
iniconfig==1.1.1
jsonref==0.2
jsonschema==3.2.0
multidict==5.2.0
packaging==21.2
pdbpp==0.10.3
pendulum==2.1.2
pluggy==1.0.0
pprintpp==0.4.0
py==1.11.0
pydantic==1.8.2
Pygments==2.10.0
pyparsing==2.4.7
pyrepl==0.9.0
pyrsistent==0.18.0
pytest==6.2.5
pytest-sugar==0.9.4
pytest-timeout==1.4.2
python-dateutil==2.8.2
pytzdata==2020.1
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
-e git+ssh://git@github.com/Infinit-O/airbyte.git@ad8b0a877f9a40a763632ac77230c696442a9ea4#egg=source_acceptance_test&subdirectory=airbyte-integrations/bases/source-acceptance-test
-e git+ssh://git@github.com/Infinit-O/airbyte.git@ad8b0a877f9a40a763632ac77230c696442a9ea4#egg=source_snipeit&subdirectory=airbyte-integrations/connectors/source-snipeit
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
vcrpy==4.1.1
websocket-client==1.2.1
wmctrl==0.4
wrapt==1.13.3
yarl==1.7.2
