.logInBtn {
  width: 90px;
  height: 44px;
  font-weight: 600 !important; // FIXME: solve style order issue
  font-size: 16px !important; // FIXME: solve style order issue
  line-height: 19px;
}

.forgotPassword {
  font-size: 12px;
}
