version: 2.0.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - tags

definitions:
  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"
  basic_authenticator:
    type: BasicHttpAuthenticator
    username: "{{ config['credentials']['email'] + '/token' }}"
    password: "{{ config['credentials']['api_token'] }}"

  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/
      http_method: GET
      authenticator:
        type: SelectiveAuthenticator
        authenticator_selection_path: ["credentials", "credentials"]
        authenticators:
          oauth2.0: "#/definitions/bearer_authenticator"
          api_token: "#/definitions/basic_authenticator"
      error_handler:
        type: DefaultErrorHandler
        response_filters:
          - http_codes: [403, 404]
            action: FAIL
            failure_type: config_error
            error_message: "Unable to read data for stream {{ parameters.get('name') }} due to an issue with permissions. Please ensure that your account has the necessary access level. You can try to re-authenticate on the Set Up Connector page or you can disable stream {{ parameters.get('name') }} on the Schema Tab. Error message: {{ response.get('error') }}"
        backoff_strategies:
          - type: WaitTimeFromHeader
            header: Retry-After
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          ["{{ parameters.get('data_path') or parameters.get('name') }}"]
      schema_normalization: Default
    paginator:
      type: DefaultPaginator
      page_size_option:
        type: RequestOption
        field_name: "per_page"
        inject_into: request_parameter
      pagination_strategy:
        type: CursorPagination
        page_size: 100
        cursor_value: '{{ response.get("next_page", {}) }}'
        stop_condition: "{{ last_page_size == 0 }}"
      page_token_option:
        type: RequestPath

  base_stream:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/retriever"

  # Semi-incremental streams for endpoints that doesn't support filtering or sorting but include updated or created fields
  semi_incremental_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        $ref: "#/definitions/retriever/record_selector"
        record_filter:
          condition: "{{ record[parameters['cursor_field']] >= stream_interval.get('start_time', config.get('start_date')) }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_field: "{{ parameters.get('cursor_field',  'updated_at') }}"
      start_datetime:
        datetime: "{{ config.get('start_date') or day_delta(-730, '%Y-%m-%dT%H:%M:%SZ') }}"

  cursor_incremental_sync:
    type: DatetimeBasedCursor
    cursor_datetime_formats:
      - "%s"
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S%z"
    datetime_format: "%s"
    cursor_field: "{{ parameters.get('cursor_field',  'updated_at') }}"
    start_datetime:
      datetime: "{{ timestamp(config.get('start_date')) | int if config.get('start_date') else day_delta(-730, '%s') }}"
    start_time_option:
      inject_into: request_parameter
      field_name: "{{ parameters['cursor_filter'] }}"
      type: RequestOption

  base_incremental_stream:
    $ref: "#/definitions/base_stream"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"

  # Paginators
  links_next_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response['links']['next'] }}"
      stop_condition: "{{ not response['meta']['has_more'] }}"
      page_size: 100
    page_token_option:
      type: RequestPath
    page_size_option:
      type: RequestOption
      field_name: "page[size]"
      inject_into: request_parameter

  after_url_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: '{{ response.get("after_url") }}'
      # there is a `end_of_stream` property inside the `response`,
      # we should use it, instead of relying on `last_page_size`,
      # which could be `[]` but, `end_of_stream == false` and `after_url != null`
      stop_condition: '{{ response.get("end_of_stream") }}'
      page_size: 100
    page_token_option:
      type: RequestPath

  end_of_stream_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: '{{ response.get("next_page", {}) }}'
      stop_condition: '{{ response.get("end_of_stream") }}'
    page_token_option:
      type: RequestPath

  # Full-refresh streams
  account_attributes_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "account_attributes"
      path: "routing/attributes"
      data_path: "attributes"
      primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/account_attributes"

  attribute_definitions_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.ZendeskSupportAttributeDefinitionsExtractor
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/attribute_definitions"
    $parameters:
      name: "attribute_definitions"
      path: "routing/attributes/definitions"
      data_path: "attributes"

  brands_stream:
    # ToDo: add incremental sync
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/brands"
    $parameters:
      name: "brands"
      path: "brands"
      primary_key: "id"

  user_fields_stream:
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/user_fields"
    $parameters:
      name: "user_fields"
      path: "user_fields"
      primary_key: "id"

  tags_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/tags"
    $parameters:
      name: "tags"
      path: "tags"
      primary_key: "name"

  automations_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/automations"
    $parameters:
      name: "automations"
      path: "automations"
      primary_key: "id"

  categories_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/categories"
    $parameters:
      name: "categories"
      path: "help_center/categories"
      primary_key: "id"

  sections_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/sections"
    $parameters:
      name: "sections"
      path: "help_center/sections"
      primary_key: "id"

  # Incremental cursor-based streams
  articles_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "articles"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/articles"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"
      start_time_option:
        $ref: "#/definitions/cursor_incremental_sync/start_time_option"
        field_name: "start_time"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "help_center/incremental/articles"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("next_page", {}) }}'
          stop_condition: "{{ last_page_size == 0 }}"
        page_token_option:
          type: RequestPath
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["articles"]

  article_attachments_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "article_attachments"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/article_attachments"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "help_center/articles/{{ stream_partition.article_id }}/attachments"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            partition_field: "article_id"
            stream:
              $ref: "#/definitions/articles_stream"
            incremental_dependency: true
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["article_attachments"]
    file_uploader:
      type: FileUploader
      requester:
        type: HttpRequester
        url_base: "{{download_target}}"
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticator_selection_path: ["credentials", "credentials"]
          authenticators:
            oauth2.0: "#/definitions/bearer_authenticator"
            api_token: "#/definitions/basic_authenticator"
      download_target_extractor:
        type: DpathExtractor
        field_path: ["content_url"]
      filename_extractor: "{{ record.id }}/{{ record.file_name }}/"

  article_comments_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "article_comments"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/article_comments"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"
      start_time_option:
        $ref: "#/definitions/cursor_incremental_sync/start_time_option"
        field_name: "start_time"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "help_center/articles/{{ stream_partition.article_id }}/comments"
      paginator:
        $ref: "#/definitions/links_next_paginator"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            partition_field: "article_id"
            stream:
              $ref: "#/definitions/articles_stream"
            incremental_dependency: true
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["comments"]
    transformations:
      - type: AddFields
        fields:
          - path:
              - _airbyte_parent_id # used for article_comment_votes stream
            value: "{{ { 'article_id': record['source_id'], 'comment_id': record['id'] } }}"

  article_votes_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "article_votes"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/votes"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"
      start_time_option:
        $ref: "#/definitions/cursor_incremental_sync/start_time_option"
        field_name: "start_time"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "help_center/articles/{{ stream_partition.article_id }}/votes"
      paginator:
        $ref: "#/definitions/links_next_paginator"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            partition_field: "article_id"
            stream:
              $ref: "#/definitions/articles_stream"
            incremental_dependency: true
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["votes"]

  article_comment_votes_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "article_comment_votes"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/votes"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"
      start_time_option:
        $ref: "#/definitions/cursor_incremental_sync/start_time_option"
        field_name: "start_time"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "help_center/articles/{{ stream_partition.id.article_id }}/comments/{{ stream_partition.id.comment_id }}/votes"
      paginator:
        $ref: "#/definitions/links_next_paginator"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "_airbyte_parent_id"
            partition_field: "id"
            stream:
              $ref: "#/definitions/article_comments_stream"
            incremental_dependency: true
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["votes"]

  audit_logs_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          filter[created_at][]: "{{ [ stream_interval['start_time'], stream_interval['end_time'] ] if next_page_token is none else '' }}"
          sort: "created_at"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_field: "{{ parameters.get('cursor_field',  'updated_at') }}"
      start_datetime:
        datetime: "{{ config.get('start_date') or day_delta(-3650, '%Y-%m-%dT%H:%M:%SZ') }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/audit_logs"
    $parameters:
      name: "audit_logs"
      path: "audit_logs"
      cursor_field: "created_at"
      cursor_filter: "filter[created_at][]"
      primary_key: "id"

  custom_roles_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("next_page", {}) }}'
          stop_condition: "{{ last_page_size == 0 }}"
        page_token_option:
          type: RequestPath
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/custom_roles"
    $parameters:
      name: "custom_roles"
      path: "custom_roles"
      data_path: "custom_roles"
      cursor_field: "updated_at"
      primary_key: "id"

  group_memberships_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/group_memberships"
    $parameters:
      name: "group_memberships"
      path: "group_memberships"
      cursor_field: "updated_at"
      primary_key: "id"

  groups_stream:
    $ref: "#/definitions/semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/groups"
    $parameters:
      name: "groups"
      path: "groups"
      cursor_field: "updated_at"
      primary_key: "id"

  macros_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          sort_by: "created_at"
          sort_order: "asc"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    incremental_sync:
      $ref: "#/definitions/semi_incremental_stream/incremental_sync"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/macros"
    $parameters:
      name: "macros"
      path: "macros"
      cursor_field: "updated_at"
      primary_key: "id"

  organization_fields_stream:
    $ref: "#/definitions/semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/organization_fields"
    $parameters:
      name: "organization_fields"
      path: "organization_fields"
      cursor_field: "updated_at"
      primary_key: "id"

  organization_memberships_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/organization_memberships"
    $parameters:
      name: "organization_memberships"
      path: "organization_memberships"
      cursor_field: "updated_at"
      primary_key: "id"

  organizations_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      paginator:
        $ref: "#/definitions/end_of_stream_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/organizations"
    $parameters:
      name: "organizations"
      path: "incremental/organizations"
      cursor_field: "updated_at"
      cursor_filter: "start_time"
      primary_key: "id"

  posts_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "posts"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/posts"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"
      start_time_option:
        $ref: "#/definitions/cursor_incremental_sync/start_time_option"
        field_name: "start_time"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "community/posts"
      paginator:
        $ref: "#/definitions/links_next_paginator"
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["posts"]
        schema_normalization: None

  post_comments_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "post_comments"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/post_comments"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"
      start_time_option:
        $ref: "#/definitions/cursor_incremental_sync/start_time_option"
        field_name: "start_time"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "community/posts/{{ stream_partition.post_id }}/comments"
      paginator:
        $ref: "#/definitions/links_next_paginator"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: post_id
            stream:
              $ref: "#/definitions/posts_stream"
            incremental_dependency: true
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["comments"]
    transformations:
      - type: AddFields
        fields:
          - path:
              - _airbyte_parent_id # used for post_comment_votes stream
            value: "{{ { 'post_id': record['post_id'], 'comment_id': record['id'] } }}"

  post_votes_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "post_votes"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/votes"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"
      start_time_option:
        $ref: "#/definitions/cursor_incremental_sync/start_time_option"
        field_name: "start_time"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "community/posts/{{ stream_partition.post_id }}/votes"
      paginator:
        $ref: "#/definitions/links_next_paginator"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: post_id
            stream:
              $ref: "#/definitions/posts_stream"
            incremental_dependency: true
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["votes"]

  post_comment_votes_stream:
    $ref: "#/definitions/base_incremental_stream"
    name: "post_comment_votes"
    primary_key: "id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/votes"
    incremental_sync:
      $ref: "#/definitions/cursor_incremental_sync"
      start_time_option:
        $ref: "#/definitions/cursor_incremental_sync/start_time_option"
        field_name: "start_time"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        path: "community/posts/{{ stream_partition.id.post_id }}/comments/{{ stream_partition.id.comment_id }}/votes"
      paginator:
        $ref: "#/definitions/links_next_paginator"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "_airbyte_parent_id"
            partition_field: id
            stream:
              $ref: "#/definitions/post_comments_stream"
            incremental_dependency: true
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["votes"]

  satisfaction_ratings_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          sort: "created_at"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/satisfaction_ratings"
    $parameters:
      name: "satisfaction_ratings"
      path: "satisfaction_ratings"
      cursor_field: "updated_at"
      cursor_filter: "start_time"
      primary_key: "id"

  schedules_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      paginator:
        $ref: "#/definitions/retriever/paginator"
        page_size_option:
          type: RequestOption
          field_name: "page[size]"
          inject_into: request_parameter
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/schedules"
    $parameters:
      name: "schedules"
      path: "business_hours/schedules.json"
      cursor_field: "updated_at"
      primary_key: "id"

  sla_policies_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("next_page", {}) }}'
          stop_condition: "{{ last_page_size == 0 }}"
        page_token_option:
          type: RequestPath
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/sla_policies"
    $parameters:
      name: "sla_policies"
      path: "slas/policies.json"
      cursor_field: "updated_at"
      primary_key: "id"

  ticket_activities_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          sort: "created_at"
          sort_by: "created_at"
          sort_order: "asc"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_activities"
    $parameters:
      name: "ticket_activities"
      path: "activities"
      data_path: "activities"
      cursor_field: "updated_at"
      primary_key: "id"

  ticket_audits_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          sort_by: "created_at"
          sort_order: "desc"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
          response_filters:
            - http_codes: [504]
              action: FAIL
              error_message: "Skipping stream `{{ parameters.get('name') }}`. Timed out waiting for response: {{ response.text }}..."
            - http_codes: [403, 404]
              action: FAIL
              failure_type: config_error
              error_message: "Unable to read data for stream {{ parameters.get('name') }} due to an issue with permissions. Please ensure that your account has the necessary access level. You can try to re-authenticate on the Set Up Connector page or you can disable stream {{ parameters.get('name') }} on the Schema Tab. Error message: {{ response.get('error') }}"
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: "limit"
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 200
          cursor_value: "{{ response.get('before_url') }}"
          stop_condition: "{{ last_page_size == 0 }}"
        page_token_option:
          type: RequestPath
    incremental_sync:
      $ref: "#/definitions/semi_incremental_stream/incremental_sync"
      is_data_feed: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_audits"
    $parameters:
      name: "ticket_audits"
      path: "ticket_audits"
      data_path: "audits"
      cursor_field: "created_at"
      primary_key: "id"

  ticket_comments_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          include: "comment_events"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.ZendeskSupportExtractorEvents
          field_path: ["ticket_events", "*", "child_events", "*"]
      paginator:
        $ref: "#/definitions/end_of_stream_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_comments"
    $parameters:
      name: "ticket_comments"
      path: "incremental/ticket_events.json"
      cursor_field: "created_at"
      cursor_filter: "start_time"
      primary_key: "id"

  ticket_fields_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_fields"
    $parameters:
      name: "ticket_fields"
      path: "ticket_fields"
      cursor_field: "updated_at"
      primary_key: "id"

  ticket_forms_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/retriever/requester"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - http_codes: [403, 404]
                  action: FAIL # fail as this stream used to define enterprise plan
                  error_message: "Unable to read data for stream {{ parameters.get('name') }} due to an issue with permissions. Please ensure that your account has the necessary access level. You can try to re-authenticate on the Set Up Connector page or you can disable stream {{ parameters.get('name') }} on the Schema Tab. Error message: {{ response.get('error') }}"
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("next_page", {}) }}'
          stop_condition: "{{ last_page_size == 0 }}"
        page_token_option:
          type: RequestPath
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_forms"
    $parameters:
      name: "ticket_forms"
      path: "ticket_forms"
      cursor_field: "updated_at"
      primary_key: "id"

  ticket_metric_events_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_metric_events"
    $parameters:
      name: "ticket_metric_events"
      path: "incremental/ticket_metric_events"
      cursor_field: "time"
      cursor_filter: "start_time"
      primary_key: "id"

  ticket_skips_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          sort_order: "desc"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_skips"
    $parameters:
      name: "ticket_skips"
      path: "skips.json"
      data_path: "skips"
      cursor_field: "updated_at"
      primary_key: "id"

  tickets_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      paginator:
        $ref: "#/definitions/after_url_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/tickets"
    $parameters:
      name: "tickets"
      path: "incremental/tickets/cursor.json"
      cursor_field: "generated_timestamp"
      cursor_filter: "start_time"
      primary_key: "id"

  ticket_metrics_stream:
    type: StateDelegatingStream
    name: "ticket_metrics"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_metrics"
    full_refresh_stream:
      $ref: "#/definitions/base_incremental_stream"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ticket_metrics"
      name: "ticket_metrics"
      primary_key: "id"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        cursor_field: "_ab_updated_at"
        start_datetime:
          datetime: "0" # not used as the API does not take filters in and we don't define a step so there is only one request
      retriever:
        $ref: "#/definitions/retriever"
        ignore_stream_slicer_parameters_on_paginated_requests: true
        requester:
          $ref: "#/definitions/retriever/requester"
          path: "ticket_metrics"
        paginator:
          $ref: "#/definitions/links_next_paginator"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["ticket_metrics"]
      transformations:
        - type: AddFields
          fields:
            - path:
                - "_ab_updated_at"
              value: "{{ format_datetime(record['updated_at'], '%s') }}"
    incremental_stream:
      $ref: "#/definitions/base_incremental_stream"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ticket_metrics"
      name: "ticket_metrics"
      primary_key: "id"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        cursor_field: "_ab_updated_at"
        start_datetime:
          datetime: "0" # not used as we should start from the state value
      retriever:
        $ref: "#/definitions/retriever"
        ignore_stream_slicer_parameters_on_paginated_requests: true
        requester:
          $ref: "#/definitions/retriever/requester"
          path: "tickets/{{ stream_partition.ticket_id }}/metrics"
          error_handler:
            type: DefaultErrorHandler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
            response_filters:
              - http_codes: [403]
                action: IGNORE
                failure_type: config_error
                error_message: "Please ensure the authenticated user has access to stream: {self.name}. If the issue persists, contact Zendesk support."
              - http_codes: [404]
                action: IGNORE
                failure_type: config_error
                error_message: "Not found. Ticket was deleted. If the issue persists, contact Zendesk support."
        paginator:
          type: NoPagination
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["ticket_metric"]
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "id"
              partition_field: "ticket_id"
              extra_fields:
                - ["generated_timestamp"]
              stream:
                $ref: "#/definitions/tickets_stream"
              incremental_dependency: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - "_ab_updated_at"
              value: "{{ record['generated_timestamp'] if 'generated_timestamp' in record else stream_slice.extra_fields['generated_timestamp'] }}"
              value_type: "integer"

  topics_stream:
    $ref: "#/definitions/semi_incremental_stream"
    retriever:
      $ref: "#/definitions/semi_incremental_stream/retriever"
      paginator:
        $ref: "#/definitions/links_next_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/topics"
    $parameters:
      name: "topics"
      path: "community/topics"
      cursor_field: "updated_at"
      primary_key: "id"

  triggers_stream:
    $ref: "#/definitions/semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/triggers"
    $parameters:
      name: "triggers"
      path: "triggers"
      cursor_field: "updated_at"
      primary_key: "id"

  users_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      paginator:
        $ref: "#/definitions/after_url_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/users"
    $parameters:
      name: "users"
      path: "incremental/users/cursor.json"
      cursor_field: "updated_at"
      cursor_filter: "start_time"
      primary_key: "id"

  users_identities_stream:
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/retriever"
      ignore_stream_slicer_parameters_on_paginated_requests: true
      paginator:
        $ref: "#/definitions/after_url_paginator"
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          include: "identities"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/user_identities"
    $parameters:
      name: "user_identities"
      data_path: "identities"
      path: "incremental/users/cursor.json"
      cursor_field: "updated_at"
      cursor_filter: "start_time"
      primary_key: "id"

streams:
  # Full refresh streams
  - $ref: "#/definitions/account_attributes_stream"
  - $ref: "#/definitions/attribute_definitions_stream"
  - $ref: "#/definitions/brands_stream"
  - $ref: "#/definitions/custom_roles_stream"
  - $ref: "#/definitions/schedules_stream"
  - $ref: "#/definitions/sla_policies_stream"
  - $ref: "#/definitions/tags_stream"
  - $ref: "#/definitions/ticket_fields_stream"
  - $ref: "#/definitions/ticket_forms_stream"
  - $ref: "#/definitions/topics_stream"
  - $ref: "#/definitions/user_fields_stream"
  - $ref: "#/definitions/automations_stream"
  - $ref: "#/definitions/categories_stream"
  - $ref: "#/definitions/sections_stream"
  # Incremental streams
  - $ref: "#/definitions/articles_stream"
  - $ref: "#/definitions/article_attachments_stream"
  - $ref: "#/definitions/article_comments_stream"
  - $ref: "#/definitions/article_votes_stream"
  - $ref: "#/definitions/article_comment_votes_stream"
  - $ref: "#/definitions/audit_logs_stream"
  - $ref: "#/definitions/groups_stream"
  - $ref: "#/definitions/group_memberships_stream"
  - $ref: "#/definitions/macros_stream"
  - $ref: "#/definitions/organization_fields_stream"
  - $ref: "#/definitions/organization_memberships_stream"
  - $ref: "#/definitions/organizations_stream"
  - $ref: "#/definitions/posts_stream"
  - $ref: "#/definitions/post_comment_votes_stream"
  - $ref: "#/definitions/post_comments_stream"
  - $ref: "#/definitions/post_votes_stream"
  - $ref: "#/definitions/satisfaction_ratings_stream"
  - $ref: "#/definitions/ticket_activities_stream"
  - $ref: "#/definitions/ticket_audits_stream"
  - $ref: "#/definitions/ticket_comments_stream"
  - $ref: "#/definitions/ticket_metric_events_stream"
  - $ref: "#/definitions/ticket_skips_stream"
  - $ref: "#/definitions/tickets_stream"
  - $ref: "#/definitions/ticket_metrics_stream"
  - $ref: "#/definitions/triggers_stream"
  - $ref: "#/definitions/users_stream"
  - $ref: "#/definitions/users_identities_stream"
  # todo: The following streams are enterprise-only streams. However, the low-code CDK does not support
  #  ConditionalStreams based on an API endpoint. These should be under that component once the CDK supports it.
  # - $ref: "#/definitions/ticket_forms_stream"
  # - $ref: "#/definitions/account_attributes_stream"
  # - $ref: "#/definitions/attribute_definitions_stream"

# Zendesk Support offers four tiers of rate limits:
# - Team: 200 req/min (3.3 req/sec)
# - Professional: 400 req/min (6.7 req/sec)
# - Enterprise: 700 req/min (11.7 req/sec)
# - High Volume API add-on: 2500 req/min (41.7 req/sec)
#
# We use defer to a level of 3 because we assume by default that customers are on the Team tier, but
# customers can specify a higher concurrency level as needed up to the theoretical max rate limit.
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 40

spec:
  type: Spec
  documentationUrl: "https://docs.airbyte.com/integrations/sources/zendesk-support"
  connection_specification:
    $schema: "http://json-schema.org/draft-07/schema#"
    title: Source Zendesk Support Spec
    type: object
    required:
      - subdomain
    additionalProperties: true
    properties:
      start_date:
        type: string
        title: Start Date
        description: >-
          The UTC date and time from which you'd like to replicate data, in the
          format YYYY-MM-DDT00:00:00Z. All data generated after this date will be
          replicated.
        examples:
          - "2020-10-15T00:00:00Z"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        pattern_descriptor: "YYYY-MM-DDTHH:mm:ssZ"
        format: date-time
        order: 2
      subdomain:
        type: string
        title: Subdomain
        description: >-
          This is your unique Zendesk subdomain that can be found in your account
          URL. For example, in https://MY_SUBDOMAIN.zendesk.com/, MY_SUBDOMAIN is
          the value of your subdomain.
        order: 0
      credentials:
        title: Authentication
        type: object
        description: >-
          Zendesk allows two authentication methods. We recommend using `OAuth2.0`
          for Airbyte Cloud users and `API token` for Airbyte Open Source users.
        order: 1
        oneOf:
          - title: OAuth2.0
            type: object
            required:
              - access_token
            additionalProperties: true
            properties:
              credentials:
                type: string
                const: oauth2.0
                order: 0
              access_token:
                type: string
                title: Access Token
                description: >-
                  The OAuth access token. See the <a
                  href="https://developer.zendesk.com/documentation/ticketing/working-with-oauth/creating-and-using-oauth-tokens-with-the-api/">Zendesk
                  docs</a> for more information on generating this token.
                airbyte_secret: true
              client_id:
                type: string
                title: Client ID
                description: >-
                  The OAuth client's ID. See <a
                  href="https://docs.searchunify.com/Content/Content-Sources/Zendesk-Authentication-OAuth-Client-ID-Secret.htm#:~:text=Get%20Client%20ID%20and%20Client%20Secret&text=Go%20to%20OAuth%20Clients%20and,will%20be%20displayed%20only%20once.">this
                  guide</a> for more information.
                airbyte_secret: true
              client_secret:
                type: string
                title: Client Secret
                description: >-
                  The OAuth client secret. See <a
                  href="https://docs.searchunify.com/Content/Content-Sources/Zendesk-Authentication-OAuth-Client-ID-Secret.htm#:~:text=Get%20Client%20ID%20and%20Client%20Secret&text=Go%20to%20OAuth%20Clients%20and,will%20be%20displayed%20only%20once.">this
                  guide</a> for more information.
                airbyte_secret: true
          - title: API Token
            type: object
            required:
              - email
              - api_token
            additionalProperties: true
            properties:
              credentials:
                type: string
                const: api_token
                order: 0
              email:
                title: Email
                type: string
                description: The user email for your Zendesk account.
              api_token:
                title: API Token
                type: string
                description: >-
                  The value of the API token generated. See our <a
                  href="https://docs.airbyte.com/integrations/sources/zendesk-support#setup-guide">full
                  documentation</a> for more information on generating this token.
                airbyte_secret: true
      ignore_pagination:
        type: boolean
        default: false
        description: "[Deprecated] Makes each stream read a single page of data."
        title: >-
          [Deprecated] Should the connector read the second and further pages of
          data.
        airbyte_hidden: true
      num_workers:
        type: integer
        title: Number of concurrent workers
        minimum: 1
        maximum: 40
        default: 3
        examples:
          - 1
          - 2
          - 3
        description: >-
          The number of worker threads to use for the sync. The performance upper
          boundary is based on the limit of your Zendesk Support plan. More info
          about the rate limit plan tiers can be found on Zendesk's API <a
          href="https://developer.zendesk.com/api-reference/introduction/rate-limits/#zendesk-support-plan-limits">docs</a>.
        order: 3
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - credentials
    predicate_value: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
      oauth_user_input_from_connector_config_specification:
        type: object
        additionalProperties: false
        properties:
          subdomain:
            type: string
            path_in_connector_config:
              - subdomain

schemas:
  article_attachments:
    $schema: https://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    properties:
      id:
        description: Assigned ID when the article attachment is created.
        type:
          - "null"
          - integer
      url:
        description: The URL of the article attachment.
        type:
          - "null"
          - string
      article_id:
        description: The associated article, if present.
        type:
          - "null"
          - integer
      display_file_name:
        description: The file name displayed.
        type:
          - "null"
          - string
      file_name:
        description: The file name.
        type:
          - "null"
          - string
      locale:
        description:
          TThe locale of translation that the attachment will be attached
          to and can only be set on inline attachments.
        type:
          - "null"
          - string
      content_url:
        description: URL where the attachment file can be downloaded.
        type:
          - "null"
          - string
      relative_path:
        description: Relative path of the file.
        type:
          - "null"
          - string
      content_type:
        description: "The file type. Example: image/png"
        type:
          - "null"
          - string
      size:
        description: The attachment file size in bytes.
        type:
          - "null"
          - integer
      inline:
        description:
          The attached file is shown in the admin interface for inline
          attachments.
        type:
          - "null"
          - boolean
      created_at:
        description: The time the article attachment was created.
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        description: The time the article attachment was last updated.
        type:
          - "null"
          - string
        format: date-time
  categories:
    $schema: https://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    properties:
      id:
        description: Unique identifier for the category.
        type:
          - "null"
          - integer
      name:
        description: Name of the category.
        type:
          - "null"
          - string
      position:
        description: The position of this category relative to other categories.
        type:
          - "null"
          - integer
      description:
        description: The description of the category.
        type:
          - "null"
          - string
      locale:
        description: The locale where the category is displayed.
        type:
          - "null"
          - string
      url:
        description: The API url of this category.
        type:
          - "null"
          - string
      html_url:
        description: The url of this category in Help Center.
        type:
          - "null"
          - string
      source_locale:
        description: The source (default) locale of the category.
        type:
          - "null"
          - string
      outdated:
        description: Whether the category is out of date.
        type:
          - "null"
          - string
      created_at:
        description: Timestamp of when the category was created.
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        description: Timestamp of when the category was last updated.
        type:
          - "null"
          - string
        format: date-time
  sla_policies:
    $schema: https://json-schema.org/draft-07/schema#
    type:
      - object
    properties:
      id:
        description: The unique identifier for the SLA policy.
        type:
          - integer
      url:
        description: The URL link to access the SLA policy details.
        type:
          - "null"
          - string
      title:
        description: The title of the SLA policy.
        type:
          - "null"
          - string
      description:
        description: The description of the SLA policy.
        type:
          - "null"
          - string
      position:
        description: The position of the SLA policy.
        type:
          - "null"
          - integer
      filter:
        description: Contains filtering criteria for retrieving SLA policies data.
        properties:
          all:
            description:
              All conditions within this array must be met for a policy
              to be returned.
            type:
              - "null"
              - array
            items:
              description: Defines specific conditions for filtering SLA policies.
              properties:
                field:
                  description: The field to filter on.
                  type:
                    - "null"
                    - string
                operator:
                  description: The operator for the filter.
                  type:
                    - "null"
                    - string
                value:
                  description: The value to filter by.
                  type:
                    - "null"
                    - string
                    - number
                    - boolean
              type:
                - object
          any:
            description:
              At least one condition within this array must be met for
              a policy to be returned.
            type:
              - "null"
              - array
            items:
              description: Defines specific conditions for filtering SLA policies.
              properties:
                field:
                  description: The field to filter on.
                  type:
                    - "null"
                    - string
                operator:
                  description: The operator for the filter.
                  type:
                    - "null"
                    - string
                value:
                  description: The value to filter by.
                  type:
                    - "null"
                    - string
              type:
                - object
        type:
          - "null"
          - object
      policy_metrics:
        description: Contains metrics associated with SLA policies.
        type:
          - "null"
          - array
        items:
          description: Specifies individual metrics related to SLA policies.
          properties:
            priority:
              description: The priority level of the SLA policy.
              type:
                - "null"
                - string
            target:
              description: The target value for the metric.
              type:
                - "null"
                - integer
            business_hours:
              description: The business hours considered for the SLA policy.
              type:
                - "null"
                - boolean
            metric:
              description: The metric to measure the SLA policy against.
              type:
                - "null"
                - string
          type:
            - "null"
            - object
      created_at:
        description: The timestamp for when the SLA policy was created.
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        description: The timestamp for when the SLA policy was last updated.
        type:
          - "null"
          - string
        format: date-time
  satisfaction_ratings:
    $schema: https://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    properties:
      id:
        description: The unique identifier of the satisfaction rating entry.
        type:
          - "null"
          - integer
      assignee_id:
        description: The unique identifier of the user assigned to the ticket.
        type:
          - "null"
          - integer
      group_id:
        description: The unique identifier of the group associated with the ticket.
        type:
          - "null"
          - integer
      reason_id:
        description: The unique identifier of the selected satisfaction rating reason.
        type:
          - "null"
          - integer
      requester_id:
        description: The unique identifier of the requester who provided the rating.
        type:
          - "null"
          - integer
      ticket_id:
        description:
          The unique identifier of the ticket associated with the satisfaction
          rating.
        type:
          - "null"
          - integer
      updated_at:
        description: The date and time when the satisfaction rating was last updated.
        type:
          - "null"
          - string
        format: date-time
      created_at:
        description: The date and time when the satisfaction rating was created.
        type:
          - "null"
          - string
        format: date-time
      url:
        description: The URL to access the details of the satisfaction rating.
        type:
          - "null"
          - string
      score:
        description:
          The satisfaction score given by the requester (usually a numeric
          value).
        type:
          - "null"
          - string
      reason:
        description: The reason selected by the requester for the satisfaction rating.
        type:
          - "null"
          - string
      comment:
        description: The feedback comment provided by the requester.
        type:
          - "null"
          - string
  automations:
    $schema: https://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    properties:
      actions:
        type: array
        description: An object describing what the automation will do
        items:
          type:
            - object
            - "null"
          properties:
            field:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      active:
        type:
          - boolean
          - "null"
        description: Whether the automation is active
      conditions:
        type: object
        description:
          An object that describes the conditions under which the automation
          will execute
        properties:
          all:
            type: array
            items:
              type:
                - object
                - "null"
              properties:
                field:
                  type:
                    - string
                    - "null"
                operator:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          any:
            type: array
            items:
              type:
                - object
                - "null"
              properties:
                field:
                  type:
                    - string
                    - "null"
                operator:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
      created_at:
        description: The time the automation was created
        type:
          - string
          - "null"
      default:
        type:
          - boolean
          - "null"
        description: If true, the automation is a default automation
      id:
        type:
          - integer
          - "null"
        description: Automatically assigned when created
      position:
        type:
          - integer
          - "null"
        description:
          The position of the automation which specifies the order it will
          be executed
      raw_title:
        type:
          - string
          - "null"
        description: The raw title of the automation
      title:
        type:
          - string
          - "null"
        description: The title of the automation
      updated_at:
        description: The time of the last update of the automation
        type:
          - string
          - "null"
  post_comments:
    $schema: https://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    properties:
      author_id:
        description: The unique identifier of the author of the comment.
        type:
          - "null"
          - integer
      body:
        description: The content of the comment.
        type:
          - "null"
          - string
      created_at:
        description: The timestamp when the comment was created.
        type:
          - "null"
          - string
        format: date-time
      html_url:
        description: The URL to access the comment in HTML format.
        type:
          - "null"
          - string
      id:
        description: The unique identifier of the comment.
        type:
          - "null"
          - integer
      non_author_editor_id:
        description: The unique identifier of the non-author editor of the comment.
        type:
          - "null"
          - integer
      non_author_updated_at:
        description:
          The timestamp when the comment was last updated by a non-author
          editor.
        type:
          - "null"
          - string
        format: date-time
      official:
        description: Indicates if the comment is from an official source.
        type:
          - "null"
          - boolean
      post_id:
        description: The unique identifier of the post to which the comment belongs.
        type:
          - "null"
          - integer
      updated_at:
        description: The timestamp when the comment was last updated.
        type:
          - "null"
          - string
        format: date-time
      url:
        description: The URL to access the comment.
        type:
          - "null"
          - string
      vote_count:
        description: The total count of votes the comment has received.
        type:
          - "null"
          - integer
      vote_sum:
        description:
          The sum of all votes (positive and negative) the comment has
          received.
        type:
          - "null"
          - integer
  ticket_audits:
    $schema: https://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    properties:
      events:
        description: List of events related to the ticket audit
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            attachments:
              description: Attachments associated with the event
              items:
                properties:
                  id:
                    description: Unique identifier for the attachment
                    type:
                      - "null"
                      - integer
                  size:
                    description: Size of the attachment in bytes
                    type:
                      - "null"
                      - integer
                  url:
                    description: URL to access the attachment
                    type:
                      - "null"
                      - string
                  inline:
                    description: Indicates if the attachment is displayed inline
                    type:
                      - "null"
                      - boolean
                  height:
                    description: Height of the attachment (if applicable)
                    type:
                      - "null"
                      - integer
                  width:
                    description: Width of the attachment (if applicable)
                    type:
                      - "null"
                      - integer
                  content_url:
                    description: URL to access the content of the attachment
                    type:
                      - "null"
                      - string
                  mapped_content_url:
                    description: Mapped URL to access the content of the attachment
                    type:
                      - "null"
                      - string
                  content_type:
                    description: Type of content of the attachment
                    type:
                      - "null"
                      - string
                  file_name:
                    description: Name of the attachment file
                    type:
                      - "null"
                      - string
                  thumbnails:
                    description: Thumbnails associated with the attachment
                    items:
                      properties:
                        id:
                          description: Unique identifier for the thumbnail attachment
                          type:
                            - "null"
                            - integer
                        size:
                          description: Size of the thumbnail attachment in bytes
                          type:
                            - "null"
                            - integer
                        url:
                          description: URL to access the thumbnail attachment
                          type:
                            - "null"
                            - string
                        inline:
                          description:
                            Indicates if the thumbnail attachment is displayed
                            inline
                          type:
                            - "null"
                            - boolean
                        height:
                          description: Height of the thumbnail attachment
                          type:
                            - "null"
                            - integer
                        width:
                          description: Width of the thumbnail attachment
                          type:
                            - "null"
                            - integer
                        content_url:
                          description:
                            URL to access the content of the thumbnail
                            attachment
                          type:
                            - "null"
                            - string
                        mapped_content_url:
                          description:
                            Mapped URL to access the content of the thumbnail
                            attachment
                          type:
                            - "null"
                            - string
                        content_type:
                          description: Type of content of the thumbnail attachment
                          type:
                            - "null"
                            - string
                        file_name:
                          description: Name of the thumbnail attachment file
                          type:
                            - "null"
                            - string
                      type:
                        - "null"
                        - object
                    type:
                      - "null"
                      - array
                  deleted:
                    description: Indicates if the attachment has been deleted
                    type:
                      - "null"
                      - boolean
                  malware_access_override:
                    description: Malware access override status for the attachment
                    type:
                      - "null"
                      - boolean
                  malware_scan_result:
                    description: Result of malware scan for the attachment
                    type:
                      - "null"
                      - string
                type:
                  - "null"
                  - object
              type:
                - "null"
                - array
            created_at:
              description: Date and time when the event was created
              type:
                - "null"
                - string
              format: date-time
            data:
              description: Data associated with the event
              type:
                - "null"
                - object
              properties:
                author_id:
                  description: ID of the author of the event
                  type:
                    - "null"
                    - integer
                brand_id:
                  description: ID of the brand associated with the event
                  type:
                    - "null"
                    - integer
                call_id:
                  description: ID of the call associated with the event
                  type:
                    - "null"
                    - integer
                line_type:
                  description: Type of line used for the event
                  type:
                    - "null"
                    - string
                location:
                  description: Location associated with the event
                  type:
                    - "null"
                    - string
                public:
                  description: Indicates if the event is public
                  type:
                    - "null"
                    - boolean
                recorded:
                  description: Indicates if the event was recorded
                  type:
                    - "null"
                    - boolean
                recording_consent_action:
                  description: Action taken for recording consent
                  type:
                    - "null"
                    - string
                recording_type:
                  description: Type of recording for the event
                  type:
                    - "null"
                    - string
                via_id:
                  description: ID of the channel via which the event occurred
                  type:
                    - "null"
                    - integer
                transcription_status:
                  description: Status of transcription for the event
                  type:
                    - "null"
                    - string
                transcription_text:
                  description: Transcribed text of the event
                  type:
                    - "null"
                    - string
                to:
                  description: Recipient of the event
                  type:
                    - "null"
                    - string
                call_duration:
                  description: Duration of the call for the event
                  type:
                    - "null"
                    - number
                answered_by_name:
                  description: Name of the user who answered the event
                  type:
                    - "null"
                    - string
                recording_url:
                  description: URL to access the recording of the event
                  type:
                    - "null"
                    - string
                started_at:
                  description: Date and time when the event started
                  type:
                    - "null"
                    - string
                  format: date-time
                answered_by_id:
                  description: ID of the user who answered the event
                  type:
                    - "null"
                    - integer
                from:
                  description: Sender of the event
                  type:
                    - "null"
                    - string
            current_followers:
              description: List of current followers for the event
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            previous_followers:
              description: List of previous followers for the event
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            formatted_from:
              description: Formatted sender of the event
              type:
                - "null"
                - string
            formatted_to:
              description: Formatted recipient of the event
              type:
                - "null"
                - string
            transcription_visible:
              description: Indicates if transcription is visible for the event
              type:
                - "null"
                - boolean
            trusted:
              description: Indicates the trust level of the event
              type:
                - "null"
                - boolean
            html_body:
              description: HTML content of the event body
              type:
                - "null"
                - string
            subject:
              description: Subject of the event
              type:
                - "null"
                - string
            field_name:
              description: Name of the field changed in the event
              type:
                - "null"
                - string
            audit_id:
              description: ID of the audit related to the event
              type:
                - "null"
                - integer
            value:
              description: Current value of the field changed in the event
              oneOf:
                - type: array
                  items:
                    type:
                      - "null"
                      - string
                - type: object
                  properties: {}
                  additionalProperties: true
                - type: string
                - type: "null"
            author_id:
              description: ID of the author of the event
              type:
                - "null"
                - integer
            via:
              description: Channel via which the event occurred
              properties:
                channel:
                  description: Type of channel used for the event
                  type:
                    - "null"
                    - string
                source:
                  description: Source details of the channel
                  properties:
                    to:
                      description: Recipient details
                      properties:
                        address:
                          description: Recipient address
                          type:
                            - "null"
                            - string
                        name:
                          description: Name of the recipient
                          type:
                            - "null"
                            - string
                      type:
                        - "null"
                        - object
                    from:
                      description: Sender details
                      properties:
                        title:
                          description: Title associated with the sender
                          type:
                            - "null"
                            - string
                        address:
                          description: Sender address
                          type:
                            - "null"
                            - string
                        subject:
                          description: Subject associated with the sender
                          type:
                            - "null"
                            - string
                        deleted:
                          description: Indicates if the sender was deleted
                          type:
                            - "null"
                            - boolean
                        name:
                          description: Name of the sender
                          type:
                            - "null"
                            - string
                        original_recipients:
                          description: Original recipients of the sender
                          items:
                            type:
                              - "null"
                              - string
                          type:
                            - "null"
                            - array
                        id:
                          description: ID of the sender
                          type:
                            - "null"
                            - integer
                        ticket_id:
                          description: ID of the ticket associated with the sender
                          type:
                            - "null"
                            - integer
                        revision_id:
                          description: Revision ID of the sender
                          type:
                            - "null"
                            - integer
                      type:
                        - "null"
                        - object
                    rel:
                      description: Relationship with the target
                      type:
                        - "null"
                        - string
                  type:
                    - "null"
                    - object
              type:
                - "null"
                - object
            type:
              description: Type of the event
              type:
                - "null"
                - string
            macro_id:
              description: ID of the macro associated with the event
              type:
                - "null"
                - string
            body:
              description: Body content of the event
              type:
                - "null"
                - string
            recipients:
              description: List of recipients for the event
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - integer
            macro_deleted:
              description: Indicates if a macro was deleted during the event
              type:
                - "null"
                - boolean
            plain_body:
              description: Plain text content of the event body
              type:
                - "null"
                - string
            id:
              description: Unique identifier for the event
              type:
                - "null"
                - integer
            previous_value:
              description: Previous value of the field changed in the event
              type:
                - "null"
                - string
            macro_title:
              description: Title of the macro associated with the event
              type:
                - "null"
                - string
            public:
              description: Indicates if the event is public
              type:
                - "null"
                - boolean
            resource:
              description: Resource associated with the event
              type:
                - "null"
                - string
      author_id:
        description: ID of the author of the ticket audit
        type:
          - "null"
          - integer
      metadata:
        description: Metadata associated with the ticket audit
        type:
          - "null"
          - object
        properties:
          suspension_type_id:
            description: ID of the suspension type associated with the audit
            type:
              - "null"
              - integer
          custom:
            description: Custom metadata for the audit
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          trusted:
            description: Indicates the trust level of the audit
            type:
              - "null"
              - boolean
          notifications_suppressed_for:
            description: List of notifications suppressed for the audit
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          decoration:
            description: Decoration details for the audit
            type:
              - "null"
              - object
            properties:
              channels:
                description: Channels details for the audit
                type:
                  - "null"
                  - object
                properties:
                  allow_channelback:
                    description: Indicates if channelback is allowed for the audit
                    type:
                      - "null"
                      - boolean
                additionalProperties: true
              source:
                description: Source details for the audit
                type:
                  - "null"
                  - object
                properties:
                  id:
                    description: ID of the source
                    type:
                      - "null"
                      - string
                  name:
                    description: Name of the source
                    type:
                      - "null"
                      - string
                  zendesk_id:
                    description: Zendesk ID associated with the source
                    type:
                      - "null"
                      - integer
                additionalProperties: true
              created_at:
                description: Date and time when the audit was created
                type:
                  - "null"
                  - string
              external_id:
                description: External ID associated with the audit
                type:
                  - "null"
                  - string
              resource_type:
                description: Type of resource associated with the audit
                type:
                  - "null"
                  - string
              type:
                description: Type of decoration for the audit
                type:
                  - "null"
                  - string
              version:
                description: Version of the audit
                type:
                  - "null"
                  - integer
            additionalProperties: true
          flags_options:
            description: Options for flags associated with the audit
            type:
              - "null"
              - object
            properties:
              "2":
                description: Flag option 2 details
                type:
                  - "null"
                  - object
                properties:
                  trusted:
                    description: Indicates the trust level of flag option 2
                    type:
                      - "null"
                      - boolean
              "11":
                description: Flag option 11 details
                type:
                  - "null"
                  - object
                properties:
                  trusted:
                    description: Indicates the trust level of flag option 11
                    type:
                      - "null"
                      - boolean
                  message:
                    description: Message associated with flag option 11
                    type:
                      - "null"
                      - object
                    properties:
                      user:
                        description: User associated with the message
                        type:
                          - "null"
                          - string
              "15":
                description: Flag option 15 details
                type:
                  - "null"
                  - object
                properties:
                  trusted:
                    description: Indicates the trust level of flag option 15
                    type:
                      - "null"
                      - boolean
                  message:
                    description: Message associated with flag option 15
                    type:
                      - "null"
                      - object
                    properties:
                      user:
                        description: User associated with the message
                        type:
                          - "null"
                          - string
          flags:
            description: Flags associated with the audit
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          system:
            description: System details for the audit
            type:
              - "null"
              - object
            properties:
              location:
                description: Location details associated with the system
                type:
                  - "null"
                  - string
              longitude:
                description: Longitude of the location associated with the system
                type:
                  - "null"
                  - number
              message_id:
                description: Message ID associated with the system
                type:
                  - "null"
                  - string
              raw_email_identifier:
                description: Raw email identifier associated with the system
                type:
                  - "null"
                  - string
              ip_address:
                description: IP address associated with the system
                type:
                  - "null"
                  - string
              json_email_identifier:
                description: JSON email identifier associated with the system
                type:
                  - "null"
                  - string
              client:
                description: Client associated with the system
                type:
                  - "null"
                  - string
              latitude:
                description: Latitude of the location associated with the system
                type:
                  - "null"
                  - number
              email_id:
                description: Email ID associated with the system
                type:
                  - "null"
                  - string
              eml_redacted:
                description: Indicates if EML content is redacted
                type:
                  - "null"
                  - boolean
      id:
        description: Unique identifier for the ticket audit
        type:
          - "null"
          - integer
      created_at:
        description: Date and time when the ticket audit was created
        type:
          - "null"
          - string
        format: date-time
      ticket_id:
        description: ID of the ticket associated with the audit
        type:
          - "null"
          - integer
      via:
        description: Details of the channel via which the audit occurred
        type:
          - "null"
          - object
        properties:
          channel:
            description: Type of channel used for the audit
            type:
              - "null"
              - string
          source:
            description: Source details of the channel
            type:
              - "null"
              - object
            properties:
              from:
                description: Sender details
                type:
                  - "null"
                  - object
                properties:
                  ticket_ids:
                    description: List of ticket IDs associated with the sender
                    type:
                      - "null"
                      - array
                    items:
                      type:
                        - "null"
                        - integer
                  subject:
                    description: Subject associated with the sender
                    type:
                      - "null"
                      - string
                  channel:
                    description: Type of channel used by the sender
                    type:
                      - "null"
                      - string
                  name:
                    description: Name of the sender
                    type:
                      - "null"
                      - string
                  address:
                    description: Sender address
                    type:
                      - "null"
                      - string
                  formatted_phone:
                    description: Formatted phone number of the sender
                    type:
                      - "null"
                      - string
                  phone:
                    description: Phone number of the sender
                    type:
                      - "null"
                      - string
                  original_recipients:
                    description: Original recipients of the sender
                    type:
                      - "null"
                      - array
                    items:
                      type:
                        - "null"
                        - string
                  id:
                    description: ID of the sender
                    type:
                      - "null"
                      - integer
                  ticket_id:
                    description: ID of the ticket associated with the sender
                    type:
                      - "null"
                      - integer
                  deleted:
                    description: Indicates if the sender was deleted
                    type:
                      - "null"
                      - boolean
                  title:
                    description: Title associated with the sender
                    type:
                      - "null"
                      - string
              to:
                description: Recipient details
                type:
                  - "null"
                  - object
                properties:
                  name:
                    description: Name of the recipient
                    type:
                      - "null"
                      - string
                  brand_id:
                    description: ID of the brand associated with the recipient
                    type:
                      - "null"
                      - integer
                  address:
                    description: Recipient address
                    type:
                      - "null"
                      - string
                  formatted_phone:
                    description: Formatted phone number of the recipient
                    type:
                      - "null"
                      - string
                  phone:
                    description: Phone number of the recipient
                    type:
                      - "null"
                      - string
              rel:
                description: Relationship with the target
                type:
                  - "null"
                  - string
      attachments:
        description: Attachments associated with the ticket audit
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            content_type:
              description: Type of content of the attachment
              type:
                - "null"
                - string
            content_url:
              description: URL to access the content of the attachment
              type:
                - "null"
                - string
            deleted:
              description: Indicates if the attachment has been deleted
              type:
                - "null"
                - boolean
            file_name:
              description: Name of the attachment file
              type:
                - "null"
                - string
            height:
              description: Height of the attachment (if applicable)
              type:
                - "null"
                - integer
            id:
              description: Unique identifier for the attachment
              type:
                - "null"
                - integer
            inline:
              description: Indicates if the attachment is displayed inline
              type:
                - "null"
                - boolean
            malware_access_override:
              description: Malware access override status for the attachment
              type:
                - "null"
                - boolean
            malware_scan_result:
              description: Result of malware scan for the attachment
              type:
                - "null"
                - string
            mapped_content_url:
              description: Mapped URL to access the content of the attachment
              type:
                - "null"
                - string
            size:
              description: Size of the attachment in bytes
              type:
                - "null"
                - integer
            thumbnails:
              description: Thumbnails associated with the attachment
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties: {}
                additionalProperties: true
            url:
              description: URL to access the attachment
              type:
                - "null"
                - string
            width:
              description: Width of the attachment (if applicable)
              type:
                - "null"
                - integer
          additionalProperties: true
  ticket_comments:
    $schema: https://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    properties:
      created_at:
        description: Timestamp indicating when the ticket comment was created.
        type:
          - "null"
          - string
        format: date-time
      timestamp:
        description: UNIX timestamp representing the time the ticket comment was created.
        type:
          - "null"
          - integer
      body:
        description: Text body of the ticket comment.
        type:
          - "null"
          - string
      id:
        description: Unique identifier for the ticket comment.
        type:
          - "null"
          - integer
      ticket_id:
        description: Identifier of the ticket to which the comment belongs.
        type:
          - "null"
          - integer
      event_type:
        description: Type of event associated with the ticket comment.
        type:
          - "null"
          - string
      type:
        description: Type of the ticket comment.
        type:
          - "null"
          - string
      via_reference_id:
        description:
          Reference ID associated with the channel through which the ticket
          comment was created.
        type:
          - "null"
          - integer
      html_body:
        description: HTML formatted body of the ticket comment.
        type:
          - "null"
          - string
      plain_body:
        description: Plain text version of the ticket comment body.
        type:
          - "null"
          - string
      public:
        description: Flag indicating if the ticket comment is public or private.
        type:
          - "null"
          - boolean
      audit_id:
        description: Unique identifier for the audit associated with this ticket comment.
        type:
          - "null"
          - integer
      author_id:
        description: Identifier of the author of the ticket comment.
        type:
          - "null"
          - integer
      via:
        description: Channel through which the ticket comment was created.
        type:
          - "null"
          - object
        properties:
          channel:
            type:
              - "null"
              - string
          source:
            type:
              - "null"
              - object
            properties:
              from:
                type:
                  - "null"
                  - object
                properties:
                  ticket_ids:
                    type:
                      - "null"
                      - array
                    items:
                      type:
                        - "null"
                        - integer
                  subject:
                    type:
                      - "null"
                      - string
                  channel:
                    type:
                      - "null"
                      - string
                  name:
                    type:
                      - "null"
                      - string
                  address:
                    type:
                      - "null"
                      - string
                  original_recipients:
                    type:
                      - "null"
                      - array
                    items:
                      type:
                        - "null"
                        - string
                  id:
                    type:
                      - "null"
                      - integer
                  ticket_id:
                    type:
                      - "null"
                      - integer
                  deleted:
                    type:
                      - "null"
                      - boolean
                  title:
                    type:
                      - "null"
                      - string
              to:
                type:
                  - "null"
                  - object
                properties:
                  name:
                    type:
                      - "null"
                      - string
                  address:
                    type:
                      - "null"
                      - string
              rel:
                type:
                  - "null"
                  - string
      metadata:
        description: Additional metadata associated with the ticket comment.
        type:
          - "null"
          - object
        properties:
          custom:
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          trusted:
            type:
              - "null"
              - boolean
          notifications_suppressed_for:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          flags_options:
            type:
              - "null"
              - object
            properties:
              "2":
                type:
                  - "null"
                  - object
                properties:
                  trusted:
                    type:
                      - "null"
                      - boolean
              "11":
                type:
                  - "null"
                  - object
                properties:
                  trusted:
                    type:
[...]
