version: 6.4.0

type: DeclarativeSource

description: >-
  Capsule CRM connector  enables seamless data syncing from Capsule CRM to
  various data warehouses, helping businesses centralize and analyze customer
  data efficiently. It supports real-time data extraction of contacts,
  opportunities, and custom fields, making it ideal for comprehensive CRM
  analytics and reporting.

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    parties:
      type: DeclarativeStream
      name: parties
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/parties
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - parties
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: perPage
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/parties"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    employees:
      type: DeclarativeStream
      name: employees
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/parties/{{ stream_partition.party }}/people
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - parties
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: party
              stream:
                $ref: "#/definitions/streams/parties"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/kases
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - kases
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    opportunities:
      type: DeclarativeStream
      name: opportunities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/opportunities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - opportunities
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: since
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunities"
    pipelines:
      type: DeclarativeStream
      name: pipelines
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/pipelines
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - pipelines
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipelines"
    milestones:
      type: DeclarativeStream
      name: milestones
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/milestones
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - milestones
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/milestones"
    site:
      type: DeclarativeStream
      name: site
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/site
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - site
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/site"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/{{ config['entity'] }}/tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tags
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/{{ config['entity'] }}/fields/definitions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - definitions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    lost_reasons:
      type: DeclarativeStream
      name: lost_reasons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lostreasons
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lostReasons
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lost_reasons"
    board:
      type: DeclarativeStream
      name: board
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/boards
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - boards
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/board"
    categories:
      type: DeclarativeStream
      name: categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/categories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - categories
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
    activity_types:
      type: DeclarativeStream
      name: activity_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/activitytypes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - activityTypes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_types"
    stages:
      type: DeclarativeStream
      name: stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/stages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - stages
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
            stop_condition: "{{ headers.get('link', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stages"
  base_requester:
    type: HttpRequester
    url_base: https://api.capsulecrm.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"bearer_token\"] }}"

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/parties"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/employees"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/opportunities"
  - $ref: "#/definitions/streams/pipelines"
  - $ref: "#/definitions/streams/milestones"
  - $ref: "#/definitions/streams/site"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/lost_reasons"
  - $ref: "#/definitions/streams/board"
  - $ref: "#/definitions/streams/categories"
  - $ref: "#/definitions/streams/activity_types"
  - $ref: "#/definitions/streams/stages"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - bearer_token
      - start_date
      - entity
    properties:
      bearer_token:
        type: string
        description: >-
          Bearer token to authenticate API requests. Generate it from the 'My
          Preferences' > 'API Authentication Tokens' page in your Capsule
          account.
        name: bearer_token
        order: 0
        title: Bearer Token
        airbyte_secret: true
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
      entity:
        type: string
        title: Entity
        enum:
          - parties
          - opportunities
          - kases
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    users: true
    parties: true
    tasks: true
    employees: true
    projects: true
    opportunities: true
    pipelines: true
    milestones: true
    site: true
    tags: true
    custom_fields: true
    lost_reasons: true
    board: true
    categories: true
    activity_types: true
    stages: true
  testedStreams:
    users:
      streamHash: 1df7dd662cff0427b74427d335bae274ac526658
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    parties:
      streamHash: 7472efff929fe223b3fd60bcc1fb4f171c26bfb4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tasks:
      streamHash: 127af0f770965149c9c86d2f89e35a39735a1b40
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    employees:
      streamHash: 74bc35579e14f68ecae546fb1580200ad7136579
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: a5eb36cc8204d1f37d33d64aae2273102d1e59a5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    opportunities:
      streamHash: e7c448d4f554df553f86ad8fd0ef3a73d8234a09
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pipelines:
      streamHash: 960f49c70af6d95e908914e372108cab3fb483c5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    milestones:
      streamHash: 7cde1e3cd3e578a77a3a1b1b3f8bb995d832f9e0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    site:
      streamHash: 44c92a9afa7ece8d625eca19e657e358bd1e550f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: 69b50c615b4fc5156884913543c122eac9cb61b1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    custom_fields:
      streamHash: 10b46602c7261ba4f3bbdeb227cc1f10c0de1a57
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    lost_reasons:
      streamHash: bf8dec5d032eb3cdae7894af0ce4c156c03bb773
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    board:
      streamHash: 85008610bc07d3a5833a39bc45d5da2b7f3caebe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    categories:
      streamHash: e77e7e691dacabf690890eb1da6d2ee43c4b9238
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activity_types:
      streamHash: 1709073a75e496a6662794e1c2e0a8f6f1a1b980
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    stages:
      streamHash: b8070adccf36161f5638e1a047731b03e12b567c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.capsulecrm.com/v2/overview/getting-started

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      currency:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      id:
        type: number
      lastLoginAt:
        type:
          - string
          - "null"
      locale:
        type:
          - string
          - "null"
      loggedIn:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      party:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          lastName:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
      pictureURL:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      taskReminder:
        type:
          - boolean
          - "null"
      timezone:
        type:
          - string
          - "null"
      username:
        type:
          - string
          - "null"
    required:
      - id
  parties:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      addresses:
        type:
          - array
          - "null"
      createdAt:
        type:
          - string
          - "null"
      emailAddresses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            address:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: number
      jobTitle:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      organisation:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          deleted:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
      phoneNumbers:
        type:
          - array
          - "null"
      pictureURL:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      websites:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            address:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            service:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
    required:
      - id
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      active:
        type:
          - boolean
          - "null"
      category:
        type:
          - object
          - "null"
        properties:
          colour:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      detail:
        type:
          - string
          - "null"
      dueOn:
        type:
          - string
          - "null"
      hasTrack:
        type:
          - boolean
          - "null"
      id:
        type: number
      owner:
        type:
          - object
          - "null"
        properties:
          deleted:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
      party:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      taskDayDelayRule:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  employees:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      addresses:
        type:
          - array
          - "null"
      createdAt:
        type:
          - string
          - "null"
      emailAddresses:
        type:
          - array
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: number
      lastName:
        type:
          - string
          - "null"
      organisation:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
      phoneNumbers:
        type:
          - array
          - "null"
      pictureURL:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      websites:
        type:
          - array
          - "null"
    required:
      - id
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          deleted:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
      party:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          lastName:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
      stage:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  opportunities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      durationBasis:
        type:
          - string
          - "null"
      id:
        type: number
      lastOpenMilestone:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      lastStageChangedAt:
        type:
          - string
          - "null"
      milestone:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          deleted:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
      party:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          lastName:
            type:
              - string
              - "null"
          pictureURL:
            type:
              - string
              - "null"
      probability:
        type:
          - number
          - "null"
      updatedAt:
        type: string
      value:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
    required:
      - id
      - updatedAt
  pipelines:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  milestones:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      complete:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - string
          - "null"
      daysUntilStale:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      pipeline:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      probability:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  site:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      name:
        type:
          - string
          - "null"
      subdomain:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      dataTag:
        type:
          - boolean
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  custom_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      displayOrder:
        type:
          - number
          - "null"
      id:
        type: number
      important:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      options:
        type:
          - array
          - "null"
    required:
      - id
  lost_reasons:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: number
      includedForConversion:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  board:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      colour:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  activity_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      icon:
        type:
          - object
          - "null"
        properties:
          displayName:
            type:
              - string
              - "null"
          iconName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          isSystem:
            type:
              - boolean
              - "null"
          order:
            type:
              - number
              - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updateLastContacted:
        type:
          - boolean
          - "null"
    required:
      - id
  stages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      board:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      displayOrder:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
