version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - customfields
    - contacts
    - folders
    - tasks
    - workflows
definitions:
  streams:
    customfields:
      type: DeclarativeStream
      name: customfields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['wrike_instance'] }}/api/v4
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /customfields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: nextPageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['nextPageToken'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - object
            - "null"
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - string
                - "null"
            accountId:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            settings:
              type:
                - object
                - "null"
              properties:
                aggregation:
                  type:
                    - string
                    - "null"
                allowOtherValues:
                  type:
                    - boolean
                    - "null"
                allowTime:
                  type:
                    - boolean
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
                decimalPlaces:
                  type:
                    - integer
                    - "null"
                inheritanceType:
                  type:
                    - string
                    - "null"
                readOnly:
                  type:
                    - boolean
                    - "null"
                useThousandsSeparator:
                  type:
                    - boolean
                    - "null"
                values:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - integer
                      - number
                      - boolean
                      - "null"
            sharedIds:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            spaceId:
              type:
                - "null"
                - string
            title:
              type:
                - string
                - "null"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['wrike_instance'] }}/api/v4
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: nextPageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['nextPageToken'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - object
            - "null"
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - string
                - "null"
            avatarUrl:
              type:
                - string
                - "null"
            companyName:
              type:
                - "null"
                - string
            deleted:
              type:
                - boolean
                - "null"
            firstName:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            lastName:
              type:
                - string
                - "null"
            locale:
              type:
                - string
                - "null"
            me:
              type:
                - "null"
                - boolean
            memberIds:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            myTeam:
              type:
                - "null"
                - boolean
            phone:
              type:
                - "null"
                - string
            profiles:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  accountId:
                    type:
                      - string
                      - "null"
                  admin:
                    type:
                      - boolean
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  external:
                    type:
                      - boolean
                      - "null"
                  owner:
                    type:
                      - boolean
                      - "null"
                  role:
                    type:
                      - string
                      - "null"
            timezone:
              type:
                - string
                - "null"
            title:
              type:
                - "null"
                - string
    workflows:
      type: DeclarativeStream
      name: workflows
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['wrike_instance'] }}/api/v4
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /workflows
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: nextPageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['nextPageToken'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - object
            - "null"
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            customStatuses:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  color:
                    type:
                      - string
                      - "null"
                  group:
                    type:
                      - string
                      - "null"
                  hidden:
                    type:
                      - boolean
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  standard:
                    type:
                      - boolean
                      - "null"
                  standardName:
                    type:
                      - boolean
                      - "null"
            hidden:
              type:
                - boolean
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            standard:
              type:
                - boolean
                - "null"
            title:
              type:
                - string
                - "null"
    comments:
      type: DeclarativeStream
      name: comments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['wrike_instance'] }}/api/v4
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /comments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: nextPageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['nextPageToken'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - object
            - "null"
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            authorId:
              type:
                - string
                - "null"
            createdDate:
              type:
                - string
                - "null"
              format: date-time
            id:
              type:
                - string
                - "null"
            taskId:
              type:
                - string
                - "null"
            text:
              type:
                - string
                - "null"
            updatedDate:
              type:
                - "null"
                - string
              format: date-time
    folders:
      type: DeclarativeStream
      name: folders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['wrike_instance'] }}/api/v4
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /folders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: nextPageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['nextPageToken'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - object
            - "null"
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            childIds:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            createdDate:
              type:
                - "null"
                - string
              format: date-time
            id:
              type:
                - string
                - "null"
            project:
              type:
                - object
                - "null"
              properties:
                authorId:
                  type:
                    - string
                    - "null"
                createdDate:
                  type:
                    - "null"
                    - string
                  format: date-time
                customStatusId:
                  type:
                    - string
                    - "null"
                ownerIds:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
            scope:
              type:
                - string
                - "null"
            space:
              type:
                - boolean
                - "null"
            title:
              type:
                - string
                - "null"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['wrike_instance'] }}/api/v4
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: nextPageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['nextPageToken'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - object
            - "null"
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            accountId:
              type:
                - string
                - "null"
            authorIds:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            briefDescription:
              type:
                - "null"
                - string
            completedDate:
              type: string
              format: date-time
            createdDate:
              type:
                - string
                - "null"
              format: date-time
            customFields:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
            customStatusId:
              type:
                - string
                - "null"
            dates:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
            description:
              type:
                - "null"
                - string
            id:
              type:
                - string
                - "null"
            importance:
              type:
                - string
                - "null"
            parentIds:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            permalink:
              type:
                - string
                - "null"
            priority:
              type:
                - string
                - "null"
            responsibleIds:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            scope:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
            superTaskIds:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            title:
              type:
                - string
                - "null"
            updatedDate:
              type: string
              format: date-time
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['wrike_instance'] }}/api/v4
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['access_token'] }}"
streams:
  - type: DeclarativeStream
    name: customfields
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['wrike_instance'] }}/api/v4
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /customfields
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ last_record['nextPageToken'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - object
          - "null"
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - string
              - "null"
          accountId:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          settings:
            type:
              - object
              - "null"
            properties:
              aggregation:
                type:
                  - string
                  - "null"
              allowOtherValues:
                type:
                  - boolean
                  - "null"
              allowTime:
                type:
                  - boolean
                  - "null"
              currency:
                type:
                  - string
                  - "null"
              decimalPlaces:
                type:
                  - integer
                  - "null"
              inheritanceType:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
              useThousandsSeparator:
                type:
                  - boolean
                  - "null"
              values:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - integer
                    - number
                    - boolean
                    - "null"
          sharedIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          spaceId:
            type:
              - "null"
              - string
          title:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: contacts
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['wrike_instance'] }}/api/v4
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /contacts
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ last_record['nextPageToken'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - object
          - "null"
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - string
              - "null"
          avatarUrl:
            type:
              - string
              - "null"
          companyName:
            type:
              - "null"
              - string
          deleted:
            type:
              - boolean
              - "null"
          firstName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          locale:
            type:
              - string
              - "null"
          me:
            type:
              - "null"
              - boolean
          memberIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          myTeam:
            type:
              - "null"
              - boolean
          phone:
            type:
              - "null"
              - string
          profiles:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                accountId:
                  type:
                    - string
                    - "null"
                admin:
                  type:
                    - boolean
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                external:
                  type:
                    - boolean
                    - "null"
                owner:
                  type:
                    - boolean
                    - "null"
                role:
                  type:
                    - string
                    - "null"
          timezone:
            type:
              - string
              - "null"
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: workflows
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['wrike_instance'] }}/api/v4
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /workflows
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ last_record['nextPageToken'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - object
          - "null"
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          customStatuses:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                color:
                  type:
                    - string
                    - "null"
                group:
                  type:
                    - string
                    - "null"
                hidden:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                standard:
                  type:
                    - boolean
                    - "null"
                standardName:
                  type:
                    - boolean
                    - "null"
          hidden:
            type:
              - boolean
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          standard:
            type:
              - boolean
              - "null"
          title:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: comments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['wrike_instance'] }}/api/v4
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /comments
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ last_record['nextPageToken'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - object
          - "null"
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          authorId:
            type:
              - string
              - "null"
          createdDate:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - string
              - "null"
          taskId:
            type:
              - string
              - "null"
          text:
            type:
              - string
              - "null"
          updatedDate:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: folders
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['wrike_instance'] }}/api/v4
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /folders
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ last_record['nextPageToken'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - object
          - "null"
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          childIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          createdDate:
            type:
              - "null"
              - string
            format: date-time
          id:
            type:
              - string
              - "null"
          project:
            type:
              - object
              - "null"
            properties:
              authorId:
                type:
                  - string
                  - "null"
              createdDate:
                type:
                  - "null"
                  - string
                format: date-time
              customStatusId:
                type:
                  - string
                  - "null"
              ownerIds:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          scope:
            type:
              - string
              - "null"
          space:
            type:
              - boolean
              - "null"
          title:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: tasks
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['wrike_instance'] }}/api/v4
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /tasks
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ last_record['nextPageToken'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - object
          - "null"
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          accountId:
            type:
              - string
              - "null"
          authorIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          briefDescription:
            type:
              - "null"
              - string
          completedDate:
            type: string
            format: date-time
          createdDate:
            type:
              - string
              - "null"
            format: date-time
          customFields:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          customStatusId:
            type:
              - string
              - "null"
          dates:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
          description:
            type:
              - "null"
              - string
          id:
            type:
              - string
              - "null"
          importance:
            type:
              - string
              - "null"
          parentIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          permalink:
            type:
              - string
              - "null"
          priority:
            type:
              - string
              - "null"
          responsibleIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          scope:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          superTaskIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          title:
            type:
              - string
              - "null"
          updatedDate:
            type: string
            format: date-time
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
      - wrike_instance
    properties:
      access_token:
        type: string
        title: Permanent Access Token
        description: >-
          Permanent access token. You can find documentation on how to acquire a
          permanent access token  <a
          href="https://developers.wrike.com/oauth-20-authorization/">here</a>
        airbyte_secret: true
        order: 0
      wrike_instance:
        type: string
        title: Wrike Instance (hostname)
        description: Wrike's instance such as `app-us2.wrike.com`
        default: app-us2.wrike.com
        order: 1
      start_date:
        type: string
        title: Start date for comments
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Only comments
          after this date will be replicated.
        examples:
          - "2017-01-25T00:00:00Z"
        order: 2
    additionalProperties: true
metadata:
  autoImportSchema:
    customfields: false
    contacts: false
    workflows: false
    comments: false
    folders: false
    tasks: false
schemas:
  customfields:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      accountId:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          aggregation:
            type:
              - string
              - "null"
          allowOtherValues:
            type:
              - boolean
              - "null"
          allowTime:
            type:
              - boolean
              - "null"
          currency:
            type:
              - string
              - "null"
          decimalPlaces:
            type:
              - integer
              - "null"
          inheritanceType:
            type:
              - string
              - "null"
          readOnly:
            type:
              - boolean
              - "null"
          useThousandsSeparator:
            type:
              - boolean
              - "null"
          values:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - integer
                - number
                - boolean
                - "null"
      sharedIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      spaceId:
        type:
          - "null"
          - string
      title:
        type:
          - string
          - "null"
  contacts:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      avatarUrl:
        type:
          - string
          - "null"
      companyName:
        type:
          - "null"
          - string
      deleted:
        type:
          - boolean
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      locale:
        type:
          - string
          - "null"
      me:
        type:
          - "null"
          - boolean
      memberIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      myTeam:
        type:
          - "null"
          - boolean
      phone:
        type:
          - "null"
          - string
      profiles:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            accountId:
              type:
                - string
                - "null"
            admin:
              type:
                - boolean
                - "null"
            email:
              type:
                - string
                - "null"
            external:
              type:
                - boolean
                - "null"
            owner:
              type:
                - boolean
                - "null"
            role:
              type:
                - string
                - "null"
      timezone:
        type:
          - string
          - "null"
      title:
        type:
          - "null"
          - string
  workflows:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      customStatuses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            color:
              type:
                - string
                - "null"
            group:
              type:
                - string
                - "null"
            hidden:
              type:
                - boolean
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            standard:
              type:
                - boolean
                - "null"
            standardName:
              type:
                - boolean
                - "null"
      hidden:
        type:
          - boolean
          - "null"
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      standard:
        type:
          - boolean
          - "null"
      title:
        type:
          - string
          - "null"
  comments:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      authorId:
        type:
          - string
          - "null"
      createdDate:
        type:
          - string
          - "null"
        format: date-time
      id:
        type:
          - string
          - "null"
      taskId:
        type:
          - string
          - "null"
      text:
        type:
          - string
          - "null"
      updatedDate:
        type:
          - "null"
          - string
        format: date-time
  folders:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      childIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      createdDate:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - string
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          authorId:
            type:
              - string
              - "null"
          createdDate:
            type:
              - "null"
              - string
            format: date-time
          customStatusId:
            type:
              - string
              - "null"
          ownerIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      scope:
        type:
          - string
          - "null"
      space:
        type:
          - boolean
          - "null"
      title:
        type:
          - string
          - "null"
  tasks:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      accountId:
        type:
          - string
          - "null"
      authorIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      briefDescription:
        type:
          - "null"
          - string
      completedDate:
        type: string
        format: date-time
      createdDate:
        type:
          - string
          - "null"
        format: date-time
      customFields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      customStatusId:
        type:
          - string
          - "null"
      dates:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
      description:
        type:
          - "null"
          - string
      id:
        type:
          - string
          - "null"
      importance:
        type:
          - string
          - "null"
      parentIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      permalink:
        type:
          - string
          - "null"
      priority:
        type:
          - string
          - "null"
      responsibleIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      scope:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      superTaskIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      title:
        type:
          - string
          - "null"
      updatedDate:
        type: string
        format: date-time
