airbyte-cdk==0.44.2
airbyte-protocol-models==0.3.6
attrs==23.1.0
backoff==2.2.1
bracex==2.3.post1
cachetools==5.3.1
cattrs==23.1.2
certifi==2023.5.7
charset-normalizer==3.1.0
Deprecated==1.2.14
dpath==2.0.8
exceptiongroup==1.1.1
genson==1.2.2
idna==3.4
isodate==0.6.1
Jinja2==3.1.2
jsonref==0.3.0
jsonschema==3.2.0
MarkupSafe==2.1.3
oauthlib==3.2.2
pendulum==2.1.2
platformdirs==3.8.0
pydantic==1.9.2
pyrsistent==0.19.3
python-dateutil==2.8.2
pytzdata==2020.1
PyYAML==5.4.1
requests==2.31.0
requests-cache==1.1.0
requests-oauthlib==1.3.1
six==1.16.0
typing_extensions==4.7.1
url-normalize==1.4.3
urllib3==2.0.3
wcmatch==8.4
wrapt==1.15.0
