version: 5.15.0

type: DeclarativeSource

description: >-
  Repairshopr is a CRM and an integrated marketing platform.

  With this connector we can extract data from various streams such as customers
  , invoices and payments.

  Docs : https://api-docs.repairshopr.com/#/

check:
  type: CheckStream
  stream_names:
    - appointment types

definitions:
  streams:
    appointment types:
      type: DeclarativeStream
      name: appointment types
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: appointment_types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - appointment_types
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/appointment types"
    appointments:
      type: DeclarativeStream
      name: appointments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: appointments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - appointments
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/appointments"
    customer assets:
      type: DeclarativeStream
      name: customer assets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customer_assets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - assets
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer assets"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    contracts:
      type: DeclarativeStream
      name: contracts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contracts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contracts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contracts"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - customers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    estimates:
      type: DeclarativeStream
      name: estimates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: estimates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - estimates
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/estimates"
    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoices
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"
    items:
      type: DeclarativeStream
      name: items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/items"
    line items:
      type: DeclarativeStream
      name: line items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: line_items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - line_items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/line items"
    leads:
      type: DeclarativeStream
      name: leads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: leads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - leads
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leads"
    payments:
      type: DeclarativeStream
      name: payments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: payments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - payments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payments"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    tickets:
      type: DeclarativeStream
      name: tickets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tickets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tickets
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
  base_requester:
    type: HttpRequester
    url_base: https://airhx.repairshopr.com/api/v1/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: Authorization
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/appointment types"
  - $ref: "#/definitions/streams/appointments"
  - $ref: "#/definitions/streams/customer assets"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/contracts"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/estimates"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/items"
  - $ref: "#/definitions/streams/line items"
  - $ref: "#/definitions/streams/leads"
  - $ref: "#/definitions/streams/payments"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/tickets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    appointment types: true
    appointments: true
    customer assets: true
    contacts: true
    contracts: true
    customers: true
    estimates: true
    invoices: true
    items: true
    line items: true
    leads: true
    payments: true
    products: true
    tickets: true
  testedStreams:
    appointment types:
      streamHash: 8c74d5b91b49a00a4fd3ccc1c3549b53b2e383ee
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    appointments:
      streamHash: 5f25c73a7e7d3b9ff334b37f47f1a8260c002dec
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customer assets:
      streamHash: 2e0c207dd845f4836cb23e37108c5afc5a6bc419
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: cf0b83dfe7fd48d8ae7a37299346fe368ef798c4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contracts:
      streamHash: 68d58cd34f5e119ff61a93a9e11a23bb246ea6a2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customers:
      streamHash: 528ac24ae824b3a2b8f69e38c6a1189cf897a751
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    estimates:
      streamHash: abce447f30ef87b0a3c1151f980f8d213e7fe6ca
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    invoices:
      streamHash: cd94ebf3b0dca1c2e88f2a2bfef01f8a9d1200b2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    items:
      streamHash: 505b1c5ccae301f3180d82d2524d1730ac9b646e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    line items:
      streamHash: 120af5d5055c7e7f02255f635a68cf0dfbb7cd8d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leads:
      streamHash: f7f4a184db982dad10df3b0a34b6feaa59ac5e68
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    payments:
      streamHash: 7826a9b230e5e6def11c460e4120e17da59977c6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: 26eb4cc49707f45d5892557dc68bd31964b1549c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tickets:
      streamHash: 0b70bd98b28e7860984afd9ff139d84973818037
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  appointment types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      email_instructions:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      location_hard_code:
        type:
          - string
          - "null"
      location_type:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
  appointments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      all_day:
        type:
          - boolean
          - "null"
      appointment_location_type:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          account_id:
            type:
              - number
              - "null"
          address1:
            type:
              - string
              - "null"
          address2:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          customer_id:
            type:
              - number
              - "null"
          email:
            type:
              - string
              - "null"
          extension:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          mobile:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          opt_out:
            type:
              - boolean
              - "null"
          phone:
            type:
              - string
              - "null"
          processed_mobile:
            type:
              - string
              - "null"
          processed_phone:
            type:
              - string
              - "null"
          properties:
            type:
              - object
              - "null"
            properties:
              direct_report:
                type:
                  - string
                  - "null"
              notification_billing:
                type:
                  - string
                  - "null"
              notification_marketing:
                type:
                  - string
                  - "null"
              notification_reports:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
          since_updated_at:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          ticket_matching_emails:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          zip:
            type:
              - string
              - "null"
      duration:
        type:
          - number
          - "null"
      end_at:
        type:
          - string
          - "null"
      id:
        type: number
      location:
        type:
          - string
          - "null"
      start_at:
        type:
          - string
          - "null"
      start_at_label:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      ticket:
        type:
          - object
          - "null"
        properties:
          billing_status:
            type:
              - string
              - "null"
          comments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                body:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                hidden:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                subject:
                  type:
                    - string
                    - "null"
                tech:
                  type:
                    - string
                    - "null"
                ticket_id:
                  type:
                    - number
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                user_id:
                  type:
                    - number
                    - "null"
          contact_fullname:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          creator_name_or_email:
            type:
              - string
              - "null"
          customer_business_then_name:
            type:
              - string
              - "null"
          customer_id:
            type:
              - number
              - "null"
          due_date:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          number:
            type:
              - number
              - "null"
          priority:
            type:
              - string
              - "null"
          problem_type:
            type:
              - string
              - "null"
          properties:
            type:
              - object
              - "null"
          status:
            type:
              - string
              - "null"
          subject:
            type:
              - string
              - "null"
          tag_list:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          updated_at:
            type:
              - string
              - "null"
      ticket_id:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  customer assets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      asset_serial:
        type:
          - string
          - "null"
      asset_type:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          address_2:
            type:
              - string
              - "null"
          business_and_full_name:
            type:
              - string
              - "null"
          business_name:
            type:
              - string
              - "null"
          business_then_name:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          disabled:
            type:
              - boolean
              - "null"
          email:
            type:
              - string
              - "null"
          firstname:
            type:
              - string
              - "null"
          fullname:
            type:
              - string
              - "null"
          get_sms:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          invoice_cc_emails:
            type:
              - string
              - "null"
          lastname:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          no_email:
            type:
              - boolean
              - "null"
          notification_email:
            type:
              - string
              - "null"
          online_profile_url:
            type:
              - string
              - "null"
          opt_out:
            type:
              - boolean
              - "null"
          phone:
            type:
              - string
              - "null"
          properties:
            type:
              - object
              - "null"
            properties:
              notification_billing:
                type:
                  - string
                  - "null"
              notification_marketing:
                type:
                  - string
                  - "null"
              notification_reports:
                type:
                  - string
                  - "null"
          referred_by:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          tax_rate_id:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
          zip:
            type:
              - string
              - "null"
      customer_id:
        type:
          - number
          - "null"
      device_info:
        type:
          - object
          - "null"
        properties:
          snmp_config:
            type:
              - object
              - "null"
            properties:
              version:
                type:
                  - number
                  - "null"
              community:
                type:
                  - string
                  - "null"
              enabled:
                type:
                  - boolean
                  - "null"
              port:
                type:
                  - number
                  - "null"
      has_live_chat:
        type:
          - boolean
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      properties:
        type:
          - object
          - "null"
        properties:
          Make:
            type:
              - string
              - "null"
          Model:
            type:
              - string
              - "null"
          Service Tag:
            type:
              - string
              - "null"
      rmm_links:
        type:
          - array
          - "null"
      rmm_store:
        type:
          - object
          - "null"
        properties:
          account_id:
            type:
              - number
              - "null"
          asset_id:
            type:
              - number
              - "null"
          created_at:
            type:
              - string
              - "null"
          emsisoft:
            type:
              - object
              - "null"
          general:
            type:
              - object
              - "null"
          id:
            type:
              - number
              - "null"
          triggers:
            type:
              - object
              - "null"
            properties:
              agent_offline_triggered:
                type:
                  - string
                  - "null"
              app_crash_triggered:
                type:
                  - string
                  - "null"
              bsod_triggered:
                type:
                  - string
                  - "null"
              defrag_triggered:
                type:
                  - string
                  - "null"
              device_manager_triggered:
                type:
                  - string
                  - "null"
              firewall_triggered:
                type:
                  - string
                  - "null"
              low_hd_space_triggered:
                type:
                  - string
                  - "null"
              no_av_triggered:
                type:
                  - string
                  - "null"
              smart_failure_triggered:
                type:
                  - string
                  - "null"
              time_triggered:
                type:
                  - string
                  - "null"
          updated_at:
            type:
              - string
              - "null"
          windows_updates:
            type:
              - object
              - "null"
      since_updated_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_id:
        type:
          - number
          - "null"
      address1:
        type:
          - string
          - "null"
      address2:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      extension:
        type:
          - string
          - "null"
      id:
        type: number
      mobile:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      opt_out:
        type:
          - boolean
          - "null"
      phone:
        type:
          - string
          - "null"
      processed_mobile:
        type:
          - string
          - "null"
      processed_phone:
        type:
          - string
          - "null"
      properties:
        type:
          - object
          - "null"
        properties:
          direct_report:
            type:
              - string
              - "null"
          notification_billing:
            type:
              - string
              - "null"
          notification_marketing:
            type:
              - string
              - "null"
          notification_reports:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
      since_updated_at:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      ticket_matching_emails:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
    required:
      - id
  contracts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account_id:
        type:
          - number
          - "null"
      apply_to_all:
        type:
          - boolean
          - "null"
      contract_amount:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      end_date:
        type:
          - string
          - "null"
      id:
        type: number
      likelihood:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      primary_contact:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - string
          - "null"
      address_2:
        type:
          - string
          - "null"
      business_and_full_name:
        type:
          - string
          - "null"
      business_name:
        type:
          - string
          - "null"
      business_then_name:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      contacts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            account_id:
              type:
                - number
                - "null"
            address1:
              type:
                - string
                - "null"
            address2:
              type:
                - string
                - "null"
            city:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            customer_id:
              type:
                - number
                - "null"
            email:
              type:
                - string
                - "null"
            extension:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            mobile:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            notes:
              type:
                - string
                - "null"
            opt_out:
              type:
                - boolean
                - "null"
            phone:
              type:
                - string
                - "null"
            processed_mobile:
              type:
                - string
                - "null"
            processed_phone:
              type:
                - string
                - "null"
            properties:
              type:
                - object
                - "null"
              properties:
                direct_report:
                  type:
                    - string
                    - "null"
                notification_billing:
                  type:
                    - string
                    - "null"
                notification_marketing:
                  type:
                    - string
                    - "null"
                notification_reports:
                  type:
                    - string
                    - "null"
                title:
                  type:
                    - string
                    - "null"
            since_updated_at:
              type:
                - string
                - "null"
            state:
              type:
                - string
                - "null"
            ticket_matching_emails:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            zip:
              type:
                - string
                - "null"
      created_at:
        type:
          - string
          - "null"
      disabled:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      fullname:
        type:
          - string
          - "null"
      get_sms:
        type:
          - boolean
          - "null"
      id:
        type: number
      invoice_cc_emails:
        type:
          - string
          - "null"
      lastname:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      no_email:
        type:
          - boolean
          - "null"
      notification_email:
        type:
          - string
          - "null"
      online_profile_url:
        type:
          - string
          - "null"
      opt_out:
        type:
          - boolean
          - "null"
      phone:
        type:
          - string
          - "null"
      properties:
        type:
          - object
          - "null"
        properties:
          notification_billing:
            type:
              - string
              - "null"
          notification_marketing:
            type:
              - string
              - "null"
          notification_reports:
            type:
              - string
              - "null"
      referred_by:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      tax_rate_id:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
    required:
      - id
  estimates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      customer_business_then_name:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      date:
        type:
          - string
          - "null"
      employee:
        type:
          - string
          - "null"
      id:
        type: number
      number:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subtotal:
        type:
          - string
          - "null"
      tax:
        type:
          - string
          - "null"
      total:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  invoices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      contact_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer_business_then_name:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      date:
        type:
          - string
          - "null"
      due_date:
        type:
          - string
          - "null"
      hardwarecost:
        type:
          - string
          - "null"
      id:
        type: number
      is_paid:
        type:
          - boolean
          - "null"
      number:
        type:
          - string
          - "null"
      po_number:
        type:
          - string
          - "null"
      subtotal:
        type:
          - string
          - "null"
      tax:
        type:
          - string
          - "null"
      tech_marked_paid:
        type:
          - boolean
          - "null"
      total:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
      verified_paid:
        type:
          - boolean
          - "null"
    required:
      - id
  items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account_id:
        type:
          - number
          - "null"
      converted:
        type:
          - boolean
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      logistic_state:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      orderedon:
        type:
          - string
          - "null"
      parturl:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      requestedon:
        type:
          - string
          - "null"
      retail_cents:
        type:
          - number
          - "null"
      round_trip:
        type:
          - boolean
          - "null"
      shipping:
        type:
          - string
          - "null"
      taxable:
        type:
          - boolean
          - "null"
      ticket_id:
        type:
          - number
          - "null"
      ticketnum:
        type:
          - number
          - "null"
      trackingnum:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
  line items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      cost:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      item:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      price:
        type:
          - string
          - "null"
      product_category:
        type:
          - string
          - "null"
      quantity:
        type:
          - string
          - "null"
      since_updated_at:
        type:
          - string
          - "null"
      taxable:
        type:
          - boolean
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  leads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - string
          - "null"
      business_then_name:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      has_attachments:
        type:
          - boolean
          - "null"
      id:
        type: number
      last_name:
        type:
          - string
          - "null"
      message_read:
        type:
          - boolean
          - "null"
      mobile:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      ticket_description:
        type:
          - string
          - "null"
      ticket_problem_type:
        type:
          - string
          - "null"
      ticket_subject:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
    required:
      - id
  payments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      applied_at:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          address_2:
            type:
              - string
              - "null"
          business_and_full_name:
            type:
              - string
              - "null"
          business_name:
            type:
              - string
              - "null"
          business_then_name:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          contacts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                account_id:
                  type:
                    - number
                    - "null"
                address1:
                  type:
                    - string
                    - "null"
                address2:
                  type:
                    - string
                    - "null"
                city:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                customer_id:
                  type:
                    - number
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                extension:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                mobile:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                notes:
                  type:
                    - string
                    - "null"
                opt_out:
                  type:
                    - boolean
                    - "null"
                phone:
                  type:
                    - string
                    - "null"
                processed_mobile:
                  type:
                    - string
                    - "null"
                processed_phone:
                  type:
                    - string
                    - "null"
                properties:
                  type:
                    - object
                    - "null"
                  properties:
                    direct_report:
                      type:
                        - string
                        - "null"
                    notification_billing:
                      type:
                        - string
                        - "null"
                    notification_marketing:
                      type:
                        - string
                        - "null"
                    notification_reports:
                      type:
                        - string
                        - "null"
                    title:
                      type:
                        - string
                        - "null"
                since_updated_at:
                  type:
                    - string
                    - "null"
                state:
                  type:
                    - string
                    - "null"
                ticket_matching_emails:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                zip:
                  type:
                    - string
                    - "null"
          created_at:
            type:
              - string
              - "null"
          disabled:
            type:
              - boolean
              - "null"
          email:
            type:
              - string
              - "null"
          firstname:
            type:
              - string
              - "null"
          fullname:
            type:
              - string
              - "null"
          get_sms:
            type:
              - boolean
              - "null"
          id:
            type:
              - number
              - "null"
          invoice_cc_emails:
            type:
              - string
              - "null"
          lastname:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          no_email:
            type:
              - boolean
              - "null"
          notification_email:
            type:
              - string
              - "null"
          online_profile_url:
            type:
              - string
              - "null"
          opt_out:
            type:
              - boolean
              - "null"
          phone:
            type:
              - string
              - "null"
          properties:
            type:
              - object
              - "null"
            properties:
              notification_billing:
                type:
                  - string
                  - "null"
              notification_marketing:
                type:
                  - string
                  - "null"
              notification_reports:
                type:
                  - string
                  - "null"
          referred_by:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          tax_rate_id:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
          zip:
            type:
              - string
              - "null"
      id:
        type: number
      invoice_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      payment_amount:
        type:
          - number
          - "null"
      payment_method:
        type:
          - string
          - "null"
      ref_num:
        type:
          - string
          - "null"
      success:
        type:
          - boolean
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      category_path:
        type:
          - string
          - "null"
      condition:
        type:
          - string
          - "null"
      desired_stock_level:
        type:
          - number
          - "null"
      disabled:
        type:
          - boolean
          - "null"
      id:
        type: number
      location_quantities:
        type:
          - array
          - "null"
      maintain_stock:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      photos:
        type:
          - array
          - "null"
      physical_location:
        type:
          - string
          - "null"
      price_cost:
        type:
          - number
          - "null"
      price_retail:
        type:
          - number
          - "null"
      price_wholesale:
        type:
          - number
          - "null"
      product_category:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      reorder_at:
        type:
          - number
          - "null"
      serialized:
        type:
          - boolean
          - "null"
      since_updated_at:
        type:
          - string
          - "null"
      sort_order:
        type:
          - number
          - "null"
      taxable:
        type:
          - boolean
          - "null"
      upc_code:
        type:
          - string
          - "null"
      vendor_ids:
        type:
          - array
          - "null"
      warranty_template_id:
        type:
          - number
          - "null"
    required:
      - id
  tickets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billing_status:
        type:
          - string
          - "null"
      comments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            body:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            hidden:
              type:
                - boolean
                - "null"
            id:
              type:
                - number
                - "null"
            subject:
              type:
                - string
                - "null"
            tech:
              type:
                - string
                - "null"
            ticket_id:
              type:
                - number
                - "null"
            updated_at:
              type:
                - string
                - "null"
            user_id:
              type:
                - number
                - "null"
      contact_fullname:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      creator_name_or_email:
        type:
          - string
          - "null"
      customer_business_then_name:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      due_date:
        type:
          - string
          - "null"
      id:
        type: number
      number:
        type:
          - number
          - "null"
      priority:
        type:
          - string
          - "null"
      problem_type:
        type:
          - string
          - "null"
      properties:
        type:
          - object
          - "null"
      status:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      tag_list:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
