@use "../../../../scss/colors";
@use "../../../../scss/variables";

.signUpButton {
  width: 100% !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  height: 44px !important;
}

.statusMessage {
  margin-top: variables.$spacing-md;
  color: colors.$red;
}

.form {
  width: 65%;
  padding: 0 0 variables.$spacing-xl 0;
}

.termsAndPrivacy {
  padding-top: 20px;
  color: #6b6b6f;
  text-align: center;
}

// .link {
//   padding-right: 5px;
//   padding-left: 5px;
// }
