@use "scss/colors";
@use "scss/fonts";

.circle {
  height: 20px;
  width: fit-content;
  min-width: 20px;
  border-radius: 10px;
  padding: 0 4px;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-family: fonts.$primary;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: colors.$white;

  &.default {
    background: colors.$dark-blue-100;
  }

  &.green {
    background: colors.$green;
  }

  &.red {
    background: colors.$red;
  }

  &.blue {
    background: colors.$blue;
  }
}
