version: 4.6.2

type: DeclarativeSource

description: >-
  The Dependency-Track Source Connector enables data extraction from
  Dependency-Track, an open-source platform for managing and analyzing software
  vulnerabilities across complex supply chains. Dependency-Track identifies and
  tracks vulnerabilities in project dependencies, enabling organizations to
  manage and reduce risk.

check:
  type: CheckStream
  stream_names:
    - project

definitions:
  streams:
    cwe:
      type: DeclarativeStream
      name: cwe
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/cwe
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - cweId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cwe"
    search:
      type: DeclarativeStream
      name: search
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/search
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search"
    finding:
      type: DeclarativeStream
      name: finding
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/finding
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - component
        - vulnerability
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/finding"
    project:
      type: DeclarativeStream
      name: project
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/project
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - uuid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project"
    licenses:
      type: DeclarativeStream
      name: licenses
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/license
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - licenseId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/licenses"
    team_self:
      type: DeclarativeStream
      name: team_self
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/team/self
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/team_self"
    violation:
      type: DeclarativeStream
      name: violation
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/violation
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/violation"
    vulnerability:
      type: DeclarativeStream
      name: vulnerability
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/vulnerability
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - vulnId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/vulnerability"
    search_vulnerability:
      type: DeclarativeStream
      name: search_vulnerability
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/search/vulnerability
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search_vulnerability"
    metrics_vulnerability:
      type: DeclarativeStream
      name: metrics_vulnerability
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/metrics/vulnerability
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics_vulnerability"
    metrics_current_portfolio:
      type: DeclarativeStream
      name: metrics_current_portfolio
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/metrics/portfolio/current
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics_current_portfolio"
    search_vulnerablesoftware:
      type: DeclarativeStream
      name: search_vulnerablesoftware
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/search/vulnerablesoftware
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search_vulnerablesoftware"
    finding_grouped_by_vulnerability:
      type: DeclarativeStream
      name: finding_grouped_by_vulnerability
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: pageNumber
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/finding/grouped
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - vulnerability
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/finding_grouped_by_vulnerability"
  base_requester:
    type: HttpRequester
    url_base: https://dependencies.oodev.io/api
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-Api-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/project"
  - $ref: "#/definitions/streams/search"
  - $ref: "#/definitions/streams/team_self"
  - $ref: "#/definitions/streams/vulnerability"
  - $ref: "#/definitions/streams/search_vulnerability"
  - $ref: "#/definitions/streams/search_vulnerablesoftware"
  - $ref: "#/definitions/streams/violation"
  - $ref: "#/definitions/streams/cwe"
  - $ref: "#/definitions/streams/finding_grouped_by_vulnerability"
  - $ref: "#/definitions/streams/finding"
  - $ref: "#/definitions/streams/licenses"
  - $ref: "#/definitions/streams/metrics_vulnerability"
  - $ref: "#/definitions/streams/metrics_current_portfolio"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    cwe:
      hasRecords: true
      streamHash: f43d4240057858d20d0087d8dd2f9c835fc08b6f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    search:
      hasRecords: true
      streamHash: 405f20064cbada11b42b5336df8974b646e2d24d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    finding:
      hasRecords: true
      streamHash: 5471d51cd86694b2a7efaedca853e49764dac1af
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    project:
      hasRecords: true
      streamHash: ea551a026d406bf8e80edd732f431b36d3157bd6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    licenses:
      hasRecords: true
      streamHash: 40f7bd3d35542347ff2c0b53101ffdc2f29b0446
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    team_self:
      hasRecords: true
      streamHash: cfb1d82a5341d548a355f1d9fb14419e966545c4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    violation:
      hasRecords: true
      streamHash: 577791cc545fd688ab4fbe7d7f95c092a1fe8fca
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    vulnerability:
      hasRecords: true
      streamHash: b155d195dc0dfa33591214269f6ec8944f52739a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    search_vulnerability:
      hasRecords: true
      streamHash: 3005523822161ac53dfda467c2f314987f37c7fc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    metrics_vulnerability:
      hasRecords: true
      streamHash: fda3caac2e709b6cf720dd09ec4619b513fddddd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    metrics_current_portfolio:
      hasRecords: true
      streamHash: 19293b3e29f3ee8107dfe6a7b3b56cb1f570ae1c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    search_vulnerablesoftware:
      hasRecords: true
      streamHash: 4575d49bd81a6bbc8ee46a55b6675a45e15ea6c4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    finding_grouped_by_vulnerability:
      hasRecords: true
      streamHash: 15878b7cd1c0ab0ed8062fd3c3cdf9f60828b819
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    cwe: true
    search: true
    finding: true
    project: true
    licenses: true
    team_self: true
    violation: true
    vulnerability: true
    search_vulnerability: true
    metrics_vulnerability: true
    metrics_current_portfolio: true
    search_vulnerablesoftware: true
    finding_grouped_by_vulnerability: true

schemas:
  cwe:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - cweId
    properties:
      name:
        type:
          - string
          - "null"
      cweId:
        type: number
    additionalProperties: true
  search:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      results:
        type:
          - object
          - "null"
        properties:
          license:
            type:
              - array
              - "null"
          project:
            type:
              - array
              - "null"
          component:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                version:
                  type:
                    - string
                    - "null"
                description:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                sha1:
                  type:
                    - string
                    - "null"
                uuid:
                  type:
                    - string
                    - "null"
                group:
                  type:
                    - string
                    - "null"
          vulnerability:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                uuid:
                  type:
                    - string
                    - "null"
                source:
                  type:
                    - string
                    - "null"
                vulnId:
                  type:
                    - string
                    - "null"
          servicecomponent:
            type:
              - array
              - "null"
    additionalProperties: true
  finding:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - component
      - vulnerability
    properties:
      matrix:
        type:
          - string
          - "null"
      analysis:
        type:
          - object
          - "null"
        properties:
          isSuppressed:
            type:
              - boolean
              - "null"
      component:
        type: object
        properties:
          version:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          purl:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
          group:
            type:
              - string
              - "null"
          project:
            type:
              - string
              - "null"
          projectName:
            type:
              - string
              - "null"
          latestVersion:
            type:
              - string
              - "null"
          projectVersion:
            type:
              - string
              - "null"
      attribution:
        type:
          - object
          - "null"
        properties:
          attributedOn:
            type:
              - number
              - "null"
          referenceUrl:
            type:
              - string
              - "null"
          analyzerIdentity:
            type:
              - string
              - "null"
          alternateIdentifier:
            type:
              - string
              - "null"
      vulnerability:
        type: object
        properties:
          description:
            type:
              - string
              - "null"
          cwes:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                cweId:
                  type:
                    - number
                    - "null"
          uuid:
            type:
              - string
              - "null"
          cweId:
            type:
              - number
              - "null"
          source:
            type:
              - string
              - "null"
          vulnId:
            type:
              - string
              - "null"
          aliases:
            type:
              - array
              - "null"
          cweName:
            type:
              - string
              - "null"
          severity:
            type:
              - string
              - "null"
          epssScore:
            type:
              - number
              - "null"
          published:
            type:
              - number
              - "null"
          severityRank:
            type:
              - number
              - "null"
          epssPercentile:
            type:
              - number
              - "null"
          cvssV2BaseScore:
            type:
              - number
              - "null"
          cvssV3BaseScore:
            type:
              - number
              - "null"
    additionalProperties: true
  project:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - uuid
    properties:
      version:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
      uuid:
        type: string
      active:
        type:
          - boolean
          - "null"
      metrics:
        type:
          - object
          - "null"
        properties:
          low:
            type:
              - number
              - "null"
          high:
            type:
              - number
              - "null"
          medium:
            type:
              - number
              - "null"
          critical:
            type:
              - number
              - "null"
          components:
            type:
              - number
              - "null"
          suppressed:
            type:
              - number
              - "null"
          unassigned:
            type:
              - number
              - "null"
          findingsTotal:
            type:
              - number
              - "null"
          lastOccurrence:
            type:
              - number
              - "null"
          findingsAudited:
            type:
              - number
              - "null"
          firstOccurrence:
            type:
              - number
              - "null"
          vulnerabilities:
            type:
              - number
              - "null"
          findingsUnaudited:
            type:
              - number
              - "null"
          inheritedRiskScore:
            type:
              - number
              - "null"
          policyViolationsFail:
            type:
              - number
              - "null"
          policyViolationsInfo:
            type:
              - number
              - "null"
          policyViolationsWarn:
            type:
              - number
              - "null"
          vulnerableComponents:
            type:
              - number
              - "null"
          policyViolationsTotal:
            type:
              - number
              - "null"
          policyViolationsAudited:
            type:
              - number
              - "null"
          policyViolationsUnaudited:
            type:
              - number
              - "null"
          policyViolationsLicenseTotal:
            type:
              - number
              - "null"
          policyViolationsSecurityTotal:
            type:
              - number
              - "null"
          policyViolationsLicenseAudited:
            type:
              - number
              - "null"
          policyViolationsSecurityAudited:
            type:
              - number
              - "null"
          policyViolationsLicenseUnaudited:
            type:
              - number
              - "null"
          policyViolationsOperationalTotal:
            type:
              - number
              - "null"
          policyViolationsSecurityUnaudited:
            type:
              - number
              - "null"
          policyViolationsOperationalAudited:
            type:
              - number
              - "null"
          policyViolationsOperationalUnaudited:
            type:
              - number
              - "null"
      classifier:
        type:
          - string
          - "null"
      properties:
        type:
          - array
          - "null"
      lastBomImport:
        type:
          - number
          - "null"
      directDependencies:
        type:
          - string
          - "null"
      externalReferences:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
      lastBomImportFormat:
        type:
          - string
          - "null"
      lastInheritedRiskScore:
        type:
          - number
          - "null"
    additionalProperties: true
  licenses:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - licenseId
    properties:
      name:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
      seeAlso:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      licenseId:
        type: string
      isFsfLibre:
        type:
          - boolean
          - "null"
      licenseText:
        type:
          - string
          - "null"
      isOsiApproved:
        type:
          - boolean
          - "null"
      licenseGroups:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            uuid:
              type:
                - string
                - "null"
            riskWeight:
              type:
                - number
                - "null"
      isCustomLicense:
        type:
          - boolean
          - "null"
      licenseComments:
        type:
          - string
          - "null"
      isDeprecatedLicenseId:
        type:
          - boolean
          - "null"
      standardLicenseHeader:
        type:
          - string
          - "null"
      standardLicenseTemplate:
        type:
          - string
          - "null"
    additionalProperties: true
  team_self:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      name:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
      permissions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
    additionalProperties: true
  violation:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          version:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
          uuid:
            type:
              - string
              - "null"
          active:
            type:
              - boolean
              - "null"
          classifier:
            type:
              - string
              - "null"
          properties:
            type:
              - array
              - "null"
          lastBomImport:
            type:
              - number
              - "null"
          directDependencies:
            type:
              - string
              - "null"
          externalReferences:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
          lastBomImportFormat:
            type:
              - string
              - "null"
          lastInheritedRiskScore:
            type:
              - number
              - "null"
      component:
        type:
          - object
          - "null"
        properties:
          version:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          md5:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          purl:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
          group:
            type:
              - string
              - "null"
          sha256:
            type:
              - string
              - "null"
          sha512:
            type:
              - string
              - "null"
          license:
            type:
              - string
              - "null"
          project:
            type:
              - object
              - "null"
            properties:
              version:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              tags:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    name:
                      type:
                        - string
                        - "null"
              uuid:
                type:
                  - string
                  - "null"
              active:
                type:
                  - boolean
                  - "null"
              classifier:
                type:
                  - string
                  - "null"
              properties:
                type:
                  - array
                  - "null"
              lastBomImport:
                type:
                  - number
                  - "null"
              directDependencies:
                type:
                  - string
                  - "null"
              externalReferences:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    url:
                      type:
                        - string
                        - "null"
              lastBomImportFormat:
                type:
                  - string
                  - "null"
              lastInheritedRiskScore:
                type:
                  - number
                  - "null"
          sha3_256:
            type:
              - string
              - "null"
          sha3_512:
            type:
              - string
              - "null"
          publisher:
            type:
              - string
              - "null"
          classifier:
            type:
              - string
              - "null"
          isInternal:
            type:
              - boolean
              - "null"
          licenseUrl:
            type:
              - string
              - "null"
          purlCoordinates:
            type:
              - string
              - "null"
          resolvedLicense:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              uuid:
                type:
                  - string
                  - "null"
              licenseId:
                type:
                  - string
                  - "null"
              isFsfLibre:
                type:
                  - boolean
                  - "null"
              isOsiApproved:
                type:
                  - boolean
                  - "null"
              isCustomLicense:
                type:
                  - boolean
                  - "null"
              isDeprecatedLicenseId:
                type:
                  - boolean
                  - "null"
          directDependencies:
            type:
              - string
              - "null"
          externalReferences:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
          expandDependencyGraph:
            type:
              - boolean
              - "null"
          lastInheritedRiskScore:
            type:
              - number
              - "null"
      timestamp:
        type:
          - number
          - "null"
      policyCondition:
        type:
          - object
          - "null"
        properties:
          uuid:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          policy:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              uuid:
                type:
                  - string
                  - "null"
              global:
                type:
                  - boolean
                  - "null"
              operator:
                type:
                  - string
                  - "null"
              violationState:
                type:
                  - string
                  - "null"
              includeChildren:
                type:
                  - boolean
                  - "null"
          subject:
            type:
              - string
              - "null"
          operator:
            type:
              - string
              - "null"
    additionalProperties: true
  vulnerability:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - vulnId
    properties:
      description:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      vulnId:
        type: string
      aliases:
        type:
          - array
          - "null"
      created:
        type:
          - string
          - "null"
      updated:
        type:
          - string
          - "null"
      severity:
        type:
          - string
          - "null"
      subTitle:
        type:
          - string
          - "null"
      published:
        type:
          - string
          - "null"
      components:
        type:
          - array
          - "null"
      references:
        type:
          - string
          - "null"
      recommendation:
        type:
          - string
          - "null"
      patchedVersions:
        type:
          - string
          - "null"
      vulnerableVersions:
        type:
          - string
          - "null"
      affectedProjectCount:
        type:
          - number
          - "null"
      affectedActiveProjectCount:
        type:
          - number
          - "null"
      affectedInactiveProjectCount:
        type:
          - number
          - "null"
    additionalProperties: true
  search_vulnerability:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      results:
        type:
          - object
          - "null"
        properties:
          vulnerability:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                uuid:
                  type:
                    - string
                    - "null"
                source:
                  type:
                    - string
                    - "null"
                vulnId:
                  type:
                    - string
                    - "null"
    additionalProperties: true
  metrics_vulnerability:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      year:
        type:
          - number
          - "null"
      count:
        type:
          - number
          - "null"
      month:
        type:
          - number
          - "null"
      measuredAt:
        type:
          - number
          - "null"
    additionalProperties: true
  metrics_current_portfolio:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      low:
        type:
          - number
          - "null"
      high:
        type:
          - number
          - "null"
      medium:
        type:
          - number
          - "null"
      critical:
        type:
          - number
          - "null"
      projects:
        type:
          - number
          - "null"
      components:
        type:
          - number
          - "null"
      suppressed:
        type:
          - number
          - "null"
      unassigned:
        type:
          - number
          - "null"
      findingsTotal:
        type:
          - number
          - "null"
      lastOccurrence:
        type:
          - number
          - "null"
      findingsAudited:
        type:
          - number
          - "null"
      firstOccurrence:
        type:
          - number
          - "null"
      vulnerabilities:
        type:
          - number
          - "null"
      findingsUnaudited:
        type:
          - number
          - "null"
      inheritedRiskScore:
        type:
          - number
          - "null"
      vulnerableProjects:
        type:
          - number
          - "null"
      policyViolationsFail:
        type:
          - number
          - "null"
      policyViolationsInfo:
        type:
          - number
          - "null"
      policyViolationsWarn:
        type:
          - number
          - "null"
      vulnerableComponents:
        type:
          - number
          - "null"
      policyViolationsTotal:
        type:
          - number
          - "null"
      policyViolationsAudited:
        type:
          - number
          - "null"
      policyViolationsUnaudited:
        type:
          - number
          - "null"
      policyViolationsLicenseTotal:
        type:
          - number
          - "null"
      policyViolationsSecurityTotal:
        type:
          - number
          - "null"
      policyViolationsLicenseAudited:
        type:
          - number
          - "null"
      policyViolationsSecurityAudited:
        type:
          - number
          - "null"
      policyViolationsLicenseUnaudited:
        type:
          - number
          - "null"
      policyViolationsOperationalTotal:
        type:
          - number
          - "null"
      policyViolationsSecurityUnaudited:
        type:
          - number
          - "null"
      policyViolationsOperationalAudited:
        type:
          - number
          - "null"
      policyViolationsOperationalUnaudited:
        type:
          - number
          - "null"
    additionalProperties: true
  search_vulnerablesoftware:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      results:
        type:
          - object
          - "null"
        properties:
          vulnerablesoftware:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                version:
                  type:
                    - string
                    - "null"
                uuid:
                  type:
                    - string
                    - "null"
                cpe22:
                  type:
                    - string
                    - "null"
                cpe23:
                  type:
                    - string
                    - "null"
                vendor:
                  type:
                    - string
                    - "null"
                product:
                  type:
                    - string
                    - "null"
    additionalProperties: true
  finding_grouped_by_vulnerability:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - vulnerability
    properties:
      attribution:
        type:
          - object
          - "null"
        properties:
          analyzerIdentity:
            type:
              - string
              - "null"
      vulnerability:
        type: object
        properties:
          cwes:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                cweId:
                  type:
                    - number
                    - "null"
          title:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          vulnId:
            type:
              - string
              - "null"
          severity:
            type:
              - string
              - "null"
          published:
            type:
              - number
              - "null"
          cvssV2BaseScore:
            type:
              - number
              - "null"
          cvssV3BaseScore:
            type:
              - number
              - "null"
          affectedProjectCount:
            type:
              - number
              - "null"
    additionalProperties: true
