version: 0.29.0
type: DeclarativeSource

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - "*"
        - "{{ parameters.field_path }}"

  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      type: RequestOption
      field_name: per_page
      inject_into: request_parameter
    pagination_strategy:
      type: PageIncrement
      page_size: 200
      start_from_page: 1

  requester:
    type: HttpRequester
    url_base: "https://{{ config['domain'] }}/"
    path: "{{ parameters.path }}"
    http_method: "GET"
    authenticator:
      type: BasicHttpAuthenticator
      password: "x"
      username: "{{ config['api_key'] }}"

  retriever:
    type: SimpleRetriever
    record_selector:
      $ref: "#/definitions/selector"
    paginator:
      $ref: "#/definitions/paginator"
    requester:
      $ref: "#/definitions/requester"

  base_stream:
    type: DeclarativeStream
    primary_key: "id"
    retriever:
      $ref: "#/definitions/retriever"

  customers_stream:
    $ref: "#/definitions/base_stream"
    name: "customers"
    $parameters:
      path: "customers.json"
      field_path: "customer"

  subscriptions_stream:
    $ref: "#/definitions/base_stream"
    name: "subscriptions"
    $parameters:
      path: "subscriptions.json"
      field_path: "subscription"

  invoices_stream:
    name: "invoices"
    type: DeclarativeStream
    primary_key: "uid"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "invoices"
      paginator:
        $ref: "#/definitions/paginator"
      requester:
        $ref: "#/definitions/requester"
    $parameters:
      path: "invoices.json"
      field_path: "invoices"

  coupons_stream:
    $ref: "#/definitions/base_stream"
    name: "coupons"
    $parameters:
      path: "coupons.json"
      field_path: "coupon"

  transactions_stream:
    $ref: "#/definitions/base_stream"
    name: "transactions"
    $parameters:
      path: "transactions.json"
      field_path: "transaction"

streams:
  - "#/definitions/customers_stream"
  - "#/definitions/subscriptions_stream"
  - "#/definitions/invoices_stream"
  - "#/definitions/coupons_stream"
  - "#/definitions/transactions_stream"

check:
  type: CheckStream
  stream_names:
    - customers

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/chargify
  connection_specification:
    title: Chargify Spec
    type: object
    required:
      - api_key
      - domain
    additionalProperties: true
    properties:
      api_key:
        type: string
        title: API Key
        order: 0
        description: Maxio Advanced Billing/Chargify API Key.
        airbyte_secret: true
      domain:
        type: string
        order: 1
        title: Domain
        description: >-
          Chargify domain. Normally this domain follows the following format
          companyname.chargify.com
