version: 0.29.0
type: DeclarativeSource

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - "*"
        - "{{ parameters.field_path }}"

  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      type: RequestOption
      field_name: per_page
      inject_into: request_parameter
    pagination_strategy:
      type: PageIncrement
      page_size: 200
      start_from_page: 1

  requester:
    type: HttpRequester
    url_base: "https://{{ config['domain'] }}/"
    path: "{{ parameters.path }}"
    http_method: "GET"
    authenticator:
      type: BasicHttpAuthenticator
      password: "x"
      username: "{{ config['api_key'] }}"

  retriever:
    type: SimpleRetriever
    record_selector:
      $ref: "#/definitions/selector"
    paginator:
      $ref: "#/definitions/paginator"
    requester:
      $ref: "#/definitions/requester"

  base_stream:
    type: DeclarativeStream
    primary_key: "id"
    retriever:
      $ref: "#/definitions/retriever"

  customers_stream:
    $ref: "#/definitions/base_stream"
    name: "customers"
    $parameters:
      path: "customers.json"
      field_path: "customer"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          default_subscription_group_uid:
            description:
              Unique identifier for the customer's default subscription
              group
            type:
              - "null"
              - string
          portal_invite_last_sent_at:
            description:
              Date and time when the last invitation to the customer portal
              was sent
            type:
              - "null"
              - string
            format: date-time
          vat_number:
            description: VAT (Value Added Tax) number of the customer
            type:
              - "null"
              - string
          email:
            description: Customer's email address
            type:
              - "null"
              - string
          created_at:
            description: Date and time when the customer record was created
            type:
              - "null"
              - string
            format: date-time
          zip:
            description: Postal code or ZIP code of the customer's address
            type:
              - "null"
              - string
          first_name:
            description: Customer's first name
            type:
              - "null"
              - string
          country_name:
            description: Name of the country where the customer is located
            type:
              - "null"
              - string
          state:
            description: State or province where the customer resides
            type:
              - "null"
              - string
          city:
            description: City where the customer resides
            type:
              - "null"
              - string
          parent_id:
            description:
              Identifier for the parent account if part of a parent-child
              relationship
            type:
              - "null"
              - integer
          locale:
            description: Customer's preferred language and formatting locale
            type:
              - "null"
              - string
          portal_customer_created_at:
            description: Date and time the customer registered on the customer portal
            type:
              - "null"
              - string
          updated_at:
            description: Date and time when the customer record was last updated
            type:
              - "null"
              - string
            format: date-time
          country:
            description: Country code where the customer is located
            type:
              - "null"
              - string
          portal_invite_last_accepted_at:
            description:
              Date and time when the customer last accepted an invitation
              to the customer portal
            type:
              - "null"
              - string
          tax_exempt:
            description: Flag to indicate if the customer is tax-exempt
            type:
              - "null"
              - boolean
          id:
            description: Unique identifier for the customer
            type:
              - "null"
              - integer
          reference:
            description: Customer reference or unique identifier
            type:
              - "null"
              - string
          last_name:
            description: Customer's last name
            type:
              - "null"
              - string
          address_2:
            description: Secondary address or additional address information
            type:
              - "null"
              - string
          phone:
            description: Customer's phone number
            type:
              - "null"
              - string
          organization:
            description: Company or organization name associated with the customer
            type:
              - "null"
              - string
          address:
            description: Customer's primary address
            type:
              - "null"
              - string
          verified:
            description: Flag to indicate if the customer details have been verified
            type:
              - "null"
              - string
          cc_emails:
            description:
              Email addresses that receive copies of customer's invoices
              and communication
            type:
              - "null"
              - string
          state_name:
            description: Name of the state or province where the customer resides
            type:
              - "null"
              - string
  subscriptions_stream:
    $ref: "#/definitions/base_stream"
    name: "subscriptions"
    $parameters:
      path: "subscriptions.json"
      field_path: "subscription"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          state:
            type:
              - "null"
              - string
          balance_in_cents:
            type:
              - "null"
              - integer
          total_revenue_in_cents:
            type:
              - "null"
              - integer
          product_price_in_cents:
            type:
              - "null"
              - integer
          product_version_number:
            type:
              - "null"
              - integer
          current_period_ends_at:
            type:
              - "null"
              - string
          next_assessment_at:
            type:
              - "null"
              - string
          trial_started_at:
            type:
              - "null"
              - string
          credit_balance_in_cents:
            type:
              - "null"
              - integer
          currency:
            type:
              - "null"
              - string
          locale:
            type:
              - "null"
              - string
          prepayment_balance_in_cents:
            type:
              - "null"
              - integer
          receives_invoice_emails:
            type:
              - "null"
              - boolean
          scheduled_cancellation_at:
            type:
              - "null"
              - string
          trial_ended_at:
            type:
              - "null"
              - string
          activated_at:
            type:
              - "null"
              - string
          expires_at:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          cancellation_message:
            type:
              - "null"
              - string
          cancellation_method:
            type:
              - "null"
              - string
          cancel_at_end_of_period:
            type:
              - "null"
              - boolean
          canceled_at:
            type:
              - "null"
              - string
          current_period_started_at:
            type:
              - "null"
              - string
          previous_state:
            type:
              - "null"
              - string
          signup_payment_id:
            type:
              - "null"
              - integer
          signup_revenue:
            type:
              - "null"
              - string
          delayed_cancel_at:
            type:
              - "null"
              - string
          coupon_code:
            type:
              - "null"
              - string
          snap_day:
            type:
              - "null"
              - string
          payment_collection_method:
            type:
              - "null"
              - string
          customer:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              first_name:
                type:
                  - "null"
                  - string
              last_name:
                type:
                  - "null"
                  - string
              email:
                type:
                  - "null"
                  - string
              cc_emails:
                type:
                  - "null"
                  - string
              organization:
                type:
                  - "null"
                  - string
              reference:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - integer
              created_at:
                type:
                  - "null"
                  - string
              updated_at:
                type:
                  - "null"
                  - string
              address:
                type:
                  - "null"
                  - string
              address_2:
                type:
                  - "null"
                  - string
              city:
                type:
                  - "null"
                  - string
              state:
                type:
                  - "null"
                  - string
              state_name:
                type:
                  - "null"
                  - string
              zip:
                type:
                  - "null"
                  - string
              country:
                type:
                  - "null"
                  - string
              country_name:
                type:
                  - "null"
                  - string
              phone:
                type:
                  - "null"
                  - string
              verified:
                type:
                  - "null"
                  - boolean
              portal_customer_created_at:
                type:
                  - "null"
                  - string
              portal_invite_last_sent_at:
                type:
                  - "null"
                  - string
              portal_invite_last_accepted_at:
                type:
                  - "null"
                  - string
              tax_exempt:
                type:
                  - "null"
                  - boolean
              vat_number:
                type:
                  - "null"
                  - string
              parent_id:
                type:
                  - "null"
                  - integer
              locale:
                type:
                  - "null"
                  - string
              default_subscription_group_uid:
                type:
                  - "null"
                  - string
          product:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - integer
              name:
                type:
                  - "null"
                  - string
              handle:
                type:
                  - "null"
                  - string
              description:
                type:
                  - "null"
                  - string
              accounting_code:
                type:
                  - "null"
                  - string
              request_credit_card:
                type:
                  - "null"
                  - boolean
              expiration_interval:
                type:
                  - "null"
                  - integer
              expiration_interval_unit:
                type:
                  - "null"
                  - string
              created_at:
                type:
                  - "null"
                  - string
              updated_at:
                type:
                  - "null"
                  - string
              price_in_cents:
                type:
                  - "null"
                  - integer
              interval:
                type:
                  - "null"
                  - integer
              interval_unit:
                type:
                  - "null"
                  - string
              initial_charge_in_cents:
                type:
                  - "null"
                  - integer
              trial_price_in_cents:
                type:
                  - "null"
                  - integer
              trial_interval:
                type:
                  - "null"
                  - integer
              trial_interval_unit:
                type:
                  - "null"
                  - string
              archived_at:
                type:
                  - "null"
                  - string
              require_credit_card:
                type:
                  - "null"
                  - boolean
              return_params:
                type:
                  - "null"
                  - string
              taxable:
                type:
                  - "null"
                  - boolean
              update_return_url:
                type:
                  - "null"
                  - string
              initial_charge_after_trial:
                type:
                  - "null"
                  - boolean
              version_number:
                type:
                  - "null"
                  - integer
              update_return_params:
                type:
                  - "null"
                  - string
              product_family:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  id:
                    type:
                      - "null"
                      - integer
                  name:
                    type:
                      - "null"
                      - string
                  handle:
                    type:
                      - "null"
                      - string
                  accounting_code:
                    type:
                      - "null"
                      - string
                  description:
                    type:
                      - "null"
                      - string
                  created_at:
                    type:
                      - "null"
                      - string
                  updated_at:
                    type:
                      - "null"
                      - string
              public_signup_pages:
                type:
                  - "null"
                  - array
                items:
                  anyOf:
                    - type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        id:
                          type:
                            - "null"
                            - integer
                        return_url:
                          type:
                            - "null"
                            - string
                        return_params:
                          type:
                            - "null"
                            - string
                        url:
                          type:
                            - "null"
                            - string
              product_price_point_name:
                type:
                  - "null"
                  - string
              request_billing_address:
                type:
                  - "null"
                  - boolean
              require_billing_address:
                type:
                  - "null"
                  - boolean
              require_shipping_address:
                type:
                  - "null"
                  - boolean
              tax_code:
                type:
                  - "null"
                  - string
              default_product_price_point_id:
                type:
                  - "null"
                  - integer
          credit_card:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - integer
              first_name:
                type:
                  - "null"
                  - string
              last_name:
                type:
                  - "null"
                  - string
              masked_card_number:
                type:
                  - "null"
                  - string
              card_type:
                type:
                  - "null"
                  - string
              expiration_month:
                type:
                  - "null"
                  - integer
              expiration_year:
                type:
                  - "null"
                  - integer
              customer_id:
                type:
                  - "null"
                  - integer
              current_vault:
                type:
                  - "null"
                  - string
              vault_token:
                type:
                  - "null"
                  - string
              billing_address:
                type:
                  - "null"
                  - string
              billing_city:
                type:
                  - "null"
                  - string
              billing_state:
                type:
                  - "null"
                  - string
              billing_zip:
                type:
                  - "null"
                  - string
              billing_country:
                type:
                  - "null"
                  - string
              customer_vault_token:
                type:
                  - "null"
                  - string
              billing_address_2:
                type:
                  - "null"
                  - string
              payment_type:
                type:
                  - "null"
                  - string
              disabled:
                type:
                  - "null"
                  - boolean
              chargify_token:
                type:
                  - "null"
                  - string
              site_gateway_setting_id:
                type:
                  - "null"
                  - integer
              gateway_handle:
                type:
                  - "null"
                  - string
          group:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              uid:
                type:
                  - "null"
                  - string
              scheme:
                type:
                  - "null"
                  - string
              primary_subscription_id:
                type:
                  - "null"
                  - string
              primary:
                type:
                  - "null"
                  - string
          bank_account:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              bank_account_holder_type:
                description: Type of bank account holder (e.g., individual, business)
                type:
                  - "null"
                  - string
              bank_account_type:
                description: Type of bank account (e.g., checking, savings)
                type:
                  - "null"
                  - string
              bank_name:
                description: Name of the bank
                type:
                  - "null"
                  - string
              billing_address:
                description: Billing address line 1
                type:
                  - "null"
                  - string
              billing_address_2:
                description: Billing address line 2
                type:
                  - "null"
                  - string
              billing_city:
                description: City of the billing address
                type:
                  - "null"
                  - string
              billing_state:
                description: State of the billing address
                type:
                  - "null"
                  - string
              billing_zip:
                description: ZIP or postal code of the billing address
                type:
                  - "null"
                  - string
              billing_country:
                description: Country of the billing address
                type:
                  - "null"
                  - string
              current_vault:
                description: Current vault information
                type:
                  - "null"
                  - string
              customer_id:
                description: ID of the customer associated with the bank account
                type:
                  - "null"
                  - integer
              customer_vault_token:
                description: Vault token for the customer
                type:
                  - "null"
                  - string
              first_name:
                description: First name of the bank account holder
                type:
                  - "null"
                  - string
              last_name:
                description: Last name of the bank account holder
                type:
                  - "null"
                  - string
              id:
                description: Unique identifier for the bank account
                type:
                  - "null"
                  - integer
              masked_bank_account_number:
                description: Masked bank account number for security purposes
                type:
                  - "null"
                  - string
              masked_bank_routing_number:
                description: Masked bank routing number for security purposes
                type:
                  - "null"
                  - string
              vault_token:
                description: Vault token associated with the bank account
                type:
                  - "null"
                  - string
              chargify_token:
                description: Chargify token for the bank account
                type:
                  - "null"
                  - string
              site_gateway_setting_id:
                description: ID of the site gateway setting
                type:
                  - "null"
                  - integer
              gateway_handle:
                description: Gateway handle
                type:
                  - "null"
                  - string
          payment_type:
            type:
              - "null"
              - string
          referral_code:
            type:
              - "null"
              - string
          next_product_id:
            type:
              - "null"
              - integer
          next_product_handle:
            type:
              - "null"
              - string
          coupon_use_count:
            type:
              - "null"
              - integer
          coupon_uses_allowed:
            type:
              - "null"
              - integer
          product_price_point_type:
            type:
              - "null"
              - string
          coupons:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
          reason_code:
            type:
              - "null"
              - string
          automatically_resume_at:
            type:
              - "null"
              - string
          coupon_codes:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          offer_id:
            type:
              - "null"
              - integer
          payer_id:
            type:
              - "null"
              - integer
          current_billing_amount_in_cents:
            type:
              - "null"
              - integer
          product_price_point_id:
            type:
              - "null"
              - integer
          next_product_price_point_id:
            type:
              - "null"
              - integer
          net_terms:
            type:
              - "null"
              - integer
          stored_credential_transaction_id:
            type:
              - "null"
              - integer
          reference:
            type:
              - "null"
              - string
          on_hold_at:
            type:
              - "null"
              - string
          prepaid_dunning:
            type:
              - "null"
              - boolean
          dunning_communication_delay_enabled:
            type:
              - "null"
              - boolean
          dunning_communication_delay_time_zone:
            type:
              - "null"
              - string
  invoices_stream:
    name: "invoices"
    type: DeclarativeStream
    primary_key: "uid"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "invoices"
      paginator:
        $ref: "#/definitions/paginator"
      requester:
        $ref: "#/definitions/requester"
    $parameters:
      path: "invoices.json"
      field_path: "invoices"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          uid:
            description: Unique ID of the invoice
            type:
              - "null"
              - string
          site_id:
            description: ID of the site
            type:
              - "null"
              - integer
          customer_id:
            description: ID of the customer
            type:
              - "null"
              - integer
          subscription_id:
            description: ID of the subscription
            type:
              - "null"
              - integer
          number:
            description: Invoice number
            type:
              - "null"
              - string
          sequence_number:
            description: Sequence number of the invoice
            type:
              - "null"
              - integer
          issue_date:
            description: Date the invoice was issued
            type:
              - "null"
              - string
            format: date
          due_date:
            description: Due date of the invoice
            type:
              - "null"
              - string
            format: date
          paid_date:
            description: Date the invoice was paid
            type:
              - "null"
              - string
            format: date
          status:
            description: Status of the invoice
            type:
              - "null"
              - string
          collection_method:
            description: Method used for collecting payment
            type:
              - "null"
              - string
          payment_instructions:
            description: Instructions for payment
            type:
              - "null"
              - string
          currency:
            description: Currency used in the invoice
            type:
              - "null"
              - string
          consolidation_level:
            description: Level of invoice consolidation
            type:
              - "null"
              - string
          parent_invoice_uid:
            description: UID of the parent invoice
            type:
              - "null"
              - integer
          parent_invoice_number:
            description: Number of the parent invoice
            type:
              - "null"
              - integer
          group_primary_subscription_id:
            description: ID of the primary subscription group
            type:
              - "null"
              - integer
          product_name:
            description: Name of the product
            type:
              - "null"
              - string
          product_family_name:
            description: Name of the product family
            type:
              - "null"
              - string
          seller:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              name:
                description: Name of the seller
                type:
                  - "null"
                  - string
              address:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  street:
                    description: Street address of the seller
                    type:
                      - "null"
                      - string
                  line2:
                    description: Second line of the seller address
                    type:
                      - "null"
                      - string
                  city:
                    description: City of the seller address
                    type:
                      - "null"
                      - string
                  state:
                    description: State of the seller address
                    type:
                      - "null"
                      - string
                  zip:
                    description: Zip code of the seller address
                    type:
                      - "null"
                      - string
                  country:
                    description: Country of the seller address
                    type:
                      - "null"
                      - string
              phone:
                description: Phone number of the seller
                type:
                  - "null"
                  - string
          customer:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              chargify_id:
                description: ID of the customer in Chargify system
                type:
                  - "null"
                  - integer
              first_name:
                description: First name of the customer
                type:
                  - "null"
                  - string
              last_name:
                description: Last name of the customer
                type:
                  - "null"
                  - string
              organization:
                description: Organization name of the customer
                type:
                  - "null"
                  - string
              email:
                description: Email address of the customer
                type:
                  - "null"
                  - string
          memo:
            description: Memo or notes related to the invoice
            type:
              - "null"
              - string
          billing_address:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              street:
                description: Street address of the billing address
                type:
                  - "null"
                  - string
              line2:
                description: Second line of the billing address
                type:
                  - "null"
                  - string
              city:
                description: City of the billing address
                type:
                  - "null"
                  - string
              state:
                description: State of the billing address
                type:
                  - "null"
                  - string
              zip:
                description: Zip code of the billing address
                type:
                  - "null"
                  - string
              country:
                description: Country of the billing address
                type:
                  - "null"
                  - string
          shipping_address:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              street:
                description: Street address of the shipping address
                type:
                  - "null"
                  - string
              line2:
                description: Second line of the shipping address
                type:
                  - "null"
                  - string
              city:
                description: City of the shipping address
                type:
                  - "null"
                  - string
              state:
                description: State of the shipping address
                type:
                  - "null"
                  - string
              zip:
                description: Zip code of the shipping address
                type:
                  - "null"
                  - string
              country:
                description: Country of the shipping address
                type:
                  - "null"
                  - string
          subtotal_amount:
            description: Subtotal amount in the invoice
            type:
              - "null"
              - string
          discount_amount:
            description: Amount discounted in the invoice
            type:
              - "null"
              - string
          tax_amount:
            description: Tax amount in the invoice
            type:
              - "null"
              - string
          total_amount:
            description: Total amount in the invoice
            type:
              - "null"
              - string
          credit_amount:
            description: Amount credited in the invoice
            type:
              - "null"
              - string
          paid_amount:
            description: Amount paid in the invoice
            type:
              - "null"
              - string
          refund_amount:
            description: Amount refunded in the invoice
            type:
              - "null"
              - string
          due_amount:
            description: Amount due in the invoice
            type:
              - "null"
              - string
  coupons_stream:
    $ref: "#/definitions/base_stream"
    name: "coupons"
    $parameters:
      path: "coupons.json"
      field_path: "coupon"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          name:
            type:
              - "null"
              - string
          code:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          amount:
            type:
              - "null"
              - integer
          amount_in_cents:
            type:
              - "null"
              - integer
          product_family_id:
            type:
              - "null"
              - integer
          product_family_name:
            type:
              - "null"
              - string
          start_date:
            type:
              - "null"
              - string
          end_date:
            type:
              - "null"
              - string
          percentage:
            type:
              - "null"
              - integer
          recurring:
            type:
              - "null"
              - boolean
          recurring_scheme:
            type:
              - "null"
              - string
          duration_period_count:
            type:
              - "null"
              - integer
          duration_interval:
            type:
              - "null"
              - integer
          duration_interval_unit:
            type:
              - "null"
              - string
          duration_interval_span:
            type:
              - "null"
              - string
          allow_negative_balance:
            type:
              - "null"
              - boolean
          archived_at:
            type:
              - "null"
              - string
          conversion_limit:
            type:
              - "null"
              - string
          stackable:
            type:
              - "null"
              - boolean
          compounding_strategy:
            type:
              - "null"
              - string
          use_site_exchange_rate:
            type:
              - "null"
              - boolean
          created_at:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          discount_type:
            type:
              - "null"
              - string
          exclude_mid_period_allocations:
            type:
              - "null"
              - boolean
          "apply_on_cancel_at_end_of_period ":
            type:
              - "null"
              - boolean
          coupon_restrictions:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                item_type:
                  type:
                    - "null"
                    - string
                item_id:
                  type:
                    - "null"
                    - integer
                name:
                  type:
                    - "null"
                    - string
                handle:
                  type:
                    - "null"
                    - string
  transactions_stream:
    $ref: "#/definitions/base_stream"
    name: "transactions"
    $parameters:
      path: "transactions.json"
      field_path: "transaction"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            description: The unique identifier for the transaction
            type:
              - "null"
              - integer
          subscription_id:
            description: The ID of the subscription associated with the transaction
            type:
              - "null"
              - integer
          type:
            description: The general type of the transaction (e.g., payment, credit)
            type:
              - "null"
              - string
          kind:
            description: The kind of transaction (e.g., sale, refund)
            type:
              - "null"
              - string
          transaction_type:
            description: The type of transaction (e.g., charge, refund)
            type:
              - "null"
              - string
          success:
            description: Indicates whether the transaction was successful
            type:
              - "null"
              - boolean
          amount_in_cents:
            description: The amount of the transaction in cents
            type:
              - "null"
              - integer
          memo:
            description: Additional notes or information related to the transaction
            type:
              - "null"
              - string
          created_at:
            description: The timestamp of when the transaction was created
            type:
              - "null"
              - string
          starting_balance_in_cents:
            description: The starting balance before the transaction in cents
            type:
              - "null"
              - integer
          ending_balance_in_cents:
            description: The ending balance after the transaction in cents
            type:
              - "null"
              - integer
          gateway_used:
            description: The payment gateway used for processing the transaction
            type:
              - "null"
              - string
          gateway_transaction_id:
            description: The transaction ID provided by the payment gateway
            type:
              - "null"
              - string
          gateway_order_id:
            description: The order ID generated by the payment gateway
            type:
              - "null"
              - integer
          payment_id:
            description: The ID of the payment associated with the transaction
            type:
              - "null"
              - integer
          product_id:
            description: The ID of the product associated with the transaction
            type:
              - "null"
              - integer
          tax_id:
            description: The ID of the tax applied to the transaction
            type:
              - "null"
              - integer
          component_id:
            description: The ID of the component associated with the transaction
            type:
              - "null"
              - integer
          statement_id:
            description: The ID of the statement this transaction appears on
            type:
              - "null"
              - integer
          customer_id:
            description: The ID of the customer associated with the transaction
            type:
              - "null"
              - integer
          item_name:
            description: The name of the item associated with the transaction
            type:
              - "null"
              - string
          parent_id:
            description: The ID of the parent transaction if this is a related transaction
            type:
              - "null"
              - integer
          role:
            description:
              The role of the transaction within the system (e.g., buyer,
              seller)
            type:
              - "null"
              - string
          card_number:
            description: The masked card number used for the transaction
            type:
              - "null"
              - string
          card_expiration:
            description: The expiration date of the card used for the transaction
            type:
              - "null"
              - string
          card_type:
            description: The type of card used for the transaction (e.g., Visa, MasterCard)
            type:
              - "null"
              - string
          refunded_amount_in_cents:
            description: The amount refunded for the transaction in cents
            type:
              - "null"
              - integer
streams:
  - "#/definitions/customers_stream"
  - "#/definitions/subscriptions_stream"
  - "#/definitions/invoices_stream"
  - "#/definitions/coupons_stream"
  - "#/definitions/transactions_stream"

check:
  type: CheckStream
  stream_names:
    - customers

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/chargify
  connection_specification:
    title: Chargify Spec
    type: object
    required:
      - api_key
      - domain
    additionalProperties: true
    properties:
      api_key:
        type: string
        title: API Key
        order: 0
        description: Maxio Advanced Billing/Chargify API Key.
        airbyte_secret: true
      domain:
        type: string
        order: 1
        title: Domain
        description: >-
          Chargify domain. Normally this domain follows the following format
          companyname.chargify.com
