version: 0.29.0
type: DeclarativeSource

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - "*"
        - "{{ parameters.field_path }}"

  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      type: RequestOption
      field_name: per_page
      inject_into: request_parameter
    pagination_strategy:
      type: PageIncrement
      page_size: 200
      start_from_page: 1

  requester:
    type: HttpRequester
    url_base: "https://{{ config['domain'] }}/"
    path: "{{ parameters.path }}"
    http_method: "GET"
    authenticator:
      type: BasicHttpAuthenticator
      password: "x"
      username: "{{ config['api_key'] }}"

  retriever:
    type: SimpleRetriever
    record_selector:
      $ref: "#/definitions/selector"
    paginator:
      $ref: "#/definitions/paginator"
    requester:
      $ref: "#/definitions/requester"

  base_stream:
    type: DeclarativeStream
    primary_key: "id"
    retriever:
      $ref: "#/definitions/retriever"

  customers_stream:
    $ref: "#/definitions/base_stream"
    name: "customers"
    $parameters:
      path: "customers.json"
      field_path: "customer"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          default_subscription_group_uid:
            description:
              Unique identifier for the customer's default subscription
              group
            type:
              - "null"
              - string
          portal_invite_last_sent_at:
            description:
              Date and time when the last invitation to the customer portal
              was sent
            type:
              - "null"
              - string
            format: date-time
          vat_number:
            description: VAT (Value Added Tax) number of the customer
            type:
              - "null"
              - string
          email:
            description: Customer's email address
            type:
              - "null"
              - string
          created_at:
            description: Date and time when the customer record was created
            type:
              - "null"
              - string
            format: date-time
          zip:
            description: Postal code or ZIP code of the customer's address
            type:
              - "null"
              - string
          first_name:
            description: Customer's first name
            type:
              - "null"
              - string
          country_name:
            description: Name of the country where the customer is located
            type:
              - "null"
              - string
          state:
            description: State or province where the customer resides
            type:
              - "null"
              - string
          city:
            description: City where the customer resides
            type:
              - "null"
              - string
          parent_id:
            description:
              Identifier for the parent account if part of a parent-child
              relationship
            type:
              - "null"
              - integer
          locale:
            description: Customer's preferred language and formatting locale
            type:
              - "null"
              - string
          portal_customer_created_at:
            description: Date and time the customer registered on the customer portal
            type:
              - "null"
              - string
          updated_at:
            description: Date and time when the customer record was last updated
            type:
              - "null"
              - string
            format: date-time
          country:
            description: Country code where the customer is located
            type:
              - "null"
              - string
          portal_invite_last_accepted_at:
            description:
              Date and time when the customer last accepted an invitation
              to the customer portal
            type:
              - "null"
              - string
          tax_exempt:
            description: Flag to indicate if the customer is tax-exempt
            type:
              - "null"
              - boolean
          id:
            description: Unique identifier for the customer
            type:
              - "null"
              - integer
          reference:
            description: Customer reference or unique identifier
            type:
              - "null"
              - string
          last_name:
            description: Customer's last name
            type:
              - "null"
              - string
          address_2:
            description: Secondary address or additional address information
            type:
              - "null"
              - string
          phone:
            description: Customer's phone number
            type:
              - "null"
              - string
          organization:
            description: Company or organization name associated with the customer
            type:
              - "null"
              - string
          address:
            description: Customer's primary address
            type:
              - "null"
              - string
          verified:
            description: Flag to indicate if the customer details have been verified
            type:
              - "null"
              - string
          cc_emails:
            description:
              Email addresses that receive copies of customer's invoices
              and communication
            type:
              - "null"
              - string
          state_name:
            description: Name of the state or province where the customer resides
            type:
              - "null"
              - string
  subscriptions_stream:
    $ref: "#/definitions/base_stream"
    name: "subscriptions"
    $parameters:
      path: "subscriptions.json"
      field_path: "subscription"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            description: ID of the subscription.
            type:
              - "null"
              - integer
          state:
            description: Current state of the subscription.
            type:
              - "null"
              - string
          balance_in_cents:
            description: The balance amount in cents associated with the subscription.
            type:
              - "null"
              - integer
          total_revenue_in_cents:
            description: Total revenue amount in cents associated with the subscription.
            type:
              - "null"
              - integer
          product_price_in_cents:
            description: Price amount in cents for the product of the subscription.
            type:
              - "null"
              - integer
          product_version_number:
            description: Version number of the product associated with the subscription.
            type:
              - "null"
              - integer
          current_period_ends_at:
            description: The date and time when the current billing period ends.
            type:
              - "null"
              - string
          next_assessment_at:
            description: The date and time of the next assessment for the subscription.
            type:
              - "null"
              - string
          trial_started_at:
            description:
              The date and time when the trial period for the subscription
              started.
            type:
              - "null"
              - string
          credit_balance_in_cents:
            description: The credit balance amount in cents associated with the subscription.
            type:
              - "null"
              - integer
          currency:
            description: The currency associated with the subscription.
            type:
              - "null"
              - string
          locale:
            description: Locale associated with the subscription.
            type:
              - "null"
              - string
          prepayment_balance_in_cents:
            description:
              The prepayment balance amount in cents associated with the
              subscription.
            type:
              - "null"
              - integer
          receives_invoice_emails:
            description: Flag indicating whether the subscriber receives invoice emails.
            type:
              - "null"
              - boolean
          scheduled_cancellation_at:
            description:
              The date and time when the subscription is scheduled for
              cancellation.
            type:
              - "null"
              - string
          trial_ended_at:
            description:
              The date and time when the trial period for the subscription
              ended.
            type:
              - "null"
              - string
          activated_at:
            description: The date and time when the subscription was activated.
            type:
              - "null"
              - string
          expires_at:
            description: The date and time when the subscription expires.
            type:
              - "null"
              - string
          created_at:
            description: The date and time when the subscription was created.
            type:
              - "null"
              - string
          updated_at:
            description:
              The date and time when the subscription information was last
              updated.
            type:
              - "null"
              - string
          cancellation_message:
            description: Any message related to the cancellation of the subscription.
            type:
              - "null"
              - string
          cancellation_method:
            description: The method used to cancel the subscription.
            type:
              - "null"
              - string
          cancel_at_end_of_period:
            description:
              Flag indicating whether the subscription is set to be canceled
              at the end of the current billing period.
            type:
              - "null"
              - boolean
          canceled_at:
            description: The date and time when the subscription was canceled.
            type:
              - "null"
              - string
          current_period_started_at:
            description: The date and time when the current billing period started.
            type:
              - "null"
              - string
          previous_state:
            description: Previous state of the subscription.
            type:
              - "null"
              - string
          signup_payment_id:
            description: ID of the signup payment associated with the subscription.
            type:
              - "null"
              - integer
          signup_revenue:
            description: Revenue generated from signups for the subscription.
            type:
              - "null"
              - string
          delayed_cancel_at:
            description:
              The date and time when the cancellation of the subscription
              was delayed to.
            type:
              - "null"
              - string
          coupon_code:
            description: The coupon code associated with the subscription.
            type:
              - "null"
              - string
          snap_day:
            description: The day of the month on which the subscription 'snaps'.
            type:
              - "null"
              - string
          payment_collection_method:
            description: Payment collection method for the subscription.
            type:
              - "null"
              - string
          customer:
            description: Information about the customer who owns the subscription.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              first_name:
                description: First name of the customer.
                type:
                  - "null"
                  - string
              last_name:
                description: Last name of the customer.
                type:
                  - "null"
                  - string
              email:
                description: Email address of the customer.
                type:
                  - "null"
                  - string
              cc_emails:
                description: List of CC emails associated with the customer.
                type:
                  - "null"
                  - string
              organization:
                description: Organization the customer belongs to.
                type:
                  - "null"
                  - string
              reference:
                description: Reference information associated with the customer.
                type:
                  - "null"
                  - string
              id:
                description: ID of the customer.
                type:
                  - "null"
                  - integer
              created_at:
                description: The date and time when the customer was created.
                type:
                  - "null"
                  - string
              updated_at:
                description:
                  The date and time when the customer information was last
                  updated.
                type:
                  - "null"
                  - string
              address:
                description: Customer's address.
                type:
                  - "null"
                  - string
              address_2:
                description: Additional address information.
                type:
                  - "null"
                  - string
              city:
                description: City of the customer's address.
                type:
                  - "null"
                  - string
              state:
                description: State of the customer's address.
                type:
                  - "null"
                  - string
              state_name:
                description: Name of the customer's state.
                type:
                  - "null"
                  - string
              zip:
                description: Zip code of the customer's address.
                type:
                  - "null"
                  - string
              country:
                description: Country of the customer's address.
                type:
                  - "null"
                  - string
              country_name:
                description: Name of the customer's country.
                type:
                  - "null"
                  - string
              phone:
                description: Phone number of the customer.
                type:
                  - "null"
                  - string
              verified:
                description: Flag indicating whether the customer is verified.
                type:
                  - "null"
                  - boolean
              portal_customer_created_at:
                description:
                  The date and time when the customer's portal account
                  was created.
                type:
                  - "null"
                  - string
              portal_invite_last_sent_at:
                description:
                  The date and time when the last portal invitation was
                  sent to the customer.
                type:
                  - "null"
                  - string
              portal_invite_last_accepted_at:
                description:
                  The date and time when the customer last accepted a portal
                  invitation.
                type:
                  - "null"
                  - string
              tax_exempt:
                description: Flag indicating whether the customer is tax exempt.
                type:
                  - "null"
                  - boolean
              vat_number:
                description: VAT number of the customer.
                type:
                  - "null"
                  - string
              parent_id:
                description: ID of the parent customer.
                type:
                  - "null"
                  - integer
              locale:
                description: Locale of the customer.
                type:
                  - "null"
                  - string
              default_subscription_group_uid:
                description: Default subscription group UID for the customer.
                type:
                  - "null"
                  - string
          product:
            description: Information about the product subscribed to.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                description: ID of the product.
                type:
                  - "null"
                  - integer
              name:
                description: Name of the product.
                type:
                  - "null"
                  - string
              handle:
                description: Handle of the product.
                type:
                  - "null"
                  - string
              description:
                description: Description of the product.
                type:
                  - "null"
                  - string
              accounting_code:
                description: Accounting code associated with the product.
                type:
                  - "null"
                  - string
              request_credit_card:
                description: Flag indicating whether credit card information is required.
                type:
                  - "null"
                  - boolean
              expiration_interval:
                description: Interval for product expiration.
                type:
                  - "null"
                  - integer
              expiration_interval_unit:
                description: Unit of the expiration interval.
                type:
                  - "null"
                  - string
              created_at:
                description: The date and time when the product was created.
                type:
                  - "null"
                  - string
              updated_at:
                description: The date and time when the product was last updated.
                type:
                  - "null"
                  - string
              price_in_cents:
                description: Price amount in cents for the product.
                type:
                  - "null"
                  - integer
              interval:
                description: Interval for the product.
                type:
                  - "null"
                  - integer
              interval_unit:
                description: Unit of the interval for the product.
                type:
                  - "null"
                  - string
              initial_charge_in_cents:
                description: Initial charge amount in cents for the product.
                type:
                  - "null"
                  - integer
              trial_price_in_cents:
                description: Trial price amount in cents for the product.
                type:
                  - "null"
                  - integer
              trial_interval:
                description: Interval for the trial period of the product.
                type:
                  - "null"
                  - integer
              trial_interval_unit:
                description: Unit of the trial interval.
                type:
                  - "null"
                  - string
              archived_at:
                description: The date and time when the product was archived.
                type:
                  - "null"
                  - string
              require_credit_card:
                description: Flag indicating whether credit card information is required.
                type:
                  - "null"
                  - boolean
              return_params:
                description: Return parameters associated with the product.
                type:
                  - "null"
                  - string
              taxable:
                description: Flag indicating whether the product is taxable.
                type:
                  - "null"
                  - boolean
              update_return_url:
                description: URL for update return for the product.
                type:
                  - "null"
                  - string
              initial_charge_after_trial:
                description:
                  Flag indicating whether there is an initial charge after
                  a trial.
                type:
                  - "null"
                  - boolean
              version_number:
                description: Version number of the product.
                type:
                  - "null"
                  - integer
              update_return_params:
                description: Update return parameters for the product.
                type:
                  - "null"
                  - string
              product_family:
                description:
                  Information about the product family to which the subscribed
                  product belongs.
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  id:
                    description: ID of the product family.
                    type:
                      - "null"
                      - integer
                  name:
                    description: Name of the product family.
                    type:
                      - "null"
                      - string
                  handle:
                    description: Handle of the product family.
                    type:
                      - "null"
                      - string
                  accounting_code:
                    description: Accounting code associated with the product family.
                    type:
                      - "null"
                      - string
                  description:
                    description: Description of the product family.
                    type:
                      - "null"
                      - string
                  created_at:
                    description: The date and time when the product family was created.
                    type:
                      - "null"
                      - string
                  updated_at:
                    description:
                      The date and time when the product family was last
                      updated.
                    type:
                      - "null"
                      - string
              public_signup_pages:
                description: List of public signup pages associated with the product.
                type:
                  - "null"
                  - array
                items:
                  anyOf:
                    - type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        id:
                          type:
                            - "null"
                            - integer
                        return_url:
                          type:
                            - "null"
                            - string
                        return_params:
                          type:
                            - "null"
                            - string
                        url:
                          type:
                            - "null"
                            - string
              product_price_point_name:
                description: Name of the product price point.
                type:
                  - "null"
                  - string
              request_billing_address:
                description: Flag indicating whether billing address is required.
                type:
                  - "null"
                  - boolean
              require_billing_address:
                description: Flag indicating whether billing address is required.
                type:
                  - "null"
                  - boolean
              require_shipping_address:
                description: Flag indicating whether shipping address is required.
                type:
                  - "null"
                  - boolean
              tax_code:
                description: Tax code for the product.
                type:
                  - "null"
                  - string
              default_product_price_point_id:
                description: ID of the default price point of the product.
                type:
                  - "null"
                  - integer
          credit_card:
            description: Information about the credit card associated with the subscription.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                description: ID of the credit card.
                type:
                  - "null"
                  - integer
              first_name:
                description: First name on the credit card.
                type:
                  - "null"
                  - string
              last_name:
                description: Last name on the credit card.
                type:
                  - "null"
                  - string
              masked_card_number:
                description: Masked card number for security purposes.
                type:
                  - "null"
                  - string
              card_type:
                description: Type of credit card.
                type:
                  - "null"
                  - string
              expiration_month:
                description: Expiration month of the credit card.
                type:
                  - "null"
                  - integer
              expiration_year:
                description: Expiration year of the credit card.
                type:
                  - "null"
                  - integer
              customer_id:
                description: ID of the customer associated with the credit card.
                type:
                  - "null"
                  - integer
              current_vault:
                description: Current vault information.
                type:
                  - "null"
                  - string
              vault_token:
                description: Token associated with the vault.
                type:
                  - "null"
                  - string
              billing_address:
                description: Billing address associated with the credit card.
                type:
                  - "null"
                  - string
              billing_city:
                description: City of the billing address.
                type:
                  - "null"
                  - string
              billing_state:
                description: State of the billing address.
                type:
                  - "null"
                  - string
              billing_zip:
                description: Zip code of the billing address.
                type:
                  - "null"
                  - string
              billing_country:
                description: Country of the billing address.
                type:
                  - "null"
                  - string
              customer_vault_token:
                description: Vault token associated with the customer.
                type:
                  - "null"
                  - string
              billing_address_2:
                description: Additional billing address information.
                type:
                  - "null"
                  - string
              payment_type:
                description: Type of payment method.
                type:
                  - "null"
                  - string
              disabled:
                description: Flag indicating whether the credit card is disabled.
                type:
                  - "null"
                  - boolean
              chargify_token:
                description: Token associated with the credit card on Chargify.
                type:
                  - "null"
                  - string
              site_gateway_setting_id:
                description: ID of the site gateway setting.
                type:
                  - "null"
                  - integer
              gateway_handle:
                description:
                  Handle of the payment gateway associated with the credit
                  card.
                type:
                  - "null"
                  - string
          group:
            description:
              Information about group membership or association of the
              subscription.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              uid:
                description: UID of the group.
                type:
                  - "null"
                  - string
              scheme:
                description: Scheme of the group.
                type:
                  - "null"
                  - string
              primary_subscription_id:
                description: ID of the primary subscription in the group.
                type:
                  - "null"
                  - string
              primary:
                description: Flag indicating whether the group is primary.
                type:
                  - "null"
                  - string
          bank_account:
            description: Information about the bank account associated with the subscription.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              description: Bank account information associated with the subscription.
              bank_account_holder_type:
                description: Type of bank account holder (e.g., individual, business)
                type:
                  - "null"
                  - string
              bank_account_type:
                description: Type of bank account (e.g., checking, savings)
                type:
                  - "null"
                  - string
              bank_name:
                description: Name of the bank
                type:
                  - "null"
                  - string
              billing_address:
                description: Billing address line 1
                type:
                  - "null"
                  - string
              billing_address_2:
                description: Billing address line 2
                type:
                  - "null"
                  - string
              billing_city:
                description: City of the billing address
                type:
                  - "null"
                  - string
              billing_state:
                description: State of the billing address
                type:
                  - "null"
                  - string
              billing_zip:
                description: ZIP or postal code of the billing address
                type:
                  - "null"
                  - string
              billing_country:
                description: Country of the billing address
                type:
                  - "null"
                  - string
              current_vault:
                description: Current vault information
                type:
                  - "null"
                  - string
              customer_id:
                description: ID of the customer associated with the bank account
                type:
                  - "null"
                  - integer
              customer_vault_token:
                description: Vault token for the customer
                type:
                  - "null"
                  - string
              first_name:
                description: First name of the bank account holder
                type:
                  - "null"
                  - string
              last_name:
                description: Last name of the bank account holder
                type:
                  - "null"
                  - string
              id:
                description: Unique identifier for the bank account
                type:
                  - "null"
                  - integer
              masked_bank_account_number:
                description: Masked bank account number for security purposes
                type:
                  - "null"
                  - string
              masked_bank_routing_number:
                description: Masked bank routing number for security purposes
                type:
                  - "null"
                  - string
              vault_token:
                description: Vault token associated with the bank account
                type:
                  - "null"
                  - string
              chargify_token:
                description: Chargify token for the bank account
                type:
                  - "null"
                  - string
              site_gateway_setting_id:
                description: ID of the site gateway setting
                type:
                  - "null"
                  - integer
              gateway_handle:
                description: Gateway handle
                type:
                  - "null"
                  - string
          payment_type:
            description: Type of payment for the subscription.
            type:
              - "null"
              - string
          referral_code:
            description: Referral code associated with the subscription.
            type:
              - "null"
              - string
          next_product_id:
            description: ID of the next product associated with the subscription.
            type:
              - "null"
              - integer
          next_product_handle:
            description: Handle of the next product associated with the subscription.
            type:
              - "null"
              - string
          coupon_use_count:
            description:
              The number of times the coupon associated with the subscription
              has been used.
            type:
              - "null"
              - integer
          coupon_uses_allowed:
            description:
              The total number of times the coupon associated with the
              subscription can be used.
            type:
              - "null"
              - integer
          product_price_point_type:
            description: Type of the product price point.
            type:
              - "null"
              - string
          coupons:
            description: List of coupons associated with the subscription.
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
          reason_code:
            description: Reason code associated with the subscription.
            type:
              - "null"
              - string
          automatically_resume_at:
            description:
              The date and time when the subscription will automatically
              resume.
            type:
              - "null"
              - string
          coupon_codes:
            description: List of coupon codes associated with the subscription.
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          offer_id:
            description: ID of the offer associated with the subscription.
            type:
              - "null"
              - integer
          payer_id:
            description: ID of the payer associated with the subscription.
            type:
              - "null"
              - integer
          current_billing_amount_in_cents:
            description: The current billing amount in cents for the subscription.
            type:
              - "null"
              - integer
          product_price_point_id:
            description:
              ID of the price point of the product associated with the
              subscription.
            type:
              - "null"
              - integer
          next_product_price_point_id:
            description:
              ID of the price point of the next product associated with
              the subscription.
            type:
              - "null"
              - integer
          net_terms:
            description: Net terms for the subscription.
            type:
              - "null"
              - integer
          stored_credential_transaction_id:
            description:
              Transaction ID for stored credentials associated with the
              subscription.
            type:
              - "null"
              - integer
          reference:
            description: Reference information associated with the subscription.
            type:
              - "null"
              - string
          on_hold_at:
            description: The date and time when the subscription was put on hold.
            type:
              - "null"
              - string
          prepaid_dunning:
            description: Details related to prepaid dunning for the subscription.
            type:
              - "null"
              - boolean
          dunning_communication_delay_enabled:
            description:
              Flag indicating whether dunning communication delay is enabled
              for the subscription.
            type:
              - "null"
              - boolean
          dunning_communication_delay_time_zone:
            description: Time zone for dunning communication delay.
            type:
              - "null"
              - string
  invoices_stream:
    name: "invoices"
    type: DeclarativeStream
    primary_key: "uid"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "invoices"
      paginator:
        $ref: "#/definitions/paginator"
      requester:
        $ref: "#/definitions/requester"
    $parameters:
      path: "invoices.json"
      field_path: "invoices"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          uid:
            description: Unique ID of the invoice
            type:
              - "null"
              - string
          site_id:
            description: ID of the site
            type:
              - "null"
              - integer
          customer_id:
            description: ID of the customer
            type:
              - "null"
              - integer
          subscription_id:
            description: ID of the subscription
            type:
              - "null"
              - integer
          number:
            description: Invoice number
            type:
              - "null"
              - string
          sequence_number:
            description: Sequence number of the invoice
            type:
              - "null"
              - integer
          issue_date:
            description: Date the invoice was issued
            type:
              - "null"
              - string
            format: date
          due_date:
            description: Due date of the invoice
            type:
              - "null"
              - string
            format: date
          paid_date:
            description: Date the invoice was paid
            type:
              - "null"
              - string
            format: date
          status:
            description: Status of the invoice
            type:
              - "null"
              - string
          collection_method:
            description: Method used for collecting payment
            type:
              - "null"
              - string
          payment_instructions:
            description: Instructions for payment
            type:
              - "null"
              - string
          currency:
            description: Currency used in the invoice
            type:
              - "null"
              - string
          consolidation_level:
            description: Level of invoice consolidation
            type:
              - "null"
              - string
          parent_invoice_uid:
            description: UID of the parent invoice
            type:
              - "null"
              - integer
          parent_invoice_number:
            description: Number of the parent invoice
            type:
              - "null"
              - integer
          group_primary_subscription_id:
            description: ID of the primary subscription group
            type:
              - "null"
              - integer
          product_name:
            description: Name of the product
            type:
              - "null"
              - string
          product_family_name:
            description: Name of the product family
            type:
              - "null"
              - string
          seller:
            description: Details of the seller who issued the invoice.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              name:
                description: Name of the seller
                type:
                  - "null"
                  - string
              address:
                description: The address of the seller.
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  street:
                    description: Street address of the seller
                    type:
                      - "null"
                      - string
                  line2:
                    description: Second line of the seller address
                    type:
                      - "null"
                      - string
                  city:
                    description: City of the seller address
                    type:
                      - "null"
                      - string
                  state:
                    description: State of the seller address
                    type:
                      - "null"
                      - string
                  zip:
                    description: Zip code of the seller address
                    type:
                      - "null"
                      - string
                  country:
                    description: Country of the seller address
                    type:
                      - "null"
                      - string
              phone:
                description: Phone number of the seller
                type:
                  - "null"
                  - string
          customer:
            description: Information about the customer who the invoice is for.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              chargify_id:
                description: ID of the customer in Chargify system
                type:
                  - "null"
                  - integer
              first_name:
                description: First name of the customer
                type:
                  - "null"
                  - string
              last_name:
                description: Last name of the customer
                type:
                  - "null"
                  - string
              organization:
                description: Organization name of the customer
                type:
                  - "null"
                  - string
              email:
                description: Email address of the customer
                type:
                  - "null"
                  - string
          memo:
            description: Memo or notes related to the invoice
            type:
              - "null"
              - string
          billing_address:
            description: The billing address associated with the invoice.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              street:
                description: Street address of the billing address
                type:
                  - "null"
                  - string
              line2:
                description: Second line of the billing address
                type:
                  - "null"
                  - string
              city:
                description: City of the billing address
                type:
                  - "null"
                  - string
              state:
                description: State of the billing address
                type:
                  - "null"
                  - string
              zip:
                description: Zip code of the billing address
                type:
                  - "null"
                  - string
              country:
                description: Country of the billing address
                type:
                  - "null"
                  - string
          shipping_address:
            description:
              The shipping address for the products or services in the
              invoice.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              street:
                description: Street address of the shipping address
                type:
                  - "null"
                  - string
              line2:
                description: Second line of the shipping address
                type:
                  - "null"
                  - string
              city:
                description: City of the shipping address
                type:
                  - "null"
                  - string
              state:
                description: State of the shipping address
                type:
                  - "null"
                  - string
              zip:
                description: Zip code of the shipping address
                type:
                  - "null"
                  - string
              country:
                description: Country of the shipping address
                type:
                  - "null"
                  - string
          subtotal_amount:
            description: Subtotal amount in the invoice
            type:
              - "null"
              - string
          discount_amount:
            description: Amount discounted in the invoice
            type:
              - "null"
              - string
          tax_amount:
            description: Tax amount in the invoice
            type:
              - "null"
              - string
          total_amount:
            description: Total amount in the invoice
            type:
              - "null"
              - string
          credit_amount:
            description: Amount credited in the invoice
            type:
              - "null"
              - string
          paid_amount:
            description: Amount paid in the invoice
            type:
              - "null"
              - string
          refund_amount:
            description: Amount refunded in the invoice
            type:
              - "null"
              - string
          due_amount:
            description: Amount due in the invoice
            type:
              - "null"
              - string
  coupons_stream:
    $ref: "#/definitions/base_stream"
    name: "coupons"
    $parameters:
      path: "coupons.json"
      field_path: "coupon"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            description: Unique identifier for the coupon.
            type:
              - "null"
              - integer
          name:
            description: Name or title of the coupon.
            type:
              - "null"
              - string
          code:
            description: Unique code identifying the coupon.
            type:
              - "null"
              - string
          description:
            description: A brief description or notes about the coupon.
            type:
              - "null"
              - string
          amount:
            description: The amount of the coupon.
            type:
              - "null"
              - integer
          amount_in_cents:
            description: The amount of the coupon in cents.
            type:
              - "null"
              - integer
          product_family_id:
            description: ID of the product family associated with the coupon.
            type:
              - "null"
              - integer
          product_family_name:
            description: Name of the product family associated with the coupon.
            type:
              - "null"
              - string
          start_date:
            description: Date the coupon becomes valid for use.
            type:
              - "null"
              - string
          end_date:
            description: Date when the coupon expires.
            type:
              - "null"
              - string
          percentage:
            description: Percentage discount offered by the coupon.
            type:
              - "null"
              - integer
          recurring:
            description: Indicates if the coupon is for a recurring charge.
            type:
              - "null"
              - boolean
          recurring_scheme:
            description: Scheme or plan for recurring charges with the coupon.
            type:
              - "null"
              - string
          duration_period_count:
            description: Number of periods the coupon will be valid for.
            type:
              - "null"
              - integer
          duration_interval:
            description: Interval value for the coupon's duration.
            type:
              - "null"
              - integer
          duration_interval_unit:
            description: Unit for the duration interval (e.g., day, week, month).
            type:
              - "null"
              - string
          duration_interval_span:
            description:
              Span for the coupon's duration interval (e.g., days, weeks,
              months).
            type:
              - "null"
              - string
          allow_negative_balance:
            description:
              Indicates whether the coupon can result in a negative account
              balance.
            type:
              - "null"
              - boolean
          archived_at:
            description: Timestamp indicating when the coupon was archived.
            type:
              - "null"
              - string
          conversion_limit:
            description: Maximum number of times the coupon can be used.
            type:
              - "null"
              - string
          stackable:
            description: Determines if the coupon can be stacked with other coupons.
            type:
              - "null"
              - boolean
          compounding_strategy:
            description: Method used for combining multiple coupons in a subscription.
            type:
              - "null"
              - string
          use_site_exchange_rate:
            description:
              Specifies whether to use the site's exchange rate for currency
              conversion.
            type:
              - "null"
              - boolean
          created_at:
            description: Timestamp indicating when the coupon was created.
            type:
              - "null"
              - string
          updated_at:
            description: Timestamp indicating when the coupon was last updated.
            type:
              - "null"
              - string
          discount_type:
            description:
              Type of discount provided by the coupon (e.g., fixed amount
              or percentage).
            type:
              - "null"
              - string
          exclude_mid_period_allocations:
            description:
              Indicates whether to exclude mid-period allocations when
              applying the coupon.
            type:
              - "null"
              - boolean
          "apply_on_cancel_at_end_of_period ":
            description:
              Determines if the coupon is applied when a subscription is
              canceled at the end of its period.
            type:
              - "null"
              - boolean
          coupon_restrictions:
            description:
              Restrictions on the coupon such as applicable product or
              service.
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  description: ID for the restriction.
                  type:
                    - "null"
                    - string
                item_type:
                  description: Type of the restricted item (e.g., product or service).
                  type:
                    - "null"
                    - string
                item_id:
                  description: ID of the restricted item.
                  type:
                    - "null"
                    - integer
                name:
                  description: Name of the restricted item.
                  type:
                    - "null"
                    - string
                handle:
                  description: Handle for identifying the restriction.
                  type:
                    - "null"
                    - string
  transactions_stream:
    $ref: "#/definitions/base_stream"
    name: "transactions"
    $parameters:
      path: "transactions.json"
      field_path: "transaction"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            description: The unique identifier for the transaction
            type:
              - "null"
              - integer
          subscription_id:
            description: The ID of the subscription associated with the transaction
            type:
              - "null"
              - integer
          type:
            description: The general type of the transaction (e.g., payment, credit)
            type:
              - "null"
              - string
          kind:
            description: The kind of transaction (e.g., sale, refund)
            type:
              - "null"
              - string
          transaction_type:
            description: The type of transaction (e.g., charge, refund)
            type:
              - "null"
              - string
          success:
            description: Indicates whether the transaction was successful
            type:
              - "null"
              - boolean
          amount_in_cents:
            description: The amount of the transaction in cents
            type:
              - "null"
              - integer
          memo:
            description: Additional notes or information related to the transaction
            type:
              - "null"
              - string
          created_at:
            description: The timestamp of when the transaction was created
            type:
              - "null"
              - string
          starting_balance_in_cents:
            description: The starting balance before the transaction in cents
            type:
              - "null"
              - integer
          ending_balance_in_cents:
            description: The ending balance after the transaction in cents
            type:
              - "null"
              - integer
          gateway_used:
            description: The payment gateway used for processing the transaction
            type:
              - "null"
              - string
          gateway_transaction_id:
            description: The transaction ID provided by the payment gateway
            type:
              - "null"
              - string
          gateway_order_id:
            description: The order ID generated by the payment gateway
            type:
              - "null"
              - integer
          payment_id:
            description: The ID of the payment associated with the transaction
            type:
              - "null"
              - integer
          product_id:
            description: The ID of the product associated with the transaction
            type:
              - "null"
              - integer
          tax_id:
            description: The ID of the tax applied to the transaction
            type:
              - "null"
              - integer
          component_id:
            description: The ID of the component associated with the transaction
            type:
              - "null"
              - integer
          statement_id:
            description: The ID of the statement this transaction appears on
            type:
              - "null"
              - integer
          customer_id:
            description: The ID of the customer associated with the transaction
            type:
              - "null"
              - integer
          item_name:
            description: The name of the item associated with the transaction
            type:
              - "null"
              - string
          parent_id:
            description: The ID of the parent transaction if this is a related transaction
            type:
              - "null"
              - integer
          role:
            description:
              The role of the transaction within the system (e.g., buyer,
              seller)
            type:
              - "null"
              - string
          card_number:
            description: The masked card number used for the transaction
            type:
              - "null"
              - string
          card_expiration:
            description: The expiration date of the card used for the transaction
            type:
              - "null"
              - string
          card_type:
            description: The type of card used for the transaction (e.g., Visa, MasterCard)
            type:
              - "null"
              - string
          refunded_amount_in_cents:
            description: The amount refunded for the transaction in cents
            type:
              - "null"
              - integer
streams:
  - "#/definitions/customers_stream"
  - "#/definitions/subscriptions_stream"
  - "#/definitions/invoices_stream"
  - "#/definitions/coupons_stream"
  - "#/definitions/transactions_stream"

check:
  type: CheckStream
  stream_names:
    - customers

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/chargify
  connection_specification:
    title: Chargify Spec
    type: object
    required:
      - api_key
      - domain
    additionalProperties: true
    properties:
      api_key:
        type: string
        title: API Key
        order: 0
        description: Maxio Advanced Billing/Chargify API Key.
        airbyte_secret: true
      domain:
        type: string
        order: 1
        title: Domain
        description: >-
          Chargify domain. Normally this domain follows the following format
          companyname.chargify.com
