version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - price

definitions:
  streams:
    price:
      type: DeclarativeStream
      name: price
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {% if (next_page_token['next_page_token'] or 0) <
            config['tickers'].split(',')|length %}/v8/finance/chart/{{
            config['tickers'].split(',')[next_page_token['next_page_token'] or
            0].strip() }}{% endif %}
          http_method: GET
          request_parameters:
            range: "{{ config['range'] }}"
            symbol: >-
              {% if (next_page_token['next_page_token'] or 0) <
              config['tickers'].split(',')|length %}{{
              config['tickers'].split(',')[next_page_token['next_page_token'] or
              0].strip() }}{% else %} finish {% endif %}
            interval: "{{ config['interval'] }}"
          request_headers:
            Accept: application/json
            User-Agent: Mozilla/5.0 (X11; Linux x86_64)
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: SUCCESS
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/price"
  base_requester:
    type: HttpRequester
    url_base: https://query1.finance.yahoo.com

streams:
  - $ref: "#/definitions/streams/price"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - tickers
    properties:
      tickers:
        type: string
        order: 0
        title: Tickers
        description: >-
          Comma-separated identifiers for the stocks to be queried. Whitespaces
          are allowed.
      interval:
        type: string
        order: 1
        title: Interval
        description: The interval of between prices queried.
        enum:
          - 1m
          - 5m
          - 15m
          - 30m
          - 90m
          - 1h
          - 1d
          - 5d
          - 1wk
          - 1mo
          - 3mo
      range:
        type: string
        order: 2
        title: Range
        description: The range of prices to be queried.
        enum:
          - 1d
          - 5d
          - 7d
          - 1mo
          - 3mo
          - 6mo
          - 1y
          - 2y
          - 5y
          - ytd
          - max
    additionalProperties: true

metadata:
  autoImportSchema:
    price: false

schemas:
  price:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      chart:
        type: object
        description: Contains the price data for the stock.
        properties:
          result:
            type: array
            description: Contains the information about the stock price.
            items:
              type: object
              properties:
                indicators:
                  type: object
                  description: Contains technical indicators for the stock price.
                  properties:
                    quote:
                      type: array
                      items:
                        type: object
                        description: Contains the actual stock price data.
                        properties:
                          close:
                            type: array
                            description: The closing price of the stock.
                            items:
                              type:
                                - "null"
                                - number
                              description: >-
                                Closing price of the stock for a specific time
                                period.
                          high:
                            type: array
                            description: >-
                              The highest price of the stock during the trading
                              period.
                            items:
                              type:
                                - "null"
                                - number
                              description: >-
                                Highest price the stock reached during a
                                specific time period.
                          low:
                            type: array
                            description: >-
                              The lowest price of the stock during the trading
                              period.
                            items:
                              type:
                                - "null"
                                - number
                              description: >-
                                Lowest price the stock reached during a specific
                                time period.
                          open:
                            type: array
                            description: The opening price of the stock.
                            items:
                              type:
                                - "null"
                                - number
                              description: >-
                                Opening price of the stock for a specific time
                                period.
                          volume:
                            type: array
                            description: The total volume of the stock traded.
                            items:
                              type:
                                - "null"
                                - number
                              description: >-
                                Total trading volume of the stock for a specific
                                time period.
                meta:
                  type: object
                  description: Contains metadata related to the stock price.
                  properties:
                    chartPreviousClose:
                      type: number
                      description: >-
                        Closing price of the stock from the previous trading
                        day.
                    currency:
                      type:
                        - "null"
                        - string
                      description: Currency in which the prices are denoted.
                    currentTradingPeriod:
                      type: object
                      description: Contains information about different trading periods.
                      properties:
                        post:
                          type: object
                          description: Information about post-trading period.
                          properties:
                            end:
                              type: number
                              description: End time of the post-market trading session.
                            gmtoffset:
                              type: number
                              description: GMT offset for post-trading period.
                            start:
                              type: number
                              description: Start time of the post-market trading session.
                            timezone:
                              type: string
                              description: >-
                                Timezone in which the post-market trading
                                session occurs.
                        pre:
                          type: object
                          description: Information about pre-trading period.
                          properties:
                            end:
                              type: number
                              description: End time of the pre-market trading session.
                            gmtoffset:
                              type: number
                              description: GMT offset for pre-trading period.
                            start:
                              type: number
                              description: Start time of the pre-market trading session.
                            timezone:
                              type: string
                              description: >-
                                Timezone in which the pre-market trading session
                                occurs.
                        regular:
                          type: object
                          description: Information about regular trading period.
                          properties:
                            end:
                              type: number
                              description: End time of the regular trading session.
                            gmtoffset:
                              type: number
                              description: GMT offset for regular trading period.
                            start:
                              type: number
                              description: Start time of the regular trading session.
                            timezone:
                              type: string
                              description: >-
                                Timezone in which the regular trading session
                                occurs.
                    dataGranularity:
                      type: string
                      description: Granularity of the data intervals, like 1m, 1h, 1d, etc.
                    exchangeName:
                      type: string
                      description: Name of the stock exchange where the stock is traded.
                    exchangeTimezoneName:
                      type: string
                      description: Timezone of the stock exchange.
                    firstTradeDate:
                      type:
                        - "null"
                        - number
                      description: Date of the stock's first trade on the exchange.
                    gmtoffset:
                      type: number
                      description: GMT Offset for the trading data.
                    instrumentType:
                      type: string
                      description: Type of instrument, such as stock, ETF, etc.
                    previousClose:
                      type: number
                      description: >-
                        Closing price of the stock from the previous trading
                        day.
                    priceHint:
                      type: number
                      description: Decimal precision for the price data.
                    range:
                      type: string
                      description: Price range for the stock during a specific time period.
                    regularMarketPrice:
                      type: number
                      description: Price of the stock in the regular market session.
                    regularMarketTime:
                      type: number
                      description: >-
                        Time of the last price update in the regular market
                        session.
                    scale:
                      type: number
                      description: Numerical scale factor used to adjust prices.
                    symbol:
                      type: string
                      description: Symbol or ticker of the stock.
                    timezone:
                      type: string
                      description: Timezone where the trading data is provided.
                    tradingPeriods:
                      type: array
                      description: Contains information about different trading periods.
                      items:
                        type: array
                        description: Contains individual trading periods.
                        items:
                          type: object
                          properties:
                            end:
                              type: number
                              description: End time of a specific trading period.
                            gmtoffset:
                              type: number
                              description: The GMT offset for the trading period.
                            start:
                              type: number
                              description: Start time of a specific trading period.
                            timezone:
                              type: string
                              description: Timezone in which the trading period occurs.
                    validRanges:
                      type: array
                      description: Contains valid trading ranges for the stock.
                      items:
                        type: string
                        description: Ranges of valid trading data.
                timestamp:
                  type: array
                  description: The timestamp of the stock price data.
                  items:
                    type: number
                    description: Timestamp of the price data.
    required:
      - chart
    additionalProperties: true
