version: 0.50.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - price
streams:
  - type: DeclarativeStream
    name: price
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          chart:
            properties:
              result:
                items:
                  properties:
                    indicators:
                      properties:
                        quote:
                          items:
                            properties:
                              close:
                                items:
                                  type:
                                    - "null"
                                    - number
                                type: array
                              high:
                                items:
                                  type:
                                    - "null"
                                    - number
                                type: array
                              low:
                                items:
                                  type:
                                    - "null"
                                    - number
                                type: array
                              open:
                                items:
                                  type:
                                    - "null"
                                    - number
                                type: array
                              volume:
                                items:
                                  type:
                                    - "null"
                                    - number
                                type: array
                            type: object
                          type: array
                      type: object
                    meta:
                      properties:
                        chartPreviousClose:
                          type: number
                        currency:
                          type:
                            - "null"
                            - string
                        currentTradingPeriod:
                          properties:
                            post:
                              properties:
                                end:
                                  type: number
                                gmtoffset:
                                  type: number
                                start:
                                  type: number
                                timezone:
                                  type: string
                              type: object
                            pre:
                              properties:
                                end:
                                  type: number
                                gmtoffset:
                                  type: number
                                start:
                                  type: number
                                timezone:
                                  type: string
                              type: object
                            regular:
                              properties:
                                end:
                                  type: number
                                gmtoffset:
                                  type: number
                                start:
                                  type: number
                                timezone:
                                  type: string
                              type: object
                          type: object
                        dataGranularity:
                          type: string
                        exchangeName:
                          type: string
                        exchangeTimezoneName:
                          type: string
                        firstTradeDate:
                          type:
                            - "null"
                            - number
                        gmtoffset:
                          type: number
                        instrumentType:
                          type: string
                        previousClose:
                          type: number
                        priceHint:
                          type: number
                        range:
                          type: string
                        regularMarketPrice:
                          type: number
                        regularMarketTime:
                          type: number
                        scale:
                          type: number
                        symbol:
                          type: string
                        timezone:
                          type: string
                        tradingPeriods:
                          items:
                            items:
                              properties:
                                end:
                                  type: number
                                gmtoffset:
                                  type: number
                                start:
                                  type: number
                                timezone:
                                  type: string
                              type: object
                            type: array
                          type: array
                        validRanges:
                          items:
                            type: string
                          type: array
                      type: object
                    timestamp:
                      items:
                        type: number
                      type: array
                  type: object
                type: array
            type: object
        required:
          - chart
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://query1.finance.yahoo.com
        path: >-
          {% if (next_page_token['next_page_token'] or 0) <
          config['tickers'].split(',')|length %}/v8/finance/chart/{{
          config['tickers'].split(',')[next_page_token['next_page_token'] or
          0].strip() }}{% endif %}
        http_method: GET
        request_parameters:
          range: "{{ config['range'] }}"
          symbol: >-
            {% if (next_page_token['next_page_token'] or 0) <
            config['tickers'].split(',')|length %}{{
            config['tickers'].split(',')[next_page_token['next_page_token'] or
            0].strip() }}{% else %} finish {% endif %}
          interval: "{{ config['interval'] }}"
        request_headers:
          Accept: application/json
          User-Agent: Mozilla/5.0 (X11; Linux x86_64)
        authenticator:
          type: NoAuth
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: SUCCESS
                  http_codes:
                    - 403
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          start_from_page: 0
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - tickers
    properties:
      tickers:
        type: string
        order: 0
        title: Tickers
        description: >-
          Comma-separated identifiers for the stocks to be queried. Whitespaces
          are allowed.
      interval:
        type: string
        order: 1
        title: Interval
        description: The interval of between prices queried.
        enum:
          - 1m
          - 5m
          - 15m
          - 30m
          - 90m
          - 1h
          - 1d
          - 5d
          - 1wk
          - 1mo
          - 3mo
      range:
        type: string
        order: 2
        title: Range
        description: The range of prices to be queried.
        enum:
          - 1d
          - 5d
          - 7d
          - 1mo
          - 3mo
          - 6mo
          - 1y
          - 2y
          - 5y
          - ytd
          - max
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec
metadata:
  autoImportSchema:
    price: false
