@use "scss/variables";

.container {
  margin-top: variables.$spacing-md;

  &.cloud {
    margin-right: 68px;
  }

  transition: opacity variables.$transition-out;

  &.hidden {
    opacity: 0;
  }
}
