@use "scss/variables";
@use "scss/colors";

$icon-size: 16px;

.section {
  padding: variables.$spacing-xl;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;

  // TODO: We may be able to get rid of this.
  &:not(:last-child) {
    box-shadow: 0 1px 0 rgba(139, 139, 160, 25%);
  }

  &.flush {
    padding: 0;
    gap: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  .arrow {
    font-size: $icon-size;
    line-height: $icon-size;
    color: colors.$dark-blue;
    transition: 0.3s;
    cursor: pointer;

    &.expanded {
      transform: rotate(90deg);
    }
  }
}
