version: 4.3.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          request_parameters:
            q: >-
              updated_at:{{ '{' }}{{stream_interval.start_time ~ '  TO ' ~
              stream_interval.end_time ~ ']' if stream_interval.start_time else
              config['start_date'] ~ ' TO *]'}}
            sort: updated_at:1
            include_totals: "false"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - user_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1Y
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2013-01-01T00:00:00.000Z') }}"
          min_datetime: "2013-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_granularity: PT0.001S
    clients:
      type: DeclarativeStream
      name: clients
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        requester:
          $ref: "#/definitions/base_requester"
          path: clients
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - client_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients"
    organizations:
      type: DeclarativeStream
      name: organizations
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"
    organization_members:
      type: DeclarativeStream
      name: organization_members
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations/{{ stream_partition.parent_id }}/members
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/organizations"
              parent_key: id
              partition_field: parent_id
      primary_key:
        - user_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_members"
    organization_member_roles:
      type: DeclarativeStream
      name: organization_member_roles
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            organizations/{{ stream_partition.parent_slice.parent_id
            }}/members/{{ stream_partition.parent_user_id }}/roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/organization_members"
              parent_key: user_id
              partition_field: parent_user_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_member_roles"
  base_requester:
    type: HttpRequester
    url_base: "{{ config['base_url'] }}/api/v2"
    authenticator:
      type: SelectiveAuthenticator
      authenticators:
        oauth2_access_token:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        oauth2_confidential_application:
          type: OAuthAuthenticator
          client_id: "{{ config['credentials']['client_id'] }}"
          grant_type: client_credentials
          client_secret: "{{ config['credentials']['client_secret'] }}"
          refresh_request_body:
            audience: "{{  config['credentials']['audience']  }}"
          token_refresh_endpoint: "{{ config['base_url'] }}oauth/token"
      authenticator_selection_path:
        - credentials
        - auth_type

streams:
  - $ref: "#/definitions/streams/clients"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/organizations"
  - $ref: "#/definitions/streams/organization_member_roles"
  - $ref: "#/definitions/streams/organization_members"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - base_url
      - credentials
    properties:
      base_url:
        type: string
        description: >-
          The Authentication API is served over HTTPS. All URLs referenced in
          the documentation have the following base `https://YOUR_DOMAIN`
        order: 0
        title: Base URL
        examples:
          - https://dev-yourOrg.us.auth0.com/
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        order: 1
        title: Start Date
        default: "2023-08-05T00:43:59.244Z"
        examples:
          - "2023-08-05T00:43:59.244Z"
        airbyte_secret: false
      credentials:
        type: object
        oneOf:
          - type: object
            title: OAuth2 Confidential Application
            required:
              - auth_type
              - client_id
              - client_secret
              - audience
            properties:
              audience:
                type: string
                description: >-
                  The audience for the token, which is your API. You can find
                  this in the Identifier field on your  <a
                  href="https://manage.auth0.com/#/apis">API's settings tab</a>
                title: Audience
                examples:
                  - https://dev-yourOrg.us.auth0.com/api/v2/
              auth_type:
                type: string
                const: oauth2_confidential_application
                order: 0
                title: Authentication Method
              client_id:
                type: string
                description: >-
                  Your application's Client ID. You can find this value on the
                  <a
                  href="https://manage.auth0.com/#/applications">application's
                  settings tab</a> after you login the admin portal.
                title: Client ID
                examples:
                  - Client_ID
              client_secret:
                type: string
                description: >-
                  Your application's Client Secret. You can find this value on
                  the <a
                  href="https://manage.auth0.com/#/applications">application's
                  settings tab</a> after you login the admin portal.
                title: Client Secret
                examples:
                  - Client_Secret
                airbyte_secret: true
          - type: object
            title: OAuth2 Access Token
            required:
              - access_token
              - auth_type
            properties:
              auth_type:
                type: string
                const: oauth2_access_token
                order: 0
                title: Authentication Method
                examples:
                  - oauth2_access_token
              access_token:
                type: string
                description: >-
                  Also called <a
                  href="https://auth0.com/docs/secure/tokens/access-tokens/get-management-api-access-tokens-for-testing">API
                  Access Token </a> The access token used to call the Auth0
                  Management API Token. It's a JWT that contains specific grant
                  permissions knowns as scopes.
                title: OAuth2 Access Token
                airbyte_secret: true
        order: 2
        title: Authentication Method
    additionalProperties: true

metadata:
  testedStreams:
    users:
      hasRecords: true
      streamHash: ea7118c74f64fdcf037968660f4f5bcc94796547
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    clients:
      hasRecords: true
      streamHash: e32481ebb7b3e137482557ef51cdf8c5b2602d4c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    organizations:
      hasRecords: true
      streamHash: 971698d8bdb58503632dbbee45dcf3eadd9bfb3b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    organization_members:
      hasRecords: true
      streamHash: 96a5e6fad6ed0d11a39f58be063d1516e053bba4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    organization_member_roles:
      hasRecords: true
      streamHash: 71899dda9d0663a1838011129bf8461db9ca65b5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  yamlComponents:
    streams:
      users:
        - incrementalSync
    global:
      - authenticator
  autoImportSchema:
    users: false
    clients: false
    organizations: false
    organization_members: false
    organization_member_roles: false

schemas:
  users:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
      blocked:
        type:
          - boolean
          - "null"
      last_ip:
        type:
          - string
          - "null"
      picture:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
      nickname:
        type:
          - string
          - "null"
      username:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
      given_name:
        type:
          - string
          - "null"
      identities:
        type:
          - "null"
          - array
        items:
          type:
            - object
            - "null"
          properties:
            connection:
              type:
                - string
                - "null"
          additionalProperties: true
      last_login:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
      family_name:
        type:
          - string
          - "null"
      multifactor:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
        additionalProperties: true
      app_metadata:
        type:
          - object
          - "null"
        additionalProperties: true
      logins_count:
        type:
          - integer
          - "null"
      phone_number:
        type:
          - string
          - "null"
      user_metadata:
        type:
          - object
          - "null"
        additionalProperties: true
      email_verified:
        type:
          - boolean
          - "null"
      phone_verified:
        type:
          - boolean
          - "null"
    additionalProperties: true
  clients:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - string
          - "null"
      sso:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      addons:
        type:
          - object
          - "null"
        additionalProperties: true
      global:
        type:
          - boolean
          - "null"
      mobile:
        type:
          - object
          - "null"
        additionalProperties: true
      owners:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
      tenant:
        type:
          - string
          - "null"
      app_type:
        type:
          - string
          - "null"
      logo_uri:
        type:
          - string
          - "null"
      callbacks:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
      client_id:
        type:
          - string
          - "null"
      grant_types:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
      web_origins:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
      signing_keys:
        type:
          - "null"
          - array
        items:
          type:
            - object
            - "null"
          additionalProperties: true
      sso_disabled:
        type:
          - boolean
          - "null"
      client_secret:
        type:
          - string
          - "null"
      form_template:
        type:
          - string
          - "null"
      refresh_token:
        type:
          - object
          - "null"
        properties:
          leeway:
            type:
              - integer
              - "null"
          rotation_type:
            type:
              - string
              - "null"
          expiration_type:
            type:
              - string
              - "null"
      client_aliases:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
      encryption_key:
        type:
          - object
          - "null"
        properties:
          pub:
            type:
              - string
              - "null"
          cert:
            type:
              - string
              - "null"
          subject:
            type:
              - string
              - "null"
        additionalProperties: true
      is_first_party:
        type:
          - boolean
          - "null"
      allowed_clients:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
      allowed_origins:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
      client_metadata:
        type:
          - object
          - "null"
        additionalProperties: true
      oidc_conformant:
        type:
          - boolean
          - "null"
      cross_origin_loc:
        type:
          - string
          - "null"
      cross_origin_auth:
        type:
          - boolean
          - "null"
      custom_login_page:
        type:
          - string
          - "null"
      jwt_configuration:
        type:
          - object
          - "null"
        properties:
          alg:
            type:
              - string
              - "null"
          scopes:
            type:
              - object
              - "null"
          secret_encoded:
            type:
              - boolean
              - "null"
          lifetime_in_seconds:
            type:
              - integer
              - "null"
        additionalProperties: true
      initiate_login_uri:
        type:
          - string
          - "null"
      organization_usage:
        type:
          - string
          - "null"
      allowed_logout_urls:
        type:
          - "null"
          - array
        items:
          type:
            - string
            - "null"
      native_social_login:
        type:
          - object
          - "null"
        additionalProperties: true
      custom_login_page_on:
        type:
          - boolean
          - "null"
      callback_url_template:
        type:
          - boolean
          - "null"
      oidc_backchannel_logout:
        type:
          - object
          - "null"
        properties:
          backchannel_logout_urls:
            type:
              - "null"
              - array
            items:
              type:
                - string
                - "null"
        additionalProperties: true
      custom_login_page_preview:
        type:
          - string
          - "null"
      token_endpoint_auth_method:
        type:
          - string
          - "null"
      cross_origin_authentication:
        type:
          - boolean
          - "null"
      client_authentication_methods:
        type:
          - object
          - "null"
        additionalProperties: true
      organization_require_behavior:
        type:
          - string
          - "null"
      is_token_endpoint_ip_header_trusted:
        type:
          - boolean
          - "null"
    additionalProperties: true
  organizations:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      metadata:
        type:
          - object
          - "null"
        additionalProperties: true
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      branding:
        type:
          - object
          - "null"
        additionalProperties: true
      display_name:
        type:
          - string
          - "null"
    additionalProperties: true
  organization_members:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      org_id:
        type:
          - string
          - "null"
      picture:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
    additionalProperties: true
  organization_member_roles:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      org_id:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
    additionalProperties: true
