version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - activity_sets
    - contacts
definitions:
  streams:
    activity_sets:
      type: DeclarativeStream
      name: activity_sets
      primary_key:
        - ACTIVITYSET_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /ActivitySets
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                path: /ActivitySets
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            ACTIVITIES:
              type: array
              description: List of activities included in the activity set
              items:
                type: object
                properties:
                  ACTIVITYSET_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the activity set to which the activity belongs
                  ACTIVITY_DETAILS:
                    type:
                      - string
                      - "null"
                    description: Details or description of the activity
                  ACTIVITY_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the activity
                  ACTIVITY_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the activity
                  ACTIVITY_TYPE:
                    type:
                      - string
                      - "null"
                    description: Type of the activity
                  ALL_DAY:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is an all-day
                      event
                  ASSIGNED_TEAM_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the team assigned to the activity
                  CATEGORY_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the category to which the activity belongs
                  DUE_DAYS_AFTER_START:
                    type:
                      - integer
                      - "null"
                    description: >-
                      Number of days after the start of the activity by which it is
                      due
                  DUE_DAYS_BEFORE_END:
                    type:
                      - integer
                      - "null"
                    description:
                      Number of days before the end of the activity by
                      which it is due
                  DURATION:
                    type:
                      - integer
                      - "null"
                    description: Duration of the activity
                  EVENT_DAYS_AFTER_START:
                    type:
                      - integer
                      - "null"
                    description: >-
                      Number of days after the start of the activity when the event
                      occurs
                  EVENT_DAYS_BEFORE_END:
                    type:
                      - integer
                      - "null"
                    description: >-
                      Number of days before the end of the activity when the event
                      occurs
                  EVENT_TIME:
                    type:
                      - string
                      - "null"
                    description: Time of the event associated with the activity
                  OWNER_USER_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the user who owns the activity
                  OWNER_VISIBLE:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is visible
                      to the owner
                  PUBLICLY_VISIBLE:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is publicly
                      visible
                  REMINDER:
                    type:
                      - boolean
                      - "null"
                    description: Details about the reminder set for the activity
                  REMINDER_DAYS_BEFORE_DUE:
                    type:
                      - integer
                      - "null"
                    description: >-
                      Number of days before the due date when the reminder is
                      triggered
                  REMINDER_TIME:
                    type:
                      - string
                      - "null"
                    description: Time of day when the reminder is triggered
                  RESPONSIBLE_USER_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the user responsible for the activity
                  SKIP_FRI:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is skipped
                      on Fridays
                  SKIP_MON:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is skipped
                      on Mondays
                  SKIP_SAT:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is skipped
                      on Saturdays
                  SKIP_SUN:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is skipped
                      on Sundays
                  SKIP_THU:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is skipped
                      on Thursdays
                  SKIP_TUE:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is skipped
                      on Tuesdays
                  SKIP_WED:
                    type:
                      - boolean
                      - "null"
                    description:
                      Boolean flag indicating if the activity is skipped
                      on Wednesdays
            ACTIVITYSET_ID:
              type: integer
              description: ID of the activity set
            FOR_CONTACTS:
              type:
                - boolean
                - "null"
              description: Activity set associated with contacts
            FOR_LEADS:
              type:
                - boolean
                - "null"
              description: Activity set associated with leads
            FOR_OPPORTUNITIES:
              type:
                - boolean
                - "null"
              description: Activity set associated with opportunities
            FOR_ORGANISATIONS:
              type:
                - boolean
                - "null"
              description: Activity set associated with organizations
            FOR_PROJECTS:
              type:
                - boolean
                - "null"
              description: Activity set associated with projects
            NAME:
              type:
                - string
                - "null"
              description: Name of the activity set
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: ID of the user who owns the activity set
          additionalProperties: true
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - CONTACT_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Contacts/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /Contacts/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            ADDRESS_MAIL_CITY:
              type:
                - string
                - "null"
              description: The city of the mailing address
            ADDRESS_MAIL_COUNTRY:
              type:
                - string
                - "null"
              description: The country of the mailing address
            ADDRESS_MAIL_POSTCODE:
              type:
                - string
                - "null"
              description: The postcode of the mailing address
            ADDRESS_MAIL_STATE:
              type:
                - string
                - "null"
              description: The state of the mailing address
            ADDRESS_MAIL_STREET:
              type:
                - string
                - "null"
              description: The street address of the mailing address
            ADDRESS_OTHER_CITY:
              type:
                - string
                - "null"
              description: The city of the other address
            ADDRESS_OTHER_COUNTRY:
              type:
                - string
                - "null"
              description: The country of the other address
            ADDRESS_OTHER_POSTCODE:
              type:
                - string
                - "null"
              description: The postcode of the other address
            ADDRESS_OTHER_STATE:
              type:
                - string
                - "null"
              description: The state of the other address
            ADDRESS_OTHER_STREET:
              type:
                - string
                - "null"
              description: The street address of the other address
            ASSISTANT_NAME:
              type:
                - string
                - "null"
              description: The name of the contact's assistant
            BACKGROUND:
              type:
                - string
                - "null"
              description: Background information about the contact
            CONTACT_ID:
              type: integer
              description: The unique identifier for the contact
            CREATED_USER_ID:
              type:
                - integer
                - "null"
              description: The user ID of the user who created the contact
            CUSTOMFIELDS:
              type: array
              description: Custom fields associated with the contact
              items:
                type: object
                properties:
                  FIELD_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the custom field
                  FIELD_VALUE:
                    type: object
                    description: The value of the custom field for this contact
            DATES:
              type: array
              description: Important dates related to the contact
              items:
                type: object
                properties:
                  CREATE_TASK_YEARLY:
                    type:
                      - boolean
                      - "null"
                    description: Indicates whether a task should be created yearly
                  DATE_ID:
                    type:
                      - integer
                      - "null"
                    description: The unique identifier for the date event
                  OCCASION_DATE:
                    type:
                      - string
                      - "null"
                    description: The date of the occasion
                  OCCASION_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the occasion
                  REPEAT_YEARLY:
                    type:
                      - boolean
                      - "null"
                    description: Indicates if the occasion repeats yearly
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description: The date and time the contact was created in UTC
              format: date-time
            DATE_OF_BIRTH:
              type:
                - string
                - "null"
              description: The date of birth of the contact
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description: The date and time the contact was last updated in UTC
              format: date-time
            EMAIL_ADDRESS:
              type:
                - string
                - "null"
              description: The email address of the contact
            EMAIL_OPTED_OUT:
              type:
                - boolean
                - "null"
              description: Whether the contact has opted out of email communication
            FIRST_NAME:
              type:
                - string
                - "null"
              description: The first name of the contact
            IMAGE_URL:
              type:
                - string
                - "null"
              description: URL of the contact's image
            LAST_ACTIVITY_DATE_UTC:
              type:
                - string
                - "null"
              description:
                The date and time of the last activity related to the contact
                in UTC
              format: date-time
            LAST_NAME:
              type:
                - string
                - "null"
              description: The last name of the contact
            LINKS:
              type: array
              description: Links or references related to the contact
              items:
                type: object
                properties:
                  DETAILS:
                    type:
                      - string
                      - "null"
                    description: Details about the link
                  IS_FORWARD:
                    type:
                      - boolean
                      - "null"
                    description: Flag indicating if the link is forward
                  LINK_ID:
                    type:
                      - integer
                      - "null"
                    description: Unique identifier for the link
                  LINK_OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the linked object
                  LINK_OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the linked object
                  OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the object
                  OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the object
                  RELATIONSHIP_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the relationship
                  ROLE:
                    type:
                      - string
                      - "null"
                    description: The role of the contact in the relationship
            NEXT_ACTIVITY_DATE_UTC:
              type:
                - string
                - "null"
              description:
                The date and time of the next activity related to the contact
                in UTC
              format: date-time
            ORGANISATION_ID:
              type:
                - integer
                - "null"
              description: The ID of the organization the contact is associated with
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: The ID of the user who owns the contact
            PHONE:
              type:
                - string
                - "null"
              description: The primary phone number of the contact
            PHONE_ASSISTANT:
              type:
                - string
                - "null"
              description: The phone number of the contact's assistant
            PHONE_FAX:
              type:
                - string
                - "null"
              description: The fax number of the contact
            PHONE_HOME:
              type:
                - string
                - "null"
              description: The home phone number of the contact
            PHONE_MOBILE:
              type:
                - string
                - "null"
              description: The mobile phone number of the contact
            PHONE_OTHER:
              type:
                - string
                - "null"
              description: Another phone number of the contact
            SALUTATION:
              type:
                - string
                - "null"
              description: The salutation for the contact
            SOCIAL_FACEBOOK:
              type:
                - string
                - "null"
              description: The Facebook profile of the contact
            SOCIAL_LINKEDIN:
              type:
                - string
                - "null"
              description: The LinkedIn profile of the contact
            SOCIAL_TWITTER:
              type:
                - string
                - "null"
              description: The Twitter profile of the contact
            TAGS:
              type: array
              description: Tags or categories associated with the contact
              items:
                type: object
                properties:
                  TAG_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the tag associated with the contact
            TITLE:
              type:
                - string
                - "null"
              description: The title of the contact
            VISIBLE_TEAM_ID:
              type:
                - integer
                - "null"
              description: The ID of the team the contact is visible to
            VISIBLE_TO:
              type:
                - string
                - "null"
              description: Indicates who the contact is visible to
    countries:
      type: DeclarativeStream
      name: countries
      primary_key:
        - COUNTRY_NAME
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Countries
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            COUNTRY_NAME:
              type: string
              description: The name of the country.
          additionalProperties: true
    currencies:
      type: DeclarativeStream
      name: currencies
      primary_key:
        - CURRENCY_CODE
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Currencies
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            CURRENCY_CODE:
              type: string
              description: The unique code representing the currency.
            CURRENCY_SYMBOL:
              type:
                - string
                - "null"
              description: The symbol used to denote the currency.
          additionalProperties: true
    emails:
      type: DeclarativeStream
      name: emails
      primary_key:
        - EMAIL_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Emails/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            CREATED_USER_ID:
              type:
                - integer
                - "null"
              description: The ID of the user who created the email
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description: The date and time when the email record was created
              format: date-time
            EMAIL_DATE_UTC:
              type:
                - string
                - "null"
              description: The date and time when the email was sent/received
              format: date-time
            EMAIL_FROM:
              type:
                - string
                - "null"
              description: The sender of the email
            EMAIL_ID:
              type: integer
              description: The unique identifier of the email
            FORMAT:
              type:
                - string
                - "null"
              description: The format of the email content
            LINKS:
              type: array
              description: Related links associated with the email
              items:
                type: object
                properties:
                  DETAILS:
                    type:
                      - string
                      - "null"
                    description: Details about the link
                  IS_FORWARD:
                    type:
                      - boolean
                      - "null"
                    description: Indicates if the link is a forward link
                  LINK_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the link
                  LINK_OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the linked object
                  LINK_OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the linked object
                  OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the object associated with the email
                  OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the object associated with the email
                  RELATIONSHIP_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID representing the relationship with the link
                  ROLE:
                    type:
                      - string
                      - "null"
                    description: The role of the linked object
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: The ID of the user who owns the email
            QUEUED_SEND_DATE_UTC:
              type:
                - string
                - "null"
              description: The date and time when the email was queued for sending
              format: date-time
            SIZE:
              type:
                - integer
                - "null"
              description: The size of the email content
            SUBJECT:
              type:
                - string
                - "null"
              description: The subject of the email
            TAGS:
              type: array
              description: Tags associated with the email
              items:
                type: object
                properties:
                  TAG_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the tag
          additionalProperties: true
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - EVENT_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Events/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /Events/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            ALL_DAY:
              type:
                - boolean
                - "null"
              description: Indicates if the event is an all-day event
            CUSTOMFIELDS:
              type: array
              description: Custom fields associated with the event
              items:
                type: object
                properties:
                  FIELD_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the custom field
                  FIELD_VALUE:
                    type: object
                    description: Value of the custom field
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description: DateTime when the event was created (UTC)
              format: date-time
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description: DateTime when the event was last updated (UTC)
              format: date-time
            DETAILS:
              type:
                - string
                - "null"
              description: Additional details of the event
            END_DATE_UTC:
              type:
                - string
                - "null"
              description: End date and time of the event (UTC)
              format: date-time
            EVENT_ID:
              type: integer
              description: Unique identifier for the event
            LINKS:
              type: array
              description: Links associated with the event
              items:
                type: object
                properties:
                  DETAILS:
                    type:
                      - string
                      - "null"
                    description: Details of the link
                  IS_FORWARD:
                    type:
                      - boolean
                      - "null"
                    description: Indicates if the link is forward
                  LINK_ID:
                    type:
                      - integer
                      - "null"
                    description: Unique identifier for the link
                  LINK_OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the linked object
                  LINK_OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the linked object
                  OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the object
                  OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the object
                  RELATIONSHIP_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the relationship
                  ROLE:
                    type:
                      - string
                      - "null"
                    description: Role of the link in the relationship
            LOCATION:
              type:
                - string
                - "null"
              description: Location of the event
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: User ID of the event owner
            REMINDER_DATE_UTC:
              type:
                - string
                - "null"
              description:
                DateTime when the reminder for the event is set to trigger
                (UTC)
              format: date-time
            REMINDER_SENT:
              type:
                - boolean
                - "null"
              description: Indicates if the reminder for the event has been sent
            START_DATE_UTC:
              type:
                - string
                - "null"
              description: Start date and time of the event (UTC)
              format: date-time
            TITLE:
              type:
                - string
                - "null"
              description: Title of the event
          additionalProperties: true
    knowledge_article_categories:
      type: DeclarativeStream
      name: knowledge_article_categories
      primary_key:
        - CATEGORY_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /KnowledgeArticleCategory/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /KnowledgeArticleCategory/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            CATEGORY_ID:
              type: integer
              description: Unique identifier for the knowledge article category.
            CATEGORY_NAME:
              type:
                - string
                - "null"
              description: Name of the knowledge article category.
            CREATED_USER_ID:
              type:
                - integer
                - "null"
              description:
                Identifier of the user who created the knowledge article
                category.
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description: Date and time when the knowledge article category was created.
              format: date-time
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description:
                Date and time when the knowledge article category was last
                updated.
              format: date-time
            DESCRIPTION:
              type:
                - string
                - "null"
              description: Detailed description of the knowledge article category.
          additionalProperties: true
    knowledge_article_folders:
      type: DeclarativeStream
      name: knowledge_article_folders
      primary_key:
        - FOLDER_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /KnowledgeArticleFolder/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /KnowledgeArticleFolder/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            CATEGORY_ID:
              type:
                - string
                - "null"
              description: >-
                Unique identifier for the knowledge article category to which the
                folder belongs.
            CREATED_USER_ID:
              type:
                - integer
                - "null"
              description: >-
                Unique identifier of the user who created the knowledge article
                folder.
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description:
                The date and time when the knowledge article folder was
                created.
              format: date-time
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description:
                The date and time when the knowledge article folder was
                last updated.
              format: date-time
            FOLDER_ID:
              type: integer
              description: Unique identifier for the knowledge article folder.
            FOLDER_NAME:
              type:
                - string
                - "null"
              description: The name of the knowledge article folder.
            ORDER_ARTICLES:
              type:
                - string
                - "null"
              description: Defines the order in which articles appear within the folder.
            VISIBILITY:
              type:
                - string
                - "null"
              description: >-
                Indicates the visibility of the knowledge article folder (e.g.,
                public, private, restricted).
          additionalProperties: true
    knowledge_articles:
      type: DeclarativeStream
      name: knowledge_articles
      primary_key:
        - ARTICLE_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /KnowledgeArticle/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /KnowledgeArticle/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            ARCHIVED_DATE_UTC:
              type:
                - string
                - "null"
              description:
                The date and time when the article was archived in UTC
                timezone
              format: date-time
            ARTICLE_ID:
              type: integer
              description: The unique identifier for the knowledge article
            ARTICLE_NO:
              type:
                - integer
                - "null"
              description: The article number for reference
            ArticleVersion:
              type:
                - string
                - "null"
              description: The version of the article
            Body:
              type:
                - string
                - "null"
              description: The main content of the knowledge article
            CATEGORY_ID:
              type:
                - integer
                - "null"
              description: The category ID to which the article belongs
            CREATED_USER_ID:
              type:
                - integer
                - "null"
              description: The user ID of the creator of the knowledge article
            CUSTOMFIELDS:
              type: array
              description: Custom fields associated with the article
              items:
                type: object
                properties:
                  FIELD_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the custom field
                  FIELD_VALUE:
                    type: object
                    description: Value of the custom field
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description: The date and time when the article was created in UTC timezone
              format: date-time
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description:
                The date and time when the article was last updated in
                UTC timezone
              format: date-time
            DOWNVOTE_COUNT:
              type:
                - integer
                - "null"
              description: Number of downvotes received for the article
            ExternalLinkCount:
              type:
                - string
                - "null"
              description: Number of external links referenced in the article
            FIRST_PUBLISHED_DATE_UTC:
              type:
                - string
                - "null"
              description:
                The date and time when the article was first published
                in UTC timezone
              format: date-time
            FOLDER_ID:
              type:
                - integer
                - "null"
              description: The ID of the folder where the article is stored
            LAST_PUBLISHED_DATE_UTC:
              type:
                - string
                - "null"
              description:
                The date and time when the article was last published in
                UTC timezone
              format: date-time
            Language:
              type:
                - string
                - "null"
              description: The language in which the article is written
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: The user ID of the owner of the article
            PROMOTED:
              type:
                - boolean
                - "null"
              description: Indicates if the article is promoted or not
            Status:
              type:
                - string
                - "null"
              description: The status of the article (e.g., draft, published)
            TAGS:
              type: array
              description: Tags associated with the article
              items:
                type: object
                properties:
                  TAG_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the tag
            Title:
              type:
                - string
                - "null"
              description: The title of the knowledge article
            UPVOTE_COUNT:
              type:
                - integer
                - "null"
              description: Number of upvotes received for the article
            URL_SLUG:
              type:
                - string
                - "null"
              description: The URL-friendly slug for the article
          additionalProperties: true
    lead_sources:
      type: DeclarativeStream
      name: lead_sources
      primary_key:
        - LEAD_SOURCE_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /LeadSources
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            DEFAULT_VALUE:
              type:
                - boolean
                - "null"
              description: >-
                The default value for the lead source, used when no specific lead
                source is assigned.
            FIELD_ORDER:
              type:
                - integer
                - "null"
              description: The order in which the lead sources are displayed or prioritized.
            LEAD_SOURCE:
              type:
                - string
                - "null"
              description: The name or label of the lead source.
            LEAD_SOURCE_ID:
              type: integer
              description: The unique identifier for the lead source.
          additionalProperties: true
    lead_statuses:
      type: DeclarativeStream
      name: lead_statuses
      primary_key:
        - LEAD_STATUS_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /LeadStatuses
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            DEFAULT_STATUS:
              type:
                - boolean
                - "null"
              description: Specifies the default status for leads.
            FIELD_ORDER:
              type:
                - integer
                - "null"
              description: Designates the order of fields for lead status.
            LEAD_STATUS:
              type:
                - string
                - "null"
              description: Represents the name or label of the lead status.
            LEAD_STATUS_ID:
              type: integer
              description: Unique identifier for each lead status.
            STATUS_TYPE:
              type:
                - integer
                - "null"
              description: Indicates the type or category of the lead status.
          additionalProperties: true
    milestones:
      type: DeclarativeStream
      name: milestones
      primary_key:
        - MILESTONE_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Milestones/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /Milestones/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            COMPLETED:
              type:
                - boolean
                - "null"
              description:
                Flag indicating if the milestone has been completed or
                not
            COMPLETED_DATE_UTC:
              type:
                - string
                - "null"
              description: Date and time when the milestone was completed in UTC
              format: date-time
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description: Date and time when the milestone was created in UTC
              format: date-time
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description: Date and time when the milestone was last updated in UTC
              format: date-time
            DUE_DATE:
              type:
                - string
                - "null"
              description: Due date for completion of the milestone
            MILESTONE_ID:
              type: integer
              description: Unique identifier for the milestone
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: User ID of the owner of the milestone
            PROJECT_ID:
              type:
                - integer
                - "null"
              description: Identifier of the project to which the milestone belongs
            RESPONSIBLE_USER:
              type:
                - integer
                - "null"
              description: User responsible for completing the milestone
            TITLE:
              type:
                - string
                - "null"
              description: Title or name of the milestone
          additionalProperties: true
    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - NOTE_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Notes/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /Notes/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            BODY:
              type:
                - string
                - "null"
              description: The content or text of the note.
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description: The date and time the note was created in UTC timezone.
              format: date-time
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description: The date and time the note was last updated in UTC timezone.
              format: date-time
            LINKS:
              type: array
              description: Array of links associated with the note.
              items:
                type: object
                properties:
                  DETAILS:
                    type:
                      - string
                      - "null"
                    description: Additional details or description for the link.
                  IS_FORWARD:
                    type:
                      - boolean
                      - "null"
                    description: Indicates if the link is forward or backward.
                  LINK_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the link.
                  LINK_OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the object the link is associated with.
                  LINK_OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the object the link is associated with.
                  OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the linked object.
                  OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the linked object.
                  RELATIONSHIP_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the relationship between the objects.
                  ROLE:
                    type:
                      - string
                      - "null"
                    description: The role or type of relationship between the objects.
            NOTE_ID:
              type: integer
              description: The unique identifier of the note.
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: The ID of the user who owns the note.
            TITLE:
              type:
                - string
                - "null"
              description: The title or subject of the note.
          additionalProperties: true
    opportunities:
      type: DeclarativeStream
      name: opportunities
      primary_key:
        - OPPORTUNITY_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Opportunities/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /Opportunities/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            ACTUAL_CLOSE_DATE:
              type:
                - string
                - "null"
              description: The actual date when the opportunity was closed
              format: date-time
            BID_AMOUNT:
              type:
                - number
                - "null"
              description: The amount bid for the opportunity
            BID_CURRENCY:
              type:
                - string
                - "null"
              description: The currency used for the bid amount
            BID_DURATION:
              type:
                - integer
                - "null"
              description: The duration for which the bid is valid
            BID_TYPE:
              type:
                - string
                - "null"
              description: The type of bid placed
            CATEGORY_ID:
              type:
                - integer
                - "null"
              description: The category ID associated with the opportunity
            CREATED_USER_ID:
              type:
                - integer
                - "null"
              description: The ID of the user who created the opportunity
            CUSTOMFIELDS:
              type: array
              description: Custom fields associated with the opportunity
              items:
                type: object
                properties:
                  FIELD_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the custom field
                  FIELD_VALUE:
                    type: object
                    description: Value of the custom field
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description:
                The date and time when the opportunity was created (in
                UTC)
              format: date-time
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description:
                The date and time when the opportunity was last updated
                (in UTC)
              format: date-time
            FORECAST_CLOSE_DATE:
              type:
                - string
                - "null"
              description: The forecasted date for closing the opportunity
              format: date-time
            IMAGE_URL:
              type:
                - string
                - "null"
              description: URL of any image associated with the opportunity
            LAST_ACTIVITY_DATE_UTC:
              type:
                - string
                - "null"
              description: >-
                The date and time of the last activity related to the opportunity
                (in
                UTC)
              format: date-time
            LINKS:
              type: array
              description: Links associated with the opportunity
              items:
                type: object
                properties:
                  DETAILS:
                    type:
                      - string
                      - "null"
                    description: Details of the link
                  IS_FORWARD:
                    type:
                      - boolean
                      - "null"
                    description: Indicates if the link is being forwarded
                  LINK_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the linked object
                  LINK_OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the linked object
                  LINK_OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the linked object
                  OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the linked object
                  OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the linked object
                  RELATIONSHIP_ID:
                    type:
                      - integer
                      - "null"
                    description: ID of the relationship
                  ROLE:
                    type:
                      - string
                      - "null"
                    description: Role of the link
            NEXT_ACTIVITY_DATE_UTC:
              type:
                - string
                - "null"
              description: The date and time of the next planned activity (in UTC)
              format: date-time
            OPPORTUNITY_DETAILS:
              type:
                - string
                - "null"
              description: Detailed information about the opportunity
            OPPORTUNITY_ID:
              type: integer
              description: The unique identifier of the opportunity
            OPPORTUNITY_NAME:
              type:
                - string
                - "null"
              description: The name of the opportunity
            OPPORTUNITY_STATE:
              type:
                - string
                - "null"
              description: The state of the opportunity
            OPPORTUNITY_VALUE:
              type:
                - number
                - "null"
              description: The value associated with the opportunity
            ORGANISATION_ID:
              type:
                - integer
                - "null"
              description: The ID of the organization associated with the opportunity
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: The ID of the user who owns the opportunity
            PIPELINE_ID:
              type:
                - integer
                - "null"
              description: The ID of the pipeline the opportunity belongs to
            PRICEBOOK_ID:
              type:
                - integer
                - "null"
              description: The ID of the price book associated with the opportunity
            PROBABILITY:
              type:
                - integer
                - "null"
              description: The probability of the opportunity being successful
            RESPONSIBLE_USER_ID:
              type:
                - integer
                - "null"
              description: The ID of the user responsible for the opportunity
            STAGE_ID:
              type:
                - integer
                - "null"
              description: The ID of the stage the opportunity is in
            TAGS:
              type: array
              description: Tags associated with the opportunity
              items:
                type: object
                properties:
                  TAG_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the tag associated with the opportunity
                required:
                  - TAG_NAME
            VISIBLE_TEAM_ID:
              type:
                - integer
                - "null"
              description: The ID of the team with visibility rights to the opportunity
            VISIBLE_TO:
              type:
                - string
                - "null"
              description: The visibility settings for the opportunity
    opportunity_categories:
      type: DeclarativeStream
      name: opportunity_categories
      primary_key:
        - CATEGORY_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /OpportunityCategories
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            ACTIVE:
              type:
                - boolean
                - "null"
              description:
                Indicates whether the opportunity category is active or
                inactive
            BACKGROUND_COLOR:
              type:
                - string
                - "null"
              description: The background color associated with the opportunity category
            CATEGORY_ID:
              type: integer
              description: The unique identifier for the opportunity category
            CATEGORY_NAME:
              type:
                - string
                - "null"
              description: The name or label of the opportunity category
          additionalProperties: true
    opportunity_state_reasons:
      type: DeclarativeStream
      name: opportunity_state_reasons
      primary_key:
        - STATE_REASON_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /OpportunityStateReasons
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            FOR_OPPORTUNITY_STATE:
              type:
                - string
                - "null"
              description:
                The particular opportunity state that the reason applies
                to.
            STATE_REASON:
              type:
                - string
                - "null"
              description: The reason associated with the opportunity state.
            STATE_REASON_ID:
              type: integer
              description: Unique identifier for the state reason.
          additionalProperties: true
    organisations:
      type: DeclarativeStream
      name: organisations
      primary_key:
        - ORGANISATION_ID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.na1.insightly.com/v3.1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['token'] }}"
            password: "{{ config['nothing'] }}"
          path: /Organisations/Search
          http_method: GET
          request_parameters:
            count_total: "True"
            updated_after_utc: "{{ stream_interval['start_date'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 403
                    action: IGNORE
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 6
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 429
                    action: RETRY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: skip
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: top
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: DATE_UPDATED_UTC
        path: /Organisations/Search
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            ADDRESS_BILLING_CITY:
              type:
                - string
                - "null"
              description: The city of the billing address of the organisation.
            ADDRESS_BILLING_COUNTRY:
              type:
                - string
                - "null"
              description: The country of the billing address of the organisation.
            ADDRESS_BILLING_POSTCODE:
              type:
                - string
                - "null"
              description: The postal code of the billing address of the organisation.
            ADDRESS_BILLING_STATE:
              type:
                - string
                - "null"
              description: The state of the billing address of the organisation.
            ADDRESS_BILLING_STREET:
              type:
                - string
                - "null"
              description: The street address of the billing address of the organisation.
            ADDRESS_SHIP_CITY:
              type:
                - string
                - "null"
              description: The city of the shipping address of the organisation.
            ADDRESS_SHIP_COUNTRY:
              type:
                - string
                - "null"
              description: The country of the shipping address of the organisation.
            ADDRESS_SHIP_POSTCODE:
              type:
                - string
                - "null"
              description: The postal code of the shipping address of the organisation.
            ADDRESS_SHIP_STATE:
              type:
                - string
                - "null"
              description: The state of the shipping address of the organisation.
            ADDRESS_SHIP_STREET:
              type:
                - string
                - "null"
              description: The street address of the shipping address of the organisation.
            BACKGROUND:
              type:
                - string
                - "null"
              description: Background information or description about the organisation.
            CREATED_USER_ID:
              type:
                - integer
                - "null"
              description: The user ID of the user who created the organisation record.
            CUSTOMFIELDS:
              type: array
              description: Custom fields associated with the organisation.
              items:
                type: object
                properties:
                  FIELD_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the custom field.
                  FIELD_VALUE:
                    type: object
                    description: The value of the custom field.
            DATES:
              type: array
              description: Important dates associated with the organisation.
              items:
                type: object
                properties:
                  CREATE_TASK_YEARLY:
                    type:
                      - boolean
                      - "null"
                    description: Flag indicating if a task is created yearly.
                  DATE_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the date record.
                  OCCASION_DATE:
                    type:
                      - string
                      - "null"
                    description: The date of a particular occasion.
                  OCCASION_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the occasion associated with the date.
                  REPEAT_YEARLY:
                    type:
                      - boolean
                      - "null"
                    description: Flag indicating if the occasion repeats yearly.
            DATE_CREATED_UTC:
              type:
                - string
                - "null"
              description: >-
                The date and time when the organisation record was created in
                Coordinated Universal Time (UTC).
              format: date-time
            DATE_UPDATED_UTC:
              type:
                - string
                - "null"
              description: >-
                The date and time when the organisation record was last updated in
                Coordinated Universal Time (UTC).
              format: date-time
            EMAILDOMAINS:
              type: array
              description: Email domains associated with the organisation.
              items:
                type: object
                properties:
                  EMAIL_DOMAIN:
                    type:
                      - string
                      - "null"
                    description:
                      The domain of an email address associated with the
                      organisation.
                  EMAIL_DOMAIN_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the email domain.
            IMAGE_URL:
              type:
                - string
                - "null"
              description: URL of the image associated with the organisation.
            LAST_ACTIVITY_DATE_UTC:
              type:
                - string
                - "null"
              description: >-
                The date and time of the last activity related to the organisation
                in
                Coordinated Universal Time (UTC).
              format: date-time
            LINKS:
              type: array
              description: Links related to the organisation.
              items:
                type: object
                properties:
                  DETAILS:
                    type:
                      - string
                      - "null"
                    description: Details of the link.
                  IS_FORWARD:
                    type:
                      - boolean
                      - "null"
                    description: Flag indicating if the link is in a forward direction.
                  LINK_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the link.
                  LINK_OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the object linked to.
                  LINK_OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description: Name of the object linked to.
                  OBJECT_ID:
                    type:
                      - integer
                      - "null"
                    description: >-
                      The ID of the organisation or entity the link is associated
                      with.
                  OBJECT_NAME:
                    type:
                      - string
                      - "null"
                    description:
                      Name of the organisation or entity the link is associated
                      with.
                  RELATIONSHIP_ID:
                    type:
                      - integer
                      - "null"
                    description: The ID of the relationship between the linked objects.
                  ROLE:
                    type:
                      - string
                      - "null"
                    description: Role of the organisation in the linked relationship.
            NEXT_ACTIVITY_DATE_UTC:
              type:
                - string
                - "null"
              description: >-
                The date and time of the next planned activity related to the
                organisation in Coordinated Universal Time (UTC).
              format: date-time
            ORGANISATION_ID:
              type: integer
              description: The unique ID of the organisation.
            ORGANISATION_NAME:
              type:
                - string
                - "null"
              description: The name of the organisation.
            OWNER_USER_ID:
              type:
                - integer
                - "null"
              description: The user ID of the owner of the organisation.
            PHONE:
              type:
                - string
                - "null"
              description: The phone number associated with the organisation.
            PHONE_FAX:
              type:
                - string
                - "null"
              description: The fax number associated with the organisation.
            SOCIAL_FACEBOOK:
              type:
                - string
                - "null"
              description: Facebook page URL associated with the organisation.
            SOCIAL_LINKEDIN:
              type:
                - string
                - "null"
              description: LinkedIn profile URL associated with the organisation.
            SOCIAL_TWITTER:
              type:
                - string
                - "null"
              description: Twitter handle associated with the organisation.
            TAGS:
              type: array
              description: Tags associated with the organisation.
              items:
                type: object
                properties:
                  TAG_NAME:
                    type:
                      - string
                      - "null"
                    description: The name of the tag.
            VISIBLE_TEAM_ID:
              type:
                - integer
                - "null"
              description: The team ID that has visibility permission for the organisation.
            VISIBLE_TO:
              type:
                - string
                - "null"
              description: Visibility level of the organisation.
            WEBSITE:
              type:
[...]
