version: 5.12.0

type: DeclarativeSource

description: >-
  RentCast is the leading rental property analytics, estimation and reporting
  software .

  This connector enables you to extract data from endpoints like Value Estimate
  , Rent Estimate , Property Records , Sale Listings and Rental Listings

check:
  type: CheckStream
  stream_names:
    - Property Records

definitions:
  streams:
    Property Records:
      type: DeclarativeStream
      name: Property Records
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: properties
          http_method: GET
          request_parameters:
            address: "{{ config['address'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Property Records"
    Property Record:
      type: DeclarativeStream
      name: Property Record
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: properties/{{ stream_partition.property_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: property_id
              stream:
                $ref: "#/definitions/streams/Property Records"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Property Record"
    Sale Listings:
      type: DeclarativeStream
      name: Sale Listings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: listings/sale
          http_method: GET
          request_parameters:
            address: "{{ config[\"address\"] }}"
            city: "{{ config['city'] }}"
            state: "{{ config['state'] }}"
            zipCode: "{{ config['zipcode'] }}"
            latitude: "{{ config['latitude'] }}"
            longitude: "{{ config['longitude'] }}"
            radius: "{{ config['radius'] }}"
            propertyType: "{{ config['property_type'] }}"
            bedrooms: "{{ config['bedrooms'] }}"
            bathrooms: "{{ config['bath_rooms'] }}"
            status: "{{ config['status'] }}"
            daysOld: "{{ config['days_old'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Sale Listings"
    Sale Listing:
      type: DeclarativeStream
      name: Sale Listing
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: listings/sale/{{ stream_partition.sale_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: sale_id
              stream:
                $ref: "#/definitions/streams/Sale Listings"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Sale Listing"
    Rental Listings:
      type: DeclarativeStream
      name: Rental Listings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: listings/rental/long-term
          http_method: GET
          request_parameters:
            address: "{{ config[\"address\"] }}"
            city: "{{ config['city'] }}"
            state: "{{ config['state'] }}"
            zipCode: "{{ config['zipcode'] }}"
            latitude: "{{ config['latitude'] }}"
            longitude: "{{ config['longitude'] }}"
            radius: "{{ config['radius'] }}"
            propertyType: "{{ config['property_type'] }}"
            bedrooms: "{{ config['bedrooms'] }}"
            bathrooms: "{{ config['bath_rooms'] }}"
            status: "{{ config['status'] }}"
            daysOld: "{{ config['days_old'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Rental Listings"
    Rental Listing:
      type: DeclarativeStream
      name: Rental Listing
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /listings/rental/long-term/{{ stream_partition.listing_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: listing_id
              stream:
                $ref: "#/definitions/streams/Rental Listings"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Rental Listing"
    Statistics:
      type: DeclarativeStream
      name: Statistics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: markets
          http_method: GET
          request_parameters:
            zipCode: "{{ config[\"zipcode\"] }}"
            dataType: "{{ config['data_type_'] }}"
            historyRange: "{{ config['history_range'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Statistics"
    Value Estimate:
      type: DeclarativeStream
      name: Value Estimate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: avm/value
          http_method: GET
          request_parameters:
            address: "{{ config[\"address\"] }}"
            latitude: "{{ config[\"latitude\"] }}"
            longitude: "{{ config[\"longitude\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Value Estimate"
    Rent Estimate:
      type: DeclarativeStream
      name: Rent Estimate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: avm/rent/long-term
          http_method: GET
          request_parameters:
            address: "{{ config[\"address\"] }}"
            latitude: "{{ config[\"latitude\"] }}"
            longitude: "{{ config[\"longitude\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Rent Estimate"
  base_requester:
    type: HttpRequester
    url_base: https://api.rentcast.io/v1/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-Api-Key
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/Property Records"
  - $ref: "#/definitions/streams/Property Record"
  - $ref: "#/definitions/streams/Sale Listings"
  - $ref: "#/definitions/streams/Sale Listing"
  - $ref: "#/definitions/streams/Rental Listings"
  - $ref: "#/definitions/streams/Rental Listing"
  - $ref: "#/definitions/streams/Statistics"
  - $ref: "#/definitions/streams/Value Estimate"
  - $ref: "#/definitions/streams/Rent Estimate"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      address:
        type: string
        description: >-
          The full address of the property, in the format of Street, City,
          State, Zip. Used to retrieve data for a specific property, or together
          with the radius parameter to search for listings in a specific area
        title: Address
        order: 1
      city:
        type: string
        description: >-
          The name of the city, used to search for listings in a specific city.
          This parameter is case-sensitive
        title: City
        order: 2
      state:
        type: string
        description: >-
          The 2-character state abbreviation, used to search for listings in a
          specific state. This parameter is case-sensitive
        title: State
        order: 3
      zipcode:
        type: string
        description: >-
          The 5-digit zip code, used to search for listings in a specific zip
          code
        title: Zip Code
        order: 4
      latitude:
        type: string
        description: >-
          The latitude of the search area. Use the latitude/longitude and radius
          parameters to search for listings in a specific area
        title: Latitude
        order: 5
      longitude:
        type: string
        description: >-
          The longitude of the search area. Use the latitude/longitude and
          radius parameters to search for listings in a specific area
        title: Longitude
        order: 6
      radius:
        type: string
        description: >-
          The radius of the search area in miles, with a maximum of 100. Use in
          combination with the latitude/longitude or address parameters to
          search for listings in a specific area
        title: Radius
        order: 7
      property_type:
        type: string
        description: >-
          The type of the property, used to search for listings matching this
          criteria : Single Family , Condo , Townhouse , Manufactured , 
          Multi-Family , Apartment , Land ,
        title: Property Type
        order: 8
      bedrooms:
        type: number
        description: >-
          The number of bedrooms, used to search for listings matching this
          criteria. Use 0 to indicate a studio layout
        title: Bedrooms
        order: 9
      bath_rooms:
        type: integer
        description: >-
          The number of bathrooms, used to search for listings matching this
          criteria. Supports fractions to indicate partial bathrooms
        title: Bath Rooms
        order: 10
      status:
        type: string
        description: >-
          The current listing status, used to search for listings matching this
          criteria : Active or Inactive
        title: Status
        order: 11
      days_old:
        type: string
        description: >-
          The maximum number of days since a property was listed on the market,
          with a minimum of 1
        title: Days Old
        order: 12
      data_type_:
        type: string
        description: >-
          The type of aggregate market data to return. Defaults to "All" if not
          provided : All , Sale , Rental
        title: "Data Type "
        order: 13
      history_range:
        type: string
        description: >-
          The time range for historical record entries, in months. Defaults to
          12 if not provided
        title: History Range
        order: 14
    additionalProperties: true

metadata:
  autoImportSchema:
    Property Records: true
    Property Record: true
    Sale Listings: true
    Sale Listing: true
    Rental Listings: true
    Rental Listing: true
    Statistics: true
    Value Estimate: true
    Rent Estimate: true
  testedStreams:
    Property Records:
      streamHash: 672d9a787dcf741876044f96b850c9d8110def4a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Property Record:
      streamHash: 03666a34a2ef2902e595b17ce8aae973a61623ad
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Sale Listings:
      streamHash: e8543f0de0a434a867490d9d275682142cca9859
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Sale Listing:
      streamHash: a669b278bf7a124674ee0a2045cd9a071e9cbb02
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Rental Listings:
      streamHash: 9495a0b058a8a73defee3a229917b99266a7647b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Rental Listing:
      streamHash: de05565efddf21d4a16465b7c4d2ce79f856384f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Statistics:
      streamHash: 07bf5886dcb79ad4940e8ed9870a35645f9adc66
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Value Estimate:
      streamHash: 6b6a351d89f4ce5c58cec077e49466438356006e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Rent Estimate:
      streamHash: 328e8b7ce48e95d93d91565d64b24a41b7e85504
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Property Records:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      addressLine1:
        type:
          - string
          - "null"
      addressLine2:
        type:
          - string
          - "null"
      assessorID:
        type:
          - string
          - "null"
      bathrooms:
        type:
          - number
          - "null"
      bedrooms:
        type:
          - number
          - "null"
      city:
        type:
          - string
          - "null"
      county:
        type:
          - string
          - "null"
      features:
        type:
          - object
          - "null"
        properties:
          architectureType:
            type:
              - string
              - "null"
          cooling:
            type:
              - boolean
              - "null"
          coolingType:
            type:
              - string
              - "null"
          exteriorType:
            type:
              - string
              - "null"
          fireplace:
            type:
              - boolean
              - "null"
          fireplaceType:
            type:
              - string
              - "null"
          floorCount:
            type:
              - number
              - "null"
          foundationType:
            type:
              - string
              - "null"
          garage:
            type:
              - boolean
              - "null"
          garageSpaces:
            type:
              - number
              - "null"
          garageType:
            type:
              - string
              - "null"
          heating:
            type:
              - boolean
              - "null"
          heatingType:
            type:
              - string
              - "null"
          pool:
            type:
              - boolean
              - "null"
          poolType:
            type:
              - string
              - "null"
          roofType:
            type:
              - string
              - "null"
          roomCount:
            type:
              - number
              - "null"
          unitCount:
            type:
              - number
              - "null"
      formattedAddress:
        type:
          - string
          - "null"
      history:
        type:
          - object
          - "null"
        properties:
          "1973-03-14":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1985-05-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1988-09-09":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1988-09-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1990-09-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1990-12-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1991-04-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1991-08-26":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1992-02-04":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1992-09-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1992-12-09":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1993-03-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1993-05-25":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1994-04-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1994-04-14":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1994-04-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1994-04-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1994-05-18":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1994-05-26":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1994-10-04":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1994-10-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1995-08-09":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1996-02-16":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1996-03-25":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1996-03-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1996-05-09":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1997-03-19":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1997-03-24":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1997-03-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1997-07-03":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "1997-11-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1998-03-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1998-03-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1998-09-17":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1998-10-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1998-12-03":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1999-04-26":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1999-06-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1999-07-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "1999-08-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "1999-10-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2000-06-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2000-06-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2000-08-18":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2000-09-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2000-11-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2001-01-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2001-03-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2001-03-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2001-05-03":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2001-07-19":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2002-03-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2002-04-08":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2002-05-16":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2002-06-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2002-06-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2002-10-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2002-10-03":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-01-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-02-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-02-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-05-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-06-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-07-17":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-08-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-10-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-11-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2003-12-22":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-02-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-02-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-04-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-04-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-05-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-05-24":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-06-25":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-08-04":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-10-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2004-12-16":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-01-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-03-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-04-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-04-25":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-05-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-05-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-06-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-06-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-06-24":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-07-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-08-24":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-09-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-11-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2005-12-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-03-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-03-22":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-04-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-04-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-05-19":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-06-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-06-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-07-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-07-19":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-07-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-09-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-12-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2006-12-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-02-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-05-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-05-03":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-05-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-06-04":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-06-25":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-07-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-07-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-09-04":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-09-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-10-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-10-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-12-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-12-26":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-12-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2007-12-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-01-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-02-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-02-26":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-03-03":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-03-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-05-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-06-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-07-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-08-22":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-08-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-09-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-10-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-10-16":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-11-24":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-11-25":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-12-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-12-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2008-12-18":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2009-01-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2009-02-17":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2009-03-31":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2009-08-14":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2009-10-16":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2009-11-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2009-12-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-07-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-08-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-09-10":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-11-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-11-19":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-12-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-12-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-12-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2010-12-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-02-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-02-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-03-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-03-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-06-16":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-06-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-09-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-09-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2011-09-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-10-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-10-12":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-10-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-12-14":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-12-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2011-12-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-03-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-03-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-04-24":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-06-08":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-06-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-07-09":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-08-24":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-08-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-12-18":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2012-12-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2013-05-31":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2013-08-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2013-09-24":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2013-10-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2013-11-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2013-12-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2013-12-04":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2013-12-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2014-07-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2014-09-03":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2014-09-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2014-09-15":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2014-11-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2014-12-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2015-01-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2015-01-26":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2015-03-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2015-04-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2015-10-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2015-11-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2015-11-17":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2015-12-22":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2015-12-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2016-01-19":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-03-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-05-17":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-06-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-06-14":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-07-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-08-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-09-23":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-09-28":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2016-12-22":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2017-03-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2017-03-27":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2017-05-18":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2017-11-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2017-11-16":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2017-11-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2017-12-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2018-01-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-01-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-02-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-03-09":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-04-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-04-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2018-05-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-06-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-07-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-07-12":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-07-26":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-07-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-08-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2018-09-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-09-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-10-18":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-11-08":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-11-09":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2018-11-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-12-03":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-12-04":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-12-18":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2018-12-31":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-01-29":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-03-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-03-20":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-04-17":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-05-01":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-05-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-05-09":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-06-07":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-07-05":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-07-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-08-30":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2019-09-11":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2019-09-16":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-09-18":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2019-10-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-10-22":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-11-21":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2019-12-02":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-12-06":
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              event:
                type:
                  - string
                  - "null"
          "2019-12-13":
            type:
              - object
              - "null"
            properties:
              date:
                type:
[...]
