version: 5.12.0

type: DeclarativeSource

description: >-
  RentCast is the leading rental property analytics, estimation and reporting
  software .

  This connector enables you to extract data from endpoints like Value Estimate
  , Rent Estimate , Property Records , Sale Listings and Rental Listings

  Docs : https://developers.rentcast.io/reference/introduction

check:
  type: CheckStream
  stream_names:
    - Property Records

definitions:
  streams:
    Property Records:
      type: DeclarativeStream
      name: Property Records
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: properties
          http_method: GET
          request_parameters:
            city: "{{ config['city'] }}"
            state: "{{ config['state'] }}"
            radius: "{{ config['radius'] }}"
            status: "{{ config['status'] }}"
            address: "{{ config[\"address\"] }}"
            daysOld: "{{ config['days_old'] }}"
            zipCode: "{{ config['zipcode'] }}"
            bedrooms: "{{ config['bedrooms'] }}"
            latitude: "{{ config['latitude'] }}"
            bathrooms: "{{ config['bath_rooms'] }}"
            longitude: "{{ config['longitude'] }}"
            propertyType: "{{ config['property_type'] }}"
            saleDateRange: "{{ config[\"days_old\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Property Records"
    Sale Listings:
      type: DeclarativeStream
      name: Sale Listings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: listings/sale
          http_method: GET
          request_parameters:
            city: "{{ config['city'] }}"
            state: "{{ config['state'] }}"
            radius: "{{ config['radius'] }}"
            status: "{{ config['status'] }}"
            address: "{{ config[\"address\"] }}"
            daysOld: "{{ config['days_old'] }}"
            zipCode: "{{ config['zipcode'] }}"
            bedrooms: "{{ config['bedrooms'] }}"
            latitude: "{{ config['latitude'] }}"
            bathrooms: "{{ config['bath_rooms'] }}"
            longitude: "{{ config['longitude'] }}"
            propertyType: "{{ config['property_type'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Sale Listings"
    Rental Listings:
      type: DeclarativeStream
      name: Rental Listings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: listings/rental/long-term
          http_method: GET
          request_parameters:
            city: "{{ config['city'] }}"
            state: "{{ config['state'] }}"
            radius: "{{ config['radius'] }}"
            status: "{{ config['status'] }}"
            address: "{{ config[\"address\"] }}"
            daysOld: "{{ config['days_old'] }}"
            zipCode: "{{ config['zipcode'] }}"
            bedrooms: "{{ config['bedrooms'] }}"
            latitude: "{{ config['latitude'] }}"
            bathrooms: "{{ config['bath_rooms'] }}"
            longitude: "{{ config['longitude'] }}"
            propertyType: "{{ config['property_type'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    error_message_contains: >-
                      The required query parameters 'address' or
                      'latitude'/'longitude' were not provided
                    http_codes:
                      - 400
                    error_message: Please provide a zipcode
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Rental Listings"
    Statistics:
      type: DeclarativeStream
      name: Statistics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: markets
          http_method: GET
          request_parameters:
            zipCode: "{{ config[\"zipcode\"] }}"
            dataType: "{{ config['data_type_'] }}"
            historyRange: "{{ config['history_range'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    error_message_contains: >-
                      The required query parameters 'address' or
                      'latitude'/'longitude' were not provided
                    http_codes:
                      - 400
                    error_message: Please provide a zipcode
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Statistics"
    Value Estimate:
      type: DeclarativeStream
      name: Value Estimate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: avm/value
          http_method: GET
          request_parameters:
            address: "{{ config[\"address\"] }}"
            latitude: "{{ config[\"latitude\"] }}"
            longitude: "{{ config[\"longitude\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    error_message_contains: >-
                      The required query parameters 'address' or
                      'latitude'/'longitude' were not provided
                    http_codes:
                      - 400
                    error_message: >-
                      Please provide either an address or a latitude and
                      longitude.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Value Estimate"
    Rent Estimate:
      type: DeclarativeStream
      name: Rent Estimate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: avm/rent/long-term
          http_method: GET
          request_parameters:
            address: "{{ config[\"address\"] }}"
            latitude: "{{ config[\"latitude\"] }}"
            longitude: "{{ config[\"longitude\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    error_message_contains: >-
                      The required query parameters 'address' or
                      'latitude'/'longitude' were not provided
                    http_codes:
                      - 400
                    error_message: >-
                      Please provide either an address or a latitude and
                      longitude.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Rent Estimate"
  base_requester:
    type: HttpRequester
    url_base: https://api.rentcast.io/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-Api-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/Property Records"
  - $ref: "#/definitions/streams/Sale Listings"
  - $ref: "#/definitions/streams/Rental Listings"
  - $ref: "#/definitions/streams/Statistics"
  - $ref: "#/definitions/streams/Value Estimate"
  - $ref: "#/definitions/streams/Rent Estimate"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      address:
        type: string
        description: >-
          The full address of the property, in the format of Street, City,
          State, Zip. Used to retrieve data for a specific property, or together
          with the radius parameter to search for listings in a specific area
        order: 1
        title: Address
      city:
        type: string
        description: >-
          The name of the city, used to search for listings in a specific city.
          This parameter is case-sensitive
        order: 2
        title: City
      state:
        type: string
        description: >-
          The 2-character state abbreviation, used to search for listings in a
          specific state. This parameter is case-sensitive
        order: 3
        title: State
      zipcode:
        type: string
        description: >-
          The 5-digit zip code, used to search for listings in a specific zip
          code
        order: 4
        title: Zip Code
      latitude:
        type: string
        description: >-
          The latitude of the search area. Use the latitude/longitude and radius
          parameters to search for listings in a specific area
        order: 5
        title: Latitude
      longitude:
        type: string
        description: >-
          The longitude of the search area. Use the latitude/longitude and
          radius parameters to search for listings in a specific area
        order: 6
        title: Longitude
      radius:
        type: string
        description: >-
          The radius of the search area in miles, with a maximum of 100. Use in
          combination with the latitude/longitude or address parameters to
          search for listings in a specific area
        order: 7
        title: Radius
      property_type:
        type: string
        description: >-
          The type of the property, used to search for listings matching this
          criteria : Single Family , Condo , Townhouse , Manufactured , 
          Multi-Family , Apartment , Land ,
        order: 8
        title: Property Type
      bedrooms:
        type: number
        description: >-
          The number of bedrooms, used to search for listings matching this
          criteria. Use 0 to indicate a studio layout
        order: 9
        title: Bedrooms
      bath_rooms:
        type: integer
        description: >-
          The number of bathrooms, used to search for listings matching this
          criteria. Supports fractions to indicate partial bathrooms
        order: 10
        title: Bath Rooms
      status:
        type: string
        description: >-
          The current listing status, used to search for listings matching this
          criteria : Active or Inactive
        order: 11
        title: Status
      days_old:
        type: string
        description: >-
          The maximum number of days since a property was listed on the market,
          with a minimum of 1 or The maximum number of days since a property was
          last sold, with a minimum of 1. Used to search for properties that
          were sold within the specified date range
        order: 12
        title: Days Old
      data_type_:
        type: string
        description: >-
          The type of aggregate market data to return. Defaults to "All" if not
          provided : All , Sale , Rental
        order: 13
        title: "Data Type "
      history_range:
        type: string
        description: >-
          The time range for historical record entries, in months. Defaults to
          12 if not provided
        order: 14
        title: History Range
    additionalProperties: true

metadata:
  autoImportSchema:
    Property Records: true
    Sale Listings: true
    Rental Listings: true
    Statistics: true
    Value Estimate: true
    Rent Estimate: true
  testedStreams:
    Property Records:
      streamHash: e1298090831492085ac8f43485189f209221452b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Sale Listings:
      streamHash: 76ae0f53d8e81cb915d98f47b0b83fba538c9cfe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Rental Listings:
      streamHash: 58c16e2c77ec533828ea7bcb6c488669cae737ce
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Statistics:
      streamHash: c27bb70bcd4b3c8aad3ec6bce3d2f8ade6d2f313
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Value Estimate:
      streamHash: 9420ded5120dcadb56850bf225754f8174fb734d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Rent Estimate:
      streamHash: c7b7c969af485d657dc6ae58c5ce5ef819c968d1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Property Records:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      addressLine1:
        type:
          - string
          - "null"
      addressLine2:
        type:
          - string
          - "null"
      assessorID:
        type:
          - string
          - "null"
      bathrooms:
        type:
          - number
          - "null"
      bedrooms:
        type:
          - number
          - "null"
      city:
        type:
          - string
          - "null"
      county:
        type:
          - string
          - "null"
      features:
        type:
          - object
          - "null"
        properties:
          architectureType:
            type:
              - string
              - "null"
          cooling:
            type:
              - boolean
              - "null"
          coolingType:
            type:
              - string
              - "null"
          exteriorType:
            type:
              - string
              - "null"
          fireplace:
            type:
              - boolean
              - "null"
          fireplaceType:
            type:
              - string
              - "null"
          floorCount:
            type:
              - number
              - "null"
          foundationType:
            type:
              - string
              - "null"
          garage:
            type:
              - boolean
              - "null"
          garageSpaces:
            type:
              - number
              - "null"
          garageType:
            type:
              - string
              - "null"
          heating:
            type:
              - boolean
              - "null"
          heatingType:
            type:
              - string
              - "null"
          pool:
            type:
              - boolean
              - "null"
          poolType:
            type:
              - string
              - "null"
          roofType:
            type:
              - string
              - "null"
          roomCount:
            type:
              - number
              - "null"
          unitCount:
            type:
              - number
              - "null"
          viewType:
            type:
              - string
              - "null"
      formattedAddress:
        type:
          - string
          - "null"
      id:
        type: string
      latitude:
        type:
          - number
          - "null"
      legalDescription:
        type:
          - string
          - "null"
      longitude:
        type:
          - number
          - "null"
      lotSize:
        type:
          - number
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          mailingAddress:
            type:
              - object
              - "null"
            properties:
              addressLine1:
                type:
                  - string
                  - "null"
              addressLine2:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              formattedAddress:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              zipCode:
                type:
                  - string
                  - "null"
          names:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      ownerOccupied:
        type:
          - boolean
          - "null"
      propertyTaxes:
        type:
          - object
          - "null"
        properties:
          "2016":
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2017":
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2018":
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2019":
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2020":
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2021":
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2022":
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2023":
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
      propertyType:
        type:
          - string
          - "null"
      squareFootage:
        type:
          - number
          - "null"
      state:
        type:
          - string
          - "null"
      subdivision:
        type:
          - string
          - "null"
      taxAssessments:
        type:
          - object
          - "null"
        properties:
          "2010":
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2016":
            type:
              - object
              - "null"
            properties:
              improvements:
                type:
                  - number
                  - "null"
              land:
                type:
                  - number
                  - "null"
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2017":
            type:
              - object
              - "null"
            properties:
              improvements:
                type:
                  - number
                  - "null"
              land:
                type:
                  - number
                  - "null"
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2018":
            type:
              - object
              - "null"
            properties:
              improvements:
                type:
                  - number
                  - "null"
              land:
                type:
                  - number
                  - "null"
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2019":
            type:
              - object
              - "null"
            properties:
              improvements:
                type:
                  - number
                  - "null"
              land:
                type:
                  - number
                  - "null"
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2020":
            type:
              - object
              - "null"
            properties:
              improvements:
                type:
                  - number
                  - "null"
              land:
                type:
                  - number
                  - "null"
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2021":
            type:
              - object
              - "null"
            properties:
              improvements:
                type:
                  - number
                  - "null"
              land:
                type:
                  - number
                  - "null"
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2022":
            type:
              - object
              - "null"
            properties:
              improvements:
                type:
                  - number
                  - "null"
              land:
                type:
                  - number
                  - "null"
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
          "2023":
            type:
              - object
              - "null"
            properties:
              improvements:
                type:
                  - number
                  - "null"
              land:
                type:
                  - number
                  - "null"
              value:
                type:
                  - number
                  - "null"
              year:
                type:
                  - number
                  - "null"
      yearBuilt:
        type:
          - number
          - "null"
      zipCode:
        type:
          - string
          - "null"
      zoning:
        type:
          - string
          - "null"
    required:
      - id
  Sale Listings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      addressLine1:
        type:
          - string
          - "null"
      addressLine2:
        type:
          - string
          - "null"
      bathrooms:
        type:
          - number
          - "null"
      bedrooms:
        type:
          - number
          - "null"
      builder:
        type:
          - object
          - "null"
        properties:
          development:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
      city:
        type:
          - string
          - "null"
      county:
        type:
          - string
          - "null"
      createdDate:
        type:
          - string
          - "null"
      daysOnMarket:
        type:
          - number
          - "null"
      formattedAddress:
        type:
          - string
          - "null"
      history:
        type:
          - object
          - "null"
        properties:
          "2021-06-21":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2023-10-09":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2023-11-02":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2023-11-29":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2023-12-05":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2023-12-07":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-01-09":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-01-23":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-02-07":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-02-25":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-03-06":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-03-09":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-03-27":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-03-28":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-04-11":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-04-19":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-04-26":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-05-09":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-05-10":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-05-12":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-05-13":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-05-17":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-05-22":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-05-23":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-05-25":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-05-31":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-06-10":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-06-11":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-06-16":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-06-17":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-06-23":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-06-24":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-06-26":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-06-30":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-07-02":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-07-03":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-08":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-09":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-10":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-15":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-17":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-19":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-22":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-24":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-07-25":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-27":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-07":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-08-08":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-10":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-08-11":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-14":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-15":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-16":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-17":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-19":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-08-21":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-22":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-23":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-08-26":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-08-27":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-08-28":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-08-29":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-08-30":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-08-31":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-03":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-04":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-05":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-09-06":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-08":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-09":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-09-10":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-11":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-12":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-09-13":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-14":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-16":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-17":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-09-18":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-09-19":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-20":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-21":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-23":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-24":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-09-25":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-26":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-09-27":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-09-29":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-10-01":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-10-03":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-04":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-10-07":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-10":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-11":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-12":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-13":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-14":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-15":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-16":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-17":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-10-18":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
      hoa:
        type:
          - object
          - "null"
        properties:
          fee:
            type:
              - number
              - "null"
      id:
        type: string
      lastSeenDate:
        type:
          - string
          - "null"
      latitude:
        type:
          - number
          - "null"
      listedDate:
        type:
          - string
          - "null"
      listingAgent:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          website:
            type:
              - string
              - "null"
      listingOffice:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          website:
            type:
              - string
              - "null"
      listingType:
        type:
          - string
          - "null"
      longitude:
        type:
          - number
          - "null"
      lotSize:
        type:
          - number
          - "null"
      mlsName:
        type:
          - string
          - "null"
      mlsNumber:
        type:
          - string
          - "null"
      price:
        type:
          - number
          - "null"
      propertyType:
        type:
          - string
          - "null"
      removedDate:
        type:
          - string
          - "null"
      squareFootage:
        type:
          - number
          - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      yearBuilt:
        type:
          - number
          - "null"
      zipCode:
        type:
          - string
          - "null"
    required:
      - id
  Rental Listings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      addressLine1:
        type:
          - string
          - "null"
      addressLine2:
        type:
          - string
          - "null"
      bathrooms:
        type:
          - number
          - "null"
      bedrooms:
        type:
          - number
          - "null"
      city:
        type:
          - string
          - "null"
      county:
        type:
          - string
          - "null"
      createdDate:
        type:
          - string
          - "null"
      daysOnMarket:
        type:
          - number
          - "null"
      formattedAddress:
        type:
          - string
          - "null"
      history:
        type:
          - object
          - "null"
        properties:
          "2022-05-23":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2023-04-12":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2023-09-13":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2023-12-16":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-05-02":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-06-13":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              removedDate:
                type:
                  - string
                  - "null"
          "2024-07-21":
            type:
              - object
              - "null"
            properties:
              daysOnMarket:
                type:
                  - number
                  - "null"
              event:
                type:
                  - string
                  - "null"
              listedDate:
                type:
                  - string
                  - "null"
              listingType:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
          "2024-07-31":
            type:
              - object
              - "null"
[...]
