version: 6.60.0

type: DeclarativeSource

description: Aircall

check:
  type: CheckStream
  stream_names:
    - calls
    - company
    - contacts
    - numbers
    - tags
    - user_availability
    - users
    - teams
    - webhooks

definitions:
  linked:
    HttpRequester:
      url_base: https://api.aircall.io/v1
      authenticator:
        type: BasicHttpAuthenticator
        password: "{{ config[\"api_token\"] }}"
        username: "{{ config[\"api_id\"] }}"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 50
    DeclarativeStream:
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1M
        cursor_field: created_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        lookback_window: P31D
        cursor_granularity: PT0.000001S
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"

streams:
  - type: DeclarativeStream
    name: calls
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /calls
        http_method: GET
        request_parameters:
          from: "{{ stream_interval.start_time | string }}"
          to: "{{ stream_interval.end_time | string }}"
          fetch_contact: "true"
          order: desc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - calls
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: started_at
      datetime_format: "%s"
      cursor_granularity: PT1S
      step: P7D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ (now_utc() - duration('P30D')).strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Calls Schema
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - number
          cost:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - number
                name:
                  type:
                    - "null"
                    - string
                tagged_by:
                  type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - number
                    name:
                      type:
                        - "null"
                        - string
                    email:
                      type:
                        - "null"
                        - string
                    available:
                      type:
                        - "null"
                        - boolean
                    created_at:
                      type:
                        - "null"
                        - string
                    direct_link:
                      type:
                        - "null"
                        - string
                    availability_status:
                      type:
                        - "null"
                        - string
                created_at:
                  type:
                    - "null"
                    - number
          user:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - number
              name:
                type:
                  - "null"
                  - string
              email:
                type:
                  - "null"
                  - string
              language:
                type:
                  - "null"
                  - string
              available:
                type:
                  - "null"
                  - boolean
              time_zone:
                type:
                  - "null"
                  - string
              created_at:
                type:
                  - "null"
                  - string
              direct_link:
                type:
                  - "null"
                  - string
              availability_status:
                type:
                  - "null"
                  - string
          asset:
            type:
              - "null"
              - string
          teams:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - number
                name:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                direct_link:
                  type:
                    - "null"
                    - string
          number:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - number
              name:
                type:
                  - "null"
                  - string
              open:
                type:
                  - "null"
                  - boolean
              digits:
                type:
                  - "null"
                  - string
              is_ivr:
                type:
                  - "null"
                  - boolean
              country:
                type:
                  - "null"
                  - string
              priority:
                type:
                  - "null"
                  - string
              time_zone:
                type:
                  - "null"
                  - string
              created_at:
                type:
                  - "null"
                  - string
              direct_link:
                type:
                  - "null"
                  - string
              availability_status:
                type:
                  - "null"
                  - string
              live_recording_activated:
                type:
                  - "null"
                  - boolean
          status:
            type:
              - "null"
              - string
          contact:
            type:
              - "null"
              - string
          archived:
            type:
              - "null"
              - boolean
          comments:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - number
                content:
                  type:
                    - "null"
                    - string
                posted_at:
                  type:
                    - "null"
                    - number
                posted_by:
                  type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - number
                    name:
                      type:
                        - "null"
                        - string
                    email:
                      type:
                        - "null"
                        - string
                    available:
                      type:
                        - "null"
                        - boolean
                    created_at:
                      type:
                        - "null"
                        - string
                    direct_link:
                      type:
                        - "null"
                        - string
                    availability_status:
                      type:
                        - "null"
                        - string
          duration:
            type:
              - "null"
              - number
          ended_at:
            type:
              - "null"
              - number
          direction:
            type:
              - "null"
              - string
          recording:
            type:
              - "null"
              - string
          voicemail:
            type:
              - "null"
              - string
          raw_digits:
            type:
              - "null"
              - string
          started_at:
            type:
              - "null"
              - number
          answered_at:
            type:
              - "null"
              - number
          assigned_to:
            type:
              - "null"
              - string
          direct_link:
            type:
              - "null"
              - string
          pricing_type:
            type:
              - "null"
              - string
          transferred_by:
            type:
              - "null"
              - string
          transferred_to:
            type:
              - "null"
              - string
          country_code_a2:
            type:
              - "null"
              - string
          missed_call_reason:
            type:
              - "null"
              - string
        additionalProperties: true
  - type: DeclarativeStream
    name: company
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        path: /company
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - company
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Company schema
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          name:
            type:
              - "null"
              - string
          users_count:
            type:
              - "null"
              - number
          numbers_count:
            type:
              - "null"
              - number
        additionalProperties: true
  - type: DeclarativeStream
    name: contacts
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        path: /contacts
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - contacts
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Contacts Schema
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - number
          emails:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - number
                label:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - string
          is_shared:
            type:
              - "null"
              - boolean
          last_name:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - number
          first_name:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - number
          direct_link:
            type:
              - "null"
              - string
          information:
            type:
              - "null"
              - string
          company_name:
            type:
              - "null"
              - string
          phone_numbers:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - number
                label:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - string
        additionalProperties: true
  - type: DeclarativeStream
    name: numbers
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        path: /numbers
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - numbers
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Numbers Schema
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          open:
            type:
              - "null"
              - boolean
          email:
            type:
              - "null"
              - string
          digits:
            type:
              - "null"
              - string
          is_ivr:
            type:
              - "null"
              - boolean
          country:
            type:
              - "null"
              - string
          language:
            type:
              - "null"
              - string
          messages:
            type:
              - "null"
              - object
            properties:
              ivr:
                type:
                  - "null"
                  - string
              closed:
                type:
                  - "null"
                  - string
              waiting:
                type:
                  - "null"
                  - string
              welcome:
                type:
                  - "null"
                  - string
              voicemail:
                type:
                  - "null"
                  - string
              after_hours:
                type:
                  - "null"
                  - string
              ringing_tone:
                type:
                  - "null"
                  - string
              callback_later:
                type:
                  - "null"
                  - string
              unanswered_call:
                type:
                  - "null"
                  - string
          priority:
            type:
              - "null"
              - string
          available:
            type:
              - "null"
              - boolean
          time_zone:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
            format: date-time
          direct_link:
            type:
              - "null"
              - string
          wrap_up_time:
            type:
              - "null"
              - number
          availability_status:
            type:
              - "null"
              - string
          live_recording_activated:
            type:
              - "null"
              - boolean
        additionalProperties: true
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
  - type: DeclarativeStream
    name: tags
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        path: /tags
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - tags
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Tags Schema
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          color:
            type:
              - "null"
              - string
        additionalProperties: true
  - type: DeclarativeStream
    name: user_availability
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        path: /users/availabilities
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties: {}
        additionalProperties: true
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        path: /users
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Users
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          language:
            type:
              - "null"
              - string
          available:
            type:
              - "null"
              - boolean
          time_zone:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          direct_link:
            type:
              - "null"
              - string
          wrap_up_time:
            type:
              - "null"
              - number
          availability_status:
            type:
              - "null"
              - string
        additionalProperties: true
  - type: DeclarativeStream
    name: teams
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        path: /teams
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - teams
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Teams
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          users:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - number
                name:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                time_zone:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                direct_link:
                  type:
                    - "null"
                    - string
          created_at:
            type:
              - "null"
              - string
            format: date-time
          direct_link:
            type:
              - "null"
              - string
        additionalProperties: true
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
  - type: DeclarativeStream
    name: webhooks
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        path: /webhooks
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - webhooks
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Webhooks Schema
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - number
          url:
            type:
              - "null"
              - string
          token:
            type:
              - "null"
              - string
          active:
            type:
              - "null"
              - boolean
          events:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          created_at:
            type:
              - "null"
              - string
            format: date-time
          direct_link:
            type:
              - "null"
              - string
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_id
      - api_token
      - start_date
    properties:
      api_id:
        type: string
        description: >-
          App ID found at settings
          https://dashboard.aircall.io/integrations/api-keys
        order: 0
        title: API ID
        airbyte_secret: true
      api_token:
        type: string
        description: >-
          App token found at settings (Ref-
          https://dashboard.aircall.io/integrations/api-keys)
        order: 1
        title: API Token
        airbyte_secret: true
      start_date:
        type: string
        description: >-
          Date time filter for incremental filter, Specify which date to extract
          from.
        order: 2
        title: Date-From Filter
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$
        examples:
          - "2022-03-01T00:00:00.000Z"
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    tags:
      streamHash: 5a4c59df80b6f85b731be21d0d34dabbd512b7fe
    calls:
      isStale: true
      streamHash: 53e84800d5046177131e5fd3c8ff7b2e05447159
    teams:
      streamHash: e4909844f85cd9c834c1058f10361dd0b2c6b659
    users:
      streamHash: ccb6ecca38fa86b8c3e2b9d5d8989285e6a506f9
    company:
      streamHash: bd83844e87a17e241721c3a48f9c9e1f5f549b82
    numbers:
      streamHash: d5fe40da1be9403db22ba259d896570387be3ee6
    contacts:
      streamHash: 4738a1490416df5bac20713d19efcb37d3f68698
    webhooks:
      streamHash: 867003a988ce70bba2f9ee42f38abe3e2c85a158
    user_availability:
      streamHash: 520950e48ab60fd01cc1d3c0f046279a272be4e7
  autoImportSchema:
    tags: false
    calls: false
    teams: false
    users: false
    company: false
    numbers: false
    contacts: false
    webhooks: false
    user_availability: false
