version: 6.33.4

type: DeclarativeSource

description: >-
  Custom Airbyte Connector for Aircall -- does pagination & incremental loads
  for calls and contacts and full loads for other smaller tables

check:
  type: CheckStream
  stream_names:
    - calls
    - company
    - contacts
    - numbers
    - tags
    - user_availability
    - users
    - teams
    - webhooks

definitions:
  streams:
    tags:
      type: DeclarativeStream
      name: tags
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        requester:
          $ref: "#/definitions/base_requester"
          path: /tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tags
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    calls:
      type: DeclarativeStream
      name: calls
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1W
        cursor_field: started_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        lookback_window: P0D
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        cursor_granularity: PT1S
        cursor_datetime_formats:
          - "%s"
    teams:
      type: DeclarativeStream
      name: teams
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    company:
      type: DeclarativeStream
      name: company
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /company
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - company
      primary_key:
        - name
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/company"
    numbers:
      type: DeclarativeStream
      name: numbers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 500
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /numbers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - numbers
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/numbers"
    contacts:
      type: DeclarativeStream
      name: contacts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1W
        cursor_field: created_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        lookback_window: P0D
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        cursor_granularity: PT1S
        cursor_datetime_formats:
          - "%s"
    webhooks:
      type: DeclarativeStream
      name: webhooks
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhooks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - webhooks
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhooks"
    user_availability:
      type: DeclarativeStream
      name: user_availability
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users/availabilities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_availability"
  base_requester:
    type: HttpRequester
    url_base: https://api.aircall.io/v1
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"api_token\"] }}"
      username: "{{ config[\"api_id\"] }}"

streams:
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/company"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/numbers"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/user_availability"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/webhooks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_id
      - api_token
      - start_date
    properties:
      api_id:
        type: string
        description: >-
          App ID found at settings
          https://dashboard.aircall.io/integrations/api-keys
        order: 0
        title: API ID
        airbyte_secret: true
      api_token:
        type: string
        description: >-
          App token found at settings (Ref-
          https://dashboard.aircall.io/integrations/api-keys)
        order: 1
        title: API Token
        airbyte_secret: true
      start_date:
        type: string
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    tags:
      streamHash: a701a28381004cae3adf02244549138dcfb6c0d9
    calls:
      hasRecords: true
      streamHash: 09282fdec77d127101f5b8d863da37c57c3e68bf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    teams:
      hasRecords: true
      streamHash: 400b65e0504d571a570c399606f028ffb15e70f2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      streamHash: 4a85255ed023c633b9077e9a3893204bb2c63c0b
    company:
      hasRecords: true
      streamHash: 7714476a44d927de4baadb4506799c0ef8650d2f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    numbers:
      hasRecords: true
      streamHash: ff4d2045ede1e326e05f7cb4f0fb78611d9923bd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      hasRecords: true
      streamHash: 5c57aba0f50094c5803e9b3bb3736143efdae600
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    webhooks:
      streamHash: 5de6ec8bb50b5fa092f1998293b0de3fbb63d11f
    user_availability:
      hasRecords: true
      streamHash: bfc6d18e287f21d5ace14b13cb85afa4e90eac03
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    tags: false
    calls: false
    teams: false
    users: false
    company: false
    numbers: false
    contacts: false
    webhooks: false
    user_availability: false

schemas:
  tags:
    type: object
    title: Tags Schema
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      color:
        type:
          - "null"
          - string
    additionalProperties: true
  calls:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - started_at
    properties:
      id:
        type: number
      sid:
        type:
          - string
          - "null"
      cost:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            created_at:
              type:
                - number
                - "null"
      user:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          available:
            type:
              - boolean
              - "null"
          extension:
            type:
              - string
              - "null"
          time_zone:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          direct_link:
            type:
              - string
              - "null"
          wrap_up_time:
            type:
              - number
              - "null"
          availability_status:
            type:
              - string
              - "null"
      asset:
        type:
          - string
          - "null"
      teams:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            direct_link:
              type:
                - string
                - "null"
      number:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          open:
            type:
              - boolean
              - "null"
          digits:
            type:
              - string
              - "null"
          is_ivr:
            type:
              - boolean
              - "null"
          country:
            type:
              - string
              - "null"
          messages:
            type:
              - object
              - "null"
            properties:
              ivr:
                type:
                  - string
                  - "null"
              closed:
                type:
                  - string
                  - "null"
              waiting:
                type:
                  - string
                  - "null"
              welcome:
                type:
                  - string
                  - "null"
              voicemail:
                type:
                  - string
                  - "null"
              after_hours:
                type:
                  - string
                  - "null"
              ringing_tone:
                type:
                  - string
                  - "null"
              callback_later:
                type:
                  - string
                  - "null"
              unanswered_call:
                type:
                  - string
                  - "null"
          priority:
            type:
              - number
              - "null"
          time_zone:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          direct_link:
            type:
              - string
              - "null"
          availability_status:
            type:
              - string
              - "null"
          flow_editor_enabled:
            type:
              - boolean
              - "null"
          live_recording_activated:
            type:
              - boolean
              - "null"
      status:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      comments:
        type:
          - array
          - "null"
      duration:
        type:
          - number
          - "null"
      ended_at:
        type:
          - number
          - "null"
      direction:
        type:
          - string
          - "null"
      recording:
        type:
          - string
          - "null"
      voicemail:
        type:
          - string
          - "null"
      raw_digits:
        type:
          - string
          - "null"
      started_at:
        type: number
      answered_at:
        type:
          - number
          - "null"
      assigned_to:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          available:
            type:
              - boolean
              - "null"
          extension:
            type:
              - string
              - "null"
          time_zone:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          direct_link:
            type:
              - string
              - "null"
          wrap_up_time:
            type:
              - number
              - "null"
          availability_status:
            type:
              - string
              - "null"
      direct_link:
        type:
          - string
          - "null"
      pricing_type:
        type:
          - string
          - "null"
      country_code_a2:
        type:
          - string
          - "null"
      missed_call_reason:
        type:
          - string
          - "null"
      conference_participants:
        type:
          - array
          - "null"
    additionalProperties: true
  teams:
    type: object
    title: Teams
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      users:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            time_zone:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            direct_link:
              type:
                - "null"
                - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      direct_link:
        type:
          - "null"
          - string
    additionalProperties: true
  users:
    type: object
    title: Users
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      language:
        type:
          - "null"
          - string
      available:
        type:
          - "null"
          - boolean
      time_zone:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      direct_link:
        type:
          - "null"
          - string
      wrap_up_time:
        type:
          - "null"
          - number
      availability_status:
        type:
          - "null"
          - string
    additionalProperties: true
  company:
    type: object
    title: Company schema
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      name:
        type:
          - "null"
          - string
      users_count:
        type:
          - "null"
          - number
      numbers_count:
        type:
          - "null"
          - number
    additionalProperties: true
  numbers:
    type: object
    title: Numbers Schema
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      open:
        type:
          - "null"
          - boolean
      email:
        type:
          - "null"
          - string
      digits:
        type:
          - "null"
          - string
      is_ivr:
        type:
          - "null"
          - boolean
      country:
        type:
          - "null"
          - string
      language:
        type:
          - "null"
          - string
      messages:
        type:
          - "null"
          - object
        properties:
          ivr:
            type:
              - "null"
              - string
          closed:
            type:
              - "null"
              - string
          waiting:
            type:
              - "null"
              - string
          welcome:
            type:
              - "null"
              - string
          voicemail:
            type:
              - "null"
              - string
          after_hours:
            type:
              - "null"
              - string
          ringing_tone:
            type:
              - "null"
              - string
          callback_later:
            type:
              - "null"
              - string
          unanswered_call:
            type:
              - "null"
              - string
      priority:
        type:
          - "null"
          - string
      available:
        type:
          - "null"
          - boolean
      time_zone:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      direct_link:
        type:
          - "null"
          - string
      wrap_up_time:
        type:
          - "null"
          - number
      availability_status:
        type:
          - "null"
          - string
      live_recording_activated:
        type:
          - "null"
          - boolean
    additionalProperties: true
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - created_at
    properties:
      id:
        type: number
      emails:
        type:
          - array
          - "null"
      is_shared:
        type:
          - boolean
          - "null"
      last_name:
        type:
          - string
          - "null"
      created_at:
        type: number
      first_name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - number
          - "null"
      direct_link:
        type:
          - string
          - "null"
      phone_numbers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            label:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
    additionalProperties: true
  webhooks:
    type: object
    title: Webhooks Schema
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - number
      url:
        type:
          - "null"
          - string
      token:
        type:
          - "null"
          - string
      active:
        type:
          - "null"
          - boolean
      events:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      direct_link:
        type:
          - "null"
          - string
    additionalProperties: true
  user_availability:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - number
          - "null"
      availability:
        type:
          - string
          - "null"
    additionalProperties: true
