version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - tickets

definitions:
  streams:
    tickets:
      type: DeclarativeStream
      name: tickets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tickets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tickets
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: updated_since
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
    satisfaction_survey_responses:
      type: DeclarativeStream
      name: satisfaction_survey_responses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tickets/{{ stream_partition.parent_id }}/csat_response
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - csat_response
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: parent_id
                stream:
                  $ref: "#/definitions/streams/tickets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/satisfaction_survey_responses"
    requested_items:
      type: DeclarativeStream
      name: requested_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tickets/{{ stream_partition.parent_id }}/requested_items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No data collected
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - requested_items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: parent_id
                stream:
                  $ref: "#/definitions/streams/tickets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/requested_items"
    problems:
      type: DeclarativeStream
      name: problems
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /problems
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - problems
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/problems"
    changes:
      type: DeclarativeStream
      name: changes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /changes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - changes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/changes"
    releases:
      type: DeclarativeStream
      name: releases
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /releases
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - releases
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: updated_since
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/releases"
    requesters:
      type: DeclarativeStream
      name: requesters
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /requesters
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - requesters
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/requesters"
    agents:
      type: DeclarativeStream
      name: agents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /agents
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - agents
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agents"
    locations:
      type: DeclarativeStream
      name: locations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /locations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - locations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/locations"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    vendors:
      type: DeclarativeStream
      name: vendors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /vendors
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - vendors
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/vendors"
    assets:
      type: DeclarativeStream
      name: assets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /assets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - assets
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/assets"
    software:
      type: DeclarativeStream
      name: software
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /applications
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - applications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/software"
    purchase_orders:
      type: DeclarativeStream
      name: purchase_orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /purchase_orders
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - purchase_orders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 30
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/purchase_orders"
  base_requester:
    type: HttpRequester
    url_base: https://{{config['domain_name']}}/api/v2
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['api_key'] }}"
      password: "{{ config['api_key'] }}"

streams:
  - $ref: "#/definitions/streams/tickets"
  - $ref: "#/definitions/streams/satisfaction_survey_responses"
  - $ref: "#/definitions/streams/requested_items"
  - $ref: "#/definitions/streams/problems"
  - $ref: "#/definitions/streams/changes"
  - $ref: "#/definitions/streams/releases"
  - $ref: "#/definitions/streams/requesters"
  - $ref: "#/definitions/streams/agents"
  - $ref: "#/definitions/streams/locations"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/vendors"
  - $ref: "#/definitions/streams/assets"
  - $ref: "#/definitions/streams/software"
  - $ref: "#/definitions/streams/purchase_orders"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - domain_name
      - start_date
    properties:
      api_key:
        type: string
        title: API Key
        description: >-
          Freshservice API Key. See <a
          href="https://api.freshservice.com/#authentication">here</a>. The key
          is case sensitive.
        airbyte_secret: true
        order: 0
      domain_name:
        type: string
        title: Domain Name
        description: The name of your Freshservice domain
        examples:
          - mydomain.freshservice.com
        order: 1
      start_date:
        type: string
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time in the format 2020-10-01T00:00:00Z. Any data before
          this date will not be replicated.
        examples:
          - "2020-10-01T00:00:00Z"
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    tickets: false
    satisfaction_survey_responses: false
    requested_items: false
    problems: false
    changes: false
    releases: false
    requesters: false
    agents: false
    locations: false
    products: false
    vendors: false
    assets: false
    software: false
    purchase_orders: false

schemas:
  tickets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of the ticket.
      attachments:
        type:
          - "null"
          - array
        description: Attachments related to the ticket.
      category:
        type:
          - "null"
          - string
        description: Category of the ticket.
      cc_emails:
        type:
          - "null"
          - array
        description: Email addresses cc'd on the ticket.
      created_at:
        type:
          - "null"
          - string
        description: Date and time when the ticket was created.
      custom_fields:
        type:
          - "null"
          - object
        description: Custom fields associated with the ticket.
      deleted:
        type:
          - "null"
          - boolean
        description: Indicates if the ticket is deleted.
      department_id:
        type:
          - "null"
          - integer
        description: ID of the department handling the ticket.
      description:
        type:
          - "null"
          - string
        description: Description of the ticket.
      description_text:
        type:
          - "null"
          - string
        description: Textual description of the ticket.
      due_by:
        type:
          - "null"
          - string
        description: Date by which the ticket needs to be resolved.
      email:
        type:
          - "null"
          - string
        description: Email address associated with the ticket.
      email_config_id:
        type:
          - "null"
          - integer
        description: Configuration ID of the email associated with the ticket.
      fr_due_by:
        type:
          - "null"
          - string
        description: First response due by date for the ticket.
      fr_escalated:
        type:
          - "null"
          - boolean
        description: Indicates if the ticket has been first response escalated.
      fwd_emails:
        type:
          - "null"
          - array
        description: Email addresses to which the ticket has been forwarded.
      group_id:
        type:
          - "null"
          - integer
        description: ID of the group the ticket is assigned to.
      id:
        type: integer
        description: Unique identifier of the ticket.
      impact:
        type:
          - "null"
          - integer
        description: Impact level of the ticket.
      is_escalated:
        type:
          - "null"
          - boolean
        description: Indicates if the ticket has been escalated.
      item_category:
        type:
          - "null"
          - string
        description: Category of the item related to the ticket.
      name:
        type:
          - "null"
          - string
        description: Name associated with the ticket.
      phone:
        type:
          - "null"
          - string
        description: Phone number associated with the ticket.
      priority:
        type:
          - "null"
          - integer
        description: Priority level of the ticket.
      reply_cc_emails:
        type:
          - "null"
          - array
        description: Email addresses cc'd on replies to the ticket.
      requested_for_id:
        type:
          - "null"
          - integer
        description: ID of the person for whom the ticket was requested.
      requester_id:
        type:
          - "null"
          - integer
        description: ID of the person who requested the ticket.
      responder_id:
        type:
          - "null"
          - integer
        description: ID of the responder handling the ticket.
      source:
        type:
          - "null"
          - integer
        description: Source of the ticket creation.
      spam:
        type:
          - "null"
          - boolean
        description: Indicates if the ticket is considered as spam.
      status:
        type:
          - "null"
          - integer
        description: Current status of the ticket.
      sub_category:
        type:
          - "null"
          - string
        description: Sub-category of the ticket.
      subject:
        type:
          - "null"
          - string
        description: Subject of the ticket.
      tags:
        type:
          - "null"
          - array
        description: Tags associated with the ticket.
      to_emails:
        type:
          - "null"
          - array
        description: Email addresses the ticket was sent to.
      updated_at:
        type:
          - "null"
          - string
        description: Date and time when the ticket was last updated.
      urgency:
        type:
          - "null"
          - integer
        description: Urgency level of the ticket.
      workspace_id:
        type:
          - "null"
          - integer
        description: ID of the workspace associated with the ticket.
  satisfaction_survey_responses:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - "null"
          - string
        description: The timestamp when the survey response was created.
      id:
        type:
          - "null"
          - integer
        description: The unique identifier for the survey response.
      overall_rating:
        type:
          - "null"
          - integer
        description: The overall numeric rating given by the respondent.
      overall_rating_text:
        type:
          - "null"
          - string
        description: The text representation of the overall rating.
      primary_question:
        type:
          - "null"
          - string
        description: The main question being asked in the survey.
      questionnaire_responses:
        type:
          - "null"
          - object
        description: List of questionnaire responses provided by users
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            answers:
              type:
                - "null"
                - array
              description: List of answers provided by users for the questions
              items:
                - type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    answer_text:
                      type:
                        - "null"
                        - string
            question:
              type:
                - "null"
                - object
              additionalProperties: true
              description: Details of the question asked in the survey
              properties:
                question_text:
                  type:
                    - "null"
                    - string
                  description: The text of the question being answered.
      updated_at:
        type:
          - "null"
          - string
        description: The timestamp when the survey response was last updated.
  requested_items:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      cost_per_request:
        type:
          - "null"
          - number
        description: The cost associated with fulfilling the request.
      created_at:
        type:
          - "null"
          - string
        description: The timestamp when the request was created.
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true
        description: Any custom fields associated with the requested item.
      delivery_time:
        type:
          - "null"
          - number
        description: The estimated delivery time for the requested item.
      id:
        type:
          - "null"
          - integer
        description: The unique identifier for the requested item.
      is_parent:
        type:
          - "null"
          - boolean
        description: Indicates whether the requested item is a parent item.
      loaned:
        type:
          - "null"
          - boolean
        description: Whether the item has been loaned out.
      quantity:
        type:
          - "null"
          - integer
        description: The quantity of the requested item.
      remarks:
        type:
          - "null"
          - string
        description: Any additional remarks or notes.
      service_item_id:
        type:
          - "null"
          - integer
        description: The ID of the service item being requested.
      service_item_name:
        type:
          - "null"
          - string
        description: The name of the service item being requested.
      stage:
        type:
          - "null"
          - integer
        description: The current stage of the request item.
      updated_at:
        type:
          - "null"
          - string
        description: The timestamp when the request item was last updated.
  problems:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      agent_id:
        type:
          - "null"
          - integer
        description: The unique identifier of the agent assigned to the problem
      analysis_fields:
        type: object
        additionalProperties: true
        description: Fields related to the analysis or investigation of the problem
      assets:
        type:
          - "null"
          - array
        description: >-
          Contains information about assets related to the problem, such as
          hardware or software configurations.
        items:
          additionalProperties: true
          description: Details of assets associated with the problem
      associated_change:
        type:
          - "null"
          - integer
        description: The ID of the change request associated with the problem
      attachments:
        type:
          - "null"
          - array
        description: >-
          Contains any additional files or documents attached to the problem for
          reference or analysis.
        items:
          additionalProperties: true
          description: List of attachments related to the problem
      category:
        type:
          - "null"
          - string
        description: The category under which the problem falls
      created_at:
        type:
          - "null"
          - string
        description: The date and time at which the problem was created
        format: date-time
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true
        description: Custom fields specific to the problem
      department_id:
        type:
          - "null"
          - integer
        description: The ID of the department associated with the problem
      description:
        type:
          - "null"
          - string
        description: Detailed description of the problem
      description_text:
        type:
          - "null"
          - string
        description: Textual description of the problem
      due_by:
        type:
          - "null"
          - string
        description: The due date by which the problem needs to be resolved
      group_id:
        type:
          - "null"
          - integer
        description: The ID of the group handling the problem
      id:
        type: integer
        description: The unique identifier of the problem
      impact:
        type:
          - "null"
          - integer
        description: The level of impact the problem has on operations
      item_category:
        type:
          - "null"
          - string
        description: The category of the item associated with the problem
      known_error:
        type:
          - "null"
          - boolean
        description: Indicates if the problem is a known error
      planned_effort:
        type:
          - string
          - "null"
        description: The planned effort required to resolve the problem
      planned_end_date:
        type:
          - "null"
          - string
        description: The planned end date for resolving the problem
        format: date-time
      planned_start_date:
        type:
          - "null"
          - string
        description: The planned start date for resolving the problem
        format: date-time
      priority:
        type:
          - "null"
          - integer
        description: The priority level assigned to the problem
      requester_id:
        type:
          - "null"
          - integer
        description: The ID of the user who reported the problem
      status:
        type:
          - "null"
          - integer
        description: The current status of the problem
      sub_category:
        type:
          - "null"
          - string
        description: The sub-category under which the problem falls
      subject:
        type:
          - "null"
          - string
        description: The subject or title of the problem
      updated_at:
        type:
          - "null"
          - string
        description: The date and time at which the problem was last updated
        format: date-time
      workspace_id:
        type:
          - "null"
          - integer
        description: The ID of the workspace to which the problem belongs
  changes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      agent_id:
        type:
          - "null"
          - integer
        description: ID of the agent responsible for the change
      approval_status:
        type:
          - "null"
          - integer
        description: Approval status of the change request
      assets:
        type:
          - "null"
          - array
        description: Contains information about the assets that were changed.
        items:
          additionalProperties: true
          description: List of assets associated with the change
      attachments:
        type:
          - "null"
          - array
        description: Contains data related to any attachments associated with the changes.
        items:
          additionalProperties: true
          description: List of attachments related to the change
      blackout_window:
        type:
          - "null"
          - object
        additionalProperties: true
        description: Details of any blackout window for the change
      category:
        type:
          - "null"
          - string
        description: Category under which the change falls
      change_type:
        type:
          - "null"
          - integer
        description: Type of change being requested
      change_window_id:
        type:
          - "null"
          - integer
        description: ID of the change window
      created_at:
        type:
          - "null"
          - string
        description: Timestamp when the change was created
        format: date-time
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true
        description: Any custom fields associated with the change
      department_id:
        type:
          - "null"
          - integer
        description: ID of the department associated with the change
      description:
        type:
          - "null"
          - string
        description: Detailed description of the change
      description_text:
        type:
          - "null"
          - string
        description: Textual description of the change
      group_id:
        type:
          - "null"
          - integer
        description: ID of the group handling the change
      id:
        type: integer
        description: Unique identifier for the change
      impact:
        type:
          - "null"
          - integer
        description: Impact level of the change
      impacted_services:
        type:
          - "null"
          - array
        description: List of services impacted by the change
        items:
          additionalProperties: true
      item_category:
        type:
          - "null"
          - string
        description: Category of the item related to the change
      maintenance_window:
        type:
          - "null"
          - object
        additionalProperties: true
        description: Details of any maintenance window for the change
      planned_effort:
        type:
          - string
          - "null"
        description: Effort planned for the change
      planned_end_date:
        type:
          - "null"
          - string
        description: Planned end date for the change
      planned_start_date:
        type:
          - "null"
          - string
        description: Planned start date for the change
      priority:
        type:
          - "null"
          - integer
        description: Priority level of the change
      requester_id:
        type:
          - "null"
          - integer
        description: ID of the requester initiating the change
      risk:
        type:
          - "null"
          - integer
        description: Risk level associated with the change
      status:
        type:
          - "null"
          - integer
        description: Current status of the change
      sub_category:
        type:
          - "null"
          - string
        description: Sub-category under which the change falls
      subject:
        type:
          - "null"
          - string
        description: Subject or title of the change
      updated_at:
        type:
          - "null"
          - string
        description: Timestamp when the change was last updated
        format: date-time
      workspace_id:
        type:
          - "null"
          - integer
        description: ID of the workspace in which the change resides
  releases:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      agent_id:
        type:
          - "null"
          - integer
        description: The unique identifier of the agent associated with the release.
      associated_assets:
        type:
          - "null"
          - array
        description: Assets associated with the release.
      associated_changes:
        type:
          - "null"
          - array
        description: Changes associated with the release.
      category:
        type:
          - "null"
          - string
        description: Category of the release.
      created_at:
        type:
          - "null"
          - string
        description: Timestamp indicating when the release was created.
      custom_fields:
        type:
          - "null"
          - object
        description: Custom fields specific to the release.
      department_id:
        type:
          - "null"
          - integer
        description: ID of the department associated with the release.
      description:
        type:
          - "null"
          - string
        description: Description of the release.
      group_id:
        type:
          - "null"
          - integer
        description: ID of the group associated with the release.
      id:
        type: integer
        description: Unique identifier of the release.
      item_category:
        type:
          - "null"
          - string
        description: Category of the item associated with the release.
      planned_end_date:
        type:
          - "null"
          - string
        description: Planned end date of the release.
      planned_start_date:
        type:
          - "null"
          - string
        description: Planned start date of the release.
      planning_fields:
        type: object
        description: Fields related to the planning of the release.
      priority:
        type:
          - "null"
          - integer
        description: Priority level of the release.
      release_type:
        type:
          - "null"
          - integer
        description: Type of release (e.g., major, minor, patch).
      status:
        type:
          - "null"
          - integer
        description: Status of the release (e.g., planned, in progress, completed).
      sub_category:
        type:
          - "null"
          - string
        description: Sub-category of the release.
      subject:
        type:
          - "null"
          - string
        description: Subject or title of the release.
      updated_at:
        type:
          - "null"
          - string
        description: Timestamp indicating when the release was last updated.
      work_end_date:
        type:
          - "null"
          - string
        description: Actual end date of the release work.
      work_start_date:
        type:
          - "null"
          - string
        description: Actual start date of the release work.
  requesters:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Indicates if the requester is currently active or not in the system.
      address:
        type:
          - "null"
          - string
        description: Requester's physical address.
      background_information:
        type:
          - "null"
          - string
        description: Additional background information about the requester.
      can_see_all_changes_from_associated_departments:
        type:
          - "null"
          - boolean
        description: >-
          Boolean value for whether the requester can see changes from
          associated departments.
      can_see_all_tickets_from_associated_departments:
        type:
          - "null"
          - boolean
        description: >-
          Boolean value for whether the requester can see tickets from
          associated departments.
      created_at:
        type:
          - "null"
          - string
        description: Date and time when the requester record was created.
      custom_fields:
        type:
          - "null"
          - object
        description: Custom fields associated with the requester profile.
      department_ids:
        type:
          - "null"
          - array
        description: IDs of the departments the requester is associated with.
      department_names:
        type:
          - "null"
          - array
        description: Names of the departments the requester is associated with.
      external_id:
        type:
          - "null"
          - string
        description: External identifier for the requester, if applicable.
      first_name:
        type:
          - "null"
          - string
        description: First name of the requester.
      has_logged_in:
        type:
          - "null"
          - boolean
        description: Indicates if the requester has logged into the system.
      id:
        type: integer
        description: Unique identifier for the requester.
      is_agent:
        type:
          - "null"
          - boolean
        description: Boolean value indicating if the requester is also an agent.
      job_title:
        type:
          - "null"
          - string
        description: Job title of the requester.
      language:
        type:
          - "null"
          - string
        description: Language preference of the requester.
      last_name:
        type:
          - "null"
          - string
        description: Last name of the requester.
      location_id:
        type:
          - "null"
          - integer
        description: ID of the location associated with the requester.
      location_name:
        type:
          - "null"
          - string
        description: Name of the location associated with the requester.
      mobile_phone_number:
        type:
          - "null"
          - string
        description: Mobile phone number of the requester.
      primary_email:
        type:
          - "null"
          - string
        description: Primary email address of the requester.
      reporting_manager_id:
        type:
          - "null"
          - integer
        description: ID of the reporting manager for the requester.
      secondary_emails:
        type:
          - "null"
          - array
        description: Additional email addresses of the requester.
      time_format:
        type:
          - "null"
          - string
        description: Preferred time format for the requester.
      time_zone:
        type:
          - "null"
          - string
        description: Time zone preference for the requester.
      updated_at:
        type:
          - "null"
          - string
        description: Date and time when the requester record was last updated.
      vip_user:
        type:
          - "null"
          - boolean
        description: Indicates if the requester is a VIP user.
      work_phone_number:
        type:
          - "null"
          - string
        description: Work phone number of the requester.
      work_schedule_id:
        type:
          - "null"
          - integer
        description: ID of the work schedule assigned to the requester.
  agents:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Indicates if the agent is currently active or not
      address:
        type:
          - "null"
          - string
        description: The physical address of the agent
      auto_assign_status_changed_at:
        type:
          - "null"
          - string
        description: Timestamp for when auto assign status was last changed
      auto_assign_tickets:
        type:
          - "null"
          - boolean
        description: Flag to enable/disable auto-assigning of tickets to the agent
      background_information:
        type:
          - "null"
          - string
        description: Additional background information about the agent
      can_see_all_tickets_from_associated_departments:
        type:
          - "null"
          - boolean
        description: Flag to allow viewing of tickets from associated departments
      change_scope:
        type:
          - "null"
          - string
        description: Scope of changes the agent is allowed to make
      created_at:
        type:
          - "null"
          - string
        description: Timestamp for when the agent was created
      custom_fields:
        type:
          - "null"
          - object
        description: Custom fields specific to the agent
      department_ids:
        type:
          - "null"
          - array
        description: IDs of departments to which the agent belongs
      department_names:
        type:
          - "null"
          - array
        description: Names of departments to which the agent belongs
      email:
        type:
          - "null"
          - string
        description: Email address of the agent
      external_id:
        type:
          - "null"
          - string
        description: External identifier for the agent
      first_name:
        type:
          - "null"
          - string
        description: First name of the agent
      group_ids:
        type:
          - "null"
          - array
        description: IDs of groups to which the agent belongs
      has_logged_in:
        type:
          - "null"
          - boolean
        description: Indicates if the agent has logged into the system
      id:
        type: integer
        description: Unique identifier for the agent
      job_title:
        type:
          - "null"
          - string
        description: Job title of the agent
      language:
        type:
          - "null"
          - string
        description: Preferred language of communication for the agent
      last_active_at:
        type:
          - "null"
          - string
        description: Timestamp for when the agent was last active
      last_login_at:
        type:
          - "null"
          - string
        description: Timestamp for when the agent last logged in
      last_name:
        type:
          - "null"
          - string
        description: Last name of the agent
      location_id:
        type:
          - "null"
          - integer
        description: ID of the location where the agent is based
      location_name:
        type:
          - "null"
          - string
        description: Name of the location where the agent is based
      member_of:
        type:
          - "null"
          - array
        description: Groups the agent is a member of
      member_of_pending_approval:
        type:
          - "null"
          - array
        description: Groups the agent has requested to join but pending approval
      mobile_phone_number:
        type:
          - "null"
          - string
        description: Mobile phone number of the agent
      observer_of:
        type:
          - "null"
          - array
        description: Groups the agent is an observer of
      observer_of_pending_approval:
        type:
          - "null"
          - array
        description: Groups the agent is waiting to be approved as an observer
      occasional:
        type:
          - "null"
          - boolean
        description: Indicates if the agent is an occasional user
      problem_scope:
        type:
          - "null"
          - string
        description: Scope of problems the agent is allowed to work on
      release_scope:
        type:
          - "null"
          - string
        description: Scope of releases the agent is involved in
      reporting_manager_id:
        type:
          - "null"
          - integer
        description: ID of the reporting manager for the agent
      role_ids:
        type:
          - "null"
          - array
        description: IDs of roles assigned to the agent
      roles:
        type:
          - "null"
          - array
        description: Roles assigned to the agent
      scopes:
        type:
          - "null"
          - object
        description: Various scopes assigned to the agent
      scoreboard_level_id:
        type:
          - "null"
          - integer
        description: ID of the scoreboard level for the agent
      scoreboard_points:
        type:
          - "null"
          - integer
        description: Scoreboard points earned by the agent
      signature:
        type:
          - "null"
          - string
        description: Email signature of the agent
      ticket_scope:
        type:
          - "null"
          - string
        description: Scope of tickets the agent is allowed to access
      time_format:
        type:
          - "null"
          - string
        description: Preferred time format for the agent
      time_zone:
        type:
          - "null"
          - string
        description: Preferred time zone for the agent
      updated_at:
        type:
          - "null"
          - string
        description: Timestamp for when the agent was last updated
      vip_user:
        type:
          - "null"
          - boolean
        description: Indicates if the agent is a VIP user
      work_phone_number:
        type:
          - "null"
          - string
        description: Work phone number of the agent
      work_schedule_id:
        type:
          - "null"
          - integer
        description: ID of the work schedule assigned to the agent
      workspace_id:
        type:
          - "null"
          - integer
        description: ID of the primary workspace for the agent
      workspace_ids:
        type:
          - "null"
          - array
        description: IDs of workspaces associated with the agent
      workspace_info:
        type:
          - "null"
          - array
        description: Information about workspaces used by the agent
        items:
          additionalProperties: true
          description: Workspace details
  locations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      address:
        type: object
        additionalProperties: true
        description: Location address details
        properties:
          city:
            type:
              - "null"
              - string
            description: City of the location
          country:
            type:
              - "null"
              - string
            description: Country of the location
          line1:
            type:
              - "null"
              - string
            description: First line of the address
          line2:
            type:
              - "null"
              - string
            description: Second line of the address
          state:
            type:
              - "null"
              - string
            description: State of the location
          zipcode:
            type:
              - "null"
              - string
            description: Zip code of the location
      contact_name:
        type:
          - "null"
          - string
        description: Name of the primary contact person
      created_at:
        type:
          - "null"
          - string
        description: Timestamp when the location was created
      email:
        type:
          - "null"
          - string
        description: Email address associated with the location
      id:
        type: integer
        description: Unique identifier for the location
      name:
        type:
          - "null"
          - string
        description: Name of the location
      parent_location_id:
        type:
          - "null"
          - integer
        description: Identifier of the parent location (if applicable)
      phone:
        type:
          - "null"
          - string
        description: Phone number of the location
      primary_contact_id:
        type:
          - "null"
          - integer
        description: Identifier of the primary contact person
      updated_at:
        type:
          - "null"
          - string
        description: Timestamp when the location was last updated
  products:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      asset_type_id:
        type:
          - "null"
          - integer
        description: Unique identifier for the type of asset associated with the product.
      created_at:
        type:
          - "null"
          - string
        description: Timestamp indicating when the product was created.
      depreciation_type_id:
        type:
          - "null"
          - integer
        description: >-
          Unique identifier for the type of depreciation method used for the
          product.
      description:
        type:
          - "null"
          - string
        description: Brief overview or summary of the product.
      description_text:
        type:
          - "null"
          - string
        description: Detailed text describing the product.
      id:
        type: integer
        description: Unique identifier for the product.
      manufacturer:
        type:
          - "null"
          - string
        description: Name of the manufacturer of the product.
      mode_of_procurement:
        type:
          - "null"
          - string
        description: Method through which the product was procured.
      name:
        type:
          - "null"
          - string
        description: Name or title of the product.
      status:
        type:
          - "null"
          - string
        description: Current status of the product.
      updated_at:
        type:
          - "null"
          - string
        description: Timestamp indicating when the product was last updated.
  vendors:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      address:
        type: object
        additionalProperties: true
        description: Vendor address information
        properties:
          city:
            type:
              - "null"
              - string
            description: City of the vendor's address
          country:
            type:
              - "null"
              - string
            description: Country of the vendor's address
          line1:
            type:
              - "null"
              - string
            description: First line of the vendor's address
          state:
            type:
              - "null"
              - string
            description: State of the vendor's address
          zipcode:
            type:
              - "null"
              - string
            description: Zipcode of the vendor's address
      contact_name:
        type:
          - "null"
          - string
        description: Name of the primary contact person
      created_at:
        type:
          - "null"
          - string
        description: Date and time when vendor data was created
      custom_fields:
        type:
          - "null"
          - object
        description: Custom fields specific to the vendor
      description:
        type:
          - "null"
          - string
        description: Description of the vendor
      email:
        type:
          - "null"
          - string
        description: Email address of the vendor
      id:
        type: integer
        description: Unique identifier for the vendor
      mobile:
        type:
          - "null"
          - integer
        description: Mobile number of the vendor
      name:
        type:
          - "null"
          - string
        description: Name of the vendor
      phone:
        type:
          - "null"
          - integer
        description: Phone number of the vendor
      primary_contact_id:
        type:
          - "null"
          - integer
        description: ID of the primary contact person
      updated_at:
        type:
          - "null"
          - string
        description: Date and time when vendor data was last updated
  assets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      agent_id:
        type:
          - "null"
          - integer
        description: Unique identifier for the agent associated with the asset.
      asset_tag:
        type:
          - "null"
          - string
        description: Identification tag assigned to the asset.
      asset_type_id:
        type:
          - "null"
          - integer
        description: Identifier for the type of asset.
      assigned_on:
        type:
          - "null"
          - string
        description: Date when the asset was assigned.
      author_type:
        type:
          - "null"
          - string
        description: Type of author responsible for the asset.
      created_at:
        type:
          - "null"
          - string
        description: Date and time when the asset record was created.
      department_id:
        type:
          - "null"
          - integer
        description: Identifier for the department where the asset is assigned.
      description:
        type:
          - "null"
          - string
        description: Description providing additional details about the asset.
      discovery_enabled:
        type:
          - "null"
          - boolean
        description: Flag indicating if asset discovery is enabled.
      display_id:
        type:
          - "null"
          - integer
        description: Identifier used to display the asset.
      end_of_life:
        type:
          - "null"
          - string
        description: Date when the asset is expected to reach its end of life.
        format: "%Y-%m-%d"
      group_id:
        type:
          - "null"
          - integer
        description: Identifier for the group to which the asset belongs.
      id:
        type: integer
        description: Unique identifier for the asset.
      impact:
        type:
          - "null"
          - string
        description: Measure of impact of the asset on operations.
      location_id:
        type:
          - "null"
          - integer
        description: Identifier for the location where the asset is located.
      name:
        type:
          - "null"
          - string
        description: Name or title of the asset.
      updated_at:
        type:
          - "null"
          - string
        description: Date and time when the asset record was last updated.
      usage_type:
        type:
          - "null"
          - string
        description: Type of usage or purpose of the asset.
      user_id:
        type:
          - "null"
          - integer
        description: Identifier for the user assigned to the asset.
  software:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      additional_data:
        type:
          - "null"
          - object
        description: Additional data related to the software.
      application_type:
        type:
          - "null"
          - string
        description: Type of application the software belongs to.
      category:
        type:
          - "null"
          - string
        description: Category of the software.
      created_at:
        type:
          - "null"
          - string
        description: Timestamp for when the software was created.
      description:
        type:
          - "null"
          - string
        description: Brief description or overview of the software.
      id:
        type: integer
        description: Unique identifier for the software.
      installation_count:
        type:
          - "null"
          - integer
        description: Number of installations of the software.
      managed_by_id:
        type:
          - "null"
          - integer
        description: Identifier of the user or entity managing the software.
      name:
        type:
          - "null"
          - string
        description: Name of the software.
      notes:
        type:
          - "null"
          - string
        description: Any additional notes or comments related to the software.
      publisher_id:
        type:
          - "null"
          - integer
        description: Identifier of the publisher of the software.
      sources:
        type:
          - "null"
          - array
        description: Sources for the software.
        items:
          additionalProperties: true
          description: Individual source item related to the software.
      status:
        type:
          - "null"
          - string
        description: Current status of the software.
      updated_at:
        type:
          - "null"
          - string
        description: Timestamp for when the software was last updated.
      user_count:
        type:
          - "null"
          - integer
        description: Number of users utilizing the software.
      workspace_id:
        type:
          - "null"
          - integer
        description: Identifier of the workspace to which the software belongs.
  purchase_orders:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      billing_address:
        type:
          - "null"
          - string
        description: The address used for billing purposes
      billing_same_as_shipping:
        type:
          - "null"
          - integer
        description: >-
          Indicates whether the billing address is the same as the shipping
          address
      conversion_rate:
        type: number
        description: The currency conversion rate used for the purchase order
      created_at:
        type:
          - "null"
          - string
        description: The date and time when the purchase order was created
      created_by:
        type:
          - "null"
          - integer
        description: The user who created the purchase order
      currency_code:
        type:
          - "null"
          - string
        description: The currency code used for the purchase order
      custom_fields:
        type:
          - "null"
          - object
        description: Any custom fields associated with the purchase order
      department_id:
        type:
          - "null"
          - integer
        description: The ID of the department associated with the purchase order
      discount_percentage:
        type:
          - "null"
          - integer
        description: The discount percentage applied to the total cost
      expected_delivery_date:
        type:
          - "null"
          - string
        description: The expected delivery date for the purchase order
      id:
        type: integer
        description: The unique identifier for the purchase order
      name:
        type:
          - "null"
          - string
        description: The name or title for the purchase order
      po_number:
        type:
          - "null"
          - string
        description: The purchase order number for identification
      purchase_items:
        type: array
        description: The items or products included in the purchase order
      shipping_address:
        type:
          - "null"
          - string
        description: The address where the items will be shipped
      shipping_cost:
        type:
          - "null"
          - integer
        description: The cost associated with shipping the items
      status:
        type:
          - "null"
          - integer
        description: The current status of the purchase order
      tax_percentage:
        type:
          - "null"
          - integer
        description: The tax percentage applied to the total cost
      total_cost:
        type:
          - "null"
          - number
        description: The total cost of the purchase order including taxes and discounts
      updated_at:
        type:
          - "null"
          - string
        description: The date and time when the purchase order was last updated
      vendor_details:
        type:
          - "null"
          - string
        description: Details about the vendor supplying the items
      vendor_id:
        type:
          - "null"
          - integer
        description: The ID of the vendor associated with the purchase order
      workspace_id:
        type:
          - "null"
          - integer
        description: The ID of the workspace in which the purchase order was created
