version: 5.15.0

type: DeclarativeSource

description: >-
  Zoho Expense connector enables seamless data synchronization between Zoho
  Expense and various destinations. This connector automates expense tracking
  workflows by extracting financial data efficiently, ensuring accurate
  reporting and streamlined operations.

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    trips:
      type: DeclarativeStream
      name: trips
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /trips
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - trips
      primary_key:
        - trip_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/trips"
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      primary_key:
        - user_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    customers:
      type: DeclarativeStream
      name: customers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
      primary_key:
        - contact_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    currencies:
      type: DeclarativeStream
      name: currencies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /settings/currencies
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - currencies
      primary_key:
        - currency_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/currencies"
    organizations:
      type: DeclarativeStream
      name: organizations
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /organizations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - organizations
      primary_key:
        - organization_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"
    expense_reports:
      type: DeclarativeStream
      name: expense_reports
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /expensereports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - expense_reports
      primary_key:
        - report_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expense_reports"
    expense_categories:
      type: DeclarativeStream
      name: expense_categories
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /expensecategories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - expense_accounts
      primary_key:
        - category_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expense_categories"
  base_requester:
    type: HttpRequester
    url_base: https://www.zohoapis.{{ config['data_center'] }}/expense/v1
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: refresh_token
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_token: "{{ config[\"refresh_token\"] }}"
      expires_in_name: expires_in
      access_token_name: access_token
      refresh_request_body: {}
      token_refresh_endpoint: https://accounts.zoho.{{ config["data_center"] }}/oauth/v2/token

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/trips"
  - $ref: "#/definitions/streams/expense_reports"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/organizations"
  - $ref: "#/definitions/streams/expense_categories"
  - $ref: "#/definitions/streams/currencies"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - refresh_token
    properties:
      client_id:
        type: string
        name: client_id
        order: 1
        title: OAuth Client ID
        airbyte_secret: true
      data_center:
        type: string
        description: >-
          The domain suffix for the Zoho Expense API based on your data center
          location (e.g., 'com', 'eu', 'in', etc.)
        enum:
          - com
          - in
          - jp
          - ca
          - com.cn
          - sa
          - com.au
          - eu
        name: domain
        order: 0
        title: Data Center
        default: in
      client_secret:
        type: string
        name: client_secret
        order: 2
        title: OAuth Client Secret
        airbyte_secret: true
      refresh_token:
        type: string
        name: refresh_token
        order: 3
        title: OAuth Refresh Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://www.zoho.com/expense/api/v1/introduction/#overview
  testedStreams:
    trips:
      hasRecords: true
      streamHash: a1bcd462e507295a83ab5cbaee82f1517f25c63e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: ea794eeaa10ed618b29bdcd9002bfa56044c8a32
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      hasRecords: true
      streamHash: 4ee724dfc6a6146977365bc77f8dc9d6a43673ef
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customers:
      hasRecords: true
      streamHash: ffd8cfdd68e5a40e5775d101c4c02ace7854da6d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    currencies:
      hasRecords: true
      streamHash: 55361957c7d44f5b41d5ee51d984c13c57cc5d9b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    organizations:
      hasRecords: true
      streamHash: f8ca1e456349bd253683ec857eb3cf1d7b70f027
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    expense_reports:
      hasRecords: true
      streamHash: c191720ec50fa86dcf42cf6b2bd6cf3e9d3b872a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    expense_categories:
      hasRecords: true
      streamHash: 3ee4b8e2e4faa65e9168aadfd1a511e6dd698070
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    trips: true
    users: true
    projects: true
    customers: true
    currencies: true
    organizations: true
    expense_reports: true
    expense_categories: true

schemas:
  trips:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - trip_id
    properties:
      description:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      trip_id:
        type: string
      user_id:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      departure:
        type:
          - string
          - "null"
      policy_id:
        type:
          - string
          - "null"
      trip_name:
        type:
          - string
          - "null"
      user_name:
        type:
          - string
          - "null"
      project_id:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      sub_status:
        type:
          - string
          - "null"
      user_email:
        type:
          - string
          - "null"
      approver_id:
        type:
          - string
          - "null"
      currency_id:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      from_source:
        type:
          - string
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      is_billable:
        type:
          - boolean
          - "null"
      policy_name:
        type:
          - string
          - "null"
      trip_number:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      project_name:
        type:
          - string
          - "null"
      submitted_by:
        type:
          - number
          - "null"
      approved_date:
        type:
          - string
          - "null"
      approver_name:
        type:
          - string
          - "null"
      approver_zuid:
        type:
          - string
          - "null"
      budget_amount:
        type:
          - number
          - "null"
      created_by_id:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
      customer_name:
        type:
          - string
          - "null"
      department_id:
        type:
          - string
          - "null"
      exchange_rate:
        type:
          - number
          - "null"
      is_round_trip:
        type:
          - boolean
          - "null"
      reports_count:
        type:
          - number
          - "null"
      approver_email:
        type:
          - string
          - "null"
      submitted_date:
        type:
          - string
          - "null"
      submitter_name:
        type:
          - string
          - "null"
      submitter_zuid:
        type:
          - string
          - "null"
      booking_summary:
        type:
          - array
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      department_name:
        type:
          - string
          - "null"
      employee_number:
        type:
          - string
          - "null"
      meal_preference:
        type:
          - string
          - "null"
      price_precision:
        type:
          - number
          - "null"
      seat_preference:
        type:
          - string
          - "null"
      submitted_to_id:
        type:
          - string
          - "null"
      submitter_email:
        type:
          - string
          - "null"
      business_purpose:
        type:
          - string
          - "null"
      created_by_email:
        type:
          - string
          - "null"
      destination_city:
        type:
          - string
          - "null"
      is_international:
        type:
          - boolean
          - "null"
      is_visa_required:
        type:
          - boolean
          - "null"
      bcy_budget_amount:
        type:
          - number
          - "null"
      creator_photo_url:
        type:
          - string
          - "null"
      destination_state:
        type:
          - string
          - "null"
      submitted_to_name:
        type:
          - string
          - "null"
      approver_photo_url:
        type:
          - string
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      submitted_to_email:
        type:
          - string
          - "null"
      user_custom_fields:
        type:
          - array
          - "null"
      creator_employee_no:
        type:
          - string
          - "null"
      destination_country:
        type:
          - string
          - "null"
      last_submitted_date:
        type:
          - string
          - "null"
      policy_display_name:
        type:
          - string
          - "null"
      submitter_photo_url:
        type:
          - string
          - "null"
      approver_employee_no:
        type:
          - string
          - "null"
      submitter_employee_no:
        type:
          - string
          - "null"
      submitted_to_employee_no:
        type:
          - string
          - "null"
      submitter_department_name:
        type:
          - string
          - "null"
      submitted_to_department_name:
        type:
          - string
          - "null"
      can_other_travelers_associate_report:
        type:
          - boolean
          - "null"
    additionalProperties: true
  users:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - user_id
    properties:
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      hr_url:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      role_id:
        type:
          - string
          - "null"
      user_id:
        type: string
      bank_name:
        type:
          - string
          - "null"
      photo_url:
        type:
          - string
          - "null"
      policy_id:
        type:
          - string
          - "null"
      user_role:
        type:
          - string
          - "null"
      user_type:
        type:
          - string
          - "null"
      can_approve:
        type:
          - boolean
          - "null"
      is_from_crm:
        type:
          - boolean
          - "null"
      policy_name:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      display_name:
        type:
          - string
          - "null"
      department_id:
        type:
          - string
          - "null"
      approves_to_id:
        type:
          - string
          - "null"
      is_super_admin:
        type:
          - boolean
          - "null"
      department_name:
        type:
          - string
          - "null"
      employee_number:
        type:
          - string
          - "null"
      getthere_access:
        type:
          - string
          - "null"
      invitation_type:
        type:
          - string
          - "null"
      is_current_user:
        type:
          - boolean
          - "null"
      user_mail_in_id:
        type:
          - string
          - "null"
      approves_to_name:
        type:
          - string
          - "null"
      last_four_digits:
        type:
          - string
          - "null"
      travel_policy_id:
        type:
          - string
          - "null"
      approves_to_email:
        type:
          - string
          - "null"
      approver_photo_url:
        type:
          - string
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      travel_policy_name:
        type:
          - string
          - "null"
      accounting_app_name:
        type:
          - string
          - "null"
      default_approver_id:
        type:
          - string
          - "null"
      is_from_zoho_people:
        type:
          - boolean
          - "null"
      approval_amount_limit:
        type:
          - number
          - "null"
      default_approver_name:
        type:
          - string
          - "null"
      default_approver_email:
        type:
          - string
          - "null"
      accounting_reference_id:
        type:
          - string
          - "null"
      submission_amount_limit:
        type:
          - number
          - "null"
      getthere_profile_created:
        type:
          - boolean
          - "null"
      travel_policy_display_name:
        type:
          - string
          - "null"
      accounting_vendor_reference_id:
        type:
          - string
          - "null"
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      code:
        type:
          - number
          - "null"
      message:
        type:
          - string
          - "null"
      projects:
        type:
          - array
          - "null"
      page_context:
        type:
          - object
          - "null"
        properties:
          page:
            type:
              - number
              - "null"
          per_page:
            type:
              - number
              - "null"
          sort_order:
            type:
              - string
              - "null"
          report_name:
            type:
              - string
              - "null"
          sort_column:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
          has_more_page:
            type:
              - boolean
              - "null"
          applied_filter:
            type:
              - string
              - "null"
    additionalProperties: true
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - contact_id
    properties:
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      twitter:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
      facebook:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      contact_id:
        type: string
      first_name:
        type:
          - string
          - "null"
      currency_id:
        type:
          - string
          - "null"
      vendor_name:
        type:
          - string
          - "null"
      company_name:
        type:
          - string
          - "null"
      contact_name:
        type:
          - string
          - "null"
      contact_type:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      ach_supported:
        type:
          - boolean
          - "null"
      currency_code:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
      customer_name:
        type:
          - string
          - "null"
      language_code:
        type:
          - string
          - "null"
      payment_terms:
        type:
          - number
          - "null"
      portal_status:
        type:
          - string
          - "null"
      has_attachment:
        type:
          - boolean
          - "null"
      custom_field_hash:
        type:
          - object
          - "null"
      customer_sub_type:
        type:
          - string
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      primary_contact_id:
        type:
          - string
          - "null"
      payment_terms_label:
        type:
          - string
          - "null"
      contact_type_formatted:
        type:
          - string
          - "null"
      created_time_formatted:
        type:
          - string
          - "null"
      is_linked_with_zohocrm:
        type:
          - boolean
          - "null"
      language_code_formatted:
        type:
          - string
          - "null"
      outstanding_payable_amount:
        type:
          - number
          - "null"
      last_modified_time_formatted:
        type:
          - string
          - "null"
      outstanding_receivable_amount:
        type:
          - number
          - "null"
      unused_credits_payable_amount:
        type:
          - number
          - "null"
      outstanding_payable_amount_bcy:
        type:
          - number
          - "null"
      unused_credits_receivable_amount:
        type:
          - number
          - "null"
      outstanding_receivable_amount_bcy:
        type:
          - number
          - "null"
      unused_credits_payable_amount_bcy:
        type:
          - number
          - "null"
      unused_credits_receivable_amount_bcy:
        type:
          - number
          - "null"
    additionalProperties: true
  currencies:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - currency_id
    properties:
      currency_id:
        type: string
      currency_code:
        type:
          - string
          - "null"
      currency_name:
        type:
          - string
          - "null"
      exchange_rate:
        type:
          - number
          - "null"
      effective_date:
        type:
          - string
          - "null"
      currency_format:
        type:
          - string
          - "null"
      currency_symbol:
        type:
          - string
          - "null"
      price_precision:
        type:
          - number
          - "null"
      is_base_currency:
        type:
          - boolean
          - "null"
      rcy_configured_count:
        type:
          - number
          - "null"
      currency_name_formatted:
        type:
          - string
          - "null"
    additionalProperties: true
  organizations:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - organization_id
    properties:
      version:
        type:
          - string
          - "null"
      mode:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      source:
        type:
          - number
          - "null"
      AppList:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      country:
        type:
          - string
          - "null"
      org_type:
        type:
          - string
          - "null"
      plan_name:
        type:
          - string
          - "null"
      plan_type:
        type:
          - number
          - "null"
      time_zone:
        type:
          - string
          - "null"
      org_action:
        type:
          - string
          - "null"
      state_code:
        type:
          - string
          - "null"
      currency_id:
        type:
          - string
          - "null"
      isOrgActive:
        type:
          - boolean
          - "null"
      is_solo_org:
        type:
          - boolean
          - "null"
      plan_period:
        type:
          - string
          - "null"
      user_status:
        type:
          - number
          - "null"
      contact_name:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      is_free_zone:
        type:
          - boolean
          - "null"
      is_ziedition:
        type:
          - boolean
          - "null"
      org_settings:
        type:
          - boolean
          - "null"
      zi_zb_client:
        type:
          - number
          - "null"
      zoho_one_org:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            index:
              type:
                - number
                - "null"
            label:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      is_org_active:
        type:
          - boolean
          - "null"
      language_code:
        type:
          - string
          - "null"
      zi_zb_edition:
        type:
          - number
          - "null"
      is_default_org:
        type:
          - boolean
          - "null"
      is_sku_enabled:
        type:
          - boolean
          - "null"
      sales_tax_type:
        type:
          - string
          - "null"
      currency_format:
        type:
          - string
          - "null"
      currency_symbol:
        type:
          - string
          - "null"
      field_separator:
        type:
          - string
          - "null"
      is_trip_enabled:
        type:
          - boolean
          - "null"
      organization_id:
        type: string
      partners_domain:
        type:
          - string
          - "null"
      price_precision:
        type:
          - number
          - "null"
      can_sign_invoice:
        type:
          - boolean
          - "null"
      is_trial_expired:
        type:
          - boolean
          - "null"
      is_zpayroll_grid:
        type:
          - boolean
          - "null"
      custom_field_type:
        type:
          - number
          - "null"
      isOrgNotSupported:
        type:
          - boolean
          - "null"
      is_dsign_required:
        type:
          - boolean
          - "null"
      is_tax_registered:
        type:
          - boolean
          - "null"
      tax_group_enabled:
        type:
          - boolean
          - "null"
      version_formatted:
        type:
          - string
          - "null"
      is_designated_zone:
        type:
          - boolean
          - "null"
      can_change_timezone:
        type:
          - boolean
          - "null"
      org_joined_app_list:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      time_zone_formatted:
        type:
          - string
          - "null"
      account_created_date:
        type:
          - string
          - "null"
      is_auto_scan_allowed:
        type:
          - boolean
          - "null"
      is_gst_india_version:
        type:
          - boolean
          - "null"
      is_search360_enabled:
        type:
          - string
          - "null"
      is_hsn_or_sac_enabled:
        type:
          - boolean
          - "null"
      is_registered_for_gst:
        type:
          - boolean
          - "null"
      is_registered_for_tax:
        type:
          - boolean
          - "null"
      user_status_formatted:
        type:
          - string
          - "null"
      digital_signature_mode:
        type:
          - string
          - "null"
      org_created_app_source:
        type:
          - number
          - "null"
      fiscal_year_start_month:
        type:
          - number
          - "null"
      is_user_dsign_mandatory:
        type:
          - boolean
          - "null"
      is_quick_setup_completed:
        type:
          - boolean
          - "null"
      is_trial_period_extended:
        type:
          - boolean
          - "null"
      is_invoice_pmt_tds_allowed:
        type:
          - boolean
          - "null"
      is_advance_approval_enabled:
        type:
          - boolean
          - "null"
      account_created_date_formatted:
        type:
          - string
          - "null"
      is_export_with_payment_enabled:
        type:
          - boolean
          - "null"
      is_international_trade_enabled:
        type:
          - boolean
          - "null"
      is_sales_inclusive_tax_enabled:
        type:
          - boolean
          - "null"
      is_sales_reverse_charge_enabled:
        type:
          - boolean
          - "null"
      is_registered_for_composite_scheme:
        type:
          - boolean
          - "null"
    additionalProperties: true
  expense_reports:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - report_id
    properties:
      description:
        type:
          - string
          - "null"
      total:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      trip_id:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
      due_date:
        type:
          - string
          - "null"
      due_days:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      policy_id:
        type:
          - string
          - "null"
      rcy_total:
        type:
          - number
          - "null"
      report_id:
        type: string
      trip_name:
        type:
          - string
          - "null"
      user_name:
        type:
          - string
          - "null"
      project_id:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      sub_status:
        type:
          - string
          - "null"
      user_email:
        type:
          - string
          - "null"
      approver_id:
        type:
          - string
          - "null"
      currency_id:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      payrun_name:
        type:
          - string
          - "null"
      policy_name:
        type:
          - string
          - "null"
      report_name:
        type:
          - string
          - "null"
      trip_number:
        type:
          - string
          - "null"
      trip_status:
        type:
          - string
          - "null"
      audit_status:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      project_name:
        type:
          - string
          - "null"
      submitted_by:
        type:
          - string
          - "null"
      approved_date:
        type:
          - string
          - "null"
      approver_name:
        type:
          - string
          - "null"
      approver_zuid:
        type:
          - string
          - "null"
      claim_type_id:
        type:
          - string
          - "null"
      created_by_id:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
      customer_name:
        type:
          - string
          - "null"
      department_id:
        type:
          - string
          - "null"
      expense_count:
        type:
          - number
          - "null"
      report_number:
        type:
          - string
          - "null"
      trip_end_date:
        type:
          - string
          - "null"
      approver_email:
        type:
          - string
          - "null"
      comments_count:
        type:
          - number
          - "null"
      submitted_date:
        type:
          - string
          - "null"
      submitter_name:
        type:
          - string
          - "null"
      submitter_zuid:
        type:
          - string
          - "null"
      trip_departure:
        type:
          - string
          - "null"
      user_photo_url:
        type:
          - string
          - "null"
      claim_type_name:
        type:
          - string
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      created_by_zuid:
        type:
          - string
          - "null"
      department_name:
        type:
          - string
          - "null"
      employee_number:
        type:
          - string
          - "null"
      policy_violated:
        type:
          - boolean
          - "null"
      rcy_currency_id:
        type:
          - string
          - "null"
      submitted_to_id:
        type:
          - string
          - "null"
      submitter_email:
        type:
          - string
          - "null"
      trip_start_date:
        type:
          - string
          - "null"
      is_shared_report:
        type:
          - boolean
          - "null"
      creator_photo_url:
        type:
          - string
          - "null"
      rcy_currency_code:
        type:
          - string
          - "null"
      rcy_exchange_rate:
        type:
          - number
          - "null"
      submitted_to_name:
        type:
          - string
          - "null"
      submitted_to_zuid:
        type:
          - string
          - "null"
      zcrm_potential_id:
        type:
          - string
          - "null"
      approver_photo_url:
        type:
          - string
          - "null"
      imprest_account_id:
        type:
          - string
          - "null"
      last_modified_date:
        type:
          - string
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      reimbursable_total:
        type:
          - number
          - "null"
      reimbursement_date:
        type:
          - string
          - "null"
      submitted_to_email:
        type:
          - string
          - "null"
      trip_budget_amount:
        type:
          - number
          - "null"
      user_custom_fields:
        type:
          - array
          - "null"
      accounting_app_name:
        type:
          - string
          - "null"
      creator_employee_no:
        type:
          - string
          - "null"
      last_submitted_date:
        type:
          - string
          - "null"
      policy_display_name:
        type:
          - string
          - "null"
      rcy_currency_symbol:
        type:
          - string
          - "null"
      rcy_price_precision:
        type:
          - number
          - "null"
      submitter_photo_url:
        type:
          - string
          - "null"
      zcrm_potential_name:
        type:
          - string
          - "null"
      accounting_sync_time:
        type:
          - string
          - "null"
      approver_employee_no:
        type:
          - string
          - "null"
      imprest_account_name:
        type:
          - string
          - "null"
      is_ach_reimbursement:
        type:
          - boolean
          - "null"
      is_international_trip:
        type:
          - string
          - "null"
      submitter_employee_no:
        type:
          - string
          - "null"
      trip_destination_city:
        type:
          - string
          - "null"
      non_reimbursable_total:
        type:
          - number
          - "null"
      rcy_reimbursable_total:
        type:
          - number
          - "null"
      accounting_reference_id:
        type:
          - string
          - "null"
      amount_to_be_reimbursed:
        type:
          - number
          - "null"
      submitted_to_employee_no:
        type:
          - string
          - "null"
      trip_destination_country:
        type:
          - string
          - "null"
      can_push_to_accounting_app:
        type:
          - boolean
          - "null"
      rcy_non_reimbursable_total:
        type:
          - number
          - "null"
      uncategorized_expense_count:
        type:
          - number
          - "null"
      total_policy_violation_count:
        type:
          - number
          - "null"
      amount_policy_violation_count:
        type:
          - number
          - "null"
      custom_policy_violation_count:
        type:
          - number
          - "null"
      receipt_policy_violation_count:
        type:
          - number
          - "null"
      trip_budget_amount_currency_id:
        type:
          - string
          - "null"
      trip_budget_amount_currency_code:
        type:
          - string
          - "null"
      description_policy_violation_count:
        type:
          - number
          - "null"
    additionalProperties: true
  expense_categories:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - category_id
    properties:
      description:
        type:
          - string
          - "null"
      depth:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      gl_code:
        type:
          - string
          - "null"
      can_show:
        type:
          - boolean
          - "null"
      is_custom:
        type:
          - boolean
          - "null"
      can_delete:
        type:
          - boolean
          - "null"
      is_enabled:
        type:
          - boolean
          - "null"
      is_mileage:
        type:
          - boolean
          - "null"
      category_id:
        type: string
      child_count:
        type:
          - string
          - "null"
      flat_amount:
        type:
          - number
          - "null"
      category_hint:
        type:
          - string
          - "null"
      category_icon:
        type:
          - string
          - "null"
      category_name:
        type:
          - string
          - "null"
      category_type:
        type:
          - string
          - "null"
      page_layout_id:
        type:
          - string
          - "null"
      expense_type_id:
        type:
          - string
          - "null"
      is_super_parent:
        type:
          - boolean
          - "null"
      is_child_present:
        type:
          - boolean
          - "null"
      page_layout_name:
        type:
          - string
          - "null"
      expense_type_name:
        type:
          - string
          - "null"
      parent_account_id:
        type:
          - string
          - "null"
      is_disabled_master:
        type:
          - boolean
          - "null"
      is_perdiem_account:
        type:
          - boolean
          - "null"
      is_receipt_required:
        type:
          - boolean
          - "null"
      parent_account_name:
        type:
          - string
          - "null"
      attachment_file_name:
        type:
          - string
          - "null"
      can_override_settings:
        type:
          - boolean
          - "null"
      maximum_allowed_amount:
        type:
          - number
          - "null"
      is_description_required:
        type:
          - boolean
          - "null"
      receipt_required_amount:
        type:
          - number
          - "null"
      category_name_with_gl_code:
        type:
          - string
          - "null"
      is_maximum_amount_required:
        type:
          - boolean
          - "null"
    additionalProperties: true
