version: 5.15.0

type: DeclarativeSource

description: >-
  Zoho Expense is a Travel and expense management for growing businesses.

  With this connector we can extract data from various streams such as trips ,
  expense details , expense reports and contacts streams

check:
  type: CheckStream
  stream_names:
    - trips

definitions:
  streams:
    trips:
      type: DeclarativeStream
      name: trips
      primary_key:
        - trip_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: trips
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - trips
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/trips"
    expense details:
      type: DeclarativeStream
      name: expense details
      primary_key:
        - expense_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/expensedetails
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - expenses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expense details"
    expense reports:
      type: DeclarativeStream
      name: expense reports
      primary_key:
        - report_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: expensereports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - expense_reports
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expense reports"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - user_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    Taxes:
      type: DeclarativeStream
      name: Taxes
      primary_key:
        - tax_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: settings/taxes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - taxes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Taxes"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - contact_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - project_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
  base_requester:
    type: HttpRequester
    url_base: https://www.zohoapis.{{ config['region'] }}/expense/v1/
    authenticator:
      type: OAuthAuthenticator
      refresh_request_body: {}
      token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
      grant_type: refresh_token
      client_id: "{{ config[\"client_id\"] }}"
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_token: "{{ config[\"client_refresh_token\"] }}"

streams:
  - $ref: "#/definitions/streams/trips"
  - $ref: "#/definitions/streams/expense details"
  - $ref: "#/definitions/streams/expense reports"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/Taxes"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/projects"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - client_refresh_token
      - region
    properties:
      client_id:
        type: string
        title: Client ID
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        title: Client secret
        airbyte_secret: true
        order: 1
      client_refresh_token:
        type: string
        title: Refresh token
        airbyte_secret: true
        order: 2
      region:
        type: string
        description: >-
          The region code for the Zoho Books API, such as 'com', 'eu', 'in',
          etc.
        title: Region
        enum:
          - com
          - eu
          - in
          - com.cn
          - com.au
          - jp
          - sa
          - ca
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    trips: true
    expense details: true
    expense reports: true
    users: true
    Taxes: true
    contacts: true
    projects: true
  testedStreams:
    trips:
      streamHash: e949c3614ae4a902d526e17cebb0440cf447564a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    expense details:
      streamHash: a7b2f89258247b3af07dd26715af63a823df4dc0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    expense reports:
      streamHash: ad58807aec232235569796ce25748c593e4c31c5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: e37e8f3b315d76ed12c825f62225be80af7e7bcf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Taxes:
      streamHash: db104b3b97fdb25ff01da2ba8d55ab8325196ab4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: 2731d26599457830816b1187e6600e00234eea54
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: 1d1d19a321b2b5d993a304ee81603d34c5db6c58
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  trips:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      approved_date:
        type:
          - string
          - "null"
      approver_email:
        type:
          - string
          - "null"
      approver_employee_no:
        type:
          - string
          - "null"
      approver_id:
        type:
          - string
          - "null"
      approver_name:
        type:
          - string
          - "null"
      approver_photo_url:
        type:
          - string
          - "null"
      approver_zuid:
        type:
          - string
          - "null"
      bcy_budget_amount:
        type:
          - number
          - "null"
      booking_summary:
        type:
          - array
          - "null"
      budget_amount:
        type:
          - number
          - "null"
      business_purpose:
        type:
          - string
          - "null"
      can_other_travelers_associate_report:
        type:
          - boolean
          - "null"
      created_by_email:
        type:
          - string
          - "null"
      created_by_id:
        type:
          - string
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      creator_employee_no:
        type:
          - string
          - "null"
      creator_photo_url:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      currency_id:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
      customer_id:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      department_id:
        type:
          - string
          - "null"
      department_name:
        type:
          - string
          - "null"
      departure:
        type:
          - string
          - "null"
      destination_city:
        type:
          - string
          - "null"
      destination_country:
        type:
          - string
          - "null"
      destination_state:
        type:
          - string
          - "null"
      employee_number:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      exchange_rate:
        type:
          - number
          - "null"
      from_source:
        type:
          - string
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      is_billable:
        type:
          - boolean
          - "null"
      is_international:
        type:
          - boolean
          - "null"
      is_round_trip:
        type:
          - boolean
          - "null"
      is_visa_required:
        type:
          - boolean
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      last_submitted_date:
        type:
          - string
          - "null"
      meal_preference:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      policy_display_name:
        type:
          - string
          - "null"
      policy_id:
        type:
          - string
          - "null"
      policy_name:
        type:
          - string
          - "null"
      price_precision:
        type:
          - number
          - "null"
      project_id:
        type:
          - string
          - "null"
      project_name:
        type:
          - string
          - "null"
      reports_count:
        type:
          - number
          - "null"
      seat_preference:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      sub_status:
        type:
          - string
          - "null"
      submitted_by:
        type:
          - number
          - "null"
      submitted_date:
        type:
          - string
          - "null"
      submitted_to_department_name:
        type:
          - string
          - "null"
      submitted_to_email:
        type:
          - string
          - "null"
      submitted_to_employee_no:
        type:
          - string
          - "null"
      submitted_to_id:
        type:
          - string
          - "null"
      submitted_to_name:
        type:
          - string
          - "null"
      submitter_department_name:
        type:
          - string
          - "null"
      submitter_email:
        type:
          - string
          - "null"
      submitter_employee_no:
        type:
          - string
          - "null"
      submitter_name:
        type:
          - string
          - "null"
      submitter_photo_url:
        type:
          - string
          - "null"
      submitter_zuid:
        type:
          - string
          - "null"
      trip_id:
        type: string
      trip_name:
        type:
          - string
          - "null"
      trip_number:
        type:
          - string
          - "null"
      user_custom_fields:
        type:
          - array
          - "null"
      user_email:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
      user_name:
        type:
          - string
          - "null"
    required:
      - trip_id
  expense details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      accounting_app_name:
        type:
          - string
          - "null"
      accounting_reference_id:
        type:
          - string
          - "null"
      accounting_sync_time:
        type:
          - string
          - "null"
      adjustment:
        type:
          - number
          - "null"
      amount:
        type:
          - number
          - "null"
      amount_policy_violated:
        type:
          - boolean
          - "null"
      attendee_amount:
        type:
          - number
          - "null"
      attendee_count:
        type:
          - number
          - "null"
      bcy_subtotal:
        type:
          - number
          - "null"
      bcy_surcharge_amount:
        type:
          - number
          - "null"
      bcy_tax_amount:
        type:
          - number
          - "null"
      bcy_total:
        type:
          - number
          - "null"
      card_type:
        type:
          - string
          - "null"
      category_icon:
        type:
          - string
          - "null"
      category_id:
        type:
          - string
          - "null"
      category_name:
        type:
          - string
          - "null"
      created_by:
        type:
          - string
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      created_time_formatted:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      currency_format_unformatted:
        type:
          - string
          - "null"
      currency_id:
        type:
          - string
          - "null"
      currency_symbol:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
      custom_policy_violation_count:
        type:
          - number
          - "null"
      customer_id:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      department_id:
        type:
          - string
          - "null"
      department_name:
        type:
          - string
          - "null"
      description_policy_violated:
        type:
          - boolean
          - "null"
      distance:
        type:
          - number
          - "null"
      documents:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            alter_text:
              type:
                - string
                - "null"
            attachment_order:
              type:
                - number
                - "null"
            can_send_in_mail:
              type:
                - boolean
                - "null"
            document_id:
              type:
                - string
                - "null"
            file_name:
              type:
                - string
                - "null"
            file_size:
              type:
                - string
                - "null"
            file_size_formatted:
              type:
                - string
                - "null"
            file_type:
              type:
                - string
                - "null"
            is_custom_field_document:
              type:
                - boolean
                - "null"
            source:
              type:
                - string
                - "null"
            source_formatted:
              type:
                - string
                - "null"
      due_days:
        type:
          - string
          - "null"
      duplicate_status:
        type:
          - string
          - "null"
      employee_number:
        type:
          - string
          - "null"
      end_address:
        type:
          - string
          - "null"
      end_reading:
        type:
          - string
          - "null"
      end_time:
        type:
          - string
          - "null"
      exchange_rate:
        type:
          - number
          - "null"
      expense_id:
        type: string
      expense_item_bcy_total:
        type:
          - number
          - "null"
      expense_item_bcy_total_with_tax:
        type:
          - number
          - "null"
      expense_item_total:
        type:
          - number
          - "null"
      expense_item_total_with_tax:
        type:
          - number
          - "null"
      expense_location:
        type:
          - string
          - "null"
      expense_type:
        type:
          - string
          - "null"
      expired_by:
        type:
          - string
          - "null"
      fcy_attendee_amount:
        type:
          - number
          - "null"
      fcy_surcharge_amount:
        type:
          - number
          - "null"
      gl_code:
        type:
          - string
          - "null"
      gst_treatment:
        type:
          - string
          - "null"
      has_itemized_expense:
        type:
          - boolean
          - "null"
      imported_transaction_id:
        type:
          - string
          - "null"
      is_added_from_card:
        type:
          - boolean
          - "null"
      is_added_from_imprest:
        type:
          - boolean
          - "null"
      is_billable:
        type:
          - boolean
          - "null"
      is_closed_market_rate:
        type:
          - boolean
          - "null"
      is_custom:
        type:
          - boolean
          - "null"
      is_expired:
        type:
          - boolean
          - "null"
      is_gps_location_mocked:
        type:
          - boolean
          - "null"
      is_inclusive_tax:
        type:
          - boolean
          - "null"
      is_itemized_expense:
        type:
          - boolean
          - "null"
      is_personal:
        type:
          - boolean
          - "null"
      is_pre_gst:
        type:
          - boolean
          - "null"
      is_receipt_only:
        type:
          - boolean
          - "null"
      is_reimbursable:
        type:
          - boolean
          - "null"
      is_round_trip:
        type:
          - boolean
          - "null"
      is_uncategorized:
        type:
          - boolean
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      last_rejected_reason:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      merchant_code:
        type:
          - string
          - "null"
      merchant_id:
        type:
          - string
          - "null"
      merchant_name:
        type:
          - string
          - "null"
      mileage_log_id:
        type:
          - string
          - "null"
      mileage_rate:
        type:
          - number
          - "null"
      mileage_type:
        type:
          - string
          - "null"
      mileage_unit:
        type:
          - string
          - "null"
      paid_through_account_id:
        type:
          - string
          - "null"
      paid_through_account_name:
        type:
          - string
          - "null"
      payment_mode:
        type:
          - string
          - "null"
      per_diem_city:
        type:
          - string
          - "null"
      per_diem_country:
        type:
          - string
          - "null"
      per_diem_days:
        type:
          - number
          - "null"
      per_diem_id:
        type:
          - string
          - "null"
      per_diem_name:
        type:
          - string
          - "null"
      per_diem_rate:
        type:
          - number
          - "null"
      policy_display_name:
        type:
          - string
          - "null"
      policy_id:
        type:
          - string
          - "null"
      policy_name:
        type:
          - string
          - "null"
      policy_violated:
        type:
          - boolean
          - "null"
      price_precision:
        type:
          - number
          - "null"
      processed_by:
        type:
          - string
          - "null"
      project_code:
        type:
          - string
          - "null"
      project_id:
        type:
          - string
          - "null"
      project_name:
        type:
          - string
          - "null"
      rcy_attendee_amount:
        type:
          - number
          - "null"
      rcy_currency_code:
        type:
          - string
          - "null"
      rcy_currency_id:
        type:
          - string
          - "null"
      rcy_exchange_rate:
        type:
          - number
          - "null"
      rcy_surcharge_amount:
        type:
          - number
          - "null"
      rcy_total:
        type:
          - number
          - "null"
      receipt_name:
        type:
          - string
          - "null"
      receipt_policy_violated:
        type:
          - boolean
          - "null"
      receipt_status:
        type:
          - string
          - "null"
      receipt_type:
        type:
          - string
          - "null"
      reference_number:
        type:
          - string
          - "null"
      reimbursement_currency_code:
        type:
          - string
          - "null"
      reimbursement_currency_id:
        type:
          - string
          - "null"
      reimbursement_date:
        type:
          - string
          - "null"
      reimbursement_paid_through_account_id:
        type:
          - string
          - "null"
      reimbursement_paid_through_account_name:
        type:
          - string
          - "null"
      reimbursement_reference:
        type:
          - string
          - "null"
      rejected_count:
        type:
          - number
          - "null"
      report_id:
        type:
          - string
          - "null"
      report_name:
        type:
          - string
          - "null"
      report_number:
        type:
          - string
          - "null"
      report_status:
        type:
          - string
          - "null"
      report_sub_status:
        type:
          - string
          - "null"
      route_map_url:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      start_address:
        type:
          - string
          - "null"
      start_reading:
        type:
          - string
          - "null"
      start_time:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tax_amount:
        type:
          - number
          - "null"
      tax_id:
        type:
          - string
          - "null"
      tax_name:
        type:
          - string
          - "null"
      tax_percentage:
        type:
          - number
          - "null"
      total:
        type:
          - number
          - "null"
      total_policy_violation_count:
        type:
          - number
          - "null"
      total_without_tax:
        type:
          - number
          - "null"
      transaction_description:
        type:
          - string
          - "null"
      trip_id:
        type:
          - string
          - "null"
      trip_name:
        type:
          - string
          - "null"
      trip_number:
        type:
          - string
          - "null"
      trip_status:
        type:
          - string
          - "null"
      user_custom_fields:
        type:
          - array
          - "null"
      user_email:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
      user_name:
        type:
          - string
          - "null"
      vehicle_id:
        type:
          - string
          - "null"
      vehicle_name:
        type:
          - string
          - "null"
      vehicle_type:
        type:
          - string
          - "null"
      way_points:
        type:
          - array
          - "null"
      zcrm_potential_id:
        type:
          - string
          - "null"
      zcrm_potential_name:
        type:
          - string
          - "null"
      zp_project_id:
        type:
          - string
          - "null"
      zp_project_name:
        type:
          - string
          - "null"
    required:
      - expense_id
  expense reports:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      accounting_app_name:
        type:
          - string
          - "null"
      accounting_reference_id:
        type:
          - string
          - "null"
      accounting_sync_time:
        type:
          - string
          - "null"
      amount_policy_violation_count:
        type:
          - number
          - "null"
      amount_to_be_reimbursed:
        type:
          - number
          - "null"
      approved_date:
        type:
          - string
          - "null"
      approver_email:
        type:
          - string
          - "null"
      approver_employee_no:
        type:
          - string
          - "null"
      approver_id:
        type:
          - string
          - "null"
      approver_name:
        type:
          - string
          - "null"
      approver_photo_url:
        type:
          - string
          - "null"
      approver_zuid:
        type:
          - string
          - "null"
      audit_status:
        type:
          - string
          - "null"
      can_push_to_accounting_app:
        type:
          - boolean
          - "null"
      claim_type_id:
        type:
          - string
          - "null"
      claim_type_name:
        type:
          - string
          - "null"
      comments_count:
        type:
          - number
          - "null"
      created_by_id:
        type:
          - string
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      created_by_zuid:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      creator_employee_no:
        type:
          - string
          - "null"
      creator_photo_url:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      currency_id:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
      custom_policy_violation_count:
        type:
          - number
          - "null"
      customer_id:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      department_id:
        type:
          - string
          - "null"
      department_name:
        type:
          - string
          - "null"
      description_policy_violation_count:
        type:
          - number
          - "null"
      due_date:
        type:
          - string
          - "null"
      due_days:
        type:
          - string
          - "null"
      employee_number:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      expense_count:
        type:
          - number
          - "null"
      imprest_account_id:
        type:
          - string
          - "null"
      imprest_account_name:
        type:
          - string
          - "null"
      is_ach_reimbursement:
        type:
          - boolean
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      is_international_trip:
        type:
          - boolean
          - "null"
      is_shared_report:
        type:
          - boolean
          - "null"
      last_modified_date:
        type:
          - string
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      last_submitted_date:
        type:
          - string
          - "null"
      non_reimbursable_total:
        type:
          - number
          - "null"
      payrun_name:
        type:
          - string
          - "null"
      policy_display_name:
        type:
          - string
          - "null"
      policy_id:
        type:
          - string
          - "null"
      policy_name:
        type:
          - string
          - "null"
      policy_violated:
        type:
          - boolean
          - "null"
      project_id:
        type:
          - string
          - "null"
      project_name:
        type:
          - string
          - "null"
      rcy_currency_code:
        type:
          - string
          - "null"
      rcy_currency_id:
        type:
          - string
          - "null"
      rcy_currency_symbol:
        type:
          - string
          - "null"
      rcy_exchange_rate:
        type:
          - number
          - "null"
      rcy_non_reimbursable_total:
        type:
          - number
          - "null"
      rcy_price_precision:
        type:
          - number
          - "null"
      rcy_reimbursable_total:
        type:
          - number
          - "null"
      rcy_total:
        type:
          - number
          - "null"
      receipt_policy_violation_count:
        type:
          - number
          - "null"
      reimbursable_total:
        type:
          - number
          - "null"
      reimbursement_date:
        type:
          - string
          - "null"
      report_id:
        type: string
      report_name:
        type:
          - string
          - "null"
      report_number:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      sub_status:
        type:
          - string
          - "null"
      submitted_by:
        type:
          - string
          - "null"
      submitted_date:
        type:
          - string
          - "null"
      submitted_to_email:
        type:
          - string
          - "null"
      submitted_to_employee_no:
        type:
          - string
          - "null"
      submitted_to_id:
        type:
          - string
          - "null"
      submitted_to_name:
        type:
          - string
          - "null"
      submitted_to_zuid:
        type:
          - string
          - "null"
      submitter_email:
        type:
          - string
          - "null"
      submitter_employee_no:
        type:
          - string
          - "null"
      submitter_name:
        type:
          - string
          - "null"
      submitter_photo_url:
        type:
          - string
          - "null"
      submitter_zuid:
        type:
          - string
          - "null"
      total:
        type:
          - number
          - "null"
      total_policy_violation_count:
        type:
          - number
          - "null"
      trip_budget_amount:
        type:
          - number
          - "null"
      trip_budget_amount_currency_code:
        type:
          - string
          - "null"
      trip_budget_amount_currency_id:
        type:
          - string
          - "null"
      trip_departure:
        type:
          - string
          - "null"
      trip_destination_city:
        type:
          - string
          - "null"
      trip_destination_country:
        type:
          - string
          - "null"
      trip_end_date:
        type:
          - string
          - "null"
      trip_id:
        type:
          - string
          - "null"
      trip_name:
        type:
          - string
          - "null"
      trip_number:
        type:
          - string
          - "null"
      trip_start_date:
        type:
          - string
          - "null"
      trip_status:
        type:
          - string
          - "null"
      uncategorized_expense_count:
        type:
          - number
          - "null"
      user_custom_fields:
        type:
          - array
          - "null"
      user_email:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
      user_name:
        type:
          - string
          - "null"
      user_photo_url:
        type:
          - string
          - "null"
      zcrm_potential_id:
        type:
          - string
          - "null"
      zcrm_potential_name:
        type:
          - string
          - "null"
    required:
      - report_id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accounting_app_name:
        type:
          - string
          - "null"
      accounting_reference_id:
        type:
          - string
          - "null"
      accounting_vendor_reference_id:
        type:
          - string
          - "null"
      approval_amount_limit:
        type:
          - number
          - "null"
      approver_photo_url:
        type:
          - string
          - "null"
      approves_to_email:
        type:
          - string
          - "null"
      approves_to_id:
        type:
          - string
          - "null"
      approves_to_name:
        type:
          - string
          - "null"
      bank_name:
        type:
          - string
          - "null"
      can_approve:
        type:
          - boolean
          - "null"
      created_time:
        type:
          - string
          - "null"
      default_approver_email:
        type:
          - string
          - "null"
      default_approver_id:
        type:
          - string
          - "null"
      default_approver_name:
        type:
          - string
          - "null"
      department_id:
        type:
          - string
          - "null"
      department_name:
        type:
          - string
          - "null"
      display_name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      employee_number:
        type:
          - string
          - "null"
      getthere_access:
        type:
          - string
          - "null"
      getthere_profile_created:
        type:
          - boolean
          - "null"
      hr_url:
        type:
          - string
          - "null"
      invitation_type:
        type:
          - string
          - "null"
      is_current_user:
        type:
          - boolean
          - "null"
      is_from_crm:
        type:
          - boolean
          - "null"
      is_from_zoho_people:
        type:
          - boolean
          - "null"
      is_super_admin:
        type:
          - boolean
          - "null"
      last_four_digits:
        type:
          - string
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      photo_url:
        type:
          - string
          - "null"
      policy_id:
        type:
          - string
          - "null"
      policy_name:
        type:
          - string
          - "null"
      role_id:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      submission_amount_limit:
        type:
          - number
          - "null"
      travel_policy_display_name:
        type:
          - string
          - "null"
      travel_policy_id:
        type:
          - string
          - "null"
      travel_policy_name:
        type:
          - string
          - "null"
      user_id:
        type: string
      user_mail_in_id:
        type:
          - string
          - "null"
      user_role:
        type:
          - string
          - "null"
      user_type:
        type:
          - string
          - "null"
    required:
      - user_id
  Taxes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accounting_app_name:
        type:
          - string
          - "null"
      accounting_reference_id:
        type:
          - string
          - "null"
      diff_rate_reason:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      is_editable:
        type:
          - boolean
          - "null"
      is_inactive:
        type:
          - boolean
          - "null"
      is_value_added:
        type:
          - number
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      output_tax_account_name:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tax_account_id:
        type:
          - string
          - "null"
      tax_id:
        type: string
      tax_name:
        type:
          - string
          - "null"
      tax_percentage:
        type:
          - number
          - "null"
      tax_type:
        type:
          - string
          - "null"
    required:
      - tax_id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ach_supported:
        type:
          - boolean
          - "null"
      company_name:
        type:
          - string
          - "null"
      contact_id:
        type: string
      contact_name:
        type:
          - string
          - "null"
      contact_type:
        type:
          - string
          - "null"
      contact_type_formatted:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      created_time_formatted:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      currency_id:
        type:
          - string
          - "null"
      custom_field_hash:
        type:
          - object
          - "null"
      custom_fields:
        type:
          - array
          - "null"
      customer_name:
        type:
          - string
          - "null"
      customer_sub_type:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      facebook:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      has_attachment:
        type:
          - boolean
          - "null"
      is_linked_with_zohocrm:
        type:
          - boolean
          - "null"
      language_code:
        type:
          - string
          - "null"
      language_code_formatted:
        type:
          - string
          - "null"
      last_modified_time:
        type:
          - string
          - "null"
      last_modified_time_formatted:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      outstanding_payable_amount:
        type:
          - number
          - "null"
      outstanding_payable_amount_bcy:
        type:
          - number
          - "null"
      outstanding_receivable_amount:
        type:
          - number
          - "null"
      outstanding_receivable_amount_bcy:
        type:
          - number
          - "null"
      payment_terms:
        type:
          - number
          - "null"
      payment_terms_label:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      portal_status:
        type:
          - string
          - "null"
      primary_contact_id:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      twitter:
        type:
          - string
          - "null"
      unused_credits_payable_amount:
        type:
          - number
          - "null"
      unused_credits_payable_amount_bcy:
        type:
          - number
          - "null"
      unused_credits_receivable_amount:
        type:
          - number
          - "null"
      unused_credits_receivable_amount_bcy:
        type:
          - number
          - "null"
      vendor_name:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
    required:
      - contact_id
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      billing_type:
        type:
          - string
          - "null"
      budget_amount:
        type:
          - number
          - "null"
      budget_hours:
        type:
          - number
          - "null"
      budget_type:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      other_service_app_source:
        type:
          - string
          - "null"
      project_code:
        type:
          - string
          - "null"
      project_cost:
        type:
          - number
          - "null"
      project_head:
        type:
          - string
          - "null"
      project_head_email:
        type:
          - string
          - "null"
      project_id:
        type: string
      project_name:
        type:
          - string
          - "null"
      show_to_all_users:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - project_id
