$blue-50: #eae9ff;
$blue-100: #cbc8ff;
$blue-200: #a6a4ff;
$blue-300: #7f7eff;
$blue-400: #615eff;
$blue-500: #433bfb;
$blue-600: #3f30ee;
$blue-700: #3622e1;
$blue-800: #2e0ad7;
$blue-900: #2800bd;
$blue: $blue-400;

$blues: (
  "blue": $blue,
  "blue-50": $blue-50,
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800,
  "blue-900": $blue-900,
);

$dark-blue-50: #e6e7ef;
$dark-blue-100: #c0c3d9;
$dark-blue-200: #989dbf;
$dark-blue-300: #989dbf;
$dark-blue-400: #565c94;
$dark-blue-500: #3b4283;
$dark-blue-600: #353b7b;
$dark-blue-700: #2d3270;
$dark-blue-800: #262963;
$dark-blue-900: #1a194d;
$dark-blue: $dark-blue-900;

$dark-blues: (
  "dark-blue": $dark-blue,
  "dark-blue-50": $dark-blue-50,
  "dark-blue-100": $dark-blue-100,
  "dark-blue-200": $dark-blue-200,
  "dark-blue-300": $dark-blue-300,
  "dark-blue-400": $dark-blue-400,
  "dark-blue-500": $dark-blue-500,
  "dark-blue-600": $dark-blue-600,
  "dark-blue-700": $dark-blue-700,
  "dark-blue-800": $dark-blue-800,
  "dark-blue-900": $dark-blue-900,
);

$grey-30: #fcfcfd;
$grey-50: #f8f8fa;
$grey-100: #e8e8ed;
$grey-200: #d9d9e0;
$grey-300: #afafc1;
$grey-400: #8b8ba0;
$grey-500: #717189;
$grey: $grey-300;

$greys: (
  "grey": $grey,
  "grey-30": $grey-50,
  "grey-50": $grey-50,
  "grey-100": $grey-100,
  "grey-200": $grey-200,
  "grey-300": $grey-300,
  "grey-400": $grey-400,
  "grey-500": $grey-500,
);

$orange-50: #fae9e8;
$orange-100: #fecbbf;
$orange-200: #fea996;
$orange-300: #fe866c;
$orange-400: #ff6a4d;
$orange-500: #ff4f31;
$orange-600: #f4492d;
$orange-700: #e64228;
$orange-800: #d83c24;
$orange-900: #bf2f1b;
$orange: $orange-400;

$oranges: (
  "orange": $orange,
  "orange-50": $orange-50,
  "orange-100": $orange-100,
  "orange-200": $orange-200,
  "orange-300": $orange-300,
  "orange-400": $orange-400,
  "orange-500": $orange-500,
  "orange-600": $orange-600,
  "orange-700": $orange-700,
  "orange-800": $orange-800,
  "orange-900": $orange-900,
);

$green-50: #dcf6f8;
$green-100: #a7e9ec;
$green-200: #a7e9ec;
$green-300: #00cbd6;
$green-400: #00c0cd;
$green-500: #00b5c7;
$green-600: #00a5b5;
$green-700: #00909b;
$green-800: #007c84;
$green-900: #005959;
$green: $green-200;

$greens: (
  "green": $green,
  "green-50": $green-50,
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800,
  "green-900": $green-900,
);

$red-50: #ffbac6;
$red-100: #ffbac6;
$red-200: #ff8da1;
$red-300: #ff5e7b;
$red-400: #fb395f;
$red-500: #f51a46;
$red-600: #e51145;
$red-700: #d00543;
$red-800: #bc0042;
$red-900: #99003f;
$red: $red-300;

$reds: (
  "red": $red,
  "red-50": $red-50,
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900,
);

$beige-50: #fef9f4;
$beige-100: #ffebd7;
$beige: $beige-50;

$beiges: (
  "beige": $beige,
  "beige-50": $beige-50,
  "beige-100": $beige-100,
);

$black: #000;
$white: #fff;

$black-and-white: (
  "black": $black,
  "white": $white,
);

$yellow-50: #fdf8e1;
$yellow-100: #fbecb3;
$yellow-200: #f9e081;
$yellow-300: #f8d54e;
$yellow-400: #f7ca26;
$yellow-500: #f6c000;
$yellow-600: #f6b300;
$yellow-700: #f7a000;
$yellow-800: #f79000;
$yellow-900: #f77100;
$yellow: $yellow-500;

$yellows: (
  "yellow": $yellow,
  "yellow-50": $yellow-50,
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900,
);

$color-maps: $blues, $dark-blues, $greys, $oranges, $greens, $reds, $beiges, $black-and-white, $yellows;

// THEME

$primary: $blue;

$theme-colors: (
  "primary": $blue,
  "secondary": $orange,
);

$primaryColor: $blue;
$primaryColor10: rgba(98, 94, 255, 0.1);
$primaryColor12: rgba(103, 87, 255, 0.12);
$primaryColor25: rgba(98, 94, 255, 0.25);
$mediumPrimaryColor: #36348f;
$mediumPrimaryColor20: rgba(73, 68, 193, 0.2);
$darkPrimaryColor: #010047;
$darkPrimaryColor60: rgba(1, 0, 71, 0.6);
$brightPrimaryColor: #c5c4ff;
$lightPrimaryColor: #edebff;

$brightColor: #f7f6ff;

$dangerColor: $red;
$dangerColor14: rgba(255, 94, 123, 0.14);
$dangerColor25: rgba(255, 94, 123, 0.25);
$warningColor: #ffbf00;
$warningBackgroundColor: rgba(255, 191, 0, 0.2);
$lightDangerColor: #feedee;
$dangerTransparentColor: rgba(247, 77, 88, 0.1);
$attentionColor: #ffbd2e;
$successColor: #67dae1;
$successColor10: rgba(69, 230, 152, 0.1);
$successColor14: rgb(103, 218, 225, 0.14);
$successColor20: rgba(69, 230, 152, 0.2);
$backgroundColor: $beige;
$shadowColor: rgba(0, 0, 0, 0.25);
$cardShadowColor: rgba(26, 25, 77, 0.12);

$textColor: $dark-blue;
$lightTextColor: $grey;
$textColor90: rgba(26, 26, 33, 0.9);
$darkBlue90: rgba(26, 25, 77, 0.9);
$greyColor80: #353542;
$greyColor70: #555461;
$greyColor60: #6b6b75;
$greyColor55: #868696;
$greyColor40: #b3b3bd;
$greyColor30: $grey-200;
$greyColor20: $grey-100;
$greyColor10: #f0f0f5;
$greyColor0: #f7f7fa;

$whiteColor: $white;
$blackColor: $black;
$beigeColor: $beige;
$darkBeigeColor: $beige-100;
$borderTableColor: #d3dce4;
$lightTableColor: #f5f7f9;
$darkGreyColor: $grey-400;
$redColor: $orange;
$lightRedColor: #ff8870;
$redTransparentColor: rgba(255, 118, 94, 0.1);
$whiteColor5: rgba(255, 255, 255, 0.5);
$transparentColor: rgba(255, 255, 255, 0);

$barChartColor1: $grey-100;
$barChartColor2: $grey-300; // Or $grey
