@use "./colors";

@mixin shadow {
  box-shadow: 0 2px 4px rgba(colors.$dark-blue-900, 12%);
}

@mixin left-shadow {
  box-shadow: -2px 0 10px rgba(colors.$dark-blue-900, 12%);
}

@mixin right-shadow {
  box-shadow: 2px 0 10px rgba(colors.$dark-blue-900, 12%);
}
