@import "./colors";

$transition: 0.3s;
$defaultBottomMargin: 150px;

$rounded-0: 0;
$rounded-1: 2px;
$rounded-2: 4px;
$rounded-3: 6px;
$rounded-4: 8px;
$rounded-5: 10px;
$rounded-6: 12px;
$rounded-full: 9999px;

$rounded-map: (
  "0": $rounded-0,
  "1": $rounded-1,
  "2": $rounded-2,
  "3": $rounded-3,
  "4": $rounded-4,
  "5": $rounded-5,
  "6": $rounded-6,
  "full": $rounded-full,
);

$border-0: 0;
$border-1: 1px;
$border-2: 2px;

$spacing-none: 0;
$spacing-xs: 3px;
$spacing-sm: 5px;
$spacing-m: 10px;
$spacing-l: 15px;
$spacing-xl: 20px;
$spacing-2xl: 40px;

$spacing-map: (
  "0": $spacing-none,
  "1": $spacing-xs,
  "2": $spacing-sm,
  "3": $spacing-m,
  "4": $spacing-l,
  "5": $spacing-xl,
  "6": $spacing-2xl,
  "auto": auto,
);

// ON buttons
$shadow-1: 0px 3px 4px -2px rgba($dark-blue, 0.21);
// Card normal "box/default"
$shadow-2: 0px 2px 4px rgba($dark-blue, 0.12);
// Card hover
$shadow-3: 0px 4px 8px rgba($dark-blue, 0.12), 0px 27px 12px -17px rgba(26, 25, 77, 0.2);

$shadow-map: (
  "1": $shadow-1,
  "2": $shadow-2,
  "3": $shadow-3,
);
