$transition: 0.3s;
$transition-out: all $transition ease-out;

$border-thin: 1px;
$border-thick: 2px;

$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 10px;

$spacing-xs: 3px;
$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 15px;
$spacing-xl: 20px;
$spacing-2xl: 40px;
$spacing-page-bottom: 150px;
$main-page-content-min-width: 960px;

$width-size-menu: 93px;

$width-modal-sm: 492px;
$width-modal-md: 585px;
$width-modal-lg: 940px;
$width-modal-xl: 1008px;
