$transition: 0.3s;
$transition-out: $transition ease-out;

$border-thin: 1px;
$border-thick: 2px;

$border-radius-2xs: 3px;
$border-radius-xs: 4px;
$border-radius-sm: 6px;
$border-radius-md: 8px;
$border-radius-lg: 10px;
$border-radius-xl: 12px;
$border-radius-2xl: 15px;
$border-radius-pill: 500px;

$box-shadow: var(--box-shadow);
$box-shadow-left: var(--box-shadow-left);
$box-shadow-right: var(--box-shadow-right);
$box-shadow-raised: var(--box-shadow-raised);
$box-shadow-popup: var(--box-shadow-popup);
$box-shadow-sidebar: var(--box-shadow-sidebar);

$spacing-xs: 3px;
$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 15px;
$spacing-xl: 20px;
$spacing-2xl: 40px;
$spacing-page-bottom-cloud: 88px;
$main-page-content-min-width: 960px;

$width-size-menu: 93px;
$width-wide-menu: 200px;
$width-max-notification: 600px;

$width-modal-sm: 492px;
$width-modal-md: 585px;
$width-modal-lg: 940px;
$width-modal-xl: 1008px;

$button-height-xs: 32px;
$button-height-sm: 36px;
$button-height-lg: 44px;
