$tooltip: 9999 + 4;
$notification: 9999 + 3;
$datepicker: 9999 + 2;
$modal: 9999 + 1;
$sidebar: 9999;
$schemaChangesBackdropContent: 4;
$schemaChangesBackdrop: 3;
$dropdownMenu: 2;
$tableScroll: 1;
$panelSplitter: 0;
