// This module is only meant to be imported in TypeScript to give access to all SCSS variables
// that TS needs access to while we're migrating from styled components to SCSS.
// New variables won't need to be added here, unless there would be any reason we need to access
// its value from TypeScript.

/* stylelint-disable */

@use "./colors";
@use "./fonts";

:export {
  // Colors
  blue50: colors.$blue-50;
  blue100: colors.$blue-100;
  blue200: colors.$blue-200;
  blue300: colors.$blue-300;
  blue400: colors.$blue-400;
  blue500: colors.$blue-500;
  blue600: colors.$blue-600;
  blue700: colors.$blue-700;
  blue800: colors.$blue-800;
  blue900: colors.$blue-900;
  blue: colors.$blue;
  blueTransparent: colors.$blue-transparent;

  darkBlue50: colors.$dark-blue-50;
  darkBlue100: colors.$dark-blue-100;
  darkBlue200: colors.$dark-blue-200;
  darkBlue300: colors.$dark-blue-300;
  darkBlue400: colors.$dark-blue-400;
  darkBlue500: colors.$dark-blue-500;
  darkBlue600: colors.$dark-blue-600;
  darkBlue700: colors.$dark-blue-700;
  darkBlue800: colors.$dark-blue-800;
  darkBlue900: colors.$dark-blue-900;
  darkBlue: colors.$dark-blue;

  grey30: colors.$grey-30;
  grey50: colors.$grey-50;
  grey100: colors.$grey-100;
  grey200: colors.$grey-200;
  grey300: colors.$grey-300;
  grey400: colors.$grey-400;
  grey500: colors.$grey-500;
  grey600: colors.$grey-600;
  grey700: colors.$grey-700;
  grey800: colors.$grey-800;
  grey900: colors.$grey-900;
  grey: colors.$grey;

  orange50: colors.$orange-50;
  orange100: colors.$orange-100;
  orange200: colors.$orange-200;
  orange300: colors.$orange-300;
  orange400: colors.$orange-400;
  orange500: colors.$orange-500;
  orange600: colors.$orange-600;
  orange700: colors.$orange-700;
  orange800: colors.$orange-800;
  orange900: colors.$orange-900;
  orange: colors.$orange;

  green50: colors.$green-50;
  green100: colors.$green-100;
  green200: colors.$green-200;
  green300: colors.$green-300;
  green400: colors.$green-400;
  green500: colors.$green-500;
  green600: colors.$green-600;
  green700: colors.$green-700;
  green800: colors.$green-800;
  green900: colors.$green-900;
  green: colors.$green;

  red50: colors.$red-50;
  red100: colors.$red-100;
  red200: colors.$red-200;
  red300: colors.$red-300;
  red400: colors.$red-400;
  red500: colors.$red-500;
  red600: colors.$red-600;
  red700: colors.$red-700;
  red800: colors.$red-800;
  red900: colors.$red-900;
  red: colors.$red;

  beige50: colors.$beige-50;
  beige100: colors.$beige-100;
  beige: colors.$beige;

  black: colors.$black;
  white: colors.$white;

  yellow50: colors.$yellow-50;
  yellow100: colors.$yellow-100;
  yellow200: colors.$yellow-200;
  yellow300: colors.$yellow-300;
  yellow400: colors.$yellow-400;
  yellow500: colors.$yellow-500;
  yellow600: colors.$yellow-600;
  yellow700: colors.$yellow-700;
  yellow800: colors.$yellow-800;
  yellow900: colors.$yellow-900;
  yellow: colors.$yellow;

  // Legacy Colors - Please don't use

  primaryColor12: colors.$primaryColor12;

  shadowColor: colors.$shadowColor;
  cardShadowColor: colors.$cardShadowColor;

  textColor90: rgba(colors.$dark-blue, 0.9);
  darkBlue90: rgba(colors.$dark-blue, 0.9);

  lightRedColor: colors.$lightRedColor;
  transparentColor: colors.$transparentColor;

  // Fonts
  regularFont: fonts.$regularFont;
  highlightFont: fonts.$highlightFont;
  codeFont: fonts.$codeFont;
  italicFont: fonts.$italicFont;
}
