@import "./colors";
@import "./variables";

@mixin generate-spacing($name, $prefix, $property, $value) {
  .#{$prefix}-#{$name} {
    #{$property}: $value;
  }
  .#{$prefix}x-#{$name}, .#{$prefix}l-#{$name} {
    #{$property}-left: $value;
  }
  .#{$prefix}x-#{$name}, .#{$prefix}r-#{$name} {
    #{$property}-right: $value;
  }
  .#{$prefix}y-#{$name}, .#{$prefix}t-#{$name} {
    #{$property}-top: $value;
  }
  .#{$prefix}y-#{$name}, .#{$prefix}b-#{$name}{
    #{$property}-bottom: $value;
  }
}

@each $name, $value in $spacing-map {
  @include generate-spacing($name, "m", "margin", $value);
  @include generate-spacing($name, "p", "padding", $value);
}

@each $name, $value in $rounded-map {
  .rounded-#{$name} {
    border-radius: $value;
  }
  .rounded-t-#{$name} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }
  .rounded-b-#{$name} {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }
}

@each $name, $value in $shadow-map {
  .shadow-#{$name} {
    box-shadow: $value;
  }
  .shadow-#{$name}-hover {
    :hover {
      box-shadow: $value;
    }
  }
}

.bold {
  font-weight: 700;
}

.text-left {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@mixin generate-color-classes($color-map) {
  @each $name, $color in $color-map {
    .text-#{$name} {
      color: $color;
    }
    .text-#{$name}-hover {
      &:hover {
        color: $color;
      }
    }
    .text-#{$name}-disabled {
      &:disabled {
        color: $color;
      }
    }
    .bg-#{$name} {
      background-color: $color;
    }
    .bg-#{$name}-hover {
      &:hover {
        background-color: $color;
      }
    }
    .bg-#{$name}-disabled {
      &:disabled {
        background-color: $color;
      }
    }
    .border-#{$name} {
      border-color: $color;
    }
    .border-#{$name}-hover {
      &:hover {
        border-color: $color;
      }
    }
    .border-#{$name}-disabled {
      &:disabled {
        border-color: $color;
      }
    }
  }
}

@each $color-map in $color-maps {
  @include generate-color-classes($color-map);
}
