version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - billing_rates

definitions:
  streams:
    billing_rates:
      type: DeclarativeStream
      name: billing_rates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: billingRate
          http_method: GET
          request_parameters:
            limit: "100"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/billing_rates"
    bookings:
      type: DeclarativeStream
      name: bookings
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: booking
          http_method: GET
          request_parameters:
            limit: "100"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bookings"
    clients:
      type: DeclarativeStream
      name: clients
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: client
          http_method: GET
          request_parameters:
            limit: "100"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients"
    events:
      type: DeclarativeStream
      name: events
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: event
          http_method: GET
          request_parameters:
            limit: "100"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    holidays:
      type: DeclarativeStream
      name: holidays
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: holiday
          http_method: GET
          request_parameters:
            limit: "100"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/holidays"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: project
          http_method: GET
          request_parameters:
            limit: "100"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    resources:
      type: DeclarativeStream
      name: resources
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: resource
          http_method: GET
          request_parameters:
            limit: "100"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/resources"
  base_requester:
    type: HttpRequester
    url_base: https://api.hubplanner.com/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/billing_rates"
  - $ref: "#/definitions/streams/bookings"
  - $ref: "#/definitions/streams/clients"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/holidays"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/resources"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          Hubplanner API key. See
          https://github.com/hubplanner/API#authentication for more details.
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    billing_rates: false
    bookings: false
    clients: false
    events: false
    holidays: false
    projects: false
    resources: false

schemas:
  billing_rates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - "null"
          - string
      _id:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - string
        format: date-time
      currency:
        type: string
      label:
        type: string
      rate:
        type:
          - "null"
          - number
      updatedDate:
        type:
          - "null"
          - string
        format: date-time
  bookings:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      metadata:
        type:
          - "null"
          - string
      _id:
        type:
          - "null"
          - string
      allDay:
        type:
          - "null"
          - boolean
      backgroundColor:
        type:
          - "null"
          - string
      billable:
        type:
          - "null"
          - boolean
      bookingCreatorId:
        type:
          - "null"
          - string
      bookingRate:
        type:
          - "null"
          - object
        properties:
          external:
            type:
              - "null"
              - object
            properties:
              defaultRateId:
                type:
                  - "null"
                  - integer
          internal:
            type:
              - "null"
              - object
            properties:
              defaultRateId:
                type:
                  - "null"
                  - integer
      categoryName:
        type:
          - "null"
          - string
      categoryTemplateId:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - string
        format: date-time
      customFields:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            _id:
              type: string
            choices:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  _id:
                    type: string
                  choiceId:
                    type: string
                  value:
                    type:
                      - "null"
                      - string
            templateId:
              type: string
            templateLabel:
              type:
                - "null"
                - string
            templateType:
              type: string
            value:
              type:
                - "null"
                - string
      deletedById:
        type:
          - "null"
          - string
      details:
        type:
          - "null"
          - object
        properties:
          bookedMinutes:
            type:
              - "null"
              - integer
          budgetBookedAmount:
            type:
              - "null"
              - integer
          holidayCount:
            type:
              - "null"
              - integer
          offDaysCount:
            type:
              - "null"
              - integer
          workDaysCount:
            type:
              - "null"
              - integer
          workWeekDetails:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
      end:
        type: string
      lastUpdatedById:
        type:
          - "null"
          - string
      note:
        type:
          - "null"
          - string
      project:
        type: string
      resource:
        type: string
      scale:
        type:
          - "null"
          - string
      start:
        type: string
      state:
        type:
          - "null"
          - string
      stateValue:
        type:
          - "null"
          - integer
      title:
        type:
          - "null"
          - string
      updatedDate:
        type:
          - "null"
          - string
        format: date-time
  clients:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      __v:
        type:
          - "null"
          - integer
      _id:
        type:
          - "null"
          - string
      company:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - string
        format: date-time
      deleted:
        type:
          - "null"
          - boolean
      name:
        type: string
      updatedDate:
        type:
          - "null"
          - string
        format: date-time
  events:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - "null"
          - string
      _id:
        type:
          - "null"
          - string
      backgroundColor:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - string
        format: date-time
      label:
        type: string
      name:
        type: string
      updatedDate:
        type:
          - "null"
          - string
        format: date-time
  holidays:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - "null"
          - string
      _id:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - string
        format: date-time
      date:
        type:
          - "null"
          - string
        format: date-time
      name:
        type: string
      updatedDate:
        type:
          - "null"
          - string
        format: date-time
  projects:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - "null"
          - string
      _id:
        type:
          - "null"
          - string
      backgroundColor:
        type:
          - "null"
          - string
      billable:
        type:
          - "null"
          - boolean
      budget:
        type:
          - "null"
          - object
        properties:
          cashAmount:
            type:
              - "null"
              - object
            properties:
              active:
                type:
                  - "null"
                  - boolean
              amount:
                type:
                  - "null"
                  - number
              billingRate:
                type:
                  - "null"
                  - object
                properties:
                  id:
                    type:
                      - "null"
                      - string
                  rate:
                    type:
                      - "null"
                      - number
                  useDefault:
                    type:
                      - "null"
                      - boolean
              currency:
                type:
                  - "null"
                  - string
          hasBudget:
            type:
              - "null"
              - boolean
          projectHours:
            type:
              - "null"
              - object
            properties:
              active:
                type:
                  - "null"
                  - boolean
              hours:
                type:
                  - "null"
                  - number
      budgetCashAmount:
        type:
          - "null"
          - number
      budgetCategories:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
      budgetCurrency:
        type:
          - "null"
          - string
      budgetHours:
        type:
          - "null"
          - number
      categoryGroups:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      companyBillingRateId:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - string
        format: date-time
      customFields:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            _id:
              type: string
            choices:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  _id:
                    type: string
                  choiceId:
                    type: string
                  value:
                    type:
                      - "null"
                      - string
            templateId:
              type: string
            templateLabel:
              type:
                - "null"
                - string
            templateType:
              type: string
            value:
              type:
                - "null"
                - string
      customers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      defaultCategory:
        type:
          - "null"
          - string
      end:
        type:
          - "null"
          - string
      fixedCosts:
        type:
          - "null"
          - array
      includeBookedTimeGrid:
        type:
          - "null"
          - boolean
      includeBookedTimeReports:
        type:
          - "null"
          - boolean
      links:
        type:
          - "null"
          - object
        properties: {}
      name:
        type: string
      note:
        type:
          - "null"
          - string
      notes:
        type:
          - "null"
          - string
      private:
        type:
          - "null"
          - boolean
      projectCode:
        type:
          - "null"
          - string
      projectManagers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      projectRate:
        type:
          - "null"
          - object
        properties:
          external:
            type:
              - "null"
              - object
            properties:
              customRates:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    _id:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    resourceId:
                      type:
                        - "null"
                        - string
              defaultRateId:
                type:
                  - "null"
                  - string
          internal:
            type:
              - "null"
              - object
            properties:
              customRates:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    _id:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    resourceId:
                      type:
                        - "null"
                        - string
              defaultRateId:
                type:
                  - "null"
                  - string
      resourceRates:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            companyBillingRate:
              type:
                - "null"
                - number
            companyBillingRateId:
              type:
                - "null"
                - string
            resource:
              type:
                - "null"
                - string
      resources:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      start:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
      timeEntryApproval:
        type:
          - "null"
          - boolean
      timeEntryEnabled:
        type:
          - "null"
          - boolean
      timeEntryLocked:
        type:
          - "null"
          - boolean
      timeEntryNoteRequired:
        type:
          - "null"
          - boolean
      updatedDate:
        type:
          - "null"
          - string
        format: date-time
      useProjectDays:
        type:
          - "null"
          - boolean
      useProjectDuration:
        type:
          - "null"
          - boolean
      useStatusColor:
        type:
          - "null"
          - boolean
      workDays:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - boolean
  resources:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - "null"
          - string
      _id:
        type:
          - "null"
          - string
      billable:
        type:
          - "null"
          - boolean
      billing:
        type:
          - "null"
          - object
        properties:
          rate:
            type:
              - "null"
              - number
          useDefault:
            type:
              - "null"
              - boolean
      calendarIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      createdDate:
        type:
          - "null"
          - string
        format: date-time
      customFields:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            _id:
              type: string
            choices:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  _id:
                    type: string
                  choiceId:
                    type: string
                  value:
                    type:
                      - "null"
                      - string
            templateId:
              type: string
            templateLabel:
              type:
                - "null"
                - string
            templateType:
              type: string
            value:
              type:
                - "null"
                - string
      email:
        type:
          - "null"
          - string
      firstName:
        type: string
      isApprover:
        type:
          - "null"
          - boolean
      isProjectManager:
        type:
          - "null"
          - boolean
      lastName:
        type:
          - "null"
          - string
      links:
        type:
          - "null"
          - object
        properties: {}
      note:
        type:
          - "null"
          - string
      resourceRates:
        type:
          - "null"
          - object
        properties:
          external:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties: {}
          internal:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties: {}
      role:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
      updatedDate:
        type:
          - "null"
          - string
        format: date-time
      useCustomAvailability:
        type:
          - "null"
          - boolean
