.formItem {
  margin-top: 21px;
  width: 100%;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  & > button {
    margin-left: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}
