@use "../../scss/colors";

.controlContainer {
  width: 100%;
  display: inline-block;
}

.optionalText {
  display: inline;
  color: colors.$grey-300;
  font-style: oblique;
  padding-left: 5px;
}

.tooltip {
  word-wrap: break-word;
}
