@use "scss/colors";
@use "scss/variables";

$cell-height: 28px;
$cell-left-padding: variables.$spacing-xl + variables.$spacing-sm;

.customTableStyle {
  td {
    border-bottom-color: colors.$grey-50;
  }
}

.headerGroupCell {
  height: 58px;
  background-color: colors.$white;
  color: colors.$dark-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: $cell-height;
  text-transform: capitalize;

  &:first-child {
    padding-left: $cell-left-padding;
    border-radius: 0;
  }

  &:last-child {
    padding-left: 0;
  }
}

.headerCell {
  color: colors.$grey;
  background-color: colors.$grey-50;
  height: $cell-height;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;

  &:first-child {
    padding-left: $cell-left-padding;
    border-radius: 0;
  }

  &:last-child {
    padding-left: 0;
    border-radius: 0;
  }
}

%bodyCell {
  height: $cell-height;
  padding: 0;

  &:first-child {
    padding-left: $cell-left-padding;
    border-radius: 0;
  }
}

.textCell {
  @extend %bodyCell;

  color: colors.$dark-blue;
}

.dataTypeCell {
  @extend %bodyCell;

  color: colors.$grey-400;
}

.arrowCell {
  @extend %bodyCell;

  svg {
    color: colors.$grey-200;
  }
}

.checkboxCell {
  display: flex;
  align-items: center;
  height: $cell-height;
  overflow: unset;
  padding-left: 0;
}

// need to fix styled-component z-index issue
.checkbox {
  position: unset !important;
}
