version: 5.10.2

type: DeclarativeSource

description: >
  This is the setup guide for the Campaign Monitor source.
  Campaign Monitor is an email marketing and services platform
  https://www.campaignmonitor.com/

  This connector ingests a variety of endpoints from the Campaign Monitor API.
  In order to use the API, you must first create an account. You can generate
  your API key in the account settings.

  https://www.campaignmonitor.com/api/v3-3/getting-started/ 

check:
  type: CheckStream
  stream_names:
    - clients

definitions:
  streams:
    clients:
      type: DeclarativeStream
      name: clients
      primary_key:
        - ClientID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients"
    admins:
      type: DeclarativeStream
      name: admins
      primary_key:
        - EmailAddress
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: admins.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/admins"
    client_details:
      type: DeclarativeStream
      name: client_details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/client_details"
    segments:
      type: DeclarativeStream
      name: segments
      primary_key:
        - SegmentID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/segments.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/segments"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - TemplateID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/templates.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    people:
      type: DeclarativeStream
      name: people
      primary_key:
        - EmailAddress
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/people.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/people"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - Name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/tags.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    subscriber_lists:
      type: DeclarativeStream
      name: subscriber_lists
      primary_key:
        - ListID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/lists.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscriber_lists"
    suppression_lists:
      type: DeclarativeStream
      name: suppression_lists
      primary_key:
        - EmailAddress
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/suppressionlist.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagesize
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 1000
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suppression_lists"
    sent_campaigns:
      type: DeclarativeStream
      name: sent_campaigns
      primary_key:
        - CampaignID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/campaigns.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagesize
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 1000
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: SentDate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: sentFromDate
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sent_campaigns"
    draft_campaigns:
      type: DeclarativeStream
      name: draft_campaigns
      primary_key:
        - CampaignID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/drafts.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/draft_campaigns"
    scheduled_campaigns:
      type: DeclarativeStream
      name: scheduled_campaigns
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients/{{ config["client_id"] }}/scheduled.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scheduled_campaigns"
  base_requester:
    type: HttpRequester
    url_base: https://api.createsend.com/api/v3.3/
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config[\"username\"] }}"
      password: "{{ config[\"password\"] }}"

streams:
  - $ref: "#/definitions/streams/clients"
  - $ref: "#/definitions/streams/admins"
  - $ref: "#/definitions/streams/client_details"
  - $ref: "#/definitions/streams/segments"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/people"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/subscriber_lists"
  - $ref: "#/definitions/streams/suppression_lists"
  - $ref: "#/definitions/streams/sent_campaigns"
  - $ref: "#/definitions/streams/draft_campaigns"
  - $ref: "#/definitions/streams/scheduled_campaigns"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
    properties:
      username:
        type: string
        title: Username
        order: 0
      password:
        type: string
        title: Password
        always_show: true
        airbyte_secret: true
        order: 1
      client_id:
        type: string
        description: The specific ID of a client in your account
        title: Client ID
        order: 2
      start_date:
        type: string
        description: Date from when the sync should start
        title: start_date
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    clients: true
    admins: true
    client_details: true
    segments: true
    templates: true
    people: true
    tags: true
    subscriber_lists: true
    suppression_lists: true
    sent_campaigns: true
    draft_campaigns: true
    scheduled_campaigns: true
  testedStreams:
    clients:
      streamHash: 94dac85b511a5ac97e21301d8e5b1058fe85693f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    admins:
      streamHash: 98d12e6061d4a1dae696088e7363d642f38a2b9d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    client_details:
      streamHash: 7bcdc8d9fdd583fcc541bbb421bd607e136fa2eb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    segments:
      streamHash: 694c356617d802eff6daa65dcd5a39b4ca280f11
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      streamHash: 26b61506af69db37dabe897c40ce9178915d5037
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    people:
      streamHash: ae983b5193e88333fab3acc7d597ccc21202f3de
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: 4719bdcd546c6a7662974bcff883b2d346f54809
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subscriber_lists:
      streamHash: 36f50617cf4608a7d001de07f24f4e3bcac21184
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    suppression_lists:
      streamHash: 3aa2bd8d58f3324c652c138660dd0fc550072a95
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sent_campaigns:
      streamHash: 9117fa030665fbe61e135b5b1b30ab6f3081f940
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    draft_campaigns:
      streamHash: 286294238424b3ebd18e179376c75ea010d04e08
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    scheduled_campaigns:
      streamHash: 9a884f411f61eb5d5e9d061563f6469ef069c367
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  clients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ClientID:
        type: string
      Name:
        type:
          - string
          - "null"
    required:
      - ClientID
  admins:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      EmailAddress:
        type: string
      Name:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
    required:
      - EmailAddress
  client_details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ApiKey:
        type:
          - string
          - "null"
      BasicDetails:
        type:
          - object
          - "null"
        properties:
          ClientID:
            type:
              - string
              - "null"
          CompanyName:
            type:
              - string
              - "null"
          ContactName:
            type:
              - string
              - "null"
          Country:
            type:
              - string
              - "null"
          EmailAddress:
            type:
              - string
              - "null"
          TimeZone:
            type:
              - string
              - "null"
      BillingDetails:
        type:
          - object
          - "null"
        properties:
          BaseDeliveryRate:
            type:
              - number
              - "null"
          BaseDesignSpamTestRate:
            type:
              - number
              - "null"
          BaseRatePerRecipient:
            type:
              - number
              - "null"
          CanPurchaseCredits:
            type:
              - boolean
              - "null"
          ClientPays:
            type:
              - boolean
              - "null"
          Credits:
            type:
              - number
              - "null"
          Currency:
            type:
              - string
              - "null"
          MarkupOnDelivery:
            type:
              - number
              - "null"
          MarkupOnDesignSpamTest:
            type:
              - number
              - "null"
          MarkupPerRecipient:
            type:
              - number
              - "null"
  segments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ListID:
        type:
          - string
          - "null"
      SegmentID:
        type: string
      Title:
        type:
          - string
          - "null"
    required:
      - SegmentID
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Name:
        type:
          - string
          - "null"
      PreviewURL:
        type:
          - string
          - "null"
      ScreenshotURL:
        type:
          - string
          - "null"
      TemplateID:
        type: string
    required:
      - TemplateID
  people:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AccessLevel:
        type:
          - number
          - "null"
      EmailAddress:
        type: string
      Name:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
    required:
      - EmailAddress
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Name:
        type: string
      NumberOfCampaigns:
        type:
          - number
          - "null"
    required:
      - Name
  subscriber_lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ListID:
        type: string
      Name:
        type:
          - string
          - "null"
    required:
      - ListID
  suppression_lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Date:
        type:
          - string
          - "null"
      EmailAddress:
        type: string
      State:
        type:
          - string
          - "null"
      SuppressionReason:
        type:
          - string
          - "null"
    required:
      - EmailAddress
  sent_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CampaignID:
        type: string
      FromEmail:
        type:
          - string
          - "null"
      FromName:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      ReplyTo:
        type:
          - string
          - "null"
      SentDate:
        type: string
      Subject:
        type:
          - string
          - "null"
      Tags:
        type:
          - array
          - "null"
      TotalRecipients:
        type:
          - number
          - "null"
      WebVersionTextURL:
        type:
          - string
          - "null"
      WebVersionURL:
        type:
          - string
          - "null"
    required:
      - CampaignID
      - SentDate
  draft_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CampaignID:
        type: string
      DateCreated:
        type:
          - string
          - "null"
      FromEmail:
        type:
          - string
          - "null"
      FromName:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      PreviewTextURL:
        type:
          - string
          - "null"
      PreviewURL:
        type:
          - string
          - "null"
      ReplyTo:
        type:
          - string
          - "null"
      Subject:
        type:
          - string
          - "null"
      Tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - CampaignID
  scheduled_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CampaignID:
        type:
          - string
          - "null"
      DateCreated:
        type:
          - string
          - "null"
      DateScheduled:
        type:
          - string
          - "null"
      FromEmail:
        type:
          - string
          - "null"
      FromName:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      PreviewTextURL:
        type:
          - string
          - "null"
      PreviewURL:
        type:
          - string
          - "null"
      ReplyTo:
        type:
          - string
          - "null"
      ScheduledTimeZone:
        type:
          - string
          - "null"
      Subject:
        type:
          - string
          - "null"
      Tags:
        type:
          - array
          - "null"
