version: 5.10.2

type: DeclarativeSource

description: >-
  API Docs: https://documentation.onesignal.com/reference/quick-start-api-guide

  Auth Docs:
  https://documentation.onesignal.com/reference/quick-start-api-guide#rest-api-key

  API Keys: https://dashboard.onesignal.com/profile

check:
  type: CheckStream
  stream_names:
    - apps

definitions:
  streams:
    apps:
      type: DeclarativeStream
      name: apps
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: apps
          http_method: GET
          request_headers:
            Authorization: Basic {{ config["user_auth_key"] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/apps"
    devices:
      type: DeclarativeStream
      name: devices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: players
          http_method: GET
          request_parameters:
            app_id: "{{ config['applications'][0]['app_id'] }}"
          request_headers:
            Authorization: Basic {{ config['applications'][0]['app_api_key'] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - players
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
            inject_on_first_request: false
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_active
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/devices"
    notifications:
      type: DeclarativeStream
      name: notifications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: notifications
          http_method: GET
          request_parameters:
            app_id: "{{ config['applications'][0]['app_id'] }}"
          request_headers:
            Authorization: Basic {{ config['applications'][0]['app_api_key'] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - notifications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
            inject_on_first_request: false
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: queued_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notifications"
  base_requester:
    type: HttpRequester
    url_base: https://onesignal.com/api/v1/

streams:
  - $ref: "#/definitions/streams/apps"
  - $ref: "#/definitions/streams/devices"
  - $ref: "#/definitions/streams/notifications"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - user_auth_key
      - applications
      - start_date
      - outcome_names
    properties:
      user_auth_key:
        type: string
        description: >-
          OneSignal User Auth Key, see the <a
          href="https://documentation.onesignal.com/docs/accounts-and-keys#user-auth-key">docs</a>
          for more information on how to obtain this key.
        order: 0
        title: User Auth Key
        airbyte_secret: true
      applications:
        type: array
        description: >-
          Applications keys, see the <a
          href="https://documentation.onesignal.com/docs/accounts-and-keys">docs</a>
          for more information on how to obtain this data
        items:
          type: object
          required:
            - app_id
            - app_api_key
          properties:
            app_id:
              type: string
              order: 1
              title: OneSignal App ID
              airbyte_secret: true
            app_name:
              type: string
              order: 0
              title: OneSignal App Name
            app_api_key:
              type: string
              order: 2
              title: REST API Key
              airbyte_secret: true
        order: 1
        title: Applications
      start_date:
        type: string
        description: >-
          The date from which you'd like to replicate data for OneSignal API, in
          the format YYYY-MM-DDT00:00:00Z. All data generated after this date
          will be replicated.
        order: 2
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2020-11-16T00:00:00Z"
      outcome_names:
        type: string
        description: >-
          Comma-separated list of names and the value (sum/count) for the
          returned outcome data. See the <a
          href="https://documentation.onesignal.com/reference/view-outcomes">docs</a>
          for more details
        order: 3
        title: Outcome Names
        examples:
          - os__session_duration.count,os__click.count,CustomOutcomeName.sum
    additionalProperties: true

metadata:
  autoImportSchema:
    apps: false
    devices: false
    notifications: false
  testedStreams:
    apps:
      hasRecords: true
      streamHash: 67725bcb4dc72f8912372d29531d3bfe98aa2aea
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    devices:
      streamHash: 3a56bd63a0b799151137b5a0dd318db58e98b92a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    notifications:
      streamHash: 2f5fdb37aa968fa3ebbab20c410cceb72968177f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  apps:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  devices:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  notifications:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
