version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://app.insightful.io/
  API Reference: https://developers.insightful.io/

check:
  type: CheckStream
  stream_names:
    - employee

definitions:
  streams:
    employee:
      type: DeclarativeStream
      name: employee
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: employee?select=_id,name,email,createdAt,updatedAt
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next', '') }}"
            stop_condition: "{{ response.get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employee"
    team:
      type: DeclarativeStream
      name: team
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: team
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next', '') }}"
            stop_condition: "{{ response.get('next') is none }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/team"
    shared-settings:
      type: DeclarativeStream
      name: shared-settings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: shared-settings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next', '') }}"
            stop_condition: "{{ response.get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shared-settings"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: project
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next', '') }}"
            stop_condition: "{{ response.get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: app-tag
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next', '') }}"
            stop_condition: "{{ response.get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    app-category:
      type: DeclarativeStream
      name: app-category
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: app-category
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next', '') }}"
            stop_condition: "{{ response.get('next') is none }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/app-category"
    directory:
      type: DeclarativeStream
      name: directory
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: directory
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next', '') }}"
            stop_condition: "{{ response.get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/directory"
    scheduled-shift-settings:
      type: DeclarativeStream
      name: scheduled-shift-settings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: scheduled-shift-settings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next', '') }}"
            stop_condition: "{{ response.get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scheduled-shift-settings"
  base_requester:
    type: HttpRequester
    url_base: https://app.insightful.io/api/v1/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_token\"] }}"

streams:
  - $ref: "#/definitions/streams/employee"
  - $ref: "#/definitions/streams/team"
  - $ref: "#/definitions/streams/shared-settings"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/app-category"
  - $ref: "#/definitions/streams/directory"
  - $ref: "#/definitions/streams/scheduled-shift-settings"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
      - start_date
    properties:
      api_token:
        type: string
        description: >-
          Your API token for accessing the Insightful API. Generate it by
          logging in as an Admin to your organization's account, navigating to
          the API page, and creating a new token. Note that this token will only
          be shown once, so store it securely.
        name: api_token
        title: API Token
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    employee: true
    team: true
    shared-settings: true
    projects: true
    tags: true
    app-category: true
    directory: true
    scheduled-shift-settings: true
  testedStreams:
    employee:
      streamHash: 1317e9f18bada6b6461b6a48852bd92384a63de9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    team:
      streamHash: 11568fa5b80a962fc157b9c8092278d3470832b3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    shared-settings:
      streamHash: f581a70b11da03315d2ec3e133388dd53b641352
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: 73834fe685fedbdf05817b063f4dd853332de14d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: b6aa32ed022eedf1f6d876d56e80512e7158c6d8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    app-category:
      streamHash: d6ea8e83c7fa700b4c9dc8ec41bd3bcb08b80459
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    directory:
      streamHash: 6642eeac0812ba7a286c009db22fcbbd72d55a84
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    scheduled-shift-settings:
      streamHash: f72658103bc8869c2b2165c22fa5ab528f7f4125
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.insightful.io/#8d5b35bb-b93e-424b-8e65-83e88e671cf0

schemas:
  employee:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      modelName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      updatedAt:
        type: number
    required:
      - id
      - updatedAt
  team:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      default:
        type:
          - boolean
          - "null"
      employees:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: string
      ignoreNeutral:
        type:
          - boolean
          - "null"
      ignoreProductive:
        type:
          - boolean
          - "null"
      ignoreUnproductive:
        type:
          - boolean
          - "null"
      ignoreUnreviewed:
        type:
          - boolean
          - "null"
      modelName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      projects:
        type:
          - array
          - "null"
    required:
      - id
  shared-settings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      default:
        type:
          - boolean
          - "null"
      id:
        type: string
      modelName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      organizationId:
        type:
          - string
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          breakTime:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
          breaks:
            type:
              - number
              - "null"
          clocker:
            type:
              - boolean
              - "null"
          days:
            type:
              - object
              - "null"
            properties:
              friday:
                type:
                  - boolean
                  - "null"
              monday:
                type:
                  - boolean
                  - "null"
              saturday:
                type:
                  - boolean
                  - "null"
              sunday:
                type:
                  - boolean
                  - "null"
              thursday:
                type:
                  - boolean
                  - "null"
              tuesday:
                type:
                  - boolean
                  - "null"
              wednesday:
                type:
                  - boolean
                  - "null"
          icon:
            type:
              - boolean
              - "null"
          idle:
            type:
              - number
              - "null"
          idleScreenshots:
            type:
              - boolean
              - "null"
          privileges:
            type:
              - object
              - "null"
            properties:
              apps:
                type:
                  - boolean
                  - "null"
              manualTime:
                type:
                  - boolean
                  - "null"
              manualTimeCreate:
                type:
                  - boolean
                  - "null"
              offline:
                type:
                  - boolean
                  - "null"
              pm:
                type:
                  - boolean
                  - "null"
              productivity:
                type:
                  - boolean
                  - "null"
              screenshots:
                type:
                  - boolean
                  - "null"
              shiftScheduling:
                type:
                  - boolean
                  - "null"
          screenshots:
            type:
              - number
              - "null"
          security:
            type:
              - object
              - "null"
            properties:
              timeSync:
                type:
                  - boolean
                  - "null"
          timer:
            type:
              - boolean
              - "null"
          trackOutsideScheduledShift:
            type:
              - boolean
              - "null"
      updatedAt:
        type: number
    required:
      - id
      - updatedAt
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      agentStatuses:
        type:
          - array
          - "null"
      archived:
        type:
          - boolean
          - "null"
      billable:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      creatorId:
        type:
          - string
          - "null"
      employees:
        type:
          - array
          - "null"
      id:
        type: string
      labels:
        type:
          - array
          - "null"
      modelName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      organizationId:
        type:
          - string
          - "null"
      payroll:
        type:
          - object
          - "null"
        properties:
          "*":
            type:
              - object
              - "null"
            properties:
              billRate:
                type:
                  - number
                  - "null"
      priorities:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      screenshotSettings:
        type:
          - object
          - "null"
        properties:
          screenshotEnabled:
            type:
              - boolean
              - "null"
      statuses:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      teams:
        type:
          - array
          - "null"
      ticketTypes:
        type:
          - array
          - "null"
      updatedAt:
        type: number
    required:
      - id
      - updatedAt
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      color:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      id:
        type: string
      modelName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      organizationId:
        type:
          - string
          - "null"
      updatedAt:
        type: number
    required:
      - id
      - updatedAt
  app-category:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  directory:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      id:
        type: string
      isActive:
        type:
          - boolean
          - "null"
      modelName:
        type:
          - string
          - "null"
      organizationId:
        type:
          - string
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          scopeInheritance:
            type:
              - boolean
              - "null"
          threshold:
            type:
              - number
              - "null"
      sumSync:
        type:
          - number
          - "null"
      updatedAt:
        type: number
    required:
      - id
      - updatedAt
  scheduled-shift-settings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - number
          - "null"
      earliestClockIn:
        type:
          - number
          - "null"
      id:
        type: string
      lateThreshold:
        type:
          - number
          - "null"
      latestClockOut:
        type:
          - number
          - "null"
      modelName:
        type:
          - string
          - "null"
      notifyIntersection:
        type:
          - number
          - "null"
      organizationId:
        type:
          - string
          - "null"
      tolerance:
        type:
          - number
          - "null"
      updatedAt:
        type: number
    required:
      - id
      - updatedAt
