version: 7.23.7

type: DeclarativeSource

description: https://app.g2digitalmarkets.com/ppc/bids/api/v2

check:
  type: CheckStream
  stream_names:
    - clicks

streams:
  - type: DeclarativeStream
    name: clicks
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: cursor
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: >-
            {{ (response.get('meta', {}).get('next') or
            '').split('cursor=')[-1].split('&')[0] }}
          stop_condition: "{{ not response.get('meta', {}).get('next') }}"
      requester:
        type: HttpRequester
        url: https://public-api.capterra.com/v2/clicks
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          header: Authorization
          api_token: "{{ config['api_key'] }}"
        request_parameters:
          include_conversion_type: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - clicks
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - date_of_report
        properties:
          cpl:
            type:
              - number
              - "null"
          cost:
            type:
              - number
              - "null"
          clicks:
            type:
              - number
              - "null"
          avg_cpc:
            type:
              - number
              - "null"
          channel:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          category:
            type:
              - string
              - "null"
          campaign_id:
            type:
              - number
              - "null"
          conversions:
            type:
              - number
              - "null"
          avg_position:
            type:
              - number
              - "null"
          landing_page:
            type:
              - string
              - "null"
          product_name:
            type:
              - string
              - "null"
          campaign_name:
            type:
              - string
              - "null"
          date_of_report:
            type: string
          conversion_rate:
            type:
              - number
              - "null"
          conversions_by_type:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                count:
                  type:
                    - number
                    - "null"
                value:
                  type:
                    - number
                    - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1M
      cursor_field: date_of_report
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: end_date
        inject_into: request_parameter
      lookback_window: P1M
      start_time_option:
        type: RequestOption
        field_name: start_date
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: API Key
        order: 0
        title: api_key
        airbyte_secret: true
      start_date:
        type: string
        description: Start Date
        order: 1
        title: start_date
        format: date
        default: "2024-01-01"
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
    additionalProperties: true

metadata:
  testedStreams:
    clicks:
      isStale: false
      hasRecords: true
      streamHash: d4e218cc51ca9cd80d47c620ed33c9d0ac6c7823
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
  autoImportSchema:
    clicks: true
