version: 5.14.0

type: DeclarativeSource

description: >-
  Twelve data can be used to access the data of world financial markets
  including stocks, forex, ETFs, indices, and cryptocurrencies.

  This connector has various streams including but not limited to Stocks , Forex
  Pairs , Crypto Currencies , Time Series and Techical Indicators

check:
  type: CheckStream
  stream_names:
    - Stocks

definitions:
  streams:
    Stocks:
      type: DeclarativeStream
      name: Stocks
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: stocks
          http_method: GET
          request_parameters:
            country: "{{ config['country'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Stocks"
    Forex Pairs:
      type: DeclarativeStream
      name: Forex Pairs
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: forex_pairs
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Forex Pairs"
    Crypto Currencies:
      type: DeclarativeStream
      name: Crypto Currencies
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: cryptocurrencies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Crypto Currencies"
    Funds:
      type: DeclarativeStream
      name: Funds
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: funds
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
            exchange: "{{ config['exchange'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Funds"
    Bonds:
      type: DeclarativeStream
      name: Bonds
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: bonds
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
            exchange: "{{ config['exchange'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Bonds"
    ETFs:
      type: DeclarativeStream
      name: ETFs
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: etfs
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
            exchange: "{{ config['exchange'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ETFs"
    Commodities:
      type: DeclarativeStream
      name: Commodities
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: commodities
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Commodities"
    Exchanges:
      type: DeclarativeStream
      name: Exchanges
      primary_key:
        - code
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: exchanges
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Exchanges"
    Cryptocurrency Exchanges:
      type: DeclarativeStream
      name: Cryptocurrency Exchanges
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: cryptocurrency_exchanges
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Cryptocurrency Exchanges"
    Market State:
      type: DeclarativeStream
      name: Market State
      primary_key:
        - code
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: market_state
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
            exchange: "{{ config['exchange'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Market State"
    Instrument Type:
      type: DeclarativeStream
      name: Instrument Type
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: instrument_type
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Instrument Type"
    Countries:
      type: DeclarativeStream
      name: Countries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: countries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Countries"
    Technical Indicators:
      type: DeclarativeStream
      name: Technical Indicators
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: technical_indicators
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Technical Indicators"
    Time Series:
      type: DeclarativeStream
      name: Time Series
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: time_series
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb }}"
            interval: "{{ config['interval'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 404
                    error_message: Please ennter the symbol and interval
                    error_message_contains: >-
                      **symbol** or **figi** parameter is missing or invalid.
                      Please provide a valid symbol according to API
                      documentation
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - values
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/Stocks"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Time Series"
    Exchange Rate:
      type: DeclarativeStream
      name: Exchange Rate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: exchange_rate
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/Forex Pairs"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Exchange Rate"
    Quote:
      type: DeclarativeStream
      name: Quote
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: quote
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb  }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/Stocks"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Quote"
    Price:
      type: DeclarativeStream
      name: Price
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: price
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/Stocks"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Price"
    EOD Price:
      type: DeclarativeStream
      name: EOD Price
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: eod
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/Stocks"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/EOD Price"
    Mutual Funds:
      type: DeclarativeStream
      name: Mutual Funds
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: mutual_funds/list
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Mutual Funds"
    MFs Family List:
      type: DeclarativeStream
      name: MFs Family List
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: mutual_funds/family
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/MFs Family List"
    MFs Type List:
      type: DeclarativeStream
      name: MFs Type List
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: mutual_funds/type
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/MFs Type List"
    ETFs List:
      type: DeclarativeStream
      name: ETFs List
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: etfs/list
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ETFs List"
    ETFs Family:
      type: DeclarativeStream
      name: ETFs Family
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: etfs/family
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ETFs Family"
    ETFs Type List:
      type: DeclarativeStream
      name: ETFs Type List
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: etfs/type
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ETFs Type List"
  base_requester:
    type: HttpRequester
    url_base: https://api.twelvedata.com/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: apikey
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/Stocks"
  - $ref: "#/definitions/streams/Forex Pairs"
  - $ref: "#/definitions/streams/Crypto Currencies"
  - $ref: "#/definitions/streams/Funds"
  - $ref: "#/definitions/streams/Bonds"
  - $ref: "#/definitions/streams/ETFs"
  - $ref: "#/definitions/streams/Commodities"
  - $ref: "#/definitions/streams/Exchanges"
  - $ref: "#/definitions/streams/Cryptocurrency Exchanges"
  - $ref: "#/definitions/streams/Market State"
  - $ref: "#/definitions/streams/Instrument Type"
  - $ref: "#/definitions/streams/Countries"
  - $ref: "#/definitions/streams/Technical Indicators"
  - $ref: "#/definitions/streams/Time Series"
  - $ref: "#/definitions/streams/Exchange Rate"
  - $ref: "#/definitions/streams/Quote"
  - $ref: "#/definitions/streams/Price"
  - $ref: "#/definitions/streams/EOD Price"
  - $ref: "#/definitions/streams/Mutual Funds"
  - $ref: "#/definitions/streams/MFs Family List"
  - $ref: "#/definitions/streams/MFs Type List"
  - $ref: "#/definitions/streams/ETFs List"
  - $ref: "#/definitions/streams/ETFs Family"
  - $ref: "#/definitions/streams/ETFs Type List"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      country:
        type: string
        description: Country where instrument is traded
        order: 1
        title: Country
      exchange:
        type: string
        description: Exchange where instrument is traded
        order: 2
        title: Exchange
      symbol:
        type: string
        description: Symbol ticker of the instrument
        order: 3
        title: Symbol
      interval:
        type: string
        description: >-
          Interval between two consecutive points in time series Supports: 1min,
          5min, 15min, 30min, 45min, 1h, 2h, 4h, 1day, 1week, 1month
        order: 4
        title: Interval
    additionalProperties: true

metadata:
  autoImportSchema:
    Stocks: true
    Forex Pairs: true
    Crypto Currencies: true
    Funds: true
    Bonds: true
    ETFs: true
    Commodities: true
    Exchanges: true
    Cryptocurrency Exchanges: true
    Market State: true
    Instrument Type: true
    Countries: true
    Technical Indicators: true
    Time Series: true
    Exchange Rate: true
    Quote: true
    Price: true
    EOD Price: true
    Mutual Funds: true
    MFs Family List: true
    MFs Type List: true
    ETFs List: true
    ETFs Family: true
    ETFs Type List: true
  testedStreams:
    Stocks:
      hasRecords: true
      streamHash: a158beb0bbef099fc60346adb4688005f701fc02
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Forex Pairs:
      hasRecords: true
      streamHash: 7093b7d2e703c60de073e0f13af8caf7215a87d7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Crypto Currencies:
      hasRecords: true
      streamHash: 98aba73994263e044f756f3e33a1949e818fd579
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Funds:
      streamHash: a4ec617ef11157f1f018285f51bb00e9b2cbb282
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Bonds:
      streamHash: 2141110b7845299aa199eb589ad9bbc05de2b581
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ETFs:
      streamHash: bd27387254c9ee61eadb908d8ab7032fbaf7ea99
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Commodities:
      streamHash: c2f0b041bd34660f5e6a5c6b659fc35a727514d5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Exchanges:
      streamHash: 82ed914703e57636197592a1f259afe186cd61c9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Cryptocurrency Exchanges:
      streamHash: 1f94b9346cc25481dd1d53bfeb0baeaa4361ae53
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Market State:
      streamHash: 9b26c67ebd369d89c2e362fea6a17c8aebe7a4d8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Instrument Type:
      streamHash: 121e5c73a55bece0b6d8c3615e51ed1d4b971436
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Countries:
      streamHash: 632a974afd2ab7e54e21a900cac97003eb7fa6e9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Technical Indicators:
      streamHash: 22bdd83a7abb3e059b6f6cd6e557fe273c958b3d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Time Series:
      streamHash: deb4fba5f561ce9e57055b505b519aed7a541b45
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Exchange Rate:
      streamHash: 719202f86ee34ac5bf87d6bf0f7452a8f656c54e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Quote:
      streamHash: 2e3059f6bbf174d5841432474c88c0d38a296ddc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Price:
      streamHash: 745a5ac627f72bcbb37d3d681137ffaf484aa314
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    EOD Price:
      streamHash: f88c2d8b61b2712dba195336c65382ffc069846b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Mutual Funds:
      streamHash: 7ed5f85099e468eaa890234999776a799ebaeebf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    MFs Family List:
      streamHash: 812934816565ad9c3257e1c707aad82566ae0ca9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    MFs Type List:
      streamHash: cfc53e98670638ca851829d2189866faecfc4370
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ETFs List:
      streamHash: ceda007ad2a4b5ac8bfbf216172cb810acfe81e9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ETFs Family:
      streamHash: 9ae0eab55dfdee54d8bd0ea88889eb961299f64f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ETFs Type List:
      hasRecords: true
      streamHash: f1c197d741b0dae5056a7ebcddc49d5c352c2666
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  Stocks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      figi_code:
        type:
          - string
          - "null"
      mic_code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  Forex Pairs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      currency_base:
        type:
          - string
          - "null"
      currency_group:
        type:
          - string
          - "null"
      currency_quote:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  Crypto Currencies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      available_exchanges:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      currency_base:
        type:
          - string
          - "null"
      currency_quote:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
  Funds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      figi_code:
        type:
          - string
          - "null"
      mic_code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  Bonds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      mic_code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  ETFs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      figi_code:
        type:
          - string
          - "null"
      mic_code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  Commodities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  Exchanges:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type: string
      country:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - code
  Cryptocurrency Exchanges:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      name:
        type:
          - string
          - "null"
  Market State:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type: string
      country:
        type:
          - string
          - "null"
      is_market_open:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      time_after_open:
        type:
          - string
          - "null"
      time_to_close:
        type:
          - string
          - "null"
      time_to_open:
        type:
          - string
          - "null"
    required:
      - code
  Instrument Type:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      result:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      status:
        type:
          - string
          - "null"
  Countries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      capital:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      iso2:
        type:
          - string
          - "null"
      iso3:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      numeric:
        type:
          - string
          - "null"
      official_name:
        type:
          - string
          - "null"
  Technical Indicators:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      acos:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              acos:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      ad:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              ad:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
      add:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              add:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type_1:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type_2:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      adosc:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              adosc:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              fast_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              slow_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      adx:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              adx:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      adxr:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              adxr:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      apo:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              apo:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              fast_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              ma_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              slow_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      aroon:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              aroon_down:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              aroon_up:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      aroonosc:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              aroonosc:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      asin:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              asin:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      atan:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              atan:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      atr:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              atr:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      avg:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              avg:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      avgprice:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              avgprice:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
      bbands:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              lower_band:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
              middle_band:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
              upper_band:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              ma_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              sd:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          tinting:
            type:
              - object
              - "null"
            properties:
              area:
                type:
                  - object
                  - "null"
                properties:
                  color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  lower_bound:
                    type:
                      - string
                      - "null"
                  transparency:
                    type:
                      - number
                      - "null"
                  upper_bound:
                    type:
                      - string
                      - "null"
      beta:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              beta:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type_1:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type_2:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      bop:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              bop:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
      cci:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              cci:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          tinting:
            type:
              - object
              - "null"
            properties:
              area:
                type:
                  - object
                  - "null"
                properties:
                  color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  lower_bound:
                    type:
                      - number
                      - "null"
                  transparency:
                    type:
                      - number
                      - "null"
                  upper_bound:
                    type:
                      - number
                      - "null"
      ceil:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              ceil:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      cmo:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              cmo:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      coppock:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              coppock:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              long_roc_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              short_roc_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              wma_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      correl:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              correl:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type_1:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type_2:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      cos:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              cos:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      cosh:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              cosh:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      crsi:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              crsi:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              percent_rank_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              rsi_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              up_down_length:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          tinting:
            type:
              - object
              - "null"
            properties:
              area:
                type:
                  - object
                  - "null"
                properties:
                  color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  lower_bound:
[...]
