version: 5.14.0

type: DeclarativeSource

description: >-
  Twelve data can be used to access the data of world financial markets
  including stocks, forex, ETFs, indices, and cryptocurrencies.

  This connector has various streams including but not limited to Stocks , Forex
  Pairs , Crypto Currencies , Time Series and Techical Indicators


  Docs : https://twelvedata.com/docs

check:
  type: CheckStream
  stream_names:
    - stocks

definitions:
  streams:
    stocks:
      type: DeclarativeStream
      name: stocks
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: stocks
          http_method: GET
          request_parameters:
            country: "{{ config['country'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stocks"
    forex_pairs:
      type: DeclarativeStream
      name: forex_pairs
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: forex_pairs
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forex_pairs"
    crypto_currencies:
      type: DeclarativeStream
      name: crypto_currencies
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: cryptocurrencies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crypto_currencies"
    funds:
      type: DeclarativeStream
      name: funds
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: funds
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
            exchange: "{{ config['exchange'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/funds"
    bonds:
      type: DeclarativeStream
      name: bonds
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: bonds
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
            exchange: "{{ config['exchange'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bonds"
    etfs:
      type: DeclarativeStream
      name: etfs
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: etfs
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
            exchange: "{{ config['exchange'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/etfs"
    commodities:
      type: DeclarativeStream
      name: commodities
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: commodities
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/commodities"
    exchanges:
      type: DeclarativeStream
      name: exchanges
      primary_key:
        - code
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: exchanges
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/exchanges"
    cryptocurrency_exchanges:
      type: DeclarativeStream
      name: cryptocurrency_exchanges
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: cryptocurrency_exchanges
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cryptocurrency_exchanges"
    market_state:
      type: DeclarativeStream
      name: market_state
      primary_key:
        - code
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: market_state
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
            exchange: "{{ config['exchange'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/market_state"
    countries:
      type: DeclarativeStream
      name: countries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: countries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/countries"
    technical_indicators:
      type: DeclarativeStream
      name: technical_indicators
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: technical_indicators
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/technical_indicators"
    time_series:
      type: DeclarativeStream
      name: time_series
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: time_series
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb }}"
            interval: "{{ config['interval'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 404
                    error_message: Please ennter the symbol and interval
                    error_message_contains: >-
                      **symbol** or **figi** parameter is missing or invalid.
                      Please provide a valid symbol according to API
                      documentation
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - values
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/stocks"
      transformations:
        - type: AddFields
          fields:
            - path:
                - symbol
              value: "{{ stream_slice.symb }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_series"
    exchange_rate:
      type: DeclarativeStream
      name: exchange_rate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: exchange_rate
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/forex_pairs"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/exchange_rate"
    quote:
      type: DeclarativeStream
      name: quote
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: quote
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb  }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/stocks"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/quote"
    price:
      type: DeclarativeStream
      name: price
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: price
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/stocks"
      transformations:
        - type: AddFields
          fields:
            - path:
                - symbol
              value: "{{ stream_slice.symb }}"
        - type: AddFields
          fields:
            - path:
                - timestamp
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/price"
    eod_price:
      type: DeclarativeStream
      name: eod_price
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: eod
          http_method: GET
          request_parameters:
            symbol: "{{ stream_partition.symb }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symb
              stream:
                $ref: "#/definitions/streams/stocks"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/eod_price"
    mutual_funds:
      type: DeclarativeStream
      name: mutual_funds
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: mutual_funds/list
          http_method: GET
          request_parameters:
            country: "{{ config[\"country\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Your request failed as you ran out of API credits for the
                      current minute.
                    error_message_contains: >-
                      Wait for the next minute or consider switching to a higher
                      tier plan at https://twelvedata.com/pricing
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mutual_funds"
  base_requester:
    type: HttpRequester
    url_base: https://api.twelvedata.com/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: apikey
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/stocks"
  - $ref: "#/definitions/streams/forex_pairs"
  - $ref: "#/definitions/streams/crypto_currencies"
  - $ref: "#/definitions/streams/funds"
  - $ref: "#/definitions/streams/bonds"
  - $ref: "#/definitions/streams/etfs"
  - $ref: "#/definitions/streams/commodities"
  - $ref: "#/definitions/streams/exchanges"
  - $ref: "#/definitions/streams/cryptocurrency_exchanges"
  - $ref: "#/definitions/streams/market_state"
  - $ref: "#/definitions/streams/countries"
  - $ref: "#/definitions/streams/technical_indicators"
  - $ref: "#/definitions/streams/time_series"
  - $ref: "#/definitions/streams/exchange_rate"
  - $ref: "#/definitions/streams/quote"
  - $ref: "#/definitions/streams/price"
  - $ref: "#/definitions/streams/eod_price"
  - $ref: "#/definitions/streams/mutual_funds"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      country:
        type: string
        description: Where instrument is traded
        order: 1
        title: Country
      exchange:
        type: string
        description: Where instrument is traded
        order: 2
        title: Exchange
      symbol:
        type: string
        description: Ticker of the instrument
        order: 3
        title: Symbol
      interval:
        type: string
        description: >-
          Between two consecutive points in time series Supports: 1min, 5min,
          15min, 30min, 45min, 1h, 2h, 4h, 1day, 1week, 1month
        order: 4
        title: Interval
        default: 1day
        enum:
          - 1min
          - 5min
          - 15min
          - 30min
          - 45min
          - 1h
          - 2h
          - 4h
          - 1day
          - 1week
          - 1month
    additionalProperties: true

metadata:
  autoImportSchema:
    stocks: true
    forex_pairs: true
    crypto_currencies: true
    funds: true
    bonds: true
    etfs: true
    commodities: true
    exchanges: true
    cryptocurrency_exchanges: true
    market_state: true
    countries: true
    technical_indicators: true
    time_series: true
    exchange_rate: true
    quote: true
    price: true
    eod_price: true
    mutual_funds: true
  testedStreams:
    stocks:
      streamHash: 4b863774eab79d3aeb545e8de6148db646eea147
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    forex_pairs:
      hasRecords: true
      streamHash: 39ccfcb61cf6b3950efe5083711d5197a5f90ae3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    crypto_currencies:
      hasRecords: true
      streamHash: 9e4e5f7f9c4482f5c045b71cef40092db7522679
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    funds:
      hasRecords: true
      streamHash: ac18d4344ed83dc98bf9f2352704bf58b799b7a1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    bonds:
      hasRecords: true
      streamHash: 9ee6676dacba4c707cf5c5278f7f8af7bd36f06e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    etfs:
      hasRecords: true
      streamHash: 9f58a6726044448f1810bc5da257c4c2080f1ee5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    commodities:
      hasRecords: true
      streamHash: 1d487840bf8886616b2888af0404a9fe7bc5e09a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    exchanges:
      streamHash: 033f2220b5fb652654deb85f284489cca4feebcb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    cryptocurrency_exchanges:
      streamHash: 36aea471d85f85d0b73803180538d8a6d0b70e38
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    market_state:
      streamHash: fac5eb367a0eec75a806e8d4f2c70029a1a50a96
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    countries:
      streamHash: b215b99045447548c36d515bbcc4aa70a2746b45
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    technical_indicators:
      streamHash: 3b83b8a0ae4f7ad9f682015c07e9a7c6f52ad8bc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    time_series:
      streamHash: 448a4106deda34a80acf800aac94adc94af9ea9f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    exchange_rate:
      streamHash: b9121603e1d5c1508475968c5734d81f5f36b2ef
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    quote:
      streamHash: cd42b986b695c520d31f9976567a694110496072
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    price:
      streamHash: f21ec3b74962655bcd0838580a99f3e719beb12c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    eod_price:
      streamHash: c6d6ecbfa9091b0b9eb5a8c22d134f88dcf6f982
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    mutual_funds:
      hasRecords: true
      streamHash: 729d0cb2ea3321afd57071a8b83f48ea008b33ac
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  stocks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      figi_code:
        type:
          - string
          - "null"
      mic_code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  forex_pairs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      currency_base:
        type:
          - string
          - "null"
      currency_group:
        type:
          - string
          - "null"
      currency_quote:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  crypto_currencies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      available_exchanges:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      currency_base:
        type:
          - string
          - "null"
      currency_quote:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
  funds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      figi_code:
        type:
          - string
          - "null"
      mic_code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  bonds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      mic_code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  etfs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      exchange:
        type:
          - string
          - "null"
      figi_code:
        type:
          - string
          - "null"
      mic_code:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  commodities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  exchanges:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type: string
      country:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - code
  cryptocurrency_exchanges:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      name:
        type:
          - string
          - "null"
  market_state:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type: string
      country:
        type:
          - string
          - "null"
      is_market_open:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      time_after_open:
        type:
          - string
          - "null"
      time_to_close:
        type:
          - string
          - "null"
      time_to_open:
        type:
          - string
          - "null"
    required:
      - code
  countries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      capital:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      iso2:
        type:
          - string
          - "null"
      iso3:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      numeric:
        type:
          - string
          - "null"
      official_name:
        type:
          - string
          - "null"
  technical_indicators:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      acos:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              acos:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      ad:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              ad:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
      add:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              add:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type_1:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type_2:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      adosc:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              adosc:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              fast_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              slow_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      adx:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              adx:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      adxr:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              adxr:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      apo:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              apo:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              fast_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              ma_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              slow_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      aroon:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              aroon_down:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              aroon_up:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      aroonosc:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              aroonosc:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      asin:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              asin:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      atan:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              atan:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      atr:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              atr:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      avg:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              avg:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      avgprice:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              avgprice:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
      bbands:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              lower_band:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
              middle_band:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
              upper_band:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              ma_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              sd:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          tinting:
            type:
              - object
              - "null"
            properties:
              area:
                type:
                  - object
                  - "null"
                properties:
                  color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  lower_bound:
                    type:
                      - string
                      - "null"
                  transparency:
                    type:
                      - number
                      - "null"
                  upper_bound:
                    type:
                      - string
                      - "null"
      beta:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              beta:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type_1:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type_2:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      bop:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              bop:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
      cci:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              cci:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          tinting:
            type:
              - object
              - "null"
            properties:
              area:
                type:
                  - object
                  - "null"
                properties:
                  color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  lower_bound:
                    type:
                      - number
                      - "null"
                  transparency:
                    type:
                      - number
                      - "null"
                  upper_bound:
                    type:
                      - number
                      - "null"
      ceil:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              ceil:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      cmo:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              cmo:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      coppock:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              coppock:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              long_roc_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              short_roc_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              wma_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      correl:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              correl:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type_1:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type_2:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      cos:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              cos:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      cosh:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              cosh:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      crsi:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              crsi:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  max_range:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              percent_rank_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              rsi_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              up_down_length:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
          tinting:
            type:
              - object
              - "null"
            properties:
              area:
                type:
                  - object
                  - "null"
                properties:
                  color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
                  lower_bound:
                    type:
                      - number
                      - "null"
                  transparency:
                    type:
                      - number
                      - "null"
                  upper_bound:
                    type:
                      - number
                      - "null"
      dema:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              dema:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      div:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              div:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              series_type_1:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              series_type_2:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
      dpo:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              dpo:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              centered:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - boolean
                      - "null"
              series_type:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - string
                      - "null"
                  range:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      dx:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          enable:
            type:
              - boolean
              - "null"
          full_name:
            type:
              - string
              - "null"
          output_values:
            type:
              - object
              - "null"
            properties:
              dx:
                type:
                  - object
                  - "null"
                properties:
                  default_color:
                    type:
                      - string
                      - "null"
                  display:
                    type:
                      - string
                      - "null"
          overlay:
            type:
              - boolean
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              time_period:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  default:
                    type:
                      - number
                      - "null"
                  min_range:
                    type:
                      - number
                      - "null"
      ema:
        type:
          - object
          - "null"
        properties:
[...]
