version: 5.15.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - users
definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: /user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            email:
              type:
              - string
              - "null"
            email_verified_at:
              type:
              - string
              - "null"
            first_name:
              type:
              - string
              - "null"
            id:
              type: string
            last_name:
              type:
              - string
              - "null"
            last_used_timezone:
              type:
              - string
              - "null"
            organizations:
              type:
              - array
              - "null"
              items:
                type:
                - string
                - "null"
          required:
          - id
    lead_custom_fields:
      type: DeclarativeStream
      name: lead_custom_fields
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: custom_field/lead
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - string
              - "null"
            accepts_multiple_values:
              type:
              - boolean
              - "null"
            choices:
              type:
              - array
              - "null"
              items:
                type:
                - string
                - "null"
            created_by:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            editable_with_roles:
              type:
              - array
              - "null"
            id:
              type: string
            is_shared:
              type:
              - boolean
              - "null"
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            updated_by:
              type:
              - string
              - "null"
          required:
          - id
    contact_custom_fields:
      type: DeclarativeStream
      name: contact_custom_fields
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: custom_field/contact
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - string
              - "null"
            accepts_multiple_values:
              type:
              - boolean
              - "null"
            choices:
              type:
              - array
              - "null"
              items:
                type:
                - string
                - "null"
            created_by:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            editable_with_roles:
              type:
              - array
              - "null"
            id:
              type: string
            is_shared:
              type:
              - boolean
              - "null"
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            updated_by:
              type:
              - string
              - "null"
          required:
          - id
    opportunity_custom_fields:
      type: DeclarativeStream
      name: opportunity_custom_fields
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: custom_field/opportunity
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - string
              - "null"
            accepts_multiple_values:
              type:
              - boolean
              - "null"
            choices:
              type:
              - array
              - "null"
              items:
                type:
                - string
                - "null"
            created_by:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            editable_with_roles:
              type:
              - array
              - "null"
            id:
              type: string
            is_shared:
              type:
              - boolean
              - "null"
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            updated_by:
              type:
              - string
              - "null"
          required:
          - id
    activity_custom_fields:
      type: DeclarativeStream
      name: activity_custom_fields
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: custom_field/activity
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - string
              - "null"
            accepts_multiple_values:
              type:
              - boolean
              - "null"
            choices:
              type:
              - array
              - "null"
              items:
                type:
                - string
                - "null"
            created_by:
              type:
              - string
              - "null"
            custom_activity_type_id:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            editable_with_roles:
              type:
              - array
              - "null"
            id:
              type: string
            is_shared:
              type:
              - boolean
              - "null"
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            required:
              type:
              - boolean
              - "null"
            updated_by:
              type:
              - string
              - "null"
          required:
          - id
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: contact
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            created_by:
              type:
              - string
              - "null"
            custom.cf_VYvMYfZ8iP1AUo4cAEfEMDwRA9wWrnGovP8otB6pt3O:
              type:
              - string
              - "null"
            custom.cf_q10N0iddlgVLrSY60AAsaAaDmpqhwm8uTD62hqkW8bG:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            display_name:
              type:
              - string
              - "null"
            emails:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  type:
                    type:
                    - string
                    - "null"
                  email:
                    type:
                    - string
                    - "null"
                  is_unsubscribed:
                    type:
                    - boolean
                    - "null"
            id:
              type: string
            integration_links:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  name:
                    type:
                    - string
                    - "null"
                  url:
                    type:
                    - string
                    - "null"
            lead_id:
              type:
              - string
              - "null"
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            phones:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  type:
                    type:
                    - string
                    - "null"
                  country:
                    type:
                    - string
                    - "null"
                  phone:
                    type:
                    - string
                    - "null"
                  phone_formatted:
                    type:
                    - string
                    - "null"
            title:
              type:
              - string
              - "null"
            updated_by:
              type:
              - string
              - "null"
            urls:
              type:
              - array
              - "null"
          required:
          - id
    lead_statuses:
      type: DeclarativeStream
      name: lead_statuses
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: status/lead
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            id:
              type: string
            label:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
          required:
          - id
    opportunity_statuses:
      type: DeclarativeStream
      name: opportunity_statuses
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: status/opportunity
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - string
              - "null"
            id:
              type: string
            label:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            pipeline_id:
              type:
              - string
              - "null"
          required:
          - id
    email_templates:
      type: DeclarativeStream
      name: email_templates
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: email_template
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            attachments:
              type:
              - array
              - "null"
            bcc:
              type:
              - array
              - "null"
            body:
              type:
              - string
              - "null"
            cc:
              type:
              - array
              - "null"
            created_by:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            id:
              type: string
            is_archived:
              type:
              - boolean
              - "null"
            is_shared:
              type:
              - boolean
              - "null"
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            subject:
              type:
              - string
              - "null"
          required:
          - id
    email_sequences:
      type: DeclarativeStream
      name: email_sequences
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: sequence
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            allow_manual_enrollment:
              type:
              - boolean
              - "null"
            created_by_id:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            id:
              type: string
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            schedule:
              type:
              - object
              - "null"
              properties:
                ranges:
                  type:
                  - array
                  - "null"
                  items:
                    type:
                    - object
                    - "null"
                    properties:
                      end:
                        type:
                        - string
                        - "null"
                      start:
                        type:
                        - string
                        - "null"
                      weekday:
                        type:
                        - number
                        - "null"
            status:
              type:
              - string
              - "null"
            steps:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  created_by_id:
                    type:
                    - string
                    - "null"
                  date_created:
                    type:
                    - string
                    - "null"
                  date_updated:
                    type:
                    - string
                    - "null"
                  delay:
                    type:
                    - number
                    - "null"
                  email_template_id:
                    type:
                    - string
                    - "null"
                  id:
                    type:
                    - string
                    - "null"
                  required:
                    type:
                    - boolean
                    - "null"
                  sms_template_id:
                    type:
                    - string
                    - "null"
                  step_type:
                    type:
                    - string
                    - "null"
                  threading:
                    type:
                    - string
                    - "null"
                  updated_by_id:
                    type:
                    - string
                    - "null"
            timezone:
              type:
              - string
              - "null"
          required:
          - id
    dialer:
      type: DeclarativeStream
      name: dialer
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: dialer
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: https://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - "null"
              - string
            caller_id:
              type:
              - "null"
              - string
            date_created:
              type:
              - "null"
              - string
            date_updated:
              type:
              - "null"
              - string
            id:
              type:
              - "null"
              - string
            is_user_dependent:
              type:
              - "null"
              - boolean
            music_preference:
              type:
              - "null"
              - string
            organization_id:
              type:
              - "null"
              - string
            ring_mode:
              type:
              - "null"
              - string
            source_type:
              type:
              - "null"
              - string
            source_value:
              type:
              - "null"
              - string
            status:
              type:
              - "null"
              - string
            user_id:
              type:
              - "null"
              - string
            users:
              type:
              - "null"
              - array
            visibility_mode:
              type:
              - "null"
              - string
    email_bulk_actions:
      type: DeclarativeStream
      name: email_bulk_actions
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: bulk_action/email
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: https://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            contact_preference:
              type:
              - "null"
              - string
            created_by:
              type:
              - "null"
              - string
            date_created:
              type:
              - "null"
              - string
            date_updated:
              type:
              - "null"
              - string
            id:
              type:
              - "null"
              - string
            n_leads:
              type:
              - "null"
              - number
            n_leads_processed:
              type:
              - "null"
              - number
            organization_id:
              type:
              - "null"
              - string
            query:
              type:
              - "null"
              - string
            send_done_email:
              type:
              - "null"
              - boolean
            status:
              type:
              - "null"
              - string
            template_id:
              type:
              - "null"
              - string
            updated_by:
              type:
              - "null"
              - string
    sequence_subscription_bulk_actions:
      type: DeclarativeStream
      name: sequence_subscription_bulk_actions
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: bulk_action/sequence_subscription
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: https://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            action_type:
              type:
              - "null"
              - string
            contact_preference:
              type:
              - "null"
              - string
            created_by:
              type:
              - "null"
              - string
            date_created:
              type:
              - "null"
              - string
            date_updated:
              type:
              - "null"
              - string
            id:
              type:
              - "null"
              - string
            n_leads:
              type:
              - "null"
              - number
            n_leads_processed:
              type:
              - "null"
              - number
            organization_id:
              type:
              - "null"
              - string
            query:
              type:
              - "null"
              - string
            send_done_email:
              type:
              - "null"
              - boolean
            sender_account_id:
              type:
              - "null"
              - string
            sender_email:
              type:
              - "null"
              - string
            sender_name:
              type:
              - "null"
              - string
            sequence_id:
              type:
              - "null"
              - string
            status:
              type:
              - "null"
              - string
            updated_by:
              type:
              - "null"
              - string
    delete_bulk_actions:
      type: DeclarativeStream
      name: delete_bulk_actions
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: bulk_action/delete
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: https://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            created_by:
              type:
              - "null"
              - string
            date_created:
              type:
              - "null"
              - string
            date_updated:
              type:
              - "null"
              - string
            id:
              type:
              - "null"
              - string
            n_leads:
              type:
              - "null"
              - number
            n_leads_processed:
              type:
              - "null"
              - number
            organization_id:
              type:
              - "null"
              - string
            query:
              type:
              - "null"
              - string
            send_done_email:
              type:
              - "null"
              - boolean
            status:
              type:
              - "null"
              - string
            updated_by:
              type:
              - "null"
              - string
    edit_bulk_actions:
      type: DeclarativeStream
      name: edit_bulk_actions
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: bulk_action/edit
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: https://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - "null"
              - string
            created_by:
              type:
              - "null"
              - string
            custom_field_name:
              type:
              - "null"
              - string
            custom_field_value:
              type:
              - "null"
              - string
            date_created:
              type:
              - "null"
              - string
            date_updated:
              type:
              - "null"
              - string
            id:
              type:
              - "null"
              - string
            lead_status_id:
              type:
              - "null"
              - string
            n_leads:
              type:
              - "null"
              - number
            n_leads_processed:
              type:
              - "null"
              - number
            n_objects:
              type:
              - "null"
              - number
            n_objects_processed:
              type:
              - "null"
              - number
            organization_id:
              type:
              - "null"
              - string
            query:
              type:
              - "null"
              - string
            send_done_email:
              type:
              - "null"
              - boolean
            status:
              type:
              - "null"
              - string
            updated_by:
              type:
              - "null"
              - string
    integration_links:
      type: DeclarativeStream
      name: integration_links
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: integration_link
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - string
              - "null"
            created_by:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            id:
              type: string
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            url:
              type:
              - string
              - "null"
          required:
          - id
    pipelines:
      type: DeclarativeStream
      name: pipelines
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: pipeline
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            id:
              type: string
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            statuses:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  type:
                    type:
                    - string
                    - "null"
                  id:
                    type:
                    - string
                    - "null"
                  label:
                    type:
                    - string
                    - "null"
            updated_by:
              type:
              - string
              - "null"
          required:
          - id
    send_as:
      type: DeclarativeStream
      name: send_as
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: send_as
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: https://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            allowed_user_id:
              type:
              - "null"
              - string
            allowing_user_id:
              type:
              - "null"
              - string
            id:
              type:
              - "null"
              - string
            organization_id:
              type:
              - "null"
              - string
    custom_activities:
      type: DeclarativeStream
      name: custom_activities
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: custom_activity
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            api_create_only:
              type:
              - boolean
              - "null"
            created_by:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            editable_with_roles:
              type:
              - array
              - "null"
            fields:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  type:
                    type:
                    - string
                    - "null"
                  accepts_multiple_values:
                    type:
                    - boolean
                    - "null"
                  editable_with_roles:
                    type:
                    - array
                    - "null"
                  id:
                    type:
                    - string
                    - "null"
                  is_shared:
                    type:
                    - boolean
                    - "null"
                  name:
                    type:
                    - string
                    - "null"
                  required:
                    type:
                    - boolean
                    - "null"
            id:
              type: string
            is_archived:
              type:
              - boolean
              - "null"
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            updated_by:
              type:
              - string
              - "null"
          required:
          - id
    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: role
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"cursor_next\", {}) }}"
            stop_condition: "{{ not response.get(\"cursor_next\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            editable:
              type:
              - boolean
              - "null"
            id:
              type: string
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            permissions:
              type:
              - array
              - "null"
              items:
                type:
                - string
                - "null"
            visibility_user_lcf_ids:
              type:
              - array
              - "null"
          required:
          - id
    smart_views:
      type: DeclarativeStream
      name: smart_views
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: saved_search
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"cursor_next\", {}) }}"
            stop_condition: "{{ not response.get(\"cursor_next\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            type:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type:
              - string
              - "null"
            id:
              type: string
            is_shared:
              type:
              - boolean
              - "null"
            is_user_dependent:
              type:
              - boolean
              - "null"
            name:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            s_query:
              type:
              - object
              - "null"
              properties:
                query:
                  type:
                  - object
                  - "null"
                  properties:
                    type:
                      type:
                      - string
                      - "null"
                    negate:
                      type:
                      - boolean
                      - "null"
                    queries:
                      type:
                      - array
                      - "null"
                      items:
                        type:
                        - object
                        - "null"
                        properties:
                          type:
                            type:
                            - string
                            - "null"
                          condition:
                            type:
                            - object
                            - "null"
                            properties:
                              type:
                                type:
                                - string
                                - "null"
                              value:
                                type:
                                - number
                                - "null"
                          field:
                            type:
                            - object
                            - "null"
                            properties:
                              type:
                                type:
                                - string
                                - "null"
                              field_name:
                                type:
                                - string
                                - "null"
                              object_type:
                                type:
                                - string
                                - "null"
                          negate:
                            type:
                            - boolean
                            - "null"
                          object_type:
                            type:
                            - string
                            - "null"
                          queries:
                            type:
                            - array
                            - "null"
                            items:
                              type:
                              - object
                              - "null"
                              properties:
                                type:
                                  type:
                                  - string
                                  - "null"
                                negate:
                                  type:
                                  - boolean
                                  - "null"
                                queries:
                                  type:
                                  - array
                                  - "null"
                                  items:
                                    type:
                                    - object
                                    - "null"
                                    properties:
                                      type:
                                        type:
                                        - string
                                        - "null"
                                      condition:
                                        type:
                                        - object
                                        - "null"
                                        properties:
                                          type:
                                            type:
                                            - string
                                            - "null"
                                          before:
                                            type:
                                            - object
                                            - "null"
                                            properties:
                                              type:
                                                type:
                                                - string
                                                - "null"
                                              direction:
                                                type:
                                                - string
                                                - "null"
                                              moment:
                                                type:
                                                - object
                                                - "null"
                                                properties:
                                                  type:
                                                    type:
                                                    - string
                                                    - "null"
                                              offset:
                                                type:
                                                - object
                                                - "null"
                                                properties:
                                                  days:
                                                    type:
                                                    - number
                                                    - "null"
                                                  hours:
                                                    type:
                                                    - number
                                                    - "null"
                                                  minutes:
                                                    type:
                                                    - number
                                                    - "null"
                                                  months:
                                                    type:
                                                    - number
                                                    - "null"
                                                  seconds:
                                                    type:
                                                    - number
                                                    - "null"
                                                  weeks:
                                                    type:
                                                    - number
                                                    - "null"
                                                  years:
                                                    type:
                                                    - number
                                                    - "null"
                                              which_day_end:
                                                type:
                                                - string
                                                - "null"
                                          gt:
                                            type:
                                            - number
                                            - "null"
                                          gte:
                                            type:
                                            - number
                                            - "null"
                                          lt:
                                            type:
                                            - number
                                            - "null"
                                          lte:
                                            type:
                                            - number
                                            - "null"
                                          object_ids:
                                            type:
                                            - array
                                            - "null"
                                            items:
                                              type:
                                              - string
                                              - "null"
                                          on_or_after:
                                            type:
                                            - object
                                            - "null"
                                            properties:
                                              type:
                                                type:
                                                - string
                                                - "null"
                                              direction:
                                                type:
                                                - string
                                                - "null"
                                              moment:
                                                type:
                                                - object
                                                - "null"
                                                properties:
                                                  type:
                                                    type:
                                                    - string
                                                    - "null"
                                              offset:
                                                type:
                                                - object
                                                - "null"
                                                properties:
                                                  days:
                                                    type:
                                                    - number
                                                    - "null"
                                                  hours:
                                                    type:
                                                    - number
                                                    - "null"
                                                  minutes:
                                                    type:
                                                    - number
                                                    - "null"
                                                  months:
                                                    type:
                                                    - number
                                                    - "null"
                                                  seconds:
                                                    type:
                                                    - number
                                                    - "null"
                                                  weeks:
                                                    type:
                                                    - number
                                                    - "null"
                                                  years:
                                                    type:
                                                    - number
                                                    - "null"
                                              which_day_end:
                                                type:
                                                - string
                                                - "null"
                                          reference_type:
                                            type:
                                            - string
                                            - "null"
                                      field:
                                        type:
                                        - object
                                        - "null"
                                        properties:
                                          type:
                                            type:
                                            - string
                                            - "null"
                                          field_name:
                                            type:
                                            - string
                                            - "null"
                                          object_type:
                                            type:
                                            - string
                                            - "null"
                                      negate:
                                        type:
                                        - boolean
                                        - "null"
                          related_object_type:
                            type:
                            - string
                            - "null"
                          related_query:
                            type:
                            - object
                            - "null"
                            properties:
                              type:
                                type:
                                - string
                                - "null"
                              condition:
                                type:
                                - object
                                - "null"
                                properties:
                                  type:
                                    type:
                                    - string
                                    - "null"
                                  value:
                                    type:
                                    - string
                                    - "null"
                              field:
                                type:
                                - object
                                - "null"
                                properties:
                                  type:
                                    type:
                                    - string
                                    - "null"
                                  field_name:
                                    type:
                                    - string
                                    - "null"
                                  object_type:
                                    type:
                                    - string
                                    - "null"
                              negate:
                                type:
                                - boolean
                                - "null"
                          this_object_type:
                            type:
                            - string
                            - "null"
                sort:
                  type:
                  - array
                  - "null"
            selected_fields:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  field_id:
                    type:
                    - string
                    - "null"
                  type_id:
                    type:
                    - string
                    - "null"
            sharing_settings:
              type:
              - object
              - "null"
              properties:
                created_at:
                  type:
                  - string
                  - "null"
                created_by_id:
                  type:
                  - string
                  - "null"
                group_ids:
                  type:
                  - array
                  - "null"
                updated_at:
                  type:
                  - string
                  - "null"
                updated_by_id:
                  type:
                  - string
                  - "null"
                user_ids:
                  type:
                  - array
                  - "null"
                whole_org:
                  type:
                  - boolean
                  - "null"
            user_id:
              type:
              - string
              - "null"
          required:
          - id
    leads:
      type: DeclarativeStream
      name: leads
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: lead
          http_method: GET
          request_body_json:
            sort:
            - field:
                type: regular_field
                field_name: date_updated
                object_type: lead
              direction: asc
            limit: 200
            query:
              type: and
              negate: false
              queries:
              - type: object_type
                negate: false
                object_type: lead
              - type: and
                negate: false
                queries:
                - type: and
                  negate: false
                  queries:
                  - type: field_condition
                    field:
                      type: regular_field
                      field_name: date_updated
                      object_type: lead
                    negate: false
                    condition:
                      type: moment_range
                      before:
                        type: fixed_local_date
                        value: "{{ stream_slice['end_time'] }}"
                        which: end
                      on_or_after:
                        type: fixed_local_date
                        value: "{{ stream_slice['start_time'] }}"
                        which: start
            results_limit:
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
          record_filter:
            type: RecordFilter
            condition: "{{ record['date_updated'] >= stream_slice['start_time'] }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
            inject_on_first_request: false
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_updated
        cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%d %H:%M:%S.%f+00:00"
        - "%Y-%m-%dT%H:%M:%S.%f"
        - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            description:
              type:
              - string
              - "null"
            addresses:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  address_1:
                    type:
                    - string
                    - "null"
                  city:
                    type:
                    - string
                    - "null"
                  country:
                    type:
                    - string
                    - "null"
                  label:
                    type:
                    - string
                    - "null"
                  state:
                    type:
                    - string
                    - "null"
                  zipcode:
                    type:
                    - string
                    - "null"
            contacts:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  created_by:
                    type:
                    - string
                    - "null"
                  custom.cf_VYvMYfZ8iP1AUo4cAEfEMDwRA9wWrnGovP8otB6pt3O:
                    type:
                    - string
                    - "null"
                  custom.cf_q10N0iddlgVLrSY60AAsaAaDmpqhwm8uTD62hqkW8bG:
                    type:
                    - string
                    - "null"
                  date_created:
                    type:
                    - string
                    - "null"
                  date_updated:
                    type:
                    - string
                    - "null"
                  display_name:
                    type:
                    - string
                    - "null"
                  emails:
                    type:
                    - array
                    - "null"
                    items:
                      type:
                      - object
                      - "null"
                      properties:
                        type:
                          type:
                          - string
                          - "null"
                        email:
                          type:
                          - string
                          - "null"
                        is_unsubscribed:
                          type:
                          - boolean
                          - "null"
                  id:
                    type:
                    - string
                    - "null"
                  integration_links:
                    type:
                    - array
                    - "null"
                    items:
                      type:
                      - object
                      - "null"
                      properties:
                        name:
                          type:
                          - string
                          - "null"
                        url:
                          type:
                          - string
                          - "null"
                  lead_id:
                    type:
                    - string
                    - "null"
                  name:
                    type:
                    - string
                    - "null"
                  organization_id:
                    type:
                    - string
                    - "null"
                  phones:
                    type:
                    - array
                    - "null"
                    items:
                      type:
                      - object
                      - "null"
                      properties:
                        type:
                          type:
                          - string
                          - "null"
                        country:
                          type:
                          - string
                          - "null"
                        phone:
                          type:
                          - string
                          - "null"
                        phone_formatted:
                          type:
                          - string
                          - "null"
                  title:
                    type:
                    - string
                    - "null"
                  updated_by:
                    type:
                    - string
                    - "null"
                  urls:
                    type:
                    - array
                    - "null"
            created_by:
              type:
              - string
              - "null"
            created_by_name:
              type:
              - string
              - "null"
            custom:
              type:
              - object
              - "null"
              properties:
                Company Size:
                  type:
                  - number
                  - "null"
                Current Vendor/Software:
                  type:
                  - string
                  - "null"
                Custom Field:
                  type:
                  - string
                  - "null"
                Industry:
                  type:
                  - string
                  - "null"
                Lead Owner:
                  type:
                  - string
                  - "null"
                Socials:
                  type:
                  - string
                  - "null"
            custom.cf_5qdOHOVmOpQY0atDTryqJ8oWoIsOk4KiBjNxLvrkZ7V:
              type:
              - number
              - "null"
            custom.cf_CvzBkgtRaIvMQ0Dp5cLWFRoYZg5iAU7lWiabxEYM2BW:
              type:
              - string
              - "null"
            custom.cf_gZZ1lMuhs5PMVJJ1K2k5Gv8eO0xK7xQTOcL6YMLN8yn:
              type:
              - string
              - "null"
            custom.cf_heAU31b78FDIrRbnlCuYw6nAgZ1Bwvqk5mjiV196IvW:
              type:
              - string
              - "null"
            custom.cf_mY09j88MRvAducyHBacUMHXKTESSScmbr1ZmHO0nVKy:
              type:
              - string
              - "null"
            custom.cf_uo2GJfwzGTmT0B81h7sC8Laa6QonsWbRk72W68C1Lsi:
              type:
              - string
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type: string
            display_name:
              type:
              - string
              - "null"
            html_url:
              type:
              - string
              - "null"
            id:
              type: string
            integration_links:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  name:
                    type:
                    - string
                    - "null"
                  url:
                    type:
                    - string
                    - "null"
            name:
              type:
              - string
              - "null"
            opportunities:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  annualized_expected_value:
                    type:
                    - number
                    - "null"
                  annualized_value:
                    type:
                    - number
                    - "null"
                  attachments:
                    type:
                    - array
                    - "null"
                  confidence:
                    type:
                    - number
                    - "null"
                  contact_id:
                    type:
                    - string
                    - "null"
                  contact_name:
                    type:
                    - string
                    - "null"
                  created_by:
                    type:
                    - string
                    - "null"
                  created_by_name:
                    type:
                    - string
                    - "null"
                  custom.cf_Lt9ZCzHrE0GClVm01tVw2CbEV8b8uXbzjFh1GV4ykzb:
                    type:
                    - string
                    - "null"
                  custom.cf_WTCEL2BzW336elZoqzpwdFU4AcFX3cWm3OVz1dayVdm:
                    type:
                    - string
                    - "null"
                  custom.cf_ZWAsJGtPGJ4lhF5RIVQEAvkZPJHys4mEBJ8CPtGPH0Q:
                    type:
                    - number
                    - "null"
                  custom.cf_cfGj2bqQMirimKq4zDBjlggxapzzgQQRPMr0qmCr4qK:
                    type:
                    - array
                    - "null"
                    items:
                      type:
                      - string
                      - "null"
                  custom.cf_jUQgz6VZfrZuci8pMgpMQxW8x9aBCL4CFiIVnp94G4S:
                    type:
                    - number
                    - "null"
                  date_created:
                    type:
                    - string
                    - "null"
                  date_updated:
                    type:
                    - string
                    - "null"
                  date_won:
                    type:
                    - string
                    - "null"
                  expected_value:
                    type:
                    - number
                    - "null"
                  id:
                    type:
                    - string
                    - "null"
                  integration_links:
                    type:
                    - array
                    - "null"
                  lead_id:
                    type:
                    - string
                    - "null"
                  lead_name:
                    type:
                    - string
                    - "null"
                  note:
                    type:
                    - string
                    - "null"
                  organization_id:
                    type:
                    - string
                    - "null"
                  pipeline_id:
                    type:
                    - string
                    - "null"
                  pipeline_name:
                    type:
                    - string
                    - "null"
                  status_display_name:
                    type:
                    - string
                    - "null"
                  status_id:
                    type:
                    - string
                    - "null"
                  status_label:
                    type:
                    - string
                    - "null"
                  status_type:
                    type:
                    - string
                    - "null"
                  updated_by:
                    type:
                    - string
                    - "null"
                  updated_by_name:
                    type:
                    - string
                    - "null"
                  user_id:
                    type:
                    - string
                    - "null"
                  user_name:
                    type:
                    - string
                    - "null"
                  value:
                    type:
                    - number
                    - "null"
                  value_currency:
                    type:
                    - string
                    - "null"
                  value_formatted:
                    type:
                    - string
                    - "null"
                  value_period:
                    type:
                    - string
                    - "null"
            organization_id:
              type:
              - string
              - "null"
            status_id:
              type:
              - string
              - "null"
            status_label:
              type:
              - string
              - "null"
            tasks:
              type:
              - array
              - "null"
              items:
                type:
                - object
                - "null"
                properties:
                  _type:
                    type:
                    - string
                    - "null"
                  assigned_to:
                    type:
                    - string
                    - "null"
                  assigned_to_name:
                    type:
                    - string
                    - "null"
                  created_by:
                    type:
                    - string
                    - "null"
                  created_by_name:
                    type:
                    - string
                    - "null"
                  date:
                    type:
                    - string
                    - "null"
                  date_created:
                    type:
                    - string
                    - "null"
                  date_updated:
                    type:
                    - string
                    - "null"
                  due_date:
                    type:
                    - string
                    - "null"
                  id:
                    type:
                    - string
                    - "null"
                  is_complete:
                    type:
                    - boolean
                    - "null"
                  is_primary_lead_notification:
                    type:
                    - boolean
                    - "null"
                  lead_id:
                    type:
                    - string
                    - "null"
                  lead_name:
                    type:
                    - string
                    - "null"
                  organization_id:
                    type:
                    - string
                    - "null"
                  text:
                    type:
                    - string
                    - "null"
                  updated_by:
                    type:
                    - string
                    - "null"
                  updated_by_name:
                    type:
                    - string
                    - "null"
                  view:
                    type:
                    - string
                    - "null"
            updated_by:
              type:
              - string
              - "null"
            updated_by_name:
              type:
              - string
              - "null"
            url:
              type:
              - string
              - "null"
          required:
          - id
          - date_updated
    opportunities:
      type: DeclarativeStream
      name: opportunities
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: opportunity
          http_method: GET
          request_parameters:
            _order_by: date_updated
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _skip
          page_size_option:
            type: RequestOption
            field_name: _limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 250
            inject_on_first_request: false
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_updated
        cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%d %H:%M:%S.%f+00:00"
        - "%Y-%m-%dT%H:%M:%S.%f"
        - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date_updated__gt
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date_updated__lte
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1Y
        cursor_granularity: PT0.000001S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            annualized_expected_value:
              type:
              - number
              - "null"
            annualized_value:
              type:
              - number
              - "null"
            attachments:
              type:
              - array
              - "null"
            confidence:
              type:
              - number
              - "null"
            contact_id:
              type:
              - string
              - "null"
            contact_name:
              type:
              - string
              - "null"
            created_by:
              type:
              - string
              - "null"
            created_by_name:
              type:
              - string
              - "null"
            custom.cf_Lt9ZCzHrE0GClVm01tVw2CbEV8b8uXbzjFh1GV4ykzb:
              type:
              - string
              - "null"
            custom.cf_WTCEL2BzW336elZoqzpwdFU4AcFX3cWm3OVz1dayVdm:
              type:
              - string
              - "null"
            custom.cf_ZWAsJGtPGJ4lhF5RIVQEAvkZPJHys4mEBJ8CPtGPH0Q:
              type:
              - number
              - "null"
            custom.cf_cfGj2bqQMirimKq4zDBjlggxapzzgQQRPMr0qmCr4qK:
              type:
              - array
              - "null"
              items:
                type:
                - string
                - "null"
            custom.cf_jUQgz6VZfrZuci8pMgpMQxW8x9aBCL4CFiIVnp94G4S:
              type:
              - number
              - "null"
            date_created:
              type:
              - string
              - "null"
            date_updated:
              type: string
            date_won:
              type:
              - string
              - "null"
            expected_value:
              type:
              - number
              - "null"
            id:
              type: string
            integration_links:
              type:
              - array
              - "null"
            lead_id:
              type:
              - string
              - "null"
            lead_name:
              type:
              - string
              - "null"
            note:
              type:
              - string
              - "null"
            organization_id:
              type:
              - string
              - "null"
            pipeline_id:
              type:
              - string
              - "null"
            pipeline_name:
              type:
              - string
              - "null"
            status_display_name:
              type:
              - string
              - "null"
            status_id:
              type:
              - string
              - "null"
            status_label:
              type:
              - string
              - "null"
            status_type:
              type:
              - string
              - "null"
            updated_by:
              type:
              - string
              - "null"
            updated_by_name:
              type:
              - string
              - "null"
            user_id:
              type:
              - string
              - "null"
            user_name:
              type:
              - string
              - "null"
            value:
              type:
              - number
              - "null"
            value_currency:
              type:
              - string
              - "null"
            value_formatted:
              type:
              - string
              - "null"
            value_period:
              type:
              - string
              - "null"
          required:
          - id
          - date_updated
    events:
      type: DeclarativeStream
      name: events
      primary_key:
      - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.close.com/api/v1/
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
          path: event
          http_method: GET
          request_parameters:
            _order_by: date_updated
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: _cursor
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"cursor_next\", {}) }}"
            stop_condition: "{{ not response.get(\"cursor_next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_updated
        cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%d %H:%M:%S.%f+00:00"
        - "%Y-%m-%dT%H:%M:%S.%f"
        - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date_updated__gt
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date_updated__lte
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1Y
        cursor_granularity: PT0.000001S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            action:
              type:
              - string
              - "null"
            changed_fields:
              type:
              - array
              - "null"
              items:
                type:
                - string
                - "null"
            data:
              type:
              - object
              - "null"
              properties:
                version:
                  type:
                  - number
                  - "null"
                type:
                  type:
                  - string
                  - "null"
                description:
                  type:
                  - string
                  - "null"
                _type:
                  type:
                  - string
                  - "null"
                accepts_multiple_values:
                  type:
                  - boolean
                  - "null"
                activity_at:
                  type:
                  - string
                  - "null"
                addresses:
                  type:
                  - array
                  - "null"
                  items:
                    type:
                    - object
                    - "null"
                    properties:
                      address_1:
                        type:
                        - string
                        - "null"
                      city:
                        type:
                        - string
                        - "null"
                      country:
                        type:
                        - string
                        - "null"
                      label:
                        type:
                        - string
                        - "null"
                      state:
                        type:
                        - string
                        - "null"
                      zipcode:
                        type:
                        - string
                        - "null"
                annualized_expected_value:
                  type:
                  - number
                  - "null"
                annualized_value:
                  type:
                  - number
                  - "null"
                assigned_to:
                  type:
                  - string
                  - "null"
                assigned_to_name:
                  type:
                  - string
                  - "null"
                attachments:
                  type:
                  - array
                  - "null"
                  items:
                    type:
                    - object
                    - "null"
                    properties:
                      content_type:
                        type:
                        - string
                        - "null"
                      filename:
                        type:
                        - string
                        - "null"
                      size:
                        type:
                        - number
                        - "null"
                      url:
                        type:
                        - string
                        - "null"
                auto_record_calls:
                  type:
                  - string
                  - "null"
                bcc:
                  type:
                  - array
                  - "null"
                body:
                  type:
                  - string
                  - "null"
                body_html:
                  type:
                  - string
                  - "null"
                body_preview:
                  type:
                  - string
                  - "null"
                body_text:
                  type:
                  - string
                  - "null"
                call_method:
                  type:
                  - string
                  - "null"
                cc:
                  type:
                  - array
                  - "null"
                checksum:
                  type:
                  - string
                  - "null"
                choices:
                  type:
                  - array
                  - "null"
                  items:
                    type:
                    - string
                    - "null"
                confidence:
                  type:
                  - number
                  - "null"
                contact_id:
                  type:
                  - string
                  - "null"
                contact_ids:
                  type:
                  - array
                  - "null"
                  items:
                    type:
                    - string
                    - "null"
                contact_name:
                  type:
                  - string
                  - "null"
                content_type:
                  type:
                  - string
                  - "null"
                created_at:
                  type:
                  - string
                  - "null"
                created_by:
                  type:
                  - string
                  - "null"
                created_by_id:
                  type:
                  - string
                  - "null"
                created_by_name:
                  type:
                  - string
                  - "null"
                custom.cf_1KxKgcpXmlPnNJ0spcItOx0CIRiCZZEWsQ4t6VFskvS:
                  type:
                  - array
                  - "null"
                  items:
                    type:
                    - string
                    - "null"
                custom.cf_2yBAoHro24ZKbORlL2fEaaKWk5xEtGPTyajklNohsWn:
                  type:
                  - array
                  - "null"
                  items:
                    type:
                    - string
                    - "null"
[...]
