version: 6.38.3

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - routing_settings

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      description: >-
        Accounts Stream:
        https://developer.zendesk.com/rest_api/docs/chat/accounts#show-account
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: account
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path: []
      name: accounts
      primary_key:
        - account_key
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    agents:
      type: DeclarativeStream
      description: >-
        Agents Stream:
        https://developer.zendesk.com/rest_api/docs/chat/agents#list-agents
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        ignore_stream_slicer_parameters_on_paginated_requests: true
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: agents
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: since_id
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['id'] + 1 }}"
            page_size: 100
            stop_condition: "{{ not last_record }}"
      name: agents
      primary_key:
        - id
      incremental_sync:
        type: IncrementingCountCursor
        cursor_field: "id"
        start_value: 0
        start_value_option:
          type: RequestOption
          field_name: since_id
          inject_into: "request_parameter"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agents"
    agent_timeline:
      type: DeclarativeStream
      description: >-
        Agent Timelines Stream:
        https://developer.zendesk.com/rest_api/docs/chat/incremental_export#incremental-agent-timeline-export
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        ignore_stream_slicer_parameters_on_paginated_requests: true
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: incremental/agent_timeline
          http_method: GET
          request_parameters:
            fields: agent_timeline(*)
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path:
              - agent_timeline
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 1000
            cursor_value: '{{ response.get("end_time", {}) }}'
            stop_condition: "{{ last_page_size < 1_000 }}"
      name: agent_timeline
      primary_key:
        - id
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%epoch_microseconds"
        start_datetime:
          datetime: "{{ format_datetime(config['start_date'], '%epoch_microseconds') }}"
        start_time_option:
          field_name: start_time
          inject_into: "request_parameter"
      transformations:
        - type: AddFields
          fields:
            - path:
                - start_time
              value: >-
                {{ format_datetime(record.get('start_time',
                config['start_date']), '%Y-%m-%dT%H:%M:%SZ') }}
        - type: AddFields
          fields:
            - path:
                - id
              value: >-
                {{ [record.get('agent_id', ''), record.get('start_time', '')]|join('|') }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agent_timeline"
    bans:
      type: DeclarativeStream
      description: >-
        Bans Stream:
        https://developer.zendesk.com/rest_api/docs/chat/bans#list-bans
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        ignore_stream_slicer_parameters_on_paginated_requests: true
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: bans
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: >-
              source_declarative_manifest.components.ZendeskChatBansRecordExtractor
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: since_id
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['id'] + 1 }}"
            page_size: 100
            stop_condition: "{{ not last_record }}"
      name: bans
      primary_key:
        - id
      incremental_sync:
        type: IncrementingCountCursor
        cursor_field: "id"
        start_value: 0
        start_value_option:
          type: RequestOption
          field_name: since_id
          inject_into: "request_parameter"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bans"
    chats:
      type: DeclarativeStream
      description: >-
        Chats Stream:
        https://developer.zendesk.com/api-reference/live-chat/chat-api/incremental_export/#incremental-chat-export
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        ignore_stream_slicer_parameters_on_paginated_requests: true
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: incremental/chats
          http_method: GET
          request_parameters:
            fields: chats(*)
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path:
              - chats
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 1000
            cursor_value: '{{ response.get("end_time", {}) }}'
            stop_condition: "{{ last_page_size < 1_000 }}"
      name: chats
      primary_key:
        - id
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_timestamp
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
        start_time_option:
          field_name: start_time
          inject_into: "request_parameter"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/chats"
    departments:
      type: DeclarativeStream
      description: >-
        Departments Stream:
        https://developer.zendesk.com/rest_api/docs/chat/departments#list-departments
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: departments
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path: []
      name: departments
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/departments"
    goals:
      type: DeclarativeStream
      description: >-
        Goals Stream:
        https://developer.zendesk.com/rest_api/docs/chat/goals#list-goals
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: goals
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path: []
      name: goals
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/goals"
    roles:
      type: DeclarativeStream
      description: >-
        Roles Stream:
        https://developer.zendesk.com/rest_api/docs/chat/roles#list-roles
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: roles
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path: []
      name: roles
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    routing_settings:
      type: DeclarativeStream
      description: >-
        Routing Settings Stream:
        https://developer.zendesk.com/rest_api/docs/chat/routing_settings#show-account-routing-settings
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: routing_settings/account
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      name: routing_settings
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/routing_settings"
    shortcuts:
      type: DeclarativeStream
      description: >-
        Shortcuts Stream:
        https://developer.zendesk.com/rest_api/docs/chat/shortcuts#list-shortcuts
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: shortcuts
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path: []
      name: shortcuts
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shortcuts"
    skills:
      type: DeclarativeStream
      description: >-
        Skills Stream:
        https://developer.zendesk.com/rest_api/docs/chat/skills#list-skills
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: skills
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path: []
      name: skills
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/skills"
    triggers:
      type: DeclarativeStream
      description: >-
        Triggers Stream:
        https://developer.zendesk.com/rest_api/docs/chat/triggers#list-triggers
      retriever:
        type: SimpleRetriever
        description: Default Retriever for Full Refresh streams
        requester:
          description: Default Base Requester for Full Refresh streams
          $ref: "#/definitions/base_requester"
          path: triggers
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            description: The default error handler
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
        record_selector:
          type: RecordSelector
          description: Base records selector for Full Refresh streams
          extractor:
            type: DpathExtractor
            field_path: []
      name: triggers
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/triggers"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/chat/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['credentials']['access_token'] }}"

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/agents"
  - $ref: "#/definitions/streams/agent_timeline"
  - $ref: "#/definitions/streams/bans"
  - $ref: "#/definitions/streams/chats"
  - $ref: "#/definitions/streams/departments"
  - $ref: "#/definitions/streams/goals"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/routing_settings"
  - $ref: "#/definitions/streams/shortcuts"
  - $ref: "#/definitions/streams/skills"
  - $ref: "#/definitions/streams/triggers"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - start_date
      - subdomain
    properties:
      start_date:
        type: string
        description: >-
          The date from which you'd like to replicate data for Zendesk Chat API,
          in the format YYYY-MM-DDT00:00:00Z.
        title: Start Date
        examples:
          - "2021-02-01T00:00:00Z"
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        format: date-time
        order: 0
      subdomain:
        type: string
        description: >-
          The unique subdomain of your Zendesk account (without https://). <a
          href=\"https://support.zendesk.com/hc/en-us/articles/4409381383578-Where-can-I-find-my-Zendesk-subdomain\">See
          the Zendesk docs to find your subdomain</a>.
        title: Subdomain
        order: 1
        pattern: ^(?!https://)
        examples:
          - myzendeskchat
      credentials:
        type: object
        title: Authorization Method
        oneOf:
          - type: object
            title: OAuth2.0
            required:
              - credentials
            properties:
              credentials:
                type: string
                const: oauth2.0
                order: 0
              client_id:
                type: string
                description: The Client ID of your OAuth application
                title: Client ID
                airbyte_secret: true
              client_secret:
                type: string
                description: The Client Secret of your OAuth application.
                title: Client Secret
                airbyte_secret: true
              access_token:
                type: string
                description: Access Token for making authenticated requests.
                title: Access Token
                airbyte_secret: true
              refresh_token:
                type: string
                description: Refresh Token to obtain new Access Token, when it's expired.
                title: Refresh Token
                airbyte_secret: true
          - type: object
            title: Access Token
            required:
              - credentials
              - access_token
            properties:
              credentials:
                type: string
                const: access_token
                order: 0
              access_token:
                type: string
                description: The Access Token to make authenticated requests.
                title: Access Token
                airbyte_secret: true
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: false
    agents: false
    agent_timeline: false
    bans: false
    chats: false
    departments: false
    goals: false
    roles: false
    routing_settings: false
    shortcuts: false
    skills: false
    triggers: false
  yamlComponents:
    streams:
      accounts:
        - errorHandler
        - recordSelector
      agents:
        - paginator
        - errorHandler
        - incrementalSync
        - recordSelector
      agent_timeline:
        - paginator
        - errorHandler
        - incrementalSync
        - recordSelector
      bans:
        - paginator
        - errorHandler
        - incrementalSync
        - recordSelector
      chats:
        - paginator
        - errorHandler
        - incrementalSync
        - recordSelector
      departments:
        - errorHandler
        - recordSelector
      goals:
        - errorHandler
        - recordSelector
      roles:
        - errorHandler
        - recordSelector
      routing_settings:
        - errorHandler
      shortcuts:
        - errorHandler
        - recordSelector
      skills:
        - errorHandler
        - recordSelector
      triggers:
        - errorHandler
        - recordSelector
    global:
      - authenticator
  testedStreams: {}
  assist: {}

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      account_key:
        type:
          - "null"
          - string
      billing:
        type:
          - "null"
          - object
        properties:
          additional_info:
            type:
              - "null"
              - string
          address1:
            type:
              - "null"
              - string
          address2:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          company:
            type:
              - "null"
              - string
          country_code:
            type:
              - "null"
              - string
          cycle:
            type:
              - "null"
              - integer
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
          phone:
            type:
              - "null"
              - string
          postal_code:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
      create_date:
        type:
          - "null"
          - string
        format: date-time
      plan:
        type:
          - "null"
          - object
        properties:
          agent_leaderboard:
            type:
              - "null"
              - boolean
          agent_reports:
            type:
              - "null"
              - boolean
          analytics:
            type:
              - "null"
              - boolean
          chat_reports:
            type:
              - "null"
              - boolean
          daily_reports:
            type:
              - "null"
              - boolean
          email_reports:
            type:
              - "null"
              - boolean
          file_upload:
            type:
              - "null"
              - boolean
          goals:
            type:
              - "null"
              - integer
          high_load:
            type:
              - "null"
              - boolean
          integrations:
            type:
              - "null"
              - boolean
          ip_restriction:
            type:
              - "null"
              - boolean
          long_desc:
            type:
              - "null"
              - string
          max_advanced_triggers:
            type:
              - "null"
              - string
          max_agents:
            type:
              - "null"
              - integer
          max_basic_triggers:
            type:
              - "null"
              - string
          max_concurrent_chats:
            type:
              - "null"
              - string
          max_departments:
            type:
              - "null"
              - string
          max_history_search_days:
            type:
              - "null"
              - string
          monitoring:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
          operating_hours:
            type:
              - "null"
              - boolean
          price:
            type:
              - "null"
              - number
          rest_api:
            type:
              - "null"
              - boolean
          short_desc:
            type:
              - "null"
              - string
          sla:
            type:
              - "null"
              - boolean
          support:
            type:
              - "null"
              - boolean
          unbranding:
            type:
              - "null"
              - boolean
          widget_customization:
            type:
              - "null"
              - string
      status:
        type:
          - "null"
          - string
  agents:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      create_date:
        type:
          - "null"
          - string
        format: date-time
      departments:
        type:
          - "null"
          - array
        items:
          type:
            - integer
      display_name:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      enabled:
        type:
          - "null"
          - boolean
      enabled_departments:
        type:
          - "null"
          - array
      first_name:
        type:
          - "null"
          - string
      id:
        type:
          - integer
      last_login:
        type:
          - "null"
          - string
        format: date-time
      last_name:
        type:
          - "null"
          - string
      login_count:
        type:
          - "null"
          - integer
      role_id:
        type:
          - "null"
          - integer
      roles:
        type:
          - "null"
          - object
        properties:
          administrator:
            type:
              - boolean
          owner:
            type:
              - boolean
      scope:
        type:
          - "null"
          - string
      skills:
        type:
          - "null"
          - array
        items:
          type: integer
  agent_timeline:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      agent_id:
        type:
          - "null"
          - integer
      duration:
        type:
          - "null"
          - number
      engagement_count:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - string
      start_time:
        type:
          - "null"
          - string
        format: date-time
      status:
        type:
          - "null"
          - string
  bans:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      create_date:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - integer
      ip_address:
        type:
          - "null"
          - string
      reason:
        type:
          - "null"
          - string
      visitor_id:
        type:
          - "null"
          - string
      visitor_name:
        type:
          - "null"
          - string
  chats:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      agent_ids:
        type:
          - "null"
          - array
        items:
          type:
            - string
      agent_names:
        type:
          - "null"
          - array
        items:
          type:
            - string
      comment:
        type:
          - "null"
          - string
      conversions:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            attribution:
              type:
                - "null"
                - object
              properties:
                agent_id:
                  type:
                    - "null"
                    - integer
                agent_name:
                  type:
                    - "null"
                    - string
                chat_timestamp:
                  type:
                    - "null"
                    - string
                  format: date-time
                department_id:
                  type:
                    - "null"
                    - integer
                department_name:
                  type:
                    - "null"
                    - string
            goal_id:
              type:
                - "null"
                - integer
            goal_name:
              type:
                - "null"
                - string
            id:
              type:
                - string
            timestamp:
              type:
                - "null"
                - string
              format: date-time
      count:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          agent:
            type:
              - "null"
              - integer
          total:
            type:
              - "null"
              - integer
          visitor:
            type:
              - "null"
              - integer
      deleted:
        type:
          - "null"
          - boolean
      department_id:
        type:
          - "null"
          - integer
      department_name:
        type:
          - "null"
          - string
      duration:
        type:
          - "null"
          - integer
      engagements:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            accepted:
              type:
                - "null"
                - boolean
            agent_full_name:
              type:
                - "null"
                - string
            agent_id:
              type:
                - "null"
                - string
            agent_name:
              type:
                - "null"
                - string
            assigned:
              type:
                - "null"
                - boolean
            comment:
              type:
                - "null"
                - string
            count:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                agent:
                  type:
                    - "null"
                    - integer
                total:
                  type:
                    - "null"
                    - integer
                visitor:
                  type:
                    - "null"
                    - integer
            department_id:
              type:
                - "null"
                - integer
            duration:
              type:
                - "null"
                - number
            id:
              type:
                - "null"
                - string
            rating:
              type:
                - "null"
                - string
            response_time:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                avg:
                  type:
                    - "null"
                    - number
                first:
                  type:
                    - "null"
                    - integer
                max:
                  type:
                    - "null"
                    - integer
            skills_fulfilled:
              type:
                - "null"
                - boolean
            skills_requested:
              type:
                - "null"
                - array
            started_by:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - string
              format: date-time
      history:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            channel:
              type:
                - "null"
                - string
            conversion:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                attribution:
                  type:
                    - "null"
                    - object
                  properties:
                    agent_id:
                      type:
                        - "null"
                        - integer
                    agent_name:
                      type:
                        - "null"
                        - string
                    chat_timestamp:
                      type:
                        - "null"
                        - string
                      format: date-time
                    department_id:
                      type:
                        - "null"
                        - integer
                    department_name:
                      type:
                        - "null"
                        - string
                goal_id:
                  type:
                    - "null"
                    - integer
                goal_name:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - string
                timestamp:
                  type:
                    - "null"
                    - string
                  format: date-time
            department_id:
              type:
                - "null"
                - integer
                - string
            department_name:
              type:
                - "null"
                - string
            msg:
              type:
                - "null"
                - string
            msg_id:
              type:
                - "null"
                - string
                - integer
            name:
              type:
                - "null"
                - string
            new_rating:
              type:
                - "null"
                - string
            new_tags:
              type:
                - "null"
                - array
            nick:
              type:
                - "null"
                - string
            options:
              type:
                - "null"
                - string
            prev_department_id:
              type:
                - "null"
                - integer
                - string
            rating:
              type:
                - "null"
                - string
            skills_name:
              type:
                - "null"
                - array
            tags:
              type:
                - "null"
                - array
            timestamp:
              type:
                - "null"
                - string
              format: date-time
      id:
        type:
          - "null"
          - string
      message:
        type:
          - "null"
          - string
      missed:
        type:
          - "null"
          - boolean
      rating:
        type:
          - "null"
          - string
      response_time:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          avg:
            type:
              - "null"
              - number
          first:
            type:
              - "null"
              - integer
          max:
            type:
              - "null"
              - integer
      session:
        properties:
          browser:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          country_code:
            type:
              - "null"
              - string
          country_name:
            type:
              - "null"
              - string
          end_date:
            type:
              - "null"
              - string
            format: date-time
          id:
            type:
              - "null"
              - string
          ip:
            type:
              - "null"
              - string
          platform:
            type:
              - "null"
              - string
          region:
            type:
              - "null"
              - string
          start_date:
            type:
              - "null"
              - string
            format: date-time
          user_agent:
            type:
              - "null"
              - string
      started_by:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - string
      timestamp:
        type:
          - "null"
          - string
        format: date-time
      triggered:
        type:
          - "null"
          - boolean
      triggered_response:
        type:
          - "null"
          - boolean
      unread:
        type:
          - "null"
          - boolean
      update_timestamp:
        type:
          - "null"
          - string
        format: date-time
      visitor:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          email:
            type:
              - "null"
              - string
          id:
            type:
              - string
          name:
            type:
              - "null"
              - string
          notes:
            type:
              - "null"
              - string
          phone:
            type:
              - "null"
              - string
      webpath:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            from:
              type:
                - "null"
                - string
            timestamp:
              type:
                - "null"
                - string
              format: date-time
            title:
              type:
                - "null"
                - string
            to:
              type:
                - "null"
                - string
      zendesk_ticket_id:
        type:
          - "null"
          - integer
  departments:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      enabled:
        type:
          - "null"
          - boolean
      id:
        type:
          - integer
      members:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      name:
        type:
          - "null"
          - string
      settings:
        type:
          - "null"
          - object
        additionalProperties: true
  goals:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      attribution_model:
        type:
          - "null"
          - string
      attribution_period:
        type:
          - "null"
          - integer
      enabled:
        type:
          - "null"
          - boolean
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      settings:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          conditions:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                operator:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - string
  roles:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      enabled:
        type:
          - "null"
          - boolean
      id:
        type:
          - integer
      members_count:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      permissions:
        type:
          - "null"
          - object
        properties:
          access_analytics:
            type:
              - "null"
              - string
          edit_chat_tags:
            type:
              - "null"
              - boolean
          edit_department_agents:
            type:
              - "null"
              - string
          edit_visitor_information:
            type:
              - "null"
              - boolean
          edit_visitor_notes:
            type:
              - "null"
              - boolean
          manage_bans:
            type:
              - "null"
              - string
          manage_shortcuts:
            type:
              - "null"
              - string
          proactive_chatting:
            type:
              - "null"
              - string
          set_agent_chat_limit:
            type:
              - "null"
              - string
          view_monitor:
            type:
              - "null"
              - string
          view_past_chats:
            type:
              - "null"
              - string
          visitors_seen:
            type:
              - "null"
              - string
  routing_settings:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      auto_idle:
        type:
          - "null"
          - object
        properties:
          enabled:
            type:
              - "null"
              - boolean
          new_status:
            type:
              - "null"
              - string
          reassignments_before_idle:
            type:
              - "null"
              - integer
      chat_limit:
        type:
          - "null"
          - object
        properties:
          allow_agent_override:
            type:
              - "null"
              - boolean
          enabled:
            type:
              - "null"
              - boolean
          limit:
            type:
              - "null"
              - integer
          limit_type:
            type:
              - "null"
              - string
      reassignment:
        type:
          - "null"
          - object
        properties:
          enabled:
            type:
              - "null"
              - boolean
          timeout:
            type:
              - "null"
              - integer
      routing_mode:
        type:
          - "null"
          - string
      skill_routing:
        type:
          - "null"
          - object
        properties:
          enabled:
            type:
              - "null"
              - boolean
          max_wait_time:
            type:
              - "null"
              - integer
  shortcuts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      departments:
        type:
          - "null"
          - array
        items:
          type: integer
      id:
        type:
          - "null"
          - string
      message:
        type:
          - "null"
          - string
      name:
        type:
          - string
      options:
        type:
          - "null"
          - string
      scope:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - string
  skills:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      enabled:
        type:
          - "null"
          - boolean
      id:
        type:
          - integer
      members:
        type:
          - "null"
          - array
        items:
          type: integer
      name:
        type:
          - "null"
          - string
  triggers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - object
        properties:
          version:
            type:
              - "null"
              - integer
          actions:
            type:
              - "null"
              - string
              - array
          condition:
            type:
              - "null"
              - string
              - array
          event:
            type:
              - "null"
              - string
              - array
      enabled:
        type:
          - "null"
          - boolean
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 10
  max_concurrency: 10

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        #        Chat API has limit of 200 requests/minute for all plans: https://developer.zendesk.com/api-reference/introduction/rate-limits/#zendesk-suite-plan-limits
        - limit: 200
          interval: PT1M
      matchers:
        - method: GET
          url_path_pattern: ".*" # matches 'any request'
  status_codes_for_ratelimit_hit: [429]
