@use "../../../scss/colors";

.errorOccurredView {
  min-height: 400px;
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .octavia {
    // width: 100px;
    // height: 128px;
    width: 358px;
    height: 316px;
    margin-bottom: 24px;
  }

  // background: radial-gradient(35.57% 35.57% at 50% 50%, colors.$white 0%, colors.$white 55.87%, colors.$beige 100%);
  background: transparent;

  .content {
    max-width: 600px;
    text-align: center;
  }

  .message {
    // margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
  }

  .h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    margin-bottom: 80px;
  }

  .tips {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #6b6b6f;
  }
}
