version: 7.0.4

type: DeclarativeSource

description: >-
  The Zoho Books connector  enables seamless integration of financial data,
  automating the flow of invoices, payments, expenses, and bank transactions
  into your data systems. With this connector, businesses can streamline
  bookkeeping processes, ensuring accurate financial reporting and real-time
  insights.

check:
  type: CheckStream
  stream_names:
    - users
  dynamic_streams_check_configs: []

definitions:
  linked:
    HttpRequester:
      url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
      authenticator:
        type: OAuthAuthenticator
        client_id: "{{ config[\"client_id\"] }}"
        grant_type: refresh_token
        client_secret: "{{ config[\"client_secret\"] }}"
        refresh_token: "{{ config[\"refresh_token\"] }}"
        expires_in_name: expires_in
        access_token_name: access_token
        refresh_request_body: {}
        token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
        refresh_token_updater:
          access_token_config_path:
            - access_token
          refresh_token_config_path:
            - refresh_token
        access_token_value: "{{ config[\"access_token\"] }}"
      request_parameters:
        organization_id: "{{ config[\"organization_id\"] }}"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /users
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
    primary_key:
      - user_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          user_id:
            type: string
          role_id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          invitation_type:
            type:
              - string
              - "null"
          is_super_admin:
            type:
              - boolean
              - "null"
          user_role:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          is_current_user:
            type:
              - boolean
              - "null"
          photo_url:
            type:
              - string
              - "null"
          user_type:
            type:
              - string
              - "null"
          cost_rate:
            type:
              - number
              - "null"
          is_customer_segmented:
            type:
              - boolean
              - "null"
          is_vendor_segmented:
            type:
              - boolean
              - "null"
          is_employee:
            type:
              - boolean
              - "null"
          source:
            type:
              - string
              - "null"
        required:
          - user_id
        additionalProperties: true
  - type: DeclarativeStream
    name: bank-accounts
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /bankaccounts
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - bankaccounts
    primary_key:
      - account_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          account_id:
            type: string
          account_name:
            type:
              - string
              - "null"
          account_code:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          account_type:
            type:
              - string
              - "null"
          account_sub_type:
            type:
              - string
              - "null"
          uncategorized_transactions:
            type:
              - number
              - "null"
          total_unprinted_checks:
            type:
              - number
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          balance:
            type:
              - number
              - "null"
          bank_balance:
            type:
              - number
              - "null"
          bcy_balance:
            type:
              - number
              - "null"
          bank_name:
            type:
              - string
              - "null"
          feeds_last_refresh_date:
            type:
              - string
              - "null"
          is_direct_paypal:
            type:
              - boolean
              - "null"
          mfa_required:
            type:
              - boolean
              - "null"
          account_number:
            type:
              - string
              - "null"
          routing_number:
            type:
              - string
              - "null"
          is_primary_account:
            type:
              - boolean
              - "null"
          is_paypal_account:
            type:
              - boolean
              - "null"
          partner_bank_source_formatted:
            type:
              - string
              - "null"
          partner_bank_source:
            type:
              - string
              - "null"
          is_beta_feed:
            type:
              - boolean
              - "null"
          consent_info:
            type:
              - object
              - "null"
            properties:
              consent_remaining_days:
                type:
                  - string
                  - "null"
              is_consent_expired:
                type:
                  - boolean
                  - string
                  - "null"
          feed_status:
            type:
              - string
              - "null"
          refresh_status:
            type:
              - string
              - "null"
        required:
          - account_id
        additionalProperties: true
  - type: DeclarativeStream
    name: organizations
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /organizations
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - organizations
    primary_key:
      - organization_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          version:
            type:
              - string
              - "null"
          isOrgNotSupported:
            type:
              - boolean
              - "null"
          organization_id:
            type: string
          name:
            type:
              - string
              - "null"
          contact_name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          source:
            type:
              - number
              - "null"
          country:
            type:
              - string
              - "null"
          country_code:
            type:
              - string
              - "null"
          org_settings:
            type:
              - boolean
              - "null"
          is_ziedition:
            type:
              - boolean
              - "null"
          custom_field_type:
            type:
              - number
              - "null"
          custom_fields:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                index:
                  type:
                    - number
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          is_sku_enabled:
            type:
              - boolean
              - "null"
          phone:
            type:
              - string
              - "null"
          org_type:
            type:
              - string
              - "null"
          state_code:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          zoho_one_org:
            type:
              - string
              - "null"
          zi_zb_edition:
            type:
              - number
              - "null"
          org_created_app_source:
            type:
              - number
              - "null"
          zi_zb_client:
            type:
              - number
              - "null"
          is_solo_org:
            type:
              - boolean
              - "null"
          partners_domain:
            type:
              - string
              - "null"
          version_formatted:
            type:
              - string
              - "null"
          is_search360_enabled:
            type:
              - string
              - "null"
          is_sales_inclusive_tax_enabled:
            type:
              - boolean
              - "null"
          sales_tax_type:
            type:
              - string
              - "null"
          tax_group_enabled:
            type:
              - boolean
              - "null"
          language_code:
            type:
              - string
              - "null"
          fiscal_year_start_month:
            type:
              - number
              - "null"
          time_zone:
            type:
              - string
              - "null"
          field_separator:
            type:
              - string
              - "null"
          time_zone_formatted:
            type:
              - string
              - "null"
          can_change_timezone:
            type:
              - boolean
              - "null"
          digital_signature_mode:
            type:
              - string
              - "null"
          is_dsign_required:
            type:
              - boolean
              - "null"
          can_sign_invoice:
            type:
              - boolean
              - "null"
          is_user_dsign_mandatory:
            type:
              - boolean
              - "null"
          currency_id:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          currency_symbol:
            type:
              - string
              - "null"
          currency_format:
            type:
              - string
              - "null"
          price_precision:
            type:
              - number
              - "null"
          org_joined_app_list:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          is_designated_zone:
            type:
              - boolean
              - "null"
          is_free_zone:
            type:
              - boolean
              - "null"
          brexit_date:
            type:
              - string
              - "null"
          is_brexit_applicable:
            type:
              - boolean
              - "null"
          is_registered_for_tax:
            type:
              - boolean
              - "null"
          is_moss_enabled:
            type:
              - boolean
              - "null"
          is_tax_registered:
            type:
              - boolean
              - "null"
          is_international_trade_enabled:
            type:
              - boolean
              - "null"
          is_gst_india_version:
            type:
              - boolean
              - "null"
          is_registered_for_gst:
            type:
              - boolean
              - "null"
          isOrgActive:
            type:
              - boolean
              - "null"
          plan_type:
            type:
              - number
              - "null"
          plan_name:
            type:
              - string
              - "null"
          plan_period:
            type:
              - string
              - "null"
          account_created_date:
            type:
              - string
              - "null"
          account_created_date_formatted:
            type:
              - string
              - "null"
          is_org_active:
            type:
              - boolean
              - "null"
          is_quick_setup_completed:
            type:
              - boolean
              - "null"
          is_trial_period_extended:
            type:
              - boolean
              - "null"
          is_trial_expired:
            type:
              - boolean
              - "null"
          is_invoice_pmt_tds_allowed:
            type:
              - boolean
              - "null"
          is_hsn_or_sac_enabled:
            type:
              - boolean
              - "null"
          mode:
            type:
              - string
              - "null"
          other_active_services:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name_formatted:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          is_last_active_service:
            type:
              - boolean
              - "null"
          can_show_document_tab:
            type:
              - boolean
              - "null"
          is_scan_preference_enabled:
            type:
              - boolean
              - "null"
          is_user_accountant:
            type:
              - boolean
              - "null"
          is_user_last_admin:
            type:
              - boolean
              - "null"
          is_user_super_admin:
            type:
              - boolean
              - "null"
          user_status:
            type:
              - number
              - "null"
          user_status_formatted:
            type:
              - string
              - "null"
          org_action:
            type:
              - string
              - "null"
          AppList:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          is_zpayroll_grid:
            type:
              - boolean
              - "null"
          is_default_org:
            type:
              - boolean
              - "null"
          is_subscription_paused:
            type:
              - boolean
              - "null"
          is_po_enabled:
            type:
              - boolean
              - "null"
          is_salesorder_enabled:
            type:
              - boolean
              - "null"
          is_inventory_enabled:
            type:
              - boolean
              - "null"
          is_trial_extended:
            type:
              - boolean
              - "null"
          zi_migration_status:
            type:
              - number
              - "null"
          is_new_customer_custom_fields:
            type:
              - boolean
              - "null"
          is_portal_enabled:
            type:
              - boolean
              - "null"
          portal_name:
            type:
              - string
              - "null"
          is_retainerinvoice_enabled:
            type:
              - boolean
              - "null"
          is_bill_of_supply_enabled:
            type:
              - boolean
              - "null"
          badge_count:
            type:
              - number
              - "null"
          org_created_by:
            type:
              - string
              - "null"
        required:
          - organization_id
        additionalProperties: true
  - type: DeclarativeStream
    name: contacts
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /contacts
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - contacts
    primary_key:
      - contact_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          contact_id:
            type: string
          contact_name:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          website:
            type:
              - string
              - "null"
          language_code:
            type:
              - string
              - "null"
          language_code_formatted:
            type:
              - string
              - "null"
          contact_type:
            type:
              - string
              - "null"
          contact_type_formatted:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          customer_sub_type:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          is_linked_with_zohocrm:
            type:
              - boolean
              - "null"
          payment_terms:
            type:
              - number
              - "null"
          payment_terms_label:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          twitter:
            type:
              - string
              - "null"
          facebook:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          outstanding_receivable_amount:
            type:
              - number
              - "null"
          outstanding_receivable_amount_bcy:
            type:
              - number
              - "null"
          outstanding_payable_amount:
            type:
              - number
              - "null"
          outstanding_payable_amount_bcy:
            type:
              - number
              - "null"
          unused_credits_receivable_amount:
            type:
              - number
              - "null"
          unused_credits_receivable_amount_bcy:
            type:
              - number
              - "null"
          unused_credits_payable_amount:
            type:
              - number
              - "null"
          unused_credits_payable_amount_bcy:
            type:
              - number
              - "null"
          first_name:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          portal_status:
            type:
              - string
              - "null"
          portal_status_formatted:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          created_time_formatted:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          last_modified_time_formatted:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                field_id:
                  type:
                    - string
                    - "null"
                customfield_id:
                  type:
                    - string
                    - "null"
                show_in_store:
                  type:
                    - boolean
                    - "null"
                show_in_portal:
                  type:
                    - boolean
                    - "null"
                is_active:
                  type:
                    - boolean
                    - "null"
                index:
                  type:
                    - number
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                show_on_pdf:
                  type:
                    - boolean
                    - "null"
                edit_on_portal:
                  type:
                    - boolean
                    - "null"
                edit_on_store:
                  type:
                    - boolean
                    - "null"
                api_name:
                  type:
                    - string
                    - "null"
                show_in_all_pdf:
                  type:
                    - boolean
                    - "null"
                value_formatted:
                  type:
                    - string
                    - "null"
                search_entity:
                  type:
                    - string
                    - "null"
                data_type:
                  type:
                    - string
                    - "null"
                placeholder:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
                is_dependent_field:
                  type:
                    - boolean
                    - "null"
          custom_field_hash:
            type:
              - object
              - "null"
            properties:
              cf_company_id:
                type:
                  - string
                  - "null"
              cf_company_id_unformatted:
                type:
                  - string
                  - "null"
              cf_tax_id:
                type:
                  - string
                  - "null"
              cf_tax_id_unformatted:
                type:
                  - string
                  - "null"
          contactperson_custom_fields:
            type:
              - array
              - "null"
          tags:
            type:
              - array
              - "null"
          ach_supported:
            type:
              - boolean
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          cf_company_id:
            type:
              - string
              - "null"
          cf_company_id_unformatted:
            type:
              - string
              - "null"
          cf_tax_id:
            type:
              - string
              - "null"
          cf_tax_id_unformatted:
            type:
              - string
              - "null"
        required:
          - contact_id
        additionalProperties: true
  - type: DeclarativeStream
    name: bills
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /bills
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - bills
    primary_key:
      - bill_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          bill_id:
            type: string
          vendor_id:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          bill_number:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          due_date:
            type:
              - string
              - "null"
          due_days:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          price_precision:
            type:
              - number
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          total:
            type:
              - number
              - "null"
          tds_total:
            type:
              - number
              - "null"
          balance:
            type:
              - number
              - "null"
          unprocessed_payment_amount:
            type:
              - number
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type: string
          created_time_formatted:
            type:
              - string
              - "null"
          last_modified_time_formatted:
            type:
              - string
              - "null"
          created_by:
            type:
              - string
              - "null"
          last_modified_by:
            type:
              - string
              - "null"
          is_opening_balance:
            type:
              - string
              - "null"
          attachment_name:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          tags:
            type:
              - array
              - "null"
          is_uber_bill:
            type:
              - boolean
              - "null"
          is_tally_bill:
            type:
              - boolean
              - "null"
          entity_type:
            type:
              - string
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          is_bill_reconciliation_violated:
            type:
              - boolean
              - "null"
          balance_due:
            type:
              - number
              - "null"
        required:
          - bill_id
          - last_modified_time
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_modified_time
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_time_option:
        type: RequestOption
        field_name: last_modified_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: estimates
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /estimates
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - estimates
    primary_key:
      - estimate_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          estimate_id:
            type: string
          zcrm_potential_id:
            type:
              - string
              - "null"
          zcrm_potential_name:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          estimate_number:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type: string
          accepted_date:
            type:
              - string
              - "null"
          declined_date:
            type:
              - string
              - "null"
          expiry_date:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          tags:
            type:
              - array
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          is_emailed:
            type:
              - boolean
              - "null"
          template_type:
            type:
              - string
              - "null"
          template_id:
            type:
              - string
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
        required:
          - estimate_id
          - last_modified_time
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_modified_time
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_time_option:
        type: RequestOption
        field_name: last_modified_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: items
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /items
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    primary_key:
      - item_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          item_id:
            type: string
          name:
            type:
              - string
              - "null"
          item_name:
            type:
              - string
              - "null"
          unit:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          is_linked_with_zohocrm:
            type:
              - boolean
              - "null"
          zcrm_product_id:
            type:
              - string
              - "null"
          rate:
            type:
              - number
              - "null"
          tax_id:
            type:
              - string
              - "null"
          tax_name:
            type:
              - string
              - "null"
          tax_percentage:
            type:
              - number
              - "null"
          purchase_account_id:
            type:
              - string
              - "null"
          purchase_account_name:
            type:
              - string
              - "null"
          account_id:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          purchase_description:
            type:
              - string
              - "null"
          purchase_rate:
            type:
              - number
              - "null"
          can_be_sold:
            type:
              - boolean
              - "null"
          can_be_purchased:
            type:
              - boolean
              - "null"
          track_inventory:
            type:
              - boolean
              - "null"
          item_type:
            type:
              - string
              - "null"
          product_type:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          sku:
            type:
              - string
              - "null"
          image_name:
            type:
              - string
              - "null"
          image_type:
            type:
              - string
              - "null"
          image_document_id:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
        required:
          - item_id
        additionalProperties: true
  - type: DeclarativeStream
    name: invoices
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /invoices
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoices
    primary_key:
      - invoice_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          ach_payment_initiated:
            type:
              - boolean
              - "null"
          invoice_id:
            type: string
          zcrm_potential_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          zcrm_potential_name:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          invoice_number:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          date:
            type: string
          due_date:
            type:
              - string
              - "null"
          due_days:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          project_name:
            type:
              - string
              - "null"
          billing_address:
            type:
              - object
              - "null"
            properties:
              address:
                type:
                  - string
                  - "null"
              street2:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              zipcode:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
              fax:
                type:
                  - string
                  - "null"
              attention:
                type:
                  - string
                  - "null"
          shipping_address:
            type:
              - object
              - "null"
            properties:
              address:
                type:
                  - string
                  - "null"
              street2:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              zipcode:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
              fax:
                type:
                  - string
                  - "null"
              attention:
                type:
                  - string
                  - "null"
          country:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          created_by:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          balance:
            type:
              - number
              - "null"
          payment_expected_date:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                field_id:
                  type:
                    - string
                    - "null"
                customfield_id:
                  type:
                    - string
                    - "null"
                show_in_store:
                  type:
                    - boolean
                    - "null"
                show_in_portal:
                  type:
                    - boolean
                    - "null"
                is_active:
                  type:
                    - boolean
                    - "null"
                index:
                  type:
                    - number
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                show_on_pdf:
                  type:
                    - boolean
                    - "null"
                edit_on_portal:
                  type:
                    - boolean
                    - "null"
                edit_on_store:
                  type:
                    - boolean
                    - "null"
                api_name:
                  type:
                    - string
                    - "null"
                show_in_all_pdf:
                  type:
                    - boolean
                    - "null"
                value_formatted:
                  type:
                    - string
                    - "null"
                search_entity:
                  type:
                    - string
                    - "null"
                data_type:
                  type:
                    - string
                    - "null"
                placeholder:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - string
                    - "null"
                is_dependent_field:
                  type:
                    - boolean
                    - "null"
          custom_field_hash:
            type:
              - object
              - "null"
            properties:
              cf_service_start_date:
                type:
                  - string
                  - "null"
              cf_service_start_date_unformatted:
                type:
                  - string
                  - "null"
              cf_service_end_date:
                type:
                  - string
                  - "null"
              cf_service_end_date_unformatted:
                type:
                  - string
                  - "null"
              cf_total_payable:
                type:
                  - string
                  - "null"
              cf_total_payable_unformatted:
                type:
                  - number
                  - "null"
          cf_service_start_date:
            type:
              - string
              - "null"
          cf_service_start_date_unformatted:
            type:
              - string
              - "null"
          cf_service_end_date:
            type:
              - string
              - "null"
          cf_service_end_date_unformatted:
            type:
              - string
              - "null"
          cf_total_payable:
            type:
              - string
              - "null"
          cf_total_payable_unformatted:
            type:
              - number
              - "null"
          tags:
            type:
              - array
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          shipping_charge:
            type:
              - number
              - "null"
          adjustment:
            type:
              - number
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          updated_time:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          is_viewed_in_mail:
            type:
              - boolean
              - "null"
          is_emailed:
            type:
              - boolean
              - "null"
          mail_first_viewed_time:
            type:
              - string
              - "null"
          mail_last_viewed_time:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          schedule_time:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          currency_symbol:
            type:
              - string
              - "null"
          template_type:
            type:
              - string
              - "null"
          no_of_copies:
            type:
              - number
              - "null"
          show_no_of_copies:
            type:
              - boolean
              - "null"
          invoice_url:
            type:
              - string
              - "null"
          transaction_type:
            type:
              - string
              - "null"
          reminders_sent:
            type:
              - number
              - "null"
          last_reminder_sent_date:
            type:
              - string
              - "null"
          last_payment_date:
            type:
              - string
              - "null"
          template_id:
            type:
              - string
              - "null"
          documents:
            type:
              - string
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          write_off_amount:
            type:
              - number
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          unprocessed_payment_amount:
            type:
              - number
              - "null"
        required:
          - invoice_id
          - date
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: expenses
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /expenses
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - expenses
    primary_key:
      - expense_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          expense_id:
            type: string
          date:
            type: string
          user_name:
            type:
              - string
              - "null"
          paid_through_account_name:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          bcy_total:
            type:
              - number
              - "null"
          bcy_total_without_tax:
            type:
              - number
              - "null"
          total:
            type:
              - number
              - "null"
          total_without_tax:
            type:
              - number
              - "null"
          is_billable:
            type:
              - boolean
              - "null"
          reference_number:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          is_personal:
            type:
              - boolean
              - "null"
          customer_name:
            type:
              - string
              - "null"
          vendor_id:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          expense_receipt_name:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          distance:
            type:
              - number
              - "null"
          mileage_rate:
            type:
              - number
              - "null"
          mileage_unit:
            type:
              - string
              - "null"
          mileage_type:
            type:
              - string
              - "null"
          expense_type:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          start_reading:
            type:
              - string
              - "null"
          end_reading:
            type:
              - string
              - "null"
          report_name:
            type:
              - string
              - "null"
          report_number:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          custom_fields_list:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
        required:
          - expense_id
          - date
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: creditnotes
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /creditnotes
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - creditnotes
    primary_key:
      - creditnote_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          creditnote_id:
            type: string
          creditnote_number:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          date:
            type: string
          total:
            type:
              - number
              - "null"
          balance:
            type:
              - number
              - "null"
          customer_id:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          applied_invoices:
            type:
              - string
              - "null"
          is_emailed:
            type:
              - boolean
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          item_quantity:
            type:
              - number
              - "null"
          item_price:
            type:
              - number
              - "null"
          item_total_price:
            type:
              - number
              - "null"
          item_total:
            type:
              - number
              - "null"
          item_total_without_tax:
            type:
              - number
              - "null"
          currency_id:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          template_id:
            type:
              - string
              - "null"
          template_type:
            type:
              - string
              - "null"
          rounding_mode:
            type:
              - string
              - "null"
          price_precision:
            type:
              - number
              - "null"
          tags:
            type:
              - array
              - "null"
        required:
          - creditnote_id
          - date
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: customer-payments
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /customerpayments
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - customerpayments
    primary_key:
      - payment_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          payment_id:
            type: string
          payment_number:
            type:
              - string
              - "null"
          retainerinvoice_id:
            type:
              - string
              - "null"
          invoice_numbers:
            type:
              - string
              - "null"
          date:
            type: string
          payment_mode:
            type:
              - string
              - "null"
          payment_mode_formatted:
            type:
              - string
              - "null"
          amount:
            type:
              - number
              - "null"
          bcy_amount:
            type:
              - number
              - "null"
          unused_amount:
            type:
              - number
              - "null"
          bcy_unused_amount:
            type:
              - number
              - "null"
          account_id:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          last_four_digits:
            type:
              - string
              - "null"
          gateway_transaction_id:
            type:
              - string
              - "null"
          payment_gateway:
            type:
              - string
              - "null"
          bcy_refunded_amount:
            type:
              - number
              - "null"
          applied_invoices:
            type:
              - array
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          tags:
            type:
              - array
              - "null"
          documents:
            type:
              - string
              - "null"
          custom_fields_list:
            type:
              - string
              - "null"
          tax_account_id:
            type:
              - string
              - "null"
          tax_account_name:
            type:
              - string
              - "null"
          tax_amount_withheld:
            type:
              - number
              - "null"
          payment_type:
            type:
              - string
              - "null"
          payment_status:
            type:
              - string
              - "null"
          settlement_status:
            type:
              - string
              - "null"
        required:
          - payment_id
          - date
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: purchase-orders
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /purchaseorders
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: scope
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - purchaseorders
    primary_key:
      - purchaseorder_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          purchaseorder_id:
            type: string
          vendor_id:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          order_status:
            type:
              - string
              - "null"
          billed_status:
            type:
              - string
              - "null"
          received_status:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          purchaseorder_number:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          date:
            type: string
          delivery_date:
            type:
              - string
              - "null"
          expected_delivery_date:
            type:
              - string
              - "null"
          delivery_days:
            type:
              - string
              - "null"
          due_by_days:
            type:
              - string
              - "null"
          due_in_days:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          price_precision:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          tags:
            type:
              - array
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          quantity_yet_to_receive:
            type:
              - number
              - "null"
          quantity_marked_as_received:
            type:
              - number
              - "null"
          is_po_marked_as_received:
            type:
              - boolean
              - "null"
          receives:
            type:
              - array
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
        required:
          - purchaseorder_id
          - date
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: sales-orders
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /salesorders
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - salesorders
    primary_key:
      - salesorder_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          salesorder_id:
            type: string
          zcrm_potential_id:
            type:
              - string
              - "null"
          zcrm_potential_name:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          delivery_date:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          pickup_location_id:
            type:
              - string
              - "null"
          salesorder_number:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          date:
            type: string
          shipment_date:
            type:
              - string
              - "null"
          shipment_days:
            type:
              - string
              - "null"
          due_by_days:
            type:
              - string
              - "null"
          due_in_days:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          bcy_total:
            type:
              - number
              - "null"
          total_invoiced_amount:
            type:
              - number
              - "null"
          created_time:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          is_emailed:
            type:
              - boolean
              - "null"
          quantity_invoiced:
            type:
              - number
              - "null"
          order_status:
            type:
              - string
              - "null"
          invoiced_status:
            type:
              - string
              - "null"
          paid_status:
            type:
              - string
              - "null"
          shipped_status:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          order_fulfillment_type:
            type:
              - string
              - "null"
          is_manually_fulfilled:
            type:
              - boolean
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          tags:
            type:
              - array
              - "null"
          custom_fields_list:
            type:
              - string
              - "null"
          delivery_method:
            type:
              - string
              - "null"
          delivery_method_id:
            type:
              - string
              - "null"
          is_viewed_in_mail:
            type:
              - boolean
              - "null"
          mail_first_viewed_time:
            type:
              - string
              - "null"
          mail_last_viewed_time:
            type:
              - string
              - "null"
          is_scheduled_for_quick_shipment_create:
            type:
              - boolean
              - "null"
        required:
          - salesorder_id
          - date
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: journals
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /journals
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - journals
    primary_key:
      - journal_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          journal_id:
            type: string
          journal_date:
            type: string
          entry_number:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          journal_type:
            type:
              - string
              - "null"
          entity_type:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          bcy_total:
            type:
              - number
              - "null"
          tags:
            type:
              - array
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          created_by_id:
            type:
              - string
              - "null"
          created_by_name:
            type:
              - string
              - "null"
        required:
          - journal_id
          - journal_date
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: journal_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: taxes
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: /settings/taxes
        url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: refresh_token
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_token: "{{ config[\"refresh_token\"] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
          refresh_token_updater:
            access_token_config_path:
              - access_token
            refresh_token_config_path:
              - refresh_token
            refresh_token_name: ""
            refresh_token_error_key: ""
          access_token_value: "{{ config[\"access_token\"] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        request_parameters:
          organization_id: "{{ config[\"organization_id\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - taxes
    primary_key:
      - tax_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          tax_id:
            type: string
          tax_name:
            type:
              - string
              - "null"
          tax_percentage:
            type:
              - number
              - "null"
          tax_type:
            type:
              - string
              - "null"
          tax_specific_type:
            type:
              - string
              - "null"
          output_tax_account_name:
            type:
              - string
              - "null"
          purchase_tax_account_name:
            type:
              - string
              - "null"
          tax_account_id:
            type:
              - string
              - "null"
          purchase_tax_account_id:
            type:
              - string
              - "null"
          is_inactive:
            type:
              - boolean
              - "null"
          is_value_added:
            type:
              - boolean
              - "null"
          is_default_tax:
            type:
              - boolean
              - "null"
          is_editable:
            type:
              - boolean
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          status:
            type:
              - string
[...]
