version: 5.15.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - accounts
definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Account WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' AND Active IN (true,
              false) ORDER BY Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Account
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            AccountSubType:
              type:
              - "null"
              - string
            AccountType:
              type:
              - "null"
              - string
            AcctNum:
              type:
              - "null"
              - string
            Active:
              type:
              - "null"
              - boolean
            Classification:
              type:
              - "null"
              - string
            CurrencyRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            CurrentBalance:
              type:
              - "null"
              - number
            CurrentBalanceWithSubAccounts:
              type:
              - "null"
              - number
            FullyQualifiedName:
              type:
              - "null"
              - string
            Id:
              type:
              - "null"
              - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            Name:
              type:
              - "null"
              - string
            ParentRef:
              type:
              - "null"
              - object
              properties:
                value:
                  type:
                  - "null"
                  - string
            SubAccount:
              type:
              - "null"
              - boolean
            SyncToken:
              type:
              - "null"
              - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
            sparse:
              type:
              - "null"
              - boolean
    bill_payments:
      type: DeclarativeStream
      name: bill_payments
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM BillPayment WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' ORDER BY
              Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - BillPayment
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            APAccountRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            CheckPayment:
              type:
              - "null"
              - object
              properties:
                BankAccountRef:
                  type:
                  - "null"
                  - object
                  properties:
                    name:
                      type:
                      - "null"
                      - string
                    value:
                      type:
                      - "null"
                      - string
                PrintStatus:
                  type:
                  - "null"
                  - string
            CreditCardPayment:
              type:
              - "null"
              - object
              properties:
                CCAccountRef:
                  type:
                  - "null"
                  - object
                  properties:
                    name:
                      type:
                      - "null"
                      - string
                    value:
                      type:
                      - "null"
                      - string
            CurrencyRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DepartmentRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DocNumber:
              type:
              - "null"
              - string
            ExchangeRate:
              type:
              - "null"
              - number
            Id:
              type:
              - "null"
              - string
            Line:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  Amount:
                    type:
                    - "null"
                    - number
                  LinkedTxn:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        TxnId:
                          type:
                          - "null"
                          - string
                        TxnType:
                          type:
                          - "null"
                          - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            PayType:
              type:
              - "null"
              - string
            SyncToken:
              type:
              - "null"
              - string
            TotalAmt:
              type:
              - "null"
              - number
            TxnDate:
              type:
              - "null"
              - string
              format: date
            VendorRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
            sparse:
              type:
              - "null"
              - boolean
    bills:
      type: DeclarativeStream
      name: bills
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Bill WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' ORDER BY
              Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Bill
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            APAccountRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            Balance:
              type:
              - "null"
              - number
            CurrencyRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DepartmentRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DocNumber:
              type:
              - "null"
              - string
            DueDate:
              type:
              - "null"
              - string
              format: date
            ExchangeRate:
              type:
              - "null"
              - number
            Id:
              type:
              - "null"
              - string
            Line:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  AccountBasedExpenseLineDetail:
                    type:
                    - "null"
                    - object
                    properties:
                      AccountRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      BillableStatus:
                        type:
                        - "null"
                        - string
                      ClassRef:
                        type:
                        - "null"
                        - object
                        additionalProperties: true
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      CustomerRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      TaxCodeRef:
                        type:
                        - "null"
                        - object
                        properties:
                          value:
                            type:
                            - "null"
                            - string
                  Amount:
                    type:
                    - "null"
                    - number
                  Description:
                    type:
                    - "null"
                    - string
                  DetailType:
                    type:
                    - "null"
                    - string
                  Id:
                    type:
                    - "null"
                    - string
                  ItemBasedExpenseLineDetail:
                    type:
                    - "null"
                    - object
                    properties:
                      BillableStatus:
                        type:
                        - "null"
                        - string
                      ItemRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      Qty:
                        type:
                        - "null"
                        - integer
                      TaxCodeRef:
                        type:
                        - "null"
                        - object
                        properties:
                          value:
                            type:
                            - "null"
                            - string
                      UnitPrice:
                        type:
                        - "null"
                        - number
                  LineNum:
                    type:
                    - "null"
                    - integer
            LinkedTxn:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  TxnId:
                    type:
                    - "null"
                    - string
                  TxnType:
                    type:
                    - "null"
                    - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            PrivateNote:
              type:
              - "null"
              - string
            SalesTermRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            SyncToken:
              type:
              - "null"
              - string
            TotalAmt:
              type:
              - "null"
              - number
            TxnDate:
              type:
              - "null"
              - string
              format: date
            VendorRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
            sparse:
              type:
              - "null"
              - boolean
    budgets:
      type: DeclarativeStream
      name: budgets
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Budget WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' AND Active IN (true,
              false) ORDER BY Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Budget
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            Active:
              type:
              - "null"
              - boolean
            BudgetDetail:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  AccountRef:
                    type:
                    - "null"
                    - object
                    properties:
                      name:
                        type:
                        - "null"
                        - string
                      value:
                        type:
                        - "null"
                        - string
                  Amount:
                    type:
                    - "null"
                    - number
                  BudgetDate:
                    type:
                    - "null"
                    - string
                    format: date-time
                  ClassRef:
                    type:
                    - "null"
                    - object
                    properties:
                      name:
                        type:
                        - "null"
                        - string
                      value:
                        type:
                        - "null"
                        - string
                  CustomerRef:
                    type:
                    - "null"
                    - object
                    properties:
                      name:
                        type:
                        - "null"
                        - string
                      value:
                        type:
                        - "null"
                        - string
                  DepartmentRef:
                    type:
                    - "null"
                    - object
                    properties:
                      name:
                        type:
                        - "null"
                        - string
                      value:
                        type:
                        - "null"
                        - string
            BudgetEntryType:
              type:
              - "null"
              - string
            BudgetType:
              type:
              - "null"
              - string
            EndDate:
              type:
              - "null"
              - string
              format: date-time
            Id:
              type:
              - "null"
              - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            Name:
              type:
              - "null"
              - string
            StartDate:
              type:
              - "null"
              - string
              format: date-time
            SyncToken:
              type:
              - "null"
              - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
    classes:
      type: DeclarativeStream
      name: classes
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Class WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' AND Active IN (true,
              false) ORDER BY Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Class
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            Active:
              type:
              - "null"
              - boolean
            FullyQualifiedName:
              type:
              - "null"
              - string
            Id:
              type:
              - "null"
              - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            Name:
              type:
              - "null"
              - string
            ParentRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            SubClass:
              type:
              - "null"
              - boolean
            SyncToken:
              type:
              - "null"
              - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
    credit_memos:
      type: DeclarativeStream
      name: credit_memos
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM CreditMemo WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' ORDER BY
              Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - CreditMemo
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            ApplyTaxAfterDiscount:
              type:
              - "null"
              - boolean
            Balance:
              type:
              - "null"
              - number
            BillAddr:
              type:
              - "null"
              - object
              properties:
                Id:
                  type:
                  - "null"
                  - string
                Lat:
                  type:
                  - "null"
                  - string
                Line1:
                  type:
                  - "null"
                  - string
                Line2:
                  type:
                  - "null"
                  - string
                Line3:
                  type:
                  - "null"
                  - string
                Line4:
                  type:
                  - "null"
                  - string
                Long:
                  type:
                  - "null"
                  - string
            BillEmail:
              type:
              - "null"
              - object
              properties:
                Address:
                  type:
                  - "null"
                  - string
            ClassRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            CurrencyRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            CustomField:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  DefinitionId:
                    type:
                    - "null"
                    - string
                  Name:
                    type:
                    - "null"
                    - string
                  Type:
                    type:
                    - "null"
                    - string
            CustomerMemo:
              type:
              - "null"
              - object
              properties:
                value:
                  type:
                  - "null"
                  - string
            CustomerRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DocNumber:
              type:
              - "null"
              - string
            EmailStatus:
              type:
              - "null"
              - string
            ExchangeRate:
              type:
              - "null"
              - number
            HomeTotalAmt:
              type:
              - "null"
              - number
            Id:
              type:
              - "null"
              - string
            Line:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  Amount:
                    type:
                    - "null"
                    - number
                  Description:
                    type:
                    - "null"
                    - string
                  DetailType:
                    type:
                    - "null"
                    - string
                  Id:
                    type:
                    - "null"
                    - string
                  LineNum:
                    type:
                    - "null"
                    - integer
                  SalesItemLineDetail:
                    type:
                    - "null"
                    - object
                    properties:
                      ItemRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      Qty:
                        type:
                        - "null"
                        - integer
                      TaxCodeRef:
                        type:
                        - "null"
                        - object
                        properties:
                          value:
                            type:
                            - "null"
                            - string
                      UnitPrice:
                        type:
                        - "null"
                        - number
                  SubTotalLineDetail:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties: {}
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            PrintStatus:
              type:
              - "null"
              - string
            RemainingCredit:
              type:
              - "null"
              - number
            SalesTermRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            ShipAddr:
              type:
              - "null"
              - object
              properties:
                City:
                  type:
                  - "null"
                  - string
                CountrySubDivisionCode:
                  type:
                  - "null"
                  - string
                Id:
                  type:
                  - "null"
                  - string
                Lat:
                  type:
                  - "null"
                  - string
                Line1:
                  type:
                  - "null"
                  - string
                Long:
                  type:
                  - "null"
                  - string
                PostalCode:
                  type:
                  - "null"
                  - string
            SyncToken:
              type:
              - "null"
              - string
            TotalAmt:
              type:
              - "null"
              - number
            TxnDate:
              type:
              - "null"
              - string
              format: date
            TxnTaxDetail:
              type:
              - "null"
              - object
              properties:
                TotalTax:
                  type:
                  - "null"
                  - integer
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
            sparse:
              type:
              - "null"
              - boolean
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Customer WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' AND Active IN (true,
              false) ORDER BY Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Customer
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            Active:
              type:
              - "null"
              - boolean
            Balance:
              type:
              - "null"
              - number
            BalanceWithJobs:
              type:
              - "null"
              - number
            BillAddr:
              type:
              - "null"
              - object
              properties:
                City:
                  type:
                  - "null"
                  - string
                Country:
                  type:
                  - "null"
                  - string
                CountrySubDivisionCode:
                  type:
                  - "null"
                  - string
                Id:
                  type:
                  - "null"
                  - string
                Lat:
                  type:
                  - "null"
                  - string
                Line1:
                  type:
                  - "null"
                  - string
                Long:
                  type:
                  - "null"
                  - string
                PostalCode:
                  type:
                  - "null"
                  - string
            BillWithParent:
              type:
              - "null"
              - boolean
            CompanyName:
              type:
              - "null"
              - string
            CurrencyRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DefaultTaxCodeRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DisplayName:
              type:
              - "null"
              - string
            FamilyName:
              type:
              - "null"
              - string
            Fax:
              type:
              - "null"
              - object
              properties:
                FreeFormNumber:
                  type:
                  - "null"
                  - string
            FullyQualifiedName:
              type:
              - "null"
              - string
            GivenName:
              type:
              - "null"
              - string
            Id:
              type:
              - "null"
              - string
            Job:
              type:
              - "null"
              - boolean
            Level:
              type:
              - "null"
              - integer
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            MiddleName:
              type:
              - "null"
              - string
            Mobile:
              type:
              - "null"
              - object
              properties:
                FreeFormNumber:
                  type:
                  - "null"
                  - string
            ParentRef:
              type:
              - "null"
              - object
              properties:
                value:
                  type:
                  - "null"
                  - string
            PaymentMethodRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            PreferredDeliveryMethod:
              type:
              - "null"
              - string
            PrimaryEmailAddr:
              type:
              - "null"
              - object
              properties:
                Address:
                  type:
                  - "null"
                  - string
            PrimaryPhone:
              type:
              - "null"
              - object
              properties:
                FreeFormNumber:
                  type:
                  - "null"
                  - string
            PrintOnCheckName:
              type:
              - "null"
              - string
            ResaleNum:
              type:
              - "null"
              - string
            SalesTermRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            ShipAddr:
              type:
              - "null"
              - object
              properties:
                City:
                  type:
                  - "null"
                  - string
                Country:
                  type:
                  - "null"
                  - string
                CountrySubDivisionCode:
                  type:
                  - "null"
                  - string
                Id:
                  type:
                  - "null"
                  - string
                Lat:
                  type:
                  - "null"
                  - string
                Line1:
                  type:
                  - "null"
                  - string
                Long:
                  type:
                  - "null"
                  - string
                PostalCode:
                  type:
                  - "null"
                  - string
            SyncToken:
              type:
              - "null"
              - string
            Taxable:
              type:
              - "null"
              - boolean
            WebAddr:
              type:
              - "null"
              - object
              properties:
                URI:
                  type:
                  - "null"
                  - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
            sparse:
              type:
              - "null"
              - boolean
    departments:
      type: DeclarativeStream
      name: departments
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Department WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' AND Active IN (true,
              false) ORDER BY Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Department
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            Active:
              type:
              - "null"
              - boolean
            FullyQualifiedName:
              type:
              - "null"
              - string
            Id:
              type:
              - "null"
              - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            Name:
              type:
              - "null"
              - string
            ParentRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            SubDepartment:
              type:
              - "null"
              - boolean
            SyncToken:
              type:
              - "null"
              - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
    deposits:
      type: DeclarativeStream
      name: deposits
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Deposit WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' ORDER BY
              Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Deposit
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            CashBack:
              type:
              - "null"
              - object
              properties:
                AccountRef:
                  type:
                  - "null"
                  - object
                  properties:
                    name:
                      type:
                      - "null"
                      - string
                    value:
                      type:
                      - "null"
                      - string
                Amount:
                  type:
                  - "null"
                  - number
                Memo:
                  type:
                  - "null"
                  - string
            CurrencyRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DepartmentRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DepositToAccountRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            ExchangeRate:
              type:
              - "null"
              - number
            Id:
              type:
              - "null"
              - string
            Line:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  Amount:
                    type:
                    - "null"
                    - number
                  DepositLineDetail:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties:
                      AccountRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      CheckNum:
                        type:
                        - "null"
                        - string
                      Entity:
                        type:
                        - "null"
                        - object
                        properties:
                          type:
                            type:
                            - "null"
                            - string
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      PaymentMethodRef:
                        type:
                        - "null"
                        - object
                        properties:
                          value:
                            type:
                            - "null"
                            - string
                  DetailType:
                    type:
                    - "null"
                    - string
                  Id:
                    type:
                    - "null"
                    - string
                  LineNum:
                    type:
                    - "null"
                    - integer
                  LinkedTxn:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        TxnId:
                          type:
                          - "null"
                          - string
                        TxnLineId:
                          type:
                          - "null"
                          - string
                        TxnType:
                          type:
                          - "null"
                          - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            PrivateNote:
              type:
              - "null"
              - string
            SyncToken:
              type:
              - "null"
              - string
            TotalAmt:
              type:
              - "null"
              - number
            TxnDate:
              type:
              - "null"
              - string
              format: date
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
            sparse:
              type:
              - "null"
              - boolean
    employees:
      type: DeclarativeStream
      name: employees
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Employee WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' AND Active IN (true,
              false) ORDER BY Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Employee
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            Active:
              type:
              - "null"
              - boolean
            BillRate:
              type:
              - "null"
              - number
            BillableTime:
              type:
              - "null"
              - boolean
            BirthDate:
              type:
              - "null"
              - string
              format: date-time
            DisplayName:
              type:
              - "null"
              - string
            EmployeeNumber:
              type:
              - "null"
              - string
            FamilyName:
              type:
              - "null"
              - string
            Gender:
              type:
              - "null"
              - string
            GivenName:
              type:
              - "null"
              - string
            HiredDate:
              type:
              - "null"
              - string
              format: date
            Id:
              type:
              - "null"
              - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            MiddleName:
              type:
              - "null"
              - string
            Mobile:
              type:
              - "null"
              - object
              properties: {}
            Organization:
              type:
              - "null"
              - boolean
            PrimaryAddr:
              type:
              - "null"
              - object
              properties: {}
            PrimaryEmailAddr:
              type:
              - "null"
              - object
              properties: {}
            PrimaryPhone:
              type:
              - "null"
              - object
              properties:
                FreeFormNumber:
                  type:
                  - "null"
                  - string
            PrintOnCheckName:
              type:
              - "null"
              - string
            ReleasedDate:
              type:
              - "null"
              - string
              format: date-time
            Suffix:
              type:
              - "null"
              - string
            SyncToken:
              type:
              - "null"
              - string
            Title:
              type:
              - "null"
              - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
            sparse:
              type:
              - "null"
              - boolean
    estimates:
      type: DeclarativeStream
      name: estimates
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Estimate WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' ORDER BY
              Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Estimate
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            ApplyTaxAfterDiscount:
              type:
              - "null"
              - boolean
            BillAddr:
              type:
              - "null"
              - object
              properties:
                Id:
                  type:
                  - "null"
                  - string
                Lat:
                  type:
                  - "null"
                  - string
                Line1:
                  type:
                  - "null"
                  - string
                Line2:
                  type:
                  - "null"
                  - string
                Line3:
                  type:
                  - "null"
                  - string
                Line4:
                  type:
                  - "null"
                  - string
                Long:
                  type:
                  - "null"
                  - string
            BillEmail:
              type:
              - "null"
              - object
              properties:
                Address:
                  type:
                  - "null"
                  - string
            CurrencyRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            CustomField:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  DefinitionId:
                    type:
                    - "null"
                    - string
                  Name:
                    type:
                    - "null"
                    - string
                  Type:
                    type:
                    - "null"
                    - string
            CustomerMemo:
              type:
              - "null"
              - object
              properties:
                value:
                  type:
                  - "null"
                  - string
            CustomerRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DeliveryInfo:
              type:
              - "null"
              - object
              properties:
                DeliveryType:
                  type:
                  - "null"
                  - string
            DocNumber:
              type:
              - "null"
              - string
            EmailStatus:
              type:
              - "null"
              - string
            ExchangeRate:
              type:
              - "null"
              - number
            HomeTotalAmt:
              type:
              - "null"
              - number
            Id:
              type:
              - "null"
              - string
            Line:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  Amount:
                    type:
                    - "null"
                    - number
                  Description:
                    type:
                    - "null"
                    - string
                  DetailType:
                    type:
                    - "null"
                    - string
                  Id:
                    type:
                    - "null"
                    - string
                  LineNum:
                    type:
                    - "null"
                    - integer
                  SalesItemLineDetail:
                    type:
                    - "null"
                    - object
                    properties:
                      ItemRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      Qty:
                        type:
                        - "null"
                        - number
                      TaxCodeRef:
                        type:
                        - "null"
                        - object
                        properties:
                          value:
                            type:
                            - "null"
                            - string
                      UnitPrice:
                        type:
                        - "null"
                        - number
                  SubTotalLineDetail:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties: {}
            LinkedTxn:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  TxnId:
                    type:
                    - "null"
                    - string
                  TxnType:
                    type:
                    - "null"
                    - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            PrintStatus:
              type:
              - "null"
              - string
            ShipAddr:
              type:
              - "null"
              - object
              properties:
                City:
                  type:
                  - "null"
                  - string
                CountrySubDivisionCode:
                  type:
                  - "null"
                  - string
                Id:
                  type:
                  - "null"
                  - string
                Lat:
                  type:
                  - "null"
                  - string
                Line1:
                  type:
                  - "null"
                  - string
                Long:
                  type:
                  - "null"
                  - string
                PostalCode:
                  type:
                  - "null"
                  - string
            SyncToken:
              type:
              - "null"
              - string
            TotalAmt:
              type:
              - "null"
              - number
            TxnDate:
              type:
              - "null"
              - string
              format: date
            TxnStatus:
              type:
              - "null"
              - string
            TxnTaxDetail:
              type:
              - "null"
              - object
              properties:
                TaxLine:
                  type:
                  - "null"
                  - array
                  items:
                    type:
                    - "null"
                    - object
                    properties:
                      Amount:
                        type:
                        - "null"
                        - number
                      DetailType:
                        type:
                        - "null"
                        - string
                      TaxLineDetail:
                        type:
                        - "null"
                        - object
                        properties:
                          NetAmountTaxable:
                            type:
                            - "null"
                            - number
                          PercentBased:
                            type:
                            - "null"
                            - boolean
                          TaxPercent:
                            type:
                            - "null"
                            - integer
                          TaxRateRef:
                            type:
                            - "null"
                            - object
                            properties:
                              value:
                                type:
                                - "null"
                                - string
                TotalTax:
                  type:
                  - "null"
                  - number
                TxnTaxCodeRef:
                  type:
                  - "null"
                  - object
                  properties:
                    value:
                      type:
                      - "null"
                      - string
            airbyte_cursor:
              type:
              - "null"
              - string
            domain:
              type:
              - "null"
              - string
            sparse:
              type:
              - "null"
              - boolean
    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
      - Id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://sandbox-quickbooks.api.intuit.com' if config.sandbox else
            'https://quickbooks.api.intuit.com' }}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
            expires_in_name: expires_in
            access_token_name: access_token
            refresh_token_updater:
              refresh_token_name: refresh_token
              access_token_config_path:
              - access_token
              token_expiry_date_config_path:
              - token_expiry_date
              refresh_token_config_path:
              - refresh_token
            token_refresh_endpoint: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          path: /v3/company/{{ config.realm_id }}/query
          http_method: GET
          request_parameters:
            query: >-
              SELECT * FROM Invoice WHERE Metadata.LastUpdatedTime > '{{
              stream_slice.start_time[:-2] + ":" + stream_slice.start_time[-2:]
              }}' AND Metadata.LastUpdatedTime <= '{{ stream_slice.end_time[:-2]
              + ":" + stream_slice.start_time[-2:] }}' ORDER BY
              Metadata.LastUpdatedTime ASC STARTPOSITION {{
              (next_page_token.next_page_token or 0) + 1 }} MAXRESULTS {{
              (config.max_results or '200') | int }}
          request_headers:
            Accept: application/json
            User-Agent: airbyte-connector
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - QueryResponse
            - Invoice
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: airbyte_cursor
        end_datetime: "{{ now_utc().isoformat('T', 'seconds') }}"
        start_datetime: "{{ config.start_date }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_granularity: PT0S
      transformations:
      - type: AddFields
        fields:
        - path:
          - airbyte_cursor
          value: "{{ record.MetaData.LastUpdatedTime }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
          - "null"
          - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            AllowIPNPayment:
              type:
              - "null"
              - boolean
            AllowOnlineACHPayment:
              type:
              - "null"
              - boolean
            AllowOnlineCreditCardPayment:
              type:
              - "null"
              - boolean
            AllowOnlinePayment:
              type:
              - "null"
              - boolean
            ApplyTaxAfterDiscount:
              type:
              - "null"
              - boolean
            Balance:
              type:
              - "null"
              - number
            BillAddr:
              type:
              - "null"
              - object
              properties:
                City:
                  type:
                  - "null"
                  - string
                CountrySubDivisionCode:
                  type:
                  - "null"
                  - string
                Id:
                  type:
                  - "null"
                  - string
                Lat:
                  type:
                  - "null"
                  - string
                Line1:
                  type:
                  - "null"
                  - string
                Line2:
                  type:
                  - "null"
                  - string
                Line3:
                  type:
                  - "null"
                  - string
                Line4:
                  type:
                  - "null"
                  - string
                Long:
                  type:
                  - "null"
                  - string
                PostalCode:
                  type:
                  - "null"
                  - string
            BillEmail:
              type:
              - "null"
              - object
              properties:
                Address:
                  type:
                  - "null"
                  - string
            CurrencyRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            CustomField:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  DefinitionId:
                    type:
                    - "null"
                    - string
                  Name:
                    type:
                    - "null"
                    - string
                  StringValue:
                    type:
                    - "null"
                    - string
                  Type:
                    type:
                    - "null"
                    - string
            CustomerMemo:
              type:
              - "null"
              - object
              properties:
                value:
                  type:
                  - "null"
                  - string
            CustomerRef:
              type:
              - "null"
              - object
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            DeliveryInfo:
              type:
              - "null"
              - object
              properties:
                DeliveryType:
                  type:
                  - "null"
                  - string
            DocNumber:
              type:
              - "null"
              - string
            DueDate:
              type:
              - "null"
              - string
              format: date
            EmailStatus:
              type:
              - "null"
              - string
            ExchangeRate:
              type:
              - "null"
              - number
            HomeTotalAmt:
              type:
              - "null"
              - number
            Id:
              type:
              - "null"
              - string
            Line:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  Amount:
                    type:
                    - "null"
                    - number
                  Description:
                    type:
                    - "null"
                    - string
                  DetailType:
                    type:
                    - "null"
                    - string
                  DiscountLineDetail:
                    type:
                    - "null"
                    - object
                    properties:
                      DiscountAccountRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      DiscountPercent:
                        type:
                        - "null"
                        - integer
                      PercentBased:
                        type:
                        - "null"
                        - boolean
                  Id:
                    type:
                    - "null"
                    - string
                  LineNum:
                    type:
                    - "null"
                    - integer
                  LinkedTxn:
                    type:
                    - "null"
                    - array
                    items:
                      type:
                      - "null"
                      - object
                      properties:
                        TxnId:
                          type:
                          - "null"
                          - string
                        TxnType:
                          type:
                          - "null"
                          - string
                  SalesItemLineDetail:
                    type:
                    - "null"
                    - object
                    properties:
                      ClassRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      ItemRef:
                        type:
                        - "null"
                        - object
                        properties:
                          name:
                            type:
                            - "null"
                            - string
                          value:
                            type:
                            - "null"
                            - string
                      Qty:
                        type:
                        - "null"
                        - number
                      ServiceDate:
                        type:
                        - "null"
                        - string
                        format: date
                      TaxCodeRef:
                        type:
                        - "null"
                        - object
                        properties:
                          value:
                            type:
                            - "null"
                            - string
                      UnitPrice:
                        type:
                        - "null"
                        - number
                  SubTotalLineDetail:
                    type:
                    - "null"
                    - object
                    additionalProperties: true
                    properties: {}
            LinkedTxn:
              type:
              - "null"
              - array
              items:
                type:
                - "null"
                - object
                properties:
                  TxnId:
                    type:
                    - "null"
                    - string
                  TxnType:
                    type:
                    - "null"
                    - string
            MetaData:
              type:
              - "null"
              - object
              properties:
                CreateTime:
                  type:
                  - "null"
                  - string
                  format: date-time
                LastUpdatedTime:
                  type:
                  - "null"
                  - string
                  format: date-time
            PrintStatus:
              type:
              - "null"
              - string
            PrivateNote:
              type:
              - "null"
              - string
            SalesTermRef:
              type:
              - "null"
              - object
              additionalProperties: true
              properties:
                name:
                  type:
                  - "null"
                  - string
                value:
                  type:
                  - "null"
                  - string
            ShipAddr:
              type:
              - "null"
              - object
              properties:
                City:
                  type:
                  - "null"
                  - string
                CountrySubDivisionCode:
                  type:
                  - "null"
                  - string
                Id:
                  type:
                  - "null"
                  - string
                Lat:
                  type:
                  - "null"
                  - string
                Line1:
                  type:
                  - "null"
                  - string
                Long:
                  type:
                  - "null"
                  - string
                PostalCode:
                  type:
                  - "null"
                  - string
            SyncToken:
              type:
              - "null"
              - string
            TotalAmt:
              type:
              - "null"
              - number
            TxnDate:
              type:
              - "null"
              - string
              format: date
            TxnTaxDetail:
              type:
              - "null"
              - object
              properties:
                TaxLine:
                  type:
                  - "null"
                  - array
                  items:
                    type:
                    - "null"
                    - object
                    properties:
                      Amount:
                        type:
                        - "null"
                        - number
                      DetailType:
                        type:
                        - "null"
                        - string
                      TaxLineDetail:
                        type:
                        - "null"
                        - object
                        properties:
[...]
