version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - categories
definitions:
  streams:
    categories:
      type: DeclarativeStream
      name: categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://pro-api.coinmarketcap.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: categories
            primary_key: id
            path: /v1/cryptocurrency/categories
            inject_into:
              type: RequestOption
              field_name: X-CMC_PRO_API_KEY
              inject_into: header
          path: /v1/cryptocurrency/categories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            avg_price_change:
              type:
                - "null"
                - number
            description:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            last_updated:
              type:
                - "null"
                - string
            market_cap:
              type:
                - "null"
                - number
            market_cap_change:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            num_tokens:
              type:
                - "null"
                - integer
            title:
              type:
                - "null"
                - string
            volume:
              type:
                - "null"
                - number
            volume_change:
              type:
                - "null"
                - number
    listing:
      type: DeclarativeStream
      name: listing
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://pro-api.coinmarketcap.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: categories
            primary_key: id
            path: /v1/cryptocurrency/categories
            inject_into:
              type: RequestOption
              field_name: X-CMC_PRO_API_KEY
              inject_into: header
          path: /v1/cryptocurrency/listings/{{ config['data_type'] or ''}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            circulating_supply:
              type:
                - "null"
                - number
            cmc_rank:
              type:
                - "null"
                - integer
            date_added:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            last_updated:
              type:
                - "null"
                - string
            max_supply:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            num_market_pairs:
              type:
                - "null"
                - integer
            platform:
              type:
                - "null"
                - object
            quote:
              type:
                - "null"
                - object
            self_reported_circulating_supply:
              type:
                - "null"
                - number
            self_reported_market_cap:
              type:
                - "null"
                - number
            slug:
              type:
                - "null"
                - string
            symbol:
              type:
                - "null"
                - string
            tags:
              type:
                - "null"
                - array
              items:
                type: string
            total_supply:
              type:
                - "null"
                - number
            tvl_ratio:
              type:
                - "null"
                - number
    quotes:
      type: DeclarativeStream
      name: quotes
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://pro-api.coinmarketcap.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: categories
            primary_key: id
            path: /v1/cryptocurrency/categories
            inject_into:
              type: RequestOption
              field_name: X-CMC_PRO_API_KEY
              inject_into: header
          path: /v1/cryptocurrency/quotes/{{ config['data_type'] or ''}}
          http_method: GET
          request_parameters:
            symbol: "{{ ','.join(config.get('symbols', [])) }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties: {}
    fiat:
      type: DeclarativeStream
      name: fiat
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://pro-api.coinmarketcap.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: categories
            primary_key: id
            path: /v1/cryptocurrency/categories
            inject_into:
              type: RequestOption
              field_name: X-CMC_PRO_API_KEY
              inject_into: header
          path: /v1/fiat/map
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type: integer
            name:
              type:
                - "null"
                - string
            sign:
              type:
                - "null"
                - string
            symbol:
              type:
                - "null"
                - string
    exchange:
      type: DeclarativeStream
      name: exchange
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://pro-api.coinmarketcap.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: categories
            primary_key: id
            path: /v1/cryptocurrency/categories
            inject_into:
              type: RequestOption
              field_name: X-CMC_PRO_API_KEY
              inject_into: header
          path: /v1/exchange/map
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            first_historical_data:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            is_active:
              type:
                - "null"
                - integer
            last_historical_data:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            slug:
              type:
                - "null"
                - string
  base_requester:
    type: HttpRequester
    url_base: https://pro-api.coinmarketcap.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      name: categories
      primary_key: id
      path: /v1/cryptocurrency/categories
      inject_into:
        type: RequestOption
        field_name: X-CMC_PRO_API_KEY
        inject_into: header
streams:
  - type: DeclarativeStream
    name: categories
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://pro-api.coinmarketcap.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: categories
          primary_key: id
          path: /v1/cryptocurrency/categories
          inject_into:
            type: RequestOption
            field_name: X-CMC_PRO_API_KEY
            inject_into: header
        path: /v1/cryptocurrency/categories
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          avg_price_change:
            type:
              - "null"
              - number
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          last_updated:
            type:
              - "null"
              - string
          market_cap:
            type:
              - "null"
              - number
          market_cap_change:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          num_tokens:
            type:
              - "null"
              - integer
          title:
            type:
              - "null"
              - string
          volume:
            type:
              - "null"
              - number
          volume_change:
            type:
              - "null"
              - number
  - type: DeclarativeStream
    name: listing
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://pro-api.coinmarketcap.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: categories
          primary_key: id
          path: /v1/cryptocurrency/categories
          inject_into:
            type: RequestOption
            field_name: X-CMC_PRO_API_KEY
            inject_into: header
        path: /v1/cryptocurrency/listings/{{ config['data_type'] or ''}}
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          circulating_supply:
            type:
              - "null"
              - number
          cmc_rank:
            type:
              - "null"
              - integer
          date_added:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          last_updated:
            type:
              - "null"
              - string
          max_supply:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          num_market_pairs:
            type:
              - "null"
              - integer
          platform:
            type:
              - "null"
              - object
          quote:
            type:
              - "null"
              - object
          self_reported_circulating_supply:
            type:
              - "null"
              - number
          self_reported_market_cap:
            type:
              - "null"
              - number
          slug:
            type:
              - "null"
              - string
          symbol:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            items:
              type: string
          total_supply:
            type:
              - "null"
              - number
          tvl_ratio:
            type:
              - "null"
              - number
  - type: DeclarativeStream
    name: quotes
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://pro-api.coinmarketcap.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: categories
          primary_key: id
          path: /v1/cryptocurrency/categories
          inject_into:
            type: RequestOption
            field_name: X-CMC_PRO_API_KEY
            inject_into: header
        path: /v1/cryptocurrency/quotes/{{ config['data_type'] or ''}}
        http_method: GET
        request_parameters:
          symbol: "{{ ','.join(config.get('symbols', [])) }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties: {}
  - type: DeclarativeStream
    name: fiat
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://pro-api.coinmarketcap.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: categories
          primary_key: id
          path: /v1/cryptocurrency/categories
          inject_into:
            type: RequestOption
            field_name: X-CMC_PRO_API_KEY
            inject_into: header
        path: /v1/fiat/map
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type: integer
          name:
            type:
              - "null"
              - string
          sign:
            type:
              - "null"
              - string
          symbol:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: exchange
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://pro-api.coinmarketcap.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: categories
          primary_key: id
          path: /v1/cryptocurrency/categories
          inject_into:
            type: RequestOption
            field_name: X-CMC_PRO_API_KEY
            inject_into: header
        path: /v1/exchange/map
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          first_historical_data:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          is_active:
            type:
              - "null"
              - integer
          last_historical_data:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          slug:
            type:
              - "null"
              - string
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - data_type
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          Your API Key. See <a
          href="https://coinmarketcap.com/api/documentation/v1/#section/Authentication">here</a>.
          The token is case sensitive.
        order: 0
      data_type:
        type: string
        title: Data type
        enum:
          - latest
          - historical
        description: >-
          /latest: Latest market ticker quotes and averages for cryptocurrencies
          and exchanges. /historical: Intervals of historic market data like
          OHLCV data or data for use in charting libraries. See <a
          href="https://coinmarketcap.com/api/documentation/v1/#section/Endpoint-Overview">here</a>.
        order: 1
      symbols:
        type: array
        title: Symbol
        items:
          type: string
        description: Cryptocurrency symbols. (only used for quotes stream)
        minItems: 1
        examples:
          - AVAX
          - BTC
        order: 2
    additionalProperties: true
metadata:
  autoImportSchema:
    categories: false
    listing: false
    quotes: false
    fiat: false
    exchange: false
schemas:
  categories:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      avg_price_change:
        type:
          - "null"
          - number
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      last_updated:
        type:
          - "null"
          - string
      market_cap:
        type:
          - "null"
          - number
      market_cap_change:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      num_tokens:
        type:
          - "null"
          - integer
      title:
        type:
          - "null"
          - string
      volume:
        type:
          - "null"
          - number
      volume_change:
        type:
          - "null"
          - number
  listing:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      circulating_supply:
        type:
          - "null"
          - number
      cmc_rank:
        type:
          - "null"
          - integer
      date_added:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      last_updated:
        type:
          - "null"
          - string
      max_supply:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      num_market_pairs:
        type:
          - "null"
          - integer
      platform:
        type:
          - "null"
          - object
      quote:
        type:
          - "null"
          - object
      self_reported_circulating_supply:
        type:
          - "null"
          - number
      self_reported_market_cap:
        type:
          - "null"
          - number
      slug:
        type:
          - "null"
          - string
      symbol:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      total_supply:
        type:
          - "null"
          - number
      tvl_ratio:
        type:
          - "null"
          - number
  quotes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties: {}
  fiat:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: integer
      name:
        type:
          - "null"
          - string
      sign:
        type:
          - "null"
          - string
      symbol:
        type:
          - "null"
          - string
  exchange:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      first_historical_data:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      is_active:
        type:
          - "null"
          - integer
      last_historical_data:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      slug:
        type:
          - "null"
          - string
