version: 6.7.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  authenticator:
    type: OAuthAuthenticator
    refresh_request_body:
      environment: "production"
      oauth_scope: "msads.manage"
      scope: "https://ads.microsoft.com/msads.manage offline_access"
      tenant: "{{ config['tenant_id'] }}"
    token_refresh_endpoint:
      'https://login.microsoftonline.com/{{ config["tenant_id"]
      }}/oauth2/v2.0/token'
    grant_type: refresh_token
    client_id: '{{ config["client_id"] }}'
    client_secret: '{{ config["client_secret"] }}'
    refresh_token: '{{ config["refresh_token"] }}'
  users_stream:
    type: DeclarativeStream
    name: users
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema: # this does not matter as we don't expose the stream as public
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties: {}
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/User/Query
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_data: '{"UserId": null}'
        authenticator: "#/definitions/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["User"]
        schema_normalization: Default
  accounts_stream:
    type: DeclarativeStream
    name: accounts
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/accounts"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/Accounts/Search
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_json:
          PageInfo:
            Index: "{{ next_page_token.next_page_token }}"
            Size: 1000
          Predicates: |
            {% if "account_names" in config and config["account_names"] | length %}
            [
              {
                "Field": "UserId",
                "Operator": "Equals",
                "Value": "{{ stream_partition['user_id'] }}"
              },
              {
                "Field": "AccountName",
                "Operator": "{{ stream_partition.account_name['operator'] }}",
                "Value": "{{ stream_partition.account_name['name'] }}"
              }
            ]
            {% else %}
            [
              {
                "Field": "UserId",
                "Operator": "Equals",
                "Value": "{{ stream_partition['user_id'] }}"
              }
            ]
            {% endif %}
          ReturnAdditionalFields: "TaxCertificate,AccountMode"
        authenticator: "#/definitions/authenticator"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          inject_on_first_request: true
          page_size: 1000
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: Id
              partition_field: user_id
              stream:
                $ref: "#/definitions/users_stream"
        - type: ListPartitionRouter
          values: "{{ config['account_names'] if 'account_names' in config and config['account_names'] | length else [''] }}"
          cursor_field: account_name
      record_selector:
        type: RecordSelector
        record_filter:
          type: CustomRecordFilter
          class_name: source_bing_ads.components.DuplicatedRecordsFilter
        extractor:
          type: DpathExtractor
          field_path: ["Accounts"]
        schema_normalization: Default
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - LinkedAgencies
            value: |
              {% set linked_agencies = [] %}
              {% for agency in (record.get('LinkedAgencies') or []) %}
              {% set _ = linked_agencies.append({ "Id": agency.Id|int, "Name": agency.Name }) %}
              {% endfor %}
              {{ linked_agencies }}
          - type: AddedFieldDefinition
            path:
              - LinkedAgencies
            value: '{{ { "CustomerInfo": record.LinkedAgencies } }}'
          - type: AddedFieldDefinition
            path:
              - LastModifiedTime
            value: '{{ format_datetime(record.LastModifiedTime, "%Y-%m-%dT%H:%M:%S.%f" ) }}'
          # Schema parses Id as integer, we use this parsing for the state as historically value has been saved as string
          - type: AddedFieldDefinition # useful when used as a parent stream
            path:
              - parsed_account_id
            value: "{{ record.Id | string }}"
            value_type: string
  campaigns_stream:
    type: DeclarativeStream
    name: campaigns
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaigns"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://campaign.api.bingads.microsoft.com
        path: /CampaignManagement/v13/Campaigns/QueryByAccountId
        http_method: POST
        request_headers:
          Content-Type: application/json
          CustomerAccountId: "{{ stream_partition['account_id'] }}"
          CustomerId: "{{ stream_slice.extra_fields['ParentCustomerId'][0] }}"
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_json:
          AccountId: "{{ stream_partition['account_id'] }}"
          CampaignType: "Audience,DynamicSearchAds,Search,Shopping,PerformanceMax"
          ReturnAdditionalFields: "AdScheduleUseSearcherTimeZone,BidStrategyId,CpvCpmBiddingScheme,DynamicDescriptionSetting,DynamicFeedSetting,MaxConversionValueBiddingScheme,MultimediaAdsBidAdjustment,TargetImpressionShareBiddingScheme,TargetSetting,VerifiedTrackingSetting"
        authenticator: "#/definitions/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["Campaigns"]
          schema_normalization: Default
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: Id
            partition_field: account_id
            stream:
              $ref: "#/definitions/accounts_stream"
            extra_fields:
              - - ParentCustomerId
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - Id
            value: "{{ record.Id|int }}"
          - type: AddedFieldDefinition
            path:
              - ExperimentId
            value: "{{ record.get('ExperimentId')|int if record.get('ExperimentId') is not none else none }}"
          - type: AddedFieldDefinition
            path:
              - AccountId
            value: "{{ stream_partition['account_id'] }}"
          - type: AddedFieldDefinition
            path:
              - CustomerId
            value: "{{ stream_partition.extra_fields['ParentCustomerId'] }}"
          - type: AddedFieldDefinition
            path:
              - DailyBudget
            value: "{{ record.get('DailyBudget')|float if record.get('DailyBudget') is not none else none }}"
          - type: AddedFieldDefinition
            path:
              - BudgetId
            value: "{{ record.get('BudgetId')|int if record.get('BudgetId') is not none else none }}"
          - type: AddedFieldDefinition
            path:
              - BidStrategyId
            value: "{{ record.get('BidStrategyId')|int if record.get('BidStrategyId') is not none else none }}"
          - type: AddedFieldDefinition
            path:
              - ForwardCompatibilityMap
            value: "{{ record.get('ForwardCompatibilityMap') if record.get('ForwardCompatibilityMap') and record.get('ForwardCompatibilityMap') | length > 0 else none }}"
          - type: AddedFieldDefinition
            path:
              - Languages
            value: "{{ {'string': record.get('Languages')} if record.get('Languages') is not none and record.get('Languages') | length > 0 else None }}"
          - type: AddedFieldDefinition
            path:
              - UrlCustomParameters
            value: "{{ {'Parameters': {'CustomParameter': record.UrlCustomParameters.Parameters}} if record.get('UrlCustomParameters') and record.get('UrlCustomParameters').get('Parameters') else record.get('UrlCustomParameters') }}"
      - type: CustomTransformation
        class_name: source_bing_ads.components.BingAdsCampaignsRecordTransformer
      - type: RemoveFields
        field_pointers: []
  account_performance_report_daily_stream:
    type: DeclarativeStream
    name: account_performance_report_daily
    primary_key:
      - AccountId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/account_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AccountPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AccountPerformanceReportRequest
            Aggregation: Daily
            Columns:
              - AccountId
              - TimePeriod
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Network
              - DeliveredMatchType
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - AccountName
              - AccountNumber
              - PhoneImpressions
              - PhoneCalls
              - Clicks
              - Ctr
              - Spend
              - Impressions
              - Assists
              - ReturnOnAdSpend
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - Conversions
              - ConversionsQualified
              - ConversionRate
              - CostPerAssist
              - CostPerConversion
              - LowQualityClicks
              - LowQualityClicksPercent
              - LowQualityImpressions
              - LowQualitySophisticatedClicks
              - LowQualityConversions
              - LowQualityConversionRate
              - Revenue
              - RevenuePerAssist
              - RevenuePerConversion
              - Ptr
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart:
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).day}}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).month}}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).year}}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              ReportTimeZone: "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/performance_report_common_transformations"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - PhoneImpressions
            value: |
              {{ record['PhoneImpressions'] | int if record.get('PhoneImpressions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - PhoneCalls
            value: |
              {{ record['PhoneCalls'] | int if record.get('PhoneCalls') else 0 }}
          - type: AddedFieldDefinition
            path:
              - Ptr
            value: |
              {% set v = record.get('Ptr') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}
          - type: AddedFieldDefinition
            path:
              - LowQualityClicks
            value: |
              {{ record['LowQualityClicks'] | int if record.get('LowQualityClicks') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityClicksPercent
            value: |
              {% set v = record.get('LowQualityClicksPercent') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}
          - type: AddedFieldDefinition
            path:
              - LowQualityImpressions
            value: |
              {{ record['LowQualityImpressions'] | int if record.get('LowQualityImpressions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualitySophisticatedClicks
            value: |
              {{ record['LowQualitySophisticatedClicks'] | int if record.get('LowQualitySophisticatedClicks') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityConversions
            value: |
              {{ record['LowQualityConversions'] | int if record.get('LowQualityConversions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityConversionRate
            value: |
              {% set v = record.get('LowQualityConversionRate') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}
  account_performance_report_weekly_stream:
    type: DeclarativeStream
    name: account_performance_report_weekly
    primary_key:
      - AccountId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/account_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AccountPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AccountPerformanceReportRequest
            Aggregation: Weekly
            Columns:
              - AccountId
              - TimePeriod
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Network
              - DeliveredMatchType
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - AccountName
              - AccountNumber
              - PhoneImpressions
              - PhoneCalls
              - Clicks
              - Ctr
              - Spend
              - Impressions
              - Assists
              - ReturnOnAdSpend
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - Conversions
              - ConversionsQualified
              - ConversionRate
              - CostPerAssist
              - CostPerConversion
              - LowQualityClicks
              - LowQualityClicksPercent
              - LowQualityImpressions
              - LowQualitySophisticatedClicks
              - LowQualityConversions
              - LowQualityConversionRate
              - Revenue
              - RevenuePerAssist
              - RevenuePerConversion
              - Ptr
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart: # {{ str_to_datetime(stream_interval.get('start_time')).year }}
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).day}}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).month}}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).year}}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/performance_report_common_transformations"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - PhoneImpressions
            value: |
              {{ record['PhoneImpressions'] | int if record.get('PhoneImpressions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - PhoneCalls
            value: |
              {{ record['PhoneCalls'] | int if record.get('PhoneCalls') else 0 }}
          - type: AddedFieldDefinition
            path:
              - Ptr
            value: |
              {% set v = record.get('Ptr') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}
          - type: AddedFieldDefinition
            path:
              - LowQualityClicks
            value: |
              {{ record['LowQualityClicks'] | int if record.get('LowQualityClicks') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityClicksPercent
            value: |
              {% set v = record.get('LowQualityClicksPercent') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}
          - type: AddedFieldDefinition
            path:
              - LowQualityImpressions
            value: |
              {{ record['LowQualityImpressions'] | int if record.get('LowQualityImpressions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualitySophisticatedClicks
            value: |
              {{ record['LowQualitySophisticatedClicks'] | int if record.get('LowQualitySophisticatedClicks') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityConversions
            value: |
              {{ record['LowQualityConversions'] | int if record.get('LowQualityConversions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityConversionRate
            value: |
              {% set v = record.get('LowQualityConversionRate') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}
  account_performance_report_monthly_stream:
    type: DeclarativeStream
    name: ad_performance_report_monthly
    primary_key:
      - AccountId
      - TimePeriod
      - CurrencyCode
      - AdDistribution
      - DeviceType
      - Network
      - DeliveredMatchType
      - DeviceOS
      - TopVsOther
      - BidMatchType
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/account_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AccountPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AccountPerformanceReportRequest
            Aggregation: Monthly
            Columns:
              - AccountId
              - TimePeriod
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Network
              - DeliveredMatchType
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - AccountName
              - AccountNumber
              - PhoneImpressions
              - PhoneCalls
              - Clicks
              - Ctr
              - Spend
              - Impressions
              - Assists
              - ReturnOnAdSpend
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - Conversions
              - ConversionsQualified
              - ConversionRate
              - CostPerAssist
              - CostPerConversion
              - LowQualityClicks
              - LowQualityClicksPercent
              - LowQualityImpressions
              - LowQualitySophisticatedClicks
              - LowQualityConversions
              - LowQualityConversionRate
              - Revenue
              - RevenuePerAssist
              - RevenuePerConversion
              - Ptr
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart:
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year }}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/performance_report_common_transformations"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - PhoneImpressions
            value: |
              {{ record['PhoneImpressions'] | int if record.get('PhoneImpressions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - PhoneCalls
            value: |
              {{ record['PhoneCalls'] | int if record.get('PhoneCalls') else 0 }}
          - type: AddedFieldDefinition
            path:
              - Ptr
            value: |
              {% set v = record.get('Ptr') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}
          - type: AddedFieldDefinition
            path:
              - LowQualityClicks
            value: |
              {{ record['LowQualityClicks'] | int if record.get('LowQualityClicks') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityClicksPercent
            value: |
              {% set v = record.get('LowQualityClicksPercent') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}
          - type: AddedFieldDefinition
            path:
              - LowQualityImpressions
            value: |
              {{ record['LowQualityImpressions'] | int if record.get('LowQualityImpressions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualitySophisticatedClicks
            value: |
              {{ record['LowQualitySophisticatedClicks'] | int if record.get('LowQualitySophisticatedClicks') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityConversions
            value: |
              {{ record['LowQualityConversions'] | int if record.get('LowQualityConversions') else 0 }}
          - type: AddedFieldDefinition
            path:
              - LowQualityConversionRate
            value: |
              {% set v = record.get('LowQualityConversionRate') %}
              {{ v | replace('%', '') | float if v is not none and v != "" else None }}

  ad_performance_report_hourly_stream:
    type: DeclarativeStream
    name: ad_performance_report_hourly
    primary_key:
      [
        "AccountId",
        "CampaignId",
        "AdGroupId",
        "AdId",
        "TimePeriod",
        "CurrencyCode",
        "AdDistribution",
        "DeviceType",
        "Language",
        "Network",
        "DeviceOS",
        "TopVsOther",
        "BidMatchType",
        "DeliveredMatchType",
      ]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_performance_report_hourly"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AdPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AdPerformanceReportRequest
            Aggregation: Hourly
            Columns:
              - AccountId
              - CampaignId
              - AdGroupId
              - AdId
              - TimePeriod
              - AbsoluteTopImpressionRatePercent
              - TopImpressionRatePercent
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Language
              - Network
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - DeliveredMatchType
              - AccountName
              - CampaignName
              - CampaignType
              - AdGroupName
              - Impressions
              - Clicks
              - Ctr
              - Spend
              - CostPerConversion
              - DestinationUrl
              - Assists
              - ReturnOnAdSpend
              - CostPerAssist
              - CustomParameters
              - FinalAppUrl
              - AdDescription
              - AdDescription2
              - ViewThroughConversions
              - ViewThroughConversionsQualified
              - AllCostPerConversion
              - AllReturnOnAdSpend
              - Conversions
              - ConversionRate
              - ConversionsQualified
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - AllConversions
              - AllConversionRate
              - AllRevenue
              - AllRevenuePerConversion
              - Revenue
              - RevenuePerConversion
              - RevenuePerAssist
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart: # {{ str_to_datetime(stream_interval.get('start_time')).year }}
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).day}}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).month}}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).year}}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_hourly_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - TimePeriod
            #            Bing Ads API reports with hourly aggregation provides date fields in custom format: "2023-11-04|11"
            #            Return date in RFC3339 format: "2023-11-04T11:00:00+00:00"
            value: |
              {%- set parts = record.TimePeriod.split('|') -%}
              {%- set time_period = record.TimePeriod -%}
              {%- set date_part = '' -%}
              {%- set hour_part = 0 -%}
              {%- if parts|length > 1 -%}
                {%- set date_part = parts[0] -%}
                {%- set hour_part = parts[1]|int -%}
                {%- set time_period = date_part ~ "T" ~ "%02d" % hour_part ~ ":00:00+00:00" -%}
              {%- endif -%}
              {{ time_period }}
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_common_transformations"
      - type: RemoveFields
        field_pointers:
          - ["TopImpressionRatePercent"]
          - ["AbsoluteTopImpressionRatePercent"]
  ad_performance_report_daily_stream:
    type: DeclarativeStream
    name: ad_performance_report_daily
    primary_key:
      [
        "AccountId",
        "CampaignId",
        "AdGroupId",
        "AdId",
        "TimePeriod",
        "CurrencyCode",
        "AdDistribution",
        "DeviceType",
        "Language",
        "Network",
        "DeviceOS",
        "TopVsOther",
        "BidMatchType",
        "DeliveredMatchType",
      ]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AdPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AdPerformanceReportRequest
            Aggregation: Daily
            Columns:
              - AccountId
              - CampaignId
              - AdGroupId
              - AdId
              - TimePeriod
              - AbsoluteTopImpressionRatePercent
              - TopImpressionRatePercent
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Language
              - Network
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - DeliveredMatchType
              - AccountName
              - CampaignName
              - CampaignType
              - AdGroupName
              - Impressions
              - Clicks
              - Ctr
              - Spend
              - CostPerConversion
              - DestinationUrl
              - Assists
              - ReturnOnAdSpend
              - CostPerAssist
              - CustomParameters
              - FinalAppUrl
              - AdDescription
              - AdDescription2
              - ViewThroughConversions
              - ViewThroughConversionsQualified
              - AllCostPerConversion
              - AllReturnOnAdSpend
              - Conversions
              - ConversionRate
              - ConversionsQualified
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - AllConversions
              - AllConversionRate
              - AllRevenue
              - AllRevenuePerConversion
              - Revenue
              - RevenuePerConversion
              - RevenuePerAssist
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart: # {{ str_to_datetime(stream_interval.get('start_time')).year }}
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).day}}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).month}}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).year}}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_transformations"
  ad_performance_report_weekly_stream:
    type: DeclarativeStream
    name: ad_performance_report_weekly
    primary_key:
      [
        "AccountId",
        "CampaignId",
        "AdGroupId",
        "AdId",
        "TimePeriod",
        "CurrencyCode",
        "AdDistribution",
        "DeviceType",
        "Language",
        "Network",
        "DeviceOS",
        "TopVsOther",
        "BidMatchType",
        "DeliveredMatchType",
      ]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AdPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AdPerformanceReportRequest
            Aggregation: Weekly
            Columns:
              - AccountId
              - CampaignId
              - AdGroupId
              - AdId
              - TimePeriod
              - AbsoluteTopImpressionRatePercent
              - TopImpressionRatePercent
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Language
              - Network
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - DeliveredMatchType
              - AccountName
              - CampaignName
              - CampaignType
              - AdGroupName
              - Impressions
              - Clicks
              - Ctr
              - Spend
              - CostPerConversion
              - DestinationUrl
              - Assists
              - ReturnOnAdSpend
              - CostPerAssist
              - CustomParameters
              - FinalAppUrl
              - AdDescription
              - AdDescription2
              - ViewThroughConversions
              - ViewThroughConversionsQualified
              - AllCostPerConversion
              - AllReturnOnAdSpend
              - Conversions
              - ConversionRate
              - ConversionsQualified
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - AllConversions
              - AllConversionRate
              - AllRevenue
              - AllRevenuePerConversion
              - Revenue
              - RevenuePerConversion
              - RevenuePerAssist
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart: # {{ str_to_datetime(stream_interval.get('start_time')).year }}
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).day}}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).month}}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).year}}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_transformations"
  ad_performance_report_monthly_stream:
    type: DeclarativeStream
    name: ad_performance_report_monthly
    primary_key:
      [
        "AccountId",
        "CampaignId",
        "AdGroupId",
        "AdId",
        "TimePeriod",
        "CurrencyCode",
        "AdDistribution",
        "DeviceType",
        "Language",
        "Network",
        "DeviceOS",
        "TopVsOther",
        "BidMatchType",
        "DeliveredMatchType",
      ]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AdPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AdPerformanceReportRequest
            Aggregation: Monthly
            Columns:
              - AccountId
              - CampaignId
              - AdGroupId
              - AdId
              - TimePeriod
              - AbsoluteTopImpressionRatePercent
              - TopImpressionRatePercent
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Language
              - Network
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - DeliveredMatchType
              - AccountName
              - CampaignName
              - CampaignType
              - AdGroupName
              - Impressions
              - Clicks
              - Ctr
              - Spend
              - CostPerConversion
              - DestinationUrl
              - Assists
              - ReturnOnAdSpend
              - CostPerAssist
              - CustomParameters
              - FinalAppUrl
              - AdDescription
              - AdDescription2
              - ViewThroughConversions
              - ViewThroughConversionsQualified
              - AllCostPerConversion
              - AllReturnOnAdSpend
              - Conversions
              - ConversionRate
              - ConversionsQualified
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - AllConversions
              - AllConversionRate
              - AllRevenue
              - AllRevenuePerConversion
              - Revenue
              - RevenuePerConversion
              - RevenuePerAssist
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart:
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year }}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_transformations"
  basic_async_retriever:
    type: AsyncRetriever
    partition_router:
      $ref: "#/definitions/account_substream_partition_router"
    status_mapping:
      failed:
        - Error
      running:
        - Pending
      completed:
        - Success
      timeout: []
    download_target_extractor:
      type: DpathExtractor
      field_path:
        - ReportRequestStatus
        - ReportDownloadUrl
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    status_extractor:
      type: DpathExtractor
      field_path:
        - ReportRequestStatus
        - Status
    polling_requester:
      type: HttpRequester
      url_base: https://reporting.api.bingads.microsoft.com/
      path: Reporting/v13/GenerateReport/Poll
      http_method: POST
      authenticator: "#/definitions/authenticator"
      request_headers:
        Content-Type: application/json
        DeveloperToken: "{{ config['developer_token'] }}"
        CustomerId: "'{{ stream_partition.extra_fields['ParentCustomerId'] }}'"
        CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
      request_body_json:
        ReportRequestId: "'{{ creation_response['ReportRequestId'] }}'"
    download_requester:
      type: HttpRequester
      url_base: "{{download_target}}"
      http_method: GET
    download_decoder:
      type: ZipfileDecoder
      decoder:
        type: CsvDecoder
        encoding: "utf-8-sig"
    creation_requester:
      type: HttpRequester
      url_base: https://reporting.api.bingads.microsoft.com/
      path: Reporting/v13/GenerateReport/Submit
      http_method: POST
      request_headers:
        Content-Type: application/json
        DeveloperToken: "{{ config['developer_token'] }}"
        CustomerId: "'{{ stream_partition.extra_fields['ParentCustomerId'] }}'"
        CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
      authenticator: "#/definitions/authenticator"
  account_substream_partition_router:
    type: CustomPartitionRouter
    class_name: source_bing_ads.components.LightSubstreamPartitionRouter
    parent_stream_configs:
      - type: ParentStreamConfig
        # Id is the primary key of the accounts stream but an integer
        # and not a string. We need to convert it to a string to be able
        # to get the state from the previous state format transformed.
        parent_key: parsed_account_id
        partition_field: account_id
        stream: "#/definitions/accounts_stream"
        extra_fields:
          - - ParentCustomerId
  # cursors section
  incremental_sync_report_datetime_cursor:
    type: DatetimeBasedCursor
    cursor_field: TimePeriod
    cursor_datetime_formats:
      - "%Y-%m-%d"
    datetime_format: "%Y-%m-%d"
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: |
        {%- set last_year = now_utc() - duration('P1Y') -%}
        {%- set default_date = last_year.strftime('%Y-01-01') -%}
        {%- set start_date = config.get('reports_start_date', default_date) -%}
        {{ start_date }}
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      # we need the end time to include the time part as well to distinguish from the start time
      # if we are syncing in same day, then we can evaluate boundaries effectively like lower >= upper
      datetime: "{{ format_datetime(now_utc(), '%Y-%m-%dT%H:%M:%S%z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
  incremental_sync_report_hourly_datetime_cursor:
    type: DatetimeBasedCursor
    cursor_field: TimePeriod
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S+00:00"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: |
        {%- set last_year = now_utc() - duration('P1Y') -%}
        {%- set default_date = last_year.strftime('%Y-01-01') -%}
        {%- set start_date = config.get('reports_start_date', default_date) -%}
        {{ start_date }}
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      # we need the end time to include the time part as well to distinguish from the start time
      # if we are syncing in same day, then we can evaluate boundaries effectively like lower >= upper
      datetime: "{{ format_datetime(now_utc(), '%Y-%m-%dT%H:%M:%S+00:00') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
  transformations:
    # Shared by multiple performance report streams (account + ad)
    performance_report_common_transformations:
      - type: AddedFieldDefinition
        path:
          - AccountId
        value: |
          {{ record['AccountId'] | int if record.get('AccountId') else none }}
      - type: AddedFieldDefinition
        path:
          - Assists
        value: |
          {{ record['Assists'] | int if record.get('Assists') else 0 }}
      - type: AddedFieldDefinition
        path:
          - AverageCpc
        value: |
          {{ record['AverageCpc'] | float if record.get('AverageCpc') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - AverageCpm
        value: |
          {{ record['AverageCpm'] | float if record.get('AverageCpm') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - AveragePosition
        value: |
          {{ record['AveragePosition'] | float if record.get('AveragePosition') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - Clicks
        value: |
          {{ record['Clicks'] | int if record.get('Clicks') else 0 }}
      - type: AddedFieldDefinition
        path:
          - ConversionRate
        value: |
          {% set v = record.get('ConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Conversions
        value: |
          {{ record['Conversions'] | float if record.get('Conversions') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - ConversionsQualified
        value: |
          {{ record['ConversionsQualified'] | float if record.get('ConversionsQualified') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - CostPerAssist
        value: |
          {% set v = record.get('CostPerAssist') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - CostPerConversion
        value: |
          {% set v = record.get('CostPerConversion') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Ctr
        value: |
          {% set v = record.get('Ctr') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Impressions
        value: |
          {{ record['Impressions'] | int if record.get('Impressions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - ReturnOnAdSpend
        value: |
          {% set v = record.get('ReturnOnAdSpend') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Revenue
        value: |
          {{ record['Revenue'] | replace(',', '') | float if record.get('Revenue') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - RevenuePerAssist
        value: |
          {% set v = record.get('RevenuePerAssist') %}
          {{ v | replace(',', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - RevenuePerConversion
        value: |
          {% set v = record.get('RevenuePerConversion') %}
          {{ v | replace(',', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - Spend
        value: |
          {{ record['Spend'] | float if record.get('Spend') else 0.0 }}

    # used in all ad performance report streams
    ad_performance_report_common_transformations:
      - type: AddedFieldDefinition
        path:
          - AdGroupId
        value: |
          {{ record['AdGroupId'] | int if record.get('AdGroupId') else none }}
      - type: AddedFieldDefinition
        path:
          - AdId
        value: |
          {{ record['AdId'] | int if record.get('AdId') else none }}
      - type: AddedFieldDefinition
        path:
          - AllConversionRate
        value: |
          {% set v = record.get('AllConversionRate') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllConversions
        value: |
          {{ record['AllConversions'] | int if record.get('AllConversions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - AllReturnOnAdSpend
        value: |
          {% set v = record.get('AllReturnOnAdSpend') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllRevenue
        value: |
          {{ record['AllRevenue'] | replace(',', '') | float if record.get('AllRevenue') else 0.0 }}
      - type: AddedFieldDefinition
        path:
          - CampaignId
        value: |
          {{ record['CampaignId'] | int if record.get('CampaignId') else 0 }}
      - type: AddedFieldDefinition
        path:
          - ViewThroughConversions
        value: |
          {{ record['ViewThroughConversions'] | int if record.get('ViewThroughConversions') else 0 }}
      - type: AddedFieldDefinition
        path:
          - AllCostPerConversion
        value: |
          {% set v = record.get('AllCostPerConversion') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - AllRevenuePerConversion
        value: |
          {% set v = record.get('AllRevenuePerConversion') %}
          {{ v | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - ViewThroughConversionsQualified
        value: |
          {% set v = record.get('ViewThroughConversionsQualified') %}
          {{ v | float if v is not none and v != "" else None }}
      # all below are string fields, just need to ensure they not empty
      - type: AddedFieldDefinition
        path:
          - DestinationUrl
        value: |
          {{ record['DestinationUrl'] if record.get('DestinationUrl') else none }}
      - type: AddedFieldDefinition
        path:
          - CustomParameters
        value: |
          {{ record['CustomParameters'] if record.get('CustomParameters') else none }}
      - type: AddedFieldDefinition
        path:
          - FinalAppUrl
        value: |
          {{ record['FinalAppUrl'] if record.get('FinalAppUrl') else none }}
      - type: AddedFieldDefinition
        path:
          - AdDescription
        value: |
          {{ record['AdDescription'] if record.get('AdDescription') else none }}
      - type: AddedFieldDefinition
        path:
          - AdDescription2
        value: |
          {{ record['AdDescription2'] if record.get('AdDescription2') else none }}

    # used in ad performance report streams (except hourly
    ad_performance_report_transformations:
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionRatePercent
        value: |
          {% set v = record.get('AbsoluteTopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionRatePercent
        value: |
          {% set v = record.get('TopImpressionRatePercent') %}
          {{ v | replace('%', '') | float if v is not none and v != "" else None }}

streams:
  - $ref: "#/definitions/accounts_stream"
  - $ref: "#/definitions/campaigns_stream"
  - $ref: "#/definitions/account_performance_report_daily_stream"
  - $ref: "#/definitions/account_performance_report_weekly_stream"
  - $ref: "#/definitions/ad_performance_report_hourly_stream"
  - $ref: "#/definitions/ad_performance_report_daily_stream"
  - $ref: "#/definitions/ad_performance_report_weekly_stream"
  - $ref: "#/definitions/ad_performance_report_monthly_stream"
schemas:
  accounts:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    properties:
      Id:
        description: ID of the account
        type:
          - "null"
          - integer
      AccountFinancialStatus:
        description: The financial status of the account
        type:
          - "null"
          - string
      AccountLifeCycleStatus:
        description: The life cycle status of the account
        type:
          - "null"
          - string
      AutoTagType:
        description: The type of auto-tagging
        type:
          - "null"
          - string
      AccountMode:
        description: The mode of the account
        type:
          - "null"
          - string
      ForwardCompatibilityMap:
        description: Map for forward compatibility
        type:
          - "null"
          - string
      PaymentMethodType:
        description: Type of the payment method
        type:
          - "null"
          - string
      Language:
        description: The language used in the account
        type:
          - "null"
          - string
      LinkedAgencies:
        description: The agencies linked to the account for management purposes.
        type:
          - "null"
          - object
        properties:
          Id:
            description: ID of the linked agency
            type:
              - "null"
              - integer
          Name:
            description: Name of the linked agency
            type:
              - "null"
              - string
      TaxInformation:
        description: Tax information of the account
        type:
          - "null"
          - string
      CurrencyCode:
        description: The currency code used by the account
        type:
          - "null"
          - string
      TimeZone:
        description: The time zone of the account
        type:
          - "null"
          - string
      BusinessAddress:
        description: The business address associated with the account.
        type:
          - "null"
          - object
        properties:
          City:
            description: The city of the business address
            type:
              - "null"
              - string
          CountryCode:
            description: The country code of the business address
            type:
              - "null"
              - string
          Id:
            description: ID of the business address
            type:
              - "null"
              - integer
          Line1:
            description: Address line 1
            type:
              - "null"
              - string
          Line2:
            description: Address line 2
            type:
              - "null"
              - string
          Line3:
            description: Address line 3
            type:
              - "null"
              - string
          Line4:
            description: Address line 4
            type:
              - "null"
              - string
          PostalCode:
            description: The postal code of the business address
            type:
              - "null"
              - string
          StateOrProvince:
            description: The state or province of the business address
            type:
              - "null"
              - string
          TimeStamp:
            description: Timestamp of the business address
            type:
              - "null"
              - string
          BusinessName:
            description: The business name
            type:
              - "null"
              - string
      BackUpPaymentInstrumentId:
        description: ID of the backup payment instrument
        type:
          - "null"
          - integer
      BillingThresholdAmount:
        description: The threshold amount for billing
        type:
          - "null"
          - number
      BillToCustomerId:
        description: Customer ID for billing
        type:
          - "null"
          - integer
      LastModifiedByUserId:
        description: ID of the user who last modified the account
        type:
          - "null"
          - integer
      LastModifiedTime:
        description: The date and time of the last modification
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      Name:
        description: The name of the account
        type:
          - "null"
          - string
      Number:
        description: The account number
        type:
          - "null"
          - string
      ParentCustomerId:
        description: ID of the parent customer
        type:
          - "null"
          - integer
      PauseReason:
        description: Reason for pausing the account
        type:
          - "null"
          - integer
      PaymentMethodId:
        description: ID of the payment method
        type:
          - "null"
          - integer
      PrimaryUserId:
        description: ID of the primary user
        type:
          - "null"
          - integer
      SalesHouseCustomerId:
        description: Customer ID for sales house
        type:
          - "null"
          - integer
      SoldToPaymentInstrumentId:
        description: ID of the payment instrument for sales
        type:
          - "null"
          - integer
      TimeStamp:
        description: Timestamp of the account
        type:
          - "null"
          - string
      TaxCertificate:
        type:
          - "null"
          - object
        properties:
          TaxCertificateBlobContainerName:
            type:
              - "null"
              - string
          Status:
            type:
              - "null"
              - string
            enum:
              - Invalid
              - Pending
              - Valid
          TaxCertificates:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                key:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - string

  campaigns:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    properties:
      AccountId:
        description: The unique identifier of the account associated with the campaign.
        type:
          - "null"
          - integer
      CustomerId:
        description: The unique identifier of the customer associated with the campaign.
        type:
          - "null"
          - integer
      AudienceAdsBidAdjustment:
        description: Bid adjustment value for audience targeting ads.
        type:
          - "null"
          - number
      BiddingScheme:
        description: Details of the bidding scheme for the campaign
        type:
          - "null"
          - object
        properties:
          Type:
            description: The type of bidding strategy used for the campaign.
            type:
              - "null"
              - string
          MaxCpc:
            description: Details of the maximum cost-per-click bid
            type:
              - "null"
              - object
            properties:
              Amount:
                description: The maximum cost-per-click bid for the campaign.
                type:
                  - "null"
                  - number
      BudgetType:
        description: The type of budget (e.g., daily, monthly) for the campaign.
        type:
          - "null"
          - string
      MultimediaAdsBidAdjustment:
        description: Bid adjustment value for multimedia ads.
        type:
          - "null"
          - number
      DailyBudget:
        description: The daily budget amount set for the campaign.
        type:
          - "null"
          - number
      ExperimentId:
        description: The identifier of the experiment linked to the campaign.
        type:
          - "null"
          - number
      FinalUrlSuffix:
        description: The final URL suffix appended to campaign URLs.
        type:
          - "null"
          - string
      ForwardCompatibilityMap:
        description: Forward compatibility map for potential future enhancements
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            key:
              description: The key identifying a forward compatibility setting.
              type:
                - "null"
                - string
            value:
              description: The value associated with the forward compatibility setting.
              type:
                - "null"
                - string
      Id:
        description: The unique identifier of the campaign.
        type:
          - "null"
          - number
      Name:
        description: The name of the campaign.
        type:
          - "null"
          - string
      Status:
        description: The status of the campaign (e.g., Active, Paused).
        type:
          - "null"
          - string
      SubType:
        description: The subtype of the campaign, providing additional context.
        type:
          - "null"
          - string
      TimeZone:
        description: The time zone setting for the campaign.
        type:
          - "null"
          - string
      TrackingUrlTemplate:
        description: The tracking URL template used for the campaign.
        type:
          - "null"
          - string
      UrlCustomParameters:
        description: Custom parameters for campaign URLs
        type:
          - "null"
          - object
        properties:
          Parameters:
            description: Specific URL parameters
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                Key:
                  description: The key parameter for URL customization.
                  type:
                    - "null"
                    - string
                Value:
                  description: The value parameter for URL customization.
                  type:
                    - "null"
                    - string
      CampaignType:
        description: The type of campaign (e.g., Search, Display, Video) being run.
        type:
          - "null"
          - string
      Settings:
        description: Settings related to the campaign
        type:
          - "null"
          - object
        properties:
          Setting:
            description: Specific setting details
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                Type:
                  description: The type of setting applied to the campaign.
                  type:
                    - "null"
                    - string
                Details:
                  description: Specific details of the setting
                  type:
                    - "null"
                    - object
                  properties:
                    TargetSettingDetail:
                      description: Specific target setting details
                      type:
                        - "null"
                        - array
                      items:
                        type:
                          - "null"
                          - object
                        properties:
                          CriterionTypeGroup:
                            description: The group type for targeting.
                            type:
                              - "null"
                              - string
                          TargetAndBid:
                            description: Indicates whether targeting is set to 'Bid only' or 'Target and bid'.
                            type:
                              - "null"
                              - boolean
      BudgetId:
        description: The identifier of the budget associated with the campaign.
        type:
          - "null"
          - number
      Languages:
        description: Languages targeted in the campaign
        type:
          - "null"
          - object
        properties:
          string:
            description: The languages targeted by the campaign.
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
      AdScheduleUseSearcherTimeZone:
        description: Indicates whether ad schedules should be based on the searcher's time zone.
        type:
          - "null"
          - boolean
  account_performance_report:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    properties:
      AccountId:
        description: Unique identifier for the Bing Ads account
        type:
          - "null"
          - integer
      TimePeriod:
        description: Time period for the report
        type:
          - "null"
          - string
        format: date
      CurrencyCode:
        description: Currency code used for reporting
        type:
          - "null"
          - string
      AdDistribution:
        description: Type of ad distribution (search, content, both)
        type:
          - "null"
          - string
      DeviceType:
        description: Type of device used
        type:
          - "null"
          - string
      Network:
        description: Type of network (search, audience)
        type:
          - "null"
          - string
      DeliveredMatchType:
        description: Type of match in ad delivery
        type:
          - "null"
          - string
      DeviceOS:
        description: Operating system of the device
        type:
          - "null"
          - string
      TopVsOther:
        description: Performance comparison between top and other ad positions
        type:
          - "null"
          - string
      BidMatchType:
        description: Type of bidding match (exact, phrase, broad)
        type:
          - "null"
          - string
      AccountName:
        description: Name of the Bing Ads account
        type:
          - "null"
          - string
      AccountNumber:
        description: Numeric account number
        type:
          - "null"
          - string
      PhoneImpressions:
        description: Number of ad impressions on phone devices
        type:
          - "null"
          - integer
      PhoneCalls:
        description: Number of phone calls generated
        type:
          - "null"
          - integer
      Clicks:
        description: Total number of clicks
        type:
          - "null"
          - integer
      Ctr:
        description: Click-through rate
        type:
          - "null"
          - number
      Spend:
        description: Total spend on ad campaigns
        type:
          - "null"
          - number
      Impressions:
        description: Total number of ad impressions
        type:
          - "null"
          - integer
      CostPerConversion:
        description: Cost per conversion
        type:
          - "null"
          - number
      Ptr:
        description: Phone-through rate
        type:
          - "null"
          - number
      Assists:
        description: Number of assist conversions
        type:
          - "null"
          - integer
      ReturnOnAdSpend:
        description: Return on ad spend
        type:
          - "null"
          - number
      CostPerAssist:
        description: Cost per assist conversion
        type:
          - "null"
          - number
      AverageCpc:
        description: Average cost per click
        type:
          - "null"
          - number
      AveragePosition:
        description: Average ad position
        type:
          - "null"
          - number
      AverageCpm:
        description: Average cost per thousand impressions
        type:
          - "null"
          - number
      Conversions:
        description: Total number of conversions
        type:
          - "null"
          - number
      ConversionsQualified:
        description: Number of qualified conversions
        type:
          - "null"
          - number
      ConversionRate:
        description: Percentage of conversions from clicks
        type:
          - "null"
          - number
      LowQualityClicks:
        description: Number of low-quality clicks
        type:
          - "null"
          - integer
      LowQualityClicksPercent:
        description: Percentage of low-quality clicks
        type:
          - "null"
          - number
      LowQualityImpressions:
        description: Number of low-quality impressions
        type:
          - "null"
          - integer
      LowQualitySophisticatedClicks:
        description: Number of sophisticated low-quality clicks
        type:
          - "null"
          - integer
      LowQualityConversions:
        description: Total number of low-quality conversions
        type:
          - "null"
          - integer
      LowQualityConversionRate:
        description: Conversion rate for low-quality clicks
        type:
          - "null"
          - number
      Revenue:
        description: Total revenue generated
        type:
          - "null"
          - number
      RevenuePerConversion:
        description: Revenue per conversion
        type:
          - "null"
          - number
      RevenuePerAssist:
        description: Revenue per assist conversion
        type:
          - "null"
          - number
  ad_performance_report:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    properties:
      AccountId:
        description: The unique ID of the account to which the ad belongs
        type:
          - "null"
          - integer
      CampaignId:
        description: The unique ID of the campaign to which the ad belongs
        type:
          - "null"
          - integer
      AdGroupId:
        description: The ID of the ad group to which the ad belongs
        type:
          - "null"
          - integer
      AdId:
        description: The unique ID of the ad
        type:
          - "null"
          - integer
      TimePeriod:
        description: The time period for the report data
        type:
          - "null"
          - string
        format: date
      AbsoluteTopImpressionRatePercent:
        description: The percentage of times your ad is shown in the absolute
          top location
        type:
          - "null"
          - number
      TopImpressionRatePercent:
        description: The percentage of times your ad is shown either at the top
          or absolute top location
        type:
          - "null"
          - number
      CurrencyCode:
        description: The currency code used for monetary values
        type:
          - "null"
          - string
      AdDistribution:
        description: The distribution network where the ad was shown
        type:
          - "null"
          - string
      DeviceType:
        description:
          The type of device where the ad was displayed (Desktop, Mobile,
          Tablet)
        type:
          - "null"
          - string
      Language:
        description: The language targeting of the ad
        type:
          - "null"
          - string
      Network:
        description: The network where the ad was displayed (Bing, Syndicated
          search partners)
        type:
          - "null"
          - string
      DeviceOS:
        description: The operating system of the device where the ad was displayed
        type:
          - "null"
          - string
      TopVsOther:
        description: The comparison between showing at the top or other positions
        type:
          - "null"
          - string
      BidMatchType:
        description: The match type of the keyword that triggered the ad
        type:
          - "null"
          - string
      DeliveredMatchType:
        description: The match type of the keyword that was matched to deliver
          the ad
        type:
          - "null"
          - string
      AccountName:
        description: The name of the account to which the ad belongs
        type:
          - "null"
          - string
      CampaignName:
        description: The name of the campaign to which the ad belongs
        type:
          - "null"
          - string
      CampaignType:
        description: The type of campaign (Search, Display, etc.)
        type:
          - "null"
          - string
      AdGroupName:
        description: The name of the ad group to which the ad belongs
        type:
          - "null"
          - string
      Impressions:
        description: The total number of times the ad was shown
        type:
          - "null"
          - integer
      Clicks:
        description: The total number of clicks on the ad
        type:
          - "null"
          - integer
      Ctr:
        description: The click-through rate
        type:
          - "null"
          - number
      Spend:
        description: The total cost spent on the ad
        type:
          - "null"
          - number
      CostPerConversion:
        description: The cost per conversion
        type:
          - "null"
          - number
      DestinationUrl:
        description: The URL where the user is directed when clicking the ad
        type:
          - "null"
          - string
      Assists:
        description: The number of assist conversions generated
        type:
          - "null"
          - integer
      ReturnOnAdSpend:
        description: The return on ad spend
        type:
          - "null"
          - number
      CostPerAssist:
        description: The cost per assist conversion
        type:
          - "null"
          - number
      CustomParameters:
        description: Custom parameters passed in the ad URL
        type:
          - "null"
          - string
      FinalAppUrl:
        description: The final URL for specific apps in the ad
        type:
          - "null"
          - string
      AdDescription:
        description: The description text of the ad
        type:
          - "null"
          - string
      AdDescription2:
        description: The second description line of the ad
        type:
          - "null"
          - string
      ViewThroughConversions:
        description: The total number of view-through conversions
        type:
          - "null"
          - integer
      ViewThroughConversionsQualified:
        description: The total number of qualified view-through conversions
        type:
          - "null"
          - number
      AllCostPerConversion:
        description: The cost per conversion for all conversion actions
        type:
          - "null"
          - number
      AllReturnOnAdSpend:
        description: The return on ad spend for all conversion actions
        type:
          - "null"
          - number
      Conversions:
        description: The total number of conversions
        type:
          - "null"
          - number
      ConversionRate:
        description: The conversion rate
        type:
          - "null"
          - number
      ConversionsQualified:
        description: The total number of qualified conversions
        type:
          - "null"
          - number
      AverageCpc:
        description: The average cost per click
        type:
          - "null"
          - number
      AveragePosition:
        description: The average position in which the ad appeared
        type:
          - "null"
          - number
      AverageCpm:
        description: The average cost per thousand impressions
        type:
          - "null"
          - number
      AllConversions:
        description: The total number of all conversion actions
        type:
          - "null"
          - integer
      AllConversionRate:
        description: The conversion rate for all conversion actions
        type:
          - "null"
          - number
      AllRevenue:
        description: The total revenue generated from all conversion actions
        type:
          - "null"
          - number
      AllRevenuePerConversion:
        description: The average revenue per conversion for all conversion actions
        type:
          - "null"
          - number
      Revenue:
        description: The total revenue generated by the ad
        type:
          - "null"
          - number
      RevenuePerConversion:
        description: The revenue per conversion
        type:
          - "null"
          - number
      RevenuePerAssist:
        description: The revenue per assist conversion
        type:
          - "null"
          - number
  ad_performance_report_hourly:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    properties:
      AccountId:
        description: The unique identifier for the account to which the ad belongs
        type:
          - "null"
          - integer
      CampaignId:
        description: The unique identifier for the campaign to which the ad belongs
        type:
          - "null"
          - integer
      AdGroupId:
        description: The unique identifier for the ad group to which the ad belongs
        type:
          - "null"
          - integer
      AdId:
        description: The unique identifier for the ad
        type:
          - "null"
          - integer
      TimePeriod:
        description: The time period to which the data corresponds
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      CurrencyCode:
        description: The currency code used for monetary values
        type:
          - "null"
          - string
      AdDistribution:
        description: The distribution channel for the ad (e.g., Search, Audience
          Network)
        type:
          - "null"
          - string
      DeviceType:
        description:
          The type of device on which the ad was displayed (e.g., Desktop,
          Mobile)
        type:
          - "null"
          - string
      Language:
        description: The language targeting of the ad
        type:
          - "null"
          - string
      Network:
        description: The network where the ad was displayed (e.g., Bing, AOL)
        type:
          - "null"
          - string
      DeviceOS:
        description: The operating system of the device on which the ad was displayed
        type:
          - "null"
          - string
      TopVsOther:
        description: The performance comparison of top positions vs. other positions
        type:
          - "null"
          - string
      BidMatchType:
        description: The type of keyword match (e.g., Broad, Phrase, Exact) for
          the bid
        type:
          - "null"
          - string
      DeliveredMatchType:
        description: The type of keyword match for which the ad has been delivered
        type:
          - "null"
          - string
      AccountName:
        description: The name of the account to which the ad belongs
        type:
          - "null"
          - string
      CampaignName:
        description: The name of the campaign to which the ad belongs
        type:
          - "null"
          - string
      CampaignType:
        description: The type of the campaign (e.g., Search, Audience Network)
        type:
          - "null"
          - string
      AdGroupName:
        description: The name of the ad group to which the ad belongs
        type:
          - "null"
          - string
      Impressions:
        description: The total number of times the ad was shown
        type:
          - "null"
          - integer
      Clicks:
        description: The total number of clicks on the ad
        type:
          - "null"
          - integer
      Ctr:
        description: The click-through rate
        type:
          - "null"
          - number
      Spend:
        description: The total amount spent on the ad campaign
        type:
          - "null"
          - number
      CostPerConversion:
        description: The cost per specific conversion
        type:
          - "null"
          - number
      DestinationUrl:
        description: The destination URL of the ad
        type:
          - "null"
          - string
      Assists:
        description: The number of assists (when an ad indirectly results in a
          conversion)
        type:
          - "null"
          - integer
      ReturnOnAdSpend:
        description: The return on ad spend for specific conversions
        type:
          - "null"
          - number
      CostPerAssist:
        description: The cost per assist (indirect conversion)
        type:
          - "null"
          - number
      CustomParameters:
        description: Any custom parameters set for the ad
        type:
          - "null"
          - string
      FinalAppUrl:
        description: The final URL shown in the ad for app installations
        type:
          - "null"
          - string
      AdDescription:
        description: The text of the first description line in the ad
        type:
          - "null"
          - string
      AdDescription2:
        description: The text of the second description line in the ad
        type:
          - "null"
          - string
      ViewThroughConversions:
        description: The total number of view-through conversions
        type:
          - "null"
          - integer
      ViewThroughConversionsQualified:
        description: The number of qualified view-through conversions
        type:
          - "null"
          - number
      AllCostPerConversion:
        description: The cost per conversion for all conversions
        type:
          - "null"
          - number
      AllReturnOnAdSpend:
        description: The return on ad spend for all conversions
        type:
          - "null"
          - number
      Conversions:
        description: The total number of specific conversions
        type:
          - "null"
          - number
      ConversionRate:
        description: The conversion rate for specific conversions
        type:
          - "null"
          - number
      ConversionsQualified:
        description: The number of qualified conversions
        type:
          - "null"
          - number
      AverageCpc:
        description: The average cost per click
        type:
          - "null"
          - number
      AveragePosition:
        description: The average position of the ad on the search results page
        type:
          - "null"
          - number
      AverageCpm:
        description: The average cost per 1,000 impressions
        type:
          - "null"
          - number
      AllConversions:
        description: The total number of all conversions
        type:
          - "null"
          - integer
      AllConversionRate:
        description: The conversion rate for all conversions
        type:
          - "null"
          - number
      AllRevenue:
        description: The total revenue from all conversions
        type:
          - "null"
          - number
      AllRevenuePerConversion:
        description: The revenue per conversion for all conversions
        type:
          - "null"
          - number
      Revenue:
        description: The total revenue generated by the ad
        type:
          - "null"
          - number
      RevenuePerConversion:
        description: The revenue per specific conversion
        type:
          - "null"
          - number
      RevenuePerAssist:
        description: The revenue per assist (indirect conversion)
        type:
          - "null"
          - number
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 2
  max_concurrency: 10
