version: 6.7.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  authenticator:
    type: OAuthAuthenticator
    refresh_request_body:
      environment: "production"
      oauth_scope: "msads.manage"
      scope: "https://ads.microsoft.com/msads.manage offline_access"
      tenant: "{{ config['tenant_id'] }}"
    token_refresh_endpoint: 'https://login.microsoftonline.com/{{ config["tenant_id"] }}/oauth2/v2.0/token'
    grant_type: refresh_token
    client_id: '{{ config["client_id"] }}'
    client_secret: '{{ config["client_secret"] }}'
    refresh_token: '{{ config["refresh_token"] }}'
  users_stream:
    type: DeclarativeStream
    name: users
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema: # this does not matter as we don't expose the stream as public
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties: {}
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/User/Query
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_data: '{"UserId": null}'
        authenticator: "#/definitions/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["User"]
        schema_normalization: Default

  accounts_stream:
    type: DeclarativeStream
    name: accounts
    primary_key: Id
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_bing_ads/schemas/accounts.json"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/Accounts/Search
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_json:
          PageInfo:
            Index: "{{ next_page_token.next_page_token }}"
            Size: 1000
          Predicates:
            - Field: UserId
              Operator: Equals
              Value: "'{{ stream_partition['user_id'] }}'"
          ReturnAdditionalFields: TaxCertificate,AccountMode
        authenticator: "#/definitions/authenticator"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          inject_on_first_request: true
          page_size: 1000
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: Id
            partition_field: user_id
            stream:
              $ref: "#/definitions/users_stream"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["Accounts"]
        schema_normalization: Default
    transformations:
      - type: AddFields
        fields:
          - path:
              - _airbyte_parent_id # used for campaigns_stream
            value: "{{ { 'account_id': record['Id'], 'customer_id': record['ParentCustomerId'] } }}"

  campaigns_stream:
    type: DeclarativeStream
    name: campaigns
    primary_key: Id
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_bing_ads/schemas/campaigns.json"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://campaign.api.bingads.microsoft.com/CampaignManagement/v13/Campaigns/QueryByAccountId
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
          CustomerId: "'{{ stream_partition['customer_id'] }}'"
          CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
        request_body_json:
          AccountId: "'{{ stream_partition['account_id'] }}'"
          CampaignType: Audience,DynamicSearchAds,Search,Shopping,PerformanceMax
          ReturnAdditionalFields: AdScheduleUseSearcherTimeZone,BidStrategyId,CpvCpmBiddingScheme,DynamicDescriptionSetting,DynamicFeedSetting,MaxConversionValueBiddingScheme,MultimediaAdsBidAdjustment,TargetImpressionShareBiddingScheme,TargetSetting,VerifiedTrackingSetting
        authenticator: "#/definitions/authenticator"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: Id
            partition_field: account_id
            stream:
              $ref: "#/definitions/accounts_stream"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["Campaigns"]
        schema_normalization: Default
    transformations: # FIXME missing transformations for Settings and Languages
      - type: AddFields
        fields:
          - path:
              - AccountId
            value: "{{ stream_slice.account_id }}"
      - type: AddFields
        fields:
          - path:
              - CustomerId
            value: "{{ stream_slice.customer_id }}"

streams:
  - $ref: "#/definitions/users_stream"
  - $ref: "#/definitions/accounts_stream"
  - $ref: "#/definitions/campaigns_stream"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 2
  max_concurrency: 10
