version: 6.7.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  authenticator:
    type: OAuthAuthenticator
    refresh_request_body:
      environment: "production"
      oauth_scope: "msads.manage"
      scope: "https://ads.microsoft.com/msads.manage offline_access"
      tenant: "{{ config['tenant_id'] }}"
    token_refresh_endpoint:
      'https://login.microsoftonline.com/{{ config["tenant_id"]
      }}/oauth2/v2.0/token'
    grant_type: refresh_token
    client_id: '{{ config["client_id"] }}'
    client_secret: '{{ config["client_secret"] }}'
    refresh_token: '{{ config["refresh_token"] }}'
  users_stream:
    type: DeclarativeStream
    name: users
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema: # this does not matter as we don't expose the stream as public
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties: {}
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/User/Query
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_data: '{"UserId": null}'
        authenticator: "#/definitions/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["User"]
        schema_normalization: Default
  accounts_stream:
    type: DeclarativeStream
    name: accounts
    primary_key: Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/accounts"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://clientcenter.api.bingads.microsoft.com/CustomerManagement/v13/Accounts/Search
        http_method: POST
        request_headers:
          Content-Type: application/json
          DeveloperToken: "{{ config['developer_token'] }}"
        request_body_json:
          PageInfo:
            Index: "{{ next_page_token.next_page_token }}"
            Size: 1000
          Predicates: |
            {% if "account_names" in config and config["account_names"] | length %}
            [
              {
                "Field": "UserId",
                "Operator": "Equals",
                "Value": "{{ stream_partition['user_id'] }}"
              },
              {
                "Field": "AccountName",
                "Operator": "{{ stream_partition.account_name['operator'] }}",
                "Value": "{{ stream_partition.account_name['name'] }}"
              }
            ]
            {% else %}
            [
              {
                "Field": "UserId",
                "Operator": "Equals",
                "Value": "{{ stream_partition['user_id'] }}"
              }
            ]
            {% endif %}
          ReturnAdditionalFields: "TaxCertificate,AccountMode"
        authenticator: "#/definitions/authenticator"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          inject_on_first_request: true
          page_size: 1000
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: Id
              partition_field: user_id
              stream:
                $ref: "#/definitions/users_stream"
        - type: ListPartitionRouter
          values: "{{ config['account_names'] if 'account_names' in config and config['account_names'] | length else [''] }}"
          cursor_field: account_name
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["Accounts"]
        schema_normalization: Default
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - LinkedAgencies
            value: |
              {% set linked_agencies = [] %}
              {% for agency in (record.get('LinkedAgencies') or []) %}
              {% set _ = linked_agencies.append({ "Id": agency.Id|int, "Name": agency.Name }) %}
              {% endfor %}
              {{ linked_agencies }}
          - type: AddedFieldDefinition
            path:
              - LinkedAgencies
            value: '{{ { "CustomerInfo": record.LinkedAgencies } }}'
          - type: AddedFieldDefinition
            path:
              - LastModifiedTime
            value: '{{ format_datetime(record.LastModifiedTime, "%Y-%m-%dT%H:%M:%S.%f" ) }}'
          # Schema parses Id as integer, we use this parsing for the state as historically value has been saved as string
          - type: AddedFieldDefinition # useful when used as a parent stream
            path:
              - parsed_account_id
            value: "{{ record.Id | string }}"
            value_type: string
  ad_performance_report_hourly_stream:
    type: DeclarativeStream
    name: ad_performance_report_hourly
    primary_key:
      [
        "AccountId",
        "CampaignId",
        "AdGroupId",
        "AdId",
        "TimePeriod",
        "CurrencyCode",
        "AdDistribution",
        "DeviceType",
        "Language",
        "Network",
        "DeviceOS",
        "TopVsOther",
        "BidMatchType",
        "DeliveredMatchType",
      ]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_performance_report_hourly"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AdPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AdPerformanceReportRequest
            Aggregation: Hourly
            Columns:
              - AccountId
              - CampaignId
              - AdGroupId
              - AdId
              - TimePeriod
              - AbsoluteTopImpressionRatePercent
              - TopImpressionRatePercent
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Language
              - Network
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - DeliveredMatchType
              - AccountName
              - CampaignName
              - CampaignType
              - AdGroupName
              - Impressions
              - Clicks
              - Ctr
              - Spend
              - CostPerConversion
              - DestinationUrl
              - Assists
              - ReturnOnAdSpend
              - CostPerAssist
              - CustomParameters
              - FinalAppUrl
              - AdDescription
              - AdDescription2
              - ViewThroughConversions
              - ViewThroughConversionsQualified
              - AllCostPerConversion
              - AllReturnOnAdSpend
              - Conversions
              - ConversionRate
              - ConversionsQualified
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - AllConversions
              - AllConversionRate
              - AllRevenue
              - AllRevenuePerConversion
              - Revenue
              - RevenuePerConversion
              - RevenuePerAssist
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart: # {{ str_to_datetime(stream_interval.get('start_time')).year }}
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).day}}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).month}}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).year}}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_hourly_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - TimePeriod
            #            Bing Ads API reports with hourly aggregation provides date fields in custom format: "2023-11-04|11"
            #            Return date in RFC3339 format: "2023-11-04T11:00:00+00:00"
            value: |
              {%- set parts = record.TimePeriod.split('|') -%}
              {%- set time_period = record.TimePeriod -%}
              {%- set date_part = '' -%}
              {%- set hour_part = 0 -%}
              {%- if parts|length > 1 -%}
                {%- set date_part = parts[0] -%}
                {%- set hour_part = parts[1]|int -%}
                {%- set time_period = date_part ~ "T" ~ "%02d" % hour_part ~ ":00:00+00:00" -%}
              {%- endif -%}
              {{ time_period }}
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_common_transformations"
      - type: RemoveFields
        field_pointers:
          - ["TopImpressionRatePercent"]
          - ["AbsoluteTopImpressionRatePercent"]
  ad_performance_report_daily_stream:
    type: DeclarativeStream
    name: ad_performance_report_daily
    primary_key:
      [
        "AccountId",
        "CampaignId",
        "AdGroupId",
        "AdId",
        "TimePeriod",
        "CurrencyCode",
        "AdDistribution",
        "DeviceType",
        "Language",
        "Network",
        "DeviceOS",
        "TopVsOther",
        "BidMatchType",
        "DeliveredMatchType",
      ]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AdPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AdPerformanceReportRequest
            Aggregation: Daily
            Columns:
              - AccountId
              - CampaignId
              - AdGroupId
              - AdId
              - TimePeriod
              - AbsoluteTopImpressionRatePercent
              - TopImpressionRatePercent
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Language
              - Network
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - DeliveredMatchType
              - AccountName
              - CampaignName
              - CampaignType
              - AdGroupName
              - Impressions
              - Clicks
              - Ctr
              - Spend
              - CostPerConversion
              - DestinationUrl
              - Assists
              - ReturnOnAdSpend
              - CostPerAssist
              - CustomParameters
              - FinalAppUrl
              - AdDescription
              - AdDescription2
              - ViewThroughConversions
              - ViewThroughConversionsQualified
              - AllCostPerConversion
              - AllReturnOnAdSpend
              - Conversions
              - ConversionRate
              - ConversionsQualified
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - AllConversions
              - AllConversionRate
              - AllRevenue
              - AllRevenuePerConversion
              - Revenue
              - RevenuePerConversion
              - RevenuePerAssist
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart: # {{ str_to_datetime(stream_interval.get('start_time')).year }}
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).day}}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).month}}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).year}}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_transformations"
  ad_performance_report_weekly_stream:
    type: DeclarativeStream
    name: ad_performance_report_weekly
    primary_key:
      [
        "AccountId",
        "CampaignId",
        "AdGroupId",
        "AdId",
        "TimePeriod",
        "CurrencyCode",
        "AdDistribution",
        "DeviceType",
        "Language",
        "Network",
        "DeviceOS",
        "TopVsOther",
        "BidMatchType",
        "DeliveredMatchType",
      ]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AdPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AdPerformanceReportRequest
            Aggregation: Weekly
            Columns:
              - AccountId
              - CampaignId
              - AdGroupId
              - AdId
              - TimePeriod
              - AbsoluteTopImpressionRatePercent
              - TopImpressionRatePercent
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Language
              - Network
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - DeliveredMatchType
              - AccountName
              - CampaignName
              - CampaignType
              - AdGroupName
              - Impressions
              - Clicks
              - Ctr
              - Spend
              - CostPerConversion
              - DestinationUrl
              - Assists
              - ReturnOnAdSpend
              - CostPerAssist
              - CustomParameters
              - FinalAppUrl
              - AdDescription
              - AdDescription2
              - ViewThroughConversions
              - ViewThroughConversionsQualified
              - AllCostPerConversion
              - AllReturnOnAdSpend
              - Conversions
              - ConversionRate
              - ConversionsQualified
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - AllConversions
              - AllConversionRate
              - AllRevenue
              - AllRevenuePerConversion
              - Revenue
              - RevenuePerConversion
              - RevenuePerAssist
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart: # {{ str_to_datetime(stream_interval.get('start_time')).year }}
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).day}}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).month}}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year if stream_interval.get('start_time') else str_to_datetime(config.get('reports_start_date')).year}}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_transformations"
  ad_performance_report_monthly_stream:
    type: DeclarativeStream
    name: ad_performance_report_monthly
    primary_key:
      [
        "AccountId",
        "CampaignId",
        "AdGroupId",
        "AdId",
        "TimePeriod",
        "CurrencyCode",
        "AdDistribution",
        "DeviceType",
        "Language",
        "Network",
        "DeviceOS",
        "TopVsOther",
        "BidMatchType",
        "DeliveredMatchType",
      ]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_performance_report"
    retriever:
      $ref: "#/definitions/basic_async_retriever"
      creation_requester:
        $ref: "#/definitions/basic_async_retriever/creation_requester"
        request_body_json:
          ReportRequest:
            ExcludeColumnHeaders: false
            ExcludeReportFooter: true
            ExcludeReportHeader: true
            Format: Csv
            FormatVersion: "'2.0'"
            ReportName: AdPerformanceReport
            ReturnOnlyCompleteData: false
            Type: AdPerformanceReportRequest
            Aggregation: Monthly
            Columns:
              - AccountId
              - CampaignId
              - AdGroupId
              - AdId
              - TimePeriod
              - AbsoluteTopImpressionRatePercent
              - TopImpressionRatePercent
              - CurrencyCode
              - AdDistribution
              - DeviceType
              - Language
              - Network
              - DeviceOS
              - TopVsOther
              - BidMatchType
              - DeliveredMatchType
              - AccountName
              - CampaignName
              - CampaignType
              - AdGroupName
              - Impressions
              - Clicks
              - Ctr
              - Spend
              - CostPerConversion
              - DestinationUrl
              - Assists
              - ReturnOnAdSpend
              - CostPerAssist
              - CustomParameters
              - FinalAppUrl
              - AdDescription
              - AdDescription2
              - ViewThroughConversions
              - ViewThroughConversionsQualified
              - AllCostPerConversion
              - AllReturnOnAdSpend
              - Conversions
              - ConversionRate
              - ConversionsQualified
              - AverageCpc
              - AveragePosition
              - AverageCpm
              - AllConversions
              - AllConversionRate
              - AllRevenue
              - AllRevenuePerConversion
              - Revenue
              - RevenuePerConversion
              - RevenuePerAssist
            Scope:
              AccountIds:
                - "{{ stream_partition['account_id'] }}"
            Time:
              CustomDateRangeStart:
                Day: "{{ str_to_datetime(stream_interval.get('start_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('start_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('start_time')).year }}"
              CustomDateRangeEnd:
                Day: "{{ str_to_datetime(stream_interval.get('end_time')).day }}"
                Month: "{{ str_to_datetime(stream_interval.get('end_time')).month }}"
                Year: "{{ str_to_datetime(stream_interval.get('end_time')).year }}"
              # "PredefinedTime": "ValueHere"
              "ReportTimeZone": "GreenwichMeanTimeDublinEdinburghLisbonLondon"
    incremental_sync: "#/definitions/incremental_sync_report_datetime_cursor"
    state_migrations:
      - Type: LegacyToPerPartitionStateMigration
    transformations:
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_common_transformations"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/ad_performance_report_transformations"
  basic_async_retriever:
    type: AsyncRetriever
    partition_router:
      $ref: "#/definitions/account_substream_partition_router"
    status_mapping:
      failed:
        - Error
      running:
        - Pending
      completed:
        - Success
      timeout: []
    download_target_extractor:
      type: DpathExtractor
      field_path:
        - ReportRequestStatus
        - ReportDownloadUrl
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    status_extractor:
      type: DpathExtractor
      field_path:
        - ReportRequestStatus
        - Status
    polling_requester:
      type: HttpRequester
      url_base: https://reporting.api.bingads.microsoft.com/
      path: Reporting/v13/GenerateReport/Poll
      http_method: POST
      authenticator: "#/definitions/authenticator"
      request_headers:
        Content-Type: application/json
        DeveloperToken: "{{ config['developer_token'] }}"
        CustomerId: "'{{ stream_partition.extra_fields['ParentCustomerId'] }}'"
        CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
      request_body_json:
        ReportRequestId: "'{{ creation_response['ReportRequestId'] }}'"
    download_requester:
      type: HttpRequester
      url_base: "{{download_target}}"
      http_method: GET
    download_decoder:
      type: ZipfileDecoder
      decoder:
        type: CsvDecoder
        encoding: "utf-8-sig"
    creation_requester:
      type: HttpRequester
      url_base: https://reporting.api.bingads.microsoft.com/
      path: Reporting/v13/GenerateReport/Submit
      http_method: POST
      request_headers:
        Content-Type: application/json
        DeveloperToken: "{{ config['developer_token'] }}"
        CustomerId: "'{{ stream_partition.extra_fields['ParentCustomerId'] }}'"
        CustomerAccountId: "'{{ stream_partition['account_id'] }}'"
      authenticator: "#/definitions/authenticator"
  account_substream_partition_router:
    type: CustomPartitionRouter
    class_name: source_bing_ads.components.partition_routers.SubstreamPartitionRouterSliceReducer
    parent_stream_configs:
      - type: ParentStreamConfig
        # Id is the primary key of the accounts stream but an integer
        # and not a string. We need to convert it to a string to be able
        # to get the state from the previous state format transformed.
        parent_key: parsed_account_id
        partition_field: account_id
        stream: "#/definitions/accounts_stream"
        extra_fields:
          - - ParentCustomerId
  # cursors section
  incremental_sync_report_datetime_cursor:
    type: DatetimeBasedCursor
    cursor_field: TimePeriod
    cursor_datetime_formats:
      - "%Y-%m-%d"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: |
        {%- set last_year = now_utc() - duration('P1Y') -%}
        {%- set default_date = last_year.strftime('%Y-01-01') -%}
        {%- set start_date = config.get('reports_start_date', default_date) -%}
        {{ start_date }}
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ format_datetime(now_utc(), '%Y-%m-%d') }}"
      datetime_format: "%Y-%m-%d"
  incremental_sync_report_hourly_datetime_cursor:
    type: DatetimeBasedCursor
    cursor_field: TimePeriod
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S%z"
    datetime_format: "%Y-%m-%dT%H:%M:%S%z"
    start_datetime:
      type: MinMaxDatetime
      datetime: |
        {%- set last_year = now_utc() - duration('P1Y') -%}
        {%- set default_date = last_year.strftime('%Y-01-01') -%}
        {%- set start_date = config.get('reports_start_date', default_date) -%}
        {{ start_date }}
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ format_datetime(now_utc(), '%Y-%m-%d') }}"
      datetime_format: "%Y-%m-%d"
  transformations:
    # not used in hourly stream
    ad_performance_report_transformations:
      - type: AddedFieldDefinition
        path:
          - AbsoluteTopImpressionRatePercent
        value: |
          {{ record.get('AbsoluteTopImpressionRatePercent') | replace('%', '') | float if record.get('AbsoluteTopImpressionRatePercent') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - TopImpressionRatePercent
        value: |
          {{ record.get('TopImpressionRatePercent') | replace('%', '') | float if record.get('TopImpressionRatePercent') | default('') | trim else none }}
    # used in all ad performance streams
    ad_performance_report_common_transformations:
      - type: AddedFieldDefinition
        path:
          - AccountId
        value: |
          {{ record.get('AccountId') | int if record.get('AccountId') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AdGroupId
        value: |
          {{ record.get('AdGroupId') | int if record.get('AdGroupId') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AdId
        value: |
          {{ record.get('AdId') | int if record.get('AdId') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AllConversionRate
        value: |
          {{ record.get('AllConversionRate') | replace('%', '') | float if record.get('AllConversionRate') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AllConversions
        value: |
          {{ record.get('AllConversions') | int if record.get('AllConversions') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AllReturnOnAdSpend
        value: |
          {{ record.get('AllReturnOnAdSpend') | float if record.get('AllReturnOnAdSpend') | default('') | trim else none }}
        # to remove the comma, specifically found for the AllRevenue field, but adding to the other revenue fields as well.
        # ref: https://learn.microsoft.com/en-us/advertising/guides/reports?view=bingads-13#formatversion
      # format 2.0 is supposed to set things like 3,071.00 to 3071.00 but this is not always the case so im adding a "replace"
      - type: AddedFieldDefinition
        path:
          - AllRevenue
        value: |
          {{ record.get('AllRevenue') | replace(',', '') | float if record.get('AllRevenue') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - Assists
        value: |
          {{ record.get('Assists') | int if record.get('Assists') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AverageCpc
        value: |
          {{ record.get('AverageCpc') | float if record.get('AverageCpc') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AverageCpm
        value: |
          {{ record.get('AverageCpm') | float if record.get('AverageCpm') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AveragePosition
        value: |
          {{ record.get('AveragePosition') | float if record.get('AveragePosition') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - CampaignId
        value: |
          {{ record.get('CampaignId') | int if record.get('CampaignId') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - Clicks
        value: |
          {{ record.get('Clicks') | int if record.get('Clicks') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - ConversionRate
        value: |
          {{ record.get('ConversionRate') | replace('%', '') | float if record.get('ConversionRate') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - Conversions
        value: |
          {{ record.get('Conversions') | float if record.get('Conversions') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - ConversionsQualified
        value: |
          {{ record.get('ConversionsQualified') | float if record.get('ConversionsQualified') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - Ctr
        value: |
          {{ record.get('Ctr') | replace('%', '') | float if record.get('Ctr') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - Impressions
        value: |
          {{ record.get('Impressions') | int if record.get('Impressions') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - ReturnOnAdSpend
        value: |
          {{ record.get('ReturnOnAdSpend') | float if record.get('ReturnOnAdSpend') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - Revenue
        value: |
          {{ record.get('Revenue') | replace(',', '') | float if record.get('Revenue') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - Spend
        value: |
          {{ record.get('Spend') | float if record.get('Spend') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - ViewThroughConversions
        value: |
          {{ record.get('ViewThroughConversions') | int if record.get('ViewThroughConversions') | default('') | trim else none }}

      - type: AddedFieldDefinition
        path:
          - AllCostPerConversion
        value: |
          {{ record.get('AllCostPerConversion') | float if record.get('AllCostPerConversion') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - AllRevenuePerConversion
        value: |
          {{ record.get('AllRevenuePerConversion') | replace(',', '') | float if record.get('AllRevenuePerConversion') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - CostPerAssist
        value: |
          {{ record.get('CostPerAssist') | float if record.get('CostPerAssist') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - CostPerConversion
        value: |
          {{ record.get('CostPerConversion') | float if record.get('CostPerConversion') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - RevenuePerAssist
        value: |
          {{ record.get('RevenuePerAssist') | replace(',', '') | float if record.get('RevenuePerAssist') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - RevenuePerConversion
        value: |
          {{ record.get('RevenuePerConversion') | replace(',', '') | float if record.get('RevenuePerConversion') | default('') | trim else none }}
      - type: AddedFieldDefinition
        path:
          - ViewThroughConversionsQualified
        value: |
          {{ record.get('ViewThroughConversionsQualified') | float if record.get('ViewThroughConversionsQualified') | default('') | trim else none }}
streams:
  - $ref: "#/definitions/accounts_stream"
  - $ref: "#/definitions/ad_performance_report_hourly_stream"
  - $ref: "#/definitions/ad_performance_report_daily_stream"
  - $ref: "#/definitions/ad_performance_report_weekly_stream"
  - $ref: "#/definitions/ad_performance_report_monthly_stream"
schemas:
  accounts:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    properties:
      Id:
        description: ID of the account
        type:
          - "null"
          - integer
      AccountFinancialStatus:
        description: The financial status of the account
        type:
          - "null"
          - string
      AccountLifeCycleStatus:
        description: The life cycle status of the account
        type:
          - "null"
          - string
      AutoTagType:
        description: The type of auto-tagging
        type:
          - "null"
          - string
      AccountMode:
        description: The mode of the account
        type:
          - "null"
          - string
      ForwardCompatibilityMap:
        description: Map for forward compatibility
        type:
          - "null"
          - string
      PaymentMethodType:
        description: Type of the payment method
        type:
          - "null"
          - string
      Language:
        description: The language used in the account
        type:
          - "null"
          - string
      LinkedAgencies:
        description: The agencies linked to the account for management purposes.
        type:
          - "null"
          - object
        properties:
          Id:
            description: ID of the linked agency
            type:
              - "null"
              - integer
          Name:
            description: Name of the linked agency
            type:
              - "null"
              - string
      TaxInformation:
        description: Tax information of the account
        type:
          - "null"
          - string
      CurrencyCode:
        description: The currency code used by the account
        type:
          - "null"
          - string
      TimeZone:
        description: The time zone of the account
        type:
          - "null"
          - string
      BusinessAddress:
        description: The business address associated with the account.
        type:
          - "null"
          - object
        properties:
          City:
            description: The city of the business address
            type:
              - "null"
              - string
          CountryCode:
            description: The country code of the business address
            type:
              - "null"
              - string
          Id:
            description: ID of the business address
            type:
              - "null"
              - integer
          Line1:
            description: Address line 1
            type:
              - "null"
              - string
          Line2:
            description: Address line 2
            type:
              - "null"
              - string
          Line3:
            description: Address line 3
            type:
              - "null"
              - string
          Line4:
            description: Address line 4
            type:
              - "null"
              - string
          PostalCode:
            description: The postal code of the business address
            type:
              - "null"
              - string
          StateOrProvince:
            description: The state or province of the business address
            type:
              - "null"
              - string
          TimeStamp:
            description: Timestamp of the business address
            type:
              - "null"
              - string
          BusinessName:
            description: The business name
            type:
              - "null"
              - string
      BackUpPaymentInstrumentId:
        description: ID of the backup payment instrument
        type:
          - "null"
          - integer
      BillingThresholdAmount:
        description: The threshold amount for billing
        type:
          - "null"
          - number
      BillToCustomerId:
        description: Customer ID for billing
        type:
          - "null"
          - integer
      LastModifiedByUserId:
        description: ID of the user who last modified the account
        type:
          - "null"
          - integer
      LastModifiedTime:
        description: The date and time of the last modification
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      Name:
        description: The name of the account
        type:
          - "null"
          - string
      Number:
        description: The account number
        type:
          - "null"
          - string
      ParentCustomerId:
        description: ID of the parent customer
        type:
          - "null"
          - integer
      PauseReason:
        description: Reason for pausing the account
        type:
          - "null"
          - integer
      PaymentMethodId:
        description: ID of the payment method
        type:
          - "null"
          - integer
      PrimaryUserId:
        description: ID of the primary user
        type:
          - "null"
          - integer
      SalesHouseCustomerId:
        description: Customer ID for sales house
        type:
          - "null"
          - integer
      SoldToPaymentInstrumentId:
        description: ID of the payment instrument for sales
        type:
          - "null"
          - integer
      TimeStamp:
        description: Timestamp of the account
        type:
          - "null"
          - string
      TaxCertificate:
        type:
          - "null"
          - object
        properties:
          TaxCertificateBlobContainerName:
            type:
              - "null"
              - string
          Status:
            type:
              - "null"
              - string
            enum:
              - Invalid
              - Pending
              - Valid
          TaxCertificates:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                key:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - string
  ad_performance_report:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    properties:
      AccountId:
        description: The unique ID of the account to which the ad belongs
        type:
          - "null"
          - integer
      CampaignId:
        description: The unique ID of the campaign to which the ad belongs
        type:
          - "null"
          - integer
      AdGroupId:
        description: The ID of the ad group to which the ad belongs
        type:
          - "null"
          - integer
      AdId:
        description: The unique ID of the ad
        type:
          - "null"
          - integer
      TimePeriod:
        description: The time period for the report data
        type:
          - "null"
          - string
        format: date
      AbsoluteTopImpressionRatePercent:
        description: The percentage of times your ad is shown in the absolute
          top location
        type:
          - "null"
          - number
      TopImpressionRatePercent:
        description: The percentage of times your ad is shown either at the top
          or absolute top location
        type:
          - "null"
          - number
      CurrencyCode:
        description: The currency code used for monetary values
        type:
          - "null"
          - string
      AdDistribution:
        description: The distribution network where the ad was shown
        type:
          - "null"
          - string
      DeviceType:
        description:
          The type of device where the ad was displayed (Desktop, Mobile,
          Tablet)
        type:
          - "null"
          - string
      Language:
        description: The language targeting of the ad
        type:
          - "null"
          - string
      Network:
        description: The network where the ad was displayed (Bing, Syndicated
          search partners)
        type:
          - "null"
          - string
      DeviceOS:
        description: The operating system of the device where the ad was displayed
        type:
          - "null"
          - string
      TopVsOther:
        description: The comparison between showing at the top or other positions
        type:
          - "null"
          - string
      BidMatchType:
        description: The match type of the keyword that triggered the ad
        type:
          - "null"
          - string
      DeliveredMatchType:
        description: The match type of the keyword that was matched to deliver
          the ad
        type:
          - "null"
          - string
      AccountName:
        description: The name of the account to which the ad belongs
        type:
          - "null"
          - string
      CampaignName:
        description: The name of the campaign to which the ad belongs
        type:
          - "null"
          - string
      CampaignType:
        description: The type of campaign (Search, Display, etc.)
        type:
          - "null"
          - string
      AdGroupName:
        description: The name of the ad group to which the ad belongs
        type:
          - "null"
          - string
      Impressions:
        description: The total number of times the ad was shown
        type:
          - "null"
          - integer
      Clicks:
        description: The total number of clicks on the ad
        type:
          - "null"
          - integer
      Ctr:
        description: The click-through rate
        type:
          - "null"
          - number
      Spend:
        description: The total cost spent on the ad
        type:
          - "null"
          - number
      CostPerConversion:
        description: The cost per conversion
        type:
          - "null"
          - number
      DestinationUrl:
        description: The URL where the user is directed when clicking the ad
        type:
          - "null"
          - string
      Assists:
        description: The number of assist conversions generated
        type:
          - "null"
          - integer
      ReturnOnAdSpend:
        description: The return on ad spend
        type:
          - "null"
          - number
      CostPerAssist:
        description: The cost per assist conversion
        type:
          - "null"
          - number
      CustomParameters:
        description: Custom parameters passed in the ad URL
        type:
          - "null"
          - string
      FinalAppUrl:
        description: The final URL for specific apps in the ad
        type:
          - "null"
          - string
      AdDescription:
        description: The description text of the ad
        type:
          - "null"
          - string
      AdDescription2:
        description: The second description line of the ad
        type:
          - "null"
          - string
      ViewThroughConversions:
        description: The total number of view-through conversions
        type:
          - "null"
          - integer
      ViewThroughConversionsQualified:
        description: The total number of qualified view-through conversions
        type:
          - "null"
          - number
      AllCostPerConversion:
        description: The cost per conversion for all conversion actions
        type:
          - "null"
          - number
      AllReturnOnAdSpend:
        description: The return on ad spend for all conversion actions
        type:
          - "null"
          - number
      Conversions:
        description: The total number of conversions
        type:
          - "null"
          - number
      ConversionRate:
        description: The conversion rate
        type:
          - "null"
          - number
      ConversionsQualified:
        description: The total number of qualified conversions
        type:
          - "null"
          - number
      AverageCpc:
        description: The average cost per click
        type:
          - "null"
          - number
      AveragePosition:
        description: The average position in which the ad appeared
        type:
          - "null"
          - number
      AverageCpm:
        description: The average cost per thousand impressions
        type:
          - "null"
          - number
      AllConversions:
        description: The total number of all conversion actions
        type:
          - "null"
          - integer
      AllConversionRate:
        description: The conversion rate for all conversion actions
        type:
          - "null"
          - number
      AllRevenue:
        description: The total revenue generated from all conversion actions
        type:
          - "null"
          - number
      AllRevenuePerConversion:
        description: The average revenue per conversion for all conversion actions
        type:
          - "null"
          - number
      Revenue:
        description: The total revenue generated by the ad
        type:
          - "null"
          - number
      RevenuePerConversion:
        description: The revenue per conversion
        type:
          - "null"
          - number
      RevenuePerAssist:
        description: The revenue per assist conversion
        type:
          - "null"
          - number
  ad_performance_report_hourly:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    properties:
      AccountId:
        description: The unique identifier for the account to which the ad belongs
        type:
          - "null"
          - integer
      CampaignId:
        description: The unique identifier for the campaign to which the ad belongs
        type:
          - "null"
          - integer
      AdGroupId:
        description: The unique identifier for the ad group to which the ad belongs
        type:
          - "null"
          - integer
      AdId:
        description: The unique identifier for the ad
        type:
          - "null"
          - integer
      TimePeriod:
        description: The time period to which the data corresponds
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      CurrencyCode:
        description: The currency code used for monetary values
        type:
          - "null"
          - string
      AdDistribution:
        description: The distribution channel for the ad (e.g., Search, Audience
          Network)
        type:
          - "null"
          - string
      DeviceType:
        description:
          The type of device on which the ad was displayed (e.g., Desktop,
          Mobile)
        type:
          - "null"
          - string
      Language:
        description: The language targeting of the ad
        type:
          - "null"
          - string
      Network:
        description: The network where the ad was displayed (e.g., Bing, AOL)
        type:
          - "null"
          - string
      DeviceOS:
        description: The operating system of the device on which the ad was displayed
        type:
          - "null"
          - string
      TopVsOther:
        description: The performance comparison of top positions vs. other positions
        type:
          - "null"
          - string
      BidMatchType:
        description: The type of keyword match (e.g., Broad, Phrase, Exact) for
          the bid
        type:
          - "null"
          - string
      DeliveredMatchType:
        description: The type of keyword match for which the ad has been delivered
        type:
          - "null"
          - string
      AccountName:
        description: The name of the account to which the ad belongs
        type:
          - "null"
          - string
      CampaignName:
        description: The name of the campaign to which the ad belongs
        type:
          - "null"
          - string
      CampaignType:
        description: The type of the campaign (e.g., Search, Audience Network)
        type:
          - "null"
          - string
      AdGroupName:
        description: The name of the ad group to which the ad belongs
        type:
          - "null"
          - string
      Impressions:
        description: The total number of times the ad was shown
        type:
          - "null"
          - integer
      Clicks:
        description: The total number of clicks on the ad
        type:
          - "null"
          - integer
      Ctr:
        description: The click-through rate
        type:
          - "null"
          - number
      Spend:
        description: The total amount spent on the ad campaign
        type:
          - "null"
          - number
      CostPerConversion:
        description: The cost per specific conversion
        type:
          - "null"
          - number
      DestinationUrl:
        description: The destination URL of the ad
        type:
          - "null"
          - string
      Assists:
        description: The number of assists (when an ad indirectly results in a
          conversion)
        type:
          - "null"
          - integer
      ReturnOnAdSpend:
        description: The return on ad spend for specific conversions
        type:
          - "null"
          - number
      CostPerAssist:
        description: The cost per assist (indirect conversion)
        type:
          - "null"
          - number
      CustomParameters:
        description: Any custom parameters set for the ad
        type:
          - "null"
          - string
      FinalAppUrl:
        description: The final URL shown in the ad for app installations
        type:
          - "null"
          - string
      AdDescription:
        description: The text of the first description line in the ad
        type:
          - "null"
          - string
      AdDescription2:
        description: The text of the second description line in the ad
        type:
          - "null"
          - string
      ViewThroughConversions:
        description: The total number of view-through conversions
        type:
          - "null"
          - integer
      ViewThroughConversionsQualified:
        description: The number of qualified view-through conversions
        type:
          - "null"
          - number
      AllCostPerConversion:
        description: The cost per conversion for all conversions
        type:
          - "null"
          - number
      AllReturnOnAdSpend:
        description: The return on ad spend for all conversions
        type:
          - "null"
          - number
      Conversions:
        description: The total number of specific conversions
        type:
          - "null"
          - number
      ConversionRate:
        description: The conversion rate for specific conversions
        type:
          - "null"
          - number
      ConversionsQualified:
        description: The number of qualified conversions
        type:
          - "null"
          - number
      AverageCpc:
        description: The average cost per click
        type:
          - "null"
          - number
      AveragePosition:
        description: The average position of the ad on the search results page
        type:
          - "null"
          - number
      AverageCpm:
        description: The average cost per 1,000 impressions
        type:
          - "null"
          - number
      AllConversions:
        description: The total number of all conversions
        type:
          - "null"
          - integer
      AllConversionRate:
        description: The conversion rate for all conversions
        type:
          - "null"
          - number
      AllRevenue:
        description: The total revenue from all conversions
        type:
          - "null"
          - number
      AllRevenuePerConversion:
        description: The revenue per conversion for all conversions
        type:
          - "null"
          - number
      Revenue:
        description: The total revenue generated by the ad
        type:
          - "null"
          - number
      RevenuePerConversion:
        description: The revenue per specific conversion
        type:
          - "null"
          - number
      RevenuePerAssist:
        description: The revenue per assist (indirect conversion)
        type:
          - "null"
          - number
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 2
  max_concurrency: 10
