@use "../../../../scss/variables";

.tryArrow {
  margin: 0 variables.$spacing-md -1px 0;

  // used to control svg size
  font-size: 14px;
}

.content {
  max-width: 1279px;
  margin: 0 auto;
  padding-bottom: variables.$spacing-md;
}
