.content {
  max-width: 1073px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.customCard {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
