@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  align-items: center;
  gap: variables.$spacing-md;
}

.label {
  min-width: 60px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: colors.$grey-300;
  display: inline-block;
  text-align: left;

  &:not(.disabled) {
    cursor: pointer;
  }
}
