version: 0.65.0
type: DeclarativeSource

definitions:
  oauth_authenticator:
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    refresh_request_body: {}
    token_refresh_endpoint: "{{ 'https://sandbox-lever.auth0.com/oauth/token' if config[ 'environment' ] == 'Sandbox' else 'https://auth.lever.co/oauth/token' }}"
    grant_type: refresh_token

  basic_authenticator:
    type: BasicHttpAuthenticator
    username: "{{ config['credentials']['api_key'] }}"
    password: ""

  selective_authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "auth_type"]
    authenticators:
      Client: "#/definitions/oauth_authenticator"
      Api Key: "#/definitions/basic_authenticator"

  record_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data

  requester:
    type: HttpRequester
    url_base: >-
      {{ "https://api.sandbox.lever.co/v1" if config['environment'] ==
      "Sandbox" else "https://api.lever.co/v1" }}
    http_method: GET
    request_headers: {}
    request_body_json: {}
    authenticator:
      $ref: "#/definitions/selective_authenticator"

  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      inject_into: request_parameter
      field_name: limit
      type: RequestOption
    pagination_strategy:
      type: CursorPagination
      page_size: 50
      cursor_value: "{{ response['next'] }}"
      stop_condition: "{{ response['hasNext'] is false }}"

  opportunities_stream:
    type: DeclarativeStream
    $parameters:
      name: "opportunities"
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: "#/definitions/record_selector"
      requester:
        $ref: "#/definitions/requester"
        path: /opportunities
      paginator:
        $ref: "#/definitions/paginator"
      partition_router: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          contact:
            type:
              - "null"
              - string
          headline:
            type:
              - "null"
              - string
          stage:
            type:
              - "null"
              - string
          confidentiality:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - string
          phones:
            type:
              - "null"
              - array
            items:
              type: object
          emails:
            type:
              - "null"
              - array
            items:
              type: string
          links:
            type:
              - "null"
              - array
            items:
              type: string
          archived:
            type:
              - "null"
              - object
          tags:
            type:
              - "null"
              - array
            items:
              type: string
          sources:
            type:
              - "null"
              - array
            items:
              type: string
          stageChanges:
            type:
              - "null"
              - array
            items:
              type: object
          origin:
            type:
              - "null"
              - string
          sourcedBy:
            type:
              - "null"
              - string
          owner:
            type:
              - "null"
              - string
          followers:
            type:
              - "null"
              - array
            items:
              type: string
          applications:
            type:
              - "null"
              - array
            items:
              type: string
          createdAt:
            type:
              - "null"
              - integer
          updatedAt:
            type:
              - "null"
              - integer
          lastInteractionAt:
            type:
              - "null"
              - integer
          lastAdvancedAt:
            type:
              - "null"
              - integer
          snoozedUntil:
            type:
              - "null"
              - integer
          urls:
            type:
              - "null"
              - object
          resume:
            type:
              - "null"
              - string
          dataProtection:
            type:
              - "null"
              - object
          isAnonymized:
            type:
              - "null"
              - boolean
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      cursor_datetime_formats:
        - "%ms"
      datetime_format: "%ms"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_at_start
        inject_into: request_parameter
      end_time_option:
        inject_into: request_parameter
        type: RequestOption
        field_name: updated_at_end
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P30D
      cursor_granularity: PT0.000001S

check:
  type: CheckStream
  stream_names:
    - users

streams:
  - name: opportunities
    $ref: "#/definitions/opportunities_stream"

  - type: DeclarativeStream
    name: users
    $parameters:
      name: "users"
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: "#/definitions/record_selector"
      requester:
        $ref: "#/definitions/requester"
        path: /users
        http_method: GET
        request_parameters:
          includeDeactivated: "{{ True }}"
      paginator:
        $ref: "#/definitions/paginator"
      partition_router: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          username:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          accessRole:
            type:
              - "null"
              - string
          photo:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - integer
          deactivatedAt:
            type:
              - "null"
              - integer
          externalDirectoryId:
            type:
              - "null"
              - string
          linkedContactIds:
            type:
              - "null"
              - array
            items:
              type: string
          jobTitle:
            type:
              - "null"
              - string
          managerId:
            type:
              - "null"
              - string

  - type: DeclarativeStream
    name: applications
    $parameters:
      name: "applications"
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: "#/definitions/record_selector"
      requester:
        $ref: "#/definitions/requester"
        path: /opportunities/{{ stream_partition['parent_id'] }}/applications
        http_method: GET
        request_parameters: {}
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                name: opportunities
                $ref: "#/definitions/opportunities_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
          candidateId:
            type:
              - "null"
              - string
          opportunityId:
            type:
              - "null"
              - string
          posting:
            type:
              - "null"
              - string
          postingHiringManager:
            type:
              - "null"
              - string
          postingOwner:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          company:
            type:
              - "null"
              - string
          phone:
            type:
              - "null"
              - object
          email:
            type:
              - "null"
              - string
          links:
            type:
              - "null"
              - array
            items:
              type: string
          comments:
            type:
              - "null"
              - string
          user:
            type:
              - "null"
              - string
          customQuestions:
            type:
              - "null"
              - array
            items:
              type: object
          createdAt:
            type:
              - "null"
              - integer
          archived:
            type:
              - "null"
              - object
          requisitionForHire:
            type:
              - "null"
              - object

  - type: DeclarativeStream
    name: interviews
    $parameters:
      name: "interviews"
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: "#/definitions/record_selector"
      requester:
        $ref: "#/definitions/requester"
        path: /opportunities/{{ stream_partition['parent_id'] }}/interviews
        http_method: GET
        request_parameters: {}
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                name: opportunities
                $ref: "#/definitions/opportunities_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
          panel:
            type:
              - "null"
              - string
          subject:
            type:
              - "null"
              - string
          note:
            type:
              - "null"
              - string
          interviewers:
            type:
              - "null"
              - array
            items:
              type: object
          timezone:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - integer
          date:
            type:
              - "null"
              - integer
          duration:
            type:
              - "null"
              - integer
          location:
            type:
              - "null"
              - string
          feedbackTemplate:
            type:
              - "null"
              - string
          feedbackForms:
            type:
              - "null"
              - array
            items:
              type: string
          feedbackReminder:
            type:
              - "null"
              - string
          user:
            type:
              - "null"
              - string
          stage:
            type:
              - "null"
              - string
          canceledAt:
            type:
              - "null"
              - integer
          postings:
            type:
              - "null"
              - array
            items:
              type: string
          gcalEventUrl:
            type:
              - "null"
              - string

  - type: DeclarativeStream
    name: notes
    $parameters:
      name: "notes"
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: "#/definitions/record_selector"
      requester:
        $ref: "#/definitions/requester"
        path: /opportunities/{{ stream_partition['parent_id'] }}/notes
        http_method: GET
        request_parameters: {}
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                name: opportunities
                $ref: "#/definitions/opportunities_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
          text:
            type:
              - "null"
              - string
          fields:
            type:
              - "null"
              - array
            items:
              type: object
          user:
            type:
              - "null"
              - string
          secret:
            type:
              - "null"
              - boolean
          completedAt:
            type:
              - "null"
              - integer
          deletedAt:
            type:
              - "null"
              - integer
          createdAt:
            type:
              - "null"
              - integer

  - type: DeclarativeStream
    name: offers
    $parameters:
      name: "offers"
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: "#/definitions/record_selector"
      requester:
        $ref: "#/definitions/requester"
        path: /opportunities/{{ stream_partition['parent_id'] }}/offers
        http_method: GET
        request_parameters: {}
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                name: opportunities
                $ref: "#/definitions/opportunities_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
          posting:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - integer
          status:
            type:
              - "null"
              - string
          creator:
            type:
              - "null"
              - string
          fields:
            type:
              - "null"
              - array
            items:
              type: object
          signatures:
            type:
              - "null"
              - object
          approved:
            type:
              - "null"
              - string
          approvedAt:
            type:
              - "null"
              - integer
          sentAt:
            type:
              - "null"
              - integer
          sentDocument:
            type:
              - "null"
              - object
          signedDocument:
            type:
              - "null"
              - object

  - type: DeclarativeStream
    name: referrals
    $parameters:
      name: "referrals"
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: "#/definitions/record_selector"
      requester:
        $ref: "#/definitions/requester"
        path: /opportunities/{{ stream_partition['parent_id'] }}/referrals
        http_method: GET
        request_parameters: {}
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: "{{ response['next'] }}"
          stop_condition: "{{ response['hasNext'] is false }}"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                name: opportunities
                $ref: "#/definitions/opportunities_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
          text:
            type:
              - "null"
              - string
          instructions:
            type:
              - "null"
              - string
          fields:
            type:
              - "null"
              - array
            items:
              type: object
          baseTemplateId:
            type:
              - "null"
              - string
          user:
            type:
              - "null"
              - string
          referrer:
            type:
              - "null"
              - string
          stage:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - integer
          completedAt:
            type:
              - "null"
              - integer

spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/lever-hiring
  changelog_url: https://docs.airbyte.com/integrations/sources/lever-hiring#changelog
  connection_specification:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Lever Hiring Source Spec
    type: object
    required:
      - start_date
    additionalProperties: true
    properties:
      credentials:
        order: 3
        title: Authentication Mechanism
        description: Choose how to authenticate to Lever Hiring.
        type: object
        oneOf:
          - type: object
            title: Authenticate via Lever (OAuth)
            required:
              - refresh_token
            properties:
              auth_type:
                type: string
                const: Client
                order: 0
              client_id:
                title: Client ID
                type: string
                description: The Client ID of your Lever Hiring developer application.
              client_secret:
                title: Client Secret
                type: string
                description: The Client Secret of your Lever Hiring developer application.
                airbyte_secret: true
              refresh_token:
                type: string
                title: Refresh Token
                description: The token for obtaining new access token.
                airbyte_secret: true
          - type: object
            title: Authenticate via Lever (Api Key)
            required:
              - api_key
            properties:
              auth_type:
                type: string
                const: Api Key
                order: 0
              api_key:
                title: Api key
                type: string
                description: The Api Key of your Lever Hiring account.
                airbyte_secret: true
                order: 1
      start_date:
        order: 0
        type: string
        title: Start Date
        description:
          "UTC date and time in the format 2017-01-25T00:00:00Z. Any data
          before this date will not be replicated. Note that it will be used only in
          the following incremental streams: comments, commits, and issues."
        examples:
          - "2021-03-01T00:00:00Z"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
      environment:
        order: 1
        type: string
        title: Environment
        description:
          The environment in which you'd like to replicate data for Lever.
          This is used to determine which Lever API endpoint to use.
        default: Sandbox
        enum:
          - Production
          - Sandbox
  authSpecification:
    auth_type: oauth2.0
    oauth2Specification:
      rootObject:
        - credentials
        - 0
      oauthFlowInitParameters:
        - - client_id
        - - client_secret
      oauthFlowOutputParameters:
        - - refresh_token
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: Client
    oauth_config_specification:
      oauth_user_input_from_connector_config_specification:
        type: object
        properties:
          environment:
            type: string
            path_in_connector_config:
              - environment
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
  type: Spec
metadata:
  autoImportSchema:
    opportunities: false
    users: false
    applications: false
    interviews: false
    notes: false
    offers: false
    referrals: false
