version: 5.12.0

type: DeclarativeSource

description: >-
  AdRoll is an ecommerce marketing platform that gives growing D2C brands the
  power to connect with customers wherever they are.

  This connector allows you to extract data from various AdRoll APIs such as
  Advertisables , Ads , Campaigns , Strategies and many more

  Docs : https://developers.adroll.com/apis

check:
  type: CheckStream
  stream_names:
    - Segments

definitions:
  streams:
    Segments:
      type: DeclarativeStream
      name: Segments
      primary_key:
        - segment_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /audience/v1/segments
          http_method: GET
          request_parameters:
            advertiser_id: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - segments
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Segments"
    Campaign:
      type: DeclarativeStream
      name: Campaign
      primary_key:
        - campaign_eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /activate/api/v3/campaign
          http_method: GET
          request_parameters:
            eid: "{{ stream_partition.campaign_id}}"
            advertisable_eid: "{{ stream_partition.advertisable_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - adgroups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: eid
                partition_field: campaign_id
                stream:
                  $ref: "#/definitions/streams/Campaigns"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: eid
                partition_field: advertisable_id
                stream:
                  $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Campaign"
    Strategy:
      type: DeclarativeStream
      name: Strategy
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /activate/api/v3/strategy
          http_method: GET
          request_parameters:
            eid: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Strategies"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Strategy"
    Strategies:
      type: DeclarativeStream
      name: Strategies
      primary_key:
        - eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /activate/api/v3/strategy/all
          http_method: GET
          request_parameters:
            advertisable_eid: "{{ stream_partition.parent_id }}"
            paginate: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_date\", {}) }}"
            stop_condition: "{{ not response.get(\"end_date\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Strategies"
    Advertisable:
      type: DeclarativeStream
      name: Advertisable
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/advertisable/get
          http_method: GET
          request_parameters:
            advertisable: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Advertisable"
    Active Pixels for an Advertisable:
      type: DeclarativeStream
      name: Active Pixels for an Advertisable
      primary_key:
        - eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/advertisable/get_pixel
          http_method: GET
          request_parameters:
            advertisable: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Active Pixels for an Advertisable"
    Consent Banner Config for an Advertisable:
      type: DeclarativeStream
      name: Consent Banner Config for an Advertisable
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/consent_banner/get
          http_method: GET
          request_parameters:
            advertisable: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Consent Banner Config for an Advertisable"
    Pixel:
      type: DeclarativeStream
      name: Pixel
      primary_key:
        - eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/pixel/get
          http_method: GET
          request_parameters:
            pixel: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Active Pixels for an Advertisable"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Pixel"
    Segments for a Pixel:
      type: DeclarativeStream
      name: Segments for a Pixel
      primary_key:
        - eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/pixel/get_segments
          http_method: GET
          request_parameters:
            pixel: "{{ config[\"pixel_eid\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Active Pixels for an Advertisable"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Segments for a Pixel"
    Campaigns:
      type: DeclarativeStream
      name: Campaigns
      primary_key:
        - eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reporting/api/v1/query
          http_method: POST
          request_body_json:
            query: >-
              query CampaignsForAdvertisables($advertisable: String!) {
              advertisable { byEID(advertisable: $advertisable) { name eid
              campaigns { eid name type channel status } } } }
            variables:
              advertisable: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - advertisable
              - byEID
              - campaigns
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Campaigns"
    AdGroups by Advertisables:
      type: DeclarativeStream
      name: AdGroups by Advertisables
      primary_key:
        - eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reporting/api/v1/query
          http_method: POST
          request_body_json:
            query: >-
              query AdgroupsForAdvertisables($advertisableEID: String!) {
              advertisable { byEID(advertisable: $advertisableEID) { name eid
              adgroups { eid name status createdDate updatedDate } } } }
            variables:
              advertisableEID: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - advertisable
              - byEID
              - adgroups
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/AdGroups by Advertisables"
    Ads:
      type: DeclarativeStream
      name: Ads
      primary_key:
        - eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reporting/api/v1/query
          http_method: POST
          request_body_json:
            query: >-
              query AdsForAdvertisables($advertisableEID: String!) {
              advertisable { byEID(advertisable: $advertisableEID) { name eid
              ads { eid name status type createdDate updatedDate } } } }
            variables:
              advertisableEID: "{{ stream_partition.parent_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - advertisable
              - byEID
              - ads
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Ads"
    All Ads by AdGroup:
      type: DeclarativeStream
      name: All Ads by AdGroup
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reporting/api/v1/query
          http_method: POST
          request_body_json:
            query: >-
              query GetAdsByAdgroup($adgroupEID: String!) { ad {
              byAdgroup(adgroup: $adgroupEID) { eid name status type isActive
              createdDate updatedDate adFormat destinationURL } } }
            variables:
              adgroupEID: "{{ stream_partition.adgroup_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - ad
              - byAdgroup
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: adgroup_id
              stream:
                $ref: "#/definitions/streams/AdGroups by Advertisables"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/All Ads by AdGroup"
    AdGroups by Campaigns:
      type: DeclarativeStream
      name: AdGroups by Campaigns
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reporting/api/v1/query
          http_method: POST
          request_body_json:
            query: >-
              query GetAdgroupsByCampaign($campaignEID: String!) { adgroup {
              byCampaign(campaign: $campaignEID) { eid name isActive status
              createdDate updatedDate } } }
            variables:
              campaignEID: "{{ stream_partition.campaign_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - adgroup
              - byCampaign
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: eid
              partition_field: campaign_id
              stream:
                $ref: "#/definitions/streams/Campaigns"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/AdGroups by Campaigns"
    Advertisables:
      type: DeclarativeStream
      name: Advertisables
      primary_key:
        - eid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/organization/get_advertisables_paginated
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Advertisables"
  base_requester:
    type: HttpRequester
    url_base: https://services.adroll.com
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: refresh_token
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_token: "{{ config[\"client_refresh_token\"] }}"
      refresh_request_body: {}
      refresh_token_updater:
        refresh_token_name: refresh_token
        access_token_config_path:
          - oauth_access_token
        token_expiry_date_config_path:
          - oauth_token_expiry_date
        refresh_token_config_path:
          - client_refresh_token
      token_refresh_endpoint: https://services.adroll.com/auth/token

streams:
  - $ref: "#/definitions/streams/Segments"
  - $ref: "#/definitions/streams/Campaign"
  - $ref: "#/definitions/streams/Strategy"
  - $ref: "#/definitions/streams/Strategies"
  - $ref: "#/definitions/streams/Advertisable"
  - $ref: "#/definitions/streams/Active Pixels for an Advertisable"
  - $ref: "#/definitions/streams/Consent Banner Config for an Advertisable"
  - $ref: "#/definitions/streams/Pixel"
  - $ref: "#/definitions/streams/Segments for a Pixel"
  - $ref: "#/definitions/streams/Campaigns"
  - $ref: "#/definitions/streams/AdGroups by Advertisables"
  - $ref: "#/definitions/streams/Ads"
  - $ref: "#/definitions/streams/All Ads by AdGroup"
  - $ref: "#/definitions/streams/AdGroups by Campaigns"
  - $ref: "#/definitions/streams/Advertisables"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - Authorization
      - client_id
      - client_secret
      - client_refresh_token
    properties:
      Authorization:
        type: string
        order: 0
        title: Person Access Token (Authorization)
      client_id:
        type: string
        description: The key ID of your app
        order: 1
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        description: The secret of your app
        order: 2
        title: Client secret
        airbyte_secret: true
      client_refresh_token:
        type: string
        order: 3
        title: Refresh token
        airbyte_secret: true
      oauth_access_token:
        type: string
        description: >-
          The current access token. This field might be overridden by the
          connector based on the token refresh endpoint response.
        order: 4
        title: Access token
        airbyte_secret: true
      oauth_token_expiry_date:
        type: string
        description: >-
          The date the current access token expires in. This field might be
          overridden by the connector based on the token refresh endpoint
          response.
        order: 5
        title: Token expiry date
        format: date-time
    additionalProperties: true

metadata:
  autoImportSchema:
    Segments: true
    Campaign: true
    Strategy: true
    Strategies: true
    Advertisable: true
    Active Pixels for an Advertisable: true
    Consent Banner Config for an Advertisable: true
    Pixel: true
    Segments for a Pixel: true
    Campaigns: true
    AdGroups by Advertisables: true
    Ads: true
    All Ads by AdGroup: true
    AdGroups by Campaigns: true
    Advertisables: true
  testedStreams:
    Segments:
      streamHash: 45dd8c6603633b4ec5a411c43c62292eaa5524da
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Campaign:
      hasRecords: true
      streamHash: 534cc1b7627f50c88f3c4d53676f9057fcb2c3ff
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Strategy:
      streamHash: 8982e40d9cfff0cfc4f3f23435d7b0853619185e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Strategies:
      streamHash: 1cf3d971e170d40694a3663c5415d4928bb28cbd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Advertisable:
      hasRecords: true
      streamHash: 8497a820610d0c9cac913f2d4adb15453b74f1a0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Active Pixels for an Advertisable:
      hasRecords: true
      streamHash: e25008d226f72942ba5af117e093f9c82bf4b29a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Consent Banner Config for an Advertisable:
      hasRecords: true
      streamHash: e5915e4f7fc2f9c1b8665d9a395c9543a446ca32
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Pixel:
      hasRecords: true
      streamHash: 50973f1d09fa45ae5863f4ff19c0c94f92fdbbbc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Segments for a Pixel:
      hasRecords: true
      streamHash: adb80de1851b8de4ed5d6976b0846e8aa4829275
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Campaigns:
      hasRecords: true
      streamHash: 7899e61b94ff1d71b77225a17c1fc790657d50df
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    AdGroups by Advertisables:
      streamHash: 9e44fa7de2f6489835d8ceece3ff7a116e9b3d27
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Ads:
      streamHash: 7a0a76dcbf931cd053c6925a8cd41c2428826173
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    All Ads by AdGroup:
      streamHash: 85c04de21eaeffb1fdd314f896f77e182da49027
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    AdGroups by Campaigns:
      streamHash: 118962ec3e7200f4583077a2d07d189d6235616b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Advertisables:
      hasRecords: true
      streamHash: d452e708d32a4b3458c640649761807bf165df41
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.adroll.com/apis

schemas:
  Segments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      advertiser_id:
        type:
          - string
          - "null"
      created_date:
        type:
          - number
          - "null"
      duration:
        type:
          - number
          - "null"
      is_active:
        type:
          - boolean
          - "null"
      is_conversion:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      pattern:
        type:
          - string
          - "null"
      segment_id:
        type: string
      source:
        type:
          - string
          - "null"
      tags:
        type:
          - string
          - "null"
      threshold:
        type:
          - number
          - "null"
      url_match_id:
        type:
          - string
          - "null"
    required:
      - segment_id
  Campaign:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ads:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            eid:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
      campaign_eid:
        type: string
      created_at:
        type:
          - string
          - "null"
      device_targets:
        type:
          - object
          - "null"
        properties: {}
      eid:
        type:
          - string
          - "null"
      flights:
        type:
          - array
          - "null"
      geotargets:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      segments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            eid:
              type:
                - string
                - "null"
            targeted:
              type:
                - boolean
                - "null"
      service:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - campaign_eid
  Strategy:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          advertisable_eid:
            type:
              - string
              - "null"
          budget:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              goal:
                type:
                  - number
                  - "null"
          budget_balancing_automated:
            type:
              - boolean
              - "null"
          campaigns:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                adgroups:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      ads:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            eid:
                              type:
                                - string
                                - "null"
                            status:
                              type:
                                - string
                                - "null"
                      campaign_eid:
                        type:
                          - string
                          - "null"
                      created_at:
                        type:
                          - string
                          - "null"
                      device_targets:
                        type:
                          - object
                          - "null"
                        properties: {}
                      eid:
                        type:
                          - string
                          - "null"
                      flights:
                        type:
                          - array
                          - "null"
                      geotargets:
                        type:
                          - array
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      segments:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            eid:
                              type:
                                - string
                                - "null"
                            targeted:
                              type:
                                - boolean
                                - "null"
                      service:
                        type:
                          - string
                          - "null"
                      status:
                        type:
                          - string
                          - "null"
                      updated_at:
                        type:
                          - string
                          - "null"
                created_at:
                  type:
                    - string
                    - "null"
                dayparting:
                  type:
                    - object
                    - "null"
                  properties:
                    is_automatic:
                      type:
                        - boolean
                        - "null"
                    schedule:
                      type:
                        - array
                        - "null"
                eid:
                  type:
                    - string
                    - "null"
                kpi:
                  type:
                    - object
                    - "null"
                  properties:
                    metric:
                      type:
                        - string
                        - "null"
                name:
                  type:
                    - string
                    - "null"
                service:
                  type:
                    - string
                    - "null"
                status:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                uses_external_budget:
                  type:
                    - boolean
                    - "null"
          created_at:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          eid:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          spend_floor:
            type:
              - number
              - "null"
          start_date:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      status:
        type:
          - number
          - "null"
  Strategies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      advertisable_eid:
        type:
          - string
          - "null"
      budget:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          goal:
            type:
              - number
              - "null"
      budget_balancing_automated:
        type:
          - boolean
          - "null"
      campaigns:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            adgroups:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  ads:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        eid:
                          type:
                            - string
                            - "null"
                        status:
                          type:
                            - string
                            - "null"
                  campaign_eid:
                    type:
                      - string
                      - "null"
                  created_at:
                    type:
                      - string
                      - "null"
                  eid:
                    type:
                      - string
                      - "null"
                  flights:
                    type:
                      - array
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  segments:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        eid:
                          type:
                            - string
                            - "null"
                        targeted:
                          type:
                            - boolean
                            - "null"
                  service:
                    type:
                      - string
                      - "null"
                  status:
                    type:
                      - string
                      - "null"
                  updated_at:
                    type:
                      - string
                      - "null"
            eid:
              type:
                - string
                - "null"
            key:
              type:
                - string
                - "null"
            kpi:
              type:
                - object
                - "null"
              properties:
                metric:
                  type:
                    - string
                    - "null"
            service:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
            uses_external_budget:
              type:
                - boolean
                - "null"
      created_at:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      eid:
        type: string
      name:
        type:
          - string
          - "null"
      spend_floor:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - eid
  Advertisable:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      results:
        type:
          - object
          - "null"
        properties:
          account:
            type:
              - string
              - "null"
          account_country_code:
            type:
              - string
              - "null"
          account_is_autobilled:
            type:
              - boolean
              - "null"
          account_is_prepaid:
            type:
              - boolean
              - "null"
          account_is_suspended:
            type:
              - boolean
              - "null"
          admin_page_permission:
            type:
              - boolean
              - "null"
          attached_users:
            type:
              - array
              - "null"
          blacklisted_sites:
            type:
              - array
              - "null"
          business_unit:
            type:
              - string
              - "null"
          click_through_conversion_window:
            type:
              - number
              - "null"
          company_phone:
            type:
              - string
              - "null"
          country_code:
            type:
              - string
              - "null"
          created_date:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          default_homepage:
            type:
              - string
              - "null"
          default_utm:
            type:
              - string
              - "null"
          eid:
            type:
              - string
              - "null"
          enable_customer_multi_dur_segs:
            type:
              - boolean
              - "null"
          fb_offsite_pixels_tos_accepted:
            type:
              - boolean
              - "null"
          has_approved_consent_solution:
            type:
              - boolean
              - "null"
          has_approved_safari_add_on:
            type:
              - boolean
              - "null"
          has_created_campaign:
            type:
              - boolean
              - "null"
          has_offsite_pixels:
            type:
              - boolean
              - "null"
          has_sales_and_leads_automation:
            type:
              - boolean
              - "null"
          hide_optins_page:
            type:
              - boolean
              - "null"
          homepage_enabled:
            type:
              - boolean
              - "null"
          iab1_category_id:
            type:
              - number
              - "null"
          iab1_category_name:
            type:
              - string
              - "null"
          iab_content_id:
            type:
              - number
              - "null"
          ip_address_exclusions:
            type:
              - array
              - "null"
          is_abm_customer:
            type:
              - boolean
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          is_b2b:
            type:
              - boolean
              - "null"
          is_html5_enabled:
            type:
              - boolean
              - "null"
          is_managed:
            type:
              - boolean
              - "null"
          is_salesforce_system_owned:
            type:
              - boolean
              - "null"
          is_suspended:
            type:
              - boolean
              - "null"
          is_trusted:
            type:
              - boolean
              - "null"
          is_twitter_syncing:
            type:
              - boolean
              - "null"
          logo_url:
            type:
              - string
              - "null"
          magellan_legacy:
            type:
              - boolean
              - "null"
          magellan_query:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          optimizer_email:
            type:
              - string
              - "null"
          organization:
            type:
              - string
              - "null"
          path_name:
            type:
              - string
              - "null"
          recent_theme_color:
            type:
              - string
              - "null"
          reskin_enabled:
            type:
              - boolean
              - "null"
          revshare_click_percent:
            type:
              - number
              - "null"
          revshare_view_percent:
            type:
              - number
              - "null"
          rollcrawl_enabled:
            type:
              - boolean
              - "null"
          rollworks_self_serve_ads:
            type:
              - boolean
              - "null"
          self_serve_prospecting_enabled:
            type:
              - boolean
              - "null"
          show_dpa:
            type:
              - boolean
              - "null"
          show_web_dynamic_ads:
            type:
              - boolean
              - "null"
          status:
            type:
              - string
              - "null"
          uhura_enabled:
            type:
              - boolean
              - "null"
          updated_date:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          use_universal_campaigns:
            type:
              - boolean
              - "null"
          view_through_conversion_window:
            type:
              - number
              - "null"
          zvelo_category_id:
            type:
              - number
              - "null"
          zvelo_category_name:
            type:
              - string
              - "null"
  Active Pixels for an Advertisable:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type:
          - string
          - "null"
      eid:
        type: string
      is_consistent:
        type:
          - boolean
          - "null"
      pixel_version:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - eid
  Consent Banner Config for an Advertisable:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      results:
        type:
          - object
          - "null"
        properties:
          config_state_change_date:
            type:
              - string
              - "null"
          consent_banner_state:
            type:
              - string
              - "null"
  Pixel:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type:
          - string
          - "null"
      eid:
        type: string
      is_consistent:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - eid
  Segments for a Pixel:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      advertisable_eid:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      display_name:
        type:
          - string
          - "null"
      duration:
        type:
          - number
          - "null"
      duration_sec:
        type:
          - number
          - "null"
      eid:
        type: string
      group:
        type:
          - number
          - "null"
      has_default_rule:
        type:
          - boolean
          - "null"
      is_active:
        type:
          - boolean
          - "null"
      match_method:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      pattern:
        type:
          - string
          - "null"
      recent_first_match:
        type:
          - boolean
          - "null"
      rule:
        type:
          - string
          - "null"
      rule_id:
        type:
          - number
          - "null"
      source:
        type:
          - string
          - "null"
      threshold:
        type:
          - number
          - "null"
    required:
      - eid
  Campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      eid:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - eid
  AdGroups by Advertisables:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdDate:
        type:
          - string
          - "null"
      eid:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedDate:
        type:
          - string
          - "null"
    required:
      - eid
  Ads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdDate:
        type:
          - string
          - "null"
      eid:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedDate:
        type:
          - string
          - "null"
    required:
      - eid
  All Ads by AdGroup:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      adFormat:
        type:
          - string
          - "null"
      createdDate:
        type:
          - string
          - "null"
      destinationURL:
        type:
          - string
          - "null"
      eid:
        type:
          - string
          - "null"
      isActive:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedDate:
        type:
          - string
          - "null"
  AdGroups by Campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdDate:
        type:
          - string
          - "null"
      eid:
        type:
          - string
          - "null"
      isActive:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedDate:
        type:
          - string
          - "null"
  Advertisables:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account:
        type:
          - string
          - "null"
      account_country_code:
        type:
          - string
          - "null"
      account_is_autobilled:
        type:
          - boolean
          - "null"
      account_is_prepaid:
        type:
          - boolean
          - "null"
      account_is_suspended:
        type:
          - boolean
          - "null"
      admin_page_permission:
        type:
          - boolean
          - "null"
      attached_users:
        type:
          - array
          - "null"
      blacklisted_sites:
        type:
          - array
          - "null"
      business_unit:
        type:
          - string
          - "null"
      click_through_conversion_window:
        type:
          - number
          - "null"
      company_phone:
        type:
          - string
          - "null"
      constant_contact_oauth_url:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      default_homepage:
        type:
          - string
          - "null"
      default_utm:
        type:
          - string
          - "null"
      eid:
        type: string
      enable_customer_multi_dur_segs:
        type:
          - boolean
          - "null"
      fb_offsite_pixels_tos_accepted:
        type:
          - boolean
          - "null"
      has_approved_consent_solution:
        type:
          - boolean
          - "null"
      has_approved_safari_add_on:
        type:
          - boolean
          - "null"
      has_created_campaign:
        type:
          - boolean
          - "null"
      has_offsite_pixels:
        type:
          - boolean
          - "null"
      has_sales_and_leads_automation:
        type:
          - boolean
          - "null"
      hide_optins_page:
        type:
          - boolean
          - "null"
      homepage_enabled:
        type:
          - boolean
          - "null"
      iab1_category_id:
        type:
          - number
          - "null"
      iab1_category_name:
        type:
          - string
          - "null"
      iab_content_id:
        type:
          - number
          - "null"
      ip_address_exclusions:
        type:
          - array
          - "null"
      is_abm_customer:
        type:
          - boolean
          - "null"
      is_active:
        type:
          - boolean
          - "null"
      is_b2b:
        type:
          - boolean
          - "null"
      is_campaign_monitor_syncing:
        type:
          - boolean
          - "null"
      is_constant_contact_syncing:
        type:
          - boolean
          - "null"
      is_html5_enabled:
        type:
          - boolean
          - "null"
      is_managed:
        type:
          - boolean
          - "null"
      is_marketo_syncing:
        type:
          - boolean
          - "null"
      is_salesforce_system_owned:
        type:
          - boolean
          - "null"
      is_suspended:
        type:
          - boolean
          - "null"
      is_trusted:
        type:
          - boolean
          - "null"
      is_twitter_syncing:
        type:
          - boolean
          - "null"
      logo_url:
        type:
          - string
          - "null"
      magellan_legacy:
        type:
          - boolean
          - "null"
      magellan_query:
        type:
          - boolean
          - "null"
      marketo_api_endpoint:
        type:
          - string
          - "null"
      marketo_client_id:
        type:
          - string
          - "null"
      marketo_secret_key:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      optimizer_email:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
      path_name:
        type:
          - string
          - "null"
      recent_theme_color:
        type:
          - string
          - "null"
      reskin_enabled:
        type:
          - boolean
          - "null"
      revshare_click_percent:
        type:
          - number
          - "null"
      revshare_view_percent:
        type:
          - number
          - "null"
      rollcrawl_enabled:
        type:
          - boolean
          - "null"
      rollworks_self_serve_ads:
        type:
          - boolean
          - "null"
      self_serve_prospecting_enabled:
        type:
          - boolean
          - "null"
      show_dpa:
        type:
          - boolean
          - "null"
      show_web_dynamic_ads:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
      uhura_enabled:
        type:
          - boolean
          - "null"
      updated_date:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      use_universal_campaigns:
        type:
          - boolean
          - "null"
      view_through_conversion_window:
        type:
          - number
          - "null"
      zvelo_category_id:
        type:
          - number
          - "null"
      zvelo_category_name:
        type:
          - string
          - "null"
    required:
      - eid
