[flake8]
exclude =
    .venv,
    models # generated protocol models
    .eggs # python libraries"
    .tox
    build
extend-ignore =
  E203,  # whitespace before ':' (conflicts with Black)
  E231,  # Bad trailing comma (conflicts with Black)
  E501,  # line too long (conflicts with Black)
  W503,  # line break before binary operator (conflicts with Black)
