version: 5.10.2

type: DeclarativeSource

description: airbyte connector developed using airbyte 1.0 UI Connector development

check:
  type: CheckStream
  stream_names:
    - lists

definitions:
  streams:
    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - lists
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lists"
    leaderboard:
      type: DeclarativeStream
      name: leaderboard
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lists/{{stream_partition.uuid_id}}/leaderboard
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - ranking
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 50
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: uuid
              partition_field: uuid_id
              stream:
                $ref: "#/definitions/streams/lists"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leaderboard"
    bonuses:
      type: DeclarativeStream
      name: bonuses
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lists/{{stream_partition.uuid_id}}/bonuses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
            page_size: 50
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: uuid
              partition_field: uuid_id
              stream:
                $ref: "#/definitions/streams/lists"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bonuses"
    subscribers:
      type: DeclarativeStream
      name: subscribers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lists/{{stream_partition.uuid_id}}/subscribers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - subscribers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: uuid
              partition_field: uuid_id
              stream:
                $ref: "#/definitions/streams/lists"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscribers"
  base_requester:
    type: HttpRequester
    url_base: https://app.referralhero.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api_token
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/lists"
  - $ref: "#/definitions/streams/leaderboard"
  - $ref: "#/definitions/streams/bonuses"
  - $ref: "#/definitions/streams/subscribers"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    lists: true
    leaderboard: false
    bonuses: false
    subscribers: false
  testedStreams:
    lists:
      streamHash: ef688075347cbc7519bc0f4a84110f72208fa303
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leaderboard:
      streamHash: 4a677f97aa53b86ac398ea845daf4565fdde9858
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    bonuses:
      streamHash: 783055e8247359f432712a55a56795e25ee9c309
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subscribers:
      streamHash: 1fad0a1c5e10e58f86990b12891fe1b9c6149ddc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://support.referralhero.com/integrate/rest-api/endpoints-reference

schemas:
  lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_at:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      subscribers:
        type:
          - number
          - "null"
      uuid:
        type: string
    required:
      - uuid
  leaderboard:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  bonuses:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  subscribers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
