version: 5.8.1

type: DeclarativeSource

description: airbyte connector developed using airbyte 1.0 UI Connector development

check:
  type: CheckStream
  stream_names:
    - lists

definitions:
  streams:
    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - lists
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lists"
    leaderboard:
      type: DeclarativeStream
      name: leaderboard
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lists/{{ config['uuid'] }}/leaderboard
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - ranking
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leaderboard"
    bonuses:
      type: DeclarativeStream
      name: bonuses
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lists/{{ config['uuid'] }}/bonuses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bonuses"
    subscribers:
      type: DeclarativeStream
      name: subscribers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/lists/{{ config['uuid'] }}/subscribers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - subscribers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscribers"
  base_requester:
    type: HttpRequester
    url_base: https://app.referralhero.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api_token
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/lists"
  - $ref: "#/definitions/streams/leaderboard"
  - $ref: "#/definitions/streams/bonuses"
  - $ref: "#/definitions/streams/subscribers"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - uuid
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      uuid:
        type: string
        order: 1
        title: uuid
    additionalProperties: true

metadata:
  autoImportSchema:
    lists: true
    leaderboard: false
    bonuses: false
    subscribers: false
  testedStreams:
    lists:
      streamHash: 645a0581e54e6dd9b6c3e4fb23b14c9421162291
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leaderboard:
      streamHash: 2dc6d4faa3295f6efabd715525db40441f2e3a25
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    bonuses:
      streamHash: d18a0d8b59a93408f2649ede7d77416abd6c8478
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subscribers:
      streamHash: 5526a6b363f4d673e4768a36a1203c6ad54ebef6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://support.referralhero.com/integrate/rest-api/endpoints-reference

schemas:
  lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_at:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      subscribers:
        type:
          - number
          - "null"
      uuid:
        type: string
    required:
      - uuid
  leaderboard:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  bonuses:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  subscribers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
