version: 6.13.0

type: DeclarativeSource

description: ""

check:
  type: CheckStream
  stream_names:
    - supplier_invoices

definitions:
  streams:
    supplier_invoices:
      type: DeclarativeStream
      name: supplier_invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: supplier_invoices
          http_method: GET
          request_parameters:
            filter: >-
              '[{"field": "updated_at", "operator": "gteq", "value":  "{{
              stream_interval.start_time }}" }]'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoices
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_time"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/supplier_invoices"
    suppliers:
      type: DeclarativeStream
      name: suppliers
      primary_key:
        - source_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: suppliers
          http_method: GET
          request_parameters:
            filter: >-
              '[{"field": "updated_at", "operator": "gteq", "value":  "{{
              stream_interval.start_time }}" }]'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - suppliers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_time"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suppliers"
    plan_items:
      type: DeclarativeStream
      name: plan_items
      primary_key:
        - v2_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://app.pennylane.com/api/external/v1/plan_items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - plan_items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/plan_items"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - source_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers
          http_method: GET
          request_parameters:
            filter: >-
              '[{"field": "updated_at", "operator": "gteq", "value":  "{{
              stream_interval.start_time }}" }]'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - customers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_time"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    customer_invoices:
      type: DeclarativeStream
      name: customer_invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customer_invoices
          http_method: GET
          request_parameters:
            filter: >-
              '[{"field": "updated_at", "operator": "gteq", "value":  "{{
              stream_interval.start_time }}" }]'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoices
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_time"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_invoices"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - source_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: products
          http_method: GET
          request_parameters:
            filter: >-
              '[{"field": "updated_at", "operator": "gteq", "value":  "{{
              stream_interval.start_time }}" }]'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_time"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    category_groups:
      type: DeclarativeStream
      name: category_groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: category_groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - category_groups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/category_groups"
    categories:
      type: DeclarativeStream
      name: categories
      primary_key:
        - source_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: categories
          http_method: GET
          request_parameters:
            filter: >-
              '[{"field": "updated_at", "operator": "gteq", "value":  "{{
              stream_interval.start_time }}" }]'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - categories
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_time"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
  base_requester:
    type: HttpRequester
    url_base: https://app.pennylane.com/api/external/v1/
    authenticator:
      type: BearerAuthenticator
      api_token: '{{ config["api_key"] }}'

streams:
  - $ref: "#/definitions/streams/supplier_invoices"
  - $ref: "#/definitions/streams/suppliers"
  - $ref: "#/definitions/streams/plan_items"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/customer_invoices"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/category_groups"
  - $ref: "#/definitions/streams/categories"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - start_time
      - api_key
    properties:
      start_time:
        type: string
        order: 0
        title: Start time
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      api_key:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    supplier_invoices: true
    suppliers: true
    plan_items: true
    customers: true
    customer_invoices: true
    products: true
    category_groups: true
    categories: true
  testedStreams:
    supplier_invoices:
      streamHash: ac288793d80aab3a2b7808ae2893c81c2fcf2e95
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    suppliers:
      streamHash: e25389d16f750520402389d730f40e73f37bc354
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    plan_items:
      streamHash: 4d9113545ce75af62af4e0c9bacca9dbb1c843d0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customers:
      streamHash: d633882cc2b7d6859d77c6634bcf0886eff1f348
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customer_invoices:
      streamHash: eab3042a1ef2e2001b5a65dd87611ef0f4d6a998
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: b0e493b89a9c47ac8a24a04abe64a156debb79ad
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    category_groups:
      streamHash: 9066f201b0a8a4c2b9ad2719b70880ad6117e8da
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    categories:
      streamHash: b80b7859695cef22db248acd3cf2959f8479fd06
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  supplier_invoices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - string
          - "null"
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            created_at:
              type:
                - string
                - "null"
            label:
              type:
                - string
                - "null"
            source_id:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            v2_id:
              type:
                - number
                - "null"
            weight:
              type:
                - string
                - "null"
      currency:
        type:
          - string
          - "null"
      currency_amount:
        type:
          - string
          - "null"
      currency_amount_before_tax:
        type:
          - string
          - "null"
      currency_tax:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      deadline:
        type:
          - string
          - "null"
      discount:
        type:
          - string
          - "null"
      discount_type:
        type:
          - string
          - "null"
      exchange_rate:
        type:
          - number
          - "null"
      file_url:
        type:
          - string
          - "null"
      filename:
        type:
          - string
          - "null"
      id:
        type: string
      invoice_number:
        type:
          - string
          - "null"
      is_draft:
        type:
          - boolean
          - "null"
      label:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      line_items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            amount:
              type:
                - string
                - "null"
            currency_amount:
              type:
                - string
                - "null"
            currency_price_before_tax:
              type:
                - string
                - "null"
            currency_tax:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            label:
              type:
                - string
                - "null"
            quantity:
              type:
                - string
                - "null"
            v2_id:
              type:
                - number
                - "null"
            vat_rate:
              type:
                - string
                - "null"
      matched_transactions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            amount:
              type:
                - string
                - "null"
            currency:
              type:
                - string
                - "null"
            date:
              type:
                - string
                - "null"
            fee:
              type:
                - string
                - "null"
            group_uuid:
              type:
                - string
                - "null"
            label:
              type:
                - string
                - "null"
      paid:
        type:
          - boolean
          - "null"
      payment_status:
        type:
          - string
          - "null"
      payments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            created_at:
              type:
                - string
                - "null"
            currency_amount:
              type:
                - string
                - "null"
            label:
              type:
                - string
                - "null"
      pdf_invoice_free_text:
        type:
          - string
          - "null"
      pdf_invoice_subject:
        type:
          - string
          - "null"
      quote_group_uuid:
        type:
          - string
          - "null"
      remaining_amount:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      supplier:
        type:
          - object
          - "null"
        properties:
          billing_address:
            type:
              - object
              - "null"
            properties:
              address:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              country_alpha2:
                type:
                  - string
                  - "null"
              postal_code:
                type:
                  - string
                  - "null"
          billing_iban:
            type:
              - string
              - "null"
          emails:
            type:
              - array
              - "null"
          iban:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          payment_conditions:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          recipient:
            type:
              - string
              - "null"
          reference:
            type:
              - string
              - "null"
          reg_no:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          v2_id:
            type:
              - number
              - "null"
          vat_number:
            type:
              - string
              - "null"
      transactions_reference:
        type:
          - object
          - "null"
        properties: {}
      updated_at:
        type: string
      v2_id:
        type:
          - number
          - "null"
    required:
      - id
      - updated_at
  suppliers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billing_address:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country_alpha2:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
      billing_iban:
        type:
          - string
          - "null"
      emails:
        type:
          - array
          - "null"
      iban:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      payment_conditions:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      plan_item:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          country_alpha2:
            type:
              - string
              - "null"
          enabled:
            type:
              - boolean
              - "null"
          label:
            type:
              - string
              - "null"
          number:
            type:
              - string
              - "null"
          v2_id:
            type:
              - number
              - "null"
          vat_rate:
            type:
              - string
              - "null"
      recipient:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      reg_no:
        type:
          - string
          - "null"
      source_id:
        type: string
      updated_at:
        type: string
      v2_id:
        type:
          - number
          - "null"
      vat_number:
        type:
          - string
          - "null"
    required:
      - source_id
      - updated_at
  plan_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      country_alpha2:
        type:
          - string
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      label:
        type:
          - string
          - "null"
      number:
        type:
          - string
          - "null"
      v2_id:
        type: number
      vat_rate:
        type:
          - string
          - "null"
    required:
      - v2_id
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billing_address:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country_alpha2:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
      billing_iban:
        type:
          - string
          - "null"
      customer_type:
        type:
          - string
          - "null"
      delivery_address:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country_alpha2:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
      emails:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      name:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      payment_conditions:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      plan_item:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          country_alpha2:
            type:
              - string
              - "null"
          enabled:
            type:
              - boolean
              - "null"
          label:
            type:
              - string
              - "null"
          number:
            type:
              - string
              - "null"
          v2_id:
            type:
              - number
              - "null"
          vat_rate:
            type:
              - string
              - "null"
      recipient:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      reg_no:
        type:
          - string
          - "null"
      source_id:
        type: string
      updated_at:
        type: string
      v2_id:
        type:
          - number
          - "null"
      vat_number:
        type:
          - string
          - "null"
    required:
      - source_id
      - updated_at
  customer_invoices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - string
          - "null"
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            created_at:
              type:
                - string
                - "null"
            label:
              type:
                - string
                - "null"
            source_id:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            v2_id:
              type:
                - number
                - "null"
            weight:
              type:
                - string
                - "null"
      credit_notes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            amount:
              type:
                - string
                - "null"
            currency:
              type:
                - string
                - "null"
            currency_amount:
              type:
                - string
                - "null"
            currency_price_before_tax:
              type:
                - string
                - "null"
            currency_tax:
              type:
                - string
                - "null"
            draft:
              type:
                - boolean
                - "null"
            id:
              type:
                - string
                - "null"
            invoice_number:
              type:
                - string
                - "null"
            tax:
              type:
                - string
                - "null"
            v2_id:
              type:
                - number
                - "null"
      currency:
        type:
          - string
          - "null"
      currency_amount:
        type:
          - string
          - "null"
      currency_amount_before_tax:
        type:
          - string
          - "null"
      currency_tax:
        type:
          - string
          - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          billing_address:
            type:
              - object
              - "null"
            properties:
              address:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              country_alpha2:
                type:
                  - string
                  - "null"
              postal_code:
                type:
                  - string
                  - "null"
          billing_iban:
            type:
              - string
              - "null"
          customer_type:
            type:
              - string
              - "null"
          delivery_address:
            type:
              - object
              - "null"
            properties:
              address:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              country_alpha2:
                type:
                  - string
                  - "null"
              postal_code:
                type:
                  - string
                  - "null"
          emails:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          name:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          payment_conditions:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          recipient:
            type:
              - string
              - "null"
          reference:
            type:
              - string
              - "null"
          reg_no:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          v2_id:
            type:
              - number
              - "null"
          vat_number:
            type:
              - string
              - "null"
      date:
        type:
          - string
          - "null"
      deadline:
        type:
          - string
          - "null"
      discount:
        type:
          - string
          - "null"
      discount_type:
        type:
          - string
          - "null"
      exchange_rate:
        type:
          - number
          - "null"
      file_url:
        type:
          - string
          - "null"
      filename:
        type:
          - string
          - "null"
      id:
        type: string
      imputation_dates:
        type:
          - object
          - "null"
        properties:
          end_date:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
      invoice_number:
        type:
          - string
          - "null"
      is_draft:
        type:
          - boolean
          - "null"
      label:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      line_items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            amount:
              type:
                - string
                - "null"
            currency_amount:
              type:
                - string
                - "null"
            currency_price_before_tax:
              type:
                - string
                - "null"
            currency_tax:
              type:
                - string
                - "null"
            discount:
              type:
                - string
                - "null"
            discount_type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            label:
              type:
                - string
                - "null"
            product_id:
              type:
                - string
                - "null"
            product_v2_id:
              type:
                - number
                - "null"
            quantity:
              type:
                - string
                - "null"
            raw_currency_unit_price:
              type:
                - string
                - "null"
            section_rank:
              type:
                - number
                - "null"
            unit:
              type:
                - string
                - "null"
            v2_id:
              type:
                - number
                - "null"
            vat_rate:
              type:
                - string
                - "null"
      line_items_sections_attributes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            rank:
              type:
                - number
                - "null"
            title:
              type:
                - string
                - "null"
      matched_transactions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            amount:
              type:
                - string
                - "null"
            currency:
              type:
                - string
                - "null"
            date:
              type:
                - string
                - "null"
            group_uuid:
              type:
                - string
                - "null"
            label:
              type:
                - string
                - "null"
      paid:
        type:
          - boolean
          - "null"
      payments:
        type:
          - array
          - "null"
      pdf_invoice_free_text:
        type:
          - string
          - "null"
      pdf_invoice_subject:
        type:
          - string
          - "null"
      public_url:
        type:
          - string
          - "null"
      quote_group_uuid:
        type:
          - string
          - "null"
      remaining_amount:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      special_mention:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updated_at:
        type: string
      v2_id:
        type:
          - number
          - "null"
    required:
      - id
      - updated_at
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      label:
        type:
          - string
          - "null"
      price:
        type:
          - number
          - "null"
      price_before_tax:
        type:
          - number
          - "null"
      reference:
        type:
          - string
          - "null"
      source_id:
        type: string
      substance:
        type:
          - string
          - "null"
      unit:
        type:
          - string
          - "null"
      updated_at:
        type: string
      v2_id:
        type:
          - number
          - "null"
      vat_rate:
        type:
          - string
          - "null"
    required:
      - source_id
      - updated_at
  category_groups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            created_at:
              type:
                - string
                - "null"
            group_label:
              type:
                - string
                - "null"
            group_source_id:
              type:
                - string
                - "null"
            is_editable:
              type:
                - boolean
                - "null"
            label:
              type:
                - string
                - "null"
            source_id:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            v2_id:
              type:
                - number
                - "null"
      id:
        type: number
      label:
        type:
          - string
          - "null"
      source_id:
        type:
          - string
          - "null"
      v2_id:
        type:
          - number
          - "null"
    required:
      - id
  categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      group_label:
        type:
          - string
          - "null"
      group_source_id:
        type:
          - string
          - "null"
      group_v2_id:
        type:
          - number
          - "null"
      id:
        type:
          - number
          - "null"
      is_editable:
        type:
          - boolean
          - "null"
      label:
        type:
          - string
          - "null"
      source_id:
        type: string
      updated_at:
        type: string
      v2_id:
        type:
          - number
          - "null"
    required:
      - source_id
      - updated_at
