version: 6.1.0

type: DeclarativeSource

description: >-
  The Airbyte connector for Fillout.com enables seamless data synchronization
  between Fillout forms and various target destinations. This connector allows
  you to extract form submissions and related data from Fillout and transfer it
  to your chosen data warehouse, analytics platform, or other destinations. With
  this integration, you can automate workflows, perform data analysis, and
  centralize data management for improved insights and reporting.

check:
  type: CheckStream
  stream_names:
    - forms

definitions:
  streams:
    forms:
      type: DeclarativeStream
      name: forms
      primary_key:
        - formId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"
    form_metadata:
      type: DeclarativeStream
      name: form_metadata
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms/{{ stream_partition.form_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: formId
              partition_field: form_id
              stream:
                $ref: "#/definitions/streams/forms"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/form_metadata"
    submissions:
      type: DeclarativeStream
      name: submissions
      primary_key:
        - submissionId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms/{{ stream_partition.form_id }}/submissions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - responses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 150
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: formId
              partition_field: form_id
              stream:
                $ref: "#/definitions/streams/forms"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: submissionTime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: afterDate
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: "beforeDate "
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - path:
                - formId
              value: "{{ stream_partition.form_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/submissions"
  base_requester:
    type: HttpRequester
    url_base: https://api.fillout.com/v1/api
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/forms"
  - $ref: "#/definitions/streams/form_metadata"
  - $ref: "#/definitions/streams/submissions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Find it in the Developer settings tab of your Fillout
          account.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    forms: true
    form_metadata: true
    submissions: true
  testedStreams:
    forms:
      hasRecords: true
      streamHash: ed5a5bcc98a75c0ee799db522a659dc89c16344e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    form_metadata:
      hasRecords: true
      streamHash: 9701fd2020429ea05b4611e4185d634aa669712a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    submissions:
      streamHash: 618af7b9b7be9ff9b37106ce75863fe568048443
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://www.fillout.com/help/fillout-rest-api

schemas:
  forms:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      formId:
        type: string
      id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - formId
  form_metadata:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      calculations:
        type:
          - array
          - "null"
      documents:
        type:
          - array
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      payments:
        type:
          - array
          - "null"
      questions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            options:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  label:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
      scheduling:
        type:
          - array
          - "null"
      urlParameters:
        type:
          - array
          - "null"
    required:
      - id
  submissions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      calculations:
        type:
          - array
          - "null"
      documents:
        type:
          - array
          - "null"
      lastUpdatedAt:
        type:
          - string
          - "null"
      payments:
        type:
          - array
          - "null"
      questions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            value:
              anyOf:
                - type:
                    - "null"
                    - number
                    - string
                - type: object
                  properties:
                    address:
                      type: string
                    city:
                      type: string
                    country:
                      type: string
                    state:
                      type: string
                    zipCode:
                      type: string
      quiz:
        type:
          - object
          - "null"
      scheduling:
        type:
          - array
          - "null"
      submissionId:
        type: string
      formId:
        type: string
      submissionTime:
        type: string
      urlParameters:
        type:
          - array
          - "null"
    required:
      - formId
      - submissionId
      - submissionTime
