version: 4.6.2

type: DeclarativeSource

description: |-
  Website: https://app.productive.io/
  Auth page: https://app.productive.io/ORG_ID-UUID/settings/api-integrations
  API Docs: https://developer.productive.io/index.html#top

check:
  type: CheckStream
  stream_names:
    - activities

definitions:
  streams:
    tags:
      type: DeclarativeStream
      name: tags
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    deals:
      type: DeclarativeStream
      name: deals
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: deals
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"
    pages:
      type: DeclarativeStream
      name: pages
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: pages
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pages"
    tasks:
      type: DeclarativeStream
      name: tasks
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: tasks
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    boards:
      type: DeclarativeStream
      name: boards
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: boards
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/boards"
    events:
      type: DeclarativeStream
      name: events
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: events
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    prices:
      type: DeclarativeStream
      name: prices
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: prices
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/prices"
    timers:
      type: DeclarativeStream
      name: timers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: timers
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/timers"
    filters:
      type: DeclarativeStream
      name: filters
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: filters
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/filters"
    widgets:
      type: DeclarativeStream
      name: widgets
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: widgets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/widgets"
    bookings:
      type: DeclarativeStream
      name: bookings
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: bookings
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bookings"
    comments:
      type: DeclarativeStream
      name: comments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: comments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/comments"
    expenses:
      type: DeclarativeStream
      name: expenses
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: expenses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expenses"
    holidays:
      type: DeclarativeStream
      name: holidays
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: holidays
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/holidays"
    invoices:
      type: DeclarativeStream
      name: invoices
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"
    payments:
      type: DeclarativeStream
      name: payments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: payments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payments"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: projects
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    salaries:
      type: DeclarativeStream
      name: salaries
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: salaries
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/salaries"
    sections:
      type: DeclarativeStream
      name: sections
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: sections
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sections"
    services:
      type: DeclarativeStream
      name: services
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: services
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/services"
    sessions:
      type: DeclarativeStream
      name: sessions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: sessions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sessions"
    companies:
      type: DeclarativeStream
      name: companies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: companies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companies"
    pipelines:
      type: DeclarativeStream
      name: pipelines
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: pipelines
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipelines"
    tax_rates:
      type: DeclarativeStream
      name: tax_rates
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: tax_rates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax_rates"
    workflows:
      type: DeclarativeStream
      name: workflows
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: workflows
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflows"
    activities:
      type: DeclarativeStream
      name: activities
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: activities
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activities"
    dashboards:
      type: DeclarativeStream
      name: dashboards
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: dashboards
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboards"
    line_items:
      type: DeclarativeStream
      name: line_items
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: line_items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/line_items"
    rate_cards:
      type: DeclarativeStream
      name: rate_cards
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: rate_cards
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/rate_cards"
    task_lists:
      type: DeclarativeStream
      name: task_lists
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: task_lists
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/task_lists"
    attachments:
      type: DeclarativeStream
      name: attachments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: attachments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attachments"
    memberships:
      type: DeclarativeStream
      name: memberships
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: memberships
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/memberships"
    entitlements:
      type: DeclarativeStream
      name: entitlements
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: entitlements
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/entitlements"
    lost_reasons:
      type: DeclarativeStream
      name: lost_reasons
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: lost_reasons
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lost_reasons"
    subsidiaries:
      type: DeclarativeStream
      name: subsidiaries
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: subsidiaries
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subsidiaries"
    time_entries:
      type: DeclarativeStream
      name: time_entries
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: time_entries
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_entries"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_fields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    deal_statuses:
      type: DeclarativeStream
      name: deal_statuses
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: deal_statuses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal_statuses"
    organizations:
      type: DeclarativeStream
      name: organizations
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"
    page_versions:
      type: DeclarativeStream
      name: page_versions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: page_versions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/page_versions"
    service_types:
      type: DeclarativeStream
      name: service_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: service_types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_types"
    document_types:
      type: DeclarativeStream
      name: document_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: document_types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/document_types"
    exchange_rates:
      type: DeclarativeStream
      name: exchange_rates
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: exchange_rates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/exchange_rates"
    contact_entries:
      type: DeclarativeStream
      name: contact_entries
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: contact_entries
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_entries"
    approval_policies:
      type: DeclarativeStream
      name: approval_policies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: approval_policies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/approval_policies"
    holiday_calendars:
      type: DeclarativeStream
      name: holiday_calendars
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: holiday_calendars
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/holiday_calendars"
    payment_reminders:
      type: DeclarativeStream
      name: payment_reminders
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: payment_reminders
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payment_reminders"
    workflow_statuses:
      type: DeclarativeStream
      name: workflow_statuses
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: workflow_statuses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflow_statuses"
    project_assignments:
      type: DeclarativeStream
      name: project_assignments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: project_assignments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_assignments"
    time_entry_versions:
      type: DeclarativeStream
      name: time_entry_versions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: time_entry_versions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_entry_versions"
    custom_field_options:
      type: DeclarativeStream
      name: custom_field_options
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_field_options
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_field_options"
    invoice_attributions:
      type: DeclarativeStream
      name: invoice_attributions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: invoice_attributions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoice_attributions"
    reports_booking-reports:
      type: DeclarativeStream
      name: reports_booking-reports
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/booking_reports
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports_booking-reports"
    organization_memberships:
      type: DeclarativeStream
      name: organization_memberships
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: organization_memberships
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_memberships"
    reports_timesheet_reports:
      type: DeclarativeStream
      name: reports_timesheet_reports
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: reports/timesheet_reports
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports_timesheet_reports"
    payment_reminder_sequences:
      type: DeclarativeStream
      name: payment_reminder_sequences
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: payment_reminder_sequences
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 4
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            X-Organization-Id: "{{ config['organization_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payment_reminder_sequences"
  base_requester:
    type: HttpRequester
    url_base: https://api.productive.io/api/v2/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config["api_key"] }}'
      inject_into:
        type: RequestOption
        field_name: X-Auth-Token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/activities"
  - $ref: "#/definitions/streams/approval_policies"
  - $ref: "#/definitions/streams/workflows"
  - $ref: "#/definitions/streams/boards"
  - $ref: "#/definitions/streams/attachments"
  - $ref: "#/definitions/streams/bookings"
  - $ref: "#/definitions/streams/comments"
  - $ref: "#/definitions/streams/companies"
  - $ref: "#/definitions/streams/contact_entries"
  - $ref: "#/definitions/streams/custom_field_options"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/dashboards"
  - $ref: "#/definitions/streams/deal_statuses"
  - $ref: "#/definitions/streams/deals"
  - $ref: "#/definitions/streams/document_types"
  - $ref: "#/definitions/streams/entitlements"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/exchange_rates"
  - $ref: "#/definitions/streams/expenses"
  - $ref: "#/definitions/streams/filters"
  - $ref: "#/definitions/streams/holiday_calendars"
  - $ref: "#/definitions/streams/holidays"
  - $ref: "#/definitions/streams/invoice_attributions"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/line_items"
  - $ref: "#/definitions/streams/lost_reasons"
  - $ref: "#/definitions/streams/memberships"
  - $ref: "#/definitions/streams/organizations"
  - $ref: "#/definitions/streams/organization_memberships"
  - $ref: "#/definitions/streams/pages"
  - $ref: "#/definitions/streams/page_versions"
  - $ref: "#/definitions/streams/payment_reminder_sequences"
  - $ref: "#/definitions/streams/payment_reminders"
  - $ref: "#/definitions/streams/payments"
  - $ref: "#/definitions/streams/pipelines"
  - $ref: "#/definitions/streams/prices"
  - $ref: "#/definitions/streams/project_assignments"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/rate_cards"
  - $ref: "#/definitions/streams/reports_booking-reports"
  - $ref: "#/definitions/streams/salaries"
  - $ref: "#/definitions/streams/sections"
  - $ref: "#/definitions/streams/services"
  - $ref: "#/definitions/streams/service_types"
  - $ref: "#/definitions/streams/sessions"
  - $ref: "#/definitions/streams/subsidiaries"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/task_lists"
  - $ref: "#/definitions/streams/tax_rates"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/time_entries"
  - $ref: "#/definitions/streams/time_entry_versions"
  - $ref: "#/definitions/streams/timers"
  - $ref: "#/definitions/streams/reports_timesheet_reports"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/widgets"
  - $ref: "#/definitions/streams/workflow_statuses"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - organization_id
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      organization_id:
        type: string
        description: >-
          The organization ID which could be seen from
          `https://app.productive.io/xxxx-xxxx/settings/api-integrations` page
        order: 1
        title: Organization ID
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    tags:
      hasRecords: true
      streamHash: 7cd61e8996ea3a26ced213c297616e90d88fcdb8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    deals:
      hasRecords: true
      streamHash: dbbe96055251f5a3dcb8ade7542b47e2d653951c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    pages:
      hasRecords: true
      streamHash: 3dbaceb16db9656b8d73ac843d5e4d1e8af63da4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    tasks:
      hasRecords: true
      streamHash: 754e7c59f7d717bc2e15af95ee7bd2a715584b50
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: 3ded48d047b3de51eeb2c16fd9f321a3f9d58358
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    boards:
      hasRecords: true
      streamHash: 75567e69ab588266d9d5e8e780be1159c95fbabc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    events:
      hasRecords: true
      streamHash: f8483633d75750579c65822096e2583b14c21973
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    prices:
      hasRecords: true
      streamHash: 7ee4cf13d0570d86ee80d2aed6e61538a7f525c5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    timers:
      hasRecords: true
      streamHash: b0fcc575e55223a4db3fe0ba00164ea55662cd8e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    filters:
      hasRecords: true
      streamHash: f6685d9fe5594574cd85788eb681eccc69bbc52e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    widgets:
      hasRecords: true
      streamHash: 350f313d94fb56ec0e97784f3c939d5a5762fca9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    bookings:
      hasRecords: true
      streamHash: e717dab78989988a257f86923bd01c7fcd1ab46d
      hasResponse: true
[...]
