version: 6.41.5

type: DeclarativeSource

description: Collect base data from Makeshift Scheduling SAAS.

check:
  type: CheckStream
  stream_names:
    - Shift

definitions:
  streams:
    Shift:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          paginator:
            type: DefaultPaginator
            page_size_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: page[size]
              value: 100
            pagination_strategy:
              type: UrlExtractor
              url_base: "{{ response['links']['next'] }}"
              cursor_value: "{{ 'next' in response['links'] and response['links']['next'] }}"
          $ref: "#/definitions/base_requester"
          path: /api/public/v2/shifts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[size]
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      name: Shift
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Shift"
    Punch:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          paginator:
            type: DefaultPaginator
            page_size_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: page[size]
              value: 100
            page_token_option:
              type: RequestPath
            pagination_strategy:
              type: CursorPagination
              cursor_value: "{{ response['links']['next'] }}"
              stop_condition: >-
                {{ 'next' not in response['links'] or not
                response['links']['next'] }}
          $ref: "#/definitions/base_requester"
          path: /api/public/v2/punches
          http_method: GET
          request_parameters:
            include: break_punches
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[size]
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      name: Punch
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Punch"
    BreakPunch:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          paginator:
            type: DefaultPaginator
            page_size_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: page[size]
              value: 100
            page_token_option:
              type: RequestPath
            pagination_strategy:
              type: CursorPagination
              cursor_value: "{{ response['links']['next'] }}"
              stop_condition: >-
                {{ 'next' not in response['links'] or not
                response['links']['next'] }}
          $ref: "#/definitions/base_requester"
          path: /api/public/v2/punches
          http_method: GET
          request_parameters:
            include: break_punches
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - included
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[size]
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      name: BreakPunch
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/BreakPunch"
    User:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          paginator:
            type: DefaultPaginator
            page_size_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: page[size]
              value: 100
            page_token_option:
              type: RequestPath
            pagination_strategy:
              type: CursorPagination
              cursor_value: "{{ response['links']['next'] }}"
              stop_condition: >-
                {{ 'next' not in response['links'] or not
                response['links']['next'] }}
          $ref: "#/definitions/base_requester"
          path: /api/public/v2/users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[size]
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      name: User
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/User"
  base_requester:
    type: HttpRequester
    url_base: https://app.makeshift.ca
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        url_base: https://id.makeshift.ca/oauth/token
        authenticator:
          type: NoAuth
        http_method: POST
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Cache-Control: no-cache
        request_body_json:
          grant_type: password
          username: "{{config['client_key']}}"
          password: "{{config['client_secret']}}"
      session_token_path:
        - access_token
      expiration_duration: PT1H
      request_authentication:
        type: Bearer

streams:
  - $ref: "#/definitions/streams/Shift"
  - $ref: "#/definitions/streams/Punch"
  - $ref: "#/definitions/streams/BreakPunch"
  - $ref: "#/definitions/streams/User"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_key
      - client_secret
    properties:
      client_key:
        type: string
        title: Key
        order: 0
      client_secret:
        type: string
        title: Client Secret
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    Shift: true
    Punch: true
    BreakPunch: true
    User: true
  testedStreams:
    Shift:
      streamHash: ac95eb6301d4afabcdf957d50194611099ca3c42
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Punch:
      streamHash: da4f293434c635b980bf122297dafb1ae0e05252
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    BreakPunch:
      streamHash: 2be349dc4c57adc4a4dafcacbc22fd6f819677c1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    User:
      streamHash: 8a3463e6df7fafd74f1c17d1ffe947f19aeb7147
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Shift:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          breaks:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          created_at:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          department_id:
            type:
              - number
              - "null"
          ends_at:
            type:
              - string
              - "null"
          hide_ends_at:
            type:
              - boolean
              - "null"
          published_at:
            type:
              - string
              - "null"
          starts_at:
            type:
              - string
              - "null"
          time_zone:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          user_id:
            type:
              - number
              - "null"
      id:
        type:
          - string
          - "null"
      relationships:
        type:
          - object
          - "null"
        properties:
          job_site:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
          position:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
  Punch:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          adjusted_punched_in_at:
            type:
              - string
              - "null"
          adjusted_punched_out_at:
            type:
              - string
              - "null"
          anchor_date:
            type:
              - string
              - "null"
          approved:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          department_id:
            type:
              - number
              - "null"
          punched_in_at:
            type:
              - string
              - "null"
          punched_out_at:
            type:
              - string
              - "null"
          scheduled_breaks:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          shift_id:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
          user_id:
            type:
              - number
              - "null"
      id:
        type:
          - string
          - "null"
      relationships:
        type:
          - object
          - "null"
        properties:
          break_punches:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
          job_site:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
          position:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
  BreakPunch:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          anchor_date:
            type:
              - string
              - "null"
          break_punch_type:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          department_id:
            type:
              - number
              - "null"
          ends_at:
            type:
              - string
              - "null"
          punch_id:
            type:
              - number
              - "null"
          starts_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type:
          - string
          - "null"
  User:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          archived:
            type:
              - boolean
              - "null"
          archived_at:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          employee_id:
            type:
              - string
              - "null"
          employment_type:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          hire_date:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          middle_name:
            type:
              - string
              - "null"
          phone_number:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          wage:
            type:
              - string
              - "null"
      id:
        type:
          - string
          - "null"
