@use "../../../scss/colors";
@use "../../../scss/variables";

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;

  &.small {
    width: 28px;
    height: 18px;
  }

  .switchInput {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background: colors.$primaryColor;

      &:before {
        transform: translateX(18px);
      }

      &.small:before {
        transform: translateX(10px);
      }

      &.loading {
        background: url("./ProgressReverse.svg");
      }
    }

    &:not(:checked) + .slider.loading {
      background: url("./Progress.svg");
    }

    &:disabled + .slider {
      opacity: 0.5;
      cursor: auto;
    }
  }

  .slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: colors.$greyColor20;
    transition: variables.$transition;
    border-radius: 19px;

    &.small:before {
      height: 16px;
      width: 16px;
    }

    &:before {
      position: absolute;
      z-index: 1;
      content: "";
      height: 22px;
      width: 22px;
      left: 1px;
      top: 1px;
      background: colors.$whiteColor;
      transition: variables.$transition;
      border-radius: 50%;
    }
  }
}
