version: 7.0.4

type: DeclarativeSource

description: >-
  TwentyCRM with connection to people, companies and opportunities REST
  endpoints.

check:
  type: CheckStream
  stream_names:
    - people

definitions:
  linked:
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: starting_after
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 60
          cursor_value: "{{ response['pageInfo']['nextPage'] }}"
          stop_condition: "{{ response.data.has_more is false }}"
    HttpRequester:
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"

streams:
  - type: DeclarativeStream
    name: people
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: starting_after
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 60
          cursor_value: "{{ response['pageInfo']['nextPage'] }}"
          stop_condition: "{{ response.data.has_more is false }}"
      requester:
        type: HttpRequester
        url: "{{ config['domain'] }}/rest/people"
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - people
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          name:
            type:
              - object
              - "null"
            properties:
              lastName:
                type:
                  - string
                  - "null"
              firstName:
                type:
                  - string
                  - "null"
          xLink:
            type:
              - object
              - "null"
            properties:
              primaryLinkUrl:
                type:
                  - string
                  - "null"
              secondaryLinks:
                type:
                  - array
                  - "null"
              primaryLinkLabel:
                type:
                  - string
                  - "null"
          emails:
            type:
              - object
              - "null"
            properties:
              primaryEmail:
                type:
                  - string
                  - "null"
              additionalEmails:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          phones:
            type:
              - object
              - "null"
            properties:
              additionalPhones:
                type:
                  - array
                  - "null"
              primaryPhoneNumber:
                type:
                  - string
                  - "null"
              primaryPhoneCallingCode:
                type:
                  - string
                  - "null"
              primaryPhoneCountryCode:
                type:
                  - string
                  - "null"
          jobTitle:
            type:
              - string
              - "null"
          position:
            type:
              - number
              - "null"
          avatarUrl:
            type:
              - string
              - "null"
          companyId:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          createdBy:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              source:
                type:
                  - string
                  - "null"
              context:
                type:
                  - object
                  - "null"
              workspaceMemberId:
                type:
                  - string
                  - "null"
          empresaId:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - string
              - "null"
          updatedBy:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              source:
                type:
                  - string
                  - "null"
              context:
                type:
                  - object
                  - "null"
              workspaceMemberId:
                type:
                  - string
                  - "null"
          aniversario:
            type:
              - string
              - "null"
          linkedinLink:
            type:
              - object
              - "null"
            properties:
              primaryLinkUrl:
                type:
                  - string
                  - "null"
              secondaryLinks:
                type:
                  - array
                  - "null"
              primaryLinkLabel:
                type:
                  - string
                  - "null"
          searchVector:
            type:
              - string
              - "null"
          tipoDeContato:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          codigoDeParceiro:
            type:
              - string
              - "null"
          satisfacaoPercebida:
            type:
              - array
              - "null"
        additionalProperties: true
    transformations: []
  - type: DeclarativeStream
    name: companies
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: starting_after
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 60
          cursor_value: "{{ response['pageInfo']['nextPage'] }}"
          stop_condition: "{{ response.data.has_more is false }}"
      requester:
        type: HttpRequester
        url: "{{ config['domain'] }}/rest/companies"
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - companies
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          nps:
            type:
              - string
              - "null"
          cnpj:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          risco:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          xLink:
            type:
              - object
              - "null"
            properties:
              primaryLinkUrl:
                type:
                  - string
                  - "null"
              secondaryLinks:
                type:
                  - array
                  - "null"
              primaryLinkLabel:
                type:
                  - string
                  - "null"
          origem:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          address:
            type:
              - object
              - "null"
            properties:
              addressCity:
                type:
                  - string
                  - "null"
              addressState:
                type:
                  - string
                  - "null"
              addressCountry:
                type:
                  - string
                  - "null"
              addressStreet1:
                type:
                  - string
                  - "null"
              addressStreet2:
                type:
                  - string
                  - "null"
              addressPostcode:
                type:
                  - string
                  - "null"
          position:
            type:
              - number
              - "null"
          segmento:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          createdAt:
            type:
              - string
              - "null"
          createdBy:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              source:
                type:
                  - string
                  - "null"
              context:
                type:
                  - object
                  - "null"
              workspaceMemberId:
                type:
                  - string
                  - "null"
          csatMedio:
            type:
              - string
              - "null"
          employees:
            type:
              - number
              - "null"
          instagram:
            type:
              - object
              - "null"
            properties:
              primaryLinkUrl:
                type:
                  - string
                  - "null"
              secondaryLinks:
                type:
                  - array
                  - "null"
              primaryLinkLabel:
                type:
                  - string
                  - "null"
          updatedAt:
            type:
              - string
              - "null"
          updatedBy:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              source:
                type:
                  - string
                  - "null"
              context:
                type:
                  - object
                  - "null"
              workspaceMemberId:
                type:
                  - string
                  - "null"
          domainName:
            type:
              - object
              - "null"
            properties:
              primaryLinkUrl:
                type:
                  - string
                  - "null"
              secondaryLinks:
                type:
                  - array
                  - "null"
              primaryLinkLabel:
                type:
                  - string
                  - "null"
          linkedinLink:
            type:
              - object
              - "null"
            properties:
              primaryLinkUrl:
                type:
                  - string
                  - "null"
              secondaryLinks:
                type:
                  - array
                  - "null"
              primaryLinkLabel:
                type:
                  - string
                  - "null"
          searchVector:
            type:
              - string
              - "null"
          accountOwnerId:
            type:
              - string
              - "null"
          statusDoContrato:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          idealCustomerProfile:
            type:
              - boolean
              - "null"
          motivoDoCancelamento:
            type:
              - array
              - "null"
          annualRecurringRevenue:
            type:
              - object
              - "null"
            properties:
              currencyCode:
                type:
                  - string
                  - "null"
          responsavelPelaIndicacaoId:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations: []
  - type: DeclarativeStream
    name: opportunities
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: starting_after
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 60
          cursor_value: "{{ response['pageInfo']['nextPage'] }}"
          stop_condition: "{{ response.data.has_more is false }}"
      requester:
        type: HttpRequester
        url: "{{ config['domain'] }}/rest/opportunities"
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - opportunities
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          tipo:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          plano:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          stage:
            type:
              - string
              - "null"
          amount:
            type:
              - object
              - "null"
            properties:
              amountMicros:
                type:
                  - number
                  - "null"
              currencyCode:
                type:
                  - string
                  - "null"
          ownerId:
            type:
              - string
              - "null"
          position:
            type:
              - number
              - "null"
          closeDate:
            type:
              - string
              - "null"
          companyId:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          createdBy:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              source:
                type:
                  - string
                  - "null"
              context:
                type:
                  - object
                  - "null"
              workspaceMemberId:
                type:
                  - string
                  - "null"
          updatedAt:
            type:
              - string
              - "null"
          updatedBy:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              source:
                type:
                  - string
                  - "null"
              context:
                type:
                  - object
                  - "null"
              workspaceMemberId:
                type:
                  - string
                  - "null"
          searchVector:
            type:
              - string
              - "null"
          motivoDePerda:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          mesesDeContrato:
            type:
              - number
              - "null"
          pointOfContactId:
            type:
              - string
              - "null"
          descontoNegociado:
            type:
              - number
              - "null"
          mensalidadeTabela:
            type:
              - object
              - "null"
            properties:
              amountMicros:
                type:
                  - number
                  - "null"
              currencyCode:
                type:
                  - string
                  - "null"
          mensalidadeNegociada:
            type:
              - object
              - "null"
            properties:
              amountMicros:
                type:
                  - number
                  - "null"
              currencyCode:
                type:
                  - string
                  - "null"
          investimentoTotalNegociado:
            type:
              - object
              - "null"
            properties:
              amountMicros:
                type:
                  - number
                  - "null"
              currencyCode:
                type:
                  - string
                  - "null"
        additionalProperties: true
    transformations: []

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - domain
    properties:
      domain:
        type: string
        order: 1
        title: domain
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  testedStreams:
    people:
      isStale: false
      hasRecords: true
      streamHash: 5ba5747fe34e9e843dcf00050ea4fb124fcefa4f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    companies:
      isStale: false
      hasRecords: true
      streamHash: fc3b34bcc30488d7e804f3eaf24dbd7d83e41aba
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    opportunities:
      isStale: false
      hasRecords: true
      streamHash: a0579461c3cb9d960d9cc3907faf79012ffbda3e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    people: true
    companies: true
    opportunities: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
