version: 4.6.2

type: DeclarativeSource

description: "New Front app connector "

check:
  type: CheckStream
  stream_names:
    - teammates

definitions:
  streams:
    teammates:
      type: DeclarativeStream
      name: teammates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teammates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('_pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('_pagination', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teammates"
    messages:
      type: DeclarativeStream
      name: messages
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /conversations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('_pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('_pagination', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages"
  base_requester:
    type: HttpRequester
    url_base: https://api2.frontapp.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/teammates"
  - $ref: "#/definitions/streams/messages"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: API key or access token
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    teammates: true
    messages: false
  testedStreams:
    teammates:
      streamHash: a2da219c6a4224290a33562655a385fc6a203647
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    messages:
      streamHash: 6dab013976f0a971a5bc1ec1c657af05c366facd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://dev.frontapp.com/docs/welcome

schemas:
  teammates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - string
              - "null"
      _pagination:
        type:
          - object
          - "null"
        properties: {}
      _results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            _links:
              type:
                - object
                - "null"
              properties:
                related:
                  type:
                    - object
                    - "null"
                  properties:
                    conversations:
                      type:
                        - string
                        - "null"
                    inboxes:
                      type:
                        - string
                        - "null"
                self:
                  type:
                    - string
                    - "null"
            custom_fields:
              type:
                - object
                - "null"
            email:
              type:
                - string
                - "null"
            first_name:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            is_admin:
              type:
                - boolean
                - "null"
            is_available:
              type:
                - boolean
                - "null"
            is_blocked:
              type:
                - boolean
                - "null"
            last_name:
              type:
                - string
                - "null"
            username:
              type:
                - string
                - "null"
  messages:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
