version: 6.1.0

type: DeclarativeSource

description: source-blogger

check:
  type: CheckStream
  stream_names:
    - blog

definitions:
  streams:
    blog:
      type: DeclarativeStream
      name: blog
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /blogger/v3/blogs/{{config['blog_id']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextPageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/blog"
  base_requester:
    type: HttpRequester
    url_base: https://www.googleapis.com
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: key
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/blog"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - blog_id
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      blog_id:
        type: string
        title: BLOG_ID
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    blog: true
  testedStreams:
    blog:
      streamHash: ee1840e4aa171a61518d026eb2a2898de2429597
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.google.com/blogger/docs/3.0/using

schemas:
  blog:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      kind:
        type:
          - string
          - "null"
      locale:
        type:
          - object
          - "null"
        properties:
          country:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          variant:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      pages:
        type:
          - object
          - "null"
        properties:
          selfLink:
            type:
              - string
              - "null"
          totalItems:
            type:
              - number
              - "null"
      posts:
        type:
          - object
          - "null"
        properties:
          selfLink:
            type:
              - string
              - "null"
          totalItems:
            type:
              - number
              - "null"
      published:
        type:
          - string
          - "null"
      selfLink:
        type:
          - string
          - "null"
      updated:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
