version: 6.4.0

type: DeclarativeSource

description: source-blogger

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    posts:
      type: DeclarativeStream
      name: posts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: nextPageToken
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /blogger/v3/blogs/{{config['blog_id']}}/posts/{{config['post_id']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/posts"
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: nextPageToken
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /blogger/v3/users/self/blogs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    blogposts:
      type: DeclarativeStream
      name: blogposts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: nextPageToken
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /blogger/v3/blogs/{{config['blog_id']}}/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - items
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/blogposts"
  base_requester:
    type: HttpRequester
    url_base: https://www.googleapis.com
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: refresh_token
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_token: "{{ config[\"client_refresh_token\"] }}"
      refresh_request_body: {}
      token_refresh_endpoint: https://oauth2.googleapis.com/token

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/blogposts"
  - $ref: "#/definitions/streams/posts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - client_refresh_token
      - blog_id
      - post_id
    properties:
      blog_id:
        type: string
        order: 3
        title: BLOG_ID
      post_id:
        type: string
        order: 4
        title: post_id
      client_id:
        type: string
        order: 0
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 1
        title: Client secret
        airbyte_secret: true
      client_refresh_token:
        type: string
        order: 2
        title: Refresh token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developers.google.com/blogger/docs/3.0/using
  testedStreams:
    posts:
      hasRecords: true
      streamHash: e5d51748cdcfd786c0a82e105f75625feeb5831d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: e7ed84088271585f8c1e41e927eee61a7730c4cb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    blogposts:
      hasRecords: true
      streamHash: 376617f11fbdb4937f2312170ad319c62947282d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    posts: true
    users: true
    blogposts: true

schemas:
  posts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      blog:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
      etag:
        type:
          - string
          - "null"
      kind:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      author:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          image:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
          displayName:
            type:
              - string
              - "null"
      content:
        type:
          - string
          - "null"
      replies:
        type:
          - object
          - "null"
        properties:
          selfLink:
            type:
              - string
              - "null"
          totalItems:
            type:
              - string
              - "null"
      updated:
        type:
          - string
          - "null"
      selfLink:
        type:
          - string
          - "null"
      published:
        type:
          - string
          - "null"
    additionalProperties: true
  users:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      kind:
        type:
          - string
          - "null"
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            kind:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            pages:
              type:
                - object
                - "null"
              properties:
                selfLink:
                  type:
                    - string
                    - "null"
                totalItems:
                  type:
                    - number
                    - "null"
            posts:
              type:
                - object
                - "null"
              properties:
                selfLink:
                  type:
                    - string
                    - "null"
                totalItems:
                  type:
                    - number
                    - "null"
            locale:
              type:
                - object
                - "null"
              properties:
                country:
                  type:
                    - string
                    - "null"
                variant:
                  type:
                    - string
                    - "null"
                language:
                  type:
                    - string
                    - "null"
            status:
              type:
                - string
                - "null"
            updated:
              type:
                - string
                - "null"
            selfLink:
              type:
                - string
                - "null"
            published:
              type:
                - string
                - "null"
    additionalProperties: true
  blogposts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - items
    properties:
      etag:
        type:
          - string
          - "null"
      kind:
        type:
          - string
          - "null"
      items:
        type: array
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            blog:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
            etag:
              type:
                - string
                - "null"
            kind:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            author:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                image:
                  type:
                    - object
                    - "null"
                  properties:
                    url:
                      type:
                        - string
                        - "null"
                displayName:
                  type:
                    - string
                    - "null"
            content:
              type:
                - string
                - "null"
            replies:
              type:
                - object
                - "null"
              properties:
                selfLink:
                  type:
                    - string
                    - "null"
                totalItems:
                  type:
                    - string
                    - "null"
            updated:
              type:
                - string
                - "null"
            selfLink:
              type:
                - string
                - "null"
            published:
              type:
                - string
                - "null"
    additionalProperties: true
