version: 6.1.0

type: DeclarativeSource

description: This is used to connect to dbt Cloud with the V2 API

check:
  type: CheckStream
  stream_names:
    - runs

definitions:
  streams:
    runs:
      type: DeclarativeStream
      name: runs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/accounts/{{ config["account_id"] }}/runs/
          http_method: GET
          request_headers:
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/runs"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/accounts/{{ config["account_id"] }}/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    repositories:
      type: DeclarativeStream
      name: repositories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/accounts/{{ config["account_id"] }}/repositories
          http_method: GET
          request_headers:
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/repositories"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/accounts/{{ config["account_id"] }}/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    environments:
      type: DeclarativeStream
      name: environments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/accounts/{{ config["account_id"] }}/environments
          http_method: GET
          request_headers:
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/environments"
    jobs:
      type: DeclarativeStream
      name: jobs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/accounts/{{ config["account_id"] }}/jobs/
          http_method: GET
          request_headers:
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs"
  base_requester:
    type: HttpRequester
    url_base: "{{ config[\"access_url\"] }}/api"
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key_2\"] }}"

streams:
  - $ref: "#/definitions/streams/runs"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/repositories"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/environments"
  - $ref: "#/definitions/streams/jobs"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key_2
      - account_id
      - access_url
    properties:
      api_key_2:
        type: string
        order: 0
        title: Service Token
        airbyte_secret: true
      account_id:
        type: string
        order: 1
        title: Account ID
      access_url:
        type: string
        order: 2
        title: Access URL
    additionalProperties: true

metadata:
  autoImportSchema:
    runs: true
    projects: true
    repositories: true
    users: true
    environments: true
    jobs: true
  testedStreams:
    runs:
      hasRecords: true
      streamHash: 8a5ca8953f211195067b8f20e233aaca91d01349
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      streamHash: 8dfe1cd764c0c7022b1c57348a81f861b4264926
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    repositories:
      hasRecords: true
      streamHash: 4efb27629d0817289d1cca4f45f68a8a9d9df65a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: b4f9c17148533e606dee87b5d784ab0d22e61a2e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    environments:
      hasRecords: true
      streamHash: 6a1c8d727d858d77fb7aef8aba6385df82eb770f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    jobs:
      hasRecords: true
      streamHash: 9ce1f040cc7b2663ca23a1a79d9be72083b015d0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  runs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_id:
        type:
          - number
          - "null"
      artifact_s3_path:
        type:
          - string
          - "null"
      artifacts_saved:
        type:
          - boolean
          - "null"
      blocked_by:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      can_retry:
        type:
          - boolean
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_at_humanized:
        type:
          - string
          - "null"
      dbt_version:
        type:
          - string
          - "null"
      dequeued_at:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      duration_humanized:
        type:
          - string
          - "null"
      environment_id:
        type:
          - number
          - "null"
      executed_by_thread_id:
        type:
          - string
          - "null"
      finished_at:
        type:
          - string
          - "null"
      finished_at_humanized:
        type:
          - string
          - "null"
      git_branch:
        type:
          - string
          - "null"
      git_sha:
        type:
          - string
          - "null"
      has_docs_generated:
        type:
          - boolean
          - "null"
      has_sources_generated:
        type:
          - boolean
          - "null"
      href:
        type:
          - string
          - "null"
      id:
        type: number
      in_progress:
        type:
          - boolean
          - "null"
      is_cancelled:
        type:
          - boolean
          - "null"
      is_complete:
        type:
          - boolean
          - "null"
      is_error:
        type:
          - boolean
          - "null"
      is_success:
        type:
          - boolean
          - "null"
      job_definition_id:
        type:
          - number
          - "null"
      job_id:
        type:
          - number
          - "null"
      last_checked_at:
        type:
          - string
          - "null"
      last_heartbeat_at:
        type:
          - string
          - "null"
      notifications_sent:
        type:
          - boolean
          - "null"
      project_id:
        type:
          - number
          - "null"
      queued_duration:
        type:
          - string
          - "null"
      queued_duration_humanized:
        type:
          - string
          - "null"
      retry_not_supported_reason:
        type:
          - string
          - "null"
      retrying_run_id:
        type:
          - number
          - "null"
      run_duration:
        type:
          - string
          - "null"
      run_duration_humanized:
        type:
          - string
          - "null"
      run_steps:
        type:
          - array
          - "null"
      should_start_at:
        type:
          - string
          - "null"
      started_at:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      status_humanized:
        type:
          - string
          - "null"
      status_message:
        type:
          - string
          - "null"
      trigger_id:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - number
          - "null"
      account_id:
        type:
          - number
          - "null"
      connection:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          account_id:
            type:
              - number
              - "null"
          adapter_version:
            type:
              - string
              - "null"
          catalog_ingestion_enabled:
            type:
              - boolean
              - "null"
          cost_insights_enabled:
            type:
              - boolean
              - "null"
          cost_management_enabled:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          created_by_id:
            type:
              - number
              - "null"
          details:
            type:
              - object
              - "null"
            properties:
              account:
                type:
                  - string
                  - "null"
              allow_sso:
                type:
                  - boolean
                  - "null"
              client_session_keep_alive:
                type:
                  - boolean
                  - "null"
              database:
                type:
                  - string
                  - "null"
              is_configured_for_oauth:
                type:
                  - boolean
                  - "null"
              role:
                type:
                  - string
                  - "null"
              warehouse:
                type:
                  - string
                  - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          oauth_redirect_uri:
            type:
              - string
              - "null"
          project_id:
            type:
              - number
              - "null"
          state:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
      connection_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      group_permissions:
        type:
          - array
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      repository:
        type:
          - object
          - "null"
        properties:
          account_id:
            type:
              - number
              - "null"
          created_at:
            type:
              - string
              - "null"
          deploy_key:
            type:
              - object
              - "null"
            properties:
              account_id:
                type:
                  - number
                  - "null"
              id:
                type:
                  - number
                  - "null"
              public_key:
                type:
                  - string
                  - "null"
              state:
                type:
                  - number
                  - "null"
          deploy_key_id:
            type:
              - number
              - "null"
          full_name:
            type:
              - string
              - "null"
          git_clone_strategy:
            type:
              - string
              - "null"
          github_installation_id:
            type:
              - number
              - "null"
          github_repo:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          is_private_link_enabled:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          project_id:
            type:
              - number
              - "null"
          pull_request_url_template:
            type:
              - string
              - "null"
          remote_backend:
            type:
              - string
              - "null"
          remote_url:
            type:
              - string
              - "null"
          state:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
          web_url:
            type:
              - string
              - "null"
      repository_id:
        type:
          - number
          - "null"
      skipped_setup:
        type:
          - boolean
          - "null"
      state:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  repositories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      deploy_key:
        type:
          - object
          - "null"
        properties:
          account_id:
            type:
              - number
              - "null"
          id:
            type:
              - number
              - "null"
          public_key:
            type:
              - string
              - "null"
          state:
            type:
              - number
              - "null"
      deploy_key_id:
        type:
          - number
          - "null"
      full_name:
        type:
          - string
          - "null"
      git_clone_strategy:
        type:
          - string
          - "null"
      github_installation_id:
        type:
          - number
          - "null"
      github_repo:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      project_id:
        type:
          - number
          - "null"
      pull_request_url_template:
        type:
          - string
          - "null"
      remote_backend:
        type:
          - string
          - "null"
      remote_url:
        type:
          - string
          - "null"
      state:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      auth_provider_infos:
        type:
          - object
          - "null"
      created_at:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      email_verified:
        type:
          - boolean
          - "null"
      first_name:
        type:
          - string
          - "null"
      fullname:
        type:
          - string
          - "null"
      id:
        type: number
      is_active:
        type:
          - boolean
          - "null"
      is_staff:
        type:
          - boolean
          - "null"
      last_login:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      licenses:
        type:
          - object
          - "null"
        properties:
          "70471823479472":
            type:
              - object
              - "null"
            properties:
              account_id:
                type:
                  - number
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              groups:
                type:
                  - array
                  - "null"
              id:
                type:
                  - number
                  - "null"
              license_type:
                type:
                  - string
                  - "null"
              scim_managed:
                type:
                  - boolean
                  - "null"
              state:
                type:
                  - number
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              user_id:
                type:
                  - number
                  - "null"
          "70471823485136":
            type:
              - object
              - "null"
            properties:
              account_id:
                type:
                  - number
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              groups:
                type:
                  - array
                  - "null"
              id:
                type:
                  - number
                  - "null"
              license_type:
                type:
                  - string
                  - "null"
              scim_managed:
                type:
                  - boolean
                  - "null"
              state:
                type:
                  - number
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              user_id:
                type:
                  - number
                  - "null"
      permissions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            account_id:
              type:
                - number
                - "null"
            created_at:
              type:
                - string
                - "null"
            groups:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  account_id:
                    type:
                      - number
                      - "null"
                  assign_by_default:
                    type:
                      - boolean
                      - "null"
                  created_at:
                    type:
                      - string
                      - "null"
                  group_permissions:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        account_id:
                          type:
                            - number
                            - "null"
                        all_projects:
                          type:
                            - boolean
                            - "null"
                        created_at:
                          type:
                            - string
                            - "null"
                        group_id:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - number
                            - "null"
                        permission_set:
                          type:
                            - string
                            - "null"
                        state:
                          type:
                            - number
                            - "null"
                        updated_at:
                          type:
                            - string
                            - "null"
                        writable_environment_categories:
                          type:
                            - array
                            - "null"
                  id:
                    type:
                      - number
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  sso_mapping_groups:
                    type:
                      - array
                      - "null"
                  state:
                    type:
                      - number
                      - "null"
                  updated_at:
                    type:
                      - string
                      - "null"
            id:
              type:
                - number
                - "null"
            license_type:
              type:
                - string
                - "null"
            permission_statements:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  all_resources:
                    type:
                      - boolean
                      - "null"
                  permission:
                    type:
                      - string
                      - "null"
                  target_resource:
                    type:
                      - number
                      - "null"
                  writable_environment_categories:
                    type:
                      - array
                      - "null"
            scim_managed:
              type:
                - boolean
                - "null"
            state:
              type:
                - number
                - "null"
            updated_at:
              type:
                - string
                - "null"
            user_id:
              type:
                - number
                - "null"
      show_existing_user_email_verification:
        type:
          - boolean
          - "null"
    required:
      - id
  environments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      account_id:
        type:
          - number
          - "null"
      connection_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      credentials:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          account_id:
            type:
              - number
              - "null"
          adapter_version:
            type:
              - string
              - "null"
          auth_type:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          database:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          is_configured_for_oauth:
            type:
              - boolean
              - "null"
          project_id:
            type:
              - number
              - "null"
          role:
            type:
              - string
              - "null"
          schema:
            type:
              - string
              - "null"
          state:
            type:
              - number
              - "null"
          target_name:
            type:
              - string
              - "null"
          threads:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
          user:
            type:
              - string
              - "null"
          warehouse:
            type:
              - string
              - "null"
      credentials_id:
        type:
          - number
          - "null"
      dbt_version:
        type:
          - string
          - "null"
      deployment_type:
        type:
          - string
          - "null"
      enable_model_query_history:
        type:
          - boolean
          - "null"
      extended_attributes_id:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - number
              - "null"
          account_id:
            type:
              - number
              - "null"
          connection:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              account_id:
                type:
                  - number
                  - "null"
              adapter_version:
                type:
                  - string
                  - "null"
              catalog_ingestion_enabled:
                type:
                  - boolean
                  - "null"
              cost_insights_enabled:
                type:
                  - boolean
                  - "null"
              cost_management_enabled:
                type:
                  - boolean
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              created_by_id:
                type:
                  - number
                  - "null"
              details:
                type:
                  - object
                  - "null"
                properties:
                  account:
                    type:
                      - string
                      - "null"
                  allow_sso:
                    type:
                      - boolean
                      - "null"
                  client_session_keep_alive:
                    type:
                      - boolean
                      - "null"
                  database:
                    type:
                      - string
                      - "null"
                  is_configured_for_oauth:
                    type:
                      - boolean
                      - "null"
                  role:
                    type:
                      - string
                      - "null"
                  warehouse:
                    type:
                      - string
                      - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              oauth_redirect_uri:
                type:
                  - string
                  - "null"
              project_id:
                type:
                  - number
                  - "null"
              state:
                type:
                  - number
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
          connection_id:
            type:
              - number
              - "null"
          created_at:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          repository:
            type:
              - object
              - "null"
            properties:
              account_id:
                type:
                  - number
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              deploy_key:
                type:
                  - object
                  - "null"
                properties:
                  account_id:
                    type:
                      - number
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  public_key:
                    type:
                      - string
                      - "null"
                  state:
                    type:
                      - number
                      - "null"
              deploy_key_id:
                type:
                  - number
                  - "null"
              full_name:
                type:
                  - string
                  - "null"
              git_clone_strategy:
                type:
                  - string
                  - "null"
              github_installation_id:
                type:
                  - number
                  - "null"
              github_repo:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              is_private_link_enabled:
                type:
                  - boolean
                  - "null"
              name:
                type:
                  - string
                  - "null"
              project_id:
                type:
                  - number
                  - "null"
              pull_request_url_template:
                type:
                  - string
                  - "null"
              remote_backend:
                type:
                  - string
                  - "null"
              remote_url:
                type:
                  - string
                  - "null"
              state:
                type:
                  - number
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              web_url:
                type:
                  - string
                  - "null"
          repository_id:
            type:
              - number
              - "null"
          skipped_setup:
            type:
              - boolean
              - "null"
          state:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
      project_id:
        type:
          - number
          - "null"
      raw_dbt_version:
        type:
          - string
          - "null"
      secondary_profile_ids:
        type:
          - array
          - "null"
      secondary_profiles:
        type:
          - array
          - "null"
      state:
        type:
          - number
          - "null"
      supports_docs:
        type:
          - boolean
          - "null"
      updated_at:
        type:
          - string
          - "null"
      use_custom_branch:
        type:
          - boolean
          - "null"
    required:
      - id
  jobs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account_id:
        type:
          - number
          - "null"
      compare_changes_flags:
        type:
          - string
          - "null"
      cost_optimization_features:
        type:
          - array
          - "null"
      created_at:
        type:
          - string
          - "null"
      cron_humanized:
        type:
          - string
          - "null"
      deactivated:
        type:
          - boolean
          - "null"
      deferring_environment_id:
        type:
          - number
          - "null"
      environment_id:
        type:
          - number
          - "null"
      errors_on_lint_failure:
        type:
          - boolean
          - "null"
      execute_steps:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      execution:
        type:
          - object
          - "null"
        properties:
          timeout_seconds:
            type:
              - number
              - "null"
      force_node_selection:
        type:
          - boolean
          - "null"
      generate_docs:
        type:
          - boolean
          - "null"
      generate_sources:
        type:
          - boolean
          - "null"
      id:
        type: number
      is_deferrable:
        type:
          - boolean
          - "null"
      is_system:
        type:
          - boolean
          - "null"
      job_type:
        type:
          - string
          - "null"
      lifecycle_webhooks:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      next_run:
        type:
          - string
          - "null"
      next_run_humanized:
        type:
          - string
          - "null"
      project_id:
        type:
          - number
          - "null"
      run_compare_changes:
        type:
          - boolean
          - "null"
      run_failure_count:
        type:
          - number
          - "null"
      run_generate_sources:
        type:
          - boolean
          - "null"
      run_lint:
        type:
          - boolean
          - "null"
      schedule:
        type:
          - object
          - "null"
        properties:
          cron:
            type:
              - string
              - "null"
          date:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              cron:
                type:
                  - string
                  - "null"
              days:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
          time:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              interval:
                type:
                  - number
                  - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          target_name:
            type:
              - string
              - "null"
          threads:
            type:
              - number
              - "null"
      state:
        type:
          - number
          - "null"
      triggers:
        type:
          - object
          - "null"
        properties:
          git_provider_webhook:
            type:
              - boolean
              - "null"
          github_webhook:
            type:
              - boolean
              - "null"
          on_merge:
            type:
              - boolean
              - "null"
          schedule:
            type:
              - boolean
              - "null"
      triggers_on_draft_pr:
        type:
          - boolean
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
