version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - user
    - team
    - space
    - folder
    - list
    - task

definitions:
  streams:
    user:
      type: DeclarativeStream
      name: user
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: /user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/user'
    team:
      type: DeclarativeStream
      name: team
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: /team
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - '{{ parameters[''name'']}}s'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/team'
    list:
      type: DeclarativeStream
      name: list
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: folder/{{ config['folder_id'] }}/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - '{{ parameters[''name'']  }}s'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/list'
    space:
      type: DeclarativeStream
      name: space
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: team/{{ config['team_id'] }}/space
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - '{{ parameters[''name'']  }}s'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/space'
    folder:
      type: DeclarativeStream
      name: folder
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: space/{{ config['space_id'] }}/folder
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - '{{ parameters[''name'']  }}s'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/folder'
    task:
      type: DeclarativeStream
      name: task
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: list/{{ config['list_id'] }}/task
          http_method: GET
          request_parameters:
            include_closed: '{{ config[''include_closed_tasks'']|lower }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - '{{ parameters[''name'']  }}s'
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
            name: task
            url_base: https://api.clickup.com/api/v2
            $parameters:
              name: task
              url_base: https://api.clickup.com/api/v2
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1
            name: task
            url_base: https://api.clickup.com/api/v2
            $parameters:
              name: task
              url_base: https://api.clickup.com/api/v2
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/task'
  base_requester:
    type: HttpRequester
    url_base: https://api.clickup.com/api/v2
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config[''api_token''] }}'
      name: user
      url_base: https://api.clickup.com/api/v2
      $parameters:
        name: user
        url_base: https://api.clickup.com/api/v2
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: '#/definitions/streams/user'
  - $ref: '#/definitions/streams/team'
  - $ref: '#/definitions/streams/list'
  - $ref: '#/definitions/streams/space'
  - $ref: '#/definitions/streams/folder'
  - $ref: '#/definitions/streams/task'

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        description: >-
          Every ClickUp API call required authentication. This field is your
          personal API token. See <a
          href="https://clickup.com/api/developer-portal/authentication/#personal-token">here</a>.
        airbyte_secret: true
        order: 0
      folder_id:
        type: string
        description: >-
          The ID of your folder in your space. Retrieve it from the
          `/space/{space_id}/folder` of the ClickUp API. See <a
          href="https://clickup.com/api/clickupreference/operation/GetFolders/">here</a>.
        order: 1
      include_closed_tasks:
        type: boolean
        title: Include Closed Tasks
        default: false
        description: >-
          Include or exclude closed tasks. By default, they are excluded. See <a
          https://clickup.com/api/clickupreference/operation/GetTasks/#!in=query&path=include_closed&t=request">here</a>.
        order: 2
      list_id:
        type: string
        description: >-
          The ID of your list in your folder. Retrieve it from the
          `/folder/{folder_id}/list` of the ClickUp API. See <a
          href="https://clickup.com/api/clickupreference/operation/GetLists/">here</a>.
        order: 3
      space_id:
        type: string
        description: >-
          The ID of your space in your workspace. Retrieve it from the
          `/team/{team_id}/space` of the ClickUp API. See <a
          href="https://clickup.com/api/clickupreference/operation/GetSpaces/">here</a>.
        order: 4
      team_id:
        type: string
        description: >-
          The ID of your team in ClickUp. Retrieve it from the `/team` of the
          ClickUp API. See <a
          href="https://clickup.com/api/clickupreference/operation/GetAuthorizedTeams/">here</a>.
        order: 5
    additionalProperties: true

metadata:
  autoImportSchema:
    user: false
    team: false
    list: false
    space: false
    folder: false
    task: false

schemas:
  user:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      user:
        type: object
        properties:
          color:
            type:
              - 'null'
              - string
          id:
            type:
              - 'null'
              - integer
          profilePicture:
            type:
              - 'null'
              - string
          username:
            type:
              - 'null'
              - string
    additionalProperties: true
  team:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      avatar:
        type:
          - 'null'
          - string
      color:
        type:
          - 'null'
          - string
      id:
        type:
          - 'null'
          - string
      members:
        type: array
        items:
          type: object
          properties:
            color:
              type:
                - 'null'
                - string
            id:
              type:
                - 'null'
                - integer
            profilePicture:
              type:
                - 'null'
                - string
            username:
              type:
                - 'null'
                - string
      name:
        type:
          - 'null'
          - string
    additionalProperties: true
  list:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      archived:
        type:
          - 'null'
          - boolean
      assignee:
        type:
          - 'null'
          - string
      content:
        type:
          - 'null'
          - string
      due_date:
        type:
          - 'null'
          - string
      folder:
        type:
          - 'null'
          - object
        properties:
          access:
            type:
              - 'null'
              - boolean
          hidden:
            type:
              - 'null'
              - boolean
          id:
            type:
              - 'null'
              - string
          name:
            type:
              - 'null'
              - string
      id:
        type:
          - 'null'
          - string
      name:
        type:
          - 'null'
          - string
      orderindex:
        type:
          - 'null'
          - integer
      override_statuses:
        type:
          - 'null'
          - boolean
      permission_level:
        type:
          - 'null'
          - string
      priority:
        type:
          - 'null'
          - string
      space:
        type:
          - 'null'
          - object
        properties:
          access:
            type:
              - 'null'
              - boolean
          id:
            type:
              - 'null'
              - string
          name:
            type:
              - 'null'
              - string
      start_date:
        type:
          - 'null'
          - string
      status:
        type:
          - 'null'
          - string
          - object
      task_count:
        type:
          - 'null'
          - integer
    additionalProperties: true
  space:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      assignees:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
      features:
        type:
          - 'null'
          - object
        properties:
          checklists:
            type:
              - 'null'
              - object
            properties:
              enabled:
                type:
                  - 'null'
                  - boolean
          due_dates:
            type:
              - 'null'
              - object
            properties:
              enabled:
                type:
                  - 'null'
                  - boolean
              remap_closed_due_date:
                type:
                  - 'null'
                  - boolean
              remap_due_dates:
                type:
                  - 'null'
                  - boolean
              start_date:
                type:
                  - 'null'
                  - boolean
          tags:
            type:
              - 'null'
              - object
            properties:
              enabled:
                type:
                  - 'null'
                  - boolean
          time_estimates:
            type:
              - 'null'
              - object
            properties:
              enabled:
                type:
                  - 'null'
                  - boolean
          time_tracking:
            type:
              - 'null'
              - object
            properties:
              enabled:
                type:
                  - 'null'
                  - boolean
      id:
        type:
          - 'null'
          - string
      multiple_assignees:
        type:
          - 'null'
          - boolean
      name:
        type:
          - 'null'
          - string
      private:
        type:
          - 'null'
          - boolean
      statuses:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
          properties:
            type:
              type:
                - 'null'
                - string
            color:
              type:
                - 'null'
                - string
            orderindex:
              type:
                - 'null'
                - integer
            status:
              type:
                - 'null'
                - string
    additionalProperties: true
  folder:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      hidden:
        type:
          - 'null'
          - boolean
      id:
        type:
          - 'null'
          - string
      lists:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
      name:
        type:
          - 'null'
          - string
      orderindex:
        type:
          - 'null'
          - integer
      override_statuses:
        type:
          - 'null'
          - boolean
      space:
        type:
          - 'null'
          - object
        properties:
          access:
            type:
              - 'null'
              - boolean
          id:
            type:
              - 'null'
              - string
          name:
            type:
              - 'null'
              - string
      task_count:
        type:
          - 'null'
          - string
    additionalProperties: true
  task:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      assignees:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
      checklists:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
      creator:
        type:
          - 'null'
          - object
        properties:
          color:
            type:
              - 'null'
              - string
          id:
            type:
              - 'null'
              - integer
          profilePicture:
            type:
              - 'null'
              - string
          username:
            type:
              - 'null'
              - string
      date_closed:
        type:
          - 'null'
          - string
      date_created:
        type:
          - 'null'
          - string
      date_updated:
        type:
          - 'null'
          - string
      due_date:
        type:
          - 'null'
          - string
      folder:
        type:
          - 'null'
          - object
        properties:
          id:
            type:
              - 'null'
              - string
      id:
        type:
          - 'null'
          - string
      list:
        type: object
        properties:
          id:
            type:
              - 'null'
              - string
      name:
        type:
          - 'null'
          - string
      orderindex:
        type:
          - 'null'
          - string
      parent:
        type:
          - 'null'
          - string
      priority:
        type:
          - 'null'
          - object
      space:
        type: object
        properties:
          id:
            type:
              - 'null'
              - string
      start_date:
        type:
          - 'null'
          - string
      status:
        type:
          - 'null'
          - object
        properties:
          type:
            type:
              - 'null'
              - string
          color:
            type:
              - 'null'
              - string
          orderindex:
            type:
              - 'null'
              - integer
          status:
            type:
              - 'null'
              - string
      tags:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
      time_estimate:
        type:
          - 'null'
          - string
      time_spent:
        type:
          - 'null'
          - string
      url:
        type:
          - 'null'
          - string
    additionalProperties: true
