version: 0.79.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - user

definitions:
  singleSelector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []
  arraySelector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["{{ parameters['name']  }}s"]
  requester:
    type: HttpRequester
    http_method: "GET"
    authenticator:
      type: ApiKeyAuthenticator
      header: "Authorization"
      api_token: "{{ config['api_token'] }}"
  paginator:
    type: NoPagination
  retriever:
    type: SimpleRetriever
    $parameters:
      url_base: "https://api.clickup.com/api/v2"

streams:
  - type: DeclarativeStream
    $parameters:
      name: "user"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "/user"
      paginator:
        $ref: "#/definitions/paginator"
      record_selector:
        $ref: "#/definitions/singleSelector"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          user:
            type: object
            properties:
              id:
                type:
                  - "null"
                  - integer
              username:
                type:
                  - "null"
                  - string
              color:
                type:
                  - "null"
                  - string
              profilePicture:
                type:
                  - "null"
                  - string
  - type: DeclarativeStream
    $parameters:
      name: "team"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "/team"
      paginator:
        $ref: "#/definitions/paginator"
      record_selector:
        $ref: "#/definitions/arraySelector"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          color:
            type:
              - "null"
              - string
          avatar:
            type:
              - "null"
              - string
          members:
            type: array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - integer
                username:
                  type:
                    - "null"
                    - string
                color:
                  type:
                    - "null"
                    - string
                profilePicture:
                  type:
                    - "null"
                    - string
  - type: DeclarativeStream
    $parameters:
      name: "list"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "folder/{{ config['folder_id'] }}/list"
      paginator:
        $ref: "#/definitions/paginator"
      record_selector:
        $ref: "#/definitions/arraySelector"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          orderindex:
            type:
              - "null"
              - integer
          content:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
              - object
          priority:
            type:
              - "null"
              - string
          assignee:
            type:
              - "null"
              - string
          task_count:
            type:
              - "null"
              - integer
          due_date:
            type:
              - "null"
              - string
          start_date:
            type:
              - "null"
              - string
          archived:
            type:
              - "null"
              - boolean
          override_statuses:
            type:
              - "null"
              - boolean
          permission_level:
            type:
              - "null"
              - string
          folder:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
              hidden:
                type:
                  - "null"
                  - boolean
              access:
                type:
                  - "null"
                  - boolean
          space:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
              access:
                type:
                  - "null"
                  - boolean
  - type: DeclarativeStream
    $parameters:
      name: "space"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "team/{{ config['team_id'] }}/space"
      paginator:
        $ref: "#/definitions/paginator"
      record_selector:
        $ref: "#/definitions/arraySelector"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          statuses:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                status:
                  type:
                    - "null"
                    - string
                color:
                  type:
                    - "null"
                    - string
                orderindex:
                  type:
                    - "null"
                    - integer
                type:
                  type:
                    - "null"
                    - string
          private:
            type:
              - "null"
              - boolean
          multiple_assignees:
            type:
              - "null"
              - boolean
          assignees:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
          features:
            type:
              - "null"
              - object
            properties:
              due_dates:
                type:
                  - "null"
                  - object
                properties:
                  enabled:
                    type:
                      - "null"
                      - boolean
                  start_date:
                    type:
                      - "null"
                      - boolean
                  remap_due_dates:
                    type:
                      - "null"
                      - boolean
                  remap_closed_due_date:
                    type:
                      - "null"
                      - boolean
              time_tracking:
                type:
                  - "null"
                  - object
                properties:
                  enabled:
                    type:
                      - "null"
                      - boolean
              tags:
                type:
                  - "null"
                  - object
                properties:
                  enabled:
                    type:
                      - "null"
                      - boolean
              time_estimates:
                type:
                  - "null"
                  - object
                properties:
                  enabled:
                    type:
                      - "null"
                      - boolean
              checklists:
                type:
                  - "null"
                  - object
                properties:
                  enabled:
                    type:
                      - "null"
                      - boolean
  - type: DeclarativeStream
    $parameters:
      name: "folder"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "space/{{ config['space_id'] }}/folder"
      paginator:
        $ref: "#/definitions/paginator"
      record_selector:
        $ref: "#/definitions/arraySelector"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          orderindex:
            type:
              - "null"
              - integer
          override_statuses:
            type:
              - "null"
              - boolean
          hidden:
            type:
              - "null"
              - boolean
          task_count:
            type:
              - "null"
              - string
          lists:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
          space:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
              access:
                type:
                  - "null"
                  - boolean
  - type: DeclarativeStream
    $parameters:
      name: "task"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "list/{{ config['list_id'] }}/task"
        request_parameters:
          include_closed: "{{ config['include_closed_tasks']|lower }}"
      record_selector:
        $ref: "#/definitions/arraySelector"
      paginator:
        type: DefaultPaginator
        page_size_option:
          inject_into: "request_parameter"
          field_name: "page_size"
        pagination_strategy:
          type: "OffsetIncrement"
          page_size: 1
        page_token_option:
          type: RequestOption
          field_name: "page"
          inject_into: "request_parameter"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - object
            properties:
              status:
                type:
                  - "null"
                  - string
              color:
                type:
                  - "null"
                  - string
              orderindex:
                type:
                  - "null"
                  - integer
              type:
                type:
                  - "null"
                  - string
          orderindex:
            type:
              - "null"
              - string
          date_created:
            type:
              - "null"
              - string
          date_updated:
            type:
              - "null"
              - string
          date_closed:
            type:
              - "null"
              - string
          creator:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - integer
              username:
                type:
                  - "null"
                  - string
              color:
                type:
                  - "null"
                  - string
              profilePicture:
                type:
                  - "null"
                  - string
          assignees:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
          checklists:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
          tags:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
          parent:
            type:
              - "null"
              - string
          priority:
            type:
              - "null"
              - object
          due_date:
            type:
              - "null"
              - string
          start_date:
            type:
              - "null"
              - string
          time_estimate:
            type:
              - "null"
              - string
          time_spent:
            type:
              - "null"
              - string
          url:
            type:
              - "null"
              - string
          folder:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
          space:
            type: object
            properties:
              id:
                type:
                  - "null"
                  - string
          list:
            type: object
            properties:
              id:
                type:
                  - "null"
                  - string

spec:
  type: Spec
  documentation_url: https://docsurl.com
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: ClickUp Api Spec
    type: object
    required:
      - api_token
    additionalProperties: true
    properties:
      # 'TODO: This schema defines the configuration required for the source. This usually involves metadata such as database and/or authentication information.':
      api_token:
        type: string
        description: >-
          Every ClickUp API call required authentication. This field is your personal API token. See <a
          href="https://clickup.com/api/developer-portal/authentication/#personal-token">here</a>.
        airbyte_secret: true
      team_id:
        type: string
        description: >-
          The ID of your team in ClickUp. Retrieve it from the `/team` of the ClickUp API. See <a
          href="https://clickup.com/api/clickupreference/operation/GetAuthorizedTeams/">here</a>.
      space_id:
        type: string
        description: >-
          The ID of your space in your workspace. Retrieve it from the `/team/{team_id}/space` of the ClickUp API. See <a
          href="https://clickup.com/api/clickupreference/operation/GetSpaces/">here</a>.
      folder_id:
        type: string
        description: >-
          The ID of your folder in your space. Retrieve it from the `/space/{space_id}/folder` of the ClickUp API. See <a
          href="https://clickup.com/api/clickupreference/operation/GetFolders/">here</a>.
      list_id:
        type: string
        description: >-
          The ID of your list in your folder. Retrieve it from the `/folder/{folder_id}/list` of the ClickUp API. See <a
          href="https://clickup.com/api/clickupreference/operation/GetLists/">here</a>.
      include_closed_tasks:
        title: Include Closed Tasks
        type: boolean
        default: false
        description: >-
          Include or exclude closed tasks. By default, they are excluded. See <a
          https://clickup.com/api/clickupreference/operation/GetTasks/#!in=query&path=include_closed&t=request">here</a>.
