@use "scss/colors";

.schemaHeader {
  min-height: 41px;
  height: 41px;
  background: colors.$blue-400;
  border-radius: 8px 8px 0 0;
}

.actionButton {
  white-space: nowrap;
}

.actionCell {
  display: flex;
}
