%catalogHeader {
  min-height: 33px;
  margin-bottom: 0 !important;
  margin-left: 20px;
}

.catalogSubheader {
  @extend %catalogHeader;

  padding-top: 10px;
}

.readonlyCatalogSubheader {
  @extend %catalogHeader;

  padding-top: 10px;
  margin-left: 115px;
}
