@use "scss/variables";

.catalogTreeTable {
  padding: variables.$spacing-lg variables.$spacing-xl 0;
  overflow-y: auto;
  margin-bottom: variables.$spacing-xl;

  &.newCatalogTreeTable {
    padding: 0;
  }
}
