@use "scss/variables";

.catalogTreeTable {
  flex: 1;
  padding: variables.$spacing-lg variables.$spacing-xl 0;
  margin-bottom: variables.$spacing-xl;

  &.scrollable {
    overflow-y: auto;
  }

  &.newCatalogTreeTable {
    padding: 0;
  }
}
