@use "scss/variables";

%catalogHeader {
  min-height: 33px;
  padding-left: 40px;
  margin: 0 variables.$spacing-xl;
  margin-bottom: 0 !important;
}

.catalogSubheader {
  @extend %catalogHeader;

  padding-top: 10px;
}

.readonlyCatalogSubheader {
  @extend %catalogHeader;

  padding-top: 10px;
  padding-left: 0;
  margin-left: 0;
}
