@use "scss/variables";

%headerCell {
  font-size: 10px;
  line-height: 13px;
}

.checkboxCell {
  @extend %headerCell;

  max-width: 43px;
  padding-left: variables.$spacing-sm;
}

.catalogHeader,
%catalogHeader {
  min-height: 33px;
  margin: 0 variables.$spacing-xl;
  margin-bottom: 0 !important;
  padding: variables.$spacing-xl 0 0 20px;
}

.readonlyCatalogHeader {
  @extend %catalogHeader;

  padding-left: 50px;
}

.nextLineText {
  margin-top: 10px;
}
