@use "scss/colors";
@use "scss/variables";
@forward "./CatalogTreeHeader.module.scss";

$icon-size: 20px;

.icon {
  width: $icon-size;
  height: $icon-size;
  display: flex;
  align-items: center;
  justify-content: center;

  &.plus {
    color: colors.$green;
  }

  &.minus {
    color: colors.$red;
  }
}

.streamRowCheckboxCell {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.streamHeaderContent {
  background: colors.$grey-50;
  transition: background-color variables.$transition;
  width: 100%;
  padding: 2px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  height: 50px;
}

.catalogSectionRow {
  height: 100%;
  white-space: nowrap;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.redBackground {
  background-color: colors.$red-50;
}

.greenBackground {
  background-color: colors.$green-50;
}

.redBorder {
  border: 1px solid colors.$red;
}

.purpleBackground {
  background-color: colors.$blue-40;
}

.noHeader {
  color: colors.$grey-300;
}
