version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - docker_hub

definitions:
  streams:
    docker_hub:
      type: DeclarativeStream
      name: docker_hub
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: repositories/{{ config['docker_username'] }}/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/docker_hub'
  base_requester:
    type: HttpRequester
    url_base: https://hub.docker.com/v2/
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        url_base: >-
          https://auth.docker.io/token?service=registry.docker.io&scope=repository:library/alpine:pull
        path: ""
        authenticator:
          type: NoAuth
        http_method: GET
        request_parameters: {}
        request_headers: {}
      session_token_path: []
      request_authentication:
        type: ApiKey
        inject_into:
          type: RequestOption
          field_name: Authorization
          inject_into: header

streams:
  - $ref: '#/definitions/streams/docker_hub'

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - docker_username
    properties:
      docker_username:
        type: string
        order: 0
        title: Docker Username
        description: >-
          Username of DockerHub person or organization (for
          https://hub.docker.com/v2/repositories/USERNAME/ API call)
        pattern: ^[a-z0-9_\-]+$
        examples:
          - airbyte
    additionalProperties: true

metadata:
  autoImportSchema:
    docker_hub: false

schemas:
  docker_hub:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      affiliation:
        type:
          - 'null'
          - string
        description: The affiliation of the user or organization that owns the repository.
      can_edit:
        type:
          - 'null'
          - boolean
        description: Indicates whether the user has edit permissions for the repository.
      collaborator_count:
        type:
          - 'null'
          - integer
        description: The count of collaborators associated with the repository.
      content_types:
        type:
          - 'null'
          - array
        description: The content types supported by the repository.
        items:
          type:
            - 'null'
            - string
      date_registered:
        type:
          - 'null'
          - string
        description: The date when the repository was registered on Docker Hub.
      description:
        type:
          - 'null'
          - string
        description: The description of the repository.
      hub_user:
        type:
          - 'null'
          - string
        description: The user associated with the repository on Docker Hub.
      is_automated:
        type:
          - 'null'
          - boolean
        description: Indicates whether the repository is automated.
      is_migrated:
        type:
          - 'null'
          - boolean
        description: Indicates whether the repository has been migrated.
      is_private:
        type:
          - 'null'
          - boolean
        description: Indicates whether the repository is private.
      last_updated:
        type:
          - 'null'
          - string
        description: The date when the repository was last updated.
      media_types:
        type:
          - 'null'
          - array
        description: The media types supported by the repository.
        items:
          type:
            - 'null'
            - string
      name:
        type:
          - 'null'
          - string
        description: The name of the repository.
      namespace:
        type:
          - 'null'
          - string
        description: The namespace associated with the repository.
      pull_count:
        type:
          - 'null'
          - integer
        description: The count of pulls or downloads for the repository.
      repository_type:
        type:
          - 'null'
          - string
        description: The type of the repository.
      star_count:
        type:
          - 'null'
          - integer
        description: The count of stars or likes for the repository.
      status:
        type:
          - 'null'
          - integer
        description: The status of the repository.
      status_description:
        type:
          - 'null'
          - string
        description: The description of the status of the repository.
      user:
        type:
          - 'null'
          - string
        description: The user associated with the repository.
