version: 4.6.2

type: DeclarativeSource

description: Sync your scheduled meetings and scheduling links from SavvyCal!

check:
  type: CheckStream
  stream_names:
    - events

definitions:
  streams:
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.metadata.after }}"
            stop_condition: "{{ response.metadata.after is none }}"
      transformations:
        - type: AddFields
          fields:
            - path:
                - scheduler_name
              value: '{{ record["scheduler"]["display_name"] }}'
        - type: AddFields
          fields:
            - path:
                - scheduler_email
              value: '{{ record["scheduler"]["email"] }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    scheduling_links:
      type: DeclarativeStream
      name: scheduling_links
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/links
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.metadata.after }}"
            stop_condition: "{{ response.metadata.after is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scheduling_links"
    timezones:
      type: DeclarativeStream
      name: timezones
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/time_zones
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/timezones"
  base_requester:
    type: HttpRequester
    url_base: https://api.savvycal.com
    authenticator:
      type: BearerAuthenticator
      api_token: '{{ config["api_key"] }}'

streams:
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/scheduling_links"
  - $ref: "#/definitions/streams/timezones"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          Go to SavvyCal → Settings → Developer → Personal Tokens and make a new
          token. Then, copy the private key. https://savvycal.com/developers
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    events: false
    scheduling_links: false
    timezones: false
  testedStreams:
    events:
      streamHash: 983fbfcd76c950fb5a2e529e77be8c8cb53153a6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    scheduling_links:
      streamHash: 41c519374dbff290916742ae064487485e0043e3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    timezones:
      streamHash: e0aa739a05ae7c75ffc6d8e624102c52241d9744
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://savvycal.com/docs/api/

schemas:
  events:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    required:
      - id
    properties:
      id:
        type: string
      uuid:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      additional_info:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      location_settings:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      conferencing:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          type:
            type:
              - string
              - "null"
          join_url:
            type:
              - string
              - "null"
          meeting_id:
            type:
              - string
              - "null"
          instructions:
            type:
              - string
              - "null"
      description_settings:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          include_attendees:
            type:
              - boolean
              - "null"
          include_fields:
            type:
              - boolean
              - "null"
          include_link_name:
            type:
              - boolean
              - "null"
      start_at:
        type:
          - string
          - "null"
        format: date-time
      end_at:
        type:
          - string
          - "null"
        format: date-time
      duration:
        type:
          - integer
          - "null"
      buffer_before:
        type:
          - integer
          - "null"
      buffer_after:
        type:
          - integer
          - "null"
      is_group_session:
        type:
          - boolean
          - "null"
      maximum_group_size:
        type:
          - integer
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
      canceled_at:
        type:
          - string
          - "null"
        format: date-time
      cancel_reason:
        type:
          - string
          - "null"
      rescheduled_at:
        type:
          - string
          - "null"
        format: date-time
      reschedule_reason:
        type:
          - string
          - "null"
      original_start_at:
        type:
          - string
          - "null"
        format: date-time
      original_end_at:
        type:
          - string
          - "null"
        format: date-time
      attendees:
        type:
          - array
          - "null"
        items:
          $ref: "#/schemas/events/definitions/attendee"
      organizer:
        $ref: "#/schemas/events/definitions/attendee"
      scheduler:
        $ref: "#/schemas/events/definitions/attendee"
      scheduler_name:
        type:
          - string
          - "null"
      scheduler_email:
        type:
          - string
          - "null"
      link:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
      scope:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
      poll:
        type:
          - object
          - "null"
        additionalProperties: true
      payment:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          amount_total:
            type:
              - integer
              - "null"
          state:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
      metadata:
        type:
          - object
          - "null"
        additionalProperties: true
    definitions:
      attendee:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          phone_number:
            type:
              - string
              - "null"
          time_zone:
            type:
              - string
              - "null"
          is_organizer:
            type:
              - boolean
              - "null"
          marketing_opt_in:
            type:
              - boolean
              - "null"
          response_status:
            type:
              - string
              - "null"
          fields:
            type:
              - array
              - "null"
            items:
              type: object
              additionalProperties: true
  scheduling_links:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    required:
      - id
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      private_name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      default_duration:
        type:
          - integer
          - "null"
      durations:
        type:
          - array
          - "null"
        items:
          type:
            - integer
            - "null"
      increment:
        type:
          - integer
          - "null"
      fields:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - string
                - "null"
            label:
              type:
                - string
                - "null"
            type:
              type:
                - string
                - "null"
            is_required:
              type:
                - boolean
                - "null"
      scope:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
  timezones:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    required:
      - id
    properties:
      id:
        type: string
      abbreviation:
        type:
          - string
          - "null"
      aliases:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      canonical:
        type:
          - boolean
          - "null"
      dst:
        type:
          - boolean
          - "null"
      formatted_offset:
        type:
          - string
          - "null"
      generic_long_name:
        type:
          - string
          - "null"
      golden:
        type:
          - boolean
          - "null"
      legacy:
        type:
          - boolean
          - "null"
      long_name:
        type:
          - string
          - "null"
      metazone:
        type:
          - object
          - "null"
        additionalProperties: true
      offset:
        type:
          - integer
          - "null"
      offset_std:
        type:
          - integer
          - "null"
      offset_utc:
        type:
          - integer
          - "null"
      period:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          from:
            type:
              - string
              - "null"
            format: date-time
          until:
            type:
              - string
              - "null"
            format: date-time
      windows_zone:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          name:
            type:
              - string
              - "null"
