version: 5.8.1

type: DeclarativeSource

description: |
  The Simplesat source connector which ingests data from the Simplesat API.
  Simplesat is a engaging survey tool for service businesses to gather insight and feedback from their customers.

  The source supports 3 of the endpoints from the API (questions, surveys and answers)
  For more information, checkout the website https://www.simplesat.io/
  
  An API key is required for authentication and using this connector.
  In order to obtain an API key, you must first create a Simplesat account.
  Once logged-in, you will find your API key in the account settings.
  You can find more about their API here https://documenter.getpostman.com/view/457268/UVRDGRZ2#fc3683b6-2933-425b-b4d1-faa8377de1ac

check:
  type: CheckStream
  stream_names:
    - surveys

definitions:
  streams:
    surveys:
      type: DeclarativeStream
      name: surveys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /surveys
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - surveys
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys"
    questions:
      type: DeclarativeStream
      name: questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: questions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - questions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/questions"
    answers:
      type: DeclarativeStream
      name: answers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: answers/search
          http_method: POST
          request_body_json:
            end_date: "{{ config[\"end_date\"] }}"
            start_date: "{{ config[\"start_date\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - answers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/answers"
    responses:
      type: DeclarativeStream
      name: responses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: responses/search
          http_method: POST
          request_body_json:
            end_date: "{{ config[\"end_date\"] }}"
            start_date: "{{ config[\"start_date\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - responses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/responses"
  base_requester:
    type: HttpRequester
    url_base: https://api.simplesat.io/api/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-Simplesat-Token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/surveys"
  - $ref: "#/definitions/streams/questions"
  - $ref: "#/definitions/streams/answers"
  - $ref: "#/definitions/streams/responses"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        description: Date from when the sync should start
        order: 1
        title: start_date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      end_date:
        type: string
        description: Date till when the sync should end
        order: 2
        title: end_date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    surveys: false
    questions: false
    answers: false
    responses: false
  testedStreams:
    surveys:
      hasRecords: true
      streamHash: 77a63c41e8ec96e420e9805c276d410e468895f8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    questions:
      hasRecords: true
      streamHash: de649b2c6afc23b26715903969596bd3f67099a0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    answers:
      streamHash: add13d224d14d2615ebc0a3dd5248f5c4c580ff4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    responses:
      streamHash: fd8facc4b6b7a8fd47c041936a83dfde5960401a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://documenter.getpostman.com/view/457268/SVfRt7WJ?version=latest

schemas:
  surveys:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      brand_name:
        type:
          - string
          - "null"
      id:
        type: number
      metric:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      survey_token:
        type:
          - string
          - "null"
      survey_type:
        type:
          - string
          - "null"
    required:
      - id
  questions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      choices:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: number
      metric:
        type:
          - string
          - "null"
      order:
        type:
          - number
          - "null"
      rating_scale:
        type:
          - boolean
          - "null"
      required:
        type:
          - boolean
          - "null"
      rules:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            action:
              type:
                - string
                - "null"
            conditions:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            question:
              type:
                - object
                - "null"
              properties:
                choices:
                  type:
                    - array
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                required:
                  type:
                    - boolean
                    - "null"
                rules:
                  type:
                    - array
                    - "null"
                text:
                  type:
                    - string
                    - "null"
      survey:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      text:
        type:
          - string
          - "null"
    required:
      - id
  answers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      choice:
        type:
          - string
          - "null"
      choice_label:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      follow_up_answer:
        type:
          - string
          - "null"
      id:
        type: number
      modified:
        type:
          - string
          - "null"
      published_as_testimonial:
        type:
          - boolean
          - "null"
      question:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          metric:
            type:
              - string
              - "null"
          text:
            type:
              - string
              - "null"
      response_id:
        type:
          - number
          - "null"
      sentiment:
        type:
          - string
          - "null"
      survey:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
    required:
      - id
  responses:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      answers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            choice:
              type:
                - string
                - "null"
            choice_label:
              type:
                - string
                - "null"
            follow_up_answer:
              type:
                - string
                - "null"
            follow_up_question:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                metric:
                  type:
                    - string
                    - "null"
                text:
                  type:
                    - string
                    - "null"
            id:
              type:
                - number
                - "null"
            question:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                metric:
                  type:
                    - string
                    - "null"
                text:
                  type:
                    - string
                    - "null"
            sentiment:
              type:
                - string
                - "null"
      created:
        type:
          - string
          - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          custom_attributes:
            type:
              - object
              - "null"
          email:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          tags:
            type:
              - array
              - "null"
      id:
        type: number
      ip_address:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      survey:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      ticket:
        type:
          - object
          - "null"
        properties:
          custom_attributes:
            type:
              - object
              - "null"
          external_id:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
    required:
      - id
    additionalProperties: true
