version: 5.7.5

type: DeclarativeSource

description: |
  This is the setup guide for the Simplesat source connector.

check:
  type: CheckStream
  stream_names:
    - surveys

definitions:
  streams:
    surveys:
      type: DeclarativeStream
      name: surveys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /surveys
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - surveys
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys"
    questions:
      type: DeclarativeStream
      name: questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: questions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - questions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/questions"
  base_requester:
    type: HttpRequester
    url_base: https://api.simplesat.io/api/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-Simplesat-Token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/surveys"
  - $ref: "#/definitions/streams/questions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    surveys: false
    questions: false
  testedStreams:
    surveys:
      streamHash: 77a63c41e8ec96e420e9805c276d410e468895f8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    questions:
      streamHash: de649b2c6afc23b26715903969596bd3f67099a0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://documenter.getpostman.com/view/457268/SVfRt7WJ?version=latest

schemas:
  surveys:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      brand_name:
        type:
          - string
          - "null"
      id:
        type: number
      metric:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      survey_token:
        type:
          - string
          - "null"
      survey_type:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  questions:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      choices:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: number
      metric:
        type:
          - string
          - "null"
      order:
        type:
          - number
          - "null"
      rating_scale:
        type:
          - boolean
          - "null"
      required:
        type:
          - boolean
          - "null"
      rules:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            action:
              type:
                - string
                - "null"
            conditions:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            question:
              type:
                - object
                - "null"
              properties:
                choices:
                  type:
                    - array
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                required:
                  type:
                    - boolean
                    - "null"
                rules:
                  type:
                    - array
                    - "null"
                text:
                  type:
                    - string
                    - "null"
      survey:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      text:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
