# `source-{{source_name}}`

This directory contains the manifest-only connector for `source-{{source_name}}`.

## Usage

- You can use this connector as any other connector in Airbyte Marketplace.
- You can load this connector in `pyairbyte` using `get_source`!
- You can open this connector in Connector Builder, edit it, and publish to your workspaces.

Please refer to the manifest-only connector documentation for more details.
