version: 6.4.0

type: DeclarativeSource

description: >-
  The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, channels, comments and simple stats.
  This is a simpler version of Youtube connector, if you need more detailed reports from your channel please check
  the [Youtube Analytics Connector](https://docs.airbyte.com/integrations/sources/youtube-analytics)

check:
  type: CheckStream
  stream_names:
    - channels

definitions:
  streams:
    video:
      type: DeclarativeStream
      name: video
      primary_key:
        - videoId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: videos
          http_method: GET
          request_parameters:
            part: snippet,contentDetails,statistics,player,status
            # stream_partition.video_id is a list of up to 50 ids from the
            # GroupingPartitionRouter below; videos.list accepts them comma-separated.
            id: "{{ stream_partition.video_id | join(',') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
        partition_router:
          $ref: "#/definitions/grouped_video_ids_partition_router"
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: videoId
                partition_field: video_id
                stream:
                  $ref: "#/definitions/streams/videos"
                # Only fetch details for videos the parent has not yet emitted.
                # Mutable fields (statistics) are covered by `video_engagement`.
                incremental_dependency: true
      incremental_sync:
        $ref: "#/definitions/published_at_cursor"
        is_data_feed: false
        global_substream_cursor: true
      transformations:
        - type: DpathFlattenFields
          field_path:
            - "snippet"
          delete_origin_value: true
        - type: AddFields
          fields:
            - path:
                - datetime
              value: "{{ now_utc().isoformat() }}"
        - type: AddFields
          fields:
            - path:
                - videoId
              value: "{{ record['id'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video"
    channels:
      type: DeclarativeStream
      name: channels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: channels
          http_method: GET
          request_parameters:
            part: snippet,contentDetails,statistics,brandingSettings,topicDetails,status,localizations,contentOwnerDetails
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
        partition_router:
          type: ListPartitionRouter
          values: "{{ config.channel_ids }}"
          cursor_field: channel_id
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channels"
    comments:
      type: DeclarativeStream
      name: comments
      primary_key:
        - videoId
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: commentThreads
          http_method: GET
          request_parameters:
            $ref: "#/definitions/comment_threads_request_parameters"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
              - "*"
              - snippet
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: videoId
              request_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: videoId
              partition_field: id
              stream:
                $ref: "#/definitions/streams/videos"
              # No incremental_dependency: new comments land on old videos, so
              # every video is re-visited; the per-video cursor below stops each
              # visit after one page in steady state.
      incremental_sync:
        $ref: "#/definitions/published_at_cursor"
      transformations:
        - $ref: "#/definitions/comment_thread_transformations/hoist_id"
        - $ref: "#/definitions/comment_thread_transformations/hoist_published_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/comments"
    videos:
      type: DeclarativeStream
      name: videos
      primary_key:
        - videoId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: playlistItems
          http_method: GET
          request_parameters:
            part: snippet,contentDetails,status
            # A channel's uploads playlist is its channel id with the `UC` prefix
            # swapped for `UU`. Unlike search.list it costs 1 quota unit (not 100),
            # has no 500-result cap, and, when the OAuth user owns the channel,
            # includes unlisted and private uploads.
            playlistId: "{{ 'UU' + stream_partition.channel_id[2:] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.nextPageToken }}"
            stop_condition: "{{ not response.get('nextPageToken') }}"
        partition_router:
          type: ListPartitionRouter
          values: "{{ config.channel_ids }}"
          cursor_field: channel_id
      # The uploads playlist lists newest first, so the data-feed cursor stops
      # paginating at the first item already seen in a previous sync.
      incremental_sync:
        $ref: "#/definitions/published_at_cursor"
      transformations:
        - type: AddFields
          fields:
            - path:
                - videoId
              value: "{{ record.get('contentDetails', {}).get('videoId') }}"
            - path:
                - channelId
              value: "{{ record.get('snippet', {}).get('channelId') }}"
            - path:
                - title
              value: "{{ record.get('snippet', {}).get('title') }}"
            - path:
                # Time the upload was added to the playlist. Always present, unlike
                # contentDetails.videoPublishedAt, which private videos lack.
                - publishedAt
              value: "{{ record.get('snippet', {}).get('publishedAt') }}"
            - path:
                - privacyStatus
              value: "{{ record.get('status', {}).get('privacyStatus') }}"
        - type: RemoveFields
          field_pointers:
            - ["kind"]
            - ["etag"]
            - ["id"]
            - ["snippet"]
            - ["contentDetails"]
            - ["status"]
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/videos"
    channel_comments:
      type: DeclarativeStream
      name: channel_comments
      primary_key:
        - channelId
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: commentThreads
          http_method: GET
          request_parameters:
            $ref: "#/definitions/comment_threads_request_parameters"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
              - "*"
              - snippet
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
        partition_router:
          type: ListPartitionRouter
          values: "{{ config.channel_ids }}"
          cursor_field: channel_id
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: allThreadsRelatedToChannelId
      incremental_sync:
        $ref: "#/definitions/published_at_cursor"
      transformations:
        - $ref: "#/definitions/comment_thread_transformations/hoist_id"
        - $ref: "#/definitions/comment_thread_transformations/hoist_published_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_comments"
    video_engagement:
      type: DeclarativeStream
      name: video_engagement
      primary_key:
        - videoId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: videos
          http_method: GET
          request_parameters:
            part: statistics
            id: "{{ stream_partition.video_id | join(',') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
              - "*"
        paginator:
          type: NoPagination
        partition_router:
          $ref: "#/definitions/grouped_video_ids_partition_router"
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: videoId
                partition_field: video_id
                stream:
                  $ref: "#/definitions/streams/videos"
                # No incremental_dependency: counters move on every video, so
                # every sync re-reads all of them (V/50 requests at 1 unit each).
      # The cursor is the fetch time, so every sync appends a fresh snapshot per
      # video: Incremental | Append gives a time series, Incremental | Deduped
      # keeps the latest counters.
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: datetime
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "2005-04-23T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        global_substream_cursor: true
      transformations:
        - type: DpathFlattenFields
          field_path:
            - "statistics"
          delete_origin_value: true
        - type: AddFields
          fields:
            - path:
                - videoId
              value: "{{ record['id'] }}"
            - path:
                - datetime
              value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        - type: RemoveFields
          field_pointers:
            - ["id"]
            - ["kind"]
            - ["etag"]
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video_engagement"
  # Batches parent video ids so one videos.list request covers up to 50 videos
  # instead of one request per video.
  grouped_video_ids_partition_router:
    type: GroupingPartitionRouter
    group_size: 50
    deduplicate: true
  # Every endpoint this connector reads lists newest first and has no date
  # filter, so `is_data_feed` stops pagination at the first record older than
  # the stored cursor instead of re-reading the whole history each sync.
  published_at_cursor:
    type: DatetimeBasedCursor
    cursor_field: publishedAt
    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S.%fZ"
    start_datetime:
      type: MinMaxDatetime
      # YouTube's first upload; effectively "no lower bound".
      datetime: "2005-04-23T00:00:00Z"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    is_data_feed: true
  comment_threads_request_parameters:
    part: snippet,replies
    # Newest first, which the data-feed cursor relies on.
    order: time
    # The endpoint's maximum; the default is 20.
    maxResults: "100"
  comment_thread_transformations:
    hoist_id:
      type: AddFields
      fields:
        - path:
            - id
          value: "{{ record.get('topLevelComment', {}).get('id') }}"
    hoist_published_at:
      type: AddFields
      fields:
        - path:
            - publishedAt
          value: "{{ record.get('topLevelComment', {}).get('snippet', {}).get('publishedAt') }}"
  api_key_authenticator:
    type: ApiKeyAuthenticator
    api_token: '{{ config["credentials"]["api_key"] }}'
    inject_into:
      type: RequestOption
      field_name: key
      inject_into: request_parameter
  oauth2_authenticator:
    type: OAuthAuthenticator
    client_id: '{{ config["credentials"]["client_id"] }}'
    client_secret: '{{ config["credentials"]["client_secret"] }}'
    token_refresh_endpoint: https://oauth2.googleapis.com/token
    scopes:
      - https://www.googleapis.com/auth/youtube.force-ssl
    refresh_token: '{{ config["credentials"]["refresh_token"] }}'
    refresh_request_body: {}
  base_requester:
    type: HttpRequester
    url_base: https://www.googleapis.com/youtube/v3/
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
            - type: ExponentialBackoffStrategy
              factor: 5
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              predicate: "{{ response.get('error', {}).get('errors', [{}])[0].get('reason') in ['commentsDisabled', 'videoNotFound'] }}"
            - type: HttpResponseFilter
              action: REFRESH_TOKEN_THEN_RETRY
              failure_type: config_error
              http_codes:
                - 401
              error_message: >-
                Authentication failed. The request is retried; if this
                persists, re-authenticate with Google OAuth from the source
                settings, or provide a valid API key.
            - type: HttpResponseFilter
              action: FAIL
              failure_type: config_error
              predicate: "{{ response.get('error', {}).get('errors', [{}])[0].get('reason') in ['keyInvalid', 'accessNotConfigured', 'channelNotFound'] or response.get('error', {}).get('details', [{}])[0].get('reason') in ['API_KEY_INVALID', 'SERVICE_DISABLED', 'ACCESS_TOKEN_SCOPE_INSUFFICIENT'] }}"
              error_message: >-
                The YouTube API rejected the request: {{ response.get('error',
                {}).get('message', 'unknown error') }} Check that the API key
                is valid, the YouTube Data API v3 is enabled in your Google
                Cloud project, and the configured Channel IDs exist.
            - type: HttpResponseFilter
              # The daily quota resets at midnight Pacific, so no in-sync retry
              # can succeed. Fail now: incremental state is already checkpointed
              # and the next scheduled sync resumes from it.
              action: FAIL
              failure_type: transient_error
              predicate: "{{ response.get('error', {}).get('errors', [{}])[0].get('reason') in ['quotaExceeded', 'dailyLimitExceeded'] }}"
              error_message: >-
                The YouTube Data API daily quota for this Google Cloud project is
                exhausted. It resets at midnight Pacific time; the next sync
                resumes from the last checkpoint.
            - type: HttpResponseFilter
              action: RETRY
              failure_type: transient_error
              predicate: "{{ response.get('error', {}).get('errors', [{}])[0].get('reason') in ['rateLimitExceeded', 'userRateLimitExceeded'] or response.get('error', {}).get('details', [{}])[0].get('reason') in ['RATE_LIMIT_EXCEEDED', 'QUOTA_EXCEEDED'] }}"
            - type: HttpResponseFilter
              action: RATE_LIMITED
              failure_type: transient_error
              http_codes:
                - 429
            - type: HttpResponseFilter
              action: RETRY
              failure_type: transient_error
              http_codes:
                - 500
                - 502
                - 503
                - 504
    authenticator:
      type: SelectiveAuthenticator
      authenticator_selection_path: ["credentials", "auth_method"]
      authenticators:
        api_key: "#/definitions/api_key_authenticator"
        oauth2.0: "#/definitions/oauth2_authenticator"

streams:
  - $ref: "#/definitions/streams/video"
  - $ref: "#/definitions/streams/channels"
  - $ref: "#/definitions/streams/comments"
  - $ref: "#/definitions/streams/videos"
  - $ref: "#/definitions/streams/channel_comments"
  - $ref: "#/definitions/streams/video_engagement"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
      - channel_ids
    properties:
      credentials:
        type: object
        title: Authentication method
        description: >-
          Choose how to authenticate to the YouTube Data API: Google OAuth 2.0
          (recommended, refreshes tokens automatically) or an API key created
          in the Google Cloud console with the YouTube Data API v3 enabled.
        order: 0
        oneOf:
          - type: object
            title: Google OAuth 2.0
            required:
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_method:
                type: string
                const: oauth2.0
                default: oauth2.0
                enum:
                  - oauth2.0
              client_id:
                type: string
                order: 0
                title: Client ID
                description: >-
                  The Client ID of your Google Cloud OAuth 2.0 application,
                  from APIs & Services > Credentials in the Google Cloud
                  console.
                airbyte_secret: true
              client_secret:
                type: string
                order: 1
                title: Client Secret
                description: >-
                  The Client Secret of your Google Cloud OAuth 2.0 application.
                airbyte_secret: true
              refresh_token:
                type: string
                order: 2
                title: Refresh Token
                description: >-
                  A Google OAuth refresh token granted for the YouTube Data API
                  scope. The connector uses it to obtain access tokens
                  automatically; on Airbyte Cloud it is filled in by the OAuth
                  consent flow.
                airbyte_secret: true
          - type: object
            title: API Key
            required:
              - api_key
            properties:
              auth_method:
                type: string
                const: api_key
              api_key:
                type: string
                order: 0
                title: API Key
                description: >-
                  A Google Cloud API key with the YouTube Data API v3 enabled.
                  Create one in the Google Cloud console under APIs & Services
                  > Credentials.
                airbyte_secret: true
      channel_ids:
        type: array
        title: Channel IDs
        description: >-
          The YouTube channel IDs to replicate data for. A channel ID is the
          24-character identifier starting with "UC" found in the channel URL
          (youtube.com/channel/<ID>). For channels with a handle-based URL,
          find the ID under YouTube Studio > Settings > Channel > Advanced
          settings ("Channel ID").
        order: 1
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_method
    predicate_value: oauth2.0
    oauth_config_specification:
      oauth_connector_input_specification:
        scopes:
          - scope: https://www.googleapis.com/auth/youtube.force-ssl
        consent_url: https://accounts.google.com/o/oauth2/v2/auth?{{client_id_param}}&{{redirect_uri_param}}&response_type=code&{{scopes_param}}&access_type=offline&{{state_param}}&include_granted_scopes=true&prompt=consent
        access_token_url: https://oauth2.googleapis.com/token?{{client_id_param}}&{{client_secret_param}}&{{auth_code_param}}&grant_type=authorization_code&{{redirect_uri_param}}
        extract_output: ["refresh_token"]
      complete_oauth_output_specification:
        type: object
        additionalProperties: true
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
  config_normalization_rules:
    type: ConfigNormalizationRules
    config_migrations:
      - type: ConfigMigration
        description: |
          Remaps the existing config authentication format to a new format
          OLD: {"api_key": ...}
          NEW: {"credentials": {"api_key": ..., "auth_method": "api_key"}}
        transformations:
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["credentials", "api_key"]
                value: "{{ config['api_key'] }}"
            condition: "{{ config.get('api_key', False) }}"
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["credentials", "auth_method"]
                value: "api_key"
            condition: "{{ config.get('api_key', False) }}"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 2
  max_concurrency: 10

# The YouTube Data API v3 has a default quota of 10,000 units per day; every
# endpoint this connector reads costs 1 unit per call. The per-minute window
# is a burst guard: it keeps the worst-case wait for a free slot (about one
# minute) far below the OAuth access-token lifetime (3600s) and the 5400s
# heartbeat. The daily quota is enforced by Google (403 quotaExceeded, which
# the FAIL filter surfaces so the next sync resumes from checkpointed state),
# not by this budget.
api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 100
          interval: PT1M
      matchers:
        - type: HttpRequestRegexMatcher
          url_path_pattern: /(channels|videos|commentThreads|playlistItems)

metadata:
  autoImportSchema:
    video: true
    channels: false
    comments: true
    videos: true
    channel_comments: true
    video_engagement: true
  testedStreams:
    video:
      streamHash: a3f8831f5f8a0ca3efed0972cab191cc181d2b4e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    channels:
      streamHash: 343ca32364dc855bd2f38aa2eb633c05100b5fd1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    comments:
      streamHash: 8d2176a881a0bca19e00ec1d0cfe70a823e4de85
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    videos:
      streamHash: 9f29c51ff5dbe597fbbd7ebfab42300eb29860f8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    channel_comments:
      streamHash: 958a9f915e04312572380361e2b97c730c37ad29
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.google.com/youtube/v3/guides/implementation

schemas:
  video:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      datetime:
        type:
          - string
          - "null"
        format: date-time
      videoId:
        type: string
      kind:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      publishedAt:
        type:
          - string
          - "null"
        format: date-time
      channelId:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      channelTitle:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      categoryId:
        type:
          - string
          - "null"
      liveBroadcastContent:
        type:
          - string
          - "null"
      defaultLanguage:
        type:
          - string
          - "null"
      defaultAudioLanguage:
        type:
          - string
          - "null"
      localized:
        type:
          - object
          - "null"
        properties:
          title:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
      thumbnails:
        type:
          - object
          - "null"
        properties:
          default:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
              width:
                type:
                  - number
                  - "null"
              height:
                type:
                  - number
                  - "null"
          medium:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
              width:
                type:
                  - number
                  - "null"
              height:
                type:
                  - number
                  - "null"
          high:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
              width:
                type:
                  - number
                  - "null"
              height:
                type:
                  - number
                  - "null"
          standard:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
              width:
                type:
                  - number
                  - "null"
              height:
                type:
                  - number
                  - "null"
          maxres:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
              width:
                type:
                  - number
                  - "null"
              height:
                type:
                  - number
                  - "null"

      contentDetails:
        type:
          - object
          - "null"
        properties:
          duration:
            type:
              - string
              - "null"
          dimension:
            type:
              - string
              - "null"
          definition:
            type:
              - string
              - "null"
          caption:
            type:
              - string
              - "null"
          licensedContent:
            type:
              - boolean
              - "null"
          projection:
            type:
              - string
              - "null"
          hasCustomThumbnail:
            type:
              - boolean
              - "null"
          regionRestriction:
            type:
              - object
              - "null"
            properties:
              allowed:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              blocked:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          contentRating:
            type:
              - object
              - "null"

      statistics:
        type:
          - object
          - "null"
        properties:
          viewCount:
            type:
              - string
              - "null"
          likeCount:
            type:
              - string
              - "null"
          dislikeCount:
            type:
              - string
              - "null"
          favoriteCount:
            type:
              - string
              - "null"
          commentCount:
            type:
              - string
              - "null"

      player:
        type:
          - object
          - "null"
        properties:
          embedHtml:
            type:
              - string
              - "null"
          embedHeight:
            type:
              - number
              - "null"
          embedWidth:
            type:
              - number
              - "null"
      status:
        type:
          - object
          - "null"
        properties:
          uploadStatus:
            type:
              - string
              - "null"
          failureReason:
            type:
              - string
              - "null"
          rejectionReason:
            type:
              - string
              - "null"
          privacyStatus:
            type:
              - string
              - "null"
          publishAt:
            type:
              - string
              - "null"
            format: date-time
          license:
            type:
              - string
              - "null"
          embeddable:
            type:
              - boolean
              - "null"
          publicStatsViewable:
            type:
              - boolean
              - "null"
          madeForKids:
            type:
              - boolean
              - "null"
          selfDeclaredMadeForKids:
            type:
              - boolean
              - "null"
          containsSyntheticMedia:
            type:
              - boolean
              - "null"
    required:
      - videoId
  channels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      contentDetails:
        type:
          - object
          - "null"
        properties:
          relatedPlaylists:
            type:
              - object
              - "null"
            properties:
              likes:
                type:
                  - string
                  - "null"
              favorites:
                type:
                  - string
                  - "null"
              uploads:
                type:
                  - string
                  - "null"
      etag:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      snippet:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          customUrl:
            type:
              - string
              - "null"
          localized:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
          publishedAt:
            type:
              - string
              - "null"
            format: date-time
          defaultLanguage:
            type:
              - string
              - "null"
          thumbnails:
            type:
              - object
              - "null"
            properties:
              default:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              high:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              medium:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
          title:
            type:
              - string
              - "null"
      statistics:
        type:
          - object
          - "null"
        properties:
          hiddenSubscriberCount:
            type:
              - boolean
              - "null"
          subscriberCount:
            type:
              - string
              - "null"
          videoCount:
            type:
              - string
              - "null"
          viewCount:
            type:
              - string
              - "null"
      brandingSettings:
        type:
          - object
          - "null"
        properties:
          channel:
            type:
              - object
              - "null"
            properties:
              title:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              keywords:
                type:
                  - string
                  - "null"
              trackingAnalyticsAccountId:
                type:
                  - string
                  - "null"
              unsubscribedTrailer:
                type:
                  - string
                  - "null"
              defaultLanguage:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
          watch:
            type:
              - object
              - "null"
            properties:
              textColor:
                type:
                  - string
                  - "null"
              backgroundColor:
                type:
                  - string
                  - "null"
              featuredPlaylistId:
                type:
                  - string
                  - "null"
      topicDetails:
        type:
          - object
          - "null"
        properties:
          topicIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          topicCategories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      status:
        type:
          - object
          - "null"
        properties:
          privacyStatus:
            type:
              - string
              - "null"
          isLinked:
            type:
              - boolean
              - "null"
          longUploadsStatus:
            type:
              - string
              - "null"
          madeForKids:
            type:
              - boolean
              - "null"
          selfDeclaredMadeForKids:
            type:
              - boolean
              - "null"
      contentOwnerDetails:
        type:
          - object
          - "null"
        properties:
          contentOwner:
            type:
              - string
              - "null"
          timeLinked:
            type:
              - string
              - "null"
            format: date-time
      localizations:
        type:
          - object
          - "null"
        additionalProperties: true
    required:
      - id
  comments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      canReply:
        type:
          - boolean
          - "null"
      channelId:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      isPublic:
        type:
          - boolean
          - "null"
      topLevelComment:
        type:
          - object
          - "null"
        properties:
          etag:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          kind:
            type:
              - string
              - "null"
          snippet:
            type:
              - object
              - "null"
            properties:
              authorChannelId:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              authorChannelUrl:
                type:
                  - string
                  - "null"
              authorDisplayName:
                type:
                  - string
                  - "null"
              authorProfileImageUrl:
                type:
                  - string
                  - "null"
              canRate:
                type:
                  - boolean
                  - "null"
              channelId:
                type:
                  - string
                  - "null"
              likeCount:
                type:
                  - number
                  - "null"
              publishedAt:
                type:
                  - string
                  - "null"
                format: date-time
              textDisplay:
                type:
                  - string
                  - "null"
              textOriginal:
                type:
                  - string
                  - "null"
              updatedAt:
                type:
                  - string
                  - "null"
                format: date-time
              videoId:
                type:
                  - string
                  - "null"
              viewerRating:
                type:
                  - string
                  - "null"
      totalReplyCount:
        type:
          - number
          - "null"
      publishedAt:
        type:
          - string
          - "null"
        format: date-time
      videoId:
        type:
          - string
          - "null"
  videos:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      videoId:
        type: string
      channelId:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      publishedAt:
        type: string
        format: date-time
      privacyStatus:
        type:
          - string
          - "null"
    required:
      - videoId
      - publishedAt
  video_engagement:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      videoId:
        type: string
      datetime:
        type: string
        format: date-time
      viewCount:
        type:
          - string
          - "null"
      likeCount:
        type:
          - string
          - "null"
      dislikeCount:
        type:
          - string
          - "null"
      favoriteCount:
        type:
          - string
          - "null"
      commentCount:
        type:
          - string
          - "null"
    required:
      - videoId
      - datetime
  channel_comments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      canReply:
        type:
          - boolean
          - "null"
      channelId:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      isPublic:
        type:
          - boolean
          - "null"
      topLevelComment:
        type:
          - object
          - "null"
        properties:
          etag:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          kind:
            type:
              - string
              - "null"
          snippet:
            type:
              - object
              - "null"
            properties:
              authorChannelId:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              authorChannelUrl:
                type:
                  - string
                  - "null"
              authorDisplayName:
                type:
                  - string
                  - "null"
              authorProfileImageUrl:
                type:
                  - string
                  - "null"
              canRate:
                type:
                  - boolean
                  - "null"
              channelId:
                type:
                  - string
                  - "null"
              likeCount:
                type:
                  - number
                  - "null"
              publishedAt:
                type:
                  - string
                  - "null"
                format: date-time
              textDisplay:
                type:
                  - string
                  - "null"
              textOriginal:
                type:
                  - string
                  - "null"
              updatedAt:
                type:
                  - string
                  - "null"
                format: date-time
              videoId:
                type:
                  - string
                  - "null"
              viewerRating:
                type:
                  - string
                  - "null"
      totalReplyCount:
        type:
          - number
          - "null"
      publishedAt:
        type:
          - string
          - "null"
        format: date-time
      videoId:
        type:
          - string
          - "null"
