version: 6.4.0

type: DeclarativeSource

description: Youtube Data

check:
  type: CheckStream
  stream_names:
    - video

definitions:
  streams:
    video:
      type: DeclarativeStream
      name: video
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: videos
          http_method: GET
          request_parameters:
            id: "{{config['video_id']}}"
            part: snippet,contentDetails
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video"
    channels:
      type: DeclarativeStream
      name: channels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: channels
          http_method: GET
          request_parameters:
            id: "{{config['channel_id']}}"
            part: snippet,contentDetails,statistics
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channels"
    comments:
      type: DeclarativeStream
      name: comments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: commentThreads
          http_method: GET
          request_parameters:
            part: snippet,replies
            videoId: "{{config['video_id']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/comments"
    popularvideos:
      type: DeclarativeStream
      name: popularvideos
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: videos
          http_method: GET
          request_parameters:
            part: snippet,contentDetails,statistics
            chart: mostPopular
            regionCode: "{{config['region_code']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken', '') }}"
            stop_condition: "{{ response.get('nextPageToken') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/popularvideos"
  base_requester:
    type: HttpRequester
    url_base: https://www.googleapis.com/youtube/v3/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: key
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/video"
  - $ref: "#/definitions/streams/channels"
  - $ref: "#/definitions/streams/comments"
  - $ref: "#/definitions/streams/popularvideos"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - video_id
      - channel_id
      - region_code
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      video_id:
        type: string
        order: 1
        title: video_id
      channel_id:
        type: string
        order: 2
        title: channel_id
      region_code:
        type: string
        order: 3
        title: region_code
    additionalProperties: true

metadata:
  autoImportSchema:
    video: true
    channels: false
    comments: true
    popularvideos: false
  testedStreams:
    video:
      hasRecords: true
      streamHash: a0be22283dbcf0e7e354312a9f6eb94eefbbb2c7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    channels:
      hasRecords: true
      streamHash: eb2642cbb3401c9573d7703e776cc25e728890cc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    comments:
      hasRecords: true
      streamHash: 42673432bd12c4642e62a84a8899687cf615df5b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    popularvideos:
      hasRecords: true
      streamHash: 63f51c5ec7e8bd993e314068b50c718670552e8b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.google.com/youtube/v3/guides/implementation

schemas:
  video:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      etag:
        type:
          - string
          - "null"
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            contentDetails:
              type:
                - object
                - "null"
              properties:
                caption:
                  type:
                    - string
                    - "null"
                contentRating:
                  type:
                    - object
                    - "null"
                definition:
                  type:
                    - string
                    - "null"
                dimension:
                  type:
                    - string
                    - "null"
                duration:
                  type:
                    - string
                    - "null"
                licensedContent:
                  type:
                    - boolean
                    - "null"
                projection:
                  type:
                    - string
                    - "null"
                regionRestriction:
                  type:
                    - object
                    - "null"
                  properties:
                    blocked:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
            etag:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            kind:
              type:
                - string
                - "null"
            snippet:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                categoryId:
                  type:
                    - string
                    - "null"
                channelId:
                  type:
                    - string
                    - "null"
                channelTitle:
                  type:
                    - string
                    - "null"
                defaultAudioLanguage:
                  type:
                    - string
                    - "null"
                liveBroadcastContent:
                  type:
                    - string
                    - "null"
                localized:
                  type:
                    - object
                    - "null"
                  properties:
                    description:
                      type:
                        - string
                        - "null"
                    title:
                      type:
                        - string
                        - "null"
                publishedAt:
                  type:
                    - string
                    - "null"
                tags:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                thumbnails:
                  type:
                    - object
                    - "null"
                  properties:
                    default:
                      type:
                        - object
                        - "null"
                      properties:
                        height:
                          type:
                            - number
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        width:
                          type:
                            - number
                            - "null"
                    high:
                      type:
                        - object
                        - "null"
                      properties:
                        height:
                          type:
                            - number
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        width:
                          type:
                            - number
                            - "null"
                    maxres:
                      type:
                        - object
                        - "null"
                      properties:
                        height:
                          type:
                            - number
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        width:
                          type:
                            - number
                            - "null"
                    medium:
                      type:
                        - object
                        - "null"
                      properties:
                        height:
                          type:
                            - number
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        width:
                          type:
                            - number
                            - "null"
                    standard:
                      type:
                        - object
                        - "null"
                      properties:
                        height:
                          type:
                            - number
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        width:
                          type:
                            - number
                            - "null"
                title:
                  type:
                    - string
                    - "null"
      kind:
        type:
          - string
          - "null"
      pageInfo:
        type:
          - object
          - "null"
        properties:
          resultsPerPage:
            type:
              - number
              - "null"
          totalResults:
            type:
              - number
              - "null"
  channels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      contentDetails:
        type:
          - object
          - "null"
        properties:
          relatedPlaylists:
            type:
              - object
              - "null"
            properties:
              likes:
                type:
                  - string
                  - "null"
              uploads:
                type:
                  - string
                  - "null"
      etag:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      snippet:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          customUrl:
            type:
              - string
              - "null"
          localized:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
          publishedAt:
            type:
              - string
              - "null"
          thumbnails:
            type:
              - object
              - "null"
            properties:
              default:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              high:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              medium:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
          title:
            type:
              - string
              - "null"
      statistics:
        type:
          - object
          - "null"
        properties:
          hiddenSubscriberCount:
            type:
              - boolean
              - "null"
          subscriberCount:
            type:
              - string
              - "null"
          videoCount:
            type:
              - string
              - "null"
          viewCount:
            type:
              - string
              - "null"
    required:
      - id
  comments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      etag:
        type:
          - string
          - "null"
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            etag:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            kind:
              type:
                - string
                - "null"
            replies:
              type:
                - object
                - "null"
              properties:
                comments:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      etag:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      kind:
                        type:
                          - string
                          - "null"
                      snippet:
                        type:
                          - object
                          - "null"
                        properties:
                          authorChannelId:
                            type:
                              - object
                              - "null"
                            properties:
                              value:
                                type:
                                  - string
                                  - "null"
                          authorChannelUrl:
                            type:
                              - string
                              - "null"
                          authorDisplayName:
                            type:
                              - string
                              - "null"
                          authorProfileImageUrl:
                            type:
                              - string
                              - "null"
                          canRate:
                            type:
                              - boolean
                              - "null"
                          channelId:
                            type:
                              - string
                              - "null"
                          likeCount:
                            type:
                              - number
                              - "null"
                          parentId:
                            type:
                              - string
                              - "null"
                          publishedAt:
                            type:
                              - string
                              - "null"
                          textDisplay:
                            type:
                              - string
                              - "null"
                          textOriginal:
                            type:
                              - string
                              - "null"
                          updatedAt:
                            type:
                              - string
                              - "null"
                          videoId:
                            type:
                              - string
                              - "null"
                          viewerRating:
                            type:
                              - string
                              - "null"
            snippet:
              type:
                - object
                - "null"
              properties:
                canReply:
                  type:
                    - boolean
                    - "null"
                channelId:
                  type:
                    - string
                    - "null"
                isPublic:
                  type:
                    - boolean
                    - "null"
                topLevelComment:
                  type:
                    - object
                    - "null"
                  properties:
                    etag:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    kind:
                      type:
                        - string
                        - "null"
                    snippet:
                      type:
                        - object
                        - "null"
                      properties:
                        authorChannelId:
                          type:
                            - object
                            - "null"
                          properties:
                            value:
                              type:
                                - string
                                - "null"
                        authorChannelUrl:
                          type:
                            - string
                            - "null"
                        authorDisplayName:
                          type:
                            - string
                            - "null"
                        authorProfileImageUrl:
                          type:
                            - string
                            - "null"
                        canRate:
                          type:
                            - boolean
                            - "null"
                        channelId:
                          type:
                            - string
                            - "null"
                        likeCount:
                          type:
                            - number
                            - "null"
                        publishedAt:
                          type:
                            - string
                            - "null"
                        textDisplay:
                          type:
                            - string
                            - "null"
                        textOriginal:
                          type:
                            - string
                            - "null"
                        updatedAt:
                          type:
                            - string
                            - "null"
                        videoId:
                          type:
                            - string
                            - "null"
                        viewerRating:
                          type:
                            - string
                            - "null"
                totalReplyCount:
                  type:
                    - number
                    - "null"
                videoId:
                  type:
                    - string
                    - "null"
      kind:
        type:
          - string
          - "null"
      nextPageToken:
        type:
          - string
          - "null"
      pageInfo:
        type:
          - object
          - "null"
        properties:
          resultsPerPage:
            type:
              - number
              - "null"
          totalResults:
            type:
              - number
              - "null"
  popularvideos:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      contentDetails:
        type:
          - object
          - "null"
        properties:
          caption:
            type:
              - string
              - "null"
          contentRating:
            type:
              - object
              - "null"
          definition:
            type:
              - string
              - "null"
          dimension:
            type:
              - string
              - "null"
          duration:
            type:
              - string
              - "null"
          licensedContent:
            type:
              - boolean
              - "null"
          projection:
            type:
              - string
              - "null"
          regionRestriction:
            type:
              - object
              - "null"
            properties:
              allowed:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              blocked:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
      etag:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      snippet:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          categoryId:
            type:
              - string
              - "null"
          channelId:
            type:
              - string
              - "null"
          channelTitle:
            type:
              - string
              - "null"
          defaultAudioLanguage:
            type:
              - string
              - "null"
          defaultLanguage:
            type:
              - string
              - "null"
          liveBroadcastContent:
            type:
              - string
              - "null"
          localized:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
          publishedAt:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          thumbnails:
            type:
              - object
              - "null"
            properties:
              default:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              high:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              maxres:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              medium:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              standard:
                type:
                  - object
                  - "null"
                properties:
                  height:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
          title:
            type:
              - string
              - "null"
      statistics:
        type:
          - object
          - "null"
        properties:
          commentCount:
            type:
              - string
              - "null"
          favoriteCount:
            type:
              - string
              - "null"
          likeCount:
            type:
              - string
              - "null"
          viewCount:
            type:
              - string
              - "null"
    required:
      - id
