.card {
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid var(--color-grey-100);
  background: var(--color-white);
  height: 100%;
}

.cardContent {
  flex-grow: 1;
  display: flex;
  width: 100%;
  flex-direction: column;

}
.cardContent p{
  color: var(--color-grey-500);
  text-align: left;
}

.cardCta {
  border-radius: 6px;
  padding: 6px 20px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.cardCtaPrimary {
  background-color: var(--color-dark-blue-700);
  color: var(--color-white);
}
.cardCtaPrimary a {
  text-decoration: none;
  color: var(--color-white);
}

.cardCtaSecondary {
  border: 1px solid var(--color-grey-500);
  color: var(--color-grey-500);
  
}

.cardCtaSecondary a {
  color: var(--color-grey-500);
  text-decoration: none;
}

.cardIcon {
  margin-bottom: 10px;
}
