version: 4.5.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - listings
    - analytics_aws_marketplace_disbursements

definitions:
  streams:
    buyers:
      type: DeclarativeStream
      name: buyers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /buyers
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/buyers"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - registration_details
        - type: RemoveFields
          field_pointers:
            - - metadata
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "2021-01-01T12:00:00.000000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_time_option:
          type: RequestOption
          field_name: last_modified_at_after
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    listings:
      type: DeclarativeStream
      name: listings
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /listings
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/listings"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - metadata
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "2021-01-01T12:00:00.000000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_time_option:
          type: RequestOption
          field_name: last_modified_at_after
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    contracts:
      type: DeclarativeStream
      name: contracts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /contracts
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contracts"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - metadata
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "2021-01-01T12:00:00.000000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_time_option:
          type: RequestOption
          field_name: last_modified_at_after
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    opportunities:
      type: DeclarativeStream
      name: opportunities
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /opportunities
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunities"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - metadata
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "2021-01-01T12:00:00.000000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_time_option:
          type: RequestOption
          field_name: last_modified_at_after
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    private_offers:
      type: DeclarativeStream
      name: private_offers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /private_offers
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/private_offers"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - metadata
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "2021-01-01T12:00:00.000000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_time_option:
          type: RequestOption
          field_name: last_modified_at_after
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    analytics_aws_marketplace_revenue:
      type: DeclarativeStream
      name: analytics_aws_marketplace_revenue
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/aws_marketplace_revenue
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_aws_marketplace_revenue"
    analytics_aws_cosell_opportunities:
      type: DeclarativeStream
      name: analytics_aws_cosell_opportunities
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/aws_cosell_opportunities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_aws_cosell_opportunities"
    analytics_azure_marketplace_orders:
      type: DeclarativeStream
      name: analytics_azure_marketplace_orders
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_marketplace_orders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_marketplace_orders"
    analytics_azure_marketplace_revenue:
      type: DeclarativeStream
      name: analytics_azure_marketplace_revenue
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_marketplace_revenue
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_marketplace_revenue"
    analytics_azure_cosell_opportunities:
      type: DeclarativeStream
      name: analytics_azure_cosell_opportunities
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_cosell_opportunities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_cosell_opportunities"
    analytics_azure_marketplace_customers:
      type: DeclarativeStream
      name: analytics_azure_marketplace_customers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_marketplace_customers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_marketplace_customers"
    analytics_aws_marketplace_disbursements:
      type: DeclarativeStream
      name: analytics_aws_marketplace_disbursements
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/aws_marketplace_disbursements
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_aws_marketplace_disbursements"
    analytics_gcp_marketplace_disbursements:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_disbursements
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_disbursements
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_disbursements"
    analytics_gcp_marketplace_daily_insights:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_daily_insights
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_daily_insights
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_daily_insights"
    analytics_azure_marketplace_metered_usage:
      type: DeclarativeStream
      name: analytics_azure_marketplace_metered_usage
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_marketplace_metered_usage
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_marketplace_metered_usage"
    analytics_gcp_marketplace_monthly_insights:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_monthly_insights
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_monthly_insights
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_monthly_insights"
    analytics_gcp_marketplace_charges_and_usage:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_charges_and_usage
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_charges_and_usage
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_charges_and_usage"
    analytics_gcp_marketplace_disbursements_summary:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_disbursements_summary
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_disbursements_summary
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_disbursements_summary"
    analytics_gcp_marketplace_incremental_daily_insights:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_incremental_daily_insights
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_incremental_daily_insights
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_incremental_daily_insights"
    analytics_gcp_marketplace_incremental_monthly_insights:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_incremental_monthly_insights
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_incremental_monthly_insights
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_incremental_monthly_insights"
  base_requester:
    type: HttpRequester
    url_base: https://api.clazar.io
    authenticator:
      type: OAuthAuthenticator
      client_id: '{{ config["client_id"] }}'
      grant_type: client_credentials
      client_secret: '{{ config["client_secret"] }}'
      refresh_request_body: {}
      token_refresh_endpoint: https://api.clazar.io/authenticate/

streams:
  - $ref: "#/definitions/streams/buyers"
  - $ref: "#/definitions/streams/listings"
  - $ref: "#/definitions/streams/contracts"
  - $ref: "#/definitions/streams/opportunities"
  - $ref: "#/definitions/streams/private_offers"
  - $ref: "#/definitions/streams/analytics_aws_marketplace_disbursements"
  - $ref: "#/definitions/streams/analytics_aws_marketplace_revenue"
  - $ref: "#/definitions/streams/analytics_aws_cosell_opportunities"
  - $ref: "#/definitions/streams/analytics_azure_marketplace_revenue"
  - $ref: "#/definitions/streams/analytics_azure_marketplace_customers"
  - $ref: "#/definitions/streams/analytics_azure_marketplace_orders"
  - $ref: "#/definitions/streams/analytics_azure_marketplace_metered_usage"
  - $ref: "#/definitions/streams/analytics_azure_cosell_opportunities"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_disbursements"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_disbursements_summary"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_charges_and_usage"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_daily_insights"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_incremental_daily_insights"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_monthly_insights"
  - $ref: >-
      #/definitions/streams/analytics_gcp_marketplace_incremental_monthly_insights

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
    properties:
      client_id:
        type: string
        order: 0
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 1
        title: Client secret
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    buyers:
      hasRecords: true
      streamHash: 42df9768f201d8c6f8e4e74dc1c52038c3f97f0c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    listings:
      hasRecords: true
      streamHash: 531bc82045821cbb805f3dbdfcbad86a1a4c40aa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contracts:
      hasRecords: true
      streamHash: 050aec6260dcc6e14540bc2dc6ec9906ce2cda7a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    opportunities:
      hasRecords: true
      streamHash: 27fdd277c8e7e048cf89c561fdf9dfd2249dcd62
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    private_offers:
      hasRecords: true
      streamHash: 2063987de5dd1edd3fecc8cd06439754849a55e5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_aws_marketplace_revenue:
      hasRecords: true
      streamHash: eb6e7dbe54b355cb95d4a19e2f52096304dad07f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_aws_cosell_opportunities:
      hasRecords: true
      streamHash: fd44d5607cd92cec327190cee98fa1be1f98885f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_marketplace_orders:
      hasRecords: true
      streamHash: 497f69a37c50c4fd56d438b5eec20cbeb3d6e7b3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_marketplace_revenue:
      hasRecords: true
      streamHash: c0469ee2d8ed745c1ba0d3bc7965db40360043b1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_cosell_opportunities:
      hasRecords: true
      streamHash: 8071cbf3690e6968c711a23b7ee364aa2d4ccbe2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_marketplace_customers:
      hasRecords: true
      streamHash: cf973ea368545ef684868505fbcbe1b3c75199ef
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_aws_marketplace_disbursements:
      hasRecords: true
      streamHash: 84530af873052bb523db4c0586505cfb7c1e759a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_disbursements:
      hasRecords: true
      streamHash: c46f61da59ecad24b01ac56f74951e82aba6fcb0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_daily_insights:
      hasRecords: true
      streamHash: 90362d00e0e9c3c7f57fe74a949d5fc4db8c4f5b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_marketplace_metered_usage:
      hasRecords: true
      streamHash: 44abc84ec2672c4b329531b34c6e6baa335b142f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_monthly_insights:
      hasRecords: true
      streamHash: d69fa7068a99810b95c70d8a12d14c4b721c10a8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_charges_and_usage:
      hasRecords: true
      streamHash: c6e130d127a9515269bd2ef2a8bf05b115bed977
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_disbursements_summary:
      hasRecords: true
      streamHash: 658824422d77db198900cff2786352aae2af5e4d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_incremental_daily_insights:
      hasRecords: true
      streamHash: 4e2e23ccd147f195565d67819a4e479883252161
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_incremental_monthly_insights:
      hasRecords: true
      streamHash: 9d2f4e5c90adc766e4a20442b4ee76c67502beca
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    buyers: false
    listings: false
    contracts: false
    opportunities: false
    private_offers: false
    analytics_aws_marketplace_revenue: false
    analytics_aws_cosell_opportunities: false
    analytics_azure_marketplace_orders: false
    analytics_azure_marketplace_revenue: false
    analytics_azure_cosell_opportunities: false
    analytics_azure_marketplace_customers: false
    analytics_aws_marketplace_disbursements: false
    analytics_gcp_marketplace_disbursements: false
    analytics_gcp_marketplace_daily_insights: false
    analytics_azure_marketplace_metered_usage: false
    analytics_gcp_marketplace_monthly_insights: false
    analytics_gcp_marketplace_charges_and_usage: false
    analytics_gcp_marketplace_disbursements_summary: false
    analytics_gcp_marketplace_incremental_daily_insights: false
    analytics_gcp_marketplace_incremental_monthly_insights: false

schemas:
  buyers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - last_modified_at
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      cloud:
        type:
          - string
          - "null"
      domain:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      listing_id:
        type:
          - string
          - "null"
      cloud_account_id:
        type:
          - string
          - "null"
      last_modified_at:
        type: string
      cloud_identifiers:
        type:
          - object
          - "null"
      custom_properties:
        type:
          - object
          - "null"
      latest_contract_id:
        type:
          - string
          - "null"
      external_object_associations:
        type:
          - object
          - "null"
    additionalProperties: true
  listings:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - last_modified_at
    properties:
      id:
        type: string
      cloud:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      cloud_id:
        type:
          - string
          - "null"
      eula_url:
        type:
          - string
          - "null"
      cloud_url:
        type:
          - string
          - "null"
      eula_type:
        type:
          - string
          - "null"
      last_modified_at:
        type: string
      long_description:
        type:
          - string
          - "null"
      short_description:
        type:
          - string
          - "null"
    additionalProperties: true
  contracts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - last_modified_at
    properties:
      id:
        type: string
      cloud:
        type:
          - string
          - "null"
      end_at:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      buyer_id:
        type:
          - string
          - "null"
      cloud_id:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      start_at:
        type:
          - string
          - "null"
      cloud_url:
        type:
          - string
          - "null"
      auto_renew:
        type:
          - boolean
          - "null"
      listing_id:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      accepted_at:
        type:
          - string
          - "null"
      latest_offer_id:
        type:
          - string
          - "null"
      last_modified_at:
        type: string
      cloud_identifiers:
        type:
          - object
          - "null"
      custom_properties:
        type:
          - object
          - "null"
      external_object_associations:
        type:
          - object
          - "null"
    additionalProperties: true
  opportunities:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - last_modified_at
    properties:
      id:
        type: string
      cloud:
        type:
          - string
          - "null"
      stage:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      cloud_id:
        type:
          - string
          - "null"
      accept_by:
        type:
          - string
          - "null"
      cloud_url:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer_company:
        type:
          - string
          - "null"
      customer_website:
        type:
          - string
          - "null"
      last_modified_at:
        type: string
      custom_properties:
        type:
          - object
          - "null"
      target_close_date:
        type:
          - string
          - "null"
      external_object_associations:
        type:
          - object
          - "null"
    additionalProperties: true
  private_offers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - last_modified_at
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      cloud:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      archived:
        type:
          - string
          - "null"
      cloud_id:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      cloud_url:
        type:
          - string
          - "null"
      eula_type:
        type:
          - string
          - "null"
      listing_id:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      accepted_at:
        type:
          - string
          - "null"
      published_at:
        type:
          - string
          - "null"
      expiration_at:
        type:
          - string
          - "null"
      last_modified_at:
        type: string
      custom_properties:
        type:
          - object
          - "null"
      external_object_associations:
        type:
          - object
          - "null"
    additionalProperties: true
  analytics_aws_marketplace_revenue:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      currency:
        type:
          - string
          - "null"
      offer_id:
        type:
          - string
          - "null"
      invoice_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      payer_city:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      listing_fee:
        type:
          - number
          - "null"
      agreement_id:
        type:
          - string
          - "null"
      gross_refund:
        type:
          - number
          - "null"
      invoice_date:
        type:
          - string
          - "null"
      product_code:
        type:
          - string
          - "null"
      aws_tax_share:
        type:
          - number
          - "null"
      gross_revenue:
        type:
          - number
          - "null"
      payer_country:
        type:
          - string
          - "null"
      payment_terms:
        type:
          - string
          - "null"
      product_title:
        type:
          - string
          - "null"
      isv_account_id:
        type:
          - string
          - "null"
      wholesale_cost:
        type:
          - number
          - "null"
      subscriber_city:
        type:
          - string
          - "null"
      isv_company_name:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      payer_address_id:
        type:
          - string
          - "null"
      payment_due_date:
        type:
          - string
          - "null"
      seller_tax_share:
        type:
          - number
          - "null"
      disbursement_date:
        type:
          - string
          - "null"
      payer_postal_code:
        type:
          - string
          - "null"
      agreement_end_date:
        type:
          - string
          - "null"
      listing_fee_refund:
        type:
          - number
          - "null"
      payer_company_name:
        type:
          - string
          - "null"
      payer_email_domain:
        type:
          - string
          - "null"
      seller_net_revenue:
        type:
          - number
          - "null"
      subscriber_country:
        type:
          - string
          - "null"
      disbursement_status:
        type:
          - string
          - "null"
      agreement_start_date:
        type:
          - string
          - "null"
      aws_seller_of_record:
        type:
          - string
          - "null"
      aws_tax_share_refund:
        type:
          - number
          - "null"
      payer_aws_account_id:
        type:
          - string
          - "null"
      customer_reference_id:
        type:
          - string
          - "null"
      payer_state_or_region:
        type:
          - string
          - "null"
      reseller_company_name:
        type:
          - string
          - "null"
      subscriber_address_id:
        type:
          - string
          - "null"
      usage_period_end_date:
        type:
          - string
          - "null"
      wholesale_cost_refund:
        type:
          - number
          - "null"
      disburse_bank_trace_id:
        type:
          - string
          - "null"
      listing_fee_invoice_id:
        type:
          - string
          - "null"
      listing_fee_percentage:
        type:
          - number
          - "null"
      subscriber_postal_code:
        type:
          - string
          - "null"
      resale_authorization_id:
        type:
          - string
          - "null"
      reseller_aws_account_id:
        type:
          - string
          - "null"
      seller_tax_share_refund:
        type:
          - number
          - "null"
      subscriber_company_name:
        type:
          - string
          - "null"
      subscriber_email_domain:
        type:
          - string
          - "null"
      usage_period_start_date:
        type:
          - string
          - "null"
      transaction_reference_id:
        type:
          - string
          - "null"
      agreement_acceptance_date:
        type:
          - string
          - "null"
      aws_tax_share_listing_fee:
        type:
          - number
          - "null"
      resale_authorization_name:
        type:
          - string
          - "null"
      subscriber_aws_account_id:
        type:
          - string
          - "null"
      subscriber_state_or_region:
        type:
          - string
          - "null"
      aws_tax_share_refund_listing_fee:
        type:
          - number
          - "null"
      resale_authorization_description:
        type:
          - string
          - "null"
    additionalProperties: true
  analytics_aws_cosell_opportunities:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      geo:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      offers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      region:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      segment:
        type:
          - string
          - "null"
      industry:
        type:
          - string
          - "null"
      use_case:
        type:
          - string
          - "null"
      accept_by:
        type:
          - string
          - "null"
      aws_stage:
        type:
          - string
          - "null"
      next_step:
        type:
          - string
          - "null"
      sale_stage:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      aws_products:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      business_unit:
        type:
          - string
          - "null"
      campaign_name:
        anyOf:
          - type: string
          - type: array
            items:
              type: string
      is_greenfield:
        type:
          - boolean
          - "null"
      aws_close_date:
        type:
          - string
          - "null"
      customer_email:
        type:
          - string
          - "null"
      customer_phone:
        type:
          - string
          - "null"
      delivery_model:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      customer_website:
        type:
          - string
          - "null"
      opportunity_type:
        type:
          - string
          - "null"
      procurement_type:
        type:
          - string
          - "null"
      rejection_reason:
        type:
          - string
          - "null"
      sales_activities:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      solution_offered:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      contract_end_date:
        type:
          - string
          - "null"
      next_step_details:
        type:
          - array
          - "null"
      target_close_date:
        type:
          - string
          - "null"
      aws_sales_rep_name:
        type:
          - string
          - "null"
      closed_lost_reason:
        type:
          - string
          - "null"
      cloud_created_date:
        type:
          - string
          - "null"
      customer_last_name:
        type:
          - string
          - "null"
      last_modified_date:
        type:
          - string
          - "null"
      additional_comments:
        type:
          - string
          - "null"
      aws_sales_rep_email:
        type:
          - string
          - "null"
      contract_start_date:
        type:
          - string
          - "null"
      customer_first_name:
        type:
          - string
          - "null"
      project_description:
        type:
          - string
          - "null"
      apn_reviewer_comments:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      opportunity_ownership:
        type:
          - string
          - "null"
      partner_project_title:
        type:
          - string
          - "null"
      primary_contact_email:
        type:
          - string
          - "null"
      primary_contact_phone:
        type:
          - string
          - "null"
      aws_account_owner_name:
        type:
          - string
          - "null"
      other_solution_offered:
        type:
          - string
          - "null"
      apn_disqualified_reason:
        type:
          - string
          - "null"
      aws_account_owner_email:
        type:
          - string
          - "null"
      customer_software_value:
        type:
          - number
          - "null"
      opportunity_owner_email:
        type:
          - string
          - "null"
      apn_crm_unique_identifier:
        type:
          - string
          - "null"
      partner_acceptance_status:
        type:
          - string
          - "null"
      primary_contact_last_name:
        type:
          - string
          - "null"
      primary_contact_first_name:
        type:
          - string
          - "null"
      aws_isv_success_manager_name:
        type:
          - string
          - "null"
      expected_monthly_aws_revenue:
        type:
          - number
          - "null"
      aws_isv_success_manager_email:
        type:
          - string
          - "null"
      partner_primary_need_from_aws:
        anyOf:
          - type: string
          - type: array
            items:
              type: string
      recommended_next_best_actions:
        type:
          - string
          - "null"
      is_opp_from_marketing_activity:
        type:
          - boolean
          - "null"
      partner_developer_manager_name:
        type:
          - string
          - "null"
      is_marketing_development_funded:
        type:
          - boolean
          - "null"
      partner_developer_manager_email:
        type:
          - string
          - "null"
      aws_marketplace_engagement_score:
        type:
          - string
          - "null"
      aws_partner_success_manager_name:
        type:
          - string
          - "null"
      aws_partner_success_manager_email:
        type:
          - string
          - "null"
    additionalProperties: true
  analytics_azure_marketplace_orders:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      version:
        type:
          - number
          - "null"
      sku:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      asset_id:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      is_trial:
        type:
          - number
          - "null"
      offer_id:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      has_trial:
        type:
          - number
          - "null"
      auto_renew:
        type:
          - boolean
          - "null"
      billing_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      multi_party:
        type:
          - number
          - "null"
      billing_plan:
        type:
          - string
          - "null"
      billing_term:
        type:
          - string
          - "null"
      order_action:
        type:
          - string
          - "null"
      order_status:
        type:
          - string
          - "null"
      reference_id:
        type:
          - string
          - "null"
      dataset_month:
        type:
          - string
          - "null"
      order_version:
        type:
          - string
          - "null"
      term_end_date:
        type:
          - string
          - "null"
      billed_revenue:
        type:
          - number
          - "null"
      is_preview_sku:
        type:
          - number
          - "null"
      list_price_usd:
        type:
          - string
          - "null"
      trial_end_date:
        type:
          - string
          - "null"
      event_timestamp:
        type:
          - string
          - "null"
      is_new_customer:
        type:
          - number
          - "null"
      is_private_plan:
        type:
          - number
          - "null"
      plan_visibility:
        type:
          - string
          - "null"
      term_start_date:
        type:
          - string
          - "null"
      customer_country:
        type:
          - string
          - "null"
      is_private_offer:
        type:
          - number
          - "null"
      month_start_date:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      quantity_changed:
        type:
          - number
          - "null"
      order_cancel_date:
        type:
          - string
          - "null"
      azure_license_type:
        type:
          - string
          - "null"
      billing_account_id:
        type:
          - string
          - "null"
      discount_price_usd:
        type:
          - number
          - "null"
      private_offer_name:
        type:
          - string
          - "null"
      purchase_record_id:
        type:
          - string
          - "null"
      cloud_instance_name:
        type:
          - string
          - "null"
      order_purchase_date:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      marketplace_license_type:
        type:
          - string
          - "null"
      marketplace_subscription_id:
        type:
          - string
          - "null"
      purchase_record_line_item_id:
        type:
          - string
          - "null"
    additionalProperties: true
  analytics_azure_marketplace_revenue:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      sku:
        type:
          - string
          - "null"
      units:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      revenue:
        type:
          - number
          - "null"
      asset_id:
        type:
          - string
          - "null"
      offer_id:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      billing_id:
        type:
          - string
          - "null"
      earning_id:
        type:
          - string
          - "null"
      invoice_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      is_invoiced:
        type:
          - number
          - "null"
      multi_party:
        type:
          - number
          - "null"
      reseller_id:
        type:
          - string
          - "null"
      invoice_date:
        type:
          - string
          - "null"
      line_item_id:
        type:
          - string
          - "null"
      billing_model:
        type:
          - string
          - "null"
      customer_city:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      dataset_month:
        type:
          - string
          - "null"
      payout_status:
        type:
          - string
          - "null"
      reseller_city:
        type:
          - string
          - "null"
      sales_channel:
        type:
          - string
          - "null"
      term_end_date:
        type:
          - string
          - "null"
      customer_email:
        type:
          - string
          - "null"
      customer_state:
        type:
          - string
          - "null"
      incentive_rate:
        type:
          - number
          - "null"
      list_price_usd:
        type:
          - number
          - "null"
      reseller_email:
        type:
          - string
          - "null"
      reseller_state:
        type:
          - string
          - "null"
      adjustment_type:
        type:
          - string
          - "null"
      is_private_plan:
        type:
          - number
          - "null"
      payout_currency:
        type:
          - string
          - "null"
      plan_visibility:
        type:
          - string
          - "null"
      term_start_date:
        type:
          - string
          - "null"
      customer_country:
        type:
          - string
          - "null"
      days_uncollected:
        type:
          - string
          - "null"
      event_time_stamp:
        type:
          - string
          - "null"
      exchange_rate_pc:
        type:
          - number
          - "null"
      invoice_due_date:
        type:
          - string
          - "null"
      is_private_offer:
        type:
          - number
          - "null"
      month_start_date:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      reseller_company:
        type:
          - string
          - "null"
      reseller_country:
        type:
          - string
          - "null"
      trial_deployment:
        type:
          - number
          - "null"
      earning_amount_cc:
        type:
          - number
          - "null"
      earning_amount_pc:
        type:
          - number
          - "null"
      exchange_rate_usd:
        type:
          - number
          - "null"
      payment_sent_date:
        type:
          - string
          - "null"
      billing_account_id:
        type:
          - string
          - "null"
      earning_amount_usd:
        type:
          - number
          - "null"
      exchange_rate_date:
        type:
          - string
          - "null"
      private_offer_name:
        type:
          - string
          - "null"
      purchase_record_id:
        type:
          - string
          - "null"
      customer_postal_code:
        type:
          - string
          - "null"
      discounted_price_usd:
        type:
          - number
          - "null"
      estimated_revenue_pc:
        type:
          - number
          - "null"
      reseller_postal_code:
        type:
          - string
          - "null"
      transaction_currency:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      earning_currency_code:
        type:
          - string
          - "null"
      estimated_revenue_usd:
        type:
          - number
          - "null"
      transaction_amount_cc:
        type:
          - number
          - "null"
      transaction_amount_pc:
        type:
          - number
          - "null"
      adjustment_reason_code:
        type:
          - string
          - "null"
      estimated_payout_month:
        type:
          - string
          - "null"
      transaction_amount_usd:
        type:
          - number
          - "null"
      payment_instrument_type:
        type:
          - string
          - "null"
      earning_exchange_rate_pc:
        type:
          - number
          - "null"
    additionalProperties: true
  analytics_azure_cosell_opportunities:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      metadata:
        type:
          - object
          - "null"
      id:
        type:
          - number
          - "null"
      city:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      uuid:
        type:
          - string
          - "null"
      cloud:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      target:
        type:
          - array
          - "null"
      address:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      is_spam:
        type:
          - boolean
          - "null"
      currency:
        type:
          - string
          - "null"
      deal_name:
        type:
          - string
          - "null"
      deal_type:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      solutions:
        type:
          - array
          - "null"
      created_at:
        type:
          - string
          - "null"
      deal_value:
        type:
          - number
          - "null"
      deleted_at:
        type:
          - string
          - "null"
      row_number:
        type:
          - number
          - "null"
      sub_status:
        type:
          - string
          - "null"
      sync_error:
        type:
          - object
          - "null"
      updated_at:
        type:
          - string
          - "null"
      external_id:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      referral_id:
        type:
          - string
          - "null"
      sales_stage:
        type:
          - string
          - "null"
      cloud_status:
        type:
          - string
          - "null"
      created_by_id:
        type:
          - number
          - "null"
      engagement_id:
        type:
          - string
          - "null"
      qualification:
        type:
          - string
          - "null"
      status_reason:
        type:
          - string
          - "null"
      assistance_type:
        type:
          - string
          - "null"
      azure_seller_id:
        type:
          - number
          - "null"
      external_status:
        type:
          - string
          - "null"
      organization_id:
        type:
          - string
          - "null"
      referral_source:
        type:
          - string
          - "null"
      closed_date_time:
        type:
          - string
          - "null"
      cloud_created_at:
        type:
          - string
          - "null"
      customer_website:
        type:
          - string
          - "null"
      is_macc_eligible:
        type:
          - boolean
          - "null"
      partner_contacts:
        type:
          - array
          - "null"
      closing_date_time:
        type:
          - string
          - "null"
      created_date_time:
        type:
          - string
          - "null"
      customer_contacts:
        type:
          - array
          - "null"
      organization_name:
        type:
          - string
          - "null"
      seller_created_at:
        type:
          - string
          - "null"
      updated_date_time:
        type:
          - string
          - "null"
      accepted_date_time:
        type:
          - string
          - "null"
      consent_to_contact:
        type:
          - boolean
          - "null"
      customer_duns_number:
        type:
          - string
          - "null"
      domain_info_category:
        type:
          - string
          - "null"
      expiration_date_time:
        type:
          - string
          - "null"
      is_matching_complete:
        type:
          - boolean
          - "null"
      microsoft_account_id:
        type:
          - string
          - "null"
      microsoft_sales_reps:
        type:
          - array
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      shared_referral_metadata:
        type:
          - object
          - "null"
      consent_to_to_share_info_with_others:
        type:
          - boolean
          - "null"
      consent_to_share_referral_with_microsoft_sellers:
        type:
          - boolean
          - "null"
    additionalProperties: true
  analytics_azure_marketplace_customers:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      sku:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      offer_id:
        type:
          - string
          - "null"
      date_lost:
        type:
          - string
          - "null"
      is_active:
        type:
          - number
          - "null"
      last_name:
        type:
          - string
          - "null"
      billing_id:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      multi_party:
        type:
          - number
          - "null"
      reference_id:
        type:
          - string
          - "null"
      customer_city:
        type:
          - string
          - "null"
      customer_type:
        type:
          - string
          - "null"
      dataset_month:
        type:
          - string
          - "null"
      date_acquired:
        type:
          - string
          - "null"
      provider_name:
        type:
          - string
          - "null"
      address_line_1:
        type:
          - string
          - "null"
      customer_state:
        type:
          - string
          - "null"
      provider_email:
        type:
          - string
          - "null"
      is_private_plan:
        type:
          - number
          - "null"
      plan_visibility:
        type:
          - string
          - "null"
      purchaser_email:
        type:
          - string
          - "null"
      last_modified_at:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      azure_license_type:
        type:
          - string
          - "null"
      billing_account_id:
        type:
          - string
          - "null"
      private_offer_name:
        type:
          - string
          - "null"
      customer_postal_code:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      promotional_customers:
        type:
          - number
          - "null"
      commerce_root_customer:
        type:
          - string
          - "null"
      customer_country_region:
        type:
          - string
          - "null"
      marketplace_subscription_id:
        type:
          - string
          - "null"
    additionalProperties: true
  analytics_aws_marketplace_disbursements:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      currency:
        type:
          - string
          - "null"
      offer_id:
        type:
          - string
          - "null"
      invoice_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      payer_city:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      listing_fee:
        type:
          - number
          - "null"
      agreement_id:
        type:
          - string
          - "null"
      gross_refund:
        type:
          - number
          - "null"
      invoice_date:
        type:
          - string
          - "null"
      product_code:
        type:
          - string
          - "null"
      gross_revenue:
        type:
          - number
          - "null"
      payer_country:
        type:
          - string
          - "null"
      payment_terms:
        type:
          - string
          - "null"
      product_title:
        type:
          - string
          - "null"
      isv_account_id:
        type:
          - string
          - "null"
      wholesale_cost:
        type:
          - number
          - "null"
      subscriber_city:
        type:
          - string
          - "null"
      isv_company_name:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      payer_address_id:
        type:
          - string
          - "null"
      payment_due_date:
        type:
          - string
          - "null"
      seller_tax_share:
        type:
          - number
          - "null"
      disbursement_date:
        type:
          - string
          - "null"
      payer_postal_code:
        type:
          - string
          - "null"
      agreement_end_date:
        type:
          - string
          - "null"
      listing_fee_refund:
        type:
          - number
          - "null"
      payer_company_name:
        type:
          - string
          - "null"
      payer_email_domain:
        type:
          - string
          - "null"
      seller_net_revenue:
        type:
          - number
          - "null"
      subscriber_country:
        type:
          - string
          - "null"
      disbursement_period:
        type:
          - string
          - "null"
      disbursement_status:
        type:
          - string
          - "null"
      agreement_start_date:
        type:
          - string
          - "null"
      aws_seller_of_record:
        type:
          - string
          - "null"
      payer_aws_account_id:
        type:
          - string
          - "null"
      customer_reference_id:
        type:
          - string
          - "null"
      disbursed_net_revenue:
        type:
          - number
          - "null"
      payer_state_or_region:
        type:
          - string
          - "null"
      reseller_company_name:
        type:
          - string
          - "null"
      subscriber_address_id:
        type:
          - string
          - "null"
      usage_period_end_date:
        type:
          - string
          - "null"
      wholesale_cost_refund:
        type:
          - number
          - "null"
      disburse_bank_trace_id:
        type:
          - string
          - "null"
      listing_fee_invoice_id:
        type:
          - string
          - "null"
      listing_fee_percentage:
        type:
          - number
          - "null"
      subscriber_postal_code:
        type:
          - string
          - "null"
      resale_authorization_id:
        type:
          - string
          - "null"
      reseller_aws_account_id:
        type:
          - string
          - "null"
      seller_tax_share_refund:
        type:
          - number
          - "null"
      subscriber_company_name:
        type:
          - string
          - "null"
      subscriber_email_domain:
        type:
          - string
          - "null"
      undisbursed_net_revenue:
        type:
          - number
          - "null"
      usage_period_start_date:
        type:
          - string
          - "null"
      transaction_reference_id:
        type:
          - string
          - "null"
      agreement_acceptance_date:
        type:
          - string
          - "null"
      aws_tax_share_listing_fee:
        type:
          - number
          - "null"
      disbursement_time_in_days:
        type:
          - number
          - "null"
      resale_authorization_name:
        type:
          - string
          - "null"
      subscriber_aws_account_id:
        type:
          - string
          - "null"
      subscriber_state_or_region:
        type:
          - string
          - "null"
      aws_tax_share_refund_listing_fee:
        type:
          - number
          - "null"
      resale_authorization_description:
        type:
          - string
          - "null"
    additionalProperties: true
  analytics_gcp_marketplace_disbursements:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ds:
        type:
          - string
          - "null"
      domain:
        type:
          - string
          - "null"
      sku_id:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      account_id:
        type:
          - string
          - "null"
      usage_unit:
        type:
          - string
          - "null"
      offer_title:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      solution_id:
        type:
          - string
          - "null"
      cust_charges:
        type:
          - number
          - "null"
      cust_identity:
        type:
          - string
          - "null"
      refund_reason:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      c_u_account_id:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      usage_quantity:
        type:
          - number
          - "null"
      organization_id:
        type:
          - string
          - "null"
      released_amount:
        type:
          - number
          - "null"
      report_timezone:
        type:
          - number
          - "null"
      sku_description:
        type:
          - string
          - "null"
      withheld_amount:
        type:
          - number
          - "null"
      abandoned_amount:
        type:
          - number
          - "null"
      cud_credits_used:
        type:
          - number
          - "null"
      discount_offered:
        type:
          - number
          - "null"
      last_refund_date:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      total_deductions:
        type:
          - number
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      aggregated_payout:
        type:
          - number
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      cust_organization:
        type:
          - string
          - "null"
      first_refund_date:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      trial_credits_used:
        type:
          - number
          - "null"
      disbursement_entity:
        type:
          - string
          - "null"
      insights_account_id:
        type:
          - string
          - "null"
      private_offer_notes:
        type:
          - string
          - "null"
      entitlement_end_date:
        type:
          - string
          - "null"
      max_usage_start_time:
        type:
          - string
          - "null"
      min_usage_start_time:
        type:
          - string
          - "null"
      probation_start_date:
        type:
          - string
          - "null"
      report_creation_date:
        type:
          - string
          - "null"
      total_contract_value:
        type:
          - number
          - "null"
      cust_remaining_commit:
        type:
          - string
          - "null"
      private_offer_creator:
        type:
          - string
          - "null"
      refund_processed_date:
        type:
          - string
          - "null"
      entitlement_start_date:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      marketplace_fee_amount:
        type:
          - number
          - "null"
      partner_testing_credit:
        type:
          - number
          - "null"
      marketplace_fee_percent:
        type:
          - string
          - "null"
      replaced_private_offer_id:
        type:
          - string
          - "null"
      term_total_contract_value:
        type:
          - number
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
    additionalProperties: true
  analytics_gcp_marketplace_daily_insights:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ds:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      unit:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      domain:
        type:
          - string
          - "null"
      latest:
        type:
          - string
          - "null"
      ram_mb:
        type:
          - number
          - "null"
      sku_id:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      num_vms:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      earliest:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      num_cpus:
        type:
          - number
          - "null"
      num_gpus:
        type:
          - number
          - "null"
      quote_id:
        type:
          - string
          - "null"
      released:
        type:
          - number
          - "null"
      withheld:
        type:
          - number
          - "null"
      abandoned:
        type:
          - number
          - "null"
      gpu_types:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      due_vendor:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      offer_title:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      internal_note:
        type:
          - string
          - "null"
      probation_end:
        type:
          - string
          - "null"
      quote_creator:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      probation_start:
        type:
          - string
          - "null"
      sku_description:
        type:
          - string
          - "null"
      machine_spec_sum:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      parent_account_id:
        type:
          - string
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      external_account_id:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      term_total_contract_value:
        type:
          - number
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
      private_offer_total_contract_value:
        type:
          - number
          - "null"
    additionalProperties: true
  analytics_azure_marketplace_metered_usage:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      sku:
        type:
          - string
          - "null"
      vmsize:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      asset_id:
        type:
          - string
          - "null"
      meter_id:
        type:
          - string
          - "null"
      offer_id:
        type:
          - string
          - "null"
      price_cc:
        type:
          - number
          - "null"
      core_size:
        type:
          - number
          - "null"
      raw_usage:
        type:
          - number
          - "null"
      billing_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      usage_date:
        type:
          - string
          - "null"
      usage_unit:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      multi_party:
        type:
          - number
          - "null"
      reference_id:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      dataset_month:
        type:
          - string
          - "null"
      metered_usage:
        type:
          - number
          - "null"
      is_preview_sku:
        type:
          - number
          - "null"
      list_price_usd:
        type:
          - number
          - "null"
      vmsubscription:
        type:
          - number
          - "null"
      is_custom_meter:
        type:
          - number
          - "null"
      is_new_customer:
        type:
          - number
          - "null"
      is_private_plan:
        type:
          - number
          - "null"
      meter_dimension:
        type:
          - string
          - "null"
      plan_visibility:
        type:
          - string
          - "null"
      skubilling_type:
        type:
          - string
          - "null"
      usage_reference:
        type:
          - string
          - "null"
      customer_country:
        type:
          - string
          - "null"
      is_multisolution:
        type:
          - number
          - "null"
      is_private_offer:
        type:
          - number
          - "null"
      month_start_date:
        type:
          - string
          - "null"
      normalized_usage:
        type:
          - number
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      deployment_method:
        type:
          - string
          - "null"
      azure_license_type:
        type:
          - string
          - "null"
      billing_account_id:
        type:
          - string
          - "null"
      estimated_price_pc:
        type:
          - number
          - "null"
      payout_currency_pc:
        type:
          - string
          - "null"
      private_offer_name:
        type:
          - string
          - "null"
      cloud_instance_name:
        type:
          - string
          - "null"
      customer_currency_cc:
        type:
          - string
          - "null"
      discounted_price_usd:
        type:
          - number
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      marketplace_license_type:
        type:
          - string
          - "null"
      marketplace_subscription_id:
        type:
          - string
          - "null"
      estimated_extended_charge_cc:
        type:
          - number
          - "null"
      estimated_extended_charge_pc:
        type:
          - number
          - "null"
      estimated_financial_impact_usd:
        type:
          - number
          - "null"
      partner_center_detected_anomaly:
        type:
          - number
          - "null"
    additionalProperties: true
  analytics_gcp_marketplace_monthly_insights:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ds:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      unit:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      domain:
        type:
          - string
          - "null"
      latest:
        type:
          - string
          - "null"
      ram_mb:
        type:
          - number
          - "null"
      sku_id:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      num_vms:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      earliest:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      num_cpus:
        type:
          - number
          - "null"
      num_gpus:
        type:
          - number
          - "null"
      quote_id:
        type:
          - string
          - "null"
      released:
        type:
          - number
          - "null"
      withheld:
        type:
          - number
          - "null"
      abandoned:
        type:
          - number
          - "null"
      gpu_types:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      due_vendor:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      offer_title:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      internal_note:
        type:
          - string
          - "null"
      probation_end:
        type:
          - string
          - "null"
      quote_creator:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      probation_start:
        type:
          - string
          - "null"
      sku_description:
        type:
          - string
          - "null"
      machine_spec_sum:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      parent_account_id:
        type:
          - string
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      external_account_id:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
      private_offer_total_contract_value:
        type:
          - number
          - "null"
    additionalProperties: true
  analytics_gcp_marketplace_charges_and_usage:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ds:
        type:
          - string
          - "null"
      sku:
        type:
          - string
          - "null"
      units:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      charges:
        type:
          - number
          - "null"
      used_by:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      released:
        type:
          - number
          - "null"
      resource:
        type:
          - string
          - "null"
      withheld:
        type:
          - number
          - "null"
      abandoned:
        type:
          - number
          - "null"
      trial_use:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      due_partner:
        type:
          - number
          - "null"
      payment_type:
        type:
          - string
          - "null"
      google_entity:
        type:
          - string
          - "null"
      probation_end:
        type:
          - string
          - "null"
      refund_reason:
        type:
          - string
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      probation_start:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      refund_period_end:
        type:
          - string
          - "null"
      insights_account_id:
        type:
          - string
          - "null"
      refund_period_start:
        type:
          - string
          - "null"
      refund_balance_outstanding:
        type:
          - number
          - "null"
      refund_balance_deducted_this_month:
        type:
          - number
          - "null"
    additionalProperties: true
  analytics_gcp_marketplace_disbursements_summary:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ds:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      total:
        type:
          - number
          - "null"
      amount:
        type:
          - number
          - "null"
      entity:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      withholding:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      customer_refund:
        type:
          - number
          - "null"
    additionalProperties: true
  analytics_gcp_marketplace_incremental_daily_insights:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ds:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      unit:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      domain:
        type:
          - string
          - "null"
      latest:
        type:
          - string
          - "null"
      ram_mb:
        type:
          - number
          - "null"
      sku_id:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      num_vms:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      earliest:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      num_cpus:
        type:
          - number
          - "null"
      num_gpus:
        type:
          - number
          - "null"
      quote_id:
        type:
          - string
          - "null"
      released:
        type:
          - number
          - "null"
      withheld:
        type:
          - number
          - "null"
      abandoned:
        type:
          - number
          - "null"
      gpu_types:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      due_vendor:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      offer_title:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      report_date:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      internal_note:
        type:
          - string
          - "null"
      probation_end:
        type:
          - string
          - "null"
      quote_creator:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      probation_start:
        type:
          - string
          - "null"
      sku_description:
        type:
          - string
          - "null"
      machine_spec_sum:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      parent_account_id:
        type:
          - string
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      external_account_id:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      term_total_contract_value:
        type:
          - number
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
      private_offer_total_contract_value:
        type:
          - number
          - "null"
    additionalProperties: true
  analytics_gcp_marketplace_incremental_monthly_insights:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ds:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      unit:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      domain:
        type:
          - string
          - "null"
      latest:
        type:
          - number
          - "null"
      ram_mb:
        type:
          - number
          - "null"
      sku_id:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      num_vms:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      earliest:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      num_cpus:
        type:
          - number
          - "null"
      num_gpus:
        type:
          - number
          - "null"
      quote_id:
        type:
          - string
          - "null"
      released:
        type:
          - number
          - "null"
      withheld:
        type:
          - number
          - "null"
      abandoned:
        type:
          - number
          - "null"
      gpu_types:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      due_vendor:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      offer_title:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      report_date:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      internal_note:
        type:
          - string
          - "null"
      probation_end:
        type:
          - string
          - "null"
      quote_creator:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
[...]
