version: 7.0.4

type: DeclarativeSource

description: Using Lemlist API v2 version when possible

check:
  type: CheckStream
  stream_names:
    - team
  dynamic_streams_check_configs: []

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config['api_key'] }}"
        inject_into:
          type: RequestOption
          field_name: access_token
          inject_into: request_parameter
        request_parameters:
          limit: 100
      request_parameters:
        version: v2
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: false
    ApiKeyAuthenticator:
      request_parameters:
        limit: 100

streams:
  - type: DeclarativeStream
    name: team
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.lemlist.com/api/team
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: access_token
            inject_into: request_parameter
          request_parameters:
            limit: 100
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          _id:
            type:
              - "null"
              - string
          beta:
            type: array
            items:
              type: string
          name:
            type:
              - "null"
              - string
          apiKey:
            type:
              - "null"
              - string
          billing:
            type: object
            properties:
              products:
                type: array
                items:
                  type: object
                  properties:
                    ok:
                      type:
                        - "null"
                        - boolean
                    name:
                      type: string
                    plan:
                      type: string
                    quantity:
                      type: integer
                    okUpdatedAt:
                      type:
                        - "null"
                        - string
                      format: "%Y-%m-%dT%H:%M:%S.%fZ"
                    freetrialExpiresAt:
                      type:
                        - "null"
                        - string
                      format: "%Y-%m-%dT%H:%M:%S.%fZ"
                    stripeSubscriptionId:
                      type: string
          userIds:
            type: array
            items:
              type: string
          ctdCheck:
            type: object
            properties:
              lastAt:
                type:
                  - "null"
                  - string
                format: "%Y-%m-%dT%H:%M:%S.%fZ"
          createdAt:
            type:
              - "null"
              - string
            format: "%Y-%m-%dT%H:%M:%S.%fZ"
          createdBy:
            type:
              - "null"
              - string
          _updatedAt:
            type:
              - "null"
              - string
            format: "%Y-%m-%dT%H:%M:%S.%fZ"
          campaignCron:
            type: object
            properties:
              lastAt:
                type:
                  - "null"
                  - string
                format: "%Y-%m-%dT%H:%M:%S.%fZ"
          revenueVisualization:
            type: object
            properties:
              enabled:
                type: boolean
              conversionRate:
                type: integer
              averageContractValue:
                type: integer
              averageContractValueCurrency:
                type: string
            additionalProperties: true
          linkedinLastScannedAt:
            type:
              - "null"
              - string
            format: "%Y-%m-%dT%H:%M:%S.%fZ"
          sequencesSafeCheckCron:
            type: object
            properties:
              lastAt:
                type:
                  - "null"
                  - string
                format: "%Y-%m-%dT%H:%M:%S.%fZ"
          dataIntegrityChecksCron:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    text:
                      type: string
                  additionalProperties: true
              lastAt:
                type:
                  - "null"
                  - string
                format: "%Y-%m-%dT%H:%M:%S.%fZ"
        additionalProperties: true
  - type: DeclarativeStream
    name: campaigns
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.lemlist.com/api/campaigns
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: access_token
            inject_into: request_parameter
          request_parameters:
            limit: 100
        request_parameters:
          version: v2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - campaigns
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: false
    primary_key:
      - _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          _id:
            type: string
          name:
            type:
              - string
              - "null"
          labels:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          createdAt:
            type:
              - string
              - "null"
          createdBy:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          archived:
            type:
              - boolean
              - "null"
        required:
          - _id
        additionalProperties: true
  - type: DeclarativeStream
    name: activities
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: false
      requester:
        type: HttpRequester
        url: https://api.lemlist.com/api/activities
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: access_token
            inject_into: request_parameter
          request_parameters:
            limit: 100
        request_parameters:
          version: v2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          _id:
            type: string
          isFirst:
            type:
              - boolean
              - "null"
          stopped:
            type:
              - boolean
              - "null"
          createdAt:
            type:
              - string
              - "null"
          bot:
            type:
              - boolean
              - "null"
          teamId:
            type:
              - string
              - "null"
          leadId:
            type:
              - string
              - "null"
          campaignId:
            type:
              - string
              - "null"
          sequenceId:
            type:
              - string
              - "null"
          sequenceStep:
            type:
              - number
              - "null"
          emailTemplateId:
            type:
              - string
              - "null"
          createdBy:
            type:
              - string
              - "null"
          sendUserId:
            type:
              - string
              - "null"
          totalSequenceStep:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          sendUserName:
            type:
              - string
              - "null"
          sendUserEmail:
            type:
              - string
              - "null"
          sendUserMailboxId:
            type:
              - string
              - "null"
          sendUserMailboxProviderId:
            type:
              - string
              - "null"
          leadFirstName:
            type:
              - string
              - "null"
          leadLastName:
            type:
              - string
              - "null"
          leadEmail:
            type:
              - string
              - "null"
          leadPicture:
            type:
              - string
              - "null"
          leadCompanyName:
            type:
              - string
              - "null"
          contactId:
            type:
              - string
              - "null"
          relatedSentAt:
            type:
              - string
              - "null"
          metaData:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              teamId:
                type:
                  - string
                  - "null"
              campaignId:
                type:
                  - string
                  - "null"
              leadId:
                type:
                  - string
                  - "null"
              createdBy:
                type:
                  - string
                  - "null"
              taskId:
                type:
                  - string
                  - "null"
              s3ready:
                type:
                  - boolean
                  - "null"
          messageId:
            type:
              - string
              - "null"
          lead:
            type:
              - object
              - "null"
            properties:
              _id:
                type:
                  - string
                  - "null"
              updatedAt:
                type:
                  - string
                  - "null"
              isPaused:
                type:
                  - boolean
                  - "null"
              state:
                type:
                  - string
                  - "null"
              personalized:
                type:
                  - boolean
                  - "null"
              source:
                type:
                  - string
                  - "null"
              variables:
                type:
                  - object
                  - "null"
                properties:
                  linkedinUrl:
                    type:
                      - string
                      - "null"
                  companyCompetitorsTech:
                    type:
                      - string
                      - "null"
                  companyDomain:
                    type:
                      - string
                      - "null"
                  companyIndustry:
                    type:
                      - string
                      - "null"
                  companyIndustry_SimilarWeb_:
                    type:
                      - string
                      - "null"
                  companyIntegratedTechs:
                    type:
                      - string
                      - "null"
                  companyLinkedinUrl:
                    type:
                      - string
                      - "null"
                  companyLocation:
                    type:
                      - string
                      - "null"
                  companyMonthlyVisits:
                    type:
                      - string
                      - "null"
                  companyName:
                    type:
                      - string
                      - "null"
                  companyPicture:
                    type:
                      - string
                      - "null"
                  companySize:
                    type:
                      - string
                      - "null"
                  companyType:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  firstName:
                    type:
                      - string
                      - "null"
                  industry:
                    type:
                      - string
                      - "null"
                  jobTitle:
                    type:
                      - string
                      - "null"
                  lastName:
                    type:
                      - string
                      - "null"
                  location:
                    type:
                      - string
                      - "null"
                  picture:
                    type:
                      - string
                      - "null"
                  summary:
                    type:
                      - string
                      - "null"
                  tagline:
                    type:
                      - string
                      - "null"
                  companyFoundedOn:
                    type:
                      - string
                      - "null"
                  phone:
                    type:
                      - string
                      - "null"
                  languages:
                    type:
                      - string
                      - "null"
                  skills:
                    type:
                      - string
                      - "null"
                  companyECommerceType:
                    type:
                      - string
                      - "null"
                  eCommercePlatformTech:
                    type:
                      - string
                      - "null"
                  integratedTechs:
                    type:
                      - string
                      - "null"
                  companyDescription:
                    type:
                      - string
                      - "null"
                  companyTagline:
                    type:
                      - string
                      - "null"
                  persona_Marketing_:
                    type:
                      - string
                      - "null"
                  company:
                    type:
                      - string
                      - "null"
                  contact_data_score_threshold:
                    type:
                      - string
                      - "null"
                  contact_s_data_score:
                    type:
                      - string
                      - "null"
                  contact_status:
                    type:
                      - string
                      - "null"
                  email_disqualification_motive:
                    type:
                      - string
                      - "null"
                  email_verification_date:
                    type:
                      - string
                      - "null"
                  email_verification_status:
                    type:
                      - string
                      - "null"
                  email_verification_substatus:
                    type:
                      - string
                      - "null"
                  is_email_bounced:
                    type:
                      - string
                      - "null"
                  last_contact_verification_date:
                    type:
                      - string
                      - "null"
                  phone_number_status:
                    type:
                      - string
                      - "null"
                  reachable_sales:
                    type:
                      - string
                      - "null"
                  linkedinUrlSalesNav:
                    type:
                      - string
                      - "null"
                  occupation:
                    type:
                      - string
                      - "null"
                  companyEmployeesOnLinkedin:
                    type:
                      - string
                      - "null"
                  companyHeadQuarter:
                    type:
                      - string
                      - "null"
                  companyId:
                    type:
                      - string
                      - "null"
                  companyLogo:
                    type:
                      - string
                      - "null"
                  companySpecialities:
                    type:
                      - string
                      - "null"
                  companyWebsite:
                    type:
                      - string
                      - "null"
                  linkedinClassicId:
                    type:
                      - string
                      - "null"
                  linkedinMemberId:
                    type:
                      - string
                      - "null"
                  locationName:
                    type:
                      - string
                      - "null"
                  volunteering:
                    type:
                      - string
                      - "null"
                  companyIndustry(SimilarWeb):
                    type:
                      - string
                      - "null"
                  cleanFirstName:
                    type:
                      - string
                      - "null"
                  findCompanyLatestNews:
                    type:
                      - string
                      - "null"
                  persona(Marketing):
                    type:
                      - string
                      - "null"
                  volunteering1:
                    type:
                      - string
                      - "null"
                  volunteering2:
                    type:
                      - string
                      - "null"
                  volunteering3:
                    type:
                      - string
                      - "null"
                  project:
                    type:
                      - string
                      - "null"
                  honors:
                    type:
                      - string
                      - "null"
                  honors1:
                    type:
                      - string
                      - "null"
                  honors2:
                    type:
                      - string
                      - "null"
                  honors3:
                    type:
                      - string
                      - "null"
                  honors4:
                    type:
                      - string
                      - "null"
                  isPremium:
                    type:
                      - string
                      - "null"
                  companySpecialties:
                    type:
                      - string
                      - "null"
                  companyFoundedYear:
                    type:
                      - string
                      - "null"
                  connectionCount:
                    type:
                      - string
                      - "null"
                  country:
                    type:
                      - string
                      - "null"
                  experience1:
                    type:
                      - string
                      - "null"
                  fullName:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  yearsOfExperience:
                    type:
                      - string
                      - "null"
              contactId:
                type:
                  - string
                  - "null"
              enrichment:
                type:
                  - object
                  - "null"
                properties:
                  emailStatus:
                    type:
                      - string
                      - "null"
              hubspotLeadId:
                type:
                  - number
                  - string
                  - "null"
          sendUserLoginEmail:
            type:
              - string
              - "null"
          campaignName:
            type:
              - string
              - "null"
          sequenceTested:
            type:
              - string
              - "null"
          emailTemplateName:
            type:
              - string
              - "null"
          leadPhone:
            type:
              - string
              - "null"
          emailId:
            type:
              - string
              - "null"
          errorMessage:
            type:
              - string
              - "null"
          userId:
            type:
              - string
              - "null"
          userName:
            type:
              - string
              - "null"
          fromEmail:
            type:
              - string
              - "null"
          subject:
            type:
              - string
              - "null"
          messagePreview:
            type:
              - string
              - "null"
          aiLeadInterestScore:
            type:
              - number
              - "null"
          location:
            type:
              - string
              - "null"
          bouncedId:
            type:
              - string
              - "null"
          conditionLabel:
            type:
              - string
              - "null"
          conditionValue:
            type:
              - boolean
              - "null"
          callStatus:
            type:
              - string
              - "null"
        required:
          - _id
        additionalProperties: true
  - type: DeclarativeStream
    name: unsubscribes
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.lemlist.com/api/unsubscribes
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: access_token
            inject_into: request_parameter
          request_parameters:
            limit: 100
        request_parameters:
          version: v2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: false
    primary_key:
      - _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          _id:
            type: string
          createdAt:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
        required:
          - _id
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: Lemlist API key
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  testedStreams:
    team:
      streamHash: 4494617da9caef11673fff9414d9c02d6ba307fd
    campaigns:
      streamHash: f5045f9a46fd801d16ff5ddcdc66377eb301bb8b
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activities:
      isStale: false
      hasRecords: true
      streamHash: 6ec3177cff487494a4a1cf8011c7d59d0e03f3f8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    unsubscribes:
      streamHash: a2b201c9e5a8d39ee82500bafbfa973e7fa26fca
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  autoImportSchema:
    team: false
    campaigns: false
    activities: false
    unsubscribes: false

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
  max_concurrency: null
