version: 7.0.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - campaigns

description: >-
  Lemlist connector
  (https://developer.lemlist.com/api-reference/getting-started/overview)

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config['api_key'] }}"
        inject_into:
          type: RequestOption
          field_name: access_token
          inject_into: body_data
      request_parameters:
        version: v2
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100

streams:
  - type: DeclarativeStream
    name: campaigns
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.lemlist.com/api/campaigns
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - campaigns
    primary_key: _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - _id
        properties:
          _id:
            type: string
          name:
            type:
              - string
              - "null"
          labels:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          status:
            type:
              - string
              - "null"
          archived:
            type:
              - boolean
              - "null"
          createdAt:
            type:
              - string
              - "null"
          createdBy:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: activities
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.lemlist.com/api/activities
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key: _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          _id:
            type: string
          isFirst:
            type:
              - boolean
              - "null"
          stopped:
            type:
              - boolean
              - "null"
          createdAt:
            type:
              - string
              - "null"
          bot:
            type:
              - boolean
              - "null"
          teamId:
            type:
              - string
              - "null"
          leadId:
            type:
              - string
              - "null"
          campaignId:
            type:
              - string
              - "null"
          sequenceId:
            type:
              - string
              - "null"
          sequenceStep:
            type:
              - number
              - "null"
          emailTemplateId:
            type:
              - string
              - "null"
          createdBy:
            type:
              - string
              - "null"
          sendUserId:
            type:
              - string
              - "null"
          totalSequenceStep:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          sendUserName:
            type:
              - string
              - "null"
          sendUserEmail:
            type:
              - string
              - "null"
          sendUserMailboxId:
            type:
              - string
              - "null"
          sendUserMailboxProviderId:
            type:
              - string
              - "null"
          leadFirstName:
            type:
              - string
              - "null"
          leadLastName:
            type:
              - string
              - "null"
          leadEmail:
            type:
              - string
              - "null"
          leadCompanyName:
            type:
              - string
              - "null"
          contactId:
            type:
              - string
              - "null"
          relatedSentAt:
            type:
              - string
              - "null"
          metaData:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              teamId:
                type:
                  - string
                  - "null"
              campaignId:
                type:
                  - string
                  - "null"
              leadId:
                type:
                  - string
                  - "null"
              createdBy:
                type:
                  - string
                  - "null"
              taskId:
                type:
                  - string
                  - "null"
              s3ready:
                type:
                  - boolean
                  - "null"
          messageId:
            type:
              - string
              - "null"
          lead:
            type:
              - object
              - "null"
            properties:
              _id:
                type:
                  - string
                  - "null"
              updatedAt:
                type:
                  - string
                  - "null"
              isPaused:
                type:
                  - boolean
                  - "null"
              state:
                type:
                  - string
                  - "null"
              personalized:
                type:
                  - boolean
                  - "null"
              source:
                type:
                  - string
                  - "null"
              variables:
                type:
                  - object
                  - "null"
              contactId:
                type:
                  - string
                  - "null"
              enrichment:
                type:
                  - object
                  - "null"
                properties:
                  emailStatus:
                    type:
                      - string
                      - "null"
              hubspotLeadId:
                type:
                  - number
                  - string
                  - "null"
          sendUserLoginEmail:
            type:
              - string
              - "null"
          campaignName:
            type:
              - string
              - "null"
          sequenceTested:
            type:
              - string
              - "null"
          emailTemplateName:
            type:
              - string
              - "null"
          emailId:
            type:
              - string
              - "null"
          leadPicture:
            type:
              - string
              - "null"
          leadPhone:
            type:
              - string
              - "null"
          errorMessage:
            type:
              - string
              - "null"
          userId:
            type:
              - string
              - "null"
          userName:
            type:
              - string
              - "null"
          conditionLabel:
            type:
              - string
              - "null"
          conditionValue:
            type:
              - boolean
              - "null"
          fromEmail:
            type:
              - string
              - "null"
          subject:
            type:
              - string
              - "null"
          messagePreview:
            type:
              - string
              - "null"
          aiLeadInterestScore:
            type:
              - number
              - "null"
          location:
            type:
              - string
              - "null"
          message:
            type:
              - string
              - "null"
          text:
            type:
              - string
              - "null"
          attachments:
            type:
              - array
              - "null"
          lemlistSeenAt:
            type:
              - string
              - "null"
          sentOutSideOfLemlist:
            type:
              - boolean
              - "null"
        required:
          - _id
        additionalProperties: true
  - type: DeclarativeStream
    name: unsubscribes
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.lemlist.com/api/unsubscribes
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key: _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - _id
        properties:
          _id:
            type: string
          value:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: team
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.lemlist.com/api/team
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key: _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - _id
        properties:
          _id:
            type: string
          beta:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          name:
            type:
              - string
              - "null"
          hooks:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                _id:
                  type:
                    - string
                    - "null"
                isFirst:
                  type:
                    - boolean
                    - "null"
                createdAt:
                  type:
                    - string
                    - "null"
                targetUrl:
                  type:
                    - string
                    - "null"
          userIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          createdAt:
            type:
              - string
              - "null"
          createdBy:
            type:
              - string
              - "null"
          pictureId:
            type:
              - string
              - "null"
          customDomain:
            type:
              - string
              - "null"
          invitedUsers:
            type:
              - array
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  testedStreams:
    team:
      isStale: false
      hasRecords: true
      streamHash: ed24d8b8d3003779eea3f6656703903096bf9df9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    campaigns:
      isStale: false
      hasRecords: true
      streamHash: 8c98d519453c6b012c1d53a4af6fa1a4ef4a78da
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    unsubscribes:
      isStale: false
      hasRecords: true
      streamHash: 69f7ecbf7f6b02a4b0bb6fed0da43bcebd0f79ea
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    activities:
      isStale: false
      hasRecords: true
      streamHash: a52c4e6ebb860547117ce58509d73cb3698b3704
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    team: true
    campaigns: true
    unsubscribes: true
    activities: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
