version: 7.0.4

type: DeclarativeSource

description: >-
  Lemlist connector
  (https://developer.lemlist.com/api-reference/getting-started/overview)

check:
  type: CheckStream
  stream_names:
    - campaigns

definitions:
  linked:
    HttpRequester:
      request_parameters:
        version: v2
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset

streams:
  - type: DeclarativeStream
    name: campaigns
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.lemlist.com/api/campaigns
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: body_data
            field_name: access_token
        request_parameters:
          version: v2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - campaigns
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
    primary_key: _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          _id:
            type: string
          name:
            type:
              - string
              - "null"
          labels:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          createdAt:
            type:
              - string
              - "null"
          createdBy:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          archived:
            type:
              - boolean
              - "null"
        required:
          - _id
        additionalProperties: true
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.lemlist.com/api/activities
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: body_data
            field_name: access_token
        request_parameters:
          version: v2
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
    name: activites
    primary_key: _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          _id:
            type: string
          isFirst:
            type:
              - boolean
              - "null"
          stopped:
            type:
              - boolean
              - "null"
          createdAt:
            type:
              - string
              - "null"
          bot:
            type:
              - boolean
              - "null"
          teamId:
            type:
              - string
              - "null"
          leadId:
            type:
              - string
              - "null"
          campaignId:
            type:
              - string
              - "null"
          sequenceId:
            type:
              - string
              - "null"
          sequenceStep:
            type:
              - number
              - "null"
          emailTemplateId:
            type:
              - string
              - "null"
          createdBy:
            type:
              - string
              - "null"
          sendUserId:
            type:
              - string
              - "null"
          totalSequenceStep:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          sendUserName:
            type:
              - string
              - "null"
          sendUserEmail:
            type:
              - string
              - "null"
          sendUserMailboxId:
            type:
              - string
              - "null"
          sendUserMailboxProviderId:
            type:
              - string
              - "null"
          leadFirstName:
            type:
              - string
              - "null"
          leadLastName:
            type:
              - string
              - "null"
          leadEmail:
            type:
              - string
              - "null"
          leadPhone:
            type:
              - string
              - "null"
          leadCompanyName:
            type:
              - string
              - "null"
          contactId:
            type:
              - string
              - "null"
          relatedSentAt:
            type:
              - string
              - "null"
          metaData:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              teamId:
                type:
                  - string
                  - "null"
              campaignId:
                type:
                  - string
                  - "null"
              leadId:
                type:
                  - string
                  - "null"
              createdBy:
                type:
                  - string
                  - "null"
              taskId:
                type:
                  - string
                  - "null"
              s3ready:
                type:
                  - boolean
                  - "null"
          messageId:
            type:
              - string
              - "null"
          lead:
            type:
              - object
              - "null"
            properties:
              _id:
                type:
                  - string
                  - "null"
              updatedAt:
                type:
                  - string
                  - "null"
              isPaused:
                type:
                  - boolean
                  - "null"
              state:
                type:
                  - string
                  - "null"
              personalized:
                type:
                  - boolean
                  - "null"
              source:
                type:
                  - string
                  - "null"
              variables:
                type:
                  - object
                  - "null"
                properties:
                  email:
                    type:
                      - string
                      - "null"
                  firstName:
                    type:
                      - string
                      - "null"
                  lastName:
                    type:
                      - string
                      - "null"
                  linkedinUrl:
                    type:
                      - string
                      - "null"
                  phone:
                    type:
                      - string
                      - "null"
                  location:
                    type:
                      - string
                      - "null"
                  tagline:
                    type:
                      - string
                      - "null"
                  industry:
                    type:
                      - string
                      - "null"
                  summary:
                    type:
                      - string
                      - "null"
                  languages:
                    type:
                      - string
                      - "null"
                  skills:
                    type:
                      - string
                      - "null"
                  jobTitle:
                    type:
                      - string
                      - "null"
                  companyDomain:
                    type:
                      - string
                      - "null"
                  companyLinkedinUrl:
                    type:
                      - string
                      - "null"
                  companyFoundedOn:
                    type:
                      - string
                      - "null"
                  companyIndustry:
                    type:
                      - string
                      - "null"
                  companyLocation:
                    type:
                      - string
                      - "null"
                  companyName:
                    type:
                      - string
                      - "null"
                  companyPicture:
                    type:
                      - string
                      - "null"
                  companySize:
                    type:
                      - string
                      - "null"
                  companyType:
                    type:
                      - string
                      - "null"
                  companyECommerceType:
                    type:
                      - string
                      - "null"
                  companyMonthlyVisits:
                    type:
                      - string
                      - "null"
                  companyIndustry_SimilarWeb_:
                    type:
                      - string
                      - "null"
                  picture:
                    type:
                      - string
                      - "null"
                  company:
                    type:
                      - string
                      - "null"
                  contact_data_score_threshold:
                    type:
                      - string
                      - "null"
                  contact_s_data_score:
                    type:
                      - string
                      - "null"
                  contact_status:
                    type:
                      - string
                      - "null"
                  country:
                    type:
                      - string
                      - "null"
                  country_clean:
                    type:
                      - string
                      - "null"
                  customer_success_owner:
                    type:
                      - string
                      - "null"
                  email_verification_date:
                    type:
                      - string
                      - "null"
                  email_verification_status:
                    type:
                      - string
                      - "null"
                  email_verification_substatus:
                    type:
                      - string
                      - "null"
                  integratedTechs:
                    type:
                      - string
                      - "null"
                  is_email_bounced:
                    type:
                      - string
                      - "null"
                  last_contact_verification_date:
                    type:
                      - string
                      - "null"
                  persona_automated:
                    type:
                      - string
                      - "null"
                  eCommercePlatformTech:
                    type:
                      - string
                      - "null"
                  reachable_sales:
                    type:
                      - string
                      - "null"
                  companyIntegratedTechs:
                    type:
                      - string
                      - "null"
                  companyDescription:
                    type:
                      - string
                      - "null"
                  companySpecialties:
                    type:
                      - string
                      - "null"
                  companyTagline:
                    type:
                      - string
                      - "null"
                  persona_Marketing_:
                    type:
                      - string
                      - "null"
                  companyFoundedYear:
                    type:
                      - string
                      - "null"
                  companyWebsite:
                    type:
                      - string
                      - "null"
                  connectionCount:
                    type:
                      - string
                      - "null"
                  experience1:
                    type:
                      - string
                      - "null"
                  experience10:
                    type:
                      - string
                      - "null"
                  experience11:
                    type:
                      - string
                      - "null"
                  experience2:
                    type:
                      - string
                      - "null"
                  experience3:
                    type:
                      - string
                      - "null"
                  experience4:
                    type:
                      - string
                      - "null"
                  experience5:
                    type:
                      - string
                      - "null"
                  experience6:
                    type:
                      - string
                      - "null"
                  experience7:
                    type:
                      - string
                      - "null"
                  experience8:
                    type:
                      - string
                      - "null"
                  experience9:
                    type:
                      - string
                      - "null"
                  fullName:
                    type:
                      - string
                      - "null"
                  language1:
                    type:
                      - string
                      - "null"
                  language2:
                    type:
                      - string
                      - "null"
                  language3:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  yearsOfExperience:
                    type:
                      - string
                      - "null"
                  companyCompetitorsTech:
                    type:
                      - string
                      - "null"
                  companyIndustry(SimilarWeb):
                    type:
                      - string
                      - "null"
                  language4:
                    type:
                      - string
                      - "null"
                  email_disqualification_motive:
                    type:
                      - string
                      - "null"
                  phone_number_status:
                    type:
                      - string
                      - "null"
                  linkedinUrlSalesNav:
                    type:
                      - string
                      - "null"
                  occupation:
                    type:
                      - string
                      - "null"
                  companyEmployeesOnLinkedin:
                    type:
                      - string
                      - "null"
                  companyHeadQuarter:
                    type:
                      - string
                      - "null"
                  companyId:
                    type:
                      - string
                      - "null"
                  companyLogo:
                    type:
                      - string
                      - "null"
                  companySpecialities:
                    type:
                      - string
                      - "null"
                  linkedinClassicId:
                    type:
                      - string
                      - "null"
                  linkedinMemberId:
                    type:
                      - string
                      - "null"
                  locationName:
                    type:
                      - string
                      - "null"
                  volunteering:
                    type:
                      - string
                      - "null"
                  cleanFirstName:
                    type:
                      - string
                      - "null"
                  findCompanyLatestNews:
                    type:
                      - string
                      - "null"
                  persona(Marketing):
                    type:
                      - string
                      - "null"
                  volunteering1:
                    type:
                      - string
                      - "null"
                  volunteering2:
                    type:
                      - string
                      - "null"
                  volunteering3:
                    type:
                      - string
                      - "null"
                  project:
                    type:
                      - string
                      - "null"
                  honors:
                    type:
                      - string
                      - "null"
                  honors1:
                    type:
                      - string
                      - "null"
                  honors2:
                    type:
                      - string
                      - "null"
                  honors3:
                    type:
                      - string
                      - "null"
                  honors4:
                    type:
                      - string
                      - "null"
                  isPremium:
                    type:
                      - string
                      - "null"
              contactId:
                type:
                  - string
                  - "null"
              enrichment:
                type:
                  - object
                  - "null"
                properties:
                  emailStatus:
                    type:
                      - string
                      - "null"
              hubspotLeadId:
                type:
                  - number
                  - string
                  - "null"
          sendUserLoginEmail:
            type:
              - string
              - "null"
          campaignName:
            type:
              - string
              - "null"
          sequenceTested:
            type:
              - string
              - "null"
          emailTemplateName:
            type:
              - string
              - "null"
          leadPicture:
            type:
              - string
              - "null"
          emailId:
            type:
              - string
              - "null"
          userId:
            type:
              - string
              - "null"
          userName:
            type:
              - string
              - "null"
          fromEmail:
            type:
              - string
              - "null"
          errorMessage:
            type:
              - string
              - "null"
          subject:
            type:
              - string
              - "null"
          messagePreview:
            type:
              - string
              - "null"
          aiLeadInterestScore:
            type:
              - number
              - "null"
          location:
            type:
              - string
              - "null"
          bouncedId:
            type:
              - string
              - "null"
          conditionLabel:
            type:
              - string
              - "null"
          conditionValue:
            type:
              - boolean
              - "null"
        required:
          - _id
        additionalProperties: true
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.lemlist.com/api/unsubscribes
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: body_data
            field_name: access_token
        request_parameters:
          version: v2
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
    name: unsubscribes
    primary_key: _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          _id:
            type: string
          createdAt:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
        required:
          - _id
        additionalProperties: true
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.lemlist.com/api/team
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: body_data
            field_name: access_token
    name: team
    primary_key: _id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          _id:
            type: string
          userIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          createdBy:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          beta:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          name:
            type:
              - string
              - "null"
          invitedUsers:
            type:
              - array
              - "null"
          pictureId:
            type:
              - string
              - "null"
          customDomain:
            type:
              - string
              - "null"
          hooks:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                _id:
                  type:
                    - string
                    - "null"
                targetUrl:
                  type:
                    - string
                    - "null"
                createdAt:
                  type:
                    - string
                    - "null"
                isFirst:
                  type:
                    - boolean
                    - "null"
        required:
          - _id
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  testedStreams:
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    campaigns:
      streamHash: 8c98d519453c6b012c1d53a4af6fa1a4ef4a78da
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activites:
      streamHash: 1a02f7f8eb1c7023ccd7109cf822f3ecc244a306
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    unsubscribes:
      streamHash: 69f7ecbf7f6b02a4b0bb6fed0da43bcebd0f79ea
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    team:
      streamHash: ed24d8b8d3003779eea3f6656703903096bf9df9
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  autoImportSchema:
    campaigns: true
    activites: true
    unsubscribes: true
    team: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
  max_concurrency: null
