version: 5.16.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - surveys

definitions:
  streams:
    surveys:
      type: DeclarativeStream
      name: surveys
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: surveys
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - surveys
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys"
    survey_groups:
      type: DeclarativeStream
      name: survey_groups
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: survey_groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - survey_groups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/survey_groups"
    properties:
      type: DeclarativeStream
      name: properties
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ 'surveys/' + config['survey_id'] + '/properties' if
            config['survey_id'] else 'surveys/' + stream_slice.id +
            '/properties' }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - properties
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
        partition_router:
          type: CustomPartitionRouter
          class_name: source_declarative_manifest.components.ZenloopPartitionRouter
          config_parent_field: survey_id
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                type: DeclarativeStream
                name: surveys
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.zenloop.com/v1/
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config[\"api_token\"] }}"
                    path: surveys
                    http_method: GET
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - surveys
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    page_size_option:
                      type: RequestOption
                      field_name: per_page
                      inject_into: request_parameter
                    pagination_strategy:
                      type: PageIncrement
                      page_size: 50
                      start_from_page: 1
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type:
                      - "null"
                      - object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      inserted_at:
                        type:
                          - "null"
                          - string
                        description: The date and time when the survey data was inserted.
                        format: date-time
                      public_hash_id:
                        type:
                          - "null"
                          - string
                        description: >-
                          The unique public hash identifier associated with the
                          survey.
                      status:
                        type:
                          - "null"
                          - string
                        description: >-
                          The status of the survey data (e.g., active, inactive,
                          completed).
                      title:
                        type:
                          - "null"
                          - string
                        description: The title or name of the survey.
              parent_key: public_hash_id
              partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/properties"
    answers:
      type: DeclarativeStream
      name: answers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "{{ 'surveys/' + stream_slice.id + '/answers' }}"
          http_method: GET
          request_parameters:
            order_type: desc
            order_by: inserted_at
            date_shortcut: custom
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - answers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
        partition_router:
          type: CustomPartitionRouter
          class_name: source_declarative_manifest.components.ZenloopPartitionRouter
          config_parent_field: survey_id
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                type: DeclarativeStream
                name: surveys
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.zenloop.com/v1/
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config[\"api_token\"] }}"
                    path: surveys
                    http_method: GET
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - surveys
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    page_size_option:
                      type: RequestOption
                      field_name: per_page
                      inject_into: request_parameter
                    pagination_strategy:
                      type: PageIncrement
                      page_size: 50
                      start_from_page: 1
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type:
                      - "null"
                      - object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      inserted_at:
                        type:
                          - "null"
                          - string
                        description: The date and time when the survey data was inserted.
                        format: date-time
                      public_hash_id:
                        type:
                          - "null"
                          - string
                        description: >-
                          The unique public hash identifier associated with the
                          survey.
                      status:
                        type:
                          - "null"
                          - string
                        description: >-
                          The status of the survey data (e.g., active, inactive,
                          completed).
                      title:
                        type:
                          - "null"
                          - string
                        description: The title or name of the survey.
              parent_key: public_hash_id
              partition_field: id
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: inserted_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['date_from'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1M
        cursor_granularity: PT0.000001S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/answers"
    answers_survey_group:
      type: DeclarativeStream
      name: answers_survey_group
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "{{ 'survey_groups/' + stream_slice.id + '/answers' }}"
          http_method: GET
          request_parameters:
            order_type: desc
            order_by: inserted_at
            date_shortcut: custom
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - answers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
        partition_router:
          type: CustomPartitionRouter
          class_name: source_declarative_manifest.components.ZenloopPartitionRouter
          config_parent_field: survey_group_id
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                type: DeclarativeStream
                name: survey_groups
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.zenloop.com/v1/
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config[\"api_token\"] }}"
                    path: survey_groups
                    http_method: GET
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - survey_groups
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    page_size_option:
                      type: RequestOption
                      field_name: per_page
                      inject_into: request_parameter
                    pagination_strategy:
                      type: PageIncrement
                      page_size: 50
                      start_from_page: 1
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type:
                      - "null"
                      - object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      inserted_at:
                        type:
                          - "null"
                          - string
                        description: >-
                          The date and time the survey group was inserted into
                          the system.
                        format: date-time
                      name:
                        type:
                          - "null"
                          - string
                        description: The name of the survey group.
                      public_hash_id:
                        type:
                          - "null"
                          - string
                        description: The public hash ID associated with the survey group.
                      surveys:
                        type:
                          - "null"
                          - array
                        description: An array of surveys associated with the survey group.
                        items:
                          properties:
                            inserted_at:
                              type:
                                - "null"
                                - string
                              description: >-
                                The date and time the survey was inserted into
                                the system.
                              format: date-time
                            public_hash_id:
                              type:
                                - "null"
                                - string
                              description: The public hash ID associated with the survey.
                            status:
                              type:
                                - "null"
                                - string
                              description: The status of the survey.
                            title:
                              type:
                                - "null"
                                - string
                              description: The title of the survey.
              parent_key: public_hash_id
              partition_field: id
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: inserted_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['date_from'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1M
        cursor_granularity: PT0.000001S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/answers_survey_group"
  base_requester:
    type: HttpRequester
    url_base: https://api.zenloop.com/v1/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_token\"] }}"

streams:
  - $ref: "#/definitions/streams/surveys"
  - $ref: "#/definitions/streams/survey_groups"
  - $ref: "#/definitions/streams/properties"
  - $ref: "#/definitions/streams/answers"
  - $ref: "#/definitions/streams/answers_survey_group"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        description: >-
          Zenloop API Token. You can get the API token in settings page <a
          href="https://app.zenloop.com/settings/api">here</a> 
        airbyte_secret: true
        order: 0
      date_from:
        type: string
        description: >-
          Zenloop date_from. Format: 2021-10-24T03:30:30Z or 2021-10-24. Leave
          empty if only data from current data should be synced
        examples:
          - "2021-10-24T03:30:30Z"
        order: 1
      survey_id:
        type: string
        description: >-
          Zenloop Survey ID. Can be found <a
          href="https://app.zenloop.com/settings/api">here</a>. Leave empty to
          pull answers from all surveys
        airbyte_secret: true
        order: 2
      survey_group_id:
        type: string
        description: >-
          Zenloop Survey Group ID. Can be found by pulling All Survey Groups via
          SurveyGroups stream. Leave empty to pull answers from all survey
          groups
        airbyte_secret: true
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    surveys: false
    survey_groups: false
    properties: false
    answers: false
    answers_survey_group: false
  yamlComponents:
    streams:
      properties:
        - parentStreams
      answers:
        - parentStreams
      answers_survey_group:
        - parentStreams
  testedStreams: {}
  assist: {}

schemas:
  surveys:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      inserted_at:
        type:
          - "null"
          - string
        description: The date and time when the survey data was inserted.
        format: date-time
      public_hash_id:
        type:
          - "null"
          - string
        description: The unique public hash identifier associated with the survey.
      status:
        type:
          - "null"
          - string
        description: The status of the survey data (e.g., active, inactive, completed).
      title:
        type:
          - "null"
          - string
        description: The title or name of the survey.
  survey_groups:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      inserted_at:
        type:
          - "null"
          - string
        description: The date and time the survey group was inserted into the system.
        format: date-time
      name:
        type:
          - "null"
          - string
        description: The name of the survey group.
      public_hash_id:
        type:
          - "null"
          - string
        description: The public hash ID associated with the survey group.
      surveys:
        type:
          - "null"
          - array
        description: An array of surveys associated with the survey group.
        items:
          properties:
            inserted_at:
              type:
                - "null"
                - string
              description: The date and time the survey was inserted into the system.
              format: date-time
            public_hash_id:
              type:
                - "null"
                - string
              description: The public hash ID associated with the survey.
            status:
              type:
                - "null"
                - string
              description: The status of the survey.
            title:
              type:
                - "null"
                - string
              description: The title of the survey.
  properties:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
        description: The unique identifier for the property.
      name:
        type:
          - "null"
          - string
        description: The name or title of the property.
      value:
        type:
          - "null"
          - string
        description: The value associated with the property.
  answers:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      additional_answers:
        type:
          - "null"
          - array
        description: Additional answers provided by the respondent.
        items:
          properties:
            additional_question_id:
              type:
                - "null"
                - string
              description: The unique identifier of the additional question.
            answer:
              type:
                - "null"
                - string
              description: The answer provided by the respondent.
            inserted_at:
              type:
                - "null"
                - string
              description: The timestamp when the answer was inserted.
              format: date-time
      additional_questions:
        type:
          - "null"
          - object
        description: Any additional questions presented to the respondent.
      comment:
        type:
          - "null"
          - string
        description: Any comments provided by the respondent.
      email:
        type:
          - "null"
          - string
        description: The email address of the respondent.
      id:
        type:
          - "null"
          - string
        description: The unique identifier of the answer data.
      identity:
        type:
          - "null"
          - string
        description: The identity of the respondent.
      identity_type:
        type:
          - "null"
          - string
        description: The type of identity used by the respondent.
      inserted_at:
        type:
          - "null"
          - string
        description: The timestamp when the answer data was inserted.
        format: date-time
      labels:
        type:
          - "null"
          - array
        description: Any labels associated with the answer data.
      labels_with_keywords:
        type:
          - "null"
          - object
        description: Labels associated with keywords.
      metatags:
        type:
          - "null"
          - object
        description: Meta tags associated with the answer data.
      name:
        type:
          - "null"
          - string
        description: The name of the respondent.
      property_ids:
        type:
          - "null"
          - array
        description: IDs of the properties linked to the answer data.
      recipient_id:
        type:
          - "null"
          - string
        description: The unique identifier of the recipient.
      score:
        type:
          - "null"
          - number
        description: The score associated with the answer data.
      score_type:
        type:
          - "null"
          - string
        description: The type of score assigned to the answer data.
      sentiment:
        type:
          - "null"
          - string
        description: The sentiment associated with the answer data.
      sentiment_per_label_name:
        type:
          - "null"
          - object
        description: Sentiment per label name.
      translated_comment:
        type:
          - "null"
          - string
        description: The translated comment provided by the respondent.
  answers_survey_group:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      additional_questions:
        type:
          - "null"
          - object
        description: Any additional questions provided in the survey group response
      comment:
        type:
          - "null"
          - string
        description: Survey response comment provided by the respondent
      email:
        type:
          - "null"
          - string
        description: Email address of the respondent
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the survey group response
      identity:
        type:
          - "null"
          - string
        description: Identity information of the respondent
      identity_type:
        type:
          - "null"
          - string
        description: Type of identity information provided
      inserted_at:
        type:
          - "null"
          - string
        description: Timestamp of when the response was inserted
        format: date-time
      labels:
        type:
          - "null"
          - array
        description: Labels associated with the survey response
      labels_with_keywords:
        type:
          - "null"
          - object
        description: Labels along with corresponding keywords
      metatags:
        type:
          - "null"
          - object
        description: Additional metadata tags associated with the response
      name:
        type:
          - "null"
          - string
        description: Name of the respondent
      property_ids:
        type:
          - "null"
          - array
        description: IDs of properties associated with the respondent
      recipient_id:
        type:
          - "null"
          - string
        description: Unique identifier for the recipient of the survey
      score:
        type:
          - "null"
          - number
        description: Score assigned to the survey response
      score_type:
        type:
          - "null"
          - string
        description: Type of scoring used for the survey responses
      sentiment:
        type:
          - "null"
          - string
        description: Sentiment analysis result for the response
      sentiment_per_label_name:
        type:
          - "null"
          - object
        description: Sentiment analysis results per label
      survey_public_hash_id:
        type:
          - "null"
          - string
        description: Public hash ID of the survey associated with the response
      translated_comment:
        type:
          - "null"
          - string
        description: Translated version of the comment provided
