version: 5.10.2

type: DeclarativeSource

description: >-
  Airbyte connector for Thinkific, allowing you to seamlessly sync data like
  users, course participants, and instructors from Thinkific to other platforms.
  It's designed to make managing and analyzing your online courses and
  communities even easier!

check:
  type: CheckStream
  stream_names:
    - courses

definitions:
  streams:
    courses:
      type: DeclarativeStream
      name: courses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /courses
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/courses"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    promotions:
      type: DeclarativeStream
      name: promotions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /promotions
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/promotions"
    categories:
      type: DeclarativeStream
      name: categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /collections
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
    reviews:
      type: DeclarativeStream
      name: reviews
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /course_reviews
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              request_option:
                type: RequestOption
                field_name: course_id
                inject_into: request_parameter
              partition_field: course_id
              stream:
                $ref: "#/definitions/streams/courses"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reviews"
    enrollments:
      type: DeclarativeStream
      name: enrollments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /enrollments
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/enrollments"
    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /groups
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    instructors:
      type: DeclarativeStream
      name: instructors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /instructors
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/instructors"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    coupons:
      type: DeclarativeStream
      name: coupons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /coupons?promotion_id={{ stream_partition.promotion_id }}
          http_method: GET
          request_headers:
            X-Auth-Subdomain: "{{ config['subdomain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: promotion_id
              stream:
                $ref: "#/definitions/streams/promotions"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/coupons"
  base_requester:
    type: HttpRequester
    url_base: https://api.thinkific.com/api/public/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-Auth-API-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/courses"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/promotions"
  - $ref: "#/definitions/streams/categories"
  - $ref: "#/definitions/streams/reviews"
  - $ref: "#/definitions/streams/enrollments"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/instructors"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/coupons"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - subdomain
    properties:
      api_key:
        type: string
        description: Your Thinkific API key for authentication.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      subdomain:
        type: string
        description: >-
          The subdomain of your Thinkific URL (e.g., if your URL is
          example.thinkific.com, your subdomain is "example".
        order: 1
        title: subdomain
    additionalProperties: true

metadata:
  autoImportSchema:
    courses: false
    users: false
    promotions: false
    categories: false
    reviews: false
    enrollments: false
    groups: true
    instructors: false
    orders: false
    products: false
    coupons: false
  testedStreams:
    courses:
      hasRecords: true
      streamHash: bbe44b3d7a662bcae987f8851ee08062873b35c3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      streamHash: a57762ca230a1c9bc2d1514d75cd346b2f2e5008
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    promotions:
      hasRecords: true
      streamHash: 55b9778d3fb6c908d1ae826801f9843f478880e7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    categories:
      hasRecords: true
      streamHash: 2182340ccbd8f366f34b277c38070908b966ad09
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    reviews:
      streamHash: db9558b386cf72af5f3cb7c2e4490635be63b651
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    enrollments:
      hasRecords: true
      streamHash: 30782f4e5191bfd1947bf9e066d55991e4b2cc4a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    groups:
      hasRecords: true
      streamHash: 0c957da7bda39fc2848930da6ab8fcde0b8e001c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    instructors:
      hasRecords: true
      streamHash: e024a55fda262d3d6b3b0f1134768cd8d56b3ac7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    orders:
      hasRecords: true
      streamHash: 1fbeed3cd8bd39e83a6f69c14861dd28b2bf548c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: 4b1492c51c10da781f04e47635686c627400f480
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    coupons:
      hasRecords: true
      streamHash: 3284853d55f1cc2850857163af5a462aabe2580e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.thinkific.com/api/api-documentation

schemas:
  courses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      administrator_user_ids:
        type:
          - array
          - "null"
      banner_image_url:
        type:
          - string
          - "null"
      chapter_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      contact_information:
        type:
          - string
          - "null"
      course_card_image_url:
        type:
          - string
          - "null"
      id:
        type: number
      instructor_id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      product_id:
        type:
          - number
          - "null"
      reviews_enabled:
        type:
          - boolean
          - "null"
      slug:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      affiliate_code:
        type:
          - string
          - "null"
      affiliate_commission:
        type:
          - string
          - "null"
      affiliate_commission_type:
        type:
          - string
          - "null"
      affiliate_payout_email:
        type:
          - string
          - "null"
      company:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      custom_profile_fields:
        type:
          - array
          - "null"
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      full_name:
        type:
          - string
          - "null"
      id:
        type: number
      last_name:
        type:
          - string
          - "null"
      roles:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
    additionalProperties: true
  promotions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - string
          - "null"
      coupon_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      created_at:
        type:
          - string
          - "null"
      discount_type:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      default:
        type:
          - boolean
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      product_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      slug:
        type:
          - string
          - "null"
    required:
      - id
  reviews:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      approved:
        type:
          - boolean
          - "null"
      course_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      rating:
        type:
          - number
          - "null"
      review_text:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
  enrollments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      activated_at:
        type:
          - string
          - "null"
      completed:
        type:
          - boolean
          - "null"
      completed_at:
        type:
          - string
          - "null"
      course_id:
        type:
          - number
          - "null"
      course_name:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      expired:
        type:
          - boolean
          - "null"
      id:
        type: number
      is_free_trial:
        type:
          - boolean
          - "null"
      percentage_completed:
        type:
          - string
          - "null"
      started_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      user_email:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
      user_name:
        type:
          - string
          - "null"
    required:
      - id
  groups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      token:
        type:
          - string
          - "null"
    required:
      - id
  instructors:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      avatar_url:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      id:
        type: number
      last_name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount_cents:
        type:
          - number
          - "null"
      amount_dollars:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            amount_cents:
              type:
                - number
                - "null"
            amount_dollars:
              type:
                - number
                - "null"
            product_id:
              type:
                - number
                - "null"
            product_name:
              type:
                - string
                - "null"
      product_id:
        type:
          - number
          - "null"
      product_name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subscription:
        type:
          - boolean
          - "null"
      user_email:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
      user_name:
        type:
          - string
          - "null"
    required:
      - id
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      card_image_url:
        type:
          - string
          - "null"
      collection_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      created_at:
        type:
          - string
          - "null"
      has_certificate:
        type:
          - boolean
          - "null"
      hidden:
        type:
          - boolean
          - "null"
      id:
        type: number
      instructor_names:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      price:
        type:
          - string
          - "null"
      private:
        type:
          - boolean
          - "null"
      product_prices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            currency:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            is_primary:
              type:
                - boolean
                - "null"
            payment_type:
              type:
                - string
                - "null"
            price:
              type:
                - string
                - "null"
            price_name:
              type:
                - string
                - "null"
      productable_id:
        type:
          - number
          - "null"
      productable_type:
        type:
          - string
          - "null"
      related_product_ids:
        type:
          - array
          - "null"
      slug:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subscription:
        type:
          - boolean
          - "null"
    required:
      - id
  coupons:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      promotion_id:
        type:
          - number
          - "null"
      quantity:
        type:
          - number
          - "null"
      quantity_used:
        type:
          - number
          - "null"
    required:
      - id
