version: 0.50.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - limits

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    page_size_option:
      type: RequestOption
      field_name: per_page
      inject_into: request_parameter
    pagination_strategy:
      type: CursorPagination
      page_size: 100
      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
  basic_authenticator:
    type: BasicHttpAuthenticator
    password: "{{ config['credentials']['api_token']  }}"
    username: "{{ config['credentials']['email']  }}/token"
  oauth2_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token']  }}"
  requester:
    type: HttpRequester
    url_base: https://{{ config['subdomain'] }}.zendesk.com/api/sunshine/
    http_method: GET
    request_headers:
      Content-Type: application/json
    authenticator:
      class_name: source_zendesk_sunshine.components.AuthenticatorZendeskSunshine
      basic_auth: "#/definitions/basic_authenticator"
      oauth2: "#/definitions/oauth2_authenticator"
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
    request_body_json: {}
  base_stream:
    type: DeclarativeStream
    primary_key: key
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: "{{ parameters.path }}"
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
  limits_stream:
    $ref: "#/definitions/base_stream"
    name: limits
    $parameters:
      path: limits
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          key:
            description: The identifier key for the fetched data records
            type:
              - "null"
              - string
          limit:
            description:
              The maximum limit allowed for fetching data records in a
              single request
            type:
              - "null"
              - integer
          count:
            description: The total count of the data records fetched
            type:
              - "null"
              - integer
  relationship_types_stream:
    $ref: "#/definitions/base_stream"
    name: relationship_types
    $parameters:
      path: relationships/types
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          key:
            description: A unique identifier for the relationship type.
            type:
              - "null"
              - string
          source:
            description: The entity that is the source of the relationship.
            type:
              - "null"
              - string
          target:
            description: The entity that is the target of the relationship.
            type:
              - "null"
              - string
          created_at:
            description:
              The timestamp representing when the relationship type was
              created.
            type:
              - "null"
              - string
          updated_at:
            description:
              The timestamp representing when the relationship type was
              last updated.
            type:
              - "null"
              - string
  object_types_stream:
    $ref: "#/definitions/base_stream"
    name: object_types
    $parameters:
      path: objects/types
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          key:
            description: The unique identifier for the object type.
            type:
              - "null"
              - string
          schema:
            description:
              The schema definition for the object type properties and
              requirements.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              properties:
                description: The defined properties for the object type.
                type:
                  - "null"
                  - object
                additionalProperties: true
              required:
                description:
                  An array specifying the required properties for the object
                  type.
                type:
                  - "null"
                  - array
                items:
                  description: The name of a required property.
                  type:
                    - "null"
                    - string
          created_at:
            description: The date and time when the object type was created.
            type:
              - "null"
              - string
          updated_at:
            description: The date and time when the object type was last updated.
            type:
              - "null"
              - string
  object_records_stream:
    type: DeclarativeStream
    name: object_records
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: objects/query
        http_method: POST
        request_body_json:
          query:
            _type:
              $eq: "{{ stream_partition.type }}"
          sort_by: _updated_at asc
          _updated_at:
            start:
              "{{ stream_interval.start_time.strftime('%Y-%m-%d %H:%M:%s.%f')[:-3]
              }}"
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: key
              partition_field: type
              stream:
                $ref: "#/definitions/object_types_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          type:
            description: The type or category of the object record.
            type:
              - "null"
              - string
          id:
            description:
              The unique identifier for the object record in the Zendesk
              Sunshine platform.
            type:
              - "null"
              - string
          external_id:
            description:
              The unique identifier for the object record in an external
              system.
            type:
              - string
              - "null"
          attributes:
            description: Custom data attributes associated with the object record.
            type:
              - "null"
              - object
            additionalProperties: true
          created_at:
            description: The timestamp indicating when the object record was created.
            type:
              - "null"
              - string
          updated_at:
            description:
              The timestamp indicating when the object record was last
              updated.
            type:
              - "null"
              - string
  object_type_policies_stream:
    type: DeclarativeStream
    name: object_type_policies
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: objects/types/{{ stream_partition.type }}/permissions
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: key
              partition_field: type
              stream:
                $ref: "#/definitions/object_types_stream"
    transformations:
      - type: AddFields
        fields:
          - path:
              - object_type
            value: "{{ stream_partition.type }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          object_type:
            description: The type of object for which the permissions are being defined.
            type:
              - "null"
              - string
          rbac:
            description: Access control policies related to role-based access control.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              admin:
                description: Permissions for administrators.
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  create:
                    description: Permission to create new objects of this type.
                    type:
                      - "null"
                      - boolean
                  read:
                    description: Permission to read/view objects of this type.
                    type:
                      - "null"
                      - boolean
                  update:
                    description: Permission to update/edit objects of this type.
                    type:
                      - "null"
                      - boolean
                  delete:
                    description: Permission to delete objects of this type.
                    type:
                      - "null"
                      - boolean
              agent:
                description: Permissions for agents.
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  create:
                    description: Permission to create new objects of this type.
                    type:
                      - "null"
                      - boolean
                  read:
                    description: Permission to read/view objects of this type.
                    type:
                      - "null"
                      - boolean
                  update:
                    description: Permission to update/edit objects of this type.
                    type:
                      - "null"
                      - boolean
                  delete:
                    description: Permission to delete objects of this type.
                    type:
                      - "null"
                      - boolean
              end_user:
                description: Permissions for end users.
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  create:
                    description: Permission to create new objects of this type.
                    type:
                      - "null"
                      - boolean
                  read:
                    description: Permission to read/view objects of this type.
                    type:
                      - "null"
                      - boolean
                  update:
                    description: Permission to update/edit objects of this type.
                    type:
                      - "null"
                      - boolean
                  delete:
                    description: Permission to delete objects of this type.
                    type:
                      - "null"
                      - boolean
  relationship_records_stream:
    type: DeclarativeStream
    name: relationship_records
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: relationships/records
        request_parameters:
          type: "{{ stream_partition.type }}"
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: key
              partition_field: type
              stream:
                $ref: "#/definitions/relationship_types_stream"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            description: The unique identifier for the relationship record.
            type: string
          relationship_type:
            description: The type of relationship between the source and target entities.
            type: string
          source:
            description: The entity that initiated the relationship.
            type: string
          target:
            description: The entity that is the target of the relationship.
            type: string
          created_at:
            description:
              The timestamp indicating when the relationship record was
              created.
            type: string
streams:
  - "#/definitions/limits_stream"
  - "#/definitions/object_types_stream"
  - "#/definitions/object_records_stream"
  - "#/definitions/object_type_policies_stream"
  - "#/definitions/relationship_types_stream"
  - "#/definitions/relationship_records_stream"

spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/zendesk_sunshine
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    required:
      - start_date
      - subdomain
    properties:
      subdomain:
        type: string
        order: 0
        title: Subdomain
        description: The subdomain for your Zendesk Account.
      start_date:
        type: string
        title: Start date
        format: date-time
        description:
          The date from which you'd like to replicate data for Zendesk
          Sunshine API, in the format YYYY-MM-DDT00:00:00Z.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2021-01-01T00:00:00Z"
        order: 1
      credentials:
        title: Authorization Method
        type: object
        oneOf:
          - type: object
            title: OAuth2.0
            required:
              - auth_method
              - client_id
              - client_secret
              - access_token
            properties:
              auth_method:
                type: string
                const: oauth2.0
                enum:
                  - oauth2.0
                default: oauth2.0
                order: 0
              client_id:
                type: string
                title: Client ID
                description: The Client ID of your OAuth application.
                airbyte_secret: true
              client_secret:
                type: string
                title: Client Secret
                description: The Client Secret of your OAuth application.
                airbyte_secret: true
              access_token:
                type: string
                title: Access Token
                description: Long-term access Token for making authenticated requests.
                airbyte_secret: true
          - type: object
            title: API Token
            required:
              - auth_method
              - api_token
              - email
            properties:
              auth_method:
                type: string
                const: api_token
                enum:
                  - api_token
                default: api_token
                order: 1
              api_token:
                type: string
                title: API Token
                description:
                  API Token. See the <a href="https://docs.airbyte.com/integrations/sources/zendesk_sunshine">docs</a>
                  for information on how to generate this key.
                airbyte_secret: true
              email:
                type: string
                title: Email
                description: The user email for your Zendesk account
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_method
    predicate_value: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
      oauth_user_input_from_connector_config_specification:
        type: object
        additionalProperties: false
        properties:
          subdomain:
            type: string
            path_in_connector_config:
              - subdomain
