lib/
node_modules/
.DS_Store
*.code-workspace
.vscode
out/
faros-airbyte-cdk/package-lock.json
destinations/**/package-lock.json
sources/**/package-lock.json
secrets/
acceptance-test-*.log
acceptance_tests_logs
**/jenkins/data/logs
**/jenkins/data/war
**/jenkins/data/.cache
**/jenkins/data/.java
**/jenkins/data/.lastStarted
**/jenkins/data/*.log
