version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - applications

definitions:
  streams:
    applications:
      type: DeclarativeStream
      name: applications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v1/app
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: iterator
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('iterator', '') }}"
            stop_condition: "{{ response.get('done', False) }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/applications"
    event_types:
      type: DeclarativeStream
      name: event_types
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v1/event-type
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: iterator
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('iterator', '') }}"
            stop_condition: "{{ response.get('done', False) }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/event_types"
    tokens:
      type: DeclarativeStream
      name: tokens
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v1/management/authentication/api-token
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: iterator
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('iterator', '') }}"
            stop_condition: "{{ response.get('done', False) }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tokens"
    endpoints:
      type: DeclarativeStream
      name: endpoints
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v1/app/{{ stream_partition['app_id'] }}/endpoint
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: iterator
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('iterator', '') }}"
            stop_condition: "{{ response.get('done', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: app_id
              stream:
                $ref: "#/definitions/streams/applications"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/endpoints"
    integrations:
      type: DeclarativeStream
      name: integrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v1/app/{{ stream_partition['app_id'] }}/integration
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: iterator
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('iterator', '') }}"
            stop_condition: "{{ response.get('done', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: app_id
              stream:
                $ref: "#/definitions/streams/applications"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/integrations"
    ingest_source:
      type: DeclarativeStream
      name: ingest_source
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ingest/api/v1/source
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: iterator
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('iterator', '') }}"
            stop_condition: "{{ response.get('done', False) }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ingest_source"
    ingest_source_endpoint:
      type: DeclarativeStream
      name: ingest_source_endpoint
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ingest/api/v1/source/{{ stream_partition['src_id'] }}/endpoint
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: iterator
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('iterator', '') }}"
            stop_condition: "{{ response.get('done', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: src_id
              stream:
                $ref: "#/definitions/streams/ingest_source"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ingest_source_endpoint"
    webhook_endpoint:
      type: DeclarativeStream
      name: webhook_endpoint
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v1/operational-webhook/endpoint
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: iterator
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('iterator', '') }}"
            stop_condition: "{{ response.get('done', False) }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhook_endpoint"
  base_requester:
    type: HttpRequester
    url_base: https://api.eu.svix.com/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/applications"
  - $ref: "#/definitions/streams/event_types"
  - $ref: "#/definitions/streams/tokens"
  - $ref: "#/definitions/streams/endpoints"
  - $ref: "#/definitions/streams/integrations"
  - $ref: "#/definitions/streams/ingest_source"
  - $ref: "#/definitions/streams/ingest_source_endpoint"
  - $ref: "#/definitions/streams/webhook_endpoint"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: API key or access token
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    applications: true
    event_types: true
    tokens: true
    endpoints: true
    integrations: false
    ingest_source: true
    ingest_source_endpoint: true
    webhook_endpoint: false
  testedStreams:
    applications:
      streamHash: 63f2d6eed13c222cd2a5391ff79a117bce0fa023
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    event_types:
      streamHash: 1e1ffe38f44ad2b5cb693351b72775863681065a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tokens:
      streamHash: abcea9ec918750edb381a4fe6a392c11c999c343
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    endpoints:
      streamHash: b12e5d51bcc46afcae86d79ddc2ded94cf903e04
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    integrations:
      streamHash: 889667135d44a683c2ad60ab6127ab31ced12de1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ingest_source:
      streamHash: e624187d060b2647509ccc3a46eb34c282948b5e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ingest_source_endpoint:
      streamHash: bad6dcbbbe5de732ab68e49295b3897ac4fabd98
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    webhook_endpoint:
      streamHash: 26cb9530b2131ebf154bc83c5d325b0b55e8b511
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://api.svix.com/docs#tag/Application/operation/v1.application.list

schemas:
  applications:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      uid:
        type:
          - string
          - "null"
      updatedAt:
        type: string
    required:
      - id
      - updatedAt
  event_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - string
          - "null"
      deprecated:
        type:
          - boolean
          - "null"
      featureFlag:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      updatedAt:
        type: string
      uuid:
        type: string
    required:
      - uuid
      - updatedAt
  tokens:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      censoredToken:
        type:
          - string
          - "null"
      createdAt:
        type: string
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
      - createdAt
  endpoints:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      description:
        type:
          - string
          - "null"
      metadata:
        type:
          - object
          - "null"
      createdAt:
        type:
          - string
          - "null"
      disabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      updatedAt:
        type: string
      url:
        type:
          - string
          - "null"
    required:
      - id
      - updatedAt
  integrations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      featureFlags:
        type:
          - array
          - "null"
        items: {}
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    title: Generated schema for Root
  ingest_source:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      config:
        type:
          - object
          - "null"
        properties:
          payload:
            type:
              - string
              - "null"
          schedule:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      updatedAt:
        type: string
    required:
      - id
      - updatedAt
  ingest_source_endpoint:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      metadata:
        type:
          - object
          - "null"
      createdAt:
        type:
          - string
          - "null"
      disabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      updatedAt:
        type: string
      url:
        type:
          - string
          - "null"
    required:
      - id
      - updatedAt
  webhook_endpoint:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      metadata:
        type:
          - object
          - "null"
        properties:
          property1:
            type:
              - string
              - "null"
          property2:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      disabled:
        type:
          - boolean
          - "null"
      filterTypes:
        type:
          - array
          - "null"
        items:
          type: string
      id:
        type:
          - string
          - "null"
      rateLimit:
        type:
          - number
          - "null"
      uid:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    title: Generated schema for Root
