version: 5.7.3

type: DeclarativeSource

description: a change pt 2

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    ratings:
      type: DeclarativeStream
      name: ratings
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /meta/ratings
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
          request_parameters:
            ext_id: "{{ stream_slice.ext_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/app_lists"
              parent_key: ext_id
              partition_field: ext_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ratings"
    app_lists:
      type: DeclarativeStream
      name: app_lists
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account/apps/app
          http_method: GET
          request_parameters:
            apps_id: "{{ stream_slice.app_collection_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - apps_app
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/app_collections"
              parent_key: id
              partition_field: app_collection_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/app_lists"
      transformations:
        - type: AddFields
          fields:
            - path:
                - app_collection_id
              value: "{{ stream_slice.app_collection_id }}"
        - type: AddFields
          fields:
            - path:
                - ext_id
              value: "{{ record.app.ext_id }}"
    stat_reviews:
      type: DeclarativeStream
      name: stat_reviews
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reviews/stats
          http_method: GET
          request_parameters:
            ext_id: "{{ stream_slice.ext_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/app_lists"
              parent_key: ext_id
              partition_field: ext_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stat_reviews"
    app_collections:
      type: DeclarativeStream
      name: app_collections
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account/apps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - apps
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/app_collections"
  base_requester:
    type: HttpRequester
    url_base: https://api.appfollow.io/api/v2
    authenticator:
      type: ApiKeyAuthenticator
      header: X-AppFollow-API-Token
      api_token: "{{ config['api_key'] }}"

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/app_collections"
  - $ref: "#/definitions/streams/app_lists"
  - $ref: "#/definitions/streams/stat_reviews"
  - $ref: "#/definitions/streams/ratings"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required: []
    properties:
      api_secret:
        type: string
        description: API Key provided by Appfollow
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    users:
      streamHash: 253737687a60cff0eff49c6d29be76f528971663
    ratings:
      streamHash: e9cb4baf2f62e6f75cb679b1532a4b743a58ef94
    app_lists:
      streamHash: 566454e01d19969e3a053d8db4cbb5e45ce076c5
    stat_reviews:
      streamHash: 4908660e01754c9aa4af2c88592b431a2ae618db
    app_collections:
      streamHash: fb87a006dce74e87f7024a30e3911b5e92532908
  yamlComponents:
    global:
      - authenticator
  autoImportSchema:
    users: false
    ratings: false
    app_lists: false
    stat_reviews: false
    app_collections: false

schemas:
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      role:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      updated:
        type:
          - "null"
          - string
    additionalProperties: true
  ratings:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      ratings:
        list:
          type:
            - "null"
            - array
          items:
            type:
              - "null"
              - object
            properties:
              version:
                type: string
              date:
                type: string
              rating:
                type: number
              stars1:
                type: integer
              stars2:
                type: integer
              stars3:
                type: integer
              stars4:
                type: integer
              stars5:
                type: integer
              country:
                type: string
              stars_total:
                type: integer
        store:
          type:
            - "null"
            - string
        ext_id:
          type:
            - "null"
            - string
    additionalProperties: true
  app_lists:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      app:
        type:
          - "null"
          - object
        additionalProperties: true
      store:
        type:
          - "null"
          - string
      app_id:
        type:
          - "null"
          - integer
      ext_id:
        type:
          - "null"
          - string
      created:
        type:
          - "null"
          - string
      watch_url:
        type:
          - "null"
          - string
      is_favorite:
        type:
          - "null"
          - integer
      count_reviews:
        type:
          - "null"
          - integer
      count_whatsnew:
        type:
          - "null"
          - integer
      app_collection_id:
        type:
          - "null"
          - integer
      has_reply_integration:
        type:
          - "null"
          - integer
    additionalProperties: true
  stat_reviews:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      store:
        type:
          - "null"
          - string
      ext_id:
        type:
          - "null"
          - string
      reviews_stat:
        type:
          - "null"
          - object
        properties:
          to:
            type:
              - "null"
              - string
          from:
            type:
              - "null"
              - string
          store:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          app_id:
            type:
              - "null"
              - integer
          replies:
            type:
              - "null"
              - integer
          reviews:
            type:
              - "null"
              - integer
        additionalProperties: true
    additionalProperties: true
  app_collections:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - integer
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
      title:
        type:
          - "null"
          - string
      created:
        type:
          - "null"
          - string
      countries:
        type:
          - "null"
          - string
      languages:
        type:
          - "null"
          - string
      count_apps:
        type:
          - "null"
          - integer
      title_normalized:
        type:
          - "null"
          - string
    additionalProperties: true
