@use "../../../../../scss/colors";
@use "../../../../../scss/variables";

.wrapper {
  position: relative;
  width: 100%;
}
.container {
  position: absolute;
  border: none;
  background-color: colors.$white;
  width: 100%;
  margin-top: variables.$spacing-xl;
  padding: 0;
  border-radius: variables.$border-radius-sm;
}

.connectorCardWrapper {
  padding: 20px;
}
