version: 6.0.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - employees

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        header: Authorization
        api_token: Token {{ config['api_token'] }}
      error_handler:
        type: DefaultErrorHandler
        max_retries: 50
        response_filters:
          - type: HttpResponseFilter
            action: RETRY
            http_codes:
              - 429
            failure_type: transient_error
          - type: HttpResponseFilter
            action: RETRY
            http_codes:
              - 500
              - 502
              - 503
              - 504
            failure_type: transient_error
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
              - 401
              - 403
            failure_type: config_error
        backoff_strategies:
          - type: WaitTimeFromHeader
            regex: ([0-9]+)
            header: retry-after
            max_waiting_time_in_seconds: 3600
          - type: ExponentialBackoffStrategy
            factor: 2
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response['next'] }}"
          stop_condition: "{{ 'next' not in response }}"

streams:
  - type: DeclarativeStream
    name: employees
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/employees
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: employee_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - employee_id
        properties:
          id:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          last_name:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          employee_id:
            type: string
          linked_user:
            type:
              - string
              - "null"
          final_process_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations: []
  - type: DeclarativeStream
    name: attribute-worksheet-list
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/attribute-worksheets
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          columns:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    id:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    format:
                      type:
                        - object
                        - "null"
                      properties:
                        comma:
                          type:
                            - boolean
                            - "null"
                        places:
                          type:
                            - string
                            - "null"
                    object:
                      type:
                        - string
                        - "null"
                    source:
                      type:
                        - string
                        - "null"
                    variant:
                      type:
                        - string
                        - "null"
                    data_type:
                      type:
                        - string
                        - "null"
                    read_only:
                      type:
                        - boolean
                        - "null"
                    user_defined:
                      type:
                        - boolean
                        - "null"
                    worksheet_id:
                      type:
                        - string
                        - "null"
                    parent_column:
                      type:
                        - string
                        - "null"
                    source_column:
                      type:
                        - string
                        - "null"
                    is_primary_key:
                      type:
                        - boolean
                        - "null"
                    worksheet_name:
                      type:
                        - string
                        - "null"
                    option_group_id:
                      type:
                        - string
                        - "null"
                    source_field_name:
                      type:
                        - string
                        - "null"
                    source_field_label:
                      type:
                        - string
                        - "null"
                    custom_picklist_options:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                          value:
                            type:
                              - string
                              - "null"
                          object:
                            type:
                              - string
                              - "null"
              object:
                type:
                  - string
                  - "null"
              total_count:
                type:
                  - number
                  - "null"
          pk_type:
            type:
              - string
              - "null"
          workbook:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
          is_hidden:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          columns_width:
            type:
              - object
              - "null"
            properties:
              9287ae66-90fb-46c9-91f5-fd156ede84d3:
                type:
                  - number
                  - "null"
          pk_column_uuids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          records_per_page:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: payout-dates
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/payouts/payout-dates
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          payout_date:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: report-models
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/report-models
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          worksheets:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                object:
                  type:
                    - string
                    - "null"
                is_hidden:
                  type:
                    - boolean
                    - "null"
          period_dates:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                date:
                  type:
                    - string
                    - "null"
                object:
                  type:
                    - string
                    - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: data-workbooks
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/data-workbooks
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          name:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          worksheets:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                description:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                object:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: data-worksheets-list
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/data-worksheets
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          columns:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                format:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    comma:
                      type:
                        - boolean
                        - "null"
                    places:
                      type:
                        - string
                        - "null"
                    currency_code:
                      type:
                        - string
                        - "null"
                object:
                  type:
                    - string
                    - "null"
                formula:
                  type:
                    - string
                    - "null"
                variant:
                  type:
                    - string
                    - "null"
                data_type:
                  type:
                    - string
                    - "null"
                read_only:
                  type:
                    - boolean
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
          workbook:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          workbook_name:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: employee-assumptions
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/employee-assumptions
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              OTPR:
                type:
                  - string
                  - "null"
              "null":
                type:
                  - string
                  - "null"
              OTPR 1:
                type:
                  - string
                  - "null"
              OTPR 2:
                type:
                  - string
                  - "null"
              OTPR 3:
                type:
                  - string
                  - "null"
              SQL Q1:
                type:
                  - string
                  - "null"
              SQL Q2:
                type:
                  - string
                  - "null"
              SQL Q3:
                type:
                  - string
                  - "null"
              SQL Q4:
                type:
                  - string
                  - "null"
              OTC (LC):
                type:
                  - string
                  - "null"
              SDR Team:
                type:
                  - string
                  - "null"
              Hire Date:
                type:
                  - string
                  - "null"
              FYV Target:
                type:
                  - string
                  - "null"
              MBO Weight:
                type:
                  - string
                  - "null"
              Opp Weight:
                type:
                  - string
                  - "null"
              SQL Weight:
                type:
                  - string
                  - "null"
              ARR Weight %:
                type:
                  - string
                  - "null"
              NRR Weight %:
                type:
                  - string
                  - "null"
              Liam SQL OTPR:
                type:
                  - string
                  - "null"
              MBO Weight Q1:
                type:
                  - string
                  - "null"
              MBO Weight Q2:
                type:
                  - string
                  - "null"
              MBO Weight Q3:
                type:
                  - string
                  - "null"
              MBO Weight Q4:
                type:
                  - string
                  - "null"
              Original OTPR:
                type:
                  - string
                  - "null"
              USD Conv Rate:
                type:
                  - string
                  - "null"
              FYV IoT Target:
                type:
                  - string
                  - "null"
              Conversion Rate:
                type:
                  - string
                  - "null"
              Liam's Opp OTPR:
                type:
                  - string
                  - "null"
              Target Currency:
                type:
                  - string
                  - "null"
              FYV Device Target:
                type:
                  - string
                  - "null"
              FYV Target Weight:
                type:
                  - string
                  - "null"
              Opps Generated Q1:
                type:
                  - string
                  - "null"
              Opps Generated Q2:
                type:
                  - string
                  - "null"
              Opps Generated Q3:
                type:
                  - string
                  - "null"
              Opps Generated Q4:
                type:
                  - string
                  - "null"
              Assigned Alliances:
                type:
                  - string
                  - "null"
              Employee Last Name:
                type:
                  - string
                  - "null"
              Opp OTPR (Manager):
                type:
                  - string
                  - "null"
              Opps Gen Base Rate:
                type:
                  - string
                  - "null"
              SQL OTPR (Manager):
                type:
                  - string
                  - "null"
              Devices Team Target:
                type:
                  - string
                  - "null"
              Employee First Name:
                type:
                  - string
                  - "null"
              FYV Personal Target:
                type:
                  - string
                  - "null"
              Per Lead Rate (USD):
                type:
                  - string
                  - "null"
              Revenue Goal Weight:
                type:
                  - string
                  - "null"
              Booking Target Weight:
                type:
                  - string
                  - "null"
              FYV IoT Target Weight:
                type:
                  - string
                  - "null"
              Team Member Job Title:
                type:
                  - string
                  - "null"
              OTC Proration (Months):
                type:
                  - string
                  - "null"
              FYV Renewal Team Target:
                type:
                  - string
                  - "null"
              FYV Renewals ARR Target:
                type:
                  - string
                  - "null"
              SQL Outbound multiplier:
                type:
                  - string
                  - "null"
              Opps Gen Base Rate (USD):
                type:
                  - string
                  - "null"
              FYV NRR Consulting Target:
                type:
                  - string
                  - "null"
              FYV Renewal ARR Threshold:
                type:
                  - string
                  - "null"
              FYV Renewal Target Weight:
                type:
                  - string
                  - "null"
              Devices Team Target Weight:
                type:
                  - string
                  - "null"
              FYV Personal Target Weight:
                type:
                  - string
                  - "null"
              FYV Data Center Target Weight:
                type:
                  - string
                  - "null"
              FYV New and Growth ARR Target:
                type:
                  - string
                  - "null"
              FYV New and Growth NRR Target:
                type:
                  - string
                  - "null"
              FYV New and Growth Team Target:
                type:
                  - string
                  - "null"
              FYV Renewals ARR Target Weight:
                type:
                  - string
                  - "null"
              Opps Gen Accelerated Rate (USD):
                type:
                  - string
                  - "null"
              FYV NRR Consulting Target Weight:
                type:
                  - string
                  - "null"
              FYV New and Growth ARR Threshold:
                type:
                  - string
                  - "null"
              FYV New and Growth Target Weight:
                type:
                  - string
                  - "null"
              FYV New and Growth ARR Target Weight:
                type:
                  - string
                  - "null"
              FYV New and Growth NRR Target Weight:
                type:
                  - string
                  - "null"
              FYV New and Growth - Data Center Target:
                type:
                  - string
                  - "null"
              FYV New and Growth Team Target Original:
                type:
                  - string
                  - "null"
              FYV New and Growth Combined Target Weight:
                type:
                  - string
                  - "null"
              FYV New and Growth Renewal - Devices Target:
                type:
                  - string
                  - "null"
          object:
            type:
              - string
              - "null"
          employee:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          period_group:
            type:
              - string
              - "null"
          display_value:
            type:
              - string
              - "null"
          assignment_type:
            type:
              - string
              - "null"
          payout_currency:
            type:
              - string
              - "null"
          statement_template:
            type:
              - string
              - "null"
          payout_date_override:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          hierarchy_group_override:
            type:
              - string
              - "null"
          period_group_final_process_date:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: hierarchy-groups
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/hierarchy-groups
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          name:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          default:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: transformation-worksheets
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/transformation-worksheets
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          columns:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                format:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    comma:
                      type:
                        - boolean
                        - "null"
                    places:
                      type:
                        - string
                        - "null"
                object:
                  type:
                    - string
                    - "null"
                formula:
                  type:
                    - string
                    - "null"
                variant:
                  type:
                    - string
                    - "null"
                data_type:
                  type:
                    - string
                    - "null"
                read_only:
                  type:
                    - boolean
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
          workbook:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          workbook_name:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: uploads
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/uploads
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          url:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          params:
            type:
              - object
              - "null"
          status:
            type:
              - string
              - "null"
          details:
            type:
              - object
              - "null"
            properties:
              process_url:
                type:
                  - string
                  - "null"
          encoding:
            type:
              - string
              - "null"
          delimiter:
            type:
              - string
              - "null"
          file_name:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          date_format:
            type:
              - string
              - "null"
          object_type:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/users
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          role:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          locale:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          login_id:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          last_name:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          last_activity:
            type:
              - string
              - "null"
          linked_employee:
            type:
              - string
              - "null"
          is_organization_admin:
            type:
              - boolean
              - "null"
          eligible_to_submit_inquiries:
            type:
              - boolean
              - "null"
          enable_inquiry_notifications:
            type:
              - boolean
              - "null"
          eligible_to_receive_inquiries:
            type:
              - boolean
              - "null"
          enable_statement_notifications:
            type:
              - boolean
              - "null"
          enable_scim_email_notifications:
            type:
              - boolean
              - "null"
          enable_audit_log_export_notifications:
            type:
              - boolean
              - "null"
          enable_payout_processing_notifications:
            type:
              - boolean
              - "null"
          enable_connector_sync_email_notifications:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: commission-plans
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/plans
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          name:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          payout_dates:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
          period_groups:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
          preview_config:
            type:
              - object
              - "null"
            properties:
              label:
                type:
                  - string
                  - "null"
              value:
                type:
                  - string
                  - "null"
          confetti_enabled:
            type:
              - boolean
              - "null"
          attainment_display_setting:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: payout-period-groups
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/payouts/period-groups
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          name:
            type:
              - string
              - "null"
          plan:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          is_deleted:
            type:
              - boolean
              - "null"
          payout_dates:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: audit-logs
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/audit-logs
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - created_at
        properties:
          version:
            type:
              - number
              - "null"
          id:
            type: string
          data:
            type:
              - object
              - "null"
            properties:
              after:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  description:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      OTPR:
                        type:
                          - string
                          - "null"
                      Ramp:
                        type:
                          - string
                          - "null"
                      Notes:
                        type:
                          - string
                          - "null"
                      End Tier:
                        type:
                          - string
                          - "null"
                      OTC (LC):
                        type:
                          - string
                          - "null"
                      OTPR ARR:
                        type:
                          - string
                          - "null"
                      Vertical:
                        type:
                          - string
                          - "null"
                      Flat Rate:
                        type:
                          - string
                          - "null"
                      Unique ID:
                        type:
                          - string
                          - "null"
                      FYV Target:
                        type:
                          - string
                          - "null"
                      MBO Weight:
                        type:
                          - string
                          - "null"
                      Start Date:
                        type:
                          - string
                          - "null"
                      Start Tier:
                        type:
                          - string
                          - "null"
                      Table Name:
                        type:
                          - string
                          - "null"
                      Accel start:
                        type:
                          - string
                          - "null"
                      Accelerator:
                        type:
                          - string
                          - "null"
                      Employee ID:
                        type:
                          - string
                          - "null"
                      Tier Number:
                        type:
                          - string
                          - "null"
                      Employee Name:
                        type:
                          - string
                          - "null"
                      Vertical gate:
                        type:
                          - string
                          - "null"
                      Effective Date:
                        type:
                          - string
                          - "null"
                      Local Currency:
                        type:
                          - string
                          - "null"
                      FYV Renewals Target:
                        type:
                          - string
                          - "null"
                      FYV New and Growth Target:
                        type:
                          - string
                          - "null"
                      FYV New and Expansion Target:
                        type:
                          - string
                          - "null"
                      FYV New and Growth Target Weight:
                        type:
                          - string
                          - "null"
                  name:
                    type:
                      - string
                      - "null"
                  sorts:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        order:
                          type:
                            - string
                            - "null"
                        transformation_column_name:
                          type:
                            - string
                            - "null"
                  format:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      comma:
                        type:
                          - boolean
                          - "null"
                      places:
                        type:
                          - string
                          - "null"
                  formula:
                    type:
                      - string
                      - "null"
                  plan_id:
                    type:
                      - string
                      - "null"
                  sources:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        filters:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              value:
                                anyOf:
                                  - type: string
                                  - type: array
                                    items:
                                      type: string
                              operation:
                                type:
                                  - string
                                  - "null"
                              column_uuid:
                                type:
                                  - string
                                  - "null"
                        worksheet_name:
                          type:
                            - string
                            - "null"
                        worksheet_uuid:
                          type:
                            - string
                            - "null"
                        selected_columns:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              id:
                                type:
                                  - string
                                  - "null"
                              name:
                                type:
                                  - string
                                  - "null"
                  variant:
                    type:
                      - string
                      - "null"
                  employee:
                    type:
                      - string
                      - "null"
                  end_date:
                    type:
                      - string
                      - "null"
                  data_type:
                    type:
                      - string
                      - "null"
                  file_name:
                    type:
                      - string
                      - "null"
                  is_hidden:
                    type:
                      - boolean
                      - "null"
                  start_date:
                    type:
                      - string
                      - "null"
                  connections:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        link:
                          type:
                            - object
                            - "null"
                          properties:
                            left:
                              type:
                                - string
                                - "null"
                            right:
                              type:
                                - string
                                - "null"
                        join_type:
                          type:
                            - string
                            - "null"
                        conditions:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              left:
                                type:
                                  - string
                                  - "null"
                              right:
                                type:
                                  - string
                                  - "null"
                              operation:
                                type:
                                  - string
                                  - "null"
                  object_name:
                    type:
                      - string
                      - "null"
                  object_type:
                    type:
                      - string
                      - "null"
                  payout_date:
                    type:
                      - string
                      - "null"
                  upload_mode:
                    type:
                      - string
                      - "null"
                  envelope_data:
                    type:
                      - object
                      - "null"
                    properties:
                      status:
                        type:
                          - string
                          - "null"
                      templateId:
                        type:
                          - string
                          - "null"
                      emailSubject:
                        type:
                          - string
                          - "null"
                      templateRoles:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            name:
                              type:
                                - string
                                - "null"
                            tabs:
                              type:
                                - object
                                - "null"
                              properties:
                                textTabs:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      value:
                                        type:
                                          - string
                                          - "null"
                                      tabLabel:
                                        type:
                                          - string
                                          - "null"
                            email:
                              type:
                                - string
                                - "null"
                            roleName:
                              type:
                                - string
                                - "null"
                  hierarchy_group:
                    type:
                      - string
                      - "null"
                  period_group_id:
                    type:
                      - string
                      - "null"
                  terminal_filters:
                    type:
                      - array
                      - "null"
                  managing_employee:
                    type:
                      - string
                      - "null"
                  reporting_employee:
                    type:
                      - string
                      - "null"
                  docusign_account_id:
                    type:
                      - string
                      - "null"
                  docusign_envelope_id:
                    type:
                      - string
                      - "null"
                  transformation_columns:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        name:
                          type:
                            - string
                            - "null"
                        source_id:
                          type:
                            - string
                            - "null"
                        column_uuid:
                          type:
                            - string
                            - "null"
                        mapping_type:
                          type:
                            - string
                            - "null"
                        merged_columns:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              name:
                                type:
                                  - string
                                  - "null"
                              source_id:
                                type:
                                  - string
                                  - "null"
                              column_uuid:
                                type:
                                  - string
                                  - "null"
                              mapping_type:
                                type:
                                  - string
                                  - "null"
                              transformed_column_uuid:
                                type:
                                  - string
                                  - "null"
                        transformed_column_uuid:
                          type:
                            - string
                            - "null"
              before:
                type:
                  - object
                  - "null"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      OTPR:
                        type:
                          - string
                          - "null"
                      Ramp:
                        type:
                          - string
                          - "null"
                      OTC (LC):
                        type:
                          - string
                          - "null"
                      OTPR ARR:
                        type:
                          - string
                          - "null"
                      Template:
                        type:
                          - string
                          - "null"
                      Vertical:
                        type:
                          - string
                          - "null"
                      Unique ID:
                        type:
                          - string
                          - "null"
                      FYV Target:
                        type:
                          - string
                          - "null"
                      MBO Weight:
                        type:
                          - string
                          - "null"
                      Start Date:
                        type:
                          - string
                          - "null"
                      Accel start:
                        type:
                          - string
                          - "null"
                      Employee ID:
                        type:
                          - string
                          - "null"
                      RampUp_Days:
                        type:
                          - string
                          - "null"
                      Employee Name:
                        type:
                          - string
                          - "null"
                      Vertical gate:
                        type:
                          - string
                          - "null"
                      Effective Date:
                        type:
                          - string
                          - "null"
                      Local Currency:
                        type:
                          - string
                          - "null"
                      FYV Renewals Target:
                        type:
                          - string
                          - "null"
                      FYV New and Growth Target:
                        type:
                          - string
                          - "null"
                      FYV New and Expansion Target:
                        type:
                          - string
                          - "null"
                      FYV New and Growth Target Weight:
                        type:
                          - string
                          - "null"
                  name:
                    type:
                      - string
                      - "null"
                  column:
                    type:
                      - string
                      - "null"
                  format:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      comma:
                        type:
                          - boolean
                          - "null"
                      places:
                        type:
                          - string
                          - "null"
                  formula:
                    type:
                      - string
                      - "null"
                  plan_id:
                    type:
                      - string
                      - "null"
                  sources:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        filters:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              value:
                                anyOf:
                                  - type: string
                                  - type: array
                                    items:
                                      type: string
                              operation:
                                type:
                                  - string
                                  - "null"
                              column_uuid:
                                type:
                                  - string
                                  - "null"
                        worksheet_name:
                          type:
                            - string
                            - "null"
                        worksheet_uuid:
                          type:
                            - string
                            - "null"
                        selected_columns:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              id:
                                type:
                                  - string
                                  - "null"
                              name:
                                type:
                                  - string
                                  - "null"
                  variant:
                    type:
                      - string
                      - "null"
                  end_date:
                    type:
                      - string
                      - "null"
                  column_id:
                    type:
                      - string
                      - "null"
                  data_type:
                    type:
                      - string
                      - "null"
                  is_hidden:
                    type:
                      - boolean
                      - "null"
                  start_date:
                    type:
                      - string
                      - "null"
                  connections:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        link:
                          type:
                            - object
                            - "null"
                          properties:
                            left:
                              type:
                                - string
                                - "null"
                            right:
                              type:
                                - string
                                - "null"
                        join_type:
                          type:
                            - string
                            - "null"
                        conditions:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              left:
                                type:
                                  - string
                                  - "null"
                              right:
                                type:
                                  - string
                                  - "null"
                              operation:
                                type:
                                  - string
                                  - "null"
                  payout_date:
                    type:
                      - string
                      - "null"
                  hierarchy_group:
                    type:
                      - string
                      - "null"
                  period_group_id:
                    type:
                      - string
                      - "null"
                  data_variable_id:
                    type:
                      - string
                      - "null"
                  managing_employee:
                    type:
                      - string
                      - "null"
                  period_group_name:
                    type:
                      - string
                      - "null"
                  data_variable_name:
                    type:
                      - string
                      - "null"
                  reporting_employee:
                    type:
                      - string
                      - "null"
                  transformation_columns:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        name:
                          type:
                            - string
                            - "null"
                        source_id:
                          type:
                            - string
                            - "null"
                        column_uuid:
                          type:
                            - string
                            - "null"
                        mapping_type:
                          type:
                            - string
                            - "null"
                        transformed_column_uuid:
                          type:
                            - string
                            - "null"
              source:
                type:
                  - string
                  - "null"
              is_organization_admin:
                type:
                  - boolean
                  - "null"
          object:
            type:
              - string
              - "null"
          user_id:
            type:
              - string
              - "null"
          object_id:
            type:
              - string
              - "null"
          user_name:
            type:
              - string
              - "null"
          created_at:
            type: string
          event_type:
            type:
              - string
              - "null"
          ip_address:
            type:
              - string
              - "null"
          user_email:
            type:
              - string
              - "null"
          object_name:
            type:
              - string
              - "null"
          object_type:
            type:
              - string
              - "null"
          parent_objects:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                object_id:
                  type:
                    - string
                    - "null"
                object_name:
                  type:
                    - string
                    - "null"
                object_type:
                  type:
                    - string
                    - "null"
          organization_id:
            type:
              - string
              - "null"
          logged_in_user_id:
            type:
              - string
              - "null"
          organization_name:
            type:
              - string
              - "null"
          logged_in_user_name:
            type:
              - string
              - "null"
          logged_in_user_email:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: start_date
        inject_into: request_parameter
  - type: DeclarativeStream
    name: attribute-worksheet-records
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.captivateiq.com/ciq/v1/attribute-worksheets/{{
          stream_partition['id'] }}/records
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: id
            partition_field: id
            lazy_read_pointer: []
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          data:
            type:
              - object
              - "null"
            properties:
              Plan:
                type:
                  - string
                  - "null"
              Plan ID:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - string
                  - "null"
              End Date:
                type:
                  - string
                  - "null"
              Plan Name:
                type:
                  - string
                  - "null"
              Geo-factor:
                type:
                  - string
                  - "null"
              SDR Region:
                type:
                  - string
                  - "null"
              Start Date:
                type:
                  - string
                  - "null"
              Employee ID:
                type:
                  - string
                  - "null"
              Plan Active:
                type:
                  - boolean
                  - "null"
              Country Name:
                type:
                  - string
                  - "null"
              Period Group:
                type:
                  - string
                  - "null"
              SDR SubRegion:
                type:
                  - string
                  - "null"
              SDR Territory:
                type:
                  - string
                  - "null"
              Employee Email:
                type:
                  - string
                  - "null"
              Country Name ID:
                type:
                  - string
                  - "null"
              Employee Active:
                type:
                  - boolean
                  - "null"
              Period Group ID:
                type:
                  - string
                  - "null"
              SDR Territory ID:
                type:
                  - string
                  - "null"
              Period Group Name:
                type:
                  - string
                  - "null"
              Country Name Value:
                type:
                  - string
                  - "null"
              Employee Last Name:
                type:
                  - string
                  - "null"
              SDR Territory Name:
                type:
                  - string
                  - "null"
              Employee First Name:
                type:
                  - string
                  - "null"
              Period Group Active:
                type:
                  - boolean
                  - "null"
              SDR Territory Value:
                type:
                  - string
                  - "null"
              Employee Last Process Date:
                type:
                  - string
                  - "null"
          object:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          parent_id:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - parent_id
            value: "{{ stream_partition['id'] }}"
            value_type: string
  - type: DeclarativeStream
    name: period-groups
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/period-groups
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          plan:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          workbook:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          plan_name:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: payout-plans
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.captivateiq.com/ciq/v1/payouts/plans
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          is_deleted:
            type:
              - boolean
              - "null"
          payout_dates:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          period_groups:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
          confetti_enabled:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: data-worksheet-records
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: "{{ response['next'] }}"
          stop_condition: "{{ 'next' not in response }}"
      requester:
        type: HttpRequester
        url: >-
          https://api.captivateiq.com/ciq/v1/data-worksheets/{{
          stream_partition['id'] }}/records
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/5"
            parent_key: id
            extra_fields: []
            partition_field: id
            lazy_read_pointer: []
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          data:
            type:
              - object
              - "null"
            properties:
              ID:
                type:
                  - string
                  - "null"
              Unique ID:
                type:
                  - string
                  - "null"
              InstallDate:
                type:
                  - string
                  - "null"
              Invoice Date:
                type:
                  - string
                  - "null"
              Line Item ID:
                type:
                  - string
                  - "null"
              UsageEndDate:
                type:
                  - string
                  - "null"
              Contract Total:
                type:
                  - string
                  - "null"
              Invoice Number:
                type:
                  - string
                  - "null"
              LineItemId2__c:
                type:
                  - string
                  - "null"
              Opportunity ID:
                type:
                  - string
                  - "null"
              Invoiced Amount:
                type:
                  - string
                  - "null"
              Contract Total:
                type:
                  - string
                  - "null"
                type:
                type:
                  - string
                  - "null"
              ContractId__r.Id:
                type:
                  - string
                  - "null"
              Contract End Date:
                type:
                  - string
                  - "null"
              ContractId__r.ContractNumber:
                type:
                  - string
                  - "null"
          object:
            type:
              - string
              - "null"
          parent_id:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - parent_id
            value: "{{ stream_partition['id'] }}"
            value_type: string
  - type: DeclarativeStream
    name: hierarchies
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.captivateiq.com/ciq/v1/hierarchy-groups/{{
          stream_partition['id'] }}/hierarchies
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/7"
            parent_key: id
            extra_fields: []
            partition_field: id
            lazy_read_pointer: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          parent_id:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          hierarchy_group:
            type:
              - string
              - "null"
          managing_employee:
            type:
              - string
              - "null"
          reporting_employee:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - parent_id
            value: "{{ stream_partition['id'] }}"
            value_type: string

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
      - start_date
    properties:
      api_token:
        type: string
        order: 0
        title: API Token
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
    additionalProperties: true

metadata:
  testedStreams:
    users:
      isStale: false
      hasRecords: true
      streamHash: d09642b484c06053644014b43d45daf8d7a1ddb6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    uploads:
      isStale: false
      hasRecords: true
      streamHash: c4f76415a428225f04fe74bb9a41de3ca6d95009
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    employees:
      isStale: true
      hasRecords: true
      streamHash: 21cac1dd715b70017346050779c0b0c757db8fb4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    audit-logs:
      isStale: false
      hasRecords: true
      streamHash: 2964ffcb8047d60c3ece4fa5c64e2dce9a61f58d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    hierarchies:
      isStale: false
      hasRecords: true
      streamHash: 37891d724573432c935268a237dabf9659998737
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    payout-dates:
      isStale: false
      hasRecords: true
      streamHash: 3abc3936f4a4e0f9d1045d4417fa8e2edae613d9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    payout-plans:
      isStale: false
      hasRecords: true
      streamHash: 75a7594c99ac90550c37f5f8ff71dbf528fc5aec
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    period-groups:
      isStale: false
      hasRecords: true
      streamHash: 914da74bb1b7add209b2a1b99e12fa9f0dfabba5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    report-models:
      isStale: false
      hasRecords: true
      streamHash: 192328263488bd0adc443153ab50a56189ac8f33
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    data-workbooks:
      isStale: false
      hasRecords: true
      streamHash: da1d0656b1c3266738e5e035eeb753d07a0e9834
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    operiod-groups:
      isStale: false
      hasRecords: true
      streamHash: decce2d37bf502fc81303d4dc2aba69ac0fafd2e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    commission-plans:
      isStale: false
      hasRecords: true
      streamHash: bcf369aca46423d97f26c609b7a64f57df8a1b73
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    hierarchy-groups:
      isStale: false
      hasRecords: true
      streamHash: 359796fc406d2030e1c37a32923fc7bfb4cfc937
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    data-worksheets-list:
      isStale: false
      hasRecords: true
      streamHash: a8275411396360136d489e0dbe9dacf272cf4225
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    employee-assumptions:
      isStale: false
      hasRecords: true
      streamHash: 004041216bcf6df1b6227c8a98172a3c2a81aaf4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    payout-period-groups:
      streamHash: 47d4984ba9bce6e8a87e11d3ec0927be732fed5d
    data-worksheet-records:
      isStale: false
      hasRecords: true
      streamHash: 4c096b2edb0f9507b3bdb23feec1439add3e8228
      hasResponse: true
      primaryKeysAreUnique: false
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    attribute-worksheet-list:
      isStale: false
      hasRecords: true
      streamHash: 0e1869c7e2c0a32416614cd9ad50e57b5e5689cd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transformation-worksheets:
      isStale: false
      hasRecords: true
      streamHash: 811c8d77c9c10efb4183842a9f40fbf5f835659c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    attribute-worksheet-records:
      isStale: true
      hasRecords: true
      streamHash: 076e7eb3890ab2c1528da4527be16bcea4a2906b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transformation-worksheet-records:
      isStale: false
      hasRecords: true
      streamHash: 7121797fb7ab2b0924b4b1a918eaecee8b06d26a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    users: true
    uploads: true
    employees: true
    audit-logs: true
    hierarchies: true
    payout-dates: true
    payout-plans: true
    period-groups: true
    report-model-: true
    report-models: true
    data-workbooks: true
    operiod-groups: true
    data-workbooks-: true
    commission-plans: true
    hierarchy-groups: true
    data-worksheets-list: true
    employee-assumptions: true
    employee-assumptions-: true
    data-worksheet-records: true
    attribute-worksheet-list: true
    transformation-worksheets: true
    transformation-worksheets-: true
    attribute-worksheet-records: true
    transformation-worksheet-records: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
