METADATA_BUCKET="dev-airbyte-cloud-connector-metadata-service"
CI_REPORT_BUCKET="airbyte-ci-reports"
GITHUB_METADATA_SERVICE_TOKEN=""
NIGHTLY_REPORT_SLACK_WEBHOOK_URL=""
# METADATA_CDN_BASE_URL="https://connectors.airbyte.com/files"
DOCKER_HUB_USERNAME=""
DOCKER_HUB_PASSWORD=""