METADATA_BUCKET="dev-airbyte-cloud-connector-metadata-service"
CI_REPORT_BUCKET="airbyte-ci-reports"
GITHUB_METADATA_SERVICE_TOKEN=""
NIGHTLY_REPORT_CHANNEL=""
# METADATA_CDN_BASE_URL="https://connectors.airbyte.com/files"
DOCKER_HUB_USERNAME=""
DOCKER_HUB_PASSWORD=""

SLACK_TOKEN = ""
SLACK_NOTIFICATIONS_DISABLED = "true"
PUBLISH_UPDATE_CHANNEL="#test-ci-slack-intergrations"
# SENTRY_DSN=""
# SENTRY_ENVIRONMENT="dev"
# SENTRY_TRACES_SAMPLE_RATE=1.0
