version: 5.11.1

type: DeclarativeSource

description: Gmail is the email service provided by Google.

check:
  type: CheckStream
  stream_names:
    - messages

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 5) }}"
  max_concurrency: 10

definitions:
  streams:
    profile:
      type: DeclarativeStream
      name: profile
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: profile
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/profile"
    drafts:
      type: DeclarativeStream
      name: drafts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: drafts
          http_method: GET
          request_parameters:
            includeSpamTrash: "{{ config['include_spam_and_trash'] }}"
            q: "{% if config.get('start_date') %}after:{{ format_datetime(config['start_date'], '%s') }}{% endif %}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - drafts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            field_name: maxResults
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"nextPageToken\", {}) }}"
            stop_condition: "{{ not response.get(\"nextPageToken\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/drafts"
    labels:
      type: DeclarativeStream
      name: labels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: labels
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - labels
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/labels"
    labels_details:
      type: DeclarativeStream
      name: labels_details
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: labels/{{ stream_partition['label_id'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: label_id
              stream:
                $ref: "#/definitions/streams/labels"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/labels_details"
    messages:
      # Public, full-refresh stream. `users.messages.list` returns `{id,
      # threadId}` stubs with no `internalDate`, so there is no record-level
      # cursor value available on this stream. Exposing it as incremental
      # would silently drop every record when selected standalone
      # (DatetimeBasedCursor._is_within_daterange_boundaries returns False +
      # WARN for records missing the cursor field).
      #
      # `messages_details` carries its own DatetimeBasedCursor on
      # `internalDate` (which IS populated by `users.messages.get`); that
      # cursor advances via the child's own observed records and filters
      # records older than the prior cursor on repeat syncs. It does NOT
      # bound this list call — bounding the list request by last-seen
      # cursor in pure declarative is not supported because (a) parent
      # records lack the cursor field so the parent's own cursor can't
      # advance, and (b) declarative state migrations cannot copy the
      # child's cursor into the parent's state. That optimisation is
      # tracked separately and would require a custom state migration.
      type: DeclarativeStream
      name: messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: messages
          http_method: GET
          request_parameters:
            includeSpamTrash: "{{ config['include_spam_and_trash'] }}"
            q: "{% if config.get('start_date') %}after:{{ format_datetime(config['start_date'], '%s') }}{% endif %}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - messages
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            field_name: maxResults
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"nextPageToken\", {}) }}"
            stop_condition: "{{ not response.get(\"nextPageToken\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages"
    messages_details:
      # Incremental on `internalDate` (populated by `users.messages.get`).
      # The cursor advances via this stream's own observed records, so
      # state hygiene works correctly: repeat syncs filter records whose
      # `internalDate` is older than the prior cursor and skip emitting
      # them downstream.
      #
      # The list call (parent `messages`) is NOT bounded by the cursor:
      # parent records lack `internalDate`, and pure declarative cannot
      # copy the child's cursor into a parent's state without a custom
      # Python state migration. So `users.messages.get` is still called
      # for every id returned by the list call — the gain here is record
      # filtering / state correctness, not API quota reduction.
      type: DeclarativeStream
      name: messages_details
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: messages/{{ stream_partition['message_id'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: message_id
              stream:
                $ref: "#/definitions/streams/messages"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: internalDate
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2004-04-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages_details"
    threads:
      type: DeclarativeStream
      name: threads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: threads
          http_method: GET
          request_parameters:
            includeSpamTrash: "{{ config['include_spam_and_trash'] }}"
            q: "{% if config.get('start_date') %}after:{{ format_datetime(config['start_date'], '%s') }}{% endif %}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - threads
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            field_name: maxResults
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"nextPageToken\", {}) }}"
            stop_condition: "{{ not response.get(\"nextPageToken\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/threads"
    threads_details:
      type: DeclarativeStream
      name: threads_details
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: threads/{{ stream_partition['thread_id'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: thread_id
              stream:
                $ref: "#/definitions/streams/threads"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/threads_details"
  jwt_authenticator:
    type: JwtAuthenticator
    secret_key: "{{ json_loads(config['credentials']['service_account_info'])['private_key'] }}"
    algorithm: "RS256"
    token_duration: 3600
    jwt_payload:
      aud: "{{ json_loads(config['credentials']['service_account_info'])['token_uri'] }}"
      iss: "{{ json_loads(config['credentials']['service_account_info'])['client_email'] }}"
    additional_jwt_payload:
      scope: "https://www.googleapis.com/auth/gmail.readonly"
  oauth_authenticator:
    type: OAuthAuthenticator
    refresh_request_body: {}
    token_refresh_endpoint: https://accounts.google.com/o/oauth2/token
    grant_type: refresh_token
    client_id: '{{ config["credentials"]["client_id"] }}'
    client_secret: '{{ config["credentials"]["client_secret"] }}'
    refresh_token: '{{ config["credentials"]["client_refresh_token"] }}'
  jwt_profile_assertion_oauth_authenticator:
    type: OAuthAuthenticator
    token_refresh_endpoint: https://oauth2.googleapis.com/token
    refresh_request_headers:
      Content-Type: application/x-www-form-urlencoded
    use_profile_assertion: true
    profile_assertion:
      $ref: "#/definitions/jwt_authenticator"
  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "auth_type"]
    authenticators:
      Client: "#/definitions/oauth_authenticator"
      Service: "#/definitions/jwt_profile_assertion_oauth_authenticator"
  base_requester:
    type: HttpRequester
    url_base: https://gmail.googleapis.com/gmail/v1/users/me/
    authenticator: "#/definitions/authenticator"
    error_handler:
      type: DefaultErrorHandler
      backoff_strategies:
        # Gmail usually returns a `Retry-After` header on 429 and on 403
        # quota-saturation responses, but not always. `WaitTimeFromHeader`
        # reads it when present; `ExponentialBackoffStrategy` is the
        # fallback when the header is absent so the sync still backs off
        # instead of retrying immediately.
        - type: WaitTimeFromHeader
          header: Retry-After
        - type: ExponentialBackoffStrategy
          factor: 5
      response_filters:
        - type: HttpResponseFilter
          action: RATE_LIMITED
          http_codes:
            - 429
        # Gmail returns HTTP 403 with `error.errors[0].reason` set to
        # `rateLimitExceeded` or `userRateLimitExceeded` on quota-unit
        # saturation. The default CDK 403 mapping is FAIL/config_error
        # (e.g. wrong OAuth scope, Gmail API disabled, revoked token),
        # which would terminate the sync as an auth failure. We match
        # *only* rate-limit 403s via `predicate` so auth-failure 403s
        # keep failing fast.
        #
        # `HttpResponseFilter` matchers are OR'd, not AND'd, so we must
        # not pair this with `http_codes: [403]` — that would match any
        # 403 regardless of the predicate. Also, `error_message_contains`
        # scans the top-level `error.message` ("User-rate limit
        # exceeded."), not the nested `error.errors[0].reason`, so the
        # reason string must be checked explicitly. The check uses an
        # exact membership match against the documented reasons rather
        # than substring containment because `'rateLimitExceeded' in
        # 'userRateLimitExceeded'` is False (case-sensitive `R` vs `r`),
        # so a substring check would silently miss `userRateLimitExceeded`.
        # See https://developers.google.com/gmail/api/guides/handle-errors.
        - type: HttpResponseFilter
          action: RATE_LIMITED
          error_message: "Gmail returned a per-user or per-project quota saturation 403 (rateLimitExceeded / userRateLimitExceeded). Honouring `Retry-After` and retrying — the sync will resume once Gmail's rolling quota window frees up."
          predicate: >-
            {{ ((response.get('error', {}).get('errors', [{}]) | first).get('reason', '')) in ['rateLimitExceeded', 'userRateLimitExceeded'] }}

streams:
  - $ref: "#/definitions/streams/profile"
  - $ref: "#/definitions/streams/drafts"
  - $ref: "#/definitions/streams/labels"
  - $ref: "#/definitions/streams/labels_details"
  - $ref: "#/definitions/streams/messages"
  - $ref: "#/definitions/streams/messages_details"
  - $ref: "#/definitions/streams/threads"
  - $ref: "#/definitions/streams/threads_details"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
    properties:
      credentials:
        type: object
        title: Authentication
        description: >-
          Credentials for connecting to the Gmail API
        order: 0
        oneOf:
          - title: Authenticate via Google (OAuth)
            type: object
            required:
              - auth_type
              - client_id
              - client_secret
              - client_refresh_token
            properties:
              auth_type:
                type: string
                const: Client
              client_id:
                title: Client ID
                type: string
                description: "Enter your Google application's Client ID. See <a href='https://developers.google.com/identity/protocols/oauth2'>Google's documentation</a> for more information."
                airbyte_secret: true
              client_secret:
                title: Client Secret
                type: string
                description: "Enter your Google application's Client Secret. See <a href='https://developers.google.com/identity/protocols/oauth2'>Google's documentation</a> for more information."
                airbyte_secret: true
              client_refresh_token:
                title: Refresh Token
                type: string
                description: "Enter your Google application's refresh token. See <a href='https://developers.google.com/identity/protocols/oauth2'>Google's documentation</a> for more information."
                airbyte_secret: true
          - title: Service Account Key Authentication
            type: object
            required:
              - auth_type
              - service_account_info
            properties:
              auth_type:
                type: string
                const: Service
              service_account_info:
                type: string
                title: Service Account Information.
                description: 'The JSON key of the service account to use for authorization. Read more <a href="https://cloud.google.com/iam/docs/creating-managing-service-account-keys#creating_service_account_keys">here</a>.'
                airbyte_secret: true
                examples:
                  - '{ "type": "service_account", "project_id": YOUR_PROJECT_ID, "private_key_id": YOUR_PRIVATE_KEY, ... }'
      include_spam_and_trash:
        type: boolean
        description: >-
          Include drafts/messages from SPAM and TRASH in the results. Defaults
          to false.
        title: Include Spam & Trash
        default: false
        order: 1
      num_workers:
        type: integer
        title: Number of concurrent workers
        description: >-
          Number of concurrent workers used when syncing. Higher values result
          in faster syncs but may trigger rate limiting on lower-tier Gmail API
          quotas. The default works well for most accounts; if you see frequent
          rate-limit errors in sync logs, reduce this value.
        default: 5
        minimum: 2
        maximum: 10
        order: 2
      start_date:
        type: string
        title: Start date
        description: >-
          UTC date and time in the format YYYY-MM-DDTHH:MM:SSZ. Only messages,
          threads, and drafts received on or after this date will be replicated.
          If not set, all historical data will be replicated.
        format: date-time
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        examples:
          - "2020-01-01T00:00:00Z"
        order: 3
    additionalProperties: true
  config_normalization_rules:
    type: ConfigNormalizationRules
    config_migrations:
      - type: ConfigMigration
        description: Migrate top-level OAuth fields into a nested credentials object.
        transformations:
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path:
                  - credentials
                  - auth_type
                value: "Client"
              - type: AddedFieldDefinition
                path:
                  - credentials
                  - client_id
                value: "{{ config['client_id'] }}"
              - type: AddedFieldDefinition
                path:
                  - credentials
                  - client_secret
                value: "{{ config['client_secret'] }}"
              - type: AddedFieldDefinition
                path:
                  - credentials
                  - client_refresh_token
                value: "{{ config['client_refresh_token'] }}"
            condition: "{{ config.get('client_id') is not none }}"
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: Client
    oauth_config_specification:
      oauth_connector_input_specification:
        scopes:
          - scope: "https://www.googleapis.com/auth/gmail.readonly"
        consent_url: "https://accounts.google.com/o/oauth2/v2/auth?{{client_id_param}}&{{redirect_uri_param}}&response_type=code&{{scopes_param}}&access_type=offline&{{state_param}}&include_granted_scopes=true&prompt=consent"
        access_token_url: "https://oauth2.googleapis.com/token?{{client_id_param}}&{{client_secret_param}}&{{auth_code_param}}&{{redirect_uri_param}}&grant_type=authorization_code"
        extract_output:
          - refresh_token
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - client_refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret

metadata:
  autoImportSchema:
    profile: true
    drafts: true
    labels: true
    labels_details: true
    messages: true
    messages_details: true
    threads: true
    threads_details: true
  testedStreams:
    profile:
      streamHash: de8ec9652feea6f68ec8f01e4eaf55d9eedd699c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    drafts:
      streamHash: db71b4ac2b1257ae7b4ca3b6c497cb4c8e07c4a0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    labels:
      streamHash: 6f0d1bfff4c347b58286ac9aab4122ac4a311081
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    labels_details:
      streamHash: 0b603b9937e45f8c2f5db4bbbc137a85cde47131
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    messages:
      streamHash: fa1bd97935f082f221bf5a6f167cf70d1179300a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    messages_details:
      streamHash: fc9ca9148f1ec7f8275d492984ee2e4c2bb0448a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    threads:
      streamHash: 163d9e70bdd06a96992a53995e564a761af1237f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    threads_details:
      streamHash: ff2949698e82fb5b0a7ae89ee4e19c06d39b6702
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.google.com/gmail/api/guides

schemas:
  profile:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      emailAddress:
        type:
          - string
          - "null"
      historyId:
        type:
          - string
          - "null"
      messagesTotal:
        type:
          - number
          - "null"
      threadsTotal:
        type:
          - number
          - "null"
  drafts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      message:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          threadId:
            type:
              - string
              - "null"
    required:
      - id
  labels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      labelListVisibility:
        type:
          - string
          - "null"
      messageListVisibility:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  labels_details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      labelListVisibility:
        type:
          - string
          - "null"
      messageListVisibility:
        type:
          - string
          - "null"
      messagesTotal:
        type:
          - number
          - "null"
      messagesUnread:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      threadsTotal:
        type:
          - number
          - "null"
      threadsUnread:
        type:
          - number
          - "null"
    required:
      - id
  messages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      threadId:
        type:
          - string
          - "null"
    required:
      - id
  messages_details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      historyId:
        type:
          - string
          - "null"
      id:
        type: string
      internalDate:
        type:
          - string
          - "null"
      labelIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      payload:
        type:
          - object
          - "null"
        properties:
          body:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - string
                  - "null"
              size:
                type:
                  - number
                  - "null"
          filename:
            type:
              - string
              - "null"
          headers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          mimeType:
            type:
              - string
              - "null"
          partId:
            type:
              - string
              - "null"
          parts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                body:
                  type:
                    - object
                    - "null"
                  properties:
                    data:
                      type:
                        - string
                        - "null"
                    size:
                      type:
                        - number
                        - "null"
                filename:
                  type:
                    - string
                    - "null"
                headers:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - string
                          - "null"
                mimeType:
                  type:
                    - string
                    - "null"
                partId:
                  type:
                    - string
                    - "null"
      sizeEstimate:
        type:
          - number
          - "null"
      snippet:
        type:
          - string
          - "null"
      threadId:
        type:
          - string
          - "null"
    required:
      - id
  threads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      historyId:
        type:
          - string
          - "null"
      id:
        type: string
      snippet:
        type:
          - string
          - "null"
    required:
      - id
  threads_details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      historyId:
        type:
          - string
          - "null"
      id:
        type: string
      messages:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            historyId:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            internalDate:
              type:
                - string
                - "null"
            labelIds:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            payload:
              type:
                - object
                - "null"
              properties:
                body:
                  type:
                    - object
                    - "null"
                  properties:
                    data:
                      type:
                        - string
                        - "null"
                    size:
                      type:
                        - number
                        - "null"
                filename:
                  type:
                    - string
                    - "null"
                headers:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - string
                          - "null"
                mimeType:
                  type:
                    - string
                    - "null"
                partId:
                  type:
                    - string
                    - "null"
                parts:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      body:
                        type:
                          - object
                          - "null"
                        properties:
                          data:
                            type:
                              - string
                              - "null"
                          size:
                            type:
                              - number
                              - "null"
                      filename:
                        type:
                          - string
                          - "null"
                      headers:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            name:
                              type:
                                - string
                                - "null"
                            value:
                              type:
                                - string
                                - "null"
                      mimeType:
                        type:
                          - string
                          - "null"
                      partId:
                        type:
                          - string
                          - "null"
            sizeEstimate:
              type:
                - number
                - "null"
            snippet:
              type:
                - string
                - "null"
            threadId:
              type:
                - string
                - "null"
    required:
      - id
