version: 5.7.3

type: DeclarativeSource

description: >-
  Statsig is the single platform to ship, test and analyze new features. Statsig
  provides the most advanced Experimentation and Feature Flagging tools
  available, in a platform with full-featured Product Analytics, Session Replay,
  and more.

check:
  type: CheckStream
  stream_names:
    - audit_logs

definitions:
  streams:
    audit_logs:
      type: DeclarativeStream
      name: audit_logs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /audit_logs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audit_logs"
    autotunes:
      type: DeclarativeStream
      name: autotunes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /autotunes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/autotunes"
    dynamic_configs:
      type: DeclarativeStream
      name: dynamic_configs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /dynamic_configs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dynamic_configs"
    dynamic_configs_versions:
      type: DeclarativeStream
      name: dynamic_configs_versions
      primary_key:
        - id
        - version
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /dynamic_configs/{{ stream_partition['dynamic_config_id']
            }}/versions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: dynamic_config_id
              stream:
                $ref: "#/definitions/streams/dynamic_configs"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dynamic_configs_versions"
    dynamic_configs_rules:
      type: DeclarativeStream
      name: dynamic_configs_rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /dynamic_configs/{{ stream_partition['dynamic_config_id'] }}/rules
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - "*"
              - rules
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: dynamic_config_id
              stream:
                $ref: "#/definitions/streams/dynamic_configs"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dynamic_configs_rules"
    events:
      type: DeclarativeStream
      name: events
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    events_metrics:
      type: DeclarativeStream
      name: events_metrics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /events/{{ stream_partition['event_name'] }}/metrics
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: name
              partition_field: event_name
              stream:
                $ref: "#/definitions/streams/events"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events_metrics"
    experiments:
      type: DeclarativeStream
      name: experiments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /experiments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/experiments"
    gates:
      type: DeclarativeStream
      name: gates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /gates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/gates"
    gates_rules:
      type: DeclarativeStream
      name: gates_rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /gates/{{ stream_partition['gate_id'] }}/rules
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - "*"
              - rules
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: gate_id
              stream:
                $ref: "#/definitions/streams/gates"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/gates_rules"
    holdouts:
      type: DeclarativeStream
      name: holdouts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /holdouts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/holdouts"
    ingestion_status:
      type: DeclarativeStream
      name: ingestion_status
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ingestion/status
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["end_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ingestion_status"
    ingestion_runs:
      type: DeclarativeStream
      name: ingestion_runs
      primary_key:
        - runID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ingestion/runs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastUpdatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["end_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ingestion_runs"
    layers:
      type: DeclarativeStream
      name: layers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /layers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/layers"
    metrics:
      type: DeclarativeStream
      name: metrics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /metrics/list
          http_method: GET
          request_parameters:
            showHiddenMetrics: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics"
    metrics_values:
      type: DeclarativeStream
      name: metrics_values
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /metrics/values
          http_method: GET
          request_parameters:
            date: "{{ now_utc() }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics_values"
    segments:
      type: DeclarativeStream
      name: segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /segments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModifiedTime
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/segments"
    segments_ids:
      type: DeclarativeStream
      name: segments_ids
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /segments/{{ stream_partition['segment_id'] }}/id_list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: segment_id
              stream:
                $ref: "#/definitions/streams/segments"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/segments_ids"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    target_apps:
      type: DeclarativeStream
      name: target_apps
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /target_app
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/target_apps"
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
  base_requester:
    type: HttpRequester
    url_base: https://statsigapi.net/console/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config["api_key"] }}'
      inject_into:
        type: RequestOption
        field_name: STATSIG-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/audit_logs"
  - $ref: "#/definitions/streams/autotunes"
  - $ref: "#/definitions/streams/dynamic_configs"
  - $ref: "#/definitions/streams/dynamic_configs_versions"
  - $ref: "#/definitions/streams/dynamic_configs_rules"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/events_metrics"
  - $ref: "#/definitions/streams/experiments"
  - $ref: "#/definitions/streams/gates"
  - $ref: "#/definitions/streams/gates_rules"
  - $ref: "#/definitions/streams/holdouts"
  - $ref: "#/definitions/streams/ingestion_status"
  - $ref: "#/definitions/streams/ingestion_runs"
  - $ref: "#/definitions/streams/layers"
  - $ref: "#/definitions/streams/metrics"
  - $ref: "#/definitions/streams/metrics_values"
  - $ref: "#/definitions/streams/segments"
  - $ref: "#/definitions/streams/segments_ids"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/target_apps"
  - $ref: "#/definitions/streams/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
      - end_date
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      end_date:
        type: string
        title: End date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    audit_logs: true
    autotunes: true
    dynamic_configs: true
    dynamic_configs_versions: true
    dynamic_configs_rules: true
    events: true
    events_metrics: true
    experiments: true
    gates: true
    gates_rules: true
    holdouts: true
    ingestion_status: true
    ingestion_runs: true
    layers: true
    metrics: true
    metrics_values: true
    segments: true
    segments_ids: true
    tags: true
    target_apps: true
    users: true
  testedStreams:
    audit_logs:
      streamHash: cdd8c14c0491034f33c7c052ceec492dc8e17df3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    autotunes:
      streamHash: 383fda335d2114ee590030dd040da95151422f37
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    dynamic_configs:
      streamHash: b1b42dfdb51cb202f4a27796a6d22709c260336d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    dynamic_configs_versions:
      streamHash: 6cd89a92e4107466d9681d0668ac6131d7dea2a6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    dynamic_configs_rules:
      streamHash: 47532aedd26809286d0d448c341883714f668232
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: 7ec0a25e2dd2533728ab3ca8284812eed3c68ad9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events_metrics:
      streamHash: 2e8ceb3d7c237f4f70bca3038c59e8336d1c94c6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    experiments:
      streamHash: 9110137cc910d287a2fb8ec73e55df29b7bd68ef
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    gates:
      streamHash: 63760f63894c19864e56bc86c5ce74b10145fdd9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    gates_rules:
      streamHash: d55fa27941615c88644b67ed2362430d27ffa1f3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    holdouts:
      streamHash: f1eac33de7a8b2f0b3d23051db4823d58a9b6c11
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ingestion_status:
      streamHash: bae059c5e31224ef788aef9713d8ee7db9382fc5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ingestion_runs:
      streamHash: 94714782cef0c59b4a07af4df9b5afeaed42f960
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    layers:
      streamHash: f6c75fa21cfaabde10814223aa7352e3a3571dd6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    metrics:
      streamHash: b3c269ec59a30f5d6c4557c6f4e0f4f5870f58f5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    metrics_values:
      streamHash: d04d35cc8aa66b9f1e8d2aa82ebf381cc26afd24
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    segments:
      streamHash: 76bfa4da797f9baa469db69a910f28c6e737e66b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    segments_ids:
      streamHash: 236d4c259a5bb1595c9ad0d2cb01e2d67b705ef8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: 6745766db45fd3796e59c3410195f0e57ced1adc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    target_apps:
      streamHash: ae795dc27cd1b1ca113e536bf7b33d089acfd1eb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: b83d5e1af47f77263ace3020f378acbaf3e023e7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://docs.statsig.com/
    openapiSpecUrl: https://docs.statsig.com/openapi

schemas:
  audit_logs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      actionType:
        type:
          - string
          - "null"
      changeLog:
        type:
          - string
          - "null"
      changes:
        type:
          - object
          - "null"
        properties:
          rules:
            type:
              - object
              - "null"
            properties:
              new:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    conditionJSON:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          conditionType:
                            type:
                              - number
                              - "null"
                          extraConfig:
                            type:
                              - object
                              - "null"
                          operator:
                            type:
                              - number
                              - "null"
                          value:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - string
                                - "null"
                    environment:
                      type:
                        - string
                        - "null"
                    groupName:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    percentagePass:
                      type:
                        - number
                        - "null"
                    returnValueDisplayStringJSON:
                      type:
                        - string
                        - "null"
                    returnValueJSON:
                      type:
                        - string
                        - "null"
                    rollouts:
                      type:
                        - array
                        - "null"
                    salt:
                      type:
                        - string
                        - "null"
                    startTime:
                      type:
                        - number
                        - "null"
              old:
                type:
                  - array
                  - "null"
      date:
        type:
          - string
          - "null"
      id:
        type: string
      modifierEmail:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      targetAppIDs:
        type:
          - array
          - "null"
      time:
        type:
          - string
          - "null"
      updatedBy:
        type:
          - string
          - "null"
      updatedByUserID:
        type:
          - string
          - "null"
    required:
      - id
  autotunes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      attributionWindow:
        type:
          - string
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorID:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      explorationWindow:
        type:
          - string
          - "null"
      holdoutIDs:
        type:
          - array
          - "null"
      id:
        type: string
      idType:
        type:
          - string
          - "null"
      isStarted:
        type:
          - boolean
          - "null"
      lastModifiedTime:
        type: number
      lastModifierID:
        type:
          - string
          - "null"
      lastModifierName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      successEvent:
        type:
          - string
          - "null"
      successEventValue:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      targetApps:
        type:
          - array
          - "null"
      variants:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            json:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
            name:
              type:
                - string
                - "null"
      winnerThreshold:
        type:
          - string
          - "null"
    required:
      - id
      - lastModifiedTime
  dynamic_configs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      description:
        type:
          - string
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorEmail:
        type:
          - string
          - "null"
      creatorID:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      defaultValue:
        type:
          - object
          - "null"
      defaultValueJson5:
        type:
          - string
          - "null"
      holdoutIDs:
        type:
          - array
          - "null"
      id:
        type: string
      idType:
        type:
          - string
          - "null"
      isEnabled:
        type:
          - boolean
          - "null"
      lastModifiedTime:
        type: number
      lastModifierEmail:
        type:
          - string
          - "null"
      lastModifierID:
        type:
          - string
          - "null"
      lastModifierName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      rules:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            baseID:
              type:
                - string
                - "null"
            conditions:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            passPercentage:
              type:
                - number
                - "null"
            returnValue:
              type:
                - object
                - "null"
            returnValueJson5:
              type:
                - string
                - "null"
      tags:
        type:
          - array
          - "null"
      targetApps:
        type:
          - array
          - "null"
    required:
      - id
      - lastModifiedTime
  dynamic_configs_versions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type: number
      description:
        type:
          - string
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorEmail:
        type:
          - string
          - "null"
      creatorID:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      defaultValue:
        type:
          - object
          - "null"
      defaultValueJson5:
        type:
          - string
          - "null"
      holdoutIDs:
        type:
          - array
          - "null"
      id:
        type: string
      idType:
        type:
          - string
          - "null"
      isEnabled:
        type:
          - boolean
          - "null"
      lastModifiedTime:
        type: number
      lastModifierEmail:
        type:
          - string
          - "null"
      lastModifierID:
        type:
          - string
          - "null"
      lastModifierName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      rules:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            baseID:
              type:
                - string
                - "null"
            conditions:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            passPercentage:
              type:
                - number
                - "null"
            returnValue:
              type:
                - object
                - "null"
            returnValueJson5:
              type:
                - string
                - "null"
      tags:
        type:
          - array
          - "null"
      targetApps:
        type:
          - array
          - "null"
    required:
      - id
      - version
      - lastModifiedTime
  dynamic_configs_rules:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      baseID:
        type:
          - string
          - "null"
      conditions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      passPercentage:
        type:
          - number
          - "null"
    required:
      - id
  events:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  events_metrics:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  experiments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      allocation:
        type:
          - number
          - "null"
      bonferroniCorrection:
        type:
          - boolean
          - "null"
      controlGroupID:
        type:
          - string
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorEmail:
        type:
          - string
          - "null"
      creatorID:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      defaultConfidenceInterval:
        type:
          - string
          - "null"
      duration:
        type:
          - number
          - "null"
      groups:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            parameterValues:
              type:
                - object
                - "null"
            size:
              type:
                - number
                - "null"
      healthChecks:
        type:
          - array
          - "null"
      holdoutIDs:
        type:
          - array
          - "null"
      hypothesis:
        type:
          - string
          - "null"
      id:
        type: string
      idType:
        type:
          - string
          - "null"
      lastModifiedTime:
        type: number
      lastModifierEmail:
        type:
          - string
          - "null"
      lastModifierID:
        type:
          - string
          - "null"
      lastModifierName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          ownerEmail:
            type:
              - string
              - "null"
          ownerID:
            type:
              - string
              - "null"
          ownerName:
            type:
              - string
              - "null"
          ownerType:
            type:
              - string
              - "null"
      primaryMetricTags:
        type:
          - array
          - "null"
      primaryMetrics:
        type:
          - array
          - "null"
      reviewSettings:
        type:
          - object
          - "null"
        properties:
          allowedReviewers:
            type:
              - array
              - "null"
          requiredReview:
            type:
              - boolean
              - "null"
      secondaryMetricTags:
        type:
          - array
          - "null"
      secondaryMetrics:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      status:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      targetApps:
        type:
          - array
          - "null"
      targetingGateID:
        type:
          - string
          - "null"
    required:
      - id
      - lastModifiedTime
  gates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      checksPerHour:
        type:
          - number
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorEmail:
        type:
          - string
          - "null"
      creatorID:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      holdoutIDs:
        type:
          - array
          - "null"
      id:
        type: string
      idType:
        type:
          - string
          - "null"
      isEnabled:
        type:
          - boolean
          - "null"
      lastModifiedTime:
        type: number
      lastModifierEmail:
        type:
          - string
          - "null"
      lastModifierID:
        type:
          - string
          - "null"
      lastModifierName:
        type:
          - string
          - "null"
      measureMetricLifts:
        type:
          - boolean
          - "null"
      monitoringMetrics:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          ownerEmail:
            type:
              - string
              - "null"
          ownerID:
            type:
              - string
              - "null"
          ownerName:
            type:
              - string
              - "null"
          ownerType:
            type:
              - string
              - "null"
      reviewSettings:
        type:
          - object
          - "null"
        properties:
          allowedReviewers:
            type:
              - array
              - "null"
          requiredReview:
            type:
              - boolean
              - "null"
      rules:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            baseID:
              type:
                - string
                - "null"
            conditions:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  operator:
                    type:
                      - string
                      - "null"
                  targetValue:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            passPercentage:
              type:
                - number
                - "null"
      status:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      targetApps:
        type:
          - array
          - "null"
      typeReason:
        type:
          - string
          - "null"
    required:
      - id
      - lastModifiedTime
  gates_rules:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      conditions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            extra:
              type:
                - object
                - "null"
            operator:
              type:
                - string
                - "null"
            targetValue:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
      environment:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      passPercentage:
        type:
          - number
          - "null"
    required:
      - id
  holdouts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorID:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      experimentIDs:
        type:
          - array
          - "null"
      gateIDs:
        type:
          - array
          - "null"
      id:
        type: string
      idType:
        type:
          - string
          - "null"
      isEnabled:
        type:
          - boolean
          - "null"
      isGlobal:
        type:
          - boolean
          - "null"
      lastModifiedTime:
        type: number
      lastModifierID:
        type:
          - string
          - "null"
      lastModifierName:
        type:
          - string
          - "null"
      layerIDs:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      passPercentage:
        type:
          - number
          - "null"
      tags:
        type:
          - array
          - "null"
      targetApps:
        type:
          - array
          - "null"
    required:
      - id
      - lastModifiedTime
  ingestion_status:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  ingestion_runs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  layers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorEmail:
        type:
          - string
          - "null"
      creatorID:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      holdoutIDs:
        type:
          - array
          - "null"
      id:
        type: string
      idType:
        type:
          - string
          - "null"
      isImplicitLayer:
        type:
          - boolean
          - "null"
      lastModifiedTime:
        type: number
      lastModifierEmail:
        type:
          - string
          - "null"
      lastModifierID:
        type:
          - string
          - "null"
      lastModifierName:
        type:
          - string
          - "null"
      parameters:
        type:
          - array
          - "null"
      tags:
        type:
          - array
          - "null"
      targetApps:
        type:
          - array
          - "null"
    required:
      - id
      - lastModifiedTime
  metrics:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorEmail:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      directionality:
        type:
          - string
          - "null"
      id:
        type: string
      isHidden:
        type:
          - boolean
          - "null"
      isPermanent:
        type:
          - boolean
          - "null"
      isReadOnly:
        type:
          - boolean
          - "null"
      isVerified:
        type:
          - boolean
          - "null"
      lineage:
        type:
          - object
          - "null"
        properties:
          events:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          metrics:
            type:
              - array
              - "null"
      metricEvents:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            criteria:
              type:
                - array
                - "null"
            name:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      unitTypes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
  metrics_values:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  segments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      createdTime:
        type:
          - number
          - "null"
      creatorEmail:
        type:
          - string
          - "null"
      creatorID:
        type:
          - string
          - "null"
      creatorName:
        type:
          - string
          - "null"
      holdoutIDs:
        type:
          - array
          - "null"
      id:
        type: string
      idType:
        type:
          - string
          - "null"
      isEnabled:
        type:
          - boolean
          - "null"
      lastModifiedTime:
        type: number
      lastModifierEmail:
        type:
          - string
          - "null"
      lastModifierID:
        type:
          - string
          - "null"
      lastModifierName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      rules:
        type:
          - array
          - "null"
      tags:
        type:
          - array
          - "null"
      targetApps:
        type:
          - array
          - "null"
    required:
      - id
      - lastModifiedTime
  segments_ids:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      count:
        type:
          - number
          - "null"
      ids:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: string
      isCore:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  target_apps:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
