version: 6.41.5

type: DeclarativeSource

description: WeFact invoicing

check:
  type: CheckStream
  stream_names:
    - Invoices

definitions:
  streams:
    Invoices:
      type: DeclarativeStream
      name: Invoices
      primary_key:
        - Identifier
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "?"
          http_method: POST
          request_body_data:
            action: list
            controller: invoice
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoices
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Invoices"
    Customers:
      type: DeclarativeStream
      name: Customers
      primary_key:
        - Identifier
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "?"
          http_method: POST
          request_body_data:
            action: list
            controller: debtor
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - debtors
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Customers"
    Subscriptions:
      type: DeclarativeStream
      name: Subscriptions
      primary_key:
        - Identifier
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "?"
          http_method: POST
          request_body_data:
            action: list
            controller: subscription
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - subscriptions
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Subscriptions"
    Products:
      type: DeclarativeStream
      name: Products
      primary_key:
        - Identifier
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "?"
          http_method: POST
          request_body_data:
            action: list
            controller: product
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Products"
    Quotes:
      type: DeclarativeStream
      name: Quotes
      primary_key:
        - Identifier
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "?"
          http_method: POST
          request_body_data:
            action: list
            controller: pricequote
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - pricequotes
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Quotes"
    Suppliers:
      type: DeclarativeStream
      name: Suppliers
      primary_key:
        - Identifier
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "?"
          http_method: POST
          request_body_data:
            action: list
            controller: creditor
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - creditors
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Suppliers"
    Credit invoices:
      type: DeclarativeStream
      name: Credit invoices
      primary_key:
        - Identifier
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "?"
          http_method: POST
          request_body_data:
            action: list
            controller: creditinvoice
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - creditinvoices
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Credit invoices"
  base_requester:
    type: HttpRequester
    url_base: https://api.mijnwefact.nl/v2/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api_key
        inject_into: body_data

streams:
  - $ref: "#/definitions/streams/Invoices"
  - $ref: "#/definitions/streams/Customers"
  - $ref: "#/definitions/streams/Subscriptions"
  - $ref: "#/definitions/streams/Products"
  - $ref: "#/definitions/streams/Quotes"
  - $ref: "#/definitions/streams/Suppliers"
  - $ref: "#/definitions/streams/Credit invoices"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    Invoices: true
    Customers: true
    Subscriptions: true
    Products: true
    Quotes: true
    Suppliers: true
    Credit invoices: true
  testedStreams:
    Invoices:
      streamHash: 8083029e6cbe0cbd38f36f184683b108e04ac9d9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Customers:
      streamHash: b63ecf513714edfb5efbc4bb0dac4686f2045080
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Subscriptions:
      streamHash: 6643c75370d3d18bd81f073293c8db36d7ce120b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Products:
      streamHash: 69c24bb1a14931633f10822294aaaa67a5e2dab6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Quotes:
      streamHash: c422b78794ccd1b286df2f3968d6c00cf3287b6c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Suppliers:
      streamHash: db98e290651efb5ea8df8c817991e036c93ba38a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Credit invoices:
      streamHash: 6819a58e8294c145db09ff41f02910344ca2fe32
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Invoices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AmountExcl:
        type:
          - string
          - "null"
      AmountIncl:
        type:
          - string
          - "null"
      AmountOutstanding:
        type:
          - string
          - "null"
      AmountPaid:
        type:
          - string
          - "null"
      CompanyName:
        type:
          - string
          - "null"
      Currency:
        type:
          - string
          - "null"
      Date:
        type:
          - string
          - "null"
      Debtor:
        type:
          - string
          - "null"
      DebtorCode:
        type:
          - string
          - "null"
      Identifier:
        type: string
      Initials:
        type:
          - string
          - "null"
      InvoiceCode:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      PayBefore:
        type:
          - string
          - "null"
      ReminderDate:
        type:
          - string
          - "null"
      Reminders:
        type:
          - string
          - "null"
      Sent:
        type:
          - string
          - "null"
      SentDate:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      SubStatus:
        type:
          - string
          - "null"
      SummationDate:
        type:
          - string
          - "null"
      Summations:
        type:
          - string
          - "null"
      SurName:
        type:
          - string
          - "null"
      Term:
        type:
          - string
          - "null"
    required:
      - Identifier
  Customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CompanyName:
        type:
          - string
          - "null"
      DebtorCode:
        type:
          - string
          - "null"
      EmailAddress:
        type:
          - string
          - "null"
      Identifier:
        type: string
      Initials:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      Sex:
        type:
          - string
          - "null"
      SurName:
        type:
          - string
          - "null"
    required:
      - Identifier
  Subscriptions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AmountExcl:
        type:
          - string
          - "null"
      AmountIncl:
        type:
          - string
          - "null"
      CompanyName:
        type:
          - string
          - "null"
      Currency:
        type:
          - string
          - "null"
      Debtor:
        type:
          - string
          - "null"
      DebtorCode:
        type:
          - string
          - "null"
      Description:
        type:
          - string
          - "null"
      DiscountPercentage:
        type:
          - number
          - "null"
      EndDate:
        type:
          - string
          - "null"
      EndPeriod:
        type:
          - string
          - "null"
      Identifier:
        type: string
      Initials:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      NextDate:
        type:
          - string
          - "null"
      Number:
        type:
          - string
          - "null"
      NumberSuffix:
        type:
          - string
          - "null"
      Periodic:
        type:
          - string
          - "null"
      Periods:
        type:
          - string
          - "null"
      PriceExcl:
        type:
          - string
          - "null"
      ProductCode:
        type:
          - string
          - "null"
      StartDate:
        type:
          - string
          - "null"
      StartPeriod:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      SurName:
        type:
          - string
          - "null"
      TaxCode:
        type:
          - string
          - "null"
      TaxPercentage:
        type:
          - number
          - "null"
      TerminateAfter:
        type:
          - string
          - "null"
      TerminationDate:
        type:
          - string
          - "null"
    required:
      - Identifier
  Products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Barcode:
        type:
          - string
          - "null"
      Identifier:
        type: string
      Modified:
        type:
          - string
          - "null"
      NumberSuffix:
        type:
          - string
          - "null"
      PriceExcl:
        type:
          - string
          - "null"
      PricePeriod:
        type:
          - string
          - "null"
      ProductCode:
        type:
          - string
          - "null"
      ProductDescription:
        type:
          - string
          - "null"
      ProductKeyPhrase:
        type:
          - string
          - "null"
      ProductName:
        type:
          - string
          - "null"
      TaxCode:
        type:
          - string
          - "null"
      TaxPercentage:
        type:
          - number
          - "null"
    required:
      - Identifier
  Quotes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AmountExcl:
        type:
          - string
          - "null"
      AmountIncl:
        type:
          - string
          - "null"
      Archived:
        type:
          - string
          - "null"
      CompanyName:
        type:
          - string
          - "null"
      Currency:
        type:
          - string
          - "null"
      Date:
        type:
          - string
          - "null"
      Debtor:
        type:
          - string
          - "null"
      DebtorCode:
        type:
          - string
          - "null"
      Identifier:
        type: string
      Initials:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      PriceQuoteCode:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      SurName:
        type:
          - string
          - "null"
    required:
      - Identifier
  Suppliers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CompanyName:
        type:
          - string
          - "null"
      CreditorCode:
        type:
          - string
          - "null"
      EmailAddress:
        type:
          - string
          - "null"
      Identifier:
        type: string
      Initials:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      Sex:
        type:
          - string
          - "null"
      SurName:
        type:
          - string
          - "null"
    required:
      - Identifier
  Credit invoices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AmountExcl:
        type:
          - string
          - "null"
      AmountIncl:
        type:
          - string
          - "null"
      AmountOutstanding:
        type:
          - string
          - "null"
      AmountPaid:
        type:
          - string
          - "null"
      Authorisation:
        type:
          - string
          - "null"
      Comment:
        type:
          - string
          - "null"
      CompanyName:
        type:
          - string
          - "null"
      CreditInvoiceCode:
        type:
          - string
          - "null"
      Creditor:
        type:
          - string
          - "null"
      Currency:
        type:
          - string
          - "null"
      Date:
        type:
          - string
          - "null"
      Identifier:
        type: string
      Initials:
        type:
          - string
          - "null"
      InvoiceCode:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      PayBefore:
        type:
          - string
          - "null"
      PayDate:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      SubStatus:
        type:
          - string
          - "null"
      SurName:
        type:
          - string
          - "null"
      Term:
        type:
          - string
          - "null"
    required:
      - Identifier
