version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://manage.fastly.com/
  API Reference: https://www.fastly.com/documentation/reference/api/

check:
  type: CheckStream
  stream_names:
    - current_user

definitions:
  streams:
    current_user:
      type: DeclarativeStream
      name: current_user
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /current_user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/current_user"
    service:
      type: DeclarativeStream
      name: service
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /service
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service"
    service_details:
      type: DeclarativeStream
      name: service_details
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /service/{{ stream_partition['service_id'] }}/details
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: service_id
              stream:
                $ref: "#/definitions/streams/service"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_details"
    service_version:
      type: DeclarativeStream
      name: service_version
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /service/{{ stream_partition['service_id'] }}/version
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: service_id
              stream:
                $ref: "#/definitions/streams/service"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_version"
    service_dictionaries:
      type: DeclarativeStream
      name: service_dictionaries
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /service/{{ stream_partition['service_id']
            }}/version/{{stream_partition['version_id']}}/dictionary
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: service_id
                stream:
                  $ref: "#/definitions/streams/service"
                incremental_dependency: true
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: number
                partition_field: version_id
                stream:
                  $ref: "#/definitions/streams/service_version"
                incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_dictionaries"
    service_backend:
      type: DeclarativeStream
      name: service_backend
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /service/{{ stream_partition['service_id']
            }}/version/{{stream_partition['version_id']}}/backend
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: service_id
                stream:
                  $ref: "#/definitions/streams/service"
                incremental_dependency: true
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: number
                partition_field: version_id
                stream:
                  $ref: "#/definitions/streams/service_version"
                incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_backend"
    service_domain:
      type: DeclarativeStream
      name: service_domain
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /service/{{ stream_partition['service_id']
            }}/version/{{stream_partition['version_id']}}/domain
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: service_id
                stream:
                  $ref: "#/definitions/streams/service"
                incremental_dependency: true
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: number
                partition_field: version_id
                stream:
                  $ref: "#/definitions/streams/service_version"
                incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_domain"
    service_acl:
      type: DeclarativeStream
      name: service_acl
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /service/{{ stream_partition['service_id']
            }}/version/{{stream_partition['version_id']}}/acl
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: service_id
                stream:
                  $ref: "#/definitions/streams/service"
                incremental_dependency: true
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: number
                partition_field: version_id
                stream:
                  $ref: "#/definitions/streams/service_version"
                incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_acl"
  base_requester:
    type: HttpRequester
    url_base: https://api.fastly.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"fastly_api_token\"] }}"
      inject_into:
        type: RequestOption
        field_name: Fastly-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/current_user"
  - $ref: "#/definitions/streams/service"
  - $ref: "#/definitions/streams/service_details"
  - $ref: "#/definitions/streams/service_version"
  - $ref: "#/definitions/streams/service_dictionaries"
  - $ref: "#/definitions/streams/service_backend"
  - $ref: "#/definitions/streams/service_domain"
  - $ref: "#/definitions/streams/service_acl"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - fastly_api_token
      - start_date
    properties:
      fastly_api_token:
        type: string
        description: >-
          Your Fastly API token. You can generate this token in the Fastly web
          interface under Account Settings or via the Fastly API. Ensure the
          token has the appropriate scope for your use case.
        name: fastly_api_token
        title: Fastly API Token
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    current_user: true
    service: true
    service_details: true
    service_version: true
    service_dictionaries: true
    service_backend: true
    service_domain: true
    service_acl: true
  testedStreams:
    current_user:
      streamHash: e0ad44df676fc246a72e388671d3c2ffa1832b89
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    service:
      streamHash: ea300d1b90c6eb4992d1878a79ffda7995e67dbe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    service_details:
      streamHash: 5e53decf0dcbd10451a99fe62d4924e7d3276b4d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    service_version:
      streamHash: 435719f9aaeffbeba7d5210bcace1b239fa13fb9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    service_dictionaries:
      streamHash: f14fa0933e5d577be1f19fdb1209135fcbd81d63
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    service_backend:
      streamHash: 970479c1ee47cd1374c6f04b579be3eb75f4c947
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    service_domain:
      streamHash: 9805a555e06f05d9f78781eebc2d0dba2234c1a6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    service_acl:
      streamHash: 13efa761a891abd475903794d6cd6d31c066f93f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://www.fastly.com/documentation/reference/api/account/user/

schemas:
  current_user:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bypass_sso:
        type:
          - boolean
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      email_hash:
        type:
          - string
          - "null"
      id:
        type: string
      last_active_at:
        type:
          - string
          - "null"
      limit_services:
        type:
          - boolean
          - "null"
      limit_workspaces:
        type:
          - boolean
          - "null"
      locked:
        type:
          - boolean
          - "null"
      login:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      require_new_password:
        type:
          - boolean
          - "null"
      role:
        type:
          - string
          - "null"
      two_factor_auth_enabled:
        type:
          - boolean
          - "null"
      two_factor_setup_required:
        type:
          - boolean
          - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  service:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      type:
        type:
          - string
          - "null"
      comment:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      environments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            active_version:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            service_id:
              type:
                - string
                - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      paused:
        type:
          - boolean
          - "null"
      updated_at:
        type: string
      versions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            active:
              type:
                - boolean
                - "null"
            comment:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            deployed:
              type:
                - boolean
                - "null"
            environments:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  active_version:
                    type:
                      - number
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  service_id:
                    type:
                      - string
                      - "null"
            locked:
              type:
                - boolean
                - "null"
            number:
              type:
                - number
                - "null"
            service_id:
              type:
                - string
                - "null"
            staging:
              type:
                - boolean
                - "null"
            testing:
              type:
                - boolean
                - "null"
            updated_at:
              type:
                - string
                - "null"
    required:
      - id
      - updated_at
  service_details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - object
          - "null"
        properties:
          acls:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          active:
            type:
              - boolean
              - "null"
          backends:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                address:
                  type:
                    - string
                    - "null"
                auto_loadbalance:
                  type:
                    - boolean
                    - "null"
                between_bytes_timeout:
                  type:
                    - number
                    - "null"
                comment:
                  type:
                    - string
                    - "null"
                connect_timeout:
                  type:
                    - number
                    - "null"
                error_threshold:
                  type:
                    - number
                    - "null"
                first_byte_timeout:
                  type:
                    - number
                    - "null"
                hostname:
                  type:
                    - string
                    - "null"
                max_conn:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                override_host:
                  type:
                    - string
                    - "null"
                port:
                  type:
                    - number
                    - "null"
                request_condition:
                  type:
                    - string
                    - "null"
                ssl_cert_hostname:
                  type:
                    - string
                    - "null"
                ssl_check_cert:
                  type:
                    - boolean
                    - "null"
                ssl_sni_hostname:
                  type:
                    - string
                    - "null"
                use_ssl:
                  type:
                    - boolean
                    - "null"
                weight:
                  type:
                    - number
                    - "null"
          cache_settings:
            type:
              - array
              - "null"
          comment:
            type:
              - string
              - "null"
          conditions:
            type:
              - array
              - "null"
          created_at:
            type:
              - string
              - "null"
          deployed:
            type:
              - boolean
              - "null"
          dictionaries:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                write_only:
                  type:
                    - boolean
                    - "null"
          directors:
            type:
              - array
              - "null"
          domains:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                comment:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          environments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                active_version:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                service_id:
                  type:
                    - string
                    - "null"
          gzips:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                cache_condition:
                  type:
                    - string
                    - "null"
                content_types:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                extensions:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
          headers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                action:
                  type:
                    - string
                    - "null"
                dst:
                  type:
                    - string
                    - "null"
                ignore_if_set:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                priority:
                  type:
                    - string
                    - "null"
                regex:
                  type:
                    - string
                    - "null"
                src:
                  type:
                    - string
                    - "null"
                substitution:
                  type:
                    - string
                    - "null"
          healthchecks:
            type:
              - array
              - "null"
          locked:
            type:
              - boolean
              - "null"
          number:
            type:
              - number
              - "null"
          request_settings:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                force_ssl:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                request_condition:
                  type:
                    - string
                    - "null"
          response_objects:
            type:
              - array
              - "null"
          service_id:
            type:
              - string
              - "null"
          settings:
            type:
              - object
              - "null"
            properties:
              general.default_host:
                type:
                  - string
                  - "null"
              general.default_pci:
                type:
                  - number
                  - "null"
              general.default_ttl:
                type:
                  - number
                  - "null"
              general.stale_if_error:
                type:
                  - boolean
                  - "null"
              general.stale_if_error_ttl:
                type:
                  - number
                  - "null"
          snippets:
            type:
              - array
              - "null"
          staging:
            type:
              - boolean
              - "null"
          testing:
            type:
              - boolean
              - "null"
          updated_at:
            type:
              - string
              - "null"
          vcls:
            type:
              - array
              - "null"
          wordpress:
            type:
              - array
              - "null"
      type:
        type:
          - string
          - "null"
      active_version:
        type:
          - object
          - "null"
        properties:
          acls:
            type:
              - array
              - "null"
          active:
            type:
              - boolean
              - "null"
          backends:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                address:
                  type:
                    - string
                    - "null"
                auto_loadbalance:
                  type:
                    - boolean
                    - "null"
                between_bytes_timeout:
                  type:
                    - number
                    - "null"
                comment:
                  type:
                    - string
                    - "null"
                connect_timeout:
                  type:
                    - number
                    - "null"
                error_threshold:
                  type:
                    - number
                    - "null"
                first_byte_timeout:
                  type:
                    - number
                    - "null"
                hostname:
                  type:
                    - string
                    - "null"
                max_conn:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                override_host:
                  type:
                    - string
                    - "null"
                port:
                  type:
                    - number
                    - "null"
                request_condition:
                  type:
                    - string
                    - "null"
                ssl_cert_hostname:
                  type:
                    - string
                    - "null"
                ssl_check_cert:
                  type:
                    - boolean
                    - "null"
                ssl_sni_hostname:
                  type:
                    - string
                    - "null"
                use_ssl:
                  type:
                    - boolean
                    - "null"
                weight:
                  type:
                    - number
                    - "null"
          cache_settings:
            type:
              - array
              - "null"
          comment:
            type:
              - string
              - "null"
          conditions:
            type:
              - array
              - "null"
          created_at:
            type:
              - string
              - "null"
          deployed:
            type:
              - boolean
              - "null"
          dictionaries:
            type:
              - array
              - "null"
          directors:
            type:
              - array
              - "null"
          domains:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                comment:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          environments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                active_version:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                service_id:
                  type:
                    - string
                    - "null"
          gzips:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                cache_condition:
                  type:
                    - string
                    - "null"
                content_types:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                extensions:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
          headers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                action:
                  type:
                    - string
                    - "null"
                dst:
                  type:
                    - string
                    - "null"
                ignore_if_set:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                priority:
                  type:
                    - string
                    - "null"
                regex:
                  type:
                    - string
                    - "null"
                src:
                  type:
                    - string
                    - "null"
                substitution:
                  type:
                    - string
                    - "null"
          healthchecks:
            type:
              - array
              - "null"
          locked:
            type:
              - boolean
              - "null"
          number:
            type:
              - number
              - "null"
          request_settings:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                force_ssl:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                request_condition:
                  type:
                    - string
                    - "null"
          response_objects:
            type:
              - array
              - "null"
          service_id:
            type:
              - string
              - "null"
          settings:
            type:
              - object
              - "null"
            properties:
              general.default_host:
                type:
                  - string
                  - "null"
              general.default_pci:
                type:
                  - number
                  - "null"
              general.default_ttl:
                type:
                  - number
                  - "null"
              general.stale_if_error:
                type:
                  - boolean
                  - "null"
              general.stale_if_error_ttl:
                type:
                  - number
                  - "null"
          snippets:
            type:
              - array
              - "null"
          staging:
            type:
              - boolean
              - "null"
          testing:
            type:
              - boolean
              - "null"
          updated_at:
            type:
              - string
              - "null"
          vcls:
            type:
              - array
              - "null"
          wordpress:
            type:
              - array
              - "null"
      comment:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      environments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            active_version:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            service_id:
              type:
                - string
                - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      updated_at:
        type: string
      versions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            active:
              type:
                - boolean
                - "null"
            comment:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            deployed:
              type:
                - boolean
                - "null"
            environments:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  active_version:
                    type:
                      - number
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  service_id:
                    type:
                      - string
                      - "null"
            locked:
              type:
                - boolean
                - "null"
            number:
              type:
                - number
                - "null"
            service_id:
              type:
                - string
                - "null"
            staging:
              type:
                - boolean
                - "null"
            testing:
              type:
                - boolean
                - "null"
            updated_at:
              type:
                - string
                - "null"
    required:
      - id
      - updated_at
  service_version:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      comment:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      deployed:
        type:
          - boolean
          - "null"
      environments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            active_version:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            service_id:
              type:
                - string
                - "null"
      locked:
        type:
          - boolean
          - "null"
      number:
        type:
          - number
          - "null"
      service_id:
        type:
          - string
          - "null"
      staging:
        type:
          - boolean
          - "null"
      testing:
        type:
          - boolean
          - "null"
      updated_at:
        type: string
      uuid:
        type: string
    required:
      - uuid
      - updated_at
  service_dictionaries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      service_id:
        type:
          - string
          - "null"
      updated_at:
        type: string
      write_only:
        type:
          - boolean
          - "null"
    required:
      - id
      - updated_at
  service_backend:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      address:
        type:
          - string
          - "null"
      auto_loadbalance:
        type:
          - boolean
          - "null"
      between_bytes_timeout:
        type:
          - number
          - "null"
      comment:
        type:
          - string
          - "null"
      connect_timeout:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      error_threshold:
        type:
          - number
          - "null"
      first_byte_timeout:
        type:
          - number
          - "null"
      hostname:
        type:
          - string
          - "null"
      locked:
        type:
          - boolean
          - "null"
      max_conn:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      override_host:
        type:
          - string
          - "null"
      port:
        type:
          - number
          - "null"
      request_condition:
        type:
          - string
          - "null"
      service_id:
        type:
          - string
          - "null"
      ssl_cert_hostname:
        type:
          - string
          - "null"
      ssl_check_cert:
        type:
          - boolean
          - "null"
      ssl_sni_hostname:
        type:
          - string
          - "null"
      updated_at:
        type: string
      use_ssl:
        type:
          - boolean
          - "null"
      uuid:
        type: string
      weight:
        type:
          - number
          - "null"
    required:
      - uuid
      - updated_at
  service_domain:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      comment:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      locked:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      service_id:
        type:
          - string
          - "null"
      updated_at:
        type: string
      uuid:
        type: string
    required:
      - uuid
      - updated_at
  service_acl:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      service_id:
        type:
          - string
          - "null"
      updated_at:
        type: string
      uuid:
        type: string
    required:
      - uuid
      - updated_at
