version: 6.33.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - shops

definitions:
  streams:
    addresses:
      type: DeclarativeStream
      name: addresses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /addresses
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "addresses"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/addresses"
    carriers:
      type: DeclarativeStream
      name: carriers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /carriers
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "carriers"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carriers"
    cart_rules:
      type: DeclarativeStream
      name: cart_rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /cart_rules
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "cart_rules"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cart_rules"
    carts:
      type: DeclarativeStream
      name: carts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /carts
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "carts"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carts"
    categories:
      type: DeclarativeStream
      name: categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /categories
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "categories"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
    combinations:
      type: DeclarativeStream
      name: combinations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /combinations
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "combinations"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/combinations"
    configurations:
      type: DeclarativeStream
      name: configurations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /configurations
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "configurations"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/configurations"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "contacts"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    content_management_system:
      type: DeclarativeStream
      name: content_management_system
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /content_management_system
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "content_management_system"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/content_management_system"
    countries:
      type: DeclarativeStream
      name: countries
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /countries
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "content_management_system"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/countries"
    currencies:
      type: DeclarativeStream
      name: currencies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /currencies
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "currencies"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/currencies"
    customer_messages:
      type: DeclarativeStream
      name: customer_messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customer_messages
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "customer_messages"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_messages"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "customers"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    customer_threads:
      type: DeclarativeStream
      name: customer_threads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customer_threads
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "customer_threads"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_threads"
    deliveries:
      type: DeclarativeStream
      name: deliveries
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /deliveries
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "deliveries"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deliveries"
    employees:
      type: DeclarativeStream
      name: employees
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /employees
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "employees"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees"
    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /groups
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "groups"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    guests:
      type: DeclarativeStream
      name: guests
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /guests
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "guests"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/guests"
    image_types:
      type: DeclarativeStream
      name: image_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /image_types
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "image_types"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/image_types"
    languages:
      type: DeclarativeStream
      name: languages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /languages
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "languages"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/languages"
    manufacturers:
      type: DeclarativeStream
      name: manufacturers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /manufacturers
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "manufacturers"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/manufacturers"
    messages:
      type: DeclarativeStream
      name: messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /messages
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_add_ASC,id_ASC]
            filter[date_add]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "messages"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_add
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages"
    order_carriers:
      type: DeclarativeStream
      name: order_carriers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /order_carriers
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_add_ASC,id_ASC]
            filter[date_add]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "order_carriers"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_add
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_carriers"
    order_details:
      type: DeclarativeStream
      name: order_details
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /order_details
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "order_details"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_details"
    order_histories:
      type: DeclarativeStream
      name: order_histories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /order_histories
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_add_ASC,id_ASC]
            filter[date_add]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "order_histories"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_add
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_histories"
    order_invoices:
      type: DeclarativeStream
      name: order_invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /order_invoices
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_add_ASC,id_ASC]
            filter[date_add]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "order_invoices"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_add
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_invoices"
    order_payments:
      type: DeclarativeStream
      name: order_payments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /order_payments
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_add_ASC,id_ASC]
            filter[date_add]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "order_payments"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_add
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_payments"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "orders"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    order_slip:
      type: DeclarativeStream
      name: order_slip
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /order_slip
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "order_slips"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_slip"
    order_states:
      type: DeclarativeStream
      name: order_states
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /order_states
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "order_states"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_states"
    price_ranges:
      type: DeclarativeStream
      name: price_ranges
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /price_ranges
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "price_ranges"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/price_ranges"
    product_customization_fields:
      type: DeclarativeStream
      name: product_customization_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /product_customization_fields
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "customization_fields"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_customization_fields"
    product_features:
      type: DeclarativeStream
      name: product_features
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /product_features
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "product_features"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_features"
    product_feature_values:
      type: DeclarativeStream
      name: product_feature_values
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /product_feature_values
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "product_feature_values"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_feature_values"
    product_options:
      type: DeclarativeStream
      name: product_options
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /product_options
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "product_options"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_options"
    product_option_values:
      type: DeclarativeStream
      name: product_option_values
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /product_option_values
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "product_option_values"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_option_values"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "products"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    product_suppliers:
      type: DeclarativeStream
      name: product_suppliers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /product_suppliers
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "product_suppliers"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_suppliers"
    shop_groups:
      type: DeclarativeStream
      name: shop_groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /shop_groups
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "shop_groups"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shop_groups"
    shops:
      type: DeclarativeStream
      name: shops
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /shops
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "shops"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shops"
    shop_urls:
      type: DeclarativeStream
      name: shop_urls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /shop_urls
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "shop_urls"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shop_urls"
    specific_price_rules:
      type: DeclarativeStream
      name: specific_price_rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /specific_price_rules
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "specific_price_rules"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/specific_price_rules"
    specific_prices:
      type: DeclarativeStream
      name: specific_prices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /specific_prices
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "specific_prices"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/specific_prices"
    states:
      type: DeclarativeStream
      name: states
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /states
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "states"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/states"
    stock_availables:
      type: DeclarativeStream
      name: stock_availables
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock_availables
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "stock_availables"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stock_availables"
    stock_movement_reasons:
      type: DeclarativeStream
      name: stock_movement_reasons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock_movement_reasons
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "stock_movement_reasons"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stock_movement_reasons"
    stock_movements:
      type: DeclarativeStream
      name: stock_movements
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stock_movements
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_add_ASC,id_ASC]
            filter[date_add]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "stock_mvts"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_add
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stock_movements"
    stores:
      type: DeclarativeStream
      name: stores
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stores
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "stores"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stores"
    suppliers:
      type: DeclarativeStream
      name: suppliers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /suppliers
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "suppliers"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suppliers"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tags
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "tags"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    taxes:
      type: DeclarativeStream
      name: taxes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /taxes
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "taxes"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/taxes"
    tax_rule_groups:
      type: DeclarativeStream
      name: tax_rule_groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tax_rule_groups
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
            date: "1"
            sort: >-
              [date_upd_ASC,id_ASC]
            filter[date_upd]: "[{{ stream_slice['start_time'] }},{{ stream_slice['end_time'] }}]"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "tax_rule_groups"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_upd
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax_rule_groups"
    tax_rules:
      type: DeclarativeStream
      name: tax_rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tax_rules
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "tax_rules"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax_rules"
    translated_configurations:
      type: DeclarativeStream
      name: translated_configurations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /translated_configurations
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "translated_configurations"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/translated_configurations"
    weight_ranges:
      type: DeclarativeStream
      name: weight_ranges
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /weight_ranges
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "weight_ranges"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/weight_ranges"
    zones:
      type: DeclarativeStream
      name: zones
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /zones
          http_method: GET
          request_parameters:
            display: full
            limit: "'{{ next_page_token['next_page_token'] or '0' }},50'"
          request_headers:
            Output-Format: JSON
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "zones"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/zones"
  base_requester:
    type: HttpRequester
    url_base: "{{ config['url'] }}/api/"
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['access_key'] }}"

streams:
  - $ref: "#/definitions/streams/addresses"
  - $ref: "#/definitions/streams/carriers"
  - $ref: "#/definitions/streams/cart_rules"
  - $ref: "#/definitions/streams/carts"
  - $ref: "#/definitions/streams/categories"
  - $ref: "#/definitions/streams/combinations"
  - $ref: "#/definitions/streams/configurations"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/content_management_system"
  - $ref: "#/definitions/streams/countries"
  - $ref: "#/definitions/streams/currencies"
  - $ref: "#/definitions/streams/customer_messages"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/customer_threads"
  - $ref: "#/definitions/streams/deliveries"
  - $ref: "#/definitions/streams/employees"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/guests"
  - $ref: "#/definitions/streams/image_types"
  - $ref: "#/definitions/streams/languages"
  - $ref: "#/definitions/streams/manufacturers"
  - $ref: "#/definitions/streams/messages"
  - $ref: "#/definitions/streams/order_carriers"
  - $ref: "#/definitions/streams/order_details"
  - $ref: "#/definitions/streams/order_histories"
  - $ref: "#/definitions/streams/order_invoices"
  - $ref: "#/definitions/streams/order_payments"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/order_slip"
  - $ref: "#/definitions/streams/order_states"
  - $ref: "#/definitions/streams/price_ranges"
  - $ref: "#/definitions/streams/product_customization_fields"
  - $ref: "#/definitions/streams/product_features"
  - $ref: "#/definitions/streams/product_feature_values"
  - $ref: "#/definitions/streams/product_options"
  - $ref: "#/definitions/streams/product_option_values"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/product_suppliers"
  - $ref: "#/definitions/streams/shop_groups"
  - $ref: "#/definitions/streams/shops"
  - $ref: "#/definitions/streams/shop_urls"
  - $ref: "#/definitions/streams/specific_price_rules"
  - $ref: "#/definitions/streams/specific_prices"
  - $ref: "#/definitions/streams/states"
  - $ref: "#/definitions/streams/stock_availables"
  - $ref: "#/definitions/streams/stock_movement_reasons"
  - $ref: "#/definitions/streams/stock_movements"
  - $ref: "#/definitions/streams/stores"
  - $ref: "#/definitions/streams/suppliers"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/taxes"
  - $ref: "#/definitions/streams/tax_rule_groups"
  - $ref: "#/definitions/streams/tax_rules"
  - $ref: "#/definitions/streams/translated_configurations"
  - $ref: "#/definitions/streams/weight_ranges"
  - $ref: "#/definitions/streams/zones"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_key
      - url
      - start_date
    properties:
      access_key:
        type: string
        description: >-
          Your PrestaShop access key. See <a
          href="https://devdocs.prestashop.com/1.7/webservice/tutorials/creating-access/#create-an-access-key">
          the docs </a> for info on how to obtain this.
        title: Access Key
        order: 0
        airbyte_secret: true
      url:
        type: string
        description: Shop URL without trailing slash.
        title: Shop URL
        order: 1
      start_date:
        type: string
        description: The Start date in the format YYYY-MM-DD.
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2022-01-01"
        format: date
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    addresses: false
    carriers: false
    cart_rules: false
    carts: false
    categories: false
    combinations: false
    configurations: false
    contacts: false
    content_management_system: false
    countries: false
    currencies: false
    customer_messages: false
    customers: false
    customer_threads: false
    deliveries: false
    employees: false
    groups: false
    guests: false
    image_types: false
    languages: false
    manufacturers: false
    messages: false
    order_carriers: false
    order_details: false
    order_histories: false
    order_invoices: false
    order_payments: false
    orders: false
    order_slip: false
    order_states: false
    price_ranges: false
    product_customization_fields: false
    product_features: false
    product_feature_values: false
    product_options: false
    product_option_values: false
    products: false
    product_suppliers: false
    shop_groups: false
    shops: false
    shop_urls: false
    specific_price_rules: false
    specific_prices: false
    states: false
    stock_availables: false
    stock_movement_reasons: false
    stock_movements: false
    stores: false
    suppliers: false
    tags: false
    taxes: false
    tax_rule_groups: false
    tax_rules: false
    translated_configurations: false
    weight_ranges: false
    zones: false
  yamlComponents:
    streams:
      addresses:
        - transformations
      carriers:
        - transformations
      cart_rules:
        - transformations
      carts:
        - transformations
      categories:
        - transformations
      combinations:
        - transformations
      configurations:
        - transformations
      contacts:
        - transformations
      content_management_system:
        - transformations
      countries:
        - transformations
      currencies:
        - transformations
      customer_messages:
        - transformations
      customers:
        - transformations
      customer_threads:
        - transformations
      deliveries:
        - transformations
      employees:
        - transformations
      groups:
        - transformations
      guests:
        - transformations
      image_types:
        - transformations
      languages:
        - transformations
      manufacturers:
        - transformations
      messages:
        - transformations
      order_carriers:
        - transformations
      order_details:
        - transformations
      order_histories:
        - transformations
      order_invoices:
        - transformations
      order_payments:
        - transformations
      orders:
        - transformations
      order_slip:
        - transformations
      order_states:
        - transformations
      price_ranges:
        - transformations
      product_customization_fields:
        - transformations
      product_features:
        - transformations
      product_feature_values:
        - transformations
      product_options:
        - transformations
      product_option_values:
        - transformations
      products:
        - transformations
      product_suppliers:
        - transformations
      shop_groups:
        - transformations
      shops:
        - transformations
      shop_urls:
        - transformations
      specific_price_rules:
        - transformations
      specific_prices:
        - transformations
      states:
        - transformations
      stock_availables:
        - transformations
      stock_movement_reasons:
        - transformations
      stock_movements:
        - transformations
      stores:
        - transformations
      suppliers:
        - transformations
      tags:
        - transformations
      taxes:
        - transformations
      tax_rule_groups:
        - transformations
      tax_rules:
        - transformations
      translated_configurations:
        - transformations
      weight_ranges:
        - transformations
      zones:
        - transformations
    global:
      - authenticator
  testedStreams: {}
  assist: {}

schemas:
  addresses:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    properties:
      address1:
        type:
          - "null"
          - string
        description: First line of the address.
      address2:
        type:
          - "null"
          - string
        description: Second line of the address (if applicable).
      alias:
        type:
          - "null"
          - string
        description: An alias for the address for easy identification.
      city:
        type:
          - "null"
          - string
        description: City of the address.
      company:
        type:
          - "null"
          - string
        description: Company name associated with the address.
      date_add:
        type:
          - "null"
          - string
        description: Date when the address was added.
        format: date-time
      date_upd:
        type:
          - "null"
          - string
        description: Date when the address was last updated.
        format: date-time
      deleted:
        type:
          - "null"
          - string
        description: Flag indicating if the address is deleted or not.
      dni:
        type:
          - "null"
          - string
        description: >-
          DNI (Documento Nacional de Identidad) number associated with the
          address.
      firstname:
        type:
          - "null"
          - string
        description: First name of the person associated with the address.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the address.
      id_country:
        type:
          - "null"
          - string
        description: ID of the country associated with the address.
      id_customer:
        type:
          - "null"
          - string
        description: ID of the customer to whom the address belongs.
      id_manufacturer:
        type:
          - "null"
          - string
        description: ID of the manufacturer associated with the address.
      id_state:
        type:
          - "null"
          - string
        description: ID of the state or region associated with the address.
      id_supplier:
        type:
          - "null"
          - string
        description: ID of the supplier associated with the address.
      id_warehouse:
        type:
          - "null"
          - string
        description: ID of the warehouse linked to the address.
      lastname:
        type:
          - "null"
          - string
        description: Last name of the person associated with the address.
      other:
        type:
          - "null"
          - string
        description: Any additional information or notes about the address.
      phone:
        type:
          - "null"
          - string
        description: Phone number for the address.
      phone_mobile:
        type:
          - "null"
          - string
        description: Mobile phone number for the address.
      postcode:
        type:
          - "null"
          - string
        description: Postal code of the address.
      vat_number:
        type:
          - "null"
          - string
        description: VAT (Value Added Tax) number associated with the address.
    additionalProperties: true
  carriers:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    properties:
      active:
        type:
          - "null"
          - string
        description: Indicates if the carrier is active or not
      delay:
        type:
          - "null"
          - string
        description: Estimated delivery time delay for this carrier
      deleted:
        type:
          - "null"
          - string
        description: Indicates if the carrier is deleted or not
      external_module_name:
        type:
          - "null"
          - string
        description: Name of the external module used by the carrier
      grade:
        type:
          - "null"
          - string
        description: Grade of the carrier based on its performance
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the carrier
      id_reference:
        type:
          - "null"
          - string
        description: Reference identifier for the carrier
      id_tax_rules_group:
        type:
          - "null"
          - string
        description: ID of the tax rules group applied to this carrier
      is_free:
        type:
          - "null"
          - string
        description: Indicates if the carrier is free for shipping or not
      is_module:
        type:
          - "null"
          - string
        description: Indicates if the carrier is provided by a module
      max_depth:
        type:
          - "null"
          - string
        description: Maximum depth of the package allowed for this carrier
      max_height:
        type:
          - "null"
          - string
        description: Maximum height of the package allowed for this carrier
      max_weight:
        type:
          - "null"
          - string
        description: Maximum weight of the package allowed for this carrier
      max_width:
        type:
          - "null"
          - string
        description: Maximum width of the package allowed for this carrier
      name:
        type:
          - "null"
          - string
        description: Name of the carrier
      need_range:
        type:
          - "null"
          - string
        description: Indicates if a price range is needed for this carrier
      position:
        type:
          - "null"
          - string
        description: Position of the carrier in the carrier list
      range_behavior:
        type:
          - "null"
          - string
        description: Behavior of the price range for this carrier
      shipping_external:
        type:
          - "null"
          - string
        description: Indicates if the carrier provides external shipping
      shipping_handling:
        type:
          - "null"
          - string
        description: Indicates if the carrier charges handling fees
      shipping_method:
        type:
          - string
          - integer
        description: Specific shipping method used by the carrier
      url:
        type:
          - "null"
          - string
        description: URL for additional information about the carrier
    additionalProperties: true
  cart_rules:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - "null"
          - string
        description: A brief description of the cart rule and its conditions.
      active:
        type:
          - "null"
          - string
        description: Indicates whether the cart rule is currently active.
      carrier_restriction:
        type:
          - "null"
          - string
        description: IDs of carriers the cart rule is restricted to.
      cart_rule_restriction:
        type:
          - "null"
          - string
        description: >-
          IDs of other cart rules that are restricted in conjunction with this
          rule.
      code:
        type:
          - "null"
          - string
        description: >-
          The unique code that customers can apply at checkout to trigger the
          discount.
      country_restriction:
        type:
          - "null"
          - string
        description: ISO country codes for countries the cart rule is applicable to.
      date_add:
        type:
          - "null"
          - string
        description: The date and time when the cart rule was created.
        format: date-time
      date_from:
        type:
          - "null"
          - string
        description: The start date and time when the cart rule becomes active.
        format: date-time
      date_to:
        type:
          - "null"
          - string
        description: The end date and time when the cart rule expires.
        format: date-time
      date_upd:
        type:
          - "null"
          - string
        description: The date and time when the cart rule was last updated.
        format: date-time
      free_shipping:
        type:
          - "null"
          - string
        description: Indicates whether the cart rule offers free shipping.
      gift_product:
        type:
          - "null"
          - string
        description: ID of the product that will be added as a gift.
      gift_product_attribute:
        type:
          - "null"
          - string
        description: ID of the product attribute for the gift product.
      group_restriction:
        type:
          - "null"
          - string
        description: Customer group IDs that are eligible for the cart rule.
      highlight:
        type:
          - "null"
          - string
        description: Indicates whether the cart rule should be highlighted for customers.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the cart rule.
      id_customer:
        type:
          - "null"
          - string
        description: ID of the customer associated with the cart rule.
      minimum_amount:
        type:
          - "null"
          - string
        description: Minimum order amount required to trigger the cart rule.
      minimum_amount_currency:
        type:
          - "null"
          - string
        description: Currency code for the minimum order amount.
      minimum_amount_shipping:
        type:
          - "null"
          - string
        description: >-
          Minimum order amount that includes shipping cost to trigger the cart
          rule.
      minimum_amount_tax:
        type:
          - "null"
          - string
        description: Minimum order amount that includes taxes to trigger the cart rule.
      name:
        type:
          - "null"
          - string
        description: Name of the cart rule displayed to customers.
      partial_use:
        type:
          - "null"
          - string
        description: >-
          Indicates whether the cart rule can be partially used or applied
          multiple times.
      priority:
        type:
          - "null"
          - string
        description: Priority order in which cart rules are applied during checkout.
      product_restriction:
        type:
          - "null"
          - string
        description: IDs of specific products that the cart rule is restricted to.
      quantity:
        type:
          - "null"
          - string
        description: Minimum quantity of products required to trigger the cart rule.
      quantity_per_user:
        type:
          - "null"
          - string
        description: Maximum quantity of product per user that the cart rule applies to.
      reduction_amount:
        type:
          - "null"
          - string
        description: Fixed reduction amount applied by the cart rule.
      reduction_currency:
        type:
          - "null"
          - string
        description: Currency code for the reduction amount.
      reduction_exclude_special:
        type:
          - "null"
          - string
        description: Indicates whether special offers are excluded from the cart rule.
      reduction_percent:
        type:
          - "null"
          - string
        description: Percentage reduction applied by the cart rule.
      reduction_product:
        type:
          - "null"
          - string
        description: ID of the product to which the reduction applies.
      reduction_tax:
        type:
          - "null"
          - string
        description: Indicates whether the reduction amount includes taxes.
      shop_restriction:
        type:
          - "null"
          - string
        description: IDs of shops where the cart rule is restricted to apply.
    additionalProperties: true
  carts:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    properties:
      allow_seperated_package:
        type:
          - "null"
          - string
        description: Indicates if the cart allows separated packaging for items
      associations:
        type: object
        description: Associations with other resources related to the cart
        properties:
          cart_rows:
            type: array
            description: Details of the products added to the cart
            items:
              type: object
              description: Information about each product in the cart
              properties:
                id_address_delivery:
                  type:
                    - "null"
                    - string
                  description: ID of the delivery address associated with the cart item
                id_customization:
                  type:
                    - "null"
                    - string
                  description: ID of the customization related to the cart item
                id_product:
                  type:
                    - "null"
                    - string
                  description: ID of the product in the cart
                id_product_attribute:
                  type:
                    - "null"
                    - string
                  description: ID of the product attribute selected for the cart item
                quantity:
                  type:
                    - "null"
                    - string
                  description: Quantity of the product in the cart
      date_add:
        type:
          - "null"
          - string
        description: Date and time when the cart was created
        format: date-time
      date_upd:
        type:
          - "null"
          - string
        description: Date and time when the cart was last updated
        format: date-time
      delivery_option:
        type:
          - "null"
          - string
        description: Selected delivery options for the cart
      gift:
        type:
          - "null"
          - string
        description: Indicates if the cart includes a gift
      gift_message:
        type:
          - "null"
          - string
        description: Message associated with the gift included in the cart
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the cart
      id_address_delivery:
        type:
          - "null"
          - string
        description: ID of the delivery address for the cart
      id_address_invoice:
        type:
          - "null"
          - string
        description: ID of the invoice address for the cart
      id_carrier:
        type:
          - "null"
          - string
        description: ID of the carrier for shipping the cart items
      id_currency:
        type:
          - "null"
          - string
        description: ID of the currency used for the cart
      id_customer:
        type:
          - "null"
          - string
        description: ID of the customer who owns the cart
      id_guest:
        type:
          - "null"
          - string
        description: ID of the guest user associated with the cart
      id_lang:
        type:
          - "null"
          - string
        description: ID of the language used for the cart
      id_shop:
        type:
          - "null"
          - string
        description: ID of the shop where the cart was created
      id_shop_group:
        type:
          - "null"
          - string
        description: ID of the shop group to which the shop belongs
      mobile_theme:
        type:
          - "null"
          - string
        description: Identifier for the mobile theme used for the cart
      recyclable:
        type:
          - "null"
          - string
        description: Indicates if the cart items are recyclable
      secure_key:
        type:
          - "null"
          - string
        description: Unique secure key associated with the cart for security purposes
    additionalProperties: true
  categories:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - "null"
          - string
        description: A brief description of the category.
      active:
        type:
          - "null"
          - string
        description: Indicates whether the category is active or not.
      associations:
        type: object
        description: This field contains associations related to the category.
        properties:
          categories:
            type: array
            description: List of sub-categories associated with the main category.
            items:
              type: object
              description: Properties related to each sub-category.
              properties:
                id:
                  type:
                    - "null"
                    - string
                  description: The unique identifier for the category.
      date_add:
        type:
          - "null"
          - string
        description: The date and time when the category was added.
        format: date-time
      date_upd:
        type:
          - "null"
          - string
        description: The date and time when the category was last updated.
        format: date-time
      id:
        type:
          - "null"
          - integer
        description: The unique identifier for the category.
      id_parent:
        type:
          - "null"
          - string
        description: The identifier of the parent category.
      id_shop_default:
        type:
          - "null"
          - string
        description: The default shop identifier for the category.
      is_root_category:
        type:
          - "null"
          - string
[...]
