version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    # todo this should be replaced with the Sites stream once it is migrated
    - search_analytics_by_country_stream

spec:
  documentationUrl: "https://docs.airbyte.com/integrations/sources/google-search-console"
  connectionSpecification:
    $schema: "http://json-schema.org/draft-07/schema#"
    title: "Google Search Console Spec"
    type: "object"
    required: ["site_urls", "authorization"]
    properties:
      site_urls:
        type: "array"
        items:
          type: "string"
        title: "Website URL Property"
        description: 'The URLs of the website property attached to your GSC account. Learn more about properties <a href="https://support.google.com/webmasters/answer/34592?hl=en">here</a>.'
        examples: ["https://example1.com/", "sc-domain:example2.com"]
        order: 0
      start_date:
        type: "string"
        title: "Start Date"
        description: "UTC date in the format YYYY-MM-DD. Any data before this date will not be replicated."
        default: "2021-01-01"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        pattern_descriptor: "YYYY-MM-DD"
        always_show: true
        order: 1
        format: "date"
      end_date:
        type: "string"
        title: "End Date"
        description: "UTC date in the format YYYY-MM-DD. Any data created after this date will not be replicated. Must be greater or equal to the start date field. Leaving this field blank will replicate all data from the start date onward."
        examples: ["2021-12-12"]
        pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        pattern_descriptor: "YYYY-MM-DD"
        order: 2
        format: "date"
      authorization:
        type: "object"
        title: "Authentication Type"
        description: ""
        order: 3
        oneOf:
          - title: "OAuth"
            type: "object"
            required:
              - "auth_type"
              - "client_id"
              - "client_secret"
              - "refresh_token"
            properties:
              auth_type:
                type: "string"
                const: "Client"
                order: 0
              client_id:
                title: "Client ID"
                type: "string"
                description: 'The client ID of your Google Search Console developer application. Read more <a href="https://developers.google.com/webmaster-tools/v1/how-tos/authorizing">here</a>.'
                airbyte_secret: true
              client_secret:
                title: "Client Secret"
                type: "string"
                description: 'The client secret of your Google Search Console developer application. Read more <a href="https://developers.google.com/webmaster-tools/v1/how-tos/authorizing">here</a>.'
                airbyte_secret: true
              access_token:
                title: "Access Token"
                type: "string"
                description: 'Access token for making authenticated requests. Read more <a href="https://developers.google.com/webmaster-tools/v1/how-tos/authorizing">here</a>.'
                airbyte_secret: true
              refresh_token:
                title: "Refresh Token"
                type: "string"
                description: 'The token for obtaining a new access token. Read more <a href="https://developers.google.com/webmaster-tools/v1/how-tos/authorizing">here</a>.'
                airbyte_secret: true
          - type: "object"
            title: "Service Account Key Authentication"
            required: ["auth_type", "service_account_info", "email"]
            properties:
              auth_type:
                type: "string"
                const: "Service"
                order: 0
              service_account_info:
                title: "Service Account JSON Key"
                type: "string"
                description: 'The JSON key of the service account to use for authorization. Read more <a href="https://cloud.google.com/iam/docs/creating-managing-service-account-keys">here</a>.'
                examples:
                  - '{ "type": "service_account", "project_id": YOUR_PROJECT_ID, "private_key_id": YOUR_PRIVATE_KEY, ... }'
                airbyte_secret: true
              email:
                title: "Admin Email"
                type: "string"
                description: "The email of the user which has permissions to access the Google Workspace Admin APIs."
      custom_reports:
        order: 4
        type: "string"
        title: "Custom Reports"
        airbyte_hidden: true
        description: "(DEPRCATED) A JSON array describing the custom reports you want to sync from Google Search Console. See our <a href='https://docs.airbyte.com/integrations/sources/google-search-console'>documentation</a> for more information on formulating custom reports."
      custom_reports_array:
        title: "Custom Reports"
        description: "You can add your Custom Analytics report by creating one."
        order: 5
        type: "array"
        items:
          title: "Custom Report Config"
          type: "object"
          properties:
            name:
              title: "Name"
              description: "The name of the custom report, this name would be used as stream name"
              type: "string"
            dimensions:
              title: "Dimensions"
              description: "A list of available dimensions. Please note, that for technical reasons `date` is the default dimension which will be included in your query whether you specify it or not. Primary key will consist of your custom dimensions and the default dimension along with `site_url` and `search_type`."
              type: "array"
              items:
                title: "ValidEnums"
                description: "An enumeration of dimensions."
                enum: ["country", "date", "device", "page", "query"]
              default: ["date"]
              minItems: 0
          required: ["name", "dimensions"]
      data_state:
        type: "string"
        title: "Data Freshness"
        enum: ["final", "all"]
        description: "If set to 'final', the returned data will include only finalized, stable data. If set to 'all', fresh data will be included. When using Incremental sync mode, we do not recommend setting this parameter to 'all' as it may cause data loss. More information can be found in our <a href='https://docs.airbyte.com/integrations/source/google-search-console'>full documentation</a>."
        examples: ["final", "all"]
        default: "final"
        order: 6
  advanced_auth:
    auth_flow_type: "oauth2.0"
    predicate_key: ["authorization", "auth_type"]
    predicate_value: "Client"
    oauth_config_specification:
      complete_oauth_output_specification:
        type: "object"
        properties:
          access_token:
            type: "string"
            path_in_connector_config: ["authorization", "access_token"]
          refresh_token:
            type: "string"
            path_in_connector_config: ["authorization", "refresh_token"]
      complete_oauth_server_input_specification:
        type: "object"
        properties:
          client_id:
            type: "string"
          client_secret:
            type: "string"
      complete_oauth_server_output_specification:
        type: "object"
        properties:
          client_id:
            type: "string"
            path_in_connector_config: ["authorization", "client_id"]
          client_secret:
            type: "string"
            path_in_connector_config: ["authorization", "client_secret"]
  config_normalization_rules:
    config_migrations:
      - type: ConfigMigration
        description: "Migrate the custom_reports config to the new custom_reports_array format"
        transformations:
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: "custom_reports_array"
                value: "{{ json.loads(config.get('custom_reports')) }}"
                condition: "{{ isinstance(config.get('custom_reports'), str)  }}"
              - type: AddedFieldDefinition
                path: "custom_reports_array"
                value: "{{ config.get('custom_reports') }}"
                condition: "{{ isinstance(config.get('custom_reports'), list) }}"
    validations:
      - type: DpathValidator
        field_path: ["custom_reports_array"]
        validation_strategy:
          - type: ValidateAdheresToSchema
            base_schema:
              type: array
              items:
                type: object
                required:
                  - name
                  - dimensions
                properties:
                  dimensions:
                    type: array
                    items:
                      type: string
                      minLength: 1
                  name:
                    type: string
                    minLength: 1
      - type: DpathValidator
        field_path: ["custom_reports_array", "*", "dimensions"]
        validation_strategy:
          - type: ValidateAdheresToSchema
            base_schema:
              country:
                - country:
                    type:
                      - "null"
                      - string
              date:
                - date:
                    format: date
                    type:
                      - "null"
                      - string
              device:
                - device:
                    type:
                      - "null"
                      - string
              page:
                - page:
                    type:
                      - "null"
                      - string
              query:
                - query:
                    type:
                      - "null"
                      - string

definitions:
  search_analytics_by_country_stream:
    type: DeclarativeStream
    name: search_analytics_by_country
    primary_key:
      - site_url
      - date
      - country
      - search_type
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://www.googleapis.com/webmasters/v3
        path: "/sites/{{stream_partition.get('site_url')}}/searchAnalytics/query"
        http_method: POST
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: startRow
            inject_into: request_body
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25000
            inject_on_first_request: true
        request_headers:
          Content-Type: "application/json"
        request_body_json:
          startDate: "{{ stream_interval.get('start_time') }}"
          endDate: "{{ stream_interval.get('end_time') }}"
          dimensions: ["date", "country"]
          type: "{{ stream_partition.get('search_type') }}"
          aggregationType: auto
          rowLimit: "25000"
          dataState: "{{ config.get('data_state', 'final') }}"
        # Currently relying on the default error handler behavior. Two pieces of functionality not covered are
        # - Silently skipping over 403 permissions errors and relying on partial success reporting
        # - Retrying 400 errors with aggregation_type=auto instead of failing outright
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - rows
      partition_router:
        - type: ListPartitionRouter
          values: "{{ config['site_urls'] }}"
          cursor_field: site_url
        - type: ListPartitionRouter
          values:
            - web
            - news
            - image
            - video
            - discover
            - googleNews
          cursor_field: search_type
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      cursor_datetime_formats:
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', '2021-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('end_date', today_utc()) }}"
        datetime_format: "%Y-%m-%d"
      step: P3D
      cursor_granularity: P1D
    transformations:
      - type: CustomTransformation
        class_name: source_google_search_console.components.GoogleSearchConsoleInjectTransformedSiteUrlAndDimensions
        dimensions:
          - web
          - news
          - image
          - video
          - discover
          - googleNews
      - type: AddFields
        fields:
          - path:
              - search_type
            value: "{{ stream_partition['search_type'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/search_analytics_by_country"

streams:
  - "#/definitions/search_analytics_by_country_stream"

schemas:
  search_analytics_by_country:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    properties:
      site_url:
        description: The URL of the site for which the search analytics data is being reported.
        type:
          - "null"
          - string
      search_type:
        description: >-
          The type of search (web search, image search, video search, etc.) for
          which the data is being reported.
        type:
          - "null"
          - string
      date:
        description: The date for which the search analytics data is being reported.
        type:
          - "null"
          - string
        format: date
      country:
        description: The country for which the search analytics data is being reported.
        type:
          - "null"
          - string
      clicks:
        description: >-
          The number of times users clicked on the search result for a specific
          country.
        type:
          - "null"
          - integer
      impressions:
        description: >-
          The total number of times a search result was shown in search results for
          a specific country.
        type:
          - "null"
          - integer
      ctr:
        description: >-
          The click-through rate, i.e., the ratio of clicks to impressions for a
          specific country.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
      position:
        description: >-
          The average position at which the site's search result appeared for a
          specific country.
        type:
          - "null"
          - number
        multipleOf: 1.e-25
