version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - user
definitions:
  streams:
    user:
      type: DeclarativeStream
      name: user
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.clickup.com/api/v2/
          authenticator:
            type: ApiKeyAuthenticator
            header: Authorization
            api_token: "{{ config['api_token'] }}"
          path: user
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 500
                    error_message: Something wrong with API, Please recheck all ids
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            color:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            profilePicture:
              type:
                - "null"
                - string
            username:
              type:
                - "null"
                - string
    team:
      type: DeclarativeStream
      name: team
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.clickup.com/api/v2/
          authenticator:
            type: ApiKeyAuthenticator
            header: Authorization
            api_token: "{{ config['api_token'] }}"
          path: team
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 500
                    error_message: Something wrong with API, Please recheck all ids
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            avatar:
              type:
                - "null"
                - string
            color:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            members:
              type: array
              items:
                type: object
                properties:
                  color:
                    type:
                      - "null"
                      - string
                  id:
                    type:
                      - "null"
                      - integer
                  profilePicture:
                    type:
                      - "null"
                      - string
                  username:
                    type:
                      - "null"
                      - string
            name:
              type:
                - "null"
                - string
    list:
      type: DeclarativeStream
      name: list
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.clickup.com/api/v2/
          authenticator:
            type: ApiKeyAuthenticator
            header: Authorization
            api_token: "{{ config['api_token'] }}"
          path: folder/{{ stream_partition['folder_id'] }}/list
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 500
                    error_message: Something wrong with API, Please recheck all ids
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lists
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: folder_id
              stream:
                type: DeclarativeStream
                name: folder
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.clickup.com/api/v2/
                    authenticator:
                      type: ApiKeyAuthenticator
                      header: Authorization
                      api_token: "{{ config['api_token'] }}"
                    path: space/{{ stream_partition['space_id'] }}/folder
                    http_method: GET
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 500
                              error_message:
                                Something wrong with API, Please recheck all
                                ids
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 404
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - folders
                  partition_router:
                    type: SubstreamPartitionRouter
                    parent_stream_configs:
                      - type: ParentStreamConfig
                        parent_key: id
                        partition_field: space_id
                        stream:
                          type: DeclarativeStream
                          name: space
                          primary_key:
                            - id
                          retriever:
                            type: SimpleRetriever
                            requester:
                              type: HttpRequester
                              url_base: https://api.clickup.com/api/v2/
                              authenticator:
                                type: ApiKeyAuthenticator
                                header: Authorization
                                api_token: "{{ config['api_token'] }}"
                              path: team/{{ stream_partition['team_id'] }}/space
                              http_method: GET
                              error_handler:
                                type: CompositeErrorHandler
                                error_handlers:
                                  - type: DefaultErrorHandler
                                    response_filters:
                                      - type: HttpResponseFilter
                                        action: IGNORE
                                        http_codes:
                                          - 500
                                        error_message:
                                          Something wrong with API, Please recheck
                                          all ids
                                  - type: DefaultErrorHandler
                                    response_filters:
                                      - type: HttpResponseFilter
                                        action: IGNORE
                                        http_codes:
                                          - 404
                            record_selector:
                              type: RecordSelector
                              extractor:
                                type: DpathExtractor
                                field_path:
                                  - spaces
                            partition_router:
                              type: SubstreamPartitionRouter
                              parent_stream_configs:
                                - type: ParentStreamConfig
                                  parent_key: id
                                  partition_field: team_id
                                  stream:
                                    type: DeclarativeStream
                                    name: team
                                    primary_key:
                                      - id
                                    retriever:
                                      type: SimpleRetriever
                                      requester:
                                        type: HttpRequester
                                        url_base: https://api.clickup.com/api/v2/
                                        authenticator:
                                          type: ApiKeyAuthenticator
                                          header: Authorization
                                          api_token: "{{ config['api_token'] }}"
                                        path: team
                                        http_method: GET
                                        error_handler:
                                          type: CompositeErrorHandler
                                          error_handlers:
                                            - type: DefaultErrorHandler
                                              response_filters:
                                                - type: HttpResponseFilter
                                                  action: IGNORE
                                                  http_codes:
                                                    - 500
                                                  error_message:
                                                    Something wrong with API, Please
                                                    recheck all ids
                                            - type: DefaultErrorHandler
                                              response_filters:
                                                - type: HttpResponseFilter
                                                  action: IGNORE
                                                  http_codes:
                                                    - 404
                                      record_selector:
                                        type: RecordSelector
                                        extractor:
                                          type: DpathExtractor
                                          field_path:
                                            - teams
                                    schema_loader:
                                      type: InlineSchemaLoader
                                      schema:
                                        type: object
                                        $schema: http://json-schema.org/draft-07/schema#
                                        additionalProperties: true
                                        properties:
                                          avatar:
                                            type:
                                              - "null"
                                              - string
                                          color:
                                            type:
                                              - "null"
                                              - string
                                          id:
                                            type:
                                              - "null"
                                              - string
                                          members:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                color:
                                                  type:
                                                    - "null"
                                                    - string
                                                id:
                                                  type:
                                                    - "null"
                                                    - integer
                                                profilePicture:
                                                  type:
                                                    - "null"
                                                    - string
                                                username:
                                                  type:
                                                    - "null"
                                                    - string
                                          name:
                                            type:
                                              - "null"
                                              - string
                          schema_loader:
                            type: InlineSchemaLoader
                            schema:
                              type: object
                              $schema: http://json-schema.org/draft-07/schema#
                              additionalProperties: true
                              properties:
                                assignees:
                                  type:
                                    - "null"
                                    - array
                                  items:
                                    type:
                                      - "null"
                                      - object
                                features:
                                  type:
                                    - "null"
                                    - object
                                  properties:
                                    checklists:
                                      type:
                                        - "null"
                                        - object
                                      properties:
                                        enabled:
                                          type:
                                            - "null"
                                            - boolean
                                    due_dates:
                                      type:
                                        - "null"
                                        - object
                                      properties:
                                        enabled:
                                          type:
                                            - "null"
                                            - boolean
                                        remap_closed_due_date:
                                          type:
                                            - "null"
                                            - boolean
                                        remap_due_dates:
                                          type:
                                            - "null"
                                            - boolean
                                        start_date:
                                          type:
                                            - "null"
                                            - boolean
                                    tags:
                                      type:
                                        - "null"
                                        - object
                                      properties:
                                        enabled:
                                          type:
                                            - "null"
                                            - boolean
                                    time_estimates:
                                      type:
                                        - "null"
                                        - object
                                      properties:
                                        enabled:
                                          type:
                                            - "null"
                                            - boolean
                                    time_tracking:
                                      type:
                                        - "null"
                                        - object
                                      properties:
                                        enabled:
                                          type:
                                            - "null"
                                            - boolean
                                id:
                                  type:
                                    - "null"
                                    - string
                                multiple_assignees:
                                  type:
                                    - "null"
                                    - boolean
                                name:
                                  type:
                                    - "null"
                                    - string
                                private:
                                  type:
                                    - "null"
                                    - boolean
                                statuses:
                                  type:
                                    - "null"
                                    - array
                                  items:
                                    type:
                                      - "null"
                                      - object
                                    properties:
                                      type:
                                        type:
                                          - "null"
                                          - string
                                      color:
                                        type:
                                          - "null"
                                          - string
                                      orderindex:
                                        type:
                                          - "null"
                                          - integer
                                      status:
                                        type:
                                          - "null"
                                          - string
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      hidden:
                        type:
                          - "null"
                          - boolean
                      id:
                        type:
                          - "null"
                          - string
                      lists:
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - object
                      name:
                        type:
                          - "null"
                          - string
                      orderindex:
                        type:
                          - "null"
                          - integer
                      override_statuses:
                        type:
                          - "null"
                          - boolean
                      space:
                        type:
                          - "null"
                          - object
                        properties:
                          access:
                            type:
                              - "null"
                              - boolean
                          id:
                            type:
                              - "null"
                              - string
                          name:
                            type:
                              - "null"
                              - string
                      task_count:
                        type:
                          - "null"
                          - string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            archived:
              type:
                - "null"
                - boolean
            assignee:
              type:
                - "null"
                - string
            content:
              type:
                - "null"
                - string
            due_date:
              type:
                - "null"
                - string
            folder:
              type:
                - "null"
                - object
              properties:
                access:
                  type:
                    - "null"
                    - boolean
                hidden:
                  type:
                    - "null"
                    - boolean
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            orderindex:
              type:
                - "null"
                - integer
            override_statuses:
              type:
                - "null"
                - boolean
            permission_level:
              type:
                - "null"
                - string
            priority:
              type:
                - "null"
                - string
            space:
              type:
                - "null"
                - object
              properties:
                access:
                  type:
                    - "null"
                    - boolean
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            start_date:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
                - object
            task_count:
              type:
                - "null"
                - integer
    space:
      type: DeclarativeStream
      name: space
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.clickup.com/api/v2/
          authenticator:
            type: ApiKeyAuthenticator
            header: Authorization
            api_token: "{{ config['api_token'] }}"
          path: team/{{ stream_partition['team_id'] }}/space
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 500
                    error_message: Something wrong with API, Please recheck all ids
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - spaces
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                type: DeclarativeStream
                name: team
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.clickup.com/api/v2/
                    authenticator:
                      type: ApiKeyAuthenticator
                      header: Authorization
                      api_token: "{{ config['api_token'] }}"
                    path: team
                    http_method: GET
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 500
                              error_message:
                                Something wrong with API, Please recheck all
                                ids
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 404
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - teams
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      avatar:
                        type:
                          - "null"
                          - string
                      color:
                        type:
                          - "null"
                          - string
                      id:
                        type:
                          - "null"
                          - string
                      members:
                        type: array
                        items:
                          type: object
                          properties:
                            color:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - integer
                            profilePicture:
                              type:
                                - "null"
                                - string
                            username:
                              type:
                                - "null"
                                - string
                      name:
                        type:
                          - "null"
                          - string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            assignees:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
            features:
              type:
                - "null"
                - object
              properties:
                checklists:
                  type:
                    - "null"
                    - object
                  properties:
                    enabled:
                      type:
                        - "null"
                        - boolean
                due_dates:
                  type:
                    - "null"
                    - object
                  properties:
                    enabled:
                      type:
                        - "null"
                        - boolean
                    remap_closed_due_date:
                      type:
                        - "null"
                        - boolean
                    remap_due_dates:
                      type:
                        - "null"
                        - boolean
                    start_date:
                      type:
                        - "null"
                        - boolean
                tags:
                  type:
                    - "null"
                    - object
                  properties:
                    enabled:
                      type:
                        - "null"
                        - boolean
                time_estimates:
                  type:
                    - "null"
                    - object
                  properties:
                    enabled:
                      type:
                        - "null"
                        - boolean
                time_tracking:
                  type:
                    - "null"
                    - object
                  properties:
                    enabled:
                      type:
                        - "null"
                        - boolean
            id:
              type:
                - "null"
                - string
            multiple_assignees:
              type:
                - "null"
                - boolean
            name:
              type:
                - "null"
                - string
            private:
              type:
                - "null"
                - boolean
            statuses:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  type:
                    type:
                      - "null"
                      - string
                  color:
                    type:
                      - "null"
                      - string
                  orderindex:
                    type:
                      - "null"
                      - integer
                  status:
                    type:
                      - "null"
                      - string
    folder:
      type: DeclarativeStream
      name: folder
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.clickup.com/api/v2/
          authenticator:
            type: ApiKeyAuthenticator
            header: Authorization
            api_token: "{{ config['api_token'] }}"
          path: space/{{ stream_partition['space_id'] }}/folder
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 500
                    error_message: Something wrong with API, Please recheck all ids
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - folders
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: space_id
              stream:
                type: DeclarativeStream
                name: space
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.clickup.com/api/v2/
                    authenticator:
                      type: ApiKeyAuthenticator
                      header: Authorization
                      api_token: "{{ config['api_token'] }}"
                    path: team/{{ stream_partition['team_id'] }}/space
                    http_method: GET
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 500
                              error_message:
                                Something wrong with API, Please recheck all
                                ids
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 404
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - spaces
                  partition_router:
                    type: SubstreamPartitionRouter
                    parent_stream_configs:
                      - type: ParentStreamConfig
                        parent_key: id
                        partition_field: team_id
                        stream:
                          type: DeclarativeStream
                          name: team
                          primary_key:
                            - id
                          retriever:
                            type: SimpleRetriever
                            requester:
                              type: HttpRequester
                              url_base: https://api.clickup.com/api/v2/
                              authenticator:
                                type: ApiKeyAuthenticator
                                header: Authorization
                                api_token: "{{ config['api_token'] }}"
                              path: team
                              http_method: GET
                              error_handler:
                                type: CompositeErrorHandler
                                error_handlers:
                                  - type: DefaultErrorHandler
                                    response_filters:
                                      - type: HttpResponseFilter
                                        action: IGNORE
                                        http_codes:
                                          - 500
                                        error_message:
                                          Something wrong with API, Please recheck
                                          all ids
                                  - type: DefaultErrorHandler
                                    response_filters:
                                      - type: HttpResponseFilter
                                        action: IGNORE
                                        http_codes:
                                          - 404
                            record_selector:
                              type: RecordSelector
                              extractor:
                                type: DpathExtractor
                                field_path:
                                  - teams
                          schema_loader:
                            type: InlineSchemaLoader
                            schema:
                              type: object
                              $schema: http://json-schema.org/draft-07/schema#
                              additionalProperties: true
                              properties:
                                avatar:
                                  type:
                                    - "null"
                                    - string
                                color:
                                  type:
                                    - "null"
                                    - string
                                id:
                                  type:
                                    - "null"
                                    - string
                                members:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      color:
                                        type:
                                          - "null"
                                          - string
                                      id:
                                        type:
                                          - "null"
                                          - integer
                                      profilePicture:
                                        type:
                                          - "null"
                                          - string
                                      username:
                                        type:
                                          - "null"
                                          - string
                                name:
                                  type:
                                    - "null"
                                    - string
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      assignees:
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - object
                      features:
                        type:
                          - "null"
                          - object
                        properties:
                          checklists:
                            type:
                              - "null"
                              - object
                            properties:
                              enabled:
                                type:
                                  - "null"
                                  - boolean
                          due_dates:
                            type:
                              - "null"
                              - object
                            properties:
                              enabled:
                                type:
                                  - "null"
                                  - boolean
                              remap_closed_due_date:
                                type:
                                  - "null"
                                  - boolean
                              remap_due_dates:
                                type:
                                  - "null"
                                  - boolean
                              start_date:
                                type:
                                  - "null"
                                  - boolean
                          tags:
                            type:
                              - "null"
                              - object
                            properties:
                              enabled:
                                type:
                                  - "null"
                                  - boolean
                          time_estimates:
                            type:
                              - "null"
                              - object
                            properties:
                              enabled:
                                type:
                                  - "null"
                                  - boolean
                          time_tracking:
                            type:
                              - "null"
                              - object
                            properties:
                              enabled:
                                type:
                                  - "null"
                                  - boolean
                      id:
                        type:
                          - "null"
                          - string
                      multiple_assignees:
                        type:
                          - "null"
                          - boolean
                      name:
                        type:
                          - "null"
                          - string
                      private:
                        type:
                          - "null"
                          - boolean
                      statuses:
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            type:
                              type:
                                - "null"
                                - string
                            color:
                              type:
                                - "null"
                                - string
                            orderindex:
                              type:
                                - "null"
                                - integer
                            status:
                              type:
                                - "null"
                                - string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            hidden:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - string
            lists:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
            name:
              type:
                - "null"
                - string
            orderindex:
              type:
                - "null"
                - integer
            override_statuses:
              type:
                - "null"
                - boolean
            space:
              type:
                - "null"
                - object
              properties:
                access:
                  type:
                    - "null"
                    - boolean
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            task_count:
              type:
                - "null"
                - string
    task:
      type: DeclarativeStream
      name: task
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.clickup.com/api/v2/
          authenticator:
            type: ApiKeyAuthenticator
            header: Authorization
            api_token: "{{ config['api_token'] }}"
          path: list/{{ stream_partition['list_id'] }}/task
          http_method: GET
          request_parameters:
            include_closed: "{{ config['include_closed_tasks']|lower }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 500
                    error_message: Something wrong with API, Please recheck all ids
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: list_id
              stream:
                type: DeclarativeStream
                name: list
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.clickup.com/api/v2/
                    authenticator:
                      type: ApiKeyAuthenticator
                      header: Authorization
                      api_token: "{{ config['api_token'] }}"
                    path: folder/{{ stream_partition['folder_id'] }}/list
                    http_method: GET
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 500
                              error_message:
                                Something wrong with API, Please recheck all
                                ids
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 404
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - lists
                  partition_router:
                    type: SubstreamPartitionRouter
                    parent_stream_configs:
                      - type: ParentStreamConfig
                        parent_key: id
                        partition_field: folder_id
                        stream:
                          type: DeclarativeStream
                          name: folder
                          primary_key:
                            - id
                          retriever:
                            type: SimpleRetriever
                            requester:
                              type: HttpRequester
                              url_base: https://api.clickup.com/api/v2/
                              authenticator:
                                type: ApiKeyAuthenticator
                                header: Authorization
                                api_token: "{{ config['api_token'] }}"
                              path: space/{{ stream_partition['space_id'] }}/folder
                              http_method: GET
                              error_handler:
                                type: CompositeErrorHandler
                                error_handlers:
                                  - type: DefaultErrorHandler
                                    response_filters:
                                      - type: HttpResponseFilter
                                        action: IGNORE
                                        http_codes:
                                          - 500
                                        error_message:
                                          Something wrong with API, Please recheck
                                          all ids
                                  - type: DefaultErrorHandler
                                    response_filters:
                                      - type: HttpResponseFilter
                                        action: IGNORE
                                        http_codes:
                                          - 404
                            record_selector:
                              type: RecordSelector
                              extractor:
                                type: DpathExtractor
                                field_path:
                                  - folders
                            partition_router:
                              type: SubstreamPartitionRouter
                              parent_stream_configs:
                                - type: ParentStreamConfig
                                  parent_key: id
                                  partition_field: space_id
                                  stream:
                                    type: DeclarativeStream
                                    name: space
                                    primary_key:
                                      - id
                                    retriever:
                                      type: SimpleRetriever
                                      requester:
                                        type: HttpRequester
                                        url_base: https://api.clickup.com/api/v2/
                                        authenticator:
                                          type: ApiKeyAuthenticator
                                          header: Authorization
                                          api_token: "{{ config['api_token'] }}"
                                        path: team/{{ stream_partition['team_id'] }}/space
                                        http_method: GET
                                        error_handler:
                                          type: CompositeErrorHandler
                                          error_handlers:
                                            - type: DefaultErrorHandler
                                              response_filters:
                                                - type: HttpResponseFilter
                                                  action: IGNORE
                                                  http_codes:
                                                    - 500
                                                  error_message:
                                                    Something wrong with API, Please
                                                    recheck all ids
                                            - type: DefaultErrorHandler
                                              response_filters:
                                                - type: HttpResponseFilter
                                                  action: IGNORE
                                                  http_codes:
                                                    - 404
                                      record_selector:
                                        type: RecordSelector
                                        extractor:
                                          type: DpathExtractor
                                          field_path:
                                            - spaces
                                      partition_router:
                                        type: SubstreamPartitionRouter
                                        parent_stream_configs:
                                          - type: ParentStreamConfig
                                            parent_key: id
                                            partition_field: team_id
                                            stream:
                                              type: DeclarativeStream
                                              name: team
                                              primary_key:
                                                - id
                                              retriever:
                                                type: SimpleRetriever
                                                requester:
                                                  type: HttpRequester
                                                  url_base: https://api.clickup.com/api/v2/
                                                  authenticator:
                                                    type: ApiKeyAuthenticator
                                                    header: Authorization
                                                    api_token: "{{ config['api_token'] }}"
                                                  path: team
                                                  http_method: GET
                                                  error_handler:
                                                    type: CompositeErrorHandler
                                                    error_handlers:
                                                      - type: DefaultErrorHandler
                                                        response_filters:
                                                          - type: HttpResponseFilter
                                                            action: IGNORE
                                                            http_codes:
                                                              - 500
                                                            error_message:
                                                              Something wrong with
                                                              API, Please recheck all ids
                                                      - type: DefaultErrorHandler
                                                        response_filters:
                                                          - type: HttpResponseFilter
                                                            action: IGNORE
                                                            http_codes:
                                                              - 404
                                                record_selector:
                                                  type: RecordSelector
                                                  extractor:
                                                    type: DpathExtractor
                                                    field_path:
                                                      - teams
                                              schema_loader:
                                                type: InlineSchemaLoader
                                                schema:
                                                  type: object
                                                  $schema: http://json-schema.org/draft-07/schema#
                                                  additionalProperties: true
                                                  properties:
                                                    avatar:
                                                      type:
                                                        - "null"
                                                        - string
                                                    color:
                                                      type:
                                                        - "null"
                                                        - string
                                                    id:
                                                      type:
                                                        - "null"
                                                        - string
                                                    members:
                                                      type: array
                                                      items:
                                                        type: object
                                                        properties:
                                                          color:
                                                            type:
                                                              - "null"
                                                              - string
                                                          id:
                                                            type:
                                                              - "null"
                                                              - integer
                                                          profilePicture:
                                                            type:
                                                              - "null"
                                                              - string
                                                          username:
                                                            type:
                                                              - "null"
                                                              - string
                                                    name:
                                                      type:
                                                        - "null"
                                                        - string
                                    schema_loader:
                                      type: InlineSchemaLoader
                                      schema:
                                        type: object
                                        $schema: http://json-schema.org/draft-07/schema#
                                        additionalProperties: true
                                        properties:
                                          assignees:
                                            type:
                                              - "null"
                                              - array
                                            items:
                                              type:
                                                - "null"
                                                - object
                                          features:
                                            type:
                                              - "null"
                                              - object
                                            properties:
                                              checklists:
                                                type:
                                                  - "null"
                                                  - object
                                                properties:
                                                  enabled:
                                                    type:
                                                      - "null"
                                                      - boolean
                                              due_dates:
                                                type:
                                                  - "null"
                                                  - object
                                                properties:
                                                  enabled:
                                                    type:
                                                      - "null"
                                                      - boolean
                                                  remap_closed_due_date:
                                                    type:
                                                      - "null"
                                                      - boolean
                                                  remap_due_dates:
                                                    type:
                                                      - "null"
                                                      - boolean
                                                  start_date:
                                                    type:
                                                      - "null"
                                                      - boolean
                                              tags:
                                                type:
                                                  - "null"
                                                  - object
                                                properties:
                                                  enabled:
                                                    type:
                                                      - "null"
                                                      - boolean
                                              time_estimates:
                                                type:
                                                  - "null"
                                                  - object
                                                properties:
                                                  enabled:
                                                    type:
                                                      - "null"
                                                      - boolean
                                              time_tracking:
                                                type:
                                                  - "null"
                                                  - object
                                                properties:
                                                  enabled:
                                                    type:
                                                      - "null"
                                                      - boolean
                                          id:
                                            type:
                                              - "null"
                                              - string
                                          multiple_assignees:
                                            type:
                                              - "null"
                                              - boolean
                                          name:
                                            type:
                                              - "null"
                                              - string
                                          private:
                                            type:
                                              - "null"
                                              - boolean
                                          statuses:
                                            type:
                                              - "null"
                                              - array
                                            items:
                                              type:
                                                - "null"
                                                - object
                                              properties:
                                                type:
                                                  type:
                                                    - "null"
                                                    - string
                                                color:
                                                  type:
                                                    - "null"
                                                    - string
                                                orderindex:
                                                  type:
                                                    - "null"
                                                    - integer
                                                status:
                                                  type:
                                                    - "null"
                                                    - string
                          schema_loader:
                            type: InlineSchemaLoader
                            schema:
                              type: object
                              $schema: http://json-schema.org/draft-07/schema#
                              additionalProperties: true
                              properties:
                                hidden:
                                  type:
                                    - "null"
                                    - boolean
                                id:
                                  type:
                                    - "null"
                                    - string
                                lists:
                                  type:
                                    - "null"
                                    - array
                                  items:
                                    type:
                                      - "null"
                                      - object
                                name:
                                  type:
                                    - "null"
                                    - string
                                orderindex:
                                  type:
                                    - "null"
                                    - integer
                                override_statuses:
                                  type:
                                    - "null"
                                    - boolean
                                space:
                                  type:
                                    - "null"
                                    - object
                                  properties:
                                    access:
                                      type:
                                        - "null"
                                        - boolean
                                    id:
                                      type:
                                        - "null"
                                        - string
                                    name:
                                      type:
                                        - "null"
                                        - string
                                task_count:
                                  type:
                                    - "null"
                                    - string
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      archived:
                        type:
                          - "null"
                          - boolean
                      assignee:
                        type:
                          - "null"
                          - string
                      content:
                        type:
                          - "null"
                          - string
                      due_date:
                        type:
                          - "null"
                          - string
                      folder:
                        type:
                          - "null"
                          - object
                        properties:
                          access:
                            type:
                              - "null"
                              - boolean
                          hidden:
                            type:
                              - "null"
                              - boolean
                          id:
                            type:
                              - "null"
                              - string
                          name:
                            type:
                              - "null"
                              - string
                      id:
                        type:
                          - "null"
                          - string
                      name:
                        type:
                          - "null"
                          - string
                      orderindex:
                        type:
                          - "null"
                          - integer
                      override_statuses:
                        type:
                          - "null"
                          - boolean
                      permission_level:
                        type:
                          - "null"
                          - string
                      priority:
                        type:
                          - "null"
                          - string
                      space:
                        type:
                          - "null"
                          - object
                        properties:
                          access:
                            type:
                              - "null"
                              - boolean
                          id:
                            type:
                              - "null"
                              - string
                          name:
                            type:
                              - "null"
                              - string
                      start_date:
                        type:
                          - "null"
                          - string
                      status:
                        type:
                          - "null"
                          - string
                          - object
                      task_count:
                        type:
                          - "null"
                          - integer
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            assignees:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
            checklists:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
            creator:
              type:
                - "null"
                - object
              properties:
                color:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - integer
                profilePicture:
                  type:
                    - "null"
                    - string
                username:
                  type:
                    - "null"
                    - string
            date_closed:
              type:
                - "null"
                - string
            date_created:
              type:
                - "null"
                - string
            date_updated:
              type:
                - "null"
                - string
            due_date:
              type:
                - "null"
                - string
            folder:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - string
            id:
              type:
                - "null"
                - string
            list:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
            name:
              type:
                - "null"
                - string
            orderindex:
              type:
                - "null"
                - string
            parent:
              type:
                - "null"
                - string
            priority:
              type:
                - "null"
                - object
            space:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
            start_date:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                color:
                  type:
                    - "null"
                    - string
                orderindex:
                  type:
                    - "null"
                    - integer
                status:
                  type:
                    - "null"
                    - string
            tags:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
            time_estimate:
              type:
                - "null"
                - string
            time_spent:
              type:
                - "null"
                - string
            url:
              type:
                - "null"
                - string
    time_tracking_tags:
      type: DeclarativeStream
      name: time_tracking_tags
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.clickup.com/api/v2/
          authenticator:
            type: ApiKeyAuthenticator
            header: Authorization
            api_token: "{{ config['api_token'] }}"
          path: team/{{ stream_partition['team_id']}}/time_entries/tags
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 500
                    error_message: Something wrong with API, Please recheck all ids
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                type: DeclarativeStream
                name: team
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.clickup.com/api/v2/
                    authenticator:
                      type: ApiKeyAuthenticator
                      header: Authorization
                      api_token: "{{ config['api_token'] }}"
                    path: team
                    http_method: GET
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 500
                              error_message:
                                Something wrong with API, Please recheck all
                                ids
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 404
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - teams
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      avatar:
                        type:
                          - "null"
                          - string
                      color:
                        type:
                          - "null"
                          - string
                      id:
                        type:
                          - "null"
                          - string
                      members:
                        type: array
                        items:
                          type: object
                          properties:
                            color:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - integer
                            profilePicture:
                              type:
                                - "null"
                                - string
                            username:
                              type:
                                - "null"
                                - string
                      name:
                        type:
                          - "null"
                          - string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            creator:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            tag_bg:
              type:
                - string
                - "null"
            tag_fg:
              type:
                - string
                - "null"
            team_id:
              type:
                - string
                - "null"
    time_tracking:
      type: DeclarativeStream
      name: time_tracking
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.clickup.com/api/v2/
          authenticator:
            type: ApiKeyAuthenticator
            header: Authorization
            api_token: "{{ config['api_token'] }}"
          path: task/{{ stream_partition['task_id'] }}/time
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 500
                    error_message: Something wrong with API, Please recheck all ids
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: task_id
              stream:
                type: DeclarativeStream
                name: task
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.clickup.com/api/v2/
                    authenticator:
                      type: ApiKeyAuthenticator
                      header: Authorization
                      api_token: "{{ config['api_token'] }}"
                    path: list/{{ stream_partition['list_id'] }}/task
                    http_method: GET
                    request_parameters:
                      include_closed: "{{ config['include_closed_tasks']|lower }}"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 500
                              error_message:
                                Something wrong with API, Please recheck all
                                ids
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 404
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - tasks
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestOption
                      inject_into: request_parameter
                      field_name: page
                    page_size_option:
                      type: RequestOption
                      field_name: page_size
                      inject_into: request_parameter
                    pagination_strategy:
                      type: OffsetIncrement
                      page_size: 1
                  partition_router:
                    type: SubstreamPartitionRouter
                    parent_stream_configs:
                      - type: ParentStreamConfig
                        parent_key: id
                        partition_field: list_id
                        stream:
                          type: DeclarativeStream
                          name: list
                          primary_key:
                            - id
                          retriever:
                            type: SimpleRetriever
                            requester:
                              type: HttpRequester
                              url_base: https://api.clickup.com/api/v2/
                              authenticator:
                                type: ApiKeyAuthenticator
                                header: Authorization
                                api_token: "{{ config['api_token'] }}"
                              path: folder/{{ stream_partition['folder_id'] }}/list
                              http_method: GET
                              error_handler:
                                type: CompositeErrorHandler
                                error_handlers:
                                  - type: DefaultErrorHandler
                                    response_filters:
                                      - type: HttpResponseFilter
                                        action: IGNORE
                                        http_codes:
                                          - 500
                                        error_message:
                                          Something wrong with API, Please recheck
                                          all ids
                                  - type: DefaultErrorHandler
                                    response_filters:
                                      - type: HttpResponseFilter
                                        action: IGNORE
                                        http_codes:
                                          - 404
                            record_selector:
                              type: RecordSelector
                              extractor:
                                type: DpathExtractor
                                field_path:
                                  - lists
                            partition_router:
                              type: SubstreamPartitionRouter
                              parent_stream_configs:
                                - type: ParentStreamConfig
                                  parent_key: id
                                  partition_field: folder_id
                                  stream:
                                    type: DeclarativeStream
                                    name: folder
                                    primary_key:
                                      - id
                                    retriever:
                                      type: SimpleRetriever
                                      requester:
                                        type: HttpRequester
                                        url_base: https://api.clickup.com/api/v2/
                                        authenticator:
                                          type: ApiKeyAuthenticator
                                          header: Authorization
                                          api_token: "{{ config['api_token'] }}"
                                        path: space/{{ stream_partition['space_id'] }}/folder
                                        http_method: GET
                                        error_handler:
                                          type: CompositeErrorHandler
                                          error_handlers:
                                            - type: DefaultErrorHandler
                                              response_filters:
                                                - type: HttpResponseFilter
                                                  action: IGNORE
                                                  http_codes:
                                                    - 500
                                                  error_message:
                                                    Something wrong with API, Please
                                                    recheck all ids
                                            - type: DefaultErrorHandler
                                              response_filters:
                                                - type: HttpResponseFilter
                                                  action: IGNORE
                                                  http_codes:
                                                    - 404
                                      record_selector:
                                        type: RecordSelector
                                        extractor:
                                          type: DpathExtractor
                                          field_path:
                                            - folders
                                      partition_router:
                                        type: SubstreamPartitionRouter
                                        parent_stream_configs:
                                          - type: ParentStreamConfig
                                            parent_key: id
                                            partition_field: space_id
                                            stream:
                                              type: DeclarativeStream
                                              name: space
                                              primary_key:
                                                - id
                                              retriever:
                                                type: SimpleRetriever
                                                requester:
                                                  type: HttpRequester
                                                  url_base: https://api.clickup.com/api/v2/
                                                  authenticator:
                                                    type: ApiKeyAuthenticator
                                                    header: Authorization
                                                    api_token: "{{ config['api_token'] }}"
                                                  path:
                                                    team/{{ stream_partition['team_id']
                                                    }}/space
                                                  http_method: GET
                                                  error_handler:
                                                    type: CompositeErrorHandler
                                                    error_handlers:
                                                      - type: DefaultErrorHandler
                                                        response_filters:
                                                          - type: HttpResponseFilter
                                                            action: IGNORE
                                                            http_codes:
                                                              - 500
                                                            error_message:
                                                              Something wrong with
                                                              API, Please recheck all ids
                                                      - type: DefaultErrorHandler
                                                        response_filters:
                                                          - type: HttpResponseFilter
                                                            action: IGNORE
                                                            http_codes:
                                                              - 404
                                                record_selector:
                                                  type: RecordSelector
                                                  extractor:
                                                    type: DpathExtractor
                                                    field_path:
                                                      - spaces
                                                partition_router:
                                                  type: SubstreamPartitionRouter
                                                  parent_stream_configs:
                                                    - type: ParentStreamConfig
                                                      parent_key: id
                                                      partition_field: team_id
                                                      stream:
                                                        type: DeclarativeStream
                                                        name: team
                                                        primary_key:
                                                          - id
                                                        retriever:
                                                          type: SimpleRetriever
                                                          requester:
                                                            type: HttpRequester
                                                            url_base: https://api.clickup.com/api/v2/
                                                            authenticator:
                                                              type: ApiKeyAuthenticator
                                                              header: Authorization
                                                              api_token:
                                                                "{{ config['api_token']
                                                                }}"
                                                            path: team
                                                            http_method: GET
                                                            error_handler:
                                                              type: CompositeErrorHandler
                                                              error_handlers:
                                                                - type: DefaultErrorHandler
                                                                  response_filters:
                                                                    - type: HttpResponseFilter
                                                                      action: IGNORE
                                                                      http_codes:
                                                                        - 500
                                                                      error_message:
                                                                        Something wrong
                                                                        with API, Please recheck
                                                                        all ids
                                                                - type: DefaultErrorHandler
                                                                  response_filters:
                                                                    - type: HttpResponseFilter
                                                                      action: IGNORE
                                                                      http_codes:
                                                                        - 404
                                                          record_selector:
                                                            type: RecordSelector
                                                            extractor:
                                                              type: DpathExtractor
                                                              field_path:
                                                                - teams
                                                        schema_loader:
                                                          type: InlineSchemaLoader
                                                          schema:
                                                            type: object
                                                            $schema: http://json-schema.org/draft-07/schema#
                                                            additionalProperties: true
                                                            properties:
                                                              avatar:
                                                                type:
                                                                  - "null"
                                                                  - string
[...]
