@use "../../../../../scss/variables" as vars;
@use "../../../../../scss/colors";

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: vars.$spacing-sm;
}

.spinner {
  text-align: center;
}

.google {
  background: colors.$white;
  border: 1px solid colors.$grey-300;
}

.github {
  /* stylelint-disable-next-line color-no-hex */
  background: #333;
  color: colors.$white;
  border: none;
}

.google,
.github {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: vars.$spacing-sm auto;
  padding: vars.$spacing-md;
  gap: vars.$spacing-md;
  border-radius: vars.$border-radius-sm;
  transition: all vars.$transition;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 1px 3px rgba(53, 53, 66, 20%), 0 1px 2px rgba(53, 53, 66, 12%), 0 1px 1px rgba(53, 53, 66, 14%);
  }

  & > img {
    height: 24px;
  }
}

.error {
  margin-top: vars.$spacing-lg;
  color: colors.$red;
}
