version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - fonts

definitions:
  streams:
    fonts:
      type: DeclarativeStream
      name: fonts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /webfonts?key={{ config['api_key'] }}&sort={{ config['sort'] or
            'SORT_UNDEFINED'}}&prettyPrint={{ config['prettyPrint'] or 
            'true'}}&alt={{ config['alt'] or 'json'}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fonts"
  base_requester:
    type: HttpRequester
    url_base: https://webfonts.googleapis.com/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: apikey

streams:
  - $ref: "#/definitions/streams/fonts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          API key is required to access google apis, For getting your's goto
          google console and generate api key for Webfonts
        order: 0
      alt:
        type: string
        description: Optional, Available params- json, media, proto
        order: 1
      prettyPrint:
        type: string
        description: Optional, boolean type
        order: 2
      sort:
        type: string
        description: Optional, to find how to sort
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    fonts: false

schemas:
  fonts:
    type: object
    $id: https://example.com/object1666796406.json
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      items:
        type: array
        $id: "#root/items"
        default: []
        description: List of fonts available in the API
        items:
          type: object
          $id: "#root/items/items"
          properties:
            version:
              type: string
              $id: "#root/items/items/version"
              description: Version of the font data
              pattern: ^.*$
              title: Version
            category:
              type: string
              $id: "#root/items/items/category"
              description: The category the font belongs to (e.g. 'sans-serif', 'serif')
              pattern: ^.*$
              title: Category
            family:
              type: string
              $id: "#root/items/items/family"
              description: The name of the font family (e.g. 'Roboto', 'Open Sans')
              pattern: ^.*$
              title: Family
            files:
              type: object
              $id: "#root/items/items/files"
              description: Different file variants available for the font
              properties:
                italic:
                  type: string
                  $id: "#root/items/items/files/italic"
                  description: URL to the italic font file
                  pattern: ^.*$
                  title: Italic
                regular:
                  type: string
                  $id: "#root/items/items/files/regular"
                  description: URL to the regular font file
                  pattern: ^.*$
                  title: Regular
              title: Files
            kind:
              type: string
              $id: "#root/items/items/kind"
              description: The resource kind, should always be 'webfonts#webfont'
              pattern: ^.*$
              title: Kind
            lastModified:
              type: string
              $id: "#root/items/items/lastModified"
              description: Timestamp of the last modification date of the font
              pattern: ^.*$
              title: Lastmodified
            subsets:
              type: array
              $id: "#root/items/items/subsets"
              default: []
              description: List of language subsets supported by the font
              items:
                type: string
                $id: "#root/items/items/subsets/items"
                pattern: ^.*$
                title: Items
              title: Subsets
            variants:
              type: array
              $id: "#root/items/items/variants"
              default: []
              description: Different styles and weights available for the font
              items:
                type: string
                $id: "#root/items/items/variants/items"
                pattern: ^.*$
                title: Items
              title: Variants
          title: Items
        title: Items
      kind:
        type: string
        $id: "#root/kind"
        description: The API resource kind, always set to 'webfonts#webfontList'
        pattern: ^.*$
        title: Kind
    title: Root
