version: 7.0.4

type: DeclarativeSource

description: connects to churnkey to retrieve session details

check:
  type: CheckStream
  stream_names:
    - sessions

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config[\"api_key\"] }}"
        inject_into:
          type: RequestOption
          field_name: x-ck-api-key
          inject_into: header
      request_headers:
        x-ck-app: "{{ config[\"x-ck-app\"] }}"
    SimpleRetriever: {}

streams:
  - type: DeclarativeStream
    name: sessions
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: skip
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 2000
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://api.churnkey.co/v1/data/sessions
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: x-ck-api-key
            inject_into: header
        request_headers:
          x-ck-app: "{{ config[\"x-ck-app\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          __v:
            type:
              - number
              - "null"
          _id:
            type:
              - string
              - "null"
          org:
            type:
              - string
              - "null"
          lang:
            type:
              - string
              - "null"
          mode:
            type:
              - string
              - "null"
          region:
            type:
              - object
              - "null"
            properties:
              clickToCancel:
                type:
                  - boolean
                  - "null"
              matchedRegion:
                type:
                  - string
                  - "null"
              matchedRegionCode:
                type:
                  - string
                  - "null"
              strictFTCCompliance:
                type:
                  - boolean
                  - "null"
          uiLang:
            type:
              - string
              - "null"
          aborted:
            type:
              - boolean
              - "null"
          canceled:
            type:
              - boolean
              - "null"
          customer:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              paused:
                type:
                  - boolean
                  - "null"
              planId:
                type:
                  - string
                  - "null"
              onTrial:
                type:
                  - boolean
                  - "null"
              currency:
                type:
                  - string
                  - "null"
              pauseEnd:
                type:
                  - string
                  - "null"
              trialEnd:
                type:
                  - string
                  - "null"
              planPrice:
                type:
                  - number
                  - "null"
              trialStart:
                type:
                  - string
                  - "null"
              subscriptionId:
                type:
                  - string
                  - "null"
              billingInterval:
                type:
                  - string
                  - "null"
              customAttributes:
                type:
                  - object
                  - "null"
                properties:
                  amountDue:
                    type:
                      - number
                      - "null"
                  amount_due:
                    type:
                      - number
                      - "null"
                  employeeNumber:
                    type:
                      - number
                      - "null"
                  employee_number:
                    type:
                      - string
                      - "null"
                  selfServeCoupon:
                    type:
                      - boolean
                      - "null"
                  self_serve_coupon:
                    type:
                      - boolean
                      - "null"
              subscriptionStart:
                type:
                  - string
                  - "null"
              billingIntervalCount:
                type:
                  - number
                  - "null"
              subscriptionDiscount:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  coupon:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      couponType:
                        type:
                          - string
                          - "null"
                      couponAmount:
                        type:
                          - number
                          - "null"
                      couponDuration:
                        type:
                          - number
                          - "null"
              subscriptionPeriodEnd:
                type:
                  - string
                  - "null"
              subscriptionPeriodStart:
                type:
                  - string
                  - "null"
              latestDiscountExpiration:
                type:
                  - string
                  - "null"
          feedback:
            type:
              - string
              - "null"
          provider:
            type:
              - string
              - "null"
          saveType:
            type:
              - string
              - "null"
          surveyId:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          recording:
            type:
              - string
              - "null"
          segmentId:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - string
              - "null"
          blueprintId:
            type:
              - string
              - "null"
          contentLang:
            type:
              - string
              - "null"
          displayLang:
            type:
              - string
              - "null"
          managedFlow:
            type:
              - boolean
              - "null"
          stepsViewed:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                end:
                  type:
                    - string
                    - "null"
                guid:
                  type:
                    - string
                    - "null"
                start:
                  type:
                    - string
                    - "null"
                duration:
                  type:
                    - number
                    - "null"
                stepType:
                  type:
                    - string
                    - "null"
                numChoices:
                  type:
                    - number
                    - "null"
          detectedLang:
            type:
              - string
              - "null"
          langMismatch:
            type:
              - boolean
              - "null"
          acceptedOffer:
            type:
              - object
              - "null"
            properties:
              guid:
                type:
                  - string
                  - "null"
              couponId:
                type:
                  - string
                  - "null"
              offerType:
                type:
                  - string
                  - "null"
              couponType:
                type:
                  - string
                  - "null"
              autoOptimize:
                type:
                  - boolean
                  - "null"
              couponAmount:
                type:
                  - number
                  - "null"
              pauseDuration:
                type:
                  - number
                  - "null"
              pauseInterval:
                type:
                  - string
                  - "null"
              couponDuration:
                type:
                  - number
                  - "null"
          overriddenLang:
            type:
              - string
              - "null"
          surveyChoiceId:
            type:
              - string
              - "null"
          presentedOffers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                guid:
                  type:
                    - string
                    - "null"
                accepted:
                  type:
                    - boolean
                    - "null"
                offerType:
                  type:
                    - string
                    - "null"
                acceptedAt:
                  type:
                    - string
                    - "null"
                declinedAt:
                  type:
                    - string
                    - "null"
                pauseConfig:
                  type:
                    - object
                    - "null"
                  properties:
                    pauseInterval:
                      type:
                        - string
                        - "null"
                    maxPauseLength:
                      type:
                        - number
                        - "null"
                presentedAt:
                  type:
                    - string
                    - "null"
                surveyOffer:
                  type:
                    - boolean
                    - "null"
                contactConfig:
                  type:
                    - object
                    - "null"
                discountConfig:
                  type:
                    - object
                    - "null"
                  properties:
                    couponId:
                      type:
                        - string
                        - "null"
                    customAmount:
                      type:
                        - number
                        - "null"
                    customDuration:
                      type:
                        - string
                        - "null"
          sentimentScores:
            type:
              - object
              - "null"
            properties:
              reasonA:
                type:
                  - object
                  - "null"
                properties:
                  ease:
                    type:
                      - number
                      - "null"
                  need:
                    type:
                      - number
                      - "null"
                  budget:
                    type:
                      - number
                      - "null"
                  refund:
                    type:
                      - number
                      - "null"
                  feature:
                    type:
                      - number
                      - "null"
                  technical:
                    type:
                      - number
                      - "null"
              reasonB:
                type:
                  - object
                  - "null"
                properties:
                  ease:
                    type:
                      - number
                      - "null"
                  need:
                    type:
                      - number
                      - "null"
                  budget:
                    type:
                      - number
                      - "null"
                  refund:
                    type:
                      - number
                      - "null"
                  feature:
                    type:
                      - number
                      - "null"
                  technical:
                    type:
                      - number
                      - "null"
              emotionA:
                type:
                  - object
                  - "null"
                properties:
                  angry:
                    type:
                      - number
                      - "null"
                  confused:
                    type:
                      - number
                      - "null"
                  grateful:
                    type:
                      - number
                      - "null"
                  practical:
                    type:
                      - number
                      - "null"
              emotionB:
                type:
                  - object
                  - "null"
                properties:
                  angry:
                    type:
                      - number
                      - "null"
                  confused:
                    type:
                      - number
                      - "null"
                  grateful:
                    type:
                      - number
                      - "null"
                  practical:
                    type:
                      - number
                      - "null"
              productA:
                type:
                  - object
                  - "null"
                properties:
                  negative:
                    type:
                      - number
                      - "null"
                  positive:
                    type:
                      - number
                      - "null"
              productB:
                type:
                  - object
                  - "null"
                properties:
                  negative:
                    type:
                      - number
                      - "null"
                  recommend:
                    type:
                      - number
                      - "null"
              productC:
                type:
                  - object
                  - "null"
                properties:
                  poor:
                    type:
                      - number
                      - "null"
                  great:
                    type:
                      - number
                      - "null"
              productD:
                type:
                  - object
                  - "null"
                properties:
                  hate:
                    type:
                      - number
                      - "null"
                  like:
                    type:
                      - number
                      - "null"
                  love:
                    type:
                      - number
                      - "null"
                  dislike:
                    type:
                      - number
                      - "null"
              reactivateA:
                type:
                  - object
                  - "null"
                properties:
                  negative:
                    type:
                      - number
                      - "null"
                  reactivate:
                    type:
                      - number
                      - "null"
              reactivateB:
                type:
                  - object
                  - "null"
                properties:
                  negative:
                    type:
                      - number
                      - "null"
                  reactivate:
                    type:
                      - number
                      - "null"
              subjectiveA:
                type:
                  - object
                  - "null"
                properties:
                  emotional:
                    type:
                      - number
                      - "null"
                  reasonable:
                    type:
                      - number
                      - "null"
          translationType:
            type:
              - string
              - "null"
          feedbackAnalysis:
            type:
              - object
              - "null"
            properties:
              question:
                type:
                  - string
                  - "null"
              response:
                type:
                  - string
                  - "null"
              sessionId:
                type:
                  - string
                  - "null"
              timestamp:
                type:
                  - string
                  - "null"
              feedbackTypes:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    category:
                      type:
                        - string
                        - "null"
                    explanation:
                      type:
                        - string
                        - "null"
              feedbackAnalyzerVersion:
                type:
                  - string
                  - "null"
          followupQuestion:
            type:
              - string
              - "null"
          followupResponse:
            type:
              - string
              - "null"
          recordingEndTime:
            type:
              - string
              - "null"
          surveyChoiceValue:
            type:
              - string
              - "null"
          usedClickToCancel:
            type:
              - boolean
              - "null"
          recordingStartTime:
            type:
              - string
              - "null"
          customActionHandler:
            type:
              - string
              - "null"
          autoOptimizationUsed:
            type:
              - boolean
              - "null"
          clickToCancelEnabled:
            type:
              - boolean
              - "null"
          pauseCooldownApplied:
            type:
              - boolean
              - "null"
          discountCooldownApplied:
            type:
              - boolean
              - "null"
          strictFTCComplianceEnabled:
            type:
              - boolean
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields: []
  - type: DeclarativeStream
    name: session-aggregation
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.churnkey.co/v1/data/session-aggregation
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: x-ck-api-key
            inject_into: header
        request_headers:
          x-ck-app: "{{ config[\"x-ck-app\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          count:
            type:
              - number
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - x-ck-app
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      x-ck-app:
        type: string
        order: 1
        title: App ID
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    sessions:
      isStale: false
      hasRecords: true
      streamHash: 5b76ba04b7a920bc1bfcc76b7307554e4e6d5d82
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    session-aggregation:
      hasRecords: true
      streamHash: 506fb1749310093d231e442b2e1b11e48899974c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    sessions: true
    session-aggregation: true
  applied_migrations:
    - migration: HttpRequesterUrlBaseToUrl
      to_version: "*"
      migrated_at: "2025-10-16T15:54:28.150156+00:00"
      from_version: 6.1.0
    - migration: HttpRequesterPathToUrl
      to_version: "*"
      migrated_at: "2025-10-16T15:54:28.150599+00:00"
      from_version: 6.1.0

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
