@use "scss/variables";

.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  min-height: 32px;
}

.actions {
  display: flex;
  gap: variables.$spacing-md;
}

.footer {
  padding-top: variables.$spacing-xl;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:export {
  syncIconHeight: 15px;
}
