@use "scss/colors";
@use "scss/variables";

.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.actions {
  display: flex;

  .resetButton,
  .syncButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .resetButton {
    margin-right: variables.$spacing-md;
  }

  .syncButton {
    .iconRotate {
      display: flex;
      margin-right: 12px;
      align-items: center;
    }
  }
}

.footer {
  padding-top: variables.$spacing-xl;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:export {
  syncIconHeight: 15px;
}
