version: 6.41.5

type: DeclarativeSource

description: |-
  Website: https://dashboard.dwolla.com/
  API Reference: https://developers.dwolla.com/docs

check:
  type: CheckStream
  stream_names:
    - customers

definitions:
  streams:
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers
          http_method: GET
          request_headers:
            Accept: application/vnd.dwolla.v1.hal+json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - customers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    funding_sources:
      type: DeclarativeStream
      name: funding_sources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers/{{ stream_partition['cus_id'] }}/funding-sources
          http_method: GET
          request_headers:
            Accept: application/vnd.dwolla.v1.hal+json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - funding-sources
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: cus_id
              stream:
                $ref: "#/definitions/streams/customers"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/funding_sources"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /events
          http_method: GET
          request_headers:
            Accept: application/vnd.dwolla.v1.hal+json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    exchange_partners:
      type: DeclarativeStream
      name: exchange_partners
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /exchange-partners
          http_method: GET
          request_headers:
            Accept: application/vnd.dwolla.v1.hal+json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - exchange-partners
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/exchange_partners"
    business-classifications:
      type: DeclarativeStream
      name: business-classifications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /business-classifications
          http_method: GET
          request_headers:
            Accept: application/vnd.dwolla.v1.hal+json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - business-classifications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('_links', {}).get('next', {}).get('href') }}"
            stop_condition: "{{ response.get('_links', {}).get('next') is none }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/business-classifications"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['environment'] }}.dwolla.com
    authenticator:
      type: OAuthAuthenticator
      refresh_request_body: {}
      token_refresh_endpoint: https://{{ config['environment'] }}.dwolla.com/token
      client_id: "{{ config[\"client_id\"] }}"
      client_secret: "{{ config[\"client_secret\"] }}"
      grant_type: client_credentials

streams:
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/funding_sources"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/exchange_partners"
  - $ref: "#/definitions/streams/business-classifications"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - environment
      - start_date
    properties:
      client_id:
        type: string
        title: Client ID
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        title: Client secret
        airbyte_secret: true
        order: 1
      environment:
        type: string
        description: The environment for the Dwolla API, either 'api-sandbox' or 'api'.
        title: Environment
        default: api
        enum:
          - api
          - api-sandbox
        order: 2
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    customers: true
    funding_sources: true
    events: true
    exchange_partners: true
    business-classifications: true
  testedStreams:
    customers:
      streamHash: e0dabdd86e2ecdbad9d031c7c08a6addb9fcddb1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    funding_sources:
      streamHash: c1b9b54aef4c4dff39b36107409c1ed3d9afedcd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: 712841dc709ddfd5f9b9fbddf18a2b65e6faa5c0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    exchange_partners:
      streamHash: 53f5c1ad20745fc1ceaf95b503bab199c34fae3f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    business-classifications:
      streamHash: 45fdba00ced5bec4fa2c8d2e3123de1f46ac5ccc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.dwolla.com/

schemas:
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          deactivate:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          edit:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          edit-form:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          funding-sources:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          receive:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          transfers:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
      businessName:
        type:
          - string
          - "null"
      created:
        type: string
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: string
      lastName:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - created
  funding_sources:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          customer:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          initiate-micro-deposits:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          remove:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          transfer-from-balance:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          transfer-receive:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
      bankAccountType:
        type:
          - string
          - "null"
      bankName:
        type:
          - string
          - "null"
      channels:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created:
        type: string
      fingerprint:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      removed:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - created
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _links:
        type:
          - object
          - "null"
        properties:
          account:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          customer:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          resource:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
      created:
        type: string
      id:
        type: string
      resourceId:
        type:
          - string
          - "null"
      topic:
        type:
          - string
          - "null"
    required:
      - id
      - created
  exchange_partners:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _links:
        type:
          - object
          - "null"
        properties:
          funding-source:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
          self:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
      created:
        type: string
      id:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - created
  business-classifications:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _embedded:
        type:
          - object
          - "null"
        properties:
          industry-classifications:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              href:
                type:
                  - string
                  - "null"
              resource-type:
                type:
                  - string
                  - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
