version: 6.48.15

type: DeclarativeSource

description: >-
  Flexible scheduling software to help you succeed

  With seamless client scheduling, secure payments, and workflow automation, all
  you have to do is show up on time.

check:
  type: CheckStream
  stream_names:
    - appointments

definitions:
  streams:
    appointments:
      type: DeclarativeStream
      name: appointments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: appointments
          http_method: GET
          request_parameters:
            max: "100000"
            showall: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: insert_date
        lookback_window: P1W
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: minDate
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - insert_date
              value: "{{ stream_slice.start_time }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/appointments"
    calendars:
      type: DeclarativeStream
      name: calendars
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: calendars
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calendars"
    clients:
      type: DeclarativeStream
      name: clients
      primary_key:
        - email
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: clients
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients"
    appointment-types:
      type: DeclarativeStream
      name: appointment-types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: appointment-types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/appointment-types"
    blocks:
      type: DeclarativeStream
      name: blocks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: blocks
          http_method: GET
          request_parameters:
            max: "10000"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: insert_date
        lookback_window: P1W
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: minDate
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - insert_date
              value: "{{ stream_slice.start_time }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/blocks"
    labels:
      type: DeclarativeStream
      name: labels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: labels
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/labels"
    forms:
      type: DeclarativeStream
      name: forms
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"
  base_requester:
    type: HttpRequester
    url_base: https://acuityscheduling.com/api/v1
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/appointments"
  - $ref: "#/definitions/streams/calendars"
  - $ref: "#/definitions/streams/clients"
  - $ref: "#/definitions/streams/appointment-types"
  - $ref: "#/definitions/streams/blocks"
  - $ref: "#/definitions/streams/labels"
  - $ref: "#/definitions/streams/forms"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - start_date
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      start_date:
        type: string
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    appointments: true
    calendars: true
    clients: true
    appointment-types: true
    blocks: true
    labels: true
    forms: true
  testedStreams:
    appointments:
      streamHash: 583df5d3ff7b1808cfa5e2dd5cf6b6f7b82c3818
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    calendars:
      streamHash: 0f0b6fd2e19930c693406ff8b814bd1b27ebe771
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    clients:
      streamHash: 5b5ad6fd3c8e0552d1082c89924b189a96908dad
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    appointment-types:
      streamHash: 610a45f21f5fc27da24e3a7b38f942772cdb970c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    blocks:
      streamHash: 135acc647612c65d16606b1de8f7c680e1e946b9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    labels:
      streamHash: 8b72b44745acf2445c0a67a3515991dbb2bfb318
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    forms:
      streamHash: 2b13ee3df2f1f1b2a30171de8f1d826865690b96
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  appointments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      addonIDs:
        type:
          - array
          - "null"
      amountPaid:
        type:
          - string
          - "null"
      appointmentTypeID:
        type:
          - number
          - "null"
      calendar:
        type:
          - string
          - "null"
      calendarID:
        type:
          - number
          - "null"
      calendarTimezone:
        type:
          - string
          - "null"
      canClientCancel:
        type:
          - boolean
          - "null"
      canClientReschedule:
        type:
          - boolean
          - "null"
      canceled:
        type:
          - boolean
          - "null"
      category:
        type:
          - string
          - "null"
      confirmationPage:
        type:
          - string
          - "null"
      confirmationPagePaymentLink:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      dateCreated:
        type:
          - string
          - "null"
      datetime:
        type:
          - string
          - "null"
      datetimeCreated:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      endTime:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      forms:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            values:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  fieldID:
                    type:
                      - number
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
      formsText:
        type:
          - string
          - "null"
      id:
        type: number
      insert_date:
        type: string
      lastName:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      paid:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      priceSold:
        type:
          - string
          - "null"
      time:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - id
      - insert_date
  calendars:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: number
      image:
        type:
          - boolean
          - "null"
      location:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      replyTo:
        type:
          - string
          - "null"
      thumbnail:
        type:
          - boolean
          - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - id
  clients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      email:
        type: string
      firstName:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
    required:
      - email
  appointment-types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      active:
        type:
          - boolean
          - "null"
      addonIDs:
        type:
          - array
          - "null"
      calendarIDs:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      category:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      duration:
        type:
          - number
          - "null"
      formIDs:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      id:
        type: number
      image:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      paddingAfter:
        type:
          - number
          - "null"
      paddingBefore:
        type:
          - number
          - "null"
      price:
        type:
          - string
          - "null"
      private:
        type:
          - boolean
          - "null"
      schedulingUrl:
        type:
          - string
          - "null"
    required:
      - id
  blocks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      calendarID:
        type:
          - number
          - "null"
      calendarTimezone:
        type:
          - string
          - "null"
      end:
        type:
          - string
          - "null"
      id:
        type: number
      insert_date:
        type: string
      managed:
        type:
          - boolean
          - "null"
      notes:
        type:
          - string
          - "null"
      serviceGroupID:
        type:
          - number
          - "null"
      start:
        type:
          - string
          - "null"
    required:
      - id
      - insert_date
  labels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      color:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  forms:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      appointmentTypeIDs:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      fields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            lines:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            required:
              type:
                - boolean
                - "null"
      hidden:
        type:
          - boolean
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
