version: 5.15.0

type: DeclarativeSource

description: >-
  The Airbyte Jotform connector allows users to seamlessly sync and integrate
  data from Jotform into their preferred data warehouse or analytics platform.
  This connector efficiently extracts form responses, submission metadata, and
  form details, enabling automated data pipelines for improved reporting and
  analysis. It simplifies data consolidation, enhances workflow automation, and
  supports real-time data updates from Jotform into various destinations
  supported by Airbyte.

check:
  type: CheckStream
  stream_names:
    - forms

definitions:
  streams:
    user:
      type: DeclarativeStream
      name: user
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - content
      primary_key:
        - username
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user"
    forms:
      type: DeclarativeStream
      name: forms
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /user/forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - content
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"
    folders:
      type: DeclarativeStream
      name: folders
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /user/folders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - content
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folders"
    reports:
      type: DeclarativeStream
      name: reports
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /user/reports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - content
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports"
    submissions:
      type: DeclarativeStream
      name: submissions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /user/submissions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - content
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/submissions"
  base_requester:
    type: HttpRequester
    url_base: https://api.jotform.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: APIKEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/forms"
  - $ref: "#/definitions/streams/user"
  - $ref: "#/definitions/streams/submissions"
  - $ref: "#/definitions/streams/folders"
  - $ref: "#/definitions/streams/reports"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: API key to use. Find it at https://www.jotform.com/myaccount/api
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://api.jotform.com/docs
  testedStreams:
    user:
      hasRecords: true
      streamHash: 28c1921bdee43fd58ca90901454ca3574713972f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    forms:
      hasRecords: true
      streamHash: 1182940fa492cf76b36b415b379d3f1f34c22498
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    folders:
      hasRecords: true
      streamHash: 3bffac8f42ace6d912daf20f65741861344969be
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    reports:
      hasRecords: true
      streamHash: 563d53fe1a3487c8ffab81503a379f63bda447e9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    submissions:
      hasRecords: true
      streamHash: a3ccad7e64093854d94ee8d3aa55afd2c10ed4c6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    user: true
    forms: true
    folders: true
    reports: true
    submissions: true

schemas:
  user:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - username
    properties:
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      usage:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      username:
        type: string
      allowSign:
        type:
          - boolean
          - "null"
      avatarUrl:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      allowBoards:
        type:
          - boolean
          - "null"
      allowDigest:
        type:
          - boolean
          - "null"
      is_verified:
        type:
          - string
          - "null"
      account_type:
        type:
          - string
          - "null"
      defaultTheme:
        type:
          - string
          - "null"
      is2FAEnabled:
        type:
          - boolean
          - "null"
      allowPrefills:
        type:
          - boolean
          - "null"
      teamsBetaUser:
        type:
          - string
          - "null"
      allowConditionsV2:
        type:
          - boolean
          - "null"
      allowEncryptionV2:
        type:
          - boolean
          - "null"
      allowMixedListing:
        type:
          - boolean
          - "null"
      allowNewCondition:
        type:
          - boolean
          - "null"
      disableViewLimits:
        type:
          - boolean
          - "null"
      inputTableBetaUser:
        type:
          - string
          - "null"
      new_users_campaign:
        type:
          - string
          - "null"
      showJotFormPowered:
        type:
          - string
          - "null"
      formListingsTestUser:
        type:
          - string
          - "null"
      isNewSMTPFlowEnabled:
        type:
          - boolean
          - "null"
      allowWorkflowFeatures:
        type:
          - boolean
          - "null"
      isFormBuilderNewShare:
        type:
          - boolean
          - "null"
      loginToGetSubmissions:
        type:
          - string
          - "null"
      allowAIAgentFormFiller:
        type:
          - boolean
          - "null"
      formCopilotExistingUsers:
        type:
          - string
          - "null"
      loginToViewSubmissionRSS:
        type:
          - string
          - "null"
      loginToViewUploadedFiles:
        type:
          - string
          - "null"
      allowAutoDeleteSubmissions:
        type:
          - boolean
          - "null"
      paymentReusableConnections:
        type:
          - string
          - "null"
      isInputTableBetaUserEnabled:
        type:
          - boolean
          - "null"
      paymentNewProductManagement:
        type:
          - boolean
          - "null"
      paymentReusableConnectionTest:
        type:
          - string
          - "null"
      allowPaymentReusableForEnterprise:
        type:
          - boolean
          - "null"
      isAppPushNotificationsBetaUserEnabled:
        type:
          - boolean
          - "null"
    additionalProperties: true
  forms:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      new:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      count:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      height:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      archived:
        type:
          - string
          - "null"
      favorite:
        type:
          - string
          - "null"
      username:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    additionalProperties: true
  folders:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      path:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      forms:
        type:
          - object
          - "null"
        properties:
          "243002605565449":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              new:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              count:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
              height:
                type:
                  - string
                  - "null"
              status:
                type:
                  - string
                  - "null"
              archived:
                type:
                  - string
                  - "null"
              favorite:
                type:
                  - string
                  - "null"
              username:
                type:
                  - string
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              last_submission:
                type:
                  - string
                  - "null"
      owner:
        type:
          - string
          - "null"
      parent:
        type:
          - string
          - "null"
      subfolders:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            path:
              type:
                - string
                - "null"
            color:
              type:
                - string
                - "null"
            forms:
              type:
                - array
                - "null"
            owner:
              type:
                - string
                - "null"
            parent:
              type:
                - string
                - "null"
            subfolders:
              type:
                - array
                - "null"
    additionalProperties: true
  reports:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      url:
        type:
          - string
          - "null"
      share:
        type:
          - object
          - "null"
        properties:
          shareLink:
            type:
              - string
              - "null"
          sharedWith:
            type:
              - array
              - "null"
          permissions:
            type:
              - array
              - "null"
      title:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      form_id:
        type:
          - string
          - "null"
      form_url:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      form_count:
        type:
          - number
          - "null"
      form_title:
        type:
          - string
          - "null"
      properties:
        type:
          - array
          - "null"
      updated_at:
        type:
          - string
          - "null"
      isProtected:
        type:
          - boolean
          - "null"
      last_submission:
        type:
          - string
          - "null"
    additionalProperties: true
  submissions:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      ip:
        type:
          - string
          - "null"
      new:
        type:
          - string
          - "null"
      flag:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      answers:
        type:
          - object
          - "null"
        properties:
          "1":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
          "3":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
              answer:
                type:
                  - object
                  - "null"
                properties:
                  last:
                    type:
                      - string
                      - "null"
                  first:
                    type:
                      - string
                      - "null"
              sublabels:
                type:
                  - string
                  - "null"
              prettyFormat:
                type:
                  - string
                  - "null"
          "4":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
              answer:
                type:
                  - object
                  - "null"
                properties:
                  full:
                    type:
                      - string
                      - "null"
              inputMask:
                type:
                  - string
                  - "null"
              sublabels:
                type:
                  - string
                  - "null"
              countryCode:
                type:
                  - string
                  - "null"
              prettyFormat:
                type:
                  - string
                  - "null"
              inputMaskValue:
                type:
                  - string
                  - "null"
          "5":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
              answer:
                type:
                  - string
                  - "null"
          "6":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
              answer:
                type:
                  - object
                  - "null"
                properties:
                  city:
                    type:
                      - string
                      - "null"
                  state:
                    type:
                      - string
                      - "null"
                  postal:
                    type:
                      - string
                      - "null"
                  addr_line1:
                    type:
                      - string
                      - "null"
                  addr_line2:
                    type:
                      - string
                      - "null"
              sublabels:
                type:
                  - string
                  - "null"
              prettyFormat:
                type:
                  - string
                  - "null"
          "10":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
          "11":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
              answer:
                type:
                  - string
                  - "null"
          "12":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
              answer:
                type:
                  - object
                  - "null"
                properties:
                  day:
                    type:
                      - string
                      - "null"
                  min:
                    type:
                      - string
                      - "null"
                  ampm:
                    type:
                      - string
                      - "null"
                  hour:
                    type:
                      - string
                      - "null"
                  year:
                    type:
                      - string
                      - "null"
                  month:
                    type:
                      - string
                      - "null"
                  datetime:
                    type:
                      - string
                      - "null"
                  timeInput:
                    type:
                      - string
                      - "null"
              sublabels:
                type:
                  - string
                  - "null"
              timeFormat:
                type:
                  - string
                  - "null"
              prettyFormat:
                type:
                  - string
                  - "null"
          "13":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
              answer:
                type:
                  - object
                  - "null"
                properties:
                  date:
                    type:
                      - string
                      - "null"
                  duration:
                    type:
                      - string
                      - "null"
                  timezone:
                    type:
                      - string
                      - "null"
              timeFormat:
                type:
                  - string
                  - "null"
              prettyFormat:
                type:
                  - string
                  - "null"
          "14":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              text:
                type:
                  - string
                  - "null"
              order:
                type:
                  - string
                  - "null"
      form_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
    additionalProperties: true
