version: "5.10.0"
type: DeclarativeSource

# ---------------------------------------------------------------------------
# bol.com Retailer API v10 — custom Airbyte source.
# Auth: OAuth2 client_credentials at https://login.bol.com/token, credentials in
#       the request body (verified accepted by Bol). OAuthAuthenticator refreshes.
# All retailer endpoints require Accept: application/vnd.retailer.v10+json.
# Tokens live ~5 minutes (expires_in: 299); the authenticator refreshes on expiry.
# Pagination: ?page=N (1-indexed). Bol returns an empty array when past end.
# Rate limit: 4 req/s — DefaultPaginator handles this implicitly.
# ---------------------------------------------------------------------------

definitions:

  # ----- Auth -----
  bol_authenticator:
    # Bol accepts client_credentials with the creds in the token-request body
    # (verified against login.bol.com). OAuthAuthenticator sends them that way and
    # self-refreshes on the 299s expires_in. Requires airbyte-cdk >= 7.23 for the
    # client_credentials grant to thread config correctly.
    type: OAuthAuthenticator
    token_refresh_endpoint: "https://login.bol.com/token"
    client_id: "{{ config['client_id'] }}"
    client_secret: "{{ config['client_secret'] }}"
    grant_type: "client_credentials"
    access_token_name: "access_token"
    expires_in_name: "expires_in"

  # ----- Pagination -----
  # Bol uses ?page=N (1-indexed). No total-count header; stop on empty array.
  bol_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: PageIncrement
      page_size: 50
      start_from_page: 1
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page

  # ----- Shared requester -----
  bol_requester:
    type: HttpRequester
    url_base: "https://api.bol.com/retailer"
    http_method: GET
    authenticator:
      $ref: "#/definitions/bol_authenticator"
    request_headers:
      Accept: "application/vnd.retailer.v10+json"
    error_handler:
      type: DefaultErrorHandler
      response_filters:
        - http_codes: [429]
          action: RETRY
        - http_codes: [500, 502, 503, 504]
          action: RETRY
      backoff_strategies:
        # Bol sends Retry-After on 429 — honor it instead of exponential guessing
        # (factor-5 exponential made rate-limited runs crawl: 5s, 25s, 125s...).
        - type: WaitTimeFromHeader
          header: "Retry-After"
        - type: ExponentialBackoffStrategy
          factor: 2

  # ----- Stream skeleton (composed per stream below) -----
  base_stream:
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/bol_requester"
      paginator:
        $ref: "#/definitions/bol_paginator"

streams:

  # ===== orders (incremental) =====
  # Bol's only server-side change filter: ?latest-change-date=YYYY-MM-DD returns
  # orders changed ON THAT EXACT DAY (verified live 2026-08-05: 07-01 → 3 orders,
  # 08-04 → 4; NOT cumulative — the earlier ">= date" reading was wrong and made
  # step P3M silently skip every day but the window start). Therefore step P1D:
  # one request per day from the cursor to now. The API rejects dates older than
  # 3 months, so the start is floored at now-89d (min_datetime). The change
  # timestamp lives per-item (orderItems[].latestChangedDateTime); we hoist the
  # max to order level via a transformation and use that as the cursor.
  - $ref: "#/definitions/base_stream"
    name: orders
    primary_key: orderId
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/bol_requester"
        path: "/orders"
        request_parameters:
          status: "ALL"
          fulfilment-method: "ALL"
      paginator:
        $ref: "#/definitions/bol_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["orders"]
    transformations:
      - type: AddFields
        fields:
          - path: ["latestChangedDateTime"]
            # Hoist the max item change date to order level; fall back to the order
            # placed date if orderItems is null/empty or all timestamps are missing,
            # so one malformed order can't abort the stream.
            value: "{{ (record['orderItems'] or []) | map(attribute='latestChangedDateTime') | select | list | max | default(record['orderPlacedDateTime'], true) }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: latestChangedDateTime
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}T00:00:00Z"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        # Floor at now-89d: Bol rejects latest-change-date older than 3 months.
        min_datetime: "{{ day_delta(-89, format='%Y-%m-%dT%H:%M:%SZ') }}"
      start_time_option:
        type: RequestOption
        field_name: latest-change-date
        inject_into: request_parameter
      step: P1D
      cursor_granularity: P1D
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          orderId: { type: ["null", "string"] }
          orderPlacedDateTime: { type: ["null", "string"], format: "date-time" }
          latestChangedDateTime: { type: ["null", "string"], format: "date-time" }
          orderItems:
            type: ["null", "array"]
            items:
              type: object
              additionalProperties: true
              properties:
                orderItemId: { type: ["null", "string"] }
                ean: { type: ["null", "string"] }
                fulfilmentMethod: { type: ["null", "string"] }
                fulfilmentStatus: { type: ["null", "string"] }
                quantity: { type: ["null", "integer"] }
                quantityShipped: { type: ["null", "integer"] }
                quantityCancelled: { type: ["null", "integer"] }
                latestChangedDateTime: { type: ["null", "string"], format: "date-time" }

  # ===== orders_fbb (filtered parent for order_details) =====
  # Same endpoint/cursor as `orders`, but only orders with at least one
  # FBB/LvB item. Exists solely to bound order_details volume: FBR (own
  # warehouse) order money already lives in the seller's own system, while
  # LvB orders exist ONLY here — those are the ones that need prices. A
  # busy seller (~24 orders/day) needs ~2,100 detail calls per 89-day
  # backfill against the strict /orders/{id} rate limit, which blows past
  # platform sync timeouts; the FBB subset stays small.
  - $ref: "#/definitions/base_stream"
    name: orders_fbb
    primary_key: orderId
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/bol_requester"
        path: "/orders"
        request_parameters:
          status: "ALL"
          fulfilment-method: "FBB"
      paginator:
        $ref: "#/definitions/bol_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["orders"]
    transformations:
      - type: AddFields
        fields:
          - path: ["latestChangedDateTime"]
            value: "{{ (record['orderItems'] or []) | map(attribute='latestChangedDateTime') | select | list | max | default(record['orderPlacedDateTime'], true) }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: latestChangedDateTime
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}T00:00:00Z"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        min_datetime: "{{ day_delta(-89, format='%Y-%m-%dT%H:%M:%SZ') }}"
      start_time_option:
        type: RequestOption
        field_name: latest-change-date
        inject_into: request_parameter
      step: P1D
      cursor_granularity: P1D
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          orderId: { type: ["null", "string"] }
          orderPlacedDateTime: { type: ["null", "string"], format: "date-time" }
          latestChangedDateTime: { type: ["null", "string"], format: "date-time" }
          orderItems:
            type: ["null", "array"]
            items: { type: object, additionalProperties: true }

  # ===== order_details (substream of orders_fbb) =====
  # GET /orders/{orderId} — the LIST endpoint returns no money fields; only the
  # detail endpoint carries orderItems[].unitPrice + commission. Parent is the
  # FBB-only stream (see above): LvB orders are the only ones whose revenue
  # exists nowhere else. One call per changed FBB parent (incremental_dependency
  # follows the parent cursor). No pagination: the endpoint returns one object.
  - $ref: "#/definitions/base_stream"
    name: order_details
    primary_key: orderId
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/bol_requester"
        path: "/orders/{{ stream_partition.order_id }}"
      paginator:
        type: NoPagination
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: orderId
            partition_field: order_id
            incremental_dependency: true
            stream:
              $ref: "#/streams/1"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          orderId: { type: ["null", "string"] }
          orderPlacedDateTime: { type: ["null", "string"], format: "date-time" }
          shipmentDetails:
            type: ["null", "object"]
            additionalProperties: true
          billingDetails:
            type: ["null", "object"]
            additionalProperties: true
          pickupPoint: { type: ["null", "boolean"] }
          orderItems:
            type: ["null", "array"]
            items:
              type: object
              additionalProperties: true
              properties:
                orderItemId: { type: ["null", "string"] }
                cancellationRequest: { type: ["null", "boolean"] }
                fulfilment:
                  type: ["null", "object"]
                  additionalProperties: true
                offer:
                  type: ["null", "object"]
                  additionalProperties: true
                product:
                  type: ["null", "object"]
                  additionalProperties: true
                quantity: { type: ["null", "integer"] }
                quantityShipped: { type: ["null", "integer"] }
                quantityCancelled: { type: ["null", "integer"] }
                unitPrice: { type: ["null", "number"] }
                commission: { type: ["null", "number"] }

  # ===== shipments =====
  - $ref: "#/definitions/base_stream"
    name: shipments
    primary_key: shipmentId
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/bol_requester"
        path: "/shipments"
      paginator:
        $ref: "#/definitions/bol_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["shipments"]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          shipmentId: { type: ["null", "string"] }
          shipmentDateTime: { type: ["null", "string"], format: "date-time" }
          shipmentReference: { type: ["null", "string"] }
          order:
            type: ["null", "object"]
            additionalProperties: true
          shipmentItems:
            type: ["null", "array"]
            items: { type: object, additionalProperties: true }
          transport:
            type: ["null", "object"]
            additionalProperties: true

  # ===== returns =====
  # No date filter exists; `handled` is required to see both open and closed
  # returns, so we partition over [false, true] and union (dedup on returnId).
  - $ref: "#/definitions/base_stream"
    name: returns
    primary_key: returnId
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/bol_requester"
        path: "/returns"
        request_parameters:
          handled: "{{ stream_partition.handled }}"
      partition_router:
        type: ListPartitionRouter
        cursor_field: handled
        values: ["false", "true"]
      paginator:
        $ref: "#/definitions/bol_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["returns"]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          returnId: { type: ["null", "string"] }
          registrationDateTime: { type: ["null", "string"], format: "date-time" }
          fulfilmentMethod: { type: ["null", "string"] }
          returnItems:
            type: ["null", "array"]
            items: { type: object, additionalProperties: true }

  # ===== inventory =====
  - $ref: "#/definitions/base_stream"
    name: inventory
    primary_key: ean
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/bol_requester"
        path: "/inventory"
      paginator:
        $ref: "#/definitions/bol_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["inventory"]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          ean: { type: ["null", "string"] }
          bsku: { type: ["null", "string"] }
          gradedStock: { type: ["null", "integer"] }
          regularStock: { type: ["null", "integer"] }
          title: { type: ["null", "string"] }

check:
  type: CheckStream
  stream_names: [orders]

spec:
  type: Spec
  connection_specification:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    required: [client_id, client_secret]
    additionalProperties: true
    properties:
      client_id:
        type: string
        title: Client ID
        description: Bol Retailer API client ID (from bol.com seller account → developer keys).
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        title: Client Secret
        description: Bol Retailer API client secret.
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start date
        description: >-
          Earliest order change date to sync for the incremental `orders` stream
          (UTC, YYYY-MM-DD). Bol rejects this filter for dates older than 3 months,
          so the connector floors the effective start at 89 days ago: values older
          than that have no extra effect. Ignored by the full-refresh streams
          (shipments, returns, inventory).
        format: date
        default: "2025-01-01"
        order: 2
