version: 6.60.9

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - actions

definitions:
  linked:
    HttpRequester:
      request_body:
        type: RequestBodyJsonObject
        value:
          fields:
            - budget
            - status
            - name
          end_time: '{{ format_datetime(config[''end_time''], "%Y-%m-%d %H:%M:%S") }}'
          start_time: '{{ format_datetime(config[''start_time''], "%Y-%m-%d %H:%M:%S") }}'
          object_type: AD
          advertiser_id: "'6906633621335998466'"
      authenticator:
        type: ApiKeyAuthenticator
        header: Access-Token
        api_token: '{{ config["api_key"] }}'
      request_headers:
        Content-Type: application/json

streams:
  - type: DeclarativeStream
    name: actions
    retriever:
      type: AsyncRetriever
      decoder:
        type: JsonDecoder
      status_mapping:
        failed:
          - FAILED
        running:
          - PROCESSING
        timeout: []
        completed:
          - SUCCESS
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      status_extractor:
        type: DpathExtractor
        field_path:
          - data
          - status
      polling_requester:
        type: HttpRequester
        url: >-
          https://business-api.tiktok.com/open_api/v1.3/changelog/task/check/?advertiser_id={{
          config['advertiser_id'] }}&task_id={{
          creation_response['data']['task_id'] }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      creation_requester:
        type: HttpRequester
        url: https://business-api.tiktok.com/open_api/v1.3/changelog/task/create/
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            fields:
              - budget
              - status
              - name
            end_time: '{{ format_datetime(config[''end_time''], "%Y-%m-%d %H:%M:%S") }}'
            start_time: '{{ format_datetime(config[''start_time''], "%Y-%m-%d %H:%M:%S") }}'
            object_type: AD
            advertiser_id: "'{{ config['advertiser_id'] }}'"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      download_requester:
        type: HttpRequester
        url: >-
          https://business-api.tiktok.com/open_api/v1.3/changelog/task/download/?advertiser_id={{
          config['advertiser_id'] }}&task_id={{
          creation_response['data']['task_id'] }}&page=1&page_size=50
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      polling_job_timeout: 1
      download_target_extractor:
        type: DpathExtractor
        field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          code:
            type:
              - number
              - "null"
          message:
            type:
              - string
              - "null"
          request_id:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              changelog:
                type:
                  - string
                  - "null"
              status:
                type:
                  - string
                  - "null"
        additionalProperties: true
    transformations: []
    state_migrations: []
  - type: DeclarativeStream
    name: create_report
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://business-api.tiktok.com/open_api/v1.3/changelog/task/create/
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            fields:
              - budget
              - status
              - name
            end_time: '{{ format_datetime(config[''end_time''], "%Y-%m-%d %H:%M:%S") }}'
            start_time: '{{ format_datetime(config[''start_time''], "%Y-%m-%d %H:%M:%S") }}'
            object_type: AD
            advertiser_id: "'{{ config['advertiser_id'] }}'"
        authenticator:
          type: ApiKeyAuthenticator
          header: Access-Token
          api_token: "{{ config['api_key'] }}"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          code:
            type:
              - number
              - "null"
          message:
            type:
              - string
              - "null"
          request_id:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              task_id:
                type:
                  - string
                  - "null"
        additionalProperties: true
    transformations: []
    state_migrations: []
  - type: DeclarativeStream
    name: polling
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: >-
          https://business-api.tiktok.com/open_api/v1.3/changelog/task/check/?advertiser_id={{
          config['advertiser_id'] }}&task_id=7537377142032744464
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          header: Access-Token
          api_token: "{{ config['api_key'] }}"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          code:
            type:
              - number
              - "null"
          message:
            type:
              - string
              - "null"
          request_id:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: download
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: >-
          https://business-api.tiktok.com/open_api/v1.3/changelog/task/download/?advertiser_id={{
          config['advertiser_id']
          }}&task_id=7537377142032744464&page=1&page_size=50
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          header: Access-Token
          api_token: "{{ config['api_key'] }}"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          code:
            type:
              - number
              - "null"
          message:
            type:
              - string
              - "null"
          request_id:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              changelog:
                type:
                  - string
                  - "null"
              status:
                type:
                  - string
                  - "null"
        additionalProperties: true
    transformations: []

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - advertiser_id
      - start_time
      - end_time
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      end_time:
        type: string
        order: 3
        title: end_time
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      start_time:
        type: string
        order: 2
        title: start_time
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      advertiser_id:
        type: string
        order: 1
        title: advertiser_id
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://business-api.tiktok.com/portal/docs?id=1738811145996290
  testedStreams:
    actions:
      isStale: false
      hasRecords: false
      streamHash: 0f99f16f2343169b5f1399600c9cb93e2c1ea125
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
    polling:
      isStale: false
      hasRecords: true
      streamHash: 938119ceca27a9b863e39e916747ae3873f4e2df
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    download:
      isStale: false
      hasRecords: true
      streamHash: 33911ea1a468315ef0aedef6ac34022c8c957523
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    create_report:
      isStale: false
      hasRecords: true
      streamHash: 69d51b02047745ad3abbf3d91e1c57806475eefd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    actions: true
    polling: true
    download: true
    create_report: true
