version: 5.15.0

type: DeclarativeSource

description: " Airbyte connector for[Pabbly Subscriptions Billing](https://www.pabbly.com/subscriptions/) enables seamless data synchronization between Pabbly's subscription management platform and your preferred data warehouse or analytics environment. With this connector, users can automate the extraction of key subscription data—such as customer details, payment transactions, and subscription statuses—allowing for efficient reporting, analysis, and decision-making without manual intervention."

check:
  type: CheckStream
  stream_names:
    - customers

definitions:
  streams:
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    subscriptions:
      type: DeclarativeStream
      name: subscriptions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /subscriptions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscriptions"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    coupons:
      type: DeclarativeStream
      name: coupons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /coupon/{{ stream_partition.product_id }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: product_id
              stream:
                $ref: "#/definitions/streams/products"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/coupons"
    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoices
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"
    payment_methods:
      type: DeclarativeStream
      name: payment_methods
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /paymentmethods/{{ stream_partition.customer_id }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: customer_id
              stream:
                $ref: "#/definitions/streams/customers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payment_methods"
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /transactions/{{ stream_partition.customer_id }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: customer_id
              stream:
                $ref: "#/definitions/streams/customers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
    addons:
      type: DeclarativeStream
      name: addons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /addons/{{ stream_partition.product_id }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: product_id
              stream:
                $ref: "#/definitions/streams/products"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/addons"
    addon_list_category:
      type: DeclarativeStream
      name: addon_list_category
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /addonlistcategory/{{ stream_partition.product_id }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: product_id
              stream:
                $ref: "#/definitions/streams/products"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/addon_list_category"
    licenses:
      type: DeclarativeStream
      name: licenses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/{{ stream_partition.product_id }}/licenses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: product_id
              stream:
                $ref: "#/definitions/streams/products"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/licenses"
    multiplans:
      type: DeclarativeStream
      name: multiplans
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /multiplans
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/multiplans"
    payment_gateways:
      type: DeclarativeStream
      name: payment_gateways
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /paymentgateways
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payment_gateways"
  base_requester:
    type: HttpRequester
    url_base: https://payments.pabbly.com/api/v1
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/subscriptions"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/coupons"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/payment_methods"
  - $ref: "#/definitions/streams/transactions"
  - $ref: "#/definitions/streams/addons"
  - $ref: "#/definitions/streams/addon_list_category"
  - $ref: "#/definitions/streams/licenses"
  - $ref: "#/definitions/streams/multiplans"
  - $ref: "#/definitions/streams/payment_gateways"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    customers: false
    subscriptions: false
    products: false
    coupons: false
    invoices: false
    payment_methods: false
    transactions: false
    addons: false
    addon_list_category: false
    licenses: false
    multiplans: false
    payment_gateways: false
  testedStreams:
    customers:
      hasRecords: true
      streamHash: 8a2d5586eca6d2f854883a2a730a834cd7ae91cb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    subscriptions:
      hasRecords: true
      streamHash: e82b6d74cb53decdb93561da58d1726af488790b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: 1a7b0bf1f09d89a9230ed35d87ec8eae057b2594
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    coupons:
      hasRecords: true
      streamHash: 907564427d8b5cda6e3f83aeca91ff76aaf33e7d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    invoices:
      hasRecords: true
      streamHash: db805e9707d294c1ffac461a63e8e4a1e105450e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    payment_methods:
      hasRecords: true
      streamHash: fc7407d9fb0c78952f0a6c6d787830deb06115f4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transactions:
      hasRecords: true
      streamHash: d6cdad9900b82d0ce8ed9d970a64f7b75ec04c56
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    addons:
      hasRecords: true
      streamHash: f8636943bf47e737f5eedc37664f75df7b3d6153
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    addon_list_category:
      hasRecords: true
      streamHash: 059d51cb9d5c2b6351b664dbdaf9838d600fd115
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    licenses:
      hasRecords: true
      streamHash: 7a54bc9d3d8b67e814ee5ae8a6894d46c7534165
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    multiplans:
      hasRecords: true
      streamHash: 53edc5fbeeb62a5a288991812caffeb602b8ec21
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    payment_gateways:
      hasRecords: true
      streamHash: 90c6e2e0a6807fea7a904cf1687ab40bd60bc056
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://apidocs.pabbly.com/

schemas:
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billing_address:
        type:
          - object
          - "null"
        properties:
          attention:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          state_code:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          zip_code:
            type:
              - string
              - "null"
      company_name:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      credit:
        type:
          - object
          - "null"
        properties:
          remaining:
            type:
              - number
              - "null"
      email_id:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      id:
        type: string
      is_affiliate:
        type:
          - boolean
          - "null"
      last_name:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      referral_id:
        type:
          - string
          - "null"
      shipping_address:
        type:
          - object
          - "null"
        properties:
          attention:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          zip_code:
            type:
              - string
              - "null"
      updatedAt:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
    required:
      - id
  subscriptions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      activation_date:
        type:
          - string
          - "null"
      amount:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      currency_symbol:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
      customer_id:
        type:
          - string
          - "null"
      email_id:
        type:
          - string
          - "null"
      expiry_date:
        type:
          - string
          - "null"
      gateway_name:
        type:
          - string
          - "null"
      gateway_type:
        type:
          - string
          - "null"
      id:
        type: string
      last_billing_date:
        type:
          - string
          - "null"
      next_billing_date:
        type:
          - string
          - "null"
      payment_method:
        type:
          - string
          - "null"
      payment_terms:
        type:
          - string
          - "null"
      plan:
        type:
          - object
          - "null"
        properties:
          billing_cycle:
            type:
              - string
              - "null"
          billing_period:
            type:
              - string
              - "null"
          billing_period_num:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          currency_symbol:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          plan_active:
            type:
              - string
              - "null"
          plan_code:
            type:
              - string
              - "null"
          plan_description:
            type:
              - string
              - "null"
          plan_name:
            type:
              - string
              - "null"
          plan_type:
            type:
              - string
              - "null"
          price:
            type:
              - number
              - "null"
          product_id:
            type:
              - string
              - "null"
          setup_fee:
            type:
              - number
              - "null"
          trial_period:
            type:
              - number
              - "null"
          updatedAt:
            type:
              - string
              - "null"
      plan_id:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      setup_fee:
        type:
          - number
          - "null"
      starts_at:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      taxable:
        type:
          - boolean
          - "null"
      trial_days:
        type:
          - number
          - "null"
      trial_expiry_date:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      product_name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  coupons:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      apply_to:
        type:
          - string
          - "null"
      associate_plans:
        type:
          - string
          - "null"
      coupon_code:
        type:
          - string
          - "null"
      coupon_name:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      discount:
        type:
          - number
          - "null"
      discount_type:
        type:
          - string
          - "null"
      id:
        type: string
      maximum_redemption:
        type:
          - number
          - "null"
      product_id:
        type:
          - string
          - "null"
      redemption_cycle:
        type:
          - number
          - "null"
      redemption_type:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      used_redemption:
        type:
          - number
          - "null"
      valid_upto:
        type:
          - string
          - "null"
    required:
      - id
  invoices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      credit_note:
        type:
          - object
          - "null"
        properties:
          charge_amount:
            type:
              - number
              - "null"
          credit_applied:
            type:
              - array
              - "null"
          new_plan_total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          total_credit_amount:
            type:
              - number
              - "null"
          total_tax:
            type:
              - string
              - "null"
      currency_code:
        type:
          - string
          - "null"
      currency_symbol:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      due_amount:
        type:
          - number
          - "null"
      due_date:
        type:
          - string
          - "null"
      id:
        type: string
      invoice_id:
        type:
          - string
          - "null"
      invoice_link:
        type:
          - string
          - "null"
      order_number:
        type:
          - string
          - "null"
      payment_term:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      setup_fee:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      subscription:
        type:
          - object
          - "null"
        properties:
          activation_date:
            type:
              - string
              - "null"
          amount:
            type:
              - number
              - "null"
          createdAt:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          currency_symbol:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
          customer_id:
            type:
              - string
              - "null"
          email_id:
            type:
              - string
              - "null"
          expiry_date:
            type:
              - string
              - "null"
          gateway_name:
            type:
              - string
              - "null"
          gateway_type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          last_billing_date:
            type:
              - string
              - "null"
          next_billing_date:
            type:
              - string
              - "null"
          payment_method:
            type:
              - string
              - "null"
          payment_terms:
            type:
              - string
              - "null"
          plan:
            type:
              - object
              - "null"
            properties:
              billing_cycle:
                type:
                  - string
                  - "null"
              billing_period:
                type:
                  - string
                  - "null"
              billing_period_num:
                type:
                  - string
                  - "null"
              createdAt:
                type:
                  - string
                  - "null"
              currency_code:
                type:
                  - string
                  - "null"
              currency_symbol:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              plan_active:
                type:
                  - string
                  - "null"
              plan_code:
                type:
                  - string
                  - "null"
              plan_description:
                type:
                  - string
                  - "null"
              plan_name:
                type:
                  - string
                  - "null"
              plan_type:
                type:
                  - string
                  - "null"
              price:
                type:
                  - number
                  - "null"
              product_id:
                type:
                  - string
                  - "null"
              setup_fee:
                type:
                  - number
                  - "null"
              trial_period:
                type:
                  - number
                  - "null"
              updatedAt:
                type:
                  - string
                  - "null"
          plan_id:
            type:
              - string
              - "null"
          product_id:
            type:
              - string
              - "null"
          quantity:
            type:
              - number
              - "null"
          setup_fee:
            type:
              - number
              - "null"
          starts_at:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          taxable:
            type:
              - boolean
              - "null"
          trial_days:
            type:
              - number
              - "null"
          trial_expiry_date:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - string
              - "null"
      subscription_id:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  payment_methods:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      gateway:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      id:
        type: string
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  transactions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      amount:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      currency_symbol:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      gateway_type:
        type:
          - string
          - "null"
      id:
        type: string
      invoice_id:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      reference_id:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      status_formatted:
        type:
          - string
          - "null"
      subscription_id:
        type:
          - string
          - "null"
      transaction:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          api_urls:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                failover_transaction:
                  type:
                    - array
                    - "null"
                referencing_transaction:
                  type:
                    - array
                    - "null"
          attempt_3dsecure:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          gateway_latency_ms:
            type:
              - number
              - "null"
          gateway_specific_response_fields:
            type:
              - object
              - "null"
          gateway_token:
            type:
              - string
              - "null"
          gateway_transaction_id:
            type:
              - string
              - "null"
          gateway_type:
            type:
              - string
              - "null"
          message:
            type:
              - string
              - "null"
          message_key:
            type:
              - string
              - "null"
          on_test_gateway:
            type:
              - boolean
              - "null"
          payment_method:
            type:
              - object
              - "null"
            properties:
              address1:
                type:
                  - string
                  - "null"
              bin_metadata:
                type:
                  - object
                  - "null"
                properties:
                  message:
                    type:
                      - string
                      - "null"
              card_type:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              click_to_pay:
                type:
                  - boolean
                  - "null"
              country:
                type:
                  - string
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              eligible_for_card_updater:
                type:
                  - boolean
                  - "null"
              email:
                type:
                  - string
                  - "null"
              errors:
                type:
                  - array
                  - "null"
              fingerprint:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              first_six_digits:
                type:
                  - string
                  - "null"
              full_name:
                type:
                  - string
                  - "null"
              issuer_identification_number:
                type:
                  - string
                  - "null"
              last_four_digits:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              managed:
                type:
                  - boolean
                  - "null"
              month:
                type:
                  - number
                  - "null"
              number:
                type:
                  - string
                  - "null"
              payment_method_type:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              storage_state:
                type:
                  - string
                  - "null"
              test:
                type:
                  - boolean
                  - "null"
              token:
                type:
                  - string
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              verification_value:
                type:
                  - string
                  - "null"
              year:
                type:
                  - number
                  - "null"
              zip:
                type:
                  - string
                  - "null"
          payment_method_added:
            type:
              - boolean
              - "null"
          populate_mit_fields:
            type:
              - boolean
              - "null"
          response:
            type:
              - object
              - "null"
            properties:
              cancelled:
                type:
                  - boolean
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              message:
                type:
                  - string
                  - "null"
              pending:
                type:
                  - boolean
                  - "null"
              result_unknown:
                type:
                  - boolean
                  - "null"
              success:
                type:
                  - boolean
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
          retain_on_success:
            type:
              - boolean
              - "null"
          shipping_address:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
          smart_routed:
            type:
              - boolean
              - "null"
          state:
            type:
              - string
              - "null"
          succeeded:
            type:
              - boolean
              - "null"
          token:
            type:
              - string
              - "null"
          transaction_type:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      type_formated:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  addons:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      associate_plans:
        type:
          - string
          - "null"
      billing_cycle:
        type:
          - string
          - "null"
      billing_period:
        type:
          - string
          - "null"
      category_array:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      category_list:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      code:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      price:
        type:
          - number
          - "null"
      product_id:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  addon_list_category:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      category_name:
        type:
          - string
          - "null"
      id:
        type: string
    required:
      - id
  licenses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      license_codes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            code:
              type:
                - string
                - "null"
            is_used:
              type:
                - string
                - "null"
      method:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      total_license:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      used_license:
        type:
          - number
          - "null"
    required:
      - id
  multiplans:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      checkout_page:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      multiplan_list:
        type:
          - string
          - "null"
      page_title:
        type:
          - string
          - "null"
      plans:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            billing_cycle:
              type:
                - string
                - "null"
            billing_period:
              type:
                - string
                - "null"
            billing_period_num:
              type:
                - string
                - "null"
            createdAt:
              type:
                - string
                - "null"
            currency_code:
              type:
                - string
                - "null"
            currency_symbol:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            plan_active:
              type:
                - string
                - "null"
            plan_code:
              type:
                - string
                - "null"
            plan_description:
              type:
                - string
                - "null"
            plan_name:
              type:
                - string
                - "null"
            plan_type:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            product_id:
              type:
                - string
                - "null"
            setup_fee:
              type:
                - number
                - "null"
            trial_period:
              type:
                - number
                - "null"
            updatedAt:
              type:
                - string
                - "null"
      product_id:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  payment_gateways:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      gateway_name:
        type:
          - string
          - "null"
      gateway_status:
        type:
          - boolean
          - "null"
      gateway_type:
        type:
          - string
          - "null"
      id:
        type: string
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
