version: 6.1.0

type: DeclarativeSource

description: >-
  An Airbyte connector for [BigMailer](https://bigmailer.com) would facilitate
  seamless data syncing between BigMailer and other platforms. This connector
  would allow users to pull data from BigMailer, such as *brands*, *contacts*,
  *lists*, *fields*, *message types*, *segments*, *bulk campaigns*,
  *transactional campaigns*, *suppression lists*, and *users*, into various data
  destinations for further analysis, reporting, or automation tasks.

check:
  type: CheckStream
  stream_names:
    - brands

definitions:
  streams:
    brands:
      type: DeclarativeStream
      name: brands
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brands"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands/{{ stream_partition.brand_id }}/contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands/{{ stream_partition.brand_id }}/lists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lists"
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands/{{ stream_partition.brand_id }}/fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    message-types:
      type: DeclarativeStream
      name: message-types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands/{{ stream_partition.brand_id }}/message-types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/message-types"
    segments:
      type: DeclarativeStream
      name: segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands/{{ stream_partition.brand_id }}/segments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/segments"
    bulk_campaigns:
      type: DeclarativeStream
      name: bulk_campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands/{{ stream_partition.brand_id }}/bulk-campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bulk_campaigns"
    transactional_campaigns:
      type: DeclarativeStream
      name: transactional_campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands/{{ stream_partition.brand_id }}/transactional-campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactional_campaigns"
    suppression_lists:
      type: DeclarativeStream
      name: suppression_lists
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /brands/{{ stream_partition.brand_id }}/suppression-lists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('has_more', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suppression_lists"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
  base_requester:
    type: HttpRequester
    url_base: https://api.bigmailer.io/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/brands"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/lists"
  - $ref: "#/definitions/streams/fields"
  - $ref: "#/definitions/streams/message-types"
  - $ref: "#/definitions/streams/segments"
  - $ref: "#/definitions/streams/bulk_campaigns"
  - $ref: "#/definitions/streams/transactional_campaigns"
  - $ref: "#/definitions/streams/suppression_lists"
  - $ref: "#/definitions/streams/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          API key to use. You can create and find it on the API key management
          page in your BigMailer account.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    brands: true
    contacts: true
    lists: true
    fields: true
    message-types: true
    segments: true
    bulk_campaigns: true
    transactional_campaigns: true
    suppression_lists: true
    users: true
  testedStreams:
    brands:
      streamHash: 89d36e52ee8088566a7db5645b815d9549d65b47
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: 0b82e717c2cab0394489599baf038739f85b42d4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    lists:
      streamHash: e0deb033378f320925e942dfff54ca0d238a9b90
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    fields:
      streamHash: 8acdefbf7ea2d0afebc629192134c1d961307735
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    message-types:
      streamHash: 847ed7dd42f306ca78c754eaf260d5a629a45cfc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    segments:
      streamHash: 1c37cfd89f42030aaf86b8c00eafe240b26b7751
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    bulk_campaigns:
      streamHash: 0589209b0f986d4851979364205db51737f390cf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    transactional_campaigns:
      streamHash: 1bc7519e66f036227779c8b5147a59ca03e7b975
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    suppression_lists:
      streamHash: 6df25bc2592b474fcdb936183e925889280ee6d9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      hasRecords: true
      streamHash: 5d9cf14a9582d6f82bbfea8de3ff599dfd914db4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://docs.bigmailer.io/reference

schemas:
  brands:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bounce_danger_percent:
        type:
          - number
          - "null"
      created:
        type:
          - number
          - "null"
      filter_soft_bounces:
        type:
          - boolean
          - "null"
      from_email:
        type:
          - string
          - "null"
      from_name:
        type:
          - string
          - "null"
      id:
        type: string
      max_soft_bounces:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      brand_id:
        type:
          - string
          - "null"
      created:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      field_values:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            string:
              type:
                - string
                - "null"
      id:
        type: string
      list_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      num_complaints:
        type:
          - number
          - "null"
      num_hard_bounces:
        type:
          - number
          - "null"
      num_soft_bounces:
        type:
          - number
          - "null"
      unsubscribe_all:
        type:
          - boolean
          - "null"
      unsubscribe_ids:
        type:
          - array
          - "null"
    required:
      - id
  lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      all:
        type:
          - boolean
          - "null"
      created:
        type:
          - number
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created:
        type:
          - number
          - "null"
      id:
        type: string
      merge_tag_name:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  message-types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created:
        type:
          - number
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  segments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - number
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  bulk_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - number
          - "null"
      id:
        type: string
      message_type_id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      num_clicks:
        type:
          - number
          - "null"
      num_complaints:
        type:
          - number
          - "null"
      num_hard_bounces:
        type:
          - number
          - "null"
      num_opens:
        type:
          - number
          - "null"
      num_rejected:
        type:
          - number
          - "null"
      num_sent:
        type:
          - number
          - "null"
      num_soft_bounces:
        type:
          - number
          - "null"
      num_total_clicks:
        type:
          - number
          - "null"
      num_total_opens:
        type:
          - number
          - "null"
      num_unsubscribes:
        type:
          - number
          - "null"
      preview:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      throttling_type:
        type:
          - string
          - "null"
      track_clicks:
        type:
          - boolean
          - "null"
      track_opens:
        type:
          - boolean
          - "null"
      track_text_clicks:
        type:
          - boolean
          - "null"
    required:
      - id
  transactional_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - number
          - "null"
      id:
        type: string
      list_id:
        type:
          - string
          - "null"
      message_type_id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      num_clicks:
        type:
          - number
          - "null"
      num_complaints:
        type:
          - number
          - "null"
      num_hard_bounces:
        type:
          - number
          - "null"
      num_opens:
        type:
          - number
          - "null"
      num_rejected:
        type:
          - number
          - "null"
      num_sent:
        type:
          - number
          - "null"
      num_soft_bounces:
        type:
          - number
          - "null"
      num_total_clicks:
        type:
          - number
          - "null"
      num_total_opens:
        type:
          - number
          - "null"
      num_unsubscribes:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      track_clicks:
        type:
          - boolean
          - "null"
      track_opens:
        type:
          - boolean
          - "null"
      track_text_clicks:
        type:
          - boolean
          - "null"
    required:
      - id
  suppression_lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - number
          - "null"
      file_name:
        type:
          - string
          - "null"
      file_size:
        type:
          - number
          - "null"
      id:
        type:
          - string
          - "null"
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      is_activated:
        type:
          - boolean
          - "null"
      is_owner:
        type:
          - boolean
          - "null"
      role:
        type:
          - string
          - "null"
    required:
      - id
