version: 6.41.5

type: DeclarativeSource

description: |-
  Website: https://www.ebay.com/
  Documentation: https://developer.ebay.com/api-docs/sell/finances/overview.html

check:
  type: CheckStream
  stream_names:
    - transactions

definitions:
  streams:
    transactions:
      type: DeclarativeStream
      name: transactions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sell/finances/v1/transaction
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - transactions
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: transactionDate
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: transactionDate:[%Y-%m-%dT%H:%M:%S.%fZ..2100-01-01T00:00:00.000Z]
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: filter
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
    payouts:
      type: DeclarativeStream
      name: payouts
      primary_key:
        - payoutId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sell/finances/v1/payout
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - payouts
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: payoutDate
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: payoutDate:[%Y-%m-%dT%H:%M:%S.%fZ..2100-01-01T00:00:00.000Z]
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: filter
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payouts"
  base_requester:
    type: HttpRequester
    url_base: "{{ config['api_host'] }}"
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        url_base: "{{ config['token_refresh_endpoint'] }}"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: POST
        request_parameters: {}
        request_headers: {}
        request_body_data:
          grant_type: refresh_token
          redirect_uri: "{{ config['redirect_uri'] }}"
          refresh_token: "{{  config['refresh_token']}}"
      session_token_path:
        - access_token
      expiration_duration: PT2H
      request_authentication:
        type: Bearer

streams:
  - $ref: "#/definitions/streams/transactions"
  - $ref: "#/definitions/streams/payouts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - token_refresh_endpoint
      - username
      - redirect_uri
      - refresh_token
      - api_host
      - start_date
    properties:
      token_refresh_endpoint:
        type: string
        order: 0
        title: Refresh Token Endpoint
        default: https://api.ebay.com/identity/v1/oauth2/token
        enum:
          - https://api.sandbox.ebay.com/identity/v1/oauth2/token
          - https://api.ebay.com/identity/v1/oauth2/token
      client_access_token:
        type: string
        order: 1
        title: Access token
        airbyte_hidden: true
        airbyte_secret: true
      username:
        type: string
        description: Ebay Developer Client ID
        order: 2
        title: Username
      password:
        type: string
        description: Ebay Client Secret
        order: 3
        title: Password
        always_show: true
        airbyte_secret: true
      redirect_uri:
        type: string
        order: 4
        title: Redirect URI
      refresh_token:
        type: string
        order: 5
        title: Refresh Token
        airbyte_secret: true
      api_host:
        type: string
        description: >-
          https://apiz.sandbox.ebay.com for sandbox & https://apiz.ebay.com for
          production
        enum:
          - https://apiz.sandbox.ebay.com
          - https://apiz.ebay.com
        order: 6
        title: API Host
        default: https://apiz.ebay.com
      start_date:
        type: string
        order: 7
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    transactions: true
    payouts: true
  testedStreams:
    transactions:
      hasRecords: true
      streamHash: fd7a920c38d88943057d24d97e56bbda92014f0c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    payouts:
      hasRecords: true
      streamHash: ec25931c6f38ca87c4c647726fc302fcfd846130
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  transactions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - object
          - "null"
        properties:
          convertedFromCurrency:
            type:
              - string
              - "null"
          convertedFromValue:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          exchangeRate:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      bookingEntry:
        type:
          - string
          - "null"
      buyer:
        type:
          - object
          - "null"
        properties:
          username:
            type:
              - string
              - "null"
      feeType:
        type:
          - string
          - "null"
      orderId:
        type:
          - string
          - "null"
      orderLineItems:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            feeBasisAmount:
              type:
                - object
                - "null"
              properties:
                currency:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
            lineItemId:
              type:
                - string
                - "null"
            marketplaceFees:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  amount:
                    type:
                      - object
                      - "null"
                    properties:
                      currency:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - string
                          - "null"
                  feeType:
                    type:
                      - string
                      - "null"
      paymentsEntity:
        type:
          - string
          - "null"
      payoutId:
        type:
          - string
          - "null"
      references:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            referenceId:
              type:
                - string
                - "null"
            referenceType:
              type:
                - string
                - "null"
      salesRecordReference:
        type:
          - string
          - "null"
      totalFeeAmount:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      totalFeeBasisAmount:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      transactionDate:
        type: string
      transactionId:
        type:
          - string
          - "null"
      transactionMemo:
        type:
          - string
          - "null"
      transactionStatus:
        type:
          - string
          - "null"
      transactionType:
        type:
          - string
          - "null"
    required:
      - transactionDate
  payouts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      lastAttemptedPayoutDate:
        type:
          - string
          - "null"
      payoutDate:
        type: string
      payoutId:
        type: string
      payoutInstrument:
        type:
          - object
          - "null"
        properties:
          accountLastFourDigits:
            type:
              - string
              - "null"
          instrumentType:
            type:
              - string
              - "null"
          nickname:
            type:
              - string
              - "null"
      payoutStatus:
        type:
          - string
          - "null"
      payoutStatusDescription:
        type:
          - string
          - "null"
      transactionCount:
        type:
          - number
          - "null"
    required:
      - payoutId
      - payoutDate
