@use "scss/variables";
@use "scss/colors";

.button {
  width: 100%;
  cursor: pointer;
  border: 1px solid colors.$grey-50;
  background-color: colors.$grey-50;
  border-radius: 4px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  min-height: 36px;

  &:hover {
    border: 1px solid colors.$grey-100;
  }
}

.optionsContainer {
  position: relative;
}

.optionsMenu {
  background-color: colors.$white;
  border-radius: variables.$border-radius-md;
  box-shadow: 0 7px 15px -5px colors.$grey;
  padding: variables.$spacing-md;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.option {
  list-style-type: none;
}

.optionValue {
  padding: variables.$spacing-lg variables.$spacing-md;
  border-radius: variables.$border-radius-md;
  cursor: pointer;
}

.active {
  background-color: colors.$grey-50;
  height: 100%;
  width: 100%;
}

.selected {
  background-color: colors.$blue-50;
}
