@use "scss/variables";
@use "scss/colors";

.button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.optionsContainer {
  position: relative;
}

.optionsMenu {
  background-color: colors.$white;
  border-radius: variables.$border-radius-md;
  box-shadow: 0 7px 15px -5px colors.$grey;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}

.footer {
  list-style: none;
  padding: variables.$spacing-lg variables.$spacing-md;
  cursor: pointer;
  border-top: 1px solid colors.$grey;
  margin-top: variables.$spacing-md;
  padding-left: variables.$spacing-xl;
}

.option {
  list-style-type: none;
  padding: 0 variables.$border-radius-md;
}

.optionValue {
  padding: variables.$spacing-lg variables.$spacing-md;
  border-radius: variables.$border-radius-md;
  cursor: pointer;
}

.active {
  background-color: colors.$grey-50;
  height: 100%;
  width: 100%;
}

.selected {
  background-color: colors.$blue-50;
}
