@use "scss/variables";
@use "scss/colors";

.button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.optionsContainer {
  position: relative;
}

.optionsMenu {
  background-color: colors.$white;
  border-radius: variables.$border-radius-md;
  box-shadow: 0 7px 15px -5px colors.$grey;
  padding: variables.$spacing-md;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
}

.option {
  list-style-type: none;
}

.optionValue {
  padding: variables.$spacing-lg variables.$spacing-md;
  border-radius: variables.$border-radius-md;
  cursor: pointer;
}

.active {
  background-color: colors.$grey-50;
  height: 100%;
  width: 100%;
}

.selected {
  background-color: colors.$blue-50;
}
