version: 7.4.1

type: DeclarativeSource

description: >-
  Website: https://www.ebay.com/

  Documentation:
  https://developer.ebay.com/api-docs/sell/fulfillment/overview.html

check:
  type: CheckStream
  stream_names:
    - orders

definitions:
  linked:
    HttpRequester:
      request_headers: {}

streams:
  - type: DeclarativeStream
    name: orders
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next'] }}"
          page_size: 200
          stop_condition: "{{ not response.get(\"next\") }}"
      requester:
        type: HttpRequester
        authenticator:
          type: SessionTokenAuthenticator
          login_requester:
            type: HttpRequester
            http_method: POST
            authenticator:
              type: BasicHttpAuthenticator
              password: "{{ config[\"password\"] }}"
              username: "{{ config[\"username\"] }}"
            request_headers: {}
            request_parameters: {}
            url: "{{ config['refresh_token_endpoint'] }}"
            request_body:
              type: RequestBodyUrlEncodedForm
              value:
                grant_type: refresh_token
                redirect_uri: "{{ config['redirect_uri'] }}"
                refresh_token: "{{  config['refresh_token']}}"
          session_token_path:
            - access_token
          expiration_duration: PT2H
          request_authentication:
            type: Bearer
        http_method: GET
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
          response_filters:
            - type: HttpResponseFilter
              action: RATE_LIMITED
              failure_type: system_error
              error_message_contains: ""
              http_codes:
                - 429
              error_message: Rate limits hit
        url: "{{ config['api_host'] }}/sell/fulfillment/v1/order"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - orders
        schema_normalization: Default
    primary_key:
      - orderId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          orderId:
            type: string
          legacyOrderId:
            type:
              - string
              - "null"
          creationDate:
            type:
              - string
              - "null"
          lastModifiedDate:
            type: string
          orderFulfillmentStatus:
            type:
              - string
              - "null"
          orderPaymentStatus:
            type:
              - string
              - "null"
          sellerId:
            type:
              - string
              - "null"
          buyer:
            type:
              - object
              - "null"
            properties:
              username:
                type:
                  - string
                  - "null"
              taxAddress:
                type:
                  - object
                  - "null"
                properties:
                  postalCode:
                    type:
                      - string
                      - "null"
                  countryCode:
                    type:
                      - string
                      - "null"
                  stateOrProvince:
                    type:
                      - string
                      - "null"
              buyerRegistrationAddress:
                type:
                  - object
                  - "null"
                properties:
                  fullName:
                    type:
                      - string
                      - "null"
                  contactAddress:
                    type:
                      - object
                      - "null"
                    properties:
                      addressLine1:
                        type:
                          - string
                          - "null"
                      city:
                        type:
                          - string
                          - "null"
                      stateOrProvince:
                        type:
                          - string
                          - "null"
                      postalCode:
                        type:
                          - string
                          - "null"
                      countryCode:
                        type:
                          - string
                          - "null"
                      addressLine2:
                        type:
                          - string
                          - "null"
                  primaryPhone:
                    type:
                      - object
                      - "null"
                    properties:
                      phoneNumber:
                        type:
                          - string
                          - "null"
                  email:
                    type:
                      - string
                      - "null"
                  secondaryPhone:
                    type:
                      - object
                      - "null"
                    properties:
                      phoneNumber:
                        type:
                          - string
                          - "null"
          pricingSummary:
            type:
              - object
              - "null"
            properties:
              priceSubtotal:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
              deliveryCost:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
              total:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
              priceDiscount:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
          cancelStatus:
            type:
              - object
              - "null"
            properties:
              cancelState:
                type:
                  - string
                  - "null"
              cancelRequests:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    cancelReason:
                      type:
                        - string
                        - "null"
                    cancelRequestedDate:
                      type:
                        - string
                        - "null"
                    cancelCompletedDate:
                      type:
                        - string
                        - "null"
                    cancelInitiator:
                      type:
                        - string
                        - "null"
                    cancelRequestId:
                      type:
                        - string
                        - "null"
                    cancelRequestState:
                      type:
                        - string
                        - "null"
              cancelledDate:
                type:
                  - string
                  - "null"
          paymentSummary:
            type:
              - object
              - "null"
            properties:
              totalDueSeller:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
              refunds:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    refundDate:
                      type:
                        - string
                        - "null"
                    amount:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - string
                            - "null"
                        currency:
                          type:
                            - string
                            - "null"
                    refundStatus:
                      type:
                        - string
                        - "null"
                    refundReferenceId:
                      type:
                        - string
                        - "null"
              payments:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    paymentMethod:
                      type:
                        - string
                        - "null"
                    paymentReferenceId:
                      type:
                        - string
                        - "null"
                    paymentDate:
                      type:
                        - string
                        - "null"
                    amount:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - string
                            - "null"
                        currency:
                          type:
                            - string
                            - "null"
                    paymentStatus:
                      type:
                        - string
                        - "null"
          fulfillmentStartInstructions:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                fulfillmentInstructionsType:
                  type:
                    - string
                    - "null"
                minEstimatedDeliveryDate:
                  type:
                    - string
                    - "null"
                maxEstimatedDeliveryDate:
                  type:
                    - string
                    - "null"
                ebaySupportedFulfillment:
                  type:
                    - boolean
                    - "null"
                shippingStep:
                  type:
                    - object
                    - "null"
                  properties:
                    shipTo:
                      type:
                        - object
                        - "null"
                      properties:
                        fullName:
                          type:
                            - string
                            - "null"
                        contactAddress:
                          type:
                            - object
                            - "null"
                          properties:
                            addressLine1:
                              type:
                                - string
                                - "null"
                            addressLine2:
                              type:
                                - string
                                - "null"
                            city:
                              type:
                                - string
                                - "null"
                            postalCode:
                              type:
                                - string
                                - "null"
                            countryCode:
                              type:
                                - string
                                - "null"
                            stateOrProvince:
                              type:
                                - string
                                - "null"
                        primaryPhone:
                          type:
                            - object
                            - "null"
                          properties:
                            phoneNumber:
                              type:
                                - string
                                - "null"
                        email:
                          type:
                            - string
                            - "null"
                    shippingServiceCode:
                      type:
                        - string
                        - "null"
                    shippingCarrierCode:
                      type:
                        - string
                        - "null"
                    shipToReferenceId:
                      type:
                        - string
                        - "null"
                finalDestinationAddress:
                  type:
                    - object
                    - "null"
                  properties:
                    addressLine1:
                      type:
                        - string
                        - "null"
                    city:
                      type:
                        - string
                        - "null"
                    stateOrProvince:
                      type:
                        - string
                        - "null"
                    postalCode:
                      type:
                        - string
                        - "null"
                    countryCode:
                      type:
                        - string
                        - "null"
          fulfillmentHrefs:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          lineItems:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                lineItemId:
                  type:
                    - string
                    - "null"
                legacyItemId:
                  type:
                    - string
                    - "null"
                sku:
                  type:
                    - string
                    - "null"
                title:
                  type:
                    - string
                    - "null"
                lineItemCost:
                  type:
                    - object
                    - "null"
                  properties:
                    value:
                      type:
                        - string
                        - "null"
                    currency:
                      type:
                        - string
                        - "null"
                quantity:
                  type:
                    - number
                    - "null"
                soldFormat:
                  type:
                    - string
                    - "null"
                listingMarketplaceId:
                  type:
                    - string
                    - "null"
                purchaseMarketplaceId:
                  type:
                    - string
                    - "null"
                lineItemFulfillmentStatus:
                  type:
                    - string
                    - "null"
                total:
                  type:
                    - object
                    - "null"
                  properties:
                    value:
                      type:
                        - string
                        - "null"
                    currency:
                      type:
                        - string
                        - "null"
                deliveryCost:
                  type:
                    - object
                    - "null"
                  properties:
                    shippingCost:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - string
                            - "null"
                        currency:
                          type:
                            - string
                            - "null"
                    importCharges:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - string
                            - "null"
                        currency:
                          type:
                            - string
                            - "null"
                    shippingIntermediationFee:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - string
                            - "null"
                        currency:
                          type:
                            - string
                            - "null"
                appliedPromotions:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      description:
                        type:
                          - string
                          - "null"
                      discountAmount:
                        type:
                          - object
                          - "null"
                        properties:
                          value:
                            type:
                              - string
                              - "null"
                          currency:
                            type:
                              - string
                              - "null"
                      promotionId:
                        type:
                          - string
                          - "null"
                taxes:
                  type:
                    - array
                    - "null"
                properties:
                  type:
                    - object
                    - "null"
                  properties:
                    buyerProtection:
                      type:
                        - boolean
                        - "null"
                    soldViaAdCampaign:
                      type:
                        - boolean
                        - "null"
                lineItemFulfillmentInstructions:
                  type:
                    - object
                    - "null"
                  properties:
                    minEstimatedDeliveryDate:
                      type:
                        - string
                        - "null"
                    maxEstimatedDeliveryDate:
                      type:
                        - string
                        - "null"
                    shipByDate:
                      type:
                        - string
                        - "null"
                    guaranteedDelivery:
                      type:
                        - boolean
                        - "null"
                itemLocation:
                  type:
                    - object
                    - "null"
                  properties:
                    location:
                      type:
                        - string
                        - "null"
                    countryCode:
                      type:
                        - string
                        - "null"
                    postalCode:
                      type:
                        - string
                        - "null"
                legacyVariationId:
                  type:
                    - string
                    - "null"
                variationAspects:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - string
                          - "null"
                discountedLineItemCost:
                  type:
                    - object
                    - "null"
                  properties:
                    value:
                      type:
                        - string
                        - "null"
                    currency:
                      type:
                        - string
                        - "null"
                refunds:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      refundDate:
                        type:
                          - string
                          - "null"
                      amount:
                        type:
                          - object
                          - "null"
                        properties:
                          value:
                            type:
                              - string
                              - "null"
                          currency:
                            type:
                              - string
                              - "null"
          salesRecordReference:
            type:
              - string
              - "null"
          totalFeeBasisAmount:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          totalMarketplaceFee:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
        required:
          - orderId
          - lastModifiedDate
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: lastModifiedDate
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: lastmodifieddate:[%Y-%m-%dT%H:%M:%S.%fZ..]
      start_time_option:
        type: RequestOption
        field_name: filter
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
      partition_field_end: ""
      partition_field_start: ""

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - refresh_token_endpoint
      - api_host
      - username
      - password
      - redirect_uri
      - refresh_token
      - start_date
    properties:
      api_host:
        type: string
        enum:
          - https://api.ebay.com
          - https://api.sandbox.ebay.com
        order: 1
        title: API Host
        default: https://api.ebay.com
      password:
        type: string
        order: 3
        title: Password
        airbyte_secret: true
      username:
        type: string
        order: 2
        title: Username
      start_date:
        type: string
        order: 6
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      redirect_uri:
        type: string
        order: 4
        title: Redirect URI
      refresh_token:
        type: string
        order: 5
        title: Refresh Token
        airbyte_secret: true
      refresh_token_endpoint:
        type: string
        enum:
          - https://api.ebay.com/identity/v1/oauth2/token
          - https://api.sandbox.ebay.com/identity/v1/oauth2/token
        order: 0
        title: Refresh Token Endpoint
        default: https://api.ebay.com/identity/v1/oauth2/token
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developer.ebay.com/api-docs/sell/fulfillment/overview.html
  testedStreams:
    orders:
      hasRecords: true
      streamHash: f566d3d40486298bb76e847e8e55b567c6c47cf3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
  autoImportSchema:
    orders: true
  applied_migrations:
    - from_version: 6.48.12
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2025-11-04T05:22:06.630178+00:00"
    - from_version: 6.48.12
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2025-11-04T05:22:06.633345+00:00"
    - from_version: 6.48.12
      to_version: "*"
      migration: HttpRequesterRequestBodyJsonDataToRequestBody
      migrated_at: "2025-11-04T05:22:06.636192+00:00"
