version: 5.7.3

type: DeclarativeSource

description: |-
  Website: https://www.mux.com/
  API Docs: https://docs.mux.com/api-reference
  Auth Docs: https://docs.mux.com/core/make-api-requests#http-basic-auth

check:
  type: CheckStream
  stream_names:
    - video_assets

definitions:
  streams:
    video_assets:
      type: DeclarativeStream
      name: video_assets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: video/v1/assets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video_assets"
    video_live-streams:
      type: DeclarativeStream
      name: video_live-streams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: video/v1/live-streams
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video_live-streams"
    video_playbacks:
      type: DeclarativeStream
      name: video_playbacks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: video/v1/playback-ids/{{ config['playback_id'] }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video_playbacks"
    system_signin-keys:
      type: DeclarativeStream
      name: system_signin-keys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: system/v1/signing-keys
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/system_signin-keys"
    video_playback-restrictions:
      type: DeclarativeStream
      name: video_playback-restrictions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: video/v1/playback-restrictions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video_playback-restrictions"
    video_transcription-vocabularies:
      type: DeclarativeStream
      name: video_transcription-vocabularies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: video/v1/transcription-vocabularies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video_transcription-vocabularies"
    video_uploads:
      type: DeclarativeStream
      name: video_uploads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: video/v1/uploads
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video_uploads"
    video_signing-keys:
      type: DeclarativeStream
      name: video_signing-keys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: video/v1/signing-keys
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/video_signing-keys"
  base_requester:
    type: HttpRequester
    url_base: https://api.mux.com/
    authenticator:
      type: BasicHttpAuthenticator
      password: '{{ config["password"] }}'
      username: '{{ config["username"] }}'

streams:
  - $ref: "#/definitions/streams/video_assets"
  - $ref: "#/definitions/streams/video_live-streams"
  - $ref: "#/definitions/streams/video_playbacks"
  - $ref: "#/definitions/streams/system_signin-keys"
  - $ref: "#/definitions/streams/video_playback-restrictions"
  - $ref: "#/definitions/streams/video_transcription-vocabularies"
  - $ref: "#/definitions/streams/video_uploads"
  - $ref: "#/definitions/streams/video_signing-keys"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - start_date
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      start_date:
        type: string
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      playback_id:
        type: string
        description: The playback id for your video asset shown in website details
        order: 3
        title: Playback ID
    additionalProperties: true

metadata:
  autoImportSchema:
    video_assets: true
    video_live-streams: true
    video_playbacks: true
    system_signin-keys: true
    video_playback-restrictions: true
    video_transcription-vocabularies: true
    video_uploads: true
    video_signing-keys: true
  testedStreams:
    video_assets:
      hasRecords: true
      streamHash: fce16d9d5bb016e35050a389d2d1f4a2fc3ebd05
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    video_live-streams:
      hasRecords: true
      streamHash: cf64aeb9b538bf4079ee2acf46d2f110c3f1a76b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    video_playbacks:
      hasRecords: true
      streamHash: 1f5b2327c36e8800fa190cbab76d31c45ae75c5c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    system_signin-keys:
      hasRecords: true
      streamHash: acc801ea3b8fa269ca2cafd01982f8bdcaf2ed57
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    video_playback-restrictions:
      hasRecords: true
      streamHash: 789c777d6bc015cda1536dff0f7aae2ef5844169
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    video_transcription-vocabularies:
      hasRecords: true
      streamHash: 10fb966c42ce0c577edddfd765a9aa1f56407461
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    video_uploads:
      hasRecords: true
      streamHash: dc7993e7b71dfe86a7db442ed29b8094669335b0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    video_signing-keys:
      hasRecords: true
      streamHash: dccea4d7f3b203faf749e3253afb153f847837ed
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  video_assets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      aspect_ratio:
        type:
          - string
          - "null"
      created_at:
        type: string
      duration:
        type:
          - number
          - "null"
      encoding_tier:
        type:
          - string
          - "null"
      id:
        type: string
      ingest_type:
        type:
          - string
          - "null"
      master_access:
        type:
          - string
          - "null"
      max_resolution_tier:
        type:
          - string
          - "null"
      max_stored_frame_rate:
        type:
          - number
          - "null"
      max_stored_resolution:
        type:
          - string
          - "null"
      mp4_support:
        type:
          - string
          - "null"
      playback_ids:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            policy:
              type:
                - string
                - "null"
      resolution_tier:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      test:
        type:
          - boolean
          - "null"
      tracks:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            duration:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            language_code:
              type:
                - string
                - "null"
            max_channel_layout:
              type:
                - string
                - "null"
            max_channels:
              type:
                - number
                - "null"
            max_frame_rate:
              type:
                - number
                - "null"
            max_height:
              type:
                - number
                - "null"
            max_width:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            primary:
              type:
                - boolean
                - "null"
            status:
              type:
                - string
                - "null"
            text_source:
              type:
                - string
                - "null"
            text_type:
              type:
                - string
                - "null"
      video_quality:
        type:
          - string
          - "null"
    required:
      - id
      - created_at
  video_live-streams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type: string
      id:
        type: string
      latency_mode:
        type:
          - string
          - "null"
      max_continuous_duration:
        type:
          - number
          - "null"
      new_asset_settings:
        type:
          - object
          - "null"
        properties:
          playback_policies:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      playback_ids:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            policy:
              type:
                - string
                - "null"
      reconnect_window:
        type:
          - number
          - "null"
      srt_passphrase:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      stream_key:
        type:
          - string
          - "null"
      test:
        type:
          - boolean
          - "null"
    required:
      - id
      - created_at
  video_playbacks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      object:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
      policy:
        type:
          - string
          - "null"
    required:
      - id
  system_signin-keys:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type: string
      id:
        type: string
    required:
      - id
      - created_at
  video_playback-restrictions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type: string
      id:
        type: string
      referrer:
        type:
          - object
          - "null"
        properties:
          allow_no_referrer:
            type:
              - boolean
              - "null"
          allowed_domains:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      updated_at:
        type:
          - string
          - "null"
      user_agent:
        type:
          - object
          - "null"
        properties:
          allow_high_risk_user_agent:
            type:
              - boolean
              - "null"
          allow_no_user_agent:
            type:
              - boolean
              - "null"
    required:
      - id
      - created_at
  video_transcription-vocabularies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type: string
      id:
        type: string
      name:
        type:
          - string
          - "null"
      phrases:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
      - created_at
  video_uploads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      cors_origin:
        type:
          - string
          - "null"
      id:
        type: string
      new_asset_settings:
        type:
          - object
          - "null"
        properties:
          playback_policies:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          video_quality:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      test:
        type:
          - boolean
          - "null"
      timeout:
        type:
          - number
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  video_signing-keys:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type: string
      id:
        type: string
    required:
      - id
      - created_at
