version: 7.23.7

type: DeclarativeSource

description: >-
  This is the Deputy source that ingests data from the Deputy API.


  Deputy is a software that simplifies employee scheduling, timesheets and HR in
  one place https://www.deputy.com/


  In order to use this source you must first create an account on Deputy.

  Once logged in, your Deputy install will have a specific URL in the structure
  of https://{installname}.{geo}.deputy.com - This is the same URL that will be
  the base API url .


  To obtain your bearer token to use the API, follow the steps shown here
  https://developer.deputy.com/deputy-docs/docs/the-hello-world-of-deputy

  This will have you create an oauth application and create an access token.
  Enter the access token in the input field.


  You can learn more about the API here
  https://developer.deputy.com/deputy-docs/reference/getlocations

check:
  type: CheckStream
  stream_names:
    - locations

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config[\"api_key\"] }}"

streams:
  - type: DeclarativeStream
    name: locations
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/Company"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          Code:
            type:
              - string
              - "null"
          Active:
            type:
              - boolean
              - "null"
          Address:
            type:
              - number
              - "null"
          Contact:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          Modified:
            type:
              - string
              - "null"
          CompanyName:
            type:
              - string
              - "null"
          IsWorkplace:
            type:
              - boolean
              - "null"
          TradingName:
            type:
              - string
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              Geo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Orm:
                    type:
                      - string
                      - "null"
                  RecId:
                    type:
                      - number
                      - "null"
                  Created:
                    type:
                      - string
                      - "null"
                  Creator:
                    type:
                      - number
                      - "null"
                  Latitude:
                    type:
                      - number
                      - "null"
                  Modified:
                    type:
                      - string
                      - "null"
                  Longitude:
                    type:
                      - number
                      - "null"
              System:
                type:
                  - string
                  - "null"
              CustomData:
                type:
                  - object
                  - "null"
                properties: {}
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
              AddressObject:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Print:
                    type:
                      - string
                      - "null"
                  State:
                    type:
                      - string
                      - "null"
                  Country:
                    type:
                      - number
                      - "null"
                  Created:
                    type:
                      - string
                      - "null"
                  Creator:
                    type:
                      - number
                      - "null"
                  Street1:
                    type:
                      - string
                      - "null"
                  Modified:
                    type:
                      - string
                      - "null"
          ParentCompany:
            type:
              - number
              - "null"
          BusinessNumber:
            type:
              - string
              - "null"
          IsPayrollEntity:
            type:
              - boolean
              - "null"
          PayrollExportCode:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: employees
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/supervise/employee"
        request_body:
          type: RequestBodyJsonObject
          value:
            max: 1
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          Img:
            type:
              - string
              - "null"
          Role:
            type:
              - number
              - "null"
          Email:
            type:
              - string
              - "null"
          Photo:
            type:
              - number
              - "null"
          Active:
            type:
              - boolean
              - "null"
          Mobile:
            type:
              - string
              - "null"
          Status:
            type:
              - number
              - "null"
          UserId:
            type:
              - number
              - "null"
          Company:
            type:
              - number
              - "null"
          Contact:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          Contract:
            anyOf:
              - type: string
              - type: object
                properties:
                  Id:
                    type: number
                  Code:
                    type: "null"
                  File:
                    type: "null"
                  Name:
                    type: string
                  PpId:
                    type: "null"
                  Award:
                    type: "null"
                  Created:
                    type: string
                  Creator:
                    type: number
                  EndDate:
                    type: "null"
                  Modified:
                    type: string
                  CountryId:
                    type: "null"
                  MigrateTo:
                    type: "null"
                  StartDate:
                    type: "null"
                  PeriodType:
                    type: number
                  BasePayRule:
                    type: number
                  Description:
                    type: "null"
                  _DPMetaData:
                    type: object
                    properties:
                      System:
                        type: string
                      CreatorInfo:
                        type: object
                  PayRuleArray:
                    type: array
                    items:
                      type: object
                      properties:
                        Id:
                          type: number
                        CrId:
                          type: "null"
                        CtId:
                          type: "null"
                        Config:
                          type: "null"
                        Comment:
                          type: "null"
                        Created:
                          type: string
                        Creator:
                          type: number
                        RateTag:
                          type: "null"
                        Modified:
                          type: string
                        PayTitle:
                          type: string
                        RateType:
                          type: "null"
                        Schedule:
                          type: number
                        UnitValue:
                          type: "null"
                        HourlyRate:
                          type: number
                        IsExported:
                          type: boolean
                        PeriodType:
                          type: "null"
                        DexmlScript:
                          type: "null"
                        MaximumType:
                          type: number
                        MinimumType:
                          type: number
                        _DPMetaData:
                          type: object
                          properties:
                            System:
                              type: string
                            CreatorInfo:
                              type: object
                        AnnualSalary:
                          type: "null"
                        IsMultiplier:
                          type: boolean
                        MaximumValue:
                          type: "null"
                        MinimumValue:
                          type: "null"
                        RecommendWith:
                          type: number
                        PayPortionRule:
                          type: number
                        RemunerationBy:
                          type: number
                        MultiplierValue:
                          type: "null"
                        PayrollCategory:
                          type: string
                        DexmlScriptParam:
                          type: "null"
                        RemunerationType:
                          type: number
                        MaximumShiftLength:
                          type: "null"
                        MinimumShiftLength:
                          type: "null"
                        MultiplierBaseRate:
                          type: "null"
                        AdvancedCalculation:
                          type: "null"
                  StressProfile:
                    type: "null"
                  AwardStartDate:
                    type: "null"
                  LeaveRuleArray:
                    type: array
                    items:
                      type: object
                      properties:
                        Id:
                          type: number
                        Created:
                          type: string
                        Creator:
                          type: number
                        Modified:
                          type: string
                        ContractId:
                          type: number
                        BasePayRule:
                          type: number
                        LeaveRuleId:
                          type: number
                        _DPMetaData:
                          type: object
                          properties:
                            System:
                              type: string
                            CreatorInfo:
                              type: object
                              properties:
                                Id:
                                  type: number
                                Photo:
                                  type: string
                                DisplayName:
                                  type: string
                        LoadingPayRule1:
                          type: "null"
                        LoadingPayRule2:
                          type: "null"
                        LoadingPayRule3:
                          type: "null"
                  ThirdPartySync:
                    type: string
                  EmploymentBasis:
                    type: number
                  EmploymentStatus:
                    type: number
                  EmploymentSubType:
                    type: "null"
                  EmploymentCategory:
                    type: number
                  EmploymentCondition:
                    type: "null"
                  StrictLeaveApproval:
                    type: "null"
          LastName:
            type:
              - string
              - "null"
          Modified:
            type:
              - string
              - "null"
          Pronouns:
            type:
              - number
              - "null"
          UserName:
            type:
              - string
              - "null"
          FirstName:
            type:
              - string
              - "null"
          HistoryId:
            type:
              - number
              - "null"
          PayrollId:
            type:
              - string
              - "null"
          StartDate:
            type:
              - string
              - "null"
          AllowLogin:
            type:
              - boolean
              - "null"
          AnalyticsID:
            type:
              - string
              - "null"
          DisplayName:
            type:
              - string
              - "null"
          PhotoLinkId:
            type:
              - string
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
          HasEnabled2FA:
            type:
              - boolean
              - "null"
          IsSubordinate:
            type:
              - boolean
              - "null"
          StressProfile:
            type:
              - number
              - "null"
          TrainingArray:
            type:
              - string
              - "null"
          AllowAppraisal:
            type:
              - boolean
              - "null"
          HasIPhoneToken:
            type:
              - boolean
              - "null"
          WorkplaceArray:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Id:
                  type:
                    - number
                    - "null"
                Company:
                  type:
                    - number
                    - "null"
                Created:
                  type:
                    - string
                    - "null"
                Creator:
                  type:
                    - number
                    - "null"
                Modified:
                  type:
                    - string
                    - "null"
                SortOrder:
                  type:
                    - number
                    - "null"
                Agreement1:
                  type:
                    - number
                    - "null"
                Agreement2:
                  type:
                    - number
                    - "null"
                Agreement3:
                  type:
                    - number
                    - "null"
                EmployeeId:
                  type:
                    - number
                    - "null"
                _DPMetaData:
                  type:
                    - object
                    - "null"
                  properties:
                    System:
                      type:
                        - string
                        - "null"
                    CreatorInfo:
                      type:
                        - object
                        - "null"
          CanAskToShowPin:
            type:
              - boolean
              - "null"
          HasAndroidToken:
            type:
              - boolean
              - "null"
          LeaveAccrualArray:
            type:
              - array
              - "null"
          TrainingFileArray:
            type:
              - array
              - "null"
          EmployeeHourlyRate:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: award_lists
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/payroll/listAwardsLibrary"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - AwardCode
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - AwardCode
        properties:
          name:
            type:
              - string
              - "null"
          AwardCode:
            type: string
          CountryCode:
            type:
              - string
              - "null"
          employmentTerm:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: departments
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/OperationalUnit"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          Active:
            type:
              - boolean
              - "null"
          Colour:
            type:
              - string
              - "null"
          Address:
            type:
              - number
              - "null"
          Company:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          Modified:
            type:
              - string
              - "null"
          CompanyCode:
            type:
              - string
              - "null"
          CompanyName:
            type:
              - string
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
              AddressObject:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  City:
                    type:
                      - string
                      - "null"
                  Print:
                    type:
                      - string
                      - "null"
                  State:
                    type:
                      - string
                      - "null"
                  Country:
                    type:
                      - number
                      - "null"
                  Created:
                    type:
                      - string
                      - "null"
                  Creator:
                    type:
                      - number
                      - "null"
                  Street1:
                    type:
                      - string
                      - "null"
                  Modified:
                    type:
                      - string
                      - "null"
                  Postcode:
                    type:
                      - string
                      - "null"
          ShowOnRoster:
            type:
              - boolean
              - "null"
          AddressObject:
            anyOf:
              - type: array
              - type: object
                properties:
                  Id:
                    type: number
                  City:
                    type: string
                  Notes:
                    type: "null"
                  Phone:
                    type: "null"
                  PoBox:
                    type: "null"
                  Print:
                    type: string
                  Saved:
                    type: "null"
                  State:
                    type: string
                  Format:
                    type: "null"
                  UnitNo:
                    type: "null"
                  Country:
                    type: number
                  Created:
                    type: string
                  Creator:
                    type: number
                  Street1:
                    type: string
                  Street2:
                    type: "null"
                  SuiteNo:
                    type: "null"
                  Modified:
                    type: string
                  Postcode:
                    type: string
                  StreetNo:
                    type: "null"
                  Verified:
                    type: "null"
                  ContactName:
                    type: "null"
          CompanyAddress:
            type:
              - number
              - "null"
          RosterSortOrder:
            type:
              - number
              - "null"
          PayrollExportName:
            type:
              - string
              - "null"
          OperationalUnitName:
            type:
              - string
              - "null"
          ParentOperationalUnit:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: timesheets
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/Timesheet"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          Id:
            type: number
          Employee:
            type:
              - number
              - "null"
          EmployeeHistory:
            type:
              - number
              - "null"
          EmployeeAgreement:
            type:
              - number
              - "null"
          Date:
            type:
              - string
              - "null"
          StartTime:
            type:
              - number
              - "null"
          EndTime:
            type:
              - number
              - "null"
          Mealbreak:
            type:
              - string
              - "null"
          MealbreakSlots:
            anyOf:
              - type: string
              - type: object
                properties:
                  "1769959740":
                    type: string
                  "1769961600":
                    type: string
                  "1770211200":
                    type: string
                  "1770213060":
                    type: string
                  "1770297120":
                    type: string
                  "1770299040":
                    type: string
                  "1770381660":
                    type: string
                  "1770383220":
                    type: string
                  "1770383460":
                    type: string
                  "1770385140":
                    type: string
                  "1770469020":
                    type: string
                  "1770470280":
                    type: string
                  "1770554220":
                    type: string
                  "1770556800":
                    type: string
                  "1770642900":
                    type: string
                  "1770644760":
                    type: string
                  "1770744000":
                    type: string
                  "1770744900":
                    type: string
                  "1771074780":
                    type: string
                  "1771076760":
                    type: string
                  "1771078560":
                    type: string
                  "1771081860":
                    type: string
                  "1771419780":
                    type: string
                  "1771421640":
                    type: string
                  "1771511280":
                    type: string
                  "1771512960":
                    type: string
                  "1771576500":
                    type: string
                  "1771577700":
                    type: string
                  "1771590660":
                    type: string
                  "1771592460":
                    type: string
                  "1771597320":
                    type: string
                  "1771599120":
                    type: string
                  "1771608840":
                    type: string
                  "1771610640":
                    type: string
                  "1771676220":
                    type: string
                  "1771679640":
                    type: string
                  "1771693680":
                    type: string
                  "1771694580":
                    type: string
                  "1771772460":
                    type: string
                  "1771773360":
                    type: string
                  "1772024700":
                    type: string
                  "1772026560":
                    type: string
                  "1772129820":
                    type: string
                  "1772130720":
                    type: string
                  "1772194980":
                    type: string
                  "1772196780":
                    type: string
                  "1772453820":
                    type: string
                  "1772456040":
                    type: string
                  "1772627220":
                    type: string
                  "1772629920":
                    type: string
                  "1772801160":
                    type: string
                  "1772803140":
                    type: string
                  "1772882640":
                    type: string
                  "1772884320":
                    type: string
                  "1772906280":
                    type: string
                  "1772907180":
                    type: string
                  "1772983080":
                    type: string
                  "1772983980":
                    type: string
                  "1773080880":
                    type: string
                  "1773082680":
                    type: string
                  "1773145980":
                    type: string
                  "1773147180":
                    type: string
                  "1773232860":
                    type: string
                  "1773234600":
                    type: string
                  "1773320940":
                    type: string
                  "1773322500":
                    type: string
                  "1773405480":
                    type: string
                  "1773407400":
                    type: string
                  "1773423000":
                    type: string
                  "1773423900":
                    type: string
                  "1773492840":
                    type: string
                  "1773494220":
                    type: string
                  "1773749400":
                    type: string
                  "1773750780":
                    type: string
                  "1773751320":
                    type: string
                  "1773752580":
                    type: string
                  "1773828840":
                    type: string
                  "1773830640":
                    type: string
                  "1773839520":
                    type: string
                  "1773841620":
                    type: string
                  "1773842340":
                    type: string
                  "1773861060":
                    type: string
                  "1773923400":
                    type: string
                  "1773925140":
                    type: string
                  "1773927240":
                    type: string
                  "1773943680":
                    type: string
                  "1773944580":
                    type: string
                  "1773946860":
                    type: string
          Slots:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                blnEmptySlot:
                  type:
                    - boolean
                    - "null"
                strType:
                  type:
                    - string
                    - "null"
                intStart:
                  type:
                    - number
                    - "null"
                intEnd:
                  type:
                    - number
                    - "null"
                intUnixStart:
                  type:
                    - number
                    - "null"
                intUnixEnd:
                  type:
                    - number
                    - "null"
                mixedActivity:
                  type:
                    - object
                    - "null"
                  properties:
                    intState:
                      type:
                        - number
                        - "null"
                    blnCanStartEarly:
                      type:
                        - number
                        - "null"
                    blnCanEndEarly:
                      type:
                        - number
                        - "null"
                    blnIsMandatory:
                      type:
                        - number
                        - "null"
                    strBreakType:
                      type:
                        - string
                        - "null"
                strTypeName:
                  type:
                    - string
                    - "null"
                strState:
                  type:
                    - string
                    - "null"
          TotalTime:
            type:
              - number
              - "null"
          TotalTimeInv:
            type:
              - number
              - "null"
          Cost:
            type:
              - number
              - "null"
          Roster:
            type:
              - number
              - "null"
          EmployeeComment:
            type:
              - string
              - "null"
          Disputed:
            type:
              - boolean
              - "null"
          TimeApproved:
            type:
              - boolean
              - "null"
          TimeApprover:
            type:
              - number
              - "null"
          Discarded:
            type:
              - boolean
              - "null"
          ValidationFlag:
            type:
              - number
              - "null"
          OperationalUnit:
            type:
              - number
              - "null"
          IsInProgress:
            type:
              - boolean
              - "null"
          IsLeave:
            type:
              - boolean
              - "null"
          LeaveId:
            type:
              - number
              - "null"
          LeaveRule:
            type:
              - number
              - "null"
          Invoiced:
            type:
              - boolean
              - "null"
          PayRuleApproved:
            type:
              - boolean
              - "null"
          Exported:
            type:
              - boolean
              - "null"
          StagingId:
            type:
              - number
              - "null"
          PayStaged:
            type:
              - boolean
              - "null"
          PaycycleId:
            type:
              - number
              - "null"
          MarkedPaidUnpaidAt:
            type:
              - string
              - "null"
          File:
            type:
              - number
              - "null"
          CustomFieldData:
            type:
              - number
              - "null"
          RealTime:
            type:
              - boolean
              - "null"
          AutoProcessed:
            type:
              - boolean
              - "null"
          AutoRounded:
            type:
              - boolean
              - "null"
          AutoTimeApproved:
            type:
              - boolean
              - "null"
          AutoPayRuleApproved:
            type:
              - boolean
              - "null"
          Metadata:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Modified:
            type:
              - string
              - "null"
          ReviewState:
            type:
              - number
              - "null"
          StartTimeLocalized:
            type:
              - string
              - "null"
          EndTimeLocalized:
            type:
              - string
              - "null"
          OnCost:
            type:
              - number
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  CustomPronouns:
                    type:
                      - string
                      - "null"
              OperationalUnitInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  OperationalUnitName:
                    type:
                      - string
                      - "null"
                  Company:
                    type:
                      - number
                      - "null"
                  CompanyName:
                    type:
                      - string
                      - "null"
                  LabelWithCompany:
                    type:
                      - string
                      - "null"
              EmployeeInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  CustomPronouns:
                    type:
                      - string
                      - "null"
              CustomFieldData:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  System:
                    type:
                      - string
                      - "null"
                  Creator:
                    type:
                      - number
                      - "null"
                  Created:
                    type:
                      - string
                      - "null"
                  Modified:
                    type:
                      - string
                      - "null"
                  _DPMetaData:
                    type:
                      - object
                      - "null"
                    properties:
                      System:
                        type:
                          - string
                          - "null"
                      CreatorInfo:
                        type:
                          - object
                          - "null"
                        properties:
                          Id:
                            type:
                              - number
                              - "null"
                          DisplayName:
                            type:
                              - string
                              - "null"
                          EmployeeProfile:
                            type:
                              - number
                              - "null"
                          Employee:
                            type:
                              - number
                              - "null"
                          Photo:
                            type:
                              - string
                              - "null"
                          Pronouns:
                            type:
                              - number
                              - "null"
                          CustomPronouns:
                            type:
                              - string
                              - "null"
        required:
          - Id
        additionalProperties: true
  - type: DeclarativeStream
    name: tasks
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/Task"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          Date:
            type:
              - string
              - "null"
          Type:
            type:
              - number
              - "null"
          Answer:
            type:
              - string
              - "null"
          Comment:
            type:
              - string
              - "null"
          Created:
            type:
              - string
              - "null"
          GroupId:
            type:
              - number
              - "null"
          Modified:
            type:
              - string
              - "null"
          OpUnitId:
            type:
              - number
              - "null"
          Question:
            type:
              - string
              - "null"
          SortOrder:
            type:
              - number
              - "null"
          UserEntry:
            type:
              - number
              - "null"
          TaskSetupId:
            type:
              - number
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              UserEntryInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
              UserResponsibleInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
          DayTimestamp:
            type:
              - number
              - "null"
          UserResponsible:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: news_feed
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/Memo"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          Id:
            type: number
          ShowFrom:
            type:
              - string
              - "null"
          Active:
            type:
              - boolean
              - "null"
          Content:
            type:
              - string
              - "null"
          Type:
            type:
              - number
              - "null"
          ConfirmText:
            type:
              - string
              - "null"
          Keyword:
            type:
              - string
              - "null"
          DisableComment:
            type:
              - boolean
              - "null"
          Creator:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Modified:
            type:
              - string
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  CustomPronouns:
                    type:
                      - string
                      - "null"
              Companies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    Id:
                      type:
                        - number
                        - "null"
                    Code:
                      type:
                        - string
                        - "null"
                    Active:
                      type:
                        - boolean
                        - "null"
                    ParentCompany:
                      type:
                        - number
                        - "null"
                    CompanyName:
                      type:
                        - string
                        - "null"
                    BusinessNumber:
                      type:
                        - string
                        - "null"
                    CompanyNumber:
                      type:
                        - string
                        - "null"
                    IsWorkplace:
                      type:
                        - boolean
                        - "null"
                    IsPayrollEntity:
                      type:
                        - boolean
                        - "null"
                    Address:
                      type:
                        - number
                        - "null"
                    Creator:
                      type:
                        - number
                        - "null"
                    Created:
                      type:
                        - string
                        - "null"
                    Modified:
                      type:
                        - string
                        - "null"
                    _DPMetaData:
                      type:
                        - object
                        - "null"
                      properties:
                        System:
                          type:
                            - string
                            - "null"
                        CreatorInfo:
                          type:
                            - object
                            - "null"
                          properties:
                            Id:
                              type:
                                - number
                                - "null"
                            DisplayName:
                              type:
                                - string
                                - "null"
                            EmployeeProfile:
                              type:
                                - number
                                - "null"
                            Employee:
                              type:
                                - number
                                - "null"
                            Photo:
                              type:
                                - string
                                - "null"
                            Pronouns:
                              type:
                                - number
                                - "null"
                        AddressObject:
                          type:
                            - object
                            - "null"
                          properties:
                            Id:
                              type:
                                - number
                                - "null"
                            Street1:
                              type:
                                - string
                                - "null"
                            Street2:
                              type:
                                - string
                                - "null"
                            City:
                              type:
                                - string
                                - "null"
                            State:
                              type:
                                - string
                                - "null"
                            Postcode:
                              type:
                                - string
                                - "null"
                            Country:
                              type:
                                - number
                                - "null"
                            Notes:
                              type:
                                - string
                                - "null"
                            Creator:
                              type:
                                - number
                                - "null"
                            Created:
                              type:
                                - string
                                - "null"
                            Modified:
                              type:
                                - string
                                - "null"
                            Verified:
                              type:
                                - string
                                - "null"
                            Print:
                              type:
                                - string
                                - "null"
                            PrintFull:
                              type:
                                - string
                                - "null"
                        Geo:
                          type:
                            - object
                            - "null"
                          properties:
                            Id:
                              type:
                                - number
                                - "null"
                            Orm:
                              type:
                                - string
                                - "null"
                            RecId:
                              type:
                                - number
                                - "null"
                            Longitude:
                              type:
                                - number
                                - "null"
                            Latitude:
                              type:
                                - number
                                - "null"
                            Creator:
                              type:
                                - number
                                - "null"
                            Created:
                              type:
                                - string
                                - "null"
                            Modified:
                              type:
                                - string
                                - "null"
                        CustomData:
                          type:
                            - object
                            - "null"
                          properties: {}
              Teams:
                type:
                  - array
                  - "null"
              CanDelete:
                type:
                  - boolean
                  - "null"
              Files:
                type:
                  - array
                  - "null"
              AssignedUsers:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    Id:
                      type:
                        - number
                        - "null"
                    DisplayName:
                      type:
                        - string
                        - "null"
                    EmployeeProfile:
                      type:
                        - number
                        - "null"
                    Employee:
                      type:
                        - number
                        - "null"
                    Photo:
                      type:
                        - string
                        - "null"
                    Pronouns:
                      type:
                        - number
                        - "null"
                    CustomPronouns:
                      type:
                        - string
                        - "null"
              Reactions:
                type:
                  - object
                  - "null"
                properties:
                  "1":
                    type:
                      - number
                      - "null"
                  "2":
                    type:
                      - number
                      - "null"
                  "3":
                    type:
                      - number
                      - "null"
                  "4":
                    type:
                      - number
                      - "null"
                  "5":
                    type:
                      - number
                      - "null"
                  "6":
                    type:
                      - number
                      - "null"
              UserReaction:
                type:
                  - array
                  - "null"
              Comments:
                type:
                  - array
                  - "null"
              RequireConfirmation:
                type:
                  - boolean
                  - "null"
              RequireMyConfirm:
                type:
                  - boolean
                  - "null"
              MemoLogs:
                type:
                  - array
                  - "null"
        required:
          - Id
        additionalProperties: true
  - type: DeclarativeStream
    name: addresses
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/Address"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          City:
            type:
              - string
              - "null"
          Print:
            type:
              - string
              - "null"
          State:
            type:
              - string
              - "null"
          Country:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          Street1:
            type:
              - string
              - "null"
          Modified:
            type:
              - string
              - "null"
          Postcode:
            type:
              - string
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: categories
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/Category"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          Group:
            type:
              - string
              - "null"
          System:
            type:
              - boolean
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          Category:
            type:
              - string
              - "null"
          Modified:
            type:
              - string
              - "null"
          Stafflog:
            type:
              - boolean
              - "null"
          SortOrder:
            type:
              - number
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: comments
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/Comment"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          Orm:
            type:
              - string
              - "null"
          RecId:
            type:
              - number
              - "null"
          InFeed:
            type:
              - boolean
              - "null"
          Comment:
            type:
              - string
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          Modified:
            type:
              - string
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
          IgnorePermission:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: company_periods
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/CompanyPeriod"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          End:
            type:
              - number
              - "null"
          Start:
            type:
              - number
              - "null"
          Company:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          DateEnd:
            type:
              - string
              - "null"
          Modified:
            type:
              - string
              - "null"
          DateStart:
            type:
              - string
              - "null"
          PayPeriod:
            type:
              - number
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: employee_agreements
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/EmployeeAgreement"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          Active:
            type:
              - boolean
              - "null"
          Config:
            type:
              - string
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          EmpType:
            type:
              - number
              - "null"
          Contract:
            type:
              - number
              - "null"
          Modified:
            type:
              - string
              - "null"
          PayPoint:
            type:
              - number
              - "null"
          HistoryId:
            type:
              - number
              - "null"
          PayPeriod:
            type:
              - number
              - "null"
          PayrollId:
            type:
              - string
              - "null"
          StartDate:
            type:
              - string
              - "null"
          EmployeeId:
            type:
              - number
              - "null"
          CompanyName:
            type:
              - string
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
          ContractFile:
            type:
              - number
              - "null"
          SalaryPayRule:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: employee
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        url: "{{ config[\"base_url\"] }}/api/v1/resource/Employee"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - Id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Id
        properties:
          Id:
            type: number
          Role:
            type:
              - number
              - "null"
          Photo:
            type:
              - number
              - "null"
          Active:
            type:
              - boolean
              - "null"
          UserId:
            type:
              - number
              - "null"
          Company:
            type:
              - number
              - "null"
          Contact:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          LastName:
            type:
              - string
              - "null"
          Modified:
            type:
              - string
              - "null"
          Pronouns:
            type:
              - number
              - "null"
          FirstName:
            type:
              - string
              - "null"
          HistoryId:
            type:
              - number
              - "null"
          StartDate:
            type:
              - string
              - "null"
          DisplayName:
            type:
              - string
              - "null"
          _DPMetaData:
            type:
              - object
              - "null"
            properties:
              System:
                type:
                  - string
                  - "null"
              CreatorInfo:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - number
                      - "null"
                  Photo:
                    type:
                      - string
                      - "null"
                  Employee:
                    type:
                      - number
                      - "null"
                  Pronouns:
                    type:
                      - number
                      - "null"
                  DisplayName:
                    type:
                      - string
                      - "null"
                  EmployeeProfile:
                    type:
                      - number
                      - "null"
          StressProfile:
            type:
              - number
              - "null"
          AllowAppraisal:
            type:
              - boolean
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - base_url
      - api_key
    properties:
      api_key:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
      base_url:
        type: string
        description: The base url for your deputy account to make API requests
        order: 0
        title: Base URL
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    tasks:
      hasRecords: false
      streamHash: 773c527a35c74383559778db3609e0239f286b69
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    comments:
      hasRecords: true
      streamHash: 9d23f04869592fd2677fbc0831ba4e9459a00e4e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    employee:
      hasRecords: true
      streamHash: c7b8e61416e2bac7ee41e43a918d945081e92356
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    addresses:
      hasRecords: true
      streamHash: 649a48479802de0ec534864451ff11133a342f6e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    employees:
      hasRecords: true
      streamHash: 7a7c2909cbbd0443d5465c2575bac45cbd6e669a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    locations:
      hasRecords: true
      streamHash: b36f59510c29852826ce956d16d2f72d4bd3bd2e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    news_feed:
      hasRecords: true
      streamHash: ac2172231318877c6eb68a594eafb8e3f33e96e0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    categories:
      hasRecords: true
      streamHash: 8868489ef8e3fe57a9fa39c246b6bd5039665919
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    timesheets:
      hasRecords: true
      streamHash: 7ff8bfacddcbc4373dfe303f970487834072f7fa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: true
    award_lists:
      hasRecords: true
      streamHash: 227bf7d420b60c1c7c77ba995a36504548658c4e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    departments:
      hasRecords: true
      streamHash: e8de6171bb9b6eca67b847b6e0c75c6ba5d4a680
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    company_periods:
      hasRecords: true
      streamHash: 3a77170b7f6f6874d5a9a5c0e3b3b58f6d549a0a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    employee_agreements:
      hasRecords: true
      streamHash: 0b0f62833706ce6891347513c900b9e9830556d4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    tasks: true
    comments: true
    employee: true
    addresses: true
    employees: true
    locations: true
    news_feed: true
    categories: true
    timesheets: true
    award_lists: true
    departments: true
    company_periods: true
    employee_agreements: true
  applied_migrations:
    - from_version: 5.16.0
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2026-08-11T13:59:22.476106+00:00"
    - from_version: 5.16.0
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2026-08-11T13:59:22.479450+00:00"
    - from_version: 5.16.0
      to_version: "*"
      migration: HttpRequesterRequestBodyJsonDataToRequestBody
      migrated_at: "2026-08-11T13:59:22.482534+00:00"
