version: 5.11.1

type: DeclarativeSource

description: |-
  A manifest-only source for Deputy
  https://www.deputy.com/

check:
  type: CheckStream
  stream_names:
    - check_stream

definitions:
  streams:
    check_stream:
      type: DeclarativeStream
      name: check_stream
      primary_key:
        - UserId
        - EmployeeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/check_stream"
    employees:
      type: DeclarativeStream
      name: employees
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /management/v2/employees
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - "*"
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
            stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees"
    timesheets:
      type: DeclarativeStream
      name: timesheets
      primary_key:
        - Id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/resource/Timesheet/QUERY
          http_method: POST
          request_body_json:
            search: >-
              {"s1": {"field": "StartTime", "data":{{
              timestamp(config["start_time"]) }}, "type": "gt" }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
            stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/timesheets"
    employee_pay_conditions:
      type: DeclarativeStream
      name: employee_pay_conditions
      primary_key:
        - Id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/resource/EmployeeAgreement/QUERY
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
            stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employee_pay_conditions"
    shifts:
      type: DeclarativeStream
      name: shifts
      primary_key:
        - Id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/resource/Roster/QUERY
          http_method: POST
          request_body_json:
            search: >-
              {"s1": {"field": "StartTime", "data":{{
              timestamp(config["start_time"]) }}, "type": "gt" }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
            stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shifts"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - Id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/resource/Contact
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
            stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    geos:
      type: DeclarativeStream
      name: geos
      primary_key:
        - Id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/resource/Geo
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
            stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/geos"
    leaves:
      type: DeclarativeStream
      name: leaves
      primary_key:
        - Id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/resource/Leave
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
            stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leaves"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['install'] }}.{{ config['geo'] }}.deputy.com/api
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: refresh_token
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_token: "{{ config[\"refresh_token\"] }}"
      expires_in_name: expires_in
      access_token_name: access_token
      refresh_request_body:
        scope: longlife_refresh_token
        redirect_uri: "{{ config[\"redirect_uri\"] }}"
      refresh_token_updater:
        refresh_token_name: refresh_token
        access_token_config_path:
          - oauth_access_token
        token_expiry_date_config_path:
          - oauth_token_expiry_date
        refresh_token_config_path:
          - refresh_token
      token_refresh_endpoint: >-
        https://{{ config["install"] }}.{{ config["geo"]
        }}.deputy.com/oauth/access_token

streams:
  - $ref: "#/definitions/streams/check_stream"
  - $ref: "#/definitions/streams/employees"
  - $ref: "#/definitions/streams/timesheets"
  - $ref: "#/definitions/streams/employee_pay_conditions"
  - $ref: "#/definitions/streams/shifts"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/geos"
  - $ref: "#/definitions/streams/leaves"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - install
      - geo
      - client_id
      - client_secret
      - refresh_token
      - redirect_uri
    properties:
      install:
        type: string
        description: >-
          The specific subdomain for the customer's Deputy installation. Your
          deputy url is of the form https://{install}.{geo}.deputy.com 
        name: install
        order: 0
        title: Installation Subdomain
      geo:
        type: string
        description: >-
          The geographical subdomain indicating the region of the Deputy
          installation. Your Deputy url is of the form
          https://{install}.{geo}.deputy.com
        name: geo
        order: 1
        title: Geographical Subdomain
      client_id:
        type: string
        name: client_id
        order: 2
        title: OAuth Client ID
        airbyte_secret: true
      client_secret:
        type: string
        name: client_secret
        order: 3
        title: OAuth Client Secret
        airbyte_secret: true
      refresh_token:
        type: string
        name: refresh_token
        order: 4
        title: OAuth Refresh Token
        airbyte_secret: true
      redirect_uri:
        type: string
        description: The redirect URL that has been set for your application
        order: 5
        title: Redirect URI
      oauth_access_token:
        type: string
        description: >-
          The current access token. This field might be overridden by the
          connector based on the token refresh endpoint response.
        order: 6
        title: Access token
        airbyte_secret: true
      oauth_token_expiry_date:
        type: string
        description: >-
          The date the current access token expires in. This field might be
          overridden by the connector based on the token refresh endpoint
          response.
        order: 7
        title: Token expiry date
        format: date-time
      start_time:
        type: string
        description: >-
          The earliest time date based/historical streams need to be streamed
          from
        title: Start Time
        default: "2024-01-01T00:00:00Z"
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        format: date-time
        order: 8
    additionalProperties: true

metadata:
  autoImportSchema:
    check_stream: true
    employees: true
    timesheets: true
    employee_pay_conditions: true
    shifts: true
    contacts: true
    geos: true
    leaves: true
  testedStreams:
    check_stream:
      streamHash: 387d691a162a74bddb7bfb8d36d5850499067478
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    employees:
      streamHash: 9660bd32e5fc516a441ddbe991032d15fc40cb2c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    timesheets:
      streamHash: 990a038a9f5f9bd6eda7e475fbdda74f6fdaf7c6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    employee_pay_conditions:
      streamHash: b1f03b02cd8ced994f5296d6a821d0097d93a997
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    shifts:
      streamHash: f0694102b4d46c774365b2e17081f8c6520830d6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: 49e957961f1d2cef86c54a2bb390d6e93f8bdfea
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    geos:
      streamHash: d39e3e757eb223c47f565451e4df2fb13edb6add
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leaves:
      streamHash: f7fe21f26c4ec16ed307fba4b8b391f33f642a9a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.deputy.com/deputy-docs/docs/

schemas:
  check_stream:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CalendarURL:
        type:
          - string
          - "null"
      Company:
        type:
          - number
          - "null"
      CompanyObject:
        type:
          - object
          - "null"
        properties:
          Active:
            type:
              - boolean
              - "null"
          Address:
            type:
              - number
              - "null"
          BusinessNumber:
            type:
              - string
              - "null"
          Code:
            type:
              - string
              - "null"
          CompanyName:
            type:
              - string
              - "null"
          Contact:
            type:
              - number
              - "null"
          Created:
            type:
              - string
              - "null"
          Creator:
            type:
              - number
              - "null"
          Id:
            type:
              - number
              - "null"
          IsPayrollEntity:
            type:
              - boolean
              - "null"
          IsWorkplace:
            type:
              - boolean
              - "null"
          Modified:
            type:
              - string
              - "null"
          ParentCompany:
            type:
              - number
              - "null"
          PayrollExportCode:
            type:
              - string
              - "null"
          TradingName:
            type:
              - string
              - "null"
      DeputyVersion:
        type:
          - string
          - "null"
      EmployeeId:
        type: number
      FirstName:
        type:
          - string
          - "null"
      JournalCategories:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Category:
              type:
                - string
                - "null"
            Created:
              type:
                - string
                - "null"
            Creator:
              type:
                - number
                - "null"
            Group:
              type:
                - string
                - "null"
            Id:
              type:
                - number
                - "null"
            Modified:
              type:
                - string
                - "null"
            SortOrder:
              type:
                - number
                - "null"
            Stafflog:
              type:
                - boolean
                - "null"
            System:
              type:
                - boolean
                - "null"
            _DPMetaData:
              type:
                - object
                - "null"
              properties:
                CreatorInfo:
                  type:
                    - object
                    - "null"
                  properties:
                    DisplayName:
                      type:
                        - string
                        - "null"
                    Employee:
                      type:
                        - number
                        - "null"
                    EmployeeProfile:
                      type:
                        - number
                        - "null"
                    Id:
                      type:
                        - number
                        - "null"
                    Photo:
                      type:
                        - string
                        - "null"
                    Pronouns:
                      type:
                        - number
                        - "null"
                System:
                  type:
                    - string
                    - "null"
      LastName:
        type:
          - string
          - "null"
      Login:
        type:
          - string
          - "null"
      MemosToConfirm:
        type:
          - array
          - "null"
      Name:
        type:
          - string
          - "null"
      OPS:
        type:
          - array
          - "null"
      Permissions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      Pin:
        type:
          - string
          - "null"
      Portfolio:
        type:
          - string
          - "null"
      PrimaryEmail:
        type:
          - string
          - "null"
      PrimaryPhone:
        type:
          - string
          - "null"
      UserId:
        type: number
      UserObjectForAPI:
        type:
          - object
          - "null"
        properties:
          DisplayName:
            type:
              - string
              - "null"
          Employee:
            type:
              - number
              - "null"
          Id:
            type:
              - number
              - "null"
          Photo:
            type:
              - string
              - "null"
      UserSince:
        type:
          - string
          - "null"
    required:
      - UserId
      - EmployeeId
  employees:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      allowAppraisal:
        type:
          - boolean
          - "null"
      contact:
        type:
          - object
          - "null"
        properties:
          email1:
            type:
              - string
              - "null"
          email1Type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          phone1:
            type:
              - string
              - "null"
          phone1Type:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      customFieldData:
        type:
          - array
          - "null"
      displayName:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      higherDuty:
        type:
          - boolean
          - "null"
      history:
        type:
          - string
          - "null"
      id:
        type: string
      lastName:
        type:
          - string
          - "null"
      modifiedAt:
        type:
          - string
          - "null"
      primaryLocation:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
      pronouns:
        type:
          - object
          - "null"
        properties:
          pronouns:
            type:
              - string
              - "null"
          pronounsId:
            type:
              - string
              - "null"
      role:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
      startDate:
        type:
          - string
          - "null"
      stressProfile:
        type:
          - object
          - "null"
        properties:
          createdAt:
            type:
              - string
              - "null"
          gapHoursBetweenShifts:
            type:
              - number
              - "null"
          id:
            type:
              - string
              - "null"
          maxDaysPerPeriod:
            type:
              - number
              - "null"
          maxHoursPerDay:
            type:
              - number
              - "null"
          maxHoursPerPeriod:
            type:
              - number
              - "null"
          maxHoursPerShift:
            type:
              - number
              - "null"
          modifiedAt:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      trainingRecords:
        type:
          - array
          - "null"
      user:
        type:
          - object
          - "null"
        properties:
          login:
            type:
              - string
              - "null"
          sendInvite:
            type:
              - boolean
              - "null"
      workplaces:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            agreement:
              type:
                - object
                - "null"
              properties:
                active:
                  type:
                    - boolean
                    - "null"
                contract:
                  type:
                    - object
                    - "null"
                  properties:
                    id:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                createdAt:
                  type:
                    - string
                    - "null"
                employmentType:
                  type:
                    - string
                    - "null"
                history:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                modifiedAt:
                  type:
                    - string
                    - "null"
                payCenter:
                  type:
                    - object
                    - "null"
                  properties:
                    id:
                      type:
                        - string
                        - "null"
                payPeriod:
                  type:
                    - string
                    - "null"
                payrollId:
                  type:
                    - string
                    - "null"
                startDate:
                  type:
                    - string
                    - "null"
            createdAt:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            location:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
            modifiedAt:
              type:
                - string
                - "null"
            sortOrder:
              type:
                - number
                - "null"
    required:
      - id
  timesheets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AutoPayRuleApproved:
        type:
          - boolean
          - "null"
      AutoProcessed:
        type:
          - boolean
          - "null"
      AutoRounded:
        type:
          - boolean
          - "null"
      AutoTimeApproved:
        type:
          - boolean
          - "null"
      Cost:
        type:
          - number
          - "null"
      Created:
        type:
          - string
          - "null"
      Creator:
        type:
          - number
          - "null"
      Date:
        type:
          - string
          - "null"
      Disputed:
        type:
          - boolean
          - "null"
      Employee:
        type:
          - number
          - "null"
      EmployeeAgreement:
        type:
          - number
          - "null"
      EmployeeComment:
        type:
          - string
          - "null"
      EmployeeHistory:
        type:
          - number
          - "null"
      EndTime:
        type:
          - number
          - "null"
      EndTimeLocalized:
        type:
          - string
          - "null"
      Id:
        type: number
      Invoiced:
        type:
          - boolean
          - "null"
      IsInProgress:
        type:
          - boolean
          - "null"
      IsLeave:
        type:
          - boolean
          - "null"
      MarkedPaidUnpaidAt:
        type:
          - string
          - "null"
      Mealbreak:
        type:
          - string
          - "null"
      MealbreakSlots:
        type:
          - string
          - "null"
      Metadata:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      OnCost:
        type:
          - number
          - "null"
      OperationalUnit:
        type:
          - number
          - "null"
      PayRuleApproved:
        type:
          - boolean
          - "null"
      PayStaged:
        type:
          - boolean
          - "null"
      PaycycleId:
        type:
          - number
          - "null"
      RealTime:
        type:
          - boolean
          - "null"
      ReviewState:
        type:
          - number
          - "null"
      Roster:
        type:
          - number
          - "null"
      Slots:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            blnEmptySlot:
              type:
                - boolean
                - "null"
            intEnd:
              type:
                - number
                - "null"
            intStart:
              type:
                - number
                - "null"
            intUnixEnd:
              type:
                - number
                - "null"
            intUnixStart:
              type:
                - number
                - "null"
            mixedActivity:
              type:
                - object
                - "null"
              properties:
                blnCanEndEarly:
                  type:
                    - number
                    - "null"
                blnCanStartEarly:
                  type:
                    - number
                    - "null"
                blnIsMandatory:
                  type:
                    - number
                    - "null"
                intState:
                  type:
                    - number
                    - "null"
                strBreakType:
                  type:
                    - string
                    - "null"
            strState:
              type:
                - string
                - "null"
            strType:
              type:
                - string
                - "null"
            strTypeName:
              type:
                - string
                - "null"
      StartTime:
        type:
          - number
          - "null"
      StartTimeLocalized:
        type:
          - string
          - "null"
      TimeApproved:
        type:
          - boolean
          - "null"
      TimeApprover:
        type:
          - number
          - "null"
      TotalTime:
        type:
          - number
          - "null"
      TotalTimeInv:
        type:
          - number
          - "null"
      ValidationFlag:
        type:
          - number
          - "null"
      _DPMetaData:
        type:
          - object
          - "null"
        properties:
          CreatorInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              EmployeeProfile:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
              Pronouns:
                type:
                  - number
                  - "null"
          EmployeeInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              EmployeeProfile:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
              Pronouns:
                type:
                  - number
                  - "null"
          OperationalUnitInfo:
            type:
              - object
              - "null"
            properties:
              Company:
                type:
                  - number
                  - "null"
              CompanyName:
                type:
                  - string
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              LabelWithCompany:
                type:
                  - string
                  - "null"
              OperationalUnitName:
                type:
                  - string
                  - "null"
          System:
            type:
              - string
              - "null"
    required:
      - Id
  employee_pay_conditions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Active:
        type:
          - boolean
          - "null"
      CompanyName:
        type:
          - string
          - "null"
      Config:
        type:
          - string
          - "null"
      Contract:
        type:
          - number
          - "null"
      ContractFile:
        type:
          - number
          - "null"
      Created:
        type:
          - string
          - "null"
      Creator:
        type:
          - number
          - "null"
      EmpType:
        type:
          - number
          - "null"
      EmployeeId:
        type:
          - number
          - "null"
      HistoryId:
        type:
          - number
          - "null"
      Id:
        type: number
      Modified:
        type:
          - string
          - "null"
      PayPeriod:
        type:
          - number
          - "null"
      PayPoint:
        type:
          - number
          - "null"
      PayrollId:
        type:
          - string
          - "null"
      SalaryPayRule:
        type:
          - number
          - "null"
      StartDate:
        type:
          - string
          - "null"
      _DPMetaData:
        type:
          - object
          - "null"
        properties:
          CreatorInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              EmployeeProfile:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
              Pronouns:
                type:
                  - number
                  - "null"
          System:
            type:
              - string
              - "null"
    required:
      - Id
  shifts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ApprovalRequired:
        type:
          - boolean
          - "null"
      Comment:
        type:
          - string
          - "null"
      ConfirmBy:
        type:
          - number
          - "null"
      ConfirmComment:
        type:
          - string
          - "null"
      ConfirmStatus:
        type:
          - number
          - "null"
      ConfirmTime:
        type:
          - number
          - "null"
      Cost:
        type:
          - number
          - "null"
      Created:
        type:
          - string
          - "null"
      Creator:
        type:
          - number
          - "null"
      Date:
        type:
          - string
          - "null"
      Employee:
        type:
          - number
          - "null"
      EndTime:
        type:
          - number
          - "null"
      EndTimeLocalized:
        type:
          - string
          - "null"
      Id:
        type: number
      MatchedByTimesheet:
        type:
          - number
          - "null"
      Mealbreak:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      OnCost:
        type:
          - number
          - "null"
      Open:
        type:
          - boolean
          - "null"
      OperationalUnit:
        type:
          - number
          - "null"
      Published:
        type:
          - boolean
          - "null"
      ShiftTemplate:
        type:
          - number
          - "null"
      Slots:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            blnEmptySlot:
              type:
                - boolean
                - "null"
            intEnd:
              type:
                - number
                - "null"
            intStart:
              type:
                - number
                - "null"
            intUnixEnd:
              type:
                - number
                - "null"
            intUnixStart:
              type:
                - number
                - "null"
            mixedActivity:
              type:
                - object
                - "null"
              properties:
                blnCanEndEarly:
                  type:
                    - number
                    - "null"
                blnCanStartEarly:
                  type:
                    - number
                    - "null"
                blnIsMandatory:
                  type:
                    - number
                    - "null"
                intState:
                  type:
                    - number
                    - "null"
                strBreakType:
                  type:
                    - string
                    - "null"
            strState:
              type:
                - string
                - "null"
            strType:
              type:
                - string
                - "null"
            strTypeName:
              type:
                - string
                - "null"
      StartTime:
        type:
          - number
          - "null"
      StartTimeLocalized:
        type:
          - string
          - "null"
      SwapStatus:
        type:
          - number
          - "null"
      TotalTime:
        type:
          - number
          - "null"
      Warning:
        type:
          - string
          - "null"
      WarningOverrideComment:
        type:
          - string
          - "null"
      _DPMetaData:
        type:
          - object
          - "null"
        properties:
          CreatorInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              EmployeeProfile:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
              Pronouns:
                type:
                  - number
                  - "null"
          EmployeeInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              EmployeeProfile:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
              Pronouns:
                type:
                  - number
                  - "null"
          OperationalUnitInfo:
            type:
              - object
              - "null"
            properties:
              Company:
                type:
                  - number
                  - "null"
              CompanyName:
                type:
                  - string
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              LabelWithCompany:
                type:
                  - string
                  - "null"
              OperationalUnitName:
                type:
                  - string
                  - "null"
          SwapManageByInfo:
            type:
              - array
              - "null"
          System:
            type:
              - string
              - "null"
    required:
      - Id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Created:
        type:
          - string
          - "null"
      Creator:
        type:
          - number
          - "null"
      Email:
        type:
          - string
          - "null"
      Email1:
        type:
          - string
          - "null"
      Email1Type:
        type:
          - string
          - "null"
      Email2:
        type:
          - string
          - "null"
      Id:
        type: number
      Mobile:
        type:
          - string
          - "null"
      Modified:
        type:
          - string
          - "null"
      Phone1:
        type:
          - string
          - "null"
      Phone1Type:
        type:
          - string
          - "null"
      Phone2:
        type:
          - string
          - "null"
      Phone3:
        type:
          - string
          - "null"
      PrimaryEmail:
        type:
          - number
          - "null"
      PrimaryPhone:
        type:
          - number
          - "null"
      Saved:
        type:
          - boolean
          - "null"
      _DPMetaData:
        type:
          - object
          - "null"
        properties:
          CreatorInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              EmployeeProfile:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
              Pronouns:
                type:
                  - number
                  - "null"
          System:
            type:
              - string
              - "null"
    required:
      - Id
  geos:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Created:
        type:
          - string
          - "null"
      Creator:
        type:
          - number
          - "null"
      Id:
        type: number
      Latitude:
        type:
          - number
          - "null"
      Longitude:
        type:
          - number
          - "null"
      Modified:
        type:
          - string
          - "null"
      Orm:
        type:
          - string
          - "null"
      RecId:
        type:
          - number
          - "null"
      _DPMetaData:
        type:
          - object
          - "null"
        properties:
          CreatorInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              EmployeeProfile:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
              Pronouns:
                type:
                  - number
                  - "null"
          System:
            type:
              - string
              - "null"
    required:
      - Id
  leaves:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AllDay:
        type:
          - boolean
          - "null"
      ApprovalComment:
        type:
          - string
          - "null"
      ApproverPay:
        type:
          - number
          - "null"
      ApproverTime:
        type:
          - number
          - "null"
      Company:
        type:
          - number
          - "null"
      Created:
        type:
          - string
          - "null"
      Creator:
        type:
          - number
          - "null"
      DateEnd:
        type:
          - string
          - "null"
      DateEndAllDay:
        type:
          - boolean
          - "null"
      DateStart:
        type:
          - string
          - "null"
      DateStartAllDay:
        type:
          - boolean
          - "null"
      Days:
        type:
          - number
          - "null"
      Employee:
        type:
          - number
          - "null"
      EmployeeHistory:
        type:
          - number
          - "null"
      End:
        type:
          - number
          - "null"
      EndTimeLocalized:
        type:
          - string
          - "null"
      Id:
        type: number
      LeavePayLineArray:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Comment:
              type:
                - string
                - "null"
            Created:
              type:
                - string
                - "null"
            Creator:
              type:
                - number
                - "null"
            Date:
              type:
                - string
                - "null"
            EmployeeAgreement:
              type:
                - number
                - "null"
            EndTime:
              type:
                - string
                - "null"
            EndTimeLocalized:
              type:
                - string
                - "null"
            Hours:
              type:
                - string
                - "null"
            Id:
              type:
                - number
                - "null"
            LeaveId:
              type:
                - number
                - "null"
            LeaveRule:
              type:
                - number
                - "null"
            Modified:
              type:
                - string
                - "null"
            StartTime:
              type:
                - string
                - "null"
            StartTimeLocalized:
              type:
                - string
                - "null"
            TimeZone:
              type:
                - string
                - "null"
      LeaveRule:
        type:
          - number
          - "null"
      Modified:
        type:
          - string
          - "null"
      NotifyManagerArray:
        type:
          - array
          - "null"
      Start:
        type:
          - number
          - "null"
      StartTimeLocalized:
        type:
          - string
          - "null"
      Status:
        type:
          - number
          - "null"
      TimeZone:
        type:
          - string
          - "null"
      TotalHours:
        type:
          - number
          - "null"
      _DPMetaData:
        type:
          - object
          - "null"
        properties:
          ApproverInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
          CreatorInfo:
            type:
              - object
              - "null"
            properties:
              DisplayName:
                type:
                  - string
                  - "null"
              Employee:
                type:
                  - number
                  - "null"
              EmployeeProfile:
                type:
                  - number
                  - "null"
              Id:
                type:
                  - number
                  - "null"
              Photo:
                type:
                  - string
                  - "null"
              Pronouns:
                type:
                  - number
                  - "null"
          System:
            type:
              - string
              - "null"
    required:
      - Id
