@use "../../../../../scss/colors";
@use "../../../../../scss/variables";

.container {
  padding: variables.$spacing-xl;
  border-radius: variables.$border-radius-sm;
  overflow: hidden;
}

.card {
  background: colors.$white;
  border: variables.$border-thin solid colors.$grey-100;
  border-radius: variables.$border-radius-sm;
  min-height: 70px;
  display: flex;
  align-items: center;
  margin: variables.$spacing-xs;
}
