version: 3.9.6

type: DeclarativeSource

description: This is a test contribution

check:
  type: CheckStream
  stream_names:
    - pokemon

definitions:
  streams:
    pokemon:
      type: DeclarativeStream
      name: pokemon
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: pokemon
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/pokemon'
  base_requester:
    type: HttpRequester
    url_base: https://pokeapi.co/api/v2

streams:
  - $ref: '#/definitions/streams/pokemon'

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required: []
    properties: {}
    additionalProperties: true

metadata:
  autoImportSchema:
    pokemon: true
  testedStreams:
    pokemon:
      streamHash: 5d9cfd9d1a551b4ab7fbd08d85234455a3be00a4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true

schemas:
  pokemon:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      count:
        type:
          - number
          - 'null'
      next:
        type:
          - string
          - 'null'
      results:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            name:
              type:
                - string
                - 'null'
            url:
              type:
                - string
                - 'null'
