version: 5.14.0

type: DeclarativeSource

description: " Vercel connector  enables seamless data sync between Vercel projects and various destinations. This integration simplifies real-time deployments, analytics, and automated workflows by bridging data from Vercel to your destination."

check:
  type: CheckStream
  stream_names:
    - projects

definitions:
  streams:
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v9/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    user:
      type: DeclarativeStream
      name: user
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user"
    deployments:
      type: DeclarativeStream
      name: deployments
      primary_key:
        - uid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v6/deployments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - deployments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdAt
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: since
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deployments"
    environments:
      type: DeclarativeStream
      name: environments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v9/projects/{{ stream_partition.project }}/env
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - envs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: project
              stream:
                $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/environments"
    auth_tokens:
      type: DeclarativeStream
      name: auth_tokens
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v5/user/tokens
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tokens
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/auth_tokens"
    aliases:
      type: DeclarativeStream
      name: aliases
      primary_key:
        - uid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v4/aliases
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - aliases
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/aliases"
    deployment_events:
      type: DeclarativeStream
      name: deployment_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/deployments/{{ stream_partition.deployment }}/events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: uid
              partition_field: deployment
              stream:
                $ref: "#/definitions/streams/deployments"
              incremental_dependency: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deployment_events"
    teams_member:
      type: DeclarativeStream
      name: teams_member
      primary_key:
        - uid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/teams/{{stream_slice.team_id}}/members
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - members
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: until
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                $ref: "#/definitions/streams/teams"
      transformations:
        - type: AddFields
          fields:
            - path:
                - team_id
              value: "{{ stream_slice.team_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams_member"
  base_requester:
    type: HttpRequester
    url_base: https://api.vercel.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"access_token\"] }}"

streams:
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/user"
  - $ref: "#/definitions/streams/deployments"
  - $ref: "#/definitions/streams/environments"
  - $ref: "#/definitions/streams/auth_tokens"
  - $ref: "#/definitions/streams/aliases"
  - $ref: "#/definitions/streams/deployment_events"
  - $ref: "#/definitions/streams/teams_member"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
      - start_date
    properties:
      access_token:
        type: string
        description: >-
          Access token to authenticate with the Vercel API. Create and manage
          tokens in your Vercel account settings.
        name: access_token
        order: 0
        title: Access Token
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    projects: true
    teams: true
    user: true
    deployments: true
    environments: true
    auth_tokens: true
    aliases: true
    deployment_events: true
    teams_member: true
  testedStreams:
    projects:
      streamHash: 08d4d0f635315501525b1c7d058f34870a134971
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: f6df1fdcb85c0e373936f42ee426fb398d4d3c52
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    user:
      streamHash: fe64729451ad60d075bea483cc3928f4aa28b78e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    deployments:
      streamHash: a3e87fc94c169653383c09af49917e74853e8475
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    environments:
      streamHash: c6f89da72bc1d7d4b6c75a6d4c7fe32b83477574
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    auth_tokens:
      streamHash: 8aff4e26dd5e62214e25d42b7883b81e4396da8a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    aliases:
      streamHash: a0c3ba26db1e77b73f5ca19163b0094560ea58b5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    deployment_events:
      streamHash: c98259fe5ba16f73291e8ed24022a5ceb9c42bd7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams_member:
      streamHash: b674b20a696a1b8e71ae80a30373b3827a07e66e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://vercel.com/docs/rest-api

schemas:
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accountId:
        type:
          - string
          - "null"
      autoAssignCustomDomains:
        type:
          - boolean
          - "null"
      autoAssignCustomDomainsUpdatedBy:
        type:
          - string
          - "null"
      autoExposeSystemEnvs:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      crons:
        type:
          - object
          - "null"
        properties:
          definitions:
            type:
              - array
              - "null"
          deploymentId:
            type:
              - string
              - "null"
          enabledAt:
            type:
              - number
              - "null"
          updatedAt:
            type:
              - number
              - "null"
      directoryListing:
        type:
          - boolean
          - "null"
      env:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            comment:
              type:
                - string
                - "null"
            createdAt:
              type:
                - number
                - "null"
            createdBy:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            key:
              type:
                - string
                - "null"
            target:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            updatedAt:
              type:
                - number
                - "null"
            value:
              type:
                - string
                - "null"
      framework:
        type:
          - string
          - "null"
      gitComments:
        type:
          - object
          - "null"
        properties:
          onCommit:
            type:
              - boolean
              - "null"
          onPullRequest:
            type:
              - boolean
              - "null"
      gitForkProtection:
        type:
          - boolean
          - "null"
      gitLFS:
        type:
          - boolean
          - "null"
      id:
        type: string
      latestDeployments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            alias:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            aliasAssigned:
              type:
                - number
                - "null"
            automaticAliases:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            buildingAt:
              type:
                - number
                - "null"
            builds:
              type:
                - array
                - "null"
            createdAt:
              type:
                - number
                - "null"
            createdIn:
              type:
                - string
                - "null"
            creator:
              type:
                - object
                - "null"
              properties:
                email:
                  type:
                    - string
                    - "null"
                githubLogin:
                  type:
                    - string
                    - "null"
                uid:
                  type:
                    - string
                    - "null"
                username:
                  type:
                    - string
                    - "null"
            deploymentHostname:
              type:
                - string
                - "null"
            forced:
              type:
                - boolean
                - "null"
            id:
              type:
                - string
                - "null"
            meta:
              type:
                - object
                - "null"
              properties:
                branchAlias:
                  type:
                    - string
                    - "null"
                githubCommitAuthorLogin:
                  type:
                    - string
                    - "null"
                githubCommitAuthorName:
                  type:
                    - string
                    - "null"
                githubCommitMessage:
                  type:
                    - string
                    - "null"
                githubCommitOrg:
                  type:
                    - string
                    - "null"
                githubCommitRef:
                  type:
                    - string
                    - "null"
                githubCommitRepo:
                  type:
                    - string
                    - "null"
                githubCommitRepoId:
                  type:
                    - string
                    - "null"
                githubCommitSha:
                  type:
                    - string
                    - "null"
                githubDeployment:
                  type:
                    - string
                    - "null"
                githubOrg:
                  type:
                    - string
                    - "null"
                githubRepo:
                  type:
                    - string
                    - "null"
                githubRepoId:
                  type:
                    - string
                    - "null"
                githubRepoOwnerType:
                  type:
                    - string
                    - "null"
                githubRepoVisibility:
                  type:
                    - string
                    - "null"
            name:
              type:
                - string
                - "null"
            plan:
              type:
                - string
                - "null"
            previewCommentsEnabled:
              type:
                - boolean
                - "null"
            private:
              type:
                - boolean
                - "null"
            readyAt:
              type:
                - number
                - "null"
            readyState:
              type:
                - string
                - "null"
            readySubstate:
              type:
                - string
                - "null"
            target:
              type:
                - string
                - "null"
            teamId:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            userId:
              type:
                - string
                - "null"
            withCache:
              type:
                - boolean
                - "null"
      link:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          createdAt:
            type:
              - number
              - "null"
          deployHooks:
            type:
              - array
              - "null"
          gitCredentialId:
            type:
              - string
              - "null"
          org:
            type:
              - string
              - "null"
          productionBranch:
            type:
              - string
              - "null"
          repo:
            type:
              - string
              - "null"
          repoId:
            type:
              - number
              - "null"
          repoOwnerId:
            type:
              - number
              - "null"
          sourceless:
            type:
              - boolean
              - "null"
          updatedAt:
            type:
              - number
              - "null"
      live:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      nodeVersion:
        type:
          - string
          - "null"
      resourceConfig:
        type:
          - object
          - "null"
        properties:
          functionDefaultMemoryType:
            type:
              - string
              - "null"
      serverlessFunctionRegion:
        type:
          - string
          - "null"
      sourceFilesOutsideRootDirectory:
        type:
          - boolean
          - "null"
      speedInsights:
        type:
          - object
          - "null"
        properties:
          hasData:
            type:
              - boolean
              - "null"
          id:
            type:
              - string
              - "null"
      ssoProtection:
        type:
          - object
          - "null"
        properties:
          deploymentType:
            type:
              - string
              - "null"
      targets:
        type:
          - object
          - "null"
        properties:
          production:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              alias:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              aliasAssigned:
                type:
                  - number
                  - "null"
              automaticAliases:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              buildingAt:
                type:
                  - number
                  - "null"
              builds:
                type:
                  - array
                  - "null"
              createdAt:
                type:
                  - number
                  - "null"
              createdIn:
                type:
                  - string
                  - "null"
              creator:
                type:
                  - object
                  - "null"
                properties:
                  email:
                    type:
                      - string
                      - "null"
                  githubLogin:
                    type:
                      - string
                      - "null"
                  uid:
                    type:
                      - string
                      - "null"
                  username:
                    type:
                      - string
                      - "null"
              deploymentHostname:
                type:
                  - string
                  - "null"
              forced:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - string
                  - "null"
              meta:
                type:
                  - object
                  - "null"
                properties:
                  branchAlias:
                    type:
                      - string
                      - "null"
                  githubCommitAuthorLogin:
                    type:
                      - string
                      - "null"
                  githubCommitAuthorName:
                    type:
                      - string
                      - "null"
                  githubCommitMessage:
                    type:
                      - string
                      - "null"
                  githubCommitOrg:
                    type:
                      - string
                      - "null"
                  githubCommitRef:
                    type:
                      - string
                      - "null"
                  githubCommitRepo:
                    type:
                      - string
                      - "null"
                  githubCommitRepoId:
                    type:
                      - string
                      - "null"
                  githubCommitSha:
                    type:
                      - string
                      - "null"
                  githubDeployment:
                    type:
                      - string
                      - "null"
                  githubOrg:
                    type:
                      - string
                      - "null"
                  githubRepo:
                    type:
                      - string
                      - "null"
                  githubRepoId:
                    type:
                      - string
                      - "null"
                  githubRepoOwnerType:
                    type:
                      - string
                      - "null"
                  githubRepoVisibility:
                    type:
                      - string
                      - "null"
              name:
                type:
                  - string
                  - "null"
              plan:
                type:
                  - string
                  - "null"
              previewCommentsEnabled:
                type:
                  - boolean
                  - "null"
              private:
                type:
                  - boolean
                  - "null"
              readyAt:
                type:
                  - number
                  - "null"
              readyState:
                type:
                  - string
                  - "null"
              readySubstate:
                type:
                  - string
                  - "null"
              target:
                type:
                  - string
                  - "null"
              teamId:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              userId:
                type:
                  - string
                  - "null"
              withCache:
                type:
                  - boolean
                  - "null"
      updatedAt:
        type:
          - number
          - "null"
      webAnalytics:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billing:
        type:
          - object
          - "null"
        properties:
          billingVersion:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          plan:
            type:
              - string
              - "null"
          planIteration:
            type:
              - string
              - "null"
          platform:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
      created:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdDirectToHobby:
        type:
          - boolean
          - "null"
      creatorId:
        type:
          - string
          - "null"
      enabledInvoiceItems:
        type:
          - object
          - "null"
        properties:
          vercelMarketplace:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
      featureBlocks:
        type:
          - object
          - "null"
      id:
        type: string
      isMigratingToSensitiveEnvVars:
        type:
          - boolean
          - "null"
      membership:
        type:
          - object
          - "null"
        properties:
          confirmed:
            type:
              - boolean
              - "null"
          created:
            type:
              - number
              - "null"
          createdAt:
            type:
              - number
              - "null"
          role:
            type:
              - string
              - "null"
          teamId:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - number
              - "null"
      name:
        type:
          - string
          - "null"
      profiles:
        type:
          - array
          - "null"
      remoteCaching:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
      resourceConfig:
        type:
          - object
          - "null"
        properties:
          concurrentBuilds:
            type:
              - number
              - "null"
      sensitiveEnvironmentVariablePolicy:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      spaces:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
      stagingPrefix:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
    required:
      - id
  user:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - string
          - "null"
      billing:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          plan:
            type:
              - string
              - "null"
          platform:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
      createdAt:
        type:
          - number
          - "null"
      dataCache:
        type:
          - object
          - "null"
        properties:
          excessBillingEnabled:
            type:
              - boolean
              - "null"
      defaultTeamId:
        type:
          - string
          - "null"
      dismissedToasts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            dismissals:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  createdAt:
                    type:
                      - number
                      - "null"
                  scopeId:
                    type:
                      - string
                      - "null"
            name:
              type:
                - string
                - "null"
      email:
        type:
          - string
          - "null"
      featureBlocks:
        type:
          - object
          - "null"
      hasTrialAvailable:
        type:
          - boolean
          - "null"
      id:
        type:
          - string
          - "null"
      importFlowGitNamespaceId:
        type:
          - number
          - "null"
      importFlowGitProvider:
        type:
          - string
          - "null"
      remoteCaching:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
      resourceConfig:
        type:
          - object
          - "null"
        properties:
          concurrentBuilds:
            type:
              - number
              - "null"
      stagingPrefix:
        type:
          - string
          - "null"
      username:
        type:
          - string
          - "null"
  deployments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      aliasAssigned:
        type:
          - number
          - "null"
      buildingAt:
        type:
          - number
          - "null"
      created:
        type:
          - number
          - "null"
      createdAt:
        type: number
      creator:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          githubLogin:
            type:
              - string
              - "null"
          uid:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
      inspectorUrl:
        type:
          - string
          - "null"
      isRollbackCandidate:
        type:
          - boolean
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          action:
            type:
              - string
              - "null"
          branchAlias:
            type:
              - string
              - "null"
          githubCommitAuthorLogin:
            type:
              - string
              - "null"
          githubCommitAuthorName:
            type:
              - string
              - "null"
          githubCommitMessage:
            type:
              - string
              - "null"
          githubCommitOrg:
            type:
              - string
              - "null"
          githubCommitRef:
            type:
              - string
              - "null"
          githubCommitRepo:
            type:
              - string
              - "null"
          githubCommitRepoId:
            type:
              - string
              - "null"
          githubCommitSha:
            type:
              - string
              - "null"
          githubDeployment:
            type:
              - string
              - "null"
          githubOrg:
            type:
              - string
              - "null"
          githubRepo:
            type:
              - string
              - "null"
          githubRepoId:
            type:
              - string
              - "null"
          githubRepoOwnerType:
            type:
              - string
              - "null"
          githubRepoVisibility:
            type:
              - string
              - "null"
          originalDeploymentId:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      projectSettings:
        type:
          - object
          - "null"
        properties: {}
      ready:
        type:
          - number
          - "null"
      readyState:
        type:
          - string
          - "null"
      readySubstate:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      target:
        type:
          - string
          - "null"
      uid:
        type: string
      url:
        type:
          - string
          - "null"
    required:
      - uid
      - createdAt
  environments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      comment:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - string
          - "null"
      decrypted:
        type:
          - boolean
          - "null"
      id:
        type:
          - string
          - "null"
      key:
        type:
          - string
          - "null"
      lastEditedByDisplayName:
        type:
          - string
          - "null"
      target:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      updatedAt:
        type:
          - number
          - "null"
      value:
        type:
          - string
          - "null"
      vsmValue:
        type:
          - string
          - "null"
  auth_tokens:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      activeAt:
        type:
          - number
          - "null"
      createdAt:
        type:
          - number
          - "null"
      expiresAt:
        type:
          - number
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      origin:
        type:
          - string
          - "null"
      scopes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            createdAt:
              type:
                - number
                - "null"
            expiresAt:
              type:
                - number
                - "null"
            origin:
              type:
                - string
                - "null"
            teamId:
              type:
                - string
                - "null"
      teamId:
        type:
          - string
          - "null"
    required:
      - id
  aliases:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      alias:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      creator:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          uid:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
      deployment:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
      deploymentId:
        type:
          - string
          - "null"
      projectId:
        type:
          - string
          - "null"
      uid:
        type: string
      updatedAt:
        type: number
    required:
      - uid
      - updatedAt
  deployment_events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created:
        type:
          - number
          - "null"
      date:
        type:
          - number
          - "null"
      deploymentId:
        type:
          - string
          - "null"
      id:
        type: string
      info:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          entrypoint:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      level:
        type:
          - string
          - "null"
      serial:
        type:
          - string
          - "null"
      text:
        type:
          - string
          - "null"
    required:
      - id
  teams_member:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accessGroups:
        type:
          - array
          - "null"
      confirmed:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      github:
        type:
          - object
          - "null"
        properties:
          login:
            type:
              - string
              - "null"
      role:
        type:
          - string
          - "null"
      team_id:
        type:
          - string
          - "null"
      uid:
        type: string
      username:
        type:
          - string
          - "null"
    required:
      - uid
