version: 5.14.0

type: DeclarativeSource

description: " Vercel connector  enables seamless data sync between Vercel projects and various destinations. This integration simplifies real-time deployments, analytics, and automated workflows by bridging data from Vercel to your destination."

check:
  type: CheckStream
  stream_names:
    - projects

definitions:
  streams:
    user:
      type: DeclarativeStream
      name: user
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user"
    teams:
      type: DeclarativeStream
      name: teams
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    checks:
      type: DeclarativeStream
      name: checks
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/deployments/{{ stream_partition.deployment }}/checks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/deployments"
              parent_key: uid
              partition_field: deployment
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/checks"
    aliases:
      type: DeclarativeStream
      name: aliases
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v4/aliases
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - aliases
      primary_key:
        - uid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/aliases"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%ms"
        end_time_option:
          type: RequestOption
          field_name: until
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%ms"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v9/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    auth_tokens:
      type: DeclarativeStream
      name: auth_tokens
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v5/user/tokens
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tokens
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/auth_tokens"
    deployments:
      type: DeclarativeStream
      name: deployments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v6/deployments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - deployments
      primary_key:
        - uid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deployments"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdAt
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%ms"
        end_time_option:
          type: RequestOption
          field_name: until
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%ms"
    environments:
      type: DeclarativeStream
      name: environments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v9/projects/{{ stream_partition.project }}/env
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/projects"
              parent_key: id
              partition_field: project
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/environments"
    deployment_events:
      type: DeclarativeStream
      name: deployment_events
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: until
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/deployments/{{ stream_partition.deployment }}/events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/deployments"
              parent_key: uid
              partition_field: deployment
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deployment_events"
  base_requester:
    type: HttpRequester
    url_base: https://api.vercel.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"access_token\"] }}"

streams:
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/user"
  - $ref: "#/definitions/streams/deployments"
  - $ref: "#/definitions/streams/checks"
  - $ref: "#/definitions/streams/environments"
  - $ref: "#/definitions/streams/auth_tokens"
  - $ref: "#/definitions/streams/aliases"
  - $ref: "#/definitions/streams/deployment_events"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
      - start_date
    properties:
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      access_token:
        type: string
        description: >-
          Access token to authenticate with the Vercel API. Create and manage
          tokens in your Vercel account settings.
        name: access_token
        order: 0
        title: Access Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://vercel.com/docs/rest-api
  testedStreams:
    user:
      hasRecords: true
      streamHash: 7785ddea87b952b03c8f95575bf109fcdaf83227
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    teams:
      hasRecords: true
      streamHash: 4cb88e3b0366e01c69f2773dccb8282c6ca66b72
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    checks:
      hasRecords: true
      streamHash: 9787a8f9a683785814c578cab48f21c8b4918b25
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    aliases:
      hasRecords: true
      streamHash: 1a00369a2464fa1f41206a986bededa6af137094
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      hasRecords: true
      streamHash: 9d586fc9ad613d426efc3a52607dda8556ce3538
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    auth_tokens:
      hasRecords: true
      streamHash: 7cd907683d6216fa6f35ec87650aaabd10988046
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    deployments:
      hasRecords: true
      streamHash: 8442869f3ec80205c0500fc6e2f9b27437fdecb8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    environments:
      hasRecords: true
      streamHash: 1bdb211a6c1c4b0a32cf8e175f6400e5cb35894c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    deployment_events:
      hasRecords: true
      streamHash: 4bd1b4730c2b3f990942e1b7d086ff1831b69941
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    user: true
    teams: true
    checks: true
    aliases: true
    projects: true
    auth_tokens: true
    deployments: true
    environments: true
    deployment_events: true

schemas:
  user:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      user:
        type:
          - object
          - "null"
        properties:
          version:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          billing:
            type:
              - object
              - "null"
            properties:
              plan:
                type:
                  - string
                  - "null"
              status:
                type:
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
              platform:
                type:
                  - string
                  - "null"
          username:
            type:
              - string
              - "null"
          createdAt:
            type:
              - number
              - "null"
          dataCache:
            type:
              - object
              - "null"
            properties:
              excessBillingEnabled:
                type:
                  - boolean
                  - "null"
          defaultTeamId:
            type:
              - string
              - "null"
          featureBlocks:
            type:
              - object
              - "null"
          remoteCaching:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          stagingPrefix:
            type:
              - string
              - "null"
          resourceConfig:
            type:
              - object
              - "null"
            properties:
              concurrentBuilds:
                type:
                  - number
                  - "null"
          dismissedToasts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                dismissals:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      scopeId:
                        type:
                          - string
                          - "null"
                      createdAt:
                        type:
                          - number
                          - "null"
          hasTrialAvailable:
            type:
              - boolean
              - "null"
          importFlowGitProvider:
            type:
              - string
              - "null"
          importFlowGitNamespaceId:
            type:
              - number
              - "null"
    additionalProperties: true
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      spaces:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
      billing:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          plan:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          platform:
            type:
              - string
              - "null"
          planIteration:
            type:
              - string
              - "null"
          billingVersion:
            type:
              - number
              - "null"
      created:
        type:
          - string
          - "null"
      profiles:
        type:
          - array
          - "null"
      createdAt:
        type:
          - number
          - "null"
      creatorId:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      membership:
        type:
          - object
          - "null"
        properties:
          role:
            type:
              - string
              - "null"
          teamId:
            type:
              - string
              - "null"
          created:
            type:
              - number
              - "null"
          confirmed:
            type:
              - boolean
              - "null"
          createdAt:
            type:
              - number
              - "null"
          updatedAt:
            type:
              - number
              - "null"
      featureBlocks:
        type:
          - object
          - "null"
      remoteCaching:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
      stagingPrefix:
        type:
          - string
          - "null"
      resourceConfig:
        type:
          - object
          - "null"
        properties:
          concurrentBuilds:
            type:
              - number
              - "null"
      enabledInvoiceItems:
        type:
          - object
          - "null"
        properties:
          vercelMarketplace:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
      createdDirectToHobby:
        type:
          - boolean
          - "null"
      isMigratingToSensitiveEnvVars:
        type:
          - boolean
          - "null"
      sensitiveEnvironmentVariablePolicy:
        type:
          - string
          - "null"
    additionalProperties: true
  checks:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      checks:
        type:
          - array
          - "null"
    additionalProperties: true
  aliases:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - uid
      - updatedAt
    properties:
      uid:
        type: string
      alias:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      creator:
        type:
          - object
          - "null"
        properties:
          uid:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
      createdAt:
        type:
          - number
          - "null"
      projectId:
        type:
          - string
          - "null"
      updatedAt:
        type: number
      deployment:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
      deploymentId:
        type:
          - string
          - "null"
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      env:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            key:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            target:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            comment:
              type:
                - string
                - "null"
            createdAt:
              type:
                - number
                - "null"
            createdBy:
              type:
                - string
                - "null"
            updatedAt:
              type:
                - number
                - "null"
      link:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          org:
            type:
              - string
              - "null"
          repo:
            type:
              - string
              - "null"
          repoId:
            type:
              - number
              - "null"
          createdAt:
            type:
              - number
              - "null"
          updatedAt:
            type:
              - number
              - "null"
          sourceless:
            type:
              - boolean
              - "null"
          deployHooks:
            type:
              - array
              - "null"
          repoOwnerId:
            type:
              - number
              - "null"
          gitCredentialId:
            type:
              - string
              - "null"
          productionBranch:
            type:
              - string
              - "null"
      live:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      crons:
        type:
          - object
          - "null"
        properties:
          definitions:
            type:
              - array
              - "null"
          enabledAt:
            type:
              - number
              - "null"
          updatedAt:
            type:
              - number
              - "null"
          deploymentId:
            type:
              - string
              - "null"
      gitLFS:
        type:
          - boolean
          - "null"
      targets:
        type:
          - object
          - "null"
        properties:
          production:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              meta:
                type:
                  - object
                  - "null"
                properties:
                  githubOrg:
                    type:
                      - string
                      - "null"
                  githubRepo:
                    type:
                      - string
                      - "null"
                  branchAlias:
                    type:
                      - string
                      - "null"
                  githubRepoId:
                    type:
                      - string
                      - "null"
                  githubCommitOrg:
                    type:
                      - string
                      - "null"
                  githubCommitRef:
                    type:
                      - string
                      - "null"
                  githubCommitSha:
                    type:
                      - string
                      - "null"
                  githubCommitRepo:
                    type:
                      - string
                      - "null"
                  githubDeployment:
                    type:
                      - string
                      - "null"
                  githubCommitRepoId:
                    type:
                      - string
                      - "null"
                  githubCommitMessage:
                    type:
                      - string
                      - "null"
                  githubRepoOwnerType:
                    type:
                      - string
                      - "null"
                  githubRepoVisibility:
                    type:
                      - string
                      - "null"
                  githubCommitAuthorName:
                    type:
                      - string
                      - "null"
                  githubCommitAuthorLogin:
                    type:
                      - string
                      - "null"
              name:
                type:
                  - string
                  - "null"
              plan:
                type:
                  - string
                  - "null"
              alias:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              builds:
                type:
                  - array
                  - "null"
              forced:
                type:
                  - boolean
                  - "null"
              target:
                type:
                  - string
                  - "null"
              teamId:
                type:
                  - string
                  - "null"
              userId:
                type:
                  - string
                  - "null"
              creator:
                type:
                  - object
                  - "null"
                properties:
                  uid:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  username:
                    type:
                      - string
                      - "null"
                  githubLogin:
                    type:
                      - string
                      - "null"
              private:
                type:
                  - boolean
                  - "null"
              readyAt:
                type:
                  - number
                  - "null"
              createdAt:
                type:
                  - number
                  - "null"
              createdIn:
                type:
                  - string
                  - "null"
              withCache:
                type:
                  - boolean
                  - "null"
              buildingAt:
                type:
                  - number
                  - "null"
              readyState:
                type:
                  - string
                  - "null"
              aliasAssigned:
                type:
                  - number
                  - "null"
              readySubstate:
                type:
                  - string
                  - "null"
              automaticAliases:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              deploymentHostname:
                type:
                  - string
                  - "null"
              previewCommentsEnabled:
                type:
                  - boolean
                  - "null"
      accountId:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      framework:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      gitComments:
        type:
          - object
          - "null"
        properties:
          onCommit:
            type:
              - boolean
              - "null"
          onPullRequest:
            type:
              - boolean
              - "null"
      nodeVersion:
        type:
          - string
          - "null"
      webAnalytics:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
      speedInsights:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          hasData:
            type:
              - boolean
              - "null"
      ssoProtection:
        type:
          - object
          - "null"
        properties:
          deploymentType:
            type:
              - string
              - "null"
      resourceConfig:
        type:
          - object
          - "null"
        properties:
          functionDefaultMemoryType:
            type:
              - string
              - "null"
      directoryListing:
        type:
          - boolean
          - "null"
      gitForkProtection:
        type:
          - boolean
          - "null"
      latestDeployments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            meta:
              type:
                - object
                - "null"
              properties:
                githubOrg:
                  type:
                    - string
                    - "null"
                githubRepo:
                  type:
                    - string
                    - "null"
                branchAlias:
                  type:
                    - string
                    - "null"
                githubRepoId:
                  type:
                    - string
                    - "null"
                githubCommitOrg:
                  type:
                    - string
                    - "null"
                githubCommitRef:
                  type:
                    - string
                    - "null"
                githubCommitSha:
                  type:
                    - string
                    - "null"
                githubCommitRepo:
                  type:
                    - string
                    - "null"
                githubDeployment:
                  type:
                    - string
                    - "null"
                githubCommitRepoId:
                  type:
                    - string
                    - "null"
                githubCommitMessage:
                  type:
                    - string
                    - "null"
                githubRepoOwnerType:
                  type:
                    - string
                    - "null"
                githubRepoVisibility:
                  type:
                    - string
                    - "null"
                githubCommitAuthorName:
                  type:
                    - string
                    - "null"
                githubCommitAuthorLogin:
                  type:
                    - string
                    - "null"
            name:
              type:
                - string
                - "null"
            plan:
              type:
                - string
                - "null"
            alias:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            builds:
              type:
                - array
                - "null"
            forced:
              type:
                - boolean
                - "null"
            target:
              type:
                - string
                - "null"
            teamId:
              type:
                - string
                - "null"
            userId:
              type:
                - string
                - "null"
            creator:
              type:
                - object
                - "null"
              properties:
                uid:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                username:
                  type:
                    - string
                    - "null"
                githubLogin:
                  type:
                    - string
                    - "null"
            private:
              type:
                - boolean
                - "null"
            readyAt:
              type:
                - number
                - "null"
            createdAt:
              type:
                - number
                - "null"
            createdIn:
              type:
                - string
                - "null"
            withCache:
              type:
                - boolean
                - "null"
            buildingAt:
              type:
                - number
                - "null"
            readyState:
              type:
                - string
                - "null"
            aliasAssigned:
              type:
                - number
                - "null"
            readySubstate:
              type:
                - string
                - "null"
            automaticAliases:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            deploymentHostname:
              type:
                - string
                - "null"
            previewCommentsEnabled:
              type:
                - boolean
                - "null"
      autoExposeSystemEnvs:
        type:
          - boolean
          - "null"
      autoAssignCustomDomains:
        type:
          - boolean
          - "null"
      serverlessFunctionRegion:
        type:
          - string
          - "null"
      sourceFilesOutsideRootDirectory:
        type:
          - boolean
          - "null"
      autoAssignCustomDomainsUpdatedBy:
        type:
          - string
          - "null"
    additionalProperties: true
  auth_tokens:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      origin:
        type:
          - string
          - "null"
      scopes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            origin:
              type:
                - string
                - "null"
            teamId:
              type:
                - string
                - "null"
            createdAt:
              type:
                - number
                - "null"
            expiresAt:
              type:
                - number
                - "null"
      teamId:
        type:
          - string
          - "null"
      activeAt:
        type:
          - number
          - "null"
      createdAt:
        type:
          - number
          - "null"
      expiresAt:
        type:
          - number
          - "null"
    additionalProperties: true
  deployments:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - uid
      - createdAt
    properties:
      type:
        type:
          - string
          - "null"
      uid:
        type: string
      url:
        type:
          - string
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          action:
            type:
              - string
              - "null"
          githubOrg:
            type:
              - string
              - "null"
          githubRepo:
            type:
              - string
              - "null"
          branchAlias:
            type:
              - string
              - "null"
          githubRepoId:
            type:
              - string
              - "null"
          githubCommitOrg:
            type:
              - string
              - "null"
          githubCommitRef:
            type:
              - string
              - "null"
          githubCommitSha:
            type:
              - string
              - "null"
          githubCommitRepo:
            type:
              - string
              - "null"
          githubDeployment:
            type:
              - string
              - "null"
          githubCommitRepoId:
            type:
              - string
              - "null"
          githubCommitMessage:
            type:
              - string
              - "null"
          githubRepoOwnerType:
            type:
              - string
              - "null"
          githubRepoVisibility:
            type:
              - string
              - "null"
          originalDeploymentId:
            type:
              - string
              - "null"
          githubCommitAuthorName:
            type:
              - string
              - "null"
          githubCommitAuthorLogin:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      ready:
        type:
          - number
          - "null"
      state:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      target:
        type:
          - string
          - "null"
      created:
        type:
          - number
          - "null"
      creator:
        type:
          - object
          - "null"
        properties:
          uid:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
          githubLogin:
            type:
              - string
              - "null"
      createdAt:
        type: number
      buildingAt:
        type:
          - number
          - "null"
      readyState:
        type:
          - string
          - "null"
      inspectorUrl:
        type:
          - string
          - "null"
      aliasAssigned:
        type:
          - number
          - "null"
      readySubstate:
        type:
          - string
          - "null"
      projectSettings:
        type:
          - object
          - "null"
        properties: {}
      isRollbackCandidate:
        type:
          - boolean
          - "null"
    additionalProperties: true
  environments:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      envs:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            key:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            target:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            comment:
              type:
                - string
                - "null"
            vsmValue:
              type:
                - string
                - "null"
            createdAt:
              type:
                - number
                - "null"
            createdBy:
              type:
                - string
                - "null"
            decrypted:
              type:
                - boolean
                - "null"
            updatedAt:
              type:
                - number
                - "null"
            lastEditedByDisplayName:
              type:
                - string
                - "null"
    additionalProperties: true
  deployment_events:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      date:
        type:
          - number
          - "null"
      info:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          entrypoint:
            type:
              - string
              - "null"
      text:
        type:
          - string
          - "null"
      serial:
        type:
          - string
          - "null"
      created:
        type:
          - number
          - "null"
      deploymentId:
        type:
          - string
          - "null"
    additionalProperties: true
