version: 5.15.0

type: DeclarativeSource

description: >-
  Marketstack provides data from 72 global stock exchanges.

  Using this connector we can extract Historical Data , Splits and Dividends
  data !

check:
  type: CheckStream
  stream_names:
    - Exchanges

definitions:
  streams:
    Exchanges:
      type: DeclarativeStream
      name: Exchanges
      primary_key:
        - mic
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: exchanges
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Exchanges"
    Tickers:
      type: DeclarativeStream
      name: Tickers
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /exchanges/{{ stream_partition.mic }}/tickers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - tickers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: mic
              partition_field: mic
              stream:
                $ref: "#/definitions/streams/Exchanges"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Tickers"
    Historical Data:
      type: DeclarativeStream
      name: Historical Data
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: eod
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symbol }}"
            date_from: "{{ config[\"from\"] }}"
            date_to: "{{ config[\"to\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Tickers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Historical Data"
    Splits:
      type: DeclarativeStream
      name: Splits
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: splits
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symbol }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Tickers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Splits"
    Dividends:
      type: DeclarativeStream
      name: Dividends
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: dividends
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symbol }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Tickers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Dividends"
  base_requester:
    type: HttpRequester
    url_base: https://api.marketstack.com/v1/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: access_key
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/Exchanges"
  - $ref: "#/definitions/streams/Tickers"
  - $ref: "#/definitions/streams/Historical Data"
  - $ref: "#/definitions/streams/Splits"
  - $ref: "#/definitions/streams/Dividends"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      from:
        type: string
        title: From
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        format: date
        order: 1
      to:
        type: string
        title: To
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        format: date
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    Exchanges: true
    Tickers: true
    Historical Data: true
    Splits: true
    Dividends: true
  testedStreams:
    Exchanges:
      streamHash: 1ec94659361f0c5c0208381a7ea3097d079fae21
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Tickers:
      streamHash: 5a72aa41f360d1570de828eb105fadac1c1e319e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Historical Data:
      streamHash: 6f8ea6917ba710b62f94143914cc063140065312
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Splits:
      streamHash: c7445409904d6cb104ad6dbd411b74d8c0ba06b1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Dividends:
      streamHash: 9257f54df8534f6af2d51de6d6ceaa8aaea65709
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Exchanges:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      acronym:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      currency:
        type:
          - object
          - "null"
        properties:
          code:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          symbol:
            type:
              - string
              - "null"
      mic:
        type: string
      name:
        type:
          - string
          - "null"
      timezone:
        type:
          - object
          - "null"
        properties:
          abbr:
            type:
              - string
              - "null"
          abbr_dst:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
      website:
        type:
          - string
          - "null"
    required:
      - mic
  Tickers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      has_eod:
        type:
          - boolean
          - "null"
      has_intraday:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  Historical Data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      adj_close:
        type:
          - number
          - "null"
      adj_high:
        type:
          - number
          - "null"
      adj_low:
        type:
          - number
          - "null"
      adj_open:
        type:
          - number
          - "null"
      adj_volume:
        type:
          - number
          - "null"
      close:
        type:
          - number
          - "null"
      date:
        type:
          - string
          - "null"
      dividend:
        type:
          - number
          - "null"
      exchange:
        type:
          - string
          - "null"
      high:
        type:
          - number
          - "null"
      low:
        type:
          - number
          - "null"
      open:
        type:
          - number
          - "null"
      split_factor:
        type:
          - number
          - "null"
      symbol:
        type:
          - string
          - "null"
      volume:
        type:
          - number
          - "null"
  Splits:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date:
        type:
          - string
          - "null"
      split_factor:
        type:
          - number
          - "null"
      symbol:
        type:
          - string
          - "null"
  Dividends:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date:
        type:
          - string
          - "null"
      dividend:
        type:
          - number
          - "null"
      symbol:
        type:
          - string
          - "null"
