.venv_airbyte/
.git/
.pytest_cache/
__pycache__/
*.pyc
secrets/
tulip-fivetran-connector-beta/
archive/
*.egg-info/
.DS_Store
htmlcov/
.coverage
unit_tests/
integration_tests/
docs/
.tmp/
.airbyte/
BUILD_PLAN.md
CLAUDE.md
PREP_CHECKLIST.md
README.md
acceptance-test-config.yml
requirements-dev.txt
