version: 7.4.2

type: DeclarativeSource

description: >-
  This API standardizes/normalizes organization and company names into their
  official name standard using an advanced 'closest match' AI algorithm. It
  handles various input variations including abbreviations, alternate spellings,
  and multiple languages, converting them all to standardized English
  equivalents. Perfect for data cleansing, analytics/reporting, and maintaining
  consistent organization records across your data assets and systems.

check:
  type: CheckStream
  stream_names:
    - standard

streams:
  - type: DeclarativeStream
    name: standard
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.interzoid.com/getorgstandard
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: license
            inject_into: request_parameter
        request_parameters:
          org: intl bus machines
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          Code:
            type:
              - string
              - "null"
          Credits:
            type:
              - string
              - "null"
          Standard:
            type:
              - string
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  testedStreams:
    standard:
      isStale: false
      hasRecords: true
      streamHash: 97d013ac81d06086efff9534f01af27fc0ce7405
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
  autoImportSchema:
    standard: true
