version: 5.15.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - page

definitions:
  streams:
    page:
      type: DeclarativeStream
      name: page
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /{{ config['page_id'] }}
          http_method: GET
          request_parameters:
            fields: |
              {{ 
                ','.join([
                'id',
                'about',
                'ad_campaign',
                'affiliation',
                'app_id',
                'artists_we_like',
                'attire',
                'awards',
                'band_interests',
                'band_members',
                'bio',
                'birthday',
                'booking_agent',
                'built',
                'can_checkin',
                'can_post',
                'category',
                'category_list',
                'checkins',
                'company_overview',
                'contact_address',
                'country_page_likes',
                'cover',
                'culinary_team',
                'current_location',
                'delivery_and_pickup_option_info',
                'description',
                'description_html',
                'differently_open_offerings',
                'directed_by',
                'display_subtext',
                'displayed_message_response_time',
                'emails',
                'engagement',
                'fan_count',
                'featured_video',
                'features',
                'followers_count',
                'food_styles',
                'founded',
                'general_info',
                'general_manager',
                'genre',
                'global_brand_page_name',
                'global_brand_root_id',
                'has_added_app',
                'has_transitioned_to_new_page_experience',
                'has_whatsapp_business_number',
                'has_whatsapp_number',
                'hometown',
                'hours',
                'impressum',
                'influences',
                'is_always_open',
                'is_chain',
                'is_community_page',
                'is_eligible_for_branded_content',
                'is_messenger_bot_get_started_enabled',
                'is_messenger_platform_bot',
                'is_owned',
                'is_permanently_closed',
                'is_published',
                'is_unclaimed',
                'is_webhooks_subscribed',
                'leadgen_tos_acceptance_time',
                'leadgen_tos_accepted',
                'leadgen_tos_accepting_user',
                'link',
                'location',
                'members',
                'merchant_review_status',
                'messenger_ads_default_icebreakers',
                'messenger_ads_default_quick_replies',
                'messenger_ads_quick_replies_type',
                'mission',
                'mpg',
                'name',
                'name_with_location_descriptor',
                'network',
                'new_like_count',
                'offer_eligible',
                'overall_star_rating',
                'page_token',
                'parking',
                'payment_options',
                'personal_info',
                'personal_interests',
                'pharma_safety_info',
                'phone',
                'pickup_options',
                'place_type',
                'plot_outline',
                'press_contact',
                'price_range',
                'privacy_info_url',
                'produced_by',
                'products',
                'promotion_eligible',
                'promotion_ineligible_reason',
                'public_transit',
                'rating_count',
                'record_label',
                'release_date',
                'restaurant_services',
                'restaurant_specialties',
                'schedule',
                'screenplay_by',
                'season',
                'single_line_address',
                'starring',
                'start_info',
                'store_code',
                'store_location_descriptor',
                'store_number',
                'studio',
                'supports_donate_button_in_live_video',
                'talking_about_count',
                'temporary_status',
                'unread_message_count',
                'unread_notif_count',
                'unseen_message_count',
                'username',
                'verification_status',
                'voip_info',
                'website',
                'were_here_count',
                'whatsapp_number',
                'written_by',
                'albums',
                'call_to_actions',
                'canvas_elements',
                'events',
                'feed',
                'global_brand_children',
                'groups',
                'image_copyrights',
                'indexed_videos',
                'likes',
                'live_videos',
                'photos',
                'posts',
                'product_catalogs',
                'published_posts',
                'ratings',
                'tabs', 
                'tagged',
                'rtb_dynamic_posts',
                'video_lists',
                'videos',
                ]) 
              }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 400
                    action: RETRY
              - type: DefaultErrorHandler
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/page"
    post:
      type: DeclarativeStream
      name: post
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /{{ config['page_id'] }}/posts
          http_method: GET
          request_parameters:
            fields: |
              {{ 
                ','.join([
                'id',
                'actions',
                'admin_creator',
                'application',
                'backdated_time',
                'call_to_action',
                'can_reply_privately',
                'child_attachments',
                'coordinates',
                'created_time',
                'event',
                'expanded_height',
                'expanded_width',
                'feed_targeting',
                'from',
                'height',
                'icon',
                'instagram_eligibility',
                'is_eligible_for_promotion',
                'is_expired',
                'is_hidden',
                'is_inline_created',
                'is_instagram_eligible',
                'is_popular',
                'is_published',
                'is_spherical',
                'message',
                'message_tags',
                'multi_share_end_card',
                'multi_share_optimized',
                'parent_id',
                'permalink_url',
                'place',
                'privacy',
                'promotable_id',
                'promotion_status',
                'properties',
                'scheduled_publish_time',
                'shares',
                'status_type',
                'story',
                'story_tags',
                'subscribed',
                'target',
                'targeting',
                'timeline_visibility',
                'updated_time',
                'via',
                'video_buying_eligibility',
                'width',
                'comments',
                'dynamic_posts',
                'likes',
                'reactions',
                'sharedposts',
                'sponsor_tags',
                'to'
                ])
              }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 400
                    action: RETRY
              - type: DefaultErrorHandler
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.paging.get('cursors', {}).get('after') }}"
            stop_condition: "{{ response.paging == '' or not response.paging.get('next') }}"
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/post"
    post_insights:
      type: DeclarativeStream
      name: post_insights
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /{{ config['page_id'] }}/posts
          http_method: GET
          request_parameters:
            fields: |
              {{ 
                'insights.metric(%s)' % ','.join([
                'post_impressions',
                'post_impressions_unique',
                'post_impressions_paid',
                'post_impressions_paid_unique',
                'post_impressions_fan',
                'post_impressions_fan_unique',
                'post_impressions_fan_paid',
                'post_impressions_fan_paid_unique',
                'post_impressions_organic',
                'post_impressions_organic_unique',
                'post_impressions_viral',
                'post_impressions_viral_unique',
                'post_impressions_nonviral',
                'post_impressions_nonviral_unique',
                'post_impressions_by_story_type',
                'post_impressions_by_story_type_unique',
                'post_engaged_users',
                'post_negative_feedback',
                'post_negative_feedback_unique',
                'post_negative_feedback_by_type',
                'post_negative_feedback_by_type_unique',
                'post_engaged_fan',
                'post_clicks',
                'post_clicks_unique',
                'post_clicks_by_type',
                'post_clicks_by_type_unique',
                'post_reactions_by_type_total',
                ])
              }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 400
                    action: RETRY
              - type: DefaultErrorHandler
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - "*"
              - insights
              - data
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.paging.get('cursors', {}).get('after') }}"
            stop_condition: "{{ response.paging == '' or not response.paging.get('next') }}"
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/post_insights"
    page_insights:
      type: DeclarativeStream
      name: page_insights
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /{{ config['page_id'] }}/insights
          http_method: GET
          request_parameters:
            metric: |
              {{
                ','.join([
                'page_tab_views_login_top_unique',
                'page_tab_views_login_top',
                'page_tab_views_logout_top',
                'page_total_actions',
                'page_cta_clicks_logged_in_total',
                'page_cta_clicks_logged_in_unique',
                'page_cta_clicks_by_site_logged_in_unique',
                'page_cta_clicks_by_age_gender_logged_in_unique',
                'page_cta_clicks_logged_in_by_country_unique',
                'page_cta_clicks_logged_in_by_city_unique',
                'page_call_phone_clicks_logged_in_unique',
                'page_call_phone_clicks_by_age_gender_logged_in_unique',
                'page_call_phone_clicks_logged_in_by_country_unique',
                'page_call_phone_clicks_logged_in_by_city_unique',
                'page_call_phone_clicks_by_site_logged_in_unique',
                'page_get_directions_clicks_logged_in_unique',
                'page_get_directions_clicks_by_age_gender_logged_in_unique',
                'page_get_directions_clicks_logged_in_by_country_unique',
                'page_get_directions_clicks_logged_in_by_city_unique',
                'page_get_directions_clicks_by_site_logged_in_unique',
                'page_website_clicks_logged_in_unique',
                'page_website_clicks_by_age_gender_logged_in_unique',
                'page_website_clicks_logged_in_by_country_unique',
                'page_website_clicks_logged_in_by_city_unique',
                'page_website_clicks_by_site_logged_in_unique',
                'page_engaged_users',
                'page_post_engagements',
                'page_consumptions',
                'page_consumptions_unique',
                'page_consumptions_by_consumption_type',
                'page_consumptions_by_consumption_type_unique',
                'page_places_checkin_total',
                'page_places_checkin_total_unique',
                'page_places_checkin_mobile',
                'page_places_checkin_mobile_unique',
                'page_places_checkins_by_age_gender',
                'page_places_checkins_by_locale',
                'page_places_checkins_by_country',
                'page_negative_feedback',
                'page_negative_feedback_unique',
                'page_negative_feedback_by_type',
                'page_negative_feedback_by_type_unique',
                'page_positive_feedback_by_type',
                'page_positive_feedback_by_type_unique',
                'page_fans_online',
                'page_fans_online_per_day',
                'page_fan_adds_by_paid_non_paid_unique',
                'page_impressions',
                'page_impressions_unique',
                'page_impressions_paid',
                'page_impressions_paid_unique',
                'page_impressions_organic_v2',
                'page_impressions_organic_unique_v2',
                'page_impressions_viral',
                'page_impressions_viral_unique',
                'page_impressions_nonviral',
                'page_impressions_nonviral_unique',
                'page_impressions_by_story_type',
                'page_impressions_by_story_type_unique',
                'page_impressions_by_city_unique',
                'page_impressions_by_country_unique',
                'page_impressions_by_locale_unique',
                'page_impressions_by_age_gender_unique',
                'page_impressions_frequency_distribution',
                'page_impressions_viral_frequency_distribution',
                ])
              }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 400
                    action: RETRY
              - type: DefaultErrorHandler
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/page_insights"
  base_requester:
    type: HttpRequester
    url_base: https://graph.facebook.com/v21.0
    authenticator:
      type: CustomAuthenticator
      class_name: >-
        source_declarative_manifest.components.AuthenticatorFacebookPageAccessToken
      page_id: "{{ config['page_id'] }}"
      access_token: "{{ config['access_token'] }}"

streams:
  - $ref: "#/definitions/streams/page"
  - $ref: "#/definitions/streams/post"
  - $ref: "#/definitions/streams/post_insights"
  - $ref: "#/definitions/streams/page_insights"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
      - page_id
    properties:
      access_token:
        type: string
        description: Facebook Page Access Token
        title: Page Access Token
        airbyte_secret: true
        order: 0
      page_id:
        type: string
        description: Page ID
        title: Page ID
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    page: false
    post: false
    post_insights: false
    page_insights: false
  yamlComponents:
    streams:
      page:
        - transformations
      post:
        - transformations
      post_insights:
        - transformations
      page_insights:
        - transformations
    global:
      - authenticator
  testedStreams: {}
  assist: {}

schemas:
  page:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - string
          - "null"
      about:
        type:
          - string
          - "null"
      access_token:
        type:
          - string
          - "null"
      ad_campaign: adset.json
      ads_posts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagepost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      affiliation:
        type:
          - string
          - "null"
      agencies:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: business.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      albums:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: album.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      app_id:
        type:
          - string
          - "null"
      artists_we_like:
        type:
          - string
          - "null"
      assigned_users:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: assigneduser.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      attire:
        type:
          - string
          - "null"
      awards:
        type:
          - string
          - "null"
      band_interests:
        type:
          - string
          - "null"
      band_members:
        type:
          - string
          - "null"
      best_page: page.json
      bio:
        type:
          - string
          - "null"
      birthday:
        type:
          - string
          - "null"
      blocked:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: profile.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      booking_agent:
        type:
          - string
          - "null"
      built:
        type:
          - string
          - "null"
      business:
        type:
          - string
          - "null"
      call_to_actions:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagecalltoaction.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      can_checkin:
        type:
          - boolean
          - "null"
      can_post:
        type:
          - boolean
          - "null"
      canvas_elements:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: canvasbodyelement.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      canvases:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: canvas.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      category:
        type:
          - string
          - "null"
      category_list:
        type:
          - array
          - "null"
        items: pagecategory.json
      chat_plugin:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: chatplugin.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      checkins:
        type:
          - integer
          - "null"
      commerce_orders:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: commerceorder.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      company_overview:
        type:
          - string
          - "null"
      connected_instagram_account: iguser.json
      connected_page_backed_instagram_account: iguser.json
      contact_address: mailingaddress.json
      conversations:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: unifiedthread.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      copyright_whitelisted_ig_partners:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      country_page_likes:
        type:
          - integer
          - "null"
      cover: coverphoto.json
      crosspost_whitelisted_pages:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: page.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      culinary_team:
        type:
          - string
          - "null"
      current_location:
        type:
          - string
          - "null"
      custom_labels:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pageusermessagethreadlabel.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      custom_user_settings:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: customusersettings.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      delivery_and_pickup_option_info:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      description_html:
        type:
          - string
          - "null"
      differently_open_offerings:
        type:
          - string
          - "null"
      directed_by:
        type:
          - string
          - "null"
      display_subtext:
        type:
          - string
          - "null"
      displayed_message_response_time:
        type:
          - string
          - "null"
      emails:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      engagement: engagement.json
      events:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: event.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      fan_count:
        type:
          - integer
          - "null"
      featured_video: advideo.json
      features:
        type:
          - string
          - "null"
      feed:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagepost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      followers_count:
        type:
          - integer
          - "null"
      food_styles:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      founded:
        type:
          - string
          - "null"
      general_info:
        type:
          - string
          - "null"
      general_manager:
        type:
          - string
          - "null"
      genre:
        type:
          - string
          - "null"
      global_brand_children:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: page.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      global_brand_page_name:
        type:
          - string
          - "null"
      global_brand_root_id:
        type:
          - string
          - "null"
      groups:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: group.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      has_added_app:
        type:
          - boolean
          - "null"
      has_transitioned_to_new_page_experience:
        type:
          - boolean
          - "null"
      has_whatsapp_business_number:
        type:
          - boolean
          - "null"
      has_whatsapp_number:
        type:
          - boolean
          - "null"
      hometown:
        type:
          - string
          - "null"
      hours:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      image_copyrights:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: imagecopyright.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      impressum:
        type:
          - string
          - "null"
      indexed_videos:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: advideo.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      influences:
        type:
          - string
          - "null"
      insights:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: insightsresult.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      instagram_accounts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: instagramuser.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      instagram_business_account: iguser.json
      is_always_open:
        type:
          - boolean
          - "null"
      is_chain:
        type:
          - boolean
          - "null"
      is_community_page:
        type:
          - boolean
          - "null"
      is_eligible_for_branded_content:
        type:
          - boolean
          - "null"
      is_messenger_bot_get_started_enabled:
        type:
          - boolean
          - "null"
      is_messenger_platform_bot:
        type:
          - boolean
          - "null"
      is_owned:
        type:
          - boolean
          - "null"
      is_permanently_closed:
        type:
          - boolean
          - "null"
      is_published:
        type:
          - boolean
          - "null"
      is_unclaimed:
        type:
          - boolean
          - "null"
      is_webhooks_subscribed:
        type:
          - boolean
          - "null"
      leadgen_forms:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: leadgenform.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      leadgen_tos_acceptance_time:
        type:
          - string
          - "null"
        format: date-time
      leadgen_tos_accepted:
        type:
          - boolean
          - "null"
      leadgen_tos_accepting_user: user.json
      likes:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: page.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      link:
        type:
          - string
          - "null"
      live_videos:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: livevideo.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      location: location.json
      locations:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: page.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      media_fingerprints:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: mediafingerprint.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      members:
        type:
          - string
          - "null"
      merchant_review_status:
        type:
          - string
          - "null"
      messaging_feature_review:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: messagingfeaturereview.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      messaging_feature_status: messagingfeaturestatus.json
      messenger_ads_default_icebreakers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      messenger_ads_default_quick_replies:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      messenger_ads_quick_replies_type:
        type:
          - string
          - "null"
      messenger_profile:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: messengerprofile.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      mission:
        type:
          - string
          - "null"
      mpg:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      name_with_location_descriptor:
        type:
          - string
          - "null"
      network:
        type:
          - string
          - "null"
      new_like_count:
        type:
          - integer
          - "null"
      offer_eligible:
        type:
          - boolean
          - "null"
      overall_star_rating:
        type:
          - number
          - "null"
      page_backed_instagram_accounts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: instagramuser.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      page_token:
        type:
          - string
          - "null"
      parent_page: page.json
      parking: pageparking.json
      payment_options: pagepaymentoptions.json
      personal_info:
        type:
          - string
          - "null"
      personal_interests:
        type:
          - string
          - "null"
      personas:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: persona.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      pharma_safety_info:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      photos:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: photo.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      pickup_options:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      picture:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: profilepicturesource.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      place_type:
        type:
          - string
          - "null"
      plot_outline:
        type:
          - string
          - "null"
      posts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagepost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      preferred_audience: targeting.json
      press_contact:
        type:
          - string
          - "null"
      price_range:
        type:
          - string
          - "null"
      privacy_info_url:
        type:
          - string
          - "null"
      produced_by:
        type:
          - string
          - "null"
      product_catalogs:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: productcatalog.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      products:
        type:
          - string
          - "null"
      promotion_eligible:
        type:
          - boolean
          - "null"
      promotion_ineligible_reason:
        type:
          - string
          - "null"
      public_transit:
        type:
          - string
          - "null"
      published_posts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagepost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      rating_count:
        type:
          - integer
          - "null"
      ratings:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: recommendation.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      recipient:
        type:
          - string
          - "null"
      record_label:
        type:
          - string
          - "null"
      release_date:
        type:
          - string
          - "null"
      restaurant_services: pagerestaurantservices.json
      restaurant_specialties: pagerestaurantspecialties.json
      roles:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: user.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      rtb_dynamic_posts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: rtbdynamicpost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      schedule:
        type:
          - string
          - "null"
      scheduled_posts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagepost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      screenplay_by:
        type:
          - string
          - "null"
      season:
        type:
          - string
          - "null"
      secondary_receivers:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: application.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagesettings.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      shop_setup_status:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: commercemerchantsettingssetupstatus.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      single_line_address:
        type:
          - string
          - "null"
      starring:
        type:
          - string
          - "null"
      start_info: pagestartinfo.json
      store_code:
        type:
          - string
          - "null"
      store_location_descriptor:
        type:
          - string
          - "null"
      store_number:
        type:
          - integer
          - "null"
      studio:
        type:
          - string
          - "null"
      subscribed_apps:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: application.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      supports_donate_button_in_live_video:
        type:
          - boolean
          - "null"
      tabs:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: tab.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      tagged:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagepost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      talking_about_count:
        type:
          - integer
          - "null"
      temporary_status:
        type:
          - string
          - "null"
      thread_owner:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagethreadowner.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      threads:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: unifiedthread.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      unread_message_count:
        type:
          - integer
          - "null"
      unread_notif_count:
        type:
          - integer
          - "null"
      unseen_message_count:
        type:
          - integer
          - "null"
      username:
        type:
          - string
          - "null"
      verification_status:
        type:
          - string
          - "null"
      video_copyright_rules:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: videocopyrightrule.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      video_lists:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: videolist.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      videos:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: advideo.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      visitor_posts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: pagepost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      voip_info: voipinfo.json
      website:
        type:
          - string
          - "null"
      were_here_count:
        type:
          - integer
          - "null"
      whatsapp_number:
        type:
          - string
          - "null"
      written_by:
        type:
          - string
          - "null"
    additionalProperties: true
  post:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      actions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
      admin_creator:
        type:
          - object
          - "null"
      allowed_advertising_objectives:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      application: application.json
      backdated_time:
        type:
          - string
          - "null"
        format: date-time
      call_to_action:
        type:
          - string
          - "null"
      can_reply_privately:
        type:
          - boolean
          - "null"
      caption:
        type:
          - string
          - "null"
      child_attachments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      comments:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: comment.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      comments_mirroring_domain:
        type:
          - string
          - "null"
      coordinates:
        type:
          - object
          - "null"
      created_time:
        type:
          - string
          - "null"
        format: date-time
      dynamic_posts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: rtbdynamicpost.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      event: event.json
      expanded_height:
        type:
          - integer
          - "null"
      expanded_width:
        type:
          - integer
          - "null"
      feed_targeting:
        type:
          - string
          - "null"
      from:
        type:
          - object
          - "null"
      full_picture:
        type:
          - string
          - "null"
      height:
        type:
          - integer
          - "null"
      icon:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      insights:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: insightsresult.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      instagram_eligibility:
        type:
          - string
          - "null"
      is_app_share:
        type:
          - boolean
          - "null"
      is_eligible_for_promotion:
        type:
          - boolean
          - "null"
      is_expired:
        type:
          - boolean
          - "null"
      is_hidden:
        type:
          - boolean
          - "null"
      is_inline_created:
        type:
          - boolean
          - "null"
      is_instagram_eligible:
        type:
          - boolean
          - "null"
      is_popular:
        type:
          - boolean
          - "null"
      is_published:
        type:
          - boolean
          - "null"
      is_spherical:
        type:
          - boolean
          - "null"
      link:
        type:
          - string
          - "null"
      message:
        type:
          - string
          - "null"
      message_tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
      multi_share_end_card:
        type:
          - boolean
          - "null"
      multi_share_optimized:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      object_id:
        type:
          - string
          - "null"
      parent_id:
        type:
          - string
          - "null"
      permalink_url:
        type:
          - string
          - "null"
      picture:
        type:
          - string
          - "null"
      place: place.json
      privacy: privacy.json
      promotable_id:
        type:
          - string
          - "null"
      promotion_status:
        type:
          - string
          - "null"
      properties:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
      reactions:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: profile.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      scheduled_publish_time:
        type:
          - number
          - "null"
      sharedposts:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: post.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      shares:
        type:
          - object
          - "null"
      source:
        type:
          - string
          - "null"
      sponsor_tags:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: page.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      status_type:
        type:
          - string
          - "null"
      story:
        type:
          - string
          - "null"
      story_tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
      subscribed:
        type:
          - boolean
          - "null"
      target: profile.json
      targeting:
        type:
          - string
          - "null"
      timeline_visibility:
        type:
          - string
          - "null"
      to:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - array
              - "null"
            items: profile.json
          paging:
            type:
              - object
              - "null"
            properties:
              cursors:
                type: object
                properties:
                  after:
                    type:
                      - string
                      - "null"
                  before:
                    type:
                      - string
                      - "null"
              next:
                type:
                  - string
                  - "null"
              previous:
                type:
                  - string
                  - "null"
      updated_time:
        type:
          - string
          - "null"
        format: date-time
      via:
        type:
          - string
          - "null"
      video_buying_eligibility:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      width:
        type:
          - integer
          - "null"
    additionalProperties: true
  post_insights:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      period:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      values:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            end_time:
              type:
                - "null"
                - string
              format: date-time
            value:
              type:
                - "null"
                - object
                - string
                - integer
    additionalProperties: true
  page_insights:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      period:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      values:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            end_time:
              type:
                - "null"
                - string
              format: date-time
            value:
              type:
                - "null"
                - object
                - integer
    additionalProperties: true
