version: 5.15.0

type: DeclarativeSource

description: >-
  Selzy is an email marketing platform.

  Using this connector we can extract data from streams such as campaigns ,
  templates and tags

check:
  type: CheckStream
  stream_names:
    - lists

definitions:
  streams:
    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: getLists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lists"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: getCampaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10000
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    templates:
      type: DeclarativeStream
      name: templates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: getTemplates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: getTags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: getFields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
  base_requester:
    type: HttpRequester
    url_base: https://api.selzy.com/en/api/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: api_key
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/lists"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/fields"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      from:
        type: string
        description: In the format YYYY-MM-DD HH:MM
        title: From
        order: 1
      to:
        type: string
        description: In the format YYYY-MM-DD HH:MM
        title: To
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    lists: true
    campaigns: true
    templates: true
    tags: true
    fields: true
  testedStreams:
    lists:
      streamHash: b4b1c74a9c4f7c962130793cd545c69a0c068015
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    campaigns:
      streamHash: 5961b15c5a3ffe4181f96629bc5bff2b9215c123
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      streamHash: b66f3536560e2719400c8b2aad80c749b2fb2edd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: 07b0e4dc8a2c2a5c83f1fc831026d9b39fdd0df7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    fields:
      streamHash: 96ec7cc349a74900127defc486856f244522d093
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      title:
        type:
          - string
          - "null"
    required:
      - id
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      list_id:
        type:
          - number
          - "null"
      message_id:
        type:
          - number
          - "null"
      sender_email:
        type:
          - string
          - "null"
      sender_name:
        type:
          - string
          - "null"
      start_time:
        type:
          - string
          - "null"
      stats_url:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
    required:
      - id
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      result:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            attachments:
              type:
                - string
                - "null"
            body:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
            fullsize_screenshot_url:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            lang_code:
              type:
                - string
                - "null"
            message_format:
              type:
                - string
                - "null"
            screenshot_url:
              type:
                - string
                - "null"
            sub_user_login:
              type:
                - string
                - "null"
            subject:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            updated:
              type:
                - string
                - "null"
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: number
      is_visible:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      public_name:
        type:
          - string
          - "null"
      view_pos:
        type:
          - number
          - "null"
    required:
      - id
