version: 4.5.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - tweets

definitions:
  streams:
    tweets:
      type: DeclarativeStream
      name: tweets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /search/recent
          http_method: GET
          request_parameters:
            query: "{{ config['query'] }}"
            tweet.fields: author_id,conversation_id,created_at,in_reply_to_user_id,lang
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: next_token
          page_size_option:
            type: RequestOption
            field_name: max_results
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.meta.next_token }}"
            stop_condition: "{{ 'next_token' not in response['meta'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.000Z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.000Z"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.start_date or (now_utc() -
            duration('P6DT23H')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: start_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.end_date or (now_utc() -
            duration('PT10S')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P7D
        cursor_granularity: PT0S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tweets"
  base_requester:
    type: HttpRequester
    url_base: https://api.twitter.com/2/tweets
    authenticator:
      type: BearerAuthenticator
      header: apikey
      api_token: "{{ config.api_key }}"

streams:
  - $ref: "#/definitions/streams/tweets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - query
    properties:
      api_key:
        type: string
        description: >-
          App only Bearer Token. See the <a
          href="https://developer.twitter.com/en/docs/authentication/oauth-2-0/bearer-tokens">docs</a>
          for more information on how to obtain this token.
        title: Access Token
        airbyte_secret: true
        order: 0
      query:
        type: string
        description: >-
          Query for matching Tweets. You can learn how to build this query by
          reading <a
          href="https://developer.twitter.com/en/docs/twitter-api/tweets/search/integrate/build-a-query">
          build a query guide </a>.
        title: Search Query
        order: 1
      start_date:
        type: string
        description: >-
          The start date for retrieving tweets cannot be more than 7 days in the
          past.
        title: Start Date
        format: date-time
        order: 2
      end_date:
        type: string
        description: >-
          The end date for retrieving tweets must be a minimum of 10 seconds
          prior to the request time.
        title: End Date
        format: date-time
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    tweets: false
  yamlComponents:
    global:
      - authenticator
  testedStreams: {}
  assist: {}

schemas:
  tweets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      author_id:
        type:
          - "null"
          - string
      conversation_id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      edit_history_tweet_ids:
        type:
          - "null"
          - array
        items:
          type: string
      id:
        type:
          - "null"
          - string
      in_reply_to_user_id:
        type:
          - "null"
          - string
      lang:
        type:
          - "null"
          - string
      text:
        type:
          - "null"
          - string
    additionalProperties: true
