version: 0.51.42
type: DeclarativeSource

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["data"]

  # Custom authenticator for Airmeet's specific auth flow
  custom_authenticator:
    type: CustomAuthenticator
    class_name: source_airmeet.components.AirmeetAuthenticator
    access_key: "{{ config['access_key'] }}"
    secret_key: "{{ config['secret_key'] }}"

  requester:
    type: HttpRequester
    url_base: "https://api-gateway.airmeet.com/prod"
    http_method: "GET"
    authenticator:
      $ref: "#/definitions/custom_authenticator"
    request_headers:
      Content-Type: "application/json"

  retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/requester"
    record_selector:
      $ref: "#/definitions/selector"
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestOption
        inject_into: "request_parameter"
        field_name: "page"
      page_size_option:
        type: RequestOption
        inject_into: "request_parameter"
        field_name: "limit"
      pagination_strategy:
        type: PageIncrement
        start_from_page: 1
        page_size: 100

  meetings_stream:
    type: DeclarativeStream
    name: "airmeets"
    primary_key: ["uid"]
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "/airmeets"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          uid:
            type: string
            description: "Unique identifier for the Airmeet"
          name:
            type: string
            description: "Name of the Airmeet"
          status:
            type: string
            description: "Current status of the Airmeet"
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time

  attendees_stream:
    type: DeclarativeStream
    name: "attendees"
    primary_key: ["id"]
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "/airmeets/{{ stream_partition.parent_id }}/attendees"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/meetings_stream"
            parent_key: "uid"
            partition_field: "parent_id"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type: string
          airmeet_id:
            type: string
          email:
            type: string
          name:
            type: string

streams:
  - "#/definitions/meetings_stream"
  - "#/definitions/attendees_stream"

check:
  type: CheckStream
  stream_names:
    - "airmeets"

spec:
  type: Spec
  documentation_url: https://docs.airmeet.com/api
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Airmeet Source Spec
    type: object
    required:
      - access_key
      - secret_key
    additionalProperties: true
    properties:
      access_key:
        type: string
        title: Access Key
        description: "Your Airmeet API Access Key (x-airmeet-access-key)"
        airbyte_secret: true
        order: 0
        examples: ["ebd842ce-9e5c-4941-89f4-a681e1eb114a#in"]
      secret_key:
        type: string
        title: Secret Key
        description: "Your Airmeet API Secret Key (x-airmeet-secret-key)"
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start Date
        description: "UTC date in YYYY-MM-DD format"
        default: "2023-01-01"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        format: date
        order: 2