version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - issues
definitions:
  streams:
    issues:
      type: DeclarativeStream
      name: issues
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.intruder.io/v1
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /issues
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            description:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            occurrences:
              type:
                - "null"
                - string
            remediation:
              type:
                - "null"
                - string
            severity:
              type:
                - "null"
                - string
            snooze_reason:
              type:
                - "null"
                - string
            snooze_until:
              type:
                - "null"
                - string
            snoozed:
              type:
                - "null"
                - boolean
            title:
              type:
                - "null"
                - string
          additionalProperties: true
    occurrences_issues:
      type: DeclarativeStream
      name: occurrences_issues
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.intruder.io/v1
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /issues/{{ stream_slice.id }}/occurrences
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: id
                stream:
                  type: DeclarativeStream
                  name: issues
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.intruder.io/v1
                      authenticator:
                        type: BearerAuthenticator
                        api_token: "{{ config['access_token'] }}"
                      path: /issues
                      http_method: GET
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path:
                          - results
                    paginator:
                      type: DefaultPaginator
                      page_token_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: offset
                      page_size_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: limit
                      pagination_strategy:
                        type: OffsetIncrement
                        page_size: 100
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: http://json-schema.org/draft-07/schema#
                      properties:
                        description:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - integer
                        occurrences:
                          type:
                            - "null"
                            - string
                        remediation:
                          type:
                            - "null"
                            - string
                        severity:
                          type:
                            - "null"
                            - string
                        snooze_reason:
                          type:
                            - "null"
                            - string
                        snooze_until:
                          type:
                            - "null"
                            - string
                        snoozed:
                          type:
                            - "null"
                            - boolean
                        title:
                          type:
                            - "null"
                            - string
                      additionalProperties: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            age:
              type:
                - "null"
                - string
            extra_info:
              type:
                - "null"
                - object
            id:
              type:
                - "null"
                - integer
            port:
              type:
                - "null"
                - integer
            snooze_reason:
              type:
                - "null"
                - string
            snooze_until:
              type:
                - "null"
                - string
            snoozed:
              type:
                - "null"
                - boolean
            target:
              type:
                - "null"
                - string
          additionalProperties: true
    scans:
      type: DeclarativeStream
      name: scans
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.intruder.io/v1
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /scans
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            created_at:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            status:
              type:
                - "null"
                - string
          additionalProperties: true
    targets:
      type: DeclarativeStream
      name: targets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.intruder.io/v1
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['access_token'] }}"
          path: /targets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            address:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            tags:
              type:
                - "null"
                - array
          additionalProperties: true
  base_requester:
    type: HttpRequester
    url_base: https://api.intruder.io/v1
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['access_token'] }}"
streams:
  - type: DeclarativeStream
    name: issues
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intruder.io/v1
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /issues
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          occurrences:
            type:
              - "null"
              - string
          remediation:
            type:
              - "null"
              - string
          severity:
            type:
              - "null"
              - string
          snooze_reason:
            type:
              - "null"
              - string
          snooze_until:
            type:
              - "null"
              - string
          snoozed:
            type:
              - "null"
              - boolean
          title:
            type:
              - "null"
              - string
        additionalProperties: true
  - type: DeclarativeStream
    name: occurrences_issues
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intruder.io/v1
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /issues/{{ stream_slice.id }}/occurrences
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: issues
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.intruder.io/v1
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['access_token'] }}"
                    path: /issues
                    http_method: GET
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - results
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestOption
                      inject_into: request_parameter
                      field_name: offset
                    page_size_option:
                      type: RequestOption
                      inject_into: request_parameter
                      field_name: limit
                    pagination_strategy:
                      type: OffsetIncrement
                      page_size: 100
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    properties:
                      description:
                        type:
                          - "null"
                          - string
                      id:
                        type:
                          - "null"
                          - integer
                      occurrences:
                        type:
                          - "null"
                          - string
                      remediation:
                        type:
                          - "null"
                          - string
                      severity:
                        type:
                          - "null"
                          - string
                      snooze_reason:
                        type:
                          - "null"
                          - string
                      snooze_until:
                        type:
                          - "null"
                          - string
                      snoozed:
                        type:
                          - "null"
                          - boolean
                      title:
                        type:
                          - "null"
                          - string
                    additionalProperties: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          age:
            type:
              - "null"
              - string
          extra_info:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - integer
          port:
            type:
              - "null"
              - integer
          snooze_reason:
            type:
              - "null"
              - string
          snooze_until:
            type:
              - "null"
              - string
          snoozed:
            type:
              - "null"
              - boolean
          target:
            type:
              - "null"
              - string
        additionalProperties: true
  - type: DeclarativeStream
    name: scans
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intruder.io/v1
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /scans
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          created_at:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          status:
            type:
              - "null"
              - string
        additionalProperties: true
  - type: DeclarativeStream
    name: targets
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intruder.io/v1
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        path: /targets
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          address:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          tags:
            type:
              - "null"
              - array
        additionalProperties: true
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
    properties:
      access_token:
        type: string
        title: API Access token
        description: >-
          Your API Access token. See <a
          href="https://developers.intruder.io/docs/authentication">here</a>.
        airbyte_secret: true
        order: 0
    additionalProperties: true
metadata:
  autoImportSchema:
    issues: false
    occurrences_issues: false
    scans: false
    targets: false
schemas:
  issues:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      occurrences:
        type:
          - "null"
          - string
      remediation:
        type:
          - "null"
          - string
      severity:
        type:
          - "null"
          - string
      snooze_reason:
        type:
          - "null"
          - string
      snooze_until:
        type:
          - "null"
          - string
      snoozed:
        type:
          - "null"
          - boolean
      title:
        type:
          - "null"
          - string
    additionalProperties: true
  occurrences_issues:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      age:
        type:
          - "null"
          - string
      extra_info:
        type:
          - "null"
          - object
      id:
        type:
          - "null"
          - integer
      port:
        type:
          - "null"
          - integer
      snooze_reason:
        type:
          - "null"
          - string
      snooze_until:
        type:
          - "null"
          - string
      snoozed:
        type:
          - "null"
          - boolean
      target:
        type:
          - "null"
          - string
    additionalProperties: true
  scans:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      created_at:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      status:
        type:
          - "null"
          - string
    additionalProperties: true
  targets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      address:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      tags:
        type:
          - "null"
          - array
    additionalProperties: true
