version: 5.15.0

type: DeclarativeSource

description: >-
  The Airbyte connector for Cognito Forms enables seamless data integration
  between Cognito Forms and various data destinations. With this connector,
  users can automatically extract form and form schema from Cognito Forms and
  sync it to data warehouses, or other tools in real-time. 

check:
  type: CheckStream
  stream_names:
    - forms

definitions:
  streams:
    forms:
      type: DeclarativeStream
      name: forms
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - Id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"
    form_schemas:
      type: DeclarativeStream
      name: form_schemas
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms/{{ stream_partition.form_id }}/schema
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/forms"
              parent_key: Id
              partition_field: form_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/form_schemas"
  base_requester:
    type: HttpRequester
    url_base: https://www.cognitoforms.com/api
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/forms"
  - $ref: "#/definitions/streams/form_schemas"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          API access token to use. You can create and find it in your Cognito
          Forms account under Settings > Integrations.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: >-
      https://www.cognitoforms.com/support/476/data-integration/cognito-forms-api/api-reference
  testedStreams:
    forms:
      hasRecords: true
      streamHash: b2d4f1b8a335092ce5a499b2b473c3411f8dbd1a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    form_schemas:
      hasRecords: true
      streamHash: eabbb66178fe2819b21ff81223a40a8f58697f4d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    forms: true
    form_schemas: true

schemas:
  forms:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - Id
    properties:
      Id:
        type: string
      Name:
        type:
          - string
          - "null"
      InternalName:
        type:
          - string
          - "null"
    additionalProperties: true
  form_schemas:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      properties:
        type:
          - object
          - "null"
        properties:
          Id:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          To:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          Form:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
              properties:
                type:
                  - object
                  - "null"
                properties:
                  Id:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      default:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  Name:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      default:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  InternalName:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      default:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
          From:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          Name:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              properties:
                type:
                  - object
                  - "null"
                properties:
                  Last:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  First:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Middle:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Prefix:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Suffix:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  FirstAndLast:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  MiddleInitial:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
          Date2:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              format:
                type:
                  - string
                  - "null"
          Email:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          Entry:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              properties:
                type:
                  - object
                  - "null"
                properties:
                  Role:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      enum:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                  User:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                      properties:
                        type:
                          - object
                          - "null"
                        properties:
                          Name:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          Email:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                  Order:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                      properties:
                        type:
                          - object
                          - "null"
                        properties:
                          Id:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                          Date:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              format:
                                type:
                                  - string
                                  - "null"
                          PaymentStatus:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                          PaymentMessage:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                  Action:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      enum:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                  Number:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  Status:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      enum:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  Version:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  AdminLink:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  Document1:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  Document2:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  Timestamp:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      format:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  DateCreated:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      format:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  DateUpdated:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      format:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  CustomerLink:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  DateSubmitted:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      format:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  FacilitiesManagerLink:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
          Phone:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          Address:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              properties:
                type:
                  - object
                  - "null"
                properties:
                  City:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Type:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Line1:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Line2:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Line3:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  State:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Country:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Latitude:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Longitude:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  PostalCode:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  CountryCode:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  FullAddress:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  StreetAddress:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  CityStatePostalCode:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                  FullInternationalAddress:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
          Summary:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
          To_Minimum:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
          DateOfEvent:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              format:
                type:
                  - string
                  - "null"
          RejectionReason:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          EventDescription:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          ReasonForBurning:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              enum:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          RequestedBuilding:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              enum:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          ApplicantSignature:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
              properties:
                type:
                  - object
                  - "null"
                properties:
                  Png:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  Svg:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                  PngFile:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                      properties:
                        type:
                          - object
                          - "null"
                        properties:
                          Id:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          File:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          Name:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          Size:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          StorageUrl:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          ContentType:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          IsEncrypted:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                  SvgFile:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      readOnly:
                        type:
                          - boolean
                          - "null"
                      properties:
                        type:
                          - object
                          - "null"
                        properties:
                          Id:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          File:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          Name:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          Size:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          StorageUrl:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          ContentType:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                          IsEncrypted:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              description:
                                type:
                                  - string
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                  TypedText:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
          MaterialToBeBurned:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          DateOfEvent_Minimum:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              format:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
          EstimatedAttendance:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          SpecialNeedsOrEquipment:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
          EstimatedAttendance_Maximum:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
          EstimatedAttendance_Minimum:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
          EstimatedAttendance_IncrementBy:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              readOnly:
                type:
                  - boolean
                  - "null"
    additionalProperties: true
