version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - users
definitions:
  streams:
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.everhour.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-Api-Key
          path: /projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            canSyncTasks:
              type:
                - "null"
                - boolean
            connectionStatus:
              type:
                - "null"
                - string
            createdAt:
              type:
                - "null"
                - string
            estimatesType:
              type:
                - "null"
                - string
            favorite:
              type:
                - "null"
                - boolean
            foreign:
              type:
                - "null"
                - boolean
            hasWebhook:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - string
            isTemplate:
              type:
                - "null"
                - boolean
            name:
              type:
                - "null"
                - string
            platform:
              type:
                - "null"
                - string
            privacy:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
            unarchiveDisabledBy:
              type:
                - "null"
                - string
            users:
              type:
                - "null"
                - array
              items:
                type: integer
            workspaceId:
              type:
                - "null"
                - string
            workspaceName:
              type:
                - "null"
                - string
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.everhour.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-Api-Key
          path: /projects/{{ stream_slice.parent_id }}/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: parent_id
                stream:
                  type: DeclarativeStream
                  name: projects
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.everhour.com
                      authenticator:
                        type: ApiKeyAuthenticator
                        api_token: "{{ config['api_key'] }}"
                        inject_into:
                          type: RequestOption
                          inject_into: header
                          field_name: X-Api-Key
                      path: /projects
                      http_method: GET
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path: []
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: http://json-schema.org/draft-04/schema#
                      additionalProperties: true
                      properties:
                        canSyncTasks:
                          type:
                            - "null"
                            - boolean
                        connectionStatus:
                          type:
                            - "null"
                            - string
                        createdAt:
                          type:
                            - "null"
                            - string
                        estimatesType:
                          type:
                            - "null"
                            - string
                        favorite:
                          type:
                            - "null"
                            - boolean
                        foreign:
                          type:
                            - "null"
                            - boolean
                        hasWebhook:
                          type:
                            - "null"
                            - boolean
                        id:
                          type:
                            - "null"
                            - string
                        isTemplate:
                          type:
                            - "null"
                            - boolean
                        name:
                          type:
                            - "null"
                            - string
                        platform:
                          type:
                            - "null"
                            - string
                        privacy:
                          type:
                            - "null"
                            - string
                        status:
                          type:
                            - "null"
                            - string
                        unarchiveDisabledBy:
                          type:
                            - "null"
                            - string
                        users:
                          type:
                            - "null"
                            - array
                          items:
                            type: integer
                        workspaceId:
                          type:
                            - "null"
                            - string
                        workspaceName:
                          type:
                            - "null"
                            - string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            type:
              type: string
            assignees:
              type: array
              items:
                type: string
            completed:
              type: boolean
            completedAt:
              type: string
            createdAt:
              type: string
            dueOn:
              type: string
            id:
              type: string
            iteration:
              type: string
            labels:
              type: array
              items:
                type: string
            name:
              type: string
            projects:
              type: array
              items:
                type: string
            status:
              type: string
            time:
              type: object
              properties:
                timerTime:
                  type: integer
                total:
                  type: integer
                users:
                  type:
                    - "null"
                    - object
            url:
              type: string
    time_records:
      type: DeclarativeStream
      name: time_records
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.everhour.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-Api-Key
          path: /projects/{{ stream_slice.parent_id }}/time
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: parent_id
                stream:
                  type: DeclarativeStream
                  name: projects
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.everhour.com
                      authenticator:
                        type: ApiKeyAuthenticator
                        api_token: "{{ config['api_key'] }}"
                        inject_into:
                          type: RequestOption
                          inject_into: header
                          field_name: X-Api-Key
                      path: /projects
                      http_method: GET
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path: []
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: http://json-schema.org/draft-04/schema#
                      additionalProperties: true
                      properties:
                        canSyncTasks:
                          type:
                            - "null"
                            - boolean
                        connectionStatus:
                          type:
                            - "null"
                            - string
                        createdAt:
                          type:
                            - "null"
                            - string
                        estimatesType:
                          type:
                            - "null"
                            - string
                        favorite:
                          type:
                            - "null"
                            - boolean
                        foreign:
                          type:
                            - "null"
                            - boolean
                        hasWebhook:
                          type:
                            - "null"
                            - boolean
                        id:
                          type:
                            - "null"
                            - string
                        isTemplate:
                          type:
                            - "null"
                            - boolean
                        name:
                          type:
                            - "null"
                            - string
                        platform:
                          type:
                            - "null"
                            - string
                        privacy:
                          type:
                            - "null"
                            - string
                        status:
                          type:
                            - "null"
                            - string
                        unarchiveDisabledBy:
                          type:
                            - "null"
                            - string
                        users:
                          type:
                            - "null"
                            - array
                          items:
                            type: integer
                        workspaceId:
                          type:
                            - "null"
                            - string
                        workspaceName:
                          type:
                            - "null"
                            - string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            createdAt:
              type:
                - "null"
                - string
            date:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            task:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                assignees:
                  type:
                    - "null"
                    - array
                  items: {}
                completed:
                  type:
                    - "null"
                    - boolean
                createdAt:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
                iteration:
                  type:
                    - "null"
                    - string
                labels:
                  type:
                    - "null"
                    - array
                  items: {}
                name:
                  type:
                    - "null"
                    - string
                projects:
                  type:
                    - "null"
                    - array
                  items: {}
                status:
                  type:
                    - "null"
                    - string
                time:
                  type:
                    - "null"
                    - object
                  properties:
                    timerTime:
                      type:
                        - "null"
                        - integer
                    total:
                      type:
                        - "null"
                        - integer
                    users:
                      type:
                        - "null"
                        - object
                      properties:
                        "1029023":
                          type:
                            - "null"
                            - integer
                        "1163985":
                          type:
                            - "null"
                            - integer
                url:
                  type:
                    - "null"
                    - string
            time:
              type:
                - "null"
                - integer
            user:
              type:
                - "null"
                - integer
    clients:
      type: DeclarativeStream
      name: clients
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.everhour.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-Api-Key
          path: /clients
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            businessDetails:
              type:
                - "null"
                - string
            createdAt:
              type:
                - "null"
                - string
            enableResourcePlanner:
              type:
                - "null"
                - boolean
            excludedLabels:
              type:
                - "null"
                - array
              items:
                type: string
            favorite:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - integer
            invoicePublicNotes:
              type:
                - "null"
                - string
            lineItemMask:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            paymentDueDays:
              type:
                - "null"
                - integer
            projects:
              type:
                - "null"
                - array
              items:
                type: string
            reference:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
    time:
      type: DeclarativeStream
      name: time
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.everhour.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-Api-Key
          path: /team/time
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            cost:
              type:
                - "null"
                - integer
            costRate:
              type:
                - "null"
                - integer
            createdAt:
              type:
                - "null"
                - string
            date:
              type:
                - "null"
                - string
            history:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            id:
              type:
                - "null"
                - integer
            isLocked:
              type:
                - "null"
                - boolean
            lockReasons:
              type:
                - "null"
                - array
              items:
                type: string
            task:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                assignees:
                  type:
                    - "null"
                    - array
                  items:
                    type: string
                completed:
                  type:
                    - "null"
                    - boolean
                createdAt:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
                iteration:
                  type:
                    - "null"
                    - string
                labels:
                  type:
                    - "null"
                    - array
                  items:
                    type: string
                name:
                  type:
                    - "null"
                    - string
                projects:
                  type:
                    - "null"
                    - array
                  items:
                    type: string
                status:
                  type:
                    - "null"
                    - string
                time:
                  type:
                    - "null"
                    - object
                  properties:
                    timerTime:
                      type:
                        - "null"
                        - integer
                    total:
                      type:
                        - "null"
                        - integer
                    users:
                      type:
                        - "null"
                        - object
                      properties:
                        "1029023":
                          type:
                            - "null"
                            - integer
                url:
                  type:
                    - "null"
                    - string
            time:
              type:
                - "null"
                - integer
            user:
              type:
                - "null"
                - integer
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.everhour.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-Api-Key
          path: /team/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            avatarUrl:
              type:
                - "null"
                - string
            avatarUrlLarge:
              type:
                - "null"
                - string
            budget:
              type:
                - "null"
                - object
            capacity:
              type:
                - "null"
                - integer
            cost:
              type:
                - "null"
                - integer
            costHistory:
              type:
                - "null"
                - array
              items:
                type: object
            createdAt:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            enableResourcePlanner:
              type:
                - "null"
                - boolean
            groups:
              type:
                - "null"
                - array
              items:
                type: string
            headline:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            isEmailVerified:
              type:
                - "null"
                - boolean
            name:
              type:
                - "null"
                - string
            rate:
              type:
                - "null"
                - integer
            resourcePlannerAccess:
              type:
                - "null"
                - object
              properties:
                editAll:
                  type:
                    - "null"
                    - boolean
                editMine:
                  type:
                    - "null"
                    - boolean
                viewAll:
                  type:
                    - "null"
                    - boolean
                viewMine:
                  type:
                    - "null"
                    - boolean
            role:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
            timeTrackingPolicy:
              type:
                - "null"
                - object
              properties:
                allowExceedEstimate:
                  type:
                    - "null"
                    - boolean
                allowFutureTime:
                  type:
                    - "null"
                    - boolean
                allowManageEstimates:
                  type:
                    - "null"
                    - boolean
                allowManualTimeInput:
                  type:
                    - "null"
                    - boolean
                allowTimeWithoutEstimate:
                  type:
                    - "null"
                    - boolean
                allowTimeWithoutTask:
                  type:
                    - "null"
                    - boolean
  base_requester:
    type: HttpRequester
    url_base: https://api.everhour.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-Api-Key
streams:
  - type: DeclarativeStream
    name: projects
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.everhour.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Api-Key
        path: /projects
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          canSyncTasks:
            type:
              - "null"
              - boolean
          connectionStatus:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
          estimatesType:
            type:
              - "null"
              - string
          favorite:
            type:
              - "null"
              - boolean
          foreign:
            type:
              - "null"
              - boolean
          hasWebhook:
            type:
              - "null"
              - boolean
          id:
            type:
              - "null"
              - string
          isTemplate:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
          platform:
            type:
              - "null"
              - string
          privacy:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          unarchiveDisabledBy:
            type:
              - "null"
              - string
          users:
            type:
              - "null"
              - array
            items:
              type: integer
          workspaceId:
            type:
              - "null"
              - string
          workspaceName:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: tasks
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.everhour.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Api-Key
        path: /projects/{{ stream_slice.parent_id }}/tasks
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                type: DeclarativeStream
                name: projects
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.everhour.com
                    authenticator:
                      type: ApiKeyAuthenticator
                      api_token: "{{ config['api_key'] }}"
                      inject_into:
                        type: RequestOption
                        inject_into: header
                        field_name: X-Api-Key
                    path: /projects
                    http_method: GET
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-04/schema#
                    additionalProperties: true
                    properties:
                      canSyncTasks:
                        type:
                          - "null"
                          - boolean
                      connectionStatus:
                        type:
                          - "null"
                          - string
                      createdAt:
                        type:
                          - "null"
                          - string
                      estimatesType:
                        type:
                          - "null"
                          - string
                      favorite:
                        type:
                          - "null"
                          - boolean
                      foreign:
                        type:
                          - "null"
                          - boolean
                      hasWebhook:
                        type:
                          - "null"
                          - boolean
                      id:
                        type:
                          - "null"
                          - string
                      isTemplate:
                        type:
                          - "null"
                          - boolean
                      name:
                        type:
                          - "null"
                          - string
                      platform:
                        type:
                          - "null"
                          - string
                      privacy:
                        type:
                          - "null"
                          - string
                      status:
                        type:
                          - "null"
                          - string
                      unarchiveDisabledBy:
                        type:
                          - "null"
                          - string
                      users:
                        type:
                          - "null"
                          - array
                        items:
                          type: integer
                      workspaceId:
                        type:
                          - "null"
                          - string
                      workspaceName:
                        type:
                          - "null"
                          - string
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          type:
            type: string
          assignees:
            type: array
            items:
              type: string
          completed:
            type: boolean
          completedAt:
            type: string
          createdAt:
            type: string
          dueOn:
            type: string
          id:
            type: string
          iteration:
            type: string
          labels:
            type: array
            items:
              type: string
          name:
            type: string
          projects:
            type: array
            items:
              type: string
          status:
            type: string
          time:
            type: object
            properties:
              timerTime:
                type: integer
              total:
                type: integer
              users:
                type:
                  - "null"
                  - object
          url:
            type: string
  - type: DeclarativeStream
    name: time_records
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.everhour.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Api-Key
        path: /projects/{{ stream_slice.parent_id }}/time
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                type: DeclarativeStream
                name: projects
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.everhour.com
                    authenticator:
                      type: ApiKeyAuthenticator
                      api_token: "{{ config['api_key'] }}"
                      inject_into:
                        type: RequestOption
                        inject_into: header
                        field_name: X-Api-Key
                    path: /projects
                    http_method: GET
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-04/schema#
                    additionalProperties: true
                    properties:
                      canSyncTasks:
                        type:
                          - "null"
                          - boolean
                      connectionStatus:
                        type:
                          - "null"
                          - string
                      createdAt:
                        type:
                          - "null"
                          - string
                      estimatesType:
                        type:
                          - "null"
                          - string
                      favorite:
                        type:
                          - "null"
                          - boolean
                      foreign:
                        type:
                          - "null"
                          - boolean
                      hasWebhook:
                        type:
                          - "null"
                          - boolean
                      id:
                        type:
                          - "null"
                          - string
                      isTemplate:
                        type:
                          - "null"
                          - boolean
                      name:
                        type:
                          - "null"
                          - string
                      platform:
                        type:
                          - "null"
                          - string
                      privacy:
                        type:
                          - "null"
                          - string
                      status:
                        type:
                          - "null"
                          - string
                      unarchiveDisabledBy:
                        type:
                          - "null"
                          - string
                      users:
                        type:
                          - "null"
                          - array
                        items:
                          type: integer
                      workspaceId:
                        type:
                          - "null"
                          - string
                      workspaceName:
                        type:
                          - "null"
                          - string
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          createdAt:
            type:
              - "null"
              - string
          date:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          task:
            type:
              - "null"
              - object
            properties:
              type:
                type:
                  - "null"
                  - string
              assignees:
                type:
                  - "null"
                  - array
                items: {}
              completed:
                type:
                  - "null"
                  - boolean
              createdAt:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - string
              iteration:
                type:
                  - "null"
                  - string
              labels:
                type:
                  - "null"
                  - array
                items: {}
              name:
                type:
                  - "null"
                  - string
              projects:
                type:
                  - "null"
                  - array
                items: {}
              status:
                type:
                  - "null"
                  - string
              time:
                type:
                  - "null"
                  - object
                properties:
                  timerTime:
                    type:
                      - "null"
                      - integer
                  total:
                    type:
                      - "null"
                      - integer
                  users:
                    type:
                      - "null"
                      - object
                    properties:
                      "1029023":
                        type:
                          - "null"
                          - integer
                      "1163985":
                        type:
                          - "null"
                          - integer
              url:
                type:
                  - "null"
                  - string
          time:
            type:
              - "null"
              - integer
          user:
            type:
              - "null"
              - integer
  - type: DeclarativeStream
    name: clients
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.everhour.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Api-Key
        path: /clients
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          businessDetails:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
          enableResourcePlanner:
            type:
              - "null"
              - boolean
          excludedLabels:
            type:
              - "null"
              - array
            items:
              type: string
          favorite:
            type:
              - "null"
              - boolean
          id:
            type:
              - "null"
              - integer
          invoicePublicNotes:
            type:
              - "null"
              - string
          lineItemMask:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          paymentDueDays:
            type:
              - "null"
              - integer
          projects:
            type:
              - "null"
              - array
            items:
              type: string
          reference:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: time
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.everhour.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Api-Key
        path: /team/time
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          cost:
            type:
              - "null"
              - integer
          costRate:
            type:
              - "null"
              - integer
          createdAt:
            type:
              - "null"
              - string
          date:
            type:
              - "null"
              - string
          history:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
          id:
            type:
              - "null"
              - integer
          isLocked:
            type:
              - "null"
              - boolean
          lockReasons:
            type:
              - "null"
              - array
            items:
              type: string
          task:
            type:
              - "null"
              - object
            properties:
              type:
                type:
                  - "null"
                  - string
              assignees:
                type:
                  - "null"
                  - array
                items:
                  type: string
              completed:
                type:
                  - "null"
                  - boolean
              createdAt:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - string
              iteration:
                type:
                  - "null"
                  - string
              labels:
                type:
                  - "null"
                  - array
                items:
                  type: string
              name:
                type:
                  - "null"
                  - string
              projects:
                type:
                  - "null"
                  - array
                items:
                  type: string
              status:
                type:
                  - "null"
                  - string
              time:
                type:
                  - "null"
                  - object
                properties:
                  timerTime:
                    type:
                      - "null"
                      - integer
                  total:
                    type:
                      - "null"
                      - integer
                  users:
                    type:
                      - "null"
                      - object
                    properties:
                      "1029023":
                        type:
                          - "null"
                          - integer
              url:
                type:
                  - "null"
                  - string
          time:
            type:
              - "null"
              - integer
          user:
            type:
              - "null"
              - integer
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.everhour.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Api-Key
        path: /team/users
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
          avatarUrl:
            type:
              - "null"
              - string
          avatarUrlLarge:
            type:
              - "null"
              - string
          budget:
            type:
              - "null"
              - object
          capacity:
            type:
              - "null"
              - integer
          cost:
            type:
              - "null"
              - integer
          costHistory:
            type:
              - "null"
              - array
            items:
              type: object
          createdAt:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          enableResourcePlanner:
            type:
              - "null"
              - boolean
          groups:
            type:
              - "null"
              - array
            items:
              type: string
          headline:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          isEmailVerified:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
          rate:
            type:
              - "null"
              - integer
          resourcePlannerAccess:
            type:
              - "null"
              - object
            properties:
              editAll:
                type:
                  - "null"
                  - boolean
              editMine:
                type:
                  - "null"
                  - boolean
              viewAll:
                type:
                  - "null"
                  - boolean
              viewMine:
                type:
                  - "null"
                  - boolean
          role:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          timeTrackingPolicy:
            type:
              - "null"
              - object
            properties:
              allowExceedEstimate:
                type:
                  - "null"
                  - boolean
              allowFutureTime:
                type:
                  - "null"
                  - boolean
              allowManageEstimates:
                type:
                  - "null"
                  - boolean
              allowManualTimeInput:
                type:
                  - "null"
                  - boolean
              allowTimeWithoutEstimate:
                type:
                  - "null"
                  - boolean
              allowTimeWithoutTask:
                type:
                  - "null"
                  - boolean
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          Everhour API Key. See the <a
          href="https://everhour.docs.apiary.io/#introduction/authentication">docs</a>
          for information on how to generate this key.
        order: 0
    additionalProperties: true
metadata:
  autoImportSchema:
    projects: true
    tasks: true
    time_records: true
    clients: true
    time: true
    users: true
schemas:
  projects:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      canSyncTasks:
        type:
          - "null"
          - boolean
      connectionStatus:
        type:
          - "null"
          - string
      createdAt:
        type:
          - "null"
          - string
      estimatesType:
        type:
          - "null"
          - string
      favorite:
        type:
          - "null"
          - boolean
      foreign:
        type:
          - "null"
          - boolean
      hasWebhook:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - string
      isTemplate:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      platform:
        type:
          - "null"
          - string
      privacy:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      unarchiveDisabledBy:
        type:
          - "null"
          - string
      users:
        type:
          - "null"
          - array
        items:
          type: integer
      workspaceId:
        type:
          - "null"
          - string
      workspaceName:
        type:
          - "null"
          - string
  tasks:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      assignees:
        type: array
        items:
          type: string
      completed:
        type: boolean
      completedAt:
        type: string
      createdAt:
        type: string
      dueOn:
        type: string
      id:
        type: string
      iteration:
        type: string
      labels:
        type: array
        items:
          type: string
      name:
        type: string
      projects:
        type: array
        items:
          type: string
      status:
        type: string
      time:
        type: object
        properties:
          timerTime:
            type: integer
          total:
            type: integer
          users:
            type:
              - "null"
              - object
      url:
        type: string
  time_records:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - "null"
          - string
      date:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      task:
        type:
          - "null"
          - object
        properties:
          type:
            type:
              - "null"
              - string
          assignees:
            type:
              - "null"
              - array
            items: {}
          completed:
            type:
              - "null"
              - boolean
          createdAt:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          iteration:
            type:
              - "null"
              - string
          labels:
            type:
              - "null"
              - array
            items: {}
          name:
            type:
              - "null"
              - string
          projects:
            type:
              - "null"
              - array
            items: {}
          status:
            type:
              - "null"
              - string
          time:
            type:
              - "null"
              - object
            properties:
              timerTime:
                type:
                  - "null"
                  - integer
              total:
                type:
                  - "null"
                  - integer
              users:
                type:
                  - "null"
                  - object
                properties:
                  "1029023":
                    type:
                      - "null"
                      - integer
                  "1163985":
                    type:
                      - "null"
                      - integer
          url:
            type:
              - "null"
              - string
      time:
        type:
          - "null"
          - integer
      user:
        type:
          - "null"
          - integer
  clients:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      businessDetails:
        type:
          - "null"
          - string
      createdAt:
        type:
          - "null"
          - string
      enableResourcePlanner:
        type:
          - "null"
          - boolean
      excludedLabels:
        type:
          - "null"
          - array
        items:
          type: string
      favorite:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      invoicePublicNotes:
        type:
          - "null"
          - string
      lineItemMask:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      paymentDueDays:
        type:
          - "null"
          - integer
      projects:
        type:
          - "null"
          - array
        items:
          type: string
      reference:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
  time:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      cost:
        type:
          - "null"
          - integer
      costRate:
        type:
          - "null"
          - integer
      createdAt:
        type:
          - "null"
          - string
      date:
        type:
          - "null"
          - string
      history:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
      id:
        type:
          - "null"
          - integer
      isLocked:
        type:
          - "null"
          - boolean
      lockReasons:
        type:
          - "null"
          - array
        items:
          type: string
      task:
        type:
          - "null"
          - object
        properties:
          type:
            type:
              - "null"
              - string
          assignees:
            type:
              - "null"
              - array
            items:
              type: string
          completed:
            type:
              - "null"
              - boolean
          createdAt:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          iteration:
            type:
              - "null"
              - string
          labels:
            type:
              - "null"
              - array
            items:
              type: string
          name:
            type:
              - "null"
              - string
          projects:
            type:
              - "null"
              - array
            items:
              type: string
          status:
            type:
              - "null"
              - string
          time:
            type:
              - "null"
              - object
            properties:
              timerTime:
                type:
                  - "null"
                  - integer
              total:
                type:
                  - "null"
                  - integer
              users:
                type:
                  - "null"
                  - object
                properties:
                  "1029023":
                    type:
                      - "null"
                      - integer
          url:
            type:
              - "null"
              - string
      time:
        type:
          - "null"
          - integer
      user:
        type:
          - "null"
          - integer
  users:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      avatarUrl:
        type:
          - "null"
          - string
      avatarUrlLarge:
        type:
          - "null"
          - string
      budget:
        type:
          - "null"
          - object
      capacity:
        type:
          - "null"
          - integer
      cost:
        type:
          - "null"
          - integer
      costHistory:
        type:
          - "null"
          - array
        items:
          type: object
      createdAt:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      enableResourcePlanner:
        type:
          - "null"
          - boolean
      groups:
        type:
          - "null"
          - array
        items:
          type: string
      headline:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      isEmailVerified:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      rate:
        type:
          - "null"
          - integer
      resourcePlannerAccess:
        type:
          - "null"
          - object
        properties:
          editAll:
            type:
              - "null"
              - boolean
          editMine:
            type:
              - "null"
              - boolean
          viewAll:
            type:
              - "null"
              - boolean
          viewMine:
            type:
              - "null"
              - boolean
      role:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      timeTrackingPolicy:
        type:
          - "null"
          - object
        properties:
          allowExceedEstimate:
            type:
              - "null"
              - boolean
          allowFutureTime:
            type:
              - "null"
              - boolean
          allowManageEstimates:
            type:
              - "null"
              - boolean
          allowManualTimeInput:
            type:
              - "null"
              - boolean
          allowTimeWithoutEstimate:
            type:
              - "null"
              - boolean
          allowTimeWithoutTask:
            type:
              - "null"
              - boolean
