spec:
  connection_specification:
    type: object
    title: Harvest Spec
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - account_id
      - replication_start_date
    properties:
      account_id:
        type: string
        order: 0
        title: Account ID
        description: >-
          Harvest account ID. Required for all Harvest requests in pair with
          Personal Access Token
        airbyte_secret: true
      credentials:
        type: object
        oneOf:
          - type: object
            title: Authenticate via Harvest (OAuth)
            required:
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: Client
                order: 0
              client_id:
                type: string
                title: Client ID
                description: The Client ID of your Harvest developer application.
              client_secret:
                type: string
                title: Client Secret
                description: The Client Secret of your Harvest developer application.
                airbyte_secret: true
              refresh_token:
                type: string
                title: Refresh Token
                description: Refresh Token to renew the expired Access Token.
                airbyte_secret: true
            additionalProperties: true
          - type: object
            title: Authenticate with Personal Access Token
            required:
              - api_token
            properties:
              api_token:
                type: string
                title: Personal Access Token
                description: >-
                  Log into Harvest and then create new <a
                  href="https://id.getharvest.com/developers"> personal access
                  token</a>.
                airbyte_secret: true
              auth_type:
                type: string
                const: Token
                order: 0
            additionalProperties: true
        order: 3
        title: Authentication mechanism
        description: Choose how to authenticate to Harvest.
      replication_end_date:
        type: string
        order: 2
        title: End Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - '2017-01-25T00:00:00Z'
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data after
          this date will not be replicated.
        airbyte_hidden: true
      replication_start_date:
        type: string
        order: 1
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - '2017-01-25T00:00:00Z'
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
    additionalProperties: true
  type: Spec
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - company
streams:
  - name: clients
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /clients
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - clients
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: company
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /company
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router: []
    primary_key: []
  - name: contacts
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /contacts
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - contacts
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: estimate_item_categories
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /estimate_item_categories
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - estimate_item_categories
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: estimates
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /estimates
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - estimates
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: expense_categories
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /expense_categories
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - expense_categories
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: expenses
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /expenses
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - expenses
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: invoice_item_categories
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /invoice_item_categories
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoice_item_categories
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: invoices
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /invoices
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoices
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: projects
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /projects
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - projects
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: roles
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /roles
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - roles
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: task_assignments
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /task_assignments
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - task_assignments
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: tasks
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /tasks
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - tasks
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: time_entries
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /time_entries
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - time_entries
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: user_assignments
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /user_assignments
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - user_assignments
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: users
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /users
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
      partition_router: []
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: expenses_categories
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/expenses/categories
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: expenses_clients
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/expenses/clients
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: expenses_projects
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/expenses/projects
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: expenses_team
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/expenses/team
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: project_budget
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/project_budget
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
  - name: time_clients
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/time/clients
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: time_projects
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/time/projects
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: time_tasks
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/time/tasks
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: time_team
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/time/team
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: uninvoiced
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /reports/uninvoiced
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      partition_router: []
    primary_key: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
            type: AddedFieldDefinition
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
            type: AddedFieldDefinition
    incremental_sync:
      step: P365D
      type: DatetimeBasedCursor
      cursor_field: to
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''replication_start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y%m%d'
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - '%Y%m%d'
  - name: estimate_messages
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      requester:
        path: /estimates/{{stream_partition.id}}/messages
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        http_method: GET
        authenticator:
          type: SelectiveAuthenticator
          authenticators:
            Token:
              type: BearerAuthenticator
              api_token: '{{ config[''credentials''][''api_token''] }}'
            Client:
              type: OAuthAuthenticator
              client_id: '{{ config[''credentials''][''client_id''] }}'
              grant_type: refresh_token
              client_secret: '{{ config[''credentials''][''client_secret''] }}'
              refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
              refresh_request_body: {}
              token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
          authenticator_selection_path:
            - credentials
            - auth_type
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              response_filters:
                - action: IGNORE
                  http_codes:
                    - 401
                  error_message: Please ensure your credentials are valid.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 403
                  error_message: >-
                    This is most likely due to insufficient permissions on the
                    credentials in use.
                  type: HttpResponseFilter
                - action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Please ensure that your account ID is properly set. If it is
                    the case and you are still seeing this error, please contact
                    Airbyte support.
                  type: HttpResponseFilter
        request_headers:
          Harvest-Account-Id: '{{ config[''account_id''] }}'
        request_body_json: {}
        request_parameters:
          per_page: '50'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - estimate_messages
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                name: estimates
                type: DeclarativeStream
                retriever:
                  type: SimpleRetriever
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 1
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  requester:
                    path: /estimates
                    type: HttpRequester
                    url_base: https://api.harvestapp.com/v2/
                    http_method: GET
                    authenticator:
                      type: SelectiveAuthenticator
                      authenticators:
                        Token:
                          type: BearerAuthenticator
                          api_token: '{{ config[''credentials''][''api_token''] }}'
                        Client:
                          type: OAuthAuthenticator
                          client_id: '{{ config[''credentials''][''client_id''] }}'
                          grant_type: refresh_token
                          client_secret: '{{ config[''credentials''][''client_secret''] }}'
                          refresh_token: '{{ config[''credentials''][''refresh_token''] }}'
                          refresh_request_body: {}
                          token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
                      authenticator_selection_path:
                        - credentials
                        - auth_type
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: Retry-After
                    request_headers:
                      Harvest-Account-Id: '{{ config[''account_id''] }}'
                    request_body_json: {}
                    request_parameters:
                      per_page: '50'
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - estimates
                  partition_router: []
                primary_key:
                  - id
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: updated_at
                  start_datetime:
                    type: MinMaxDatetime
[...]
