version: 0.61.2

definitions:
  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "auth_type"]
    authenticators:
      Token:
        type: BearerAuthenticator
        api_token: "{{ config['credentials']['api_token'] }}"
      Client:
        type: OAuthAuthenticator
        client_id: "{{ config['credentials']['client_id'] }}"
        grant_type: refresh_token
        client_secret: "{{ config['credentials']['client_secret'] }}"
        refresh_token: "{{ config['credentials']['refresh_token'] }}"
        refresh_request_body: {}
        token_refresh_endpoint: https://id.getharvest.com/api/v2/oauth2/token
  composite_error_handler:
    type: CompositeErrorHandler
    error_handlers:
      - type: DefaultErrorHandler
        backoff_strategies:
          - type: WaitTimeFromHeader
            header: Retry-After
      - type: DefaultErrorHandler
        response_filters:
          - http_codes: [401]
            action: IGNORE
            error_message: "Please ensure your credentials are valid."
          - http_codes: [403]
            action: IGNORE
            error_message: "This is most likely due to insufficient permissions on the credentials in use."
          - http_codes: [404]
            action: IGNORE
            error_message: "Please ensure that your account ID is properly set. If it is the case and you are still seeing this error, please contact Airbyte support."
spec:
  connection_specification:
    $schema: "http://json-schema.org/draft-07/schema#"
    title: "Harvest Spec"
    type: object
    required:
      - account_id
      - replication_start_date
    additionalProperties: true
    properties:
      account_id:
        title: "Account ID"
        description: "Harvest account ID. Required for all Harvest requests in pair with Personal Access Token"
        airbyte_secret: true
        type: string
        order: 0
      replication_start_date:
        title: "Start Date"
        description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        examples:
          - "2017-01-25T00:00:00Z"
        type: string
        order: 1
        format: date-time
      replication_end_date:
        title: "End Date"
        description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data after this date will not be replicated."
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        examples:
          - "2017-01-25T00:00:00Z"
        type: string
        airbyte_hidden: true
        order: 2
        format: date-time
      credentials:
        title: "Authentication mechanism"
        description: "Choose how to authenticate to Harvest."
        type: object
        order: 3
        oneOf:
          - type: object
            title: "Authenticate via Harvest (OAuth)"
            required:
              - client_id
              - client_secret
              - refresh_token
            additionalProperties: true
            properties:
              auth_type:
                type: string
                const: "Client"
                order: 0
              client_id:
                title: "Client ID"
                type: string
                description: "The Client ID of your Harvest developer application."
              client_secret:
                title: "Client Secret"
                type: string
                description: "The Client Secret of your Harvest developer application."
                airbyte_secret: true
              refresh_token:
                title: "Refresh Token"
                type: string
                description: "Refresh Token to renew the expired Access Token."
                airbyte_secret: true
          - type: object
            title: "Authenticate with Personal Access Token"
            required:
              - api_token
            additionalProperties: true
            properties:
              auth_type:
                type: string
                const: "Token"
                order: 0
              api_token:
                title: "Personal Access Token"
                description: 'Log into Harvest and then create new <a href="https://id.getharvest.com/developers"> personal access token</a>.'
                type: string
                airbyte_secret: true
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - company
streams:
  - type: DeclarativeStream
    name: clients
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /clients
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - clients
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: company
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /company
        http_method: GET
        request_parameters: {}
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      partition_router: []
  - type: DeclarativeStream
    name: contacts
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /contacts
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - contacts
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: estimate_item_categories
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /estimate_item_categories
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - estimate_item_categories
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: estimates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /estimates
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - estimates
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: expense_categories
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /expense_categories
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - expense_categories
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: expenses
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /expenses
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - expenses
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: invoice_item_categories
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /invoice_item_categories
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoice_item_categories
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: invoices
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /invoices
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoices
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: projects
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /projects
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - projects
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: roles
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /roles
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - roles
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: task_assignments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /task_assignments
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - task_assignments
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: tasks
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /tasks
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - tasks
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: time_entries
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /time_entries
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - time_entries
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: user_assignments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /user_assignments
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - user_assignments
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /users
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: expenses_categories
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/expenses/categories
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: expenses_clients
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/expenses/clients
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: expenses_projects
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/expenses/projects
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: expenses_team
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/expenses/team
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: project_budget
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/project_budget
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
  - type: DeclarativeStream
    name: time_clients
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/time/clients
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: time_projects
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/time/projects
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: time_tasks
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/time/tasks
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: time_team
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/time/team
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: uninvoiced
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /reports/uninvoiced
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    transformations:
      - type: AddFields
        fields:
          - path:
              - from
            value: '"{{ stream_partition.start_time }}"'
      - type: AddFields
        fields:
          - path:
              - to
            value: '"{{ stream_partition.end_time }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: to
      cursor_datetime_formats:
        - "%Y%m%d"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: P365D
      cursor_granularity: P1D
  - type: DeclarativeStream
    name: estimate_messages
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /estimates/{{stream_partition.id}}/messages
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - estimate_messages
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: estimates
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.harvestapp.com/v2/
                    path: /estimates
                    http_method: GET
                    request_parameters:
                      per_page: "50"
                    request_headers:
                      Harvest-Account-Id: "{{ config['account_id'] }}"
                    authenticator:
                      $ref: "#/definitions/authenticator"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: Retry-After
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - estimates
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 1
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: updated_at
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%SZ"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['replication_start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: updated_since
                    inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - path:
              - parent_id
            value: "{{stream_partition.id}}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: invoice_messages
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /invoices/{{stream_partition.id}}/messages
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoice_messages
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: invoices
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.harvestapp.com/v2/
                    path: /invoices
                    http_method: GET
                    request_parameters:
                      per_page: "50"
                    request_headers:
                      Harvest-Account-Id: "{{ config['account_id'] }}"
                    authenticator:
                      $ref: "#/definitions/authenticator"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: Retry-After
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - invoices
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 1
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: updated_at
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%SZ"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['replication_start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: updated_since
                    inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - path:
              - parent_id
            value: "{{stream_partition.id}}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: invoice_payments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /invoices/{{stream_partition.id}}/payments
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoice_payments
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: invoices
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.harvestapp.com/v2/
                    path: /invoices
                    http_method: GET
                    request_parameters:
                      per_page: "50"
                    request_headers:
                      Harvest-Account-Id: "{{ config['account_id'] }}"
                    authenticator:
                      $ref: "#/definitions/authenticator"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: Retry-After
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - invoices
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 1
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: updated_at
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%SZ"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['replication_start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: updated_since
                    inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - path:
              - parent_id
            value: "{{stream_partition.id}}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: project_assignments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /users/{{stream_partition.id}}/project_assignments
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - project_assignments
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: users
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.harvestapp.com/v2/
                    path: /users
                    http_method: GET
                    request_parameters:
                      per_page: "50"
                    request_headers:
                      Harvest-Account-Id: "{{ config['account_id'] }}"
                    authenticator:
                      $ref: "#/definitions/authenticator"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: Retry-After
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - users
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 1
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: updated_at
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%SZ"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['replication_start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: updated_since
                    inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - path:
              - parent_id
            value: "{{stream_partition.id}}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['replication_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updated_since
        inject_into: request_parameter
  - type: DeclarativeStream
    name: billable_rates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /users/{{stream_partition['id']}}/billable_rates
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - billable_rates
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: users
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.harvestapp.com/v2/
                    path: /users
                    http_method: GET
                    request_parameters:
                      per_page: "50"
                    request_headers:
                      Harvest-Account-Id: "{{ config['account_id'] }}"
                    authenticator:
                      $ref: "#/definitions/authenticator"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: Retry-After
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - users
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 1
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: updated_at
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%SZ"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['replication_start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: updated_since
                    inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - path:
              - parent_id
            value: "{{stream_partition.id}}"
  - type: DeclarativeStream
    name: cost_rates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.harvestapp.com/v2/
        path: /users/{{stream_partition.id}}/cost_rates
        http_method: GET
        request_parameters:
          per_page: "50"
        request_headers:
          Harvest-Account-Id: "{{ config['account_id'] }}"
        authenticator:
          $ref: "#/definitions/authenticator"
        error_handler:
          $ref: "#/definitions/composite_error_handler"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - cost_rates
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 1
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: users
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.harvestapp.com/v2/
                    path: /users
                    http_method: GET
                    request_parameters:
                      per_page: "50"
                    request_headers:
                      Harvest-Account-Id: "{{ config['account_id'] }}"
                    authenticator:
                      $ref: "#/definitions/authenticator"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: Retry-After
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - users
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 1
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: updated_at
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%SZ"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['replication_start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: updated_since
                    inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - path:
              - parent_id
            value: "{{stream_partition.id}}"
metadata:
  autoImportSchema:
    clients: true
    company: true
    contacts: true
    estimate_item_categories: true
    estimates: true
    expense_categories: true
    expenses: true
    invoice_item_categories: true
    invoices: true
    projects: true
    roles: true
    task_assignments: true
    tasks: true
    time_entries: true
    user_assignments: true
    users: true
    expenses_categories: true
    expenses_clients: true
    expenses_projects: true
    expenses_team: true
    project_budget: true
    time_clients: true
    time_projects: true
    time_tasks: true
    time_team: true
    uninvoiced: true
    estimate_messages: true
    invoice_messages: true
    invoice_payments: true
    project_assignments: true
    billable_rates: true
    cost_rates: true
