version: 6.41.1

type: DeclarativeSource

description: here's my description

check:
  type: CheckStream
  stream_names:
    - pokethings

definitions:
  streams:
    pokethings:
      type: DeclarativeStream
      name: pokethings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /{{config['pokemon_name']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pokethings"
  base_requester:
    type: HttpRequester
    url_base: https://pokeapi.co/api/v2/pokemon

streams:
  - $ref: "#/definitions/streams/pokethings"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - pokemon_name
    properties:
      pokemon_name:
        type: string
        order: 0
        title: name
    additionalProperties: true

metadata:
  autoImportSchema:
    pokethings: true
  testedStreams:
    pokethings:
      streamHash: a3878e9fa53669b6c1f871f79b813ce49eb20df1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  pokethings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abilities:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ability:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
            is_hidden:
              type:
                - boolean
                - "null"
            slot:
              type:
                - number
                - "null"
      base_experience:
        type:
          - number
          - "null"
      cries:
        type:
          - object
          - "null"
        properties:
          latest:
            type:
              - string
              - "null"
          legacy:
            type:
              - string
              - "null"
      forms:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
      game_indices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            version:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
            game_index:
              type:
                - number
                - "null"
      height:
        type:
          - number
          - "null"
      held_items:
        type:
          - array
          - "null"
      id:
        type: number
      is_default:
        type:
          - boolean
          - "null"
      location_area_encounters:
        type:
          - string
          - "null"
      moves:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            move:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
            version_group_details:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  level_learned_at:
                    type:
                      - number
                      - "null"
                  move_learn_method:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                  order:
                    type:
                      - number
                      - "null"
                  version_group:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
      name:
        type:
          - string
          - "null"
      order:
        type:
          - number
          - "null"
      past_abilities:
        type:
          - array
          - "null"
      past_types:
        type:
          - array
          - "null"
      species:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
      sprites:
        type:
          - object
          - "null"
        properties:
          back_default:
            type:
              - string
              - "null"
          back_shiny:
            type:
              - string
              - "null"
          front_default:
            type:
              - string
              - "null"
          front_shiny:
            type:
              - string
              - "null"
          other:
            type:
              - object
              - "null"
            properties:
              dream_world:
                type:
                  - object
                  - "null"
                properties:
                  front_default:
                    type:
                      - string
                      - "null"
              home:
                type:
                  - object
                  - "null"
                properties:
                  front_default:
                    type:
                      - string
                      - "null"
                  front_shiny:
                    type:
                      - string
                      - "null"
              official-artwork:
                type:
                  - object
                  - "null"
                properties:
                  front_default:
                    type:
                      - string
                      - "null"
                  front_shiny:
                    type:
                      - string
                      - "null"
              showdown:
                type:
                  - object
                  - "null"
                properties:
                  back_default:
                    type:
                      - string
                      - "null"
                  back_shiny:
                    type:
                      - string
                      - "null"
                  front_default:
                    type:
                      - string
                      - "null"
                  front_shiny:
                    type:
                      - string
                      - "null"
          versions:
            type:
              - object
              - "null"
            properties:
              generation-i:
                type:
                  - object
                  - "null"
                properties:
                  red-blue:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_gray:
                        type:
                          - string
                          - "null"
                      back_transparent:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_gray:
                        type:
                          - string
                          - "null"
                      front_transparent:
                        type:
                          - string
                          - "null"
                  yellow:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_gray:
                        type:
                          - string
                          - "null"
                      back_transparent:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_gray:
                        type:
                          - string
                          - "null"
                      front_transparent:
                        type:
                          - string
                          - "null"
              generation-ii:
                type:
                  - object
                  - "null"
                properties:
                  crystal:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      back_shiny_transparent:
                        type:
                          - string
                          - "null"
                      back_transparent:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
                      front_shiny_transparent:
                        type:
                          - string
                          - "null"
                      front_transparent:
                        type:
                          - string
                          - "null"
                  gold:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
                      front_transparent:
                        type:
                          - string
                          - "null"
                  silver:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
                      front_transparent:
                        type:
                          - string
                          - "null"
              generation-iii:
                type:
                  - object
                  - "null"
                properties:
                  emerald:
                    type:
                      - object
                      - "null"
                    properties:
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
                  firered-leafgreen:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
                  ruby-sapphire:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
              generation-iv:
                type:
                  - object
                  - "null"
                properties:
                  diamond-pearl:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
                  heartgold-soulsilver:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
                  platinum:
                    type:
                      - object
                      - "null"
                    properties:
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
              generation-v:
                type:
                  - object
                  - "null"
                properties:
                  black-white:
                    type:
                      - object
                      - "null"
                    properties:
                      animated:
                        type:
                          - object
                          - "null"
                        properties:
                          back_default:
                            type:
                              - string
                              - "null"
                          back_shiny:
                            type:
                              - string
                              - "null"
                          front_default:
                            type:
                              - string
                              - "null"
                          front_shiny:
                            type:
                              - string
                              - "null"
                      back_default:
                        type:
                          - string
                          - "null"
                      back_shiny:
                        type:
                          - string
                          - "null"
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
              generation-vi:
                type:
                  - object
                  - "null"
                properties:
                  omegaruby-alphasapphire:
                    type:
                      - object
                      - "null"
                    properties:
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
                  x-y:
                    type:
                      - object
                      - "null"
                    properties:
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
              generation-vii:
                type:
                  - object
                  - "null"
                properties:
                  icons:
                    type:
                      - object
                      - "null"
                    properties:
                      front_default:
                        type:
                          - string
                          - "null"
                  ultra-sun-ultra-moon:
                    type:
                      - object
                      - "null"
                    properties:
                      front_default:
                        type:
                          - string
                          - "null"
                      front_shiny:
                        type:
                          - string
                          - "null"
              generation-viii:
                type:
                  - object
                  - "null"
                properties:
                  icons:
                    type:
                      - object
                      - "null"
                    properties:
                      front_default:
                        type:
                          - string
                          - "null"
      stats:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            base_stat:
              type:
                - number
                - "null"
            effort:
              type:
                - number
                - "null"
            stat:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
      types:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
            slot:
              type:
                - number
                - "null"
      weight:
        type:
          - number
          - "null"
    required:
      - id
