#version: 0.61.2
version: 0.58.7
type: DeclarativeSource

spec:
  type: Spec
  documentationUrl: https://docs.airbyte.com/integrations/sources/slack
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Slack Spec
    type: object
    required:
    - start_date
    - lookback_window
    - join_channels
    additionalProperties: true
    properties:
      start_date:
        type: string
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        description: UTC date and time in the format 2017-01-25T00:00:00Z. Any data
          before this date will not be replicated.
        examples:
        - '2017-01-25T00:00:00Z'
        title: Start Date
        format: date-time
      lookback_window:
        type: integer
        title: Threads Lookback window (Days)
        description: How far into the past to look for messages in threads, default
          is 0 days
        examples:
        - 7
        - 14
        minimum: 0
        default: 0
        maximum: 365
      join_channels:
        type: boolean
        default: true
        title: Join all channels
        description: 'Whether to join all channels or to sync data only from channels
          the bot is already in.  If false, you''ll need to manually add the bot to
          all the channels from which you''d like to sync messages. '
      channel_filter:
        type: array
        default: []
        items:
          type: string
          minLength: 0
        title: Channel name filter
        description: A channel name list (without leading '#' char) which limit the
          channels from which you'd like to sync. Empty list means no filter.
        examples:
        - channel_one
        - channel_two
      credentials:
        title: Authentication mechanism
        description: Choose how to authenticate into Slack
        type: object
        oneOf:
        - type: object
          title: Sign in via Slack (OAuth)
          required:
          - option_title
          - client_id
          - client_secret
          - access_token
          properties:
            option_title:
              type: string
              const: Default OAuth2.0 authorization
            client_id:
              type: string
              title: Client ID
              description: Slack client_id. See our <a href="https://docs.airbyte.com/integrations/sources/slack">docs</a>
                if you need help finding this id.
            client_secret:
              type: string
              title: Client Secret
              description: Slack client_secret. See our <a href="https://docs.airbyte.com/integrations/sources/slack">docs</a>
                if you need help finding this secret.
              airbyte_secret: true
            access_token:
              type: string
              title: Access token
              description: Slack access_token. See our <a href="https://docs.airbyte.com/integrations/sources/slack">docs</a>
                if you need help generating the token.
              airbyte_secret: true
          order: 0
        - type: object
          title: API Token
          required:
          - option_title
          - api_token
          properties:
            option_title:
              type: string
              const: API Token Credentials
            api_token:
              type: string
              title: API Token
              description: A Slack bot token. See the <a href="https://docs.airbyte.com/integrations/sources/slack">docs</a>
                for instructions on how to generate it.
              airbyte_secret: true
          order: 1
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
    - credentials
    - option_title
    predicate_value: Default OAuth2.0 authorization
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          access_token:
            type: string
            path_in_connector_config:
            - credentials
            - access_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
            - credentials
            - client_id
          client_secret:
            type: string
            path_in_connector_config:
            - credentials
            - client_secret

definitions:

  schema_loader:
    type: JsonFileSchemaLoader
    file_path: "./source_slack/schemas/{{ parameters['name'] }}.json"

  default_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: cursor
    page_size_option:
      type: RequestOption
      field_name: limit
      inject_into: request_parameter
    pagination_strategy:
      type: CursorPagination
      page_size: 1000
      cursor_value: '{{ response.get("response_metadata", {}).get("next_cursor", {}) }}'
      stop_condition: >-
        {{ not response.get("response_metadata", {}).get("next_cursor", {})
        }}

  api_token_auth:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['api_token'] }}"
  access_token_auth:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"

  requester:
    type: HttpRequester
    url_base: https://slack.com/api/
    path: "{{ parameters['path'] }}"
    http_method: GET
    request_parameters: { }
    request_headers: { }
    authenticator:
      class_name: source_slack.components.SlackAuthenticator
      api_token_auth: "#/definitions/api_token_auth"
      access_token_auth: "#/definitions/access_token_auth"
    request_body_json: { }

  retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/requester"
    record_selector:
      type: RecordSelector
      extractor:
        class_name: "source_slack.components.SlackDpathExtractor"
        field_path:
        - "{{ parameters['field_path'] }}"
    paginator:
      $ref: "#/definitions/default_paginator"
    partition_router: []

  retriever_filter:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/requester"
    record_selector:
      type: RecordSelector
      extractor:
        class_name: "source_slack.components.SlackDpathExtractor"
        field_path:
        - "{{ parameters['field_path'] }}"
      record_filter:
        type: RecordFilter
        condition: "{{ record.id in config.channel_filter or not config.channel_filter }}"
    paginator:
      $ref: "#/definitions/default_paginator"
    partition_router: []

  stream_base:
    primary_key: "id"
    retriever:
      $ref: "#/definitions/retriever"
    schema_loader:
      $ref: "#/definitions/schema_loader"

  users_stream:
    $ref: "#/definitions/stream_base"
    $parameters:
      name: users
      path: users.list
      field_path: members

  channels_stream:
    $ref: "#/definitions/stream_base"
    $parameters:
      name: channels
      path: conversations.list
      field_path: channels
    retriever:
      $ref: "#/definitions/retriever_filter"
    transformations:
      - type: CustomTransformation
        class_name: "source_slack.components.JoinChannels"

  channels_partition_router:
    type: SubstreamPartitionRouter
    parent_stream_configs:
      - type: ParentStreamConfig
        parent_key: id
        request_option:
          type: RequestOption
          field_name: channel
          inject_into: request_parameter
        partition_field: channel_id
        stream: "#/definitions/channels_stream"

  channel_members_stream:
    $ref: "#/definitions/stream_base"
    $parameters:
      name: channel_members
      path: conversations.members
      field_path: members
    primary_key:
      - member_id
      - channel_id
    retriever:
      $ref: "#/definitions/retriever"
      partition_router:
        $ref: "#/definitions/channels_partition_router"
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_slack.components.ChannelMembersExtractor"
          field_path: ['members']
    transformations:
      - type: AddFields
        fields:
          - path:
              - channel_id
            value: '{{ stream_partition[''channel_id''] }}'

  channel_messages_stream:
    $ref: "#/definitions/stream_base"
    $parameters:
      name: channel_messages
      path: conversations.history
      field_path: messages
      use_lookback_window: false
    primary_key:
      - channel_id
      - ts
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          inclusive: 'True'
      partition_router:
        $ref: "#/definitions/channels_partition_router"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: float_ts
      lookback_window: "P{{ config['lookback_window'] if parameters.use_lookback_window else 0 }}D"
      cursor_datetime_formats:
        - '%s'
      datetime_format: '%s'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: oldest
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: latest
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: P100D
      cursor_granularity: PT0S
    transformations:
      - type: AddFields
        fields:
          - path:
              - float_ts
            value: '{{ record.ts|int }}'
      - type: AddFields
        fields:
          - path:
              - channel_id
            value: '{{ stream_partition[''channel_id''] }}'

  channel_messages_stream_lookback:
    $ref: "#/definitions/stream_base"
    $parameters:
      name: channel_messages
      path: conversations.history
      field_path: messages
      lookback_window: 0

  threads_stream:
    $ref: "#/definitions/stream_base"
    $parameters:
      name: threads
      path: conversations.replies
      field_path: messages
    primary_key:
      - channel_id
      - ts
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_slack.components.SlackDpathExtractor"
          field_path:
          - "{{ parameters['field_path'] }}"
      paginator:
        $ref: "#/definitions/default_paginator"
      partition_router:
        class_name: "source_slack.components.ThreadsPartitionRouter"
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/channel_messages_stream"
              $parameters:
                name: channel_messages
                path: conversations.history
                field_path: messages
                use_lookback_window: true
            parent_key: channel_id
            partition_field: channel
            request_option:
              type: RequestOption
              field_name: channel
              inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - path:
              - float_ts
            value: '{{ record.ts|int }}'
      - type: AddFields
        fields:
          - path:
              - channel_id
            value: '{{ stream_partition[''channel_id''] }}'

streams:
  - "#/definitions/users_stream"
  - "#/definitions/channels_stream"
  - "#/definitions/channel_members_stream"
  - "#/definitions/channel_messages_stream"
  - "#/definitions/threads_stream"

check:
  type: CheckStream
  stream_names:
    - users