version: 6.1.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - contacts

definitions:
  streams:
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    collections:
      type: DeclarativeStream
      name: collections
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /collections
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collections
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/collections"
    articles:
      type: DeclarativeStream
      name: articles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /articles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - articles
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/articles"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tags
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    segments:
      type: DeclarativeStream
      name: segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /segments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - segments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/segments"
    forms:
      type: DeclarativeStream
      name: forms
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - forms
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    subscription_types:
      type: DeclarativeStream
      name: subscription_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /subscription_types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - subscription_types
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 60
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscription_types"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 60
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    teammates:
      type: DeclarativeStream
      name: teammates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teammates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teammates
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 60
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teammates"
    stores:
      type: DeclarativeStream
      name: stores
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ecommerce/stores
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 60
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stores"
  base_requester:
    type: HttpRequester
    url_base: https://api.getgist.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/collections"
  - $ref: "#/definitions/streams/articles"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/segments"
  - $ref: "#/definitions/streams/forms"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/subscription_types"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/teammates"
  - $ref: "#/definitions/streams/stores"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Find it in the Integration Settings on your Gist
          dashboard at https://app.getgist.com/projects/_/settings/api-key.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    contacts: true
    collections: true
    articles: true
    events: true
    tags: true
    segments: true
    forms: true
    campaigns: true
    subscription_types: true
    teams: true
    teammates: true
    stores: true
  testedStreams:
    contacts:
      streamHash: 2e70986deb1d74411b14ad4f0262860580920f03
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    collections:
      streamHash: f598396d91ba4e9d0307d37f8e111668138e2637
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    articles:
      streamHash: 780a15f4e999b4b5bd16c5aa00b146c6f796957b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: 1a7306b582f339a9e8c5a33efc99205f79de6fdd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: 1ef2f44078ba32b4002ab25203fb9caba870fc07
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    segments:
      streamHash: 42a15ed4cf923d26f9aa3ae8c5bd45e9a8135cce
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    forms:
      streamHash: 94fa67c973a5fe1fb3029fe74b34da90ad870aa2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    campaigns:
      streamHash: 75bdc1a21039b61d9ee0a0104f4adf6129ba81ae
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subscription_types:
      hasRecords: true
      streamHash: 18e3eef2fa47d8b7b2ac87513b20431cf0003230
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    teams:
      streamHash: 039b19ff9ccdbb7f0a96c0050fac55d5f4ca51f9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teammates:
      streamHash: f9c5921021ec6e5d733fd4263552ff8f6634f935
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    stores:
      streamHash: be7d949426471ae275d98fc591f92092d0cb9eb0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.getgist.com/api

schemas:
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      avatar:
        type:
          - string
          - "null"
      created_at:
        type:
          - number
          - "null"
      custom_properties:
        type:
          - object
          - "null"
        properties: {}
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      full_name:
        type:
          - string
          - "null"
      id:
        type: number
      last_seen_at:
        type:
          - number
          - "null"
      location_data:
        type:
          - object
          - "null"
        properties: {}
      name:
        type:
          - string
          - "null"
      segments:
        type:
          - array
          - "null"
      signed_up_at:
        type:
          - number
          - "null"
      social_profiles:
        type:
          - array
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      unsubscribed_from_emails:
        type:
          - string
          - "null"
      updated_at:
        type:
          - number
          - "null"
    required:
      - id
  collections:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - number
          - "null"
      default_locale:
        type:
          - string
          - "null"
      id:
        type: number
      translations:
        type:
          - object
          - "null"
        properties:
          en:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - string
                  - "null"
              icon:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
      updated_at:
        type:
          - number
          - "null"
    required:
      - id
  articles:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  events:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  segments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - number
          - "null"
    required:
      - id
  forms:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - number
          - "null"
      fields:
        type:
          - array
          - "null"
      form_type:
        type:
          - string
          - "null"
      id:
        type: number
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_subscriber_count:
        type:
          - number
          - "null"
      created_at:
        type:
          - number
          - "null"
      email_click_rate:
        type:
          - string
          - "null"
      email_count:
        type:
          - number
          - "null"
      email_open_rate:
        type:
          - string
          - "null"
      href:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      unsubscribed_subscriber_count:
        type:
          - number
          - "null"
      updated_at:
        type:
          - number
          - "null"
    required:
      - id
  subscription_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      contact_count:
        type:
          - number
          - "null"
      display_order:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - number
          - "null"
      emoji:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      teammate_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
    required:
      - id
  teammates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      agent_status:
        type:
          - string
          - "null"
      avatar:
        type:
          - string
          - "null"
      away_mode_enabled:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      has_inbox_seat:
        type:
          - boolean
          - "null"
      id:
        type: number
      last_active_on:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      team_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
    required:
      - id
  stores:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ecommerce_stores:
        type:
          - array
          - "null"
