version: 7.0.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  linked:
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
    HttpRequester:
      authenticator:
        type: OAuthAuthenticator
        client_id: "{{ config['client_id'] }}"
        grant_type: refresh_token
        client_secret: "{{ config['client_secret'] }}"
        refresh_token: "{{ config['refresh_token'] }}"
        token_refresh_endpoint: https://api.outreach.io/oauth/token
      request_parameters:
        sort: updatedAt
        count: "false"
        page[size]: "1000"
        newFilterSyntax: "true"
      error_handler:
        type: DefaultErrorHandler
        max_retries: 5
        backoff_strategies:
          - type: ExponentialBackoffStrategy
            factor: 5
        response_filters:
          - type: HttpResponseFilter
            action: RETRY
            error_message: Authorization failure. Retrying with backoff.
            http_codes:
              - 401

streams:
  - type: DeclarativeStream
    name: accounts
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/accounts
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type: integer
          name:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          named:
            type:
              - "null"
              - boolean
          owner:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          tasks:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          domain:
            type:
              - "null"
              - string
          batches:
            type:
              - "null"
              - array
          creator:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          custom1:
            type:
              - "null"
              - string
          custom2:
            type:
              - "null"
              - string
          custom3:
            type:
              - "null"
              - string
          custom4:
            type:
              - "null"
              - string
          custom5:
            type:
              - "null"
              - string
          custom6:
            type:
              - "null"
              - string
          custom7:
            type:
              - "null"
              - string
          custom8:
            type:
              - "null"
              - string
          custom9:
            type:
              - "null"
              - string
          updater:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          custom10:
            type:
              - "null"
              - string
          custom11:
            type:
              - "null"
              - string
          custom12:
            type:
              - "null"
              - string
          custom13:
            type:
              - "null"
              - string
          custom14:
            type:
              - "null"
              - string
          custom15:
            type:
              - "null"
              - string
          custom16:
            type:
              - "null"
              - string
          custom17:
            type:
              - "null"
              - string
          custom18:
            type:
              - "null"
              - string
          custom19:
            type:
              - "null"
              - string
          custom20:
            type:
              - "null"
              - string
          custom21:
            type:
              - "null"
              - string
          custom22:
            type:
              - "null"
              - string
          custom23:
            type:
              - "null"
              - string
          custom24:
            type:
              - "null"
              - string
          custom25:
            type:
              - "null"
              - string
          custom26:
            type:
              - "null"
              - string
          custom27:
            type:
              - "null"
              - string
          custom28:
            type:
              - "null"
              - string
          custom29:
            type:
              - "null"
              - string
          custom30:
            type:
              - "null"
              - string
          custom31:
            type:
              - "null"
              - string
          custom32:
            type:
              - "null"
              - string
          custom33:
            type:
              - "null"
              - string
          custom34:
            type:
              - "null"
              - string
          custom35:
            type:
              - "null"
              - string
          custom36:
            type:
              - "null"
              - string
          custom37:
            type:
              - "null"
              - string
          custom38:
            type:
              - "null"
              - string
          custom39:
            type:
              - "null"
              - string
          custom40:
            type:
              - "null"
              - string
          custom41:
            type:
              - "null"
              - string
          custom42:
            type:
              - "null"
              - string
          custom43:
            type:
              - "null"
              - string
          custom44:
            type:
              - "null"
              - string
          custom45:
            type:
              - "null"
              - string
          custom46:
            type:
              - "null"
              - string
          custom47:
            type:
              - "null"
              - string
          custom48:
            type:
              - "null"
              - string
          custom49:
            type:
              - "null"
              - string
          custom50:
            type:
              - "null"
              - string
          custom51:
            type:
              - "null"
              - string
          custom52:
            type:
              - "null"
              - string
          custom53:
            type:
              - "null"
              - string
          custom54:
            type:
              - "null"
              - string
          custom55:
            type:
              - "null"
              - string
          custom56:
            type:
              - "null"
              - string
          custom57:
            type:
              - "null"
              - string
          custom58:
            type:
              - "null"
              - string
          custom59:
            type:
              - "null"
              - string
          custom60:
            type:
              - "null"
              - string
          custom61:
            type:
              - "null"
              - string
          custom62:
            type:
              - "null"
              - string
          custom63:
            type:
              - "null"
              - string
          custom64:
            type:
              - "null"
              - string
          custom65:
            type:
              - "null"
              - string
          custom66:
            type:
              - "null"
              - string
          custom67:
            type:
              - "null"
              - string
          custom68:
            type:
              - "null"
              - string
          custom69:
            type:
              - "null"
              - string
          custom70:
            type:
              - "null"
              - string
          custom71:
            type:
              - "null"
              - string
          custom72:
            type:
              - "null"
              - string
          custom73:
            type:
              - "null"
              - string
          custom74:
            type:
              - "null"
              - string
          custom75:
            type:
              - "null"
              - string
          custom76:
            type:
              - "null"
              - string
          custom77:
            type:
              - "null"
              - string
          custom78:
            type:
              - "null"
              - string
          custom79:
            type:
              - "null"
              - string
          custom80:
            type:
              - "null"
              - string
          custom81:
            type:
              - "null"
              - string
          custom82:
            type:
              - "null"
              - string
          custom83:
            type:
              - "null"
              - string
          custom84:
            type:
              - "null"
              - string
          custom85:
            type:
              - "null"
              - string
          custom86:
            type:
              - "null"
              - string
          custom87:
            type:
              - "null"
              - string
          custom88:
            type:
              - "null"
              - string
          custom89:
            type:
              - "null"
              - string
          custom90:
            type:
              - "null"
              - string
          custom91:
            type:
              - "null"
              - string
          custom92:
            type:
              - "null"
              - string
          custom93:
            type:
              - "null"
              - string
          custom94:
            type:
              - "null"
              - string
          custom95:
            type:
              - "null"
              - string
          custom96:
            type:
              - "null"
              - string
          custom97:
            type:
              - "null"
              - string
          custom98:
            type:
              - "null"
              - string
          custom99:
            type:
              - "null"
              - string
          customId:
            type:
              - "null"
              - string
          industry:
            type:
              - "null"
              - string
          locality:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          custom100:
            type:
              - "null"
              - string
          custom101:
            type:
              - "null"
              - string
          custom102:
            type:
              - "null"
              - string
          custom103:
            type:
              - "null"
              - string
          custom104:
            type:
              - "null"
              - string
          custom105:
            type:
              - "null"
              - string
          custom106:
            type:
              - "null"
              - string
          custom107:
            type:
              - "null"
              - string
          custom108:
            type:
              - "null"
              - string
          custom109:
            type:
              - "null"
              - string
          custom110:
            type:
              - "null"
              - string
          custom111:
            type:
              - "null"
              - string
          custom112:
            type:
              - "null"
              - string
          custom113:
            type:
              - "null"
              - string
          custom114:
            type:
              - "null"
              - string
          custom115:
            type:
              - "null"
              - string
          custom116:
            type:
              - "null"
              - string
          custom117:
            type:
              - "null"
              - string
          custom118:
            type:
              - "null"
              - string
          custom119:
            type:
              - "null"
              - string
          custom120:
            type:
              - "null"
              - string
          custom121:
            type:
              - "null"
              - string
          custom122:
            type:
              - "null"
              - string
          custom123:
            type:
              - "null"
              - string
          custom124:
            type:
              - "null"
              - string
          custom125:
            type:
              - "null"
              - string
          custom126:
            type:
              - "null"
              - string
          custom127:
            type:
              - "null"
              - string
          custom128:
            type:
              - "null"
              - string
          custom129:
            type:
              - "null"
              - string
          custom130:
            type:
              - "null"
              - string
          custom131:
            type:
              - "null"
              - string
          custom132:
            type:
              - "null"
              - string
          custom133:
            type:
              - "null"
              - string
          custom134:
            type:
              - "null"
              - string
          custom135:
            type:
              - "null"
              - string
          custom136:
            type:
              - "null"
              - string
          custom137:
            type:
              - "null"
              - string
          custom138:
            type:
              - "null"
              - string
          custom139:
            type:
              - "null"
              - string
          custom140:
            type:
              - "null"
              - string
          custom141:
            type:
              - "null"
              - string
          custom142:
            type:
              - "null"
              - string
          custom143:
            type:
              - "null"
              - string
          custom144:
            type:
              - "null"
              - string
          custom145:
            type:
              - "null"
              - string
          custom146:
            type:
              - "null"
              - string
          custom147:
            type:
              - "null"
              - string
          custom148:
            type:
              - "null"
              - string
          custom149:
            type:
              - "null"
              - string
          custom150:
            type:
              - "null"
              - string
          favorites:
            type:
              - "null"
              - array
          followers:
            type:
              - "null"
              - integer
          foundedAt:
            type:
              - "null"
              - string
            format: date-time
          prospects:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          touchedAt:
            type:
              - "null"
              - string
            format: date-time
          trashedAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          websiteUrl:
            type:
              - "null"
              - string
          companyType:
            type:
              - "null"
              - string
          linkedInUrl:
            type:
              - "null"
              - string
          naturalName:
            type:
              - "null"
              - string
          assignedTeams:
            type:
              - "null"
              - array
          assignedUsers:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          sharingTeamId:
            type:
              - "null"
              - string
          externalSource:
            type:
              - "null"
              - string
          buyerIntentScore:
            type:
              - "null"
              - number
          linkedInEmployees:
            type:
              - "null"
              - integer
          numberOfEmployees:
            type:
              - "null"
              - integer
          defaultPluginMapping:
            type:
              - "null"
              - array
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: calls
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/calls
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type: integer
          to:
            type:
              - "null"
              - string
          uid:
            type:
              - "null"
              - string
          from:
            type:
              - "null"
              - string
          note:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          task:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          user:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          phone:
            type:
              - "null"
              - array
          state:
            type:
              - "null"
              - string
          batches:
            type:
              - "null"
              - array
          outcome:
            type:
              - "null"
              - string
          dialedAt:
            type:
              - "null"
              - string
            format: date-time
          prospect:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          sequence:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          direction:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          answeredAt:
            type:
              - "null"
              - string
            format: date-time
          returnedAt:
            type:
              - "null"
              - string
            format: date-time
          callPurpose:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          completedAt:
            type:
              - "null"
              - string
            format: date-time
          opportunity:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          phoneNumber:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          recordingUrl:
            type:
              - "null"
              - string
          sequenceStep:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          userCallType:
            type:
              - "null"
              - string
          vendorCallId:
            type:
              - "null"
              - string
          sequenceState:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          externalVendor:
            type:
              - "null"
              - string
          sequenceAction:
            type:
              - "null"
              - string
          stateChangedAt:
            type:
              - "null"
              - string
            format: date-time
          callDisposition:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          shouldRecordCall:
            type:
              - "null"
              - boolean
          outboundVoicemail:
            type:
              - "null"
              - array
          voicemailRecordingUrl:
            type:
              - "null"
              - string
          recordingDeletionReason:
            type:
              - "null"
              - string
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: call_dispositions
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/callDispositions
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type: integer
          name:
            type:
              - "null"
              - string
          calls:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          order:
            type:
              - "null"
              - integer
          creator:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          outcome:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          defaultForOutboundVoicemail:
            type:
              - "null"
              - boolean
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: call_purposes
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/callPurposes
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type: integer
          name:
            type:
              - "null"
              - string
          calls:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          order:
            type:
              - "null"
              - integer
          creator:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: mailings
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          sort: updatedAt
          count: "false"
          page[size]: "100"
          newFilterSyntax: "true"
        url: https://api.outreach.io/api/v2/mailings
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type: integer
          task:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          user:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          state:
            type:
              - "null"
              - string
          tasks:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          mailbox:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          retryAt:
            type:
              - "null"
              - string
            format: date-time
          subject:
            type:
              - "null"
              - string
          bodyHtml:
            type:
              - "null"
              - string
          bodyText:
            type:
              - "null"
              - string
          calendar:
            type:
              - "null"
              - array
          openedAt:
            type:
              - "null"
              - string
            format: date-time
          prospect:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          schedule:
            type:
              - "null"
              - array
          sequence:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          template:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          bouncedAt:
            type:
              - "null"
              - string
            format: date-time
          clickedAt:
            type:
              - "null"
              - string
            format: date-time
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          desiredAt:
            type:
              - "null"
              - string
            format: date-time
          messageId:
            type:
              - "null"
              - string
          openCount:
            type:
              - "null"
              - integer
          repliedAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          clickCount:
            type:
              - "null"
              - integer
          recipients:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          references:
            type:
              - "null"
              - array
          retryCount:
            type:
              - "null"
              - integer
          scheduleId:
            type:
              - "null"
              - integer
          trackLinks:
            type:
              - "null"
              - boolean
          trackOpens:
            type:
              - "null"
              - boolean
          attachments:
            type:
              - "null"
              - array
          deliveredAt:
            type:
              - "null"
              - string
            format: date-time
          errorReason:
            type:
              - "null"
              - string
          mailingType:
            type:
              - "null"
              - string
          opportunity:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          scheduledAt:
            type:
              - "null"
              - string
            format: date-time
          meetingTitle:
            type:
              - "null"
              - string
          sequenceStep:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          retryInterval:
            type:
              - "null"
              - integer
          sequenceState:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          errorBacktrace:
            type:
              - "null"
              - string
          mailboxAddress:
            type:
              - "null"
              - string
          markedAsSpamAt:
            type:
              - "null"
              - string
            format: date-time
          replySentiment:
            type:
              - "null"
              - string
          stateChangedAt:
            type:
              - "null"
              - string
            format: date-time
          unsubscribedAt:
            type:
              - "null"
              - string
            format: date-time
          meetingDuration:
            type:
              - "null"
              - integer
          meetingLocation:
            type:
              - "null"
              - string
          followUpSequence:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          followUpTaskType:
            type:
              - "null"
              - string
          followUpSequenceId:
            type:
              - "null"
              - integer
          meetingDescription:
            type:
              - "null"
              - string
          notifyThreadStatus:
            type:
              - "null"
              - string
          followUpSequenceName:
            type:
              - "null"
              - string
          optimizedScheduledAt:
            type:
              - "null"
              - string
            format: date-time
          notifyThreadCondition:
            type:
              - "null"
              - string
          attributableSequenceId:
            type:
              - "null"
              - integer
          overrideSafetySettings:
            type:
              - "null"
              - boolean
          followUpTaskScheduledAt:
            type:
              - "null"
              - string
            format: date-time
          notifyThreadScheduledAt:
            type:
              - "null"
              - string
            format: date-time
          attributableSequenceName:
            type:
              - "null"
              - string
          followUpSequenceStartingDate:
            type:
              - "null"
              - string
            format: date-time
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: mailboxes
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/mailboxes
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type: integer
          user:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          email:
            type:
              - "null"
              - string
          authId:
            type:
              - "null"
              - integer
          userId:
            type:
              - "null"
              - integer
          creator:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          imapSsl:
            type:
              - "null"
              - boolean
          smtpSsl:
            type:
              - "null"
              - boolean
          updater:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          editable:
            type:
              - "null"
              - boolean
          imapHost:
            type:
              - "null"
              - string
          imapPort:
            type:
              - "null"
              - integer
          mailings:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          smtpHost:
            type:
              - "null"
              - string
          smtpPort:
            type:
              - "null"
              - integer
          username:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          emailHash:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          providerId:
            type:
              - "null"
              - integer
          sendMethod:
            type:
              - "null"
              - string
          sendPeriod:
            type:
              - "null"
              - integer
          syncMethod:
            type:
              - "null"
              - string
          ewsEndpoint:
            type:
              - "null"
              - string
          mailAliases:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          providerType:
            type:
              - "null"
              - string
          sendDisabled:
            type:
              - "null"
              - boolean
          smtpUsername:
            type:
              - "null"
              - string
          syncDisabled:
            type:
              - "null"
              - boolean
          emailProvider:
            type:
              - "null"
              - string
          optOutMessage:
            type:
              - "null"
              - string
          sendErroredAt:
            type:
              - "null"
              - string
            format: date-time
          sendSuccessAt:
            type:
              - "null"
              - string
            format: date-time
          sendThreshold:
            type:
              - "null"
              - integer
          syncErroredAt:
            type:
              - "null"
              - string
            format: date-time
          syncSuccessAt:
            type:
              - "null"
              - string
            format: date-time
          emailSignature:
            type:
              - "null"
              - string
          sendMaxRetries:
            type:
              - "null"
              - integer
          syncFinishedAt:
            type:
              - "null"
              - string
            format: date-time
          ewsDelegateSync:
            type:
              - "null"
              - boolean
          exchangeVersion:
            type:
              - "null"
              - string
          maxEmailsPerDay:
            type:
              - "null"
              - integer
          optOutSignature:
            type:
              - "null"
              - string
          ewsImpersonation:
            type:
              - "null"
              - boolean
          ewsSslVerifyMode:
            type:
              - "null"
              - integer
          sendRequiresSync:
            type:
              - "null"
              - boolean
          maxMailingsPerDay:
            type:
              - "null"
              - integer
          maxMailingsPerWeek:
            type:
              - "null"
              - integer
          sendgridWebhookUrl:
            type:
              - "null"
              - string
          syncOutreachFolder:
            type:
              - "null"
              - boolean
          syncActiveFrequency:
            type:
              - "null"
              - integer
          sendPermanentErrorAt:
            type:
              - "null"
              - string
            format: date-time
          syncPassiveFrequency:
            type:
              - "null"
              - integer
          syncPermanentErrorAt:
            type:
              - "null"
              - string
            format: date-time
          ewsCustomSearchFolder:
            type:
              - "null"
              - boolean
          prospectEmailExclusions:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: opportunities
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/opportunities
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type: integer
          name:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          owner:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          stage:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          amount:
            type:
              - "null"
              - integer
          account:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          creator:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          custom1:
            type:
              - "null"
              - string
          custom2:
            type:
              - "null"
              - string
          custom3:
            type:
              - "null"
              - string
          custom4:
            type:
              - "null"
              - string
          custom5:
            type:
              - "null"
              - string
          custom6:
            type:
              - "null"
              - string
          custom7:
            type:
              - "null"
              - string
          custom8:
            type:
              - "null"
              - string
          custom9:
            type:
              - "null"
              - string
          mapLink:
            type:
              - "null"
              - string
          updater:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          custom10:
            type:
              - "null"
              - string
          custom11:
            type:
              - "null"
              - string
          custom12:
            type:
              - "null"
              - string
          custom13:
            type:
              - "null"
              - string
          custom14:
            type:
              - "null"
              - string
          custom15:
            type:
              - "null"
              - string
          custom16:
            type:
              - "null"
              - string
          custom17:
            type:
              - "null"
              - string
          custom18:
            type:
              - "null"
              - string
          custom19:
            type:
              - "null"
              - string
          custom20:
            type:
              - "null"
              - string
          custom21:
            type:
              - "null"
              - string
          custom22:
            type:
              - "null"
              - string
          custom23:
            type:
              - "null"
              - string
          custom24:
            type:
              - "null"
              - string
          custom25:
            type:
              - "null"
              - string
          custom26:
            type:
              - "null"
              - string
          custom27:
            type:
              - "null"
              - string
          custom28:
            type:
              - "null"
              - string
          custom29:
            type:
              - "null"
              - string
          custom30:
            type:
              - "null"
              - string
          custom31:
            type:
              - "null"
              - string
          custom32:
            type:
              - "null"
              - string
          custom33:
            type:
              - "null"
              - string
          custom34:
            type:
              - "null"
              - string
          custom35:
            type:
              - "null"
              - string
          custom36:
            type:
              - "null"
              - string
          custom37:
            type:
              - "null"
              - string
          custom38:
            type:
              - "null"
              - string
          custom39:
            type:
              - "null"
              - string
          custom40:
            type:
              - "null"
              - string
          custom41:
            type:
              - "null"
              - string
          custom42:
            type:
              - "null"
              - string
          custom43:
            type:
              - "null"
              - string
          custom44:
            type:
              - "null"
              - string
          custom45:
            type:
              - "null"
              - string
          custom46:
            type:
              - "null"
              - string
          custom47:
            type:
              - "null"
              - string
          custom48:
            type:
              - "null"
              - string
          custom49:
            type:
              - "null"
              - string
          custom50:
            type:
              - "null"
              - string
          custom51:
            type:
              - "null"
              - string
          custom52:
            type:
              - "null"
              - string
          custom53:
            type:
              - "null"
              - string
          custom54:
            type:
              - "null"
              - string
          custom55:
            type:
              - "null"
              - string
          custom56:
            type:
              - "null"
              - string
          custom57:
            type:
              - "null"
              - string
          custom58:
            type:
              - "null"
              - string
          custom59:
            type:
              - "null"
              - string
          custom60:
            type:
              - "null"
              - string
          custom61:
            type:
              - "null"
              - string
          custom62:
            type:
              - "null"
              - string
          custom63:
            type:
              - "null"
              - string
          custom64:
            type:
              - "null"
              - string
          custom65:
            type:
              - "null"
              - string
          custom66:
            type:
              - "null"
              - string
          custom67:
            type:
              - "null"
              - string
          custom68:
            type:
              - "null"
              - string
          custom69:
            type:
              - "null"
              - string
          custom70:
            type:
              - "null"
              - string
          custom71:
            type:
              - "null"
              - string
          custom72:
            type:
              - "null"
              - string
          custom73:
            type:
              - "null"
              - string
          custom74:
            type:
              - "null"
              - string
          custom75:
            type:
              - "null"
              - string
          custom76:
            type:
              - "null"
              - string
          custom77:
            type:
              - "null"
              - string
          custom78:
            type:
              - "null"
              - string
          custom79:
            type:
              - "null"
              - string
          custom80:
            type:
              - "null"
              - string
          custom81:
            type:
              - "null"
              - string
          custom82:
            type:
              - "null"
              - string
          custom83:
            type:
              - "null"
              - string
          custom84:
            type:
              - "null"
              - string
          custom85:
            type:
              - "null"
              - string
          custom86:
            type:
              - "null"
              - string
          custom87:
            type:
              - "null"
              - string
          custom88:
            type:
              - "null"
              - string
          custom89:
            type:
              - "null"
              - string
          custom90:
            type:
              - "null"
              - string
          custom91:
            type:
              - "null"
              - string
          custom92:
            type:
              - "null"
              - string
          custom93:
            type:
              - "null"
              - string
          custom94:
            type:
              - "null"
              - string
          custom95:
            type:
              - "null"
              - string
          custom96:
            type:
              - "null"
              - string
          custom97:
            type:
              - "null"
              - string
          custom98:
            type:
              - "null"
              - string
          custom99:
            type:
              - "null"
              - string
          nextStep:
            type:
              - "null"
              - string
          closeDate:
            type:
              - "null"
              - string
            format: date-time
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          custom100:
            type:
              - "null"
              - string
          custom101:
            type:
              - "null"
              - string
          custom102:
            type:
              - "null"
              - string
          custom103:
            type:
              - "null"
              - string
          custom104:
            type:
              - "null"
              - string
          custom105:
            type:
              - "null"
              - string
          custom106:
            type:
              - "null"
              - string
          custom107:
            type:
              - "null"
              - string
          custom108:
            type:
              - "null"
              - string
          custom109:
            type:
              - "null"
              - string
          custom110:
            type:
              - "null"
              - string
          custom111:
            type:
              - "null"
              - string
          custom112:
            type:
              - "null"
              - string
          custom113:
            type:
              - "null"
              - string
          custom114:
            type:
              - "null"
              - string
          custom115:
            type:
              - "null"
              - string
          custom116:
            type:
              - "null"
              - string
          custom117:
            type:
              - "null"
              - string
          custom118:
            type:
              - "null"
              - string
          custom119:
            type:
              - "null"
              - string
          custom120:
            type:
              - "null"
              - string
          custom121:
            type:
              - "null"
              - string
          custom122:
            type:
              - "null"
              - string
          custom123:
            type:
              - "null"
              - string
          custom124:
            type:
              - "null"
              - string
          custom125:
            type:
              - "null"
              - string
          custom126:
            type:
              - "null"
              - string
          custom127:
            type:
              - "null"
              - string
          custom128:
            type:
              - "null"
              - string
          custom129:
            type:
              - "null"
              - string
          custom130:
            type:
              - "null"
              - string
          custom131:
            type:
              - "null"
              - string
          custom132:
            type:
              - "null"
              - string
          custom133:
            type:
              - "null"
              - string
          custom134:
            type:
              - "null"
              - string
          custom135:
            type:
              - "null"
              - string
          custom136:
            type:
              - "null"
              - string
          custom137:
            type:
              - "null"
              - string
          custom138:
            type:
              - "null"
              - string
          custom139:
            type:
              - "null"
              - string
          custom140:
            type:
              - "null"
              - string
          custom141:
            type:
              - "null"
              - string
          custom142:
            type:
              - "null"
              - string
          custom143:
            type:
              - "null"
              - string
          custom144:
            type:
              - "null"
              - string
          custom145:
            type:
              - "null"
              - string
          custom146:
            type:
              - "null"
              - string
          custom147:
            type:
              - "null"
              - string
          custom148:
            type:
              - "null"
              - string
          custom149:
            type:
              - "null"
              - string
          custom150:
            type:
              - "null"
              - string
          favorites:
            type:
              - "null"
              - array
          mapStatus:
            type:
              - "null"
              - string
          prospects:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          touchedAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          healthScore:
            type:
              - "null"
              - integer
          probability:
            type:
              - "null"
              - integer
          currencyType:
            type:
              - "null"
              - string
          mapNextSteps:
            type:
              - "null"
              - string
          assignedTeams:
            type:
              - "null"
              - array
          assignedUsers:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          sharingTeamId:
            type:
              - "null"
              - string
          healthCategory:
            type:
              - "null"
              - string
          externalCreator:
            type:
              - "null"
              - array
          opportunityType:
            type:
              - "null"
              - string
          primaryProspect:
            type:
              - "null"
              - array
          opportunityStage:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          prospectingRepId:
            type:
              - "null"
              - string
          externalCreatedAt:
            type:
              - "null"
              - string
            format: date-time
          defaultPluginMapping:
            type:
              - "null"
              - array
          mapNumberOfOverdueTasks:
            type:
              - "null"
              - integer
          opportunityHealthFactors:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: personas
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/personas
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type: integer
          name:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          prospects:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: prospects
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/prospects
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type: integer
          name:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          calls:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          owner:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          score:
            type:
              - "null"
              - number
          stage:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          tasks:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          title:
            type:
              - "null"
              - string
          degree:
            type:
              - "null"
              - string
          emails:
            type:
              - "null"
              - array
            items:
              type: string
          gender:
            type:
              - "null"
              - string
          region:
            type:
              - "null"
              - string
          school:
            type:
              - "null"
              - string
          source:
            type:
              - "null"
              - string
          account:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          addedAt:
            type:
              - "null"
              - string
            format: date-time
          batches:
            type:
              - "null"
              - array
          company:
            type:
              - "null"
              - string
          creator:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          custom1:
            type:
              - "null"
              - string
          custom2:
            type:
              - "null"
              - string
          custom3:
            type:
              - "null"
              - string
          custom4:
            type:
              - "null"
              - string
          custom5:
            type:
              - "null"
              - string
          custom6:
            type:
              - "null"
              - string
          custom7:
            type:
              - "null"
              - string
          custom8:
            type:
              - "null"
              - string
          custom9:
            type:
              - "null"
              - string
          persona:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          updater:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          custom10:
            type:
              - "null"
              - string
          custom11:
            type:
              - "null"
              - string
          custom12:
            type:
              - "null"
              - string
          custom13:
            type:
              - "null"
              - string
          custom14:
            type:
              - "null"
              - string
          custom15:
            type:
              - "null"
              - string
          custom16:
            type:
              - "null"
              - string
          custom17:
            type:
              - "null"
              - string
          custom18:
            type:
              - "null"
              - string
          custom19:
            type:
              - "null"
              - string
          custom20:
            type:
              - "null"
              - string
          custom21:
            type:
              - "null"
              - string
          custom22:
            type:
              - "null"
              - string
          custom23:
            type:
              - "null"
              - string
          custom24:
            type:
              - "null"
              - string
          custom25:
            type:
              - "null"
              - string
          custom26:
            type:
              - "null"
              - string
          custom27:
            type:
              - "null"
              - string
          custom28:
            type:
              - "null"
              - string
          custom29:
            type:
              - "null"
              - string
          custom30:
            type:
              - "null"
              - string
          custom31:
            type:
              - "null"
              - string
          custom32:
            type:
              - "null"
              - string
          custom33:
            type:
              - "null"
              - string
          custom34:
            type:
              - "null"
              - string
          custom35:
            type:
              - "null"
              - string
          custom36:
            type:
              - "null"
              - string
          custom37:
            type:
              - "null"
              - string
          custom38:
            type:
              - "null"
              - string
          custom39:
            type:
              - "null"
              - string
          custom40:
            type:
              - "null"
              - string
          custom41:
            type:
              - "null"
              - string
          custom42:
            type:
              - "null"
              - string
          custom43:
            type:
              - "null"
              - string
          custom44:
            type:
              - "null"
              - string
          custom45:
            type:
              - "null"
              - string
          custom46:
            type:
              - "null"
              - string
          custom47:
            type:
              - "null"
              - string
          custom48:
            type:
              - "null"
              - string
          custom49:
            type:
              - "null"
              - string
          custom50:
            type:
              - "null"
              - string
          custom51:
            type:
              - "null"
              - string
          custom52:
            type:
              - "null"
              - string
          custom53:
            type:
              - "null"
              - string
          custom54:
            type:
              - "null"
              - string
          custom55:
            type:
              - "null"
              - string
          custom56:
            type:
              - "null"
              - string
          custom57:
            type:
              - "null"
              - string
          custom58:
            type:
              - "null"
              - string
          custom59:
            type:
              - "null"
              - string
          custom60:
            type:
              - "null"
              - string
          custom61:
            type:
              - "null"
              - string
          custom62:
            type:
              - "null"
              - string
          custom63:
            type:
              - "null"
              - string
          custom64:
            type:
              - "null"
              - string
          custom65:
            type:
              - "null"
              - string
          custom66:
            type:
              - "null"
              - string
          custom67:
            type:
              - "null"
              - string
          custom68:
            type:
              - "null"
              - string
          custom69:
            type:
              - "null"
              - string
          custom70:
            type:
              - "null"
              - string
          custom71:
            type:
              - "null"
              - string
          custom72:
            type:
              - "null"
              - string
          custom73:
            type:
              - "null"
              - string
          custom74:
            type:
              - "null"
              - string
          custom75:
            type:
              - "null"
              - string
          custom76:
            type:
              - "null"
              - string
          custom77:
            type:
              - "null"
              - string
          custom78:
            type:
              - "null"
              - string
          custom79:
            type:
              - "null"
              - string
          custom80:
            type:
              - "null"
              - string
          custom81:
            type:
              - "null"
              - string
          custom82:
            type:
              - "null"
              - string
          custom83:
            type:
              - "null"
              - string
          custom84:
            type:
              - "null"
              - string
          custom85:
            type:
              - "null"
              - string
          custom86:
            type:
              - "null"
              - string
          custom87:
            type:
              - "null"
              - string
          custom88:
            type:
              - "null"
              - string
          custom89:
            type:
              - "null"
              - string
          custom90:
            type:
              - "null"
              - string
          custom91:
            type:
              - "null"
              - string
          custom92:
            type:
              - "null"
              - string
          custom93:
            type:
              - "null"
              - string
          custom94:
            type:
              - "null"
              - string
          custom95:
            type:
              - "null"
              - string
          custom96:
            type:
              - "null"
              - string
          custom97:
            type:
              - "null"
              - string
          custom98:
            type:
              - "null"
              - string
          custom99:
            type:
              - "null"
              - string
          lastName:
            type:
              - "null"
              - string
          mailings:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          nickname:
            type:
              - "null"
              - string
          optedOut:
            type:
              - "null"
              - boolean
          quoraUrl:
            type:
              - "null"
              - string
          timeZone:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          custom100:
            type:
              - "null"
              - string
          custom101:
            type:
              - "null"
              - string
          custom102:
            type:
              - "null"
              - string
          custom103:
            type:
              - "null"
              - string
          custom104:
            type:
              - "null"
              - string
          custom105:
            type:
              - "null"
              - string
          custom106:
            type:
              - "null"
              - string
          custom107:
            type:
              - "null"
              - string
          custom108:
            type:
              - "null"
              - string
          custom109:
            type:
              - "null"
              - string
          custom110:
            type:
              - "null"
              - string
          custom111:
            type:
              - "null"
              - string
          custom112:
            type:
              - "null"
              - string
          custom113:
            type:
              - "null"
              - string
          custom114:
            type:
              - "null"
              - string
          custom115:
            type:
              - "null"
              - string
          custom116:
            type:
              - "null"
              - string
          custom117:
            type:
              - "null"
              - string
          custom118:
            type:
              - "null"
              - string
          custom119:
            type:
              - "null"
              - string
          custom120:
            type:
              - "null"
              - string
          custom121:
            type:
              - "null"
              - string
          custom122:
            type:
              - "null"
              - string
          custom123:
            type:
              - "null"
              - string
          custom124:
            type:
              - "null"
              - string
          custom125:
            type:
              - "null"
              - string
          custom126:
            type:
              - "null"
              - string
          custom127:
            type:
              - "null"
              - string
          custom128:
            type:
              - "null"
              - string
          custom129:
            type:
              - "null"
              - string
          custom130:
            type:
              - "null"
              - string
          custom131:
            type:
              - "null"
              - string
          custom132:
            type:
              - "null"
              - string
          custom133:
            type:
              - "null"
              - string
          custom134:
            type:
              - "null"
              - string
          custom135:
            type:
              - "null"
              - string
          custom136:
            type:
              - "null"
              - string
          custom137:
            type:
              - "null"
              - string
          custom138:
            type:
              - "null"
              - string
          custom139:
            type:
              - "null"
              - string
          custom140:
            type:
              - "null"
              - string
          custom141:
            type:
              - "null"
              - string
          custom142:
            type:
              - "null"
              - string
          custom143:
            type:
              - "null"
              - string
          custom144:
            type:
              - "null"
              - string
          custom145:
            type:
              - "null"
              - string
          custom146:
            type:
              - "null"
              - string
          custom147:
            type:
              - "null"
              - string
          custom148:
            type:
              - "null"
              - string
          custom149:
            type:
              - "null"
              - string
          custom150:
            type:
              - "null"
              - string
          engagedAt:
            type:
              - "null"
              - string
            format: date-time
          eventName:
            type:
              - "null"
              - string
          favorites:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          firstName:
            type:
              - "null"
              - string
          githubUrl:
            type:
              - "null"
              - string
          openCount:
            type:
              - "null"
              - integer
          stageName:
            type:
              - "null"
              - string
          touchedAt:
            type:
              - "null"
              - string
            format: date-time
          trashedAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          updaterId:
            type:
              - "null"
              - integer
          addressZip:
            type:
              - "null"
              - string
          clickCount:
            type:
              - "null"
              - integer
          externalId:
            type:
              - "null"
              - string
          homePhones:
            type:
              - "null"
              - array
            items:
              type: string
          linkedInId:
            type:
              - "null"
              - string
          middleName:
            type:
              - "null"
              - string
          occupation:
            type:
              - "null"
              - string
          optedOutAt:
            type:
              - "null"
              - string
            format: date-time
          replyCount:
            type:
              - "null"
              - integer
          smsOptedAt:
            type:
              - "null"
              - string
          twitterUrl:
            type:
              - "null"
              - string
          voipPhones:
            type:
              - "null"
              - array
            items:
              type: string
          workPhones:
            type:
              - "null"
              - array
            items:
              type: string
          accountName:
            type:
              - "null"
              - string
          addressCity:
            type:
              - "null"
              - string
          availableAt:
            type:
              - "null"
              - string
            format: date-time
          companySize:
            type:
              - "null"
              - integer
          companyType:
            type:
              - "null"
              - string
          dateOfBirth:
            type:
              - "null"
              - string
            format: date-time
          facebookUrl:
            type:
              - "null"
              - string
          linkedInUrl:
            type:
              - "null"
              - string
          otherPhones:
            type:
              - "null"
              - array
            items:
              type: string
          personaName:
            type: "null"
          smsOptedOut:
            type:
              - "null"
              - boolean
          specialties:
            type:
              - "null"
              - string
          updaterType:
            type:
              - "null"
              - string
          websiteUrl1:
            type:
              - "null"
              - string
          websiteUrl2:
            type:
              - "null"
              - string
          websiteUrl3:
            type:
              - "null"
              - string
          addressState:
            type:
              - "null"
              - string
          angelListUrl:
            type:
              - "null"
              - string
          callOptedOut:
            type:
              - "null"
              - boolean
          callsOptedAt:
            type:
              - "null"
              - string
            format: date-time
          campaignName:
            type:
              - "null"
              - string
          engagedScore:
            type:
              - "null"
              - number
          jobStartDate:
            type:
              - "null"
              - string
            format: date-time
          linkedInSlug:
            type:
              - "null"
              - string
          mobilePhones:
            type:
              - "null"
              - array
            items:
              type: string
          phoneNumbers:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          smsOptStatus:
            type:
              - "null"
              - string
          timeZoneIana:
            type:
              - "null"
              - string
          addressStreet:
            type:
              - "null"
              - string
          assignedTeams:
            type:
              - "null"
              - array
          assignedUsers:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          emailContacts:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - integer
                email:
                  type:
                    - "null"
                    - string
                order:
                  type:
                    - "null"
                    - integer
                status:
                  type:
                    - "null"
                    - string
                bounced_at:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                email_hash:
                  type:
                    - "null"
                    - string
                email_type:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                domain_hash:
                  type:
                    - "null"
                    - string
                prospect_id:
                  type:
                    - "null"
                    - integer
                unsubscribed_at:
                  type:
                    - "null"
                    - string
                status_changed_at:
                  type:
                    - "null"
                    - string
              additionalProperties: true
          emailOptedOut:
            type:
              - "null"
              - boolean
          emailsOptedAt:
            type:
              - "null"
              - string
            format: date-time
          externalOwner:
            type:
              - "null"
              - string
          googlePlusUrl:
            type:
              - "null"
              - string
          opportunities:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          personalNote1:
            type:
              - "null"
              - string
          personalNote2:
            type:
              - "null"
              - string
          sharingTeamId:
            type:
              - "null"
              - string
          addressCountry:
            type:
              - "null"
              - string
          addressStreet2:
            type:
              - "null"
              - string
          callsOptStatus:
            type:
              - "null"
              - string
          companyNatural:
            type:
              - "null"
              - string
          emailAddresses:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          externalSource:
            type:
              - "null"
              - string
          githubUsername:
            type:
              - "null"
              - string
          graduationDate:
            type:
              - "null"
              - string
            format: date-time
          sequenceStates:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          companyIndustry:
            type:
              - "null"
              - string
          companyLinkedIn:
            type:
              - "null"
              - string
          companyLocality:
            type:
              - "null"
              - string
          emailsOptStatus:
            type:
              - "null"
              - string
          stackOverflowId:
            type:
              - "null"
              - string
          twitterUsername:
            type:
              - "null"
              - string
          companyFollowers:
            type:
              - "null"
              - integer
          companyFoundedAt:
            type:
              - "null"
              - string
          companyStartDate:
            type:
              - "null"
              - string
          contactHistogram:
            type:
              - "null"
              - array
            items:
              type: array
              items:
                type: integer
          preferredContact:
            type:
              - "null"
              - string
          stackOverflowUrl:
            type:
              - "null"
              - string
          timeZoneInferred:
            type:
              - "null"
              - string
          trashedByAccount:
            type:
              - "null"
              - array
          linkedInConnections:
            type:
              - "null"
              - integer
          activeSequenceStates:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          defaultPluginMapping:
            type:
              - "null"
              - array
          companyLinkedInEmployees:
            type:
              - "null"
              - string
          opportunityProspectRoles:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
      start_time_option:
        type: RequestOption
        field_name: filter[updatedAt][gte]
        inject_into: request_parameter
  - type: DeclarativeStream
    name: sequences
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.outreach.io/api/v2/sequences
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_declarative_manifest.components.CustomExtractor
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type: integer
          name:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          calls:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          owner:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          tasks:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          locked:
            type:
              - "null"
              - boolean
          creator:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          enabled:
            type:
              - "null"
              - boolean
          ruleset:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          updater:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          lockedAt:
            type:
              - "null"
              - string
            format: date-time
          mailings:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          schedule:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          enabledAt:
            type:
              - "null"
              - string
            format: date-time
          openCount:
            type:
              - "null"
              - integer
          shareType:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          clickCount:
            type:
              - "null"
              - integer
          lastUsedAt:
            type:
              - "null"
              - string
            format: date-time
          replyCount:
            type:
              - "null"
              - integer
          bounceCount:
            type:
              - "null"
              - integer
          optOutCount:
            type:
              - "null"
              - integer
          deliverCount:
            type:
              - "null"
              - integer
          failureCount:
            type:
              - "null"
              - integer
          sequenceType:
            type:
              - "null"
              - string
          finishOnReply:
            type:
              - "null"
              - boolean
          scheduleCount:
            type:
              - "null"
              - integer
          sequenceSteps:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          transactional:
            type:
              - "null"
              - boolean
          durationInDays:
            type:
              - "null"
              - integer
          maxActivations:
            type:
              - "null"
              - integer
          sequenceStates:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - integer
          throttlePaused:
            type:
              - "null"
              - boolean
          throttleCapacity:
            type:
              - "null"
              - integer
          throttlePausedAt:
            type:
              - "null"
              - string
            format: date-time
          neutralReplyCount:
            type:
              - "null"
              - integer
          sequenceStepCount:
            type:
              - "null"
              - integer
          negativeReplyCount:
            type:
              - "null"
              - integer
          positiveReplyCount:
            type:
              - "null"
              - integer
          primaryReplyAction:
            type:
              - "null"
              - string
          numRepliedProspects:
            type:
              - "null"
              - integer
          automationPercentage:
            type:
              - "null"
              - number
          scheduleIntervalType:
            type:
              - "null"
              - string
          secondaryReplyAction:
            type:
              - "null"
              - string
[...]
