version: 7.3.6

type: DeclarativeSource

description: >-
  InFakt is a Polish invoicing and accounting SaaS platform used by businesses
  to manage invoices, clients, and financial documents. This connector enables
  automated extraction of invoice and client data

  from InFakt into your data warehouse.


  The connector supports:

  - **Clients stream**: Complete client/company directory with contact
  information and tax IDs (NIP)

  - **Invoices stream**: Comprehensive invoice data including financial details,
  payment status, and client references with incremental sync support


  Key features:

  - Incremental sync based on invoice date for efficient data replication

  - Automatic pagination handling for large datasets

  - Robust error handling with exponential backoff for rate limits

  - Configurable date ranges for historical data backfills


  This connector is ideal for businesses using InFakt who need to:

  - Build financial reporting dashboards in BI tools

  - Integrate invoice data with ERP or accounting systems

  - Perform revenue analysis and forecasting

  - Track accounts receivable and payment status

  - Consolidate data from multiple legal entities


  Authentication requires an InFakt API key which can be obtained from the
  InFakt application settings.

check:
  type: CheckStream
  stream_names:
    - clients

definitions:
  linked:
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        stop_condition: "{{ response['metainfo']['count'] == 0 }}"
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: true
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        header: X-inFakt-ApiKey
        api_token: "{{ config['api_key'] }}"
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            max_retries: 5
            response_filters:
              - type: HttpResponseFilter
                action: RETRY
                http_codes:
                  - 429
                  - 500
                  - 502
                  - 503
                  - 504
            backoff_strategies:
              - type: ExponentialBackoffStrategy
                factor: 2
          - type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 404
          - type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                http_codes:
                  - 400
                  - 401
                  - 403
      request_headers:
        Accept: application/json
        Content-Type: application/json

streams:
  - type: DeclarativeStream
    name: clients
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        stop_condition: "{{ response['metainfo']['count'] == 0 }}"
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: true
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          header: X-inFakt-ApiKey
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
                    - 500
                    - 502
                    - 503
                    - 504
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 404
                  error_message_contains: ""
              max_retries: null
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 400
                    - 401
                    - 403
                  error_message_contains: ""
              max_retries: null
        request_headers:
          Accept: application/json
          Content-Type: application/json
        url: https://api.infakt.pl/api/v3/clients.json
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entities
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - id
              value: "{{ record['id'] }}"
            - type: AddedFieldDefinition
              path:
                - company_name
              value: "{{ record['company_name'] }}"
            - type: AddedFieldDefinition
              path:
                - country
              value: "{{ record['country'] }}"
            - type: AddedFieldDefinition
              path:
                - city
              value: "{{ record['city'] }}"
            - type: AddedFieldDefinition
              path:
                - postal_code
              value: "{{ record['postal_code'] }}"
            - type: AddedFieldDefinition
              path:
                - email
              value: "{{ record['email'] }}"
            - type: AddedFieldDefinition
              path:
                - nip
              value: "{{ record['nip'] }}"
            - type: AddedFieldDefinition
              path:
                - street
              value: "{{ record['street'] }}"
            - type: AddedFieldDefinition
              path:
                - street_number
              value: "{{ record['street_number'] }}"
            - type: AddedFieldDefinition
              path:
                - apartment_number
              value: "{{ record['apartment_number'] }}"
            - type: AddedFieldDefinition
              path:
                - phone
              value: "{{ record['phone'] }}"
            - type: AddedFieldDefinition
              path:
                - first_name
              value: "{{ record['first_name'] }}"
            - type: AddedFieldDefinition
              path:
                - last_name
              value: "{{ record['last_name'] }}"
            - type: AddedFieldDefinition
              path:
                - description
              value: "{{ record['description'] }}"
            - type: AddedFieldDefinition
              path:
                - note
              value: "{{ record['note'] }}"
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: integer
          nip:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          note:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          street:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          street_number:
            type:
              - string
              - "null"
          apartment_number:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: invoices
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        stop_condition: "{{ response['metainfo']['count'] == 0 }}"
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: true
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          header: X-inFakt-ApiKey
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
                    - 500
                    - 502
                    - 503
                    - 504
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 404
                  error_message_contains: ""
              max_retries: null
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 400
                    - 401
                    - 403
                  error_message_contains: ""
              max_retries: null
        request_headers:
          Accept: application/json
          Content-Type: application/json
        request_parameters:
          q[invoice_date_lt]: "{{ stream_slice.end_time }}"
          q[invoice_date_gteq]: "{{ stream_slice.start_time }}"
        url: https://api.infakt.pl/api/v3/invoices.json
      stream_slicer:
        type: DatetimeBasedCursor
        step: P30D
        cursor_field: invoice_date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.get('start_date', (now_utc() -
            duration(days=90)).strftime('%Y-%m-%d')) }}
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        lookback_window: P3D
        cursor_granularity: P1D
        cursor_datetime_formats:
          - "%Y-%m-%d"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entities
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - id
              value: "{{ record['id'] }}"
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ record['uuid'] }}"
            - type: AddedFieldDefinition
              path:
                - number
              value: "{{ record['number'] }}"
            - type: AddedFieldDefinition
              path:
                - currency
              value: "{{ record['currency'] }}"
            - type: AddedFieldDefinition
              path:
                - paid_price
              value: "{{ record['paid_price'] }}"
            - type: AddedFieldDefinition
              path:
                - kind
              value: "{{ record['kind'] }}"
            - type: AddedFieldDefinition
              path:
                - payment_method
              value: "{{ record['payment_method'] }}"
            - type: AddedFieldDefinition
              path:
                - split_payment
              value: "{{ record['split_payment'] }}"
            - type: AddedFieldDefinition
              path:
                - split_payment_type
              value: "{{ record['split_payment_type'] }}"
            - type: AddedFieldDefinition
              path:
                - invoice_date
              value: "{{ record['invoice_date'] }}"
            - type: AddedFieldDefinition
              path:
                - sale_date
              value: "{{ record['sale_date'] }}"
            - type: AddedFieldDefinition
              path:
                - vat_date_value
              value: "{{ record['vat_date_value'] }}"
            - type: AddedFieldDefinition
              path:
                - occasional_sale
              value: "{{ record['occasional_sale'] }}"
            - type: AddedFieldDefinition
              path:
                - status
              value: "{{ record['status'] }}"
            - type: AddedFieldDefinition
              path:
                - payment_date
              value: "{{ record['payment_date'] }}"
            - type: AddedFieldDefinition
              path:
                - paid_date
              value: "{{ record['paid_date'] }}"
            - type: AddedFieldDefinition
              path:
                - net_price
              value: "{{ record['net_price'] }}"
            - type: AddedFieldDefinition
              path:
                - tax_price
              value: "{{ record['tax_price'] }}"
            - type: AddedFieldDefinition
              path:
                - gross_price
              value: "{{ record['gross_price'] }}"
            - type: AddedFieldDefinition
              path:
                - left_to_pay
              value: "{{ record['left_to_pay'] }}"
            - type: AddedFieldDefinition
              path:
                - client_id
              value: "{{ record['client_id'] }}"
            - type: AddedFieldDefinition
              path:
                - client_company_name
              value: "{{ record['client_company_name'] }}"
            - type: AddedFieldDefinition
              path:
                - bank_account
              value: "{{ record['bank_account'] }}"
            - type: AddedFieldDefinition
              path:
                - bank_name
              value: "{{ record['bank_name'] }}"
            - type: AddedFieldDefinition
              path:
                - swift
              value: "{{ record['swift'] }}"
            - type: AddedFieldDefinition
              path:
                - vat_exemption_reason
              value: "{{ record['vat_exemption_reason'] }}"
            - type: AddedFieldDefinition
              path:
                - sale_type
              value: "{{ record['sale_type'] }}"
            - type: AddedFieldDefinition
              path:
                - invoice_date_kind
              value: "{{ record['invoice_date_kind'] }}"
            - type: AddedFieldDefinition
              path:
                - not_income
              value: "{{ record['not_income'] }}"
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type: integer
          kind:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
          swift:
            type:
              - string
              - "null"
          number:
            type: string
          status:
            type:
              - string
              - "null"
          currency:
            type: string
          bank_name:
            type:
              - string
              - "null"
          client_id:
            type: integer
          net_price:
            type: integer
          paid_date:
            type:
              - string
              - "null"
            format: date
          sale_date:
            type:
              - string
              - "null"
            format: date
          sale_type:
            type:
              - string
              - "null"
          tax_price:
            type:
              - integer
              - "null"
          not_income:
            type:
              - boolean
              - "null"
          paid_price:
            type:
              - integer
              - "null"
          gross_price:
            type: integer
          left_to_pay:
            type:
              - integer
              - "null"
          bank_account:
            type:
              - string
              - "null"
          invoice_date:
            type: string
            format: date
          payment_date:
            type:
              - string
              - "null"
            format: date
          split_payment:
            type:
              - boolean
              - "null"
          payment_method:
            type:
              - string
              - "null"
          vat_date_value:
            type:
              - string
              - "null"
          occasional_sale:
            type:
              - boolean
              - "null"
          invoice_date_kind:
            type:
              - string
              - "null"
          split_payment_type:
            type:
              - string
              - "null"
          client_company_name:
            type:
              - string
              - "null"
          vat_exemption_reason:
            type:
              - string
              - "null"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          InFakt API Key (X-inFakt-ApiKey) for authentication. Get it from
          https://app.infakt.pl/app/ustawienia/integracja.html
        order: 0
        title: API Key
        airbyte_secret: true
      end_date:
        type: string
        description: >-
          End date for incremental invoice sync (YYYY-MM-DD). Defaults to
          current date if not provided.
        order: 2
        title: End Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2024-12-31"
      start_date:
        type: string
        description: >-
          Start date for incremental invoice sync (YYYY-MM-DD). Only invoices
          with invoice_date >= this date will be synced. Defaults to 90 days ago
          if not provided.
        order: 1
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2024-01-01"
    additionalProperties: true

metadata:
  autoImportSchema:
    clients: false
    invoices: false
  testedStreams:
    clients:
      streamHash: 856f67001710338a131bf3f0646ad8fc2e6af65d
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    invoices:
      streamHash: 1b4308434cb2297692681e100feef4edf877761d
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
