version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  custom_oauth_authenticator:
    type: CustomAuthenticator
    class_name: source_salesloft.custom_authenticators.SingleUseOauth2Authenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    refresh_request_body: {}
    token_refresh_endpoint: "https://accounts.salesloft.com/oauth/token"
    grant_type: refresh_token

  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['api_key'] }}"

  selective_authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "auth_type"]
    authenticators:
      oauth2.0: "#/definitions/custom_oauth_authenticator"
      api_key: "#/definitions/bearer_authenticator"

  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    account_tiers:
      type: DeclarativeStream
      name: account_tiers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account_tiers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_tiers"
    import:
      type: DeclarativeStream
      name: import
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /imports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/import"
    person_stages:
      type: DeclarativeStream
      name: person_stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /person_stages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/person_stages"
    phone_number_assignments:
      type: DeclarativeStream
      name: phone_number_assignments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /phone_number_assignments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/phone_number_assignments"
    steps:
      type: DeclarativeStream
      name: steps
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /steps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/steps"
    team_template_attachments:
      type: DeclarativeStream
      name: team_template_attachments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /team_template_attachments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/team_template_attachments"
    email_template_attachments:
      type: DeclarativeStream
      name: email_template_attachments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: email_template_attachments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/email_template_attachments"
    crm_users:
      type: DeclarativeStream
      name: crm_users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm_users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crm_users"
    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /custom_fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    call_dispositions:
      type: DeclarativeStream
      name: call_dispositions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /call_dispositions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/call_dispositions"
    call_sentiments:
      type: DeclarativeStream
      name: call_sentiments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /call_sentiments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/call_sentiments"
    meetings:
      type: DeclarativeStream
      name: meetings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /meetings
          http_method: GET
          request_parameters:
            created_at[gt]: "{{ config['start_date'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/meetings"
    people:
      type: DeclarativeStream
      name: people
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /people
          http_method: GET
          request_parameters:
            created_at[gt]: "{{ config['start_date'] }}"
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/people"
    cadences:
      type: DeclarativeStream
      name: cadences
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /cadences
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cadences"
    cadence_memberships:
      type: DeclarativeStream
      name: cadence_memberships
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /cadence_memberships
          http_method: GET
          request_parameters:
            created_at[gt]: "{{ config['start_date'] }}"
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cadence_memberships"
    emails:
      type: DeclarativeStream
      name: emails
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /activities/emails
          http_method: GET
          request_parameters:
            sent_at[gt]: "{{ config['start_date'] }}"
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/emails"
    calls:
      type: DeclarativeStream
      name: calls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /activities/calls
          http_method: GET
          request_parameters:
            created_at[gt]: "{{ config['start_date'] }}"
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts
          http_method: GET
          request_parameters:
            created_at[gt]: "{{ config['start_date'] }}"
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    account_stages:
      type: DeclarativeStream
      name: account_stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account_stages
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_stages"
    actions:
      type: DeclarativeStream
      name: actions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /actions
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/actions"
    email_templates:
      type: DeclarativeStream
      name: email_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /email_templates
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/email_templates"
    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /notes
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notes"
    team_templates:
      type: DeclarativeStream
      name: team_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /team_templates
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/team_templates"
    crm_activities:
      type: DeclarativeStream
      name: crm_activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /crm_activities
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crm_activities"
    successes:
      type: DeclarativeStream
      name: successes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /successes
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/successes"
    call_data_records:
      type: DeclarativeStream
      name: call_data_records
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /call_data_records
          http_method: GET
          request_parameters:
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/call_data_records"
    searches:
      type: DeclarativeStream
      name: searches
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /meetings/settings/searches
          http_method: POST
          request_parameters:
            created_at[gt]: "{{ config['start_date'] }}"
            updated_at[gt]: >-
              {{ 
                 format_datetime(
                 (config['start_date'] if stream_state['updated_at'] is not defined else
                 (stream_state.updated_at if stream_state.updated_at < now_utc() else now_utc())), 
                 '%Y-%m-%dT%H:%M:%S.%fZ'
                 ) 
               }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response['metadata']['paging']['next_page'] }}"
            stop_condition: >-
              {{ response['metadata']['paging'] is not defined or not
              response['metadata']['paging'] or
              response['metadata']['paging']['next_page'] is not defined or not
              response['metadata']['paging']['next_page'] }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/searches"
  base_requester:
    type: HttpRequester
    url_base: https://api.salesloft.com/v2
    authenticator:
      $ref: "#/definitions/selective_authenticator"

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/account_tiers"
  - $ref: "#/definitions/streams/import"
  - $ref: "#/definitions/streams/person_stages"
  - $ref: "#/definitions/streams/phone_number_assignments"
  - $ref: "#/definitions/streams/steps"
  - $ref: "#/definitions/streams/team_template_attachments"
  - $ref: "#/definitions/streams/email_template_attachments"
  - $ref: "#/definitions/streams/crm_users"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/call_dispositions"
  - $ref: "#/definitions/streams/call_sentiments"
  - $ref: "#/definitions/streams/meetings"
  - $ref: "#/definitions/streams/people"
  - $ref: "#/definitions/streams/cadences"
  - $ref: "#/definitions/streams/cadence_memberships"
  - $ref: "#/definitions/streams/emails"
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/account_stages"
  - $ref: "#/definitions/streams/actions"
  - $ref: "#/definitions/streams/email_templates"
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/team_templates"
  - $ref: "#/definitions/streams/crm_activities"
  - $ref: "#/definitions/streams/successes"
  - $ref: "#/definitions/streams/call_data_records"
  - $ref: "#/definitions/streams/searches"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
      - start_date
    properties:
      credentials:
        type: object
        oneOf:
          - type: object
            title: Authenticate via OAuth
            required:
              - client_id
              - client_secret
              - refresh_token
              - access_token
              - token_expiry_date
              - auth_type
            properties:
              auth_type:
                type: string
                const: oauth2.0
              client_id:
                type: string
                title: Client ID
                description: The Client ID of your Salesloft developer application.
              access_token:
                type: string
                description: Access Token for making authenticated requests.
                airbyte_secret: true
              client_secret:
                type: string
                title: Client Secret
                description: The Client Secret of your Salesloft developer application.
                airbyte_secret: true
              refresh_token:
                type: string
                title: Refresh Token
                description: The token for obtaining a new access token.
                airbyte_secret: true
              token_expiry_date:
                type: string
                format: date-time
                description: The date-time when the access token should be refreshed.
          - type: object
            title: Authenticate via API Key
            required:
              - api_key
              - auth_type
            properties:
              api_key:
                type: string
                title: API Key
                description: >-
                  API Key for making authenticated requests. More instruction on
                  how to find this value in our <a
                  href="https://docs.airbyte.com/integrations/sources/salesloft#setup-guide">docs</a>
                airbyte_secret: true
              auth_type:
                type: string
                const: api_key
        order: 0
        title: Credentials
      start_date:
        type: string
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
        examples:
          - "2020-11-16T00:00:00Z"
        description: >-
          The date from which you'd like to replicate data for Salesloft API, in
          the format YYYY-MM-DDT00:00:00Z. All data generated after this date
          will be replicated.
    additionalProperties: true

metadata:
  autoImportSchema:
    users: false
    account_tiers: false
    import: false
    person_stages: false
    phone_number_assignments: false
    steps: false
    team_template_attachments: false
    email_template_attachments: false
    crm_users: false
    groups: false
    custom_fields: false
    call_dispositions: false
    call_sentiments: false
    meetings: false
    people: false
    cadences: false
    cadence_memberships: false
    emails: false
    calls: false
    accounts: false
    account_stages: false
    actions: false
    email_templates: false
    notes: false
    team_templates: false
    crm_activities: false
    successes: false
    call_data_records: false
    searches: false

schemas:
  users:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      guid:
        type:
          - "null"
          - string
      created_at:
        type: string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      name:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      job_role:
        type:
          - "null"
          - string
      active:
        type:
          - "null"
          - boolean
      time_zone:
        type:
          - "null"
          - string
      slack_username:
        type:
          - "null"
          - string
      twitter_handle:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      email_client_email_address:
        type:
          - "null"
          - string
      sending_email_address:
        type:
          - "null"
          - string
      from_address:
        type:
          - "null"
          - string
      full_email_address:
        type:
          - "null"
          - string
      bcc_email_address:
        type:
          - "null"
          - string
      email_signature:
        type:
          - "null"
          - string
      email_signature_type:
        type:
          - "null"
          - string
      email_signature_click_tracking_disabled:
        type:
          - "null"
          - boolean
      team_admin:
        type:
          - "null"
          - boolean
      local_dial_enabled:
        type:
          - "null"
          - boolean
      click_to_call_enabled:
        type:
          - "null"
          - boolean
      email_client_configured:
        type:
          - "null"
          - boolean
      crm_connected:
        type:
          - "null"
          - boolean
      external_feature_flags:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      phone_client:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      phone_number_assignment:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      group:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      team:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      role:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
              - string
  account_tiers:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      name:
        type:
          - "null"
          - string
      order:
        type:
          - "null"
          - integer
      created_at:
        type: string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  import:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      created_at:
        type: string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      name:
        type:
          - "null"
          - string
      current_people_count:
        type:
          - "null"
          - integer
      imported_people_count:
        type:
          - "null"
          - integer
  person_stages:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      name:
        type:
          - "null"
          - string
      created_at:
        type: string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      order:
        type:
          - "null"
          - integer
  phone_number_assignments:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      number:
        type:
          - "null"
          - string
      user:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
  steps:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      disabled:
        type:
          - "null"
          - boolean
      type:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      display_name:
        type:
          - "null"
          - string
      day:
        type:
          - "null"
          - integer
      step_number:
        type:
          - "null"
          - integer
      details:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      cadence:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
  team_template_attachments:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      attachment_id:
        type:
          - "null"
          - integer
      team_template:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          _href:
            type:
              - "null"
              - string
      name:
        type:
          - "null"
          - string
      download_url:
        type:
          - "null"
          - string
      attachment_file_size:
        type:
          - "null"
          - integer
  email_template_attachments:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      attachment_id:
        type:
          - "null"
          - integer
      team_template:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      name:
        type:
          - "null"
          - string
      download_url:
        type:
          - "null"
          - string
      attachment_file_size:
        type:
          - "null"
          - integer
  crm_users:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      crm_id:
        type:
          - "null"
          - string
      created_at:
        type: string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      user:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
  groups:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      name:
        type:
          - "null"
          - string
      parent_id:
        type:
          - "null"
          - integer
  custom_fields:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      field_type:
        type:
          - "null"
          - string
      value_type:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  call_dispositions:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      name:
        type:
          - "null"
          - string
  call_sentiments:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      name:
        type:
          - "null"
          - string
  meetings:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      title:
        type:
          - "null"
          - string
      start_time:
        type:
          - "null"
          - string
        format: date-time
      end_time:
        type:
          - "null"
          - string
        format: date-time
      calendar_id:
        type:
          - "null"
          - string
      calendar_type:
        type:
          - "null"
          - string
      meeting_type:
        type:
          - "null"
          - string
      recipient_name:
        type:
          - "null"
          - string
      recipient_email:
        type:
          - "null"
          - string
      location:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      event_id:
        type:
          - "null"
          - string
      account_id:
        type:
          - "null"
          - string
      task_id:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      guests:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      attendees:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            email:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            organizer:
              type:
                - "null"
                - boolean
            status:
              type:
                - "null"
                - string
            status_changed:
              type:
                - "null"
                - boolean
            deleted_at:
              type:
                - "null"
                - string
              format: date-time
      person:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      cadence:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      step:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      booked_by_user:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          _href:
            type:
              - "null"
              - string
      crm_references:
        type:
          - "null"
          - object
        additionalProperties: true
      event_source:
        type:
          - "null"
          - string
      canceled_at:
        type:
          - "null"
          - string
        format: date-time
      all_day:
        type:
          - "null"
          - boolean
      no_show:
        type:
          - "null"
          - boolean
      crm_custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true
      strict_attribution:
        type:
          - "null"
          - boolean
      i_cal_uid:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      reschedule_status:
        type:
          - "null"
          - string
      owned_by_meetings_settings:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            email_address:
              - "null"
              - string
      booked_by_meetings_settings:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            email_address:
              - "null"
              - string
  people:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      last_contacted_at:
        type:
          - "null"
          - string
        format: date-time
      last_replied_at:
        type:
          - "null"
          - string
        format: date-time
      first_name:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      display_name:
        type:
          - "null"
          - string
      email_address:
        type:
          - "null"
          - string
      full_email_address:
        type:
          - "null"
          - string
      secondary_email_address:
        type:
          - "null"
          - string
      personal_email_address:
        type:
          - "null"
          - string
      phone:
        type:
          - "null"
          - string
      phone_extension:
        type:
          - "null"
          - string
      home_phone:
        type:
          - "null"
          - string
      mobile_phone:
        type:
          - "null"
          - string
      linkedin_url:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      city:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
      country:
        type:
          - "null"
          - string
      work_city:
        type:
          - "null"
          - string
      work_state:
        type:
          - "null"
          - string
      work_country:
        type:
          - "null"
          - string
      crm_url:
        type:
          - "null"
          - string
      crm_id:
        type:
          - "null"
          - string
      crm_object_type:
        type:
          - "null"
          - string
      owner_crm_id:
        type:
          - "null"
          - string
      person_company_name:
        type:
          - "null"
          - string
      person_company_website:
        type:
          - "null"
          - string
      person_company_industry:
        type:
          - "null"
          - string
      do_not_contact:
        type:
          - "null"
          - boolean
      bouncing:
        type:
          - "null"
          - boolean
      locale:
        type:
          - "null"
          - string
      personal_website:
        type:
          - "null"
          - string
      twitter_handle:
        type:
          - "null"
          - string
      last_contacted_type:
        type:
          - "null"
          - string
      job_seniority:
        type:
          - "null"
          - string
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true
        properties: {}
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      contact_restrictions:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      counts:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          emails_sent:
            type:
              - "null"
              - integer
          emails_viewed:
            type:
              - "null"
              - integer
          emails_clicked:
            type:
              - "null"
              - integer
          emails_replied_to:
            type:
              - "null"
              - integer
          emails_bounced:
            type:
              - "null"
              - integer
          calls:
            type:
              - "null"
              - integer
      account:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      owner:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      last_contacted_by:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      import:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      person_stage:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      most_recent_cadence:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      last_completed_step_cadence:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      last_completed_step:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
  cadences:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      archived_at:
        type:
          - "null"
          - string
        format: date-time
      team_cadence:
        type:
          - "null"
          - boolean
      shared:
        type:
          - "null"
          - boolean
      remove_bounces_enabled:
        type:
          - "null"
          - boolean
      remove_replies_enabled:
        type:
          - "null"
          - boolean
      opt_out_link_included:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      creator:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      owner:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      bounced_stage:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      replied_stage:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      added_stage:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      finished_stage:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      counts:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          cadence_people:
            type:
              - "null"
              - integer
          target_daily_people:
            type:
              - "null"
              - integer
      latest_active_date:
        type:
          - "null"
          - string
        format: date
  cadence_memberships:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      added_at:
        type:
          - "null"
          - string
        format: date-time
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      person_deleted:
        type:
          - "null"
          - boolean
      currently_on_cadence:
        type:
          - "null"
          - boolean
      current_state:
        type:
          - "null"
          - string
      cadence:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      person:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      user:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      latest_action:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      counts:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          views:
            type:
              - "null"
              - integer
          clicks:
            type:
              - "null"
              - integer
          replies:
            type:
              - "null"
              - integer
          calls:
            type:
              - "null"
              - integer
          sent_emails:
            type:
              - "null"
              - integer
          bounces:
            type:
              - "null"
              - integer
  emails:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      recipient_email_address:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      bounced:
        type:
          - "null"
          - boolean
      send_after:
        type:
          - "null"
          - string
        format: date-time
      sent_at:
        type:
          - "null"
          - string
        format: date-time
      view_tracking:
        type:
          - "null"
          - boolean
      click_tracking:
        type:
          - "null"
          - boolean
      personalization:
        type:
          - "null"
          - string
      counts:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          clicks:
            type:
              - "null"
              - integer
          views:
            type:
              - "null"
              - integer
          replies:
            type:
              - "null"
              - integer
          unique_devices:
            type:
              - "null"
              - integer
          unique_locations:
            type:
              - "null"
              - integer
          attachments:
            type:
              - "null"
              - integer
      headers:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          In-Reply-To:
            type:
              - "null"
              - string
          References:
            type:
              - "null"
              - string
          to:
            type:
              - "null"
              - string
          cc:
            type:
              - "null"
              - string
          in_reply_to:
            type:
              - "null"
              - string
          bcc:
            type:
              - "null"
              - string
      user:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      recipient:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      mailing:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      action:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      crm_activity:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      cadence:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      step:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
      email_template:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          _href:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
  calls:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      to:
        type:
          - "null"
          - string
      duration:
        type:
          - "null"
          - integer
      sentiment:
        type:
          - "null"
          - string
      disposition:
        type:
          - "null"
          - string
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      user:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      action:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      called_person:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      crm_activity:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      note:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      cadence:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      step:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
  accounts:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      archived_at:
        type:
          - "null"
          - string
        format: date-time
      name:
        type:
          - "null"
          - string
      domain:
        type:
          - "null"
          - string
      conversational_name:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      phone:
        type:
          - "null"
          - string
      website:
        type:
          - "null"
          - string
      linkedin_url:
        type:
          - "null"
          - string
      twitter_handle:
        type:
          - "null"
          - string
      street:
        type:
          - "null"
          - string
      city:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
      postal_code:
        type:
          - "null"
          - string
      country:
        type:
          - "null"
          - string
      locale:
        type:
          - "null"
          - string
      industry:
        type:
          - "null"
          - string
      company_type:
        type:
          - "null"
          - string
      founded:
        type:
          - "null"
          - string
      revenue_range:
        type:
          - "null"
          - string
      size:
        type:
          - "null"
          - string
      crm_id:
        type:
          - "null"
          - string
      crm_url:
        type:
          - "null"
          - string
      crm_object_type:
        type:
          - "null"
          - string
      owner_crm_id:
        type:
          - "null"
          - string
      last_contacted_at:
        type:
          - "null"
          - string
        format: date-time
      last_contacted_type:
        type:
          - "null"
          - string
      do_not_contact:
        type:
          - "null"
          - boolean
      counts:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          people:
            type:
              - "null"
              - integer
      owner:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      creator:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      last_contacted_by:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      last_contacted_person:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      company_stage:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      account_tier:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
  account_stages:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      name:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      order:
        type:
          - "null"
          - integer
  actions:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      due:
        type:
          - "null"
          - boolean
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      type:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      due_on:
        type:
          - "null"
          - string
        format: date-time
      multitouch_group_id:
        type:
          - "null"
          - integer
      action_details:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      user:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      person:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      cadence:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      step:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
  email_templates:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      title:
        type:
          - "null"
          - string
      subject:
        type:
          - "null"
          - string
      body:
        type:
          - "null"
          - string
      body_preview:
        type:
          - "null"
          - string
      created_at:
        type: string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      last_used_at:
        type:
          - "null"
          - string
        format: date-time
      archived_at:
        type:
          - "null"
          - string
        format: date-time
      shared:
        type:
          - "null"
          - boolean
      open_tracking_enabled:
        type:
          - "null"
          - boolean
      click_tracking_enabled:
        type:
          - "null"
          - boolean
      cadence_template:
        type:
          - "null"
          - boolean
      counts:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          sent_emails:
            type:
              - "null"
              - integer
          views:
            type:
              - "null"
              - integer
          clicks:
            type:
              - "null"
              - integer
          replies:
            type:
              - "null"
              - integer
          bounces:
            type:
              - "null"
              - integer
      template_owner:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
          _href:
            type:
              - "null"
              - string
      team_template:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          _href:
            type:
              - "null"
              - string
      _links:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          attachments:
            type:
              - "null"
              - string
      groups:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - integer
            _href:
              type:
                - "null"
                - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
  notes:
    "$schema": http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        type: integer
      content:
        type:
          - "null"
          - string
      created_at:
        type: string
[...]
