version: 7.23.1
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - repositories
definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []
    schema_normalization: Default
  requester:
    type: HttpRequester
    url_base: "{{ config.get('api_url', 'https://api.github.com').rstrip('/') }}"
    http_method: GET
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['access_token'] }}"
    request_headers:
      Accept: application/vnd.github+json
      X-GitHub-Api-Version: '2022-11-28'
  paginator:
    type: DefaultPaginator
    page_size_option:
      type: RequestOption
      field_name: per_page
      inject_into: request_parameter
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      page_size: 100
      cursor_value: "{{ headers.link.next.url }}"
      stop_condition: "{{ 'next' not in headers.link }}"
  repository_partition_router:
    type: ListPartitionRouter
    cursor_field: repository
    values: "{{ config['repositories'] }}"
  base_repo_retriever:
    type: SimpleRetriever
    record_selector:
      $ref: '#/definitions/selector'
    requester:
      $ref: '#/definitions/requester'
    paginator:
      $ref: '#/definitions/paginator'
    partition_router:
      $ref: '#/definitions/repository_partition_router'
  incremental_sync_with_since:
    type: DatetimeBasedCursor
    cursor_field: updated_at
    cursor_datetime_formats:
    - '%Y-%m-%dT%H:%M:%SZ'
    datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
    start_time_option:
      type: RequestOption
      field_name: since
      inject_into: request_parameter
  incremental_sync_commits:
    type: DatetimeBasedCursor
    cursor_field: commit_committer_date
    cursor_datetime_formats:
    - '%Y-%m-%dT%H:%M:%SZ'
    datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
    start_time_option:
      type: RequestOption
      field_name: since
      inject_into: request_parameter
  incremental_sync_workflow_runs:
    type: DatetimeBasedCursor
    cursor_field: updated_at
    cursor_datetime_formats:
    - '%Y-%m-%dT%H:%M:%SZ'
    datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
    start_time_option:
      type: RequestOption
      field_name: created
      inject_into: request_parameter
  repositories_stream:
    type: DeclarativeStream
    name: repositories
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}"
      paginator:
        type: NoPagination
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - owner_id
        value: "{{ record.get('owner', {}).get('id') }}"
      - path:
        - owner_login
        value: "{{ record.get('owner', {}).get('login') }}"
      - path:
        - owner_type
        value: "{{ record.get('owner', {}).get('type') }}"
      - path:
        - license_key
        value: "{{ record.get('license', {}).get('key') if record.get('license') else None }}"
      - path:
        - license_name
        value: "{{ record.get('license', {}).get('name') if record.get('license') else None }}"
      - path:
        - organization_id
        value: "{{ record.get('organization', {}).get('id') if record.get('organization') else None }}"
      - path:
        - organization_login
        value: "{{ record.get('organization', {}).get('login') if record.get('organization') else None }}"
    - type: RemoveFields
      field_pointers:
      - - allow_auto_merge
      - - allow_merge_commit
      - - allow_rebase_merge
      - - allow_squash_merge
      - - allow_update_branch
      - - archive_url
      - - assignees_url
      - - blobs_url
      - - branches_url
      - - collaborators_url
      - - comments_url
      - - commits_url
      - - compare_url
      - - contents_url
      - - contributors_url
      - - custom_properties
      - - deployments_url
      - - downloads_url
      - - events_url
      - - forks
      - - forks_url
      - - git_commits_url
      - - git_refs_url
      - - git_tags_url
      - - git_url
      - - has_downloads
      - - has_pull_requests
      - - hooks_url
      - - issue_comment_url
      - - issue_events_url
      - - issues_url
      - - keys_url
      - - labels_url
      - - languages_url
      - - license
      - - merge_commit_message
      - - merge_commit_title
      - - merges_url
      - - milestones_url
      - - mirror_url
      - - notifications_url
      - - open_issues
      - - organization
      - - owner
      - - permissions
      - - pull_request_creation_policy
      - - pulls_url
      - - releases_url
      - - squash_merge_commit_message
      - - squash_merge_commit_title
      - - stargazers_url
      - - statuses_url
      - - subscribers_url
      - - subscription_url
      - - svn_url
      - - tags_url
      - - teams_url
      - - temp_clone_token
      - - trees_url
      - - url
      - - use_squash_pr_title_as_default
      - - watchers
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          name:
            type:
            - string
            - 'null'
          full_name:
            type:
            - string
            - 'null'
          private:
            type:
            - boolean
            - 'null'
          description:
            type:
            - string
            - 'null'
          fork:
            type:
            - boolean
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          pushed_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          homepage:
            type:
            - string
            - 'null'
          size:
            type:
            - integer
            - 'null'
          stargazers_count:
            type:
            - integer
            - 'null'
          watchers_count:
            type:
            - integer
            - 'null'
          subscribers_count:
            type:
            - integer
            - 'null'
          network_count:
            type:
            - integer
            - 'null'
          language:
            type:
            - string
            - 'null'
          forks_count:
            type:
            - integer
            - 'null'
          open_issues_count:
            type:
            - integer
            - 'null'
          default_branch:
            type:
            - string
            - 'null'
          archived:
            type:
            - boolean
            - 'null'
          disabled:
            type:
            - boolean
            - 'null'
          visibility:
            type:
            - string
            - 'null'
          topics:
            type:
            - array
            - 'null'
            items:
              type: string
          is_template:
            type:
            - boolean
            - 'null'
          allow_forking:
            type:
            - boolean
            - 'null'
          delete_branch_on_merge:
            type:
            - boolean
            - 'null'
          web_commit_signoff_required:
            type:
            - boolean
            - 'null'
          has_issues:
            type:
            - boolean
            - 'null'
          has_projects:
            type:
            - boolean
            - 'null'
          has_wiki:
            type:
            - boolean
            - 'null'
          has_pages:
            type:
            - boolean
            - 'null'
          has_discussions:
            type:
            - boolean
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          clone_url:
            type:
            - string
            - 'null'
          ssh_url:
            type:
            - string
            - 'null'
          api_url:
            type:
            - string
            - 'null'
          owner_id:
            type:
            - integer
            - 'null'
          owner_login:
            type:
            - string
            - 'null'
          owner_type:
            type:
            - string
            - 'null'
          license_key:
            type:
            - string
            - 'null'
          license_name:
            type:
            - string
            - 'null'
          organization_id:
            type:
            - integer
            - 'null'
          organization_login:
            type:
            - string
            - 'null'
  pull_requests_stream:
    type: DeclarativeStream
    name: pull_requests
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/pulls"
        request_parameters:
          state: all
          sort: updated
          direction: desc
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository_id
        value: "{{ record.get('base', {}).get('repo', {}).get('id') if record.get('base', {}).get('repo') else None }}"
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - user_id
        value: "{{ record.get('user', {}).get('id') }}"
      - path:
        - user_login
        value: "{{ record.get('user', {}).get('login') }}"
      - path:
        - user_type
        value: "{{ record.get('user', {}).get('type') }}"
      - path:
        - head_ref
        value: "{{ record.get('head', {}).get('ref') }}"
      - path:
        - head_sha
        value: "{{ record.get('head', {}).get('sha') }}"
      - path:
        - head_repo_id
        value: "{{ record.get('head', {}).get('repo', {}).get('id') if record.get('head', {}).get('repo') else None }}"
      - path:
        - head_repo_full_name
        value: "{{ record.get('head', {}).get('repo', {}).get('full_name') if record.get('head', {}).get('repo') else None }}"
      - path:
        - base_ref
        value: "{{ record.get('base', {}).get('ref') }}"
      - path:
        - base_sha
        value: "{{ record.get('base', {}).get('sha') }}"
      - path:
        - milestone_id
        value: "{{ record.get('milestone', {}).get('id') if record.get('milestone') else None }}"
      - path:
        - milestone_number
        value: "{{ record.get('milestone', {}).get('number') if record.get('milestone') else None }}"
      - path:
        - milestone_title
        value: "{{ record.get('milestone', {}).get('title') if record.get('milestone') else None }}"
      - path:
        - assignee_id
        value: "{{ record.get('assignee', {}).get('id') if record.get('assignee') else None }}"
      - path:
        - assignee_login
        value: "{{ record.get('assignee', {}).get('login') if record.get('assignee') else None }}"
      - path:
        - assignee_logins
        value: "{{ record.get('assignees', []) | map(attribute='login') | list }}"
      - path:
        - requested_reviewer_logins
        value: "{{ record.get('requested_reviewers', []) | map(attribute='login') | list }}"
      - path:
        - label_names
        value: "{{ record.get('labels', []) | map(attribute='name') | list }}"
    - type: RemoveFields
      field_pointers:
      - - _links
      - - active_lock_reason
      - - assignee
      - - auto_merge
      - - base
      - - comments_url
      - - commits_url
      - - head
      - - issue_url
      - - milestone
      - - requested_teams
      - - review_comment_url
      - - review_comments_url
      - - statuses_url
      - - url
      - - user
      - - labels
        - '*'
        - color
      - - labels
        - '*'
        - default
      - - labels
        - '*'
        - node_id
      - - labels
        - '*'
        - url
      - - assignees
        - '*'
        - avatar_url
      - - assignees
        - '*'
        - events_url
      - - assignees
        - '*'
        - followers_url
      - - assignees
        - '*'
        - following_url
      - - assignees
        - '*'
        - gists_url
      - - assignees
        - '*'
        - gravatar_id
      - - assignees
        - '*'
        - html_url
      - - assignees
        - '*'
        - node_id
      - - assignees
        - '*'
        - organizations_url
      - - assignees
        - '*'
        - received_events_url
      - - assignees
        - '*'
        - repos_url
      - - assignees
        - '*'
        - site_admin
      - - assignees
        - '*'
        - starred_url
      - - assignees
        - '*'
        - subscriptions_url
      - - assignees
        - '*'
        - url
      - - assignees
        - '*'
        - user_view_type
      - - requested_reviewers
        - '*'
        - avatar_url
      - - requested_reviewers
        - '*'
        - events_url
      - - requested_reviewers
        - '*'
        - followers_url
      - - requested_reviewers
        - '*'
        - following_url
      - - requested_reviewers
        - '*'
        - gists_url
      - - requested_reviewers
        - '*'
        - gravatar_id
      - - requested_reviewers
        - '*'
        - html_url
      - - requested_reviewers
        - '*'
        - node_id
      - - requested_reviewers
        - '*'
        - organizations_url
      - - requested_reviewers
        - '*'
        - received_events_url
      - - requested_reviewers
        - '*'
        - repos_url
      - - requested_reviewers
        - '*'
        - site_admin
      - - requested_reviewers
        - '*'
        - starred_url
      - - requested_reviewers
        - '*'
        - subscriptions_url
      - - requested_reviewers
        - '*'
        - url
      - - requested_reviewers
        - '*'
        - user_view_type
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        - updated_at
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          number:
            type:
            - integer
            - 'null'
          state:
            type:
            - string
            - 'null'
          locked:
            type:
            - boolean
            - 'null'
          title:
            type:
            - string
            - 'null'
          body:
            type:
            - string
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated_at:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          closed_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          merged_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          merge_commit_sha:
            type:
            - string
            - 'null'
          draft:
            type:
            - boolean
            - 'null'
          author_association:
            type:
            - string
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          diff_url:
            type:
            - string
            - 'null'
          patch_url:
            type:
            - string
            - 'null'
          labels:
            type:
            - array
            - 'null'
            items:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: integer
                name:
                  type: string
                description:
                  type:
                  - string
                  - 'null'
          assignees:
            type:
            - array
            - 'null'
            items:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: integer
                login:
                  type: string
                type:
                  type: string
          requested_reviewers:
            type:
            - array
            - 'null'
            items:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: integer
                login:
                  type: string
                type:
                  type: string
          api_url:
            type:
            - string
            - 'null'
          repository_id:
            type:
            - integer
            - 'null'
          repository:
            type:
            - string
            - 'null'
          user_id:
            type:
            - integer
            - 'null'
          user_login:
            type:
            - string
            - 'null'
          user_type:
            type:
            - string
            - 'null'
          head_ref:
            type:
            - string
            - 'null'
          head_sha:
            type:
            - string
            - 'null'
          head_repo_id:
            type:
            - integer
            - 'null'
          head_repo_full_name:
            type:
            - string
            - 'null'
          base_ref:
            type:
            - string
            - 'null'
          base_sha:
            type:
            - string
            - 'null'
          milestone_id:
            type:
            - integer
            - 'null'
          milestone_number:
            type:
            - integer
            - 'null'
          milestone_title:
            type:
            - string
            - 'null'
          assignee_id:
            type:
            - integer
            - 'null'
          assignee_login:
            type:
            - string
            - 'null'
          assignee_logins:
            type:
            - array
            - 'null'
            items:
              type: string
          requested_reviewer_logins:
            type:
            - array
            - 'null'
            items:
              type: string
          label_names:
            type:
            - array
            - 'null'
            items:
              type: string
  issues_stream:
    type: DeclarativeStream
    name: issues
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/issues"
        request_parameters:
          state: all
          sort: updated
          direction: asc
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - user_id
        value: "{{ record.get('user', {}).get('id') }}"
      - path:
        - user_login
        value: "{{ record.get('user', {}).get('login') }}"
      - path:
        - user_type
        value: "{{ record.get('user', {}).get('type') }}"
      - path:
        - milestone_id
        value: "{{ record.get('milestone', {}).get('id') if record.get('milestone') else None }}"
      - path:
        - milestone_number
        value: "{{ record.get('milestone', {}).get('number') if record.get('milestone') else None }}"
      - path:
        - milestone_title
        value: "{{ record.get('milestone', {}).get('title') if record.get('milestone') else None }}"
      - path:
        - assignee_id
        value: "{{ record.get('assignee', {}).get('id') if record.get('assignee') else None }}"
      - path:
        - assignee_login
        value: "{{ record.get('assignee', {}).get('login') if record.get('assignee') else None }}"
      - path:
        - assignee_logins
        value: "{{ record.get('assignees', []) | map(attribute='login') | list }}"
      - path:
        - label_names
        value: "{{ record.get('labels', []) | map(attribute='name') | list }}"
      - path:
        - is_pull_request
        value: "{{ record.get('pull_request') is not none }}"
      - path:
        - pull_request_number
        value: "{{ record['number'] if record.get('pull_request') else None }}"
    - type: RemoveFields
      field_pointers:
      - - active_lock_reason
      - - assignee
      - - closed_by
      - - comments_url
      - - events_url
      - - issue_dependencies_summary
      - - issue_field_values
      - - labels_url
      - - milestone
      - - performed_via_github_app
      - - pinned_comment
      - - pull_request
      - - reactions
      - - repository_url
      - - sub_issues_summary
      - - timeline_url
      - - type
      - - url
      - - user
      - - labels
        - '*'
        - color
      - - labels
        - '*'
        - default
      - - labels
        - '*'
        - node_id
      - - labels
        - '*'
        - url
      - - assignees
        - '*'
        - avatar_url
      - - assignees
        - '*'
        - events_url
      - - assignees
        - '*'
        - followers_url
      - - assignees
        - '*'
        - following_url
      - - assignees
        - '*'
        - gists_url
      - - assignees
        - '*'
        - gravatar_id
      - - assignees
        - '*'
        - html_url
      - - assignees
        - '*'
        - node_id
      - - assignees
        - '*'
        - organizations_url
      - - assignees
        - '*'
        - received_events_url
      - - assignees
        - '*'
        - repos_url
      - - assignees
        - '*'
        - site_admin
      - - assignees
        - '*'
        - starred_url
      - - assignees
        - '*'
        - subscriptions_url
      - - assignees
        - '*'
        - url
      - - assignees
        - '*'
        - user_view_type
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        - updated_at
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          number:
            type:
            - integer
            - 'null'
          title:
            type:
            - string
            - 'null'
          state:
            type:
            - string
            - 'null'
          state_reason:
            type:
            - string
            - 'null'
          locked:
            type:
            - boolean
            - 'null'
          comments:
            type:
            - integer
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated_at:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          closed_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          author_association:
            type:
            - string
            - 'null'
          draft:
            type:
            - boolean
            - 'null'
          body:
            type:
            - string
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          labels:
            type:
            - array
            - 'null'
            items:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: integer
                name:
                  type: string
                description:
                  type:
                  - string
                  - 'null'
          assignees:
            type:
            - array
            - 'null'
            items:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: integer
                login:
                  type: string
                type:
                  type: string
          api_url:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
          user_id:
            type:
            - integer
            - 'null'
          user_login:
            type:
            - string
            - 'null'
          user_type:
            type:
            - string
            - 'null'
          milestone_id:
            type:
            - integer
            - 'null'
          milestone_number:
            type:
            - integer
            - 'null'
          milestone_title:
            type:
            - string
            - 'null'
          assignee_id:
            type:
            - integer
            - 'null'
          assignee_login:
            type:
            - string
            - 'null'
          assignee_logins:
            type:
            - array
            - 'null'
            items:
              type: string
          label_names:
            type:
            - array
            - 'null'
            items:
              type: string
          is_pull_request:
            type:
            - boolean
            - 'null'
          pull_request_number:
            type:
            - integer
            - 'null'
  commits_stream:
    type: DeclarativeStream
    name: commits
    primary_key:
    - sha
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/commits"
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: commit_committer_date
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - author_id
        value: "{{ record.get('author', {}).get('id') if record.get('author') else None }}"
      - path:
        - author_login
        value: "{{ record.get('author', {}).get('login') if record.get('author') else None }}"
      - path:
        - committer_id
        value: "{{ record.get('committer', {}).get('id') if record.get('committer') else None }}"
      - path:
        - committer_login
        value: "{{ record.get('committer', {}).get('login') if record.get('committer') else None }}"
      - path:
        - commit_message
        value: "{{ record.get('commit', {}).get('message') }}"
      - path:
        - commit_author_name
        value: "{{ record.get('commit', {}).get('author', {}).get('name') }}"
      - path:
        - commit_author_email
        value: "{{ record.get('commit', {}).get('author', {}).get('email') }}"
      - path:
        - commit_author_date
        value: "{{ record.get('commit', {}).get('author', {}).get('date') }}"
      - path:
        - commit_committer_name
        value: "{{ record.get('commit', {}).get('committer', {}).get('name') }}"
      - path:
        - commit_committer_email
        value: "{{ record.get('commit', {}).get('committer', {}).get('email') }}"
      - path:
        - commit_committer_date
        value: "{{ record.get('commit', {}).get('committer', {}).get('date') }}"
      - path:
        - commit_comment_count
        value: "{{ record.get('commit', {}).get('comment_count') }}"
      - path:
        - commit_verified
        value: "{{ record.get('commit', {}).get('verification', {}).get('verified') }}"
      - path:
        - parent_shas
        value: "{{ record.get('parents', []) | map(attribute='sha') | list }}"
    - type: RemoveFields
      field_pointers:
      - - author
      - - comments_url
      - - commit
      - - committer
      - - parents
      - - url
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - sha
        - commit_committer_date
        properties:
          sha:
            type: string
          node_id:
            type:
            - string
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          api_url:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
          author_id:
            type:
            - integer
            - 'null'
          author_login:
            type:
            - string
            - 'null'
          committer_id:
            type:
            - integer
            - 'null'
          committer_login:
            type:
            - string
            - 'null'
          commit_message:
            type:
            - string
            - 'null'
          commit_author_name:
            type:
            - string
            - 'null'
          commit_author_email:
            type:
            - string
            - 'null'
          commit_author_date:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          commit_committer_name:
            type:
            - string
            - 'null'
          commit_committer_email:
            type:
            - string
            - 'null'
          commit_committer_date:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          commit_comment_count:
            type:
            - integer
            - 'null'
          commit_verified:
            type:
            - boolean
            - 'null'
          parent_shas:
            type:
            - array
            - 'null'
            items:
              type: string
  comments_stream:
    type: DeclarativeStream
    name: comments
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/issues/comments"
        request_parameters:
          sort: updated
          direction: asc
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - user_id
        value: "{{ record.get('user', {}).get('id') }}"
      - path:
        - user_login
        value: "{{ record.get('user', {}).get('login') }}"
      - path:
        - user_type
        value: "{{ record.get('user', {}).get('type') }}"
      - path:
        - issue_number
        value: "{{ record.get('issue_url', '').split('/')[-1] if record.get('issue_url') else None }}"
    - type: RemoveFields
      field_pointers:
      - - issue_url
      - - minimized
      - - performed_via_github_app
      - - pin
      - - reactions
      - - url
      - - user
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        - updated_at
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          body:
            type:
            - string
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated_at:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          author_association:
            type:
            - string
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          api_url:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
          user_id:
            type:
            - integer
            - 'null'
          user_login:
            type:
            - string
            - 'null'
          user_type:
            type:
            - string
            - 'null'
          issue_number:
            type:
            - integer
            - 'null'
  review_comments_stream:
    type: DeclarativeStream
    name: review_comments
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/pulls/comments"
        request_parameters:
          sort: updated
          direction: asc
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - user_id
        value: "{{ record.get('user', {}).get('id') }}"
      - path:
        - user_login
        value: "{{ record.get('user', {}).get('login') }}"
      - path:
        - user_type
        value: "{{ record.get('user', {}).get('type') }}"
      - path:
        - pull_request_number
        value: "{{ record.get('pull_request_url', '').split('/')[-1] if record.get('pull_request_url') else None }}"
    - type: RemoveFields
      field_pointers:
      - - _links
      - - pull_request_url
      - - reactions
      - - url
      - - user
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        - updated_at
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          pull_request_review_id:
            type:
            - integer
            - 'null'
          diff_hunk:
            type:
            - string
            - 'null'
          path:
            type:
            - string
            - 'null'
          commit_id:
            type:
            - string
            - 'null'
          original_commit_id:
            type:
            - string
            - 'null'
          body:
            type:
            - string
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated_at:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          html_url:
            type:
            - string
            - 'null'
          line:
            type:
            - integer
            - 'null'
          original_line:
            type:
            - integer
            - 'null'
          start_line:
            type:
            - integer
            - 'null'
          original_start_line:
            type:
            - integer
            - 'null'
          side:
            type:
            - string
            - 'null'
          start_side:
            type:
            - string
            - 'null'
          position:
            type:
            - integer
            - 'null'
          original_position:
            type:
            - integer
            - 'null'
          subject_type:
            type:
            - string
            - 'null'
          author_association:
            type:
            - string
            - 'null'
          in_reply_to_id:
            type:
            - integer
            - 'null'
          api_url:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
          user_id:
            type:
            - integer
            - 'null'
          user_login:
            type:
            - string
            - 'null'
          user_type:
            type:
            - string
            - 'null'
          pull_request_number:
            type:
            - integer
            - 'null'
  reviews_stream:
    type: DeclarativeStream
    name: reviews
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.extra_fields.repository }}/pulls/{{ stream_slice.pull_request_number }}/reviews"
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          stream:
            $ref: '#/definitions/pull_requests_stream'
          parent_key: number
          partition_field: pull_request_number
          extra_fields:
          - - repository
    transformations:
    - type: AddFields
      fields:
      - path:
        - repository
        value: "{{ stream_slice.extra_fields.repository }}"
      - path:
        - pull_request_number
        value: "{{ stream_slice.pull_request_number }}"
      - path:
        - user_id
        value: "{{ record.get('user', {}).get('id') }}"
      - path:
        - user_login
        value: "{{ record.get('user', {}).get('login') }}"
      - path:
        - user_type
        value: "{{ record.get('user', {}).get('type') }}"
    - type: RemoveFields
      field_pointers:
      - - _links
      - - pull_request_url
      - - user
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          body:
            type:
            - string
            - 'null'
          state:
            type:
            - string
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          author_association:
            type:
            - string
            - 'null'
          submitted_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          commit_id:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
          pull_request_number:
            type:
            - integer
            - 'null'
          user_id:
            type:
            - integer
            - 'null'
          user_login:
            type:
            - string
            - 'null'
          user_type:
            type:
            - string
            - 'null'
  stargazers_stream:
    type: DeclarativeStream
    name: stargazers
    primary_key:
    - user_id
    - repository
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/stargazers"
        request_headers:
          Accept: application/vnd.github.star+json
          X-GitHub-Api-Version: '2022-11-28'
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: starred_at
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      is_client_side_incremental: true
    transformations:
    - type: AddFields
      fields:
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - user_id
        value: "{{ record.get('user', {}).get('id') }}"
      - path:
        - user_login
        value: "{{ record.get('user', {}).get('login') }}"
      - path:
        - user_type
        value: "{{ record.get('user', {}).get('type') }}"
    - type: RemoveFields
      field_pointers:
      - - user
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - starred_at
        properties:
          starred_at:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          repository:
            type:
            - string
            - 'null'
          user_id:
            type:
            - integer
            - 'null'
          user_login:
            type:
            - string
            - 'null'
          user_type:
            type:
            - string
            - 'null'
  branches_stream:
    type: DeclarativeStream
    name: branches
    primary_key:
    - repository
    - name
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/branches"
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    transformations:
    - type: AddFields
      fields:
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - commit_sha
        value: "{{ record.get('commit', {}).get('sha') }}"
    - type: RemoveFields
      field_pointers:
      - - commit
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - name
        properties:
          name:
            type: string
          protected:
            type:
            - boolean
            - 'null'
          repository:
            type:
            - string
            - 'null'
          commit_sha:
            type:
            - string
            - 'null'
  tags_stream:
    type: DeclarativeStream
    name: tags
    primary_key:
    - repository
    - name
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/tags"
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    transformations:
    - type: AddFields
      fields:
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - commit_sha
        value: "{{ record.get('commit', {}).get('sha') }}"
    - type: RemoveFields
      field_pointers:
      - - commit
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - name
        properties:
          name:
            type: string
          node_id:
            type:
            - string
            - 'null'
          zipball_url:
            type:
            - string
            - 'null'
          tarball_url:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
          commit_sha:
            type:
            - string
            - 'null'
  releases_stream:
    type: DeclarativeStream
    name: releases
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: '#/definitions/selector'
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/releases"
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      is_client_side_incremental: true
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
      - path:
        - author_id
        value: "{{ record.get('author', {}).get('id') if record.get('author') else None }}"
      - path:
        - author_login
        value: "{{ record.get('author', {}).get('login') if record.get('author') else None }}"
    - type: RemoveFields
      field_pointers:
      - - assets
      - - assets_url
      - - author
      - - reactions
      - - upload_url
      - - url
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        - updated_at
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          tag_name:
            type:
            - string
            - 'null'
          target_commitish:
            type:
            - string
            - 'null'
          name:
            type:
            - string
            - 'null'
          draft:
            type:
            - boolean
            - 'null'
          immutable:
            type:
            - boolean
            - 'null'
          prerelease:
            type:
            - boolean
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated_at:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          published_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          tarball_url:
            type:
            - string
            - 'null'
          zipball_url:
            type:
            - string
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          body:
            type:
            - string
            - 'null'
          api_url:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
          author_id:
            type:
            - integer
            - 'null'
          author_login:
            type:
            - string
            - 'null'
  workflows_stream:
    type: DeclarativeStream
    name: workflows
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - workflows
        schema_normalization: Default
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/actions/workflows"
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      is_client_side_incremental: true
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
    - type: RemoveFields
      field_pointers:
      - - url
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        - updated_at
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          name:
            type:
            - string
            - 'null'
          path:
            type:
            - string
            - 'null'
          state:
            type:
            - string
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated_at:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          html_url:
            type:
            - string
            - 'null'
          badge_url:
            type:
            - string
            - 'null'
          api_url:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
  workflow_runs_stream:
    type: DeclarativeStream
    name: workflow_runs
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - workflow_runs
        schema_normalization: Default
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.repository }}/actions/runs"
        request_parameters:
          created: "{{ '>=' ~ stream_interval.start_time }}"
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        $ref: '#/definitions/repository_partition_router'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%SZ'
      - '%Y-%m-%dT%H:%M:%S%z'
      - '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime: "{{ config.get('start_date', '2010-01-01T00:00:00Z') }}"
      is_client_side_incremental: true
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository_id
        value: "{{ record.get('repository', {}).get('id') if record.get('repository') else None }}"
      - path:
        - head_repository_id
        value: "{{ record.get('head_repository', {}).get('id') if record.get('head_repository') else None }}"
      - path:
        - head_repository_full_name
        value: "{{ record.get('head_repository', {}).get('full_name') if record.get('head_repository') else None }}"
      - path:
        - actor_id
        value: "{{ record.get('actor', {}).get('id') if record.get('actor') else None }}"
      - path:
        - actor_login
        value: "{{ record.get('actor', {}).get('login') if record.get('actor') else None }}"
      - path:
        - triggering_actor_id
        value: "{{ record.get('triggering_actor', {}).get('id') if record.get('triggering_actor') else None }}"
      - path:
        - triggering_actor_login
        value: "{{ record.get('triggering_actor', {}).get('login') if record.get('triggering_actor') else None }}"
      - path:
        - head_commit_message
        value: "{{ record.get('head_commit', {}).get('message') if record.get('head_commit') else None }}"
      - path:
        - head_commit_timestamp
        value: "{{ record.get('head_commit', {}).get('timestamp') if record.get('head_commit') else None }}"
      - path:
        - repository
        value: "{{ stream_slice.repository }}"
    - type: RemoveFields
      field_pointers:
      - - actor
      - - artifacts_url
      - - cancel_url
      - - check_suite_node_id
      - - check_suite_url
      - - head_commit
      - - head_repository
      - - jobs_url
      - - logs_url
      - - previous_attempt_url
      - - pull_requests
      - - referenced_workflows
      - - rerun_url
      - - triggering_actor
      - - url
      - - workflow_url
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        - updated_at
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          name:
            type:
            - string
            - 'null'
          head_branch:
            type:
            - string
            - 'null'
          head_sha:
            type:
            - string
            - 'null'
          path:
            type:
            - string
            - 'null'
          display_title:
            type:
            - string
            - 'null'
          run_number:
            type:
            - integer
            - 'null'
          event:
            type:
            - string
            - 'null'
          status:
            type:
            - string
            - 'null'
          conclusion:
            type:
            - string
            - 'null'
          workflow_id:
            type:
            - integer
            - 'null'
          check_suite_id:
            type:
            - integer
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated_at:
            type: string
            format: date-time
            airbyte_type: timestamp_with_timezone
          run_started_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          run_attempt:
            type:
            - integer
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          api_url:
            type:
            - string
            - 'null'
          repository_id:
            type:
            - integer
            - 'null'
          head_repository_id:
            type:
            - integer
            - 'null'
          head_repository_full_name:
            type:
            - string
            - 'null'
          actor_id:
            type:
            - integer
            - 'null'
          actor_login:
            type:
            - string
            - 'null'
          triggering_actor_id:
            type:
            - integer
            - 'null'
          triggering_actor_login:
            type:
            - string
            - 'null'
          head_commit_message:
            type:
            - string
            - 'null'
          head_commit_timestamp:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          repository:
            type:
            - string
            - 'null'
  workflow_jobs_stream:
    type: DeclarativeStream
    name: workflow_jobs
    primary_key:
    - id
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - jobs
        schema_normalization: Default
      requester:
        $ref: '#/definitions/requester'
        path: "/repos/{{ stream_slice.extra_fields.repository }}/actions/runs/{{ stream_slice.run_id }}/jobs"
      paginator:
        $ref: '#/definitions/paginator'
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          stream:
            $ref: '#/definitions/workflow_runs_stream'
          parent_key: id
          partition_field: run_id
          extra_fields:
          - - repository
    transformations:
    - type: AddFields
      fields:
      - path:
        - api_url
        value: "{{ record.get('url') }}"
      - path:
        - repository
        value: "{{ stream_slice.extra_fields.repository }}"
      - path:
        - runner_labels
        value: "{{ record.get('labels', []) }}"
    - type: RemoveFields
      field_pointers:
      - - check_run_url
      - - labels
      - - run_url
      - - url
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: false
        required:
        - id
        properties:
          id:
            type: integer
          node_id:
            type:
            - string
            - 'null'
          run_id:
            type:
            - integer
            - 'null'
          run_attempt:
            type:
            - integer
            - 'null'
          head_branch:
            type:
            - string
            - 'null'
          head_sha:
            type:
            - string
            - 'null'
          status:
            type:
            - string
            - 'null'
          conclusion:
            type:
            - string
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          started_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          completed_at:
            type:
            - string
            - 'null'
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
            - string
            - 'null'
          workflow_name:
            type:
            - string
            - 'null'
          html_url:
            type:
            - string
            - 'null'
          runner_id:
            type:
            - integer
            - 'null'
          runner_name:
            type:
            - string
            - 'null'
          runner_group_id:
            type:
            - integer
            - 'null'
          runner_group_name:
            type:
            - string
            - 'null'
          steps:
            type:
            - array
            - 'null'
            items:
              type: object
              additionalProperties: false
              properties:
                number:
                  type: integer
                name:
                  type: string
                status:
                  type: string
                conclusion:
                  type:
                  - string
                  - 'null'
                started_at:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  airbyte_type: timestamp_with_timezone
                completed_at:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  airbyte_type: timestamp_with_timezone
          api_url:
            type:
            - string
            - 'null'
          repository:
            type:
            - string
            - 'null'
          runner_labels:
            type:
            - array
            - 'null'
            items:
              type: string
streams:
- $ref: '#/definitions/repositories_stream'
- $ref: '#/definitions/pull_requests_stream'
- $ref: '#/definitions/issues_stream'
- $ref: '#/definitions/commits_stream'
- $ref: '#/definitions/comments_stream'
- $ref: '#/definitions/review_comments_stream'
- $ref: '#/definitions/reviews_stream'
- $ref: '#/definitions/stargazers_stream'
- $ref: '#/definitions/branches_stream'
- $ref: '#/definitions/tags_stream'
- $ref: '#/definitions/releases_stream'
- $ref: '#/definitions/workflows_stream'
- $ref: '#/definitions/workflow_runs_stream'
- $ref: '#/definitions/workflow_jobs_stream'
spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/github-gen2
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: GitHub (Beta, Gen-2)
    type: object
    required:
    - access_token
    - repositories
    additionalProperties: false
    properties:
      access_token:
        type: string
        title: Personal Access Token
        description: GitHub Personal Access Token with repo scope.
        airbyte_secret: true
        order: 0
      repositories:
        type: array
        title: Repositories
        description: List of GitHub repositories in owner/repo format.
        items:
          type: string
        examples:
        - airbytehq/airbyte
        - airbytehq/integration-test
        order: 1
      start_date:
        type: string
        title: Start Date
        description: Start date for incremental streams (ISO 8601). Defaults to 2010-01-01.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
        - '2024-01-01T00:00:00Z'
        order: 2
        format: date-time
      api_url:
        type: string
        title: API URL
        description: Base URL of the GitHub REST API. Override for GitHub Enterprise Server, including the API path prefix.
        default: https://api.github.com
        examples:
        - https://api.github.com
        - https://github.example.com/api/v3
        order: 3
