version: 0.40.5
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - contacts (incremental)
streams:
  - type: DeclarativeStream
    name: contacts (incremental)
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          avatar:
            type:
              - 'null'
              - string
          browser:
            type:
              - 'null'
              - string
          browser_language:
            type:
              - 'null'
              - string
          browser_version:
            type:
              - 'null'
              - string
          companies:
            properties:
              data:
                items:
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    url:
                      type: string
                  type: object
                type: array
              has_more:
                type: boolean
              total_count:
                type: number
              type:
                type: string
              url:
                type: string
            type: object
          created_at:
            type: number
          custom_attributes:
            properties: {}
            type: object
          email:
            type:
              - 'null'
              - string
          external_id:
            type: string
          has_hard_bounced:
            type: boolean
          id:
            type: string
          last_contacted_at:
            type:
              - 'null'
              - number
          last_replied_at:
            type:
              - 'null'
              - number
          last_seen_at:
            type:
              - 'null'
              - number
          location:
            properties:
              city:
                type:
                  - 'null'
                  - string
              country:
                type:
                  - 'null'
                  - string
              region:
                type:
                  - 'null'
                  - string
              type:
                type: string
            type: object
          marked_email_as_spam:
            type: boolean
          name:
            type:
              - 'null'
              - string
          notes:
            properties:
              data:
                type: array
              has_more:
                type: boolean
              total_count:
                type: number
              type:
                type: string
              url:
                type: string
            type: object
          os:
            type:
              - 'null'
              - string
          phone:
            type:
              - 'null'
              - string
          role:
            type: string
          signed_up_at:
            type:
              - 'null'
              - number
          sms_consent:
            type: boolean
          social_profiles:
            properties:
              data:
                type: array
              type:
                type: string
            type: object
          tags:
            properties:
              data:
                items:
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    url:
                      type: string
                  type: object
                type: array
              has_more:
                type: boolean
              total_count:
                type: number
              type:
                type: string
              url:
                type: string
            type: object
          type:
            type: string
          unsubscribed_from_emails:
            type: boolean
          unsubscribed_from_sms:
            type: boolean
          updated_at:
            type: number
          workspace_id:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: contacts/search
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json:
          query:
            value:
              - operator: OR
                value:
                  - field: updated_at
                    operator: '='
                    value: '{{ stream_slice[''end_time''] }}'
                  - field: updated_at
                    operator: <
                    value: '{{ stream_slice[''end_time''] }}'
              - operator: OR
                value:
                  - field: updated_at
                    operator: '='
                    value: '{{ stream_slice[''start_time''] }}'
                  - field: updated_at
                    operator: '>'
                    value: '{{ stream_slice[''start_time''] }}'
            operator: AND
          sort:
            field: updated_at
            order: ascending
          pagination:
            per_page: '{{ parameters.get(''page_size'') }}'
            page: '{{ next_page_token.get(''next_page_token'').get(''page'') }}'
            starting_after: '{{ next_page_token.get(''next_page_token'').get(''starting_after'') }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: noop
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{response.get(''pages'', {}).get(''next'')}}'
          stop_condition: '"{{ ''next'' not in response.get(''pages'', {}) }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      datetime_format: '%s'
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
  - type: DeclarativeStream
    name: admins (full refresh)
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          away_mode_enabled:
            type: boolean
          away_mode_reassign:
            type: boolean
          email:
            type: string
          has_inbox_seat:
            type: boolean
          id:
            type: string
          job_title:
            type: string
          name:
            type: string
          team_ids:
            items:
              type: number
            type: array
          team_priority_level:
            properties:
              primary_team_ids:
                items:
                  type: number
                type: array
            type: object
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: admins
        http_method: GET
        request_parameters: {}
        request_headers:
          Intercom-Version: '2.9'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - admins
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 100
  - type: DeclarativeStream
    name: companies (requires semi-incremental)
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          app_id:
            type: string
          company_id:
            type: string
          created_at:
            type: number
          custom_attributes:
            properties:
              creation_source:
                type: string
            type: object
          id:
            type: string
          industry:
            type: string
          monthly_spend:
            type: number
          name:
            type: string
          plan:
            type: object
          segments:
            properties:
              segments:
                type: array
              type:
                type: string
            type: object
          session_count:
            type: number
          size:
            type: number
          tags:
            properties:
              tags:
                items:
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
              type:
                type: string
            type: object
          type:
            type: string
          updated_at:
            type: number
          user_count:
            type: number
          website:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: companies/list
        http_method: POST
        request_parameters:
          order: asc
        request_headers:
          Intercom-Version: '2.9'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 50
  - type: DeclarativeStream
    name: company_attributes (full refresh)
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          api_writable:
            type: boolean
          archived:
            type: boolean
          created_at:
            type: number
          custom:
            type: boolean
          data_type:
            type: string
          description:
            type: string
          full_name:
            type: string
          id:
            type: number
          label:
            type: string
          model:
            type: string
          name:
            type: string
          type:
            type: string
          ui_writable:
            type: boolean
          updated_at:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: data_attributes
        http_method: GET
        request_parameters:
          model: company
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 15
          page_size: 1
  - type: DeclarativeStream
    name: company_segments (full refresh)
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          created_at:
            type: number
          id:
            type: string
          name:
            type: string
          person_type:
            type: string
          type:
            type: string
          updated_at:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: '"/companies/{{ stream_slice[''parent_id''] }}/segments"'
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 15
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                type: DeclarativeStream
                name: companies (requires semi-incremental)
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/schema#
                    properties:
                      app_id:
                        type: string
                      company_id:
                        type: string
                      created_at:
                        type: number
                      custom_attributes:
                        properties:
                          creation_source:
                            type: string
                        type: object
                      id:
                        type: string
                      industry:
                        type: string
                      monthly_spend:
                        type: number
                      name:
                        type: string
                      plan:
                        type: object
                      segments:
                        properties:
                          segments:
                            type: array
                          type:
                            type: string
                        type: object
                      session_count:
                        type: number
                      size:
                        type: number
                      tags:
                        properties:
                          tags:
                            items:
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                type:
                                  type: string
                              type: object
                            type: array
                          type:
                            type: string
                        type: object
                      type:
                        type: string
                      updated_at:
                        type: number
                      user_count:
                        type: number
                      website:
                        type: string
                    type: object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.intercom.io/
                    path: companies/list
                    http_method: POST
                    request_parameters:
                      order: asc
                    request_headers:
                      Intercom-Version: '2.9'
                    authenticator:
                      type: BearerAuthenticator
                      api_token: '{{ config[''api_key''] }}'
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestOption
                      inject_into: request_parameter
                      field_name: page
                    page_size_option:
                      inject_into: request_parameter
                      field_name: per_page
                      type: RequestOption
                    pagination_strategy:
                      type: PageIncrement
                      start_from_page: 1
                      page_size: 50
  - type: DeclarativeStream
    name: contact_attributes (full refresh)
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          api_writable:
            type: boolean
          archived:
            type: boolean
          created_at:
            type: number
          custom:
            type: boolean
          data_type:
            type: string
          description:
            type: string
          full_name:
            type: string
          id:
            type: number
          label:
            type: string
          model:
            type: string
          name:
            type: string
          type:
            type: string
          ui_writable:
            type: boolean
          updated_at:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: data_attributes
        http_method: GET
        request_parameters:
          model: company
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 15
          page_size: 1
  - type: DeclarativeStream
    name: conversations (incremental)
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          admin_assignee_id:
            type:
              - 'null'
              - number
          contacts:
            properties:
              contacts:
                items:
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
              type:
                type: string
            type: object
          created_at:
            type: number
          first_contact_reply:
            properties:
              created_at:
                type: number
              type:
                type: string
              url:
                type: string
            type:
              - object
              - 'null'
          id:
            type: string
          open:
            type: boolean
          priority:
            type: string
          read:
            type: boolean
          source:
            properties:
              attachments:
                type: array
              author:
                properties:
                  email:
                    type: string
                  id:
                    type: string
                  name:
                    type:
                      - 'null'
                      - string
                  type:
                    type: string
                type: object
              body:
                type: string
              delivered_as:
                type: string
              id:
                type: string
              redacted:
                type: boolean
              subject:
                type: string
              type:
                type: string
              url:
                type:
                  - 'null'
                  - string
            type: object
          state:
            type: string
          statistics:
            properties:
              count_assignments:
                type: number
              count_conversation_parts:
                type: number
              count_reopens:
                type: number
              first_admin_reply_at:
                type:
                  - 'null'
                  - number
              first_contact_reply_at:
                type:
                  - 'null'
                  - number
              last_admin_reply_at:
                type:
                  - 'null'
                  - number
              last_contact_reply_at:
                type:
                  - 'null'
                  - number
              median_time_to_reply:
                type:
                  - 'null'
                  - number
              time_to_admin_reply:
                type:
                  - 'null'
                  - number
              type:
                type: string
            type: object
          tags:
            properties:
              tags:
                type: array
              type:
                type: string
            type: object
          teammates:
            properties:
              admins:
                items:
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
              type:
                type: string
            type: object
          title:
            type:
              - 'null'
              - string
          type:
            type: string
          updated_at:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: conversations/search
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json:
          query:
            value:
              - operator: OR
                value:
                  - field: updated_at
                    operator: '='
                    value: '{{ stream_slice[''end_time''] }}'
                  - field: updated_at
                    operator: <
                    value: '{{ stream_slice[''end_time''] }}'
              - operator: OR
                value:
                  - field: updated_at
                    operator: '='
                    value: '{{ stream_slice[''start_time''] }}'
                  - field: updated_at
                    operator: '>'
                    value: '{{ stream_slice[''start_time''] }}'
            operator: AND
          sort:
            field: updated_at
            order: ascending
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - conversations
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: noop
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{response.get(''pages'', {}).get(''next'')}}'
          stop_condition: '"{{ ''next'' not in response.get(''pages'', {}) }}"'
    incremental_sync:
      type: DatetimeBasedCursor
      datetime_format: '%s'
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
  - type: DeclarativeStream
    name: conversation_parts
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          admin_assignee_id:
            type:
              - 'null'
              - number
          contacts:
            properties:
              contacts:
                items:
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
              type:
                type: string
            type: object
          conversation_parts:
            properties:
              conversation_parts:
                items:
                  properties:
                    assigned_to:
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                      type:
                        - object
                        - 'null'
                    attachments:
                      type: array
                    author:
                      properties:
                        email:
                          type: string
                        id:
                          type: string
                        name:
                          type:
                            - 'null'
                            - string
                        type:
                          type: string
                      type: object
                    body:
                      type:
                        - 'null'
                        - string
                    created_at:
                      type: number
                    id:
                      type: string
                    notified_at:
                      type: number
                    part_type:
                      type: string
                    redacted:
                      type: boolean
                    type:
                      type: string
                    updated_at:
                      type: number
                  type: object
                type: array
              total_count:
                type: number
              type:
                type: string
            type: object
          created_at:
            type: number
          first_contact_reply:
            properties:
              created_at:
                type: number
              type:
                type: string
              url:
                type: string
            type:
              - object
              - 'null'
          id:
            type: string
          open:
            type: boolean
          priority:
            type: string
          read:
            type: boolean
          source:
            properties:
              attachments:
                type: array
              author:
                properties:
                  email:
                    type: string
                  id:
                    type: string
                  name:
                    type:
                      - 'null'
                      - string
                  type:
                    type: string
                type: object
              body:
                type: string
              delivered_as:
                type: string
              id:
                type: string
              redacted:
                type: boolean
              subject:
                type: string
              type:
                type: string
              url:
                type:
                  - 'null'
                  - string
            type: object
          state:
            type: string
          statistics:
            properties:
              count_assignments:
                type: number
              count_conversation_parts:
                type: number
              count_reopens:
                type: number
              first_admin_reply_at:
                type:
                  - 'null'
                  - number
              first_contact_reply_at:
                type:
                  - 'null'
                  - number
              last_admin_reply_at:
                type:
                  - 'null'
                  - number
              last_contact_reply_at:
                type:
                  - 'null'
                  - number
              median_time_to_reply:
                type:
                  - 'null'
                  - number
              time_to_admin_reply:
                type:
                  - 'null'
                  - number
              type:
                type: string
            type: object
          tags:
            properties:
              tags:
                type: array
              type:
                type: string
            type: object
          teammates:
            properties:
              admins:
                items:
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
              type:
                type: string
            type: object
          title:
            type:
              - 'null'
              - string
          type:
            type: string
          updated_at:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: /conversations/{{ stream_slice['parent_id'] }}
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                type: DeclarativeStream
                name: conversations (incremental)
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/schema#
                    properties:
                      admin_assignee_id:
                        type:
                          - 'null'
                          - number
                      contacts:
                        properties:
                          contacts:
                            items:
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                              type: object
                            type: array
                          type:
                            type: string
                        type: object
                      created_at:
                        type: number
                      first_contact_reply:
                        properties:
                          created_at:
                            type: number
                          type:
                            type: string
                          url:
                            type: string
                        type:
                          - object
                          - 'null'
                      id:
                        type: string
                      open:
                        type: boolean
                      priority:
                        type: string
                      read:
                        type: boolean
                      source:
                        properties:
                          attachments:
                            type: array
                          author:
                            properties:
                              email:
                                type: string
                              id:
                                type: string
                              name:
                                type:
                                  - 'null'
                                  - string
                              type:
                                type: string
                            type: object
                          body:
                            type: string
                          delivered_as:
                            type: string
                          id:
                            type: string
                          redacted:
                            type: boolean
                          subject:
                            type: string
                          type:
                            type: string
                          url:
                            type:
                              - 'null'
                              - string
                        type: object
                      state:
                        type: string
                      statistics:
                        properties:
                          count_assignments:
                            type: number
                          count_conversation_parts:
                            type: number
                          count_reopens:
                            type: number
                          first_admin_reply_at:
                            type:
                              - 'null'
                              - number
                          first_contact_reply_at:
                            type:
                              - 'null'
                              - number
                          last_admin_reply_at:
                            type:
                              - 'null'
                              - number
                          last_contact_reply_at:
                            type:
                              - 'null'
                              - number
                          median_time_to_reply:
                            type:
                              - 'null'
                              - number
                          time_to_admin_reply:
                            type:
                              - 'null'
                              - number
                          type:
                            type: string
                        type: object
                      tags:
                        properties:
                          tags:
                            type: array
                          type:
                            type: string
                        type: object
                      teammates:
                        properties:
                          admins:
                            items:
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                              type: object
                            type: array
                          type:
                            type: string
                        type: object
                      title:
                        type:
                          - 'null'
                          - string
                      type:
                        type: string
                      updated_at:
                        type: number
                    type: object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.intercom.io/
                    path: conversations/search
                    http_method: POST
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: BearerAuthenticator
                      api_token: '{{ config[''api_key''] }}'
                    request_body_json:
                      query:
                        value:
                          - operator: OR
                            value:
                              - field: updated_at
                                operator: '='
                                value: '{{ stream_slice[''end_time''] }}'
                              - field: updated_at
                                operator: <
                                value: '{{ stream_slice[''end_time''] }}'
                          - operator: OR
                            value:
                              - field: updated_at
                                operator: '='
                                value: '{{ stream_slice[''start_time''] }}'
                              - field: updated_at
                                operator: '>'
                                value: '{{ stream_slice[''start_time''] }}'
                        operator: AND
                      sort:
                        field: updated_at
                        order: ascending
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - conversations
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestOption
                      inject_into: request_parameter
                      field_name: noop
                    pagination_strategy:
                      type: CursorPagination
                      cursor_value: '{{response.get(''pages'', {}).get(''next'')}}'
                      stop_condition: '"{{ ''next'' not in response.get(''pages'', {}) }}"'
                incremental_sync:
                  type: DatetimeBasedCursor
                  datetime_format: '%s'
                  cursor_field: updated_at
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: '{{ config[''start_date''] }}'
                    datetime_format: '%Y-%m-%dT%H:%M:%SZ'
                  end_datetime:
                    type: MinMaxDatetime
                    datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
                    datetime_format: '%Y-%m-%dT%H:%M:%SZ'
  - type: DeclarativeStream
    name: segments (requires semi-incremental)
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          created_at:
            type: number
          id:
            type: string
          name:
            type: string
          person_type:
            type: string
          type:
            type: string
          updated_at:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: segments
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - segments
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 50
  - type: DeclarativeStream
    name: tags (full refresh)
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          name:
            type: string
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: tags
        http_method: GET
        request_parameters: {}
        request_headers:
          Intercom-Version: '2.9'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 100
  - type: DeclarativeStream
    name: teams (full refresh)
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          admin_ids:
            items:
              type: number
            type: array
          id:
            type: string
          name:
            type: string
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.intercom.io/
        path: teams
        http_method: GET
        request_parameters: {}
        request_headers:
          Intercom-Version: '2.9'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - teams
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: per_page
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 100
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - start_date
      - api_key
    properties:
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 0
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 1
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec
metadata:
  autoImportSchema:
    contacts (incremental): true
    admins (full refresh): true
    companies (requires semi-incremental): true
    company_attributes (full refresh): true
    company_segments (full refresh): true
    contact_attributes (full refresh): true
    conversations (incremental): true
    conversation_parts: true
    segments (requires semi-incremental): true
    tags (full refresh): true
    teams (full refresh): true
