@use "../../../../../../scss/colors";

.button {
  padding: 20px 28px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  background: colors.$white;
  border-radius: 10px;
  box-shadow: 0 2px 4px colors.$shadowColor;
  border: none;
}

.iconColor {
  color: colors.$blue-400;
}
