$white: #fff;
$shadowColor: rgb(26 25 77 / 12%);

.button {
  padding: 20px 28px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;

  width: 100%;
  background: $white;
  border-radius: 10px;
  box-shadow: 0 2px 4px $shadowColor;
  border: none;
}

.iconColor {
  color: #615eff;
}
