.sectionTitle {
  display: flex;
}

.sectionTitleDropdown {
  flex: 1 1 auto;
}

.groupLabel {
  width: auto;
  margin-right: 8px;
  padding-top: 8px;
  display: inline-block;
  padding-bottom: 0px;
  vertical-align: middle;
}

.conditionControls {
  padding-top: 20px;
}
