.switchLabel {
  label {
    // don't want bottom padding for switch label, since it is to the right of the switch
    padding-bottom: 0;
    cursor: pointer;
  }
}

.defaultLabel {
  display: flex;
  flex-direction: column;
}
