version: 5.12.0

type: DeclarativeSource

description: >-
  This is the setup for the Concord source which ingests data from the concord
  API.


  Concord turns contract data into financial insights. Sign, store and search
  unlimited contracts https://www.concord.app/


  In order to use this source, you must first create a concord account and log
  in. Then navigate to Automations -> Integrations -> Concord API -> Generate
  New Key to obtain your API key.


  The API is accessible from two environments, sandbox and production. You can
  learn more about the API here https://api.doc.concordnow.com/

check:
  type: CheckStream
  stream_names:
    - agreements

definitions:
  streams:
    tags:
      type: DeclarativeStream
      name: tags
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tags
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    folders:
      type: DeclarativeStream
      name: folders
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations/{{stream_partition.parent_id}}/folders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/user_organizations"
              parent_key: id
              partition_field: parent_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folders"
    reports:
      type: DeclarativeStream
      name: reports
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: numberOfItemsByPage
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 0
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations/{{stream_partition.parent_id}}/reports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reports
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/user_organizations"
              parent_key: id
              partition_field: parent_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports"
    agreements:
      type: DeclarativeStream
      name: agreements
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 0
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations/{{stream_partition.parent_id}}/agreements
          http_method: GET
          request_headers:
            organization: "{{ config[\"enviornment\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/user_organizations"
              parent_key: id
              partition_field: parent_id
      primary_key:
        - uid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agreements"
    organization:
      type: DeclarativeStream
      name: organization
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations/{{stream_partition.parent_id}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/user_organizations"
              parent_key: id
              partition_field: parent_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization"
    user_organizations:
      type: DeclarativeStream
      name: user_organizations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: user/me/organizations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - organizations
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_organizations"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config["enviornment"] }}.concordnow.com/api/rest/1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/agreements"
  - $ref: "#/definitions/streams/user_organizations"
  - $ref: "#/definitions/streams/organization"
  - $ref: "#/definitions/streams/folders"
  - $ref: "#/definitions/streams/reports"
  - $ref: "#/definitions/streams/tags"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - enviornment
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      enviornment:
        type: string
        description: The environment from where you want to access the API.
        enum:
          - uat
          - api
        name: organizationId
        order: 1
        title: enviornment
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://api.doc.concordnow.com/
    openapiSpecUrl: https://api.doc.concordnow.com/concord-openapi-bundled.yaml
  testedStreams:
    tags:
      hasRecords: true
      streamHash: 3b021475e77a08ee2b2d56d4285b7549ea19e86e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    folders:
      hasRecords: true
      streamHash: 0b145b3b6c5714e734330d58071fa6fc7bfb0360
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    reports:
      hasRecords: true
      streamHash: 49c37c8b9e51c5369fe6046e33e9f2d1e6bd583c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    agreements:
      hasRecords: true
      streamHash: 42e7ce03f1c9c4f96292e5803a895e9bfc1bc846
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    organization:
      hasRecords: true
      streamHash: 668db7651aecdc2f7114053735f6320b6b4870e4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    user_organizations:
      hasRecords: true
      streamHash: 7ec2840aa9e803910e71dedc972c993284f581ec
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    tags: true
    folders: false
    reports: false
    agreements: true
    organization: false
    user_organizations: true

schemas:
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      inAccessRule:
        type:
          - boolean
          - "null"
      organizationId:
        type:
          - number
          - "null"
    additionalProperties: true
  folders:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      access:
        type:
          - object
          - "null"
        properties:
          teams:
            type:
              - array
              - "null"
          users:
            type:
              - array
              - "null"
          invitations:
            type:
              - array
              - "null"
          allUserInOrganizationAccess:
            type:
              - boolean
              - "null"
      children:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            access:
              type:
                - object
                - "null"
              properties:
                teams:
                  type:
                    - array
                    - "null"
                users:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - number
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                      folderId:
                        type:
                          - number
                          - "null"
                      fullName:
                        type:
                          - string
                          - "null"
                      hasPicture:
                        type:
                          - boolean
                          - "null"
                invitations:
                  type:
                    - array
                    - "null"
                allUserInOrganizationAccess:
                  type:
                    - boolean
                    - "null"
            children:
              type:
                - array
                - "null"
            parentId:
              type:
                - number
                - "null"
            documentCount:
              type:
                - number
                - "null"
      documentCount:
        type:
          - number
          - "null"
    additionalProperties: true
  reports:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      filters:
        type:
          - object
          - "null"
        properties:
          endAt:
            type:
              - object
              - "null"
            properties:
              isWithinTheNext:
                type:
                  - string
                  - "null"
          parties:
            type:
              - array
              - "null"
          statuses:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          tagNames:
            type:
              - array
              - "null"
          createdAt:
            type:
              - object
              - "null"
            properties:
              isWithinTheLast:
                type:
                  - string
                  - "null"
          createdBy:
            type:
              - array
              - "null"
          modifiedAt:
            type:
              - object
              - "null"
            properties:
              isMoreThan:
                type:
                  - string
                  - "null"
          sharedWith:
            type:
              - array
              - "null"
          signatureDate:
            type:
              - object
              - "null"
            properties:
              isWithinTheLast:
                type:
                  - string
                  - "null"
      lastUpdatedAt:
        type:
          - number
          - "null"
    additionalProperties: true
  agreements:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - uid
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          read:
            type:
              - boolean
              - "null"
          tags:
            type:
              - array
              - "null"
          with:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          title:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          inboxed:
            type:
              - boolean
              - "null"
          trashed:
            type:
              - boolean
              - "null"
          createdAt:
            type:
              - number
              - "null"
          accessType:
            type:
              - string
              - "null"
          modifiedAt:
            type:
              - number
              - "null"
          properties:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                content:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          metadata:
                            type:
                              - object
                              - "null"
                            properties:
                              fullName:
                                type:
                                  - string
                                  - "null"
                          valueText:
                            type:
                              - string
                              - "null"
                          propertyValueId:
                            type:
                              - string
                              - "null"
                    propertyType:
                      type:
                        - string
                        - "null"
                propertyId:
                  type:
                    - string
                    - "null"
                propertyName:
                  type:
                    - string
                    - "null"
                propertySource:
                  type:
                    - string
                    - "null"
          summaryStatus:
            type:
              - string
              - "null"
          accessFromRole:
            type:
              - boolean
              - "null"
      uid:
        type: string
    additionalProperties: true
  organization:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      askForTags:
        type:
          - string
          - "null"
      contactInfos:
        type:
          - object
          - "null"
        properties:
          phoneCode:
            type:
              - number
              - "null"
          mobileCode:
            type:
              - number
              - "null"
      emailDomains:
        type:
          - array
          - "null"
      subscription:
        type:
          - string
          - "null"
      subsidiaries:
        type:
          - array
          - "null"
      adminOversight:
        type:
          - boolean
          - "null"
      allTagsVisible:
        type:
          - boolean
          - "null"
      whitelistedIps:
        type:
          - array
          - "null"
      passwordStrategy:
        type:
          - boolean
          - "null"
      canCollaboratorSign:
        type:
          - boolean
          - "null"
      signingAuthentications:
        type:
          - object
          - "null"
        properties:
          colleagues:
            type:
              - string
              - "null"
          thirdParties:
            type:
              - string
              - "null"
      sendContractWithDocument:
        type:
          - boolean
          - "null"
      sendInvitationWithDocument:
        type:
          - boolean
          - "null"
    additionalProperties: true
  user_organizations:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      user:
        type:
          - object
          - "null"
        properties:
          role:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              rights:
                type:
                  - object
                  - "null"
                properties:
                  orgCreate:
                    type:
                      - boolean
                      - "null"
                  orgUpdate:
                    type:
                      - boolean
                      - "null"
                  tagCreate:
                    type:
                      - boolean
                      - "null"
                  tagDelete:
                    type:
                      - boolean
                      - "null"
                  tagUpdate:
                    type:
                      - boolean
                      - "null"
                  fillFields:
                    type:
                      - boolean
                      - "null"
                  folderList:
                    type:
                      - boolean
                      - "null"
                  orgBilling:
                    type:
                      - boolean
                      - "null"
                  roleCreate:
                    type:
                      - boolean
                      - "null"
                  roleDelete:
                    type:
                      - boolean
                      - "null"
                  roleUpdate:
                    type:
                      - boolean
                      - "null"
                  tagListAll:
                    type:
                      - boolean
                      - "null"
                  groupCreate:
                    type:
                      - boolean
                      - "null"
                  groupDelete:
                    type:
                      - boolean
                      - "null"
                  groupUpdate:
                    type:
                      - boolean
                      - "null"
                  orgAddUsers:
                    type:
                      - boolean
                      - "null"
                  templateUse:
                    type:
                      - boolean
                      - "null"
                  folderCreate:
                    type:
                      - boolean
                      - "null"
                  folderDelete:
                    type:
                      - boolean
                      - "null"
                  folderUpdate:
                    type:
                      - boolean
                      - "null"
                  propertyList:
                    type:
                      - boolean
                      - "null"
                  contractAccess:
                    type:
                      - boolean
                      - "null"
                  contractCreate:
                    type:
                      - boolean
                      - "null"
                  contractDelete:
                    type:
                      - boolean
                      - "null"
                  contractUpdate:
                    type:
                      - boolean
                      - "null"
                  orgInviteUsers:
                    type:
                      - boolean
                      - "null"
                  orgRemoveUsers:
                    type:
                      - boolean
                      - "null"
                  propertyCreate:
                    type:
                      - boolean
                      - "null"
                  propertyDelete:
                    type:
                      - boolean
                      - "null"
                  propertyUpdate:
                    type:
                      - boolean
                      - "null"
                  templateCreate:
                    type:
                      - boolean
                      - "null"
                  templateDelete:
                    type:
                      - boolean
                      - "null"
                  templateUpdate:
                    type:
                      - boolean
                      - "null"
                  draftCommentAdd:
                    type:
                      - boolean
                      - "null"
                  negotiationSign:
                    type:
                      - boolean
                      - "null"
                  roleUpdateUsers:
                    type:
                      - boolean
                      - "null"
                  groupUpdateUsers:
                    type:
                      - boolean
                      - "null"
                  negotiationBreak:
                    type:
                      - boolean
                      - "null"
                  draftCommentReply:
                    type:
                      - boolean
                      - "null"
                  negotiationCreate:
                    type:
                      - boolean
                      - "null"
                  negotiationInvite:
                    type:
                      - boolean
                      - "null"
                  negotiationUpdate:
                    type:
                      - boolean
                      - "null"
                  orgAccessRuleView:
                    type:
                      - boolean
                      - "null"
                  accessAllAgreement:
                    type:
                      - boolean
                      - "null"
                  contractCreateBulk:
                    type:
                      - boolean
                      - "null"
                  templateCommentAdd:
                    type:
                      - boolean
                      - "null"
                  templateUpdateTags:
                    type:
                      - boolean
                      - "null"
                  contractAttachments:
                    type:
                      - boolean
                      - "null"
                  draftCommentResolve:
                    type:
                      - boolean
                      - "null"
                  draftWorkflowCreate:
                    type:
                      - boolean
                      - "null"
                  draftWorkflowDelete:
                    type:
                      - boolean
                      - "null"
                  draftWorkflowUpdate:
                    type:
                      - boolean
                      - "null"
                  orgAccessRuleModify:
                    type:
                      - boolean
                      - "null"
                  templateAttachments:
                    type:
                      - boolean
                      - "null"
                  templateUpdateUsers:
                    type:
                      - boolean
                      - "null"
                  negotiationUpdateOwn:
                    type:
                      - boolean
                      - "null"
                  orgAccessAllContract:
                    type:
                      - boolean
                      - "null"
                  orgAccessAllTemplate:
                    type:
                      - boolean
                      - "null"
                  templateCommentReply:
                    type:
                      - boolean
                      - "null"
                  negotiationAddComment:
                    type:
                      - boolean
                      - "null"
                  negotiationCommentAdd:
                    type:
                      - boolean
                      - "null"
                  negotiationAttachments:
                    type:
                      - boolean
                      - "null"
                  organizationClauseList:
                    type:
                      - boolean
                      - "null"
                  templateCommentResolve:
                    type:
                      - boolean
                      - "null"
                  templateWorkflowCreate:
                    type:
                      - boolean
                      - "null"
                  templateWorkflowDelete:
                    type:
                      - boolean
                      - "null"
                  templateWorkflowUpdate:
                    type:
                      - boolean
                      - "null"
                  negotiationCommentReply:
                    type:
                      - boolean
                      - "null"
                  orgAccessAllNegotiation:
                    type:
                      - boolean
                      - "null"
                  organizationClauseCreate:
                    type:
                      - boolean
                      - "null"
                  organizationClauseDelete:
                    type:
                      - boolean
                      - "null"
                  organizationClauseUpdate:
                    type:
                      - boolean
                      - "null"
                  organizationFieldItemGet:
                    type:
                      - boolean
                      - "null"
                  organizationWorkflowList:
                    type:
                      - boolean
                      - "null"
                  negotiationCommentResolve:
                    type:
                      - boolean
                      - "null"
                  negotiationUpdateMetadata:
                    type:
                      - boolean
                      - "null"
                  negotiationWorkflowCreate:
                    type:
                      - boolean
                      - "null"
                  negotiationWorkflowDelete:
                    type:
                      - boolean
                      - "null"
                  negotiationWorkflowUpdate:
                    type:
                      - boolean
                      - "null"
                  organizationWorkflowCreate:
                    type:
                      - boolean
                      - "null"
                  organizationWorkflowDelete:
                    type:
                      - boolean
                      - "null"
                  organizationWorkflowUpdate:
                    type:
                      - boolean
                      - "null"
                  organizationFieldItemCreate:
                    type:
                      - boolean
                      - "null"
                  organizationFieldItemDelete:
                    type:
                      - boolean
                      - "null"
                  organizationFieldItemUpdate:
                    type:
                      - boolean
                      - "null"
                  draftOrganizationWorkflowUse:
                    type:
                      - boolean
                      - "null"
                  negotiationUpdateFirstVersion:
                    type:
                      - boolean
                      - "null"
                  templateOrganizationWorkflowUse:
                    type:
                      - boolean
                      - "null"
                  negotiationOrganizationWorkflowUse:
                    type:
                      - boolean
                      - "null"
          features:
            type:
              - object
              - "null"
            properties:
              api:
                type:
                  - boolean
                  - "null"
              exports:
                type:
                  - object
                  - "null"
                properties:
                  simple:
                    type:
                      - boolean
                      - "null"
                  advanced:
                    type:
                      - boolean
                      - "null"
              reports:
                type:
                  - boolean
                  - "null"
              drafting:
                type:
                  - boolean
                  - "null"
              property:
                type:
                  - boolean
                  - "null"
              analytics:
                type:
                  - boolean
                  - "null"
              execution:
                type:
                  - boolean
                  - "null"
              signature:
                type:
                  - boolean
                  - "null"
              amendments:
                type:
                  - boolean
                  - "null"
              auditTrail:
                type:
                  - boolean
                  - "null"
              bulkUpload:
                type:
                  - boolean
                  - "null"
              userGroups:
                type:
                  - boolean
                  - "null"
              versioning:
                type:
                  - boolean
                  - "null"
              accessRules:
                type:
                  - boolean
                  - "null"
              customRoles:
                type:
                  - boolean
                  - "null"
              integrations:
                type:
                  - object
                  - "null"
                properties:
                  box:
                    type:
                      - boolean
                      - "null"
                  saml:
                    type:
                      - boolean
                      - "null"
                  gdrive:
                    type:
                      - boolean
                      - "null"
                  google:
                    type:
                      - boolean
                      - "null"
                  dropbox:
                    type:
                      - boolean
                      - "null"
                  hubspot:
                    type:
                      - boolean
                      - "null"
                  webhook:
                    type:
                      - boolean
                      - "null"
                  docusign:
                    type:
                      - boolean
                      - "null"
                  facebook:
                    type:
                      - boolean
                      - "null"
                  linkedin:
                    type:
                      - boolean
                      - "null"
                  salesforce:
                    type:
                      - boolean
                      - "null"
              subsidiaries:
                type:
                  - boolean
                  - "null"
              autoTemplates:
                type:
                  - boolean
                  - "null"
              clauseLibrary:
                type:
                  - boolean
                  - "null"
              whitelistedIp:
                type:
                  - boolean
                  - "null"
              adminOversight:
                type:
                  - boolean
                  - "null"
              customBranding:
                type:
                  - boolean
                  - "null"
              signDoubleAuth:
                type:
                  - object
                  - "null"
                properties:
                  coworkers:
                    type:
                      - boolean
                      - "null"
                  thirdParties:
                    type:
                      - boolean
                      - "null"
              workflowCenter:
                type:
                  - boolean
                  - "null"
              complexPasswords:
                type:
                  - boolean
                  - "null"
              dataLocalization:
                type:
                  - boolean
                  - "null"
              internalWorkflows:
                type:
                  - boolean
                  - "null"
              organizationFieldItem:
                type:
                  - boolean
                  - "null"
              dedicatedEncryptionKey:
                type:
                  - boolean
                  - "null"
              sendContractWithDocument:
                type:
                  - boolean
                  - "null"
              sendInvitationWithDocument:
                type:
                  - boolean
                  - "null"
          subscription:
            type:
              - string
              - "null"
      isParent:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      isSubsidiary:
        type:
          - boolean
          - "null"
      subscription:
        type:
          - string
          - "null"
      subsidiaries:
        type:
          - array
          - "null"
    additionalProperties: true
