build/
logs/
dbt-project-template/models/generated/
dbt-project-template/test_output.log
dbt_modules/
secrets/
dist/

integration_tests/normalization_test_output/*/*/*.log
integration_tests/normalization_test_output/*/*/*.yml
integration_tests/normalization_test_output/*/*/*.json
integration_tests/normalization_test_output/*/*/*.md
integration_tests/normalization_test_output/*/*/macros/
integration_tests/normalization_test_output/*/*/tests/
integration_tests/normalization_test_output/*/*/models/dbt_data_tests/
integration_tests/normalization_test_output/*/*/models/dbt_schema_tests/
integration_tests/normalization_test_output/*/*/modified_models/
