version: 4.3.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - fonts
definitions:
  streams:
    fonts:
      type: DeclarativeStream
      name: fonts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /webfonts?key={{ config['api_key'] }}&sort={{ config['sort'] or
            'SORT_UNDEFINED'}}&prettyPrint={{ config['prettyPrint'] or  'true'}}&alt={{
            config['alt'] or 'json'}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fonts"
  base_requester:
    type: HttpRequester
    url_base: https://webfonts.googleapis.com/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: apikey
streams:
  - $ref: "#/definitions/streams/fonts"
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          API key is required to access google apis, For getting your's goto
          google console and generate api key for Webfonts
        order: 0
      alt:
        type: string
        description: Optional, Available params- json, media, proto
        order: 1
      prettyPrint:
        type: string
        description: Optional, boolean type
        order: 2
      sort:
        type: string
        description: Optional, to find how to sort
        order: 3
    additionalProperties: true
metadata:
  autoImportSchema:
    fonts: false
schemas:
  fonts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      family:
        type:
          - string
          - "null"
        description: The name of the font family (e.g. 'Roboto', 'Open Sans')
      category:
        type:
          - string
          - "null"
        description: The category the font belongs to (e.g. 'sans-serif', 'serif')
      variants:
        type:
          - array
          - "null"
        description: Different styles and weights available for the font
        items:
          type:
            - string
            - "null"
      subsets:
        type:
          - array
          - "null"
        description: List of language subsets supported by the font
        items:
          type:
            - string
            - "null"
      version:
        type:
          - string
          - "null"
        description: Version of the font data
      lastModified:
        type:
          - string
          - "null"
        description: Date of the last modification of the font
      files:
        type:
          - object
          - "null"
        description: URLs of the font files, keyed by variant (e.g. 'regular', '700italic')
        additionalProperties:
          type:
            - string
            - "null"
      menu:
        type:
          - string
          - "null"
        description: URL of the font menu subset file
      colorCapabilities:
        type:
          - array
          - "null"
        description: Color font capabilities of the font (e.g. 'COLRv1', 'SVG')
        items:
          type:
            - string
            - "null"
      kind:
        type:
          - string
          - "null"
        description: The resource kind, always 'webfonts#webfont'
