version: 4.6.2

type: DeclarativeSource

description: >-
  Website: https://secure.employmenthero.com/

  API Docs:
  https://developer.employmenthero.com/api-references/#icon-book-open-introduction

  Auth Docs:
  https://developer.employmenthero.com/api-references/#obtain-access-token

  Auth keys:
  https://secure.employmenthero.com/app/v2/organisations/xxxxx/developer_portal/api

check:
  type: CheckStream
  stream_names:
    - organisations

definitions:
  streams:
    organisations:
      type: DeclarativeStream
      name: organisations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organisations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organisations"
    employees:
      type: DeclarativeStream
      name: employees
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organisations/{{ stream_partition.organization_id }}/employees
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/organisations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees"
    leave_requests:
      type: DeclarativeStream
      name: leave_requests
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organisations/{{ stream_partition.organization_id }}/leave_requests
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/organisations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leave_requests"
    employee_certifications:
      type: DeclarativeStream
      name: employee_certifications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            organisations/{{ stream_partition.organization_configids
            }}/employees/{{ stream_partition.employees_configids
            }}/certifications
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config['organization_configids'] }}"
            cursor_field: organization_configids
          - type: ListPartitionRouter
            values: '{{ config["employees_configids"] }}'
            cursor_field: employees_configids
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employee_certifications"
    pay_details:
      type: DeclarativeStream
      name: pay_details
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            organisations/{{ stream_partition.organization_configids
            }}/employees/{{ stream_partition.employees_configids }}/pay_details
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config['organization_configids'] }}"
            cursor_field: organization_configids
          - type: ListPartitionRouter
            values: '{{ config["employees_configids"] }}'
            cursor_field: employees_configids
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pay_details"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organisations/{{ stream_partition.organization_id }}/teams
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/organisations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    policies:
      type: DeclarativeStream
      name: policies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organisations/{{ stream_partition.organization_id }}/policies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/organisations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/policies"
    certifications:
      type: DeclarativeStream
      name: certifications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organisations/{{ stream_partition.organization_id }}/certifications
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/organisations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/certifications"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organisations/{{ stream_partition.organization_id }}/custom_fields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/organisations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    employee_custom_fields:
      type: DeclarativeStream
      name: employee_custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            organisations/{{ stream_partition.organization_configids
            }}/employees/{{ stream_partition.employees_configids
            }}/custom_fields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_index
          page_size_option:
            type: RequestOption
            field_name: items_per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config['organization_configids'] }}"
            cursor_field: organization_configids
          - type: ListPartitionRouter
            values: '{{ config["employees_configids"] }}'
            cursor_field: employees_configids
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employee_custom_fields"
  base_requester:
    type: HttpRequester
    url_base: https://api.employmenthero.com/api/v1/
    authenticator:
      type: BearerAuthenticator
      api_token: '{{ config["api_key"] }}'

streams:
  - $ref: "#/definitions/streams/organisations"
  - $ref: "#/definitions/streams/employees"
  - $ref: "#/definitions/streams/leave_requests"
  - $ref: "#/definitions/streams/employee_certifications"
  - $ref: "#/definitions/streams/pay_details"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/policies"
  - $ref: "#/definitions/streams/certifications"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/employee_custom_fields"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      organization_configids:
        type: array
        description: >-
          Organization ID which could be found as result of `organizations`
          stream to be used in other substreams
        order: 1
        title: Organization ID
      employees_configids:
        type: array
        description: >-
          Employees IDs in the given organisation found in `employees` stream
          for passing to sub-streams
        order: 2
        title: Employees ID
    additionalProperties: true

metadata:
  autoImportSchema:
    organisations: true
    employees: true
    leave_requests: true
    employee_certifications: true
    pay_details: true
    teams: true
    policies: true
    certifications: true
    custom_fields: true
    employee_custom_fields: true
  testedStreams:
    organisations:
      hasRecords: true
      streamHash: e0dc0291e85a08ef34d0e363731d0ac6494c3be2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    employees:
      hasRecords: true
      streamHash: df17db6af7d100492841989975096a026387b598
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    leave_requests:
      streamHash: dc982643979fa6ada910940cd42909fb4e174ef5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    employee_certifications:
      streamHash: d9c56041dec93fe46c1b3bdcab3a921651aed873
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pay_details:
      streamHash: 21c4e46f211789ff6f0226637ae1f98e5830ce02
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: f53e5fed972acff4f02c99f1912dc5d84bbba472
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    policies:
      streamHash: c08ca6a5d83293fee68bfa7336e13ad45b938fb4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    certifications:
      streamHash: 0c9dc8ea0cef42697beae819fb3fefd889fdc498
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    custom_fields:
      streamHash: cf46555b7dc11faf98443c40d97a6183eed3b85b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    employee_custom_fields:
      streamHash: 2e1971ac63b4a4e096d36df6aa91aaf11b8d9468
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  organisations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      country:
        type:
          - string
          - "null"
      id:
        type: string
      logo_url:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
    required:
      - id
  employees:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_email:
        type:
          - string
          - "null"
      address:
        type:
          - string
          - "null"
      avatar_url:
        type:
          - string
          - "null"
      code:
        type:
          - string
          - "null"
      company_email:
        type:
          - string
          - "null"
      company_landline:
        type:
          - string
          - "null"
      company_mobile:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      date_of_birth:
        type:
          - string
          - "null"
      employing_entity:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      gender:
        type:
          - string
          - "null"
      home_phone:
        type:
          - string
          - "null"
      id:
        type: string
      job_title:
        type:
          - string
          - "null"
      known_as:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      marital_status:
        type:
          - string
          - "null"
      middle_name:
        type:
          - string
          - "null"
      nationality:
        type:
          - string
          - "null"
      personal_email:
        type:
          - string
          - "null"
      personal_mobile_number:
        type:
          - string
          - "null"
      primary_manager:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      role:
        type:
          - string
          - "null"
      secondary_cost_centres:
        type:
          - array
          - "null"
      start_date:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  leave_requests:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      comment:
        type:
          - string
          - "null"
      employee_id:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      id:
        type: string
      leave_balance_amount:
        type:
          - number
          - "null"
      leave_category_name:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      total_hours:
        type:
          - number
          - "null"
    required:
      - id
  employee_certifications:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      certification_id:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  pay_details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      effective_from:
        type:
          - string
          - "null"
      id:
        type: string
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  policies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      induction:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  certifications:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  custom_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      custom_field_permissions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            permission:
              type:
                - string
                - "null"
            role:
              type:
                - string
                - "null"
      hint:
        type:
          - string
          - "null"
      id:
        type: string
      in_onboarding:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      required:
        type:
          - boolean
          - "null"
    required:
      - id
  employee_custom_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
