version: 0.51.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - lists

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - "{{ parameters.field_path }}"
  basic_authenticator:
    type: BasicHttpAuthenticator
    password: "{{ config['credentials']['apikey'] }}"
    username: "anystring"
  oauth_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"
  requester:
    type: CustomRequester
    class_name: source_mailchimp.components.MailchimpRequester
    http_method: GET
    url_base: ""
    request_headers: {}
    path: "{{ parameters.path }}"
    request_parameters:
      sort_dir: ASC
      sort_field: "{{ parameters.cursor_field }}"
    authenticator:
      type: CustomAuthenticator
      class_name: source_mailchimp.components.MailchimpAuthenticator
      basic_auth: "#/definitions/basic_authenticator"
      oauth: "#/definitions/oauth_authenticator"
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      type: RequestOption
      field_name: count
      inject_into: request_parameter
    pagination_strategy:
      type: OffsetIncrement
      page_size: 1000
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: "{{ parameters.cursor_field }}"
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S+00:00"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    start_datetime:
      datetime: "{{ format_datetime(config.get('start_date'), '%Y-%m-%dT%H:%M:%S+00:00') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    start_time_option:
      type: RequestOption
      field_name: since_{{ parameters.cursor_field }}
      inject_into: request_parameter

  base_stream:
    type: DeclarativeStream
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      $ref: "#/definitions/incremental_sync"

  lists_stream:
    $ref: "#/definitions/base_stream"
    name: lists
    $parameters:
      path: lists
      field_path: lists
      cursor_field: date_created

  campaigns_stream:
    $ref: "#/definitions/base_stream"
    name: campaigns
    $parameters:
      path: campaigns
      field_path: campaigns
      cursor_field: create_time

  automations_stream:
    $ref: "#/definitions/base_stream"
    name: automations
    $parameters:
      path: automations
      field_path: automations
      cursor_field: create_time

  reports_stream:
    $ref: "#/definitions/base_stream"
    name: reports
    $parameters:
      path: reports
      field_path: reports
      cursor_field: send_time

  email_activity_stream:
    type: DeclarativeStream
    name: email_activity
    $parameters:
      primary_key: ["email_id", "timestamp", "action"]
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
        path: "reports/{{ stream_slice.campaign_id }}/email-activity"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_mailchimp.components.EmailActivityRecordExtractor
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: CustomPartitionRouter
          class_name: source_mailchimp.components.CampaignIdPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: campaign_id
              stream:
                $ref: "#/definitions/campaigns_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S+00:00"
      datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        datetime: "{{ format_datetime(config.get('start_date', day_delta(-365, '%Y-%m-%dT%H:%M:%S')), '%Y-%m-%dT%H:%M:%S') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter

streams:
  - "#/definitions/lists_stream"
  - "#/definitions/campaigns_stream"
  - "#/definitions/automations_stream"
  - "#/definitions/reports_stream"
  - "#/definitions/email_activity_stream"
