version: 0.51.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - lists

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - '{{ parameters.field_path }}'
  basic_authenticator:
      type: BasicHttpAuthenticator
      password: '{{ config.credentials.apikey }}'
      username: 'anystring'
  oauth_authenticator:
      type: BearerAuthenticator
      api_token: '{{ config.credentials.access_token }}'
  requester:
    type: HttpRequester
    url_base: https://{{ config.password.split('-')[-1] }}.api.mailchimp.com/3.0/
    http_method: GET
    request_headers: {}
    path: '{{ parameters.path }}'
    request_parameters:
      sort_dir: ASC
      sort_field: '{{ parameters.cursor_field }}'
    authenticator:
      class_name: source_mailchimp.components.MailchimpAuthenticator
      basic_auth: "#/definitions/basic_authenticator"
      oauth: "#/definitions/oauth_authenticator"
    request_body_json: {}
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      type: RequestOption
      field_name: count
      inject_into: request_parameter
    pagination_strategy:
      type: OffsetIncrement
      page_size: 1000
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: '{{ parameters.cursor_field }}'
    cursor_datetime_formats:
      - '%Y-%m-%dT%H:%M:%S+00:00'
    datetime_format: '%Y-%m-%dT%H:%M:%S+00:00'
    start_datetime:
      type: MinMaxDatetime
      datetime: '{{ config[''start_date''] }}'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    start_time_option:
      type: RequestOption
      field_name: since_{{ parameters.cursor_field }}
      inject_into: request_parameter
  base_stream:
    type: DeclarativeStream
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        $ref: "#/definitions/paginator"
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
  lists_stream:
    $ref: "#/definitions/base_stream"
    name: lists
    $parameters:
      path: lists
      field_path: lists
      cursor_field: date_created
  campaigns_stream:
    $ref: "#/definitions/base_stream"
    name: campaigns
    $parameters:
      path: campaigns
      field_path: campaigns
      cursor_field: create_time
  automations_stream:
    $ref: "#/definitions/base_stream"
    name: automations
    $parameters:
      path: automations
      field_path: automations
      cursor_field: create_time
  reports_stream:
    $ref: "#/definitions/base_stream"
    name: reports
    $parameters:
      path: reports
      field_path: reports
      cursor_field: send_time
  email_activity_stream:
    type: DeclarativeStream
    name: email_activity
    primary_key:
      - timestamp
      - email_id
      - action
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_mailchimp.components.EmailActivityRecordExtractor
          field_path:
            - emails
      paginator:
        $ref: "#/definitions/paginator"
      partition_router:
        - type: CustomPartitionRouter
          class_name:
            source_mailchimp.components.CampaignIdPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: campaign_id
              stream:
                $ref: "#/definitions/campaigns_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
streams:
  - "#/definitions/lists_stream"
  - "#/definitions/campaigns_stream"
  - "#/definitions/automations_stream"
  - "#/definitions/reports_stream"
  - "#/definitions/email_activity_stream"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/mailchimp
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required: []
    additionalProperties: true
    properties:
      credentials:
        type: object
        title: Authentication
        oneOf:
          - title: OAuth2.0
            type: object
            required:
              - auth_type
              - access_token
            properties:
              auth_type:
                type: string
                const: oauth2.0
                order: 0
              client_id:
                title: Client ID
                type: string
                description: The Client ID of your OAuth application.
                airbyte_secret: true
              client_secret:
                title: Client Secret
                type: string
                description: The Client Secret of your OAuth application.
                airbyte_secret: true
              access_token:
                title: Access Token
                type: string
                description: An access token generated using the above client ID and secret.
                airbyte_secret: true
          - type: object
            title: API Key
            required:
              - auth_type
              - apikey
            properties:
              auth_type:
                type: string
                const: apikey
                order: 1
              apikey:
                type: string
                title: API Key
                description: Mailchimp API Key. See the <a href="https://docs.airbyte.com/integrations/sources/mailchimp">docs</a>
                  for information on how to generate this key.
                airbyte_secret: true
      campaign_id:
        type: string
        title: ID of a campaign to sync email activities
        airbyte_hidden: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          access_token:
            type: string
            path_in_connector_config:
            - credentials
            - access_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
