version: 0.52.0
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - "campaigns"

definitions:
  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"
  basic_authenticator:
    type: BasicHttpAuthenticator
    username: "anystring"
    password: "{{ config.get('apikey') or config['credentials']['apikey'] }}"

  transformer_remove_empty_fields:
    type: RemoveFields
    field_pointers:
      - ["**"]
    condition: "{{ property|string == '' }}"

  retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: ["{{ parameters.get('data_field') }}"]
    paginator:
      type: "DefaultPaginator"
      pagination_strategy:
        type: "OffsetIncrement"
        page_size: 1000
      page_size_option:
        type: "RequestOption"
        inject_into: "request_parameter"
        field_name: "count"
      page_token_option:
        type: "RequestOption"
        inject_into: "request_parameter"
        field_name: "offset"
    requester:
      url_base: https://{{ config['data_center'] }}.api.mailchimp.com/3.0/
      http_method: GET
      authenticator:
        type: SelectiveAuthenticator
        authenticator_selection_path: ["credentials", "auth_type"]
        authenticators:
          oauth2.0: "#/definitions/bearer_authenticator"
          apikey: "#/definitions/basic_authenticator"
      request_parameters:
        exclude_fields: "{{ parameters.get('data_field') }}._links"

  base_stream:
    retriever:
      $ref: "#/definitions/retriever"

  base_incremental_stream:
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/retriever/requester"
        request_parameters:
          sort_field: "{{ parameters['cursor_field'] }}"
          sort_dir: "ASC"
          exclude_fields: "{{ parameters.get('data_field') }}._links"
    transformations:
      - "#/definitions/transformer_remove_empty_fields"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      cursor_field: "{{ parameters['cursor_field'] }}"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', '1970-01-01T00:00:00.0Z') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        lookback_window: PT0.1S
      start_time_option:
        inject_into: request_parameter
        field_name: "since_{{ parameters['cursor_field'] }}"
        type: RequestOption
      end_time_option:
        inject_into: request_parameter
        field_name: "before_{{ parameters['cursor_field'] }}"
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: PT1S

  automations_stream:
    type: DeclarativeStream
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      name: "automations"
      primary_key: "id"
      path: "automations"
      data_field: "automations"
      cursor_field: "create_time"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        title: Automations
        additionalProperties: true
        properties:
          create_time:
            airbyte-type: timestamp_with_timezone
            description: The timestamp when the automation was created
            format: date-time
            type:
              - "null"
              - string
          emails_sent:
            description: The number of emails sent as part of the automation
            type:
              - "null"
              - number
          id:
            description: The unique identifier for the automation
            type:
              - "null"
              - string
          recipients:
            description: Details about the recipients of the automation
            properties:
              list_id:
                description: The ID of the recipient list
                type:
                  - "null"
                  - string
              list_is_active:
                description: Indicates if the recipient list is active
                type:
                  - "null"
                  - boolean
              list_name:
                description: The name of the recipient list
                type:
                  - "null"
                  - string
              segment_opts:
                description: Options related to segmenting recipients
                properties:
                  conditions:
                    description: Conditions for segmenting recipients
                    items:
                      additionalProperties: true
                      type:
                        - "null"
                        - object
                    type:
                      - "null"
                      - array
                  match:
                    description: Matching criteria for segmenting recipients
                    type:
                      - "null"
                      - string
                  saved_segment_id:
                    description: The ID of the saved segment
                    type:
                      - "null"
                      - number
                type:
                  - "null"
                  - object
              store_id:
                description: The ID of the store associated with recipients
                type:
                  - "null"
                  - string
            type:
              - "null"
              - object
          report_summary:
            description: Summary of the report generated for the automation
            properties:
              click_rate:
                description: The click-through rate for the automation
                type:
                  - "null"
                  - number
              clicks:
                description: The total number of clicks generated
                type:
                  - "null"
                  - number
              open_rate:
                description: The open rate for the automation
                type:
                  - "null"
                  - number
              opens:
                description: The total number of opens generated
                type:
                  - "null"
                  - number
              subscriber_clicks:
                description: Number of clicks per subscriber
                type:
                  - "null"
                  - number
              unique_opens:
                description: Number of unique opens recorded
                type:
                  - "null"
                  - number
            type:
              - "null"
              - object
          settings:
            description: Settings related to the automation
            properties:
              authenticate:
                description: Indicates if authentication is set
                type:
                  - "null"
                  - boolean
              auto_footer:
                description: Automatically add footer to emails
                type:
                  - "null"
                  - boolean
              from_name:
                description: Sender's name
                type:
                  - "null"
                  - string
              inline_css:
                description: Include inline CSS in emails
                type:
                  - "null"
                  - boolean
              reply_to:
                description: Email address for replies
                type:
                  - "null"
                  - string
              title:
                description: Title of the automation
                type:
                  - "null"
                  - string
              to_name:
                description: Recipient's name field
                type:
                  - "null"
                  - string
              use_conversation:
                description: Enable conversation tracking
                type:
                  - "null"
                  - boolean
            type:
              - "null"
              - object
          start_time:
            airbyte_type: timestamp_with_timezone
            description: The timestamp when the automation started
            format: date-time
            type:
              - "null"
              - string
          status:
            description: Current status of the automation
            type:
              - "null"
              - string
          tracking:
            description: Tracking settings for the automation
            properties:
              capsule:
                description: Notes related to capsule tracking
                properties:
                  notes:
                    description: Additional notes for capsule tracking
                    type:
                      - "null"
                      - boolean
                type:
                  - "null"
                  - object
              clicktale:
                description: Clicktale tracking status
                type:
                  - "null"
                  - string
              ecomm360:
                description: Ecommerce tracking status
                type:
                  - "null"
                  - boolean
              goal_tracking:
                description: Goal tracking setup status
                type:
                  - "null"
                  - boolean
              google_analytics:
                description: Google Analytics tracking status
                type:
                  - "null"
                  - string
              html_clicks:
                description: HTML click tracking status
                type:
                  - "null"
                  - boolean
              opens:
                description: Open tracking status
                type:
                  - "null"
                  - boolean
              salesforce:
                description: Salesforce tracking details
                properties:
                  campaign:
                    description: Salesforce campaign tracking status
                    type:
                      - "null"
                      - boolean
                  notes:
                    description: Additional notes for Salesforce tracking
                    type:
                      - "null"
                      - boolean
                type:
                  - "null"
                  - object
              text_clicks:
                description: Text click tracking status
                type:
                  - "null"
                  - boolean
            type:
              - "null"
              - object
          trigger_settings:
            description: Settings related to the triggers of the automation
            properties:
              runtime:
                description: Runtime settings for the automation
                properties:
                  days:
                    description: Days of the week for triggering the automation
                    items:
                      type:
                        - "null"
                        - string
                    type:
                      - "null"
                      - array
                  hours:
                    description: Hourly trigger settings
                    properties:
                      type:
                        description: Type of hourly triggering
                        type:
                          - "null"
                          - string
                    type:
                      - "null"
                      - object
                type:
                  - "null"
                  - object
              workflow_emails_count:
                description: Number of emails in the workflow
                type:
                  - "null"
                  - number
              workflow_title:
                description: Title of the workflow
                type:
                  - "null"
                  - string
              workflow_type:
                description: Type of workflow
                type:
                  - "null"
                  - string
            type:
              - "null"
              - object
  campaigns_stream:
    type: DeclarativeStream
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      name: "campaigns"
      primary_key: "id"
      path: "/campaigns"
      data_field: "campaigns"
      cursor_field: "create_time"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Campaign
        description: A summary of an individual campaign's settings and content.
        properties:
          ab_split_opts:
            description: "[A/B Testing](https://mailchimp.com/help/about-ab-testing-campaigns/) options for a campaign."
            properties:
              from_name_a:
                description: For campaigns split on 'From Name', the name for Group A.
                title: From Name Group A
                type:
                  - "null"
                  - string
              from_name_b:
                description: For campaigns split on 'From Name', the name for Group B.
                title: From Name Group B
                type:
                  - "null"
                  - string
              pick_winner:
                description:
                  How we should evaluate a winner. Based on 'opens', 'clicks',
                  or 'manual'.
                enum:
                  - opens
                  - clicks
                  - manual
                title: Pick Winner
                type:
                  - "null"
                  - string
              reply_email_a:
                description:
                  For campaigns split on 'From Name', the reply-to address for
                  Group A.
                title: Reply Email Group A
                type:
                  - "null"
                  - string
              reply_email_b:
                description:
                  For campaigns split on 'From Name', the reply-to address for
                  Group B.
                title: Reply Email Group B
                type:
                  - "null"
                  - string
              send_time_a:
                airbyte_type: timestamp_with_timezone
                description: The send time for Group A.
                format: date-time
                title: Send Time Group A
                type:
                  - "null"
                  - string
              send_time_b:
                airbyte_type: timestamp_with_timezone
                description: The send time for Group B.
                format: date-time
                title: Send Time Group B
                type:
                  - "null"
                  - string
              send_time_winner:
                description: The send time for the winning version.
                title: Send Time Winner
                type:
                  - "null"
                  - string
              split_size:
                description:
                  The size of the split groups. Campaigns split based on 'schedule'
                  are forced to have a 50/50 split. Valid split integers are between 1-50.
                maximum: 50
                minimum: 1
                title: Split Size
                type: integer
              split_test:
                description: The type of AB split to run.
                enum:
                  - subject
                  - from_name
                  - schedule
                title: Split Test
                type:
                  - "null"
                  - string
              subject_a:
                description:
                  For campaigns split on 'Subject Line', the subject line for Group
                  A.
                title: Subject Line Group A
                type:
                  - "null"
                  - string
              subject_b:
                description:
                  For campaigns split on 'Subject Line', the subject line for Group
                  B.
                title: Subject Line Group B
                type:
                  - "null"
                  - string
              wait_time:
                description:
                  The amount of time to wait before picking a winner. This cannot
                  be changed after a campaign is sent.
                title: Wait Time
                type: integer
              wait_units:
                description:
                  How unit of time for measuring the winner ('hours' or 'days').
                  This cannot be changed after a campaign is sent.
                enum:
                  - hours
                  - days
                title: Wait Time
                type:
                  - "null"
                  - string
            readOnly: true
            title: A/B Testing Options
            type: object
          archive_url:
            description: The link to the campaign's archive version in ISO 8601 format.
            readOnly: true
            title: Archive URL
            type:
              - "null"
              - string
          content_type:
            description: How the campaign's content is put together.
            enum:
              - template
              - html
              - url
              - multichannel
            title: Content Type
            type:
              - "null"
              - string
          create_time:
            airbyte_type: timestamp_with_timezone
            description: The date and time the campaign was created in ISO 8601 format.
            format: date-time
            readOnly: true
            title: Create Time
            type: string
          delivery_status:
            description: Updates on campaigns in the process of sending.
            properties:
              can_cancel:
                description: Whether a campaign send can be canceled.
                readOnly: true
                title: Campaign Cancelable
                type: boolean
              emails_canceled:
                description: The total number of emails canceled for this campaign.
                readOnly: true
                title: Emails Canceled
                type: integer
              emails_sent:
                description:
                  The total number of emails confirmed sent for this campaign so
                  far.
                readOnly: true
                title: Emails Sent
                type: integer
              enabled:
                description:
                  Whether Campaign Delivery Status is enabled for this account
                  and campaign.
                readOnly: true
                title: Delivery Status Enabled
                type: boolean
              status:
                description: The current state of a campaign delivery.
                enum:
                  - delivering
                  - delivered
                  - canceling
                  - canceled
                readOnly: true
                title: Campaign Delivery Status
                type:
                  - "null"
                  - string
            title: Campaign Delivery Status
            type: object
          emails_sent:
            description: The total number of emails sent for this campaign.
            readOnly: true
            title: Emails Sent
            type: integer
          id:
            description: A string that uniquely identifies this campaign.
            readOnly: true
            title: Campaign ID
            type: string
          long_archive_url:
            description: The original link to the campaign's archive version.
            readOnly: true
            title: Long Archive URL
            type:
              - "null"
              - string
          needs_block_refresh:
            description:
              Determines if the campaign needs its blocks refreshed by opening
              the web-based campaign editor. Deprecated and will always return false.
            readOnly: true
            title: Needs Block Refresh
            type: boolean
          parent_campaign_id:
            description:
              If this campaign is the child of another campaign, this identifies
              the parent campaign. For Example, for RSS or Automation children.
            readOnly: true
            title: Parent Campaign ID
            type:
              - "null"
              - string
          recipients:
            description: List settings for the campaign.
            properties:
              list_id:
                description: The unique list id.
                title: List ID
                type:
                  - "null"
                  - string
              list_is_active:
                description: The status of the list used, namely if it's deleted or disabled.
                readOnly: true
                title: List Status
                type: boolean
              list_name:
                description: The name of the list.
                readOnly: true
                title: List Name
                type:
                  - "null"
                  - string
              recipient_count:
                description:
                  Count of the recipients on the associated list. Formatted as
                  an integer.
                readOnly: true
                title: Recipient Count
                type: integer
              segment_opts:
                description:
                  An object representing all segmentation options. This object
                  should contain a `saved_segment_id` to use an existing segment, or you can
                  create a new segment by including both `match` and `conditions` options.
                properties:
                  conditions:
                    description:
                      Segment match conditions. There are multiple possible types,
                      see the [condition types documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#segment-condition-schemas).
                    items:
                      oneOf:
                        - description: Segment by interaction with a specific campaign.
                          properties:
                            condition_type:
                              enum:
                                - Aim
                              type: string
                              x-value: Aim
                            field:
                              description: Segment by interaction with a specific campaign.
                              enum:
                                - aim
                              example: aim
                              title: Segment Field
                              type: string
                            op:
                              description: "The status of the member with regard to their campaign interaction. One of the following: opened, clicked, was sent, didn't open, didn't click, or was not sent."
                              enum:
                                - open
                                - click
                                - sent
                                - noopen
                                - noclick
                                - nosent
                              example: open
                              title: Segment Operator
                              type: string
                            value:
                              description:
                                Either the web id value for a specific campaign or
                                'any' to account for subscribers who have/have not interacted
                                with any campaigns.
                              example: any
                              title: Segment Data
                              type: string
                          title: Aim Segment
                          type: object
                        - description: Segment by interaction with an Automation workflow.
                          properties:
                            condition_type:
                              enum:
                                - Automation
                              type: string
                              x-value: Automation
                            field:
                              description: Segment by interaction with an Automation workflow.
                              enum:
                                - automation
                              example: automation
                              title: Segment Field
                              type: string
                            op:
                              description: "The status of the member with regard to the automation workflow. One of the following: has started the workflow, has completed the workflow, has not started the workflow, or has not completed the workflow."
                              enum:
                                - started
                                - completed
                                - not_started
                                - not_completed
                              example: started
                              title: Segment Operator
                              type: string
                            value:
                              description:
                                The web id for the automation workflow to segment
                                against.
                              example: "2135217"
                              title: Segment Data
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Automation Segment
                          type: object
                        - description: Segment by poll activity.
                          properties:
                            condition_type:
                              enum:
                                - CampaignPoll
                              type: string
                              x-value: CampaignPoll
                            field:
                              description: Segment by poll activity.
                              enum:
                                - poll
                              example: poll
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members have/have not interacted with a specific
                                poll in a Mailchimp email.
                              enum:
                                - member
                                - notmember
                              example: member
                              title: Segment Operator
                              type: string
                            value:
                              description: The id for the poll.
                              example: 409
                              title: Segment Operator
                              type: number
                          required:
                            - field
                            - op
                            - value
                          title: Poll Activity Segment
                          type: object
                        - description: Segment by interaction with a campaign via Conversations.
                          properties:
                            condition_type:
                              enum:
                                - Conversation
                              type: string
                              x-value: Conversation
                            field:
                              description: Segment by interaction with a campaign via Conversations.
                              enum:
                                - conversation
                              example: conversation
                              title: Segment Field
                              type: string
                            op:
                              description: "The status of a member's interaction with a conversation. One of the following: has replied or has not replied."
                              enum:
                                - member
                                - notmember
                              example: member
                              title: Segment Operator
                              type: string
                            value:
                              description:
                                The web id value for a specific campaign or 'any'
                                to account for subscribers who have/have not interacted with
                                any campaigns.
                              example: any
                              title: Segment Data
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Conversation Segment
                          type: object
                        - description: Segment by a specific date field.
                          properties:
                            condition_type:
                              enum:
                                - Date
                              type: string
                              x-value: Date
                            extra:
                              description: When segmenting on 'date' or 'campaign', the date for the segment formatted as YYYY-MM-DD or the web id for the campaign.
                              example: "2015-01-30"
                              title: Segment Extra Value
                              type: string
                            field:
                              description: "The type of date field to segment on: The opt-in time for a signup, the date the subscriber was last updated, or the date of their last ecomm purchase."
                              enum:
                                - timestamp_opt
                                - info_changed
                                - ecomm_date
                              example: timestamp_opt
                              title: Segment Field
                              type: string
                            op:
                              description: "When the event took place:  Before, after, is a specific date, is not a specific date, is blank, or is not blank."
                              enum:
                                - greater
                                - less
                                - is
                                - not
                                - blank
                                - blank_not
                                - within
                                - notwithin
                              example: greater
                              title: Segment Operator
                              type: string
                            value:
                              description: "What type of data to segment on: a specific date, a specific campaign, or the last campaign sent."
                              example: date
                              title: Segment Data
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Date Segment
                          type: object
                        - description: Segment by use of a particular email client.
                          properties:
                            condition_type:
                              enum:
                                - EmailClient
                              type: string
                              x-value: EmailClient
                            field:
                              description: Segment by use of a particular email client.
                              enum:
                                - email_client
                              example: email_client
                              title: Segment Field
                              type: string
                            op:
                              description: The operation to determine whether we select clients that match the value, or clients that do not match the value.
                              enum:
                                - client_is
                                - client_not
                              example: client_is
                              title: Segment Operator
                              type: string
                            value:
                              description: The name of the email client.
                              example: Gmail
                              title: Segment Data
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Email Client Segment
                          type: object
                        - description: Segment by language.
                          properties:
                            condition_type:
                              enum:
                                - Language
                              type: string
                              x-value: Language
                            field:
                              description: Segmenting based off of a subscriber's language.
                              enum:
                                - language
                              example: language
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member's language is or is not set to
                                a specific language.
                              enum:
                                - is
                                - not
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: A two-letter language identifier.
                              example: en
                              title: Segment Data
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Language Segment
                          type: object
                        - description: Segment by member rating.
                          properties:
                            condition_type:
                              enum:
                                - MemberRating
                              type: string
                              x-value: MemberRating
                            field:
                              description: Segment by member rating.
                              enum:
                                - rating
                              example: rating
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members who have have a rating that is/not exactly
                                a given number or members who have a rating greater/less than
                                a given number.
                              enum:
                                - is
                                - not
                                - greater
                                - less
                              example: greater
                              title: Segment Operator
                              type: string
                            value:
                              description: The star rating number to segment against.
                              example: 4
                              title: Segment Operator
                              type: number
                          required:
                            - field
                            - op
                            - value
                          title: Member Rating Segment
                          type: object
                        - description: Segment by signup source.
                          properties:
                            condition_type:
                              enum:
                                - SignupSource
                              title: Type
                              type: string
                              x-value: SignupSource
                            field:
                              enum:
                                - source
                              example: source
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member's signup source was/was not a
                                particular value.
                              enum:
                                - source_is
                                - source_not
                              example: source_is
                              title: Segment Operator
                              type: string
                            value:
                              description: The signup source.
                              example: List Import
                              title: Segment Data
                              type: string
                          required:
                            - field
                            - condition_type
                            - op
                          title: Signup Source Segment
                          type: object
                        - description: Segment by interaction with a SurveyMonkey survey.
                          properties:
                            condition_type:
                              enum:
                                - SurveyMonkey
                              type: string
                              x-value: SurveyMonkey
                            field:
                              description: Segment by interaction with a SurveyMonkey survey.
                              enum:
                                - survey_monkey
                              example: survey_monkey
                              title: Segment Field
                              type: string
                            op:
                              description: "The status of the member with regard to the survey. One of the following: has started the survey, has completed the survey, has not started the survey, or has not completed the survey."
                              enum:
                                - started
                                - completed
                                - not_started
                                - not_completed
                              example: started
                              title: Segment Operator
                              type: string
                            value:
                              description: The unique ID of the SurveyMonkey survey.
                              example: "32179586"
                              title: Survey ID
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: SurveyMonkey Segment
                          type: object
                        - description: Segment by VIP status.
                          properties:
                            condition_type:
                              enum:
                                - VIP
                              type: string
                              x-value: VIP
                            field:
                              description: Segment by VIP status.
                              enum:
                                - gmonkey
                              example: gmonkey
                              title: Segment Field
                              type: string
                            op:
                              description: Whether the member is or is not marked as VIP.
                              enum:
                                - member
                                - notmember
                              example: member
                              title: Segment Operator
                              type: string
                          required:
                            - field
                            - op
                          title: VIP Segment
                          type: object
                        - description: Segment by an interest group merge field.
                          properties:
                            condition_type:
                              enum:
                                - Interests
                              type: string
                              x-value: Interests
                            field:
                              description:
                                Segmenting based on interest group information. This
                                should start with 'interests-' followed by the grouping id.
                                Ex. 'interests-123'.
                              example: interests-123
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member is a part of one, all, or none
                                of the groups.
                              enum:
                                - interestcontains
                                - interestcontainsall
                                - interestnotcontains
                              example: interestcontains
                              title: Segment Operator
                              type: string
                            value:
                              description:
                                An array containing strings, each representing a
                                group id.
                              items:
                                example:
                                  - "44401"
                                  - "44405"
                                  - "44409"
                                type: string
                              title: Segment Value
                              type: array
                          title: Interests Segment
                          type: object
                        - description: Segment by purchases in specific items or categories.
                          properties:
                            condition_type:
                              enum:
                                - EcommCategory
                              type: string
                              x-value: EcommCategory
                            field:
                              description: Segment by purchases in specific items or categories.
                              enum:
                                - ecomm_cat
                                - ecomm_prod
                              example: ecomm_cat
                              title: Segment Field
                              type: string
                            op:
                              description:
                                A member who has purchased from a category/specific
                                item that is/is not a specific name, where the category/item
                                name contains/doesn't contain a specific phrase or string, or
                                a category/item name that starts/ends with a string.
                              enum:
                                - is
                                - not
                                - contains
                                - notcontain
                                - starts
                                - ends
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: The ecommerce category/item information.
                              example: Product
                              title: Segment Data
                              type: string
                          title: Ecommerce Category Segment
                          type: object
                        - description:
                            Segment by average spent total, number of orders, total
                            number of products purchased, or average number of products per
                            order.
                          properties:
                            condition_type:
                              enum:
                                - EcommNumber
                              type: string
                              x-value: EcommNumber
                            field:
                              description:
                                Segment by average spent total, number of orders,
                                total number of products purchased, or average number of products
                                per order.
                              enum:
                                - ecomm_spent_avg
                                - ecomm_orders
                                - ecomm_prod_all
                                - ecomm_avg_ord
                              example: ecomm_orders
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members who have spent exactly, have not spent exactly,
                                spent more, or spent less than the segment value.
                              enum:
                                - is
                                - not
                                - greater
                                - less
                              example: greater
                              title: Segment Operator
                              type: string
                            value:
                              description:
                                Members who have spent exactly, have not spent exactly,
                                spent more, or spent less than this amount.
                              example: 42
                              title: Segment Operator
                              type: number
                          required:
                            - field
                            - op
                            - value
                          title: Ecommerce Number Segment
                          type: object
                        - description: Segment by whether someone has purchased anything.
                          properties:
                            condition_type:
                              enum:
                                - EcommPurchased
                              type: string
                              x-value: EcommPurchased
                            field:
                              description: Segment by whether someone has purchased anything.
                              enum:
                                - ecomm_purchased
                              example: ecomm_purchased
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members who have have ('member') or have not ('notmember')
                                purchased.
                              enum:
                                - member
                                - notmember
                              example: member
                              title: Segment Operator
                              type: string
                          title: Ecommerce Purchased Segment
                          type: object
                        - description:
                            Segment by amount spent on a single order or across all
                            orders.
                          properties:
                            condition_type:
                              enum:
                                - EcommSpent
                              type: string
                              x-value: EcommSpent
                            field:
                              description:
                                Segment by amount spent on a single order or across
                                all orders.
                              enum:
                                - ecomm_spent_one
                                - ecomm_spent_all
                              example: ecomm_spent_one
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members who have spent 'more' or 'less' than then
                                specified value.
                              enum:
                                - greater
                                - less
                              example: greater
                              title: Segment Operator
                              type: string
                            value:
                              description: The total amount a member spent.
                              example: 42
                              title: Segment Data
                              type: integer
                          title: Ecommerce Spent Segment
                          type: object
                        - description: Segment by purchases from a specific store.
                          properties:
                            condition_type:
                              enum:
                                - EcommStore
                              type: string
                              x-value: EcommStore
                            field:
                              description: Segment by purchases from a specific store.
                              enum:
                                - ecomm_store
                              example: ecomm_store
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members who have or have not purchased from a specific
                                store.
                              enum:
                                - is
                                - not
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: The store id to segment against.
                              example: "289"
                              title: Segment Operator
                              type: string
                          title: Ecommerce Purchased Store Segment
                          type: object
                        - description: Segment by Goal activity.
                          properties:
                            condition_type:
                              enum:
                                - GoalActivity
                              type: string
                              x-value: GoalActivity
                            field:
                              description: Segment by Goal activity.
                              enum:
                                - goal
                              example: goal
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the website URL is/not exactly, contains/doesn't
                                contain, starts with/ends with a string.
                              enum:
                                - is
                                - goal_not
                                - contains
                                - goal_notcontain
                                - starts
                                - ends
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: The URL to check Goal activity against.
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Goal Activity Segment
                          type: object
                        - description: Segment by most recent interaction with a website.
                          properties:
                            condition_type:
                              enum:
                                - GoalTimestamp
                              type: string
                              x-value: GoalTimestamp
                            field:
                              description: Segment by most recent interaction with a website.
                              enum:
                                - goal_last_visited
                              example: goal_last_visited
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the website activity happened after, before,
                                or at a given timestamp.
                              enum:
                                - greater
                                - less
                                - is
                              example: greater
                              title: Segment Operator
                              type: string
                            value:
                              description: The date to check Goal activity against.
                              example: "2015-07-20 19:45:21"
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Goal Timestamp Segment
                          type: object
                        - description: Segment by similar subscribers.
                          properties:
                            condition_type:
                              enum:
                                - FuzzySegment
                              type: string
                              x-value: FuzzySegment
                            field:
                              description: Segment by similar subscribers.
                              enum:
                                - fuzzy_segment
                              example: fuzzy_segment
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members who are/are not apart of a 'similar subscribers'
                                segment.
                              enum:
                                - fuzzy_is
                                - fuzzy_not
                              example: fuzzy_is
                              title: Segment Operator
                              type: string
                            value:
                              description: The id for the 'similar subscribers' segment.
                              example: 48433
                              title: Segment Operator
                              type: number
                          required:
                            - field
                            - op
                            - value
                          title: Similar Subscribers Segment Member Segment
                          type: object
                        - description: Segment by a given static segment.
                          properties:
                            condition_type:
                              enum:
                                - StaticSegment
                              type: string
                              x-value: StaticSegment
                            field:
                              description: Segment by a given static segment.
                              enum:
                                - static_segment
                              example: static_segment
                              title: Segment Field
                              type: string
                            op:
                              description: Members who are/are not apart of a static segment.
                              enum:
                                - static_is
                                - static_not
                              example: static_is
                              title: Segment Operator
                              type: string
                            value:
                              description: The id for the static segment.
                              example: 48433
                              title: Segment Operator
                              type: number
                          required:
                            - field
                            - op
                            - value
                          title: Static Segment Member Segment
                          type: object
                        - description: Segment by a specific country or US state.
                          properties:
                            condition_type:
                              enum:
                                - IPGeoCountryState
                              type: string
                              x-value: IPGeoCountryState
                            field:
                              description:
                                Segmenting subscribers who are within a specific
                                location.
                              enum:
                                - ipgeo
                              example: ipgeo
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Segment members who are within a specific country
                                or US state.
                              enum:
                                - ipgeocountry
                                - ipgeonotcountry
                                - ipgeostate
                                - ipgeonotstate
                              example: ipgeocountry
                              title: Segment Operator
                              type: string
                            value:
                              description: The two-letter country code or US state abbreviation.
                              example: US
                              title: Segment Data
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Location-Based Segment
                          type: object
                        - description: Segment by a specific geographic region.
                          properties:
                            addr:
                              description: The address of the target location.
                              example: Atlanta, GA, USA
                              title: Segment Location Address
                              type: string
                            condition_type:
                              enum:
                                - IPGeoIn
                              type: string
                              x-value: IPGeoIn
                            field:
                              description:
                                Segmenting subscribers who are within a specific
                                location.
                              enum:
                                - ipgeo
                              example: ipgeo
                              title: Segment Field
                              type: string
                            lat:
                              description: The latitude of the target location.
                              example: "33.7489954"
                              title: Segment Location Latitude
                              type: string
                            lng:
                              description: The longitude of the target location.
                              example: "-84.3879824"
                              title: Segment Location Longitude
                              type: string
                            op:
                              description:
                                Segment members who are within a specific geographic
                                region.
                              enum:
                                - ipgeoin
                                - ipgeonotin
                              example: ipgeoin
                              title: Segment Operator
                              type: string
                            value:
                              description: The radius of the target location.
                              example: 42
                              title: Segment Data
                              type: integer
                          required:
                            - field
                            - op
                            - value
                            - addr
                            - lat
                            - lng
                          title: Geolocation Segment
                          type: object
                        - description: Segment by a specific US ZIP code.
                          properties:
                            condition_type:
                              enum:
                                - IPGeoInZip
                              type: string
                              x-value: IPGeoInZip
                            extra:
                              description: The zip code to segment against.
                              example: 30318
                              title: Extra Data
                              type: integer
                            field:
                              description:
                                Segmenting subscribers who are within a specific
                                location.
                              enum:
                                - ipgeo
                              example: ipgeo
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Segment members who are within a specific US zip
                                code.
                              enum:
                                - ipgeoinzip
                              example: ipgeoinzip
                              title: Segment Operator
                              type: string
                            value:
                              description: The radius of the target location.
                              example: 25
                              title: Segment Data
                              type: integer
                          required:
                            - field
                            - op
                            - value
                            - extra
                          title: US Zip Code Segment
                          type: object
                        - description: Segment members whose location information is unknown.
                          properties:
                            condition_type:
                              enum:
                                - IPGeoUnknown
                              type: string
                              x-value: IPGeoUnknown
                            field:
                              description:
                                Segmenting subscribers who are within a specific
                                location.
                              enum:
                                - ipgeo
                              example: ipgeo
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Segment members for which location information is
                                unknown.
                              enum:
                                - ipgeounknown
                              example: ipgeounknown
                              title: Segment Operator
                              type: string
                          required:
                            - field
                            - op
                          title: Unknown Location-Based Segment
                          type: object
                        - description: Segment by a specific US ZIP code.
                          properties:
                            condition_type:
                              enum:
                                - IPGeoZip
                              type: string
                              x-value: IPGeoZip
                            field:
                              description:
                                Segmenting subscribers who are within a specific
                                location.
                              enum:
                                - ipgeo
                              example: ipgeo
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Segment members who are/are not within a specific
                                US zip code.
                              enum:
                                - ipgeoiszip
                                - ipgeonotzip
                              example: ipgeonotzip
                              title: Segment Operator
                              type: string
                            value:
                              description: The 5-digit zip code.
                              example: 30318
                              title: Segment Data
                              type: integer
                          required:
                            - field
                            - op
                            - value
                          title: Zip Code Location-Based Segment
                          type: object
                        - description: Segment by age ranges in Social Profiles data.
                          properties:
                            condition_type:
                              enum:
                                - SocialAge
                              type: string
                              x-value: SocialAge
                            field:
                              description: Segment by age ranges in Social Profiles data.
                              enum:
                                - social_age
                              example: social_age
                              title: Segment Field
                              type: string
                            op:
                              description: Members who are/not the exact criteria listed.
                              enum:
                                - is
                                - not
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: The age range to segment.
                              enum:
                                - 18-24
                                - 25-34
                                - 35-54
                                - 55+
                              example: 35-54
                              title: Segment Operator
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Social Profiles Age Segment
                          type: object
                        - description: Segment by listed gender in Social Profiles data.
                          properties:
                            condition_type:
                              enum:
                                - SocialGender
                              type: string
                              x-value: SocialGender
                            field:
                              description: Segment by listed gender in Social Profiles data.
                              enum:
                                - social_gender
                              example: social_gender
                              title: Segment Field
                              type: string
                            op:
                              description: Members who are/not the exact criteria listed.
                              enum:
                                - is
                                - not
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: The Social Profiles gender to segment.
                              enum:
                                - male
                                - female
                              example: female
                              title: Segment Operator
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Social Profiles Gender Segment
                          type: object
                        - description: Segment by influence rating in Social Profiles data.
                          properties:
                            condition_type:
                              enum:
                                - SocialInfluence
                              type: string
                              x-value: SocialInfluence
                            field:
                              description: Segment by influence rating in Social Profiles data.
                              enum:
                                - social_influence
                              example: social_influence
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members who have a rating that is/not or greater/less
                                than the rating provided.
                              enum:
                                - is
                                - not
                                - greater
                                - less
                              example: greater
                              title: Segment Operator
                              type: string
                            value:
                              description: The Social Profiles influence rating to segment.
                              example: 2
                              title: Segment Operator
                              type: number
                          required:
                            - field
                            - op
                            - value
                          title: Social Profiles Influence Segment
                          type: object
                        - description: Segment by social network in Social Profiles data.
                          properties:
                            condition_type:
                              enum:
                                - SocialNetworkMember
                              type: string
                              x-value: SocialNetworkMember
                            field:
                              description: Segment by social network in Social Profiles data.
                              enum:
                                - social_network
                              example: social_network
                              title: Segment Field
                              type: string
                            op:
                              description: Members who are/not on a given social network.
                              enum:
                                - member
                                - notmember
                              example: member
                              title: Segment Operator
                              type: string
                            value:
                              description: The social network to segment against.
                              enum:
                                - twitter
                                - facebook
                                - linkedin
                                - flickr
                                - foursquare
                                - lastfm
                                - myspace
                                - quora
                                - vimeo
                                - yelp
                                - youtube
                              example: twitter
                              title: Segment Operator
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Social Profiles Social Network Segment
                          type: object
                        - description: Segment by social network in Social Profiles data.
                          properties:
                            condition_type:
                              enum:
                                - SocialNetworkFollow
                              type: string
                              x-value: SocialNetworkFollow
                            field:
                              description: Segment by social network in Social Profiles data.
                              enum:
                                - social_network
                              example: social_network
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Members who are/not following a linked account on
                                a given social network.
                              enum:
                                - follow
                                - notfollow
                              example: follow
                              title: Segment Operator
                              type: string
                            value:
                              description: The social network to segment against.
                              enum:
                                - twitter_follow
                              example: twitter_follow
                              title: Segment Operator
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Social Profiles Social Network Follow Segment
                          type: object
                        - description: Segment by an address-type merge field.
                          properties:
                            condition_type:
                              enum:
                                - AddressMerge
                              type: string
                              x-value: AddressMerge
                            field:
                              description: An address-type merge field to segment.
                              example: MMERGE3
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member's address merge field contains/does
                                not contain a value or is/is not blank.
                              enum:
                                - contains
                                - notcontain
                                - blank
                                - blank_not
                              example: contains
                              title: Segment Operator
                              type: string
                            value:
                              description: The value to segment a text merge field with.
                              example: Atlanta
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                          title: Address Merge Field Segment
                          type: object
                        - description:
                            Segment by an address-type merge field within a given
                            distance.
                          properties:
                            condition_type:
                              enum:
                                - ZipMerge
                              type: string
                              x-value: ZipMerge
                            extra:
                              description: The city or the zip being used to segment against.
                              example: "30318"
                              title: Segment Extra
                              type: string
                            field:
                              description: An address or zip-type merge field to segment.
                              example: MMERGE2
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member's address merge field is within
                                a given distance from a city or zip.
                              enum:
                                - geoin
                              example: geoin
                              title: Segment Operator
                              type: string
                            value:
                              description: The distance from the city/zip.
                              example: "25"
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                            - value
                            - extra
                          title: Address/Zip Merge Field Segment
                          type: object
                        - description: Segment by a contact's birthday.
                          properties:
                            condition_type:
                              enum:
                                - BirthdayMerge
                              type: string
                              x-value: BirthdayMerge
                            field:
                              description: A date merge field to segment.
                              example: MMERGE4
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member's birthday merge information is/is
                                not a certain date or is/is not blank.
                              enum:
                                - is
                                - not
                                - blank
                                - blank_not
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: A date to segment against (mm/dd).
                              example: 01/30
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                          title: Birthday Merge Field Segment
                          type: object
                        - description: Segment by a given date merge field.
                          properties:
                            condition_type:
                              enum:
                                - DateMerge
                              type: string
                              x-value: DateMerge
                            field:
                              description: A date merge field to segment.
                              example: MMERGE5
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member's merge information is/is not,
                                is greater/less than a value or is/is not blank.
                              enum:
                                - is
                                - not
                                - less
                                - blank
                                - blank_not
                                - greater
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: A date to segment against.
                              example: 01/30/2015
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                          title: Date Merge Field Segment
                          type: object
                        - description: An individual segment condition
                          properties:
                            condition_type:
                              enum:
                                - SelectMerge
                              type: string
                              x-value: SelectMerge
                            field:
                              description: A merge field to segment.
                              example: MMERGE6
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member's merge information is/is not
                                a value or is/is not blank.
                              enum:
                                - is
                                - not
                                - blank
                                - blank_not
                                - notcontain
                                - contains
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: The value to segment a text merge field with.
                              example: Second Choice
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                          title: Dropdown/Radio Merge Field Segment
                          type: object
                        - description: Segment by a given text or number merge field.
                          properties:
                            condition_type:
                              enum:
                                - TextMerge
                              type: string
                              x-value: TextMerge
                            field:
                              description: A text or number merge field to segment.
                              example: MMERGE7
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the member's merge information is/is not,
                                contains/does not contain, starts/ends with, or is greater/less
                                than a value
                              enum:
                                - is
                                - not
                                - contains
                                - notcontain
                                - starts
                                - ends
                                - greater
                                - less
                                - blank
                                - blank_not
                              example: contains
                              title: Segment Operator
                              type: string
                            value:
                              description:
                                The value to segment a text or number merge field
                                with.
                              example: Freddie's Jokes
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                          title: Text or Number Merge Field Segment
                          type: object
                        - description: Segment by email address.
                          properties:
                            condition_type:
                              enum:
                                - EmailAddress
                              type: string
                              x-value: EmailAddress
                            field:
                              description: Segmenting based off of a subscriber's email address.
                              enum:
                                - merge0
                                - EMAIL
                              example: EMAIL
                              title: Segment Field
                              type: string
                            op:
                              description:
                                Whether the email address is/not exactly, contains/doesn't
                                contain, starts/ends with a string.
                              enum:
                                - is
                                - not
                                - contains
                                - notcontain
                                - starts
                                - ends
                                - greater
                                - less
                              title: Segment Operator
                              type: string
                            value:
                              description: The value to compare the email against.
                              example: urist.mcvankab@freddiesjokes.com
                              title: Segment Value
                              type: string
                          required:
                            - field
                            - op
                          title: Email Segment
                          type: object
                        - description: Segment by predicted gender.
                          properties:
                            condition_type:
                              enum:
                                - PredictedGender
                              type: string
                              x-value: PredictedGender
                            field:
                              description: Segment by predicted gender.
                              enum:
                                - predicted_gender
                              title: Segment Field
                              type: string
                            op:
                              description: Members who are/not the exact criteria listed.
                              enum:
                                - is
                                - not
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: The predicted gender to segment.
                              enum:
                                - male
                                - female
                              example: female
                              title: Segment Operator
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Predicted Gender Segment
                          type: object
                        - description: Segment by predicted age.
                          properties:
                            condition_type:
                              enum:
                                - PredictedAge
                              type: string
                              x-value: PredictedAge
                            field:
                              description: Segment by predicted age.
                              enum:
                                - predicted_age_range
                              title: Segment Field
                              type: string
                            op:
                              description: Members who are/not the exact criteria listed.
                              enum:
                                - is
                              example: is
                              title: Segment Operator
                              type: string
                            value:
                              description: The predicted age to segment.
                              enum:
                                - 18-24
                                - 25-34
                                - 35-44
                                - 45-54
                                - 55-64
                                - 65+
                              example: female
                              title: Segment Operator
                              type: string
                          required:
                            - field
                            - op
                            - value
                          title: Predicted Age Segment
                          type: object
                        - description: Segment by when people subscribed.
                          properties:
                            condition_type:
                              enum:
                                - NewSubscribers
                              type: string
                              x-value: NewSubscribers
                            field:
                              description: Segment by when people subscribed.
                              enum:
                                - timestamp_opt
                              title: Segment Field
                              type: string
                            op:
                              description: Whe the event took place, namely within a time frame.
                              enum:
                                - date_within
                              title: Segment Operator
                              type: string
                            value:
                              description: "What type of data to segment on: a specific date, a specific campaign, or the last campaign sent."
                              title: Segment Data
                              type: string
                          title: New Subscribers Prebuilt Segment
                          type: object
                      x-discriminator:
                        propertyName: condition_type
                    title: Segment Type
                    type: array
                  match:
                    description: Segment match type.
                    enum:
                      - any
                      - all
                    title: Match Type
                    type: string
                  prebuilt_segment_id:
                    description:
                      The prebuilt segment id, if a prebuilt segment has been designated
                      for this campaign.
                    example: subscribers-female
                    title: Prebuilt Segment Id
                    type: string
                  saved_segment_id:
                    description: The id for an existing saved segment.
                    title: Saved Segment ID
                    type: integer
                title: Segment Options
                type: object
              segment_text:
                description:
                  A description of the [segment](https://mailchimp.com/help/create-and-send-to-a-segment/)
                  used for the campaign. Formatted as a string marked up with HTML.
                readOnly: true
                title: Segment Text
                type:
                  - "null"
                  - string
            title: List
            type: object
          report_summary:
            description: For sent campaigns, a summary of opens, clicks, and e-commerce data.
            properties:
              click_rate:
                description:
                  The number of unique clicks divided by the total number of successful
                  deliveries.
                readOnly: true
                title: Click Rate
                type: number
              clicks:
                description: The total number of clicks for an campaign.
                readOnly: true
                title: Total Clicks
                type: integer
              ecommerce:
                description: E-Commerce stats for a campaign.
                properties:
                  total_orders:
                    description: The total orders for a campaign.
                    readOnly: true
                    title: Total Orders
                    type: integer
                  total_revenue:
                    description:
                      The total revenue for a campaign. Calculated as the sum of
                      all order totals minus shipping and tax totals.
                    readOnly: true
                    title: Total Revenue
                    type: number
                  total_spent:
                    description:
                      The total spent for a campaign. Calculated as the sum of
                      all order totals with no deductions.
                    readOnly: true
                    title: Total Spent
                    type: number
                title: E-Commerce Report
                type: object
              open_rate:
                description:
                  The number of unique opens divided by the total number of successful
                  deliveries.
                readOnly: true
                title: Open Rate
                type: number
              opens:
                description: The total number of opens for a campaign.
                readOnly: true
                title: Automation Opens
                type: integer
              subscriber_clicks:
                description: The number of unique clicks.
                readOnly: true
                title: Unique Subscriber Clicks
                type: integer
              unique_opens:
                description: The number of unique opens.
                readOnly: true
                title: Unique Opens
                type: integer
            title: Campaign Report Summary
            type: object
          resendable:
            description: Determines if the campaign qualifies to be resent to non-openers.
            readOnly: true
            title: Resendable
            type: boolean
          rss_opts:
            description: "[RSS](https://mailchimp.com/help/share-your-blog-posts-with-mailchimp/) options for a campaign."
            properties:
              constrain_rss_img:
                description:
                  Whether to add CSS to images in the RSS feed to constrain their
                  width in campaigns.
                title: Constrain RSS Images
                type: boolean
              feed_url:
                description: The URL for the RSS feed.
                format: uri
                title: Feed URL
[...]
