version: 0.65.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - bounces
streams:
  - type: DeclarativeStream
    name: bounces
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          created:
            type: number
          email:
            type: string
          reason:
            type: string
          status:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /suppression/bounces
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 500
          inject_on_first_request: true
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created
      cursor_datetime_formats:
        - '%s'
      datetime_format: '%s'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: end_time
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: P1M
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: spam_reports
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          created:
            type: integer
          email:
            type: string
          ip:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /suppression/spam_reports
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 500
          inject_on_first_request: true
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created
      cursor_datetime_formats:
        - '%s'
      datetime_format: '%s'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: end_time
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: P1M
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: global_suppressions
    primary_key:
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          created:
            type: number
          email:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /suppression/unsubscribes
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 500
          inject_on_first_request: true
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created
      cursor_datetime_formats:
        - '%s'
      datetime_format: '%s'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: end_time
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: P1M
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: blocks
    primary_key:
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          created:
            type: integer
          email:
            type: string
          reason:
            type: string
          status:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /suppression/blocks
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 500
          inject_on_first_request: true
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created
      cursor_datetime_formats:
        - '%s'
      datetime_format: '%s'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: end_time
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: P1M
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: invalid_emails
    primary_key:
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          created:
            type: integer
          email:
            type: string
          reason:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /suppression/invalid_emails
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 500
          inject_on_first_request: true
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created
      cursor_datetime_formats:
        - '%s'
      datetime_format: '%s'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: end_time
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: P1M
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: suppression_groups
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type: string
          id:
            type: number
          is_default:
            type: boolean
          name:
            type: string
          unsubscribes:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /asm/groups
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      partition_router: []
  - type: DeclarativeStream
    name: suppression_group_members
    primary_key:
      - group_id
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          created_at:
            type: number
          email:
            type: string
          group_id:
            type: number
          group_name:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /asm/suppressions
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 500
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      cursor_datetime_formats:
        - '%s'
      datetime_format: '%s'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: end_time
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: P1M
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: lists
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          _metadata:
            properties:
              self:
                type: string
            type: object
          contact_count:
            type: number
          id:
            type: string
          name:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /marketing/lists
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 1000
          cursor_value: >-
            {{ response['_metadata']['next'].replace('https://api.sendgrid.com',
            '') if response['_metadata'].get('next') else None }}
      partition_router: []
  - type: DeclarativeStream
    name: segments
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          contacts_count:
            type: number
          created_at:
            format: date-time
            type: string
          id:
            type: string
          name:
            type: string
          next_sample_update:
            format: date-time
            type: string
          parent_list_ids:
            items:
              type: string
            type:
              - array
              - 'null'
          query_version:
            type: string
          sample_updated_at:
            format: date-time
            type: string
          status:
            properties:
              query_validation:
                type: string
            type: object
          updated_at:
            format: date-time
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /marketing/segments/2.0
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: NoPagination
      partition_router: []
  - type: DeclarativeStream
    name: singlesend_stats
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          ab_phase:
            type: string
          ab_variation:
            type: string
          aggregation:
            type: string
          id:
            type: string
          stats:
            properties:
              bounce_drops:
                type: number
              bounces:
                type: number
              clicks:
                type: number
              delivered:
                type: number
              invalid_emails:
                type: number
              opens:
                type: number
              requests:
                type: number
              spam_report_drops:
                type: number
              spam_reports:
                type: number
              unique_clicks:
                type: number
              unique_opens:
                type: number
              unsubscribes:
                type: number
            type: object
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /marketing/stats/singlesends
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: >-
            {{ response['_metadata']['next'].replace('https://api.sendgrid.com',
            '') if response['_metadata'].get('next') else None }}
      partition_router: []
  - type: DeclarativeStream
    name: stats_automations
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          aggregation:
            type: string
          id:
            type: string
          stats:
            properties:
              bounce_drops:
                type: number
              bounces:
                type: number
              clicks:
                type: number
              delivered:
                type: number
              invalid_emails:
                type: number
              opens:
                type: number
              requests:
                type: number
              spam_report_drops:
                type: number
              spam_reports:
                type: number
              unique_clicks:
                type: number
              unique_opens:
                type: number
              unsubscribes:
                type: number
            type: object
          step_id:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /marketing/stats/automations
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: >-
            {{ response['_metadata']['next'].replace('https://api.sendgrid.com',
            '') if response['_metadata'].get('next') else None }}
      partition_router: []
  - type: DeclarativeStream
    name: singlesends
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          categories:
            items:
              type: string
            type: array
          created_at:
            type: string
            format: date-time
          id:
            type: string
          is_abtest:
            type: boolean
          name:
            type: string
          send_at:
            type:
              - 'null'
              - string
            format: date-time
          status:
            type: string
          updated_at:
            type: string
            format: date-time
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /marketing/singlesends
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: >-
            {{ response['_metadata']['next'].replace('https://api.sendgrid.com',
            '') if response['_metadata'].get('next') else None }}
      partition_router: []
  - type: DeclarativeStream
    name: templates
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          generation:
            type: string
          id:
            type: string
          name:
            type: string
          updated_at:
            type: string
            format: date-time
          versions:
            type: array
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /templates
        http_method: GET
        request_parameters:
          generations: legacy,dynamic
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 200
          cursor_value: >-
            {{ response['_metadata']['next'].replace('https://api.sendgrid.com',
            '') if response['_metadata'].get('next') else None }}
      partition_router: []
  - type: DeclarativeStream
    name: campaigns
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          channels:
            items:
              type: string
            type: array
          created_at:
            type: string
          id:
            type: string
          is_abtest:
            type: boolean
          name:
            type: string
          status:
            type: string
          updated_at:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.sendgrid.com/v3
        path: /marketing/campaigns
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: >-
            {{ response['_metadata']['next'].replace('https://api.sendgrid.com',
            '') if response['_metadata'].get('next') else None }}
      partition_router: []
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - start_date
      - api_key
    properties:
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 0
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 1
    additionalProperties: true
  type: Spec
metadata:
  autoImportSchema:
    bounces: true
    spam_reports: true
    global_suppressions: true
    blocks: true
    invalid_emails: true
    suppression_groups: true
    suppression_group_members: true
    lists: true
    segments: false
    singlesend_stats: true
    stats_automations: true
    singlesends: false
    templates: false
    campaigns: true
