version: 6.41.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - profiles

definitions:
  streams:
    profiles:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          use_cache: true
          $ref: "#/definitions/base_requester"
          path: v2/profiles?profileTypeFilter=seller,vendor
          http_method: GET
          request_headers:
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      name: profiles
      primary_key:
        - profileId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/profiles"
    profiles_filtered:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          use_cache: true
          $ref: "#/definitions/base_requester"
          path: v2/profiles?profileTypeFilter=seller,vendor
          http_method: GET
          request_headers:
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
          record_filter:
            type: RecordFilter
            condition: >-
              {{ record["profileId"] in config.get("profiles", []) or
              record["accountInfo"]["marketplaceStringId"] in
              config.get("marketplace_ids", []) if config.get("profiles", []) or
              config.get("marketplace_ids", []) else True }}
      name: profiles_filtered
      primary_key:
        - profileId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/profiles_filtered"
    portfolios:
      type: DeclarativeStream
      name: portfolios
      primary_key:
        - portfolioId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: portfolios/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            includeExtendedDataFields: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - portfolios
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"nextToken\", {}) }}"
            stop_condition: "{{ not response.get(\"nextToken\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - creationDate
              value: >-
                {{ (format_datetime(record['extendedData']['creationDateTime'],
                '%s') | int * 1000) +
                (format_datetime(record['extendedData']['creationDateTime'],
                '%f')[:3] | int) }}
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - lastUpdatedDate
              value: >-
                {{
                (format_datetime(record['extendedData']['lastUpdateDateTime'],
                '%s') | int * 1000) +
                (format_datetime(record['extendedData']['lastUpdateDateTime'],
                '%f')[:3] | int) }}
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - servingStatus
              value: "{{ record['extendedData']['servingStatus'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - statusReasons
              value: "{{ record['extendedData']['statusReasons'] }}"
        - type: RemoveFields
          field_pointers:
            - - extendedData
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/portfolios"
    sponsored_display_campaigns:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          request_params:
            stateFilter: "{{ ','.join(config['state_filter']) }}"
          $ref: "#/definitions/base_requester"
          path: sd/campaigns
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: startIndex
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: count
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      name: sponsored_display_campaigns
      primary_key:
        - campaignId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_campaigns"
    sponsored_display_ad_groups:
      type: DeclarativeStream
      name: sponsored_display_ad_groups
      primary_key:
        - adGroupId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/adGroups
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: startIndex
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: count
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_ad_groups"
    sponsored_display_product_ads:
      type: DeclarativeStream
      name: sponsored_display_product_ads
      primary_key:
        - adId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/productAds
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: startIndex
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: count
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_product_ads"
    sponsored_display_targetings:
      type: DeclarativeStream
      name: sponsored_display_targetings
      primary_key:
        - targetId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/targets
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: startIndex
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: count
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_targetings"
    sponsored_display_creatives:
      type: DeclarativeStream
      name: sponsored_display_creatives
      primary_key:
        - creativeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/creatives
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: startIndex
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: count
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_creatives"
    sponsored_display_budget_rules:
      type: DeclarativeStream
      name: sponsored_display_budget_rules
      primary_key:
        - ruleId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/budgetRules
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - budgetRulesForAdvertiserResponse
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: startIndex
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 30
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_budget_rules"
    sponsored_brands_keywords:
      type: DeclarativeStream
      name: sponsored_brands_keywords
      primary_key:
        - adGroupId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sb/keywords
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: startIndex
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: count
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_brands_keywords"
    sponsored_brands_campaigns:
      type: DeclarativeStream
      name: sponsored_brands_campaigns
      primary_key:
        - campaignId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sb/v4/campaigns/list
          http_method: POST
          request_headers:
            Accept: application/vnd.sbcampaignresource.v4+json
            Content-Type: application/vnd.sbcampaignresource.v4+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            stateFilter: " {{ {'include': ','.join(config['state_filter'])} if config['state_filter'] else None }} "
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_brands_campaigns"
    sponsored_brands_ad_groups:
      type: DeclarativeStream
      name: sponsored_brands_ad_groups
      primary_key:
        - adGroupId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sb/v4/adGroups/list
          http_method: POST
          request_headers:
            Accept: application/vnd.sbadgroupresource.v4+json
            Content-Type: application/vnd.sbadgroupresource.v4+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - adGroups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_brands_ad_groups"
    sponsored_product_campaigns:
      type: DeclarativeStream
      name: sponsored_product_campaigns
      primary_key:
        - campaignId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/campaigns/list
          http_method: POST
          request_headers:
            Accept: application/vnd.spCampaign.v3+json
            Content-Type: application/vnd.spCampaign.v3+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            stateFilter: " {{ {'include': ','.join(config['state_filter'])} if config['state_filter'] else None }} "
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_campaigns"
    sponsored_product_ad_groups:
      type: DeclarativeStream
      name: sponsored_product_ad_groups
      primary_key:
        - adGroupId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sp/adGroups/list
          http_method: POST
          request_headers:
            Accept: application/vnd.spAdGroup.v3+json
            Content-Type: application/vnd.spAdGroup.v3+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - adGroups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_ad_groups"
    sponsored_product_keywords:
      type: DeclarativeStream
      name: sponsored_product_keywords
      primary_key:
        - keywordId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/keywords/list
          http_method: POST
          request_headers:
            Accept: application/vnd.spKeyword.v3+json
            Content-Type: application/vnd.spKeyword.v3+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - keywords
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_keywords"
    sponsored_product_negative_keywords:
      type: DeclarativeStream
      name: sponsored_product_negative_keywords
      primary_key:
        - keywordId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/negativeKeywords/list
          http_method: POST
          request_headers:
            Accept: application/vnd.spNegativeKeyword.v3+json
            Content-Type: application/vnd.spNegativeKeyword.v3+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - negativeKeywords
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_negative_keywords"
    sponsored_product_campaign_negative_keywords:
      type: DeclarativeStream
      name: sponsored_product_campaign_negative_keywords
      primary_key:
        - keywordId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/campaignNegativeKeywords/list
          http_method: POST
          request_headers:
            Accept: application/vnd.spCampaignNegativeKeyword.v3+json
            Content-Type: application/vnd.spCampaignNegativeKeyword.v3+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaignNegativeKeywords
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_campaign_negative_keywords"
    sponsored_product_ads:
      type: DeclarativeStream
      name: sponsored_product_ads
      primary_key:
        - adId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/productAds/list
          http_method: POST
          request_headers:
            Accept: application/vnd.spProductAd.v3+json
            Content-Type: application/vnd.spProductAd.v3+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - productAds
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_ads"
    sponsored_product_targetings:
      type: DeclarativeStream
      name: sponsored_product_targetings
      primary_key:
        - targetId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/targets/list
          http_method: POST
          request_headers:
            Accept: application/vnd.spTargetingClause.v3+json
            Content-Type: application/vnd.spTargetingClause.v3+json
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - targetingClauses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_targetings"
    sponsored_product_ad_group_bid_recommendations:
      type: DeclarativeStream
      name: sponsored_product_ad_group_bid_recommendations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sp/targets/bid/recommendations
          http_method: POST
          request_headers:
            Accept: application/vnd.spthemebasedbidrecommendation.v4+json
            Content-Type: application/vnd.spthemebasedbidrecommendation.v4+json
            Amazon-Advertising-API-Scope: "{{ stream_slice.parent_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            adGroupId: "{{ stream_slice[\"adGroupId\"] }}"
            campaignId: "{{ stream_slice.extra_fields[\"campaignId\"] }}"
            recommendationType: BIDS_FOR_EXISTING_AD_GROUP
            targetingExpressions:
              - type: CLOSE_MATCH
              - type: LOOSE_MATCH
              - type: SUBSTITUTES
              - type: COMPLEMENTS
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 400
                error_message: >-
                  Skip current AdGroup because it does not support request
                  {response.request.url} for current profile
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 422
                error_message: >-
                  Skip current AdGroup because the ad group
                  {json.loads(response.request.body)['adGroupId']} does not have
                  any asins
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 404
                error_message: >-
                  Skip current AdGroup because the specified ad group has no
                  associated bid
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/sponsored_product_ad_groups"
              parent_key: adGroupId
              extra_fields:
                - - campaignId
              partition_field: adGroupId
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - adGroupId
              value: "{{ stream_slice[\"adGroupId\"] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaignId
              value: "{{ stream_slice.extra_fields[\"campaignId\"] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_ad_group_bid_recommendations"
    sponsored_product_ad_group_suggested_keywords:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          request_params:
            maxNumSuggestions: 100
          $ref: "#/definitions/base_requester"
          path: v2/sp/adGroups/{{ stream_slice['adGroupId'] }}/suggested/keywords
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice.parent_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 400
                error_message: >-
                  Skip current AdGroup because it does not support request
                  {response.request.url} for current profile
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 422
                error_message: >-
                  Skip current AdGroup because the ad group
                  {json.loads(response.request.body)['adGroupId']} does not have
                  any asins
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 404
                error_message: >-
                  Skip current AdGroup because the specified ad group has no
                  associated bid
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/sponsored_product_ad_groups"
              parent_key: adGroupId
              extra_fields:
                - - campaignId
              partition_field: adGroupId
      name: sponsored_product_ad_group_suggested_keywords
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_product_ad_group_suggested_keywords"
    attribution_report_products:
      type: DeclarativeStream
      name: attribution_report_products
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /attribution/report
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            endDate: >-
              "{{
              format_datetime(today_with_timezone(stream_slice.extra_fields['timezone']).strftime('%Y%m%d'),
              '%Y%m%d', '%Y%m%d') }}"
            metrics: |
              {{
                ','.join([
                'attributedDetailPageViewsClicks14d',
                'attributedAddToCartClicks14d',
                'attributedPurchases14d',
                'unitsSold14d',
                'attributedSales14d',
                'brandHaloDetailPageViewsClicks14d',
                'brandHaloAttributedAddToCartClicks14d',
                'brandHaloAttributedPurchases14d',
                'brandHaloUnitsSold14d',
                'brandHaloAttributedSales14d',
                'attributedNewToBrandPurchases14d',
                'attributedNewToBrandUnitsSold14d',
                'attributedNewToBrandSales14d',
                'brandHaloNewToBrandPurchases14d',
                'brandHaloNewToBrandUnitsSold14d',
                'brandHaloNewToBrandSales14d',
                ])
              }}
            startDate: >-
              {%- set _start_date = config.get("start_date") -%} {%- set
              start_date =
              today_with_timezone(stream_slice.extra_fields["timezone"]) -%} {%-
              set end_date =
              today_with_timezone(stream_slice.extra_fields["timezone"]) -%} "{{
              start_date.strftime("%Y%m%d") if not config.get("start_date") else
              max(format_datetime(config['start_date'], "%Y%m%d"), (end_date -
              duration("P90D")).strftime("%Y%m%d")) | string }}"
            reportType: PRODUCTS
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                predicate: >-
                  {{ response.message == "This profileID is not authorized to
                  use Amazon Attribution" }}
                error_message: "{{ response }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
              - type: HttpResponseFilter
                action: IGNORE
                predicate: "{{ 'code' in response and 'details' in response }}"
                error_message: "{{ response.code }}; {{ response.details }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reports
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursorId
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: count
          pagination_strategy:
            type: CursorPagination
            page_size: 300
            cursor_value: "{{ response.cursorId }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
              parent_key: profileId
              extra_fields:
                - - timezone
              partition_field: profileId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attribution_report_products"
    attribution_report_performance_adgroup:
      type: DeclarativeStream
      name: attribution_report_performance_adgroup
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /attribution/report
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            endDate: >-
              "{{
              format_datetime(today_with_timezone(stream_slice.extra_fields['timezone']).strftime('%Y%m%d'),
              '%Y%m%d', '%Y%m%d') }}"
            groupBy: ADGROUP
            metrics: |
              {{
                ','.join([
                'Click-throughs',
                'attributedDetailPageViewsClicks14d',
                'attributedAddToCartClicks14d',
                'attributedPurchases14d',
                'unitsSold14d',
                'attributedSales14d',
                'attributedTotalDetailPageViewsClicks14d',
                'attributedTotalAddToCartClicks14d',
                'attributedTotalPurchases14d',
                'totalUnitsSold14d',
                'totalAttributedSales14d',
                'brb_bonus_amount'
                ])
              }}
            startDate: >-
              {%- set _start_date = config.get("start_date") -%} {%- set
              start_date =
              today_with_timezone(stream_slice.extra_fields["timezone"]) -%} {%-
              set end_date =
              today_with_timezone(stream_slice.extra_fields["timezone"]) -%} "{{
              start_date.strftime("%Y%m%d") if not config.get("start_date") else
              max(format_datetime(config['start_date'], "%Y%m%d"), (end_date -
              duration("P90D")).strftime("%Y%m%d")) | string }}"
            reportType: PERFORMANCE
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 400
                error_message: "{{ response }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reports
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursorId
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: count
          pagination_strategy:
            type: CursorPagination
            page_size: 300
            cursor_value: "{{ response.cursorId }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
              parent_key: profileId
              extra_fields:
                - - timezone
              partition_field: profileId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attribution_report_performance_adgroup"
    attribution_report_performance_campaign:
      type: DeclarativeStream
      name: attribution_report_performance_campaign
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /attribution/report
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            endDate: >-
              "{{
              format_datetime(today_with_timezone(stream_slice.extra_fields['timezone']).strftime('%Y%m%d'),
              '%Y%m%d', '%Y%m%d') }}"
            groupBy: CAMPAIGN
            metrics: |
              {{
                ','.join([
                'Click-throughs',
                'attributedDetailPageViewsClicks14d',
                'attributedAddToCartClicks14d',
                'attributedPurchases14d',
                'unitsSold14d',
                'attributedSales14d',
                'attributedTotalDetailPageViewsClicks14d',
                'attributedTotalAddToCartClicks14d',
                'attributedTotalPurchases14d',
                'totalUnitsSold14d',
                'totalAttributedSales14d',
                'brb_bonus_amount'
                ])
              }}
            startDate: >-
              {%- set _start_date = config.get("start_date") -%} {%- set
              start_date =
              today_with_timezone(stream_slice.extra_fields["timezone"]) -%} {%-
              set end_date =
              today_with_timezone(stream_slice.extra_fields["timezone"]) -%} "{{
              start_date.strftime("%Y%m%d") if not config.get("start_date") else
              max(format_datetime(config['start_date'], "%Y%m%d"), (end_date -
              duration("P90D")).strftime("%Y%m%d")) | string }}"
            reportType: PERFORMANCE
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 400
                error_message: "{{ response }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reports
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursorId
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: count
          pagination_strategy:
            type: CursorPagination
            page_size: 300
            cursor_value: "{{ response.cursorId }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
              parent_key: profileId
              extra_fields:
                - - timezone
              partition_field: profileId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attribution_report_performance_campaign"
    attribution_report_performance_creative:
      type: DeclarativeStream
      name: attribution_report_performance_creative
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /attribution/report
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            endDate: >-
              "{{
              format_datetime(today_with_timezone(stream_slice.extra_fields['timezone']).strftime('%Y%m%d'),
              '%Y%m%d', '%Y%m%d') }}"
            groupBy: CREATIVE
            metrics: |
              {{
                ','.join([
                'Click-throughs',
                'attributedDetailPageViewsClicks14d',
                'attributedAddToCartClicks14d',
                'attributedPurchases14d',
                'unitsSold14d',
                'attributedSales14d',
                'attributedTotalDetailPageViewsClicks14d',
                'attributedTotalAddToCartClicks14d',
                'attributedTotalPurchases14d',
                'totalUnitsSold14d',
                'totalAttributedSales14d',
                ])
              }}
            startDate: >-
              {%- set _start_date = config.get("start_date") -%} {%- set
              start_date =
              today_with_timezone(stream_slice.extra_fields["timezone"]) -%} {%-
              set end_date =
              today_with_timezone(stream_slice.extra_fields["timezone"]) -%} "{{
              start_date.strftime("%Y%m%d") if not config.get("start_date") else
              max(format_datetime(config['start_date'], "%Y%m%d"), (end_date -
              duration("P90D")).strftime("%Y%m%d")) | string }}"
            reportType: PERFORMANCE
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 400
                error_message: "{{ response }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'message' in response }}"
                error_message: "{{ response.message }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reports
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursorId
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: count
          pagination_strategy:
            type: CursorPagination
            page_size: 300
            cursor_value: "{{ response.cursorId }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
              parent_key: profileId
              extra_fields:
                - - timezone
              partition_field: profileId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attribution_report_performance_creative"
    sponsored_brands_v3_report_stream:
      type: DeclarativeStream
      name: sponsored_brands_v3_report_stream
      retriever:
        type: AsyncRetriever
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        status_mapping:
          failed:
            - FAILED
          running:
            - PENDING
            - PROCESSING
          timeout:
            - timeout
          completed:
            - COMPLETED
        status_extractor:
          type: DpathExtractor
          field_path:
            - status
        download_target_extractor:
          type: DpathExtractor
          field_path:
            - url
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
        creation_requester:
          type: HttpRequester
          url_base: |-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]] }}/reporting/reports
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            name: purchasedAsin report {{ stream_interval.start_time }}
            endDate: "{{ stream_interval.end_time }}"
            startDate: "{{ stream_interval.start_time }}"
            configuration:
              format: GZIP_JSON
              columns:
                - campaignBudgetCurrencyCode
                - campaignName
                - adGroupName
                - attributionType
                - purchasedAsin
                - productName
                - productCategory
                - sales14d
                - orders14d
                - unitsSold14d
                - newToBrandSales14d
                - newToBrandPurchases14d
                - newToBrandUnitsSold14d
                - newToBrandSalesPercentage14d
                - newToBrandPurchasesPercentage14d
                - newToBrandUnitsSoldPercentage14d
              filters: []
              groupBy:
                - purchasedAsin
              timeUnit: SUMMARY
              adProduct: SPONSORED_BRANDS
              reportTypeId: sbPurchasedProduct
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'KDP authors do not have access to Sponsored Brands
                  functionality' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Not authorized to access scope' in response.details }}"
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'Tactic T00020 is not supported for report API in
                  marketplace' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Report date is too far in the past' in response.details }}"
                error_message: "{{ response.details }}"
        polling_requester:
          type: HttpRequester
          url_base: >-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]]
            }}/reporting/reports/{{stream_slice['create_job_response'].json()['reportId']}}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: >-
              {{
              stream_slice['create_job_response'].request.headers['Amazon-Advertising-API-Scope']
              }}
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 401
                    error_message: >-
                      Unauthorized error while report status checking. Known
                      error. Please, retry the request or restart sync.
        download_requester:
          type: HttpRequester
          url_base: test_base/{{stream_slice.extra_fields['url']}}
          http_method: GET
      primary_key:
        - profileId
        - reportDate
        - adGroupName
        - purchasedAsin
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: reportDate
        lookback_window: P{{ config.get('look_back_window', 3) }}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', today_utc().strftime('%Y-%m-%d') ) }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P{{ config.get('events_time_step', 30) }}D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - reportDate
              value: "{{ stream_interval.end_time }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - profileId
              value: "{{ stream_partition['profileId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_brands_v3_report_stream"
    sponsored_display_campaigns_report_stream:
      type: DeclarativeStream
      name: sponsored_display_campaigns_report_stream
      retriever:
        type: AsyncRetriever
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        status_mapping:
          failed:
            - FAILED
          running:
            - PENDING
            - PROCESSING
          timeout:
            - timeout
          completed:
            - COMPLETED
        status_extractor:
          type: DpathExtractor
          field_path:
            - status
        download_target_extractor:
          type: DpathExtractor
          field_path:
            - url
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
        creation_requester:
          type: HttpRequester
          url_base: |-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]] }}/reporting/reports
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            name: campaigns report {{ stream_interval.start_time }}
            endDate: "{{ stream_interval.end_time }}"
            startDate: "{{ stream_interval.start_time }}"
            configuration:
              format: GZIP_JSON
              columns:
                - addToCart
                - addToCartClicks
                - addToCartRate
                - addToCartViews
                - addToList
                - addToListFromClicks
                - addToListFromViews
                - qualifiedBorrows
                - qualifiedBorrowsFromClicks
                - qualifiedBorrowsFromViews
                - royaltyQualifiedBorrows
                - royaltyQualifiedBorrowsFromClicks
                - royaltyQualifiedBorrowsFromViews
                - brandedSearches
                - brandedSearchesClicks
                - brandedSearchesViews
                - brandedSearchRate
                - campaignBudgetCurrencyCode
                - campaignId
                - campaignName
                - clicks
                - cost
                - detailPageViews
                - detailPageViewsClicks
                - eCPAddToCart
                - eCPBrandSearch
                - endDate
                - impressions
                - impressionsViews
                - leadFormOpens
                - leads
                - linkOuts
                - newToBrandPurchases
                - newToBrandPurchasesClicks
                - newToBrandSalesClicks
                - newToBrandUnitsSold
                - newToBrandUnitsSoldClicks
                - purchases
                - purchasesClicks
                - purchasesPromotedClicks
                - sales
                - salesClicks
                - salesPromotedClicks
                - startDate
                - unitsSold
                - unitsSoldClicks
                - videoCompleteViews
                - videoFirstQuartileViews
                - videoMidpointViews
                - videoThirdQuartileViews
                - videoUnmutes
                - viewabilityRate
                - viewClickThroughRate
                - campaignBudgetAmount
                - campaignStatus
                - costType
                - cumulativeReach
                - impressionsFrequencyAverage
                - newToBrandDetailPageViewClicks
                - newToBrandDetailPageViewRate
                - newToBrandDetailPageViews
                - newToBrandDetailPageViewViews
                - newToBrandECPDetailPageView
                - newToBrandSales
              filters: []
              groupBy:
                - campaign
              timeUnit: SUMMARY
              adProduct: SPONSORED_DISPLAY
              reportTypeId: sdCampaigns
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'KDP authors do not have access to Sponsored Brands
                  functionality' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Not authorized to access scope' in response.details }}"
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'Tactic T00020 is not supported for report API in
                  marketplace' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Report date is too far in the past' in response.details }}"
                error_message: "{{ response.details }}"
        polling_requester:
          type: HttpRequester
          url_base: >-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]]
            }}/reporting/reports/{{stream_slice['create_job_response'].json()['reportId']}}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: >-
              {{
              stream_slice['create_job_response'].request.headers['Amazon-Advertising-API-Scope']
              }}
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 401
                    error_message: >-
                      Unauthorized error while report status checking. Known
                      error. Please, retry the request or restart sync.
        download_requester:
          type: HttpRequester
          url_base: test_base/{{stream_slice.extra_fields['url']}}
          http_method: GET
      primary_key:
        - profileId
        - reportDate
        - campaignId
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: reportDate
        lookback_window: P{{ config.get('look_back_window', 3) }}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', today_utc().strftime('%Y-%m-%d') ) }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P{{ config.get('events_time_step', 30) }}D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - reportDate
              value: "{{ stream_interval.end_time }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - profileId
              value: "{{ stream_partition['profileId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_campaigns_report_stream"
    sponsored_display_adgroups_report_stream:
      type: DeclarativeStream
      name: sponsored_display_adgroups_report_stream
      retriever:
        type: AsyncRetriever
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        status_mapping:
          failed:
            - FAILED
          running:
            - PENDING
            - PROCESSING
          timeout:
            - timeout
          completed:
            - COMPLETED
        status_extractor:
          type: DpathExtractor
          field_path:
            - status
        download_target_extractor:
          type: DpathExtractor
          field_path:
            - url
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
        creation_requester:
          type: HttpRequester
          url_base: |-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]] }}/reporting/reports
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            name: adGroups report {{ stream_interval.start_time }}
            endDate: "{{ stream_interval.end_time }}"
            startDate: "{{ stream_interval.start_time }}"
            configuration:
              format: GZIP_JSON
              columns:
                - addToCart
                - addToCartClicks
                - addToCartRate
                - addToCartViews
                - adGroupId
                - adGroupName
                - addToList
                - addToListFromClicks
                - addToListFromViews
                - qualifiedBorrows
                - qualifiedBorrowsFromClicks
                - qualifiedBorrowsFromViews
                - royaltyQualifiedBorrows
                - royaltyQualifiedBorrowsFromClicks
                - royaltyQualifiedBorrowsFromViews
                - bidOptimization
                - brandedSearches
                - brandedSearchesClicks
                - brandedSearchesViews
                - brandedSearchRate
                - campaignBudgetCurrencyCode
                - campaignId
                - campaignName
                - clicks
                - cost
                - detailPageViews
                - detailPageViewsClicks
                - eCPAddToCart
                - eCPBrandSearch
                - endDate
                - impressions
                - impressionsViews
                - leadFormOpens
                - leads
                - linkOuts
                - newToBrandPurchases
                - newToBrandPurchasesClicks
                - newToBrandSales
                - newToBrandSalesClicks
                - newToBrandUnitsSold
                - newToBrandUnitsSoldClicks
                - purchases
                - purchasesClicks
                - purchasesPromotedClicks
                - sales
                - salesClicks
                - salesPromotedClicks
                - startDate
                - unitsSold
                - unitsSoldClicks
                - videoCompleteViews
                - videoFirstQuartileViews
                - videoMidpointViews
                - videoThirdQuartileViews
                - videoUnmutes
                - viewabilityRate
                - viewClickThroughRate
                - cumulativeReach
                - impressionsFrequencyAverage
                - newToBrandDetailPageViewClicks
                - newToBrandDetailPageViewRate
                - newToBrandDetailPageViews
                - newToBrandDetailPageViewViews
                - newToBrandECPDetailPageView
              filters: []
              groupBy:
                - adGroup
              timeUnit: SUMMARY
              adProduct: SPONSORED_DISPLAY
              reportTypeId: sdAdGroup
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'KDP authors do not have access to Sponsored Brands
                  functionality' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Not authorized to access scope' in response.details }}"
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'Tactic T00020 is not supported for report API in
                  marketplace' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Report date is too far in the past' in response.details }}"
                error_message: "{{ response.details }}"
        polling_requester:
          type: HttpRequester
          url_base: >-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]]
            }}/reporting/reports/{{stream_slice['create_job_response'].json()['reportId']}}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: >-
              {{
              stream_slice['create_job_response'].request.headers['Amazon-Advertising-API-Scope']
              }}
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 401
                    error_message: >-
                      Unauthorized error while report status checking. Known
                      error. Please, retry the request or restart sync.
        download_requester:
          type: HttpRequester
          url_base: test_base/{{stream_slice.extra_fields['url']}}
          http_method: GET
      primary_key:
        - profileId
        - reportDate
        - adGroupName
        - adGroupId
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: reportDate
        lookback_window: P{{ config.get('look_back_window', 3) }}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', today_utc().strftime('%Y-%m-%d') ) }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P{{ config.get('events_time_step', 30) }}D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - reportDate
              value: "{{ stream_interval.end_time }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - profileId
              value: "{{ stream_partition['profileId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_adgroups_report_stream"
    sponsored_display_productads_report_stream:
      type: DeclarativeStream
      name: sponsored_display_productads_report_stream
      retriever:
        type: AsyncRetriever
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        status_mapping:
          failed:
            - FAILED
          running:
            - PENDING
            - PROCESSING
          timeout:
            - timeout
          completed:
            - COMPLETED
        status_extractor:
          type: DpathExtractor
          field_path:
            - status
        download_target_extractor:
          type: DpathExtractor
          field_path:
            - url
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
        creation_requester:
          type: HttpRequester
          url_base: |-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]] }}/reporting/reports
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            name: productAds report {{ stream_interval.start_time }}
            endDate: "{{ stream_interval.end_time }}"
            startDate: "{{ stream_interval.start_time }}"
            configuration:
              format: GZIP_JSON
              columns:
                - addToCart
                - addToCartRate
                - addToCartViews
                - addToCartClicks
                - adGroupId
                - adGroupName
                - adId
                - addToList
                - addToListFromClicks
                - qualifiedBorrows
                - royaltyQualifiedBorrows
                - addToListFromViews
                - qualifiedBorrowsFromClicks
                - qualifiedBorrowsFromViews
                - royaltyQualifiedBorrowsFromClicks
                - royaltyQualifiedBorrowsFromViews
                - bidOptimization
                - brandedSearches
                - brandedSearchesClicks
                - brandedSearchesViews
                - brandedSearchRate
                - campaignBudgetCurrencyCode
                - campaignId
                - campaignName
                - clicks
                - cost
                - cumulativeReach
                - detailPageViews
                - detailPageViewsClicks
                - eCPAddToCart
                - eCPBrandSearch
                - endDate
                - impressions
                - impressionsFrequencyAverage
                - impressionsViews
                - leadFormOpens
                - leads
                - linkOuts
                - newToBrandDetailPageViewClicks
                - newToBrandDetailPageViewRate
                - newToBrandDetailPageViews
                - newToBrandDetailPageViewViews
                - newToBrandECPDetailPageView
                - newToBrandPurchases
                - newToBrandPurchasesClicks
                - newToBrandSales
                - newToBrandSalesClicks
                - newToBrandUnitsSold
                - newToBrandUnitsSoldClicks
                - promotedAsin
                - promotedSku
                - purchases
                - purchasesClicks
                - purchasesPromotedClicks
                - sales
                - salesClicks
                - salesPromotedClicks
                - startDate
                - unitsSold
                - unitsSoldClicks
                - videoCompleteViews
                - videoFirstQuartileViews
                - videoMidpointViews
                - videoThirdQuartileViews
                - videoUnmutes
                - viewabilityRate
                - viewClickThroughRate
              filters: []
              groupBy:
                - advertiser
              timeUnit: SUMMARY
              adProduct: SPONSORED_DISPLAY
              reportTypeId: sdAdvertisedProduct
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'KDP authors do not have access to Sponsored Brands
                  functionality' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Not authorized to access scope' in response.details }}"
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'Tactic T00020 is not supported for report API in
                  marketplace' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Report date is too far in the past' in response.details }}"
                error_message: "{{ response.details }}"
        polling_requester:
          type: HttpRequester
          url_base: >-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]]
            }}/reporting/reports/{{stream_slice['create_job_response'].json()['reportId']}}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: >-
              {{
              stream_slice['create_job_response'].request.headers['Amazon-Advertising-API-Scope']
              }}
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 401
                    error_message: >-
                      Unauthorized error while report status checking. Known
                      error. Please, retry the request or restart sync.
        download_requester:
          type: HttpRequester
          url_base: test_base/{{stream_slice.extra_fields['url']}}
          http_method: GET
      primary_key:
        - profileId
        - reportDate
        - adGroupName
        - adId
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: reportDate
        lookback_window: P{{ config.get('look_back_window', 3) }}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', today_utc().strftime('%Y-%m-%d') ) }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P{{ config.get('events_time_step', 30) }}D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - reportDate
              value: "{{ stream_interval.end_time }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - profileId
              value: "{{ stream_partition['profileId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_productads_report_stream"
    sponsored_display_targets_report_stream:
      type: DeclarativeStream
      name: sponsored_display_targets_report_stream
      retriever:
        type: AsyncRetriever
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        status_mapping:
          failed:
            - FAILED
          running:
            - PENDING
            - PROCESSING
          timeout:
            - timeout
          completed:
            - COMPLETED
        status_extractor:
          type: DpathExtractor
          field_path:
            - status
        download_target_extractor:
          type: DpathExtractor
          field_path:
            - url
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: profileId
              partition_field: profileId
              stream:
                $ref: "#/definitions/streams/profiles_filtered"
        creation_requester:
          type: HttpRequester
          url_base: |-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]] }}/reporting/reports
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_partition['profileId'] }}"
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          request_body_json:
            name: targets report {{ stream_interval.start_time }}
            endDate: "{{ stream_interval.end_time }}"
            startDate: "{{ stream_interval.start_time }}"
            configuration:
              format: GZIP_JSON
              columns:
                - addToCart
                - addToCartClicks
                - addToCartRate
                - addToCartViews
                - adGroupId
                - adGroupName
                - addToList
                - addToListFromClicks
                - addToListFromViews
                - qualifiedBorrows
                - qualifiedBorrowsFromClicks
                - qualifiedBorrowsFromViews
                - royaltyQualifiedBorrows
                - royaltyQualifiedBorrowsFromClicks
                - royaltyQualifiedBorrowsFromViews
                - brandedSearches
                - brandedSearchesClicks
                - brandedSearchesViews
                - brandedSearchRate
                - campaignBudgetCurrencyCode
                - campaignId
                - campaignName
                - clicks
                - cost
                - detailPageViews
                - detailPageViewsClicks
                - eCPAddToCart
                - eCPBrandSearch
                - endDate
                - impressions
                - impressionsViews
                - leadFormOpens
                - leads
                - linkOuts
                - newToBrandPurchases
                - newToBrandPurchasesClicks
                - newToBrandSales
                - newToBrandSalesClicks
                - newToBrandUnitsSold
                - newToBrandUnitsSoldClicks
                - purchases
                - purchasesClicks
                - purchasesPromotedClicks
                - sales
                - salesClicks
                - salesPromotedClicks
                - startDate
                - targetingExpression
                - targetingId
                - targetingText
                - unitsSold
                - unitsSoldClicks
                - videoCompleteViews
                - videoFirstQuartileViews
                - videoMidpointViews
                - videoThirdQuartileViews
                - videoUnmutes
                - viewabilityRate
                - viewClickThroughRate
              filters: []
              groupBy:
                - targeting
              timeUnit: SUMMARY
              adProduct: SPONSORED_DISPLAY
              reportTypeId: sdTargeting
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'KDP authors do not have access to Sponsored Brands
                  functionality' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Not authorized to access scope' in response.details }}"
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: >-
                  {{ 'Tactic T00020 is not supported for report API in
                  marketplace' in response.details }}
                error_message: "{{ response.details }}"
              - type: HttpResponseFilter
                action: FAIL
                predicate: "{{ 'Report date is too far in the past' in response.details }}"
                error_message: "{{ response.details }}"
        polling_requester:
          type: HttpRequester
          url_base: >-
            {%- set URL_MAPPING = {
                "NA": "https://advertising-api.amazon.com/",
                "EU": "https://advertising-api-eu.amazon.com/",
                "FE": "https://advertising-api-fe.amazon.com/"
            } -%} {{ URL_MAPPING[config["region"]]
            }}/reporting/reports/{{stream_slice['create_job_response'].json()['reportId']}}
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: refresh_token
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_token: "{{ config[\"refresh_token\"] }}"
            refresh_request_body: {}
            token_refresh_endpoint: https://api.amazon.com/auth/o2/token
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: >-
              {{
              stream_slice['create_job_response'].request.headers['Amazon-Advertising-API-Scope']
              }}
            Amazon-Advertising-API-ClientId: "{{ config[\"client_id\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 401
                    error_message: >-
                      Unauthorized error while report status checking. Known
                      error. Please, retry the request or restart sync.
        download_requester:
          type: HttpRequester
          url_base: test_base/{{stream_slice.extra_fields['url']}}
          http_method: GET
      primary_key:
        - profileId
        - reportDate
        - adGroupName
        - targetingId
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: reportDate
        lookback_window: P{{ config.get('look_back_window', 3) }}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', today_utc().strftime('%Y-%m-%d') ) }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: body_json
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P{{ config.get('events_time_step', 30) }}D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - reportDate
              value: "{{ stream_interval.end_time }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - profileId
              value: "{{ stream_partition['profileId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sponsored_display_targets_report_stream"
    sponsored_display_asins_report_stream:
      type: DeclarativeStream
      name: sponsored_display_asins_report_stream
      retriever:
        type: AsyncRetriever
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
[...]
