version: 4.3.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - workers

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["data"]
    schema_normalization: Default

  requester:
    type: HttpRequester
    url_base: "https://{{ config['host'] }}/api/{{ parameters.get('space', 'common') }}/v1/{{ config['tenant_id'] }}"
    http_method: "GET"
    request_parameters:
      limit: "100"
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['credentials']['access_token'] }}"
    error_handler:
      type: DefaultErrorHandler
      response_filters:
        - http_codes: [403]
          action: FAIL
          failure_type: config_error
          error_message: "The user has insufficient permissions to read stream data."

  retriever:
    type: SimpleRetriever
    record_selector:
      $ref: "#/definitions/selector"
    paginator:
      type: "DefaultPaginator"
      pagination_strategy:
        type: "OffsetIncrement"
        page_size: 100
      page_token_option:
        type: "RequestOption"
        field_name: "offset"
        inject_into: "request_parameter"
    requester:
      $ref: "#/definitions/requester"

  base_stream:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/retriever"

  # for worker related streams
  retriever_by_worker:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: worker_id
          stream: "#/definitions/streams/workers_stream"

  #client side inr
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: "{{ parameters['cursor_field']}}"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    cursor_datetime_formats:
      - "%Y-%m-%d"
      - "%Y-%m-%dT%H:%M:%S.%fZ"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config.get('start_date', day_delta(-730, '%Y-%m-%dT%H:%M:%S.%fZ')) }}"
    is_client_side_incremental: true

  streams:
    # https://community.workday.com/sites/default/files/file-hosting/restapi/#common/v1/organizations
    organizations_stream:
      $ref: "#/definitions/base_stream"
      name: "organizations"
      primary_key: "id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/organizations"
      $parameters:
        path: "/organizations"
    # https://community.workday.com/sites/default/files/file-hosting/restapi/#common/v1/get-/workers
    workers_stream:
      $ref: "#/definitions/base_stream"
      name: "workers"
      primary_key: "id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/workers"
      $parameters:
        path: "/workers"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/index.html#common/v1/get-/workers/-ID-/directReports
    workers_direct_reports_stream:
      type: DeclarativeStream
      name: "workers_direct_reports"
      primary_key: "id"
      $parameters:
        path: "/workers/{{ stream_partition.worker_id }}/directReports"
      retriever:
        $ref: "#/definitions/retriever_by_worker"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/workers_direct_reports"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/index.html#common/v1/get-/workers/-ID-/directReports
    workers_history_stream:
      type: DeclarativeStream
      name: "workers_history"
      primary_key: "id"
      $parameters:
        path: "/workers/{{ stream_partition.worker_id }}/history"
      retriever:
        $ref: "#/definitions/retriever_by_worker"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/workers_history"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/index.html#common/v1/get-/workers/-ID-/paySlips
    workers_payslips_stream:
      type: DeclarativeStream
      name: "workers_payslips"
      primary_key: "id"
      $parameters:
        path: "/workers/{{ stream_partition.worker_id }}/paySlips"
        cursor_field: "date"
      retriever:
        $ref: "#/definitions/retriever_by_worker"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/workers_payslips"
      transformations:
        - type: AddFields
          fields:
            - path:
                - gross
              value: "{{ record.get('gross', 0) | float}}"
            - path:
                - net
              value: "{{ record.get('net', 0) | float}}"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/index.html#common/v1/get-/workers/-ID-/timeOffEntries
    workers_time_off_entries_stream:
      type: DeclarativeStream
      name: "workers_time_off_entries"
      primary_key: "id"
      $parameters:
        path: "/workers/{{ stream_partition.worker_id }}/timeOffEntries"
        cursor_field: "date"
      retriever:
        $ref: "#/definitions/retriever_by_worker"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/workers_time_off_entries"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/#staffing/v6/get-/workers
    workers_staffing_info_stream:
      $ref: "#/definitions/base_stream"
      name: "workers_staffing_info"
      primary_key: "id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/workers_staffing_info"
      $parameters:
        path: "/workers"
        space: "staffing"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/index.html#staffing/v6/get-/jobs
    jobs_staffing_info_stream:
      $ref: "#/definitions/base_stream"
      name: "jobs_staffing_info"
      primary_key: "id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/jobs_staffing_info"
      $parameters:
        path: "/jobs"
        space: "staffing"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/index.html#staffing/v6/get-/jobFamilies
    job_families_staffing_info_stream:
      $ref: "#/definitions/base_stream"
      name: "job_families_staffing_info"
      primary_key: "id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/job_families_staffing_info"
      $parameters:
        path: "/jobFamilies"
        space: "staffing"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/index.html#staffing/v6/get-/jobProfiles
    job_profiles_staffing_info_stream:
      $ref: "#/definitions/base_stream"
      name: "job_profiles_staffing_info"
      primary_key: "id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/job_profiles_staffing_info"
      $parameters:
        path: "/jobProfiles"
        space: "staffing"

    # https://community.workday.com/sites/default/files/file-hosting/restapi/index.html#person/v4/get-/people
    people_stream:
      $ref: "#/definitions/base_stream"
      name: "people"
      primary_key: "id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/definitions/schemas/people"
      $parameters:
        path: "/people"
        space: "person"

  schemas:
    organizations:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        id:
          type:
            - "null"
            - string
        href:
          type:
            - "null"
            - string
        descriptor:
          type:
            - "null"
            - string
    workers:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        primaryWorkPhone:
          type:
            - "null"
            - string
        isManager:
          type:
            - "null"
            - boolean
        primaryWorkEmail:
          type:
            - "null"
            - string
        businessTitle:
          type:
            - "null"
            - string
        primarySupervisoryOrganization:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        descriptor:
          type:
            - "null"
            - string
        id:
          type:
            - "null"
            - string
        href:
          type:
            - "null"
            - string
    workers_direct_reports:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        primaryWorkPhone:
          type:
            - "null"
            - string
        isManager:
          type:
            - "null"
            - boolean
        primaryWorkEmail:
          type:
            - "null"
            - string
        businessTitle:
          type:
            - "null"
            - string
        primarySupervisoryOrganization:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        descriptor:
          type:
            - "null"
            - string
        id:
          type:
            - "null"
            - string
        href:
          type:
            - "null"
            - string
    workers_history:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        subject:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        initiator:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        effective:
          type:
            - "null"
            - string # date
          format: "date"
        due:
          type:
            - "null"
            - string
          format: "date"
        initiated:
          type:
            - "null"
            - string
          format: "date-time"
        descriptor:
          type:
            - "null"
            - string
        id:
          type:
            - "null"
            - string
        href:
          type:
            - "null"
            - string
    workers_payslips:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        gross:
          type:
            - "null"
            - number
        status:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        net:
          type:
            - "null"
            - number
        date:
          type:
            - "null"
            - string
          format: "date"
        descriptor:
          type:
            - "null"
            - string
        id:
          type:
            - "null"
            - string
        href:
          type:
            - "null"
            - string
    workers_time_off_entries:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        units:
          type:
            - "null"
            - integer
        employee:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        unitOfTime:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        timeOffRequest:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            status:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        date:
          type:
            - "null"
            - string
          format: "date-time"
        timeOff:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            plan:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                descriptor:
                  type:
                    - "null"
                    - string
                href:
                  type:
                    - "null"
                    - string
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        id:
          type:
            - "null"
            - string
        descriptor:
          type:
            - "null"
            - string
        href:
          type:
            - "null"
            - string
    workers_staffing_info:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        primaryJob:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            businessTitle:
              type:
                - "null"
                - string
            supervisoryOrganization:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                descriptor:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
            jobType:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                descriptor:
                  type:
                    - "null"
                    - string
            jobProfile:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                descriptor:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
            location:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                country:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    descriptor:
                      type:
                        - "null"
                        - string
                id:
                  type:
                    - "null"
                    - string
                descriptor:
                  type:
                    - "null"
                    - string
            workSpace:
              type:
                - "null"
                - object
              properties:
                locationChain:
                  type:
                    - "null"
                    - string
                descriptor:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
            descriptor:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
        person:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            phone:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
        workerId:
          type:
            - "null"
            - string
        workerType:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
        additionalJobs:
          type:
            - "null"
            - array
          items:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              businessTitle:
                type:
                  - "null"
                  - string
              supervisoryOrganization:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  descriptor:
                    type:
                      - "null"
                      - string
                  id:
                    type:
                      - "null"
                      - string
              jobType:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  descriptor:
                    type:
                      - "null"
                      - string
              jobProfile:
                type:
                  - "null"
                  - string
                properties:
                  descriptor:
                    type:
                      - "null"
                      - string
                  id:
                    type:
                      - "null"
                      - string
              location:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  country:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      descriptor:
                        type:
                          - "null"
                          - string
                  id:
                    type:
                      - "null"
                      - string
                  descriptor:
                    type:
                      - "null"
                      - string
              workSpace:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  locationChain:
                    type:
                      - "null"
                      - string
                  descriptor:
                    type:
                      - "null"
                      - string
                  id:
                    type:
                      - "null"
                      - string
              descriptor:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - string
        descriptor:
          type:
            - "null"
            - string
        id:
          type:
            - "null"
            - string
    jobs_staffing_info:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        location:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            country:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                descriptor:
                  type:
                    - "null"
                    - string
            id:
              type:
                - "null"
                - string
            descriptor:
              type:
                - "null"
                - string
        businessTitle:
          type:
            - "null"
            - string
        worker:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            descriptor:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
        supervisoryOrganization:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            descriptor:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
        nextPayPeriodStartDate:
          type:
            - "null"
            - string
          format: "date"
        jobType:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            descriptor:
              type:
                - "null"
                - string
        jobProfile:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            descriptor:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
        descriptor:
          type:
            - "null"
            - string
        id:
          type:
            - "null"
            - string
    job_families_staffing_info:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        inactive:
          type:
            - "null"
            - boolean
        jobFamilyGroup:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            descriptor:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
        summary:
          type:
            - "null"
            - string
        jobProfiles:
          type:
            - "null"
            - array
          items:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              descriptor:
                type:
                  - "null"
                  - string
        id:
          type:
            - "null"
            - string
        descriptor:
          type:
            - "null"
            - string
    job_profiles_staffing_info:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        inactive:
          type:
            - "null"
            - boolean
        name:
          type:
            - "null"
            - string
        id:
          type:
            - "null"
            - string
    people:
      $schema: http://json-schema.org/draft-07/schema#
      additionalProperties: true
      type: object
      properties:
        photos:
          type:
            - "null"
            - string
        homeEmails:
          type:
            - "null"
            - string
        personalInformation:
          type:
            - "null"
            - string
        homeWebAddresses:
          type:
            - "null"
            - string
        universal_ID:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
        workInstantMessengers:
          type:
            - "null"
            - string
        homePhones:
          type:
            - "null"
            - string
        preferredName:
          type:
            - "null"
            - string
        workEmails:
          type:
            - "null"
            - string
        workAddresses:
          type:
            - "null"
            - string
        workWebAddresses:
          type:
            - "null"
            - string
        homeAddresses:
          type:
            - "null"
            - string
        audioNamePronunciation:
          type:
            - "null"
            - string
        legalName:
          type:
            - "null"
            - string
        socialNetworks:
          type:
            - "null"
            - string
        workPhones:
          type:
            - "null"
            - string
        additionalNames:
          type:
            - "null"
            - string
        homeInstantMessengers:
          type:
            - "null"
            - string
        id:
          type:
            - "null"
            - string
        href:
          type:
            - "null"
            - string

streams:
  - $ref: "#/definitions/streams/organizations_stream"
  - $ref: "#/definitions/streams/workers_stream"
  - $ref: "#/definitions/streams/workers_direct_reports_stream"
  - $ref: "#/definitions/streams/workers_history_stream"
  - $ref: "#/definitions/streams/workers_payslips_stream"
  - $ref: "#/definitions/streams/workers_time_off_entries_stream"
  - $ref: "#/definitions/streams/workers_staffing_info_stream"
  - $ref: "#/definitions/streams/jobs_staffing_info_stream"
  - $ref: "#/definitions/streams/job_families_staffing_info_stream"
  - $ref: "#/definitions/streams/job_profiles_staffing_info_stream"
  - $ref: "#/definitions/streams/people_stream"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - tenant_id
      - host
      - credentials
    properties:
      tenant_id:
        type: string
        order: 0
        title: Workday tenant
        airbyte_secret: true
      host:
        type: string
        order: 1
        title: Workday hostname
      start_date:
        type: string
        order: 2
        format: date-time
        title: Start date
        description: Rows after this date will be synced, default 2 years ago.
        examples:
          - "2024-10-26T07:00:00.000Z"
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$"
      credentials:
        type: object
        title: Authentication
        description: Credentials for connecting to the Workday (REST) API.
        required:
          - access_token
        properties:
          access_token:
            type: string
            order: 0
            title: Access token.
            description: Follow the instructions in the "OAuth 2.0 in Postman - API Client for Integrations" article in the Workday community docs to obtain access token.
            airbyte_secret: true
      num_workers:
        type: integer
        description: >-
          The number of worker threads to use for the sync.
        title: Number of concurrent workers
        minimum: 1
        maximum: 50
        default: 20
        examples:
          - 1
          - 2
          - 3
    additionalProperties: true

metadata:
  autoImportSchema:
    Reports: false
  testedStreams:
    Reports:
      hasRecords: true
      streamHash: 9457f330b59cf7179fbaad9978ed0ae9719e5b5c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 20) }}"
  max_concurrency: 50
