version: 6.1.0

type: DeclarativeSource

description: >-
  Real-Time Market Data Solutions for Stocks, Forex, and Crypto

  This connector can be used to extract data from various APIs such as
  symbol-list,Aggregates,Snapshot and Technical Indicators

check:
  type: CheckStream
  stream_names:
    - Symbol List

definitions:
  streams:
    Symbol List:
      type: DeclarativeStream
      name: Symbol List
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: symbol-list/{{ config['market_type'] }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 404
                    error_message: Please enter the type of market
                    error_message_contains: Cannot GET /symbol-list/
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - symbols
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Symbol List"
    Market News:
      type: DeclarativeStream
      name: Market News
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /news/market/{{ stream_partition.symbol }}
          http_method: GET
          request_parameters:
            limit: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - news
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Market News"
    Most Active US Stocks:
      type: DeclarativeStream
      name: Most Active US Stocks
      primary_key:
        - symbol
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /fnd/market-information/us/most-actives
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Most Active US Stocks"
    Technical Indicators:
      type: DeclarativeStream
      name: Technical Indicators
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            fnd/technical-indicator/{{ config['type'] }}/{{ config['time'] }}/{{
            stream_partition.symbol }}
          http_method: GET
          request_parameters:
            period: "{{ config['period'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Technical Indicators"
    us_stocks_previous_close:
      type: DeclarativeStream
      name: us_stocks_previous_close
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: agg/stock/prev-close/{{ stream_partition.symbol }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/us_stocks_previous_close"
    us_stocks_snapshot:
      type: DeclarativeStream
      name: us_stocks_snapshot
      primary_key:
        - s
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: snapshot/stock
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lastQuotes
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/us_stocks_snapshot"
    forex_last_quote:
      type: DeclarativeStream
      name: forex_last_quote
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: last/forex/{{ stream_partition.symbol }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forex_last_quote"
    forex_last_trade:
      type: DeclarativeStream
      name: forex_last_trade
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: last/trade/forex/{{ stream_partition.symbol }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forex_last_trade"
    forex_aggregates:
      type: DeclarativeStream
      name: forex_aggregates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            agg/forex/{{ stream_partition.symbol }}/{{ config['multiply'] }}/{{
            config["time_aggregates"] }}/{{ config["from"] }}/{{ config["to"] }}
          http_method: GET
          request_parameters:
            limit: "1000"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forex_aggregates"
    forex_previous_close:
      type: DeclarativeStream
      name: forex_previous_close
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: agg/forex/prev-close/{{ stream_partition.symbol }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forex_previous_close"
    crypto_aggregates:
      type: DeclarativeStream
      name: crypto_aggregates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            agg/crypto/{{ stream_partition.symbol }}/{{ config['multiply'] }}/{{
            config["time_aggregates"] }}/{{ config["from"] }}/{{ config["to"] }}
          http_method: GET
          request_parameters:
            limit: "1000"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crypto_aggregates"
    " crypto_last_trade":
      type: DeclarativeStream
      name: " crypto_last_trade"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: agg/crypto/prev-close/{{ stream_partition.symbol }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: symbol
              partition_field: symbol
              stream:
                $ref: "#/definitions/streams/Symbol List"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ crypto_last_trade"
    crypto_snapshot:
      type: DeclarativeStream
      name: crypto_snapshot
      primary_key:
        - s
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: snapshot/crypto
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lastQuotes
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crypto_snapshot"
  base_requester:
    type: HttpRequester
    url_base: https://api.finage.co.uk/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: apikey
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/Symbol List"
  - $ref: "#/definitions/streams/Market News"
  - $ref: "#/definitions/streams/Most Active US Stocks"
  - $ref: "#/definitions/streams/Technical Indicators"
  - $ref: "#/definitions/streams/us_stocks_previous_close"
  - $ref: "#/definitions/streams/us_stocks_snapshot"
  - $ref: "#/definitions/streams/forex_last_quote"
  - $ref: "#/definitions/streams/forex_last_trade"
  - $ref: "#/definitions/streams/forex_aggregates"
  - $ref: "#/definitions/streams/forex_previous_close"
  - $ref: "#/definitions/streams/crypto_aggregates"
  - $ref: "#/definitions/streams/ crypto_last_trade"
  - $ref: "#/definitions/streams/crypto_snapshot"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      type:
        type: string
        enum:
          - DEMA
          - EMA
          - SMA
          - WMA
          - RSI
          - TEMA
          - Williams
          - ADX
        order: 5
        title: Indicator Type
        default: SMA
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      market_type:
        type: string
        enum:
          - us-stock
          - ca-stock
          - in-stock
          - ru-stock
          - forex
          - crypto
          - index
        order: 1
        title: Market type
        default: us-stock
      limit:
        type: string
        description: Limit of the news. Default is 10 and maximum allowed limit is 30.
        order: 2
        title: Limit
      from:
        type: string
        description: Start date
        order: 3
        title: From
      to:
        type: string
        description: End date
        order: 4
        title: To
      time:
        type: string
        enum:
          - daily
          - 1min
          - 5min
          - 15min
          - 30min
          - 1hour
          - 4hour
        order: 6
        title: Time Interval
        default: daily
      period:
        type: string
        description: Time period. Default is 10
        order: 7
        title: Period
      multiply:
        type: string
        description: Time multiplier
        order: 8
        title: Multiply
        default: "1"
      time_aggregates:
        type: string
        description: Size of the time
        enum:
          - minute
          - hour
          - day
          - week
          - month
          - quarter
          - year
        order: 9
        title: Time aggregates
        default: day
      symbols:
        type: string
        description: "List of symbols separated by commas "
        order: 10
        title: Symbols
    additionalProperties: true

metadata:
  autoImportSchema:
    Symbol List: true
    Market News: true
    Most Active US Stocks: true
    Technical Indicators: true
    us_stocks_previous_close: true
    us_stocks_snapshot: true
    forex_last_quote: true
    forex_last_trade: true
    forex_aggregates: true
    forex_previous_close: true
    crypto_aggregates: true
    " crypto_last_trade": true
    crypto_snapshot: true
  testedStreams:
    Symbol List:
      hasRecords: true
      streamHash: a8083d3df255176d93a930f52020e8408aefa194
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Market News:
      hasRecords: true
      streamHash: b69662b49ba9cbb5a51b0a215052a7d798050416
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Most Active US Stocks:
      hasRecords: true
      streamHash: 08425464ea169646929ce9305b96d1c55220f3e1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Technical Indicators:
      hasRecords: true
      streamHash: ebb28d7894415b1f8eab85d56ee3c2778890aa58
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    us_stocks_previous_close:
      hasRecords: true
      streamHash: 6361be74a879c1a586d0493d776394afc99ba7e2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    us_stocks_snapshot:
      hasRecords: true
      streamHash: 8bc84ac868ad94cb04679da5393dcafe1bfb6499
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    forex_last_quote:
      hasRecords: true
      streamHash: 7c0dff5ef7f731c778a04f16e8e5402d166f4450
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    forex_last_trade:
      hasRecords: true
      streamHash: 0075d8fff8c73c3ffbbf6cbda95a68b609376490
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    forex_aggregates:
      hasRecords: true
      streamHash: 1b50cd4a187fccc33a594ccea9c1b95afb8741ab
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    forex_previous_close:
      hasRecords: true
      streamHash: 0fbd9c9711aa403ebf5eb79cc6f3b448f5967dda
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    crypto_aggregates:
      hasRecords: true
      streamHash: 9a7d547c2c61d102c540b291914534989657c380
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    " crypto_last_trade":
      hasRecords: true
      streamHash: d3f05f71712e9245c3a81c0467cd045db7f5b989
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    crypto_snapshot:
      hasRecords: true
      streamHash: 9f55663127ca1b8a685f4b3259057bd97f301674
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  Symbol List:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      name:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
  Market News:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
  Most Active US Stocks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      change:
        type:
          - number
          - "null"
      change_percentage:
        type:
          - string
          - "null"
      company_name:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      symbol:
        type: string
    required:
      - symbol
  Technical Indicators:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      close:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      high:
        type:
          - string
          - "null"
      low:
        type:
          - string
          - "null"
      open:
        type:
          - string
          - "null"
      value:
        type:
          - string
          - "null"
      volume:
        type:
          - string
          - "null"
  us_stocks_previous_close:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      c:
        type:
          - number
          - "null"
      h:
        type:
          - number
          - "null"
      l:
        type:
          - number
          - "null"
      o:
        type:
          - number
          - "null"
      t:
        type:
          - number
          - "null"
      v:
        type:
          - number
          - "null"
  us_stocks_snapshot:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      a:
        type:
          - number
          - "null"
      asz:
        type:
          - number
          - "null"
      b:
        type:
          - number
          - "null"
      bsz:
        type:
          - number
          - "null"
      s:
        type: string
      t:
        type:
          - number
          - "null"
    required:
      - s
  forex_last_quote:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ask:
        type:
          - number
          - "null"
      bid:
        type:
          - number
          - "null"
      symbol:
        type:
          - string
          - "null"
      timestamp:
        type:
          - number
          - "null"
  forex_last_trade:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      price:
        type:
          - number
          - "null"
      symbol:
        type:
          - string
          - "null"
      timestamp:
        type:
          - number
          - "null"
  forex_aggregates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      c:
        type:
          - number
          - "null"
      h:
        type:
          - number
          - "null"
      l:
        type:
          - number
          - "null"
      o:
        type:
          - number
          - "null"
      t:
        type:
          - number
          - "null"
      v:
        type:
          - number
          - "null"
  forex_previous_close:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      c:
        type:
          - number
          - "null"
      h:
        type:
          - number
          - "null"
      l:
        type:
          - number
          - "null"
      o:
        type:
          - number
          - "null"
      t:
        type:
          - number
          - "null"
      v:
        type:
          - number
          - "null"
  crypto_aggregates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      c:
        type:
          - number
          - "null"
      h:
        type:
          - number
          - "null"
      l:
        type:
          - number
          - "null"
      o:
        type:
          - number
          - "null"
      t:
        type:
          - number
          - "null"
      v:
        type:
          - number
          - "null"
  " crypto_last_trade":
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      c:
        type:
          - number
          - "null"
      h:
        type:
          - number
          - "null"
      l:
        type:
          - number
          - "null"
      o:
        type:
          - number
          - "null"
      t:
        type:
          - number
          - "null"
      v:
        type:
          - number
          - "null"
  crypto_snapshot:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      a:
        type:
          - number
          - "null"
      asz:
        type:
          - number
          - "null"
      b:
        type:
          - number
          - "null"
      bsz:
        type:
          - number
          - "null"
      s:
        type: string
      t:
        type:
          - number
          - "null"
    required:
      - s
