@use "../../scss/colors";
@use "../../scss/variables";

.container {
  font-size: 12px;
  line-height: 15px;
  color: colors.$grey;
}

:export {
  pending: $blue-100;
  running: $blue-100;
  incomplete: $yellow-50;
  failed: $orange-700;
  succeeded: $green-200;
}
