@use "../../scss/colors";
@use "../../scss/variables";

.container {
  font-size: 12px;
  line-height: 15px;
  color: colors.$grey;
}

:export {
  pending: colors.$blue-100;
  running: colors.$blue-100;
  incomplete: colors.$yellow-50;
  failed: colors.$orange-700;
  succeeded: colors.$green-200;
}
