version: 5.15.0

type: DeclarativeSource

description: >-
  The Airbyte connector for FireHydrant enables seamless data integration
  between FireHydrant and your data ecosystem. It allows you to efficiently
  extract incident management and reliability data from FireHydrant, empowering
  teams with valuable insights for post-incident analysis, reliability
  reporting, and proactive system monitoring. With this connector, users can
  automate the data flow and gain deeper visibility into incidents and response
  metrics, improving reliability and operational efficiency.

check:
  type: CheckStream
  stream_names:
    - enviroments

definitions:
  streams:
    enviroments:
      type: DeclarativeStream
      name: enviroments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /environments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/enviroments"
    services:
      type: DeclarativeStream
      name: services
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /services
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/services"
    functionalities:
      type: DeclarativeStream
      name: functionalities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /functionalities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/functionalities"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    webhooks:
      type: DeclarativeStream
      name: webhooks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhooks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhooks"
    signals_on_call:
      type: DeclarativeStream
      name: signals_on_call
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /signals_on_call
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/signals_on_call"
    changes_events:
      type: DeclarativeStream
      name: changes_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /changes/events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/changes_events"
    changes:
      type: DeclarativeStream
      name: changes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /changes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/changes"
    entitlements:
      type: DeclarativeStream
      name: entitlements
      primary_key:
        - slug
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /entitlements
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/entitlements"
    incidents:
      type: DeclarativeStream
      name: incidents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /incidents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents"
    incident_roles:
      type: DeclarativeStream
      name: incident_roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /incident_roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_roles"
    incident_tags:
      type: DeclarativeStream
      name: incident_tags
      primary_key:
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /incident_tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_tags"
    incident_types:
      type: DeclarativeStream
      name: incident_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /incident_types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_types"
    integrations:
      type: DeclarativeStream
      name: integrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /integrations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/integrations"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    reports:
      type: DeclarativeStream
      name: reports
      primary_key:
        - bucket
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports/mean_time
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports"
    runbook_actions:
      type: DeclarativeStream
      name: runbook_actions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /runbooks/actions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/runbook_actions"
    runbook_executions:
      type: DeclarativeStream
      name: runbook_executions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /runbooks/executions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/runbook_executions"
    runbooks:
      type: DeclarativeStream
      name: runbooks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /runbooks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/runbooks"
    runbook_audits:
      type: DeclarativeStream
      name: runbook_audits
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /runbook_audits
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/runbook_audits"
    nunc_connections:
      type: DeclarativeStream
      name: nunc_connections
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /nunc_connections
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/nunc_connections"
    measurement_definitions:
      type: DeclarativeStream
      name: measurement_definitions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /lifecycles/measurement_definitions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/measurement_definitions"
    phases:
      type: DeclarativeStream
      name: phases
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /lifecycles/phases
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/phases"
    priorities:
      type: DeclarativeStream
      name: priorities
      primary_key:
        - slug
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /priorities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/priorities"
    severities:
      type: DeclarativeStream
      name: severities
      primary_key:
        - slug
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /severities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/severities"
    severity_matrix_conditions:
      type: DeclarativeStream
      name: severity_matrix_conditions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /severity_matrix/conditions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/severity_matrix_conditions"
    severity_matrix_impacts:
      type: DeclarativeStream
      name: severity_matrix_impacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /severity_matrix/impacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/severity_matrix_impacts"
    scheduled_maintenances:
      type: DeclarativeStream
      name: scheduled_maintenances
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /scheduled_maintenances
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scheduled_maintenances"
    infrastructures:
      type: DeclarativeStream
      name: infrastructures
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /infrastructures
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ record['infrastructure']['id'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/infrastructures"
    custom_fields_definitions:
      type: DeclarativeStream
      name: custom_fields_definitions
      primary_key:
        - field_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /custom_fields/definitions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields_definitions"
    post_mortems_reports:
      type: DeclarativeStream
      name: post_mortems_reports
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /post_mortems/reports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/post_mortems_reports"
    post_mortems_questions:
      type: DeclarativeStream
      name: post_mortems_questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /post_mortems/questions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/post_mortems_questions"
    alerts:
      type: DeclarativeStream
      name: alerts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /alerts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alerts"
    tickets:
      type: DeclarativeStream
      name: tickets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ticketing/tickets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
    ticketing_projects:
      type: DeclarativeStream
      name: ticketing_projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ticketing/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ticketing_projects"
    ticketing_priorities:
      type: DeclarativeStream
      name: ticketing_priorities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ticketing/priorities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ticketing_priorities"
    ticketing_ticket_tags:
      type: DeclarativeStream
      name: ticketing_ticket_tags
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ticketing/ticket_tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ticketing_ticket_tags"
    task_lists:
      type: DeclarativeStream
      name: task_lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /task_lists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/task_lists"
    checklist_templates:
      type: DeclarativeStream
      name: checklist_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /checklist_templates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/checklist_templates"
  base_requester:
    type: HttpRequester
    url_base: https://api.firehydrant.io/v1
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_token\"] }}"

streams:
  - $ref: "#/definitions/streams/enviroments"
  - $ref: "#/definitions/streams/services"
  - $ref: "#/definitions/streams/functionalities"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/webhooks"
  - $ref: "#/definitions/streams/signals_on_call"
  - $ref: "#/definitions/streams/changes_events"
  - $ref: "#/definitions/streams/changes"
  - $ref: "#/definitions/streams/entitlements"
  - $ref: "#/definitions/streams/incidents"
  - $ref: "#/definitions/streams/incident_roles"
  - $ref: "#/definitions/streams/incident_tags"
  - $ref: "#/definitions/streams/incident_types"
  - $ref: "#/definitions/streams/integrations"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/reports"
  - $ref: "#/definitions/streams/runbook_actions"
  - $ref: "#/definitions/streams/runbook_executions"
  - $ref: "#/definitions/streams/runbooks"
  - $ref: "#/definitions/streams/runbook_audits"
  - $ref: "#/definitions/streams/nunc_connections"
  - $ref: "#/definitions/streams/measurement_definitions"
  - $ref: "#/definitions/streams/phases"
  - $ref: "#/definitions/streams/priorities"
  - $ref: "#/definitions/streams/severities"
  - $ref: "#/definitions/streams/severity_matrix_conditions"
  - $ref: "#/definitions/streams/severity_matrix_impacts"
  - $ref: "#/definitions/streams/scheduled_maintenances"
  - $ref: "#/definitions/streams/infrastructures"
  - $ref: "#/definitions/streams/custom_fields_definitions"
  - $ref: "#/definitions/streams/post_mortems_reports"
  - $ref: "#/definitions/streams/post_mortems_questions"
  - $ref: "#/definitions/streams/alerts"
  - $ref: "#/definitions/streams/tickets"
  - $ref: "#/definitions/streams/ticketing_projects"
  - $ref: "#/definitions/streams/ticketing_priorities"
  - $ref: "#/definitions/streams/ticketing_ticket_tags"
  - $ref: "#/definitions/streams/task_lists"
  - $ref: "#/definitions/streams/checklist_templates"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        description: >-
          Bot token to use for authenticating with the FireHydrant API. You can
          find or create a bot token by logging into your organization and
          visiting the Bot users page at
          https://app.firehydrant.io/organizations/bots.
        name: api_token
        order: 0
        title: API Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    enviroments: true
    services: true
    functionalities: true
    teams: true
    webhooks: true
    signals_on_call: true
    changes_events: true
    changes: true
    entitlements: true
    incidents: true
    incident_roles: true
    incident_tags: true
    incident_types: true
    integrations: true
    users: true
    reports: true
    runbook_actions: true
    runbook_executions: true
    runbooks: true
    runbook_audits: true
    nunc_connections: true
    measurement_definitions: true
    phases: true
    priorities: true
    severities: true
    severity_matrix_conditions: true
    severity_matrix_impacts: true
    scheduled_maintenances: true
    infrastructures: true
    custom_fields_definitions: true
    post_mortems_reports: true
    post_mortems_questions: true
    alerts: true
    tickets: true
    ticketing_projects: true
    ticketing_priorities: true
    ticketing_ticket_tags: true
    task_lists: true
    checklist_templates: true
  testedStreams:
    enviroments:
      hasRecords: true
      streamHash: b3899d2e1ad789f2c8426eea902763d423cc47b6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    services:
      hasRecords: true
      streamHash: d7eb24b1eb2bbac26411254a296d104e72d8f059
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    functionalities:
      hasRecords: true
      streamHash: 33892035f28d1ca592febfe825888a448d8c139e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    teams:
      hasRecords: true
      streamHash: 491de114f944845475220e94721b41e4f34afd07
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    webhooks:
      hasRecords: true
      streamHash: 9b4b304496f7004c7d994e1fad565028aff3721f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    signals_on_call:
      hasRecords: true
      streamHash: ff9ac45078a8055231eea3ac565124eb9d5059b4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    changes_events:
      hasRecords: true
      streamHash: e521acee40fbe741dce0e668af0541601a855fc8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    changes:
      hasRecords: true
      streamHash: 48f2db6d0a91abd2247c1029f1affd93a2ffd11a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    entitlements:
      hasRecords: true
      streamHash: e7b8c955141712bd4645975c987f51b038e8cec9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incidents:
      hasRecords: true
      streamHash: 414f2cf71979f9fa2ed7ca45779b0cf448f5a613
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_roles:
      hasRecords: true
      streamHash: 65b6e4ac3940249a12403ab254cc68a967be79dc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_tags:
      hasRecords: true
      streamHash: b7d1231083f14c6e65f2424d0489b854cf4353e9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_types:
      hasRecords: true
      streamHash: e4a6b484d9c8af5f5ab398966cc298f7fc8a79fe
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    integrations:
      hasRecords: true
      streamHash: 38a8fed87a39c1b6addeec6b445a7f5e0381a45a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: c9a71bb88163418714222b5a7d55fef61d3bba21
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    reports:
      hasRecords: true
      streamHash: 8ec90f940846b949b513ebc308ed61ade4af011a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    runbook_actions:
      hasRecords: true
      streamHash: bde78ed7b4a35810daaee6ebffd4c4649ebf29be
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    runbook_executions:
      hasRecords: true
      streamHash: 7bc7e31de77ef8c9ec61f95c14f3dcefcbe1dfe6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    runbooks:
      hasRecords: true
      streamHash: 47c1329189d914c0e2293dcf25204d674f6ce3e4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    runbook_audits:
      hasRecords: true
      streamHash: 180f32f7dbe04baadb1d3eeeaac56f002ed2ab06
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    nunc_connections:
      hasRecords: true
      streamHash: 4381b3e65348752267bf688eda9ee0260374b7f6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    measurement_definitions:
      hasRecords: true
      streamHash: 3169fbef9d5d750f297b2db9b863c40e6df02962
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    phases:
      hasRecords: true
      streamHash: bc472cc7cf6327e55f9036c5f2198b06119cba35
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    priorities:
      hasRecords: true
      streamHash: 9c3c971817b8a76bb80ef410e16e8156c7e98993
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    severities:
      hasRecords: true
      streamHash: dbbe778f44f371ddae83e8d1412989190d784f2e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    severity_matrix_conditions:
      hasRecords: true
      streamHash: 00bcd43dc5ee1d1d679c83e97f2821f0a5251c4b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    severity_matrix_impacts:
      hasRecords: true
      streamHash: fb5829e37e65751115007714453412b45a5297f8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    scheduled_maintenances:
      hasRecords: true
      streamHash: 90aa81e2c5c721dc4c78ed0fe9b3f3a440ed2ba6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    infrastructures:
      hasRecords: true
      streamHash: d4e540637c59eb9bb23d9473559e469dd086b263
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    custom_fields_definitions:
      hasRecords: true
      streamHash: 178a18f5a2d44852e9df91d4d73e95c2eb5490d1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    post_mortems_reports:
      hasRecords: true
      streamHash: a7f44365a895956336eec6b25084fa1e8c44c40a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    post_mortems_questions:
      hasRecords: true
      streamHash: b12d4ac97b9b6f2346b33c35d6d9df5483039ca9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    alerts:
      hasRecords: true
      streamHash: bc75050c13f968f31f15f8438c9acee2078e2210
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    tickets:
      hasRecords: true
      streamHash: 7dc70e726a4aa9ebb65bbe1e07571a02173e9327
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ticketing_projects:
      hasRecords: true
      streamHash: fe0b6ecbaadd4070397ad1fdeb423b5e883b1be2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ticketing_priorities:
      hasRecords: true
      streamHash: 885f9a15b405aac9a57e66d2c6df6c6133ae8838
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ticketing_ticket_tags:
      hasRecords: true
      streamHash: 9f97f82fa26cfd373e4b90b447ca058b20a0be7a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    task_lists:
      hasRecords: true
      streamHash: d8b1a98587c6094f2e6ec569d620537d6a724525
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    checklist_templates:
      hasRecords: true
      streamHash: 077c7864e95ed554d9ec5c87455caa3988b70c9c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.firehydrant.com/

schemas:
  enviroments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      active_incidents:
        type:
          - array
          - "null"
      created_at:
        type:
          - string
          - "null"
      external_resources:
        type:
          - array
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  services:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      active_incidents:
        type:
          - array
          - "null"
      alert_on_add:
        type:
          - boolean
          - "null"
      auto_add_responding_team:
        type:
          - boolean
          - "null"
      checklists:
        type:
          - array
          - "null"
      completed_checks:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      external_resources:
        type:
          - array
          - "null"
      functionalities:
        type:
          - array
          - "null"
      id:
        type: string
      labels:
        type:
          - object
          - "null"
        properties:
          j:
            type:
              - string
              - "null"
      links:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          created_by:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              source:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          signals_ical_url:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      service_tier:
        type:
          - number
          - "null"
      slug:
        type:
          - string
          - "null"
      teams:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            created_by:
              type:
                - object
                - "null"
              properties:
                email:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                source:
                  type:
                    - string
                    - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            signals_ical_url:
              type:
                - string
                - "null"
            slug:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
      updated_at:
        type:
          - string
          - "null"
      updated_by:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
    required:
      - id
  functionalities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      active_incidents:
        type:
          - array
          - "null"
      alert_on_add:
        type:
          - boolean
          - "null"
      created_at:
        type:
          - string
          - "null"
      external_resources:
        type:
          - array
          - "null"
      id:
        type: string
      labels:
        type:
          - object
          - "null"
      links:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      services:
        type:
          - array
          - "null"
      slug:
        type:
          - string
          - "null"
      teams:
        type:
          - array
          - "null"
      updated_at:
        type:
          - string
          - "null"
      updated_by:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
      functionalities:
        type:
          - array
          - "null"
      id:
        type: string
      memberships:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            default_incident_role:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                summary:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
            user:
              type:
                - object
                - "null"
              properties:
                created_at:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                signals_enabled_notification_types:
                  type:
                    - array
                    - "null"
                slack_linked?:
                  type:
                    - boolean
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
      name:
        type:
          - string
          - "null"
      owned_checklist_templates:
        type:
          - array
          - "null"
      owned_functionalities:
        type:
          - array
          - "null"
      owned_runbooks:
        type:
          - array
          - "null"
      owned_services:
        type:
          - array
          - "null"
      responding_services:
        type:
          - array
          - "null"
      services:
        type:
          - array
          - "null"
      signals_ical_url:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  webhooks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
      id:
        type: string
      state:
        type:
          - string
          - "null"
      subscriptions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      updated_at:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  signals_on_call:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
      current_shift:
        type:
          - object
          - "null"
        properties:
          color:
            type:
              - string
              - "null"
          end_time:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          on_call_schedule:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          start_time:
            type:
              - string
              - "null"
          team:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          time_zone:
            type:
              - string
              - "null"
          user:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      next_shift:
        type:
          - object
          - "null"
        properties:
          color:
            type:
              - string
              - "null"
          end_time:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          on_call_schedule:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          start_time:
            type:
              - string
              - "null"
          team:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          time_zone:
            type:
              - string
              - "null"
          user:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
      team:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      time_zone:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  changes_events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      authors:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            source:
              type:
                - string
                - "null"
      created_at:
        type:
          - string
          - "null"
      duration_iso8601:
        type:
          - string
          - "null"
      duration_ms:
        type:
          - number
          - "null"
      ends_at:
        type:
          - string
          - "null"
      environments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            active_incidents:
              type:
                - array
                - "null"
            created_at:
              type:
                - string
                - "null"
            external_resources:
              type:
                - array
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            slug:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
      id:
        type: string
      labels:
        type:
          - object
          - "null"
        properties:
          j:
            type:
              - string
              - "null"
      services:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            alert_on_add:
              type:
                - boolean
                - "null"
            auto_add_responding_team:
              type:
                - boolean
                - "null"
            created_at:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            labels:
              type:
                - object
                - "null"
              properties:
                j:
                  type:
                    - string
                    - "null"
            name:
              type:
                - string
                - "null"
            service_tier:
              type:
                - number
                - "null"
            slug:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
      starts_at:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  changes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      labels:
        type:
          - object
          - "null"
        properties:
          property1:
            type:
              - string
              - "null"
          property2:
            type:
              - string
              - "null"
      summary:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  entitlements:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      available:
        type:
          - boolean
          - "null"
      current_count:
        type:
          - number
          - "null"
      errors:
        type:
          - object
          - "null"
        properties:
          access:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          quota:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      exists:
        type:
          - boolean
          - "null"
      maximum:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      slug:
        type: string
      tier:
        type:
          - string
          - "null"
    required:
      - slug
  incidents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      active:
        type:
          - boolean
          - "null"
      conference_bridges:
        type:
          - array
          - "null"
      conversations:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            channel:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
            comments_url:
              type:
                - string
                - "null"
            field:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            resource_class:
              type:
                - string
                - "null"
            resource_id:
              type:
                - string
                - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
      current_milestone:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            display_name:
              type:
                - string
                - "null"
            field_id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            slug:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            value_string:
              type:
                - string
                - "null"
            value_type:
              type:
                - string
                - "null"
      customer_impact_summary:
        type:
          - string
          - "null"
      customers_impacted:
        type:
          - number
          - "null"
      environments:
        type:
          - array
          - "null"
      field_requirements:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            field_id:
              type:
                - string
                - "null"
      functionalities:
        type:
          - array
          - "null"
      id:
        type: string
      impacts:
        type:
          - array
          - "null"
      incident_channels:
        type:
          - array
          - "null"
      incident_tickets:
        type:
          - array
          - "null"
      incident_url:
        type:
          - string
          - "null"
      labels:
        type:
          - object
          - "null"
      lifecycle_measurements:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            calculated_at:
              type:
                - string
                - "null"
            ends_at_milestone:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            slug:
              type:
                - string
                - "null"
            starts_at_milestone:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      lifecycle_phases:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            description:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            milestones:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                  duration:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  occurred_at:
                    type:
                      - string
                      - "null"
                  position:
                    type:
                      - number
                      - "null"
                  slug:
                    type:
                      - string
                      - "null"
                  updated_at:
                    type:
                      - string
                      - "null"
                  updated_by:
                    type:
                      - object
                      - "null"
                    properties:
                      email:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      source:
                        type:
                          - string
                          - "null"
            name:
              type:
                - string
                - "null"
            position:
              type:
                - number
                - "null"
      milestones:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            duration:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            occurred_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      number:
        type:
          - number
          - "null"
      organization:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      organization_id:
        type:
          - string
          - "null"
      priority:
        type:
          - string
          - "null"
      private_id:
        type:
          - string
          - "null"
      private_status_page_url:
        type:
          - string
          - "null"
      report_id:
        type:
          - string
          - "null"
      restricted:
        type:
          - boolean
          - "null"
      retro_exports:
        type:
          - array
          - "null"
      role_assignments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            created_at:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            incident_role:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                summary:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
            status:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            user:
              type:
                - object
                - "null"
              properties:
                created_at:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                signals_enabled_notification_types:
                  type:
                    - array
                    - "null"
                slack_linked?:
                  type:
                    - boolean
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
      services:
        type:
          - array
          - "null"
      severity:
        type:
          - string
          - "null"
      severity_color:
        type:
          - string
          - "null"
      started_at:
        type:
          - string
          - "null"
      status_pages:
        type:
          - array
          - "null"
      summary:
        type:
          - string
          - "null"
      tag_list:
        type:
          - array
          - "null"
      team_assignments:
        type:
          - array
          - "null"
    required:
      - id
  incident_roles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  incident_tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      name:
        type: string
    required:
      - name
  incident_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      template:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          impacts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                condition_id:
                  type:
                    - string
                    - "null"
                condition_name:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          priority:
            type:
              - string
              - "null"
          runbook_ids:
            type:
              - array
              - "null"
          severity:
            type:
              - string
              - "null"
          tag_list:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      template_values:
        type:
          - object
          - "null"
        properties:
          environments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                condition_id:
                  type:
                    - string
                    - "null"
                condition_name:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          functionalities:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                condition_id:
                  type:
                    - string
                    - "null"
                condition_name:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          runbooks:
            type:
              - object
              - "null"
          services:
            type:
              - array
              - "null"
          teams:
            type:
              - object
              - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  integrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      connections:
        type:
          - array
          - "null"
      created_at:
        type:
          - string
          - "null"
      deprecated:
        type:
          - boolean
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      installed:
        type:
          - boolean
          - "null"
      logo:
        type:
          - object
          - "null"
        properties:
          logo_url:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      nat_ip:
        type:
          - string
          - "null"
      setup_url:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      signals_enabled_notification_types:
        type:
          - array
          - "null"
      slack_linked?:
        type:
          - boolean
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  reports:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bucket:
        type: string
      points:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            key:
              type:
                - string
                - "null"
            value:
              type:
                - number
                - "null"
    required:
      - bucket
  runbook_actions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      automatable:
        type:
          - boolean
          - "null"
      category:
        type:
          - string
          - "null"
      config:
        type:
          - object
          - "null"
        properties:
          documentation_url:
            type:
              - string
              - "null"
          elements:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                dynamic_select:
                  type:
                    - object
                    - "null"
                  properties:
                    async_url:
                      type:
                        - string
                        - "null"
                    clearable:
                      type:
                        - boolean
                        - "null"
                    default_value:
                      type:
                        - array
                        - "null"
                    is_multi:
                      type:
                        - boolean
                        - "null"
                    label:
                      type:
                        - string
                        - "null"
                    options:
                      type:
                        - array
                        - "null"
                    placeholder:
                      type:
                        - string
                        - "null"
                    required:
                      type:
                        - boolean
                        - "null"
                id:
                  type:
                    - string
                    - "null"
                input:
                  type:
                    - object
                    - "null"
                  properties:
                    default_value:
                      type:
                        - string
                        - "null"
                    label:
                      type:
                        - string
                        - "null"
                    placeholder:
                      type:
                        - string
                        - "null"
                    required:
                      type:
                        - boolean
                        - "null"
                markdown:
                  type:
                    - object
                    - "null"
                  properties:
                    text:
                      type:
                        - string
                        - "null"
                textarea:
                  type:
                    - object
                    - "null"
                  properties:
                    default_value:
                      type:
                        - string
                        - "null"
                    label:
                      type:
                        - string
                        - "null"
                    placeholder:
                      type:
                        - string
                        - "null"
      created_at:
        type:
          - string
          - "null"
      default_logic:
        type:
          - object
          - "null"
        properties:
          eq:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                var:
                  type:
                    - string
                    - "null"
          exists:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                var:
                  type:
                    - string
                    - "null"
      default_rule_data:
        type:
          - object
          - "null"
        properties:
          "1":
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              label:
                type:
                  - string
                  - "null"
              value:
                type:
                  - string
                  - "null"
      id:
        type: string
      integration:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          connections:
            type:
              - array
              - "null"
          created_at:
            type:
              - string
              - "null"
          deprecated:
            type:
              - boolean
              - "null"
          enabled:
            type:
              - boolean
              - "null"
          id:
            type:
              - string
              - "null"
          installed:
            type:
              - boolean
              - "null"
          logo:
            type:
              - object
              - "null"
            properties:
              logo_url:
                type:
                  - string
                  - "null"
          name:
            type:
              - string
              - "null"
          nat_ip:
            type:
              - string
              - "null"
          setup_url:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      prerequisites:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            setup_path:
              type:
                - string
                - "null"
            slug:
              type:
                - string
                - "null"
            warning:
              type:
                - string
                - "null"
      repeatable:
        type:
          - boolean
          - "null"
      rerunnable:
        type:
          - boolean
          - "null"
      slug:
        type:
          - string
          - "null"
      supported_runbook_types:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  runbook_executions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - string
          - "null"
      executed_for:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      has_been_rerun:
        type:
          - boolean
          - "null"
      id:
        type: string
      runbook:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          categories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          created_at:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      steps:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            action_slug:
              type:
                - string
                - "null"
            action_type:
              type:
                - string
                - "null"
            automatic:
              type:
                - boolean
                - "null"
            config:
              type:
                - object
                - "null"
              properties:
                role:
                  type:
                    - object
                    - "null"
                  properties:
                    label:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - string
                        - "null"
                role_for_assignment:
                  type:
                    - object
                    - "null"
                  properties:
                    label:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - string
                        - "null"
                task_list:
                  type:
                    - object
                    - "null"
                  properties:
                    label:
                      type:
                        - string
                        - "null"
                    value:
                      type:
[...]
