version: 6.4.0

type: DeclarativeSource

description: >-
  This provides access to publicly available agricultural commodity data from
  the Export Sales Report (ESR), Global Agricultural Trade System (GATS), and
  Production, Supply & Distribution (PSD) databases.

  Docs : https://apps.fas.usda.gov/opendatawebV2/#/home

check:
  type: CheckStream
  stream_names:
    - gats_commodity_import_data

definitions:
  streams:
    gats_commodity_import_data:
      type: DeclarativeStream
      name: gats_commodity_import_data
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            gats/UNTradeImports/reporterCode/{{stream_partition.reporterCode}}/year/{{
            config['year'] }}
          http_method: GET
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: ListPartitionRouter
          values: "{{ config[\"gats_reporter_codes\"] }}"
          cursor_field: reporterCode
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/gats_commodity_import_data"
    gats_commodity_export_data:
      type: DeclarativeStream
      name: gats_commodity_export_data
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            gats/UNTradeExports/reporterCode/{{stream_partition.reporterCode}}/year/{{
            config['year'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: ListPartitionRouter
          values: "{{ config[\"gats_reporter_codes\"] }}"
          cursor_field: reporterCode
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/gats_commodity_export_data"
    esr_export_data:
      type: DeclarativeStream
      name: esr_export_data
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /esr/exports/commodityCode/{{ stream_partition.commodity_code
            }}/countryCode/{{ stream_partition.country_code }}/marketYear/{{
            config["market_year"] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config[\"country_codes\"] }}"
            cursor_field: country_code
          - type: ListPartitionRouter
            values: "{{ config[\"commodities_codes\"] }}"
            cursor_field: commodity_code
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/esr_export_data"
    psd_forcecastnumber:
      type: DeclarativeStream
      name: psd_forcecastnumber
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            psd/commodity/{{ stream_partition.commodityCode }}/country/{{
            stream_partition.countryCode}}/year/{{ config["market_year"] }}
          http_method: GET
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config['psd_commodities_codes'] }}"
            cursor_field: commodityCode
          - type: ListPartitionRouter
            values: "{{ config['psd_country_codes'] }}"
            cursor_field: countryCode
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/psd_forcecastnumber"
    psd_forecastnumber_commodity:
      type: DeclarativeStream
      name: psd_forecastnumber_commodity
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            psd/commodity/{{ stream_partition.commodityCode }}/world/year/{{
            config["market_year"] }}
          http_method: GET
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: ListPartitionRouter
          values: "{{ config['psd_commodities_codes'] }}"
          cursor_field: commodityCode
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/psd_forecastnumber_commodity"
  base_requester:
    type: HttpRequester
    url_base: https://api.fas.usda.gov/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-Api-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/gats_commodity_import_data"
  - $ref: "#/definitions/streams/gats_commodity_export_data"
  - $ref: "#/definitions/streams/esr_export_data"
  - $ref: "#/definitions/streams/psd_forcecastnumber"
  - $ref: "#/definitions/streams/psd_forecastnumber_commodity"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      market_year:
        type: integer
        order: 1
        title: Market Year
        default: "2023"
      country_codes:
        type: array
        order: 2
        title: ESR Country Codes
      commodities_codes:
        type: array
        order: 3
        title: ESR Commodities Codes
      gats_reporter_codes:
        type: array
        order: 4
        title: GATS Reporter Codes
      psd_commodities_codes:
        type: array
        order: 5
        title: PSD Commodities Codes
      psd_country_codes:
        type: array
        title: PSD Country Codes
        order: 6
    additionalProperties: true

metadata:
  autoImportSchema:
    gats_commodity_import_data: true
    gats_commodity_export_data: true
    esr_export_data: true
    psd_forcecastnumber: true
    psd_forecastnumber_commodity: true
  testedStreams:
    gats_commodity_import_data:
      hasRecords: true
      streamHash: 9e22b6c322e7f6e0f16b3141958b2683e35c73dd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    gats_commodity_export_data:
      hasRecords: true
      streamHash: 2f8cc81397913a1546641383273abf8acae9a684
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    esr_export_data:
      hasRecords: true
      streamHash: 946998097fe5b38c38d51e686f16e0c5399d090c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    psd_forcecastnumber:
      streamHash: 0d6b6ce185099bea596eebb31d00c40964390501
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    psd_forecastnumber_commodity:
      streamHash: 4be3e4f3f56d3f44a62d2d32fd2bc5f5b11e5a8d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  gats_commodity_import_data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      censusUOMId1:
        type:
          - number
          - "null"
      censusUOMId2:
        type:
          - number
          - "null"
      fasConvertedUOMId:
        type:
          - number
          - "null"
      fasNonConvertedUOMId:
        type:
          - number
          - "null"
      hS6Code:
        type:
          - string
          - "null"
      partnerCountryCode:
        type:
          - string
          - "null"
      quantity1:
        type:
          - number
          - "null"
      quantity2:
        type:
          - number
          - "null"
      reporterCountryCode:
        type:
          - string
          - "null"
      value:
        type:
          - number
          - "null"
      year:
        type:
          - string
          - "null"
  gats_commodity_export_data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      censusUOMId1:
        type:
          - number
          - "null"
      censusUOMId2:
        type:
          - number
          - "null"
      fasConvertedUOMId:
        type:
          - number
          - "null"
      fasNonConvertedUOMId:
        type:
          - number
          - "null"
      hS6Code:
        type:
          - string
          - "null"
      partnerCountryCode:
        type:
          - string
          - "null"
      quantity1:
        type:
          - number
          - "null"
      quantity2:
        type:
          - number
          - "null"
      reporterCountryCode:
        type:
          - string
          - "null"
      value:
        type:
          - number
          - "null"
      year:
        type:
          - string
          - "null"
  esr_export_data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accumulatedExports:
        type:
          - number
          - "null"
      commodityCode:
        type:
          - number
          - "null"
      countryCode:
        type:
          - number
          - "null"
      currentMYNetSales:
        type:
          - number
          - "null"
      currentMYTotalCommitment:
        type:
          - number
          - "null"
      grossNewSales:
        type:
          - number
          - "null"
      nextMYNetSales:
        type:
          - number
          - "null"
      nextMYOutstandingSales:
        type:
          - number
          - "null"
      outstandingSales:
        type:
          - number
          - "null"
      unitId:
        type:
          - number
          - "null"
      weekEndingDate:
        type:
          - string
          - "null"
      weeklyExports:
        type:
          - number
          - "null"
  psd_forcecastnumber:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attributeId:
        type:
          - number
          - "null"
      calendarYear:
        type:
          - string
          - "null"
      commodityCode:
        type:
          - string
          - "null"
      countryCode:
        type:
          - string
          - "null"
      marketYear:
        type:
          - string
          - "null"
      month:
        type:
          - string
          - "null"
      unitId:
        type:
          - number
          - "null"
      value:
        type:
          - number
          - "null"
  psd_forecastnumber_commodity:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attributeId:
        type:
          - number
          - "null"
      calendarYear:
        type:
          - string
          - "null"
      commodityCode:
        type:
          - string
          - "null"
      countryCode:
        type:
          - string
          - "null"
      marketYear:
        type:
          - string
          - "null"
      month:
        type:
          - string
          - "null"
      unitId:
        type:
          - number
          - "null"
      value:
        type:
          - number
          - "null"
