version: 5.15.0

type: DeclarativeSource

description: >-
  Airbyte connector for [Paperform](https://paperform.co/) enables seamless data
  integration between Paperform and other platforms, allowing automated data
  synchronization and transfer from Paperform form submissions to your data
  warehouse or analytics tools. This connector helps streamline workflows by
  enabling data extraction, transformation, and loading (ETL) to leverage form
  data for insights and reporting across systems.

check:
  type: CheckStream
  stream_names:
    - forms

definitions:
  streams:
    forms:
      type: DeclarativeStream
      name: forms
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
              - forms
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"
    coupons:
      type: DeclarativeStream
      name: coupons
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms/{{ stream_partition.form_id }}/coupons
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
              - coupons
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/forms"
              parent_key: id
              partition_field: form_id
      primary_key:
        - code
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/coupons"
    products:
      type: DeclarativeStream
      name: products
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms/{{ stream_partition.form_id }}/products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
              - products
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/forms"
              parent_key: id
              partition_field: form_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    form_fields:
      type: DeclarativeStream
      name: form_fields
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms/{{ stream_partition.form_id }}/fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
              - fields
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/forms"
              parent_key: id
              partition_field: form_id
      primary_key:
        - key
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/form_fields"
    submissions:
      type: DeclarativeStream
      name: submissions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms/{{ stream_partition.form_id }}/submissions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
              - submissions
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/forms"
              parent_key: id
              partition_field: form_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/submissions"
    partial_submissions:
      type: DeclarativeStream
      name: partial_submissions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms/{{ stream_partition.form_id }}/partial-submissions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
              - partial-submissions
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/forms"
              parent_key: id
              partition_field: form_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/partial_submissions"
  base_requester:
    type: HttpRequester
    url_base: https://api.paperform.co//v1
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/forms"
  - $ref: "#/definitions/streams/form_fields"
  - $ref: "#/definitions/streams/submissions"
  - $ref: "#/definitions/streams/partial_submissions"
  - $ref: "#/definitions/streams/coupons"
  - $ref: "#/definitions/streams/products"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Generate it on your account page at
          https://paperform.co/account/developer.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://paperform.readme.io/reference/getting-started-1
  testedStreams:
    forms:
      hasRecords: true
      streamHash: 8b7dcbbb501dd2be18534d629d81a287c816b0c9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    coupons:
      hasRecords: true
      streamHash: a3bda4044779fd2c14ac329e19258415aa33c824
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: c047306795a716e8b057f9226261c0812c170bfc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    form_fields:
      hasRecords: true
      streamHash: beb3711e3ac256ce86eb0ed2dfe0969e759f4661
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    submissions:
      hasRecords: true
      streamHash: af50080ec9ad0e8689190efab366e2353a4ed9c3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    partial_submissions:
      hasRecords: true
      streamHash: c0f3848761c183dbd351acbb49c58a677d86d0fe
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    forms: true
    coupons: true
    products: true
    form_fields: true
    submissions: true
    partial_submissions: true

schemas:
  forms:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      url:
        type:
          - string
          - "null"
      live:
        type:
          - boolean
          - "null"
      slug:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      space_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      created_at_utc:
        type:
          - string
          - "null"
      updated_at_utc:
        type:
          - string
          - "null"
      additional_urls:
        type:
          - object
          - "null"
        properties:
          edit_url:
            type:
              - string
              - "null"
          duplicate_url:
            type:
              - string
              - "null"
          submissions_url:
            type:
              - string
              - "null"
      cover_image_url:
        type:
          - string
          - "null"
      account_timezone:
        type:
          - string
          - "null"
      submission_count:
        type:
          - number
          - "null"
    additionalProperties: true
  coupons:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - code
    properties:
      code:
        type: string
      target:
        type:
          - string
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      discountAmount:
        type:
          - number
          - "null"
      discountPercentage:
        type:
          - number
          - "null"
    additionalProperties: true
  products:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      SKU:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      sold:
        type:
          - number
          - "null"
      price:
        type:
          - string
          - "null"
      images:
        type:
          - array
          - "null"
      maximum:
        type:
          - number
          - "null"
      discountable:
        type:
          - boolean
          - "null"
    additionalProperties: true
  form_fields:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - key
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      key:
        type: string
      title:
        type:
          - string
          - "null"
      options:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      required:
        type:
          - boolean
          - "null"
    additionalProperties: true
  submissions:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      data:
        type:
          - object
          - "null"
        properties:
          66oq6:
            type:
              - string
              - "null"
          7n2l5:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                SKU:
                  type:
                    - string
                    - "null"
                quantity:
                  type:
                    - number
                    - "null"
          cels3:
            type:
              - string
              - "null"
          f87f1:
            type:
              - string
              - "null"
          score:
            type:
              - boolean
              - "null"
      charge:
        type:
          - object
          - "null"
        properties:
          tax:
            type:
              - number
              - "null"
          live:
            type:
              - boolean
              - "null"
          total:
            type:
              - number
              - "null"
          coupon:
            type:
              - boolean
              - "null"
          summary:
            type:
              - string
              - "null"
          discount:
            type:
              - number
              - "null"
          products:
            type:
              - object
              - "null"
            properties:
              Option1:
                type:
                  - object
                  - "null"
                properties:
                  price:
                    type:
                      - number
                      - "null"
                  total:
                    type:
                      - number
                      - "null"
                  summary:
                    type:
                      - string
                      - "null"
                  quantity:
                    type:
                      - number
                      - "null"
              Option2:
                type:
                  - object
                  - "null"
                properties:
                  price:
                    type:
                      - number
                      - "null"
                  total:
                    type:
                      - number
                      - "null"
                  summary:
                    type:
                      - string
                      - "null"
                  quantity:
                    type:
                      - number
                      - "null"
          total_cents:
            type:
              - number
              - "null"
          receipt_email:
            type:
              - boolean
              - "null"
          processing_fee:
            type:
              - number
              - "null"
          tax_percentage:
            type:
              - number
              - "null"
          payment_source_service:
            type:
              - string
              - "null"
          discounted_subscriptions:
            type:
              - array
              - "null"
      device:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          device:
            type:
              - string
              - "null"
          browser:
            type:
              - string
              - "null"
          embedded:
            type:
              - boolean
              - "null"
          platform:
            type:
              - string
              - "null"
          ip_address:
            type:
              - string
              - "null"
          user_agent:
            type:
              - string
              - "null"
      form_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      ip_address:
        type:
          - string
          - "null"
      created_at_utc:
        type:
          - string
          - "null"
      account_timezone:
        type:
          - string
          - "null"
    additionalProperties: true
  partial_submissions:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      data:
        type:
          - object
          - "null"
        properties:
          sq70:
            type:
              - string
              - "null"
          2146r:
            type:
              - string
              - "null"
          2pdff:
            type:
              - string
              - "null"
          3kbdh:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              size:
                type:
                  - number
                  - "null"
              width:
                type:
                  - number
                  - "null"
              height:
                type:
                  - number
                  - "null"
          4opht:
            type:
              - string
              - "null"
          4usob:
            type:
              - string
              - "null"
          5e5ed:
            type:
              - string
              - "null"
          5kk2h:
            type:
              - string
              - "null"
          62t0e:
            type:
              - string
              - "null"
          66oq6:
            type:
              - string
              - "null"
          7n2l5:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                SKU:
                  type:
                    - string
                    - "null"
                quantity:
                  type:
                    - number
                    - "null"
          9c68q:
            type:
              - string
              - "null"
          agllc:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          ap5sv:
            type:
              - string
              - "null"
          cels3:
            type:
              - string
              - "null"
          dedlp:
            type:
              - string
              - "null"
          f87f1:
            type:
              - string
              - "null"
      form_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      submitted_at:
        type:
          - string
          - "null"
      last_answered:
        type:
          - string
          - "null"
      created_at_utc:
        type:
          - string
          - "null"
      updated_at_utc:
        type:
          - string
          - "null"
      account_timezone:
        type:
          - string
          - "null"
      submitted_at_utc:
        type:
          - string
          - "null"
    additionalProperties: true
