@use "scss/colors";

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinning 1000ms linear infinite normal forwards;
}

.centerDot {
  fill: var(--color-blue-400);
}

:export {
  // Export colors to be used in SVG gradients
  gradientStart: var(--color-blue-400);
  gradientStop: colors.$blue-transparent;
}
