version: 4.3.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - customers
definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
      - data
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      inject_into: request_parameter
      field_name: limit
      type: RequestOption
    pagination_strategy:
      type: PageIncrement
      start_from_page: 1
      page_size: 250
  date_modified_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: date_modified
    cursor_datetime_formats:
    - "%Y-%m-%dT%H:%M:%SZ"
    - "%Y-%m-%dT%H:%M:%S+00:00"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
    start_time_option:
      inject_into: request_parameter
      field_name: date_modified:min
      type: RequestOption
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  base_id_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: id
    cursor_datetime_formats:
    - "%s"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  id_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: id
    cursor_datetime_formats:
    - "%s"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: date_modified:min
      inject_into: request_parameter
  order_id_partition_router:
  - type: SubstreamPartitionRouter
    parent_stream_configs:
    - type: ParentStreamConfig
      parent_key: id
      partition_field: order_id
      stream:
        type: DeclarativeStream
        name: orders
        primary_key: "id"
        retriever:
          type: SimpleRetriever
          requester:
            type: HttpRequester
            url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
            http_method: GET
            request_headers:
              Accept: application/json
              Content-Type: application/json
            authenticator:
              type: ApiKeyAuthenticator
              api_token: '{{ config["access_token"] }}'
              inject_into:
                type: RequestOption
                inject_into: header
                field_name: X-Auth-Token
            request_body_json: {}
            path: v2/orders
            request_parameters:
              sort: date_modified:asc
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path: []
          paginator:
            type: DefaultPaginator
            page_token_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: page
            page_size_option:
              inject_into: request_parameter
              field_name: limit
              type: RequestOption
            pagination_strategy:
              type: PageIncrement
              start_from_page: 1
              page_size: 250
        incremental_sync:
          type: DatetimeBasedCursor
          cursor_field: date_modified
          cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S+00:00"
          datetime_format: "%Y-%m-%d"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config['start_date'] }}"
            datetime_format: "%Y-%m-%d"
          start_time_option:
            inject_into: request_parameter
            field_name: min_date_modified
            type: RequestOption
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
            datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.DateTimeTransformer
          fields:
          - path:
            - date_modified
            value: "{{ record.date_modified }}"
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $schema: http://json-schema.org/draft-07/schema#
            type: object
            properties:
              id:
                type:
                - 'null'
                - integer
              date_modified:
                type:
                - 'null'
                - string
                format: date-time
              date_shipped:
                type:
                - 'null'
                - string
                format: date-time
              cart_id:
                type:
                - 'null'
                - string
              status:
                type:
                - 'null'
                - string
              subtotal_tax:
                type:
                - 'null'
                - string
              shipping_cost_tax:
                type:
                - 'null'
                - string
              shipping_cost_tax_class_id:
                type:
                - 'null'
                - integer
              handling_cost_tax:
                type:
                - 'null'
                - string
              handling_cost_tax_class_id:
                type:
                - 'null'
                - integer
              wrapping_cost_tax:
                type:
                - 'null'
                - string
              wrapping_cost_tax_class_id:
                type:
                - 'null'
                - integer
              payment_status:
                type:
                - 'null'
                - string
              store_credit_amount:
                type:
                - 'null'
                - string
              gift_certificate_amount:
                type:
                - 'null'
                - string
              currency_id:
                type:
                - 'null'
                - integer
              currency_code:
                type:
                - 'null'
                - string
              currency_exchange_rate:
                type:
                - 'null'
                - string
              default_currency_id:
                type:
                - 'null'
                - integer
              coupon_discount:
                type:
                - 'null'
                - string
              shipping_address_count:
                type:
                - 'null'
                - integer
              is_email_opt_in:
                type:
                - 'null'
                - boolean
              order_source:
                type:
                - 'null'
                - string
              products:
                type:
                - 'null'
                - object
                properties:
                  url:
                    type:
                    - 'null'
                    - string
                  resource:
                    type:
                    - 'null'
                    - string
              shipping_addresses:
                type:
                - 'null'
                - object
                properties:
                  url:
                    type:
                    - 'null'
                    - string
                  resource:
                    type:
                    - 'null'
                    - string
              coupons:
                type:
                - 'null'
                - object
                properties:
                  url:
                    type:
                    - 'null'
                    - string
                  resource:
                    type:
                    - 'null'
                    - string
              status_id:
                type:
                - 'null'
                - integer
              base_handling_cost:
                type:
                - 'null'
                - string
              base_shipping_cost:
                type:
                - 'null'
                - string
              base_wrapping_cost:
                oneOf:
                - type:
                  - 'null'
                  - integer
                - type:
                  - 'null'
                  - string
              billing_address:
                type:
                - 'null'
                - object
                properties:
                  first_name:
                    type:
                    - 'null'
                    - string
                  last_name:
                    type:
                    - 'null'
                    - string
                  company:
                    type:
                    - 'null'
                    - string
                  street_1:
                    type:
                    - 'null'
                    - string
                  street_2:
                    type:
                    - 'null'
                    - string
                  city:
                    type:
                    - 'null'
                    - string
                  state:
                    type:
                    - 'null'
                    - string
                  zip:
                    type:
                    - 'null'
                    - string
                  country:
                    type:
                    - 'null'
                    - string
                  country_iso2:
                    type:
                    - 'null'
                    - string
                  phone:
                    type:
                    - 'null'
                    - string
                  email:
                    type:
                    - 'null'
                    - string
                  form_fields:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - object
                      properties:
                        name:
                          type:
                          - 'null'
                          - string
                        value:
                          type:
                          - 'null'
                          - string
              channel_id:
                type:
                - 'null'
                - integer
              customer_id:
                type:
                - 'null'
                - integer
              customer_message:
                type:
                - 'null'
                - string
              date_created:
                type:
                - 'null'
                - string
                format: date-time
              default_currency_code:
                type:
                - 'null'
                - string
              discount_amount:
                type:
                - 'null'
                - string
              ebay_order_id:
                type:
                - 'null'
                - string
              external_id:
                type:
                - 'null'
                - string
              external_source:
                type:
                - 'null'
                - string
              geoip_country:
                type:
                - 'null'
                - string
              geoip_country_iso2:
                type:
                - 'null'
                - string
              handling_cost_ex_tax:
                type:
                - 'null'
                - string
              handling_cost_inc_tax:
                type:
                - 'null'
                - string
              ip_address:
                type:
                - 'null'
                - string
              is_deleted:
                type:
                - 'null'
                - boolean
              items_shipped:
                type:
                - 'null'
                - integer
              items_total:
                type:
                - 'null'
                - integer
              order_is_digital:
                type:
                - 'null'
                - boolean
              payment_method:
                type:
                - 'null'
                - string
              refunded_amount:
                type:
                - 'null'
                - string
              shipping_cost_ex_tax:
                type:
                - 'null'
                - string
              shipping_cost_inc_tax:
                type:
                - 'null'
                - string
              staff_notes:
                type:
                - 'null'
                - string
              subtotal_ex_tax:
                type:
                - 'null'
                - string
              subtotal_inc_tax:
                type:
                - 'null'
                - string
              tax_provider_id:
                type:
                - 'null'
                - string
              customer_locale:
                type:
                - 'null'
                - string
              total_ex_tax:
                type:
                - 'null'
                - string
              total_inc_tax:
                type:
                - 'null'
                - string
              wrapping_cost_ex_tax:
                type:
                - 'null'
                - string
              wrapping_cost_inc_tax:
                type:
                - 'null'
                - string
  requester:
    type: HttpRequester
    url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
    http_method: GET
    request_headers:
      Accept: application/json
      Content-Type: application/json
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config["access_token"] }}'
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-Auth-Token
    request_body_json: {}
  customers_stream:
    type: DeclarativeStream
    name: customers
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
        http_method: GET
        request_headers:
          Accept: application/json
          Content-Type: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config["access_token"] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Auth-Token
        request_body_json: {}
        path: v3/customers
        request_parameters:
          sort: date_modified:asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 250
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S+00:00"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        inject_into: request_parameter
        field_name: date_modified:min
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          email:
            type:
            - 'null'
            - string
          first_name:
            type:
            - 'null'
            - string
          last_name:
            type:
            - 'null'
            - string
          company:
            type:
            - 'null'
            - string
          phone:
            type:
            - 'null'
            - string
          registration_ip_address:
            type:
            - 'null'
            - string
          notes:
            type:
            - 'null'
            - string
          tax_exempt_category:
            type:
            - 'null'
            - string
          customer_group_id:
            type:
            - 'null'
            - integer
          id:
            type:
            - 'null'
            - integer
          date_modified:
            type:
            - 'null'
            - string
            format: date-time
          date_created:
            type:
            - 'null'
            - string
            format: date-time
          address_count:
            type:
            - 'null'
            - integer
          attribute_count:
            type:
            - 'null'
            - integer
          authentication:
            type:
            - 'null'
            - object
            properties:
              force_password_reset:
                type:
                - 'null'
                - boolean
          addresses:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
              additionalProperties: true
              properties:
                first_name:
                  type:
                  - 'null'
                  - string
                last_name:
                  type:
                  - 'null'
                  - string
                company:
                  type:
                  - 'null'
                  - string
                address1:
                  type:
                  - 'null'
                  - string
                address2:
                  type:
                  - 'null'
                  - string
                city:
                  type:
                  - 'null'
                  - string
                state_or_province:
                  type:
                  - 'null'
                  - string
                postal_code:
                  type:
                  - 'null'
                  - string
                country_code:
                  type:
                  - 'null'
                  - string
                phone:
                  type:
                  - 'null'
                  - string
                address_type:
                  type:
                  - 'null'
                  - string
                customer_id:
                  type:
                  - 'null'
                  - integer
                id:
                  type:
                  - 'null'
                  - integer
                country:
                  type:
                  - 'null'
                  - string
                form_fields:
                  type:
                  - 'null'
                  - array
                  oneOf:
                  - type:
                    - 'null'
                    - object
                    properties:
                      name:
                        type:
                        - 'null'
                        - string
                      value:
                        oneOf:
                        - type:
                          - 'null'
                          - string
                        - type:
                          - 'null'
                          - integer
                        - type:
                          - 'null'
                          - array
                      customer_id:
                        type:
                        - 'null'
                        - integer
                  - type:
                    - 'null'
                    - object
                    properties:
                      name:
                        type:
                        - 'null'
                        - string
                      value:
                        oneOf:
                        - type:
                          - 'null'
                          - string
                        - type:
                          - 'null'
                          - integer
                        - type:
                          - 'null'
                          - array
                      address_id:
                        type:
                        - 'null'
                        - integer
                store_credit_amounts:
                  type:
                  - 'null'
                  - array
                  items:
                    type:
                    - 'null'
                    - object
                    properties:
                      amount:
                        type:
                        - 'null'
                        - integer
                accepts_product_review_abandoned_cart_emails:
                  type:
                  - 'null'
                  - boolean
                channel_ids:
                  type:
                  - 'null'
                  - array
                origin_channel_id:
                  type:
                  - 'null'
                  - integer
  orders_stream:
    type: DeclarativeStream
    name: orders
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
        http_method: GET
        request_headers:
          Accept: application/json
          Content-Type: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config["access_token"] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Auth-Token
        request_body_json: {}
        path: v2/orders
        request_parameters:
          sort: date_modified:asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 250
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S+00:00"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        inject_into: request_parameter
        field_name: min_date_modified
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    transformations:
    - type: CustomTransformation
      class_name: source_declarative_manifest.components.DateTimeTransformer
      fields:
      - path:
        - date_modified
        value: "{{ record.date_modified }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
            - 'null'
            - integer
          date_modified:
            type:
            - 'null'
            - string
            format: date-time
          date_shipped:
            type:
            - 'null'
            - string
            format: date-time
          cart_id:
            type:
            - 'null'
            - string
          status:
            type:
            - 'null'
            - string
          subtotal_tax:
            type:
            - 'null'
            - string
          shipping_cost_tax:
            type:
            - 'null'
            - string
          shipping_cost_tax_class_id:
            type:
            - 'null'
            - integer
          handling_cost_tax:
            type:
            - 'null'
            - string
          handling_cost_tax_class_id:
            type:
            - 'null'
            - integer
          wrapping_cost_tax:
            type:
            - 'null'
            - string
          wrapping_cost_tax_class_id:
            type:
            - 'null'
            - integer
          payment_status:
            type:
            - 'null'
            - string
          store_credit_amount:
            type:
            - 'null'
            - string
          gift_certificate_amount:
            type:
            - 'null'
            - string
          currency_id:
            type:
            - 'null'
            - integer
          currency_code:
            type:
            - 'null'
            - string
          currency_exchange_rate:
            type:
            - 'null'
            - string
          default_currency_id:
            type:
            - 'null'
            - integer
          coupon_discount:
            type:
            - 'null'
            - string
          shipping_address_count:
            type:
            - 'null'
            - integer
          is_email_opt_in:
            type:
            - 'null'
            - boolean
          order_source:
            type:
            - 'null'
            - string
          products:
            type:
            - 'null'
            - object
            properties:
              url:
                type:
                - 'null'
                - string
              resource:
                type:
                - 'null'
                - string
          shipping_addresses:
            type:
            - 'null'
            - object
            properties:
              url:
                type:
                - 'null'
                - string
              resource:
                type:
                - 'null'
                - string
          coupons:
            type:
            - 'null'
            - object
            properties:
              url:
                type:
                - 'null'
                - string
              resource:
                type:
                - 'null'
                - string
          status_id:
            type:
            - 'null'
            - integer
          base_handling_cost:
            type:
            - 'null'
            - string
          base_shipping_cost:
            type:
            - 'null'
            - string
          base_wrapping_cost:
            oneOf:
            - type:
              - 'null'
              - integer
            - type:
              - 'null'
              - string
          billing_address:
            type:
            - 'null'
            - object
            properties:
              first_name:
                type:
                - 'null'
                - string
              last_name:
                type:
                - 'null'
                - string
              company:
                type:
                - 'null'
                - string
              street_1:
                type:
                - 'null'
                - string
              street_2:
                type:
                - 'null'
                - string
              city:
                type:
                - 'null'
                - string
              state:
                type:
                - 'null'
                - string
              zip:
                type:
                - 'null'
                - string
              country:
                type:
                - 'null'
                - string
              country_iso2:
                type:
                - 'null'
                - string
              phone:
                type:
                - 'null'
                - string
              email:
                type:
                - 'null'
                - string
              form_fields:
                type:
                - 'null'
                - array
                items:
                  type:
                  - 'null'
                  - object
                  properties:
                    name:
                      type:
                      - 'null'
                      - string
                    value:
                      type:
                      - 'null'
                      - string
          channel_id:
            type:
            - 'null'
            - integer
          customer_id:
            type:
            - 'null'
            - integer
          customer_message:
            type:
            - 'null'
            - string
          date_created:
            type:
            - 'null'
            - string
            format: date-time
          default_currency_code:
            type:
            - 'null'
            - string
          discount_amount:
            type:
            - 'null'
            - string
          ebay_order_id:
            type:
            - 'null'
            - string
          external_id:
            type:
            - 'null'
            - string
          external_source:
            type:
            - 'null'
            - string
          geoip_country:
            type:
            - 'null'
            - string
          geoip_country_iso2:
            type:
            - 'null'
            - string
          handling_cost_ex_tax:
            type:
            - 'null'
            - string
          handling_cost_inc_tax:
            type:
            - 'null'
            - string
          ip_address:
            type:
            - 'null'
            - string
          is_deleted:
            type:
            - 'null'
            - boolean
          items_shipped:
            type:
            - 'null'
            - integer
          items_total:
            type:
            - 'null'
            - integer
          order_is_digital:
            type:
            - 'null'
            - boolean
          payment_method:
            type:
            - 'null'
            - string
          refunded_amount:
            type:
            - 'null'
            - string
          shipping_cost_ex_tax:
            type:
            - 'null'
            - string
          shipping_cost_inc_tax:
            type:
            - 'null'
            - string
          staff_notes:
            type:
            - 'null'
            - string
          subtotal_ex_tax:
            type:
            - 'null'
            - string
          subtotal_inc_tax:
            type:
            - 'null'
            - string
          tax_provider_id:
            type:
            - 'null'
            - string
          customer_locale:
            type:
            - 'null'
            - string
          total_ex_tax:
            type:
            - 'null'
            - string
          total_inc_tax:
            type:
            - 'null'
            - string
          wrapping_cost_ex_tax:
            type:
            - 'null'
            - string
          wrapping_cost_inc_tax:
            type:
            - 'null'
            - string
  transactions_stream:
    type: DeclarativeStream
    name: transactions
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
        http_method: GET
        request_headers:
          Accept: application/json
          Content-Type: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config["access_token"] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Auth-Token
        request_body_json: {}
        path: v2/orders/{{ stream_partition.order_id }}/transactions
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 250
      partition_router:
      - type: SubstreamPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: order_id
          stream:
            type: DeclarativeStream
            name: orders
            primary_key: "id"
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"]
                  }}/
                http_method: GET
                request_headers:
                  Accept: application/json
                  Content-Type: application/json
                authenticator:
                  type: ApiKeyAuthenticator
                  api_token: '{{ config["access_token"] }}'
                  inject_into:
                    type: RequestOption
                    inject_into: header
                    field_name: X-Auth-Token
                request_body_json: {}
                path: v2/orders
                request_parameters:
                  sort: date_modified:asc
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path: []
              paginator:
                type: DefaultPaginator
                page_token_option:
                  type: RequestOption
                  inject_into: request_parameter
                  field_name: page
                page_size_option:
                  inject_into: request_parameter
                  field_name: limit
                  type: RequestOption
                pagination_strategy:
                  type: PageIncrement
                  start_from_page: 1
                  page_size: 250
            incremental_sync:
              type: DatetimeBasedCursor
              cursor_field: date_modified
              cursor_datetime_formats:
              - "%Y-%m-%dT%H:%M:%SZ"
              - "%Y-%m-%dT%H:%M:%S+00:00"
              datetime_format: "%Y-%m-%d"
              start_datetime:
                type: MinMaxDatetime
                datetime: "{{ config['start_date'] }}"
                datetime_format: "%Y-%m-%d"
              start_time_option:
                inject_into: request_parameter
                field_name: min_date_modified
                type: RequestOption
              end_datetime:
                type: MinMaxDatetime
                datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                datetime_format: "%Y-%m-%dT%H:%M:%SZ"
            transformations:
            - type: CustomTransformation
              class_name: source_declarative_manifest.components.DateTimeTransformer
              fields:
              - path:
                - date_modified
                value: "{{ record.date_modified }}"
            schema_loader:
              type: InlineSchemaLoader
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                properties:
                  id:
                    type:
                    - 'null'
                    - integer
                  date_modified:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  date_shipped:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  cart_id:
                    type:
                    - 'null'
                    - string
                  status:
                    type:
                    - 'null'
                    - string
                  subtotal_tax:
                    type:
                    - 'null'
                    - string
                  shipping_cost_tax:
                    type:
                    - 'null'
                    - string
                  shipping_cost_tax_class_id:
                    type:
                    - 'null'
                    - integer
                  handling_cost_tax:
                    type:
                    - 'null'
                    - string
                  handling_cost_tax_class_id:
                    type:
                    - 'null'
                    - integer
                  wrapping_cost_tax:
                    type:
                    - 'null'
                    - string
                  wrapping_cost_tax_class_id:
                    type:
                    - 'null'
                    - integer
                  payment_status:
                    type:
                    - 'null'
                    - string
                  store_credit_amount:
                    type:
                    - 'null'
                    - string
                  gift_certificate_amount:
                    type:
                    - 'null'
                    - string
                  currency_id:
                    type:
                    - 'null'
                    - integer
                  currency_code:
                    type:
                    - 'null'
                    - string
                  currency_exchange_rate:
                    type:
                    - 'null'
                    - string
                  default_currency_id:
                    type:
                    - 'null'
                    - integer
                  coupon_discount:
                    type:
                    - 'null'
                    - string
                  shipping_address_count:
                    type:
                    - 'null'
                    - integer
                  is_email_opt_in:
                    type:
                    - 'null'
                    - boolean
                  order_source:
                    type:
                    - 'null'
                    - string
                  products:
                    type:
                    - 'null'
                    - object
                    properties:
                      url:
                        type:
                        - 'null'
                        - string
                      resource:
                        type:
                        - 'null'
                        - string
                  shipping_addresses:
                    type:
                    - 'null'
                    - object
                    properties:
                      url:
                        type:
                        - 'null'
                        - string
                      resource:
                        type:
                        - 'null'
                        - string
                  coupons:
                    type:
                    - 'null'
                    - object
                    properties:
                      url:
                        type:
                        - 'null'
                        - string
                      resource:
                        type:
                        - 'null'
                        - string
                  status_id:
                    type:
                    - 'null'
                    - integer
                  base_handling_cost:
                    type:
                    - 'null'
                    - string
                  base_shipping_cost:
                    type:
                    - 'null'
                    - string
                  base_wrapping_cost:
                    oneOf:
                    - type:
                      - 'null'
                      - integer
                    - type:
                      - 'null'
                      - string
                  billing_address:
                    type:
                    - 'null'
                    - object
                    properties:
                      first_name:
                        type:
                        - 'null'
                        - string
                      last_name:
                        type:
                        - 'null'
                        - string
                      company:
                        type:
                        - 'null'
                        - string
                      street_1:
                        type:
                        - 'null'
                        - string
                      street_2:
                        type:
                        - 'null'
                        - string
                      city:
                        type:
                        - 'null'
                        - string
                      state:
                        type:
                        - 'null'
                        - string
                      zip:
                        type:
                        - 'null'
                        - string
                      country:
                        type:
                        - 'null'
                        - string
                      country_iso2:
                        type:
                        - 'null'
                        - string
                      phone:
                        type:
                        - 'null'
                        - string
                      email:
                        type:
                        - 'null'
                        - string
                      form_fields:
                        type:
                        - 'null'
                        - array
                        items:
                          type:
                          - 'null'
                          - object
                          properties:
                            name:
                              type:
                              - 'null'
                              - string
                            value:
                              type:
                              - 'null'
                              - string
                  channel_id:
                    type:
                    - 'null'
                    - integer
                  customer_id:
                    type:
                    - 'null'
                    - integer
                  customer_message:
                    type:
                    - 'null'
                    - string
                  date_created:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  default_currency_code:
                    type:
                    - 'null'
                    - string
                  discount_amount:
                    type:
                    - 'null'
                    - string
                  ebay_order_id:
                    type:
                    - 'null'
                    - string
                  external_id:
                    type:
                    - 'null'
                    - string
                  external_source:
                    type:
                    - 'null'
                    - string
                  geoip_country:
                    type:
                    - 'null'
                    - string
                  geoip_country_iso2:
                    type:
                    - 'null'
                    - string
                  handling_cost_ex_tax:
                    type:
                    - 'null'
                    - string
                  handling_cost_inc_tax:
                    type:
                    - 'null'
                    - string
                  ip_address:
                    type:
                    - 'null'
                    - string
                  is_deleted:
                    type:
                    - 'null'
                    - boolean
                  items_shipped:
                    type:
                    - 'null'
                    - integer
                  items_total:
                    type:
                    - 'null'
                    - integer
                  order_is_digital:
                    type:
                    - 'null'
                    - boolean
                  payment_method:
                    type:
                    - 'null'
                    - string
                  refunded_amount:
                    type:
                    - 'null'
                    - string
                  shipping_cost_ex_tax:
                    type:
                    - 'null'
                    - string
                  shipping_cost_inc_tax:
                    type:
                    - 'null'
                    - string
                  staff_notes:
                    type:
                    - 'null'
                    - string
                  subtotal_ex_tax:
                    type:
                    - 'null'
                    - string
                  subtotal_inc_tax:
                    type:
                    - 'null'
                    - string
                  tax_provider_id:
                    type:
                    - 'null'
                    - string
                  customer_locale:
                    type:
                    - 'null'
                    - string
                  total_ex_tax:
                    type:
                    - 'null'
                    - string
                  total_inc_tax:
                    type:
                    - 'null'
                    - string
                  wrapping_cost_ex_tax:
                    type:
                    - 'null'
                    - string
                  wrapping_cost_inc_tax:
                    type:
                    - 'null'
                    - string
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: id
      cursor_datetime_formats:
      - "%s"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: date_modified:min
        inject_into: request_parameter
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          event:
            type:
            - 'null'
            - string
          method:
            type:
            - 'null'
            - string
          amount:
            type:
            - 'null'
            - number
          currency:
            type:
            - 'null'
            - string
          gateway:
            type:
            - 'null'
            - string
          gateway_transaction_id:
            type:
            - 'null'
            - string
          date_created:
            type:
            - 'null'
            - string
          test:
            type:
            - 'null'
            - boolean
          status:
            type:
            - 'null'
            - string
          fraud_review:
            type:
            - 'null'
            - boolean
          reference_transaction_id:
            type:
            - 'null'
            - integer
          offline:
            type:
            - 'null'
            - object
            properties:
              display_name:
                type:
                - 'null'
                - string
          custom:
            type:
            - 'null'
            - object
            properties:
              payment_method:
                type:
                - 'null'
                - string
          payment_method_id:
            type:
            - 'null'
            - string
          id:
            type:
            - 'null'
            - integer
          order_id:
            type:
            - 'null'
            - string
          payment_instrument_token:
            type:
            - 'null'
            - string
          avs_result:
            type:
            - 'null'
            - object
            properties:
              code:
                type:
                - 'null'
                - string
              message:
                type:
                - 'null'
                - string
              street_match:
                type:
                - 'null'
                - string
              postal_match:
                type:
                - 'null'
                - string
          cvv_result:
            type:
            - 'null'
            - object
            properties:
              code:
                type:
                - 'null'
                - string
              message:
                type:
                - 'null'
                - string
          credit_card:
            type:
            - 'null'
            - object
            properties:
              card_type:
                type:
                - 'null'
                - string
              card_iin:
                type:
                - 'null'
                - string
              card_last4:
                type:
                - 'null'
                - string
              card_expiry_month:
                type:
                - 'null'
                - integer
              card_expiry_year:
                type:
                - 'null'
                - integer
          gift_certificate:
            type:
            - 'null'
            - object
            properties:
              code:
                type:
                - 'null'
                - string
              original_balance:
                type:
                - 'null'
                - integer
              starting_balance:
                type:
                - 'null'
                - integer
              remaining_balance:
                type:
                - 'null'
                - integer
              status:
                type:
                - 'null'
                - string
          store_credit:
            type:
            - 'null'
            - object
            properties:
              remaining_balance:
                type:
                - 'null'
                - integer
  pages_stream:
    type: DeclarativeStream
    name: pages
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
        http_method: GET
        request_headers:
          Accept: application/json
          Content-Type: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config["access_token"] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Auth-Token
        request_body_json: {}
        path: v3/content/pages
        request_parameters:
          sort: date_modified:asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 250
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: id
      cursor_datetime_formats:
      - "%s"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: date_modified:min
        inject_into: request_parameter
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          email:
            type:
            - 'null'
            - string
          meta_title:
            type:
            - 'null'
            - string
          body:
            type:
            - 'null'
            - string
          feed:
            type:
            - 'null'
            - string
          link:
            type:
            - 'null'
            - string
          contact_fields:
            type:
            - 'null'
            - string
          meta_keywords:
            type:
            - 'null'
            - string
          meta_description:
            type:
            - 'null'
            - string
          search_keywords:
            type:
            - 'null'
            - string
          url:
            type:
            - 'null'
            - string
          channel_id:
            type:
            - 'null'
            - integer
          name:
            type:
            - 'null'
            - string
          is_visible:
            type:
            - 'null'
            - boolean
          parent_id:
            type:
            - 'null'
            - integer
          sort_order:
            type:
            - 'null'
            - integer
          type:
            type:
            - 'null'
            - string
          is_homepage:
            type:
            - 'null'
            - boolean
          is_customers_only:
            type:
            - 'null'
            - boolean
          id:
            type:
            - 'null'
            - integer
  products_stream:
    type: DeclarativeStream
    name: products
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
        http_method: GET
        request_headers:
          Accept: application/json
          Content-Type: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config["access_token"] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Auth-Token
        request_body_json: {}
        path: v3/catalog/products
        request_parameters:
          sort: date_modified
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 250
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S+00:00"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        inject_into: request_parameter
        field_name: date_modified:min
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Product Response
        properties:
          name:
            type:
            - 'null'
            - string
          type:
            type:
            - 'null'
            - string
          sku:
            type:
            - 'null'
            - string
          description:
            type:
            - 'null'
            - string
          weight:
            type:
            - 'null'
            - number
            format: float
          width:
            type:
            - 'null'
            - number
            format: float
          depth:
            type:
            - 'null'
            - number
            format: float
          height:
            type:
            - 'null'
            - number
            format: float
          price:
            type:
            - 'null'
            - number
            format: float
          cost_price:
            type:
            - 'null'
            - number
            format: float
          retail_price:
            type:
            - 'null'
            - number
            format: float
          sale_price:
            type:
            - 'null'
            - number
            format: float
          map_price:
            type:
            - 'null'
            - number
          tax_class_id:
            type:
            - 'null'
            - integer
          product_tax_code:
            type:
            - 'null'
            - string
          categories:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - integer
          brand_id:
            type:
            - 'null'
            - integer
          inventory_level:
            type:
            - 'null'
            - integer
          inventory_warning_level:
            type:
            - 'null'
            - integer
          inventory_tracking:
            type:
            - 'null'
            - string
          fixed_cost_shipping_price:
            type:
            - 'null'
            - number
            format: float
          is_free_shipping:
            type:
            - 'null'
            - boolean
          is_visible:
            type:
            - 'null'
            - boolean
          is_featured:
            type:
            - 'null'
            - boolean
          related_products:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - integer
          warranty:
            type:
            - 'null'
            - string
          bin_picking_number:
            type:
            - 'null'
            - string
          layout_file:
            type:
            - 'null'
            - string
          upc:
            type:
            - 'null'
            - string
          search_keywords:
            type:
            - 'null'
            - string
          availability:
            type:
            - 'null'
            - string
          availability_description:
            type:
            - 'null'
            - string
          gift_wrapping_options_type:
            type:
            - 'null'
            - string
          gift_wrapping_options_list:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - integer
          sort_order:
            type:
            - 'null'
            - integer
          condition:
            type:
            - 'null'
            - string
          is_condition_shown:
            type:
            - 'null'
            - boolean
          order_quantity_minimum:
            type:
            - 'null'
            - integer
          order_quantity_maximum:
            type:
            - 'null'
            - integer
          page_title:
            type:
            - 'null'
            - string
          meta_keywords:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - string
          meta_description:
            type:
            - 'null'
            - string
          view_count:
            type:
            - 'null'
            - integer
          preorder_release_date:
            type:
            - 'null'
            - string
            format: date-time
          preorder_message:
            type:
            - 'null'
            - string
          is_preorder_only:
            type:
            - 'null'
            - boolean
          is_price_hidden:
            type:
            - 'null'
            - boolean
          price_hidden_label:
            type:
            - 'null'
            - string
          custom_url:
            type:
            - 'null'
            - object
            title: customUrl_Full
            properties:
              url:
                type:
                - 'null'
                - string
              is_customized:
                type:
                - 'null'
                - boolean
          open_graph_type:
            type:
            - 'null'
            - string
          open_graph_title:
            type:
            - 'null'
            - string
          open_graph_description:
            type:
            - 'null'
            - string
          open_graph_use_meta_description:
            type:
            - 'null'
            - boolean
          open_graph_use_product_name:
            type:
            - 'null'
            - boolean
          open_graph_use_image:
            type:
            - 'null'
            - boolean
          brand_name or brand_id:
            type:
            - 'null'
            - string
          gtin:
            type:
            - 'null'
            - string
          mpn:
            type:
            - 'null'
            - string
          reviews_rating_sum:
            type:
            - 'null'
            - integer
          reviews_count:
            type:
            - 'null'
            - integer
          total_sold:
            type:
            - 'null'
            - integer
          custom_fields:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
              title: productCustomField_Put
              required:
              - name
              - value
              properties:
                id:
                  type:
                  - 'null'
                  - integer
                name:
                  type:
                  - 'null'
                  - string
                value:
                  type:
                  - 'null'
                  - string
          bulk_pricing_rules:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
              title: bulkPricingRule_Full
              required:
              - quantity_min
              - quantity_max
              - type
              - amount
              properties:
                id:
                  type:
                  - 'null'
                  - integer
                quantity_min:
                  type:
                  - 'null'
                  - integer
                quantity_max:
                  type:
                  - 'null'
                  - integer
                type:
                  type:
                  - 'null'
                  - string
                amount:
                  type:
                  - 'null'
                  - integer
          images:
            type:
            - 'null'
            - array
            items:
              title: productImage_Full
              type:
              - 'null'
              - object
              properties:
                image_file:
                  type:
                  - 'null'
                  - string
                is_thumbnail:
                  type:
                  - 'null'
                  - boolean
                sort_order:
                  type:
                  - 'null'
                  - integer
                description:
                  type:
                  - 'null'
                  - string
                image_url:
                  type:
                  - 'null'
                  - string
                id:
                  type:
                  - 'null'
                  - integer
                product_id:
                  type:
                  - 'null'
                  - integer
                url_zoom:
                  type:
                  - 'null'
                  - string
                url_standard:
                  type:
                  - 'null'
                  - string
                url_thumbnail:
                  type:
                  - 'null'
                  - string
                url_tiny:
                  type:
                  - 'null'
                  - string
                date_modified:
                  format: date-time
                  type:
                  - 'null'
                  - string
          videos:
            type:
            - 'null'
            - array
            items:
              title: productVideo_Full
              type:
              - 'null'
              - object
              properties:
                title:
                  type:
                  - 'null'
                  - string
                description:
                  type:
                  - 'null'
                  - string
                sort_order:
                  type:
                  - 'null'
                  - integer
                type:
                  type:
                  - 'null'
                  - string
                video_id:
                  type:
                  - 'null'
                  - string
                id:
                  type:
                  - 'null'
                  - integer
                product_id:
                  type:
                  - 'null'
                  - integer
                length:
                  type:
                  - 'null'
                  - string
          date_created:
            type:
            - 'null'
            - string
            format: date-time
          date_modified:
            type:
            - 'null'
            - string
            format: date-time
          id:
            type:
            - 'null'
            - integer
          base_variant_id:
            type:
            - 'null'
            - integer
          calculated_price:
            type:
            - 'null'
            - number
            format: float
          options:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
              title: productOption_Base
              properties:
                id:
                  type:
                  - 'null'
                  - integer
                product_id:
                  type:
                  - 'null'
                  - integer
                display_name:
                  type:
                  - 'null'
                  - string
                type:
                  type:
                  - 'null'
                  - string
                config:
                  type:
                  - 'null'
                  - object
                  title: productOptionConfig_Full
                  properties:
                    default_value:
                      type:
                      - 'null'
                      - string
                    checked_by_default:
                      type:
                      - 'null'
                      - boolean
                    checkbox_label:
                      type:
                      - 'null'
                      - string
                    date_limited:
                      type:
                      - 'null'
                      - boolean
                    date_limit_mode:
                      type:
                      - 'null'
                      - string
                    date_earliest_value:
                      type:
                      - 'null'
                      - string
                      format: date
                    date_latest_value:
                      type:
                      - 'null'
                      - string
                      format: date
                    file_types_mode:
                      type:
                      - 'null'
                      - string
                    file_types_supported:
                      type:
                      - 'null'
                      - array
                      items:
                        type:
                        - 'null'
                        - string
                    file_types_other:
                      type:
                      - 'null'
                      - array
                      items:
                        type:
                        - 'null'
                        - string
                    file_max_size:
                      type:
                      - 'null'
                      - integer
                    text_characters_limited:
                      type:
                      - 'null'
                      - boolean
                    text_min_length:
                      type:
                      - 'null'
                      - integer
                    text_max_length:
                      type:
                      - 'null'
                      - integer
                    text_lines_limited:
                      type:
                      - 'null'
                      - boolean
                    text_max_lines:
                      type:
                      - 'null'
                      - integer
                    number_limited:
                      type:
                      - 'null'
                      - boolean
                    number_limit_mode:
                      type:
                      - 'null'
                      - string
                    number_lowest_value:
                      type:
                      - 'null'
                      - number
                    number_highest_value:
                      type:
                      - 'null'
                      - number
                    number_integers_only:
                      type:
                      - 'null'
                      - boolean
                    product_list_adjusts_inventory:
                      type:
                      - 'null'
                      - boolean
                    product_list_adjusts_pricing:
                      type:
                      - 'null'
                      - boolean
                    product_list_shipping_calc:
                      type:
                      - 'null'
                      - string
                sort_order:
                  type:
                  - 'null'
                  - integer
                option_values:
                  title: productOptionOptionValue_Full
                  type:
                  - 'null'
                  - object
                  required:
                  - label
                  - sort_order
                  properties:
                    is_default:
                      type:
                      - 'null'
                      - boolean
                    label:
                      type:
                      - 'null'
                      - string
                    sort_order:
                      type:
                      - 'null'
                      - integer
                    value_data:
                      type:
                      - object
                      - 'null'
                    id:
                      type:
                      - 'null'
                      - integer
          modifiers:
            type:
            - 'null'
            - array
            items:
              title: productModifier_Full
              type:
              - 'null'
              - object
              required:
              - type
              - required
              properties:
                type:
                  type:
                  - 'null'
                  - string
                required:
                  type:
                  - 'null'
                  - boolean
                sort_order:
                  type:
                  - 'null'
                  - integer
                config:
                  type:
                  - 'null'
                  - object
                  title: config_Full
                  properties:
                    default_value:
                      type:
                      - 'null'
                      - string
                    checked_by_default:
                      type:
                      - 'null'
                      - boolean
                    checkbox_label:
                      type:
                      - 'null'
                      - string
                    date_limited:
                      type:
                      - 'null'
                      - boolean
                    date_limit_mode:
                      type:
                      - 'null'
                      - string
                    date_earliest_value:
                      type:
                      - 'null'
                      - string
                      format: date
                    date_latest_value:
                      type:
                      - 'null'
                      - string
                      format: date
                    file_types_mode:
                      type:
                      - 'null'
                      - string
                    file_types_supported:
                      type:
                      - 'null'
                      - array
                      items:
                        type:
                        - 'null'
                        - string
                    file_types_other:
                      type:
                      - 'null'
                      - array
                      items:
                        type:
                        - 'null'
                        - string
                    file_max_size:
                      type:
                      - 'null'
                      - integer
                    text_characters_limited:
                      type:
                      - 'null'
                      - boolean
                    text_min_length:
                      type:
                      - 'null'
                      - integer
                    text_max_length:
                      type:
                      - 'null'
                      - integer
                    text_lines_limited:
                      type:
                      - 'null'
                      - boolean
                    text_max_lines:
                      type:
                      - 'null'
                      - integer
                    number_limited:
                      type:
                      - 'null'
                      - boolean
                    number_limit_mode:
                      type:
                      - 'null'
                      - string
                    number_lowest_value:
                      type:
                      - 'null'
                      - number
                    number_highest_value:
                      type:
                      - 'null'
                      - number
                    number_integers_only:
                      type:
                      - 'null'
                      - boolean
                    product_list_adjusts_inventory:
                      type:
                      - 'null'
                      - boolean
                    product_list_adjusts_pricing:
                      type:
                      - 'null'
                      - boolean
                    product_list_shipping_calc:
                      type:
                      - 'null'
                      - string
                display_name:
                  type:
                  - 'null'
                  - string
                id:
                  type:
                  - 'null'
                  - integer
                product_id:
                  type:
                  - 'null'
                  - integer
                name:
                  type:
                  - 'null'
                  - string
                option_values:
                  type:
                  - 'null'
                  - array
                  items:
                    title: productModifierOptionValue_Full
                    type:
                    - 'null'
                    - object
                    required:
                    - label
                    - sort_order
                    properties:
                      is_default:
                        type:
                        - 'null'
                        - boolean
                      label:
                        type:
                        - 'null'
                        - string
                      sort_order:
                        type:
                        - 'null'
                        - integer
                      value_data:
                        type:
                        - object
                        - 'null'
                      adjusters:
                        type:
                        - 'null'
                        - object
                        title: adjusters_Full
                        properties:
                          price:
                            type:
                            - 'null'
                            - object
                            title: adjuster_Full
                            properties:
                              adjuster:
                                type:
                                - 'null'
                                - string
                              adjuster_value:
                                type:
                                - 'null'
                                - number
                          weight:
                            type:
                            - 'null'
                            - object
                            title: adjuster_Full
                            properties:
                              adjuster:
                                type:
                                - 'null'
                                - string
                              adjuster_value:
                                type:
                                - 'null'
                                - number
                          image_url:
                            type:
                            - 'null'
                            - string
                          purchasing_disabled:
                            type:
                            - 'null'
                            - object
                            properties:
                              status:
                                type:
                                - 'null'
                                - boolean
                              message:
                                type:
                                - 'null'
                                - string
                      id:
                        type:
                        - 'null'
                        - integer
                      option_id:
                        type:
                        - 'null'
                        - integer
          option_set_id:
            type:
            - 'null'
            - integer
          option_set_display:
            type:
            - 'null'
            - string
          variants:
            type:
            - 'null'
            - array
            items:
              title: productVariant_Full
              type:
              - 'null'
              - object
              properties:
                cost_price:
                  type:
                  - 'null'
                  - number
                  format: double
                price:
                  type:
                  - 'null'
                  - number
                  format: double
                sale_price:
                  type:
                  - 'null'
                  - number
                  format: double
                retail_price:
                  type:
                  - 'null'
                  - number
                  format: double
                weight:
                  type:
                  - 'null'
                  - number
                  format: double
                width:
                  type:
                  - 'null'
                  - number
                  format: double
                height:
                  type:
                  - 'null'
                  - number
                  format: double
                depth:
                  type:
                  - 'null'
                  - number
                  format: double
                is_free_shipping:
                  type:
                  - 'null'
                  - boolean
                fixed_cost_shipping_price:
                  type:
                  - 'null'
                  - number
                  format: double
                purchasing_disabled:
                  type:
                  - 'null'
                  - boolean
                purchasing_disabled_message:
                  type:
                  - 'null'
                  - string
                upc:
                  type:
                  - 'null'
                  - string
                inventory_level:
                  type:
                  - 'null'
                  - integer
                inventory_warning_level:
                  type:
                  - 'null'
                  - integer
                bin_picking_number:
                  type:
                  - 'null'
                  - string
                mpn:
                  type:
                  - 'null'
                  - string
                id:
                  type:
                  - 'null'
                  - integer
                product_id:
                  type:
                  - 'null'
                  - integer
                sku:
                  type:
                  - 'null'
                  - string
                sku_id:
                  type:
                  - 'null'
                  - integer
                option_values:
                  type:
                  - 'null'
                  - array
                  items:
                    title: productVariantOptionValue_Full
                    type:
                    - 'null'
                    - object
                    properties:
                      option_display_name:
                        type:
                        - 'null'
                        - string
                      label:
                        type:
                        - 'null'
                        - string
                      id:
                        type:
                        - 'null'
                        - integer
                      option_id:
                        type:
                        - 'null'
                        - integer
                calculated_price:
                  type:
                  - 'null'
                  - number
                  format: double
                calculated_weight:
                  type: number
  channels_stream:
    type: DeclarativeStream
    name: channels
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
        http_method: GET
        request_headers:
          Accept: application/json
          Content-Type: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config["access_token"] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Auth-Token
        request_body_json: {}
        path: /v3/channels
        request_parameters:
          sort: date_modified
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 250
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S+00:00"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        inject_into: request_parameter
        field_name: date_modified:min
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
            - 'null'
            - integer
          external_id:
            type:
            - 'null'
            - string
          is_listable_from_ui:
            type:
            - 'null'
            - boolean
          is_visible:
            type:
            - 'null'
            - boolean
          status:
            type:
            - 'null'
            - string
          name:
            type:
            - 'null'
            - string
          type:
            type:
            - 'null'
            - string
          platform:
            type:
            - 'null'
            - string
          date_created:
            type:
            - 'null'
            - string
            format: date-time
          date_modified:
            type:
            - 'null'
            - string
            format: date-time
          icon_url:
            type:
            - 'null'
            - string
          is_enabled:
            type:
            - 'null'
            - boolean
  store_stream:
    type: DeclarativeStream
    name: store
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
        http_method: GET
        request_headers:
          Accept: application/json
          Content-Type: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config["access_token"] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Auth-Token
        request_body_json: {}
        path: v2/store
        request_parameters:
          sort: date_modified:asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 250
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
            - 'null'
            - string
          account_uuid:
            type:
            - 'null'
            - string
          domain:
            type:
            - 'null'
            - string
          secure_url:
            type:
            - 'null'
            - string
          control_panel_base_url:
            type:
            - 'null'
            - string
          status:
            type:
            - 'null'
            - string
          name:
            type:
            - 'null'
            - string
          first_name:
            type:
            - 'null'
            - string
          last_name:
            type:
            - 'null'
            - string
          address:
            type:
            - 'null'
            - string
          country:
            type:
            - 'null'
            - string
          country_code:
            type:
            - 'null'
            - string
          phone:
            type:
            - 'null'
            - string
          admin_email:
            type:
            - 'null'
            - string
          order_email:
            type:
            - 'null'
            - string
          favicon_url:
            type:
            - 'null'
            - string
          timezone:
            type:
            - 'null'
            - object
            properties:
              name:
                type:
                - 'null'
                - string
              raw_offset:
                type:
                - 'null'
                - integer
              dst_offset:
                type:
                - 'null'
                - integer
              date_format:
                type:
                - 'null'
                - object
                properties:
                  display:
                    type:
                    - 'null'
                    - string
                  export:
                    type:
                    - 'null'
                    - string
                  extended_display:
                    type:
                    - 'null'
                    - string
          language:
            type:
            - 'null'
            - string
          currency:
            type:
            - 'null'
            - string
          currency_symbol:
            type:
            - 'null'
            - string
          decimal_separator:
            type:
            - 'null'
            - string
          thousands_separator:
            type:
            - 'null'
            - string
          decimal_places:
            type:
            - 'null'
            - integer
          currency_symbol_location:
            type:
            - 'null'
            - string
          weight_units:
            type:
            - 'null'
            - string
          dimension_units:
            type:
            - 'null'
            - string
          dimension_decimal_places:
            type:
            - 'null'
            - integer
          dimension_decimal_token:
            type:
            - 'null'
            - string
          dimension_thousands_token:
            type:
            - 'null'
            - string
          plan_name:
            type:
            - 'null'
            - string
          plan_level:
            type:
            - 'null'
            - string
          plan_is_trial:
            type:
            - 'null'
            - boolean
          industry:
            type:
            - 'null'
            - string
          logo:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
              properties:
                url:
                  type:
                  - 'null'
                  - string
          is_price_entered_with_tax:
            type:
            - 'null'
            - boolean
          store_id:
            type:
            - 'null'
            - integer
          default_site_id:
            type:
            - 'null'
            - integer
          default_channel_id:
            type:
            - 'null'
            - integer
          active_comparison_modules:
            type:
            - 'null'
            - array
          features:
            type:
            - 'null'
            - object
            properties:
              stencil_enabled:
                type:
                - 'null'
                - boolean
              sitewidehttps_enabled:
                type:
                - 'null'
                - boolean
              facebook_catalog_id:
                type:
                - 'null'
                - string
              checkout_type:
                type:
                - 'null'
                - string
              wishlists_enabled:
                type:
                - 'null'
                - boolean
              graphql_storefront_api_enabled:
                type:
                - 'null'
                - boolean
              shopper_consent_tracking_enabled:
                type:
                - 'null'
                - boolean
              multi_storefront_enabled:
                type:
                - 'null'
                - boolean
  order_products_stream:
    type: DeclarativeStream
    name: order_products
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"] }}/
        http_method: GET
        request_headers:
          Accept: application/json
          Content-Type: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config["access_token"] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-Auth-Token
        request_body_json: {}
        path: v2/orders/{{ stream_partition.order_id }}/products
        request_parameters:
          sort: date_modified:asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 250
      partition_router:
      - type: SubstreamPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: order_id
          stream:
            type: DeclarativeStream
            name: orders
            primary_key: "id"
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.bigcommerce.com/stores/{{ config["store_hash"]
                  }}/
                http_method: GET
                request_headers:
                  Accept: application/json
                  Content-Type: application/json
                authenticator:
                  type: ApiKeyAuthenticator
                  api_token: '{{ config["access_token"] }}'
                  inject_into:
                    type: RequestOption
                    inject_into: header
                    field_name: X-Auth-Token
                request_body_json: {}
                path: v2/orders
                request_parameters:
                  sort: date_modified:asc
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path: []
              paginator:
                type: DefaultPaginator
                page_token_option:
                  type: RequestOption
                  inject_into: request_parameter
                  field_name: page
                page_size_option:
                  inject_into: request_parameter
                  field_name: limit
                  type: RequestOption
                pagination_strategy:
                  type: PageIncrement
                  start_from_page: 1
                  page_size: 250
            incremental_sync:
              type: DatetimeBasedCursor
              cursor_field: date_modified
              cursor_datetime_formats:
              - "%Y-%m-%dT%H:%M:%SZ"
              - "%Y-%m-%dT%H:%M:%S+00:00"
              datetime_format: "%Y-%m-%d"
              start_datetime:
                type: MinMaxDatetime
                datetime: "{{ config['start_date'] }}"
                datetime_format: "%Y-%m-%d"
              start_time_option:
                inject_into: request_parameter
                field_name: min_date_modified
                type: RequestOption
              end_datetime:
                type: MinMaxDatetime
                datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                datetime_format: "%Y-%m-%dT%H:%M:%SZ"
            transformations:
            - type: CustomTransformation
              class_name: source_declarative_manifest.components.DateTimeTransformer
              fields:
              - path:
                - date_modified
                value: "{{ record.date_modified }}"
            schema_loader:
              type: InlineSchemaLoader
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                properties:
                  id:
                    type:
                    - 'null'
                    - integer
                  date_modified:
                    type:
                    - 'null'
                    - string
                    format: date-time
[...]
