version: 7.23.8

type: DeclarativeSource

description: >-
  Source for AppLovin's advertiser-side reporting APIs. Covers app campaign
  reporting (/report), web campaign reporting (/webReport), and asset-level
  reporting (/assetAnalyticsReport). MAX publisher/monetization reporting
  (/maxReport, /maxCohort) is not included.

check:
  type: CheckStream
  stream_names:
    - asset_report_daily

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 2) }}"
  max_concurrency: 20

definitions:
  base_requester:
    type: HttpRequester
    url_base: https://r.applovin.com
    http_method: GET
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        field_name: api_key
        inject_into: request_parameter
    error_handler:
      type: DefaultErrorHandler
      max_retries: 5
      backoff_strategies:
        - type: ExponentialBackoffStrategy
      response_filters:
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
            - 401
            - 403
          failure_type: config_error
          error_message: >-
            AppLovin rejected the Report Key. Confirm the key is your Report Key
            (AppLovin dashboard, account menu, Keys) and that it has reporting
            access.
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
            - 429
            - 500
            - 502
            - 503
            - 504

  base_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      field_name: offset
      inject_into: request_parameter
    page_size_option:
      type: RequestOption
      field_name: limit
      inject_into: request_parameter
    pagination_strategy:
      type: OffsetIncrement
      # Row order is unstable without sort_<column> params, so each stream
      # sorts by its primary-key dimensions to keep offset pages consistent.
      page_size: 10000

  base_record_selector:
    type: RecordSelector
    schema_normalization: Default
    extractor:
      type: DpathExtractor
      field_path:
        - results

  # One-day slices keep composite keys stable; `lookback_window` re-requests
  # recent days for restated attribution. `min_datetime` clamps to AppLovin's
  # serving window (45 days; 90 for /webReport) — earlier dates error.
  report_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: day
    datetime_format: "%Y-%m-%d"
    cursor_datetime_formats:
      - "%Y-%m-%d"
    lookback_window: P{{ config.get('lookback_window', 3) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
      min_datetime: "{{ day_delta(-44, format='%Y-%m-%d') }}"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ config.get('end_date') or today_utc() }}"
      datetime_format: "%Y-%m-%d"
    step: P1D
    cursor_granularity: P1D
    start_time_option:
      type: RequestOption
      field_name: start
      inject_into: request_parameter
    end_time_option:
      type: RequestOption
      field_name: end
      inject_into: request_parameter

  web_report_incremental_sync:
    $ref: "#/definitions/report_incremental_sync"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
      min_datetime: "{{ day_delta(-89, format='%Y-%m-%d') }}"

  # The `hour` column is only served for the past 30 days.
  hourly_report_incremental_sync:
    $ref: "#/definitions/report_incremental_sync"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
      min_datetime: "{{ day_delta(-29, format='%Y-%m-%d') }}"

  # No day dimension in the asset report; AddFields stamps the slice date.
  asset_report_incremental_sync:
    $ref: "#/definitions/report_incremental_sync"
    cursor_field: date

  streams:
    advertiser_report_daily:
      type: DeclarativeStream
      name: advertiser_report_daily
      # No ad_id column; the key needs every dimension that can split rows.
      primary_key:
        - day
        - campaign_id_external
        - creative_set_id
        - ad
        - ad_type
        - ad_creative_type
        - custom_page_id
        - country
        - platform
        - placement_type
        - device_type
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /report
          request_parameters:
            report_type: advertiser
            format: json
            # Cohort mode: attribute *_0d/7d/28d metrics to click/serve day.
            day_column: day
            columns: day,campaign,campaign_id_external,campaign_type,campaign_ad_type,campaign_bid_goal,campaign_package_name,ad,ad_creative_type,ad_type,country,creative_set,creative_set_id,custom_page_id,device_type,placement_type,platform,cost,impressions,clicks,ctr,average_cpc,average_cpa,conversions,conversion_rate,sales,sales_0d,sales_7d,sales_30d,cpp_0d,cpp_7d,cpp_30d,roas_0d,roas_7d,roas_28d,total_rev_0d,total_rev_7d,total_rev_28d,unique_purchasers_0d,unique_purchasers_7d,unique_purchasers_28d
            sort_campaign_id_external: ASC
            sort_creative_set_id: ASC
            sort_ad: ASC
            sort_ad_type: ASC
            sort_ad_creative_type: ASC
            sort_custom_page_id: ASC
            sort_country: ASC
            sort_platform: ASC
            sort_placement_type: ASC
            sort_device_type: ASC
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/report_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/advertiser_report_daily"

    web_report_daily:
      type: DeclarativeStream
      name: web_report_daily
      primary_key:
        - day
        - campaign_id_external
        - creative_set_id
        - country
        - platform
        - placement_type
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webReport
          request_parameters:
            report_type: advertiser
            format: json
            attribution_mode: "{{ config.get('attribution_mode', 'click') }}"
            day_column: day
            columns: day,campaign,campaign_id_external,campaign_type,country,creative_set,creative_set_id,placement_type,platform,cost,impressions,clicks,ctr,average_cpc,sales,sales_0d,sales_7d,sales_28d,cpp_0d,cpp_7d,cpp_28d,roas_0d,roas_7d,roas_28d,chka_usd_0d,chka_usd_7d,chka_usd_28d,new_visitor_rate,nc_d0_checkouts,nc_d0_checkout_rev,nc_d0_cpp,nc_d0_roas,nc_percent_d0_checkouts,nc_percent_d0_checkout_rev,nc_d7_checkouts,nc_d7_checkout_rev,nc_d7_cpp,nc_d7_roas,nc_percent_d7_checkouts,nc_percent_d7_checkout_rev
            sort_campaign_id_external: ASC
            sort_creative_set_id: ASC
            sort_country: ASC
            sort_platform: ASC
            sort_placement_type: ASC
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/web_report_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/web_report_daily"

    # Hourly streams mirror the daily streams (cohort mode, same column set)
    # plus the `hour` dimension. AppLovin's docs list `hour` only for publisher
    # reports, but the advertiser endpoints serve it too (verified empirically).
    advertiser_report_hourly:
      type: DeclarativeStream
      name: advertiser_report_hourly
      primary_key:
        - day
        - hour
        - campaign_id_external
        - creative_set_id
        - ad
        - ad_type
        - ad_creative_type
        - custom_page_id
        - country
        - platform
        - placement_type
        - device_type
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /report
          request_parameters:
            report_type: advertiser
            format: json
            day_column: day
            columns: day,hour,campaign,campaign_id_external,campaign_type,campaign_ad_type,campaign_bid_goal,campaign_package_name,ad,ad_creative_type,ad_type,country,creative_set,creative_set_id,custom_page_id,device_type,placement_type,platform,cost,impressions,clicks,ctr,average_cpc,average_cpa,conversions,conversion_rate,sales,sales_0d,sales_7d,sales_30d,cpp_0d,cpp_7d,cpp_30d,roas_0d,roas_7d,roas_28d,total_rev_0d,total_rev_7d,total_rev_28d,unique_purchasers_0d,unique_purchasers_7d,unique_purchasers_28d
            sort_hour: ASC
            sort_campaign_id_external: ASC
            sort_creative_set_id: ASC
            sort_ad: ASC
            sort_ad_type: ASC
            sort_ad_creative_type: ASC
            sort_custom_page_id: ASC
            sort_country: ASC
            sort_platform: ASC
            sort_placement_type: ASC
            sort_device_type: ASC
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/hourly_report_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/advertiser_report_hourly"

    web_report_hourly:
      type: DeclarativeStream
      name: web_report_hourly
      primary_key:
        - day
        - hour
        - campaign_id_external
        - creative_set_id
        - country
        - platform
        - placement_type
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webReport
          request_parameters:
            report_type: advertiser
            format: json
            attribution_mode: "{{ config.get('attribution_mode', 'click') }}"
            day_column: day
            columns: day,hour,campaign,campaign_id_external,campaign_type,country,creative_set,creative_set_id,placement_type,platform,cost,impressions,clicks,ctr,average_cpc,sales,sales_0d,sales_7d,sales_28d,cpp_0d,cpp_7d,cpp_28d,roas_0d,roas_7d,roas_28d,chka_usd_0d,chka_usd_7d,chka_usd_28d,new_visitor_rate,nc_d0_checkouts,nc_d0_checkout_rev,nc_d0_cpp,nc_d0_roas,nc_percent_d0_checkouts,nc_percent_d0_checkout_rev,nc_d7_checkouts,nc_d7_checkout_rev,nc_d7_cpp,nc_d7_roas,nc_percent_d7_checkouts,nc_percent_d7_checkout_rev
            sort_hour: ASC
            sort_campaign_id_external: ASC
            sort_creative_set_id: ASC
            sort_country: ASC
            sort_platform: ASC
            sort_placement_type: ASC
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/hourly_report_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/web_report_hourly"

    asset_report_daily:
      type: DeclarativeStream
      name: asset_report_daily
      primary_key:
        - date
        - asset_id
        - campaign_id
        - creative_set_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /assetAnalyticsReport
          request_parameters:
            format: json
            columns: asset_id,asset_name,asset_url,campaign,campaign_id,creative_set,creative_set_id,impressions,clicks,ctr,cost
            sort_campaign_id: ASC
            sort_creative_set_id: ASC
            sort_asset_id: ASC
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/asset_report_incremental_sync"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date
              value: "{{ stream_slice.start_time }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/asset_report_daily"

streams:
  - $ref: "#/definitions/streams/advertiser_report_daily"
  - $ref: "#/definitions/streams/advertiser_report_hourly"
  - $ref: "#/definitions/streams/web_report_daily"
  - $ref: "#/definitions/streams/web_report_hourly"
  - $ref: "#/definitions/streams/asset_report_daily"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: AppLovin Ads Source Spec
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: Report Key
        description: >-
          Your AppLovin Report Key. In the AppLovin dashboard, click your account
          in the top right and select Keys. The Management Key, Campaign
          Management Key, and CAPI Key do not work for reporting.
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start Date
        description: >-
          UTC date to start replicating from, in YYYY-MM-DD format. AppLovin only
          serves the last 45 days for app campaign and asset reports, the last
          90 days for web campaign reports, and the last 30 days for the hourly
          reports, so earlier dates are clamped to the oldest available day.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2026-01-01"
        order: 1
      end_date:
        type: string
        title: End Date
        description: >-
          UTC date to replicate up to, inclusive, in YYYY-MM-DD format. Defaults
          to today.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2026-06-30"
        order: 2
      lookback_window:
        type: integer
        title: Lookback Window (days)
        description: >-
          Number of days before the last synced date to re-request on every
          incremental sync. AppLovin restates recent metrics as attribution
          arrives, so a lookback keeps already-synced days up to date.
        default: 3
        minimum: 0
        maximum: 45
        order: 3
      attribution_mode:
        type: string
        title: Web Attribution Mode
        description: >-
          Attribution mode for the web campaign reports. Click counts
          click-through conversions only; click and view also counts
          view-through conversions.
        enum:
          - click
          - click_and_view
        default: click
        order: 4
      num_workers:
        type: integer
        title: Number of Concurrent Workers
        description: Number of streams to sync concurrently.
        default: 2
        minimum: 1
        maximum: 20
        order: 5
    additionalProperties: true

metadata:
  autoImportSchema:
    advertiser_report_daily: false
    advertiser_report_hourly: false
    web_report_daily: false
    web_report_hourly: false
    asset_report_daily: false
  yamlComponents:
    global:
      - authenticator

schemas:
  # Metrics arrive as strings; `schema_normalization: Default` casts them to
  # the declared types. Permissive schemas: AppLovin adds columns over time.
  advertiser_report_daily:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      day:
        type:
          - string
          - "null"
        format: date
      campaign:
        type:
          - string
          - "null"
      campaign_id_external:
        type:
          - string
          - "null"
      campaign_type:
        type:
          - string
          - "null"
      campaign_ad_type:
        type:
          - string
          - "null"
      campaign_bid_goal:
        type:
          - number
          - "null"
      campaign_package_name:
        type:
          - string
          - "null"
      ad:
        type:
          - string
          - "null"
      ad_creative_type:
        type:
          - string
          - "null"
      ad_type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      creative_set:
        type:
          - string
          - "null"
      creative_set_id:
        type:
          - string
          - "null"
      custom_page_id:
        type:
          - string
          - "null"
      device_type:
        type:
          - string
          - "null"
      placement_type:
        type:
          - string
          - "null"
      platform:
        type:
          - string
          - "null"
      cost:
        type:
          - number
          - "null"
      impressions:
        type:
          - integer
          - "null"
      clicks:
        type:
          - integer
          - "null"
      ctr:
        type:
          - number
          - "null"
      average_cpc:
        type:
          - number
          - "null"
      average_cpa:
        type:
          - number
          - "null"
      conversions:
        type:
          - integer
          - "null"
      conversion_rate:
        type:
          - number
          - "null"
      sales:
        type:
          - integer
          - "null"
      sales_0d:
        type:
          - integer
          - "null"
      sales_7d:
        type:
          - integer
          - "null"
      sales_30d:
        type:
          - integer
          - "null"
      cpp_0d:
        type:
          - number
          - "null"
      cpp_7d:
        type:
          - number
          - "null"
      cpp_30d:
        type:
          - number
          - "null"
      roas_0d:
        type:
          - number
          - "null"
      roas_7d:
        type:
          - number
          - "null"
      roas_28d:
        type:
          - number
          - "null"
      total_rev_0d:
        type:
          - number
          - "null"
      total_rev_7d:
        type:
          - number
          - "null"
      total_rev_28d:
        type:
          - number
          - "null"
      unique_purchasers_0d:
        type:
          - integer
          - "null"
      unique_purchasers_7d:
        type:
          - integer
          - "null"
      unique_purchasers_28d:
        type:
          - integer
          - "null"
  advertiser_report_hourly:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      day:
        type:
          - string
          - "null"
        format: date
      # Kept as string: AppLovin does not document the hour value format.
      hour:
        type:
          - string
          - "null"
      campaign:
        type:
          - string
          - "null"
      campaign_id_external:
        type:
          - string
          - "null"
      campaign_type:
        type:
          - string
          - "null"
      campaign_ad_type:
        type:
          - string
          - "null"
      campaign_bid_goal:
        type:
          - number
          - "null"
      campaign_package_name:
        type:
          - string
          - "null"
      ad:
        type:
          - string
          - "null"
      ad_creative_type:
        type:
          - string
          - "null"
      ad_type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      creative_set:
        type:
          - string
          - "null"
      creative_set_id:
        type:
          - string
          - "null"
      custom_page_id:
        type:
          - string
          - "null"
      device_type:
        type:
          - string
          - "null"
      placement_type:
        type:
          - string
          - "null"
      platform:
        type:
          - string
          - "null"
      cost:
        type:
          - number
          - "null"
      impressions:
        type:
          - integer
          - "null"
      clicks:
        type:
          - integer
          - "null"
      ctr:
        type:
          - number
          - "null"
      average_cpc:
        type:
          - number
          - "null"
      average_cpa:
        type:
          - number
          - "null"
      conversions:
        type:
          - integer
          - "null"
      conversion_rate:
        type:
          - number
          - "null"
      sales:
        type:
          - integer
          - "null"
      sales_0d:
        type:
          - integer
          - "null"
      sales_7d:
        type:
          - integer
          - "null"
      sales_30d:
        type:
          - integer
          - "null"
      cpp_0d:
        type:
          - number
          - "null"
      cpp_7d:
        type:
          - number
          - "null"
      cpp_30d:
        type:
          - number
          - "null"
      roas_0d:
        type:
          - number
          - "null"
      roas_7d:
        type:
          - number
          - "null"
      roas_28d:
        type:
          - number
          - "null"
      total_rev_0d:
        type:
          - number
          - "null"
      total_rev_7d:
        type:
          - number
          - "null"
      total_rev_28d:
        type:
          - number
          - "null"
      unique_purchasers_0d:
        type:
          - integer
          - "null"
      unique_purchasers_7d:
        type:
          - integer
          - "null"
      unique_purchasers_28d:
        type:
          - integer
          - "null"
  web_report_daily:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      day:
        type:
          - string
          - "null"
        format: date
      campaign:
        type:
          - string
          - "null"
      campaign_id_external:
        type:
          - string
          - "null"
      campaign_type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      creative_set:
        type:
          - string
          - "null"
      creative_set_id:
        type:
          - string
          - "null"
      placement_type:
        type:
          - string
          - "null"
      platform:
        type:
          - string
          - "null"
      cost:
        type:
          - number
          - "null"
      impressions:
        type:
          - integer
          - "null"
      clicks:
        type:
          - integer
          - "null"
      ctr:
        type:
          - number
          - "null"
      average_cpc:
        type:
          - number
          - "null"
      sales:
        type:
          - integer
          - "null"
      sales_0d:
        type:
          - integer
          - "null"
      sales_7d:
        type:
          - integer
          - "null"
      sales_28d:
        type:
          - integer
          - "null"
      cpp_0d:
        type:
          - number
          - "null"
      cpp_7d:
        type:
          - number
          - "null"
      cpp_28d:
        type:
          - number
          - "null"
      roas_0d:
        type:
          - number
          - "null"
      roas_7d:
        type:
          - number
          - "null"
      roas_28d:
        type:
          - number
          - "null"
      chka_usd_0d:
        type:
          - number
          - "null"
      chka_usd_7d:
        type:
          - number
          - "null"
      chka_usd_28d:
        type:
          - number
          - "null"
      new_visitor_rate:
        type:
          - number
          - "null"
      nc_d0_checkouts:
        type:
          - integer
          - "null"
      nc_d0_checkout_rev:
        type:
          - number
          - "null"
      nc_d0_cpp:
        type:
          - number
          - "null"
      nc_d0_roas:
        type:
          - number
          - "null"
      nc_percent_d0_checkouts:
        type:
          - number
          - "null"
      nc_percent_d0_checkout_rev:
        type:
          - number
          - "null"
      nc_d7_checkouts:
        type:
          - integer
          - "null"
      nc_d7_checkout_rev:
        type:
          - number
          - "null"
      nc_d7_cpp:
        type:
          - number
          - "null"
      nc_d7_roas:
        type:
          - number
          - "null"
      nc_percent_d7_checkouts:
        type:
          - number
          - "null"
      nc_percent_d7_checkout_rev:
        type:
          - number
          - "null"
  web_report_hourly:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      day:
        type:
          - string
          - "null"
        format: date
      # Kept as string: AppLovin does not document the hour value format.
      hour:
        type:
          - string
          - "null"
      campaign:
        type:
          - string
          - "null"
      campaign_id_external:
        type:
          - string
          - "null"
      campaign_type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      creative_set:
        type:
          - string
          - "null"
      creative_set_id:
        type:
          - string
          - "null"
      placement_type:
        type:
          - string
          - "null"
      platform:
        type:
          - string
          - "null"
      cost:
        type:
          - number
          - "null"
      impressions:
        type:
          - integer
          - "null"
      clicks:
        type:
          - integer
          - "null"
      ctr:
        type:
          - number
          - "null"
      average_cpc:
        type:
          - number
          - "null"
      sales:
        type:
          - integer
          - "null"
      sales_0d:
        type:
          - integer
          - "null"
      sales_7d:
        type:
          - integer
          - "null"
      sales_28d:
        type:
          - integer
          - "null"
      cpp_0d:
        type:
          - number
          - "null"
      cpp_7d:
        type:
          - number
          - "null"
      cpp_28d:
        type:
          - number
          - "null"
      roas_0d:
        type:
          - number
          - "null"
      roas_7d:
        type:
          - number
          - "null"
      roas_28d:
        type:
          - number
          - "null"
      chka_usd_0d:
        type:
          - number
          - "null"
      chka_usd_7d:
        type:
          - number
          - "null"
      chka_usd_28d:
        type:
          - number
          - "null"
      new_visitor_rate:
        type:
          - number
          - "null"
      nc_d0_checkouts:
        type:
          - integer
          - "null"
      nc_d0_checkout_rev:
        type:
          - number
          - "null"
      nc_d0_cpp:
        type:
          - number
          - "null"
      nc_d0_roas:
        type:
          - number
          - "null"
      nc_percent_d0_checkouts:
        type:
          - number
          - "null"
      nc_percent_d0_checkout_rev:
        type:
          - number
          - "null"
      nc_d7_checkouts:
        type:
          - integer
          - "null"
      nc_d7_checkout_rev:
        type:
          - number
          - "null"
      nc_d7_cpp:
        type:
          - number
          - "null"
      nc_d7_roas:
        type:
          - number
          - "null"
      nc_percent_d7_checkouts:
        type:
          - number
          - "null"
      nc_percent_d7_checkout_rev:
        type:
          - number
          - "null"
  asset_report_daily:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      date:
        type:
          - string
          - "null"
        format: date
      asset_id:
        type:
          - string
          - "null"
      asset_name:
        type:
          - string
          - "null"
      asset_url:
        type:
          - string
          - "null"
      campaign:
        type:
          - string
          - "null"
      campaign_id:
        type:
          - string
          - "null"
      creative_set:
        type:
          - string
          - "null"
      creative_set_id:
        type:
          - string
          - "null"
      impressions:
        type:
          - integer
          - "null"
      clicks:
        type:
          - integer
          - "null"
      ctr:
        type:
          - number
          - "null"
      cost:
        type:
          - number
          - "null"
