version: 6.41.5

type: DeclarativeSource

description: >-
  Website: https://app.boldsign.com/

  API Reference:
  https://developers.boldsign.com/api-overview/getting-started/?region=us

check:
  type: CheckStream
  stream_names:
    - documents

definitions:
  streams:
    documents:
      type: DeclarativeStream
      name: documents
      primary_key:
        - documentId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/document/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdDate
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/documents"
    brands:
      type: DeclarativeStream
      name: brands
      primary_key:
        - brandId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/brand/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brands"
    senderIdentities:
      type: DeclarativeStream
      name: senderIdentities
      primary_key:
        - email
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/senderIdentities/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/senderIdentities"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - teamId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/teams/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdDate
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - documentId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/template/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdDate
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    users_list:
      type: DeclarativeStream
      name: users_list
      primary_key:
        - userId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/users/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdDate
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users_list"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - customFieldId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/customField/list
          http_method: GET
          request_parameters:
            brandId: "{{ stream_partition['brand_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: brandId
              partition_field: brand_id
              stream:
                $ref: "#/definitions/streams/brands"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/contacts/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
  base_requester:
    type: HttpRequester
    url_base: https://api.boldsign.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/documents"
  - $ref: "#/definitions/streams/brands"
  - $ref: "#/definitions/streams/senderIdentities"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/users_list"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/contacts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          Your BoldSign API key. You can generate it by navigating to the API
          menu in the BoldSign app, selecting 'API Key', and clicking 'Generate
          API Key'. Copy the generated key and paste it here.
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    documents: true
    brands: true
    senderIdentities: true
    teams: true
    templates: true
    users_list: true
    custom_fields: true
    contacts: true
  testedStreams:
    documents:
      streamHash: 92d16f168181151d3cb61be2ef465c51a1feaef3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    brands:
      streamHash: 8f6b597fd78669e053fc6702d05e2dcacbd70c23
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    senderIdentities:
      streamHash: dc5fbde272baded24518ea29a8cb1c91ce65a477
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: 1569fe9cde981c5730cb03c39935de100c99c242
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      streamHash: ae8235be5eb8c0dea62e8db80dab3ddee5dadaa7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users_list:
      streamHash: 5fc9eddeadc12ced4a1184611c0a2ed9176aae12
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    custom_fields:
      streamHash: 93b9d5e8b40095531587483be0afe922448b4532
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: 506766866c45bc15bdf49011afca3ee0e4b09ee7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.boldsign.com/documents/list-documents/?region=us

schemas:
  documents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      activityBy:
        type:
          - string
          - "null"
      activityDate:
        type:
          - number
          - "null"
      brandId:
        type:
          - string
          - "null"
      ccDetails:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            emailAddress:
              type:
                - string
                - "null"
            isViewed:
              type:
                - boolean
                - "null"
      createdDate:
        type: number
      cursor:
        type:
          - number
          - "null"
      documentId:
        type: string
      enableSigningOrder:
        type:
          - boolean
          - "null"
      expiryDate:
        type:
          - number
          - "null"
      isDeleted:
        type:
          - boolean
          - "null"
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      messageTitle:
        type:
          - string
          - "null"
      senderDetail:
        type:
          - object
          - "null"
        properties:
          emailAddress:
            type:
              - string
              - "null"
          isViewed:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
      signerDetails:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            allowFieldConfiguration:
              type:
                - boolean
                - "null"
            authenticationType:
              type:
                - string
                - "null"
            enableAccessCode:
              type:
                - boolean
                - "null"
            enableEmailOTP:
              type:
                - boolean
                - "null"
            enableQes:
              type:
                - boolean
                - "null"
            formFields:
              type:
                - array
                - "null"
            hostEmail:
              type:
                - string
                - "null"
            hostName:
              type:
                - string
                - "null"
            isDeliveryFailed:
              type:
                - boolean
                - "null"
            isReassigned:
              type:
                - boolean
                - "null"
            isViewed:
              type:
                - boolean
                - "null"
            language:
              type:
                - number
                - "null"
            locale:
              type:
                - string
                - "null"
            order:
              type:
                - number
                - "null"
            privateMessage:
              type:
                - string
                - "null"
            signerEmail:
              type:
                - string
                - "null"
            signerName:
              type:
                - string
                - "null"
            signerRole:
              type:
                - string
                - "null"
            signerType:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
      status:
        type:
          - string
          - "null"
    required:
      - documentId
      - createdDate
  brands:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      allowCustomFieldCreation:
        type:
          - boolean
          - "null"
      backgroundColor:
        type:
          - string
          - "null"
      brandId:
        type: string
      brandLogo:
        type:
          - string
          - "null"
      brandName:
        type:
          - string
          - "null"
      buttonColor:
        type:
          - string
          - "null"
      buttonTextColor:
        type:
          - string
          - "null"
      canHideTagLine:
        type:
          - boolean
          - "null"
      combineAuditTrail:
        type:
          - boolean
          - "null"
      disclaimerDescription:
        type:
          - string
          - "null"
      disclaimerTitle:
        type:
          - string
          - "null"
      documentExpirySettings:
        type:
          - object
          - "null"
        properties: {}
      documentTimeZone:
        type:
          - string
          - "null"
      emailDisplayName:
        type:
          - string
          - "null"
      emailSignedDocument:
        type:
          - string
          - "null"
      excludeAuditTrailFromEmail:
        type:
          - boolean
          - "null"
      hideDecline:
        type:
          - boolean
          - "null"
      hideSave:
        type:
          - boolean
          - "null"
      isDefault:
        type:
          - boolean
          - "null"
      isDomainVerified:
        type:
          - boolean
          - "null"
      redirectUrl:
        type:
          - string
          - "null"
      showBuiltInFormFields:
        type:
          - boolean
          - "null"
      showSharedCustomFields:
        type:
          - boolean
          - "null"
    required:
      - brandId
  senderIdentities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      approvedDate:
        type:
          - string
          - "null"
      createdBy:
        type:
          - string
          - "null"
      email:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - email
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdDate:
        type: number
      modifiedDate:
        type:
          - number
          - "null"
      teamId:
        type: string
      teamName:
        type:
          - string
          - "null"
    required:
      - teamId
      - createdDate
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accessTid:
        type:
          - string
          - "null"
      accessType:
        type:
          - string
          - "null"
      activityBy:
        type:
          - string
          - "null"
      activityDate:
        type:
          - number
          - "null"
      brandId:
        type:
          - string
          - "null"
      ccDetails:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            emailAddress:
              type:
                - string
                - "null"
      createdDate:
        type: number
      documentId:
        type: string
      enableSigningOrder:
        type:
          - boolean
          - "null"
      isTemplate:
        type:
          - boolean
          - "null"
      labels:
        type:
          - array
          - "null"
      messageTitle:
        type:
          - string
          - "null"
      senderDetail:
        type:
          - object
          - "null"
        properties:
          emailAddress:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          userId:
            type:
              - string
              - "null"
      signerDetails:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            allowFieldConfiguration:
              type:
                - boolean
                - "null"
            deliveryMode:
              type:
                - string
                - "null"
            enableAccessCode:
              type:
                - boolean
                - "null"
            enableEmailOTP:
              type:
                - boolean
                - "null"
            imposeAuthentication:
              type:
                - string
                - "null"
            order:
              type:
                - number
                - "null"
            signType:
              type:
                - string
                - "null"
            signerEmail:
              type:
                - string
                - "null"
            signerName:
              type:
                - string
                - "null"
            signerRole:
              type:
                - string
                - "null"
            signerType:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
      status:
        type:
          - string
          - "null"
      templateDescription:
        type:
          - string
          - "null"
      templateLabels:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      templateName:
        type:
          - string
          - "null"
    required:
      - documentId
      - createdDate
  users_list:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdDate:
        type: number
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      metaData:
        type:
          - object
          - "null"
      modifiedDate:
        type:
          - number
          - "null"
      role:
        type:
          - string
          - "null"
      teamId:
        type:
          - string
          - "null"
      teamName:
        type:
          - string
          - "null"
      userId:
        type: string
      userStatus:
        type:
          - string
          - "null"
    required:
      - userId
      - createdDate
  custom_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      brandId:
        type:
          - string
          - "null"
      customFieldId:
        type: string
      fieldDescription:
        type:
          - string
          - "null"
      fieldName:
        type:
          - string
          - "null"
      fieldOrder:
        type:
          - number
          - "null"
      formField:
        type:
          - object
          - "null"
        properties:
          characterLimit:
            type:
              - number
              - "null"
          characterSpacing:
            type:
              - number
              - "null"
          dataSyncTag:
            type:
              - string
              - "null"
          dateFormat:
            type:
              - string
              - "null"
          dropdownOptions:
            type:
              - array
              - "null"
          fieldType:
            type:
              - string
              - "null"
          font:
            type:
              - string
              - "null"
          fontHexColor:
            type:
              - string
              - "null"
          fontSize:
            type:
              - number
              - "null"
          height:
            type:
              - number
              - "null"
          hyperlinkText:
            type:
              - string
              - "null"
          idPrefix:
            type:
              - string
              - "null"
          isBoldFont:
            type:
              - boolean
              - "null"
          isItalicFont:
            type:
              - boolean
              - "null"
          isReadOnly:
            type:
              - boolean
              - "null"
          isRequired:
            type:
              - boolean
              - "null"
          isUnderLineFont:
            type:
              - boolean
              - "null"
          lineHeight:
            type:
              - number
              - "null"
          placeHolder:
            type:
              - string
              - "null"
          restrictIdPrefixChange:
            type:
              - boolean
              - "null"
          textAlign:
            type:
              - string
              - "null"
          textDirection:
            type:
              - string
              - "null"
          timeFormat:
            type:
              - string
              - "null"
          validationCustomRegex:
            type:
              - string
              - "null"
          validationCustomRegexMessage:
            type:
              - string
              - "null"
          validationType:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          width:
            type:
              - number
              - "null"
      sharedField:
        type:
          - boolean
          - "null"
    required:
      - customFieldId
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      companyName:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      jobTitle:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
