version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - market_chart
    - history

definitions:
  streams:
    market_chart:
      type: DeclarativeStream
      name: market_chart
      primary_key:
        - prices
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /market_chart
          http_method: GET
          request_parameters:
            days: "{{ config['days'] }}"
            vs_currency: "{{ config['vs_currency'] }}"
            x_cg_pro_api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/market_chart"
    history:
      type: DeclarativeStream
      name: history
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /history
          http_method: GET
          request_parameters:
            days: "{{ config['days'] }}"
            vs_currency: "{{ config['vs_currency'] }}"
            x_cg_pro_api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        name: history
        path: /history
        cursor_field: date
        cursor_datetime_formats:
          - "%d-%m-%Y"
        datetime_format: "%d-%m-%Y"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%d-%m-%Y"
        start_time_option:
          type: RequestOption
          field_name: date
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] or now_utc().strftime('%d-%m-%Y') }}"
          datetime_format: "%d-%m-%Y"
        step: P1D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - date
              value: "{{ stream_slice['start_time'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/history"
  base_requester:
    type: HttpRequester
    url_base: >-
      https://{{ 'api' if not config['api_key'] else 'pro-api'
      }}.coingecko.com/api/v3/coins/{{ config['coin_id'] }}

streams:
  - $ref: "#/definitions/streams/market_chart"
  - $ref: "#/definitions/streams/history"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - coin_id
      - vs_currency
      - days
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        description: API Key (for pro users)
        airbyte_secret: true
      coin_id:
        type: string
        order: 1
        description: |
          CoinGecko coin ID (e.g. bitcoin). Can be retrieved from the
          `/coins/list` endpoint.
      vs_currency:
        type: string
        order: 2
        description: |
          The target currency of market data (e.g. usd, eur, jpy, etc.)
      days:
        type: string
        enum:
          - "1"
          - "7"
          - "14"
          - "30"
          - "90"
          - "180"
          - "365"
          - max
        order: 3
        default: "30"
        description: |
          The number of days of data for market chart.
      start_date:
        type: string
        order: 4
        format: date
        pattern: ^[0-9]{2}-[0-9]{2}-[0-9]{4}$
        description: |
          The start date for the historical data stream in dd-mm-yyyy format.
      end_date:
        type: string
        order: 5
        format: date
        pattern: ^[0-9]{2}-[0-9]{2}-[0-9]{4}$
        description: |
          The end date for the historical data stream in dd-mm-yyyy format.
    additionalProperties: true

metadata:
  autoImportSchema:
    market_chart: false
    history: false

schemas:
  market_chart:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      market_caps:
        type: array
        items:
          type: array
          items:
            type: number
      prices:
        type: array
        items:
          type: array
          items:
            type: number
      total_volumes:
        type: array
        items:
          type: array
          items:
            type: number
  history:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      community_data:
        type: object
        properties:
          facebook_likes: {}
          reddit_accounts_active_48h:
            type:
              - string
              - "null"
          reddit_average_comments_48h:
            type:
              - number
              - "null"
          reddit_average_posts_48h:
            type:
              - number
              - "null"
          reddit_subscribers:
            type:
              - number
              - "null"
          twitter_followers: {}
      developer_data:
        type: object
        properties:
          closed_issues:
            type:
              - number
              - "null"
          code_additions_deletions_4_weeks:
            type: object
            properties:
              additions:
                type:
                  - number
                  - "null"
              deletions:
                type:
                  - number
                  - "null"
          commit_count_4_weeks:
            type:
              - number
              - "null"
          forks:
            type:
              - number
              - "null"
          pull_request_contributors:
            type:
              - number
              - "null"
          pull_requests_merged:
            type:
              - number
              - "null"
          stars:
            type:
              - number
              - "null"
          subscribers:
            type:
              - number
              - "null"
          total_issues:
            type:
              - number
              - "null"
      id:
        type:
          - string
          - "null"
      image:
        type: object
        properties:
          small:
            type:
              - string
              - "null"
          thumb:
            type:
              - string
              - "null"
      localization:
        type: object
        properties:
          ar:
            type:
              - string
              - "null"
          bg:
            type:
              - string
              - "null"
          cs:
            type:
              - string
              - "null"
          da:
            type:
              - string
              - "null"
          de:
            type:
              - string
              - "null"
          el:
            type:
              - string
              - "null"
          en:
            type:
              - string
              - "null"
          es:
            type:
              - string
              - "null"
          fi:
            type:
              - string
              - "null"
          fr:
            type:
              - string
              - "null"
          he:
            type:
              - string
              - "null"
          hi:
            type:
              - string
              - "null"
          hr:
            type:
              - string
              - "null"
          hu:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          it:
            type:
              - string
              - "null"
          ja:
            type:
              - string
              - "null"
          ko:
            type:
              - string
              - "null"
          lt:
            type:
              - string
              - "null"
          nl:
            type:
              - string
              - "null"
          "no":
            type:
              - string
              - "null"
          pl:
            type:
              - string
              - "null"
          pt:
            type:
              - string
              - "null"
          ro:
            type:
              - string
              - "null"
          ru:
            type:
              - string
              - "null"
          sk:
            type:
              - string
              - "null"
          sl:
            type:
              - string
              - "null"
          sv:
            type:
              - string
              - "null"
          th:
            type:
              - string
              - "null"
          tr:
            type:
              - string
              - "null"
          uk:
            type:
              - string
              - "null"
          vi:
            type:
              - string
              - "null"
          zh:
            type:
              - string
              - "null"
          zh-tw:
            type:
              - string
              - "null"
      market_data:
        type: object
        properties:
          current_price:
            type: object
            properties:
              aed:
                type:
                  - number
                  - "null"
              ars:
                type:
                  - number
                  - "null"
              aud:
                type:
                  - number
                  - "null"
              bch:
                type:
                  - number
                  - "null"
              bdt:
                type:
                  - number
                  - "null"
              bhd:
                type:
                  - number
                  - "null"
              bits:
                type:
                  - number
                  - "null"
              bmd:
                type:
                  - number
                  - "null"
              bnb:
                type:
                  - number
                  - "null"
              brl:
                type:
                  - number
                  - "null"
              btc:
                type:
                  - number
                  - "null"
              cad:
                type:
                  - number
                  - "null"
              chf:
                type:
                  - number
                  - "null"
              clp:
                type:
                  - number
                  - "null"
              cny:
                type:
                  - number
                  - "null"
              czk:
                type:
                  - number
                  - "null"
              dkk:
                type:
                  - number
                  - "null"
              dot:
                type:
                  - number
                  - "null"
              eos:
                type:
                  - number
                  - "null"
              eth:
                type:
                  - number
                  - "null"
              eur:
                type:
                  - number
                  - "null"
              gbp:
                type:
                  - number
                  - "null"
              hkd:
                type:
                  - number
                  - "null"
              huf:
                type:
                  - number
                  - "null"
              idr:
                type:
                  - number
                  - "null"
              ils:
                type:
                  - number
                  - "null"
              inr:
                type:
                  - number
                  - "null"
              jpy:
                type:
                  - number
                  - "null"
              krw:
                type:
                  - number
                  - "null"
              kwd:
                type:
                  - number
                  - "null"
              link:
                type:
                  - number
                  - "null"
              lkr:
                type:
                  - number
                  - "null"
              ltc:
                type:
                  - number
                  - "null"
              mmk:
                type:
                  - number
                  - "null"
              mxn:
                type:
                  - number
                  - "null"
              myr:
                type:
                  - number
                  - "null"
              ngn:
                type:
                  - number
                  - "null"
              nok:
                type:
                  - number
                  - "null"
              nzd:
                type:
                  - number
                  - "null"
              php:
                type:
                  - number
                  - "null"
              pkr:
                type:
                  - number
                  - "null"
              pln:
                type:
                  - number
                  - "null"
              rub:
                type:
                  - number
                  - "null"
              sar:
                type:
                  - number
                  - "null"
              sats:
                type:
                  - number
                  - "null"
              sek:
                type:
                  - number
                  - "null"
              sgd:
                type:
                  - number
                  - "null"
              thb:
                type:
                  - number
                  - "null"
              try:
                type:
                  - number
                  - "null"
              twd:
                type:
                  - number
                  - "null"
              uah:
                type:
                  - number
                  - "null"
              usd:
                type:
                  - number
                  - "null"
              vef:
                type:
                  - number
                  - "null"
              vnd:
                type:
                  - number
                  - "null"
              xag:
                type:
                  - number
                  - "null"
              xau:
                type:
                  - number
                  - "null"
              xdr:
                type:
                  - number
                  - "null"
              xlm:
                type:
                  - number
                  - "null"
              xrp:
                type:
                  - number
                  - "null"
              yfi:
                type:
                  - number
                  - "null"
              zar:
                type:
                  - number
                  - "null"
          market_cap:
            type: object
            properties:
              aed:
                type:
                  - number
                  - "null"
              ars:
                type:
                  - number
                  - "null"
              aud:
                type:
                  - number
                  - "null"
              bch:
                type:
                  - number
                  - "null"
              bdt:
                type:
                  - number
                  - "null"
              bhd:
                type:
                  - number
                  - "null"
              bits:
                type:
                  - number
                  - "null"
              bmd:
                type:
                  - number
                  - "null"
              bnb:
                type:
                  - number
                  - "null"
              brl:
                type:
                  - number
                  - "null"
              btc:
                type:
                  - number
                  - "null"
              cad:
                type:
                  - number
                  - "null"
              chf:
                type:
                  - number
                  - "null"
              clp:
                type:
                  - number
                  - "null"
              cny:
                type:
                  - number
                  - "null"
              czk:
                type:
                  - number
                  - "null"
              dkk:
                type:
                  - number
                  - "null"
              dot:
                type:
                  - number
                  - "null"
              eos:
                type:
                  - number
                  - "null"
              eth:
                type:
                  - number
                  - "null"
              eur:
                type:
                  - number
                  - "null"
              gbp:
                type:
                  - number
                  - "null"
              hkd:
                type:
                  - number
                  - "null"
              huf:
                type:
                  - number
                  - "null"
              idr:
                type:
                  - number
                  - "null"
              ils:
                type:
                  - number
                  - "null"
              inr:
                type:
                  - number
                  - "null"
              jpy:
                type:
                  - number
                  - "null"
              krw:
                type:
                  - number
                  - "null"
              kwd:
                type:
                  - number
                  - "null"
              link:
                type:
                  - number
                  - "null"
              lkr:
                type:
                  - number
                  - "null"
              ltc:
                type:
                  - number
                  - "null"
              mmk:
                type:
                  - number
                  - "null"
              mxn:
                type:
                  - number
                  - "null"
              myr:
                type:
                  - number
                  - "null"
              ngn:
                type:
                  - number
                  - "null"
              nok:
                type:
                  - number
                  - "null"
              nzd:
                type:
                  - number
                  - "null"
              php:
                type:
                  - number
                  - "null"
              pkr:
                type:
                  - number
                  - "null"
              pln:
                type:
                  - number
                  - "null"
              rub:
                type:
                  - number
                  - "null"
              sar:
                type:
                  - number
                  - "null"
              sats:
                type:
                  - number
                  - "null"
              sek:
                type:
                  - number
                  - "null"
              sgd:
                type:
                  - number
                  - "null"
              thb:
                type:
                  - number
                  - "null"
              try:
                type:
                  - number
                  - "null"
              twd:
                type:
                  - number
                  - "null"
              uah:
                type:
                  - number
                  - "null"
              usd:
                type:
                  - number
                  - "null"
              vef:
                type:
                  - number
                  - "null"
              vnd:
                type:
                  - number
                  - "null"
              xag:
                type:
                  - number
                  - "null"
              xau:
                type:
                  - number
                  - "null"
              xdr:
                type:
                  - number
                  - "null"
              xlm:
                type:
                  - number
                  - "null"
              xrp:
                type:
                  - number
                  - "null"
              yfi:
                type:
                  - number
                  - "null"
              zar:
                type:
                  - number
                  - "null"
          total_volume:
            type: object
            properties:
              aed:
                type:
                  - number
                  - "null"
              ars:
                type:
                  - number
                  - "null"
              aud:
                type:
                  - number
                  - "null"
              bch:
                type:
                  - number
                  - "null"
              bdt:
                type:
                  - number
                  - "null"
              bhd:
                type:
                  - number
                  - "null"
              bits:
                type:
                  - number
                  - "null"
              bmd:
                type:
                  - number
                  - "null"
              bnb:
                type:
                  - number
                  - "null"
              brl:
                type:
                  - number
                  - "null"
              btc:
                type:
                  - number
                  - "null"
              cad:
                type:
                  - number
                  - "null"
              chf:
                type:
                  - number
                  - "null"
              clp:
                type:
                  - number
                  - "null"
              cny:
                type:
                  - number
                  - "null"
              czk:
                type:
                  - number
                  - "null"
              dkk:
                type:
                  - number
                  - "null"
              dot:
                type:
                  - number
                  - "null"
              eos:
                type:
                  - number
                  - "null"
              eth:
                type:
                  - number
                  - "null"
              eur:
                type:
                  - number
                  - "null"
              gbp:
                type:
                  - number
                  - "null"
              hkd:
                type:
                  - number
                  - "null"
              huf:
                type:
                  - number
                  - "null"
              idr:
                type:
                  - number
                  - "null"
              ils:
                type:
                  - number
                  - "null"
              inr:
                type:
                  - number
                  - "null"
              jpy:
                type:
                  - number
                  - "null"
              krw:
                type:
                  - number
                  - "null"
              kwd:
                type:
                  - number
                  - "null"
              link:
                type:
                  - number
                  - "null"
              lkr:
                type:
                  - number
                  - "null"
              ltc:
                type:
                  - number
                  - "null"
              mmk:
                type:
                  - number
                  - "null"
              mxn:
                type:
                  - number
                  - "null"
              myr:
                type:
                  - number
                  - "null"
              ngn:
                type:
                  - number
                  - "null"
              nok:
                type:
                  - number
                  - "null"
              nzd:
                type:
                  - number
                  - "null"
              php:
                type:
                  - number
                  - "null"
              pkr:
                type:
                  - number
                  - "null"
              pln:
                type:
                  - number
                  - "null"
              rub:
                type:
                  - number
                  - "null"
              sar:
                type:
                  - number
                  - "null"
              sats:
                type:
                  - number
                  - "null"
              sek:
                type:
                  - number
                  - "null"
              sgd:
                type:
                  - number
                  - "null"
              thb:
                type:
                  - number
                  - "null"
              try:
                type:
                  - number
                  - "null"
              twd:
                type:
                  - number
                  - "null"
              uah:
                type:
                  - number
                  - "null"
              usd:
                type:
                  - number
                  - "null"
              vef:
                type:
                  - number
                  - "null"
              vnd:
                type:
                  - number
                  - "null"
              xag:
                type:
                  - number
                  - "null"
              xau:
                type:
                  - number
                  - "null"
              xdr:
                type:
                  - number
                  - "null"
              xlm:
                type:
                  - number
                  - "null"
              xrp:
                type:
                  - number
                  - "null"
              yfi:
                type:
                  - number
                  - "null"
              zar:
                type:
                  - number
                  - "null"
      name:
        type:
          - string
          - "null"
      public_interest_stats:
        type: object
        properties:
          alexa_rank: {}
          bing_matches: {}
      symbol:
        type:
          - string
          - "null"
