version: 0.50.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - merchant_account_stream
streams:
  - type: DeclarativeStream
    name: merchant_account_stream
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        "$schema": http://json-schema.org/schema#
        additionalProperties: true
        required:
          - id
        properties:
          business_details:
            oneOf:
              - type: "null"
              - type: object
                properties:
                  address_details:
                    oneOf:
                      - type: "null"
                      - type: object
                        properties:
                          company:
                            type:
                              - "null"
                              - string
                          country_code_alpha2:
                            type:
                              - "null"
                              - string
                          country_code_alpha3:
                            type:
                              - "null"
                              - string
                          country_code_numeric:
                            type:
                              - "null"
                              - string
                          country_name:
                            type:
                              - "null"
                              - string
                          created_at:
                            type:
                              - "null"
                              - string
                            format: date-time
                          customer_id:
                            type:
                              - "null"
                              - string
                          extended_address:
                            type:
                              - "null"
                              - string
                          first_name:
                            type:
                              - "null"
                              - string
                          id:
                            type:
                              - "null"
                              - string
                          last_name:
                            type:
                              - "null"
                              - string
                          locality:
                            type:
                              - "null"
                              - string
                          postal_code:
                            type:
                              - "null"
                              - string
                          region:
                            type:
                              - "null"
                              - string
                          street_address:
                            type:
                              - "null"
                              - string
                          updated_at:
                            type:
                              - "null"
                              - string
                            format: date-time
                  dba_name:
                    type:
                      - "null"
                      - string
                  legal_name:
                    type:
                      - "null"
                      - string
                  tax_id:
                    type:
                      - "null"
                      - string
          currency_iso_code:
            type:
              - "null"
              - string
          funding_details:
            oneOf:
              - type: "null"
              - type: object
                properties:
                  account_number_last_4:
                    type:
                      - "null"
                      - string
                  descriptor:
                    type:
                      - "null"
                      - string
                  destination:
                    type:
                      - "null"
                      - string
                  email:
                    type:
                      - "null"
                      - string
                  mobile_phone:
                    type:
                      - "null"
                      - string
                  routing_number:
                    type:
                      - "null"
                      - string
          id:
            type:
              - string
          individual_details:
            oneOf:
              - type: "null"
              - type: object
                properties:
                  address_details:
                    oneOf:
                      - type: "null"
                      - type: object
                        properties:
                          company:
                            type:
                              - "null"
                              - string
                          country_code_alpha2:
                            type:
                              - "null"
                              - string
                          country_code_alpha3:
                            type:
                              - "null"
                              - string
                          country_code_numeric:
                            type:
                              - "null"
                              - string
                          country_name:
                            type:
                              - "null"
                              - string
                          created_at:
                            type:
                              - "null"
                              - string
                            format: date-time
                          customer_id:
                            type:
                              - "null"
                              - string
                          extended_address:
                            type:
                              - "null"
                              - string
                          first_name:
                            type:
                              - "null"
                              - string
                          id:
                            type:
                              - "null"
                              - string
                          last_name:
                            type:
                              - "null"
                              - string
                          locality:
                            type:
                              - "null"
                              - string
                          postal_code:
                            type:
                              - "null"
                              - string
                          region:
                            type:
                              - "null"
                              - string
                          street_address:
                            type:
                              - "null"
                              - string
                          updated_at:
                            type:
                              - "null"
                              - string
                            format: date-time
                  date_of_birth:
                    type:
                      - "null"
                      - string
                  email:
                    type:
                      - "null"
                      - string
                  first_name:
                    type:
                      - "null"
                      - string
                  last_name:
                    type:
                      - "null"
                      - string
                  phone:
                    type:
                      - "null"
                      - string
                  ssn_last_4:
                    type:
                      - "null"
                      - string
          status:
            type:
              - "null"
              - string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{% elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment'] == 'Production' %}api.braintreegateway.com:443{% endif %}/merchants/{{config['merchant_id']}}
        path: /merchant_accounts
        http_method: GET
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.MerchantAccountExtractor"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
  - type: DeclarativeStream
    name: customer_stream
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        "$schema": http://json-schema.org/schema#
        type: object
        additionalProperties: true
        required:
          - id
          - created_at
        properties:
          addresses:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                company:
                  type:
                    - "null"
                    - string
                country_code_alpha2:
                  type:
                    - "null"
                    - string
                country_code_alpha3:
                  type:
                    - "null"
                    - string
                country_code_numeric:
                  type:
                    - "null"
                    - string
                country_name:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                extended_address:
                  type:
                    - "null"
                    - string
                first_name:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
                last_name:
                  type:
                    - "null"
                    - string
                locality:
                  type:
                    - "null"
                    - string
                postal_code:
                  type:
                    - "null"
                    - string
                region:
                  type:
                    - "null"
                    - string
                street_address:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
          android_pay_cards:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                google_transaction_id:
                  type:
                    - "null"
                    - string
                source_card_type:
                  type:
                    - "null"
                    - string
                source_description:
                  type:
                    - "null"
                    - string
                is_network_tokenized:
                  type:
                    - "null"
                    - boolean
                source_card_last_4:
                  type:
                    - "null"
                    - string
                virtual_card_last_4:
                  type:
                    - "null"
                    - string
                virtual_card_type:
                  type:
                    - "null"
                    - string
          apple_pay_cards:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                source_description:
                  type:
                    - "null"
                    - string
                payment_instrument_name:
                  type:
                    - "null"
                    - string
          company:
            type:
              - "null"
              - string
          created_at:
            type:
              - string
            format: date-time
          credit_cards:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
          custom_fields:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          fax:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          graphql_id:
            type:
              - "null"
              - string
          id:
            type:
              - string
          last_name:
            type:
              - "null"
              - string
          masterpass_cards:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
          payment_methods:
            type:
              - "null"
              - array
            items:
              anyOf:
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    google_transaction_id:
                      type:
                        - "null"
                        - string
                    source_card_type:
                      type:
                        - "null"
                        - string
                    source_description:
                      type:
                        - "null"
                        - string
                    is_network_tokenized:
                      type:
                        - "null"
                        - boolean
                    source_card_last_4:
                      type:
                        - "null"
                        - string
                    virtual_card_last_4:
                      type:
                        - "null"
                        - string
                    virtual_card_type:
                      type:
                        - "null"
                        - string
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    source_description:
                      type:
                        - "null"
                        - string
                    payment_instrument_name:
                      type:
                        - "null"
                        - string
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    account_holder_name:
                      type:
                        - "null"
                        - string
                    account_type:
                      type:
                        - "null"
                        - string
                    ach_mandate:
                      type:
                        - "null"
                        - string
                    bank_name:
                      type:
                        - "null"
                        - string
                    business_name:
                      type:
                        - "null"
                        - string
                    last_name:
                      type:
                        - "null"
                        - string
                    owner_id:
                      type:
                        - "null"
                        - string
                    ownership_type:
                      type:
                        - "null"
                        - string
                    plaid_verified_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    routing_number:
                      type:
                        - "null"
                        - string
                    verifiable:
                      type:
                        - "null"
                        - boolean
                    verified:
                      type:
                        - "null"
                        - boolean
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    billing_agreement_id:
                      type:
                        - "null"
                        - string
                    email:
                      type:
                        - "null"
                        - string
                    payer_id:
                      type:
                        - "null"
                        - string
                    revoked_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    source_description:
                      type:
                        - "null"
                        - string
                    username:
                      type:
                        - "null"
                        - string
                    venmo_user_id:
                      type:
                        - "null"
                        - string
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
          paypal_accounts:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                billing_agreement_id:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                payer_id:
                  type:
                    - "null"
                    - string
                revoked_at:
                  type:
                    - "null"
                    - string
                  format: date-time
          phone:
            type:
              - "null"
              - string
          samsung_pay_cards:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
[...]
