version: 0.50.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - merchant_account_stream
streams:
  - type: DeclarativeStream
    name: merchant_account_stream
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        "$schema": http://json-schema.org/schema#
        additionalProperties: true
        required:
          - id
        properties:
          business_details:
            description:
              Details related to the business associated with the merchant
              account
            oneOf:
              - type: "null"
              - type: object
                properties:
                  address_details:
                    oneOf:
                      - type: "null"
                      - type: object
                        properties:
                          company:
                            type:
                              - "null"
                              - string
                          country_code_alpha2:
                            type:
                              - "null"
                              - string
                          country_code_alpha3:
                            type:
                              - "null"
                              - string
                          country_code_numeric:
                            type:
                              - "null"
                              - string
                          country_name:
                            type:
                              - "null"
                              - string
                          created_at:
                            type:
                              - "null"
                              - string
                            format: date-time
                          customer_id:
                            type:
                              - "null"
                              - string
                          extended_address:
                            type:
                              - "null"
                              - string
                          first_name:
                            type:
                              - "null"
                              - string
                          id:
                            type:
                              - "null"
                              - string
                          last_name:
                            type:
                              - "null"
                              - string
                          locality:
                            type:
                              - "null"
                              - string
                          postal_code:
                            type:
                              - "null"
                              - string
                          region:
                            type:
                              - "null"
                              - string
                          street_address:
                            type:
                              - "null"
                              - string
                          updated_at:
                            type:
                              - "null"
                              - string
                            format: date-time
                  dba_name:
                    type:
                      - "null"
                      - string
                  legal_name:
                    type:
                      - "null"
                      - string
                  tax_id:
                    type:
                      - "null"
                      - string
          currency_iso_code:
            description: ISO code of the currency used for transactions
            type:
              - "null"
              - string
          funding_details:
            description: Information about the funding source for the merchant account
            oneOf:
              - type: "null"
              - type: object
                properties:
                  account_number_last_4:
                    type:
                      - "null"
                      - string
                  descriptor:
                    type:
                      - "null"
                      - string
                  destination:
                    type:
                      - "null"
                      - string
                  email:
                    type:
                      - "null"
                      - string
                  mobile_phone:
                    type:
                      - "null"
                      - string
                  routing_number:
                    type:
                      - "null"
                      - string
          id:
            description: Unique identifier for the merchant account
            type:
              - string
          individual_details:
            description:
              Details pertaining to the individual linked to the merchant
              account
            oneOf:
              - type: "null"
              - type: object
                properties:
                  address_details:
                    oneOf:
                      - type: "null"
                      - type: object
                        properties:
                          company:
                            type:
                              - "null"
                              - string
                          country_code_alpha2:
                            type:
                              - "null"
                              - string
                          country_code_alpha3:
                            type:
                              - "null"
                              - string
                          country_code_numeric:
                            type:
                              - "null"
                              - string
                          country_name:
                            type:
                              - "null"
                              - string
                          created_at:
                            type:
                              - "null"
                              - string
                            format: date-time
                          customer_id:
                            type:
                              - "null"
                              - string
                          extended_address:
                            type:
                              - "null"
                              - string
                          first_name:
                            type:
                              - "null"
                              - string
                          id:
                            type:
                              - "null"
                              - string
                          last_name:
                            type:
                              - "null"
                              - string
                          locality:
                            type:
                              - "null"
                              - string
                          postal_code:
                            type:
                              - "null"
                              - string
                          region:
                            type:
                              - "null"
                              - string
                          street_address:
                            type:
                              - "null"
                              - string
                          updated_at:
                            type:
                              - "null"
                              - string
                            format: date-time
                  date_of_birth:
                    type:
                      - "null"
                      - string
                  email:
                    type:
                      - "null"
                      - string
                  first_name:
                    type:
                      - "null"
                      - string
                  last_name:
                    type:
                      - "null"
                      - string
                  phone:
                    type:
                      - "null"
                      - string
                  ssn_last_4:
                    type:
                      - "null"
                      - string
          status:
            description: Current status of the merchant account
            type:
              - "null"
              - string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif
          config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{%
          elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{%
          elif config['environment'] == 'Production' %}api.braintreegateway.com:443{%
          endif %}/merchants/{{config['merchant_id']}}
        path: /merchant_accounts
        http_method: GET
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.MerchantAccountExtractor"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
  - type: DeclarativeStream
    name: customer_stream
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        "$schema": http://json-schema.org/schema#
        type: object
        additionalProperties: true
        required:
          - id
          - created_at
        properties:
          addresses:
            description: Customer addresses associated with the customer profile.
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                company:
                  description: Company name if applicable.
                  type:
                    - "null"
                    - string
                country_code_alpha2:
                  description: Two-letter country code.
                  type:
                    - "null"
                    - string
                country_code_alpha3:
                  description: Three-letter country code.
                  type:
                    - "null"
                    - string
                country_code_numeric:
                  description: Numeric country code.
                  type:
                    - "null"
                    - string
                country_name:
                  description: Full country name.
                  type:
                    - "null"
                    - string
                created_at:
                  description: Date and time when the address was created.
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  description: Unique identifier for the customer.
                  type:
                    - "null"
                    - string
                extended_address:
                  description: Additional address information.
                  type:
                    - "null"
                    - string
                first_name:
                  description: First name of the customer associated with the address.
                  type:
                    - "null"
                    - string
                id:
                  description: Unique identifier for the address.
                  type:
                    - "null"
                    - string
                last_name:
                  description: Last name of the customer associated with the address.
                  type:
                    - "null"
                    - string
                locality:
                  description: City or locality.
                  type:
                    - "null"
                    - string
                postal_code:
                  description: Postal code or ZIP code.
                  type:
                    - "null"
                    - string
                region:
                  description: State, province, or region.
                  type:
                    - "null"
                    - string
                street_address:
                  description: Street address.
                  type:
                    - "null"
                    - string
                updated_at:
                  description: Date and time when the address was last updated.
                  type:
                    - "null"
                    - string
                  format: date-time
          android_pay_cards:
            description: Array of Android Pay cards associated with the customer
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  description: The billing address associated with the card
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  description: The bank identification number of the card
                  type:
                    - "null"
                    - string
                card_type:
                  description: The type of card (e.g., Visa, Mastercard)
                  type:
                    - "null"
                    - string
                cardholder_name:
                  description: The name of the cardholder
                  type:
                    - "null"
                    - string
                commercial:
                  description: Indicates if the card is commercial
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  description: The country where the card was issued
                  type:
                    - "null"
                    - string
                created_at:
                  description: The date and time the card was created
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  description:
                    The unique identifier of the customer associated with
                    the card
                  type:
                    - "null"
                    - string
                customer_location:
                  description: The location of the customer
                  type:
                    - "null"
                    - string
                debit:
                  description: Indicates if the card is a debit card
                  type:
                    - "null"
                    - string
                default:
                  description: Indicates if the card is set as the default payment method
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  description: Indicates if the card is regulated under the Durbin Amendment
                  type:
                    - "null"
                    - string
                expiration_date:
                  description: The expiration date of the card
                  type:
                    - "null"
                    - string
                expiration_month:
                  description: The expiration month of the card
                  type:
                    - "null"
                    - string
                expiration_year:
                  description: The expiration year of the card
                  type:
                    - "null"
                    - string
                expired:
                  description: Indicates if the card has expired
                  type:
                    - "null"
                    - boolean
                healthcare:
                  description: Indicates if the card is healthcare-related
                  type:
                    - "null"
                    - string
                image_url:
                  description: The URL of the card image
                  type:
                    - "null"
                    - string
                issuing_bank:
                  description: The name of the bank that issued the card
                  type:
                    - "null"
                    - string
                last_4:
                  description: The last 4 digits of the card number
                  type:
                    - "null"
                    - string
                masked_number:
                  description: The masked card number
                  type:
                    - "null"
                    - string
                payroll:
                  description: Indicates if the card is related to payroll
                  type:
                    - "null"
                    - string
                prepaid:
                  description: Indicates if the card is prepaid
                  type:
                    - "null"
                    - string
                product_id:
                  description: The ID of the product associated with the card
                  type:
                    - "null"
                    - string
                token:
                  description: The unique token associated with the card
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  description: The unique identifier of the card
                  type:
                    - "null"
                    - string
                updated_at:
                  description: The date and time the card information was last updated
                  type:
                    - "null"
                    - string
                  format: date-time
                google_transaction_id:
                  description: The Google transaction ID associated with the card
                  type:
                    - "null"
                    - string
                source_card_type:
                  description: The type of the source card (e.g., Visa, Mastercard)
                  type:
                    - "null"
                    - string
                source_description:
                  description: The description of the source
                  type:
                    - "null"
                    - string
                is_network_tokenized:
                  description: Indicates if the card is tokenized by a network
                  type:
                    - "null"
                    - boolean
                source_card_last_4:
                  description: The last 4 digits of the source card number
                  type:
                    - "null"
                    - string
                virtual_card_last_4:
                  description: The last 4 digits of the virtual card number
                  type:
                    - "null"
                    - string
                virtual_card_type:
                  description: The type of the virtual card (e.g., Visa, Mastercard)
                  type:
                    - "null"
                    - string
          apple_pay_cards:
            description: Array of Apple Pay cards associated with the customer.
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  description: Billing address associated with the card.
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  description: Bank Identification Number of the card.
                  type:
                    - "null"
                    - string
                card_type:
                  description: Type of the card.
                  type:
                    - "null"
                    - string
                cardholder_name:
                  description: Name of the cardholder.
                  type:
                    - "null"
                    - string
                commercial:
                  description: Flag indicating if the card is commercial.
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  description: Country where the card was issued.
                  type:
                    - "null"
                    - string
                created_at:
                  description: Date and time when the card was created.
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  description: ID of the customer associated with the card.
                  type:
                    - "null"
                    - string
                customer_location:
                  description: Location of the customer.
                  type:
                    - "null"
                    - string
                debit:
                  description: Flag indicating if the card is a debit card.
                  type:
                    - "null"
                    - string
                default:
                  description: Flag indicating if the card is the default payment method.
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  description: Flag indicating if the card is Durbin regulated.
                  type:
                    - "null"
                    - string
                expiration_date:
                  description: Expiration date of the card.
                  type:
                    - "null"
                    - string
                expiration_month:
                  description: Expiration month of the card.
                  type:
                    - "null"
                    - string
                expiration_year:
                  description: Expiration year of the card.
                  type:
                    - "null"
                    - string
                expired:
                  description: Flag indicating if the card has expired.
                  type:
                    - "null"
                    - boolean
                healthcare:
                  description: Flag indicating if the card is for healthcare.
                  type:
                    - "null"
                    - string
                image_url:
                  description: URL of the card image.
                  type:
                    - "null"
                    - string
                issuing_bank:
                  description: Bank that issued the card.
                  type:
                    - "null"
                    - string
                last_4:
                  description: Last 4 digits of the card number.
                  type:
                    - "null"
                    - string
                masked_number:
                  description: Masked card number for security purposes.
                  type:
                    - "null"
                    - string
                payroll:
                  description: Flag indicating if the card is for payroll.
                  type:
                    - "null"
                    - string
                prepaid:
                  description: Flag indicating if the card is prepaid.
                  type:
                    - "null"
                    - string
                product_id:
                  description: ID of the product associated with the card.
                  type:
                    - "null"
                    - string
                token:
                  description: Token associated with the card.
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  description: Unique identifier for the card number.
                  type:
                    - "null"
                    - string
                updated_at:
                  description: Date and time when the card was last updated.
                  type:
                    - "null"
                    - string
                  format: date-time
                source_description:
                  description: Description of the card source.
                  type:
                    - "null"
                    - string
                payment_instrument_name:
                  description: Name of the payment instrument.
                  type:
                    - "null"
                    - string
          company:
            description: Company associated with the customer.
            type:
              - "null"
              - string
          created_at:
            description: Date and time when the customer was created.
            type:
              - string
            format: date-time
          credit_cards:
            description: Array of credit cards associated with the customer
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  description: The billing address associated with the card
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  description: The bank identification number of the card
                  type:
                    - "null"
                    - string
                card_type:
                  description: The type of card (e.g., Visa, Mastercard)
                  type:
                    - "null"
                    - string
                cardholder_name:
                  description: The name of the cardholder
                  type:
                    - "null"
                    - string
                commercial:
                  description: Indicates if the card is commercial
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  description: The country where the card was issued
                  type:
                    - "null"
                    - string
                created_at:
                  description: The date and time the card was created
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  description:
                    The unique identifier of the customer associated with
                    the card
                  type:
                    - "null"
                    - string
                customer_location:
                  description: The location of the customer
                  type:
                    - "null"
                    - string
                debit:
                  description: Indicates if the card is a debit card
                  type:
                    - "null"
                    - string
                default:
                  description: Indicates if the card is set as the default payment method
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  description: Indicates if the card is regulated under the Durbin Amendment
                  type:
                    - "null"
                    - string
                expiration_date:
                  description: The expiration date of the card
                  type:
                    - "null"
                    - string
                expiration_month:
                  description: The expiration month of the card
                  type:
                    - "null"
                    - string
                expiration_year:
                  description: The expiration year of the card
                  type:
                    - "null"
                    - string
                expired:
                  description: Indicates if the card has expired
                  type:
                    - "null"
                    - boolean
                healthcare:
                  description: Indicates if the card is healthcare-related
                  type:
                    - "null"
                    - string
                image_url:
                  description: The URL of the card image
                  type:
                    - "null"
                    - string
                issuing_bank:
                  description: The name of the bank that issued the card
                  type:
                    - "null"
                    - string
                last_4:
                  description: The last 4 digits of the card number
                  type:
                    - "null"
                    - string
                masked_number:
                  description: The masked card number
                  type:
                    - "null"
                    - string
                payroll:
                  description: Indicates if the card is related to payroll
                  type:
                    - "null"
                    - string
                prepaid:
                  description: Indicates if the card is prepaid
                  type:
                    - "null"
                    - string
                product_id:
                  description: The ID of the product associated with the card
                  type:
                    - "null"
                    - string
                token:
                  description: The unique token associated with the card
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  description: The unique identifier of the card
                  type:
                    - "null"
                    - string
                updated_at:
                  description: The date and time the card information was last updated
                  type:
                    - "null"
                    - string
                  format: date-time
          custom_fields:
            description: Custom fields associated with the customer.
            type:
              - "null"
              - string
          email:
            description: Email address of the customer.
            type:
              - "null"
              - string
          fax:
            description: Fax number of the customer.
            type:
              - "null"
              - string
          first_name:
            description: First name of the customer.
            type:
              - "null"
              - string
          graphql_id:
            description: GraphQL ID for the customer.
            type:
              - "null"
              - string
          id:
            description: Unique ID of the customer.
            type:
              - string
          last_name:
            description: Last name of the customer.
            type:
              - "null"
              - string
          masterpass_cards:
            description: Masterpass cards associated with the customer profile.
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                billing_address:
                  description: Billing address associated with the card.
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  description: Bank Identification Number (BIN).
                  type:
                    - "null"
                    - string
                card_type:
                  description: Type of card.
                  type:
                    - "null"
                    - string
                cardholder_name:
                  description: Name of the cardholder.
                  type:
                    - "null"
                    - string
                commercial:
                  description: Flag indicating if the card is commercial.
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  description: Country where the card was issued.
                  type:
                    - "null"
                    - string
                created_at:
                  description: Date and time when the card was created.
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  description: Unique identifier for the customer.
                  type:
                    - "null"
                    - string
                customer_location:
                  description: Location of the customer.
                  type:
                    - "null"
                    - string
                debit:
                  description: Flag indicating if the card is debit.
                  type:
                    - "null"
                    - string
                default:
                  description: Flag indicating if the card is the default payment method.
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  description: Flag indicating if the card is Durbin regulated.
                  type:
                    - "null"
                    - string
                expiration_date:
                  description: Expiration date of the card.
                  type:
                    - "null"
                    - string
                expiration_month:
                  description: Expiration month of the card.
                  type:
                    - "null"
                    - string
                expiration_year:
                  description: Expiration year of the card.
                  type:
                    - "null"
                    - string
                expired:
                  description: Flag indicating if the card has expired.
                  type:
                    - "null"
                    - boolean
                healthcare:
                  description: Flag indicating if the card is healthcare-related.
                  type:
                    - "null"
                    - string
                image_url:
                  description: URL to the card image.
                  type:
                    - "null"
                    - string
                issuing_bank:
                  description: Bank that issued the card.
                  type:
                    - "null"
                    - string
                last_4:
                  description: Last 4 digits of the card number.
                  type:
                    - "null"
                    - string
                masked_number:
                  description: Masked card number for security.
                  type:
                    - "null"
                    - string
                payroll:
                  description: Flag indicating if the card is for payroll.
                  type:
                    - "null"
                    - string
                prepaid:
                  description: Flag indicating if the card is prepaid.
                  type:
                    - "null"
                    - string
                product_id:
                  description: ID of the product associated with the card.
                  type:
                    - "null"
                    - string
                token:
                  description: Token for the card.
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  description: Unique identifier for the card number.
                  type:
                    - "null"
                    - string
                updated_at:
                  description: Date and time when the card was last updated.
                  type:
                    - "null"
                    - string
                  format: date-time
          payment_methods:
            description: Array of payment methods associated with the customer.
            type:
              - "null"
              - array
            items:
              description: Properties of the payment method.
              anyOf:
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    google_transaction_id:
                      type:
                        - "null"
                        - string
                    source_card_type:
                      type:
                        - "null"
                        - string
                    source_description:
                      type:
                        - "null"
                        - string
                    is_network_tokenized:
                      type:
                        - "null"
                        - boolean
                    source_card_last_4:
                      type:
                        - "null"
                        - string
                    virtual_card_last_4:
                      type:
                        - "null"
                        - string
                    virtual_card_type:
                      type:
                        - "null"
                        - string
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    source_description:
                      type:
                        - "null"
                        - string
                    payment_instrument_name:
                      type:
                        - "null"
                        - string
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    account_holder_name:
                      type:
                        - "null"
                        - string
                    account_type:
                      type:
                        - "null"
                        - string
                    ach_mandate:
                      type:
                        - "null"
                        - string
                    bank_name:
                      type:
                        - "null"
                        - string
                    business_name:
                      type:
                        - "null"
                        - string
                    last_name:
                      type:
                        - "null"
                        - string
                    owner_id:
                      type:
                        - "null"
                        - string
                    ownership_type:
                      type:
                        - "null"
                        - string
                    plaid_verified_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    routing_number:
                      type:
                        - "null"
                        - string
                    verifiable:
                      type:
                        - "null"
                        - boolean
                    verified:
                      type:
                        - "null"
                        - boolean
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    billing_agreement_id:
                      type:
                        - "null"
                        - string
                    email:
                      type:
                        - "null"
                        - string
                    payer_id:
                      type:
                        - "null"
                        - string
                    revoked_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
                        - string
                    issuing_bank:
                      type:
                        - "null"
                        - string
                    last_4:
                      type:
                        - "null"
                        - string
                    masked_number:
                      type:
                        - "null"
                        - string
                    payroll:
                      type:
                        - "null"
                        - string
                    prepaid:
                      type:
                        - "null"
                        - string
                    product_id:
                      type:
                        - "null"
                        - string
                    token:
                      type:
                        - "null"
                        - string
                    unique_number_identifier:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    source_description:
                      type:
                        - "null"
                        - string
                    username:
                      type:
                        - "null"
                        - string
                    venmo_user_id:
                      type:
                        - "null"
                        - string
                - type: object
                  properties:
                    billing_address:
                      oneOf:
                        - type: "null"
                        - type: object
                          properties:
                            company:
                              type:
                                - "null"
                                - string
                            country_code_alpha2:
                              type:
                                - "null"
                                - string
                            country_code_alpha3:
                              type:
                                - "null"
                                - string
                            country_code_numeric:
                              type:
                                - "null"
                                - string
                            country_name:
                              type:
                                - "null"
                                - string
                            created_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                            customer_id:
                              type:
                                - "null"
                                - string
                            extended_address:
                              type:
                                - "null"
                                - string
                            first_name:
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - string
                            last_name:
                              type:
                                - "null"
                                - string
                            locality:
                              type:
                                - "null"
                                - string
                            postal_code:
                              type:
                                - "null"
                                - string
                            region:
                              type:
                                - "null"
                                - string
                            street_address:
                              type:
                                - "null"
                                - string
                            updated_at:
                              type:
                                - "null"
                                - string
                              format: date-time
                    bin:
                      type:
                        - "null"
                        - string
                    card_type:
                      type:
                        - "null"
                        - string
                    cardholder_name:
                      type:
                        - "null"
                        - string
                    commercial:
                      type:
                        - "null"
                        - string
                    country_of_issuance:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    customer_location:
                      type:
                        - "null"
                        - string
                    debit:
                      type:
                        - "null"
                        - string
                    default:
                      type:
                        - "null"
                        - boolean
                    durbin_regulated:
                      type:
                        - "null"
                        - string
                    expiration_date:
                      type:
                        - "null"
                        - string
                    expiration_month:
                      type:
                        - "null"
                        - string
                    expiration_year:
                      type:
                        - "null"
                        - string
                    expired:
                      type:
                        - "null"
                        - boolean
                    healthcare:
                      type:
                        - "null"
                        - string
                    image_url:
                      type:
                        - "null"
[...]
