version: 0.50.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - merchant_account_stream
streams:
  - type: DeclarativeStream
    name: merchant_account_stream
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{% elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment'] == 'Production' %}api.braintreegateway.com:443{% endif %}/merchants/{{config['merchant_id']}}
        path: /merchant_accounts
        http_method: GET
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.MerchantAccountExtractor"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
  - type: DeclarativeStream
    name: customer_stream
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{% elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment'] == 'Production' %}api.braintreegateway.com:443{% endif %}/merchants/{{config['merchant_id']}}
        path: /customers/advanced_search
        http_method: POST
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json:
          search:
            created_at:
              min: "{{ format_datetime(stream_interval.start_time, '%Y-%m-%d %H:%M:%S %z') }}"
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.CustomerExtractor"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 50
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      datetime_format: "%Y-%m-%d %H:%M:%S"
      cursor_datetime_formats:
        - "%Y-%m-%d %H:%M:%S"
        - "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: discount_stream
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{% elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment'] == 'Production' %}api.braintreegateway.com:443{% endif %}/merchants/{{config['merchant_id']}}
        path: /discounts/
        http_method: GET
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.DiscountExtractor"
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: plan_stream
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{% elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment'] == 'Production' %}api.braintreegateway.com:443{% endif %}/merchants/{{config['merchant_id']}}
        path: /plans/
        http_method: GET
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.PlanExtractor"
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: transaction_stream
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{% elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment'] == 'Production' %}api.braintreegateway.com:443{% endif %}/merchants/{{config['merchant_id']}}
        path: /transactions/advanced_search
        http_method: POST
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json:
          search:
            created_at:
              min: "{{ format_datetime(stream_interval.start_time, '%Y-%m-%d %H:%M:%S %z') }}"
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.TransactionExtractor"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 50
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      datetime_format: "%Y-%m-%d %H:%M:%S"
      cursor_datetime_formats:
        - "%Y-%m-%d %H:%M:%S"
        - "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: subscription_stream
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{% elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment'] == 'Production' %}api.braintreegateway.com:443{% endif %}/merchants/{{config['merchant_id']}}
        path: /subscriptions/advanced_search
        http_method: GET
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json:
          search:
            created_at:
              min: "{{ format_datetime(stream_interval.start_time, '%Y-%m-%d %H:%M:%S %z') }}"
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.SubscriptionExtractor"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 50
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      datetime_format: "%Y-%m-%d %H:%M:%S"
      cursor_datetime_formats:
        - "%Y-%m-%d %H:%M:%S"
        - "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: dispute_stream
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://{% if config['environment'] == 'Development' %}localhost:3000{% elif config['environment'] == 'Sandbox' %}api.sandbox.braintreegateway.com:443{% elif config['environment'] == 'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment'] == 'Production' %}api.braintreegateway.com:443{% endif %}/merchants/{{config['merchant_id']}}
        path: /disputes/advanced_search
        http_method: POST
        request_parameters: {}
        request_headers:
          X-ApiVersion: "6"
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config['private_key'] }}"
          username: "{{ config['public_key'] }}"
        request_body_json:
          search:
            received_date:
              min: "{{ stream_interval.start_time }}"
      record_selector:
        type: RecordSelector
        extractor:
          class_name: "source_braintree.source.DisputeExtractor"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: received_date
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
spec:
  connection_specification:
    title: Braintree Spec
    type: object
    properties:
      merchant_id:
        title: Merchant ID
        description: >-
          The unique identifier for your entire gateway account. See the <a
          href="https://docs.airbyte.com/integrations/sources/braintree">docs</a>
          for more information on how to obtain this ID.
        name: Merchant ID
        type: string
      public_key:
        title: Public Key
        description: >-
          Braintree Public Key. See the <a
          href="https://docs.airbyte.com/integrations/sources/braintree">docs</a>
          for more information on how to obtain this key.
        name: Public Key
        type: string
      private_key:
        title: Private Key
        description: >-
          Braintree Private Key. See the <a
          href="https://docs.airbyte.com/integrations/sources/braintree">docs</a>
          for more information on how to obtain this key.
        name: Private Key
        airbyte_secret: true
        type: string
      start_date:
        title: Start Date
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        name: Start Date
        examples:
          - "2020"
          - "2020-12-30"
          - "2020-11-22 20:20:05"
        type: string
        format: date-time
      environment:
        title: Environment
        description: Environment specifies where the data will come from.
        name: Environment
        examples:
          - sandbox
          - production
          - qa
          - development
        enum:
          - Development
          - Sandbox
          - Qa
          - Production
        type: string
    required:
      - merchant_id
      - public_key
      - private_key
      - environment
  documentation_url: https://docs.airbyte.com/integrations/sources/braintree
  type: Spec
metadata:
  autoImportSchema:
    merchant_account_stream: false
    customer_stream: false
    discount_stream: false
    plan_stream: false
    transaction_stream: false
    subscription_stream: false
    dispute_stream: false
