version: 7.17.1

type: DeclarativeSource

description: >-
  Nutshell is a CRM tool.

  Using this connector we can extract data from various streams such as contacts
  , events , products and pipelines.

  Docs : https://developers.nutshell.com/docs/getting-started

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: BasicHttpAuthenticator
        password: "{{ config[\"password\"] }}"
        username: "{{ config[\"username\"] }}"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page[limit]
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page[page]
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 500
          start_from_page: 0
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: accounts
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page[limit]
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page[page]
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 500
          start_from_page: 0
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/accounts
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - accounts
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          href:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          urls:
            type:
              - array
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              tags:
                type:
                  - array
                  - "null"
              files:
                type:
                  - array
                  - "null"
              contacts:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              industry:
                type:
                  - string
                  - "null"
              accountType:
                type:
                  - string
                  - "null"
              relatedFiles:
                type:
                  - array
                  - "null"
          emails:
            type:
              - array
              - "null"
          phones:
            type:
              - array
              - "null"
          htmlUrl:
            type:
              - string
              - "null"
          initials:
            type:
              - string
              - "null"
          addresses:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - object
                    - "null"
                  properties:
                    city:
                      type:
                        - string
                        - "null"
                    state:
                      type:
                        - string
                        - "null"
                    country:
                      type:
                        - string
                        - "null"
                    location:
                      type:
                        - object
                        - "null"
                      properties:
                        latitude:
                          type:
                            - number
                            - "null"
                        longitude:
                          type:
                            - number
                            - "null"
                    address_1:
                      type:
                        - string
                        - "null"
                    postalCode:
                      type:
                        - string
                        - "null"
                    locationAccuracy:
                      type:
                        - string
                        - "null"
                isPrimary:
                  type:
                    - boolean
                    - "null"
          avatarUrl:
            type:
              - string
              - "null"
          htmlUrlPath:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: accounts_list_items
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/accounts/list
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - listItems
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          links:
            type:
              - object
              - "null"
            properties:
              entity:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  href:
                    type:
                      - string
                      - "null"
          fields:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - object
                  - "null"
                properties: {}
              url:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties: {}
              name:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              tags:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              email:
                type:
                  - object
                  - "null"
                properties: {}
              leads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              owner:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      initials:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
              phone:
                type:
                  - object
                  - "null"
                properties: {}
              origin:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
              phones:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      fax:
                        type:
                          - array
                          - "null"
                      home:
                        type:
                          - array
                          - "null"
                      work:
                        type:
                          - array
                          - "null"
                      other:
                        type:
                          - array
                          - "null"
                      phone:
                        type:
                          - array
                          - "null"
                      mobile:
                        type:
                          - array
                          - "null"
              address:
                type:
                  - object
                  - "null"
                properties:
                  city:
                    type:
                      - string
                      - "null"
                  state:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  country:
                    type:
                      - string
                      - "null"
                  address_1:
                    type:
                      - string
                      - "null"
                  postal_code:
                    type:
                      - string
                      - "null"
              creator:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      initials:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
              leadIds:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              revenue:
                type:
                  - object
                  - "null"
                properties: {}
              contacts:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            htmlUrl:
                              type:
                                - string
                                - "null"
                            initials:
                              type:
                                - string
                                - "null"
                            avatarUrl:
                              type:
                                - string
                                - "null"
                            htmlUrlPath:
                              type:
                                - string
                                - "null"
              industry:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
              legacyId:
                type:
                  - object
                  - "null"
                properties: {}
              ctctLists:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              territory:
                type:
                  - object
                  - "null"
                properties: {}
              contactIds:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            name:
                              type:
                                - string
                                - "null"
              ctctStatus:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties: {}
              postalCode:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              accountType:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
              createdTime:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  timestamp:
                    type:
                      - number
                      - "null"
                  absoluteLocalizedString:
                    type:
                      - string
                      - "null"
              deletedTime:
                type:
                  - object
                  - "null"
                properties: {}
              ctctOpenRate:
                type:
                  - object
                  - "null"
                properties: {}
              childAccounts:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            htmlUrl:
                              type:
                                - string
                                - "null"
                            initials:
                              type:
                                - string
                                - "null"
                            avatarUrl:
                              type:
                                - string
                                - "null"
                            htmlUrlPath:
                              type:
                                - string
                                - "null"
              ctctClickRate:
                type:
                  - object
                  - "null"
                properties: {}
              emailOpenRate:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              numberOfLeads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              parentAccount:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            htmlUrl:
                              type:
                                - string
                                - "null"
                            initials:
                              type:
                                - string
                                - "null"
                            avatarUrl:
                              type:
                                - string
                                - "null"
                            htmlUrlPath:
                              type:
                                - string
                                - "null"
              ctctBounceRate:
                type:
                  - object
                  - "null"
                properties: {}
              emailClickRate:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              emailOpenCount:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              emailClickCount:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              valueOfWonLeads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  formattedValue:
                    type:
                      - object
                      - "null"
                    properties:
                      value:
                        type:
                          - number
                          - "null"
                      prefix:
                        type:
                          - string
                          - "null"
                      suffix:
                        type:
                          - string
                          - "null"
                      formatted:
                        type:
                          - string
                          - "null"
              ctctEmailAddress:
                type:
                  - object
                  - "null"
                properties: {}
              ctctLastOpenTime:
                type:
                  - object
                  - "null"
                properties: {}
              numChildAccounts:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              numberOfContacts:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              numberOfWonLeads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              valueOfLostLeads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  formattedValue:
                    type:
                      - object
                      - "null"
                    properties:
                      value:
                        type:
                          - number
                          - "null"
                      prefix:
                        type:
                          - string
                          - "null"
                      suffix:
                        type:
                          - string
                          - "null"
                      formatted:
                        type:
                          - string
                          - "null"
              valueOfOpenLeads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  formattedValue:
                    type:
                      - object
                      - "null"
                    properties:
                      value:
                        type:
                          - number
                          - "null"
                      prefix:
                        type:
                          - string
                          - "null"
                      suffix:
                        type:
                          - string
                          - "null"
                      formatted:
                        type:
                          - string
                          - "null"
              ctctLastClickTime:
                type:
                  - object
                  - "null"
                properties: {}
              emailLastOpenTime:
                type:
                  - object
                  - "null"
                properties: {}
              lastContactedTime:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  timestamp:
                    type:
                      - number
                      - "null"
                  absoluteLocalizedString:
                    type:
                      - string
                      - "null"
              numberOfEmployees:
                type:
                  - object
                  - "null"
                properties: {}
              numberOfLostLeads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              numberOfOpenLeads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              emailLastClickTime:
                type:
                  - object
                  - "null"
                properties: {}
              numberOfEmailsSent:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              ctctEngagementRating:
                type:
                  - object
                  - "null"
                properties: {}
              nextActivityStartTime:
                type:
                  - object
                  - "null"
                properties: {}
              valueOfCancelledLeads:
                type:
                  - object
                  - "null"
                properties: {}
              ctctNumberOfEmailsSent:
                type:
                  - object
                  - "null"
                properties: {}
              numberOfCancelledLeads:
                type:
                  - object
                  - "null"
                properties: {}
              numberOfEmailsReceived:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
              lastLoggedActivity_1_Time:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  timestamp:
                    type:
                      - string
                      - "null"
                  absoluteLocalizedString:
                    type:
                      - string
                      - "null"
              lastLoggedActivity_2_Time:
                type:
                  - object
                  - "null"
                properties: {}
              lastLoggedActivity_3_Time:
                type:
                  - object
                  - "null"
                properties: {}
              lastLoggedActivity_6_Time:
                type:
                  - object
                  - "null"
                properties: {}
              lastLoggedActivity_7_Time:
                type:
                  - object
                  - "null"
                properties: {}
              lastLoggedActivity_8_Time:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  timestamp:
                    type:
                      - string
                      - "null"
                  absoluteLocalizedString:
                    type:
                      - string
                      - "null"
              lastLoggedActivity_11_Time:
                type:
                  - object
                  - "null"
                properties: {}
              lastLoggedActivity_15_Time:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  timestamp:
                    type:
                      - string
                      - "null"
                  absoluteLocalizedString:
                    type:
                      - string
                      - "null"
              lastLoggedActivity_19_Time:
                type:
                  - object
                  - "null"
                properties: {}
              lastLoggedActivity_23_Time:
                type:
                  - object
                  - "null"
                properties: {}
              lastLoggedActivity_27_Time:
                type:
                  - object
                  - "null"
                properties: {}
              openedEmailSequenceTemplates:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              clickedEmailSequenceTemplates:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              noReplyEmailSequenceTemplates:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              receivedEmailSequenceTemplates:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              inProgressEmailSequenceTemplates:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              receivedReplyEmailSequenceTemplates:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
          latlon:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          mapUrl:
            type:
              - string
              - "null"
          htmlUrl:
            type:
              - string
              - "null"
          initials:
            type:
              - string
              - "null"
          avatarUrl:
            type:
              - string
              - "null"
          isDeleted:
            type:
              - boolean
              - "null"
          relatedUrl:
            type:
              - string
              - "null"
          htmlUrlPath:
            type:
              - string
              - "null"
          primaryInfo:
            type:
              - string
              - "null"
          primaryName:
            type:
              - string
              - "null"
          relatedInfo:
            type:
              - string
              - "null"
          relatedName:
            type:
              - string
              - "null"
          relatedType:
            type:
              - string
              - "null"
          relatedUrlPath:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: account_types
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/accounttypes
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - accountTypes
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          modifiedTime:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: industries
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/industries
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - industries
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          modifiedTime:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: activities
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page[limit]
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page[page]
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 500
          start_from_page: 0
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/activities
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - activities
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          href:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              leads:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              users:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              logger:
                type:
                  - string
                  - "null"
              creator:
                type:
                  - string
                  - "null"
              accounts:
                type:
                  - array
                  - "null"
              comments:
                type:
                  - array
                  - "null"
              contacts:
                type:
                  - array
                  - "null"
              activityType:
                type:
                  - string
                  - "null"
          agenda:
            type:
              - string
              - "null"
          endTime:
            type:
              - number
              - "null"
          htmlUrl:
            type:
              - string
              - "null"
          isAllDay:
            type:
              - boolean
              - "null"
          isLogged:
            type:
              - boolean
              - "null"
          isFlagged:
            type:
              - boolean
              - "null"
          isOverdue:
            type:
              - boolean
              - "null"
          startTime:
            type:
              - number
              - "null"
          isEditable:
            type:
              - boolean
              - "null"
          loggedTime:
            type:
              - number
              - "null"
          createdTime:
            type:
              - number
              - "null"
          htmlUrlPath:
            type:
              - string
              - "null"
          isCancelled:
            type:
              - boolean
              - "null"
          modifiedTime:
            type:
              - number
              - "null"
          isMediaLogged:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: activity_types
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/activitytypes
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - activityTypes
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          isBenchmarkable:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: audiences
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/audiences
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - emAudiences
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          isWebFX:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: competitors
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/competitors
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - competitors
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          modifiedTime:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: competitor_maps
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/competitormaps
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - competitorMaps
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              lead:
                type:
                  - string
                  - "null"
              competitor:
                type:
                  - string
                  - "null"
          status:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: leads_custom_fields
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/leads/customfields/attributes
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - customFields
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          enum:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          title:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: leads_list_items
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/leads/list
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - listItems
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          links:
            type:
              - object
              - "null"
            properties:
              entity:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  href:
                    type:
                      - string
                      - "null"
          fields:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              owner:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      initials:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
              value:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
                  formattedValue:
                    type:
                      - object
                      - "null"
                    properties:
                      value:
                        type:
                          - number
                          - "null"
                      prefix:
                        type:
                          - string
                          - "null"
                      suffix:
                        type:
                          - string
                          - "null"
                      formatted:
                        type:
                          - string
                          - "null"
              status:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      description:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - string
                          - "null"
              accounts:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            htmlUrl:
                              type:
                                - string
                                - "null"
                            initials:
                              type:
                                - string
                                - "null"
                            avatarUrl:
                              type:
                                - string
                                - "null"
                            htmlUrlPath:
                              type:
                                - string
                                - "null"
              contacts:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            htmlUrl:
                              type:
                                - string
                                - "null"
                            initials:
                              type:
                                - string
                                - "null"
                            avatarUrl:
                              type:
                                - string
                                - "null"
                            htmlUrlPath:
                              type:
                                - string
                                - "null"
              overdueDuration:
                type:
                  - object
                  - "null"
                properties: {}
              nextActivityStartTime:
                type:
                  - object
                  - "null"
                properties: {}
          latlon:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          mapUrl:
            type:
              - string
              - "null"
          htmlUrl:
            type:
              - string
              - "null"
          sortKey:
            type:
              - string
              - "null"
          priority:
            type:
              - string
              - "null"
          avatarUrl:
            type:
              - string
              - "null"
          isDeleted:
            type:
              - boolean
              - "null"
          relatedUrl:
            type:
              - string
              - "null"
          htmlUrlPath:
            type:
              - string
              - "null"
          primaryInfo:
            type:
              - string
              - "null"
          primaryName:
            type:
              - string
              - "null"
          relatedInfo:
            type:
              - string
              - "null"
          relatedName:
            type:
              - string
              - "null"
          relatedType:
            type:
              - string
              - "null"
          primaryAccount:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              htmlUrl:
                type:
                  - string
                  - "null"
              htmlUrlPath:
                type:
                  - string
                  - "null"
          primaryContact:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              htmlUrl:
                type:
                  - string
                  - "null"
              htmlUrlPath:
                type:
                  - string
                  - "null"
          relatedUrlPath:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: leads
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page[limit]
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page[page]
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 500
          start_from_page: 0
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/leads
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - leads
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          isCurrentUserWatching:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - number
                  - string
                  - "null"
              currency:
                type:
                  - string
                  - "null"
              formatted:
                type:
                  - string
                  - "null"
          number:
            type:
              - string
              - "null"
          createdTime:
            type:
              - object
              - "null"
            properties:
              absoluteLocalizedString:
                type:
                  - string
                  - "null"
              timestamp:
                type:
                  - number
                  - "null"
              value:
                type:
                  - string
                  - "null"
          closedTime:
            type:
              - object
              - "null"
            properties:
              absoluteLocalizedString:
                type:
                  - string
                  - "null"
              timestamp:
                type:
                  - number
                  - "null"
              value:
                type:
                  - string
                  - "null"
          dueTime:
            type:
              - object
              - "null"
            properties:
              absoluteLocalizedString:
                type:
                  - string
                  - "null"
              timestamp:
                type:
                  - number
                  - "null"
              value:
                type:
                  - string
                  - "null"
          anticipatedClosedTime:
            type:
              - object
              - "null"
            properties:
              absoluteLocalizedString:
                type:
                  - string
                  - "null"
              timestamp:
                type:
                  - number
                  - "null"
              value:
                type:
                  - string
                  - "null"
          ownerType:
            type:
              - string
              - "null"
          mcfxContactIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          status:
            type:
              - string
              - "null"
          lastContactedTime:
            type:
              - object
              - "null"
            properties:
              absoluteLocalizedString:
                type:
                  - string
                  - "null"
              timestamp:
                type:
                  - number
                  - "null"
              value:
                type:
                  - string
                  - "null"
          pieState:
            type:
              - string
              - "null"
          isOverdue:
            type:
              - boolean
              - "null"
          overdueTime:
            type:
              - object
              - "null"
            properties:
              fromNowLocalizedString:
                type:
                  - string
                  - "null"
              timestamp:
                type:
                  - number
                  - "null"
              value:
                type:
                  - string
                  - "null"
          href:
            type:
              - string
              - "null"
          confidence:
            type:
              - number
              - "null"
          priority:
            type:
              - number
              - "null"
          htmlUrl:
            type:
              - string
              - "null"
          htmlUrlPath:
            type:
              - string
              - "null"
          avatarUrl:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              accounts:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              contacts:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              tags:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              sources:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              owner:
                type:
                  - string
                  - "null"
              files:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              relatedFiles:
                type:
                  - array
                  - "null"
              destinations:
                type:
                  - array
                  - "null"
              stage:
                type:
                  - string
                  - "null"
              stageset:
                type:
                  - string
                  - "null"
              creator:
                type:
                  - string
                  - "null"
              products:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              productMaps:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              competitors:
                type:
                  - array
                  - "null"
              competitorMaps:
                type:
                  - array
                  - "null"
              outcome:
                type:
                  - string
                  - "null"
              watchers:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              market:
                type:
                  - string
                  - "null"
        required:
          - id
        additionalProperties: true
  - type: DeclarativeStream
    name: leads_report
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/leads/report
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - reports
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          key:
            type:
              - string
              - "null"
          data:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                count:
                  type:
                    - object
                    - "null"
                  properties:
                    label:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - number
                        - "null"
                    prefix:
                      type:
                        - string
                        - "null"
                    suffix:
                      type:
                        - string
                        - "null"
                    formatted:
                      type:
                        - string
                        - "null"
                    subvalues:
                      type:
                        - array
                        - "null"
                total:
                  type:
                    - object
                    - "null"
                  properties:
                    label:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - number
                        - "null"
                    prefix:
                      type:
                        - string
                        - "null"
                    suffix:
                      type:
                        - string
                        - "null"
                    formatted:
                      type:
                        - string
                        - "null"
                    subvalues:
                      type:
                        - array
                        - "null"
                bucket:
                  type:
                    - string
                    - "null"
                filters:
                  type:
                    - object
                    - "null"
                  properties:
                    createdTime:
                      type:
                        - string
                        - "null"
                segments:
                  type:
                    - array
                    - "null"
                bucketType:
                  type:
                    - string
                    - "null"
          name:
            type:
              - string
              - "null"
          prefix:
            type:
              - string
              - "null"
          summary:
            type:
              - object
              - "null"
            properties:
              count:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
                  prefix:
                    type:
                      - string
                      - "null"
                  suffix:
                    type:
                      - string
                      - "null"
                  formatted:
                    type:
                      - string
                      - "null"
                  subvalues:
                    type:
                      - array
                      - "null"
              total:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - number
                      - "null"
                  prefix:
                    type:
                      - string
                      - "null"
                  suffix:
                    type:
                      - string
                      - "null"
                  formatted:
                    type:
                      - string
                      - "null"
                  subvalues:
                    type:
                      - array
                      - "null"
              bucket:
                type:
                  - string
                  - "null"
              filters:
                type:
                  - object
                  - "null"
              segments:
                type:
                  - array
                  - "null"
              bucketType:
                type:
                  - string
                  - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: contacts_custom_fields
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/contacts/customfields/attributes
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - customFields
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          title:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: contacts
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page[limit]
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page[page]
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 500
          start_from_page: 0
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/contacts
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - contacts
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          href:
            type:
              - string
              - "null"
          jobs:
            anyOf:
              - type: array
              - type: object
                properties:
                  1-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  2-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  3-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  4-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  5-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  6-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  7-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  8-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  9-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  10-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  11-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  12-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  13-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  14-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  15-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  16-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  17-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  18-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  19-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  20-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  21-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  22-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  23-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  24-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  25-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  26-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  27-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  28-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  29-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  30-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  31-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
                  32-accounts:
                    type: object
                    properties:
                      title:
                        type: "null"
          name:
            type:
              - string
              - "null"
          urls:
            type:
              - array
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              tags:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              files:
                type:
                  - array
                  - "null"
              accounts:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              relatedFiles:
                type:
                  - array
                  - "null"
          emails:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
                isPrimary:
                  type:
                    - boolean
                    - "null"
          phones:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - object
                    - "null"
                  properties:
                    E164:
                      type:
                        - string
                        - "null"
                    number:
                      type:
                        - string
                        - "null"
                    countryCode:
                      type:
                        - string
                        - "null"
                    numberFormatted:
                      type:
                        - string
                        - "null"
                    countryCodeAndNumber:
                      type:
                        - string
                        - "null"
                isPrimary:
                  type:
                    - boolean
                    - "null"
          htmlUrl:
            type:
              - string
              - "null"
          initials:
            type:
              - string
              - "null"
          jobTitle:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          addresses:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - object
                    - "null"
                  properties:
                    city:
                      type:
                        - string
                        - "null"
                    state:
                      type:
                        - string
                        - "null"
                    country:
                      type:
                        - string
                        - "null"
                    location:
                      type:
                        - object
                        - "null"
                      properties:
                        latitude:
                          type:
                            - number
                            - "null"
                        longitude:
                          type:
                            - number
                            - "null"
                    timezone:
                      type:
                        - string
                        - "null"
                    address_1:
                      type:
                        - string
                        - "null"
                    postalCode:
                      type:
                        - string
                        - "null"
                    locationAccuracy:
                      type:
                        - string
                        - "null"
                isPrimary:
                  type:
                    - boolean
                    - "null"
          avatarUrl:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          htmlUrlPath:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: contacts_list_items
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        http_method: GET
        url: https://app.nutshell.com/rest/contacts/list
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - listItems
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          links:
            type:
              - object
              - "null"
            properties:
              entity:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  href:
                    type:
                      - string
                      - "null"
          fields:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - object
                  - "null"
                properties: {}
              url:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties: {}
              name:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              tags:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            color:
                              type:
                                - string
                                - "null"
              email:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              leads:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            htmlUrl:
                              type:
                                - string
                                - "null"
                            initials:
                              type:
                                - string
                                - "null"
                            avatarUrl:
                              type:
                                - string
                                - "null"
                            htmlUrlPath:
                              type:
                                - string
                                - "null"
              owner:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      initials:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
              phone:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              origin:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
              phones:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      fax:
                        type:
                          - array
                          - "null"
                      home:
                        type:
                          - array
                          - "null"
                      work:
                        type:
                          - array
                          - "null"
                      other:
                        type:
                          - array
                          - "null"
                      phone:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                      mobile:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
              address:
                type:
                  - object
                  - "null"
                properties:
                  city:
                    type:
                      - string
                      - "null"
                  state:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  country:
                    type:
                      - string
                      - "null"
                  address_1:
                    type:
                      - string
                      - "null"
                  postal_code:
                    type:
                      - string
                      - "null"
              creator:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      initials:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
              leadIds:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            name:
                              type:
                                - string
                                - "null"
              accounts:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            htmlUrl:
                              type:
                                - string
                                - "null"
                            initials:
                              type:
                                - string
                                - "null"
                            avatarUrl:
                              type:
                                - string
                                - "null"
                            htmlUrlPath:
                              type:
                                - string
                                - "null"
              industry:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
              jobTitle:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - string
                      - "null"
              legacyId:
                type:
                  - object
                  - "null"
                properties: {}
              audiences:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
              ctctLists:
                type:
                  - object
                  - "null"
                properties:
                  value:
                    type:
                      - array
                      - "null"
              territory:
                type:
                  - object
                  - "null"
                properties: {}
              accountIds:
                type:
                  - object
                  - "null"
                properties:
                  value:
[...]
