version: 7.28.2

type: DeclarativeSource

description: >-
  A source connector for the smsmode API dedicated to RCS (Rich Communication
  Services). It automatically synchronizes the rolling last 30 days of message logs
  into a unified stream by partitioning requests across both MT (Mobile Terminated)
  and MO (Mobile Originated) directions via a ListPartitionRouter, alongside tracking
  monthly channel-specific consumption metrics.

check:
  type: CheckStream
  stream_names:
    - rcs_messages
    - consumptions_rcs

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config[\"api_key\"] }}"
        inject_into:
          type: RequestOption
          field_name: X-Api-Key
          inject_into: header
      request_headers:
        Accept: application/json

streams:
  - type: DeclarativeStream
    name: rcs_messages
    retriever:
      type: SimpleRetriever
      partition_router:
        type: ListPartitionRouter
        values:
          - "MT"
          - "MO"
        cursor_field: direction_slice
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: pageSize
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 1
      requester:
        type: HttpRequester
        url: https://rest.smsmode.com/rcs/v1/messages
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 10
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
        request_parameters:
          startDate: "{{ (now_utc() - duration('P30D')).strftime('%Y-%m-%dT%H:%M:%S') }}"
          endDate: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
          searchBy[direction]: "{{ stream_slice.direction_slice }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type: ["string", "null"]
          messageId:
            type: ["string", "null"]
          originMessageId:
            type: ["string", "null"]
          acceptedAt:
            type: ["string", "null"]
          sentDate:
            type: ["string", "null"]
          channel:
            type: ["object", "null"]
            properties:
              type:
                type: ["string", "null"]
              channelId:
                type: ["string", "null"]
              name:
                type: ["string", "null"]
              flow:
                type: ["string", "null"]
          direction:
            type: ["string", "null"]
          recipient:
            type: ["object", "null"]
            properties:
              to:
                type: ["string", "null"]
          from:
            type: ["string", "null"]
          body:
            type: ["object", "null"]
            properties:
              type:
                type: ["string", "null"]
              text:
                type: ["string", "null"]
              fileUrl:
                type: ["string", "null"]
              thumbnailUrl:
                type: ["string", "null"]
              filename:
                type: ["string", "null"]
              contentType:
                type: ["string", "null"]
          price:
            type: ["object", "null"]
            properties:
              amount:
                type: ["number", "null"]
              currency:
                type: ["string", "null"]
          status:
            type: ["object", "null"]
            properties:
              deliveryDate:
                type: ["string", "null"]
              value:
                type: ["string", "null"]
              lookup:
                type: ["object", "null"]
                properties:
                  mccMnc:
                    type: ["string", "null"]
                  mcc:
                    type: ["string", "null"]
                  mnc:
                    type: ["string", "null"]
                  country:
                    type: ["string", "null"]
                  countryPrefix:
                    type: ["string", "null"]
                  isoCountryCode:
                    type: ["string", "null"]
                  network:
                    type: ["string", "null"]
          validity:
            type: ["object", "null"]
            properties:
              amount:
                type: ["number", "null"]
              timeUnit:
                type: ["string", "null"]
          refClient:
            type: ["string", "null"]
          callbackUrlStatus:
            type: ["string", "null"]
          callbackUrlMo:
            type: ["string", "null"]
          href:
            type: ["string", "null"]
        additionalProperties: true

  - type: DeclarativeStream
    name: consumptions_rcs
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: pageSize
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 1
      requester:
        type: HttpRequester
        url: https://rest.smsmode.com/commons/v1/consumptions
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
        request_parameters:
          startDate: "{{ (now_utc() - duration('P365D')).strftime('%Y-%m-%d') }}"
          searchBy[periodType]: MONTH
          searchBy[channel.type]: RCS
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          href:
            type: ["string", "null"]
          price:
            type: ["object", "null"]
            properties:
              amount:
                type: ["number", "null"]
              currency:
                type: ["string", "null"]
          channel:
            type: ["object", "null"]
            properties:
              type:
                type: ["string", "null"]
              flow:
                type: ["string", "null"]
              name:
                type: ["string", "null"]
              channelId:
                type: ["string", "null"]
          quantity:
            type: ["number", "null"]
          startDate:
            type: ["string", "null"]
          periodType:
            type: ["string", "null"]
          consumptionId:
            type: ["string", "null"]
        additionalProperties: true

spec:
  type: Spec
  documentation_url: https://dev.smsmode.com/rcs/v1/
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://dev.smsmode.com/rcs/v1/
  testedStreams:
    rcs_messages:
      isStale: false
      hasRecords: true
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    consumptions_rcs:
      isStale: false
      hasRecords: true
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    rcs_messages: true
    consumptions_rcs: true
