version: 0.35.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - people
streams:
  - type: DeclarativeStream
    name: people
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/people
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          page_size: 100
          stop_condition: '{{ response.data.next_url == "null" }}'
  - type: DeclarativeStream
    name: employments
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/employments
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
  - type: DeclarativeStream
    name: departments
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/departments
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
  - type: DeclarativeStream
    name: locations
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/locations
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
  - type: DeclarativeStream
    name: labor_groups
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/labor_groups
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
  - type: DeclarativeStream
    name: labor_group_types
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/labor_group_types
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
  - type: DeclarativeStream
    name: custom_fields
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/custom_fields
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
  - type: DeclarativeStream
    name: custom_field_values
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/custom_field_values
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
  - type: DeclarativeStream
    name: vacation_requests
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: time_off/vacation_requests
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
  - type: DeclarativeStream
    name: vacation_types
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: time_off/vacation_types
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
  - type: DeclarativeStream
    name: time_durations
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: time_attendance/time_durations
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100

spec:
  type: Spec
  documentation_url: https://docs.airbyte.io/integrations/sources/zenefits
  connection_specification:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Zenefits Spec
    type: object
    required:
      - token
    additionalProperties: true
    properties:
      token:
        title: token
        type: string
        description:
          Use Sync with Zenefits button on the link given on the readme file,
          and get the token to access the api
        airbyte_secret: true
