version: 0.35.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - people
streams:
  - type: DeclarativeStream
    name: people
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/people
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          page_size: 100
          stop_condition: '{{ response.data.next_url == "null" }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          employee_number:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          labor_groups:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          is_admin:
            type:
              - boolean
              - "null"
          object:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          company:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          department:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          subordinates:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          location:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          work_phone:
            type:
              - string
              - "null"
          middle_name:
            type:
              - string
              - "null"
          custom_field_values:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          postal_code:
            type:
              - string
              - "null"
          employments:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          manager:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          banks:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          date_of_birth:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          federal_filing_status:
            type:
              - string
              - "null"
          gender:
            type:
              - string
              - "null"
          personal_email:
            type:
              - string
              - "null"
          personal_phone:
            type:
              - string
              - "null"
          personal_pronoun:
            type:
              - string
              - "null"
          photo_thumbnail_url:
            type:
              - string
              - "null"
          photo_url:
            type:
              - string
              - "null"
          social_security_number:
            type:
              - string
              - "null"
          is_full_admin:
            type:
              - boolean
              - "null"
          last_name:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          work_email:
            type:
              - string
              - "null"
          preferred_name:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          type:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: employments
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/employments
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          person:
            type: object
            properties:
              url:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              ref_object:
                type:
                  - string
                  - "null"
          hire_date:
            type:
              - string
              - "null"
          amount_type:
            type:
              - string
              - "null"
          annual_salary:
            type:
              - string
              - "null"
          comp_type:
            type:
              - string
              - "null"
          pay_rate:
            type:
              - string
              - "null"
          employment_type:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          is_flsa_exempt:
            type:
              - string
              - "null"
          termination_type:
            type:
              - string
              - "null"
          termination_date:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          working_hours_per_week:
            type:
              - string
              - "null"
          employment_sub_type:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: departments
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/departments
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          labor_group:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          people:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          company:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          url:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: locations
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/locations
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          labor_group:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          zip:
            type:
              - string
              - "null"
          people:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          url:
            type:
              - string
              - "null"
          street1:
            type:
              - string
              - "null"
          street2:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          company:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
  - type: DeclarativeStream
    name: labor_groups
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/labor_groups
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          labor_group_type:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          assigned_members:
            type: object
            properties:
              url:
                type:
                  - string
                  - "null"
              next_url:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    url:
                      type:
                        - string
                        - "null"
                    is_primary:
                      type:
                        - boolean
                        - "null"
                    object:
                      type:
                        - string
                        - "null"
                    ref_object:
                      type:
                        - string
                        - "null"
  - type: DeclarativeStream
    name: labor_group_types
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/labor_group_types
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          company:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          labor_groups:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          object:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: custom_fields
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/custom_fields
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - string
              - "null"
          can_manager_view_field:
            type:
              - boolean
              - "null"
          custom_field_values:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          person_during_onboarding:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          is_field_completer_person:
            type:
              - boolean
              - "null"
          url:
            type:
              - string
              - "null"
          is_sensitive:
            type:
              - boolean
              - "null"
          is_field_required:
            type:
              - boolean
              - "null"
          object:
            type:
              - string
              - "null"
          can_person_view_field:
            type:
              - boolean
              - "null"
          can_person_edit_field:
            type:
              - boolean
              - "null"
          company:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          company_during_hiring:
            type:
              - boolean
              - "null"
          custom_field_type:
            type:
              - string
              - "null"
          help_url:
            type:
              - "null"
              - string
          help_text:
            type:
              - string
              - "null"
          help_url_media:
            type:
              - "null"
              - string
          media_file_type:
            type:
              - "null"
  - type: DeclarativeStream
    name: custom_field_values
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: core/custom_field_values
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          value:
            type:
              - "null"
              - string
              - boolean
          custom_field:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          person:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
  - type: DeclarativeStream
    name: vacation_requests
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: time_off/vacation_requests
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          status:
            type:
              - string
              - "null"
          vacation_type:
            type: object
            properties:
              url:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              ref_object:
                type:
                  - string
                  - "null"
          end_date:
            type:
              - string
              - "null"
          creator:
            type: object
            properties:
              url:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              ref_object:
                type:
                  - string
                  - "null"
          url:
            type:
              - string
              - "null"
          object:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          hours:
            type:
              - string
              - "null"
          approved_date:
            type:
              - string
              - "null"
          reason:
            type:
              - string
              - "null"
          person:
            type: object
            properties:
              url:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              ref_object:
                type:
                  - string
                  - "null"
          created_date:
            type:
              - string
              - "null"
          deny_reason:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: vacation_types
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: time_off/vacation_types
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          status:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          counts_as:
            type:
              - string
              - "null"
          company:
            type: object
            properties:
              url:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              ref_object:
                type:
                  - string
                  - "null"
          object:
            type:
              - string
              - "null"
          vacation_requests:
            type: object
            properties:
              url:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              ref_object:
                type:
                  - string
                  - "null"
          count_as:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: time_durations
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.zenefits.com/
        path: time_attendance/time_durations
        http_method: GET
        request_parameters: {}
        request_headers:
          Content-Type: application/json
          Accept: application/json
        request_body_json: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.next_url }}"
          stop_condition: '{{ response.data.next_url == "null" }}'
          page_size: 100

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          is_overnight:
            type:
              - boolean
              - "null"
          is_approved:
            type:
              - boolean
              - "null"
          object:
            type:
              - string
              - "null"
          end:
            type:
              - string
              - "null"
            format: date-time
          person:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          url:
            type:
              - string
              - "null"
          approver:
            type: object
            properties:
              ref_object:
                type:
                  - string
                  - "null"
              object:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          labor_group_ids:
            type:
              - string
              - "null"
          hours:
            type:
              - string
              - "null"
          start:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          approved_datetime:
            type:
              - string
              - "null"
          valid_status:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          activity:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
spec:
  type: Spec
  documentation_url: https://docs.airbyte.io/integrations/sources/zenefits
  connection_specification:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Zenefits Spec
    type: object
    required:
      - token
    additionalProperties: true
    properties:
      token:
        title: token
        type: string
        description:
          Use Sync with Zenefits button on the link given on the readme
          file, and get the token to access the api
        airbyte_secret: true
