version: "7.28.2"
type: DeclarativeSource

definitions:
  # Config-derived Jinja fragments, hoisted so the two routers that expand wildcards and the
  # two record filters that match against them cannot drift apart. `$ref` in value position
  # resolves to the scalar before component construction, so these behave exactly like the
  # literal strings they replace.
  #
  # `wildcard_organizations` lists the orgs named by a wildcard entry (`org/*`, `org/prefix*`,
  # `org/pre*fix`). The star is matched wherever it sits in the repo part, which makes this
  # expression the exact complement of the explicit-repo list below (`^([^*]+)$`, i.e. "contains
  # no star") and consistent with `wildcard_repository_filter`. An earlier `[*]$` anchor left an
  # entry with an interior star matching neither list, so it was dropped with no request and no
  # warning while the legacy Python resolver expanded it.
  # `wildcard_repository_filter` keeps a repo whose `full_name` matches any wildcard entry —
  # and passes everything when config declares no wildcard at all, which is the legacy
  # `Repositories(pattern=None)` behavior. That pass-all clause is inert for the resolver
  # stream, whose partitions *are* the wildcard orgs: with no wildcards it has no partitions
  # and the filter never runs.
  wildcard_organizations: "{{ config.get('repositories', []) | map('regex_search', '^([^/]+)/[^/]*[*]') | select | unique | list }}"
  wildcard_repository_filter: >-
    {{ (config.get('repositories', []) | map('regex_search', '^(.*[*].*)$') | select | list | length) == 0
       or record['full_name'] | regex_search('^((' ~ (config.get('repositories', []) | map('regex_search', '^(.*[*].*)$') | select | map('replace', '*', '.*') | join(')|(')) ~ '))') }}

  requester_base:
    type: HttpRequester
    url_base: "{{ config.get('api_url', 'https://api.github.com').rstrip('/') }}"
    authenticator:
      type: RateLimitedMultipleTokenAuthenticator
      # Precedence must match SourceGithub.get_access_token: legacy root-level
      # `access_token` first, then `credentials.access_token`, then
      # `credentials.personal_access_token` — so manifest and Python streams
      # always authenticate with the same token.
      tokens: "{{ config.get('access_token', config.get('credentials', {}).get('access_token', config.get('credentials', {}).get('personal_access_token', ''))) }}"
      token_delimiter: ","
      auth_method: "token"
      header: "Authorization"
      # Same `is not none` guard as the backoff caps below, and for the same reason. A default
      # in `.get` only applies when the key is *absent*: a present-but-null `max_waiting_time`
      # (reachable via the API, Terraform or embedded use) returns None, which renders as the
      # literal "None", so the previous expression produced "PTNoneM" and every command failed at
      # startup. The error reads `ISO8601Error: Unrecognised ISO 8601 date format: ''` because
      # isodate splits on the "T" and reports the empty date half, not because the value was
      # empty. `check_connection` passes 0 deliberately, so the guard must distinguish null from
      # 0 — which is why this is `is not none` rather than `or 120`.
      max_wait_time: "PT{{ config['max_waiting_time'] if config.get('max_waiting_time') is not none else 120 }}M"
      quota_status_source:
        type: QuotaStatusSource
        url: "{{ config.get('api_url', 'https://api.github.com').rstrip('/') }}/rate_limit"
        request_headers:
          Accept: "application/vnd.github+json"
          X-GitHub-Api-Version: "2022-11-28"
        # GitHub Enterprise Server ships with HTTP API rate limiting disabled, and an instance
        # in that state answers `GET /rate_limit` with 404 {"message": "Rate limiting is not
        # enabled."}. Seeding runs before the first stream request, so without this the whole
        # connection died on a generic "Resource not found" — every command, not just sync.
        # Listed statuses seed that token's pools as untracked instead: no exhaustion waits, no
        # proactive throttling, no rotation on exhaustion, while requests are still signed and
        # tokens still rotate. Only 404, deliberately. An untracked token stays untracked for
        # the whole sync (the endpoint is never consulted for it again), so a status the
        # endpoint can also return transiently would cost quota tracking for the entire run.
        # 401/403 must never be listed — a revoked credential would then read as "quota
        # tracking unavailable" instead of as an auth failure. GitHub documents 404 as a
        # possible response for this endpoint but never states that it means rate limiting is
        # off; that mapping comes from GHES responses in the wild, which is exactly why the CDK
        # leaves it to the connector.
        unavailable_status_codes: [404]
      quotas:
        - type: TokenQuota
          name: rest
          remaining_path: ["resources", "core", "remaining"]
          reset_path: ["resources", "core", "reset"]
          limit_path: ["resources", "core", "limit"]
          # Reconcile the pool against every response, not just the initial /rate_limit
          # seeding. GitHub returns these headers on every authenticated REST response, and
          # the local counters drift whenever the token is shared with another client, when
          # requests overlap under `concurrency_level`, or when a sync outlives its seeding.
          remaining_header: "X-RateLimit-Remaining"
          reset_header: "X-RateLimit-Reset"
          limit_header: "X-RateLimit-Limit"
          # No `exhaustion_status_codes`, deliberately. GitHub's 403 is not exclusively a
          # rate-limit code: a secondary limit (403 + `Retry-After`, primary quota untouched)
          # and a missing-scope denial both use it, and neither carries
          # `X-RateLimit-Remaining: 0`. Listing 403 would zero the pool for those, which on a
          # single-token config leaves nothing to rotate to and turns a retryable wait into
          # "Rate limit is exceeded for all provided tokens." Primary exhaustion needs no
          # status code here: GitHub reports it as `X-RateLimit-Remaining: 0`, which the
          # header reconciliation above already picks up.
        - type: TokenQuota
          name: graphql
          remaining_path: ["resources", "graphql", "remaining"]
          reset_path: ["resources", "graphql", "reset"]
          limit_path: ["resources", "graphql", "limit"]
          # /graphql answers with the same header names, scoped to the separate GraphQL
          # point budget, so the pool reconciles the same way as `rest`.
          remaining_header: "X-RateLimit-Remaining"
          reset_header: "X-RateLimit-Reset"
          limit_header: "X-RateLimit-Limit"
          matchers:
            - type: HttpRequestRegexMatcher
              url_path_pattern: "/graphql"
    request_headers:
      User-Agent: "PostmanRuntime/7.28.0"
    error_handler:
      $ref: "#/definitions/strict_access_error_handler"

  # Requester for the repo-scoped child streams (`repos/{repository}/...`). Same transport
  # as `requester_base`, but an inaccessible or empty single repository is skipped instead
  # of failing the sync — see `skip_inaccessible_error_handler`.
  repository_scoped_requester:
    $ref: "#/definitions/requester_base"
    http_method: GET
    request_parameters:
      # constants.DEFAULT_PAGE_SIZE — none of these streams was a `large_stream`, so the
      # deprecated `page_size_for_large_streams` config never applied to them.
      per_page: "100"
    error_handler:
      $ref: "#/definitions/skip_inaccessible_error_handler"

  # --- Error handling -------------------------------------------------------------
  #
  # Replicates the legacy GithubStreamABC error contract. Rate limits are waited out
  # instead of failing the sync; GitHub signals them three different ways, and the legacy
  # handler retried on any of them
  # (errors_handlers.py::GithubStreamABCErrorHandler.interpret_response), so all three are
  # matched by the filters below, ahead of the 404/403/409 filters:
  #   1. a `Retry-After` header (sent on most, but per the docs not all, secondary-limit
  #      responses);
  #   2. an "API rate limit exceeded" message (primary limit) or an "exceeded a secondary
  #      rate limit" message (secondary limit without `Retry-After` — note secondary limits
  #      are tracked separately from the primary quota, so `X-RateLimit-Remaining` may still
  #      be non-zero);
  #   3. `X-RateLimit-Remaining: 0` on an error response, which is the fallback the docs
  #      prescribe when `Retry-After` is absent. The declarative predicate cannot see the
  #      status code, so "is an error response" is approximated by GitHub's error envelope
  #      (a JSON object with a `message`); successful payloads are arrays, or objects
  #      without a top-level `message`, and must not match — the request that spends the
  #      last quota point returns 200 with `X-RateLimit-Remaining: 0` and its records have
  #      to be kept (token rotation handles the exhausted token).
  # Unmatched responses (401, 429, 5xx, ...) fall back to the CDK default mapping.
  #
  # What differs per requester is only the terminal 403/409 handling, so the filters are
  # separate definitions composed into the two handlers at the end of this block.
  # `DefaultErrorHandler` returns the first matching filter, which is why order matters:
  # every handler lists `success_filter` first — it evaluates filters before checking
  # `response.ok`, so a 200 carrying `Retry-After` would otherwise be classified
  # RATE_LIMITED and have its records discarded — then the rate-limit filters, then the
  # terminal 404/403/409/410 ones.
  #
  # DELIBERATE DIVERGENCE — 502/504 after retries. Both handlers leave 5xx to the CDK default
  # mapping, so a repository that keeps returning 502/504 is retried and then fails the stream.
  # Legacy retried the same way but `GithubStreamABC.read_records` caught the exhausted-retries
  # `AirbyteTracedException` for 502/504, logged a warning and moved on to the next repository
  # (the `BAD_GATEWAY` and `GATEWAY_TIMEOUT` branches of that method), i.e. it reported a
  # COMPLETE sync with that repository's records silently missing. Failing the stream is the
  # better contract, and `SourceGithub.continue_sync_on_stream_failure` keeps the other streams
  # going. Parity is not
  # reachable declaratively anyway: `DefaultErrorHandler` has no "retry N times, then ignore",
  # and a `502/504 -> IGNORE` filter would drop the repository on the *first* blip instead of
  # retrying it. Pinned by `test_repeated_502_fails_the_stream`.
  #
  # DELIBERATE DIVERGENCE — 404 and 409 are skipped on the first response. Legacy overrode the
  # CDK defaults for both (`errors_handlers.py::GITHUB_DEFAULT_ERROR_MAPPING`, 404 -> RETRY and
  # 409 -> RETRY), so a repo-scoped stream retried up to `max_retries = 5` and only reached the
  # warn-and-skip branch of `read_records` once the budget was spent. The filters below are
  # `IGNORE`, which the CDK applies immediately. For a *persistent* 404/409 the outcome is
  # identical and arrives faster, which is the point; for a *transient* one — GitHub is
  # eventually consistent and does answer 404 for a repository that exists — the repository's
  # records are now dropped from a sync that still reports COMPLETE, where legacy's second
  # attempt would have served them. Not reachable declaratively for the same reason as 502/504:
  # `DefaultErrorHandler` has no "retry N times, then ignore". Accepted rather than fixed,
  # because the blips are rare and the alternative is retrying every genuinely deleted
  # repository five times; revisit together with the CDK follow-up below.
  #
  # Note the two divergences point opposite ways: 502/504 got louder than legacy, 404/409 got
  # quieter. Both are deliberate.
  #
  # KNOWN GAP — skip logging. The `IGNORE` path logs the filter's `error_message` at INFO
  # (`http_client.py`), whereas legacy logged `Skipping <stream> for repository <repo>` at
  # WARNING. So a scope-starved token can now produce a zero-record COMPLETE sync whose only
  # trace is a handful of unattributed INFO lines.
  #
  # Be precise about what the CDK does and does not allow here, because this note gets copied
  # forward by every migration step:
  #   - `stream_partition` is NOT reachable. `HttpResponseFilter._create_error_message` passes
  #     only `config`, `response` and `headers`, and referencing the slice does not degrade to
  #     blank — Jinja raises `undeclared variables` and kills the stream.
  #   - The stream name IS reachable, but only awkwardly. `InterpolatedString.eval` forwards
  #     `parameters` into the Jinja context, so `{{ parameters.get('...') }}` renders — except
  #     that a `$ref`d filter definition carries `parameters == {}`. Recovering the name costs a
  #     `$parameters` entry on each stream plus a per-stream copy of every skip filter, which
  #     trades the shared definitions above (and the ordering guarantees they encode) for one
  #     word in a log line. Not worth it while the repository — the part a user actually needs —
  #     stays out of reach either way.
  # Follow-up: give `HttpResponseFilter` access to the stream slice in the CDK, which fixes both
  # halves at once (same bucket as the token rotation follow-up noted below).
  rate_limit_backoff_strategies:
    # Both strategies are capped by the user's Max Waiting Time, so that setting bounds every
    # rate-limit wait rather than only the ones the authenticator decides before sending.
    # `check_connection` resolves the manifest with `max_waiting_time: 0`, which makes the cap 1s:
    # an interactive check then fails in seconds with the rate-limit message instead of sleeping
    # until the reset. A sync keeps the user's budget.
    #
    # Requires CDK >= 7.28.1, which ships airbytehq/airbyte-python-cdk#1126. Before it,
    # `HttpClient` asked the authenticator for a spare credential only *after* a strategy returned
    # a wait, and a cap raises instead of returning — so a budget shorter than the distance to the
    # reset ended the stream rather than rotating onto a healthy token (measured on 7.28.0: 30min
    # budget against a 60min reset failed with a second token idle). The rotation question is now
    # asked first and the cap only governs waits that are actually taken, which
    # `test_short_wait_budget_does_not_cost_token_rotation` proves end to end. 7.28.1 also resolves
    # the cap at construction, so an expression this manifest got wrong fails at startup rather
    # than at whichever rate limit reaches it first.
    #
    # `is not none` rather than `or 120`: a present-but-null `max_waiting_time` would reach the
    # multiplication as None, and a falsy test would read check's deliberate 0 as absent and hand
    # it 120 minutes. `+ 1` keeps the budget inclusive — the CDK compares with `>=`, so a user on
    # the spec's minimum of 1 minute would otherwise get a 60s cap equal to the `min_wait: 60`
    # floor below, and every headerless 5xx would fail instead of retrying.
    - type: WaitTimeFromHeader
      header: "Retry-After"
      max_waiting_time_in_seconds: "{{ (config['max_waiting_time'] if config.get('max_waiting_time') is not none else 120) * 60 + 1 }}"
    - type: WaitUntilTimeFromHeader
      header: "X-RateLimit-Reset"
      min_wait: 60
      # The cap is compared against the computed wait, not the raw reset timestamp, and it is
      # applied after `min_wait` — so during check, where the cap is 1s, even the 60s floor below
      # is refused.
      max_waiting_time_in_seconds: "{{ (config['max_waiting_time'] if config.get('max_waiting_time') is not none else 120) * 60 + 1 }}"
      # The 60s floor the legacy strategy enforced (backoff_strategies.py), so a reset
      # timestamp already in the past, or seconds away, doesn't turn into a tight retry
      # loop against a quota that hasn't actually refilled.
      #
      # It does NOT land on exactly the same responses legacy floored. Measured:
      #
      #                                     here    legacy
      #   403 + Retry-After: 30              30s      60s    <- floor missing
      #   403 + X-RateLimit-Reset now+10     60s      60s
      #   403 + reset already past           60s      60s
      #   500 / timeout, no such headers     60s     expo    <- floor leaking
      #
      # Two CDK strategies with mismatched options are why: WaitTimeFromHeader has no
      # `min_wait` at all, so Retry-After is used raw; WaitUntilTimeFromHeader returns
      # `min_wait` outright when its header is *absent* rather than treating it as a floor
      # on a computed wait, and backoff_strategies are shared by every retryable response
      # on the requesters that inherit these handlers.
      #
      # Accepted deliberately, after measuring the alternatives:
      #   - A CompositeErrorHandler with `min_wait` on a rate-limit-only branch changes
      #     nothing. `CompositeErrorHandler.backoff_strategies` flattens every child's
      #     strategies into one list -- its own docstring says the list "is not used to map
      #     different strategies to different error conditions" -- and HttpClient takes the
      #     first truthy one regardless of which branch matched. Byte-identical backoffs.
      #   - Dropping `min_wait` fixes the leak but costs more: a stale or near reset then
      #     returns None, the rate-limit path lands on backoff.expo with jitter=None, and
      #     the retry budget is spent at 1s, 2s, 4s, 8s, 16s against a limit that has not
      #     refilled. That is what the floor exists to prevent.
      #
      # The fix belongs in the CDK: WaitUntilTimeFromHeader should return None when its
      # header is missing (`min_wait` is documented as a "minimum time to wait for safety",
      # i.e. a floor on a computed wait), and WaitTimeFromHeader should gain `min_wait`.
      # With the header present but stale, max(negative, min_wait) already yields 60s, so
      # the floor survives exactly where it belongs. Four other connectors combine these
      # two strategies and would move the same way.
      #
      # Until then: a headerless 5xx or a connection timeout waits 60s per attempt, up to
      # max_retries (5), on every stream that inherits these handlers.
      # The wait below is only paid when rotating cannot help. CDK 7.26.0 reconciles the
      # authenticator's counters against every response (the `*_header` fields on the
      # quota pools above), so a primary rate limit — which GitHub reports as
      # `X-RateLimit-Remaining: 0` — spends the rejected token's pool, and `HttpClient`
      # asks `has_alternative_token` before sleeping on a RATE_LIMITED resolution: with a
      # spare token it retries in 0.1s on that token instead of waiting out this window.
      # This covers the reactive rotation the legacy strategy did at the 10-minute mark
      # (backoff_strategies.py) and applies to manifest and Python streams alike, since
      # both share one authenticator.
      # Still waited out, correctly: a secondary rate limit, where the token's counters
      # stay positive. GitHub scopes secondary limits per account, so rotating to another
      # token of the same account would only be rejected again.

  # Short-circuit successful responses before any rate-limit filter sees them.
  # DefaultErrorHandler evaluates response_filters *before* it checks `response.ok`
  # (default_error_handler.py::interpret_response) and returns on the first match, so
  # without this a 200 that merely carries `Retry-After` — GHE, a proxy or a CDN
  # throttling on its own account — is classified RATE_LIMITED: its records are
  # discarded and the request is retried until `max_retries` runs out, failing the
  # stream. The guard has to live in its own filter rather than as a conjunct in the
  # predicates below, because `http_codes` is OR'd with `predicate` inside a filter
  # (http_response_filter.py::_matches_filter) and the predicate context carries only
  # the parsed body and the headers — no status code.
  # Deliberately 200 only: GitHub answers 202 on /stats/contributors to mean "still
  # computing, retry later", which `contributor_activity` backs off on today and which
  # must not become a success when that stream migrates onto one of these handlers.
  success_filter:
    type: HttpResponseFilter
    http_codes: [200]
    action: SUCCESS

  retry_after_rate_limit_filter:
    type: HttpResponseFilter
    predicate: "{{ 'Retry-After' in headers }}"
    action: RATE_LIMITED
    error_message: "GitHub rate limit hit. Waiting for the rate limit window to reset before retrying."

  primary_rate_limit_filter:
    type: HttpResponseFilter
    error_message_contains: "API rate limit exceeded"
    action: RATE_LIMITED
    error_message: "GitHub rate limit hit. Waiting for the rate limit window to reset before retrying."

  secondary_rate_limit_filter:
    type: HttpResponseFilter
    error_message_contains: "secondary rate limit"
    action: RATE_LIMITED
    error_message: "GitHub secondary rate limit hit. Waiting before retrying."

  exhausted_quota_filter:
    type: HttpResponseFilter
    # `is not none` (rather than a bare `response.get('message')`) is required:
    # InterpolatedBoolean compares the *rendered* string against a fixed
    # false-values list that does not include "None", so a falsy `.get()` would
    # evaluate to true and rate-limit successful responses.
    predicate: "{{ headers.get('X-RateLimit-Remaining') == '0' and response is mapping and response.get('message') is not none }}"
    action: RATE_LIMITED
    error_message: "GitHub rate limit exhausted (X-RateLimit-Remaining: 0). Waiting for the rate limit window to reset before retrying."

  # GitHub answers 410 Gone when the feature backing an endpoint is turned off for the
  # repository ("Issues are disabled for this repo.", "Projects are disabled for this repo."),
  # and the legacy handler skipped exactly those (errors_handlers.py::is_gone_with_feature_disabled).
  # 410 is absent from the CDK default mapping, so without this filter such a response would be
  # retried five times behind the 60s backoff floor and then fail the stream.
  #
  # This has to be a predicate rather than `http_codes: [410] + error_message_contains`:
  # HttpResponseFilter ORs its conditions, so combining them would skip *every* 410. The predicate
  # cannot see the status code, so it keys off GitHub's error envelope instead — the same
  # `response is mapping` guard the quota filter above uses, since a successful list response is a
  # JSON array and a successful single-repo response has no top-level `message`. `| string` keeps a
  # non-string `message` from raising inside the template.
  #
  # Because the status code is invisible here, the message match is deliberately narrower than
  # legacy's bare "is disabled"/"are disabled": it must name a feature GitHub can actually turn off
  # for a repository behind one of this connector's endpoints. Legacy could afford the loose match
  # because it had already established `status_code == 410`; here the same loose match would also
  # swallow a 401 "Your account is disabled" or any future error whose wording happens to mention
  # something disabled, silently dropping the repository. Migrating a stream whose feature can be
  # disabled per repository means adding that word to the list below — and the failure mode if it
  # is forgotten is `gone_fail_filter` failing the stream with an actionable message, not a silent
  # skip.
  #
  # Two escaping traps, both silent:
  #   - `!= ''` rather than `is not none`. The CDK's `regex_search` filter returns an empty string
  #     on no match, and InterpolatedBoolean's false-values list does not contain "None", so
  #     `is not none` would render "True" for every response and skip everything.
  #   - `\\b`, not `\b`. Jinja parses its own string literals with Python escapes, so a single
  #     `\b` reaches `re` as a backspace character (0x08) and the pattern never matches — the
  #     failure is a filter that quietly stops skipping, not an error.
  disabled_feature_skip_filter:
    type: HttpResponseFilter
    predicate: >-
      {{ response is mapping
         and ((response.get('message') or '') | string
              | regex_search('(?i)\\b(issues|projects|discussions) (?:are|is) disabled\\b')) != '' }}
    action: IGNORE
    error_message: "Skipping this repository: GitHub reports the feature backing this stream is disabled for it (HTTP 410 Gone)."

  # Any other 410 is unexpected and fails fast with the legacy message
  # (errors_handlers.py::GITHUB_DEFAULT_ERROR_MAPPING). Must come after
  # `disabled_feature_skip_filter`, which is the expected case.
  gone_fail_filter:
    type: HttpResponseFilter
    http_codes: [410]
    action: FAIL
    failure_type: config_error
    error_message: >-
      GitHub returned 410 Gone for an unexpected reason. The endpoint or API version may be
      deprecated. Verify the connector version is current and the endpoint is still supported.

  # 404 on an organization or repository is skipped with a warning so one deleted repo or
  # renamed org doesn't fail the whole sync (`check` enumerates the partition routers below
  # and relies on the same skip semantics).
  not_found_skip_filter:
    type: HttpResponseFilter
    http_codes: [404]
    action: IGNORE
    error_message: "Syncing this stream isn't available for this organization/repository (HTTP 404). Skipping."

  # Legacy re-raised 403 for the org listing (the `Organizations` branch of
  # `GithubStreamABC.read_records`), so `repositories_resolver` and the user-facing
  # `repositories` stream fail with an actionable scopes/SSO message. That is what lets `check`
  # catch a token with bad scopes. This filter is deliberately NOT on `repository_stats`: legacy
  # resolved explicit `org/repo` entries with `RepositoryStats`, a plain `GithubStream`, which
  # took the *other* branch and skipped a 403 with a warning — see
  # `resolve_explicit_repository_error_handler`.
  forbidden_fail_filter:
    type: HttpResponseFilter
    http_codes: [403]
    action: FAIL
    failure_type: config_error
    error_message: >-
      GitHub denied access (HTTP 403). Your token may be missing required scopes
      (this connector typically needs: repo, read:org, read:user, read:project, workflow),
      or this organization may require SAML SSO authorization.
      See https://docs.github.com/en/rest/using-the-rest-api/troubleshooting-the-rest-api

  # Legacy skipped 403 with a warning for the repo-scoped streams (the non-`Organizations`
  # branch of `GithubStreamABC.read_records`): one repository the token cannot read must not
  # fail the other partitions. This filter runs after the rate-limit filters above, so a
  # secondary-limit 403 is still retried rather than silently dropping the repository.
  #
  # The wording covers both audiences deliberately. `skip_inaccessible_error_handler` carries this
  # filter for the repo-scoped streams *and* for `organizations`/`teams`/`users`, whose partition
  # is an organization, and `stream_partition` is unreachable from `error_message` (see the note on
  # skip logging in `AGENTS.md`), so the text cannot name which one it was. `read:org` is listed
  # first because it is the scope the org-scoped streams need and the one legacy called out for
  # them by name.
  forbidden_skip_filter:
    type: HttpResponseFilter
    http_codes: [403]
    action: IGNORE
    error_message: >-
      GitHub denied access to this repository or organization (HTTP 403). Your token may be
      missing required scopes (`read:org` for the organization-scoped streams, `repo` for
      repository data), or this organization may require SAML SSO authorization. Skipping it.

  # GitHub answers 409 "Git Repository is empty." for a repository with no commits
  # (`branches` and `tags` hit this). Legacy IGNOREd that exact message and retried any
  # other 409 until `read_records` warned and skipped the slice, so skipping every 409
  # here is the same observable outcome without spending the retry budget.
  empty_repository_skip_filter:
    type: HttpResponseFilter
    http_codes: [409]
    action: IGNORE
    error_message: "Skipping this repository (HTTP 409 Conflict). The repository is likely empty (no commits)."

  strict_access_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      $ref: "#/definitions/rate_limit_backoff_strategies"
    response_filters:
      - $ref: "#/definitions/success_filter"
      - $ref: "#/definitions/retry_after_rate_limit_filter"
      - $ref: "#/definitions/primary_rate_limit_filter"
      - $ref: "#/definitions/secondary_rate_limit_filter"
      - $ref: "#/definitions/exhausted_quota_filter"
      # No `disabled_feature_skip_filter` here, deliberately. The endpoints on this handler are
      # the repository listing and resolution (`/orgs/{org}/repos`, `/repos/{owner}/{repo}`), which
      # have no per-repository feature to disable and so never send that 410. Including it would
      # let any error envelope mentioning a disabled feature match *before* `forbidden_fail_filter`
      # and turn the 403 that `check` relies on into a silent skip.
      - $ref: "#/definitions/not_found_skip_filter"
      - $ref: "#/definitions/forbidden_fail_filter"
      - $ref: "#/definitions/gone_fail_filter"

  skip_inaccessible_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      $ref: "#/definitions/rate_limit_backoff_strategies"
    response_filters:
      - $ref: "#/definitions/success_filter"
      - $ref: "#/definitions/retry_after_rate_limit_filter"
      - $ref: "#/definitions/primary_rate_limit_filter"
      - $ref: "#/definitions/secondary_rate_limit_filter"
      - $ref: "#/definitions/exhausted_quota_filter"
      - $ref: "#/definitions/disabled_feature_skip_filter"
      - $ref: "#/definitions/not_found_skip_filter"
      - $ref: "#/definitions/forbidden_skip_filter"
      - $ref: "#/definitions/empty_repository_skip_filter"
      - $ref: "#/definitions/gone_fail_filter"

  # `repository_stats` resolves the explicit `org/repo` entries the user typed, and a 403 there
  # is one repository the token cannot see — a SAML-protected org is the common case. It must not
  # take the other repositories down with it: a 403 raised while partitions are being generated
  # kills the partition generator, so the stream reads nothing at all rather than skipping one
  # partition. Legacy skipped it with a warning and synced the rest, and this keeps that.
  #
  # `check` still catches a bad token: with every explicit entry skipped the resolved repository
  # list is empty, and `SourceGithub.check_connection` answers "Some of the provided repositories
  # couldn't be found..." for that case.
  resolve_explicit_repository_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      $ref: "#/definitions/rate_limit_backoff_strategies"
    response_filters:
      - $ref: "#/definitions/success_filter"
      - $ref: "#/definitions/retry_after_rate_limit_filter"
      - $ref: "#/definitions/primary_rate_limit_filter"
      - $ref: "#/definitions/secondary_rate_limit_filter"
      - $ref: "#/definitions/exhausted_quota_filter"
      - $ref: "#/definitions/not_found_skip_filter"
      - $ref: "#/definitions/forbidden_skip_filter"
      - $ref: "#/definitions/gone_fail_filter"

  page_link_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: "page"
    pagination_strategy:
      # GitHub's documented end-of-data signal is the absence of a `rel="next"` link
      # header — a short page is not guaranteed to be the last page. This mirrors the
      # legacy `GithubStreamABC.next_page_token`, which parsed `page` out of that same link.
      # Inferring the end from `last_page_size < 100` instead would silently truncate the org
      # repo list that drives every downstream partition.
      # CursorPaginationStrategy replaces `headers["link"]` with `response.links`, so this
      # walks that dict. Chained `.get(...)` with defaults is required rather than
      # `headers.link.next.url`: on the last page there is no `next` link, and attribute
      # access would raise Jinja's UndefinedError. InterpolatedString defaults `default` to
      # the template itself, so JinjaInterpolation.eval's UndefinedError guard just
      # re-evaluates the same failing expression and the error escapes, failing the sync.
      # On the last page there is no `next` link, so `regex_search` gets "" and returns None;
      # CursorPaginationStrategy ends on `token if token else None`, so pagination stops.
      type: CursorPagination
      cursor_value: '{{ headers.get("link", {}).get("next", {}).get("url", "") | regex_search("[?&]page=([0-9]+)") }}'

  # Resolver streams: internal parent streams used only to drive the shared
  # partition routers below. They are not exposed in the catalog.
  #
  # `repositories_resolver` expands wildcard patterns (e.g. `org/*`) by listing
  # each wildcard org's repos and filtering them against the anchored pattern
  # derived inline from config. `repository_stats` resolves explicit `org/repo`
  # entries and exposes the canonical `full_name` and `organization.login`;
  # entries that 404 or 403 are skipped with a warning (see
  # `resolve_explicit_repository_error_handler`), matching the legacy warn-and-continue
  # behavior.
  repositories_resolver_stream:
    type: DeclarativeStream
    name: repositories_resolver
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester_base"
        path: "orgs/{{ stream_partition.organization }}/repos"
        http_method: GET
        use_cache: true
        request_parameters:
          per_page: "100"
          sort: "updated"
          direction: "desc"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          condition:
            $ref: "#/definitions/wildcard_repository_filter"
      paginator:
        $ref: "#/definitions/page_link_paginator"
      partition_router:
        type: ListPartitionRouter
        values:
          $ref: "#/definitions/wildcard_organizations"
        cursor_field: "organization"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - integer
          full_name:
            type:
              - "null"
              - string
          owner:
            type:
              - "null"
              - object
            properties:
              login:
                type:
                  - "null"
                  - string

  repository_stats_stream:
    type: DeclarativeStream
    name: repository_stats
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester_base"
        path: "repos/{{ stream_partition.repository }}"
        http_method: GET
        use_cache: true
        # Kept for request-shape parity with the legacy resolver (GitHub ignores
        # per_page on single-repo GETs).
        request_parameters:
          per_page: "100"
        error_handler:
          $ref: "#/definitions/resolve_explicit_repository_error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: ListPartitionRouter
        values: "{{ config.get('repositories', []) | map('regex_search', '^([^*]+)$') | select | unique | list }}"
        cursor_field: "repository"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - integer
          full_name:
            type:
              - "null"
              - string
          organization:
            type:
              - "null"
              - object
            properties:
              login:
                type:
                  - "null"
                  - string

  # Shared partition routers. Repo-scoped streams reference
  # `repository_partition_router`. For orgs there are deliberately two routers with
  # different audiences: the `repositories` stream references
  # `organization_partition_router` (config-derived candidates), the org-scoped Python
  # streams reference `organization_resolution_partition_router` (payload-confirmed).
  # Picking the wrong one for an org-scoped stream is what broke 2.2.0 — see below.
  #
  # `repository_partition_router` yields the deduplicated union of
  # wildcard-expanded repos and validated explicit repos.
  #
  # `organization_partition_router` yields the deduplicated union of wildcard
  # orgs (derived inline from config) and the orgs owning explicit repos.
  # User-owned repos have no `organization` object, so the substream child
  # skips them (they contribute a repository but not an organization).
  # It drives the `repositories` stream, which has to *attempt* `orgs/{org}/repos`
  # for a wildcard entry to learn whether the login is an organization at all.
  #
  # `organization_resolution_partition_router` is the narrower list the org-scoped
  # Python streams slice on, and must not be the router above: a login taken from
  # config text is only a *candidate* org, and `orgs/{login}` 404s on every
  # org-scoped stream when it is a user. Both branches here take the org from a
  # response payload instead — `owner/login` of the repos `orgs/{org}/repos`
  # returned, `organization/login` of `repos/{owner}/{repo}` (absent for user-owned
  # repos) — which is how the legacy Python resolver built the list.
  repository_partition_router:
    type: UnionPartitionRouter
    partition_field: repository
    partition_routers:
      - type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/repositories_resolver_stream"
            parent_key: "full_name"
            partition_field: "repository"
      - type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/repository_stats_stream"
            parent_key: "full_name"
            partition_field: "repository"

  organization_partition_router:
    type: UnionPartitionRouter
    partition_field: organization
    partition_routers:
      - type: ListPartitionRouter
        values:
          $ref: "#/definitions/wildcard_organizations"
        cursor_field: "organization"
      - type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/repository_stats_stream"
            parent_key: "organization/login"
            partition_field: "organization"

  organization_resolution_partition_router:
    type: UnionPartitionRouter
    partition_field: organization
    partition_routers:
      - type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/repositories_resolver_stream"
            parent_key: "owner/login"
            partition_field: "organization"
      - type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/repository_stats_stream"
            parent_key: "organization/login"
            partition_field: "organization"

  repositories_stream:
    type: DeclarativeStream
    name: repositories
    primary_key: "id"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/requester_base"
        path: "orgs/{{ stream_partition.organization }}/repos"
        http_method: GET
        request_parameters:
          per_page: "100"
          sort: "updated"
          direction: "desc"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          condition:
            $ref: "#/definitions/wildcard_repository_filter"
      paginator:
        $ref: "#/definitions/page_link_paginator"
      partition_router:
        $ref: "#/definitions/organization_partition_router"
    transformations:
      - type: AddFields
        fields:
          - path: ["organization"]
            value: "{{ stream_partition.organization }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated_at"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        # `or` rather than `config.get('start_date', default)`: the default is only
        # substituted when the key is *absent*, so a present-but-null `start_date`
        # (reachable via the API, Terraform or embedded use) would reach MinMaxDatetime as
        # the literal string "None" and abort the stream. Any falsy value falls back to the
        # epoch, matching the legacy "no start_date means replicate everything" behavior.
        datetime: "{{ config.get('start_date') or '1970-01-01T00:00:00Z' }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      # The listing is served most-recent-first (`sort=updated&direction=desc`), so the
      # cursor stop condition ends pagination at the first page whose last record is at or
      # below the partition cursor. This replaces the legacy `Repositories.is_sorted =
      # "desc"` early break; without it every incremental sync walked the org's entire
      # repo listing (ceil(repos/100) requests per org per sync instead of ~1).
      # The CDK's data-feed post-pagination filter drops the boundary page's records that
      # are at or below the partition cursor, so only records newer than the cursor are
      # emitted. Note that ConcurrentPerPartitionCursor seeds a partition that has no state
      # from the *global* cursor, so repos of an org added to `repositories` after the
      # first sync are only emitted if updated after that cursor.
      is_data_feed: true
    state_migrations:
      - type: LegacyToPerPartitionStateMigration
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier of the repository.
            type:
              - "null"
              - integer
          node_id:
            description: Node ID of the repository.
            type:
              - "null"
              - string
          name:
            description: Name of the repository.
            type:
              - "null"
              - string
          full_name:
            description: Full name of the repository.
            type:
              - "null"
              - string
          owner:
            description: Owner of the repository.
            type:
              - "null"
              - object
            properties:
              login:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - integer
              node_id:
                type:
                  - "null"
                  - string
              avatar_url:
                type:
                  - "null"
                  - string
              gravatar_id:
                type:
                  - "null"
                  - string
              url:
                type:
                  - "null"
                  - string
              html_url:
                type:
                  - "null"
                  - string
              followers_url:
                type:
                  - "null"
                  - string
              following_url:
                type:
                  - "null"
                  - string
              gists_url:
                type:
                  - "null"
                  - string
              starred_url:
                type:
                  - "null"
                  - string
              subscriptions_url:
                type:
                  - "null"
                  - string
              organizations_url:
                type:
                  - "null"
                  - string
              repos_url:
                type:
                  - "null"
                  - string
              events_url:
                type:
                  - "null"
                  - string
              received_events_url:
                type:
                  - "null"
                  - string
              type:
                type:
                  - "null"
                  - string
              site_admin:
                type:
                  - "null"
                  - boolean
          private:
            description: Indicates if the repository is private.
            type:
              - "null"
              - boolean
          html_url:
            description: URL of the repository's GitHub page.
            type:
              - "null"
              - string
          description:
            description: Brief description of the repository.
            type:
              - "null"
              - string
          fork:
            description: Indicates if the repository is a fork.
            type:
              - "null"
              - boolean
          url:
            description: URL of the repository.
            type:
              - "null"
              - string
          archive_url:
            description: URL to archive the repository.
            type:
              - "null"
              - string
          assignees_url:
            description: URL to fetch assignees for issues in the repository.
            type:
              - "null"
              - string
          blobs_url:
            description: URL to fetch blobs within the repository.
            type:
              - "null"
              - string
          branches_url:
            description: URL to fetch branches within the repository.
            type:
              - "null"
              - string
          collaborators_url:
            description: URL to fetch collaborators of the repository.
            type:
              - "null"
              - string
          comments_url:
            description: URL to fetch comments within the repository.
            type:
              - "null"
              - string
          commits_url:
            description: URL to fetch commits within the repository.
            type:
              - "null"
              - string
          compare_url:
            description: URL to compare references within the repository.
            type:
              - "null"
              - string
          contents_url:
            description: URL to fetch contents within the repository.
            type:
              - "null"
              - string
          contributors_url:
            description: URL to fetch contributors to the repository.
            type:
              - "null"
              - string
          deployments_url:
            description: URL to fetch deployments related to the repository.
            type:
              - "null"
              - string
          downloads_url:
            description: URL to fetch downloads linked to the repository.
            type:
              - "null"
              - string
          events_url:
            description: URL to fetch events related to the repository.
            type:
              - "null"
              - string
          forks_url:
            description: URL to fetch forks of the repository.
            type:
              - "null"
              - string
          git_commits_url:
            description: URL to fetch git commits within the repository.
            type:
              - "null"
              - string
          git_refs_url:
            description: URL to fetch git references within the repository.
            type:
              - "null"
              - string
          git_tags_url:
            description: URL to fetch git tags within the repository.
            type:
              - "null"
              - string
          git_url:
            description: URL for Git protocol to interact with the repository.
            type:
              - "null"
              - string
          issue_comment_url:
            description: URL to fetch issue comments within the repository.
            type:
              - "null"
              - string
          issue_events_url:
            description: URL to fetch issue events within the repository.
            type:
              - "null"
              - string
          issues_url:
            description: URL to fetch issues within the repository.
            type:
              - "null"
              - string
          keys_url:
            description: URL to fetch keys associated with the repository.
            type:
              - "null"
              - string
          labels_url:
            description: URL to fetch labels associated with the repository.
            type:
              - "null"
              - string
          languages_url:
            description: URL to fetch languages used in the repository.
            type:
              - "null"
              - string
          merges_url:
            description: URL to fetch merges related to the repository.
            type:
              - "null"
              - string
          milestones_url:
            description: URL to fetch milestones within the repository.
            type:
              - "null"
              - string
          notifications_url:
            description: URL to manage notifications for the repository.
            type:
              - "null"
              - string
          pulls_url:
            description: URL to fetch pull requests within the repository.
            type:
              - "null"
              - string
          releases_url:
            description: URL to fetch releases related to the repository.
            type:
              - "null"
              - string
          ssh_url:
            description: SSH URL of the repository.
            type:
              - "null"
              - string
          stargazers_url:
            description: URL to fetch users who starred the repository.
            type:
              - "null"
              - string
          statuses_url:
            description: URL to fetch commit statuses within the repository.
            type:
              - "null"
              - string
          subscribers_url:
            description: URL to fetch subscribers of the repository.
            type:
              - "null"
              - string
          subscription_url:
            description: URL to manage subscriptions to notifications for the repository.
            type:
              - "null"
              - string
          tags_url:
            description: URL to fetch tags within the repository.
            type:
              - "null"
              - string
          teams_url:
            description: URL to manage repository teams.
            type:
              - "null"
              - string
          trees_url:
            description: URL to fetch trees within the repository.
            type:
              - "null"
              - string
          clone_url:
            description: URL to clone the repository.
            type:
              - "null"
              - string
          mirror_url:
            description: URL of the mirror repository.
            type:
              - "null"
              - string
          hooks_url:
            description: URL to manage webhooks for the repository.
            type:
              - "null"
              - string
          svn_url:
            description: SVN URL of the repository.
            type:
              - "null"
              - string
          homepage:
            description: URL of the repository's homepage.
            type:
              - "null"
              - string
          language:
            description: Main programming language used in the repository.
            type:
              - "null"
              - string
          forks_count:
            description: Count of forks for the repository.
            type:
              - "null"
              - integer
          stargazers_count:
            description: Number of stars the repository has received.
            type:
              - "null"
              - integer
          watchers_count:
            description: Count of watchers for the repository.
            type:
              - "null"
              - integer
          size:
            description: Size of the repository in kilobytes.
            type:
              - "null"
              - integer
          default_branch:
            description: Default branch of the repository.
            type:
              - "null"
              - string
          open_issues_count:
            description: Count of open issues in the repository.
            type:
              - "null"
              - integer
          is_template:
            description: Indicates if the repository is a template.
            type:
              - "null"
              - boolean
          topics:
            description: Topics associated with the repository.
            type:
              - "null"
              - array
            items:
              description: Individual topic related to the repository.
              type:
                - "null"
                - string
          license:
            description: License information of the repository.
            type:
              - "null"
              - object
            properties:
              key:
                description: Key identifier of the license.
                type:
                  - "null"
                  - string
              name:
                description: Name of the license.
                type:
                  - "null"
                  - string
              url:
                description: URL to access license details.
                type:
                  - "null"
                  - string
              spdx_id:
                description: SPDX identifier of the license.
                type:
                  - "null"
                  - string
              node_id:
                description: Node ID of the license.
                type:
                  - "null"
                  - string
              html_url:
                description: URL to view license details on the web.
                type:
                  - "null"
                  - string
          has_issues:
            description: Indicates if the repository has issues enabled.
            type:
              - "null"
              - boolean
          has_projects:
            description: Indicates if the repository has projects enabled.
            type:
              - "null"
              - boolean
          has_wiki:
            description: Indicates if the repository has a wiki enabled.
            type:
              - "null"
              - boolean
          has_pages:
            description: Indicates if the repository has GitHub Pages enabled.
            type:
              - "null"
              - boolean
          has_downloads:
            description: Indicates if the repository has downloads available.
            type:
              - "null"
              - boolean
          archived:
            description: Indicates if the repository is archived.
            type:
              - "null"
              - boolean
          disabled:
            description: Indicates if the repository is disabled.
            type:
              - "null"
              - boolean
          visibility:
            description: Visibility status of the repository.
            type:
              - "null"
              - string
          pushed_at:
            description: Date and time when the repository was last pushed to.
            type: string
            format: date-time
          created_at:
            description: Date and time when the repository was created.
            type: string
            format: date-time
          updated_at:
            description: Date and time when the repository was last updated.
            type: string
            format: date-time
          permissions:
            description: Permissions granted to different roles for the repository.
            type:
              - "null"
              - object
            properties:
              admin:
                description: Admin permission level.
                type:
                  - "null"
                  - boolean
              push:
                description: Push permission level.
                type:
                  - "null"
                  - boolean
              pull:
                description: Pull permission level.
                type:
                  - "null"
                  - boolean
              maintain:
                description: Maintain permission level.
                type:
                  - "null"
                  - boolean
              triage:
                description: Triage permission level.
                type:
                  - "null"
                  - boolean
          allow_forking:
            description: Indicates if forking is allowed for the repository.
            type:
              - "null"
              - boolean
          forks:
            description: Forks information related to the repository.
            type:
              - "null"
              - integer
          has_discussions:
            description: Indicates if the repository has discussions.
            type:
              - "null"
              - boolean
          open_issues:
            description: Number of open issues in the repository.
            type:
              - "null"
              - integer
          organization:
            description: Organization the repository belongs to.
            type:
              - "null"
              - string
          watchers:
            description: Watchers of the repository.
            type:
              - "null"
              - integer
          web_commit_signoff_required:
            description: Indicates if web commit sign-off is required for contributions.
            type:
              - "null"
              - boolean
          security_and_analysis:
            description: Security and analysis settings of the repository.
            type:
              - "null"
              - object
            properties:
              secret_scanning:
                description: Secret scanning status.
                type:
                  - "null"
                  - object
                properties:
                  status:
                    type:
                      - "null"
                      - string
              secret_scanning_push_protection:
                description: Secret scanning push protection status.
                type:
                  - "null"
                  - object
                properties:
                  status:
                    type:
                      - "null"
                      - string
              secret_scanning_validity_checks:
                description: Secret scanning validity checks status.
                type:
                  - "null"
                  - object
                properties:
                  status:
                    type:
                      - "null"
                      - string
              dependabot_security_updates:
                description: Dependabot security updates status.
                type:
                  - "null"
                  - object
                properties:
                  status:
                    type:
                      - "null"
                      - string

  # --- Repo-scoped full-refresh REST streams --------------------------------------
  #
  # The streams below differ only in path, primary key and schema, so they share this
  # retriever. Each is partitioned by `repository_partition_router`, and `page` pagination
  # follows GitHub's `rel="next"` link header exactly as the legacy streams did.
  repository_scoped_retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      $ref: "#/definitions/page_link_paginator"
    partition_router:
      $ref: "#/definitions/repository_partition_router"

  # Replaces the legacy `GithubStream.transform`, which stamped the
  # partition's repository onto every record. None of these streams carries `reactions`,
  # so the `+1`/`-1` renaming that transform also did is not needed here.
  add_repository_transformation:
    - type: AddFields
      fields:
        - path: ["repository"]
          value: "{{ stream_partition.repository }}"

  assignees_stream:
    # API docs: https://docs.github.com/en/rest/issues/assignees?apiVersion=2022-11-28#list-assignees
    type: DeclarativeStream
    name: assignees
    primary_key: "id"
    retriever:
      $ref: "#/definitions/repository_scoped_retriever"
      requester:
        $ref: "#/definitions/repository_scoped_requester"
        path: "repos/{{ stream_partition.repository }}/assignees"
    transformations:
      $ref: "#/definitions/add_repository_transformation"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          repository:
            description: Repository where the assignee is assigned
            type: string
          login:
            description: Username of the assignee
            type:
              - "null"
              - string
          id:
            description: Unique identifier of the assignee
            type:
              - "null"
              - integer
          node_id:
            description: Node ID of the assignee
            type:
              - "null"
              - string
          avatar_url:
            description: URL of the assignee's avatar image
            type:
              - "null"
              - string
          gravatar_id:
            description: Gravatar ID of the assignee
            type:
              - "null"
              - string
          url:
            description: URL of the assignee's account
            type:
              - "null"
              - string
          html_url:
            description: URL of the assignee's GitHub profile
            type:
              - "null"
              - string
          followers_url:
            description: URL of the assignee's followers
            type:
              - "null"
              - string
          following_url:
            description: URL of the assignee's following
            type:
              - "null"
              - string
          gists_url:
            description: URL of the assignee's gists
            type:
              - "null"
              - string
          starred_url:
            description: URL of the assignee's starred items
            type:
              - "null"
              - string
          subscriptions_url:
            description: URL of the assignee's subscriptions
            type:
              - "null"
              - string
          organizations_url:
            description: URL of the assignee's organizations
            type:
              - "null"
              - string
          repos_url:
            description: URL of the assignee's repositories
            type:
              - "null"
              - string
          events_url:
            description: URL of the assignee's events
            type:
              - "null"
              - string
          received_events_url:
            description: URL of the assignee's received events
            type:
              - "null"
              - string
          type:
            description: Type of the assignee's account
            type:
              - "null"
              - string
          site_admin:
            description: Boolean indicating if the assignee is a site administrator
            type:
              - "null"
              - boolean

  branches_stream:
    # API docs: https://docs.github.com/en/rest/branches/branches?apiVersion=2022-11-28#list-branches
    type: DeclarativeStream
    name: branches
    primary_key: ["repository", "name"]
    retriever:
      $ref: "#/definitions/repository_scoped_retriever"
      requester:
        $ref: "#/definitions/repository_scoped_requester"
        path: "repos/{{ stream_partition.repository }}/branches"
    transformations:
      $ref: "#/definitions/add_repository_transformation"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          repository:
            description: Details about the repository associated with the branch.
            type: string
          name:
            description: The name of the branch.
            type:
              - "null"
              - string
          commit:
            description: Details about the commit associated with the branch.
            type:
              - "null"
              - object
            properties:
              sha:
                description: The unique identifier of the commit.
                type:
                  - "null"
                  - string
              url:
                description: The URL to view details of the commit.
                type:
                  - "null"
                  - string
          protected:
            description: Indicates if the branch is protected.
            type:
              - "null"
              - boolean
          protection:
            description: Details about the protection settings of the branch.
            type:
              - "null"
              - object
            properties:
              enabled:
                description: Indicates if protection is enabled for the branch.
                type:
                  - "null"
                  - boolean
              required_status_checks:
                description: Settings for required status checks on the branch.
                type:
                  - "null"
                  - object
                properties:
                  enforcement_level:
                    description: Level of enforcement for required status checks.
                    type:
                      - "null"
                      - string
                  contexts:
                    description: List of contexts required for status checks to pass.
                    type:
                      - "null"
                      - array
                    items:
                      description: Name of a context.
                      type:
                        - "null"
                        - string
                  checks:
                    description: List of status checks that are required.
                    type:
                      - "null"
                      - array
                    items:
                      description: Details about a specific status check.
                      type: object
                      properties:
                        context:
                          description: Context information of the status check.
                          type:
                            - "null"
                            - string
                        app_id:
                          description: ID of the application associated with the status check.
                          type:
                            - "null"
                            - integer
          protection_url:
            description: URL to manage protection settings for the branch.
            type:
              - "null"
              - string

  collaborators_stream:
    # API docs: https://docs.github.com/en/rest/collaborators/collaborators?apiVersion=2022-11-28#list-repository-collaborators
    type: DeclarativeStream
    name: collaborators
    primary_key: "id"
    retriever:
      $ref: "#/definitions/repository_scoped_retriever"
      requester:
        $ref: "#/definitions/repository_scoped_requester"
        path: "repos/{{ stream_partition.repository }}/collaborators"
    transformations:
      $ref: "#/definitions/add_repository_transformation"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          repository:
            description: Repository information related to the collaborator
            type: string
          login:
            description: Username of the collaborator
            type:
              - "null"
              - string
          id:
            description: Unique identifier of the collaborator
            type:
              - "null"
              - integer
          node_id:
            description: Node ID of the collaborator
            type:
              - "null"
              - string
          avatar_url:
            description: URL of the collaborator's avatar image
            type:
              - "null"
              - string
          gravatar_id:
            description: Gravatar ID of the collaborator
            type:
              - "null"
              - string
          url:
            description: URL of the collaborator's GitHub API endpoint
            type:
              - "null"
              - string
          html_url:
            description: HTML URL of the collaborator's profile
            type:
              - "null"
              - string
          followers_url:
            description: URL of the followers of the collaborator
            type:
              - "null"
              - string
          following_url:
            description: URL of the users followed by the collaborator
            type:
              - "null"
              - string
          gists_url:
            description: URL of gists created by the collaborator
            type:
              - "null"
              - string
          starred_url:
            description: URL of the repositories starred by the collaborator
            type:
              - "null"
              - string
          subscriptions_url:
            description: URL of the repositories subscribed to by the collaborator
            type:
              - "null"
              - string
          organizations_url:
            description: URL of organizations the collaborator is associated with
            type:
              - "null"
              - string
          repos_url:
            description: URL of the repositories of the collaborator
            type:
              - "null"
              - string
          events_url:
            description: URL of the events related to the collaborator
            type:
              - "null"
              - string
          received_events_url:
            description: URL of events received by the collaborator
            type:
              - "null"
              - string
          type:
            description: Type of the collaborator (e.g., User)
            type:
              - "null"
              - string
          site_admin:
            description: Indicates if the collaborator is a site administrator
            type:
              - "null"
              - boolean
          role_name:
            description: Name of the collaborator's role
            type:
              - "null"
              - string
          permissions:
            description: The permissions assigned to the collaborators
            type:
              - "null"
              - object
            properties:
              admin:
                description: Indicates if the collaborator has admin access
                type:
                  - "null"
                  - boolean
              maintain:
                description: Indicates if the collaborator has maintain access
                type:
                  - "null"
                  - boolean
              push:
                description: Indicates if the collaborator has push access
                type:
                  - "null"
                  - boolean
              pull:
                description: Indicates if the collaborator has pull access
                type:
                  - "null"
                  - boolean
              triage:
                description: Indicates if the collaborator has triage access
                type:
                  - "null"
                  - boolean

  issue_labels_stream:
    # API docs: https://docs.github.com/en/rest/issues/labels?apiVersion=2022-11-28#list-labels-for-a-repository
    type: DeclarativeStream
    name: issue_labels
    primary_key: "id"
    retriever:
      $ref: "#/definitions/repository_scoped_retriever"
      requester:
        $ref: "#/definitions/repository_scoped_requester"
        path: "repos/{{ stream_partition.repository }}/labels"
    transformations:
      $ref: "#/definitions/add_repository_transformation"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          repository:
            description: Information about the repository to which the label belongs.
            type: string
          id:
            description: Unique identifier for the label.
            type:
              - "null"
              - integer
          node_id:
            description: A unique identifier for the label at the GitHub API level.
            type:
              - "null"
              - string
          url:
            description: URL that provides direct access to the label resource.
            type:
              - "null"
              - string
          name:
            description: The name of the label used for identification.
            type:
              - "null"
              - string
          description:
            description: Descriptive text providing additional information about the label.
            type:
              - "null"
              - string
          color:
            description: The color associated with the label, typically used for visual representation.
            type:
              - "null"
              - string
          default:
            description: Indicates if the label is the default label for the repository.
            type:
              - "null"
              - boolean

  tags_stream:
    # API docs: https://docs.github.com/en/rest/repos/repos?apiVersion=2022-11-28#list-repository-tags
    type: DeclarativeStream
    name: tags
    primary_key: ["repository", "name"]
    retriever:
      $ref: "#/definitions/repository_scoped_retriever"
      requester:
        $ref: "#/definitions/repository_scoped_requester"
        path: "repos/{{ stream_partition.repository }}/tags"
    transformations:
      $ref: "#/definitions/add_repository_transformation"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          repository:
            description: Repository information related to the tag
            type: string
          name:
            description: Name of the tag
            type:
              - "null"
              - string
          commit:
            description: Information about the commit associated with this tag
            type:
              - "null"
              - object
            properties:
              sha:
                description: The unique SHA of the commit
                type:
                  - "null"
                  - string
              url:
                description: URL to view details of the commit
                type:
                  - "null"
                  - string
          zipball_url:
            description: URL to download a zipball archive of the repository at this tag
            type:
              - "null"
              - string
          tarball_url:
            description: URL to download a tarball archive of the repository at this tag
            type:
              - "null"
              - string
          node_id:
            description: Unique identifier of the tag
            type:
              - "null"
              - string

  # Requester for the organization-scoped streams (`orgs/{organization}/...`). Same transport as
  # `requester_base`; an organization the token cannot read is skipped rather than failing the
  # sync, which is what the legacy `GithubStreamABC.read_records` did for these three streams
  # (404 -> "isn't available for organization", 403 -> "may be missing the `read:org` scope").
  #
  # `use_cache` is here for `teams` specifically. The Python `Teams` class stays behind as
  # `TeamMembers`' parent (see its docstring) and it caches too, so both name their cache
  # `teams.sqlite` and one read of `orgs/{org}/teams` serves the declarative stream and the
  # parent read. Without it the listing is fetched twice per organization whenever `teams` and
  # `team_members` are both selected. Harmless for `organizations` and `users`, which read each
  # URL once either way.
  organization_scoped_requester:
    $ref: "#/definitions/requester_base"
    use_cache: true
    http_method: GET
    request_parameters:
      # `Organizations.page_size = 100`, inherited by Teams and Users.
      per_page: "100"
    error_handler:
      $ref: "#/definitions/skip_inaccessible_error_handler"

  organization_scoped_retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      $ref: "#/definitions/page_link_paginator"
    # `organization_resolution_partition_router`, not `organization_partition_router`: these
    # endpoints only exist for real organizations, so the partition list has to be the
    # payload-confirmed one. The config-derived router hands over any wildcard owner, including a
    # personal account, and it also yields an org whose wildcard matched no repository — the Python
    # streams these replaced saw neither, because `SourceGithub` filters its enumeration down to
    # the owners of resolved repositories. See that definition's comment.
    partition_router:
      $ref: "#/definitions/organization_resolution_partition_router"

  # Replaces the legacy `Organizations.transform`, which stamped the partition's organization onto
  # every record. Applied to `teams` and `users` only: `Organizations.parse_response` yielded the
  # API payload untouched, and `organizations.json` has no `organization` property, so injecting
  # it there would add a field the Python implementation never emitted.
  add_organization_transformation:
    - type: AddFields
      fields:
        - path: ["organization"]
          value: "{{ stream_partition.organization }}"

  organizations_stream:
    # API docs: https://docs.github.com/en/rest/orgs/orgs?apiVersion=2022-11-28#get-an-organization
    # `GET /orgs/{org}` answers with one object rather than a list; DpathExtractor with an empty
    # field_path yields that object as a single record, matching `Organizations.parse_response`.
    type: DeclarativeStream
    name: organizations
    primary_key: "id"
    retriever:
      $ref: "#/definitions/organization_scoped_retriever"
      requester:
        $ref: "#/definitions/organization_scoped_requester"
        path: "orgs/{{ stream_partition.organization }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          login:
            description: Login username of the organization.
            type:
              - "null"
              - string
          id:
            description: Unique identifier of the organization.
            type:
              - "null"
              - integer
          node_id:
            description: Node ID of the organization.
            type:
              - "null"
              - string
          url:
            description: URL to the organization's API endpoint.
            type:
              - "null"
              - string
          repos_url:
            description: URL to fetch repositories of the organization.
            type:
              - "null"
              - string
          events_url:
            description: URL to fetch events related to the organization.
            type:
              - "null"
              - string
          hooks_url:
            description: URL to manage webhooks for the organization.
            type:
              - "null"
              - string
          issues_url:
            description: URL to fetch issues related to the organization.
            type:
              - "null"
              - string
          members_url:
            description: URL to fetch members of the organization.
            type:
              - "null"
              - string
          public_members_url:
            description: URL to fetch public members of the organization.
            type:
              - "null"
              - string
          avatar_url:
            description: URL to the avatar image of the organization.
            type:
              - "null"
              - string
          description:
            description: Description of the organization.
            type:
              - "null"
              - string
          name:
            description: Name of the organization.
            type:
              - "null"
              - string
          company:
            description: Name of the company associated with the organization.
            type:
              - "null"
              - string
          blog:
            description: URL to the blog of the organization.
            type:
              - "null"
              - string
          location:
            description: Physical location of the organization.
            type:
              - "null"
              - string
          email:
            description: Email address of the organization.
            type:
              - "null"
              - string
          twitter_username:
            description: Twitter username of the organization.
            type:
              - "null"
              - string
          is_verified:
            description: Indicates if the organization is verified.
            type:
              - "null"
              - boolean
          has_organization_projects:
            description: Indicates if the organization has projects.
            type:
              - "null"
              - boolean
          has_repository_projects:
            description: Indicates if the organization has projects tied to repositories.
            type:
              - "null"
              - boolean
          public_repos:
            description: Number of public repositories owned by the organization.
            type:
              - "null"
              - integer
          public_gists:
            description: Number of public gists created by the organization.
            type:
              - "null"
              - integer
          followers:
            description: Number of followers the organization has.
            type:
              - "null"
              - integer
          following:
            description: Number of accounts the organization is following.
            type:
              - "null"
              - integer
          html_url:
            description: URL to the organization's profile page.
            type:
              - "null"
              - string
          created_at:
            description: Timestamp indicating when the organization was created.
            type: string
            format: date-time
          updated_at:
            description: Timestamp indicating when the organization was last updated.
            type: string
            format: date-time
          archived_at:
            description: Timestamp indicating when the organization was archived.
            type:
              - "null"
              - string
            format: date-time
          type:
            description: Type of the organization.
            type:
              - "null"
              - string
          total_private_repos:
            description: Total number of private repositories owned by the organization.
            type:
              - "null"
              - integer
          owned_private_repos:
            description: Number of private repositories owned by the organization.
            type:
              - "null"
              - integer
          private_gists:
            description: Number of private gists created by the organization.
            type:
              - "null"
              - integer
          disk_usage:
            description: Disk space used by the organization.
            type:
              - "null"
              - integer
          collaborators:
            description: Number of collaborators the organization has.
            type:
              - "null"
              - integer
          billing_email:
            description: Email address associated with the organization's billing.
            type:
              - "null"
              - string
          default_repository_permission:
            description: Default permission level for new repositories.
            type:
              - "null"
              - string
          members_can_create_repositories:
            description: Indicates if members can create repositories.
            type:
              - "null"
              - boolean
          two_factor_requirement_enabled:
            description: Indicates if two-factor authentication is required for the organization.
            type:
              - "null"
              - boolean
          members_allowed_repository_creation_type:
            description: Type of repositories members are allowed to create.
            type:
              - "null"
              - string
          members_can_create_public_repositories:
            description: Indicates if members can create public repositories.
            type:
              - "null"
              - boolean
          members_can_create_private_repositories:
            description: Indicates if members can create private repositories.
            type:
              - "null"
              - boolean
          members_can_create_internal_repositories:
            description: Indicates if members can create internal repositories.
            type:
              - "null"
              - boolean
          members_can_create_pages:
            description: Indicates if members can create pages.
            type:
              - "null"
              - boolean
          members_can_fork_private_repositories:
            description: Indicates if members can fork private repositories.
            type:
              - "null"
              - boolean
          web_commit_signoff_required:
            description: Indicates if web commit signoff is required for the organization.
            type:
              - "null"
              - boolean
          members_can_create_public_pages:
            description: Indicates if members can create public pages.
            type:
              - "null"
              - boolean
          members_can_create_private_pages:
            description: Indicates if members can create private pages.
            type:
              - "null"
              - boolean
          plan:
            description: Information about the subscription plan of the organization.
            type:
              - "null"
              - object
            properties:
              name:
                description: Name of the organization's plan.
                type:
                  - "null"
                  - string
              space:
                description: Space available in the organization's plan.
                type:
                  - "null"
                  - integer
              private_repos:
                description: Number of private repositories allowed in the organization's plan.
                type:
                  - "null"
                  - integer
              filled_seats:
                description: Number of filled seats in the organization's plan.
                type:
                  - "null"
                  - integer
              seats:
                description: Total number of seats in the organization's plan.
                type:
                  - "null"
                  - integer
          advanced_security_enabled_for_new_repositories:
            description: Indicates if advanced security features are enabled for new repositories within the organization.
            type:
              - "null"
              - boolean
          dependabot_alerts_enabled_for_new_repositories:
            description: Indicates if dependabot alerts are enabled for new repositories within the organization.
            type:
              - "null"
              - boolean
          dependabot_security_updates_enabled_for_new_repositories:
            description:
              Indicates if dependabot security updates are enabled for new repositories within the
              organization.
            type:
              - "null"
              - boolean
          dependency_graph_enabled_for_new_repositories:
            description: Indicates if dependency graph is enabled for new repositories within the organization.
            type:
              - "null"
              - boolean
          secret_scanning_enabled_for_new_repositories:
            description: Indicates if secret scanning is enabled for new repositories within the organization.
            type:
              - "null"
              - boolean
          secret_scanning_push_protection_enabled_for_new_repositories:
            description: Indicates if secret scanning push protection is enabled for new repositories.
            type:
              - "null"
              - boolean
          secret_scanning_push_protection_custom_link_enabled:
            description: Indicates if custom link for secret scanning push protection is enabled.
            type:
              - "null"
              - boolean
          secret_scanning_push_protection_custom_link:
            description: Custom link for secret scanning push protection.
            type:
              - "null"
              - string

  teams_stream:
    # API docs: https://docs.github.com/en/rest/teams/teams?apiVersion=2022-11-28#list-teams
    type: DeclarativeStream
    name: teams
    primary_key: "id"
    retriever:
      $ref: "#/definitions/organization_scoped_retriever"
      requester:
        $ref: "#/definitions/organization_scoped_requester"
        path: "orgs/{{ stream_partition.organization }}/teams"
    transformations:
      $ref: "#/definitions/add_organization_transformation"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          organization:
            description: The organization to which the team belongs.
            type:
              - "null"
              - string
          id:
            description: The unique identifier of the team.
            type:
              - "null"
              - integer
          node_id:
            description: The node identifier of the team.
            type:
              - "null"
              - string
          url:
            description: The API URL of the team.
            type:
              - "null"
              - string
          html_url:
            description: The URL of the team on GitHub.
            type:
              - "null"
              - string
          name:
            description: The name of the team.
            type:
              - "null"
              - string
          slug:
            description: The unique URL-friendly name of the team.
            type:
              - "null"
              - string
          description:
            description: The description of the team.
            type:
              - "null"
              - string
          privacy:
            description: The privacy setting of the team.
            type:
              - "null"
              - string
          notification_setting:
            description: The notification setting of the team.
            type:
              - "null"
              - string
          permission:
            description: The permission level of the team.
            type:
              - "null"
              - string
          members_url:
            description: The URL to fetch members of the team.
            type:
              - "null"
              - string
          repositories_url:
            description: The URL to fetch repositories of the team.
            type:
              - "null"
              - string
          parent:
            description: The parent team of the team.
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true

  users_stream:
    # API docs: https://docs.github.com/en/rest/orgs/members?apiVersion=2022-11-28#list-organization-members
    type: DeclarativeStream
    name: users
    primary_key: "id"
    retriever:
      $ref: "#/definitions/organization_scoped_retriever"
      requester:
        $ref: "#/definitions/organization_scoped_requester"
        path: "orgs/{{ stream_partition.organization }}/members"
    transformations:
      $ref: "#/definitions/add_organization_transformation"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type:
          - "null"
          - object
        properties:
          organization:
            description: The organization the user belongs to
            type:
              - "null"
              - string
          login:
            description: The username of the user
            type:
              - "null"
              - string
          id:
            description: The unique identification number of the user
            type:
              - "null"
              - integer
          node_id:
            description: The ID assigned to the user in the GraphQL API
            type:
              - "null"
              - string
          avatar_url:
            description: The URL of the user's avatar image
            type:
              - "null"
              - string
          gravatar_id:
            description: The Gravatar ID associated with the user's email
            type:
              - "null"
              - string
          url:
            description: The user's GitHub API URL
            type:
              - "null"
              - string
          html_url:
            description: The URL of the user's GitHub page
            type:
              - "null"
              - string
          followers_url:
            description: The URL listing the user's followers
            type:
              - "null"
              - string
          following_url:
            description: The URL listing the users being followed by the user
            type:
              - "null"
              - string
          gists_url:
            description: The URL of the user's gists
            type:
              - "null"
              - string
          starred_url:
            description: The URL listing repositories starred by the user
            type:
              - "null"
              - string
          subscriptions_url:
            description: The URL listing repositories the user is subscribed to
            type:
              - "null"
              - string
          organizations_url:
            description: The URL listing organizations the user belongs to
            type:
              - "null"
              - string
          repos_url:
            description: The URL listing repositories owned by the user
            type:
              - "null"
              - string
          events_url:
            description: The URL of the events that the user has been involved in
            type:
              - "null"
              - string
          received_events_url:
            description: The URL of events received by the user
            type:
              - "null"
              - string
          type:
            description: The type of user account (e.g., User or Organization)
            type:
              - "null"
              - string
          site_admin:
            description: Specifies if the user is a GitHub site administrator
            type:
              - "null"
              - boolean

  # --- GraphQL streams ------------------------------------------------------------
  #
  # The GraphQL streams post a parameterized document to `/graphql` and let the paginator
  # inject `variables.first` and `variables.after`. Injecting into `variables` (rather than
  # inlining the values into the query text, as the legacy sgqlc builders did) is what makes
  # `REDUCE_PAGE_SIZE` work: the CDK rebuilds the request body on the retry, so a reduced
  # page size actually reaches GitHub.
  #
  # `combine_mappings` merges nested body_json paths when the values do not collide, so the
  # requester owning `variables.owner`/`variables.name` and the paginator owning
  # `variables.first`/`variables.after` compose without either clobbering the other.

  # GitHub answers 502/504 when a GraphQL query is too expensive to resolve inside its
  # internal deadline — it is a statement about the size of *this* request, not a transient
  # server fault, so retrying the identical query just burns the budget and times out again.
  # The legacy handler (`errors_handlers.GitHubGraphQLErrorHandler`) tried to halve
  # `stream.page_size` and return RETRY, but HttpClient replays the same PreparedRequest and
  # the oversized `first` was already serialized into the body, so the retry never benefited;
  # only a later page saw the smaller size, and any non-502/504 response reset it. This action
  # re-enters the fetch with a smaller `first`, which is the behavior that was intended.
  graphql_reduce_page_size_filter:
    type: HttpResponseFilter
    http_codes: [502, 504]
    action: REDUCE_PAGE_SIZE
    failure_type: transient_error
    error_message: >-
      GitHub could not resolve the GraphQL query within its deadline. Retrying the same page
      with a smaller page size.

  graphql_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
[...]
