@use "scss/variables";
@use "scss/colors";

.container {
  margin-top: variables.$spacing-lg;
}

.enrollLink {
  text-decoration: underline;

  &:hover,
  &:active {
    color: colors.$blue;
  }
}

.freeText {
  color: colors.$blue;
}
