@use "scss/variables";
@use "scss/colors";

.container {
  margin: variables.$spacing-lg 0;
  padding: variables.$spacing-xl;
  width: 100%;
  background-image: url("./longtail-connectors.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: -50px;
}

.title {
  text-transform: uppercase;
}

.flexRow {
  width: 100%;
  padding-left: 100px;
}

.textContainer {
  p,
  h3 {
    color: colors.$white;
  }
}
