version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - assignments

definitions:
  streams:
    assignments:
      type: DeclarativeStream
      name: assignments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: assignments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - assignments
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/assignments"
    checklist_items:
      type: DeclarativeStream
      name: checklist_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: checklist_items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - checklist_items
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/checklist_items"
    circles:
      type: DeclarativeStream
      name: circles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: circles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - circles
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/circles"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - custom_fields
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    metrics:
      type: DeclarativeStream
      name: metrics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: metrics
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - metrics
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics"
    people:
      type: DeclarativeStream
      name: people
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: people
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - people
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/people"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - roles
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
  base_requester:
    type: HttpRequester
    url_base: https://api.glassfrog.com/api/v3/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        field_name: X-Auth-Token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/assignments"
  - $ref: "#/definitions/streams/checklist_items"
  - $ref: "#/definitions/streams/circles"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/metrics"
  - $ref: "#/definitions/streams/people"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/roles"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: API key provided by Glassfrog
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    assignments: false
    checklist_items: false
    circles: false
    custom_fields: false
    metrics: false
    people: false
    projects: false
    roles: false

schemas:
  assignments:
    type: object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      election:
        type:
          - "null"
          - string
        default: null
        description: The election status of the assignment.
      exclude_from_meetings:
        type: boolean
        default: false
        description: Specifies if the assignment should be excluded from meetings.
      focus:
        type:
          - "null"
          - string
        description: The focus of the assignment.
      id:
        type: integer
        default: 0
        description: The unique identifier of the assignment.
      links:
        type: object
        default: {}
        description: The related links associated with the assignment.
        properties:
          person:
            type:
              - "null"
              - integer
            default: null
            description: Link to the person assigned to the role.
          role:
            type:
              - "null"
              - integer
            default: null
            description: Link to the role assigned as part of the assignment.
  checklist_items:
    type: object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      description:
        type: string
        description: The description of the checklist item.
      frequency:
        type: string
        description: The frequency at which the checklist item needs to be completed.
      global:
        type: boolean
        default: false
        description: Indicates if the checklist item is global across all circles.
      id:
        type: integer
        default: 0
        description: The unique identifier of the checklist item.
      link:
        type: string
        description: A link related to the checklist item.
      links:
        type: object
        default: {}
        description: Additional links related to the checklist item.
        properties:
          circle:
            type:
              - "null"
              - integer
            default: null
            description: The circle associated with the checklist item.
          role:
            type:
              - "null"
              - integer
            default: null
            description: The role associated with the checklist item.
  circles:
    type: object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      id:
        type: integer
        default: 0
        description: The unique identifier of the circle
      links:
        type: object
        default: {}
        description: Various links associated with the circle
        properties:
          domain:
            type: array
            default: []
            description: Link to the domain associated with the circle
            items:
              type: integer
              default: 0
          policies:
            type: array
            default: []
            description: Link to the policies related to the circle
            items:
              type: integer
              default: 0
          roles:
            type: array
            default: []
            description: Link to the roles within the circle
            items:
              type: integer
          supported_role:
            type: integer
            default: 0
            description: Supporting role within the circle
      name:
        type: string
        description: The name of the circle
      organization_id:
        type: integer
        default: 0
        description: The identifier of the organization to which the circle belongs
      short_name:
        type: string
        description: The short name or abbreviation of the circle
      strategy:
        type:
          - "null"
          - string
        default: null
        description: The strategy or purpose behind the formation of the circle
  custom_fields:
    type: object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      field_name:
        type: string
        description: The name of the custom field.
      field_value:
        type: string
        description: The value associated with the custom field.
      id:
        type: integer
        default: 0
        description: The unique identifier for the custom field entry.
      links:
        type: object
        default: {}
        description: Additional links associated with the custom field entry.
        properties:
          role:
            type:
              - "null"
              - integer
            default: null
            description: The role associated with the custom field entry.
  metrics:
    type: object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      description:
        type: string
        description: Description of the metric data
      frequency:
        type: string
        description: The frequency at which the metric is recorded (e.g., daily, weekly)
      global:
        type: boolean
        default: false
        description: >-
          Indicates whether the metric data is global or specific to a
          particular entity
      id:
        type: integer
        default: 0
        description: Unique identifier for the metric data
      link:
        type: string
        description: Related link for more information about the metric
      links:
        type: object
        default: {}
        description: Additional related links
        properties:
          circle:
            type:
              - "null"
              - integer
            default: null
            description: Link to the circle associated with the metric
          role:
            type:
              - "null"
              - integer
            default: null
            description: Link to the role associated with the metric
  people:
    type: object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      email:
        type:
          - "null"
          - string
        description: The email address of the person.
      external_id:
        type:
          - "null"
          - integer
        description: The unique external identifier of the person.
      id:
        type:
          - "null"
          - integer
        description: The unique identifier of the person.
      links:
        type:
          - "null"
          - object
        description: Links related to the person.
        properties:
          circles:
            type:
              - "null"
              - array
            description: List of circles the person is part of.
            items:
              type:
                - "null"
                - integer
          organization_ids:
            type:
              - "null"
              - array
            description: List of organization IDs associated with the person.
            items:
              type:
                - "null"
                - integer
      name:
        type:
          - "null"
          - string
        description: The name of the person.
      settings:
        type:
          - "null"
          - object
        description: Settings or preferences of the person.
      tag_names:
        type:
          - "null"
          - array
        description: List of tag names associated with the person.
        items:
          type:
            - "null"
            - string
  projects:
    type: object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      type:
        type: string
        description: The type or category of the project.
      archived_at:
        type:
          - "null"
          - string
        default: null
        description: The date and time when the project was archived.
        format: date-time
      created_at:
        type: string
        description: The date and time when the project was created.
        format: date-time
      description:
        type: string
        description: A brief description of the project.
      effort:
        type:
          - "null"
          - integer
        default: null
        description: The effort or resources required for the project.
      id:
        type: integer
        default: 0
        description: The unique identifier of the project.
      link:
        type:
          - "null"
          - string
        default: null
        description: A link associated with the project.
      links:
        type: object
        default: {}
        description: Links to other related entities.
        properties:
          circle:
            type:
              - "null"
              - integer
            default: null
            description: Link to the circle associated with the project.
          person:
            type:
              - "null"
              - integer
            default: null
            description: Link to the person associated with the project.
          role:
            type:
              - "null"
              - integer
            default: null
            description: Link to the role associated with the project.
      private_to_circle:
        type: boolean
        default: false
        description: Indicates if the project is private to the circle.
      roi:
        type:
          - "null"
          - number
        default: null
        description: Return on investment (ROI) for the project.
      status:
        type: string
        description: The current status of the project.
      value:
        type:
          - "null"
          - integer
        default: null
        description: The estimated value or impact of the project.
      waiting_on_what:
        type:
          - "null"
          - string
        default: null
        description: Specifies what the project is waiting on.
      waiting_on_who:
        type:
          - "null"
          - string
        default: null
        description: Specifies who the project is waiting on.
  roles:
    type: object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      elected_until:
        type:
          - "null"
          - string
        default: null
        description: Date until the role is elected for
        format: date
      id:
        type: integer
        default: 0
        description: Unique identifier for the role
      is_core:
        type: boolean
        default: false
        description: Flag indicating if the role is a core role within the circle
      links:
        type: object
        default: {}
        description: Related links for the role
        properties:
          accountabilities:
            type: array
            default: []
            description: List of accountabilities associated with the role
            items:
              type:
                - "null"
                - integer
              default: null
          circle:
            type:
              - "null"
              - integer
            default: null
            description: Circle to which the role belongs
          domains:
            type: array
            default: []
            description: List of domains in which the role operates
            items:
              type:
                - "null"
                - integer
              default: null
          people:
            type: array
            default: []
            description: List of people assigned to the role
            items:
              type:
                - "null"
                - integer
              default: null
          supporting_circle:
            type:
              - "null"
              - integer
            default: null
            description: Supporting circle for the role if applicable
      name:
        type: string
        description: Name of the role
      name_with_circle_for_core_roles:
        type: string
        description: Combination of role name and circle name for core roles
      organization_id:
        type: integer
        default: 0
        description: Unique identifier for the organization
      purpose:
        type: string
        description: Purpose or objective of the role
      tag_names:
        type: array
        default: []
        description: List of tags associated with the role
        items:
          type: string
