version: 6.1.0

type: DeclarativeSource

description: >-
  The Airbyte connector for Spotler CRM enables seamless data integration,
  allowing users to sync customer data from Spotler CRM into their data
  warehouses or other tools. It supports automated data extraction from Spotler
  CRM, making it easier to analyze and leverage customer insights across
  multiple platforms. With this connector, businesses can efficiently streamline
  their customer relationship data and maintain up-to-date records for improved
  decision-making and marketing efforts.

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - record
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - record
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    opportunities:
      type: DeclarativeStream
      name: opportunities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /opportunities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - record
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunities"
  base_requester:
    type: HttpRequester
    url_base: https://apiv4.reallysimplesystems.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"access_token\"] }}"

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/opportunities"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
    properties:
      access_token:
        type: string
        description: >-
          Access Token to authenticate API requests. Generate it by logging into
          your CRM system, navigating to Settings / Integrations / API V4, and
          clicking 'generate new key'.
        name: access_token
        order: 0
        title: Access Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: true
    contacts: false
    opportunities: false
  testedStreams:
    accounts:
      streamHash: 8cf6133ee10f23aee5e684db5986a02666b58b5d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: e562a5a2d1577a4ad54079f474cd8c98e11f2b80
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    opportunities:
      streamHash: d5669f9b13a96c33d0db33f603902ef8b1dfc01e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://support.reallysimplesystems.com/api-v4/

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      addresscity:
        type:
          - string
          - "null"
      addresscountry:
        type:
          - string
          - "null"
      addresscounty/state:
        type:
          - string
          - "null"
      addressline:
        type:
          - string
          - "null"
      addresspostcode/zip:
        type:
          - string
          - "null"
      createdby:
        type:
          - number
          - "null"
      createddate:
        type:
          - string
          - "null"
      id:
        type: number
      modifiedby:
        type:
          - number
          - "null"
      modifieddate:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      ownerid:
        type:
          - number
          - "null"
      phone:
        type:
          - string
          - "null"
      sector:
        type:
          - string
          - "null"
      slaid:
        type:
          - number
          - "null"
      source:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
    required:
      - id
  contacts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  opportunities:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
