version: 6.60.5

type: DeclarativeSource

description: |-
  Extract data from Uptick - The new standard in
  fire inspection software.

check:
  type: CheckStream
  stream_names:
    - tasks

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: OAuthAuthenticator
        client_id: '{{ config["client_id"] }}'
        grant_type: password
        client_secret: '{{ config["client_secret"] }}'
        expires_in_name: expires_in
        access_token_name: access_token
        token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
        refresh_request_body:
          username: '{{ config["username"] }}'
          password: '{{ config["password"] }}'
      error_handler:
        type: DefaultErrorHandler
        max_retries: 5
        backoff_strategies:
          - type: WaitTimeFromHeader
            header: Retry-After
      request_headers:
        User-Agent: Airbyte
    SimpleRetriever:
      requester:
        $ref: "#/definitions/linked/HttpRequester"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    DeclarativeStream:
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          field_name: updatedsince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"

streams:
  - type: DeclarativeStream
    name: tasks
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/tasks/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          show_deleted: "true"
          fields[Task]: >-
            id,updated,created,deleted,is_active,inactive_date,due,due_after,pm_date,tolerance_start,tolerance_end,invoiced_date,name,description,scope_of_works,address,coord_lat,coord_lng,access_note,access_window,access_procedure,access_schedule,access_code,internal_note,workorder_url,technician_note,partner_uid,priority,sla_incident_notification_at,sla_due_inprogress,sla_due_inspected,charge_type,notes,invoice_note,estimated_duration,authorisation_name,authorisation_ref,authorisation_date,contractor_note,progress_total,progress_performed,status_changed_inprogress,status_changed_inspected,status_changed_complete,scheduled_at,app_link,timezone,callout,extra_fields,category,servicegroup,client,property,billingcard,assigned_to,assigned_office,technician,round,branch,costcentre,parent_task,author,contractor,contractor_assigned_technician,contractor_authorisation_limit,updated_by,status,zone,project,sla,is_editable
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        schema_normalization: Default
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          relationships:
            type:
              - object
              - "null"
            properties:
              callout:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              category:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              servicegroup:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              client:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              property:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              billingcard:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              assigned_to:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              assigned_office:
                type:
                  - object
                  - "null"
                properties: {}
              technician:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              round:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              branch:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              costcentre:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              parent_task:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              author:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              contractor:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              contractor_assigned_technician:
                type:
                  - object
                  - "null"
                properties: {}
              updated_by:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              status:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              zone:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              project:
                type:
                  - object
                  - "null"
                properties: {}
              sla:
                type:
                  - object
                  - "null"
                properties: {}
          ref:
            type:
              - string
              - "null"

          created:
            type:
              - string
              - "null"
          updated:
            type: string
          is_active:
            type:
              - boolean
              - "null"
          extra_fields:
            type:
              - object
              - "null"
          due:
            type:
              - string
              - "null"
          pm_date:
            type:
              - string
              - "null"
          tolerance_start:
            type:
              - string
              - "null"
          tolerance_end:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          scope_of_works:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          coord_lat:
            type:
              - number
              - "null"
          coord_lng:
            type:
              - number
              - "null"
          access_procedure:
            type:
              - string
              - "null"
          access_schedule:
            type:
              - string
              - "null"
          access_code:
            type:
              - number
              - string
              - "null"
          priority:
            type:
              - number
              - "null"
          authorisation_amount:
            type:
              - string
              - "null"
          app_link:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          contractor_authorisation_limit:
            type:
              - number
              - "null"

          is_editable:
            type:
              - boolean
              - "null"
          category_id:
            type:
              - number
              - "null"
          servicegroup_id:
            type:
              - number
              - string
              - "null"
          client_id:
            type:
              - number
              - "null"
          property_id:
            type:
              - number
              - string
              - "null"
          billingcard_id:
            type:
              - number
              - string
              - "null"
          assigned_to_id:
            type:
              - number
              - string
              - "null"
          costcentre_id:
            type:
              - string
              - "null"
          author_id:
            type:
              - number
              - string
              - "null"
          updated_by_id:
            type:
              - number
              - "null"
          status_id:
            type:
              - string
              - "null"
        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - ref
            value: "{{ record['attributes']['ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: "{{ record['attributes']['extra_fields'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_active
            value: "{{ record['attributes']['is_active'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - due
            value: "{{ record['attributes']['due'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - pm_date
            value: "{{ record['attributes']['pm_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tolerance_start
            value: "{{ record['attributes']['tolerance_start'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tolerance_end
            value: "{{ record['attributes']['tolerance_end'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record['attributes']['name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - description
            value: "{{ record['attributes']['description'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - scope_of_works
            value: "{{ record['attributes']['scope_of_works'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address
            value: "{{ record['attributes']['address'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - coord_lat
            value: "{{ record['attributes']['coord_lat'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - coord_lng
            value: "{{ record['attributes']['coord_lng'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - access_procedure
            value: "{{ record['attributes']['access_procedure'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - access_schedule
            value: "{{ record['attributes']['access_schedule'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - access_code
            value: "{{ record['attributes']['access_code'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - priority
            value: "{{ record['attributes']['priority'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - authorisation_amount
            value: "{{ record['attributes']['authorisation_amount'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_link
            value: "{{ record['attributes']['app_link'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - timezone
            value: "{{ record['attributes']['timezone'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contractor_authorisation_limit
            value: "{{ record['attributes']['contractor_authorisation_limit'] }}"

      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_editable
            value: "{{ record['attributes']['is_editable'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - category_id
            value: "{{ record['relationships']['category']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - servicegroup_id
            value: "{{ record['relationships']['servicegroup']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - client_id
            value: "{{ record['relationships']['client']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - property_id
            value: "{{ record['relationships']['property']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billingcard_id
            value: "{{ record['relationships']['billingcard']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - assigned_to_id
            value: "{{ record['relationships']['assigned_to']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - costcentre_id
            value: "{{ record['relationships']['costcentre']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - author_id
            value: "{{ record['relationships']['author']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated_by_id
            value: "{{ record['relationships']['updated_by']['data']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status_id
            value: "{{ record['relationships']['status']['data']['id'] }}"
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: taskcategories
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/taskcategories/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          fields[TaskCategory]: id,name,description
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
        required:
          - id
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
      - type: RemoveFields
        field_pointers:
          - - attributes
  - type: DeclarativeStream
    name: clients
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/clients/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          fields[Client]: >-
            created,updated,ref,name,is_active,contact_name,contact_organisation,contact_mobile,contact_phone_bh,contact_phone_ah,contact_email,contact_email_cc,contact_address,autocomp_label,business_hours,report_requirements,report_attention,report_email_to,report_email_cc,report_manual,billing_organisation,billing_requirements,billing_attention,billing_email_to,billing_email_cc,billing_manual,billing_address,billing_fixedprice,quoting_autoreminders_enabled,quoting_requirements,notes,address,material_markup,extra_fields,primary_contact__email,sector,account,primary_contact,account_manager,billingcard,clientgroup,pricetier
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          relationships:
            type:
              - object
              - "null"
            properties:
              account:
                type:
                  - object
                  - "null"
                properties: {}
              primary_contact:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              account_manager:
                type:
                  - object
                  - "null"
                properties: {}
              billingcard:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
              clientgroup:
                type:
                  - object
                  - "null"
                properties: {}
              pricetier:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"

          created:
            type:
              - string
              - "null"
          updated:
            type: string
          ref:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          contact_name:
            type:
              - string
              - "null"
          contact_organisation:
            type:
              - string
              - "null"
          contact_mobile:
            type:
              - number
              - string
              - "null"
          contact_phone_bh:
            type:
              - string
              - "null"
          contact_phone_ah:
            type:
              - string
              - "null"
          contact_email:
            type:
              - string
              - "null"
          contact_email_cc:
            type:
              - string
              - "null"
          contact_address:
            type:
              - string
              - "null"
          autocomp_label:
            type:
              - string
              - "null"
          report_requirements:
            type:
              - string
              - "null"
          report_attention:
            type:
              - string
              - "null"
          report_email_to:
            type:
              - string
              - "null"
          report_email_cc:
            type:
              - string
              - "null"
          report_manual:
            type:
              - boolean
              - "null"
          billing_organisation:
            type:
              - string
              - "null"
          billing_requirements:
            type:
              - string
              - "null"
          billing_attention:
            type:
              - string
              - "null"
          billing_email_to:
            type:
              - string
              - "null"
          billing_email_cc:
            type:
              - string
              - "null"
          billing_manual:
            type:
              - boolean
              - "null"
          billing_address:
            type:
              - string
              - "null"
          billing_fixedprice:
            type:
              - boolean
              - "null"
          quoting_autoreminders_enabled:
            type:
              - boolean
              - "null"
          quoting_requirements:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          material_markup:
            type:
              - number
              - "null"
          extra_fields:
            type:
              - object
              - "null"
          primary_contact__email:
            type:
              - string
              - "null"
          sector:
            type:
              - string
              - "null"
          primary_contact_id:
            type:
              - number
              - "null"
          billingcard_id:
            type:
              - number
              - "null"
          pricetier_id:
            type:
              - number
              - "null"
        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - ref
            value: "{{ record['attributes']['ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record['attributes']['name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_active
            value: "{{ record['attributes']['is_active'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contact_name
            value: "{{ record['attributes']['contact_name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contact_organisation
            value: "{{ record['attributes']['contact_organisation'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contact_mobile
            value: "{{ record['attributes']['contact_mobile'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contact_phone_bh
            value: "{{ record['attributes']['contact_phone_bh'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contact_phone_ah
            value: "{{ record['attributes']['contact_phone_ah'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contact_email
            value: "{{ record['attributes']['contact_email'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contact_email_cc
            value: "{{ record['attributes']['contact_email_cc'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - contact_address
            value: "{{ record['attributes']['contact_address'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - autocomp_label
            value: "{{ record['attributes']['autocomp_label'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - business_hours
            value: "{{ record['attributes']['business_hours'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_requirements
            value: "{{ record['attributes']['report_requirements'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_attention
            value: "{{ record['attributes']['report_attention'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_email_to
            value: "{{ record['attributes']['report_email_to'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_email_cc
            value: "{{ record['attributes']['report_email_cc'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_manual
            value: "{{ record['attributes']['report_manual'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_organisation
            value: "{{ record['attributes']['billing_organisation'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_requirements
            value: "{{ record['attributes']['billing_requirements'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_attention
            value: "{{ record['attributes']['billing_attention'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_email_to
            value: "{{ record['attributes']['billing_email_to'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_email_cc
            value: "{{ record['attributes']['billing_email_cc'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_manual
            value: "{{ record['attributes']['billing_manual'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_address
            value: "{{ record['attributes']['billing_address'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_fixedprice
            value: "{{ record['attributes']['billing_fixedprice'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - quoting_autoreminders_enabled
            value: "{{ record['attributes']['quoting_autoreminders_enabled'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - quoting_requirements
            value: "{{ record['attributes']['quoting_requirements'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - notes
            value: "{{ record['attributes']['notes'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address
            value: "{{ record['attributes']['address'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - material_markup
            value: "{{ record['attributes']['material_markup'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: "{{ record['attributes']['extra_fields'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - primary_contact__email
            value: "{{ record['attributes']['primary_contact__email'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - sector
            value: "{{ record['attributes']['sector'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - primary_contact_id
            value: >-
              {{ record['relationships']['primary_contact']['data']['id'] if
              record['relationships']['primary_contact']['data'] else none }}
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - account_id
            value: >-
              {{ record['relationships']['account']['data']['id'] if
              record['relationships']['account']['data'] else none }}
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - account_manager_id
            value: >-
              {{ record['relationships']['account_manager']['data']['id'] if
              record['relationships']['account_manager']['data'] else none }}
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billingcard_id
            value: >-
              {{ record['relationships']['billingcard']['data']['id'] if
              record['relationships']['billingcard']['data'] else none }}
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - clientgroup_id
            value: >-
              {{ record['relationships']['clientgroup']['data']['id'] if
              record['relationships']['clientgroup']['data'] else none }}
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - pricetier_id
            value: >-
              {{ record['relationships']['pricetier']['data']['id'] if
              record['relationships']['pricetier']['data'] else none }}
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: clientgroups
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/clientgroups/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          fields[ClientGroup]: id,created,is_active,name,partner_uid,ref,sector,updated
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          sector:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          updated:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          relationships:
            type:
              - object
              - "null"
            properties:
              parent_clientgroup:
                type:
                  - object
                  - "null"
                properties:
                  data:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_active
            value: "{{ record['attributes']['is_active'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record['attributes']['name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - sector
            value: "{{ record['attributes']['sector'] }}"
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: properties
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/properties/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          show_deleted: "true"
          fields[Property]: >-
            id,access_code,access_inductionreq,access_logbookreq,access_note,access_procedure,access_schedule,access_signaturereq,address,agm_date,authorisation_ref,autocomp_label,billing_manual,billing_requirements,bsecure_latest_sticker_guid,bsecure_resolved_guid,building_classes,building_construction_class,building_era,building_part,building_size,building_sizesqm,building_stories_above_ground,building_stories_below_ground,building_tenancies,building_type,certification_date,client_ref,client_signature_required,cofo_date,cofo_location,cofo_number,coords,created,extra_fields,inactive_date,internal_note,is_compliant,local_government_area,name,ocsp_number,organisation,ref,report_manual,report_requirements,restricted_access_hours,review_date,round_number,safety_requirements,service_requirements,status,timezone,updated,extra_fields
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string

          created:
            type:
              - string
              - "null"
          updated:
            type: string
          address_country:
            type:
              - string
              - "null"
          address_display:
            type:
              - string
              - "null"
          address_streetline:
            type:
              - string
              - "null"
          address_city:
            type:
              - string
              - "null"
          address_state:
            type:
              - string
              - "null"
          address_country_name:
            type:
              - string
              - "null"
          address_postal_code:
            type:
              - number
              - string
              - "null"
          address_place_id:
            type:
              - string
              - "null"
          coords_lat:
            type:
              - number
              - string
              - "null"
          coords_lng:
            type:
              - number
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          access_inductionreq:
            type:
              - boolean
              - "null"
          access_logbookreq:
            type:
              - boolean
              - "null"
          access_schedule:
            type:
              - string
              - "null"
          access_signaturereq:
            type:
              - boolean
              - "null"
          autocomp_label:
            type:
              - string
              - "null"
          billing_manual:
            type:
              - boolean
              - "null"
          building_tenancies:
            type:
              - number
              - "null"
          client_signature_required:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          ref:
            type:
              - string
              - "null"
          report_manual:
            type:
              - boolean
              - "null"
          status:
            type:
              - string
              - "null"
          bsecure_resolved_guid:
            type:
              - string
              - "null"
          extra_fields:
            type:
              - object
              - "null"
        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address_country
            value: "{{ record['attributes']['address']['country'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address_display
            value: "{{ record['attributes']['address']['display'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address_streetline
            value: "{{ record['attributes']['address']['streetline'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address_city
            value: "{{ record['attributes']['address']['city'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address_state
            value: "{{ record['attributes']['address']['state'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address_country_name
            value: "{{ record['attributes']['address']['country_name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address_postal_code
            value: "{{ record['attributes']['address']['postal_code'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - address_place_id
            value: "{{ record['attributes']['address']['place_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - coords_lat
            value: "{{ record['attributes']['coords']['lat'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - coords_lng
            value: "{{ record['attributes']['coords']['lng'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - timezone
            value: "{{ record['attributes']['timezone'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - access_inductionreq
            value: "{{ record['attributes']['access_inductionreq'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - access_logbookreq
            value: "{{ record['attributes']['access_logbookreq'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - access_schedule
            value: "{{ record['attributes']['access_schedule'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - access_signaturereq
            value: "{{ record['attributes']['access_signaturereq'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - autocomp_label
            value: "{{ record['attributes']['autocomp_label'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billing_manual
            value: "{{ record['attributes']['billing_manual'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - building_tenancies
            value: "{{ record['attributes']['building_tenancies'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - client_signature_required
            value: "{{ record['attributes']['client_signature_required'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record['attributes']['name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - ref
            value: "{{ record['attributes']['ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_manual
            value: "{{ record['attributes']['report_manual'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status
            value: "{{ record['attributes']['status'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - bsecure_resolved_guid
            value: "{{ record['attributes']['bsecure_resolved_guid'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: "{{ record['attributes']['extra_fields'] }}"
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: invoices
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/invoices/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          show_deleted: "true"
          fields[Invoice]: >-
            id,authorisation_ref,created,currency,date,description,due_date,extra_fields,fx_rate,gst,is_creditable,is_overdue,is_sent,number,partner_online_payment_url,partner_push_bgtask_uid,partner_uid,ref,status,subtotal,synced,total,updated
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          authorisation_ref:
            type:
              - number
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          due_date:
            type:
              - string
              - "null"
          extra_fields:
            type:
              - object
              - "null"
            properties:
              project_invoice_type:
                type:
                  - string
                  - "null"
          gst:
            type:
              - number
              - "null"
          is_overdue:
            type:
              - boolean
              - "null"
          is_sent:
            type:
              - boolean
              - "null"
          number:
            type:
              - string
              - "null"
          partner_uid:
            type:
              - string
              - "null"
          ref:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          subtotal:
            type:
              - number
              - "null"
          synced:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          updated:
            type: string
        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - authorisation_ref
            value: "{{ record['attributes']['authorisation_ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - currency
            value: "{{ record['attributes']['currency'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - date
            value: "{{ record['attributes']['date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - description
            value: "{{ record['attributes']['description'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - due_date
            value: "{{ record['attributes']['due_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: "{{ record['attributes']['extra_fields'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - gst
            value: "{{ record['attributes']['gst'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_overdue
            value: "{{ record['attributes']['is_overdue'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_sent
            value: "{{ record['attributes']['is_sent'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - number
            value: "{{ record['attributes']['number'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - partner_uid
            value: "{{ record['attributes']['partner_uid'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - ref
            value: "{{ record['attributes']['ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status
            value: "{{ record['attributes']['status'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - subtotal
            value: "{{ record['attributes']['subtotal'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - synced
            value: "{{ record['attributes']['synced'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - total
            value: "{{ record['attributes']['total'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: projects
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/projects/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          fields[Project]: >-
            id,actual_completion_date,actual_start_date,category,created,description,expected_completion_date,expected_start_date,extra_fields,final_rebate_rate,is_active,name,order_no,ref,retention_date,retention_rate,scope_of_works,status,updated
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          created:
            type:
              - string
              - "null"
          updated:
            type: string
          status:
            type:
              - string
              - "null"
          ref:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          category:
            type:
              - string
              - "null"
          scope_of_works:
            type:
              - string
              - "null"
          retention_rate:
            type:
              - number
              - "null"
          final_rebate_rate:
            type:
              - number
              - "null"
          expected_start_date:
            type:
              - string
              - "null"
          expected_completion_date:
            type:
              - string
              - "null"
          actual_start_date:
            type:
              - string
              - "null"
          retention_date:
            type:
              - string
              - "null"

        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status
            value: "{{ record['attributes']['status'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - ref
            value: "{{ record['attributes']['ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record['attributes']['name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_active
            value: "{{ record['attributes']['is_active'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - category
            value: "{{ record['attributes']['category'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - scope_of_works
            value: "{{ record['attributes']['scope_of_works'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - retention_rate
            value: "{{ record['attributes']['retention_rate'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - final_rebate_rate
            value: "{{ record['attributes']['final_rebate_rate'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - expected_start_date
            value: "{{ record['attributes']['expected_start_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - expected_completion_date
            value: "{{ record['attributes']['expected_completion_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - actual_start_date
            value: "{{ record['attributes']['actual_start_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - retention_date
            value: "{{ record['attributes']['retention_date'] }}"
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: servicequotes
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/servicequotes/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          fields[ServiceQuote]: >-
            id,authorisation_date,authorisation_name,authorisation_note,authorisation_ref,client_contact_address,client_contact_ah,client_contact_bh,client_contact_mobile,client_contact_name,client_name,client_primary_email,created,description,expiry_date,extra_fields,internal_note,product_subtotal,property_access_code,property_access_note,property_access_procedure,property_access_schedule,property_address,property_building_construction_class,property_building_era,property_building_part,property_building_size,property_building_sizesqm,property_building_stories_above_ground,property_building_stories_below_ground,property_name,property_ocsp_number,ref,review_date,scope_of_works,scope_of_works_format,scope_of_works_markdown,sent_attachments,sent_dt,status,status_changed_approved,status_changed_submitted,template,template_name,terms_and_conditions,updated,upload_path,uuid,viewed_via_email_at,viewed_via_link_at
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          created:
            type:
              - string
              - "null"
          updated:
            type: string
          uuid:
            type:
              - string
              - "null"
          ref:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          status_changed_submitted:
            type:
              - string
              - "null"
          status_changed_approved:
            type:
              - string
              - "null"
          expiry_date:
            type:
              - string
              - "null"
          review_date:
            type:
              - string
              - "null"
          template:
            type:
              - string
              - "null"
          template_name:
            type:
              - string
              - "null"
          scope_of_works_format:
            type:
              - string
              - "null"

          upload_path:
            type:
              - string
              - "null"
          property_access_schedule:
            type:
              - string
              - "null"
          authorisation_date:
            type:
              - string
              - "null"
          product_subtotal:
            type:
              - number
              - "null"
        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - uuid
            value: "{{ record['attributes']['uuid'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - ref
            value: "{{ record['attributes']['ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status
            value: "{{ record['attributes']['status'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status_changed_submitted
            value: "{{ record['attributes']['status_changed_submitted'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status_changed_approved
            value: "{{ record['attributes']['status_changed_approved'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - expiry_date
            value: "{{ record['attributes']['expiry_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - review_date
            value: "{{ record['attributes']['review_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - template
            value: "{{ record['attributes']['template'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - template_name
            value: "{{ record['attributes']['template_name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - description
            value: "{{ record['attributes']['description'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - scope_of_works_format
            value: "{{ record['attributes']['scope_of_works_format'] }}"

      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - upload_path
            value: "{{ record['attributes']['upload_path'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - property_access_schedule
            value: "{{ record['attributes']['property_access_schedule'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - authorisation_date
            value: "{{ record['attributes']['authorisation_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - product_subtotal
            value: "{{ record['attributes']['product_subtotal'] }}"
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: defectquotes
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/defectquotes/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          fields[DefectQuote]: >-
            id,authorisation_amount,authorisation_date,authorisation_name,authorisation_note,authorisation_ref,created,date,description,due_date,email_template,expiry_date,extra_fields,internal_note,last_actioned,ref,reminder_email_template,review_date,scope_of_works,sent_attachments,sent_dt,severity,status,status_changed_approved,status_changed_declined,status_changed_submitted,updated,upload_path,uuid,viewed_via_email_at,viewed_via_link_at
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          ref:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          updated:
            type: string
          status:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
          due_date:
            type:
              - string
              - "null"
          expiry_date:
            type:
              - string
              - "null"
          last_actioned:
            type:
              - string
              - "null"
          email_template:
            type:
              - string
              - "null"
          reminder_email_template:
            type:
              - string
              - "null"
          scope_of_works:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
          upload_path:
            type:
              - string
              - "null"

        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - ref
            value: "{{ record['attributes']['ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status
            value: "{{ record['attributes']['status'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - date
            value: "{{ record['attributes']['date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - due_date
            value: "{{ record['attributes']['due_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - expiry_date
            value: "{{ record['attributes']['expiry_date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - last_actioned
            value: "{{ record['attributes']['last_actioned'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - email_template
            value: "{{ record['attributes']['email_template'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - reminder_email_template
            value: "{{ record['attributes']['reminder_email_template'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - description
            value: "{{ record['attributes']['description'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - scope_of_works
            value: "{{ record['attributes']['scope_of_works'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - uuid
            value: "{{ record['attributes']['uuid'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - upload_path
            value: "{{ record['attributes']['upload_path'] }}"

      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: suppliers
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/suppliers/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          fields[Supplier]: >-
            id,abn,accounts_address,accounts_email,accounts_email_cc,accounts_fax,accounts_mobile,accounts_name,accounts_phone_ah,accounts_phone_bh,created,extra_fields,is_active,name,partner_uid,payment_day,payment_terms,purchasing_address,purchasing_email,purchasing_email_cc,purchasing_mobile,purchasing_name,ref,updated
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string

          created:
            type:
              - string
              - "null"
          updated:
            type: string
          is_active:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          partner_uid:
            type:
              - string
              - "null"
          accounts_name:
            type:
              - string
              - "null"
          purchasing_name:
            type:
              - string
              - "null"
        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_active
            value: "{{ record['attributes']['is_active'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record['attributes']['name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - partner_uid
            value: "{{ record['attributes']['partner_uid'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - accounts_name
            value: "{{ record['attributes']['accounts_name'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - purchasing_name
            value: "{{ record['attributes']['purchasing_name'] }}"
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updatedsince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_granularity: ""
      step: ""
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: purchaseorders
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      requester:
        type: HttpRequester
        url: "{{ config['base_url'] }}/api/v2.14/purchaseorders/"
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["client_id"] }}'
          grant_type: password
          client_secret: '{{ config["client_secret"] }}'
          expires_in_name: expires_in
          access_token_name: access_token
          token_refresh_endpoint: "{{ config['base_url'] }}/api/oauth2/token/"
          refresh_request_body:
            username: '{{ config["username"] }}'
            password: '{{ config["password"] }}'
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        request_headers:
          User-Agent: Airbyte
        request_parameters:
          ordering: "-updated"
          fields[PurchaseOrder]: >-
            id,all_goods_received,created,created_via,currency,date,delivery_instructions,description,display_type,estimated_delivery_date,extra_fields,fx_rate,get_email_display,get_partner_name,has_manually_added_costs,has_no_dockets,is_editable,is_pdf_downloadable,partner_uid,ref,status,supplier_ref,total,type,updated
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          created:
            type:
              - string
              - "null"
          updated:
            type: string
          ref:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          all_goods_received:
            type:
              - boolean
              - "null"
          date:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          supplier_ref:
            type:
              - string
              - "null"
          is_editable:
            type:
              - boolean
              - "null"

          created_via:
            type:
              - string
              - "null"
          has_manually_added_costs:
            type:
              - boolean
              - "null"
          currency:
            type:
              - string
              - "null"
          fx_rate:
            type:
              - number
              - "null"
        required:
          - id
          - updated
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record['attributes']['created'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record['attributes']['updated'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - ref
            value: "{{ record['attributes']['ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - type
            value: "{{ record['attributes']['type'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - status
            value: "{{ record['attributes']['status'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - all_goods_received
            value: "{{ record['attributes']['all_goods_received'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - date
            value: "{{ record['attributes']['date'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - total
            value: "{{ record['attributes']['total'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - supplier_ref
            value: "{{ record['attributes']['supplier_ref'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - is_editable
            value: "{{ record['attributes']['is_editable'] }}"

      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - created_via
            value: "{{ record['attributes']['created_via'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - has_manually_added_costs
            value: "{{ record['attributes']['has_manually_added_costs'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - currency
            value: "{{ record['attributes']['currency'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - fx_rate
            value: "{{ record['attributes']['fx_rate'] }}"
      - type: RemoveFields
        field_pointers:
          - - attributes
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: ""
      datetime_format: "%Y-%m-%d"
[...]
