---
version: 6.60.5
type: DeclarativeSource
description: Extract data from Uptick (field service management software).
check:
  type: CheckStream
  stream_names:
    - tasks
definitions:
  linked:
    HttpRequester:
      authenticator:
        type: OAuthAuthenticator
        client_id: '{{ config["client_id"] }}'
        grant_type: password
        client_secret: '{{ config["client_secret"] }}'
        expires_in_name: expires_in
        access_token_name: access_token
        token_refresh_endpoint: '{{ config["base_url"] }}/api/oauth2/token/'
        refresh_request_body:
          username: '{{ config["username"] }}'
          password: '{{ config["password"] }}'
      error_handler:
        type: DefaultErrorHandler
        max_retries: 5
        backoff_strategies:
          - type: WaitTimeFromHeader
            header: Retry-After
      request_headers:
        User-Agent: Airbyte (Connector Version 1.1.0)
    SimpleRetriever:
      requester:
        $ref: "#/definitions/linked/HttpRequester"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    DeclarativeStream:
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        start_datetime:
          type: MinMaxDatetime
          datetime: "2000-01-01T00:00:00.000000Z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_time_option:
          type: RequestOption
          field_name: updatedsince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
    BaseSimpleRetriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: OVERRIDE_ME
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
        request_parameters: {}
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        schema_normalization: Default
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - base_url
      - client_id
      - client_secret
      - username
      - password
    properties:
      base_url:
        type: string
        description: eg. https://demo-fire.onuptick.com (no trailing slash)
        order: 0
        title: Base Url
      client_id:
        type: string
        order: 1
        title: OAuth Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 2
        title: OAuth Client Secret
        airbyte_secret: true
      username:
        type: string
        order: 3
        title: Uptick API Account Email
      password:
        type: string
        order: 4
        title: Uptick API Account Password
        airbyte_secret: true
    additionalProperties: true
streams:
  - type: DeclarativeStream
    name: tasks
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/tasks/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Task]: id,created,updated,deleted,ref,description,is_active,inactive_date,extra_fields,due,due_after,pm_date,tolerance_start,tolerance_end,invoiced_date,name,scope_of_works,address,coord_lat,coord_lng,access_note,access_window,access_procedure,access_schedule,access_code,internal_note,workorder_url,technician_note,partner_uid,priority,sla_incident_notification_at,sla_due_inprogress,sla_due_inspected,charge_type,notes,invoice_note,estimated_duration,authorisation_name,authorisation_note,authorisation_ref,authorisation_amount,authorisation_date,contractor_note,status_changed_inprogress,status_changed_inspected,status_changed_complete,app_link,timezone,bulk_email_last_sent_at,contractor_authorisation_limit,category,servicegroup,client,property,billingcard,assigned_to,assigned_office,salesperson,technician,round,tags,branch,supporting_technicians,costcentre,parent_task,author,contractor,contractor_assigned_technician,updated_by,status,zone,required_accreditationtypes,project,sla,callout
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          deleted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          ref:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          inactive_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          extra_fields:
            type:
              - object
              - "null"
          due:
            type:
              - string
              - "null"
            format: date
          due_after:
            type:
              - string
              - "null"
            format: date
          pm_date:
            type:
              - string
              - "null"
            format: date
          tolerance_start:
            type:
              - string
              - "null"
            format: date
          tolerance_end:
            type:
              - string
              - "null"
            format: date
          invoiced_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
              - "null"
          scope_of_works:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          coord_lat:
            type:
              - number
              - "null"
          coord_lng:
            type:
              - number
              - "null"
          access_note:
            type:
              - string
              - "null"
          access_window:
            type:
              - string
              - "null"
          access_procedure:
            type:
              - string
              - "null"
          access_schedule:
            type:
              - string
              - "null"
          access_code:
            type:
              - string
              - "null"
          internal_note:
            type:
              - string
              - "null"
          workorder_url:
            type:
              - string
              - "null"
            format: uri
          technician_note:
            type:
              - string
              - "null"
          partner_uid:
            type:
              - string
              - "null"
          priority:
            type:
              - integer
              - "null"
          sla_incident_notification_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          sla_due_inprogress:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          sla_due_inspected:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          charge_type:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          invoice_note:
            type:
              - string
              - "null"
          estimated_duration:
            type:
              - string
              - "null"
          authorisation_name:
            type:
              - string
              - "null"
          authorisation_note:
            type:
              - string
              - "null"
          authorisation_ref:
            type:
              - string
              - "null"
          authorisation_amount:
            type:
              - string
              - "null"
            airbyte_type: decimal
          authorisation_date:
            type:
              - string
              - "null"
            format: date
          contractor_note:
            type:
              - string
              - "null"
          status_changed_inprogress:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          status_changed_inspected:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          status_changed_complete:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          app_link:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          bulk_email_last_sent_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          contractor_authorisation_limit:
            type:
              - string
              - "null"
            airbyte_type: decimal
          category_id:
            type:
              - integer
              - "null"
          servicegroup_id:
            type:
              - integer
              - "null"
          client_id:
            type:
              - integer
              - "null"
          property_id:
            type:
              - integer
              - "null"
          billingcard_id:
            type:
              - integer
              - "null"
          assigned_to_id:
            type:
              - integer
              - "null"
          assigned_office_id:
            type:
              - integer
              - "null"
          salesperson_id:
            type:
              - integer
              - "null"
          technician_id:
            type:
              - integer
              - "null"
          round_id:
            type:
              - integer
              - "null"
          tags:
            type:
              - array
          branch_id:
            type:
              - integer
              - "null"
          supporting_technicians:
            type:
              - array
          costcentre_id:
            type:
              - integer
              - "null"
          parent_task_id:
            type:
              - integer
              - "null"
          author_id:
            type:
              - integer
              - "null"
          contractor_id:
            type:
              - integer
              - "null"
          contractor_assigned_technician_id:
            type:
              - integer
              - "null"
          updated_by_id:
            type:
              - string
              - "null"
          status_id:
            type:
              - string
              - "null"
          zone_id:
            type:
              - integer
              - "null"
          required_accreditationtypes:
            type:
              - array
          project_id:
            type:
              - integer
              - "null"
          sla_id:
            type:
              - integer
              - "null"
          callout_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - category_id
            value:
              '{{ record["relationships"]["category"]["data"]["id"] if record["relationships"].get("category",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - servicegroup_id
            value:
              '{{ record["relationships"]["servicegroup"]["data"]["id"] if record["relationships"].get("servicegroup",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - client_id
            value:
              '{{ record["relationships"]["client"]["data"]["id"] if record["relationships"].get("client",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - property_id
            value:
              '{{ record["relationships"]["property"]["data"]["id"] if record["relationships"].get("property",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - billingcard_id
            value:
              '{{ record["relationships"]["billingcard"]["data"]["id"] if record["relationships"].get("billingcard",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - assigned_to_id
            value:
              '{{ record["relationships"]["assigned_to"]["data"]["id"] if record["relationships"].get("assigned_to",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - assigned_office_id
            value:
              '{{ record["relationships"]["assigned_office"]["data"]["id"] if record["relationships"].get("assigned_office",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - salesperson_id
            value:
              '{{ record["relationships"]["salesperson"]["data"]["id"] if record["relationships"].get("salesperson",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - technician_id
            value:
              '{{ record["relationships"]["technician"]["data"]["id"] if record["relationships"].get("technician",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - round_id
            value:
              '{{ record["relationships"]["round"]["data"]["id"] if record["relationships"].get("round",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - tags
            value:
              '{{ record["relationships"]["tags"]["data"] if record["relationships"].get("tags")
              else "" }}'
          - type: AddedFieldDefinition
            path:
              - branch_id
            value:
              '{{ record["relationships"]["branch"]["data"]["id"] if record["relationships"].get("branch",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - supporting_technicians
            value:
              '{{ record["relationships"]["supporting_technicians"]["data"] if record["relationships"].get("supporting_technicians")
              else "" }}'
          - type: AddedFieldDefinition
            path:
              - costcentre_id
            value:
              '{{ record["relationships"]["costcentre"]["data"]["id"] if record["relationships"].get("costcentre",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - parent_task_id
            value:
              '{{ record["relationships"]["parent_task"]["data"]["id"] if record["relationships"].get("parent_task",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - author_id
            value:
              '{{ record["relationships"]["author"]["data"]["id"] if record["relationships"].get("author",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - contractor_id
            value:
              '{{ record["relationships"]["contractor"]["data"]["id"] if record["relationships"].get("contractor",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - contractor_assigned_technician_id
            value:
              '{{ record["relationships"]["contractor_assigned_technician"]["data"]["id"]
              if record["relationships"].get("contractor_assigned_technician", {}).get("data")
              else "None" }}'
          - type: AddedFieldDefinition
            path:
              - updated_by_id
            value:
              '{{ record["relationships"]["updated_by"]["data"]["id"] if record["relationships"].get("updated_by",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - status_id
            value:
              '{{ record["relationships"]["status"]["data"]["id"] if record["relationships"].get("status",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - zone_id
            value:
              '{{ record["relationships"]["zone"]["data"]["id"] if record["relationships"].get("zone",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - required_accreditationtypes
            value:
              '{{ record["relationships"]["required_accreditationtypes"]["data"] if
              record["relationships"].get("required_accreditationtypes") else "" }}'
          - type: AddedFieldDefinition
            path:
              - project_id
            value:
              '{{ record["relationships"]["project"]["data"]["id"] if record["relationships"].get("project",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - sla_id
            value:
              '{{ record["relationships"]["sla"]["data"]["id"] if record["relationships"].get("sla",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - callout_id
            value:
              '{{ record["relationships"]["callout"]["data"]["id"] if record["relationships"].get("callout",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: taskcategories
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/taskcategories/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[TaskCategory]: id,name,created,updated
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          name:
            type:
              - string
              - "null"
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: clients
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/clients/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Client]: id,created,updated,ref,name,is_active,contact_name,contact_organisation,contact_mobile,contact_phone_bh,contact_phone_ah,contact_email,contact_email_cc,contact_address,report_requirements,report_attention,report_email_to,report_email_cc,report_manual,billing_organisation,billing_requirements,billing_attention,billing_email_to,billing_email_cc,billing_manual,billing_address,billing_fixedprice,quoting_autoreminders_enabled,quoting_requirements,notes,address,material_markup,extra_fields,sector,billingcard,pricetier,clientgroup,account_manager
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          ref:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          contact_name:
            type:
              - string
              - "null"
          contact_organisation:
            type:
              - string
              - "null"
          contact_mobile:
            type:
              - string
              - "null"
          contact_phone_bh:
            type:
              - string
              - "null"
          contact_phone_ah:
            type:
              - string
              - "null"
          contact_email:
            type:
              - string
              - "null"
            format: email
          contact_email_cc:
            type:
              - string
              - "null"
          contact_address:
            type:
              - string
              - "null"
          report_requirements:
            type:
              - string
              - "null"
          report_attention:
            type:
              - string
              - "null"
          report_email_to:
            type:
              - string
              - "null"
            format: email
          report_email_cc:
            type:
              - string
              - "null"
          report_manual:
            type:
              - boolean
              - "null"
          billing_organisation:
            type:
              - string
              - "null"
          billing_requirements:
            type:
              - string
              - "null"
          billing_attention:
            type:
              - string
              - "null"
          billing_email_to:
            type:
              - string
              - "null"
            format: email
          billing_email_cc:
            type:
              - string
              - "null"
          billing_manual:
            type:
              - boolean
              - "null"
          billing_address:
            type:
              - string
              - "null"
          billing_fixedprice:
            type:
              - boolean
              - "null"
          quoting_autoreminders_enabled:
            type:
              - boolean
              - "null"
          quoting_requirements:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          material_markup:
            type:
              - string
              - "null"
            airbyte_type: decimal
          extra_fields:
            type:
              - object
              - "null"
          sector:
            type:
              - string
              - "null"
          billingcard_id:
            type:
              - integer
              - "null"
          pricetier_id:
            type:
              - integer
              - "null"
          clientgroup_id:
            type:
              - integer
              - "null"
          account_manager_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - billingcard_id
            value:
              '{{ record["relationships"]["billingcard"]["data"]["id"] if record["relationships"].get("billingcard",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - pricetier_id
            value:
              '{{ record["relationships"]["pricetier"]["data"]["id"] if record["relationships"].get("pricetier",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - clientgroup_id
            value:
              '{{ record["relationships"]["clientgroup"]["data"]["id"] if record["relationships"].get("clientgroup",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - account_manager_id
            value:
              '{{ record["relationships"]["account_manager"]["data"]["id"] if record["relationships"].get("account_manager",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: clientgroups
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/clientgroups/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[ClientGroup]: id,created,updated,name,sector,is_active
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
              - "null"
          sector:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: properties
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/properties/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Property]: id,created,updated,address,coords,timezone,access_inductionreq,access_logbookreq,access_schedule,access_signaturereq,billing_manual,building_tenancies,client_signature_required,name,ref,report_manual,status,bsecure_resolved_guid,extra_fields,tags,client,branch,account_manager
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          address:
            type:
              - string
              - "null"
          coords:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          access_inductionreq:
            type:
              - boolean
              - "null"
          access_logbookreq:
            type:
              - boolean
              - "null"
          access_schedule:
            type:
              - string
              - "null"
          access_signaturereq:
            type:
              - boolean
              - "null"
          billing_manual:
            type:
              - boolean
              - "null"
          building_tenancies:
            type:
              - integer
              - "null"
          client_signature_required:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          ref:
            type:
              - string
              - "null"
          report_manual:
            type:
              - boolean
              - "null"
          status:
            type:
              - string
              - "null"
          bsecure_resolved_guid:
            type:
              - string
              - "null"
            format: uuid
          extra_fields:
            type:
              - object
              - "null"
          tags:
            type:
              - array
          client_id:
            type:
              - integer
              - "null"
          branch_id:
            type:
              - integer
              - "null"
          account_manager_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tags
            value:
              '{{ record["relationships"]["tags"]["data"] if record["relationships"].get("tags")
              else "" }}'
          - type: AddedFieldDefinition
            path:
              - client_id
            value:
              '{{ record["relationships"]["client"]["data"]["id"] if record["relationships"].get("client",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - branch_id
            value:
              '{{ record["relationships"]["branch"]["data"]["id"] if record["relationships"].get("branch",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - account_manager_id
            value:
              '{{ record["relationships"]["account_manager"]["data"]["id"] if record["relationships"].get("account_manager",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: invoices
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/invoices/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Invoice]: id,created,updated,description,authorisation_ref,created,currency,date,due_date,extra_fields,gst,is_overdue,is_sent,number,partner_uid,ref,status,subtotal,synced,total,property,task,branch,client
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          description:
            type:
              - string
              - "null"
          authorisation_ref:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
            format: date
          due_date:
            type:
              - string
              - "null"
            format: date
          extra_fields:
            type:
              - object
              - "null"
          gst:
            type:
              - string
              - "null"
            airbyte_type: decimal
          is_overdue:
            type:
              - string
              - "null"
          is_sent:
            type:
              - boolean
              - "null"
          number:
            type:
              - string
              - "null"
          partner_uid:
            type:
              - string
              - "null"
          ref:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          subtotal:
            type:
              - string
              - "null"
            airbyte_type: decimal
          synced:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          total:
            type:
              - string
              - "null"
            airbyte_type: decimal
          property_id:
            type:
              - integer
              - "null"
          task_id:
            type:
              - integer
              - "null"
          branch_id:
            type:
              - integer
              - "null"
          client_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - property_id
            value:
              '{{ record["relationships"]["property"]["data"]["id"] if record["relationships"].get("property",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - task_id
            value:
              '{{ record["relationships"]["task"]["data"]["id"] if record["relationships"].get("task",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - branch_id
            value:
              '{{ record["relationships"]["branch"]["data"]["id"] if record["relationships"].get("branch",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - client_id
            value:
              '{{ record["relationships"]["client"]["data"]["id"] if record["relationships"].get("client",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: projects
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/projects/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Project]: id,created,updated,status,ref,name,is_active,category,scope_of_works,retention_rate,final_rebate_rate,expected_start_date,expected_completion_date,actual_start_date,actual_completion_date,retention_date,order_no,description,extra_fields,branch,costcentre,client,property,billingcard,supervisor,salesperson
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          status:
            type:
              - string
              - "null"
          ref:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          category:
            type:
              - string
              - "null"
          scope_of_works:
            type:
              - string
              - "null"
          retention_rate:
            type:
              - string
              - "null"
            airbyte_type: decimal
          final_rebate_rate:
            type:
              - string
              - "null"
            airbyte_type: decimal
          expected_start_date:
            type:
              - string
              - "null"
            format: date
          expected_completion_date:
            type:
              - string
              - "null"
            format: date
          actual_start_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          actual_completion_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          retention_date:
            type:
              - string
              - "null"
            format: date
          order_no:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          extra_fields:
            type:
              - object
              - "null"
          branch_id:
            type:
              - integer
              - "null"
          costcentre_id:
            type:
              - integer
              - "null"
          client_id:
            type:
              - integer
              - "null"
          property_id:
            type:
              - integer
              - "null"
          billingcard_id:
            type:
              - integer
              - "null"
          supervisor_id:
            type:
              - integer
              - "null"
          salesperson_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - branch_id
            value:
              '{{ record["relationships"]["branch"]["data"]["id"] if record["relationships"].get("branch",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - costcentre_id
            value:
              '{{ record["relationships"]["costcentre"]["data"]["id"] if record["relationships"].get("costcentre",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - client_id
            value:
              '{{ record["relationships"]["client"]["data"]["id"] if record["relationships"].get("client",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - property_id
            value:
              '{{ record["relationships"]["property"]["data"]["id"] if record["relationships"].get("property",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - billingcard_id
            value:
              '{{ record["relationships"]["billingcard"]["data"]["id"] if record["relationships"].get("billingcard",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - supervisor_id
            value:
              '{{ record["relationships"]["supervisor"]["data"]["id"] if record["relationships"].get("supervisor",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - salesperson_id
            value:
              '{{ record["relationships"]["salesperson"]["data"]["id"] if record["relationships"].get("salesperson",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: servicequotes
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/servicequotes/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[ServiceQuote]: id,description,created,updated,uuid,ref,status,status_changed_submitted,status_changed_approved,expiry_date,review_date,template,template_name,scope_of_works_format,upload_path,property_access_schedule,authorisation_date,product_subtotal,author,salesperson,property_branch,property_object,client_object
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          description:
            type:
              - string
              - "null"
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          uuid:
            type:
              - string
              - "null"
            format: uuid
          ref:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          status_changed_submitted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          status_changed_approved:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          expiry_date:
            type:
              - string
              - "null"
            format: date
          review_date:
            type:
              - string
              - "null"
            format: date
          template:
            type:
              - string
              - "null"
          template_name:
            type:
              - string
              - "null"
          scope_of_works_format:
            type:
              - string
              - "null"
          upload_path:
            type:
              - string
              - "null"
          property_access_schedule:
            type:
              - string
              - "null"
          authorisation_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          product_subtotal:
            type:
              - string
              - "null"
          author_id:
            type:
              - integer
              - "null"
          salesperson_id:
            type:
              - integer
              - "null"
          property_branch_id:
            type:
              - integer
              - "null"
          property_object_id:
            type:
              - integer
              - "null"
          client_object_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - author_id
            value:
              '{{ record["relationships"]["author"]["data"]["id"] if record["relationships"].get("author",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - salesperson_id
            value:
              '{{ record["relationships"]["salesperson"]["data"]["id"] if record["relationships"].get("salesperson",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - property_branch_id
            value:
              '{{ record["relationships"]["property_branch"]["data"]["id"] if record["relationships"].get("property_branch",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - property_object_id
            value:
              '{{ record["relationships"]["property_object"]["data"]["id"] if record["relationships"].get("property_object",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - client_object_id
            value:
              '{{ record["relationships"]["client_object"]["data"]["id"] if record["relationships"].get("client_object",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: defectquotes
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/defectquotes/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[DefectQuote]: id,description,ref,created,updated,status,date,due_date,expiry_date,last_actioned,email_template,reminder_email_template,scope_of_works,branch,client,property,author,salesperson,status_changed_submitted,status_changed_approved,servicegroup,authorisation_date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          description:
            type:
              - string
              - "null"
          ref:
            type:
              - string
              - "null"
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          status:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
            format: date
          due_date:
            type:
              - string
              - "null"
            format: date
          expiry_date:
            type:
              - string
              - "null"
            format: date
          last_actioned:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          email_template:
            type:
              - string
              - "null"
          reminder_email_template:
            type:
              - string
              - "null"
          scope_of_works:
            type:
              - string
              - "null"
          branch_id:
            type:
              - integer
              - "null"
          client_id:
            type:
              - integer
              - "null"
          property_id:
            type:
              - integer
              - "null"
          author_id:
            type:
              - integer
              - "null"
          salesperson_id:
            type:
              - integer
              - "null"
          status_changed_submitted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          status_changed_approved:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          servicegroup_id:
            type:
              - integer
              - "null"
          authorisation_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - branch_id
            value:
              '{{ record["relationships"]["branch"]["data"]["id"] if record["relationships"].get("branch",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - client_id
            value:
              '{{ record["relationships"]["client"]["data"]["id"] if record["relationships"].get("client",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - property_id
            value:
              '{{ record["relationships"]["property"]["data"]["id"] if record["relationships"].get("property",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - author_id
            value:
              '{{ record["relationships"]["author"]["data"]["id"] if record["relationships"].get("author",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - salesperson_id
            value:
              '{{ record["relationships"]["salesperson"]["data"]["id"] if record["relationships"].get("salesperson",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - servicegroup_id
            value:
              '{{ record["relationships"]["servicegroup"]["data"]["id"] if record["relationships"].get("servicegroup",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: suppliers
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/suppliers/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Supplier]: id,created,updated,is_active,name,partner_uid,accounts_name,purchasing_name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          is_active:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          partner_uid:
            type:
              - string
              - "null"
          accounts_name:
            type:
              - string
              - "null"
          purchasing_name:
            type:
              - string
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: purchaseorders
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/purchaseorders/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrder]: id,created,updated,ref,status,all_goods_received,date,total,supplier_ref,created_via,has_manually_added_costs,currency,fx_rate,task
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          ref:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          all_goods_received:
            type:
              - boolean
              - "null"
          date:
            type:
              - string
              - "null"
            format: date
          total:
            type:
              - string
              - "null"
          supplier_ref:
            type:
              - string
              - "null"
          created_via:
            type:
              - string
              - "null"
          has_manually_added_costs:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          fx_rate:
            type:
              - string
              - "null"
            airbyte_type: decimal
          task_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - task_id
            value:
              '{{ record["relationships"]["task"]["data"]["id"] if record["relationships"].get("task",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: routines
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/routines/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Routine]: id,created,updated,display_name,due,tolerance_period_start,tolerance_period_end,status,is_processing
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          display_name:
            type:
              - string
              - "null"
          due:
            type:
              - string
              - "null"
            format: date
          tolerance_period_start:
            type:
              - string
              - "null"
            format: date
          tolerance_period_end:
            type:
              - string
              - "null"
            format: date
          status:
            type:
              - string
              - "null"
          is_processing:
            type:
              - boolean
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: billingcards
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/billingcards/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[BillingCard]: id,name,created,updated,is_active
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          name:
            type:
              - string
              - "null"
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          is_active:
            type:
              - boolean
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: purchaseorderbills
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/purchaseorderbills/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrderBill]: id,created,updated,status,invoice_number,invoice_date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          status:
            type:
              - string
              - "null"
          invoice_number:
            type:
              - string
              - "null"
          invoice_date:
            type:
              - string
              - "null"
            format: date
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: purchaseorderdockets
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/purchaseorderdockets/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrderDocket]: id,created,updated,number,date,status
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          number:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
            format: date
          status:
            type:
              - string
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: invoicelineitems
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/invoicelineitems/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[LineItem]: id,invoice,created,updated,description,created,index,account_code,quantity,unit_price,gst,total,taxcode,taxrate
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          invoice_id:
            type:
              - integer
              - "null"
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          description:
            type:
              - string
              - "null"
          index:
            type:
              - integer
              - "null"
          account_code:
            type:
              - string
              - "null"
          quantity:
            type:
              - string
              - "null"
            airbyte_type: decimal
          unit_price:
            type:
              - string
              - "null"
            airbyte_type: decimal
          gst:
            type:
              - string
              - "null"
            airbyte_type: decimal
          total:
            type:
              - string
              - "null"
            airbyte_type: decimal
          taxcode:
            type:
              - string
              - "null"
          taxrate:
            type:
              - string
              - "null"
            airbyte_type: decimal
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - invoice_id
            value:
              '{{ record["relationships"]["invoice"]["data"]["id"] if record["relationships"].get("invoice",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/users/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[User]: id,updated,name,email,partner_uid,date_joined,last_login,last_access,is_active,is_staff,is_superuser,license,addons,rate,sell_rate,extra_fields,purchase_order_approval_limit,defectquote_approval_limit,servicegroup
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
            format: email
          partner_uid:
            type:
              - string
              - "null"
          date_joined:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          last_login:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          last_access:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          is_active:
            type:
              - boolean
              - "null"
          is_staff:
            type:
              - string
              - "null"
          is_superuser:
            type:
              - boolean
              - "null"
          license:
            type:
              - string
              - "null"
          addons:
            type:
              - array
              - "null"
          rate:
            type:
              - string
              - "null"
            airbyte_type: decimal
          sell_rate:
            type:
              - string
              - "null"
            airbyte_type: decimal
          extra_fields:
            type:
              - object
              - "null"
          purchase_order_approval_limit:
            type:
              - string
              - "null"
            airbyte_type: decimal
          defectquote_approval_limit:
            type:
              - string
              - "null"
            airbyte_type: decimal
          servicegroup_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - servicegroup_id
            value:
              '{{ record["relationships"]["servicegroup"]["data"]["id"] if record["relationships"].get("servicegroup",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: servicegroups
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
      is_client_side_incremental: true
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/servicegroups/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[ServiceGroup]: id,created,updated,name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: costcentres
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/costcentres/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[CostCentre]: id,created,updated,name,income_account_code,expense_account_code,is_active,is_default,tracking_categories,branch,taskcategory
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
              - "null"
          income_account_code:
            type:
              - string
              - "null"
          expense_account_code:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          is_default:
            type:
              - boolean
              - "null"
          tracking_categories:
            type:
              - array
              - "null"
            items:
              type: object
          branch_id:
            type:
              - integer
              - "null"
          taskcategory_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - branch_id
            value:
              '{{ record["relationships"]["branch"]["data"]["id"] if record["relationships"].get("branch",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - taskcategory_id
            value:
              '{{ record["relationships"]["taskcategory"]["data"]["id"] if record["relationships"].get("taskcategory",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: purchaseorderlineitems
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/purchaseorderlineitems/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrderLineItem]: id,created,updated,description,unit_price,quantity,subtotal,gst,total,taxcode,taxrate,index,purchaseorder_ref,is_committed,is_incurred,billed_quantity,docketed_quantity,has_dockets,purchaseorder,product
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          description:
            type:
              - string
              - "null"
          unit_price:
            type:
              - string
              - "null"
            airbyte_type: decimal
          quantity:
            type:
              - string
              - "null"
            airbyte_type: decimal
          subtotal:
            type:
              - string
              - "null"
            airbyte_type: decimal
          gst:
            type:
              - string
              - "null"
          total:
            type:
              - string
              - "null"
          taxcode:
            type:
              - string
              - "null"
          taxrate:
            type:
              - string
              - "null"
            airbyte_type: decimal
          index:
            type:
              - integer
              - "null"
          purchaseorder_ref:
            type:
              - string
              - "null"
          is_committed:
            type:
              - string
              - "null"
          is_incurred:
            type:
              - string
              - "null"
          billed_quantity:
            type:
              - string
              - "null"
            airbyte_type: decimal
          docketed_quantity:
            type:
              - string
              - "null"
            airbyte_type: decimal
          has_dockets:
            type:
              - boolean
              - "null"
          purchaseorder_id:
            type:
              - integer
              - "null"
          product_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - purchaseorder_id
            value:
              '{{ record["relationships"]["purchaseorder"]["data"]["id"] if record["relationships"].get("purchaseorder",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - product_id
            value:
              '{{ record["relationships"]["product"]["data"]["id"] if record["relationships"].get("product",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: purchaseorderbilllineitems
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/purchaseorderbilllineitems/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrderBillLineItem]: id,created,updated,description,unit_price,quantity,subtotal,gst,total,taxcode,taxrate,index,account_code,purchaseorderbill,purchaseorderlineitem,product
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          description:
            type:
              - string
              - "null"
          unit_price:
            type:
              - string
              - "null"
            airbyte_type: decimal
          quantity:
            type:
              - string
              - "null"
            airbyte_type: decimal
          subtotal:
            type:
              - string
              - "null"
            airbyte_type: decimal
          gst:
            type:
              - string
              - "null"
          total:
            type:
              - string
              - "null"
          taxcode:
            type:
              - string
              - "null"
          taxrate:
            type:
              - string
              - "null"
            airbyte_type: decimal
          index:
            type:
              - integer
              - "null"
          account_code:
            type:
              - string
              - "null"
          purchaseorderbill_id:
            type:
              - integer
              - "null"
          purchaseorderlineitem_id:
            type:
              - integer
              - "null"
          product_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - purchaseorderbill_id
            value:
              '{{ record["relationships"]["purchaseorderbill"]["data"]["id"] if record["relationships"].get("purchaseorderbill",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - purchaseorderlineitem_id
            value:
              '{{ record["relationships"]["purchaseorderlineitem"]["data"]["id"] if
              record["relationships"].get("purchaseorderlineitem", {}).get("data") else
              "None" }}'
          - type: AddedFieldDefinition
            path:
              - product_id
            value:
              '{{ record["relationships"]["product"]["data"]["id"] if record["relationships"].get("product",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: accreditationtypes
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
      is_client_side_incremental: true
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/accreditationtypes/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[AccreditationType]: id,created,updated,name,type,property_specific,extra_fields
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
              - "null"
          type:
            type:
              - string
              - "null"
          property_specific:
            type:
              - boolean
              - "null"
          extra_fields:
            type:
              - object
              - "null"
    transformations:
      - type: RemoveFields
        field_pointers:
          - - type
      - type: DpathFlattenFields
        field_path:
          - attributes
  - type: DeclarativeStream
    name: accreditations
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/accreditations/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Accreditation]: id,created,updated,status,expiry,number,extra_fields,property,accreditationtype,technician
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          status:
            type:
              - string
              - "null"
          expiry:
            type:
              - string
              - "null"
            format: date
          number:
            type:
              - string
              - "null"
          extra_fields:
            type:
              - object
              - "null"
          property_id:
            type:
              - integer
              - "null"
          accreditationtype_id:
            type:
              - integer
              - "null"
          technician_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - property_id
            value:
              '{{ record["relationships"]["property"]["data"]["id"] if record["relationships"].get("property",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - accreditationtype_id
            value:
              '{{ record["relationships"]["accreditationtype"]["data"]["id"] if record["relationships"].get("accreditationtype",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - technician_id
            value:
              '{{ record["relationships"]["technician"]["data"]["id"] if record["relationships"].get("technician",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: branches
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/branches/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Branch]: id,created,updated,name,code,address,business_hours,email,phone,property_count,user_count,material_markup,extra_fields,subcontracted_task_safety_requirements,subcontracted_task_service_requirements,default_warehouse
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          business_hours:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
            format: email
          phone:
            type:
              - string
              - "null"
          property_count:
            type:
              - integer
              - "null"
          user_count:
            type:
              - integer
              - "null"
          material_markup:
            type:
              - string
              - "null"
            airbyte_type: decimal
          extra_fields:
            type:
              - object
              - "null"
          subcontracted_task_safety_requirements:
            type:
              - string
              - "null"
          subcontracted_task_service_requirements:
            type:
              - string
              - "null"
          default_warehouse_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - default_warehouse_id
            value:
              '{{ record["relationships"]["default_warehouse"]["data"]["id"] if record["relationships"].get("default_warehouse",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: creditnotes
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/creditnotes/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[CreditNote]: id,created,updated,deleted,status,date,subtotal,tax,total,description,number,partner_uid,extra_fields,invoice,lineitems
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          deleted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          status:
            type:
              - string
              - "null"
          date:
            type:
              - string
              - "null"
            format: date
          subtotal:
            type:
              - string
              - "null"
            airbyte_type: decimal
          tax:
            type:
              - string
              - "null"
            airbyte_type: decimal
          total:
            type:
              - string
              - "null"
            airbyte_type: decimal
          description:
            type:
              - string
              - "null"
          number:
            type:
              - string
              - "null"
          partner_uid:
            type:
              - string
              - "null"
          extra_fields:
            type:
              - object
              - "null"
          invoice_id:
            type:
              - integer
              - "null"
          lineitems:
            type:
              - array
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - invoice_id
            value:
              '{{ record["relationships"]["invoice"]["data"]["id"] if record["relationships"].get("invoice",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - lineitems
            value:
              '{{ record["relationships"]["lineitems"]["data"] if record["relationships"].get("lineitems")
              else "" }}'
  - type: DeclarativeStream
    name: creditnotelineitems
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/creditnotelineitems/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[CreditNoteLineItem]: id,created,updated,deleted,account_code,description,unit_price,quantity,subtotal,tax,total,taxcode,taxrate,creditnote,product
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          deleted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          account_code:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          unit_price:
            type:
              - string
              - "null"
            airbyte_type: decimal
          quantity:
            type:
              - string
              - "null"
            airbyte_type: decimal
          subtotal:
            type:
              - string
              - "null"
            airbyte_type: decimal
          tax:
            type:
              - string
              - "null"
            airbyte_type: decimal
          total:
            type:
              - string
              - "null"
            airbyte_type: decimal
          taxcode:
            type:
              - string
              - "null"
          taxrate:
            type:
              - string
              - "null"
            airbyte_type: decimal
          creditnote_id:
            type:
              - integer
              - "null"
          product_id:
            type:
              - integer
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - creditnote_id
            value:
              '{{ record["relationships"]["creditnote"]["data"]["id"] if record["relationships"].get("creditnote",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - product_id
            value:
              '{{ record["relationships"]["product"]["data"]["id"] if record["relationships"].get("product",
              {}).get("data") else "None" }}'
  - type: DeclarativeStream
    name: remarks
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/remarks/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Remark]: id,created,updated,deleted,identified,ref,is_active,inactive_date,severity,notes,description,resolution,location,last_verified_date,is_published,quoted_date,quote_ref,quote_status,type,asset,assigned_contractor,created_by,created_by_contractor,extra_fields,status
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          deleted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          identified:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          ref:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          inactive_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          severity:
            type:
              - integer
              - "null"
          notes:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          resolution:
            type:
              - string
              - "null"
          location:
            type:
              - string
              - "null"
          last_verified_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          is_published:
            type:
              - boolean
              - "null"
          quoted_date:
            type:
              - string
              - "null"
            format: date
          quote_ref:
            type:
              - string
              - "null"
          quote_status:
            type:
              - string
              - "null"
          type_id:
            type:
              - integer
              - "null"
          asset_id:
            type:
              - integer
              - "null"
          assigned_contractor_id:
            type:
              - integer
              - "null"
          created_by_id:
            type:
              - integer
              - "null"
          created_by_contractor_id:
            type:
              - integer
              - "null"
          extra_fields:
            type:
              - object
              - "null"
          status:
            type:
              - string
              - "null"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - attributes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - type_id
            value:
              '{{ record["relationships"]["type"]["data"]["id"] if record["relationships"].get("type",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - asset_id
            value:
              '{{ record["relationships"]["asset"]["data"]["id"] if record["relationships"].get("asset",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - assigned_contractor_id
            value:
              '{{ record["relationships"]["assigned_contractor"]["data"]["id"] if record["relationships"].get("assigned_contractor",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - created_by_id
            value:
              '{{ record["relationships"]["created_by"]["data"]["id"] if record["relationships"].get("created_by",
              {}).get("data") else "None" }}'
          - type: AddedFieldDefinition
            path:
              - created_by_contractor_id
            value:
              '{{ record["relationships"]["created_by_contractor"]["data"]["id"] if
              record["relationships"].get("created_by_contractor", {}).get("data") else
              "None" }}'
  - type: DeclarativeStream
    name: assettypes
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.15/assettypes/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[AssetType]: id,created,updated,deleted,is_active,is_starred,is_esm,name,description,code,icon,standard_maintenance,standard_performance,standard_installation,standard_excerpt,is_lifecycle_enabled,total_nominal_life,category,subcategory,fire_industry_classification,inspection_criteria,sequence_group,sequence_name,is_sequential_ref,asset_count,is_majorservice_applicable,is_component_default,extra_fields,can_bulk_perform_servicetasks,tags,variants,applicable_routines,excluded_routinelevels,default_replacement_product
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          deleted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          is_active:
            type:
[...]
