---
version: 6.60.5
type: DeclarativeSource
description: Extract data from Uptick (field service management software).
check:
  type: CheckStream
  stream_names:
    - tasks
definitions:
  linked:
    HttpRequester:
      authenticator:
        type: OAuthAuthenticator
        client_id: '{{ config["client_id"] }}'
        grant_type: password
        client_secret: '{{ config["client_secret"] }}'
        expires_in_name: expires_in
        access_token_name: access_token
        token_refresh_endpoint: '{{ config["base_url"] }}/api/oauth2/token/'
        refresh_request_body:
          username: '{{ config["username"] }}'
          password: '{{ config["password"] }}'
      error_handler:
        type: DefaultErrorHandler
        max_retries: 5
        backoff_strategies:
          - type: WaitTimeFromHeader
            header: Retry-After
      request_headers:
        User-Agent: Airbyte (Connector Version 0.4.0)
    SimpleRetriever:
      requester:
        $ref: "#/definitions/linked/HttpRequester"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.links.next }}"
          stop_condition: "{{ not response.links.next }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    DeclarativeStream:
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated
        start_datetime:
          type: MinMaxDatetime
          datetime: "2000-01-01T00:00:00.000000Z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_time_option:
          type: RequestOption
          field_name: updatedsince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
    BaseSimpleRetriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: OVERRIDE_ME
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_headers:
          $ref: "#/definitions/linked/HttpRequester/request_headers"
        request_parameters: {}
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        schema_normalization: Default
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - base_url
      - client_id
      - client_secret
      - username
      - password
    properties:
      base_url:
        type: string
        description: eg. https://demo-fire.onuptick.com (no trailing slash)
        order: 0
        title: Base Url
      client_id:
        type: string
        order: 1
        title: OAuth Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 2
        title: OAuth Client Secret
        airbyte_secret: true
      username:
        type: string
        order: 3
        title: Uptick API Account Email
      password:
        type: string
        order: 4
        title: Uptick API Account Password
        airbyte_secret: true
    additionalProperties: true
streams:
  - type: DeclarativeStream
    name: tasks
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/tasks/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Task]: id,created,updated,deleted,ref,description,is_active,inactive_date,extra_fields,due,due_after,pm_date,tolerance_start,tolerance_end,invoiced_date,name,scope_of_works,address,coord_lat,coord_lng,access_note,access_window,access_procedure,access_schedule,access_code,internal_note,workorder_url,technician_note,partner_uid,priority,sla_incident_notification_at,sla_due_inprogress,sla_due_inspected,charge_type,notes,invoice_note,estimated_duration,authorisation_name,authorisation_note,authorisation_ref,authorisation_amount,authorisation_date,contractor_note,status_changed_inprogress,status_changed_inspected,status_changed_complete,app_link,timezone,bulk_email_last_sent_at,contractor_authorisation_limit,category,servicegroup,client,property,billingcard,assigned_to,assigned_office,salesperson,technician,round,tags,branch,supporting_technicians,costcentre,parent_task,author,contractor,contractor_assigned_technician,updated_by,status,zone,required_accreditationtypes,project,sla,callout
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          deleted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          ref:
            type:
              - string
              - "null"
          description:
            type:
              - string
          is_active:
            type:
              - boolean
          inactive_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          extra_fields:
            type:
              - object
          due:
            type:
              - string
              - "null"
            format: date
          due_after:
            type:
              - string
              - "null"
            format: date
          pm_date:
            type:
              - string
              - "null"
            format: date
          tolerance_start:
            type:
              - string
              - "null"
            format: date
          tolerance_end:
            type:
              - string
              - "null"
            format: date
          invoiced_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
          scope_of_works:
            type:
              - string
          address:
            type:
              - string
          coord_lat:
            type:
              - number
              - "null"
          coord_lng:
            type:
              - number
              - "null"
          access_note:
            type:
              - string
          access_window:
            type:
              - string
          access_procedure:
            type:
              - string
          access_schedule:
            type:
              - string
          access_code:
            type:
              - string
          internal_note:
            type:
              - string
          workorder_url:
            type:
              - string
            format: uri
          technician_note:
            type:
              - string
          partner_uid:
            type:
              - string
          priority:
            type:
              - integer
          sla_incident_notification_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          sla_due_inprogress:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          sla_due_inspected:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          charge_type:
            type:
              - string
          notes:
            type:
              - string
          invoice_note:
            type:
              - string
          estimated_duration:
            type:
              - string
              - "null"
          authorisation_name:
            type:
              - string
          authorisation_note:
            type:
              - string
          authorisation_ref:
            type:
              - string
          authorisation_amount:
            type:
              - string
              - "null"
            format: decimal
          authorisation_date:
            type:
              - string
              - "null"
            format: date
          contractor_note:
            type:
              - string
          status_changed_inprogress:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          status_changed_inspected:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          status_changed_complete:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          app_link:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
          bulk_email_last_sent_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          contractor_authorisation_limit:
            type:
              - string
              - "null"
            format: decimal
          category_id:
            type:
              - integer
              - "null"
          servicegroup_id:
            type:
              - integer
              - "null"
          client_id:
            type:
              - integer
              - "null"
          property_id:
            type:
              - integer
              - "null"
          billingcard_id:
            type:
              - integer
              - "null"
          assigned_to_id:
            type:
              - integer
              - "null"
          assigned_office_id:
            type:
              - integer
              - "null"
          salesperson_id:
            type:
              - integer
              - "null"
          technician_id:
            type:
              - integer
              - "null"
          round_id:
            type:
              - integer
              - "null"
          tags:
            type:
              - array
          branch_id:
            type:
              - integer
              - "null"
          supporting_technicians:
            type:
              - array
          costcentre_id:
            type:
              - integer
              - "null"
          parent_task_id:
            type:
              - integer
              - "null"
          author_id:
            type:
              - integer
              - "null"
          contractor_id:
            type:
              - integer
              - "null"
          contractor_assigned_technician_id:
            type:
              - integer
              - "null"
          updated_by_id:
            type:
              - string
              - "null"
          status_id:
            type:
              - string
              - "null"
          zone_id:
            type:
              - integer
              - "null"
          required_accreditationtypes:
            type:
              - array
          project_id:
            type:
              - integer
              - "null"
          sla_id:
            type:
              - integer
              - "null"
          callout_id:
            type:
              - integer
              - "null"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - deleted
            value: '{{ record["attributes"]["deleted"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - ref
            value: '{{ record["attributes"]["ref"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - description
            value: '{{ record["attributes"]["description"] }}'
          - type: AddedFieldDefinition
            path:
              - is_active
            value: '{{ record["attributes"]["is_active"] }}'
          - type: AddedFieldDefinition
            path:
              - inactive_date
            value: '{{ record["attributes"]["inactive_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: '{{ record["attributes"]["extra_fields"] }}'
          - type: AddedFieldDefinition
            path:
              - due
            value: '{{ record["attributes"]["due"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - due_after
            value: '{{ record["attributes"]["due_after"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - pm_date
            value: '{{ record["attributes"]["pm_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - tolerance_start
            value: '{{ record["attributes"]["tolerance_start"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - tolerance_end
            value: '{{ record["attributes"]["tolerance_end"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - invoiced_date
            value: '{{ record["attributes"]["invoiced_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - scope_of_works
            value: '{{ record["attributes"]["scope_of_works"] }}'
          - type: AddedFieldDefinition
            path:
              - address
            value: '{{ record["attributes"]["address"] }}'
          - type: AddedFieldDefinition
            path:
              - coord_lat
            value: '{{ record["attributes"]["coord_lat"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - coord_lng
            value: '{{ record["attributes"]["coord_lng"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - access_note
            value: '{{ record["attributes"]["access_note"] }}'
          - type: AddedFieldDefinition
            path:
              - access_window
            value: '{{ record["attributes"]["access_window"] }}'
          - type: AddedFieldDefinition
            path:
              - access_procedure
            value: '{{ record["attributes"]["access_procedure"] }}'
          - type: AddedFieldDefinition
            path:
              - access_schedule
            value: '{{ record["attributes"]["access_schedule"] }}'
          - type: AddedFieldDefinition
            path:
              - access_code
            value: '{{ record["attributes"]["access_code"] }}'
          - type: AddedFieldDefinition
            path:
              - internal_note
            value: '{{ record["attributes"]["internal_note"] }}'
          - type: AddedFieldDefinition
            path:
              - workorder_url
            value: '{{ record["attributes"]["workorder_url"] }}'
          - type: AddedFieldDefinition
            path:
              - technician_note
            value: '{{ record["attributes"]["technician_note"] }}'
          - type: AddedFieldDefinition
            path:
              - partner_uid
            value: '{{ record["attributes"]["partner_uid"] }}'
          - type: AddedFieldDefinition
            path:
              - priority
            value: '{{ record["attributes"]["priority"] }}'
          - type: AddedFieldDefinition
            path:
              - sla_incident_notification_at
            value: '{{ record["attributes"]["sla_incident_notification_at"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - sla_due_inprogress
            value: '{{ record["attributes"]["sla_due_inprogress"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - sla_due_inspected
            value: '{{ record["attributes"]["sla_due_inspected"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - charge_type
            value: '{{ record["attributes"]["charge_type"] }}'
          - type: AddedFieldDefinition
            path:
              - notes
            value: '{{ record["attributes"]["notes"] }}'
          - type: AddedFieldDefinition
            path:
              - invoice_note
            value: '{{ record["attributes"]["invoice_note"] }}'
          - type: AddedFieldDefinition
            path:
              - estimated_duration
            value: '{{ record["attributes"]["estimated_duration"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - authorisation_name
            value: '{{ record["attributes"]["authorisation_name"] }}'
          - type: AddedFieldDefinition
            path:
              - authorisation_note
            value: '{{ record["attributes"]["authorisation_note"] }}'
          - type: AddedFieldDefinition
            path:
              - authorisation_ref
            value: '{{ record["attributes"]["authorisation_ref"] }}'
          - type: AddedFieldDefinition
            path:
              - authorisation_amount
            value: '{{ record["attributes"]["authorisation_amount"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - authorisation_date
            value: '{{ record["attributes"]["authorisation_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - contractor_note
            value: '{{ record["attributes"]["contractor_note"] }}'
          - type: AddedFieldDefinition
            path:
              - status_changed_inprogress
            value: '{{ record["attributes"]["status_changed_inprogress"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - status_changed_inspected
            value: '{{ record["attributes"]["status_changed_inspected"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - status_changed_complete
            value: '{{ record["attributes"]["status_changed_complete"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - app_link
            value: '{{ record["attributes"]["app_link"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - timezone
            value: '{{ record["attributes"]["timezone"] }}'
          - type: AddedFieldDefinition
            path:
              - bulk_email_last_sent_at
            value: '{{ record["attributes"]["bulk_email_last_sent_at"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - contractor_authorisation_limit
            value: '{{ record["attributes"]["contractor_authorisation_limit"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - category_id
            value: '{{ record["relationships"]["category"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - servicegroup_id
            value: '{{ record["relationships"]["servicegroup"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - client_id
            value: '{{ record["relationships"]["client"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - property_id
            value: '{{ record["relationships"]["property"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - billingcard_id
            value: '{{ record["relationships"]["billingcard"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - assigned_to_id
            value: '{{ record["relationships"]["assigned_to"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - assigned_office_id
            value: '{{ record["relationships"]["assigned_office"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - salesperson_id
            value: '{{ record["relationships"]["salesperson"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - technician_id
            value: '{{ record["relationships"]["technician"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - round_id
            value: '{{ record["relationships"]["round"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - tags
            value: '{{ record["relationships"]["tags"]["data"] }}'
          - type: AddedFieldDefinition
            path:
              - branch_id
            value: '{{ record["relationships"]["branch"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - supporting_technicians
            value: '{{ record["relationships"]["supporting_technicians"]["data"] }}'
          - type: AddedFieldDefinition
            path:
              - costcentre_id
            value: '{{ record["relationships"]["costcentre"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - parent_task_id
            value: '{{ record["relationships"]["parent_task"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - author_id
            value: '{{ record["relationships"]["author"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - contractor_id
            value: '{{ record["relationships"]["contractor"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - contractor_assigned_technician_id
            value:
              '{{ record["relationships"]["contractor_assigned_technician"]["data"]["id"]
              or "None"}}'
          - type: AddedFieldDefinition
            path:
              - updated_by_id
            value: '{{ record["relationships"]["updated_by"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - status_id
            value: '{{ record["relationships"]["status"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - zone_id
            value: '{{ record["relationships"]["zone"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - required_accreditationtypes
            value: '{{ record["relationships"]["required_accreditationtypes"]["data"] }}'
          - type: AddedFieldDefinition
            path:
              - project_id
            value: '{{ record["relationships"]["project"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - sla_id
            value: '{{ record["relationships"]["sla"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - callout_id
            value: '{{ record["relationships"]["callout"]["data"]["id"] or "None"}}'
  - type: DeclarativeStream
    name: taskcategories
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/taskcategories/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[TaskCategory]: id,name,created,updated
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          name:
            type:
              - string
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
  - type: DeclarativeStream
    name: clients
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/clients/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Client]: id,created,updated,ref,name,is_active,contact_name,contact_organisation,contact_mobile,contact_phone_bh,contact_phone_ah,contact_email,contact_email_cc,contact_address,report_requirements,report_attention,report_email_to,report_email_cc,report_manual,billing_organisation,billing_requirements,billing_attention,billing_email_to,billing_email_cc,billing_manual,billing_address,billing_fixedprice,quoting_autoreminders_enabled,quoting_requirements,notes,address,material_markup,extra_fields,sector,billingcard,pricetier
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          ref:
            type:
              - string
          name:
            type:
              - string
          is_active:
            type:
              - boolean
          contact_name:
            type:
              - string
          contact_organisation:
            type:
              - string
          contact_mobile:
            type:
              - string
          contact_phone_bh:
            type:
              - string
          contact_phone_ah:
            type:
              - string
          contact_email:
            type:
              - string
            format: email
          contact_email_cc:
            type:
              - string
          contact_address:
            type:
              - string
          report_requirements:
            type:
              - string
          report_attention:
            type:
              - string
          report_email_to:
            type:
              - string
            format: email
          report_email_cc:
            type:
              - string
          report_manual:
            type:
              - boolean
          billing_organisation:
            type:
              - string
          billing_requirements:
            type:
              - string
          billing_attention:
            type:
              - string
          billing_email_to:
            type:
              - string
            format: email
          billing_email_cc:
            type:
              - string
          billing_manual:
            type:
              - boolean
          billing_address:
            type:
              - string
          billing_fixedprice:
            type:
              - boolean
          quoting_autoreminders_enabled:
            type:
              - boolean
          quoting_requirements:
            type:
              - string
          notes:
            type:
              - string
          address:
            type:
              - string
          material_markup:
            type:
              - string
              - "null"
            format: decimal
          extra_fields:
            type:
              - object
          sector:
            type:
              - string
          billingcard_id:
            type:
              - integer
              - "null"
          pricetier_id:
            type:
              - integer
              - "null"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - ref
            value: '{{ record["attributes"]["ref"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - is_active
            value: '{{ record["attributes"]["is_active"] }}'
          - type: AddedFieldDefinition
            path:
              - contact_name
            value: '{{ record["attributes"]["contact_name"] }}'
          - type: AddedFieldDefinition
            path:
              - contact_organisation
            value: '{{ record["attributes"]["contact_organisation"] }}'
          - type: AddedFieldDefinition
            path:
              - contact_mobile
            value: '{{ record["attributes"]["contact_mobile"] }}'
          - type: AddedFieldDefinition
            path:
              - contact_phone_bh
            value: '{{ record["attributes"]["contact_phone_bh"] }}'
          - type: AddedFieldDefinition
            path:
              - contact_phone_ah
            value: '{{ record["attributes"]["contact_phone_ah"] }}'
          - type: AddedFieldDefinition
            path:
              - contact_email
            value: '{{ record["attributes"]["contact_email"] }}'
          - type: AddedFieldDefinition
            path:
              - contact_email_cc
            value: '{{ record["attributes"]["contact_email_cc"] }}'
          - type: AddedFieldDefinition
            path:
              - contact_address
            value: '{{ record["attributes"]["contact_address"] }}'
          - type: AddedFieldDefinition
            path:
              - report_requirements
            value: '{{ record["attributes"]["report_requirements"] }}'
          - type: AddedFieldDefinition
            path:
              - report_attention
            value: '{{ record["attributes"]["report_attention"] }}'
          - type: AddedFieldDefinition
            path:
              - report_email_to
            value: '{{ record["attributes"]["report_email_to"] }}'
          - type: AddedFieldDefinition
            path:
              - report_email_cc
            value: '{{ record["attributes"]["report_email_cc"] }}'
          - type: AddedFieldDefinition
            path:
              - report_manual
            value: '{{ record["attributes"]["report_manual"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_organisation
            value: '{{ record["attributes"]["billing_organisation"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_requirements
            value: '{{ record["attributes"]["billing_requirements"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_attention
            value: '{{ record["attributes"]["billing_attention"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_email_to
            value: '{{ record["attributes"]["billing_email_to"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_email_cc
            value: '{{ record["attributes"]["billing_email_cc"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_manual
            value: '{{ record["attributes"]["billing_manual"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_address
            value: '{{ record["attributes"]["billing_address"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_fixedprice
            value: '{{ record["attributes"]["billing_fixedprice"] }}'
          - type: AddedFieldDefinition
            path:
              - quoting_autoreminders_enabled
            value: '{{ record["attributes"]["quoting_autoreminders_enabled"] }}'
          - type: AddedFieldDefinition
            path:
              - quoting_requirements
            value: '{{ record["attributes"]["quoting_requirements"] }}'
          - type: AddedFieldDefinition
            path:
              - notes
            value: '{{ record["attributes"]["notes"] }}'
          - type: AddedFieldDefinition
            path:
              - address
            value: '{{ record["attributes"]["address"] }}'
          - type: AddedFieldDefinition
            path:
              - material_markup
            value: '{{ record["attributes"]["material_markup"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: '{{ record["attributes"]["extra_fields"] }}'
          - type: AddedFieldDefinition
            path:
              - sector
            value: '{{ record["attributes"]["sector"] }}'
          - type: AddedFieldDefinition
            path:
              - billingcard_id
            value: '{{ record["relationships"]["billingcard"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - pricetier_id
            value: '{{ record["relationships"]["pricetier"]["data"]["id"] or "None"}}'
  - type: DeclarativeStream
    name: clientgroups
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/clientgroups/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[ClientGroup]: id,created,updated,name,sector,is_active
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
          sector:
            type:
              - string
          is_active:
            type:
              - boolean
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - sector
            value: '{{ record["attributes"]["sector"] }}'
          - type: AddedFieldDefinition
            path:
              - is_active
            value: '{{ record["attributes"]["is_active"] }}'
  - type: DeclarativeStream
    name: properties
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/properties/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Property]: id,created,updated,address,coords,timezone,access_inductionreq,access_logbookreq,access_schedule,access_signaturereq,billing_manual,building_tenancies,client_signature_required,name,ref,report_manual,status,bsecure_resolved_guid,extra_fields,tags
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          address:
            type:
              - string
          coords:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
          access_inductionreq:
            type:
              - boolean
          access_logbookreq:
            type:
              - boolean
          access_schedule:
            type:
              - string
          access_signaturereq:
            type:
              - boolean
          billing_manual:
            type:
              - boolean
          building_tenancies:
            type:
              - integer
              - "null"
          client_signature_required:
            type:
              - boolean
          name:
            type:
              - string
          ref:
            type:
              - string
          report_manual:
            type:
              - boolean
          status:
            type:
              - string
          bsecure_resolved_guid:
            type:
              - string
              - "null"
            format: uuid
          extra_fields:
            type:
              - object
          tags:
            type:
              - array
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - address
            value: '{{ record["attributes"]["address"] }}'
          - type: AddedFieldDefinition
            path:
              - coords
            value: '{{ record["attributes"]["coords"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - timezone
            value: '{{ record["attributes"]["timezone"] }}'
          - type: AddedFieldDefinition
            path:
              - access_inductionreq
            value: '{{ record["attributes"]["access_inductionreq"] }}'
          - type: AddedFieldDefinition
            path:
              - access_logbookreq
            value: '{{ record["attributes"]["access_logbookreq"] }}'
          - type: AddedFieldDefinition
            path:
              - access_schedule
            value: '{{ record["attributes"]["access_schedule"] }}'
          - type: AddedFieldDefinition
            path:
              - access_signaturereq
            value: '{{ record["attributes"]["access_signaturereq"] }}'
          - type: AddedFieldDefinition
            path:
              - billing_manual
            value: '{{ record["attributes"]["billing_manual"] }}'
          - type: AddedFieldDefinition
            path:
              - building_tenancies
            value: '{{ record["attributes"]["building_tenancies"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - client_signature_required
            value: '{{ record["attributes"]["client_signature_required"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - ref
            value: '{{ record["attributes"]["ref"] }}'
          - type: AddedFieldDefinition
            path:
              - report_manual
            value: '{{ record["attributes"]["report_manual"] }}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
          - type: AddedFieldDefinition
            path:
              - bsecure_resolved_guid
            value: '{{ record["attributes"]["bsecure_resolved_guid"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: '{{ record["attributes"]["extra_fields"] }}'
          - type: AddedFieldDefinition
            path:
              - tags
            value: '{{ record["relationships"]["tags"]["data"] }}'
  - type: DeclarativeStream
    name: invoices
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/invoices/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Invoice]: id,created,updated,description,authorisation_ref,created,currency,date,due_date,extra_fields,gst,is_overdue,is_sent,number,partner_uid,ref,status,subtotal,synced,total,property,task
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          description:
            type:
              - string
          authorisation_ref:
            type:
              - string
          currency:
            type:
              - string
          date:
            type:
              - string
            format: date
          due_date:
            type:
              - string
              - "null"
            format: date
          extra_fields:
            type:
              - object
          gst:
            type:
              - string
            format: decimal
          is_overdue:
            type:
              - string
          is_sent:
            type:
              - boolean
          number:
            type:
              - string
          partner_uid:
            type:
              - string
              - "null"
          ref:
            type:
              - string
          status:
            type:
              - string
          subtotal:
            type:
              - string
            format: decimal
          synced:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          total:
            type:
              - string
            format: decimal
          property_id:
            type:
              - integer
              - "null"
          task_id:
            type:
              - integer
              - "null"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - description
            value: '{{ record["attributes"]["description"] }}'
          - type: AddedFieldDefinition
            path:
              - authorisation_ref
            value: '{{ record["attributes"]["authorisation_ref"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - currency
            value: '{{ record["attributes"]["currency"] }}'
          - type: AddedFieldDefinition
            path:
              - date
            value: '{{ record["attributes"]["date"] }}'
          - type: AddedFieldDefinition
            path:
              - due_date
            value: '{{ record["attributes"]["due_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: '{{ record["attributes"]["extra_fields"] }}'
          - type: AddedFieldDefinition
            path:
              - gst
            value: '{{ record["attributes"]["gst"] }}'
          - type: AddedFieldDefinition
            path:
              - is_overdue
            value: '{{ record["attributes"]["is_overdue"] }}'
          - type: AddedFieldDefinition
            path:
              - is_sent
            value: '{{ record["attributes"]["is_sent"] }}'
          - type: AddedFieldDefinition
            path:
              - number
            value: '{{ record["attributes"]["number"] }}'
          - type: AddedFieldDefinition
            path:
              - partner_uid
            value: '{{ record["attributes"]["partner_uid"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - ref
            value: '{{ record["attributes"]["ref"] }}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
          - type: AddedFieldDefinition
            path:
              - subtotal
            value: '{{ record["attributes"]["subtotal"] }}'
          - type: AddedFieldDefinition
            path:
              - synced
            value: '{{ record["attributes"]["synced"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - total
            value: '{{ record["attributes"]["total"] }}'
          - type: AddedFieldDefinition
            path:
              - property_id
            value: '{{ record["relationships"]["property"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - task_id
            value: '{{ record["relationships"]["task"]["data"]["id"] or "None"}}'
  - type: DeclarativeStream
    name: projects
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/projects/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Project]: id,created,updated,status,ref,name,is_active,category,scope_of_works,retention_rate,final_rebate_rate,expected_start_date,expected_completion_date,actual_start_date,retention_date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          status:
            type:
              - string
          ref:
            type:
              - string
          name:
            type:
              - string
          is_active:
            type:
              - boolean
          category:
            type:
              - string
          scope_of_works:
            type:
              - string
          retention_rate:
            type:
              - string
            format: decimal
          final_rebate_rate:
            type:
              - string
            format: decimal
          expected_start_date:
            type:
              - string
            format: date
          expected_completion_date:
            type:
              - string
            format: date
          actual_start_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          retention_date:
            type:
              - string
              - "null"
            format: date
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
          - type: AddedFieldDefinition
            path:
              - ref
            value: '{{ record["attributes"]["ref"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - is_active
            value: '{{ record["attributes"]["is_active"] }}'
          - type: AddedFieldDefinition
            path:
              - category
            value: '{{ record["attributes"]["category"] }}'
          - type: AddedFieldDefinition
            path:
              - scope_of_works
            value: '{{ record["attributes"]["scope_of_works"] }}'
          - type: AddedFieldDefinition
            path:
              - retention_rate
            value: '{{ record["attributes"]["retention_rate"] }}'
          - type: AddedFieldDefinition
            path:
              - final_rebate_rate
            value: '{{ record["attributes"]["final_rebate_rate"] }}'
          - type: AddedFieldDefinition
            path:
              - expected_start_date
            value: '{{ record["attributes"]["expected_start_date"] }}'
          - type: AddedFieldDefinition
            path:
              - expected_completion_date
            value: '{{ record["attributes"]["expected_completion_date"] }}'
          - type: AddedFieldDefinition
            path:
              - actual_start_date
            value: '{{ record["attributes"]["actual_start_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - retention_date
            value: '{{ record["attributes"]["retention_date"] or "None"}}'
  - type: DeclarativeStream
    name: servicequotes
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/servicequotes/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[ServiceQuote]: id,description,created,updated,uuid,ref,status,status_changed_submitted,status_changed_approved,expiry_date,review_date,template,template_name,scope_of_works_format,upload_path,property_access_schedule,authorisation_date,product_subtotal
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          description:
            type:
              - string
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          uuid:
            type:
              - string
            format: uuid
          ref:
            type:
              - string
          status:
            type:
              - string
          status_changed_submitted:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          status_changed_approved:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          expiry_date:
            type:
              - string
              - "null"
            format: date
          review_date:
            type:
              - string
              - "null"
            format: date
          template:
            type:
              - string
          template_name:
            type:
              - string
          scope_of_works_format:
            type:
              - string
          upload_path:
            type:
              - string
              - "null"
          property_access_schedule:
            type:
              - string
          authorisation_date:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          product_subtotal:
            type:
              - string
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - description
            value: '{{ record["attributes"]["description"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - uuid
            value: '{{ record["attributes"]["uuid"] }}'
          - type: AddedFieldDefinition
            path:
              - ref
            value: '{{ record["attributes"]["ref"] }}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
          - type: AddedFieldDefinition
            path:
              - status_changed_submitted
            value: '{{ record["attributes"]["status_changed_submitted"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - status_changed_approved
            value: '{{ record["attributes"]["status_changed_approved"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - expiry_date
            value: '{{ record["attributes"]["expiry_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - review_date
            value: '{{ record["attributes"]["review_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - template
            value: '{{ record["attributes"]["template"] }}'
          - type: AddedFieldDefinition
            path:
              - template_name
            value: '{{ record["attributes"]["template_name"] }}'
          - type: AddedFieldDefinition
            path:
              - scope_of_works_format
            value: '{{ record["attributes"]["scope_of_works_format"] }}'
          - type: AddedFieldDefinition
            path:
              - upload_path
            value: '{{ record["attributes"]["upload_path"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - property_access_schedule
            value: '{{ record["attributes"]["property_access_schedule"] }}'
          - type: AddedFieldDefinition
            path:
              - authorisation_date
            value: '{{ record["attributes"]["authorisation_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - product_subtotal
            value: '{{ record["attributes"]["product_subtotal"] }}'
  - type: DeclarativeStream
    name: defectquotes
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/defectquotes/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[DefectQuote]: id,description,ref,created,updated,status,date,due_date,expiry_date,last_actioned,email_template,reminder_email_template,scope_of_works
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          description:
            type:
              - string
          ref:
            type:
              - string
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          status:
            type:
              - string
          date:
            type:
              - string
              - "null"
            format: date
          due_date:
            type:
              - string
              - "null"
            format: date
          expiry_date:
            type:
              - string
              - "null"
            format: date
          last_actioned:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          email_template:
            type:
              - string
          reminder_email_template:
            type:
              - string
          scope_of_works:
            type:
              - string
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - description
            value: '{{ record["attributes"]["description"] }}'
          - type: AddedFieldDefinition
            path:
              - ref
            value: '{{ record["attributes"]["ref"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
          - type: AddedFieldDefinition
            path:
              - date
            value: '{{ record["attributes"]["date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - due_date
            value: '{{ record["attributes"]["due_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - expiry_date
            value: '{{ record["attributes"]["expiry_date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - last_actioned
            value: '{{ record["attributes"]["last_actioned"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - email_template
            value: '{{ record["attributes"]["email_template"] }}'
          - type: AddedFieldDefinition
            path:
              - reminder_email_template
            value: '{{ record["attributes"]["reminder_email_template"] }}'
          - type: AddedFieldDefinition
            path:
              - scope_of_works
            value: '{{ record["attributes"]["scope_of_works"] }}'
  - type: DeclarativeStream
    name: suppliers
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/suppliers/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Supplier]: id,created,updated,is_active,name,partner_uid,accounts_name,purchasing_name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          is_active:
            type:
              - boolean
          name:
            type:
              - string
          partner_uid:
            type:
              - string
              - "null"
          accounts_name:
            type:
              - string
          purchasing_name:
            type:
              - string
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - is_active
            value: '{{ record["attributes"]["is_active"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - partner_uid
            value: '{{ record["attributes"]["partner_uid"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - accounts_name
            value: '{{ record["attributes"]["accounts_name"] }}'
          - type: AddedFieldDefinition
            path:
              - purchasing_name
            value: '{{ record["attributes"]["purchasing_name"] }}'
  - type: DeclarativeStream
    name: purchaseorders
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/purchaseorders/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrder]: id,created,updated,ref,status,all_goods_received,date,total,supplier_ref,created_via,has_manually_added_costs,currency,fx_rate
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          ref:
            type:
              - string
          status:
            type:
              - string
          all_goods_received:
            type:
              - boolean
              - "null"
          date:
            type:
              - string
              - "null"
            format: date
          total:
            type:
              - string
          supplier_ref:
            type:
              - string
          created_via:
            type:
              - string
          has_manually_added_costs:
            type:
              - string
          currency:
            type:
              - string
          fx_rate:
            type:
              - string
            format: decimal
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - ref
            value: '{{ record["attributes"]["ref"] }}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
          - type: AddedFieldDefinition
            path:
              - all_goods_received
            value: '{{ record["attributes"]["all_goods_received"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - date
            value: '{{ record["attributes"]["date"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - total
            value: '{{ record["attributes"]["total"] }}'
          - type: AddedFieldDefinition
            path:
              - supplier_ref
            value: '{{ record["attributes"]["supplier_ref"] }}'
          - type: AddedFieldDefinition
            path:
              - created_via
            value: '{{ record["attributes"]["created_via"] }}'
          - type: AddedFieldDefinition
            path:
              - has_manually_added_costs
            value: '{{ record["attributes"]["has_manually_added_costs"] }}'
          - type: AddedFieldDefinition
            path:
              - currency
            value: '{{ record["attributes"]["currency"] }}'
          - type: AddedFieldDefinition
            path:
              - fx_rate
            value: '{{ record["attributes"]["fx_rate"] }}'
  - type: DeclarativeStream
    name: routines
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/routines/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[Routine]: id,created,updated,display_name,due,tolerance_period_start,tolerance_period_end,status,is_processing
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          display_name:
            type:
              - string
          due:
            type:
              - string
            format: date
          tolerance_period_start:
            type:
              - string
              - "null"
            format: date
          tolerance_period_end:
            type:
              - string
              - "null"
            format: date
          status:
            type:
              - string
          is_processing:
            type:
              - boolean
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - display_name
            value: '{{ record["attributes"]["display_name"] }}'
          - type: AddedFieldDefinition
            path:
              - due
            value: '{{ record["attributes"]["due"] }}'
          - type: AddedFieldDefinition
            path:
              - tolerance_period_start
            value: '{{ record["attributes"]["tolerance_period_start"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - tolerance_period_end
            value: '{{ record["attributes"]["tolerance_period_end"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
          - type: AddedFieldDefinition
            path:
              - is_processing
            value: '{{ record["attributes"]["is_processing"] }}'
  - type: DeclarativeStream
    name: billingcards
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/billingcards/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[BillingCard]: id,name,created,updated,is_active
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          name:
            type:
              - string
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          is_active:
            type:
              - boolean
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - is_active
            value: '{{ record["attributes"]["is_active"] }}'
  - type: DeclarativeStream
    name: purchaseorderbills
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/purchaseorderbills/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrderBill]: id,created,updated,status,invoice_number,invoice_date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          status:
            type:
              - string
          invoice_number:
            type:
              - string
          invoice_date:
            type:
              - string
            format: date
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
          - type: AddedFieldDefinition
            path:
              - invoice_number
            value: '{{ record["attributes"]["invoice_number"] }}'
          - type: AddedFieldDefinition
            path:
              - invoice_date
            value: '{{ record["attributes"]["invoice_date"] }}'
  - type: DeclarativeStream
    name: purchaseorderdockets
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/purchaseorderdockets/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrderDocket]: id,created,updated,number,date,status
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          number:
            type:
              - string
          date:
            type:
              - string
            format: date
          status:
            type:
              - string
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - number
            value: '{{ record["attributes"]["number"] }}'
          - type: AddedFieldDefinition
            path:
              - date
            value: '{{ record["attributes"]["date"] }}'
          - type: AddedFieldDefinition
            path:
              - status
            value: '{{ record["attributes"]["status"] }}'
  - type: DeclarativeStream
    name: invoicelineitems
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/invoicelineitems/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[LineItem]: id,created,updated,description,created,index,account_code,quantity,unit_price,gst,total,taxcode,taxrate
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          description:
            type:
              - string
          index:
            type:
              - integer
          account_code:
            type:
              - string
          quantity:
            type:
              - string
            format: decimal
          unit_price:
            type:
              - string
            format: decimal
          gst:
            type:
              - string
            format: decimal
          total:
            type:
              - string
            format: decimal
          taxcode:
            type:
              - string
          taxrate:
            type:
              - string
            format: decimal
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - description
            value: '{{ record["attributes"]["description"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - index
            value: '{{ record["attributes"]["index"] }}'
          - type: AddedFieldDefinition
            path:
              - account_code
            value: '{{ record["attributes"]["account_code"] }}'
          - type: AddedFieldDefinition
            path:
              - quantity
            value: '{{ record["attributes"]["quantity"] }}'
          - type: AddedFieldDefinition
            path:
              - unit_price
            value: '{{ record["attributes"]["unit_price"] }}'
          - type: AddedFieldDefinition
            path:
              - gst
            value: '{{ record["attributes"]["gst"] }}'
          - type: AddedFieldDefinition
            path:
              - total
            value: '{{ record["attributes"]["total"] }}'
          - type: AddedFieldDefinition
            path:
              - taxcode
            value: '{{ record["attributes"]["taxcode"] }}'
          - type: AddedFieldDefinition
            path:
              - taxrate
            value: '{{ record["attributes"]["taxrate"] }}'
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/users/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[User]: id,updated,name,email,partner_uid,date_joined,last_login,last_access,is_active,is_staff,is_superuser,license,addons,rate,sell_rate,extra_fields,purchase_order_approval_limit,defectquote_approval_limit
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
          email:
            type:
              - string
            format: email
          partner_uid:
            type:
              - string
          date_joined:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          last_login:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          last_access:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          is_active:
            type:
              - boolean
          is_staff:
            type:
              - string
          is_superuser:
            type:
              - boolean
          license:
            type:
              - string
          addons:
            type:
              - array
          rate:
            type:
              - string
              - "null"
            format: decimal
          sell_rate:
            type:
              - string
              - "null"
            format: decimal
          extra_fields:
            type:
              - object
          purchase_order_approval_limit:
            type:
              - string
              - "null"
            format: decimal
          defectquote_approval_limit:
            type:
              - string
              - "null"
            format: decimal
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - email
            value: '{{ record["attributes"]["email"] }}'
          - type: AddedFieldDefinition
            path:
              - partner_uid
            value: '{{ record["attributes"]["partner_uid"] }}'
          - type: AddedFieldDefinition
            path:
              - date_joined
            value: '{{ record["attributes"]["date_joined"] }}'
          - type: AddedFieldDefinition
            path:
              - last_login
            value: '{{ record["attributes"]["last_login"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - last_access
            value: '{{ record["attributes"]["last_access"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - is_active
            value: '{{ record["attributes"]["is_active"] }}'
          - type: AddedFieldDefinition
            path:
              - is_staff
            value: '{{ record["attributes"]["is_staff"] }}'
          - type: AddedFieldDefinition
            path:
              - is_superuser
            value: '{{ record["attributes"]["is_superuser"] }}'
          - type: AddedFieldDefinition
            path:
              - license
            value: '{{ record["attributes"]["license"] }}'
          - type: AddedFieldDefinition
            path:
              - addons
            value: '{{ record["attributes"]["addons"] }}'
          - type: AddedFieldDefinition
            path:
              - rate
            value: '{{ record["attributes"]["rate"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - sell_rate
            value: '{{ record["attributes"]["sell_rate"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - extra_fields
            value: '{{ record["attributes"]["extra_fields"] }}'
          - type: AddedFieldDefinition
            path:
              - purchase_order_approval_limit
            value: '{{ record["attributes"]["purchase_order_approval_limit"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - defectquote_approval_limit
            value: '{{ record["attributes"]["defectquote_approval_limit"] or "None"}}'
  - type: DeclarativeStream
    name: servicegroups
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/servicegroups/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[ServiceGroup]: id,created,updated,name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
  - type: DeclarativeStream
    name: costcentres
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/costcentres/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[CostCentre]: id,created,updated,name,income_account_code,expense_account_code,is_active,is_default,tracking_categories,branch,taskcategory
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          name:
            type:
              - string
          income_account_code:
            type:
              - string
          expense_account_code:
            type:
              - string
          is_active:
            type:
              - boolean
          is_default:
            type:
              - boolean
          tracking_categories:
            type:
              - object
          branch_id:
            type:
              - integer
              - "null"
          taskcategory_id:
            type:
              - integer
              - "null"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - name
            value: '{{ record["attributes"]["name"] }}'
          - type: AddedFieldDefinition
            path:
              - income_account_code
            value: '{{ record["attributes"]["income_account_code"] }}'
          - type: AddedFieldDefinition
            path:
              - expense_account_code
            value: '{{ record["attributes"]["expense_account_code"] }}'
          - type: AddedFieldDefinition
            path:
              - is_active
            value: '{{ record["attributes"]["is_active"] }}'
          - type: AddedFieldDefinition
            path:
              - is_default
            value: '{{ record["attributes"]["is_default"] }}'
          - type: AddedFieldDefinition
            path:
              - tracking_categories
            value: '{{ record["attributes"]["tracking_categories"] }}'
          - type: AddedFieldDefinition
            path:
              - branch_id
            value: '{{ record["relationships"]["branch"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - taskcategory_id
            value: '{{ record["relationships"]["taskcategory"]["data"]["id"] or "None"}}'
  - type: DeclarativeStream
    name: purchaseorderlineitems
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/purchaseorderlineitems/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrderLineItem]: id,created,updated,description,unit_price,quantity,subtotal,gst,total,taxcode,taxrate,index,purchaseorder_ref,is_committed,is_incurred,billed_quantity,docketed_quantity,has_dockets,purchaseorder,product
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          created:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          updated:
            type:
              - string
            format: date-time
            airbyte_type: timestamp_with_timezone
          description:
            type:
              - string
          unit_price:
            type:
              - string
            format: decimal
          quantity:
            type:
              - string
            format: decimal
          subtotal:
            type:
              - string
            format: decimal
          gst:
            type:
              - string
          total:
            type:
              - string
          taxcode:
            type:
              - string
          taxrate:
            type:
              - string
            format: decimal
          index:
            type:
              - integer
          purchaseorder_ref:
            type:
              - string
          is_committed:
            type:
              - string
          is_incurred:
            type:
              - string
          billed_quantity:
            type:
              - string
              - "null"
            format: decimal
          docketed_quantity:
            type:
              - string
              - "null"
            format: decimal
          has_dockets:
            type:
              - boolean
              - "null"
          purchaseorder_id:
            type:
              - integer
              - "null"
          product_id:
            type:
              - integer
              - "null"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - id
            value: '{{ record["id"] }}'
          - type: AddedFieldDefinition
            path:
              - created
            value: '{{ record["attributes"]["created"] }}'
          - type: AddedFieldDefinition
            path:
              - updated
            value: '{{ record["attributes"]["updated"] }}'
          - type: AddedFieldDefinition
            path:
              - description
            value: '{{ record["attributes"]["description"] }}'
          - type: AddedFieldDefinition
            path:
              - unit_price
            value: '{{ record["attributes"]["unit_price"] }}'
          - type: AddedFieldDefinition
            path:
              - quantity
            value: '{{ record["attributes"]["quantity"] }}'
          - type: AddedFieldDefinition
            path:
              - subtotal
            value: '{{ record["attributes"]["subtotal"] }}'
          - type: AddedFieldDefinition
            path:
              - gst
            value: '{{ record["attributes"]["gst"] }}'
          - type: AddedFieldDefinition
            path:
              - total
            value: '{{ record["attributes"]["total"] }}'
          - type: AddedFieldDefinition
            path:
              - taxcode
            value: '{{ record["attributes"]["taxcode"] }}'
          - type: AddedFieldDefinition
            path:
              - taxrate
            value: '{{ record["attributes"]["taxrate"] }}'
          - type: AddedFieldDefinition
            path:
              - index
            value: '{{ record["attributes"]["index"] }}'
          - type: AddedFieldDefinition
            path:
              - purchaseorder_ref
            value: '{{ record["attributes"]["purchaseorder_ref"] }}'
          - type: AddedFieldDefinition
            path:
              - is_committed
            value: '{{ record["attributes"]["is_committed"] }}'
          - type: AddedFieldDefinition
            path:
              - is_incurred
            value: '{{ record["attributes"]["is_incurred"] }}'
          - type: AddedFieldDefinition
            path:
              - billed_quantity
            value: '{{ record["attributes"]["billed_quantity"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - docketed_quantity
            value: '{{ record["attributes"]["docketed_quantity"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - has_dockets
            value: '{{ record["attributes"]["has_dockets"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - purchaseorder_id
            value: '{{ record["relationships"]["purchaseorder"]["data"]["id"] or "None"}}'
          - type: AddedFieldDefinition
            path:
              - product_id
            value: '{{ record["relationships"]["product"]["data"]["id"] or "None"}}'
  - type: DeclarativeStream
    name: purchaseorderbilllineitems
    primary_key:
      - id
    incremental_sync:
      $ref: "#/definitions/linked/DeclarativeStream/incremental_sync"
    retriever:
      $ref: "#/definitions/linked/BaseSimpleRetriever"
      requester:
        $ref: "#/definitions/linked/BaseSimpleRetriever/requester"
        url: '{{ config["base_url"] }}/api/v2.14/purchaseorderbilllineitems/'
        request_parameters:
          ordering: -updated
          show_deleted: "true"
          fields[PurchaseOrderBillLineItem]: id,created,updated,description,unit_price,quantity,subtotal,gst,total,taxcode,taxrate,index,account_code,purchaseorderbill,purchaseorderlineitem,product
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
[...]
