@use "scss/colors";

.leftPanel {
  overflow: hidden;
}

.rightPanel {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: colors.$white;
}

.container {
  background-image: linear-gradient(colors.$dark-blue-900, colors.$dark-blue-1000);
}
