version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - activities
definitions:
  streams:
    organizations:
      type: DeclarativeStream
      name: organizations
      primary_key:
        - OrgID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /organizations
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "organizations"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            LastUpdatedDate:
              type: string
              description: The date when the organization data was last updated.
            OrgAbbrevName:
              type: string
              description: The abbreviated name of the organization.
            OrgID:
              type: string
              description: The unique identifier for the organization.
            OrgImageURL:
              type: string
              description: The URL of the image associated with the organization.
            OrgJurisdictionType:
              type: string
              description: The type of jurisdiction under which the organization operates.
            OrgName:
              type: string
              description: The full name of the organization.
            OrgParentID:
              type: string
              description: The identifier of the parent organization, if applicable.
            OrgType:
              type: string
              description: The type or category of the organization.
            OrgURLAddress:
              type: string
              description: The web address associated with the organization.
            OrgURLText:
              type: string
              description:
                The clickable text or label associated with the organization
                URL.
    media:
      type: DeclarativeStream
      name: media
      primary_key:
        - EntityMediaID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /media
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "media"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            Credits:
              type: string
              description: The credits or creators associated with the media.
            Description:
              type: string
              description: A detailed description or caption of the media.
            EmbedCode:
              type: string
              description:
                The embed code for integrating the media on websites or
                platforms.
            EntityID:
              type: string
              description: Unique identifier of the entity related to the media.
            EntityMediaID:
              type: string
              description: Unique identifier of the media within the entity.
            EntityType:
              type: string
              description: The type of entity to which the media belongs.
            Height:
              type: integer
              description: The height dimension of the media in pixels.
            IsGallery:
              type: boolean
              description: Indicates if the media is part of a gallery or collection.
            IsPreview:
              type: boolean
              description: Indicates if the media is a preview or teaser.
            IsPrimary:
              type: boolean
              description:
                Indicates if the media is the primary or main media for
                the entity.
            MediaType:
              type: string
              description: The type or format of the media (e.g., image, video).
            Subtitle:
              type: string
              description: Additional text or information accompanying the media.
            Title:
              type: string
              description: The title or headline of the media.
            URL:
              type: string
              description: The URL link to access or view the media.
            Width:
              type: integer
              description: The width dimension of the media in pixels.
    links:
      type: DeclarativeStream
      name: links
      primary_key:
        - EntityLinkID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /links
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "links"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            Description:
              type: string
              description: A brief description of the link
            EntityID:
              type: string
              description:
                The unique identifier of the entity associated with the
                link
            EntityLinkID:
              type: string
              description: The unique identifier of the entity link
            EntityType:
              type: string
              description: The type of entity associated with the link
            LinkType:
              type: string
              description: The type or category of the link
            Title:
              type: string
              description: The title of the link
            URL:
              type: string
              description: The URL of the link
    facilityaddresses:
      type: DeclarativeStream
      name: facilityaddresses
      primary_key:
        - FacilityAddressID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /facilityaddresses
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "facilityaddresses"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            AddressCountryCode:
              type: string
              description: The country code of the facility address.
            AddressStateCode:
              type: string
              description: The state code of the facility address.
            City:
              type: string
              description: The city where the facility is located.
            FacilityAddressID:
              type: string
              description: The unique identifier for the facility address.
            FacilityAddressType:
              type: string
              description: The type of facility address (e.g., main, billing).
            FacilityID:
              type: string
              description: The unique identifier for the facility.
            FacilityStreetAddress1:
              type: string
              description: The primary street address of the facility.
            FacilityStreetAddress2:
              type: string
              description: The secondary street address of the facility.
            FacilityStreetAddress3:
              type: string
              description: Any additional street address details.
            LastUpdatedDate:
              type: string
              description: The date when the facility address was last updated.
            PostalCode:
              type: string
              description: The postal code of the facility address.
    facilities:
      type: DeclarativeStream
      name: facilities
      primary_key:
        - FacilityID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /facilities
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "facilities"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            ACTIVITY:
              type: array
              description:
                Information about recreational activities available at
                the facility.
              items:
                type: object
                properties:
                  ActivityID:
                    type: string
                    description: Unique identifier for the activity
                  ActivityName:
                    type: string
                    description: Name of the activity
                  FacilityActivityDescription:
                    type: string
                    description: Description of the activity provided by the facility
                  FacilityActivityFeeDescription:
                    type: string
                    description: Description of any fees associated with the activity
                  FacilityID:
                    type: string
                    description: Unique identifier for the facility
            CAMPSITE:
              type: array
              description: Details about campsites within the recreation area.
              items:
                type: object
                properties:
                  CampsiteID:
                    type: string
                    description: Unique identifier for the campsite
                  CampsiteName:
                    type: string
                    description: Name of the campsite
                  ResourceLink:
                    type: string
                    description: Link to additional resources related to the campsite
            EVENT:
              type: array
              description: Events and activities taking place at the facility.
              items:
                type: object
                properties:
                  EventID:
                    type: string
                    description: Unique identifier for the event
                  EventName:
                    type: string
                    description: Name of the event
                  ResourceLink:
                    type: string
                    description: Link to additional resources related to the event
            Enabled:
              type: boolean
              description: Indicates if the facility is currently enabled or active
            FACILITYADDRESS:
              type: array
              description: Address information for the facility location.
              items:
                type: object
                properties:
                  AddressCountryCode:
                    type: string
                    description: Country code of the facility address
                  AddressStateCode:
                    type: string
                    description: State code of the facility address
                  City:
                    type: string
                    description: City of the facility address
                  FacilityAddressID:
                    type: string
                    description: Unique identifier for the facility address
                  FacilityAddressType:
                    type: string
                    description: Type of the facility address
                  FacilityID:
                    type: string
                    description: Unique identifier for the facility
                  FacilityStreetAddress1:
                    type: string
                    description: Street address line 1 of the facility
                  FacilityStreetAddress2:
                    type: string
                    description: Street address line 2 of the facility
                  FacilityStreetAddress3:
                    type: string
                    description: Street address line 3 of the facility
                  LastUpdatedDate:
                    type: string
                    description: Date when the address information was last updated
                  PostalCode:
                    type: string
                    description: Postal code of the facility address
            FacilityAdaAccess:
              type: string
              description: Information about ADA access at the facility
            FacilityDescription:
              type: string
              description: Description of the facility
            FacilityDirections:
              type: string
              description: Directions to reach the facility
            FacilityEmail:
              type: string
              description: Email address of the facility
            FacilityID:
              type: string
              description: Unique identifier for the facility
            FacilityLatitude:
              type: number
              description: Latitude coordinate of the facility location
            FacilityLongitude:
              type: number
              description: Longitude coordinate of the facility location
            FacilityMapURL:
              type: string
              description: URL to the map of the facility location
            FacilityName:
              type: string
              description: Name of the facility
            FacilityPhone:
              type: string
              description: Phone number of the facility
            FacilityReservationURL:
              type: string
              description: URL for making reservations at the facility
            FacilityTypeDescription:
              type: string
              description: Description of the facility type
            FacilityUseFeeDescription:
              type: string
              description: Description of any usage fees associated with the facility
            GEOJSON:
              type: object
              description: Geospatial data in GeoJSON format for mapping coordinates.
              properties:
                COORDINATES:
                  type:
                    - array
                    - "null"
                  description: Geographical coordinates of the facility.
                  items:
                    type:
                      - string
                      - number
                      - "null"
                TYPE:
                  type: string
                  description: Type of the GeoJSON data (e.g., Point, Polygon).
            Keywords:
              type: string
              description: Keywords related to the facility
            LINK:
              type: array
              description: Links to related resources or external websites.
              items:
                type: object
                properties:
                  Description:
                    type: string
                    description: Description of the link
                  EntityID:
                    type: string
                    description: Identifier of the entity related to the link
                  EntityLinkID:
                    type: string
                    description: Unique identifier for the entity link
                  EntityType:
                    type: string
                    description: Type of the entity related to the link
                  LinkType:
                    type: string
                    description: Type of the link
                  Title:
                    type: string
                    description: Title of the link
                  URL:
                    type: string
                    description: URL of the link
            LastUpdatedDate:
              type: string
              description: Date when the facility information was last updated
            LegacyFacilityID:
              type: string
              description: Legacy identifier for the facility
            MEDIA:
              type: array
              description: Multimedia content associated with the facility.
              items:
                type: object
                properties:
                  Credits:
                    type: string
                    description: Credits for the media content
                  Description:
                    type: string
                    description: Description of the media content
                  EmbedCode:
                    type: string
                    description: Embed code for the media content
                  EntityID:
                    type: string
                    description: Identifier of the entity related to the media
                  EntityMediaID:
                    type: string
                    description: Unique identifier for the entity media
                  EntityType:
                    type: string
                    description: Type of the entity related to the media
                  Height:
                    type: integer
                    description: Height of the media content
                  IsGallery:
                    type: boolean
                    description: Indicates if the media content is part of a gallery
                  IsPreview:
                    type: boolean
                    description: Indicates if the media content is a preview
                  IsPrimary:
                    type: boolean
                    description: Indicates if the media content is the primary media
                  MediaType:
                    type: string
                    description: Type of the media content
                  Subtitle:
                    type: string
                    description: Subtitle of the media content
                  Title:
                    type: string
                    description: Title of the media content
                  URL:
                    type: string
                    description: URL of the media content
                  Width:
                    type: integer
                    description: Width of the media content
            ORGANIZATION:
              type: array
              description: Details about the organization managing the facility.
              items:
                type: object
                properties:
                  LastUpdatedDate:
                    type: string
                    description: Date when the organization information was last updated
                  OrgAbbrevName:
                    type: string
                    description: Abbreviated name of the organization
                  OrgID:
                    type: string
                    description: Unique identifier for the organization
                  OrgImageURL:
                    type: string
                    description: URL of the organization's image/logo
                  OrgJurisdictionType:
                    type: string
                    description: Type of jurisdiction for the organization
                  OrgName:
                    type: string
                    description: Name of the organization
                  OrgParentID:
                    type: string
                    description: Identifier of the parent organization
                  OrgType:
                    type: string
                    description: Type of the organization
                  OrgURLAddress:
                    type: string
                    description: URL of the organization's address
                  OrgURLText:
                    type: string
                    description: Text description of the organization's URL
            OrgFacilityID:
              type: string
              description: Identifier for the organization's facility
            PERMITENTRANCE:
              type: array
              description: Entrance permit requirements and information.
              items:
                type: object
                properties:
                  PermitEntranceID:
                    type: string
                    description: Unique identifier for the permit entrance
                  PermitEntranceName:
                    type: string
                    description: Name of the permit entrance
                  ResourceLink:
                    type: string
                    description:
                      Link to additional resources related to the permit
                      entrance
            ParentOrgID:
              type: string
              description: Identifier of the parent organization
            ParentRecAreaID:
              type: string
              description: Identifier of the parent recreation area
            RECAREA:
              type: array
              description: General information about the recreational area.
              items:
                type: object
                properties:
                  RecAreaID:
                    type: string
                    description: Unique identifier for the recreation area
                  RecAreaName:
                    type: string
                    description: Name of the recreation area
                  ResourceLink:
                    type: string
                    description:
                      Link to additional resources related to the recreation
                      area
            Reservable:
              type: boolean
              description: Indicates if the facility is reservable
            StayLimit:
              type: string
              description: Limit on the length of stay at the facility
            TOUR:
              type: array
              description: Guided tours available at the facility.
              items:
                type: object
                properties:
                  ResourceLink:
                    type: string
                    description: Link to additional resources related to the tour
                  TourID:
                    type: string
                    description: Unique identifier for the tour
                  TourName:
                    type: string
                    description: Name of the tour
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - EventID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /events
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "events"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            EventID:
              type: string
              description: Unique identifier for the event.
            EventName:
              type: string
              description: Name or title of the event.
            ResourceLink:
              type: string
              description: URL or link to the resource related to the event.
    activities:
      type: DeclarativeStream
      name: activities
      primary_key:
        - ActivityID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /activities
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "activities"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            ActivityID:
              type: integer
              description: Unique identifier for the activity.
            ActivityLevel:
              type: integer
              description: Indicates the level of difficulty or intensity of the activity.
            ActivityName:
              type: string
              description: Name or title of the activity.
            ActivityParentID:
              type: integer
              description: >-
                Identifier for the parent activity, if this activity is part of a
                hierarchy.
    campsites:
      type: DeclarativeStream
      name: campsites
      primary_key:
        - CampsiteID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /campsites
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "campsites"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            ATTRIBUTES:
              type: array
              description: List of attributes associated with the campsite.
              items:
                type: object
                properties:
                  AttributeID:
                    type: integer
                    description: Unique identifier for the attribute.
                  AttributeName:
                    type: string
                    description: Name of the attribute.
                  AttributeValue:
                    type: string
                    description: Value of the attribute.
            CampsiteAccessible:
              type: boolean
              description: Indicates if the campsite is accessible (true/false).
            CampsiteID:
              type: string
              description: Unique identifier for the campsite.
            CampsiteLatitude:
              type: number
              description: Latitude coordinate of the campsite location.
            CampsiteLongitude:
              type: number
              description: Longitude coordinate of the campsite location.
            CampsiteName:
              type: string
              description: Name of the campsite.
            CampsiteType:
              type: string
              description: Type of the campsite.
            CreatedDate:
              type: string
              description: Date when the campsite record was created.
            ENTITYMEDIA:
              type: array
              description: Media associated with the campsite.
              items:
                type: object
                properties:
                  Credits:
                    type: string
                    description: Credits for the media.
                  Description:
                    type: string
                    description: Description of the media.
                  EmbedCode:
                    type: string
                    description: Embed code for the media.
                  EntityID:
                    type: string
                    description:
                      Unique identifier of the entity associated with the
                      media.
                  EntityMediaID:
                    type: string
                    description: Unique identifier for the media.
                  EntityType:
                    type: string
                    description: Type of entity associated with the media.
                  Height:
                    type: integer
                    description: Height dimension of the media.
                  IsGallery:
                    type: boolean
                    description: Indicates if the media is in a gallery (true/false).
                  IsPreview:
                    type: boolean
                    description: Indicates if the media is a preview (true/false).
                  IsPrimary:
                    type: boolean
                    description: Indicates if the media is the primary one (true/false).
                  MediaType:
                    type: string
                    description: Type of media.
                  Subtitle:
                    type: string
                    description: Subtitle of the media.
                  Title:
                    type: string
                    description: Title of the media.
                  URL:
                    type: string
                    description: URL of the media.
                  Width:
                    type: integer
                    description: Width dimension of the media.
            FacilityID:
              type: string
              description:
                Unique identifier for the facility associated with the
                campsite.
            LastUpdatedDate:
              type: string
              description: Date when the campsite record was last updated.
            Loop:
              type: string
              description: Loop information associated with the campsite.
            PERMITTEDEQUIPMENT:
              type: array
              description: List of permitted equipment at the campsite.
              items:
                type: object
                properties:
                  EquipmentName:
                    type: string
                    description: Name of the permitted equipment.
                  MaxLength:
                    type: integer
                    description: Maximum length allowed for the equipment.
            TypeOfUse:
              type: string
              description: Type of use permitted at the campsite.
    permits:
      type: DeclarativeStream
      name: permits
      primary_key:
        - PermitEntranceID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /permits
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "permits"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            ATTRIBUTES:
              type: array
              description: Details of the various attributes associated with the permit.
              items:
                type: object
                properties:
                  AttributeID:
                    type: integer
                    description: Unique identifier of the attribute.
                  AttributeName:
                    type: string
                    description: Name of the attribute.
                  AttributeValue:
                    type: string
                    description: Value of the attribute.
            CreatedDate:
              type: string
              description: Date when the permit was created.
            District:
              type: string
              description: District where the permit is applicable.
            ENTITYMEDIA:
              type: array
              description: Media related information associated with the permit.
              items:
                type: object
                properties:
                  Credits:
                    type: string
                    description: Information about credits for the media.
                  Description:
                    type: string
                    description: Description of the media.
                  EmbedCode:
                    type: string
                    description: Embed code for the media.
                  EntityID:
                    type: string
                    description: Unique identifier of the entity.
                  EntityMediaID:
                    type: string
                    description: Unique identifier of the media entity.
                  EntityType:
                    type: string
                    description: Type of the entity.
                  Height:
                    type: integer
                    description: Height of the media.
                  IsGallery:
                    type: boolean
                    description: Indicates if the media is part of a gallery.
                  IsPreview:
                    type: boolean
                    description: Indicates if the media is a preview.
                  IsPrimary:
                    type: boolean
                    description: Indicates if the media is primary.
                  MediaType:
                    type: string
                    description: Type of the media (e.g., image, video).
                  Subtitle:
                    type: string
                    description: Subtitle of the media.
                  Title:
                    type: string
                    description: Title of the media.
                  URL:
                    type: string
                    description: URL of the media.
                  Width:
                    type: integer
                    description: Width of the media.
            FacilityID:
              type: string
              description: Unique identifier of the facility.
            GEOSJON:
              type: object
              description: Geospatial information associated with the permit.
              properties:
                COORDINATES:
                  type: array
                  description: Coordinates of the location.
                  items:
                    type: number
                TYPE:
                  type: string
                  description: Type of geospatial data.
            LastUpdatedDate:
              type: string
              description: Date when the permit was last updated.
            Latitude:
              type: integer
              description: Latitude coordinate of the location.
            Longitude:
              type: integer
              description: Longitude coordinate of the location.
            PermitEntranceAccessible:
              type: boolean
              description: Indicates if the permit entrance is accessible.
            PermitEntranceDescription:
              type: string
              description: Description of the permit entrance.
            PermitEntranceID:
              type: string
              description: Unique identifier of the permit entrance.
            PermitEntranceName:
              type: string
              description: Name of the permit entrance.
            Town:
              type: string
              description: Town where the permit is applicable.
            ZONES:
              type: array
              description: Details of different zones associated with the permit entrance.
              items:
                type: object
                properties:
                  PermitEntranceZoneID:
                    type: string
                    description: Unique identifier of the permit entrance zone.
                  Zone:
                    type: string
                    description: Zone designation.
    recreationareaaddresses:
      type: DeclarativeStream
      name: recreationareaaddresses
      primary_key:
        - RecAreaAddressID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /recareaaddresses
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "recreationareaaddresses"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            AddressCountryCode:
              type: string
              description: The country code of the address (ISO 3166-1 alpha-2)
            AddressStateCode:
              type: string
              description: The state code of the address
            City:
              type: string
              description: The city name of the recreation area
            LastUpdatedDate:
              type: string
              description: The date when the address information was last updated
            PostalCode:
              type: string
              description: The postal code of the recreation area
            RecAreaAddressID:
              type: string
              description: The unique identifier for the recreation area address
            RecAreaAddressType:
              type: string
              description: >-
                The type of address for the recreation area (e.g., mailing address,
                physical address)
            RecAreaID:
              type: string
              description: The unique identifier for the recreation area
            RecAreaStreetAddress1:
              type: string
              description: The first line of street address for the recreation area
            RecAreaStreetAddress2:
              type: string
              description: The second line of street address for the recreation area
            RecAreaStreetAddress3:
              type: string
              description: The third line of street address for the recreation area
    recreationareas:
      type: DeclarativeStream
      name: recreationareas
      primary_key:
        - RecAreaID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /recareas
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "recreationareas"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            ACTIVITY:
              type: array
              description:
                Information about activities available at the recreation
                area.
              items:
                type: object
                properties:
                  ActivityID:
                    type: string
                    description: Unique ID for the activity.
                  ActivityName:
                    type: string
                    description: Name of the activity.
                  ActivityParentID:
                    type: string
                    description: Parent ID for the activity.
                  RecAreaActivityDescription:
                    type: string
                    description: Description of the activity.
                  RecAreaActivityFeeDescription:
                    type: string
                    description: Fee description for the activity.
                  RecAreaID:
                    type: string
                    description: ID of the recreation area.
            EVENT:
              type: array
              description: Information about events at the recreation area.
              items:
                type: object
                properties:
                  EventID:
                    type: string
                    description: Unique ID for the event.
                  EventName:
                    type: string
                    description: Name of the event.
                  ResourceLink:
                    type: string
                    description: Link to additional resources.
            Enabled:
              type: boolean
              description: Indicates if the recreation area is enabled.
            FACILITY:
              type: array
              description: Information about facilities at the recreation area.
              items:
                type: object
                properties:
                  FacilityID:
                    type: string
                    description: Unique ID for the facility.
                  FacilityName:
                    type: string
                    description: Name of the facility.
                  ResourceLink:
                    type: string
                    description: Link to additional resources.
            GEOJSON:
              type: object
              description: GeoJSON data for the recreation area.
              properties:
                COORDINATES:
                  type:
                    - array
                    - "null"
                  description: Coordinates data.
                  items:
                    type:
                      - string
                      - number
                      - "null"
                TYPE:
                  type: string
                  description: Type of GeoJSON data.
            Keywords:
              type: string
              description: Keywords associated with the recreation area.
            LINK:
              type: array
              description: Links related to the recreation area.
              items:
                type: object
                properties:
                  Description:
                    type: string
                    description: Description of the link.
                  EntityID:
                    type: string
                    description: ID of the related entity.
                  EntityLinkID:
                    type: string
                    description: Link ID for the entity.
                  EntityType:
                    type: string
                    description: Type of entity.
                  LinkType:
                    type: string
                    description: Type of link.
                  Title:
                    type: string
                    description: Title of the link.
                  URL:
                    type: string
                    description: URL of the link.
            LastUpdatedDate:
              type: string
              description: Date when record was last updated.
            MEDIA:
              type: array
              description: Media related data for the recreation area.
              items:
                type: object
                properties:
                  Credits:
                    type: string
                    description: Credits for the media.
                  Description:
                    type: string
                    description: Description of the media.
                  EmbedCode:
                    type: string
                    description: Embed code for the media.
                  EntityID:
                    type: string
                    description: ID of the media entity.
                  EntityMediaID:
                    type: string
                    description: Media ID of the entity.
                  EntityType:
                    type: string
                    description: Type of media entity.
                  Height:
                    type: integer
                    description: Height of the media.
                  IsGallery:
                    type: boolean
                    description: Indicates if media is a gallery.
                  IsPreview:
                    type: boolean
                    description: Indicates if media is a preview.
                  IsPrimary:
                    type: boolean
                    description: Indicates if media is primary.
                  MediaType:
                    type: string
                    description: Type of media.
                  Subtitle:
                    type: string
                    description: Subtitle for the media.
                  Title:
                    type: string
                    description: Title of the media.
                  URL:
                    type: string
                    description: URL of the media.
                  Width:
                    type: integer
                    description: Width of the media.
            ORGANIZATION:
              type: array
              description:
                Information about organizations related to the recreation
                area.
              items:
                type: object
                properties:
                  LastUpdatedDate:
                    type: string
                    description: Last updated date of the organization.
                  OrgAbbrevName:
                    type: string
                    description: Abbreviated name of the organization.
                  OrgID:
                    type: string
                    description: ID of the organization.
                  OrgImageURL:
                    type: string
                    description: URL of the organization image.
                  OrgJurisdictionType:
                    type: string
                    description: Type of jurisdiction for the organization.
                  OrgName:
                    type: string
                    description: Name of the organization.
                  OrgParentID:
                    type: string
                    description: Parent ID of the organization.
                  OrgType:
                    type: string
                    description: Type of the organization.
                  OrgURLAddress:
                    type: string
                    description: URL address of the organization.
                  OrgURLText:
                    type: string
                    description: URL text of the organization.
            OrgRecAreaID:
              type: string
              description: ID of the organization's recreation area.
            ParentOrgID:
              type: string
              description: ID of the parent organization.
            RECAREAADDRESS:
              type: array
              description: Address information of the recreation area.
              items:
                type: object
                properties:
                  AddressCountryCode:
                    type: string
                    description: Country code of the address.
                  AddressStateCode:
                    type: string
                    description: State code of the address.
                  City:
                    type: string
                    description: City of the address.
                  LastUpdatedDate:
                    type: string
                    description: Last updated date of the address.
                  PostalCode:
                    type: string
                    description: Postal code of the address.
                  RecAreaAddressID:
                    type: string
                    description: ID of the recreation area address.
                  RecAreaAddressType:
                    type: string
                    description: Type of recreation area address.
                  RecAreaID:
                    type: string
                    description: ID of the recreation area.
                  RecAreaStreetAddress1:
                    type: string
                    description: Street address line 1 of the recreation area.
                  RecAreaStreetAddress2:
                    type: string
                    description: Street address line 2 of the recreation area.
                  RecAreaStreetAddress3:
                    type: string
                    description: Street address line 3 of the recreation area.
            RecAreaDescription:
              type: string
              description: Description of the recreation area.
            RecAreaDirections:
              type: string
              description: Directions to the recreation area.
            RecAreaEmail:
              type: string
              description: Email address of the recreation area.
            RecAreaFeeDescription:
              type: string
              description: Description of fees at the recreation area.
            RecAreaID:
              type: string
              description: ID of the recreation area.
            RecAreaLatitude:
              type: number
              description: Latitude of the recreation area.
            RecAreaLongitude:
              type: number
              description: Longitude of the recreation area.
            RecAreaMapURL:
              type: string
              description: Map URL of the recreation area.
            RecAreaName:
              type: string
              description: Name of the recreation area.
            RecAreaPhone:
              type: string
              description: Phone number of the recreation area.
            RecAreaReservationURL:
              type: string
              description: Reservation URL for the recreation area.
            Reservable:
              type: boolean
              description: Indicates if the area is reservable.
            StayLimit:
              type: string
              description: Limit for stay at the recreation area.
    tours:
      type: DeclarativeStream
      name: tours
      primary_key:
        - TourID
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://ridb.recreation.gov/api/v1/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['apikey'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: /tours
          http_method: GET
          request_parameters:
            query: '{{ config[''query_'' + "tours"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - RECDATA
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            ATTRIBUTES:
              type: array
              description: >-
                Contains attributes related to tours such as location, duration, and
                price.
              items:
                type: object
                properties:
                  AttributeID:
                    type: integer
                    description: Unique identifier for the attribute.
                  AttributeName:
                    type: string
                    description: Name of the attribute.
                  AttributeValue:
                    type: string
                    description: Value of the attribute.
            CreatedDate:
              type: string
              description: Date when the tour data was created.
            ENTITYMEDIA:
              type: array
              description:
                Contains media files associated with tours, like images
                and videos.
              items:
                type: object
                properties:
                  Credits:
                    type: string
                    description: Credits for the media entity.
                  Description:
                    type: string
                    description: Description of the media entity.
                  EmbedCode:
                    type: string
                    description: Embed code for the media entity.
                  EntityID:
                    type: string
                    description: ID of the entity associated with the media.
                  EntityMediaID:
                    type: string
                    description: Unique identifier for the media entity.
                  EntityType:
                    type: string
                    description: Type of the entity for the media.
                  Height:
                    type: integer
                    description: Height of the media entity.
                  IsGallery:
                    type: boolean
                    description: Flag indicating whether the media is in a gallery.
                  IsPreview:
                    type: boolean
                    description: Flag indicating whether the media is a preview.
                  IsPrimary:
                    type: boolean
                    description:
                      Flag indicating whether the media is the primary
                      one.
                  MediaType:
                    type: string
                    description: Type of the media (e.g., image, video).
                  Subtitle:
                    type: string
                    description: Subtitle for the media entity.
                  Title:
                    type: string
                    description: Title of the media entity.
                  URL:
                    type: string
                    description: URL of the media entity.
                  Width:
                    type: integer
                    description: Width of the media entity.
            FacilityID:
              type: string
              description: Identifier for the facility associated with the tour.
            LastUpdatedDate:
              type: string
              description: Date when the tour data was last updated.
            MEMBERTOURS:
              type:
                - "null"
                - array
              description: >-
                Contains information about specific tours offered by different members
                or companies.
              items:
                type: object
                properties:
                  MemberTourID:
                    type:
                      - string
                      - integer
                      - "null"
                    description: Unique identifier for the member tour.
            TourAccessible:
              type: boolean
              description: Flag indicating whether the tour is accessible.
            TourDescription:
              type: string
              description: Description of the tour.
            TourDuration:
              type: integer
              description: Duration of the tour.
            TourID:
              type: string
              description: Unique identifier for the tour.
            TourName:
              type: string
              description: Name of the tour.
            TourType:
              type: string
              description: Type of the tour (e.g., guided, self-guided).
  base_requester:
    type: HttpRequester
    url_base: https://ridb.recreation.gov/api/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['apikey'] }}"
      inject_into:
        type: RequestOption
        field_name: apikey
        inject_into: header
streams:
  - type: DeclarativeStream
    name: organizations
    primary_key:
      - OrgID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /organizations
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "organizations"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          LastUpdatedDate:
            type: string
            description: The date when the organization data was last updated.
          OrgAbbrevName:
            type: string
            description: The abbreviated name of the organization.
          OrgID:
            type: string
            description: The unique identifier for the organization.
          OrgImageURL:
            type: string
            description: The URL of the image associated with the organization.
          OrgJurisdictionType:
            type: string
            description: The type of jurisdiction under which the organization operates.
          OrgName:
            type: string
            description: The full name of the organization.
          OrgParentID:
            type: string
            description: The identifier of the parent organization, if applicable.
          OrgType:
            type: string
            description: The type or category of the organization.
          OrgURLAddress:
            type: string
            description: The web address associated with the organization.
          OrgURLText:
            type: string
            description:
              The clickable text or label associated with the organization
              URL.
  - type: DeclarativeStream
    name: media
    primary_key:
      - EntityMediaID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /media
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "media"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          Credits:
            type: string
            description: The credits or creators associated with the media.
          Description:
            type: string
            description: A detailed description or caption of the media.
          EmbedCode:
            type: string
            description: The embed code for integrating the media on websites or platforms.
          EntityID:
            type: string
            description: Unique identifier of the entity related to the media.
          EntityMediaID:
            type: string
            description: Unique identifier of the media within the entity.
          EntityType:
            type: string
            description: The type of entity to which the media belongs.
          Height:
            type: integer
            description: The height dimension of the media in pixels.
          IsGallery:
            type: boolean
            description: Indicates if the media is part of a gallery or collection.
          IsPreview:
            type: boolean
            description: Indicates if the media is a preview or teaser.
          IsPrimary:
            type: boolean
            description:
              Indicates if the media is the primary or main media for the
              entity.
          MediaType:
            type: string
            description: The type or format of the media (e.g., image, video).
          Subtitle:
            type: string
            description: Additional text or information accompanying the media.
          Title:
            type: string
            description: The title or headline of the media.
          URL:
            type: string
            description: The URL link to access or view the media.
          Width:
            type: integer
            description: The width dimension of the media in pixels.
  - type: DeclarativeStream
    name: links
    primary_key:
      - EntityLinkID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /links
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "links"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          Description:
            type: string
            description: A brief description of the link
          EntityID:
            type: string
            description: The unique identifier of the entity associated with the link
          EntityLinkID:
            type: string
            description: The unique identifier of the entity link
          EntityType:
            type: string
            description: The type of entity associated with the link
          LinkType:
            type: string
            description: The type or category of the link
          Title:
            type: string
            description: The title of the link
          URL:
            type: string
            description: The URL of the link
  - type: DeclarativeStream
    name: facilityaddresses
    primary_key:
      - FacilityAddressID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /facilityaddresses
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "facilityaddresses"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          AddressCountryCode:
            type: string
            description: The country code of the facility address.
          AddressStateCode:
            type: string
            description: The state code of the facility address.
          City:
            type: string
            description: The city where the facility is located.
          FacilityAddressID:
            type: string
            description: The unique identifier for the facility address.
          FacilityAddressType:
            type: string
            description: The type of facility address (e.g., main, billing).
          FacilityID:
            type: string
            description: The unique identifier for the facility.
          FacilityStreetAddress1:
            type: string
            description: The primary street address of the facility.
          FacilityStreetAddress2:
            type: string
            description: The secondary street address of the facility.
          FacilityStreetAddress3:
            type: string
            description: Any additional street address details.
          LastUpdatedDate:
            type: string
            description: The date when the facility address was last updated.
          PostalCode:
            type: string
            description: The postal code of the facility address.
  - type: DeclarativeStream
    name: facilities
    primary_key:
      - FacilityID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /facilities
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "facilities"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          ACTIVITY:
            type: array
            description:
              Information about recreational activities available at the
              facility.
            items:
              type: object
              properties:
                ActivityID:
                  type: string
                  description: Unique identifier for the activity
                ActivityName:
                  type: string
                  description: Name of the activity
                FacilityActivityDescription:
                  type: string
                  description: Description of the activity provided by the facility
                FacilityActivityFeeDescription:
                  type: string
                  description: Description of any fees associated with the activity
                FacilityID:
                  type: string
                  description: Unique identifier for the facility
          CAMPSITE:
            type: array
            description: Details about campsites within the recreation area.
            items:
              type: object
              properties:
                CampsiteID:
                  type: string
                  description: Unique identifier for the campsite
                CampsiteName:
                  type: string
                  description: Name of the campsite
                ResourceLink:
                  type: string
                  description: Link to additional resources related to the campsite
          EVENT:
            type: array
            description: Events and activities taking place at the facility.
            items:
              type: object
              properties:
                EventID:
                  type: string
                  description: Unique identifier for the event
                EventName:
                  type: string
                  description: Name of the event
                ResourceLink:
                  type: string
                  description: Link to additional resources related to the event
          Enabled:
            type: boolean
            description: Indicates if the facility is currently enabled or active
          FACILITYADDRESS:
            type: array
            description: Address information for the facility location.
            items:
              type: object
              properties:
                AddressCountryCode:
                  type: string
                  description: Country code of the facility address
                AddressStateCode:
                  type: string
                  description: State code of the facility address
                City:
                  type: string
                  description: City of the facility address
                FacilityAddressID:
                  type: string
                  description: Unique identifier for the facility address
                FacilityAddressType:
                  type: string
                  description: Type of the facility address
                FacilityID:
                  type: string
                  description: Unique identifier for the facility
                FacilityStreetAddress1:
                  type: string
                  description: Street address line 1 of the facility
                FacilityStreetAddress2:
                  type: string
                  description: Street address line 2 of the facility
                FacilityStreetAddress3:
                  type: string
                  description: Street address line 3 of the facility
                LastUpdatedDate:
                  type: string
                  description: Date when the address information was last updated
                PostalCode:
                  type: string
                  description: Postal code of the facility address
          FacilityAdaAccess:
            type: string
            description: Information about ADA access at the facility
          FacilityDescription:
            type: string
            description: Description of the facility
          FacilityDirections:
            type: string
            description: Directions to reach the facility
          FacilityEmail:
            type: string
            description: Email address of the facility
          FacilityID:
            type: string
            description: Unique identifier for the facility
          FacilityLatitude:
            type: number
            description: Latitude coordinate of the facility location
          FacilityLongitude:
            type: number
            description: Longitude coordinate of the facility location
          FacilityMapURL:
            type: string
            description: URL to the map of the facility location
          FacilityName:
            type: string
            description: Name of the facility
          FacilityPhone:
            type: string
            description: Phone number of the facility
          FacilityReservationURL:
            type: string
            description: URL for making reservations at the facility
          FacilityTypeDescription:
            type: string
            description: Description of the facility type
          FacilityUseFeeDescription:
            type: string
            description: Description of any usage fees associated with the facility
          GEOJSON:
            type: object
            description: Geospatial data in GeoJSON format for mapping coordinates.
            properties:
              COORDINATES:
                type:
                  - array
                  - "null"
                description: Geographical coordinates of the facility.
                items:
                  type:
                    - string
                    - number
                    - "null"
              TYPE:
                type: string
                description: Type of the GeoJSON data (e.g., Point, Polygon).
          Keywords:
            type: string
            description: Keywords related to the facility
          LINK:
            type: array
            description: Links to related resources or external websites.
            items:
              type: object
              properties:
                Description:
                  type: string
                  description: Description of the link
                EntityID:
                  type: string
                  description: Identifier of the entity related to the link
                EntityLinkID:
                  type: string
                  description: Unique identifier for the entity link
                EntityType:
                  type: string
                  description: Type of the entity related to the link
                LinkType:
                  type: string
                  description: Type of the link
                Title:
                  type: string
                  description: Title of the link
                URL:
                  type: string
                  description: URL of the link
          LastUpdatedDate:
            type: string
            description: Date when the facility information was last updated
          LegacyFacilityID:
            type: string
            description: Legacy identifier for the facility
          MEDIA:
            type: array
            description: Multimedia content associated with the facility.
            items:
              type: object
              properties:
                Credits:
                  type: string
                  description: Credits for the media content
                Description:
                  type: string
                  description: Description of the media content
                EmbedCode:
                  type: string
                  description: Embed code for the media content
                EntityID:
                  type: string
                  description: Identifier of the entity related to the media
                EntityMediaID:
                  type: string
                  description: Unique identifier for the entity media
                EntityType:
                  type: string
                  description: Type of the entity related to the media
                Height:
                  type: integer
                  description: Height of the media content
                IsGallery:
                  type: boolean
                  description: Indicates if the media content is part of a gallery
                IsPreview:
                  type: boolean
                  description: Indicates if the media content is a preview
                IsPrimary:
                  type: boolean
                  description: Indicates if the media content is the primary media
                MediaType:
                  type: string
                  description: Type of the media content
                Subtitle:
                  type: string
                  description: Subtitle of the media content
                Title:
                  type: string
                  description: Title of the media content
                URL:
                  type: string
                  description: URL of the media content
                Width:
                  type: integer
                  description: Width of the media content
          ORGANIZATION:
            type: array
            description: Details about the organization managing the facility.
            items:
              type: object
              properties:
                LastUpdatedDate:
                  type: string
                  description: Date when the organization information was last updated
                OrgAbbrevName:
                  type: string
                  description: Abbreviated name of the organization
                OrgID:
                  type: string
                  description: Unique identifier for the organization
                OrgImageURL:
                  type: string
                  description: URL of the organization's image/logo
                OrgJurisdictionType:
                  type: string
                  description: Type of jurisdiction for the organization
                OrgName:
                  type: string
                  description: Name of the organization
                OrgParentID:
                  type: string
                  description: Identifier of the parent organization
                OrgType:
                  type: string
                  description: Type of the organization
                OrgURLAddress:
                  type: string
                  description: URL of the organization's address
                OrgURLText:
                  type: string
                  description: Text description of the organization's URL
          OrgFacilityID:
            type: string
            description: Identifier for the organization's facility
          PERMITENTRANCE:
            type: array
            description: Entrance permit requirements and information.
            items:
              type: object
              properties:
                PermitEntranceID:
                  type: string
                  description: Unique identifier for the permit entrance
                PermitEntranceName:
                  type: string
                  description: Name of the permit entrance
                ResourceLink:
                  type: string
                  description: Link to additional resources related to the permit entrance
          ParentOrgID:
            type: string
            description: Identifier of the parent organization
          ParentRecAreaID:
            type: string
            description: Identifier of the parent recreation area
          RECAREA:
            type: array
            description: General information about the recreational area.
            items:
              type: object
              properties:
                RecAreaID:
                  type: string
                  description: Unique identifier for the recreation area
                RecAreaName:
                  type: string
                  description: Name of the recreation area
                ResourceLink:
                  type: string
                  description:
                    Link to additional resources related to the recreation
                    area
          Reservable:
            type: boolean
            description: Indicates if the facility is reservable
          StayLimit:
            type: string
            description: Limit on the length of stay at the facility
          TOUR:
            type: array
            description: Guided tours available at the facility.
            items:
              type: object
              properties:
                ResourceLink:
                  type: string
                  description: Link to additional resources related to the tour
                TourID:
                  type: string
                  description: Unique identifier for the tour
                TourName:
                  type: string
                  description: Name of the tour
  - type: DeclarativeStream
    name: events
    primary_key:
      - EventID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /events
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "events"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          EventID:
            type: string
            description: Unique identifier for the event.
          EventName:
            type: string
            description: Name or title of the event.
          ResourceLink:
            type: string
            description: URL or link to the resource related to the event.
  - type: DeclarativeStream
    name: activities
    primary_key:
      - ActivityID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /activities
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "activities"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          ActivityID:
            type: integer
            description: Unique identifier for the activity.
          ActivityLevel:
            type: integer
            description: Indicates the level of difficulty or intensity of the activity.
          ActivityName:
            type: string
            description: Name or title of the activity.
          ActivityParentID:
            type: integer
            description: >-
              Identifier for the parent activity, if this activity is part of a
              hierarchy.
  - type: DeclarativeStream
    name: campsites
    primary_key:
      - CampsiteID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /campsites
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "campsites"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          ATTRIBUTES:
            type: array
            description: List of attributes associated with the campsite.
            items:
              type: object
              properties:
                AttributeID:
                  type: integer
                  description: Unique identifier for the attribute.
                AttributeName:
                  type: string
                  description: Name of the attribute.
                AttributeValue:
                  type: string
                  description: Value of the attribute.
          CampsiteAccessible:
            type: boolean
            description: Indicates if the campsite is accessible (true/false).
          CampsiteID:
            type: string
            description: Unique identifier for the campsite.
          CampsiteLatitude:
            type: number
            description: Latitude coordinate of the campsite location.
          CampsiteLongitude:
            type: number
            description: Longitude coordinate of the campsite location.
          CampsiteName:
            type: string
            description: Name of the campsite.
          CampsiteType:
            type: string
            description: Type of the campsite.
          CreatedDate:
            type: string
            description: Date when the campsite record was created.
          ENTITYMEDIA:
            type: array
            description: Media associated with the campsite.
            items:
              type: object
              properties:
                Credits:
                  type: string
                  description: Credits for the media.
                Description:
                  type: string
                  description: Description of the media.
                EmbedCode:
                  type: string
                  description: Embed code for the media.
                EntityID:
                  type: string
                  description: Unique identifier of the entity associated with the media.
                EntityMediaID:
                  type: string
                  description: Unique identifier for the media.
                EntityType:
                  type: string
                  description: Type of entity associated with the media.
                Height:
                  type: integer
                  description: Height dimension of the media.
                IsGallery:
                  type: boolean
                  description: Indicates if the media is in a gallery (true/false).
                IsPreview:
                  type: boolean
                  description: Indicates if the media is a preview (true/false).
                IsPrimary:
                  type: boolean
                  description: Indicates if the media is the primary one (true/false).
                MediaType:
                  type: string
                  description: Type of media.
                Subtitle:
                  type: string
                  description: Subtitle of the media.
                Title:
                  type: string
                  description: Title of the media.
                URL:
                  type: string
                  description: URL of the media.
                Width:
                  type: integer
                  description: Width dimension of the media.
          FacilityID:
            type: string
            description: Unique identifier for the facility associated with the campsite.
          LastUpdatedDate:
            type: string
            description: Date when the campsite record was last updated.
          Loop:
            type: string
            description: Loop information associated with the campsite.
          PERMITTEDEQUIPMENT:
            type: array
            description: List of permitted equipment at the campsite.
            items:
              type: object
              properties:
                EquipmentName:
                  type: string
                  description: Name of the permitted equipment.
                MaxLength:
                  type: integer
                  description: Maximum length allowed for the equipment.
          TypeOfUse:
            type: string
            description: Type of use permitted at the campsite.
  - type: DeclarativeStream
    name: permits
    primary_key:
      - PermitEntranceID
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://ridb.recreation.gov/api/v1/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['apikey'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: /permits
        http_method: GET
        request_parameters:
          query: '{{ config[''query_'' + "permits"] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - RECDATA
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          ATTRIBUTES:
            type: array
            description: Details of the various attributes associated with the permit.
            items:
              type: object
              properties:
[...]
