version: 6.41.5

type: DeclarativeSource

description: >-
  The Google My Business Metrics connector enables users to efficiently
  synchronize key performance metrics from Google My Business accounts into
  their data destination. This connector retrieves data such as views, clicks,
  calls, reviews, and user interactions, allowing for streamlined analytics,
  reporting, and integration into broader business intelligence workflows.

check:
  type: CheckStream
  stream_names:
    - BusinessMetrics

definitions:
  streams:
    BusinessMetrics:
      type: DeclarativeStream
      name: BusinessMetrics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            locations/{{ stream_partition['location_id']
            }}:fetchMultiDailyMetricsTimeSeries?{% for metric in
            config['daily_metrics'] %}dailyMetrics={{ metric }}{% if not
            loop.last %}&{% endif %}{% endfor %}&dailyRange.start_date.year={{
            stream_slice['start_time'].split('-')[0]
            }}&dailyRange.start_date.month={{
            stream_slice['start_time'].split('-')[1] | int
            }}&dailyRange.start_date.day={{
            stream_slice['start_time'].split('-')[2] | int
            }}&dailyRange.end_date.year={{
            stream_slice['end_time'].split('-')[0]
            }}&dailyRange.end_date.month={{
            stream_slice['end_time'].split('-')[1] | int
            }}&dailyRange.end_date.day={{ stream_slice['end_time'].split('-')[2]
            | int }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - multiDailyMetricTimeSeries
              - "*"
              - dailyMetricTimeSeries
              - "*"
        partition_router:
          type: ListPartitionRouter
          values: "{{ config['location_ids'] }}"
          cursor_field: location_id
      transformations:
        - type: AddFields
          fields:
            - path:
                - location_id
              value: "{{ stream_partition['location_id'] }}"
            - path:
                - date_string
              value: >-
                {{ record['timeSeries']['datedValues'][0]['date']['year'] }}-{{
                '%02d' |
                format(record['timeSeries']['datedValues'][0]['date']['month'])
                }}-{{ '%02d' |
                format(record['timeSeries']['datedValues'][0]['date']['day']) }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/BusinessMetrics"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1D
        cursor_field: date_string
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        cursor_granularity: P1D
        cursor_datetime_formats:
          - "%Y-%m-%d"
  base_requester:
    type: HttpRequester
    url_base: https://businessprofileperformance.googleapis.com/v1/
    authenticator:
      type: OAuthAuthenticator
      scopes:
        - https://www.googleapis.com/auth/business.manage
      client_id: "{{ config['client_id'] }}"
      client_secret: "{{ config['client_secret'] }}"
      refresh_token: "{{ config['refresh_token'] }}"
      access_token_name: access_token
      refresh_request_body:
        client_id: "{{ config['client_id'] }}"
        grant_type: refresh_token
        client_secret: "{{ config['client_secret'] }}"
        refresh_token: "{{ config['refresh_token'] }}"
      token_refresh_endpoint: https://oauth2.googleapis.com/token

streams:
  - $ref: "#/definitions/streams/BusinessMetrics"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - refresh_token
      - location_ids
      - daily_metrics
      - start_date
    properties:
      client_id:
        type: string
        description: Google OAuth Client ID
        order: 0
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        description: Google OAuth Client Secret
        order: 1
        title: Client Secret
        airbyte_secret: true
      refresh_token:
        type: string
        description: Google OAuth Refresh Token
        order: 2
        title: Refresh Token
        airbyte_secret: true
      location_ids:
        type: array
        description: List of Google My Business location IDs
        order: 3
        title: Location IDs
        items:
          type: string
      daily_metrics:
        type: array
        description: List of daily metrics to fetch
        order: 4
        title: Daily Metrics
        items:
          type: string
          enum:
            - WEBSITE_CLICKS
            - BUSINESS_IMPRESSIONS_DESKTOP_MAPS
            - BUSINESS_IMPRESSIONS_DESKTOP_SEARCH
            - BUSINESS_IMPRESSIONS_MOBILE_MAPS
            - BUSINESS_IMPRESSIONS_MOBILE_SEARCH
            - BUSINESS_CONVERSATIONS
            - BUSINESS_DIRECTION_REQUESTS
            - CALL_CLICKS
            - BUSINESS_BOOKINGS
            - BUSINESS_FOOD_ORDERS
            - BUSINESS_FOOD_MENU_CLICKS
        default:
          - WEBSITE_CLICKS
      start_date:
        type: string
        description: Start date for data extraction
        order: 5
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    BusinessMetrics:
      streamHash: f5c6cb17ee0e5b494fd446e8f2ee4708e6a025bd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  autoImportSchema:
    BusinessMetrics: false

schemas:
  BusinessMetrics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - dailyMetric
      - location_id
      - date_string
    properties:
      dailyMetric:
        type: string
        description: The type of metric (e.g., WEBSITE_CLICKS)
      location_id:
        type: string
        description: Google My Business location ID
      date_string:
        type: string
        description: Date in YYYY-MM-DD format
      timeSeries:
        type: object
        properties:
          datedValues:
            type: array
            items:
              type: object
              properties:
                date:
                  type: object
                  properties:
                    year:
                      type: integer
                    month:
                      type: integer
                    day:
                      type: integer
                value:
                  type: string
                  description: Metric value as string
    additionalProperties: true
