version: 6.5.2

type: DeclarativeSource

description: >-
  Add an optional users_to_fetch filter to only retriever calls from a subset of
  users

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    calls:
      type: DeclarativeStream
      name: calls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls
          http_method: GET
          request_parameters:
            fromDateTime: "{{ stream_interval['start_time'] }}"
            toDateTime: "{{ stream_interval['end_time'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
          record_filter:
            type: RecordFilter
            condition: >-
              {{ record.primaryUserId in config.users_to_fetch if
              config.users_to_fetch else True }}
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
    extensiveCalls:
      type: DeclarativeStream
      name: extensiveCalls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: calls/extensive
          http_method: POST
          request_body_json:
            filter:
              fromDateTime: "{{ config['start_date'] }}"
            contentSelector:
              exposedFields:
                media: true
                content:
                  brief: true
                  topics: true
                  outline: true
                  trackers: true
                  keyPoints: true
                  structure: true
                  highlights: true
                  callOutcome: true
                  pointsOfInterest: true
                  trackerOccurrences: true
                parties: true
                interaction:
                  video: true
                  speakers: true
                  questions: true
                  personInteractionStats: true
                collaboration:
                  publicComments: true
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
          record_filter:
            type: RecordFilter
            condition: >-
              {{ record.metaData.primaryUserId in config.users_to_fetch if
              config.users_to_fetch else True }}
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ record['metaData']['id'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/extensiveCalls"
    scorecards:
      type: DeclarativeStream
      name: scorecards
      primary_key:
        - scorecardId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /settings/scorecards
          http_method: GET
          request_parameters:
            fromDateTime: "{{ stream_interval['start_time'] }}"
            toDateTime: "{{ stream_interval['end_time'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - scorecards
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scorecards"
    answeredScorecards:
      type: DeclarativeStream
      name: answeredScorecards
      primary_key:
        - answeredScorecardId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /stats/activity/scorecards
          http_method: POST
          request_parameters:
            fromDateTime: "{{ config['start_date'] }}"
          request_body_json:
            filter: "{\"callFromDate\": \"{{ config[\"start_date\"] }}\"}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - answeredScorecards
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/answeredScorecards"
    transcripts:
      type: DeclarativeStream
      name: transcripts
      primary_key:
        - callId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls/transcript
          http_method: POST
          request_body_json:
            filter:
              callIds:
                - "{{stream_partition['parent_id']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - callTranscripts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.records.cursor }}"
            stop_condition: "{{ 'records' not in response }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/calls"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transcripts"
  base_requester:
    type: HttpRequester
    url_base: https://api.gong.io/v2/
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"access_key_secret\"] }}"
      username: "{{ config[\"access_key\"] }}"

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/extensiveCalls"
  - $ref: "#/definitions/streams/scorecards"
  - $ref: "#/definitions/streams/answeredScorecards"
  - $ref: "#/definitions/streams/transcripts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_key
      - access_key_secret
    properties:
      access_key:
        type: string
        description: Gong Access Key
        order: 0
        title: Gong Access Key
        airbyte_secret: true
      access_key_secret:
        type: string
        description: Gong Access Key Secret
        order: 1
        title: Gong Access Key Secret
        airbyte_secret: true
      start_date:
        type: string
        description: >-
          The date from which to list calls, in the ISO-8601 format; if not
          specified, the calls start with the earliest recorded call. For
          web-conference calls recorded by Gong, the date denotes its scheduled
          time, otherwise, it denotes its actual start time.
        order: 2
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2018-02-18T08:00:00Z"
      users_to_fetch:
        type: array
        order: 3
        title: users_to_fetch
    additionalProperties: true

metadata:
  autoImportSchema:
    users: false
    calls: false
    extensiveCalls: false
    scorecards: false
    answeredScorecards: false
    transcripts: false
  testedStreams:
    users:
      hasRecords: true
      streamHash: c6b2bab08397024790447b2ea909e5e2056b3778
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    calls:
      streamHash: f098011a32a9a2db4f971dfe0b7ab7a1fdd15f27
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    extensiveCalls:
      hasRecords: true
      streamHash: ce729c6457e02eaac13aa230b4d7535dbce6820e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    scorecards:
      streamHash: c8864279bea471fdef85d8c60f1b8d3f04b86cd3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    answeredScorecards:
      hasRecords: true
      streamHash: 42e030943265c512ecbca24e953416c157210edf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transcripts:
      streamHash: 3c8d888fe526f1716fa37a850de9767b382e6ded
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Indicates if the user is currently active or not
      created:
        type:
          - "null"
          - string
        description: The timestamp denoting when the user account was created
        format: date-time
      emailAddress:
        type:
          - "null"
          - string
        description: The primary email address associated with the user
      emailAliases:
        type:
          - "null"
          - array
        description: Additional email addresses that can be used to reach the user
      extension:
        type:
          - "null"
          - string
        description: The phone extension number for the user
      firstName:
        type:
          - "null"
          - string
        description: The first name of the user
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the user
      lastName:
        type:
          - "null"
          - string
        description: The last name of the user
      managerId:
        type:
          - "null"
          - string
        description: The ID of the user's manager
      meetingConsentPageUrl:
        type:
          - "null"
          - string
        description: URL for the consent page related to meetings
      personalMeetingUrls:
        type:
          - "null"
          - array
        description: URLs for personal meeting rooms assigned to the user
      phoneNumber:
        type:
          - "null"
          - string
        description: The phone number associated with the user
      settings:
        type:
          - "null"
          - object
        description: User-specific settings and configurations
      spokenLanguages:
        type:
          - "null"
          - array
        description: Languages spoken by the user
      title:
        type:
          - "null"
          - string
        description: The job title or position of the user
      trustedEmailAddress:
        type:
          - "null"
          - string
        description: An email address that is considered trusted for the user
  calls:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      calendarEventId:
        type:
          - string
          - "null"
      clientUniqueId:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      duration:
        type:
          - number
          - "null"
      id:
        type: string
      isPrivate:
        type:
          - boolean
          - "null"
      language:
        type:
          - string
          - "null"
      media:
        type:
          - string
          - "null"
      meetingUrl:
        type:
          - string
          - "null"
      primaryUserId:
        type:
          - string
          - "null"
      purpose:
        type:
          - string
          - "null"
      scheduled:
        type:
          - string
          - "null"
      scope:
        type:
          - string
          - "null"
      sdrDisposition:
        type:
          - string
          - "null"
      started:
        type:
          - string
          - "null"
      system:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      workspaceId:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  extensiveCalls:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      collaboration:
        type:
          - object
          - "null"
        description: Collaboration information added to the call
        properties:
          brief:
            type:
              - string
              - "null"
      content:
        type:
          - object
          - "null"
        description: Analysis of the interaction content.
        properties:
          brief:
            type:
              - string
              - "null"
          highlights:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      startTimes:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - number
                            - "null"
                      text:
                        type:
                          - string
                          - "null"
                title:
                  type:
                    - string
                    - "null"
          keyPoints:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                text:
                  type:
                    - string
                    - "null"
          outline:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      startTime:
                        type:
                          - number
                          - "null"
                      text:
                        type:
                          - string
                          - "null"
                section:
                  type:
                    - string
                    - "null"
                startTime:
                  type:
                    - number
                    - "null"
          pointsOfInterest:
            type:
              - object
              - "null"
            properties:
              actionItems:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    snippet:
                      type:
                        - string
                        - "null"
                    snippetEndTime:
                      type:
                        - number
                        - "null"
                    snippetStartTime:
                      type:
                        - number
                        - "null"
                    speakerID:
                      type:
                        - string
                        - "null"
          topics:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          trackers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                count:
                  type:
                    - number
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                occurrences:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      speakerId:
                        type:
                          - string
                          - "null"
                      startTime:
                        type:
                          - number
                          - "null"
                phrases:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      count:
                        type:
                          - number
                          - "null"
                      occurrences:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            speakerId:
                              type:
                                - string
                                - "null"
                            startTime:
                              type:
                                - number
                                - "null"
                      phrase:
                        type:
                          - string
                          - "null"
      context:
        description: A list of the agenda of each part of the call.
        properties:
          objects:
            type: array
            description: List of objects within the external system.
            items:
              type: object
              properties:
                fields:
                  type: array
                  description: array<External object data>.
                  items:
                    type: object
                    properties:
                      name:
                        type:
                          - "null"
                          - string
                        description: >-
                          Field name. For Account supported fields are: Name,
                          Website, Industry and all the custom fields. For
                          Opportunity supported fields are Name, LeadSource,
                          Type, StageName, Probability, Amount, CloseDate and
                          all the custom fields.
                      value:
                        type:
                          - "null"
                          - object
                        description: Field value.
                objectId:
                  type:
                    - "null"
                    - string
                  description: Object ID.
                objectType:
                  type:
                    - "null"
                    - string
                  description: "Object Type. Allowed: Opportunity, Account"
                timing:
                  type:
                    - "null"
                    - string
                  description: "Timing of object. Allowed: Now, TimeOfCall."
          system:
            type:
              - "null"
              - string
            description: >-
              External system name. Allowed: Salesforce, HubSpot,
              MicrosoftDynamic, Generic.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the call (from metaData.id).
      interaction:
        type:
          - object
          - "null"
        description: Metrics collected around the interaction during the call.
        properties:
          interactionStats:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
          questions:
            type:
              - object
              - "null"
            properties:
              companyCount:
                type:
                  - number
                  - "null"
              nonCompanyCount:
                type:
                  - number
                  - "null"
          speakers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                talkTime:
                  type:
                    - number
                    - "null"
                userId:
                  type:
                    - string
                    - "null"
          video:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                duration:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      media:
        description: The media urls of the call.
        properties:
          audioUrl:
            type:
              - "null"
              - string
            description: >-
              If true and exist, add audio url of the call. The url will be
              available for 8 hours.
          videoUrl:
            type:
              - "null"
              - string
            description: >-
              If true and exist, add video url of the call. The url will be
              available for 8 hours.
      metaData:
        type:
          - object
          - "null"
        description: call's metadata.
        properties:
          calendarEventId:
            type:
              - "null"
              - string
            description: Unique identifier for the calendar event associated with the call.
          clientUniqueId:
            type:
              - "null"
              - string
            description: Unique identifier for the client related to the call.
          customData:
            type:
              - "null"
              - string
            description: Custom data associated with the call.
          direction:
            type:
              - "null"
              - string
            description: Direction of the call (inbound/outbound).
          duration:
            type:
              - "null"
              - integer
            description: Duration of the call in seconds.
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the call.
          isPrivate:
            type:
              - "null"
              - boolean
            description: Indicates if the call is private or not.
          language:
            type:
              - "null"
              - string
            description: Language used in the call.
          media:
            type:
              - "null"
              - string
            description: Media type used for communication (voice, video, etc.).
          meetingUrl:
            type:
              - "null"
              - string
            description: URL for accessing the meeting associated with the call.
          primaryUserId:
            type:
              - "null"
              - string
            description: Unique identifier for the primary user involved in the call.
          purpose:
            type:
              - "null"
              - string
            description: Purpose or topic of the call.
          scheduled:
            type:
              - "null"
              - string
            description: Scheduled date and time of the call.
            format: date-time
          scope:
            type:
              - "null"
              - string
            description: Scope or extent of the call.
          sdrDisposition:
            type:
              - "null"
              - string
            description: Disposition set by the sales development representative.
          started:
            type:
              - "null"
              - string
            description: Start date and time of the call.
            format: date-time
          system:
            type:
              - "null"
              - string
            description: System information related to the call.
          title:
            type:
              - "null"
              - string
            description: Title or headline of the call.
          url:
            type:
              - "null"
              - string
            description: URL associated with the call.
          workspaceId:
            type:
              - "null"
              - string
            description: Identifier for the workspace to which the call belongs.
      parties:
        type:
          - array
          - "null"
        description: A list of the call's participants
        items:
          type:
            - object
            - "null"
          properties:
            affiliation:
              type:
                - string
                - "null"
              description: >-
                Whether the participant is from the company or not. Allowed:
                Internal, External, Unknown
            context:
              type:
                - object
                - "null"
              description: >-
                A list of links to external systems such as CRM, Dialer, Case
                Management, etc.
            emailAddress:
              type:
                - string
                - "null"
              description: Email address.
            id:
              type:
                - string
                - "null"
              description: Unique ID of the participant in the call.
            methods:
              type:
                - array
                - "null"
              description: >-
                Whether the participant was invited to the meeting or only
                attended the call. Allowed: Invitee, Attendee.
              items:
                type:
                  - string
                  - "null"
            name:
              type:
                - string
                - "null"
              description: The name of the participant.
            phoneNumber:
              type:
                - string
                - "null"
              description: The phone number of the participant.
            speakerId:
              type:
                - string
                - "null"
              description: >-
                Unique ID of a participant that spoke in the call. References to
                this id will appear in the '/v2/calls/transcript' endpoint
                response.
            title:
              type:
                - string
                - "null"
              description: The job title of the participant.
            userId:
              type:
                - string
                - "null"
              description: >-
                The user ID of the participant within the Gong system, if the
                participant exists in the system.
  scorecards:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      created:
        type:
          - string
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      questions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            answerOptions:
              type:
                - array
                - "null"
            created:
              type:
                - string
                - "null"
            isOverall:
              type:
                - boolean
                - "null"
            maxRange:
              type:
                - string
                - "null"
            minRange:
              type:
                - string
                - "null"
            questionId:
              type:
                - string
                - "null"
            questionRevisionId:
              type:
                - string
                - "null"
            questionText:
              type:
                - string
                - "null"
            questionType:
              type:
                - string
                - "null"
            updated:
              type:
                - string
                - "null"
            updaterUserId:
              type:
                - string
                - "null"
      scorecardId:
        type: string
      scorecardName:
        type:
          - string
          - "null"
      updated:
        type:
          - string
          - "null"
      updaterUserId:
        type:
          - string
          - "null"
      workspaceId:
        type:
          - string
          - "null"
    required:
      - scorecardId
    additionalProperties: true
  answeredScorecards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      answeredScorecardId:
        type:
          - "null"
          - string
        description: Unique identifier for the answered scorecard instance.
      answers:
        type:
          - "null"
          - array
        description: Contains the answered questions in the scorecards
        items:
          type:
            - "null"
            - object
          properties:
            answerText:
              type:
                - "null"
                - string
              description: Text containing the answer given.
            isOverall:
              type:
                - "null"
                - boolean
              description: >-
                Boolean flag indicating if the answer is for an overall
                evaluation.
            notApplicable:
              type:
                - "null"
                - boolean
              description: >-
                Boolean flag indicating if the question is marked as not
                applicable.
            questionId:
              type:
                - "null"
                - string
              description: Unique identifier for the question answered.
            questionRevisionId:
              type:
                - "null"
                - string
              description: Unique identifier for the revision of the question answered.
            score:
              type:
                - "null"
                - integer
              description: Numeric score assigned to the answer.
      callId:
        type:
          - "null"
          - string
        description: Unique identifier for the call associated with the answered scorecard.
      callStartTime:
        type:
          - "null"
          - string
        description: Timestamp indicating the start time of the call.
        format: date-time
      reviewTime:
        type:
          - "null"
          - string
        description: >-
          Timestamp indicating when the review of the answered scorecard was
          completed.
        format: date-time
      reviewedUserId:
        type:
          - "null"
          - string
        description: Unique identifier for the user whose performance was reviewed.
      reviewerUserId:
        type:
          - "null"
          - string
        description: Unique identifier for the user who performed the review.
      scorecardId:
        type:
          - "null"
          - string
        description: Unique identifier for the scorecard template used.
      scorecardName:
        type:
          - "null"
          - string
        description: Name or title of the scorecard template used.
      visibilityType:
        type:
          - "null"
          - string
        description: Type indicating the visibility permissions for the answered scorecard.
  transcripts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      callId:
        type: string
      transcript:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            sentences:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  end:
                    type:
                      - number
                      - "null"
                  start:
                    type:
                      - number
                      - "null"
                  text:
                    type:
                      - string
                      - "null"
            speakerId:
              type:
                - string
                - "null"
            topic:
              type:
                - string
                - "null"
    required:
      - callId
    additionalProperties: true
