@use "../../scss/colors";
@use "../../scss/variables";

.container {
  display: inline;
  position: relative;
}

.toolTip {
  font-size: 14px;
  line-height: initial;
  padding: variables.$spacing-md;
  margin: variables.$spacing-md;
  border-radius: 4px;
  min-width: 100px;
  max-width: 380px;
  z-index: variables.$z-tooltip;

  box-shadow: 0px 2px 4px rgba(colors.$dark-blue, 0.12);
  background: rgba(colors.$dark-blue, 0.9);
  color: colors.$white;

  &.light {
    background: rgba(colors.$white, 0.9);
    color: colors.$dark-blue;
  }
}
