version: 4.5.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - surveys

definitions:
  streams:
    surveys:
      type: DeclarativeStream
      name: surveys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /surveys
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - elements
        paginator:
          $ref: "#/definitions/paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys"

    survey_questions:
      type: DeclarativeStream
      name: survey_questions
      primary_key:
        - QuestionID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /survey-definitions/{{ stream_partition.survey_id }}/questions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - elements
        paginator:
          $ref: "#/definitions/paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                $ref: "#/definitions/streams/surveys"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/survey_questions"

    survey_responses:
      type: DeclarativeStream
      name: survey_responses
      primary_key:
        - responseId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /surveys/{{ stream_partition.survey_id }}/responses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - elements
        paginator:
          $ref: "#/definitions/paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                $ref: "#/definitions/streams/surveys"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastModified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', '2020-01-01T00:00:00Z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/survey_responses"

    distributions:
      type: DeclarativeStream
      name: distributions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /distributions
          http_method: GET
          request_parameters:
            surveyId: "{{ stream_partition.survey_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - elements
        paginator:
          $ref: "#/definitions/paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                $ref: "#/definitions/streams/surveys"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/distributions"

    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /directories/{{ config['directory_id'] }}/contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - elements
        paginator:
          $ref: "#/definitions/paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"

    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - elements
        paginator:
          $ref: "#/definitions/paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"

    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - elements
        paginator:
          $ref: "#/definitions/paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"

  base_requester:
    type: HttpRequester
    url_base: "https://{{ config['datacenter'] }}.qualtrics.com/API/v3"
    authenticator:
      type: SelectiveAuthenticator
      authenticator_selection_path:
        - credentials
        - auth_type
      authenticators:
        api_token:
          type: ApiKeyAuthenticator
          api_token: "{{ config['credentials']['api_token'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-API-TOKEN
        oauth2.0:
          type: OAuthAuthenticator
          client_id: "{{ config['credentials']['client_id'] }}"
          client_secret: "{{ config['credentials']['client_secret'] }}"
          refresh_token: "{{ config['credentials']['refresh_token'] }}"
          token_refresh_endpoint: "https://{{ config['datacenter'] }}.qualtrics.com/oauth2/token"
          grant_type: refresh_token
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - credentials
              - access_token
            token_expiry_date_config_path:
              - credentials
              - token_expiry_date
            refresh_token_config_path:
              - credentials
              - refresh_token
    error_handler:
      type: DefaultErrorHandler
      backoff_strategies:
        - type: ConstantBackoffStrategy
          backoff_time_in_seconds: 30
      response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
            - 429
            - 500
            - 504
        - type: HttpResponseFilter
          action: FAIL
          http_codes:
            - 401
            - 403
          error_message: "Authentication failed. Please check your credentials."

  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: skipToken
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('result', {}).get('nextPage', '') }}"
      stop_condition: "{{ not response.get('result', {}).get('nextPage') }}"

streams:
  - $ref: "#/definitions/streams/surveys"
  - $ref: "#/definitions/streams/survey_questions"
  - $ref: "#/definitions/streams/survey_responses"
  - $ref: "#/definitions/streams/distributions"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/groups"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - datacenter
      - credentials
    properties:
      datacenter:
        type: string
        title: Datacenter ID
        description: >-
          Your Qualtrics datacenter ID (e.g., "iad1", "fra1", "syd1").
          Found in your Qualtrics account URL: https://<datacenter>.qualtrics.com
        examples:
          - iad1
          - fra1
          - syd1
        order: 0
      credentials:
        type: object
        title: Authentication
        description: Choose how to authenticate with Qualtrics.
        order: 1
        oneOf:
          - type: object
            title: API Token
            required:
              - auth_type
              - api_token
            properties:
              auth_type:
                type: string
                const: api_token
                order: 0
              api_token:
                type: string
                title: API Token
                description: >-
                  Your Qualtrics API token. Found under Account Settings > Qualtrics IDs.
                airbyte_secret: true
                order: 1
          - type: object
            title: OAuth 2.0
            required:
              - auth_type
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: "oauth2.0"
                order: 0
              client_id:
                type: string
                title: Client ID
                description: The OAuth 2.0 client ID.
                airbyte_secret: true
                order: 1
              client_secret:
                type: string
                title: Client Secret
                description: The OAuth 2.0 client secret.
                airbyte_secret: true
                order: 2
              refresh_token:
                type: string
                title: Refresh Token
                description: The OAuth 2.0 refresh token.
                airbyte_secret: true
                order: 3
              access_token:
                type: string
                title: Access Token
                description: The current access token (auto-refreshed).
                airbyte_secret: true
                order: 4
              token_expiry_date:
                type: string
                title: Token Expiry Date
                description: The expiry date of the access token.
                format: date-time
                order: 5
      start_date:
        type: string
        title: Start Date
        description: >-
          Date from which to start syncing survey responses (incremental streams).
          Format: YYYY-MM-DDTHH:mm:ssZ
        examples:
          - "2023-01-01T00:00:00Z"
        format: date-time
        order: 2
      directory_id:
        type: string
        title: Directory ID
        description: >-
          Your Qualtrics directory ID. Required for syncing the contacts stream.
          Found under Directories in your Qualtrics account.
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    surveys: false
    survey_questions: false
    survey_responses: false
    distributions: false
    contacts: false
    users: false
    groups: false
  testedStreams: {}
  assist: {}

schemas:
  surveys:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      ownerId:
        type:
          - "null"
          - string
      lastModified:
        type:
          - "null"
          - string
      creationDate:
        type:
          - "null"
          - string
      isActive:
        type:
          - "null"
          - boolean

  survey_questions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      QuestionID:
        type:
          - "null"
          - string
      QuestionText:
        type:
          - "null"
          - string
      QuestionType:
        type:
          - "null"
          - string
      Selector:
        type:
          - "null"
          - string
      SubSelector:
        type:
          - "null"
          - string
      DataExportTag:
        type:
          - "null"
          - string
      QuestionDescription:
        type:
          - "null"
          - string
      Validation:
        type:
          - "null"
          - object
        additionalProperties: true
      Choices:
        type:
          - "null"
          - object
        additionalProperties: true
      Configuration:
        type:
          - "null"
          - object
        additionalProperties: true

  survey_responses:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      responseId:
        type:
          - "null"
          - string
      surveyId:
        type:
          - "null"
          - string
      values:
        type:
          - "null"
          - object
        additionalProperties: true
      labels:
        type:
          - "null"
          - object
        additionalProperties: true
      displayedFields:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      displayedValues:
        type:
          - "null"
          - object
        additionalProperties: true
      lastModified:
        type:
          - "null"
          - string
      startDate:
        type:
          - "null"
          - string
      endDate:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      ipAddress:
        type:
          - "null"
          - string
      progress:
        type:
          - "null"
          - integer
      duration:
        type:
          - "null"
          - integer
      finished:
        type:
          - "null"
          - integer
      recordedDate:
        type:
          - "null"
          - string

  distributions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      parentDistributionId:
        type:
          - "null"
          - string
      ownerId:
        type:
          - "null"
          - string
      organizationId:
        type:
          - "null"
          - string
      requestStatus:
        type:
          - "null"
          - string
      requestType:
        type:
          - "null"
          - string
      sendDate:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - string
      modifiedDate:
        type:
          - "null"
          - string
      surveyLink:
        type:
          - "null"
          - object
        additionalProperties: true
      headers:
        type:
          - "null"
          - object
        additionalProperties: true
      recipients:
        type:
          - "null"
          - object
        additionalProperties: true
      message:
        type:
          - "null"
          - object
        additionalProperties: true
      stats:
        type:
          - "null"
          - object
        additionalProperties: true

  contacts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      firstName:
        type:
          - "null"
          - string
      lastName:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      phone:
        type:
          - "null"
          - string
      extRef:
        type:
          - "null"
          - string
      language:
        type:
          - "null"
          - string
      unsubscribed:
        type:
          - "null"
          - boolean
      embeddedData:
        type:
          - "null"
          - object
        additionalProperties: true
      creationDate:
        type:
          - "null"
          - string
      lastModified:
        type:
          - "null"
          - string

  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      username:
        type:
          - "null"
          - string
      firstName:
        type:
          - "null"
          - string
      lastName:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      userType:
        type:
          - "null"
          - string
      organizationId:
        type:
          - "null"
          - string
      divisionId:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      language:
        type:
          - "null"
          - string
      timeZone:
        type:
          - "null"
          - string
      accountStatus:
        type:
          - "null"
          - string
      accountCreationDate:
        type:
          - "null"
          - string
      accountExpirationDate:
        type:
          - "null"
          - string
      lastLoginDate:
        type:
          - "null"
          - string

  groups:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      ownerId:
        type:
          - "null"
          - string
      organizationId:
        type:
          - "null"
          - string
      autoenroll:
        type:
          - "null"
          - boolean
      creationDate:
        type:
          - "null"
          - string
      lastModified:
        type:
          - "null"
          - string
