version: 6.33.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - tags

definitions:
  streams:
    activity_logs:
      type: DeclarativeStream
      name: activity_logs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: admins/activity_logs
          http_method: GET
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - activity_logs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        lookback_window: P{{ config.get('lookback_window', 0) }}D
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: created_at_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_logs"
    admins:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference#list-admins
      name: admins
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: admins
          http_method: GET
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - admins
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/admins"
    tags:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference#list-tags-for-an-app
      name: tags
      primary_key:
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    teams:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference#list-teams
      name: teams
      primary_key:
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams
          http_method: GET
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    segments:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference#list-segments
      name: segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: segments
          http_method: GET
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - segments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window', 0) }}D
        cursor_datetime_formats:
          - "%s"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/segments"
    companies:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference/scroll-over-all-companies
      name: companies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: companies/scroll
          http_method: GET
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 400
                    error_message: >-
                      A scroll (export) job is already in progress for this
                      Intercom account, causing the request to fail. Only one
                      active scroll per Intercom account is allowed; ensure no
                      overlap by limiting active connections or scheduling jobs
                      appropriately.
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scroll_param
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('scroll_param') }}"
            stop_condition: "{{ not response.get('data') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window', 0) }}D
        cursor_datetime_formats:
          - "%s"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companies"
    company_attributes:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference#list-data-attributes
      name: company_attributes
      primary_key:
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: data_attributes
          http_method: GET
          request_parameters:
            model: company
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/company_attributes"
    contact_attributes:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference#list-data-attributes
      name: contact_attributes
      primary_key:
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: data_attributes
          http_method: GET
          request_parameters:
            model: contact
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_attributes"
    contacts:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference/pagination-sorting-search
      name: contacts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts/search
          http_method: POST
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          request_body_json:
            sort: "{'field': 'updated_at', 'order': 'ascending'}"
            query: >-
              { 'operator': 'OR', 'value': [ { 'field': 'updated_at',
              'operator': '>', 'value': {{ stream_interval.get('start_time', {}) or
              format_datetime(config['start_date'], '%s') }} }, { 'field':
              'updated_at', 'operator': '=', 'value': {{
              stream_interval.get('start_time', {}) or format_datetime(config['start_date'],
              '%s') }} }, ], }
            pagination: >-
              { 'per_page': 150, 'page': {{
              next_page_token.get('next_page_token').get('page') }},
              'starting_after': '{{
              next_page_token.get('next_page_token').get('starting_after') }}' }
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window', 0) }}D
        cursor_datetime_formats:
          - "%s"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    conversations:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference/pagination-sorting-search
      name: conversations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: conversations/search
          http_method: POST
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          request_body_json:
            sort: "{'field': 'updated_at', 'order': 'ascending'}"
            query: >-
              { 'operator': 'OR', 'value': [ { 'field': 'updated_at',
              'operator': '>', 'value': {{ stream_interval.get('start_time', {}) or
              format_datetime(config['start_date'], '%s') }} }, { 'field':
              'updated_at', 'operator': '=', 'value': {{
              stream_interval.get('start_time', {}) or format_datetime(config['start_date'],
              '%s') }} }, ], }
            pagination: >-
              { 'per_page': 150, 'page': {{
              next_page_token.get('next_page_token').get('page') }},
              'starting_after': '{{
              next_page_token.get('next_page_token').get('starting_after') }}' }
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conversations
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: "{{ response.get('pages', {}).get('next') }}"
            stop_condition: "{{ 'next' not in response.get('pages', {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window', 0) }}D
        cursor_datetime_formats:
          - "%s"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations"
    conversation_parts:
      type: DeclarativeStream
      name: conversation_parts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /conversations/{{ stream_slice.id }}
          http_method: GET
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conversation_parts
              - conversation_parts
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/conversations"
              parent_key: id
              partition_field: id
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window', 0) }}D
        cursor_datetime_formats:
          - "%s"
        is_client_side_incremental: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - conversation_id
              value: "{{ stream_slice.id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversation_parts"
    company_segments:
      type: DeclarativeStream
      name: company_segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /companies/{{ stream_slice.id }}/segments
          http_method: GET
          request_headers:
            Accept: application/json
            Intercom-Version: "2.11"
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
                error_message_contains: Active subscription needed
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/companies"
              incremental_dependency: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window', 0) }}D
        cursor_datetime_formats:
          - "%s"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/company_segments"
    tickets:
      type: DeclarativeStream
      name: tickets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tickets/search
          http_method: POST
          request_headers:
            Intercom-Version: "2.11"
            Accept: application/json
          request_body_json:
            query: >-
              {"operator" : "AND", "value" : [ {"operator" : "OR", "value" : [
              {"field" : "updated_at", "operator" : ">", "value" : {{
              stream_interval['start_time'] }} }, {"field" : "updated_at",
              "operator" : "=", "value" : {{ stream_interval['start_time'] }}
              }]},  {"field" : "updated_at", "operator" : "<", "value" :  {{
              stream_interval['end_time'] }} } ]}
            sort: "{\"field\": \"updated_at\", \"order\": \"ascending\"}"
            pagination: >-
              {{ {"per_page": 150} if not next_page_token
              else {"per_page": 150, "starting_after":
              next_page_token["next_page_token"]} }}
            test: null
          error_handler:
            type: CustomErrorHandler
            class_name: source_declarative_manifest.components.ErrorHandlerWithRateLimiter
            response_filters:
              - type: HttpResponseFilter
                error_message_contains: Active subscription needed
                action: FAIL
                failure_type: config_error
                error_message: >-
                  Failed to perform request. Error: Active subscription needed.
                  Please, validate your current Intercom plan to continue using
                  API.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tickets
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: CursorPagination
            page_size: 150
            cursor_value: >-
              {{ response.get('pages', {}).get('next', {}).get('starting_after')
              }}
            stop_condition: >-
              {{ not response.get('pages', {}).get('next',
              {}).get('starting_after') }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
  base_requester:
    type: HttpRequester
    url_base: https://api.intercom.io/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"access_token\"] }}"

streams:
  - $ref: "#/definitions/streams/activity_logs"
  - $ref: "#/definitions/streams/admins"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/segments"
  - $ref: "#/definitions/streams/companies"
  - $ref: "#/definitions/streams/company_attributes"
  - $ref: "#/definitions/streams/contact_attributes"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/conversations"
  - $ref: "#/definitions/streams/conversation_parts"
  - $ref: "#/definitions/streams/company_segments"
  - $ref: "#/definitions/streams/tickets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
      - start_date
    properties:
      access_token:
        type: string
        description: >-
          Access token for making authenticated requests. See the <a
          href="https://developers.intercom.com/building-apps/docs/authentication-types#how-to-get-your-access-token">Intercom
          docs</a> for more information.
        order: 0
        title: Access token
        airbyte_secret: true
      client_id:
        type: string
        description: Client Id for your Intercom application.
        order: 1
        title: Client Id
        airbyte_secret: true
      client_secret:
        type: string
        description: Client Secret for your Intercom application.
        order: 2
        title: Client Secret
        airbyte_secret: true
      activity_logs_time_step:
        type: integer
        description: >-
          Set lower value in case of failing long running sync of Activity Logs
          stream.
        order: 3
        title: Activity logs stream slice step size (in days)
        default: 30
        maximum: 91
        minimum: 1
        examples:
          - 30
          - 10
          - 5
      lookback_window:
        type: integer
        description: The number of days to shift the state value backward for record sync
        order: 4
        title: Lookback window
        default: 0
        minimum: 0
        examples:
          - 60
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        order: 5
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2020-11-16T00:00:00Z"
    additionalProperties: true

metadata:
  autoImportSchema:
    activity_logs: false
    admins: false
    tags: false
    teams: false
    segments: false
    companies: false
    company_attributes: false
    contact_attributes: false
    contacts: false
    conversations: false
    conversation_parts: false
    company_segments: false
    tickets: false
  yamlComponents:
    streams:
      activity_logs:
        - errorHandler
      admins:
        - errorHandler
      tags:
        - errorHandler
      teams:
        - errorHandler
      segments:
        - errorHandler
        - incrementalSync
      companies:
        - errorHandler
        - incrementalSync
      company_attributes:
        - errorHandler
      contact_attributes:
        - errorHandler
      contacts:
        - errorHandler
        - incrementalSync
      conversations:
        - errorHandler
        - incrementalSync
      conversation_parts:
        - incrementalSync
        - parentStreams
      company_segments:
        - errorHandler
        - incrementalSync
      tickets:
        - errorHandler
  testedStreams:
    activity_logs:
      hasRecords: true
      streamHash: dae54ab01efc8a7c580121de6902d67a82a87775
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    admins:
      streamHash: 62fdd12c98bec28f09edd3a34cd16bc5c1afedb6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      hasRecords: true
      streamHash: 53f9b051b3d5c8747598b848c006c80f3ffc5957
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    teams:
      hasRecords: true
      streamHash: d27cc586e29ddf6347d6356ea4970af99b7980c1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    segments:
      hasRecords: true
      streamHash: ae2d86bd6100e87bb2a5b135823cf48c2db325e8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    companies:
      streamHash: af292917f40d98c014fea2050640637134d638f0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    company_attributes:
      hasRecords: true
      streamHash: e59558fb65b2c762d2b3f6b67e9071db2773cf13
      hasResponse: true
      primaryKeysAreUnique: false
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contact_attributes:
      hasRecords: true
      streamHash: 70d4afa7c3ad63877ab1fd9c185bd58c27ce06bc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      hasRecords: true
      streamHash: 529d47dc4df86ec11bdaff3cd21e6386db34ef85
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    conversations:
      hasRecords: true
      streamHash: 3533fb5aa8054cb957e909a5fdf783ec2c8d8c97
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    conversation_parts:
      hasRecords: true
      streamHash: eb91dc594cebabb750fa6a14b90cc58a21401035
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    company_segments:
      streamHash: c5c5063a50ea9cb636bd584d72151fc62c5e1e48
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: false
    tickets:
      streamHash: bb16e4f1f24fe355c9698c44204b9d4f98318cd7
      hasResponse: true
      responsesAreSuccessful: false
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  activity_logs:
    type: object
    additionalProperties: true
    properties:
      metadata:
        type:
          - "null"
          - object
        description: Additional data or information related to the activity
      activity_description:
        type:
          - "null"
          - string
        description: A description of the activity that took place
      activity_type:
        type:
          - "null"
          - string
        description: The type or category of the activity
      created_at:
        type:
          - "null"
          - integer
        description: The timestamp when the activity occurred
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the activity log entry
      performed_by:
        type:
          - "null"
          - object
        description: The user who performed the activity
        properties:
          type:
            type:
              - "null"
              - string
            description: Type of the user who performed the activity (e.g., admin, user)
          email:
            type:
              - "null"
              - string
            description: Email of the user who performed the activity
          id:
            type:
              - "null"
              - string
            description: Unique identifier of the user who performed the activity
          ip:
            type:
              - "null"
              - string
            description: IP address from where the activity was performed
  admins:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of the admin (e.g., full-time, part-time)
      admin_ids:
        description: Array of unique identifiers for admins
        anyOf:
          - type: array
            items:
              type: integer
          - type: "null"
      avatar:
        type:
          - "null"
          - object
        description: Admin avatar details
        properties:
          image_url:
            type:
              - "null"
              - string
            description: URL of the admin's avatar image
      away_mode_enabled:
        type:
          - "null"
          - boolean
        description: Flag indicating if away mode is enabled for the admin
      away_mode_reassign:
        type:
          - "null"
          - boolean
        description: Flag indicating if away mode reassignment is enabled for the admin
      email:
        type:
          - "null"
          - string
        description: Email address of the admin
      has_inbox_seat:
        type:
          - "null"
          - boolean
        description: Flag indicating if the admin has a seat in the inbox
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the admin
      job_title:
        type:
          - "null"
          - string
        description: Job title of the admin
      name:
        type:
          - "null"
          - string
        description: Name of the admin
      team_ids:
        description: Array of team identifiers the admin belongs to
        anyOf:
          - type: array
            items:
              type: integer
          - type: "null"
      team_priority_level:
        type:
          - "null"
          - object
        description: Detailed team priority level information for the admin
        properties:
          primary_team_ids:
            type:
              - "null"
              - array
            description: Array of primary team identifiers for the admin
            items:
              type:
                - "null"
                - integer
          secondary_team_ids:
            type:
              - "null"
              - array
            description: Array of secondary team identifiers for the admin
            items:
              type:
                - "null"
                - integer
  tags:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of the tag indicating its purpose or category.
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the tag.
      name:
        type:
          - "null"
          - string
        description: Name of the tag used for identification.
  teams:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of team (e.g., 'internal', 'external').
      admin_ids:
        description: Array of user IDs representing the admins of the team.
        anyOf:
          - type: array
            items:
              type: integer
          - type: "null"
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the team.
      name:
        type:
          - "null"
          - string
        description: Name of the team.
  segments:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The type or category of the segment
      count:
        type:
          - "null"
          - integer
        description: The number of items in the segment
      created_at:
        type:
          - "null"
          - integer
        description: The date and time when the segment was created
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the segment
      name:
        type:
          - "null"
          - string
        description: The name or title of the segment
      person_type:
        type:
          - "null"
          - string
        description: Type of persons included in the segment
      updated_at:
        type:
          - "null"
          - integer
        description: The date and time when the segment was last updated
  companies:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The type of the company
      app_id:
        type:
          - "null"
          - string
        description: The ID of the application associated with the company
      company_id:
        type:
          - "null"
          - string
        description: The unique identifier of the company
      created_at:
        type:
          - "null"
          - integer
        description: The date and time when the company was created
      custom_attributes:
        type:
          - "null"
          - object
        description: Custom attributes specific to the company
        additionalProperties: true
      id:
        type:
          - "null"
          - string
        description: The ID of the company
      industry:
        type:
          - "null"
          - string
        description: The industry in which the company operates
      monthly_spend:
        type:
          - "null"
          - number
        description: The monthly spend of the company
        multipleOf: 1.e-8
      name:
        type:
          - "null"
          - string
        description: The name of the company
      plan:
        type:
          - "null"
          - object
        description: Details of the company's subscription plan
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of the subscription plan
          id:
            type:
              - "null"
              - string
            description: The ID of the subscription plan
          name:
            type:
              - "null"
              - string
            description: The name of the subscription plan
      remote_created_at:
        type:
          - "null"
          - integer
        description: The remote date and time when the company was created
      segments:
        type: object
        description: Segments associated with the company
        properties:
          type:
            type: string
            description: The type of segments associated with the company
          segments:
            type: array
            description: List of segments
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type: string
                  description: The type of the segment
                id:
                  type: string
                  description: The ID of the segment
      session_count:
        type:
          - "null"
          - integer
        description: The number of sessions related to the company
      size:
        type:
          - "null"
          - integer
        description: The size of the company
      tags:
        type: object
        description: Tags associated with the company
        properties:
          type:
            type: string
            description: The type of tags associated with the company
          tags:
            type: array
            description: List of tags
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type: string
                  description: The type of the tag
                id:
                  description: The ID of the tag
                  oneOf:
                    - type:
                        - "null"
                        - string
                    - type:
                        - "null"
                        - integer
                name:
                  type: string
                  description: The name of the tag
      updated_at:
        type:
          - "null"
          - integer
        description: The date and time when the company was last updated
      user_count:
        type:
          - "null"
          - integer
        description: The number of users associated with the company
      website:
        type:
          - "null"
          - string
        description: The website of the company
  company_attributes:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of data structure for the company attribute.
      description:
        type:
          - "null"
          - string
        description: Description or details about the company attribute.
      admin_id:
        type:
          - "null"
          - string
        description: The ID of the admin user associated with the company.
      api_writable:
        type:
          - "null"
          - boolean
        description: Indicates whether the field is writable through the API.
      archived:
        type:
          - "null"
          - boolean
        description: Flag to indicate if the company data is archived.
      created_at:
        type:
          - "null"
          - integer
        description: Timestamp when the company data was created.
      custom:
        type:
          - "null"
          - boolean
        description: Custom attribute specific to the company.
      data_type:
        type:
          - "null"
          - string
        description: Type of data stored in the attribute field.
      full_name:
        type:
          - "null"
          - string
        description: Full name associated with the company.
      id:
        type:
          - "null"
          - integer
        description: Unique ID assigned to the company attribute.
      label:
        type:
          - "null"
          - string
        description: Label or display name for the company attribute.
      messenger_writable:
        type:
          - "null"
          - boolean
        description: Indicates whether the field is writable through the messenger.
      model:
        type:
          - "null"
          - string
        description: Model or schema used for storing the company attribute.
      name:
        type:
          - "null"
          - string
        description: Name of the company attribute.
      options:
        description: Available options or values for the company attribute.
        anyOf:
          - type: array
            items:
              type: string
          - type: "null"
      ui_writable:
        type:
          - "null"
          - boolean
        description: Indicates whether the field is writable through the UI.
      updated_at:
        type:
          - "null"
          - integer
        description: Timestamp when the company data was last updated.
  contact_attributes:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The type of contact attribute (e.g., text, number, boolean).
      description:
        type:
          - "null"
          - string
        description: Description of the contact attribute for better understanding.
      admin_id:
        type:
          - "null"
          - string
        description: Unique identifier for the admin associated with the contact attribute.
      api_writable:
        type:
          - "null"
          - boolean
        description: Indicates whether the attribute is writable via API.
      archived:
        type:
          - "null"
          - boolean
        description: Flag to signify if the contact attribute is archived.
      created_at:
        type:
          - "null"
          - integer
        description: Timestamp of when the contact attribute was created.
      custom:
        type:
          - "null"
          - boolean
        description: Indicates if the attribute is a custom user-defined field.
      data_type:
        type:
          - "null"
          - string
        description: The data type of the contact attribute value.
      full_name:
        type:
          - "null"
          - string
        description: The full name associated with the contact attribute.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the contact attribute.
      label:
        type:
          - "null"
          - string
        description: Label representing the attribute in user interfaces.
      messenger_writable:
        type:
          - "null"
          - boolean
        description: Indicates whether the attribute is writable via messenger.
      model:
        type:
          - "null"
          - string
        description: Model to which the contact attribute is associated.
      name:
        type:
          - "null"
          - string
        description: The name of the contact attribute.
      options:
        type:
          - "null"
          - array
        description: List of available options for the attribute.
        items:
          type:
            - "null"
            - string
      ui_writable:
        type:
          - "null"
          - boolean
        description: Indicates whether the attribute is writable via user interface.
      updated_at:
        type:
          - "null"
          - integer
        description: Timestamp of when the contact attribute was last updated.
  contacts:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of contact.
      android_app_name:
        type:
          - "null"
          - string
        description: The name of the Android app associated with the contact.
      android_app_version:
        type:
          - "null"
          - string
        description: The version of the Android app associated with the contact.
      android_device:
        type:
          - "null"
          - string
        description: The device used by the contact for Android.
      android_last_seen_at:
        type:
          - "null"
          - string
        description: The date and time when the contact was last seen on Android.
        format: date-time
      android_os_version:
        type:
          - "null"
          - string
        description: The operating system version of the Android device.
      android_sdk_version:
        type:
          - "null"
          - string
        description: The SDK version of the Android device.
      avatar:
        type:
          - "null"
          - string
        description: URL pointing to the contact's avatar image.
      browser:
        type:
          - "null"
          - string
        description: The browser used by the contact.
      browser_language:
        type:
          - "null"
          - string
        description: The language preference set in the contact's browser.
      browser_version:
        type:
          - "null"
          - string
        description: The version of the browser used by the contact.
      companies:
        type:
          - "null"
          - object
        description: Companies associated with the contact.
        properties:
          type:
            type:
              - "null"
              - string
            description: Type of connection with the companies.
          data:
            type:
              - "null"
              - array
            description: Array of company data associated with the contact.
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type of company.
                id:
                  type:
                    - "null"
                    - string
                  description: The unique identifier of the company.
                url:
                  type:
                    - "null"
                    - string
                  description: URL of the company.
          has_more:
            type:
              - "null"
              - boolean
            description: Flag indicating if there are more companies to load.
          total_count:
            type:
              - "null"
              - integer
            description: Total count of companies associated with the contact.
          url:
            type:
              - "null"
              - string
            description: URL to access more company information.
      created_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact was created.
      custom_attributes:
        type:
          - "null"
          - object
        description: Custom attributes defined for the contact.
        additionalProperties: true
        properties: {}
      email:
        type:
          - "null"
          - string
        description: The email address of the contact.
      external_id:
        type:
          - "null"
          - string
        description: External identifier for the contact.
      has_hard_bounced:
        type:
          - "null"
          - boolean
        description: Flag indicating if the contact has hard bounced.
      id:
        type:
          - "null"
          - string
        description: The unique identifier of the contact.
      ios_app_name:
        type:
          - "null"
          - string
        description: The name of the iOS app associated with the contact.
      ios_app_version:
        type:
          - "null"
          - string
        description: The version of the iOS app associated with the contact.
      ios_device:
        type:
          - "null"
          - string
        description: The device used by the contact for iOS.
      ios_last_seen_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact was last seen on iOS.
      ios_os_version:
        type:
          - "null"
          - string
        description: The operating system version of the iOS device.
      ios_sdk_version:
        type:
          - "null"
          - string
        description: The SDK version of the iOS device.
      language_override:
        type:
          - "null"
          - string
        description: Language override set for the contact.
      last_contacted_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact was last contacted.
      last_email_clicked_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact last clicked an email.
      last_email_opened_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact last opened an email.
      last_replied_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact last replied.
      last_seen_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact was last seen overall.
      location:
        type:
          - "null"
          - object
        description: Location details of the contact.
        properties:
          type:
            type:
              - "null"
              - string
            description: Type of location.
          city:
            type:
              - "null"
              - string
            description: City of the contact's location.
          continent_code:
            type:
              - "null"
              - string
            description: Continent code of the contact's location.
          country:
            type:
              - "null"
              - string
            description: Country of the contact's location.
          country_code:
            type:
              - "null"
              - string
            description: Country code of the contact's location.
          region:
            type:
              - "null"
              - string
            description: Region of the contact's location.
      marked_email_as_spam:
        type:
          - "null"
          - boolean
        description: Flag indicating if the contact's email was marked as spam.
      name:
        type:
          - "null"
          - string
        description: The name of the contact.
      notes:
        type:
          - "null"
          - object
        description: Notes associated with the contact.
        properties:
          type:
            type:
              - "null"
              - string
            description: Type of connection with the notes.
          data:
            type:
              - "null"
              - array
            description: Array of note data associated with the contact.
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type of note.
                id:
                  type:
                    - "null"
                    - string
                  description: The unique identifier of the note.
                url:
                  type:
                    - "null"
                    - string
                  description: URL of the note.
          has_more:
            type:
              - "null"
              - boolean
            description: Flag indicating if there are more notes to load.
          total_count:
            type:
              - "null"
              - integer
            description: Total count of notes associated with the contact.
          url:
            type:
              - "null"
              - string
            description: URL to access more note information.
      opted_in_subscription_types:
        type:
          - "null"
          - object
        description: Subscription types the contact opted into.
        properties:
          type:
            type:
              - "null"
              - string
            description: Type of connection with the subscription types.
          data:
            type:
              - "null"
              - array
            description: Array of subscription type data opted into by the contact.
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type of subscription.
                id:
                  type:
                    - "null"
                    - string
                  description: The unique identifier of the subscription type.
                url:
                  type:
                    - "null"
                    - string
                  description: URL of the subscription type.
          has_more:
            type:
              - "null"
              - boolean
            description: Flag indicating if there are more subscription types to load.
          total_count:
            type:
              - "null"
              - integer
            description: Total count of subscription types the contact opted into.
          url:
            type:
              - "null"
              - string
            description: URL to access more subscription type information.
      opted_out_subscription_types:
        type:
          - "null"
          - object
        description: Subscription types the contact opted out from.
        properties:
          type:
            type:
              - "null"
              - string
            description: Type of connection with the subscription types.
          data:
            type:
              - "null"
              - array
            description: Array of subscription type data opted out from by the contact.
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type of subscription.
                id:
                  type:
                    - "null"
                    - string
                  description: The unique identifier of the subscription type.
                url:
                  type:
                    - "null"
                    - string
                  description: URL of the subscription type.
          has_more:
            type:
              - "null"
              - boolean
            description: Flag indicating if there are more subscription types to load.
          total_count:
            type:
              - "null"
              - integer
            description: Total count of subscription types the contact opted out from.
          url:
            type:
              - "null"
              - string
            description: URL to access more subscription type information.
      os:
        type:
          - "null"
          - string
        description: Operating system of the contact's device.
      owner_id:
        type:
          - "null"
          - integer
        description: The unique identifier of the contact's owner.
      phone:
        type:
          - "null"
          - string
        description: The phone number of the contact.
      referrer:
        type:
          - "null"
          - string
        description: Referrer information related to the contact.
      role:
        type:
          - "null"
          - string
        description: Role or position of the contact.
      signed_up_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact signed up.
      sms_consent:
        type:
          - "null"
          - boolean
        description: Consent status for SMS communication.
      social_profiles:
        type:
          - "null"
          - object
        description: Social profiles associated with the contact.
        properties:
          type:
            type:
              - "null"
              - string
            description: Type of social profile connection.
          data:
            type:
              - "null"
              - array
            description: Array of social profile data associated with the contact.
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type of social profile.
                name:
                  type:
                    - "null"
                    - string
                  description: Name of the social profile.
                url:
                  type:
                    - "null"
                    - string
                  description: URL of the social profile.
      tags:
        type:
          - "null"
          - object
        description: Tags associated with the contact.
        properties:
          type:
            type:
              - "null"
              - string
            description: Type of connection with the tags.
          data:
            type:
              - "null"
              - array
            description: Array of tag data associated with the contact.
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type of tag.
                id:
                  type:
                    - "null"
                    - string
                  description: The unique identifier of the tag.
                url:
                  type:
                    - "null"
                    - string
                  description: URL of the tag.
          has_more:
            type:
              - "null"
              - boolean
            description: Flag indicating if there are more tags to load.
          total_count:
            type:
              - "null"
              - integer
            description: Total count of tags associated with the contact.
          url:
            type:
              - "null"
              - string
            description: URL to access more tag information.
      unsubscribed_from_emails:
        type:
          - "null"
          - boolean
        description: Flag indicating if the contact unsubscribed from emails.
      unsubscribed_from_sms:
        type:
          - "null"
          - boolean
        description: Flag indicating if the contact unsubscribed from SMS.
      updated_at:
        type:
          - "null"
          - integer
        description: The date and time when the contact was last updated.
      utm_campaign:
        type:
          - "null"
          - string
        description: Campaign data from UTM parameters.
      utm_content:
        type:
          - "null"
          - string
        description: Content data from UTM parameters.
      utm_medium:
        type:
          - "null"
          - string
        description: Medium data from UTM parameters.
      utm_source:
        type:
          - "null"
          - string
        description: Source data from UTM parameters.
      utm_term:
        type:
          - "null"
          - string
        description: Term data from UTM parameters.
      workspace_id:
        type:
          - "null"
          - string
        description: The unique identifier of the workspace associated with the contact.
  conversations:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The type of the conversation
      admin_assignee_id:
        type:
          - "null"
          - integer
        description: The ID of the administrator assigned to the conversation
      assignee:
        type:
          - "null"
          - object
        description: The assigned user responsible for the conversation.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of the assignee (e.g., admin, agent)
          email:
            type:
              - "null"
              - string
            description: The email of the assignee
          id:
            type:
              - "null"
              - string
            description: The ID of the assignee
          name:
            type:
              - "null"
              - string
            description: The name of the assignee
      contacts:
        type:
          - "null"
          - object
        description: List of contacts involved in the conversation.
        items:
          type:
            - "null"
            - object
          properties:
            type:
              type:
                - "null"
                - string
              description: The type of the contact
            id:
              type:
                - "null"
                - string
              description: The ID of the contact
      conversation_message:
        type:
          - "null"
          - object
        description: The main message content of the conversation.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of the conversation message
          attachments:
            description: Attachments in the conversation message
            anyOf:
              - type: array
                items:
                  type: object
                  properties:
                    type:
                      type:
                        - "null"
                        - string
                    content_type:
                      type:
                        - "null"
                        - string
                    filesize:
                      type:
                        - "null"
                        - integer
                    height:
                      type:
                        - "null"
                        - integer
                    name:
                      type:
                        - "null"
                        - string
                    url:
                      type:
                        - "null"
                        - string
                    width:
                      type:
                        - "null"
                        - integer
              - type: "null"
          author:
            type:
              - "null"
              - object
            description: The author of the conversation message.
            properties:
              type:
                type:
                  - "null"
                  - string
                description: The type of the author (e.g., admin, customer)
              email:
                type:
                  - "null"
                  - string
                description: The email of the author of the message
              id:
                type:
                  - "null"
                  - string
                description: The ID of the author of the message
              name:
                type:
                  - "null"
                  - string
                description: The name of the author of the message
          body:
            type:
              - "null"
              - string
            description: The body/content of the conversation message
          delivered_as:
            type:
              - "null"
              - string
            description: The delivery status of the message
          id:
            type:
              - "null"
              - string
            description: The ID of the conversation message
          subject:
            type:
              - "null"
              - string
            description: The subject of the conversation message
          url:
            type:
              - "null"
              - string
            description: The URL of the conversation message
      conversation_rating:
        type:
          - "null"
          - object
        description: Ratings given to the conversation by the customer and teammate.
        properties:
          created_at:
            type:
              - "null"
              - integer
            description: The timestamp when the rating was created
          customer:
            type:
              - "null"
              - object
            description: Rating given by the customer.
            properties:
              type:
                type:
                  - "null"
                  - string
                description: The type of the customer providing the rating
              id:
                type:
                  - "null"
                  - string
                description: The ID of the customer who provided the rating
          rating:
            type:
              - "null"
              - integer
            description: The rating given to the conversation
          remark:
            type:
              - "null"
              - string
            description: Any remarks provided with the rating
          teammate:
            type:
              - "null"
              - object
            description: Rating given by the teammate.
            properties:
              type:
                type:
                  - "null"
                  - string
                description: The type of the teammate being rated
              id:
                type:
                  - "null"
                  - integer
                description: The ID of the teammate being rated
      created_at:
        type:
          - "null"
          - integer
        description: The timestamp when the conversation was created
      custom_attributes:
        type:
          - "null"
          - object
        description: Custom attributes associated with the conversation
      customer_first_reply:
        type:
          - "null"
          - object
        description: Timestamp indicating when the customer first replied.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of the first customer reply
          created_at:
            type:
              - "null"
              - integer
            description: The timestamp of the customer's first reply
          url:
            type:
              - "null"
              - string
            description: The URL of the first customer reply
      customers:
        description: List of customers involved in the conversation
        anyOf:
          - type: array
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
          - type: "null"
      first_contact_reply:
        type:
          - "null"
          - object
        description: Timestamp indicating when the first contact replied.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of the first contact reply
          created_at:
            type:
              - "null"
              - integer
            description: The timestamp of the first contact's reply
          url:
            type:
              - "null"
              - string
            description: The URL of the first contact reply
      id:
        type:
          - "null"
          - string
        description: The unique ID of the conversation
      open:
        type:
          - "null"
          - boolean
        description: Indicates if the conversation is open or closed
      priority:
        type:
          - "null"
          - string
        description: The priority level of the conversation
      read:
        type:
          - "null"
          - boolean
        description: Indicates if the conversation has been read
      redacted:
        type:
          - "null"
          - boolean
        description: Indicates if the conversation is redacted
      sent_at:
        type:
          - "null"
          - integer
        description: The timestamp when the conversation was sent
      sla_applied:
        type:
          - "null"
          - object
        description: Service Level Agreement details applied to the conversation.
        properties:
          sla_name:
            type:
              - "null"
              - string
            description: The name of the SLA applied
          sla_status:
            type:
              - "null"
              - string
            description: The status of the SLA applied
      snoozed_until:
        type:
          - "null"
          - integer
        description: Timestamp until the conversation is snoozed
      source:
        type:
          - "null"
          - object
        description: Source details of the conversation.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of the source
          attachments:
            type:
              - "null"
              - array
            description: Attachments related to the conversation.
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties: {}
          author:
            type:
              - "null"
              - object
            description: Author of the source.
            properties:
              type:
                type:
                  - "null"
                  - string
                description: The type of the source author (e.g., admin, customer)
              email:
                type:
                  - "null"
                  - string
                description: The email of the source author
              id:
                type:
                  - "null"
                  - string
                description: The ID of the source author
              name:
                type:
                  - "null"
                  - string
                description: The name of the source author
          body:
            type:
              - "null"
              - string
            description: The body/content of the source
          delivered_as:
            type:
              - "null"
              - string
            description: The delivery status of the source
          id:
            type:
              - "null"
              - string
            description: The ID of the source
          redacted:
            type:
              - "null"
              - boolean
            description: Indicates if the source is redacted
          subject:
            type:
              - "null"
              - string
            description: The subject of the source
          url:
            type:
              - "null"
              - string
            description: The URL of the source
      state:
        type:
          - "null"
          - string
        description: The state of the conversation (e.g., new, in progress)
      statistics:
        type:
          - "null"
          - object
        description: Statistics related to the conversation.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of conversation statistics
          count_assignments:
            type:
              - "null"
              - integer
            description: The total count of assignments for the conversation
          count_conversation_parts:
            type:
              - "null"
              - integer
            description: The total count of conversation parts
          count_reopens:
            type:
              - "null"
              - integer
            description: The total count of conversation reopens
          first_admin_reply_at:
            type:
              - "null"
              - integer
            description: Timestamp of the first admin reply
          first_assignment_at:
            type:
              - "null"
              - integer
            description: Timestamp of the first assignment
          first_close_at:
            type:
              - "null"
              - integer
            description: Timestamp of the first conversation close
          first_contact_reply_at:
            type:
              - "null"
              - integer
            description: Timestamp of the first contact reply
          last_admin_reply_at:
            type:
              - "null"
              - integer
            description: Timestamp of the last admin reply
          last_assignment_admin_reply_at:
            type:
              - "null"
              - integer
            description: Timestamp of the last assignment admin reply
          last_assignment_at:
            type:
              - "null"
              - integer
            description: Timestamp of the last assignment
          last_close_at:
            type:
              - "null"
              - integer
            description: Timestamp of the last conversation close
          last_closed_by_id:
            type:
              - "null"
              - integer
            description: The ID of the last user who closed the conversation
          last_contact_reply_at:
            type:
              - "null"
              - integer
            description: Timestamp of the last contact reply
          median_time_to_reply:
            type:
              - "null"
              - integer
            description: The median time taken to reply to the conversation
          time_to_admin_reply:
            type:
              - "null"
              - integer
            description: Time taken to reply by admin
          time_to_assignment:
            type:
              - "null"
              - integer
            description: Time taken for assignment
          time_to_first_close:
            type:
              - "null"
              - integer
            description: Time taken to first close the conversation
          time_to_last_close:
            type:
              - "null"
              - integer
            description: Time taken to last close the conversation
      tags:
        type:
          - "null"
          - object
        description: Tags applied to the conversation.
        items:
          type:
            - "null"
            - object
          properties:
            type:
              type:
                - "null"
                - string
              description: The type of the tag
            applied_at:
              type:
                - "null"
                - integer
              description: Timestamp when the tag was applied
            applied_by:
              type:
                - "null"
                - object
              description: User who applied the tag.
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: The type of the user who applied the tag
                id:
                  type:
                    - "null"
                    - string
                  description: The ID of the user who applied the tag
            id:
              type:
                - "null"
                - string
              description: The ID of the tag
            name:
              type:
                - "null"
                - string
              description: The name of the tag
      team_assignee_id:
        type:
          - "null"
          - integer
        description: The ID of the team assigned to the conversation
      teammates:
        type:
          - "null"
          - object
        description: List of teammates involved in the conversation.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of teammates
          admins:
            type:
              - "null"
              - array
            description: Admin teammates involved in the conversation.
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: The type of the teammate (admin)
                id:
                  type:
                    - "null"
                    - string
                  description: The ID of the teammate admin
      title:
        type:
          - "null"
          - string
        description: The title of the conversation
      topics:
        type:
          - "null"
          - object
        description: Topics associated with the conversation.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of topics
          topics:
            type:
              - "null"
              - array
            description: List of topics related to the conversation.
            items:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: The type of the topic
                id:
                  type:
                    - "null"
                    - integer
                  description: The ID of the topic
                name:
                  type:
                    - "null"
                    - string
                  description: The name of the topic
          total_count:
            type:
              - "null"
              - integer
            description: The total count of topics
      updated_at:
        type:
          - "null"
          - integer
        description: The timestamp when the conversation was last updated
      user:
        type:
          - "null"
          - object
        description: The user related to the conversation.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of the user
          id:
            type:
              - "null"
              - string
            description: The ID of the user associated with the conversation
      waiting_since:
        type:
          - "null"
          - integer
        description: Timestamp since waiting for a response
  conversation_parts:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The type of conversation part, such as message or note.
      assigned_to:
        description: >-
          The user or team member who is assigned to handle this conversation
          part.
        oneOf:
          - type: object
            properties:
              type:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - string
          - type: string
          - type: "null"
      attachments:
        type:
          - "null"
          - array
        description: Represents the attachments associated with the conversation part.
        items:
          type:
            - "null"
            - object
          properties:
            type:
              type:
                - "null"
                - string
              description: The type or category of the attachment.
            content_type:
              type:
                - "null"
                - string
              description: The MIME type of the attachment content.
            filesize:
              type:
                - "null"
                - integer
              description: The size of the attachment file in bytes.
            height:
              type:
                - "null"
                - integer
              description: The height dimension of the attachment in pixels.
            name:
              type:
                - "null"
                - string
              description: The filename or name of the attachment.
            url:
              type:
                - "null"
                - string
              description: The URL or location where the attachment can be accessed.
            width:
              type:
                - "null"
                - integer
              description: The width dimension of the attachment in pixels.
      author:
        type:
          - "null"
          - object
        description: Represents the author of the conversation part.
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of author, such as customer or agent.
          email:
            type:
              - "null"
              - string
            description: The email address of the conversation author.
          id:
            type:
              - "null"
              - string
            description: The unique identifier of the conversation author.
          name:
            type:
              - "null"
              - string
            description: The name of the conversation author.
      body:
        type:
          - "null"
          - string
        description: The main content or message body of the conversation part.
      conversation_created_at:
        type:
          - "null"
          - integer
        description: The date and time when the conversation was created.
      conversation_id:
        type:
          - "null"
          - integer
        description: The unique identifier of the conversation.
      conversation_total_parts:
        type:
          - "null"
          - integer
        description: The total number of parts in the conversation.
      conversation_updated_at:
        type:
          - "null"
          - integer
        description: The date and time when the conversation was last updated.
      created_at:
        type:
          - "null"
          - integer
        description: The date and time when the conversation part was created.
      external_id:
        type:
          - "null"
          - string
        description: An external identifier associated with the conversation part.
      id:
        type:
          - "null"
          - string
        description: The unique identifier of the conversation part.
      notified_at:
        type:
          - "null"
          - integer
        description: The date and time when the conversation part was last notified.
      part_type:
        type:
          - "null"
          - string
        description: The type or category of the conversation part.
      redacted:
        type:
          - "null"
          - boolean
        description: Indicates if the conversation part has been redacted or censored.
      updated_at:
        type:
          - "null"
          - integer
        description: The date and time when the conversation part was last updated.
  company_segments:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The category or type of the company segment.
      count:
        type:
          - "null"
          - integer
        description: The count of company segments returned in the response.
      created_at:
        type:
          - "null"
          - integer
        description: The timestamp when the company segment was created.
      id:
        type:
          - "null"
          - string
        description: The unique identifier associated with the company segment.
      name:
        type:
          - "null"
          - string
        description: The name of the company segment.
      person_type:
        type:
          - "null"
          - string
        description: The type of person associated with the company segment.
      updated_at:
        type:
          - "null"
          - integer
        description: The timestamp when the company segment was last updated.
  tickets:
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: Always ticket.
      admin_assignee_id:
        type:
          - string
          - "null"
        description: The id representing the admin assigned to the ticket.
      category:
        type:
          - string
          - "null"
        description: Category of the Ticket.
      contacts:
        type:
          - object
          - "null"
        description: The list of contacts affected by a ticket.
        properties:
          type:
            type:
              - string
              - "null"
            description: Always contact.list.
          contacts:
            type:
              - array
              - "null"
            description: The list of contacts affected by this ticket.
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                  description: Always contact.
                external_id:
                  type:
                    - string
                    - "null"
                  description: >-
                    The unique identifier for the contact which is provided by
                    the Client.
                id:
                  type:
                    - string
                    - "null"
                  description: >-
                    The unique identifier for the contact which is given by
                    Intercom.
      created_at:
        type:
          - integer
          - "null"
        description: The time the ticket was created as a UTC Unix timestamp.
      id:
        type:
          - string
          - "null"
        description: The unique identifier for the ticket which is given by Intercom.
      is_shared:
        type:
          - boolean
          - "null"
        description: Whether or not the ticket is shared with the customer.
      linked_objects:
        type:
          - object
          - "null"
        description: >-
          An object containing metadata about linked conversations and linked
          tickets.
        properties:
          type:
            type:
              - string
              - "null"
            description: Always list.
          data:
            type:
              - array
              - "null"
            description: An array containing the linked conversations and linked tickets.
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                  description: Ticket or conversation.
                category:
                  type:
                    - string
                    - "null"
                  description: Category of the Linked Ticket Object..
                id:
                  type:
                    - string
                    - "null"
                  description: The ID of the linked object.
          has_more:
            type:
              - boolean
              - "null"
            description: Whether or not there are more linked objects than returned.
          total_count:
            type:
              - integer
              - "null"
            description: The total number of linked objects.
      open:
        type:
          - boolean
          - "null"
        description: Whether or not the ticket is open. If false, the ticket is closed.
      snoozed_until:
        type:
          - integer
          - "null"
        description: >-
          The time the ticket will be snoozed until as a UTC Unix timestamp. If
          null, the ticket is not currently snoozed.
      team_assignee_id:
        type:
          - string
          - "null"
        description: The id representing the team assigned to the ticket.
      ticket_attributes:
        type:
          - object
          - "null"
        description: >-
          An object containing the different attributes associated to the ticket
          as key-value pairs.
        additionalProperties: true
      ticket_id:
        type:
          - string
          - "null"
        description: >-
          The ID of the Ticket used in the Intercom Inbox and Messenger. Do not
          use ticket_id for API queries.
      ticket_parts:
        type:
          - object
          - "null"
        description: A list of Ticket Part objects for each note and event in the ticket.
        properties:
          type:
            type:
              - string
              - "null"
            description: Value ticket_part.list.
          ticket_parts:
            type:
              - array
              - "null"
            description: A list of Ticket Part objects for each ticket.
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                  description: Always ticket_part.
                assigned_to:
                  type:
                    - object
                    - "null"
                  description: Teference to another object.
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                      description: Example - contact.
                    id:
                      type:
                        - string
                        - "null"
                      description: Example - 1a2b3c.
                attachments:
                  type:
                    - array
                    - "null"
                  description: A list of attachments for the part.
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                        description: The type of attachment
                      content_type:
                        type:
                          - string
                          - "null"
                        description: The content type of attachment
                      filesize:
                        type:
                          - integer
                          - "null"
                        description: The file size of attachment
                      height:
                        type:
                          - integer
                          - "null"
                        description: The height of attachment
                      name:
                        type:
                          - string
                          - "null"
                        description: The name of attachment
                      url:
                        type:
                          - string
                          - "null"
                        description: The url of attachment
                      width:
                        type:
[...]
