version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://dashboard.nexiopay.com/
  API Reference: https://docs.nexiopay.com/reference/api-reference

check:
  type: CheckStream
  stream_names:
    - terminal_list

definitions:
  streams:
    terminal_list:
      type: DeclarativeStream
      name: terminal_list
      primary_key:
        - terminalId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /pay/v3/getTerminalList
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/terminal_list"
    recipients:
      type: DeclarativeStream
      name: recipients
      primary_key:
        - recipientId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /payout/v3/recipient
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - rows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/recipients"
    payment_types:
      type: DeclarativeStream
      name: payment_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /transaction/v3/paymentTypes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payment_types"
    user:
      type: DeclarativeStream
      name: user
      primary_key:
        - accountId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /user/v3/account/whoAmI
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: dateLastModified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user"
    spendbacks:
      type: DeclarativeStream
      name: spendbacks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /payout/v3/spendback
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - rows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/spendbacks"
    card_tokens:
      type: DeclarativeStream
      name: card_tokens
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /card/v3
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - rows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/card_tokens"
  base_requester:
    type: HttpRequester
    url_base: https://api.{{ config['subdomain'] }}.com
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"api_key\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/terminal_list"
  - $ref: "#/definitions/streams/recipients"
  - $ref: "#/definitions/streams/payment_types"
  - $ref: "#/definitions/streams/user"
  - $ref: "#/definitions/streams/spendbacks"
  - $ref: "#/definitions/streams/card_tokens"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - username
      - subdomain
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          Your Nexio API key (password). You can find it in the Nexio Dashboard
          under Settings > User Management. Select the API user and copy the API
          key.
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
      username:
        type: string
        description: >-
          Your Nexio API username. You can find it in the Nexio Dashboard under
          Settings > User Management. Select the API user and copy the username.
        name: username
        title: API Username
        order: 1
      subdomain:
        type: string
        description: >-
          The subdomain for the Nexio API environment, such as 'nexiopaysandbox'
          or 'nexiopay'.
        name: subdomain
        title: Subdomain
        default: nexiopay
        enum:
          - nexiopaysandbox
          - nexiopay
        order: 2
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    terminal_list: true
    recipients: true
    payment_types: true
    user: true
    spendbacks: true
    card_tokens: true
  testedStreams:
    terminal_list:
      streamHash: 98fa89f00c8447a82c0787e19a3f87b32174fa87
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    recipients:
      streamHash: fd952c40a8d2bf58ce79d288abbf5664d2a028f0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    payment_types:
      streamHash: 8d3f8bcb1b8264d350128467d64001180d14e449
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    user:
      streamHash: ac8c2a3ae5fcea5cb363babd6d8b31cf94a3cd59
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    spendbacks:
      streamHash: 18cd4e3be8bfae81c79ee5d463732a53049caab0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    card_tokens:
      streamHash: 93734405d103a33e36e5e3629dfcbae0bc1c8099
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://docs.nexiopay.com/reference/api-reference

schemas:
  terminal_list:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      deviceId:
        type:
          - string
          - "null"
      gatewayLabel:
        type:
          - string
          - "null"
      gatewayName:
        type:
          - string
          - "null"
      gatewayType:
        type:
          - number
          - "null"
      merchantId:
        type:
          - string
          - "null"
      merchantName:
        type:
          - string
          - "null"
      terminalId:
        type: string
      terminalKey:
        type:
          - string
          - "null"
      terminalName:
        type:
          - string
          - "null"
      terminalSerialNumber:
        type:
          - string
          - "null"
      terminalStatus:
        type:
          - string
          - "null"
    required:
      - terminalId
  recipients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      country:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      payoutAccountId:
        type:
          - number
          - "null"
      providerId:
        type:
          - number
          - "null"
      providerRecipientRef:
        type:
          - string
          - "null"
      providerType:
        type:
          - number
          - "null"
      recipientId:
        type: number
      recipientRef:
        type:
          - string
          - "null"
      updatedAt:
        type: string
      userType:
        type:
          - string
          - "null"
    required:
      - recipientId
      - updatedAt
  payment_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  user:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accessRights:
        type:
          - object
          - "null"
        properties:
          merchantIds:
            type:
              - object
              - "null"
            properties:
              "332221":
                type:
                  - string
                  - "null"
          role:
            type:
              - string
              - "null"
      accountId:
        type: string
      accountType:
        type:
          - string
          - "null"
      cognitoSub:
        type:
          - string
          - "null"
      dateCreated:
        type:
          - string
          - "null"
      dateLastModified:
        type: string
      enabled:
        type:
          - boolean
          - "null"
      isApiUser:
        type:
          - boolean
          - "null"
      isEnabledForAccountUpdater:
        type:
          - boolean
          - "null"
      isEnabledForCybersourceAccountUpdater:
        type:
          - boolean
          - "null"
      isEnabledForVTerm:
        type:
          - boolean
          - "null"
      payoutAccessRights:
        type:
          - object
          - "null"
        properties:
          "5045":
            type:
              - string
              - "null"
      random-1569849:
        type:
          - string
          - "null"
      userName:
        type:
          - string
          - "null"
    required:
      - accountId
      - dateLastModified
  spendbacks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      id:
        type: number
      payoutAccountId:
        type:
          - number
          - "null"
      providerId:
        type:
          - number
          - "null"
      providerSpendbackRef:
        type:
          - string
          - "null"
      providerType:
        type:
          - number
          - "null"
      recipientId:
        type:
          - number
          - "null"
      recipientRef:
        type:
          - string
          - "null"
      spendbackDate:
        type:
          - string
          - "null"
      spendbackRef:
        type:
          - string
          - "null"
      spendbackStatus:
        type:
          - number
          - "null"
      spendbackType:
        type:
          - number
          - "null"
      updatedAt:
        type: string
    required:
      - id
      - updatedAt
  card_tokens:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accountUpdaterStatus:
        type:
          - string
          - "null"
      cardHolderName:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      expirationMonth:
        type:
          - number
          - "null"
      expirationYear:
        type:
          - number
          - "null"
      firstSix:
        type:
          - string
          - "null"
      key:
        type: string
      lastFour:
        type:
          - string
          - "null"
      merchantId:
        type:
          - string
          - "null"
      pauseAccountUpdater:
        type:
          - boolean
          - "null"
      shouldUpdateCard:
        type:
          - boolean
          - "null"
      token:
        type:
          - string
          - "null"
      updatedAt:
        type: string
    required:
      - key
      - updatedAt
