version: 7.33.0

type: DeclarativeSource

description: >-
  The Incident.io source connector which ingests data from the incident API.
  Incident.io is an on call, status pages and incident response tool.
  The source supports a number of API changes.
  For more information, checkout the website https://incident.io/
  
  An API key is required for authentication and using this connector.
  In order to obtain an API key, you must have a PRO or above account.
  Once logged-in, you will find your API key your dashboard settings.
  You can find more about their API here https://api-docs.incident.io/
  
check:
  type: CheckStream
  stream_names:
    - incidents

definitions:
  streams:
    actions:
      type: DeclarativeStream
      name: actions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/actions
          http_method: GET
          request_parameters:
            updated_at[date_range]: "{{ stream_interval['start_time'] }}~{{ stream_interval['end_time'] }}"
        partition_router:
          type: ListPartitionRouter
          cursor_field: incident_mode
          values:
            - standard
            - retrospective
            - test
            - tutorial
            - stream
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: incident_mode
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - actions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      incremental_sync:
        $ref: "#/definitions/updated_at_cursor"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/actions"
    catalog_types:
      type: DeclarativeStream
      name: catalog_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/catalog_types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - catalog_types
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_types"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/custom_fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - custom_fields
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    follow-ups:
      type: DeclarativeStream
      name: follow-ups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/follow_ups
          http_method: GET
          request_parameters:
            updated_at[date_range]: "{{ stream_interval['start_time'] }}~{{ stream_interval['end_time'] }}"
        partition_router:
          type: ListPartitionRouter
          cursor_field: incident_mode
          values:
            - standard
            - retrospective
            - test
            - tutorial
            - stream
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: incident_mode
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - follow_ups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      incremental_sync:
        $ref: "#/definitions/updated_at_cursor"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/follow-ups"
    incident_roles:
      type: DeclarativeStream
      name: incident_roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/incident_roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incident_roles
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_roles"
    incident_timestamps:
      type: DeclarativeStream
      name: incident_timestamps
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/incident_timestamps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incident_timestamps
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_timestamps"
    incident_updates:
      type: DeclarativeStream
      name: incident_updates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/incident_updates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incident_updates
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_updates"
    incident_statuses:
      type: DeclarativeStream
      name: incident_statuses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/incident_statuses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incident_statuses
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_statuses"
    workflows:
      type: DeclarativeStream
      name: workflows
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/workflows
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - workflows
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflows"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/users
          http_method: GET
          request_parameters:
            include_inactive: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 10000
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    severities:
      type: DeclarativeStream
      name: severities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/severities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - severities
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/severities"
    schedules:
      type: DeclarativeStream
      name: schedules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/schedules
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - schedules
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/schedules"
    incidents:
      type: DeclarativeStream
      name: incidents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/incidents
          http_method: GET
          request_parameters:
            updated_at[date_range]: "{{ format_datetime(stream_interval['start_time'], '%Y-%m-%d') }}~{{ format_datetime(stream_interval['end_time'], '%Y-%m-%d') }}"
            status_category[one_of]: "{{ ['triage', 'live', 'learning', 'paused', 'closed', 'declined', 'canceled', 'merged'] }}"
            mode[one_of]: "{{ ['standard', 'retrospective', 'test', 'tutorial', 'stream'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incidents
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      incremental_sync:
        $ref: "#/definitions/updated_at_cursor"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents"
    alerts:
      type: DeclarativeStream
      name: alerts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/alerts
          http_method: GET
          request_parameters:
            updated_at[date_range]: "{{ stream_interval['start_time'] }}~{{ stream_interval['end_time'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alerts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: after
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      incremental_sync:
        $ref: "#/definitions/updated_at_cursor"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alerts"
    escalations:
      type: DeclarativeStream
      name: escalations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/escalations
          http_method: GET
          request_parameters:
            updated_at[date_range]: "{{ format_datetime(stream_interval['start_time'], '%Y-%m-%d') }}~{{ format_datetime(stream_interval['end_time'], '%Y-%m-%d') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - escalations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: after
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      incremental_sync:
        $ref: "#/definitions/updated_at_cursor"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/escalations"
    incident_types:
      type: DeclarativeStream
      name: incident_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/incident_types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incident_types
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_types"
    incident_attachments:
      type: DeclarativeStream
      name: incident_attachments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/incident_attachments
          http_method: GET
          error_handler:
            $ref: "#/definitions/base_error_handler"
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 404
              - $ref: "#/definitions/base_error_handler/response_filters/0"
              - $ref: "#/definitions/base_error_handler/response_filters/1"
              - $ref: "#/definitions/base_error_handler/response_filters/2"
              - $ref: "#/definitions/base_error_handler/response_filters/3"
              - $ref: "#/definitions/base_error_handler/response_filters/4"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incident_attachments
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              request_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: incident_id
              partition_field: incident_id
              stream:
                $ref: "#/definitions/streams/incidents"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_attachments"
    catalog_entries:
      type: DeclarativeStream
      name: catalog_entries
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/catalog_entries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - catalog_entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              request_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: catalog_type_id
              partition_field: catalog_type_id
              stream:
                $ref: "#/definitions/streams/catalog_types"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_entries"
    catalog_resources:
      type: DeclarativeStream
      name: catalog_resources
      primary_key:
        - type
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/catalog_resources
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - resources
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_resources"
    custom_field_options:
      type: DeclarativeStream
      name: custom_field_options
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/custom_field_options
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - custom_field_options
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              request_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: custom_field_id
              partition_field: custom_field_id
              stream:
                $ref: "#/definitions/streams/custom_fields"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_field_options"
    alert_sources:
      type: DeclarativeStream
      name: alert_sources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/alert_sources
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alert_sources
      transformations:
        - type: RemoveFields
          field_pointers:
            - - secret_token
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alert_sources"
    alert_routes:
      type: DeclarativeStream
      name: alert_routes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/alert_routes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alert_routes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alert_routes"
    alert_attributes:
      type: DeclarativeStream
      name: alert_attributes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/alert_attributes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alert_attributes
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alert_attributes"
    incident_alerts:
      type: DeclarativeStream
      name: incident_alerts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/incident_alerts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incident_alerts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_alerts"
    escalation_paths:
      type: DeclarativeStream
      name: escalation_paths
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/escalation_paths
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - escalation_paths
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 25
            cursor_value: "{{ response.get('pagination_meta', {}).get('after') }}"
            stop_condition: "{{ response.get('pagination_meta', {}).get('after') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/escalation_paths"
  base_error_handler:
    type: DefaultErrorHandler
    max_retries: 5
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: retry-after
        max_waiting_time_in_seconds: 600
      - type: ExponentialBackoffStrategy
        factor: 5
    response_filters:
      - type: HttpResponseFilter
        action: FAIL
        failure_type: config_error
        http_codes:
          - 401
        error_message: "The API key is invalid or has been revoked. Create a new key in incident.io under Settings > API keys and update the connector configuration."
      - type: HttpResponseFilter
        action: FAIL
        failure_type: config_error
        http_codes:
          - 403
        error_message: "The API key lacks a permission this stream needs: {{ ((response.get('errors') or [{}])[0].get('message') or 'see the incident.io error response')[:300] }}. Grant it in incident.io under Settings > API keys, or deselect the stream."
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes:
          - 429
        error_message: "incident.io rate limit reached. Retrying after the Retry-After interval."
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 408
          - 500
          - 502
          - 503
          - 504
        error_message: "incident.io returned a transient error. Retrying."
      - type: HttpResponseFilter
        action: FAIL
        failure_type: system_error
        http_codes:
          - 400
          - 404
          - 405
          - 406
          - 409
          - 412
          - 413
          - 422
        error_message: "incident.io rejected the request: {{ ((response.get('errors') or [{}])[0].get('message') or 'see the incident.io error response')[:300] }}"
  base_requester:
    type: HttpRequester
    url_base: https://api.incident.io
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - $ref: "#/definitions/base_error_handler"
  updated_at_cursor:
    type: DatetimeBasedCursor
    cursor_field: updated_at
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    step: "{{ config.get('time_window') or 'P30D' }}"
    cursor_granularity: "PT0.000001S"
    lookback_window: "PT5M"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config.get('start_date') or '2020-01-01T00:00:00Z' }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"

streams:
  - $ref: "#/definitions/streams/actions"
  - $ref: "#/definitions/streams/catalog_types"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/follow-ups"
  - $ref: "#/definitions/streams/incident_roles"
  - $ref: "#/definitions/streams/incident_timestamps"
  - $ref: "#/definitions/streams/incident_updates"
  - $ref: "#/definitions/streams/incident_statuses"
  - $ref: "#/definitions/streams/workflows"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/severities"
  - $ref: "#/definitions/streams/schedules"
  - $ref: "#/definitions/streams/incidents"
  - $ref: "#/definitions/streams/alerts"
  - $ref: "#/definitions/streams/escalations"
  - $ref: "#/definitions/streams/incident_types"
  - $ref: "#/definitions/streams/incident_attachments"
  - $ref: "#/definitions/streams/catalog_entries"
  - $ref: "#/definitions/streams/catalog_resources"
  - $ref: "#/definitions/streams/custom_field_options"
  - $ref: "#/definitions/streams/alert_sources"
  - $ref: "#/definitions/streams/alert_routes"
  - $ref: "#/definitions/streams/alert_attributes"
  - $ref: "#/definitions/streams/incident_alerts"
  - $ref: "#/definitions/streams/escalation_paths"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers') or 4 }}"
  max_concurrency: 10

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 60
          interval: PT1M
      matchers:
        - type: HttpRequestRegexMatcher
          method: GET
          url_base: https://api.incident.io
          url_path_pattern: ^/v2/incidents$
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 1200
          interval: PT1M
      matchers: []
  ratelimit_remaining_header: x-ratelimit-remaining
  status_codes_for_ratelimit_hit:
    - 429

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: API key to use. Find it at https://app.incident.io/settings/api-keys
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start Date
        description: "Only sync records updated on or after this UTC date for the incremental streams (incidents, alerts, escalations, actions, follow-ups). The default predates all incident.io data, so everything is synced. Streams read per incident, such as `incident_attachments`, follow the same scope and only cover incidents updated on or after this date."
        format: date-time
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        default: "2020-01-01T00:00:00Z"
        examples:
          - "2024-01-01T00:00:00Z"
        order: 1
      time_window:
        type: string
        title: Time window
        description: "Size of each date window requested from incident.io on incremental streams, in whole days as an ISO 8601 duration (for example P30D, P7D, P365D). The minimum is P1D because incidents and escalations filter by date. Smaller windows let more requests run in parallel on large accounts; larger windows mean fewer requests on small accounts. Defaults to P30D."
        default: "P30D"
        pattern: "^P[1-9][0-9]*D$"
        examples:
          - "P30D"
          - "P7D"
          - "P365D"
        order: 2
      num_workers:
        type: integer
        title: Number of concurrent workers
        description: "Number of streams and partitions read in parallel. Higher values can speed up large syncs but use more of the incident.io rate limit (1,200 requests per minute per API key, 60 per minute on incidents). Defaults to 4."
        default: 4
        minimum: 1
        maximum: 10
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    actions: true
    incident_types: true
    incident_attachments: true
    catalog_entries: true
    catalog_resources: true
    custom_field_options: true
    catalog_types: true
    custom_fields: true
    follow-ups: true
    incident_roles: true
    incident_timestamps: true
    incident_updates: true
    incident_statuses: false
    workflows: false
    users: true
    severities: false
    schedules: false
    incidents: true
    alerts: true
    escalations: true
  testedStreams:
    actions:
      streamHash: 66bd85de048e14ed758adfad4f83d9ab9ef62b7e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    catalog_types:
      streamHash: 19677186cdbbea19797f9567dbd84b05d82dfcb1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    custom_fields:
      streamHash: c2a88ffab2d70b975126b050a936627226ca35e3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    follow-ups:
      streamHash: 86a85ad2e6b345fa10573511cd86d008bb7ad75a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    incident_roles:
      streamHash: f1f97627ced073f4fdc39cf7fdb9b47ff136b20e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    incident_timestamps:
      streamHash: 2bf61e3dcde3c4e8ef428f0b45d4b160f4b4092d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    incident_updates:
      streamHash: fe8303160cfdf6a56006d3fe67146c6e04dfcca9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    incident_statuses:
      streamHash: c426dd6028bbb07321bbda169c89b66f3c470c61
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    workflows:
      streamHash: c3e87a0f00eae4254aa7194a93589f7761bb32b5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 6a6fb6e206dfd6c0860b9e11f01b5161b7281779
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    severities:
      streamHash: e6a359ae7611c9c12b23c9d21a8b0504ca4e5d3b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    schedules:
      streamHash: 5f2b6b9f1068e609144643d2c205bdd4775f4d6f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    incidents:
      streamHash: c7ab9d59ffea3d32aec4306215c27a7fa5b52c30
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    alerts:
      streamHash: 2085de45af65a2f97da5b70a3f478fa3bd74bb3c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://api-docs.incident.io/

schemas:
  incident_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      is_default:
        type:
          - boolean
          - "null"
      private_incidents_only:
        type:
          - boolean
          - "null"
      create_in_triage:
        type:
          - string
          - "null"
      owning_team_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
  incident_attachments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      incident_id:
        type:
          - string
          - "null"
      resource:
        type:
          - object
          - "null"
        properties:
          external_id:
            type:
              - string
              - "null"
          permalink:
            type:
              - string
              - "null"
          resource_type:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
    required:
      - id
  catalog_entries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      catalog_type_id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      external_id:
        type:
          - string
          - "null"
      aliases:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      rank:
        type:
          - integer
          - "null"
      attribute_values:
        type:
          - object
          - "null"
        additionalProperties: true
      archived_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
  catalog_resources:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type: string
      engine_resource_type:
        type:
          - string
          - "null"
      label:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      value_docstring:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
    required:
      - type
  custom_field_options:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      custom_field_id:
        type:
          - string
          - "null"
      value:
        type:
          - string
          - "null"
      sort_key:
        type:
          - integer
          - "null"
    required:
      - id
  alert_sources:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      source_type:
        type:
          - string
          - "null"
      template:
        type:
          - object
          - "null"
        additionalProperties: true
      owning_team_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      fixed_team_id:
        type:
          - string
          - "null"
      auto_resolve_incident_alerts:
        type:
          - boolean
          - "null"
      auto_resolve_timeout_minutes:
        type:
          - integer
          - "null"
      alert_events_url:
        type:
          - string
          - "null"
      email_options:
        type:
          - object
          - "null"
        properties:
          email_address:
            type:
              - string
              - "null"
          redactions:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          transform_expression:
            type:
              - string
              - "null"
      heartbeat_options:
        type:
          - object
          - "null"
        properties:
          failure_threshold:
            type:
              - integer
              - "null"
          grace_period_seconds:
            type:
              - integer
              - "null"
          interval_seconds:
            type:
              - integer
              - "null"
          ping_url:
            type:
              - string
              - "null"
      http_custom_options:
        type:
          - object
          - "null"
        properties:
          deduplication_key_path:
            type:
              - string
              - "null"
          transform_expression:
            type:
              - string
              - "null"
      jira_options:
        type:
          - object
          - "null"
        properties:
          project_ids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      azure_devops_options:
        type:
          - object
          - "null"
        properties:
          project_ids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      filter_condition_groups:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          additionalProperties: true
      rate_limit_sharding:
        type:
          - object
          - "null"
        properties:
          rate_limit_shard_key_path:
            type:
              - string
              - "null"
    required:
      - id
  alert_routes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      enabled:
        type:
          - boolean
          - "null"
    required:
      - id
  alert_attributes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      type:
        type:
          - string
          - "null"
      array:
        type:
          - boolean
          - "null"
      required:
        type:
          - boolean
          - "null"
      emoji:
        type:
          - string
          - "null"
    required:
      - id
  incident_alerts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      alert:
        type:
          - object
          - "null"
        properties:
          alert_group_ids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          alert_source_id:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          deduplication_key:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          resolved_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          source_url:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
      incident:
        type:
          - object
          - "null"
        properties:
          external_id:
            type:
              - integer
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          reference:
            type:
              - string
              - "null"
          status_category:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          visibility:
            type:
              - string
              - "null"
      alert_route_id:
        type:
          - string
          - "null"
    required:
      - id
  escalation_paths:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      kind:
        type:
          - string
          - "null"
      path:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            type:
              type:
                - string
                - "null"
            delay:
              type:
                - object
                - "null"
              additionalProperties: true
            escalation_path:
              type:
                - object
                - "null"
              additionalProperties: true
            if_else:
              type:
                - object
                - "null"
              additionalProperties: true
            level:
              type:
                - object
                - "null"
              additionalProperties: true
            notify_channel:
              type:
                - object
                - "null"
              additionalProperties: true
            repeat:
              type:
                - object
                - "null"
              additionalProperties: true
      team_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      working_hours:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            timezone:
              type:
                - string
                - "null"
            weekday_intervals:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  end_time:
                    type:
                      - string
                      - "null"
                  start_time:
                    type:
                      - string
                      - "null"
                  weekday:
                    type:
                      - string
                      - "null"
      repeat_config:
        type:
          - object
          - "null"
        properties:
          delay_repeat_on_activity:
            type:
              - boolean
              - "null"
          repeat_after_seconds:
            type:
              - integer
              - "null"
      current_responders:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            role:
              type:
                - string
                - "null"
            slack_user_id:
              type:
                - string
                - "null"
      param_bindings:
        type:
          - object
          - "null"
        additionalProperties: true
      template_id:
        type:
          - string
          - "null"
    required:
      - id
  actions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      completed_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      creator:
        type:
          - object
          - "null"
        properties:
          alert:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
          api_key:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          user:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              slack_user_id:
                type:
                  - string
                  - "null"
          workflow:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
      description:
        type:
          - string
          - "null"
      assignee:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          slack_user_id:
            type:
              - string
              - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      id:
        type: string
      incident_id:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
  catalog_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      dynamic_resource_parameter:
        type:
          - string
          - "null"
      engine_resource_type:
        type:
          - string
          - "null"
      source_repo_url:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      estimated_count:
        type:
          - integer
          - "null"
        format: int64
      annotations:
        type:
          - object
          - "null"
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      color:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      icon:
        type:
          - string
          - "null"
      id:
        type: string
      is_editable:
        type:
          - boolean
          - "null"
      is_team_type:
        type:
          - boolean
          - "null"
      last_synced_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      name:
        type:
          - string
          - "null"
      owning_team_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      ranked:
        type:
          - boolean
          - "null"
      registry_type:
        type:
          - string
          - "null"
      required_integrations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      schema:
        type:
          - object
          - "null"
        properties:
          version:
            type:
              - number
              - "null"
          attributes:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                array:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                mode:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                backlink_attribute:
                  type:
                    - string
                    - "null"
                path:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      attribute_id:
                        type:
                          - string
                          - "null"
                      attribute_name:
                        type:
                          - string
                          - "null"
      type_name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      use_name_as_identifier:
        type:
          - boolean
          - "null"
    required:
      - id
  custom_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      catalog_type_id:
        type:
          - string
          - "null"
      group_by_catalog_attribute_id:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      field_type:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
  follow-ups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      assignee_team:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      completed_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      creator:
        type:
          - object
          - "null"
        properties:
          alert:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
          api_key:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          user:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              slack_user_id:
                type:
                  - string
                  - "null"
          workflow:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      description:
        type:
          - string
          - "null"
      assignee:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          slack_user_id:
            type:
              - string
              - "null"
      category:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rank:
            type:
              - number
              - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      external_issue_reference:
        type:
          - object
          - "null"
        properties:
          issue_name:
            type:
              - string
              - "null"
          issue_permalink:
            type:
              - string
              - "null"
          provider:
            type:
              - string
              - "null"
      id:
        type: string
      incident_id:
        type:
          - string
          - "null"
      priority:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rank:
            type:
              - number
              - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
  incident_roles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      id:
        type: string
      instructions:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      required:
        type:
          - boolean
          - "null"
      role_type:
        type:
          - string
          - "null"
      shortform:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
  incident_timestamps:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      rank:
        type:
          - number
          - "null"
    required:
      - id
  incident_updates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      merged_into_incident_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      id:
        type: string
      incident_id:
        type:
          - string
          - "null"
      message:
        type:
          - string
          - "null"
      new_incident_status:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          category:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rank:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
      new_severity:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rank:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
      updater:
        type:
          - object
          - "null"
        properties:
          user:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              slack_user_id:
                type:
                  - string
                  - "null"
    required:
      - id
  incident_statuses:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      description:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      id:
        type: string
      name:
        type:
          - string
          - "null"
      rank:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
    additionalProperties: true
  workflows:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      include_private_escalations:
        type:
          - boolean
          - "null"
      private_incident_scope:
        type:
          - string
          - "null"
      version:
        type:
          - number
          - "null"
      condition_groups:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            conditions:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  operation:
                    type:
                      - object
                      - "null"
                    properties:
                      label:
                        type:
                          - string
                          - "null"
                      value:
                        type:
                          - string
                          - "null"
                  param_bindings:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        array_value:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              label:
                                type:
                                  - string
                                  - "null"
                              literal:
                                type:
                                  - string
                                  - "null"
                  subject:
                    type:
                      - object
                      - "null"
                    properties:
                      label:
                        type:
                          - string
                          - "null"
                      reference:
                        type:
                          - string
                          - "null"
      continue_on_step_error:
        type:
          - boolean
          - "null"
      expressions:
        type:
          - array
          - "null"
      id:
        type: string
      include_private_incidents:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      once_for:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            array:
              type:
                - boolean
                - "null"
            key:
              type:
                - string
                - "null"
            label:
              type:
                - string
                - "null"
      runs_from:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      runs_on_incident_modes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      runs_on_incidents:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      steps:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            label:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      trigger:
        type:
          - object
          - "null"
        properties:
          label:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
    required:
      - id
    additionalProperties: true
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      is_active:
        type:
          - boolean
          - "null"
      seats:
        type:
          - object
          - "null"
        properties:
          on_call:
            type:
              - string
              - "null"
          response:
            type:
              - string
              - "null"
      base_role:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
      custom_roles:
        type:
          - array
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      slack_user_id:
        type:
          - string
          - "null"
    required:
      - id
  severities:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      id:
        type: string
      name:
        type:
          - string
          - "null"
      rank:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
    additionalProperties: true
  schedules:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      permalink:
        type:
          - string
          - "null"
      team_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      annotations:
        type:
          - object
          - "null"
      config:
        type:
          - object
          - "null"
        properties:
          rotations:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                handover_start_at:
                  type:
                    - string
                    - "null"
                  format: date-time
                  airbyte_type: timestamp_with_timezone
                handovers:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      interval:
                        type:
                          - number
                          - "null"
                      interval_type:
                        type:
                          - string
                          - "null"
                id:
                  type:
                    - string
                    - "null"
                layers:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                name:
                  type:
                    - string
                    - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      current_shifts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            end_at:
              type:
                - string
                - "null"
              format: date-time
              airbyte_type: timestamp_with_timezone
            fingerprint:
              type:
                - string
                - "null"
            rotation_id:
              type:
                - string
                - "null"
            start_at:
              type:
                - string
                - "null"
              format: date-time
              airbyte_type: timestamp_with_timezone
      holidays_public_config:
        type:
          - object
          - "null"
        properties:
          country_codes:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
    additionalProperties: true
  incidents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      call_url:
        type:
          - string
          - "null"
      last_activity_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      postmortem_document_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      postmortem_document_url:
        type:
          - string
          - "null"
      slack_channel_url:
        type:
          - string
          - "null"
      team_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      creator:
        type:
          - object
          - "null"
        properties:
          user:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              slack_user_id:
                type:
                  - string
                  - "null"
      custom_field_entries:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            custom_field:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                field_type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                options:
                  type:
                    - array
                    - "null"
            values:
              type:
                - array
                - "null"
      duration_metrics:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            duration_metric:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      external_issue_reference:
        type:
          - object
          - "null"
        properties:
          provider:
            type:
              - string
              - "null"
          issue_name:
            type:
              - string
              - "null"
          issue_permalink:
            type:
              - string
              - "null"
      has_debrief:
        type:
          - boolean
          - "null"
      id:
        type: string
      incident_role_assignments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            assignee:
              type:
                - object
                - "null"
              properties:
                email:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                role:
                  type:
                    - string
                    - "null"
                slack_user_id:
                  type:
                    - string
                    - "null"
            role:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                  format: date-time
                  airbyte_type: timestamp_with_timezone
                id:
                  type:
                    - string
                    - "null"
                instructions:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                required:
                  type:
                    - boolean
                    - "null"
                role_type:
                  type:
                    - string
                    - "null"
                shortform:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                  format: date-time
                  airbyte_type: timestamp_with_timezone
      incident_status:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          category:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rank:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
      incident_timestamp_values:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            incident_timestamp:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                rank:
                  type:
                    - number
                    - "null"
            value:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - string
                    - "null"
                  format: date-time
                  airbyte_type: timestamp_with_timezone
      incident_type:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          create_in_triage:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          id:
            type:
              - string
              - "null"
          is_default:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          private_incidents_only:
            type:
              - boolean
              - "null"
          updated_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
      mode:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      permalink:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      severity:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rank:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
            format: date-time
            airbyte_type: timestamp_with_timezone
      slack_channel_id:
        type:
          - string
          - "null"
      slack_channel_name:
        type:
          - string
          - "null"
      slack_team_id:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      visibility:
        type:
          - string
          - "null"
      workload_minutes_late:
        type:
          - number
          - "null"
      workload_minutes_sleeping:
        type:
          - number
          - "null"
      workload_minutes_total:
        type:
          - number
          - "null"
      workload_minutes_working:
        type:
          - number
          - "null"
    required:
      - id
  alerts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      alert_group_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      description:
        type:
          - string
          - "null"
      alert_source_id:
        type:
          - string
          - "null"
      attributes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            attribute:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                array:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            value:
              type:
                - object
                - "null"
              properties:
                catalog_entry:
                  type:
                    - object
                    - "null"
                  properties:
                    catalog_type_id:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                label:
                  type:
                    - string
                    - "null"
                literal:
                  type:
                    - string
                    - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      deduplication_key:
        type:
          - string
          - "null"
      id:
        type: string
      resolved_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      source_url:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
  escalations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
      creator:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          alert:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              id:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
          user:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              slack_user_id:
                type:
                  - string
                  - "null"
          workflow:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
      escalation_path_id:
        type:
          - string
          - "null"
      events:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
          properties:
            channels:
              type:
                - array
                - "null"
              items:
                type: object
                additionalProperties: true
                properties:
                  microsoft_teams_channel_id:
                    type:
                      - string
                      - "null"
                  microsoft_teams_team_id:
                    type:
                      - string
                      - "null"
                  slack_channel_id:
                    type:
                      - string
                      - "null"
                  slack_team_id:
                    type:
                      - string
                      - "null"
            event:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            occurred_at:
              type:
                - string
                - "null"
              format: date-time
              airbyte_type: timestamp_with_timezone
            urgency:
              type:
                - string
                - "null"
            users:
              type:
                - array
                - "null"
              items:
                type: object
                additionalProperties: true
                properties:
                  email:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  role:
                    type:
                      - string
                      - "null"
                  slack_user_id:
                    type:
                      - string
                      - "null"
      id:
        type: string
      priority:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          name:
            type:
              - string
              - "null"
      related_alerts:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
          properties:
            alert_source_id:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
              format: date-time
              airbyte_type: timestamp_with_timezone
            deduplication_key:
              type:
                - string
                - "null"
            description:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            resolved_at:
              type:
                - string
                - "null"
              format: date-time
              airbyte_type: timestamp_with_timezone
            source_url:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
              format: date-time
              airbyte_type: timestamp_with_timezone
      related_incidents:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
          properties:
            external_id:
              type:
                - integer
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            reference:
              type:
                - string
                - "null"
            status_category:
              type:
                - string
                - "null"
            summary:
              type:
                - string
                - "null"
            visibility:
              type:
                - string
                - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
        airbyte_type: timestamp_with_timezone
    required:
      - id
