version: 7.28.2

type: DeclarativeSource

description: Pull data from GitHub.

check:
  type: CheckStream
  stream_names:
    - pull_requests

streams:
  - type: DeclarativeStream
    name: pull_requests
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['access_token'] }}"
        request_headers:
          Accept: application/vnd.github+json
          X-GitHub-Api-Version: "2022-11-28"
        http_method: GET
        request_parameters:
          state: all
          sort: updated
          direction: asc
          per_page: "100"
        url: >-
          https://api.github.com/repos/{{ config['owner'] }}/{{ config['repo']
          }}/pulls
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers.get('link', {}).get('next', {}).get('url') }}"
          stop_condition: "{{ not headers.get('link', {}).get('next', {}).get('url') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      partition_field_end: ""
      partition_field_start: ""
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          url:
            type:
              - string
              - "null"
          id:
            type: number
          node_id:
            type:
              - string
              - "null"
          html_url:
            type:
              - string
              - "null"
          diff_url:
            type:
              - string
              - "null"
          patch_url:
            type:
              - string
              - "null"
          issue_url:
            type:
              - string
              - "null"
          number:
            type:
              - number
              - "null"
          state:
            type:
              - string
              - "null"
          locked:
            type:
              - boolean
              - "null"
          title:
            type:
              - string
              - "null"
          user:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
          body:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type: string
          closed_at:
            type:
              - string
              - "null"
          merged_at:
            type:
              - string
              - "null"
          merge_commit_sha:
            type:
              - string
              - "null"
          assignees:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                login:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                node_id:
                  type:
                    - string
                    - "null"
                avatar_url:
                  type:
                    - string
                    - "null"
                gravatar_id:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                html_url:
                  type:
                    - string
                    - "null"
                followers_url:
                  type:
                    - string
                    - "null"
                following_url:
                  type:
                    - string
                    - "null"
                gists_url:
                  type:
                    - string
                    - "null"
                starred_url:
                  type:
                    - string
                    - "null"
                subscriptions_url:
                  type:
                    - string
                    - "null"
                organizations_url:
                  type:
                    - string
                    - "null"
                repos_url:
                  type:
                    - string
                    - "null"
                events_url:
                  type:
                    - string
                    - "null"
                received_events_url:
                  type:
                    - string
                    - "null"
                user_view_type:
                  type:
                    - string
                    - "null"
                site_admin:
                  type:
                    - boolean
                    - "null"
          requested_reviewers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                login:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                node_id:
                  type:
                    - string
                    - "null"
                avatar_url:
                  type:
                    - string
                    - "null"
                gravatar_id:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                html_url:
                  type:
                    - string
                    - "null"
                followers_url:
                  type:
                    - string
                    - "null"
                following_url:
                  type:
                    - string
                    - "null"
                gists_url:
                  type:
                    - string
                    - "null"
                starred_url:
                  type:
                    - string
                    - "null"
                subscriptions_url:
                  type:
                    - string
                    - "null"
                organizations_url:
                  type:
                    - string
                    - "null"
                repos_url:
                  type:
                    - string
                    - "null"
                events_url:
                  type:
                    - string
                    - "null"
                received_events_url:
                  type:
                    - string
                    - "null"
                user_view_type:
                  type:
                    - string
                    - "null"
                site_admin:
                  type:
                    - boolean
                    - "null"
          requested_teams:
            type:
              - array
              - "null"
          labels:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                node_id:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                color:
                  type:
                    - string
                    - "null"
                default:
                  type:
                    - boolean
                    - "null"
          milestone:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              labels_url:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              number:
                type:
                  - number
                  - "null"
              title:
                type:
                  - string
                  - "null"
              creator:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  avatar_url:
                    type:
                      - string
                      - "null"
                  gravatar_id:
                    type:
                      - string
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  followers_url:
                    type:
                      - string
                      - "null"
                  following_url:
                    type:
                      - string
                      - "null"
                  gists_url:
                    type:
                      - string
                      - "null"
                  starred_url:
                    type:
                      - string
                      - "null"
                  subscriptions_url:
                    type:
                      - string
                      - "null"
                  organizations_url:
                    type:
                      - string
                      - "null"
                  repos_url:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  received_events_url:
                    type:
                      - string
                      - "null"
                  user_view_type:
                    type:
                      - string
                      - "null"
                  site_admin:
                    type:
                      - boolean
                      - "null"
              open_issues:
                type:
                  - number
                  - "null"
              closed_issues:
                type:
                  - number
                  - "null"
              state:
                type:
                  - string
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              due_on:
                type:
                  - string
                  - "null"
              closed_at:
                type:
                  - string
                  - "null"
          draft:
            type:
              - boolean
              - "null"
          commits_url:
            type:
              - string
              - "null"
          review_comments_url:
            type:
              - string
              - "null"
          review_comment_url:
            type:
              - string
              - "null"
          comments_url:
            type:
              - string
              - "null"
          statuses_url:
            type:
              - string
              - "null"
          head:
            type:
              - object
              - "null"
            properties:
              label:
                type:
                  - string
                  - "null"
              ref:
                type:
                  - string
                  - "null"
              sha:
                type:
                  - string
                  - "null"
              user:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  avatar_url:
                    type:
                      - string
                      - "null"
                  gravatar_id:
                    type:
                      - string
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  followers_url:
                    type:
                      - string
                      - "null"
                  following_url:
                    type:
                      - string
                      - "null"
                  gists_url:
                    type:
                      - string
                      - "null"
                  starred_url:
                    type:
                      - string
                      - "null"
                  subscriptions_url:
                    type:
                      - string
                      - "null"
                  organizations_url:
                    type:
                      - string
                      - "null"
                  repos_url:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  received_events_url:
                    type:
                      - string
                      - "null"
                  user_view_type:
                    type:
                      - string
                      - "null"
                  site_admin:
                    type:
                      - boolean
                      - "null"
              repo:
                type:
                  - object
                  - "null"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  full_name:
                    type:
                      - string
                      - "null"
                  private:
                    type:
                      - boolean
                      - "null"
                  owner:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      login:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - number
                          - "null"
                      node_id:
                        type:
                          - string
                          - "null"
                      avatar_url:
                        type:
                          - string
                          - "null"
                      gravatar_id:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      html_url:
                        type:
                          - string
                          - "null"
                      followers_url:
                        type:
                          - string
                          - "null"
                      following_url:
                        type:
                          - string
                          - "null"
                      gists_url:
                        type:
                          - string
                          - "null"
                      starred_url:
                        type:
                          - string
                          - "null"
                      subscriptions_url:
                        type:
                          - string
                          - "null"
                      organizations_url:
                        type:
                          - string
                          - "null"
                      repos_url:
                        type:
                          - string
                          - "null"
                      events_url:
                        type:
                          - string
                          - "null"
                      received_events_url:
                        type:
                          - string
                          - "null"
                      user_view_type:
                        type:
                          - string
                          - "null"
                      site_admin:
                        type:
                          - boolean
                          - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  fork:
                    type:
                      - boolean
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  forks_url:
                    type:
                      - string
                      - "null"
                  keys_url:
                    type:
                      - string
                      - "null"
                  collaborators_url:
                    type:
                      - string
                      - "null"
                  teams_url:
                    type:
                      - string
                      - "null"
                  hooks_url:
                    type:
                      - string
                      - "null"
                  issue_events_url:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  assignees_url:
                    type:
                      - string
                      - "null"
                  branches_url:
                    type:
                      - string
                      - "null"
                  tags_url:
                    type:
                      - string
                      - "null"
                  blobs_url:
                    type:
                      - string
                      - "null"
                  git_tags_url:
                    type:
                      - string
                      - "null"
                  git_refs_url:
                    type:
                      - string
                      - "null"
                  trees_url:
                    type:
                      - string
                      - "null"
                  statuses_url:
                    type:
                      - string
                      - "null"
                  languages_url:
                    type:
                      - string
                      - "null"
                  stargazers_url:
                    type:
                      - string
                      - "null"
                  contributors_url:
                    type:
                      - string
                      - "null"
                  subscribers_url:
                    type:
                      - string
                      - "null"
                  subscription_url:
                    type:
                      - string
                      - "null"
                  commits_url:
                    type:
                      - string
                      - "null"
                  git_commits_url:
                    type:
                      - string
                      - "null"
                  comments_url:
                    type:
                      - string
                      - "null"
                  issue_comment_url:
                    type:
                      - string
                      - "null"
                  contents_url:
                    type:
                      - string
                      - "null"
                  compare_url:
                    type:
                      - string
                      - "null"
                  merges_url:
                    type:
                      - string
                      - "null"
                  archive_url:
                    type:
                      - string
                      - "null"
                  downloads_url:
                    type:
                      - string
                      - "null"
                  issues_url:
                    type:
                      - string
                      - "null"
                  pulls_url:
                    type:
                      - string
                      - "null"
                  milestones_url:
                    type:
                      - string
                      - "null"
                  notifications_url:
                    type:
                      - string
                      - "null"
                  labels_url:
                    type:
                      - string
                      - "null"
                  releases_url:
                    type:
                      - string
                      - "null"
                  deployments_url:
                    type:
                      - string
                      - "null"
                  created_at:
                    type:
                      - string
                      - "null"
                  updated_at:
                    type:
                      - string
                      - "null"
                  pushed_at:
                    type:
                      - string
                      - "null"
                  git_url:
                    type:
                      - string
                      - "null"
                  ssh_url:
                    type:
                      - string
                      - "null"
                  clone_url:
                    type:
                      - string
                      - "null"
                  svn_url:
                    type:
                      - string
                      - "null"
                  homepage:
                    type:
                      - string
                      - "null"
                  size:
                    type:
                      - number
                      - "null"
                  stargazers_count:
                    type:
                      - number
                      - "null"
                  watchers_count:
                    type:
                      - number
                      - "null"
                  language:
                    type:
                      - string
                      - "null"
                  has_issues:
                    type:
                      - boolean
                      - "null"
                  has_projects:
                    type:
                      - boolean
                      - "null"
                  has_downloads:
                    type:
                      - boolean
                      - "null"
                  has_wiki:
                    type:
                      - boolean
                      - "null"
                  has_pages:
                    type:
                      - boolean
                      - "null"
                  has_discussions:
                    type:
                      - boolean
                      - "null"
                  forks_count:
                    type:
                      - number
                      - "null"
                  archived:
                    type:
                      - boolean
                      - "null"
                  disabled:
                    type:
                      - boolean
                      - "null"
                  open_issues_count:
                    type:
                      - number
                      - "null"
                  license:
                    type:
                      - object
                      - "null"
                    properties:
                      key:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      spdx_id:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      node_id:
                        type:
                          - string
                          - "null"
                  allow_forking:
                    type:
                      - boolean
                      - "null"
                  is_template:
                    type:
                      - boolean
                      - "null"
                  web_commit_signoff_required:
                    type:
                      - boolean
                      - "null"
                  has_pull_requests:
                    type:
                      - boolean
                      - "null"
                  pull_request_creation_policy:
                    type:
                      - string
                      - "null"
                  topics:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  visibility:
                    type:
                      - string
                      - "null"
                  forks:
                    type:
                      - number
                      - "null"
                  open_issues:
                    type:
                      - number
                      - "null"
                  watchers:
                    type:
                      - number
                      - "null"
                  default_branch:
                    type:
                      - string
                      - "null"
          base:
            type:
              - object
              - "null"
            properties:
              label:
                type:
                  - string
                  - "null"
              ref:
                type:
                  - string
                  - "null"
              sha:
                type:
                  - string
                  - "null"
              user:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  avatar_url:
                    type:
                      - string
                      - "null"
                  gravatar_id:
                    type:
                      - string
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  followers_url:
                    type:
                      - string
                      - "null"
                  following_url:
                    type:
                      - string
                      - "null"
                  gists_url:
                    type:
                      - string
                      - "null"
                  starred_url:
                    type:
                      - string
                      - "null"
                  subscriptions_url:
                    type:
                      - string
                      - "null"
                  organizations_url:
                    type:
                      - string
                      - "null"
                  repos_url:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  received_events_url:
                    type:
                      - string
                      - "null"
                  user_view_type:
                    type:
                      - string
                      - "null"
                  site_admin:
                    type:
                      - boolean
                      - "null"
              repo:
                type:
                  - object
                  - "null"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  full_name:
                    type:
                      - string
                      - "null"
                  private:
                    type:
                      - boolean
                      - "null"
                  owner:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      login:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - number
                          - "null"
                      node_id:
                        type:
                          - string
                          - "null"
                      avatar_url:
                        type:
                          - string
                          - "null"
                      gravatar_id:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      html_url:
                        type:
                          - string
                          - "null"
                      followers_url:
                        type:
                          - string
                          - "null"
                      following_url:
                        type:
                          - string
                          - "null"
                      gists_url:
                        type:
                          - string
                          - "null"
                      starred_url:
                        type:
                          - string
                          - "null"
                      subscriptions_url:
                        type:
                          - string
                          - "null"
                      organizations_url:
                        type:
                          - string
                          - "null"
                      repos_url:
                        type:
                          - string
                          - "null"
                      events_url:
                        type:
                          - string
                          - "null"
                      received_events_url:
                        type:
                          - string
                          - "null"
                      user_view_type:
                        type:
                          - string
                          - "null"
                      site_admin:
                        type:
                          - boolean
                          - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  fork:
                    type:
                      - boolean
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  forks_url:
                    type:
                      - string
                      - "null"
                  keys_url:
                    type:
                      - string
                      - "null"
                  collaborators_url:
                    type:
                      - string
                      - "null"
                  teams_url:
                    type:
                      - string
                      - "null"
                  hooks_url:
                    type:
                      - string
                      - "null"
                  issue_events_url:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  assignees_url:
                    type:
                      - string
                      - "null"
                  branches_url:
                    type:
                      - string
                      - "null"
                  tags_url:
                    type:
                      - string
                      - "null"
                  blobs_url:
                    type:
                      - string
                      - "null"
                  git_tags_url:
                    type:
                      - string
                      - "null"
                  git_refs_url:
                    type:
                      - string
                      - "null"
                  trees_url:
                    type:
                      - string
                      - "null"
                  statuses_url:
                    type:
                      - string
                      - "null"
                  languages_url:
                    type:
                      - string
                      - "null"
                  stargazers_url:
                    type:
                      - string
                      - "null"
                  contributors_url:
                    type:
                      - string
                      - "null"
                  subscribers_url:
                    type:
                      - string
                      - "null"
                  subscription_url:
                    type:
                      - string
                      - "null"
                  commits_url:
                    type:
                      - string
                      - "null"
                  git_commits_url:
                    type:
                      - string
                      - "null"
                  comments_url:
                    type:
                      - string
                      - "null"
                  issue_comment_url:
                    type:
                      - string
                      - "null"
                  contents_url:
                    type:
                      - string
                      - "null"
                  compare_url:
                    type:
                      - string
                      - "null"
                  merges_url:
                    type:
                      - string
                      - "null"
                  archive_url:
                    type:
                      - string
                      - "null"
                  downloads_url:
                    type:
                      - string
                      - "null"
                  issues_url:
                    type:
                      - string
                      - "null"
                  pulls_url:
                    type:
                      - string
                      - "null"
                  milestones_url:
                    type:
                      - string
                      - "null"
                  notifications_url:
                    type:
                      - string
                      - "null"
                  labels_url:
                    type:
                      - string
                      - "null"
                  releases_url:
                    type:
                      - string
                      - "null"
                  deployments_url:
                    type:
                      - string
                      - "null"
                  created_at:
                    type:
                      - string
                      - "null"
                  updated_at:
                    type:
                      - string
                      - "null"
                  pushed_at:
                    type:
                      - string
                      - "null"
                  git_url:
                    type:
                      - string
                      - "null"
                  ssh_url:
                    type:
                      - string
                      - "null"
                  clone_url:
                    type:
                      - string
                      - "null"
                  svn_url:
                    type:
                      - string
                      - "null"
                  homepage:
                    type:
                      - string
                      - "null"
                  size:
                    type:
                      - number
                      - "null"
                  stargazers_count:
                    type:
                      - number
                      - "null"
                  watchers_count:
                    type:
                      - number
                      - "null"
                  language:
                    type:
                      - string
                      - "null"
                  has_issues:
                    type:
                      - boolean
                      - "null"
                  has_projects:
                    type:
                      - boolean
                      - "null"
                  has_downloads:
                    type:
                      - boolean
                      - "null"
                  has_wiki:
                    type:
                      - boolean
                      - "null"
                  has_pages:
                    type:
                      - boolean
                      - "null"
                  has_discussions:
                    type:
                      - boolean
                      - "null"
                  forks_count:
                    type:
                      - number
                      - "null"
                  archived:
                    type:
                      - boolean
                      - "null"
                  disabled:
                    type:
                      - boolean
                      - "null"
                  open_issues_count:
                    type:
                      - number
                      - "null"
                  license:
                    type:
                      - object
                      - "null"
                    properties:
                      key:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      spdx_id:
                        type:
                          - string
                          - "null"
                      node_id:
                        type:
                          - string
                          - "null"
                  allow_forking:
                    type:
                      - boolean
                      - "null"
                  is_template:
                    type:
                      - boolean
                      - "null"
                  web_commit_signoff_required:
                    type:
                      - boolean
                      - "null"
                  has_pull_requests:
                    type:
                      - boolean
                      - "null"
                  pull_request_creation_policy:
                    type:
                      - string
                      - "null"
                  topics:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  visibility:
                    type:
                      - string
                      - "null"
                  forks:
                    type:
                      - number
                      - "null"
                  open_issues:
                    type:
                      - number
                      - "null"
                  watchers:
                    type:
                      - number
                      - "null"
                  default_branch:
                    type:
                      - string
                      - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              html:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              issue:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              comments:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              review_comments:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              review_comment:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              commits:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
              statuses:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          author_association:
            type:
              - string
              - "null"
          assignee:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
        required:
          - id
          - updated_at
        additionalProperties: true

spec:
  type: Spec
  documentation_url: https://docs.github.com/en/rest/pulls/pulls
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    required:
      - access_token
      - owner
      - repo
      - start_date
    properties:
      access_token:
        type: string
        description: >-
          A personal access token (classic or fine-grained), GitHub App token,
          or GITHUB_TOKEN with the required scopes/permissions for the endpoints
          you wish to access. You can create a personal access token at
          https://github.com/settings/tokens. For fine-grained tokens, see
          https://github.com/settings/personal-access-tokens/new?type=beta.
        title: GitHub Access Token
        airbyte_secret: true
        order: 0
      owner:
        type: string
        description: The GitHub user or organization that owns the repository.
        title: Repository Owner
        order: 1
      repo:
        type: string
        description: The name of the repository (without the owner).
        title: Repository Name
        order: 2
      start_date:
        type: string
        description: Only pull requests updated at or after this date are synced.
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2024-01-01T00:00:00Z"
        order: 3

metadata:
  assist:
    docsUrl: https://docs.github.com/en/rest/pulls/pulls
  autoImportSchema:
    pull_requests: true
  testedStreams:
    pull_requests:
      streamHash: 885ab8b5b98145a121f1c296de24f9e5fd33e6ad
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  applied_migrations:
    - from_version: 7.28.2
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2026-09-26T22:52:18.969981+00:00"
    - from_version: 7.28.2
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2026-09-26T22:52:18.970557+00:00"
