version: 6.4.0

type: DeclarativeSource

description: >-
  Pipeliner is a CRM tool.

  Using this connector we fetch data from various streams such as contacts ,
  data , leads and quotes.

  Docs : https://pipeliner.stoplight.io/docs/api-docs

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    activities:
      type: DeclarativeStream
      name: activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Activities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activities"
    clients:
      type: DeclarativeStream
      name: clients
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Clients
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    entities:
      type: DeclarativeStream
      name: entities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Entities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/entities"
    data:
      type: DeclarativeStream
      name: data
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Data
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/data"
    cloud_objects:
      type: DeclarativeStream
      name: cloud_objects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/CloudObjects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cloud_objects"
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    forecasts:
      type: DeclarativeStream
      name: forecasts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Forecasts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forecasts"
    form_views:
      type: DeclarativeStream
      name: form_views
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/FormViews
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/form_views"
    entity_scorings:
      type: DeclarativeStream
      name: entity_scorings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/EntityScorings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/entity_scorings"
    leads:
      type: DeclarativeStream
      name: leads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Leads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leads"
    lead_oppties:
      type: DeclarativeStream
      name: lead_oppties
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/LeadOppties
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lead_oppties"
    memos:
      type: DeclarativeStream
      name: memos
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Memos
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/memos"
    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Notes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notes"
    entity_fitnesses:
      type: DeclarativeStream
      name: entity_fitnesses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/EntityFitnesses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/entity_fitnesses"
    pipelines:
      type: DeclarativeStream
      name: pipelines
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Pipelines
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipelines"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    oppty_product_relations:
      type: DeclarativeStream
      name: oppty_product_relations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/OpptyProductRelations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/oppty_product_relations"
    profiles:
      type: DeclarativeStream
      name: profiles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Profiles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/profiles"
    quotes:
      type: DeclarativeStream
      name: quotes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Quotes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/quotes"
    reports:
      type: DeclarativeStream
      name: reports
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Reports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports"
    steps:
      type: DeclarativeStream
      name: steps
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Steps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/steps"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entities/Tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"end_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"end_cursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
  base_requester:
    type: HttpRequester
    url_base: >-
      https://{{ config['service']
      }}.api.pipelinersales.com/api/v100/rest/spaces/{{ config['spaceid'] }}/
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/activities"
  - $ref: "#/definitions/streams/clients"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/entities"
  - $ref: "#/definitions/streams/data"
  - $ref: "#/definitions/streams/cloud_objects"
  - $ref: "#/definitions/streams/fields"
  - $ref: "#/definitions/streams/forecasts"
  - $ref: "#/definitions/streams/form_views"
  - $ref: "#/definitions/streams/entity_scorings"
  - $ref: "#/definitions/streams/leads"
  - $ref: "#/definitions/streams/lead_oppties"
  - $ref: "#/definitions/streams/memos"
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/entity_fitnesses"
  - $ref: "#/definitions/streams/pipelines"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/oppty_product_relations"
  - $ref: "#/definitions/streams/profiles"
  - $ref: "#/definitions/streams/quotes"
  - $ref: "#/definitions/streams/reports"
  - $ref: "#/definitions/streams/steps"
  - $ref: "#/definitions/streams/tags"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - service
      - spaceid
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      service:
        type: string
        enum:
          - eu-central
          - us-east
          - ca-central
          - ap-southeast
        order: 2
        title: Data Center
      spaceid:
        type: string
        order: 3
        title: Space ID
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: true
    activities: true
    clients: true
    contacts: true
    entities: true
    data: true
    cloud_objects: true
    fields: true
    forecasts: true
    form_views: true
    entity_scorings: true
    leads: true
    lead_oppties: true
    memos: true
    notes: true
    entity_fitnesses: true
    pipelines: true
    products: true
    oppty_product_relations: true
    profiles: true
    quotes: true
    reports: true
    steps: true
    tags: true
  testedStreams:
    accounts:
      streamHash: 39a2a8ec6dad4f5daa0f70d093829ad54ee2bb85
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activities:
      streamHash: c0bca0262fdb27f1fc174989f6927c1e4e3352e1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    clients:
      streamHash: 680a25c68daddfacefd4e50f9c381872a9f25ef1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: 7a6f9e341c7dbaa5c9e344c86269f77e27d2e575
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    entities:
      streamHash: 970c819a71f20bc072424ade27b6e4041c5dd213
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    data:
      streamHash: 1b1641284543dd89962eddabf30c8af5fc616468
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    cloud_objects:
      streamHash: 58809570dd4bed53af074f6a0ba9989997cfff03
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    fields:
      streamHash: fc5d18d0aa512948fe71110579766e337f535c26
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    forecasts:
      streamHash: 137d841668963922696fbc1f9acf4369ba6af1bb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    form_views:
      streamHash: cee76e910cc8f9abc84291f87bb183a2540b9e48
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    entity_scorings:
      streamHash: de7ca67bc33691f2b00b80086040d087727b0f55
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leads:
      streamHash: a1d4aaea9add93100649ffea2557f3574c803428
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    lead_oppties:
      streamHash: 40c9d53fcf24deb787a97afd669c4c218587a554
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    memos:
      streamHash: 3f83c68405ac1f4591cb8efd09a56370d7d5b7cd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    notes:
      streamHash: e61cff7e465593bd67f5caceae043e50dbe58eff
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    entity_fitnesses:
      streamHash: e8791acf55a12009ec3fb3030a8ecda25efc8380
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pipelines:
      streamHash: 9037984cc7288abc07dfcd10c6a6fe67ea3cea55
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: 2dd8a1a40c6e63d9399b6b1d38d6f6d880c33f97
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    oppty_product_relations:
      streamHash: 683e7de5f640fd0092352daf39d9813f2d6909d2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    profiles:
      streamHash: 4c2e79023b4386e102392cdb59091c5255f0e976
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    quotes:
      streamHash: 27e8fc17a3e3f5a38db3ee6010c217b8741473e3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reports:
      streamHash: 7266fcad025978b8985357e303fe635b3f536d7c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    steps:
      streamHash: 137e1666655a1d220c831f95cc357327feb21816
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      hasRecords: true
      streamHash: 98f3ff0eeed795c19550464a4491e61f2ab9f9f5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_class:
        type:
          - number
          - "null"
      account_type:
        type:
          - string
          - "null"
      account_type_id:
        type:
          - string
          - "null"
      address:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      comments:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      currency_exchange_rates_list:
        type:
          - string
          - "null"
      currency_exchange_rates_list_id:
        type:
          - string
          - "null"
      customer_type:
        type:
          - string
          - "null"
      customer_type_id:
        type:
          - string
          - "null"
      documents:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      email1:
        type:
          - string
          - "null"
      email2:
        type:
          - string
          - "null"
      email3:
        type:
          - string
          - "null"
      email4:
        type:
          - string
          - "null"
      email5:
        type:
          - string
          - "null"
      formatted_name:
        type:
          - string
          - "null"
      health:
        type:
          - object
          - "null"
        properties:
          indicators:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                indicator:
                  type:
                    - string
                    - "null"
                rule:
                  type:
                    - object
                    - "null"
                  properties:
                    description:
                      type:
                        - string
                        - "null"
                    field:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    operator:
                      type:
                        - string
                        - "null"
                    score:
                      type:
                        - number
                        - "null"
                    values:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - number
                            - string
                            - "null"
                value:
                  type:
                    - boolean
                    - number
                    - string
                    - "null"
          last_calculation:
            type:
              - string
              - "null"
          score:
            type:
              - number
              - "null"
          trend:
            type:
              - string
              - "null"
      health_category:
        type:
          - string
          - "null"
      health_status:
        type:
          - number
          - "null"
      home_page:
        type:
          - string
          - "null"
      id:
        type: string
      industry:
        type:
          - string
          - "null"
      industry_id:
        type:
          - string
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_favorite:
        type:
          - boolean
          - "null"
      is_unsubscribed:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      phone1:
        type:
          - string
          - "null"
      phone2:
        type:
          - string
          - "null"
      phone3:
        type:
          - string
          - "null"
      phone4:
        type:
          - string
          - "null"
      phone5:
        type:
          - string
          - "null"
      picture:
        type:
          - string
          - "null"
      picture_id:
        type:
          - string
          - "null"
      quick_parent_account_name:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      share_mode:
        type:
          - number
          - "null"
      sharing_clients:
        type:
          - array
          - "null"
      sharing_units:
        type:
          - array
          - "null"
      state_province:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      unit:
        type:
          - string
          - "null"
      unit_id:
        type:
          - string
          - "null"
      zip_code:
        type:
          - string
          - "null"
    required:
      - id
  activities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      activity_type:
        type:
          - string
          - "null"
      activity_type_id:
        type:
          - string
          - "null"
      call_duration:
        type:
          - number
          - "null"
      comments:
        type:
          - array
          - "null"
      contact_relations:
        type:
          - array
          - "null"
      created:
        type:
          - string
          - "null"
      currency_exchange_rates_list:
        type:
          - string
          - "null"
      currency_exchange_rates_list_id:
        type:
          - string
          - "null"
      custom_entity_relations:
        type:
          - array
          - "null"
      documents:
        type:
          - array
          - "null"
      due_date:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      formatted_name:
        type:
          - string
          - "null"
      has_3rd_party_mapping:
        type:
          - boolean
          - "null"
      id:
        type: string
      invitees_can_edit:
        type:
          - boolean
          - "null"
      invitees_clients:
        type:
          - array
          - "null"
      invitees_contacts:
        type:
          - array
          - "null"
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_recurrence_active:
        type:
          - boolean
          - "null"
      is_recurrence_exception:
        type:
          - boolean
          - "null"
      lead_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      location:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      opportunity_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      project_relations:
        type:
          - array
          - "null"
      quote_relations:
        type:
          - array
          - "null"
      revision:
        type:
          - number
          - "null"
      share_mode:
        type:
          - number
          - "null"
      sharing_clients:
        type:
          - array
          - "null"
      sharing_units:
        type:
          - array
          - "null"
      start_date:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      subject:
        type:
          - string
          - "null"
      table_name:
        type:
          - string
          - "null"
      unit:
        type:
          - string
          - "null"
      unit_id:
        type:
          - string
          - "null"
    required:
      - id
  clients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      account_favorite:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      appointment_favorite:
        type:
          - array
          - "null"
      contact_favorite:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created:
        type:
          - string
          - "null"
      default_unit:
        type:
          - string
          - "null"
      default_unit_id:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      formatted_name:
        type:
          - string
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      last_active:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      lead_favorite:
        type:
          - array
          - "null"
      master_right:
        type:
          - string
          - "null"
      master_right_id:
        type:
          - string
          - "null"
      middle_name:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      opportunity_favorite:
        type:
          - array
          - "null"
      phone:
        type:
          - string
          - "null"
      picture_url:
        type:
          - string
          - "null"
      position:
        type:
          - string
          - "null"
      profile_favorite:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      region:
        type:
          - string
          - "null"
      report_favorite:
        type:
          - array
          - "null"
      revision:
        type:
          - number
          - "null"
      task_favorite:
        type:
          - array
          - "null"
      timezone:
        type:
          - string
          - "null"
      unit_manager_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      unit_member_ids:
        type:
          - array
          - "null"
      unit_membership:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      user_profile_id:
        type:
          - number
          - "null"
      user_recalculation_state:
        type:
          - string
          - "null"
    required:
      - id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_position:
        type:
          - string
          - "null"
      account_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      address:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      comments:
        type:
          - string
          - "null"
      contact_type:
        type:
          - string
          - "null"
      contact_type_id:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      currency_exchange_rates_list:
        type:
          - string
          - "null"
      currency_exchange_rates_list_id:
        type:
          - string
          - "null"
      documents:
        type:
          - array
          - "null"
      email1:
        type:
          - string
          - "null"
      email2:
        type:
          - string
          - "null"
      email3:
        type:
          - string
          - "null"
      email4:
        type:
          - string
          - "null"
      email5:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      formatted_name:
        type:
          - string
          - "null"
      gender:
        type:
          - number
          - "null"
      id:
        type: string
      is_archived:
        type:
          - boolean
          - "null"
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_favorite:
        type:
          - boolean
          - "null"
      is_unsubscribed:
        type:
          - boolean
          - "null"
      last_name:
        type:
          - string
          - "null"
      middle_name:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      modified_by_user:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      phone1:
        type:
          - string
          - "null"
      phone2:
        type:
          - string
          - "null"
      phone3:
        type:
          - string
          - "null"
      phone4:
        type:
          - string
          - "null"
      phone5:
        type:
          - string
          - "null"
      picture:
        type:
          - string
          - "null"
      picture_id:
        type:
          - string
          - "null"
      position:
        type:
          - string
          - "null"
      primary_account:
        type:
          - string
          - "null"
      primary_account_account_roles:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      primary_account_position:
        type:
          - string
          - "null"
      primary_account_relationship:
        type:
          - number
          - "null"
      quick_account_name:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      share_mode:
        type:
          - number
          - "null"
      sharing_clients:
        type:
          - array
          - "null"
      sharing_units:
        type:
          - array
          - "null"
      state_province:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      title:
        type:
          - string
          - "null"
      unit:
        type:
          - string
          - "null"
      unit_id:
        type:
          - string
          - "null"
      zip_code:
        type:
          - string
          - "null"
    required:
      - id
  entities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abstract_entity_id:
        type:
          - string
          - "null"
      access_mode:
        type:
          - number
          - "null"
      allows_multiple_relation:
        type:
          - boolean
          - "null"
      created:
        type:
          - string
          - "null"
      default_view_field_id:
        type:
          - string
          - "null"
      entity_name:
        type:
          - string
          - "null"
      entity_type:
        type:
          - number
          - "null"
      has_draft:
        type:
          - boolean
          - "null"
      icon:
        type:
          - number
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      preference_order:
        type:
          - number
          - "null"
      table_data_ex:
        type:
          - string
          - "null"
      table_ex:
        type:
          - string
          - "null"
      table_name:
        type:
          - string
          - "null"
    required:
      - id
  data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      calc_value:
        type:
          - number
          - "null"
      created:
        type:
          - string
          - "null"
      data_set_id:
        type:
          - string
          - "null"
      has_draft:
        type:
          - boolean
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_published:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      option_name:
        type:
          - string
          - "null"
      option_name_translations:
        type:
          - object
          - "null"
      revision:
        type:
          - number
          - "null"
      sort_order:
        type:
          - number
          - "null"
    required:
      - id
  cloud_objects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      company_cloud_object_folder:
        type:
          - string
          - "null"
      company_cloud_object_folder_id:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      filename:
        type:
          - string
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_public:
        type:
          - boolean
          - "null"
      mime_type:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      params:
        type:
          - object
          - "null"
      revision:
        type:
          - number
          - "null"
      size:
        type:
          - number
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      api_name:
        type:
          - string
          - "null"
      calc_formula:
        type:
          - string
          - "null"
      column_name:
        type:
          - string
          - "null"
      column_source:
        type:
          - number
          - "null"
      composite_field_id:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      data_set:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      data_set_id:
        type:
          - string
          - "null"
      default_value:
        type:
          - string
          - "null"
      entity_name:
        type:
          - string
          - "null"
      field_permissions:
        type:
          - array
          - "null"
      has_draft:
        type:
          - boolean
          - "null"
      id:
        type: string
      is_available_for_advanced_formula:
        type:
          - boolean
          - "null"
      is_available_for_webresource:
        type:
          - boolean
          - "null"
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_published:
        type:
          - boolean
          - "null"
      is_unique:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      name_translations:
        type:
          - object
          - "null"
      original_dataset_field_id:
        type:
          - string
          - "null"
      primitive_type:
        type:
          - string
          - "null"
      relation_id:
        type:
          - string
          - "null"
      relation_with_entity_id:
        type:
          - string
          - "null"
      shared_with_field_id:
        type:
          - string
          - "null"
      source_field_id:
        type:
          - string
          - "null"
      source_type_id:
        type:
          - string
          - "null"
      system_readonly:
        type:
          - boolean
          - "null"
      system_required:
        type:
          - boolean
          - "null"
      system_type:
        type:
          - number
          - "null"
      translated_name:
        type:
          - string
          - "null"
      type_id:
        type:
          - string
          - "null"
      use_in_global_search:
        type:
          - boolean
          - "null"
      use_in_interface_preview:
        type:
          - boolean
          - "null"
      use_lang:
        type:
          - number
          - "null"
    required:
      - id
  forecasts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      description:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      field:
        type:
          - string
          - "null"
      field_id:
        type:
          - string
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      pipeline:
        type:
          - string
          - "null"
      pipeline_id:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          columns:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                base_value:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                open_value_type:
                  type:
                    - string
                    - "null"
                value_comparison:
                  type:
                    - string
                    - "null"
          currency_id:
            type:
              - string
              - "null"
          date_field_id:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          field_filter:
            type:
              - object
              - "null"
            properties:
              filter_main_box:
                type:
                  - object
                  - "null"
                properties:
                  entity:
                    type:
                      - string
                      - "null"
                  filter_fields:
                    type:
                      - array
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              filter_sibling_boxes:
                type:
                  - array
                  - "null"
              is_enabled:
                type:
                  - boolean
                  - "null"
              operator:
                type:
                  - string
                  - "null"
          field_id:
            type:
              - string
              - "null"
          filter:
            type:
              - object
              - "null"
            properties:
              filter_main_box:
                type:
                  - object
                  - "null"
                properties:
                  entity:
                    type:
                      - string
                      - "null"
                  filter_fields:
                    type:
                      - array
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              filter_sibling_boxes:
                type:
                  - array
                  - "null"
              is_custom:
                type:
                  - boolean
                  - "null"
              is_enabled:
                type:
                  - boolean
                  - "null"
              operator:
                type:
                  - string
                  - "null"
          hide_empty_rows:
            type:
              - boolean
              - "null"
          items:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                entity_id:
                  type:
                    - string
                    - "null"
                entity_type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                is_active:
                  type:
                    - boolean
                    - "null"
                quota_split_type:
                  type:
                    - string
                    - "null"
                values:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      date:
                        type:
                          - string
                          - "null"
                      quota:
                        type:
                          - number
                          - "null"
          items_by_level:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                b637ee4d-0c37-4dab-a985-e20f3485c3aa:
                  type:
                    - object
                    - "null"
                  properties:
                    entity_id:
                      type:
                        - string
                        - "null"
                    entity_type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    is_active:
                      type:
                        - boolean
                        - "null"
                    quota_split_type:
                      type:
                        - string
                        - "null"
                    values:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          date:
                            type:
                              - string
                              - "null"
                          quota:
                            type:
                              - number
                              - "null"
          list_view_options:
            type:
              - object
              - "null"
            properties:
              columns:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    field_id:
                      type:
                        - string
                        - "null"
                    frozen:
                      type:
                        - boolean
                        - "null"
                    pixels:
                      type:
                        - boolean
                        - "null"
                    width:
                      type:
                        - number
                        - "null"
              sort_by:
                type:
                  - string
                  - "null"
              sort_order:
                type:
                  - string
                  - "null"
          period:
            type:
              - string
              - "null"
          pipeline_id:
            type:
              - string
              - "null"
          pipeline_view_options:
            type:
              - object
              - "null"
            properties:
              group_by:
                type:
                  - string
                  - "null"
              show_card_fitness:
                type:
                  - boolean
                  - "null"
              show_card_labels:
                type:
                  - boolean
                  - "null"
              show_card_ranking:
                type:
                  - boolean
                  - "null"
              show_card_value:
                type:
                  - boolean
                  - "null"
              show_card_velocity:
                type:
                  - boolean
                  - "null"
              sort_by:
                type:
                  - string
                  - "null"
              sort_order:
                type:
                  - string
                  - "null"
          quota_comparison_type:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          trend_view_options:
            type:
              - object
              - "null"
            properties:
              running_total:
                type:
                  - boolean
                  - "null"
      share_mode:
        type:
          - number
          - "null"
      share_mode_params:
        type:
          - number
          - "null"
      shared_clients:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      shared_units:
        type:
          - array
          - "null"
      start_date:
        type:
          - string
          - "null"
    required:
      - id
  form_views:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_type:
        type:
          - string
          - "null"
      account_type_id:
        type:
          - string
          - "null"
      contact_type:
        type:
          - string
          - "null"
      contact_type_id:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      entity_type_id:
        type:
          - string
          - "null"
      hidden_item_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      item_colors:
        type:
          - array
          - "null"
      lead_type:
        type:
          - string
          - "null"
      lead_type_id:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      oppty_type:
        type:
          - string
          - "null"
      oppty_type_id:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      share_mode:
        type:
          - number
          - "null"
      sharing_clients:
        type:
          - array
          - "null"
      sharing_units:
        type:
          - array
          - "null"
      use_lang:
        type:
          - boolean
          - "null"
    required:
      - id
  entity_scorings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - string
          - "null"
      entity_type:
        type:
          - number
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_enabled:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          categories:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                __typename:
                  type:
                    - string
                    - "null"
                color:
                  type:
                    - number
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                use_lang:
                  type:
                    - boolean
                    - "null"
                value:
                  type:
                    - number
                    - "null"
          filter:
            type:
              - object
              - "null"
            properties:
              __typename:
                type:
                  - string
                  - "null"
              filter_main_box:
                type:
                  - object
                  - "null"
                properties:
                  __typename:
                    type:
                      - string
                      - "null"
                  entity:
                    type:
                      - string
                      - "null"
                  filter_fields:
                    type:
                      - array
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              filter_sibling_boxes:
                type:
                  - array
                  - "null"
              is_enabled:
                type:
                  - boolean
                  - "null"
              operator:
                type:
                  - string
                  - "null"
          rules:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                __typename:
                  type:
                    - string
                    - "null"
                activity_status:
                  type:
                    - number
                    - "null"
                conditions:
                  type:
                    - object
                    - "null"
                  properties:
                    __typename:
                      type:
                        - string
                        - "null"
                    filter_main_box:
                      type:
                        - object
                        - "null"
                      properties:
                        __typename:
                          type:
                            - string
                            - "null"
                        entity:
                          type:
                            - string
                            - "null"
                        filter_fields:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              __typename:
                                type:
                                  - string
                                  - "null"
                              field:
                                type:
                                  - string
                                  - "null"
                              operator:
                                type:
                                  - string
                                  - "null"
                              values:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - string
                                      - "null"
                        id:
                          type:
                            - string
                            - "null"
                    filter_sibling_boxes:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          __typename:
                            type:
                              - string
                              - "null"
                          entity:
                            type:
                              - string
                              - "null"
                          filter_fields:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                __typename:
                                  type:
                                    - string
                                    - "null"
                                field:
                                  type:
                                    - string
                                    - "null"
                                operator:
                                  type:
                                    - string
                                    - "null"
                                values:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - array
                                      - "null"
                                    items:
                                      type:
                                        - string
                                        - "null"
                          id:
                            type:
                              - string
                              - "null"
                          relation:
                            type:
                              - object
                              - "null"
                            properties:
                              __typename:
                                type:
                                  - string
                                  - "null"
                              kind:
                                type:
                                  - string
                                  - "null"
                    operator:
                      type:
                        - string
                        - "null"
                email_event_type:
                  type:
                    - string
                    - "null"
                expiration:
                  type:
                    - number
                    - "null"
                expiration_enabled:
                  type:
                    - boolean
                    - "null"
                expiration_unit:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                is_enabled:
                  type:
                    - boolean
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                score:
                  type:
                    - number
                    - "null"
                score_multiplier:
                  type:
                    - boolean
                    - "null"
                score_multiplier_field_id:
                  type:
                    - string
                    - "null"
                use_lang:
                  type:
                    - boolean
                    - "null"
      sort_order:
        type:
          - number
          - "null"
      use_lang:
        type:
          - boolean
          - "null"
    required:
      - id
  leads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      cf_lead_source1:
        type:
          - string
          - "null"
      cf_lead_source1_id:
        type:
          - string
          - "null"
      cf_other_lead_source:
        type:
          - string
          - "null"
      contact_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created:
        type:
          - string
          - "null"
      currency_exchange_rates_list:
        type:
          - string
          - "null"
      currency_exchange_rates_list_id:
        type:
          - string
          - "null"
      days_in_step:
        type:
          - number
          - "null"
      documents:
        type:
          - array
          - "null"
      formatted_name:
        type:
          - string
          - "null"
      id:
        type: string
      is_archived:
        type:
          - boolean
          - "null"
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_favorite:
        type:
          - boolean
          - "null"
      label_flag:
        type:
          - number
          - "null"
      lead_type:
        type:
          - string
          - "null"
      lead_type_id:
        type:
          - string
          - "null"
      lost_date:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      modified_by_user:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      primary_account:
        type:
          - string
          - "null"
      primary_contact:
        type:
          - string
          - "null"
      qualify_date:
        type:
          - string
          - "null"
      quick_account_email:
        type:
          - string
          - "null"
      quick_account_name:
        type:
          - string
          - "null"
      quick_account_phone:
        type:
          - string
          - "null"
      quick_contact_name:
        type:
          - string
          - "null"
      quick_email:
        type:
          - string
          - "null"
      quick_phone:
        type:
          - string
          - "null"
      ranking:
        type:
          - number
          - "null"
      reason_of_close_description:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      scoring:
        type:
          - object
          - "null"
        properties:
          categories:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                __typename:
                  type:
                    - string
                    - "null"
                color:
                  type:
                    - number
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                use_lang:
                  type:
                    - boolean
                    - "null"
                value:
                  type:
                    - number
                    - "null"
          entity_scoring_id:
            type:
              - string
              - "null"
          entity_scoring_name:
            type:
              - string
              - "null"
          entity_scoring_use_lang:
            type:
              - boolean
              - "null"
          last_calculation:
            type:
              - string
              - "null"
          raw_score:
            type:
              - number
              - "null"
          rules:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                created:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                score:
                  type:
                    - number
                    - "null"
                trend:
                  type:
                    - string
                    - "null"
                use_lang:
                  type:
                    - boolean
                    - "null"
          score:
            type:
              - number
              - "null"
          trend:
            type:
              - string
              - "null"
      share_mode:
        type:
          - number
          - "null"
      sharing_clients:
        type:
          - array
          - "null"
      sharing_units:
        type:
          - array
          - "null"
      status:
        type:
          - number
          - "null"
      step:
        type:
          - string
          - "null"
      step_id:
        type:
          - string
          - "null"
      table_name:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      unit:
        type:
          - string
          - "null"
      unit_id:
        type:
          - string
          - "null"
    required:
      - id
  lead_oppties:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      active_quote:
        type:
          - string
          - "null"
      active_quote_id:
        type:
          - string
          - "null"
      cf_lead_source1:
        type:
          - string
          - "null"
      cf_lead_source1_id:
        type:
          - string
          - "null"
      cf_other_lead_source:
        type:
          - string
          - "null"
      closing_date:
        type:
          - string
          - "null"
      contact_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created:
        type:
          - string
          - "null"
      currency_exchange_rates_list:
        type:
          - string
          - "null"
      currency_exchange_rates_list_id:
        type:
          - string
          - "null"
      days_in_step:
        type:
          - number
          - "null"
      documents:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      formatted_name:
        type:
          - string
          - "null"
      id:
        type: string
      is_archived:
        type:
          - boolean
          - "null"
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_favorite:
        type:
          - boolean
          - "null"
      is_value_auto_calculate:
        type:
          - boolean
          - "null"
      label_flag:
        type:
          - number
          - "null"
      lead_type:
        type:
          - string
          - "null"
      lead_type_id:
        type:
          - string
          - "null"
      lost_date:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      modified_by_user:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      oppty_type:
        type:
          - string
          - "null"
      oppty_type_id:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      primary_account:
        type:
          - string
          - "null"
      primary_contact:
        type:
          - string
          - "null"
      product_currency:
        type:
          - string
          - "null"
      product_currency_id:
        type:
          - string
          - "null"
      product_price_list:
        type:
          - string
          - "null"
      product_price_list_id:
        type:
          - string
          - "null"
      product_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      product_sections:
        type:
          - array
          - "null"
      qualify_date:
        type:
          - string
          - "null"
      quick_account_email:
        type:
          - string
          - "null"
      quick_account_name:
        type:
          - string
          - "null"
      quick_account_phone:
        type:
          - string
          - "null"
      quick_contact_name:
        type:
          - string
          - "null"
      quick_email:
        type:
          - string
          - "null"
      quick_phone:
        type:
          - string
          - "null"
      quote_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      ranking:
        type:
          - number
          - "null"
      reason_of_close:
        type:
          - string
          - "null"
      reason_of_close_description:
        type:
          - string
          - "null"
      reason_of_close_id:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      scoring:
        type:
          - object
          - "null"
        properties:
          categories:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                __typename:
                  type:
                    - string
                    - "null"
                color:
                  type:
                    - number
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                use_lang:
                  type:
                    - boolean
                    - "null"
                value:
                  type:
                    - number
                    - "null"
          entity_scoring_id:
            type:
              - string
              - "null"
          entity_scoring_name:
            type:
              - string
              - "null"
          entity_scoring_use_lang:
            type:
              - boolean
              - "null"
          last_calculation:
            type:
              - string
              - "null"
          raw_score:
            type:
              - number
              - "null"
          rules:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                created:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                score:
                  type:
                    - number
                    - "null"
                trend:
                  type:
                    - string
                    - "null"
                use_lang:
                  type:
                    - boolean
                    - "null"
          score:
            type:
              - number
              - "null"
          trend:
            type:
              - string
              - "null"
      share_mode:
        type:
          - number
          - "null"
      sharing_clients:
        type:
          - array
          - "null"
      sharing_units:
        type:
          - array
          - "null"
      status:
        type:
          - number
          - "null"
      step:
        type:
          - string
          - "null"
      step_id:
        type:
          - string
          - "null"
      table_name:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      unit:
        type:
          - string
          - "null"
      unit_id:
        type:
          - string
          - "null"
      value:
        type:
          - object
          - "null"
        properties:
          base_value:
            type:
              - number
              - "null"
          currency_id:
            type:
              - string
              - "null"
          value_foreign:
            type:
              - number
              - "null"
      was_qualified:
        type:
          - boolean
          - "null"
      won_date:
        type:
          - string
          - "null"
    required:
      - id
  memos:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      comments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      contact_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created:
        type:
          - string
          - "null"
      custom_entity_relations:
        type:
          - array
          - "null"
      documents:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      lead_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      modified:
        type:
          - string
          - "null"
      opportunity_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      project_relations:
        type:
          - array
          - "null"
      quote_relations:
        type:
          - array
          - "null"
      revision:
        type:
          - number
          - "null"
      sharing_clients:
        type:
          - array
          - "null"
      sharing_units:
        type:
          - array
          - "null"
      subject:
        type:
          - string
          - "null"
      table_name:
        type:
          - string
          - "null"
    required:
      - id
  notes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account:
        type:
          - string
          - "null"
      account_id:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      lead:
        type:
          - string
          - "null"
      lead_oppty_id:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      note:
        type:
          - string
          - "null"
      oppty:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
    required:
      - id
  entity_fitnesses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created:
        type:
          - string
          - "null"
      entity_type:
        type:
          - number
          - "null"
      entity_type_id:
        type:
          - string
          - "null"
      id:
        type: string
      indicator_relations:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      lead_type:
        type:
          - string
          - "null"
      lead_type_id:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      oppty_type:
        type:
          - string
          - "null"
      oppty_type_id:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
    required:
      - id
  pipelines:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      color:
        type:
          - number
          - "null"
      created:
        type:
          - string
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      opportunity_types:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      revision:
        type:
          - number
          - "null"
      steps:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      allowed_pipelines:
        type:
          - number
          - "null"
      created:
        type:
          - string
          - "null"
      currency_exchange_rates_list:
        type:
          - string
          - "null"
      currency_exchange_rates_list_id:
        type:
          - string
          - "null"
      formatted_name:
        type:
          - string
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      oppty_product_relation_type_id:
        type:
          - string
          - "null"
      product_category:
        type:
          - string
          - "null"
      product_category_id:
        type:
          - string
          - "null"
      product_pipeline_relations:
        type:
          - array
          - "null"
      product_pipelines:
        type:
          - object
          - "null"
        properties:
          allowed_pipelines:
            type:
              - number
              - "null"
          pipelines:
            type:
              - array
              - "null"
      product_type:
        type:
          - string
          - "null"
      product_type_id:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      sku:
        type:
          - string
          - "null"
      unit_symbol:
        type:
          - string
          - "null"
    required:
      - id
  oppty_product_relations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - number
          - "null"
      comment:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      currency_exchange_rates_list:
        type:
          - string
          - "null"
      currency_exchange_rates_list_id:
        type:
          - string
          - "null"
      discount_percentage:
        type:
          - number
          - "null"
      discount_value:
        type:
          - number
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      modified_by_user:
        type:
          - string
          - "null"
      oppty:
        type:
          - string
          - "null"
      oppty_id:
        type:
          - string
          - "null"
      oppty_product_relation_type:
        type:
          - string
          - "null"
      oppty_product_relation_type_id:
        type:
          - string
          - "null"
      paired_oppty_product_relation:
        type:
          - string
          - "null"
      paired_oppty_product_relation_id:
        type:
          - string
          - "null"
      price:
        type:
          - number
          - "null"
      product:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      quote:
        type:
          - string
          - "null"
      quote_id:
        type:
          - string
          - "null"
      revision:
        type:
          - number
          - "null"
      sort_order:
        type:
          - number
          - "null"
    required:
      - id
  profiles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      created:
        type:
          - string
          - "null"
      entity:
        type:
          - number
          - "null"
      id:
        type: string
      is_delete_protected:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      modified:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      owner_id:
        type:
          - string
          - "null"
      pipelines:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      revision:
        type:
          - number
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          filter:
            type:
              - object
              - "null"
            properties:
              filter_by_period:
                type:
                  - object
                  - "null"
                properties:
                  period:
[...]
