version: 0.50.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - balance
streams:
  - type: DeclarativeStream
    name: balance
    primary_key:
      - account_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          account_id:
            description: The unique identifier for the account
            type: string
          available:
            description: The available balance in the account
            type:
              - "null"
              - number
          current:
            description: The current balance in the account
            type: number
          iso_currency_code:
            description: The ISO currency code for the account
            type:
              - "null"
              - string
          limit:
            description: The credit or overdraft limit for the account
            type:
              - "null"
              - number
          unofficial_currency_code:
            description: The unofficial currency code for the account
            type:
              - "null"
              - string
        required:
          - account_id
          - current
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{config['plaid_env']}}.plaid.com
        path: /accounts/balance/get
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: NoAuth
        request_body_json:
          secret: "{{config['api_key']}}"
          options:
            min_last_updated_datetime: "{{format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ')}}"
          client_id: "{{config['client_id']}}"
          access_token: "{{config['access_token']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - accounts
            - "*"
      paginator:
        type: NoPagination
    transformations:
      - type: AddFields
        fields:
          - path:
              - available
            value: "{{record['balances']['available']}}"
      - type: AddFields
        fields:
          - path:
              - current
            value: "{{record['balances']['current']}}"
      - type: AddFields
        fields:
          - path:
              - iso_currency_code
            value: "{{record['balances']['iso_currency_code']}}"
      - type: AddFields
        fields:
          - path:
              - limit
            value: "{{record['balances']['limit']}}"
      - type: AddFields
        fields:
          - path:
              - unofficial_currency_code
            value: "{{record['balances']['unofficial_currency_code']}}"
      - type: RemoveFields
        field_pointers:
          - - balances
      - type: RemoveFields
        field_pointers:
          - - mask
      - type: RemoveFields
        field_pointers:
          - - name
      - type: RemoveFields
        field_pointers:
          - - official_name
      - type: RemoveFields
        field_pointers:
          - - subtype
      - type: RemoveFields
        field_pointers:
          - - type
  - type: DeclarativeStream
    name: transaction
    primary_key:
      - transaction_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          account_id:
            description: Identifier for the account associated with the transaction
            type: string
          account_owner:
            description: Name of the account owner
            type:
              - string
              - "null"
          amount:
            description: Transaction amount
            type: number
          authorized_date:
            description: Date when the transaction was authorized
            type:
              - string
              - "null"
          authorized_datetime:
            description: Date and time when the transaction was authorized
            type:
              - string
              - "null"
          category:
            description: Category of the transaction
            items:
              description: Specific item within the transaction category
              type: string
            type: array
          category_id:
            description: ID of the transaction category
            type:
              - string
              - "null"
          check_number:
            description: Check number associated with the transaction
            type:
              - string
              - "null"
          date:
            description: Date of the transaction
            type: string
          datetime:
            description: Date and time of the transaction
            type:
              - string
              - "null"
          iso_currency_code:
            description: ISO currency code of the transaction
            type: string
          location:
            description: Location details related to the transaction
            properties:
              address:
                description: Address of the transaction location
                type:
                  - string
                  - "null"
              city:
                description: City of the transaction location
                type:
                  - string
                  - "null"
              country:
                description: Country of the transaction location
                type:
                  - string
                  - "null"
              lat:
                description: Latitude of the transaction location
                type:
                  - string
                  - "null"
              lon:
                description: Longitude of the transaction location
                type:
                  - string
                  - "null"
              postal_code:
                description: Postal code of the transaction location
                type:
                  - string
                  - "null"
              region:
                description: Region of the transaction location
                type:
                  - string
                  - "null"
              store_number:
                description: Store number associated with the transaction location
                type:
                  - string
                  - "null"
            type:
              - object
              - "null"
          merchant_name:
            description: Name of the merchant where the transaction occurred
            type:
              - string
              - "null"
          name:
            description: Name of the transaction
            type: string
          payment_channel:
            description: Channel through which the payment was made
            type:
              - string
              - "null"
          payment_meta:
            description: Metadata related to the payment
            properties:
              by_order_of:
                description: Details of the payment's recipient
                type:
                  - string
                  - "null"
              payee:
                description: Recipient of the payment
                type:
                  - string
                  - "null"
              payer:
                description: Payer of the payment
                type:
                  - string
                  - "null"
              payment_method:
                description: Method used for the payment
                type:
                  - string
                  - "null"
              payment_processor:
                description: Payment processor handling the transaction
                type:
                  - string
                  - "null"
              ppd_id:
                description: PPD identifier for the payment
                type:
                  - string
                  - "null"
              reason:
                description: Reason for the payment
                type:
                  - string
                  - "null"
              reference_number:
                description: Reference number associated with the payment
                type:
                  - string
                  - "null"
            type:
              - object
              - "null"
          pending:
            description: Indicates if the transaction is pending
            type:
              - boolean
              - "null"
          pending_transaction_id:
            description: ID of a pending transaction
            type:
              - string
              - "null"
          personal_finance_category:
            description: Personal finance category for the transaction
            type:
              - string
              - "null"
          transaction_code:
            description: Code associated with the transaction
            type:
              - string
              - "null"
          transaction_id:
            description: ID of the transaction
            type: string
          transaction_type:
            description: Type of the transaction
            type: string
          unofficial_currency_code:
            description: Unofficial currency code of the transaction
            type:
              - string
              - "null"
        required:
          - account_id
          - amount
          - iso_currency_code
          - name
          - transaction_id
          - category
          - date
          - transaction_type
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{config['plaid_env']}}.plaid.com
        path: /transactions/get
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: NoAuth
        request_body_json:
          secret: "{{config['api_key']}}"
          options:
            offset: "{{ next_page_token['next_page_token'] }}"
          client_id: "{{config['client_id']}}"
          access_token: "{{config['access_token']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - transactions
            - "*"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: start_date
        inject_into: body_json
      end_time_option:
        type: RequestOption
        field_name: end_date
        inject_into: body_json
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{config['start_date']}}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - access_token
      - api_key
      - client_id
      - plaid_env
    properties:
      access_token:
        type: string
        order: 0
        title: Access Token
        description: The end-user's Link access token.
        airbyte_secret: true
      api_key:
        type: string
        order: 1
        title: API Key
        description: The Plaid API key to use to hit the API.
        airbyte_secret: true
      client_id:
        type: string
        order: 2
        title: Client ID
        description: The Plaid client id.
      plaid_env:
        enum:
          - sandbox
          - development
          - production
        type: string
        order: 3
        title: Plaid Environment
        description: The Plaid environment.
      start_date:
        type: string
        order: 4
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        description: >-
          The date from which you'd like to replicate data for Plaid in the
          format YYYY-MM-DD. All data generated after this date will be
          replicated.
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec
metadata:
  autoImportSchema:
    balance: false
    transaction: false
