version: 0.50.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - balance
streams:
  - type: DeclarativeStream
    name: balance
    primary_key:
      - account_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          account_id:
            type: string
          available:
            type:
              - "null"
              - number
          current:
            type: number
          iso_currency_code:
            type:
              - "null"
              - string
          limit:
            type:
              - "null"
              - number
          unofficial_currency_code:
            type:
              - "null"
              - string
        required:
          - account_id
          - current
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{config['plaid_env']}}.plaid.com
        path: /accounts/balance/get
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: NoAuth
        request_body_json:
          secret: "{{config['api_key']}}"
          options:
            min_last_updated_datetime: "{{format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ')}}"
          client_id: "{{config['client_id']}}"
          access_token: "{{config['access_token']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - accounts
            - "*"
      paginator:
        type: NoPagination
    transformations:
      - type: AddFields
        fields:
          - path:
              - available
            value: "{{record['balances']['available']}}"
      - type: AddFields
        fields:
          - path:
              - current
            value: "{{record['balances']['current']}}"
      - type: AddFields
        fields:
          - path:
              - iso_currency_code
            value: "{{record['balances']['iso_currency_code']}}"
      - type: AddFields
        fields:
          - path:
              - limit
            value: "{{record['balances']['limit']}}"
      - type: AddFields
        fields:
          - path:
              - unofficial_currency_code
            value: "{{record['balances']['unofficial_currency_code']}}"
      - type: RemoveFields
        field_pointers:
          - - balances
      - type: RemoveFields
        field_pointers:
          - - mask
      - type: RemoveFields
        field_pointers:
          - - name
      - type: RemoveFields
        field_pointers:
          - - official_name
      - type: RemoveFields
        field_pointers:
          - - subtype
      - type: RemoveFields
        field_pointers:
          - - type
  - type: DeclarativeStream
    name: transaction
    primary_key:
      - transaction_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          account_id:
            type: string
          account_owner:
            type:
              - string
              - "null"
          amount:
            type: number
          authorized_date:
            type:
              - string
              - "null"
          authorized_datetime:
            type:
              - string
              - "null"
          category:
            items:
              type: string
            type: array
          category_id:
            type:
              - string
              - "null"
          check_number:
            type:
              - string
              - "null"
          counterparties:
            items:
              properties:
                name:
                  type:
                    - string
                entity_id:
                  type:
                    - string
                    - "null"
                type:
                  type:
                    - string
                website:
                  type:
                    - string
                    - "null"
                confidence_level:
                  type:
                    - string
                    - "null"
            type: array
          date:
            type: string
          datetime:
            type:
              - string
              - "null"
          iso_currency_code:
            type:
              - string
              - "null"
          location:
            properties:
              address:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              lat:
                type:
                  - number
                  - "null"
              lon:
                type:
                  - number
                  - "null"
              postal_code:
                type:
                  - string
                  - "null"
              region:
                type:
                  - string
                  - "null"
              store_number:
                type:
                  - string
                  - "null"
            type:
              - object
              - "null"
          merchant_name:
            type:
              - string
              - "null"
          original_description:
            type:
              - string
              - "null"
          payment_channel:
            type:
              - string
          payment_meta:
            properties:
              by_order_of:
                type:
                  - string
                  - "null"
              payee:
                type:
                  - string
                  - "null"
              payer:
                type:
                  - string
                  - "null"
              payment_method:
                type:
                  - string
                  - "null"
              payment_processor:
                type:
                  - string
                  - "null"
              ppd_id:
                type:
                  - string
                  - "null"
              reason:
                type:
                  - string
                  - "null"
              reference_number:
                type:
                  - string
                  - "null"
            type:
              - object
              - "null"
          pending:
            type:
              - boolean
          pending_transaction_id:
            type:
              - string
              - "null"
          personal_finance_category:
            properties:
              primary:
                type:
                  - string
              detailed:
                type:
                  - string
              confidence_level:
                type:
                  - string
                  - "null"
            type:
              - object
              - "null"
          transaction_code:
            type:
              - string
              - "null"
          transaction_id:
            type: string
          unofficial_currency_code:
            type:
              - string
              - "null"
        required:
          - account_id
          - amount
          - iso_currency_code
          - name
          - transaction_id
          - category
          - date
          - original_description
          - payment_channel
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{config['plaid_env']}}.plaid.com
        path: /transactions/sync
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: NoAuth
        request_body_json:
          secret: "{{config['api_key']}}"
          cursor: "{{ next_page_token['next_page_token'] }}"
          count: 500
          options:
            include_original_description: true
            days_requested: 730
          client_id: "{{config['client_id']}}"
          access_token: "{{config['access_token']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - transactions
            - "*"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - access_token
      - api_key
      - client_id
      - plaid_env
    properties:
      access_token:
        type: string
        order: 0
        title: Access Token
        description: The end-user's Link access token.
        airbyte_secret: true
      api_key:
        type: string
        order: 1
        title: API Key
        description: The Plaid API key to use to hit the API.
        airbyte_secret: true
      client_id:
        type: string
        order: 2
        title: Client ID
        description: The Plaid client id.
      plaid_env:
        enum:
          - sandbox
          - development
          - production
        type: string
        order: 3
        title: Plaid Environment
        description: The Plaid environment.
      start_date:
        type: string
        order: 4
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        description: >-
          The date from which you'd like to replicate data for Plaid in the
          format YYYY-MM-DD. All data generated after this date will be
          replicated.
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec
metadata:
  autoImportSchema:
    balance: false
    transaction: false
