version: 7.28.2

type: DeclarativeSource

description: >-
  Real-time public data from Twitter/X, Reddit, YouTube, Instagram, TikTok,
  Facebook, Threads, Bluesky, Truth Social, LinkedIn, Google Search, Google
  Maps, news sites, forums, Amazon and Trustpilot through API Direct
  (https://apidirect.io). Search streams run once per search term; account
  streams follow the usernames, pages and URLs you list. Pay per request with a
  free monthly tier per endpoint.

check:
  type: CheckStream
  stream_names:
    - reddit_posts

definitions:
  streams:
    twitter_posts:
      type: DeclarativeStream
      name: twitter_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/twitter/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(now_utc(), '%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_date
        lookback_window: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/twitter_posts"
    twitter_users:
      type: DeclarativeStream
      name: twitter_users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/twitter/users
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/twitter_users"
    reddit_posts:
      type: DeclarativeStream
      name: reddit_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/reddit/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 20 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 12] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reddit_posts"
    reddit_comments:
      type: DeclarativeStream
      name: reddit_comments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/reddit/comments
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 10] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - author
        - date
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reddit_comments"
    reddit_users:
      type: DeclarativeStream
      name: reddit_users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/reddit/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reddit_users"
    youtube_videos:
      type: DeclarativeStream
      name: youtube_videos
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/youtube/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/youtube_videos"
    youtube_channels:
      type: DeclarativeStream
      name: youtube_channels
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/youtube/channels
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - channels
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/youtube_channels"
    instagram_posts:
      type: DeclarativeStream
      name: instagram_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/instagram/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/instagram_posts"
    instagram_users:
      type: DeclarativeStream
      name: instagram_users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/instagram/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/instagram_users"
    tiktok_videos:
      type: DeclarativeStream
      name: tiktok_videos
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/tiktok/videos
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 10] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - videos
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tiktok_videos"
    tiktok_users:
      type: DeclarativeStream
      name: tiktok_users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/tiktok/users
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 10] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tiktok_users"
    facebook_posts:
      type: DeclarativeStream
      name: facebook_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 15] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(now_utc(), '%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_date
        lookback_window: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_posts"
    facebook_pages:
      type: DeclarativeStream
      name: facebook_pages
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/pages
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 15] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_pages"
    facebook_videos:
      type: DeclarativeStream
      name: facebook_videos
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/videos
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 15] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - videos
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - video_id
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_videos"
    facebook_events:
      type: DeclarativeStream
      name: facebook_events
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/events
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 15] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_events"
    threads_posts:
      type: DeclarativeStream
      name: threads_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/threads/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/threads_posts"
    threads_users:
      type: DeclarativeStream
      name: threads_users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/threads/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/threads_users"
    bluesky_posts:
      type: DeclarativeStream
      name: bluesky_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/bluesky/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(now_utc(), '%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_date
        lookback_window: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bluesky_posts"
    bluesky_users:
      type: DeclarativeStream
      name: bluesky_users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/bluesky/users
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bluesky_users"
    linkedin_posts:
      type: DeclarativeStream
      name: linkedin_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/linkedin/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 20 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 25] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/linkedin_posts"
    linkedin_companies:
      type: DeclarativeStream
      name: linkedin_companies
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/linkedin/companies
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - companies
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 10 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 100] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/linkedin_companies"
    linkedin_jobs:
      type: DeclarativeStream
      name: linkedin_jobs
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/linkedin/jobs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - jobs
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 25 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 40] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/linkedin_jobs"
    news_articles:
      type: DeclarativeStream
      name: news_articles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/news/articles
          http_method: GET
          request_parameters:
            limit: "100"
            country: "{{ config.get('country') or '' }}"
            language: "{{ config.get('language') or '' }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - articles
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('published_datetime_utc') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: published_datetime_utc
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%dT%H:%M:%S.%fZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/news_articles"
    web_results:
      type: DeclarativeStream
      name: web_results
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/web/search
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 10] | min }}"
            country: "{{ config.get('country') or '' }}"
            language: "{{ config.get('language') or '' }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/web_results"
    forum_posts:
      type: DeclarativeStream
      name: forum_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/forums/posts
          http_method: GET
          request_parameters:
            country: "{{ config.get('country') or '' }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 10 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 10] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forum_posts"
    google_places:
      type: DeclarativeStream
      name: google_places
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/places/search
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
            country: "{{ config.get('country') or '' }}"
            language: "{{ config.get('language') or '' }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - places
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - place_id
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/google_places"
    amazon_products:
      type: DeclarativeStream
      name: amazon_products
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/amazon/products
          http_method: GET
          request_parameters:
            country: "{{ config.get('amazon_country') or '' }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 10 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 20] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - asin
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/amazon_products"
    trustpilot_companies:
      type: DeclarativeStream
      name: trustpilot_companies
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/trustpilot/companies
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - companies
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 10 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 500] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - url
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/trustpilot_companies"
    twitter_user_profiles:
      type: DeclarativeStream
      name: twitter_user_profiles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/twitter/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('twitter_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - username
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/twitter_user_profiles"
    twitter_user_tweets:
      type: DeclarativeStream
      name: twitter_user_tweets
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/twitter/user/tweets
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tweets
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('twitter_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - url
        - account
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/twitter_user_tweets"
    twitter_user_replies:
      type: DeclarativeStream
      name: twitter_user_replies
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/twitter/user/replies
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - replies
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('twitter_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - url
        - account
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/twitter_user_replies"
    instagram_user_profiles:
      type: DeclarativeStream
      name: instagram_user_profiles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/instagram/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('instagram_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - username
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/instagram_user_profiles"
    instagram_user_posts:
      type: DeclarativeStream
      name: instagram_user_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/instagram/user/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('instagram_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - url
        - account
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/instagram_user_posts"
    tiktok_user_profiles:
      type: DeclarativeStream
      name: tiktok_user_profiles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/tiktok/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('tiktok_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - username
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tiktok_user_profiles"
    threads_user_profiles:
      type: DeclarativeStream
      name: threads_user_profiles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/threads/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('threads_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - username
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/threads_user_profiles"
    threads_user_posts:
      type: DeclarativeStream
      name: threads_user_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/threads/user/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('threads_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - url
        - account
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/threads_user_posts"
    bluesky_user_profiles:
      type: DeclarativeStream
      name: bluesky_user_profiles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/bluesky/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('bluesky_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - username
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bluesky_user_profiles"
    bluesky_user_posts:
      type: DeclarativeStream
      name: bluesky_user_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/bluesky/user/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('bluesky_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - url
        - account
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bluesky_user_posts"
    truthsocial_user_posts:
      type: DeclarativeStream
      name: truthsocial_user_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/truthsocial/user/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('truthsocial_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - url
        - account
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/truthsocial_user_posts"
    youtube_channel_details:
      type: DeclarativeStream
      name: youtube_channel_details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/youtube/channel
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - channel
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: channel_url
          values: "{{ config.get('youtube_channel_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - url
        - channel_url
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - channel_url
              value: "{{ stream_partition['channel_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/youtube_channel_details"
    youtube_video_details:
      type: DeclarativeStream
      name: youtube_video_details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/youtube/video
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - video
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: source_url
          values: "{{ config.get('youtube_video_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - url
        - source_url
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - source_url
              value: "{{ stream_partition['source_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/youtube_video_details"
    youtube_video_comments:
      type: DeclarativeStream
      name: youtube_video_comments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/youtube/comments
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - comments
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: source_url
          values: "{{ config.get('youtube_video_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - comment_id
        - source_url
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - source_url
              value: "{{ stream_partition['source_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/youtube_video_comments"
    facebook_page_details:
      type: DeclarativeStream
      name: facebook_page_details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/page
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - page
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: page_url
          values: "{{ config.get('facebook_page_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - page_id
        - page_url
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - page_url
              value: "{{ stream_partition['page_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_page_details"
    facebook_page_posts:
      type: DeclarativeStream
      name: facebook_page_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/page/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 15] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
        paginator:
          type: NoPagination
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/facebook_page_details"
              parent_key: page_id
              partition_field: page_id
              request_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: page_id
      primary_key:
        - url
        - page_id
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(now_utc(), '%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_date
        lookback_window: P1D
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - page_id
              value: "{{ stream_partition['page_id'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_page_posts"
    facebook_page_reviews:
      type: DeclarativeStream
      name: facebook_page_reviews
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/page/reviews
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 15] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reviews
        paginator:
          type: NoPagination
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/facebook_page_details"
              parent_key: page_id
              partition_field: page_id
              request_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: page_id
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - page_id
              value: "{{ stream_partition['page_id'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_page_reviews"
    facebook_group_details:
      type: DeclarativeStream
      name: facebook_group_details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/group
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - group
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: group_url
          values: "{{ config.get('facebook_group_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - id
        - group_url
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - group_url
              value: "{{ stream_partition['group_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_group_details"
    facebook_group_posts:
      type: DeclarativeStream
      name: facebook_group_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/group/posts
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 15] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/facebook_group_details"
              parent_key: id
              partition_field: group_id
              request_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: group_id
      primary_key:
        - url
        - group_id
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - group_id
              value: "{{ stream_partition['group_id'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_group_posts"
    linkedin_company_details:
      type: DeclarativeStream
      name: linkedin_company_details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/linkedin/company
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: company_url
          values: "{{ config.get('linkedin_company_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - url
        - company_url
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - company_url
              value: "{{ stream_partition['company_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/linkedin_company_details"
    linkedin_company_posts:
      type: DeclarativeStream
      name: linkedin_company_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/linkedin/company/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 10 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 50] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: company_url
          values: "{{ config.get('linkedin_company_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - url
        - company_url
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - company_url
              value: "{{ stream_partition['company_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/linkedin_company_posts"
    linkedin_person_details:
      type: DeclarativeStream
      name: linkedin_person_details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/linkedin/person
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: person_url
          values: "{{ config.get('linkedin_person_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - url
        - person_url
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - person_url
              value: "{{ stream_partition['person_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/linkedin_person_details"
    linkedin_person_posts:
      type: DeclarativeStream
      name: linkedin_person_posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/linkedin/person/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - posts
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('date') }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ last_page_size < 20 or (response.get('page') or 1) >=
              ([config.get('pages', 1), 30] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: person_url
          values: "{{ config.get('linkedin_person_urls', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: url
      primary_key:
        - url
        - person_url
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - person_url
              value: "{{ stream_partition['person_url'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/linkedin_person_posts"
    trustpilot_company_reviews:
      type: DeclarativeStream
      name: trustpilot_company_reviews
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/trustpilot/company/reviews
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 10] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reviews
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('review_datetime_utc') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: company_domain
          values: "{{ config.get('trustpilot_domains', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: domain
      primary_key:
        - review_id
        - company_domain
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: review_datetime_utc
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%dT%H:%M:%S.%fZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - company_domain
              value: "{{ stream_partition['company_domain'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/trustpilot_company_reviews"
    google_place_reviews:
      type: DeclarativeStream
      name: google_place_reviews
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/places/reviews
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 10] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reviews
          record_filter:
            type: RecordFilter
            condition: "{{ record.get('review_datetime_utc') }}"
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: place_id
          values: "{{ config.get('google_place_ids', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: place_id
      primary_key:
        - review_id
        - place_id
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: review_datetime_utc
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date') or day_delta(-30, format='%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ day_delta(1, format='%Y-%m-%dT%H:%M:%S.%fZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - place_id
              value: "{{ stream_partition['place_id'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/google_place_reviews"
    amazon_seller_profiles:
      type: DeclarativeStream
      name: amazon_seller_profiles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/amazon/seller
          http_method: GET
          request_parameters:
            country: "{{ config.get('amazon_country') or '' }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - seller
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: seller
          values: "{{ config.get('amazon_seller_ids', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: seller_id
      primary_key:
        - seller_id
        - seller
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - seller
              value: "{{ stream_partition['seller'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/amazon_seller_profiles"
    amazon_seller_reviews:
      type: DeclarativeStream
      name: amazon_seller_reviews
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/amazon/seller/reviews
          http_method: GET
          request_parameters:
            country: "{{ config.get('amazon_country') or '' }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reviews
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ (response.get('page') or 1) + 1 }}"
            stop_condition: >-
              {{ not response.get('has_next_page') or (response.get('page') or
              1) >= ([config.get('pages', 1), 50] | min) }}
        partition_router:
          type: ListPartitionRouter
          cursor_field: seller
          values: "{{ config.get('amazon_seller_ids', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: seller_id
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - seller
              value: "{{ stream_partition['seller'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/amazon_seller_reviews"
    facebook_locations:
      type: DeclarativeStream
      name: facebook_locations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/facebook/locations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - id
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/facebook_locations"
    trustpilot_categories:
      type: DeclarativeStream
      name: trustpilot_categories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/trustpilot/categories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - categories
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: query
          values: "{{ config.get('queries', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: query
      primary_key:
        - category_id
        - query
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - query
              value: "{{ stream_partition['query'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/trustpilot_categories"
    twitter_user_followers:
      type: DeclarativeStream
      name: twitter_user_followers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/twitter/user/followers
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - followers
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('twitter_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - user_id
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/twitter_user_followers"
    twitter_user_following:
      type: DeclarativeStream
      name: twitter_user_following
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/twitter/user/following
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - following
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('twitter_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - user_id
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/twitter_user_following"
    twitter_verified_followers:
      type: DeclarativeStream
      name: twitter_verified_followers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/twitter/user/verified-followers
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - verified_followers
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('twitter_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - user_id
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/twitter_verified_followers"
    instagram_user_followers:
      type: DeclarativeStream
      name: instagram_user_followers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/instagram/user/followers
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - followers
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('instagram_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - user_id
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/instagram_user_followers"
    instagram_user_following:
      type: DeclarativeStream
      name: instagram_user_following
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/instagram/user/following
          http_method: GET
          request_parameters:
            pages: "{{ [config.get('pages', 1), 20] | min }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - following
        paginator:
          type: NoPagination
        partition_router:
          type: ListPartitionRouter
          cursor_field: account
          values: "{{ config.get('instagram_usernames', []) }}"
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: username
      primary_key:
        - user_id
        - account
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - account
              value: "{{ stream_partition['account'] }}"
              value_type: string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/instagram_user_following"
    instagram_user_stories:
      type: DeclarativeStream
      name: instagram_user_stories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/instagram/user/stories
          http_method: GET
        record_selector:
[...]
