version: 4.5.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - customers

definitions:
  streams:
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "*"
              - customer
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    subscriptions:
      type: DeclarativeStream
      name: subscriptions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: subscriptions.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "*"
              - subscription
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscriptions"
    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
        - uid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoices.json
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"
    coupons:
      type: DeclarativeStream
      name: coupons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: coupons.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "*"
              - coupon
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/coupons"
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: transaction
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "*"
              - transactions.json
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['domain'] }}/
    authenticator:
      type: BasicHttpAuthenticator
      username: '{{ config["api_key"] }}'
      password: x

streams:
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/subscriptions"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/coupons"
  - $ref: "#/definitions/streams/transactions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - domain
      - username
    properties:
      api_key:
        type: string
        description: Maxio Advanced Billing/Chargify API Key.
        title: API Key
        order: 0
        airbyte_secret: true
      domain:
        type: string
        description: Chargify domain. Normally this domain follows the following format
        order: 1
        title: Domain
      username:
        type: string
        title: Username
        order: 2
      password:
        type: string
        title: Password
        always_show: true
        airbyte_secret: true
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    customers: false
    subscriptions: false
    invoices: false
    coupons: false
    transactions: false
  yamlComponents:
    global:
      - authenticator
  testedStreams: {}
  assist: {}

schemas:
  customers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - "null"
          - string
      address_2:
        type:
          - "null"
          - string
      cc_emails:
        type:
          - "null"
          - string
      city:
        type:
          - "null"
          - string
      country:
        type:
          - "null"
          - string
      country_name:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      default_subscription_group_uid:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      last_name:
        type:
          - "null"
          - string
      locale:
        type:
          - "null"
          - string
      organization:
        type:
          - "null"
          - string
      parent_id:
        type:
          - "null"
          - integer
      phone:
        type:
          - "null"
          - string
      portal_customer_created_at:
        type:
          - "null"
          - string
      portal_invite_last_accepted_at:
        type:
          - "null"
          - string
      portal_invite_last_sent_at:
        type:
          - "null"
          - string
        format: date-time
      reference:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
      state_name:
        type:
          - "null"
          - string
      tax_exempt:
        type:
          - "null"
          - boolean
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      vat_number:
        type:
          - "null"
          - string
      verified:
        type:
          - "null"
          - string
      zip:
        type:
          - "null"
          - string
  subscriptions:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema
    additionalProperties: true
    field_path: subscription
    path: subscriptions.json
    properties:
      activated_at:
        type:
          - "null"
          - string
      automatically_resume_at:
        type:
          - "null"
          - string
      balance_in_cents:
        type:
          - "null"
          - integer
      bank_account:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          bank_account_holder_type:
            type:
              - "null"
              - string
          bank_account_type:
            type:
              - "null"
              - string
          bank_name:
            type:
              - "null"
              - string
          billing_address:
            type:
              - "null"
              - string
          billing_address_2:
            type:
              - "null"
              - string
          billing_city:
            type:
              - "null"
              - string
          billing_country:
            type:
              - "null"
              - string
          billing_state:
            type:
              - "null"
              - string
          billing_zip:
            type:
              - "null"
              - string
          chargify_token:
            type:
              - "null"
              - string
          current_vault:
            type:
              - "null"
              - string
          customer_id:
            type:
              - "null"
              - integer
          customer_vault_token:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          gateway_handle:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          last_name:
            type:
              - "null"
              - string
          masked_bank_account_number:
            type:
              - "null"
              - string
          masked_bank_routing_number:
            type:
              - "null"
              - string
          site_gateway_setting_id:
            type:
              - "null"
              - integer
          vault_token:
            type:
              - "null"
              - string
      cancel_at_end_of_period:
        type:
          - "null"
          - boolean
      canceled_at:
        type:
          - "null"
          - string
      cancellation_message:
        type:
          - "null"
          - string
      cancellation_method:
        type:
          - "null"
          - string
      coupon_code:
        type:
          - "null"
          - string
      coupon_codes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      coupon_use_count:
        type:
          - "null"
          - integer
      coupon_uses_allowed:
        type:
          - "null"
          - integer
      coupons:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
      created_at:
        type:
          - "null"
          - string
      credit_balance_in_cents:
        type:
          - "null"
          - integer
      credit_card:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          billing_address:
            type:
              - "null"
              - string
          billing_address_2:
            type:
              - "null"
              - string
          billing_city:
            type:
              - "null"
              - string
          billing_country:
            type:
              - "null"
              - string
          billing_state:
            type:
              - "null"
              - string
          billing_zip:
            type:
              - "null"
              - string
          card_type:
            type:
              - "null"
              - string
          chargify_token:
            type:
              - "null"
              - string
          current_vault:
            type:
              - "null"
              - string
          customer_id:
            type:
              - "null"
              - integer
          customer_vault_token:
            type:
              - "null"
              - string
          disabled:
            type:
              - "null"
              - boolean
          expiration_month:
            type:
              - "null"
              - integer
          expiration_year:
            type:
              - "null"
              - integer
          first_name:
            type:
              - "null"
              - string
          gateway_handle:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          last_name:
            type:
              - "null"
              - string
          masked_card_number:
            type:
              - "null"
              - string
          payment_type:
            type:
              - "null"
              - string
          site_gateway_setting_id:
            type:
              - "null"
              - integer
          vault_token:
            type:
              - "null"
              - string
      currency:
        type:
          - "null"
          - string
      current_billing_amount_in_cents:
        type:
          - "null"
          - integer
      current_period_ends_at:
        type:
          - "null"
          - string
      current_period_started_at:
        type:
          - "null"
          - string
      customer:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          address:
            type:
              - "null"
              - string
          address_2:
            type:
              - "null"
              - string
          cc_emails:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          country_name:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          default_subscription_group_uid:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          last_name:
            type:
              - "null"
              - string
          locale:
            type:
              - "null"
              - string
          organization:
            type:
              - "null"
              - string
          parent_id:
            type:
              - "null"
              - integer
          phone:
            type:
              - "null"
              - string
          portal_customer_created_at:
            type:
              - "null"
              - string
          portal_invite_last_accepted_at:
            type:
              - "null"
              - string
          portal_invite_last_sent_at:
            type:
              - "null"
              - string
          reference:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
          state_name:
            type:
              - "null"
              - string
          tax_exempt:
            type:
              - "null"
              - boolean
          updated_at:
            type:
              - "null"
              - string
          vat_number:
            type:
              - "null"
              - string
          verified:
            type:
              - "null"
              - boolean
          zip:
            type:
              - "null"
              - string
      delayed_cancel_at:
        type:
          - "null"
          - string
      dunning_communication_delay_enabled:
        type:
          - "null"
          - boolean
      dunning_communication_delay_time_zone:
        type:
          - "null"
          - string
      expires_at:
        type:
          - "null"
          - string
      group:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          primary:
            type:
              - "null"
              - string
          primary_subscription_id:
            type:
              - "null"
              - string
          scheme:
            type:
              - "null"
              - string
          uid:
            type:
              - "null"
              - string
      id:
        type:
          - "null"
          - integer
      locale:
        type:
          - "null"
          - string
      net_terms:
        type:
          - "null"
          - integer
      next_assessment_at:
        type:
          - "null"
          - string
      next_product_handle:
        type:
          - "null"
          - string
      next_product_id:
        type:
          - "null"
          - integer
      next_product_price_point_id:
        type:
          - "null"
          - integer
      offer_id:
        type:
          - "null"
          - integer
      on_hold_at:
        type:
          - "null"
          - string
      payer_id:
        type:
          - "null"
          - integer
      payment_collection_method:
        type:
          - "null"
          - string
      payment_type:
        type:
          - "null"
          - string
      prepaid_dunning:
        type:
          - "null"
          - boolean
      prepayment_balance_in_cents:
        type:
          - "null"
          - integer
      previous_state:
        type:
          - "null"
          - string
      product:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          description:
            type:
              - "null"
              - string
          accounting_code:
            type:
              - "null"
              - string
          archived_at:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          default_product_price_point_id:
            type:
              - "null"
              - integer
          expiration_interval:
            type:
              - "null"
              - integer
          expiration_interval_unit:
            type:
              - "null"
              - string
          handle:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          initial_charge_after_trial:
            type:
              - "null"
              - boolean
          initial_charge_in_cents:
            type:
              - "null"
              - integer
          interval:
            type:
              - "null"
              - integer
          interval_unit:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          price_in_cents:
            type:
              - "null"
              - integer
          product_family:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              description:
                type:
                  - "null"
                  - string
              accounting_code:
                type:
                  - "null"
                  - string
              created_at:
                type:
                  - "null"
                  - string
              handle:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - integer
              name:
                type:
                  - "null"
                  - string
              updated_at:
                type:
                  - "null"
                  - string
          product_price_point_name:
            type:
              - "null"
              - string
          public_signup_pages:
            type:
              - "null"
              - array
            items:
              anyOf:
                - type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                    return_params:
                      type:
                        - "null"
                        - string
                    return_url:
                      type:
                        - "null"
                        - string
                    url:
                      type:
                        - "null"
                        - string
          request_billing_address:
            type:
              - "null"
              - boolean
          request_credit_card:
            type:
              - "null"
              - boolean
          require_billing_address:
            type:
              - "null"
              - boolean
          require_credit_card:
            type:
              - "null"
              - boolean
          require_shipping_address:
            type:
              - "null"
              - boolean
          return_params:
            type:
              - "null"
              - string
          tax_code:
            type:
              - "null"
              - string
          taxable:
            type:
              - "null"
              - boolean
          trial_interval:
            type:
              - "null"
              - integer
          trial_interval_unit:
            type:
              - "null"
              - string
          trial_price_in_cents:
            type:
              - "null"
              - integer
          update_return_params:
            type:
              - "null"
              - string
          update_return_url:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          version_number:
            type:
              - "null"
              - integer
      product_price_in_cents:
        type:
          - "null"
          - integer
      product_price_point_id:
        type:
          - "null"
          - integer
      product_price_point_type:
        type:
          - "null"
          - string
      product_version_number:
        type:
          - "null"
          - integer
      reason_code:
        type:
          - "null"
          - string
      receives_invoice_emails:
        type:
          - "null"
          - boolean
      reference:
        type:
          - "null"
          - string
      referral_code:
        type:
          - "null"
          - string
      scheduled_cancellation_at:
        type:
          - "null"
          - string
      signup_payment_id:
        type:
          - "null"
          - integer
      signup_revenue:
        type:
          - "null"
          - string
      snap_day:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
      stored_credential_transaction_id:
        type:
          - "null"
          - integer
      total_revenue_in_cents:
        type:
          - "null"
          - integer
      trial_ended_at:
        type:
          - "null"
          - string
      trial_started_at:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
  invoices:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      billing_address:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          city:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          line2:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
          street:
            type:
              - "null"
              - string
          zip:
            type:
              - "null"
              - string
      collection_method:
        type:
          - "null"
          - string
      consolidation_level:
        type:
          - "null"
          - string
      credit_amount:
        type:
          - "null"
          - string
      currency:
        type:
          - "null"
          - string
      customer:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          chargify_id:
            type:
              - "null"
              - integer
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
          organization:
            type:
              - "null"
              - string
      customer_id:
        type:
          - "null"
          - integer
      discount_amount:
        type:
          - "null"
          - string
      due_amount:
        type:
          - "null"
          - string
      due_date:
        type:
          - "null"
          - string
        format: date
      group_primary_subscription_id:
        type:
          - "null"
          - integer
      issue_date:
        type:
          - "null"
          - string
        format: date
      memo:
        type:
          - "null"
          - string
      number:
        type:
          - "null"
          - string
      paid_amount:
        type:
          - "null"
          - string
      paid_date:
        type:
          - "null"
          - string
        format: date
      parent_invoice_number:
        type:
          - "null"
          - integer
      parent_invoice_uid:
        type:
          - "null"
          - integer
      payment_instructions:
        type:
          - "null"
          - string
      product_family_name:
        type:
          - "null"
          - string
      product_name:
        type:
          - "null"
          - string
      refund_amount:
        type:
          - "null"
          - string
      seller:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          address:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              city:
                type:
                  - "null"
                  - string
              country:
                type:
                  - "null"
                  - string
              line2:
                type:
                  - "null"
                  - string
              state:
                type:
                  - "null"
                  - string
              street:
                type:
                  - "null"
                  - string
              zip:
                type:
                  - "null"
                  - string
          name:
            type:
              - "null"
              - string
          phone:
            type:
              - "null"
              - string
      sequence_number:
        type:
          - "null"
          - integer
      shipping_address:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          city:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          line2:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
          street:
            type:
              - "null"
              - string
          zip:
            type:
              - "null"
              - string
      site_id:
        type:
          - "null"
          - integer
      status:
        type:
          - "null"
          - string
      subscription_id:
        type:
          - "null"
          - integer
      subtotal_amount:
        type:
          - "null"
          - string
      tax_amount:
        type:
          - "null"
          - string
      total_amount:
        type:
          - "null"
          - string
      uid:
        type:
          - "null"
          - string
  coupons:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      allow_negative_balance:
        type:
          - "null"
          - boolean
      amount:
        type:
          - "null"
          - integer
      amount_in_cents:
        type:
          - "null"
          - integer
      "apply_on_cancel_at_end_of_period ":
        type:
          - "null"
          - boolean
      archived_at:
        type:
          - "null"
          - string
      code:
        type:
          - "null"
          - string
      compounding_strategy:
        type:
          - "null"
          - string
      conversion_limit:
        type:
          - "null"
          - string
      coupon_restrictions:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            handle:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            item_id:
              type:
                - "null"
                - integer
            item_type:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
      created_at:
        type:
          - "null"
          - string
      discount_type:
        type:
          - "null"
          - string
      duration_interval:
        type:
          - "null"
          - integer
      duration_interval_span:
        type:
          - "null"
          - string
      duration_interval_unit:
        type:
          - "null"
          - string
      duration_period_count:
        type:
          - "null"
          - integer
      end_date:
        type:
          - "null"
          - string
      exclude_mid_period_allocations:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      percentage:
        type:
          - "null"
          - integer
      product_family_id:
        type:
          - "null"
          - integer
      product_family_name:
        type:
          - "null"
          - string
      recurring:
        type:
          - "null"
          - boolean
      recurring_scheme:
        type:
          - "null"
          - string
      stackable:
        type:
          - "null"
          - boolean
      start_date:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
      use_site_exchange_rate:
        type:
          - "null"
          - boolean
  transactions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      amount_in_cents:
        type:
          - "null"
          - integer
      card_expiration:
        type:
          - "null"
          - string
      card_number:
        type:
          - "null"
          - string
      card_type:
        type:
          - "null"
          - string
      component_id:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
      customer_id:
        type:
          - "null"
          - integer
      ending_balance_in_cents:
        type:
          - "null"
          - integer
      gateway_order_id:
        type:
          - "null"
          - integer
      gateway_transaction_id:
        type:
          - "null"
          - string
      gateway_used:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      item_name:
        type:
          - "null"
          - string
      kind:
        type:
          - "null"
          - string
      memo:
        type:
          - "null"
          - string
      parent_id:
        type:
          - "null"
          - integer
      payment_id:
        type:
          - "null"
          - integer
      product_id:
        type:
          - "null"
          - integer
      refunded_amount_in_cents:
        type:
          - "null"
          - integer
      role:
        type:
          - "null"
          - string
      starting_balance_in_cents:
        type:
          - "null"
          - integer
      statement_id:
        type:
          - "null"
          - integer
      subscription_id:
        type:
          - "null"
          - integer
      success:
        type:
          - "null"
          - boolean
      tax_id:
        type:
          - "null"
          - integer
      transaction_type:
        type:
          - "null"
          - string
