version: 5.13.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - campaigns

definitions:
  streams:
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaign/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            sort_by: id
            sort_order: ascending
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - campaign
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: id_greater_than
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"campaign\", {})[-1].get(\"id\", {}) }}"
            stop_condition: "{{ not response.get(\"campaign\", {})[-1].get(\"id\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    email_clicks:
      type: DeclarativeStream
      name: email_clicks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: emailClick/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - emailClick
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: id_greater_than
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"emailClick\", {})[-1].get(\"id\", {}) }}"
            stop_condition: "{{ not response.get(\"emailClick\", {})[-1].get(\"id\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/email_clicks"
    list_membership:
      type: DeclarativeStream
      name: list_membership
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: listMembership/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            sort_by: id
            sort_order: ascending
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list_membership
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get("list_membership", {})[-1].get("updated_at", {})
              }}
            stop_condition: >-
              {{ not response.get("list_membership", {})[-1].get("updated_at",
              {}) }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/list_membership"
    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: list/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            sort_by: updated_at
            sort_order: ascending
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"list\", {})[-1].get(\"updated_at\", {}) }}"
            stop_condition: "{{ not response.get(\"list\", {})[-1].get(\"updated_at\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lists"
    prospect_accounts:
      type: DeclarativeStream
      name: prospect_accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: prospectAccount/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            sort_by: updated_at
            sort_order: ascending
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - prospectAccount
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get("prospectAccount", {})[-1].get("updated_at", {})
              }}
            stop_condition: >-
              {{ not response.get("prospectAccount", {})[-1].get("updated_at",
              {}) }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/prospect_accounts"
    prospects:
      type: DeclarativeStream
      name: prospects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: prospect/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            sort_by: updated_at
            sort_order: ascending
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - prospect
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"prospect\", {})[-1].get(\"updated_at\", {}) }}"
            stop_condition: "{{ not response.get(\"prospect\", {})[-1].get(\"updated_at\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/prospects"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: user
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - user
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: created_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"user\", {})[-1].get(\"created_at\", {}) }}"
            stop_condition: "{{ not response.get(\"user\", {})[-1].get(\"created_at\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    visitor_activities:
      type: DeclarativeStream
      name: visitor_activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: visitorActivity/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - visitor_activity
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: id_greater_than
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"visitor_activity\", {})[-1].get(\"id\", {}) }}"
            stop_condition: "{{ not response.get(\"visitor_activity\", {})[-1].get(\"id\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/visitor_activities"
    visitors:
      type: DeclarativeStream
      name: visitors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: visitor/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            sort_by: updated_at
            sort_order: ascending
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - visitor
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"visitor\", {})[-1].get(\"updated_at\", {}) }}"
            stop_condition: "{{ not response.get(\"visitor\", {})[-1].get(\"updated_at\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/visitors"
    visits:
      type: DeclarativeStream
      name: visits
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: visit/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            sort_order: ascending
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - visit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/visits"
    opportunities:
      type: DeclarativeStream
      name: opportunities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: opportunity/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: "{{ config[\"pardot_business_unit_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - opportunity
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: created_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"opportunity\", {})[-1].get(\"created_at\", {}) }}"
            stop_condition: >-
              {{ not response.get("opportunity", {})[-1].get("created_at", {})
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunities"
  base_requester:
    type: HttpRequester
    url_base: https://pi.pardot.com/api/
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: refresh_token
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_token: "{{ config[\"client_refresh_token\"] }}"
      refresh_request_body: {}
      token_refresh_endpoint: >-
        https://{{ 'test' if config['is_sandbox'] else 'login'
        }}.salesforce.com/services/oauth2/token

streams:
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/email_clicks"
  - $ref: "#/definitions/streams/list_membership"
  - $ref: "#/definitions/streams/lists"
  - $ref: "#/definitions/streams/prospect_accounts"
  - $ref: "#/definitions/streams/prospects"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/visitor_activities"
  - $ref: "#/definitions/streams/visitors"
  - $ref: "#/definitions/streams/visits"
  # - $ref: "#/definitions/streams/opportunities" # Currently disabled because test account doesn't have any data


spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - refresh_token
      - pardot_business_unit_id
    properties:
      client_id:
        type: string
        description: The Consumer Key that can be found when viewing your app in Salesforce
        airbyte_secret: true
        order: 0
      is_sandbox:
        type: boolean
        description: >-
          Whether or not the the app is in a Salesforce sandbox. If you do not
          know what this, assume it is false.
        default: false
        order: 1
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated. Leave blank to skip this filter
        default: null
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2021-07-25T00:00:00Z"
        order: 2
      client_secret:
        type: string
        description: >-
          The Consumer Secret that can be found when viewing your app in
          Salesforce
        airbyte_secret: true
        order: 3
      refresh_token:
        type: string
        description: >-
          Salesforce Refresh Token used for Airbyte to access your Salesforce
          account. If you don't know what this is, follow this <a
          href="https://medium.com/@bpmmendis94/obtain-access-refresh-tokens-from-salesforce-rest-api-a324fe4ccd9b">guide</a>
          to retrieve it.
        airbyte_secret: true
        order: 4
      pardot_business_unit_id:
        type: string
        description: >-
          Pardot Business ID, can be found at Setup > Pardot > Pardot Account
          Setup
        order: 5
    additionalProperties: true

metadata:
  autoImportSchema:
    campaigns: false
    email_clicks: false
    list_membership: false
    lists: false
    prospect_accounts: false
    prospects: false
    users: false
    visitor_activities: false
    visitors: false
    visits: false
    opportunities: false
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    campaigns:
      streamHash: ef6fbf0ab7ffa8f81749103d94235abd001d0f39
    email_clicks:
      streamHash: 2d74c8aab6c19a77ed2315e36c2fcb18296b641a
    list_membership:
      streamHash: 33edc450360e922bd939bf7aea5bb756e8714d64
    lists:
      streamHash: 984611ea793da473a3cfa6968fb01a4a36b6145f
    prospect_accounts:
      streamHash: 5938979e371a63739b281c64cd4f61064331d513
    prospects:
      streamHash: 4bcf3735358cd3942c17750ef76e052faf5a034e
    users:
      streamHash: 21012c537f20aed85d8fca2a91c135a2ed9a8e34
    visitor_activities:
      streamHash: 857eb94e1cf16eac22e0386450e79abfeffdf347
    visitors:
      streamHash: 339bee895c4c803eccc98ba0b836fbc0cb36d937
    visits:
      streamHash: c526ae3538c2c4f9b434e803521c509c0e5271a2
    opportunities:
      streamHash: fe2484cadf31a482f5f5421ac4a70d14f03e8796
  assist: {}

schemas:
  campaigns:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      cost:
        type:
          - "null"
          - integer
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
  email_clicks:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - "null"
          - string
        format: date-time
      drip_program_action_id:
        type:
          - "null"
          - integer
      email_template_id:
        type:
          - "null"
          - integer
      id:
        type:
          - integer
      list_email_id:
        type:
          - "null"
          - integer
      prospect_id:
        type:
          - "null"
          - integer
      tracker_redirect_id:
        type:
          - "null"
          - integer
      url:
        type:
          - "null"
          - string
  list_membership:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - integer
      list_id:
        type:
          - integer
      opted_out:
        type:
          - "null"
          - boolean
      prospect_id:
        type:
          - integer
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  lists:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - integer
      is_crm_visible:
        type:
          - "null"
          - boolean
      is_dynamic:
        type:
          - "null"
          - boolean
      is_public:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  prospect_accounts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      assigned_to:
        type:
          - "null"
          - object
      created_at:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  prospects:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      address_one:
        type:
          - "null"
          - string
      address_two:
        type:
          - "null"
          - string
      annual_revenue:
        type:
          - "null"
          - string
      campaign_id:
        type:
          - "null"
          - integer
      city:
        type:
          - "null"
          - string
      comments:
        type:
          - "null"
          - string
      company:
        type:
          - "null"
          - string
      country:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      crm_account_fid:
        type:
          - "null"
          - string
      crm_contact_fid:
        type:
          - "null"
          - string
      crm_last_sync:
        type:
          - "null"
          - string
        format: date-time
      crm_lead_fid:
        type:
          - "null"
          - string
      crm_owner_fid:
        type:
          - "null"
          - string
      crm_url:
        type:
          - "null"
          - string
      department:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      employees:
        type:
          - "null"
          - string
      fax:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      grade:
        type:
          - "null"
          - string
      id:
        type:
          - integer
      industry:
        type:
          - "null"
          - string
      is_do_not_call:
        type:
          - "null"
          - integer
      is_do_not_email:
        type:
          - "null"
          - integer
      is_reviewed:
        type:
          - "null"
          - integer
      is_starred:
        type:
          - "null"
          - integer
      job_title:
        type:
          - "null"
          - string
      last_activity_at:
        type:
          - "null"
          - string
        format: date-time
      last_name:
        type:
          - "null"
          - string
      notes:
        type:
          - "null"
          - string
      opted_out:
        type:
          - "null"
          - integer
      password:
        type:
          - "null"
          - string
      phone:
        type:
          - "null"
          - string
      prospect_account_id:
        type:
          - "null"
          - integer
      recent_interaction:
        type:
          - "null"
          - string
      salutation:
        type:
          - "null"
          - string
      score:
        type:
          - "null"
          - integer
      source:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
      territory:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      website:
        type:
          - "null"
          - string
      years_in_business:
        type:
          - "null"
          - string
      zip:
        type:
          - "null"
          - string
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - "null"
          - string
        format: date-time
      email:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      id:
        type:
          - integer
      job_title:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      role:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  visitor_activities:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - integer
      campaign:
        type:
          - "null"
          - object
      campaign_id:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
        format: date-time
      details:
        type:
          - "null"
          - string
      email_id:
        type:
          - "null"
          - integer
      email_template_id:
        type:
          - "null"
          - integer
      file_id:
        type:
          - "null"
          - integer
      form_handler_id:
        type:
          - "null"
          - integer
      form_id:
        type:
          - "null"
          - integer
      id:
        type:
          - integer
      landing_page_id:
        type:
          - "null"
          - integer
      list_email_id:
        type:
          - "null"
          - integer
      multivariate_test_variation_id:
        type:
          - "null"
          - integer
      paid_search_id_id:
        type:
          - "null"
          - integer
      prospect_id:
        type:
          - "null"
          - integer
      site_search_query_id:
        type:
          - "null"
          - integer
      type_name:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      visitor_id:
        type:
          - "null"
          - integer
      visitor_page_view_id:
        type:
          - "null"
          - integer
  visitors:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      campaign_parameter:
        type:
          - "null"
          - string
      content_parameter:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      hostname:
        type:
          - "null"
          - string
      id:
        type:
          - integer
      ip_address:
        type:
          - "null"
          - string
      medium_parameter:
        type:
          - "null"
          - string
      page_view_count:
        type:
          - "null"
          - integer
      source_parameter:
        type:
          - "null"
          - string
      term_parameter:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  visits:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - integer
      campaign:
        type:
          - "null"
          - object
      campaign_parameter:
        type:
          - "null"
          - string
      content_parameter:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      details:
        type:
          - "null"
          - string
      duration_in_seconds:
        type:
          - "null"
          - integer
      email:
        type:
          - "null"
          - object
      email_id:
        type:
          - "null"
          - integer
      email_template_id:
        type:
          - "null"
          - integer
      first_visitor_page_view_at:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - integer
      last_visitor_page_view_at:
        type:
          - "null"
          - string
        format: date-time
      list_email_id:
        type:
          - "null"
          - integer
      medium_parameter:
        type:
          - "null"
          - string
      prospect_id:
        type:
          - "null"
          - integer
      source_parameter:
        type:
          - "null"
          - string
      term_parameter:
        type:
          - "null"
          - string
      type_name:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      visit_id:
        type:
          - "null"
          - integer
      visitor_id:
        type:
          - "null"
          - integer
      visitor_page_view_count:
        type:
          - "null"
          - integer
      visitor_page_views:
        type:
          - "null"
          - object
  opportunities:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      campaign_id:
        type:
          - "null"
          - integer
      closed_at:
        type:
          - "null"
          - string
        format: date-time
      created_at:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      probability:
        type:
          - "null"
          - integer
      stage:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      value:
        type:
          - "null"
          - number
