version: 6.44.0

type: DeclarativeSource

description: http://grid.gg esports data

check:
  type: CheckStream
  stream_names:
    - series

definitions:
  streams:
    series:
      type: DeclarativeStream
      name: series
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /central-data/graphql
          http_method: POST
          request_body_json:
            query: >-
              query GetAllSeriesInNext24Hours($cursor: Cursor, $start: String,
              $end:String) { allSeries( filter: {startTimeScheduled: {gte:
              $start, lte: $end}} after: $cursor orderBy: StartTimeScheduled ) {
              totalCount pageInfo { hasPreviousPage hasNextPage startCursor
              endCursor } edges { cursor node { ...allSeriesFields } } } }
              fragment allSeriesFields on Series { id title { nameShortened }
              tournament { nameShortened } startTimeScheduled format { name
              nameShortened } teams { baseInfo { name } scoreAdvantage } }
            variables:
              end: "{{ config['end'] }}"
              start: "{{ config['start'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - allSeries
              - edges
              - "*"
              - node
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_path:
              - variables
              - cursor
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get("data", {}).get("allSeries", {}).get("pageInfo",
              {}).get("endCursor", {}) }}
            stop_condition: >-
              {{ not response.get("data", {}).get("allSeries",
              {}).get("pageInfo", {}).get("endCursor", {}) }}
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/series"
    seriesState:
      type: DeclarativeStream
      name: seriesState
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /live-data-feed/series-state/graphql
          http_method: POST
          request_body_json:
            query: >-
              query GetSeriesState($id: ID!) { seriesState(id: $id) { id valid
              updatedAt format started finished teams { name won } games {
              sequenceNumber teams { name players { name kills deaths netWorth
              money position { x y } } } } } }
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - seriesState
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              request_option:
                type: RequestOption
                field_path:
                  - variables
                  - id
                inject_into: body_json
              partition_field: series_id
              stream:
                $ref: "#/definitions/streams/series"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/seriesState"
    SeriesEvents:
      type: DeclarativeStream
      name: SeriesEvents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /file-download/events/grid/series/2795035
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        decoder:
          type: ZipfileDecoder
          decoder:
            type: JsonlDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/SeriesEvents"
  base_requester:
    type: HttpRequester
    url_base: https://api.grid.gg
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: x-api-key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/series"
  - $ref: "#/definitions/streams/seriesState"
  - $ref: "#/definitions/streams/SeriesEvents"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start
      - end
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      start:
        type: string
        order: 1
        title: start
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      end:
        type: string
        order: 2
        title: end
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    series: true
    seriesState: true
    SeriesEvents: true
  testedStreams:
    series:
      hasRecords: true
      streamHash: 2cf3bda0a9b5feb0c36247d5eae35dd1779a8639
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    seriesState:
      hasRecords: true
      streamHash: 7f63981b03ba3de2dbf7e00fbf9a43d539604030
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    SeriesEvents:
      streamHash: 6150e4ecfcd3a38e7385b4ddd839962711328d2e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  series:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      format:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          nameShortened:
            type:
              - string
              - "null"
      id:
        type: string
      startTimeScheduled:
        type:
          - string
          - "null"
      teams:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            baseInfo:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
            scoreAdvantage:
              type:
                - number
                - "null"
      title:
        type:
          - object
          - "null"
        properties:
          nameShortened:
            type:
              - string
              - "null"
      tournament:
        type:
          - object
          - "null"
        properties:
          nameShortened:
            type:
              - string
              - "null"
    required:
      - id
  seriesState:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      finished:
        type:
          - boolean
          - "null"
      format:
        type:
          - string
          - "null"
      games:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            sequenceNumber:
              type:
                - number
                - "null"
            teams:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  players:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        deaths:
                          type:
                            - number
                            - "null"
                        kills:
                          type:
                            - number
                            - "null"
                        money:
                          type:
                            - number
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        netWorth:
                          type:
                            - number
                            - "null"
                        position:
                          type:
                            - object
                            - "null"
                          properties:
                            x:
                              type:
                                - number
                                - "null"
                            "y":
                              type:
                                - number
                                - "null"
      id:
        type: string
      started:
        type:
          - boolean
          - "null"
      teams:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            won:
              type:
                - boolean
                - "null"
      updatedAt:
        type:
          - string
          - "null"
      valid:
        type:
          - boolean
          - "null"
    required:
      - id
  SeriesEvents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      action:
        type:
          - string
          - "null"
      actor:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          state:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              clock:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  currentSeconds:
                    type:
                      - number
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  ticking:
                    type:
                      - boolean
                      - "null"
                  ticksBackwards:
                    type:
                      - boolean
                      - "null"
              draftActions:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    draftable:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                    drafter:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                    id:
                      type:
                        - string
                        - "null"
                    sequenceNumber:
                      type:
                        - number
                        - "null"
                    statePath:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
              duration:
                type:
                  - string
                  - "null"
              finished:
                type:
                  - boolean
                  - "null"
              format:
                type:
                  - string
                  - "null"
              game:
                type:
                  - object
                  - "null"
                properties:
                  abilities:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        ready:
                          type:
                            - boolean
                            - "null"
                  firstKill:
                    type:
                      - boolean
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  inventory:
                    type:
                      - object
                      - "null"
                    properties:
                      items:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            equipped:
                              type:
                                - number
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            quantity:
                              type:
                                - number
                                - "null"
                            stashed:
                              type:
                                - number
                                - "null"
                            statePath:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  id:
                                    type:
                                      - string
                                      - "null"
                  killAssistsReceived:
                    type:
                      - number
                      - "null"
                  killAssistsReceivedFromPlayer:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        killAssistsReceived:
                          type:
                            - number
                            - "null"
                        playerId:
                          type:
                            - string
                            - "null"
                  kills:
                    type:
                      - number
                      - "null"
                  loadoutValue:
                    type:
                      - number
                      - "null"
                  money:
                    type:
                      - number
                      - "null"
                  multikills:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        count:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        numberOfKills:
                          type:
                            - number
                            - "null"
                  name:
                    type:
                      - string
                      - "null"
                  netWorth:
                    type:
                      - number
                      - "null"
                  objectives:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        completedFirst:
                          type:
                            - boolean
                            - "null"
                        completionCount:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                  players:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        loadoutValue:
                          type:
                            - number
                            - "null"
                        money:
                          type:
                            - number
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        netWorth:
                          type:
                            - number
                            - "null"
                        position:
                          type:
                            - object
                            - "null"
                          properties:
                            x:
                              type:
                                - number
                                - "null"
                            "y":
                              type:
                                - number
                                - "null"
                        totalMoneyEarned:
                          type:
                            - number
                            - "null"
                  position:
                    type:
                      - object
                      - "null"
                    properties:
                      x:
                        type:
                          - number
                          - "null"
                      "y":
                        type:
                          - number
                          - "null"
                  score:
                    type:
                      - number
                      - "null"
                  structuresDestroyed:
                    type:
                      - number
                      - "null"
                  totalMoneyEarned:
                    type:
                      - number
                      - "null"
                  weaponKills:
                    type:
                      - object
                      - "null"
              games:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    clock:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        currentSeconds:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        ticking:
                          type:
                            - boolean
                            - "null"
                        ticksBackwards:
                          type:
                            - boolean
                            - "null"
                    draftActions:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          type:
                            type:
                              - string
                              - "null"
                          draftable:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              id:
                                type:
                                  - string
                                  - "null"
                              name:
                                type:
                                  - string
                                  - "null"
                          drafter:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              id:
                                type:
                                  - string
                                  - "null"
                          id:
                            type:
                              - string
                              - "null"
                          sequenceNumber:
                            type:
                              - number
                              - "null"
                          statePath:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                    duration:
                      type:
                        - string
                        - "null"
                    finished:
                      type:
                        - boolean
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    map:
                      type:
                        - object
                        - "null"
                      properties:
                        bounds:
                          type:
                            - object
                            - "null"
                          properties:
                            max:
                              type:
                                - object
                                - "null"
                              properties:
                                x:
                                  type:
                                    - number
                                    - "null"
                                "y":
                                  type:
                                    - number
                                    - "null"
                            min:
                              type:
                                - object
                                - "null"
                              properties:
                                x:
                                  type:
                                    - number
                                    - "null"
                                "y":
                                  type:
                                    - number
                                    - "null"
                        id:
                          type:
                            - string
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                    nonPlayerCharacters:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          type:
                            type:
                              - string
                              - "null"
                          alive:
                            type:
                              - boolean
                              - "null"
                          id:
                            type:
                              - string
                              - "null"
                          position:
                            type:
                              - object
                              - "null"
                            properties:
                              x:
                                type:
                                  - number
                                  - "null"
                              "y":
                                type:
                                  - number
                                  - "null"
                          respawnClock:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              currentSeconds:
                                type:
                                  - number
                                  - "null"
                              id:
                                type:
                                  - string
                                  - "null"
                              ticking:
                                type:
                                  - boolean
                                  - "null"
                              ticksBackwards:
                                type:
                                  - boolean
                                  - "null"
                          side:
                            type:
                              - string
                              - "null"
                          statePath:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                    paused:
                      type:
                        - boolean
                        - "null"
                    segments:
                      type:
                        - array
                        - "null"
                    sequenceNumber:
                      type:
                        - number
                        - "null"
                    started:
                      type:
                        - boolean
                        - "null"
                    startedAt:
                      type:
                        - string
                        - "null"
                    statePath:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                    structures:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          type:
                            type:
                              - string
                              - "null"
                          currentHealth:
                            type:
                              - number
                              - "null"
                          destroyed:
                            type:
                              - boolean
                              - "null"
                          id:
                            type:
                              - string
                              - "null"
                          maxHealth:
                            type:
                              - number
                              - "null"
                          position:
                            type:
                              - object
                              - "null"
                            properties:
                              x:
                                type:
                                  - number
                                  - "null"
                              "y":
                                type:
                                  - number
                                  - "null"
                          respawnClock:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              currentSeconds:
                                type:
                                  - number
                                  - "null"
                              id:
                                type:
                                  - string
                                  - "null"
                              ticking:
                                type:
                                  - boolean
                                  - "null"
                              ticksBackwards:
                                type:
                                  - boolean
                                  - "null"
                          side:
                            type:
                              - string
                              - "null"
                          statePath:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                          teamId:
                            type:
                              - string
                              - "null"
                    teams:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          baronPowerPlays:
                            type:
                              - array
                              - "null"
                          damageDealt:
                            type:
                              - number
                              - "null"
                          damageDealtSources:
                            type:
                              - array
                              - "null"
                          damageDealtTargets:
                            type:
                              - array
                              - "null"
                          damagePerMinute:
                            type:
                              - number
                              - "null"
                          damagePerMoney:
                            type:
                              - number
                              - "null"
                          damageTaken:
                            type:
                              - number
                              - "null"
                          deaths:
                            type:
                              - number
                              - "null"
                          experiencePoints:
                            type:
                              - number
                              - "null"
                          firstKill:
                            type:
                              - boolean
                              - "null"
                          forwardPercentage:
                            type:
                              - number
                              - "null"
                          id:
                            type:
                              - string
                              - "null"
                          kdaRatio:
                            type:
                              - number
                              - "null"
                          killAssistsGiven:
                            type:
                              - number
                              - "null"
                          killAssistsReceived:
                            type:
                              - number
                              - "null"
                          killAssistsReceivedFromPlayer:
                            type:
                              - array
                              - "null"
                          kills:
                            type:
                              - number
                              - "null"
                          killsAndAssists:
                            type:
                              - number
                              - "null"
                          loadoutValue:
                            type:
                              - number
                              - "null"
                          majorMoneyDeficit:
                            type:
                              - number
                              - "null"
                          majorMoneyLead:
                            type:
                              - number
                              - "null"
                          money:
                            type:
                              - number
                              - "null"
                          moneyDifference:
                            type:
                              - number
                              - "null"
                          moneyPerMinute:
                            type:
                              - number
                              - "null"
                          multikills:
                            type:
                              - array
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                          netWorth:
                            type:
                              - number
                              - "null"
                          objectives:
                            type:
                              - array
                              - "null"
                          players:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                abilities:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      id:
                                        type:
                                          - string
                                          - "null"
                                      name:
                                        type:
                                          - string
                                          - "null"
                                      ready:
                                        type:
                                          - boolean
                                          - "null"
                                      statePath:
                                        type:
                                          - array
                                          - "null"
                                        items:
                                          type:
                                            - object
                                            - "null"
                                          properties:
                                            id:
                                              type:
                                                - string
                                                - "null"
                                alive:
                                  type:
                                    - boolean
                                    - "null"
                                character:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    id:
                                      type:
                                        - string
                                        - "null"
                                    name:
                                      type:
                                        - string
                                        - "null"
                                currentArmor:
                                  type:
                                    - number
                                    - "null"
                                currentHealth:
                                  type:
                                    - number
                                    - "null"
                                damageDealt:
                                  type:
                                    - number
                                    - "null"
                                damageDealtSources:
                                  type:
                                    - array
                                    - "null"
                                damageDealtTargets:
                                  type:
                                    - array
                                    - "null"
                                damagePerMinute:
                                  type:
                                    - number
                                    - "null"
                                damagePerMoney:
                                  type:
                                    - number
                                    - "null"
                                damagePercentage:
                                  type:
                                    - number
                                    - "null"
                                damageTaken:
                                  type:
                                    - number
                                    - "null"
                                deaths:
                                  type:
                                    - number
                                    - "null"
                                experiencePoints:
                                  type:
                                    - number
                                    - "null"
                                externalLinks:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      dataProvider:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          name:
                                            type:
                                              - string
                                              - "null"
                                      externalEntity:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          id:
                                            type:
                                              - string
                                              - "null"
                                      id:
                                        type:
                                          - string
                                          - "null"
                                      statePath:
                                        type:
                                          - array
                                          - "null"
                                        items:
                                          type:
                                            - object
                                            - "null"
                                          properties:
                                            id:
                                              type:
                                                - string
                                                - "null"
                                firstKill:
                                  type:
                                    - boolean
                                    - "null"
                                forwardPercentage:
                                  type:
                                    - number
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                inventory:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    items:
                                      type:
                                        - array
                                        - "null"
                                kdaRatio:
                                  type:
                                    - number
                                    - "null"
                                killAssistsGiven:
                                  type:
                                    - number
                                    - "null"
                                killAssistsReceived:
                                  type:
                                    - number
                                    - "null"
                                killAssistsReceivedFromPlayer:
                                  type:
                                    - array
                                    - "null"
                                killParticipation:
                                  type:
                                    - number
                                    - "null"
                                kills:
                                  type:
                                    - number
                                    - "null"
                                killsAndAssists:
                                  type:
                                    - number
                                    - "null"
                                loadoutValue:
                                  type:
                                    - number
                                    - "null"
                                maxHealth:
                                  type:
                                    - number
                                    - "null"
                                money:
                                  type:
                                    - number
                                    - "null"
                                moneyPerMinute:
                                  type:
                                    - number
                                    - "null"
                                moneyPercentage:
                                  type:
                                    - number
                                    - "null"
                                multikills:
                                  type:
                                    - array
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                netWorth:
                                  type:
                                    - number
                                    - "null"
                                objectives:
                                  type:
                                    - array
                                    - "null"
                                participationStatus:
                                  type:
                                    - string
                                    - "null"
                                position:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    x:
                                      type:
                                        - number
                                        - "null"
                                    "y":
                                      type:
                                        - number
                                        - "null"
                                respawnClock:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    type:
                                      type:
                                        - string
                                        - "null"
                                    currentSeconds:
                                      type:
                                        - number
                                        - "null"
                                    id:
                                      type:
                                        - string
                                        - "null"
                                    ticking:
                                      type:
                                        - boolean
                                        - "null"
                                    ticksBackwards:
                                      type:
                                        - boolean
                                        - "null"
                                roles:
                                  type:
                                    - array
                                    - "null"
                                selfkills:
                                  type:
                                    - number
                                    - "null"
                                statePath:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      id:
                                        type:
                                          - string
                                          - "null"
                                statusEffects:
                                  type:
                                    - array
                                    - "null"
                                structuresCaptured:
                                  type:
                                    - number
                                    - "null"
                                structuresDestroyed:
                                  type:
                                    - number
                                    - "null"
                                teamkillAssistsGiven:
                                  type:
                                    - number
                                    - "null"
                                teamkillAssistsReceived:
                                  type:
                                    - number
                                    - "null"
                                teamkillAssistsReceivedFromPlayer:
                                  type:
                                    - array
                                    - "null"
                                teamkills:
                                  type:
                                    - number
                                    - "null"
                                totalMoneyEarned:
                                  type:
                                    - number
                                    - "null"
                                unitKills:
                                  type:
                                    - array
                                    - "null"
                                visionScore:
                                  type:
                                    - number
                                    - "null"
                                visionScorePerMinute:
                                  type:
                                    - number
                                    - "null"
                                weaponKills:
                                  type:
                                    - object
                                    - "null"
                                weaponTeamkills:
                                  type:
                                    - object
                                    - "null"
                          score:
                            type:
                              - number
                              - "null"
                          selfkills:
                            type:
                              - number
                              - "null"
                          side:
                            type:
                              - string
                              - "null"
                          statePath:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                          structuresCaptured:
                            type:
                              - number
                              - "null"
                          structuresDestroyed:
                            type:
                              - number
                              - "null"
                          teamkillAssistsGiven:
                            type:
                              - number
                              - "null"
                          teamkillAssistsReceived:
                            type:
                              - number
                              - "null"
                          teamkillAssistsReceivedFromPlayer:
                            type:
                              - array
                              - "null"
                          teamkills:
                            type:
                              - number
                              - "null"
                          totalMoneyEarned:
                            type:
                              - number
                              - "null"
                          unitKills:
                            type:
                              - array
                              - "null"
                          visionScore:
                            type:
                              - number
                              - "null"
                          visionScorePerMinute:
                            type:
                              - number
                              - "null"
                          weaponKills:
                            type:
                              - object
                              - "null"
                          weaponTeamkills:
                            type:
                              - object
                              - "null"
                          won:
                            type:
                              - boolean
                              - "null"
                    titleVersion:
                      type:
                        - object
                        - "null"
                      properties:
                        name:
                          type:
                            - string
                            - "null"
              id:
                type:
                  - string
                  - "null"
              map:
                type:
                  - object
                  - "null"
                properties:
                  bounds:
                    type:
                      - object
                      - "null"
                    properties:
                      max:
                        type:
                          - object
                          - "null"
                        properties:
                          x:
                            type:
                              - number
                              - "null"
                          "y":
                            type:
                              - number
                              - "null"
                      min:
                        type:
                          - object
                          - "null"
                        properties:
                          x:
                            type:
                              - number
                              - "null"
                          "y":
                            type:
                              - number
                              - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              name:
                type:
                  - string
                  - "null"
              nonPlayerCharacters:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    alive:
                      type:
                        - boolean
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    position:
                      type:
                        - object
                        - "null"
                      properties:
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                    respawnClock:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        currentSeconds:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        ticking:
                          type:
                            - boolean
                            - "null"
                        ticksBackwards:
                          type:
                            - boolean
                            - "null"
                    side:
                      type:
                        - string
                        - "null"
                    statePath:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
              paused:
                type:
                  - boolean
                  - "null"
              segments:
                type:
                  - array
                  - "null"
              sequenceNumber:
                type:
                  - number
                  - "null"
              series:
                type:
                  - object
                  - "null"
                properties:
                  firstKill:
                    type:
                      - boolean
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  killAssistsReceived:
                    type:
                      - number
                      - "null"
                  killAssistsReceivedFromPlayer:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        killAssistsReceived:
                          type:
                            - number
                            - "null"
                        playerId:
                          type:
                            - string
                            - "null"
                  kills:
                    type:
                      - number
                      - "null"
                  multikills:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        count:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        numberOfKills:
                          type:
                            - number
                            - "null"
                  name:
                    type:
                      - string
                      - "null"
                  objectives:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        completedFirst:
                          type:
                            - boolean
                            - "null"
                        completionCount:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                  structuresDestroyed:
                    type:
                      - number
                      - "null"
                  weaponKills:
                    type:
                      - object
                      - "null"
              side:
                type:
                  - string
                  - "null"
              started:
                type:
                  - boolean
                  - "null"
              startedAt:
                type:
                  - string
                  - "null"
              statePath:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    id:
                      type:
                        - string
                        - "null"
              structures:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    currentHealth:
                      type:
                        - number
                        - "null"
                    destroyed:
                      type:
                        - boolean
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    maxHealth:
                      type:
                        - number
                        - "null"
                    position:
                      type:
                        - object
                        - "null"
                      properties:
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                    respawnClock:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        currentSeconds:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        ticking:
                          type:
                            - boolean
                            - "null"
                        ticksBackwards:
                          type:
                            - boolean
                            - "null"
                    side:
                      type:
                        - string
                        - "null"
                    statePath:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                    teamId:
                      type:
                        - string
                        - "null"
              teamId:
                type:
                  - string
                  - "null"
              teams:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    baronPowerPlays:
                      type:
                        - array
                        - "null"
                    damageDealt:
                      type:
                        - number
                        - "null"
                    damageDealtSources:
                      type:
                        - array
                        - "null"
                    damageDealtTargets:
                      type:
                        - array
                        - "null"
                    damagePerMinute:
                      type:
                        - number
                        - "null"
                    damagePerMoney:
                      type:
                        - number
                        - "null"
                    damageTaken:
                      type:
                        - number
                        - "null"
                    deaths:
                      type:
                        - number
                        - "null"
                    experiencePoints:
                      type:
                        - number
                        - "null"
                    firstKill:
                      type:
                        - boolean
                        - "null"
                    forwardPercentage:
                      type:
                        - number
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    kdaRatio:
                      type:
                        - number
                        - "null"
                    killAssistsGiven:
                      type:
                        - number
                        - "null"
                    killAssistsReceived:
                      type:
                        - number
                        - "null"
                    killAssistsReceivedFromPlayer:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                          killAssistsReceived:
                            type:
                              - number
                              - "null"
                          playerId:
                            type:
                              - string
                              - "null"
                    kills:
                      type:
                        - number
                        - "null"
                    killsAndAssists:
                      type:
                        - number
                        - "null"
                    loadoutValue:
                      type:
                        - number
                        - "null"
                    majorMoneyDeficit:
                      type:
                        - number
                        - "null"
                    majorMoneyLead:
                      type:
                        - number
                        - "null"
                    money:
                      type:
                        - number
                        - "null"
                    moneyDifference:
                      type:
                        - number
                        - "null"
                    moneyPerMinute:
                      type:
                        - number
                        - "null"
                    multikills:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          count:
                            type:
                              - number
                              - "null"
                          id:
                            type:
                              - string
                              - "null"
                          numberOfKills:
                            type:
                              - number
                              - "null"
                    name:
                      type:
                        - string
                        - "null"
                    netWorth:
                      type:
                        - number
                        - "null"
                    objectives:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          type:
                            type:
                              - string
                              - "null"
                          completedFirst:
                            type:
                              - boolean
                              - "null"
                          completionCount:
                            type:
                              - number
                              - "null"
                          id:
                            type:
                              - string
                              - "null"
                          statePath:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                    players:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          abilities:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                ready:
                                  type:
                                    - boolean
                                    - "null"
                                statePath:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      id:
                                        type:
                                          - string
                                          - "null"
                          alive:
                            type:
                              - boolean
                              - "null"
                          character:
                            type:
                              - object
                              - "null"
                            properties:
                              id:
                                type:
                                  - string
                                  - "null"
                              name:
                                type:
                                  - string
                                  - "null"
                          currentArmor:
                            type:
                              - number
                              - "null"
                          currentHealth:
                            type:
                              - number
                              - "null"
                          damageDealt:
                            type:
                              - number
                              - "null"
                          damageDealtSources:
                            type:
                              - array
                              - "null"
                          damageDealtTargets:
                            type:
                              - array
                              - "null"
                          damagePerMinute:
                            type:
                              - number
                              - "null"
                          damagePerMoney:
                            type:
                              - number
                              - "null"
                          damagePercentage:
                            type:
                              - number
                              - "null"
                          damageTaken:
                            type:
                              - number
                              - "null"
                          deaths:
                            type:
                              - number
                              - "null"
                          experiencePoints:
                            type:
                              - number
                              - "null"
                          externalLinks:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                dataProvider:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    name:
                                      type:
                                        - string
                                        - "null"
                                externalEntity:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    id:
                                      type:
                                        - string
                                        - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                statePath:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      id:
                                        type:
                                          - string
                                          - "null"
                          firstKill:
                            type:
                              - boolean
                              - "null"
                          forwardPercentage:
                            type:
                              - number
                              - "null"
                          id:
                            type:
                              - string
                              - "null"
                          inventory:
                            type:
                              - object
                              - "null"
                            properties:
                              items:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    equipped:
                                      type:
                                        - number
                                        - "null"
                                    id:
                                      type:
                                        - string
                                        - "null"
                                    name:
                                      type:
                                        - string
                                        - "null"
                                    quantity:
                                      type:
                                        - number
                                        - "null"
                                    stashed:
                                      type:
                                        - number
                                        - "null"
                                    statePath:
                                      type:
                                        - array
                                        - "null"
                                      items:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          id:
                                            type:
                                              - string
                                              - "null"
                          kdaRatio:
                            type:
                              - number
                              - "null"
                          killAssistsGiven:
                            type:
                              - number
                              - "null"
                          killAssistsReceived:
                            type:
                              - number
                              - "null"
                          killAssistsReceivedFromPlayer:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                                killAssistsReceived:
                                  type:
                                    - number
                                    - "null"
                                playerId:
                                  type:
                                    - string
                                    - "null"
                          killParticipation:
                            type:
                              - number
                              - "null"
                          kills:
                            type:
                              - number
                              - "null"
                          killsAndAssists:
                            type:
                              - number
                              - "null"
                          loadoutValue:
                            type:
                              - number
                              - "null"
                          maxHealth:
                            type:
                              - number
                              - "null"
                          money:
                            type:
                              - number
                              - "null"
                          moneyPerMinute:
                            type:
                              - number
                              - "null"
                          moneyPercentage:
                            type:
                              - number
                              - "null"
                          multikills:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                count:
                                  type:
                                    - number
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                numberOfKills:
                                  type:
                                    - number
                                    - "null"
                          name:
                            type:
                              - string
                              - "null"
                          netWorth:
                            type:
                              - number
                              - "null"
                          objectives:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type:
                                    - string
                                    - "null"
                                completedFirst:
                                  type:
                                    - boolean
                                    - "null"
                                completionCount:
                                  type:
                                    - number
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                statePath:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      id:
                                        type:
                                          - string
                                          - "null"
                          participationStatus:
                            type:
                              - string
                              - "null"
                          position:
                            type:
                              - object
                              - "null"
                            properties:
                              x:
                                type:
                                  - number
                                  - "null"
                              "y":
                                type:
                                  - number
                                  - "null"
                          respawnClock:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              currentSeconds:
                                type:
                                  - number
                                  - "null"
                              id:
                                type:
                                  - string
                                  - "null"
                              ticking:
                                type:
                                  - boolean
                                  - "null"
                              ticksBackwards:
                                type:
                                  - boolean
                                  - "null"
                          roles:
                            type:
                              - array
                              - "null"
                          selfkills:
                            type:
                              - number
                              - "null"
                          statePath:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                          statusEffects:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                id:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                quantity:
                                  type:
                                    - number
                                    - "null"
                                statePath:
                                  type:
                                    - array
                                    - "null"
                                  items:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      id:
                                        type:
                                          - string
                                          - "null"
                          structuresCaptured:
                            type:
                              - number
                              - "null"
                          structuresDestroyed:
                            type:
                              - number
                              - "null"
                          teamkillAssistsGiven:
                            type:
                              - number
                              - "null"
                          teamkillAssistsReceived:
                            type:
                              - number
                              - "null"
                          teamkillAssistsReceivedFromPlayer:
                            type:
                              - array
                              - "null"
                          teamkills:
                            type:
                              - number
                              - "null"
                          totalMoneyEarned:
                            type:
                              - number
                              - "null"
                          unitKills:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                count:
                                  type:
                                    - number
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                unitName:
                                  type:
                                    - string
                                    - "null"
                          visionScore:
                            type:
                              - number
                              - "null"
                          visionScorePerMinute:
                            type:
                              - number
                              - "null"
                          weaponKills:
                            type:
                              - object
                              - "null"
                          weaponTeamkills:
                            type:
                              - object
                              - "null"
                    score:
                      type:
                        - number
                        - "null"
                    selfkills:
                      type:
                        - number
                        - "null"
                    side:
                      type:
                        - string
                        - "null"
                    statePath:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                    structuresCaptured:
                      type:
                        - number
                        - "null"
                    structuresDestroyed:
                      type:
                        - number
                        - "null"
                    teamkillAssistsGiven:
                      type:
                        - number
                        - "null"
                    teamkillAssistsReceived:
                      type:
                        - number
                        - "null"
                    teamkillAssistsReceivedFromPlayer:
                      type:
                        - array
                        - "null"
                    teamkills:
                      type:
                        - number
                        - "null"
                    totalMoneyEarned:
                      type:
                        - number
                        - "null"
                    unitKills:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          count:
                            type:
                              - number
                              - "null"
                          id:
                            type:
                              - string
                              - "null"
                          unitName:
                            type:
                              - string
                              - "null"
                    visionScore:
                      type:
                        - number
                        - "null"
                    visionScorePerMinute:
                      type:
                        - number
                        - "null"
                    weaponKills:
                      type:
                        - object
                        - "null"
                    weaponTeamkills:
                      type:
                        - object
                        - "null"
                    won:
                      type:
                        - boolean
                        - "null"
              title:
                type:
                  - object
                  - "null"
                properties:
                  nameShortened:
                    type:
[...]
