version: 6.5.2

type: DeclarativeSource

description: "feat: Added product_details_log endpoint"

check:
  type: CheckStream
  stream_names:
    - countries

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    orders:
      type: DeclarativeStream
      name: orders
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    outlets:
      type: DeclarativeStream
      name: outlets
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /outlets
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/outlets"
    products:
      type: DeclarativeStream
      name: products
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    vouchers:
      type: DeclarativeStream
      name: vouchers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /vouchers
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/vouchers"
      transformations:
        - type: AddFields
          fields:
            - path:
                - balance
              value: "{{ record.balance or 0 }}"
    countries:
      type: DeclarativeStream
      name: countries
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /countries
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/countries"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    customers:
      type: DeclarativeStream
      name: customers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - delivery_addresses
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    inventory:
      type: DeclarativeStream
      name: inventory
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /inventory
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - product_id
        - outlet_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inventory"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    suppliers:
      type: DeclarativeStream
      name: suppliers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /suppliers
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suppliers"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    transfers:
      type: DeclarativeStream
      name: transfers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /transfers
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transfers"
      transformations:
        - type: AddFields
          fields:
            - path:
                - modified_on
              value: >-
                {{ record['modified_on'] or record['created_on'] or
                '1970-01-01T00:00:00Z' }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: modified_on:gt:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    currencies:
      type: DeclarativeStream
      name: currencies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /currencies
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/currencies"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    order_items:
      type: DeclarativeStream
      name: order_items
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders/{{ stream_partition.parent_id }}/orderitems
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/orders"
              parent_key: id
              partition_field: parent_id
              incremental_dependency: true
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_items"
      transformations:
        - type: AddFields
          fields:
            - path:
                - modified_on
              value: "{{ record['modified_on'] or '1970-01-01T00:00:00Z' }}"
    credit_notes:
      type: DeclarativeStream
      name: credit_notes
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /creditnotes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/credit_notes"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    customer_logs:
      type: DeclarativeStream
      name: customer_logs
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /customerlogs
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_logs"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: created_on:gte:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    freight_types:
      type: DeclarativeStream
      name: freight_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /freighttypes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/freight_types"
    product_types:
      type: DeclarativeStream
      name: product_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /producttypes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_types"
    voucher_types:
      type: DeclarativeStream
      name: voucher_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /vouchertypes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/voucher_types"
    customer_types:
      type: DeclarativeStream
      name: customer_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /customertypes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_types"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: modified_since:gte:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    order_payments:
      type: DeclarativeStream
      name: order_payments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /orderpayments
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: created_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_payments"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: created_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    product_prices:
      type: DeclarativeStream
      name: product_prices
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /productprices
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - product_id
        - outlet_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_prices"
    return_reasons:
      type: DeclarativeStream
      name: return_reasons
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /returnreasons
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/return_reasons"
      transformations:
        - type: AddFields
          fields:
            - path:
                - modified_on
              value: >-
                {{ record['modified_on'] or record['created_on'] or
                '1970-01-01T00:00:00Z' }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: modified_on:gt:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    shipment_types:
      type: DeclarativeStream
      name: shipment_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /shipmenttypes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipment_types"
    shipping_ports:
      type: DeclarativeStream
      name: shipping_ports
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /shippingports
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_ports"
    stock_receipts:
      type: DeclarativeStream
      name: stock_receipts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /stockreceipts
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: created_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stock_receipts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: created_on:gt:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    transfer_items:
      type: DeclarativeStream
      name: transfer_items
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /transferitems
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on desc
            filter_by: transfer_id:eq:{{ stream_partition.parent_id }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/transfers"
              parent_key: id
              partition_field: parent_id
              incremental_dependency: true
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transfer_items"
      transformations:
        - type: AddFields
          fields:
            - path:
                - modified_on
              value: >-
                {{ record['modified_on'] or record['created_on'] or
                '1970-01-01T00:00:00Z' }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        is_data_feed: true
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    transfer_types:
      type: DeclarativeStream
      name: transfer_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /transfertypes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transfer_types"
    purchase_orders:
      type: DeclarativeStream
      name: purchase_orders
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /purchaseorders
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/purchase_orders"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: modified_on:gt:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    shipping_status:
      type: DeclarativeStream
      name: shipping_status
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /shippingstatus
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_status"
    transfer_status:
      type: DeclarativeStream
      name: transfer_status
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /transferstatus
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transfer_status"
    product_barcodes:
      type: DeclarativeStream
      name: product_barcodes
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /productbarcodes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_barcodes"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    supplier_returns:
      type: DeclarativeStream
      name: supplier_returns
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /supplierreturns
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/supplier_returns"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    credit_note_items:
      type: DeclarativeStream
      name: credit_note_items
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /creditnotes/{{ stream_partition.parent_id }}/creditnoteitems
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/credit_notes"
              parent_key: id
              partition_field: parent_id
              incremental_dependency: true
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/credit_note_items"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    order_fulfilments:
      type: DeclarativeStream
      name: order_fulfilments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /orderfulfilments
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: created_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_fulfilments"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: created_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    supplier_invoices:
      type: DeclarativeStream
      name: supplier_invoices
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /supplierinvoices
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/supplier_invoices"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: modified_on:gt:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    max_discount_rules:
      type: DeclarativeStream
      name: max_discount_rules
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /maxdiscountrules
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/max_discount_rules"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    price_groups_fixed:
      type: DeclarativeStream
      name: price_groups_fixed
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /pricegroups/fixed
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/price_groups_fixed"
    product_attributes:
      type: DeclarativeStream
      name: product_attributes
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /productattributes
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_attributes"
    product_details_log:
      type: DeclarativeStream
      name: product_details_log
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /productdetailslog
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: created_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_details_log"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: created_on:gte:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    purchase_order_items:
      type: DeclarativeStream
      name: purchase_order_items
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /purchaseorders/{{ stream_partition.parent_id }}/purchaseorderitems
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/purchase_orders"
              parent_key: id
              partition_field: parent_id
              incremental_dependency: true
      primary_key:
        - po_item_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/purchase_order_items"
      transformations:
        - type: AddFields
          fields:
            - path:
                - modified_on
              value: "{{ record['modified_on'] or '1970-01-01T00:00:00Z' }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        lookback_window: PT1H
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    price_groups_standard:
      type: DeclarativeStream
      name: price_groups_standard
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /pricegroups/standard
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/price_groups_standard"
    supplier_return_status:
      type: DeclarativeStream
      name: supplier_return_status
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /supplierreturnstatus
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/supplier_return_status"
    inventory_movement_logs:
      type: DeclarativeStream
      name: inventory_movement_logs
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /inventorymovementlogs
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on desc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inventory_movement_logs"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: created_on:gt:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    supplier_return_reasons:
      type: DeclarativeStream
      name: supplier_return_reasons
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /supplierreturnreasons
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/supplier_return_reasons"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    customer_survey_segments:
      type: DeclarativeStream
      name: customer_survey_segments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /customersurveysegments
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_survey_segments"
    product_attribute_values:
      type: DeclarativeStream
      name: product_attribute_values
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /productattributes/{{ stream_partition.parent_id }}/values
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/product_attributes"
              parent_key: id
              partition_field: parent_id
              incremental_dependency: true
      primary_key:
        - id
        - attribute_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_attribute_values"
    receipt_variance_reasons:
      type: DeclarativeStream
      name: receipt_variance_reasons
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /receiptvariancereasons
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on desc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/receipt_variance_reasons"
      transformations:
        - type: AddFields
          fields:
            - path:
                - modified_on
              value: >-
                {{ record['modified_on'] or record['created_on'] or
                '1970-01-01T00:00:00Z' }}
    stock_adjustment_reasons:
      type: DeclarativeStream
      name: stock_adjustment_reasons
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /stockadjustmentreasons
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stock_adjustment_reasons"
      transformations:
        - type: AddFields
          fields:
            - path:
                - modified_on
              value: >-
                {{ record['modified_on'] or record['created_on'] or
                '1970-01-01T00:00:00Z' }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: modified_on:gt:%Y-%m-%dT%H:%M:%S%z
        start_time_option:
          type: RequestOption
          field_name: filter_by
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    loyalty_adjustment_reasons:
      type: DeclarativeStream
      name: loyalty_adjustment_reasons
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /loyaltyadjustmentreasons
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/loyalty_adjustment_reasons"
    customer_delivery_addresses:
      type: DeclarativeStream
      name: customer_delivery_addresses
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers/{{ stream_partition.parent_id }}/deliveryaddresses
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
          request_parameters:
            order_by: modified_on asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/customers"
              parent_key: id
              partition_field: parent_id
              incremental_dependency: true
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_delivery_addresses"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_on
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: modified_since
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    supplier_return_item_source:
      type: DeclarativeStream
      name: supplier_return_item_source
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /supplierreturnitemsource
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/supplier_return_item_source"
    supplier_return_item_status:
      type: DeclarativeStream
      name: supplier_return_item_status
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /supplierreturnitemstatus
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/supplier_return_item_status"
    product_replenishment_methods:
      type: DeclarativeStream
      name: product_replenishment_methods
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page_number
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 250
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /productreplenishmentmethods
          http_method: GET
          request_headers:
            x-api-key: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_replenishment_methods"
  base_requester:
    type: HttpRequester
    url_base: https://api.retailexpress.com.au/v2.1
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        path: token
        url_base: https://api.retailexpress.com.au/v2.1/auth
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: x-api-key
            inject_into: header
        request_headers: {}
        request_parameters: {}
      session_token_path:
        - access_token
      expiration_duration: PT1H
      request_authentication:
        type: Bearer

streams:
  - $ref: "#/definitions/streams/countries"
  - $ref: "#/definitions/streams/credit_notes"
  - $ref: "#/definitions/streams/credit_note_items"
  - $ref: "#/definitions/streams/currencies"
  - $ref: "#/definitions/streams/customer_logs"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/customer_delivery_addresses"
  - $ref: "#/definitions/streams/customer_types"
  - $ref: "#/definitions/streams/freight_types"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/order_items"
  - $ref: "#/definitions/streams/order_fulfilments"
  - $ref: "#/definitions/streams/order_payments"
  - $ref: "#/definitions/streams/outlets"
  - $ref: "#/definitions/streams/product_attributes"
  - $ref: "#/definitions/streams/product_attribute_values"
  - $ref: "#/definitions/streams/product_replenishment_methods"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/product_types"
  - $ref: "#/definitions/streams/purchase_orders"
  - $ref: "#/definitions/streams/purchase_order_items"
  - $ref: "#/definitions/streams/transfers"
  - $ref: "#/definitions/streams/transfer_items"
  - $ref: "#/definitions/streams/receipt_variance_reasons"
  - $ref: "#/definitions/streams/shipment_types"
  - $ref: "#/definitions/streams/shipping_ports"
  - $ref: "#/definitions/streams/shipping_status"
  - $ref: "#/definitions/streams/stock_receipts"
  - $ref: "#/definitions/streams/supplier_invoices"
  - $ref: "#/definitions/streams/supplier_return_item_source"
  - $ref: "#/definitions/streams/supplier_return_item_status"
  - $ref: "#/definitions/streams/supplier_return_reasons"
  - $ref: "#/definitions/streams/supplier_return_status"
  - $ref: "#/definitions/streams/supplier_returns"
  - $ref: "#/definitions/streams/suppliers"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/vouchers"
  - $ref: "#/definitions/streams/voucher_types"
  - $ref: "#/definitions/streams/inventory"
  - $ref: "#/definitions/streams/inventory_movement_logs"
  - $ref: "#/definitions/streams/customer_survey_segments"
  - $ref: "#/definitions/streams/loyalty_adjustment_reasons"
  - $ref: "#/definitions/streams/max_discount_rules"
  - $ref: "#/definitions/streams/price_groups_fixed"
  - $ref: "#/definitions/streams/price_groups_standard"
  - $ref: "#/definitions/streams/product_barcodes"
  - $ref: "#/definitions/streams/product_prices"
  - $ref: "#/definitions/streams/return_reasons"
  - $ref: "#/definitions/streams/stock_adjustment_reasons"
  - $ref: "#/definitions/streams/transfer_status"
  - $ref: "#/definitions/streams/transfer_types"
  - $ref: "#/definitions/streams/product_details_log"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    users:
      hasRecords: true
      streamHash: 3ef0a64651007a09bb7064c9cf481b908463f46f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    orders:
      hasRecords: true
      streamHash: c75827c41115f073ffa1197ce3cd39a5ab3812a4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    outlets:
      hasRecords: true
      streamHash: 8863af98b1371170f034e5c717a53eba6c54e2f1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: e1d78e72434873c66918330ad080bbf4bce50e38
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    vouchers:
      hasRecords: true
      streamHash: 10bdda2bc08c11610ce17bdb985628027952a6b5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    countries:
      hasRecords: true
      streamHash: 661bcb9faa66b4270a95b9b9de43014eca851ebd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customers:
      hasRecords: true
      streamHash: f950734398e2110d909d0e8e652677727526af48
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    inventory:
      hasRecords: true
      streamHash: 45a5dce1c1964a40fddcc365b90def548ad7f5c8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    suppliers:
      hasRecords: true
      streamHash: 44ae7e428fc9900899216f072e638f46e8ec8c7e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transfers:
      hasRecords: true
      streamHash: 32a368bcb02c88158a9a25629d77a03ceb022757
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    currencies:
      hasRecords: true
      streamHash: 200ccd75c8ab6bd4b5f4abdea47e6377ab99291d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    order_items:
      hasRecords: true
      streamHash: f0b2fcd8cedf823bf51093739b8195e8bc80c61c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    credit_notes:
      hasRecords: true
      streamHash: 315eb4de8c7ee728dfa3db31dfcc5eccec1cb388
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customer_logs:
      hasRecords: true
      streamHash: 71c0a1a350675c954e3fcd3781e6faafd8e9ae45
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    freight_types:
      hasRecords: true
      streamHash: ff507531b90c83022f5f46c887fb8590c91f4c02
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_types:
      hasRecords: true
      streamHash: cdbdae1c8b97b07139ff996e6f487ac55bb0344e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    voucher_types:
      hasRecords: true
      streamHash: fd325ba23478890c670b0918a70ffd13d9642418
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customer_types:
      hasRecords: true
      streamHash: 5a9f1829b1ce7b970019f856ff414fbeb25c98c0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    order_payments:
      hasRecords: true
      streamHash: 24b23513d1cb303f5722914ca3547dc1c1ef78e8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_prices:
      hasRecords: true
      streamHash: 9a233290218bfc8398322d4ab9757a87c411fda8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    return_reasons:
      hasRecords: true
      streamHash: c6e89dd3e3cd4ba32909025a143f724ceaf7b780
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    shipment_types:
      hasRecords: true
      streamHash: cb3aaefcb71c17288b4061e88614263ae318e1a2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    shipping_ports:
      hasRecords: true
      streamHash: 434219d73b930bd8a6aef3dee69df26a8bc98676
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stock_receipts:
      hasRecords: true
      streamHash: b08037eecbade297e487ccfd25f9f74e005479aa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transfer_items:
      hasRecords: true
      streamHash: 56ac4382f8641112c7d33cf5bdfe9c590ebf1a64
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transfer_types:
      hasRecords: true
      streamHash: b323f085b1542280d07d372c96cab1d7037c070a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    purchase_orders:
      hasRecords: true
      streamHash: 0fd6b3d1c316ab101d21366b54aab854090ed532
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    shipping_status:
      hasRecords: true
      streamHash: 17f39ba69e960063310b7026440665fac64a31d6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transfer_status:
      hasRecords: true
      streamHash: afce29e876fe0d646514ec6f372fba10b1747c63
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_barcodes:
      hasRecords: true
      streamHash: bcce22d4becbb657be1a0d507e4cbcff4e819949
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    supplier_returns:
      hasRecords: true
      streamHash: 6e5ef0f65285dfc54ec800f44b88c9cc70e70969
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    credit_note_items:
      hasRecords: true
      streamHash: 96a91f8ac710f474f1b65bbeaacd6f52387fa535
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    order_fulfilments:
      hasRecords: true
      streamHash: 78bcda61841e48c5f9ebda0113e25044ca7cc6f8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    supplier_invoices:
      hasRecords: true
      streamHash: 6abd0d2e63bc9eb000c39d35f08584e18683fb60
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    max_discount_rules:
      hasRecords: true
      streamHash: e9bc0569e157b5a61fc6871990bc8fdaea5a8017
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    price_groups_fixed:
      hasRecords: true
      streamHash: 65546150dac7a610e75e4db91e146d9a7821677a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_attributes:
      hasRecords: true
      streamHash: 619ef9415c8afbcc5d17197927d3349f1a5c8b8d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_details_log:
      hasRecords: true
      streamHash: 3162da75a01d0fbedfe7ab060c58e85569145071
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    purchase_order_items:
      hasRecords: true
      streamHash: 68dd686fa0912f390ace015dcaed7740e5e7557d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    price_groups_standard:
      hasRecords: true
      streamHash: c10a0c92c75963e18999d4f4901b0a64e275098d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    supplier_return_status:
      hasRecords: true
      streamHash: b846f8cb0bc1660a953c4716a557a47faa87ea85
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    inventory_movement_logs:
      hasRecords: true
      streamHash: 5e5aeea1fbf23844749edd172006794a33cb6bb4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    supplier_return_reasons:
      hasRecords: true
      streamHash: 495f37c64d5c04e2b6e219d97dc81e2202ae7206
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customer_survey_segments:
      hasRecords: true
      streamHash: d163df441e17af6b99ec4408cdd593b612f1c3e2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_attribute_values:
      hasRecords: true
      streamHash: c8ced53d50942a5082749267ae73d123b7cb0d4e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    receipt_variance_reasons:
      hasRecords: true
      streamHash: 78f7c1e1419851fc8fcb07927dbcd3cbac0d38c1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stock_adjustment_reasons:
      hasRecords: true
      streamHash: cf499fd6c756d16d4aa85fc59ac03039c2b96dab
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    loyalty_adjustment_reasons:
      hasRecords: true
      streamHash: 5664de23a7786a31f8e72f37835a78f4240c7a54
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customer_delivery_addresses:
      hasRecords: true
      streamHash: 4c6f0188e55d87ee768c6d3cb71313a681e32006
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    supplier_return_item_source:
      hasRecords: true
      streamHash: 2aa2281ad2d3f978e11d3b6eaffaa74f7913d3b7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    supplier_return_item_status:
      hasRecords: true
      streamHash: 063848eed8e7f24abe954755cb4507e98efaee43
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_replenishment_methods:
      hasRecords: true
      streamHash: 795cc151c449f7f2bc80c07b1ff8abdcd2191eed
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    users: true
    orders: true
    outlets: true
    products: true
    vouchers: true
    countries: true
    customers: true
    inventory: true
    suppliers: true
    transfers: true
    currencies: true
    order_items: true
    credit_notes: true
    customer_logs: true
    freight_types: true
    product_types: true
    voucher_types: true
    customer_types: true
    order_payments: true
    product_prices: true
    return_reasons: true
    shipment_types: true
    shipping_ports: true
    stock_receipts: true
    transfer_items: true
    transfer_types: true
    purchase_orders: true
    shipping_status: true
    transfer_status: true
    product_barcodes: true
    supplier_returns: true
    credit_note_items: true
    order_fulfilments: true
    supplier_invoices: true
    max_discount_rules: true
    price_groups_fixed: true
    product_attributes: true
    product_details_log: true
    purchase_order_items: true
    price_groups_standard: true
    supplier_return_status: true
    inventory_movement_logs: true
    supplier_return_reasons: true
    customer_survey_segments: true
    product_attribute_values: true
    receipt_variance_reasons: true
    stock_adjustment_reasons: true
    loyalty_adjustment_reasons: true
    customer_delivery_addresses: true
    supplier_return_item_source: true
    supplier_return_item_status: true
    product_replenishment_methods: true

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      enabled:
        type:
          - boolean
          - "null"
      outlets:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      surname:
        type:
          - string
          - "null"
      is_admin:
        type:
          - boolean
          - "null"
      user_code:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      modified_on:
        type:
          - string
          - "null"
      stock_outlets:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      security_profile:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
    additionalProperties: true
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - modified_on
    properties:
      id:
        type: number
      outlet:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          modified_on:
            type:
              - string
              - "null"
      taxable:
        type:
          - number
          - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          email:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          customer_number:
            type:
              - string
              - "null"
          custom_reference:
            type:
              - string
              - "null"
      created_on:
        type:
          - string
          - "null"
      modified_on:
        type: string
      order_total:
        type:
          - number
          - "null"
      order_number:
        type:
          - string
          - "null"
      order_status:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
      sales_person:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          surname:
            type:
              - string
              - "null"
          user_code:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
      ext_unique_id:
        type:
          - string
          - "null"
      freight_total:
        type:
          - number
          - "null"
      billing_address:
        type:
          - object
[...]
