version: 0.78.3
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - pages

streams:
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.notion.com/v1/
        authenticator:
          type: BearerAuthenticator
          api_token:
            "{{ config.get('credentials', {}).get('token') if config.get('credentials',
            {}).get('auth_type') == 'token' else config.get('credentials', {}).get('access_token')
            if config.get('credentials', {}).get('auth_type') == 'OAuth2.0' else config.get('access_token',
            '') }}"
        path: users
        http_method: GET
        request_parameters: {}
        request_headers:
          Notion-Version: "2022-06-28"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: retry-after
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 400
                  error_message_contains: "The start_cursor provided is invalid:"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_cursor
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next_cursor") }}'
          stop_condition: '{{ not response.get("has_more") }}'
      partition_router: []
    transformations:
      - type: CustomTransformation
        class_name: source_notion.components.NotionUserTransformation

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          object:
            enum:
              - user
          id:
            type: string
          name:
            type:
              - "null"
              - string
          avatar_url:
            type:
              - "null"
              - string
          type:
            enum:
              - person
              - bot
          person:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              email:
                type:
                  - "null"
                  - string
          bot:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              owner:
                type: object
                properties:
                  type:
                    type: string
                  info:
                    avatar_url:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    name:
                      type:
                        - "null"
                        - string
                    object:
                      type:
                        - "null"
                        - string
                    person:
                      type:
                        - "null"
                        - object
                      properties:
                        email:
                          type:
                            - "null"
                            - string
                        type:
                          type:
                            - "null"
                            - string
                  workspace:
                    type:
                      - "null"
                      - boolean
              workspace_name:
                type:
                  - "null"
                  - string
  - type: DeclarativeStream
    name: databases
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.notion.com/v1/
        path: search
        http_method: POST
        request_parameters: {}
        request_headers:
          Notion-Version: "2022-06-28"
        authenticator:
          authenticator:
          type: BearerAuthenticator
          api_token:
            "{{ config.get('credentials', {}).get('token') if config.get('credentials',
            {}).get('auth_type') == 'token' else config.get('credentials', {}).get('access_token')
            if config.get('credentials', {}).get('auth_type') == 'OAuth2.0' else config.get('access_token',
            '') }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: retry-after
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 400
                  error_message_contains: "The start_cursor provided is invalid:"
        request_body_json:
          sort: '{ "direction": "descending", "timestamp": "last_edited_time" }'
          filter: '{ "property": "object", "value": "database" }'
      record_selector:
        type: RecordSelector
        record_filter:
          type: CustomRecordFilter
          class_name: source_notion.components.NotionDataFeedFilter
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: start_cursor
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: body_json
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next_cursor") }}'
          stop_condition: '{{ not response.get("has_more") }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_edited_time
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      is_data_feed: true
    transformations:
      - type: CustomTransformation
        class_name: source_notion.components.NotionPropertiesTransformation

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          object:
            description: The type of object represented by the database.
            enum:
              - database
          id:
            description: Unique identifier of the database.
            type: string
          created_time:
            description: The timestamp when the database was created.
            type: string
            format: date-time
          last_edited_time:
            description: The timestamp when the database was last edited.
            type: string
            format: date-time
          title:
            description: Title or name of the database.
            type: array
            items:
              type: object
              properties:
                type:
                  type:
                    - "null"
                    - string
                text:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    content:
                      type:
                        - "null"
                        - string
                    link:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        type:
                          enum:
                            - url
                        url:
                          type:
                            - "null"
                            - string
                mention:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    type:
                      type:
                        - "null"
                        - string
                    info:
                      type:
                        - "null"
                        - object
                      properties:
                        id:
                          type:
                            - "null"
                            - string
                        object:
                          type:
                            - "null"
                            - string
                equation:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    expression:
                      type:
                        - "null"
                        - string
                annotations:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    bold:
                      type:
                        - "null"
                        - boolean
                    italic:
                      type:
                        - "null"
                        - boolean
                    strikethrough:
                      type:
                        - "null"
                        - boolean
                    underline:
                      type:
                        - "null"
                        - boolean
                    code:
                      type:
                        - "null"
                        - boolean
                    color:
                      type:
                        - "null"
                        - string
                plain_text:
                  type:
                    - "null"
                    - string
                href:
                  type:
                    - "null"
                    - string
          description:
            description: Description text associated with the database.
            type: array
            items:
              type: object
              properties:
                type:
                  type:
                    - "null"
                    - string
                text:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    content:
                      type:
                        - "null"
                        - string
                    link:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        type:
                          enum:
                            - url
                        url:
                          type:
                            - "null"
                            - string
                mention:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    type:
                      type:
                        - "null"
                        - string
                    info:
                      type:
                        - "null"
                        - object
                      properties:
                        id:
                          type:
                            - "null"
                            - string
                        object:
                          type:
                            - "null"
                            - string
                equation:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    expression:
                      type:
                        - "null"
                        - string
                annotations:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    bold:
                      type:
                        - "null"
                        - boolean
                    italic:
                      type:
                        - "null"
                        - boolean
                    strikethrough:
                      type:
                        - "null"
                        - boolean
                    underline:
                      type:
                        - "null"
                        - boolean
                    code:
                      type:
                        - "null"
                        - boolean
                    color:
                      type:
                        - "null"
                        - string
                plain_text:
                  type:
                    - "null"
                    - string
                href:
                  type:
                    - "null"
                    - string
          last_edited_by:
            description: The user who last edited the database.
            type: object
            properties:
              object:
                enum:
                  - user
              id:
                type: string
              name:
                type:
                  - "null"
                  - string
              avatar_url:
                type:
                  - "null"
                  - string
              type:
                enum:
                  - person
                  - bot
              person:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  email:
                    type:
                      - "null"
                      - string
              bot:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  owner:
                    type: object
                    properties:
                      type:
                        type: string
                      info:
                        avatar_url:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                        object:
                          type:
                            - "null"
                            - string
                        person:
                          type:
                            - "null"
                            - object
                          properties:
                            email:
                              type:
                                - "null"
                                - string
                            type:
                              type:
                                - "null"
                                - string
                      workspace:
                        type:
                          - "null"
                          - boolean
                  workspace_name:
                    type:
                      - "null"
                      - string
          created_by:
            description: The user who created the database.
            type: object
            properties:
              object:
                enum:
                  - user
              id:
                type: string
              name:
                type:
                  - "null"
                  - string
              avatar_url:
                type:
                  - "null"
                  - string
              type:
                enum:
                  - person
                  - bot
              person:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  email:
                    type:
                      - "null"
                      - string
              bot:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  owner:
                    type: object
                    properties:
                      type:
                        type: string
                      info:
                        avatar_url:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                        object:
                          type:
                            - "null"
                            - string
                        person:
                          type:
                            - "null"
                            - object
                          properties:
                            email:
                              type:
                                - "null"
                                - string
                            type:
                              type:
                                - "null"
                                - string
                      workspace:
                        type:
                          - "null"
                          - boolean
                  workspace_name:
                    type:
                      - "null"
                      - string
          archived:
            description: Indicates if the data is archived or not.
            type: boolean
          icon:
            description: URL or reference to the icon of the database.
            anyOf:
              - type:
                  - "null"
                  - object
                properties:
                  type:
                    enum:
                      - file
                      - external
                  caption:
                    type:
                      - "null"
                      - array
                    items:
                      type: object
                      properties:
                        type:
                          type:
                            - "null"
                            - string
                        text:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            content:
                              type:
                                - "null"
                                - string
                            link:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                type:
                                  enum:
                                    - url
                                url:
                                  type:
                                    - "null"
                                    - string
                        mention:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            type:
                              type:
                                - "null"
                                - string
                            info:
                              type:
                                - "null"
                                - object
                              properties:
                                id:
                                  type:
                                    - "null"
                                    - string
                                object:
                                  type:
                                    - "null"
                                    - string
                        equation:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            expression:
                              type:
                                - "null"
                                - string
                        annotations:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            bold:
                              type:
                                - "null"
                                - boolean
                            italic:
                              type:
                                - "null"
                                - boolean
                            strikethrough:
                              type:
                                - "null"
                                - boolean
                            underline:
                              type:
                                - "null"
                                - boolean
                            code:
                              type:
                                - "null"
                                - boolean
                            color:
                              type:
                                - "null"
                                - string
                        plain_text:
                          type:
                            - "null"
                            - string
                        href:
                          type:
                            - "null"
                            - string
                  external:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      url:
                        type: string
                  file:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      url:
                        type: string
                      expiry_time:
                        type: string
                        format: date-time
              - type:
                  - "null"
                  - object
                properties:
                  type:
                    type: string
                  emoji:
                    type: string
          cover:
            description: URL or reference to the cover image of the database.
            type:
              - "null"
              - object
            properties:
              type:
                enum:
                  - file
                  - external
              caption:
                type:
                  - "null"
                  - array
                items:
                  type: object
                  properties:
                    type:
                      type:
                        - "null"
                        - string
                    text:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        content:
                          type:
                            - "null"
                            - string
                        link:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            type:
                              enum:
                                - url
                            url:
                              type:
                                - "null"
                                - string
                    mention:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        type:
                          type:
                            - "null"
                            - string
                        info:
                          type:
                            - "null"
                            - object
                          properties:
                            id:
                              type:
                                - "null"
                                - string
                            object:
                              type:
                                - "null"
                                - string
                    equation:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        expression:
                          type:
                            - "null"
                            - string
                    annotations:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        bold:
                          type:
                            - "null"
                            - boolean
                        italic:
                          type:
                            - "null"
                            - boolean
                        strikethrough:
                          type:
                            - "null"
                            - boolean
                        underline:
                          type:
                            - "null"
                            - boolean
                        code:
                          type:
                            - "null"
                            - boolean
                        color:
                          type:
                            - "null"
                            - string
                    plain_text:
                      type:
                        - "null"
                        - string
                    href:
                      type:
                        - "null"
                        - string
              external:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  url:
                    type: string
              file:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  url:
                    type: string
                  expiry_time:
                    type: string
                    format: date-time
          parent:
            description: Indicates the parent database if it exists.
            type: object
            properties:
              type:
                enum:
                  - block_id
                  - database_id
                  - page_id
                  - workspace
              block_id:
                type: string
              database_id:
                type: string
              page_id:
                type: string
              workspace:
                type: boolean
          url:
            description: URL or reference to access the database.
            type: string
          is_inline:
            description: Indicates if the database is displayed inline.
            type:
              - "null"
              - boolean
          public_url:
            description: Public URL to access the database.
            type:
              - "null"
              - string
          properties:
            description:
              List of key-value pairs defining additional properties of the
              database.
            type: array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                name:
                  description: The name of the property.
                  type:
                    - "null"
                    - string
                value:
                  description: The value of the property.
                  type: object
                  additionalProperties: true
                  anyOf:
                    - type: object
                      additionalProperties: true
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - checkbox
                            - created_by
                            - created_time
                            - date
                            - email
                            - files
                            - formula
                            - last_edited_by
                            - last_edited_time
                            - multi_select
                            - number
                            - people
                            - phone_number
                            - relation
                            - rich_text
                            - rollup
                            - select
                            - status
                            - title
                            - url
                        name:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - checkbox
                        name:
                          type: string
                        checkbox:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - created_by
                        name:
                          type: string
                        created_by:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - created_time
                        name:
                          type: string
                        created_time:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - date
                        name:
                          type: string
                        date:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - email
                        name:
                          type: string
                        email:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - files
                        name:
                          type: string
                        files:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - formula
                        name:
                          type: string
                        expression:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - last_edited_by
                        name:
                          type: string
                        last_edited_by:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - last_edited_time
                        name:
                          type: string
                        last_edited_time:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - number
                        name:
                          type: string
                        format:
                          enum:
                            - argentine_peso
                            - baht
                            - canadian_dollar
                            - chilean_peso
                            - colombian_peso
                            - danish_krone
                            - dirham
                            - dollar
                            - euro
                            - forint
                            - franc
                            - hong_kong_dollar
                            - koruna
                            - krona
                            - leu
                            - lira
                            - mexican_peso
                            - new_taiwan_dollar
                            - new_zealand_dollar
                            - norwegian_krone
                            - number
                            - number_with_commas
                            - percent
                            - peruvian_sol
                            - philippine_peso
                            - pound
                            - rand
                            - real
                            - ringgit
                            - riyal
                            - ruble
                            - rupee
                            - rupiah
                            - shekel
                            - singapore_dollar
                            - uruguayan_peso
                            - won
                            - yen
                            - yuan
                            - zloty
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - select
                            - multi_select
                        name:
                          type: string
                        options:
                          type: array
                          items:
                            type:
                              - "null"
                              - object
                            properties:
                              id:
                                type:
                                  - "null"
                                  - string
                              name:
                                type:
                                  - "null"
                                  - string
                              color:
                                type:
                                  - "null"
                                  - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - people
                        name:
                          type: string
                        people:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - phone_number
                        name:
                          type: string
                        phone_number:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - relation
                        name:
                          type: string
                        database_id:
                          type: string
                        synced_property_name:
                          type:
                            - "null"
                            - string
                        synced_property_id:
                          type:
                            - "null"
                            - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - rich_text
                        name:
                          type: string
                        rich_text:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - rollup
                        name:
                          type: string
                        relation_property_name:
                          type: string
                        relation_property_id:
                          type: string
                        rollup_property_name:
                          type: string
                        rollup_property_id:
                          type: string
                        function:
                          enum:
                            - average
                            - checked
                            - count_per_group
                            - count
                            - count_values
                            - date_range
                            - earliest_date
                            - empty
                            - latest_date
                            - max
                            - median
                            - min
                            - not_empty
                            - percent_checked
                            - percent_empty
                            - percent_not_empty
                            - percent_per_group
                            - percent_unchecked
                            - range
                            - unchecked
                            - unique
                            - show_original
                            - show_unique
                            - sum
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - status
                        name:
                          type: string
                        status:
                          type: object
                          properties:
                            options:
                              type: array
                              items:
                                type:
                                  - "null"
                                  - object
                                properties:
                                  id:
                                    type:
                                      - "null"
                                      - string
                                  name:
                                    type:
                                      - "null"
                                      - string
                                  color:
                                    type:
                                      - "null"
                                      - string
                            groups:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
                                  color:
                                    type: string
                                  option_ids:
                                    type: array
                                    items:
                                      type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - title
                        name:
                          type: string
                        title:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - url
                        name:
                          type: string
                        url:
                          type: object
  - type: DeclarativeStream
    name: pages
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.notion.com/v1/
        path: search
        http_method: POST
        request_parameters: {}
        request_headers:
          Notion-Version: "2022-06-28"
        authenticator:
          authenticator:
          type: BearerAuthenticator
          api_token:
            "{{ config.get('credentials', {}).get('token') if config.get('credentials',
            {}).get('auth_type') == 'token' else config.get('credentials', {}).get('access_token')
            if config.get('credentials', {}).get('auth_type') == 'OAuth2.0' else config.get('access_token',
            '') }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: retry-after
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 400
                  error_message_contains: "The start_cursor provided is invalid:"
        request_body_json:
          sort: '{ "direction": "descending", "timestamp": "last_edited_time" }'
          filter: '{ "property": "object", "value": "page" }'
      record_selector:
        type: RecordSelector
        record_filter:
          type: CustomRecordFilter
          class_name: source_notion.components.NotionDataFeedFilter
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: start_cursor
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: body_json
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next_cursor") }}'
          stop_condition: '{{ not response.get("has_more") }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_edited_time
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      is_data_feed: true
    transformations:
      - type: CustomTransformation
        class_name: source_notion.components.NotionPropertiesTransformation

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          object:
            description: Type or category of the page object.
            enum:
              - page
          id:
            description: Unique identifier of the page.
            type: string
          created_time:
            description: Date and time when the page was created.
            type: string
            format: date-time
          created_by:
            description: User ID or name of the creator of the page.
            type: object
            properties:
              object:
                enum:
                  - user
              id:
                type: string
              name:
                type:
                  - "null"
                  - string
              avatar_url:
                type:
                  - "null"
                  - string
              type:
                enum:
                  - person
                  - bot
              person:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  email:
                    type:
                      - "null"
                      - string
              bot:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  owner:
                    type: object
                    properties:
                      type:
                        type: string
                      info:
                        avatar_url:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                        object:
                          type:
                            - "null"
                            - string
                        person:
                          type:
                            - "null"
                            - object
                          properties:
                            email:
                              type:
                                - "null"
                                - string
                            type:
                              type:
                                - "null"
                                - string
                      workspace:
                        type:
                          - "null"
                          - boolean
                  workspace_name:
                    type:
                      - "null"
                      - string
          last_edited_time:
            description: Date and time when the page was last edited.
            type: string
            format: date-time
          last_edited_by:
            description: User ID or name of the last editor of the page.
            type: object
            properties:
              object:
                enum:
                  - user
              id:
                type: string
              name:
                type:
                  - "null"
                  - string
              avatar_url:
                type:
                  - "null"
                  - string
              type:
                enum:
                  - person
                  - bot
              person:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  email:
                    type:
                      - "null"
                      - string
              bot:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  owner:
                    type: object
                    properties:
                      type:
                        type: string
                      info:
                        avatar_url:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                        object:
                          type:
                            - "null"
                            - string
                        person:
                          type:
                            - "null"
                            - object
                          properties:
                            email:
                              type:
                                - "null"
                                - string
                            type:
                              type:
                                - "null"
                                - string
                      workspace:
                        type:
                          - "null"
                          - boolean
                  workspace_name:
                    type:
                      - "null"
                      - string
          archived:
            description: Indicates whether the page is archived or not.
            type: boolean
          icon:
            description: URL or reference to the page icon.
            anyOf:
              - type:
                  - "null"
                  - object
                properties:
                  type:
                    enum:
                      - file
                      - external
                  caption:
                    type:
                      - "null"
                      - array
                    items:
                      type: object
                      properties:
                        type:
                          type:
                            - "null"
                            - string
                        text:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            content:
                              type:
                                - "null"
                                - string
                            link:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                type:
                                  enum:
                                    - url
                                url:
                                  type:
                                    - "null"
                                    - string
                        mention:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            type:
                              type:
                                - "null"
                                - string
                            info:
                              type:
                                - "null"
                                - object
                              properties:
                                id:
                                  type:
                                    - "null"
                                    - string
                                object:
                                  type:
                                    - "null"
                                    - string
                        equation:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            expression:
                              type:
                                - "null"
                                - string
                        annotations:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            bold:
                              type:
                                - "null"
                                - boolean
                            italic:
                              type:
                                - "null"
                                - boolean
                            strikethrough:
                              type:
                                - "null"
                                - boolean
                            underline:
                              type:
                                - "null"
                                - boolean
                            code:
                              type:
                                - "null"
                                - boolean
                            color:
                              type:
                                - "null"
                                - string
                        plain_text:
                          type:
                            - "null"
                            - string
                        href:
                          type:
                            - "null"
                            - string
                  external:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      url:
                        type: string
                  file:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      url:
                        type: string
                      expiry_time:
                        type: string
                        format: date-time
              - type:
                  - "null"
                  - object
                properties:
                  type:
                    type: string
                  emoji:
                    type: string
          cover:
            description: URL or reference to the page cover image.
            type:
              - "null"
              - object
            properties:
              type:
                enum:
                  - file
                  - external
              caption:
                type:
                  - "null"
                  - array
                items:
                  type: object
                  properties:
                    type:
                      type:
                        - "null"
                        - string
                    text:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        content:
                          type:
                            - "null"
                            - string
                        link:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            type:
                              enum:
                                - url
                            url:
                              type:
                                - "null"
                                - string
                    mention:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        type:
                          type:
                            - "null"
                            - string
                        info:
                          type:
                            - "null"
                            - object
                          properties:
                            id:
                              type:
                                - "null"
                                - string
                            object:
                              type:
                                - "null"
                                - string
                    equation:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        expression:
                          type:
                            - "null"
                            - string
                    annotations:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        bold:
                          type:
                            - "null"
                            - boolean
                        italic:
                          type:
                            - "null"
                            - boolean
                        strikethrough:
                          type:
                            - "null"
                            - boolean
                        underline:
                          type:
                            - "null"
                            - boolean
                        code:
                          type:
                            - "null"
                            - boolean
                        color:
                          type:
                            - "null"
                            - string
                    plain_text:
                      type:
                        - "null"
                        - string
                    href:
                      type:
                        - "null"
                        - string
              external:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  url:
                    type: string
              file:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  url:
                    type: string
                  expiry_time:
                    type: string
                    format: date-time
          parent:
            description: ID or reference to the parent page.
            type: object
            properties:
              type:
                enum:
                  - block_id
                  - database_id
                  - page_id
                  - workspace
              block_id:
                type: string
              database_id:
                type: string
              page_id:
                type: string
              workspace:
                type: boolean
          url:
            description: URL of the page within the service.
            type: string
          public_url:
            description: Publicly accessible URL of the page.
            type:
              - "null"
              - string
          properties:
            description: Custom properties associated with the page.
            type: array
            items:
              type: object
              additionalProperties: true
              properties:
                name:
                  description: Name or key of the custom property.
                  type:
                    - "null"
                    - string
                value:
                  description: Value of the custom property.
                  type: object
                  additionalProperties: true
                  oneOf:
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - title
                        title:
                          type:
                            - "null"
                            - array
                          items:
                            type:
                              - "null"
                              - object
                            additionalProperties: true
                            properties:
                              type:
                                type:
                                  - "null"
                                  - string
                              text:
                                type:
                                  - "null"
                                  - object
                                properties:
                                  content:
                                    type:
                                      - "null"
                                      - string
                                  link:
                                    type:
                                      - "null"
                                      - object
                                    additionalProperties: true
                                    properties:
                                      type:
                                        enum:
                                          - url
                                      url:
                                        type:
                                          - "null"
                                          - string
                              annotations:
                                type:
                                  - "null"
                                  - object
                                additionalProperties: true
                                properties:
                                  bold:
                                    type:
                                      - "null"
                                      - boolean
                                  italic:
                                    type:
                                      - "null"
                                      - boolean
                                  strikethrough:
                                    type:
                                      - "null"
                                      - boolean
                                  underline:
                                    type:
                                      - "null"
                                      - boolean
                                  code:
                                    type:
                                      - "null"
                                      - boolean
                                  color:
                                    type:
                                      - "null"
                                      - string
                              plain_text:
                                type:
                                  - "null"
                                  - string
                              href:
                                type:
                                  - "null"
                                  - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - rich_text
                        rich_text:
                          type:
                            - "null"
                            - array
                          items:
                            type: object
                            properties:
                              type:
                                type:
                                  - "null"
                                  - string
                              text:
                                type:
                                  - "null"
                                  - object
                                additionalProperties: true
                                properties:
                                  content:
                                    type:
                                      - "null"
                                      - string
                                  link:
                                    type:
                                      - "null"
                                      - object
                                    additionalProperties: true
                                    properties:
                                      type:
                                        enum:
                                          - url
                                      url:
                                        type:
                                          - "null"
                                          - string
                              mention:
                                type:
                                  - "null"
                                  - object
                                additionalProperties: true
                                properties:
                                  type:
                                    type:
                                      - "null"
                                      - string
                                  info:
                                    type:
                                      - "null"
                                      - object
                                    properties:
                                      id:
                                        type:
                                          - "null"
                                          - string
                                      object:
                                        type:
                                          - "null"
                                          - string
                              equation:
                                type:
                                  - "null"
                                  - object
                                additionalProperties: true
                                properties:
                                  expression:
                                    type:
                                      - "null"
                                      - string
                              annotations:
                                type:
                                  - "null"
                                  - object
                                additionalProperties: true
                                properties:
                                  bold:
                                    type:
                                      - "null"
                                      - boolean
                                  italic:
                                    type:
                                      - "null"
                                      - boolean
                                  strikethrough:
                                    type:
                                      - "null"
                                      - boolean
                                  underline:
                                    type:
                                      - "null"
                                      - boolean
                                  code:
                                    type:
                                      - "null"
                                      - boolean
                                  color:
                                    type:
                                      - "null"
                                      - string
                              plain_text:
                                type:
                                  - "null"
                                  - string
                              href:
                                type:
                                  - "null"
                                  - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - select
                        select:
                          type:
                            - "null"
                            - object
                          properties:
                            id:
                              type:
                                - "null"
                                - string
                            name:
                              type:
                                - "null"
                                - string
                            color:
                              type:
                                - "null"
                                - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - multi_select
                        multi_select:
                          type:
                            - "null"
                            - array
                          items:
                            type:
                              - "null"
                              - object
                            properties:
                              id:
                                type:
                                  - "null"
                                  - string
                              name:
                                type:
                                  - "null"
                                  - string
                              color:
                                type:
                                  - "null"
                                  - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - date
                        date:
                          type:
                            - "null"
                            - object
                          properties:
                            start:
                              type:
                                - "null"
                                - string
                            end:
                              type:
                                - "null"
                                - string
                            time_zone:
                              type:
                                - "null"
                                - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - formula
                        formula:
                          type:
                            - "null"
                            - object
                          properties:
                            type:
                              enum:
                                - string
                                - number
                                - boolean
                                - date
                            string:
                              type:
                                - "null"
                                - string
                            number:
                              type:
                                - "null"
                                - number
                            boolean:
                              type:
                                - "null"
                                - boolean
                            date:
                              type:
                                - "null"
                                - object
                              properties:
                                start:
                                  type:
                                    - "null"
                                    - string
                                end:
                                  type:
                                    - "null"
                                    - string
                                time_zone:
                                  type:
                                    - "null"
                                    - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - relation
                        relation:
                          type:
                            - "null"
                            - array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - rollup
                        rollup:
                          type:
                            - "null"
                            - object
                          properties:
                            type:
                              enum:
                                - number
                                - date
                                - array
                            number:
                              type:
                                - "null"
                                - number
                            date:
                              type:
                                - "null"
                                - object
                              properties:
                                start:
                                  type:
                                    - "null"
                                    - string
                                end:
                                  type:
                                    - "null"
                                    - string
                                time_zone:
                                  type:
                                    - "null"
                                    - string
                            array:
                              type:
                                - "null"
                                - array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - people
                        people:
                          type:
                            - "null"
                            - array
                          items:
                            type: object
                            properties:
                              object:
                                enum:
                                  - user
                              id:
                                type: string
                              name:
                                type:
                                  - "null"
                                  - string
                              avatar_url:
                                type:
                                  - "null"
                                  - string
                              type:
                                enum:
                                  - person
                                  - bot
                              person:
                                type:
                                  - "null"
                                  - object
                                additionalProperties: true
                                properties:
                                  email:
                                    type:
                                      - "null"
                                      - string
                              bot:
                                type:
                                  - "null"
                                  - object
                                additionalProperties: true
                                properties:
                                  owner:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      info:
                                        avatar_url:
                                          type:
                                            - "null"
                                            - string
                                        id:
                                          type:
                                            - "null"
                                            - string
                                        name:
                                          type:
                                            - "null"
                                            - string
                                        object:
                                          type:
                                            - "null"
                                            - string
                                        person:
                                          type:
                                            - "null"
                                            - object
                                          properties:
                                            email:
                                              type:
                                                - "null"
                                                - string
                                            type:
                                              type:
                                                - "null"
                                                - string
                                      workspace:
                                        type:
                                          - "null"
                                          - boolean
                                  workspace_name:
                                    type:
                                      - "null"
                                      - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - files
                        files:
                          type:
                            - "null"
                            - array
                          items:
                            type: object
                            properties:
                              type:
                                enum:
                                  - external
                                  - file
                              url:
                                type: string
                              expiry_time:
                                type:
                                  - "null"
                                  - string
                              name:
                                type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - checkbox
                        checkout:
                          type:
                            - "null"
                            - boolean
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - url
                        url:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - email
                        email:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - phone_number
                        phone_number:
                          type: object
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - created_time
                        created_time:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - created_by
                        created_by:
                          type: object
                          properties:
                            object:
                              enum:
                                - user
                            id:
                              type: string
                            name:
                              type:
                                - "null"
                                - string
                            avatar_url:
                              type:
                                - "null"
                                - string
                            type:
                              enum:
                                - person
                                - bot
                            person:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                email:
                                  type:
                                    - "null"
                                    - string
                            bot:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                owner:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    info:
                                      avatar_url:
                                        type:
                                          - "null"
                                          - string
                                      id:
                                        type:
                                          - "null"
                                          - string
                                      name:
                                        type:
                                          - "null"
                                          - string
                                      object:
                                        type:
                                          - "null"
                                          - string
                                      person:
                                        type:
                                          - "null"
                                          - object
                                        properties:
                                          email:
                                            type:
                                              - "null"
                                              - string
                                          type:
                                            type:
                                              - "null"
                                              - string
                                    workspace:
                                      type:
                                        - "null"
                                        - boolean
                                workspace_name:
                                  type:
                                    - "null"
                                    - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - last_edited_time
                        last_edited_time:
                          type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - last_edited_by
                        last_edited_by:
                          type: object
                          properties:
                            object:
                              enum:
                                - user
                            id:
                              type: string
                            name:
                              type:
                                - "null"
                                - string
                            avatar_url:
                              type:
                                - "null"
                                - string
                            type:
                              enum:
                                - person
                                - bot
                            person:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                email:
                                  type:
                                    - "null"
                                    - string
                            bot:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                owner:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    info:
                                      avatar_url:
                                        type:
                                          - "null"
                                          - string
                                      id:
                                        type:
                                          - "null"
                                          - string
                                      name:
                                        type:
                                          - "null"
                                          - string
                                      object:
                                        type:
                                          - "null"
                                          - string
                                      person:
                                        type:
                                          - "null"
                                          - object
                                        properties:
                                          email:
                                            type:
                                              - "null"
                                              - string
                                          type:
                                            type:
                                              - "null"
                                              - string
                                    workspace:
                                      type:
                                        - "null"
                                        - boolean
                                workspace_name:
                                  type:
                                    - "null"
                                    - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - number
                        number:
                          type: object
                          properties:
                            format:
                              type: string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - status
                        status:
                          type:
                            - "null"
                            - object
                          properties:
                            id:
                              type:
                                - "null"
                                - string
                            name:
                              type:
                                - "null"
                                - string
                            color:
                              type:
                                - "null"
                                - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - unique_id
                        unique_id:
                          type: object
                          properties:
                            number:
                              type: number
                            prefix:
                              type:
                                - "null"
                                - string
                    - type: object
                      properties:
                        id:
                          type: string
                        type:
                          enum:
                            - verification
                        verification:
                          type: object
                          properties:
                            state:
                              enum:
                                - verified
                                - unverified
                            verified_by:
                              type: object
                              properties:
                                object:
                                  enum:
                                    - user
                                id:
                                  type: string
                                name:
                                  type:
                                    - "null"
                                    - string
                                avatar_url:
                                  type:
                                    - "null"
                                    - string
                                type:
                                  enum:
                                    - person
                                    - bot
                                person:
                                  type:
                                    - "null"
                                    - object
                                  additionalProperties: true
                                  properties:
                                    email:
                                      type:
                                        - "null"
                                        - string
                                bot:
                                  type:
                                    - "null"
                                    - object
                                  additionalProperties: true
                                  properties:
                                    owner:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        info:
                                          avatar_url:
                                            type:
                                              - "null"
                                              - string
                                          id:
                                            type:
                                              - "null"
                                              - string
                                          name:
                                            type:
                                              - "null"
                                              - string
                                          object:
                                            type:
                                              - "null"
                                              - string
                                          person:
                                            type:
                                              - "null"
                                              - object
                                            properties:
                                              email:
                                                type:
                                                  - "null"
                                                  - string
                                              type:
                                                type:
                                                  - "null"
                                                  - string
                                        workspace:
                                          type:
                                            - "null"
                                            - boolean
[...]
