version: 0.68.4
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - pages

streams:
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          avatar_url:
            type:
              - 'null'
              - string
          bot:
            properties:
              owner:
                properties:
                  type:
                    type: string
                  user:
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      object:
                        type: string
                      person:
                        properties:
                          email:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                type: object
              workspace_name:
                type: string
            type: object
          id:
            type: string
          name:
            type: string
          object:
            type: string
          person:
            properties:
              email:
                type: string
            type: object
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.notion.com/v1/
        path: users
        http_method: GET
        request_parameters: {}
        request_headers:
          Notion-Version: '2022-06-28'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: retry-after
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 400
                  error_message_contains: 'The start_cursor provided is invalid:'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_cursor
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next_cursor", {}) }}'
          stop_condition: '{{ not response.get("next_cursor", {}) }}'
      partition_router: []
    transformations:
      - type: CustomTransformation
        class_name: source_notion.components.NotionUserTransformation

  - type: DeclarativeStream
    name: databases
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          archived:
            type: boolean
          created_by:
            properties:
              id:
                type: string
              object:
                type: string
            type: object
          created_time:
            type: string
          description:
            items:
              properties:
                annotations:
                  properties:
                    bold:
                      type: boolean
                    code:
                      type: boolean
                    color:
                      type: string
                    italic:
                      type: boolean
                    strikethrough:
                      type: boolean
                    underline:
                      type: boolean
                  type: object
                href:
                  type:
                    - 'null'
                    - string
                plain_text:
                  type: string
                text:
                  properties:
                    content:
                      type: string
                    link:
                      properties:
                        url:
                          type: string
                      type:
                        - object
                        - 'null'
                  type: object
                type:
                  type: string
              type: object
            type: array
          icon:
            properties:
              emoji:
                type: string
              type:
                type: string
            type:
              - object
              - 'null'
          id:
            type: string
          is_inline:
            type: boolean
          last_edited_by:
            properties:
              id:
                type: string
              object:
                type: string
            type: object
          last_edited_time:
            type: string
          object:
            type: string
          parent:
            properties:
              block_id:
                type: string
              page_id:
                type: string
              type:
                type: string
              workspace:
                type: boolean
            type: object
          properties:
            properties:
              Assign:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  people:
                    type: object
                  type:
                    type: string
                type: object
              Created:
                properties:
                  created_time:
                    type: object
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Created By:
                properties:
                  created_by:
                    type: object
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Date Added:
                properties:
                  created_time:
                    type: object
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Date Created:
                properties:
                  created_time:
                    type: object
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Difficulty:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  select:
                    properties:
                      options:
                        items:
                          properties:
                            color:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                  type:
                    type: string
                type: object
              Due Date:
                properties:
                  date:
                    type: object
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Engineers:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  people:
                    type: object
                  type:
                    type: string
                type: object
              Epic:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  relation:
                    properties:
                      database_id:
                        type: string
                      dual_property:
                        properties:
                          synced_property_id:
                            type: string
                          synced_property_name:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                  type:
                    type: string
                type: object
              Formula:
                properties:
                  formula:
                    properties:
                      expression:
                        type: string
                    type: object
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Last Edited By:
                properties:
                  id:
                    type: string
                  last_edited_by:
                    type: object
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Last Edited Time:
                properties:
                  id:
                    type: string
                  last_edited_time:
                    type: object
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Last edited by:
                properties:
                  id:
                    type: string
                  last_edited_by:
                    type: object
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Multi-select:
                properties:
                  id:
                    type: string
                  multi_select:
                    properties:
                      options:
                        items:
                          properties:
                            color:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Name:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  title:
                    type: object
                  type:
                    type: string
                type: object
              Notes:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  rich_text:
                    type: object
                  type:
                    type: string
                type: object
              Participants:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  people:
                    type: object
                  type:
                    type: string
                type: object
              Person:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  people:
                    type: object
                  type:
                    type: string
                type: object
              Priority:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  select:
                    properties:
                      options:
                        items:
                          properties:
                            color:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                  type:
                    type: string
                type: object
              Product Manager:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  people:
                    type: object
                  type:
                    type: string
                type: object
              Projects:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  title:
                    type: object
                  type:
                    type: string
                type: object
              Property:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  rich_text:
                    type: object
                  type:
                    type: string
                type: object
              Question Name:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  title:
                    type: object
                  type:
                    type: string
                type: object
              Rollup 1:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  rollup:
                    properties:
                      function:
                        type: string
                      relation_property_id:
                        type: string
                      relation_property_name:
                        type: string
                      rollup_property_id:
                        type: string
                      rollup_property_name:
                        type: string
                    type: object
                  type:
                    type: string
                type: object
              Selection:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  select:
                    properties:
                      options:
                        items:
                          properties:
                            color:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                  type:
                    type: string
                type: object
              Skills:
                properties:
                  id:
                    type: string
                  multi_select:
                    properties:
                      options:
                        items:
                          properties:
                            color:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Sprint:
                properties:
                  id:
                    type: string
                  multi_select:
                    properties:
                      options:
                        items:
                          properties:
                            color:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Stakeholders:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  people:
                    type: object
                  type:
                    type: string
                type: object
              Status:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  select:
                    properties:
                      options:
                        items:
                          properties:
                            color:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                  type:
                    type: string
                type: object
              Tasks:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  relation:
                    properties:
                      database_id:
                        type: string
                      dual_property:
                        properties:
                          synced_property_id:
                            type: string
                          synced_property_name:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                  type:
                    type: string
                type: object
              Timeline:
                properties:
                  date:
                    type: object
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              Type:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  select:
                    properties:
                      options:
                        items:
                          properties:
                            color:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                        type: array
                    type: object
                  type:
                    type: string
                type: object
              📎 Docs:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  relation:
                    properties:
                      database_id:
                        type: string
                      single_property:
                        type: object
                      type:
                        type: string
                    type: object
                  type:
                    type: string
                type: object
            type: object
          title:
            items:
              properties:
                annotations:
                  properties:
                    bold:
                      type: boolean
                    code:
                      type: boolean
                    color:
                      type: string
                    italic:
                      type: boolean
                    strikethrough:
                      type: boolean
                    underline:
                      type: boolean
                  type: object
                plain_text:
                  type: string
                text:
                  properties:
                    content:
                      type: string
                  type: object
                type:
                  type: string
              type: object
            type: array
          url:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.notion.com/v1/
        path: search
        http_method: POST
        request_parameters: {}
        request_headers:
          Notion-Version: '2022-06-28'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: retry-after
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 400
                  error_message_contains: 'The start_cursor provided is invalid:'
        request_body_json:
          sort: '{ "direction": "descending", "timestamp": "last_edited_time" }'
          filter: '{ "property": "object", "value": "database" }'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: start_cursor
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: body_json
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next_cursor", {}) }}'
          stop_condition: '{{ not response.get("next_cursor", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_edited_time
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%S.%fZ'
      datetime_format: '%Y-%m-%dT%H:%M:%S.%fZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      is_data_feed: true
    transformations:
      - type: CustomTransformation
        class_name: source_notion.components.NotionPropertiesTransformation

  - type: DeclarativeStream
    name: pages
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          archived:
            type: boolean
          cover:
            properties:
              external:
                properties:
                  url:
                    type: string
                type: object
              type:
                type: string
            type:
              - object
              - 'null'
          created_by:
            properties:
              id:
                type: string
              object:
                type: string
            type: object
          created_time:
            type: string
          icon:
            properties:
              emoji:
                type: string
              external:
                properties:
                  url:
                    type: string
                type: object
              type:
                type: string
            type:
              - object
              - 'null'
          id:
            type: string
          last_edited_by:
            properties:
              id:
                type: string
              object:
                type: string
            type: object
          last_edited_time:
            type: string
          object:
            type: string
          parent:
            properties:
              block_id:
                type: string
              database_id:
                type: string
              page_id:
                type: string
              type:
                type: string
              workspace:
                type: boolean
            type: object
          properties:
            properties:
              Assign:
                properties:
                  id:
                    type: string
                  people:
                    items:
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        object:
                          type: string
                        person:
                          properties:
                            email:
                              type: string
                          type: object
                        type:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Created:
                properties:
                  created_time:
                    type: string
                  id:
                    type: string
                  type:
                    type: string
                type: object
              Created By:
                properties:
                  created_by:
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      object:
                        type: string
                      person:
                        properties:
                          email:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                  id:
                    type: string
                  type:
                    type: string
                type: object
              Date Added:
                properties:
                  created_time:
                    type: string
                  id:
                    type: string
                  type:
                    type: string
                type: object
              Date Created:
                properties:
                  created_time:
                    type: string
                  id:
                    type: string
                  type:
                    type: string
                type: object
              Difficulty:
                properties:
                  id:
                    type: string
                  select:
                    properties:
                      color:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                    type:
                      - object
                      - 'null'
                  type:
                    type: string
                type: object
              Due Date:
                properties:
                  date:
                    properties:
                      start:
                        type: string
                    type:
                      - object
                      - 'null'
                  id:
                    type: string
                  type:
                    type: string
                type: object
              Engineers:
                properties:
                  id:
                    type: string
                  people:
                    type: array
                  type:
                    type: string
                type: object
              Epic:
                properties:
                  has_more:
                    type: boolean
                  id:
                    type: string
                  relation:
                    type: array
                  type:
                    type: string
                type: object
              Formula:
                properties:
                  formula:
                    properties:
                      number:
                        type: number
                      type:
                        type: string
                    type: object
                  id:
                    type: string
                  type:
                    type: string
                type: object
              Last Edited By:
                properties:
                  id:
                    type: string
                  last_edited_by:
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      object:
                        type: string
                      person:
                        properties:
                          email:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                  type:
                    type: string
                type: object
              Last Edited Time:
                properties:
                  id:
                    type: string
                  last_edited_time:
                    type: string
                  type:
                    type: string
                type: object
              Last edited by:
                properties:
                  id:
                    type: string
                  last_edited_by:
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      object:
                        type: string
                      person:
                        properties:
                          email:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                  type:
                    type: string
                type: object
              Multi-select:
                properties:
                  id:
                    type: string
                  multi_select:
                    items:
                      properties:
                        color:
                          type: string
                        id:
                          type: string
                        name:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Name:
                properties:
                  id:
                    type: string
                  title:
                    items:
                      properties:
                        annotations:
                          properties:
                            bold:
                              type: boolean
                            code:
                              type: boolean
                            color:
                              type: string
                            italic:
                              type: boolean
                            strikethrough:
                              type: boolean
                            underline:
                              type: boolean
                          type: object
                        plain_text:
                          type: string
                        text:
                          properties:
                            content:
                              type: string
                          type: object
                        type:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Notes:
                properties:
                  id:
                    type: string
                  rich_text:
                    items:
                      properties:
                        annotations:
                          properties:
                            bold:
                              type: boolean
                            code:
                              type: boolean
                            color:
                              type: string
                            italic:
                              type: boolean
                            strikethrough:
                              type: boolean
                            underline:
                              type: boolean
                          type: object
                        plain_text:
                          type: string
                        text:
                          properties:
                            content:
                              type: string
                          type: object
                        type:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Participants:
                properties:
                  id:
                    type: string
                  people:
                    type: array
                  type:
                    type: string
                type: object
              Person:
                properties:
                  id:
                    type: string
                  people:
                    items:
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Priority:
                properties:
                  id:
                    type: string
                  select:
                    properties:
                      color:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                    type:
                      - object
                      - 'null'
                  type:
                    type: string
                type: object
              Product Manager:
                properties:
                  id:
                    type: string
                  people:
                    type: array
                  type:
                    type: string
                type: object
              Projects:
                properties:
                  id:
                    type: string
                  title:
                    items:
                      properties:
                        annotations:
                          properties:
                            bold:
                              type: boolean
                            code:
                              type: boolean
                            color:
                              type: string
                            italic:
                              type: boolean
                            strikethrough:
                              type: boolean
                            underline:
                              type: boolean
                          type: object
                        plain_text:
                          type: string
                        text:
                          properties:
                            content:
                              type: string
                          type: object
                        type:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Property:
                properties:
                  id:
                    type: string
                  rich_text:
                    type: array
                  type:
                    type: string
                type: object
              Question Name:
                properties:
                  id:
                    type: string
                  title:
                    items:
                      properties:
                        annotations:
                          properties:
                            bold:
                              type: boolean
                            code:
                              type: boolean
                            color:
                              type: string
                            italic:
                              type: boolean
                            strikethrough:
                              type: boolean
                            underline:
                              type: boolean
                          type: object
                        plain_text:
                          type: string
                        text:
                          properties:
                            content:
                              type: string
                          type: object
                        type:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Rollup:
                properties:
                  id:
                    type: string
                  rollup:
                    properties:
                      array:
                        type: array
                      function:
                        type: string
                      type:
                        type: string
                    type: object
                  type:
                    type: string
                type: object
              Rollup 1:
                properties:
                  id:
                    type: string
                  rollup:
                    properties:
                      function:
                        type: string
                      number:
                        type:
                          - 'null'
                          - number
                      type:
                        type: string
                    type: object
                  type:
                    type: string
                type: object
              Selection:
                properties:
                  id:
                    type: string
                  select:
                    properties:
                      color:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                    type:
                      - object
                      - 'null'
                  type:
                    type: string
                type: object
              Skills:
                properties:
                  id:
                    type: string
                  multi_select:
                    items:
                      properties:
                        color:
                          type: string
                        id:
                          type: string
                        name:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Sprint:
                properties:
                  id:
                    type: string
                  multi_select:
                    items:
                      properties:
                        color:
                          type: string
                        id:
                          type: string
                        name:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Stakeholders:
                properties:
                  id:
                    type: string
                  people:
                    items:
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              Status:
                properties:
                  id:
                    type: string
                  select:
                    properties:
                      color:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                    type:
                      - object
                      - 'null'
                  type:
                    type: string
                type: object
              Tasks:
                properties:
                  has_more:
                    type: boolean
                  id:
                    type: string
                  relation:
                    type: array
                  type:
                    type: string
                type: object
              Timeline:
                properties:
                  date:
                    properties:
                      end:
                        type: string
                      start:
                        type: string
                    type:
                      - object
                      - 'null'
                  id:
                    type: string
                  type:
                    type: string
                type: object
              Type:
                properties:
                  id:
                    type: string
                  select:
                    properties:
                      color:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                    type:
                      - object
                      - 'null'
                  type:
                    type: string
                type: object
              title:
                properties:
                  id:
                    type: string
                  title:
                    items:
                      properties:
                        annotations:
                          properties:
                            bold:
                              type: boolean
                            code:
                              type: boolean
                            color:
                              type: string
                            italic:
                              type: boolean
                            strikethrough:
                              type: boolean
                            underline:
                              type: boolean
                          type: object
                        plain_text:
                          type: string
                        text:
                          properties:
                            content:
                              type: string
                          type: object
                        type:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
              📎 Docs:
                properties:
                  has_more:
                    type: boolean
                  id:
                    type: string
                  relation:
                    items:
                      properties:
                        id:
                          type: string
                      type: object
                    type: array
                  type:
                    type: string
                type: object
            type: object
          url:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.notion.com/v1/
        path: search
        http_method: POST
        request_parameters: {}
        request_headers:
          Notion-Version: '2022-06-28'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: retry-after
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 400
                  error_message_contains: 'The start_cursor provided is invalid:'
        request_body_json:
          sort: '{ "direction": "descending", "timestamp": "last_edited_time" }'
          filter: '{ "property": "object", "value": "page" }'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: start_cursor
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: body_json
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next_cursor", {}) }}'
          stop_condition: '{{ not response.get("next_cursor", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_edited_time
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%S.%fZ'
      datetime_format: '%Y-%m-%dT%H:%M:%S.%fZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      is_data_feed: true
    transformations:
      - type: CustomTransformation
        class_name: source_notion.components.NotionPropertiesTransformation

  - type: DeclarativeStream
    name: comments
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          created_by:
            properties:
              id:
                type: string
              object:
                type: string
            type: object
          created_time:
            type: string
          discussion_id:
            type: string
          id:
            type: string
          last_edited_time:
            type: string
          object:
            type: string
          parent:
            properties:
              page_id:
                type: string
              type:
                type: string
            type: object
          rich_text:
            items:
              properties:
                annotations:
                  properties:
                    bold:
                      type: boolean
                    code:
                      type: boolean
                    color:
                      type: string
                    italic:
                      type: boolean
                    strikethrough:
                      type: boolean
                    underline:
                      type: boolean
                  type: object
                plain_text:
                  type: string
                text:
                  properties:
                    content:
                      type: string
                  type: object
                type:
                  type: string
              type: object
            type: array
        type: object
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "last_edited_time"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', day_delta(-730, '%Y-%m-%dT%H:%M:%SZ'))}}"
      step: "P100Y"
      cursor_granularity: "PT0.1S"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.notion.com/v1/
        path: comments
        http_method: GET
        request_parameters: {}
        request_headers:
          Notion-Version: '2022-06-28'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: retry-after
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 400
                  error_message_contains: 'The start_cursor provided is invalid:'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        record_filter:
          type: CustomRecordFilter
          class_name: source_notion.components.NotionSemiIncrementalFilter    
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_cursor
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next_cursor", {}) }}'
          stop_condition: '{{ not response.get("next_cursor", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              request_option:
                type: RequestOption
                field_name: block_id
                inject_into: request_parameter
              partition_field: id
              stream:
                type: DeclarativeStream
                name: pages
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.notion.com/v1/
                    path: search
                    http_method: POST
                    request_parameters: {}
                    request_headers:
                      Notion-Version: '2022-06-28'
                    authenticator:
                      type: BearerAuthenticator
                      api_token: '{{ config[''api_key''] }}'
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: retry-after
                          response_filters:
                            - type: HttpResponseFilter
                              action: RETRY
                              http_codes:
                                - 429
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 400
                              error_message_contains: 'The start_cursor provided is invalid:'
                    request_body_json:
                      sort: >-
                        { "direction": "descending", "timestamp":
                        "last_edited_time" }
                      filter: '{ "property": "object", "value": "page" }'
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - results
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestOption
                      inject_into: body_json
                      field_name: start_cursor
                    page_size_option:
                      type: RequestOption
                      field_name: page_size
                      inject_into: body_json
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 100
                      cursor_value: '{{ response.get("next_cursor", {}) }}'
                      stop_condition: '{{ not response.get("next_cursor", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: last_edited_time
                  cursor_datetime_formats:
                    - '%Y-%m-%dT%H:%M:%S.%fZ'
                  datetime_format: '%Y-%m-%dT%H:%M:%S.%fZ'
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: '{{ config[''start_date''] }}'
                    datetime_format: '%Y-%m-%dT%H:%M:%SZ'
                  is_data_feed: true

  - type: DeclarativeStream
    name: blocks
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          archived:
            type: boolean
          bulleted_list_item:
            properties:
              color:
                type: string
              rich_text:
                items:
                  properties:
                    annotations:
                      properties:
                        bold:
                          type: boolean
                        code:
                          type: boolean
                        color:
                          type: string
                        italic:
                          type: boolean
                        strikethrough:
                          type: boolean
                        underline:
                          type: boolean
                      type: object
                    plain_text:
                      type: string
                    text:
                      properties:
                        content:
                          type: string
                      type: object
                    type:
                      type: string
                  type: object
                type: array
            type: object
          callout:
            properties:
              color:
                type: string
              icon:
                properties:
                  emoji:
                    type: string
                  type:
                    type: string
                type: object
              rich_text:
                items:
                  properties:
                    annotations:
                      properties:
                        bold:
                          type: boolean
                        code:
                          type: boolean
                        color:
                          type: string
                        italic:
                          type: boolean
                        strikethrough:
                          type: boolean
                        underline:
                          type: boolean
                      type: object
                    href:
                      type:
                        - 'null'
                        - string
                    plain_text:
                      type: string
                    text:
                      properties:
                        content:
                          type: string
                        link:
                          properties:
                            url:
                              type: string
                          type:
                            - object
                            - 'null'
                      type: object
                    type:
                      type: string
                  type: object
                type: array
            type: object
          column_list:
            type: object
          created_by:
            properties:
              id:
                type: string
              object:
                type: string
            type: object
          created_time:
            type: string
          has_children:
            type: boolean
          heading_1:
            properties:
              color:
                type: string
              is_toggleable:
                type: boolean
              rich_text:
                items:
                  properties:
                    annotations:
                      properties:
                        bold:
                          type: boolean
                        code:
                          type: boolean
                        color:
                          type: string
                        italic:
                          type: boolean
                        strikethrough:
                          type: boolean
                        underline:
                          type: boolean
                      type: object
                    plain_text:
                      type: string
                    text:
                      properties:
                        content:
                          type: string
                      type: object
                    type:
                      type: string
                  type: object
                type: array
            type: object
          heading_2:
            properties:
              color:
                type: string
              is_toggleable:
                type: boolean
              rich_text:
                items:
                  properties:
                    annotations:
                      properties:
                        bold:
                          type: boolean
                        code:
                          type: boolean
                        color:
                          type: string
                        italic:
                          type: boolean
                        strikethrough:
                          type: boolean
                        underline:
                          type: boolean
                      type: object
                    plain_text:
                      type: string
                    text:
                      properties:
                        content:
                          type: string
                      type: object
                    type:
                      type: string
                  type: object
                type: array
            type: object
          id:
            type: string
          last_edited_by:
            properties:
              id:
                type: string
              object:
                type: string
            type: object
          last_edited_time:
            type: string
          object:
            type: string
          paragraph:
            properties:
              color:
                type: string
              rich_text:
                items:
                  properties:
                    annotations:
                      properties:
                        bold:
                          type: boolean
                        code:
                          type: boolean
                        color:
                          type: string
                        italic:
                          type: boolean
                        strikethrough:
                          type: boolean
                        underline:
                          type: boolean
                      type: object
                    plain_text:
                      type: string
                    text:
                      properties:
                        content:
                          type: string
                      type: object
                    type:
                      type: string
                  type: object
                type: array
            type: object
          parent:
            properties:
              page_id:
                type: string
              type:
                type: string
            type: object
          synced_block:
            type: object
          to_do:
            properties:
              checked:
                type: boolean
              color:
                type: string
              rich_text:
                items:
                  properties:
                    annotations:
                      properties:
                        bold:
                          type: boolean
                        code:
                          type: boolean
                        color:
                          type: string
                        italic:
                          type: boolean
                        strikethrough:
                          type: boolean
                        underline:
                          type: boolean
                      type: object
                    plain_text:
                      type: string
                    text:
                      properties:
                        content:
                          type: string
                      type: object
                    type:
                      type: string
                  type: object
                type: array
            type: object
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.notion.com/v1/
        path: blocks/{{ stream_partition.parent_id }}/children
        http_method: GET
        request_parameters: {}
        request_headers:
          Notion-Version: '2022-06-28'
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_key''] }}'
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: retry-after
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 400
                  error_message_contains: The start_cursor provided is invalid
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 404
                  error_message: >-
                    Encountered a 404 error due to an invalid block id.
                    Skipping.
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  error_message_contains: ai_block is not supported
                  http_codes:
                    - 400
                  error_message: >-
                    Encountered an unsupported block of type `ai_block`.
                    Skipping.
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_cursor
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next_cursor", {}) }}'
          stop_condition: '{{ not response.get("next_cursor", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                type: DeclarativeStream
                name: pages
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.notion.com/v1/
                    path: search
                    http_method: POST
                    request_parameters: {}
                    request_headers:
                      Notion-Version: '2022-06-28'
                    authenticator:
                      type: BearerAuthenticator
                      api_token: '{{ config[''api_key''] }}'
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: retry-after
                          response_filters:
                            - type: HttpResponseFilter
                              action: RETRY
                              http_codes:
                                - 429
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              http_codes:
                                - 400
                              error_message_contains: 'The start_cursor provided is invalid:'
                    request_body_json:
                      sort: >-
                        { "direction": "descending", "timestamp":
                        "last_edited_time" }
                      filter: '{ "property": "object", "value": "page" }'
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - results
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestOption
                      inject_into: body_json
                      field_name: start_cursor
                    page_size_option:
                      type: RequestOption
                      field_name: page_size
                      inject_into: body_json
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 100
                      cursor_value: '{{ response.get("next_cursor", {}) }}'
                      stop_condition: '{{ not response.get("next_cursor", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: last_edited_time
                  cursor_datetime_formats:
                    - '%Y-%m-%dT%H:%M:%S.%fZ'
                  datetime_format: '%Y-%m-%dT%H:%M:%S.%fZ'
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: '{{ config[''start_date''] }}'
                    datetime_format: '%Y-%m-%dT%H:%M:%SZ'
                  is_data_feed: true
    transformations:
      - type: CustomTransformation
        class_name: source_notion.components.NotionBlocksTransformation

spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - start_date
      - api_key
    properties:
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 0
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 1
    additionalProperties: true
  type: Spec
metadata:
  autoImportSchema:
    users: true
    databases: true
    pages: true
    comments: true
    blocks: true
