version: 6.33.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /1.1/{{ config["account_id"] }}/events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: day
        lookback_window: P1M
        cursor_datetime_formats:
          - "%Y-%m-%d"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: since
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: upto
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    clients:
      type: DeclarativeStream
      name: clients
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /1.1/{{ config["account_id"] }}/clients
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /1.1/{{ config["account_id"] }}/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: ListPartitionRouter
          values:
            - all
            - deleted
          cursor_field: filter
          request_option:
            type: RequestOption
            field_name: filter
            inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    labels:
      type: DeclarativeStream
      name: labels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /1.1/{{ config["account_id"] }}/labels
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/labels"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /1.1/{{ config["account_id"] }}/projects
          http_method: GET
          request_parameters:
            filter: all
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
  base_requester:
    type: HttpRequester
    url_base: https://api.timelyapp.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"bearer_token\"] }}"

streams:
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/clients"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/labels"
  - $ref: "#/definitions/streams/projects"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - account_id
      - start_date
      - bearer_token
    properties:
      account_id:
        type: string
        description: The Account ID for your Timely account
        name: account_id
        order: 0
        title: Account ID
      start_date:
        type: string
        description: Earliest date from which you want to pull data from.
        order: 1
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      bearer_token:
        type: string
        description: The Bearer Token for your Timely account
        order: 2
        title: Bearer Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    events: true
    clients: false
    users: false
    labels: false
    projects: true
  testedStreams:
    events:
      hasRecords: true
      streamHash: 7355fa4bdf65bbf57432bf35e2d6b42f553aa70d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    clients:
      streamHash: 4a7654d2eecc8d24911e763b3331e5ae7eb8dcac
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 061d5e9b1e872f156fc65567b15dcadd3648d566
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    labels:
      streamHash: 138727118e65658884ed17c56450cff3bf1a759a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: a528a842f02498ee90d65352f41e333b77695eec
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://dev.timelyapp.com/

schemas:
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billable:
        type:
          - boolean
          - "null"
      billed:
        type:
          - boolean
          - "null"
      cost:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency_code:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          fractional:
            type:
              - number
              - "null"
      created_at:
        type:
          - number
          - "null"
      created_from:
        type:
          - string
          - "null"
      creator_id:
        type:
          - number
          - "null"
      day:
        type: string
      deleted:
        type:
          - boolean
          - "null"
      draft:
        type:
          - boolean
          - "null"
      duration:
        type:
          - object
          - "null"
        properties:
          formatted:
            type:
              - string
              - "null"
          hours:
            type:
              - number
              - "null"
          minutes:
            type:
              - number
              - "null"
          seconds:
            type:
              - number
              - "null"
          total_hours:
            type:
              - number
              - "null"
          total_minutes:
            type:
              - number
              - "null"
          total_seconds:
            type:
              - number
              - "null"
      entry_ids:
        type:
          - array
          - "null"
      estimated:
        type:
          - boolean
          - "null"
      estimated_cost:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency_code:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          fractional:
            type:
              - number
              - "null"
      estimated_duration:
        type:
          - object
          - "null"
        properties:
          formatted:
            type:
              - string
              - "null"
          hours:
            type:
              - number
              - "null"
          minutes:
            type:
              - number
              - "null"
          seconds:
            type:
              - number
              - "null"
          total_hours:
            type:
              - number
              - "null"
          total_minutes:
            type:
              - number
              - "null"
          total_seconds:
            type:
              - number
              - "null"
      estimated_internal_cost:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency_code:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          fractional:
            type:
              - number
              - "null"
      external_link_ids:
        type:
          - array
          - "null"
      external_links:
        type:
          - array
          - "null"
      from:
        type:
          - string
          - "null"
      hour_rate:
        type:
          - number
          - "null"
      hour_rate_in_cents:
        type:
          - number
          - "null"
      id:
        type: number
      internal_cost:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency_code:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          fractional:
            type:
              - number
              - "null"
      internal_cost_rate:
        type:
          - number
          - "null"
      label_ids:
        type:
          - array
          - "null"
      locked:
        type:
          - boolean
          - "null"
      manage:
        type:
          - boolean
          - "null"
      note:
        type:
          - string
          - "null"
      profit:
        anyOf:
          - type: number
          - type: object
            properties:
              amount:
                type: number
              currency_code:
                type: string
              formatted:
                type: string
              fractional:
                type: number
      project:
        type:
          - object
          - "null"
        properties:
          account_id:
            type:
              - number
              - "null"
          active:
            type:
              - boolean
              - "null"
          billable:
            type:
              - boolean
              - "null"
          budget:
            type:
              - number
              - "null"
          budget_calculation:
            type:
              - string
              - "null"
          budget_percent:
            type:
              - number
              - "null"
          budget_progress:
            type:
              - number
              - "null"
          budget_type:
            type:
              - string
              - "null"
          client:
            type:
              - object
              - "null"
            properties:
              active:
                type:
                  - boolean
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
          color:
            type:
              - string
              - "null"
          created_at:
            type:
              - number
              - "null"
          created_from:
            type:
              - string
              - "null"
          currency:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              iso_code:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              symbol:
                type:
                  - string
                  - "null"
              symbol_first:
                type:
                  - boolean
                  - "null"
          default_label_ids:
            type:
              - array
              - "null"
          default_labels:
            type:
              - boolean
              - "null"
          enable_labels:
            type:
              - string
              - "null"
          has_recurrence:
            type:
              - boolean
              - "null"
          hour_rate:
            type:
              - number
              - "null"
          hour_rate_in_cents:
            type:
              - number
              - "null"
          id:
            type:
              - number
              - "null"
          invoice_by_budget:
            type:
              - boolean
              - "null"
          label_ids:
            type:
              - array
              - "null"
          labels:
            type:
              - array
              - "null"
          name:
            type:
              - string
              - "null"
          rate_type:
            type:
              - string
              - "null"
          required_label_ids:
            type:
              - array
              - "null"
          required_labels:
            type:
              - boolean
              - "null"
          required_notes:
            type:
              - boolean
              - "null"
          updated_at:
            type:
              - number
              - "null"
      sequence:
        type:
          - number
          - "null"
      suggestion_id:
        type:
          - number
          - "null"
      timer_started_on:
        type:
          - number
          - "null"
      timer_state:
        type:
          - string
          - "null"
      timer_stopped_on:
        type:
          - number
          - "null"
      timestamps:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            entry_ids:
              type:
                - array
                - "null"
            from:
              type:
                - string
                - "null"
            hour_id:
              type:
                - number
                - "null"
            id:
              type:
                - number
                - "null"
            to:
              type:
                - string
                - "null"
      to:
        type:
          - string
          - "null"
      uid:
        type:
          - string
          - "null"
      updated_at:
        type:
          - number
          - "null"
      updated_from:
        type:
          - string
          - "null"
      updater_id:
        type:
          - number
          - "null"
      user:
        type:
          - object
          - "null"
        properties:
          avatar:
            type:
              - object
              - "null"
            properties:
              large:
                type:
                  - string
                  - "null"
              large_retina:
                type:
                  - string
                  - "null"
              medium:
                type:
                  - string
                  - "null"
              medium_retina:
                type:
                  - string
                  - "null"
              timeline:
                type:
                  - string
                  - "null"
          email:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      user_ids:
        type:
          - array
          - "null"
    required:
      - id
      - day
  clients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      active:
        type:
          - boolean
          - "null"
      admin:
        type:
          - boolean
          - "null"
      avatar:
        type:
          - object
          - "null"
        properties:
          large:
            type:
              - string
              - "null"
          large_retina:
            type:
              - string
              - "null"
          medium:
            type:
              - string
              - "null"
          medium_retina:
            type:
              - string
              - "null"
          small:
            type:
              - string
              - "null"
          small_retina:
            type:
              - string
              - "null"
      created_at:
        type:
          - number
          - "null"
      day_view_onboarded:
        type:
          - boolean
          - "null"
      default_hour_rate:
        type:
          - number
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      hide_hourly_rate:
        type:
          - boolean
          - "null"
      hide_internal_hourly_rate:
        type:
          - boolean
          - "null"
      id:
        type: number
      internal_hour_rate:
        type:
          - number
          - "null"
      last_received_memories_date:
        type:
          - string
          - "null"
      memory_onboarded:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      role:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
      role_id:
        type:
          - number
          - "null"
      sign_in_count:
        type:
          - number
          - "null"
      time_zone:
        type:
          - string
          - "null"
      updated_at:
        type:
          - number
          - "null"
      user_level:
        type:
          - string
          - "null"
      weekdays:
        type:
          - string
          - "null"
      weekly_capacity:
        type:
          - number
          - "null"
      work_days:
        type:
          - string
          - "null"
    required:
      - id
  labels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      children:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            active:
              type:
                - boolean
                - "null"
            children:
              type:
                - array
                - "null"
            created_at:
              type:
                - string
                - "null"
            emoji:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            parent_id:
              type:
                - number
                - "null"
            sequence:
              type:
                - number
                - "null"
            updated_at:
              type:
                - string
                - "null"
      created_at:
        type:
          - string
          - "null"
      emoji:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      sequence:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account_id:
        type:
          - number
          - "null"
      active:
        type:
          - boolean
          - "null"
      billable:
        type:
          - boolean
          - "null"
      billed_cost:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency_code:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          fractional:
            type:
              - number
              - "null"
      billed_duration:
        type:
          - object
          - "null"
        properties:
          formatted:
            type:
              - string
              - "null"
          hours:
            type:
              - number
              - "null"
          minutes:
            type:
              - number
              - "null"
          seconds:
            type:
              - number
              - "null"
          total_hours:
            type:
              - number
              - "null"
          total_minutes:
            type:
              - number
              - "null"
          total_seconds:
            type:
              - number
              - "null"
      budget:
        type:
          - number
          - "null"
      budget_calculation:
        type:
          - string
          - "null"
      budget_percent:
        type:
          - number
          - "null"
      budget_progress:
        type:
          - number
          - "null"
      budget_type:
        type:
          - string
          - "null"
      client:
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - boolean
              - "null"
          external_id:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      color:
        type:
          - string
          - "null"
      cost:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency_code:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          fractional:
            type:
              - number
              - "null"
      created_at:
        type:
          - number
          - "null"
      created_from:
        type:
          - string
          - "null"
      currency:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          iso_code:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          symbol:
            type:
              - string
              - "null"
          symbol_first:
            type:
              - boolean
              - "null"
      default_label_ids:
        type:
          - array
          - "null"
      default_labels:
        type:
          - boolean
          - "null"
      duration:
        type:
          - object
          - "null"
        properties:
          formatted:
            type:
              - string
              - "null"
          hours:
            type:
              - number
              - "null"
          minutes:
            type:
              - number
              - "null"
          seconds:
            type:
              - number
              - "null"
          total_hours:
            type:
              - number
              - "null"
          total_minutes:
            type:
              - number
              - "null"
          total_seconds:
            type:
              - number
              - "null"
      enable_labels:
        type:
          - string
          - "null"
      estimated_cost:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency_code:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          fractional:
            type:
              - number
              - "null"
      estimated_duration:
        type:
          - object
          - "null"
        properties:
          formatted:
            type:
              - string
              - "null"
          hours:
            type:
              - number
              - "null"
          minutes:
            type:
              - number
              - "null"
          seconds:
            type:
              - number
              - "null"
          total_hours:
            type:
              - number
              - "null"
          total_minutes:
            type:
              - number
              - "null"
          total_seconds:
            type:
              - number
              - "null"
      external_id:
        type:
          - string
          - "null"
      has_recurrence:
        type:
          - boolean
          - "null"
      hour_rate:
        type:
          - number
          - "null"
      hour_rate_in_cents:
        type:
          - number
          - "null"
      id:
        type: number
      invoice_by_budget:
        type:
          - boolean
          - "null"
      label_ids:
        type:
          - array
          - "null"
      labels:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      rate_type:
        type:
          - string
          - "null"
      required_label_ids:
        type:
          - array
          - "null"
      required_labels:
        type:
          - boolean
          - "null"
      required_notes:
        type:
          - boolean
          - "null"
      team_ids:
        type:
          - array
          - "null"
      unbilled_cost:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency_code:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          fractional:
            type:
              - number
              - "null"
      unbilled_duration:
        type:
          - object
          - "null"
        properties:
          formatted:
            type:
              - string
              - "null"
          hours:
            type:
              - number
              - "null"
          minutes:
            type:
              - number
              - "null"
          seconds:
            type:
              - number
              - "null"
          total_hours:
            type:
              - number
              - "null"
          total_minutes:
            type:
              - number
              - "null"
          total_seconds:
            type:
              - number
              - "null"
      updated_at:
        type: number
      users:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            created_at:
              type:
                - string
                - "null"
            deleted:
              type:
                - boolean
                - "null"
            hour_rate:
              type:
                - number
                - "null"
            hour_rate_in_cents:
              type:
                - number
                - "null"
            internal_hour_rate:
              type:
                - number
                - "null"
            internal_hour_rate_in_cents:
              type:
                - number
                - "null"
            updated_at:
              type:
                - string
                - "null"
            user_id:
              type:
                - number
                - "null"
    required:
      - id
      - updated_at
