version: 6.4.0

type: DeclarativeSource

description: >-
  Rocketlane connector  enables seamless data integration by syncing project,
  task, and user data from Rocketlane into various data warehouses or analytics
  platforms. It ensures real-time access to operational insights, enhancing
  project visibility and performance tracking across tools.

check:
  type: CheckStream
  stream_names:
    - tasks

definitions:
  streams:
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - taskId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - userId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - projectId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - fieldId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    time-offs:
      type: DeclarativeStream
      name: time-offs
      primary_key:
        - timeOffId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/time-offs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time-offs"
    spaces:
      type: DeclarativeStream
      name: spaces
      primary_key:
        - spaceId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/spaces
          http_method: GET
          request_parameters:
            projectId: "{{ stream_partition.project }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: projectId
              partition_field: project
              stream:
                $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/spaces"
    phases:
      type: DeclarativeStream
      name: phases
      primary_key:
        - phaseId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/phases
          http_method: GET
          request_parameters:
            projectId: "{{ stream_partition.project }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: projectId
              partition_field: project
              stream:
                $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/phases"
    time-entries:
      type: DeclarativeStream
      name: time-entries
      primary_key:
        - timeEntryId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/time-entries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time-entries"
    space-documents:
      type: DeclarativeStream
      name: space-documents
      primary_key:
        - spaceDocumentId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/space-documents
          http_method: GET
          request_parameters:
            projectId: "{{ stream_partition.project }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.pagination.nextPageToken }}"
            stop_condition: "{{ response.pagination.hasMore is false }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: projectId
              partition_field: project
              stream:
                $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/space-documents"
  base_requester:
    type: HttpRequester
    url_base: https://api.rocketlane.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api-key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/fields"
  - $ref: "#/definitions/streams/time-offs"
  - $ref: "#/definitions/streams/spaces"
  - $ref: "#/definitions/streams/phases"
  - $ref: "#/definitions/streams/time-entries"
  - $ref: "#/definitions/streams/space-documents"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Generate it from the API section in Settings of your
          Rocketlane account.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    tasks: true
    users: true
    projects: true
    fields: true
    time-offs: true
    spaces: true
    phases: true
    time-entries: true
    space-documents: true
  testedStreams:
    tasks:
      streamHash: f42abcda6d23be242fcdfd02fa69d7f813784337
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: f1c9f61039abee9ad2a2f71a86608c4e9736e9bf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: c5a42726642e82e4357b9133692ca2c02f79c64d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    fields:
      streamHash: fb5daf45eae67a9eec80e7920863eeafc4c3d944
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    time-offs:
      streamHash: 634785a588835d479a1bdff8b777345649f2c5c1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    spaces:
      streamHash: 48ca68b40d0d0a3ce547fccfb3729d6e42a791d2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    phases:
      streamHash: f58f9b3165c815b7c66273fcfc6b207c4f016add
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    time-entries:
      streamHash: 3a782d94a3ca6fb1bf3aa871c1e51ae3fcb2199c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    space-documents:
      hasRecords: true
      streamHash: 04ce76a7e12b2a7634b1d2f574bc4aacfdad0783
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developer.rocketlane.com/docs/overview

schemas:
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      dueDate:
        type:
          - string
          - "null"
      fields:
        type:
          - array
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          projectId:
            type:
              - number
              - "null"
          projectName:
            type:
              - string
              - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          label:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      taskDescription:
        type:
          - string
          - "null"
      taskId:
        type: number
      taskName:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - taskId
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      email:
        type:
          - string
          - "null"
      fields:
        type:
          - array
          - "null"
      firstName:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      userId:
        type: number
    required:
      - userId
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      currency:
        type:
          - object
          - "null"
        properties:
          currencyCode:
            type:
              - string
              - "null"
          currencyName:
            type:
              - string
              - "null"
          currencySymbol:
            type:
              - string
              - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          companyId:
            type:
              - number
              - "null"
          companyName:
            type:
              - string
              - "null"
      dueDate:
        type:
          - string
          - "null"
      fields:
        type:
          - array
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      partnerCompanies:
        type:
          - array
          - "null"
      projectId:
        type: number
      projectName:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          label:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      teamMembers:
        type:
          - object
          - "null"
        properties:
          customers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                emailId:
                  type:
                    - string
                    - "null"
                firstName:
                  type:
                    - string
                    - "null"
                lastName:
                  type:
                    - string
                    - "null"
                userId:
                  type:
                    - number
                    - "null"
          members:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                emailId:
                  type:
                    - string
                    - "null"
                firstName:
                  type:
                    - string
                    - "null"
                lastName:
                  type:
                    - string
                    - "null"
                userId:
                  type:
                    - number
                    - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      visibility:
        type:
          - string
          - "null"
    required:
      - projectId
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      enabled:
        type:
          - boolean
          - "null"
      fieldId:
        type: number
      fieldLabel:
        type:
          - string
          - "null"
      fieldType:
        type:
          - string
          - "null"
      objectType:
        type:
          - string
          - "null"
      private:
        type:
          - boolean
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - fieldId
  time-offs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      durationInMinutes:
        type:
          - number
          - "null"
      endDate:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
      timeOffId:
        type: number
      user:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - timeOffId
  spaces:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      private:
        type:
          - boolean
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          projectId:
            type:
              - number
              - "null"
          projectName:
            type:
              - string
              - "null"
      spaceId:
        type: number
      spaceName:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - spaceId
  phases:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      dueDate:
        type:
          - string
          - "null"
      phaseId:
        type: number
      phaseName:
        type:
          - string
          - "null"
      private:
        type:
          - boolean
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          projectId:
            type:
              - number
              - "null"
          projectName:
            type:
              - string
              - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          label:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - phaseId
  time-entries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billable:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      date:
        type:
          - string
          - "null"
      minutes:
        type:
          - number
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          projectId:
            type:
              - number
              - "null"
          projectName:
            type:
              - string
              - "null"
      timeEntryId:
        type: number
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      user:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - timeEntryId
  space-documents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      source:
        type:
          - object
          - "null"
        properties:
          templateId:
            type:
              - number
              - "null"
          templateName:
            type:
              - string
              - "null"
      space:
        type:
          - object
          - "null"
        properties:
          spaceId:
            type:
              - number
              - "null"
          spaceName:
            type:
              - string
              - "null"
      spaceDocumentId:
        type: number
      spaceDocumentName:
        type:
          - string
          - "null"
      spaceDocumentType:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      url:
        type:
          - string
          - "null"
    required:
      - spaceDocumentId
