version: 5.15.0

type: DeclarativeSource

description: >-
  Rocketlane connector  enables seamless data integration by syncing project,
  task, and user data from Rocketlane into various data warehouses or analytics
  platforms. It ensures real-time access to operational insights, enhancing
  project visibility and performance tracking across tools.

check:
  type: CheckStream
  stream_names:
    - tasks

definitions:
  streams:
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - taskId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - userId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - projectId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - fieldId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    time-offs:
      type: DeclarativeStream
      name: time-offs
      primary_key:
        - timeOffId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/time-offs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time-offs"
    spaces:
      type: DeclarativeStream
      name: spaces
      primary_key:
        - spaceId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/spaces
          http_method: GET
          request_parameters:
            projectId: "{{ stream_partition.project }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: projectId
              partition_field: project
              stream:
                $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/spaces"
    phases:
      type: DeclarativeStream
      name: phases
      primary_key:
        - phaseId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/phases
          http_method: GET
          request_parameters:
            projectId: "{{ stream_partition.project }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: projectId
              partition_field: project
              stream:
                $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/phases"
    time-entries:
      type: DeclarativeStream
      name: time-entries
      primary_key:
        - timeEntryId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/time-entries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time-entries"
    space-documents:
      type: DeclarativeStream
      name: space-documents
      primary_key:
        - spaceDocumentId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/space-documents
          http_method: GET
          request_parameters:
            projectId: "{{ stream_partition.project }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('nextPage', '') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('hasMore', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: projectId
              partition_field: project
              stream:
                $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/space-documents"
  base_requester:
    type: HttpRequester
    url_base: https://api.rocketlane.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api-key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/fields"
  - $ref: "#/definitions/streams/time-offs"
  - $ref: "#/definitions/streams/spaces"
  - $ref: "#/definitions/streams/phases"
  - $ref: "#/definitions/streams/time-entries"
  - $ref: "#/definitions/streams/space-documents"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Generate it from the API section in Settings of your
          Rocketlane account.
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    tasks: true
    users: true
    projects: true
    fields: true
    time-offs: true
    spaces: true
    phases: true
    time-entries: true
    space-documents: true
  testedStreams:
    tasks:
      streamHash: 2766734bdb778cfd1adf37888f660d3daa5d401f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 96daf541facd9acd6d6742a6acf3fe359facb3f9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: 6fcb8341840701eea6f6693ccc12d38bb1d0b570
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    fields:
      streamHash: 99aff8eef852de31b80952c0d072077f3ce4fd10
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    time-offs:
      streamHash: a7fb1e42390f9e5dcc6fb4c7b1bfc6241101780e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    spaces:
      streamHash: 2fc52419a013e45ab0570cbcea707df21c788509
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    phases:
      streamHash: 6a68ce8cda729250c241d9b8075c305039d5ab4d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    time-entries:
      streamHash: 340b92ff4671d62778d1b242808f1c37ecb8054a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    space-documents:
      streamHash: 05d9be219832e4d028de4cc963abb1a86429bc16
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.rocketlane.com/docs/overview

schemas:
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      dueDate:
        type:
          - string
          - "null"
      fields:
        type:
          - array
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          projectId:
            type:
              - number
              - "null"
          projectName:
            type:
              - string
              - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          label:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      taskDescription:
        type:
          - string
          - "null"
      taskId:
        type: number
      taskName:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - taskId
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      email:
        type:
          - string
          - "null"
      fields:
        type:
          - array
          - "null"
      firstName:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      userId:
        type: number
    required:
      - userId
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      currency:
        type:
          - object
          - "null"
        properties:
          currencyCode:
            type:
              - string
              - "null"
          currencyName:
            type:
              - string
              - "null"
          currencySymbol:
            type:
              - string
              - "null"
      customer:
        type:
          - object
          - "null"
        properties:
          companyId:
            type:
              - number
              - "null"
          companyName:
            type:
              - string
              - "null"
      dueDate:
        type:
          - string
          - "null"
      fields:
        type:
          - array
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      partnerCompanies:
        type:
          - array
          - "null"
      projectId:
        type: number
      projectName:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          label:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      teamMembers:
        type:
          - object
          - "null"
        properties:
          customers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                emailId:
                  type:
                    - string
                    - "null"
                firstName:
                  type:
                    - string
                    - "null"
                lastName:
                  type:
                    - string
                    - "null"
                userId:
                  type:
                    - number
                    - "null"
          members:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                emailId:
                  type:
                    - string
                    - "null"
                firstName:
                  type:
                    - string
                    - "null"
                lastName:
                  type:
                    - string
                    - "null"
                userId:
                  type:
                    - number
                    - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      visibility:
        type:
          - string
          - "null"
    required:
      - projectId
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      enabled:
        type:
          - boolean
          - "null"
      fieldId:
        type: number
      fieldLabel:
        type:
          - string
          - "null"
      fieldType:
        type:
          - string
          - "null"
      objectType:
        type:
          - string
          - "null"
      private:
        type:
          - boolean
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - fieldId
  time-offs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      durationInMinutes:
        type:
          - number
          - "null"
      endDate:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
      timeOffId:
        type: number
      user:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - timeOffId
  spaces:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  phases:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      dueDate:
        type:
          - string
          - "null"
      phaseId:
        type: number
      phaseName:
        type:
          - string
          - "null"
      private:
        type:
          - boolean
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          projectId:
            type:
              - number
              - "null"
          projectName:
            type:
              - string
              - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          label:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - phaseId
  time-entries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billable:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      date:
        type:
          - string
          - "null"
      minutes:
        type:
          - number
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          projectId:
            type:
              - number
              - "null"
          projectName:
            type:
              - string
              - "null"
      timeEntryId:
        type: number
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      user:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
    required:
      - timeEntryId
  space-documents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      source:
        type:
          - object
          - "null"
        properties:
          templateId:
            type:
              - number
              - "null"
          templateName:
            type:
              - string
              - "null"
      space:
        type:
          - object
          - "null"
        properties:
          spaceId:
            type:
              - number
              - "null"
          spaceName:
            type:
              - string
              - "null"
      spaceDocumentId:
        type: number
      spaceDocumentName:
        type:
          - string
          - "null"
      spaceDocumentType:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - number
          - "null"
      updatedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          userId:
            type:
              - number
              - "null"
      url:
        type:
          - string
          - "null"
    required:
      - spaceDocumentId
