version: 5.12.0

type: DeclarativeSource

description: >-
  Mention is a Social Listening and Media Monitoring Tool.

  This connector allows you to extract data from various Mention APIs such as
  Accounts , Alerts , Mentions , Statistics and others

  Docs: https://dev.mention.com/current/

check:
  type: CheckStream
  stream_names:
    - Alerts

definitions:
  streams:
    Alerts:
      type: DeclarativeStream
      name: Alerts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.mention.net/api/accounts/{{ stream_partition.account_id
            }}/alerts/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alerts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response._links.more.params.cursor | default(None) }}"
            stop_condition: >-
              {{ response._links.more is not defined or response._links.more is
              none }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Alerts"
    Alert:
      type: DeclarativeStream
      name: Alert
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alert
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Alert"
    Mentions:
      type: DeclarativeStream
      name: Mentions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/mentions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - mentions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 1000
            cursor_value: "{{ response._links.more.params.cursor | default(None) }}"
            stop_condition: >-
              {{ response._links.more is not defined or response._links.more is
              none }}
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Mentions"
    Mention:
      type: DeclarativeStream
      name: Mention
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/mentions/{{ stream_partition.mention_id
            }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - mention
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: mention_id
                stream:
                  $ref: "#/definitions/streams/Mentions"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Mention"
    Mention Children:
      type: DeclarativeStream
      name: Mention Children
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/mentions/{{ stream_partition.mention_id
            }}/children
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: mention_id
                stream:
                  $ref: "#/definitions/streams/Mentions"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Mention Children"
    Accounts:
      type: DeclarativeStream
      name: Accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - account
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Accounts"
    Account:
      type: DeclarativeStream
      name: Account
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition.account_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - account
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Account"
    Tags:
      type: DeclarativeStream
      name: Tags
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Tags"
    Alert Authors:
      type: DeclarativeStream
      name: Alert Authors
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/authors
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - authors
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Alert Authors"
    Alert Tasks:
      type: DeclarativeStream
      name: Alert Tasks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Alert Tasks"
    Statistics:
      type: DeclarativeStream
      name: Statistics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition.account_id }}/stats
          http_method: GET
          request_parameters:
            to: "{{ config[\"to\"] }}"
            from: "{{ config[\"from\"] }}"
            alerts[]: "{{ stream_partition.alert_id }}"
            interval: "{{ config[\"interval\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Statistics"
    Tasks:
      type: DeclarativeStream
      name: Tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/mentions/{{ stream_partition.mention_id
            }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - mention
              - tasks
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/Alerts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: mention_id
                stream:
                  $ref: "#/definitions/streams/Mentions"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Tasks"
  base_requester:
    type: HttpRequester
    url_base: https://api.mention.net/api
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/Alerts"
  - $ref: "#/definitions/streams/Alert"
  - $ref: "#/definitions/streams/Mentions"
  - $ref: "#/definitions/streams/Mention"
  - $ref: "#/definitions/streams/Mention Children"
  - $ref: "#/definitions/streams/Accounts"
  - $ref: "#/definitions/streams/Account"
  - $ref: "#/definitions/streams/Tags"
  - $ref: "#/definitions/streams/Alert Authors"
  - $ref: "#/definitions/streams/Alert Tasks"
  - $ref: "#/definitions/streams/Statistics"
  - $ref: "#/definitions/streams/Tasks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      from:
        type: string
        description: stats are to be fetched for mentions retrieved after that date
        order: 1
        title: from
      to:
        type: string
        description: stats are fetched for mentions retrieved before that date
        order: 2
        title: to
      interval:
        type: string
        description: >-
          Periodicity of statistics returned. it may be daily(P1D), weekly(P1W)
          or monthly(P1M).
        order: 3
        title: interval
        default: P1D
    additionalProperties: true

metadata:
  autoImportSchema:
    Alerts: true
    Alert: true
    Mentions: true
    Mention: true
    Mention Children: true
    Accounts: true
    Account: true
    Tags: true
    Alert Authors: true
    Alert Tasks: true
    Statistics: true
    Tasks: true
  testedStreams:
    Alerts:
      streamHash: b24b35ba82c2fd3ae54d119f9ce5484e087da3ff
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Alert:
      streamHash: 0ae371e659b80882a323b24a5c147f27910cb0e9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Mentions:
      streamHash: 15e9473574906c1f230b82c4efa06648fc14d983
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Mention:
      streamHash: 9a688f4d274b45736dfafd003741291a640f401c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Mention Children:
      streamHash: efcc1f0f51ae6c452914dcd39d59e9984dd27559
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Accounts:
      hasRecords: true
      streamHash: b204a18c9e931e75a78ceca8b91d1965deba6f0a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Account:
      hasRecords: true
      streamHash: 3e07429ee90fe2b2eb0f85d8ea926e7771aa1984
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Tags:
      streamHash: 45ab3df35e68e6ccfd005f7787cde96639a1ad41
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Alert Authors:
      streamHash: 175b43e0f26b6b2c4f63b070e6bf1c00e5918ea1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Alert Tasks:
      streamHash: 06933fd580d56098cef1b9e059b8d7eb56ebb027
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Statistics:
      streamHash: c31e6b30cedabfef5bd6bf0759901add03f9e905
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Tasks:
      streamHash: cf93be13637cd961ef94a288ab0b780245818d55
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Alerts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      blocked_sites:
        type:
          - array
          - "null"
      color:
        type:
          - string
          - "null"
      connection_type:
        type:
          - string
          - "null"
      countries:
        type:
          - array
          - "null"
      created_at:
        type:
          - string
          - "null"
      graphQLID:
        type:
          - string
          - "null"
      group_graphQLID:
        type:
          - string
          - "null"
      group_id:
        type:
          - string
          - "null"
      has_a_generated_alert_summary:
        type:
          - boolean
          - "null"
      hd:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
          pending:
            type:
              - boolean
              - "null"
          progress:
            type:
              - number
              - "null"
      id:
        type: string
      index_version:
        type:
          - number
          - "null"
      languages:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      last_update:
        type:
          - string
          - "null"
      look_for_spread:
        type:
          - boolean
          - "null"
      mentions_sources:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      monitored_facebook_pages:
        type:
          - array
          - "null"
      monitored_instagram_accounts:
        type:
          - array
          - "null"
      monitored_linkedin_pages:
        type:
          - array
          - "null"
      monitored_twitter_accounts:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      noise_detection:
        type:
          - boolean
          - "null"
      paused:
        type:
          - boolean
          - "null"
      permissions:
        type:
          - object
          - "null"
        properties:
          can_use_linkedin_sources:
            type:
              - boolean
              - "null"
          can_use_reviews_sources:
            type:
              - boolean
              - "null"
          can_use_twitter_sources:
            type:
              - boolean
              - "null"
          create_tag:
            type:
              - boolean
              - "null"
          edit:
            type:
              - boolean
              - "null"
          edit_mentions:
            type:
              - boolean
              - "null"
          export_mentions:
            type:
              - boolean
              - "null"
          list_logs:
            type:
              - boolean
              - "null"
          list_tasks:
            type:
              - boolean
              - "null"
          share:
            type:
              - boolean
              - "null"
      query:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          excluded_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          included_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          required_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      quota_used:
        type:
          - number
          - "null"
      read_access_secret:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      sentiment_analysis:
        type:
          - boolean
          - "null"
      shares:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            account:
              type:
                - object
                - "null"
              properties:
                avatar_url:
                  type:
                    - string
                    - "null"
                bucket:
                  type:
                    - number
                    - "null"
                company_name:
                  type:
                    - string
                    - "null"
                company_size:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                enabled_MFA:
                  type:
                    - boolean
                    - "null"
                features:
                  type:
                    - array
                    - "null"
                graphQLID:
                  type:
                    - string
                    - "null"
                groups:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      graphQLID:
                        type:
                          - string
                          - "null"
                      group_has_exceeded_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      group_has_reached_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      image_url:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      number_of_alerts:
                        type:
                          - number
                          - "null"
                      permissions:
                        type:
                          - object
                          - "null"
                        properties:
                          access_highlight:
                            type:
                              - boolean
                              - "null"
                          alert_summary_access:
                            type:
                              - boolean
                              - "null"
                          can_access_admin_settings:
                            type:
                              - boolean
                              - "null"
                          can_access_dashboard_homepage:
                            type:
                              - boolean
                              - "null"
                          can_use_linkedin_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_reviews_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_twitter_sources:
                            type:
                              - boolean
                              - "null"
                          create_alert:
                            type:
                              - boolean
                              - "null"
                          create_dashboard:
                            type:
                              - boolean
                              - "null"
                          create_report:
                            type:
                              - boolean
                              - "null"
                          create_report_blank:
                            type:
                              - boolean
                              - "null"
                          create_report_facebook_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_instagram_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_market_trends:
                            type:
                              - boolean
                              - "null"
                          create_report_mentions_list:
                            type:
                              - boolean
                              - "null"
                          create_report_twitter_comparison:
                            type:
                              - boolean
                              - "null"
                          create_scheduledreport:
                            type:
                              - boolean
                              - "null"
                          create_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          create_teamrequest:
                            type:
                              - boolean
                              - "null"
                          delete_team_reports:
                            type:
                              - boolean
                              - "null"
                          edit_group:
                            type:
                              - boolean
                              - "null"
                          edit_modules_report:
                            type:
                              - boolean
                              - "null"
                          emotion_access:
                            type:
                              - boolean
                              - "null"
                          invite:
                            type:
                              - boolean
                              - "null"
                          list_group_alerts:
                            type:
                              - boolean
                              - "null"
                          list_team_reports:
                            type:
                              - boolean
                              - "null"
                          publish_access:
                            type:
                              - boolean
                              - "null"
                          publish_collaboration:
                            type:
                              - boolean
                              - "null"
                          read_dashboards:
                            type:
                              - boolean
                              - "null"
                          read_demoalert:
                            type:
                              - boolean
                              - "null"
                          read_groups:
                            type:
                              - boolean
                              - "null"
                          read_integrations:
                            type:
                              - boolean
                              - "null"
                          read_plansnotifications:
                            type:
                              - boolean
                              - "null"
                          read_quotastats:
                            type:
                              - boolean
                              - "null"
                          read_reports:
                            type:
                              - boolean
                              - "null"
                          read_scheduledreports:
                            type:
                              - boolean
                              - "null"
                          read_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          read_teamSocialAccounts:
                            type:
                              - boolean
                              - "null"
                          read_teammembers:
                            type:
                              - boolean
                              - "null"
                          read_teamrequests:
                            type:
                              - boolean
                              - "null"
                          request_demo:
                            type:
                              - boolean
                              - "null"
                          respond_access:
                            type:
                              - boolean
                              - "null"
                          toggle_highlight:
                            type:
                              - boolean
                              - "null"
                      publish_approval_workflow_enabled:
                        type:
                          - boolean
                          - "null"
                hide_mark_all_read_mentions:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                language_code:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                notifications_preferences:
                  type:
                    - object
                    - "null"
                  properties:
                    alert_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        alert_notif_alert_shared_with_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_mention_assigned_to_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_quota_exceeded:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_quota_nearly_exceeded:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    publish_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        publish_notif_approved_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_denied_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_failure:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_in_review_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_ongoing:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_success:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    pulse_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        default_trending_email_notification_frequency:
                          type:
                            - string
                            - "null"
                        default_trending_sms_notification_frequency:
                          type:
                            - string
                            - "null"
                    respond_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        respond_notif_assigned_to_you:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        respond_notif_new_message:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    team_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        social_account_token_needs_refresh:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        team_notif_user_promoted:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    top_mentions_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        default_desktop_notification_frequency:
                          type:
                            - string
                            - "null"
                        default_email_notification_frequency:
                          type:
                            - string
                            - "null"
                        grouped_email_notification:
                          type:
                            - boolean
                            - "null"
                    unsubscribe_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        application_notification_enabled:
                          type:
                            - boolean
                            - "null"
                        marketing_notification_enabled:
                          type:
                            - boolean
                            - "null"
                permissions:
                  type:
                    - object
                    - "null"
                  properties:
                    create_alert:
                      type:
                        - boolean
                        - "null"
                    read_quotastats:
                      type:
                        - boolean
                        - "null"
                    read_teammembers:
                      type:
                        - boolean
                        - "null"
                    read_teamrequests:
                      type:
                        - boolean
                        - "null"
                registration_country:
                  type:
                    - string
                    - "null"
                signup_values:
                  anyOf:
                    - type: array
                    - type: object
                      properties:
                        industry:
                          type: string
                        job_position:
                          type: string
                team_has_exceeded_quota_on_accessible_resources:
                  type:
                    - boolean
                    - "null"
                team_has_reached_quota_on_accessible_resources:
                  type:
                    - boolean
                    - "null"
                team_id:
                  type:
                    - string
                    - "null"
                timezone:
                  type:
                    - string
                    - "null"
                trial_search_count:
                  type:
                    - number
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                validated_MFA:
                  type:
                    - boolean
                    - "null"
            created_at:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            last_seen_count:
              type:
                - number
                - "null"
            permissions:
              type:
                - object
                - "null"
              properties:
                delete:
                  type:
                    - boolean
                    - "null"
                edit:
                  type:
                    - boolean
                    - "null"
            role:
              type:
                - string
                - "null"
            subscriber:
              type:
                - boolean
                - "null"
            weight:
              type:
                - number
                - "null"
      slack_configuration:
        type:
          - object
          - "null"
        properties:
          is_configured:
            type:
              - boolean
              - "null"
          minimal_influence_score:
            type:
              - number
              - "null"
          new_mentions:
            type:
              - boolean
              - "null"
          recurring_recap:
            type:
              - boolean
              - "null"
          timezone:
            type:
              - string
              - "null"
      sources:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          done_tasks:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          favorite_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          logs:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          mention_folders:
            type:
              - object
              - "null"
            properties:
              archive:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              inbox:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              spam:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              trash:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
          mention_sources:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          tasks:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          todo_tasks:
            type:
              - object
              - "null"
            properties:
              1302703_Y0KpiUlF3hqZaCE57EVhda4TjoP9odaGnOzNeA1aC4dPiNPluCwcmn8xhX8JaHdZ:
                type:
                  - string
                  - "null"
              total:
                type:
                  - string
                  - "null"
          unread_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          unseen_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  Alert:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      blocked_sites:
        type:
          - array
          - "null"
      color:
        type:
          - string
          - "null"
      connection_type:
        type:
          - string
          - "null"
      countries:
        type:
          - array
          - "null"
      created_at:
        type:
          - string
          - "null"
      graphQLID:
        type:
          - string
          - "null"
      group_graphQLID:
        type:
          - string
          - "null"
      group_id:
        type:
          - string
          - "null"
      has_a_generated_alert_summary:
        type:
          - boolean
          - "null"
      hd:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
          pending:
            type:
              - boolean
              - "null"
          progress:
            type:
              - number
              - "null"
      id:
        type: string
      index_version:
        type:
          - number
          - "null"
      languages:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      last_update:
        type:
          - string
          - "null"
      look_for_spread:
        type:
          - boolean
          - "null"
      mentions_sources:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      monitored_facebook_pages:
        type:
          - array
          - "null"
      monitored_instagram_accounts:
        type:
          - array
          - "null"
      monitored_linkedin_pages:
        type:
          - array
          - "null"
      monitored_twitter_accounts:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      noise_detection:
        type:
          - boolean
          - "null"
      paused:
        type:
          - boolean
          - "null"
      permissions:
        type:
          - object
          - "null"
        properties:
          can_use_linkedin_sources:
            type:
              - boolean
              - "null"
          can_use_reviews_sources:
            type:
              - boolean
              - "null"
          can_use_twitter_sources:
            type:
              - boolean
              - "null"
          create_tag:
            type:
              - boolean
              - "null"
          edit:
            type:
              - boolean
              - "null"
          edit_mentions:
            type:
              - boolean
              - "null"
          export_mentions:
            type:
              - boolean
              - "null"
          list_logs:
            type:
              - boolean
              - "null"
          list_tasks:
            type:
              - boolean
              - "null"
          share:
            type:
              - boolean
              - "null"
      query:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          excluded_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          included_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          required_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      quota_used:
        type:
          - number
          - "null"
      read_access_secret:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      sentiment_analysis:
        type:
          - boolean
          - "null"
      shares:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            account:
              type:
                - object
                - "null"
              properties:
                avatar_url:
                  type:
                    - string
                    - "null"
                bucket:
                  type:
                    - number
                    - "null"
                company_name:
                  type:
                    - string
                    - "null"
                company_size:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                enabled_MFA:
                  type:
                    - boolean
                    - "null"
                features:
                  type:
                    - array
                    - "null"
                graphQLID:
                  type:
                    - string
                    - "null"
                groups:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      graphQLID:
                        type:
                          - string
                          - "null"
                      group_has_exceeded_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      group_has_reached_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      image_url:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      number_of_alerts:
                        type:
                          - number
                          - "null"
                      permissions:
                        type:
                          - object
                          - "null"
                        properties:
                          access_highlight:
                            type:
                              - boolean
                              - "null"
                          alert_summary_access:
                            type:
                              - boolean
                              - "null"
                          can_access_admin_settings:
                            type:
                              - boolean
                              - "null"
                          can_access_dashboard_homepage:
                            type:
                              - boolean
                              - "null"
                          can_use_linkedin_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_reviews_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_twitter_sources:
                            type:
                              - boolean
                              - "null"
                          create_alert:
                            type:
                              - boolean
                              - "null"
                          create_dashboard:
                            type:
                              - boolean
                              - "null"
                          create_report:
                            type:
                              - boolean
                              - "null"
                          create_report_blank:
                            type:
                              - boolean
                              - "null"
                          create_report_facebook_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_instagram_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_market_trends:
                            type:
                              - boolean
                              - "null"
                          create_report_mentions_list:
                            type:
                              - boolean
                              - "null"
                          create_report_twitter_comparison:
                            type:
                              - boolean
                              - "null"
                          create_scheduledreport:
                            type:
                              - boolean
                              - "null"
                          create_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          create_teamrequest:
                            type:
                              - boolean
                              - "null"
                          delete_team_reports:
                            type:
                              - boolean
                              - "null"
                          edit_group:
                            type:
                              - boolean
                              - "null"
                          edit_modules_report:
                            type:
                              - boolean
                              - "null"
                          emotion_access:
                            type:
                              - boolean
                              - "null"
                          invite:
                            type:
                              - boolean
                              - "null"
                          list_group_alerts:
                            type:
                              - boolean
                              - "null"
                          list_team_reports:
                            type:
                              - boolean
                              - "null"
                          publish_access:
                            type:
                              - boolean
                              - "null"
                          publish_collaboration:
                            type:
                              - boolean
                              - "null"
                          read_dashboards:
                            type:
                              - boolean
                              - "null"
                          read_demoalert:
                            type:
                              - boolean
                              - "null"
                          read_groups:
                            type:
                              - boolean
                              - "null"
                          read_integrations:
                            type:
                              - boolean
                              - "null"
                          read_plansnotifications:
                            type:
                              - boolean
                              - "null"
                          read_quotastats:
                            type:
                              - boolean
                              - "null"
                          read_reports:
                            type:
                              - boolean
                              - "null"
                          read_scheduledreports:
                            type:
                              - boolean
                              - "null"
                          read_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          read_teamSocialAccounts:
                            type:
                              - boolean
                              - "null"
                          read_teammembers:
                            type:
                              - boolean
                              - "null"
                          read_teamrequests:
                            type:
                              - boolean
                              - "null"
                          request_demo:
                            type:
                              - boolean
                              - "null"
                          respond_access:
                            type:
                              - boolean
                              - "null"
                          toggle_highlight:
                            type:
                              - boolean
                              - "null"
                      publish_approval_workflow_enabled:
                        type:
                          - boolean
                          - "null"
                hide_mark_all_read_mentions:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                language_code:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                notifications_preferences:
                  type:
                    - object
                    - "null"
                  properties:
                    alert_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        alert_notif_alert_shared_with_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_mention_assigned_to_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_quota_exceeded:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_quota_nearly_exceeded:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    publish_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        publish_notif_approved_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_denied_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_failure:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_in_review_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_ongoing:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_success:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    pulse_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        default_trending_email_notification_frequency:
                          type:
                            - string
                            - "null"
                        default_trending_sms_notification_frequency:
                          type:
                            - string
                            - "null"
                    respond_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        respond_notif_assigned_to_you:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        respond_notif_new_message:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    team_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        social_account_token_needs_refresh:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        team_notif_user_promoted:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    top_mentions_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        default_desktop_notification_frequency:
                          type:
                            - string
                            - "null"
                        default_email_notification_frequency:
                          type:
                            - string
                            - "null"
                        grouped_email_notification:
                          type:
                            - boolean
                            - "null"
                    unsubscribe_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        application_notification_enabled:
                          type:
                            - boolean
                            - "null"
                        marketing_notification_enabled:
                          type:
                            - boolean
                            - "null"
                permissions:
                  type:
                    - object
                    - "null"
                  properties:
                    create_alert:
                      type:
                        - boolean
                        - "null"
                    read_quotastats:
                      type:
                        - boolean
                        - "null"
                    read_teammembers:
                      type:
                        - boolean
                        - "null"
                    read_teamrequests:
                      type:
                        - boolean
                        - "null"
                registration_country:
                  type:
                    - string
                    - "null"
                signup_values:
                  anyOf:
                    - type: array
                    - type: object
                      properties:
                        industry:
                          type: string
                        job_position:
                          type: string
                team_has_exceeded_quota_on_accessible_resources:
                  type:
                    - boolean
                    - "null"
                team_has_reached_quota_on_accessible_resources:
                  type:
                    - boolean
                    - "null"
                team_id:
                  type:
                    - string
                    - "null"
                timezone:
                  type:
                    - string
                    - "null"
                trial_search_count:
                  type:
                    - number
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                validated_MFA:
                  type:
                    - boolean
                    - "null"
            created_at:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            last_seen_count:
              type:
                - number
                - "null"
            permissions:
              type:
                - object
                - "null"
              properties:
                delete:
                  type:
                    - boolean
                    - "null"
                edit:
                  type:
                    - boolean
                    - "null"
            role:
              type:
                - string
                - "null"
            subscriber:
              type:
                - boolean
                - "null"
            weight:
              type:
                - number
                - "null"
      slack_configuration:
        type:
          - object
          - "null"
        properties:
          is_configured:
            type:
              - boolean
              - "null"
          minimal_influence_score:
            type:
              - number
              - "null"
          new_mentions:
            type:
              - boolean
              - "null"
          recurring_recap:
            type:
              - boolean
              - "null"
          timezone:
            type:
              - string
              - "null"
      sources:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          done_tasks:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          favorite_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          logs:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          mention_folders:
            type:
              - object
              - "null"
            properties:
              archive:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              inbox:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              spam:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              trash:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
          mention_sources:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          tasks:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          todo_tasks:
            type:
              - object
              - "null"
            properties:
              1302703_Y0KpiUlF3hqZaCE57EVhda4TjoP9odaGnOzNeA1aC4dPiNPluCwcmn8xhX8JaHdZ:
                type:
                  - string
                  - "null"
              total:
                type:
                  - string
                  - "null"
          unread_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          unseen_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  Mentions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      _c:
        type:
          - string
          - "null"
      alert_id:
        type:
          - number
          - "null"
      author_influence:
        type:
          - object
          - "null"
        properties:
          alert_id:
            type:
              - string
              - "null"
          author_unique_id:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          graphQLID:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          kind:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          picture:
            type:
              - string
              - "null"
          realname:
            type:
              - string
              - "null"
          score:
            type:
              - number
              - "null"
          scored_id:
            type:
              - string
              - "null"
          topics:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          url:
            type:
              - string
              - "null"
      children:
        type:
          - object
          - "null"
        properties:
          _links:
            type:
              - object
              - "null"
            properties:
              more:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
                  params:
                    type:
                      - object
                      - "null"
                    properties:
                      before_date:
                        type:
                          - string
                          - "null"
                      limit:
                        type:
                          - number
                          - "null"
          children:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                _c:
                  type:
                    - string
                    - "null"
                alert_id:
                  type:
                    - number
                    - "null"
                author_influence:
                  type:
                    - object
                    - "null"
                  properties:
                    alert_id:
                      type:
                        - string
                        - "null"
                    author_unique_id:
                      type:
                        - string
                        - "null"
                    country:
                      type:
                        - string
                        - "null"
                    graphQLID:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    kind:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    picture:
                      type:
                        - string
                        - "null"
                    realname:
                      type:
                        - string
                        - "null"
                    score:
                      type:
                        - number
                        - "null"
                    scored_id:
                      type:
                        - string
                        - "null"
                    topics:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
                    url:
                      type:
                        - string
                        - "null"
                children:
                  type:
                    - object
                    - "null"
                  properties:
                    children:
                      type:
                        - array
                        - "null"
                    total:
                      type:
                        - number
                        - "null"
                clickable_url:
                  type:
                    - string
                    - "null"
                country:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                cumulative_reach:
                  type:
                    - number
                    - "null"
                description_medium:
                  type:
                    - string
                    - "null"
                description_short:
                  type:
                    - string
                    - "null"
                direct_reach:
                  type:
                    - number
                    - "null"
                display_site:
                  type:
                    - boolean
                    - "null"
                displayable_url:
                  type:
                    - string
                    - "null"
                domain_reach:
                  type:
                    - number
                    - "null"
                emotions:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                favorite:
                  type:
                    - boolean
                    - "null"
                folder:
                  type:
                    - string
                    - "null"
                folder_set_by_user:
                  type:
                    - boolean
                    - "null"
                graphQLID:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                language_code:
                  type:
                    - string
                    - "null"
                logs:
                  type:
                    - array
                    - "null"
                offsets:
                  type:
                    - object
                    - "null"
                  properties:
                    description:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    description_medium:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    description_short:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    source_name:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    source_url:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    title:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    url:
                      type:
                        - array
                        - "null"
                original_url:
                  type:
                    - string
                    - "null"
                parent_id:
                  type:
                    - number
                    - "null"
                permissions:
                  type:
                    - object
                    - "null"
                  properties:
                    change_folder:
                      type:
                        - boolean
                        - "null"
                    create_task:
                      type:
                        - boolean
                        - "null"
                    edit:
                      type:
                        - boolean
                        - "null"
                    favorite:
                      type:
                        - boolean
                        - "null"
                    share_email:
                      type:
                        - boolean
                        - "null"
                    share_facebook:
                      type:
                        - boolean
                        - "null"
                picture_url:
                  type:
                    - string
                    - "null"
                published_at:
                  type:
                    - string
                    - "null"
                read:
                  type:
                    - boolean
                    - "null"
                relevance_score:
                  type:
                    - number
                    - "null"
                source_name:
                  type:
                    - string
                    - "null"
                source_type:
                  type:
                    - string
                    - "null"
                source_url:
                  type:
                    - string
                    - "null"
                tags:
                  type:
                    - array
                    - "null"
                tasks:
                  type:
                    - array
                    - "null"
                title:
                  type:
                    - string
                    - "null"
                tone:
                  type:
                    - number
                    - "null"
                tone_score:
                  type:
                    - number
                    - "null"
                unique_id:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
          total:
            type:
              - number
              - "null"
      clickable_url:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      cumulative_reach:
        type:
          - number
          - "null"
      description_medium:
        type:
          - string
          - "null"
      description_short:
        type:
          - string
          - "null"
      direct_reach:
        type:
          - number
          - "null"
      display_site:
        type:
          - boolean
          - "null"
      displayable_url:
        type:
          - string
          - "null"
      domain_reach:
        type:
          - number
          - "null"
      emotions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      favorite:
        type:
          - boolean
          - "null"
      folder:
        type:
          - string
          - "null"
      folder_set_by_user:
        type:
          - boolean
          - "null"
      graphQLID:
        type:
          - string
          - "null"
      id:
        type: string
      language_code:
        type:
          - string
          - "null"
      logs:
        type:
          - array
          - "null"
      offsets:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          description_medium:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          description_short:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          source_name:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          source_url:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          title:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          url:
            type:
              - array
              - "null"
      original_url:
        type:
          - string
          - "null"
      permissions:
        type:
          - object
          - "null"
        properties:
          change_folder:
            type:
              - boolean
              - "null"
          create_task:
            type:
              - boolean
              - "null"
          edit:
            type:
              - boolean
              - "null"
          favorite:
            type:
              - boolean
              - "null"
          share_email:
            type:
              - boolean
              - "null"
          share_facebook:
            type:
              - boolean
              - "null"
      picture_url:
        type:
          - string
          - "null"
      published_at:
        type:
          - string
          - "null"
      read:
        type:
          - boolean
          - "null"
      relevance_score:
        type:
          - number
          - "null"
      source_name:
        type:
          - string
          - "null"
      source_type:
        type:
          - string
          - "null"
      source_url:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            keywords:
              type:
[...]
