version: 5.13.0

type: DeclarativeSource

description: >-
  Mention is a Social Listening and Media Monitoring Tool.

  This connector allows you to extract data from various Mention APIs such as
  Accounts , Alerts , Mentions , Statistics and others

  Docs: https://dev.mention.com/current/

check:
  type: CheckStream
  stream_names:
    - alert

definitions:
  streams:
    alert:
      type: DeclarativeStream
      name: alert
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition.account_id }}/alerts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alerts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response._links.more.params.cursor | default(None) }}"
            stop_condition: >-
              {{ response._links.more is not defined or response._links.more is
              none }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/account_me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alert"
    mention:
      type: DeclarativeStream
      name: mention
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/mentions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - mentions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 1000
            cursor_value: "{{ response._links.more.params.cursor | default(None) }}"
            stop_condition: >-
              {{ response._links.more is not defined or response._links.more is
              none }}
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/alert"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/account_me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mention"
    mention_children:
      type: DeclarativeStream
      name: mention_children
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/mentions/{{ stream_partition.mention_id
            }}/children
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - children
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/alert"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: mention_id
                stream:
                  $ref: "#/definitions/streams/mention"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/account_me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mention_children"
    account_me:
      type: DeclarativeStream
      name: account_me
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - account
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_me"
    account:
      type: DeclarativeStream
      name: account
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition.account_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - account
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/account_me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account"
    alert_tag:
      type: DeclarativeStream
      name: alert_tag
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tags
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/alert"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/account_me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alert_tag"
    alert_author:
      type: DeclarativeStream
      name: alert_author
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/authors
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - authors
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/alert"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/account_me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alert_author"
    alert_tasks:
      type: DeclarativeStream
      name: alert_tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/alert"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/account_me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/alert_tasks"
    statistics:
      type: DeclarativeStream
      name: statistics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition.account_id }}/stats
          http_method: GET
          request_parameters:
            alerts[]: "{{ stream_partition.alert_id }}"
            interval: "{{ config[\"stats_interval\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/account_me"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/alert"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: to
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"stats_start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"end_date\") or now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/statistics"
    mention_tasks:
      type: DeclarativeStream
      name: mention_tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /accounts/{{ stream_partition.account_id }}/alerts/{{
            stream_partition.alert_id }}/mentions/{{ stream_partition.mention_id
            }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - mention
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: alert_id
                stream:
                  $ref: "#/definitions/streams/alert"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: mention_id
                stream:
                  $ref: "#/definitions/streams/mention"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/account_me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mention_tasks"
  base_requester:
    type: HttpRequester
    url_base: https://api.mention.net/api
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/alert"
  - $ref: "#/definitions/streams/mention"
  - $ref: "#/definitions/streams/mention_children"
  - $ref: "#/definitions/streams/account_me"
  - $ref: "#/definitions/streams/account"
  - $ref: "#/definitions/streams/alert_tag"
  - $ref: "#/definitions/streams/alert_author"
  - $ref: "#/definitions/streams/alert_tasks"
  - $ref: "#/definitions/streams/statistics"
  - $ref: "#/definitions/streams/mention_tasks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - stats_start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      stats_interval:
        type: string
        description: >-
          Periodicity of statistics returned. it may be daily(P1D), weekly(P1W)
          or monthly(P1M).
        order: 1
        title: Statistics Interval
        default: P1D
        enum:
          - P1D
          - P1W
          - P1M
      stats_start_date:
        type: string
        title: Statistics Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
      stats_end_date:
        type: string
        title: Statistics End Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        format: date
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    alert: true
    mention: true
    mention_children: true
    account_me: true
    account: true
    alert_tag: true
    alert_author: true
    alert_tasks: true
    statistics: true
    mention_tasks: true
  testedStreams:
    alert:
      streamHash: 23a0b048f2509193ef34611ff602dfc7416a1f81
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    mention:
      streamHash: 78742917a2d501ed8eb8eaec6c0bf05331e6b317
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    mention_children:
      streamHash: 165e7c77ff38405fec01246ea6fb54aa749deeb2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    account_me:
      streamHash: 5465ca43c0e41d8a988eddceada185f53a0d518c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    account:
      streamHash: 723a91549c516fb75331126c76d31c35b2ba1cbd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    alert_tag:
      streamHash: 3e1a16eee1583e06546ef996af1b358ad4a2df48
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    alert_author:
      streamHash: 34097ce94c98ccc1e852c87793efa8d6db45aa2f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    alert_tasks:
      streamHash: e0c5e52e519ac82411ac7393774b23c55e666064
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    statistics:
      streamHash: 57edf0aefab6f8591edb3ab1882b1b82b1b74391
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    mention_tasks:
      streamHash: 04d3cf9ffd0463653b0bd73b05fd5653aeb9b398
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  alert:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      blocked_sites:
        type:
          - array
          - "null"
      color:
        type:
          - string
          - "null"
      connection_type:
        type:
          - string
          - "null"
      countries:
        type:
          - array
          - "null"
      created_at:
        type:
          - string
          - "null"
      display_empty_feed_suggestions:
        type:
          - boolean
          - "null"
      graphQLID:
        type:
          - string
          - "null"
      group_graphQLID:
        type:
          - string
          - "null"
      group_id:
        type:
          - string
          - "null"
      has_a_generated_alert_summary:
        type:
          - boolean
          - "null"
      hd:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
          pending:
            type:
              - boolean
              - "null"
          progress:
            type:
              - number
              - "null"
      id:
        type: string
      index_version:
        type:
          - number
          - "null"
      languages:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      last_update:
        type:
          - string
          - "null"
      look_for_spread:
        type:
          - boolean
          - "null"
      mentions_sources:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      monitored_facebook_pages:
        type:
          - array
          - "null"
      monitored_instagram_accounts:
        type:
          - array
          - "null"
      monitored_linkedin_pages:
        type:
          - array
          - "null"
      monitored_twitter_accounts:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      noise_detection:
        type:
          - boolean
          - "null"
      paused:
        type:
          - boolean
          - "null"
      permissions:
        type:
          - object
          - "null"
        properties:
          can_use_linkedin_sources:
            type:
              - boolean
              - "null"
          can_use_reviews_sources:
            type:
              - boolean
              - "null"
          can_use_twitter_sources:
            type:
              - boolean
              - "null"
          create_tag:
            type:
              - boolean
              - "null"
          edit:
            type:
              - boolean
              - "null"
          edit_mentions:
            type:
              - boolean
              - "null"
          export_mentions:
            type:
              - boolean
              - "null"
          list_logs:
            type:
              - boolean
              - "null"
          list_tasks:
            type:
              - boolean
              - "null"
          share:
            type:
              - boolean
              - "null"
      query:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          excluded_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          included_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          required_keywords:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      quota_used:
        type:
          - number
          - "null"
      read_access_secret:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      sentiment_analysis:
        type:
          - boolean
          - "null"
      shares:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            account:
              type:
                - object
                - "null"
              properties:
                avatar_url:
                  type:
                    - string
                    - "null"
                bucket:
                  type:
                    - number
                    - "null"
                company_name:
                  type:
                    - string
                    - "null"
                company_size:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                enabled_MFA:
                  type:
                    - boolean
                    - "null"
                features:
                  type:
                    - array
                    - "null"
                graphQLID:
                  type:
                    - string
                    - "null"
                groups:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      graphQLID:
                        type:
                          - string
                          - "null"
                      group_has_exceeded_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      group_has_reached_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      image_url:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      number_of_alerts:
                        type:
                          - number
                          - "null"
                      permissions:
                        type:
                          - object
                          - "null"
                        properties:
                          access_highlight:
                            type:
                              - boolean
                              - "null"
                          alert_summary_access:
                            type:
                              - boolean
                              - "null"
                          can_access_admin_settings:
                            type:
                              - boolean
                              - "null"
                          can_access_dashboard_homepage:
                            type:
                              - boolean
                              - "null"
                          can_use_linkedin_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_reviews_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_twitter_sources:
                            type:
                              - boolean
                              - "null"
                          create_alert:
                            type:
                              - boolean
                              - "null"
                          create_dashboard:
                            type:
                              - boolean
                              - "null"
                          create_report:
                            type:
                              - boolean
                              - "null"
                          create_report_blank:
                            type:
                              - boolean
                              - "null"
                          create_report_facebook_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_instagram_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_market_trends:
                            type:
                              - boolean
                              - "null"
                          create_report_mentions_list:
                            type:
                              - boolean
                              - "null"
                          create_report_twitter_comparison:
                            type:
                              - boolean
                              - "null"
                          create_scheduledreport:
                            type:
                              - boolean
                              - "null"
                          create_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          create_teamrequest:
                            type:
                              - boolean
                              - "null"
                          delete_team_reports:
                            type:
                              - boolean
                              - "null"
                          edit_group:
                            type:
                              - boolean
                              - "null"
                          edit_modules_report:
                            type:
                              - boolean
                              - "null"
                          emotion_access:
                            type:
                              - boolean
                              - "null"
                          invite:
                            type:
                              - boolean
                              - "null"
                          list_group_alerts:
                            type:
                              - boolean
                              - "null"
                          list_team_reports:
                            type:
                              - boolean
                              - "null"
                          publish_access:
                            type:
                              - boolean
                              - "null"
                          publish_collaboration:
                            type:
                              - boolean
                              - "null"
                          read_dashboards:
                            type:
                              - boolean
                              - "null"
                          read_demoalert:
                            type:
                              - boolean
                              - "null"
                          read_groups:
                            type:
                              - boolean
                              - "null"
                          read_integrations:
                            type:
                              - boolean
                              - "null"
                          read_plansnotifications:
                            type:
                              - boolean
                              - "null"
                          read_quotastats:
                            type:
                              - boolean
                              - "null"
                          read_reports:
                            type:
                              - boolean
                              - "null"
                          read_scheduledreports:
                            type:
                              - boolean
                              - "null"
                          read_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          read_teamSocialAccounts:
                            type:
                              - boolean
                              - "null"
                          read_teammembers:
                            type:
                              - boolean
                              - "null"
                          read_teamrequests:
                            type:
                              - boolean
                              - "null"
                          request_demo:
                            type:
                              - boolean
                              - "null"
                          respond_access:
                            type:
                              - boolean
                              - "null"
                          toggle_highlight:
                            type:
                              - boolean
                              - "null"
                      publish_approval_workflow_enabled:
                        type:
                          - boolean
                          - "null"
                hide_mark_all_read_mentions:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                language_code:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                notifications_preferences:
                  type:
                    - object
                    - "null"
                  properties:
                    alert_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        alert_notif_alert_shared_with_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_mention_assigned_to_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_quota_exceeded:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_quota_nearly_exceeded:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    publish_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        publish_notif_approved_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_denied_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_failure:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_in_review_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_ongoing:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_success:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    pulse_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        default_trending_email_notification_frequency:
                          type:
                            - string
                            - "null"
                        default_trending_sms_notification_frequency:
                          type:
                            - string
                            - "null"
                    respond_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        respond_notif_assigned_to_you:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        respond_notif_new_message:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    team_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        social_account_token_needs_refresh:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        team_notif_user_promoted:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    top_mentions_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        default_desktop_notification_frequency:
                          type:
                            - string
                            - "null"
                        default_email_notification_frequency:
                          type:
                            - string
                            - "null"
                        grouped_email_notification:
                          type:
                            - boolean
                            - "null"
                    unsubscribe_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        application_notification_enabled:
                          type:
                            - boolean
                            - "null"
                        marketing_notification_enabled:
                          type:
                            - boolean
                            - "null"
                permissions:
                  type:
                    - object
                    - "null"
                  properties:
                    create_alert:
                      type:
                        - boolean
                        - "null"
                    read_quotastats:
                      type:
                        - boolean
                        - "null"
                    read_teammembers:
                      type:
                        - boolean
                        - "null"
                    read_teamrequests:
                      type:
                        - boolean
                        - "null"
                registration_country:
                  type:
                    - string
                    - "null"
                signup_values:
                  anyOf:
                    - type: array
                    - type: object
                      properties:
                        industry:
                          type: string
                        job_position:
                          type: string
                team_has_exceeded_quota_on_accessible_resources:
                  type:
                    - boolean
                    - "null"
                team_has_reached_quota_on_accessible_resources:
                  type:
                    - boolean
                    - "null"
                team_id:
                  type:
                    - string
                    - "null"
                timezone:
                  type:
                    - string
                    - "null"
                trial_search_count:
                  type:
                    - number
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                validated_MFA:
                  type:
                    - boolean
                    - "null"
            created_at:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            last_seen_count:
              type:
                - number
                - "null"
            permissions:
              type:
                - object
                - "null"
              properties:
                delete:
                  type:
                    - boolean
                    - "null"
                edit:
                  type:
                    - boolean
                    - "null"
            role:
              type:
                - string
                - "null"
            subscriber:
              type:
                - boolean
                - "null"
            weight:
              type:
                - number
                - "null"
      slack_configuration:
        type:
          - object
          - "null"
        properties:
          is_configured:
            type:
              - boolean
              - "null"
          minimal_influence_score:
            type:
              - number
              - "null"
          new_mentions:
            type:
              - boolean
              - "null"
          recurring_recap:
            type:
              - boolean
              - "null"
          timezone:
            type:
              - string
              - "null"
      sources:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          done_tasks:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          favorite_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          logs:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          mention_folders:
            type:
              - object
              - "null"
            properties:
              archive:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              inbox:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              spam:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
              trash:
                type:
                  - object
                  - "null"
                properties:
                  total:
                    type:
                      - string
                      - "null"
          mention_sources:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          tasks:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          todo_tasks:
            type:
              - object
              - "null"
            properties:
              1302703_Y0KpiUlF3hqZaCE57EVhda4TjoP9odaGnOzNeA1aC4dPiNPluCwcmn8xhX8JaHdZ:
                type:
                  - string
                  - "null"
              total:
                type:
                  - string
                  - "null"
          unread_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
          unseen_mentions:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - string
                  - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  mention:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      _c:
        type:
          - string
          - "null"
      alert_id:
        type:
          - number
          - "null"
      author_influence:
        type:
          - object
          - "null"
        properties:
          alert_id:
            type:
              - string
              - "null"
          author_unique_id:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          graphQLID:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          kind:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          picture:
            type:
              - string
              - "null"
          realname:
            type:
              - string
              - "null"
          score:
            type:
              - number
              - "null"
          scored_id:
            type:
              - string
              - "null"
          topics:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          url:
            type:
              - string
              - "null"
      children:
        type:
          - object
          - "null"
        properties:
          _links:
            type:
              - object
              - "null"
            properties:
              more:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
                  params:
                    type:
                      - object
                      - "null"
                    properties:
                      before_date:
                        type:
                          - string
                          - "null"
                      limit:
                        type:
                          - number
                          - "null"
          children:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                _c:
                  type:
                    - string
                    - "null"
                alert_id:
                  type:
                    - number
                    - "null"
                author_influence:
                  type:
                    - object
                    - "null"
                  properties:
                    alert_id:
                      type:
                        - string
                        - "null"
                    author_unique_id:
                      type:
                        - string
                        - "null"
                    country:
                      type:
                        - string
                        - "null"
                    graphQLID:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    kind:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    picture:
                      type:
                        - string
                        - "null"
                    realname:
                      type:
                        - string
                        - "null"
                    score:
                      type:
                        - number
                        - "null"
                    scored_id:
                      type:
                        - string
                        - "null"
                    topics:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
                    url:
                      type:
                        - string
                        - "null"
                children:
                  type:
                    - object
                    - "null"
                  properties:
                    children:
                      type:
                        - array
                        - "null"
                    total:
                      type:
                        - number
                        - "null"
                clickable_url:
                  type:
                    - string
                    - "null"
                country:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                cumulative_reach:
                  type:
                    - number
                    - "null"
                description_medium:
                  type:
                    - string
                    - "null"
                description_short:
                  type:
                    - string
                    - "null"
                direct_reach:
                  type:
                    - number
                    - "null"
                display_site:
                  type:
                    - boolean
                    - "null"
                displayable_url:
                  type:
                    - string
                    - "null"
                domain_reach:
                  type:
                    - number
                    - "null"
                emotions:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                favorite:
                  type:
                    - boolean
                    - "null"
                folder:
                  type:
                    - string
                    - "null"
                folder_set_by_user:
                  type:
                    - boolean
                    - "null"
                graphQLID:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                language_code:
                  type:
                    - string
                    - "null"
                logs:
                  type:
                    - array
                    - "null"
                offsets:
                  type:
                    - object
                    - "null"
                  properties:
                    description:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    description_medium:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    description_short:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    source_name:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    source_url:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    title:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - number
                          - "null"
                    url:
                      type:
                        - array
                        - "null"
                original_url:
                  type:
                    - string
                    - "null"
                parent_id:
                  type:
                    - number
                    - "null"
                permissions:
                  type:
                    - object
                    - "null"
                  properties:
                    change_folder:
                      type:
                        - boolean
                        - "null"
                    create_task:
                      type:
                        - boolean
                        - "null"
                    edit:
                      type:
                        - boolean
                        - "null"
                    favorite:
                      type:
                        - boolean
                        - "null"
                    share_email:
                      type:
                        - boolean
                        - "null"
                    share_facebook:
                      type:
                        - boolean
                        - "null"
                picture_url:
                  type:
                    - string
                    - "null"
                published_at:
                  type:
                    - string
                    - "null"
                read:
                  type:
                    - boolean
                    - "null"
                relevance_score:
                  type:
                    - number
                    - "null"
                source_name:
                  type:
                    - string
                    - "null"
                source_type:
                  type:
                    - string
                    - "null"
                source_url:
                  type:
                    - string
                    - "null"
                tags:
                  type:
                    - array
                    - "null"
                tasks:
                  type:
                    - array
                    - "null"
                title:
                  type:
                    - string
                    - "null"
                tone:
                  type:
                    - number
                    - "null"
                tone_score:
                  type:
                    - number
                    - "null"
                unique_id:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
          total:
            type:
              - number
              - "null"
      clickable_url:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      cumulative_reach:
        type:
          - number
          - "null"
      description_medium:
        type:
          - string
          - "null"
      description_short:
        type:
          - string
          - "null"
      direct_reach:
        type:
          - number
          - "null"
      display_site:
        type:
          - boolean
          - "null"
      displayable_url:
        type:
          - string
          - "null"
      domain_reach:
        type:
          - number
          - "null"
      emotions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      favorite:
        type:
          - boolean
          - "null"
      folder:
        type:
          - string
          - "null"
      folder_set_by_user:
        type:
          - boolean
          - "null"
      graphQLID:
        type:
          - string
          - "null"
      id:
        type: string
      language_code:
        type:
          - string
          - "null"
      logs:
        type:
          - array
          - "null"
      offsets:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          description_medium:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          description_short:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          source_name:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          source_url:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          title:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          url:
            type:
              - array
              - "null"
      original_url:
        type:
          - string
          - "null"
      permissions:
        type:
          - object
          - "null"
        properties:
          change_folder:
            type:
              - boolean
              - "null"
          create_task:
            type:
              - boolean
              - "null"
          edit:
            type:
              - boolean
              - "null"
          favorite:
            type:
              - boolean
              - "null"
          share_email:
            type:
              - boolean
              - "null"
          share_facebook:
            type:
              - boolean
              - "null"
      picture_url:
        type:
          - string
          - "null"
      published_at:
        type:
          - string
          - "null"
      read:
        type:
          - boolean
          - "null"
      relevance_score:
        type:
          - number
          - "null"
      source_name:
        type:
          - string
          - "null"
      source_type:
        type:
          - string
          - "null"
      source_url:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            keywords:
              type:
                - array
                - "null"
            mention_count:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      tasks:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            assigned_by_account:
              type:
                - object
                - "null"
              properties:
                avatar_url:
                  type:
                    - string
                    - "null"
                bucket:
                  type:
                    - number
                    - "null"
                company_name:
                  type:
                    - string
                    - "null"
                company_size:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                enabled_MFA:
                  type:
                    - boolean
                    - "null"
                features:
                  type:
                    - array
                    - "null"
                graphQLID:
                  type:
                    - string
                    - "null"
                groups:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      graphQLID:
                        type:
                          - string
                          - "null"
                      group_has_exceeded_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      group_has_reached_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      image_url:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      number_of_alerts:
                        type:
                          - number
                          - "null"
                      permissions:
                        type:
                          - object
                          - "null"
                        properties:
                          access_highlight:
                            type:
                              - boolean
                              - "null"
                          alert_summary_access:
                            type:
                              - boolean
                              - "null"
                          can_access_admin_settings:
                            type:
                              - boolean
                              - "null"
                          can_access_dashboard_homepage:
                            type:
                              - boolean
                              - "null"
                          can_use_linkedin_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_reviews_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_twitter_sources:
                            type:
                              - boolean
                              - "null"
                          create_alert:
                            type:
                              - boolean
                              - "null"
                          create_dashboard:
                            type:
                              - boolean
                              - "null"
                          create_report:
                            type:
                              - boolean
                              - "null"
                          create_report_blank:
                            type:
                              - boolean
                              - "null"
                          create_report_facebook_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_instagram_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_market_trends:
                            type:
                              - boolean
                              - "null"
                          create_report_mentions_list:
                            type:
                              - boolean
                              - "null"
                          create_report_twitter_comparison:
                            type:
                              - boolean
                              - "null"
                          create_scheduledreport:
                            type:
                              - boolean
                              - "null"
                          create_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          create_teamrequest:
                            type:
                              - boolean
                              - "null"
                          delete_team_reports:
                            type:
                              - boolean
                              - "null"
                          edit_group:
                            type:
                              - boolean
                              - "null"
                          edit_modules_report:
                            type:
                              - boolean
                              - "null"
                          emotion_access:
                            type:
                              - boolean
                              - "null"
                          invite:
                            type:
                              - boolean
                              - "null"
                          list_group_alerts:
                            type:
                              - boolean
                              - "null"
                          list_team_reports:
                            type:
                              - boolean
                              - "null"
                          publish_access:
                            type:
                              - boolean
                              - "null"
                          publish_collaboration:
                            type:
                              - boolean
                              - "null"
                          read_dashboards:
                            type:
                              - boolean
                              - "null"
                          read_demoalert:
                            type:
                              - boolean
                              - "null"
                          read_groups:
                            type:
                              - boolean
                              - "null"
                          read_integrations:
                            type:
                              - boolean
                              - "null"
                          read_plansnotifications:
                            type:
                              - boolean
                              - "null"
                          read_quotastats:
                            type:
                              - boolean
                              - "null"
                          read_reports:
                            type:
                              - boolean
                              - "null"
                          read_scheduledreports:
                            type:
                              - boolean
                              - "null"
                          read_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          read_teamSocialAccounts:
                            type:
                              - boolean
                              - "null"
                          read_teammembers:
                            type:
                              - boolean
                              - "null"
                          read_teamrequests:
                            type:
                              - boolean
                              - "null"
                          request_demo:
                            type:
                              - boolean
                              - "null"
                          respond_access:
                            type:
                              - boolean
                              - "null"
                          toggle_highlight:
                            type:
                              - boolean
                              - "null"
                      publish_approval_workflow_enabled:
                        type:
                          - boolean
                          - "null"
                hide_mark_all_read_mentions:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                language_code:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                notifications_preferences:
                  type:
                    - object
                    - "null"
                  properties:
                    alert_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        alert_notif_alert_shared_with_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_mention_assigned_to_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_quota_exceeded:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        alert_notif_quota_nearly_exceeded:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    publish_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        publish_notif_approved_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_denied_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_failure:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_in_review_post:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_ongoing:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        publish_notif_success:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    pulse_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        default_trending_email_notification_frequency:
                          type:
                            - string
                            - "null"
                        default_trending_sms_notification_frequency:
                          type:
                            - string
                            - "null"
                    respond_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        respond_notif_assigned_to_you:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        respond_notif_new_message:
                          type:
                            - object
                            - "null"
                          properties:
                            desktop:
                              type:
                                - boolean
                                - "null"
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    team_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        social_account_token_needs_refresh:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                        team_notif_user_promoted:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
                            inapp:
                              type:
                                - boolean
                                - "null"
                    top_mentions_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        default_desktop_notification_frequency:
                          type:
                            - string
                            - "null"
                        default_email_notification_frequency:
                          type:
                            - string
                            - "null"
                        grouped_email_notification:
                          type:
                            - boolean
                            - "null"
                    unsubscribe_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        application_notification_enabled:
                          type:
                            - boolean
                            - "null"
                        marketing_notification_enabled:
                          type:
                            - boolean
                            - "null"
                permissions:
                  type:
                    - object
                    - "null"
                  properties:
                    create_alert:
                      type:
                        - boolean
                        - "null"
                    read_quotastats:
                      type:
                        - boolean
                        - "null"
                    read_teammembers:
                      type:
                        - boolean
                        - "null"
                    read_teamrequests:
                      type:
                        - boolean
                        - "null"
                registration_country:
                  type:
                    - string
                    - "null"
                signup_values:
                  type:
                    - object
                    - "null"
                  properties:
                    industry:
                      type:
                        - string
                        - "null"
                    job_position:
                      type:
                        - string
                        - "null"
                team_has_exceeded_quota_on_accessible_resources:
                  type:
                    - boolean
                    - "null"
                team_has_reached_quota_on_accessible_resources:
                  type:
                    - boolean
                    - "null"
                team_id:
                  type:
                    - string
                    - "null"
                timezone:
                  type:
                    - string
                    - "null"
                trial_search_count:
                  type:
                    - number
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                validated_MFA:
                  type:
                    - boolean
                    - "null"
            assigned_to_account:
              type:
                - object
                - "null"
              properties:
                avatar_url:
                  type:
                    - string
                    - "null"
                bucket:
                  type:
                    - number
                    - "null"
                company_name:
                  type:
                    - string
                    - "null"
                company_size:
                  type:
                    - string
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                enabled_MFA:
                  type:
                    - boolean
                    - "null"
                features:
                  type:
                    - array
                    - "null"
                graphQLID:
                  type:
                    - string
                    - "null"
                groups:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      graphQLID:
                        type:
                          - string
                          - "null"
                      group_has_exceeded_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      group_has_reached_quota_on_accessible_resources:
                        type:
                          - boolean
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      image_url:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      number_of_alerts:
                        type:
                          - number
                          - "null"
                      permissions:
                        type:
                          - object
                          - "null"
                        properties:
                          access_highlight:
                            type:
                              - boolean
                              - "null"
                          alert_summary_access:
                            type:
                              - boolean
                              - "null"
                          can_access_admin_settings:
                            type:
                              - boolean
                              - "null"
                          can_access_dashboard_homepage:
                            type:
                              - boolean
                              - "null"
                          can_use_linkedin_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_reviews_sources:
                            type:
                              - boolean
                              - "null"
                          can_use_twitter_sources:
                            type:
                              - boolean
                              - "null"
                          create_alert:
                            type:
                              - boolean
                              - "null"
                          create_dashboard:
                            type:
                              - boolean
                              - "null"
                          create_report:
                            type:
                              - boolean
                              - "null"
                          create_report_blank:
                            type:
                              - boolean
                              - "null"
                          create_report_facebook_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_instagram_comparison:
                            type:
                              - boolean
                              - "null"
                          create_report_market_trends:
                            type:
                              - boolean
                              - "null"
                          create_report_mentions_list:
                            type:
                              - boolean
                              - "null"
                          create_report_twitter_comparison:
                            type:
                              - boolean
                              - "null"
                          create_scheduledreport:
                            type:
                              - boolean
                              - "null"
                          create_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          create_teamrequest:
                            type:
                              - boolean
                              - "null"
                          delete_team_reports:
                            type:
                              - boolean
                              - "null"
                          edit_group:
                            type:
                              - boolean
                              - "null"
                          edit_modules_report:
                            type:
                              - boolean
                              - "null"
                          emotion_access:
                            type:
                              - boolean
                              - "null"
                          invite:
                            type:
                              - boolean
                              - "null"
                          list_group_alerts:
                            type:
                              - boolean
                              - "null"
                          list_team_reports:
                            type:
                              - boolean
                              - "null"
                          publish_access:
                            type:
                              - boolean
                              - "null"
                          publish_collaboration:
                            type:
                              - boolean
                              - "null"
                          read_dashboards:
                            type:
                              - boolean
                              - "null"
                          read_demoalert:
                            type:
                              - boolean
                              - "null"
                          read_groups:
                            type:
                              - boolean
                              - "null"
                          read_integrations:
                            type:
                              - boolean
                              - "null"
                          read_plansnotifications:
                            type:
                              - boolean
                              - "null"
                          read_quotastats:
                            type:
                              - boolean
                              - "null"
                          read_reports:
                            type:
                              - boolean
                              - "null"
                          read_scheduledreports:
                            type:
                              - boolean
                              - "null"
                          read_socialaccounts:
                            type:
                              - boolean
                              - "null"
                          read_teamSocialAccounts:
                            type:
                              - boolean
                              - "null"
                          read_teammembers:
                            type:
                              - boolean
                              - "null"
                          read_teamrequests:
                            type:
                              - boolean
                              - "null"
                          request_demo:
                            type:
                              - boolean
                              - "null"
                          respond_access:
                            type:
                              - boolean
                              - "null"
                          toggle_highlight:
                            type:
                              - boolean
                              - "null"
                      publish_approval_workflow_enabled:
                        type:
                          - boolean
                          - "null"
                hide_mark_all_read_mentions:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                language_code:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                notifications_preferences:
                  type:
                    - object
                    - "null"
                  properties:
                    alert_notifications:
                      type:
                        - object
                        - "null"
                      properties:
                        alert_notif_alert_shared_with_you:
                          type:
                            - object
                            - "null"
                          properties:
                            email:
                              type:
                                - boolean
                                - "null"
[...]
