@use "../../../../../scss/variables";

.container {
  display: flex;
  flex-direction: row;
  gap: variables.$spacing-md;
  justify-content: center;
  align-items: center;

  margin-top: variables.$spacing-lg;
}
