The user facing connector documentation should follow the guidelines defined in the [standard template](https://hackmd.io/Bz75cgATSbm7DjrAqgl4rw).

Check verifies that {{ header }} header section content follows standard template:

````
{{ template }}
````