version: 0.71.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - users
streams:
  - type: DeclarativeStream
    name: users
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          businessPhones:
            items:
              type:
                - 'null'
                - string
            type:
              - 'null'
              - array
          displayName:
            type:
              - 'null'
              - string
          givenName:
            type:
              - 'null'
              - string
          id:
            type:
              - 'null'
              - string
          jobTitle:
            type:
              - 'null'
              - string
          mail:
            type:
              - 'null'
              - string
          mobilePhone:
            type:
              - 'null'
              - string
          officeLocation:
            type:
              - 'null'
              - string
          preferredLanguage:
            type:
              - 'null'
              - string
          surname:
            type:
              - 'null'
              - string
          userPrincipalName:
            type:
              - 'null'
              - string
        type:
          - 'null'
          - object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0/
        path: users
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config[''client_id''] }}'
          client_secret: '{{ config[''client_secret''] }}'
          refresh_request_body:
            scope: https://graph.microsoft.com/.default
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
          grant_type: client_credentials
          scopes: []
          access_token_name: access_token
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: groups
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          classification:
            type:
              - 'null'
              - string
          createdDateTime:
            airbyte_type: timestamp_without_timezone
            format: date-time
            type:
              - 'null'
              - string
          creationOptions:
            items:
              type:
                - 'null'
                - string
            type:
              - 'null'
              - array
          deletedDateTime:
            airbyte_type: timestamp_without_timezone
            format: date-time
            type:
              - 'null'
              - string
          description:
            type:
              - 'null'
              - string
          displayName:
            type:
              - 'null'
              - string
          expirationDateTime:
            airbyte_type: timestamp_without_timezone
            format: date-time
            type:
              - 'null'
              - string
          groupTypes:
            items:
              type:
                - 'null'
                - string
            type:
              - 'null'
              - array
          id:
            type:
              - 'null'
              - string
          isAssignableToRole:
            type:
              - 'null'
              - boolean
          mail:
            type:
              - 'null'
              - string
          mailEnabled:
            type:
              - 'null'
              - boolean
          mailNickname:
            type:
              - 'null'
              - string
          membershipRule:
            type:
              - 'null'
              - string
          membershipRuleProcessingState:
            type:
              - 'null'
              - string
          onPremisesDomainName:
            type:
              - 'null'
              - string
          onPremisesLastSyncDateTime:
            format: date-time
            type:
              - 'null'
              - string
          onPremisesNetBiosName:
            type:
              - 'null'
              - string
          onPremisesProvisioningErrors:
            items:
              type:
                - 'null'
                - string
            type:
              - 'null'
              - array
          onPremisesSamAccountName:
            type:
              - 'null'
              - string
          onPremisesSecurityIdentifier:
            type:
              - 'null'
              - string
          onPremisesSyncEnabled:
            type:
              - 'null'
              - boolean
          preferredDataLocation:
            type:
              - 'null'
              - string
          preferredLanguage:
            type:
              - 'null'
              - string
          proxyAddresses:
            items:
              type:
                - 'null'
                - string
            type:
              - 'null'
              - array
          renewedDateTime:
            airbyte_type: timestamp_without_timezone
            format: date-time
            type:
              - 'null'
              - string
          resourceBehaviorOptions:
            items:
              type:
                - 'null'
                - string
            type:
              - 'null'
              - array
          resourceProvisioningOptions:
            items:
              type:
                - 'null'
                - string
            type:
              - 'null'
              - array
          securityEnabled:
            type:
              - 'null'
              - boolean
          securityIdentifier:
            type:
              - 'null'
              - string
          serviceProvisioningErrors:
            items:
              properties:
                createdDateTime:
                  airbyte_type: timestamp_without_timezone
                  format: date-time
                  type:
                    - 'null'
                    - string
                isResolved:
                  type:
                    - 'null'
                    - boolean
                serviceInstance:
                  type:
                    - 'null'
                    - string
              type:
                - 'null'
                - object
            type:
              - 'null'
              - array
          theme:
            type:
              - 'null'
              - string
          visibility:
            type:
              - 'null'
              - string
        type:
          - 'null'
          - object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0/
        path: groups
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config[''client_id''] }}'
          client_secret: '{{ config[''client_secret''] }}'
          refresh_request_body:
            scope: https://graph.microsoft.com/.default
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
          grant_type: client_credentials
          scopes: []
          access_token_name: access_token
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: group_members
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type:
          - 'null'
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - 'null'
              - string
          '@odata.type':
            type:
              - 'null'
              - string
          businessPhones:
            type:
              - 'null'
              - array
            items:
              type:
                - 'null'
                - string
          displayName:
            type:
              - 'null'
              - string
          givenName:
            type:
              - 'null'
              - string
          jobTitle:
            type:
              - 'null'
              - string
          mail:
            type:
              - 'null'
              - string
          mobilePhone:
            type:
              - 'null'
              - string
          officeLocation:
            type:
              - 'null'
              - string
          preferredLanguage:
            type:
              - 'null'
              - string
          surname:
            type:
              - 'null'
              - string
          userPrincipalName:
            type:
              - 'null'
              - string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0/
        path: groups/{{ stream_partition.group_id }}/members
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config[''client_id''] }}'
          client_secret: '{{ config[''client_secret''] }}'
          refresh_request_body:
            scope: https://graph.microsoft.com/.default
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
          grant_type: client_credentials
          scopes: []
          access_token_name: access_token
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: NoPagination
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                type: DeclarativeStream
                name: groups
                primary_key: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      classification:
                        type:
                          - 'null'
                          - string
                      createdDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      creationOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      deletedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      description:
                        type:
                          - 'null'
                          - string
                      displayName:
                        type:
                          - 'null'
                          - string
                      expirationDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      groupTypes:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      id:
                        type:
                          - 'null'
                          - string
                      isAssignableToRole:
                        type:
                          - 'null'
                          - boolean
                      mail:
                        type:
                          - 'null'
                          - string
                      mailEnabled:
                        type:
                          - 'null'
                          - boolean
                      mailNickname:
                        type:
                          - 'null'
                          - string
                      membershipRule:
                        type:
                          - 'null'
                          - string
                      membershipRuleProcessingState:
                        type:
                          - 'null'
                          - string
                      onPremisesDomainName:
                        type:
                          - 'null'
                          - string
                      onPremisesLastSyncDateTime:
                        format: date-time
                        type:
                          - 'null'
                          - string
                      onPremisesNetBiosName:
                        type:
                          - 'null'
                          - string
                      onPremisesProvisioningErrors:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      onPremisesSamAccountName:
                        type:
                          - 'null'
                          - string
                      onPremisesSecurityIdentifier:
                        type:
                          - 'null'
                          - string
                      onPremisesSyncEnabled:
                        type:
                          - 'null'
                          - boolean
                      preferredDataLocation:
                        type:
                          - 'null'
                          - string
                      preferredLanguage:
                        type:
                          - 'null'
                          - string
                      proxyAddresses:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      renewedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      resourceBehaviorOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      resourceProvisioningOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      securityEnabled:
                        type:
                          - 'null'
                          - boolean
                      securityIdentifier:
                        type:
                          - 'null'
                          - string
                      serviceProvisioningErrors:
                        items:
                          properties:
                            createdDateTime:
                              airbyte_type: timestamp_without_timezone
                              format: date-time
                              type:
                                - 'null'
                                - string
                            isResolved:
                              type:
                                - 'null'
                                - boolean
                            serviceInstance:
                              type:
                                - 'null'
                                - string
                          type:
                            - 'null'
                            - object
                        type:
                          - 'null'
                          - array
                      theme:
                        type:
                          - 'null'
                          - string
                      visibility:
                        type:
                          - 'null'
                          - string
                    type:
                      - 'null'
                      - object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://graph.microsoft.com/v1.0/
                    path: groups
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: OAuthAuthenticator
                      client_id: '{{ config[''client_id''] }}'
                      client_secret: '{{ config[''client_secret''] }}'
                      refresh_request_body:
                        scope: https://graph.microsoft.com/.default
                      token_refresh_endpoint: >-
                        https://login.microsoftonline.com/{{ config['tenant_id']
                        }}/oauth2/v2.0/token
                      grant_type: client_credentials
                      scopes: []
                      access_token_name: access_token
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - value
                  paginator:
                    type: NoPagination
  - type: DeclarativeStream
    name: group_owners
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type:
          - 'null'
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - 'null'
              - string
          groupId:
            type:
              - 'null'
              - string
          '@odata.type':
            type:
              - 'null'
              - string
          businessPhones:
            type:
              - 'null'
              - array
            items:
              type:
                - 'null'
                - string
          displayName:
            type:
              - 'null'
              - string
          givenName:
            type:
              - 'null'
              - string
          jobTitle:
            type:
              - 'null'
              - string
          mail:
            type:
              - 'null'
              - string
          mobilePhone:
            type:
              - 'null'
              - string
          officeLocation:
            type:
              - 'null'
              - string
          preferredLanguage:
            type:
              - 'null'
              - string
          surname:
            type:
              - 'null'
              - string
          userPrincipalName:
            type:
              - 'null'
              - string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0/
        path: groups/{{ stream_partition.group_id }}/owners
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config[''client_id''] }}'
          client_secret: '{{ config[''client_secret''] }}'
          refresh_request_body:
            scope: https://graph.microsoft.com/.default
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
          grant_type: client_credentials
          scopes: []
          access_token_name: access_token
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: NoPagination
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                type: DeclarativeStream
                name: groups
                primary_key: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      classification:
                        type:
                          - 'null'
                          - string
                      createdDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      creationOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      deletedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      description:
                        type:
                          - 'null'
                          - string
                      displayName:
                        type:
                          - 'null'
                          - string
                      expirationDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      groupTypes:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      id:
                        type:
                          - 'null'
                          - string
                      isAssignableToRole:
                        type:
                          - 'null'
                          - boolean
                      mail:
                        type:
                          - 'null'
                          - string
                      mailEnabled:
                        type:
                          - 'null'
                          - boolean
                      mailNickname:
                        type:
                          - 'null'
                          - string
                      membershipRule:
                        type:
                          - 'null'
                          - string
                      membershipRuleProcessingState:
                        type:
                          - 'null'
                          - string
                      onPremisesDomainName:
                        type:
                          - 'null'
                          - string
                      onPremisesLastSyncDateTime:
                        format: date-time
                        type:
                          - 'null'
                          - string
                      onPremisesNetBiosName:
                        type:
                          - 'null'
                          - string
                      onPremisesProvisioningErrors:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      onPremisesSamAccountName:
                        type:
                          - 'null'
                          - string
                      onPremisesSecurityIdentifier:
                        type:
                          - 'null'
                          - string
                      onPremisesSyncEnabled:
                        type:
                          - 'null'
                          - boolean
                      preferredDataLocation:
                        type:
                          - 'null'
                          - string
                      preferredLanguage:
                        type:
                          - 'null'
                          - string
                      proxyAddresses:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      renewedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      resourceBehaviorOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      resourceProvisioningOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      securityEnabled:
                        type:
                          - 'null'
                          - boolean
                      securityIdentifier:
                        type:
                          - 'null'
                          - string
                      serviceProvisioningErrors:
                        items:
                          properties:
                            createdDateTime:
                              airbyte_type: timestamp_without_timezone
                              format: date-time
                              type:
                                - 'null'
                                - string
                            isResolved:
                              type:
                                - 'null'
                                - boolean
                            serviceInstance:
                              type:
                                - 'null'
                                - string
                          type:
                            - 'null'
                            - object
                        type:
                          - 'null'
                          - array
                      theme:
                        type:
                          - 'null'
                          - string
                      visibility:
                        type:
                          - 'null'
                          - string
                    type:
                      - 'null'
                      - object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://graph.microsoft.com/v1.0/
                    path: groups
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: OAuthAuthenticator
                      client_id: '{{ config[''client_id''] }}'
                      client_secret: '{{ config[''client_secret''] }}'
                      refresh_request_body:
                        scope: https://graph.microsoft.com/.default
                      token_refresh_endpoint: >-
                        https://login.microsoftonline.com/{{ config['tenant_id']
                        }}/oauth2/v2.0/token
                      grant_type: client_credentials
                      scopes: []
                      access_token_name: access_token
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - value
                  paginator:
                    type: NoPagination
  - type: DeclarativeStream
    name: conversations
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type:
          - 'null'
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - 'null'
              - string
          groupId:
            type:
              - 'null'
              - string
          topic:
            type:
              - 'null'
              - string
          hasAttachments:
            type:
              - 'null'
              - boolean
          lastDeliveredDateTime:
            type:
              - 'null'
              - string
            format: date-time
            airbyte_type: timestamp_without_timezone
          uniqueSenders:
            type:
              - 'null'
              - array
            items:
              type:
                - 'null'
                - string
          preview:
            type:
              - 'null'
              - string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0/
        path: groups/{{ stream_partition.group_id }}/conversations
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config[''client_id''] }}'
          client_secret: '{{ config[''client_secret''] }}'
          refresh_request_body:
            scope: https://graph.microsoft.com/.default
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
          grant_type: client_credentials
          scopes: []
          access_token_name: access_token
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  http_codes:
                    - 403
                  error_message: App only access is restricting some resources
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: NoPagination
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                type: DeclarativeStream
                name: groups
                primary_key: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      classification:
                        type:
                          - 'null'
                          - string
                      createdDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      creationOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      deletedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      description:
                        type:
                          - 'null'
                          - string
                      displayName:
                        type:
                          - 'null'
                          - string
                      expirationDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      groupTypes:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      id:
                        type:
                          - 'null'
                          - string
                      isAssignableToRole:
                        type:
                          - 'null'
                          - boolean
                      mail:
                        type:
                          - 'null'
                          - string
                      mailEnabled:
                        type:
                          - 'null'
                          - boolean
                      mailNickname:
                        type:
                          - 'null'
                          - string
                      membershipRule:
                        type:
                          - 'null'
                          - string
                      membershipRuleProcessingState:
                        type:
                          - 'null'
                          - string
                      onPremisesDomainName:
                        type:
                          - 'null'
                          - string
                      onPremisesLastSyncDateTime:
                        format: date-time
                        type:
                          - 'null'
                          - string
                      onPremisesNetBiosName:
                        type:
                          - 'null'
                          - string
                      onPremisesProvisioningErrors:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      onPremisesSamAccountName:
                        type:
                          - 'null'
                          - string
                      onPremisesSecurityIdentifier:
                        type:
                          - 'null'
                          - string
                      onPremisesSyncEnabled:
                        type:
                          - 'null'
                          - boolean
                      preferredDataLocation:
                        type:
                          - 'null'
                          - string
                      preferredLanguage:
                        type:
                          - 'null'
                          - string
                      proxyAddresses:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      renewedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      resourceBehaviorOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      resourceProvisioningOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      securityEnabled:
                        type:
                          - 'null'
                          - boolean
                      securityIdentifier:
                        type:
                          - 'null'
                          - string
                      serviceProvisioningErrors:
                        items:
                          properties:
                            createdDateTime:
                              airbyte_type: timestamp_without_timezone
                              format: date-time
                              type:
                                - 'null'
                                - string
                            isResolved:
                              type:
                                - 'null'
                                - boolean
                            serviceInstance:
                              type:
                                - 'null'
                                - string
                          type:
                            - 'null'
                            - object
                        type:
                          - 'null'
                          - array
                      theme:
                        type:
                          - 'null'
                          - string
                      visibility:
                        type:
                          - 'null'
                          - string
                    type:
                      - 'null'
                      - object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://graph.microsoft.com/v1.0/
                    path: groups
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: OAuthAuthenticator
                      client_id: '{{ config[''client_id''] }}'
                      client_secret: '{{ config[''client_secret''] }}'
                      refresh_request_body:
                        scope: https://graph.microsoft.com/.default
                      token_refresh_endpoint: >-
                        https://login.microsoftonline.com/{{ config['tenant_id']
                        }}/oauth2/v2.0/token
                      grant_type: client_credentials
                      scopes: []
                      access_token_name: access_token
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - value
                  paginator:
                    type: NoPagination
  - type: DeclarativeStream
    name: channels
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type:
          - 'null'
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - 'null'
              - string
          createdDateTime:
            type: string
            format: date-time
            airbyte_type: timestamp_without_timezone
          displayName:
            type:
              - 'null'
              - string
          description:
            type:
              - 'null'
              - string
          email:
            type:
              - 'null'
              - string
          isFavoriteByDefault:
            type:
              - 'null'
              - boolean
          membershipType:
            type:
              - 'null'
              - string
          tenantId:
            type:
              - 'null'
              - string
          webUrl:
            type:
              - 'null'
              - string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0/
        path: teams/{{ stream_partition.group_id }}/channels
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config[''client_id''] }}'
          client_secret: '{{ config[''client_secret''] }}'
          refresh_request_body:
            scope: https://graph.microsoft.com/.default
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
          grant_type: client_credentials
          scopes: []
          access_token_name: access_token
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  predicate: '{{ ''No threadId found for TeamId'' in response }}'
                  http_codes:
                    - 404
                  error_message: Resource not found for team Ids
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: NoPagination
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                type: DeclarativeStream
                name: groups
                primary_key: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      classification:
                        type:
                          - 'null'
                          - string
                      createdDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      creationOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      deletedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      description:
                        type:
                          - 'null'
                          - string
                      displayName:
                        type:
                          - 'null'
                          - string
                      expirationDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      groupTypes:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      id:
                        type:
                          - 'null'
                          - string
                      isAssignableToRole:
                        type:
                          - 'null'
                          - boolean
                      mail:
                        type:
                          - 'null'
                          - string
                      mailEnabled:
                        type:
                          - 'null'
                          - boolean
                      mailNickname:
                        type:
                          - 'null'
                          - string
                      membershipRule:
                        type:
                          - 'null'
                          - string
                      membershipRuleProcessingState:
                        type:
                          - 'null'
                          - string
                      onPremisesDomainName:
                        type:
                          - 'null'
                          - string
                      onPremisesLastSyncDateTime:
                        format: date-time
                        type:
                          - 'null'
                          - string
                      onPremisesNetBiosName:
                        type:
                          - 'null'
                          - string
                      onPremisesProvisioningErrors:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      onPremisesSamAccountName:
                        type:
                          - 'null'
                          - string
                      onPremisesSecurityIdentifier:
                        type:
                          - 'null'
                          - string
                      onPremisesSyncEnabled:
                        type:
                          - 'null'
                          - boolean
                      preferredDataLocation:
                        type:
                          - 'null'
                          - string
                      preferredLanguage:
                        type:
                          - 'null'
                          - string
                      proxyAddresses:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      renewedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      resourceBehaviorOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      resourceProvisioningOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      securityEnabled:
                        type:
                          - 'null'
                          - boolean
                      securityIdentifier:
                        type:
                          - 'null'
                          - string
                      serviceProvisioningErrors:
                        items:
                          properties:
                            createdDateTime:
                              airbyte_type: timestamp_without_timezone
                              format: date-time
                              type:
                                - 'null'
                                - string
                            isResolved:
                              type:
                                - 'null'
                                - boolean
                            serviceInstance:
                              type:
                                - 'null'
                                - string
                          type:
                            - 'null'
                            - object
                        type:
                          - 'null'
                          - array
                      theme:
                        type:
                          - 'null'
                          - string
                      visibility:
                        type:
                          - 'null'
                          - string
                    type:
                      - 'null'
                      - object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://graph.microsoft.com/v1.0/
                    path: groups
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: OAuthAuthenticator
                      client_id: '{{ config[''client_id''] }}'
                      client_secret: '{{ config[''client_secret''] }}'
                      refresh_request_body:
                        scope: https://graph.microsoft.com/.default
                      token_refresh_endpoint: >-
                        https://login.microsoftonline.com/{{ config['tenant_id']
                        }}/oauth2/v2.0/token
                      grant_type: client_credentials
                      scopes: []
                      access_token_name: access_token
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - value
                  paginator:
                    type: NoPagination
  - type: DeclarativeStream
    name: channel_members
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type:
          - 'null'
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - 'null'
              - string
          '@odata.type':
            type:
              - 'null'
              - string
          displayName:
            type:
              - 'null'
              - string
          roles:
            type:
              - 'null'
              - array
            items:
              type:
                - 'null'
                - string
          userId:
            type:
              - 'null'
              - string
          email:
            type:
              - 'null'
              - string
          channelId:
            type:
              - 'null'
              - string
          tenantId:
            type:
              - 'null'
              - string
          visibleHistoryStartDateTime:
            type:
              - 'null'
              - string
            format: date-time
            airbyte_type: timestamp_without_timezone
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0/
        path: >-
          teams/{{ stream_partition.group_id }}/channels/{{
          stream_partition.channel_id }}/members
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config[''client_id''] }}'
          client_secret: '{{ config[''client_secret''] }}'
          refresh_request_body:
            scope: https://graph.microsoft.com/.default
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
          grant_type: client_credentials
          scopes: []
          access_token_name: access_token
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  predicate: '{{ ''No Team found with Group id'' in response }}'
                  http_codes:
                    - 404
                  error_message: Resource not found for group Ids
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: NoPagination
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                type: DeclarativeStream
                name: groups
                primary_key: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      classification:
                        type:
                          - 'null'
                          - string
                      createdDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      creationOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      deletedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      description:
                        type:
                          - 'null'
                          - string
                      displayName:
                        type:
                          - 'null'
                          - string
                      expirationDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      groupTypes:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      id:
                        type:
                          - 'null'
                          - string
                      isAssignableToRole:
                        type:
                          - 'null'
                          - boolean
                      mail:
                        type:
                          - 'null'
                          - string
                      mailEnabled:
                        type:
                          - 'null'
                          - boolean
                      mailNickname:
                        type:
                          - 'null'
                          - string
                      membershipRule:
                        type:
                          - 'null'
                          - string
                      membershipRuleProcessingState:
                        type:
                          - 'null'
                          - string
                      onPremisesDomainName:
                        type:
                          - 'null'
                          - string
                      onPremisesLastSyncDateTime:
                        format: date-time
                        type:
                          - 'null'
                          - string
                      onPremisesNetBiosName:
                        type:
                          - 'null'
                          - string
                      onPremisesProvisioningErrors:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      onPremisesSamAccountName:
                        type:
                          - 'null'
                          - string
                      onPremisesSecurityIdentifier:
                        type:
                          - 'null'
                          - string
                      onPremisesSyncEnabled:
                        type:
                          - 'null'
                          - boolean
                      preferredDataLocation:
                        type:
                          - 'null'
                          - string
                      preferredLanguage:
                        type:
                          - 'null'
                          - string
                      proxyAddresses:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      renewedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      resourceBehaviorOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      resourceProvisioningOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      securityEnabled:
                        type:
                          - 'null'
                          - boolean
                      securityIdentifier:
                        type:
                          - 'null'
                          - string
                      serviceProvisioningErrors:
                        items:
                          properties:
                            createdDateTime:
                              airbyte_type: timestamp_without_timezone
                              format: date-time
                              type:
                                - 'null'
                                - string
                            isResolved:
                              type:
                                - 'null'
                                - boolean
                            serviceInstance:
                              type:
                                - 'null'
                                - string
                          type:
                            - 'null'
                            - object
                        type:
                          - 'null'
                          - array
                      theme:
                        type:
                          - 'null'
                          - string
                      visibility:
                        type:
                          - 'null'
                          - string
                    type:
                      - 'null'
                      - object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://graph.microsoft.com/v1.0/
                    path: groups
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: OAuthAuthenticator
                      client_id: '{{ config[''client_id''] }}'
                      client_secret: '{{ config[''client_secret''] }}'
                      refresh_request_body:
                        scope: https://graph.microsoft.com/.default
                      token_refresh_endpoint: >-
                        https://login.microsoftonline.com/{{ config['tenant_id']
                        }}/oauth2/v2.0/token
                      grant_type: client_credentials
                      scopes: []
                      access_token_name: access_token
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - value
                  paginator:
                    type: NoPagination
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: channel_id
              stream:
                type: DeclarativeStream
                name: channels
                primary_key: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/draft-07/schema#
                    type:
                      - 'null'
                      - object
                    additionalProperties: true
                    properties:
                      id:
                        type:
                          - 'null'
                          - string
                      createdDateTime:
                        type: string
                        format: date-time
                        airbyte_type: timestamp_without_timezone
                      displayName:
                        type:
                          - 'null'
                          - string
                      description:
                        type:
                          - 'null'
                          - string
                      email:
                        type:
                          - 'null'
                          - string
                      isFavoriteByDefault:
                        type:
                          - 'null'
                          - boolean
                      membershipType:
                        type:
                          - 'null'
                          - string
                      tenantId:
                        type:
                          - 'null'
                          - string
                      webUrl:
                        type:
                          - 'null'
                          - string
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://graph.microsoft.com/v1.0/
                    path: teams/{{ stream_partition.group_id }}/channels
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: OAuthAuthenticator
                      client_id: '{{ config[''client_id''] }}'
                      client_secret: '{{ config[''client_secret''] }}'
                      refresh_request_body:
                        scope: https://graph.microsoft.com/.default
                      token_refresh_endpoint: >-
                        https://login.microsoftonline.com/{{ config['tenant_id']
                        }}/oauth2/v2.0/token
                      grant_type: client_credentials
                      scopes: []
                      access_token_name: access_token
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              predicate: '{{ ''No threadId found for TeamId'' in response }}'
                              http_codes:
                                - 404
                              error_message: Resource not found for team Ids
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - value
                  paginator:
                    type: NoPagination
                  partition_router:
                    - type: SubstreamPartitionRouter
                      parent_stream_configs:
                        - type: ParentStreamConfig
                          parent_key: id
                          partition_field: group_id
                          stream:
                            type: DeclarativeStream
                            name: groups
                            primary_key: []
                            schema_loader:
                              type: InlineSchemaLoader
                              schema:
                                $schema: http://json-schema.org/draft-07/schema#
                                additionalProperties: true
                                properties:
                                  classification:
                                    type:
                                      - 'null'
                                      - string
                                  createdDateTime:
                                    airbyte_type: timestamp_without_timezone
                                    format: date-time
                                    type:
                                      - 'null'
                                      - string
                                  creationOptions:
                                    items:
                                      type:
                                        - 'null'
                                        - string
                                    type:
                                      - 'null'
                                      - array
                                  deletedDateTime:
                                    airbyte_type: timestamp_without_timezone
                                    format: date-time
                                    type:
                                      - 'null'
                                      - string
                                  description:
                                    type:
                                      - 'null'
                                      - string
                                  displayName:
                                    type:
                                      - 'null'
                                      - string
                                  expirationDateTime:
                                    airbyte_type: timestamp_without_timezone
                                    format: date-time
                                    type:
                                      - 'null'
                                      - string
                                  groupTypes:
                                    items:
                                      type:
                                        - 'null'
                                        - string
                                    type:
                                      - 'null'
                                      - array
                                  id:
                                    type:
                                      - 'null'
                                      - string
                                  isAssignableToRole:
                                    type:
                                      - 'null'
                                      - boolean
                                  mail:
                                    type:
                                      - 'null'
                                      - string
                                  mailEnabled:
                                    type:
                                      - 'null'
                                      - boolean
                                  mailNickname:
                                    type:
                                      - 'null'
                                      - string
                                  membershipRule:
                                    type:
                                      - 'null'
                                      - string
                                  membershipRuleProcessingState:
                                    type:
                                      - 'null'
                                      - string
                                  onPremisesDomainName:
                                    type:
                                      - 'null'
                                      - string
                                  onPremisesLastSyncDateTime:
                                    format: date-time
                                    type:
                                      - 'null'
                                      - string
                                  onPremisesNetBiosName:
                                    type:
                                      - 'null'
                                      - string
                                  onPremisesProvisioningErrors:
                                    items:
                                      type:
                                        - 'null'
                                        - string
                                    type:
                                      - 'null'
                                      - array
                                  onPremisesSamAccountName:
                                    type:
                                      - 'null'
                                      - string
                                  onPremisesSecurityIdentifier:
                                    type:
                                      - 'null'
                                      - string
                                  onPremisesSyncEnabled:
                                    type:
                                      - 'null'
                                      - boolean
                                  preferredDataLocation:
                                    type:
                                      - 'null'
                                      - string
                                  preferredLanguage:
                                    type:
                                      - 'null'
                                      - string
                                  proxyAddresses:
                                    items:
                                      type:
                                        - 'null'
                                        - string
                                    type:
                                      - 'null'
                                      - array
                                  renewedDateTime:
                                    airbyte_type: timestamp_without_timezone
                                    format: date-time
                                    type:
                                      - 'null'
                                      - string
                                  resourceBehaviorOptions:
                                    items:
                                      type:
                                        - 'null'
                                        - string
                                    type:
                                      - 'null'
                                      - array
                                  resourceProvisioningOptions:
                                    items:
                                      type:
                                        - 'null'
                                        - string
                                    type:
                                      - 'null'
                                      - array
                                  securityEnabled:
                                    type:
                                      - 'null'
                                      - boolean
                                  securityIdentifier:
                                    type:
                                      - 'null'
                                      - string
                                  serviceProvisioningErrors:
                                    items:
                                      properties:
                                        createdDateTime:
                                          airbyte_type: timestamp_without_timezone
                                          format: date-time
                                          type:
                                            - 'null'
                                            - string
                                        isResolved:
                                          type:
                                            - 'null'
                                            - boolean
                                        serviceInstance:
                                          type:
                                            - 'null'
                                            - string
                                      type:
                                        - 'null'
                                        - object
                                    type:
                                      - 'null'
                                      - array
                                  theme:
                                    type:
                                      - 'null'
                                      - string
                                  visibility:
                                    type:
                                      - 'null'
                                      - string
                                type:
                                  - 'null'
                                  - object
                            retriever:
                              type: SimpleRetriever
                              requester:
                                type: HttpRequester
                                url_base: https://graph.microsoft.com/v1.0/
                                path: groups
                                http_method: GET
                                request_parameters: {}
                                request_headers: {}
                                authenticator:
                                  type: OAuthAuthenticator
                                  client_id: '{{ config[''client_id''] }}'
                                  client_secret: '{{ config[''client_secret''] }}'
                                  refresh_request_body:
                                    scope: https://graph.microsoft.com/.default
                                  token_refresh_endpoint: >-
                                    https://login.microsoftonline.com/{{
                                    config['tenant_id'] }}/oauth2/v2.0/token
                                  grant_type: client_credentials
                                  scopes: []
                                  access_token_name: access_token
                                request_body_json: {}
                              record_selector:
                                type: RecordSelector
                                extractor:
                                  type: DpathExtractor
                                  field_path:
                                    - value
                              paginator:
                                type: NoPagination
  - type: DeclarativeStream
    name: channel_tabs
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type:
          - 'null'
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - 'null'
              - string
          groupId:
            type:
              - 'null'
              - string
          channelId:
            type:
              - 'null'
              - string
          displayName:
            type:
              - 'null'
              - string
          webUrl:
            type:
              - 'null'
              - string
          sortOrderIndex:
            type:
              - 'null'
              - string
          teamsApp:
            type:
              - 'null'
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - 'null'
                  - string
              displayName:
                type:
                  - 'null'
                  - string
              distributionMethod:
                type:
                  - 'null'
                  - string
          configuration:
            type:
              - 'null'
              - object
            additionalProperties: true
            properties:
              entityId:
                type:
                  - 'null'
                  - string
              contentUrl:
                type:
                  - 'null'
                  - string
              removeUrl:
                type:
                  - 'null'
                  - string
              websiteUrl:
                type:
                  - 'null'
                  - string
              wikiTabId:
                type:
                  - 'null'
                  - integer
              wikiDefaultTab:
                type:
                  - 'null'
                  - boolean
              hasContent:
                type:
                  - 'null'
                  - boolean
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0/
        path: >-
          teams/{{ stream_partition.group_id }}/channels/{{
          stream_partition.channel_id }}/tabs
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config[''client_id''] }}'
          client_secret: '{{ config[''client_secret''] }}'
          refresh_request_body:
            scope: https://graph.microsoft.com/.default
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
          grant_type: client_credentials
          scopes: []
          access_token_name: access_token
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: IGNORE
                  predicate: '{{ ''No Team found with Group id'' in response }}'
                  http_codes:
                    - 404
                  error_message: Resource not found for group Ids
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: NoPagination
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                type: DeclarativeStream
                name: groups
                primary_key: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      classification:
                        type:
                          - 'null'
                          - string
                      createdDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      creationOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      deletedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      description:
                        type:
                          - 'null'
                          - string
                      displayName:
                        type:
                          - 'null'
                          - string
                      expirationDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      groupTypes:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      id:
                        type:
                          - 'null'
                          - string
                      isAssignableToRole:
                        type:
                          - 'null'
                          - boolean
                      mail:
                        type:
                          - 'null'
                          - string
                      mailEnabled:
                        type:
                          - 'null'
                          - boolean
                      mailNickname:
                        type:
                          - 'null'
                          - string
                      membershipRule:
                        type:
                          - 'null'
                          - string
                      membershipRuleProcessingState:
                        type:
                          - 'null'
                          - string
                      onPremisesDomainName:
                        type:
                          - 'null'
                          - string
                      onPremisesLastSyncDateTime:
                        format: date-time
                        type:
                          - 'null'
                          - string
                      onPremisesNetBiosName:
                        type:
                          - 'null'
                          - string
                      onPremisesProvisioningErrors:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      onPremisesSamAccountName:
                        type:
                          - 'null'
                          - string
                      onPremisesSecurityIdentifier:
                        type:
                          - 'null'
                          - string
                      onPremisesSyncEnabled:
                        type:
                          - 'null'
                          - boolean
                      preferredDataLocation:
                        type:
                          - 'null'
                          - string
                      preferredLanguage:
                        type:
                          - 'null'
                          - string
                      proxyAddresses:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      renewedDateTime:
                        airbyte_type: timestamp_without_timezone
                        format: date-time
                        type:
                          - 'null'
                          - string
                      resourceBehaviorOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      resourceProvisioningOptions:
                        items:
                          type:
                            - 'null'
                            - string
                        type:
                          - 'null'
                          - array
                      securityEnabled:
                        type:
                          - 'null'
                          - boolean
                      securityIdentifier:
                        type:
                          - 'null'
                          - string
                      serviceProvisioningErrors:
                        items:
                          properties:
                            createdDateTime:
                              airbyte_type: timestamp_without_timezone
                              format: date-time
                              type:
                                - 'null'
                                - string
                            isResolved:
                              type:
                                - 'null'
                                - boolean
                            serviceInstance:
                              type:
                                - 'null'
                                - string
                          type:
                            - 'null'
                            - object
                        type:
                          - 'null'
                          - array
                      theme:
                        type:
                          - 'null'
                          - string
                      visibility:
                        type:
                          - 'null'
                          - string
                    type:
                      - 'null'
                      - object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://graph.microsoft.com/v1.0/
                    path: groups
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: OAuthAuthenticator
                      client_id: '{{ config[''client_id''] }}'
                      client_secret: '{{ config[''client_secret''] }}'
                      refresh_request_body:
                        scope: https://graph.microsoft.com/.default
                      token_refresh_endpoint: >-
                        https://login.microsoftonline.com/{{ config['tenant_id']
                        }}/oauth2/v2.0/token
                      grant_type: client_credentials
                      scopes: []
                      access_token_name: access_token
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - value
                  paginator:
                    type: NoPagination
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: channel_id
              stream:
                type: DeclarativeStream
                name: channels
                primary_key: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/draft-07/schema#
                    type:
                      - 'null'
                      - object
                    additionalProperties: true
                    properties:
                      id:
                        type:
                          - 'null'
                          - string
                      createdDateTime:
                        type: string
                        format: date-time
                        airbyte_type: timestamp_without_timezone
                      displayName:
                        type:
                          - 'null'
                          - string
                      description:
                        type:
                          - 'null'
                          - string
                      email:
                        type:
                          - 'null'
                          - string
                      isFavoriteByDefault:
                        type:
                          - 'null'
                          - boolean
                      membershipType:
                        type:
                          - 'null'
                          - string
                      tenantId:
                        type:
                          - 'null'
                          - string
                      webUrl:
                        type:
                          - 'null'
                          - string
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://graph.microsoft.com/v1.0/
                    path: teams/{{ stream_partition.group_id }}/channels
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: OAuthAuthenticator
                      client_id: '{{ config[''client_id''] }}'
                      client_secret: '{{ config[''client_secret''] }}'
                      refresh_request_body:
                        scope: https://graph.microsoft.com/.default
                      token_refresh_endpoint: >-
                        https://login.microsoftonline.com/{{ config['tenant_id']
                        }}/oauth2/v2.0/token
                      grant_type: client_credentials
                      scopes: []
                      access_token_name: access_token
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          response_filters:
                            - type: HttpResponseFilter
                              action: IGNORE
                              predicate: '{{ ''No threadId found for TeamId'' in response }}'
                              http_codes:
                                - 404
                              error_message: Resource not found for team Ids
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - value
                  paginator:
                    type: NoPagination
                  partition_router:
                    - type: SubstreamPartitionRouter
                      parent_stream_configs:
                        - type: ParentStreamConfig
                          parent_key: id
                          partition_field: group_id
                          stream:
                            type: DeclarativeStream
                            name: groups
                            primary_key: []
                            schema_loader:
                              type: InlineSchemaLoader
                              schema:
                                $schema: http://json-schema.org/draft-07/schema#
                                additionalProperties: true
                                properties:
                                  classification:
                                    type:
                                      - 'null'
                                      - string
                                  createdDateTime:
                                    airbyte_type: timestamp_without_timezone
                                    format: date-time
                                    type:
                                      - 'null'
                                      - string
                                  creationOptions:
                                    items:
                                      type:
                                        - 'null'
                                        - string
                                    type:
                                      - 'null'
                                      - array
                                  deletedDateTime:
                                    airbyte_type: timestamp_without_timezone
                                    format: date-time
                                    type:
                                      - 'null'
                                      - string
                                  description:
                                    type:
                                      - 'null'
                                      - string
                                  displayName:
                                    type:
                                      - 'null'
                                      - string
                                  expirationDateTime:
                                    airbyte_type: timestamp_without_timezone
                                    format: date-time
                                    type:
                                      - 'null'
                                      - string
                                  groupTypes:
                                    items:
                                      type:
                                        - 'null'
                                        - string
                                    type:
                                      - 'null'
                                      - array
                                  id:
                                    type:
                                      - 'null'
                                      - string
                                  isAssignableToRole:
                                    type:
                                      - 'null'
                                      - boolean
                                  mail:
                                    type:
                                      - 'null'
                                      - string
                                  mailEnabled:
                                    type:
                                      - 'null'
                                      - boolean
                                  mailNickname:
                                    type:
                                      - 'null'
                                      - string
                                  membershipRule:
                                    type:
                                      - 'null'
                                      - string
[...]
