version: 5.15.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    items:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          limit: 1
          nested_limit: 20
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'ComplexityException' }}
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'complexityBudgetExhausted' }}
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 502
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.MondayIncrementalItemsExtractor
            field_path:
              - data
              - boards
              - "*"
              - items_page
              - items
              - "*"
            field_path_pagination:
              - data
              - next_items_page
              - items
              - "*"
            field_path_incremental:
              - data
              - items
              - "*"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: CustomPaginationStrategy
            class_name: >-
              source_declarative_manifest.components.ItemCursorPaginationStrategy
            page_size: 20
      name: items
      primary_key:
        - id
      incremental_sync:
        type: CustomIncrementalSync
        class_name: source_declarative_manifest.components.IncrementalSubstreamSlicer
        cursor_field: updated_at_int
        nested_items_per_page: 20
        parent_complete_fetch: true
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/streams/activity_logs"
            partition_field: ids
            parent_key: "pulse_id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/items"
    boards:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          limit: 10
          nested_limit: 10
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'ComplexityException' }}
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'complexityBudgetExhausted' }}
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 502
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.MondayIncrementalItemsExtractor
            field_path:
              - data
              - boards
              - "*"
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
      name: boards
      primary_key:
        - id
      incremental_sync:
        type: CustomIncrementalSync
        class_name: source_declarative_manifest.components.IncrementalSubstreamSlicer
        cursor_field: updated_at_int
        nested_items_per_page: 10
        parent_complete_fetch: true
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/streams/activity_logs"
            partition_field: ids
            parent_key: "board_id"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/boards"
    tags:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          nested_limit: 1
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'ComplexityException' }}
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'complexityBudgetExhausted' }}
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 502
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - tags
      name: tags
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    teams:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          nested_limit: 1
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'ComplexityException' }}
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'complexityBudgetExhausted' }}
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 502
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - teams
      name: teams
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    updates:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          nested_limit: 1
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'ComplexityException' }}
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'complexityBudgetExhausted' }}
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 502
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - updates
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      name: updates
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/updates"
    users:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          nested_limit: 1
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'ComplexityException' }}
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'complexityBudgetExhausted' }}
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 502
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - users
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      name: users
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    workspaces:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        requester:
          nested_limit: 1
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'ComplexityException' }}
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'complexityBudgetExhausted' }}
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 502
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - workspaces
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      name: workspaces
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workspaces"
    activity_logs:
      type: DeclarativeStream
      description: >-
        https://developers.intercom.com/intercom-api-reference/reference/scroll-over-all-companies
      retriever:
        type: SimpleRetriever
        requester:
          limit: 1
          nested_limit: 50
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'ComplexityException' }}
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 60
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: >-
                      {{ 'error_code' in response and response['error_code'] ==
                      'complexityBudgetExhausted' }}
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 500
                      - 502
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.MondayActivityExtractor
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: CustomPaginationStrategy
            class_name: source_declarative_manifest.components.ItemPaginationStrategy
            page_size: 50
      name: activity_logs
      primary_key:
        - id
      incremental_sync:
        type: CustomIncrementalSync
        class_name: source_declarative_manifest.components.IncrementalSingleSlice
        cursor_field: created_at_int
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_logs"
  base_requester:
    type: CustomRequester
    class_name: "source_declarative_manifest.components.MondayGraphqlRequester"
    url_base: "https://api.monday.com/v2"
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config.get('credentials', {}).get('api_token') if config.get('credentials', {}).get('auth_type') == 'api_token' else config.get('credentials', {}).get('access_token') if config.get('credentials', {}).get('auth_type') == 'oauth2.0' else config.get('api_token', '') }}"

streams:
  - $ref: "#/definitions/streams/items"
  - $ref: "#/definitions/streams/boards"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/updates"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/workspaces"
  - $ref: "#/definitions/streams/activity_logs"

spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required: []
    additionalProperties: true
    properties:
      credentials:
        title: Authorization Method
        type: object
        oneOf:
        - type: object
          title: OAuth2.0
          required:
          - auth_type
          - client_id
          - client_secret
          - access_token
          properties:
            subdomain:
              type: string
              title: Subdomain/Slug
              description: Slug/subdomain of the account, or the first part of the URL
                that comes before .monday.com
              default: ''
              order: 0
            auth_type:
              type: string
              const: oauth2.0
              order: 1
            client_id:
              type: string
              title: Client ID
              description: The Client ID of your OAuth application.
              airbyte_secret: true
            client_secret:
              type: string
              title: Client Secret
              description: The Client Secret of your OAuth application.
              airbyte_secret: true
            access_token:
              type: string
              title: Access Token
              description: Access Token for making authenticated requests.
              airbyte_secret: true
        - type: object
          title: API Token
          required:
          - auth_type
          - api_token
          properties:
            auth_type:
              type: string
              const: api_token
              order: 0
            api_token:
              type: string
              title: Personal API Token
              description: API Token for making authenticated requests.
              airbyte_secret: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
    - credentials
    - auth_type
    predicate_value: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          access_token:
            type: string
            path_in_connector_config:
            - credentials
            - access_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
            - credentials
            - client_id
          client_secret:
            type: string
            path_in_connector_config:
            - credentials
            - client_secret
      oauth_connector_input_specification:
        scope: me:read boards:read workspaces:read users:read account:read updates:read assets:read tags:read teams:read
        consent_url: https://auth.monday.com/oauth2/authorize?{{client_id_param}}&{{redirect_uri_param}}&{{scope_param}}&{{state_param}}&subdomain={{subdomain}}
        access_token_url: https://auth.monday.com/oauth2/token?{{client_id_param}}&{{client_secret_param}}&{{auth_code_param}}&{{redirect_uri_param}}
        extract_output:
          - access_token
      oauth_user_input_from_connector_config_specification:
        type: object
        additionalProperties: false
        properties:
          subdomain:
            type: string
            path_in_connector_config:
            - credentials
            - subdomain

metadata:
  autoImportSchema:
    items: false
    boards: false
    tags: false
    teams: false
    updates: false
    users: false
    workspaces: false
    activity_logs: false
  yamlComponents:
    streams:
      items:
        - paginator
        - incrementalSync
        - recordSelector
      boards:
        - incrementalSync
        - recordSelector
      activity_logs:
        - paginator
        - incrementalSync
        - recordSelector
    global:
      - authenticator
  testedStreams:
    items:
      streamHash: bc3966cf4eb72cfb22e9dd510f6055fb7b27da5c
    boards:
      streamHash: 6e2944337b8b113e928b0d958d61cc1e14dfc1d0
    tags:
      streamHash: 5f5a0961543782904af0a992c48cd276b437cf5e
    teams:
      streamHash: 36213107a405acbe0bd53d467aeb7338b1b41845
    updates:
      streamHash: 912722fb5ce9224e22c70e86d4bd48203bb4c475
    users:
      streamHash: 4094194b6b6dbd1767ca5ac5b86f262b2a90fe2e
    workspaces:
      streamHash: 2d265e84f82ee5cd16172ab0f526f499a267ea4b
    activity_logs:
      streamHash: e4bcc10f8963b2202b5ce5328c8a9510f15daed3
  assist: {}

schemas:
  items:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      assets:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            created_at:
              type:
                - "null"
                - string
              format: date-time
            file_extension:
              type:
                - "null"
                - string
            file_size:
              type:
                - "null"
                - integer
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            original_geometry:
              type:
                - "null"
                - string
            public_url:
              type:
                - "null"
                - string
            uploaded_by:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - string
            url:
              type:
                - "null"
                - string
            url_thumbnail:
              type:
                - "null"
                - string
      board:
        type:
          - "null"
          - object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      column_values:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            display_value:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            text:
              type:
                - "null"
                - string
            value:
              type:
                - "null"
                - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      creator_id:
        type:
          - "null"
          - string
      group:
        type:
          - "null"
          - object
        properties:
          id:
            type:
              - "null"
              - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      parent_item:
        type:
          - "null"
          - object
        properties:
          id:
            type:
              - "null"
              - string
      state:
        type:
          - "null"
          - string
      subscribers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at_int:
        type:
          - "null"
          - integer
      updates:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
  boards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      board_kind:
        type:
          - "null"
          - string
      columns:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            archived:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - string
            settings_str:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
            width:
              type:
                - "null"
                - integer
      communication:
        type:
          - "null"
          - string
      creator:
        type:
          - "null"
          - object
        properties:
          id:
            type:
              - "null"
              - string
      groups:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            archived:
              type:
                - "null"
                - boolean
            color:
              type:
                - "null"
                - string
            deleted:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - string
            position:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
      permissions:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
      subscribers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
      top_group:
        type:
          - "null"
          - object
        properties:
          id:
            type:
              - "null"
              - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at_int:
        type:
          - "null"
          - integer
      updates:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
      views:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            settings_str:
              type:
                - "null"
                - string
            view_specific_data_str:
              type:
                - "null"
                - string
      workspace:
        type:
          - "null"
          - object
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          kind:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
  tags:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      color:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
  teams:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      picture_url:
        type:
          - "null"
          - string
      users:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
  updates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      assets:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            created_at:
              type:
                - "null"
                - string
              format: date-time
            file_extension:
              type:
                - "null"
                - string
            file_size:
              type:
                - "null"
                - integer
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            original_geometry:
              type:
                - "null"
                - string
            public_url:
              type:
                - "null"
                - string
            uploaded_by:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - string
            url:
              type:
                - "null"
                - string
            url_thumbnail:
              type:
                - "null"
                - string
      body:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      creator_id:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      item_id:
        type:
          - "null"
          - string
      replies:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            body:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            creator_id:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            text_body:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
              format: date-time
      text_body:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      birthday:
        type:
          - "null"
          - string
        format: date-time
      country_code:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      email:
        type:
          - "null"
          - string
      enabled:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - string
      is_admin:
        type:
          - "null"
          - boolean
      is_guest:
        type:
          - "null"
          - boolean
      is_pending:
        type:
          - "null"
          - boolean
      is_verified:
        type:
          - "null"
          - boolean
      is_view_only:
        type:
          - "null"
          - boolean
      join_date:
        type:
          - "null"
          - string
        format: date
      location:
        type:
          - "null"
          - string
      mobile_phone:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      phone:
        type:
          - "null"
          - string
      photo_original:
        type:
          - "null"
          - string
      photo_small:
        type:
          - "null"
          - string
      photo_thumb:
        type:
          - "null"
          - string
      photo_thumb_small:
        type:
          - "null"
          - string
      photo_tiny:
        type:
          - "null"
          - string
      time_zone_identifier:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      url:
        type:
          - "null"
          - string
      utc_hours_diff:
        type:
          - "null"
          - integer
  workspaces:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      account_product:
        type:
          - "null"
          - object
        properties:
          id:
            type:
              - "null"
              - string
          kind:
            type:
              - "null"
              - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - "null"
          - string
      kind:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      owners_subscribers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
      settings:
        type:
          - "null"
          - object
        properties:
          icon:
            type:
              - "null"
              - object
            properties:
              color:
                type:
                  - "null"
                  - string
              image:
                type:
                  - "null"
                  - string
      state:
        type:
          - "null"
          - string
      team_owners_subscribers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
      teams_subscribers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
      users_subscribers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
  activity_logs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      board_id:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
      created_at_int:
        type:
          - "null"
          - integer
      data:
        type:
          - "null"
          - string
      entity:
        type:
          - "null"
          - string
      event:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      pulse_id:
        type:
          - "null"
          - integer
