version: 5.10.2

type: DeclarativeSource

description: Solves https://github.com/airbytehq/airbyte/issues/45995

check:
  type: CheckStream
  stream_names:
    - colors

definitions:
  streams:
    colors:
      type: DeclarativeStream
      name: colors
      primary_key:
        - calendar
        - event
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: colors
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/colors"
    settings:
      type: DeclarativeStream
      name: settings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users/me/settings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken') }}"
            stop_condition: "{{ response.get('nextPageToken') is not defined }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/settings"
    calendarlist:
      type: DeclarativeStream
      name: calendarlist
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users/me/calendarList
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken') }}"
            stop_condition: "{{ response.get('nextPageToken') is not defined }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calendarlist"
    calendars:
      type: DeclarativeStream
      name: calendars
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users/me/calendarList
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageToken
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('nextPageToken') }}"
            stop_condition: "{{ response.get('nextPageToken') is not defined }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calendars"
    events:
      type: StateDelegatingStream
      name: events
      # Google rejects updatedMin older than 29 days (410 updatedMinTooLongAgo, measured live);
      # 28 keeps a day of margin. With no saved cursor, or one older than 28 days, the stale state
      # is cleared and the full-refresh stream re-reads the calendar; otherwise the incremental
      # stream sends updatedMin from the saved cursor.
      api_retention_period: P28D
      full_refresh_stream:
        $ref: "#/definitions/events_stream_base"
        incremental_sync:
          $ref: "#/definitions/events_stream_base/incremental_sync"
          # A re-read cannot be bounded server-side past 29 days, so when start_date is set,
          # records modified before it are dropped client-side. Without start_date the cursor
          # starts at 2000-01-01 and nothing is dropped: recurring series are returned as one
          # record whose `updated` is the last edit of the series, so a default floor would drop
          # active series that have not been edited recently.
          is_client_side_incremental: true
      incremental_stream:
        $ref: "#/definitions/events_stream_base"
        retriever:
          $ref: "#/definitions/events_stream_base/retriever"
          requester:
            $ref: "#/definitions/events_stream_base/retriever/requester"
            request_parameters:
              showDeleted: "true"
              maxResults: "2500"
              singleEvents: "false"
              updatedMin: "{{ stream_slice['start_time'] }}"
  events_stream_base:
    type: DeclarativeStream
    name: events
    primary_key:
      - id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date') or '2000-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: calendars/{{ config['calendarid'] }}/events
        http_method: GET
        request_parameters:
          showDeleted: "true"
          maxResults: "2500"
          singleEvents: "false"
          # First sync (no saved cursor): honour a start_date within Google's 29-day window.
          updatedMin: "{{ stream_slice['start_time'] if config.get('start_date') and stream_slice['start_time'] > day_delta(-28, format='%Y-%m-%dT%H:%M:%S.%fZ') else '' }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: pageToken
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('nextPageToken') }}"
          stop_condition: "{{ response.get('nextPageToken') is not defined }}"
    transformations:
      - type: AddFields
        fields:
          - path:
              - calendar_id
            value: "{{ config['calendarid'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/events"
  base_requester:
    type: HttpRequester
    url_base: https://www.googleapis.com/calendar/v3/
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config['client_id'] }}"
      grant_type: refresh_token
      client_secret: "{{ config['client_secret'] }}"
      refresh_token: "{{ config['client_refresh_token_2'] }}"
      refresh_request_body: {}
      token_refresh_endpoint: https://oauth2.googleapis.com/token
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 5
          response_filters:
            - type: HttpResponseFilter
              http_codes:
                - 401
              action: FAIL
              failure_type: config_error
              error_message: "Google rejected the OAuth credentials for the Calendar API."
            - type: HttpResponseFilter
              predicate: "{{ 'rateLimitExceeded' in response.get('error', {}) | string or 'userRateLimitExceeded' in response.get('error', {}) | string }}"
              action: RATE_LIMITED
            - type: HttpResponseFilter
              # 403 usageLimits errors that do not clear within the sync (project or user quota).
              predicate: "{{ 'quotaExceeded' in response.get('error', {}) | string or 'dailyLimitExceeded' in response.get('error', {}) | string }}"
              action: FAIL
              failure_type: transient_error
              error_message: "The Google Calendar API quota for this project or user is exhausted. The sync will succeed once the quota resets; no configuration change is needed."
            - type: HttpResponseFilter
              http_codes:
                - 403
              action: FAIL
              failure_type: config_error
              error_message: "The authorized Google account lacks access to the configured calendar or the Calendar API is disabled."
            - type: HttpResponseFilter
              http_codes:
                - 404
              action: FAIL
              failure_type: config_error
              error_message: "The calendar configured in \"Calendar Id\" was not found by the Google Calendar API."
            - type: HttpResponseFilter
              http_codes:
                - 410
              action: FAIL
              failure_type: config_error
              error_message: "Google Calendar rejected the saved sync position of the events stream as older than 29 days. Reset the events stream to re-read the calendar."
            - type: HttpResponseFilter
              http_codes:
                - 429
              action: RATE_LIMITED
            - type: HttpResponseFilter
              http_codes:
                - 500
                - 502
                - 503
                - 504
              action: RETRY

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 10

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 500
          interval: PT1M
      matchers: []

streams:
  - $ref: "#/definitions/streams/colors"
  - $ref: "#/definitions/streams/settings"
  - $ref: "#/definitions/streams/calendarlist"
  - $ref: "#/definitions/streams/calendars"
  - $ref: "#/definitions/streams/events"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - client_refresh_token_2
      - calendarid
    properties:
      client_id:
        type: string
        order: 0
        title: Client ID
        description: The client ID of the Google Cloud OAuth 2.0 application used to access the Calendar API.
        airbyte_secret: true
      client_secret:
        type: string
        order: 1
        title: Client secret
        description: The client secret of the Google Cloud OAuth 2.0 application.
        airbyte_secret: true
      client_refresh_token_2:
        type: string
        order: 2
        title: Refresh token
        description: A refresh token obtained for the OAuth application with the Calendar API scope. It is exchanged for an access token at the start of every sync.
        airbyte_secret: true
      calendarid:
        type: string
        order: 3
        title: Calendar Id
        description: The ID of the calendar to sync events from, found in the calendar's settings in Google Calendar. Use 'primary' for the primary calendar.
      start_date:
        type: string
        order: 4
        title: Start date
        format: date-time
        description: Only sync events last modified on or after this date. Applies to the first sync in either sync mode and to every re-read after a reset; later incremental syncs fetch events modified since the saved cursor. When unset, all events are read. A recurring series counts as one event whose modification time is its last edit, so a start date also drops series that have not been edited since then. Google only filters server-side within the last 29 days; an older date is applied by the connector after download.
      num_workers:
        type: integer
        order: 5
        title: Number of concurrent workers
        description: The number of worker threads used to fetch data concurrently.
        minimum: 1
        maximum: 10
        default: 3
    additionalProperties: true


metadata:
  autoImportSchema:
    colors: true
    settings: true
    calendarlist: true
    calendars: true
    events: true
  testedStreams:
    colors:
      streamHash: 861414b167a55e3fbe46e2f2cee347da33929c29
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    settings:
      streamHash: 9e301eaba02ae69af80f85e3c417a8fd7f9ab9ed
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    calendarlist:
      streamHash: 20ff8ac9291587fb2bf1f7b427f9134d0ed613ee
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    calendars:
      streamHash: 9b3b805b81a4eefc192703ef94d4de0026a419be
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: b4e1338b1dad31efc8d7d131ca7ada091f3ca225
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.google.com/calendar/api/v3/reference

schemas:
  colors:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      calendar:
        type: object
        properties:
          "1":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "2":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "3":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "4":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "5":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "6":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "7":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "8":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "9":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "10":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "11":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "12":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "13":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "14":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "15":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "16":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "17":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "18":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "19":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "20":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "21":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "22":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "23":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "24":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
      event:
        type: object
        properties:
          "1":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "2":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "3":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "4":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "5":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "6":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "7":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "8":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "9":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "10":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
          "11":
            type:
              - object
              - "null"
            properties:
              background:
                type:
                  - string
                  - "null"
              foreground:
                type:
                  - string
                  - "null"
      kind:
        type:
          - string
          - "null"
      updated:
        type:
          - string
          - "null"
    required:
      - calendar
      - event
  settings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      etag:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      value:
        type:
          - string
          - "null"
    required:
      - id
  calendarlist:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      accessRole:
        type:
          - string
          - "null"
      backgroundColor:
        type:
          - string
          - "null"
      colorId:
        type:
          - string
          - "null"
      conferenceProperties:
        type:
          - object
          - "null"
        properties:
          allowedConferenceSolutionTypes:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      defaultReminders:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            method:
              type:
                - string
                - "null"
            minutes:
              type:
                - number
                - "null"
      etag:
        type:
          - string
          - "null"
      foregroundColor:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      notificationSettings:
        type:
          - object
          - "null"
        properties:
          notifications:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                method:
                  type:
                    - string
                    - "null"
      primary:
        type:
          - boolean
          - "null"
      selected:
        type:
          - boolean
          - "null"
      summary:
        type:
          - string
          - "null"
      timeZone:
        type:
          - string
          - "null"
    required:
      - id
  calendars:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      accessRole:
        type:
          - string
          - "null"
      backgroundColor:
        type:
          - string
          - "null"
      colorId:
        type:
          - string
          - "null"
      conferenceProperties:
        type:
          - object
          - "null"
        properties:
          allowedConferenceSolutionTypes:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      defaultReminders:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            method:
              type:
                - string
                - "null"
            minutes:
              type:
                - number
                - "null"
      etag:
        type:
          - string
          - "null"
      foregroundColor:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      notificationSettings:
        type:
          - object
          - "null"
        properties:
          notifications:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                method:
                  type:
                    - string
                    - "null"
      primary:
        type:
          - boolean
          - "null"
      selected:
        type:
          - boolean
          - "null"
      summary:
        type:
          - string
          - "null"
      timeZone:
        type:
          - string
          - "null"
    required:
      - id
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      anyoneCanAddSelf:
        type:
          - boolean
          - "null"
      attachments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            fileId:
              type:
                - string
                - "null"
            fileUrl:
              type:
                - string
                - "null"
            iconLink:
              type:
                - string
                - "null"
            mimeType:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
      calendar_id:
        type:
          - string
          - "null"
      attendees:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            comment:
              type:
                - string
                - "null"
            displayName:
              type:
                - string
                - "null"
            email:
              type:
                - string
                - "null"
            optional:
              type:
                - boolean
                - "null"
            organizer:
              type:
                - boolean
                - "null"
            resource:
              type:
                - boolean
                - "null"
            responseStatus:
              type:
                - string
                - "null"
            self:
              type:
                - boolean
                - "null"
      conferenceData:
        type:
          - object
          - "null"
        properties:
          conferenceId:
            type:
              - string
              - "null"
          conferenceSolution:
            type:
              - object
              - "null"
            properties:
              iconUri:
                type:
                  - string
                  - "null"
              key:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
              name:
                type:
                  - string
                  - "null"
          createRequest:
            type:
              - object
              - "null"
            properties:
              conferenceSolutionKey:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
              requestId:
                type:
                  - string
                  - "null"
              status:
                type:
                  - object
                  - "null"
                properties:
                  statusCode:
                    type:
                      - string
                      - "null"
          entryPoints:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                accessCode:
                  type:
                    - string
                    - "null"
                entryPointFeatures:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                entryPointType:
                  type:
                    - string
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                meetingCode:
                  type:
                    - string
                    - "null"
                passcode:
                  type:
                    - string
                    - "null"
                password:
                  type:
                    - string
                    - "null"
                pin:
                  type:
                    - string
                    - "null"
                regionCode:
                  type:
                    - string
                    - "null"
                uri:
                  type:
                    - string
                    - "null"
          notes:
            type:
              - string
              - "null"
          parameters:
            type:
              - object
              - "null"
            properties:
              addOnParameters:
                type:
                  - object
                  - "null"
                properties:
                  parameters:
                    type:
                      - object
                      - "null"
                    properties:
                      creatorUserId:
                        type:
                          - string
                          - "null"
                      meetingCreatedBy:
                        type:
                          - string
                          - "null"
                      meetingType:
                        type:
                          - string
                          - "null"
                      meetingUuid:
                        type:
                          - string
                          - "null"
                      originalEventId:
                        type:
                          - string
                          - "null"
                      realMeetingId:
                        type:
                          - string
                          - "null"
                      scriptId:
                        type:
                          - string
                          - "null"
      created:
        type:
          - string
          - "null"
      creator:
        type:
          - object
          - "null"
        properties:
          displayName:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          self:
            type:
              - boolean
              - "null"
      end:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          dateTime:
            type:
              - string
              - "null"
          timeZone:
            type:
              - string
              - "null"
      endTimeUnspecified:
        type:
          - boolean
          - "null"
      etag:
        type:
          - string
          - "null"
      eventType:
        type:
          - string
          - "null"
      extendedProperties:
        type:
          - object
          - "null"
        properties:
          shared:
            type:
              - object
              - "null"
            properties:
              meetingId:
                type:
                  - string
                  - "null"
              meetingParams:
                type:
                  - string
                  - "null"
              zmMeetingNum:
                type:
                  - string
                  - "null"
      guestsCanInviteOthers:
        type:
          - boolean
          - "null"
      guestsCanModify:
        type:
          - boolean
          - "null"
      guestsCanSeeOtherGuests:
        type:
          - boolean
          - "null"
      hangoutLink:
        type:
          - string
          - "null"
      htmlLink:
        type:
          - string
          - "null"
      iCalUID:
        type:
          - string
          - "null"
      id:
        type: string
      kind:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      organizer:
        type:
          - object
          - "null"
        properties:
          displayName:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          self:
            type:
              - boolean
              - "null"
      originalStartTime:
        type:
          - object
          - "null"
        properties:
          dateTime:
            type:
              - string
              - "null"
          timeZone:
            type:
              - string
              - "null"
      privateCopy:
        type:
          - boolean
          - "null"
      recurrence:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      recurringEventId:
        type:
          - string
          - "null"
      reminders:
        type:
          - object
          - "null"
        properties:
          useDefault:
            type:
              - boolean
              - "null"
      sequence:
        type:
          - number
          - "null"
      source:
        type:
          - object
          - "null"
        properties:
          title:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
      start:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          dateTime:
            type:
              - string
              - "null"
          timeZone:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      transparency:
        type:
          - string
          - "null"
      updated:
        type:
          - string
          - "null"
      visibility:
        type:
          - string
          - "null"
    required:
      - id
