version: 4.6.2

type: DeclarativeSource

description: >-
  Calendly source syncs your organization members, groups, available event
  types, and scheduled events from Calendly!

check:
  type: CheckStream
  stream_names:
    - event_types

definitions:
  streams:
    event_types:
      type: DeclarativeStream
      name: event_types
      primary_key:
        - uri
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /event_types
          http_method: GET
          request_parameters:
            sort: updated_at:desc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_token
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_page_token", {}) }}'
            stop_condition: >-
              {{ not response.get("pagination", {}).get("next_page_token", {})
              }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: current_organization
              request_option:
                type: RequestOption
                field_name: organization
                inject_into: request_parameter
              partition_field: organization_uri
              stream:
                $ref: "#/definitions/streams/api_user"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "2021-01-01"
          datetime_format: "%Y-%m-%d"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/event_types"
    api_user:
      type: DeclarativeStream
      name: api_user
      primary_key:
        - uri
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users/me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - resource
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/api_user"
    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - uri
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_token
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_page_token", {}) }}'
            stop_condition: >-
              {{ not response.get("pagination", {}).get("next_page_token", {})
              }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: current_organization
              request_option:
                type: RequestOption
                field_name: organization
                inject_into: request_parameter
              partition_field: organization_uri
              stream:
                $ref: "#/definitions/streams/api_user"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    organization_memberships:
      type: DeclarativeStream
      name: organization_memberships
      primary_key:
        - uri
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /organization_memberships
          http_method: GET
          request_parameters:
            sort: updated_at:desc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_token
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_page_token", {}) }}'
            stop_condition: >-
              {{ not response.get("pagination", {}).get("next_page_token", {})
              }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: current_organization
              request_option:
                type: RequestOption
                field_name: organization
                inject_into: request_parameter
              partition_field: organization_uri
              stream:
                $ref: "#/definitions/streams/api_user"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_memberships"
    scheduled_events:
      type: DeclarativeStream
      name: scheduled_events
      primary_key:
        - uri
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /scheduled_events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_token
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_page_token", {}) }}'
            stop_condition: >-
              {{ not response.get("pagination", {}).get("next_page_token", {})
              }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: current_organization
              request_option:
                type: RequestOption
                field_name: organization
                inject_into: request_parameter
              partition_field: organization_uri
              stream:
                $ref: "#/definitions/streams/api_user"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: min_start_time
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: max_start_time
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scheduled_events"
  base_requester:
    type: HttpRequester
    url_base: https://api.calendly.com
    authenticator:
      type: BearerAuthenticator
      api_token: '{{ config["api_key"] }}'

streams:
  - $ref: "#/definitions/streams/event_types"
  - $ref: "#/definitions/streams/api_user"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/organization_memberships"
  - $ref: "#/definitions/streams/scheduled_events"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          Go to Integrations → API & Webhooks to obtain your bearer token.
          https://calendly.com/integrations/api_webhooks
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    event_types: true
    api_user: true
    groups: true
    organization_memberships: true
    scheduled_events: true
  testedStreams:
    event_types:
      streamHash: c0727bebe9e5daa716428e3148cdcff6483e2aa8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    api_user:
      streamHash: 89616df9d5c615927a5b44f7bc9a68541928966f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    groups:
      streamHash: 0250844f83a715609adf5aa47606a6c18bcf4fd5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    organization_memberships:
      hasRecords: true
      streamHash: c76ba6b4c59702b70ca141f8a5929a45fb03244a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    scheduled_events:
      hasRecords: true
      streamHash: 94ce0e49c81af79ea6459f6aec3dc582dd56f301
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developer.calendly.com/api-docs/d7755e2f9e5fe-calendly-api

schemas:
  event_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      active:
        type:
          - boolean
          - "null"
      admin_managed:
        type:
          - boolean
          - "null"
      booking_method:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      custom_questions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            answer_choices:
              type:
                - array
                - "null"
            enabled:
              type:
                - boolean
                - "null"
            include_other:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
            position:
              type:
                - number
                - "null"
            required:
              type:
                - boolean
                - "null"
      description_html:
        type:
          - string
          - "null"
      description_plain:
        type:
          - string
          - "null"
      duration:
        type:
          - number
          - "null"
      kind:
        type:
          - string
          - "null"
      locations:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            kind:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      profile:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          owner:
            type:
              - string
              - "null"
      scheduling_url:
        type:
          - string
          - "null"
      secret:
        type:
          - boolean
          - "null"
      slug:
        type:
          - string
          - "null"
      updated_at:
        type: string
      uri:
        type: string
    required:
      - uri
      - updated_at
  api_user:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      avatar_url:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      current_organization:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      resource_type:
        type:
          - string
          - "null"
      scheduling_url:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      uri:
        type: string
    required:
      - uri
  groups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      member_count:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      uri:
        type: string
    required:
      - uri
  organization_memberships:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      uri:
        type: string
      user:
        type:
          - object
          - "null"
        properties:
          avatar_url:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          scheduling_url:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          uri:
            type:
              - string
              - "null"
    required:
      - uri
  scheduled_events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      calendar_event:
        type:
          - object
          - "null"
        properties:
          external_id:
            type:
              - string
              - "null"
          kind:
            type:
              - string
              - "null"
      cancellation:
        type:
          - object
          - "null"
        properties:
          canceled_by:
            type:
              - string
              - "null"
          canceler_type:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
      created_at:
        type:
          - string
          - "null"
      end_time:
        type:
          - string
          - "null"
      event_guests:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            created_at:
              type:
                - string
                - "null"
            email:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
      event_memberships:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            buffered_end_time:
              type:
                - string
                - "null"
            buffered_start_time:
              type:
                - string
                - "null"
            user:
              type:
                - string
                - "null"
            user_email:
              type:
                - string
                - "null"
            user_name:
              type:
                - string
                - "null"
      event_type:
        type:
          - string
          - "null"
      invitees_counter:
        type:
          - object
          - "null"
        properties:
          active:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
          total:
            type:
              - number
              - "null"
      location:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              extra:
                type:
                  - object
                  - "null"
                properties:
                  intl_numbers_url:
                    type:
                      - string
                      - "null"
              id:
                type:
                  - number
                  - "null"
              settings:
                type:
                  - object
                  - "null"
                properties:
                  global_dial_in_numbers:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        city:
                          type:
                            - string
                            - "null"
                        country:
                          type:
                            - string
                            - "null"
                        country_name:
                          type:
                            - string
                            - "null"
                        number:
                          type:
                            - string
                            - "null"
          join_url:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      start_time:
        type: string
      status:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      uri:
        type: string
    required:
      - uri
      - start_time
