version: 6.1.0

type: DeclarativeSource

description: >-
  The eBay connector  enables seamless data synchronization between eBay's
  platform and various data destinations, helping users extract eBay listings,
  orders, inventory, and marketing data in real time. It supports various eBay
  APIs, including the Inventory and Marketing APIs, allowing businesses to
  streamline operations, monitor sales, and analyze product performance
  efficiently.

check:
  type: CheckStream
  stream_names:
    - inventory_items

definitions:
  streams:
    inventory_items:
      type: DeclarativeStream
      name: inventory_items
      primary_key:
        - sku
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sell/inventory/v1/inventory_item
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - inventoryItems
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inventory_items"
    offers:
      type: DeclarativeStream
      name: offers
      primary_key:
        - offerId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sell/inventory/v1/offer
          http_method: GET
          request_parameters:
            sku: "{{ stream_partition.inventory_item }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - offers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sku
              partition_field: inventory_item
              stream:
                $ref: "#/definitions/streams/inventory_items"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/offers"
    violation_summary:
      type: DeclarativeStream
      name: violation_summary
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sell/compliance/v1/listing_violation_summary
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - violationSummaries
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/violation_summary"
    customer_service_metric:
      type: DeclarativeStream
      name: customer_service_metric
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /sell/analytics/v1/customer_service_metric/{{
            stream_partition["customer_service_metric_type"] }}/{{
            config['evaluation_type'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - dimensionMetrics
        partition_router:
          - type: ListPartitionRouter
            values:
              - ITEM_NOT_AS_DESCRIBED
              - ITEM_NOT_RECEIVED
            cursor_field: customer_service_metric_type
          - type: ListPartitionRouter
            values: "{{ config.evaluation_marketplace }}"
            cursor_field: evaluation_marketplace_id
            request_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: evaluation_marketplace_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_service_metric"
    order_tasks:
      type: DeclarativeStream
      name: order_tasks
      primary_key:
        - taskId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sell/feed/v1/order_task
          http_method: GET
          request_parameters:
            feed_type: LMS_ORDER_REPORT
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_tasks"
    inventory_tasks:
      type: DeclarativeStream
      name: inventory_tasks
      primary_key:
        - taskId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sell/feed/v1/inventory_task
          http_method: GET
          request_parameters:
            feed_type: LMS_ACTIVE_INVENTORY_REPORT
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 500
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inventory_tasks"
    charity_orgs:
      type: DeclarativeStream
      name: charity_orgs
      primary_key:
        - charityOrgId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /commerce/charity/v1/charity_org
          http_method: GET
          request_headers:
            X-EBAY-C-MARKETPLACE-ID: "{{ config[\"marketplace_id\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - charityOrgs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        partition_router:
          type: ListPartitionRouter
          values: "{{ config.charity_registration_ids }}"
          cursor_field: charity_org_id
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: registration_ids
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/charity_orgs"
    get_campaigns:
      type: DeclarativeStream
      name: get_campaigns
      primary_key:
        - campaignId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sell/marketing/v1/ad_campaign
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/get_campaigns"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['environment'] }}.ebay.com
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        url_base: https://{{config.environment}}.ebay.com/identity/v1/oauth2
        path: token
        authenticator:
          type: NoAuth
        http_method: POST
        request_parameters: {}
        request_headers:
          Content-Type: application/x-www-form-urlencoded
          Authorization: Basic {{ config['authorization_credentials'] }}
        request_body_data:
          grant_type: refresh_token
          refresh_token: "{{ config['refresh_token'] }}"
      session_token_path:
        - access_token
      request_authentication:
        type: Bearer

streams:
  - $ref: "#/definitions/streams/inventory_items"
  - $ref: "#/definitions/streams/offers"
  - $ref: "#/definitions/streams/violation_summary"
  - $ref: "#/definitions/streams/customer_service_metric"
  - $ref: "#/definitions/streams/order_tasks"
  - $ref: "#/definitions/streams/inventory_tasks"
  - $ref: "#/definitions/streams/charity_orgs"
  - $ref: "#/definitions/streams/get_campaigns"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - authorization_credentials
      - marketplace_id
      - refresh_token
      - evaluation_type
      - evaluation_marketplace
      - environment
    properties:
      authorization_credentials:
        type: string
        order: 0
        title: Authorization credentials
        airbyte_secret: true
      marketplace_id:
        type: string
        order: 1
        title: Marketplace Id
      refresh_token:
        type: string
        order: 2
        title: Refresh Token
        airbyte_secret: true
      evaluation_type:
        type: string
        order: 3
        title: Evaluation Type
      evaluation_marketplace:
        type: array
        order: 4
        title: Evaluation Marketplace
      environment:
        type: string
        enum:
          - api.sandbox
          - api
        order: 5
        title: Environment
      charity_registration_ids:
        type: array
        title: Charity Registration Ids
        order: 6
    additionalProperties: true

metadata:
  autoImportSchema:
    inventory_items: true
    offers: true
    violation_summary: true
    customer_service_metric: true
    order_tasks: true
    inventory_tasks: true
    charity_orgs: true
    get_campaigns: true
  testedStreams:
    inventory_items:
      streamHash: 8c34d172b9aff0e4bc68256e321fe250e1635126
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    offers:
      streamHash: 98d90f01a6ea6e5f38c1c207af26ee75a584b41a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    violation_summary:
      streamHash: 6bfbe9a0abcaf55aab3c3101a3525c10d6eb617f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customer_service_metric:
      streamHash: 3777bab23275751159250459a38861595034f5fe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    order_tasks:
      streamHash: 285d6f13d89c9ec98e42e2bc0e90a19f8861254e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    inventory_tasks:
      streamHash: 02d703486892cd734e183dd7f618bacae26ed91a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    charity_orgs:
      streamHash: 9572303a91023e9b38bd19ba6d987d2ea50e3b31
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    get_campaigns:
      streamHash: eda9792104fa9b619951c68dcbf5ee5c82e327e3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: >-
      https://developer.ebay.com/api-docs/static/gs_ebay-rest-getting-started-landing.html

schemas:
  inventory_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      availability:
        type:
          - object
          - "null"
        properties:
          shipToLocationAvailability:
            type:
              - object
              - "null"
            properties:
              quantity:
                type:
                  - number
                  - "null"
      condition:
        type:
          - string
          - "null"
      locale:
        type:
          - string
          - "null"
      product:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          aspects:
            type:
              - object
              - "null"
            properties:
              Brand:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Media Format:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Optical Zoom:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Recording Definition:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Storage Type:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Type:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          imageUrls:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          title:
            type:
              - string
              - "null"
      sku:
        type: string
    required:
      - sku
  offers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      availableQuantity:
        type:
          - number
          - "null"
      categoryId:
        type:
          - string
          - "null"
      format:
        type:
          - string
          - "null"
      hideBuyerDetails:
        type:
          - boolean
          - "null"
      includeCatalogProductDetails:
        type:
          - boolean
          - "null"
      listingDescription:
        type:
          - string
          - "null"
      listingDuration:
        type:
          - string
          - "null"
      listingPolicies:
        type:
          - object
          - "null"
        properties:
          eBayPlusIfEligible:
            type:
              - boolean
              - "null"
      marketplaceId:
        type:
          - string
          - "null"
      offerId:
        type: string
      pricingSummary:
        type:
          - object
          - "null"
        properties:
          price:
            type:
              - object
              - "null"
            properties:
              currency:
                type:
                  - string
                  - "null"
              value:
                type:
                  - string
                  - "null"
      quantityLimitPerBuyer:
        type:
          - number
          - "null"
      sku:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tax:
        type:
          - object
          - "null"
        properties:
          applyTax:
            type:
              - boolean
              - "null"
    required:
      - offerId
  violation_summary:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      complianceType:
        type:
          - string
          - "null"
      listingCount:
        type:
          - number
          - "null"
      marketplaceId:
        type:
          - string
          - "null"
  customer_service_metric:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      dimension:
        type:
          - object
          - "null"
        properties:
          dimensionKey:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      metrics:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            benchmark:
              type:
                - object
                - "null"
              properties:
                metadata:
                  type:
                    - object
                    - "null"
                  properties:
                    average:
                      type:
                        - string
                        - "null"
                basis:
                  type:
                    - string
                    - "null"
                rating:
                  type:
                    - string
                    - "null"
            distributions:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  basis:
                    type:
                      - string
                      - "null"
                  data:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        name:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
            metricKey:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
  order_tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      completionDate:
        type:
          - string
          - "null"
      creationDate:
        type:
          - string
          - "null"
      detailHref:
        type:
          - string
          - "null"
      feedType:
        type:
          - string
          - "null"
      filterCriteria:
        type:
          - object
          - "null"
        properties:
          creationDateRange:
            type:
              - object
              - "null"
            properties:
              from:
                type:
                  - string
                  - "null"
              to:
                type:
                  - string
                  - "null"
          orderStatus:
            type:
              - string
              - "null"
      schemaVersion:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      taskId:
        type: string
    required:
      - taskId
  inventory_tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      completionDate:
        type:
          - string
          - "null"
      creationDate:
        type:
          - string
          - "null"
      detailHref:
        type:
          - string
          - "null"
      feedType:
        type:
          - string
          - "null"
      schemaVersion:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      taskId:
        type: string
    required:
      - taskId
  charity_orgs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      charityOrgId:
        type: string
      location:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - object
              - "null"
            properties:
              city:
                type:
                  - string
                  - "null"
              postalCode:
                type:
                  - string
                  - "null"
              stateOrProvince:
                type:
                  - string
                  - "null"
          geoCoordinates:
            type:
              - object
              - "null"
            properties:
              latitude:
                type:
                  - number
                  - "null"
              longitude:
                type:
                  - number
                  - "null"
      logoImage:
        type:
          - object
          - "null"
        properties:
          imageUrl:
            type:
              - string
              - "null"
      missionStatement:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      registrationId:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
    required:
      - charityOrgId
  get_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      campaignId:
        type: string
      campaignName:
        type:
          - string
          - "null"
      campaignStatus:
        type:
          - string
          - "null"
      fundingStrategy:
        type:
          - object
          - "null"
        properties:
          adRateStrategy:
            type:
              - string
              - "null"
          bidPercentage:
            type:
              - string
              - "null"
          fundingModel:
            type:
              - string
              - "null"
      marketplaceId:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
    required:
      - campaignId
