version: 6.48.15

type: DeclarativeSource

description: Conector API Eduzz

check:
  type: CheckStream
  stream_names:
    - "Accounts: Geral"

definitions:
  streams:
    "Accounts: Geral":
      type: DeclarativeStream
      name: "Accounts: Geral"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/v1/me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Accounts: Geral"
    "MyEduzz: Vendas":
      type: DeclarativeStream
      name: "MyEduzz: Vendas"
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /myeduzz/v1/sales
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: itemsPerPage
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startDate
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: endDate
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/MyEduzz: Vendas"
    "MyEduzz: Assinaturas":
      type: DeclarativeStream
      name: "MyEduzz: Assinaturas"
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /myeduzz/v1/subscriptions
          http_method: GET
          request_parameters:
            filterBy: update
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: itemsPerPage
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startDate
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: endDate
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/MyEduzz: Assinaturas"
    "MyEduzz: Produtos":
      type: DeclarativeStream
      name: "MyEduzz: Produtos"
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /myeduzz/v1/products
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: itemsPerPage
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startDate
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: endDate
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/MyEduzz: Produtos"
  base_requester:
    type: HttpRequester
    url_base: https://api.eduzz.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/Accounts: Geral"
  - $ref: "#/definitions/streams/MyEduzz: Vendas"
  - $ref: "#/definitions/streams/MyEduzz: Assinaturas"
  - $ref: "#/definitions/streams/MyEduzz: Produtos"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    "Accounts: Geral": true
    "MyEduzz: Vendas": true
    "MyEduzz: Assinaturas": true
    "MyEduzz: Produtos": true
  testedStreams:
    "Accounts: Geral":
      streamHash: ba78c02ba1c88862533d4e6a6e61b8e181360680
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    "MyEduzz: Vendas":
      streamHash: 3dc5dba60546d4166d4055a88c0dbd61c0aeb624
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    "MyEduzz: Assinaturas":
      streamHash: 5874ba571c3b793e8bc5ab98c59602e92aab144b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    "MyEduzz: Produtos":
      streamHash: 2d512b0fd819f31b8e8da9837a94350041379df1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  "Accounts: Geral":
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
  "MyEduzz: Vendas":
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      affiliate:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      affiliatesGain:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      alumyFee:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      buyer:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - object
              - "null"
            properties:
              city:
                type:
                  - string
                  - "null"
              complement:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              ibgeCode:
                type:
                  - number
                  - "null"
              neighborhood:
                type:
                  - string
                  - "null"
              number:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              street:
                type:
                  - string
                  - "null"
              zipCode:
                type:
                  - string
                  - "null"
          document:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
      contractId:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      creditDate:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      fee:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      grossGain:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      id:
        type: string
      installments:
        type:
          - number
          - "null"
      isInfiniteFunnel:
        type:
          - boolean
          - "null"
      locale:
        type:
          - string
          - "null"
      netGain:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      others:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      paidAt:
        type:
          - string
          - "null"
      partnersGain:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      paymentMethod:
        type:
          - string
          - "null"
      producer:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      product:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          billingType:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      recipient:
        type:
          - object
          - "null"
        properties:
          document:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
      recoveringStatus:
        type:
          - string
          - "null"
      refund:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          partialValue:
            type:
              - object
              - "null"
            properties:
              currency:
                type:
                  - string
                  - "null"
              value:
                type:
                  - number
                  - "null"
          refundedAt:
            type:
              - string
              - "null"
          value:
            type:
              - object
              - "null"
            properties:
              currency:
                type:
                  - string
                  - "null"
              value:
                type:
                  - number
                  - "null"
      status:
        type:
          - string
          - "null"
      total:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      totalInterest:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      updatedAt:
        type: string
      utm:
        type:
          - object
          - "null"
        properties:
          campaign:
            type:
              - string
              - "null"
          content:
            type:
              - string
              - "null"
          medium:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
    required:
      - id
      - updatedAt
  "MyEduzz: Assinaturas":
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      charges:
        type:
          - object
          - "null"
        properties:
          current:
            type:
              - number
              - "null"
          negotiated:
            type:
              - number
              - "null"
          paid:
            type:
              - number
              - "null"
          pending:
            type:
              - number
              - "null"
          total:
            type:
              - number
              - "null"
      client:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - object
              - "null"
            properties:
              areaCode:
                type:
                  - string
                  - "null"
              countryCode:
                type:
                  - string
                  - "null"
              number:
                type:
                  - string
                  - "null"
      createdAt:
        type:
          - string
          - "null"
      firstInvoiceId:
        type:
          - string
          - "null"
      hasNegotiation:
        type:
          - boolean
          - "null"
      id:
        type: string
      interruption:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          origin:
            type:
              - string
              - "null"
          previousStatus:
            type:
              - string
              - "null"
          reason:
            type:
              - string
              - "null"
          removeAccessDate:
            type:
              - string
              - "null"
          responsible:
            type:
              - string
              - "null"
      isFinite:
        type:
          - boolean
          - "null"
      isUnlimitedInstallments:
        type:
          - boolean
          - "null"
      payment:
        type:
          - object
          - "null"
        properties:
          installments:
            type:
              - number
              - "null"
          method:
            type:
              - string
              - "null"
          price:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
      products:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            deliveries:
              type:
                - array
                - "null"
            hasMembershipFee:
              type:
                - boolean
                - "null"
            id:
              type:
                - string
                - "null"
            membershipFee:
              type:
                - object
                - "null"
              properties:
                currency:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
            title:
              type:
                - string
                - "null"
      recurrence:
        type:
          - object
          - "null"
        properties:
          currentDue:
            type:
              - string
              - "null"
          frequency:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              value:
                type:
                  - number
                  - "null"
          startsAt:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      updatedAt:
        type: string
    required:
      - id
      - updatedAt
  "MyEduzz: Produtos":
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      author:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      fileId:
        type:
          - string
          - "null"
      id:
        type: string
      imageUrl:
        type:
          - string
          - "null"
      moderation:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      payment:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          methods:
            type:
              - object
              - "null"
            properties:
              bankslip:
                type:
                  - boolean
                  - "null"
              card:
                type:
                  - boolean
                  - "null"
              multipleCards:
                type:
                  - boolean
                  - "null"
              pix:
                type:
                  - boolean
                  - "null"
          price:
            type:
              - object
              - "null"
            properties:
              currency:
                type:
                  - string
                  - "null"
              value:
                type:
                  - number
                  - "null"
      producerId:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updatedAt:
        type: string
    required:
      - id
      - updatedAt
