# For Low code Connector builder
version: 4.6.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names: []

definitions:
  streams: {}
  base_requester:
    type: HttpRequester
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['username'] }}"
      password: "{{ config['password'] }}"

streams:
  - name: clusters
    type: DeclarativeStream
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema: {}
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        url_base: "{{ config['base_url'] }}"
        path: "/pools/default"
        http_method: GET
        request_options_provider:
          type: RequestOptionsProvider
          request_parameters: {}
          request_headers: {}
          request_body_json: {}
          request_body_data: {}
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"

  - name: nodes
    type: DeclarativeStream
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema: {}
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        url_base: "{{ config['base_url'] }}"
        path: "/pools/default/nodes"
        http_method: GET
        request_options_provider:
          type: RequestOptionsProvider
          request_parameters: {}
          request_headers: {}
          request_body_json: {}
          request_body_data: {}
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - base_url
    properties:
      username:
        type: string
        title: Username
        order: 0
      password:
        type: string
        title: Password
        always_show: true
        airbyte_secret: true
        order: 1
      base_url:
        type: string
        title: Base URL
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema: {}
  testedStreams: {}
  assist: {}

schemas: {}