{
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/ban-ts-comment": [
      "warn",
      {
        "ts-ignore": "allow-with-description",
        "ts-expect-error": "allow-with-description"
      }
    ],
    "@typescript-eslint/ban-types": [
      "warn"
    ]
  },
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["scripts/**/*"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
