{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-css-modules",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "selector-class-pattern": null,
    "color-function-notation": null,
    "font-family-name-quotes": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/dollar-variable-pattern": ".*",
    "value-keyword-case": null
  },
  "ignoreFiles": ["**/build/**", "**/dist/**"]
}
