{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-css-modules",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
    "color-function-notation": null,
    "font-family-name-quotes": null,
    "no-unknown-animations": true,
    "custom-property-empty-line-before": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/dollar-variable-pattern": null,
    "scss/percent-placeholder-pattern": null,
    "value-keyword-case": null,
    "color-no-hex": true,
    "airbyte/no-color-variables-in-rgba": true,
    "airbyte/no-use-renaming": true
  },
  "ignoreFiles": ["**/build/**", "**/dist/**"],
  "plugins": ["./packages/stylelint-plugin/index.js"]
}
