version: 6.4.0

type: DeclarativeSource

description: >-
  Upstox is a leading online brokerage platform in India that offers a seamless
  way to trade and invest in stocks, commodities, currencies, and mutual funds.
  Known for its user-friendly interface and affordable pricing, Upstox provides
  advanced charting tools, real-time market data, and analytics to help
  investors and traders make informed decisions.

check:
  type: CheckStream
  stream_names:
    - marketholidays

definitions:
  streams:
    intradaycandle:
      type: DeclarativeStream
      name: intradaycandle
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            historical-candle/intraday/{{ stream_partition.instrument }}/{{
            config['interval'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: ListPartitionRouter
          values: "{{ config['instrumentKey'] }}"
          cursor_field: instrument
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/intradaycandle"
    marketholidays:
      type: DeclarativeStream
      name: marketholidays
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: market/holidays
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - date
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/marketholidays"
    historicalcandle:
      type: DeclarativeStream
      name: historicalcandle
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            historical-candle/{{  stream_partition.instrument }}/{{
            config['interval'] }}/{{ config['to_date'] }}/{{ config['from_date']
            }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: ListPartitionRouter
          values: "{{ config['instrumentKey'] }}"
          cursor_field: instrument
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/historicalcandle"
  base_requester:
    type: HttpRequester
    url_base: https://api.upstox.com/v2/

streams:
  - $ref: "#/definitions/streams/marketholidays"
  - $ref: "#/definitions/streams/historicalcandle"
  - $ref: "#/definitions/streams/intradaycandle"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - instrumentKey
      - to_date
      - from_date
      - interval
    properties:
      to_date:
        type: string
        order: 1
        title: to_date
      interval:
        type: string
        order: 3
        title: interval
      from_date:
        type: string
        order: 2
        title: from_date
      instrumentKey:
        type: array
        order: 0
        title: instrumentKey
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://upstox.com/developer/api-documentation
  testedStreams:
    intradaycandle:
      hasRecords: true
      streamHash: 9a32e6095698933fd92cc4f76e5c5d54e9c30435
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    marketholidays:
      hasRecords: true
      streamHash: 737d42fdb272bf32409d14eaa3a07fa0270b2789
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    historicalcandle:
      hasRecords: true
      streamHash: 95fd693d156fb4443fdccc22fe41d8aa832fd945
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    intradaycandle: false
    marketholidays: true
    historicalcandle: false

schemas:
  intradaycandle:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          candles:
            type:
              - array
              - "null"
      status:
        type:
          - string
          - "null"
    additionalProperties: true
  marketholidays:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
    properties:
      description:
        type:
          - string
          - "null"
      date:
        type: string
      holiday_type:
        type:
          - string
          - "null"
      open_exchanges:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            end_time:
              type:
                - number
                - "null"
            exchange:
              type:
                - string
                - "null"
            start_time:
              type:
                - number
                - "null"
      closed_exchanges:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    additionalProperties: true
  historicalcandle:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      candles:
        type:
          - array
          - "null"
        items:
          type:
            - array
            - "null"
          items:
            type:
              - number
              - string
              - "null"
    additionalProperties: true
