version: 5.15.0

type: DeclarativeSource

description: upstox source

check:
  type: CheckStream
  stream_names:
    - marketholidays

definitions:
  streams:
    marketholidays:
      type: DeclarativeStream
      name: marketholidays
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: market/holidays
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/marketholidays"
  base_requester:
    type: HttpRequester
    url_base: https://api.upstox.com/v2/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/marketholidays"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    marketholidays: true
  testedStreams:
    marketholidays:
      streamHash: 7c983e3c26ee6715cc84933553846bb0201197b3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://upstox.com/developer/api-documentation

schemas:
  marketholidays:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            closed_exchanges:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            date:
              type:
                - string
                - "null"
            holiday_type:
              type:
                - string
                - "null"
            open_exchanges:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  end_time:
                    type:
                      - number
                      - "null"
                  exchange:
                    type:
                      - string
                      - "null"
                  start_time:
                    type:
                      - number
                      - "null"
      status:
        type:
          - string
          - "null"
