version: 0.79.1
type: DeclarativeSource

definitions:
  # Authenticator
  authenticator:
    type: OAuthAuthenticator
    client_id: "{{ config['client_id'] }}"
    client_secret: "{{ config['client_secret'] }}"
    token_refresh_endpoint: "{{ config['domain_url'] }}/identity/oauth/token"
    grant_type: client_credentials

  # Requester
  requester:
    type: HttpRequester
    url_base: "{{ config['domain_url'].rstrip('/') }}/"
    authenticator: "#/definitions/authenticator"
    http_method: GET
    error_handler:
      type: DefaultErrorHandler
      response_filters:
        - type: HttpResponseFilter
          action: FAIL
          http_codes: [400, 403]
          error_message: Unable to connect to Marketo API with the provided credentials

  # Selector
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["result"]

  # Paginators
  cursor_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('nextPageToken') }}"
      page_size: 300
    page_size_option:
      type: RequestOption
      field_name: "batchSize"
      inject_into: request_parameter
    page_token_option:
      type: RequestOption
      field_name: "nextPageToken"
      inject_into: request_parameter

  offset_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: OffsetIncrement
      page_size: 200
    page_size_option:
      type: RequestOption
      field_name: "batchSize"
      inject_into: request_parameter
    page_token_option:
      type: RequestOption
      field_name: "offset"
      inject_into: request_parameter

  # Retrievers
  base_retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator: "#/definitions/cursor_paginator"

  # Base streams
  base_full_refresh_stream:
    type: DeclarativeStream
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_marketo/schemas/{{ parameters['name'] }}.json"
    primary_key: "id"
    retriever: "#/definitions/base_retriever"

  base_semi_incremental_stream:
    $ref: "#/definitions/base_full_refresh_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "createdAt"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime: "{{ config['start_date'] }}"
      is_client_side_incremental: true

  base_incremental_stream:
    $ref: "#/definitions/base_full_refresh_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updatedAt"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime: "{{ config['start_date'] }}"
      end_datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')) }}"
      cursor_granularity: "PT1S"
      step: "P{{ config.get('window_in_days', 30) }}D"
      start_time_option:
        type: RequestOption
        field_name: "earliestUpdatedAt"
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: "latestUpdatedAt"
        inject_into: request_parameter

  # Full refresh streams
  activity_types_stream:
    # API Docs: https://developers.marketo.com/rest-api/lead-database/activities/#describe
    name: "activity_types"
    $ref: "#/definitions/base_full_refresh_stream"
    $parameters:
      name: "activity_types"
      path: "rest/v1/activities/types.json"

  segmentations_stream:
    # API Docs: https://developers.marketo.com/rest-api/endpoint-reference/asset-endpoint-reference/#!/Segments/getSegmentationUsingGET
    name: "segmentations"
    $ref: "#/definitions/base_full_refresh_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator: "#/definitions/offset_paginator"
    $parameters:
      name: "segmentations"
      path: "rest/asset/v1/segmentation.json"

  # Semi-Incremental streams
  campaigns_stream:
    # API Docs: https://developers.marketo.com/rest-api/endpoint-reference/lead-database-endpoint-reference/#!/Campaigns/getCampaignsUsingGET
    name: "campaigns"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      name: "campaigns"
      path: "rest/v1/campaigns.json"

  lists_stream:
    # API Docs: https://developers.marketo.com/rest-api/endpoint-reference/lead-database-endpoint-reference/#!/Static_Lists/getListsUsingGET
    name: "lists"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      name: "lists"
      path: "rest/v1/lists.json"

  # Incremental streams
  programs_stream:
    # API Docs: https://developers.marketo.com/rest-api/assets/programs/#by_date_range
    name: "programs"
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/offset_paginator"
        page_size_option:
          type: RequestOption
          field_name: "maxReturn"
          inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["createdAt"]
            value: "{{ format_datetime(record['createdAt'].replace('Z',''), '%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: ["updatedAt"]
            value: "{{ format_datetime(record['updatedAt'].replace('Z',''), '%Y-%m-%dT%H:%M:%SZ') }}"
    $parameters:
      name: "programs"
      path: "rest/asset/v1/programs.json"

  emails_stream:
    # API Docs: https://experienceleague.adobe.com/en/docs/marketo-developer/marketo/rest/assets/emails
    name: "emails"
    $ref: "#/definitions/base_incremental_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/offset_paginator"
        page_size_option:
          type: RequestOption
          field_name: "maxReturn"
          inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["createdAt"]
            value: "{{ format_datetime(record['createdAt'].replace('Z',''), '%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: ["updatedAt"]
            value: "{{ format_datetime(record['updatedAt'].replace('Z',''), '%Y-%m-%dT%H:%M:%SZ') }}"
    $parameters:
      name: "emails"
      path: "rest/asset/v1/emails.json"

  program_tokens_stream:
    # API Docs: https://experienceleague.adobe.com/en/docs/marketo-developer/marketo/rest/assets/tokens
    name: "program_tokens"
    type: DeclarativeStream
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_marketo/schemas/program_tokens.json"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["result", "*", "tokens", "*"]
      requester:
        $ref: "#/definitions/requester"
        path: "rest/asset/v1/folder/{{ stream_partition['program_id'] }}/tokens.json"
        request_parameters:
          folderType: "Program"
      paginator:
        type: NoPagination
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            partition_field: "program_id"
            stream: "#/definitions/programs_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["program_id"]
            value: "{{ stream_partition['program_id'] }}"

  # -----------------------------------------------------------------------
  # Bulk export streams (Leads + Activities) using AsyncRetriever
  # -----------------------------------------------------------------------

  # Leads bulk export stream
  # API Docs: https://developers.marketo.com/rest-api/bulk-extract/bulk-lead-extract/
  leads_stream:
    type: DeclarativeStream
    name: "leads"
    primary_key: "id"
    schema_loader:
      type: CustomSchemaLoader
      class_name: components.MarketoLeadsSchemaLoader
    retriever:
      type: AsyncRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      status_mapping:
        type: AsyncJobStatusMap
        running:
          - "Queued"
          - "Processing"
        completed:
          - "Completed"
        failed:
          - "Cancelled"
          - "Canceled"
          - "Failed"
        timeout: []
      status_extractor:
        type: DpathExtractor
        field_path:
          - "result"
          - "0"
          - "status"
      download_target_extractor:
        type: DpathExtractor
        field_path:
          - "result"
          - "0"
          - "exportId"
      creation_requester:
        type: CustomRequester
        class_name: components.MarketoBulkExportCreationRequester
        create_requester:
          type: HttpRequester
          url_base: "{{ config['domain_url'].rstrip('/') }}/"
          path: "bulk/v1/leads/export/create.json"
          http_method: POST
          authenticator: "#/definitions/authenticator"
          error_handler:
            type: DefaultErrorHandler
            max_retries: 3
          $parameters:
            name: "leads_create"
        enqueue_requester:
          type: HttpRequester
          url_base: "{{ config['domain_url'].rstrip('/') }}/"
          path: "bulk/v1/leads/export/{{ stream_slice.extra_fields['export_id'] }}/enqueue.json"
          http_method: POST
          authenticator: "#/definitions/authenticator"
          $parameters:
            name: "leads_enqueue"
        include_fields_from_describe: "true"
      polling_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/leads/export/{{ creation_response['result'][0]['exportId'] }}/status.json"
        http_method: GET
        authenticator: "#/definitions/authenticator"
      download_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/leads/export/{{ creation_response['result'][0]['exportId'] }}/file.json"
        http_method: GET
        authenticator: "#/definitions/authenticator"
      download_decoder:
        type: CustomDecoder
        class_name: components.MarketoCsvDecoder
      polling_job_timeout: 240
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updatedAt"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime: "{{ config['start_date'] }}"
      end_datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')) }}"
      cursor_granularity: "PT1S"
      step: "P{{ config.get('window_in_days', 30) }}D"
    transformations:
      - type: CustomTransformation
        class_name: components.MarketoRecordTransformation
        schema_loader:
          type: CustomSchemaLoader
          class_name: components.MarketoLeadsSchemaLoader

  # Activities bulk export stream template (used by DynamicDeclarativeStream)
  # API Docs: https://developers.marketo.com/rest-api/bulk-extract/bulk-activity-extract/
  activities_stream_template:
    type: DeclarativeStream
    name: "placeholder_activity_stream"
    primary_key: "marketoGUID"
    schema_loader:
      type: CustomSchemaLoader
      class_name: components.MarketoActivitySchemaLoader
      activity_attributes: "placeholder_attributes"
    retriever:
      type: AsyncRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      status_mapping:
        type: AsyncJobStatusMap
        running:
          - "Queued"
          - "Processing"
        completed:
          - "Completed"
        failed:
          - "Cancelled"
          - "Canceled"
          - "Failed"
        timeout: []
      status_extractor:
        type: DpathExtractor
        field_path:
          - "result"
          - "0"
          - "status"
      download_target_extractor:
        type: DpathExtractor
        field_path:
          - "result"
          - "0"
          - "exportId"
      creation_requester:
        type: CustomRequester
        class_name: components.MarketoBulkExportCreationRequester
        activity_type_id: "placeholder_activity_type_id"
        create_requester:
          type: HttpRequester
          url_base: "{{ config['domain_url'].rstrip('/') }}/"
          path: "bulk/v1/activities/export/create.json"
          http_method: POST
          authenticator: "#/definitions/authenticator"
          error_handler:
            type: DefaultErrorHandler
            max_retries: 3
          $parameters:
            name: "activities_create"
        enqueue_requester:
          type: HttpRequester
          url_base: "{{ config['domain_url'].rstrip('/') }}/"
          path: "bulk/v1/activities/export/{{ stream_slice.extra_fields['export_id'] }}/enqueue.json"
          http_method: POST
          authenticator: "#/definitions/authenticator"
          $parameters:
            name: "activities_enqueue"
      polling_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/activities/export/{{ creation_response['result'][0]['exportId'] }}/status.json"
        http_method: GET
        authenticator: "#/definitions/authenticator"
      download_requester:
        type: HttpRequester
        url_base: "{{ config['domain_url'].rstrip('/') }}/"
        path: "bulk/v1/activities/export/{{ creation_response['result'][0]['exportId'] }}/file.json"
        http_method: GET
        authenticator: "#/definitions/authenticator"
      download_decoder:
        type: CustomDecoder
        class_name: components.MarketoCsvDecoder
      polling_job_timeout: 240
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "activityDate"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime: "{{ config['start_date'] }}"
      end_datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')) }}"
      cursor_granularity: "PT1S"
      step: "P{{ config.get('window_in_days', 30) }}D"
    transformations:
      - type: CustomTransformation
        class_name: components.MarketoRecordTransformation
        schema_loader:
          type: CustomSchemaLoader
          class_name: components.MarketoActivitySchemaLoader
          activity_attributes: "placeholder_attributes"

streams:
  # Full refresh streams
  - "#/definitions/activity_types_stream"
  - "#/definitions/segmentations_stream"

  # Semi-Incremental streams
  - "#/definitions/campaigns_stream"
  - "#/definitions/lists_stream"

  # Incremental streams
  - "#/definitions/programs_stream"
  - "#/definitions/emails_stream"

  # Substreams
  - "#/definitions/program_tokens_stream"

  # Bulk export streams
  - "#/definitions/leads_stream"

dynamic_streams:
  - type: DynamicDeclarativeStream
    stream_template:
      $ref: "#/definitions/activities_stream_template"
    components_resolver:
      type: HttpComponentsResolver
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/requester"
          path: "rest/v1/activities/types.json"
          http_method: GET
        record_selector:
          $ref: "#/definitions/selector"
        paginator:
          $ref: "#/definitions/cursor_paginator"
      components_mapping:
        - type: ComponentMappingDefinition
          field_path:
            - name
          value: "activities_{{ components_values['name'] | lower | replace(' ', '_') }}"
        - type: ComponentMappingDefinition
          field_path:
            - schema_loader
            - activity_attributes
          value: "{{ components_values.get('attributes', []) | tojson }}"
        - type: ComponentMappingDefinition
          field_path:
            - transformations
            - "0"
            - schema_loader
            - activity_attributes
          value: "{{ components_values.get('attributes', []) | tojson }}"
        - type: ComponentMappingDefinition
          field_path:
            - retriever
            - creation_requester
            - activity_type_id
          value: "{{ components_values['id'] }}"

check:
  type: CheckStream
  stream_names:
    - programs
