version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://open-platform.theguardian.com/
  API Reference: https://open-platform.theguardian.com/documentation/

check:
  type: CheckStream
  stream_names:
    - content

definitions:
  streams:
    content:
      type: DeclarativeStream
      name: content
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: body_data
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: CustomPaginationStrategy
            page_size: 10
            class_name: source_declarative_manifest.components.CustomPageIncrement
        requester:
          $ref: "#/definitions/base_requester"
          path: /search
          http_method: GET
          request_parameters:
            q: "{{ config['query'] }}"
            tag: "{{ config['tag'] }}"
            api-key: "{{ config['api_key'] }}"
            section: "{{ config['section'] }}"
            order-by: oldest
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - results
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/content"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P7D
        cursor_field: webPublicationDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] or now_utc().strftime('%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_time_option:
          type: RequestOption
          field_name: to-date
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: from-date
          inject_into: request_parameter
        cursor_granularity: PT1S
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
  base_requester:
    type: HttpRequester
    url_base: https://content.guardianapis.com

streams:
  - $ref: "#/definitions/streams/content"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      tag:
        type: string
        description: >-
          (Optional) A tag is a piece of data that is used by The Guardian to
          categorise content. Use this parameter to filter results by showing
          only the ones matching the entered tag. See <a
          href="https://content.guardianapis.com/tags?api-key=test">here</a> for
          a list of all tags, and <a
          href="https://open-platform.theguardian.com/documentation/tag">here</a>
          for the tags endpoint documentation.
        order: 0
        title: Tag
        examples:
          - environment/recycling
          - environment/plasticbags
          - environment/energyefficiency
      query:
        type: string
        description: >-
          (Optional) The query (q) parameter filters the results to only those
          that include that search term. The q parameter supports AND, OR and
          NOT operators.
        order: 1
        title: Query
        examples:
          - environment AND NOT water
          - environment AND political
          - amusement park
          - political
      api_key:
        type: string
        description: >-
          Your API Key. See <a
          href="https://open-platform.theguardian.com/access/">here</a>. The key
          is case sensitive.
        order: 2
        title: API Key
        airbyte_secret: true
      section:
        type: string
        description: >-
          (Optional) Use this to filter the results by a particular section. See
          <a
          href="https://content.guardianapis.com/sections?api-key=test">here</a>
          for a list of all sections, and <a
          href="https://open-platform.theguardian.com/documentation/section">here</a>
          for the sections endpoint documentation.
        order: 3
        title: Section
        examples:
          - media
          - technology
          - housing-network
      end_date:
        type: string
        description: >-
          (Optional) Use this to set the maximum date (YYYY-MM-DD) of the
          results. Results newer than the end_date will not be shown. Default is
          set to the current date (today) for incremental syncs.
        order: 4
        title: End Date
        pattern: ^([1-9][0-9]{3})\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$
        examples:
          - YYYY-MM-DD
      start_date:
        type: string
        description: >-
          Use this to set the minimum date (YYYY-MM-DD) of the results. Results
          older than the start_date will not be shown.
        order: 5
        title: Start Date
        pattern: ^([1-9][0-9]{3})\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$
        examples:
          - YYYY-MM-DD
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    content:
      hasRecords: true
      streamHash: 42367479876486b61ffefebbbe8bd86c341dc6d2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    content: false

schemas:
  content:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    required:
      - id
      - type
      - sectionId
      - sectionName
      - webPublicationDate
      - webTitle
      - webUrl
      - apiUrl
      - isHosted
      - pillarId
      - pillarName
    properties:
      type:
        type: string
      id:
        type: string
      apiUrl:
        type: string
      webUrl:
        type: string
      isHosted:
        type: boolean
      pillarId:
        type: string
      webTitle:
        type: string
      sectionId:
        type: string
      pillarName:
        type: string
      sectionName:
        type: string
      webPublicationDate:
        type: string
    additionalProperties: true
